---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8232ffa9-9180-4d1f-9aed-fb95167b6063
    method: GET
  response:
    body: '{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"data-test-lb-cert","description":"","ip_id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","name":"data-test-lb-cert","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:34:17.108514782Z","updated_at":"2022-05-16T13:34:17.108514782Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4119f6d6-8df0-45fb-a294-f8dba5f35696
    method: GET
  response:
    body: '{"id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","name":"data-test-lb-cert","description":"","status":"creating","instances":[{"id":"6f191e06-722c-442d-8035-78a00d65d5ef","status":"unknown","ip_address":"10.64.244.19","created_at":"2022-05-16T13:32:35.818478Z","updated_at":"2022-05-16T13:34:17.218987Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:34:17.108515Z","updated_at":"2022-05-16T13:34:17.231561Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4119f6d6-8df0-45fb-a294-f8dba5f35696/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"data-test-lb-cert","letsencrypt":{"common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4119f6d6-8df0-45fb-a294-f8dba5f35696/certificates
    method: POST
  response:
    body: '{"id":"a4360875-cfc7-4a6e-a565-7667b310e37d","type":"letsencryt","status":"pending","common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","name":"data-test-lb-cert","description":"","status":"ready","instances":[{"id":"6f191e06-722c-442d-8035-78a00d65d5ef","status":"ready","ip_address":"10.64.244.19","created_at":"2022-05-16T13:32:35.818478Z","updated_at":"2022-05-16T13:34:17.529594Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:34:17.108515Z","updated_at":"2022-05-16T13:34:47.821035616Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"data-test-lb-cert","created_at":"2022-05-16T13:34:47.806029804Z","updated_at":"2022-05-16T13:34:47.806029804Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/a4360875-cfc7-4a6e-a565-7667b310e37d
    method: GET
  response:
    body: '{"id":"a4360875-cfc7-4a6e-a565-7667b310e37d","type":"letsencryt","status":"pending","common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"4119f6d6-8df0-45fb-a294-f8dba5[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4119f6d6-8df0-45fb-a294-f8dba5f35696/certificates?name=data-test-lb-cert&order_by=created_at_asc
    method: GET
  response:
    body: '{"certificates":[{"id":"a4360875-cfc7-4a6e-a565-7667b310e37d","type":"letsencryt","status":"ready","common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"beaf44d6a7f6184bdd4162e8c33c7a20722c6137","not_valid_before":"2022-05-16T12:34:50Z","not_valid_after":"2022-08-14T12:34:49Z","lb":{"id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","name":"data-test-lb-cert","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"4119f6d6-8df0-45fb-a294-f8dba5f35696","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:34:17.108515Z","updated_at":"2022-05-16T13:34:47.821036Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"data-test-lb-cert","created_at":"2022-05-16T13:34:47.806030Z","updated_at":"2022-05-16T13:34:50.992970Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/a4360875-cfc7-4a6e-a565-7667b310e37d
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4119f6d6-8df0-45fb-a294-f8dba5f35696?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
