---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/6b8e6107-385c-48ae-8c61-4f065cf405f5
    method: GET
  response:
    body: '{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb","description":"","ip_id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"8220227a-d9b3-4fb8-bae0-ec73cd0cb072","name":"data-test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"8220227a-d9b3-4fb8-bae0-ec73cd0cb072","reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.129628282Z","updated_at":"2021-12-27T12:08:08.129628282Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8220227a-d9b3-4fb8-bae0-ec73cd0cb072
    method: GET
  response:
    body: '{"id":"8220227a-d9b3-4fb8-bae0-ec73cd0cb072","name":"data-test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"8220227a-d9b3-4fb8-bae0-ec73cd0cb072","reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.129628Z","updated_at":"2021-12-27T12:08:08.129628Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8220227a-d9b3-4fb8-bae0-ec73cd0cb072/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=data-test-lb&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[{"id":"8220227a-d9b3-4fb8-bae0-ec73cd0cb072","name":"data-test-lb","description":"","status":"ready","instances":[{"id":"9b737137-086e-4b1d-958a-aa6a38a62165","status":"ready","ip_address":"10.64.202.107","created_at":"2021-12-27T12:00:14.358621Z","updated_at":"2021-12-27T12:08:10.542073Z","region":"fr-par","zone":"fr-par-1"},{"id":"c0cc1494-d74c-48b3-b5eb-965c187a7610","status":"ready","ip_address":"10.70.76.107","created_at":"2021-12-27T11:58:47.794185Z","updated_at":"2021-12-27T12:08:08.769334Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"8220227a-d9b3-4fb8-bae0-ec73cd0cb072","reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.129628Z","updated_at":"2021-12-27T12:08:10.895083Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8220227a-d9b3-4fb8-bae0-ec73cd0cb072?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8220227a-d9b3-4fb8-bae0-ec73cd0cb072
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
