---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-data","description":"","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-01-23T09:55:46.134241856Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"923504a0-d154-48c2-a586-c020c4e33fa8","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2023-01-23T09:55:46.134241856Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/923504a0-d154-48c2-a586-c020c4e33fa8
    method: GET
  response:
    body: '{"created_at":"2023-01-23T09:55:46.134242Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"923504a0-d154-48c2-a586-c020c4e33fa8","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2023-01-23T09:55:46.134242Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces?name=test-cr-data&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[{"created_at":"2023-01-23T09:55:46.134242Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-data","id":"923504a0-d154-48c2-a586-c020c4e33fa8","image_count":0,"is_public":false,"name":"test-cr-data","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2023-01-23T09:55:46.134242Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/923504a0-d154-48c2-a586-c020c4e33fa8
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
