---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"31d323a4-6ea9-4981-81d5-bcebb10d5d4f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:28.793468Z","updated_at":"2022-04-28T14:05:28.793468Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/31d323a4-6ea9-4981-81d5-bcebb10d5d4f
    method: GET
  response:
    body: '{"id":"31d323a4-6ea9-4981-81d5-bcebb10d5d4f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:28.793468Z","updated_at":"2022-04-28T14:05:28.793468Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"41aac288-b96f-4a5b-8221-97ca15d89418","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:28.760072Z","updated_at":"2022-04-28T14:05:28.760072Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/41aac288-b96f-4a5b-8221-97ca15d89418
    method: GET
  response:
    body: '{"id":"41aac288-b96f-4a5b-8221-97ca15d89418","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:28.760072Z","updated_at":"2022-04-28T14:05:28.760072Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-kind-nash","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"745d8560-262d-4f12-934f-b4c40bef8154","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:29.614988Z","updated_at":"2022-04-28T14:05:29.614988Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-kind-nash","tags":[],"ip":{"id":"0d4c3ab6-ce4d-40a6-bb8b-3b8967418305","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:29.604055Z","updated_at":"2022-04-28T14:05:29.604055Z","tags":[],"address":"51.15.143.170","reverse":"170-143-15-51.instances.scw.cloud","gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/745d8560-262d-4f12-934f-b4c40bef8154
    method: GET
  response:
    body: '{"id":"745d8560-262d-4f12-934f-b4c40bef8154","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:29.614988Z","updated_at":"2022-04-28T14:05:29.648561Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-kind-nash","tags":[],"ip":{"id":"0d4c3ab6-ce4d-40a6-bb8b-3b8967418305","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:29.604055Z","updated_at":"2022-04-28T14:05:29.604055Z","tags":[],"address":"51.15.143.170","reverse":"170-143-15-51.instances.scw.cloud","gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","private_network_id":"41aac288-b96f-4a5b-8221-97ca15d89418","enable_masquerade":true,"dhcp_id":"31d323a4-6ea9-4981-81d5-bcebb10d5d4f","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"9a24e675-7a26-430c-82e3-714a9f33d7ec","created_at":"2022-04-28T14:05:36.007004Z","updated_at":"2022-04-28T14:05:36.007004Z","gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","private_network_id":"41aac288-b96f-4a5b-8221-97ca15d89418","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"31d323a4-6ea9-4981-81d5-bcebb10d5d4f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:28.793468Z","updated_at":"2022-04-28T14:05:28.793468Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9a24e675-7a26-430c-82e3-714a9f33d7ec
    method: GET
  response:
    body: '{"id":"9a24e675-7a26-430c-82e3-714a9f33d7ec","created_at":"2022-04-28T14:05:36.007004Z","updated_at":"2022-04-28T14:05:42.333151Z","gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","private_network_id":"41aac288-b96f-4a5b-8221-97ca15d89418","mac_address":"02:00:00:01:18:21","enable_masquerade":true,"status":"ready","dhcp":{"id":"31d323a4-6ea9-4981-81d5-bcebb10d5d4f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:05:28.793468Z","updated_at":"2022-04-28T14:05:28.793468Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"3b1b66ab-0f3d-437e-9040-97546ceae827","gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","created_at":"2022-04-28T14:05:46.793367Z","updated_at":"2022-04-28T14:05:46.793367Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/3b1b66ab-0f3d-437e-9040-97546ceae827
    method: GET
  response:
    body: '{"id":"3b1b66ab-0f3d-437e-9040-97546ceae827","gateway_id":"745d8560-262d-4f12-934f-b4c40bef8154","created_at":"2022-04-28T14:05:46.793367Z","updated_at":"2022-04-28T14:05:46.793367Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9a24e675-7a26-430c-82e3-714a9f33d7ec?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9a24e675-7a26-430c-82e3-714a9f33d7ec
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"9a24e675-7a26-430c-82e3-714a9f33d7ec","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/745d8560-262d-4f12-934f-b4c40bef8154?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
