---
version: 1
interactions:
- request:
    body: '{"name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"id":"a3be05a9-fbc2-4e80-9577-02a986eb0c85","name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-06T13:20:29.383533Z","updated_at":"2022-10-06T13:20:29.383533Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/a3be05a9-fbc2-4e80-9577-02a986eb0c85
    method: GET
  response:
    body: '{"id":"a3be05a9-fbc2-4e80-9577-02a986eb0c85","name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-06T13:20:29.383533Z","updated_at":"2022-10-06T13:20:29.383533Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects?name=test-terraform-account-project&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"total_count":1,"projects":[{"id":"a3be05a9-fbc2-4e80-9577-02a986eb0c85","name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-06T13:20:29.383533Z","updated_at":"2022-10-06T13:20:29.383533Z","description":""}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/a3be05a9-fbc2-4e80-9577-02a986eb0c85
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"a3be05a9-fbc2-4e80-9577-02a986eb0c85","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
