---
version: 2
interactions:
- request:
    body: '{"name":"tf-vol-nostalgic-jang","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.849014+00:00","export_uri":null,"id":"84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b","modification_date":"2023-10-31T14:31:00.849014+00:00","name":"tf-vol-nostalgic-jang","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.849014+00:00","export_uri":null,"id":"84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b","modification_date":"2023-10-31T14:31:00.849014+00:00","name":"tf-vol-nostalgic-jang","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"tf-snapshot-ds-basic","volume_id":"84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b","name":"tf-vol-nostalgic-jang"},"creation_date":"2023-10-31T14:31:01.154873+00:00","error_details":null,"id":"06ac14f2-42db-457f-9255-06f181a601fb","modification_date":"2023-10-31T14:31:01.154873+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_06ac14f2-42db-457f-9255-06f181a601fb","href_from":"/snapshots","href_result":"snapshots/06ac14f2-42db-457f-9255-06f181a601fb","id":"7d15ed9e-05cf-4a53-a6a5-c049de72b33d","started_at":"2023-10-31T14:31:01.910711+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/06ac14f2-42db-457f-9255-06f181a601fb
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b","name":"tf-vol-nostalgic-jang"},"creation_date":"2023-10-31T14:31:01.154873+00:00","error_details":null,"id":"06ac14f2-42db-457f-9255-06f181a601fb","modification_date":"2023-10-31T14:31:01.154873+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=tf-snapshot-ds-basic
    method: GET
  response:
    body: '{"snapshots":[{"base_volume":{"id":"84cbc9c3-03c9-40d5-8adc-82b45e9aaa4b","name":"tf-vol-nostalgic-jang"},"creation_date":"2023-10-31T14:31:01.154873+00:00","error_details":null,"id":"06ac14f2-42db-457f-9255-06f181a601fb","modification_date":"2023-10-31T14:31:10.338117+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=tf-snapshot-ds-basic>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/06ac14f2-42db-457f-9255-06f181a601fb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"06ac14f2-42db-457f-9255-06f181a601fb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
