---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionByNameSecret","tags":["devtools","provider","terraform"],"type":"unknown_type","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:30.653433Z","description":"","ephemeral_policy":null,"id":"557a6ebc-9c96-416f-b97a-a0848662a929","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-02-16T07:43:30.653433Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557a6ebc-9c96-416f-b97a-a0848662a929
    method: GET
  response:
    body: '{"created_at":"2024-02-16T07:43:30.653433Z","description":"","ephemeral_policy":null,"id":"557a6ebc-9c96-416f-b97a-a0848662a929","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-02-16T07:43:30.653433Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557a6ebc-9c96-416f-b97a-a0848662a929/versions
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:30.907906Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"557a6ebc-9c96-416f-b97a-a0848662a929","status":"enabled","updated_at":"2024-02-16T07:43:30.907906Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557a6ebc-9c96-416f-b97a-a0848662a929/versions/1
    method: GET
  response:
    body: '{"created_at":"2024-02-16T07:43:30.907906Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"557a6ebc-9c96-416f-b97a-a0848662a929","status":"enabled","updated_at":"2024-02-16T07:43:30.907906Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=dataSourceSecretVersionByNameSecret&order_by=name_asc
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2024-02-16T07:43:30.653433Z","description":"","ephemeral_policy":null,"id":"557a6ebc-9c96-416f-b97a-a0848662a929","managed":false,"name":"dataSourceSecretVersionByNameSecret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-02-16T07:43:30.653433Z","version_count":1}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557a6ebc-9c96-416f-b97a-a0848662a929/versions/1/access
    method: GET
  response:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"557a6ebc-9c96-416f-b97a-a0848662a929"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/557a6ebc-9c96-416f-b97a-a0848662a929/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"557a6ebc-9c96-416f-b97a-a0848662a929","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
