---
version: 1
interactions:
- request:
    body: '{"name":"test_iot_hub_datasource","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_iot_hub_datasource","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-05-05T13:22:44.577Z","updated_at":"2022-05-05T13:22:44.577Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/6ade572a-9d5c-465c-9e5f-11ccd8ff81ca
    method: GET
  response:
    body: '{"region":"fr-par","id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_iot_hub_datasource","status":"ready","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-05-05T13:22:44.577Z","updated_at":"2022-05-05T13:22:44.577Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_iot_device_datasource","hub_id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","allow_insecure":false,"allow_multiple_connections":false,"message_filters":null,"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
    method: POST
  response:
    body: '{"device":{"id":"bbc1785c-8c56-4b57-94c4-b8ce651053ee","name":"test_iot_device_datasource","status":"enabled","hub_id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","created_at":"2022-05-05T13:22:46.672Z","updated_at":"2022-05-05T13:22:46.672Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false},"certificate":{"crt":"-----BEGIN
      CERTIFICATE-----\nMIIEZDCCA0ygAwIBAgIQHmYBPxkuyoS/30mkZ0nZAzANBgkqhkiG9w0BAQsFADCB\nzjELMAkGA1UEBhMCRlIxDzANBgNVBAgTBkZyYW5jZTEOMAwGA1UEBxMFUGFyaXMx\nEjAQBgNVBAkTCUxhIE1haXNvbjEJMAcGA1UEERMAMRgwFgYDVQQKEw9TY2FsZXdh\neS9PbmxpbmUxEDAOBgNVBAsTB0xhYi9Jb1QxITAfBgNVBAMTGFNjYWxld2F5IElv\nVCBDZXJ0aWZpY2F0ZTEwMC4GA1UEBRMnMTk3NjcyMTg2NTgyNDA2MDMzNTg5Mzc0\nMDc5MjA5OTk3ODY5NDI0MB4XDTIyMDUwNDEzMjI0N1oXDTMyMDUwNDEzMjI0N1ow\ngbQxCzAJBgNVBAYTAkZSMQwwCgYDVQQIEwNJREYxDjAMBgNVBAcTBVBhcmlzMTEw\nLw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/bbc1785c-8c56-4b57-94c4-b8ce651053ee
    method: GET
  response:
    body: '{"id":"bbc1785c-8c56-4b57-94c4-b8ce651053ee","name":"test_iot_device_datasource","status":"enabled","hub_id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","created_at":"2022-05-05T13:22:46.672Z","updated_at":"2022-05-05T13:22:46.672Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/bbc1785c-8c56-4b57-94c4-b8ce651053ee/certificate
    method: GET
  response:
    body: '{"device":{"id":"bbc1785c-8c56-4b57-94c4-b8ce651053ee","name":"test_iot_device_datasource","status":"enabled","hub_id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","created_at":"2022-05-05T13:22:46.672Z","updated_at":"2022-05-05T13:22:46.672Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false},"certificate_pem":"-----BEGIN
      CERTIFICATE-----\nMIIEZDCCA0ygAwIBAgIQHmYBPxkuyoS/30mkZ0nZAzANBgkqhkiG9w0BAQsFADCB\nzjELMAkGA1UEBhMCRlIxDzANBgNVBAgTBkZyYW5jZTEOMAwGA1UEBxMFUGFyaXMx\nEjAQBgNVBAkTCUxhIE1haXNvbjEJMAcGA1UEERMAMRgwFgYDVQQKEw9TY2FsZXdh\neS9PbmxpbmUxEDAOBgNVBAsTB0xhYi9Jb1QxITAfBgNVBAMTGFNjYWxld2F5IElv\nVCBDZXJ0aWZpY2F0ZTEwMC4GA1UEBRMnMTk3NjcyMTg2NTgyNDA2MDMzNTg5Mzc0\nMDc5MjA5OTk3ODY5NDI0MB4XDTIyMDUwNDEzMjI0N1oXDTMyMDUwNDEzMjI0N1ow\ngbQxCzAJBgNVBAYTAkZSMQwwCgYDVQQIEwNJREYxDjAMBgNVBAcTBVBhcmlzMTEw\nLw[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?hub_id=6ade572a-9d5c-465c-9e5f-11ccd8ff81ca&name=test_iot_device_datasource&order_by=name_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"devices":[{"id":"bbc1785c-8c56-4b57-94c4-b8ce651053ee","name":"test_iot_device_datasource","status":"enabled","hub_id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","created_at":"2022-05-05T13:22:46.672Z","updated_at":"2022-05-05T13:22:46.672Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?name=test_iot_device_datasource&order_by=name_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"devices":[{"id":"bbc1785c-8c56-4b57-94c4-b8ce651053ee","name":"test_iot_device_datasource","status":"enabled","hub_id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","created_at":"2022-05-05T13:22:46.672Z","updated_at":"2022-05-05T13:22:46.672Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/6ade572a-9d5c-465c-9e5f-11ccd8ff81ca
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"6ade572a-9d5c-465c-9e5f-11ccd8ff81ca","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
