---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-with-not-default-zone","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"1b305785-f7d7-44bc-9c7f-8b17abed717d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.638804Z","updated_at":"2022-11-21T10:48:09.638804Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"public-gateway-with-not-default-zone","tags":[],"ip":{"id":"7f799750-4bc7-4450-a9e2-4a912be32f08","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.613619Z","updated_at":"2022-11-21T10:48:09.613619Z","tags":[],"address":"51.158.180.115","reverse":"115-180-158-51.instances.scw.cloud","gateway_id":"1b305785-f7d7-44bc-9c7f-8b17abed717d","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/1b305785-f7d7-44bc-9c7f-8b17abed717d
    method: GET
  response:
    body: '{"id":"1b305785-f7d7-44bc-9c7f-8b17abed717d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.638804Z","updated_at":"2022-11-21T10:48:09.686851Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"public-gateway-with-not-default-zone","tags":[],"ip":{"id":"7f799750-4bc7-4450-a9e2-4a912be32f08","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.613619Z","updated_at":"2022-11-21T10:48:09.613619Z","tags":[],"address":"51.158.180.115","reverse":"115-180-158-51.instances.scw.cloud","gateway_id":"1b305785-f7d7-44bc-9c7f-8b17abed717d","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"a4b5ee11-4c32-4602-8b49-7d85f7f56571","organiz[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a4b5ee11-4c32-4602-8b49-7d85f7f56571
    method: GET
  response:
    body: '{"id":"a4b5ee11-4c32-4602-8b49-7d85f7f56571","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.855740Z","updated_at":"2022-11-21T10:48:09.895289Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"b24aae58-dadd-4029-bc1c-526ffe6f8ad1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.838201Z","updated_at":"2022-11-21T10:48:09.838201Z","tags":[],"address":"51.15.236.210","reverse":"210-236-15-51.instances.scw.cloud","gateway_id":"a4b5ee11-4c32-4602-8b49-7d85f7f56571","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"id":"a4b5ee11-4c32-4602-8b49-7d85f7f56571","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.855740Z","updated_at":"2022-11-21T10:48:10.432522Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"b24aae58-dadd-4029-bc1c-526ffe6f8ad1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.838201Z","updated_at":"2022-11-21T10:48:09.838201Z","tags":[],"address":"51.15.236.210","reverse":"210-236-15-51.instances.scw.cloud","gateway_id":"a4b5ee11-4c32-4602-8b49-7d85f7f56571","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways?name=public-gateway-with-not-default-zone&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"id":"1b305785-f7d7-44bc-9c7f-8b17abed717d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.638804Z","updated_at":"2022-11-21T10:48:10.337132Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"running","name":"public-gateway-with-not-default-zone","tags":[],"ip":{"id":"7f799750-4bc7-4450-a9e2-4a912be32f08","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:09.613619Z","updated_at":"2022-11-21T10:48:09.613619Z","tags":[],"address":"51.158.180.115","reverse":"115-180-158-51.instances.scw.cloud","gateway_id":"1b305785-f7d7-44bc-9c7f-8b17abed717d","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a4b5ee11-4c32-4602-8b49-7d85f7f56571?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a4b5ee11-4c32-4602-8b49-7d85f7f56571
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"a4b5ee11-4c32-4602-8b49-7d85f7f56571","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/1b305785-f7d7-44bc-9c7f-8b17abed717d?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
