---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"id":"be7b6937-095e-4e76-bd94-c9d8979f049b","ip_address":"195.154.69.14","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-69-14.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips/be7b6937-095e-4e76-bd94-c9d8979f049b
    method: GET
  response:
    body: '{"id":"be7b6937-095e-4e76-bd94-c9d8979f049b","ip_address":"195.154.69.14","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-69-14.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"be7b6937-095e-4e76-bd94-c9d8979f049b","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"40a29bcf-1351-4d3e-9f80-f12a2c1c67ee","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"be7b6937-095e-4e76-bd94-c9d8979f049b","ip_address":"195.154.69.14","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"40a29bcf-1351-4d3e-9f80-f12a2c1c67ee","reverse":"195-154-69-14.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-01-13T16:03:19.799761285Z","updated_at":"2021-01-13T16:03:19.799761285Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/40a29bcf-1351-4d3e-9f80-f12a2c1c67ee
    method: GET
  response:
    body: '{"id":"40a29bcf-1351-4d3e-9f80-f12a2c1c67ee","name":"test-lb","description":"","status":"pending","instances":[{"id":"629e23d7-4aaa-4124-8d12-7bed85141452","status":"unknown","ip_address":"10.68.98.155","created_at":"2021-01-13T16:01:42.731802Z","updated_at":"2021-01-13T16:03:19.972400Z","region":"fr-par"},{"id":"9d8f55f0-b796-4ee9-87d6-8cb37313bb1f","status":"unknown","ip_address":"10.64.166.29","created_at":"2021-01-13T16:01:37.796535Z","updated_at":"2021-01-13T16:03:19.974941Z","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"be7b6937-095e-4e76-bd94-c9d8979f049b","ip_address":"195.154.69.14","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"40a29bcf-1351-4d3e-9f80-f12a2c1c67ee","reverse":"195-154-69-14.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-01-13T16:03:19.799761Z","updated_at":"2021-01-13T16:03:19.799761Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs?name=test-lb&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[{"id":"40a29bcf-1351-4d3e-9f80-f12a2c1c67ee","name":"test-lb","description":"","status":"ready","instances":[{"id":"9d8f55f0-b796-4ee9-87d6-8cb37313bb1f","status":"ready","ip_address":"10.64.166.29","created_at":"2021-01-13T16:01:37.796535Z","updated_at":"2021-01-13T16:03:20.348222Z","region":"fr-par"},{"id":"629e23d7-4aaa-4124-8d12-7bed85141452","status":"ready","ip_address":"10.68.98.155","created_at":"2021-01-13T16:01:42.731802Z","updated_at":"2021-01-13T16:03:20.173795Z","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"be7b6937-095e-4e76-bd94-c9d8979f049b","ip_address":"195.154.69.14","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"40a29bcf-1351-4d3e-9f80-f12a2c1c67ee","reverse":"195-154-69-14.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-01-13T16:03:19.799761Z","updated_at":"2021-01-13T16:03:20.564423Z","region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/40a29bcf-1351-4d3e-9f80-f12a2c1c67ee?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/40a29bcf-1351-4d3e-9f80-f12a2c1c67ee
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
