---
version: 1
interactions:
- request:
    body: '{"name":"app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"980358c1-6645-4e99-901f-5443965d0f95","name":"app","description":"","created_at":"2022-06-29T13:32:58.054546Z","updated_at":"2022-06-29T13:32:58.054546Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/980358c1-6645-4e99-901f-5443965d0f95
    method: GET
  response:
    body: '{"id":"980358c1-6645-4e99-901f-5443965d0f95","name":"app","description":"","created_at":"2022-06-29T13:32:58.054546Z","updated_at":"2022-06-29T13:32:58.054546Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"8303f586-86f0-4661-a787-f0d431132401","created_at":"2022-06-29T13:32:58.185622Z","updated_at":"2022-06-29T13:32:58.185622Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["980358c1-6645-4e99-901f-5443965d0f95"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/8303f586-86f0-4661-a787-f0d431132401/members
    method: PUT
  response:
    body: '{"id":"8303f586-86f0-4661-a787-f0d431132401","created_at":"2022-06-29T13:32:58.185622Z","updated_at":"2022-06-29T13:32:58.185622Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["980358c1-6645-4e99-901f-5443965d0f95"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8303f586-86f0-4661-a787-f0d431132401
    method: GET
  response:
    body: '{"id":"8303f586-86f0-4661-a787-f0d431132401","created_at":"2022-06-29T13:32:58.185622Z","updated_at":"2022-06-29T13:32:58.185622Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["980358c1-6645-4e99-901f-5443965d0f95"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test_data_source_mix&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"groups":[{"id":"8303f586-86f0-4661-a787-f0d431132401","created_at":"2022-06-29T13:32:58.185622Z","updated_at":"2022-06-29T13:32:58.185622Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["980358c1-6645-4e99-901f-5443965d0f95"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8303f586-86f0-4661-a787-f0d431132401
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"8303f586-86f0-4661-a787-f0d431132401","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
