---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/offers?only_options=false&order_by=price_asc&without_options=false
    method: GET
  response:
    body: '{"offers":[{"available":false,"billing_operation_path":"/webhosting/backup/fr-par","id":"e500237a-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":2},"product":{"databases_quota":0,"email_accounts_quota":0,"email_storage_quota":0,"hosting_storage_quota":0,"name":"backup","option":true,"ram":0,"support_included":false,"v_cpu":0},"quota_warnings":[]},{"available":false,"billing_operation_path":"/webhosting/personal/fr-par","id":"d86c61a0-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":9},"product":{"databases_quota":-1,"email_accounts_quota":2,"email_storage_quota":5,"hosting_storage_quota":50,"name":"essential","option":false,"ram":1,"support_included":true,"v_cpu":2},"quota_warnings":[]},{"available":false,"billing_operation_path":"/webhosting/professional/fr-par","id":"de2426b4-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":18},"product":{"databases_quota":-1,"email_accounts_quota":10,"email_storage_quota":5,"hosting_storage_quota":100,"name":"performance","option":false,"ram":2,"support_included":true,"v_cpu":4},"quota_warnings":[]},{"available":false,"billing_operation_path":"/webhosting/ecommerce/fr-par","id":"e1c1e6c6-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":29},"product":{"databases_quota":-1,"email_accounts_quota":25,"email_storage_quota":5,"hosting_storage_quota":250,"name":"ecommerce","option":false,"ram":8,"support_included":true,"v_cpu":8},"quota_warnings":[]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
