---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.24.5","label":"Kubernetes 1.24.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none"],"available_container_runtimes":["containerd","crio"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"}},{"region":"fr-par","name":"1.23.11","label":"Kubernetes
      1.23.11","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet[...]
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.24.5","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-25T09:26:52.706156678Z","updated_at":"2022-10-25T09:26:52.719803792Z","type":"kapsule","name":"tf-cluster-pool","description":"","status":"creating","version":"1.24.5","cni":"cilium","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"cluster_url":"https://d3b37a21-a57e-4a96-af16-b359b5ccb309.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.d3b37a21-a57e-4a96-af16-b359b5ccb309.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309
    method: GET
  response:
    body: '{"region":"fr-par","id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-25T09:26:52.706157Z","updated_at":"2022-10-25T09:26:52.719804Z","type":"kapsule","name":"tf-cluster-pool","descript[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVVMVVRWGxPUkVFMVRXcFpNVTB4YjFoRVZFMTVUVlJCZVU1RVFUVk5hbGt4VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"144a6468-dc41-4381-ade9-b43baeb35ee2","cluster_id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","created_at":"2022-10-25T09:27:00.092109Z","updated_at":"2022-10-25T09:27:00.102383103Z","name":"tf-pool","status":"scaling","version":"1.24.5","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/144a6468-dc41-4381-ade9-b43baeb35ee2
    method: GET
  response:
    body: '{"region":"fr-par","id":"144a6468-dc41-4381-ade9-b43baeb35ee2","cluster_id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","created_at":"2022-10-25T09:27:00.092109Z","updated_at":"2022-10-25T09:27:00.102383Z","name":"tf-pool","status":"scaling","version":"1.24.5","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309/nodes?order_by=created_at_asc&page=1&pool_id=144a6468-dc41-4381-ade9-b43baeb35ee2&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"5890c6be-d09d-4566-b721-722a9a5316f7","cluster_id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","created_at":"2022-10-25T09:29:44.903126Z","updated_at":"2022-10-25T09:33:30.704323Z","pool_id":"144a6468-dc41-4381-ade9-b43baeb35ee2","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-tf-cluster-pool-tf-pool-5890c6bed09d4566b7","public_ip_v4":"51.158.112.105","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/50f06380-4a47-4759-a613-4a3b24c0fea1","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":null,"description":null,"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null},"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309
    method: PATCH
  response:
    body: '{"region"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"144a6468-dc41-4381-ade9-b43baeb35ee2","cluster_id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","created_at":"2022-10-25T09:27:00.092109Z","updated_at":"2022-10-25T09:33:30.718300Z","name":"tf-pool","status":"ready","version":"1.24.5","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309/nodes?order_by=created_at_asc&page=1&pool_id=144a6468-dc41-4381-ade9-b43baeb35ee2&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"5890c6be-d09d-4566-b721-722a9a5316f7","cluster_id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","created_at":"2022-10-25T09:29:44.903126Z","updated_at":"2022-10-25T09:34:27.103045Z","pool_id":"144a6468-dc41-4381-ade9-b43baeb35ee2","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"name":"scw-tf-cluster-pool-tf-pool-5890c6bed09d4566b7","public_ip_v4":"51.158.112.105","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/50f06380-4a47-4759-a613-4a3b24c0fea1","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-25T09:26:52.706157Z","updated_at":"2022-10-25T09:34:33.721886895Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d3b37a21-a57e-4a96-af16-b359b5ccb309
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d3b37a21-a57e-4a96-af16-b359b5ccb309","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
