---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a28bdca0-d3a0-447a-8e92-7e0799df92e3","ip_address":"51.159.10.251","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-10-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a28bdca0-d3a0-447a-8e92-7e0799df92e3
    method: GET
  response:
    body: '{"id":"a28bdca0-d3a0-447a-8e92-7e0799df92e3","ip_address":"51.159.10.251","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-10-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_address=51.159.10.251
    method: GET
  response:
    body: '{"ips":[{"id":"a28bdca0-d3a0-447a-8e92-7e0799df92e3","ip_address":"51.159.10.251","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-10-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a28bdca0-d3a0-447a-8e92-7e0799df92e3
    method: GET
  response:
    body: '{"message":"ips not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
