---
version: 1
interactions:
- request:
    body: '{"name":"lmfjms6zf4","project":"951df375-e094-4d26-97c1-ba548eeb9c42","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "916eb08b-96dc-425d-9024-e7d677d2fddc", "creation_date":
      "2020-10-16T14:56:38.644638+00:00", "modification_date": "2020-10-16T14:56:38.644638+00:00",
      "name": "lmfjms6zf4", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/security_groups/916eb08b-96dc-425d-9024-e7d677d2fddc
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/916eb08b-96dc-425d-9024-e7d677d2fddc
    method: GET
  response:
    body: '{"security_group": {"id": "916eb08b-96dc-425d-9024-e7d677d2fddc", "creation_date":
      "2020-10-16T14:56:38.644638+00:00", "modification_date": "2020-10-16T14:56:38.644638+00:00",
      "name": "lmfjms6zf4", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/916eb08b-96dc-425d-9024-e7d677d2fddc/rules?page=1
    method: GET
  response:
    body: '{"rules": [{"id": "58909be7-d17c-4ac8-9eb3-23d5fc58abc5", "protocol": "TCP",
      "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 25, "dest_port_to":
      null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "25680235-108b-4bbc-8e25-114303d950bd", "protocol": "TCP", "direction":
      "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 465, "dest_port_to":
      null, "position": 2, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "4a31b633-118e-4900-bd52-facf1085fc8d", "protocol": "TCP", "direction":
      "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 587, "dest_port_to":
      null, "position": 3, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "e7dd28e8-3747-4c7c-9a4f-35ae3f0ae2cd", "protocol": "TCP", "direction":
      "outbound", "ip_range": "::/0", "dest_port_from": 25, "dest_port_to": null,
      "position": 4, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id":
      "f37d9e7c-8ed7-4e0f-baff-7f5e7ede0baf", "protocol": "TCP", "direction": "outbound",
      "ip_range": "::/0", "dest_port_from": 465, "dest_port_to": null, "position":
      5, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "68054851-54e3-46c9-9cd7-83219751248b",
      "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_port_from":
      587, "dest_port_to": null, "position": 6, "editable": false, "action": "drop",
      "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups?name=lmfjms6zf4&page=1
    method: GET
  response:
    body: '{"security_groups": [{"id": "916eb08b-96dc-425d-9024-e7d677d2fddc", "creation_date":
      "2020-10-16T14:56:38.644638+00:00", "modification_date": "2020-10-16T14:56:39.268143+00:00",
      "name": "lmfjms6zf4", "description": "", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </security_groups?page=1&per_page=50&name=lmfjms6zf4>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
