---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a5c72821-9ee8-47c9-987a-58a2b9e5b9f3
    method: GET
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:24:14.291204427Z","description":"","frontend_count":0,"id":"2359a048-bd64-4a1b-b7a3-837c0a0b5215","instances":[],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"2359a048-bd64-4a1b-b7a3-837c0a0b5215","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:24:14.291204427Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2359a048-bd64-4a1b-b7a3-837c0a0b5215
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:24:14.291204Z","description":"","frontend_count":0,"id":"2359a048-bd64-4a1b-b7a3-837c0a0b5215","instances":[],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"2359a048-bd64-4a1b-b7a3-837c0a0b5215","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:24:14.291204Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2359a048-bd64-4a1b-b7a3-837c0a0b5215/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-sad-volhard","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2359a048-bd64-4a1b-b7a3-837c0a0b5215/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-24T15:24:44.929885496Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"a8a2369e-886e-4620-9bd1-0058df2516b1","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:24:14.291204Z","description":"","frontend_count":0,"id":"2359a048-bd64-4a1b-b7a3-837c0a0b5215","instances":[{"created_at":"2023-05-24T15:07:39.305713Z","id":"64e8d6cc-f916-4327-a03a-c23f62458ee7","ip_address":"10.72.76.19","region":"fr-par","status":"pending","updated_at":"2023-05-24T15:24:44.977908018Z","zone":"fr-par-1"}],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"2359a048-bd64-4a1b-b7a3-837c0a0b5215","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:24:16.303253Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-sad-volhard","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:24:44.929885496Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a8a2369e-886e-4620-9bd1-0058df2516b1
    method: GET
  response:
    body: '{"created_at":"2023-05-24T15:24:44.929885Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-blissful-moser","inbound_port":80,"backend_id":"a8a2369e-886e-4620-9bd1-0058df2516b1","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2359a048-bd64-4a1b-b7a3-837c0a0b5215/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:24:44.929885Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"a8a2369e-886e-4620-9bd1-0058df2516b1","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:24:14.291204Z","description":"","frontend_count":1,"id":"2359a04[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-relaxed-germain","inbound_port":80,"backend_id":"a8a2369e-886e-4620-9bd1-0058df2516b1","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/c26a7586-bcce-4c13-a3c8-2af5a0715903
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:24:44.929885Z","failover_host":null,"forward_port":8[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/c26a7586-bcce-4c13-a3c8-2af5a0715903/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2359a048-bd64-4a1b-b7a3-837c0a0b5215/frontends?name=tf-lb-frt-relaxed-germain&order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-05-24T15:24:44.929885Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"a8a2369e-886e-4620-9bd1-0058df2516b1","ignore_ssl_server_verify":false,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-sad-volhard","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:24:44.929885Z"},"certificate":null,"certificate_ids":[],"created_at":"2023-05-24T15:24:45.549916Z","enable_http3":false,"id":"c26a7586-bcce-4c13-a3c8-2af5a0715903","inbound_port":80,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"name":"tf-lb-frt-relaxed-germain","timeout_client":null,"updated_at":"2023-05-24T15:24:46.023219Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2359a048-bd64-4a1b-b7a3-837c0a0b5215?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2359a048-bd64-4a1b-b7a3-837c0a0b5215
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
