---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"75956232-5ef3-478a-941a-f39a9deef55a","ip_address":"51.159.10.230","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-10-230.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/75956232-5ef3-478a-941a-f39a9deef55a
    method: GET
  response:
    body: '{"id":"75956232-5ef3-478a-941a-f39a9deef55a","ip_address":"51.159.10.230","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-10-230.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"75956232-5ef3-478a-941a-f39a9deef55a","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"b05eba29-85c3-418a-8156-3579bf7147f8","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"75956232-5ef3-478a-941a-f39a9deef55a","ip_address":"51.159.10.230","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"b05eba29-85c3-418a-8156-3579bf7147f8","reverse":"51-159-10-230.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-09-16T13:11:44.761857961Z","updated_at":"2021-09-16T13:11:44.761857961Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b05eba29-85c3-418a-8156-3579bf7147f8
    method: GET
  response:
    body: '{"id":"b05eba29-85c3-418a-8156-3579bf7147f8","name":"test-lb","description":"","status":"pending","instances":[{"id":"888aedf1-8b82-4a81-947f-7f62148da98f","status":"unknown","ip_address":"10.69.124.117","created_at":"2021-09-16T13:10:14.062471Z","updated_at":"2021-09-16T13:11:45.015577Z","region":"fr-par","zone":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=test-lb&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[{"id":"b05eba29-85c3-418a-8156-3579bf7147f8","name":"test-lb","description":"","status":"ready","instances":[{"id":"5c3dc614-466a-4b58-a9a3-6825cc92d1a5","status":"ready","ip_address":"10.71.2.123","created_at":"2021-09-16T13:08:11.431258Z","updated_at":"2021-09-16T13:11:45.789196Z","region":"fr-par","zone":"fr-par-1"},{"id":"888aedf1-8b82-4a81-947f-7f62148da98f","status":"ready","ip_address":"10.69.124.117","created_at":"2021-09-16T13:10:14.062471Z","updated_at":"2021-09-16T13:11:45.288742Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"75956232-5ef3-478a-941a-f39a9deef55a","ip_address":"51.159.10.230","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"b05eba29-85c3-418a-8156-3579bf7147f8","reverse":"51-159-10-230.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-09-16T13:11:44.761858Z","updated_at":"2021-09-16T13:11:46.152242Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b05eba29-85c3-418a-8156-3579bf7147f8?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b05eba29-85c3-418a-8156-3579bf7147f8
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
