---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"9ec74a1a-89ea-4e9c-9dc0-a910518551ef","name":"first app","description":"","created_at":"2022-06-28T11:38:22.638286Z","updated_at":"2022-06-28T11:38:22.638286Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9ec74a1a-89ea-4e9c-9dc0-a910518551ef
    method: GET
  response:
    body: '{"id":"9ec74a1a-89ea-4e9c-9dc0-a910518551ef","name":"first app","description":"","created_at":"2022-06-28T11:38:22.638286Z","updated_at":"2022-06-28T11:38:22.638286Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"5122ea8d-e702-4e58-b57a-70a308719c87","created_at":"2022-06-28T11:38:22.781207Z","updated_at":"2022-06-28T11:38:22.781207Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9ec74a1a-89ea-4e9c-9dc0-a910518551ef"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/5122ea8d-e702-4e58-b57a-70a308719c87/principals
    method: PUT
  response:
    body: '{"id":"5122ea8d-e702-4e58-b57a-70a308719c87","created_at":"2022-06-28T11:38:22.781207Z","updated_at":"2022-06-28T11:38:22.781207Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9ec74a1a-89ea-4e9c-9dc0-a910518551ef"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/5122ea8d-e702-4e58-b57a-70a308719c87
    method: GET
  response:
    body: '{"id":"5122ea8d-e702-4e58-b57a-70a308719c87","created_at":"2022-06-28T11:38:22.781207Z","updated_at":"2022-06-28T11:38:22.781207Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9ec74a1a-89ea-4e9c-9dc0-a910518551ef"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test-terraform&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"groups":[{"id":"5122ea8d-e702-4e58-b57a-70a308719c87","created_at":"2022-06-28T11:38:22.781207Z","updated_at":"2022-06-28T11:38:22.781207Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["9ec74a1a-89ea-4e9c-9dc0-a910518551ef"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/5122ea8d-e702-4e58-b57a-70a308719c87
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"5122ea8d-e702-4e58-b57a-70a308719c87","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
