---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-data-source-pool","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:14:31.119899Z","dhcp_enabled":true,"id":"86061337-fee6-4126-8ad2-6af59b782301","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:14:31.119899Z","id":"909bba23-b2cf-4a7d-af4a-64251de03ac8","subnet":"172.16.4.0/22","updated_at":"2024-02-28T14:14:31.119899Z"},{"created_at":"2024-02-28T14:14:31.119899Z","id":"c15c29fe-1774-4b8b-8510-96b113d9cc32","subnet":"fd5f:519c:6d46:9a73::/64","updated_at":"2024-02-28T14:14:31.119899Z"}],"tags":[],"updated_at":"2024-02-28T14:14:31.119899Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/86061337-fee6-4126-8ad2-6af59b782301
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:14:31.119899Z","dhcp_enabled":true,"id":"86061337-fee6-4126-8ad2-6af59b782301","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:14:31.119899Z","id":"909bba23-b2cf-4a7d-af4a-64251de03ac8","subnet":"172.16.4.0/22","updated_at":"2024-02-28T14:14:31.119899Z"},{"created_at":"2024-02-28T14:14:31.119899Z","id":"c15c29fe-1774-4b8b-8510-96b113d9cc32","subnet":"fd5f:519c:6d46:9a73::/64","updated_at":"2024-02-28T14:14:31.119899Z"}],"tags":[],"updated_at":"2024-02-28T14:14:31.119899Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"86061337-fee6-4126-8ad2-6af59b782301"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://60038511-ff7c-4aba-8a81-98e3a878aa78.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-02-28T14:14:32.709052840Z","created_at":"2024-02-28T14:14:32.709052840Z","description":"","dns_wildcard":"*.60038511-ff7c-4aba-8a81-98e3a878aa78.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"60038511-ff7c-4aba-8a81-98e3a878aa78","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"86061337-fee6-4126-8ad2-6af59b782301","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2024-02-28T14:14:32.734765947Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVTWGxPZWtVd1RWUlJlazVHYjFoRVZFMHdUVVJKZVU1NlJUQk5WRkY2VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"60038511-ff7c-4aba-8a81-98e3a878aa78","container_runtime":"containerd","created_at":"2024-02-28T14:14:38.248294Z","id":"5cad8fae-c290-43aa-a3bc-b30e09961acb","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-02-28T14:14:38.256081419Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5cad8fae-c290-43aa-a3bc-b30e09961acb
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"60038511-ff7c-4aba-8a81-98e3a878aa78","container_runtime":"containerd","created_at":"2024-02-28T14:14:38.248294Z","id":"5cad8fae-c290-43aa-a3bc-b30e09961acb","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-02-28T14:14:38.256081Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78/nodes?order_by=created_at_asc&page=1&pool_id=5cad8fae-c290-43aa-a3bc-b30e09961acb&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"60038511-ff7c-4aba-8a81-98e3a878aa78","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:17:44.668246Z","error_message":null,"id":"df923879-7e90-46f2-8fc5-aa94b949c97d","name":"scw-tf-cluster-pool-tf-pool-df9238797e9046f28f","pool_id":"5cad8fae-c290-43aa-a3bc-b30e09961acb","provider_id":"scaleway://instance/fr-par-1/afe74de3-96a5-47a2-a96d-93e41f2e211b","public_ip_v4":"51.158.107.206","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:19:46.895434Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78
    method: PATCH
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"60038511-ff7c-4aba-8a81-98e3a878aa78","container_runtime":"containerd","created_at":"2024-02-28T14:14:38.248294Z","id":"5cad8fae-c290-43aa-a3bc-b30e09961acb","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2024-02-28T14:19:46.952346Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78/nodes?order_by=created_at_asc&page=1&pool_id=5cad8fae-c290-43aa-a3bc-b30e09961acb&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"60038511-ff7c-4aba-8a81-98e3a878aa78","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:17:44.668246Z","error_message":null,"id":"df923879-7e90-46f2-8fc5-aa94b949c97d","name":"scw-tf-cluster-pool-tf-pool-df9238797e9046f28f","pool_id":"5cad8fae-c290-43aa-a3bc-b30e09961acb","provider_id":"scaleway://instance/fr-par-1/afe74de3-96a5-47a2-a96d-93e41f2e211b","public_ip_v4":"51.158.107.206","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:20:02.100761Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5cad8fae-c290-43aa-a3bc-b30e09961acb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"5cad8fae-c290-43aa-a3bc-b30e09961acb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/60038511-ff7c-4aba-8a81-98e3a878aa78?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
