---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_basic","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"c230908d-96fc-4d53-a45b-30eacf3ea74b","created_at":"2022-07-05T20:18:19.645838Z","updated_at":"2022-07-05T20:18:19.645838Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_basic","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c230908d-96fc-4d53-a45b-30eacf3ea74b
    method: GET
  response:
    body: '{"id":"c230908d-96fc-4d53-a45b-30eacf3ea74b","created_at":"2022-07-05T20:18:19.645838Z","updated_at":"2022-07-05T20:18:19.645838Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_basic","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test_data_source_basic&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"groups":[{"id":"c230908d-96fc-4d53-a45b-30eacf3ea74b","created_at":"2022-07-05T20:18:19.645838Z","updated_at":"2022-07-05T20:18:19.645838Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_basic","description":"","user_ids":[],"application_ids":[]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c230908d-96fc-4d53-a45b-30eacf3ea74b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"c230908d-96fc-4d53-a45b-30eacf3ea74b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
