---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"fed929d0-1341-4320-8ca0-86f0116a3eeb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.129126Z","updated_at":"2022-05-20T13:19:03.129126Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"79fe80a6-850b-4ca9-adc0-b279c4e8993e","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.100195Z","updated_at":"2022-05-20T13:19:03.100195Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/fed929d0-1341-4320-8ca0-86f0116a3eeb
    method: GET
  response:
    body: '{"id":"fed929d0-1341-4320-8ca0-86f0116a3eeb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.129126Z","updated_at":"2022-05-20T13:19:03.129126Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/79fe80a6-850b-4ca9-adc0-b279c4e8993e
    method: GET
  response:
    body: '{"id":"79fe80a6-850b-4ca9-adc0-b279c4e8993e","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.100195Z","updated_at":"2022-05-20T13:19:03.100195Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-epic-elgamal","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"912dc2d2-e071-4190-af52-1846818a8e87","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.783616Z","updated_at":"2022-05-20T13:19:03.783616Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-epic-elgamal","tags":[],"ip":{"id":"f6b710d3-d33b-4af1-b000-ccc2bd3b4705","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.770560Z","updated_at":"2022-05-20T13:19:03.770560Z","tags":[],"address":"51.15.251.41","reverse":"41-251-15-51.instances.scw.cloud","gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/912dc2d2-e071-4190-af52-1846818a8e87
    method: GET
  response:
    body: '{"id":"912dc2d2-e071-4190-af52-1846818a8e87","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.783616Z","updated_at":"2022-05-20T13:19:03.814805Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-epic-elgamal","tags":[],"ip":{"id":"f6b710d3-d33b-4af1-b000-ccc2bd3b4705","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.770560Z","updated_at":"2022-05-20T13:19:03.770560Z","tags":[],"address":"51.15.251.41","reverse":"41-251-15-51.instances.scw.cloud","gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","private_network_id":"79fe80a6-850b-4ca9-adc0-b279c4e8993e","enable_masquerade":true,"dhcp_id":"fed929d0-1341-4320-8ca0-86f0116a3eeb","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"f81d28a0-8cf2-4d14-a480-71458150482b","created_at":"2022-05-20T13:19:10.506046Z","updated_at":"2022-05-20T13:19:10.506046Z","gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","private_network_id":"79fe80a6-850b-4ca9-adc0-b279c4e8993e","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"fed929d0-1341-4320-8ca0-86f0116a3eeb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.129126Z","updated_at":"2022-05-20T13:19:03.129126Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f81d28a0-8cf2-4d14-a480-71458150482b
    method: GET
  response:
    body: '{"id":"f81d28a0-8cf2-4d14-a480-71458150482b","created_at":"2022-05-20T13:19:10.506046Z","updated_at":"2022-05-20T13:19:16.571665Z","gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","private_network_id":"79fe80a6-850b-4ca9-adc0-b279c4e8993e","mac_address":"02:00:00:01:24:99","enable_masquerade":true,"status":"ready","dhcp":{"id":"fed929d0-1341-4320-8ca0-86f0116a3eeb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:03.129126Z","updated_at":"2022-05-20T13:19:03.129126Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"000ff23c-444a-4f2e-bbb9-33627310715e","gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","created_at":"2022-05-20T13:19:21.292742Z","updated_at":"2022-05-20T13:19:21.292742Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/000ff23c-444a-4f2e-bbb9-33627310715e
    method: GET
  response:
    body: '{"id":"000ff23c-444a-4f2e-bbb9-33627310715e","gateway_id":"912dc2d2-e071-4190-af52-1846818a8e87","created_at":"2022-05-20T13:19:21.292742Z","updated_at":"2022-05-20T13:19:21.292742Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f81d28a0-8cf2-4d14-a480-71458150482b?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f81d28a0-8cf2-4d14-a480-71458150482b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"f81d28a0-8cf2-4d14-a480-71458150482b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/912dc2d2-e071-4190-af52-1846818a8e87?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
