---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"DataSourceSecret_Basic","tags":null,"description":"DataSourceSecret
      test description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-03-13T13:48:45.816148Z","description":"DataSourceSecret
      test description","id":"642d421d-63e7-452a-861f-2ef1f54f74df","name":"DataSourceSecret_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":[],"updated_at":"2023-03-13T13:48:45.816148Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/642d421d-63e7-452a-861f-2ef1f54f74df
    method: GET
  response:
    body: '{"created_at":"2023-03-13T13:48:45.816148Z","description":"DataSourceSecret
      test description","id":"642d421d-63e7-452a-861f-2ef1f54f74df","name":"DataSourceSecret_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":[],"updated_at":"2023-03-13T13:48:45.816148Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets-by-name/DataSourceSecret_Basic
    method: GET
  response:
    body: '{"created_at":"2023-03-13T13:48:45.816148Z","description":"DataSourceSecret
      test description","id":"642d421d-63e7-452a-861f-2ef1f54f74df","name":"DataSourceSecret_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":[],"updated_at":"2023-03-13T13:48:45.816148Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/642d421d-63e7-452a-861f-2ef1f54f74df
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"642d421d-63e7-452a-861f-2ef1f54f74df","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
