---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-admiring-rosalind","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-19T13:54:29.771859Z","id":"2adeaea0-f6cc-4ab8-acc7-4bad16e0daf4","name":"tf-pn-admiring-rosalind","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.8.0/22","fd63:256c:45f7:b370::/64"],"tags":[],"updated_at":"2023-05-19T13:54:29.771859Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2adeaea0-f6cc-4ab8-acc7-4bad16e0daf4
    method: GET
  response:
    body: '{"created_at":"2023-05-19T13:54:29.771859Z","id":"2adeaea0-f6cc-4ab8-acc7-4bad16e0daf4","name":"tf-pn-admiring-rosalind","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.8.0/22","fd63:256c:45f7:b370::/64"],"tags":[],"updated_at":"2023-05-19T13:54:29.771859Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.27.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"2adeaea0-f6cc-4ab8-acc7-4bad16e0daf4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-05-19T13:54:30.206005027Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8","ingress":"none","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"2adeaea0-f6cc-4ab8-acc7-4bad16e0daf4","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2023-05-19T13:54:30.217718850Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVWWGhQUkVWNlRsUlJlazFXYjFoRVZFMTZUVVJWZUU5RVJYcE9WRkY2VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8","container_runtime":"containerd","created_at":"2023-05-19T13:54:35.636429Z","id":"679e95e2-fb91-4553-9e08-42dc7a03c6e0","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-05-19T13:54:35.643396455Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/679e95e2-fb91-4553-9e08-42dc7a03c6e0
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8","container_runtime":"containerd","created_at":"2023-05-19T13:54:35.636429Z","id":"679e95e2-fb91-4553-9e08-42dc7a03c6e0","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-05-19T13:54:35.643396Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8/nodes?order_by=created_at_asc&page=1&pool_id=679e95e2-fb91-4553-9e08-42dc7a03c6e0&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-05-19T13:56:34.475978Z","error_message":null,"id":"8d47ec0d-76d7-4117-8fd6-19bfae6deb00","name":"scw-tf-cluster-pool-tf-pool-8d47ec0d76d741178f","pool_id":"679e95e2-fb91-4553-9e08-42dc7a03c6e0","provider_id":"scaleway://instance/fr-par-1/497f9914-4f1e-4197-95f1-7be1e333396b","public_ip_v4":"51.158.114.140","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-05-19T14:00:40.892571Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":null,"description":null,"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null},"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8
    method: PATCH
  response:
    body: '{"admissi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8","container_runtime":"containerd","created_at":"2023-05-19T13:54:35.636429Z","id":"679e95e2-fb91-4553-9e08-42dc7a03c6e0","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-05-19T14:00:40.906071Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8/nodes?order_by=created_at_asc&page=1&pool_id=679e95e2-fb91-4553-9e08-42dc7a03c6e0&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-05-19T13:56:34.475978Z","error_message":null,"id":"8d47ec0d-76d7-4117-8fd6-19bfae6deb00","name":"scw-tf-cluster-pool-tf-pool-8d47ec0d76d741178f","pool_id":"679e95e2-fb91-4553-9e08-42dc7a03c6e0","provider_id":"scaleway://instance/fr-par-1/497f9914-4f1e-4197-95f1-7be1e333396b","public_ip_v4":"51.158.114.140","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-05-19T14:00:58.966780Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"343f60f6-68fe-4a1a-b9ec-f9c2f19d76e8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
