---
version: 1
interactions:
- request:
    body: '{"name":"test_data_source_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"d0090abe-d38d-4c5e-87aa-55d0bd2400cc","name":"test_data_source_basic","description":"","created_at":"2022-10-04T15:12:04.683002Z","updated_at":"2022-10-04T15:12:04.683002Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/d0090abe-d38d-4c5e-87aa-55d0bd2400cc
    method: GET
  response:
    body: '{"id":"d0090abe-d38d-4c5e-87aa-55d0bd2400cc","name":"test_data_source_basic","description":"","created_at":"2022-10-04T15:12:04.683002Z","updated_at":"2022-10-04T15:12:04.683002Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=test_data_source_basic&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"applications":[{"id":"d0090abe-d38d-4c5e-87aa-55d0bd2400cc","name":"test_data_source_basic","description":"","created_at":"2022-10-04T15:12:04.683002Z","updated_at":"2022-10-04T15:12:04.683002Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=test_data_source_basic_renamed&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"applications":[{"id":"d0090abe-d38d-4c5e-87aa-55d0bd2400cc","name":"test_data_source_basic_renamed","description":"test_data_source_basic_description","created_at":"2022-10-04T15:12:04.683002Z","updated_at":"2022-10-04T15:12:11.399778Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/d0090abe-d38d-4c5e-87aa-55d0bd2400cc
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_application","resource_id":"d0090abe-d38d-4c5e-87aa-55d0bd2400cc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
