---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":[],"server_id":null,"reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"id":"02b0a05b-4b5c-47ae-b899-5f66f8da673d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","updated_at":"2022-01-06T13:37:40.102584935Z","created_at":"2021-07-21T08:31:20.705707Z","status":"ready","tags":[],"ip_address":"51.159.125.25","server_id":null,"reverse":"","mac_address":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/02b0a05b-4b5c-47ae-b899-5f66f8da673d
    method: GET
  response:
    body: '{"id":"02b0a05b-4b5c-47ae-b899-5f66f8da673d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","updated_at":"2022-01-06T13:37:40.102585Z","created_at":"2021-07-21T08:31:20.705707Z","status":"ready","tags":[],"ip_address":"51.159.125.25","server_id":null,"reverse":"","mac_address":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":1,"flexible_ips":[{"id":"02b0a05b-4b5c-47ae-b899-5f66f8da673d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","updated_at":"2022-01-06T13:37:40.102585Z","created_at":"2021-07-21T08:31:20.705707Z","status":"ready","tags":[],"ip_address":"51.159.125.25","server_id":null,"reverse":"","mac_address":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/02b0a05b-4b5c-47ae-b899-5f66f8da673d
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
