---
version: 2
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"dataSourceSecretVersionBasic","tags":["devtools","provider","terraform"],"description":"secret
      description","type":"unknown_type","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:30.664726Z","description":"secret description","ephemeral_policy":null,"id":"9a9cc414-0b6f-46be-b48a-335423727b82","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-02-16T07:43:30.664726Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9cc414-0b6f-46be-b48a-335423727b82
    method: GET
  response:
    body: '{"created_at":"2024-02-16T07:43:30.664726Z","description":"secret description","ephemeral_policy":null,"id":"9a9cc414-0b6f-46be-b48a-335423727b82","managed":false,"name":"dataSourceSecretVersionBasic","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2024-02-16T07:43:30.664726Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9cc414-0b6f-46be-b48a-335423727b82/versions
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:30.908272Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"9a9cc414-0b6f-46be-b48a-335423727b82","status":"enabled","updated_at":"2024-02-16T07:43:30.908272Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9cc414-0b6f-46be-b48a-335423727b82/versions/1
    method: GET
  response:
    body: '{"created_at":"2024-02-16T07:43:30.908272Z","description":"version1","ephemeral_properties":null,"latest":true,"revision":1,"secret_id":"9a9cc414-0b6f-46be-b48a-335423727b82","status":"enabled","updated_at":"2024-02-16T07:43:30.908272Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9cc414-0b6f-46be-b48a-335423727b82/versions/1/access
    method: GET
  response:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","data_crc32":null,"revision":1,"secret_id":"9a9cc414-0b6f-46be-b48a-335423727b82"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/9a9cc414-0b6f-46be-b48a-335423727b82/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"9a9cc414-0b6f-46be-b48a-335423727b82","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
