---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"16ef314c-3a66-493d-8059-f3d6c9318a35","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:37.869300Z","updated_at":"2022-04-12T10:03:37.869300Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"f3868ca6-cb68-4562-80c8-59f60488f60c","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:37.843719Z","updated_at":"2022-04-12T10:03:37.843719Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/16ef314c-3a66-493d-8059-f3d6c9318a35
    method: GET
  response:
    body: '{"id":"16ef314c-3a66-493d-8059-f3d6c9318a35","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:37.869300Z","updated_at":"2022-04-12T10:03:37.869300Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/f3868ca6-cb68-4562-80c8-59f60488f60c
    method: GET
  response:
    body: '{"id":"f3868ca6-cb68-4562-80c8-59f60488f60c","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:37.843719Z","updated_at":"2022-04-12T10:03:37.843719Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-sharp-stonebraker","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"5e2440dc-2749-493f-a590-427b56f045bb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:38.704030Z","updated_at":"2022-04-12T10:03:38.704030Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-sharp-stonebraker","tags":[],"ip":{"id":"8f07ed49-e661-49bc-83ea-406134838614","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:38.687320Z","updated_at":"2022-04-12T10:03:38.687320Z","tags":[],"address":"51.15.212.71","reverse":"71-212-15-51.instances.scw.cloud","gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5e2440dc-2749-493f-a590-427b56f045bb
    method: GET
  response:
    body: '{"id":"5e2440dc-2749-493f-a590-427b56f045bb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:38.704030Z","updated_at":"2022-04-12T10:03:38.737Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-sharp-stonebraker","tags":[],"ip":{"id":"8f07ed49-e661-49bc-83ea-406134838614","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:38.687320Z","updated_at":"2022-04-12T10:03:38.687320Z","tags":[],"address":"51.15.212.71","reverse":"71-212-15-51.instances.scw.cloud","gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","private_network_id":"f3868ca6-cb68-4562-80c8-59f60488f60c","enable_masquerade":true,"dhcp_id":"16ef314c-3a66-493d-8059-f3d6c9318a35","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"4eaa94fd-5353-43b9-947c-694208e64248","created_at":"2022-04-12T10:03:45.210724Z","updated_at":"2022-04-12T10:03:45.210724Z","gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","private_network_id":"f3868ca6-cb68-4562-80c8-59f60488f60c","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"16ef314c-3a66-493d-8059-f3d6c9318a35","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:37.869300Z","updated_at":"2022-04-12T10:03:37.869300Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4eaa94fd-5353-43b9-947c-694208e64248
    method: GET
  response:
    body: '{"id":"4eaa94fd-5353-43b9-947c-694208e64248","created_at":"2022-04-12T10:03:45.210724Z","updated_at":"2022-04-12T10:03:51.585912Z","gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","private_network_id":"f3868ca6-cb68-4562-80c8-59f60488f60c","mac_address":"02:00:00:01:0f:f2","enable_masquerade":true,"status":"ready","dhcp":{"id":"16ef314c-3a66-493d-8059-f3d6c9318a35","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:03:37.869300Z","updated_at":"2022-04-12T10:03:37.869300Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"8b14007e-bf99-44d7-a1b7-fb69a65b6b37","gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","created_at":"2022-04-12T10:03:55.975853Z","updated_at":"2022-04-12T10:03:55.975853Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/8b14007e-bf99-44d7-a1b7-fb69a65b6b37
    method: GET
  response:
    body: '{"id":"8b14007e-bf99-44d7-a1b7-fb69a65b6b37","gateway_id":"5e2440dc-2749-493f-a590-427b56f045bb","created_at":"2022-04-12T10:03:55.975853Z","updated_at":"2022-04-12T10:03:55.975853Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4eaa94fd-5353-43b9-947c-694208e64248?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4eaa94fd-5353-43b9-947c-694208e64248
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"4eaa94fd-5353-43b9-947c-694208e64248","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5e2440dc-2749-493f-a590-427b56f045bb?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
