---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/86df9ff8-7a77-492d-9b03-4f6205127499
    method: GET
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"86df9ff8-7a77-492d-9b03-4f6205127499","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:17:15.747817851Z","description":"","frontend_count":0,"id":"753f2bdc-008a-4738-99dd-4bb85d888352","instances":[],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"753f2bdc-008a-4738-99dd-4bb85d888352","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:17:15.747817851Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/753f2bdc-008a-4738-99dd-4bb85d888352
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:17:15.747818Z","description":"","frontend_count":0,"id":"753f2bdc-008a-4738-99dd-4bb85d888352","instances":[{"created_at":"2023-07-03T10:22:13.530827Z","id":"5714e092-f0bd-48a5-b267-344688931c4e","ip_address":"10.74.78.103","region":"fr-par","status":"unknown","updated_at":"2023-07-03T20:17:15.965211Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"753f2bdc-008a-4738-99dd-4bb85d888352","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:17:15.984344Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/753f2bdc-008a-4738-99dd-4bb85d888352/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-quirky-cori","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/753f2bdc-008a-4738-99dd-4bb85d888352/backends
    method: POST
  response:
    body: '{"created_at":"2023-07-03T20:17:46.597662456Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"ab36bd9d-548b-4d87-8fb1-f45110b2a5a2","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:17:15.747818Z","description":"","frontend_count":0,"id":"753f2bdc-008a-4738-99dd-4bb85d888352","instances":[{"created_at":"2023-07-03T10:22:13.530827Z","id":"5714e092-f0bd-48a5-b267-344688931c4e","ip_address":"10.74.78.103","region":"fr-par","status":"pending","updated_at":"2023-07-03T20:17:46.653270473Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"753f2bdc-008a-4738-99dd-4bb85d888352","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:17:18.085670Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-quirky-cori","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-03T20:17:46.597662456Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ab36bd9d-548b-4d87-8fb1-f45110b2a5a2
    method: GET
  response:
    body: '{"created_at":"2023-07-03T20:17:46.597662Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"}[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-trusting-knuth","inbound_port":80,"backend_id":"ab36bd9d-548b-4d87-8fb1-f45110b2a5a2","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/753f2bdc-008a-4738-99dd-4bb85d888352/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:17:46.597662Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"ab36bd9d-548b-4d87-8fb1-f45110b2a5a2","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:17:15.747818Z","description":"","frontend_count":1,"id":"753[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-zealous-kapitsa","inbound_port":80,"backend_id":"ab36bd9d-548b-4d87-8fb1-f45110b2a5a2","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/42173ab6-34a9-4638-b99b-055a13d65a42
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:17:46.597662Z","failover_host":null,"forward_port":8[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/42173ab6-34a9-4638-b99b-055a13d65a42/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/753f2bdc-008a-4738-99dd-4bb85d888352/frontends?name=tf-lb-frt-zealous-kapitsa&order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-07-03T20:17:46.597662Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"ab36bd9d-548b-4d87-8fb1-f45110b2a5a2","ignore_ssl_server_verify":false,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-quirky-cori","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-03T20:17:46.597662Z"},"certificate":null,"certificate_ids":[],"created_at":"2023-07-03T20:17:47.355362Z","enable_http3":false,"id":"42173ab6-34a9-4638-b99b-055a13d65a42","inbound_port":80,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"name":"tf-lb-frt-zealous-kapitsa","timeout_client":null,"updated_at":"2023-07-03T20:17:47.830792Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/753f2bdc-008a-4738-99dd-4bb85d888352?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/753f2bdc-008a-4738-99dd-4bb85d888352
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
