---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
    method: GET
  response:
    body: '{"created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2023-01-23T15:19:36.580542Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"owner","updated_at":"2023-01-23T15:19:36.576140Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-23T16:21:22.807737Z","description":"","editable":true,"id":"3dc100fc-0348-4f86-bac5-de340eedc45e","name":"app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-23T16:21:22.807737Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/3dc100fc-0348-4f86-bac5-de340eedc45e
    method: GET
  response:
    body: '{"created_at":"2023-01-23T16:21:22.807737Z","description":"","editable":true,"id":"3dc100fc-0348-4f86-bac5-de340eedc45e","name":"app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-23T16:21:22.807737Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_data_source_mix","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-23T16:21:22.949403Z","description":"","id":"40818dbb-2fb7-438d-b52b-a8df652b6e18","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-23T16:21:22.949403Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","d55bae64-4e2b-490f-9b2e-688715f60f6c"],"application_ids":["3dc100fc-0348-4f86-bac5-de340eedc45e"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/40818dbb-2fb7-438d-b52b-a8df652b6e18/members
    method: PUT
  response:
    body: '{"application_ids":["3dc100fc-0348-4f86-bac5-de340eedc45e"],"created_at":"2023-01-23T16:21:22.949403Z","description":"","id":"40818dbb-2fb7-438d-b52b-a8df652b6e18","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-23T16:21:22.949403Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","d55bae64-4e2b-490f-9b2e-688715f60f6c"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/40818dbb-2fb7-438d-b52b-a8df652b6e18
    method: GET
  response:
    body: '{"application_ids":["3dc100fc-0348-4f86-bac5-de340eedc45e"],"created_at":"2023-01-23T16:21:22.949403Z","description":"","id":"40818dbb-2fb7-438d-b52b-a8df652b6e18","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-23T16:21:22.949403Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: '{"groups":[{"application_ids":["3dc100fc-0348-4f86-bac5-de340eedc45e"],"created_at":"2023-01-23T16:21:22.949403Z","description":"","id":"40818dbb-2fb7-438d-b52b-a8df652b6e18","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-23T16:21:22.949403Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/40818dbb-2fb7-438d-b52b-a8df652b6e18
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"40818dbb-2fb7-438d-b52b-a8df652b6e18","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
