---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-6085206446766473534","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-28T15:58:01.995552Z","description":"","id":"05517173-2138-4612-804d-17f4a7beb9e8","name":"test-acc-scaleway-project-6085206446766473534","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","updated_at":"2023-11-28T15:58:01.995552Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-4360624887591064420","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-11-28T15:58:02.192472Z","description":"","editable":true,"id":"dde3dde7-0f76-427a-94f1-a9ad74aa8471","name":"test-acc-scaleway-iam-app-4360624887591064420","nb_api_keys":0,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"updated_at":"2023-11-28T15:58:02.192472Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-6884174698333980391","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["05517173-2138-4612-804d-17f4a7beb9e8"]}],"application_id":"dde3dde7-0f76-427a-94f1-a9ad74aa8471"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"dde3dde7-0f76-427a-94f1-a9ad74aa8471","created_at":"2023-11-28T15:58:02.262818Z","description":"","editable":true,"id":"70aa4a69-ccc5-4804-b32f-c1478a7e5501","name":"test-acc-scaleway-iam-policy-6884174698333980391","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"updated_at":"2023-11-28T15:58:02.262818Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"dde3dde7-0f76-427a-94f1-a9ad74aa8471","default_project_id":"05517173-2138-4612-804d-17f4a7beb9e8","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW8PCZ5Y194R78D5HP3","application_id":"dde3dde7-0f76-427a-94f1-a9ad74aa8471","created_at":"2023-11-28T15:58:02.489472Z","creation_ip":"90.22.206.134","default_project_id":"05517173-2138-4612-804d-17f4a7beb9e8","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-28T15:58:02.489472Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>nl-ams</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - b86017d61d4ad22a838e75e918325b623687c3e84d631bc2b6435970bf12473d
      X-Amz-Date:
      - 20231128T155805Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /test-acc-scaleway-object-bucket-7640872203030747116
      X-Amz-Request-Id:
      - txg5c82254049b9496fbf89-0065660e0d
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg06a201f0ea294672a558-0065660e0e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</DisplayName><ID>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</ID><DisplayName>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg34621d8331f24414ba20-0065660e0e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object
      Lock configuration does not exist for this bucket</Message><Resource>/test-acc-scaleway-object-bucket-7640872203030747116</Resource><RequestId>txg8f504e232c884f4d8bcc-0065660e0e</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg8f504e232c884f4d8bcc-0065660e0e
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-7640872203030747116</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgab980094ef9d4811b79c-0065660e0e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><Resource>/test-acc-scaleway-object-bucket-7640872203030747116</Resource><RequestId>txgca1944651fb6448ca9ec-0065660e0e</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgca1944651fb6448ca9ec-0065660e0e
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration
      does not exist</Message><Resource>/test-acc-scaleway-object-bucket-7640872203030747116</Resource><RequestId>txg14855251f1e94265bbf7-0065660e0e</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg14855251f1e94265bbf7-0065660e0e
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg9300cafa6b1d4f60b7d7-0065660e0e
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration
      does not exist</Message><Resource>/test-acc-scaleway-object-bucket-7640872203030747116</Resource><RequestId>txg521dc3d11cdb45108e52-0065660e0e</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg521dc3d11cdb45108e52-0065660e0e
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T155806Z
    url: https://test-acc-scaleway-object-bucket-7640872203030747116.s3.fr-par.scw.cloud/
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg00af9a6911714d4e883f-0065660e0e
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW8PCZ5Y194R78D5HP3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/70aa4a69-ccc5-4804-b32f-c1478a7e5501
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/dde3dde7-0f76-427a-94f1-a9ad74aa8471
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/05517173-2138-4612-804d-17f4a7beb9e8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
