---
version: 1
interactions:
- request:
    body: '{"name":"tf-volume","project":"9af7216e-7b97-404d-8ada-9f379eb39ae5","volume_type":"l_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "9288cade-2fd4-4ea7-a88c-7cf0055c49f3", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2021-05-11T15:46:46.582671+00:00", "modification_date":
      "2021-05-11T15:46:46.582671+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/9288cade-2fd4-4ea7-a88c-7cf0055c49f3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9288cade-2fd4-4ea7-a88c-7cf0055c49f3
    method: GET
  response:
    body: '{"volume": {"id": "9288cade-2fd4-4ea7-a88c-7cf0055c49f3", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2021-05-11T15:46:46.582671+00:00", "modification_date":
      "2021-05-11T15:46:46.582671+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
    method: GET
  response:
    body: '{"volumes": [{"id": "9288cade-2fd4-4ea7-a88c-7cf0055c49f3", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2021-05-11T15:46:46.582671+00:00", "modification_date":
      "2021-05-11T15:46:46.582671+00:00", "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=50&name=tf-volume>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9288cade-2fd4-4ea7-a88c-7cf0055c49f3
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''9288cade-2fd4-4ea7-a88c-7cf0055c49f3''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
