---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-15T09:19:39.925443Z","id":"8b6fbc8c-424a-4ca8-baf6-fc57c0511463","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.12.0/22","fd21:e31e:86f0:662c::/64"],"tags":[],"updated_at":"2023-05-15T09:19:39.925443Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/8b6fbc8c-424a-4ca8-baf6-fc57c0511463
    method: GET
  response:
    body: '{"created_at":"2023-05-15T09:19:39.925443Z","id":"8b6fbc8c-424a-4ca8-baf6-fc57c0511463","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.12.0/22","fd21:e31e:86f0:662c::/64"],"tags":[],"updated_at":"2023-05-15T09:19:39.925443Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2023-05-15T09:19:39.925443Z","id":"8b6fbc8c-424a-4ca8-baf6-fc57c0511463","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.12.0/22","fd21:e31e:86f0:662c::/64"],"tags":[],"updated_at":"2023-05-15T09:19:39.925443Z","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/8b6fbc8c-424a-4ca8-baf6-fc57c0511463
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"8b6fbc8c-424a-4ca8-baf6-fc57c0511463","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
