---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"7b886ce4-2141-4c8f-bf4c-9bf631ff2915","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:02.869437Z","updated_at":"2021-12-08T14:28:02.869437Z","tags":[],"address":"51.15.250.148","reverse":"148-250-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/7b886ce4-2141-4c8f-bf4c-9bf631ff2915
    method: GET
  response:
    body: '{"id":"7b886ce4-2141-4c8f-bf4c-9bf631ff2915","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:02.869437Z","updated_at":"2021-12-08T14:28:02.869437Z","tags":[],"address":"51.15.250.148","reverse":"148-250-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/7b886ce4-2141-4c8f-bf4c-9bf631ff2915
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"7b886ce4-2141-4c8f-bf4c-9bf631ff2915","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
