---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"a5b4e35b-245e-4b58-9f78-1e17984f0440","name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-04-19T13:45:50.219681Z","updated_at":"2022-04-19T13:45:50.219681Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/a5b4e35b-245e-4b58-9f78-1e17984f0440
    method: GET
  response:
    body: '{"id":"a5b4e35b-245e-4b58-9f78-1e17984f0440","name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-04-19T13:45:50.219681Z","updated_at":"2022-04-19T13:45:50.219681Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":13,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price_per_hour":{"currency_code":"EUR","units":0,"nanos":111000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["7c70ff80-dbfa-4e07-be73-1de0e60fe175","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","bd17a2bb-e686-486a-aacf-44fa8ce6e553","0058e276-66ef-4883-ad83-0e48536f635c","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","b4816d13-8585-4005-a7c7-54a031dd933b"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":16,"nanos":500000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":107,"nanos":250000000},"enabled":false,"subscription_period":"monthly","manageable":false[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/d17d6872-0412-45d9-a198-af82c34d3c5c
    method: GET
  response:
    body: '{"id":"d17d6872-0412-45d9-a198-af82c34d3c5c","name":"CentOS","version":"7.2","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/centos.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"root"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":false}'
    headers:
      Content-Type:
        - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"ddcac560-ebd0-476e-97f3-d8142dab8808","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-04-19T13:45:50.820177Z","created_at":"2022-04-19T13:45:50.820177Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ddcac560-ebd0-476e-97f3-d8142dab8808
    method: GET
  response:
    body: '{"id":"ddcac560-ebd0-476e-97f3-d8142dab8808","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-04-19T13:45:50.820177Z","created_at":"2022-04-19T13:45:50.820177Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ddcac560-ebd0-476e-97f3-d8142dab8808
    method: GET
  response:
    body: '{"id":"ddcac560-ebd0-476e-97f3-d8142dab8808","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-04-19T13:50:14.909136Z","created_at":"2022-04-19T13:45:50.820177Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[{"id":"599b5d30-a1dc-4310-9c75-dd4f26efd840","address":"2001:0bc8:1201:0400:da5e:d3ff:fe6c:745f","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"c6cac511-c14f-4e4f-a22a-45d558277d07","address":"51.159.111.57","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["a5b4e35b-245e-4b58-9f78-1e17984f0440"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ddcac560-ebd0-476e-97f3-d8142dab8808/install
    method: POST
  response:
    body: '{"id":"ddcac560-ebd0-476e-97f3-d8142dab8808","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-04-19T13:50:14.909136Z","created_at":"2022-04-19T13:45:50.820177Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["a5b4e35b-245e-4b58-9f78-1e17984f0440"],"status":"to_install","user":"root","service_user":"","service_url":""},"tags":[],"ips":[{"id":"599b5d30-a1dc-4310-9c75-dd4f26efd840","address":"2001:0bc8:1201:0400:da5e:d3ff:fe6c:745f","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"c6cac511-c14f-4e4f-a22a-45d558277d07","address":"51.159.111.57","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/25dcf38b-c90c-4b18-97a2-6956e9d1e113
    method: GET
  response:
    body: '{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"t[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers?name=TestAccScalewayDataSourceBaremetalServer_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":1,"servers":[{"id":"ddcac560-ebd0-476e-97f3-d8142dab8808","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-04-19T13:50:15.570651Z","created_at":"2022-04-19T13:45:50.820177Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["a5b4e35b-245e-4b58-9f78-1e17984f0440"],"status":"completed","user":"root","service_user":"","service_url":""},"tags":[],"ips":[{"id":"599b5d30-a1dc-4310-9c75-dd4f26efd840","address":"2001:0bc8:1201:0400:da5e:d3ff:fe6c:745f","reverse":"ddcac560-ebd0-476e-97f3-d8142dab8808.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"active","reverse_status_message":""},{"id":"c6cac511-c14f-4e4f-a22a-45d558277d07","address":"51.159.111.57","reverse":"ddcac560-ebd0-476e-97f3-d8142dab8808.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"active","reverse_status_message":""}],"domain":"ddcac560-ebd0-476e-97f3-d8142dab8808.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_up","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ddcac560-ebd0-476e-97f3-d8142dab8808
    method: GET
  response:
    body: '{"message":"Server not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
