---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/86df9ff8-7a77-492d-9b03-4f6205127499
    method: GET
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"86df9ff8-7a77-492d-9b03-4f6205127499","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:16:00.291364595Z","description":"","frontend_count":0,"id":"8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc","instances":[],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:16:00.291364595Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:16:00.291365Z","description":"","frontend_count":0,"id":"8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc","instances":[],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:16:00.291365Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-nervous-dewdney","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc/backends
    method: POST
  response:
    body: '{"created_at":"2023-07-03T20:16:30.989011509Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"ed481587-df65-4304-9706-02de1785ef1c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:16:00.291365Z","description":"","frontend_count":0,"id":"8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc","instances":[{"created_at":"2023-07-03T20:14:45.950314Z","id":"ce6b1a56-fba6-4a90-9174-1f4aefcb165b","ip_address":"10.64.192.5","region":"fr-par","status":"pending","updated_at":"2023-07-03T20:16:31.024608594Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:16:02.992919Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-nervous-dewdney","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-03T20:16:30.989011509Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ed481587-df65-4304-9706-02de1785ef1c
    method: GET
  response:
    body: '{"created_at":"2023-07-03T20:16:30.989012Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"}[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-goofy-morse","inbound_port":80,"backend_id":"ed481587-df65-4304-9706-02de1785ef1c","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:16:30.989012Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"ed481587-df65-4304-9706-02de1785ef1c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:16:00.291365Z","description":"","frontend_count":1,"id":"8c4[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-stoic-aryabhata","inbound_port":80,"backend_id":"ed481587-df65-4304-9706-02de1785ef1c","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/c6492d61-52e0-42d0-8633-1535069b4b03
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:16:30.989012Z","failover_host":null,"forward_port":8[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/c6492d61-52e0-42d0-8633-1535069b4b03/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"c6492d61-52e0-42d0-8633-1535069b4b03","backend_id":"ed481587-df65-4304-9706-02de1785ef1c","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"ed481587-df65-4304-9706-02de1785ef1c","created_at":"2023-07-03T20:16:32.961599282Z","frontend_id":"c6492d61-52e0-42d0-8633-1535069b4b03","id":"0dea1289-d08d-48ad-ba2b-f709efbf6b11","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-07-03T20:16:32.961599282Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/0dea1289-d08d-48ad-ba2b-f709efbf6b11
    method: GET
  response:
    body: '{"backend_id":"ed481587-df65-4304-9706-02de1785ef1c","created_at":"2023-07-03T20:16:32.961599Z","frontend_id":"c6492d61-52e0-42d0-8633-1535069b4b03","id":"0dea1289-d08d-48ad-ba2b-f709efbf6b11","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-07-03T20:16:32.961599Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=c6492d61-52e0-42d0-8633-1535069b4b03&order_by=created_at_asc
    method: GET
  response:
    body: '{"routes":[{"backend_id":"ed481587-df65-4304-9706-02de1785ef1c","created_at":"2023-07-03T20:16:32.961599Z","frontend_id":"c6492d61-52e0-42d0-8633-1535069b4b03","id":"0dea1289-d08d-48ad-ba2b-f709efbf6b11","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-07-03T20:16:32.961599Z"},{"backend_id":"ed481587-df65-4304-9706-02de1785ef1c","created_at":"2023-07-03T20:16:36.064478Z","frontend_id":"c6492d61-52e0-42d0-8633-1535069b4b03","id":"f7ba9aee-6f4d-44f6-95e4-1cacaba7070d","match":{"sni":"sni2.scaleway.com"},"updated_at":"2023-07-03T20:16:36.064478Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8c4bfaf5-2d7b-42d0-9d27-3678bd5886dc
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
