---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a8827e25-0d37-4b4e-9ea7-e71895cb4164","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:50.395764Z","updated_at":"2021-12-14T15:11:50.395764Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a8827e25-0d37-4b4e-9ea7-e71895cb4164
    method: GET
  response:
    body: '{"id":"a8827e25-0d37-4b4e-9ea7-e71895cb4164","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:50.395764Z","updated_at":"2021-12-14T15:11:50.395764Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"private_networks":[{"id":"a8827e25-0d37-4b4e-9ea7-e71895cb4164","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:50.395764Z","updated_at":"2021-12-14T15:11:50.395764Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a8827e25-0d37-4b4e-9ea7-e71895cb4164
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
