---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-distracted-perlman","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:36:28.625216+00:00","export_uri":null,"id":"e7b4a687-4ff1-4549-950a-d92e11450af3","modification_date":"2023-08-28T14:36:28.625216+00:00","name":"tf-vol-distracted-perlman","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e7b4a687-4ff1-4549-950a-d92e11450af3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e7b4a687-4ff1-4549-950a-d92e11450af3
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:36:28.625216+00:00","export_uri":null,"id":"e7b4a687-4ff1-4549-950a-d92e11450af3","modification_date":"2023-08-28T14:36:28.625216+00:00","name":"tf-vol-distracted-perlman","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snapshot-ds-basic","volume_id":"e7b4a687-4ff1-4549-950a-d92e11450af3","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"e7b4a687-4ff1-4549-950a-d92e11450af3","name":"tf-vol-distracted-perlman"},"creation_date":"2023-08-28T14:36:29.000311+00:00","error_details":null,"id":"d0797fa5-7339-4449-aebb-aba204b1c6a4","modification_date":"2023-08-28T14:36:29.000311+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_d0797fa5-7339-4449-aebb-aba204b1c6a4","href_from":"/snapshots","href_result":"snapshots/d0797fa5-7339-4449-aebb-aba204b1c6a4","id":"112dc10c-5527-4afd-83b0-5b8967a4ea5a","started_at":"2023-08-28T14:36:29.372396+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/d0797fa5-7339-4449-aebb-aba204b1c6a4
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"e7b4a687-4ff1-4549-950a-d92e11450af3","name":"tf-vol-distracted-perlman"},"creation_date":"2023-08-28T14:36:29.000311+00:00","error_details":null,"id":"d0797fa5-7339-4449-aebb-aba204b1c6a4","modification_date":"2023-08-28T14:36:29.000311+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=tf-snapshot-ds-basic
    method: GET
  response:
    body: '{"snapshots":[{"base_volume":{"id":"e7b4a687-4ff1-4549-950a-d92e11450af3","name":"tf-vol-distracted-perlman"},"creation_date":"2023-08-28T14:36:29.000311+00:00","error_details":null,"id":"d0797fa5-7339-4449-aebb-aba204b1c6a4","modification_date":"2023-08-28T14:36:33.246290+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=tf-snapshot-ds-basic>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/d0797fa5-7339-4449-aebb-aba204b1c6a4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"d0797fa5-7339-4449-aebb-aba204b1c6a4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
