---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-data-source-cluster","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:05:43.642330Z","dhcp_enabled":true,"id":"0df4a0a8-132c-4b88-8385-3fbdb86e1aa2","name":"test-data-source-cluster","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:05:43.642330Z","id":"67c12405-2e1c-4484-a811-4e78a5942d00","subnet":"172.16.4.0/22","updated_at":"2024-02-28T14:05:43.642330Z"},{"created_at":"2024-02-28T14:05:43.642330Z","id":"811c1e84-cb60-4e7c-b35a-b58f112f5c8a","subnet":"fd5f:519c:6d46:cf8d::/64","updated_at":"2024-02-28T14:05:43.642330Z"}],"tags":[],"updated_at":"2024-02-28T14:05:43.642330Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0df4a0a8-132c-4b88-8385-3fbdb86e1aa2
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:05:43.642330Z","dhcp_enabled":true,"id":"0df4a0a8-132c-4b88-8385-3fbdb86e1aa2","name":"test-data-source-cluster","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:05:43.642330Z","id":"67c12405-2e1c-4484-a811-4e78a5942d00","subnet":"172.16.4.0/22","updated_at":"2024-02-28T14:05:43.642330Z"},{"created_at":"2024-02-28T14:05:43.642330Z","id":"811c1e84-cb60-4e7c-b35a-b58f112f5c8a","subnet":"fd5f:519c:6d46:cf8d::/64","updated_at":"2024-02-28T14:05:43.642330Z"}],"tags":[],"updated_at":"2024-02-28T14:05:43.642330Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"0df4a0a8-132c-4b88-8385-3fbdb86e1aa2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://556fc21e-d80f-451c-a61a-b75db9fd0b80.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-02-28T14:05:45.295582239Z","created_at":"2024-02-28T14:05:45.295582239Z","description":"","dns_wildcard":"*.556fc21e-d80f-451c-a61a-b75db9fd0b80.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"556fc21e-d80f-451c-a61a-b75db9fd0b80","name":"tf-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"0df4a0a8-132c-4b88-8385-3fbdb86e1aa2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2024-02-28T14:05:45.306048902Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/556fc21e-d80f-451c-a61a-b75db9fd0b80
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/556fc21e-d80f-451c-a61a-b75db9fd0b80/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/556fc21e-d80f-451c-a61a-b75db9fd0b80/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpNRTFFU1hsT2VrVXdUVVJWTUU1c2IxaEVWRTB3VFVSSmVVNTZSVEJOUkZVd1RteHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZGdlE[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"clusters":[{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"clu[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/556fc21e-d80f-451c-a61a-b75db9fd0b80/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"556fc21e-d80f-451c-a61a-b75db9fd0b80","container_runtime":"containerd","created_at":"2024-02-28T14:05:50.846820Z","id":"a500448a-d585-4f38-abd7-4d58f6457a4f","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:05:50.854063815Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a500448a-d585-4f38-abd7-4d58f6457a4f
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"556fc21e-d80f-451c-a61a-b75db9fd0b80","container_runtime":"containerd","created_at":"2024-02-28T14:05:50.846820Z","id":"a500448a-d585-4f38-abd7-4d58f6457a4f","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:05:50.854064Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/556fc21e-d80f-451c-a61a-b75db9fd0b80/nodes?order_by=created_at_asc&page=1&pool_id=a500448a-d585-4f38-abd7-4d58f6457a4f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"556fc21e-d80f-451c-a61a-b75db9fd0b80","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:08:56.645868Z","error_message":null,"id":"cab57ed2-3366-4e6d-8e74-0411656e024e","name":"scw-tf-cluster-default-cab57ed233664e6d8e74041","pool_id":"a500448a-d585-4f38-abd7-4d58f6457a4f","provider_id":"scaleway://instance/fr-par-1/e1db41ec-2bf3-4ac3-b5b2-24f5531502a8","public_ip_v4":"163.172.164.115","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:11:52.439874Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a500448a-d585-4f38-abd7-4d58f6457a4f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"a500448a-d585-4f38-abd7-4d58f6457a4f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/556fc21e-d80f-451c-a61a-b75db9fd0b80?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
