---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/billing/v2alpha1/invoices?invoice_type=unknown_type&order_by=invoice_number_desc&started_after=2023-10-18T17%3A41%3A18%2B02%3A00
    method: GET
  response:
    body: '{"invoices":[{"due_date":null,"id":"984c8a54-7aa5-4c25-b3f6-5e51f5b0547e","invoice_type":"periodic","issued_date":null,"number":0,"start_date":"2023-10-01T00:00:00Z","total_taxed":{"currency_code":"EUR","nanos":760000000,"units":317},"total_untaxed":{"currency_code":"EUR","nanos":760000000,"units":317}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
