---
version: 1
interactions:
- request:
    body: '{"name":"vpc-02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-11T14:48:27.896980Z","id":"2dc12e38-d443-41bc-b400-63cfc0a27610","is_default":false,"name":"vpc-02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-11T14:48:27.896980Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2dc12e38-d443-41bc-b400-63cfc0a27610
    method: GET
  response:
    body: '{"created_at":"2024-01-11T14:48:27.896980Z","id":"2dc12e38-d443-41bc-b400-63cfc0a27610","is_default":false,"name":"vpc-02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-11T14:48:27.896980Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"my-pn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":"b562f6ac-5670-4619-ade1-786e4cd56fd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-11T14:48:28.293831Z","dhcp_enabled":true,"id":"e3664c0b-5c8d-44e2-8c26-506843ff9e64","name":"my-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-11T14:48:28.293831Z","id":"b7c2baca-79ae-455f-acec-47f75dde28e1","subnet":"172.16.80.0/22","updated_at":"2024-01-11T14:48:28.293831Z"},{"created_at":"2024-01-11T14:48:28.293831Z","id":"e77626ef-ce73-4979-9b5a-88d342345ce4","subnet":"fd46:78ab:30b8:a234::/64","updated_at":"2024-01-11T14:48:28.293831Z"}],"tags":[],"updated_at":"2024-01-11T14:48:28.293831Z","vpc_id":"b562f6ac-5670-4619-ade1-786e4cd56fd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e3664c0b-5c8d-44e2-8c26-506843ff9e64
    method: GET
  response:
    body: '{"created_at":"2024-01-11T14:48:28.293831Z","dhcp_enabled":true,"id":"e3664c0b-5c8d-44e2-8c26-506843ff9e64","name":"my-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-11T14:48:28.293831Z","id":"b7c2baca-79ae-455f-acec-47f75dde28e1","subnet":"172.16.80.0/22","updated_at":"2024-01-11T14:48:28.293831Z"},{"created_at":"2024-01-11T14:48:28.293831Z","id":"e77626ef-ce73-4979-9b5a-88d342345ce4","subnet":"fd46:78ab:30b8:a234::/64","updated_at":"2024-01-11T14:48:28.293831Z"}],"tags":[],"updated_at":"2024-01-11T14:48:28.293831Z","vpc_id":"b562f6ac-5670-4619-ade1-786e4cd56fd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=my-pn&order_by=created_at_asc&vpc_id=b562f6ac-5670-4619-ade1-786e4cd56fd5
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2024-01-11T14:48:28.293831Z","dhcp_enabled":true,"id":"e3664c0b-5c8d-44e2-8c26-506843ff9e64","name":"my-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-11T14:48:28.293831Z","id":"b7c2baca-79ae-455f-acec-47f75dde28e1","subnet":"172.16.80.0/22","updated_at":"2024-01-11T14:48:28.293831Z"},{"created_at":"2024-01-11T14:48:28.293831Z","id":"e77626ef-ce73-4979-9b5a-88d342345ce4","subnet":"fd46:78ab:30b8:a234::/64","updated_at":"2024-01-11T14:48:28.293831Z"}],"tags":[],"updated_at":"2024-01-11T14:48:28.293831Z","vpc_id":"b562f6ac-5670-4619-ade1-786e4cd56fd5"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e3664c0b-5c8d-44e2-8c26-506843ff9e64
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"e3664c0b-5c8d-44e2-8c26-506843ff9e64","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
