---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-agitated-swartz","organization":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:29:56.158527+00:00","export_uri":null,"id":"660c51b1-f4da-4b44-a07d-2f957578c2fc","modification_date":"2023-10-16T16:29:56.158527+00:00","name":"tf-vol-agitated-swartz","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/660c51b1-f4da-4b44-a07d-2f957578c2fc
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/660c51b1-f4da-4b44-a07d-2f957578c2fc
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:29:56.158527+00:00","export_uri":null,"id":"660c51b1-f4da-4b44-a07d-2f957578c2fc","modification_date":"2023-10-16T16:29:56.158527+00:00","name":"tf-vol-agitated-swartz","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snapshot-ds-basic","volume_id":"660c51b1-f4da-4b44-a07d-2f957578c2fc","organization":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"660c51b1-f4da-4b44-a07d-2f957578c2fc","name":"tf-vol-agitated-swartz"},"creation_date":"2023-10-16T16:29:56.595375+00:00","error_details":null,"id":"749e4ca5-55c9-4e47-ad87-19bb2794c632","modification_date":"2023-10-16T16:29:56.595375+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_749e4ca5-55c9-4e47-ad87-19bb2794c632","href_from":"/snapshots","href_result":"snapshots/749e4ca5-55c9-4e47-ad87-19bb2794c632","id":"51bfd8ac-c393-4574-acea-8c0a54631b0c","started_at":"2023-10-16T16:29:57.266711+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/749e4ca5-55c9-4e47-ad87-19bb2794c632
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"660c51b1-f4da-4b44-a07d-2f957578c2fc","name":"tf-vol-agitated-swartz"},"creation_date":"2023-10-16T16:29:56.595375+00:00","error_details":null,"id":"749e4ca5-55c9-4e47-ad87-19bb2794c632","modification_date":"2023-10-16T16:29:56.595375+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=tf-snapshot-ds-basic
    method: GET
  response:
    body: '{"snapshots":[{"base_volume":{"id":"660c51b1-f4da-4b44-a07d-2f957578c2fc","name":"tf-vol-agitated-swartz"},"creation_date":"2023-10-16T16:29:56.595375+00:00","error_details":null,"id":"749e4ca5-55c9-4e47-ad87-19bb2794c632","modification_date":"2023-10-16T16:30:01.574547+00:00","name":"tf-snapshot-ds-basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":2000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </snapshots?page=1&per_page=50&name=tf-snapshot-ds-basic>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/749e4ca5-55c9-4e47-ad87-19bb2794c632
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"749e4ca5-55c9-4e47-ad87-19bb2794c632","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
