---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-2328245018459261338","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:29.141598Z","description":"","id":"826f039c-5791-4225-885c-44adaa1896ca","name":"test-acc-scaleway-project-2328245018459261338","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-02-16T07:43:29.141598Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-3212950932379026846","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:29.461318Z","description":"","editable":true,"id":"7dc2190a-fe32-4deb-972c-334ea4cc7263","name":"test-acc-scaleway-iam-app-3212950932379026846","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-02-16T07:43:29.461318Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-1105392105642244642","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"7dc2190a-fe32-4deb-972c-334ea4cc7263"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"7dc2190a-fe32-4deb-972c-334ea4cc7263","created_at":"2024-02-16T07:43:29.555427Z","description":"","editable":true,"id":"4f091907-5c38-4d80-9bc6-2ea51404c810","name":"test-acc-scaleway-iam-policy-1105392105642244642","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-02-16T07:43:29.555427Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"7dc2190a-fe32-4deb-972c-334ea4cc7263","default_project_id":"826f039c-5791-4225-885c-44adaa1896ca","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWB972WS5KC3RCEK7W6","application_id":"7dc2190a-fe32-4deb-972c-334ea4cc7263","created_at":"2024-02-16T07:43:29.902468Z","creation_ip":"51.159.73.145","default_project_id":"826f039c-5791-4225-885c-44adaa1896ca","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-02-16T07:43:29.902468Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"826f039c-5791-4225-885c-44adaa1896ca","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret
      test description","type":"unknown_type","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-02-16T07:43:30.723716Z","description":"DataSourceSecret
      test description","ephemeral_policy":null,"id":"6bb54644-9ae1-4170-bc9e-174856360dd8","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"826f039c-5791-4225-885c-44adaa1896ca","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-02-16T07:43:30.723716Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6bb54644-9ae1-4170-bc9e-174856360dd8
    method: GET
  response:
    body: '{"created_at":"2024-02-16T07:43:30.723716Z","description":"DataSourceSecret
      test description","ephemeral_policy":null,"id":"6bb54644-9ae1-4170-bc9e-174856360dd8","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"826f039c-5791-4225-885c-44adaa1896ca","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-02-16T07:43:30.723716Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&project_id=826f039c-5791-4225-885c-44adaa1896ca
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2024-02-16T07:43:30.723716Z","description":"DataSourceSecret
      test description","ephemeral_policy":null,"id":"6bb54644-9ae1-4170-bc9e-174856360dd8","managed":false,"name":"scalewayDataSourceSecret","path":"/","project_id":"826f039c-5791-4225-885c-44adaa1896ca","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-02-16T07:43:30.723716Z","version_count":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWB972WS5KC3RCEK7W6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4f091907-5c38-4d80-9bc6-2ea51404c810
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/7dc2190a-fe32-4deb-972c-334ea4cc7263
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/826f039c-5791-4225-885c-44adaa1896ca
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/6bb54644-9ae1-4170-bc9e-174856360dd8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"6bb54644-9ae1-4170-bc9e-174856360dd8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
