---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"39d2f2be-ff5a-4dcf-95e6-b01ea3dcc6b5","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.099721Z","updated_at":"2022-07-21T15:05:22.099721Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-kind-dirac","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"637b315f-71e7-4397-a766-bccd49cd852a","name":"tf-pn-kind-dirac","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.079597Z","updated_at":"2022-07-21T15:05:22.079597Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/637b315f-71e7-4397-a766-bccd49cd852a
    method: GET
  response:
    body: '{"id":"637b315f-71e7-4397-a766-bccd49cd852a","name":"tf-pn-kind-dirac","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.079597Z","updated_at":"2022-07-21T15:05:22.079597Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/39d2f2be-ff5a-4dcf-95e6-b01ea3dcc6b5
    method: GET
  response:
    body: '{"id":"39d2f2be-ff5a-4dcf-95e6-b01ea3dcc6b5","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.099721Z","updated_at":"2022-07-21T15:05:22.099721Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d83c1dbe-afbb-4a30-93d4-fc9922cdc5d6","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.736434Z","updated_at":"2022-07-21T15:05:22.736434Z","tags":[],"address":"51.15.142.124","reverse":"124-142-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/d83c1dbe-afbb-4a30-93d4-fc9922cdc5d6
    method: GET
  response:
    body: '{"id":"d83c1dbe-afbb-4a30-93d4-fc9922cdc5d6","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.736434Z","updated_at":"2022-07-21T15:05:22.736434Z","tags":[],"address":"51.15.142.124","reverse":"124-142-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf-pn-sweet-khorana","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"d83c1dbe-afbb-4a30-93d4-fc9922cdc5d6","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"af44020e-e602-49e2-b6a9-cbeedb12213b","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:23.279801Z","updated_at":"2022-07-21T15:05:23.279801Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-sweet-khorana","tags":[],"ip":{"id":"d83c1dbe-afbb-4a30-93d4-fc9922cdc5d6","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.736434Z","updated_at":"2022-07-21T15:05:22.736434Z","tags":[],"address":"51.15.142.124","reverse":"124-142-15-51.instances.scw.cloud","gateway_id":"af44020e-e602-49e2-b6a9-cbeedb12213b","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/af44020e-e602-49e2-b6a9-cbeedb12213b
    method: GET
  response:
    body: '{"id":"af44020e-e602-49e2-b6a9-cbeedb12213b","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:23.279801Z","updated_at":"2022-07-21T15:05:23.491722Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"configuring","name":"tf-pn-sweet-khorana","tags":[],"ip":{"id":"d83c1dbe-afbb-4a30-93d4-fc9922cdc5d6","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.736434Z","updated_at":"2022-07-21T15:05:22.736434Z","tags":[],"address":"51.15.142.124","reverse":"124-142-15-51.instances.scw.cloud","gateway_id":"af44020e-e602-49e2-b6a9-cbeedb12213b","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"af44020e-e602-49e2-b6a9-cbeedb12213b","private_network_id":"637b315f-71e7-4397-a766-bccd49cd852a","enable_masquerade":true,"dhcp_id":"39d2f2be-ff5a-4dcf-95e6-b01ea3dcc6b5","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"20f2145f-00eb-4246-851e-bf91feaf370a","created_at":"2022-07-21T15:05:29.747329Z","updated_at":"2022-07-21T15:05:29.747329Z","gateway_id":"af44020e-e602-49e2-b6a9-cbeedb12213b","private_network_id":"637b315f-71e7-4397-a766-bccd49cd852a","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"39d2f2be-ff5a-4dcf-95e6-b01ea3dcc6b5","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.099721Z","updated_at":"2022-07-21T15:05:22.099721Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/20f2145f-00eb-4246-851e-bf91feaf370a
    method: GET
  response:
    body: '{"id":"20f2145f-00eb-4246-851e-bf91feaf370a","created_at":"2022-07-21T15:05:29.747329Z","updated_at":"2022-07-21T15:05:36.335774Z","gateway_id":"af44020e-e602-49e2-b6a9-cbeedb12213b","private_network_id":"637b315f-71e7-4397-a766-bccd49cd852a","mac_address":"02:00:00:01:4a:7f","enable_masquerade":true,"status":"ready","dhcp":{"id":"39d2f2be-ff5a-4dcf-95e6-b01ea3dcc6b5","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-21T15:05:22.099721Z","updated_at":"2022-07-21T15:05:22.099721Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/20f2145f-00eb-4246-851e-bf91feaf370a?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/20f2145f-00eb-4246-851e-bf91feaf370a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"20f2145f-00eb-4246-851e-bf91feaf370a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/af44020e-e602-49e2-b6a9-cbeedb12213b?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
