---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"created_at":"2022-01-27T09:48:44.921507Z","description":"","id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"default","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2022-01-27T09:48:44.921507Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
