---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/plans?order_by=name_asc&page=1
    method: GET
  response:
    body: '{"plans":[{"id":"38ed62e2-23a4-45b3-89f8-db881bd193f8","logs_ingestion_price":35,"name":"custom","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15},{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},{"id":"dd6d77ff-7ca8-41eb-93ae-1443311664b2","logs_ingestion_price":35,"name":"premium","retention_logs_interval":"2678400s","retention_metrics_interval":"31536000s","retention_price":29,"sample_ingestion_price":15}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_datasource_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-05-16T15:21:30.930106Z","description":"","id":"f64952a5-42d0-4d91-b1b1-219c429bb107","name":"tf_tests_datasource_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-16T15:21:30.930106Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/f64952a5-42d0-4d91-b1b1-219c429bb107
    method: GET
  response:
    body: '{"created_at":"2023-05-16T15:21:30.930106Z","description":"","id":"f64952a5-42d0-4d91-b1b1-219c429bb107","name":"tf_tests_datasource_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-05-16T15:21:30.930106Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"f64952a5-42d0-4d91-b1b1-219c429bb107"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-05-16T15:21:37.500875Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://f64952a5-42d0-4d91-b1b1-219c429bb107.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"f64952a5-42d0-4d91-b1b1-219c429bb107","status":"creating","updated_at":"2023-05-16T15:21:37.500875Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: '{"created_at":"2023-02-17T15:58:33.478934Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://105bdce1-64c0-48ab-899d-868455867ecf.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","updated_at":"2023-03-30T13:23:41.008080Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"f64952a5-42d0-4d91-b1b1-219c429bb107"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-05-16T15:21:37.500875Z","endpoints":{"alertmanager_url":"https://alertmanager.cockpit.fr-par.scw.cloud","grafana_url":"https://f64952a5-42d0-4d91-b1b1-219c429bb107.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.cockpit.fr-par.scw.cloud","metrics_url":"https://metrics.cockpit.fr-par.scw.cloud"},"managed_alerts_enabled":false,"plan":{"id":"2cf9b13e-8737-42c6-9b30-9032b0d72693","logs_ingestion_price":35,"name":"free","retention_logs_interval":"604800s","retention_metrics_interval":"2678400s","retention_price":0,"sample_ingestion_price":15},"project_id":"f64952a5-42d0-4d91-b1b1-219c429bb107","status":"deleting","updated_at":"2023-05-16T15:22:14.724513Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=f64952a5-42d0-4d91-b1b1-219c429bb107
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"f64952a5-42d0-4d91-b1b1-219c429bb107","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
