---
version: 1
interactions:
- request:
    body: '{"name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"id":"31f3176d-beee-4a57-b2f7-789c7ab522b6","name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-06T12:25:17.281320Z","updated_at":"2022-10-06T12:25:17.281320Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/31f3176d-beee-4a57-b2f7-789c7ab522b6
    method: GET
  response:
    body: '{"id":"31f3176d-beee-4a57-b2f7-789c7ab522b6","name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-06T12:25:17.281320Z","updated_at":"2022-10-06T12:25:17.281320Z","description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects?name=test-terraform-account-project&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"total_count":1,"projects":[{"id":"31f3176d-beee-4a57-b2f7-789c7ab522b6","name":"test-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-06T12:25:17.281320Z","updated_at":"2022-10-06T12:25:17.281320Z","description":""}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/31f3176d-beee-4a57-b2f7-789c7ab522b6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project","resource_id":"31f3176d-beee-4a57-b2f7-789c7ab522b6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
