---
version: 1
interactions:
- request:
    body: '{"project":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "bff0fd15-5366-4148-bbbc-13214c403187", "address": "51.15.143.65", "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/ips/bff0fd15-5366-4148-bbbc-13214c403187
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/bff0fd15-5366-4148-bbbc-13214c403187
    method: GET
  response:
    body: '{"ip": {"id": "bff0fd15-5366-4148-bbbc-13214c403187", "address": "51.15.143.65", "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/51.15.143.65
    method: GET
  response:
    body: '{"ip": {"id": "bff0fd15-5366-4148-bbbc-13214c403187", "address": "51.15.143.65", "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "zone": "fr-par-1", "tags": []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
