---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b8f38b70-2418-4a16-8ada-b62d9f5049a0","ip_address":"51.159.114.122","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-122.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b8f38b70-2418-4a16-8ada-b62d9f5049a0
    method: GET
  response:
    body: '{"id":"b8f38b70-2418-4a16-8ada-b62d9f5049a0","ip_address":"51.159.114.122","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-122.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"b8f38b70-2418-4a16-8ada-b62d9f5049a0","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T15:25:43.157496833Z","description":"","frontend_count":0,"id":"b6097202-24f5-455a-a760-46df07b994b4","instances":[],"ip":[{"id":"b8f38b70-2418-4a16-8ada-b62d9f5049a0","ip_address":"51.159.114.122","lb_id":"b6097202-24f5-455a-a760-46df07b994b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-122.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T15:25:43.157496833Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b6097202-24f5-455a-a760-46df07b994b4
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T15:25:43.157497Z","description":"","frontend_count":0,"id":"b6097202-24f5-455a-a760-46df07b994b4","instances":[{"created_at":"2023-02-20T15:18:16.967861Z","id":"65909d26-dd18-4d3d-b90c-3f32f0b70c25","ip_address":"10.70.18.67","region":"fr-par","status":"unknown","updated_at":"2023-02-20T15:25:43.408727Z","zone":"fr-par-1"}],"ip":[{"id":"b8f38b70-2418-4a16-8ada-b62d9f5049a0","ip_address":"51.159.114.122","lb_id":"b6097202-24f5-455a-a760-46df07b994b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-122.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T15:25:43.425165Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b6097202-24f5-455a-a760-46df07b994b4/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-keen-ishizaka","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b6097202-24f5-455a-a760-46df07b994b4/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-20T15:26:14.160404292Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"16db3ed2-98b9-4a9e-8081-e78b4553efe0","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-20T15:25:43.157497Z","description":"","frontend_count":0,"id":"b6097202-24f5-455a-a760-46df07b994b4","instances":[{"created_at":"2023-02-20T15:18:16.967861Z","id":"65909d26-dd18-4d3d-b90c-3f32f0b70c25","ip_address":"10.70.18.67","region":"fr-par","status":"pending","updated_at":"2023-02-20T15:26:14.192400416Z","zone":"fr-par-1"}],"ip":[{"id":"b8f38b70-2418-4a16-8ada-b62d9f5049a0","ip_address":"51.159.114.122","lb_id":"b6097202-24f5-455a-a760-46df07b994b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-114-122.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T15:25:44.712178Z","zone":"fr-par-1"},"name":"tf-lb-bkd-keen-ishizaka","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-20T15:26:14.160404292Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/16db3ed2-98b9-4a9e-8081-e78b4553efe0
    method: GET
  response:
    body: '{"created_at":"2023-02-20T15:26:14.160404Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"16db3ed2-98b9-4a9e-8081-e7[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-affectionate-kepler","inbound_port":80,"backend_id":"16db3ed2-98b9-4a9e-8081-e78b4553efe0","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b6097202-24f5-455a-a760-46df07b994b4/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-20T15:26:14.160404Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"16db3ed2-98b9-4a9e-8081-e78b4553efe0","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-20T15:25:43.157497Z","description":"","frontend_count":1,"id":"b6097202-24f5-455a-a760-46df07b994b4[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/56741f2d-0d6d-4c2e-94ff-f8ada0f7de59/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/56741f2d-0d6d-4c2e-94ff-f8ada0f7de59
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-20T15:26:14.160404Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"16db3ed2-98b9-[...]
[...]
- request:
    body: '{"frontend_id":"56741f2d-0d6d-4c2e-94ff-f8ada0f7de59","backend_id":"16db3ed2-98b9-4a9e-8081-e78b4553efe0","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"16db3ed2-98b9-4a9e-8081-e78b4553efe0","created_at":"2023-02-20T15:26:15.431777777Z","frontend_id":"56741f2d-0d6d-4c2e-94ff-f8ada0f7de59","id":"c2ef4e07-c7f5-4558-98f6-adedf0450030","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-20T15:26:15.431777777Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/c2ef4e07-c7f5-4558-98f6-adedf0450030
    method: GET
  response:
    body: '{"backend_id":"16db3ed2-98b9-4a9e-8081-e78b4553efe0","created_at":"2023-02-20T15:26:15.431778Z","frontend_id":"56741f2d-0d6d-4c2e-94ff-f8ada0f7de59","id":"c2ef4e07-c7f5-4558-98f6-adedf0450030","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-20T15:26:15.431778Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b6097202-24f5-455a-a760-46df07b994b4?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b6097202-24f5-455a-a760-46df07b994b4
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
