---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"4ea625b6-7894-478f-ba27-d72eea37b087","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-19T16:24:06.313629Z","updated_at":"2020-10-19T16:24:06.313629Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/4ea625b6-7894-478f-ba27-d72eea37b087
    method: GET
  response:
    body: '{"id":"4ea625b6-7894-478f-ba27-d72eea37b087","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-19T16:24:06.313629Z","updated_at":"2020-10-19T16:24:06.313629Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"private_networks":[{"id":"4ea625b6-7894-478f-ba27-d72eea37b087","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-19T16:24:06.313629Z","updated_at":"2020-10-19T16:24:06.313629Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
