---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/d55bae64-4e2b-490f-9b2e-688715f60f6c
    method: GET
  response:
    body: '{"account_root_user_id":"4b117b51-e3c4-4d2c-882b-9dc8c271a2ce","created_at":"2022-03-29T11:44:54.791271Z","deletable":true,"email":"jbernabe@scaleway.com","id":"d55bae64-4e2b-490f-9b2e-688715f60f6c","last_login_at":"2023-06-07T13:03:33.511186Z","mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":false,"type":"guest","updated_at":"2023-06-07T13:03:33.496319Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T12:16:34.819555Z","description":"","editable":true,"id":"b2046bf8-d6a2-49e7-94ea-f0f9031b6825","name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T12:16:34.819555Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b2046bf8-d6a2-49e7-94ea-f0f9031b6825
    method: GET
  response:
    body: '{"created_at":"2023-06-21T12:16:34.819555Z","description":"","editable":true,"id":"b2046bf8-d6a2-49e7-94ea-f0f9031b6825","name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T12:16:34.819555Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_test_data_source_mix","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T12:16:34.950714Z","description":"","id":"f6b4709c-26b6-457b-aaed-5309731ea998","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T12:16:34.950714Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","d55bae64-4e2b-490f-9b2e-688715f60f6c"],"application_ids":["b2046bf8-d6a2-49e7-94ea-f0f9031b6825"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/f6b4709c-26b6-457b-aaed-5309731ea998/members
    method: PUT
  response:
    body: '{"application_ids":["b2046bf8-d6a2-49e7-94ea-f0f9031b6825"],"created_at":"2023-06-21T12:16:34.950714Z","description":"","id":"f6b4709c-26b6-457b-aaed-5309731ea998","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T12:16:34.950714Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","d55bae64-4e2b-490f-9b2e-688715f60f6c"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/f6b4709c-26b6-457b-aaed-5309731ea998
    method: GET
  response:
    body: '{"application_ids":["b2046bf8-d6a2-49e7-94ea-f0f9031b6825"],"created_at":"2023-06-21T12:16:34.950714Z","description":"","id":"f6b4709c-26b6-457b-aaed-5309731ea998","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T12:16:34.950714Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=tf_test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: '{"groups":[{"application_ids":["b2046bf8-d6a2-49e7-94ea-f0f9031b6825"],"created_at":"2023-06-21T12:16:34.950714Z","description":"","id":"f6b4709c-26b6-457b-aaed-5309731ea998","name":"tf_test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T12:16:34.950714Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/f6b4709c-26b6-457b-aaed-5309731ea998
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"f6b4709c-26b6-457b-aaed-5309731ea998","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
