---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.20.0","label":"Kubernetes 1.20.0","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","crio","containerd"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodPreset","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.19.4","label":"Kubernetes
      1.19.4","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","crio","containerd"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","Always[...]
- request:
    body: '{"project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.20.0","cni":"cilium","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"016f5331-d681-4b70-b757-391384ebe6b6","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-12-10T07:18:04.374839780Z","updated_at":"2020-12-10T07:18:06.009421216Z","name":"tf-cluster-pool","description":"","status":"creating","version":"1.20.0","cni":"cilium","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"cluster_url":"https://016f5331-d681-4b70-b757-391384ebe6b6.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.016f5331-d681-4b70-b757-391384ebe6b6.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":600},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6
    method: GET
  response:
    body: '{"region":"fr-par","id":"016f5331-d681-4b70-b757-391384ebe6b6","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-12-10T07:18:04.374840Z","updated_at":"2020-12-10T07:18:06.009421Z","name":"tf-cluster-pool","description":"","status":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogdGZjbHVzdGVycG9vbAogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZDAxVVNYZFBWRUV6VFZSbmQwNXNiMWhFVkUxM1RWUkpkMDlVUVROTlZHZDNUbXh2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFFWRnZ[...]
[...]
- request:
    body: '{"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"1521fc24-f4fe-4d19-b8bd-cd9a5c282ff5","cluster_id":"016f5331-d681-4b70-b757-391384ebe6b6","created_at":"2020-12-10T07:18:11.990115Z","updated_at":"2020-12-10T07:18:12.021712070Z","name":"tf-pool","status":"scaling","version":"1.20.0","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1521fc24-f4fe-4d19-b8bd-cd9a5c282ff5
    method: GET
  response:
    body: '{"region":"fr-par","id":"1521fc24-f4fe-4d19-b8bd-cd9a5c282ff5","cluster_id":"016f5331-d681-4b70-b757-391384ebe6b6","created_at":"2020-12-10T07:18:11.990115Z","updated_at":"2020-12-10T07:18:12.021712Z","name":"tf-pool","status":"scaling","version":"1.20.0","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6/nodes?order_by=created_at_asc&page=1&pool_id=1521fc24-f4fe-4d19-b8bd-cd9a5c282ff5&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"c4467c81-1b41-41b4-a64e-0132db0d93f7","cluster_id":"016f5331-d681-4b70-b757-391384ebe6b6","created_at":"2020-12-10T07:19:04.603682Z","updated_at":"2020-12-10T07:19:04.603682Z","pool_id":"1521fc24-f4fe-4d19-b8bd-cd9a5c282ff5","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-tf-cluster-pool-tf-pool-c4467c811b4141b4a6","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"1521fc24-f4fe-4d19-b8bd-cd9a5c282ff5","cluster_id":"016f5331-d681-4b70-b757-391384ebe6b6","created_at":"2020-12-10T07:18:11.990115Z","updated_at":"2020-12-10T07:18:12.021712Z","name":"tf-pool","status":"scaling","version":"1.20.0","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":null,"description":null,"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null},"enable_dashboard":null,"ingress":"unknown_ingress","auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6
    method: PATCH
  response:
    body: '{"region":"fr-par","id":"016f5331-d681-4b70-b757-391384ebe6b6","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","cre[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"016f5331-d681-4b70-b757-391384ebe6b6","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-12-10T07:18:04.374840Z","updated_at":"2020-12-10T07:20:20.011920939Z","name":"tf-cl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/016f5331-d681-4b70-b757-391384ebe6b6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
