---
version: 1
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-ds-document_db-instance-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:34:23.373857Z","retention":7},"created_at":"2023-11-16T16:34:23.373857Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6c30b33e-bc98-407c-aa10-40fa4f262476","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6c30b33e-bc98-407c-aa10-40fa4f262476
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:34:23.373857Z","retention":7},"created_at":"2023-11-16T16:34:23.373857Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6c30b33e-bc98-407c-aa10-40fa4f262476","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6c30b33e-bc98-407c-aa10-40fa4f262476
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:34:23.373857Z","retention":7},"created_at":"2023-11-16T16:34:23.373857Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6c30b33e-bc98-407c-aa10-40fa4f262476","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6c30b33e-bc98-407c-aa10-40fa4f262476
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:34:23.373857Z","retention":7},"created_at":"2023-11-16T16:34:23.373857Z","endpoint":{"id":"d66e1035-a446-4544-b895-941d6d4a8b89","ip":"51.159.26.195","load_balancer":{},"name":null,"port":13520},"endpoints":[{"id":"d66e1035-a446-4544-b895-941d6d4a8b89","ip":"51.159.26.195","load_balancer":{},"name":null,"port":13520}],"engine":"FerretDB-1","id":"6c30b33e-bc98-407c-aa10-40fa4f262476","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances?name=test-ds-document_db-instance-basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"instances":[{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:34:23.373857Z","retention":7},"created_at":"2023-11-16T16:34:23.373857Z","endpoint":{"id":"d66e1035-a446-4544-b895-941d6d4a8b89","ip":"51.159.26.195","load_balancer":{},"name":null,"port":13520},"endpoints":[{"id":"d66e1035-a446-4544-b895-941d6d4a8b89","ip":"51.159.26.195","load_balancer":{},"name":null,"port":13520}],"engine":"FerretDB-1","id":"6c30b33e-bc98-407c-aa10-40fa4f262476","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-ds-document_db-instance-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6c30b33e-bc98-407c-aa10-40fa4f262476
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6c30b33e-bc98-407c-aa10-40fa4f262476","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
