---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"40c71ee2-db51-46d8-ae35-4c14a686bde8","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:46.391319Z","updated_at":"2022-07-22T09:26:46.391319Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-elated-lovelace","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"ca7a33e5-18c8-45e1-b152-ec8f6cdea07a","name":"tf-pn-elated-lovelace","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:46.364066Z","updated_at":"2022-07-22T09:26:46.364066Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/ca7a33e5-18c8-45e1-b152-ec8f6cdea07a
    method: GET
  response:
    body: '{"id":"ca7a33e5-18c8-45e1-b152-ec8f6cdea07a","name":"tf-pn-elated-lovelace","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:46.364066Z","updated_at":"2022-07-22T09:26:46.364066Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/40c71ee2-db51-46d8-ae35-4c14a686bde8
    method: GET
  response:
    body: '{"id":"40c71ee2-db51-46d8-ae35-4c14a686bde8","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:46.391319Z","updated_at":"2022-07-22T09:26:46.391319Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c22567c1-ee4d-4c8d-8f1a-842e85861e85","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:47.037238Z","updated_at":"2022-07-22T09:26:47.037238Z","tags":[],"address":"212.47.247.180","reverse":"180-247-47-212.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/c22567c1-ee4d-4c8d-8f1a-842e85861e85
    method: GET
  response:
    body: '{"id":"c22567c1-ee4d-4c8d-8f1a-842e85861e85","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:47.037238Z","updated_at":"2022-07-22T09:26:47.037238Z","tags":[],"address":"212.47.247.180","reverse":"180-247-47-212.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf-pn-quirky-tesla","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"c22567c1-ee4d-4c8d-8f1a-842e85861e85","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:47.346412Z","updated_at":"2022-07-22T09:26:47.346412Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-quirky-tesla","tags":[],"ip":{"id":"c22567c1-ee4d-4c8d-8f1a-842e85861e85","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:47.037238Z","updated_at":"2022-07-22T09:26:47.037238Z","tags":[],"address":"212.47.247.180","reverse":"180-247-47-212.instances.scw.cloud","gateway_id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/e5c63da6-69c0-4b3c-9105-2ff0e94509c7
    method: GET
  response:
    body: '{"id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:47.346412Z","updated_at":"2022-07-22T09:26:47.573323Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"configuring","name":"tf-pn-quirky-tesla","tags":[],"ip":{"id":"c22567c1-ee4d-4c8d-8f1a-842e85861e85","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:47.037238Z","updated_at":"2022-07-22T09:26:47.037238Z","tags":[],"address":"212.47.247.180","reverse":"180-247-47-212.instances.scw.cloud","gateway_id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","private_network_id":"ca7a33e5-18c8-45e1-b152-ec8f6cdea07a","enable_masquerade":true,"dhcp_id":"40c71ee2-db51-46d8-ae35-4c14a686bde8","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"6f31eaa9-8e3d-488f-900e-e691d01184cd","created_at":"2022-07-22T09:26:54.443157Z","updated_at":"2022-07-22T09:26:54.443157Z","gateway_id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","private_network_id":"ca7a33e5-18c8-45e1-b152-ec8f6cdea07a","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"40c71ee2-db51-46d8-ae35-4c14a686bde8","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:46.391319Z","updated_at":"2022-07-22T09:26:46.391319Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6f31eaa9-8e3d-488f-900e-e691d01184cd
    method: GET
  response:
    body: '{"id":"6f31eaa9-8e3d-488f-900e-e691d01184cd","created_at":"2022-07-22T09:26:54.443157Z","updated_at":"2022-07-22T09:27:00.510320Z","gateway_id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","private_network_id":"ca7a33e5-18c8-45e1-b152-ec8f6cdea07a","mac_address":"02:00:00:01:4a:c9","enable_masquerade":true,"status":"ready","dhcp":{"id":"40c71ee2-db51-46d8-ae35-4c14a686bde8","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:46.391319Z","updated_at":"2022-07-22T09:26:46.391319Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks?gateway_id=e5c63da6-69c0-4b3c-9105-2ff0e94509c7&order_by=created_at_asc&private_network_id=ca7a33e5-18c8-45e1-b152-ec8f6cdea07a&status=unknown
    method: GET
  response:
    body: '{"gateway_networks":[{"id":"6f31eaa9-8e3d-488f-900e-e691d01184cd","created_at":"2022-07-22T09:26:54.443157Z","updated_at":"2022-07-22T09:27:00.510320Z","gateway_id":"e5c63da6-69c0-4b3c-9105-2ff0e94509c7","private_network_id":"ca7a33e5-18c8-45e1-b152-ec8f6cdea07a","mac_address":"02:00:00:01:4a:c9","enable_masquerade":true,"status":"ready","dhcp":{"id":"40c71ee2-db51-46d8-ae35-4c14a686bde8","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-22T09:26:46.391319Z","updated_at":"2022-07-22T09:26:46.391319Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6f31eaa9-8e3d-488f-900e-e691d01184cd?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6f31eaa9-8e3d-488f-900e-e691d01184cd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"6f31eaa9-8e3d-488f-900e-e691d01184cd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/e5c63da6-69c0-4b3c-9105-2ff0e94509c7?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
