---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"aa8cae94-f658-48ba-a5d1-2572faa3a61a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:48:19.290013Z","updated_at":"2021-08-04T14:48:19.290013Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"aef91993-2f7b-4a04-aac1-12433b4f684c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:48:19.275704Z","updated_at":"2021-08-04T14:48:19.275704Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/aa8cae94-f658-48ba-a5d1-2572faa3a61a
    method: GET
  response:
    body: '{"id":"aa8cae94-f658-48ba-a5d1-2572faa3a61a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:48:19.290013Z","updated_at":"2021-08-04T14:48:19.323734Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"aef91993-2f7b-4a04-aac1-12433b4f684c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:48:19.275704Z","updated_at":"2021-08-04T14:48:19.275704Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"id":"aa8cae94-f658-48ba-a5d1-2572faa3a61a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:48:19.290013Z","updated_at":"2021-08-04T14:48:20.041543Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"aef91993-2f7b-4a04-aac1-12433b4f684c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:48:19.275704Z","updated_at":"2021-08-04T14:48:19.275704Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/aa8cae94-f658-48ba-a5d1-2572faa3a61a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"aa8cae94-f658-48ba-a5d1-2572faa3a61a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
