---
version: 1
interactions:
- request:
    body: '{"name":"tf-security-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "d417662f-2f57-4374-82ce-278488d4a103", "creation_date":
      "2022-09-01T10:44:17.715611+00:00", "modification_date": "2022-09-01T10:44:17.715611+00:00",
      "name": "tf-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d417662f-2f57-4374-82ce-278488d4a103
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d417662f-2f57-4374-82ce-278488d4a103
    method: GET
  response:
    body: '{"security_group": {"id": "d417662f-2f57-4374-82ce-278488d4a103", "creation_date":
      "2022-09-01T10:44:17.715611+00:00", "modification_date": "2022-09-01T10:44:17.715611+00:00",
      "name": "tf-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups?name=tf-security-group&page=1
    method: GET
  response:
    body: '{"security_groups": [{"id": "d417662f-2f57-4374-82ce-278488d4a103", "creation_date":
      "2022-09-01T10:44:17.715611+00:00", "modification_date": "2022-09-01T10:44:17.715611+00:00",
      "name": "tf-security-group", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </security_groups?page=1&per_page=50&name=tf-security-group>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d417662f-2f57-4374-82ce-278488d4a103
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Security group \"d417662f-2f57-4374-82ce-278488d4a103\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
