---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T10:21:46.105055Z","description":"","id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T10:21:46.105055Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2
    method: GET
  response:
    body: '{"created_at":"2023-12-27T10:21:46.105055Z","description":"","id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2","name":"tf_tests_ds_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T10:21:46.105055Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-27T10:21:46.526211756Z","project_id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T10:21:46.526211756Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2
    method: GET
  response:
    body: '{"created_at":"2023-12-27T10:21:46.526211Z","project_id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T10:21:46.526211Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"d1ae4e16-1090-4e55-9a1a-4f4c6821bdb2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
