---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-data","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"9a6922d2-948f-4f8d-b1d1-68761d3449eb","name":"test-cr-data","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2021-11-04T14:04:46.480562551Z","updated_at":"2021-11-04T14:04:46.480562551Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/9a6922d2-948f-4f8d-b1d1-68761d3449eb
    method: GET
  response:
    body: '{"id":"9a6922d2-948f-4f8d-b1d1-68761d3449eb","name":"test-cr-data","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2021-11-04T14:04:46.480563Z","updated_at":"2021-11-04T14:04:46.480563Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[{"id":"9a6922d2-948f-4f8d-b1d1-68761d3449eb","name":"test-cr-data","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2021-11-04T14:04:46.480563Z","updated_at":"2021-11-04T14:04:46.480563Z","image_count":0,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/9a6922d2-948f-4f8d-b1d1-68761d3449eb
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
