---
version: 1
interactions:
- request:
    body: '{"name":"test_data_source_basic","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"94503d6d-0cec-4743-b5a5-341e56afe80f","name":"test_data_source_basic","description":"","created_at":"2022-06-29T08:42:01.093324Z","updated_at":"2022-06-29T08:42:01.093324Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/94503d6d-0cec-4743-b5a5-341e56afe80f
    method: GET
  response:
    body: '{"id":"94503d6d-0cec-4743-b5a5-341e56afe80f","name":"test_data_source_basic","description":"","created_at":"2022-06-29T08:42:01.093324Z","updated_at":"2022-06-29T08:42:01.093324Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=test_data_source_basic&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"applications":[{"id":"94503d6d-0cec-4743-b5a5-341e56afe80f","name":"test_data_source_basic","description":"","created_at":"2022-06-29T08:42:01.093324Z","updated_at":"2022-06-29T08:42:01.093324Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=test_data_source_basic_renamed&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"applications":[{"id":"94503d6d-0cec-4743-b5a5-341e56afe80f","name":"test_data_source_basic_renamed","description":"test_data_source_basic_description","created_at":"2022-06-29T08:42:01.093324Z","updated_at":"2022-06-29T08:42:02.734778Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/94503d6d-0cec-4743-b5a5-341e56afe80f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"application","resource_id":"94503d6d-0cec-4743-b5a5-341e56afe80f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
