---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.23.0","label":"Kubernetes 1.23.0","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.22.4","label":"Kubernetes
      1.22.4","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_k[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.23.0","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T16:31:26.646924504Z","updated_at":"2021-12-13T16:31:26.678625403Z","type":"kapsule","name":"tf-cluster-pool","description":"","status":"creating","version":"1.23.0","cni":"cilium","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"cluster_url":"https://dede8d0f-ee75-46cb-96a1-ea72370e660f.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.dede8d0f-ee75-46cb-96a1-ea72370e660f.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f
    method: GET
  response:
    body: '{"region":"fr-par","id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T16:31:26.646925Z","updated_at":"2021-12-13T16:31:26.678625Z","type":"kapsule","name":"tf-cluster-pool","descript[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVFMVVTWGhOYWtVeVRYcEZlVTVzYjFoRVZFMTRUVlJKZUUxcVJUSk5la1Y1VG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"5d74ab5e-3fa6-4eb6-83cc-7bf53069ee4d","cluster_id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","created_at":"2021-12-13T16:31:32.186328Z","updated_at":"2021-12-13T16:31:32.195361089Z","name":"tf-pool","status":"scaling","version":"1.23.0","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5d74ab5e-3fa6-4eb6-83cc-7bf53069ee4d
    method: GET
  response:
    body: '{"region":"fr-par","id":"5d74ab5e-3fa6-4eb6-83cc-7bf53069ee4d","cluster_id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","created_at":"2021-12-13T16:31:32.186328Z","updated_at":"2021-12-13T16:31:32.195361Z","name":"tf-pool","status":"scaling","version":"1.23.0","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f/nodes?order_by=created_at_asc&page=1&pool_id=5d74ab5e-3fa6-4eb6-83cc-7bf53069ee4d&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":null,"description":null,"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"enable_dashboard":null,"ingress":"unknown_ingress","auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null},"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f
    method: PATCH
  response:
    body: '{"region"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"5d74ab5e-3fa6-4eb6-83cc-7bf53069ee4d","cluster_id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","created_at":"2021-12-13T16:31:32.186328Z","updated_at":"2021-12-13T16:31:32.195361Z","name":"tf-pool","status":"scaling","version":"1.23.0","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f/nodes?order_by=created_at_asc&page=1&pool_id=5d74ab5e-3fa6-4eb6-83cc-7bf53069ee4d&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"a4e9724c-5bcc-45a0-b5ef-1277f0edd9f1","cluster_id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","created_at":"2021-12-13T16:33:32.808866Z","updated_at":"2021-12-13T16:33:32.808866Z","pool_id":"5d74ab5e-3fa6-4eb6-83cc-7bf53069ee4d","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-tf-cluster-pool-tf-pool-a4e9724c5bcc45a0b5","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T16:31:26.646925Z","updated_at":"2021-12-13T16:33:36.123424081Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dede8d0f-ee75-46cb-96a1-ea72370e660f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"dede8d0f-ee75-46cb-96a1-ea72370e660f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
