---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ccae8e47-6429-42d6-a23a-70c6851f079c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:55.161005Z","updated_at":"2022-01-27T14:15:55.161005Z","tags":[],"address":"51.158.78.116","reverse":"116-78-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/ccae8e47-6429-42d6-a23a-70c6851f079c
    method: GET
  response:
    body: '{"id":"ccae8e47-6429-42d6-a23a-70c6851f079c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:55.161005Z","updated_at":"2022-01-27T14:15:55.161005Z","tags":[],"address":"51.158.78.116","reverse":"116-78-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/ccae8e47-6429-42d6-a23a-70c6851f079c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"ccae8e47-6429-42d6-a23a-70c6851f079c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
