---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-12T16:02:58.182533Z","id":"69875682-80a8-4b55-ac2f-c82f51d5c6d8","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T16:02:58.182533Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/69875682-80a8-4b55-ac2f-c82f51d5c6d8
    method: GET
  response:
    body: '{"created_at":"2024-01-12T16:02:58.182533Z","id":"69875682-80a8-4b55-ac2f-c82f51d5c6d8","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T16:02:58.182533Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-elegant-banach","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"69875682-80a8-4b55-ac2f-c82f51d5c6d8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-12T16:02:58.406315Z","dhcp_enabled":true,"id":"70b4f44a-5659-40bb-a1d4-ad1df1fa4ba2","name":"tf-pn-elegant-banach","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T16:02:58.406315Z","id":"962e7b7f-a7d1-41c2-bb1d-b6a0624d84aa","subnet":"172.16.32.0/22","updated_at":"2024-01-12T16:02:58.406315Z"},{"created_at":"2024-01-12T16:02:58.406315Z","id":"ad616003-706a-437e-affb-8dc881337c83","subnet":"fd46:78ab:30b8:a709::/64","updated_at":"2024-01-12T16:02:58.406315Z"}],"tags":[],"updated_at":"2024-01-12T16:02:58.406315Z","vpc_id":"69875682-80a8-4b55-ac2f-c82f51d5c6d8"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/70b4f44a-5659-40bb-a1d4-ad1df1fa4ba2
    method: GET
  response:
    body: '{"created_at":"2024-01-12T16:02:58.406315Z","dhcp_enabled":true,"id":"70b4f44a-5659-40bb-a1d4-ad1df1fa4ba2","name":"tf-pn-elegant-banach","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T16:02:58.406315Z","id":"962e7b7f-a7d1-41c2-bb1d-b6a0624d84aa","subnet":"172.16.32.0/22","updated_at":"2024-01-12T16:02:58.406315Z"},{"created_at":"2024-01-12T16:02:58.406315Z","id":"ad616003-706a-437e-affb-8dc881337c83","subnet":"fd46:78ab:30b8:a709::/64","updated_at":"2024-01-12T16:02:58.406315Z"}],"tags":[],"updated_at":"2024-01-12T16:02:58.406315Z","vpc_id":"69875682-80a8-4b55-ac2f-c82f51d5c6d8"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"70b4f44a-5659-40bb-a1d4-ad1df1fa4ba2"},"is_ipv6":false,"address":"172.16.32.5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-01-12T16:02:59.345368Z","id":"754f2209-396b-414d-87c3-97d5a1f0ce4e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"962e7b7f-a7d1-41c2-bb1d-b6a0624d84aa"},"tags":[],"updated_at":"2024-01-12T16:02:59.345368Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/754f2209-396b-414d-87c3-97d5a1f0ce4e
    method: GET
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-01-12T16:02:59.345368Z","id":"754f2209-396b-414d-87c3-97d5a1f0ce4e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"962e7b7f-a7d1-41c2-bb1d-b6a0624d84aa"},"tags":[],"updated_at":"2024-01-12T16:02:59.345368Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/754f2209-396b-414d-87c3-97d5a1f0ce4e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"754f2209-396b-414d-87c3-97d5a1f0ce4e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
