---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-06T15:29:28.095556Z","id":"2f749ff4-8dd7-478a-9791-2646607b7f21","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.24.0/22","fd46:78ab:30b8:e054::/64"],"tags":[],"updated_at":"2023-06-06T15:29:28.095556Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2f749ff4-8dd7-478a-9791-2646607b7f21
    method: GET
  response:
    body: '{"created_at":"2023-06-06T15:29:28.095556Z","id":"2f749ff4-8dd7-478a-9791-2646607b7f21","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.24.0/22","fd46:78ab:30b8:e054::/64"],"tags":[],"updated_at":"2023-06-06T15:29:28.095556Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2023-06-06T15:29:28.095556Z","id":"2f749ff4-8dd7-478a-9791-2646607b7f21","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.24.0/22","fd46:78ab:30b8:e054::/64"],"tags":[],"updated_at":"2023-06-06T15:29:28.095556Z","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2f749ff4-8dd7-478a-9791-2646607b7f21
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"2f749ff4-8dd7-478a-9791-2646607b7f21","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
