---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/lbs?name=tf-lb-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=tf-lb-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[{"backend_count":0,"created_at":"2023-02-20T09:43:58.544930Z","description":"a
      description","frontend_count":0,"id":"c1dda3f8-f4ad-4db3-a24b-2300383f27c0","instances":[{"created_at":"2023-02-19T15:41:06.354989Z","id":"34d99b2a-eca5-4f64-b5bd-3945f84e22b3","ip_address":"10.64.78.53","region":"fr-par","status":"ready","updated_at":"2023-02-20T09:43:59.316827Z","zone":"fr-par-1"}],"ip":[{"id":"f091bac0-9b67-4b7b-884d-57657434e5fd","ip_address":"51.159.207.18","lb_id":"c1dda3f8-f4ad-4db3-a24b-2300383f27c0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-18.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T09:43:59.874982Z","zone":"fr-par-1"},{"backend_count":0,"created_at":"2023-02-20T09:43:58.552741Z","description":"a
      description","frontend_count":0,"id":"64f5cc59-55e5-4298-9beb-487a06367f15","instances":[{"created_at":"2023-02-20T09:40:57.254478Z","id":"b49dee01-01c5-4e5a-8388-9eecadcdec58","ip_address":"10.74.48.29","region":"fr-par","status":"ready","updated_at":"2023-02-20T09:43:59.285531Z","zone":"fr-par-1"}],"ip":[{"id":"f033aa8a-ffe1-4d9d-89fa-3a63752[...]
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f1379531-da79-447d-bb72-847e9c9a0aa0","ip_address":"195.154.68.51","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-68-51.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f1379531-da79-447d-bb72-847e9c9a0aa0
    method: GET
  response:
    body: '{"id":"f1379531-da79-447d-bb72-847e9c9a0aa0","ip_address":"195.154.68.51","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-68-51.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-lb-datasource1","description":"a
      description","ip_id":"f1379531-da79-447d-bb72-847e9c9a0aa0","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T10:39:56.389204555Z","description":"a
      description","frontend_count":0,"id":"e9441d53-b58a-4e65-be06-e4d7db2ed6c7","instances":[],"ip":[{"id":"f1379531-da79-447d-bb72-847e9c9a0aa0","ip_address":"195.154.68.51","lb_id":"e9441d53-b58a-4e65-be06-e4d7db2ed6c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-68-51.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"tf-lb-datasource1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T10:39:56.389204555Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e9441d53-b58a-4e65-be06-e4d7db2ed6c7
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T10:39:56.389205Z","description":"a
      description","frontend_count":0,"id":"e9441d53-b58a-4e65-be06-e4d7db2ed6c7","instances":[],"ip":[{"id":"f1379531-da79-447d-bb72-847e9c9a0aa0","ip_address":"195.154.68.51","lb_id":"e9441d53-b58a-4e65-be06-e4d7db2ed6c7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-68-51.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"tf-lb-datasource1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T10:39:56.389205Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e9441d53-b58a-4e65-be06-e4d7db2ed6c7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e9441d53-b58a-4e65-be06-e4d7db2ed6c7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b76cf77e-5a32-4438-b676-445eba1bf09c
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
