---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_datasource_terraform","version":"6.2.6","tags":null,"node_type":"RED1-micro","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"3079bbe3-cd65-4d38-a495-f316668a382d","name":"test_redis_datasource_terraform","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"f082f30d-5f4e-4dc3-a92f-2751ac8a7a17"}],"tags":[],"node_type":"RED1-micro","created_at":"2022-07-26T09:31:13.491322Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3079bbe3-cd65-4d38-a495-f316668a382d
    method: GET
  response:
    body: '{"id":"3079bbe3-cd65-4d38-a495-f316668a382d","name":"test_redis_datasource_terraform","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"f082f30d-5f4e-4dc3-a92f-2751ac8a7a17"}],"tags":[],"node_type":"RED1-micro","created_at":"2022-07-26T09:31:13.491322Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters?name=test_redis_datasource_terraform&order_by=created_at_asc
    method: GET
  response:
    body: '{"clusters":[{"id":"3079bbe3-cd65-4d38-a495-f316668a382d","name":"test_redis_datasource_terraform","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":["51.15.247.224"],"id":"f082f30d-5f4e-4dc3-a92f-2751ac8a7a17"}],"tags":[],"node_type":"RED1-micro","created_at":"2022-07-26T09:31:13.491322Z","updated_at":"2022-07-26T09:32:30.484027Z","tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3079bbe3-cd65-4d38-a495-f316668a382d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3079bbe3-cd65-4d38-a495-f316668a382d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
