---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":true,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"eab0bb36-426c-4588-800a-09e386fb74ea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.111384Z","updated_at":"2022-02-15T15:44:02.111384Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"13f969a7-47a1-46e2-89bb-d48a005b6456","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.075467Z","updated_at":"2022-02-15T15:44:02.075467Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/eab0bb36-426c-4588-800a-09e386fb74ea
    method: GET
  response:
    body: '{"id":"eab0bb36-426c-4588-800a-09e386fb74ea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.111384Z","updated_at":"2022-02-15T15:44:02.111384Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/13f969a7-47a1-46e2-89bb-d48a005b6456
    method: GET
  response:
    body: '{"id":"13f969a7-47a1-46e2-89bb-d48a005b6456","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.075467Z","updated_at":"2022-02-15T15:44:02.075467Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-pensive-lumiere","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"24484a41-24cd-46cc-a00a-b07f2af604f3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.932331Z","updated_at":"2022-02-15T15:44:02.932331Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-pensive-lumiere","tags":[],"ip":{"id":"ceb26501-752a-4fe3-923b-45a8bc3f2166","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.920117Z","updated_at":"2022-02-15T15:44:02.920117Z","tags":[],"address":"163.172.165.25","reverse":"25-165-172-163.instances.scw.cloud","gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/24484a41-24cd-46cc-a00a-b07f2af604f3
    method: GET
  response:
    body: '{"id":"24484a41-24cd-46cc-a00a-b07f2af604f3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.932331Z","updated_at":"2022-02-15T15:44:02.963090Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-pensive-lumiere","tags":[],"ip":{"id":"ceb26501-752a-4fe3-923b-45a8bc3f2166","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.920117Z","updated_at":"2022-02-15T15:44:02.920117Z","tags":[],"address":"163.172.165.25","reverse":"25-165-172-163.instances.scw.cloud","gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","private_network_id":"13f969a7-47a1-46e2-89bb-d48a005b6456","enable_masquerade":true,"dhcp_id":"eab0bb36-426c-4588-800a-09e386fb74ea","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"f8651537-f45d-4978-b7f8-b13412f3386b","created_at":"2022-02-15T15:46:04.836297Z","updated_at":"2022-02-15T15:46:04.836297Z","gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","private_network_id":"13f969a7-47a1-46e2-89bb-d48a005b6456","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"eab0bb36-426c-4588-800a-09e386fb74ea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.111384Z","updated_at":"2022-02-15T15:44:02.111384Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f8651537-f45d-4978-b7f8-b13412f3386b
    method: GET
  response:
    body: '{"id":"f8651537-f45d-4978-b7f8-b13412f3386b","created_at":"2022-02-15T15:46:04.836297Z","updated_at":"2022-02-15T15:46:10.978626Z","gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","private_network_id":"13f969a7-47a1-46e2-89bb-d48a005b6456","mac_address":"02:00:00:00:e5:90","enable_masquerade":true,"status":"ready","dhcp":{"id":"eab0bb36-426c-4588-800a-09e386fb74ea","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-02-15T15:44:02.111384Z","updated_at":"2022-02-15T15:44:02.111384Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"f0791db3-cfda-4eea-ae48-2c4069957c03","gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","created_at":"2022-02-15T15:48:05.672939Z","updated_at":"2022-02-15T15:48:05.672939Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/f0791db3-cfda-4eea-ae48-2c4069957c03
    method: GET
  response:
    body: '{"id":"f0791db3-cfda-4eea-ae48-2c4069957c03","gateway_id":"24484a41-24cd-46cc-a00a-b07f2af604f3","created_at":"2022-02-15T15:48:05.672939Z","updated_at":"2022-02-15T15:48:05.672939Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f8651537-f45d-4978-b7f8-b13412f3386b?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/eab0bb36-426c-4588-800a-09e386fb74ea
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"eab0bb36-426c-4588-800a-09e386fb74ea","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/24484a41-24cd-46cc-a00a-b07f2af604f3?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
