---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-3263057518455441663","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-01-19T14:37:33.382199Z","description":"","id":"292390dc-eb5b-48c4-9cc4-7c94bab3817d","name":"test-acc-scaleway-project-3263057518455441663","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-19T14:37:33.382199Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-7307908866037608356","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-19T14:37:33.958359Z","description":"","editable":true,"id":"6edcad69-ddfa-48f4-9b5e-374f10b88795","name":"test-acc-scaleway-iam-app-7307908866037608356","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-19T14:37:33.958359Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-3116470778275246057","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["292390dc-eb5b-48c4-9cc4-7c94bab3817d"]}],"application_id":"6edcad69-ddfa-48f4-9b5e-374f10b88795"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"6edcad69-ddfa-48f4-9b5e-374f10b88795","created_at":"2023-01-19T14:37:34.032442Z","description":"","editable":true,"id":"ca4ea39f-6f76-4b18-aa11-e68329bf7354","name":"test-acc-scaleway-iam-policy-3116470778275246057","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-19T14:37:34.032442Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"6edcad69-ddfa-48f4-9b5e-374f10b88795","expires_at":null,"default_project_id":"292390dc-eb5b-48c4-9cc4-7c94bab3817d","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW8G3VF640Y69C0PW0P","application_id":"6edcad69-ddfa-48f4-9b5e-374f10b88795","created_at":"2023-01-19T14:37:34.211032Z","creation_ip":"51.159.73.9","default_project_id":"292390dc-eb5b-48c4-9cc4-7c94bab3817d","description":"","editable":true,"expires_at":null,"secret_key":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx","updated_at":"2023-01-19T14:37:34.211032Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20230119T143736Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-object-bucket-801478142714207067
      X-Amz-Request-Id:
      - tx02b7250b4a264522bb201-0063c955b0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T143737Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx4d01a1b5dd064e929cf40-0063c955b1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T143737Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>tx01b9b544dd4c4839873d3-0063c955b1</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx01b9b544dd4c4839873d3-0063c955b1
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T143738Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-801478142714207067</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx066b685132c94ca1ae510-0063c955b2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T143738Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>tx4447a05a825f4712a3ec5-0063c955b2</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx4447a05a825f4712a3ec5-0063c955b2
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T143738Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txfee661dd91644763b1bb6-0063c955b2</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txfee661dd91644763b1bb6-0063c955b2
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T143738Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - txf6dc4d265c3641ac98070-0063c955b2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20230119T143739Z
    url: https://test-acc-scaleway-object-bucket-801478142714207067.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist.</Message><RequestId>tx437c3af645d24f7bb6de7-0063c955b3</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx437c3af645d24f7bb6de7-0063c955b3
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW8G3VF640Y69C0PW0P
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/ca4ea39f-6f76-4b18-aa11-e68329bf7354
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/6edcad69-ddfa-48f4-9b5e-374f10b88795
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/292390dc-eb5b-48c4-9cc4-7c94bab3817d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
