---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_datasource_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:54:52.960205Z","description":"","id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188","name":"tf_tests_datasource_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T12:54:52.960205Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/4cc7fd8c-d9e8-47f5-80c6-e22a51000188
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:54:52.960205Z","description":"","id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188","name":"tf_tests_datasource_cockpit_project_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-16T12:54:52.960205Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/activate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:54:54.029881Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://4cc7fd8c-d9e8-47f5-80c6-e22a51000188.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188","status":"creating","updated_at":"2023-02-16T12:54:54.029881Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=4cc7fd8c-d9e8-47f5-80c6-e22a51000188
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:54:54.029881Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://4cc7fd8c-d9e8-47f5-80c6-e22a51000188.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188","status":"creating","updated_at":"2023-02-16T12:54:54.029881Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/cockpit/v1beta1/deactivate
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:54:54.029881Z","endpoints":{"alertmanager_url":"https://alertmanager.prd.obs.fr-par.scw.cloud","grafana_url":"https://4cc7fd8c-d9e8-47f5-80c6-e22a51000188.dashboard.obs.fr-par.scw.cloud","logs_url":"https://logs.prd.obs.fr-par.scw.cloud","metrics_url":"https://metrics.prd.obs.fr-par.scw.cloud"},"managed_alerts_enabled":false,"project_id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188","status":"deleting","updated_at":"2023-02-16T12:55:30.995393Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/cockpit/v1beta1/cockpit?project_id=4cc7fd8c-d9e8-47f5-80c6-e22a51000188
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cockpit","resource_id":"4cc7fd8c-d9e8-47f5-80c6-e22a51000188","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
