---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"data-source-rdb-acl-basic","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9","name":"data-source-rdb-acl-basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-16T09:34:20.629623Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9
    method: GET
  response:
    body: '{"id":"01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9","name":"data-source-rdb-acl-basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-16T09:34:20.629623Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9
    method: GET
  response:
    body: '{"id":"01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9","name":"data-source-rdb-acl-basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"initializing","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.10.108","port":48916,"name":null,"id":"5a3ac4cf-b77d-480e-9733-54d1e00ec1aa","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.10.108","port":48916,"name":null,"id":"5a3ac4cf-b77d-480e-9733-54d1e00ec1aa","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-16T09:34:20.629623Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9
    method: PATCH
  response:
    body: '{"id":"01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9","name":"data-source-rdb-acl-basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.10.108","port":48916,"name":null,"id":"5a3ac4cf-b77d-480e-9733-54d1e00ec1aa","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.10.108","port":48916,"name":null,"id":"5a3ac4cf-b77d-480e-9733-54d1e00ec1aa","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-16T09:34:20.629623Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVSUpFNWtOQ1JWRDIrMG1XVmcrMjhjMDBBQmxNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHdNV0kwWWpOalppMWlOekl4CkxUUTFZalF0T0dKa09TMWlPRGRoTUdKa1pHVXdZamt1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1URTJNRGt6TlRVNFdoY05NekV4TVRFME1Ea3pOVFU0V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"rules":[{"ip":"1.2.3.4/32","description":"foo"},{"ip":"4.5.6.7/32","description":"bar"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9/acls
    method: PUT
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":48916,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7/32","port":48916,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9/acls
    method: GET
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":48916,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7/32","port":48916,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rule_ips":["1.2.3.4/32","4.5.6.7/32"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9/acls
    method: DELETE
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":48916,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7/32","port":48916,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"01b4b3cf-b721-45b4-8bd9-b87a0bdde0b9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
