---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"89b3e107-992c-4e8d-90eb-8d2f64b2a1ec","ip_address":"51.159.206.211","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-211.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/89b3e107-992c-4e8d-90eb-8d2f64b2a1ec
    method: GET
  response:
    body: '{"id":"89b3e107-992c-4e8d-90eb-8d2f64b2a1ec","ip_address":"51.159.206.211","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-211.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: GET
  response:
    body: '{"ips":[{"id":"b615a18e-2538-4ffc-a79d-add601618221","ip_address":"51.159.207.251","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-251.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"58cd4e05-e685-4daf-a8f8-502930b1a535","ip_address":"51.159.11.230","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-11-230.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"79c7adbb-b5bf-4eb5-8f99-af4f2195e8e7","ip_address":"51.159.206.109","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-109.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"89b3e107-992c-4e8d-90eb-8d2f64b2a1ec","ip_address":"51.159.206.211","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-211.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"4012ed0f-a193-4837-8edc-1fda409c22c4","ip_address":"51.159.206.29","lb_id":"7dfe5933-71cc-4cea-8861-5ede3fd9266f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-29.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"total_count":5}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/89b3e107-992c-4e8d-90eb-8d2f64b2a1ec
    method: GET
  response:
    body: '{"message":"ips not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
