---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ec479512-0d90-4527-8610-70b12ab3cc8c
    method: GET
  response:
    body: '{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"ec479512-0d90-4527-8610-70b12ab3cc8c","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-04-11T13:08:33.969193353Z","description":"","frontend_count":0,"id":"5f4646c7-dc4c-4493-abde-908ec34c5d5d","instances":[],"ip":[{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":"5f4646c7-dc4c-4493-abde-908ec34c5d5d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-04-11T13:08:33.969193353Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5f4646c7-dc4c-4493-abde-908ec34c5d5d
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-04-11T13:08:33.969193Z","description":"","frontend_count":0,"id":"5f4646c7-dc4c-4493-abde-908ec34c5d5d","instances":[{"created_at":"2023-04-11T13:06:42.336389Z","id":"0b31b5b3-dcd2-4015-a6ac-eb9e2c843262","ip_address":"10.72.76.1","region":"fr-par","status":"unknown","updated_at":"2023-04-11T13:08:34.246643Z","zone":"fr-par-1"}],"ip":[{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":"5f4646c7-dc4c-4493-abde-908ec34c5d5d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-04-11T13:08:34.270685Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5f4646c7-dc4c-4493-abde-908ec34c5d5d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-wonderful-jackson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5f4646c7-dc4c-4493-abde-908ec34c5d5d/backends
    method: POST
  response:
    body: '{"created_at":"2023-04-11T13:09:04.873611799Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ec4f53ad-4816-4402-b0ad-87a26211095f","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-04-11T13:08:33.969193Z","description":"","frontend_count":0,"id":"5f4646c7-dc4c-4493-abde-908ec34c5d5d","instances":[{"created_at":"2023-04-11T13:06:42.336389Z","id":"0b31b5b3-dcd2-4015-a6ac-eb9e2c843262","ip_address":"10.72.76.1","region":"fr-par","status":"pending","updated_at":"2023-04-11T13:09:04.907389004Z","zone":"fr-par-1"}],"ip":[{"id":"ec479512-0d90-4527-8610-70b12ab3cc8c","ip_address":"51.159.9.243","lb_id":"5f4646c7-dc4c-4493-abde-908ec34c5d5d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-243.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-04-11T13:08:35.745610Z","zone":"fr-par-1"},"max_retries":null,"name":"tf-lb-bkd-wonderful-jackson","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-04-11T13:09:04.873611799Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ec4f53ad-4816-4402-b0ad-87a26211095f
    method: GET
  response:
    body: '{"created_at":"2023-04-11T13:09:04.873612Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-elastic-kapitsa","inbound_port":50000,"backend_id":"ec4f53ad-4816-4402-b0ad-87a26211095f","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5f4646c7-dc4c-4493-abde-908ec34c5d5d/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-04-11T13:09:04.873612Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ec4f53ad-4816-4402-b0ad-87a26211095f","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-04-11T13:08:33.969193Z","description":"","frontend_count":1,"id":"5f4646[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2e4cb0e1-c9e7-4bb7-866d-2d5d5f012179/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-acl-datasource0","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2e4cb0e1-c9e7-4bb7-866d-2d5d5f012179/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-04-11T13:09:06.167350002Z","description":"","frontend":{"backend":{"created_at":"2023-04-11T13:09:04.873612Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ec4f53ad-4816-4402-b0ad-87a26211095f","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-04-11T13:08:33.969193Z","description":"","frontend_count":1,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2e4cb0e1-c9e7-4bb7-866d-2d5d5f012179
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-04-11T13:09:04.873612Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_del[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2e4cb0e1-c9e7-4bb7-866d-2d5d5f012179/acls?name=tf-acl-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2023-04-11T13:09:06.167350Z","description":"","frontend":{"backend":{"created_at":"2023-04-11T13:09:04.873612Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","f[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2e4cb0e1-c9e7-4bb7-866d-2d5d5f012179/acls?order_by=created_at_asc
    method: GET
  response:
    body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2023-04-11T13:09:06.167350Z","description":"","frontend":{"backend":{"created_at":"2023-04-11T13:09:04.873612Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5f4646c7-dc4c-4493-abde-908ec34c5d5d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5f4646c7-dc4c-4493-abde-908ec34c5d5d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
