---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"3a96a7df-bb87-447f-bac3-493a444af098","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T19:46:11.718362Z","updated_at":"2021-10-05T19:46:11.718362Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"285967a3-7f14-4faa-9e2c-d5b6d21d6835","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T19:46:11.695148Z","updated_at":"2021-10-05T19:46:11.695148Z","tags":[],"address":"212.47.232.25","reverse":"25-232-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/3a96a7df-bb87-447f-bac3-493a444af098
    method: GET
  response:
    body: '{"id":"3a96a7df-bb87-447f-bac3-493a444af098","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T19:46:11.718362Z","updated_at":"2021-10-05T19:46:11.777429Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"285967a3-7f14-4faa-9e2c-d5b6d21d6835","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T19:46:11.695148Z","updated_at":"2021-10-05T19:46:11.695148Z","tags":[],"address":"212.47.232.25","reverse":"25-232-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.13","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"gateways":[{"id":"3a96a7df-bb87-447f-bac3-493a444af098","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T19:46:11.718362Z","updated_at":"2021-10-05T19:46:12.492516Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"ip":{"id":"285967a3-7f14-4faa-9e2c-d5b6d21d6835","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T19:46:11.695148Z","updated_at":"2021-10-05T19:46:11.695148Z","tags":[],"address":"212.47.232.25","reverse":"25-232-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.13","can_upgrade_to":null,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/3a96a7df-bb87-447f-bac3-493a444af098?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/3a96a7df-bb87-447f-bac3-493a444af098
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"3a96a7df-bb87-447f-bac3-493a444af098","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
