---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/ce18cffd-e7c8-47f8-8de8-00e97e50a0d3
    method: GET
  response:
    body: '{"id":"ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","email":"jcasteran@scaleway.com","created_at":"2022-06-23T09:37:47.606287Z","updated_at":"2022-06-23T09:37:47.606287Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","deletable":true,"last_login_at":null,"type":"guest","two_factor_enabled":false,"status":"activated"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"1fb76af0-426b-4f26-b7d5-3a737174d98a","name":"app","description":"","created_at":"2022-07-05T20:18:19.893605Z","updated_at":"2022-07-05T20:18:19.893605Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/1fb76af0-426b-4f26-b7d5-3a737174d98a
    method: GET
  response:
    body: '{"id":"1fb76af0-426b-4f26-b7d5-3a737174d98a","name":"app","description":"","created_at":"2022-07-05T20:18:19.893605Z","updated_at":"2022-07-05T20:18:19.893605Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"a57a6b5d-184f-4e2e-a2d7-2b34106c4567","created_at":"2022-07-05T20:18:20.026142Z","updated_at":"2022-07-05T20:18:20.026142Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["1fb76af0-426b-4f26-b7d5-3a737174d98a"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a57a6b5d-184f-4e2e-a2d7-2b34106c4567/members
    method: PUT
  response:
    body: '{"id":"a57a6b5d-184f-4e2e-a2d7-2b34106c4567","created_at":"2022-07-05T20:18:20.026142Z","updated_at":"2022-07-05T20:18:20.026142Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["ce18cffd-e7c8-47f8-8de8-00e97e50a0d3","255b63c2-b4de-4af6-9ed4-967f69d9dd85"],"application_ids":["1fb76af0-426b-4f26-b7d5-3a737174d98a"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a57a6b5d-184f-4e2e-a2d7-2b34106c4567
    method: GET
  response:
    body: '{"id":"a57a6b5d-184f-4e2e-a2d7-2b34106c4567","created_at":"2022-07-05T20:18:20.026142Z","updated_at":"2022-07-05T20:18:20.026142Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["255b63c2-b4de-4af6-9ed4-967f69d9dd85","ce18cffd-e7c8-47f8-8de8-00e97e50a0d3"],"application_ids":["1fb76af0-426b-4f26-b7d5-3a737174d98a"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test_data_source_mix&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"groups":[{"id":"a57a6b5d-184f-4e2e-a2d7-2b34106c4567","created_at":"2022-07-05T20:18:20.026142Z","updated_at":"2022-07-05T20:18:20.026142Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test_data_source_mix","description":"","user_ids":["255b63c2-b4de-4af6-9ed4-967f69d9dd85","ce18cffd-e7c8-47f8-8de8-00e97e50a0d3"],"application_ids":["1fb76af0-426b-4f26-b7d5-3a737174d98a"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a57a6b5d-184f-4e2e-a2d7-2b34106c4567
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"a57a6b5d-184f-4e2e-a2d7-2b34106c4567","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
