---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"9cb94469-72ed-4f72-826e-ae7c352dfab5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-12-12T09:34:40.405007Z","updated_at":"2022-12-12T09:34:40.405007Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/9cb94469-72ed-4f72-826e-ae7c352dfab5
    method: GET
  response:
    body: '{"id":"9cb94469-72ed-4f72-826e-ae7c352dfab5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-12-12T09:34:40.405007Z","updated_at":"2022-12-12T09:34:40.405007Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":13,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price_per_hour":{"currency_code":"EUR","units":0,"nanos":122000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["3ea52186-1e57-499e-8146-ab38051a5c10","bd17a2bb-e686-486a-aacf-44fa8ce6e553","7e865c16-1a63-4dc7-8181-dabc020fc21b","39176c6e-509d-4e6c-8e42-417d103f4579","01d6eef6-6b96-47fd-b9f9-3857321abe4f","7c70ff80-dbfa-4e07-be73-1de0e60fe175","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","ac5cc157-caee-406a-ae0a-a28d7c30389a","7fb86682-316e-4f6e-a845-de9b230cdd29","a47ccf6f-1990-4488-8f64-332a6da3ef84","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","5dfefb70-053e-4ba8-9d76-537b230db94e","bf705b90-1548-4368-98ca-d17dbd8dd860","b4816d13-8585-4005-a7c7-54a031dd933b","3422ae02-d6d7-4980-8a00-eb38c262fb41"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":16,"nanos":500000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":107,"nanos":250000000},"enabled":false,"subscription_period":"monthly","manageable":false[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/d17d6872-0412-45d9-a198-af82c34d3c5c
    method: GET
  response:
    body: '{"id":"d17d6872-0412-45d9-a198-af82c34d3c5c","name":"CentOS","version":"7","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/centos.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"root"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":true,"license_required":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-12-12T09:34:41.474697Z","created_at":"2022-12-12T09:34:41.474697Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b
    method: GET
  response:
    body: '{"id":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-12-12T09:34:41.474697Z","created_at":"2022-12-12T09:34:41.474697Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b
    method: GET
  response:
    body: '{"id":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-12-12T09:35:25.900272Z","created_at":"2022-12-12T09:34:41.474697Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[{"id":"37fda7cb-4d7b-4e37-86b1-87042e350177","address":"2001:0bc8:1201:0516:da5e:d3ff:fe6c:74d7","reverse":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"f7db9caa-cfd4-4b02-af55-f72746854791","address":"51.159.195.118","reverse":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["9cb94469-72ed-4f72-826e-ae7c352dfab5"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b/install
    method: POST
  response:
    body: '{"id":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-12-12T09:35:25.900272Z","created_at":"2022-12-12T09:34:41.474697Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["9cb94469-72ed-4f72-826e-ae7c352dfab5"],"status":"to_install","user":"root","service_user":"","service_url":""},"tags":[],"ips":[{"id":"37fda7cb-4d7b-4e37-86b1-87042e350177","address":"2001:0bc8:1201:0516:da5e:d3ff:fe6c:74d7","reverse":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"pending","reverse_status_message":""},{"id":"f7db9caa-cfd4-4b02-af55-f72746854791","address":"51.159.195.118","reverse":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"pending","reverse_status_message":""}],"domain":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/25dcf38b-c90c-4b18-97a2-6956e9d1e113
    method: GET
  response:
    body: '{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"t[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/server-private-networks?order_by=created_at_asc&server_id=0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b
    method: GET
  response:
    body: '{"server_private_networks":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers?name=TestAccScalewayDataSourceBaremetalServer_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":1,"servers":[{"id":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceBaremetalServer_Basic","description":"test
      a description","updated_at":"2022-12-12T09:45:41.788214Z","created_at":"2022-12-12T09:34:41.474697Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":{"os_id":"d17d6872-0412-45d9-a198-af82c34d3c5c","hostname":"TestAccScalewayDataSourceBaremetalServer_Basic","ssh_key_ids":["9cb94469-72ed-4f72-826e-ae7c352dfab5"],"status":"completed","user":"root","service_user":"","service_url":""},"tags":[],"ips":[{"id":"f7db9caa-cfd4-4b02-af55-f72746854791","address":"51.159.195.118","reverse":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","version":"IPv4","reverse_status":"active","reverse_status_message":""},{"id":"37fda7cb-4d7b-4e37-86b1-87042e350177","address":"2001:0bc8:1201:0516:da5e:d3ff:fe6c:74d7","reverse":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","version":"IPv6","reverse_status":"active","reverse_status_message":""}],"domain":"0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b.fr-par-2.baremetal.scw.cloud","boot_type":"normal","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/0e3aa3bb-d3a5-4991-a4b3-ea9121687e2b
    method: GET
  response:
    body: '{"message":"Server not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
