---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/0e3b7619-f1d2-4492-977c-8cb729cc6be3
    method: GET
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:30:57.465191698Z","description":"","frontend_count":0,"id":"b46c275b-a2c3-402b-b5f8-a6f217b3a2f1","instances":[],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"b46c275b-a2c3-402b-b5f8-a6f217b3a2f1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:30:57.465191698Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b46c275b-a2c3-402b-b5f8-a6f217b3a2f1
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:30:57.465192Z","description":"","frontend_count":0,"id":"b46c275b-a2c3-402b-b5f8-a6f217b3a2f1","instances":[],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"b46c275b-a2c3-402b-b5f8-a6f217b3a2f1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:30:57.465192Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b46c275b-a2c3-402b-b5f8-a6f217b3a2f1/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-ecstatic-morse","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b46c275b-a2c3-402b-b5f8-a6f217b3a2f1/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:31:28.071586795Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"92ff1ffc-621c-4bf3-8da0-f21fee3faa35","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:30:57.465192Z","description":"","frontend_count":0,"id":"b46c275b-a2c3-402b-b5f8-a6f217b3a2f1","instances":[{"created_at":"2023-06-29T13:25:24.580243Z","id":"153233a1-49f7-4a9d-bf2f-bfa5cedb10cf","ip_address":"10.72.46.81","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:31:28.098228555Z","zone":"fr-par-1"}],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"b46c275b-a2c3-402b-b5f8-a6f217b3a2f1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:31:00.245268Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-ecstatic-morse","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:31:28.071586795Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/92ff1ffc-621c-4bf3-8da0-f21fee3faa35
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:31:28.071587Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-elastic-easley","inbound_port":80,"backend_id":"92ff1ffc-621c-4bf3-8da0-f21fee3faa35","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b46c275b-a2c3-402b-b5f8-a6f217b3a2f1/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:31:28.071587Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"92ff1ffc-621c-4bf3-8da0-f21fee3faa35","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:30:57.465192Z","description":"","frontend_count":1,"id":"b46c275[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-serene-mirzakhani","inbound_port":80,"backend_id":"92ff1ffc-621c-4bf3-8da0-f21fee3faa35","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5b56010d-4476-4395-84e1-bfcd16dd1100
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:31:28.071587Z","failover_host":null,"forward_port"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5b56010d-4476-4395-84e1-bfcd16dd1100/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"5b56010d-4476-4395-84e1-bfcd16dd1100","backend_id":"92ff1ffc-621c-4bf3-8da0-f21fee3faa35","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"92ff1ffc-621c-4bf3-8da0-f21fee3faa35","created_at":"2023-06-29T13:31:29.815814312Z","frontend_id":"5b56010d-4476-4395-84e1-bfcd16dd1100","id":"78837dd3-4d85-4377-b64d-b379243f6335","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-29T13:31:29.815814312Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/78837dd3-4d85-4377-b64d-b379243f6335
    method: GET
  response:
    body: '{"backend_id":"92ff1ffc-621c-4bf3-8da0-f21fee3faa35","created_at":"2023-06-29T13:31:29.815814Z","frontend_id":"5b56010d-4476-4395-84e1-bfcd16dd1100","id":"78837dd3-4d85-4377-b64d-b379243f6335","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-29T13:31:29.815814Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b46c275b-a2c3-402b-b5f8-a6f217b3a2f1?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b46c275b-a2c3-402b-b5f8-a6f217b3a2f1
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
