---
version: 2
interactions:
- request:
    body: '{"name":"tf-volume","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:37:06.836538+00:00","export_uri":null,"id":"54ea6601-320f-4807-bc1d-311f7e5921c3","modification_date":"2023-08-28T14:37:06.836538+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/54ea6601-320f-4807-bc1d-311f7e5921c3
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/54ea6601-320f-4807-bc1d-311f7e5921c3
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:37:06.836538+00:00","export_uri":null,"id":"54ea6601-320f-4807-bc1d-311f7e5921c3","modification_date":"2023-08-28T14:37:06.836538+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
    method: GET
  response:
    body: '{"volumes":[{"creation_date":"2023-08-28T14:37:06.836538+00:00","export_uri":null,"id":"54ea6601-320f-4807-bc1d-311f7e5921c3","modification_date":"2023-08-28T14:37:06.836538+00:00","name":"tf-volume","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":2000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=50&name=tf-volume>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/54ea6601-320f-4807-bc1d-311f7e5921c3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"54ea6601-320f-4807-bc1d-311f7e5921c3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
