---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cac4f46d-e0fc-4ea7-953c-ca5aee6c00a6","ip_address":"195.154.68.193","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"195-154-68-193.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cac4f46d-e0fc-4ea7-953c-ca5aee6c00a6
    method: GET
  response:
    body: '{"id":"cac4f46d-e0fc-4ea7-953c-ca5aee6c00a6","ip_address":"195.154.68.193","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"195-154-68-193.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_address=195.154.68.193
    method: GET
  response:
    body: '{"ips":[{"id":"cac4f46d-e0fc-4ea7-953c-ca5aee6c00a6","ip_address":"195.154.68.193","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"195-154-68-193.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cac4f46d-e0fc-4ea7-953c-ca5aee6c00a6
    method: GET
  response:
    body: '{"message":"ips not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
