---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"eab82b35-f454-499d-9e71-ec38d3779769","ip_address":"51.159.8.115","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-8-115.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/eab82b35-f454-499d-9e71-ec38d3779769
    method: GET
  response:
    body: '{"id":"eab82b35-f454-499d-9e71-ec38d3779769","ip_address":"51.159.8.115","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-8-115.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb","description":"","ip_id":"eab82b35-f454-499d-9e71-ec38d3779769","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"4078f257-e881-4547-a236-369aaedf8263","name":"data-test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"eab82b35-f454-499d-9e71-ec38d3779769","ip_address":"51.159.8.115","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4078f257-e881-4547-a236-369aaedf8263","reverse":"51-159-8-115.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-08T10:14:37.103620412Z","updated_at":"2021-12-08T10:14:37.103620412Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4078f257-e881-4547-a236-369aaedf8263
    method: GET
  response:
    body: '{"id":"4078f257-e881-4547-a236-369aaedf8263","name":"data-test-lb","description":"","status":"pending","instances":[{"id":"839c966e-e7f3-4d0c-a1e6-0ae409ba216e","status":"unknown","ip_address":"10.70.108.117","created_at":"2021-12-08T09:59:26.504387Z","updated_at":"2021-12-08T10:14:37.281974Z","region":"fr-par","z[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4078f257-e881-4547-a236-369aaedf8263/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=data-test-lb&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[{"id":"4078f257-e881-4547-a236-369aaedf8263","name":"data-test-lb","description":"","status":"ready","instances":[{"id":"eb460619-7dbe-4b96-a59e-8fec6dbc0245","status":"ready","ip_address":"10.65.30.91","created_at":"2021-12-08T10:01:16.466667Z","updated_at":"2021-12-08T10:14:37.897815Z","region":"fr-par","zone":"fr-par-1"},{"id":"839c966e-e7f3-4d0c-a1e6-0ae409ba216e","status":"ready","ip_address":"10.70.108.117","created_at":"2021-12-08T09:59:26.504387Z","updated_at":"2021-12-08T10:14:37.689116Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"eab82b35-f454-499d-9e71-ec38d3779769","ip_address":"51.159.8.115","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4078f257-e881-4547-a236-369aaedf8263","reverse":"51-159-8-115.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-08T10:14:37.103620Z","updated_at":"2021-12-08T10:14:38.206250Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4078f257-e881-4547-a236-369aaedf8263?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4078f257-e881-4547-a236-369aaedf8263
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
