---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-3091170594164197770","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:42:17.623504Z","description":"","id":"6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72","name":"test-acc-scaleway-project-3091170594164197770","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:42:17.623504Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-3681955039698765906","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:42:17.922373Z","description":"","editable":true,"id":"e9270614-2c6b-407e-8f1f-5d4748b3e9a8","name":"test-acc-scaleway-iam-app-3681955039698765906","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:42:17.922373Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-237842620441141553","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"application_id":"e9270614-2c6b-407e-8f1f-5d4748b3e9a8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"e9270614-2c6b-407e-8f1f-5d4748b3e9a8","created_at":"2023-07-19T13:42:19.167618Z","description":"","editable":true,"id":"e80eb265-73c8-4e4a-8fc2-2d8f2e8c68e4","name":"test-acc-scaleway-iam-policy-237842620441141553","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:42:19.167618Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"e9270614-2c6b-407e-8f1f-5d4748b3e9a8","expires_at":null,"default_project_id":"6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWCAWF07HE6EYGDY77D","application_id":"e9270614-2c6b-407e-8f1f-5d4748b3e9a8","created_at":"2023-07-19T13:42:19.633854Z","creation_ip":"51.159.73.9","default_project_id":"6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T13:42:19.633854Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret
      test description","type":"unknown_secret_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:42:20.634618Z","description":"DataSourceSecret
      test description","id":"785ce144-74ad-475a-93eb-5d2ea33edf95","is_managed":false,"is_protected":false,"name":"scalewayDataSourceSecret","project_id":"6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72","region":"fr-par","status":"ready","tags":[],"type":"unknown_secret_type","updated_at":"2023-07-19T13:42:20.634618Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/785ce144-74ad-475a-93eb-5d2ea33edf95
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:42:20.634618Z","description":"DataSourceSecret
      test description","id":"785ce144-74ad-475a-93eb-5d2ea33edf95","is_managed":false,"is_protected":false,"name":"scalewayDataSourceSecret","project_id":"6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72","region":"fr-par","status":"ready","tags":[],"type":"unknown_secret_type","updated_at":"2023-07-19T13:42:20.634618Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b&project_id=6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2023-07-19T13:42:20.634618Z","description":"DataSourceSecret
      test description","id":"785ce144-74ad-475a-93eb-5d2ea33edf95","is_managed":false,"is_protected":false,"name":"scalewayDataSourceSecret","project_id":"6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72","region":"fr-par","status":"ready","tags":[],"type":"unknown_secret_type","updated_at":"2023-07-19T13:42:20.634618Z","version_count":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCAWF07HE6EYGDY77D
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/e80eb265-73c8-4e4a-8fc2-2d8f2e8c68e4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/e9270614-2c6b-407e-8f1f-5d4748b3e9a8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/6d8a0bc6-d8c5-4c6e-8c8f-b2511418fe72
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/785ce144-74ad-475a-93eb-5d2ea33edf95
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"785ce144-74ad-475a-93eb-5d2ea33edf95","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
