---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f98d2552-a8dd-4f57-9b9b-b3a726f660bf","ip_address":"51.159.9.159","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-159.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f98d2552-a8dd-4f57-9b9b-b3a726f660bf
    method: GET
  response:
    body: '{"id":"f98d2552-a8dd-4f57-9b9b-b3a726f660bf","ip_address":"51.159.9.159","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-159.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb","description":"","ip_id":"f98d2552-a8dd-4f57-9b9b-b3a726f660bf","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"0aeded57-065c-44ed-9973-3ceb79a6a30d","name":"data-test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f98d2552-a8dd-4f57-9b9b-b3a726f660bf","ip_address":"51.159.9.159","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"0aeded57-065c-44ed-9973-3ceb79a6a30d","reverse":"51-159-9-159.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:57:36.459983542Z","updated_at":"2021-12-22T12:57:36.459983542Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0aeded57-065c-44ed-9973-3ceb79a6a30d
    method: GET
  response:
    body: '{"id":"0aeded57-065c-44ed-9973-3ceb79a6a30d","name":"data-test-lb","description":"","status":"pending","instances":[{"id":"f5aaf505-b07e-4afa-83ed-39c4db40b00f","status":"unknown","ip_address":"10.68.220.127","created_at":"2021-12-22T12:55:46.497216Z","updated_at":"2021-12-22T12:57:36.688544Z","region":"fr-par","z[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0aeded57-065c-44ed-9973-3ceb79a6a30d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=data-test-lb&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[{"id":"0aeded57-065c-44ed-9973-3ceb79a6a30d","name":"data-test-lb","description":"","status":"ready","instances":[{"id":"e8a4554a-1ad3-49e1-8f9d-664e05732b5a","status":"ready","ip_address":"10.64.226.133","created_at":"2021-12-22T08:05:56.496895Z","updated_at":"2021-12-22T12:57:37.624680Z","region":"fr-par","zone":"fr-par-1"},{"id":"f5aaf505-b07e-4afa-83ed-39c4db40b00f","status":"ready","ip_address":"10.68.220.127","created_at":"2021-12-22T12:55:46.497216Z","updated_at":"2021-12-22T12:57:37.408386Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f98d2552-a8dd-4f57-9b9b-b3a726f660bf","ip_address":"51.159.9.159","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"0aeded57-065c-44ed-9973-3ceb79a6a30d","reverse":"51-159-9-159.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:57:36.459984Z","updated_at":"2021-12-22T12:57:38.036078Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0aeded57-065c-44ed-9973-3ceb79a6a30d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0aeded57-065c-44ed-9973-3ceb79a6a30d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
