---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-terraform","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-22T16:09:45.867599Z","retention":7},"created_at":"2023-11-21T16:09:45.867599Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-22T16:09:45.867599Z","retention":7},"created_at":"2023-11-21T16:09:45.867599Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-22T16:09:45.867599Z","retention":7},"created_at":"2023-11-21T16:09:45.867599Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-22T16:09:45.867599Z","retention":7},"created_at":"2023-11-21T16:09:45.867599Z","endpoint":{"id":"a4610629-6080-4914-b7e8-2eeee59a087f","ip":"195.154.70.203","load_balancer":{},"name":null,"port":19237},"endpoints":[{"id":"a4610629-6080-4914-b7e8-2eeee59a087f","ip":"195.154.70.203","load_balancer":{},"name":null,"port":19237}],"engine":"PostgreSQL-15","id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-terraform","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-22T16:09:45.867599Z","retention":7},"created_at":"2023-11-21T16:09:45.867599Z","endpoint":{"id":"a4610629-6080-4914-b7e8-2eeee59a087f","ip":"195.154[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwekNDQW8rZ0F3SUJBZ0lVV0ozbzZBOFNzR01FUFQ2djhHakpYU2d0M1ZRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFNU5TNHhOVFF1TnpBdU1qQXpNQjRYCkRUSXpNVEV5TVRFMk1USXpPRm9YRFRNek1URXhPREUyTVRJek9Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakU1TlM0eE5[...]
[...]
- request:
    body: '{"name":"test-terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9/databases
    method: POST
  response:
    body: '{"managed":true,"name":"test-terraform","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9/databases?name=test-terraform&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"test-terraform","owner":"_rdb_superadmin","size":7705391}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","database_name":"test-terraform","name":"test_backup_datasource"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"created_at":"2023-11-21T16:13:27.928556Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"67512aac-a7ec-4f17-b588-63500431cf6d","instance_id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/67512aac-a7ec-4f17-b588-63500431cf6d
    method: GET
  response:
    body: '{"created_at":"2023-11-21T16:13:27.928556Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"67512aac-a7ec-4f17-b588-63500431cf6d","instance_id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9&name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"database_backups":[{"created_at":"2023-11-21T16:13:27.928556Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"67512aac-a7ec-4f17-b588-63500431cf6d","instance_id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1303,"status":"ready","updated_at":"2023-11-21T16:13:29.879358Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"database_backups":[{"created_at":"2023-11-21T16:13:27.928556Z","database_name":"test-terraform","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"67512aac-a7ec-4f17-b588-63500431cf6d","instance_id":"f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9","instance_name":"test-terraform","name":"test_backup_datasource","region":"fr-par","same_region":false,"size":1303,"status":"ready","updated_at":"2023-11-21T16:13:29.879358Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/67512aac-a7ec-4f17-b588-63500431cf6d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"database_backup","resource_id":"67512aac-a7ec-4f17-b588-63500431cf6d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f9ff9e2a-ceb1-4788-ab8b-2dc302e012d9/databases/test-terraform
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
