---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"5bc639db-3047-456d-9026-9d0018edad4f","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2020-10-14T12:52:43.245527Z","updated_at":"2020-11-04T15:55:05.483367Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/5bc639db-3047-456d-9026-9d0018edad4f
    method: GET
  response:
    body: '{"id":"5bc639db-3047-456d-9026-9d0018edad4f","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2020-10-14T12:52:43.245527Z","updated_at":"2020-11-04T15:55:05.483367Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys?name=TestAccScalewayDataSourceAccountSSHKey_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"ssh_keys":[{"id":"5bc639db-3047-456d-9026-9d0018edad4f","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2020-10-14T12:52:43.245527Z","updated_at":"2020-11-04T15:55:05.483367Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/5bc639db-3047-456d-9026-9d0018edad4f
    method: GET
  response:
    body: '{"message":"ssh key not found","resource":"ssh-key","resource_id":"5bc639db-3047-456d-9026-9d0018edad4f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
