---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3592e864-231c-4617-b12b-181bb79a7bbd","ip_address":"195.154.75.254","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-254.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3592e864-231c-4617-b12b-181bb79a7bbd
    method: GET
  response:
    body: '{"id":"3592e864-231c-4617-b12b-181bb79a7bbd","ip_address":"195.154.75.254","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-254.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips?ip_type=all
    method: GET
  response:
    body: '{"ips":[{"id":"35b2fa43-194b-4e06-b0e9-01671ec35ace","ip_address":"51.158.56.74","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-158-56-74.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"359f334c-da60-4047-bf10-3e3478ffbcb3","ip_address":"195.154.74.44","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-74-44.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"3592e864-231c-4617-b12b-181bb79a7bbd","ip_address":"195.154.75.254","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"195-154-75-254.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/35b2fa43-194b-4e06-b0e9-01671ec35ace
    method: GET
  response:
    body: '{"message":"ips not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
