---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f27de998-3703-428c-baa0-fbc427cf2892","ip_address":"195.154.70.138","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-138.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f27de998-3703-428c-baa0-fbc427cf2892
    method: GET
  response:
    body: '{"id":"f27de998-3703-428c-baa0-fbc427cf2892","ip_address":"195.154.70.138","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-138.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"data-test-lb-backend","description":"","ip_id":"f27de998-3703-428c-baa0-fbc427cf2892","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T13:53:00.240945346Z","description":"","frontend_count":0,"id":"3354a130-857a-4932-901b-df02dae43bc1","instances":[],"ip":[{"id":"f27de998-3703-428c-baa0-fbc427cf2892","ip_address":"195.154.70.138","lb_id":"3354a130-857a-4932-901b-df02dae43bc1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-138.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T13:53:00.240945346Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3354a130-857a-4932-901b-df02dae43bc1
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T13:53:00.240945Z","description":"","frontend_count":0,"id":"3354a130-857a-4932-901b-df02dae43bc1","instances":[],"ip":[{"id":"f27de998-3703-428c-baa0-fbc427cf2892","ip_address":"195.154.70.138","lb_id":"3354a130-857a-4932-901b-df02dae43bc1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-138.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T13:53:00.240945Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3354a130-857a-4932-901b-df02dae43bc1/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3354a130-857a-4932-901b-df02dae43bc1/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-20T13:53:30.944218427Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"9e7d207e-8e0e-46d1-b736-33d74016574c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-20T13:53:00.240945Z","description":"","frontend_count":0,"id":"3354a130-857a-4932-901b-df02dae43bc1","instances":[{"created_at":"2023-02-18T00:47:56.240478Z","id":"f6ae97a2-774a-4b80-b2a1-21d66576937a","ip_address":"10.74.60.41","region":"fr-par","status":"pending","updated_at":"2023-02-20T13:53:30.972651022Z","zone":"fr-par-1"}],"ip":[{"id":"f27de998-3703-428c-baa0-fbc427cf2892","ip_address":"195.154.70.138","lb_id":"3354a130-857a-4932-901b-df02dae43bc1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-138.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"data-test-lb-backend","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T13:53:02.428886Z","zone":"fr-par-1"},"name":"backend01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-20T13:53:30.944218427Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/9e7d207e-8e0e-46d1-b736-33d74016574c
    method: GET
  response:
    body: '{"created_at":"2023-02-20T13:53:30.944218Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"9e7d207e-8e0e-46d1-b736-3[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3354a130-857a-4932-901b-df02dae43bc1/backends?name=backend01&order_by=created_at_asc
    method: GET
  response:
    body: '{"backends":[{"created_at":"2023-02-20T13:53:30.944218Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"9e7d207e-8e0e-46d1-b736-33d74016574c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-20T13:53:00.240945Z","description":"","frontend_count":0,"id":"3354a130-857a-4932-901b-df02dae43b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3354a130-857a-4932-901b-df02dae43bc1?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3354a130-857a-4932-901b-df02dae43bc1
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
