---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-768530546267745214","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-03-15T16:44:10.293315Z","description":"","id":"f426739b-0137-48ac-a5c3-2f3f86730c43","name":"test-acc-scaleway-project-768530546267745214","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-03-15T16:44:10.293315Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-6716747850821309728","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-03-15T16:44:10.539606Z","description":"","editable":true,"id":"b5258283-9549-4354-9d99-3ec9311e7978","name":"test-acc-scaleway-iam-app-6716747850821309728","nb_api_keys":0,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-03-15T16:44:10.539606Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-218787902650340946","description":"","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["IAMManager"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"application_id":"b5258283-9549-4354-9d99-3ec9311e7978"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"b5258283-9549-4354-9d99-3ec9311e7978","created_at":"2023-03-15T16:44:10.602183Z","description":"","editable":true,"id":"2e3d313b-e47e-403a-a5f0-452e8a37ded8","name":"test-acc-scaleway-iam-policy-218787902650340946","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-03-15T16:44:10.602183Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"b5258283-9549-4354-9d99-3ec9311e7978","expires_at":null,"default_project_id":"f426739b-0137-48ac-a5c3-2f3f86730c43","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWMPCK4DTEB9PYA4K6G","application_id":"b5258283-9549-4354-9d99-3ec9311e7978","created_at":"2023-03-15T16:44:10.773030Z","creation_ip":"51.159.46.153","default_project_id":"f426739b-0137-48ac-a5c3-2f3f86730c43","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-03-15T16:44:10.773030Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"f426739b-0137-48ac-a5c3-2f3f86730c43","name":"scalewayDataSourceSecret","tags":null,"description":"DataSourceSecret
      test description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-03-15T16:44:11.872416Z","description":"DataSourceSecret
      test description","id":"888f9c85-60de-4f82-90be-f72c075e3b14","name":"scalewayDataSourceSecret","project_id":"f426739b-0137-48ac-a5c3-2f3f86730c43","region":"fr-par","status":"ready","tags":[],"updated_at":"2023-03-15T16:44:11.872416Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/888f9c85-60de-4f82-90be-f72c075e3b14
    method: GET
  response:
    body: '{"created_at":"2023-03-15T16:44:11.872416Z","description":"DataSourceSecret
      test description","id":"888f9c85-60de-4f82-90be-f72c075e3b14","name":"scalewayDataSourceSecret","project_id":"f426739b-0137-48ac-a5c3-2f3f86730c43","region":"fr-par","status":"ready","tags":[],"updated_at":"2023-03-15T16:44:11.872416Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets?name=scalewayDataSourceSecret&order_by=name_asc&organization_id=63a66ec9-a385-4194-bc15-04aa6921274a&project_id=f426739b-0137-48ac-a5c3-2f3f86730c43
    method: GET
  response:
    body: '{"secrets":[{"created_at":"2023-03-15T16:44:11.872416Z","description":"DataSourceSecret
      test description","id":"888f9c85-60de-4f82-90be-f72c075e3b14","name":"scalewayDataSourceSecret","project_id":"f426739b-0137-48ac-a5c3-2f3f86730c43","region":"fr-par","status":"ready","tags":[],"updated_at":"2023-03-15T16:44:11.872416Z","version_count":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWMPCK4DTEB9PYA4K6G
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/2e3d313b-e47e-403a-a5f0-452e8a37ded8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b5258283-9549-4354-9d99-3ec9311e7978
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/f426739b-0137-48ac-a5c3-2f3f86730c43
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/888f9c85-60de-4f82-90be-f72c075e3b14
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"888f9c85-60de-4f82-90be-f72c075e3b14","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
