---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"55ca59ca-c9f6-4079-9242-2696f3069cc5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:45.452927Z","updated_at":"2021-12-14T15:11:45.452927Z","tags":[],"address":"163.172.147.71","reverse":"71-147-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/55ca59ca-c9f6-4079-9242-2696f3069cc5
    method: GET
  response:
    body: '{"id":"55ca59ca-c9f6-4079-9242-2696f3069cc5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:45.452927Z","updated_at":"2021-12-14T15:11:45.452927Z","tags":[],"address":"163.172.147.71","reverse":"71-147-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/55ca59ca-c9f6-4079-9242-2696f3069cc5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"55ca59ca-c9f6-4079-9242-2696f3069cc5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
