---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d6650262-7340-4551-91f7-d7d986378eb2","ip_address":"51.159.8.145","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-145.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d6650262-7340-4551-91f7-d7d986378eb2
    method: GET
  response:
    body: '{"id":"d6650262-7340-4551-91f7-d7d986378eb2","ip_address":"51.159.8.145","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-145.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d6650262-7340-4551-91f7-d7d986378eb2","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:40:30.485895142Z","description":"","frontend_count":0,"id":"a7b09ae5-1d6b-4c69-a747-0b77533667d0","instances":[],"ip":[{"id":"d6650262-7340-4551-91f7-d7d986378eb2","ip_address":"51.159.8.145","lb_id":"a7b09ae5-1d6b-4c69-a747-0b77533667d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-145.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:30.485895142Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a7b09ae5-1d6b-4c69-a747-0b77533667d0
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:40:30.485895Z","description":"","frontend_count":0,"id":"a7b09ae5-1d6b-4c69-a747-0b77533667d0","instances":[],"ip":[{"id":"d6650262-7340-4551-91f7-d7d986378eb2","ip_address":"51.159.8.145","lb_id":"a7b09ae5-1d6b-4c69-a747-0b77533667d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-145.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:30.485895Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a7b09ae5-1d6b-4c69-a747-0b77533667d0/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-amazing-tharp","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a7b09ae5-1d6b-4c69-a747-0b77533667d0/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:41:01.080732849Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"c78e0395-b6a2-46cc-ba4a-f70e3833930e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:40:30.485895Z","description":"","frontend_count":0,"id":"a7b09ae5-1d6b-4c69-a747-0b77533667d0","instances":[{"created_at":"2023-06-16T09:39:07.674677Z","id":"d8e94059-8e65-42c0-b391-501f32368427","ip_address":"10.76.40.111","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:41:01.109895562Z","zone":"fr-par-1"}],"ip":[{"id":"d6650262-7340-4551-91f7-d7d986378eb2","ip_address":"51.159.8.145","lb_id":"a7b09ae5-1d6b-4c69-a747-0b77533667d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-145.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:32.734679Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-amazing-tharp","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:41:01.080732849Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c78e0395-b6a2-46cc-ba4a-f70e3833930e
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:41:01.080733Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-xenodochial-burnell","inbound_port":80,"backend_id":"c78e0395-b6a2-46cc-ba4a-f70e3833930e","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a7b09ae5-1d6b-4c69-a747-0b77533667d0/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:41:01.080733Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"c78e0395-b6a2-46cc-ba4a-f70e3833930e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:40:30.485895Z","description":"","frontend_count":1,"id":"a7b09ae[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-strange-cannon","inbound_port":80,"backend_id":"c78e0395-b6a2-46cc-ba4a-f70e3833930e","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/839a5b89-09a5-48ff-9b6b-579106450c3d
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:41:01.080733Z","failover_host":null,"forward_port":80[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/839a5b89-09a5-48ff-9b6b-579106450c3d/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"839a5b89-09a5-48ff-9b6b-579106450c3d","backend_id":"c78e0395-b6a2-46cc-ba4a-f70e3833930e","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"c78e0395-b6a2-46cc-ba4a-f70e3833930e","created_at":"2023-06-16T09:41:02.752722106Z","frontend_id":"839a5b89-09a5-48ff-9b6b-579106450c3d","id":"1574e51c-9159-4f47-90cd-db8d87a99fe8","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-16T09:41:02.752722106Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/1574e51c-9159-4f47-90cd-db8d87a99fe8
    method: GET
  response:
    body: '{"backend_id":"c78e0395-b6a2-46cc-ba4a-f70e3833930e","created_at":"2023-06-16T09:41:02.752722Z","frontend_id":"839a5b89-09a5-48ff-9b6b-579106450c3d","id":"1574e51c-9159-4f47-90cd-db8d87a99fe8","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-16T09:41:02.752722Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a7b09ae5-1d6b-4c69-a747-0b77533667d0?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a7b09ae5-1d6b-4c69-a747-0b77533667d0
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
