---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"eeacfdd0-f59b-49fc-a2af-f67251674591","ip_address":"51.159.115.252","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-252.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/eeacfdd0-f59b-49fc-a2af-f67251674591
    method: GET
  response:
    body: '{"id":"eeacfdd0-f59b-49fc-a2af-f67251674591","ip_address":"51.159.115.252","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-252.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"eeacfdd0-f59b-49fc-a2af-f67251674591","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T14:31:38.952382515Z","description":"","frontend_count":0,"id":"4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0","instances":[],"ip":[{"id":"eeacfdd0-f59b-49fc-a2af-f67251674591","ip_address":"51.159.115.252","lb_id":"4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-252.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T14:31:38.952382515Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-20T14:31:38.952383Z","description":"","frontend_count":0,"id":"4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0","instances":[],"ip":[{"id":"eeacfdd0-f59b-49fc-a2af-f67251674591","ip_address":"51.159.115.252","lb_id":"4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-252.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T14:31:38.952383Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-gracious-euler","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-20T14:32:09.593048748Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"763c9588-cdde-4e12-9340-9f4297c103f9","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-20T14:31:38.952383Z","description":"","frontend_count":0,"id":"4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0","instances":[{"created_at":"2023-02-20T14:25:18.188427Z","id":"a32b8884-8ee8-43b1-b2b6-fe2c75c2a421","ip_address":"10.64.126.73","region":"fr-par","status":"pending","updated_at":"2023-02-20T14:32:09.630320576Z","zone":"fr-par-1"}],"ip":[{"id":"eeacfdd0-f59b-49fc-a2af-f67251674591","ip_address":"51.159.115.252","lb_id":"4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-252.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-20T14:31:41.037045Z","zone":"fr-par-1"},"name":"tf-lb-bkd-gracious-euler","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-20T14:32:09.593048748Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/763c9588-cdde-4e12-9340-9f4297c103f9
    method: GET
  response:
    body: '{"created_at":"2023-02-20T14:32:09.593049Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"763c9588-cdde-4e12-9340-9f[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-nice-elbakyan","inbound_port":80,"backend_id":"763c9588-cdde-4e12-9340-9f4297c103f9","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-20T14:32:09.593049Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"763c9588-cdde-4e12-9340-9f4297c103f9","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-20T14:31:38.952383Z","description":"","frontend_count":1,"id":"4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ffd9f3f1-38b1-4558-8990-f365d8ade419/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ffd9f3f1-38b1-4558-8990-f365d8ade419
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-20T14:32:09.593049Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"763c9588-cdde-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0/frontends?name=tf-lb-frt-nice-elbakyan&order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-02-20T14:32:09.593049Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"763c9588-cdde-4e12-9340-9f4297c103f9","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-20T14:31:38.952383Z","description":"","frontend_count":1,"id":"4de6d1d2-0b76-4bbd-a5f8-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4de6d1d2-0b76-4bbd-a5f8-4eddfd3530d0
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
