---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayResourceVPC_Basic01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-12T10:12:32.788580Z","id":"24ca8e2a-a55f-446d-9028-09255b5ebee5","is_default":false,"name":"TestAccScalewayResourceVPC_Basic01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T10:12:32.788580Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/24ca8e2a-a55f-446d-9028-09255b5ebee5
    method: GET
  response:
    body: '{"created_at":"2024-01-12T10:12:32.788580Z","id":"24ca8e2a-a55f-446d-9028-09255b5ebee5","is_default":false,"name":"TestAccScalewayResourceVPC_Basic01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T10:12:32.788580Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":"24ca8e2a-a55f-446d-9028-09255b5ebee5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-12T10:12:33.037070Z","dhcp_enabled":true,"id":"c08ccf92-dc79-4514-aeac-510bc284e0e7","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T10:12:33.037070Z","id":"cfc20ce6-4058-4ad3-adfd-66afdaa280d5","subnet":"172.16.96.0/22","updated_at":"2024-01-12T10:12:33.037070Z"},{"created_at":"2024-01-12T10:12:33.037070Z","id":"a23504f2-28e8-4fae-ab31-b87119690513","subnet":"fd46:78ab:30b8:ebb7::/64","updated_at":"2024-01-12T10:12:33.037070Z"}],"tags":[],"updated_at":"2024-01-12T10:12:33.037070Z","vpc_id":"24ca8e2a-a55f-446d-9028-09255b5ebee5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c08ccf92-dc79-4514-aeac-510bc284e0e7
    method: GET
  response:
    body: '{"created_at":"2024-01-12T10:12:33.037070Z","dhcp_enabled":true,"id":"c08ccf92-dc79-4514-aeac-510bc284e0e7","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T10:12:33.037070Z","id":"cfc20ce6-4058-4ad3-adfd-66afdaa280d5","subnet":"172.16.96.0/22","updated_at":"2024-01-12T10:12:33.037070Z"},{"created_at":"2024-01-12T10:12:33.037070Z","id":"a23504f2-28e8-4fae-ab31-b87119690513","subnet":"fd46:78ab:30b8:ebb7::/64","updated_at":"2024-01-12T10:12:33.037070Z"}],"tags":[],"updated_at":"2024-01-12T10:12:33.037070Z","vpc_id":"24ca8e2a-a55f-446d-9028-09255b5ebee5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic01&order_by=created_at_asc&vpc_id=24ca8e2a-a55f-446d-9028-09255b5ebee5
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2024-01-12T10:12:33.037070Z","dhcp_enabled":true,"id":"c08ccf92-dc79-4514-aeac-510bc284e0e7","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T10:12:33.037070Z","id":"cfc20ce6-4058-4ad3-adfd-66afdaa280d5","subnet":"172.16.96.0/22","updated_at":"2024-01-12T10:12:33.037070Z"},{"created_at":"2024-01-12T10:12:33.037070Z","id":"a23504f2-28e8-4fae-ab31-b87119690513","subnet":"fd46:78ab:30b8:ebb7::/64","updated_at":"2024-01-12T10:12:33.037070Z"}],"tags":[],"updated_at":"2024-01-12T10:12:33.037070Z","vpc_id":"24ca8e2a-a55f-446d-9028-09255b5ebee5"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c08ccf92-dc79-4514-aeac-510bc284e0e7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"c08ccf92-dc79-4514-aeac-510bc284e0e7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
