---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"id":"627a59a6-56cd-427e-8db5-564e9e7e1f45","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-07-08T14:09:37.801215546Z","created_at":"2021-07-21T08:31:17.311155Z","status":"ready","tags":[],"ip_address":"51.159.124.44","server_id":null,"reverse":"51-159-124-44.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/627a59a6-56cd-427e-8db5-564e9e7e1f45
    method: GET
  response:
    body: '{"id":"627a59a6-56cd-427e-8db5-564e9e7e1f45","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-07-08T14:09:37.801216Z","created_at":"2021-07-21T08:31:17.311155Z","status":"ready","tags":[],"ip_address":"51.159.124.44","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc
    method: GET
  response:
    body: '{"total_count":1,"flexible_ips":[{"id":"627a59a6-56cd-427e-8db5-564e9e7e1f45","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-07-08T14:09:37.801216Z","created_at":"2021-07-21T08:31:17.311155Z","status":"ready","tags":[],"ip_address":"51.159.124.44","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/627a59a6-56cd-427e-8db5-564e9e7e1f45
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
