---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.2","name":"1.27.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"tf-cluster","description":"","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"version":"1.27.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-07-27T15:25:44.788469548Z","created_at":"2023-07-27T15:25:44.788469548Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51","ingress":"none","name":"tf-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2023-07-27T15:25:44.799974200Z","upgrade_available":false,"version":"1.27.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXIiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFFWTNsT2FrVXhUV3BWTUU0eGIxaEVWRTE2VFVSamVVNXFSVEZOYWxVd1RqRnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZGdlE[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters?name=tf-cluster&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"clusters":[{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-07-27T15:25:44.788470Z","created_at":"2023-07-27T15:25:44.788470Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51","ingress":"none","name":"tf-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"pool_required","tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"type":"kapsule","updated_at":"2023-07-27T15:25:47.616476Z","upgrade_available":false,"version":"1.27.2"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51","container_runtime":"containerd","created_at":"2023-07-27T15:25:50.235645Z","id":"8738775d-ab03-45be-a295-83407fa3d998","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:25:50.247558448Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8738775d-ab03-45be-a295-83407fa3d998
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51","container_runtime":"containerd","created_at":"2023-07-27T15:25:50.235645Z","id":"8738775d-ab03-45be-a295-83407fa3d998","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:25:50.247558Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51/nodes?order_by=created_at_asc&page=1&pool_id=8738775d-ab03-45be-a295-83407fa3d998&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-07-27T15:28:11.249171Z","error_message":null,"id":"93b48a1f-cf8c-4c75-88a1-b1535ac20a7e","name":"scw-tf-cluster-default-93b48a1fcf8c4c7588a1b15","pool_id":"8738775d-ab03-45be-a295-83407fa3d998","provider_id":"scaleway://instance/fr-par-1/bf82d2da-2978-4ab7-a487-80b8f2891620","public_ip_v4":"163.172.143.59","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-27T15:30:33.624527Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"cbc0f7fa-f1f3-43cf-8eeb-ae9cedc98d51","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
