---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-terraform","engine":"PostgreSQL-11","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","name":"test-terraform","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-15T15:31:24.557283Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a63a9121-ed1e-417e-8a03-6d641bbd89e8
    method: GET
  response:
    body: '{"id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","name":"test-terraform","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-15T15:31:24.557283Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a63a9121-ed1e-417e-8a03-6d641bbd89e8
    method: GET
  response:
    body: '{"id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","name":"test-terraform","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.159.25.24","port":64821,"name":null,"id":"3cc1c784-5dfc-46ab-b845-0dd1f547ba9c","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.25.24","port":64821,"name":null,"id":"3cc1c784-5dfc-46ab-b845-0dd1f547ba9c","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-15T15:31:24.557283Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a63a9121-ed1e-417e-8a03-6d641bbd89e8
    method: PATCH
  response:
    body: '{"id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","name":"test-terraform","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","engine":"Po[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a63a9121-ed1e-417e-8a03-6d641bbd89e8/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVUkhwcVl5bEFCN0ExTndEU3Bvd1Eyak5Wd3h3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWhOak5oT1RFeU1TMWxaREZsCkxUUXhOMlV0T0dFd015MDJaRFkwTVdKaVpEZzVaVGd1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05qRTFNVFV6TWpVeVdoY05Nekl3TmpFeU1UVXpNalV5V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"name":"test-terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a63a9121-ed1e-417e-8a03-6d641bbd89e8/databases
    method: POST
  response:
    body: '{"name":"test-terraform","owner":"","managed":true,"size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a63a9121-ed1e-417e-8a03-6d641bbd89e8/databases?name=test-terraform&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"name":"test-terraform","owner":"_rdb_superadmin","managed":true,"size":7852703}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","database_name":"test-terraform","name":"test_backup_datasource","expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"d15ec63f-9d05-4393-8191-2a4e42c89aaf","instance_id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","database_name":"test-terraform","name":"test_backup_datasource","status":"creating","size":null,"expires_at":null,"created_at":"2022-06-15T15:35:09.987402Z","updated_at":null,"instance_name":"test-terraform","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d15ec63f-9d05-4393-8191-2a4e42c89aaf
    method: GET
  response:
    body: '{"id":"d15ec63f-9d05-4393-8191-2a4e42c89aaf","instance_id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","database_name":"test-terraform","name":"test_backup_datasource","status":"creating","size":null,"expires_at":null,"created_at":"2022-06-15T15:35:09.987402Z","updated_at":null,"instance_name":"test-terraform","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"database_backups":[{"id":"d15ec63f-9d05-4393-8191-2a4e42c89aaf","instance_id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","database_name":"test-terraform","name":"test_backup_datasource","status":"ready","size":1276,"expires_at":null,"created_at":"2022-06-15T15:35:09.987402Z","updated_at":"2022-06-15T15:35:12.734376Z","instance_name":"test-terraform","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups?instance_id=a63a9121-ed1e-417e-8a03-6d641bbd89e8&name=test_backup_datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"database_backups":[{"id":"d15ec63f-9d05-4393-8191-2a4e42c89aaf","instance_id":"a63a9121-ed1e-417e-8a03-6d641bbd89e8","database_name":"test-terraform","name":"test_backup_datasource","status":"ready","size":1276,"expires_at":null,"created_at":"2022-06-15T15:35:09.987402Z","updated_at":"2022-06-15T15:35:12.734376Z","instance_name":"test-terraform","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/d15ec63f-9d05-4393-8191-2a4e42c89aaf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"database_backup","resource_id":"d15ec63f-9d05-4393-8191-2a4e42c89aaf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a63a9121-ed1e-417e-8a03-6d641bbd89e8/databases/test-terraform
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
