---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"508b46c1-cc1e-4f94-9984-f773ba14712e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:51.308435Z","updated_at":"2022-04-27T11:58:51.308435Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"de05e75d-193a-4db1-9d5b-256166b81938","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:51.278108Z","updated_at":"2022-04-27T11:58:51.278108Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/508b46c1-cc1e-4f94-9984-f773ba14712e
    method: GET
  response:
    body: '{"id":"508b46c1-cc1e-4f94-9984-f773ba14712e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:51.308435Z","updated_at":"2022-04-27T11:58:51.308435Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/de05e75d-193a-4db1-9d5b-256166b81938
    method: GET
  response:
    body: '{"id":"de05e75d-193a-4db1-9d5b-256166b81938","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:51.278108Z","updated_at":"2022-04-27T11:58:51.278108Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-zealous-heyrovsky","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:52.720512Z","updated_at":"2022-04-27T11:58:52.720512Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-zealous-heyrovsky","tags":[],"ip":{"id":"91fa9b88-1387-45b9-9f5e-179729e0dde6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:52.706598Z","updated_at":"2022-04-27T11:58:52.706598Z","tags":[],"address":"51.15.236.210","reverse":"210-236-15-51.instances.scw.cloud","gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ed999fba-2fbe-446d-8a2b-34c452b2437e
    method: GET
  response:
    body: '{"id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:52.720512Z","updated_at":"2022-04-27T11:58:52.752469Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-zealous-heyrovsky","tags":[],"ip":{"id":"91fa9b88-1387-45b9-9f5e-179729e0dde6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:52.706598Z","updated_at":"2022-04-27T11:58:52.706598Z","tags":[],"address":"51.15.236.210","reverse":"210-236-15-51.instances.scw.cloud","gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","private_network_id":"de05e75d-193a-4db1-9d5b-256166b81938","enable_masquerade":true,"dhcp_id":"508b46c1-cc1e-4f94-9984-f773ba14712e","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"f29ee996-45f4-44a8-ba41-12cf063d7e9c","created_at":"2022-04-27T11:58:59.132218Z","updated_at":"2022-04-27T11:58:59.132218Z","gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","private_network_id":"de05e75d-193a-4db1-9d5b-256166b81938","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"508b46c1-cc1e-4f94-9984-f773ba14712e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:51.308435Z","updated_at":"2022-04-27T11:58:51.308435Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f29ee996-45f4-44a8-ba41-12cf063d7e9c
    method: GET
  response:
    body: '{"id":"f29ee996-45f4-44a8-ba41-12cf063d7e9c","created_at":"2022-04-27T11:58:59.132218Z","updated_at":"2022-04-27T11:59:05.164298Z","gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","private_network_id":"de05e75d-193a-4db1-9d5b-256166b81938","mac_address":"02:00:00:01:17:6c","enable_masquerade":true,"status":"ready","dhcp":{"id":"508b46c1-cc1e-4f94-9984-f773ba14712e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:51.308435Z","updated_at":"2022-04-27T11:58:51.308435Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"f308f99e-586d-4117-b352-9a85e10eb3e4","gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","created_at":"2022-04-27T11:59:09.774855Z","updated_at":"2022-04-27T11:59:09.774855Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/f308f99e-586d-4117-b352-9a85e10eb3e4
    method: GET
  response:
    body: '{"id":"f308f99e-586d-4117-b352-9a85e10eb3e4","gateway_id":"ed999fba-2fbe-446d-8a2b-34c452b2437e","created_at":"2022-04-27T11:59:09.774855Z","updated_at":"2022-04-27T11:59:09.774855Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f29ee996-45f4-44a8-ba41-12cf063d7e9c?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f29ee996-45f4-44a8-ba41-12cf063d7e9c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"f29ee996-45f4-44a8-ba41-12cf063d7e9c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ed999fba-2fbe-446d-8a2b-34c452b2437e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
