---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c0593960-c703-4d1a-9599-22e0095c9d8f","ip_address":"195.154.73.129","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-129.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c0593960-c703-4d1a-9599-22e0095c9d8f
    method: GET
  response:
    body: '{"id":"c0593960-c703-4d1a-9599-22e0095c9d8f","ip_address":"195.154.73.129","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-129.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-lb-datasource0","description":"a
      description","ip_id":"c0593960-c703-4d1a-9599-22e0095c9d8f","ip_ids":null,"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2024-03-25T16:48:57.613874577Z","description":"a
      description","frontend_count":0,"id":"d9e65ac7-5ce4-4e13-bd2c-a8fd2a1c729f","instances":[],"ip":[{"id":"c0593960-c703-4d1a-9599-22e0095c9d8f","ip_address":"195.154.73.129","lb_id":"d9e65ac7-5ce4-4e13-bd2c-a8fd2a1c729f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-129.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"lb-s","updated_at":"2024-03-25T16:48:57.613874577Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e65ac7-5ce4-4e13-bd2c-a8fd2a1c729f
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2024-03-25T16:48:57.613875Z","description":"a
      description","frontend_count":0,"id":"d9e65ac7-5ce4-4e13-bd2c-a8fd2a1c729f","instances":[],"ip":[{"id":"c0593960-c703-4d1a-9599-22e0095c9d8f","ip_address":"195.154.73.129","lb_id":"d9e65ac7-5ce4-4e13-bd2c-a8fd2a1c729f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-73-129.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"tf-lb-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["terraform-test","data_scaleway_lbs","basic"],"type":"lb-s","updated_at":"2024-03-25T16:48:57.613875Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9e65ac7-5ce4-4e13-bd2c-a8fd2a1c729f/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/lbs?name=tf-lb-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?order_by=created_at_asc&tags=terraform-test&tags=data_scaleway_lbs
    method: GET
  response:
    body: '{"lbs":[{"backend_count":0,"created_at":"2024-03-25T16:48:57.613875Z","description":"a
      description","frontend_count":0,"id":"d9e65ac7-5ce4-4e13-bd2c-a8fd2a1c729f","instances":[{"created_at":"2024-03-25T16:42:56.944256Z","id":"32a7bfc4-e7c1-4517-99f7-4abc715e6de4","ip_address":""[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/23d91fb9-bc6c-476d-9e6f-e0b37bbf714b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/23d91fb9-bc6c-476d-9e6f-e0b37bbf714b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
