---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceIamSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"b48b0a69-a1ae-4585-864f-4d2791ae0e15","name":"TestAccScalewayDataSourceIamSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2022-06-24T13:37:46.838678Z","updated_at":"2022-06-24T13:37:46.838678Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/b48b0a69-a1ae-4585-864f-4d2791ae0e15
    method: GET
  response:
    body: '{"id":"b48b0a69-a1ae-4585-864f-4d2791ae0e15","name":"TestAccScalewayDataSourceIamSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2022-06-24T13:37:46.838678Z","updated_at":"2022-06-24T13:37:46.838678Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?name=TestAccScalewayDataSourceIamSSHKey_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"ssh_keys":[{"id":"b48b0a69-a1ae-4585-864f-4d2791ae0e15","name":"TestAccScalewayDataSourceIamSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","created_at":"2022-06-24T13:37:46.838678Z","updated_at":"2022-06-24T13:37:46.838678Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/b48b0a69-a1ae-4585-864f-4d2791ae0e15
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"b48b0a69-a1ae-4585-864f-4d2791ae0e15","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
