---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f8576741-b282-4830-9813-a6b028e3f0ca","ip_address":"51.159.11.48","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-11-48.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f8576741-b282-4830-9813-a6b028e3f0ca
    method: GET
  response:
    body: '{"id":"f8576741-b282-4830-9813-a6b028e3f0ca","ip_address":"51.159.11.48","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-11-48.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"data-test-lb","description":"","ip_id":"f8576741-b282-4830-9813-a6b028e3f0ca","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"4a2a7b9a-e18e-4cab-b716-98f20af07881","name":"data-test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8576741-b282-4830-9813-a6b028e3f0ca","ip_address":"51.159.11.48","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4a2a7b9a-e18e-4cab-b716-98f20af07881","reverse":"51-159-11-48.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.552340163Z","updated_at":"2021-12-21T16:31:15.552340163Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a2a7b9a-e18e-4cab-b716-98f20af07881
    method: GET
  response:
    body: '{"id":"4a2a7b9a-e18e-4cab-b716-98f20af07881","name":"data-test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8576741-b282-4830-9813-a6b028e3f0ca","ip_address":"51.159.11.48","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4a2a7b9a-e18e-4cab-b716-98f20af07881","reverse":"51-159-11-48.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.552340Z","updated_at":"2021-12-21T16:31:15.552340Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a2a7b9a-e18e-4cab-b716-98f20af07881/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs?name=data-test-lb&order_by=created_at_asc
    method: GET
  response:
    body: '{"lbs":[{"id":"4a2a7b9a-e18e-4cab-b716-98f20af07881","name":"data-test-lb","description":"","status":"ready","instances":[{"id":"d9303e51-10d2-4f0e-8e29-07c533573d47","status":"ready","ip_address":"10.71.100.111","created_at":"2021-12-21T16:29:58.986994Z","updated_at":"2021-12-21T16:31:16.830213Z","region":"fr-par","zone":"fr-par-1"},{"id":"7b44d5f6-7b6f-420e-94ab-a8a9a27d63a1","status":"ready","ip_address":"10.73.86.105","created_at":"2021-12-21T16:29:56.470816Z","updated_at":"2021-12-21T16:31:16.091523Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8576741-b282-4830-9813-a6b028e3f0ca","ip_address":"51.159.11.48","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4a2a7b9a-e18e-4cab-b716-98f20af07881","reverse":"51-159-11-48.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.552340Z","updated_at":"2021-12-21T16:31:17.408508Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a2a7b9a-e18e-4cab-b716-98f20af07881?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4a2a7b9a-e18e-4cab-b716-98f20af07881
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
