---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c0fd7631-4eaa-493f-86f0-6af50358bc5e","ip_address":"51.158.58.243","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-158-58-243.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c0fd7631-4eaa-493f-86f0-6af50358bc5e
    method: GET
  response:
    body: '{"id":"c0fd7631-4eaa-493f-86f0-6af50358bc5e","ip_address":"51.158.58.243","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-158-58-243.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"data-test-lb-cert","description":"","ip_id":"c0fd7631-4eaa-493f-86f0-6af50358bc5e","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"7435793c-aecf-4345-b109-b8e1da1db08b","name":"data-test-lb-cert","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"c0fd7631-4eaa-493f-86f0-6af50358bc5e","ip_address":"51.158.58.243","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"7435793c-aecf-4345-b109-b8e1da1db08b","reverse":"51-158-58-243.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:27:31.476795557Z","updated_at":"2022-04-12T14:27:31.476795557Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7435793c-aecf-4345-b109-b8e1da1db08b
    method: GET
  response:
    body: '{"id":"7435793c-aecf-4345-b109-b8e1da1db08b","name":"data-test-lb-cert","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"c0fd7631-4eaa-493f-86f0-6af50358bc5e","ip_address":"51.158.58.243","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"7435793c-aecf-4345-b109-b8e1da1db08b","reverse":"51-158-58-243.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:27:31.476796Z","updated_at":"2022-04-12T14:27:31.476796Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7435793c-aecf-4345-b109-b8e1da1db08b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"data-test-lb-cert","letsencrypt":{"common_name":"51-158-58-243.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7435793c-aecf-4345-b109-b8e1da1db08b/certificates
    method: POST
  response:
    body: '{"id":"9a700d64-e62a-47e1-80b3-a0ce63f963c2","type":"letsencryt","status":"pending","common_name":"51-158-58-243.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"7435793c-aecf-4345-b109-b8e1da1db08b","name":"data-test-lb-cert","description":"","status":"ready","instances":[{"id":"2d498151-e5a2-484f-ae09-5f5e654c7563","status":"ready","ip_address":"10.68.182.27","created_at":"2022-04-12T14:23:48.756052Z","updated_at":"2022-04-12T14:27:31.878891Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"c0fd7631-4eaa-493f-86f0-6af50358bc5e","ip_address":"51.158.58.243","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"7435793c-aecf-4345-b109-b8e1da1db08b","reverse":"51-158-58-243.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:27:31.476796Z","updated_at":"2022-04-12T14:28:02.204543496Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"data-test-lb-cert","created_at":"2022-04-12T14:28:02.177993082Z","updated_at":"2022-04-12T14:28:02.177993082Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/9a700d64-e62a-47e1-80b3-a0ce63f963c2
    method: GET
  response:
    body: '{"id":"9a700d64-e62a-47e1-80b3-a0ce63f963c2","type":"letsencryt","status":"pending","common_name":"51-158-58-243.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"7435793c-aecf-4345-b109-b8e1da[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7435793c-aecf-4345-b109-b8e1da1db08b/certificates?name=data-test-lb-cert&order_by=created_at_asc
    method: GET
  response:
    body: '{"certificates":[{"id":"9a700d64-e62a-47e1-80b3-a0ce63f963c2","type":"letsencryt","status":"ready","common_name":"51-158-58-243.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"c975087317bde2ebff84700ff1b80127822b0649","not_valid_before":"2022-04-12T13:28:05Z","not_valid_after":"2022-07-11T13:28:04Z","lb":{"id":"7435793c-aecf-4345-b109-b8e1da1db08b","name":"data-test-lb-cert","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"c0fd7631-4eaa-493f-86f0-6af50358bc5e","ip_address":"51.158.58.243","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"7435793c-aecf-4345-b109-b8e1da1db08b","reverse":"51-158-58-243.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:27:31.476796Z","updated_at":"2022-04-12T14:28:02.204543Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"data-test-lb-cert","created_at":"2022-04-12T14:28:02.177993Z","updated_at":"2022-04-12T14:28:06.513958Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/9a700d64-e62a-47e1-80b3-a0ce63f963c2
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7435793c-aecf-4345-b109-b8e1da1db08b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
