---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-17T12:00:02.669133Z","description":"","id":"81f1ba49-d3fe-4309-a14a-f3822d23e5e2","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-17T12:00:02.669133Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/81f1ba49-d3fe-4309-a14a-f3822d23e5e2
    method: GET
  response:
    body: '{"created_at":"2023-07-17T12:00:02.669133Z","description":"","id":"81f1ba49-d3fe-4309-a14a-f3822d23e5e2","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-17T12:00:02.669133Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects?name=tf-tests-terraform-account-project&order_by=created_at_asc&organization_id=ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b
    method: GET
  response:
    body: '{"projects":[{"created_at":"2023-07-17T12:00:02.669133Z","description":"","id":"81f1ba49-d3fe-4309-a14a-f3822d23e5e2","name":"tf-tests-terraform-account-project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-17T12:00:02.669133Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/81f1ba49-d3fe-4309-a14a-f3822d23e5e2
    method: DELETE
  response:
    body: '{"message":"Internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/81f1ba49-d3fe-4309-a14a-f3822d23e5e2
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"81f1ba49-d3fe-4309-a14a-f3822d23e5e2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
