---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/billing/v2alpha1/consumption?organization_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
    method: GET
  response:
    body: '{"consumptions":[{"category":"baremetal","description":"Elastic Metal EM-A210R-HDD","operation_path":"/baremetal/em-a210r-hdd/hourly/run_ams1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","value":{"currency_code":"EUR","nanos":130000000,"units":0}},{"category":"baremetal","description":"Elastic
      Metal EM-B112X-SSD","operation_path":"/baremetal/em-b112x-ssd/hourly/run_par2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","value":{"currency_code":"EUR","nanos":780000000,"units":116}},{"category":"compute","description":"PLAY2-micro","operation_path":"/compute/play2_micro/run_par1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","value":{"currency_code":"EUR","nanos":30000000,"units":28}},{"category":"compute","description":"[...]
[...]
