---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/billing/v2beta1/consumptions?order_by=updated_at_desc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: '{"consumptions":[{"billed_quantity":"28","category_name":"Compute","product_name":"ENT1-S
      instance","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","resource_name":"Run
      - PAR2","sku":"/compute/ent1_s/run_fr-par-2","unit":"minute","value":{"currency_code":"EUR","nanos":120000000,"units":8}},{"billed_quantity":"28","category_name":"Containers","product_name":"Kapsule-dedicated-4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","resource_name":"Kapsule
      Dedicated Control-Plane S - FR-PAR","sku":"/k8s/control-plane/kapsule-dedicated-4/fr-par","unit":"minute","value":{"currency_code":"EUR","nanos":80000000,"units":3}},{"billed_quantity":"835","category_name":"Managed
      Databases","product_name":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","resource_nam[...]
[...]
