---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"offers":[{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD
      Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["01d6eef6-6b96-47fd-b9f9-3857321abe4f","bf705b90-1548-4368-98ca-d17dbd8dd860","3422ae02-d6d7-4980-8a00-eb38c262fb41","ac5cc157-caee-406a-ae0a-a28d7c30389a","39176c6e-509d-4e6c-8e42-417d103f4579","3ea52186-1e57-499e-8146-ab38051a5c10","a5c00c1b-95b1-4c08-8a33-79cc079f9dac","bd17a2bb-e686-486a-aacf-44fa8ce6e553","b4816d13-8585-4005-a7c7-54a031dd933b","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","5dfefb70-053e-4ba8-9d76-537b230db94e","847bb37a-dc13-4536-9f07-023d38dba98d","a47ccf6f-1990-4488-8f64-332a6da3ef84","c2f3e970-63f0-4f48-aa84-3455e4e13802","7e865c16-1a63-4dc7-8181-dabc020fc21b","7fb86682-316e-4f6e-a845-de9b230cdd29","4aff4d9d-b1f4-44b0-ab6f-e4711ac11711","7c70ff80-dbfa-4e07-be73-1de0e60fe175","93fb3e11-e02e-47d9-aa3a-f77a2f7a7129"],"memories":[{"capacity":16000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"name":"EM-A210R-HDD","operation_path":"","options":[{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"},{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":0,"units":22},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":0,"units":143},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":122000000,"units":0},"price_per_month":null,"private_bandwidth":1000000000,"quota_name":"EM_A210R_SATA","raid_controllers":[],"shared_bandwidth":true,"stock":"empty","subscription_period":"hourly","tags":[]},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"","core_count":4,"frequency":2800,"name":"Intel
      Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6000000000000,"type":"HDD"},{"capacity":6000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":[],"memories":[{"capacity":96000000000,"frequency":1600,"is_ecc":true,"type":"DDR3"}],"name":"EM-L101X-SATA","o[...]
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":["minimal","first"],"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2023-11-09T14:19:39.092872Z","description":"","id":"a1f61b34-39bb-4b0c-8635-cf5c732ff7bf","ip_address":"62.210.142.200","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-200.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":["minimal","first"],"updated_at":"2024-02-13T15:45:26.668606772Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a1f61b34-39bb-4b0c-8635-cf5c732ff7bf
    method: GET
  response:
    body: '{"created_at":"2023-11-09T14:19:39.092872Z","description":"","id":"a1f61b34-39bb-4b0c-8635-cf5c732ff7bf","ip_address":"62.210.142.200","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-200.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":["minimal","first"],"updated_at":"2024-02-13T15:45:26.668607Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","description":"","tags":[],"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T15:45:26.755761Z","description":"","domain":"","id":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-02-13T15:45:26.755761Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/a7eda5ea-809f-4fe4-bdc5-57993befd8ae
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T15:45:26.755761Z","description":"","domain":"","id":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae","install":null,"ips":[],"name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2024-02-13T15:45:26.755761Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/servers/a7eda5ea-809f-4fe4-bdc5-57993befd8ae
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2024-02-13T15:45:26.755761Z","description":"","domain":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae.fr-par-1.baremetal.scw.cloud","id":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae","install":null,"ips":[{"address":"62.210.90.115","id":"2d7398c8-4c59-4832-9c79-0ecd73d4469b","reverse":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae.fr-par-1.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"},{"address":"2001:0bc8:0701:0019:569f:35ff:fe1f:01b4","id":"e3c5be7f-900e-49d8-abb2-492c7667dacf","reverse":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae.fr-par-1.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayBaremetalServer_WithoutInstallConfig","offer_id":"a5065ba4-dde2-45f3-adec-1ebbb27b766b","offer_name":"EM-B112X-SSD","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","ping_status":"ping_status_unknown","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","rescue_server":null,"status":"ready","tags":[],"updated_at":"2024-02-13T15:50:14.100470Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/offers/a5065ba4-dde2-45f3-adec-1ebbb27b766b
    method: GET
  response:
    body: '{"bandwidth":1000000000,"commercial_range":"beryllium","cpus":[{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12},{"benchmark":"","core_count":6,"frequency":2000,"name":"Intel
      Xeon E5 2620 or equivalent","thread_count":12}],"disks":[{"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-1/server-private-networks?order_by=created_at_asc&server_id=a7eda5ea-809f-4fe4-bdc5-57993befd8ae
    method: GET
  response:
    body: '{"server_private_networks":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"fips_ids":["32d2070c-3106-41db-a9dd-714d2ab62b77"],"server_id":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/attach
    method: POST
  response:
    body: '{"flexible_ips":[{"created_at":"2023-11-09T14:19:39.103712Z","description":"","id":"32d2070c-3106-41db-a9dd-714d2ab62b77","ip_address":"62.210.142.201","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-201.rev.poneytelecom.eu.","server_id":null,"status":"updating","tags":["minimal","second"],"updated_at":"2024-02-13T15:50:51.677806450Z","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc&server_ids=a7eda5ea-809f-4fe4-bdc5-57993befd8ae
    method: GET
  response:
    body: '{"flexible_ips":[{"created_at":"2023-11-09T14:19:39.092872Z","description":"","id":"a1f61b34-39bb-4b0c-8635-cf5c732ff7bf","ip_address":"62.210.142.200","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-200.rev.poneytelecom.eu.","server_id":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae","status":"attached","tags":["minimal","first"],"updated_at":"2024-02-13T15:51:05.138251Z","zone":"fr-par-1"},{"created_at":"2023-11-09T14:19:39.103712Z","description":"","id":"32d2070c-3106-41db-a9dd-714d2ab62b77","ip_address":"62.210.142.201","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-201.rev.poneytelecom.eu.","server_id":"a7eda5ea-809f-4fe4-bdc5-57993befd8ae","status":"attached","tags":["minimal","second"],"updated_at":"2024-02-13T15:50:58.364763Z","zone":"fr-par-1"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/a1f61b34-39bb-4b0c-8635-cf5c732ff7bf
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
