---
version: 1
interactions:
- request:
    body: '{"name":"test_data_source_basic","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"bfb20876-ac74-4a9a-9a5c-b322884633a4","name":"test_data_source_basic","description":"","created_at":"2022-06-28T13:36:44.957918Z","updated_at":"2022-06-28T13:36:44.957918Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/bfb20876-ac74-4a9a-9a5c-b322884633a4
    method: GET
  response:
    body: '{"id":"bfb20876-ac74-4a9a-9a5c-b322884633a4","name":"test_data_source_basic","description":"","created_at":"2022-06-28T13:36:44.957918Z","updated_at":"2022-06-28T13:36:44.957918Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=test_data_source_basic&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"applications":[{"id":"bfb20876-ac74-4a9a-9a5c-b322884633a4","name":"test_data_source_basic","description":"","created_at":"2022-06-28T13:36:44.957918Z","updated_at":"2022-06-28T13:36:44.957918Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications?name=test_data_source_basic_renamed&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"applications":[{"id":"bfb20876-ac74-4a9a-9a5c-b322884633a4","name":"test_data_source_basic_renamed","description":"test_data_source_basic_description","created_at":"2022-06-28T13:36:44.957918Z","updated_at":"2022-06-28T13:36:46.110856Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/bfb20876-ac74-4a9a-9a5c-b322884633a4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"application","resource_id":"bfb20876-ac74-4a9a-9a5c-b322884633a4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
