---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":["minimal","first"],"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.714175Z","description":"","id":"9ac0fb77-3c1c-4a3c-905c-f5b98896e2f2","ip_address":"51.159.124.70","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-70.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":["minimal","first"],"updated_at":"2023-08-17T15:39:09.582701685Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/9ac0fb77-3c1c-4a3c-905c-f5b98896e2f2
    method: GET
  response:
    body: '{"created_at":"2021-07-21T08:31:17.714175Z","description":"","id":"9ac0fb77-3c1c-4a3c-905c-f5b98896e2f2","ip_address":"51.159.124.70","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-70.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":["minimal","first"],"updated_at":"2023-08-17T15:39:09.582702Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips?order_by=created_at_asc&tags=minimal
    method: GET
  response:
    body: '{"flexible_ips":[{"created_at":"2021-07-21T08:31:17.409780Z","description":"","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":["minimal","first"],"updated_at":"2023-08-17T15:37:48.710231Z","zone":"fr-par-1"},{"created_at":"2021-07-21T08:31:17.640527Z","description":"","id":"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/ae88bee2-f3d3-4154-b323-1a6951d23d6a
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
