---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"903c51a5-24cd-4080-83dd-ca79869df6c1","created_at":"2022-06-27T09:14:40.757880Z","updated_at":"2022-06-27T09:14:40.757880Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/903c51a5-24cd-4080-83dd-ca79869df6c1
    method: GET
  response:
    body: '{"id":"903c51a5-24cd-4080-83dd-ca79869df6c1","created_at":"2022-06-27T09:14:40.757880Z","updated_at":"2022-06-27T09:14:40.757880Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test-terraform&order_by=created_at_asc&organization_id=08555df8-bb26-43bc-b749-1b98c5d02343
    method: GET
  response:
    body: '{"groups":[{"id":"903c51a5-24cd-4080-83dd-ca79869df6c1","created_at":"2022-06-27T09:14:40.757880Z","updated_at":"2022-06-27T09:14:40.757880Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":[],"application_ids":[]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/903c51a5-24cd-4080-83dd-ca79869df6c1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"903c51a5-24cd-4080-83dd-ca79869df6c1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
