---
version: 1
interactions:
- request:
    body: '{"name":"test-cr","description":"","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"62a54e7e-a9a7-4858-8513-9d05194c8780","name":"test-cr","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr","is_public":false,"size":0,"created_at":"2020-12-09T09:49:44.312834570Z","updated_at":"2020-12-09T09:49:44.312834570Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/62a54e7e-a9a7-4858-8513-9d05194c8780
    method: GET
  response:
    body: '{"id":"62a54e7e-a9a7-4858-8513-9d05194c8780","name":"test-cr","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr","is_public":false,"size":0,"created_at":"2020-12-09T09:49:44.312835Z","updated_at":"2020-12-09T09:49:44.312835Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-cr&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[{"id":"62a54e7e-a9a7-4858-8513-9d05194c8780","name":"test-cr","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr","is_public":false,"size":0,"created_at":"2020-12-09T09:49:44.312835Z","updated_at":"2020-12-09T09:49:44.312835Z","image_count":0,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/62a54e7e-a9a7-4858-8513-9d05194c8780
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
