---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceAccountSSHKey_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2023-03-30T13:34:10.190638Z","disabled":false,"fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","id":"5d256bf6-bf4f-46ca-add0-0f68fbf79c9c","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","updated_at":"2023-03-30T13:34:10.190638Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/5d256bf6-bf4f-46ca-add0-0f68fbf79c9c
    method: GET
  response:
    body: '{"created_at":"2023-03-30T13:34:10.190638Z","disabled":false,"fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","id":"5d256bf6-bf4f-46ca-add0-0f68fbf79c9c","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","updated_at":"2023-03-30T13:34:10.190638Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys?name=TestAccScalewayDataSourceAccountSSHKey_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"ssh_keys":[{"created_at":"2023-03-30T13:34:10.190638Z","disabled":false,"fingerprint":"256
      MD5:fd:2d:1c:d2:34:96:3f:8d:de:19:1e:da:f5:c1:05:7d foobar@example.com (ssh-ed25519)","id":"5d256bf6-bf4f-46ca-add0-0f68fbf79c9c","name":"TestAccScalewayDataSourceAccountSSHKey_Basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAILHy/M5FVm5ydLGcal3e5LNcfTalbeN7QL/ZGCvDEdqJ foobar@example.com","updated_at":"2023-03-30T13:34:10.190638Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
