---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d579d6e6-b00e-400b-b8dd-45410adbfb32
    method: GET
  response:
    body: '{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:36:52.442628780Z","description":"","frontend_count":0,"id":"987786b6-f81e-4c27-a1f2-fc6bf697f13b","instances":[],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"987786b6-f81e-4c27-a1f2-fc6bf697f13b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:36:52.442628780Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/987786b6-f81e-4c27-a1f2-fc6bf697f13b
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:36:52.442629Z","description":"","frontend_count":0,"id":"987786b6-f81e-4c27-a1f2-fc6bf697f13b","instances":[],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"987786b6-f81e-4c27-a1f2-fc6bf697f13b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:36:52.442629Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/987786b6-f81e-4c27-a1f2-fc6bf697f13b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-boring-black","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/987786b6-f81e-4c27-a1f2-fc6bf697f13b/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:37:23.200131426Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"c3c4304c-a798-4aab-9ed0-d0dd22c175a4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:36:52.442629Z","description":"","frontend_count":0,"id":"987786b6-f81e-4c27-a1f2-fc6bf697f13b","instances":[{"created_at":"2023-06-16T09:27:31.236086Z","id":"21b5b9ff-e6fe-4b57-b02e-8bdbebd11597","ip_address":"10.72.54.49","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:37:23.229641624Z","zone":"fr-par-1"}],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"987786b6-f81e-4c27-a1f2-fc6bf697f13b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:36:54.519364Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-boring-black","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:37:23.200131426Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c3c4304c-a798-4aab-9ed0-d0dd22c175a4
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:37:23.200131Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-goofy-black","inbound_port":50000,"backend_id":"c3c4304c-a798-4aab-9ed0-d0dd22c175a4","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/987786b6-f81e-4c27-a1f2-fc6bf697f13b/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:37:23.200131Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"c3c4304c-a798-4aab-9ed0-d0dd22c175a4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:36:52.442629Z","description":"","frontend_count":1,"id":"987786[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-gallant-chaum","inbound_port":50000,"backend_id":"c3c4304c-a798-4aab-9ed0-d0dd22c175a4","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bc8a34c4-49a0-4237-b9aa-40d8fc7ed2fe
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:37:23.200131Z","failover_host":null,"forward_port":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bc8a34c4-49a0-4237-b9aa-40d8fc7ed2fe/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-acl-datasource0","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bc8a34c4-49a0-4237-b9aa-40d8fc7ed2fe/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-06-16T09:37:24.764005644Z","description":"","frontend":{"backend":{"created_at":"2023-06-16T09:37:23.200131Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"c3c4304c-a798-4aab-9ed0-d0dd22c175a4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:36:52.442629Z","description":"","frontend_count":1,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bc8a34c4-49a0-4237-b9aa-40d8fc7ed2fe/acls?name=tf-acl-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2023-06-16T09:37:24.764006Z","description":"","frontend":{"backend":{"created_at":"2023-06-16T09:37:23.200131Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","f[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bc8a34c4-49a0-4237-b9aa-40d8fc7ed2fe/acls?order_by=created_at_asc
    method: GET
  response:
    body: '{"acls":[{"action":{"redirect":null,"type":"allow"},"created_at":"2023-06-16T09:37:24.764006Z","description":"","frontend":{"backend":{"created_at":"2023-06-16T09:37:23.200131Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/987786b6-f81e-4c27-a1f2-fc6bf697f13b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/987786b6-f81e-4c27-a1f2-fc6bf697f13b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
