---
version: 1
interactions:
- request:
    body: '{"name":"tf-volume","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":2000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "9e451ffd-8998-4177-9f45-2b90aa36f155", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2021-12-07T10:50:25.253836+00:00", "modification_date":
      "2021-12-07T10:50:25.253836+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9e451ffd-8998-4177-9f45-2b90aa36f155
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9e451ffd-8998-4177-9f45-2b90aa36f155
    method: GET
  response:
    body: '{"volume": {"id": "9e451ffd-8998-4177-9f45-2b90aa36f155", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2021-12-07T10:50:25.253836+00:00", "modification_date":
      "2021-12-07T10:50:25.253836+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=tf-volume
    method: GET
  response:
    body: '{"volumes": [{"id": "9e451ffd-8998-4177-9f45-2b90aa36f155", "name": "tf-volume",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 2000000000,
      "state": "available", "creation_date": "2021-12-07T10:50:25.253836+00:00", "modification_date":
      "2021-12-07T10:50:25.253836+00:00", "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </volumes?page=1&per_page=50&name=tf-volume>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9e451ffd-8998-4177-9f45-2b90aa36f155
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''9e451ffd-8998-4177-9f45-2b90aa36f155''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
