---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
    method: GET
  response:
    body: '{"account_root_user_id":"afa9fc32-9d43-417d-9ca0-a4ed6edf27a1","created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2023-05-12T13:41:53.287170Z","mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"owner","updated_at":"2023-05-12T13:41:53.281357Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_iam_group_ds_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:51:11.029587Z","description":"","editable":true,"id":"9bed6afa-74e7-4fea-b1f4-97e97ae48222","name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:51:11.029587Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9bed6afa-74e7-4fea-b1f4-97e97ae48222
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:51:11.029587Z","description":"","editable":true,"id":"9bed6afa-74e7-4fea-b1f4-97e97ae48222","name":"tf_tests_iam_group_ds_app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:51:11.029587Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_data_source_mix","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T09:51:11.185391Z","description":"","id":"11e005ca-26ff-47a4-9056-f1d0cee9d74f","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:51:11.185391Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","d55bae64-4e2b-490f-9b2e-688715f60f6c"],"application_ids":["9bed6afa-74e7-4fea-b1f4-97e97ae48222"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/11e005ca-26ff-47a4-9056-f1d0cee9d74f/members
    method: PUT
  response:
    body: '{"application_ids":["9bed6afa-74e7-4fea-b1f4-97e97ae48222"],"created_at":"2023-06-21T09:51:11.185391Z","description":"","id":"11e005ca-26ff-47a4-9056-f1d0cee9d74f","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:51:11.185391Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","d55bae64-4e2b-490f-9b2e-688715f60f6c"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/11e005ca-26ff-47a4-9056-f1d0cee9d74f
    method: GET
  response:
    body: '{"application_ids":["9bed6afa-74e7-4fea-b1f4-97e97ae48222"],"created_at":"2023-06-21T09:51:11.185391Z","description":"","id":"11e005ca-26ff-47a4-9056-f1d0cee9d74f","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:51:11.185391Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test_data_source_mix&order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: GET
  response:
    body: '{"groups":[{"application_ids":["9bed6afa-74e7-4fea-b1f4-97e97ae48222"],"created_at":"2023-06-21T09:51:11.185391Z","description":"","id":"11e005ca-26ff-47a4-9056-f1d0cee9d74f","name":"test_data_source_mix","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:51:11.185391Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c","ef29ce05-3f2b-4fa0-a259-d76110850d57"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/11e005ca-26ff-47a4-9056-f1d0cee9d74f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"11e005ca-26ff-47a4-9056-f1d0cee9d74f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
