---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Regional","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-15T10:26:23.554860Z","id":"81b3d71c-feff-46a6-be25-02937d3de00b","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Regional","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-06-15T10:26:23.554860Z","id":"5c2c9c52-7da0-481c-bec7-b88a79423b2f","subnet":"172.16.12.0/22","updated_at":"2023-06-15T10:26:23.554860Z"},{"created_at":"2023-06-15T10:26:23.554860Z","id":"d2d4e36b-3292-49a1-9659-835803b7ddb6","subnet":"fd46:78ab:30b8:5b4f::/64","updated_at":"2023-06-15T10:26:23.554860Z"}],"tags":[],"updated_at":"2023-06-15T10:26:23.554860Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/81b3d71c-feff-46a6-be25-02937d3de00b
    method: GET
  response:
    body: '{"created_at":"2023-06-15T10:26:23.554860Z","id":"81b3d71c-feff-46a6-be25-02937d3de00b","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Regional","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-06-15T10:26:23.554860Z","id":"5c2c9c52-7da0-481c-bec7-b88a79423b2f","subnet":"172.16.12.0/22","updated_at":"2023-06-15T10:26:23.554860Z"},{"created_at":"2023-06-15T10:26:23.554860Z","id":"d2d4e36b-3292-49a1-9659-835803b7ddb6","subnet":"fd46:78ab:30b8:5b4f::/64","updated_at":"2023-06-15T10:26:23.554860Z"}],"tags":[],"updated_at":"2023-06-15T10:26:23.554860Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Regional&order_by=created_at_asc
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2023-06-15T10:26:23.554860Z","id":"81b3d71c-feff-46a6-be25-02937d3de00b","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Regional","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-06-15T10:26:23.554860Z","id":"5c2c9c52-7da0-481c-bec7-b88a79423b2f","subnet":"172.16.12.0/22","updated_at":"2023-06-15T10:26:23.554860Z"},{"created_at":"2023-06-15T10:26:23.554860Z","id":"d2d4e36b-3292-49a1-9659-835803b7ddb6","subnet":"fd46:78ab:30b8:5b4f::/64","updated_at":"2023-06-15T10:26:23.554860Z"}],"tags":[],"updated_at":"2023-06-15T10:26:23.554860Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/81b3d71c-feff-46a6-be25-02937d3de00b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"81b3d71c-feff-46a6-be25-02937d3de00b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
