---
version: 1
interactions:
- request:
    body: '{"name":"test_iot_hub_datasource","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_iot_hub_datasource","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-05-05T13:03:58.371Z","updated_at":"2022-05-05T13:03:58.371Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/30a5e8ea-1e4c-4aee-aad2-689bb86b8935
    method: GET
  response:
    body: '{"region":"fr-par","id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_iot_hub_datasource","status":"ready","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-05-05T13:03:58.371Z","updated_at":"2022-05-05T13:03:58.371Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_iot_device_datasource","hub_id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","allow_insecure":false,"allow_multiple_connections":false,"message_filters":null,"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
    method: POST
  response:
    body: '{"device":{"id":"e49a3523-dbc4-4212-95c8-41e4e58d66ce","name":"test_iot_device_datasource","status":"enabled","hub_id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","created_at":"2022-05-05T13:03:59.547Z","updated_at":"2022-05-05T13:03:59.547Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false},"certificate":{"crt":"-----BEGIN
      CERTIFICATE-----\nMIIEZjCCA06gAwIBAgIRALzeBlPa3/WDifNqipf/BJ8wDQYJKoZIhvcNAQELBQAw\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzI1MjU2OTA4NTY4NTg5NjA3MDI3ODI3\nNDQ5MzkzNzM4MDU4NDQ1MTAeFw0yMjA1MDQxMzAzNTlaFw0zMjA1MDQxMzAzNTla\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\nMC[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/e49a3523-dbc4-4212-95c8-41e4e58d66ce
    method: GET
  response:
    body: '{"id":"e49a3523-dbc4-4212-95c8-41e4e58d66ce","name":"test_iot_device_datasource","status":"enabled","hub_id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","created_at":"2022-05-05T13:03:59.547Z","updated_at":"2022-05-05T13:03:59.547Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/e49a3523-dbc4-4212-95c8-41e4e58d66ce/certificate
    method: GET
  response:
    body: '{"device":{"id":"e49a3523-dbc4-4212-95c8-41e4e58d66ce","name":"test_iot_device_datasource","status":"enabled","hub_id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","created_at":"2022-05-05T13:03:59.547Z","updated_at":"2022-05-05T13:03:59.547Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false},"certificate_pem":"-----BEGIN
      CERTIFICATE-----\nMIIEZjCCA06gAwIBAgIRALzeBlPa3/WDifNqipf/BJ8wDQYJKoZIhvcNAQELBQAw\ngc4xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxMDAuBgNVBAUTJzI1MjU2OTA4NTY4NTg5NjA3MDI3ODI3\nNDQ5MzkzNzM4MDU4NDQ1MTAeFw0yMjA1MDQxMzAzNTlaFw0zMjA1MDQxMzAzNTla\nMIG1MQswCQYDVQQGEwJGUjEMMAoGA1UECBMDSURGMQ4wDAYDVQQHEwVQYXJpczEx\nMC[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices?name=test_iot_device_datasource&order_by=name_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"devices":[{"id":"e49a3523-dbc4-4212-95c8-41e4e58d66ce","name":"test_iot_device_datasource","status":"enabled","hub_id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","created_at":"2022-05-05T13:03:59.547Z","updated_at":"2022-05-05T13:03:59.547Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":"","has_custom_certificate":false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/30a5e8ea-1e4c-4aee-aad2-689bb86b8935
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"30a5e8ea-1e4c-4aee-aad2-689bb86b8935","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
