---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T21:24:25.621405Z","dhcp_enabled":false,"id":"9f5f4e15-2d77-49be-bff8-6933db6e311a","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T21:24:25.621405Z","id":"6fa4e015-eb0b-40e3-a596-410c616ef83b","subnet":"172.16.0.0/22","updated_at":"2023-07-11T21:24:25.621405Z"},{"created_at":"2023-07-11T21:24:25.621405Z","id":"50d8c368-4e94-4677-b30f-bb8766fda654","subnet":"fd46:78ab:30b8:3ee8::/64","updated_at":"2023-07-11T21:24:25.621405Z"}],"tags":[],"updated_at":"2023-07-11T21:24:25.621405Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9f5f4e15-2d77-49be-bff8-6933db6e311a
    method: GET
  response:
    body: '{"created_at":"2023-07-11T21:24:25.621405Z","dhcp_enabled":false,"id":"9f5f4e15-2d77-49be-bff8-6933db6e311a","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T21:24:25.621405Z","id":"6fa4e015-eb0b-40e3-a596-410c616ef83b","subnet":"172.16.0.0/22","updated_at":"2023-07-11T21:24:25.621405Z"},{"created_at":"2023-07-11T21:24:25.621405Z","id":"50d8c368-4e94-4677-b30f-bb8766fda654","subnet":"fd46:78ab:30b8:3ee8::/64","updated_at":"2023-07-11T21:24:25.621405Z"}],"tags":[],"updated_at":"2023-07-11T21:24:25.621405Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2023-07-11T21:24:25.621405Z","dhcp_enabled":false,"id":"9f5f4e15-2d77-49be-bff8-6933db6e311a","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T21:24:25.621405Z","id":"6fa4e015-eb0b-40e3-a596-410c616ef83b","subnet":"172.16.0.0/22","updated_at":"2023-07-11T21:24:25.621405Z"},{"created_at":"2023-07-11T21:24:25.621405Z","id":"50d8c368-4e94-4677-b30f-bb8766fda654","subnet":"fd46:78ab:30b8:3ee8::/64","updated_at":"2023-07-11T21:24:25.621405Z"}],"tags":[],"updated_at":"2023-07-11T21:24:25.621405Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9f5f4e15-2d77-49be-bff8-6933db6e311a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"9f5f4e15-2d77-49be-bff8-6933db6e311a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
