---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-12T07:45:51.044460Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"96ef5ca1-f687-491f-b049-d1ed61985b50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:45:51.044460Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/96ef5ca1-f687-491f-b049-d1ed61985b50
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-12T07:45:51.044460Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"96ef5ca1-f687-491f-b049-d1ed61985b50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:45:51.044460Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-12T07:45:51.077862Z","dhcp_enabled":false,"id":"940c381d-7c8b-40ef-b3b4-0c464fa26434","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:45:51.077862Z","id":"56323731-4ff0-4c2b-89a0-bc6bbcfef997","subnet":"172.16.24.0/22","updated_at":"2023-07-12T07:45:51.077862Z"},{"created_at":"2023-07-12T07:45:51.077862Z","id":"76baa988-5774-4e10-a99e-7a2e6312cab7","subnet":"fd46:78ab:30b8:d879::/64","updated_at":"2023-07-12T07:45:51.077862Z"}],"tags":[],"updated_at":"2023-07-12T07:45:51.077862Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/940c381d-7c8b-40ef-b3b4-0c464fa26434
    method: GET
  response:
    body: '{"created_at":"2023-07-12T07:45:51.077862Z","dhcp_enabled":false,"id":"940c381d-7c8b-40ef-b3b4-0c464fa26434","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:45:51.077862Z","id":"56323731-4ff0-4c2b-89a0-bc6bbcfef997","subnet":"172.16.24.0/22","updated_at":"2023-07-12T07:45:51.077862Z"},{"created_at":"2023-07-12T07:45:51.077862Z","id":"76baa988-5774-4e10-a99e-7a2e6312cab7","subnet":"fd46:78ab:30b8:d879::/64","updated_at":"2023-07-12T07:45:51.077862Z"}],"tags":[],"updated_at":"2023-07-12T07:45:51.077862Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-priceless-elgamal","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-12T07:45:51.960501Z","gateway_networks":[],"id":"f8ac286f-77dc-424a-9778-d49718e189ab","ip":{"address":"212.47.229.210","created_at":"2023-07-12T07:45:51.710613Z","gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","id":"bebc7103-8f92-499e-91e5-0fd0aac2f823","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"210-229-47-212.instances.scw.cloud","tags":[],"updated_at":"2023-07-12T07:45:51.710613Z","zone":"fr-par-1"},"name":"tf-pn-priceless-elgamal","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-12T07:45:51.960501Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f8ac286f-77dc-424a-9778-d49718e189ab
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-12T07:45:51.960501Z","gateway_networks":[],"id":"f8ac286f-77dc-424a-9778-d49718e189ab","ip":{"address":"212.47.229.210","created_at":"2023-07-12T07:45:51.710613Z","gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","id":"bebc7103-8f92-499e-91e5-0fd0aac2f823","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"210-229-47-212.instances.scw.cloud","tags":[],"updated_at":"2023-07-12T07:45:51.710613Z","zone":"fr-par-1"},"name":"tf-pn-priceless-elgamal","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-12T07:45:52.003374Z","upstream_dns_servers":[],"version":"0.5.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","private_network_id":"940c381d-7c8b-40ef-b3b4-0c464fa26434","enable_masquerade":true,"dhcp_id":"96ef5ca1-f687-491f-b049-d1ed61985b50","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-07-12T07:45:58.865598Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-12T07:45:51.044460Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"96ef5ca1-f687-491f-b049-d1ed61985b50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:45:51.044460Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","id":"e6d21c4b-de9c-41ff-9a5d-756d02a52a6f","mac_address":null,"private_network_id":"940c381d-7c8b-40ef-b3b4-0c464fa26434","status":"created","updated_at":"2023-07-12T07:45:58.865598Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e6d21c4b-de9c-41ff-9a5d-756d02a52a6f
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-07-12T07:45:58.865598Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-12T07:45:51.044460Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"96ef5ca1-f687-491f-b049-d1ed61985b50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:45:51.044460Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","id":"e6d21c4b-de9c-41ff-9a5d-756d02a52a6f","mac_address":"02:00:00:13:5D:1D","private_network_id":"940c381d-7c8b-40ef-b3b4-0c464fa26434","status":"ready","updated_at":"2023-07-12T07:46:06.274542Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-07-12T07:46:09.622502Z","gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","id":"59c37deb-9918-4f85-9149-536404e3f7ae","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2023-07-12T07:46:09.622502Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/59c37deb-9918-4f85-9149-536404e3f7ae
    method: GET
  response:
    body: '{"created_at":"2023-07-12T07:46:09.622502Z","gateway_id":"f8ac286f-77dc-424a-9778-d49718e189ab","id":"59c37deb-9918-4f85-9149-536404e3f7ae","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2023-07-12T07:46:09.622502Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e6d21c4b-de9c-41ff-9a5d-756d02a52a6f?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e6d21c4b-de9c-41ff-9a5d-756d02a52a6f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"e6d21c4b-de9c-41ff-9a5d-756d02a52a6f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f8ac286f-77dc-424a-9778-d49718e189ab?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
