---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d579d6e6-b00e-400b-b8dd-45410adbfb32
    method: GET
  response:
    body: '{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:38:50.935720193Z","description":"","frontend_count":0,"id":"02a9272e-128f-4152-8caf-9b2c21a916d6","instances":[],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"02a9272e-128f-4152-8caf-9b2c21a916d6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:50.935720193Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:38:50.935720Z","description":"","frontend_count":0,"id":"02a9272e-128f-4152-8caf-9b2c21a916d6","instances":[],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"02a9272e-128f-4152-8caf-9b2c21a916d6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:50.935720Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-naughty-wing","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:39:21.520671567Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"4a236bd0-3421-483e-84d2-e090838f1fc7","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:38:50.935720Z","description":"","frontend_count":0,"id":"02a9272e-128f-4152-8caf-9b2c21a916d6","instances":[{"created_at":"2023-06-16T09:27:32.619367Z","id":"8dffb849-d93e-40c1-b5ef-f3bd458c2c15","ip_address":"10.71.122.113","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:39:21.559772513Z","zone":"fr-par-1"}],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"02a9272e-128f-4152-8caf-9b2c21a916d6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:53.054143Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-naughty-wing","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:39:21.520671567Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/4a236bd0-3421-483e-84d2-e090838f1fc7
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:39:21.520672Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"4a236bd0-3421-483e-84d2-e090838f1fc7","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:39:21.520672Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"4a236bd0-3421-483e-84d2-e090838f1fc7","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:38:50.935720Z","description":"","frontend_count":1,"id":"02a927[...]
[...]
- request:
    body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"4a236bd0-3421-483e-84d2-e090838f1fc7","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/04f2c8b8-6d1c-4ec6-8b90-000abef46c8b
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:39:21.520672Z","failover_host":null,"forward_port":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/04f2c8b8-6d1c-4ec6-8b90-000abef46c8b/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6/frontends?order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-06-16T09:39:21.520672Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"4a236bd0-3421-483e-84d2-e090838f1fc7","ignore_ssl_server_verify":false,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"type":"","updated_at":"0001-01-01T00:00:00Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-naughty-wing","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:39:21.520672Z"},"certificate":null,"certificate_ids":[],"created_at":"2023-06-16T09:39:22.146562Z","enable_http3":false,"id":"04f2c8b8-6d1c-4ec6-8b90-000abef46c8b","inbound_port":50000,"lb":{"backend_count":0,"created_at":"0001-01-01T00:00:00Z","description":"","frontend_count":0,"id":"","instances":[],"ip":[],"name":"","organization_id":"","private_network_count":0,"project_id":"","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_unknown","status":"to_create","subscriber":null,"tags":[],"t[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6/frontends?name=tf-frontend-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-06-16T09:39:21.520672Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":fals[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/02a9272e-128f-4152-8caf-9b2c21a916d6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
