---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d35130a4-30ab-4b32-a0d8-a36352974c8c
    method: GET
  response:
    body: '{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:43:46.274961301Z","description":"","frontend_count":0,"id":"67a62c0a-c85e-4b9f-83fa-c87db7c7e475","instances":[],"ip":[{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":"67a62c0a-c85e-4b9f-83fa-c87db7c7e475","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:43:46.274961301Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a62c0a-c85e-4b9f-83fa-c87db7c7e475
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:43:46.274961Z","description":"","frontend_count":0,"id":"67a62c0a-c85e-4b9f-83fa-c87db7c7e475","instances":[{"created_at":"2023-06-16T09:40:31.266857Z","id":"f0e3bfc9-f0cd-4637-87ce-03109e07539a","ip_address":"10.74.114.85","region":"fr-par","status":"unknown","updated_at":"2023-06-16T09:43:46.538651Z","zone":"fr-par-1"}],"ip":[{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":"67a62c0a-c85e-4b9f-83fa-c87db7c7e475","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:43:46.551828Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a62c0a-c85e-4b9f-83fa-c87db7c7e475/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-frosty-khorana","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a62c0a-c85e-4b9f-83fa-c87db7c7e475/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:44:17.090185583Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:43:46.274961Z","description":"","frontend_count":0,"id":"67a62c0a-c85e-4b9f-83fa-c87db7c7e475","instances":[{"created_at":"2023-06-16T09:40:31.266857Z","id":"f0e3bfc9-f0cd-4637-87ce-03109e07539a","ip_address":"10.74.114.85","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:44:17.123777314Z","zone":"fr-par-1"}],"ip":[{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":"67a62c0a-c85e-4b9f-83fa-c87db7c7e475","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:43:48.391809Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-frosty-khorana","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:44:17.090185583Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/e37016fd-b148-4924-a3d8-a683dbef4f4a
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:44:17.090186Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-quizzical-antonelli","inbound_port":80,"backend_id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a62c0a-c85e-4b9f-83fa-c87db7c7e475/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:44:17.090186Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:43:46.274961Z","description":"","frontend_count":1,"id":"67a62c0[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-funny-solomon","inbound_port":80,"backend_id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0c05f177-4e33-434b-ae8b-9a13846c296b
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:44:17.090186Z","failover_host":null,"forward_port":80,[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0c05f177-4e33-434b-ae8b-9a13846c296b/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"0c05f177-4e33-434b-ae8b-9a13846c296b","backend_id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","created_at":"2023-06-16T09:44:19.005955687Z","frontend_id":"0c05f177-4e33-434b-ae8b-9a13846c296b","id":"d9a626f2-1b07-4397-b595-9fcffc51d6fc","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-16T09:44:19.005955687Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/d9a626f2-1b07-4397-b595-9fcffc51d6fc
    method: GET
  response:
    body: '{"backend_id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","created_at":"2023-06-16T09:44:19.005956Z","frontend_id":"0c05f177-4e33-434b-ae8b-9a13846c296b","id":"d9a626f2-1b07-4397-b595-9fcffc51d6fc","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-16T09:44:19.005956Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes?frontend_id=0c05f177-4e33-434b-ae8b-9a13846c296b&order_by=created_at_asc
    method: GET
  response:
    body: '{"routes":[{"backend_id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","created_at":"2023-06-16T09:44:19.005956Z","frontend_id":"0c05f177-4e33-434b-ae8b-9a13846c296b","id":"d9a626f2-1b07-4397-b595-9fcffc51d6fc","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-16T09:44:19.005956Z"},{"backend_id":"e37016fd-b148-4924-a3d8-a683dbef4f4a","created_at":"2023-06-16T09:44:22.259423Z","frontend_id":"0c05f177-4e33-434b-ae8b-9a13846c296b","id":"cecd95f4-8582-4ac5-9217-5c7cd1d4259e","match":{"sni":"sni2.scaleway.com"},"updated_at":"2023-06-16T09:44:22.259423Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a62c0a-c85e-4b9f-83fa-c87db7c7e475?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/67a62c0a-c85e-4b9f-83fa-c87db7c7e475
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
