---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_datasource_terraform","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"b7aa6a87-6835-4b50-a6a2-b13fd4f7539c","name":"test_redis_datasource_terraform","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"265ee787-ba5e-4a7e-872e-e34f83564e4c"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-04-27T15:48:04.205921Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/b7aa6a87-6835-4b50-a6a2-b13fd4f7539c
    method: GET
  response:
    body: '{"id":"b7aa6a87-6835-4b50-a6a2-b13fd4f7539c","name":"test_redis_datasource_terraform","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"265ee787-ba5e-4a7e-872e-e34f83564e4c"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-04-27T15:48:04.205921Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters?name=test_redis_datasource_terraform&order_by=created_at_asc
    method: GET
  response:
    body: '{"clusters":[{"id":"b7aa6a87-6835-4b50-a6a2-b13fd4f7539c","name":"test_redis_datasource_terraform","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":["51.158.79.58"],"id":"265ee787-ba5e-4a7e-872e-e34f83564e4c"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-04-27T15:48:04.205921Z","updated_at":"2022-04-27T15:49:35.412499Z","tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/b7aa6a87-6835-4b50-a6a2-b13fd4f7539c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b7aa6a87-6835-4b50-a6a2-b13fd4f7539c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
