---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-data","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"bd16b8db-5195-479f-bf96-ddb5c4734b5b","name":"test-cr-data","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2022-03-07T14:45:40.098446435Z","updated_at":"2022-03-07T14:45:40.098446435Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/bd16b8db-5195-479f-bf96-ddb5c4734b5b
    method: GET
  response:
    body: '{"id":"bd16b8db-5195-479f-bf96-ddb5c4734b5b","name":"test-cr-data","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2022-03-07T14:45:40.098446Z","updated_at":"2022-03-07T14:45:40.098446Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces?name=test-cr-data&order_by=created_at_asc
    method: GET
  response:
    body: '{"namespaces":[{"id":"bd16b8db-5195-479f-bf96-ddb5c4734b5b","name":"test-cr-data","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-data","is_public":false,"size":0,"created_at":"2022-03-07T14:45:40.098446Z","updated_at":"2022-03-07T14:45:40.098446Z","image_count":0,"region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/bd16b8db-5195-479f-bf96-ddb5c4734b5b
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
