---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-data-source-pool","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-02T15:33:53.182844Z","dhcp_enabled":true,"id":"7c0f88fe-47b2-44c5-be75-7e0d3766bc55","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-02T15:33:53.182844Z","id":"8b259f89-423a-4607-9979-13dd7515cc29","subnet":"172.16.4.0/22","updated_at":"2023-11-02T15:33:53.182844Z"},{"created_at":"2023-11-02T15:33:53.182844Z","id":"05ee4fd6-0b54-497d-9684-b3673ddeb02c","subnet":"fd5f:519c:6d46:cb39::/64","updated_at":"2023-11-02T15:33:53.182844Z"}],"tags":[],"updated_at":"2023-11-02T15:33:53.182844Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7c0f88fe-47b2-44c5-be75-7e0d3766bc55
    method: GET
  response:
    body: '{"created_at":"2023-11-02T15:33:53.182844Z","dhcp_enabled":true,"id":"7c0f88fe-47b2-44c5-be75-7e0d3766bc55","name":"test-data-source-pool","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-02T15:33:53.182844Z","id":"8b259f89-423a-4607-9979-13dd7515cc29","subnet":"172.16.4.0/22","updated_at":"2023-11-02T15:33:53.182844Z"},{"created_at":"2023-11-02T15:33:53.182844Z","id":"05ee4fd6-0b54-497d-9684-b3673ddeb02c","subnet":"fd5f:519c:6d46:cb39::/64","updated_at":"2023-11-02T15:33:53.182844Z"}],"tags":[],"updated_at":"2023-11-02T15:33:53.182844Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"tf-cluster-pool","description":"","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"7c0f88fe-47b2-44c5-be75-7e0d3766bc55"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://cc034bc0-9689-44f5-9a72-4d99acdbbcaf.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-02T15:33:54.422614473Z","created_at":"2023-11-02T15:33:54.422614473Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.cc034bc0-9689-44f5-9a72-4d99acdbbcaf.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"cc034bc0-9689-44f5-9a72-4d99acdbbcaf","ingress":"none","name":"tf-cluster-pool","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"7c0f88fe-47b2-44c5-be75-7e0d3766bc55","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"type":"kapsule","updated_at":"2023-11-02T15:33:54.439759890Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRmLWNsdXN0ZXItcG9vbCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGROVkVVeFRYcE5NVTVXYjFoRVZFMTZUVlJGZDAxVVJURk5lazB4VGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"tf-pool","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":["terraform-test","data_scaleway_k8s_pool","basic"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"cc034bc0-9689-44f5-9a72-4d99acdbbcaf","container_runtime":"containerd","created_at":"2023-11-02T15:33:59.882202Z","id":"0934ac88-551f-44ec-9f77-77813d9e9a3f","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-11-02T15:33:59.889946643Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0934ac88-551f-44ec-9f77-77813d9e9a3f
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"cc034bc0-9689-44f5-9a72-4d99acdbbcaf","container_runtime":"containerd","created_at":"2023-11-02T15:33:59.882202Z","id":"0934ac88-551f-44ec-9f77-77813d9e9a3f","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-11-02T15:33:59.889947Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf/nodes?order_by=created_at_asc&page=1&pool_id=0934ac88-551f-44ec-9f77-77813d9e9a3f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"cc034bc0-9689-44f5-9a72-4d99acdbbcaf","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-02T15:36:44.273028Z","error_message":null,"id":"0dc86902-e12a-42fd-a4b0-703c51c65e16","name":"scw-tf-cluster-pool-tf-pool-0dc86902e12a42fda4","pool_id":"0934ac88-551f-44ec-9f77-77813d9e9a3f","provider_id":"scaleway://instance/fr-par-1/1bb0b6b0-3096-49ae-aa49-7a4ea27bbd17","public_ip_v4":"51.15.239.152","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-02T15:39:30.122950Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["terraform-test","data_scaleway_k8s_cluster","basic"],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf
    method: PATCH
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf/pools?name=tf-pool&order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"pools":[{"autohealing":false,"autoscaling":false,"cluster_id":"cc034bc0-9689-44f5-9a72-4d99acdbbcaf","container_runtime":"containerd","created_at":"2023-11-02T15:33:59.882202Z","id":"0934ac88-551f-44ec-9f77-77813d9e9a3f","kubelet_args":{},"max_size":1,"min_size":1,"name":"tf-pool","node_type":"dev1_m","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":40000000000,"root_volume_type":"l_ssd","size":1,"status":"ready","tags":["terraform-test","data_scaleway_k8s_pool","basic"],"updated_at":"2023-11-02T15:39:30.137292Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf/nodes?order_by=created_at_asc&page=1&pool_id=0934ac88-551f-44ec-9f77-77813d9e9a3f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"cc034bc0-9689-44f5-9a72-4d99acdbbcaf","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-02T15:36:44.273028Z","error_message":null,"id":"0dc86902-e12a-42fd-a4b0-703c51c65e16","name":"scw-tf-cluster-pool-tf-pool-0dc86902e12a42fda4","pool_id":"0934ac88-551f-44ec-9f77-77813d9e9a3f","provider_id":"scaleway://instance/fr-par-1/1bb0b6b0-3096-49ae-aa49-7a4ea27bbd17","public_ip_v4":"51.15.239.152","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-02T15:39:51.686841Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc034bc0-9689-44f5-9a72-4d99acdbbcaf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"cc034bc0-9689-44f5-9a72-4d99acdbbcaf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
