---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"15e897bd-dd3a-4df2-a9bc-325255be8e68","created_at":"2022-06-24T19:06:45.683233Z","updated_at":"2022-06-24T19:06:45.683233Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/15e897bd-dd3a-4df2-a9bc-325255be8e68
    method: GET
  response:
    body: '{"id":"15e897bd-dd3a-4df2-a9bc-325255be8e68","created_at":"2022-06-24T19:06:45.683233Z","updated_at":"2022-06-24T19:06:45.683233Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"test-terraform","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups?name=test-terraform&order_by=created_at_asc
    method: GET
  response:
    body: '{"details":[{"argument_name":"organization_id","help_message":"","reason":"required"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/15e897bd-dd3a-4df2-a9bc-325255be8e68
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"15e897bd-dd3a-4df2-a9bc-325255be8e68","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
