---
version: 1
interactions:
- request:
    body: '{"name":"tf-ns-wonderful-babbage","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54","name":"tf-ns-wonderful-babbage","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54
    method: GET
  response:
    body: '{"id":"ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54","name":"tf-ns-wonderful-babbage","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54","name":"test-container-data","environment_variables":null,"min_scale":null,"max_scale":null,"memory_limit":null,"timeout":null,"privacy":"public","description":null,"registry_image":null,"max_concurrency":null,"protocol":"http1","port":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers
    method: POST
  response:
    body: '{"id":"3d1fdf15-7a33-4e60-8573-f045d254cee0","name":"test-container-data","namespace_id":"ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnswonderfulbabbagevzcqm4o9/test-container-data:latest","max_concurrency":50,"domain_name":"tfnswonderfulbabbagevzcqm4o9-test-container-data.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers/3d1fdf15-7a33-4e60-8573-f045d254cee0
    method: GET
  response:
    body: '{"id":"3d1fdf15-7a33-4e60-8573-f045d254cee0","name":"test-container-data","namespace_id":"ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnswonderfulbabbagevzcqm4o9/test-container-data:latest","max_concurrency":50,"domain_name":"tfnswonderfulbabbagevzcqm4o9-test-container-data.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/containers?name=test-container-data&namespace_id=ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54&order_by=created_at_asc
    method: GET
  response:
    body: '{"containers":[{"id":"3d1fdf15-7a33-4e60-8573-f045d254cee0","name":"test-container-data","namespace_id":"ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54","status":"created","environment_variables":{},"min_scale":0,"max_scale":5,"memory_limit":256,"cpu_limit":140,"timeout":"300s","error_message":null,"privacy":"public","description":"","registry_image":"rg.fr-par.scw.cloud/funcscwtfnswonderfulbabbagevzcqm4o9/test-container-data:latest","max_concurrency":50,"domain_name":"tfnswonderfulbabbagevzcqm4o9-test-container-data.functions.fnc.fr-par.scw.cloud","protocol":"http1","port":8080,"secret_environment_variables":[],"http_option":"","region":"fr-par"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/namespaces/ec4d0b18-a0ec-4a33-9c6b-e582b01b9d54
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
