---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/af194b1f-55a7-43f2-b61c-22a0268559e3
    method: GET
  response:
    body: '{"id":"af194b1f-55a7-43f2-b61c-22a0268559e3","email":"developer-tools-team@scaleway.com","created_at":"2022-03-28T09:26:12.819104Z","updated_at":"2022-07-04T09:49:36.078740Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","deletable":false,"last_login_at":"2022-07-04T09:49:36.093758Z","type":"owner","two_factor_enabled":false,"status":"activated"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=dd5b8103-52ef-40b6-b157-35a426650401&page=1
    method: GET
  response:
    body: '{"users":[{"id":"af194b1f-55a7-43f2-b61c-22a0268559e3","email":"developer-tools-team@scaleway.com","created_at":"2022-03-28T09:26:12.819104Z","updated_at":"2022-07-04T09:49:36.078740Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","deletable":false,"last_login_at":"2022-07-04T09:49:36.093758Z","type":"owner","two_factor_enabled":false,"status":"activated"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
