---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-24T16:05:34.390690Z","id":"0ebfe916-e608-4927-850a-7014f5ef6438","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-24T16:05:34.390690Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0ebfe916-e608-4927-850a-7014f5ef6438
    method: GET
  response:
    body: '{"created_at":"2023-10-24T16:05:34.390690Z","id":"0ebfe916-e608-4927-850a-7014f5ef6438","is_default":false,"name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-24T16:05:34.390690Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-tests-ipam-ip-datasource-rdb","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.0.0/22"],"vpc_id":"0ebfe916-e608-4927-850a-7014f5ef6438"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-24T16:05:34.577065Z","dhcp_enabled":true,"id":"57f41753-dfdf-47b9-8130-6e1c69152322","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-24T16:05:34.577065Z","id":"b1824d87-f76d-4996-845e-1d87ff059d88","subnet":"172.16.0.0/22","updated_at":"2023-10-24T16:05:34.577065Z"},{"created_at":"2023-10-24T16:05:34.577065Z","id":"9db26f76-b6c4-4b02-9c84-0a6b5cc9bbf8","subnet":"fd46:78ab:30b8:4ab5::/64","updated_at":"2023-10-24T16:05:34.577065Z"}],"tags":[],"updated_at":"2023-10-24T16:05:34.577065Z","vpc_id":"0ebfe916-e608-4927-850a-7014f5ef6438"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/57f41753-dfdf-47b9-8130-6e1c69152322
    method: GET
  response:
    body: '{"created_at":"2023-10-24T16:05:34.577065Z","dhcp_enabled":true,"id":"57f41753-dfdf-47b9-8130-6e1c69152322","name":"tf-tests-ipam-ip-datasource-rdb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-24T16:05:34.577065Z","id":"b1824d87-f76d-4996-845e-1d87ff059d88","subnet":"172.16.0.0/22","updated_at":"2023-10-24T16:05:34.577065Z"},{"created_at":"2023-10-24T16:05:34.577065Z","id":"9db26f76-b6c4-4b02-9c84-0a6b5cc9bbf8","subnet":"fd46:78ab:30b8:4ab5::/64","updated_at":"2023-10-24T16:05:34.577065Z"}],"tags":[],"updated_at":"2023-10-24T16:05:34.577065Z","vpc_id":"0ebfe916-e608-4927-850a-7014f5ef6438"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"57f41753-dfdf-47b9-8130-6e1c69152322","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-24T16:05:35.521503Z","endpoint":null,"endpoints":[{"id":"d3901c2c-12c2-4f47-b2bf-26abad5c2c76","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"57f41753-dfdf-47b9-8130-6e1c69152322","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"32f1e956-70dc-4f24-9544-e9237fdb7735","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/32f1e956-70dc-4f24-9544-e9237fdb7735
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-24T16:05:35.521503Z","endpoint":null,"endpoints":[{"id":"d3901c2c-12c2-4f47-b2bf-26abad5c2c76","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"57f41753-dfdf-47b9-8130-6e1c69152322","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-14","id":"32f1e956-70dc-4f24-9544-e9237fdb7735","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/32f1e956-70dc-4f24-9544-e9237fdb7735
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-24T16:05:35.521503Z","endpoint":{"id":"a94d2107-9d37-4389-9ef5-f3474c6adc72","ip":"51.159.26.148","load_balancer":{},"name":null,"port":25764},"endpoints":[{"id":"d3901c2c-12c2-4f47-b2bf-26abad5c2c76","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"57f41753-dfdf-47b9-8130-6e1c69152322","service_ip":"172.16.0.2/22","zone":"fr-par-1"}},{"id":"a94d2107-9d37-4389-9ef5-f3474c6adc72","ip":"51.159.26.148","load_balancer":{},"name":null,"port":25764}],"engine":"PostgreSQL-14","id":"32f1e956-70dc-4f24-9544-e9237fdb7735","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/32f1e956-70dc-4f24-9544-e9237fdb7735/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURzRENDQXBpZ0F3SUJBZ0lVU3JIRXdDZ01JdHRLYms4VUk5UW4xejJLSlI4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTR3TGpJd0hoY05Nak14Ck1ESTBNVFl3TmpVd1doY05Nek14TURJeE1UWXdOalV3V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpBdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_name=test-rdb&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2023-10-24T16:05:35.889409Z","id":"a82db0fa-4ec5-4946-8085-4c5d42776258","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"32f1e956-70dc-4f24-9544-e9237fdb7735","mac_address":"02:00:00:14:68:5B","name":"test-rdb","type":"rdb_instance"},"source":{"subnet_id":"b1824d87-f76d-4996-845e-1d87ff059d88"},"tags":["managed","scwdbaas"],"updated_at":"2023-10-24T16:06:09.784361Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/32f1e956-70dc-4f24-9544-e9237fdb7735
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"32f1e956-70dc-4f24-9544-e9237fdb7735","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
