---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"bb2edaa6-8a28-4a94-9c4b-0a8a3c4bcbda","ip_address":"195.154.69.67","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-67.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/bb2edaa6-8a28-4a94-9c4b-0a8a3c4bcbda
    method: GET
  response:
    body: '{"id":"bb2edaa6-8a28-4a94-9c4b-0a8a3c4bcbda","ip_address":"195.154.69.67","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-67.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"bb2edaa6-8a28-4a94-9c4b-0a8a3c4bcbda","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-27T09:19:35.290668820Z","description":"","frontend_count":0,"id":"0251c501-6d56-4d25-a19f-66101d0f8901","instances":[],"ip":[{"id":"bb2edaa6-8a28-4a94-9c4b-0a8a3c4bcbda","ip_address":"195.154.69.67","lb_id":"0251c501-6d56-4d25-a19f-66101d0f8901","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-67.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-27T09:19:35.290668820Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-27T09:19:35.290669Z","description":"","frontend_count":0,"id":"0251c501-6d56-4d25-a19f-66101d0f8901","instances":[{"created_at":"2023-02-27T09:15:47.006698Z","id":"50be09cc-f86c-4eda-9d2f-5f99f011fa20","ip_address":"10.69.18.87","region":"fr-par","status":"unknown","updated_at":"2023-02-27T09:19:35.557996Z","zone":"fr-par-1"}],"ip":[{"id":"bb2edaa6-8a28-4a94-9c4b-0a8a3c4bcbda","ip_address":"195.154.69.67","lb_id":"0251c501-6d56-4d25-a19f-66101d0f8901","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-67.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-27T09:19:35.577304Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-blissful-darwin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-27T09:20:06.095137949Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"72c87c01-b6eb-433b-b881-881ddd7a4f42","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-27T09:19:35.290669Z","description":"","frontend_count":0,"id":"0251c501-6d56-4d25-a19f-66101d0f8901","instances":[{"created_at":"2023-02-27T09:15:47.006698Z","id":"50be09cc-f86c-4eda-9d2f-5f99f011fa20","ip_address":"10.69.18.87","region":"fr-par","status":"pending","updated_at":"2023-02-27T09:20:06.142756897Z","zone":"fr-par-1"}],"ip":[{"id":"bb2edaa6-8a28-4a94-9c4b-0a8a3c4bcbda","ip_address":"195.154.69.67","lb_id":"0251c501-6d56-4d25-a19f-66101d0f8901","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-69-67.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-27T09:19:37.026546Z","zone":"fr-par-1"},"name":"tf-lb-bkd-blissful-darwin","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-27T09:20:06.095137949Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/72c87c01-b6eb-433b-b881-881ddd7a4f42
    method: GET
  response:
    body: '{"created_at":"2023-02-27T09:20:06.095138Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"72c87c01-b6eb-433b-b881-8[...]
[...]
- request:
    body: '{"name":"tf-frontend-datasource0","inbound_port":50000,"backend_id":"72c87c01-b6eb-433b-b881-881ddd7a4f42","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-27T09:20:06.095138Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"72c87c01-b6eb-433b-b881-881ddd7a4f42","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-27T09:19:35.290669Z","description":"","frontend_count":1,"id":"0251c501-6d56-4d25-a19f-66101d0f890[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5c50dde9-d409-480b-beb1-36bdbdef6873/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5c50dde9-d409-480b-beb1-36bdbdef6873
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-27T09:20:06.095138Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"72c87c01-b6eb[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901/frontends?name=tf-frontend-datasource&order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-02-27T09:20:06.095138Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"72c87c01-b6eb-433b-b881-881ddd7a4f42","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-27T09:19:35.290669Z","description":"","frontend_count":2,"id":"0251c501-6d56-4d25-a19f[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901/frontends?order_by=created_at_asc
    method: GET
  response:
    body: '{"frontends":[{"backend":{"created_at":"2023-02-27T09:20:06.095138Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"por[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0251c501-6d56-4d25-a19f-66101d0f8901
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
