---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1
    method: GET
  response:
    body: '{"total_count":9,"offers":[{"id":"3ab0dc29-2fd4-486e-88bf-d08fbf49214b","name":"HC-BM1-L","stock":"low","bandwidth":1000000000,"commercial_range":"high_cpu","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200},{"name":"Intel
      Xeon Gold 5120","core_count":14,"thread_count":28,"frequency":2200}],"memories":[{"capacity":384000000000,"type":"DDR4","frequency":2133,"is_ecc":true}],"quota_name":"bmaas_high_cpu","price_per_hour":{"currency_code":"EUR","units":1,"nanos":499900000},"price_per_month":{"currency_code":"EUR","units":749,"nanos":990000000},"persistent_memories":[],"raid_controllers":[]},{"id":"3b654f13-34e5-452a-bed8-4f7472d29593","name":"HM-BM1-S","stock":"available","bandwidth":1000000000,"commercial_range":"high_memory","disks":[{"capacity":1024000000000,"type":"NVMe"},{"capacity":1024000000000,"type":"NVMe"}],"enable":true,"cpus":[{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200},{"name":"Intel
      Xeon Silver 4114","core_count":10,"thread_count":20,"frequency":2200}],"memories":[{"capacity":192000000000,"type":"DDR4","frequenc[...]
[...]
