---
version: 1
interactions:
- request:
    body: '{"name":"vpcDocumentDB","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-02T20:12:45.635259Z","id":"2c0897f0-1195-47fd-9229-9dce6c5616d6","is_default":false,"name":"vpcDocumentDB","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-10-02T20:12:45.635259Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-documentdb-instance-endpoint-migration","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance_migration","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:12:45.919450Z","retention":7},"created_at":"2023-10-02T20:12:45.919450Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"a2e94215-f247-4f60-b63c-abdff89fbe00","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2c0897f0-1195-47fd-9229-9dce6c5616d6
    method: GET
  response:
    body: '{"created_at":"2023-10-02T20:12:45.635259Z","id":"2c0897f0-1195-47fd-9229-9dce6c5616d6","is_default":false,"name":"vpcDocumentDB","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-10-02T20:12:45.635259Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/a2e94215-f247-4f60-b63c-abdff89fbe00
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:12:45.919450Z","retention":7},"created_at":"2023-10-02T20:12:45.919450Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"a2e94215-f247-4f60-b63c-abdff89fbe00","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-blissful-hugle","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":["10.10.64.0/22"],"vpc_id":"2c0897f0-1195-47fd-9229-9dce6c5616d6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-02T20:12:48.618233Z","dhcp_enabled":true,"id":"421b6454-25dd-43e6-851d-cfbe637672ef","name":"tf-pn-blissful-hugle","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:12:48.618233Z","id":"cbddf581-1068-471c-987f-f4af256c0751","subnet":"10.10.64.0/22","updated_at":"2023-10-02T20:12:48.618233Z"},{"created_at":"2023-10-02T20:12:48.618233Z","id":"d89bbb43-fd69-4078-be4c-b3467acdaf70","subnet":"fd5f:519c:6d46:5f51::/64","updated_at":"2023-10-02T20:12:48.618233Z"}],"tags":[],"updated_at":"2023-10-02T20:12:48.618233Z","vpc_id":"2c0897f0-1195-47fd-9229-9dce6c5616d6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/421b6454-25dd-43e6-851d-cfbe637672ef
    method: GET
  response:
    body: '{"created_at":"2023-10-02T20:12:48.618233Z","dhcp_enabled":true,"id":"421b6454-25dd-43e6-851d-cfbe637672ef","name":"tf-pn-blissful-hugle","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:12:48.618233Z","id":"cbddf581-1068-471c-987f-f4af256c0751","subnet":"10.10.64.0/22","updated_at":"2023-10-02T20:12:48.618233Z"},{"created_at":"2023-10-02T20:12:48.618233Z","id":"d89bbb43-fd69-4078-be4c-b3467acdaf70","subnet":"fd5f:519c:6d46:5f51::/64","updated_at":"2023-10-02T20:12:48.618233Z"}],"tags":[],"updated_at":"2023-10-02T20:12:48.618233Z","vpc_id":"2c0897f0-1195-47fd-9229-9dce6c5616d6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/a2e94215-f247-4f60-b63c-abdff89fbe00
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:12:45.919450Z","retention":7},"created_at":"2023-10-02T20:12:45.919450Z","endpoint":{"id":"4cf7e167-70e6-4c20-ad27-3c9a5767b35b","ip":"51.159.113.146","load_balancer":{},"name":null,"port":18472},"endpoints":[{"id":"4cf7e167-70e6-4c20-ad27-3c9a5767b35b","ip":"51.159.113.146","load_balancer":{},"name":null,"port":18472}],"engine":"FerretDB-1","id":"a2e94215-f247-4f60-b63c-abdff89fbe00","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"421b6454-25dd-43e6-851d-cfbe637672ef","service_ip":"10.10.64.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/a2e94215-f247-4f60-b63c-abdff89fbe00/endpoints
    method: POST
  response:
    body: '{"id":"fea4d213-1ea5-41b2-b4b4-027caa2aa93d","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"421b6454-25dd-43e6-851d-cfbe637672ef","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/fea4d213-1ea5-41b2-b4b4-027caa2aa93d
    method: GET
  response:
    body: '{"id":"fea4d213-1ea5-41b2-b4b4-027caa2aa93d","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"421b6454-25dd-43e6-851d-cfbe637672ef","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/a2e94215-f247-4f60-b63c-abdff89fbe00
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"a2e94215-f247-4f60-b63c-abdff89fbe00","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
