---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T09:56:40.391054Z","retention":7},"created_at":"2023-09-27T09:56:40.391054Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"5098d101-5934-444f-895e-914e6bc3ce96","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-gallant-khayyam","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-27T09:56:40.027006Z","dhcp_enabled":true,"id":"eaf4f55b-3ef8-4559-aecf-b63a99b9c814","name":"tf-pn-gallant-khayyam","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-27T09:56:40.027006Z","id":"b4eabbc9-35c8-4ea8-8f37-1dc6c09bb9af","subnet":"172.16.0.0/22","updated_at":"2023-09-27T09:56:40.027006Z"},{"created_at":"2023-09-27T09:56:40.027006Z","id":"bd8b5793-f925-46b8-9502-2f7fbc28c6ae","subnet":"fdfc:1ffc:be97:48f4::/64","updated_at":"2023-09-27T09:56:40.027006Z"}],"tags":[],"updated_at":"2023-09-27T09:56:40.027006Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/eaf4f55b-3ef8-4559-aecf-b63a99b9c814
    method: GET
  response:
    body: '{"created_at":"2023-09-27T09:56:40.027006Z","dhcp_enabled":true,"id":"eaf4f55b-3ef8-4559-aecf-b63a99b9c814","name":"tf-pn-gallant-khayyam","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-27T09:56:40.027006Z","id":"b4eabbc9-35c8-4ea8-8f37-1dc6c09bb9af","subnet":"172.16.0.0/22","updated_at":"2023-09-27T09:56:40.027006Z"},{"created_at":"2023-09-27T09:56:40.027006Z","id":"bd8b5793-f925-46b8-9502-2f7fbc28c6ae","subnet":"fdfc:1ffc:be97:48f4::/64","updated_at":"2023-09-27T09:56:40.027006Z"}],"tags":[],"updated_at":"2023-09-27T09:56:40.027006Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/5098d101-5934-444f-895e-914e6bc3ce96
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T09:56:40.391054Z","retention":7},"created_at":"2023-09-27T09:56:40.391054Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"5098d101-5934-444f-895e-914e6bc3ce96","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/5098d101-5934-444f-895e-914e6bc3ce96
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T09:56:40.391054Z","retention":7},"created_at":"2023-09-27T09:56:40.391054Z","endpoint":{"id":"4b86e64b-e11f-4ffd-90c6-86b2d9e77170","ip":"51.159.11.111","load_balancer":{},"name":null,"port":5009},"endpoints":[{"id":"4b86e64b-e11f-4ffd-90c6-86b2d9e77170","ip":"51.159.11.111","load_balancer":{},"name":null,"port":5009}],"engine":"FerretDB-1","id":"5098d101-5934-444f-895e-914e6bc3ce96","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"5098d101-5934-444f-895e-914e6bc3ce96","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"eaf4f55b-3ef8-4559-aecf-b63a99b9c814","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"3deffee2-a095-4d3b-81e2-925b608ad4f5","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"eaf4f55b-3ef8-4559-aecf-b63a99b9c814","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"05cc7bd2-f7a1-4c8f-a37a-8d22da7ddcd8","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/05cc7bd2-f7a1-4c8f-a37a-8d22da7ddcd8
    method: GET
  response:
    body: '{"endpoints":[{"id":"3deffee2-a095-4d3b-81e2-925b608ad4f5","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"eaf4f55b-3ef8-4559-aecf-b63a99b9c814","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"05cc7bd2-f7a1-4c8f-a37a-8d22da7ddcd8","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/05cc7bd2-f7a1-4c8f-a37a-8d22da7ddcd8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"05cc7bd2-f7a1-4c8f-a37a-8d22da7ddcd8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
