---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-instance-privilege","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-27T14:20:39.077463Z","retention":7},"created_at":"2023-09-26T14:20:39.077463Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"39addc60-7146-47d7-ad01-07c008a5b405","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-instance-privilege","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-27T14:20:39.077463Z","retention":7},"created_at":"2023-09-26T14:20:39.077463Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"39addc60-7146-47d7-ad01-07c008a5b405","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-instance-privilege","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-27T14:20:39.077463Z","retention":7},"created_at":"2023-09-26T14:20:39.077463Z","endpoint":{"id":"94114317-43e3-4214-9cb4-2a023a3a9662","ip":"51.159.24.75","load_balancer":{},"name":null,"port":14876},"endpoints":[{"id":"94114317-43e3-4214-9cb4-2a023a3a9662","ip":"51.159.24.75","load_balancer":{},"name":null,"port":14876}],"engine":"FerretDB-1","id":"39addc60-7146-47d7-ad01-07c008a5b405","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-instance-privilege","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"user_01","password":"R34lP4sSw#Rd","is_admin":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/users
    method: POST
  response:
    body: '{"is_admin":true,"name":"user_01"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/users?name=user_01&order_by=name_asc
    method: GET
  response:
    body: '{"total_count":1,"users":[{"is_admin":true,"name":"user_01"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-document_db-database-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/databases
    method: POST
  response:
    body: '{"managed":true,"name":"test-document_db-database-basic","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/databases?name=test-document_db-database-basic&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"test-document_db-database-basic","owner":"_rdb_superadmin","size":8758051}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"database_name":"test-document_db-database-basic","user_name":"user_01","permission":"all"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/privileges
    method: PUT
  response:
    body: '{"database_name":"test-document_db-database-basic","permission":"all","user_name":"user_01"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/privileges?database_name=test-document_db-database-basic&order_by=user_name_asc&user_name=user_01
    method: GET
  response:
    body: '{"privileges":[{"database_name":"test-document_db-database-basic","permission":"all","user_name":"user_01"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/users/user_01
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405/databases/test-document_db-database-basic
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/39addc60-7146-47d7-ad01-07c008a5b405
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"39addc60-7146-47d7-ad01-07c008a5b405","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
