---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T09:46:47.141846Z","retention":7},"created_at":"2023-10-03T09:46:47.141846Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"3fa3e473-fbc5-45fa-a145-1713fd7238d7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/3fa3e473-fbc5-45fa-a145-1713fd7238d7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T09:46:47.141846Z","retention":7},"created_at":"2023-10-03T09:46:47.141846Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"3fa3e473-fbc5-45fa-a145-1713fd7238d7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-exciting-bartik","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-03T09:46:46.889719Z","dhcp_enabled":true,"id":"fbd8ab82-2502-4cf0-a650-647150927593","name":"tf-pn-exciting-bartik","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T09:46:46.889719Z","id":"85c7ec37-5f7a-4608-9df7-d6470cccba82","subnet":"172.16.32.0/22","updated_at":"2023-10-03T09:46:46.889719Z"},{"created_at":"2023-10-03T09:46:46.889719Z","id":"bda44b43-5b1b-4f88-9b0d-084f586f3be7","subnet":"fdfc:1ffc:be97:1195::/64","updated_at":"2023-10-03T09:46:46.889719Z"}],"tags":[],"updated_at":"2023-10-03T09:46:46.889719Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fbd8ab82-2502-4cf0-a650-647150927593
    method: GET
  response:
    body: '{"created_at":"2023-10-03T09:46:46.889719Z","dhcp_enabled":true,"id":"fbd8ab82-2502-4cf0-a650-647150927593","name":"tf-pn-exciting-bartik","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T09:46:46.889719Z","id":"85c7ec37-5f7a-4608-9df7-d6470cccba82","subnet":"172.16.32.0/22","updated_at":"2023-10-03T09:46:46.889719Z"},{"created_at":"2023-10-03T09:46:46.889719Z","id":"bda44b43-5b1b-4f88-9b0d-084f586f3be7","subnet":"fdfc:1ffc:be97:1195::/64","updated_at":"2023-10-03T09:46:46.889719Z"}],"tags":[],"updated_at":"2023-10-03T09:46:46.889719Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/3fa3e473-fbc5-45fa-a145-1713fd7238d7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T09:46:47.141846Z","retention":7},"created_at":"2023-10-03T09:46:47.141846Z","endpoint":{"id":"e4227e0e-be6a-4271-8ff4-959538580777","ip":"51.159.27.75","load_balancer":{},"name":null,"port":14352},"endpoints":[{"id":"e4227e0e-be6a-4271-8ff4-959538580777","ip":"51.159.27.75","load_balancer":{},"name":null,"port":14352}],"engine":"FerretDB-1","id":"3fa3e473-fbc5-45fa-a145-1713fd7238d7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"3fa3e473-fbc5-45fa-a145-1713fd7238d7","endpoint_spec":[{"private_network":{"private_network_id":"fbd8ab82-2502-4cf0-a650-647150927593","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"03a225b9-2e10-47bf-a987-b07167489e77","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"fbd8ab82-2502-4cf0-a650-647150927593","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"54964d06-155a-4c4c-a3ca-38affb8dd94f","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/54964d06-155a-4c4c-a3ca-38affb8dd94f
    method: GET
  response:
    body: '{"endpoints":[{"id":"03a225b9-2e10-47bf-a987-b07167489e77","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"fbd8ab82-2502-4cf0-a650-647150927593","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"54964d06-155a-4c4c-a3ca-38affb8dd94f","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/54964d06-155a-4c4c-a3ca-38affb8dd94f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"54964d06-155a-4c4c-a3ca-38affb8dd94f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
