---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T09:47:53.096247Z","retention":7},"created_at":"2023-09-27T09:47:53.096247Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"f45b2b8b-a049-4e91-ad3c-cbebefda1111","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/f45b2b8b-a049-4e91-ad3c-cbebefda1111
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T09:47:53.096247Z","retention":7},"created_at":"2023-09-27T09:47:53.096247Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"f45b2b8b-a049-4e91-ad3c-cbebefda1111","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-youthful-williamson","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-27T09:47:52.821995Z","dhcp_enabled":true,"id":"799fe2ce-8a74-48e3-a324-23fa41a54703","name":"tf-pn-youthful-williamson","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-27T09:47:52.821995Z","id":"c714c69c-62e1-4f78-baca-10a84c725750","subnet":"172.16.24.0/22","updated_at":"2023-09-27T09:47:52.821995Z"},{"created_at":"2023-09-27T09:47:52.821995Z","id":"2c43265c-a0d7-4b38-b6bb-f21207a7a569","subnet":"fdfc:1ffc:be97:fcde::/64","updated_at":"2023-09-27T09:47:52.821995Z"}],"tags":[],"updated_at":"2023-09-27T09:47:52.821995Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/799fe2ce-8a74-48e3-a324-23fa41a54703
    method: GET
  response:
    body: '{"created_at":"2023-09-27T09:47:52.821995Z","dhcp_enabled":true,"id":"799fe2ce-8a74-48e3-a324-23fa41a54703","name":"tf-pn-youthful-williamson","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-27T09:47:52.821995Z","id":"c714c69c-62e1-4f78-baca-10a84c725750","subnet":"172.16.24.0/22","updated_at":"2023-09-27T09:47:52.821995Z"},{"created_at":"2023-09-27T09:47:52.821995Z","id":"2c43265c-a0d7-4b38-b6bb-f21207a7a569","subnet":"fdfc:1ffc:be97:fcde::/64","updated_at":"2023-09-27T09:47:52.821995Z"}],"tags":[],"updated_at":"2023-09-27T09:47:52.821995Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/f45b2b8b-a049-4e91-ad3c-cbebefda1111
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T09:47:53.096247Z","retention":7},"created_at":"2023-09-27T09:47:53.096247Z","endpoint":{"id":"04afcf07-26b0-4202-b2a1-f7fd3a169a8a","ip":"51.159.11.111","load_balancer":{},"name":null,"port":18443},"endpoints":[{"id":"04afcf07-26b0-4202-b2a1-f7fd3a169a8a","ip":"51.159.11.111","load_balancer":{},"name":null,"port":18443}],"engine":"FerretDB-1","id":"f45b2b8b-a049-4e91-ad3c-cbebefda1111","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"f45b2b8b-a049-4e91-ad3c-cbebefda1111","endpoint_spec":[{"private_network":{"private_network_id":"799fe2ce-8a74-48e3-a324-23fa41a54703","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"6113d7d4-1095-4a5f-ad8f-7074aa3dc956","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"799fe2ce-8a74-48e3-a324-23fa41a54703","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"e7dd433d-88eb-4087-b88e-b14ca4e0101f","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/e7dd433d-88eb-4087-b88e-b14ca4e0101f
    method: GET
  response:
    body: '{"endpoints":[{"id":"6113d7d4-1095-4a5f-ad8f-7074aa3dc956","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"799fe2ce-8a74-48e3-a324-23fa41a54703","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"e7dd433d-88eb-4087-b88e-b14ca4e0101f","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/e7dd433d-88eb-4087-b88e-b14ca4e0101f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"e7dd433d-88eb-4087-b88e-b14ca4e0101f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
