---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.885503Z","retention":7},"created_at":"2023-10-02T20:08:44.885503Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"5c2678cc-a3f2-480b-b5eb-2e98755022c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/5c2678cc-a3f2-480b-b5eb-2e98755022c2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.885503Z","retention":7},"created_at":"2023-10-02T20:08:44.885503Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"5c2678cc-a3f2-480b-b5eb-2e98755022c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/5c2678cc-a3f2-480b-b5eb-2e98755022c2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.885503Z","retention":7},"created_at":"2023-10-02T20:08:44.885503Z","endpoint":{"id":"3938d048-0090-4e80-91a9-747f8e6abf8a","ip":"51.159.26.243","load_balancer":{},"name":null,"port":8639},"endpoints":[{"id":"3938d048-0090-4e80-91a9-747f8e6abf8a","ip":"51.159.26.243","load_balancer":{},"name":null,"port":8639}],"engine":"FerretDB-1","id":"5c2678cc-a3f2-480b-b5eb-2e98755022c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"5c2678cc-a3f2-480b-b5eb-2e98755022c2","endpoint_spec":[{"direct_access":{}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"0c55036a-6a8a-4753-90b9-954dc26e94c0","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0c55036a-6a8a-4753-90b9-954dc26e94c0
    method: GET
  response:
    body: '{"endpoints":[],"id":"0c55036a-6a8a-4753-90b9-954dc26e94c0","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-exciting-kalam","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-02T20:14:52.377403Z","dhcp_enabled":true,"id":"44ad9a60-ed23-435c-908b-6118f6ea73a6","name":"tf-pn-exciting-kalam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:14:52.377403Z","id":"baec9ca7-0e51-4b5d-aabe-bb7ebfa3b6b7","subnet":"172.16.60.0/22","updated_at":"2023-10-02T20:14:52.377403Z"},{"created_at":"2023-10-02T20:14:52.377403Z","id":"13b40491-549d-4511-9194-fbcfbe483dc9","subnet":"fd5f:519c:6d46:890f::/64","updated_at":"2023-10-02T20:14:52.377403Z"}],"tags":[],"updated_at":"2023-10-02T20:14:52.377403Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/44ad9a60-ed23-435c-908b-6118f6ea73a6
    method: GET
  response:
    body: '{"created_at":"2023-10-02T20:14:52.377403Z","dhcp_enabled":true,"id":"44ad9a60-ed23-435c-908b-6118f6ea73a6","name":"tf-pn-exciting-kalam","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:14:52.377403Z","id":"baec9ca7-0e51-4b5d-aabe-bb7ebfa3b6b7","subnet":"172.16.60.0/22","updated_at":"2023-10-02T20:14:52.377403Z"},{"created_at":"2023-10-02T20:14:52.377403Z","id":"13b40491-549d-4511-9194-fbcfbe483dc9","subnet":"fd5f:519c:6d46:890f::/64","updated_at":"2023-10-02T20:14:52.377403Z"}],"tags":[],"updated_at":"2023-10-02T20:14:52.377403Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/9a949390-b077-4259-87ee-7038572985d7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"44ad9a60-ed23-435c-908b-6118f6ea73a6","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0c55036a-6a8a-4753-90b9-954dc26e94c0/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"c7b6b7da-8390-4547-a5f0-eb0b9bd04cc2","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"44ad9a60-ed23-435c-908b-6118f6ea73a6","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"0c55036a-6a8a-4753-90b9-954dc26e94c0","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0c55036a-6a8a-4753-90b9-954dc26e94c0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"0c55036a-6a8a-4753-90b9-954dc26e94c0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
