---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T12:43:45.767575Z","retention":7},"created_at":"2023-10-03T12:43:45.767575Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"d6e22e3d-ceb3-40df-aa4e-555040b5f12b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d6e22e3d-ceb3-40df-aa4e-555040b5f12b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T12:43:45.767575Z","retention":7},"created_at":"2023-10-03T12:43:45.767575Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"d6e22e3d-ceb3-40df-aa4e-555040b5f12b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-recursing-robinson","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-03T12:43:45.483155Z","dhcp_enabled":true,"id":"4cbc3499-4b20-4841-9c95-18c1c9b9bb7e","name":"tf-pn-recursing-robinson","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T12:43:45.483155Z","id":"c08e20c8-d7cc-4eef-a729-6d4a32b5f3ef","subnet":"172.16.32.0/22","updated_at":"2023-10-03T12:43:45.483155Z"},{"created_at":"2023-10-03T12:43:45.483155Z","id":"a3abbdee-d4a4-47e2-a8ad-5b3d7c655694","subnet":"fdfc:1ffc:be97:742d::/64","updated_at":"2023-10-03T12:43:45.483155Z"}],"tags":[],"updated_at":"2023-10-03T12:43:45.483155Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4cbc3499-4b20-4841-9c95-18c1c9b9bb7e
    method: GET
  response:
    body: '{"created_at":"2023-10-03T12:43:45.483155Z","dhcp_enabled":true,"id":"4cbc3499-4b20-4841-9c95-18c1c9b9bb7e","name":"tf-pn-recursing-robinson","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T12:43:45.483155Z","id":"c08e20c8-d7cc-4eef-a729-6d4a32b5f3ef","subnet":"172.16.32.0/22","updated_at":"2023-10-03T12:43:45.483155Z"},{"created_at":"2023-10-03T12:43:45.483155Z","id":"a3abbdee-d4a4-47e2-a8ad-5b3d7c655694","subnet":"fdfc:1ffc:be97:742d::/64","updated_at":"2023-10-03T12:43:45.483155Z"}],"tags":[],"updated_at":"2023-10-03T12:43:45.483155Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d6e22e3d-ceb3-40df-aa4e-555040b5f12b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T12:43:45.767575Z","retention":7},"created_at":"2023-10-03T12:43:45.767575Z","endpoint":{"id":"af3f4ff9-8ff9-4096-9cbd-33ca45713fa5","ip":"51.158.56.171","load_balancer":{},"name":null,"port":5300},"endpoints":[{"id":"af3f4ff9-8ff9-4096-9cbd-33ca45713fa5","ip":"51.158.56.171","load_balancer":{},"name":null,"port":5300}],"engine":"FerretDB-1","id":"d6e22e3d-ceb3-40df-aa4e-555040b5f12b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"d6e22e3d-ceb3-40df-aa4e-555040b5f12b","endpoint_spec":[{"private_network":{"private_network_id":"4cbc3499-4b20-4841-9c95-18c1c9b9bb7e","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"4f6d3f27-7f9c-4c7b-b396-c71a74de0871","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"4cbc3499-4b20-4841-9c95-18c1c9b9bb7e","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"ca851fa9-81d7-43f5-8216-6478779d4508","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/ca851fa9-81d7-43f5-8216-6478779d4508
    method: GET
  response:
    body: '{"endpoints":[{"id":"4f6d3f27-7f9c-4c7b-b396-c71a74de0871","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"4cbc3499-4b20-4841-9c95-18c1c9b9bb7e","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"ca851fa9-81d7-43f5-8216-6478779d4508","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/ca851fa9-81d7-43f5-8216-6478779d4508
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"ca851fa9-81d7-43f5-8216-6478779d4508","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
