---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-02T20:40:58.456984Z","dhcp_enabled":true,"id":"f7f9617c-f287-43c8-8b4f-f5aeebfae52a","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:40:58.456984Z","id":"56e357ef-338f-409c-84ad-947a1f6e4244","subnet":"172.16.16.0/22","updated_at":"2023-10-02T20:40:58.456984Z"},{"created_at":"2023-10-02T20:40:58.456984Z","id":"48e3922f-f6a2-4b4f-89a8-4f848c6f561b","subnet":"fdfc:1ffc:be97:2393::/64","updated_at":"2023-10-02T20:40:58.456984Z"}],"tags":[],"updated_at":"2023-10-02T20:40:58.456984Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f7f9617c-f287-43c8-8b4f-f5aeebfae52a
    method: GET
  response:
    body: '{"created_at":"2023-10-02T20:40:58.456984Z","dhcp_enabled":true,"id":"f7f9617c-f287-43c8-8b4f-f5aeebfae52a","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:40:58.456984Z","id":"56e357ef-338f-409c-84ad-947a1f6e4244","subnet":"172.16.16.0/22","updated_at":"2023-10-02T20:40:58.456984Z"},{"created_at":"2023-10-02T20:40:58.456984Z","id":"48e3922f-f6a2-4b4f-89a8-4f848c6f561b","subnet":"fdfc:1ffc:be97:2393::/64","updated_at":"2023-10-02T20:40:58.456984Z"}],"tags":[],"updated_at":"2023-10-02T20:40:58.456984Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-documentdb-instance-endpoint-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:40:59.102717Z","retention":7},"created_at":"2023-10-02T20:40:59.102717Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"4e83edf2-5e62-4bcd-8f05-1f34c756aee5","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4e83edf2-5e62-4bcd-8f05-1f34c756aee5
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:40:59.102717Z","retention":7},"created_at":"2023-10-02T20:40:59.102717Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"4e83edf2-5e62-4bcd-8f05-1f34c756aee5","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4e83edf2-5e62-4bcd-8f05-1f34c756aee5
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:40:59.102717Z","retention":7},"created_at":"2023-10-02T20:40:59.102717Z","endpoint":{"id":"5715eda6-ad38-491c-8999-4a123e943f1c","ip":"51.159.113.146","load_balancer":{},"name":null,"port":16306},"endpoints":[{"id":"5715eda6-ad38-491c-8999-4a123e943f1c","ip":"51.159.113.146","load_balancer":{},"name":null,"port":16306}],"engine":"FerretDB-1","id":"4e83edf2-5e62-4bcd-8f05-1f34c756aee5","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"f7f9617c-f287-43c8-8b4f-f5aeebfae52a","service_ip":"172.16.32.3/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4e83edf2-5e62-4bcd-8f05-1f34c756aee5/endpoints
    method: POST
  response:
    body: '{"id":"21761f8f-941f-4c73-b8ad-c7ec97d2445c","ip":"172.16.32.3","name":null,"port":27017,"private_network":{"private_network_id":"f7f9617c-f287-43c8-8b4f-f5aeebfae52a","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/21761f8f-941f-4c73-b8ad-c7ec97d2445c
    method: GET
  response:
    body: '{"id":"21761f8f-941f-4c73-b8ad-c7ec97d2445c","ip":"172.16.32.3","name":null,"port":27017,"private_network":{"private_network_id":"f7f9617c-f287-43c8-8b4f-f5aeebfae52a","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"my vpc","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-02T20:44:34.152362Z","id":"98fa9839-c13e-4710-a322-0ada29e90aca","is_default":false,"name":"my
      vpc","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-10-02T20:44:34.152362Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/98fa9839-c13e-4710-a322-0ada29e90aca
    method: GET
  response:
    body: '{"created_at":"2023-10-02T20:44:34.152362Z","id":"98fa9839-c13e-4710-a322-0ada29e90aca","is_default":false,"name":"my
      vpc","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-10-02T20:44:34.152362Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4e83edf2-5e62-4bcd-8f05-1f34c756aee5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"4e83edf2-5e62-4bcd-8f05-1f34c756aee5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
