---
version: 1
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.999457Z","retention":7},"created_at":"2023-11-16T16:25:33.999457Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b7d0e119-cf6c-4a9d-b68f-1f79c1be210b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b7d0e119-cf6c-4a9d-b68f-1f79c1be210b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.999457Z","retention":7},"created_at":"2023-11-16T16:25:33.999457Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b7d0e119-cf6c-4a9d-b68f-1f79c1be210b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-confident-austin","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:25:33.733531Z","dhcp_enabled":true,"id":"b6157924-6035-4104-9272-8839a5b5cc42","name":"tf-pn-confident-austin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:25:33.733531Z","id":"f988d04c-13ce-4db4-a652-690f624902e9","subnet":"172.16.44.0/22","updated_at":"2023-11-16T16:25:33.733531Z"},{"created_at":"2023-11-16T16:25:33.733531Z","id":"3cb7e2ec-8980-4e11-ae2e-30c63526ebac","subnet":"fd5f:519c:6d46:601a::/64","updated_at":"2023-11-16T16:25:33.733531Z"}],"tags":[],"updated_at":"2023-11-16T16:25:33.733531Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b6157924-6035-4104-9272-8839a5b5cc42
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:25:33.733531Z","dhcp_enabled":true,"id":"b6157924-6035-4104-9272-8839a5b5cc42","name":"tf-pn-confident-austin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:25:33.733531Z","id":"f988d04c-13ce-4db4-a652-690f624902e9","subnet":"172.16.44.0/22","updated_at":"2023-11-16T16:25:33.733531Z"},{"created_at":"2023-11-16T16:25:33.733531Z","id":"3cb7e2ec-8980-4e11-ae2e-30c63526ebac","subnet":"fd5f:519c:6d46:601a::/64","updated_at":"2023-11-16T16:25:33.733531Z"}],"tags":[],"updated_at":"2023-11-16T16:25:33.733531Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b7d0e119-cf6c-4a9d-b68f-1f79c1be210b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.999457Z","retention":7},"created_at":"2023-11-16T16:25:33.999457Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b7d0e119-cf6c-4a9d-b68f-1f79c1be210b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b7d0e119-cf6c-4a9d-b68f-1f79c1be210b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.999457Z","retention":7},"created_at":"2023-11-16T16:25:33.999457Z","endpoint":{"id":"346e7029-1078-4a7a-b78e-f6a2678af9ce","ip":"51.159.113.173","load_balancer":{},"name":null,"port":5308},"endpoints":[{"id":"346e7029-1078-4a7a-b78e-f6a2678af9ce","ip":"51.159.113.173","load_balancer":{},"name":null,"port":5308}],"engine":"FerretDB-1","id":"b7d0e119-cf6c-4a9d-b68f-1f79c1be210b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"b7d0e119-cf6c-4a9d-b68f-1f79c1be210b","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"b6157924-6035-4104-9272-8839a5b5cc42","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"e59496f8-6ef9-4775-aff7-f06c12f82a34","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"b6157924-6035-4104-9272-8839a5b5cc42","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"07c66b5c-3f57-47b4-87ad-0e484e668a7c","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/07c66b5c-3f57-47b4-87ad-0e484e668a7c
    method: GET
  response:
    body: '{"endpoints":[{"id":"e59496f8-6ef9-4775-aff7-f06c12f82a34","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"b6157924-6035-4104-9272-8839a5b5cc42","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"07c66b5c-3f57-47b4-87ad-0e484e668a7c","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/07c66b5c-3f57-47b4-87ad-0e484e668a7c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"07c66b5c-3f57-47b4-87ad-0e484e668a7c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
