---
version: 1
interactions:
- request:
    body: '{"name":"vpcDocumentDB","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-10T07:41:07.937761Z","id":"27facaf1-546a-4d1c-bc00-b3a8d5532948","is_default":false,"name":"vpcDocumentDB","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-10-10T07:41:07.937761Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/27facaf1-546a-4d1c-bc00-b3a8d5532948
    method: GET
  response:
    body: '{"created_at":"2023-10-10T07:41:07.937761Z","id":"27facaf1-546a-4d1c-bc00-b3a8d5532948","is_default":false,"name":"vpcDocumentDB","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-10-10T07:41:07.937761Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-epic-jones","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":["10.10.64.0/22"],"vpc_id":"27facaf1-546a-4d1c-bc00-b3a8d5532948"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-10T07:41:08.202724Z","dhcp_enabled":true,"id":"5ee8b5a7-b691-42d1-aff6-437960159271","name":"tf-pn-epic-jones","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-10T07:41:08.202724Z","id":"2aafa686-a3eb-4196-a98c-da4fd43ef1d2","subnet":"10.10.64.0/22","updated_at":"2023-10-10T07:41:08.202724Z"},{"created_at":"2023-10-10T07:41:08.202724Z","id":"3a0d26a5-f886-443d-99cd-ee756039208c","subnet":"fdfc:1ffc:be97:60f9::/64","updated_at":"2023-10-10T07:41:08.202724Z"}],"tags":[],"updated_at":"2023-10-10T07:41:08.202724Z","vpc_id":"27facaf1-546a-4d1c-bc00-b3a8d5532948"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5ee8b5a7-b691-42d1-aff6-437960159271
    method: GET
  response:
    body: '{"created_at":"2023-10-10T07:41:08.202724Z","dhcp_enabled":true,"id":"5ee8b5a7-b691-42d1-aff6-437960159271","name":"tf-pn-epic-jones","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-10T07:41:08.202724Z","id":"2aafa686-a3eb-4196-a98c-da4fd43ef1d2","subnet":"10.10.64.0/22","updated_at":"2023-10-10T07:41:08.202724Z"},{"created_at":"2023-10-10T07:41:08.202724Z","id":"3a0d26a5-f886-443d-99cd-ee756039208c","subnet":"fdfc:1ffc:be97:60f9::/64","updated_at":"2023-10-10T07:41:08.202724Z"}],"tags":[],"updated_at":"2023-10-10T07:41:08.202724Z","vpc_id":"27facaf1-546a-4d1c-bc00-b3a8d5532948"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-documentdb-instance-endpoint-migration","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-11T07:41:12.268582Z","retention":7},"created_at":"2023-10-10T07:41:12.268582Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"4ca5b70d-b30e-487e-a96a-0521d213ffed","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4ca5b70d-b30e-487e-a96a-0521d213ffed
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-11T07:41:12.268582Z","retention":7},"created_at":"2023-10-10T07:41:12.268582Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"4ca5b70d-b30e-487e-a96a-0521d213ffed","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4ca5b70d-b30e-487e-a96a-0521d213ffed
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-11T07:41:12.268582Z","retention":7},"created_at":"2023-10-10T07:41:12.268582Z","endpoint":{"id":"950d5c57-4ecc-49ab-8f03-1fb380924cd1","ip":"51.158.58.131","load_balancer":{},"name":null,"port":9122},"endpoints":[{"id":"950d5c57-4ecc-49ab-8f03-1fb380924cd1","ip":"51.158.58.131","load_balancer":{},"name":null,"port":9122}],"engine":"FerretDB-1","id":"4ca5b70d-b30e-487e-a96a-0521d213ffed","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"5ee8b5a7-b691-42d1-aff6-437960159271","service_ip":"10.10.64.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4ca5b70d-b30e-487e-a96a-0521d213ffed/endpoints
    method: POST
  response:
    body: '{"id":"c5c7b897-2368-482c-a06e-3dc3ea832aae","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"5ee8b5a7-b691-42d1-aff6-437960159271","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/c5c7b897-2368-482c-a06e-3dc3ea832aae
    method: GET
  response:
    body: '{"id":"c5c7b897-2368-482c-a06e-3dc3ea832aae","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"5ee8b5a7-b691-42d1-aff6-437960159271","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/4ca5b70d-b30e-487e-a96a-0521d213ffed
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"4ca5b70d-b30e-487e-a96a-0521d213ffed","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
