---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"details":[{"current":4,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","quota":2,"resource":"rdb_instances"},{"current":5,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","quota":2,"resource":"rdb_instances"}],"message":"quota(s)
      exceeded for this resource","type":"quotas_exceeded"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: '{"name":"tf-pn-nifty-swartz","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-02T15:19:32.234317Z","dhcp_enabled":true,"id":"55f95048-efd5-4146-b157-004380526c58","name":"tf-pn-nifty-swartz","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T15:19:32.234317Z","id":"faa9182b-50b9-494b-bf44-28c6811722a4","subnet":"172.16.0.0/22","updated_at":"2023-10-02T15:19:32.234317Z"},{"created_at":"2023-10-02T15:19:32.234317Z","id":"bead2651-aa83-4c55-8026-3fac7b3649d5","subnet":"fdfc:1ffc:be97:67bf::/64","updated_at":"2023-10-02T15:19:32.234317Z"}],"tags":[],"updated_at":"2023-10-02T15:19:32.234317Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/55f95048-efd5-4146-b157-004380526c58
    method: GET
  response:
    body: '{"created_at":"2023-10-02T15:19:32.234317Z","dhcp_enabled":true,"id":"55f95048-efd5-4146-b157-004380526c58","name":"tf-pn-nifty-swartz","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T15:19:32.234317Z","id":"faa9182b-50b9-494b-bf44-28c6811722a4","subnet":"172.16.0.0/22","updated_at":"2023-10-02T15:19:32.234317Z"},{"created_at":"2023-10-02T15:19:32.234317Z","id":"bead2651-aa83-4c55-8026-3fac7b3649d5","subnet":"fdfc:1ffc:be97:67bf::/64","updated_at":"2023-10-02T15:19:32.234317Z"}],"tags":[],"updated_at":"2023-10-02T15:19:32.234317Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
