---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T12:52:26.373797Z","retention":7},"created_at":"2023-10-03T12:52:26.373797Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"f526f2e0-e0e6-4da6-a680-b1e7fcc1a3f7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/f526f2e0-e0e6-4da6-a680-b1e7fcc1a3f7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T12:52:26.373797Z","retention":7},"created_at":"2023-10-03T12:52:26.373797Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"f526f2e0-e0e6-4da6-a680-b1e7fcc1a3f7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/f526f2e0-e0e6-4da6-a680-b1e7fcc1a3f7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T12:52:26.373797Z","retention":7},"created_at":"2023-10-03T12:52:26.373797Z","endpoint":{"id":"d921f5aa-fae4-4838-89ec-4f8290e43ca9","ip":"51.159.113.236","load_balancer":{},"name":null,"port":1263},"endpoints":[{"id":"d921f5aa-fae4-4838-89ec-4f8290e43ca9","ip":"51.159.113.236","load_balancer":{},"name":null,"port":1263}],"engine":"FerretDB-1","id":"f526f2e0-e0e6-4da6-a680-b1e7fcc1a3f7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"f526f2e0-e0e6-4da6-a680-b1e7fcc1a3f7","endpoint_spec":[{"direct_access":{}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"044bcfbc-3138-40a3-979a-86acfd3c2191","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/044bcfbc-3138-40a3-979a-86acfd3c2191
    method: GET
  response:
    body: '{"endpoints":[],"id":"044bcfbc-3138-40a3-979a-86acfd3c2191","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-great-chaplygin","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-03T12:59:03.953014Z","dhcp_enabled":true,"id":"13d87a51-e1a9-44e2-9b24-7e4cb00debde","name":"tf-pn-great-chaplygin","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T12:59:03.953014Z","id":"a66eba92-82ca-4da3-aac4-a6d6352093c1","subnet":"172.16.24.0/22","updated_at":"2023-10-03T12:59:03.953014Z"},{"created_at":"2023-10-03T12:59:03.953014Z","id":"92a6c7d3-6eaa-402f-b243-52546c41d18f","subnet":"fdfc:1ffc:be97:64a6::/64","updated_at":"2023-10-03T12:59:03.953014Z"}],"tags":[],"updated_at":"2023-10-03T12:59:03.953014Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/13d87a51-e1a9-44e2-9b24-7e4cb00debde
    method: GET
  response:
    body: '{"created_at":"2023-10-03T12:59:03.953014Z","dhcp_enabled":true,"id":"13d87a51-e1a9-44e2-9b24-7e4cb00debde","name":"tf-pn-great-chaplygin","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T12:59:03.953014Z","id":"a66eba92-82ca-4da3-aac4-a6d6352093c1","subnet":"172.16.24.0/22","updated_at":"2023-10-03T12:59:03.953014Z"},{"created_at":"2023-10-03T12:59:03.953014Z","id":"92a6c7d3-6eaa-402f-b243-52546c41d18f","subnet":"fdfc:1ffc:be97:64a6::/64","updated_at":"2023-10-03T12:59:03.953014Z"}],"tags":[],"updated_at":"2023-10-03T12:59:03.953014Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/3f4601f1-b1fa-4662-9ce9-f22dfe1f31a0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"13d87a51-e1a9-44e2-9b24-7e4cb00debde","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/044bcfbc-3138-40a3-979a-86acfd3c2191/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"8813bf28-b93c-4fb6-a753-5aa4b1834673","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"13d87a51-e1a9-44e2-9b24-7e4cb00debde","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"044bcfbc-3138-40a3-979a-86acfd3c2191","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/044bcfbc-3138-40a3-979a-86acfd3c2191
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"044bcfbc-3138-40a3-979a-86acfd3c2191","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
