---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.953871Z","retention":7},"created_at":"2023-10-02T20:08:44.953871Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"d68d7355-f008-4eed-a7ce-8f4d485546c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d68d7355-f008-4eed-a7ce-8f4d485546c2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.953871Z","retention":7},"created_at":"2023-10-02T20:08:44.953871Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"d68d7355-f008-4eed-a7ce-8f4d485546c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-nervous-mcclintock","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-02T20:08:44.616087Z","dhcp_enabled":true,"id":"17ec4665-daca-406a-97f2-25f3556c73a0","name":"tf-pn-nervous-mcclintock","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:08:44.616087Z","id":"a64a6d02-7f85-4672-ba3c-d94163694c45","subnet":"172.16.48.0/22","updated_at":"2023-10-02T20:08:44.616087Z"},{"created_at":"2023-10-02T20:08:44.616087Z","id":"eb11b324-0734-4a0f-8032-743ae520f8c3","subnet":"fd5f:519c:6d46:82f5::/64","updated_at":"2023-10-02T20:08:44.616087Z"}],"tags":[],"updated_at":"2023-10-02T20:08:44.616087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/17ec4665-daca-406a-97f2-25f3556c73a0
    method: GET
  response:
    body: '{"created_at":"2023-10-02T20:08:44.616087Z","dhcp_enabled":true,"id":"17ec4665-daca-406a-97f2-25f3556c73a0","name":"tf-pn-nervous-mcclintock","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-02T20:08:44.616087Z","id":"a64a6d02-7f85-4672-ba3c-d94163694c45","subnet":"172.16.48.0/22","updated_at":"2023-10-02T20:08:44.616087Z"},{"created_at":"2023-10-02T20:08:44.616087Z","id":"eb11b324-0734-4a0f-8032-743ae520f8c3","subnet":"fd5f:519c:6d46:82f5::/64","updated_at":"2023-10-02T20:08:44.616087Z"}],"tags":[],"updated_at":"2023-10-02T20:08:44.616087Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/d68d7355-f008-4eed-a7ce-8f4d485546c2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T20:08:44.953871Z","retention":7},"created_at":"2023-10-02T20:08:44.953871Z","endpoint":{"id":"030981d7-80f5-46bd-a183-eab795839be0","ip":"51.159.26.243","load_balancer":{},"name":null,"port":24420},"endpoints":[{"id":"030981d7-80f5-46bd-a183-eab795839be0","ip":"51.159.26.243","load_balancer":{},"name":null,"port":24420}],"engine":"FerretDB-1","id":"d68d7355-f008-4eed-a7ce-8f4d485546c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"d68d7355-f008-4eed-a7ce-8f4d485546c2","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"17ec4665-daca-406a-97f2-25f3556c73a0","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"e880d820-32ea-47e5-9db8-754919c6e875","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"17ec4665-daca-406a-97f2-25f3556c73a0","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"13a4f2d9-233a-4c48-9dbd-15ed298714c3","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/13a4f2d9-233a-4c48-9dbd-15ed298714c3
    method: GET
  response:
    body: '{"endpoints":[{"id":"e880d820-32ea-47e5-9db8-754919c6e875","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"17ec4665-daca-406a-97f2-25f3556c73a0","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"13a4f2d9-233a-4c48-9dbd-15ed298714c3","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/13a4f2d9-233a-4c48-9dbd-15ed298714c3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"13a4f2d9-233a-4c48-9dbd-15ed298714c3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
