---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-documentdb-instance-endpoint-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T08:53:29.026367Z","retention":7},"created_at":"2023-09-27T08:53:29.026367Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"ef0f07e1-7ccb-4993-8038-ce6d4055bad3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-27T08:53:28.749657Z","dhcp_enabled":true,"id":"8a10b369-0ce9-4eca-8e5b-612696e9b727","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-27T08:53:28.749657Z","id":"d8c2d973-52f4-4123-b145-e2c6f9f8c468","subnet":"172.16.0.0/22","updated_at":"2023-09-27T08:53:28.749657Z"},{"created_at":"2023-09-27T08:53:28.749657Z","id":"72dbe08b-d49d-4865-bd14-502a343cdac1","subnet":"fdfc:1ffc:be97:458a::/64","updated_at":"2023-09-27T08:53:28.749657Z"}],"tags":[],"updated_at":"2023-09-27T08:53:28.749657Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8a10b369-0ce9-4eca-8e5b-612696e9b727
    method: GET
  response:
    body: '{"created_at":"2023-09-27T08:53:28.749657Z","dhcp_enabled":true,"id":"8a10b369-0ce9-4eca-8e5b-612696e9b727","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-27T08:53:28.749657Z","id":"d8c2d973-52f4-4123-b145-e2c6f9f8c468","subnet":"172.16.0.0/22","updated_at":"2023-09-27T08:53:28.749657Z"},{"created_at":"2023-09-27T08:53:28.749657Z","id":"72dbe08b-d49d-4865-bd14-502a343cdac1","subnet":"fdfc:1ffc:be97:458a::/64","updated_at":"2023-09-27T08:53:28.749657Z"}],"tags":[],"updated_at":"2023-09-27T08:53:28.749657Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/ef0f07e1-7ccb-4993-8038-ce6d4055bad3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T08:53:29.026367Z","retention":7},"created_at":"2023-09-27T08:53:29.026367Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"ef0f07e1-7ccb-4993-8038-ce6d4055bad3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/ef0f07e1-7ccb-4993-8038-ce6d4055bad3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-28T08:53:29.026367Z","retention":7},"created_at":"2023-09-27T08:53:29.026367Z","endpoint":{"id":"14f8c0f7-a974-4b0c-89fd-102bac8c849a","ip":"51.159.24.37","load_balancer":{},"name":null,"port":3846},"endpoints":[{"id":"14f8c0f7-a974-4b0c-89fd-102bac8c849a","ip":"51.159.24.37","load_balancer":{},"name":null,"port":3846}],"engine":"FerretDB-1","id":"ef0f07e1-7ccb-4993-8038-ce6d4055bad3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"8a10b369-0ce9-4eca-8e5b-612696e9b727","service_ip":"172.16.32.3/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/ef0f07e1-7ccb-4993-8038-ce6d4055bad3/endpoints
    method: POST
  response:
    body: '{"id":"9df7a6a2-fffb-4c0d-835c-fda747b2bd69","ip":"172.16.32.3","name":null,"port":27017,"private_network":{"private_network_id":"8a10b369-0ce9-4eca-8e5b-612696e9b727","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/9df7a6a2-fffb-4c0d-835c-fda747b2bd69
    method: GET
  response:
    body: '{"id":"9df7a6a2-fffb-4c0d-835c-fda747b2bd69","ip":"172.16.32.3","name":null,"port":27017,"private_network":{"private_network_id":"8a10b369-0ce9-4eca-8e5b-612696e9b727","service_ip":"172.16.32.3/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"my vpc","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-09-27T08:57:36.819926Z","id":"1db737ea-5c35-48f1-b50d-9cf0eb1c2f1a","is_default":false,"name":"my
      vpc","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-09-27T08:57:36.819926Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1db737ea-5c35-48f1-b50d-9cf0eb1c2f1a
    method: GET
  response:
    body: '{"created_at":"2023-09-27T08:57:36.819926Z","id":"1db737ea-5c35-48f1-b50d-9cf0eb1c2f1a","is_default":false,"name":"my
      vpc","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-09-27T08:57:36.819926Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/ef0f07e1-7ccb-4993-8038-ce6d4055bad3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"ef0f07e1-7ccb-4993-8038-ce6d4055bad3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
