---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:46:21.866777Z","retention":7},"created_at":"2023-09-21T13:46:21.866777Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"964ec92e-e248-4289-973c-8e67bcba5e68","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/964ec92e-e248-4289-973c-8e67bcba5e68
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:46:21.866777Z","retention":7},"created_at":"2023-09-21T13:46:21.866777Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"964ec92e-e248-4289-973c-8e67bcba5e68","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-hardcore-wu","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-21T13:46:21.604969Z","dhcp_enabled":true,"id":"8b5fef7e-84da-4239-8619-ecf03e3938bc","name":"tf-pn-hardcore-wu","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-21T13:46:21.604969Z","id":"1ed8b9e0-d689-4b6d-bc3e-0fb374cc8c5f","subnet":"172.16.24.0/22","updated_at":"2023-09-21T13:46:21.604969Z"},{"created_at":"2023-09-21T13:46:21.604969Z","id":"ec04bac9-0e2b-4c79-83a6-1961ba6f8cb9","subnet":"fdfc:1ffc:be97:707a::/64","updated_at":"2023-09-21T13:46:21.604969Z"}],"tags":[],"updated_at":"2023-09-21T13:46:21.604969Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8b5fef7e-84da-4239-8619-ecf03e3938bc
    method: GET
  response:
    body: '{"created_at":"2023-09-21T13:46:21.604969Z","dhcp_enabled":true,"id":"8b5fef7e-84da-4239-8619-ecf03e3938bc","name":"tf-pn-hardcore-wu","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-21T13:46:21.604969Z","id":"1ed8b9e0-d689-4b6d-bc3e-0fb374cc8c5f","subnet":"172.16.24.0/22","updated_at":"2023-09-21T13:46:21.604969Z"},{"created_at":"2023-09-21T13:46:21.604969Z","id":"ec04bac9-0e2b-4c79-83a6-1961ba6f8cb9","subnet":"fdfc:1ffc:be97:707a::/64","updated_at":"2023-09-21T13:46:21.604969Z"}],"tags":[],"updated_at":"2023-09-21T13:46:21.604969Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/964ec92e-e248-4289-973c-8e67bcba5e68
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:46:21.866777Z","retention":7},"created_at":"2023-09-21T13:46:21.866777Z","endpoint":{"id":"b7837d5b-e399-4bf6-8e85-e889b3566f8a","ip":"51.159.75.175","load_balancer":{},"name":null,"port":3977},"endpoints":[{"id":"b7837d5b-e399-4bf6-8e85-e889b3566f8a","ip":"51.159.75.175","load_balancer":{},"name":null,"port":3977}],"engine":"FerretDB-1","id":"964ec92e-e248-4289-973c-8e67bcba5e68","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"964ec92e-e248-4289-973c-8e67bcba5e68","endpoint_spec":[{"private_network":{"private_network_id":"8b5fef7e-84da-4239-8619-ecf03e3938bc","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"47fd313e-ecf5-40b0-be1d-5b7209cce789","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"8b5fef7e-84da-4239-8619-ecf03e3938bc","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"0ad5dfba-c810-4a0e-bd9b-e7996c4d27f6","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0ad5dfba-c810-4a0e-bd9b-e7996c4d27f6
    method: GET
  response:
    body: '{"endpoints":[{"id":"47fd313e-ecf5-40b0-be1d-5b7209cce789","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"8b5fef7e-84da-4239-8619-ecf03e3938bc","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"0ad5dfba-c810-4a0e-bd9b-e7996c4d27f6","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0ad5dfba-c810-4a0e-bd9b-e7996c4d27f6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"0ad5dfba-c810-4a0e-bd9b-e7996c4d27f6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
