---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-27T14:29:50.267737Z","retention":7},"created_at":"2023-09-26T14:29:50.267737Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"8587ecf8-ba40-40e4-a715-c22d67e0c0c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/8587ecf8-ba40-40e4-a715-c22d67e0c0c2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-27T14:29:50.267737Z","retention":7},"created_at":"2023-09-26T14:29:50.267737Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"8587ecf8-ba40-40e4-a715-c22d67e0c0c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/8587ecf8-ba40-40e4-a715-c22d67e0c0c2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-27T14:29:50.267737Z","retention":7},"created_at":"2023-09-26T14:29:50.267737Z","endpoint":{"id":"48fc1423-7a7e-4d6d-8e82-0eb048c50e8b","ip":"195.154.196.76","load_balancer":{},"name":null,"port":4377},"endpoints":[{"id":"48fc1423-7a7e-4d6d-8e82-0eb048c50e8b","ip":"195.154.196.76","load_balancer":{},"name":null,"port":4377}],"engine":"FerretDB-1","id":"8587ecf8-ba40-40e4-a715-c22d67e0c0c2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"8587ecf8-ba40-40e4-a715-c22d67e0c0c2","endpoint_spec":[{"direct_access":{}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"c44906f4-b845-4cc3-a6d0-94683e14cfc7","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/c44906f4-b845-4cc3-a6d0-94683e14cfc7
    method: GET
  response:
    body: '{"endpoints":[],"id":"c44906f4-b845-4cc3-a6d0-94683e14cfc7","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-eloquent-nash","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-26T14:36:27.873054Z","dhcp_enabled":true,"id":"8106735a-c1fc-416a-b585-d28ea7751336","name":"tf-pn-eloquent-nash","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-26T14:36:27.873054Z","id":"a8869f28-42ba-49a1-99fc-3bb12f34f260","subnet":"172.16.20.0/22","updated_at":"2023-09-26T14:36:27.873054Z"},{"created_at":"2023-09-26T14:36:27.873054Z","id":"4f89d595-51c3-405a-a473-de3ff0554844","subnet":"fdfc:1ffc:be97:24c::/64","updated_at":"2023-09-26T14:36:27.873054Z"}],"tags":[],"updated_at":"2023-09-26T14:36:27.873054Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8106735a-c1fc-416a-b585-d28ea7751336
    method: GET
  response:
    body: '{"created_at":"2023-09-26T14:36:27.873054Z","dhcp_enabled":true,"id":"8106735a-c1fc-416a-b585-d28ea7751336","name":"tf-pn-eloquent-nash","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-26T14:36:27.873054Z","id":"a8869f28-42ba-49a1-99fc-3bb12f34f260","subnet":"172.16.20.0/22","updated_at":"2023-09-26T14:36:27.873054Z"},{"created_at":"2023-09-26T14:36:27.873054Z","id":"4f89d595-51c3-405a-a473-de3ff0554844","subnet":"fdfc:1ffc:be97:24c::/64","updated_at":"2023-09-26T14:36:27.873054Z"}],"tags":[],"updated_at":"2023-09-26T14:36:27.873054Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/b05e77d5-058f-4c60-9df4-ef2fb5441bf3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"8106735a-c1fc-416a-b585-d28ea7751336","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/c44906f4-b845-4cc3-a6d0-94683e14cfc7/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"f4a9fd58-1ea1-41dd-bc2b-3d6449ebea5a","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"8106735a-c1fc-416a-b585-d28ea7751336","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"c44906f4-b845-4cc3-a6d0-94683e14cfc7","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/c44906f4-b845-4cc3-a6d0-94683e14cfc7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"c44906f4-b845-4cc3-a6d0-94683e14cfc7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
