---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T12:26:58.152713Z","retention":7},"created_at":"2023-09-21T12:26:58.152713Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"03d0e647-4b95-41b3-af7a-aaf7fcdea61f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-loving-jepsen","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-21T12:26:57.852428Z","dhcp_enabled":true,"id":"d5b01970-579d-4ba5-ae4e-68fc88b7e9f4","name":"tf-pn-loving-jepsen","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-21T12:26:57.852428Z","id":"895b7320-88fe-449e-ac8e-fc3ce0ae41bd","subnet":"172.16.16.0/22","updated_at":"2023-09-21T12:26:57.852428Z"},{"created_at":"2023-09-21T12:26:57.852428Z","id":"8a354ffd-90bb-47db-ba93-8f76bcef2797","subnet":"fdfc:1ffc:be97:ca9c::/64","updated_at":"2023-09-21T12:26:57.852428Z"}],"tags":[],"updated_at":"2023-09-21T12:26:57.852428Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d5b01970-579d-4ba5-ae4e-68fc88b7e9f4
    method: GET
  response:
    body: '{"created_at":"2023-09-21T12:26:57.852428Z","dhcp_enabled":true,"id":"d5b01970-579d-4ba5-ae4e-68fc88b7e9f4","name":"tf-pn-loving-jepsen","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-21T12:26:57.852428Z","id":"895b7320-88fe-449e-ac8e-fc3ce0ae41bd","subnet":"172.16.16.0/22","updated_at":"2023-09-21T12:26:57.852428Z"},{"created_at":"2023-09-21T12:26:57.852428Z","id":"8a354ffd-90bb-47db-ba93-8f76bcef2797","subnet":"fdfc:1ffc:be97:ca9c::/64","updated_at":"2023-09-21T12:26:57.852428Z"}],"tags":[],"updated_at":"2023-09-21T12:26:57.852428Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/03d0e647-4b95-41b3-af7a-aaf7fcdea61f
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T12:26:58.152713Z","retention":7},"created_at":"2023-09-21T12:26:58.152713Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"03d0e647-4b95-41b3-af7a-aaf7fcdea61f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/03d0e647-4b95-41b3-af7a-aaf7fcdea61f
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T12:26:58.152713Z","retention":7},"created_at":"2023-09-21T12:26:58.152713Z","endpoint":{"id":"59fdb0c7-823d-4be1-bcbd-49a0fe408624","ip":"195.154.197.137","load_balancer":{},"name":null,"port":21440},"endpoints":[{"id":"59fdb0c7-823d-4be1-bcbd-49a0fe408624","ip":"195.154.197.137","load_balancer":{},"name":null,"port":21440}],"engine":"FerretDB-1","id":"03d0e647-4b95-41b3-af7a-aaf7fcdea61f","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"03d0e647-4b95-41b3-af7a-aaf7fcdea61f","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"d5b01970-579d-4ba5-ae4e-68fc88b7e9f4","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"442acf54-90ea-4eea-9667-dd04b82653cd","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"d5b01970-579d-4ba5-ae4e-68fc88b7e9f4","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"fc647fb4-1894-4783-beb0-2f1cb93b1586","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/fc647fb4-1894-4783-beb0-2f1cb93b1586
    method: GET
  response:
    body: '{"endpoints":[{"id":"442acf54-90ea-4eea-9667-dd04b82653cd","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"d5b01970-579d-4ba5-ae4e-68fc88b7e9f4","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"fc647fb4-1894-4783-beb0-2f1cb93b1586","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/fc647fb4-1894-4783-beb0-2f1cb93b1586
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"fc647fb4-1894-4783-beb0-2f1cb93b1586","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
