---
version: 1
interactions:
- request:
    body: '{"name":"vpcDocumentDB","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-02T15:19:32.245443Z","id":"4338949d-01d4-471b-bfbb-922f0ab74ec7","is_default":false,"name":"vpcDocumentDB","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-10-02T15:19:32.245443Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4338949d-01d4-471b-bfbb-922f0ab74ec7
    method: GET
  response:
    body: '{"created_at":"2023-10-02T15:19:32.245443Z","id":"4338949d-01d4-471b-bfbb-922f0ab74ec7","is_default":false,"name":"vpcDocumentDB","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","tags":[],"updated_at":"2023-10-02T15:19:32.245443Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-documentdb-instance-endpoint-migration","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T15:19:32.519577Z","retention":7},"created_at":"2023-10-02T15:19:32.519577Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"53556268-9d4b-4b6c-86b8-c49adc99c2db","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/53556268-9d4b-4b6c-86b8-c49adc99c2db
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T15:19:32.519577Z","retention":7},"created_at":"2023-10-02T15:19:32.519577Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"53556268-9d4b-4b6c-86b8-c49adc99c2db","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-practical-albattani","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":["10.10.64.0/22"],"vpc_id":"4338949d-01d4-471b-bfbb-922f0ab74ec7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-02T15:19:32.726061Z","dhcp_enabled":true,"id":"c9fe565e-d59a-44a6-9a28-a9ca7169f6e6","name":"tf-pn-practical-albattani","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T15:19:32.726061Z","id":"c2d90d04-8016-418e-ba6b-b49f68a296ea","subnet":"10.10.64.0/22","updated_at":"2023-10-02T15:19:32.726061Z"},{"created_at":"2023-10-02T15:19:32.726061Z","id":"76cb4f89-bab6-4e3d-9d85-bd4ad60cb994","subnet":"fdfc:1ffc:be97:731f::/64","updated_at":"2023-10-02T15:19:32.726061Z"}],"tags":[],"updated_at":"2023-10-02T15:19:32.726061Z","vpc_id":"4338949d-01d4-471b-bfbb-922f0ab74ec7"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c9fe565e-d59a-44a6-9a28-a9ca7169f6e6
    method: GET
  response:
    body: '{"created_at":"2023-10-02T15:19:32.726061Z","dhcp_enabled":true,"id":"c9fe565e-d59a-44a6-9a28-a9ca7169f6e6","name":"tf-pn-practical-albattani","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T15:19:32.726061Z","id":"c2d90d04-8016-418e-ba6b-b49f68a296ea","subnet":"10.10.64.0/22","updated_at":"2023-10-02T15:19:32.726061Z"},{"created_at":"2023-10-02T15:19:32.726061Z","id":"76cb4f89-bab6-4e3d-9d85-bd4ad60cb994","subnet":"fdfc:1ffc:be97:731f::/64","updated_at":"2023-10-02T15:19:32.726061Z"}],"tags":[],"updated_at":"2023-10-02T15:19:32.726061Z","vpc_id":"4338949d-01d4-471b-bfbb-922f0ab74ec7"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/53556268-9d4b-4b6c-86b8-c49adc99c2db
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-03T15:19:32.519577Z","retention":7},"created_at":"2023-10-02T15:19:32.519577Z","endpoint":{"id":"9e6189a8-a591-4e66-b88f-cb7139f13864","ip":"51.159.113.128","load_balancer":{},"name":null,"port":15643},"endpoints":[{"id":"9e6189a8-a591-4e66-b88f-cb7139f13864","ip":"51.159.113.128","load_balancer":{},"name":null,"port":15643}],"engine":"FerretDB-1","id":"53556268-9d4b-4b6c-86b8-c49adc99c2db","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"c9fe565e-d59a-44a6-9a28-a9ca7169f6e6","service_ip":"10.10.64.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/53556268-9d4b-4b6c-86b8-c49adc99c2db/endpoints
    method: POST
  response:
    body: '{"id":"0ae16622-2db4-4b75-b9b8-e2d3cdc7bac4","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"c9fe565e-d59a-44a6-9a28-a9ca7169f6e6","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/0ae16622-2db4-4b75-b9b8-e2d3cdc7bac4
    method: GET
  response:
    body: '{"id":"0ae16622-2db4-4b75-b9b8-e2d3cdc7bac4","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"c9fe565e-d59a-44a6-9a28-a9ca7169f6e6","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/53556268-9d4b-4b6c-86b8-c49adc99c2db
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"53556268-9d4b-4b6c-86b8-c49adc99c2db","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
