---
version: 2
interactions:
- request:
    body: '{"name":"vpcDocumentDB","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:30:12.265539Z","id":"cbe77266-237c-4760-a91b-0c526792f27d","is_default":false,"name":"vpcDocumentDB","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-11-16T16:30:12.265539Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cbe77266-237c-4760-a91b-0c526792f27d
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:30:12.265539Z","id":"cbe77266-237c-4760-a91b-0c526792f27d","is_default":false,"name":"vpcDocumentDB","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-11-16T16:30:12.265539Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-documentdb-instance-endpoint-migration","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.510440Z","retention":7},"created_at":"2023-11-16T16:30:12.510440Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b4c09c4c-7ee1-43ee-85dd-fdbee9a36457","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b4c09c4c-7ee1-43ee-85dd-fdbee9a36457
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.510440Z","retention":7},"created_at":"2023-11-16T16:30:12.510440Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b4c09c4c-7ee1-43ee-85dd-fdbee9a36457","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-admiring-feynman","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":["10.10.64.0/22"],"vpc_id":"cbe77266-237c-4760-a91b-0c526792f27d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:30:12.474816Z","dhcp_enabled":true,"id":"0e6e7bad-5f57-43a0-8b48-02dae3e58150","name":"tf-pn-admiring-feynman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:30:12.474816Z","id":"7f41e245-33c7-457d-990b-bec7807fb040","subnet":"10.10.64.0/22","updated_at":"2023-11-16T16:30:12.474816Z"},{"created_at":"2023-11-16T16:30:12.474816Z","id":"18e98594-952e-48e8-b975-2a2cb2671795","subnet":"fd5f:519c:6d46:5eae::/64","updated_at":"2023-11-16T16:30:12.474816Z"}],"tags":[],"updated_at":"2023-11-16T16:30:12.474816Z","vpc_id":"cbe77266-237c-4760-a91b-0c526792f27d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0e6e7bad-5f57-43a0-8b48-02dae3e58150
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:30:12.474816Z","dhcp_enabled":true,"id":"0e6e7bad-5f57-43a0-8b48-02dae3e58150","name":"tf-pn-admiring-feynman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:30:12.474816Z","id":"7f41e245-33c7-457d-990b-bec7807fb040","subnet":"10.10.64.0/22","updated_at":"2023-11-16T16:30:12.474816Z"},{"created_at":"2023-11-16T16:30:12.474816Z","id":"18e98594-952e-48e8-b975-2a2cb2671795","subnet":"fd5f:519c:6d46:5eae::/64","updated_at":"2023-11-16T16:30:12.474816Z"}],"tags":[],"updated_at":"2023-11-16T16:30:12.474816Z","vpc_id":"cbe77266-237c-4760-a91b-0c526792f27d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b4c09c4c-7ee1-43ee-85dd-fdbee9a36457
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.510440Z","retention":7},"created_at":"2023-11-16T16:30:12.510440Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b4c09c4c-7ee1-43ee-85dd-fdbee9a36457","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b4c09c4c-7ee1-43ee-85dd-fdbee9a36457
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:30:12.510440Z","retention":7},"created_at":"2023-11-16T16:30:12.510440Z","endpoint":{"id":"f44c8d85-a47f-4d90-a36f-fe62c07419ad","ip":"51.159.113.173","load_balancer":{},"name":null,"port":17757},"endpoints":[{"id":"f44c8d85-a47f-4d90-a36f-fe62c07419ad","ip":"51.159.113.173","load_balancer":{},"name":null,"port":17757}],"engine":"FerretDB-1","id":"b4c09c4c-7ee1-43ee-85dd-fdbee9a36457","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-documentdb-instance-endpoint-migration","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_documentdb_instance_migration","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"0e6e7bad-5f57-43a0-8b48-02dae3e58150","service_ip":"10.10.64.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b4c09c4c-7ee1-43ee-85dd-fdbee9a36457/endpoints
    method: POST
  response:
    body: '{"id":"1b0fd0c8-0837-4d15-bf78-d0af6fc26c07","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"0e6e7bad-5f57-43a0-8b48-02dae3e58150","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/1b0fd0c8-0837-4d15-bf78-d0af6fc26c07
    method: GET
  response:
    body: '{"id":"1b0fd0c8-0837-4d15-bf78-d0af6fc26c07","ip":"10.10.64.4","name":null,"port":27017,"private_network":{"private_network_id":"0e6e7bad-5f57-43a0-8b48-02dae3e58150","service_ip":"10.10.64.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b4c09c4c-7ee1-43ee-85dd-fdbee9a36457
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"b4c09c4c-7ee1-43ee-85dd-fdbee9a36457","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
