---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_document_db_instance","minimal"],"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:14:08.826198Z","retention":7},"created_at":"2023-09-21T13:14:08.826198Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b2cc5bc1-8290-4fd1-9eb4-aa97c33abfe2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b2cc5bc1-8290-4fd1-9eb4-aa97c33abfe2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:14:08.826198Z","retention":7},"created_at":"2023-09-21T13:14:08.826198Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"b2cc5bc1-8290-4fd1-9eb4-aa97c33abfe2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/b2cc5bc1-8290-4fd1-9eb4-aa97c33abfe2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-09-22T13:14:08.826198Z","retention":7},"created_at":"2023-09-21T13:14:08.826198Z","endpoint":{"id":"23301e12-bdc1-42c5-a9cc-0b643ef5cc17","ip":"51.159.75.175","load_balancer":{},"name":null,"port":17348},"endpoints":[{"id":"23301e12-bdc1-42c5-a9cc-0b643ef5cc17","ip":"51.159.75.175","load_balancer":{},"name":null,"port":17348}],"engine":"FerretDB-1","id":"b2cc5bc1-8290-4fd1-9eb4-aa97c33abfe2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":["terraform-test","scaleway_document_db_instance","minimal"],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"b2cc5bc1-8290-4fd1-9eb4-aa97c33abfe2","endpoint_spec":[{"direct_access":{}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"0cccf414-6e97-4f2b-87ea-fe5eb7b30321","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0cccf414-6e97-4f2b-87ea-fe5eb7b30321
    method: GET
  response:
    body: '{"endpoints":[],"id":"0cccf414-6e97-4f2b-87ea-fe5eb7b30321","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-inspiring-dirac","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-21T13:20:44.705705Z","dhcp_enabled":true,"id":"50096510-9884-4f1b-8b58-62da4104ad33","name":"tf-pn-inspiring-dirac","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-21T13:20:44.705705Z","id":"8ec656ad-1005-4330-ab5a-d50fc32592bb","subnet":"172.16.28.0/22","updated_at":"2023-09-21T13:20:44.705705Z"},{"created_at":"2023-09-21T13:20:44.705705Z","id":"7726470d-1a80-4b79-8f25-df1bf8fabbaf","subnet":"fdfc:1ffc:be97:9503::/64","updated_at":"2023-09-21T13:20:44.705705Z"}],"tags":[],"updated_at":"2023-09-21T13:20:44.705705Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/50096510-9884-4f1b-8b58-62da4104ad33
    method: GET
  response:
    body: '{"created_at":"2023-09-21T13:20:44.705705Z","dhcp_enabled":true,"id":"50096510-9884-4f1b-8b58-62da4104ad33","name":"tf-pn-inspiring-dirac","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-09-21T13:20:44.705705Z","id":"8ec656ad-1005-4330-ab5a-d50fc32592bb","subnet":"172.16.28.0/22","updated_at":"2023-09-21T13:20:44.705705Z"},{"created_at":"2023-09-21T13:20:44.705705Z","id":"7726470d-1a80-4b79-8f25-df1bf8fabbaf","subnet":"fdfc:1ffc:be97:9503::/64","updated_at":"2023-09-21T13:20:44.705705Z"}],"tags":[],"updated_at":"2023-09-21T13:20:44.705705Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/8164b996-591b-4ee3-9860-6e27d4f4d430
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"50096510-9884-4f1b-8b58-62da4104ad33","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0cccf414-6e97-4f2b-87ea-fe5eb7b30321/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"d2b7d4e7-165c-4a59-ae2f-fd31a8ca7165","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"50096510-9884-4f1b-8b58-62da4104ad33","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"0cccf414-6e97-4f2b-87ea-fe5eb7b30321","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/0cccf414-6e97-4f2b-87ea-fe5eb7b30321
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"0cccf414-6e97-4f2b-87ea-fe5eb7b30321","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
