---
version: 1
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.642539Z","retention":7},"created_at":"2023-11-16T16:25:33.642539Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6533fb6e-4e71-40dd-a82d-0f129acb79cb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6533fb6e-4e71-40dd-a82d-0f129acb79cb
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.642539Z","retention":7},"created_at":"2023-11-16T16:25:33.642539Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6533fb6e-4e71-40dd-a82d-0f129acb79cb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6533fb6e-4e71-40dd-a82d-0f129acb79cb
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.642539Z","retention":7},"created_at":"2023-11-16T16:25:33.642539Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6533fb6e-4e71-40dd-a82d-0f129acb79cb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6533fb6e-4e71-40dd-a82d-0f129acb79cb
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:25:33.642539Z","retention":7},"created_at":"2023-11-16T16:25:33.642539Z","endpoint":{"id":"08c7ebe2-d155-4e7d-b9f7-9d0d25f90aff","ip":"51.159.113.173","load_balancer":{},"name":null,"port":9383},"endpoints":[{"id":"08c7ebe2-d155-4e7d-b9f7-9d0d25f90aff","ip":"51.159.113.173","load_balancer":{},"name":null,"port":9383}],"engine":"FerretDB-1","id":"6533fb6e-4e71-40dd-a82d-0f129acb79cb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"6533fb6e-4e71-40dd-a82d-0f129acb79cb","endpoint_spec":[{"direct_access":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"3e7cf8ac-6f3c-426a-a23c-05766e65a675","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/3e7cf8ac-6f3c-426a-a23c-05766e65a675
    method: GET
  response:
    body: '{"endpoints":[],"id":"3e7cf8ac-6f3c-426a-a23c-05766e65a675","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-vigilant-gagarin","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:33:16.144950Z","dhcp_enabled":true,"id":"b5335347-c5af-4001-b0d7-43e0145fcb27","name":"tf-pn-vigilant-gagarin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:33:16.144950Z","id":"88cd5fd7-25d3-4aa5-ba27-638aa053a253","subnet":"172.16.0.0/22","updated_at":"2023-11-16T16:33:16.144950Z"},{"created_at":"2023-11-16T16:33:16.144950Z","id":"a521e815-45cc-4b8a-bf16-c770b07f6fdf","subnet":"fd5f:519c:6d46:c837::/64","updated_at":"2023-11-16T16:33:16.144950Z"}],"tags":[],"updated_at":"2023-11-16T16:33:16.144950Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b5335347-c5af-4001-b0d7-43e0145fcb27
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:33:16.144950Z","dhcp_enabled":true,"id":"b5335347-c5af-4001-b0d7-43e0145fcb27","name":"tf-pn-vigilant-gagarin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:33:16.144950Z","id":"88cd5fd7-25d3-4aa5-ba27-638aa053a253","subnet":"172.16.0.0/22","updated_at":"2023-11-16T16:33:16.144950Z"},{"created_at":"2023-11-16T16:33:16.144950Z","id":"a521e815-45cc-4b8a-bf16-c770b07f6fdf","subnet":"fd5f:519c:6d46:c837::/64","updated_at":"2023-11-16T16:33:16.144950Z"}],"tags":[],"updated_at":"2023-11-16T16:33:16.144950Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/endpoints/a3646799-3578-4011-9819-29dae8c72e5b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"b5335347-c5af-4001-b0d7-43e0145fcb27","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/3e7cf8ac-6f3c-426a-a23c-05766e65a675/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"769162e4-ca9b-4981-8c5f-570cd9f5a814","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"b5335347-c5af-4001-b0d7-43e0145fcb27","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"3e7cf8ac-6f3c-426a-a23c-05766e65a675","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/3e7cf8ac-6f3c-426a-a23c-05766e65a675
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"3e7cf8ac-6f3c-426a-a23c-05766e65a675","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
