---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-document_db-read-replica-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T11:54:23.452440Z","retention":7},"created_at":"2023-10-03T11:54:23.452440Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6b36a0b5-9787-4e47-9e37-cbe897589bda","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-quirky-khorana","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-03T11:54:23.077131Z","dhcp_enabled":true,"id":"04bc5a1a-c670-4a3d-a084-a4c806de35ad","name":"tf-pn-quirky-khorana","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T11:54:23.077131Z","id":"0c8797ca-7a33-4273-a2c4-6bb88e8f3d0e","subnet":"172.16.32.0/22","updated_at":"2023-10-03T11:54:23.077131Z"},{"created_at":"2023-10-03T11:54:23.077131Z","id":"b45ad8df-5ec4-4066-ab19-341494974187","subnet":"fdfc:1ffc:be97:9f9b::/64","updated_at":"2023-10-03T11:54:23.077131Z"}],"tags":[],"updated_at":"2023-10-03T11:54:23.077131Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/04bc5a1a-c670-4a3d-a084-a4c806de35ad
    method: GET
  response:
    body: '{"created_at":"2023-10-03T11:54:23.077131Z","dhcp_enabled":true,"id":"04bc5a1a-c670-4a3d-a084-a4c806de35ad","name":"tf-pn-quirky-khorana","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-03T11:54:23.077131Z","id":"0c8797ca-7a33-4273-a2c4-6bb88e8f3d0e","subnet":"172.16.32.0/22","updated_at":"2023-10-03T11:54:23.077131Z"},{"created_at":"2023-10-03T11:54:23.077131Z","id":"b45ad8df-5ec4-4066-ab19-341494974187","subnet":"fdfc:1ffc:be97:9f9b::/64","updated_at":"2023-10-03T11:54:23.077131Z"}],"tags":[],"updated_at":"2023-10-03T11:54:23.077131Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6b36a0b5-9787-4e47-9e37-cbe897589bda
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T11:54:23.452440Z","retention":7},"created_at":"2023-10-03T11:54:23.452440Z","endpoint":null,"endpoints":[],"engine":"FerretDB-1","id":"6b36a0b5-9787-4e47-9e37-cbe897589bda","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances/6b36a0b5-9787-4e47-9e37-cbe897589bda
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-04T11:54:23.452440Z","retention":7},"created_at":"2023-10-03T11:54:23.452440Z","endpoint":{"id":"d33cf74e-4392-48c9-91d5-324f82818743","ip":"51.159.8.77","load_balancer":{},"name":null,"port":11134},"endpoints":[{"id":"d33cf74e-4392-48c9-91d5-324f82818743","ip":"51.159.8.77","load_balancer":{},"name":null,"port":11134}],"engine":"FerretDB-1","id":"6b36a0b5-9787-4e47-9e37-cbe897589bda","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-document_db-read-replica-basic","node_type":"docdb-play2-pico","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"100"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"size":20000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"6b36a0b5-9787-4e47-9e37-cbe897589bda","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"04bc5a1a-c670-4a3d-a084-a4c806de35ad","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"878a4ffd-edbd-48a5-b187-e94df76a3153","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"04bc5a1a-c670-4a3d-a084-a4c806de35ad","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"454e405c-a5ed-4c27-ba8b-a67f11d38a78","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/454e405c-a5ed-4c27-ba8b-a67f11d38a78
    method: GET
  response:
    body: '{"endpoints":[{"id":"878a4ffd-edbd-48a5-b187-e94df76a3153","ip":"10.12.1.0","name":null,"port":27017,"private_network":{"private_network_id":"04bc5a1a-c670-4a3d-a084-a4c806de35ad","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"454e405c-a5ed-4c27-ba8b-a67f11d38a78","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/read-replicas/454e405c-a5ed-4c27-ba8b-a67f11d38a78
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"454e405c-a5ed-4c27-ba8b-a67f11d38a78","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
