---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-documentdb-instance-endpoint-basic","engine":"FerretDB-1","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"docdb-play2-pico","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"bssd","volume_size":20000000000,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/document-db/v1beta1/regions/fr-par/instances
    method: POST
  response:
    body: '{"details":[{"current":5,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","quota":2,"resource":"rdb_instances"},{"current":5,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","quota":2,"resource":"rdb_instances"}],"message":"quota(s)
      exceeded for this resource","type":"quotas_exceeded"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-02T15:19:33.690091Z","dhcp_enabled":true,"id":"ac69591e-8d8e-415a-ab27-47a468813fdf","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T15:19:33.690091Z","id":"7756c67d-c6de-4173-8f8d-e041b3a32429","subnet":"172.16.32.0/22","updated_at":"2023-10-02T15:19:33.690091Z"},{"created_at":"2023-10-02T15:19:33.690091Z","id":"d0965317-2c17-4ec1-a5fc-56692287dbc8","subnet":"fdfc:1ffc:be97:1388::/64","updated_at":"2023-10-02T15:19:33.690091Z"}],"tags":[],"updated_at":"2023-10-02T15:19:33.690091Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ac69591e-8d8e-415a-ab27-47a468813fdf
    method: GET
  response:
    body: '{"created_at":"2023-10-02T15:19:33.690091Z","dhcp_enabled":true,"id":"ac69591e-8d8e-415a-ab27-47a468813fdf","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-10-02T15:19:33.690091Z","id":"7756c67d-c6de-4173-8f8d-e041b3a32429","subnet":"172.16.32.0/22","updated_at":"2023-10-02T15:19:33.690091Z"},{"created_at":"2023-10-02T15:19:33.690091Z","id":"d0965317-2c17-4ec1-a5fc-56692287dbc8","subnet":"fdfc:1ffc:be97:1388::/64","updated_at":"2023-10-02T15:19:33.690091Z"}],"tags":[],"updated_at":"2023-10-02T15:19:33.690091Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
