---
version: 1
interactions:
- request:
    body: '{"changes":[{"add":{"records":[{"data":"xxx.scw.cloud","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"8488e16a-c627-4230-af7b-5ece841e51f5","data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic-cname.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"test-basic-cname","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-09-28T07:50:44Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"8488e16a-c627-4230-af7b-5ece841e51f5","data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=8488e16a-c627-4230-af7b-5ece841e51f5&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"8488e16a-c627-4230-af7b-5ece841e51f5","data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"total_count":3,"records":[{"id":"f9881e69-53ce-4c2c-ae60-3f4fbf8bcc4a","data":"ns1.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"468d9df7-fc88-4f82-ba33-a8b817676de7","data":"ns0.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"8488e16a-c627-4230-af7b-5ece841e51f5","data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records?id=8488e16a-c627-4230-af7b-5ece841e51f5&name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"8488e16a-c627-4230-af7b-5ece841e51f5","data":"xxx.scw.cloud.test-basic-cname.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"set":{"id":"8488e16a-c627-4230-af7b-5ece841e51f5","records":[{"data":"yyy.scw.cloud","name":"tf","priority":0,"ttl":0,"type":"unknown","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"8488e16a-c627-4230-af7b-5ece841e51f5","data":"yyy.scw.cloud.test-basic-cname.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"8488e16a-c627-4230-af7b-5ece841e51f5"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic-cname.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
