---
version: 1
interactions:
- request:
    body: '{"changes":[{"add":{"records":[{"data":"xxx.scw.cloud","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3","data":"xxx.scw.cloud.test-basic.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"test-basic","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-09-21T12:11:22Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3","data":"xxx.scw.cloud.test-basic.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=ee9044b3-dc8a-4f96-85ac-3f50115d60f3&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3","data":"xxx.scw.cloud.test-basic.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"total_count":3,"records":[{"id":"22e56e79-9bcb-4cfb-b3b6-95c0addf6456","data":"ns1.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"8ab021d9-1a87-4584-8942-e42d08f59f0c","data":"ns0.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3","data":"xxx.scw.cloud.test-basic.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=ee9044b3-dc8a-4f96-85ac-3f50115d60f3&name=tf&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3","data":"xxx.scw.cloud.test-basic.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"set":{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3","records":[{"data":"yyy.scw.cloud","name":"tf","priority":0,"ttl":0,"type":"unknown","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3","data":"yyy.scw.cloud.test-basic.scaleway-terraform.com.","name":"tf","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"ee9044b3-dc8a-4f96-85ac-3f50115d60f3"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
