---
version: 1
interactions:
- request:
    body: '{"changes":[{"add":{"records":[{"data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"190483d8-fae1-4f67-a3a6-e7b56ad83faa","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"test-basic","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-04-22T10:56:50Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"190483d8-fae1-4f67-a3a6-e7b56ad83faa","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=190483d8-fae1-4f67-a3a6-e7b56ad83faa&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"190483d8-fae1-4f67-a3a6-e7b56ad83faa","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"201ef2bf-85cf-4baa-bda7-7976104c11ee","data":"\"v=DMARC1;
      p=quarantine; adkim=s\"","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: '{"total_count":2,"records":[{"id":"fe882db2-cb26-46b3-9db1-68a7f5d69463","data":"0
      mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null},{"id":"44926300-7f50-4d97-a312-331fb3bd72e5","data":"10
      feedback-smtp.eu-west-1.amazonses.com.","name":"","priority":10,"ttl":300,"type":"MX","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"total_count":6,"records":[{"id":"a668a980-8c17-46f2-94e4-51054f1e8834","data":"ns0.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"7675c54f-f611-4941-ad40-53e747b3ee73","data":"ns1.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"190483d8-fae1-4f67-a3a6-e7b56ad83faa","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null},{"id":"fe882db2-cb26-46b3-9db1-68a7f5d69463","data":"0
      mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null},{"id":"44926300-7f50-4d97-a312-331fb3bd72e5","data":"10
      feedback-smtp.eu-west-1.amazonses.com.","name":"","priority":10,"ttl":300,"type":"MX","comment":null},{"id":"201ef2bf-85cf-4baa-bda7-7976104c11ee","data":"\"v=DMARC1;
      p=quarantine; adkim=s\"","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=44926300-7f50-4d97-a312-331fb3bd72e5&name=&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"44926300-7f50-4d97-a312-331fb3bd72e5","data":"10
      feedback-smtp.eu-west-1.amazonses.com.","name":"","priority":10,"ttl":300,"type":"MX","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=190483d8-fae1-4f67-a3a6-e7b56ad83faa&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"190483d8-fae1-4f67-a3a6-e7b56ad83faa","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records?id=201ef2bf-85cf-4baa-bda7-7976104c11ee&name=_dmarc&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"201ef2bf-85cf-4baa-bda7-7976104c11ee","data":"\"v=DMARC1;
      p=quarantine; adkim=s\"","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"190483d8-fae1-4f67-a3a6-e7b56ad83faa"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
