---
version: 1
interactions:
- request:
    body: '{"changes":[{"add":{"records":[{"data":"0 mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"3d721c80-3fa6-43cb-9829-59e43445ef23","data":"0 mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-basic2.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"test-basic2","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-06-07T13:19:42Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: '{"total_count":2,"records":[{"id":"7fe779ac-62e5-45ac-8fa7-0cd33d27a130","data":"10
      feedback-smtp.eu-west-1.amazonses.com.","name":"","priority":10,"ttl":300,"type":"MX","comment":null},{"id":"3d721c80-3fa6-43cb-9829-59e43445ef23","data":"0
      mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=_dmarc&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"fc790cb9-1a9c-4daf-be3f-41d505259fa4","data":"\"v=DMARC1;
      p=quarantine; adkim=s\"","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=3d721c80-3fa6-43cb-9829-59e43445ef23&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"3d721c80-3fa6-43cb-9829-59e43445ef23","data":"0
      mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"75a481aa-3c3b-44cd-af8e-f35cf67bc7fd","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"total_count":6,"records":[{"id":"7fe779ac-62e5-45ac-8fa7-0cd33d27a130","data":"10
      feedback-smtp.eu-west-1.amazonses.com.","name":"","priority":10,"ttl":300,"type":"MX","comment":null},{"id":"75a481aa-3c3b-44cd-af8e-f35cf67bc7fd","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null},{"id":"3d721c80-3fa6-43cb-9829-59e43445ef23","data":"0
      mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null},{"id":"11f0a7c0-8072-402b-8e96-8b197a3e130a","data":"ns0.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"efca7259-0c9f-42c1-b1dc-15f5bd93729b","data":"ns1.dom.scw.cloud.","name":"","priority":0,"ttl":600,"type":"NS","comment":null},{"id":"fc790cb9-1a9c-4daf-be3f-41d505259fa4","data":"\"v=DMARC1;
      p=quarantine; adkim=s\"","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=3d721c80-3fa6-43cb-9829-59e43445ef23&name=&order_by=name_asc&page=1&type=MX
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"3d721c80-3fa6-43cb-9829-59e43445ef23","data":"0
      mail.scaleway.com.","name":"","priority":0,"ttl":300,"type":"MX","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=fc790cb9-1a9c-4daf-be3f-41d505259fa4&name=_dmarc&order_by=name_asc&page=1&type=TXT
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"fc790cb9-1a9c-4daf-be3f-41d505259fa4","data":"\"v=DMARC1;
      p=quarantine; adkim=s\"","name":"_dmarc","priority":0,"ttl":3600,"type":"TXT","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records?id=75a481aa-3c3b-44cd-af8e-f35cf67bc7fd&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"75a481aa-3c3b-44cd-af8e-f35cf67bc7fd","data":"127.0.0.1","name":"","priority":0,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"fc790cb9-1a9c-4daf-be3f-41d505259fa4"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-basic2.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
