---
version: 1
interactions:
- request:
    body: '{"changes":[{"add":{"records":[{"data":"127.0.0.5","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","comment":null,"weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?id=8558bd31-ba16-4627-a644-136f7a9ff6a9&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-weighted.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"test-weighted","updated_at":"2023-07-28T09:33:37Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns1.dom.scw.cloud.","id":"f3f3e777-3d56-49c6-ac51-cda56f316787","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns0.dom.scw.cloud.","id":"b5e84375-1ddd-4152-971b-ce71f5f2bee8","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?id=8558bd31-ba16-4627-a644-136f7a9ff6a9&name=tf_weighted&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":1},{"ip":"4.3.2.1","weight":2}]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"set":{"id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","records":[{"data":"","name":"tf_weighted","priority":0,"ttl":0,"type":"unknown","comment":null,"weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":2},{"ip":"4.3.2.1","weight":1},{"ip":"5.6.7.8","weight":999}]},"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":2},{"ip":"4.3.2.1","weight":1},{"ip":"5.6.7.8","weight":999}]}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records?name=tf_weighted&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"127.0.0.5","id":"8558bd31-ba16-4627-a644-136f7a9ff6a9","name":"tf_weighted","priority":0,"ttl":3600,"type":"A","weighted_config":{"weighted_ips":[{"ip":"1.2.3.4","weight":2},{"ip":"4.3.2.1","weight":1},{"ip":"5.6.7.8","weight":999}]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"8558bd31-ba16-4627-a644-136f7a9ff6a9"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-weighted.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"test-weighted","updated_at":"2023-07-28T09:33:41Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-weighted.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
