---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"id":"2092e86f-e601-43f8-84d3-9a1769d8fc08","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:01:57.952440045Z","created_at":"2021-07-21T08:31:17.423965Z","status":"ready","tags":[],"ip_address":"51.159.124.50","server_id":null,"reverse":"51-159-124-50.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/2092e86f-e601-43f8-84d3-9a1769d8fc08
    method: GET
  response:
    body: '{"id":"2092e86f-e601-43f8-84d3-9a1769d8fc08","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:01:57.952440Z","created_at":"2021-07-21T08:31:17.423965Z","status":"ready","tags":[],"ip_address":"51.159.124.50","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/2092e86f-e601-43f8-84d3-9a1769d8fc08
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips
    method: POST
  response:
    body: '{"id":"589ba78f-0b70-4879-a9fd-561b10aed398","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:02:00.635277394Z","created_at":"2021-10-08T13:32:13.968638Z","status":"ready","tags":[],"ip_address":"51.158.194.13","server_id":null,"reverse":"51-158-194-13.rev.poneytelecom.eu.","mac_address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips/589ba78f-0b70-4879-a9fd-561b10aed398
    method: GET
  response:
    body: '{"id":"589ba78f-0b70-4879-a9fd-561b10aed398","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:02:00.635277Z","created_at":"2021-10-08T13:32:13.968638Z","status":"ready","tags":[],"ip_address":"51.158.194.13","server_id":null,"reverse":"","mac_address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
