---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-10T08:34:55.863355087Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/504345eb-00d7-4162-a92b-e69beb30eb5e
    method: GET
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-10T08:34:55.863355Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"mac_type":"kvm"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/504345eb-00d7-4162-a92b-e69beb30eb5e/mac
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":{"created_at":"2023-08-10T08:34:56.105251104Z","id":"6e4e3af0-5244-4841-b98d-f91fe21e8c41","mac_address":"52:54:00:45:1a:c8","mac_type":"kvm","status":"ready","updated_at":"2023-08-10T08:34:56.108275714Z","zone":"fr-par-1"},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-10T08:34:56.110184389Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/6e4e3af0-5244-4841-b98d-f91fe21e8c41/mac
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"flexible_ips","resource_id":"6e4e3af0-5244-4841-b98d-f91fe21e8c41","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/504345eb-00d7-4162-a92b-e69beb30eb5e
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
