---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips
    method: POST
  response:
    body: '{"id":"7e209824-70d8-430f-96ed-f66fde18bc42","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-06-20T14:38:58.287930625Z","created_at":"2022-04-04T13:12:47.055078Z","status":"ready","tags":[],"ip_address":"51.159.199.208","server_id":null,"reverse":"51-159-199-208.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips/7e209824-70d8-430f-96ed-f66fde18bc42
    method: GET
  response:
    body: '{"id":"7e209824-70d8-430f-96ed-f66fde18bc42","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-06-20T14:38:58.287931Z","created_at":"2022-04-04T13:12:47.055078Z","status":"ready","tags":[],"ip_address":"51.159.199.208","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"TestAccScalewayBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"44ac4a19-8e72-4198-91fe-d2e54aced68a","name":"TestAccScalewayBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-20T14:38:59.902970Z","updated_at":"2022-06-20T14:38:59.902970Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/44ac4a19-8e72-4198-91fe-d2e54aced68a
    method: GET
  response:
    body: '{"id":"44ac4a19-8e72-4198-91fe-d2e54aced68a","name":"TestAccScalewayBaremetalServer_Basic","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-20T14:38:59.902970Z","updated_at":"2022-06-20T14:38:59.902970Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":14,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price_per_hour":{"currency_code":"EUR","units":0,"nanos":111000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["b4816d13-8585-4005-a7c7-54a031dd933b","ac5cc157-caee-406a-ae0a-a28d7c30389a","bf705b90-1548-4368-98ca-d17dbd8dd860","7fb86682-316e-4f6e-a845-de9b230cdd29","7e865c16-1a63-4dc7-8181-dabc020fc21b","a47ccf6f-1990-4488-8f64-332a6da3ef84","3422ae02-d6d7-4980-8a00-eb38c262fb41","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","5dfefb70-053e-4ba8-9d76-537b230db94e","39176c6e-509d-4e6c-8e42-417d103f4579","3ea52186-1e57-499e-8146-ab38051a5c10","bd17a2bb-e686-486a-aacf-44fa8ce6e553","01d6eef6-6b96-47fd-b9f9-3857321abe4f","7c70ff80-dbfa-4e07-be73-1de0e60fe175"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000"},{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":16,"nanos":500000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":107,"nanos":250000000},"enabled":false,"subscription_period":"monthly","managea[...]
- request:
    body: '{"offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_Basic2","description":"test
      a description","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"8e2ca626-47f1-48ec-b453-f77a18a0a361","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_Basic2","description":"test
      a description","updated_at":"2022-06-20T14:39:00.442132Z","created_at":"2022-06-20T14:39:00.442132Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8e2ca626-47f1-48ec-b453-f77a18a0a361
    method: GET
  response:
    body: '{"id":"8e2ca626-47f1-48ec-b453-f77a18a0a361","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_Basic2","description":"test
      a description","updated_at":"2022-06-20T14:39:00.442132Z","created_at":"2022-06-20T14:39:00.442132Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8e2ca626-47f1-48ec-b453-f77a18a0a361
    method: GET
  response:
    body: '{"id":"8e2ca626-47f1-48ec-b453-f77a18a0a361","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_Basic2","description":"test
      a description","updated_at":"2022-06-20T14:40:22.419298Z","created_at":"2022-06-20T14:39:00.442132Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[{"id":"7de4a60e-e427-441f-8ca9-db1f8320155d","address":"51.159.194.234","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""},{"id":"9ca961ca-ef57-4b27-a9a7-e438eb5abc00","address":"2001:0bc8:1201:0510:da5e:d3ff:fe6c:7457","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_Basic2","ssh_key_ids":["44ac4a19-8e72-4198-91fe-d2e54aced68a"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8e2ca626-47f1-48ec-b453-f77a18a0a361/install
    method: POST
  response:
    body: '{"id":"8e2ca626-47f1-48ec-b453-f77a18a0a361","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayBaremetalServer_Basic2","description":"test
      a description","updated_at":"2022-06-20T14:40:22.419298Z","created_at":"2022-06-20T14:39:00.442132Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayBaremetalServer_Basic2","ssh_key_ids":["44ac4a19-8e72-4198-91fe-d2e54aced68a"],"status":"to_install","user":"ubuntu","service_user":"","service_url":""},"tags":[],"ips":[{"id":"7de4a60e-e427-441f-8ca9-db1f8320155d","address":"51.159.194.234","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""},{"id":"9ca961ca-ef57-4b27-a9a7-e438eb5abc00","address":"2001:0bc8:1201:0510:da5e:d3ff:fe6c:7457","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/25dcf38b-c90c-4b18-97a2-6956e9d1e113
    method: GET
  response:
    body: '{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"t[...]
[...]
- request:
    body: '{"fips_ids":["7e209824-70d8-430f-96ed-f66fde18bc42"],"server_id":"8e2ca626-47f1-48ec-b453-f77a18a0a361"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips/attach
    method: POST
  response:
    body: '{"total_count":1,"flexible_ips":[{"id":"7e209824-70d8-430f-96ed-f66fde18bc42","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-06-20T15:06:24.810064197Z","created_at":"2022-04-04T13:12:47.055078Z","status":"updating","tags":[],"ip_address":"51.159.199.208","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-2"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/8e2ca626-47f1-48ec-b453-f77a18a0a361
    method: GET
  response:
    body: '{"message":"Server not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"fips_ids":["7e209824-70d8-430f-96ed-f66fde18bc42"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips/detach
    method: POST
  response:
    body: '{"message":"Internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips/7e209824-70d8-430f-96ed-f66fde18bc42
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
