---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips
    method: POST
  response:
    body: '{"created_at":"2022-11-08T17:18:15.555797Z","description":"","id":"96229ab4-52cc-47a1-99a3-c2100a496722","ip_address":"62.210.103.175","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"62-210-103-175.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2022-12-12T16:04:55.805115253Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips/96229ab4-52cc-47a1-99a3-c2100a496722
    method: GET
  response:
    body: '{"created_at":"2022-11-08T17:18:15.555797Z","description":"","id":"96229ab4-52cc-47a1-99a3-c2100a496722","ip_address":"62.210.103.175","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"","server_id":null,"status":"ready","tags":[],"updated_at":"2022-12-12T16:04:55.805115Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"os":[{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"},{"enabled":true,"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"offers":[{"bandwidth":1000000000,"commercial_range":"aluminium","cpus":[{"benchmark":"","core_count":6,"frequency":3600,"name":"AMD
      Ryzen PRO 3600","thread_count":12}],"disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","incompatible_os_ids":["7e865c16-1a63-4dc7-8181-dabc020fc21b","b4816d13-8585-4005-a7c7-54a031dd933b","ac5cc157-caee-406a-ae0a-a28d7c30389a","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","bf705b90-1548-4368-98ca-d17dbd8dd860","7fb86682-316e-4f6e-a845-de9b230cdd29","a47ccf6f-1990-4488-8f64-332a6da3ef84","01d6eef6-6b96-47fd-b9f9-3857321abe4f","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","5dfefb70-053e-4ba8-9d76-537b230db94e","7c70ff80-dbfa-4e07-be73-1de0e60fe175","39176c6e-509d-4e6c-8e42-417d103f4579","3ea52186-1e57-499e-8146-ab38051a5c10","bd17a2bb-e686-486a-aacf-44fa8ce6e553","3422ae02-d6d7-4980-8a00-eb38c262fb41"],"memories":[{"capacity":16000000000,"frequency":3200,"is_ecc":true,"type":"DDR4"}],"name":"EM-A210R-HDD","operation_path":"","options":[{"enabled":false,"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","manageable":false,"name":"Windows
      2019 standard","os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175","price":{"currency_code":"EUR","nanos":500000000,"units":16},"subscription_period":"monthly"},{"enabled":false,"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","manageable":true,"name":"Private
      Network","os_id":"00000000-0000-0000-0000-000000000000","price":{"currency_code":"EUR","nanos":30000000,"units":0},"subscription_period":"hourly"},{"enabled":false,"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","manageable":false,"name":"Windows
      2019 datacenter","os_id":"e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","price":{"currency_code":"EUR","nanos":250000000,"units":107},"subscription_period":"monthly"},{"enabled":false,"id":"c498071f-4f8d-49f3-bc52-afc219a48fe0","manageable":false,"name":"Windows
      2022 datacenter","os_id":"3422ae02-d6d7-4980-8a00-eb38c262fb41","price":{"currency_code":"EUR","nanos":250000000,"units":107},"subscription_period":"monthly"},{"enabled":false,"id":"83a8fb91-47b4-4c20-82f9-84c31d79bfd8","manageable":false,"name":"Windows
      2022 standard","os_id":"bf705b90-1548-4368-98ca-d17dbd8dd860","price":{"currency_code":"EUR","nanos":500000000,"units":16},"subscription_period":"monthly"}],"persistent_memories":[],"price_per_hour":{"currency_code":"EUR","nanos":122000000,"units":0},"price_per_month":null,"quota_name":"EM_A210R_SATA","raid_controllers":[],"stock":"available","subscription_period":"hourly"},{"bandwidth":1000000000,"commercial_range":"lithium","cpus":[{"benchmark":"","core_count":4,"frequency":2800,"name":"Intel
      Xeon E5 1410 v2","thread_count":8}],"disks":[{"capacity":6000000000000,"type":"HDD"},{"capacity":6000000000000,"type":"HDD"}],"enable":true,"fee":{"currency_code":"EUR","nanos":0,"units":0},"id":"bd757ca3-a71b-4158-9ef5-39436b6db2a4","incompatible_os_ids":[],"memories":[{"capacity":96000000000,"frequency":1600,"is_ecc":true,"[...]
[...]
- request:
    body: '{"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2022-12-12T16:04:57.750150Z","creation_info":{"address":"","country_code":"","user_agent":""},"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"c88d3989-3cff-4306-8050-a21bf05760c8","name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2022-12-12T16:04:57.750150Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/c88d3989-3cff-4306-8050-a21bf05760c8
    method: GET
  response:
    body: '{"created_at":"2022-12-12T16:04:57.750150Z","creation_info":{"address":"","country_code":"","user_agent":""},"fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","id":"c88d3989-3cff-4306-8050-a21bf05760c8","name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","updated_at":"2022-12-12T16:04:57.750150Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os/96e5f0f2-d216-4de2-8a15-68730d877885
    method: GET
  response:
    body: '{"enabled":true,"id":"96e5f0f2-d216-4de2-8a15-68730d877885","license_required":false,"logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","name":"Ubuntu","password":{"default_value":null,"editable":false,"required":false},"service_password":{"default_value":null,"editable":false,"required":false},"service_user":{"default_value":null,"editable":false,"required":false},"ssh":{"default_value":null,"editable":false,"required":true},"user":{"default_value":"ubuntu","editable":false,"required":false},"version":"22.04
      LTS (Jammy Jellyfish)"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2022-12-12T16:04:58.217638Z","description":"","domain":"","id":"2188797e-d21e-41d5-b50f-6f3164cfe807","install":null,"ips":[],"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","offer_name":"EM-A210R-HDD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2022-12-12T16:04:58.217638Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/2188797e-d21e-41d5-b50f-6f3164cfe807
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2022-12-12T16:04:58.217638Z","description":"","domain":"","id":"2188797e-d21e-41d5-b50f-6f3164cfe807","install":null,"ips":[],"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","offer_name":"EM-A210R-HDD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"delivering","tags":[],"updated_at":"2022-12-12T16:04:58.217638Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/2188797e-d21e-41d5-b50f-6f3164cfe807
    method: GET
  response:
    body: '{"boot_type":"normal","created_at":"2022-12-12T16:04:58.217638Z","description":"","domain":"2188797e-d21e-41d5-b50f-6f3164cfe807.fr-par-2.baremetal.scw.cloud","id":"2188797e-d21e-41d5-b50f-6f3164cfe807","install":null,"ips":[{"address":"51.159.195.101","id":"39c60311-2075-4a1f-b517-16ae0adeb20a","reverse":"2188797e-d21e-41d5-b50f-6f3164cfe807.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"},{"address":"2001:0bc8:1201:0516:da5e:d3ff:fe6c:8269","id":"f431b39d-621c-4b22-94a7-01025bf7414e","reverse":"2188797e-d21e-41d5-b50f-6f3164cfe807.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","offer_name":"EM-A210R-HDD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_unknown","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2022-12-12T16:05:20.571195Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","ssh_key_ids":["c88d3989-3cff-4306-8050-a21bf05760c8"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/2188797e-d21e-41d5-b50f-6f3164cfe807/install
    method: POST
  response:
    body: '{"boot_type":"normal","created_at":"2022-12-12T16:04:58.217638Z","description":"","domain":"2188797e-d21e-41d5-b50f-6f3164cfe807.fr-par-2.baremetal.scw.cloud","id":"2188797e-d21e-41d5-b50f-6f3164cfe807","install":{"hostname":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","service_url":"","service_user":"","ssh_key_ids":["c88d3989-3cff-4306-8050-a21bf05760c8"],"status":"to_install","user":"ubuntu"},"ips":[{"address":"51.159.195.101","id":"39c60311-2075-4a1f-b517-16ae0adeb20a","reverse":"2188797e-d21e-41d5-b50f-6f3164cfe807.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv4"},{"address":"2001:0bc8:1201:0516:da5e:d3ff:fe6c:8269","id":"f431b39d-621c-4b22-94a7-01025bf7414e","reverse":"2188797e-d21e-41d5-b50f-6f3164cfe807.fr-par-2.baremetal.scw.cloud","reverse_status":"pending","reverse_status_message":"","version":"IPv6"}],"name":"TestAccScalewayFlexibleIP_AttachAndDetachFromBaremetalServer","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","offer_name":"EM-A210R-HDD","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ping_status":"ping_status_up","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","rescue_server":null,"status":"ready","tags":[],"updated_at":"2022-12-12T16:05:20.571195Z","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
