---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":[],"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2023-11-09T14:19:39.103712Z","description":"","id":"32d2070c-3106-41db-a9dd-714d2ab62b77","ip_address":"62.210.142.201","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-201.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:00.902019502Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/32d2070c-3106-41db-a9dd-714d2ab62b77
    method: GET
  response:
    body: '{"created_at":"2023-11-09T14:19:39.103712Z","description":"","id":"32d2070c-3106-41db-a9dd-714d2ab62b77","ip_address":"62.210.142.201","mac_address":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"62-210-142-201.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2024-02-13T13:11:00.902020Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/32d2070c-3106-41db-a9dd-714d2ab62b77
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
