---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips
    method: POST
  response:
    body: '{"id":"92c306d5-803a-4eb7-ac56-fbe036ed6d36","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:01:57.938365089Z","created_at":"2022-04-04T13:12:40.026411Z","status":"ready","tags":[],"ip_address":"51.159.197.87","server_id":null,"reverse":"51-159-197-87.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips/92c306d5-803a-4eb7-ac56-fbe036ed6d36
    method: GET
  response:
    body: '{"id":"92c306d5-803a-4eb7-ac56-fbe036ed6d36","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:01:57.938365Z","created_at":"2022-04-04T13:12:40.026411Z","status":"ready","tags":[],"ip_address":"51.159.197.87","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/os?page=1
    method: GET
  response:
    body: '{"total_count":20,"os":[{"id":"96e5f0f2-d216-4de2-8a15-68730d877885","name":"Ubuntu","version":"22.04
      LTS (Jammy Jellyfish)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":false,"default_value":null},"enabled":true},{"id":"03b7f4ba-a6a1-4305-984e-b54fafbf1681","name":"Ubuntu","version":"20.04
      LTS (Focal Fossa)","logo_url":"https://baremetal-logos-fr.s3.fr-par.scw.cloud/ubuntu.png","ssh":{"editable":false,"required":true,"default_value":null},"user":{"editable":false,"required":false,"default_value":"ubuntu"},"password":{"editable":false,"required":false,"default_value":null},"service_user":{"editable":false,"required":false,"default_value":null},"service_password":{"editable":false,"required":fa[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers?page=1&subscription_period=unknown_subscription_period
    method: GET
  response:
    body: '{"total_count":13,"offers":[{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"thread_count":12,"frequency":3600}],"memories":[{"capacity":16000000000,"type":"DDR4","frequency":3200,"is_ecc":true}],"quota_name":"EM_A210R_SATA","price_per_hour":{"currency_code":"EUR","units":0,"nanos":111000000},"price_per_month":null,"persistent_memories":[],"raid_controllers":[],"incompatible_os_ids":["7fb86682-316e-4f6e-a845-de9b230cdd29","b4816d13-8585-4005-a7c7-54a031dd933b","a47ccf6f-1990-4488-8f64-332a6da3ef84","e04414b9-16d4-4ffb-8ba1-6b80704c7d2a","39176c6e-509d-4e6c-8e42-417d103f4579","3ea52186-1e57-499e-8146-ab38051a5c10","bd17a2bb-e686-486a-aacf-44fa8ce6e553","bf705b90-1548-4368-98ca-d17dbd8dd860","01d6eef6-6b96-47fd-b9f9-3857321abe4f","52a2423a-3fbc-4fc0-8ac6-91735a2aa47d","7e865c16-1a63-4dc7-8181-dabc020fc21b","7c70ff80-dbfa-4e07-be73-1de0e60fe175","5dfefb70-053e-4ba8-9d76-537b230db94e","ac5cc157-caee-406a-ae0a-a28d7c30389a","3422ae02-d6d7-4980-8a00-eb38c262fb41"],"subscription_period":"hourly","operation_path":"","fee":{"currency_code":"EUR","units":0,"nanos":0},"options":[{"id":"f42a040b-6c91-4b11-beb0-b0b21e641fda","name":"Windows
      2019 standard","price":{"currency_code":"EUR","units":16,"nanos":500000000},"enabled":false,"subscription_period":"monthly","manageable":false,"os_id":"7c70ff80-dbfa-4e07-be73-1de0e60fe175"},{"id":"cd4158d7-2d65-49be-8803-c4b8ab6f760c","name":"Private
      Network","price":{"currency_code":"EUR","units":0,"nanos":30000000},"enabled":false,"subscription_period":"hourly","manageable":true,"os_id":"00000000-0000-0000-0000-000000000000"},{"id":"f74a6322-070e-41dd-a13f-8165ea63aca8","name":"Windows
      2019 datacenter","price":{"currency_code":"EUR","units":107,"nanos":250000000},"enabled":false,"subscription_period":"monthly","manageable":false[...]
[...]
- request:
    body: '{"name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"1b132479-dcc9-43cd-a208-c29bf5ee48ec","name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-08-30T12:02:00.960445Z","updated_at":"2022-08-30T12:02:00.960445Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/1b132479-dcc9-43cd-a208-c29bf5ee48ec
    method: GET
  response:
    body: '{"id":"1b132479-dcc9-43cd-a208-c29bf5ee48ec","name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIM7HUxRyQtB2rnlhQUcbDGCZcTJg7OvoznOiyC9W6IxH opensource@scaleway.com","fingerprint":"256
      MD5:17:d1:55:c9:1b:be:f2:b2:9a:92:33:d6:ac:16:de:41 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-08-30T12:02:00.960445Z","updated_at":"2022-08-30T12:02:00.960445Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","description":"","tags":null,"install":null,"option_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"id":"ed63f683-1ef2-44e3-ae54-fb85fd37cf81","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","description":"","updated_at":"2022-08-30T12:02:01.338997Z","created_at":"2022-08-30T12:02:01.338997Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ed63f683-1ef2-44e3-ae54-fb85fd37cf81
    method: GET
  response:
    body: '{"id":"ed63f683-1ef2-44e3-ae54-fb85fd37cf81","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","description":"","updated_at":"2022-08-30T12:02:01.338997Z","created_at":"2022-08-30T12:02:01.338997Z","status":"delivering","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ed63f683-1ef2-44e3-ae54-fb85fd37cf81
    method: GET
  response:
    body: '{"id":"ed63f683-1ef2-44e3-ae54-fb85fd37cf81","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","description":"","updated_at":"2022-08-30T12:05:25.638675Z","created_at":"2022-08-30T12:02:01.338997Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":null,"tags":[],"ips":[{"id":"55702e60-7239-4304-a711-a918feb576c8","address":"2001:0bc8:1201:050a:da5e:d3ff:fe6c:7715","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"7bf5647b-1f8b-459b-ac92-20e09bf3a6cf","address":"51.159.107.246","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","ssh_key_ids":["1b132479-dcc9-43cd-a208-c29bf5ee48ec"],"user":null,"password":null,"service_user":null,"service_password":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/servers/ed63f683-1ef2-44e3-ae54-fb85fd37cf81/install
    method: POST
  response:
    body: '{"id":"ed63f683-1ef2-44e3-ae54-fb85fd37cf81","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","description":"","updated_at":"2022-08-30T12:05:25.638675Z","created_at":"2022-08-30T12:02:01.338997Z","status":"ready","offer_id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","install":{"os_id":"96e5f0f2-d216-4de2-8a15-68730d877885","hostname":"TestAccScalewayFlexibleIP_CreateAndAttachToBaremetalServer","ssh_key_ids":["1b132479-dcc9-43cd-a208-c29bf5ee48ec"],"status":"to_install","user":"ubuntu","service_user":"","service_url":""},"tags":[],"ips":[{"id":"55702e60-7239-4304-a711-a918feb576c8","address":"2001:0bc8:1201:050a:da5e:d3ff:fe6c:7715","reverse":"","version":"IPv6","reverse_status":"unknown","reverse_status_message":""},{"id":"7bf5647b-1f8b-459b-ac92-20e09bf3a6cf","address":"51.159.107.246","reverse":"","version":"IPv4","reverse_status":"unknown","reverse_status_message":""}],"domain":"","boot_type":"normal","ping_status":"ping_status_unknown","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","options":[],"offer_name":"EM-A210R-HDD","rescue_server":null,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/baremetal/v1/zones/fr-par-2/offers/25dcf38b-c90c-4b18-97a2-6956e9d1e113
    method: GET
  response:
    body: '{"id":"25dcf38b-c90c-4b18-97a2-6956e9d1e113","name":"EM-A210R-HDD","stock":"available","bandwidth":1000000000,"commercial_range":"aluminium","disks":[{"capacity":1000000000000,"type":"HDD"},{"capacity":1000000000000,"type":"HDD"}],"enable":true,"cpus":[{"name":"AMD
      Ryzen PRO 3600","core_count":6,"t[...]
[...]
- request:
    body: '{"fips_ids":["92c306d5-803a-4eb7-ac56-fbe036ed6d36"],"server_id":"ed63f683-1ef2-44e3-ae54-fb85fd37cf81"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-2/fips/attach
    method: POST
  response:
    body: '{"total_count":1,"flexible_ips":[{"id":"92c306d5-803a-4eb7-ac56-fbe036ed6d36","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:38:38.467203212Z","created_at":"2022-04-04T13:12:40.026411Z","status":"updating","tags":[],"ip_address":"51.159.197.87","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-2"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
