---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T07:02:31.246385672Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/504345eb-00d7-4162-a92b-e69beb30eb5e
    method: GET
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T07:02:31.246386Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"mac_type":"kvm"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/4e673cfd-4848-4bb6-a5f6-964af9077617/mac
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.640527Z","description":"","id":"4e673cfd-4848-4bb6-a5f6-964af9077617","ip_address":"51.159.124.65","mac_address":{"created_at":"2023-08-11T07:02:31.723875585Z","id":"701ec3e0-9121-4269-8a71-2f6ca627741c","mac_address":"52:54:00:67:ac:d2","mac_type":"kvm","status":"ready","updated_at":"2023-08-11T07:02:31.726453178Z","zone":"fr-par-1"},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-65.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T07:02:31.728728369Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dst_fip_id":"504345eb-00d7-4162-a92b-e69beb30eb5e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/4e673cfd-4848-4bb6-a5f6-964af9077617/mac/move
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:17.409780Z","description":"","id":"504345eb-00d7-4162-a92b-e69beb30eb5e","ip_address":"51.159.124.49","mac_address":{"created_at":"2023-08-11T07:02:31.723876Z","id":"701ec3e0-9121-4269-8a71-2f6ca627741c","mac_address":"52:54:00:67:ac:d2","mac_type":"kvm","status":"ready","updated_at":"2023-08-11T07:02:34.206821178Z","zone":"fr-par-1"},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-49.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-11T07:02:34.208470999Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/701ec3e0-9121-4269-8a71-2f6ca627741c/mac
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"flexible_ips","resource_id":"701ec3e0-9121-4269-8a71-2f6ca627741c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/4e673cfd-4848-4bb6-a5f6-964af9077617
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
