---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"id":"55d094a4-dfb2-429b-a18d-b6ef22fa5ee9","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:01:58.027052700Z","created_at":"2021-07-21T08:31:17.437348Z","status":"ready","tags":[],"ip_address":"51.159.124.51","server_id":null,"reverse":"51-159-124-51.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/55d094a4-dfb2-429b-a18d-b6ef22fa5ee9
    method: GET
  response:
    body: '{"id":"55d094a4-dfb2-429b-a18d-b6ef22fa5ee9","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"","updated_at":"2022-08-30T12:01:58.027053Z","created_at":"2021-07-21T08:31:17.437348Z","status":"ready","tags":[],"ip_address":"51.159.124.51","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/55d094a4-dfb2-429b-a18d-b6ef22fa5ee9
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
