---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"id":"627a59a6-56cd-427e-8db5-564e9e7e1f45","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-06-20T10:04:49.443721180Z","created_at":"2021-07-21T08:31:17.311155Z","status":"ready","tags":[],"ip_address":"51.159.124.44","server_id":null,"reverse":"51-159-124-44.rev.poneytelecom.eu.","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/627a59a6-56cd-427e-8db5-564e9e7e1f45
    method: GET
  response:
    body: '{"id":"627a59a6-56cd-427e-8db5-564e9e7e1f45","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-06-20T10:04:49.443721Z","created_at":"2021-07-21T08:31:17.311155Z","status":"ready","tags":[],"ip_address":"51.159.124.44","server_id":null,"reverse":"","mac_address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/627a59a6-56cd-427e-8db5-564e9e7e1f45
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips
    method: POST
  response:
    body: '{"id":"dbabcd25-8adc-48cb-952c-878568dcf4f0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-06-20T10:04:50.979095057Z","created_at":"2021-10-08T13:32:13.932293Z","status":"ready","tags":[],"ip_address":"51.158.194.11","server_id":null,"reverse":"51-158-194-11.rev.poneytelecom.eu.","mac_address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/nl-ams-1/fips/dbabcd25-8adc-48cb-952c-878568dcf4f0
    method: GET
  response:
    body: '{"id":"dbabcd25-8adc-48cb-952c-878568dcf4f0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","updated_at":"2022-06-20T10:04:50.979095Z","created_at":"2021-10-08T13:32:13.932293Z","status":"ready","tags":[],"ip_address":"51.158.194.11","server_id":null,"reverse":"","mac_address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
