---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:18.664116Z","description":"","id":"ee926de0-e85b-4797-8bf8-0b1dfd36d364","ip_address":"51.159.124.136","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-136.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-22T11:31:47.814541784Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/ee926de0-e85b-4797-8bf8-0b1dfd36d364
    method: GET
  response:
    body: '{"created_at":"2021-07-21T08:31:18.664116Z","description":"","id":"ee926de0-e85b-4797-8bf8-0b1dfd36d364","ip_address":"51.159.124.136","mac_address":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"51-159-124-136.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-08-22T11:31:47.814542Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/ee926de0-e85b-4797-8bf8-0b1dfd36d364
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
