---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":"","tags":null,"server_id":null,"reverse":null,"is_ipv6":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips
    method: POST
  response:
    body: '{"created_at":"2021-07-21T08:31:20.078163Z","description":"","id":"16f69899-5aa6-4899-960b-989d347531cb","ip_address":"51.159.124.236","mac_address":null,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":"51-159-124-236.rev.poneytelecom.eu.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-04-03T14:06:17.763874475Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/16f69899-5aa6-4899-960b-989d347531cb
    method: GET
  response:
    body: '{"created_at":"2021-07-21T08:31:20.078163Z","description":"","id":"16f69899-5aa6-4899-960b-989d347531cb","ip_address":"51.159.124.236","mac_address":null,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":"mail.fieldglass.net.","server_id":null,"status":"ready","tags":[],"updated_at":"2023-04-03T14:06:17.763874Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/flexible-ip/v1alpha1/zones/fr-par-1/fips/16f69899-5aa6-4899-960b-989d347531cb
    method: GET
  response:
    body: '{"details":[{"action":"read","resource":"flexible-ip"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
