---
version: 1
interactions:
- request:
    body: '{"name":"test-function-trigger-basic","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"e4bdc917-5cad-4dc2-9e90-9bfdcad63c42","name":"test-function-trigger-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e4bdc917-5cad-4dc2-9e90-9bfdcad63c42
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"e4bdc917-5cad-4dc2-9e90-9bfdcad63c42","name":"test-function-trigger-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-function-trigger-basic","protocol":"sqs_sns","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-05-23T12:42:01.437227528Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","name":"test-function-trigger-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-23T12:42:01.437227528Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT
    method: GET
  response:
    body: '{"created_at":"2023-05-23T12:42:01.437227Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","name":"test-function-trigger-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-23T12:42:01.437227Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","name":"tf-cred-inspiring-payne","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"154a5727-7d39-4132-be18-3fc1ab24e08b","name":"tf-cred-inspiring-payne","namespace_id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"MGvEbElrKozJsQaNmtqA","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"IfMoTaH7oBEKpgmLla8f0Pixkc9Jc9tRDUbBLIhwjB4DbcXQF2ywGOuL8bO6Dz6W"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/154a5727-7d39-4132-be18-3fc1ab24e08b
    method: GET
  response:
    body: '{"id":"154a5727-7d39-4132-be18-3fc1ab24e08b","name":"tf-cred-inspiring-payne","namespace_id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"MGvEbElrKozJsQaNmtqA","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T124202Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx4c7af35d-9f69-411b-8e76-608e15797beb</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T124203Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx82c9b794-2e30-4796-8b1c-908beeb79484</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FAAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T124203Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>txc1fee475-ac49-4b0a-abdc-08fcf3a14888</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-basic","namespace_id":"e4bdc917-5cad-4dc2-9e90-9bfdcad63c42","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerb0d94m3gy-test-function-trigger-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"fd8720e4-bd35-4c8f-961c-d1ae8446923e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-basic","namespace_id":"e4bdc917-5cad-4dc2-9e90-9bfdcad63c42","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/fd8720e4-bd35-4c8f-961c-d1ae8446923e
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerb0d94m3gy-test-function-trigger-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"fd8720e4-bd35-4c8f-961c-d1ae8446923e","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-basic","namespace_id":"e4bdc917-5cad-4dc2-9e90-9bfdcad63c42","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-basic","description":null,"function_id":"fd8720e4-bd35-4c8f-961c-d1ae8446923e","scw_sqs_config":{"mnq_namespace_id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","queue":"TestQueue","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"description":"","error_message":null,"function_id":"fd8720e4-bd35-4c8f-961c-d1ae8446923e","id":"3cda124f-7a38-4dfb-b605-041f06425d8a","input_type":"scw_sqs","name":"test-function-trigger-basic","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/3cda124f-7a38-4dfb-b605-041f06425d8a
    method: GET
  response:
    body: '{"description":"","error_message":null,"function_id":"fd8720e4-bd35-4c8f-961c-d1ae8446923e","id":"3cda124f-7a38-4dfb-b605-041f06425d8a","input_type":"scw_sqs","name":"test-function-trigger-basic","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FAAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/AAUZ5ELPK2ZBJ4MSCH4BBTZNDZPQORH4HUK4ANHEPIK4XC27BPQTCEPT/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T124249Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx8f53a06c-08ae-4ea6-a7de-13b8a543cdf4</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T124249Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>The queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>txa1883f83-038c-4eb4-9a1a-251af7143c1f</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/3cda124f-7a38-4dfb-b605-041f06425d8a
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
