---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"f01ebd3f-87cd-464c-bd45-fe88846f87f8","name":"test-cr-ns-01","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f01ebd3f-87cd-464c-bd45-fe88846f87f8
    method: GET
  response:
    body: '{"id":"f01ebd3f-87cd-464c-bd45-fe88846f87f8","name":"test-cr-ns-01","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f01ebd3f-87cd-464c-bd45-fe88846f87f8
    method: PATCH
  response:
    body: '{"id":"f01ebd3f-87cd-464c-bd45-fe88846f87f8","name":"test-cr-ns-01","environment_variables":{"test":"test"},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","registry_namespace_id":"5568642e-a27e-4a84-9977-659a5b3b87cb","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01g6pbqvzc","description":"","secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$uUkAQdVhxQy/mzie4LpU6w$yjlmNMhfKTjLCAzSmy96z9FlG1SnJe/Uy+dyOfoydw8"}],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f01ebd3f-87cd-464c-bd45-fe88846f87f8
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
