---
version: 1
interactions:
- request:
    body: '{"name":"test-function-trigger-sqs","protocol":"sqs_sns","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-05-24T09:10:47.497040261Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","name":"test-function-trigger-sqs","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-24T09:10:47.497040261Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ
    method: GET
  response:
    body: '{"created_at":"2023-05-24T09:10:47.497040Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","name":"test-function-trigger-sqs","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-24T09:10:47.497040Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","name":"tf-cred-vigilant-lalande","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"9e39556d-04ab-4771-81bb-117678aaed21","name":"tf-cred-vigilant-lalande","namespace_id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"Yefgc48d3wlAIzkJETgV","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"lukCPPO6OXBQnIv1bIg5vgc5sapYykZtkmW3RSCAqlJilX9voJH9epktEi4sHcLX"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/9e39556d-04ab-4771-81bb-117678aaed21
    method: GET
  response:
    body: '{"id":"9e39556d-04ab-4771-81bb-117678aaed21","name":"tf-cred-vigilant-lalande","namespace_id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"Yefgc48d3wlAIzkJETgV","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230524T091048Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx399ed9fb-b36b-4f57-a895-0b5f60374627</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230524T091049Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>txeb8b42a5-b6fb-402d-8c37-e8bb47f6a0a5</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230524T091049Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>txe3bf40a7-433a-4e62-891e-d70abb252e2b</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"04021331-9cd0-4a9e-bcf2-bc74adf5490c","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/04021331-9cd0-4a9e-bcf2-bc74adf5490c
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"04021331-9cd0-4a9e-bcf2-bc74adf5490c","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","namespace_id":"04021331-9cd0-4a9e-bcf2-bc74adf5490c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggersya4xbiwe-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d87c7a74-d400-4abf-a439-8539f15f2d49","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"04021331-9cd0-4a9e-bcf2-bc74adf5490c","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/d87c7a74-d400-4abf-a439-8539f15f2d49
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggersya4xbiwe-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d87c7a74-d400-4abf-a439-8539f15f2d49","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"04021331-9cd0-4a9e-bcf2-bc74adf5490c","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","description":null,"function_id":"d87c7a74-d400-4abf-a439-8539f15f2d49","scw_sqs_config":{"mnq_namespace_id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","queue":"TestQueue","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"description":"","error_message":null,"function_id":"d87c7a74-d400-4abf-a439-8539f15f2d49","id":"4dcbfd02-c665-402f-ac35-4c66452ac312","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/4dcbfd02-c665-402f-ac35-4c66452ac312
    method: GET
  response:
    body: '{"description":"","error_message":null,"function_id":"d87c7a74-d400-4abf-a439-8539f15f2d49","id":"4dcbfd02-c665-402f-ac35-4c66452ac312","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ABYV5SUEYF3UBO574WBRTGXGKECBLRRPGRDF6RGZS63PKW6SD7IMYEMQ/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230524T091114Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx05c57734-bc72-48e2-b3fb-29e3b5d99156</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230524T091114Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>The queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>tx7d192a59-b06f-4378-959b-db70526c974a</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/4dcbfd02-c665-402f-ac35-4c66452ac312
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
