---
version: 1
interactions:
- request:
    body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"90c2b969-a666-48e7-81ca-23cbf9daad60","name":"tf-env-test","environment_variables":{"test":"test"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/90c2b969-a666-48e7-81ca-23cbf9daad60
    method: GET
  response:
    body: '{"message":"error while authenticating, please retry later"}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/90c2b969-a666-48e7-81ca-23cbf9daad60
    method: PATCH
  response:
    body: '{"id":"90c2b969-a666-48e7-81ca-23cbf9daad60","name":"tf-env-test","environment_variables":{"foo":"bar"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","registry_namespace_id":"18d75abb-6a3e-453a-80de-c4766f369616","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestptls4jg2","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
