---
version: 1
interactions:
- request:
    body: '{"name":"tf-func--sweet-yonath","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"886ec6bb-824e-4da3-b128-651e1b8c8c23","name":"tf-func--sweet-yonath","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/886ec6bb-824e-4da3-b128-651e1b8c8c23
    method: GET
  response:
    body: '{"id":"886ec6bb-824e-4da3-b128-651e1b8c8c23","name":"tf-func--sweet-yonath","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"foobar","namespace_id":"886ec6bb-824e-4da3-b128-651e1b8c8c23","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[{"key":"test_secret","value":"test_secret"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"345a4aad-551b-4d82-8844-ea6005c8d2d0","name":"foobar","namespace_id":"886ec6bb-824e-4da3-b128-651e1b8c8c23","status":"created","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncsweetyonatheskzkx0p-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$zTPCO5CgcWUgem9iFaqs7Q$d08XnWDLQ8jkcQ0Z+7CdgkT2yXlFcIdydsjDBboFfjE"}],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/345a4aad-551b-4d82-8844-ea6005c8d2d0
    method: GET
  response:
    body: '{"id":"345a4aad-551b-4d82-8844-ea6005c8d2d0","name":"foobar","namespace_id":"886ec6bb-824e-4da3-b128-651e1b8c8c23","status":"created","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncsweetyonatheskzkx0p-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$zTPCO5CgcWUgem9iFaqs7Q$d08XnWDLQ8jkcQ0Z+7CdgkT2yXlFcIdydsjDBboFfjE"}],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"min_scale":null,"max_scale":null,"runtime":"unknown_runtime","memory_limit":null,"timeout":null,"redeploy":null,"handler":null,"privacy":"unknown_privacy","description":null,"secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/345a4aad-551b-4d82-8844-ea6005c8d2d0
    method: PATCH
  response:
    body: '{"id":"345a4aad-551b-4d82-8844-ea6005c8d2d0","name":"foobar","namespace_id":"886ec6bb-824e-4da3-b128-651e1b8c8c23","status":"pending","environment_variables":{"foo":"bar"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncsweetyonatheskzkx0p-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[{"key":"test_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$zTPCO5CgcWUgem9iFaqs7Q$d08XnWDLQ8jkcQ0Z+7CdgkT2yXlFcIdydsjDBboFfjE"},{"key":"foo_secret","hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$VOFESRPi+kU2VbwGAmg/Ww$3YphiTu2cC9cvC/dUuKT5sYP2bN8a6Y2ME1Jt+S+KEM"}],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/886ec6bb-824e-4da3-b128-651e1b8c8c23
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
