---
version: 1
interactions:
- request:
    body: '{"name":"tf-func-funny-keldysh","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"7678e37c-98d1-4071-9d2b-a0197ee07c18","name":"tf-func-funny-keldysh","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7678e37c-98d1-4071-9d2b-a0197ee07c18
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"7678e37c-98d1-4071-9d2b-a0197ee07c18","name":"tf-func-funny-keldysh","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-func-gallant-yonath","namespace_id":"7678e37c-98d1-4071-9d2b-a0197ee07c18","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncfunnykeldyshub4xnqeq-tf-func-gallant-yonath.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"65edb783-f140-4769-b5ee-3c705fa4edee","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-gallant-yonath","namespace_id":"7678e37c-98d1-4071-9d2b-a0197ee07c18","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/65edb783-f140-4769-b5ee-3c705fa4edee
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncfunnykeldyshub4xnqeq-tf-func-gallant-yonath.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"65edb783-f140-4769-b5ee-3c705fa4edee","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-gallant-yonath","namespace_id":"7678e37c-98d1-4071-9d2b-a0197ee07c18","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/7678e37c-98d1-4071-9d2b-a0197ee07c18
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
