---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"c4dc858b-1778-42d5-bc9c-9ceb6ed9aeaf","name":"test-cr-ns-01","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c4dc858b-1778-42d5-bc9c-9ceb6ed9aeaf
    method: GET
  response:
    body: '{"id":"c4dc858b-1778-42d5-bc9c-9ceb6ed9aeaf","name":"test-cr-ns-01","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c4dc858b-1778-42d5-bc9c-9ceb6ed9aeaf
    method: PATCH
  response:
    body: '{"id":"c4dc858b-1778-42d5-bc9c-9ceb6ed9aeaf","name":"test-cr-ns-01","environment_variables":{"test":"test"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","registry_namespace_id":"fbef146d-a6a2-4216-9cc0-7aa8ebacffad","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtestcrns01jy6ac6dk","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c4dc858b-1778-42d5-bc9c-9ceb6ed9aeaf
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
