---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-21T10:02:07.257271Z","description":"","id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-21T10:02:07.257271Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/13fe8a26-d3d4-4e16-baae-78c340a727d9
    method: GET
  response:
    body: '{"created_at":"2023-12-21T10:02:07.257271Z","description":"","id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-21T10:02:07.257271Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-21T10:02:07.712412450Z","project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-21T10:02:07.712412450Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=13fe8a26-d3d4-4e16-baae-78c340a727d9
    method: GET
  response:
    body: '{"created_at":"2023-12-21T10:02:07.712412Z","project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-21T10:02:07.712412Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"be45f46f-5382-4d16-9c01-32c0afaec57b","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","name":"tf-sqs-credentials-busy-blackburn","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"teCCZUDBXIXO1NasGcYg","created_at":"2023-12-21T10:02:08.058390715Z","id":"8819a419-851f-4477-ba08-c8bbf15ac248","name":"tf-sqs-credentials-busy-blackburn","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","region":"fr-par","secret_checksum":"7be2934f8242850010e11048889a25a0b2665d4b","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/be45f46f-5382-4d16-9c01-32c0afaec57b
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"be45f46f-5382-4d16-9c01-32c0afaec57b","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/8819a419-851f-4477-ba08-c8bbf15ac248
    method: GET
  response:
    body: '{"access_key":"teCCZUDBXIXO1NasGcYg","created_at":"2023-12-21T10:02:08.058390Z","id":"8819a419-851f-4477-ba08-c8bbf15ac248","name":"tf-sqs-credentials-busy-blackburn","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","region":"fr-par","secret_checksum":"7be2934f8242850010e11048889a25a0b2665d4b","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"TestQueue"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T100208Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-13fe8a26-d3d4-4e16-baae-78c340a727d9/TestQueue"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - tx3c6c4532-194a-4868-a065-d056d9676b19
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"AttributeNames":["ReceiveMessageWaitTimeSeconds","VisibilityTimeout","MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-13fe8a26-d3d4-4e16-baae-78c340a727d9/TestQueue"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T100209Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - tx0345e8b4-fbac-4436-b81e-414e581de50c
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","namespace_id":"be45f46f-5382-4d16-9c01-32c0afaec57b","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerswlzcd1pg-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"84ef5ae3-1601-4857-92d3-8efc96575279","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"be45f46f-5382-4d16-9c01-32c0afaec57b","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/84ef5ae3-1601-4857-92d3-8efc96575279
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerswlzcd1pg-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"84ef5ae3-1601-4857-92d3-8efc96575279","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"be45f46f-5382-4d16-9c01-32c0afaec57b","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","function_id":"84ef5ae3-1601-4857-92d3-8efc96575279","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"description":"","error_message":null,"function_id":"84ef5ae3-1601-4857-92d3-8efc96575279","id":"90e1b238-7a46-420d-8bd5-fc3f73803a0d","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/90e1b238-7a46-420d-8bd5-fc3f73803a0d
    method: GET
  response:
    body: '{"description":"","error_message":null,"function_id":"84ef5ae3-1601-4857-92d3-8efc96575279","id":"90e1b238-7a46-420d-8bd5-fc3f73803a0d","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"QueueName":"TestQueue"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231221T100248Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"__type":"com.scaleway.sqs#AWS.SimpleQueueService.NonExistentQueue","message":"Queue
      \"TestQueue\" does not exist."}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - txee1129a3-a764-4903-85b7-c669cbc2ea05
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"13fe8a26-d3d4-4e16-baae-78c340a727d9","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
