---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"4a13eb6b-821b-480f-938d-98740ebcba9f","name":"tf-tests-function-cron-with-args","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/4a13eb6b-821b-480f-938d-98740ebcba9f
    method: GET
  response:
    body: '{"id":"4a13eb6b-821b-480f-938d-98740ebcba9f","name":"tf-tests-function-cron-with-args","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-cron-with-args","namespace_id":"4a13eb6b-821b-480f-938d-98740ebcba9f","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"b2f597c7-78fb-4314-b73f-3ad84a192ee5","name":"tf-tests-cron-with-args","namespace_id":"4a13eb6b-821b-480f-938d-98740ebcba9f","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tftestsfunctioncronwhxcx11is-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/b2f597c7-78fb-4314-b73f-3ad84a192ee5
    method: GET
  response:
    body: '{"id":"b2f597c7-78fb-4314-b73f-3ad84a192ee5","name":"tf-tests-cron-with-args","namespace_id":"4a13eb6b-821b-480f-938d-98740ebcba9f","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tftestsfunctioncronwhxcx11is-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"b2f597c7-78fb-4314-b73f-3ad84a192ee5","schedule":"0 0 *
      * *","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"0ce88200-f0c8-4614-8963-dc722298a5a8","function_id":"b2f597c7-78fb-4314-b73f-3ad84a192ee5","schedule":"0
      0 * * *","args":{"test":"scw"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/0ce88200-f0c8-4614-8963-dc722298a5a8
    method: GET
  response:
    body: '{"id":"0ce88200-f0c8-4614-8963-dc722298a5a8","function_id":"b2f597c7-78fb-4314-b73f-3ad84a192ee5","schedule":"0
      0 * * *","args":{"test":"scw"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/4a13eb6b-821b-480f-938d-98740ebcba9f
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
