---
version: 1
interactions:
- request:
    body: '{"name":"test-cron","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"27b0de1a-0c70-4ece-ab05-91ff78b81693","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/27b0de1a-0c70-4ece-ab05-91ff78b81693
    method: GET
  response:
    body: '{"id":"27b0de1a-0c70-4ece-ab05-91ff78b81693","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cron","namespace_id":"27b0de1a-0c70-4ece-ab05-91ff78b81693","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"b9a2fb4a-1ea6-4bd9-a13b-df3bb2122301","name":"test-cron","namespace_id":"27b0de1a-0c70-4ece-ab05-91ff78b81693","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcronnyrcu16g-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/b9a2fb4a-1ea6-4bd9-a13b-df3bb2122301
    method: GET
  response:
    body: '{"id":"b9a2fb4a-1ea6-4bd9-a13b-df3bb2122301","name":"test-cron","namespace_id":"27b0de1a-0c70-4ece-ab05-91ff78b81693","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcronnyrcu16g-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"b9a2fb4a-1ea6-4bd9-a13b-df3bb2122301","schedule":"0 0 *
      * *","args":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"ad9d1132-8ce0-4992-9c3a-0162bc53b0f3","function_id":"b9a2fb4a-1ea6-4bd9-a13b-df3bb2122301","schedule":"0
      0 * * *","args":{},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/6106b585-4c59-4705-a9a5-da483d1d759c
    method: GET
  response:
    body: '{"id":"6106b585-4c59-4705-a9a5-da483d1d759c","function_id":"b9a2fb4a-1ea6-4bd9-a13b-df3bb2122301","schedule":"0
      1 * * *","args":{},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/27b0de1a-0c70-4ece-ab05-91ff78b81693
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
