---
version: 1
interactions:
- request:
    body: '{"name":"tf-func-goofy-sinoussi","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"e48a389a-b4e1-4e1a-9abf-dc0e70fef076","name":"tf-func-goofy-sinoussi","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e48a389a-b4e1-4e1a-9abf-dc0e70fef076
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"e48a389a-b4e1-4e1a-9abf-dc0e70fef076","name":"tf-func-goofy-sinoussi","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-func-timeout","namespace_id":"e48a389a-b4e1-4e1a-9abf-dc0e70fef076","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":"10.000000000s","handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncgoofysinoussil0hhujfe-tf-tests-func-timeout.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"ce41c62b-48b0-4c64-a33e-e2799e6a63b0","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-func-timeout","namespace_id":"e48a389a-b4e1-4e1a-9abf-dc0e70fef076","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"10s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/ce41c62b-48b0-4c64-a33e-e2799e6a63b0
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncgoofysinoussil0hhujfe-tf-tests-func-timeout.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"ce41c62b-48b0-4c64-a33e-e2799e6a63b0","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-func-timeout","namespace_id":"e48a389a-b4e1-4e1a-9abf-dc0e70fef076","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"10s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/e48a389a-b4e1-4e1a-9abf-dc0e70fef076
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
