---
version: 1
interactions:
- request:
    body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"4d0c132e-a492-4c65-9b0b-6a4a8353b69d","name":"tf-env-test","environment_variables":{"test":"test"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/4d0c132e-a492-4c65-9b0b-6a4a8353b69d
    method: GET
  response:
    body: '{"id":"4d0c132e-a492-4c65-9b0b-6a4a8353b69d","name":"tf-env-test","environment_variables":{"test":"test"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/4d0c132e-a492-4c65-9b0b-6a4a8353b69d
    method: GET
  response:
    body: '{"message":"error while authenticating, please retry later"}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/4d0c132e-a492-4c65-9b0b-6a4a8353b69d
    method: PATCH
  response:
    body: '{"id":"4d0c132e-a492-4c65-9b0b-6a4a8353b69d","name":"tf-env-test","environment_variables":{"foo":"bar"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","registry_namespace_id":"471ae6ff-2dea-4ceb-ac9e-701c6d8704f8","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestnhvwkoxf","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
