---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"238e4dab-6725-4a80-b2ae-47145f3f76b7","name":"tf-tests-function-cron-with-args","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/238e4dab-6725-4a80-b2ae-47145f3f76b7
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"238e4dab-6725-4a80-b2ae-47145f3f76b7","name":"tf-tests-function-cron-with-args","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-cron-with-args","namespace_id":"238e4dab-6725-4a80-b2ae-47145f3f76b7","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronw2rg2hpj3-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"f6dc388b-09a3-4bfd-afa8-f35227a97daa","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"238e4dab-6725-4a80-b2ae-47145f3f76b7","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/f6dc388b-09a3-4bfd-afa8-f35227a97daa
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronw2rg2hpj3-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"f6dc388b-09a3-4bfd-afa8-f35227a97daa","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"238e4dab-6725-4a80-b2ae-47145f3f76b7","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"f6dc388b-09a3-4bfd-afa8-f35227a97daa","schedule":"0 0 *
      * *","args":{"test":"scw"},"name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{"test":"scw"},"function_id":"f6dc388b-09a3-4bfd-afa8-f35227a97daa","id":"34ea9a3a-8021-489c-8656-e04a8c0e1f6e","name":"cron-34ea9a3a-8021-489c-8656-e04a8c0e1f6e","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/34ea9a3a-8021-489c-8656-e04a8c0e1f6e
    method: GET
  response:
    body: '{"args":{"test":"scw"},"function_id":"f6dc388b-09a3-4bfd-afa8-f35227a97daa","id":"34ea9a3a-8021-489c-8656-e04a8c0e1f6e","name":"cron-34ea9a3a-8021-489c-8656-e04a8c0e1f6e","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/238e4dab-6725-4a80-b2ae-47145f3f76b7
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
