---
version: 1
interactions:
- request:
    body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"83a6d042-2e6b-4e84-94af-98d5b231f63b","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/83a6d042-2e6b-4e84-94af-98d5b231f63b
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"83a6d042-2e6b-4e84-94af-98d5b231f63b","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-function-trigger-sqs","protocol":"sqs_sns","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-05-23T13:35:31.239755744Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","name":"test-function-trigger-sqs","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-23T13:35:31.239755744Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W
    method: GET
  response:
    body: '{"created_at":"2023-05-23T13:35:31.239755Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","name":"test-function-trigger-sqs","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-23T13:35:31.239755Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","name":"tf-cred-cool-nash","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"2e329759-7cb6-4493-aacd-fe6f61b01eb0","name":"tf-cred-cool-nash","namespace_id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"0yb9zRiVEFTur23lUhyg","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"M1DiIWOTuPitVay7Woz7aGDZ7pNiyzwGJxjXZ4vQKgbAPV1gD6zMH8urOw5GfvAp"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/2e329759-7cb6-4493-aacd-fe6f61b01eb0
    method: GET
  response:
    body: '{"id":"2e329759-7cb6-4493-aacd-fe6f61b01eb0","name":"tf-cred-cool-nash","namespace_id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"0yb9zRiVEFTur23lUhyg","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T133532Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>txa5c449f2-12bb-43bc-bb68-a823d71d447e</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T133533Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx226b659c-f36b-4163-a511-a11b6264516c</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T133533Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx412a2301-1e99-411e-b34e-1743168c5ba5</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","namespace_id":"83a6d042-2e6b-4e84-94af-98d5b231f63b","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggersyqqxvg3r-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d88a6960-78a7-45d6-87ff-1dce299b0c0d","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"83a6d042-2e6b-4e84-94af-98d5b231f63b","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/d88a6960-78a7-45d6-87ff-1dce299b0c0d
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggersyqqxvg3r-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"d88a6960-78a7-45d6-87ff-1dce299b0c0d","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"83a6d042-2e6b-4e84-94af-98d5b231f63b","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","description":null,"function_id":"d88a6960-78a7-45d6-87ff-1dce299b0c0d","scw_sqs_config":{"mnq_namespace_id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","queue":"TestQueue","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"description":"","error_message":null,"function_id":"d88a6960-78a7-45d6-87ff-1dce299b0c0d","id":"38fd0e7d-dfda-44fa-9e49-71e03e2dfdff","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/38fd0e7d-dfda-44fa-9e49-71e03e2dfdff
    method: GET
  response:
    body: '{"description":"","error_message":null,"function_id":"d88a6960-78a7-45d6-87ff-1dce299b0c0d","id":"38fd0e7d-dfda-44fa-9e49-71e03e2dfdff","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACBTOBYBBZJE2AI5SKBS7OQBGRTYC5U3WNEDQ5532U5BBOWQAGDJHU5W/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T133544Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx84b51ec7-9b83-475d-a94f-048528a302e9</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230523T133544Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>The queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>tx48f8071d-145a-4c9c-8f32-7f16902b0bb2</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/38fd0e7d-dfda-44fa-9e49-71e03e2dfdff
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
