---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-function-cron-with-args","environment_variables":{},"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"6b6b7d77-d8ad-4499-9f7e-1b8cfa37b530","name":"tf-tests-function-cron-with-args","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/6b6b7d77-d8ad-4499-9f7e-1b8cfa37b530
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"6b6b7d77-d8ad-4499-9f7e-1b8cfa37b530","name":"tf-tests-function-cron-with-args","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-cron-with-args","namespace_id":"6b6b7d77-d8ad-4499-9f7e-1b8cfa37b530","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronwpwjzynzb-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a3973c7c-9c60-4b31-9075-f61132df80b9","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"6b6b7d77-d8ad-4499-9f7e-1b8cfa37b530","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/a3973c7c-9c60-4b31-9075-f61132df80b9
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronwpwjzynzb-tf-tests-cron-with-args.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"a3973c7c-9c60-4b31-9075-f61132df80b9","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-with-args","namespace_id":"6b6b7d77-d8ad-4499-9f7e-1b8cfa37b530","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"a3973c7c-9c60-4b31-9075-f61132df80b9","schedule":"0 0 *
      * *","args":{"test":"scw"},"name":"tf-tests-cron-with-args"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{"test":"scw"},"function_id":"a3973c7c-9c60-4b31-9075-f61132df80b9","id":"170782ca-acc8-4695-954c-510001f1dadb","name":"tf-tests-cron-with-args","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/170782ca-acc8-4695-954c-510001f1dadb
    method: GET
  response:
    body: '{"args":{"test":"scw"},"function_id":"a3973c7c-9c60-4b31-9075-f61132df80b9","id":"170782ca-acc8-4695-954c-510001f1dadb","name":"tf-tests-cron-with-args","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/6b6b7d77-d8ad-4499-9f7e-1b8cfa37b530
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
