---
version: 1
interactions:
- request:
    body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d812e96c-2994-41f5-a3ec-757c9f08ad1d","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/d812e96c-2994-41f5-a3ec-757c9f08ad1d
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"d812e96c-2994-41f5-a3ec-757c9f08ad1d","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-nats-account-funny-maxwell","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts
    method: POST
  response:
    body: '{"created_at":"2023-10-19T12:53:59.878367165Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADVJUIDXQ6VQMD576NIQ7FZDFY4DIC4F53IAEMOAWBLW2V2DCKPXXT4D","name":"tf-nats-account-funny-maxwell","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2023-10-19T12:53:59.878367165Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/nats-accounts/ADVJUIDXQ6VQMD576NIQ7FZDFY4DIC4F53IAEMOAWBLW2V2DCKPXXT4D
    method: GET
  response:
    body: '{"created_at":"2023-10-19T12:53:59.878367Z","endpoint":"nats://nats.mnq.fr-par.scaleway.com:4222","id":"ADVJUIDXQ6VQMD576NIQ7FZDFY4DIC4F53IAEMOAWBLW2V2DCKPXXT4D","name":"tf-nats-account-funny-maxwell","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":"2023-10-19T12:53:59.878367Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","namespace_id":"d812e96c-2994-41f5-a3ec-757c9f08ad1d","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggers8tep2nfz-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"575dd83f-5694-41c7-995e-123baf1de4ee","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"d812e96c-2994-41f5-a3ec-757c9f08ad1d","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/575dd83f-5694-41c7-995e-123baf1de4ee
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggers8tep2nfz-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"575dd83f-5694-41c7-995e-123baf1de4ee","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"d812e96c-2994-41f5-a3ec-757c9f08ad1d","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-nats","description":null,"function_id":"575dd83f-5694-41c7-995e-123baf1de4ee","scw_nats_config":{"subject":"TestSubject","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","mnq_nats_account_id":"ADVJUIDXQ6VQMD576NIQ7FZDFY4DIC4F53IAEMOAWBLW2V2DCKPXXT4D"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"description":"","error_message":null,"function_id":"575dd83f-5694-41c7-995e-123baf1de4ee","id":"dc6904d5-421c-4f94-92d7-25c2feb95f8c","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_nats_account_id":"ADVJUIDXQ6VQMD576NIQ7FZDFY4DIC4F53IAEMOAWBLW2V2DCKPXXT4D","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/dc6904d5-421c-4f94-92d7-25c2feb95f8c
    method: GET
  response:
    body: '{"description":"","error_message":null,"function_id":"575dd83f-5694-41c7-995e-123baf1de4ee","id":"dc6904d5-421c-4f94-92d7-25c2feb95f8c","input_type":"scw_nats","name":"test-function-trigger-nats","scw_nats_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_nats_account_id":"ADVJUIDXQ6VQMD576NIQ7FZDFY4DIC4F53IAEMOAWBLW2V2DCKPXXT4D","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par","subject":"TestSubject"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/dc6904d5-421c-4f94-92d7-25c2feb95f8c
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
