---
version: 1
interactions:
- request:
    body: '{"name":"test-cron","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"3ecbbfb0-641d-4993-8a8b-741d4e9f158c","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/3ecbbfb0-641d-4993-8a8b-741d4e9f158c
    method: GET
  response:
    body: '{"id":"3ecbbfb0-641d-4993-8a8b-741d4e9f158c","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cron","namespace_id":"3ecbbfb0-641d-4993-8a8b-741d4e9f158c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"71c95950-1363-46cb-8b18-3521ffb92010","name":"test-cron","namespace_id":"3ecbbfb0-641d-4993-8a8b-741d4e9f158c","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcron88rchxgt-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/71c95950-1363-46cb-8b18-3521ffb92010
    method: GET
  response:
    body: '{"id":"71c95950-1363-46cb-8b18-3521ffb92010","name":"test-cron","namespace_id":"3ecbbfb0-641d-4993-8a8b-741d4e9f158c","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcron88rchxgt-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"71c95950-1363-46cb-8b18-3521ffb92010","schedule":"0 0 *
      * *","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"c0f6edc1-a2b3-4155-b3cb-6bfb4563d867","function_id":"71c95950-1363-46cb-8b18-3521ffb92010","schedule":"0
      0 * * *","args":{"test":"scw"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/c0f6edc1-a2b3-4155-b3cb-6bfb4563d867
    method: GET
  response:
    body: '{"id":"c0f6edc1-a2b3-4155-b3cb-6bfb4563d867","function_id":"71c95950-1363-46cb-8b18-3521ffb92010","schedule":"0
      0 * * *","args":{"test":"scw"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/3ecbbfb0-641d-4993-8a8b-741d4e9f158c
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
