---
version: 1
interactions:
- request:
    body: '{"name":"tf-func--tender-aryabhata","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"763bad83-f97a-4778-95ec-82d05b74cb03","name":"tf-func--tender-aryabhata","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/763bad83-f97a-4778-95ec-82d05b74cb03
    method: GET
  response:
    body: '{"id":"763bad83-f97a-4778-95ec-82d05b74cb03","name":"tf-func--tender-aryabhata","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-func-jolly-easley","namespace_id":"763bad83-f97a-4778-95ec-82d05b74cb03","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node18","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"1a2abba7-11bc-4cb9-9b8b-1a0d0a3218d5","name":"tf-func-jolly-easley","namespace_id":"763bad83-f97a-4778-95ec-82d05b74cb03","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node18","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffunctenderaryabhatx7frqaql-tf-func-jolly-easley.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/1a2abba7-11bc-4cb9-9b8b-1a0d0a3218d5
    method: GET
  response:
    body: '{"id":"1a2abba7-11bc-4cb9-9b8b-1a0d0a3218d5","name":"tf-func-jolly-easley","namespace_id":"763bad83-f97a-4778-95ec-82d05b74cb03","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node18","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffunctenderaryabhatx7frqaql-tf-func-jolly-easley.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"tffunctenderaryabhatx7frqaql-tf-func-jolly-easley.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records
    method: PATCH
  response:
    body: '{"records":[{"id":"9171727a-0c81-4fc9-97cc-dfe498c6d8a6","data":"tffunctenderaryabhatx7frqaql-tf-func-jolly-easley.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=dns.sieben.fr&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"dns.sieben.fr","subdomain":"","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-07-06T14:32:52Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records?name=foobar&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"9171727a-0c81-4fc9-97cc-dfe498c6d8a6","data":"tffunctenderaryabhatx7frqaql-tf-func-jolly-easley.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records?id=9171727a-0c81-4fc9-97cc-dfe498c6d8a6&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"9171727a-0c81-4fc9-97cc-dfe498c6d8a6","data":"tffunctenderaryabhatx7frqaql-tf-func-jolly-easley.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"foobar.dns.sieben.fr","function_id":"1a2abba7-11bc-4cb9-9b8b-1a0d0a3218d5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"id":"53b72b81-a1cb-4f04-91ce-45f2035fcc9b","hostname":"foobar.dns.sieben.fr","function_id":"1a2abba7-11bc-4cb9-9b8b-1a0d0a3218d5","url":"","status":"pending","error_message":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/domains/53b72b81-a1cb-4f04-91ce-45f2035fcc9b
    method: GET
  response:
    body: '{"id":"53b72b81-a1cb-4f04-91ce-45f2035fcc9b","hostname":"foobar.dns.sieben.fr","function_id":"1a2abba7-11bc-4cb9-9b8b-1a0d0a3218d5","url":"","status":"pending","error_message":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"9171727a-0c81-4fc9-97cc-dfe498c6d8a6"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
