---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-function-cron-basic","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"135079c9-19f7-4a2a-b075-0bc8a0053be3","name":"tf-tests-function-cron-basic","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/135079c9-19f7-4a2a-b075-0bc8a0053be3
    method: GET
  response:
    body: '{"id":"135079c9-19f7-4a2a-b075-0bc8a0053be3","name":"tf-tests-function-cron-basic","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-cron-basic","namespace_id":"135079c9-19f7-4a2a-b075-0bc8a0053be3","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"004ae864-5a27-41bb-a59d-b09db9191703","name":"tf-tests-cron-basic","namespace_id":"135079c9-19f7-4a2a-b075-0bc8a0053be3","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tftestsfunctioncronbrms8xvb1-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/004ae864-5a27-41bb-a59d-b09db9191703
    method: GET
  response:
    body: '{"id":"004ae864-5a27-41bb-a59d-b09db9191703","name":"tf-tests-cron-basic","namespace_id":"135079c9-19f7-4a2a-b075-0bc8a0053be3","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tftestsfunctioncronbrms8xvb1-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"004ae864-5a27-41bb-a59d-b09db9191703","schedule":"0 0 *
      * *","args":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"8c404802-dec2-47d1-b8e1-1b8066a2aa5f","function_id":"004ae864-5a27-41bb-a59d-b09db9191703","schedule":"0
      0 * * *","args":{},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/8c404802-dec2-47d1-b8e1-1b8066a2aa5f
    method: GET
  response:
    body: '{"id":"8c404802-dec2-47d1-b8e1-1b8066a2aa5f","function_id":"004ae864-5a27-41bb-a59d-b09db9191703","schedule":"0
      0 * * *","args":{},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/135079c9-19f7-4a2a-b075-0bc8a0053be3
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
