---
version: 1
interactions:
- request:
    body: '{"name":"tf-func--relaxed-poincare","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"29271d6c-05cc-4dca-8948-edbd14b9f3fb","name":"tf-func--relaxed-poincare","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/29271d6c-05cc-4dca-8948-edbd14b9f3fb
    method: GET
  response:
    body: '{"id":"29271d6c-05cc-4dca-8948-edbd14b9f3fb","name":"tf-func--relaxed-poincare","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"foobar","namespace_id":"29271d6c-05cc-4dca-8948-edbd14b9f3fb","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"8d9d1e4d-81b4-4e6e-8ec9-284474ffcb3b","name":"foobar","namespace_id":"29271d6c-05cc-4dca-8948-edbd14b9f3fb","status":"created","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncrelaxedpoincar4vj6japs-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8d9d1e4d-81b4-4e6e-8ec9-284474ffcb3b
    method: GET
  response:
    body: '{"id":"8d9d1e4d-81b4-4e6e-8ec9-284474ffcb3b","name":"foobar","namespace_id":"29271d6c-05cc-4dca-8948-edbd14b9f3fb","status":"created","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncrelaxedpoincar4vj6japs-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"min_scale":null,"max_scale":null,"runtime":"unknown_runtime","memory_limit":null,"timeout":null,"redeploy":null,"handler":null,"privacy":"unknown_privacy","description":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/8d9d1e4d-81b4-4e6e-8ec9-284474ffcb3b
    method: PATCH
  response:
    body: '{"id":"8d9d1e4d-81b4-4e6e-8ec9-284474ffcb3b","name":"foobar","namespace_id":"29271d6c-05cc-4dca-8948-edbd14b9f3fb","status":"created","environment_variables":{"foo":"bar"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncrelaxedpoincar4vj6japs-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/29271d6c-05cc-4dca-8948-edbd14b9f3fb
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
