---
version: 1
interactions:
- request:
    body: '{"name":"tf-func--eloquent-poincare","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"be913376-0ec8-430e-b712-065dd833c060","name":"tf-func--eloquent-poincare","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/be913376-0ec8-430e-b712-065dd833c060
    method: GET
  response:
    body: '{"id":"be913376-0ec8-430e-b712-065dd833c060","name":"tf-func--eloquent-poincare","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-func-amazing-kowalevski","namespace_id":"be913376-0ec8-430e-b712-065dd833c060","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node18","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"31fd3fdf-dc91-4b22-96f7-2a9dcc786586","name":"tf-func-amazing-kowalevski","namespace_id":"be913376-0ec8-430e-b712-065dd833c060","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node18","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffunceloquentpoincay6b04qik-tf-func-amazing-kowalevski.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/31fd3fdf-dc91-4b22-96f7-2a9dcc786586
    method: GET
  response:
    body: '{"id":"31fd3fdf-dc91-4b22-96f7-2a9dcc786586","name":"tf-func-amazing-kowalevski","namespace_id":"be913376-0ec8-430e-b712-065dd833c060","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node18","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffunceloquentpoincay6b04qik-tf-func-amazing-kowalevski.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"tffunceloquentpoincay6b04qik-tf-func-amazing-kowalevski.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records
    method: PATCH
  response:
    body: '{"records":[{"id":"e2630979-ddee-47fc-b7f1-477e2f88e1df","data":"tffunceloquentpoincay6b04qik-tf-func-amazing-kowalevski.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=dns.sieben.fr&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"dns.sieben.fr","subdomain":"","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-07-06T15:40:51Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records?name=foobar&order_by=name_asc&page=1&type=CNAME
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"e2630979-ddee-47fc-b7f1-477e2f88e1df","data":"tffunceloquentpoincay6b04qik-tf-func-amazing-kowalevski.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records?id=e2630979-ddee-47fc-b7f1-477e2f88e1df&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"e2630979-ddee-47fc-b7f1-477e2f88e1df","data":"tffunceloquentpoincay6b04qik-tf-func-amazing-kowalevski.functions.fnc.fr-par.scw.cloud.","name":"foobar","priority":0,"ttl":3600,"type":"CNAME","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname":"foobar.dns.sieben.fr","function_id":"31fd3fdf-dc91-4b22-96f7-2a9dcc786586"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/domains
    method: POST
  response:
    body: '{"message":"could not validate domain [foobar.dns.sieben.fr]"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"changes":[{"delete":{"id":"e2630979-ddee-47fc-b7f1-477e2f88e1df"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/dns.sieben.fr/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
