---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"message":"error while authenticating, please retry later"}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
- request:
    body: '{"name":"test-cr-ns-01","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"2888a0e6-65ac-477c-8b0e-750ed82025e2","name":"test-cr-ns-01","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2888a0e6-65ac-477c-8b0e-750ed82025e2
    method: GET
  response:
    body: '{"id":"2888a0e6-65ac-477c-8b0e-750ed82025e2","name":"test-cr-ns-01","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"test":"test"},"description":"","secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/2888a0e6-65ac-477c-8b0e-750ed82025e2
    method: PATCH
  response:
    body: '{"message":"error while authenticating, please retry later"}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
