---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-09-04T09:00:10.408079Z","description":"","id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T09:00:10.408079Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ab1a6b98-aaeb-4159-a520-57a49bca4d35
    method: GET
  response:
    body: '{"created_at":"2023-09-04T09:00:10.408079Z","description":"","id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","name":"tf_tests_function_trigger_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T09:00:10.408079Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"6107fe58-f6ef-47ba-9a04-832eaced239c","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/6107fe58-f6ef-47ba-9a04-832eaced239c
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"6107fe58-f6ef-47ba-9a04-832eaced239c","name":"test-function-trigger-sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"main","protocol":"sqs_sns","project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-04T09:00:10.708838813Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","name":"main","project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T09:00:10.708838813Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA
    method: GET
  response:
    body: '{"created_at":"2023-09-04T09:00:10.708838Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","name":"main","project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T09:00:10.708838Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","name":"tf-cred-hungry-jang","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"3500a5db-7cf3-4f59-b5e3-d19544557014","name":"tf-cred-hungry-jang","namespace_id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"yA4VPJDeWRl6E4udFhzu","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"JckwujjGdnaqqRGre6JmFuz1n0XVRtGp3jIdGeSI9ZAUtmHYwDLVkvAlC69rQEOy"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/3500a5db-7cf3-4f59-b5e3-d19544557014
    method: GET
  response:
    body: '{"id":"3500a5db-7cf3-4f59-b5e3-d19544557014","name":"tf-cred-hungry-jang","namespace_id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"yA4VPJDeWRl6E4udFhzu","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T090012Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>txb66048d5-ee7c-4e60-bb1a-62c52b238f31</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T090013Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>txd3d66276-3452-4c98-a8f3-a0569f38551a</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T090013Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>txefcc9971-a8eb-4c36-8695-341726925f20</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","namespace_id":"6107fe58-f6ef-47ba-9a04-832eaced239c","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggershtnqzuqr-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"961dbd44-bbb2-4aa6-9917-9ae643c0a8d0","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"6107fe58-f6ef-47ba-9a04-832eaced239c","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/961dbd44-bbb2-4aa6-9917-9ae643c0a8d0
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggershtnqzuqr-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"961dbd44-bbb2-4aa6-9917-9ae643c0a8d0","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"6107fe58-f6ef-47ba-9a04-832eaced239c","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","description":null,"function_id":"961dbd44-bbb2-4aa6-9917-9ae643c0a8d0","scw_sqs_config":{"mnq_namespace_id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","queue":"TestQueue","mnq_project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"description":"","error_message":null,"function_id":"961dbd44-bbb2-4aa6-9917-9ae643c0a8d0","id":"04023ca4-6941-4b16-97e8-9e09c13386d3","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","mnq_project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/04023ca4-6941-4b16-97e8-9e09c13386d3
    method: GET
  response:
    body: '{"description":"","error_message":null,"function_id":"961dbd44-bbb2-4aa6-9917-9ae643c0a8d0","id":"04023ca4-6941-4b16-97e8-9e09c13386d3","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA","mnq_project_id":"ab1a6b98-aaeb-4159-a520-57a49bca4d35","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACK5VTATOH62EJYZMNOLBFDFA7JUAAXKLUL4YF7QUPVUMR2H4OUILRXA/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T090029Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>txcef150d0-25a4-4ec3-be88-bb1df42c766e</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T090029Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>txdefc3aa2-d8a0-41fe-bbaa-d428cff49a98</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/04023ca4-6941-4b16-97e8-9e09c13386d3
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
