---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-function-cron-basic","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c14e5276-dd52-4768-8812-a94d1f80976b","name":"tf-tests-function-cron-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c14e5276-dd52-4768-8812-a94d1f80976b
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"c14e5276-dd52-4768-8812-a94d1f80976b","name":"tf-tests-function-cron-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-cron-basic","namespace_id":"c14e5276-dd52-4768-8812-a94d1f80976b","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronbo5evnzbv-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0a7b647b-52f2-4bb5-962b-c024d121439f","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"c14e5276-dd52-4768-8812-a94d1f80976b","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0a7b647b-52f2-4bb5-962b-c024d121439f
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronbo5evnzbv-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"0a7b647b-52f2-4bb5-962b-c024d121439f","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"c14e5276-dd52-4768-8812-a94d1f80976b","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"0a7b647b-52f2-4bb5-962b-c024d121439f","schedule":"0 0 *
      * *","args":{},"name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{},"function_id":"0a7b647b-52f2-4bb5-962b-c024d121439f","id":"a5f8da77-1dce-4599-bf5c-92e2f01649cd","name":"cron-a5f8da77-1dce-4599-bf5c-92e2f01649cd","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/a5f8da77-1dce-4599-bf5c-92e2f01649cd
    method: GET
  response:
    body: '{"args":{},"function_id":"0a7b647b-52f2-4bb5-962b-c024d121439f","id":"a5f8da77-1dce-4599-bf5c-92e2f01649cd","name":"cron-a5f8da77-1dce-4599-bf5c-92e2f01649cd","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/c14e5276-dd52-4768-8812-a94d1f80976b
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
