---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_function_trigger_sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-10-18T09:30:20.370499Z","description":"","id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","name":"tf_tests_function_trigger_sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-18T09:30:20.370499Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/08fb8b16-d75b-48e1-8d99-83140acd60fd
    method: GET
  response:
    body: '{"created_at":"2023-10-18T09:30:20.370499Z","description":"","id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","name":"tf_tests_function_trigger_sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-18T09:30:20.370499Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-function-trigger-sqs","environment_variables":{},"project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"0add3375-39d6-4939-a5ac-83ae61e23092","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0add3375-39d6-4939-a5ac-83ae61e23092
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"0add3375-39d6-4939-a5ac-83ae61e23092","name":"test-function-trigger-sqs","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-10-18T09:30:20.794581366Z","project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-18T09:30:20.794581366Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=08fb8b16-d75b-48e1-8d99-83140acd60fd
    method: GET
  response:
    body: '{"created_at":"2023-10-18T09:30:20.794581Z","project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-18T09:30:20.794581Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","name":"tf-sqs-credentials-angry-neumann","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"lp8vz1655ududG8HUrrb","created_at":"2023-10-18T09:30:22.089962649Z","id":"05ad4a54-ff4f-43c6-bea3-731e94d6ae58","name":"tf-sqs-credentials-angry-neumann","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","region":"fr-par","secret_checksum":"8968b31103fb8f1faf403d2e0cd141fec0ed0231","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/05ad4a54-ff4f-43c6-bea3-731e94d6ae58
    method: GET
  response:
    body: '{"access_key":"lp8vz1655ududG8HUrrb","created_at":"2023-10-18T09:30:22.089962Z","id":"05ad4a54-ff4f-43c6-bea3-731e94d6ae58","name":"tf-sqs-credentials-angry-neumann","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","region":"fr-par","secret_checksum":"8968b31103fb8f1faf403d2e0cd141fec0ed0231","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T093022Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-08fb8b16-d75b-48e1-8d99-83140acd60fd/TestQueue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx27fd48da-5720-40c7-aec6-ab5f66757fca</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T093022Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-08fb8b16-d75b-48e1-8d99-83140acd60fd/TestQueue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx15902b10-4878-4ed7-9b5a-6e54d6be393a</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-08fb8b16-d75b-48e1-8d99-83140acd60fd%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-08fb8b16-d75b-48e1-8d99-83140acd60fd/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T093022Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx863ae3f5-fd3d-4958-9e62-6e972207a513</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","namespace_id":"0add3375-39d6-4939-a5ac-83ae61e23092","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node20","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerszyj0cdx5-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"1df7e149-9da2-48d6-a4ba-e72de89d8de6","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"0add3375-39d6-4939-a5ac-83ae61e23092","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/1df7e149-9da2-48d6-a4ba-e72de89d8de6
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerszyj0cdx5-test-function-trigger-sqs.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"1df7e149-9da2-48d6-a4ba-e72de89d8de6","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-sqs","namespace_id":"0add3375-39d6-4939-a5ac-83ae61e23092","privacy":"private","region":"fr-par","runtime":"node20","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-sqs","description":null,"function_id":"1df7e149-9da2-48d6-a4ba-e72de89d8de6","scw_sqs_config":{"queue":"TestQueue","mnq_project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"description":"","error_message":null,"function_id":"1df7e149-9da2-48d6-a4ba-e72de89d8de6","id":"e42d1e56-ba89-4b17-8a35-98ce639cf9b3","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/e42d1e56-ba89-4b17-8a35-98ce639cf9b3
    method: GET
  response:
    body: '{"description":"","error_message":null,"function_id":"1df7e149-9da2-48d6-a4ba-e72de89d8de6","id":"e42d1e56-ba89-4b17-8a35-98ce639cf9b3","input_type":"scw_sqs","name":"test-function-trigger-sqs","scw_sqs_config":{"mnq_credential_id":null,"mnq_namespace_id":"","mnq_project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","mnq_region":"fr-par","queue":"TestQueue"},"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-08fb8b16-d75b-48e1-8d99-83140acd60fd%2FTestQueue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-08fb8b16-d75b-48e1-8d99-83140acd60fd/TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T093040Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx6cf68b7e-03da-4340-bdc3-8cdddf839a01</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=TestQueue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - TestQueue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231018T093040Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;TestQueue&#34; does not exist.</Message>
          </Error>
          <RequestId>txbdc0c279-4b72-4253-a566-610485f0c79b</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers/e42d1e56-ba89-4b17-8a35-98ce639cf9b3
    method: GET
  response:
    body: '{"message":"trigger does not exist"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"08fb8b16-d75b-48e1-8d99-83140acd60fd","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
