---
version: 1
interactions:
- request:
    body: '{"name":"tf-func--nervous-hertz","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"a9d3cb91-4b18-46b9-918f-494d0e931679","name":"tf-func--nervous-hertz","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/a9d3cb91-4b18-46b9-918f-494d0e931679
    method: GET
  response:
    body: '{"id":"a9d3cb91-4b18-46b9-918f-494d0e931679","name":"tf-func--nervous-hertz","environment_variables":{},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"foobar","namespace_id":"a9d3cb91-4b18-46b9-918f-494d0e931679","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"0ac9f842-bb96-4901-a3ba-367fd5b356e7","name":"foobar","namespace_id":"a9d3cb91-4b18-46b9-918f-494d0e931679","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncnervoushertzleitfjol-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/0ac9f842-bb96-4901-a3ba-367fd5b356e7
    method: GET
  response:
    body: '{"id":"0ac9f842-bb96-4901-a3ba-367fd5b356e7","name":"foobar","namespace_id":"a9d3cb91-4b18-46b9-918f-494d0e931679","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncnervoushertzleitfjol-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/a9d3cb91-4b18-46b9-918f-494d0e931679
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
