---
version: 1
interactions:
- request:
    body: '{"name":"tf-env-test","environment_variables":{"test":"test"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"ba824e5e-e8a7-4f7d-b1e7-c5b77c1565e5","name":"tf-env-test","environment_variables":{"test":"test"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ba824e5e-e8a7-4f7d-b1e7-c5b77c1565e5
    method: GET
  response:
    body: '{"id":"ba824e5e-e8a7-4f7d-b1e7-c5b77c1565e5","name":"tf-env-test","environment_variables":{"test":"test"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ba824e5e-e8a7-4f7d-b1e7-c5b77c1565e5
    method: PATCH
  response:
    body: '{"id":"ba824e5e-e8a7-4f7d-b1e7-c5b77c1565e5","name":"tf-env-test","environment_variables":{"foo":"bar"},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","registry_namespace_id":"a4f51f41-920b-475e-859a-8d846b69b1b1","error_message":null,"registry_endpoint":"rg.fr-par.scw.cloud/funcscwtfenvtestb1kiorns","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/ba824e5e-e8a7-4f7d-b1e7-c5b77c1565e5
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
