---
version: 1
interactions:
- request:
    body: '{"name":"tf-func--sharp-ramanujan","environment_variables":{},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"0b7f40c6-2e40-4675-9a7e-bd8d74847e44","name":"tf-func--sharp-ramanujan","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0b7f40c6-2e40-4675-9a7e-bd8d74847e44
    method: GET
  response:
    body: '{"id":"0b7f40c6-2e40-4675-9a7e-bd8d74847e44","name":"tf-func--sharp-ramanujan","environment_variables":{},"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"foobar","namespace_id":"0b7f40c6-2e40-4675-9a7e-bd8d74847e44","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null,"http_option":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"803e4fda-823c-42d7-a821-0e0c253134df","name":"foobar","namespace_id":"0b7f40c6-2e40-4675-9a7e-bd8d74847e44","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"tffuncsharpramanujanyjpavyo2-foobar.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/803e4fda-823c-42d7-a821-0e0c253134df
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
