---
version: 1
interactions:
- request:
    body: '{"name":"test-cron","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"f605d37f-f7ac-4cc8-82e8-e6f1cca99a9e","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f605d37f-f7ac-4cc8-82e8-e6f1cca99a9e
    method: GET
  response:
    body: '{"id":"f605d37f-f7ac-4cc8-82e8-e6f1cca99a9e","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cron","namespace_id":"f605d37f-f7ac-4cc8-82e8-e6f1cca99a9e","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"2e75ba06-0ef7-40ad-b5a6-43a1f4f3fb02","name":"test-cron","namespace_id":"f605d37f-f7ac-4cc8-82e8-e6f1cca99a9e","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcronu7bupyih-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/2e75ba06-0ef7-40ad-b5a6-43a1f4f3fb02
    method: GET
  response:
    body: '{"id":"2e75ba06-0ef7-40ad-b5a6-43a1f4f3fb02","name":"test-cron","namespace_id":"f605d37f-f7ac-4cc8-82e8-e6f1cca99a9e","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcronu7bupyih-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"2e75ba06-0ef7-40ad-b5a6-43a1f4f3fb02","schedule":"0 0 *
      * *","args":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"cb77efff-5117-41c4-8889-d12ed2072695","function_id":"2e75ba06-0ef7-40ad-b5a6-43a1f4f3fb02","schedule":"0
      0 * * *","args":{},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/cb77efff-5117-41c4-8889-d12ed2072695
    method: GET
  response:
    body: '{"id":"cb77efff-5117-41c4-8889-d12ed2072695","function_id":"2e75ba06-0ef7-40ad-b5a6-43a1f4f3fb02","schedule":"0
      0 * * *","args":{},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/f605d37f-f7ac-4cc8-82e8-e6f1cca99a9e
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
