---
version: 1
interactions:
- request:
    body: '{"name":"test-function-token-ns","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","name":"test-function-token-ns","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","name":"test-function-token-ns","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","description":null,"expires_at":"2023-01-05T13:53:11+01:00"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
    method: POST
  response:
    body: '{"description":"","expires_at":"2023-01-05T12:53:11Z","id":"d8582c3f-6113-4da5-b210-2d97ed508cfb","namespace_id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","public_key":"-----BEGIN
      RSA PUBLIC KEY-----\nMIICCgKCAgEAwJM9Aba3r9xqzl86midauK4QGJDbTD7NeWVMuJoctaCkEKa3M25u\nztQXnCPwvjWZwUTW8KiB9z7TOAQkeMC/tpuL7VoLR+X0WvdYf64R5RuZiUTunQ/I\nnZ0RsKY+qvD8+AFwOR6ahACgBmaaAMA3zTp2IHOAV5QRC1L2xtrbt8bZ4D6x88dQ\n5m+kiVbH+xAmrbEf1aaRjxj0QfySicsAN/rKH+d9NuDYHpeKKZpr1ifyQ9jYjjyw\nQBA+8omxcri+fevaAFO7RPZwDmCe1hCD8nmb0trMTt3p/DtgcTA7t0JkVZiwBIEo\nZmG7Zd9LcVR8swQVbmbBJ2AEMdoluBUcORVVXSj03BU2dnUAWb3lvWcpGXMozT5X\nR8n/hZSA/Xe5MVZsXh2fShmzo7PIc31TMkRKYD9B9FODJBdrYw0XuSaQY08wBvJN\nOWfRPspN20AoSV/oMhWr4YudCuFZAoN8qVVYTYUWYjMrkEv+WwFtCUkUhgMP6wef\nS0Fbf0q3bSYw2Z+Uwwrv92Y48f5MBX+/nlEDZp27VRs7pnxvTekAeKA4jUHkAW7F\nl5/gvsFT/SmanC3nH10zUjzika9ILwW6oeFLtKoGszPTLJDfCEC1W6hT+51jmCeD\nEAwrObDYWEvTRCDeyZRtViKv1nbmt8rdy8JyuFMc9d4RfHBOsi7pCRkCAwEAAQ==\n-----END
      RSA PUBLIC KEY-----\n","status":"creating","token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiOWU4YTdmZDctNGVlMy00NzEzLThmZGQtMTBjZDBmZTE3MmEzIiwiYXBwbGljYXRpb25faWQiOiIifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImV4cCI6MTY3MjkyMzE5MSwianRpIjoiZDg1ODJjM2YtNjExMy00ZGE1LWIyMTAtMmQ5N2VkNTA4Y2ZiIiwiaWF0IjoxNjcyODM2ODE3LCJpc3MiOiJTQ0FMRVdBWSIsIm5iZiI6MTY3MjgzNjgxNywic3ViIjoidG9rZW4ifQ.GM2ZcfwUSgn2AqF_n_GDKDtUjfEn5sh7nMoCT0C5-YcY3pdy9vUSyMglZJMIk-LRbHHuJmEiOFcGis3CwHaq5l0A8fj_CbvC7SQ0aWHxkmCK_a4kaFRzaI--TTEf7l1Q7y6oNSQwPFQxLop2vDAHhz8tDmL-VdE9gkITpXrotMP5CksFx8aY55yg1l2iCzOZC1Vnbc8p9ZdfvHyse0sOEotCFiSLBsPeJBD0pyqNWYf5bj-eoETs6lKBGwuOm8dy1Nj3jCbDm5DvqL6yTYhkXWYb0RvSurszGQltRijSMezAq21up65JLlKGyxyIFdaQgs1Lxn-sZRkfkAL9NkjYD5njpK4T80boe0SNfD-hc6ODYZkCYV4clGoJG3FLSCT1FXe4N1lOUgMtWLrCJWtpbAx3Kjsm-l5pG_oJThAhjSZDA2QuBKIuRkPx9DorW_lvoNY7R-7Jrchs1JVCD9eQOhX6CoZ6tYVb8_zqWLuNwGNJ1UkGSk1q7dbbeWn1KMttx5mfZAVX-2N3L0cV-8zR-hTZmCUe5EZy4qLn3-jD7HU9ZgXSE99iXdsLAmjsz3R5Foy5HsqbEW747i97Gg7N1CAfmwyckXDRo59y-2f7ET7TGSOQ3_VRJC3xy9CuQZgNq8d3gdvFYYQCYj42OsnKiWui63Ad33S1E33WdBqyMG4"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens/d8582c3f-6113-4da5-b210-2d97ed508cfb
    method: GET
  response:
    body: '{"description":"","expires_at":"2023-01-05T12:53:11Z","id":"d8582c3f-6113-4da5-b210-2d97ed508cfb","namespace_id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","public_key":"","status":"creating","token":"\u003chidden\u003e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-func-crazy-spence","namespace_id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"testfunctiontokennskfwgpzjz-tf-func-crazy-spence.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"6fc08a84-02bc-47a6-b637-9aa9b6323d1b","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-crazy-spence","namespace_id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/6fc08a84-02bc-47a6-b637-9aa9b6323d1b
    method: GET
  response:
    body: '{"cpu_limit":70,"description":"","domain_name":"testfunctiontokennskfwgpzjz-tf-func-crazy-spence.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"6fc08a84-02bc-47a6-b637-9aa9b6323d1b","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-func-crazy-spence","namespace_id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"6fc08a84-02bc-47a6-b637-9aa9b6323d1b","description":null,"expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/tokens
    method: POST
  response:
    body: '{"description":"","expires_at":null,"function_id":"6fc08a84-02bc-47a6-b637-9aa9b6323d1b","id":"eb3c32a0-136c-4050-8c2f-feba73f279e2","public_key":"-----BEGIN
      RSA PUBLIC KEY-----\nMIICCgKCAgEAwJM9Aba3r9xqzl86midauK4QGJDbTD7NeWVMuJoc[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/d8582c3f-6113-4da5-b210-2d97ed508cfb
    method: DELETE
  response:
    body: '{"description":"","expires_at":"2023-01-05T12:53:11Z","id":"d8582c3f-6113-4da5-b210-2d97ed508cfb","namespace_id":"9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3","public_key":"","status":"deleting","token":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/containers/v1beta1/regions/fr-par/tokens/eb3c32a0-136c-4050-8c2f-feba73f279e2
    method: DELETE
  response:
    body: '{"container_id":"6fc08a84-02bc-47a6-b637-9aa9b6323d1b","description":"","expires_at":null,"id":"eb3c32a0-136c-4050-8c2f-feba73f279e2","public_key":"","status":"deleting","token":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/9e8a7fd7-4ee3-4713-8fdd-10cd0fe172a3
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
