---
version: 1
interactions:
- request:
    body: '{"name":"test-function-trigger-basic","environment_variables":{},"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null,"secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"fe3dacdd-6deb-4bd4-a80b-53d4b6f4e5b3","name":"test-function-trigger-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/fe3dacdd-6deb-4bd4-a80b-53d4b6f4e5b3
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"fe3dacdd-6deb-4bd4-a80b-53d4b6f4e5b3","name":"test-function-trigger-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-function-trigger-basic","protocol":"nats","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-04-25T13:36:34.351566410Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"AC45XXAFNBU3KBJESZXUW47VOGBNCDI4VXMK4LGA2N627ZS6KHJK2ZRF","name":"test-function-trigger-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"nats","region":"fr-par","updated_at":"2023-04-25T13:36:34.351566410Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AC45XXAFNBU3KBJESZXUW47VOGBNCDI4VXMK4LGA2N627ZS6KHJK2ZRF
    method: GET
  response:
    body: '{"created_at":"2023-04-25T13:36:34.351566Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"AC45XXAFNBU3KBJESZXUW47VOGBNCDI4VXMK4LGA2N627ZS6KHJK2ZRF","name":"test-function-trigger-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","protocol":"nats","region":"fr-par","updated_at":"2023-04-25T13:36:34.351566Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-basic","namespace_id":"fe3dacdd-6deb-4bd4-a80b-53d4b6f4e5b3","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerbolg2iwi8-test-function-trigger-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"339fe069-08e5-4a3d-97c6-3f2155795a57","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-basic","namespace_id":"fe3dacdd-6deb-4bd4-a80b-53d4b6f4e5b3","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/339fe069-08e5-4a3d-97c6-3f2155795a57
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"testfunctiontriggerbolg2iwi8-test-function-trigger-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"339fe069-08e5-4a3d-97c6-3f2155795a57","max_scale":20,"memory_limit":128,"min_scale":0,"name":"test-function-trigger-basic","namespace_id":"fe3dacdd-6deb-4bd4-a80b-53d4b6f4e5b3","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-function-trigger-basic","description":null,"function_id":"339fe069-08e5-4a3d-97c6-3f2155795a57","scw_nats_config":{"mnq_namespace_id":"fr-par/AC45XXAFNBU3KBJESZXUW47VOGBNCDI4VXMK4LGA2N627ZS6KHJK2ZRF","subject":"somesubject","mnq_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","mnq_region":"fr-par"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/triggers
    method: POST
  response:
    body: '{"message":"rpc error: code = Unimplemented desc = trigger type not implemented
      yet: scw nats"}'
    headers:
      Content-Type:
      - application/json
    status: 501 Not Implemented
    code: 501
    duration: ""
[...]
