---
version: 1
interactions:
- request:
    body: '{"name":"tf-func-friendly-raman","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"b1de421e-13e6-44f6-9ffc-1ecb68f772d9","name":"tf-func-friendly-raman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b1de421e-13e6-44f6-9ffc-1ecb68f772d9
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"b1de421e-13e6-44f6-9ffc-1ecb68f772d9","name":"tf-func-friendly-raman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-func-env","namespace_id":"b1de421e-13e6-44f6-9ffc-1ecb68f772d9","environment_variables":{"test":"test"},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[{"key":"test_secret","value":"test_secret"}],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncfriendlyramanaaeiiym7-tf-tests-func-env.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"299bdc11-6128-4f67-b9bc-cc853d9b4040","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-func-env","namespace_id":"b1de421e-13e6-44f6-9ffc-1ecb68f772d9","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$sOukZHyHATxVRz/P02/C1A$Uk/4ccwwEEFpsrWMvFi+s+yoIalD5h9v/UBjgSYEbz0","key":"test_secret"}],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/299bdc11-6128-4f67-b9bc-cc853d9b4040
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncfriendlyramanaaeiiym7-tf-tests-func-env.functions.fnc.fr-par.scw.cloud","environment_variables":{"test":"test"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"299bdc11-6128-4f67-b9bc-cc853d9b4040","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-func-env","namespace_id":"b1de421e-13e6-44f6-9ffc-1ecb68f772d9","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$sOukZHyHATxVRz/P02/C1A$Uk/4ccwwEEFpsrWMvFi+s+yoIalD5h9v/UBjgSYEbz0","key":"test_secret"}],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"environment_variables":{"foo":"bar"},"runtime":"unknown_runtime","privacy":"unknown_privacy","secret_environment_variables":[{"key":"foo_secret","value":"bar_secret"}],"http_option":"unknown_http_option"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/299bdc11-6128-4f67-b9bc-cc853d9b4040
    method: PATCH
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tffuncfriendlyramanaaeiiym7-tf-tests-func-env.functions.fnc.fr-par.scw.cloud","environment_variables":{"foo":"bar"},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"299bdc11-6128-4f67-b9bc-cc853d9b4040","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-func-env","namespace_id":"b1de421e-13e6-44f6-9ffc-1ecb68f772d9","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$sOukZHyHATxVRz/P02/C1A$Uk/4ccwwEEFpsrWMvFi+s+yoIalD5h9v/UBjgSYEbz0","key":"test_secret"},{"hashed_value":"$argon2id$v=19$m=65536,t=1,p=2$noBG4oNcA8benfRm/+YGZA$C7QKhYra7UEgaI5jBhRQKuhD5DUiA3kAHB6xSb7J6SM","key":"foo_secret"}],"status":"pending","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/b1de421e-13e6-44f6-9ffc-1ecb68f772d9
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
