---
version: 1
interactions:
- request:
    body: '{"name":"test-cron","environment_variables":{},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"0188d6ca-8aee-4622-bbab-4597f07eddd2","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0188d6ca-8aee-4622-bbab-4597f07eddd2
    method: GET
  response:
    body: '{"id":"0188d6ca-8aee-4622-bbab-4597f07eddd2","name":"test-cron","environment_variables":{},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","registry_namespace_id":"","error_message":null,"registry_endpoint":"","description":"","secret_environment_variables":[],"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cron","namespace_id":"0188d6ca-8aee-4622-bbab-4597f07eddd2","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"timeout":null,"handler":"handler.handle","privacy":"private","description":null,"secret_environment_variables":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","name":"test-cron","namespace_id":"0188d6ca-8aee-4622-bbab-4597f07eddd2","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcrontvpemjl6-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/37f1b9fe-0cf9-48df-ae3d-dab0b30b5262
    method: GET
  response:
    body: '{"id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","name":"test-cron","namespace_id":"0188d6ca-8aee-4622-bbab-4597f07eddd2","status":"created","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"cpu_limit":70,"timeout":"300s","handler":"handler.handle","error_message":null,"privacy":"private","description":"","domain_name":"testcrontvpemjl6-test-cron.functions.fnc.fr-par.scw.cloud","secret_environment_variables":[],"http_option":"","runtime_message":"","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","schedule":"0 0 *
      * *","args":{"test":"scw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"63a5bbd9-3d0d-4801-b046-ff16a6cbcfa4","function_id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","schedule":"0
      0 * * *","args":{"test":"scw"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"function_id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","schedule":"0 1 *
      * *","args":{"my_var":"terraform"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"id":"0129fcf5-a1a5-42d4-93d0-2e2c93a9fb3e","function_id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","schedule":"0
      1 * * *","args":{"my_var":"terraform"},"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/63a5bbd9-3d0d-4801-b046-ff16a6cbcfa4
    method: GET
  response:
    body: '{"id":"63a5bbd9-3d0d-4801-b046-ff16a6cbcfa4","function_id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","schedule":"0
      0 * * *","args":{"test":"scw"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":null,"schedule":"1 1 * * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/63a5bbd9-3d0d-4801-b046-ff16a6cbcfa4
    method: PATCH
  response:
    body: '{"id":"63a5bbd9-3d0d-4801-b046-ff16a6cbcfa4","function_id":"37f1b9fe-0cf9-48df-ae3d-dab0b30b5262","schedule":"1
      1 * * *","args":{"address":{"city":"Paris","country":"FR"},"age":23,"firstName":"John","isAlive":true,"lastName":"Smith"},"status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/0188d6ca-8aee-4622-bbab-4597f07eddd2
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
