---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-function-cron-basic","environment_variables":{},"project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","secret_environment_variables":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"6a909978-dc7a-4cb7-adea-5fe700fcc57e","name":"tf-tests-function-cron-basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/6a909978-dc7a-4cb7-adea-5fe700fcc57e
    method: GET
  response:
    body: '{"description":"","environment_variables":{},"error_message":null,"id":"6a909978-dc7a-4cb7-adea-5fe700fcc57e","name":"tf-tests-function-cron-basic","organization_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","project_id":"46fd79d8-1a35-4548-bfb8-03df51a0ebae","region":"fr-par","registry_endpoint":"","registry_namespace_id":"","secret_environment_variables":[],"status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-tests-cron-basic","namespace_id":"6a909978-dc7a-4cb7-adea-5fe700fcc57e","environment_variables":{},"min_scale":0,"max_scale":20,"runtime":"node14","memory_limit":128,"handler":"handler.handle","privacy":"private","secret_environment_variables":[],"http_option":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions
    method: POST
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronbb4qw0bdz-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"78656542-1e8a-4af9-860a-b83d273a9f1f","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"6a909978-dc7a-4cb7-adea-5fe700fcc57e","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/functions/78656542-1e8a-4af9-860a-b83d273a9f1f
    method: GET
  response:
    body: '{"build_message":null,"cpu_limit":70,"description":"","domain_name":"tftestsfunctioncronbb4qw0bdz-tf-tests-cron-basic.functions.fnc.fr-par.scw.cloud","environment_variables":{},"error_message":null,"handler":"handler.handle","http_option":"enabled","id":"78656542-1e8a-4af9-860a-b83d273a9f1f","max_scale":20,"memory_limit":128,"min_scale":0,"name":"tf-tests-cron-basic","namespace_id":"6a909978-dc7a-4cb7-adea-5fe700fcc57e","privacy":"private","region":"fr-par","runtime":"node14","runtime_message":"","secret_environment_variables":[],"status":"created","timeout":"300s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"function_id":"78656542-1e8a-4af9-860a-b83d273a9f1f","schedule":"0 0 *
      * *","args":{},"name":"tf-tests-cron-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons
    method: POST
  response:
    body: '{"args":{},"function_id":"78656542-1e8a-4af9-860a-b83d273a9f1f","id":"b18e431c-11d3-4f2e-9c9c-7b49084533be","name":"tf-tests-cron-basic","schedule":"0
      0 * * *","status":"pending"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/crons/b18e431c-11d3-4f2e-9c9c-7b49084533be
    method: GET
  response:
    body: '{"args":{},"function_id":"78656542-1e8a-4af9-860a-b83d273a9f1f","id":"b18e431c-11d3-4f2e-9c9c-7b49084533be","name":"tf-tests-cron-basic","schedule":"0
      0 * * *","status":"ready"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/functions/v1beta1/regions/fr-par/namespaces/6a909978-dc7a-4cb7-adea-5fe700fcc57e
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
