---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"c632a9b3-7f04-49c6-a230-31882d7b31c5","name":"first app","description":"","created_at":"2022-06-28T12:20:50.279080Z","updated_at":"2022-06-28T12:20:50.279080Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c632a9b3-7f04-49c6-a230-31882d7b31c5
    method: GET
  response:
    body: '{"id":"c632a9b3-7f04-49c6-a230-31882d7b31c5","name":"first app","description":"","created_at":"2022-06-28T12:20:50.279080Z","updated_at":"2022-06-28T12:20:50.279080Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"a28ac2da-6005-4a25-9625-7bae51b62f9b","created_at":"2022-06-28T12:20:50.437589Z","updated_at":"2022-06-28T12:20:50.437589Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["c632a9b3-7f04-49c6-a230-31882d7b31c5"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a28ac2da-6005-4a25-9625-7bae51b62f9b/principals
    method: PUT
  response:
    body: '{"id":"a28ac2da-6005-4a25-9625-7bae51b62f9b","created_at":"2022-06-28T12:20:50.437589Z","updated_at":"2022-06-28T12:20:50.437589Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["c632a9b3-7f04-49c6-a230-31882d7b31c5"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a28ac2da-6005-4a25-9625-7bae51b62f9b
    method: GET
  response:
    body: '{"id":"a28ac2da-6005-4a25-9625-7bae51b62f9b","created_at":"2022-06-28T12:20:50.437589Z","updated_at":"2022-06-28T12:20:50.437589Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["c632a9b3-7f04-49c6-a230-31882d7b31c5"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a28ac2da-6005-4a25-9625-7bae51b62f9b/principals/194d77a7-b295-496f-92b1-4f2fcbe9c84c
    method: DELETE
  response:
    body: '{"id":"a28ac2da-6005-4a25-9625-7bae51b62f9b","created_at":"2022-06-28T12:20:50.437589Z","updated_at":"2022-06-28T12:20:50.437589Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["00000000-0000-0000-0000-000000000000"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a28ac2da-6005-4a25-9625-7bae51b62f9b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"a28ac2da-6005-4a25-9625-7bae51b62f9b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
