---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_expires_at","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:36:48.480863Z","description":"","editable":true,"id":"8b43420f-f428-4888-8990-ece44d5ce6e1","name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:36:48.480863Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/8b43420f-f428-4888-8990-ece44d5ce6e1
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:36:48.480863Z","description":"","editable":true,"id":"8b43420f-f428-4888-8990-ece44d5ce6e1","name":"tf_tests_app_expires_at","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:36:48.480863Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"8b43420f-f428-4888-8990-ece44d5ce6e1","expires_at":"2025-07-06T09:00:00Z","default_project_id":null,"description":"tf_tests_expires"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWA4C474N0R5HCJ1QJ3","application_id":"8b43420f-f428-4888-8990-ece44d5ce6e1","created_at":"2023-06-21T09:36:48.689632Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T09:36:48.689632Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWA4C474N0R5HCJ1QJ3
    method: GET
  response:
    body: '{"access_key":"SCWA4C474N0R5HCJ1QJ3","application_id":"8b43420f-f428-4888-8990-ece44d5ce6e1","created_at":"2023-06-21T09:36:48.689632Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_expires","editable":true,"expires_at":"2025-07-06T09:00:00Z","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T09:36:48.689632Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWA4C474N0R5HCJ1QJ3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWA4C474N0R5HCJ1QJ3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
