---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"3f3517d2-fa16-4a3f-b708-89efa85a4630","created_at":"2022-06-27T17:14:58.656316Z","updated_at":"2022-06-27T17:14:58.656316Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/3f3517d2-fa16-4a3f-b708-89efa85a4630/principals
    method: PUT
  response:
    body: '{"id":"3f3517d2-fa16-4a3f-b708-89efa85a4630","created_at":"2022-06-27T17:14:58.656316Z","updated_at":"2022-06-27T17:14:58.656316Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/3f3517d2-fa16-4a3f-b708-89efa85a4630
    method: GET
  response:
    body: '{"id":"3f3517d2-fa16-4a3f-b708-89efa85a4630","created_at":"2022-06-27T17:14:58.656316Z","updated_at":"2022-06-27T17:14:58.656316Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/3f3517d2-fa16-4a3f-b708-89efa85a4630/principals/453c1a85-4a10-4c6f-94dc-d3193d4589a5
    method: DELETE
  response:
    body: '{"id":"3f3517d2-fa16-4a3f-b708-89efa85a4630","created_at":"2022-06-27T17:14:58.656316Z","updated_at":"2022-06-27T17:14:58.656316Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["00000000-0000-0000-0000-000000000000"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/3f3517d2-fa16-4a3f-b708-89efa85a4630
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"3f3517d2-fa16-4a3f-b708-89efa85a4630","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
