---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"1b922119-cf9f-4964-8a14-bd9f983c0f50","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:37.697592Z","updated_at":"2022-08-05T12:32:37.697592Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/1b922119-cf9f-4964-8a14-bd9f983c0f50
    method: GET
  response:
    body: '{"id":"1b922119-cf9f-4964-8a14-bd9f983c0f50","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:37.697592Z","updated_at":"2022-08-05T12:32:37.697592Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=1b922119-cf9f-4964-8a14-bd9f983c0f50
    method: GET
  response:
    body: '{"rules":[{"id":"53c87891-af32-4e7f-8ffc-e590e2c0eb61","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"1b922119-cf9f-4964-8a14-bd9f983c0f50","rules":[{"permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"e59635af-89ab-4c4e-887a-ce01590b7d79","permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/1b922119-cf9f-4964-8a14-bd9f983c0f50
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"1b922119-cf9f-4964-8a14-bd9f983c0f50","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
