---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_noupdate","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"dd54d21f-22f6-43dd-9068-4e17c1cc96f8","name":"tf_tests_app_noupdate","description":"","created_at":"2022-06-24T09:51:21.363729Z","updated_at":"2022-06-24T09:51:21.363729Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/dd54d21f-22f6-43dd-9068-4e17c1cc96f8
    method: GET
  response:
    body: '{"id":"dd54d21f-22f6-43dd-9068-4e17c1cc96f8","name":"tf_tests_app_noupdate","description":"","created_at":"2022-06-24T09:51:21.363729Z","updated_at":"2022-06-24T09:51:21.363729Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/dd54d21f-22f6-43dd-9068-4e17c1cc96f8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"application","resource_id":"dd54d21f-22f6-43dd-9068-4e17c1cc96f8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
