---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=dd5b8103-52ef-40b6-b157-35a426650401&page=1
    method: GET
  response:
    body: '{"users":[{"id":"af194b1f-55a7-43f2-b61c-22a0268559e3","email":"developer-tools-team@scaleway.com","created_at":"2022-03-28T09:26:12.819104Z","updated_at":"2022-07-04T09:49:36.078740Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","deletable":false,"last_login_at":"2022-07-04T09:49:36.093758Z","type":"owner","two_factor_enabled":false,"status":"activated"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"af194b1f-55a7-43f2-b61c-22a0268559e3","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW78GA6DFNN3H4M328W","secret_key":"e6dba798-df85-45bd-b98b-f55a27da9cbf","description":"a
      description","created_at":"2022-07-06T15:45:16.047585Z","updated_at":"2022-07-06T15:45:16.047585Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","user_id":"af194b1f-55a7-43f2-b61c-22a0268559e3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW78GA6DFNN3H4M328W
    method: GET
  response:
    body: '{"access_key":"SCW78GA6DFNN3H4M328W","secret_key":null,"description":"a
      description","created_at":"2022-07-06T15:45:16.047585Z","updated_at":"2022-07-06T15:45:16.047585Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","user_id":"af194b1f-55a7-43f2-b61c-22a0268559e3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/af194b1f-55a7-43f2-b61c-22a0268559e3
    method: GET
  response:
    body: '{"id":"af194b1f-55a7-43f2-b61c-22a0268559e3","email":"developer-tools-team@scaleway.com","created_at":"2022-03-28T09:26:12.819104Z","updated_at":"2022-07-04T09:49:36.078740Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","deletable":false,"last_login_at":"2022-07-04T09:49:36.093758Z","type":"owner","two_factor_enabled":false,"status":"activated"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW78GA6DFNN3H4M328W
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW78GA6DFNN3H4M328W","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
