---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_noupdate","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"34ad2b5e-26d5-4833-8227-21a4a6c01398","name":"tf_tests_app_noupdate","description":"","created_at":"2022-07-06T15:32:33.660813Z","updated_at":"2022-07-06T15:32:33.660813Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/34ad2b5e-26d5-4833-8227-21a4a6c01398
    method: GET
  response:
    body: '{"id":"34ad2b5e-26d5-4833-8227-21a4a6c01398","name":"tf_tests_app_noupdate","description":"","created_at":"2022-07-06T15:32:33.660813Z","updated_at":"2022-07-06T15:32:33.660813Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"34ad2b5e-26d5-4833-8227-21a4a6c01398","expires_at":null,"default_project_id":null,"description":"no
      update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWT7D41D5TQHTG12DQW","secret_key":"27a412b8-5a54-44e0-b41a-3eb585dec71a","description":"no
      update","created_at":"2022-07-06T15:32:33.833704Z","updated_at":"2022-07-06T15:32:33.833704Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","application_id":"34ad2b5e-26d5-4833-8227-21a4a6c01398"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT7D41D5TQHTG12DQW
    method: GET
  response:
    body: '{"access_key":"SCWT7D41D5TQHTG12DQW","secret_key":null,"description":"no
      update","created_at":"2022-07-06T15:32:33.833704Z","updated_at":"2022-07-06T15:32:33.833704Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","application_id":"34ad2b5e-26d5-4833-8227-21a4a6c01398"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWT7D41D5TQHTG12DQW
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWT7D41D5TQHTG12DQW","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
