---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_key_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-01T10:11:10.903781Z","description":"","editable":true,"id":"0066d548-122d-454b-a6ff-94c05a722b95","name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-01T10:11:10.903781Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/0066d548-122d-454b-a6ff-94c05a722b95
    method: GET
  response:
    body: '{"created_at":"2023-02-01T10:11:10.903781Z","description":"","editable":true,"id":"0066d548-122d-454b-a6ff-94c05a722b95","name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-01T10:11:10.903781Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"0066d548-122d-454b-a6ff-94c05a722b95","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWQS5M9AP197AEFYSMM","application_id":"0066d548-122d-454b-a6ff-94c05a722b95","created_at":"2023-02-01T10:11:11.101751Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a
      description","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-01T10:11:11.101751Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWQS5M9AP197AEFYSMM
    method: GET
  response:
    body: '{"access_key":"SCWQS5M9AP197AEFYSMM","application_id":"0066d548-122d-454b-a6ff-94c05a722b95","created_at":"2023-02-01T10:11:11.101751Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a
      description","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-01T10:11:11.101751Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWQS5M9AP197AEFYSMM
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWQS5M9AP197AEFYSMM","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
