---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T12:13:32.861699Z","description":"","editable":true,"id":"cae65ce4-24a3-49ac-a6c4-800f769994b5","name":"tf_tests_iam_group_app","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.861699Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/cae65ce4-24a3-49ac-a6c4-800f769994b5
    method: GET
  response:
    body: '{"created_at":"2023-06-21T12:13:32.861699Z","description":"","editable":true,"id":"cae65ce4-24a3-49ac-a6c4-800f769994b5","name":"tf_tests_iam_group_app","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.861699Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf_tests_iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T12:13:32.978778Z","description":"","id":"f63b58c8-649f-4f4d-bf3a-dce4bed2ec65","name":"tf_tests_iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.978778Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"user_ids":null,"application_ids":["cae65ce4-24a3-49ac-a6c4-800f769994b5"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/f63b58c8-649f-4f4d-bf3a-dce4bed2ec65/members
    method: PUT
  response:
    body: '{"application_ids":["cae65ce4-24a3-49ac-a6c4-800f769994b5"],"created_at":"2023-06-21T12:13:32.978778Z","description":"","id":"f63b58c8-649f-4f4d-bf3a-dce4bed2ec65","name":"tf_tests_iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.978778Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/f63b58c8-649f-4f4d-bf3a-dce4bed2ec65
    method: GET
  response:
    body: '{"application_ids":["cae65ce4-24a3-49ac-a6c4-800f769994b5"],"created_at":"2023-06-21T12:13:32.978778Z","description":"","id":"f63b58c8-649f-4f4d-bf3a-dce4bed2ec65","name":"tf_tests_iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.978778Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"application_id":"f4bfb863-1ce3-47c3-bb15-17c6ae81e949"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/f63b58c8-649f-4f4d-bf3a-dce4bed2ec65/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T12:13:32.978778Z","description":"","id":"f63b58c8-649f-4f4d-bf3a-dce4bed2ec65","name":"tf_tests_iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.978778Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/f63b58c8-649f-4f4d-bf3a-dce4bed2ec65
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"f63b58c8-649f-4f4d-bf3a-dce4bed2ec65","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
