---
version: 1
interactions:
- request:
    body: '{"name":"third app","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"65ba93bb-a1d9-4f46-8dfb-ff087b95a986","name":"third app","description":"","created_at":"2022-06-30T14:27:39.330338Z","updated_at":"2022-06-30T14:27:39.330338Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/65ba93bb-a1d9-4f46-8dfb-ff087b95a986
    method: GET
  response:
    body: '{"id":"65ba93bb-a1d9-4f46-8dfb-ff087b95a986","name":"third app","description":"","created_at":"2022-06-30T14:27:39.330338Z","updated_at":"2022-06-30T14:27:39.330338Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"4d400673-a28f-4cf4-ad4c-2bafb5e1fbaf","created_at":"2022-06-30T14:27:39.911195Z","updated_at":"2022-06-30T14:27:39.911195Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["65ba93bb-a1d9-4f46-8dfb-ff087b95a986"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/4d400673-a28f-4cf4-ad4c-2bafb5e1fbaf/members
    method: PUT
  response:
    body: '{"id":"4d400673-a28f-4cf4-ad4c-2bafb5e1fbaf","created_at":"2022-06-30T14:27:39.911195Z","updated_at":"2022-06-30T14:27:39.911195Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["65ba93bb-a1d9-4f46-8dfb-ff087b95a986"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/4d400673-a28f-4cf4-ad4c-2bafb5e1fbaf
    method: GET
  response:
    body: '{"id":"4d400673-a28f-4cf4-ad4c-2bafb5e1fbaf","created_at":"2022-06-30T14:27:39.911195Z","updated_at":"2022-06-30T14:27:39.911195Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["65ba93bb-a1d9-4f46-8dfb-ff087b95a986"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/4d400673-a28f-4cf4-ad4c-2bafb5e1fbaf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"4d400673-a28f-4cf4-ad4c-2bafb5e1fbaf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
