---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"ebde3c3a-3b49-4fcc-ba6d-57e90c7a75b9","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T09:36:50.131779Z","updated_at":"2022-10-03T09:36:50.131779Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/ebde3c3a-3b49-4fcc-ba6d-57e90c7a75b9
    method: GET
  response:
    body: '{"id":"ebde3c3a-3b49-4fcc-ba6d-57e90c7a75b9","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T09:36:50.131779Z","updated_at":"2022-10-03T09:36:50.131779Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=ebde3c3a-3b49-4fcc-ba6d-57e90c7a75b9
    method: GET
  response:
    body: '{"rules":[{"id":"581c2c1c-0b6b-4f4e-833b-73715153ed49","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"fb3bbb32-81ca-49cf-a56a-72a3901f1c74","name":"tf_tests_app_basic","description":"a
      description","created_at":"2022-10-03T09:37:13.369060Z","updated_at":"2022-10-03T09:37:13.369060Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fb3bbb32-81ca-49cf-a56a-72a3901f1c74
    method: GET
  response:
    body: '{"id":"fb3bbb32-81ca-49cf-a56a-72a3901f1c74","name":"tf_tests_app_basic","description":"a
      description","created_at":"2022-10-03T09:37:13.369060Z","updated_at":"2022-10-03T09:37:13.369060Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"application_id":"fb3bbb32-81ca-49cf-a56a-72a3901f1c74"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"4601d5c9-a6ce-4208-b30e-d23271da43c5","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T09:37:13.528724Z","updated_at":"2022-10-03T09:37:13.528724Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"application_id":"fb3bbb32-81ca-49cf-a56a-72a3901f1c74"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"21cd7130-e0a9-4705-bbdb-f181f9e1b046","created_at":"2022-10-03T09:37:15.600850Z","updated_at":"2022-10-03T09:37:15.600850Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["c294f22c-3dcd-41aa-bae5-41fe91b734c4"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/21cd7130-e0a9-4705-bbdb-f181f9e1b046/members
    method: PUT
  response:
    body: '{"id":"21cd7130-e0a9-4705-bbdb-f181f9e1b046","created_at":"2022-10-03T09:37:15.600850Z","updated_at":"2022-10-03T09:37:15.600850Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["c294f22c-3dcd-41aa-bae5-41fe91b734c4"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/21cd7130-e0a9-4705-bbdb-f181f9e1b046
    method: GET
  response:
    body: '{"id":"21cd7130-e0a9-4705-bbdb-f181f9e1b046","created_at":"2022-10-03T09:37:15.600850Z","updated_at":"2022-10-03T09:37:15.600850Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["c294f22c-3dcd-41aa-bae5-41fe91b734c4"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"21cd7130-e0a9-4705-bbdb-f181f9e1b046"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/4601d5c9-a6ce-4208-b30e-d23271da43c5
    method: PATCH
  response:
    body: '{"id":"4601d5c9-a6ce-4208-b30e-d23271da43c5","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T09:37:13.528724Z","updated_at":"2022-10-03T09:37:13.528724Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"group_id":"21cd7130-e0a9-4705-bbdb-f181f9e1b046"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4601d5c9-a6ce-4208-b30e-d23271da43c5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"4601d5c9-a6ce-4208-b30e-d23271da43c5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
