---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"851075c1-3ddf-4a4b-a39a-8f694a537b3e","name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-24T13:37:46.838410Z","updated_at":"2022-06-24T13:37:46.838410Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/851075c1-3ddf-4a4b-a39a-8f694a537b3e
    method: GET
  response:
    body: '{"id":"851075c1-3ddf-4a4b-a39a-8f694a537b3e","name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-24T13:37:46.838410Z","updated_at":"2022-06-24T13:37:46.838410Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/dfbb1bbf-9fd2-4d63-894d-7dab18da9cc4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"dfbb1bbf-9fd2-4d63-894d-7dab18da9cc4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
