---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-5453849265474268961","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:03.802297Z","description":"","id":"44e8f963-0ee7-40b9-a7fd-baf90873e9b5","name":"test-acc-scaleway-project-5453849265474268961","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:03.802297Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-3158437951308004460","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:04.908007Z","description":"","editable":true,"id":"6f35d503-42b4-41cc-bbee-9b52f2e8c6bb","name":"test-acc-scaleway-iam-app-3158437951308004460","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:04.908007Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-8033725762653824882","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"application_id":"6f35d503-42b4-41cc-bbee-9b52f2e8c6bb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"6f35d503-42b4-41cc-bbee-9b52f2e8c6bb","created_at":"2023-02-10T09:04:04.977985Z","description":"","editable":true,"id":"d5506a63-8e60-4ff0-9290-8f68b37a490b","name":"test-acc-scaleway-iam-policy-8033725762653824882","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:04.977985Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"6f35d503-42b4-41cc-bbee-9b52f2e8c6bb","expires_at":null,"default_project_id":"44e8f963-0ee7-40b9-a7fd-baf90873e9b5","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWQN7W9FFRDQ8FH12AG","application_id":"6f35d503-42b4-41cc-bbee-9b52f2e8c6bb","created_at":"2023-02-10T09:04:05.145410Z","creation_ip":"51.159.46.153","default_project_id":"44e8f963-0ee7-40b9-a7fd-baf90873e9b5","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-10T09:04:05.145410Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_changeruleprincipal","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:23.435870Z","description":"a description","editable":true,"id":"1b6a864f-6a3b-48ca-9232-ced2eb577b87","name":"tf_tests_policy_changeruleprincipal","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:23.435870Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/1b6a864f-6a3b-48ca-9232-ced2eb577b87
    method: GET
  response:
    body: '{"created_at":"2023-02-10T09:04:23.435870Z","description":"a description","editable":true,"id":"1b6a864f-6a3b-48ca-9232-ced2eb577b87","name":"tf_tests_policy_changeruleprincipal","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:23.435870Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=1b6a864f-6a3b-48ca-9232-ced2eb577b87
    method: GET
  response:
    body: '{"rules":[{"id":"eb3abc15-53d4-4ef7-96e6-350366762faa","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"1b6a864f-6a3b-48ca-9232-ced2eb577b87","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"360dd016-3746-483a-8cc7-b77fc03bb57d","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWQN7W9FFRDQ8FH12AG
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/6f35d503-42b4-41cc-bbee-9b52f2e8c6bb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/44e8f963-0ee7-40b9-a7fd-baf90873e9b5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/1b6a864f-6a3b-48ca-9232-ced2eb577b87
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"1b6a864f-6a3b-48ca-9232-ced2eb577b87","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
