---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"92c80ce6-6792-46f2-8d8f-3779124a7667","name":"tf_tests_app_basic","description":"","created_at":"2022-09-30T14:55:11.096726Z","updated_at":"2022-09-30T14:55:11.096726Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/92c80ce6-6792-46f2-8d8f-3779124a7667
    method: GET
  response:
    body: '{"id":"92c80ce6-6792-46f2-8d8f-3779124a7667","name":"tf_tests_app_basic","description":"","created_at":"2022-09-30T14:55:11.096726Z","updated_at":"2022-09-30T14:55:11.096726Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"92c80ce6-6792-46f2-8d8f-3779124a7667","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWBG9HN4C9JJRY5Z63H","secret_key":"fcdb47bb-e750-4c5d-bdeb-41260d41f0e7","description":"a
      description","created_at":"2022-09-30T14:55:11.236730Z","updated_at":"2022-09-30T14:55:11.236730Z","expires_at":null,"default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"92c80ce6-6792-46f2-8d8f-3779124a7667"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWBG9HN4C9JJRY5Z63H
    method: GET
  response:
    body: '{"access_key":"SCWBG9HN4C9JJRY5Z63H","secret_key":null,"description":"a
      description","created_at":"2022-09-30T14:55:11.236730Z","updated_at":"2022-09-30T14:55:11.236730Z","expires_at":null,"default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"92c80ce6-6792-46f2-8d8f-3779124a7667"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWBG9HN4C9JJRY5Z63H
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWBG9HN4C9JJRY5Z63H","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
