---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"d2eacf12-0fac-4118-98d0-2199b39ae40b","name":"tf_tests_policy_projectid","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T13:33:46.504398Z","updated_at":"2022-07-06T13:33:46.504398Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d2eacf12-0fac-4118-98d0-2199b39ae40b
    method: GET
  response:
    body: '{"id":"d2eacf12-0fac-4118-98d0-2199b39ae40b","name":"tf_tests_policy_projectid","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T13:33:46.504398Z","updated_at":"2022-07-06T13:33:46.504398Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d2eacf12-0fac-4118-98d0-2199b39ae40b
    method: GET
  response:
    body: '{"rules":[{"id":"5a3aa36f-bfe8-45cf-a924-7ff9697c269c","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d2eacf12-0fac-4118-98d0-2199b39ae40b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"d2eacf12-0fac-4118-98d0-2199b39ae40b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
