---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_expires_at","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"b8308642-fca2-4d15-aeeb-616e82190d25","name":"tf_tests_app_expires_at","description":"","created_at":"2022-07-06T15:32:33.667350Z","updated_at":"2022-07-06T15:32:33.667350Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b8308642-fca2-4d15-aeeb-616e82190d25
    method: GET
  response:
    body: '{"id":"b8308642-fca2-4d15-aeeb-616e82190d25","name":"tf_tests_app_expires_at","description":"","created_at":"2022-07-06T15:32:33.667350Z","updated_at":"2022-07-06T15:32:33.667350Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"b8308642-fca2-4d15-aeeb-616e82190d25","expires_at":"2025-07-06T09:00:00Z","default_project_id":null,"description":"an
      api key with an expiration date"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWEG4XGDR8EA5H2JX8K","secret_key":"80354a56-d35a-440b-affb-5ff0a7aa61ff","description":"an
      api key with an expiration date","created_at":"2022-07-06T15:32:33.849309Z","updated_at":"2022-07-06T15:32:33.849309Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","application_id":"b8308642-fca2-4d15-aeeb-616e82190d25"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEG4XGDR8EA5H2JX8K
    method: GET
  response:
    body: '{"access_key":"SCWEG4XGDR8EA5H2JX8K","secret_key":null,"description":"an
      api key with an expiration date","created_at":"2022-07-06T15:32:33.849309Z","updated_at":"2022-07-06T15:32:33.849309Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","application_id":"b8308642-fca2-4d15-aeeb-616e82190d25"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEG4XGDR8EA5H2JX8K
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWEG4XGDR8EA5H2JX8K","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
