---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_expires_at","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"c42c1b38-9b9c-478a-9bb1-e2ac478d1d92","name":"tf_tests_app_expires_at","description":"","created_at":"2022-09-30T14:41:33.087736Z","updated_at":"2022-09-30T14:41:33.087736Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c42c1b38-9b9c-478a-9bb1-e2ac478d1d92
    method: GET
  response:
    body: '{"id":"c42c1b38-9b9c-478a-9bb1-e2ac478d1d92","name":"tf_tests_app_expires_at","description":"","created_at":"2022-09-30T14:41:33.087736Z","updated_at":"2022-09-30T14:41:33.087736Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"c42c1b38-9b9c-478a-9bb1-e2ac478d1d92","expires_at":"2025-07-06T09:00:00Z","default_project_id":null,"description":"an
      api key with an expiration date"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW66YWC3TCT6988QCY9","secret_key":"bb818124-68d3-4058-8480-a5fff5f79680","description":"an
      api key with an expiration date","created_at":"2022-09-30T14:41:33.235864Z","updated_at":"2022-09-30T14:41:33.235864Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"c42c1b38-9b9c-478a-9bb1-e2ac478d1d92"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW66YWC3TCT6988QCY9
    method: GET
  response:
    body: '{"access_key":"SCW66YWC3TCT6988QCY9","secret_key":null,"description":"an
      api key with an expiration date","created_at":"2022-09-30T14:41:33.235864Z","updated_at":"2022-09-30T14:41:33.235864Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"c42c1b38-9b9c-478a-9bb1-e2ac478d1d92"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW66YWC3TCT6988QCY9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW66YWC3TCT6988QCY9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
