---
version: 1
interactions:
- request:
    body: '{"name":"third app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"5141cc8d-0d50-42d0-8a47-7aafb5129f13","name":"third app","description":"","created_at":"2022-06-28T12:20:50.274408Z","updated_at":"2022-06-28T12:20:50.274408Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/5141cc8d-0d50-42d0-8a47-7aafb5129f13
    method: GET
  response:
    body: '{"id":"5141cc8d-0d50-42d0-8a47-7aafb5129f13","name":"third app","description":"","created_at":"2022-06-28T12:20:50.274408Z","updated_at":"2022-06-28T12:20:50.274408Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"fc0c7864-0bda-4305-8ee0-4b9a3395a215","created_at":"2022-06-28T12:20:50.435312Z","updated_at":"2022-06-28T12:20:50.435312Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["5141cc8d-0d50-42d0-8a47-7aafb5129f13"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/fc0c7864-0bda-4305-8ee0-4b9a3395a215/principals
    method: PUT
  response:
    body: '{"id":"fc0c7864-0bda-4305-8ee0-4b9a3395a215","created_at":"2022-06-28T12:20:50.435312Z","updated_at":"2022-06-28T12:20:50.435312Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["5141cc8d-0d50-42d0-8a47-7aafb5129f13"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/fc0c7864-0bda-4305-8ee0-4b9a3395a215
    method: GET
  response:
    body: '{"id":"fc0c7864-0bda-4305-8ee0-4b9a3395a215","created_at":"2022-06-28T12:20:50.435312Z","updated_at":"2022-06-28T12:20:50.435312Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["5141cc8d-0d50-42d0-8a47-7aafb5129f13"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/fc0c7864-0bda-4305-8ee0-4b9a3395a215/principals/4ad85ef4-2471-4e4a-87dc-4f1d3b328df2
    method: DELETE
  response:
    body: '{"id":"fc0c7864-0bda-4305-8ee0-4b9a3395a215","created_at":"2022-06-28T12:20:50.435312Z","updated_at":"2022-06-28T12:20:50.435312Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f","0afd8f94-eaf1-4949-9dcb-9ae5f4bc1017"],"application_ids":["00000000-0000-0000-0000-000000000000"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/fc0c7864-0bda-4305-8ee0-4b9a3395a215
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"fc0c7864-0bda-4305-8ee0-4b9a3395a215","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
