---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-6621213047737086517","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:33.472981Z","description":"","id":"8f210673-520d-42f8-ace8-a8d9b7900060","name":"test-acc-scaleway-project-6621213047737086517","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:33.472981Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-3306751031944999937","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:34.587548Z","description":"","editable":true,"id":"9e7a1b5c-7da3-4047-bf78-e8d0ee56d14f","name":"test-acc-scaleway-iam-app-3306751031944999937","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:34.587548Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-877317279587067474","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"application_id":"9e7a1b5c-7da3-4047-bf78-e8d0ee56d14f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"9e7a1b5c-7da3-4047-bf78-e8d0ee56d14f","created_at":"2023-07-19T13:37:35.491891Z","description":"","editable":true,"id":"4b91d8d0-11fa-444a-a76a-fa8c515b87b0","name":"test-acc-scaleway-iam-policy-877317279587067474","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:35.491891Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"9e7a1b5c-7da3-4047-bf78-e8d0ee56d14f","expires_at":null,"default_project_id":"8f210673-520d-42f8-ace8-a8d9b7900060","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWSPA5SC5RFZRH360V5","application_id":"9e7a1b5c-7da3-4047-bf78-e8d0ee56d14f","created_at":"2023-07-19T13:37:36.708969Z","creation_ip":"51.159.73.9","default_project_id":"8f210673-520d-42f8-ace8-a8d9b7900060","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T13:37:36.708969Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"]}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:38.976909Z","description":"a description","editable":true,"id":"f2b44aa3-0610-4125-91b4-a23179beb34b","name":"tf_tests_policy_projectid","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.976909Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/f2b44aa3-0610-4125-91b4-a23179beb34b
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:37:38.976909Z","description":"a description","editable":true,"id":"f2b44aa3-0610-4125-91b4-a23179beb34b","name":"tf_tests_policy_projectid","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.976909Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=f2b44aa3-0610-4125-91b4-a23179beb34b
    method: GET
  response:
    body: '{"rules":[{"id":"b67c1e76-5867-405c-812b-ba7ea4f4257c","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWSPA5SC5RFZRH360V5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/9e7a1b5c-7da3-4047-bf78-e8d0ee56d14f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/8f210673-520d-42f8-ace8-a8d9b7900060
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/f2b44aa3-0610-4125-91b4-a23179beb34b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"f2b44aa3-0610-4125-91b4-a23179beb34b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
