---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-206030198117869554","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-08T16:01:48.946459Z","description":"","id":"d301d87a-3983-4c18-9f23-fcd411716f6f","name":"test-acc-scaleway-project-206030198117869554","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:48.946459Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-1891691832742299308","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-08T16:01:49.145024Z","description":"","editable":true,"id":"5fef1637-6f9a-43d4-b096-9028f64fd666","name":"test-acc-scaleway-iam-app-1891691832742299308","nb_api_keys":0,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:49.145024Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-3401913006922405611","description":"","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["IAMManager"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"application_id":"5fef1637-6f9a-43d4-b096-9028f64fd666"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"5fef1637-6f9a-43d4-b096-9028f64fd666","created_at":"2023-02-08T16:01:49.207585Z","description":"","editable":true,"id":"10e091b7-5fe5-4310-bde5-13f5cbe43814","name":"test-acc-scaleway-iam-policy-3401913006922405611","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:49.207585Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"5fef1637-6f9a-43d4-b096-9028f64fd666","expires_at":null,"default_project_id":"d301d87a-3983-4c18-9f23-fcd411716f6f","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWJ99AGC1X8M9KGPNAA","application_id":"5fef1637-6f9a-43d4-b096-9028f64fd666","created_at":"2023-02-08T16:01:49.371757Z","creation_ip":"51.159.73.9","default_project_id":"d301d87a-3983-4c18-9f23-fcd411716f6f","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-08T16:01:49.371757Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-02-08T16:01:50.373369Z","description":"a description","editable":true,"id":"90a1a58c-d0f8-4c4a-b711-60a1f1d09e77","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:50.373369Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/90a1a58c-d0f8-4c4a-b711-60a1f1d09e77
    method: GET
  response:
    body: '{"created_at":"2023-02-08T16:01:50.373369Z","description":"a description","editable":true,"id":"90a1a58c-d0f8-4c4a-b711-60a1f1d09e77","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:50.373369Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=90a1a58c-d0f8-4c4a-b711-60a1f1d09e77
    method: GET
  response:
    body: '{"rules":[{"id":"f37b71ce-2a70-4f7d-a65d-f1879c816ff5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/e476a985-4822-4fb3-9d9d-680bcf5fda30
    method: GET
  response:
    body: '{"created_at":"2023-02-08T16:01:51.882794Z","description":"a description","editable":true,"id":"e476a985-4822-4fb3-9d9d-680bcf5fda30","name":"tf_tests_policy_change_linked_entity","nb_api_keys":0,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:51.882794Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-acc-scaleway-iam-group-policy-permissions","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-02-08T16:01:53.674009Z","description":"","id":"3002f687-8a80-4c38-a55d-a60ec074d03f","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:53.674009Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["076ac232-eb53-4fa5-b95e-e219db6fc5a6"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/3002f687-8a80-4c38-a55d-a60ec074d03f/members
    method: PUT
  response:
    body: '{"application_ids":["076ac232-eb53-4fa5-b95e-e219db6fc5a6"],"created_at":"2023-02-08T16:01:53.674009Z","description":"","id":"3002f687-8a80-4c38-a55d-a60ec074d03f","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:53.674009Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/3002f687-8a80-4c38-a55d-a60ec074d03f
    method: GET
  response:
    body: '{"application_ids":["076ac232-eb53-4fa5-b95e-e219db6fc5a6"],"created_at":"2023-02-08T16:01:53.674009Z","description":"","id":"3002f687-8a80-4c38-a55d-a60ec074d03f","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:53.674009Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"3002f687-8a80-4c38-a55d-a60ec074d03f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/90a1a58c-d0f8-4c4a-b711-60a1f1d09e77
    method: PATCH
  response:
    body: '{"created_at":"2023-02-08T16:01:50.373369Z","description":"a description","editable":true,"group_id":"3002f687-8a80-4c38-a55d-a60ec074d03f","id":"90a1a58c-d0f8-4c4a-b711-60a1f1d09e77","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","updated_at":"2023-02-08T16:01:50.373369Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWJ99AGC1X8M9KGPNAA
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/d301d87a-3983-4c18-9f23-fcd411716f6f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
