---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"d77522bc-7c88-4088-bc01-19cdd4a72a7c","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.555898Z","updated_at":"2022-07-08T12:30:43.555898Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d77522bc-7c88-4088-bc01-19cdd4a72a7c
    method: GET
  response:
    body: '{"id":"d77522bc-7c88-4088-bc01-19cdd4a72a7c","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.555898Z","updated_at":"2022-07-08T12:30:43.555898Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d77522bc-7c88-4088-bc01-19cdd4a72a7c
    method: GET
  response:
    body: '{"rules":[{"id":"42b860d2-5445-43d3-8882-640b59938d6d","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"d77522bc-7c88-4088-bc01-19cdd4a72a7c","rules":[{"permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"cffbe50a-0466-4387-92f1-f9b91229730d","permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d77522bc-7c88-4088-bc01-19cdd4a72a7c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"d77522bc-7c88-4088-bc01-19cdd4a72a7c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
