---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-6699247533235602717","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-29T14:45:03.508482Z","description":"","id":"99164ae6-5d26-4b2b-8ab0-4bc895eb0e47","name":"test-acc-scaleway-project-6699247533235602717","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-11-29T14:45:03.508482Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-2179335513614761444","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-11-29T14:45:03.794243Z","description":"","editable":true,"id":"4865f256-4ce8-45fd-bc4a-4b8f085b7438","name":"test-acc-scaleway-iam-app-2179335513614761444","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2023-11-29T14:45:03.794243Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-6500664607511005772","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":null,"application_id":"4865f256-4ce8-45fd-bc4a-4b8f085b7438"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"4865f256-4ce8-45fd-bc4a-4b8f085b7438","created_at":"2023-11-29T14:45:03.891597Z","description":"","editable":true,"id":"e5288cf7-916f-4e02-b63d-b4dbbf72ae3d","name":"test-acc-scaleway-iam-policy-6500664607511005772","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2023-11-29T14:45:03.891597Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"4865f256-4ce8-45fd-bc4a-4b8f085b7438","default_project_id":"99164ae6-5d26-4b2b-8ab0-4bc895eb0e47","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWV064MSQDTY9AXQS7R","application_id":"4865f256-4ce8-45fd-bc4a-4b8f085b7438","created_at":"2023-11-29T14:45:04.159382Z","creation_ip":"51.159.73.9","default_project_id":"99164ae6-5d26-4b2b-8ab0-4bc895eb0e47","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-29T14:45:04.159382Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["ContainerRegistryReadOnly"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"tags":["tf_tests","tests"],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-11-29T14:45:05.826906Z","description":"a description","editable":true,"id":"bab4855d-22f3-41ff-8dfd-cfd7be0a01f0","name":"tf_tests_policy_basic","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2023-11-29T14:45:05.826906Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/bab4855d-22f3-41ff-8dfd-cfd7be0a01f0
    method: GET
  response:
    body: '{"created_at":"2023-11-29T14:45:05.826906Z","description":"a description","editable":true,"id":"bab4855d-22f3-41ff-8dfd-cfd7be0a01f0","name":"tf_tests_policy_basic","nb_permission_sets":2,"nb_rules":2,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2023-11-29T14:45:05.826906Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=bab4855d-22f3-41ff-8dfd-cfd7be0a01f0
    method: GET
  response:
    body: '{"rules":[{"id":"781a2a74-4ff8-49a0-ac03-581f2d47f590","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"},{"id":"124dd5a8-deb4-4d3d-8c9d-64fd55ab80d5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"bab4855d-22f3-41ff-8dfd-cfd7be0a01f0","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"fb778562-cca4-4654-92ae-77a8222fa7a2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWV064MSQDTY9AXQS7R
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/4865f256-4ce8-45fd-bc4a-4b8f085b7438
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/99164ae6-5d26-4b2b-8ab0-4bc895eb0e47
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/bab4855d-22f3-41ff-8dfd-cfd7be0a01f0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"bab4855d-22f3-41ff-8dfd-cfd7be0a01f0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
