---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"b3eba34e-8501-4550-800f-ba98a0c784c3","name":"first app","description":"","created_at":"2022-06-27T17:14:58.661461Z","updated_at":"2022-06-27T17:14:58.661461Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b3eba34e-8501-4550-800f-ba98a0c784c3
    method: GET
  response:
    body: '{"id":"b3eba34e-8501-4550-800f-ba98a0c784c3","name":"first app","description":"","created_at":"2022-06-27T17:14:58.661461Z","updated_at":"2022-06-27T17:14:58.661461Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48","created_at":"2022-06-27T17:14:58.784003Z","updated_at":"2022-06-27T17:14:58.784003Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["b3eba34e-8501-4550-800f-ba98a0c784c3"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48/principals
    method: PUT
  response:
    body: '{"id":"59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48","created_at":"2022-06-27T17:14:58.784003Z","updated_at":"2022-06-27T17:14:58.784003Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["b3eba34e-8501-4550-800f-ba98a0c784c3"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48
    method: GET
  response:
    body: '{"id":"59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48","created_at":"2022-06-27T17:14:58.784003Z","updated_at":"2022-06-27T17:14:58.784003Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["b3eba34e-8501-4550-800f-ba98a0c784c3"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48/principals/05c1a4fa-ce62-4375-8296-c73cda7d429f
    method: DELETE
  response:
    body: '{"id":"59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48","created_at":"2022-06-27T17:14:58.784003Z","updated_at":"2022-06-27T17:14:58.784003Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["00000000-0000-0000-0000-000000000000"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"59d4ce6f-ab6f-4fe6-807e-dd7e1691cf48","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
