---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"e729bc1d-41ff-4fc7-8cab-944c4f2cf010","name":"tf_tests_policy_projectid","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:38.987280Z","updated_at":"2022-08-05T12:32:38.987280Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/e729bc1d-41ff-4fc7-8cab-944c4f2cf010
    method: GET
  response:
    body: '{"id":"e729bc1d-41ff-4fc7-8cab-944c4f2cf010","name":"tf_tests_policy_projectid","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:38.987280Z","updated_at":"2022-08-05T12:32:38.987280Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=e729bc1d-41ff-4fc7-8cab-944c4f2cf010
    method: GET
  response:
    body: '{"rules":[{"id":"21fd70f2-105a-49f6-8628-ae678d0a8988","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/e729bc1d-41ff-4fc7-8cab-944c4f2cf010
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"e729bc1d-41ff-4fc7-8cab-944c4f2cf010","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
