---
version: 1
interactions:
- request:
    body: '{"organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"tf-group--cool-robinson","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"fb9a8acd-3227-4036-822b-d477d454abae","created_at":"2022-07-04T09:14:47.152175Z","updated_at":"2022-07-04T09:14:47.152175Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"tf-group--cool-robinson","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":[],"application_ids":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/fb9a8acd-3227-4036-822b-d477d454abae/members
    method: PUT
  response:
    body: '{"id":"fb9a8acd-3227-4036-822b-d477d454abae","created_at":"2022-07-04T09:14:47.152175Z","updated_at":"2022-07-04T09:14:47.152175Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"tf-group--cool-robinson","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/fb9a8acd-3227-4036-822b-d477d454abae
    method: GET
  response:
    body: '{"id":"fb9a8acd-3227-4036-822b-d477d454abae","created_at":"2022-07-04T09:14:47.152175Z","updated_at":"2022-07-04T09:14:47.152175Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"tf-group--cool-robinson","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/fb9a8acd-3227-4036-822b-d477d454abae
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"fb9a8acd-3227-4036-822b-d477d454abae","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
