---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"d0212e61-c175-4440-b39e-5b3c7104ec71","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.387816Z","updated_at":"2022-07-06T14:30:56.387816Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d0212e61-c175-4440-b39e-5b3c7104ec71
    method: GET
  response:
    body: '{"id":"d0212e61-c175-4440-b39e-5b3c7104ec71","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.387816Z","updated_at":"2022-07-06T14:30:56.387816Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=d0212e61-c175-4440-b39e-5b3c7104ec71
    method: GET
  response:
    body: '{"rules":[{"id":"32cfb16d-2459-4e48-8e17-b265b526b9ef","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"d0212e61-c175-4440-b39e-5b3c7104ec71","rules":[{"permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"ccdbf47f-de8b-4e08-8380-1b2e3e9c16d3","permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/d0212e61-c175-4440-b39e-5b3c7104ec71
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"d0212e61-c175-4440-b39e-5b3c7104ec71","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
