---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"17b53ffe-b7cc-4d87-ae6f-d7a68f71e819","name":"tf_tests_app_basic","description":"","created_at":"2022-06-27T15:39:29.118636Z","updated_at":"2022-06-27T15:39:29.118636Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications/17b53ffe-b7cc-4d87-ae6f-d7a68f71e819
    method: GET
  response:
    body: '{"id":"17b53ffe-b7cc-4d87-ae6f-d7a68f71e819","name":"tf_tests_app_basic","description":"","created_at":"2022-06-27T15:39:29.118636Z","updated_at":"2022-06-27T15:39:29.118636Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"17b53ffe-b7cc-4d87-ae6f-d7a68f71e819","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWYH33MVHYQYSSSFTNB","secret_key":"8b45a26d-7062-4bdb-af03-638a2bbc686b","description":"a
      description","created_at":"2022-06-27T15:39:29.306136Z","updated_at":"2022-06-27T15:39:29.306136Z","expired_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"17b53ffe-b7cc-4d87-ae6f-d7a68f71e819"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCWYH33MVHYQYSSSFTNB
    method: GET
  response:
    body: '{"access_key":"SCWYH33MVHYQYSSSFTNB","secret_key":null,"description":"a
      description","created_at":"2022-06-27T15:39:29.306136Z","updated_at":"2022-06-27T15:39:29.306136Z","expired_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"17b53ffe-b7cc-4d87-ae6f-d7a68f71e819"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"default_project_id":null,"description":"another description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCWYH33MVHYQYSSSFTNB
    method: PATCH
  response:
    body: '{"details":[{"action":"write","resource":"api_key"},{"action":"write","resource":"self_api_key"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCWYH33MVHYQYSSSFTNB
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWYH33MVHYQYSSSFTNB","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
