---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/d55bae64-4e2b-490f-9b2e-688715f60f6c
    method: GET
  response:
    body: '{"created_at":"2022-03-29T11:44:54.791271Z","deletable":true,"email":"jbernabe@scaleway.com","id":"d55bae64-4e2b-490f-9b2e-688715f60f6c","last_login_at":"2023-01-20T14:14:13.757163Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":false,"type":"guest","updated_at":"2023-01-20T14:14:13.753587Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"third app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-20T14:45:14.069510Z","description":"","editable":true,"id":"c52b2bc9-ee1a-4192-9341-4cd20d9c2367","name":"third
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:45:14.069510Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c52b2bc9-ee1a-4192-9341-4cd20d9c2367
    method: GET
  response:
    body: '{"created_at":"2023-01-20T14:45:14.069510Z","description":"","editable":true,"id":"c52b2bc9-ee1a-4192-9341-4cd20d9c2367","name":"third
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:45:14.069510Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-20T14:45:14.212224Z","description":"","id":"63a779f8-5728-4f6b-ad2d-7a2816b8baca","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:45:14.212224Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c"],"application_ids":["c52b2bc9-ee1a-4192-9341-4cd20d9c2367"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/63a779f8-5728-4f6b-ad2d-7a2816b8baca/members
    method: PUT
  response:
    body: '{"application_ids":["c52b2bc9-ee1a-4192-9341-4cd20d9c2367"],"created_at":"2023-01-20T14:45:14.212224Z","description":"","id":"63a779f8-5728-4f6b-ad2d-7a2816b8baca","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:45:14.212224Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/63a779f8-5728-4f6b-ad2d-7a2816b8baca
    method: GET
  response:
    body: '{"application_ids":["c52b2bc9-ee1a-4192-9341-4cd20d9c2367"],"created_at":"2023-01-20T14:45:14.212224Z","description":"","id":"63a779f8-5728-4f6b-ad2d-7a2816b8baca","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:45:14.212224Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"dc512a33-e14c-4e72-9481-52e020ced70a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/63a779f8-5728-4f6b-ad2d-7a2816b8baca/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-20T14:45:14.212224Z","description":"","id":"63a779f8-5728-4f6b-ad2d-7a2816b8baca","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:45:14.212224Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c","b6360d4f-831c-45a8-889e-0b65ed079e63"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/63a779f8-5728-4f6b-ad2d-7a2816b8baca
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"63a779f8-5728-4f6b-ad2d-7a2816b8baca","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
