---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"907614cd-8347-4f0a-a860-6ff30ceafd37","name":"tf_tests_policy_projectid","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.555354Z","updated_at":"2022-07-08T12:30:43.555354Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/907614cd-8347-4f0a-a860-6ff30ceafd37
    method: GET
  response:
    body: '{"id":"907614cd-8347-4f0a-a860-6ff30ceafd37","name":"tf_tests_policy_projectid","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.555354Z","updated_at":"2022-07-08T12:30:43.555354Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=907614cd-8347-4f0a-a860-6ff30ceafd37
    method: GET
  response:
    body: '{"rules":[{"id":"2cc08c3c-5a8c-4d83-8e8c-95b3cfa2612b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/907614cd-8347-4f0a-a860-6ff30ceafd37
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"907614cd-8347-4f0a-a860-6ff30ceafd37","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
