---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"b5c385ec-9281-42b7-b4db-9077bbc94dd8","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","created_at":"2022-07-06T13:33:46.504696Z","updated_at":"2022-07-06T13:33:46.504696Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b5c385ec-9281-42b7-b4db-9077bbc94dd8
    method: GET
  response:
    body: '{"id":"b5c385ec-9281-42b7-b4db-9077bbc94dd8","name":"tf_tests_policy_changepermissions","description":"a
      description","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","created_at":"2022-07-06T13:33:46.504696Z","updated_at":"2022-07-06T13:33:46.504696Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=b5c385ec-9281-42b7-b4db-9077bbc94dd8
    method: GET
  response:
    body: '{"rules":[{"id":"624eed17-ab90-4e92-91b1-5ad8f3330c65","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"b5c385ec-9281-42b7-b4db-9077bbc94dd8","rules":[{"permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"project_ids":null,"organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"530377c9-8ca2-4fd4-b177-aacb78966b6b","permission_set_names":["AllProductsFullAccess","ContainerRegistryReadOnly"],"permission_sets_scope_type":"organization","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b5c385ec-9281-42b7-b4db-9077bbc94dd8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"b5c385ec-9281-42b7-b4db-9077bbc94dd8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
