---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"1a6fabdb-5be6-4ef2-902c-183a882b2dad","name":"tf_tests_app_basic","description":"a
      description","created_at":"2022-06-24T09:51:21.365219Z","updated_at":"2022-06-24T09:51:21.365219Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/1a6fabdb-5be6-4ef2-902c-183a882b2dad
    method: GET
  response:
    body: '{"id":"1a6fabdb-5be6-4ef2-902c-183a882b2dad","name":"tf_tests_app_basic","description":"a
      description","created_at":"2022-06-24T09:51:21.365219Z","updated_at":"2022-06-24T09:51:21.365219Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/1a6fabdb-5be6-4ef2-902c-183a882b2dad
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"application","resource_id":"1a6fabdb-5be6-4ef2-902c-183a882b2dad","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
