---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-3723338038624371236","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:03:56.375346Z","description":"","id":"0ba21f79-fdee-41e8-8e41-4500fe8fda4e","name":"test-acc-scaleway-project-3723338038624371236","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:03:56.375346Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-6879723428976187615","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:03:57.477466Z","description":"","editable":true,"id":"32da7461-4916-435a-aae2-9fd31e42206a","name":"test-acc-scaleway-iam-app-6879723428976187615","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:03:57.477466Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-6244911113910697166","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"application_id":"32da7461-4916-435a-aae2-9fd31e42206a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"32da7461-4916-435a-aae2-9fd31e42206a","created_at":"2023-02-10T09:03:57.565267Z","description":"","editable":true,"id":"58d763a1-2792-4a86-8143-1bb52828a31e","name":"test-acc-scaleway-iam-policy-6244911113910697166","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:03:57.565267Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"32da7461-4916-435a-aae2-9fd31e42206a","expires_at":null,"default_project_id":"0ba21f79-fdee-41e8-8e41-4500fe8fda4e","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWJR3T0FC5BYNJ7FCGN","application_id":"32da7461-4916-435a-aae2-9fd31e42206a","created_at":"2023-02-10T09:03:57.963801Z","creation_ip":"51.159.46.153","default_project_id":"0ba21f79-fdee-41e8-8e41-4500fe8fda4e","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-10T09:03:57.963801Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["ContainerRegistryReadOnly"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:24.080079Z","description":"a description","editable":true,"id":"b811e3eb-f87f-4053-94ec-7977985dc669","name":"tf_tests_policy_basic","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:24.080079Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b811e3eb-f87f-4053-94ec-7977985dc669
    method: GET
  response:
    body: '{"created_at":"2023-02-10T09:04:24.080079Z","description":"a description","editable":true,"id":"b811e3eb-f87f-4053-94ec-7977985dc669","name":"tf_tests_policy_basic","nb_permission_sets":2,"nb_rules":2,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:24.080079Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=b811e3eb-f87f-4053-94ec-7977985dc669
    method: GET
  response:
    body: '{"rules":[{"id":"fb240193-a81d-420c-9d97-f136632d064d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"},{"id":"3960d79c-a38b-4515-9702-7926e0aa83b7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"b811e3eb-f87f-4053-94ec-7977985dc669","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"3ed979f9-5344-4143-9928-f8bff6f4f8e3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWJR3T0FC5BYNJ7FCGN
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/32da7461-4916-435a-aae2-9fd31e42206a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/0ba21f79-fdee-41e8-8e41-4500fe8fda4e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b811e3eb-f87f-4053-94ec-7977985dc669
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"b811e3eb-f87f-4053-94ec-7977985dc669","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
