---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-24T12:52:30.743570Z","description":"","editable":true,"id":"2f87c248-d65f-4cae-94c6-536105c75a14","name":"first
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T12:52:30.743570Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/2f87c248-d65f-4cae-94c6-536105c75a14
    method: GET
  response:
    body: '{"created_at":"2023-01-24T12:52:30.743570Z","description":"","editable":true,"id":"2f87c248-d65f-4cae-94c6-536105c75a14","name":"first
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T12:52:30.743570Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T12:52:30.867113Z","description":"","id":"6155b7bc-6949-4977-af6b-e79c41b34837","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T12:52:30.867113Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["2f87c248-d65f-4cae-94c6-536105c75a14"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6155b7bc-6949-4977-af6b-e79c41b34837/members
    method: PUT
  response:
    body: '{"application_ids":["2f87c248-d65f-4cae-94c6-536105c75a14"],"created_at":"2023-01-24T12:52:30.867113Z","description":"","id":"6155b7bc-6949-4977-af6b-e79c41b34837","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T12:52:30.867113Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6155b7bc-6949-4977-af6b-e79c41b34837
    method: GET
  response:
    body: '{"application_ids":["2f87c248-d65f-4cae-94c6-536105c75a14"],"created_at":"2023-01-24T12:52:30.867113Z","description":"","id":"6155b7bc-6949-4977-af6b-e79c41b34837","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T12:52:30.867113Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"application_id":"ad6d9b00-0420-466d-89dd-66e26699e651"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6155b7bc-6949-4977-af6b-e79c41b34837/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T12:52:30.867113Z","description":"","id":"6155b7bc-6949-4977-af6b-e79c41b34837","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T12:52:30.867113Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6155b7bc-6949-4977-af6b-e79c41b34837
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"6155b7bc-6949-4977-af6b-e79c41b34837","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
