---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"f278f945-ed6c-4afc-bd09-52a01e3aec2b","name":"tf_tests_app_basic","description":"","created_at":"2022-06-29T12:04:05.752259Z","updated_at":"2022-06-29T12:04:05.752259Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/f278f945-ed6c-4afc-bd09-52a01e3aec2b
    method: GET
  response:
    body: '{"id":"f278f945-ed6c-4afc-bd09-52a01e3aec2b","name":"tf_tests_app_basic","description":"","created_at":"2022-06-29T12:04:05.752259Z","updated_at":"2022-06-29T12:04:05.752259Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"f278f945-ed6c-4afc-bd09-52a01e3aec2b","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWDRQT5GE1FHDWSW1QW","secret_key":"004b4615-899a-4a32-85ca-3c7ae6c2c319","description":"a
      description","created_at":"2022-06-29T12:04:05.948781Z","updated_at":"2022-06-29T12:04:05.948781Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"f278f945-ed6c-4afc-bd09-52a01e3aec2b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWDRQT5GE1FHDWSW1QW
    method: GET
  response:
    body: '{"access_key":"SCWDRQT5GE1FHDWSW1QW","secret_key":null,"description":"a
      description","created_at":"2022-06-29T12:04:05.948781Z","updated_at":"2022-06-29T12:04:05.948781Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"f278f945-ed6c-4afc-bd09-52a01e3aec2b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWDRQT5GE1FHDWSW1QW
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWDRQT5GE1FHDWSW1QW","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
