---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_key_noupdate","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-01T10:13:06.991415Z","description":"","editable":true,"id":"1b3ccaa1-ff9d-414a-963c-5b8391d9ccd9","name":"tf_tests_app_key_noupdate","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-01T10:13:06.991415Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/1b3ccaa1-ff9d-414a-963c-5b8391d9ccd9
    method: GET
  response:
    body: '{"created_at":"2023-02-01T10:13:06.991415Z","description":"","editable":true,"id":"1b3ccaa1-ff9d-414a-963c-5b8391d9ccd9","name":"tf_tests_app_key_noupdate","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-01T10:13:06.991415Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"1b3ccaa1-ff9d-414a-963c-5b8391d9ccd9","expires_at":null,"default_project_id":null,"description":"no
      update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWW8ZPV1546BPV4J2SG","application_id":"1b3ccaa1-ff9d-414a-963c-5b8391d9ccd9","created_at":"2023-02-01T10:13:07.185714Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"no
      update","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-01T10:13:07.185714Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWW8ZPV1546BPV4J2SG
    method: GET
  response:
    body: '{"access_key":"SCWW8ZPV1546BPV4J2SG","application_id":"1b3ccaa1-ff9d-414a-963c-5b8391d9ccd9","created_at":"2023-02-01T10:13:07.185714Z","creation_ip":"51.159.73.9","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"no
      update","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-01T10:13:07.185714Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWW8ZPV1546BPV4J2SG
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWW8ZPV1546BPV4J2SG","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
