---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"5f7c6490-2fc7-483f-9ec4-3b6a3fec4262","name":"tf_tests_app_basic","description":"","created_at":"2022-09-30T14:41:33.131094Z","updated_at":"2022-09-30T14:41:33.131094Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/5f7c6490-2fc7-483f-9ec4-3b6a3fec4262
    method: GET
  response:
    body: '{"id":"5f7c6490-2fc7-483f-9ec4-3b6a3fec4262","name":"tf_tests_app_basic","description":"","created_at":"2022-09-30T14:41:33.131094Z","updated_at":"2022-09-30T14:41:33.131094Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"5f7c6490-2fc7-483f-9ec4-3b6a3fec4262","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW1W35G2JZ327YDX4ZX","secret_key":"26dd5d15-4bbf-40bf-b309-de07eb30209e","description":"a
      description","created_at":"2022-09-30T14:41:33.393955Z","updated_at":"2022-09-30T14:41:33.393955Z","expires_at":null,"default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"5f7c6490-2fc7-483f-9ec4-3b6a3fec4262"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW1W35G2JZ327YDX4ZX
    method: GET
  response:
    body: '{"access_key":"SCW1W35G2JZ327YDX4ZX","secret_key":null,"description":"a
      description","created_at":"2022-09-30T14:41:33.393955Z","updated_at":"2022-09-30T14:41:33.393955Z","expires_at":null,"default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"5f7c6490-2fc7-483f-9ec4-3b6a3fec4262"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW1W35G2JZ327YDX4ZX
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW1W35G2JZ327YDX4ZX","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
