---
version: 1
interactions:
- request:
    body: '{"name":"third app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"29516c6e-e1ed-4c74-b538-d2125b15494d","name":"third app","description":"","created_at":"2022-06-29T13:32:58.046901Z","updated_at":"2022-06-29T13:32:58.046901Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/29516c6e-e1ed-4c74-b538-d2125b15494d
    method: GET
  response:
    body: '{"id":"29516c6e-e1ed-4c74-b538-d2125b15494d","name":"third app","description":"","created_at":"2022-06-29T13:32:58.046901Z","updated_at":"2022-06-29T13:32:58.046901Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"e4a12e76-eff0-4a6c-91a1-9800936b3676","created_at":"2022-06-29T13:32:58.191875Z","updated_at":"2022-06-29T13:32:58.191875Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["29516c6e-e1ed-4c74-b538-d2125b15494d"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/e4a12e76-eff0-4a6c-91a1-9800936b3676/members
    method: PUT
  response:
    body: '{"id":"e4a12e76-eff0-4a6c-91a1-9800936b3676","created_at":"2022-06-29T13:32:58.191875Z","updated_at":"2022-06-29T13:32:58.191875Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["29516c6e-e1ed-4c74-b538-d2125b15494d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/e4a12e76-eff0-4a6c-91a1-9800936b3676
    method: GET
  response:
    body: '{"id":"e4a12e76-eff0-4a6c-91a1-9800936b3676","created_at":"2022-06-29T13:32:58.191875Z","updated_at":"2022-06-29T13:32:58.191875Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["29516c6e-e1ed-4c74-b538-d2125b15494d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"43b0529c-0b85-45a1-bbf6-5a1336b21787"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/e4a12e76-eff0-4a6c-91a1-9800936b3676/remove-member
    method: POST
  response:
    body: '{"id":"e4a12e76-eff0-4a6c-91a1-9800936b3676","created_at":"2022-06-29T13:32:58.191875Z","updated_at":"2022-06-29T13:32:58.191875Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["00000000-0000-0000-0000-000000000000","00000000-0000-0000-0000-000000000000","00000000-0000-0000-0000-000000000000","0afd8f94-eaf1-4949-9dcb-9ae5f4bc1017","ce18cffd-e7c8-47f8-8de8-00e97e50a0d3"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/e4a12e76-eff0-4a6c-91a1-9800936b3676
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"e4a12e76-eff0-4a6c-91a1-9800936b3676","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
