---
version: 1
interactions:
- request:
    body: '{"organization_id":"ff119889-7dc5-4b8f-a1c9-a01325b8431a","email":"user@example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/users
    method: POST
  response:
    body: '{"account_root_user_id":"","created_at":"2023-10-09T08:10:41.510678Z","deletable":true,"email":"user@example.com","id":"c0348a02-b444-4486-9c57-ef9bd7b52e09","last_login_at":null,"mfa":false,"organization_id":"ff119889-7dc5-4b8f-a1c9-a01325b8431a","status":"invitation_pending","two_factor_enabled":false,"type":"unknown_type","updated_at":"2023-10-09T08:10:41.510678Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/c0348a02-b444-4486-9c57-ef9bd7b52e09
    method: GET
  response:
    body: '{"account_root_user_id":"","created_at":"2023-10-09T08:10:41.510678Z","deletable":true,"email":"user@example.com","id":"c0348a02-b444-4486-9c57-ef9bd7b52e09","last_login_at":null,"mfa":false,"organization_id":"ff119889-7dc5-4b8f-a1c9-a01325b8431a","status":"invitation_pending","two_factor_enabled":false,"type":"guest","updated_at":"2023-10-09T08:10:41.510678Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/c0348a02-b444-4486-9c57-ef9bd7b52e09
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_user","resource_id":"c0348a02-b444-4486-9c57-ef9bd7b52e09","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
