---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_expires_at","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"d1c3331a-7320-4f06-9507-b5c037257c11","name":"tf_tests_app_expires_at","description":"","created_at":"2022-07-06T14:36:17.372355Z","updated_at":"2022-07-06T14:36:17.372355Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/d1c3331a-7320-4f06-9507-b5c037257c11
    method: GET
  response:
    body: '{"id":"d1c3331a-7320-4f06-9507-b5c037257c11","name":"tf_tests_app_expires_at","description":"","created_at":"2022-07-06T14:36:17.372355Z","updated_at":"2022-07-06T14:36:17.372355Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"d1c3331a-7320-4f06-9507-b5c037257c11","expires_at":"2025-07-06T09:00:00Z","default_project_id":null,"description":"an
      api key with an expiration date"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWS3VAZYNR9RTDZJKBB","secret_key":"a0c9c647-fc82-44c8-b909-1d69bcc8020b","description":"an
      api key with an expiration date","created_at":"2022-07-06T14:36:17.549229Z","updated_at":"2022-07-06T14:36:17.549229Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"d1c3331a-7320-4f06-9507-b5c037257c11"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWS3VAZYNR9RTDZJKBB
    method: GET
  response:
    body: '{"access_key":"SCWS3VAZYNR9RTDZJKBB","secret_key":null,"description":"an
      api key with an expiration date","created_at":"2022-07-06T14:36:17.549229Z","updated_at":"2022-07-06T14:36:17.549229Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"d1c3331a-7320-4f06-9507-b5c037257c11"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWS3VAZYNR9RTDZJKBB
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWS3VAZYNR9RTDZJKBB","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
