---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"69f5dc88-c911-4837-be20-d9570a6b4798","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:39.012792Z","updated_at":"2022-08-05T12:32:39.012792Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/69f5dc88-c911-4837-be20-d9570a6b4798
    method: GET
  response:
    body: '{"id":"69f5dc88-c911-4837-be20-d9570a6b4798","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:39.012792Z","updated_at":"2022-08-05T12:32:39.012792Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=69f5dc88-c911-4837-be20-d9570a6b4798
    method: GET
  response:
    body: '{"rules":[{"id":"59e8693e-0ce8-46fc-b3e8-18c8c19d5b16","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/69f5dc88-c911-4837-be20-d9570a6b4798
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"69f5dc88-c911-4837-be20-d9570a6b4798","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
