---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"7de71a45-162c-42a2-9b19-375ec7ed23c2","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-03T15:30:09.937764Z","updated_at":"2022-10-03T15:30:09.937764Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/7de71a45-162c-42a2-9b19-375ec7ed23c2
    method: GET
  response:
    body: '{"id":"7de71a45-162c-42a2-9b19-375ec7ed23c2","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-03T15:30:09.937764Z","updated_at":"2022-10-03T15:30:09.937764Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=7de71a45-162c-42a2-9b19-375ec7ed23c2
    method: GET
  response:
    body: '{"rules":[{"id":"ca43d00b-03e4-4749-b5fc-34cd92885b9a","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"d27e9dc1-712e-4d19-a902-40accf6ae6f7","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T15:30:11.400882Z","updated_at":"2022-10-03T15:30:11.400882Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/d27e9dc1-712e-4d19-a902-40accf6ae6f7
    method: GET
  response:
    body: '{"id":"d27e9dc1-712e-4d19-a902-40accf6ae6f7","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T15:30:11.400882Z","updated_at":"2022-10-03T15:30:11.400882Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"application_id":"d27e9dc1-712e-4d19-a902-40accf6ae6f7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/7de71a45-162c-42a2-9b19-375ec7ed23c2
    method: PATCH
  response:
    body: '{"id":"7de71a45-162c-42a2-9b19-375ec7ed23c2","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-03T15:30:09.937764Z","updated_at":"2022-10-03T15:30:09.937764Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"application_id":"d27e9dc1-712e-4d19-a902-40accf6ae6f7"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"97f13382-ac69-4630-830d-b8c76fff7b5e","created_at":"2022-10-03T15:30:13.344661Z","updated_at":"2022-10-03T15:30:13.344661Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["68dc095f-2d28-442a-9304-543d5dcb611d"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/97f13382-ac69-4630-830d-b8c76fff7b5e/members
    method: PUT
  response:
    body: '{"id":"97f13382-ac69-4630-830d-b8c76fff7b5e","created_at":"2022-10-03T15:30:13.344661Z","updated_at":"2022-10-03T15:30:13.344661Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_app","description":"","user_ids":[],"application_ids":["68dc095f-2d28-442a-9304-543d5dcb611d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/97f13382-ac69-4630-830d-b8c76fff7b5e
    method: GET
  response:
    body: '{"id":"97f13382-ac69-4630-830d-b8c76fff7b5e","created_at":"2022-10-03T15:30:13.344661Z","updated_at":"2022-10-03T15:30:13.344661Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_app","description":"","user_ids":[],"application_ids":["68dc095f-2d28-442a-9304-543d5dcb611d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"97f13382-ac69-4630-830d-b8c76fff7b5e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/7de71a45-162c-42a2-9b19-375ec7ed23c2
    method: PATCH
  response:
    body: '{"id":"7de71a45-162c-42a2-9b19-375ec7ed23c2","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-03T15:30:09.937764Z","updated_at":"2022-10-03T15:30:09.937764Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"group_id":"97f13382-ac69-4630-830d-b8c76fff7b5e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
