---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"424c5b81-560f-4e1e-b7b9-4006c7a9d0e8","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","created_at":"2022-07-06T13:33:46.509555Z","updated_at":"2022-07-06T13:33:46.509555Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/424c5b81-560f-4e1e-b7b9-4006c7a9d0e8
    method: GET
  response:
    body: '{"id":"424c5b81-560f-4e1e-b7b9-4006c7a9d0e8","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","created_at":"2022-07-06T13:33:46.509555Z","updated_at":"2022-07-06T13:33:46.509555Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=424c5b81-560f-4e1e-b7b9-4006c7a9d0e8
    method: GET
  response:
    body: '{"rules":[{"id":"66c63426-e48c-465a-ae5a-5b4009a8c08b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/424c5b81-560f-4e1e-b7b9-4006c7a9d0e8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"424c5b81-560f-4e1e-b7b9-4006c7a9d0e8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
