---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"e9f80489-07e9-4e68-b5fa-47918e743dbc","created_at":"2022-06-28T12:20:50.280494Z","updated_at":"2022-06-28T12:20:50.280494Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/e9f80489-07e9-4e68-b5fa-47918e743dbc/principals
    method: PUT
  response:
    body: '{"id":"e9f80489-07e9-4e68-b5fa-47918e743dbc","created_at":"2022-06-28T12:20:50.280494Z","updated_at":"2022-06-28T12:20:50.280494Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/e9f80489-07e9-4e68-b5fa-47918e743dbc
    method: GET
  response:
    body: '{"id":"e9f80489-07e9-4e68-b5fa-47918e743dbc","created_at":"2022-06-28T12:20:50.280494Z","updated_at":"2022-06-28T12:20:50.280494Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/e9f80489-07e9-4e68-b5fa-47918e743dbc/principals/453c1a85-4a10-4c6f-94dc-d3193d4589a5
    method: DELETE
  response:
    body: '{"id":"e9f80489-07e9-4e68-b5fa-47918e743dbc","created_at":"2022-06-28T12:20:50.280494Z","updated_at":"2022-06-28T12:20:50.280494Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["00000000-0000-0000-0000-000000000000"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/e9f80489-07e9-4e68-b5fa-47918e743dbc
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"e9f80489-07e9-4e68-b5fa-47918e743dbc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
