---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-1290017746380284604","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:02.508439Z","description":"","id":"3812b031-30c5-4758-b44d-6c7b9455ac1a","name":"test-acc-scaleway-project-1290017746380284604","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:02.508439Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-7801452616197174635","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:03.478199Z","description":"","editable":true,"id":"78464302-318c-449d-b2ad-8869cf8f9b86","name":"test-acc-scaleway-iam-app-7801452616197174635","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:03.478199Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-2895293308033496969","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"application_id":"78464302-318c-449d-b2ad-8869cf8f9b86"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"78464302-318c-449d-b2ad-8869cf8f9b86","created_at":"2023-02-10T09:04:03.548472Z","description":"","editable":true,"id":"c479b81f-de0d-4d0a-a61c-752e06722092","name":"test-acc-scaleway-iam-policy-2895293308033496969","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:03.548472Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"78464302-318c-449d-b2ad-8869cf8f9b86","expires_at":null,"default_project_id":"3812b031-30c5-4758-b44d-6c7b9455ac1a","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWW8C27TZMS3W8BWCDH","application_id":"78464302-318c-449d-b2ad-8869cf8f9b86","created_at":"2023-02-10T09:04:03.729913Z","creation_ip":"51.159.46.153","default_project_id":"3812b031-30c5-4758-b44d-6c7b9455ac1a","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-10T09:04:03.729913Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_projectid","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:20.385626Z","description":"a description","editable":true,"id":"9e060d04-e83a-478f-8e45-ce4f17a22eb2","name":"tf_tests_policy_projectid","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:20.385626Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/9e060d04-e83a-478f-8e45-ce4f17a22eb2
    method: GET
  response:
    body: '{"created_at":"2023-02-10T09:04:20.385626Z","description":"a description","editable":true,"id":"9e060d04-e83a-478f-8e45-ce4f17a22eb2","name":"tf_tests_policy_projectid","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:20.385626Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=9e060d04-e83a-478f-8e45-ce4f17a22eb2
    method: GET
  response:
    body: '{"rules":[{"id":"7f2c6a1e-5e7b-4031-b5f1-643908240562","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWW8C27TZMS3W8BWCDH
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/78464302-318c-449d-b2ad-8869cf8f9b86
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/3812b031-30c5-4758-b44d-6c7b9455ac1a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/9e060d04-e83a-478f-8e45-ce4f17a22eb2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"9e060d04-e83a-478f-8e45-ce4f17a22eb2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
