---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:58:44.115724Z","description":"","editable":true,"id":"50fe1429-9fa0-46f6-a3de-8dc17b2f8531","name":"tf_tests_iam_group_app","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:58:44.115724Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/50fe1429-9fa0-46f6-a3de-8dc17b2f8531
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:58:44.115724Z","description":"","editable":true,"id":"50fe1429-9fa0-46f6-a3de-8dc17b2f8531","name":"tf_tests_iam_group_app","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:58:44.115724Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T09:58:44.226653Z","description":"","id":"d2fe5748-c383-4645-9b62-fbee2632d271","name":"iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:58:44.226653Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["50fe1429-9fa0-46f6-a3de-8dc17b2f8531"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/d2fe5748-c383-4645-9b62-fbee2632d271/members
    method: PUT
  response:
    body: '{"application_ids":["50fe1429-9fa0-46f6-a3de-8dc17b2f8531"],"created_at":"2023-06-21T09:58:44.226653Z","description":"","id":"d2fe5748-c383-4645-9b62-fbee2632d271","name":"iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:58:44.226653Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/d2fe5748-c383-4645-9b62-fbee2632d271
    method: GET
  response:
    body: '{"application_ids":["50fe1429-9fa0-46f6-a3de-8dc17b2f8531"],"created_at":"2023-06-21T09:58:44.226653Z","description":"","id":"d2fe5748-c383-4645-9b62-fbee2632d271","name":"iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:58:44.226653Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"application_id":"4d1a6af1-6be7-483c-9613-1e564b43ec7a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/d2fe5748-c383-4645-9b62-fbee2632d271/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T09:58:44.226653Z","description":"","id":"d2fe5748-c383-4645-9b62-fbee2632d271","name":"iam_group_app","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:58:44.226653Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/d2fe5748-c383-4645-9b62-fbee2632d271
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"d2fe5748-c383-4645-9b62-fbee2632d271","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
