---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"5e6ba647-868e-49f5-86bc-08f99473a64c","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.387615Z","updated_at":"2022-07-06T14:30:56.387615Z","editable":true,"nb_rules":2,"nb_scopes":2,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5e6ba647-868e-49f5-86bc-08f99473a64c
    method: GET
  response:
    body: '{"id":"5e6ba647-868e-49f5-86bc-08f99473a64c","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.387615Z","updated_at":"2022-07-06T14:30:56.387615Z","editable":true,"nb_rules":2,"nb_scopes":1,"nb_permission_sets":2,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=5e6ba647-868e-49f5-86bc-08f99473a64c
    method: GET
  response:
    body: '{"rules":[{"id":"6a5ce64e-38d4-4256-8c01-17772f4f93f1","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"id":"d6783f73-0cc9-4c89-8d17-65cdd3e4cea9","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"5e6ba647-868e-49f5-86bc-08f99473a64c","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"49ec1932-5d9d-4e0f-b263-14db39110369","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5e6ba647-868e-49f5-86bc-08f99473a64c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"5e6ba647-868e-49f5-86bc-08f99473a64c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
