---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"656155fc-9699-4cc3-a5c8-d561cc5f78ab","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T13:33:46.509519Z","updated_at":"2022-07-06T13:33:46.509519Z","editable":true,"nb_rules":2,"nb_scopes":2,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/656155fc-9699-4cc3-a5c8-d561cc5f78ab
    method: GET
  response:
    body: '{"id":"656155fc-9699-4cc3-a5c8-d561cc5f78ab","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T13:33:46.509519Z","updated_at":"2022-07-06T13:33:46.509519Z","editable":true,"nb_rules":2,"nb_scopes":1,"nb_permission_sets":2,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=656155fc-9699-4cc3-a5c8-d561cc5f78ab
    method: GET
  response:
    body: '{"rules":[{"id":"5da1bffb-65db-450c-b012-3e5aa82d7ac7","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"id":"6c5cf472-c94b-4a54-8502-542c2a5f9a87","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"656155fc-9699-4cc3-a5c8-d561cc5f78ab","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"c4274031-c470-49ce-878d-b5c8f644499c","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/656155fc-9699-4cc3-a5c8-d561cc5f78ab
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"656155fc-9699-4cc3-a5c8-d561cc5f78ab","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
