---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: '{"created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"guest","updated_at":"2023-01-23T15:18:52.043249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T10:50:23.509246Z","description":"","id":"b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T10:50:23.509246Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f/members
    method: PUT
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T10:50:23.509246Z","description":"","id":"b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T10:50:23.509246Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T10:50:23.509246Z","description":"","id":"b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T10:50:23.509246Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"dc512a33-e14c-4e72-9481-52e020ced70a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T10:50:23.509246Z","description":"","id":"b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T10:50:23.509246Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"b5b7ba67-003b-4ea7-8ab4-9d63a062cd8f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
