---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"7d3b14a0-448e-45e7-8a8e-8a5a749bf743","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.383928Z","updated_at":"2022-07-06T14:30:56.383928Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/7d3b14a0-448e-45e7-8a8e-8a5a749bf743
    method: GET
  response:
    body: '{"id":"7d3b14a0-448e-45e7-8a8e-8a5a749bf743","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.383928Z","updated_at":"2022-07-06T14:30:56.383928Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=7d3b14a0-448e-45e7-8a8e-8a5a749bf743
    method: GET
  response:
    body: '{"rules":[{"id":"cec35517-41cd-40a0-b8d5-2c9cb0a8f997","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/7d3b14a0-448e-45e7-8a8e-8a5a749bf743
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"7d3b14a0-448e-45e7-8a8e-8a5a749bf743","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
