---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["ContainerRegistryReadOnly"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"00a8e2b9-e4aa-4d2f-8dc3-bd4b0564973e","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:39.035682Z","updated_at":"2022-08-05T12:32:39.035682Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/00a8e2b9-e4aa-4d2f-8dc3-bd4b0564973e
    method: GET
  response:
    body: '{"id":"00a8e2b9-e4aa-4d2f-8dc3-bd4b0564973e","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-08-05T12:32:39.035682Z","updated_at":"2022-08-05T12:32:39.035682Z","editable":true,"nb_rules":2,"nb_scopes":1,"nb_permission_sets":2,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=00a8e2b9-e4aa-4d2f-8dc3-bd4b0564973e
    method: GET
  response:
    body: '{"rules":[{"id":"f4bb65a2-1051-4ca4-8814-44e4f0571737","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"id":"f9127fa6-a54b-4cd2-9ec8-0b3d8f819fd4","permission_set_names":["ContainerRegistryReadOnly"],"permission_sets_scope_type":"projects","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"00a8e2b9-e4aa-4d2f-8dc3-bd4b0564973e","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"c2910d83-11ac-49c0-bc7a-9284f1aa4039","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/00a8e2b9-e4aa-4d2f-8dc3-bd4b0564973e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"00a8e2b9-e4aa-4d2f-8dc3-bd4b0564973e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
