---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_basic","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ContainerRegistryReadOnly"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"75f60745-e87b-45d7-b3bd-5a1be93dd314","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.556720Z","updated_at":"2022-07-08T12:30:43.556720Z","editable":true,"nb_rules":2,"nb_scopes":2,"nb_permission_sets":2,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/75f60745-e87b-45d7-b3bd-5a1be93dd314
    method: GET
  response:
    body: '{"id":"75f60745-e87b-45d7-b3bd-5a1be93dd314","name":"tf_tests_policy_basic","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.556720Z","updated_at":"2022-07-08T12:30:43.556720Z","editable":true,"nb_rules":2,"nb_scopes":1,"nb_permission_sets":2,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=75f60745-e87b-45d7-b3bd-5a1be93dd314
    method: GET
  response:
    body: '{"rules":[{"id":"96319318-7168-4b8a-8430-348895a4152d","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"},{"id":"ab65816d-9065-47c7-a3cd-10be96c43c06","permission_set_names":["ContainerRegistryReadOnly"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"75f60745-e87b-45d7-b3bd-5a1be93dd314","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"10836131-ab1f-4c03-aa33-155210125f77","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/75f60745-e87b-45d7-b3bd-5a1be93dd314
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"75f60745-e87b-45d7-b3bd-5a1be93dd314","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
