---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-5581224508321700330","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:03:59.425436Z","description":"","id":"aa39d661-5e2b-4797-8156-29df61ee1597","name":"test-acc-scaleway-project-5581224508321700330","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:03:59.425436Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-7713766259545380624","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:00.652770Z","description":"","editable":true,"id":"2753b4c7-09cd-4784-b415-3e630238def5","name":"test-acc-scaleway-iam-app-7713766259545380624","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:00.652770Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-7484671703366494419","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"application_id":"2753b4c7-09cd-4784-b415-3e630238def5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"2753b4c7-09cd-4784-b415-3e630238def5","created_at":"2023-02-10T09:04:00.728400Z","description":"","editable":true,"id":"b26e93b0-db25-40c4-97da-162b5dae4166","name":"test-acc-scaleway-iam-policy-7484671703366494419","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:00.728400Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"2753b4c7-09cd-4784-b415-3e630238def5","expires_at":null,"default_project_id":"aa39d661-5e2b-4797-8156-29df61ee1597","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWV53FZ0T4DSW6XEA42","application_id":"2753b4c7-09cd-4784-b415-3e630238def5","created_at":"2023-02-10T09:04:00.903069Z","creation_ip":"51.159.46.153","default_project_id":"aa39d661-5e2b-4797-8156-29df61ee1597","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-10T09:04:00.903069Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:20.500039Z","description":"a description","editable":true,"id":"6ae4bb2a-26e3-4870-8ba1-f4723a94106f","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:20.500039Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/6ae4bb2a-26e3-4870-8ba1-f4723a94106f
    method: GET
  response:
    body: '{"created_at":"2023-02-10T09:04:20.500039Z","description":"a description","editable":true,"id":"6ae4bb2a-26e3-4870-8ba1-f4723a94106f","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:20.500039Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=6ae4bb2a-26e3-4870-8ba1-f4723a94106f
    method: GET
  response:
    body: '{"rules":[{"id":"ac145ed9-3053-4a51-b63c-3292d7ea9abb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/7c8570b9-cd26-4040-a129-d4de8dba7c7a
    method: GET
  response:
    body: '{"created_at":"2023-02-10T09:04:23.252789Z","description":"a description","editable":true,"id":"7c8570b9-cd26-4040-a129-d4de8dba7c7a","name":"tf_tests_policy_change_linked_entity","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:23.252789Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-acc-scaleway-iam-group-policy-permissions","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-02-10T09:04:26.606576Z","description":"","id":"caec247d-ad06-48db-ad1a-0af1e06560a2","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:26.606576Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["24b43158-daef-4aec-9d0a-7aea8bbb7440"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/caec247d-ad06-48db-ad1a-0af1e06560a2/members
    method: PUT
  response:
    body: '{"application_ids":["24b43158-daef-4aec-9d0a-7aea8bbb7440"],"created_at":"2023-02-10T09:04:26.606576Z","description":"","id":"caec247d-ad06-48db-ad1a-0af1e06560a2","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:26.606576Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/caec247d-ad06-48db-ad1a-0af1e06560a2
    method: GET
  response:
    body: '{"application_ids":["24b43158-daef-4aec-9d0a-7aea8bbb7440"],"created_at":"2023-02-10T09:04:26.606576Z","description":"","id":"caec247d-ad06-48db-ad1a-0af1e06560a2","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:26.606576Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"caec247d-ad06-48db-ad1a-0af1e06560a2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/6ae4bb2a-26e3-4870-8ba1-f4723a94106f
    method: PATCH
  response:
    body: '{"created_at":"2023-02-10T09:04:20.500039Z","description":"a description","editable":true,"group_id":"caec247d-ad06-48db-ad1a-0af1e06560a2","id":"6ae4bb2a-26e3-4870-8ba1-f4723a94106f","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:20.500039Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWV53FZ0T4DSW6XEA42
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/aa39d661-5e2b-4797-8156-29df61ee1597
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/6ae4bb2a-26e3-4870-8ba1-f4723a94106f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"6ae4bb2a-26e3-4870-8ba1-f4723a94106f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
