---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/29c31dd4-8ea1-4927-82d9-a0620e04773f
    method: GET
  response:
    body: '{"id":"29c31dd4-8ea1-4927-82d9-a0620e04773f","email":"lmarabese@scaleway.com","created_at":"2022-06-23T08:34:49.435805Z","updated_at":"2022-06-27T16:15:12.800816Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","deletable":false,"last_login_at":"2022-06-27T16:15:12.812756Z","type":"owner","two_factor_enabled":false,"status":"activated"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"31f194d3-ca4c-4bd0-9b06-64b883afe678","created_at":"2022-07-05T20:18:19.857492Z","updated_at":"2022-07-05T20:18:19.857492Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/31f194d3-ca4c-4bd0-9b06-64b883afe678/members
    method: PUT
  response:
    body: '{"id":"31f194d3-ca4c-4bd0-9b06-64b883afe678","created_at":"2022-07-05T20:18:19.857492Z","updated_at":"2022-07-05T20:18:19.857492Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/31f194d3-ca4c-4bd0-9b06-64b883afe678
    method: GET
  response:
    body: '{"id":"31f194d3-ca4c-4bd0-9b06-64b883afe678","created_at":"2022-07-05T20:18:19.857492Z","updated_at":"2022-07-05T20:18:19.857492Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"453c1a85-4a10-4c6f-94dc-d3193d4589a5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/31f194d3-ca4c-4bd0-9b06-64b883afe678/remove-member
    method: POST
  response:
    body: '{"id":"31f194d3-ca4c-4bd0-9b06-64b883afe678","created_at":"2022-07-05T20:18:19.857492Z","updated_at":"2022-07-05T20:18:19.857492Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_user","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/31f194d3-ca4c-4bd0-9b06-64b883afe678
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"31f194d3-ca4c-4bd0-9b06-64b883afe678","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
