---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"details":[{"argument_name":"no_principal","help_message":"must be set
      to true when used","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"b8bc3911-f1b6-48f0-ae79-52d7950bc409","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:16:44.433990Z","updated_at":"2022-10-03T15:16:44.433990Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b8bc3911-f1b6-48f0-ae79-52d7950bc409
    method: GET
  response:
    body: '{"id":"b8bc3911-f1b6-48f0-ae79-52d7950bc409","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:16:44.433990Z","updated_at":"2022-10-03T15:16:44.433990Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=b8bc3911-f1b6-48f0-ae79-52d7950bc409
    method: GET
  response:
    body: '{"rules":[{"id":"2ed4774e-938d-4b2c-8106-27510aea90a2","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"30eadd9e-bd87-49b2-b811-b2c33ba63b46","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T15:16:46.106425Z","updated_at":"2022-10-03T15:16:46.106425Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/30eadd9e-bd87-49b2-b811-b2c33ba63b46
    method: GET
  response:
    body: '{"id":"30eadd9e-bd87-49b2-b811-b2c33ba63b46","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T15:16:46.106425Z","updated_at":"2022-10-03T15:16:46.106425Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"application_id":"30eadd9e-bd87-49b2-b811-b2c33ba63b46"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/b8bc3911-f1b6-48f0-ae79-52d7950bc409
    method: PATCH
  response:
    body: '{"id":"b8bc3911-f1b6-48f0-ae79-52d7950bc409","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:16:44.433990Z","updated_at":"2022-10-03T15:16:44.433990Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"application_id":"30eadd9e-bd87-49b2-b811-b2c33ba63b46"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"a493fa0d-65b3-4e62-878b-df32199031d4","created_at":"2022-10-03T15:16:48.071848Z","updated_at":"2022-10-03T15:16:48.071848Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["5cd05d6f-003b-4312-8c29-f226629e85eb"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a493fa0d-65b3-4e62-878b-df32199031d4/members
    method: PUT
  response:
    body: '{"id":"a493fa0d-65b3-4e62-878b-df32199031d4","created_at":"2022-10-03T15:16:48.071848Z","updated_at":"2022-10-03T15:16:48.071848Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["5cd05d6f-003b-4312-8c29-f226629e85eb"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a493fa0d-65b3-4e62-878b-df32199031d4
    method: GET
  response:
    body: '{"id":"a493fa0d-65b3-4e62-878b-df32199031d4","created_at":"2022-10-03T15:16:48.071848Z","updated_at":"2022-10-03T15:16:48.071848Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["5cd05d6f-003b-4312-8c29-f226629e85eb"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"a493fa0d-65b3-4e62-878b-df32199031d4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/b8bc3911-f1b6-48f0-ae79-52d7950bc409
    method: PATCH
  response:
    body: '{"id":"b8bc3911-f1b6-48f0-ae79-52d7950bc409","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:16:44.433990Z","updated_at":"2022-10-03T15:16:44.433990Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"group_id":"a493fa0d-65b3-4e62-878b-df32199031d4"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b8bc3911-f1b6-48f0-ae79-52d7950bc409
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"b8bc3911-f1b6-48f0-ae79-52d7950bc409","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
