---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=dd5b8103-52ef-40b6-b157-35a426650401&page=1
    method: GET
  response:
    body: '{"users":[{"id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b","email":"developer-tools-team@scaleway.com","created_at":"2022-03-29T11:44:54.791271Z","updated_at":"2022-09-30T14:33:44.967546Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","deletable":false,"last_login_at":"2022-09-30T14:33:44.973134Z","type":"owner","two_factor_enabled":false,"status":"activated"},{"id":"e0343950-7388-4aea-808d-820ab1f1ee32","email":"ocano@scaleway.com","created_at":"2022-07-22T13:13:54.351788Z","updated_at":"2022-08-10T12:18:26.719250Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","deletable":true,"last_login_at":null,"type":"guest","two_factor_enabled":true,"status":"activated"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWKD8H1MXGX8J2X1D4M","secret_key":"2cfbab4f-a308-486b-bcdc-32f6ddabd43c","description":"a
      description","created_at":"2022-09-30T14:41:33.326813Z","updated_at":"2022-09-30T14:41:33.326813Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"51.159.46.153","user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWKD8H1MXGX8J2X1D4M
    method: GET
  response:
    body: '{"access_key":"SCWKD8H1MXGX8J2X1D4M","secret_key":null,"description":"a
      description","created_at":"2022-09-30T14:41:33.326813Z","updated_at":"2022-09-30T14:41:33.326813Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"51.159.46.153","user_id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/38d8ec28-dbee-4dbe-a4e8-56adcc285e8b
    method: GET
  response:
    body: '{"id":"38d8ec28-dbee-4dbe-a4e8-56adcc285e8b","email":"developer-tools-team@scaleway.com","created_at":"2022-03-29T11:44:54.791271Z","updated_at":"2022-09-30T14:33:44.967546Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","deletable":false,"last_login_at":"2022-09-30T14:33:44.973134Z","type":"owner","two_factor_enabled":false,"status":"activated"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWKD8H1MXGX8J2X1D4M
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWKD8H1MXGX8J2X1D4M","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
