---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--competent-sinoussi","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"c86c3b44-8927-4670-9496-1cd7ccb26ff9","created_at":"2022-06-24T14:16:29.387901Z","updated_at":"2022-06-24T14:16:29.387901Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--competent-sinoussi","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c86c3b44-8927-4670-9496-1cd7ccb26ff9
    method: GET
  response:
    body: '{"id":"c86c3b44-8927-4670-9496-1cd7ccb26ff9","created_at":"2022-06-24T14:16:29.387901Z","updated_at":"2022-06-24T14:16:29.387901Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--competent-sinoussi","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c86c3b44-8927-4670-9496-1cd7ccb26ff9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"c86c3b44-8927-4670-9496-1cd7ccb26ff9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
