---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"3062291e-d33e-46ce-9ec4-dce2834e30b7","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T13:21:42.815342Z","updated_at":"2022-10-03T13:21:42.815342Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/3062291e-d33e-46ce-9ec4-dce2834e30b7
    method: GET
  response:
    body: '{"id":"3062291e-d33e-46ce-9ec4-dce2834e30b7","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T13:21:42.815342Z","updated_at":"2022-10-03T13:21:42.815342Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=3062291e-d33e-46ce-9ec4-dce2834e30b7
    method: GET
  response:
    body: '{"rules":[{"id":"13eaab3b-86bd-44e7-9534-80ddb52fa7c7","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"60ec8b20-1ee7-4c0a-a303-934b14800835","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T13:21:54.714920Z","updated_at":"2022-10-03T13:21:54.714920Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/60ec8b20-1ee7-4c0a-a303-934b14800835
    method: GET
  response:
    body: '{"id":"60ec8b20-1ee7-4c0a-a303-934b14800835","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T13:21:54.714920Z","updated_at":"2022-10-03T13:21:54.714920Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"application_id":"60ec8b20-1ee7-4c0a-a303-934b14800835"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/3062291e-d33e-46ce-9ec4-dce2834e30b7
    method: PATCH
  response:
    body: '{"id":"3062291e-d33e-46ce-9ec4-dce2834e30b7","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T13:21:42.815342Z","updated_at":"2022-10-03T13:21:42.815342Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"application_id":"60ec8b20-1ee7-4c0a-a303-934b14800835"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"83969ccc-22c2-4f6b-9a89-b85f2de39675","created_at":"2022-10-03T13:22:04.789516Z","updated_at":"2022-10-03T13:22:04.789516Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["4a31b5d1-b11f-4836-ab4e-ccc3d4ceecff"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/83969ccc-22c2-4f6b-9a89-b85f2de39675/members
    method: PUT
  response:
    body: '{"id":"83969ccc-22c2-4f6b-9a89-b85f2de39675","created_at":"2022-10-03T13:22:04.789516Z","updated_at":"2022-10-03T13:22:04.789516Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["4a31b5d1-b11f-4836-ab4e-ccc3d4ceecff"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/83969ccc-22c2-4f6b-9a89-b85f2de39675
    method: GET
  response:
    body: '{"id":"83969ccc-22c2-4f6b-9a89-b85f2de39675","created_at":"2022-10-03T13:22:04.789516Z","updated_at":"2022-10-03T13:22:04.789516Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["4a31b5d1-b11f-4836-ab4e-ccc3d4ceecff"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"83969ccc-22c2-4f6b-9a89-b85f2de39675"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/3062291e-d33e-46ce-9ec4-dce2834e30b7
    method: PATCH
  response:
    body: '{"id":"3062291e-d33e-46ce-9ec4-dce2834e30b7","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T13:21:42.815342Z","updated_at":"2022-10-03T13:21:42.815342Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"group_id":"83969ccc-22c2-4f6b-9a89-b85f2de39675"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/3062291e-d33e-46ce-9ec4-dce2834e30b7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"3062291e-d33e-46ce-9ec4-dce2834e30b7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
