---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_expires_at","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"b5d9f8c3-dc6d-4b8f-a989-0fa28a50cc17","name":"tf_tests_app_expires_at","description":"","created_at":"2022-07-06T14:24:37.322589Z","updated_at":"2022-07-06T14:24:37.322589Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications/b5d9f8c3-dc6d-4b8f-a989-0fa28a50cc17
    method: GET
  response:
    body: '{"id":"b5d9f8c3-dc6d-4b8f-a989-0fa28a50cc17","name":"tf_tests_app_expires_at","description":"","created_at":"2022-07-06T14:24:37.322589Z","updated_at":"2022-07-06T14:24:37.322589Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"b5d9f8c3-dc6d-4b8f-a989-0fa28a50cc17","expires_at":"2025-07-06T09:00:00Z","default_project_id":null,"description":"an
      api key with an expiration date"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWYPYXMKMCRJF2E9N2E","secret_key":"10a66c5f-e102-4003-8600-d3a26cfe6be1","description":"an
      api key with an expiration date","created_at":"2022-07-06T14:24:37.531158Z","updated_at":"2022-07-06T14:24:37.531158Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"b5d9f8c3-dc6d-4b8f-a989-0fa28a50cc17"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCWYPYXMKMCRJF2E9N2E
    method: GET
  response:
    body: '{"access_key":"SCWYPYXMKMCRJF2E9N2E","secret_key":null,"description":"an
      api key with an expiration date","created_at":"2022-07-06T14:24:37.531158Z","updated_at":"2022-07-06T14:24:37.531158Z","expires_at":"2025-07-06T09:00:00Z","default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"b5d9f8c3-dc6d-4b8f-a989-0fa28a50cc17"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCWYPYXMKMCRJF2E9N2E
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWYPYXMKMCRJF2E9N2E","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
