---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"aaf18c92-b704-4833-a398-48591168eba3","name":"first app","description":"","created_at":"2022-06-28T11:37:15.671219Z","updated_at":"2022-06-28T11:37:15.671219Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/aaf18c92-b704-4833-a398-48591168eba3
    method: GET
  response:
    body: '{"id":"aaf18c92-b704-4833-a398-48591168eba3","name":"first app","description":"","created_at":"2022-06-28T11:37:15.671219Z","updated_at":"2022-06-28T11:37:15.671219Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"8fb104c0-1922-4ffc-ab3c-107bc8d4c89c","created_at":"2022-06-28T11:37:15.795227Z","updated_at":"2022-06-28T11:37:15.795227Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["aaf18c92-b704-4833-a398-48591168eba3"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/8fb104c0-1922-4ffc-ab3c-107bc8d4c89c/principals
    method: PUT
  response:
    body: '{"id":"8fb104c0-1922-4ffc-ab3c-107bc8d4c89c","created_at":"2022-06-28T11:37:15.795227Z","updated_at":"2022-06-28T11:37:15.795227Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["aaf18c92-b704-4833-a398-48591168eba3"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8fb104c0-1922-4ffc-ab3c-107bc8d4c89c
    method: GET
  response:
    body: '{"id":"8fb104c0-1922-4ffc-ab3c-107bc8d4c89c","created_at":"2022-06-28T11:37:15.795227Z","updated_at":"2022-06-28T11:37:15.795227Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["aaf18c92-b704-4833-a398-48591168eba3"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8fb104c0-1922-4ffc-ab3c-107bc8d4c89c/principals/b61a8933-1628-47cc-9d2f-c77afaa6a3aa
    method: DELETE
  response:
    body: '{"id":"8fb104c0-1922-4ffc-ab3c-107bc8d4c89c","created_at":"2022-06-28T11:37:15.795227Z","updated_at":"2022-06-28T11:37:15.795227Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f","0afd8f94-eaf1-4949-9dcb-9ae5f4bc1017"],"application_ids":["00000000-0000-0000-0000-000000000000"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/8fb104c0-1922-4ffc-ab3c-107bc8d4c89c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"8fb104c0-1922-4ffc-ab3c-107bc8d4c89c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
