---
version: 1
interactions:
- request:
    body: '{"organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"a2e9f43b-9da9-41a7-9283-2c13379caef2","created_at":"2022-06-30T14:27:39.323642Z","updated_at":"2022-06-30T14:27:39.323642Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_user","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a2e9f43b-9da9-41a7-9283-2c13379caef2/members
    method: PUT
  response:
    body: '{"id":"a2e9f43b-9da9-41a7-9283-2c13379caef2","created_at":"2022-06-30T14:27:39.323642Z","updated_at":"2022-06-30T14:27:39.323642Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a2e9f43b-9da9-41a7-9283-2c13379caef2
    method: GET
  response:
    body: '{"id":"a2e9f43b-9da9-41a7-9283-2c13379caef2","created_at":"2022-06-30T14:27:39.323642Z","updated_at":"2022-06-30T14:27:39.323642Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_user","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a2e9f43b-9da9-41a7-9283-2c13379caef2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"a2e9f43b-9da9-41a7-9283-2c13379caef2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
