---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--kind-yonath","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"e9ab8412-c50d-4015-952b-641c3a08117c","created_at":"2022-06-27T09:14:40.754530Z","updated_at":"2022-06-27T09:14:40.754530Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--kind-yonath","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/e9ab8412-c50d-4015-952b-641c3a08117c
    method: GET
  response:
    body: '{"id":"e9ab8412-c50d-4015-952b-641c3a08117c","created_at":"2022-06-27T09:14:40.754530Z","updated_at":"2022-06-27T09:14:40.754530Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--kind-yonath","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/e9ab8412-c50d-4015-952b-641c3a08117c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"e9ab8412-c50d-4015-952b-641c3a08117c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
