---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: '{"account_root_user_id":"e455b334-f426-4b1e-ab2f-913c31aa199c","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"guest","updated_at":"2023-01-23T15:18:52.043249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_iam_group_app3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:59:06.623040Z","description":"","editable":true,"id":"01ccb042-af53-4f30-88a9-b35a2b7a75b1","name":"tf_tests_iam_group_app3","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:59:06.623040Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/01ccb042-af53-4f30-88a9-b35a2b7a75b1
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:59:06.623040Z","description":"","editable":true,"id":"01ccb042-af53-4f30-88a9-b35a2b7a75b1","name":"tf_tests_iam_group_app3","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:59:06.623040Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_user_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T09:59:06.756904Z","description":"","id":"abc0836e-a1b8-465e-988f-37b819f90fec","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:59:06.756904Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["01ccb042-af53-4f30-88a9-b35a2b7a75b1"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/abc0836e-a1b8-465e-988f-37b819f90fec/members
    method: PUT
  response:
    body: '{"application_ids":["01ccb042-af53-4f30-88a9-b35a2b7a75b1"],"created_at":"2023-06-21T09:59:06.756904Z","description":"","id":"abc0836e-a1b8-465e-988f-37b819f90fec","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:59:06.756904Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/abc0836e-a1b8-465e-988f-37b819f90fec
    method: GET
  response:
    body: '{"application_ids":["01ccb042-af53-4f30-88a9-b35a2b7a75b1"],"created_at":"2023-06-21T09:59:06.756904Z","description":"","id":"abc0836e-a1b8-465e-988f-37b819f90fec","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:59:06.756904Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"d55bae64-4e2b-490f-9b2e-688715f60f6c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/abc0836e-a1b8-465e-988f-37b819f90fec/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T09:59:06.756904Z","description":"","id":"abc0836e-a1b8-465e-988f-37b819f90fec","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-06-21T09:59:06.756904Z","user_ids":["b6360d4f-831c-45a8-889e-0b65ed079e63","dc512a33-e14c-4e72-9481-52e020ced70a"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/abc0836e-a1b8-465e-988f-37b819f90fec
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"abc0836e-a1b8-465e-988f-37b819f90fec","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
