---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--zealous-galois","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"90e7f7ba-7ff9-48ca-8833-ee9a550e3d36","created_at":"2022-06-28T12:20:50.273804Z","updated_at":"2022-06-28T12:20:50.273804Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--zealous-galois","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/90e7f7ba-7ff9-48ca-8833-ee9a550e3d36
    method: GET
  response:
    body: '{"id":"90e7f7ba-7ff9-48ca-8833-ee9a550e3d36","created_at":"2022-06-28T12:20:50.273804Z","updated_at":"2022-06-28T12:20:50.273804Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--zealous-galois","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/90e7f7ba-7ff9-48ca-8833-ee9a550e3d36
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"90e7f7ba-7ff9-48ca-8833-ee9a550e3d36","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
