---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"445c93ab-9b37-4557-87ba-2fc27653c809","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T12:28:50.792797Z","updated_at":"2022-10-03T12:28:50.792797Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/445c93ab-9b37-4557-87ba-2fc27653c809
    method: GET
  response:
    body: '{"id":"445c93ab-9b37-4557-87ba-2fc27653c809","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T12:28:50.792797Z","updated_at":"2022-10-03T12:28:50.792797Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=445c93ab-9b37-4557-87ba-2fc27653c809
    method: GET
  response:
    body: '{"rules":[{"id":"13a53943-644e-499a-8ee4-6f70aff55987","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"71d9c48f-e3d4-4011-85a3-642a80d3810f","name":"tf_tests_app_basic","description":"a
      description","created_at":"2022-10-03T12:28:53.511330Z","updated_at":"2022-10-03T12:28:53.511330Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/71d9c48f-e3d4-4011-85a3-642a80d3810f
    method: GET
  response:
    body: '{"id":"71d9c48f-e3d4-4011-85a3-642a80d3810f","name":"tf_tests_app_basic","description":"a
      description","created_at":"2022-10-03T12:28:53.511330Z","updated_at":"2022-10-03T12:28:53.511330Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"application_id":"71d9c48f-e3d4-4011-85a3-642a80d3810f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/445c93ab-9b37-4557-87ba-2fc27653c809
    method: PATCH
  response:
    body: '{"id":"445c93ab-9b37-4557-87ba-2fc27653c809","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T12:28:50.792797Z","updated_at":"2022-10-03T12:28:50.792797Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"application_id":"71d9c48f-e3d4-4011-85a3-642a80d3810f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"a31272dd-78a4-4408-86fd-2e78db384e08","created_at":"2022-10-03T12:28:55.401134Z","updated_at":"2022-10-03T12:28:55.401134Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["c17184b7-6e55-46ff-9c72-f27dde3f2d9d"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/a31272dd-78a4-4408-86fd-2e78db384e08/members
    method: PUT
  response:
    body: '{"id":"a31272dd-78a4-4408-86fd-2e78db384e08","created_at":"2022-10-03T12:28:55.401134Z","updated_at":"2022-10-03T12:28:55.401134Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["c17184b7-6e55-46ff-9c72-f27dde3f2d9d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/a31272dd-78a4-4408-86fd-2e78db384e08
    method: GET
  response:
    body: '{"id":"a31272dd-78a4-4408-86fd-2e78db384e08","created_at":"2022-10-03T12:28:55.401134Z","updated_at":"2022-10-03T12:28:55.401134Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["c17184b7-6e55-46ff-9c72-f27dde3f2d9d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"a31272dd-78a4-4408-86fd-2e78db384e08"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/445c93ab-9b37-4557-87ba-2fc27653c809
    method: PATCH
  response:
    body: '{"id":"445c93ab-9b37-4557-87ba-2fc27653c809","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T12:28:50.792797Z","updated_at":"2022-10-03T12:28:50.792797Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"group_id":"a31272dd-78a4-4408-86fd-2e78db384e08"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/445c93ab-9b37-4557-87ba-2fc27653c809
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"445c93ab-9b37-4557-87ba-2fc27653c809","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
