---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: '{"created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"guest","updated_at":"2023-01-23T15:18:52.043249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"third app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-24T14:52:36.566384Z","description":"","editable":true,"id":"00391b0c-9b07-4c14-9472-9fddf67acecb","name":"third
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T14:52:36.566384Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/00391b0c-9b07-4c14-9472-9fddf67acecb
    method: GET
  response:
    body: '{"created_at":"2023-01-24T14:52:36.566384Z","description":"","editable":true,"id":"00391b0c-9b07-4c14-9472-9fddf67acecb","name":"third
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T14:52:36.566384Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T14:52:36.679473Z","description":"","id":"6a242447-7780-4764-bb12-7636a3349e56","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T14:52:36.679473Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["00391b0c-9b07-4c14-9472-9fddf67acecb"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6a242447-7780-4764-bb12-7636a3349e56/members
    method: PUT
  response:
    body: '{"application_ids":["00391b0c-9b07-4c14-9472-9fddf67acecb"],"created_at":"2023-01-24T14:52:36.679473Z","description":"","id":"6a242447-7780-4764-bb12-7636a3349e56","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T14:52:36.679473Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6a242447-7780-4764-bb12-7636a3349e56
    method: GET
  response:
    body: '{"application_ids":["00391b0c-9b07-4c14-9472-9fddf67acecb"],"created_at":"2023-01-24T14:52:36.679473Z","description":"","id":"6a242447-7780-4764-bb12-7636a3349e56","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T14:52:36.679473Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"d55bae64-4e2b-490f-9b2e-688715f60f6c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/6a242447-7780-4764-bb12-7636a3349e56/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-24T14:52:36.679473Z","description":"","id":"6a242447-7780-4764-bb12-7636a3349e56","name":"iam_group_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-24T14:52:36.679473Z","user_ids":["b6360d4f-831c-45a8-889e-0b65ed079e63","dc512a33-e14c-4e72-9481-52e020ced70a"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/6a242447-7780-4764-bb12-7636a3349e56
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"6a242447-7780-4764-bb12-7636a3349e56","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
