---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_key_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:36:48.474896Z","description":"","editable":true,"id":"3fe73e9c-261d-4070-8044-13295b6f2f94","name":"tf_tests_app_key_noupdate","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:36:48.474896Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/3fe73e9c-261d-4070-8044-13295b6f2f94
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:36:48.474896Z","description":"","editable":true,"id":"3fe73e9c-261d-4070-8044-13295b6f2f94","name":"tf_tests_app_key_noupdate","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:36:48.474896Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"3fe73e9c-261d-4070-8044-13295b6f2f94","expires_at":null,"default_project_id":null,"description":"tf_tests_no_update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW97D26H27B4611G0H8","application_id":"3fe73e9c-261d-4070-8044-13295b6f2f94","created_at":"2023-06-21T09:36:48.687596Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_no_update","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T09:36:48.687596Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW97D26H27B4611G0H8
    method: GET
  response:
    body: '{"access_key":"SCW97D26H27B4611G0H8","application_id":"3fe73e9c-261d-4070-8044-13295b6f2f94","created_at":"2023-06-21T09:36:48.687596Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_no_update","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T09:36:48.687596Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW97D26H27B4611G0H8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW97D26H27B4611G0H8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
