---
version: 2
interactions:
- request:
    body: '{"name":"tf_tests_api_key_app_change2","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-26T08:47:36.928327Z","description":"","editable":true,"id":"44b332db-1232-482c-b217-8eb1870763d1","name":"tf_tests_api_key_app_change2","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-26T08:47:36.928327Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/35fd591b-dfe1-49a8-927b-155354a3333f
    method: GET
  response:
    body: '{"created_at":"2023-06-26T08:47:36.929823Z","description":"","editable":true,"id":"35fd591b-dfe1-49a8-927b-155354a3333f","name":"tf_tests_api_key_app_change","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-26T08:47:36.929823Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"application_id":"35fd591b-dfe1-49a8-927b-155354a3333f","expires_at":null,"default_project_id":null,"description":"tf_tests_with_application_change"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW79WFVSMR8DQZAQ8HQ","application_id":"35fd591b-dfe1-49a8-927b-155354a3333f","created_at":"2023-06-26T08:47:37.127426Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_with_application_change","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-26T08:47:37.127426Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW79WFVSMR8DQZAQ8HQ
    method: GET
  response:
    body: '{"access_key":"SCW79WFVSMR8DQZAQ8HQ","application_id":"35fd591b-dfe1-49a8-927b-155354a3333f","created_at":"2023-06-26T08:47:37.127426Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_with_application_change","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-26T08:47:37.127426Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW0BPYE2F8P56Q7TDT4
    method: GET
  response:
    body: '{"access_key":"SCW0BPYE2F8P56Q7TDT4","application_id":"44b332db-1232-482c-b217-8eb1870763d1","created_at":"2023-06-26T08:47:38.857867Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_with_application_change","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-26T08:47:38.857867Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW0BPYE2F8P56Q7TDT4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW0BPYE2F8P56Q7TDT4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
