---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/b6360d4f-831c-45a8-889e-0b65ed079e63
    method: GET
  response:
    body: '{"account_root_user_id":"caeed50e-d7fe-4d74-b7f0-956d94e85d4b","created_at":"2022-12-01T12:53:29.981622Z","deletable":true,"email":"jcasteran@scaleway.com","id":"b6360d4f-831c-45a8-889e-0b65ed079e63","last_login_at":"2023-07-25T11:32:51.066013Z","mfa":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":false,"type":"guest","updated_at":"2023-07-25T11:32:51.052173Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T12:10:35.503347Z","description":"","id":"dd6abb89-b91e-4ee0-9e6f-7725ee9e7148","name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:35.503347Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/dd6abb89-b91e-4ee0-9e6f-7725ee9e7148
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T12:10:35.503347Z","description":"","id":"dd6abb89-b91e-4ee0-9e6f-7725ee9e7148","name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:35.503347Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_id":"b6360d4f-831c-45a8-889e-0b65ed079e63"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/dd6abb89-b91e-4ee0-9e6f-7725ee9e7148/add-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T12:10:35.503347Z","description":"","id":"dd6abb89-b91e-4ee0-9e6f-7725ee9e7148","name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:35.503347Z","user_ids":["b6360d4f-831c-45a8-889e-0b65ed079e63"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"b6360d4f-831c-45a8-889e-0b65ed079e63"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/dd6abb89-b91e-4ee0-9e6f-7725ee9e7148/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T12:10:35.503347Z","description":"","id":"dd6abb89-b91e-4ee0-9e6f-7725ee9e7148","name":"tf-tests-iam-group-membership-user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:35.503347Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/dd6abb89-b91e-4ee0-9e6f-7725ee9e7148
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"dd6abb89-b91e-4ee0-9e6f-7725ee9e7148","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
