---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-1462847445464469696","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:03:58.047364Z","description":"","id":"dbc97a14-bf5d-459f-ae35-e7805ece23e5","name":"test-acc-scaleway-project-1462847445464469696","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:03:58.047364Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-6138344680729927431","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:03:59.087683Z","description":"","editable":true,"id":"10feccb3-b036-4802-a76b-a3db1f9e45d6","name":"test-acc-scaleway-iam-app-6138344680729927431","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:03:59.087683Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-2949962834892390896","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["IAMManager"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"application_id":"10feccb3-b036-4802-a76b-a3db1f9e45d6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"10feccb3-b036-4802-a76b-a3db1f9e45d6","created_at":"2023-02-10T09:03:59.149870Z","description":"","editable":true,"id":"2112f786-6b48-4d3c-9ed2-84876fdd18c0","name":"test-acc-scaleway-iam-policy-2949962834892390896","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:03:59.149870Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"10feccb3-b036-4802-a76b-a3db1f9e45d6","expires_at":null,"default_project_id":"dbc97a14-bf5d-459f-ae35-e7805ece23e5","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWYP9E4Q5M8X87BY8YV","application_id":"10feccb3-b036-4802-a76b-a3db1f9e45d6","created_at":"2023-02-10T09:03:59.347086Z","creation_ip":"51.159.46.153","default_project_id":"dbc97a14-bf5d-459f-ae35-e7805ece23e5","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-02-10T09:03:59.347086Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-02-10T09:04:15.896218Z","description":"a description","editable":true,"id":"5de98eea-51fe-4c89-bf6d-0bd9d245e184","name":"tf_tests_policy_noupdate","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:15.896218Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5de98eea-51fe-4c89-bf6d-0bd9d245e184
    method: GET
  response:
    body: '{"created_at":"2023-02-10T09:04:15.896218Z","description":"a description","editable":true,"id":"5de98eea-51fe-4c89-bf6d-0bd9d245e184","name":"tf_tests_policy_noupdate","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-02-10T09:04:15.896218Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=5de98eea-51fe-4c89-bf6d-0bd9d245e184
    method: GET
  response:
    body: '{"rules":[{"id":"84062822-16be-46ca-81af-6f3ea47f1fcc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWYP9E4Q5M8X87BY8YV
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/10feccb3-b036-4802-a76b-a3db1f9e45d6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/dbc97a14-bf5d-459f-ae35-e7805ece23e5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/5de98eea-51fe-4c89-bf6d-0bd9d245e184
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"5de98eea-51fe-4c89-bf6d-0bd9d245e184","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
