---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"ca090933-6d4d-4f03-8200-662ad674cdfb","name":"tf_tests_app_noupdate","description":"","created_at":"2022-07-06T14:24:37.326331Z","updated_at":"2022-07-06T14:24:37.326331Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications/ca090933-6d4d-4f03-8200-662ad674cdfb
    method: GET
  response:
    body: '{"id":"ca090933-6d4d-4f03-8200-662ad674cdfb","name":"tf_tests_app_noupdate","description":"","created_at":"2022-07-06T14:24:37.326331Z","updated_at":"2022-07-06T14:24:37.326331Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"ca090933-6d4d-4f03-8200-662ad674cdfb","expires_at":null,"default_project_id":null,"description":"no
      update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWT4N2XPE0WS7RZH43N","secret_key":"4efb5b71-d3b2-492d-b697-905b42bf84f5","description":"no
      update","created_at":"2022-07-06T14:24:37.499463Z","updated_at":"2022-07-06T14:24:37.499463Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"ca090933-6d4d-4f03-8200-662ad674cdfb"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCWT4N2XPE0WS7RZH43N
    method: GET
  response:
    body: '{"access_key":"SCWT4N2XPE0WS7RZH43N","secret_key":null,"description":"no
      update","created_at":"2022-07-06T14:24:37.499463Z","updated_at":"2022-07-06T14:24:37.499463Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"ca090933-6d4d-4f03-8200-662ad674cdfb"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCWT4N2XPE0WS7RZH43N
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWT4N2XPE0WS7RZH43N","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
