---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"b5cf9f00-ffdc-4763-bc5f-fc0b7e5e4e22","name":"tf_tests_app_basic","description":"","created_at":"2022-07-06T15:32:33.664092Z","updated_at":"2022-07-06T15:32:33.664092Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b5cf9f00-ffdc-4763-bc5f-fc0b7e5e4e22
    method: GET
  response:
    body: '{"id":"b5cf9f00-ffdc-4763-bc5f-fc0b7e5e4e22","name":"tf_tests_app_basic","description":"","created_at":"2022-07-06T15:32:33.664092Z","updated_at":"2022-07-06T15:32:33.664092Z","organization_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"b5cf9f00-ffdc-4763-bc5f-fc0b7e5e4e22","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWSTEPTB0YSG0RZGXSW","secret_key":"0b614690-fcc7-4ae2-975e-ca447698e28c","description":"a
      description","created_at":"2022-07-06T15:32:33.873823Z","updated_at":"2022-07-06T15:32:33.873823Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","application_id":"b5cf9f00-ffdc-4763-bc5f-fc0b7e5e4e22"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWSTEPTB0YSG0RZGXSW
    method: GET
  response:
    body: '{"access_key":"SCWSTEPTB0YSG0RZGXSW","secret_key":null,"description":"a
      description","created_at":"2022-07-06T15:32:33.873823Z","updated_at":"2022-07-06T15:32:33.873823Z","expires_at":null,"default_project_id":"dd5b8103-52ef-40b6-b157-35a426650401","editable":true,"creation_ip":"","application_id":"b5cf9f00-ffdc-4763-bc5f-fc0b7e5e4e22"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWSTEPTB0YSG0RZGXSW
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWSTEPTB0YSG0RZGXSW","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
