---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users?order_by=created_at_asc&organization_id=105bdce1-64c0-48ab-899d-868455867ecf&page=1
    method: GET
  response:
    body: '{"total_count":6,"users":[{"created_at":"2022-03-29T11:44:54.791271Z","deletable":true,"email":"jbernabe@scaleway.com","id":"d55bae64-4e2b-490f-9b2e-688715f60f6c","last_login_at":"2023-01-23T15:09:32.631334Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":false,"type":"guest","updated_at":"2023-01-23T15:09:32.616981Z"},{"created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2023-01-23T15:19:36.580542Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"owner","updated_at":"2023-01-23T15:19:36.576140Z"},{"created_at":"2022-08-25T08:56:54.595956Z","deletable":true,"email":"lmarabese@scaleway.com","id":"0dda64ff-f277-41c2-99[...]
[...]
- request:
    body: '{"user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWWZXD1BQJTEXV0S23N","created_at":"2023-01-23T15:55:27.641410Z","creation_ip":"51.159.46.153","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a
      description","editable":true,"expires_at":null,"secret_key":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx","updated_at":"2023-01-23T15:55:27.641410Z","user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWWZXD1BQJTEXV0S23N
    method: GET
  response:
    body: '{"access_key":"SCWWZXD1BQJTEXV0S23N","created_at":"2023-01-23T15:55:27.641410Z","creation_ip":"51.159.46.153","default_project_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a
      description","editable":true,"expires_at":null,"secret_key":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx","updated_at":"2023-01-23T15:55:27.641410Z","user_id":"ef29ce05-3f2b-4fa0-a259-d76110850d57"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/ef29ce05-3f2b-4fa0-a259-d76110850d57
    method: GET
  response:
    body: '{"created_at":"2022-03-29T11:44:54.791271Z","deletable":false,"email":"hashicorp@scaleway.com","id":"ef29ce05-3f2b-4fa0-a259-d76110850d57","last_login_at":"2023-01-23T15:19:36.580542Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"owner","updated_at":"2023-01-23T15:19:36.576140Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWWZXD1BQJTEXV0S23N
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWWZXD1BQJTEXV0S23N","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
