---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_changeruleprincipal","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"61ead654-3e37-4da9-a69d-fc23d2911e3c","name":"tf_tests_policy_changeruleprincipal","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.376671Z","updated_at":"2022-07-06T14:30:56.376671Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/61ead654-3e37-4da9-a69d-fc23d2911e3c
    method: GET
  response:
    body: '{"id":"61ead654-3e37-4da9-a69d-fc23d2911e3c","name":"tf_tests_policy_changeruleprincipal","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-06T14:30:56.376671Z","updated_at":"2022-07-06T14:30:56.376671Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=61ead654-3e37-4da9-a69d-fc23d2911e3c
    method: GET
  response:
    body: '{"rules":[{"id":"2905c06c-3971-43dd-ad69-7468cff83d26","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"policy_id":"61ead654-3e37-4da9-a69d-fc23d2911e3c","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/rules
    method: PUT
  response:
    body: '{"rules":[{"id":"e5c6e255-917f-4180-92ba-36a3a3d7a6cd","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","project_ids":["105bdce1-64c0-48ab-899d-868455867ecf"]}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/61ead654-3e37-4da9-a69d-fc23d2911e3c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"61ead654-3e37-4da9-a69d-fc23d2911e3c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
