---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"a
      description","tags":["tf_tests","tests"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-11-29T14:45:05.858553Z","description":"a description","editable":true,"id":"2a4b7755-51be-4a7a-a17f-957ac110cd8d","name":"tf_tests_app_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2023-11-29T14:45:05.858553Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/2a4b7755-51be-4a7a-a17f-957ac110cd8d
    method: GET
  response:
    body: '{"created_at":"2023-11-29T14:45:05.858553Z","description":"a description","editable":true,"id":"2a4b7755-51be-4a7a-a17f-957ac110cd8d","name":"tf_tests_app_basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tf_tests","tests"],"updated_at":"2023-11-29T14:45:05.858553Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/2a4b7755-51be-4a7a-a17f-957ac110cd8d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_application","resource_id":"2a4b7755-51be-4a7a-a17f-957ac110cd8d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
