---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_changepermissions","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"details":[{"argument_name":"no_principal","help_message":"must be set
      to true when used","reason":"constraint"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"1e484a8e-e68d-485e-aace-52b58844e25e","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:24:55.863505Z","updated_at":"2022-10-03T15:24:55.863505Z","editable":true,"nb_rules":0,"nb_scopes":0,"nb_permission_sets":0,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/1e484a8e-e68d-485e-aace-52b58844e25e
    method: GET
  response:
    body: '{"id":"1e484a8e-e68d-485e-aace-52b58844e25e","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:24:55.863505Z","updated_at":"2022-10-03T15:24:55.863505Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=1e484a8e-e68d-485e-aace-52b58844e25e
    method: GET
  response:
    body: '{"rules":[{"id":"85eafe53-0c09-48ea-a3c1-88e60b781ff6","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"96ba5caa-77fb-476f-a581-026dd0938379","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T15:24:57.458212Z","updated_at":"2022-10-03T15:24:57.458212Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/96ba5caa-77fb-476f-a581-026dd0938379
    method: GET
  response:
    body: '{"id":"96ba5caa-77fb-476f-a581-026dd0938379","name":"tf_tests_policy_change_linked_entity","description":"a
      description","created_at":"2022-10-03T15:24:57.458212Z","updated_at":"2022-10-03T15:24:57.458212Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"application_id":"96ba5caa-77fb-476f-a581-026dd0938379"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/1e484a8e-e68d-485e-aace-52b58844e25e
    method: PATCH
  response:
    body: '{"id":"1e484a8e-e68d-485e-aace-52b58844e25e","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:24:55.863505Z","updated_at":"2022-10-03T15:24:55.863505Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"application_id":"96ba5caa-77fb-476f-a581-026dd0938379"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"69da89fb-950b-4fe8-8d30-1975da9777f7","created_at":"2022-10-03T15:24:59.197892Z","updated_at":"2022-10-03T15:24:59.197892Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["fde4652a-4ae3-488e-9031-1b956030bc5d"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/69da89fb-950b-4fe8-8d30-1975da9777f7/members
    method: PUT
  response:
    body: '{"id":"69da89fb-950b-4fe8-8d30-1975da9777f7","created_at":"2022-10-03T15:24:59.197892Z","updated_at":"2022-10-03T15:24:59.197892Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["fde4652a-4ae3-488e-9031-1b956030bc5d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/69da89fb-950b-4fe8-8d30-1975da9777f7
    method: GET
  response:
    body: '{"id":"69da89fb-950b-4fe8-8d30-1975da9777f7","created_at":"2022-10-03T15:24:59.197892Z","updated_at":"2022-10-03T15:24:59.197892Z","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"iam_group_app","description":"","user_ids":[],"application_ids":["fde4652a-4ae3-488e-9031-1b956030bc5d"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"69da89fb-950b-4fe8-8d30-1975da9777f7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/1e484a8e-e68d-485e-aace-52b58844e25e
    method: PATCH
  response:
    body: '{"id":"1e484a8e-e68d-485e-aace-52b58844e25e","name":"tf_tests_policy_change_linked_entity","description":"a
      description","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2022-10-03T15:24:55.863505Z","updated_at":"2022-10-03T15:24:55.863505Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"group_id":"69da89fb-950b-4fe8-8d30-1975da9777f7"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
