---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/d55bae64-4e2b-490f-9b2e-688715f60f6c
    method: GET
  response:
    body: '{"created_at":"2022-03-29T11:44:54.791271Z","deletable":true,"email":"jbernabe@scaleway.com","id":"d55bae64-4e2b-490f-9b2e-688715f60f6c","last_login_at":"2023-01-20T14:14:13.757163Z","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":false,"type":"guest","updated_at":"2023-01-20T14:14:13.753587Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_user","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-20T14:41:15.595819Z","description":"","id":"c86b2ccd-0078-42df-a648-03abc1b0c6a4","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:41:15.595819Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c"],"application_ids":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/c86b2ccd-0078-42df-a648-03abc1b0c6a4/members
    method: PUT
  response:
    body: '{"application_ids":[],"created_at":"2023-01-20T14:41:15.595819Z","description":"","id":"c86b2ccd-0078-42df-a648-03abc1b0c6a4","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:41:15.595819Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c86b2ccd-0078-42df-a648-03abc1b0c6a4
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-01-20T14:41:15.595819Z","description":"","id":"c86b2ccd-0078-42df-a648-03abc1b0c6a4","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:41:15.595819Z","user_ids":["d55bae64-4e2b-490f-9b2e-688715f60f6c"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"dc512a33-e14c-4e72-9481-52e020ced70a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/c86b2ccd-0078-42df-a648-03abc1b0c6a4/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-20T14:41:15.595819Z","description":"","id":"c86b2ccd-0078-42df-a648-03abc1b0c6a4","name":"iam_group_user","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-20T14:41:15.595819Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c86b2ccd-0078-42df-a648-03abc1b0c6a4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"c86b2ccd-0078-42df-a648-03abc1b0c6a4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
