---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"0555cebe-ac82-4222-935c-6b06cbeb923c","name":"tf_tests_app_noupdate","description":"","created_at":"2022-07-06T14:36:17.374927Z","updated_at":"2022-07-06T14:36:17.374927Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/0555cebe-ac82-4222-935c-6b06cbeb923c
    method: GET
  response:
    body: '{"id":"0555cebe-ac82-4222-935c-6b06cbeb923c","name":"tf_tests_app_noupdate","description":"","created_at":"2022-07-06T14:36:17.374927Z","updated_at":"2022-07-06T14:36:17.374927Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"0555cebe-ac82-4222-935c-6b06cbeb923c","expires_at":null,"default_project_id":null,"description":"no
      update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWBDHHSVRTA7A4A70WF","secret_key":"ad336993-7997-402a-8148-7d8d9421ff70","description":"no
      update","created_at":"2022-07-06T14:36:17.591713Z","updated_at":"2022-07-06T14:36:17.591713Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"0555cebe-ac82-4222-935c-6b06cbeb923c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWBDHHSVRTA7A4A70WF
    method: GET
  response:
    body: '{"access_key":"SCWBDHHSVRTA7A4A70WF","secret_key":null,"description":"no
      update","created_at":"2022-07-06T14:36:17.591713Z","updated_at":"2022-07-06T14:36:17.591713Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"0555cebe-ac82-4222-935c-6b06cbeb923c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWBDHHSVRTA7A4A70WF
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWBDHHSVRTA7A4A70WF","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
