---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"8f687343-c8f6-449e-a3a3-32adc5b85092","name":"tf_tests_app_basic","description":"","created_at":"2022-07-06T14:24:37.324176Z","updated_at":"2022-07-06T14:24:37.324176Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/applications/8f687343-c8f6-449e-a3a3-32adc5b85092
    method: GET
  response:
    body: '{"id":"8f687343-c8f6-449e-a3a3-32adc5b85092","name":"tf_tests_app_basic","description":"","created_at":"2022-07-06T14:24:37.324176Z","updated_at":"2022-07-06T14:24:37.324176Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"8f687343-c8f6-449e-a3a3-32adc5b85092","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW7S2PM4B8HDBQNKR4W","secret_key":"192cd5f8-a4a2-44d2-9f48-aaa1180fb99f","description":"a
      description","created_at":"2022-07-06T14:24:37.488953Z","updated_at":"2022-07-06T14:24:37.488953Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"8f687343-c8f6-449e-a3a3-32adc5b85092"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCW7S2PM4B8HDBQNKR4W
    method: GET
  response:
    body: '{"access_key":"SCW7S2PM4B8HDBQNKR4W","secret_key":null,"description":"a
      description","created_at":"2022-07-06T14:24:37.488953Z","updated_at":"2022-07-06T14:24:37.488953Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"8f687343-c8f6-449e-a3a3-32adc5b85092"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://agw.stg.fr-par-2.internal.scaleway.com/iam/v1alpha1/api-keys/SCW7S2PM4B8HDBQNKR4W
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCW7S2PM4B8HDBQNKR4W","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
