---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"c75c62f2-6630-46e2-8bec-c21e168a9b8a","name":"tf_tests_app_basic","description":"","created_at":"2022-06-23T13:41:45.393122Z","updated_at":"2022-06-23T13:41:45.393122Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c75c62f2-6630-46e2-8bec-c21e168a9b8a
    method: GET
  response:
    body: '{"id":"c75c62f2-6630-46e2-8bec-c21e168a9b8a","name":"tf_tests_app_basic","description":"","created_at":"2022-06-23T13:41:45.393122Z","updated_at":"2022-06-23T13:41:45.393122Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c75c62f2-6630-46e2-8bec-c21e168a9b8a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"application","resource_id":"c75c62f2-6630-46e2-8bec-c21e168a9b8a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
