---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--optimistic-hellman","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"49822e26-66a9-47db-b754-96d966a5cb8f","created_at":"2022-06-29T13:32:58.051756Z","updated_at":"2022-06-29T13:32:58.051756Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--optimistic-hellman","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/49822e26-66a9-47db-b754-96d966a5cb8f
    method: GET
  response:
    body: '{"id":"49822e26-66a9-47db-b754-96d966a5cb8f","created_at":"2022-06-29T13:32:58.051756Z","updated_at":"2022-06-29T13:32:58.051756Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--optimistic-hellman","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/49822e26-66a9-47db-b754-96d966a5cb8f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"49822e26-66a9-47db-b754-96d966a5cb8f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
