---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: '{"created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"guest","updated_at":"2023-01-23T15:18:52.043249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"third app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-01-30T10:08:57.450571Z","description":"","editable":true,"id":"b1e8d17d-e59e-41cb-a94d-1ff949e2d604","name":"third
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-30T10:08:57.450571Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b1e8d17d-e59e-41cb-a94d-1ff949e2d604
    method: GET
  response:
    body: '{"created_at":"2023-01-30T10:08:57.450571Z","description":"","editable":true,"id":"b1e8d17d-e59e-41cb-a94d-1ff949e2d604","name":"third
      app","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-30T10:08:57.450571Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"iam_group_user_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-30T10:08:57.577180Z","description":"","id":"82196b22-98c8-4970-b01b-5e7527125aba","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-30T10:08:57.577180Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["b1e8d17d-e59e-41cb-a94d-1ff949e2d604"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/82196b22-98c8-4970-b01b-5e7527125aba/members
    method: PUT
  response:
    body: '{"application_ids":["b1e8d17d-e59e-41cb-a94d-1ff949e2d604"],"created_at":"2023-01-30T10:08:57.577180Z","description":"","id":"82196b22-98c8-4970-b01b-5e7527125aba","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-30T10:08:57.577180Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/82196b22-98c8-4970-b01b-5e7527125aba
    method: GET
  response:
    body: '{"application_ids":["b1e8d17d-e59e-41cb-a94d-1ff949e2d604"],"created_at":"2023-01-30T10:08:57.577180Z","description":"","id":"82196b22-98c8-4970-b01b-5e7527125aba","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-30T10:08:57.577180Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"d55bae64-4e2b-490f-9b2e-688715f60f6c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/82196b22-98c8-4970-b01b-5e7527125aba/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-01-30T10:08:57.577180Z","description":"","id":"82196b22-98c8-4970-b01b-5e7527125aba","name":"iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-01-30T10:08:57.577180Z","user_ids":["b6360d4f-831c-45a8-889e-0b65ed079e63","dc512a33-e14c-4e72-9481-52e020ced70a"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/82196b22-98c8-4970-b01b-5e7527125aba
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"82196b22-98c8-4970-b01b-5e7527125aba","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
