---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"b4260b12-6a17-49f5-bc6f-4e70d8e9cad7","name":"first app","description":"","created_at":"2022-06-30T14:27:39.321834Z","updated_at":"2022-06-30T14:27:39.321834Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b4260b12-6a17-49f5-bc6f-4e70d8e9cad7
    method: GET
  response:
    body: '{"id":"b4260b12-6a17-49f5-bc6f-4e70d8e9cad7","name":"first app","description":"","created_at":"2022-06-30T14:27:39.321834Z","updated_at":"2022-06-30T14:27:39.321834Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"25f8821e-7c0e-4ded-b73c-57af29aa0803","created_at":"2022-06-30T14:27:39.912229Z","updated_at":"2022-06-30T14:27:39.912229Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["b4260b12-6a17-49f5-bc6f-4e70d8e9cad7"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/25f8821e-7c0e-4ded-b73c-57af29aa0803/members
    method: PUT
  response:
    body: '{"id":"25f8821e-7c0e-4ded-b73c-57af29aa0803","created_at":"2022-06-30T14:27:39.912229Z","updated_at":"2022-06-30T14:27:39.912229Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":"","user_ids":[],"application_ids":["b4260b12-6a17-49f5-bc6f-4e70d8e9cad7"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/25f8821e-7c0e-4ded-b73c-57af29aa0803
    method: GET
  response:
    body: '{"id":"25f8821e-7c0e-4ded-b73c-57af29aa0803","created_at":"2022-06-30T14:27:39.912229Z","updated_at":"2022-06-30T14:27:39.912229Z","organization_id":"458f88ce-0f70-48b5-834d-5304b8b76253","name":"iam_group_app","description":"","user_ids":[],"application_ids":["b4260b12-6a17-49f5-bc6f-4e70d8e9cad7"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/25f8821e-7c0e-4ded-b73c-57af29aa0803
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"25f8821e-7c0e-4ded-b73c-57af29aa0803","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
