---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["AllProductsFullAccess"],"project_ids":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"id":"4c018b62-ffc4-41c8-be27-40b24b5deb68","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.555421Z","updated_at":"2022-07-08T12:30:43.555421Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4c018b62-ffc4-41c8-be27-40b24b5deb68
    method: GET
  response:
    body: '{"id":"4c018b62-ffc4-41c8-be27-40b24b5deb68","name":"tf_tests_policy_noupdate","description":"a
      description","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-08T12:30:43.555421Z","updated_at":"2022-07-08T12:30:43.555421Z","editable":true,"nb_rules":1,"nb_scopes":1,"nb_permission_sets":1,"no_principal":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=4c018b62-ffc4-41c8-be27-40b24b5deb68
    method: GET
  response:
    body: '{"rules":[{"id":"2bfe7ff2-27bd-482f-8654-efb0bd86fa28","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"organization","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4c018b62-ffc4-41c8-be27-40b24b5deb68
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"policy","resource_id":"4c018b62-ffc4-41c8-be27-40b24b5deb68","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
