---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-2608670835906431364","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-06-21T12:19:33.986037Z","description":"","id":"39e9c1d4-caf5-4d69-add8-5df4275e6a5b","name":"test-acc-scaleway-project-2608670835906431364","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:33.986037Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-8652677293261611364","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T12:19:34.209096Z","description":"","editable":true,"id":"134db768-350f-4756-8877-a8718ce5186b","name":"test-acc-scaleway-iam-app-8652677293261611364","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:34.209096Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-7781305711007334769","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"application_id":"134db768-350f-4756-8877-a8718ce5186b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"134db768-350f-4756-8877-a8718ce5186b","created_at":"2023-06-21T12:19:34.275357Z","description":"","editable":true,"id":"64730d44-855c-426c-8d3f-ee2583c5608a","name":"test-acc-scaleway-iam-policy-7781305711007334769","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:34.275357Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"134db768-350f-4756-8877-a8718ce5186b","expires_at":null,"default_project_id":"39e9c1d4-caf5-4d69-add8-5df4275e6a5b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWHN9QQ8YV8AS7MWAMB","application_id":"134db768-350f-4756-8877-a8718ce5186b","created_at":"2023-06-21T12:19:34.417317Z","creation_ip":"51.159.73.9","default_project_id":"39e9c1d4-caf5-4d69-add8-5df4275e6a5b","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T12:19:34.417317Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-06-21T12:19:35.107008Z","description":"a description","editable":true,"id":"750b20f0-f4cd-4ddb-b2f6-f19542aa9767","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:35.107008Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/750b20f0-f4cd-4ddb-b2f6-f19542aa9767
    method: GET
  response:
    body: '{"created_at":"2023-06-21T12:19:35.107008Z","description":"a description","editable":true,"id":"750b20f0-f4cd-4ddb-b2f6-f19542aa9767","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:35.107008Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=750b20f0-f4cd-4ddb-b2f6-f19542aa9767
    method: GET
  response:
    body: '{"rules":[{"id":"9225a8dd-8f01-4487-b64e-897f3540d908","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/96139275-498a-4d9e-bcac-66f78ea563e0
    method: GET
  response:
    body: '{"created_at":"2023-06-21T12:19:36.770972Z","description":"a description","editable":true,"id":"96139275-498a-4d9e-bcac-66f78ea563e0","name":"tf_tests_policy_change_linked_entity","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:36.770972Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf-tests-scaleway-iam-group-policy-permissions","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T12:19:38.754215Z","description":"","id":"20f4cb90-7f45-4588-8371-766e7ca61cb1","name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:38.754215Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["0e517d4a-bc38-4d83-8474-e23843772cc5"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/20f4cb90-7f45-4588-8371-766e7ca61cb1/members
    method: PUT
  response:
    body: '{"application_ids":["0e517d4a-bc38-4d83-8474-e23843772cc5"],"created_at":"2023-06-21T12:19:38.754215Z","description":"","id":"20f4cb90-7f45-4588-8371-766e7ca61cb1","name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:38.754215Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/20f4cb90-7f45-4588-8371-766e7ca61cb1
    method: GET
  response:
    body: '{"application_ids":["0e517d4a-bc38-4d83-8474-e23843772cc5"],"created_at":"2023-06-21T12:19:38.754215Z","description":"","id":"20f4cb90-7f45-4588-8371-766e7ca61cb1","name":"tf-tests-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:38.754215Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"20f4cb90-7f45-4588-8371-766e7ca61cb1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/750b20f0-f4cd-4ddb-b2f6-f19542aa9767
    method: PATCH
  response:
    body: '{"created_at":"2023-06-21T12:19:35.107008Z","description":"a description","editable":true,"group_id":"20f4cb90-7f45-4588-8371-766e7ca61cb1","id":"750b20f0-f4cd-4ddb-b2f6-f19542aa9767","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:19:35.107008Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWHN9QQ8YV8AS7MWAMB
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/39e9c1d4-caf5-4d69-add8-5df4275e6a5b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/750b20f0-f4cd-4ddb-b2f6-f19542aa9767
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"750b20f0-f4cd-4ddb-b2f6-f19542aa9767","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
