---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"69d1d16d-dc15-47d7-8f9b-9f3a21c7ead2","name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T12:34:12.343429Z","updated_at":"2022-06-29T12:34:12.343429Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/69d1d16d-dc15-47d7-8f9b-9f3a21c7ead2
    method: GET
  response:
    body: '{"id":"69d1d16d-dc15-47d7-8f9b-9f3a21c7ead2","name":"TestAccScalewayIamSSHKey_ChangeResourceName","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO opensource@scaleway.com","fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-29T12:34:12.343429Z","updated_at":"2022-06-29T12:34:12.343429Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","disabled":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/802960f0-7e00-46a1-9178-6e6dc0e7eded
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"802960f0-7e00-46a1-9178-6e6dc0e7eded","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
