---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-8307496228545735133","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2/projects
    method: POST
  response:
    body: '{"created_at":"2023-06-21T10:02:27.443791Z","description":"","id":"919cde9b-0263-4ea6-b0ed-6732064df4d0","name":"test-acc-scaleway-project-8307496228545735133","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:27.443791Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-1434240649378245702","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T10:02:27.726310Z","description":"","editable":true,"id":"2b99cffd-4816-45c4-8f5c-ba0e63379754","name":"test-acc-scaleway-iam-app-1434240649378245702","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:27.726310Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-5458583772816487830","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"application_id":"2b99cffd-4816-45c4-8f5c-ba0e63379754"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"2b99cffd-4816-45c4-8f5c-ba0e63379754","created_at":"2023-06-21T10:02:27.791812Z","description":"","editable":true,"id":"77d47052-8d24-4f4b-9351-6b3448aaa855","name":"test-acc-scaleway-iam-policy-5458583772816487830","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:27.791812Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"2b99cffd-4816-45c4-8f5c-ba0e63379754","expires_at":null,"default_project_id":"919cde9b-0263-4ea6-b0ed-6732064df4d0","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW4BQQ2MJDP2RFH6YMG","application_id":"2b99cffd-4816-45c4-8f5c-ba0e63379754","created_at":"2023-06-21T10:02:27.953272Z","creation_ip":"51.159.73.9","default_project_id":"919cde9b-0263-4ea6-b0ed-6732064df4d0","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T10:02:27.953272Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_change_linked_entity","description":"a description","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-06-21T10:02:28.647275Z","description":"a description","editable":true,"id":"2540c324-79c1-4858-8433-6d0a1d5318eb","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:28.647275Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/2540c324-79c1-4858-8433-6d0a1d5318eb
    method: GET
  response:
    body: '{"created_at":"2023-06-21T10:02:28.647275Z","description":"a description","editable":true,"id":"2540c324-79c1-4858-8433-6d0a1d5318eb","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:28.647275Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=2540c324-79c1-4858-8433-6d0a1d5318eb
    method: GET
  response:
    body: '{"rules":[{"id":"2b6ad917-c859-4095-b0ed-50fc51710a61","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/8d66285e-f317-4c2d-8c4e-fdcd2e2b31d1
    method: GET
  response:
    body: '{"created_at":"2023-06-21T10:02:30.441348Z","description":"a description","editable":true,"id":"8d66285e-f317-4c2d-8c4e-fdcd2e2b31d1","name":"tf_tests_policy_change_linked_entity","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:30.441348Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-acc-scaleway-iam-group-policy-permissions","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T10:02:32.489797Z","description":"","id":"4a037fd1-3dc6-4cea-85a7-8f3e3325bd16","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:32.489797Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["bbab0344-8719-4981-bfef-892157de6eb9"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/4a037fd1-3dc6-4cea-85a7-8f3e3325bd16/members
    method: PUT
  response:
    body: '{"application_ids":["bbab0344-8719-4981-bfef-892157de6eb9"],"created_at":"2023-06-21T10:02:32.489797Z","description":"","id":"4a037fd1-3dc6-4cea-85a7-8f3e3325bd16","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:32.489797Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/4a037fd1-3dc6-4cea-85a7-8f3e3325bd16
    method: GET
  response:
    body: '{"application_ids":["bbab0344-8719-4981-bfef-892157de6eb9"],"created_at":"2023-06-21T10:02:32.489797Z","description":"","id":"4a037fd1-3dc6-4cea-85a7-8f3e3325bd16","name":"test-acc-scaleway-iam-group-policy-permissions","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:32.489797Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":null,"description":null,"group_id":"4a037fd1-3dc6-4cea-85a7-8f3e3325bd16"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies/2540c324-79c1-4858-8433-6d0a1d5318eb
    method: PATCH
  response:
    body: '{"created_at":"2023-06-21T10:02:28.647275Z","description":"a description","editable":true,"group_id":"4a037fd1-3dc6-4cea-85a7-8f3e3325bd16","id":"2540c324-79c1-4858-8433-6d0a1d5318eb","name":"tf_tests_policy_change_linked_entity","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T10:02:28.647275Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW4BQQ2MJDP2RFH6YMG
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2/projects/919cde9b-0263-4ea6-b0ed-6732064df4d0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/2540c324-79c1-4858-8433-6d0a1d5318eb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"2540c324-79c1-4858-8433-6d0a1d5318eb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
