---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_noupdate","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"7a39c3ec-fb8a-4262-a2cb-5f71a77c6852","name":"tf_tests_app_noupdate","description":"","created_at":"2022-09-30T14:41:33.118954Z","updated_at":"2022-09-30T14:41:33.118954Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/7a39c3ec-fb8a-4262-a2cb-5f71a77c6852
    method: GET
  response:
    body: '{"id":"7a39c3ec-fb8a-4262-a2cb-5f71a77c6852","name":"tf_tests_app_noupdate","description":"","created_at":"2022-09-30T14:41:33.118954Z","updated_at":"2022-09-30T14:41:33.118954Z","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"7a39c3ec-fb8a-4262-a2cb-5f71a77c6852","expires_at":null,"default_project_id":null,"description":"no
      update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWZBFSQV2EAEH6N7E13","secret_key":"929aa140-b39d-4c1e-a106-3dd796e38da9","description":"no
      update","created_at":"2022-09-30T14:41:33.405261Z","updated_at":"2022-09-30T14:41:33.405261Z","expires_at":null,"default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"7a39c3ec-fb8a-4262-a2cb-5f71a77c6852"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZBFSQV2EAEH6N7E13
    method: GET
  response:
    body: '{"access_key":"SCWZBFSQV2EAEH6N7E13","secret_key":null,"description":"no
      update","created_at":"2022-09-30T14:41:33.405261Z","updated_at":"2022-09-30T14:41:33.405261Z","expires_at":null,"default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","editable":true,"creation_ip":"51.159.46.153","application_id":"7a39c3ec-fb8a-4262-a2cb-5f71a77c6852"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZBFSQV2EAEH6N7E13
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWZBFSQV2EAEH6N7E13","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
