---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"f077a873-da29-4648-9d82-b2f507d75876","name":"first app","description":"","created_at":"2022-07-05T20:18:19.652130Z","updated_at":"2022-07-05T20:18:19.652130Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/f077a873-da29-4648-9d82-b2f507d75876
    method: GET
  response:
    body: '{"id":"f077a873-da29-4648-9d82-b2f507d75876","name":"first app","description":"","created_at":"2022-07-05T20:18:19.652130Z","updated_at":"2022-07-05T20:18:19.652130Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"b1066bb5-bf1b-4ab6-bda3-42159cd142b2","created_at":"2022-07-05T20:18:19.822825Z","updated_at":"2022-07-05T20:18:19.822825Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["f077a873-da29-4648-9d82-b2f507d75876"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/b1066bb5-bf1b-4ab6-bda3-42159cd142b2/members
    method: PUT
  response:
    body: '{"id":"b1066bb5-bf1b-4ab6-bda3-42159cd142b2","created_at":"2022-07-05T20:18:19.822825Z","updated_at":"2022-07-05T20:18:19.822825Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["f077a873-da29-4648-9d82-b2f507d75876"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/b1066bb5-bf1b-4ab6-bda3-42159cd142b2
    method: GET
  response:
    body: '{"id":"b1066bb5-bf1b-4ab6-bda3-42159cd142b2","created_at":"2022-07-05T20:18:19.822825Z","updated_at":"2022-07-05T20:18:19.822825Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["f077a873-da29-4648-9d82-b2f507d75876"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"application_id":"5b5dc08f-bd3e-48ae-a541-7831b406c5fe"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/b1066bb5-bf1b-4ab6-bda3-42159cd142b2/remove-member
    method: POST
  response:
    body: '{"id":"b1066bb5-bf1b-4ab6-bda3-42159cd142b2","created_at":"2022-07-05T20:18:19.822825Z","updated_at":"2022-07-05T20:18:19.822825Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/b1066bb5-bf1b-4ab6-bda3-42159cd142b2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"b1066bb5-bf1b-4ab6-bda3-42159cd142b2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
