---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-4432301227583007634","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:27.733332Z","description":"","id":"cd83991b-4ae7-4c20-ad0c-adcccc5c617e","name":"test-acc-scaleway-project-4432301227583007634","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:27.733332Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-5818647450141874475","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:28.230335Z","description":"","editable":true,"id":"6b8ab96f-101f-4b42-bfaf-4e2f5b120106","name":"test-acc-scaleway-iam-app-5818647450141874475","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:28.230335Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-2777534035965626181","description":"","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["IAMManager"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"application_id":"6b8ab96f-101f-4b42-bfaf-4e2f5b120106"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"6b8ab96f-101f-4b42-bfaf-4e2f5b120106","created_at":"2023-07-19T13:37:28.472252Z","description":"","editable":true,"id":"b5dd33f7-38be-452c-af14-86f6d649b2d7","name":"test-acc-scaleway-iam-policy-2777534035965626181","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:28.472252Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"6b8ab96f-101f-4b42-bfaf-4e2f5b120106","expires_at":null,"default_project_id":"cd83991b-4ae7-4c20-ad0c-adcccc5c617e","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW4WZJF7C9JFE2JYKZT","application_id":"6b8ab96f-101f-4b42-bfaf-4e2f5b120106","created_at":"2023-07-19T13:37:29.117907Z","creation_ip":"51.159.73.9","default_project_id":"cd83991b-4ae7-4c20-ad0c-adcccc5c617e","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-07-19T13:37:29.117907Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf_tests_policy_noupdate","description":"a description","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","rules":[{"permission_set_names":["AllProductsFullAccess"],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"no_principal":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"created_at":"2023-07-19T13:37:38.979101Z","description":"a description","editable":true,"id":"81686e1c-acfc-4e9a-9bd4-bf8a81711979","name":"tf_tests_policy_noupdate","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.979101Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/81686e1c-acfc-4e9a-9bd4-bf8a81711979
    method: GET
  response:
    body: '{"created_at":"2023-07-19T13:37:38.979101Z","description":"a description","editable":true,"id":"81686e1c-acfc-4e9a-9bd4-bf8a81711979","name":"tf_tests_policy_noupdate","nb_permission_sets":1,"nb_rules":1,"nb_scopes":1,"no_principal":true,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-07-19T13:37:38.979101Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/rules?policy_id=81686e1c-acfc-4e9a-9bd4-bf8a81711979
    method: GET
  response:
    body: '{"rules":[{"id":"7b5c8351-387a-46ad-9cb0-f102e953f3f4","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","permission_set_names":["AllProductsFullAccess"],"permission_sets_scope_type":"projects"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW4WZJF7C9JFE2JYKZT
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/6b8ab96f-101f-4b42-bfaf-4e2f5b120106
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/cd83991b-4ae7-4c20-ad0c-adcccc5c617e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/81686e1c-acfc-4e9a-9bd4-bf8a81711979
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_policy","resource_id":"81686e1c-acfc-4e9a-9bd4-bf8a81711979","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
