---
version: 1
interactions:
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--friendly-hermann","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"f18073f6-76f7-4f94-aee4-f472b92f025f","created_at":"2022-07-05T20:18:19.643663Z","updated_at":"2022-07-05T20:18:19.643663Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--friendly-hermann","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/f18073f6-76f7-4f94-aee4-f472b92f025f
    method: GET
  response:
    body: '{"id":"f18073f6-76f7-4f94-aee4-f472b92f025f","created_at":"2022-07-05T20:18:19.643663Z","updated_at":"2022-07-05T20:18:19.643663Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"tf-group--friendly-hermann","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/f0086473-47ef-441e-bdf7-f363ac617c8b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"f0086473-47ef-441e-bdf7-f363ac617c8b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
