---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_key_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-06-21T09:36:48.479080Z","description":"","editable":true,"id":"0f1776d6-b0e8-444d-9b78-333791bab931","name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:36:48.479080Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/0f1776d6-b0e8-444d-9b78-333791bab931
    method: GET
  response:
    body: '{"created_at":"2023-06-21T09:36:48.479080Z","description":"","editable":true,"id":"0f1776d6-b0e8-444d-9b78-333791bab931","name":"tf_tests_app_key_basic","nb_api_keys":0,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T09:36:48.479080Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"0f1776d6-b0e8-444d-9b78-333791bab931","expires_at":null,"default_project_id":null,"description":"tf_tests_with_application"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWMZNG09HEP77DBYW7M","application_id":"0f1776d6-b0e8-444d-9b78-333791bab931","created_at":"2023-06-21T09:36:48.693748Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_with_application","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T09:36:48.693748Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWMZNG09HEP77DBYW7M
    method: GET
  response:
    body: '{"access_key":"SCWMZNG09HEP77DBYW7M","application_id":"0f1776d6-b0e8-444d-9b78-333791bab931","created_at":"2023-06-21T09:36:48.693748Z","creation_ip":"51.159.73.9","default_project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":"tf_tests_with_application","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-06-21T09:36:48.693748Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWMZNG09HEP77DBYW7M
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWMZNG09HEP77DBYW7M","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
