---
version: 1
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-basic","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T12:10:34.790338Z","description":"","id":"99371116-a3bf-48a4-a6b4-32dd7f78d00b","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:34.790338Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-25T12:10:34.793384Z","description":"","editable":true,"id":"193a75bc-a31c-479e-a55d-bbe7226d86a0","name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:34.793384Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/193a75bc-a31c-479e-a55d-bbe7226d86a0
    method: GET
  response:
    body: '{"created_at":"2023-07-25T12:10:34.793384Z","description":"","editable":true,"id":"193a75bc-a31c-479e-a55d-bbe7226d86a0","name":"tf-tests-iam-group-membership-basic","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:34.793384Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/99371116-a3bf-48a4-a6b4-32dd7f78d00b
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T12:10:34.790338Z","description":"","id":"99371116-a3bf-48a4-a6b4-32dd7f78d00b","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:34.790338Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"193a75bc-a31c-479e-a55d-bbe7226d86a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/99371116-a3bf-48a4-a6b4-32dd7f78d00b/add-member
    method: POST
  response:
    body: '{"application_ids":["193a75bc-a31c-479e-a55d-bbe7226d86a0"],"created_at":"2023-07-25T12:10:34.790338Z","description":"","id":"99371116-a3bf-48a4-a6b4-32dd7f78d00b","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:34.790338Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"application_id":"193a75bc-a31c-479e-a55d-bbe7226d86a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/99371116-a3bf-48a4-a6b4-32dd7f78d00b/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T12:10:34.790338Z","description":"","id":"99371116-a3bf-48a4-a6b4-32dd7f78d00b","name":"tf-tests-iam-group-membership-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T12:10:34.790338Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/99371116-a3bf-48a4-a6b4-32dd7f78d00b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"99371116-a3bf-48a4-a6b4-32dd7f78d00b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
