---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_noupdate","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"ce7fc5b9-7847-41d9-9ab4-c565229eb232","name":"tf_tests_app_noupdate","description":"","created_at":"2022-06-29T12:04:05.753894Z","updated_at":"2022-06-29T12:04:05.753894Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/ce7fc5b9-7847-41d9-9ab4-c565229eb232
    method: GET
  response:
    body: '{"id":"ce7fc5b9-7847-41d9-9ab4-c565229eb232","name":"tf_tests_app_noupdate","description":"","created_at":"2022-06-29T12:04:05.753894Z","updated_at":"2022-06-29T12:04:05.753894Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"ce7fc5b9-7847-41d9-9ab4-c565229eb232","expires_at":null,"default_project_id":null,"description":"no
      update"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWZ68EV1DF9AA0VVZKV","secret_key":"0d02b0ac-7307-4986-b078-7fc8ff629ae7","description":"no
      update","created_at":"2022-06-29T12:04:05.974503Z","updated_at":"2022-06-29T12:04:05.974503Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"ce7fc5b9-7847-41d9-9ab4-c565229eb232"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZ68EV1DF9AA0VVZKV
    method: GET
  response:
    body: '{"access_key":"SCWZ68EV1DF9AA0VVZKV","secret_key":null,"description":"no
      update","created_at":"2022-06-29T12:04:05.974503Z","updated_at":"2022-06-29T12:04:05.974503Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"ce7fc5b9-7847-41d9-9ab4-c565229eb232"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZ68EV1DF9AA0VVZKV
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWZ68EV1DF9AA0VVZKV","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
