---
version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/84d20ae1-9650-419a-ab74-7ab09b6262e0
    method: GET
  response:
    body: '{"account_root_user_id":"e455b334-f426-4b1e-ab2f-913c31aa199c","created_at":"2023-01-23T15:16:01.748877Z","deletable":true,"email":"developer-tools-team@scaleway.com","id":"84d20ae1-9650-419a-ab74-7ab09b6262e0","last_login_at":null,"mfa":true,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"activated","two_factor_enabled":true,"type":"guest","updated_at":"2023-01-23T15:18:52.043249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"tf_tests_iam_group_app3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-10-18T07:30:49.871840Z","description":"","editable":true,"id":"a71d88d5-4d29-42e9-b4d7-6cf75bfbef30","name":"tf_tests_iam_group_app3","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:49.871840Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/a71d88d5-4d29-42e9-b4d7-6cf75bfbef30
    method: GET
  response:
    body: '{"created_at":"2023-10-18T07:30:49.871840Z","description":"","editable":true,"id":"a71d88d5-4d29-42e9-b4d7-6cf75bfbef30","name":"tf_tests_iam_group_app3","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:49.871840Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf_tests_iam_group_user_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-10-18T07:30:50.032626Z","description":"","id":"db10abb3-572e-44cc-9223-4c484ade16a3","name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:50.032626Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"],"application_ids":["a71d88d5-4d29-42e9-b4d7-6cf75bfbef30"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/db10abb3-572e-44cc-9223-4c484ade16a3/members
    method: PUT
  response:
    body: '{"application_ids":["a71d88d5-4d29-42e9-b4d7-6cf75bfbef30"],"created_at":"2023-10-18T07:30:50.032626Z","description":"","id":"db10abb3-572e-44cc-9223-4c484ade16a3","name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:50.032626Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/db10abb3-572e-44cc-9223-4c484ade16a3
    method: GET
  response:
    body: '{"application_ids":["a71d88d5-4d29-42e9-b4d7-6cf75bfbef30"],"created_at":"2023-10-18T07:30:50.032626Z","description":"","id":"db10abb3-572e-44cc-9223-4c484ade16a3","name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:50.032626Z","user_ids":["84d20ae1-9650-419a-ab74-7ab09b6262e0"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"user_id":"84d20ae1-9650-419a-ab74-7ab09b6262e0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/db10abb3-572e-44cc-9223-4c484ade16a3/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-10-18T07:30:50.032626Z","description":"","id":"db10abb3-572e-44cc-9223-4c484ade16a3","name":"tf_tests_iam_group_user_app","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-18T07:30:50.032626Z","user_ids":["ef29ce05-3f2b-4fa0-a259-d76110850d57","b6360d4f-831c-45a8-889e-0b65ed079e63"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/db10abb3-572e-44cc-9223-4c484ade16a3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"db10abb3-572e-44cc-9223-4c484ade16a3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
