---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_app_basic","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"dba4f937-346a-423d-b61b-1e1c2162967e","name":"tf_tests_app_basic","description":"","created_at":"2022-07-06T14:36:17.370294Z","updated_at":"2022-07-06T14:36:17.370294Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/dba4f937-346a-423d-b61b-1e1c2162967e
    method: GET
  response:
    body: '{"id":"dba4f937-346a-423d-b61b-1e1c2162967e","name":"tf_tests_app_basic","description":"","created_at":"2022-07-06T14:36:17.370294Z","updated_at":"2022-07-06T14:36:17.370294Z","organization_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"dba4f937-346a-423d-b61b-1e1c2162967e","expires_at":null,"default_project_id":null,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWCGYNWKHQQ7BB6H95X","secret_key":"70e92ce7-de85-4d7b-8ab5-134baee4a847","description":"a
      description","created_at":"2022-07-06T14:36:17.540972Z","updated_at":"2022-07-06T14:36:17.540972Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"dba4f937-346a-423d-b61b-1e1c2162967e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCGYNWKHQQ7BB6H95X
    method: GET
  response:
    body: '{"access_key":"SCWCGYNWKHQQ7BB6H95X","secret_key":null,"description":"a
      description","created_at":"2022-07-06T14:36:17.540972Z","updated_at":"2022-07-06T14:36:17.540972Z","expires_at":null,"default_project_id":"012eb4a7-a183-4fed-89fa-6ae2013bcf60","editable":true,"creation_ip":"","application_id":"dba4f937-346a-423d-b61b-1e1c2162967e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCGYNWKHQQ7BB6H95X
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"access_key","resource_id":"SCWCGYNWKHQQ7BB6H95X","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
