---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/users/29c31dd4-8ea1-4927-82d9-a0620e04773f
    method: GET
  response:
    body: '{"id":"29c31dd4-8ea1-4927-82d9-a0620e04773f","email":"lmarabese@scaleway.com","created_at":"2022-06-23T08:34:49.435805Z","updated_at":"2022-06-27T16:15:12.800816Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","deletable":false,"last_login_at":"2022-06-27T16:15:12.812756Z","type":"owner","two_factor_enabled":false,"status":"activated"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"third app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"02b65972-0072-438e-9c11-90b07aa46e32","name":"third app","description":"","created_at":"2022-07-05T20:18:19.893981Z","updated_at":"2022-07-05T20:18:19.893981Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/02b65972-0072-438e-9c11-90b07aa46e32
    method: GET
  response:
    body: '{"id":"02b65972-0072-438e-9c11-90b07aa46e32","name":"third app","description":"","created_at":"2022-07-05T20:18:19.893981Z","updated_at":"2022-07-05T20:18:19.893981Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"236cdc55-1aac-4405-ac27-2afab1f0493d","created_at":"2022-07-05T20:18:20.046681Z","updated_at":"2022-07-05T20:18:20.046681Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["02b65972-0072-438e-9c11-90b07aa46e32"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/236cdc55-1aac-4405-ac27-2afab1f0493d/members
    method: PUT
  response:
    body: '{"id":"236cdc55-1aac-4405-ac27-2afab1f0493d","created_at":"2022-07-05T20:18:20.046681Z","updated_at":"2022-07-05T20:18:20.046681Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["02b65972-0072-438e-9c11-90b07aa46e32"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/236cdc55-1aac-4405-ac27-2afab1f0493d
    method: GET
  response:
    body: '{"id":"236cdc55-1aac-4405-ac27-2afab1f0493d","created_at":"2022-07-05T20:18:20.046681Z","updated_at":"2022-07-05T20:18:20.046681Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["29c31dd4-8ea1-4927-82d9-a0620e04773f"],"application_ids":["02b65972-0072-438e-9c11-90b07aa46e32"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user_id":"0afd8f94-eaf1-4949-9dcb-9ae5f4bc1017"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/236cdc55-1aac-4405-ac27-2afab1f0493d/remove-member
    method: POST
  response:
    body: '{"id":"236cdc55-1aac-4405-ac27-2afab1f0493d","created_at":"2022-07-05T20:18:20.046681Z","updated_at":"2022-07-05T20:18:20.046681Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":["43b0529c-0b85-45a1-bbf6-5a1336b21787","ce18cffd-e7c8-47f8-8de8-00e97e50a0d3"],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/236cdc55-1aac-4405-ac27-2afab1f0493d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"236cdc55-1aac-4405-ac27-2afab1f0493d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
