---
version: 1
interactions:
- request:
    body: '{"name":"tf-test-iam-ssh-key-newline","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO
      opensource@scaleway.com","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
    method: POST
  response:
    body: '{"created_at":"2024-03-26T10:58:18.512833Z","disabled":false,"fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)","id":"3218b9ec-0bac-4030-a633-b26685b9a33a","name":"tf-test-iam-ssh-key-newline","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO","updated_at":"2024-03-26T10:58:18.512833Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/3218b9ec-0bac-4030-a633-b26685b9a33a
    method: GET
  response:
    body: '{"created_at":"2024-03-26T10:58:18.512833Z","disabled":false,"fingerprint":"256
      MD5:6b:cd:72:8a:ae:45:24:4b:2b:72:f6:d0:6a:8d:16:06 (ssh-ed25519)","id":"3218b9ec-0bac-4030-a633-b26685b9a33a","name":"tf-test-iam-ssh-key-newline","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAICJEoOOgQBLJPs4g/XcPTKT82NywNPpxeuA20FlOPlpO","updated_at":"2024-03-26T10:58:18.512833Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/3218b9ec-0bac-4030-a633-b26685b9a33a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key","resource_id":"3218b9ec-0bac-4030-a633-b26685b9a33a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
