---
version: 1
interactions:
- request:
    body: '{"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf_tests_iam_group_basic","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T12:13:32.814345Z","description":"","id":"0e9a8c90-9f05-466f-aecd-f8b31a6e1169","name":"tf_tests_iam_group_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.814345Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/0e9a8c90-9f05-466f-aecd-f8b31a6e1169
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-06-21T12:13:32.814345Z","description":"","id":"0e9a8c90-9f05-466f-aecd-f8b31a6e1169","name":"tf_tests_iam_group_basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-06-21T12:13:32.814345Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/0173c3bb-71c7-4c4f-b66b-cfa35d4852f7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"0173c3bb-71c7-4c4f-b66b-cfa35d4852f7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
