---
version: 1
interactions:
- request:
    body: '{"name":"first app","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"id":"66162e02-dee9-43c6-b79e-081b660f26e8","name":"first app","description":"","created_at":"2022-06-29T13:32:58.051412Z","updated_at":"2022-06-29T13:32:58.051412Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/66162e02-dee9-43c6-b79e-081b660f26e8
    method: GET
  response:
    body: '{"id":"66162e02-dee9-43c6-b79e-081b660f26e8","name":"first app","description":"","created_at":"2022-06-29T13:32:58.051412Z","updated_at":"2022-06-29T13:32:58.051412Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","editable":true,"nb_api_keys":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"id":"c3f6a4ae-d803-44dc-9ee2-b640e1efe446","created_at":"2022-06-29T13:32:58.182258Z","updated_at":"2022-06-29T13:32:58.182258Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user_ids":null,"application_ids":["66162e02-dee9-43c6-b79e-081b660f26e8"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/c3f6a4ae-d803-44dc-9ee2-b640e1efe446/members
    method: PUT
  response:
    body: '{"id":"c3f6a4ae-d803-44dc-9ee2-b640e1efe446","created_at":"2022-06-29T13:32:58.182258Z","updated_at":"2022-06-29T13:32:58.182258Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["66162e02-dee9-43c6-b79e-081b660f26e8"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c3f6a4ae-d803-44dc-9ee2-b640e1efe446
    method: GET
  response:
    body: '{"id":"c3f6a4ae-d803-44dc-9ee2-b640e1efe446","created_at":"2022-06-29T13:32:58.182258Z","updated_at":"2022-06-29T13:32:58.182258Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["66162e02-dee9-43c6-b79e-081b660f26e8"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"application_id":"18100096-ad9a-453f-be1f-5653969d4bd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/c3f6a4ae-d803-44dc-9ee2-b640e1efe446/remove-member
    method: POST
  response:
    body: '{"id":"c3f6a4ae-d803-44dc-9ee2-b640e1efe446","created_at":"2022-06-29T13:32:58.182258Z","updated_at":"2022-06-29T13:32:58.182258Z","organization_id":"08555df8-bb26-43bc-b749-1b98c5d02343","name":"iam_group_app","description":"","user_ids":[],"application_ids":["00000000-0000-0000-0000-000000000000"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/c3f6a4ae-d803-44dc-9ee2-b640e1efe446
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"group","resource_id":"c3f6a4ae-d803-44dc-9ee2-b640e1efe446","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
