---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-iam-group-membership-import","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-07-25T13:03:23.229803Z","description":"","editable":true,"id":"d6d2fcda-b6b1-42be-808f-82d600d740f7","name":"tf-tests-iam-group-membership-import","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:03:23.229803Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/d6d2fcda-b6b1-42be-808f-82d600d740f7
    method: GET
  response:
    body: '{"created_at":"2023-07-25T13:03:23.229803Z","description":"","editable":true,"id":"d6d2fcda-b6b1-42be-808f-82d600d740f7","name":"tf-tests-iam-group-membership-import","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:03:23.229803Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-iam-group-membership-import","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T13:03:23.694790Z","description":"","id":"0499cacc-1b29-49df-94a4-fbaf0dae42a0","name":"tf-tests-iam-group-membership-import","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:03:23.694790Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/0499cacc-1b29-49df-94a4-fbaf0dae42a0
    method: GET
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T13:03:23.694790Z","description":"","id":"0499cacc-1b29-49df-94a4-fbaf0dae42a0","name":"tf-tests-iam-group-membership-import","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:03:23.694790Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"application_id":"d6d2fcda-b6b1-42be-808f-82d600d740f7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/0499cacc-1b29-49df-94a4-fbaf0dae42a0/add-member
    method: POST
  response:
    body: '{"application_ids":["d6d2fcda-b6b1-42be-808f-82d600d740f7"],"created_at":"2023-07-25T13:03:23.694790Z","description":"","id":"0499cacc-1b29-49df-94a4-fbaf0dae42a0","name":"tf-tests-iam-group-membership-import","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:03:23.694790Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"application_id":"d6d2fcda-b6b1-42be-808f-82d600d740f7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/groups/0499cacc-1b29-49df-94a4-fbaf0dae42a0/remove-member
    method: POST
  response:
    body: '{"application_ids":[],"created_at":"2023-07-25T13:03:23.694790Z","description":"","id":"0499cacc-1b29-49df-94a4-fbaf0dae42a0","name":"tf-tests-iam-group-membership-import","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-07-25T13:03:23.694790Z","user_ids":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/groups/0499cacc-1b29-49df-94a4-fbaf0dae42a0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"iam_group","resource_id":"0499cacc-1b29-49df-94a4-fbaf0dae42a0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
