---
version: 1
interactions:
- request:
    body: '{"name":"tf-pg-keen-heisenberg","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "4c7002e4-7060-481b-9ce1-69f54b712db6", "name":
      "tf-pg-keen-heisenberg", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/4c7002e4-7060-481b-9ce1-69f54b712db6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/4c7002e4-7060-481b-9ce1-69f54b712db6
    method: GET
  response:
    body: '{"placement_group": {"id": "4c7002e4-7060-481b-9ce1-69f54b712db6", "name":
      "tf-pg-keen-heisenberg", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/4c7002e4-7060-481b-9ce1-69f54b712db6
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"4c7002e4-7060-481b-9ce1-69f54b712db6\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
