---
version: 2
interactions:
- request:
    body: '{"name":"tf-pg-frosty-nightingale","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"b6d6f202-4357-430e-bc4a-29371abd2482","name":"tf-pg-frosty-nightingale","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b6d6f202-4357-430e-bc4a-29371abd2482
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b6d6f202-4357-430e-bc4a-29371abd2482
    method: GET
  response:
    body: '{"placement_group":{"id":"b6d6f202-4357-430e-bc4a-29371abd2482","name":"tf-pg-frosty-nightingale","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b6d6f202-4357-430e-bc4a-29371abd2482
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_placement_group","resource_id":"b6d6f202-4357-430e-bc4a-29371abd2482","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
