---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-exciting-spence","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "220aaecd-e1ff-4986-9dee-675c87983c91", "name": "tf-vol-exciting-spence",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:45:24.561104+00:00", "modification_date":
      "2021-12-07T10:45:24.561104+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/220aaecd-e1ff-4986-9dee-675c87983c91
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/220aaecd-e1ff-4986-9dee-675c87983c91
    method: GET
  response:
    body: '{"volume": {"id": "220aaecd-e1ff-4986-9dee-675c87983c91", "name": "tf-vol-exciting-spence",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:45:24.561104+00:00", "modification_date":
      "2021-12-07T10:45:24.561104+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-snap-happy-curran","volume_id":"220aaecd-e1ff-4986-9dee-675c87983c91","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "f522d98c-7ba7-4bfb-9452-43949be283c7", "name": "tf-snap-happy-curran",
      "volume_type": "b_ssd", "creation_date": "2021-12-07T10:45:25.208962+00:00",
      "modification_date": "2021-12-07T10:45:25.208962+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "220aaecd-e1ff-4986-9dee-675c87983c91",
      "name": "tf-vol-exciting-spence"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/f522d98c-7ba7-4bfb-9452-43949be283c7
    method: GET
  response:
    body: '{"snapshot": {"id": "f522d98c-7ba7-4bfb-9452-43949be283c7", "name": "tf-snap-happy-curran",
      "volume_type": "b_ssd", "creation_date": "2021-12-07T10:45:25.208962+00:00",
      "modification_date": "2021-12-07T10:45:25.208962+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "220aaecd-e1ff-4986-9dee-675c87983c91",
      "name": "tf-vol-exciting-spence"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/220aaecd-e1ff-4986-9dee-675c87983c91
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''220aaecd-e1ff-4986-9dee-675c87983c91''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
