---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-distracted-banach","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "6d790386-be55-42bf-90c5-fc59371bd7be", "name": "tf-vol-distracted-banach",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:49:58.619404+00:00", "modification_date":
      "2021-12-07T10:49:58.619404+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d790386-be55-42bf-90c5-fc59371bd7be
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d790386-be55-42bf-90c5-fc59371bd7be
    method: GET
  response:
    body: '{"volume": {"id": "6d790386-be55-42bf-90c5-fc59371bd7be", "name": "tf-vol-distracted-banach",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:49:58.619404+00:00", "modification_date":
      "2021-12-07T10:49:58.619404+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-vol-vigorous-darwin","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","base_volume":"6d790386-be55-42bf-90c5-fc59371bd7be"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "e13ea28c-1243-4885-936e-a03d00c38d06", "name": "tf-vol-vigorous-darwin",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:49:59.329391+00:00", "modification_date":
      "2021-12-07T10:49:59.329391+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e13ea28c-1243-4885-936e-a03d00c38d06
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d790386-be55-42bf-90c5-fc59371bd7be
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''6d790386-be55-42bf-90c5-fc59371bd7be''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
