---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-serene-proskuriakova","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "3d6574d6-3c14-4508-a5c0-8b16dd64947d", "name": "tf-vol-serene-proskuriakova",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-24T09:26:25.187186+00:00", "modification_date":
      "2022-06-24T09:26:25.187186+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/3d6574d6-3c14-4508-a5c0-8b16dd64947d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/3d6574d6-3c14-4508-a5c0-8b16dd64947d
    method: GET
  response:
    body: '{"volume": {"id": "3d6574d6-3c14-4508-a5c0-8b16dd64947d", "name": "tf-vol-serene-proskuriakova",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-24T09:26:25.187186+00:00", "modification_date":
      "2022-06-24T09:26:25.187186+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-cranky-leavitt","volume_id":"3d6574d6-3c14-4508-a5c0-8b16dd64947d","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "50043eec-d19a-4693-a994-233c9fb9d032", "name": "tf-snap-cranky-leavitt",
      "volume_type": "b_ssd", "creation_date": "2022-06-24T09:26:25.673967+00:00",
      "modification_date": "2022-06-24T09:26:25.673967+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3d6574d6-3c14-4508-a5c0-8b16dd64947d",
      "name": "tf-vol-serene-proskuriakova"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}, "task": {"id": "cf061f2e-b24d-47aa-a52c-305f20d894a2", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/50043eec-d19a-4693-a994-233c9fb9d032", "started_at":
      "2022-06-24T09:26:25.894598+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/50043eec-d19a-4693-a994-233c9fb9d032
    method: GET
  response:
    body: '{"snapshot": {"id": "50043eec-d19a-4693-a994-233c9fb9d032", "name": "tf-snap-cranky-leavitt",
      "volume_type": "b_ssd", "creation_date": "2022-06-24T09:26:25.673967+00:00",
      "modification_date": "2022-06-24T09:26:25.673967+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3d6574d6-3c14-4508-a5c0-8b16dd64947d",
      "name": "tf-vol-serene-proskuriakova"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"50043eec-d19a-4693-a994-233c9fb9d032","arch":"arm","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["tag1","tag2","tag3"],"public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image": {"id": "a7fd3a85-8467-4d7f-a970-af5b921fabef", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "50043eec-d19a-4693-a994-233c9fb9d032", "name": "tf-snap-cranky-leavitt",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-06-24T09:26:31.631009+00:00", "modification_date":
      "2022-06-24T09:26:31.631009+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/a7fd3a85-8467-4d7f-a970-af5b921fabef
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/a7fd3a85-8467-4d7f-a970-af5b921fabef
    method: GET
  response:
    body: '{"image": {"id": "a7fd3a85-8467-4d7f-a970-af5b921fabef", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "50043eec-d19a-4693-a994-233c9fb9d032", "name": "tf-snap-cranky-leavitt",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-06-24T09:26:31.631009+00:00", "modification_date":
      "2022-06-24T09:26:31.631009+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/a7fd3a85-8467-4d7f-a970-af5b921fabef
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"a7fd3a85-8467-4d7f-a970-af5b921fabef\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
