---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"id": "b381b2bf-804a-4b12-91f6-9f4ff273462f", "name": "Ubuntu
      Bionic", "label": "ubuntu_bionic", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/ubuntu.png",
      "description": "Ubuntu is the ideal distribution for scale-out computing, Ubuntu
      Server helps you make the most of your infrastructure.", "organization": {"id":
      "51b656e3-4865-41e8-adbc-0c45bdd780db", "name": "Instances User Resources Build
      System"}, "versions": [{"id": "70c78c0a-a32d-47b6-bb0a-7e13f813ca56", "name":
      "2022-01-21T15:02:06.245901+00:00", "local_images": [{"id": "e37b9985-ad8b-47ce-99d7-df0501cc7839",
      "zone": "par1", "arch": "x86_64", "compatible_commercial_types": ["DEV1-L",
      "DEV1-M", "DEV1-S", "DEV1-XL", "ENT1-2XL", "ENT1-L", "ENT1-M", "ENT1-S", "ENT1-XL",
      "GP1-L", "GP1-M", "GP1-S", "GP1-XL", "GP1-XS", "PLAY2-MICRO", "PLAY2-NANO",
      "PLAY2-PICO", "PRO2-L", "PRO2-M", "PRO2-S", "PRO2-XS", "PRO2-XXS", "STARDUST1-S",
      "START1-L", "START1-M", "START1-S", "START1-XS", "VC1L", "VC1M", "VC1S", "X64-120GB",
      "X64-15GB", "X64-30GB", "X64-60GB"]}, {"id": "5cacd0da-b3f1-4d5c-b22b-2ad19c57a844",
      "zone": "pl-waw-1", "arch": "x86_64", "[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/products/servers
    method: GET
  response:
    body: '{"servers": {"DEV1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 4,
      "ram": 8589934592, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      80000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 31.39, "hourly_price":
      0.043, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      400000000, "sum_internet_bandwidth": 400000000, "interfaces": [{"internal_bandwidth":
      400000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      400000000}]}}, "DEV1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram":
      4294967296, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size": 40000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 16.06, "hourly_price": 0.022, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      300000000, "sum_internet_bandwidth": 300000000, "interfaces": [{"internal_bandwidth":
      300000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      300000000}]}}, "DEV1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram":
      2147483648, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size": 20000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 8.03, "hourly_price": 0.011, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      200000000, "sum_internet_bandwidth": 200000000, "interfaces": [{"internal_bandwidth":
      200000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      200000000}]}}, "DEV1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      12884901888, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      120000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 47.45, "hourly_price":
      0.065, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      500000000, "sum_internet_bandwidth": 500000000, "interfaces": [{"internal_bandwidth":
      500000000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      500000000}]}}, "ENT1-2XL": {"alt_names": [], "arch": "x86_64", "ncpus": 96,
      "ram": 412316860416, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 2452.8, "hourly_price": 3.36, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 20000000000, "sum_internet_bandwidth":
      20000000000, "interfaces": [{"internal_bandwidth": 20000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 20000000000}]}}, "ENT1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      817.6, "hourly_price": 1.12, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6400000000, "sum_internet_bandwidth": 6400000000,
      "interfaces": [{"internal_bandwidth": 6400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6400000000}]}}, "ENT1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      408.8, "hourly_price": 0.56, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3200000000, "sum_internet_bandwidth": 3200000000,
      "interfaces": [{"internal_bandwidth": 3200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3200000000}]}}, "ENT1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      204.4, "hourly_price": 0.28, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1600000000, "sum_internet_bandwidth": 1600000000,
      "interfaces": [{"internal_bandwidth": 1600000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1600000000}]}}, "ENT1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      1635.2, "hourly_price": 2.24, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 12800000000, "sum_internet_bandwidth": 12800000000,
      "interfaces": [{"internal_bandwidth": 12800000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 12800000000}]}}, "GP1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 522.68, "hourly_price": 0.716, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 5000000000, "sum_internet_bandwidth":
      5000000000, "interfaces": [{"internal_bandwidth": 5000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 5000000000}]}}, "GP1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 268.64, "hourly_price": 0.368, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth":
      1500000000, "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "GP1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 300000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 134.32, "hourly_price": 0.184, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 800000000, "sum_internet_bandwidth":
      800000000, "interfaces": [{"internal_bandwidth": 800000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 800000000}]}}, "GP1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram": 274877906944, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 600000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 1108.14, "hourly_price": 1.518, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 10000000000, "sum_internet_bandwidth":
      10000000000, "interfaces": [{"internal_bandwidth": 10000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 10000000000}]}}, "GP1-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 150000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 66.43, "hourly_price": 0.091, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 500000000, "sum_internet_bandwidth":
      500000000, "interfaces": [{"internal_bandwidth": 500000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 500000000}]}}, "GPU-3070-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 17179869184, "gpu": 1,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      612, "hourly_price": 0.85, "capabilities": {"boot_types": ["local", "rescue"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 2500000000, "sum_internet_bandwidth": 2500000000,
      "interfaces": [{"internal_bandwidth": 2500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 2500000000}]}}, "PLAY2-MICRO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      39.42, "hourly_price": 0.054, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 400000000, "sum_internet_bandwidth": 400000000,
      "interfaces": [{"internal_bandwidth": 400000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 400000000}]}}, "PLAY2-NANO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      19.71, "hourly_price": 0.027, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 200000000, "sum_internet_bandwidth": 200000000,
      "interfaces": [{"internal_bandwidth": 200000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 200000000}]}}, "PLAY2-PICO":
      {"alt_names": [], "arch": "x86_64", "ncpus": 1, "ram": 2147483648, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      10.22, "hourly_price": 0.014, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 100000000, "sum_internet_bandwidth": 100000000,
      "interfaces": [{"internal_bandwidth": 100000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 100000000}]}}, "PRO2-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      640.21, "hourly_price": 0.877, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6000000000, "sum_internet_bandwidth": 6000000000,
      "interfaces": [{"internal_bandwidth": 6000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6000000000}]}}, "PRO2-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      319.74, "hourly_price": 0.438, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3000000000, "sum_internet_bandwidth": 3000000000,
      "interfaces": [{"internal_bandwidth": 3000000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3000000000}]}}, "PRO2-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      159.87, "hourly_price": 0.219, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 1500000000, "sum_internet_bandwidth": 1500000000,
      "interfaces": [{"internal_bandwidth": 1500000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 1500000000}]}}, "PRO2-XS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      80.3, "hourly_price": 0.11, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 700000000, "sum_internet_bandwidth": 700000000,
      "interfaces": [{"internal_bandwidth": 700000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 700000000}]}}, "PRO2-XXS":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      40.15, "hourly_price": 0.055, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 350000000, "sum_internet_bandwidth": 350000000,
      "interfaces": [{"internal_bandwidth": 350000000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 350000000}]}}, "RENDER-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 10, "ram": 45097156608, "gpu":
      1, "volumes_constraint": {"min_size": 0, "max_size": 400000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 788.4, "hourly_price": 1.08, "capabilities": {"boot_types":
      ["local", "rescue"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1000000000, "sum_internet_bandwidth":
      1000000000, "interfaces": [{"internal_bandwidth": 1000000000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1000000000}]}}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-srv-loving-ellis","dynamic_ip_required":false,"commercial_type":"ENT1-S","image":"90a692e9-a7dc-4c10-b340-d2cb326c7e26","volumes":{"0":{"volume_type":"b_ssd"}},"boot_type":"local","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers
    method: POST
  response:
    body: '{"server": {"id": "19bebecc-bcd4-41a5-b2a4-59c33bb3ff42", "name": "tf-srv-loving-ellis",
      "arch": "x86_64", "commercial_type": "ENT1-S", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "tf-srv-loving-ellis", "image": {"id": "90a692e9-a7dc-4c10-b340-d2cb326c7e26",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "ea60063d-f724-4c02-a324-4c1d17ef3a84",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "unified", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2022-01-21T08:38:11.445657+00:00", "modification_date": "2022-01-21T08:38:11.445657+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "tags":
      [], "zone": "fr-par-2"}, "volumes": {"0": {"boot": false, "id": "8a5483b5-7358-436c-9504-347bec074113",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "b_ssd", "export_uri":
      null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "19bebecc-bcd4-41a5-b2a4-59c33bb3ff42", "name": "tf-srv-loving-ellis"},
      "size": 10000000000, "state": "available", "creation_date": "2022-07-25T10:07:32.298905+00:00",
      "modification_date": "2022-07-25T10:07:32.298905+00:00", "tags": [], "zone":
      "fr-par-2"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      false, "enable_ipv6": false, "private_ip": null, "creation_date": "2022-07-25T10:07:32.298905+00:00",
      "modification_date": "2022-07-25T10:07:32.298905+00:00", "bootscript": {"id":
      "e6a56379-9ef4-48d4-a1d2-12b475e0fed8", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.197.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.197.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-2"}, "security_group": {"id": "125e1806-2da3-41e7-b579-9c5920afc973",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42
    method: GET
  response:
    body: '{"server": {"id": "19bebecc-bcd4-41a5-b2a4-59c33bb3ff42", "name": "tf-srv-loving-ellis",
      "arch": "x86_64", "commercial_type": "ENT1-S", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "tf-srv-lo[...]
[...]
- request:
    body: '{"action":"poweron"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42/action
    method: POST
  response:
    body: '{"task": {"id": "af061f9a-6f69-4bd4-bd7d-7695ce825a42", "description":
      "server_batch_poweron", "status": "pending", "href_from": "/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42/action",
      "href_result": "/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42", "started_at":
      "2022-07-25T10:07:33.692933+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/tasks/af061f9a-6f69-4bd4-bd7d-7695ce825a42
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42/user_data
    method: GET
  response:
    body: '{"user_data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42/private_nics
    method: GET
  response:
    body: '{"private_nics": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/19bebecc-bcd4-41a5-b2a4-59c33bb3ff42
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"19bebecc-bcd4-41a5-b2a4-59c33bb3ff42\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes/8a5483b5-7358-436c-9504-347bec074113
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
