---
version: 1
interactions:
- request:
    body: '{"project":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "3cee8725-837b-4b5e-b1fd-2570ecc533c3", "address": "51.158.66.98",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/ips/3cee8725-837b-4b5e-b1fd-2570ecc533c3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/3cee8725-837b-4b5e-b1fd-2570ecc533c3
    method: GET
  response:
    body: '{"ip": {"id": "3cee8725-837b-4b5e-b1fd-2570ecc533c3", "address": "51.158.66.98",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "31b7de69-f2fd-4bd4-90a9-8b3911e41bf8", "address": "51.15.37.130",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "zone": "nl-ams-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://ams1-cp-prd-api02.internal.scaleway.com/ips/31b7de69-f2fd-4bd4-90a9-8b3911e41bf8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/31b7de69-f2fd-4bd4-90a9-8b3911e41bf8
    method: GET
  response:
    body: '{"ip": {"id": "31b7de69-f2fd-4bd4-90a9-8b3911e41bf8", "address": "51.15.37.130",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "zone": "nl-ams-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/31b7de69-f2fd-4bd4-90a9-8b3911e41bf8
    method: GET
  response:
    body: '{"type": "authorization_required", "message": "Authorization required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
