---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-blissful-ptolemy","organization":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:32:42.948815+00:00","export_uri":null,"id":"8d1e5c8e-3d47-48a2-b8f1-2ac883f531f4","modification_date":"2023-10-16T16:32:42.948815+00:00","name":"tf-vol-blissful-ptolemy","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/8d1e5c8e-3d47-48a2-b8f1-2ac883f531f4
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/8d1e5c8e-3d47-48a2-b8f1-2ac883f531f4
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:32:42.948815+00:00","export_uri":null,"id":"8d1e5c8e-3d47-48a2-b8f1-2ac883f531f4","modification_date":"2023-10-16T16:32:42.948815+00:00","name":"tf-vol-blissful-ptolemy","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-youthful-bardeen","volume_id":"8d1e5c8e-3d47-48a2-b8f1-2ac883f531f4","organization":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"8d1e5c8e-3d47-48a2-b8f1-2ac883f531f4","name":"tf-vol-blissful-ptolemy"},"creation_date":"2023-10-16T16:32:43.390980+00:00","error_details":null,"id":"209d214a-5543-403d-b3f7-abee6276ba28","modification_date":"2023-10-16T16:32:43.390980+00:00","name":"tf-snap-youthful-bardeen","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"},"task":{"description":"snapshot_209d214a-5543-403d-b3f7-abee6276ba28","href_from":"/snapshots","href_result":"snapshots/209d214a-5543-403d-b3f7-abee6276ba28","id":"1a107117-66c4-4b45-b245-2b0ba5b544b8","started_at":"2023-10-16T16:32:43.816770+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/209d214a-5543-403d-b3f7-abee6276ba28
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"8d1e5c8e-3d47-48a2-b8f1-2ac883f531f4","name":"tf-vol-blissful-ptolemy"},"creation_date":"2023-10-16T16:32:43.390980+00:00","error_details":null,"id":"209d214a-5543-403d-b3f7-abee6276ba28","modification_date":"2023-10-16T16:32:43.390980+00:00","name":"tf-snap-youthful-bardeen","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"209d214a-5543-403d-b3f7-abee6276ba28","arch":"x86_64","organization":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tag1","tag2","tag3"],"public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-10-16T16:32:49.503292+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"637d9168-416f-4ec6-8814-19c17875b553","modification_date":"2023-10-16T16:32:49.503292+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"209d214a-5543-403d-b3f7-abee6276ba28","name":"tf-snap-youthful-bardeen","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/637d9168-416f-4ec6-8814-19c17875b553
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/637d9168-416f-4ec6-8814-19c17875b553
    method: GET
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-10-16T16:32:49.503292+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"637d9168-416f-4ec6-8814-19c17875b553","modification_date":"2023-10-16T16:32:49.503292+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"209d214a-5543-403d-b3f7-abee6276ba28","name":"tf-snap-youthful-bardeen","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/637d9168-416f-4ec6-8814-19c17875b553
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_image","resource_id":"637d9168-416f-4ec6-8814-19c17875b553","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
