---
version: 1
interactions:
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"unknown_iptype"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"163.172.172.168","id":"68b4c67c-4b65-4058-9ce5-b3a740de75d9","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/68b4c67c-4b65-4058-9ce5-b3a740de75d9
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/68b4c67c-4b65-4058-9ce5-b3a740de75d9
    method: GET
  response:
    body: '{"ip":{"address":"163.172.172.168","id":"68b4c67c-4b65-4058-9ce5-b3a740de75d9","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"changes":[{"add":{"records":[{"data":"163.172.172.168","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"163.172.172.168","id":"ec7a423b-3722-4d85-97c0-32bd8b2bf342","name":"","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.172.168","id":"ec7a423b-3722-4d85-97c0-32bd8b2bf342","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.172.168","id":"ec7a423b-3722-4d85-97c0-32bd8b2bf342","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=ec7a423b-3722-4d85-97c0-32bd8b2bf342&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.172.168","id":"ec7a423b-3722-4d85-97c0-32bd8b2bf342","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"tf-reverse-instance","updated_at":"2023-07-28T13:22:36Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?id=ec7a423b-3722-4d85-97c0-32bd8b2bf342&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.172.168","id":"ec7a423b-3722-4d85-97c0-32bd8b2bf342","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"ec7a423b-3722-4d85-97c0-32bd8b2bf342"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"ns1.dom.scw.cloud.","id":"182b221e-a4c0-43f7-9b9e-5c21ad542b99","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns0.dom.scw.cloud.","id":"46538925-0af9-485f-b7d7-c690716bba54","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-reverse-instance.scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"tf-reverse-instance","updated_at":"2023-07-28T13:22:53Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-instance.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
