---
version: 1
interactions:
- request:
    body: '{"name":"sg-name","description":"terraform-security-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "cf176644-e325-4b24-a1bd-13d73b83fd1d", "creation_date":
      "2022-09-01T10:40:59.901137+00:00", "modification_date": "2022-09-01T10:40:59.901137+00:00",
      "name": "sg-name", "description": "terraform-security-group", "organization":
      "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf",
      "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy":
      "accept", "organization_default": false, "project_default": false, "enable_default_security":
      false, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/cf176644-e325-4b24-a1bd-13d73b83fd1d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/cf176644-e325-4b24-a1bd-13d73b83fd1d
    method: GET
  response:
    body: '{"security_group": {"id": "cf176644-e325-4b24-a1bd-13d73b83fd1d", "creation_date":
      "2022-09-01T10:40:59.901137+00:00", "modification_date": "2022-09-01T10:40:59.901137+00:00",
      "name": "sg-name", "description": "terraform-security-group", "organization":
      "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf",
      "servers": [], "stateful": true, "inbound_default_policy": "accept", "outbound_default_policy":
      "accept", "organization_default": false, "project_default": false, "enable_default_security":
      false, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/security_groups/ebc76a42-39d0-4952-af18-7507c8a0790f
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Security group \"ebc76a42-39d0-4952-af18-7507c8a0790f\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
