---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-festive-jones","project":"9af7216e-7b97-404d-8ada-9f379eb39ae5","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "f1321985-83a8-4102-9429-8ccff84fb635", "name": "tf-vol-festive-jones",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-17T10:01:07.074527+00:00", "modification_date":
      "2021-05-17T10:01:07.074527+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/f1321985-83a8-4102-9429-8ccff84fb635
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/f1321985-83a8-4102-9429-8ccff84fb635
    method: GET
  response:
    body: '{"volume": {"id": "f1321985-83a8-4102-9429-8ccff84fb635", "name": "tf-vol-festive-jones",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-17T10:01:07.074527+00:00", "modification_date":
      "2021-05-17T10:01:07.074527+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-vol-youthful-jepsen","project":"9af7216e-7b97-404d-8ada-9f379eb39ae5","volume_type":"l_ssd","base_volume":"f1321985-83a8-4102-9429-8ccff84fb635"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "e3ddc9cf-ee14-4fdf-8963-f5b7efae77e3", "name": "tf-vol-youthful-jepsen",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-17T10:01:07.316807+00:00", "modification_date":
      "2021-05-17T10:01:07.316807+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/e3ddc9cf-ee14-4fdf-8963-f5b7efae77e3
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/f1321985-83a8-4102-9429-8ccff84fb635
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''f1321985-83a8-4102-9429-8ccff84fb635''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
