---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-cranky-wiles","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "1bf3af0d-5915-4d67-a7e1-a8994f3d06fc", "name": "tf-vol-cranky-wiles",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:49.166488+00:00", "modification_date":
      "2021-12-20T16:59:49.166488+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1bf3af0d-5915-4d67-a7e1-a8994f3d06fc
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1bf3af0d-5915-4d67-a7e1-a8994f3d06fc
    method: GET
  response:
    body: '{"volume": {"id": "1bf3af0d-5915-4d67-a7e1-a8994f3d06fc", "name": "tf-vol-cranky-wiles",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:49.166488+00:00", "modification_date":
      "2021-12-20T16:59:49.166488+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1bf3af0d-5915-4d67-a7e1-a8994f3d06fc
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''1bf3af0d-5915-4d67-a7e1-a8994f3d06fc''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
