---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-upbeat-edison","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "b60358fd-a757-42e0-8e24-99d05e4881ab", "name": "tf-vol-upbeat-edison",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T09:11:24.854531+00:00", "modification_date":
      "2022-04-12T09:11:24.854531+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b60358fd-a757-42e0-8e24-99d05e4881ab
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b60358fd-a757-42e0-8e24-99d05e4881ab
    method: GET
  response:
    body: '{"volume": {"id": "b60358fd-a757-42e0-8e24-99d05e4881ab", "name": "tf-vol-upbeat-edison",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T09:11:24.854531+00:00", "modification_date":
      "2022-04-12T09:11:24.854531+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"b60358fd-a757-42e0-8e24-99d05e4881ab","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "57285a65-e684-4846-a329-6df7b7f4257a", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T09:11:25.982182+00:00",
      "modification_date": "2022-04-12T09:11:25.982182+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "b60358fd-a757-42e0-8e24-99d05e4881ab",
      "name": "tf-vol-upbeat-edison"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/57285a65-e684-4846-a329-6df7b7f4257a
    method: GET
  response:
    body: '{"snapshot": {"id": "57285a65-e684-4846-a329-6df7b7f4257a", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T09:11:25.982182+00:00",
      "modification_date": "2022-04-12T09:11:25.982182+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "b60358fd-a757-42e0-8e24-99d05e4881ab",
      "name": "tf-vol-upbeat-edison"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b60358fd-a757-42e0-8e24-99d05e4881ab
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''b60358fd-a757-42e0-8e24-99d05e4881ab''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
