---
version: 1
interactions:
- request:
    body: '{"name":"sg-name","project":"951df375-e094-4d26-97c1-ba548eeb9c42","stateful":true,"inbound_default_policy":"drop","outbound_default_policy":"accept","enable_default_security":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "0c41dd07-2874-4478-8496-916a0365d5b7", "creation_date":
      "2022-03-11T10:52:26.200534+00:00", "modification_date": "2022-03-11T10:52:26.200534+00:00",
      "name": "sg-name", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "drop", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0c41dd07-2874-4478-8496-916a0365d5b7
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0c41dd07-2874-4478-8496-916a0365d5b7
    method: GET
  response:
    body: '{"security_group": {"id": "0c41dd07-2874-4478-8496-916a0365d5b7", "creation_date":
      "2022-03-11T10:52:26.200534+00:00", "modification_date": "2022-03-11T10:52:26.625721+00:00",
      "name": "sg-name", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "drop", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0c41dd07-2874-4478-8496-916a0365d5b7/rules?page=1
    method: GET
  response:
    body: '{"rules": [{"id": "58909be7-d17c-4ac8-9eb3-23d5fc58abc5", "protocol": "TCP",
      "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 25, "dest_port_to":
      null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "25680235-108b-4bbc-8e25-114303d950bd", "protocol": "TCP", "direction":
      "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 465, "dest_port_to":
      null, "position": 2, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "4a31b633-118e-4900-bd52-facf1085fc8d", "protocol": "TCP", "direction":
      "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 587, "dest_port_to":
      null, "position": 3, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "e7dd28e8-3747-4c7c-9a4f-35ae3f0ae2cd", "protocol": "TCP", "direction":
      "outbound", "ip_range": "::/0", "dest_port_from": 25, "dest_port_to": null,
      "position": 4, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id":
      "f37d9e7c-8ed7-4e0f-baff-7f5e7ede0baf", "protocol": "TCP", "direction": "outbound",
      "ip_range": "::/0", "dest_port_from": 465, "dest_port_to": null, "position":
      5, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "68054851-54e3-46c9-9cd7-83219751248b",
      "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_port_from":
      587, "dest_port_to": null, "position": 6, "editable": false, "action": "drop",
      "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"protocol":"TCP","direction":"inbound","action":"accept","ip_range":"0.0.0.0/0","dest_port_from":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0c41dd07-2874-4478-8496-916a0365d5b7/rules
    method: POST
  response:
    body: '{"rule": {"id": "b5011e83-557e-4d8a-89d9-eb6214dd87e2", "protocol": "TCP",
      "direction": "inbound", "ip_range": "0.0.0.0/0", "dest_port_from": 80, "dest_port_to":
      null, "position": 1, "editable": null, "action": "accept", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0c41dd07-2874-4478-8496-916a0365d5b7/rules/b5011e83-557e-4d8a-89d9-eb6214dd87e2
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0c41dd07-2874-4478-8496-916a0365d5b7/rules/b5011e83-557e-4d8a-89d9-eb6214dd87e2
    method: GET
  response:
    body: '{"rule": {"id": "b5011e83-557e-4d8a-89d9-eb6214dd87e2", "protocol": "TCP",
      "direction": "inbound", "ip_range": "0.0.0.0/0", "dest_port_from": 80, "dest_port_to":
      null, "position": 1, "editable": null, "action": "accept", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/0c41dd07-2874-4478-8496-916a0365d5b7
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Security group \"0c41dd07-2874-4478-8496-916a0365d5b7\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
