---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?arch=x86_64&name=Ubuntu+20.04+Focal+Fossa&page=1
    method: GET
  response:
    body: '{"images": [{"id": "51bf99fb-454a-46df-a53d-a800bd52a784", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "6cb79712-5d6e-41ef-9701-800d687b2cc3",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-11-12T09:13:30.103849+00:00", "modification_date": "2020-11-12T09:13:30.103849+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, {"id": "f90187e9-c7e6-412c-8a09-75dbd350ba84", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "8b761ed7-2cc8-4d8d-bc29-965255a4e0f9",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-10-27T13:45:47.308908+00:00",[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/51bf99fb-454a-46df-a53d-a800bd52a784
    method: GET
  response:
    body: '{"image": {"id": "51bf99fb-454a-46df-a53d-a800bd52a784", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "6cb79712-5d6e-41ef-9701-800d687b2cc3",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-11-12T09:13:30.103849+00:00", "modification_date": "2020-11-12T09:13:30.103849+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-srv-cranky-mclean","dynamic_ip_required":false,"commercial_type":"DEV1-S","image":"51bf99fb-454a-46df-a53d-a800bd52a784","boot_type":"local","project":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":["terraform-test","scaleway_instance_server","user_data"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4", "name": "tf-srv-cranky-mclean",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "tf-srv-cranky-mclean", "image": {"id": "51bf99fb-454a-46df-a53d-a800bd52a784",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "6cb79712-5d6e-41ef-9701-800d687b2cc3",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-11-12T09:13:30.103849+00:00", "modification_date": "2020-11-12T09:13:30.103849+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "144340b9-ea5d-48a2-98d1-0502704386e6",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4", "name": "tf-srv-cranky-mclean"},
      "size": 20000000000, "state": "available", "creation_date": "2020-11-19T14:11:11.762458+00:00",
      "modification_date": "2020-11-19T14:11:11.762458+00:00", "zone": "fr-par-1"}},
      "tags": ["terraform-test", "scaleway_instance_server", "user_data"], "state":
      "stopped", "protected": false, "state_detail": "", "public_ip": null, "ipv6":
      null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6": false,
      "private_ip": null, "creation_date": "2020-11-19T14:11:11.762458+00:00", "modification_date":
      "2020-11-19T14:11:11.762458+00:00", "bootscript": {"id": "fdfe150f-a870-4ce4-b432-9f56b5b995c1",
      "public": true, "title": "x86_64 mainline 4.4.230 rev1", "architecture": "x86_64",
      "organization": "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "54e2d5f6-d79c-44cc-b19f-613699b9cc7e",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4
    method: GET
  response:
    body: '{"server": {"id": "ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4", "name": "tf-srv-cranky-mclean",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "tf-srv-c[...]
- request:
    body: '{"action":"poweron"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4/action
    method: POST
  response:
    body: '{"task": {"id": "3f43c993-534f-49a8-8c46-cbf1f286d708", "description":
      "server_batch_poweron", "status": "pending", "href_from": "/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4/action",
      "href_result": "/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4", "started_at":
      "2020-11-19T14:11:12.443828+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/3f43c993-534f-49a8-8c46-cbf1f286d708
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4/user_data
    method: GET
  response:
    body: '{"user_data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      #cloud-config
      apt_update: true
      apt_upgrade: true
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4/user_data/cloud-init
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/144340b9-ea5d-48a2-98d1-0502704386e6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"ec93bd9f-5d22-49a0-81e4-4b2642e3e5a4\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
