---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-nifty-snyder","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-12-05T10:57:18.028739+00:00","export_uri":null,"id":"844e264b-e452-48b4-927a-7906905609fa","modification_date":"2023-12-05T10:57:18.028739+00:00","name":"tf-vol-nifty-snyder","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/844e264b-e452-48b4-927a-7906905609fa
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/844e264b-e452-48b4-927a-7906905609fa
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-12-05T10:57:18.028739+00:00","export_uri":null,"id":"844e264b-e452-48b4-927a-7906905609fa","modification_date":"2023-12-05T10:57:18.028739+00:00","name":"tf-vol-nifty-snyder","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-pedantic-kalam","volume_id":"844e264b-e452-48b4-927a-7906905609fa","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"844e264b-e452-48b4-927a-7906905609fa","name":"tf-vol-nifty-snyder"},"creation_date":"2023-12-05T10:57:18.607689+00:00","error_details":null,"id":"47b46b5b-b9f8-441f-bc16-06faec34745a","modification_date":"2023-12-05T10:57:18.607689+00:00","name":"tf-snap-pedantic-kalam","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"},"task":{"description":"snapshot_47b46b5b-b9f8-441f-bc16-06faec34745a","href_from":"/snapshots","href_result":"snapshots/47b46b5b-b9f8-441f-bc16-06faec34745a","id":"89695ec3-86ff-4bd1-82d8-637d7b44d185","started_at":"2023-12-05T10:57:18.912868+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/47b46b5b-b9f8-441f-bc16-06faec34745a
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"844e264b-e452-48b4-927a-7906905609fa","name":"tf-vol-nifty-snyder"},"creation_date":"2023-12-05T10:57:18.607689+00:00","error_details":null,"id":"47b46b5b-b9f8-441f-bc16-06faec34745a","modification_date":"2023-12-05T10:57:18.607689+00:00","name":"tf-snap-pedantic-kalam","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"47b46b5b-b9f8-441f-bc16-06faec34745a","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tag1","tag2","tag3"],"public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-12-05T10:57:24.927531+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"6469cc1f-617b-4652-89c5-98551e55f3e6","modification_date":"2023-12-05T10:57:24.927531+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"47b46b5b-b9f8-441f-bc16-06faec34745a","name":"tf-snap-pedantic-kalam","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/6469cc1f-617b-4652-89c5-98551e55f3e6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/6469cc1f-617b-4652-89c5-98551e55f3e6
    method: GET
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-12-05T10:57:24.927531+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"6469cc1f-617b-4652-89c5-98551e55f3e6","modification_date":"2023-12-05T10:57:24.927531+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"47b46b5b-b9f8-441f-bc16-06faec34745a","name":"tf-snap-pedantic-kalam","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/6469cc1f-617b-4652-89c5-98551e55f3e6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_image","resource_id":"6469cc1f-617b-4652-89c5-98551e55f3e6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
