---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"id": "25b961d0-a991-4e07-b466-b2df71d53f0c", "name": "Alpine
      Linux", "label": "alpine_linux", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/alpinelinux.png",
      "description": "Alpine Linux is security-oriented, lightweight Linux distribution
      based on musl libc and busybox.", "organization": {"id": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "name": "Instances User Resources Build System"}, "versions": [{"id": "3800a07e-ba58-432e-8568-96e5805cd3db",
      "name": "2020-08-13T13:04:46.458007", "local_images": [{"id": "d233c266-d8df-4672-b808-2b66d49b383f",
      "zone": "fr-par-1", "arch": "x86_64", "compatible_commercial_types": ["GP1-XS",
      "DEV1-L", "RENDER-S", "GP1-XL", "C2S", "X64-15GB", "DEV1-XL", "C2L", "C2M",
      "VC1S", "START1-S", "X64-30GB", "GP1-L", "GP1-M", "GP1-S", "START1-L", "START1-M",
      "VC1L", "VC1M", "X64-120GB", "X64-60GB", "STARDUST1-S", "GP1-VIZ"]}], "creation_date":
      "2020-08-13T13:04:46.478305+00:00", "modification_date": "2020-08-13T13:04:46.478305+00:00"}],
      "categories": ["distribution"], "current_public_version": "3800a07e-ba58-432e-8568-96e5805cd3db",
      "creation_date": "2020-08-13T13:02:20.903545+00:00", "modification_date": "2020-08-13T13:02:20.903545+00:00",
      "valid_until": null}, {"id": "1c4317c3-e708-40c5-81d1-cfd5ad0cc963", "name":
      "Arch Linux", "label": "arch_linux", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/archlinux.png",
      "description": "Arch Linux is an independently developed Linux distribution
      versatile enough to suit any role.", "organization": {"id": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "name": "Instances User Resources Build System"}, "versions": [{"id": "8d746280-bf97-45cf-b005-5801d54324e5",
      "name": "2020[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers
    method: GET
  response:
    body: '{"servers": {"ENT1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 8,
      "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 160.0, "hourly_price": 0.222, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1677721600, "sum_internet_bandwidth":
      1677721600, "interfaces": [{"internal_bandwidth": 1677721600, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1677721600}]}}, "ENT1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      80.0, "hourly_price": 0.111, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 838860800, "sum_internet_bandwidth": 838860800,
      "interfaces": [{"internal_bandwidth": 838860800, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 838860800}]}}, "ENT1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      40.0, "hourly_price": 0.056, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 419430400, "sum_internet_bandwidth": 419430400,
      "interfaces": [{"internal_bandwidth": 419430400, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "ENT1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      320.0, "hourly_price": 0.444, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3355443200, "sum_internet_bandwidth": 3355443200,
      "interfaces": [{"internal_bandwidth": 3355443200, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3355443200}]}}, "ENT1-XXL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      640.0, "hourly_price": 0.889, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6815744000, "sum_internet_bandwidth": 6815744000,
      "interfaces": [{"internal_bandwidth": 6815744000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6815744000}]}}, "ENT1-XXXL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      1280.0, "hourly_price": 1.778, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 13631488000, "sum_internet_bandwidth": 13631488000,
      "interfaces": [{"internal_bandwidth": 13631488000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 13631488000}]}}, "ENT1-XXXXL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 96, "ram": 412316860416, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      1920.0, "hourly_price": 2.667, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 20971520000, "sum_internet_bandwidth": 20971520000,
      "interfaces": [{"internal_bandwidth": 20971520000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 20971520000}]}}, "GP1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 600000000000, "max_size": 600000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 329.99, "hourly_price": 0.66, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      5368709120, "sum_internet_bandwidth": 5368709120, "interfaces": [{"internal_bandwidth":
      5368709120, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      5368709120}]}}, "GP1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size":
      600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 169.99, "hourly_price":
      0.34, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1610612736, "sum_internet_bandwidth": 1610612736, "interfaces": [{"internal_bandwidth":
      1610612736, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1610612736}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 84.99, "hourly_price":
      0.17, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      838860800, "sum_internet_bandwidth": 838860800, "interfaces": [{"internal_bandwidth":
      838860800, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      838860800}]}}, "GP1-VIZ": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1,
      "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      524288000}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram":
      274877906944, "gpu": null, "volumes_constraint": {"min_size": 600000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 699.99, "hourly_price":
      1.4, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      10737418240, "sum_internet_bandwidth": 10737418240, "interfaces": [{"internal_bandwidth":
      10737418240, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      10737418240}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      17179869184, "gpu": null, "volumes_constraint": {"min_size": 150000000000, "max_size":
      150000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 41.99, "hourly_price":
      0.084, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      524288000}]}}, "PROTO_ENT1_L": {"alt_names": [], "arch": "x86_64", "ncpus":
      8, "ram": 34359738368, "gpu": null, "volumes_constraint": {"min_size": 0, "max_size":
      0}, "per_volume_constraint": {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal":
      false, "monthly_price": 160.0, "hourly_price": 0.222, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1747976192, "sum_internet_bandwidth":
      1747976192, "interfaces": [{"internal_bandwidth": 1747976192, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1747976192}]}}, "PROTO_ENT1_L_L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 34359738368, "gpu": null,
      "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 160.0, "hourly_price": 0.222, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 1747976192, "sum_internet_bandwidth":
      1747976192, "interfaces": [{"internal_bandwidth": 1747976192, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 1747976192}]}}, "PROTO_ENT1_M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      80.0, "hourly_price": 0.111, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 873463808, "sum_internet_bandwidth": 873463808,
      "interfaces": [{"internal_bandwidth": 873463808, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 873463808}]}}, "PROTO_ENT1_M_L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 17179869184, "gpu": null,
      "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 80.0, "hourly_price": 0.111, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 873463808, "sum_internet_bandwidth":
      873463808, "interfaces": [{"internal_bandwidth": 873463808, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 873463808}]}}, "PROTO_ENT1_S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      40.0, "hourly_price": 0.056, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 440401920, "sum_internet_bandwidth": 440401920,
      "interfaces": [{"internal_bandwidth": 440401920, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 440401920}]}}, "PROTO_ENT1_S_L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 40.0, "hourly_price": 0.056, "capabilities": {"boot_types":
      ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 440401920, "sum_internet_bandwidth":
      440401920, "interfaces": [{"internal_bandwidth": 440401920, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 440401920}]}}, "PROTO_ENT1_XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram": 68719476736, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      320.0, "hourly_price": 0.444, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 3494903808, "sum_internet_bandwidth": 3494903808,
      "interfaces": [{"internal_bandwidth": 3494903808, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 3494903808}]}}, "PROTO_ENT1_XXL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      640.0, "hourly_price": 0.889, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 6990856192, "sum_internet_bandwidth": 6990856192,
      "interfaces": [{"internal_bandwidth": 6990856192, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 6990856192}]}}, "PROTO_ENT1_XXL_L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram": 137438953472, "gpu":
      null, "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 640.0, "hourly_price": 0.889, "capabilities":
      {"boot_types": ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 6990856192, "sum_internet_bandwidth":
      6990856192, "interfaces": [{"internal_bandwidth": 6990856192, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 6990856192}]}}, "PROTO_ENT1_XXXL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      null, "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 1280.0, "hourly_price": 1.778, "capabilities":
      {"boot_types": ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      false, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 13980663808, "sum_internet_bandwidth":
      13980663808, "interfaces": [{"internal_bandwidth": 13980663808, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 13980663808}]}}, "PROTO_ENT1_XXXL_L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 64, "ram": 274877906944, "gpu":
      null, "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 1280.0, "hourly_price": 1.778, "capabilities":
      {"boot_types": ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 13980663808, "sum_internet_bandwidth":
      13980663808, "interfaces": [{"internal_bandwidth": 13980663808, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 13980663808}]}}, "PROTO_ENT1_XXXXL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 96, "ram": 412316860416, "gpu":
      null, "volumes_constraint": {"min_size": 0, "max_size": 0}, "per_volume_constraint":
      {"l_ssd": {"min_size": 0, "max_size": 0}}, "baremetal": false, "monthly_price":
      1920.0, "hourly_price": 2.667, "capabilities": {"boot_types": ["rescue", "local"],
      "default_boot_type": "local", "hot_snapshots_local_volume": false, "placement_groups":
      true, "block_storage": true, "private_network": 8}, "network": {"ipv6_support":
      true, "sum_internal_bandwidth": 20971520000, "sum_internet_bandwidth": 20971520000,
      "interfaces": [{"internal_bandwidth": 20971520000, "internet_bandwidth": null},
      {"internal_bandwidth": null, "internet_bandwidth": 20971520000}]}}, "PROTO_ENT1_XXXXL_L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 96, "ram": 412316860416, "gpu":
      null, "volumes_constraint": {"min_size": 10000000000, "max_size": 10000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 1920.0, "hourly_price": 2.667, "capabilities":
      {"boot_types": ["rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 20971520000, "sum_internet_bandwidth":
      20971520000, "interfaces": [{"internal_bandwidth": 20971520000, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 20971520000}]}}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "26"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-srv-affectionate-cori","dynamic_ip_required":false,"commercial_type":"ENT1-S","image":"34c8c4bd-1bb9-4226-b798-6a8f63f6f778","boot_type":"local","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "c7828e58-048e-4743-b42b-e07456899a50", "name": "tf-srv-affectionate-cori",
      "arch": "x86_64", "commercial_type": "ENT1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "tf-srv-affectionate-cori", "image": {"id": "34c8c4bd-1bb9-4226-b798-6a8f63f6f778",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "70cb59c6-0470-4e88-bf56-183945bc07a0",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "b_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-03-25T12:47:06.062203+00:00", "modification_date": "2021-03-25T12:47:06.062203+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "cbe2a055-072c-471e-ae8b-c50fd2e4bca3",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "b_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "c7828e58-048e-4743-b42b-e07456899a50", "name": "tf-srv-affectionate-cori"},
      "size": 10000000000, "state": "available", "creation_date": "2021-04-20T14:31:22.561799+00:00",
      "modification_date": "2021-04-20T14:31:22.561799+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip":
      null, "ipv6": null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6":
      false, "private_ip": null, "creation_date": "2021-04-20T14:31:22.561799+00:00",
      "modification_date": "2021-04-20T14:31:22.561799+00:00", "bootscript": {"id":
      "9246a9bb-896c-464c-b6bd-b7443cd72c23", "public": true, "title": "x86_64 mainline
      4.4.182 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "https://s3.fr-par.scw.cloud/scw-par1-bootscripts01/kernel/x86_64-mainline-lts-4.4-4.4.182-rev1/vmlinuz-4.4.182",
      "dtb": "", "initrd": "https://s3.fr-par.scw.cloud/scw-par1-bootscripts01/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "9d8a7041-9bc6-4f3a-ba96-3ae818865fba",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cp-prd-api02.internal.scaleway.com/servers/c7828e58-048e-4743-b42b-e07456899a50
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c7828e58-048e-4743-b42b-e07456899a50
    method: GET
  response:
    body: '{"server": {"id": "c7828e58-048e-4743-b42b-e07456899a50", "name": "tf-srv-affectionate-cori",
      "arch": "x86_64", "commercial_type": "ENT1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "tf-s[...]
- request:
    body: '{"action":"poweron"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c7828e58-048e-4743-b42b-e07456899a50/action
    method: POST
  response:
    body: '{"task": {"id": "31f58ce4-74d6-48fd-b87c-81ad1c689c1b", "description":
      "server_batch_poweron", "status": "pending", "href_from": "/servers/c7828e58-048e-4743-b42b-e07456899a50/action",
      "href_result": "/servers/c7828e58-048e-4743-b42b-e07456899a50", "started_at":
      "2021-04-20T14:31:23.488355+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/31f58ce4-74d6-48fd-b87c-81ad1c689c1b
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c7828e58-048e-4743-b42b-e07456899a50/user_data
    method: GET
  response:
    body: '{"user_data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/cbe2a055-072c-471e-ae8b-c50fd2e4bca3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c7828e58-048e-4743-b42b-e07456899a50
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"c7828e58-048e-4743-b42b-e07456899a50\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
