---
version: 1
interactions:
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"routed_ipv6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":null,"id":"28fcf539-8492-4603-b627-de0501ce8489","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":"2001:bc8:710:d::/64","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/28fcf539-8492-4603-b627-de0501ce8489
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/28fcf539-8492-4603-b627-de0501ce8489
    method: GET
  response:
    body: '{"ip":{"address":null,"id":"28fcf539-8492-4603-b627-de0501ce8489","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":"2001:bc8:710:d::/64","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/28fcf539-8492-4603-b627-de0501ce8489
    method: GET
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
