---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-vigorous-tesla","project":"9af7216e-7b97-404d-8ada-9f379eb39ae5","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "505e5cc6-fbef-4e97-8cca-eca215935353", "name": "tf-vol-vigorous-tesla",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-12T18:23:21.222474+00:00", "modification_date":
      "2021-05-12T18:23:21.222474+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/volumes/505e5cc6-fbef-4e97-8cca-eca215935353
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/505e5cc6-fbef-4e97-8cca-eca215935353
    method: GET
  response:
    body: '{"volume": {"id": "505e5cc6-fbef-4e97-8cca-eca215935353", "name": "tf-vol-vigorous-tesla",
      "volume_type": "l_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-12T18:23:21.222474+00:00", "modification_date":
      "2021-05-12T18:23:21.222474+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/505e5cc6-fbef-4e97-8cca-eca215935353
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''505e5cc6-fbef-4e97-8cca-eca215935353''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
