---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-wonderful-hertz","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "fff4cc43-7d52-4506-b045-a7941c851fbd", "name": "tf-vol-wonderful-hertz",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-20T16:38:21.988473+00:00", "modification_date":
      "2022-06-20T16:38:21.988473+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fff4cc43-7d52-4506-b045-a7941c851fbd
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fff4cc43-7d52-4506-b045-a7941c851fbd
    method: GET
  response:
    body: '{"volume": {"id": "fff4cc43-7d52-4506-b045-a7941c851fbd", "name": "tf-vol-wonderful-hertz",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-20T16:38:21.988473+00:00", "modification_date":
      "2022-06-20T16:38:21.988473+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-vigilant-hawking","volume_id":"922857f0-75a5-4779-8229-2fd4af65ab3c","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "317eb20e-1b14-462a-b037-052d8c455625", "name": "tf-snap-vigilant-hawking",
      "volume_type": "b_ssd", "creation_date": "2022-06-20T16:38:22.354839+00:00",
      "modification_date": "2022-06-20T16:38:22.354839+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "922857f0-75a5-4779-8229-2fd4af65ab3c",
      "name": "tf-vol-infallible-borg"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "db8d2ebe-f557-40c1-bb40-7fc7c57a8025", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/317eb20e-1b14-462a-b037-052d8c455625", "started_at":
      "2022-06-20T16:38:22.519044+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/317eb20e-1b14-462a-b037-052d8c455625
    method: GET
  response:
    body: '{"snapshot": {"id": "317eb20e-1b14-462a-b037-052d8c455625", "name": "tf-snap-vigilant-hawking",
      "volume_type": "b_ssd", "creation_date": "2022-06-20T16:38:22.354839+00:00",
      "modification_date": "2022-06-20T16:38:22.354839+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "922857f0-75a5-4779-8229-2fd4af65ab3c",
      "name": "tf-vol-infallible-borg"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-image-goofy-meitner","root_volume":"26ca4102-6d5b-4ce3-96f2-fb1e44c07df4","arch":"x86_64","extra_volumes":{"0":{"id":"b59cbba7-9834-4bdb-bb49-a42d0780d2f1","name":"tf-vol-priceless-franklin","size":20000000000,"volume_type":"b_ssd"},"1":{"id":"922857f0-75a5-4779-8229-2fd4af65ab3c","name":"tf-vol-infallible-borg","size":20000000000,"volume_type":"b_ssd"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: '{"type": "invalid_request_error", "message": "Validation Error", "fields":
      {"extra_volumes.0": ["extra keys not allowed"]}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
