---
version: 1
interactions:
- request:
    body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.15.134.41","id":"b90b26b9-6185-4c3c-bc06-9834f5aad5bb","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b90b26b9-6185-4c3c-bc06-9834f5aad5bb
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/b90b26b9-6185-4c3c-bc06-9834f5aad5bb
    method: GET
  response:
    body: '{"ip":{"address":"51.15.134.41","id":"b90b26b9-6185-4c3c-bc06-9834f5aad5bb","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"changes":[{"add":{"records":[{"data":"51.15.134.41","name":"tf","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"51.15.134.41","id":"19f3f41f-1640-472b-be69-bc177fd05a02","name":"tf","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-multistreaming.fr&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"test-multistreaming.fr","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","subdomain":"","updated_at":"2023-01-23T07:45:24Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.15.134.41","id":"19f3f41f-1640-472b-be69-bc177fd05a02","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?id=19f3f41f-1640-472b-be69-bc177fd05a02&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.15.134.41","id":"19f3f41f-1640-472b-be69-bc177fd05a02","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?id=19f3f41f-1640-472b-be69-bc177fd05a02&name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.15.134.41","id":"19f3f41f-1640-472b-be69-bc177fd05a02","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"19f3f41f-1640-472b-be69-bc177fd05a02"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
