---
version: 1
interactions:
- request:
    body: '{"project":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "ad0df0b0-6145-4cf2-9944-23e5353d81d0", "address": "212.47.234.122",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/ips/ad0df0b0-6145-4cf2-9944-23e5353d81d0
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ad0df0b0-6145-4cf2-9944-23e5353d81d0
    method: GET
  response:
    body: '{"ip": {"id": "ad0df0b0-6145-4cf2-9944-23e5353d81d0", "address": "212.47.234.122",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/3cee8725-837b-4b5e-b1fd-2570ecc533c3
    method: GET
  response:
    body: '{"type": "authorization_required", "message": "Authorization required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
