---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-trusting-engelbart","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91", "name": "tf-vol-trusting-engelbart",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T08:56:00.453245+00:00", "modification_date":
      "2022-04-12T08:56:00.453245+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c026e96f-6239-44b2-8974-0f950e567a91
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c026e96f-6239-44b2-8974-0f950e567a91
    method: GET
  response:
    body: '{"volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91", "name": "tf-vol-trusting-engelbart",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T08:56:00.453245+00:00", "modification_date":
      "2022-04-12T08:56:00.453245+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"c026e96f-6239-44b2-8974-0f950e567a91","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "d518ffaa-38b4-417a-8c0c-cc3c30df47aa", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T08:56:01.551162+00:00",
      "modification_date": "2022-04-12T08:56:01.551162+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91",
      "name": "tf-vol-trusting-engelbart"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/d518ffaa-38b4-417a-8c0c-cc3c30df47aa
    method: GET
  response:
    body: '{"snapshot": {"id": "d518ffaa-38b4-417a-8c0c-cc3c30df47aa", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T08:56:01.551162+00:00",
      "modification_date": "2022-04-12T08:56:01.551162+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91",
      "name": "tf-vol-trusting-engelbart"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c026e96f-6239-44b2-8974-0f950e567a91
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''c026e96f-6239-44b2-8974-0f950e567a91''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
