---
version: 1
interactions:
- request:
    body: '{"name":"tf-pg-romantic-torvalds","project":"9af7216e-7b97-404d-8ada-9f379eb39ae5","policy_mode":"enforced","policy_type":"low_latency"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "fc3aa6eb-dd7a-42a9-8a9d-e85ca00be9a6", "name":
      "tf-pg-romantic-torvalds", "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "policy_mode": "enforced",
      "policy_type": "low_latency", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/placement_groups/fc3aa6eb-dd7a-42a9-8a9d-e85ca00be9a6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b6feaaf1-a255-40c6-90d0-d74d58e45f64
    method: GET
  response:
    body: '{"placement_group": {"id": "b6feaaf1-a255-40c6-90d0-d74d58e45f64", "name":
      "tf-pg-wonderful-franklin", "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b6feaaf1-a255-40c6-90d0-d74d58e45f64
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"b6feaaf1-a255-40c6-90d0-d74d58e45f64\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
