---
version: 1
interactions:
- request:
    body: '{"project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "778a88b0-e43f-4a49-97ce-10d1fad60d00", "address": "51.15.241.236",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/ips/778a88b0-e43f-4a49-97ce-10d1fad60d00
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/778a88b0-e43f-4a49-97ce-10d1fad60d00
    method: GET
  response:
    body: '{"ip": {"id": "778a88b0-e43f-4a49-97ce-10d1fad60d00", "address": "51.15.241.236",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "afb53cf5-67d6-45b8-8392-f3e2637e86e7", "address": "51.15.90.189",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "nl-ams-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://ams1-cp-prd-api01.internal.scaleway.com/ips/afb53cf5-67d6-45b8-8392-f3e2637e86e7
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/afb53cf5-67d6-45b8-8392-f3e2637e86e7
    method: GET
  response:
    body: '{"ip": {"id": "afb53cf5-67d6-45b8-8392-f3e2637e86e7", "address": "51.15.90.189",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "nl-ams-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
