---
version: 1
interactions:
- request:
    body: '{"name":"tf-sg-stoic-albattani","project":"951df375-e094-4d26-97c1-ba548eeb9c42","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "4ebc81b9-bf9f-45f2-8e06-85c4bebd1444", "creation_date":
      "2020-10-16T10:07:40.485915+00:00", "modification_date": "2020-10-16T10:07:40.485915+00:00",
      "name": "tf-sg-stoic-albattani", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/security_groups/4ebc81b9-bf9f-45f2-8e06-85c4bebd1444
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4ebc81b9-bf9f-45f2-8e06-85c4bebd1444
    method: GET
  response:
    body: '{"security_group": {"id": "4ebc81b9-bf9f-45f2-8e06-85c4bebd1444", "creation_date":
      "2020-10-16T10:07:40.485915+00:00", "modification_date": "2020-10-16T10:07:40.485915+00:00",
      "name": "tf-sg-stoic-albattani", "description": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4ebc81b9-bf9f-45f2-8e06-85c4bebd1444/rules?page=1
    method: GET
  response:
    body: '{"rules": [{"id": "58909be7-d17c-4ac8-9eb3-23d5fc58abc5", "protocol": "TCP",
      "direction": "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 25, "dest_port_to":
      null, "position": 1, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "25680235-108b-4bbc-8e25-114303d950bd", "protocol": "TCP", "direction":
      "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 465, "dest_port_to":
      null, "position": 2, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "4a31b633-118e-4900-bd52-facf1085fc8d", "protocol": "TCP", "direction":
      "outbound", "ip_range": "0.0.0.0/0", "dest_port_from": 587, "dest_port_to":
      null, "position": 3, "editable": false, "action": "drop", "zone": "fr-par-1"},
      {"id": "e7dd28e8-3747-4c7c-9a4f-35ae3f0ae2cd", "protocol": "TCP", "direction":
      "outbound", "ip_range": "::/0", "dest_port_from": 25, "dest_port_to": null,
      "position": 4, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id":
      "f37d9e7c-8ed7-4e0f-baff-7f5e7ede0baf", "protocol": "TCP", "direction": "outbound",
      "ip_range": "::/0", "dest_port_from": 465, "dest_port_to": null, "position":
      5, "editable": false, "action": "drop", "zone": "fr-par-1"}, {"id": "68054851-54e3-46c9-9cd7-83219751248b",
      "protocol": "TCP", "direction": "outbound", "ip_range": "::/0", "dest_port_from":
      587, "dest_port_to": null, "position": 6, "editable": false, "action": "drop",
      "zone": "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"protocol":"TCP","direction":"inbound","action":"accept","ip_range":"0.0.0.0/0","dest_port_from":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4ebc81b9-bf9f-45f2-8e06-85c4bebd1444/rules
    method: POST
  response:
    body: '{"rule": {"id": "89faa652-8b81-46a4-81f3-ded600ab32a7", "protocol": "TCP",
      "direction": "inbound", "ip_range": "0.0.0.0/0", "dest_port_from": 80, "dest_port_to":
      null, "position": 1, "editable": null, "action": "accept", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/security_groups/4ebc81b9-bf9f-45f2-8e06-85c4bebd1444/rules/89faa652-8b81-46a4-81f3-ded600ab32a7
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4ebc81b9-bf9f-45f2-8e06-85c4bebd1444/rules/89faa652-8b81-46a4-81f3-ded600ab32a7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
