---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-exciting-lamarr","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "15fe1de3-0dcc-4874-ac66-a6d2e32089ae", "name": "tf-vol-exciting-lamarr",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-17T09:07:16.676272+00:00", "modification_date":
      "2022-06-17T09:07:16.676272+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/15fe1de3-0dcc-4874-ac66-a6d2e32089ae
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/15fe1de3-0dcc-4874-ac66-a6d2e32089ae
    method: GET
  response:
    body: '{"volume": {"id": "15fe1de3-0dcc-4874-ac66-a6d2e32089ae", "name": "tf-vol-exciting-lamarr",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-17T09:07:16.676272+00:00", "modification_date":
      "2022-06-17T09:07:16.676272+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-image-pedantic-rubin","root_volume":"15fe1de3-0dcc-4874-ac66-a6d2e32089ae","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: '{"type": "unknown_resource", "message": "\"15fe1de3-0dcc-4874-ac66-a6d2e32089ae\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
