---
version: 1
interactions:
- request:
    body: '{"project":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "0dbe45a8-d132-44e3-b371-fbd548cb0b7c", "address": "51.15.226.192",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/ips/0dbe45a8-d132-44e3-b371-fbd548cb0b7c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/0dbe45a8-d132-44e3-b371-fbd548cb0b7c
    method: GET
  response:
    body: '{"ip": {"id": "0dbe45a8-d132-44e3-b371-fbd548cb0b7c", "address": "51.15.226.192",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
