---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-suspicious-elgamal","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "53d20cb2-e255-44f3-8a60-95ba1c844f2d", "name": "tf-vol-suspicious-elgamal",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-10-16T08:57:19.928103+00:00", "modification_date":
      "2020-10-16T08:57:19.928103+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/53d20cb2-e255-44f3-8a60-95ba1c844f2d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/53d20cb2-e255-44f3-8a60-95ba1c844f2d
    method: GET
  response:
    body: '{"volume": {"id": "53d20cb2-e255-44f3-8a60-95ba1c844f2d", "name": "tf-vol-suspicious-elgamal",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-10-16T08:57:19.928103+00:00", "modification_date":
      "2020-10-16T08:57:19.928103+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
