---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-friendly-raman","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "6c812b82-aa1d-4be8-b918-3c3a912f3d1e", "name": "tf-vol-friendly-raman",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:05:28.049325+00:00", "modification_date":
      "2022-04-12T10:05:28.049325+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6c812b82-aa1d-4be8-b918-3c3a912f3d1e
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6c812b82-aa1d-4be8-b918-3c3a912f3d1e
    method: GET
  response:
    body: '{"volume": {"id": "6c812b82-aa1d-4be8-b918-3c3a912f3d1e", "name": "tf-vol-friendly-raman",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:05:28.049325+00:00", "modification_date":
      "2022-04-12T10:05:28.049325+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-wizardly-benz","volume_id":"6c812b82-aa1d-4be8-b918-3c3a912f3d1e","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "2169b19d-9f11-4bd5-b78c-931fca0e5e40", "name": "tf-snap-wizardly-benz",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T10:05:28.965832+00:00",
      "modification_date": "2022-04-12T10:05:28.965832+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "6c812b82-aa1d-4be8-b918-3c3a912f3d1e",
      "name": "tf-vol-friendly-raman"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/2169b19d-9f11-4bd5-b78c-931fca0e5e40
    method: GET
  response:
    body: '{"snapshot": {"id": "2169b19d-9f11-4bd5-b78c-931fca0e5e40", "name": "tf-snap-wizardly-benz",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T10:05:28.965832+00:00",
      "modification_date": "2022-04-12T10:05:28.965832+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "6c812b82-aa1d-4be8-b918-3c3a912f3d1e",
      "name": "tf-vol-friendly-raman"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6c812b82-aa1d-4be8-b918-3c3a912f3d1e
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''6c812b82-aa1d-4be8-b918-3c3a912f3d1e''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
