---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-funny-lamport","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "5cba5813-ed7f-4975-b046-0d42ba49133c", "name": "tf-vol-funny-lamport",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T09:18:52.516543+00:00", "modification_date":
      "2022-04-13T09:18:52.516543+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5cba5813-ed7f-4975-b046-0d42ba49133c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5cba5813-ed7f-4975-b046-0d42ba49133c
    method: GET
  response:
    body: '{"volume": {"id": "5cba5813-ed7f-4975-b046-0d42ba49133c", "name": "tf-vol-funny-lamport",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T09:18:52.516543+00:00", "modification_date":
      "2022-04-13T09:18:52.516543+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-lucid-joliot","volume_id":"5cba5813-ed7f-4975-b046-0d42ba49133c","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "60fe63d4-b9e9-43e3-bd12-af3447bf2e2c", "name": "tf-snap-lucid-joliot",
      "volume_type": "b_ssd", "creation_date": "2022-04-13T09:18:53.372316+00:00",
      "modification_date": "2022-04-13T09:18:53.372316+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "5cba5813-ed7f-4975-b046-0d42ba49133c",
      "name": "tf-vol-funny-lamport"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/60fe63d4-b9e9-43e3-bd12-af3447bf2e2c
    method: GET
  response:
    body: '{"snapshot": {"id": "60fe63d4-b9e9-43e3-bd12-af3447bf2e2c", "name": "tf-snap-lucid-joliot",
      "volume_type": "b_ssd", "creation_date": "2022-04-13T09:18:53.372316+00:00",
      "modification_date": "2022-04-13T09:18:53.372316+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "5cba5813-ed7f-4975-b046-0d42ba49133c",
      "name": "tf-vol-funny-lamport"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5cba5813-ed7f-4975-b046-0d42ba49133c
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''5cba5813-ed7f-4975-b046-0d42ba49133c''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
