---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-nifty-ellis","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "3212c5e7-c474-4130-9d79-da487533cb50", "name": "tf-vol-nifty-ellis",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T12:14:55.928455+00:00", "modification_date":
      "2022-04-13T12:14:55.928455+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3212c5e7-c474-4130-9d79-da487533cb50
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3212c5e7-c474-4130-9d79-da487533cb50
    method: GET
  response:
    body: '{"volume": {"id": "3212c5e7-c474-4130-9d79-da487533cb50", "name": "tf-vol-nifty-ellis",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T12:14:55.928455+00:00", "modification_date":
      "2022-04-13T12:14:55.928455+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"3212c5e7-c474-4130-9d79-da487533cb50","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "6d1b4521-922a-41a0-9a66-8553a7c41158", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-13T12:14:57.346388+00:00",
      "modification_date": "2022-04-13T12:14:57.346388+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3212c5e7-c474-4130-9d79-da487533cb50",
      "name": "tf-vol-nifty-ellis"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/6d1b4521-922a-41a0-9a66-8553a7c41158
    method: GET
  response:
    body: '{"snapshot": {"id": "6d1b4521-922a-41a0-9a66-8553a7c41158", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-13T12:14:57.346388+00:00",
      "modification_date": "2022-04-13T12:14:57.346388+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3212c5e7-c474-4130-9d79-da487533cb50",
      "name": "tf-vol-nifty-ellis"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3212c5e7-c474-4130-9d79-da487533cb50
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''3212c5e7-c474-4130-9d79-da487533cb50''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
