---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-determined-euler","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8", "name": "tf-vol-determined-euler",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-04-27T13:21:27.005738+00:00", "modification_date":
      "2021-04-27T13:21:27.005738+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8
    method: GET
  response:
    body: '{"volume": {"id": "1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8", "name": "tf-vol-determined-euler",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-04-27T13:21:27.005738+00:00", "modification_date":
      "2021-04-27T13:21:27.005738+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"first_name","volume_id":"1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "72884866-0a7a-429c-bab7-5a4464288538", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2021-04-27T13:21:27.372308+00:00",
      "modification_date": "2021-04-27T13:21:27.372308+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8",
      "name": "tf-vol-determined-euler"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/72884866-0a7a-429c-bab7-5a4464288538
    method: GET
  response:
    body: '{"snapshot": {"id": "72884866-0a7a-429c-bab7-5a4464288538", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2021-04-27T13:21:27.372308+00:00",
      "modification_date": "2021-04-27T13:21:27.372308+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8",
      "name": "tf-vol-determined-euler"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''1bb1bb3e-ff9f-424f-9ae7-2daa117e09a8''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
