---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-zealous-mclaren","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "c58d2d1b-8f04-4f90-9f16-a97df2d78a5b", "name": "tf-vol-zealous-mclaren",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-17T15:42:26.644618+00:00", "modification_date":
      "2022-06-17T15:42:26.644618+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c58d2d1b-8f04-4f90-9f16-a97df2d78a5b
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c58d2d1b-8f04-4f90-9f16-a97df2d78a5b
    method: GET
  response:
    body: '{"volume": {"id": "c58d2d1b-8f04-4f90-9f16-a97df2d78a5b", "name": "tf-vol-zealous-mclaren",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-17T15:42:26.644618+00:00", "modification_date":
      "2022-06-17T15:42:26.644618+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-compassionate-hermann","volume_id":"c58d2d1b-8f04-4f90-9f16-a97df2d78a5b","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "0a3535bf-55c6-4621-bc2a-0df7755ae6b9", "name": "tf-snap-compassionate-hermann",
      "volume_type": "b_ssd", "creation_date": "2022-06-17T15:42:26.980150+00:00",
      "modification_date": "2022-06-17T15:42:26.980150+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "c58d2d1b-8f04-4f90-9f16-a97df2d78a5b",
      "name": "tf-vol-zealous-mclaren"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "476fec83-30dc-4a3f-b069-96ad63a6291a", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/0a3535bf-55c6-4621-bc2a-0df7755ae6b9", "started_at":
      "2022-06-17T15:42:27.143615+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/0a3535bf-55c6-4621-bc2a-0df7755ae6b9
    method: GET
  response:
    body: '{"snapshot": {"id": "0a3535bf-55c6-4621-bc2a-0df7755ae6b9", "name": "tf-snap-compassionate-hermann",
      "volume_type": "b_ssd", "creation_date": "2022-06-17T15:42:26.980150+00:00",
      "modification_date": "2022-06-17T15:42:26.980150+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "c58d2d1b-8f04-4f90-9f16-a97df2d78a5b",
      "name": "tf-vol-zealous-mclaren"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-image-gifted-fermi","root_volume":"40223c2e-a9c9-4bee-99c7-7b7967dc60ef","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: '{"image": {"id": "6889f462-eb2b-44df-838e-634bd0fe715e", "name": "tf-image-gifted-fermi",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "40223c2e-a9c9-4bee-99c7-7b7967dc60ef", "name": "tf-snap-charming-pasteur",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "x86_64", "creation_date": "2022-06-17T15:42:32.702130+00:00",
      "modification_date": "2022-06-17T15:42:32.702130+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/6889f462-eb2b-44df-838e-634bd0fe715e
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/6889f462-eb2b-44df-838e-634bd0fe715e
    method: GET
  response:
    body: '{"image": {"id": "6889f462-eb2b-44df-838e-634bd0fe715e", "name": "tf-image-gifted-fermi",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "40223c2e-a9c9-4bee-99c7-7b7967dc60ef", "name": "tf-snap-charming-pasteur",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "x86_64", "creation_date": "2022-06-17T15:42:32.702130+00:00",
      "modification_date": "2022-06-17T15:42:32.702130+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/6889f462-eb2b-44df-838e-634bd0fe715e
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"6889f462-eb2b-44df-838e-634bd0fe715e\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
