---
version: 1
interactions:
- request:
    body: '{"name":"tf-pg-eloquent-curran","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "cb7d03ab-55eb-4a71-89f5-5751800b251f", "name":
      "tf-pg-eloquent-curran", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/cb7d03ab-55eb-4a71-89f5-5751800b251f
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/cb7d03ab-55eb-4a71-89f5-5751800b251f
    method: GET
  response:
    body: '{"placement_group": {"id": "cb7d03ab-55eb-4a71-89f5-5751800b251f", "name":
      "tf-pg-eloquent-curran", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/cb7d03ab-55eb-4a71-89f5-5751800b251f
    method: PATCH
  response:
    body: '{"type": "invalid_request_error", "message": "Validation Error", "fields":
      {"tags": ["expected a list"]}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
