---
version: 1
interactions:
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf","type":"unknown_iptype"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"163.172.135.82","id":"d3ec2489-9e36-49c8-8ea3-a03006b819d2","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d3ec2489-9e36-49c8-8ea3-a03006b819d2
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d3ec2489-9e36-49c8-8ea3-a03006b819d2
    method: GET
  response:
    body: '{"ip":{"address":"163.172.135.82","id":"d3ec2489-9e36-49c8-8ea3-a03006b819d2","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d3ec2489-9e36-49c8-8ea3-a03006b819d2
    method: GET
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
