---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-sad-shockley","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.161293+00:00","export_uri":null,"id":"dcf0cc90-863c-4c1d-aa9f-683e971789e1","modification_date":"2023-08-28T14:31:09.161293+00:00","name":"tf-vol-sad-shockley","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dcf0cc90-863c-4c1d-aa9f-683e971789e1
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dcf0cc90-863c-4c1d-aa9f-683e971789e1
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.161293+00:00","export_uri":null,"id":"dcf0cc90-863c-4c1d-aa9f-683e971789e1","modification_date":"2023-08-28T14:31:09.161293+00:00","name":"tf-vol-sad-shockley","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/dcf0cc90-863c-4c1d-aa9f-683e971789e1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"dcf0cc90-863c-4c1d-aa9f-683e971789e1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
