---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-stupefied-rubin","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "5411f674-a64d-464a-b3e9-36d6859d6ed7", "name": "tf-vol-stupefied-rubin",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T09:20:28.962318+00:00", "modification_date":
      "2022-04-12T09:20:28.962318+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5411f674-a64d-464a-b3e9-36d6859d6ed7
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5411f674-a64d-464a-b3e9-36d6859d6ed7
    method: GET
  response:
    body: '{"volume": {"id": "5411f674-a64d-464a-b3e9-36d6859d6ed7", "name": "tf-vol-stupefied-rubin",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T09:20:28.962318+00:00", "modification_date":
      "2022-04-12T09:20:28.962318+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/5411f674-a64d-464a-b3e9-36d6859d6ed7
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''5411f674-a64d-464a-b3e9-36d6859d6ed7''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
