---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-wonderful-northcutt","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "70817b32-d14c-421c-8c7f-d2307f1e51af", "name": "tf-vol-wonderful-northcutt",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:50:07.123860+00:00", "modification_date":
      "2021-12-07T10:50:07.123860+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/70817b32-d14c-421c-8c7f-d2307f1e51af
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/70817b32-d14c-421c-8c7f-d2307f1e51af
    method: GET
  response:
    body: '{"volume": {"id": "70817b32-d14c-421c-8c7f-d2307f1e51af", "name": "tf-vol-wonderful-northcutt",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:50:07.123860+00:00", "modification_date":
      "2021-12-07T10:50:07.123860+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/70817b32-d14c-421c-8c7f-d2307f1e51af
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''70817b32-d14c-421c-8c7f-d2307f1e51af''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
