---
version: 1
interactions:
- request:
<<<<<<< Updated upstream
    body: '{"name":"tf-vol-trusting-engelbart","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
=======
    body: '{"name":"tf-vol-sleepy-lamarr","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
>>>>>>> Stashed changes
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
<<<<<<< Updated upstream
    body: '{"volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91", "name": "tf-vol-trusting-engelbart",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T08:56:00.453245+00:00", "modification_date":
      "2022-04-12T08:56:00.453245+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
=======
    body: '{"volume": {"id": "3a8ca165-d7ad-4d2b-90e4-beffd17cd28f", "name": "tf-vol-sleepy-lamarr",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-11T16:22:53.423209+00:00", "modification_date":
      "2022-04-11T16:22:53.423209+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
>>>>>>> Stashed changes
      Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      Content-Type:
      - application/json
      Date:
<<<<<<< Updated upstream
      - Tue, 12 Apr 2022 08:56:01 GMT
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c026e96f-6239-44b2-8974-0f950e567a91
=======
      - Mon, 11 Apr 2022 16:22:53 GMT
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3a8ca165-d7ad-4d2b-90e4-beffd17cd28f
>>>>>>> Stashed changes
      Server:
      - Scaleway API-Gateway
      Strict-Transport-Security:
      - max-age=63072000
      X-Content-Type-Options:
      - nosniff
      X-Frame-Options:
      - DENY
      X-Request-Id:
<<<<<<< Updated upstream
      - fd1f13f8-f01d-4e0d-aaa6-3d232f4ae2cd
=======
      - 2108bcb5-faff-4255-8e42-8b288bbf3bac
>>>>>>> Stashed changes
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
<<<<<<< Updated upstream
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c026e96f-6239-44b2-8974-0f950e567a91
    method: GET
  response:
    body: '{"volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91", "name": "tf-vol-trusting-engelbart",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size"[...]
[...]
- request:
    body: '{"name":"first_name","volume_id":"c026e96f-6239-44b2-8974-0f950e567a91","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
=======
>>>>>>> Stashed changes
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3a8ca165-d7ad-4d2b-90e4-beffd17cd28f
    method: GET
  response:
<<<<<<< Updated upstream
    body: '{"snapshot": {"id": "d518ffaa-38b4-417a-8c0c-cc3c30df47aa", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T08:56:01.551162+00:00",
      "modification_date": "2022-04-12T08:56:01.551162+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91",
      "name": "tf-vol-trusting-engelbart"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
=======
    body: '{"volume": {"id": "3a8ca165-d7ad-4d2b-90e4-beffd17cd28f", "name": "tf-vol-sleepy-lamarr",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-11T16:22:53.423209+00:00", "modification_date":
      "2022-04-11T16:22:53.423209+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
>>>>>>> Stashed changes
      Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      Content-Type:
      - application/json
      Date:
<<<<<<< Updated upstream
      - Tue, 12 Apr 2022 08:56:02 GMT
=======
      - Mon, 11 Apr 2022 16:22:54 GMT
>>>>>>> Stashed changes
      Server:
      - Scaleway API-Gateway
      Strict-Transport-Security:
      - max-age=63072000
      X-Content-Type-Options:
      - nosniff
      X-Frame-Options:
      - DENY
      X-Request-Id:
<<<<<<< Updated upstream
      - 13d11108-3d52-4586-9432-f43ca52b2f01
    status: 201 Created
    code: 201
=======
      - 4cdb73f8-66df-415f-aa27-66759561d463
    status: 200 OK
    code: 200
>>>>>>> Stashed changes
    duration: ""
- request:
    body: '{"name":"first_name","volume_id":"3a8ca165-d7ad-4d2b-90e4-beffd17cd28f","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
<<<<<<< Updated upstream
        terraform/terraform-tests
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/d518ffaa-38b4-417a-8c0c-cc3c30df47aa
    method: GET
  response:
    body: '{"snapshot": {"id": "d518ffaa-38b4-417a-8c0c-cc3c30df47aa", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T08:56:01.551162+00:00",
      "modification_date": "2022-04-12T08:56:01.551162+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91",
      "name": "tf-vol-trusting-engelbart"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"id":"7547ac07-b398-4c72-b39b-ee3ac3014d99","name":"second_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":0,"state":"available","base_volume":null,"creation_date":"2022-04-11T16:22:54.271824Z","modification_date":"2022-04-11T16:22:57.682421Z","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
<<<<<<< Updated upstream
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/d518ffaa-38b4-417a-8c0c-cc3c30df47aa
    method: GET
  response:
    body: '{"snapshot": {"id": "d518ffaa-38b4-417a-8c0c-cc3c30df47aa", "name": "second_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T08:56:01.551162+00:00",
      "modification_date": "2022-04-12T08:56:05.426558+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "available", "base_volume": {"id": "c026e96f-6239-44b2-8974-0f950e567a91", "name":
      "tf-vol-trusting-engelbart"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
=======
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/7547ac07-b398-4c72-b39b-ee3ac3014d99
    method: PUT
  response:
    body: '{"type": "invalid_request_error", "message": "Validation Error", "fields":
      {"tags": ["expected a list"]}}'
    headers:
>>>>>>> Stashed changes
      Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      Content-Type:
      - application/json
      Date:
<<<<<<< Updated upstream
      - Tue, 12 Apr 2022 08:56:09 GMT
=======
      - Mon, 11 Apr 2022 16:23:01 GMT
>>>>>>> Stashed changes
      Server:
      - Scaleway API-Gateway
      Strict-Transport-Security:
      - max-age=63072000
      X-Content-Type-Options:
      - nosniff
      X-Frame-Options:
      - DENY
      X-Request-Id:
<<<<<<< Updated upstream
      - f63be17e-a01a-4d58-9b41-ca7520f8408a
    status: 200 OK
    code: 200
=======
      - 8da6bb78-2a5d-4e32-8c7c-d900e291bdfb
    status: 400 Bad Request
    code: 400
>>>>>>> Stashed changes
    duration: ""
[...]
