---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-unruffled-lalande","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "69c2fc94-1428-4969-a2f7-95691c9b5967", "name": "tf-vol-unruffled-lalande",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:10:16.206091+00:00", "modification_date":
      "2022-04-12T10:10:16.206091+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/69c2fc94-1428-4969-a2f7-95691c9b5967
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/69c2fc94-1428-4969-a2f7-95691c9b5967
    method: GET
  response:
    body: '{"volume": {"id": "69c2fc94-1428-4969-a2f7-95691c9b5967", "name": "tf-vol-unruffled-lalande",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:10:16.206091+00:00", "modification_date":
      "2022-04-12T10:10:16.206091+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"69c2fc94-1428-4969-a2f7-95691c9b5967","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "06c6eeec-02aa-453b-b2e6-6a7bcc8e3b19", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T10:10:17.110696+00:00",
      "modification_date": "2022-04-12T10:10:17.110696+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "69c2fc94-1428-4969-a2f7-95691c9b5967",
      "name": "tf-vol-unruffled-lalande"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/06c6eeec-02aa-453b-b2e6-6a7bcc8e3b19
    method: GET
  response:
    body: '{"snapshot": {"id": "06c6eeec-02aa-453b-b2e6-6a7bcc8e3b19", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-12T10:10:17.110696+00:00",
      "modification_date": "2022-04-12T10:10:17.110696+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "69c2fc94-1428-4969-a2f7-95691c9b5967",
      "name": "tf-vol-unruffled-lalande"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/69c2fc94-1428-4969-a2f7-95691c9b5967
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''69c2fc94-1428-4969-a2f7-95691c9b5967''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
