---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v1/images?page=1
    method: GET
  response:
    body: '{"images": [{"valid_until": null, "description": "Ubuntu is the ideal distribution
      for scale-out computing, Ubuntu Server helps you make the most of your infrastructure.",
      "creation_date": "2018-04-27T14:07:25.221998+00:00", "logo": "https://marketplace-logos.s3.nl-ams.scw.cloud/ubuntu.png",
      "id": "b381b2bf-804a-4b12-91f6-9f4ff273462f", "categories": ["distribution"],
      "name": "Ubuntu Bionic", "modification_date": "2020-10-07T12:01:05.600220+00:00",
      "versions": [{"creation_date": "2020-10-07T08:35:24.096155+00:00", "modification_date":
      "2020-10-07T08:35:24.096155+00:00", "id": "47d38b1a-71a9-4f29-80bc-2dbb7bda7f9f",
      "local_images": [{"compatible_commercial_types": ["C1"], "arch": "arm", "id":
      "f63fe42a-900f-4a5e-ba99-ab0e59469b7e", "zone": "par1"}, {"compatible_commercial_types":
      ["C2S", "C2M", "C2L", "X64-15GB", "X64-30GB", "X64-60GB", "X64-120GB"], "arch":
      "x86_64", "id": "a7306ef9-5e1b-464d-a409-a44026d91a9e", "zone": "ams1"}, {"compatible_commercial_types":
      ["ARM64-8GB", "ARM64-2GB", "ARM64-32GB", "ARM64-128GB", "ARM64-4GB", "ARM64-64GB",
      "ARM64-16GB"], "arch": "arm64", "id": "b4bdbee1-e1f1-4436-8de4-bdb1b6ba4803",
      "zone": "par1"}, {"compatible_commercial_types": ["ARM64-4GB", "ARM64-128GB",
    [...]
[...]
- request:
    body: '{"name":"test","dynamic_ip_required":false,"commercial_type":"DEV1-M","image":"cf44b8f5-77e2-42ed-8f1e-09ed5bb028fc","boot_type":"local","project":"a6c249e9-c32d-46e4-badb-b57528eafc4b","tags":["terraform-test","scaleway_instance_server","basic"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "1e1cbe58-dc9f-4836-bb19-d11586048434", "name": "test",
      "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization":
      "a6c249e9-c32d-46e4-badb-b57528eafc4b", "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "hostname": "test", "image": {"id": "cf44b8f5-77e2-42ed-8f1e-09ed5bb028fc",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "6e66445c-e52e-4cfa-bf4c-f36e291e2c30",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-07-09T10:38:16.265025+00:00", "modification_date": "2020-07-09T10:38:16.265025+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "23341465-5616-44fd-86c4-e199dd0a3051",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "a6c249e9-c32d-46e4-badb-b57528eafc4b", "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "server": {"id": "1e1cbe58-dc9f-4836-bb19-d11586048434", "name": "test"}, "size":
      40000000000, "state": "available", "creation_date": "2020-11-10T17:44:39.699242+00:00",
      "modification_date": "2020-11-10T17:44:39.699242+00:00", "zone": "fr-par-1"}},
      "tags": ["terraform-test", "scaleway_instance_server", "basic"], "state": "stopped",
      "protected": false, "state_detail": "", "public_ip": null, "ipv6": null, "extra_networks":
      [], "dynamic_ip_required": false, "enable_ipv6": false, "private_ip": null,
      "creation_date": "2020-11-10T17:44:39.699242+00:00", "modification_date": "2020-11-10T17:44:39.699242+00:00",
      "bootscript": {"id": "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true,
      "title": "x86_64 mainline 4.4.230 rev1", "architecture": "x86_64", "organization":
      "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "b40845ef-3992-4304-ace6-bd6c11fc4caa",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/servers/1e1cbe58-dc9f-4836-bb19-d11586048434
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1e1cbe58-dc9f-4836-bb19-d11586048434
    method: GET
  response:
    body: '{"server": {"id": "1e1cbe58-dc9f-4836-bb19-d11586048434", "name": "test",
      "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization":
      "a6c249e9-c32d-46e4-badb-b57528eafc4b", "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "hostname": "test", "image": {"id": "[...]
- request:
    body: '{"action":"poweron"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1e1cbe58-dc9f-4836-bb19-d11586048434/action
    method: POST
  response:
    body: '{"task": {"id": "e441d853-20ae-4ef1-8699-51e655cd86d9", "description":
      "server_batch_poweron", "status": "pending", "href_from": "/servers/1e1cbe58-dc9f-4836-bb19-d11586048434/action",
      "href_result": "/servers/1e1cbe58-dc9f-4836-bb19-d11586048434", "started_at":
      "2020-11-10T17:44:41.245577+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/e441d853-20ae-4ef1-8699-51e655cd86d9
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1e1cbe58-dc9f-4836-bb19-d11586048434/user_data
    method: GET
  response:
    body: '{"user_data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/23341465-5616-44fd-86c4-e199dd0a3051
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
