---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-funny-bhaskara","project":"a57bd23d-c866-49eb-a6ac-438f85c22957","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "cbcc503a-a61f-4b2f-a34d-f7b78f77f500", "name": "tf-vol-funny-bhaskara",
      "volume_type": "b_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-19T14:38:26.843537+00:00", "modification_date":
      "2021-05-19T14:38:26.843537+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/volumes/cbcc503a-a61f-4b2f-a34d-f7b78f77f500
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/cbcc503a-a61f-4b2f-a34d-f7b78f77f500
    method: GET
  response:
    body: '{"volume": {"id": "cbcc503a-a61f-4b2f-a34d-f7b78f77f500", "name": "tf-vol-funny-bhaskara",
      "volume_type": "b_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-19T14:38:26.843537+00:00", "modification_date":
      "2021-05-19T14:38:26.843537+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/cbcc503a-a61f-4b2f-a34d-f7b78f77f500
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''cbcc503a-a61f-4b2f-a34d-f7b78f77f500''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
