---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?arch=x86_64&name=Ubuntu+20.04+Focal+Fossa&page=1
    method: GET
  response:
    body: '{"images": [{"id": "ff48b73a-097d-4685-b996-d3ebe50636ea", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "c4cd9fbf-5345-4ab8-8b22-d2dd3c37bb6f",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-04-20T14:35:38.328865+00:00", "modification_date": "2021-04-20T14:35:38.328865+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, {"id": "d050f775-f6c3-43a9-a413-7b35751f2df8", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "634ab782-459e-44bb-aa04-2ce97024c4e6",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-04-14T08:20:43.544168+00:00",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ff48b73a-097d-4685-b996-d3ebe50636ea
    method: GET
  response:
    body: '{"image": {"id": "ff48b73a-097d-4685-b996-d3ebe50636ea", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "c4cd9fbf-5345-4ab8-8b22-d2dd3c37bb6f",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-04-20T14:35:38.328865+00:00", "modification_date": "2021-04-20T14:35:38.328865+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers
    method: GET
  response:
    body: '{"servers": {"C1": {"alt_names": [], "arch": "arm", "ncpus": 4, "ram":
      2147483648, "gpu": null, "volumes_constraint": {"min_size": 50000000000, "max_size":
      1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": true, "monthly_price": 4.32, "hourly_price":
      0.006, "capabilities": {"boot_types": ["bootscript", "rescue"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": false, "placement_groups": false,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": false,
      "sum_internal_bandwidth": 1073741824, "sum_internet_bandwidth": 209715200, "interfaces":
      [{"internal_bandwidth": 1073741824, "internet_bandwidth": 209715200}]}}, "DEV1-L":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 8589934592, "gpu": null,
      "volumes_constraint": {"min_size": 80000000000, "max_size": 80000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 28.8, "hourly_price": 0.04, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 419430400, "sum_internet_bandwidth":
      419430400, "interfaces": [{"internal_bandwidth": 419430400, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "DEV1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 3, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 40000000000, "max_size": 40000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 314572800, "sum_internet_bandwidth":
      314572800, "interfaces": [{"internal_bandwidth": 314572800, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 314572800}]}}, "DEV1-S":
      {"alt_names": [], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null,
      "volumes_constraint": {"min_size": 20000000000, "max_size": 20000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}}, "baremetal":
      false, "monthly_price": 7.2, "hourly_price": 0.01, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "local", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": true, "private_network": 8},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": 209715200, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": 209715200, "internet_bandwidth":
      null}, {"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "DEV1-XL":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 12884901888, "gpu": null,
      "volumes_constraint": {"min_size": 120000000000, "max_size": 120000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 800000000000}},
      "baremetal": false, "monthly_price": 43.2, "hourly_price": 0.06, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "local",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      524288000}]}}, "GP1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 32, "ram":
      137438953472, "gpu": null, "volumes_constraint": {"min_size": 600000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 475.2, "hourly_price":
      0.66, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      5368709120, "sum_internet_bandwidth": 5368709120, "interfaces": [{"internal_bandwidth":
      5368709120, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      5368709120}]}}, "GP1-M": {"alt_names": [], "arch": "x86_64", "ncpus": 16, "ram":
      68719476736, "gpu": null, "volumes_constraint": {"min_size": 600000000000, "max_size":
      600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 244.8, "hourly_price":
      0.34, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1610612736, "sum_internet_bandwidth": 1610612736, "interfaces": [{"internal_bandwidth":
      1610612736, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1610612736}]}}, "GP1-S": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 122.4, "hourly_price":
      0.17, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      838860800, "sum_internet_bandwidth": 838860800, "interfaces": [{"internal_bandwidth":
      838860800, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      838860800}]}}, "GP1-VIZ": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      34359738368, "gpu": null, "volumes_constraint": {"min_size": 300000000000, "max_size":
      300000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1,
      "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      524288000}]}}, "GP1-XL": {"alt_names": [], "arch": "x86_64", "ncpus": 48, "ram":
      274877906944, "gpu": null, "volumes_constraint": {"min_size": 600000000000,
      "max_size": 600000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1008.0, "hourly_price":
      1.4, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      10737418240, "sum_internet_bandwidth": 10737418240, "interfaces": [{"internal_bandwidth":
      10737418240, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      10737418240}]}}, "GP1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram":
      17179869184, "gpu": null, "volumes_constraint": {"min_size": 150000000000, "max_size":
      150000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      800000000000}}, "baremetal": false, "monthly_price": 60.48, "hourly_price":
      0.084, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      524288000, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      524288000, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      524288000}]}}, "RENDER-S": {"alt_names": [], "arch": "x86_64", "ncpus": 10,
      "ram": 48318382080, "gpu": 1, "volumes_constraint": {"min_size": 400000000000,
      "max_size": 400000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 720.0, "hourly_price":
      1.0, "capabilities": {"boot_types": ["local", "rescue"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      1073741824, "sum_internet_bandwidth": 1073741824, "interfaces": [{"internal_bandwidth":
      1073741824, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      1073741824}]}}, "STARDUST1-S": {"alt_names": [], "arch": "x86_64", "ncpus":
      1, "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 10000000000,
      "max_size": 10000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 800000000000}}, "baremetal": false, "monthly_price": 1.8, "hourly_price":
      0.0025, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "local", "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      true, "private_network": 8}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      104857600, "sum_internet_bandwidth": 104857600, "interfaces": [{"internal_bandwidth":
      104857600, "internet_bandwidth": null}, {"internal_bandwidth": null, "internet_bandwidth":
      104857600}]}}, "START1-L": {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram":
      8589934592, "gpu": null, "volumes_constraint": {"min_size": 200000000000, "max_size":
      200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size":
      200000000000}}, "baremetal": false, "monthly_price": 23.04, "hourly_price":
      0.032, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 419430400, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 419430400}]}}, "START1-M":
      {"alt_names": [], "arch": "x86_64", "ncpus": 4, "ram": 4294967296, "gpu": null,
      "volumes_constraint": {"min_size": 100000000000, "max_size": 100000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 11.52, "hourly_price": 0.016, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 314572800, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 314572800}]}}, "START1-S": {"alt_names": [], "arch":
      "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint":
      {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 5.76, "hourly_price": 0.008, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      209715200}]}}, "START1-XS": {"alt_names": [], "arch": "x86_64", "ncpus": 1,
      "ram": 1073741824, "gpu": null, "volumes_constraint": {"min_size": 25000000000,
      "max_size": 25000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 2.88, "hourly_price":
      0.004, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 104857600, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 104857600}]}}, "VC1L": {"alt_names":
      ["X64-8GB"], "arch": "x86_64", "ncpus": 6, "ram": 8589934592, "gpu": null, "volumes_constraint":
      {"min_size": 200000000000, "max_size": 200000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 14.4, "hourly_price": 0.02, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      209715200}]}}, "VC1M": {"alt_names": ["X64-4GB"], "arch": "x86_64", "ncpus":
      4, "ram": 4294967296, "gpu": null, "volumes_constraint": {"min_size": 100000000000,
      "max_size": 100000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 8.64, "hourly_price":
      0.012, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 209715200, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 209715200}]}}, "VC1S": {"alt_names":
      ["X64-2GB"], "arch": "x86_64", "ncpus": 2, "ram": 2147483648, "gpu": null, "volumes_constraint":
      {"min_size": 50000000000, "max_size": 50000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 4.32, "hourly_price": 0.006, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      209715200, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      209715200}]}}, "X64-120GB": {"alt_names": [], "arch": "x86_64", "ncpus": 12,
      "ram": 128849018880, "gpu": null, "volumes_constraint": {"min_size": 500000000000,
      "max_size": 1000000000000}, "per_volume_constraint": {"l_ssd": {"min_size":
      1000000000, "max_size": 200000000000}}, "baremetal": false, "monthly_price":
      259.2, "hourly_price": 0.36, "capabilities": {"boot_types": ["bootscript", "rescue",
      "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume": true,
      "placement_groups": true, "block_storage": false, "private_network": 0}, "network":
      {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      1073741824}]}}, "X64-15GB": {"alt_names": [], "arch": "x86_64", "ncpus": 6,
      "ram": 16106127360, "gpu": null, "volumes_constraint": {"min_size": 200000000000,
      "max_size": 200000000000}, "per_volume_constraint": {"l_ssd": {"min_size": 1000000000,
      "max_size": 200000000000}}, "baremetal": false, "monthly_price": 36.0, "hourly_price":
      0.05, "capabilities": {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type":
      "bootscript", "hot_snapshots_local_volume": true, "placement_groups": true,
      "block_storage": false, "private_network": 0}, "network": {"ipv6_support": true,
      "sum_internal_bandwidth": null, "sum_internet_bandwidth": 262144000, "interfaces":
      [{"internal_bandwidth": null, "internet_bandwidth": 262144000}]}}, "X64-30GB":
      {"alt_names": [], "arch": "x86_64", "ncpus": 8, "ram": 32212254720, "gpu": null,
      "volumes_constraint": {"min_size": 300000000000, "max_size": 400000000000},
      "per_volume_constraint": {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}},
      "baremetal": false, "monthly_price": 72.0, "hourly_price": 0.1, "capabilities":
      {"boot_types": ["bootscript", "rescue", "local"], "default_boot_type": "bootscript",
      "hot_snapshots_local_volume": true, "placement_groups": true, "block_storage":
      false, "private_network": 0}, "network": {"ipv6_support": true, "sum_internal_bandwidth":
      null, "sum_internet_bandwidth": 524288000, "interfaces": [{"internal_bandwidth":
      null, "internet_bandwidth": 524288000}]}}, "X64-60GB": {"alt_names": [], "arch":
      "x86_64", "ncpus": 10, "ram": 64424509440, "gpu": null, "volumes_constraint":
      {"min_size": 400000000000, "max_size": 700000000000}, "per_volume_constraint":
      {"l_ssd": {"min_size": 1000000000, "max_size": 200000000000}}, "baremetal":
      false, "monthly_price": 129.6, "hourly_price": 0.18, "capabilities": {"boot_types":
      ["bootscript", "rescue", "local"], "default_boot_type": "bootscript", "hot_snapshots_local_volume":
      true, "placement_groups": true, "block_storage": false, "private_network": 0},
      "network": {"ipv6_support": true, "sum_internal_bandwidth": null, "sum_internet_bandwidth":
      1073741824, "interfaces": [{"internal_bandwidth": null, "internet_bandwidth":
      1073741824}]}}}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </products/servers?page=1&per_page=50&>; rel="last"
      X-Total-Count:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-srv-objective-galois","dynamic_ip_required":false,"commercial_type":"DEV1-S","image":"ff48b73a-097d-4685-b996-d3ebe50636ea","volumes":{"0":{"size":20000000000}},"boot_type":"local","project":"9af7216e-7b97-404d-8ada-9f379eb39ae5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "94780699-e1c9-4af8-acce-0aecef16d0fc", "name": "tf-srv-objective-galois",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "9af7216e-7b97-404d-8ada-9f379eb39ae5", "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "hostname": "tf-srv-objective-galois", "image": {"id": "ff48b73a-097d-4685-b996-d3ebe50636ea",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "c4cd9fbf-5345-4ab8-8b22-d2dd3c37bb6f",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2021-04-20T14:35:38.328865+00:00", "modification_date": "2021-04-20T14:35:38.328865+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "77496a7c-91c9-44dc-a296-4b26fe884568",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "server": {"id": "94780699-e1c9-4af8-acce-0aecef16d0fc", "name": "tf-srv-objective-galois"},
      "size": 20000000000, "state": "available", "creation_date": "2021-05-11T15:28:34.086536+00:00",
      "modification_date": "2021-05-11T15:28:34.086536+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip":
      null, "ipv6": null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6":
      false, "private_ip": null, "creation_date": "2021-05-11T15:28:34.086536+00:00",
      "modification_date": "2021-05-11T15:28:34.086536+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "https://s3.fr-par.scw.cloud/scw-par1-bootscripts/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "https://s3.fr-par.scw.cloud/scw-par1-bootscripts/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "cb0c8f61-7475-49f9-8441-9be6a324d836",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/servers/94780699-e1c9-4af8-acce-0aecef16d0fc
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/94780699-e1c9-4af8-acce-0aecef16d0fc/user_data
    method: GET
  response:
    body: '{"user_data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      #cloud-config
      apt_update: true
      apt_upgrade: true
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/94780699-e1c9-4af8-acce-0aecef16d0fc/user_data/cloud-init
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: bar
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/94780699-e1c9-4af8-acce-0aecef16d0fc/user_data/foo
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/94780699-e1c9-4af8-acce-0aecef16d0fc
    method: GET
  response:
    body: '{"server": {"id": "94780699-e1c9-4af8-acce-0aecef16d0fc", "name": "tf-srv-objective-galois",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "9af7216e-7b97-404d-8ada-9f379eb39ae5", "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "hostname": "tf-sr[...]
- request:
    body: '{"action":"poweron"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/94780699-e1c9-4af8-acce-0aecef16d0fc/action
    method: POST
  response:
    body: '{"task": {"id": "a8f4a87b-90d1-4b27-b6ca-3830be58c216", "description":
      "server_batch_poweron", "status": "pending", "href_from": "/servers/94780699-e1c9-4af8-acce-0aecef16d0fc/action",
      "href_result": "/servers/94780699-e1c9-4af8-acce-0aecef16d0fc", "started_at":
      "2021-05-11T15:28:34.936883+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/a8f4a87b-90d1-4b27-b6ca-3830be58c216
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/77496a7c-91c9-44dc-a296-4b26fe884568
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/94780699-e1c9-4af8-acce-0aecef16d0fc
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"94780699-e1c9-4af8-acce-0aecef16d0fc\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
