---
version: 1
interactions:
- request:
    body: '{"name":"tf-sg-gallant-curie","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["foo","bar"],"stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"accept","enable_default_security":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "3749289c-a90e-40a7-a92f-183da447b114", "creation_date":
      "2022-09-01T09:55:40.494639+00:00", "modification_date": "2022-09-01T09:55:40.494639+00:00",
      "name": "tf-sg-gallant-curie", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": ["foo", "bar"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3749289c-a90e-40a7-a92f-183da447b114
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3749289c-a90e-40a7-a92f-183da447b114
    method: GET
  response:
    body: '{"security_group": {"id": "3749289c-a90e-40a7-a92f-183da447b114", "creation_date":
      "2022-09-01T09:55:40.494639+00:00", "modification_date": "2022-09-01T09:55:40.494639+00:00",
      "name": "tf-sg-gallant-curie", "description": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": ["foo", "bar"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/3749289c-a90e-40a7-a92f-183da447b114
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Security group \"3749289c-a90e-40a7-a92f-183da447b114\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
