---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-keen-noyce","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "3aa7b17f-bb3e-487a-9d67-57e785671639", "name": "tf-vol-keen-noyce",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-15T12:55:22.624626+00:00", "modification_date":
      "2022-07-15T12:55:22.624626+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/3aa7b17f-bb3e-487a-9d67-57e785671639
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/3aa7b17f-bb3e-487a-9d67-57e785671639
    method: GET
  response:
    body: '{"volume": {"id": "3aa7b17f-bb3e-487a-9d67-57e785671639", "name": "tf-vol-keen-noyce",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-15T12:55:22.624626+00:00", "modification_date":
      "2022-07-15T12:55:22.624626+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-magical-lederberg","volume_id":"3aa7b17f-bb3e-487a-9d67-57e785671639","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "7c03df82-e5e7-4da1-a66d-00e6b24b74d0", "name": "tf-snap-magical-lederberg",
      "volume_type": "b_ssd", "creation_date": "2022-07-15T12:55:23.209924+00:00",
      "modification_date": "2022-07-15T12:55:23.209924+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3aa7b17f-bb3e-487a-9d67-57e785671639",
      "name": "tf-vol-keen-noyce"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}, "task": {"id": "ca1db699-eafa-4a67-836c-683f6be90823", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/7c03df82-e5e7-4da1-a66d-00e6b24b74d0", "started_at":
      "2022-07-15T12:55:23.379018+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/7c03df82-e5e7-4da1-a66d-00e6b24b74d0
    method: GET
  response:
    body: '{"snapshot": {"id": "7c03df82-e5e7-4da1-a66d-00e6b24b74d0", "name": "tf-snap-magical-lederberg",
      "volume_type": "b_ssd", "creation_date": "2022-07-15T12:55:23.209924+00:00",
      "modification_date": "2022-07-15T12:55:23.209924+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3aa7b17f-bb3e-487a-9d67-57e785671639",
      "name": "tf-vol-keen-noyce"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"7c03df82-e5e7-4da1-a66d-00e6b24b74d0","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["tag1","tag2","tag3"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image": {"id": "c06c86dc-21ce-4b2c-a452-276e7e4cb18d", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "7c03df82-e5e7-4da1-a66d-00e6b24b74d0", "name": "tf-snap-magical-lederberg",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "x86_64", "creation_date": "2022-07-15T12:55:28.919599+00:00",
      "modification_date": "2022-07-15T12:55:28.919599+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": ["tag1", "tag2", "tag3"],
      "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/c06c86dc-21ce-4b2c-a452-276e7e4cb18d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/c06c86dc-21ce-4b2c-a452-276e7e4cb18d
    method: GET
  response:
    body: '{"image": {"id": "c06c86dc-21ce-4b2c-a452-276e7e4cb18d", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "7c03df82-e5e7-4da1-a66d-00e6b24b74d0", "name": "tf-snap-magical-lederberg",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "x86_64", "creation_date": "2022-07-15T12:55:28.919599+00:00",
      "modification_date": "2022-07-15T12:55:28.919599+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": ["tag1", "tag2", "tag3"],
      "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/c06c86dc-21ce-4b2c-a452-276e7e4cb18d
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"c06c86dc-21ce-4b2c-a452-276e7e4cb18d\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
