---
version: 1
interactions:
- request:
    body: '{"name":"tf-pg-stupefied-dirac","project":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "52a45129-6a6e-4a43-ac62-d1f180e5d9de", "name":
      "tf-pg-stupefied-dirac", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/52a45129-6a6e-4a43-ac62-d1f180e5d9de
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/52a45129-6a6e-4a43-ac62-d1f180e5d9de
    method: GET
  response:
    body: '{"placement_group": {"id": "52a45129-6a6e-4a43-ac62-d1f180e5d9de", "name":
      "tf-pg-stupefied-dirac", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
