---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-serene-blackwell","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "2e8249b5-6af4-4d4e-991d-b0b34f4cbaf1", "name": "tf-vol-serene-blackwell",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-22T21:44:56.921156+00:00", "modification_date":
      "2022-06-22T21:44:56.921156+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2e8249b5-6af4-4d4e-991d-b0b34f4cbaf1
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2e8249b5-6af4-4d4e-991d-b0b34f4cbaf1
    method: GET
  response:
    body: '{"volume": {"id": "2e8249b5-6af4-4d4e-991d-b0b34f4cbaf1", "name": "tf-vol-serene-blackwell",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-22T21:44:56.921156+00:00", "modification_date":
      "2022-06-22T21:44:56.921156+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-vigilant-blackburn","volume_id":"2e8249b5-6af4-4d4e-991d-b0b34f4cbaf1","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "8731cd69-454a-4033-9854-11e14d57b366", "name": "tf-snap-vigilant-blackburn",
      "volume_type": "b_ssd", "creation_date": "2022-06-22T21:44:57.299638+00:00",
      "modification_date": "2022-06-22T21:44:57.299638+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "2e8249b5-6af4-4d4e-991d-b0b34f4cbaf1",
      "name": "tf-vol-serene-blackwell"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "b17348b6-2b94-4fb1-a886-31e534d918cc", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/8731cd69-454a-4033-9854-11e14d57b366", "started_at":
      "2022-06-22T21:44:57.474676+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/8731cd69-454a-4033-9854-11e14d57b366
    method: GET
  response:
    body: '{"snapshot": {"id": "8731cd69-454a-4033-9854-11e14d57b366", "name": "tf-snap-vigilant-blackburn",
      "volume_type": "b_ssd", "creation_date": "2022-06-22T21:44:57.299638+00:00",
      "modification_date": "2022-06-22T21:44:57.299638+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "2e8249b5-6af4-4d4e-991d-b0b34f4cbaf1",
      "name": "tf-vol-serene-blackwell"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-image-condescending-cori","root_volume":"8731cd69-454a-4033-9854-11e14d57b366","arch":"x86_64","extra_volumes":{"0":{"id":"4f3acd19-f0d0-4126-a7b3-ebb2b8ddd7ce"},"1":{"id":"95f34570-f62c-44d8-9c56-c67fe075c190"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: '{"type": "invalid_request_error", "message": "Validation Error", "fields":
      {"extra_volumes.0": ["extra keys not allowed"]}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
