---
version: 1
interactions:
- request:
    body: '{"name":"tf-pg-stupefied-neumann","project":"a57bd23d-c866-49eb-a6ac-438f85c22957","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "36a3d9f8-c226-4fe0-9991-adb047523e80", "name":
      "tf-pg-stupefied-neumann", "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/placement_groups/36a3d9f8-c226-4fe0-9991-adb047523e80
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/36a3d9f8-c226-4fe0-9991-adb047523e80
    method: GET
  response:
    body: '{"placement_group": {"id": "36a3d9f8-c226-4fe0-9991-adb047523e80", "name":
      "tf-pg-stupefied-neumann", "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/36a3d9f8-c226-4fe0-9991-adb047523e80
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"36a3d9f8-c226-4fe0-9991-adb047523e80\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
