---
version: 1
interactions:
- request:
    body: '{"name":"tf-pg-optimistic-galois","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "4ac1f065-066b-4206-9926-64cc18d93968", "name":
      "tf-pg-optimistic-galois", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/4ac1f065-066b-4206-9926-64cc18d93968
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/4ac1f065-066b-4206-9926-64cc18d93968
    method: GET
  response:
    body: '{"placement_group": {"id": "4ac1f065-066b-4206-9926-64cc18d93968", "name":
      "tf-pg-optimistic-galois", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
