---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-focused-boyd","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "82f87af4-8f03-4669-a6ec-de71c34bb4e7", "name": "tf-vol-focused-boyd",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-03-08T10:42:58.831024+00:00", "modification_date":
      "2022-03-08T10:42:58.831024+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/82f87af4-8f03-4669-a6ec-de71c34bb4e7
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/82f87af4-8f03-4669-a6ec-de71c34bb4e7
    method: GET
  response:
    body: '{"volume": {"id": "82f87af4-8f03-4669-a6ec-de71c34bb4e7", "name": "tf-vol-focused-boyd",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-03-08T10:42:58.831024+00:00", "modification_date":
      "2022-03-08T10:42:58.831024+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/82f87af4-8f03-4669-a6ec-de71c34bb4e7
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''82f87af4-8f03-4669-a6ec-de71c34bb4e7''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
