---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-sleepy-booth","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "709cb425-5ed2-4988-b21d-85ec56e2bf9a", "name": "tf-vol-sleepy-booth",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-17T15:51:16.924472+00:00", "modification_date":
      "2022-06-17T15:51:16.924472+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/709cb425-5ed2-4988-b21d-85ec56e2bf9a
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/709cb425-5ed2-4988-b21d-85ec56e2bf9a
    method: GET
  response:
    body: '{"volume": {"id": "709cb425-5ed2-4988-b21d-85ec56e2bf9a", "name": "tf-vol-sleepy-booth",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-17T15:51:16.924472+00:00", "modification_date":
      "2022-06-17T15:51:16.924472+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-kind-curran","volume_id":"709cb425-5ed2-4988-b21d-85ec56e2bf9a","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "e22bc0a6-1fc2-4091-bfe3-efadbc1f109e", "name": "tf-snap-kind-curran",
      "volume_type": "b_ssd", "creation_date": "2022-06-17T15:51:17.406444+00:00",
      "modification_date": "2022-06-17T15:51:17.406444+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "709cb425-5ed2-4988-b21d-85ec56e2bf9a",
      "name": "tf-vol-sleepy-booth"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}, "task": {"id": "265e34b0-9f31-487c-9034-06e7eca3d02d", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/e22bc0a6-1fc2-4091-bfe3-efadbc1f109e", "started_at":
      "2022-06-17T15:51:17.623774+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/e22bc0a6-1fc2-4091-bfe3-efadbc1f109e
    method: GET
  response:
    body: '{"snapshot": {"id": "e22bc0a6-1fc2-4091-bfe3-efadbc1f109e", "name": "tf-snap-kind-curran",
      "volume_type": "b_ssd", "creation_date": "2022-06-17T15:51:17.406444+00:00",
      "modification_date": "2022-06-17T15:51:17.406444+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "709cb425-5ed2-4988-b21d-85ec56e2bf9a",
      "name": "tf-vol-sleepy-booth"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"e22bc0a6-1fc2-4091-bfe3-efadbc1f109e","arch":"arm","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["tag1","tag2","tag3"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image": {"id": "f3a1ebe9-a799-44fe-8558-cf3d0fc6d437", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "e22bc0a6-1fc2-4091-bfe3-efadbc1f109e", "name": "tf-snap-kind-curran",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "arm", "creation_date": "2022-06-17T15:51:23.287910+00:00", "modification_date":
      "2022-06-17T15:51:23.287910+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/f3a1ebe9-a799-44fe-8558-cf3d0fc6d437
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/f3a1ebe9-a799-44fe-8558-cf3d0fc6d437
    method: GET
  response:
    body: '{"image": {"id": "f3a1ebe9-a799-44fe-8558-cf3d0fc6d437", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "e22bc0a6-1fc2-4091-bfe3-efadbc1f109e", "name": "tf-snap-kind-curran",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "arm", "creation_date": "2022-06-17T15:51:23.287910+00:00", "modification_date":
      "2022-06-17T15:51:23.287910+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/f3a1ebe9-a799-44fe-8558-cf3d0fc6d437
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"f3a1ebe9-a799-44fe-8558-cf3d0fc6d437\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
