---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-confident-swanson","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "0862a04f-380d-4bfa-b447-e3339fc90772", "name": "tf-vol-confident-swanson",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-03-11T10:58:47.171702+00:00", "modification_date":
      "2022-03-11T10:58:47.171702+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/0862a04f-380d-4bfa-b447-e3339fc90772
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/0862a04f-380d-4bfa-b447-e3339fc90772
    method: GET
  response:
    body: '{"volume": {"id": "0862a04f-380d-4bfa-b447-e3339fc90772", "name": "tf-vol-confident-swanson",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-03-11T10:58:47.171702+00:00", "modification_date":
      "2022-03-11T10:58:47.171702+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"first_name","volume_id":"0862a04f-380d-4bfa-b447-e3339fc90772","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "86a850d9-e472-4aff-80c2-ce09caef5fb0", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-03-11T10:58:47.575818+00:00",
      "modification_date": "2022-03-11T10:58:47.575818+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "0862a04f-380d-4bfa-b447-e3339fc90772",
      "name": "tf-vol-confident-swanson"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/86a850d9-e472-4aff-80c2-ce09caef5fb0
    method: GET
  response:
    body: '{"snapshot": {"id": "86a850d9-e472-4aff-80c2-ce09caef5fb0", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-03-11T10:58:47.575818+00:00",
      "modification_date": "2022-03-11T10:58:47.575818+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "0862a04f-380d-4bfa-b447-e3339fc90772",
      "name": "tf-vol-confident-swanson"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/0862a04f-380d-4bfa-b447-e3339fc90772
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''0862a04f-380d-4bfa-b447-e3339fc90772''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
