---
version: 1
interactions:
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"routed_ipv6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips
    method: POST
  response:
    body: '{"ip":{"address":null,"id":"73d1232c-d785-4206-97e2-a5763c059fdf","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":"2001:bc8:a10:10::/64","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-3"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/73d1232c-d785-4206-97e2-a5763c059fdf
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/73d1232c-d785-4206-97e2-a5763c059fdf
    method: GET
  response:
    body: '{"ip":{"address":null,"id":"73d1232c-d785-4206-97e2-a5763c059fdf","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":"2001:bc8:a10:10::/64","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv6","zone":"fr-par-3"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/73d1232c-d785-4206-97e2-a5763c059fdf
    method: GET
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
