---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-stupefied-chandrasekhar","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "449b83a0-337c-4648-8394-018444d5b056", "name": "tf-vol-stupefied-chandrasekhar",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-11T15:50:39.977296+00:00", "modification_date":
      "2022-04-11T15:50:39.977296+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/449b83a0-337c-4648-8394-018444d5b056
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/449b83a0-337c-4648-8394-018444d5b056
    method: GET
  response:
    body: '{"volume": {"id": "449b83a0-337c-4648-8394-018444d5b056", "name": "tf-vol-stupefied-chandrasekhar",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-11T15:50:39.977296+00:00", "modification_date":
      "2022-04-11T15:50:39.977296+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-happy-yalow","volume_id":"449b83a0-337c-4648-8394-018444d5b056","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "916d396b-9c3b-404d-abbb-b30a539eccea", "name": "tf-snap-happy-yalow",
      "volume_type": "b_ssd", "creation_date": "2022-04-11T15:50:41.044744+00:00",
      "modification_date": "2022-04-11T15:50:41.044744+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "449b83a0-337c-4648-8394-018444d5b056",
      "name": "tf-vol-stupefied-chandrasekhar"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/916d396b-9c3b-404d-abbb-b30a539eccea
    method: GET
  response:
    body: '{"snapshot": {"id": "916d396b-9c3b-404d-abbb-b30a539eccea", "name": "tf-snap-happy-yalow",
      "volume_type": "b_ssd", "creation_date": "2022-04-11T15:50:41.044744+00:00",
      "modification_date": "2022-04-11T15:50:41.044744+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "449b83a0-337c-4648-8394-018444d5b056",
      "name": "tf-vol-stupefied-chandrasekhar"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/449b83a0-337c-4648-8394-018444d5b056
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''449b83a0-337c-4648-8394-018444d5b056''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
