---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-dazzling-lichterman","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "f49bde55-3e2f-4cbf-a904-638c62c53fe1", "name": "tf-vol-dazzling-lichterman",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-22T20:19:56.999425+00:00", "modification_date":
      "2022-06-22T20:19:56.999425+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/f49bde55-3e2f-4cbf-a904-638c62c53fe1
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/f49bde55-3e2f-4cbf-a904-638c62c53fe1
    method: GET
  response:
    body: '{"volume": {"id": "f49bde55-3e2f-4cbf-a904-638c62c53fe1", "name": "tf-vol-dazzling-lichterman",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-22T20:19:56.999425+00:00", "modification_date":
      "2022-06-22T20:19:56.999425+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-lucid-mendel","volume_id":"f49bde55-3e2f-4cbf-a904-638c62c53fe1","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "8d279c7e-659c-48f4-885e-0afc8a395a52", "name": "tf-snap-lucid-mendel",
      "volume_type": "b_ssd", "creation_date": "2022-06-22T20:19:57.525032+00:00",
      "modification_date": "2022-06-22T20:19:57.525032+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "f49bde55-3e2f-4cbf-a904-638c62c53fe1",
      "name": "tf-vol-dazzling-lichterman"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}, "task": {"id": "84b38f0d-87fd-4ce3-b36b-6a6e221bfb49", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/8d279c7e-659c-48f4-885e-0afc8a395a52", "started_at":
      "2022-06-22T20:19:57.707594+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/8d279c7e-659c-48f4-885e-0afc8a395a52
    method: GET
  response:
    body: '{"snapshot": {"id": "8d279c7e-659c-48f4-885e-0afc8a395a52", "name": "tf-snap-lucid-mendel",
      "volume_type": "b_ssd", "creation_date": "2022-06-22T20:19:57.525032+00:00",
      "modification_date": "2022-06-22T20:19:57.525032+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "f49bde55-3e2f-4cbf-a904-638c62c53fe1",
      "name": "tf-vol-dazzling-lichterman"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"8d279c7e-659c-48f4-885e-0afc8a395a52","arch":"arm","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["tag1","tag2","tag3"],"public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image": {"id": "8fe424c5-b69e-4006-b117-9bb740e519b6", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "8d279c7e-659c-48f4-885e-0afc8a395a52", "name": "tf-snap-lucid-mendel",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-06-22T20:20:03.479556+00:00", "modification_date":
      "2022-06-22T20:20:03.479556+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/8fe424c5-b69e-4006-b117-9bb740e519b6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/8fe424c5-b69e-4006-b117-9bb740e519b6
    method: GET
  response:
    body: '{"image": {"id": "8fe424c5-b69e-4006-b117-9bb740e519b6", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "8d279c7e-659c-48f4-885e-0afc8a395a52", "name": "tf-snap-lucid-mendel",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-06-22T20:20:03.479556+00:00", "modification_date":
      "2022-06-22T20:20:03.479556+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/8fe424c5-b69e-4006-b117-9bb740e519b6
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"8fe424c5-b69e-4006-b117-9bb740e519b6\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
