---
version: 1
interactions:
- request:
    body: '{"project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "ef8d8d5d-9b4c-4b31-a3d1-4b9d0cf099d9", "address": "51.158.77.170",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/ips/ef8d8d5d-9b4c-4b31-a3d1-4b9d0cf099d9
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/ef8d8d5d-9b4c-4b31-a3d1-4b9d0cf099d9
    method: GET
  response:
    body: '{"ip": {"id": "ef8d8d5d-9b4c-4b31-a3d1-4b9d0cf099d9", "address": "51.158.77.170",
      "reverse": null, "server": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
