---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-youthful-lederberg","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:11.499647+00:00","export_uri":null,"id":"9f2154af-0397-4ad4-a926-4991e1492e3b","modification_date":"2023-08-28T14:31:11.499647+00:00","name":"tf-vol-youthful-lederberg","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9f2154af-0397-4ad4-a926-4991e1492e3b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9f2154af-0397-4ad4-a926-4991e1492e3b
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:11.499647+00:00","export_uri":null,"id":"9f2154af-0397-4ad4-a926-4991e1492e3b","modification_date":"2023-08-28T14:31:11.499647+00:00","name":"tf-vol-youthful-lederberg","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"9f2154af-0397-4ad4-a926-4991e1492e3b","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"9f2154af-0397-4ad4-a926-4991e1492e3b","name":"tf-vol-youthful-lederberg"},"creation_date":"2023-08-28T14:31:11.730064+00:00","error_details":null,"id":"8557590c-ea8a-4c27-b0e5-4cebd2c848fa","modification_date":"2023-08-28T14:31:11.730064+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_8557590c-ea8a-4c27-b0e5-4cebd2c848fa","href_from":"/snapshots","href_result":"snapshots/8557590c-ea8a-4c27-b0e5-4cebd2c848fa","id":"3429dae5-7c80-4a8c-a561-4966e58a122f","started_at":"2023-08-28T14:31:12.108440+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/8557590c-ea8a-4c27-b0e5-4cebd2c848fa
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"9f2154af-0397-4ad4-a926-4991e1492e3b","name":"tf-vol-youthful-lederberg"},"creation_date":"2023-08-28T14:31:11.730064+00:00","error_details":null,"id":"8557590c-ea8a-4c27-b0e5-4cebd2c848fa","modification_date":"2023-08-28T14:31:11.730064+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/8557590c-ea8a-4c27-b0e5-4cebd2c848fa
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"8557590c-ea8a-4c27-b0e5-4cebd2c848fa","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
