---
version: 1
interactions:
- request:
    body: '{"name":"tf-pg-intelligent-morse","project":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"enforced","policy_type":"low_latency"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "06fb5297-aaf1-42ce-bb1f-2b9dd2cd2526", "name":
      "tf-pg-intelligent-morse", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "enforced",
      "policy_type": "low_latency", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/placement_groups/06fb5297-aaf1-42ce-bb1f-2b9dd2cd2526
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/06fb5297-aaf1-42ce-bb1f-2b9dd2cd2526
    method: GET
  response:
    body: '{"placement_group": {"id": "06fb5297-aaf1-42ce-bb1f-2b9dd2cd2526", "name":
      "tf-pg-intelligent-morse", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "enforced",
      "policy_type": "low_latency", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
