---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-recursing-einstein","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "cec8c0bf-67ef-480f-9f8c-b1294dee6ec9", "name": "tf-vol-recursing-einstein",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-06T01:10:21.242031+00:00", "modification_date":
      "2022-07-06T01:10:21.242031+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/cec8c0bf-67ef-480f-9f8c-b1294dee6ec9
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/cec8c0bf-67ef-480f-9f8c-b1294dee6ec9
    method: GET
  response:
    body: '{"volume": {"id": "cec8c0bf-67ef-480f-9f8c-b1294dee6ec9", "name": "tf-vol-recursing-einstein",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-06T01:10:21.242031+00:00", "modification_date":
      "2022-07-06T01:10:21.242031+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-sweet-curran","volume_id":"cec8c0bf-67ef-480f-9f8c-b1294dee6ec9","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "bc32ecbd-a7f3-4ced-8677-2220fc982683", "name": "tf-snap-sweet-curran",
      "volume_type": "b_ssd", "creation_date": "2022-07-06T01:10:21.755825+00:00",
      "modification_date": "2022-07-06T01:10:21.755825+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "cec8c0bf-67ef-480f-9f8c-b1294dee6ec9",
      "name": "tf-vol-recursing-einstein"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}, "task": {"id": "48ab5105-c3c2-4a0d-a1b0-b070979642e6", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/bc32ecbd-a7f3-4ced-8677-2220fc982683", "started_at":
      "2022-07-06T01:10:21.992468+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/bc32ecbd-a7f3-4ced-8677-2220fc982683
    method: GET
  response:
    body: '{"snapshot": {"id": "bc32ecbd-a7f3-4ced-8677-2220fc982683", "name": "tf-snap-sweet-curran",
      "volume_type": "b_ssd", "creation_date": "2022-07-06T01:10:21.755825+00:00",
      "modification_date": "2022-07-06T01:10:21.755825+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "cec8c0bf-67ef-480f-9f8c-b1294dee6ec9",
      "name": "tf-vol-recursing-einstein"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"bc32ecbd-a7f3-4ced-8677-2220fc982683","arch":"arm","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["tag1","tag2","tag3"],"public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image": {"id": "61d0fdfd-1eb4-41ea-82cb-9453c1ff9018", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "bc32ecbd-a7f3-4ced-8677-2220fc982683", "name": "tf-snap-sweet-curran",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-07-06T01:10:27.748187+00:00", "modification_date":
      "2022-07-06T01:10:27.748187+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/61d0fdfd-1eb4-41ea-82cb-9453c1ff9018
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/61d0fdfd-1eb4-41ea-82cb-9453c1ff9018
    method: GET
  response:
    body: '{"image": {"id": "61d0fdfd-1eb4-41ea-82cb-9453c1ff9018", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "bc32ecbd-a7f3-4ced-8677-2220fc982683", "name": "tf-snap-sweet-curran",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-07-06T01:10:27.748187+00:00", "modification_date":
      "2022-07-06T01:10:27.748187+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/61d0fdfd-1eb4-41ea-82cb-9453c1ff9018
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"61d0fdfd-1eb4-41ea-82cb-9453c1ff9018\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
