---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-distracted-chebyshev","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "4d823778-cadd-4f70-9480-e63152b55390", "name": "tf-vol-distracted-chebyshev",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:49:48.265603+00:00", "modification_date":
      "2021-12-07T10:49:48.265603+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4d823778-cadd-4f70-9480-e63152b55390
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4d823778-cadd-4f70-9480-e63152b55390
    method: GET
  response:
    body: '{"volume": {"id": "4d823778-cadd-4f70-9480-e63152b55390", "name": "tf-vol-distracted-chebyshev",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-07T10:49:48.265603+00:00", "modification_date":
      "2021-12-07T10:49:48.265603+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"first_name","volume_id":"4d823778-cadd-4f70-9480-e63152b55390","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "fe184f0c-8a35-4842-9c09-66a7909f1536", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2021-12-07T10:49:48.939766+00:00",
      "modification_date": "2021-12-07T10:49:48.939766+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "4d823778-cadd-4f70-9480-e63152b55390",
      "name": "tf-vol-distracted-chebyshev"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/fe184f0c-8a35-4842-9c09-66a7909f1536
    method: GET
  response:
    body: '{"snapshot": {"id": "fe184f0c-8a35-4842-9c09-66a7909f1536", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2021-12-07T10:49:48.939766+00:00",
      "modification_date": "2021-12-07T10:49:48.939766+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "4d823778-cadd-4f70-9480-e63152b55390",
      "name": "tf-vol-distracted-chebyshev"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4d823778-cadd-4f70-9480-e63152b55390
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''4d823778-cadd-4f70-9480-e63152b55390''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
