---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-unruffled-pare","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.866880+00:00","export_uri":null,"id":"d752926e-9efd-4d63-9a93-e557b8f783cd","modification_date":"2023-10-31T14:31:00.866880+00:00","name":"tf-vol-unruffled-pare","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d752926e-9efd-4d63-9a93-e557b8f783cd
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d752926e-9efd-4d63-9a93-e557b8f783cd
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.866880+00:00","export_uri":null,"id":"d752926e-9efd-4d63-9a93-e557b8f783cd","modification_date":"2023-10-31T14:31:00.866880+00:00","name":"tf-vol-unruffled-pare","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"d752926e-9efd-4d63-9a93-e557b8f783cd","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"d752926e-9efd-4d63-9a93-e557b8f783cd","name":"tf-vol-unruffled-pare"},"creation_date":"2023-10-31T14:31:01.263280+00:00","error_details":null,"id":"16cb0867-7ff7-4fcf-96e6-d36725f8170b","modification_date":"2023-10-31T14:31:01.263280+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_16cb0867-7ff7-4fcf-96e6-d36725f8170b","href_from":"/snapshots","href_result":"snapshots/16cb0867-7ff7-4fcf-96e6-d36725f8170b","id":"b5098c0e-7c6b-414a-b30d-a287ba84c402","started_at":"2023-10-31T14:31:01.624791+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/16cb0867-7ff7-4fcf-96e6-d36725f8170b
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"d752926e-9efd-4d63-9a93-e557b8f783cd","name":"tf-vol-unruffled-pare"},"creation_date":"2023-10-31T14:31:01.263280+00:00","error_details":null,"id":"16cb0867-7ff7-4fcf-96e6-d36725f8170b","modification_date":"2023-10-31T14:31:01.263280+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/16cb0867-7ff7-4fcf-96e6-d36725f8170b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"16cb0867-7ff7-4fcf-96e6-d36725f8170b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
