---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?arch=x86_64&name=Ubuntu+20.04+Focal+Fossa&page=1
    method: GET
  response:
    body: '{"images": [{"id": "f90187e9-c7e6-412c-8a09-75dbd350ba84", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "8b761ed7-2cc8-4d8d-bc29-965255a4e0f9",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-10-27T13:45:47.308908+00:00", "modification_date": "2020-10-27T13:45:47.308908+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, {"id": "adfa08b0-0924-408a-8cc9-6a569b92f0c6", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "40e8e5ff-c7ac-4f3d-a1f4-0df5bc874c41",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-09-22T16:11:41.311474+00:00",[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/f90187e9-c7e6-412c-8a09-75dbd350ba84
    method: GET
  response:
    body: '{"image": {"id": "f90187e9-c7e6-412c-8a09-75dbd350ba84", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "8b761ed7-2cc8-4d8d-bc29-965255a4e0f9",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-10-27T13:45:47.308908+00:00", "modification_date": "2020-10-27T13:45:47.308908+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-srv-hungry-dirac","dynamic_ip_required":false,"commercial_type":"DEV1-S","image":"f90187e9-c7e6-412c-8a09-75dbd350ba84","boot_type":"bootscript","bootscript":"7decf961-d3e9-4711-93c7-b16c254e99b9","project":"a6c249e9-c32d-46e4-badb-b57528eafc4b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "7912e95e-a5cb-4ec7-926c-211f4e1f34a9", "name": "tf-srv-hungry-dirac",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "bootscript", "organization":
      "a6c249e9-c32d-46e4-badb-b57528eafc4b", "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "hostname": "tf-srv-hungry-dirac", "image": {"id": "f90187e9-c7e6-412c-8a09-75dbd350ba84",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "8b761ed7-2cc8-4d8d-bc29-965255a4e0f9",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-10-27T13:45:47.308908+00:00", "modification_date": "2020-10-27T13:45:47.308908+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "3e8b60de-43d5-4752-b40b-70071499bbc1",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "a6c249e9-c32d-46e4-badb-b57528eafc4b", "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "server": {"id": "7912e95e-a5cb-4ec7-926c-211f4e1f34a9", "name": "tf-srv-hungry-dirac"},
      "size": 20000000000, "state": "available", "creation_date": "2020-11-10T17:42:30.276936+00:00",
      "modification_date": "2020-11-10T17:42:30.276936+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip":
      null, "ipv6": null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6":
      false, "private_ip": null, "creation_date": "2020-11-10T17:42:30.276936+00:00",
      "modification_date": "2020-11-10T17:42:30.276936+00:00", "bootscript": {"id":
      "7decf961-d3e9-4711-93c7-b16c254e99b9", "public": true, "title": "x86_64 mainline
      latest", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://169.254.42.24/kernel/x86_64-mainline-latest-latest/vmlinuz",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "b40845ef-3992-4304-ace6-bd6c11fc4caa",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/servers/7912e95e-a5cb-4ec7-926c-211f4e1f34a9
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7912e95e-a5cb-4ec7-926c-211f4e1f34a9
    method: GET
  response:
    body: '{"server": {"id": "7912e95e-a5cb-4ec7-926c-211f4e1f34a9", "name": "tf-srv-hungry-dirac",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "bootscript", "organization":
      "a6c249e9-c32d-46e4-badb-b57528eafc4b", "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "hostname": "tf-s[...]
- request:
    body: '{"action":"poweron"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7912e95e-a5cb-4ec7-926c-211f4e1f34a9/action
    method: POST
  response:
    body: '{"task": {"id": "80eff26f-c575-477a-92fa-39dfb068c544", "description":
      "server_batch_poweron", "status": "pending", "href_from": "/servers/7912e95e-a5cb-4ec7-926c-211f4e1f34a9/action",
      "href_result": "/servers/7912e95e-a5cb-4ec7-926c-211f4e1f34a9", "started_at":
      "2020-11-10T17:42:31.602700+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/80eff26f-c575-477a-92fa-39dfb068c544
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7912e95e-a5cb-4ec7-926c-211f4e1f34a9/user_data
    method: GET
  response:
    body: '{"user_data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3e8b60de-43d5-4752-b40b-70071499bbc1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7912e95e-a5cb-4ec7-926c-211f4e1f34a9
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"7912e95e-a5cb-4ec7-926c-211f4e1f34a9\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
