---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-clever-black","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.168008+00:00","export_uri":null,"id":"7c6aaa48-942b-42da-8405-3962a3da424a","modification_date":"2023-08-28T14:31:09.168008+00:00","name":"tf-vol-clever-black","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7c6aaa48-942b-42da-8405-3962a3da424a
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7c6aaa48-942b-42da-8405-3962a3da424a
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.168008+00:00","export_uri":null,"id":"7c6aaa48-942b-42da-8405-3962a3da424a","modification_date":"2023-08-28T14:31:09.168008+00:00","name":"tf-vol-clever-black","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":["test-terraform"],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7c6aaa48-942b-42da-8405-3962a3da424a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"7c6aaa48-942b-42da-8405-3962a3da424a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
