---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-interesting-haibt","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "8954a853-c584-4478-8acf-bd7f7575d094", "name": "tf-vol-interesting-haibt",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-06T01:11:05.199264+00:00", "modification_date":
      "2022-07-06T01:11:05.199264+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8954a853-c584-4478-8acf-bd7f7575d094
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8954a853-c584-4478-8acf-bd7f7575d094
    method: GET
  response:
    body: '{"volume": {"id": "8954a853-c584-4478-8acf-bd7f7575d094", "name": "tf-vol-interesting-haibt",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-06T01:11:05.199264+00:00", "modification_date":
      "2022-07-06T01:11:05.199264+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-elastic-austin","volume_id":"8954a853-c584-4478-8acf-bd7f7575d094","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "73aa40e1-ad25-4369-bdaa-6682acefd7b3", "name": "tf-snap-elastic-austin",
      "volume_type": "b_ssd", "creation_date": "2022-07-06T01:11:05.576544+00:00",
      "modification_date": "2022-07-06T01:11:05.576544+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "8954a853-c584-4478-8acf-bd7f7575d094",
      "name": "tf-vol-interesting-haibt"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "05bae3e4-8fc0-43bf-ab6a-76289d514948", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/73aa40e1-ad25-4369-bdaa-6682acefd7b3", "started_at":
      "2022-07-06T01:11:05.723628+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/fabd93b9-9d86-4c13-be68-295616573647
    method: GET
  response:
    body: '{"snapshot": {"id": "fabd93b9-9d86-4c13-be68-295616573647", "name": "tf-snap-brave-bhabha",
      "volume_type": "b_ssd", "creation_date": "2022-07-06T01:11:05.878788+00:00",
      "modification_date": "2022-07-06T01:11:05.878788+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "b8eb8c35-742c-4dbb-a3a3-122e18e9bc52",
      "name": "tf-vol-clever-payne"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-image-vigilant-pare","root_volume":"fabd93b9-9d86-4c13-be68-295616573647","arch":"x86_64","extra_volumes":{"1":{"id":"73aa40e1-ad25-4369-bdaa-6682acefd7b3","name":"tf-vol-interesting-haibt","size":20000000000,"volume_type":"b_ssd"},"2":{"id":"798831a1-90c7-4fd6-a868-5b45dff8c838","name":"tf-vol-confident-fermi","size":20000000000,"volume_type":"b_ssd"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
    method: POST
  response:
    body: '{"image": {"id": "c834082e-08ae-4bd8-955c-001d64a9c581", "name": "tf-image-vigilant-pare",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "fabd93b9-9d86-4c13-be68-295616573647", "name": "tf-snap-brave-bhabha",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {"1": {"id":
      "73aa40e1-ad25-4369-bdaa-6682acefd7b3", "name": "tf-snap-elastic-austin", "volume_type":
      "b_ssd", "size": 20000000000}, "2": {"id": "798831a1-90c7-4fd6-a868-5b45dff8c838",
      "name": "tf-snap-amazing-pike", "volume_type": "b_ssd", "size": 20000000000}},
      "public": false, "arch": "x86_64", "creation_date": "2022-07-06T01:11:11.726060+00:00",
      "modification_date": "2022-07-06T01:11:11.726060+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c834082e-08ae-4bd8-955c-001d64a9c581
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c834082e-08ae-4bd8-955c-001d64a9c581
    method: GET
  response:
    body: '{"image": {"id": "c834082e-08ae-4bd8-955c-001d64a9c581", "name": "tf-image-vigilant-pare",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "fabd93b9-9d86-4c13-be68-295616573647", "name": "tf-snap-brave-bhabha",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {"1": {"id":
      "73aa40e1-ad25-4369-bdaa-6682acefd7b3", "name": "tf-snap-elastic-austin", "volume_type":
      "b_ssd", "size": 20000000000}, "2": {"id": "798831a1-90c7-4fd6-a868-5b45dff8c838",
      "name": "tf-snap-amazing-pike", "volume_type": "b_ssd", "size": 20000000000}},
      "public": false, "arch": "x86_64", "creation_date": "2022-07-06T01:11:11.726060+00:00",
      "modification_date": "2022-07-06T01:11:11.726060+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/c834082e-08ae-4bd8-955c-001d64a9c581
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"c834082e-08ae-4bd8-955c-001d64a9c581\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
