---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-hardcore-keldysh","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "e4516047-ee59-4a4b-96ed-b4e4f58e64fb", "name": "tf-vol-hardcore-keldysh",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:35.049378+00:00", "modification_date":
      "2021-12-20T16:59:35.049378+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e4516047-ee59-4a4b-96ed-b4e4f58e64fb
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e4516047-ee59-4a4b-96ed-b4e4f58e64fb
    method: GET
  response:
    body: '{"volume": {"id": "e4516047-ee59-4a4b-96ed-b4e4f58e64fb", "name": "tf-vol-hardcore-keldysh",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:35.049378+00:00", "modification_date":
      "2021-12-20T16:59:35.049378+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"first_name","volume_id":"e4516047-ee59-4a4b-96ed-b4e4f58e64fb","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "5e8bd896-8253-4186-ba40-8f76bba17d18", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2021-12-20T16:59:35.751389+00:00",
      "modification_date": "2021-12-20T16:59:35.751389+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "e4516047-ee59-4a4b-96ed-b4e4f58e64fb",
      "name": "tf-vol-hardcore-keldysh"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/5e8bd896-8253-4186-ba40-8f76bba17d18
    method: GET
  response:
    body: '{"snapshot": {"id": "5e8bd896-8253-4186-ba40-8f76bba17d18", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2021-12-20T16:59:35.751389+00:00",
      "modification_date": "2021-12-20T16:59:35.751389+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "e4516047-ee59-4a4b-96ed-b4e4f58e64fb",
      "name": "tf-vol-hardcore-keldysh"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e4516047-ee59-4a4b-96ed-b4e4f58e64fb
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''e4516047-ee59-4a4b-96ed-b4e4f58e64fb''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
