---
version: 1
interactions:
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"routed_ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.159.82.101","id":"f5a20d68-c77c-405e-8986-0ed09b284649","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":null,"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-3"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/f5a20d68-c77c-405e-8986-0ed09b284649
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/f5a20d68-c77c-405e-8986-0ed09b284649
    method: GET
  response:
    body: '{"ip":{"address":"51.159.82.101","id":"f5a20d68-c77c-405e-8986-0ed09b284649","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":null,"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"detached","tags":[],"type":"routed_ipv4","zone":"fr-par-3"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/e0e2f5fb-9f6a-4875-8a20-0d97e61ccee8
    method: GET
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
