---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-affectionate-chatelet","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "3d6d2d7f-93c8-45bd-9b13-e74c8f8da188", "name": "tf-vol-affectionate-chatelet",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-05-16T14:48:57.715155+00:00", "modification_date":
      "2022-05-16T14:48:57.715155+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3d6d2d7f-93c8-45bd-9b13-e74c8f8da188
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3d6d2d7f-93c8-45bd-9b13-e74c8f8da188
    method: GET
  response:
    body: '{"volume": {"id": "3d6d2d7f-93c8-45bd-9b13-e74c8f8da188", "name": "tf-vol-affectionate-chatelet",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-05-16T14:48:57.715155+00:00", "modification_date":
      "2022-05-16T14:48:57.715155+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"3d6d2d7f-93c8-45bd-9b13-e74c8f8da188","tags":["test-terraform"],"project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "c9984e9b-3840-477c-8502-b18a66fb026a", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-05-16T14:48:58.169568+00:00",
      "modification_date": "2022-05-16T14:48:58.169568+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3d6d2d7f-93c8-45bd-9b13-e74c8f8da188",
      "name": "tf-vol-affectionate-chatelet"}, "tags": ["test-terraform"], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/c9984e9b-3840-477c-8502-b18a66fb026a
    method: GET
  response:
    body: '{"snapshot": {"id": "c9984e9b-3840-477c-8502-b18a66fb026a", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-05-16T14:48:58.169568+00:00",
      "modification_date": "2022-05-16T14:48:58.169568+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "3d6d2d7f-93c8-45bd-9b13-e74c8f8da188",
      "name": "tf-vol-affectionate-chatelet"}, "tags": ["test-terraform"], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/c9984e9b-3840-477c-8502-b18a66fb026a
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"c9984e9b-3840-477c-8502-b18a66fb026a\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
