---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-blissful-chaum","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "9e6006d4-7168-4573-a533-b576b3447414", "name": "tf-vol-blissful-chaum",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:54:33.622078+00:00", "modification_date":
      "2021-12-20T16:54:33.622078+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9e6006d4-7168-4573-a533-b576b3447414
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9e6006d4-7168-4573-a533-b576b3447414
    method: GET
  response:
    body: '{"volume": {"id": "9e6006d4-7168-4573-a533-b576b3447414", "name": "tf-vol-blissful-chaum",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:54:33.622078+00:00", "modification_date":
      "2021-12-20T16:54:33.622078+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-snap-relaxed-brown","volume_id":"9e6006d4-7168-4573-a533-b576b3447414","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "080737ef-6b11-463d-a0b8-ba4aa2dab6ca", "name": "tf-snap-relaxed-brown",
      "volume_type": "b_ssd", "creation_date": "2021-12-20T16:54:34.349436+00:00",
      "modification_date": "2021-12-20T16:54:34.349436+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "9e6006d4-7168-4573-a533-b576b3447414",
      "name": "tf-vol-blissful-chaum"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/080737ef-6b11-463d-a0b8-ba4aa2dab6ca
    method: GET
  response:
    body: '{"snapshot": {"id": "080737ef-6b11-463d-a0b8-ba4aa2dab6ca", "name": "tf-snap-relaxed-brown",
      "volume_type": "b_ssd", "creation_date": "2021-12-20T16:54:34.349436+00:00",
      "modification_date": "2021-12-20T16:54:34.349436+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "9e6006d4-7168-4573-a533-b576b3447414",
      "name": "tf-vol-blissful-chaum"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9e6006d4-7168-4573-a533-b576b3447414
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''9e6006d4-7168-4573-a533-b576b3447414''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
