---
version: 1
interactions:
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"212.47.231.169","id":"f99bbb8f-3988-4043-a049-2285714d49e1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f99bbb8f-3988-4043-a049-2285714d49e1
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f99bbb8f-3988-4043-a049-2285714d49e1
    method: GET
  response:
    body: '{"ip":{"address":"212.47.231.169","id":"f99bbb8f-3988-4043-a049-2285714d49e1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"changes":[{"add":{"records":[{"data":"212.47.231.169","name":"tf-reverse-instance","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"212.47.231.169","id":"3ecb8b1e-0168-4f42-8c9f-0d24ba0f292e","name":"tf-reverse-instance","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2023-05-11T08:44:20Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=tf-reverse-instance&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"212.47.231.169","id":"3ecb8b1e-0168-4f42-8c9f-0d24ba0f292e","name":"tf-reverse-instance","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=3ecb8b1e-0168-4f42-8c9f-0d24ba0f292e&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"212.47.231.169","id":"3ecb8b1e-0168-4f42-8c9f-0d24ba0f292e","name":"tf-reverse-instance","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=3ecb8b1e-0168-4f42-8c9f-0d24ba0f292e&name=tf-reverse-instance&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"212.47.231.169","id":"3ecb8b1e-0168-4f42-8c9f-0d24ba0f292e","name":"tf-reverse-instance","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"3ecb8b1e-0168-4f42-8c9f-0d24ba0f292e"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
