---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-tender-margulis","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.182736+00:00","export_uri":null,"id":"fba8ea24-6d7c-4ddb-a999-289a2ac27df4","modification_date":"2023-08-28T14:31:09.182736+00:00","name":"tf-vol-tender-margulis","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fba8ea24-6d7c-4ddb-a999-289a2ac27df4
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fba8ea24-6d7c-4ddb-a999-289a2ac27df4
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.182736+00:00","export_uri":null,"id":"fba8ea24-6d7c-4ddb-a999-289a2ac27df4","modification_date":"2023-08-28T14:31:09.182736+00:00","name":"tf-vol-tender-margulis","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-vol-heuristic-pascal","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","base_volume":"fba8ea24-6d7c-4ddb-a999-289a2ac27df4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:31:09.463999+00:00","export_uri":null,"id":"6a717598-0dbe-4bdb-adad-993e1ab11e41","modification_date":"2023-08-28T14:31:09.463999+00:00","name":"tf-vol-heuristic-pascal","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6a717598-0dbe-4bdb-adad-993e1ab11e41
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fba8ea24-6d7c-4ddb-a999-289a2ac27df4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_volume","resource_id":"fba8ea24-6d7c-4ddb-a999-289a2ac27df4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
