---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-goofy-jepsen","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "0f2b9966-f6eb-4910-9bab-23cdad98ad26", "name": "tf-vol-goofy-jepsen",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:39.548342+00:00", "modification_date":
      "2021-12-20T16:59:39.548342+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/0f2b9966-f6eb-4910-9bab-23cdad98ad26
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/0f2b9966-f6eb-4910-9bab-23cdad98ad26
    method: GET
  response:
    body: '{"volume": {"id": "0f2b9966-f6eb-4910-9bab-23cdad98ad26", "name": "tf-vol-goofy-jepsen",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:39.548342+00:00", "modification_date":
      "2021-12-20T16:59:39.548342+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/0f2b9966-f6eb-4910-9bab-23cdad98ad26
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''0f2b9966-f6eb-4910-9bab-23cdad98ad26''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
