---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-strange-gauss","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "4aa84c59-8934-4138-9330-7e6cb23bced2", "name": "tf-vol-strange-gauss",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:10:30.361480+00:00", "modification_date":
      "2022-04-12T10:10:30.361480+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4aa84c59-8934-4138-9330-7e6cb23bced2
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4aa84c59-8934-4138-9330-7e6cb23bced2
    method: GET
  response:
    body: '{"volume": {"id": "4aa84c59-8934-4138-9330-7e6cb23bced2", "name": "tf-vol-strange-gauss",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:10:30.361480+00:00", "modification_date":
      "2022-04-12T10:10:30.361480+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-vol-sad-chandrasekhar","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","base_volume":"4aa84c59-8934-4138-9330-7e6cb23bced2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "64d2699f-3a5a-4a80-b42d-bc7ca89f9b39", "name": "tf-vol-sad-chandrasekhar",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:10:31.150703+00:00", "modification_date":
      "2022-04-12T10:10:31.150703+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/64d2699f-3a5a-4a80-b42d-bc7ca89f9b39
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4aa84c59-8934-4138-9330-7e6cb23bced2
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''4aa84c59-8934-4138-9330-7e6cb23bced2''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
