---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-flamboyant-turing","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.870158+00:00","export_uri":null,"id":"7f802699-8251-43fa-93d6-a321144f2e7c","modification_date":"2023-10-31T14:31:00.870158+00:00","name":"tf-vol-flamboyant-turing","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/7f802699-8251-43fa-93d6-a321144f2e7c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/7f802699-8251-43fa-93d6-a321144f2e7c
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.870158+00:00","export_uri":null,"id":"7f802699-8251-43fa-93d6-a321144f2e7c","modification_date":"2023-10-31T14:31:00.870158+00:00","name":"tf-vol-flamboyant-turing","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-angry-lumiere","volume_id":"7f802699-8251-43fa-93d6-a321144f2e7c","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"7f802699-8251-43fa-93d6-a321144f2e7c","name":"tf-vol-flamboyant-turing"},"creation_date":"2023-10-31T14:31:01.298318+00:00","error_details":null,"id":"04820143-8d8e-4a11-a5ca-de003b539d7c","modification_date":"2023-10-31T14:31:01.298318+00:00","name":"tf-snap-angry-lumiere","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"},"task":{"description":"snapshot_04820143-8d8e-4a11-a5ca-de003b539d7c","href_from":"/snapshots","href_result":"snapshots/04820143-8d8e-4a11-a5ca-de003b539d7c","id":"92db2517-1661-45f2-85b2-9c5ca7f502c4","started_at":"2023-10-31T14:31:01.736300+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/04820143-8d8e-4a11-a5ca-de003b539d7c
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"7f802699-8251-43fa-93d6-a321144f2e7c","name":"tf-vol-flamboyant-turing"},"creation_date":"2023-10-31T14:31:01.298318+00:00","error_details":null,"id":"04820143-8d8e-4a11-a5ca-de003b539d7c","modification_date":"2023-10-31T14:31:01.298318+00:00","name":"tf-snap-angry-lumiere","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"04820143-8d8e-4a11-a5ca-de003b539d7c","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tag1","tag2","tag3"],"public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-10-31T14:31:07.237816+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"98799571-18d4-40ff-9e59-3ad2e52cc8a5","modification_date":"2023-10-31T14:31:07.237816+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"04820143-8d8e-4a11-a5ca-de003b539d7c","name":"tf-snap-angry-lumiere","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/98799571-18d4-40ff-9e59-3ad2e52cc8a5
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/98799571-18d4-40ff-9e59-3ad2e52cc8a5
    method: GET
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-10-31T14:31:07.237816+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"98799571-18d4-40ff-9e59-3ad2e52cc8a5","modification_date":"2023-10-31T14:31:07.237816+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"04820143-8d8e-4a11-a5ca-de003b539d7c","name":"tf-snap-angry-lumiere","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/98799571-18d4-40ff-9e59-3ad2e52cc8a5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_image","resource_id":"98799571-18d4-40ff-9e59-3ad2e52cc8a5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
