---
version: 1
interactions:
- request:
    body: '{"project":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "a4054bca-9df1-4471-aae7-af13c44c480a", "address": "51.158.99.152",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/ips/a4054bca-9df1-4471-aae7-af13c44c480a
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/a4054bca-9df1-4471-aae7-af13c44c480a
    method: GET
  response:
    body: '{"ip": {"id": "a4054bca-9df1-4471-aae7-af13c44c480a", "address": "51.158.99.152",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "8d18d0c3-922c-48b3-a464-a59b7382088d", "address": "51.15.118.153",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "nl-ams-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://ams1-cp-prd-api02.internal.scaleway.com/ips/8d18d0c3-922c-48b3-a464-a59b7382088d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/ips/8d18d0c3-922c-48b3-a464-a59b7382088d
    method: GET
  response:
    body: '{"ip": {"id": "8d18d0c3-922c-48b3-a464-a59b7382088d", "address": "51.15.118.153",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "nl-ams-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
