---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-bold-knuth","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-12-05T10:55:20.956475+00:00","export_uri":null,"id":"c7f42f5c-2db0-403f-ada7-ed54191e276e","modification_date":"2023-12-05T10:55:20.956475+00:00","name":"tf-vol-bold-knuth","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c7f42f5c-2db0-403f-ada7-ed54191e276e
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c7f42f5c-2db0-403f-ada7-ed54191e276e
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-12-05T10:55:20.956475+00:00","export_uri":null,"id":"c7f42f5c-2db0-403f-ada7-ed54191e276e","modification_date":"2023-12-05T10:55:20.956475+00:00","name":"tf-vol-bold-knuth","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"c7f42f5c-2db0-403f-ada7-ed54191e276e","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"c7f42f5c-2db0-403f-ada7-ed54191e276e","name":"tf-vol-bold-knuth"},"creation_date":"2023-12-05T10:55:21.418905+00:00","error_details":null,"id":"e6c7e754-fa8e-4aed-be65-5fabc69d4eaf","modification_date":"2023-12-05T10:55:21.418905+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_e6c7e754-fa8e-4aed-be65-5fabc69d4eaf","href_from":"/snapshots","href_result":"snapshots/e6c7e754-fa8e-4aed-be65-5fabc69d4eaf","id":"89eb14fd-f4ca-40c6-92dd-b191c21e544a","started_at":"2023-12-05T10:55:22.010339+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/e6c7e754-fa8e-4aed-be65-5fabc69d4eaf
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"c7f42f5c-2db0-403f-ada7-ed54191e276e","name":"tf-vol-bold-knuth"},"creation_date":"2023-12-05T10:55:21.418905+00:00","error_details":null,"id":"e6c7e754-fa8e-4aed-be65-5fabc69d4eaf","modification_date":"2023-12-05T10:55:21.418905+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/e6c7e754-fa8e-4aed-be65-5fabc69d4eaf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"e6c7e754-fa8e-4aed-be65-5fabc69d4eaf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
