---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-zen-mcnulty","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "d3eb24d5-2592-4438-b2f1-0a5f6d6d117a", "name": "tf-vol-zen-mcnulty",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-10-16T08:58:19.412173+00:00", "modification_date":
      "2020-10-16T08:58:19.412173+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/volumes/d3eb24d5-2592-4438-b2f1-0a5f6d6d117a
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d3eb24d5-2592-4438-b2f1-0a5f6d6d117a
    method: GET
  response:
    body: '{"volume": {"id": "d3eb24d5-2592-4438-b2f1-0a5f6d6d117a", "name": "tf-vol-zen-mcnulty",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-10-16T08:58:19.412173+00:00", "modification_date":
      "2020-10-16T08:58:19.412173+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-vol-determined-matsumoto","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","base_volume":"d3eb24d5-2592-4438-b2f1-0a5f6d6d117a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "a5e7c6ee-9e74-4a69-b756-161040bd5e9b", "name": "tf-vol-determined-matsumoto",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-10-16T08:58:20.076683+00:00", "modification_date":
      "2020-10-16T08:58:20.076683+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/a5e7c6ee-9e74-4a69-b756-161040bd5e9b
    status: 201 Created
    code: 201
    duration: ""
[...]
