---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-ecstatic-shockley","organization":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:28:01.352957+00:00","export_uri":null,"id":"a320bf22-a5c1-4dfa-8167-ea58f26ed21b","modification_date":"2023-10-16T16:28:01.352957+00:00","name":"tf-vol-ecstatic-shockley","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a320bf22-a5c1-4dfa-8167-ea58f26ed21b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a320bf22-a5c1-4dfa-8167-ea58f26ed21b
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:28:01.352957+00:00","export_uri":null,"id":"a320bf22-a5c1-4dfa-8167-ea58f26ed21b","modification_date":"2023-10-16T16:28:01.352957+00:00","name":"tf-vol-ecstatic-shockley","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"a320bf22-a5c1-4dfa-8167-ea58f26ed21b","tags":["test-terraform"],"organization":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"a320bf22-a5c1-4dfa-8167-ea58f26ed21b","name":"tf-vol-ecstatic-shockley"},"creation_date":"2023-10-16T16:28:01.724443+00:00","error_details":null,"id":"76aef736-68a8-4c62-8722-89aa5d80b9ea","modification_date":"2023-10-16T16:28:01.724443+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_76aef736-68a8-4c62-8722-89aa5d80b9ea","href_from":"/snapshots","href_result":"snapshots/76aef736-68a8-4c62-8722-89aa5d80b9ea","id":"d1cda874-0cd2-48a4-b942-11e7ad6c577f","started_at":"2023-10-16T16:28:02.143199+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/76aef736-68a8-4c62-8722-89aa5d80b9ea
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"a320bf22-a5c1-4dfa-8167-ea58f26ed21b","name":"tf-vol-ecstatic-shockley"},"creation_date":"2023-10-16T16:28:01.724443+00:00","error_details":null,"id":"76aef736-68a8-4c62-8722-89aa5d80b9ea","modification_date":"2023-10-16T16:28:01.724443+00:00","name":"first_name","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":["test-terraform"],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/76aef736-68a8-4c62-8722-89aa5d80b9ea
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"76aef736-68a8-4c62-8722-89aa5d80b9ea","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
