---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-vibrant-mendeleev","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "6d01aa7e-2d91-4966-894d-ac47cc223c18", "name": "tf-vol-vibrant-mendeleev",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T09:14:03.985149+00:00", "modification_date":
      "2022-04-13T09:14:03.985149+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d01aa7e-2d91-4966-894d-ac47cc223c18
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d01aa7e-2d91-4966-894d-ac47cc223c18
    method: GET
  response:
    body: '{"volume": {"id": "6d01aa7e-2d91-4966-894d-ac47cc223c18", "name": "tf-vol-vibrant-mendeleev",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T09:14:03.985149+00:00", "modification_date":
      "2022-04-13T09:14:03.985149+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"first_name","volume_id":"6d01aa7e-2d91-4966-894d-ac47cc223c18","tags":["test-terraform"],"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "ac1e74c4-8131-45e9-87be-0e3427f5ce55", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-13T09:14:04.841223+00:00",
      "modification_date": "2022-04-13T09:14:04.841223+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "6d01aa7e-2d91-4966-894d-ac47cc223c18",
      "name": "tf-vol-vibrant-mendeleev"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/ac1e74c4-8131-45e9-87be-0e3427f5ce55
    method: GET
  response:
    body: '{"snapshot": {"id": "ac1e74c4-8131-45e9-87be-0e3427f5ce55", "name": "first_name",
      "volume_type": "b_ssd", "creation_date": "2022-04-13T09:14:04.841223+00:00",
      "modification_date": "2022-04-13T09:14:04.841223+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "6d01aa7e-2d91-4966-894d-ac47cc223c18",
      "name": "tf-vol-vibrant-mendeleev"}, "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6d01aa7e-2d91-4966-894d-ac47cc223c18
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''6d01aa7e-2d91-4966-894d-ac47cc223c18''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
