---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-hungry-hopper","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["test-terraform"],"volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "2d544df4-56df-4595-86dc-75c82205a9c3", "name": "tf-vol-hungry-hopper",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T09:26:49.648032+00:00", "modification_date":
      "2022-04-13T09:26:49.648032+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d544df4-56df-4595-86dc-75c82205a9c3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d544df4-56df-4595-86dc-75c82205a9c3
    method: GET
  response:
    body: '{"volume": {"id": "2d544df4-56df-4595-86dc-75c82205a9c3", "name": "tf-vol-hungry-hopper",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-13T09:26:49.648032+00:00", "modification_date":
      "2022-04-13T09:26:49.648032+00:00", "tags": ["test-terraform"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2d544df4-56df-4595-86dc-75c82205a9c3
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''2d544df4-56df-4595-86dc-75c82205a9c3''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
