---
version: 1
interactions:
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"unknown_iptype"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.15.204.135","id":"71cbe067-8f52-49b7-a223-42b0e5494756","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":null,"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/71cbe067-8f52-49b7-a223-42b0e5494756
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/71cbe067-8f52-49b7-a223-42b0e5494756
    method: GET
  response:
    body: '{"ip":{"address":"51.15.204.135","id":"71cbe067-8f52-49b7-a223-42b0e5494756","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":null,"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/71cbe067-8f52-49b7-a223-42b0e5494756
    method: DELETE
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
