---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-thirsty-agnesi","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "a0ac450a-8d46-408a-8803-18a3f3cfe6dc", "name": "tf-vol-thirsty-agnesi",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-04-21T13:04:13.786970+00:00", "modification_date":
      "2021-04-21T13:04:13.786970+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/a0ac450a-8d46-408a-8803-18a3f3cfe6dc
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a0ac450a-8d46-408a-8803-18a3f3cfe6dc
    method: GET
  response:
    body: '{"volume": {"id": "a0ac450a-8d46-408a-8803-18a3f3cfe6dc", "name": "tf-vol-thirsty-agnesi",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-04-21T13:04:13.786970+00:00", "modification_date":
      "2021-04-21T13:04:13.786970+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-snap-sweet-saha","volume_id":"a0ac450a-8d46-408a-8803-18a3f3cfe6dc","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "45b3ac20-9a94-4438-a7e4-ab0cd5888c1f", "name": "tf-snap-sweet-saha",
      "volume_type": "b_ssd", "creation_date": "2021-04-21T13:04:14.157455+00:00",
      "modification_date": "2021-04-21T13:04:14.157455+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "a0ac450a-8d46-408a-8803-18a3f3cfe6dc",
      "name": "tf-vol-thirsty-agnesi"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/45b3ac20-9a94-4438-a7e4-ab0cd5888c1f
    method: GET
  response:
    body: '{"snapshot": {"id": "45b3ac20-9a94-4438-a7e4-ab0cd5888c1f", "name": "tf-snap-sweet-saha",
      "volume_type": "b_ssd", "creation_date": "2021-04-21T13:04:14.157455+00:00",
      "modification_date": "2021-04-21T13:04:14.157455+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "a0ac450a-8d46-408a-8803-18a3f3cfe6dc",
      "name": "tf-vol-thirsty-agnesi"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/a0ac450a-8d46-408a-8803-18a3f3cfe6dc
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''a0ac450a-8d46-408a-8803-18a3f3cfe6dc''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
