---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-affectionate-neumann","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "9073bcaf-ffca-4934-9030-9b3e49241a80", "name": "tf-vol-affectionate-neumann",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:42.821123+00:00", "modification_date":
      "2021-12-20T16:59:42.821123+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9073bcaf-ffca-4934-9030-9b3e49241a80
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9073bcaf-ffca-4934-9030-9b3e49241a80
    method: GET
  response:
    body: '{"volume": {"id": "9073bcaf-ffca-4934-9030-9b3e49241a80", "name": "tf-vol-affectionate-neumann",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:42.821123+00:00", "modification_date":
      "2021-12-20T16:59:42.821123+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-vol-inspiring-hoover","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"l_ssd","base_volume":"9073bcaf-ffca-4934-9030-9b3e49241a80"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "bf63e56a-fe5c-4ae9-b196-90085cd0f749", "name": "tf-vol-inspiring-hoover",
      "volume_type": "l_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T16:59:43.469460+00:00", "modification_date":
      "2021-12-20T16:59:43.469460+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/bf63e56a-fe5c-4ae9-b196-90085cd0f749
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9073bcaf-ffca-4934-9030-9b3e49241a80
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''9073bcaf-ffca-4934-9030-9b3e49241a80''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
