---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-romantic-cori","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "4b80622a-4a7e-484f-bacc-80752fcffa97", "name": "tf-vol-romantic-cori",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-10-16T08:58:45.117003+00:00", "modification_date":
      "2020-10-16T08:58:45.117003+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/volumes/4b80622a-4a7e-484f-bacc-80752fcffa97
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4b80622a-4a7e-484f-bacc-80752fcffa97
    method: GET
  response:
    body: '{"volume": {"id": "4b80622a-4a7e-484f-bacc-80752fcffa97", "name": "tf-vol-romantic-cori",
      "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-10-16T08:58:45.117003+00:00", "modification_date":
      "2020-10-16T08:58:45.117003+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
