---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?arch=x86_64&name=Ubuntu+20.04+Focal+Fossa&page=1
    method: GET
  response:
    body: '{"images": [{"id": "adfa08b0-0924-408a-8cc9-6a569b92f0c6", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "40e8e5ff-c7ac-4f3d-a1f4-0df5bc874c41",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-09-22T16:11:41.311474+00:00", "modification_date": "2020-09-22T16:11:41.311474+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, {"id": "d7501c42-bccd-4845-82da-5660c8e8a04f", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "316dc4cd-0ac3-4f2f-9b81-7131c615b89f",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-09-22T15:54:34.257372+00:00",[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/adfa08b0-0924-408a-8cc9-6a569b92f0c6
    method: GET
  response:
    body: '{"image": {"id": "adfa08b0-0924-408a-8cc9-6a569b92f0c6", "name": "Ubuntu
      20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "40e8e5ff-c7ac-4f3d-a1f4-0df5bc874c41",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-09-22T16:11:41.311474+00:00", "modification_date": "2020-09-22T16:11:41.311474+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-srv-hungry-ritchie","dynamic_ip_required":false,"commercial_type":"DEV1-S","image":"adfa08b0-0924-408a-8cc9-6a569b92f0c6","boot_type":"bootscript","bootscript":"7decf961-d3e9-4711-93c7-b16c254e99b9","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "d87f20e8-38d0-44a5-9ca0-f986b33dc08c", "name": "tf-srv-hungry-ritchie",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "bootscript", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "tf-srv-hungry-ritchie", "image": {"id": "adfa08b0-0924-408a-8cc9-6a569b92f0c6",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "40e8e5ff-c7ac-4f3d-a1f4-0df5bc874c41",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "size":
      10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date":
      "2020-09-22T16:11:41.311474+00:00", "modification_date": "2020-09-22T16:11:41.311474+00:00",
      "default_bootscript": null, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "f092c1cd-4040-4511-8b1f-7e6e8515819f",
      "name": "ubuntu_20.04_focal_fossa:volume-0", "volume_type": "l_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "d87f20e8-38d0-44a5-9ca0-f986b33dc08c", "name": "tf-srv-hungry-ritchie"},
      "size": 20000000000, "state": "available", "creation_date": "2020-10-21T13:44:17.507359+00:00",
      "modification_date": "2020-10-21T13:44:17.840423+00:00", "zone": "fr-par-1"}},
      "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip":
      null, "ipv6": null, "extra_networks": [], "dynamic_ip_required": false, "enable_ipv6":
      false, "private_ip": null, "creation_date": "2020-10-21T13:44:17.507359+00:00",
      "modification_date": "2020-10-21T13:44:18.100330+00:00", "bootscript": {"id":
      "7decf961-d3e9-4711-93c7-b16c254e99b9", "public": true, "title": "x86_64 mainline
      latest", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://169.254.42.24/kernel/x86_64-mainline-latest-latest/vmlinuz",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "54e2d5f6-d79c-44cc-b19f-613699b9cc7e",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/servers/d87f20e8-38d0-44a5-9ca0-f986b33dc08c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d87f20e8-38d0-44a5-9ca0-f986b33dc08c
    method: GET
  response:
    body: '{"server": {"id": "d87f20e8-38d0-44a5-9ca0-f986b33dc08c", "name": "tf-srv-hungry-ritchie",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "bootscript", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "tf[...]
- request:
    body: '{"action":"poweron"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d87f20e8-38d0-44a5-9ca0-f986b33dc08c/action
    method: POST
  response:
    body: '{"task": {"id": "b7c4c26b-9ce2-4de5-9752-375af519feea", "description":
      "server_batch_poweron", "status": "pending", "href_from": "/servers/d87f20e8-38d0-44a5-9ca0-f986b33dc08c/action",
      "href_result": "/servers/d87f20e8-38d0-44a5-9ca0-f986b33dc08c", "started_at":
      "2020-10-21T13:44:19.231845+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/b7c4c26b-9ce2-4de5-9752-375af519feea
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d87f20e8-38d0-44a5-9ca0-f986b33dc08c/user_data
    method: GET
  response:
    body: '{"user_data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/f092c1cd-4040-4511-8b1f-7e6e8515819f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
