---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-gracious-robinson","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "5f842ff0-83d6-4688-8fac-27f3f73206b8", "name": "tf-vol-gracious-robinson",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-07T12:01:32.827047+00:00", "modification_date":
      "2022-07-07T12:01:32.827047+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/5f842ff0-83d6-4688-8fac-27f3f73206b8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/5f842ff0-83d6-4688-8fac-27f3f73206b8
    method: GET
  response:
    body: '{"volume": {"id": "5f842ff0-83d6-4688-8fac-27f3f73206b8", "name": "tf-vol-gracious-robinson",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-07-07T12:01:32.827047+00:00", "modification_date":
      "2022-07-07T12:01:32.827047+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-lucid-payne","volume_id":"5f842ff0-83d6-4688-8fac-27f3f73206b8","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "33615e12-05c5-4687-95eb-cb2cbebfe69e", "name": "tf-snap-lucid-payne",
      "volume_type": "b_ssd", "creation_date": "2022-07-07T12:01:33.424893+00:00",
      "modification_date": "2022-07-07T12:01:33.424893+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "5f842ff0-83d6-4688-8fac-27f3f73206b8",
      "name": "tf-vol-gracious-robinson"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}, "task": {"id": "57fffa11-8976-4d76-a5f8-05203ac0fe9b", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/33615e12-05c5-4687-95eb-cb2cbebfe69e", "started_at":
      "2022-07-07T12:01:33.584887+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/33615e12-05c5-4687-95eb-cb2cbebfe69e
    method: GET
  response:
    body: '{"snapshot": {"id": "33615e12-05c5-4687-95eb-cb2cbebfe69e", "name": "tf-snap-lucid-payne",
      "volume_type": "b_ssd", "creation_date": "2022-07-07T12:01:33.424893+00:00",
      "modification_date": "2022-07-07T12:01:33.424893+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "5f842ff0-83d6-4688-8fac-27f3f73206b8",
      "name": "tf-vol-gracious-robinson"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"33615e12-05c5-4687-95eb-cb2cbebfe69e","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["tag1","tag2","tag3"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image": {"id": "97fcc374-35aa-40f6-a95c-d960b076333b", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "33615e12-05c5-4687-95eb-cb2cbebfe69e", "name": "tf-snap-lucid-payne",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "x86_64", "creation_date": "2022-07-07T12:01:39.725075+00:00",
      "modification_date": "2022-07-07T12:01:39.725075+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": ["tag1", "tag2", "tag3"],
      "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/97fcc374-35aa-40f6-a95c-d960b076333b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/97fcc374-35aa-40f6-a95c-d960b076333b
    method: GET
  response:
    body: '{"image": {"id": "97fcc374-35aa-40f6-a95c-d960b076333b", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "33615e12-05c5-4687-95eb-cb2cbebfe69e", "name": "tf-snap-lucid-payne",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      false, "arch": "x86_64", "creation_date": "2022-07-07T12:01:39.725075+00:00",
      "modification_date": "2022-07-07T12:01:39.725075+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": ["tag1", "tag2", "tag3"],
      "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/97fcc374-35aa-40f6-a95c-d960b076333b
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"97fcc374-35aa-40f6-a95c-d960b076333b\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
