---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-ecstatic-thompson","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:36:55.625879+00:00","export_uri":null,"id":"096d5e39-4e82-4228-8723-fb267a95d3c0","modification_date":"2023-08-28T14:36:55.625879+00:00","name":"tf-vol-ecstatic-thompson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/096d5e39-4e82-4228-8723-fb267a95d3c0
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/096d5e39-4e82-4228-8723-fb267a95d3c0
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:36:55.625879+00:00","export_uri":null,"id":"096d5e39-4e82-4228-8723-fb267a95d3c0","modification_date":"2023-08-28T14:36:55.625879+00:00","name":"tf-vol-ecstatic-thompson","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-inspiring-mcnulty","volume_id":"096d5e39-4e82-4228-8723-fb267a95d3c0","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"096d5e39-4e82-4228-8723-fb267a95d3c0","name":"tf-vol-ecstatic-thompson"},"creation_date":"2023-08-28T14:36:56.056478+00:00","error_details":null,"id":"c6d895ce-b2f3-42c2-8d25-fbfef19adc9a","modification_date":"2023-08-28T14:36:56.056478+00:00","name":"tf-snap-inspiring-mcnulty","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"},"task":{"description":"snapshot_c6d895ce-b2f3-42c2-8d25-fbfef19adc9a","href_from":"/snapshots","href_result":"snapshots/c6d895ce-b2f3-42c2-8d25-fbfef19adc9a","id":"05e4e85f-09d3-4137-a699-91558644a840","started_at":"2023-08-28T14:36:56.753485+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/c6d895ce-b2f3-42c2-8d25-fbfef19adc9a
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"096d5e39-4e82-4228-8723-fb267a95d3c0","name":"tf-vol-ecstatic-thompson"},"creation_date":"2023-08-28T14:36:56.056478+00:00","error_details":null,"id":"c6d895ce-b2f3-42c2-8d25-fbfef19adc9a","modification_date":"2023-08-28T14:36:56.056478+00:00","name":"tf-snap-inspiring-mcnulty","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"c6d895ce-b2f3-42c2-8d25-fbfef19adc9a","arch":"x86_64","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["tag1","tag2","tag3"],"public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-08-28T14:37:02.304219+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"61f92fbe-9e8b-4819-a9c1-8103c0852ee8","modification_date":"2023-08-28T14:37:02.304219+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"c6d895ce-b2f3-42c2-8d25-fbfef19adc9a","name":"tf-snap-inspiring-mcnulty","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/61f92fbe-9e8b-4819-a9c1-8103c0852ee8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/61f92fbe-9e8b-4819-a9c1-8103c0852ee8
    method: GET
  response:
    body: '{"image":{"arch":"x86_64","creation_date":"2023-08-28T14:37:02.304219+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"61f92fbe-9e8b-4819-a9c1-8103c0852ee8","modification_date":"2023-08-28T14:37:02.304219+00:00","name":"test_image_basic","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"root_volume":{"id":"c6d895ce-b2f3-42c2-8d25-fbfef19adc9a","name":"tf-snap-inspiring-mcnulty","size":20000000000,"volume_type":"b_ssd"},"state":"available","tags":["tag1","tag2","tag3"],"zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/61f92fbe-9e8b-4819-a9c1-8103c0852ee8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_image","resource_id":"61f92fbe-9e8b-4819-a9c1-8103c0852ee8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
