---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-stupefied-morse","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:36:16.902836+00:00","export_uri":null,"id":"806aaf4b-6c23-4d2e-9ada-4d11501b6789","modification_date":"2023-08-28T14:36:16.902836+00:00","name":"tf-vol-stupefied-morse","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/806aaf4b-6c23-4d2e-9ada-4d11501b6789
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/806aaf4b-6c23-4d2e-9ada-4d11501b6789
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-08-28T14:36:16.902836+00:00","export_uri":null,"id":"806aaf4b-6c23-4d2e-9ada-4d11501b6789","modification_date":"2023-08-28T14:36:16.902836+00:00","name":"tf-vol-stupefied-morse","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-tender-sammet","volume_id":"806aaf4b-6c23-4d2e-9ada-4d11501b6789","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"unknown_volume_type"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"806aaf4b-6c23-4d2e-9ada-4d11501b6789","name":"tf-vol-stupefied-morse"},"creation_date":"2023-08-28T14:36:17.207774+00:00","error_details":null,"id":"ac8a62cc-580d-4d17-a8e3-b6bfd7a7c1c6","modification_date":"2023-08-28T14:36:17.207774+00:00","name":"tf-snap-tender-sammet","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_ac8a62cc-580d-4d17-a8e3-b6bfd7a7c1c6","href_from":"/snapshots","href_result":"snapshots/ac8a62cc-580d-4d17-a8e3-b6bfd7a7c1c6","id":"46c5ddfb-616b-403b-ab9c-755b2fee5195","started_at":"2023-08-28T14:36:17.627046+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/ac8a62cc-580d-4d17-a8e3-b6bfd7a7c1c6
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"806aaf4b-6c23-4d2e-9ada-4d11501b6789","name":"tf-vol-stupefied-morse"},"creation_date":"2023-08-28T14:36:17.207774+00:00","error_details":null,"id":"ac8a62cc-580d-4d17-a8e3-b6bfd7a7c1c6","modification_date":"2023-08-28T14:36:17.207774+00:00","name":"tf-snap-tender-sammet","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/ac8a62cc-580d-4d17-a8e3-b6bfd7a7c1c6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"ac8a62cc-580d-4d17-a8e3-b6bfd7a7c1c6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
