---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-heuristic-turing","project":"9af7216e-7b97-404d-8ada-9f379eb39ae5","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "319d7d2b-6c99-420a-974f-2e7cf838f14d", "name": "tf-vol-heuristic-turing",
      "volume_type": "b_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-17T09:39:18.693365+00:00", "modification_date":
      "2021-05-17T09:39:18.693365+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/319d7d2b-6c99-420a-974f-2e7cf838f14d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/319d7d2b-6c99-420a-974f-2e7cf838f14d
    method: GET
  response:
    body: '{"volume": {"id": "319d7d2b-6c99-420a-974f-2e7cf838f14d", "name": "tf-vol-heuristic-turing",
      "volume_type": "b_ssd", "export_uri": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "9af7216e-7b97-404d-8ada-9f379eb39ae5", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-05-17T09:39:18.693365+00:00", "modification_date":
      "2021-05-17T09:39:18.693365+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/319d7d2b-6c99-420a-974f-2e7cf838f14d
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''319d7d2b-6c99-420a-974f-2e7cf838f14d''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
