---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-strange-mclean","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "15ca0e31-07f9-4be8-952e-fb9f20de5e00", "name": "tf-vol-strange-mclean",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:10:37.242919+00:00", "modification_date":
      "2022-04-12T10:10:37.242919+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/15ca0e31-07f9-4be8-952e-fb9f20de5e00
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/15ca0e31-07f9-4be8-952e-fb9f20de5e00
    method: GET
  response:
    body: '{"volume": {"id": "15ca0e31-07f9-4be8-952e-fb9f20de5e00", "name": "tf-vol-strange-mclean",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-04-12T10:10:37.242919+00:00", "modification_date":
      "2022-04-12T10:10:37.242919+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/15ca0e31-07f9-4be8-952e-fb9f20de5e00
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''15ca0e31-07f9-4be8-952e-fb9f20de5e00''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
