---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-kind-albattani","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "38d024ab-d498-47ea-b941-e3cc5da4cab3", "name": "tf-vol-kind-albattani",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-05-16T14:40:58.858824+00:00", "modification_date":
      "2022-05-16T14:40:58.858824+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/38d024ab-d498-47ea-b941-e3cc5da4cab3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/38d024ab-d498-47ea-b941-e3cc5da4cab3
    method: GET
  response:
    body: '{"volume": {"id": "38d024ab-d498-47ea-b941-e3cc5da4cab3", "name": "tf-vol-kind-albattani",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-05-16T14:40:58.858824+00:00", "modification_date":
      "2022-05-16T14:40:58.858824+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-keen-haslett","volume_id":"38d024ab-d498-47ea-b941-e3cc5da4cab3","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "11b9423b-cca3-49aa-8c35-cfac951ff988", "name": "tf-snap-keen-haslett",
      "volume_type": "b_ssd", "creation_date": "2022-05-16T14:40:59.315428+00:00",
      "modification_date": "2022-05-16T14:40:59.315428+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "38d024ab-d498-47ea-b941-e3cc5da4cab3",
      "name": "tf-vol-kind-albattani"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/11b9423b-cca3-49aa-8c35-cfac951ff988
    method: GET
  response:
    body: '{"snapshot": {"id": "11b9423b-cca3-49aa-8c35-cfac951ff988", "name": "tf-snap-keen-haslett",
      "volume_type": "b_ssd", "creation_date": "2022-05-16T14:40:59.315428+00:00",
      "modification_date": "2022-05-16T14:40:59.315428+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "38d024ab-d498-47ea-b941-e3cc5da4cab3",
      "name": "tf-vol-kind-albattani"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/11b9423b-cca3-49aa-8c35-cfac951ff988
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"11b9423b-cca3-49aa-8c35-cfac951ff988\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
