---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-competent-cohen","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "4a789bac-11c4-4289-9acd-3ecafd6dd817", "name": "tf-vol-competent-cohen",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T17:00:00.741494+00:00", "modification_date":
      "2021-12-20T17:00:00.741494+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4a789bac-11c4-4289-9acd-3ecafd6dd817
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4a789bac-11c4-4289-9acd-3ecafd6dd817
    method: GET
  response:
    body: '{"volume": {"id": "4a789bac-11c4-4289-9acd-3ecafd6dd817", "name": "tf-vol-competent-cohen",
      "volume_type": "b_ssd", "export_uri": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-12-20T17:00:00.741494+00:00", "modification_date":
      "2021-12-20T17:00:00.741494+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4a789bac-11c4-4289-9acd-3ecafd6dd817
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''4a789bac-11c4-4289-9acd-3ecafd6dd817''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
