---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-relaxed-tereshkova","organization":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:32:20.911176+00:00","export_uri":null,"id":"f62b64e6-be83-48ee-9667-390391026c37","modification_date":"2023-10-16T16:32:20.911176+00:00","name":"tf-vol-relaxed-tereshkova","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/f62b64e6-be83-48ee-9667-390391026c37
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/f62b64e6-be83-48ee-9667-390391026c37
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-16T16:32:20.911176+00:00","export_uri":null,"id":"f62b64e6-be83-48ee-9667-390391026c37","modification_date":"2023-10-16T16:32:20.911176+00:00","name":"tf-vol-relaxed-tereshkova","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-stupefied-grothendieck","volume_id":"f62b64e6-be83-48ee-9667-390391026c37","organization":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"f62b64e6-be83-48ee-9667-390391026c37","name":"tf-vol-relaxed-tereshkova"},"creation_date":"2023-10-16T16:32:21.214401+00:00","error_details":null,"id":"5d2852be-31ff-41f1-a429-4a170343d6c1","modification_date":"2023-10-16T16:32:21.214401+00:00","name":"tf-snap-stupefied-grothendieck","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_5d2852be-31ff-41f1-a429-4a170343d6c1","href_from":"/snapshots","href_result":"snapshots/5d2852be-31ff-41f1-a429-4a170343d6c1","id":"7143c7d8-7af5-422e-af05-2e06a14d4036","started_at":"2023-10-16T16:32:21.615222+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/5d2852be-31ff-41f1-a429-4a170343d6c1
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"f62b64e6-be83-48ee-9667-390391026c37","name":"tf-vol-relaxed-tereshkova"},"creation_date":"2023-10-16T16:32:21.214401+00:00","error_details":null,"id":"5d2852be-31ff-41f1-a429-4a170343d6c1","modification_date":"2023-10-16T16:32:21.214401+00:00","name":"tf-snap-stupefied-grothendieck","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/5d2852be-31ff-41f1-a429-4a170343d6c1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"5d2852be-31ff-41f1-a429-4a170343d6c1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
