---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-elegant-dewdney","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "6286e8b4-6641-446a-8ea5-6ade7664b863", "name": "tf-vol-elegant-dewdney",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-02-15T11:33:33.486335+00:00", "modification_date":
      "2021-02-15T11:33:33.486335+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/6286e8b4-6641-446a-8ea5-6ade7664b863
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6286e8b4-6641-446a-8ea5-6ade7664b863
    method: GET
  response:
    body: '{"volume": {"id": "6286e8b4-6641-446a-8ea5-6ade7664b863", "name": "tf-vol-elegant-dewdney",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2021-02-15T11:33:33.486335+00:00", "modification_date":
      "2021-02-15T11:33:33.486335+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6286e8b4-6641-446a-8ea5-6ade7664b863
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "Volume ''6286e8b4-6641-446a-8ea5-6ade7664b863''
      not found."}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
