---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-ecstatic-aryabhata","project":"105bdce1-64c0-48ab-899d-868455867ecf","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.829384+00:00","export_uri":null,"id":"58c8dc0e-3d56-46b6-aa82-87f6c605fc32","modification_date":"2023-10-31T14:31:00.829384+00:00","name":"tf-vol-ecstatic-aryabhata","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/58c8dc0e-3d56-46b6-aa82-87f6c605fc32
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/58c8dc0e-3d56-46b6-aa82-87f6c605fc32
    method: GET
  response:
    body: '{"volume":{"creation_date":"2023-10-31T14:31:00.829384+00:00","export_uri":null,"id":"58c8dc0e-3d56-46b6-aa82-87f6c605fc32","modification_date":"2023-10-31T14:31:00.829384+00:00","name":"tf-vol-ecstatic-aryabhata","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":null,"size":20000000000,"state":"available","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-eager-elbakyan","volume_id":"58c8dc0e-3d56-46b6-aa82-87f6c605fc32","project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot":{"base_volume":{"id":"58c8dc0e-3d56-46b6-aa82-87f6c605fc32","name":"tf-vol-ecstatic-aryabhata"},"creation_date":"2023-10-31T14:31:01.178123+00:00","error_details":null,"id":"59206e6c-87ed-44c7-98c5-bfd4ed74caba","modification_date":"2023-10-31T14:31:01.178123+00:00","name":"tf-snap-eager-elbakyan","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"},"task":{"description":"snapshot_59206e6c-87ed-44c7-98c5-bfd4ed74caba","href_from":"/snapshots","href_result":"snapshots/59206e6c-87ed-44c7-98c5-bfd4ed74caba","id":"4e9cd099-be71-45d3-a8b8-32f575c24e58","started_at":"2023-10-31T14:31:01.510033+00:00","status":"pending","terminated_at":null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/59206e6c-87ed-44c7-98c5-bfd4ed74caba
    method: GET
  response:
    body: '{"snapshot":{"base_volume":{"id":"58c8dc0e-3d56-46b6-aa82-87f6c605fc32","name":"tf-vol-ecstatic-aryabhata"},"creation_date":"2023-10-31T14:31:01.178123+00:00","error_details":null,"id":"59206e6c-87ed-44c7-98c5-bfd4ed74caba","modification_date":"2023-10-31T14:31:01.178123+00:00","name":"tf-snap-eager-elbakyan","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","size":20000000000,"state":"snapshotting","tags":[],"volume_type":"b_ssd","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/59206e6c-87ed-44c7-98c5-bfd4ed74caba
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance_snapshot","resource_id":"59206e6c-87ed-44c7-98c5-bfd4ed74caba","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
