---
version: 1
interactions:
- request:
    body: '{"name":"tf-vol-stoic-khorana","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","volume_type":"b_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "a93d2121-247c-40dc-b4c6-927fc23229e5", "name": "tf-vol-stoic-khorana",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-20T09:54:30.864716+00:00", "modification_date":
      "2022-06-20T09:54:30.864716+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/a93d2121-247c-40dc-b4c6-927fc23229e5
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/a93d2121-247c-40dc-b4c6-927fc23229e5
    method: GET
  response:
    body: '{"volume": {"id": "a93d2121-247c-40dc-b4c6-927fc23229e5", "name": "tf-vol-stoic-khorana",
      "volume_type": "b_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2022-06-20T09:54:30.864716+00:00", "modification_date":
      "2022-06-20T09:54:30.864716+00:00", "tags": [], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-snap-trusting-cerf","volume_id":"a93d2121-247c-40dc-b4c6-927fc23229e5","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "1f0c775a-1cd5-4acb-9c0d-63c1b85f5ab8", "name": "tf-snap-trusting-cerf",
      "volume_type": "b_ssd", "creation_date": "2022-06-20T09:54:31.402410+00:00",
      "modification_date": "2022-06-20T09:54:31.402410+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "a93d2121-247c-40dc-b4c6-927fc23229e5",
      "name": "tf-vol-stoic-khorana"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}, "task": {"id": "92ed03cc-4ec7-4e0b-8d00-ee46dd587670", "description":
      "rbd_volume_cold_snapshot", "status": "pending", "href_from": "/snapshots",
      "href_result": "snapshots/1f0c775a-1cd5-4acb-9c0d-63c1b85f5ab8", "started_at":
      "2022-06-20T09:54:31.556907+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/1f0c775a-1cd5-4acb-9c0d-63c1b85f5ab8
    method: GET
  response:
    body: '{"snapshot": {"id": "1f0c775a-1cd5-4acb-9c0d-63c1b85f5ab8", "name": "tf-snap-trusting-cerf",
      "volume_type": "b_ssd", "creation_date": "2022-06-20T09:54:31.402410+00:00",
      "modification_date": "2022-06-20T09:54:31.402410+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state":
      "snapshotting", "base_volume": {"id": "a93d2121-247c-40dc-b4c6-927fc23229e5",
      "name": "tf-vol-stoic-khorana"}, "tags": [], "zone": "nl-ams-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test_image_basic","root_volume":"1f0c775a-1cd5-4acb-9c0d-63c1b85f5ab8","arch":"arm","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["tag1","tag2","tag3"],"public":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images
    method: POST
  response:
    body: '{"image": {"id": "43cb2f61-a6d6-4117-86c8-0162d0293b2f", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "1f0c775a-1cd5-4acb-9c0d-63c1b85f5ab8", "name": "tf-snap-trusting-cerf",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-06-20T09:54:37.227417+00:00", "modification_date":
      "2022-06-20T09:54:37.227417+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/43cb2f61-a6d6-4117-86c8-0162d0293b2f
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/43cb2f61-a6d6-4117-86c8-0162d0293b2f
    method: GET
  response:
    body: '{"image": {"id": "43cb2f61-a6d6-4117-86c8-0162d0293b2f", "name": "test_image_basic",
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "root_volume": {"id": "1f0c775a-1cd5-4acb-9c0d-63c1b85f5ab8", "name": "tf-snap-trusting-cerf",
      "volume_type": "b_ssd", "size": 20000000000}, "extra_volumes": {}, "public":
      true, "arch": "arm", "creation_date": "2022-06-20T09:54:37.227417+00:00", "modification_date":
      "2022-06-20T09:54:37.227417+00:00", "default_bootscript": null, "from_server":
      null, "state": "available", "tags": ["tag1", "tag2", "tag3"], "zone": "nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/43cb2f61-a6d6-4117-86c8-0162d0293b2f
    method: GET
  response:
    body: '{"type": "unknown_resource", "message": "\"43cb2f61-a6d6-4117-86c8-0162d0293b2f\"
      not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
