---
version: 1
interactions:
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"unknown_iptype"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.159.82.68","id":"ade61f0d-c592-4fca-9b34-060c1d5803c7","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":null,"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-3"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/ade61f0d-c592-4fca-9b34-060c1d5803c7
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/ade61f0d-c592-4fca-9b34-060c1d5803c7
    method: GET
  response:
    body: '{"ip":{"address":"51.159.82.68","id":"ade61f0d-c592-4fca-9b34-060c1d5803c7","organization":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","prefix":null,"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-3"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-3/ips/ade61f0d-c592-4fca-9b34-060c1d5803c7
    method: DELETE
  response:
    body: '{"message":"insufficient permissions","type":"authorization_required"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
