---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"1e43bce6-04d7-451b-bf8b-a4f2b60e74f8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-20T13:47:41.290Z","updated_at":"2022-04-20T13:47:41.290Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/1e43bce6-04d7-451b-bf8b-a4f2b60e74f8
    method: GET
  response:
    body: '{"region":"fr-par","id":"1e43bce6-04d7-451b-bf8b-a4f2b60e74f8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-20T13:47:41.290Z","updated_at":"2022-04-20T13:47:41.290Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","hub_id":"1e43bce6-04d7-451b-bf8b-a4f2b60e74f8","topic":"#","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"0f9ffbc1-3668-4632-9f43-a16de5941c15","name":"default","hub_id":"1e43bce6-04d7-451b-bf8b-a4f2b60e74f8","topic":"#","type":"rest","created_at":"2022-04-20T13:47:47.193Z","updated_at":"2022-04-20T13:47:47.193Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/0f9ffbc1-3668-4632-9f43-a16de5941c15
    method: GET
  response:
    body: '{"id":"0f9ffbc1-3668-4632-9f43-a16de5941c15","name":"default","hub_id":"1e43bce6-04d7-451b-bf8b-a4f2b60e74f8","topic":"#","type":"rest","created_at":"2022-04-20T13:47:47.193Z","updated_at":"2022-04-20T13:47:47.193Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/1e43bce6-04d7-451b-bf8b-a4f2b60e74f8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"1e43bce6-04d7-451b-bf8b-a4f2b60e74f8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
