---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"328de0ad-0e04-4f0f-8440-7f999c300ca3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:26:35.323Z","updated_at":"2022-04-14T07:26:35.323Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/328de0ad-0e04-4f0f-8440-7f999c300ca3
    method: GET
  response:
    body: '{"region":"fr-par","id":"328de0ad-0e04-4f0f-8440-7f999c300ca3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:26:35.323Z","updated_at":"2022-04-14T07:26:35.323Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","hub_id":"328de0ad-0e04-4f0f-8440-7f999c300ca3","topic":"#","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"934f6fb1-74c3-436d-a1ad-f56cec98588f","name":"default","hub_id":"328de0ad-0e04-4f0f-8440-7f999c300ca3","topic":"#","type":"rest","created_at":"2022-04-14T07:26:46.618Z","updated_at":"2022-04-14T07:26:46.618Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/934f6fb1-74c3-436d-a1ad-f56cec98588f
    method: GET
  response:
    body: '{"id":"934f6fb1-74c3-436d-a1ad-f56cec98588f","name":"default","hub_id":"328de0ad-0e04-4f0f-8440-7f999c300ca3","topic":"#","type":"rest","created_at":"2022-04-14T07:26:46.618Z","updated_at":"2022-04-14T07:26:46.618Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/328de0ad-0e04-4f0f-8440-7f999c300ca3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"328de0ad-0e04-4f0f-8440-7f999c300ca3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
