---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"5ee2d9a4-dc93-4aa8-83cf-e4f41ac6e43f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-02T12:40:28.127Z","updated_at":"2021-11-02T12:40:28.127Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/5ee2d9a4-dc93-4aa8-83cf-e4f41ac6e43f
    method: GET
  response:
    body: '{"region":"fr-par","id":"5ee2d9a4-dc93-4aa8-83cf-e4f41ac6e43f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-02T12:40:28.127Z","updated_at":"2021-11-02T12:40:28.127Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/84893024-cd8a-4232-8169-60471cf94d98/disable
    method: POST
  response:
    body: '{"region":"fr-par","id":"84893024-cd8a-4232-8169-60471cf94d98","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"minimal","status":"disabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-02T12:41:13.942Z","updated_at":"2021-11-02T12:41:19.798Z","enabled":false,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/84893024-cd8a-4232-8169-60471cf94d98
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"84893024-cd8a-4232-8169-60471cf94d98","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
