---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"e222d25c-9564-4b0a-a3aa-26242b14466f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:26:00.751Z","updated_at":"2022-04-14T07:26:00.751Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e222d25c-9564-4b0a-a3aa-26242b14466f
    method: GET
  response:
    body: '{"region":"fr-par","id":"e222d25c-9564-4b0a-a3aa-26242b14466f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:26:00.751Z","updated_at":"2022-04-14T07:26:00.751Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","type":"rest","hub_id":"e222d25c-9564-4b0a-a3aa-26242b14466f","topic_prefix":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: '{"network":{"id":"654fd301-47f0-43e9-83be-411897676cff","name":"default","endpoint":"rest.iot.fr-par.scw.cloud","type":"rest","hub_id":"e222d25c-9564-4b0a-a3aa-26242b14466f","created_at":"2022-04-14T07:26:11.718Z","topic_prefix":""},"secret":"eyJOZXRJRCI6IjY1NGZkMzAxLTQ3ZjAtNDNlOS04M2JlLTQxMTg5NzY3NmNmZiIsIk5ldEtleSI6ImZhYmU1NzFhLWZlZjItNGJlMy1hNGMyLWZjNjM0MDI2YmNkZCJ9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/654fd301-47f0-43e9-83be-411897676cff
    method: GET
  response:
    body: '{"id":"654fd301-47f0-43e9-83be-411897676cff","name":"default","endpoint":"rest.iot.fr-par.scw.cloud","type":"rest","hub_id":"e222d25c-9564-4b0a-a3aa-26242b14466f","created_at":"2022-04-14T07:26:11.718Z","topic_prefix":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e222d25c-9564-4b0a-a3aa-26242b14466f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"e222d25c-9564-4b0a-a3aa-26242b14466f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
