---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"a51359a7-d743-4904-99af-8710cddd9cc5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-13T15:33:45.929Z","updated_at":"2022-04-13T15:33:45.929Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/a51359a7-d743-4904-99af-8710cddd9cc5
    method: GET
  response:
    body: '{"region":"fr-par","id":"a51359a7-d743-4904-99af-8710cddd9cc5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"ready","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-13T15:33:45.929Z","updated_at":"2022-04-13T15:33:45.929Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","type":"sigfox","hub_id":"a51359a7-d743-4904-99af-8710cddd9cc5","topic_prefix":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: '{"network":{"id":"988e2988-db41-4176-a45c-3742e63f1cf1","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"a51359a7-d743-4904-99af-8710cddd9cc5","created_at":"2022-04-13T15:33:46.604Z","topic_prefix":""},"secret":"eyJOZXRJRCI6Ijk4OGUyOTg4LWRiNDEtNDE3Ni1hNDVjLTM3NDJlNjNmMWNmMSIsIk5ldEtleSI6IjhhMGY1NjA4LThiZGUtNDZlOC04ZDNiLTllODU3ZmU1ZTY3NyJ9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/988e2988-db41-4176-a45c-3742e63f1cf1
    method: GET
  response:
    body: '{"id":"988e2988-db41-4176-a45c-3742e63f1cf1","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"a51359a7-d743-4904-99af-8710cddd9cc5","created_at":"2022-04-13T15:33:46.604Z","topic_prefix":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/a51359a7-d743-4904-99af-8710cddd9cc5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"a51359a7-d743-4904-99af-8710cddd9cc5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
