---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-28T10:07:07.640Z","updated_at":"2021-01-28T10:07:07.640Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/dd4d694a-69a1-4d20-b4f3-ef99c86f66f8
    method: GET
  response:
    body: '{"region":"fr-par","id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-28T10:07:07.640Z","updated_at":"2021-01-28T10:07:07.640Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","engine":"PostgreSQL-12","user_name":"root","password":"T3stP4ssw0rdD0N0tUs3!","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"6e106a95-b622-4e62-b0b2-36f423b83f05","name":"minimal","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-01-28T10:07:07.875216Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e106a95-b622-4e62-b0b2-36f423b83f05
    method: GET
  response:
    body: '{"id":"6e106a95-b622-4e62-b0b2-36f423b83f05","name":"minimal","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-01-28T10:07:07.875216Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e106a95-b622-4e62-b0b2-36f423b83f05
    method: GET
  response:
    body: '{"id":"6e106a95-b622-4e62-b0b2-36f423b83f05","name":"minimal","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.25.131","port":34757,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-01-28T10:07:07.875216Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e106a95-b622-4e62-b0b2-36f423b83f05/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVYnBGa1dzTjI3T0h4TkllOVpFOGNIbmJuVGlzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDJaVEV3Tm1FNU5TMWlOakl5CkxUUmxOakl0WWpCaU1pMHpObVkwTWpOaU9ETm1NRFV1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFd01USTRNVEF3T0RFNVdoY05NekV3TVRJMk1UQXdPREU1V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"name":"default","hub_id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","topic":"#","db_config":{"host":"51.159.25.131","port":34757,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"2de61186-20e8-4e76-b6a2-caaa6d1be335","name":"default","hub_id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","topic":"#","type":"database","created_at":"2021-01-28T10:09:10.424Z","db_config":{"host":"51.159.25.131","port":34757,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/2de61186-20e8-4e76-b6a2-caaa6d1be335
    method: GET
  response:
    body: '{"id":"2de61186-20e8-4e76-b6a2-caaa6d1be335","name":"default","hub_id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","topic":"#","type":"database","created_at":"2021-01-28T10:09:10.424Z","db_config":{"host":"51.159.25.131","port":34757,"dbname":"rdb","username":"root","password":"","query":"SELECT
      NOW()"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCW5J4SZ8NWGBAHQV7HP/20210128/fr-par/s3/aws4_request,
        SignedHeaders=content-length;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=21f6d36a9ffc330200ea5e3e7229d4ca62eb39f1cd58d5c2e8b5ec1ccb856a75
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20210128T100912Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-iot-route-minimal
      X-Amz-Request-Id:
      - tx0b7a5e68c04947fca7dab-0060128d48
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCW5J4SZ8NWGBAHQV7HP/20210128/fr-par/s3/aws4_request,
        SignedHeaders=content-md5;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=c731c9b5725dd50e2383471c7ec51b58ba7913c662f2346dcb98ed1755e4bec4
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210128T100914Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx2284e95dedac40498b0b2-0060128d4a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCW5J4SZ8NWGBAHQV7HP/20210128/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=07372a876748dce5953581384bc136a3e319740035cea4a16d8932eb733926b6
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210128T100914Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-iot-route-minimal</Name><Prefix/><Marker/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txf07a2cd9972f456ab0b77-0060128d4a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCW5J4SZ8NWGBAHQV7HP/20210128/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=a0cf9c7e400fcec79c21f823a5f96e96cf311a7b1cd390bb05e61e21d3330930
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210128T100914Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>txf26b653a099f4d75ac63f-0060128d4a</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txf26b653a099f4d75ac63f-0060128d4a
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCW5J4SZ8NWGBAHQV7HP/20210128/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=70be8115cdb136a906bd99287c01cd98eeac0302120d64417058d446f9871311
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210128T100914Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx21f5fed44b46440f897de-0060128d4a</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx21f5fed44b46440f897de-0060128d4a
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCW5J4SZ8NWGBAHQV7HP/20210128/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=cf78560e53cea4e94a0180a9a516caa0fe5a9eb8ab91b99adcd5f0aa6f4a507a
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210128T100914Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status>Suspended</Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - tx08c3981cc75649ceacc37-0060128d4a
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e106a95-b622-4e62-b0b2-36f423b83f05
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6e106a95-b622-4e62-b0b2-36f423b83f05","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"name":"default","hub_id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","topic":"#","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"2e7b6e87-d282-4844-b9bb-5ed1e2e7842b","name":"default","hub_id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","topic":"#","type":"s3","created_at":"2021-01-28T10:09:43.949Z","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","hub_id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","topic":"#","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"9edaca23-0319-41a9-9eab-f2da6ace15ff","name":"default","hub_id":"dd4d694a-69a1-4d20-b4f3-ef99c86f66f8","topic":"#","type":"rest","created_at":"2021-01-28T10:09:46.980Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
