---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"6097669a-28c9-443a-88a3-390e9dc8fa3b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-30T11:04:51.932Z","updated_at":"2021-11-30T11:04:51.932Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/6097669a-28c9-443a-88a3-390e9dc8fa3b
    method: GET
  response:
    body: '{"region":"fr-par","id":"6097669a-28c9-443a-88a3-390e9dc8fa3b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-30T11:04:51.932Z","updated_at":"2021-11-30T11:04:51.932Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","type":"sigfox","hub_id":"6097669a-28c9-443a-88a3-390e9dc8fa3b","topic_prefix":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: '{"network":{"id":"158baba2-77a9-4df9-977d-133c3452033e","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"6097669a-28c9-443a-88a3-390e9dc8fa3b","created_at":"2021-11-30T11:05:02.635Z","topic_prefix":""},"secret":"eyJOZXRJRCI6IjE1OGJhYmEyLTc3YTktNGRmOS05NzdkLTEzM2MzNDUyMDMzZSIsIk5ldEtleSI6IjU0ZjU1YzU4LTM3YTAtNGQwZC04OGZmLTI3MGY0MjY4Mjc3ZSJ9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/158baba2-77a9-4df9-977d-133c3452033e
    method: GET
  response:
    body: '{"id":"158baba2-77a9-4df9-977d-133c3452033e","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"6097669a-28c9-443a-88a3-390e9dc8fa3b","created_at":"2021-11-30T11:05:02.635Z","topic_prefix":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/6097669a-28c9-443a-88a3-390e9dc8fa3b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"6097669a-28c9-443a-88a3-390e9dc8fa3b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
