---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"ec15b207-1c37-4f53-be6b-0f91a75b73bd","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-28T14:57:47.839Z","updated_at":"2021-01-28T14:57:47.839Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/ec15b207-1c37-4f53-be6b-0f91a75b73bd
    method: GET
  response:
    body: '{"region":"fr-par","id":"ec15b207-1c37-4f53-be6b-0f91a75b73bd","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-28T14:57:47.839Z","updated_at":"2021-01-28T14:57:47.839Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","type":"sigfox","hub_id":"ec15b207-1c37-4f53-be6b-0f91a75b73bd","topic_prefix":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: '{"network":{"id":"4e762ae5-1461-43bb-bdc3-838dc44e05dc","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"ec15b207-1c37-4f53-be6b-0f91a75b73bd","created_at":"2021-01-28T14:57:54.066Z","topic_prefix":""},"secret":"eyJOZXRJRCI6IjRlNzYyYWU1LTE0NjEtNDNiYi1iZGMzLTgzOGRjNDRlMDVkYyIsIk5ldEtleSI6IjdiMzFmMTk1LWZhZmItNDdlNi04ODE2LWI4NTVmY2VkNDlmNyJ9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/4e762ae5-1461-43bb-bdc3-838dc44e05dc
    method: GET
  response:
    body: '{"id":"4e762ae5-1461-43bb-bdc3-838dc44e05dc","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"ec15b207-1c37-4f53-be6b-0f91a75b73bd","created_at":"2021-01-28T14:57:54.066Z","topic_prefix":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/ec15b207-1c37-4f53-be6b-0f91a75b73bd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"ec15b207-1c37-4f53-be6b-0f91a75b73bd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
