---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"e7ece496-2db4-4130-80e1-ae4c7312ec74","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:25:19.571Z","updated_at":"2022-04-14T07:25:19.571Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e7ece496-2db4-4130-80e1-ae4c7312ec74
    method: GET
  response:
    body: '{"region":"fr-par","id":"e7ece496-2db4-4130-80e1-ae4c7312ec74","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:25:19.571Z","updated_at":"2022-04-14T07:25:19.571Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","type":"sigfox","hub_id":"e7ece496-2db4-4130-80e1-ae4c7312ec74","topic_prefix":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: '{"network":{"id":"fa0831bf-d2d7-41ce-968f-6e55b647356f","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"e7ece496-2db4-4130-80e1-ae4c7312ec74","created_at":"2022-04-14T07:25:30.594Z","topic_prefix":""},"secret":"eyJOZXRJRCI6ImZhMDgzMWJmLWQyZDctNDFjZS05NjhmLTZlNTViNjQ3MzU2ZiIsIk5ldEtleSI6ImFkMGNjNTUzLTFhZGEtNDg5Zi1iNjI1LWRkMzRhYTM0YjA4NSJ9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/fa0831bf-d2d7-41ce-968f-6e55b647356f
    method: GET
  response:
    body: '{"id":"fa0831bf-d2d7-41ce-968f-6e55b647356f","name":"default","endpoint":"sigfox.iot.fr-par.scw.cloud","type":"sigfox","hub_id":"e7ece496-2db4-4130-80e1-ae4c7312ec74","created_at":"2022-04-14T07:25:30.594Z","topic_prefix":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e7ece496-2db4-4130-80e1-ae4c7312ec74
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"e7ece496-2db4-4130-80e1-ae4c7312ec74","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
