---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","engine":"PostgreSQL-12","user_name":"root","password":"T3stP4ssw0rdD0N0tUs3!","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"345b73cf-f707-4636-8133-5fe3d6f1d9c7","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-11-30T11:04:52.109810Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/345b73cf-f707-4636-8133-5fe3d6f1d9c7
    method: GET
  response:
    body: '{"id":"345b73cf-f707-4636-8133-5fe3d6f1d9c7","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-11-30T11:04:52.109810Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"a575d508-3691-450d-a972-a317a516eeeb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-30T11:04:51.939Z","updated_at":"2021-11-30T11:04:51.939Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/a575d508-3691-450d-a972-a317a516eeeb
    method: GET
  response:
    body: '{"region":"fr-par","id":"a575d508-3691-450d-a972-a317a516eeeb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-30T11:04:51.939Z","updated_at":"2021-11-30T11:04:51.939Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/345b73cf-f707-4636-8133-5fe3d6f1d9c7
    method: GET
  response:
    body: '{"id":"345b73cf-f707-4636-8133-5fe3d6f1d9c7","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.10.229","port":35702,"name":null,"id":"7eda348b-5d49-4bac-913d-215e6ed0cbcb","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.10.229","port":35702,"name":null,"id":"7eda348b-5d49-4bac-913d-215e6ed0cbcb","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-11-30T11:04:52.109810Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/345b73cf-f707-4636-8133-5fe3d6f1d9c7/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVVkYycG1MNWNOdUkwRDIzVVBPT1E0VkxrVkNvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHpORFZpTnpOalppMW1OekEzCkxUUTJNell0T0RFek15MDFabVV6WkRabU1XUTVZemN1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1UTXdNVEV3TmpJMFdoY05NekV4TVRJNE1URXdOakkwV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"name":"default","hub_id":"a575d508-3691-450d-a972-a317a516eeeb","topic":"#","db_config":{"host":"51.159.10.229","port":35702,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"unknown"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"a49e3366-0a11-4a08-ba6d-ddc2b5900217","name":"default","hub_id":"a575d508-3691-450d-a972-a317a516eeeb","topic":"#","type":"database","created_at":"2021-11-30T11:08:53.760Z","updated_at":"2021-11-30T11:08:53.760Z","db_config":{"host":"51.159.10.229","port":35702,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/a49e3366-0a11-4a08-ba6d-ddc2b5900217
    method: GET
  response:
    body: '{"id":"a49e3366-0a11-4a08-ba6d-ddc2b5900217","name":"default","hub_id":"a575d508-3691-450d-a972-a317a516eeeb","topic":"#","type":"database","created_at":"2021-11-30T11:08:53.760Z","updated_at":"2021-11-30T11:08:53.760Z","db_config":{"host":"51.159.10.229","port":35702,"dbname":"rdb","username":"root","password":"","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20211130/fr-par/s3/aws4_request,
        SignedHeaders=content-length;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=131c6da136b908f2b1f3bb97c99a373ee889e36271a7b68bff14bb2d1ad2f676
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20211130T110856Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-iot-route-minimal
      X-Amz-Request-Id:
      - txc01393096114410c98a6a-0061a60648
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20211130/fr-par/s3/aws4_request,
        SignedHeaders=content-md5;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=ac256fd21377951df54634d4bc4958b633c9ba3ceb03ea5705e2265d3f83b6af
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20211130T110857Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx8e75191232ee410e92768-0061a60649
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20211130/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=73b891db882ea56787e8614168dae9c262153667e09c049ddc00181614a1f93c
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20211130T110857Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-iot-route-minimal</Name><Prefix/><Marker/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx33211b417b394789accd5-0061a60649
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20211130/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=7c6cf2a2ebf1ce6139269226f6cfe979a0150dd70c249e118d215bd2853e298f
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20211130T110857Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>txc249c39d1e3841b68ff9e-0061a6064a</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txc249c39d1e3841b68ff9e-0061a6064a
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20211130/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=472d35d380da2d21cf0dd971ad752398912bd92d4429eb5a39507af538891a3f
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20211130T110858Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx657783219e024194afae0-0061a6064a</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx657783219e024194afae0-0061a6064a
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20211130/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=d6beda96547017ff0f39e34f9a3023cdb282f906cf63f94840c1508be1e463f8
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20211130T110858Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status>Suspended</Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - tx6aa4398e6d944670a9936-0061a6064a
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/345b73cf-f707-4636-8133-5fe3d6f1d9c7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"345b73cf-f707-4636-8133-5fe3d6f1d9c7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"name":"default","hub_id":"a575d508-3691-450d-a972-a317a516eeeb","topic":"#","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"d0d673f5-99c8-4af4-b316-0b8606a6a5de","name":"default","hub_id":"a575d508-3691-450d-a972-a317a516eeeb","topic":"#","type":"s3","created_at":"2021-11-30T11:09:27.054Z","updated_at":"2021-11-30T11:09:27.054Z","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","hub_id":"a575d508-3691-450d-a972-a317a516eeeb","topic":"#","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"57071d9b-77f6-448c-8e6b-5b3701e4265a","name":"default","hub_id":"a575d508-3691-450d-a972-a317a516eeeb","topic":"#","type":"rest","created_at":"2021-11-30T11:09:35.189Z","updated_at":"2021-11-30T11:09:35.189Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
