---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"connected_device_count":0,"created_at":"2023-10-20T16:22:46.933Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"af349c53-39aa-4f58-9883-25c72a28794c","name":"minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","product_plan":"plan_shared","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"enabling","updated_at":"2023-10-20T16:22:46.933Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/af349c53-39aa-4f58-9883-25c72a28794c
    method: GET
  response:
    body: '{"connected_device_count":0,"created_at":"2023-10-20T16:22:46.933Z","device_count":0,"disable_events":false,"enable_device_auto_provisioning":false,"enabled":true,"endpoint":"iot.fr-par.scw.cloud","events_topic_prefix":"$SCW/events","has_custom_ca":false,"id":"af349c53-39aa-4f58-9883-25c72a28794c","name":"minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","product_plan":"plan_shared","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"enabling","updated_at":"2023-10-20T16:22:46.933Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"minimal","engine":"PostgreSQL-15","user_name":"root","password":"T3stP4ssw0rdD0N0tUs3!","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:22:53.461448Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"d8e62971-9209-4159-88d4-dab6ce216e1d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"minimal","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8e62971-9209-4159-88d4-dab6ce216e1d
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:22:53.461448Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"d8e62971-9209-4159-88d4-dab6ce216e1d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"minimal","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8e62971-9209-4159-88d4-dab6ce216e1d
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:22:53.461448Z","endpoint":{"id":"4bd569cd-622b-4937-a0fb-96f8fcd1d668","ip":"51.158.59.14","load_balancer":{},"name":null,"port":19086},"endpoints":[{"id":"4bd569cd-622b-4937-a0fb-96f8fcd1d668","ip":"51.158.59.14","load_balancer":{},"name":null,"port":19086}],"engine":"PostgreSQL-15","id":"d8e62971-9209-4159-88d4-dab6ce216e1d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"minimal","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d8e62971-9209-4159-88d4-dab6ce216e1d/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURvVENDQW9tZ0F3SUJBZ0lVWXF5RzZ5cFZnTU1SQnBNNE8rWTJZZU52NGlVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERVeExqRTFPQzQxT1M0eE5EQWVGdzB5Ck16RXdNakF4TmpJek16SmFGdzB6TXpFd01UY3hOakl6TXpKYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBdzFNUzR4TlRndU5[...]
[...]
- request:
    body: '{"name":"default","hub_id":"af349c53-39aa-4f58-9883-25c72a28794c","topic":"#","db_config":{"host":"51.158.59.14","port":19086,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"unknown"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"created_at":"2023-10-20T16:25:58.687Z","db_config":{"dbname":"rdb","engine":"postgresql","host":"51.158.59.14","password":"T3stP4ssw0rdD0N0tUs3!","port":19086,"query":"SELECT
      NOW()","username":"root"},"hub_id":"af349c53-39aa-4f58-9883-25c72a28794c","id":"3dd05a00-d761-41bf-802f-ebda4ca09211","name":"default","topic":"#","type":"database","updated_at":"2023-10-20T16:25:58.687Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/3dd05a00-d761-41bf-802f-ebda4ca09211
    method: GET
  response:
    body: '{"created_at":"2023-10-20T16:25:58.687Z","db_config":{"dbname":"rdb","engine":"postgresql","host":"51.158.59.14","password":"","port":19086,"query":"SELECT
      NOW()","username":"root"},"hub_id":"af349c53-39aa-4f58-9883-25c72a28794c","id":"3dd05a00-d761-41bf-802f-ebda4ca09211","name":"default","topic":"#","type":"database","updated_at":"2023-10-20T16:25:58.687Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/af349c53-39aa-4f58-9883-25c72a28794c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"af349c53-39aa-4f58-9883-25c72a28794c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
