---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"7e07890c-778f-4191-a6b1-6c562a659885","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:25:42.121Z","updated_at":"2022-04-14T07:25:42.121Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/7e07890c-778f-4191-a6b1-6c562a659885
    method: GET
  response:
    body: '{"region":"fr-par","id":"7e07890c-778f-4191-a6b1-6c562a659885","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:25:42.121Z","updated_at":"2022-04-14T07:25:42.121Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","type":"rest","hub_id":"7e07890c-778f-4191-a6b1-6c562a659885","topic_prefix":"foo/bar"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks
    method: POST
  response:
    body: '{"network":{"id":"fa9b21ca-a00e-4822-a1d6-8d64ee26561a","name":"default","endpoint":"rest.iot.fr-par.scw.cloud","type":"rest","hub_id":"7e07890c-778f-4191-a6b1-6c562a659885","created_at":"2022-04-14T07:25:49.236Z","topic_prefix":"foo/bar"},"secret":"eyJOZXRJRCI6ImZhOWIyMWNhLWEwMGUtNDgyMi1hMWQ2LThkNjRlZTI2NTYxYSIsIk5ldEtleSI6ImU5MzhiMjY2LWM0MDctNGFiNC1iYzY5LWVmMDM5NThkOGIwMCJ9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/networks/fa9b21ca-a00e-4822-a1d6-8d64ee26561a
    method: GET
  response:
    body: '{"id":"fa9b21ca-a00e-4822-a1d6-8d64ee26561a","name":"default","endpoint":"rest.iot.fr-par.scw.cloud","type":"rest","hub_id":"7e07890c-778f-4191-a6b1-6c562a659885","created_at":"2022-04-14T07:25:49.236Z","topic_prefix":"foo/bar"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/7e07890c-778f-4191-a6b1-6c562a659885
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"7e07890c-778f-4191-a6b1-6c562a659885","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
