---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"e06549db-8dc8-4cf6-b990-23c3d9b83d74","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-28T09:49:37.825Z","updated_at":"2021-01-28T09:49:37.825Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e06549db-8dc8-4cf6-b990-23c3d9b83d74
    method: GET
  response:
    body: '{"region":"fr-par","id":"e06549db-8dc8-4cf6-b990-23c3d9b83d74","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-28T09:49:37.825Z","updated_at":"2021-01-28T09:49:37.825Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","hub_id":"e06549db-8dc8-4cf6-b990-23c3d9b83d74","allow_insecure":false,"allow_multiple_connections":false,"message_filters":null,"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices
    method: POST
  response:
    body: '{"device":{"id":"d9fae48b-9156-40a0-a970-ef402f4fd8e7","name":"default","status":"enabled","hub_id":"e06549db-8dc8-4cf6-b990-23c3d9b83d74","created_at":"2021-01-28T09:49:43.786Z","updated_at":"2021-01-28T09:49:43.786Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":""},"certificate":{"crt":"-----BEGIN
      CERTIFICATE-----\nMIIEUjCCAzqgAwIBAgIRANFwj9CwaqmSOvtAFk5KjdswDQYJKoZIhvcNAQELBQAw\ngc0xCzAJBgNVBAYTAkZSMQ8wDQYDVQQIEwZGcmFuY2UxDjAMBgNVBAcTBVBhcmlz\nMRIwEAYDVQQJEwlMYSBNYWlzb24xCTAHBgNVBBETADEYMBYGA1UEChMPU2NhbGV3\nYXkvT25saW5lMRAwDgYDVQQLEwdMYWIvSW9UMSEwHwYDVQQDExhTY2FsZXdheSBJ\nb1QgQ2VydGlmaWNhdGUxLzAtBgNVBAUTJjExNDQ3OTA4NDgwNjQ0MzY5ODQ3ODc5\nNDU0MTc0NjE2NTU0NDMwMB4XDTIxMDEyNzA5NDk0NFoXDTMxMDEyNzA5NDk0NFow\ngaIxCzAJBgNVBAYTAkZSMQwwCgYDVQQIEwNJREYxDjAMBgNVBAcTBVBhcmlzMTEw\nLw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/devices/d9fae48b-9156-40a0-a970-ef402f4fd8e7
    method: GET
  response:
    body: '{"id":"d9fae48b-9156-40a0-a970-ef402f4fd8e7","name":"default","status":"enabled","hub_id":"e06549db-8dc8-4cf6-b990-23c3d9b83d74","created_at":"2021-01-28T09:49:43.786Z","updated_at":"2021-01-28T09:49:43.786Z","allow_insecure":false,"last_activity_at":"1970-01-01T00:00:00Z","is_connected":false,"message_filters":{"publish":{"policy":"reject","topics":[]},"subscribe":{"policy":"reject","topics":[]}},"allow_multiple_connections":false,"description":""}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e06549db-8dc8-4cf6-b990-23c3d9b83d74
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"e06549db-8dc8-4cf6-b990-23c3d9b83d74","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
