---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","engine":"PostgreSQL-12","user_name":"root","password":"T3stP4ssw0rdD0N0tUs3!","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"8ee10e20-6b21-4a9e-a18d-ea576ed765e0","name":"minimal","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-20T13:47:55.408697Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8ee10e20-6b21-4a9e-a18d-ea576ed765e0
    method: GET
  response:
    body: '{"id":"8ee10e20-6b21-4a9e-a18d-ea576ed765e0","name":"minimal","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-20T13:47:55.408697Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"027ceda9-1d19-4bfd-88b6-0bf69edf30b8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-20T13:47:55.181Z","updated_at":"2022-04-20T13:47:55.181Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/027ceda9-1d19-4bfd-88b6-0bf69edf30b8
    method: GET
  response:
    body: '{"region":"fr-par","id":"027ceda9-1d19-4bfd-88b6-0bf69edf30b8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-20T13:47:55.181Z","updated_at":"2022-04-20T13:47:55.181Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8ee10e20-6b21-4a9e-a18d-ea576ed765e0
    method: GET
  response:
    body: '{"id":"8ee10e20-6b21-4a9e-a18d-ea576ed765e0","name":"minimal","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.11.19","port":33633,"name":null,"id":"46761577-b14d-4fd8-a2ed-2ba467f3e792","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.11.19","port":33633,"name":null,"id":"46761577-b14d-4fd8-a2ed-2ba467f3e792","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-20T13:47:55.408697Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8ee10e20-6b21-4a9e-a18d-ea576ed765e0/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVTEFsSjBKcm81Z0Yxb0l1SHN5QXdoYmFoMjhNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDRaV1V4TUdVeU1DMDJZakl4CkxUUmhPV1V0WVRFNFpDMWxZVFUzTm1Wa056WTFaVEF1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05ESXdNVE0wT1RFNFdoY05Nekl3TkRFM01UTTBPVEU0V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"name":"default","hub_id":"027ceda9-1d19-4bfd-88b6-0bf69edf30b8","topic":"#","db_config":{"host":"51.159.11.19","port":33633,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"unknown"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"407becac-5603-4516-b4cf-718fd2b09fb3","name":"default","hub_id":"027ceda9-1d19-4bfd-88b6-0bf69edf30b8","topic":"#","type":"database","created_at":"2022-04-20T13:51:27.099Z","updated_at":"2022-04-20T13:51:27.099Z","db_config":{"host":"51.159.11.19","port":33633,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/407becac-5603-4516-b4cf-718fd2b09fb3
    method: GET
  response:
    body: '{"id":"407becac-5603-4516-b4cf-718fd2b09fb3","name":"default","hub_id":"027ceda9-1d19-4bfd-88b6-0bf69edf30b8","topic":"#","type":"database","created_at":"2022-04-20T13:51:27.099Z","updated_at":"2022-04-20T13:51:27.099Z","db_config":{"host":"51.159.11.19","port":33633,"dbname":"rdb","username":"root","password":"","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/027ceda9-1d19-4bfd-88b6-0bf69edf30b8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"027ceda9-1d19-4bfd-88b6-0bf69edf30b8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
