---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"0c274d8e-0275-42e7-ab93-0fdaa5f31e55","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-30T11:04:51.957Z","updated_at":"2021-11-30T11:04:51.957Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/0c274d8e-0275-42e7-ab93-0fdaa5f31e55
    method: GET
  response:
    body: '{"region":"fr-par","id":"0c274d8e-0275-42e7-ab93-0fdaa5f31e55","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-30T11:04:51.957Z","updated_at":"2021-11-30T11:04:51.957Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/31e8b3c6-93bd-46e8-a44b-5669ccc9589b/disable
    method: POST
  response:
    body: '{"region":"fr-par","id":"31e8b3c6-93bd-46e8-a44b-5669ccc9589b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"disabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-11-30T11:05:33.675Z","updated_at":"2021-11-30T11:05:49.486Z","enabled":false,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/31e8b3c6-93bd-46e8-a44b-5669ccc9589b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"31e8b3c6-93bd-46e8-a44b-5669ccc9589b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
