---
version: 1
interactions:
- request:
    body: '{"project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","name":"minimal","engine":"PostgreSQL-12","user_name":"root","password":"T3stP4ssw0rdD0N0tUs3!","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"a15e38cd-e469-43d1-93c6-2d357c7a777b","name":"minimal","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-18T14:06:45.185420Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"minimal","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"a618abc8-f6cd-4443-8917-783a46137a36","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-05-18T14:06:44.970Z","updated_at":"2021-05-18T14:06:44.970Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a15e38cd-e469-43d1-93c6-2d357c7a777b
    method: GET
  response:
    body: '{"id":"a15e38cd-e469-43d1-93c6-2d357c7a777b","name":"minimal","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-18T14:06:45.185420Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/a618abc8-f6cd-4443-8917-783a46137a36
    method: GET
  response:
    body: '{"region":"fr-par","id":"a618abc8-f6cd-4443-8917-783a46137a36","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-05-18T14:06:44.970Z","updated_at":"2021-05-18T14:06:44.970Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a15e38cd-e469-43d1-93c6-2d357c7a777b
    method: GET
  response:
    body: '{"id":"a15e38cd-e469-43d1-93c6-2d357c7a777b","name":"minimal","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.24.243","port":21790,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-18T14:06:45.185420Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a15e38cd-e469-43d1-93c6-2d357c7a777b/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVTmJ5V09xZkw0UTdpbW5ZTGNCWklXTzVoS0Z3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWhNVFZsTXpoalpDMWxORFk1CkxUUXpaREV0T1ROak5pMHlaRE0xTjJNM1lUYzNOMkl1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFd05URTRNVFF3T0RNeVdoY05NekV3TlRFMk1UUXdPRE15V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"name":"default","hub_id":"a618abc8-f6cd-4443-8917-783a46137a36","topic":"#","db_config":{"host":"51.159.24.243","port":21790,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"e4c41979-0464-4c00-8005-25fd67747787","name":"default","hub_id":"a618abc8-f6cd-4443-8917-783a46137a36","topic":"#","type":"database","created_at":"2021-05-18T14:10:33.350Z","updated_at":"2021-05-18T14:10:33.350Z","db_config":{"host":"51.159.24.243","port":21790,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/e4c41979-0464-4c00-8005-25fd67747787
    method: GET
  response:
    body: '{"id":"e4c41979-0464-4c00-8005-25fd67747787","name":"default","hub_id":"a618abc8-f6cd-4443-8917-783a46137a36","topic":"#","type":"database","created_at":"2021-05-18T14:10:33.350Z","updated_at":"2021-05-18T14:10:33.350Z","db_config":{"host":"51.159.24.243","port":21790,"dbname":"rdb","username":"root","password":"","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWJ9FJYVF1SPS9HX0VZ/20210518/fr-par/s3/aws4_request,
        SignedHeaders=content-length;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=b25b50a628d3e7e3d1ea0817876ae611f6a0c38fd7832ea1998f1d3e1cab8afd
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20210518T141034Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-iot-route-minimal
      X-Amz-Request-Id:
      - tx42387b2ee52e4fb98ed53-0060a3cada
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWJ9FJYVF1SPS9HX0VZ/20210518/fr-par/s3/aws4_request,
        SignedHeaders=content-md5;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=07cc2a525cedf7da7cd7531203dbacf30afdca75819385b326ac6cd0981a450e
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210518T141036Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - txd54d4a0b146d4065b703f-0060a3cadc
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWJ9FJYVF1SPS9HX0VZ/20210518/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=e83e7599a3b2ece4afe38fa72123778ba230125940f6580322636011a2a3fe6a
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210518T141036Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-iot-route-minimal</Name><Prefix/><Marker/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txddafa1f2037d42d497ddd-0060a3cadc
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWJ9FJYVF1SPS9HX0VZ/20210518/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=0e48fcb48561045e1bcc04a0586f285683c364aade166489c51d1f8294753340
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210518T141036Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>tx86644fae74144f37bf239-0060a3cadc</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx86644fae74144f37bf239-0060a3cadc
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWJ9FJYVF1SPS9HX0VZ/20210518/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=9c0df924f3ffe140b722d2c3b3260f1e8f9520c195651dc1cdac84c3bc9a065c
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210518T141036Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx325313b5e9cb4a849f929-0060a3cadc</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx325313b5e9cb4a849f929-0060a3cadc
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWJ9FJYVF1SPS9HX0VZ/20210518/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=f2404e146f321a9e8dc935d4961f2be5d2a9ec5b889e13b6cafa29988fbeb92b
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20210518T141036Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status>Suspended</Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - tx26447119c87c44eb9e4cf-0060a3cadc
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"default","hub_id":"a618abc8-f6cd-4443-8917-783a46137a36","topic":"#","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"24158060-3f79-49bc-941d-2710fcdb8760","name":"default","hub_id":"a618abc8-f6cd-4443-8917-783a46137a36","topic":"#","type":"s3","created_at":"2021-05-18T14:10:36.940Z","updated_at":"2021-05-18T14:10:36.940Z","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a15e38cd-e469-43d1-93c6-2d357c7a777b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"a15e38cd-e469-43d1-93c6-2d357c7a777b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"default","hub_id":"a618abc8-f6cd-4443-8917-783a46137a36","topic":"#","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"59c1cdb7-f053-4bd5-bfc0-c01da3e1a747","name":"default","hub_id":"a618abc8-f6cd-4443-8917-783a46137a36","topic":"#","type":"rest","created_at":"2021-05-18T14:11:08.918Z","updated_at":"2021-05-18T14:11:08.918Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
