---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","engine":"PostgreSQL-12","user_name":"root","password":"T3stP4ssw0rdD0N0tUs3!","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"691c9733-3355-474f-831c-d8ea61a6beee","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-02-08T15:34:55.468106Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"cac13841-484c-488a-8cc4-50c6d5b3244b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-02-08T15:34:55.244Z","updated_at":"2022-02-08T15:34:55.244Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/691c9733-3355-474f-831c-d8ea61a6beee
    method: GET
  response:
    body: '{"id":"691c9733-3355-474f-831c-d8ea61a6beee","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-02-08T15:34:55.468106Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/cac13841-484c-488a-8cc4-50c6d5b3244b
    method: GET
  response:
    body: '{"region":"fr-par","id":"cac13841-484c-488a-8cc4-50c6d5b3244b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-02-08T15:34:55.244Z","updated_at":"2022-02-08T15:34:55.244Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/691c9733-3355-474f-831c-d8ea61a6beee
    method: GET
  response:
    body: '{"id":"691c9733-3355-474f-831c-d8ea61a6beee","name":"minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.158.56.32","port":15770,"name":null,"id":"965a0aa3-9758-47c7-889a-45c5e77bf9ae","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.158.56.32","port":15770,"name":null,"id":"965a0aa3-9758-47c7-889a-45c5e77bf9ae","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-02-08T15:34:55.468106Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/691c9733-3355-474f-831c-d8ea61a6beee/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVSEVyMnZJc3dEZlJZbVFrS001M2lnalU1Zytnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDJPVEZqT1Rjek15MHpNelUxCkxUUTNOR1l0T0RNeFl5MWtPR1ZoTmpGaE5tSmxaV1V1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd01qQTRNVFV6TmpNMVdoY05Nekl3TWpBMk1UVXpOak0xV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"name":"default","hub_id":"cac13841-484c-488a-8cc4-50c6d5b3244b","topic":"#","db_config":{"host":"51.158.56.32","port":15770,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"unknown"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"50dd9202-37db-403e-95ef-d05bac3c6de0","name":"default","hub_id":"cac13841-484c-488a-8cc4-50c6d5b3244b","topic":"#","type":"database","created_at":"2022-02-08T15:38:57.331Z","updated_at":"2022-02-08T15:38:57.331Z","db_config":{"host":"51.158.56.32","port":15770,"dbname":"rdb","username":"root","password":"T3stP4ssw0rdD0N0tUs3!","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes/50dd9202-37db-403e-95ef-d05bac3c6de0
    method: GET
  response:
    body: '{"id":"50dd9202-37db-403e-95ef-d05bac3c6de0","name":"default","hub_id":"cac13841-484c-488a-8cc4-50c6d5b3244b","topic":"#","type":"database","created_at":"2022-02-08T15:38:57.331Z","updated_at":"2022-02-08T15:38:57.331Z","db_config":{"host":"51.158.56.32","port":15770,"dbname":"rdb","username":"root","password":"","query":"SELECT
      NOW()","engine":"postgresql"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20220208/fr-par/s3/aws4_request,
        SignedHeaders=content-length;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=6ffe808d26aab40b254b04d4ef7f59bc9630f97d451159160ae7a2f1bef447c5
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20220208T153859Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /test-acc-scaleway-iot-route-minimal
      X-Amz-Request-Id:
      - txbb6f528024d249ad8f7ba-0062028e93
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20220208/fr-par/s3/aws4_request,
        SignedHeaders=content-md5;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=ea4bf3b6badded997f5dce66e6ea128a0733802d0e06e4081ebc66499275de7e
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20220208T153900Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx41832d1c75074219a7e00-0062028e94
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20220208/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=494a316eda4e9d8346a738ed232d76be063e5545471e53ce81c990ba20c43b9b
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20220208T153901Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-iot-route-minimal</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx7280c43768844effb370d-0062028e95
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20220208/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=728fd6810a867647dcfe8e58699faa8aa714beca541f0f50c67779bc868b5b5a
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20220208T153901Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchTagSet</Code><Message>There is no tag set associated with the bucket or object.</Message><RequestId>txabf9fe2aff3a49f292a47-0062028e95</RequestId><Headers/></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txabf9fe2aff3a49f292a47-0062028e95
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20220208/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=9fd2c49dcb1d807d1aee40b22811189c0424238eae10e4a7ffb61ed905b4ba11
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20220208T153902Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx5b47fe8b3c8d4f239e697-0062028e96</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx5b47fe8b3c8d4f239e697-0062028e96
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20220208/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=da4ffc05701f75c81d641c65ba12d8a6c0bea3c1c9d03bc07f82f2d0b5035545
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20220208T153902Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - tx703dae3746fe497ea0edd-0062028e96
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWBE3AS6FX7KVRJ3SEW/20220208/fr-par/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=e182b39f251479cfa87c4f0076f7692cf5aa93c5497b7f5a70d3ac79c5105462
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20220208T153902Z
    url: https://test-acc-scaleway-iot-route-minimal.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist.</Message><RequestId>txd36be3fd31734df19161c-0062028e96</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txd36be3fd31734df19161c-0062028e96
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/691c9733-3355-474f-831c-d8ea61a6beee
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"691c9733-3355-474f-831c-d8ea61a6beee","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"name":"default","hub_id":"cac13841-484c-488a-8cc4-50c6d5b3244b","topic":"#","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"8510204d-57f7-4b2e-bb88-87e7a46ae78a","name":"default","hub_id":"cac13841-484c-488a-8cc4-50c6d5b3244b","topic":"#","type":"s3","created_at":"2022-02-08T15:40:00.619Z","updated_at":"2022-02-08T15:40:00.619Z","s3_config":{"bucket_region":"fr-par","bucket_name":"test-acc-scaleway-iot-route-minimal","object_prefix":"foo","strategy":"per_topic"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","hub_id":"cac13841-484c-488a-8cc4-50c6d5b3244b","topic":"#","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/routes
    method: POST
  response:
    body: '{"id":"8769e33c-53da-42f1-a581-57f4c23daf99","name":"default","hub_id":"cac13841-484c-488a-8cc4-50c6d5b3244b","topic":"#","type":"rest","created_at":"2022-02-08T15:40:07.220Z","updated_at":"2022-02-08T15:40:07.220Z","rest_config":{"verb":"get","uri":"http://scaleway.com","headers":{"X-terraform-test":"inprogress"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
