---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","product_plan":"plan_shared","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"e7adfa3e-4358-41c7-a6b4-d19fc92133db","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-26T13:46:18.182Z","updated_at":"2021-01-26T13:46:18.182Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/e7adfa3e-4358-41c7-a6b4-d19fc92133db
    method: GET
  response:
    body: '{"region":"fr-par","id":"e7adfa3e-4358-41c7-a6b4-d19fc92133db","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"enabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-26T13:46:18.182Z","updated_at":"2021-01-26T13:46:18.182Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/3c8c6120-d409-4531-a410-68277ccd534f/disable
    method: POST
  response:
    body: '{"region":"fr-par","id":"3c8c6120-d409-4531-a410-68277ccd534f","organization_id":"21352319-4ea7-4667-924e-eac23e3cc2db","project_id":"21352319-4ea7-4667-924e-eac23e3cc2db","name":"minimal","status":"disabling","product_plan":"plan_shared","endpoint":"iot.fr-par.scw.cloud","created_at":"2021-01-26T13:46:39.606Z","updated_at":"2021-01-26T13:47:00.961Z","enabled":false,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/3c8c6120-d409-4531-a410-68277ccd534f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"3c8c6120-d409-4531-a410-68277ccd534f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
