---
version: 1
interactions:
- request:
    body: '{"name":"minimal","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","product_plan":"plan_dedicated","disable_events":null,"events_topic_prefix":"$SCW/events"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs
    method: POST
  response:
    body: '{"region":"fr-par","id":"41fc8ae4-92b8-49e5-9f0b-f01b87053581","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_dedicated","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:42:46.140Z","updated_at":"2022-04-14T07:42:46.140Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/41fc8ae4-92b8-49e5-9f0b-f01b87053581
    method: GET
  response:
    body: '{"region":"fr-par","id":"41fc8ae4-92b8-49e5-9f0b-f01b87053581","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"minimal","status":"enabling","product_plan":"plan_dedicated","endpoint":"iot.fr-par.scw.cloud","created_at":"2022-04-14T07:42:46.140Z","updated_at":"2022-04-14T07:42:46.140Z","enabled":true,"device_count":0,"connected_device_count":0,"disable_events":false,"events_topic_prefix":"$SCW/events","enable_device_auto_provisioning":false,"has_custom_ca":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iot/v1/regions/fr-par/hubs/41fc8ae4-92b8-49e5-9f0b-f01b87053581
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"hub","resource_id":"41fc8ae4-92b8-49e5-9f0b-f01b87053581","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
