---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-26T19:00:18.405617Z","id":"6bd910ce-2f73-4da2-869c-30c182b2ed71","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-26T19:00:18.405617Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/6bd910ce-2f73-4da2-869c-30c182b2ed71
    method: GET
  response:
    body: '{"created_at":"2023-10-26T19:00:18.405617Z","id":"6bd910ce-2f73-4da2-869c-30c182b2ed71","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-26T19:00:18.405617Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-crazy-antonelli","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"6bd910ce-2f73-4da2-869c-30c182b2ed71"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-26T19:00:19.286251Z","dhcp_enabled":true,"id":"0f3af6a7-c162-4aaa-b873-648e3c8a43aa","name":"tf-pn-crazy-antonelli","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-26T19:00:19.286251Z","id":"4c234232-f57c-4dee-85c6-afd677335800","subnet":"172.16.32.0/22","updated_at":"2023-10-26T19:00:19.286251Z"},{"created_at":"2023-10-26T19:00:19.286251Z","id":"2b24e65c-11ae-4c3c-abe5-1223ffce240c","subnet":"fd46:78ab:30b8:4328::/64","updated_at":"2023-10-26T19:00:19.286251Z"}],"tags":[],"updated_at":"2023-10-26T19:00:19.286251Z","vpc_id":"6bd910ce-2f73-4da2-869c-30c182b2ed71"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0f3af6a7-c162-4aaa-b873-648e3c8a43aa
    method: GET
  response:
    body: '{"created_at":"2023-10-26T19:00:19.286251Z","dhcp_enabled":true,"id":"0f3af6a7-c162-4aaa-b873-648e3c8a43aa","name":"tf-pn-crazy-antonelli","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-26T19:00:19.286251Z","id":"4c234232-f57c-4dee-85c6-afd677335800","subnet":"172.16.32.0/22","updated_at":"2023-10-26T19:00:19.286251Z"},{"created_at":"2023-10-26T19:00:19.286251Z","id":"2b24e65c-11ae-4c3c-abe5-1223ffce240c","subnet":"fd46:78ab:30b8:4328::/64","updated_at":"2023-10-26T19:00:19.286251Z"}],"tags":[],"updated_at":"2023-10-26T19:00:19.286251Z","vpc_id":"6bd910ce-2f73-4da2-869c-30c182b2ed71"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"0f3af6a7-c162-4aaa-b873-648e3c8a43aa"},"is_ipv6":false,"address":"172.16.32.7","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.7/22","created_at":"2023-10-26T19:00:21.090791Z","id":"eb7e2099-49a1-4d85-ac5e-9bf414885d86","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"4c234232-f57c-4dee-85c6-afd677335800"},"tags":[],"updated_at":"2023-10-26T19:00:21.090791Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/eb7e2099-49a1-4d85-ac5e-9bf414885d86
    method: GET
  response:
    body: '{"address":"172.16.32.7/22","created_at":"2023-10-26T19:00:21.090791Z","id":"eb7e2099-49a1-4d85-ac5e-9bf414885d86","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"4c234232-f57c-4dee-85c6-afd677335800"},"tags":[],"updated_at":"2023-10-26T19:00:21.090791Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/eb7e2099-49a1-4d85-ac5e-9bf414885d86
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"eb7e2099-49a1-4d85-ac5e-9bf414885d86","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
