---
version: 2
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-26T19:02:10.016697Z","id":"ca381d94-7d2c-4eb4-a057-2f29b172d5a6","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-26T19:02:10.016697Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ca381d94-7d2c-4eb4-a057-2f29b172d5a6
    method: GET
  response:
    body: '{"created_at":"2023-10-26T19:02:10.016697Z","id":"ca381d94-7d2c-4eb4-a057-2f29b172d5a6","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-26T19:02:10.016697Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"tf-pn-dreamy-wilbur","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"ca381d94-7d2c-4eb4-a057-2f29b172d5a6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-26T19:02:10.193726Z","dhcp_enabled":true,"id":"bf8c0e33-53e3-41be-9572-9a5bd05cd724","name":"tf-pn-dreamy-wilbur","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-26T19:02:10.193726Z","id":"a4d9561b-7dce-44f3-94d6-70f8f91b19be","subnet":"172.16.32.0/22","updated_at":"2023-10-26T19:02:10.193726Z"},{"created_at":"2023-10-26T19:02:10.193726Z","id":"fcc509a4-fe2b-4b03-a790-d1674177fd46","subnet":"fd46:78ab:30b8:5245::/64","updated_at":"2023-10-26T19:02:10.193726Z"}],"tags":[],"updated_at":"2023-10-26T19:02:10.193726Z","vpc_id":"ca381d94-7d2c-4eb4-a057-2f29b172d5a6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bf8c0e33-53e3-41be-9572-9a5bd05cd724
    method: GET
  response:
    body: '{"created_at":"2023-10-26T19:02:10.193726Z","dhcp_enabled":true,"id":"bf8c0e33-53e3-41be-9572-9a5bd05cd724","name":"tf-pn-dreamy-wilbur","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-26T19:02:10.193726Z","id":"a4d9561b-7dce-44f3-94d6-70f8f91b19be","subnet":"172.16.32.0/22","updated_at":"2023-10-26T19:02:10.193726Z"},{"created_at":"2023-10-26T19:02:10.193726Z","id":"fcc509a4-fe2b-4b03-a790-d1674177fd46","subnet":"fd46:78ab:30b8:5245::/64","updated_at":"2023-10-26T19:02:10.193726Z"}],"tags":[],"updated_at":"2023-10-26T19:02:10.193726Z","vpc_id":"ca381d94-7d2c-4eb4-a057-2f29b172d5a6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"bf8c0e33-53e3-41be-9572-9a5bd05cd724"},"is_ipv6":false,"address":null,"tags":["terraform-test","ipam"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.2/22","created_at":"2023-10-26T19:02:14.940347Z","id":"a5c4a240-2e76-4b24-b508-1df8d8538aed","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"a4d9561b-7dce-44f3-94d6-70f8f91b19be"},"tags":["terraform-test","ipam"],"updated_at":"2023-10-26T19:02:14.940347Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/a5c4a240-2e76-4b24-b508-1df8d8538aed
    method: GET
  response:
    body: '{"address":"172.16.32.2/22","created_at":"2023-10-26T19:02:14.940347Z","id":"a5c4a240-2e76-4b24-b508-1df8d8538aed","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"a4d9561b-7dce-44f3-94d6-70f8f91b19be"},"tags":["terraform-test","ipam"],"updated_at":"2023-10-26T19:02:14.940347Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/a5c4a240-2e76-4b24-b508-1df8d8538aed
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"a5c4a240-2e76-4b24-b508-1df8d8538aed","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
