---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-02-08T16:37:12.360268Z","id":"20769a13-00a9-4240-8fd6-56b9ae83b31b","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-02-08T16:37:12.360268Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/20769a13-00a9-4240-8fd6-56b9ae83b31b
    method: GET
  response:
    body: '{"created_at":"2024-02-08T16:37:12.360268Z","id":"20769a13-00a9-4240-8fd6-56b9ae83b31b","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-02-08T16:37:12.360268Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-sad-mclean","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"20769a13-00a9-4240-8fd6-56b9ae83b31b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-08T16:37:12.589630Z","dhcp_enabled":true,"id":"15416992-812e-40b3-9318-ad590e20cb5b","name":"tf-pn-sad-mclean","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-02-08T16:37:12.589630Z","id":"74ab4ca9-3d57-4411-96f6-0b7c0246960b","subnet":"172.16.32.0/22","updated_at":"2024-02-08T16:37:12.589630Z"},{"created_at":"2024-02-08T16:37:12.589630Z","id":"c3e11d2f-481f-4013-8f44-39b5565cdf25","subnet":"fd46:78ab:30b8:6daf::/64","updated_at":"2024-02-08T16:37:12.589630Z"}],"tags":[],"updated_at":"2024-02-08T16:37:12.589630Z","vpc_id":"20769a13-00a9-4240-8fd6-56b9ae83b31b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/15416992-812e-40b3-9318-ad590e20cb5b
    method: GET
  response:
    body: '{"created_at":"2024-02-08T16:37:12.589630Z","dhcp_enabled":true,"id":"15416992-812e-40b3-9318-ad590e20cb5b","name":"tf-pn-sad-mclean","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-02-08T16:37:12.589630Z","id":"74ab4ca9-3d57-4411-96f6-0b7c0246960b","subnet":"172.16.32.0/22","updated_at":"2024-02-08T16:37:12.589630Z"},{"created_at":"2024-02-08T16:37:12.589630Z","id":"c3e11d2f-481f-4013-8f44-39b5565cdf25","subnet":"fd46:78ab:30b8:6daf::/64","updated_at":"2024-02-08T16:37:12.589630Z"}],"tags":[],"updated_at":"2024-02-08T16:37:12.589630Z","vpc_id":"20769a13-00a9-4240-8fd6-56b9ae83b31b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"15416992-812e-40b3-9318-ad590e20cb5b"},"is_ipv6":false,"address":"172.16.32.5","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-02-08T16:37:13.851398Z","id":"a3775651-7737-4aec-9e2e-71ef1c93acee","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"74ab4ca9-3d57-4411-96f6-0b7c0246960b"},"tags":[],"updated_at":"2024-02-08T16:37:13.851398Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/a3775651-7737-4aec-9e2e-71ef1c93acee
    method: GET
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2024-02-08T16:37:13.851398Z","id":"a3775651-7737-4aec-9e2e-71ef1c93acee","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"74ab4ca9-3d57-4411-96f6-0b7c0246960b"},"tags":[],"updated_at":"2024-02-08T16:37:13.851398Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/a3775651-7737-4aec-9e2e-71ef1c93acee
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"a3775651-7737-4aec-9e2e-71ef1c93acee","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
