---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-27T07:17:20.025687Z","id":"e49f4d63-a354-40bf-a77a-71a88206128d","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-27T07:17:20.025687Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e49f4d63-a354-40bf-a77a-71a88206128d
    method: GET
  response:
    body: '{"created_at":"2023-10-27T07:17:20.025687Z","id":"e49f4d63-a354-40bf-a77a-71a88206128d","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-27T07:17:20.025687Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-gifted-tesla","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"e49f4d63-a354-40bf-a77a-71a88206128d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-27T07:17:20.230502Z","dhcp_enabled":true,"id":"dd7a6c72-9dc4-4b24-9e7a-0046e2ad858d","name":"tf-pn-gifted-tesla","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-27T07:17:20.230502Z","id":"51e5b8a8-b307-465e-a47e-b296a3064812","subnet":"172.16.32.0/22","updated_at":"2023-10-27T07:17:20.230502Z"},{"created_at":"2023-10-27T07:17:20.230502Z","id":"c5a11d0a-c730-44f8-8304-09792660b8a8","subnet":"fd46:78ab:30b8:3e08::/64","updated_at":"2023-10-27T07:17:20.230502Z"}],"tags":[],"updated_at":"2023-10-27T07:17:20.230502Z","vpc_id":"e49f4d63-a354-40bf-a77a-71a88206128d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dd7a6c72-9dc4-4b24-9e7a-0046e2ad858d
    method: GET
  response:
    body: '{"created_at":"2023-10-27T07:17:20.230502Z","dhcp_enabled":true,"id":"dd7a6c72-9dc4-4b24-9e7a-0046e2ad858d","name":"tf-pn-gifted-tesla","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-27T07:17:20.230502Z","id":"51e5b8a8-b307-465e-a47e-b296a3064812","subnet":"172.16.32.0/22","updated_at":"2023-10-27T07:17:20.230502Z"},{"created_at":"2023-10-27T07:17:20.230502Z","id":"c5a11d0a-c730-44f8-8304-09792660b8a8","subnet":"fd46:78ab:30b8:3e08::/64","updated_at":"2023-10-27T07:17:20.230502Z"}],"tags":[],"updated_at":"2023-10-27T07:17:20.230502Z","vpc_id":"e49f4d63-a354-40bf-a77a-71a88206128d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"dd7a6c72-9dc4-4b24-9e7a-0046e2ad858d"},"is_ipv6":false,"address":null,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.2/22","created_at":"2023-10-27T07:17:21.212540Z","id":"06d6d1a9-3284-4f94-9538-01c8dd8f8390","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"51e5b8a8-b307-465e-a47e-b296a3064812"},"tags":[],"updated_at":"2023-10-27T07:17:21.212540Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/06d6d1a9-3284-4f94-9538-01c8dd8f8390
    method: GET
  response:
    body: '{"address":"172.16.32.2/22","created_at":"2023-10-27T07:17:21.212540Z","id":"06d6d1a9-3284-4f94-9538-01c8dd8f8390","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"51e5b8a8-b307-465e-a47e-b296a3064812"},"tags":[],"updated_at":"2023-10-27T07:17:21.212540Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/06d6d1a9-3284-4f94-9538-01c8dd8f8390
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"06d6d1a9-3284-4f94-9538-01c8dd8f8390","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
