---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-26T19:00:45.458328Z","id":"71f2a3bf-e5d1-4381-9c0f-bf656254108d","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-26T19:00:45.458328Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/71f2a3bf-e5d1-4381-9c0f-bf656254108d
    method: GET
  response:
    body: '{"created_at":"2023-10-26T19:00:45.458328Z","id":"71f2a3bf-e5d1-4381-9c0f-bf656254108d","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-10-26T19:00:45.458328Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-distracted-bartik","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":"71f2a3bf-e5d1-4381-9c0f-bf656254108d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-26T19:00:46.231044Z","dhcp_enabled":true,"id":"f77c2976-764a-4d2a-b001-4f42708d53c3","name":"tf-pn-distracted-bartik","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-26T19:00:46.231044Z","id":"e726046d-f1e6-4900-9bfd-1f5ad6109b37","subnet":"172.16.32.0/22","updated_at":"2023-10-26T19:00:46.231044Z"},{"created_at":"2023-10-26T19:00:46.231044Z","id":"1febe4ae-c49e-43cc-be0b-0f0d025b48b9","subnet":"fd46:78ab:30b8:b6b::/64","updated_at":"2023-10-26T19:00:46.231044Z"}],"tags":[],"updated_at":"2023-10-26T19:00:46.231044Z","vpc_id":"71f2a3bf-e5d1-4381-9c0f-bf656254108d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f77c2976-764a-4d2a-b001-4f42708d53c3
    method: GET
  response:
    body: '{"created_at":"2023-10-26T19:00:46.231044Z","dhcp_enabled":true,"id":"f77c2976-764a-4d2a-b001-4f42708d53c3","name":"tf-pn-distracted-bartik","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-26T19:00:46.231044Z","id":"e726046d-f1e6-4900-9bfd-1f5ad6109b37","subnet":"172.16.32.0/22","updated_at":"2023-10-26T19:00:46.231044Z"},{"created_at":"2023-10-26T19:00:46.231044Z","id":"1febe4ae-c49e-43cc-be0b-0f0d025b48b9","subnet":"fd46:78ab:30b8:b6b::/64","updated_at":"2023-10-26T19:00:46.231044Z"}],"tags":[],"updated_at":"2023-10-26T19:00:46.231044Z","vpc_id":"71f2a3bf-e5d1-4381-9c0f-bf656254108d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"f77c2976-764a-4d2a-b001-4f42708d53c3"},"is_ipv6":false,"address":"172.16.32.5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2023-10-26T19:00:48.050923Z","id":"f2ebb1de-3845-4ffb-8595-032b4ce49413","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"e726046d-f1e6-4900-9bfd-1f5ad6109b37"},"tags":[],"updated_at":"2023-10-26T19:00:48.050923Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f2ebb1de-3845-4ffb-8595-032b4ce49413
    method: GET
  response:
    body: '{"address":"172.16.32.5/22","created_at":"2023-10-26T19:00:48.050923Z","id":"f2ebb1de-3845-4ffb-8595-032b4ce49413","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"e726046d-f1e6-4900-9bfd-1f5ad6109b37"},"tags":[],"updated_at":"2023-10-26T19:00:48.050923Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/f2ebb1de-3845-4ffb-8595-032b4ce49413
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"f2ebb1de-3845-4ffb-8595-032b4ce49413","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
