---
version: 1
interactions:
- request:
    body: '{"name":"test-jobs-job-definition-cron","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","environment_variables":{},"description":"","cron_schedule":{"schedule":"5
      4 1 * *","timezone":"Europe/Paris"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2024-02-21T13:21:24.660188Z","cron_schedule":{"schedule":"5
      4 1 * *","timezone":"Europe/Paris"},"description":"","environment_variables":{},"id":"d532b769-5476-4e11-ad1e-97b6f60ab2a2","image_uri":"docker.io/alpine:latest","job_timeout":"21600s","local_storage_capacity":0,"memory_limit":256,"name":"test-jobs-job-definition-cron","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/d532b769-5476-4e11-ad1e-97b6f60ab2a2
    method: GET
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2024-02-21T13:21:24.660188Z","cron_schedule":{"schedule":"5
      4 1 * *","timezone":"Europe/Paris"},"description":"","environment_variables":{},"id":"d532b769-5476-4e11-ad1e-97b6f60ab2a2","image_uri":"docker.io/alpine:latest","job_timeout":"21600s","local_storage_capacity":0,"memory_limit":256,"name":"test-jobs-job-definition-cron","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/d532b769-5476-4e11-ad1e-97b6f60ab2a2
    method: DELETE
  response:
    body: '{"message":"job definition is not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
