---
version: 2
interactions:
- request:
    body: '{"name":"test-jobs-job-definition-timeout","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","environment_variables":{},"description":"","job_timeout":"1200.000000000s"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2023-11-29T16:31:04.333778Z","description":"","environment_variables":{},"id":"d8736e1e-87ec-4bcb-a0de-7290cc38d2a1","image_uri":"docker.io/alpine:latest","job_timeout":"1200s","memory_limit":256,"name":"test-jobs-job-definition-timeout","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/d8736e1e-87ec-4bcb-a0de-7290cc38d2a1
    method: GET
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2023-11-29T16:31:04.333778Z","description":"","environment_variables":{},"id":"d8736e1e-87ec-4bcb-a0de-7290cc38d2a1","image_uri":"docker.io/alpine:latest","job_timeout":"1200s","memory_limit":256,"name":"test-jobs-job-definition-timeout","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/d8736e1e-87ec-4bcb-a0de-7290cc38d2a1
    method: DELETE
  response:
    body: '{"message":"job definition is not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
