---
version: 1
interactions:
- request:
    body: '{"name":"test-jobs-job-definition-basic","cpu_limit":120,"memory_limit":256,"image_uri":"docker.io/alpine:latest","command":"","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","environment_variables":{},"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/nl-ams/job-definitions
    method: POST
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2023-11-27T08:38:49.922682Z","description":"","environment_variables":{},"id":"f9485584-ad18-481f-933e-6e88666ee760","image_uri":"docker.io/alpine:latest","job_timeout":"21600s","memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"nl-ams","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/nl-ams/job-definitions/f9485584-ad18-481f-933e-6e88666ee760
    method: GET
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2023-11-27T08:38:49.922682Z","description":"","environment_variables":{},"id":"f9485584-ad18-481f-933e-6e88666ee760","image_uri":"docker.io/alpine:latest","job_timeout":"21600s","memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"nl-ams","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/nl-ams/job-definitions/f9485584-ad18-481f-933e-6e88666ee760
    method: DELETE
  response:
    body: '{"message":"job definition is not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
