---
version: 1
interactions:
- request:
    body: '{"name":"test-jobs-job-definition-basic","cpu_limit":120,"memory_limit":256,"image_uri":"","command":"","project_id":"ecf71750-ac11-44cb-b2ee-c39bd4e03a27","environment_variables":{},"description":"","job_timeout":"0.000000000s"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions
    method: POST
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2023-11-03T12:56:07.388372Z","description":"","environment_variables":{},"image_uri":"","job_definition_id":"85000926-82aa-4895-a5c3-1ce87861f578","job_timeout":"0s","memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"ecf71750-ac11-44cb-b2ee-c39bd4e03a27","region":"fr-par","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/85000926-82aa-4895-a5c3-1ce87861f578
    method: GET
  response:
    body: '{"command":"","cpu_limit":120,"created_at":"2023-11-03T12:56:07.388372Z","description":"","environment_variables":{},"image_uri":"","job_definition_id":"85000926-82aa-4895-a5c3-1ce87861f578","job_timeout":"0s","memory_limit":256,"name":"test-jobs-job-definition-basic","project_id":"ecf71750-ac11-44cb-b2ee-c39bd4e03a27","region":"fr-par","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-jobs/v1alpha1/regions/fr-par/job-definitions/85000926-82aa-4895-a5c3-1ce87861f578
    method: DELETE
  response:
    body: '{"message":"job definition is not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
