---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:06:08.005477Z","dhcp_enabled":true,"id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:06:08.005477Z","id":"494e456a-b25e-486c-9b3d-f91dd5092be9","subnet":"172.16.104.0/22","updated_at":"2024-02-28T14:06:08.005477Z"},{"created_at":"2024-02-28T14:06:08.005477Z","id":"923e142b-0bdd-4231-a677-d94fe3666ab9","subnet":"fd5f:519c:6d46:7ca0::/64","updated_at":"2024-02-28T14:06:08.005477Z"}],"tags":[],"updated_at":"2024-02-28T14:06:08.005477Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/af06e791-a9d3-4e36-8cd0-650cb4fc64c9
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:06:08.005477Z","dhcp_enabled":true,"id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:06:08.005477Z","id":"494e456a-b25e-486c-9b3d-f91dd5092be9","subnet":"172.16.104.0/22","updated_at":"2024-02-28T14:06:08.005477Z"},{"created_at":"2024-02-28T14:06:08.005477Z","id":"923e142b-0bdd-4231-a677-d94fe3666ab9","subnet":"fd5f:519c:6d46:7ca0::/64","updated_at":"2024-02-28T14:06:08.005477Z"}],"tags":[],"updated_at":"2024-02-28T14:06:08.005477Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://df0d0599-e81e-434d-9b4b-c76b6b58405c.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-02-28T14:06:09.732356098Z","created_at":"2024-02-28T14:06:09.732356098Z","description":"","dns_wildcard":"*.df0d0599-e81e-434d-9b4b-c76b6b58405c.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"df0d0599-e81e-434d-9b4b-c76b6b58405c","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2024-02-28T14:06:09.754384387Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df0d0599-e81e-434d-9b4b-c76b6b58405c
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df0d0599-e81e-434d-9b4b-c76b6b58405c/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df0d0599-e81e-434d-9b4b-c76b6b58405c/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVTWGxPZWtVd1RVUlplRTFHYjFoRVZFMHdUVVJKZVU1NlJUQk5SRmw0VFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df0d0599-e81e-434d-9b4b-c76b6b58405c/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"df0d0599-e81e-434d-9b4b-c76b6b58405c","container_runtime":"containerd","created_at":"2024-02-28T14:06:15.332991Z","id":"930cc193-23e1-4887-a5b6-dbfe39fff492","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:06:15.349637354Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/930cc193-23e1-4887-a5b6-dbfe39fff492
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"df0d0599-e81e-434d-9b4b-c76b6b58405c","container_runtime":"containerd","created_at":"2024-02-28T14:06:15.332991Z","id":"930cc193-23e1-4887-a5b6-dbfe39fff492","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:06:15.349637Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df0d0599-e81e-434d-9b4b-c76b6b58405c/nodes?order_by=created_at_asc&page=1&pool_id=930cc193-23e1-4887-a5b6-dbfe39fff492&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"df0d0599-e81e-434d-9b4b-c76b6b58405c","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:11:25.759486Z","error_message":null,"id":"b7bb1de6-63e0-4780-b899-05bdcbcffec5","name":"scw-test-k8s-public-i-test-k8s-public-i-b7bb1d","pool_id":"930cc193-23e1-4887-a5b6-dbfe39fff492","provider_id":"scaleway://instance/fr-par-1/4829b3cb-29f8-4a76-9537-ad2d5c7a3d68","public_ip_v4":"51.158.107.206","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:14:09.787785Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df0d0599-e81e-434d-9b4b-c76b6b58405c/nodes?order_by=created_at_asc&pool_id=930cc193-23e1-4887-a5b6-dbfe39fff492&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"df0d0599-e81e-434d-9b4b-c76b6b58405c","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:11:25.759486Z","error_message":null,"id":"b7bb1de6-63e0-4780-b899-05bdcbcffec5","name":"scw-test-k8s-public-i-test-k8s-public-i-b7bb1d","pool_id":"930cc193-23e1-4887-a5b6-dbfe39fff492","provider_id":"scaleway://instance/fr-par-1/4829b3cb-29f8-4a76-9537-ad2d5c7a3d68","public_ip_v4":"51.158.107.206","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:14:09.787785Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4829b3cb-29f8-4a76-9537-ad2d5c7a3d68
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2024-02-28T14:11:26.967998+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-b7bb1d","id":"4829b3cb-29f8-4a76-9537-ad2d5c7a3d68","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:668:f03::1","gateway":"2001:bc8:668:f03::","netmask":"64"},"location":{"cluster_id":"91","hypervisor_id":"404","node_id":"4","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:41:26:71","maintenances":[],"modification_date":"2024-02-28T14:11:47.801816+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-b7bb1d","organization":"105bdce1-64c0-48ab-899d-868455867ecf","os_family":"linux","placement_group":null,"private_ip":"10.66.243.199","private_nics":[{"creation_date":"2024-02-28T14:11:27.833909+00:00","id":"c529431c-a20b-492a-86df-d48ffc823249","mac_address":"02:00:00:18:b2:f7","modification_date":"2024-02-28T14:11:28.625222+00:00","private_network_id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9","server_id":"4829b3cb-29f8-4a76-9537-ad2d5c7a3d68","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.158.107.206","dynamic":true,"family":"inet","gateway":null,"id":"e1d5fc83-0d66-4437-bc70-799764b7457f","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.158.107.206","dynamic":true,"family":"inet","gateway":null,"id":"e1d5fc83-0d66-4437-bc70-799764b7457f","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"e4983abd-bede-4113-b930-6c156b6d02a0","name":"kubernetes
      df0d0599-e81e-434d-9b4b-c76b6b58405c"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=df0d0599-e81e-434d-9b4b-c76b6b58405c","pool=930cc193-23e1-4887-a5b6-dbfe39fff492","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=b7bb1de6-63e0-4780-b899-05bdcbcffec5"],"volumes":{"0":{"boot":false,"creation_date":"2024-02-28T14:11:26.967998+00:00","export_uri":null,"id":"7d0a0d05-2b69-4238-85f2-0bd97c40ef2f","modification_date":"2024-02-28T14:11:26.967998+00:00","name":"k8s_base_node_2023-10-11.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"4829b3cb-29f8-4a76-9537-ad2d5c7a3d68","name":"scw-test-k8s-public-i-test-k8s-public-i-b7bb1d"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/930cc193-23e1-4887-a5b6-dbfe39fff492
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"930cc193-23e1-4887-a5b6-dbfe39fff492","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2024-02-28T14:14:51.916791Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7462e281-d217-4abe-96e2-cbcd04a0c15d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-02-28T14:14:51.916791Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/7462e281-d217-4abe-96e2-cbcd04a0c15d
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2024-02-28T14:14:51.916791Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7462e281-d217-4abe-96e2-cbcd04a0c15d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-02-28T14:14:51.916791Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-02-28T14:14:52.594346Z","gateway_networks":[],"id":"ee8a4239-3222-4e73-a6c0-cd72f4048607","ip":{"address":"163.172.132.209","created_at":"2024-02-28T14:14:52.567515Z","gateway_id":"ee8a4239-3222-4e73-a6c0-cd72f4048607","id":"17540ab8-c253-4dfe-a6b3-f75921b76bee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"209-132-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-02-28T14:14:52.567515Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-02-28T14:14:52.594346Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ee8a4239-3222-4e73-a6c0-cd72f4048607
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-02-28T14:14:52.594346Z","gateway_networks":[],"id":"ee8a4239-3222-4e73-a6c0-cd72f4048607","ip":{"address":"163.172.132.209","created_at":"2024-02-28T14:14:52.567515Z","gateway_id":"ee8a4239-3222-4e73-a6c0-cd72f4048607","id":"17540ab8-c253-4dfe-a6b3-f75921b76bee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"209-132-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-02-28T14:14:52.567515Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-02-28T14:14:52.689248Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ee8a4239-3222-4e73-a6c0-cd72f4048607","private_network_id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"7462e281-d217-4abe-96e2-cbcd04a0c15d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2024-02-28T14:14:59.827732Z","dhcp":{"address":"192.168.0.1","created_at":"2024-02-28T14:14:51.916791Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7462e281-d217-4abe-96e2-cbcd04a0c15d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-02-28T14:14:51.916791Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"ee8a4239-3222-4e73-a6c0-cd72f4048607","id":"82f3a495-49d7-4f05-8fcd-76323fe98b1c","ipam_config":null,"mac_address":null,"private_network_id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9","status":"created","updated_at":"2024-02-28T14:14:59.827732Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/82f3a495-49d7-4f05-8fcd-76323fe98b1c
    method: GET
  response:
    body: '{"address":null,"created_at":"2024-02-28T14:14:59.827732Z","dhcp":{"address":"192.168.0.1","created_at":"2024-02-28T14:14:51.916791Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7462e281-d217-4abe-96e2-cbcd04a0c15d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2024-02-28T14:14:51.916791Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"ee8a4239-3222-4e73-a6c0-cd72f4048607","id":"82f3a495-49d7-4f05-8fcd-76323fe98b1c","ipam_config":null,"mac_address":"02:00:00:18:B3:01","private_network_id":"af06e791-a9d3-4e36-8cd0-650cb4fc64c9","status":"ready","updated_at":"2024-02-28T14:15:08.908537Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/df0d0599-e81e-434d-9b4b-c76b6b58405c?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/82f3a495-49d7-4f05-8fcd-76323fe98b1c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ee8a4239-3222-4e73-a6c0-cd72f4048607?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
