---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.21.0","label":"Kubernetes 1.21.0","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.20.6","label":"Kubernetes
      1.20.6","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImage[...]
- request:
    body: '{"project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","name":"PoolConfigWait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.21.0","cni":"calico","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","created_at":"2021-05-11T15:30:41.077117821Z","updated_at":"2021-05-11T15:30:42.169926804Z","name":"PoolConfigWait","description":"","status":"creating","version":"1.21.0","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://42befb2d-5e13-4c16-aadc-f3dafcb010b2.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.42befb2d-5e13-4c16-aadc-f3dafcb010b2.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/42befb2d-5e13-4c16-aadc-f3dafcb010b2
    method: GET
  response:
    body: '{"region":"fr-par","id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","created_at":"2021-05-11T15:30:41.077118Z","updated_at":"2021-05-11T15:30:42.169927Z","name":"PoolConfigWait","description":"","status":"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/42befb2d-5e13-4c16-aadc-f3dafcb010b2/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogcG9vbGNvbmZpZ3dhaXQKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVFMUVWWGhOUkVVeFRYcEJNRTFzYjFoRVZFMTRUVVJWZUUxRVJURk5la0V3VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkRRVkZ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/42befb2d-5e13-4c16-aadc-f3dafcb010b2/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"ccf60c74-9e9a-48a1-b9c9-4de6f8e6c4cf","cluster_id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","created_at":"2021-05-11T15:30:48.255871Z","updated_at":"2021-05-11T15:30:48.265873781Z","name":"default","status":"scaling","version":"1.21.0","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ccf60c74-9e9a-48a1-b9c9-4de6f8e6c4cf
    method: GET
  response:
    body: '{"region":"fr-par","id":"ccf60c74-9e9a-48a1-b9c9-4de6f8e6c4cf","cluster_id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","created_at":"2021-05-11T15:30:48.255871Z","updated_at":"2021-05-11T15:30:48.265874Z","name":"default","status":"scaling","version":"1.21.0","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/42befb2d-5e13-4c16-aadc-f3dafcb010b2/nodes?order_by=created_at_asc&page=1&pool_id=ccf60c74-9e9a-48a1-b9c9-4de6f8e6c4cf&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"00b62e53-7a48-4825-afc6-1b675a54a62b","cluster_id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","created_at":"2021-05-11T15:32:04.719146Z","updated_at":"2021-05-11T15:35:34.714914Z","pool_id":"ccf60c74-9e9a-48a1-b9c9-4de6f8e6c4cf","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-poolconfigwait-default-00b62e537a484825afc","public_ip_v4":"51.15.198.42","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/42befb2d-5e13-4c16-aadc-f3dafcb010b2/nodes?order_by=created_at_asc&page=1&pool_id=ccf60c74-9e9a-48a1-b9c9-4de6f8e6c4cf&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"00b62e53-7a48-4825-afc6-1b675a54a62b","cluster_id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","created_at":"2021-05-11T15:32:04.719146Z","updated_at":"2021-05-11T15:38:14.575068Z","pool_id":"ccf60c74-9e9a-48a1-b9c9-4de6f8e6c4cf","status":"ready","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","ReadonlyFilesystem":"False","Ready":"True"},"name":"scw-poolconfigwait-default-00b62e537a484825afc","public_ip_v4":"51.15.198.42","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/42befb2d-5e13-4c16-aadc-f3dafcb010b2?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","created_at":"2021-05-11T15:30:41.077118Z","updated_at":"2021-05-11T15:44:05.964341799Z","name":"PoolC[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/42befb2d-5e13-4c16-aadc-f3dafcb010b2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"42befb2d-5e13-4c16-aadc-f3dafcb010b2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
