---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-kubelet-args","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-18T16:35:44.326008Z","dhcp_enabled":true,"id":"5af82341-c048-4f53-853a-3df5421d10f9","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T16:35:44.326008Z","id":"c16fa43b-e195-41c1-a918-26bfcb8118ed","subnet":"172.16.0.0/22","updated_at":"2023-10-18T16:35:44.326008Z"},{"created_at":"2023-10-18T16:35:44.326008Z","id":"1ba012b4-d607-4b55-96f6-9e4f65dd9b4d","subnet":"fd63:256c:45f7:8be8::/64","updated_at":"2023-10-18T16:35:44.326008Z"}],"tags":[],"updated_at":"2023-10-18T16:35:44.326008Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5af82341-c048-4f53-853a-3df5421d10f9
    method: GET
  response:
    body: '{"created_at":"2023-10-18T16:35:44.326008Z","dhcp_enabled":true,"id":"5af82341-c048-4f53-853a-3df5421d10f9","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T16:35:44.326008Z","id":"c16fa43b-e195-41c1-a918-26bfcb8118ed","subnet":"172.16.0.0/22","updated_at":"2023-10-18T16:35:44.326008Z"},{"created_at":"2023-10-18T16:35:44.326008Z","id":"1ba012b4-d607-4b55-96f6-9e4f65dd9b4d","subnet":"fd63:256c:45f7:8be8::/64","updated_at":"2023-10-18T16:35:44.326008Z"}],"tags":[],"updated_at":"2023-10-18T16:35:44.326008Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"5af82341-c048-4f53-853a-3df5421d10f9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4c6ff6c8-5b47-4681-9fc6-dff7b1b74226.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-10-18T16:35:45.387747837Z","created_at":"2023-10-18T16:35:45.387747837Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.4c6ff6c8-5b47-4681-9fc6-dff7b1b74226.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"4c6ff6c8-5b47-4681-9fc6-dff7b1b74226","ingress":"none","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"5af82341-c048-4f53-853a-3df5421d10f9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2023-10-18T16:35:45.400146997Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c6ff6c8-5b47-4681-9fc6-dff7b1b74226
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c6ff6c8-5b47-4681-9fc6-dff7b1b74226/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFVUVhoT2VrVXlUWHBWTUU1c2IxaEVWRTE2VFZSQmVFNTZSVEpOZWxVd1RteHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
- request:
    body: '{"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c6ff6c8-5b47-4681-9fc6-dff7b1b74226/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4c6ff6c8-5b47-4681-9fc6-dff7b1b74226","container_runtime":"containerd","created_at":"2023-10-18T16:35:50.800572Z","id":"146e381b-b865-42f1-8d77-72fe68993ee1","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2023-10-18T16:35:50.809901132Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/146e381b-b865-42f1-8d77-72fe68993ee1
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"4c6ff6c8-5b47-4681-9fc6-dff7b1b74226","container_runtime":"containerd","created_at":"2023-10-18T16:35:50.800572Z","id":"146e381b-b865-42f1-8d77-72fe68993ee1","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2023-10-18T16:35:50.809901Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c6ff6c8-5b47-4681-9fc6-dff7b1b74226/nodes?order_by=created_at_asc&page=1&pool_id=146e381b-b865-42f1-8d77-72fe68993ee1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"4c6ff6c8-5b47-4681-9fc6-dff7b1b74226","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T16:38:41.119851Z","error_message":null,"id":"34d13a4f-a42a-4e74-af47-218d67034f76","name":"scw-test-pool-kubelet-test-pool-kubelet-34d13a","pool_id":"146e381b-b865-42f1-8d77-72fe68993ee1","provider_id":"scaleway://instance/fr-par-1/11a29d81-9d44-4626-ad74-61fd9fe0fe6f","public_ip_v4":"163.172.141.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T16:43:38.313909Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c6ff6c8-5b47-4681-9fc6-dff7b1b74226/nodes?order_by=created_at_asc&page=1&pool_id=146e381b-b865-42f1-8d77-72fe68993ee1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"4c6ff6c8-5b47-4681-9fc6-dff7b1b74226","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T16:38:41.119851Z","error_message":null,"id":"34d13a4f-a42a-4e74-af47-218d67034f76","name":"scw-test-pool-kubelet-test-pool-kubelet-34d13a","pool_id":"146e381b-b865-42f1-8d77-72fe68993ee1","provider_id":"scaleway://instance/fr-par-1/11a29d81-9d44-4626-ad74-61fd9fe0fe6f","public_ip_v4":"163.172.141.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T16:43:45.710493Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c6ff6c8-5b47-4681-9fc6-dff7b1b74226?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c6ff6c8-5b47-4681-9fc6-dff7b1b74226
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"4c6ff6c8-5b47-4681-9fc6-dff7b1b74226","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
