---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-10T13:53:18.051579Z","dhcp_enabled":true,"id":"fa75dbc2-3cce-4d36-a8ad-473f8ec346e0","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:53:18.051579Z","id":"bc3412da-f1a7-4940-bf6b-ca6b63c608c7","subnet":"172.16.24.0/22","updated_at":"2023-11-10T13:53:18.051579Z"},{"created_at":"2023-11-10T13:53:18.051579Z","id":"b3d19310-b8a5-458c-9f85-93089e16399a","subnet":"fd63:256c:45f7:2af2::/64","updated_at":"2023-11-10T13:53:18.051579Z"}],"tags":[],"updated_at":"2023-11-10T13:53:18.051579Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fa75dbc2-3cce-4d36-a8ad-473f8ec346e0
    method: GET
  response:
    body: '{"created_at":"2023-11-10T13:53:18.051579Z","dhcp_enabled":true,"id":"fa75dbc2-3cce-4d36-a8ad-473f8ec346e0","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:53:18.051579Z","id":"bc3412da-f1a7-4940-bf6b-ca6b63c608c7","subnet":"172.16.24.0/22","updated_at":"2023-11-10T13:53:18.051579Z"},{"created_at":"2023-11-10T13:53:18.051579Z","id":"b3d19310-b8a5-458c-9f85-93089e16399a","subnet":"fd63:256c:45f7:2af2::/64","updated_at":"2023-11-10T13:53:18.051579Z"}],"tags":[],"updated_at":"2023-11-10T13:53:18.051579Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"fa75dbc2-3cce-4d36-a8ad-473f8ec346e0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://bdb44e87-5503-49ff-93aa-e8191cc62c4a.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-10T13:53:19.364667384Z","created_at":"2023-11-10T13:53:19.364667384Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.bdb44e87-5503-49ff-93aa-e8191cc62c4a.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"bdb44e87-5503-49ff-93aa-e8191cc62c4a","ingress":"none","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"fa75dbc2-3cce-4d36-a8ad-473f8ec346e0","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-11-10T13:53:19.376319005Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bdb44e87-5503-49ff-93aa-e8191cc62c4a
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bdb44e87-5503-49ff-93aa-e8191cc62c4a/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYZFBWRVY2VGxSTmVVMUdiMWhFVkUxNlRWUkZkMDlVUlhwT1ZFMTVUVVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bdb44e87-5503-49ff-93aa-e8191cc62c4a/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"bdb44e87-5503-49ff-93aa-e8191cc62c4a","container_runtime":"containerd","created_at":"2023-11-10T13:53:24.808828Z","id":"a471334c-2d46-4ed2-a998-a3d358adf83a","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-11-10T13:53:24.816910159Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a471334c-2d46-4ed2-a998-a3d358adf83a
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"bdb44e87-5503-49ff-93aa-e8191cc62c4a","container_runtime":"containerd","created_at":"2023-11-10T13:53:24.808828Z","id":"a471334c-2d46-4ed2-a998-a3d358adf83a","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-11-10T13:53:24.816910Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bdb44e87-5503-49ff-93aa-e8191cc62c4a/nodes?order_by=created_at_asc&page=1&pool_id=a471334c-2d46-4ed2-a998-a3d358adf83a&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"bdb44e87-5503-49ff-93aa-e8191cc62c4a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:55:20.272209Z","error_message":null,"id":"39d2ad00-21ab-4a69-af57-a9d707f0b727","name":"scw-test-pool-minimal-test-pool-minimal-39d2ad","pool_id":"a471334c-2d46-4ed2-a998-a3d358adf83a","provider_id":"scaleway://instance/fr-par-1/c8f6e508-64c0-48b8-a92b-dbd2027826da","public_ip_v4":"163.172.161.126","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:57:50.671884Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bdb44e87-5503-49ff-93aa-e8191cc62c4a/nodes?order_by=created_at_asc&page=1&pool_id=a471334c-2d46-4ed2-a998-a3d358adf83a&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"bdb44e87-5503-49ff-93aa-e8191cc62c4a","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:55:20.272209Z","error_message":null,"id":"39d2ad00-21ab-4a69-af57-a9d707f0b727","name":"scw-test-pool-minimal-test-pool-minimal-39d2ad","pool_id":"a471334c-2d46-4ed2-a998-a3d358adf83a","provider_id":"scaleway://instance/fr-par-1/c8f6e508-64c0-48b8-a92b-dbd2027826da","public_ip_v4":"163.172.161.126","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T14:00:33.458668Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2be86807-4c94-4d5d-bdeb-cadadb871e8d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"2be86807-4c94-4d5d-bdeb-cadadb871e8d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/bdb44e87-5503-49ff-93aa-e8191cc62c4a?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
