---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-kubelet-args","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-12T12:34:25.937549Z","dhcp_enabled":true,"id":"e22c5db6-d5de-4368-9bee-829fd2ad7d0b","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:34:25.937549Z","id":"9f94cf9b-4bf2-4906-a5da-7643caf9bb19","subnet":"172.16.0.0/22","updated_at":"2023-12-12T12:34:25.937549Z"},{"created_at":"2023-12-12T12:34:25.937549Z","id":"02d94fdf-02ba-488c-8184-7f4dc0924d07","subnet":"fd63:256c:45f7:403b::/64","updated_at":"2023-12-12T12:34:25.937549Z"}],"tags":[],"updated_at":"2023-12-12T12:34:25.937549Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e22c5db6-d5de-4368-9bee-829fd2ad7d0b
    method: GET
  response:
    body: '{"created_at":"2023-12-12T12:34:25.937549Z","dhcp_enabled":true,"id":"e22c5db6-d5de-4368-9bee-829fd2ad7d0b","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:34:25.937549Z","id":"9f94cf9b-4bf2-4906-a5da-7643caf9bb19","subnet":"172.16.0.0/22","updated_at":"2023-12-12T12:34:25.937549Z"},{"created_at":"2023-12-12T12:34:25.937549Z","id":"02d94fdf-02ba-488c-8184-7f4dc0924d07","subnet":"fd63:256c:45f7:403b::/64","updated_at":"2023-12-12T12:34:25.937549Z"}],"tags":[],"updated_at":"2023-12-12T12:34:25.937549Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"e22c5db6-d5de-4368-9bee-829fd2ad7d0b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://587aba02-566f-4e01-97df-b80d08f4da54.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-12T12:34:27.388779309Z","created_at":"2023-12-12T12:34:27.388779309Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.587aba02-566f-4e01-97df-b80d08f4da54.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"587aba02-566f-4e01-97df-b80d08f4da54","ingress":"none","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"e22c5db6-d5de-4368-9bee-829fd2ad7d0b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2023-12-12T12:34:27.487564854Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/587aba02-566f-4e01-97df-b80d08f4da54
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/587aba02-566f-4e01-97df-b80d08f4da54/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFVU1hoTlZFVjVUWHBSZVU5V2IxaEVWRTE2VFZSSmVFMVVSWGxOZWxGNVQxWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
- request:
    body: '{"name":"test-pool-kubelet-args","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/587aba02-566f-4e01-97df-b80d08f4da54/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"587aba02-566f-4e01-97df-b80d08f4da54","container_runtime":"containerd","created_at":"2023-12-12T12:34:33.125238Z","id":"bacc5ae6-cd7f-41ee-823c-b628a9353989","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2023-12-12T12:34:33.133624115Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bacc5ae6-cd7f-41ee-823c-b628a9353989
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"587aba02-566f-4e01-97df-b80d08f4da54","container_runtime":"containerd","created_at":"2023-12-12T12:34:33.125238Z","id":"bacc5ae6-cd7f-41ee-823c-b628a9353989","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2023-12-12T12:34:33.133624Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/587aba02-566f-4e01-97df-b80d08f4da54/nodes?order_by=created_at_asc&page=1&pool_id=bacc5ae6-cd7f-41ee-823c-b628a9353989&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"587aba02-566f-4e01-97df-b80d08f4da54","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-12T12:37:14.347098Z","error_message":null,"id":"c2712d89-e532-4159-86f4-95c8bde01a64","name":"scw-test-pool-kubelet-test-pool-kubelet-c2712d","pool_id":"bacc5ae6-cd7f-41ee-823c-b628a9353989","provider_id":"scaleway://instance/fr-par-1/603645c8-5e4f-4c4d-b9b0-93e0dfd9f511","public_ip_v4":"163.172.141.142","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-12T12:39:36.996314Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/587aba02-566f-4e01-97df-b80d08f4da54/nodes?order_by=created_at_asc&page=1&pool_id=bacc5ae6-cd7f-41ee-823c-b628a9353989&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"587aba02-566f-4e01-97df-b80d08f4da54","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-12T12:37:14.347098Z","error_message":null,"id":"c2712d89-e532-4159-86f4-95c8bde01a64","name":"scw-test-pool-kubelet-test-pool-kubelet-c2712d","pool_id":"bacc5ae6-cd7f-41ee-823c-b628a9353989","provider_id":"scaleway://instance/fr-par-1/603645c8-5e4f-4c4d-b9b0-93e0dfd9f511","public_ip_v4":"163.172.141.142","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-12T12:39:45.038565Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bacc5ae6-cd7f-41ee-823c-b628a9353989
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"bacc5ae6-cd7f-41ee-823c-b628a9353989","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/587aba02-566f-4e01-97df-b80d08f4da54?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
