---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-relaxed-morse","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-13T15:16:16.962920Z","id":"5b6e67f6-cdfd-44fd-a16e-d0a6591f7168","name":"tf-pn-relaxed-morse","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:16.962920Z","id":"f690f45e-37e0-41ac-b513-90fd0cf0de2f","subnet":"172.16.24.0/22","updated_at":"2023-06-13T15:16:16.962920Z"},{"created_at":"2023-06-13T15:16:16.962920Z","id":"f623dad6-2ef0-4df0-8543-ce86a08322ae","subnet":"fd63:256c:45f7:16d7::/64","updated_at":"2023-06-13T15:16:16.962920Z"}],"tags":[],"updated_at":"2023-06-13T15:16:16.962920Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5b6e67f6-cdfd-44fd-a16e-d0a6591f7168
    method: GET
  response:
    body: '{"created_at":"2023-06-13T15:16:16.962920Z","id":"5b6e67f6-cdfd-44fd-a16e-d0a6591f7168","name":"tf-pn-relaxed-morse","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:16.962920Z","id":"f690f45e-37e0-41ac-b513-90fd0cf0de2f","subnet":"172.16.24.0/22","updated_at":"2023-06-13T15:16:16.962920Z"},{"created_at":"2023-06-13T15:16:16.962920Z","id":"f623dad6-2ef0-4df0-8543-ce86a08322ae","subnet":"fd63:256c:45f7:16d7::/64","updated_at":"2023-06-13T15:16:16.962920Z"}],"tags":[],"updated_at":"2023-06-13T15:16:16.962920Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigUpgradePolicy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.27.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"5b6e67f6-cdfd-44fd-a16e-d0a6591f7168"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://f953ce3d-d52f-4731-9a4e-4aa1aa28b165.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-06-13T15:16:17.401184606Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.f953ce3d-d52f-4731-9a4e-4aa1aa28b165.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"f953ce3d-d52f-4731-9a4e-4aa1aa28b165","ingress":"none","name":"K8SPoolConfigUpgradePolicy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"5b6e67f6-cdfd-44fd-a16e-d0a6591f7168","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2023-06-13T15:16:17.410331293Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f953ce3d-d52f-4731-9a4e-4aa1aa28b165
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f953ce3d-d52f-4731-9a4e-4aa1aa28b165/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWd1cGdyYWRlcG9saWN5IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha1V4VFZSWmVVMHhiMWhFVkUxNlRVUlplRTFxUlRGTlZGbDVUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f953ce3d-d52f-4731-9a4e-4aa1aa28b165/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"f953ce3d-d52f-4731-9a4e-4aa1aa28b165","container_runtime":"containerd","created_at":"2023-06-13T15:16:29.687538Z","id":"c37d5d0f-3dff-4f0a-bda6-6c215c043ac7","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-06-13T15:16:29.787202258Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c37d5d0f-3dff-4f0a-bda6-6c215c043ac7
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"f953ce3d-d52f-4731-9a4e-4aa1aa28b165","container_runtime":"containerd","created_at":"2023-06-13T15:16:29.687538Z","id":"c37d5d0f-3dff-4f0a-bda6-6c215c043ac7","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-06-13T15:16:29.787202Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f953ce3d-d52f-4731-9a4e-4aa1aa28b165/nodes?order_by=created_at_asc&page=1&pool_id=c37d5d0f-3dff-4f0a-bda6-6c215c043ac7&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"f953ce3d-d52f-4731-9a4e-4aa1aa28b165","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-13T15:18:35.207602Z","error_message":null,"id":"34b1f9bc-472e-4eff-9c01-4a8dcc43147f","name":"scw-k8spoolconfigupgradepolicy-default-34b1f9b","pool_id":"c37d5d0f-3dff-4f0a-bda6-6c215c043ac7","provider_id":"scaleway://instance/fr-par-1/5a25a6d5-cc94-4d64-aadc-6daf01e2f9ad","public_ip_v4":"163.172.190.19","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:21:34.514459Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f953ce3d-d52f-4731-9a4e-4aa1aa28b165?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f953ce3d-d52f-4731-9a4e-4aa1aa28b165
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f953ce3d-d52f-4731-9a4e-4aa1aa28b165","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
