---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:49:50.649852Z","dhcp_enabled":true,"id":"4f3402c1-6ce1-4a28-ac04-c22019bece2f","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:50.649852Z","id":"6080f05f-89b3-4884-bbd5-5375c1aed7af","subnet":"172.16.52.0/22","updated_at":"2023-11-07T15:49:50.649852Z"},{"created_at":"2023-11-07T15:49:50.649852Z","id":"3c774edd-bbde-47db-b249-4f82521fc377","subnet":"fd5f:519c:6d46:1dbf::/64","updated_at":"2023-11-07T15:49:50.649852Z"}],"tags":[],"updated_at":"2023-11-07T15:49:50.649852Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4f3402c1-6ce1-4a28-ac04-c22019bece2f
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:49:50.649852Z","dhcp_enabled":true,"id":"4f3402c1-6ce1-4a28-ac04-c22019bece2f","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:50.649852Z","id":"6080f05f-89b3-4884-bbd5-5375c1aed7af","subnet":"172.16.52.0/22","updated_at":"2023-11-07T15:49:50.649852Z"},{"created_at":"2023-11-07T15:49:50.649852Z","id":"3c774edd-bbde-47db-b249-4f82521fc377","subnet":"fd5f:519c:6d46:1dbf::/64","updated_at":"2023-11-07T15:49:50.649852Z"}],"tags":[],"updated_at":"2023-11-07T15:49:50.649852Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"4f3402c1-6ce1-4a28-ac04-c22019bece2f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://517f76de-4e13-4b7a-b65a-41bc4ba9ea4a.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-07T15:49:53.097024964Z","created_at":"2023-11-07T15:49:53.097024964Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.517f76de-4e13-4b7a-b65a-41bc4ba9ea4a.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"517f76de-4e13-4b7a-b65a-41bc4ba9ea4a","ingress":"none","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"4f3402c1-6ce1-4a28-ac04-c22019bece2f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2023-11-07T15:49:53.106145379Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/517f76de-4e13-4b7a-b65a-41bc4ba9ea4a
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/517f76de-4e13-4b7a-b65a-41bc4ba9ea4a/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGRPYWtVeFRrUnJNVTVHYjFoRVZFMTZUVlJGZDA1cVJURk9SR3N4VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/517f76de-4e13-4b7a-b65a-41bc4ba9ea4a/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"517f76de-4e13-4b7a-b65a-41bc4ba9ea4a","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.541146Z","id":"f2906988-2cb9-4253-bc59-d0cc0c91a6a2","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-11-07T15:49:58.550423194Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f2906988-2cb9-4253-bc59-d0cc0c91a6a2
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"517f76de-4e13-4b7a-b65a-41bc4ba9ea4a","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.541146Z","id":"f2906988-2cb9-4253-bc59-d0cc0c91a6a2","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-11-07T15:49:58.550423Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/517f76de-4e13-4b7a-b65a-41bc4ba9ea4a/nodes?order_by=created_at_asc&page=1&pool_id=f2906988-2cb9-4253-bc59-d0cc0c91a6a2&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"517f76de-4e13-4b7a-b65a-41bc4ba9ea4a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:52:10.010165Z","error_message":null,"id":"77d4aa2a-2cc5-44bd-8ff5-9a796e1f6514","name":"scw-test-pool-upgrade-test-pool-upgrade-77d4aa","pool_id":"f2906988-2cb9-4253-bc59-d0cc0c91a6a2","provider_id":"scaleway://instance/fr-par-1/37c5f0e7-c7f7-49a2-b580-85f5b3c4d70d","public_ip_v4":"51.15.242.191","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:54:22.442471Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f2906988-2cb9-4253-bc59-d0cc0c91a6a2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"f2906988-2cb9-4253-bc59-d0cc0c91a6a2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/517f76de-4e13-4b7a-b65a-41bc4ba9ea4a?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
