---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.20.2","label":"Kubernetes 1.20.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodPreset","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.19.7","label":"Kubernetes
      1.19.7","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralContainers","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy",[...]
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"autoscaler","description":"","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"version":"1.20.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"b8d4ad04-3b3e-451a-b1cd-9690999e5193","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T12:29:34.576184624Z","updated_at":"2021-02-15T12:29:41.142692041Z","name":"autoscaler","description":"","status":"creating","version":"1.20.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","autoscaler-config"],"cluster_url":"https://b8d4ad04-3b3e-451a-b1cd-9690999e5193.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b8d4ad04-3b3e-451a-b1cd-9690999e5193.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m","scale_down_utilization_threshold":0.77,"max_graceful_termination_sec":1337},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8d4ad04-3b3e-451a-b1cd-9690999e5193
    method: GET
  response:
    body: '{"region":"fr-par","id":"b8d4ad04-3b3e-451a-b1cd-9690999e5193","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T12:29:34.576185Z","updated_at":"2021-02-15T12:29:41.142692Z","name":"autoscaler","description":"","status":"crea[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8d4ad04-3b3e-451a-b1cd-9690999e5193/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogYXV0b3NjYWxlcgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZUUxRVNYaE9SRVY1VFdwck1FMVdiMWhFVkUxNFRVUkplRTVFUlhsTmFtc3dUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFFWRnZRMmR[...]
[...]
- request:
    body: '{"name":null,"description":null,"tags":null,"autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m","scale_down_utilization_threshold":0.33,"max_graceful_termination_sec":2664},"enable_dashboard":null,"ingress":"unknown_ingress","auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null},"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8d4ad04-3b3e-451a-b1cd-9690999e5193
    method: PATCH
  response:
    body: '{"region"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8d4ad04-3b3e-451a-b1cd-9690999e5193?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"b8d4ad04-3b3e-451a-b1cd-9690999e5193","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T12:29:34.576185Z","updated_at":"2021-02-15T12:29:56.515973557Z","name":"autos[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8d4ad04-3b3e-451a-b1cd-9690999e5193
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b8d4ad04-3b3e-451a-b1cd-9690999e5193","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
