---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.24.5","label":"Kubernetes 1.24.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none"],"available_container_runtimes":["containerd","crio"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"}},{"region":"fr-par","name":"1.23.11","label":"Kubernetes
      1.23.11","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet[...]
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"","name":"K8SPoolConfigUpgradePolicy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.24.5","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"02d0ca44-2ca7-45e1-8874-54d311f77384","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-25T08:39:25.507416037Z","updated_at":"2022-10-25T08:39:25.540243107Z","type":"kapsule","name":"K8SPoolConfigUpgradePolicy","description":"","status":"creating","version":"1.24.5","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"cluster_url":"https://02d0ca44-2ca7-45e1-8874-54d311f77384.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.02d0ca44-2ca7-45e1-8874-54d311f77384.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/02d0ca44-2ca7-45e1-8874-54d311f77384
    method: GET
  response:
    body: '{"region":"fr-par","id":"02d0ca44-2ca7-45e1-8874-54d311f77384","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-25T08:39:25.507416Z","updated_at":"2022-10-25T08:39:25.540243Z","type":"kapsule","name":"K8SPoolConfigUpgradePolicy[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/02d0ca44-2ca7-45e1-8874-54d311f77384/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWd1cGdyYWRlcG9saWN5IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZVUxVVFYbE9SRUUwVFhwcmVVOUdiMWhFVkUxNVRWUkJlVTVFUVRSTmVtdDVUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/02d0ca44-2ca7-45e1-8874-54d311f77384/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"e78bc7c7-ca5e-460f-9d96-3fb065ba43dc","cluster_id":"02d0ca44-2ca7-45e1-8874-54d311f77384","created_at":"2022-10-25T08:39:31.926664Z","updated_at":"2022-10-25T08:39:31.937572233Z","name":"default","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e78bc7c7-ca5e-460f-9d96-3fb065ba43dc
    method: GET
  response:
    body: '{"region":"fr-par","id":"e78bc7c7-ca5e-460f-9d96-3fb065ba43dc","cluster_id":"02d0ca44-2ca7-45e1-8874-54d311f77384","created_at":"2022-10-25T08:39:31.926664Z","updated_at":"2022-10-25T08:39:31.937572Z","name":"default","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/02d0ca44-2ca7-45e1-8874-54d311f77384/nodes?order_by=created_at_asc&page=1&pool_id=e78bc7c7-ca5e-460f-9d96-3fb065ba43dc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"2e2b27a5-fb35-42e5-9a36-1e6e7ad1683e","cluster_id":"02d0ca44-2ca7-45e1-8874-54d311f77384","created_at":"2022-10-25T08:41:51.526589Z","updated_at":"2022-10-25T08:44:00.876321Z","pool_id":"e78bc7c7-ca5e-460f-9d96-3fb065ba43dc","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-k8spoolconfigupgradepolicy-default-2e2b27a","public_ip_v4":"212.47.236.63","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/69415c9e-500d-4fe0-b575-4858157ded6a","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/02d0ca44-2ca7-45e1-8874-54d311f77384?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"02d0ca44-2ca7-45e1-8874-54d311f77384","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-10-25T08:39:25.507416Z","updated_at":"2022-10-25T08:44:12.082701233Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/02d0ca44-2ca7-45e1-8874-54d311f77384
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"02d0ca44-2ca7-45e1-8874-54d311f77384","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
