---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.23.1","label":"Kubernetes 1.23.1","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.22.5","label":"Kubernetes
      1.22.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_k[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "6cc57ed4-6e10-42a7-8f3b-a4def2936d74", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/6cc57ed4-6e10-42a7-8f3b-a4def2936d74
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/6cc57ed4-6e10-42a7-8f3b-a4def2936d74
    method: GET
  response:
    body: '{"placement_group": {"id": "6cc57ed4-6e10-42a7-8f3b-a4def2936d74", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.23.1","cni":"calico","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"3c928169-023c-4ad3-9c38-2f8b7ad40712","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-17T12:59:22.968109688Z","updated_at":"2022-01-17T12:59:22.980127860Z","type":"kapsule","name":"placement_group","description":"","status":"creating","version":"1.23.1","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"cluster_url":"https://3c928169-023c-4ad3-9c38-2f8b7ad40712.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.3c928169-023c-4ad3-9c38-2f8b7ad40712.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3c928169-023c-4ad3-9c38-2f8b7ad40712
    method: GET
  response:
    body: '{"region":"fr-par","id":"3c928169-023c-4ad3-9c38-2f8b7ad40712","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-17T12:59:22.968110Z","updated_at":"2022-01-17T12:59:22.980128Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3c928169-023c-4ad3-9c38-2f8b7ad40712/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVVMUVSWGhPYWtWNVRsUnJlVTB4YjFoRVZFMTVUVVJGZUU1cVJYbE9WR3Q1VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"6cc57ed4-6e10-42a7-8f3b-a4def2936d74","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3c928169-023c-4ad3-9c38-2f8b7ad40712/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"4f2c0eac-329a-4db1-8969-1a89c16d0748","cluster_id":"3c928169-023c-4ad3-9c38-2f8b7ad40712","created_at":"2022-01-17T12:59:28.683493Z","updated_at":"2022-01-17T12:59:28.692955642Z","name":"placement_group","status":"scaling","version":"1.23.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"6cc57ed4-6e10-42a7-8f3b-a4def2936d74","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/4f2c0eac-329a-4db1-8969-1a89c16d0748
    method: GET
  response:
    body: '{"region":"fr-par","id":"4f2c0eac-329a-4db1-8969-1a89c16d0748","cluster_id":"3c928169-023c-4ad3-9c38-2f8b7ad40712","created_at":"2022-01-17T12:59:28.683493Z","updated_at":"2022-01-17T12:59:28.692956Z","name":"placement_group","status":"scaling","version":"1.23.1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"6cc57ed4-6e10-42a7-8f3b-a4def2936d74","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3c928169-023c-4ad3-9c38-2f8b7ad40712/nodes?order_by=created_at_asc&page=1&pool_id=4f2c0eac-329a-4db1-8969-1a89c16d0748&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"951e4dc6-c6d4-443a-8840-68289888d6e2","cluster_id":"3c928169-023c-4ad3-9c38-2f8b7ad40712","created_at":"2022-01-17T13:02:32.549502Z","updated_at":"2022-01-17T13:06:05.951375Z","pool_id":"4f2c0eac-329a-4db1-8969-1a89c16d0748","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-951e4dc6c6","public_ip_v4":"51.158.78.198","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3c928169-023c-4ad3-9c38-2f8b7ad40712?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"3c928169-023c-4ad3-9c38-2f8b7ad40712","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-17T12:59:22.968110Z","updated_at":"2022-01-17T13:06:08.546634434Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3c928169-023c-4ad3-9c38-2f8b7ad40712
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3c928169-023c-4ad3-9c38-2f8b7ad40712","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
