---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-18T16:43:19.912799Z","dhcp_enabled":true,"id":"86352ce5-787c-449c-9998-79898166204d","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T16:43:19.912799Z","id":"e8dae137-1a4b-466e-835a-826dcf62fdd7","subnet":"172.16.40.0/22","updated_at":"2023-10-18T16:43:19.912799Z"},{"created_at":"2023-10-18T16:43:19.912799Z","id":"7ecbb54d-39e3-4c8a-b892-21165c91b24f","subnet":"fd63:256c:45f7:af6c::/64","updated_at":"2023-10-18T16:43:19.912799Z"}],"tags":[],"updated_at":"2023-10-18T16:43:19.912799Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/86352ce5-787c-449c-9998-79898166204d
    method: GET
  response:
    body: '{"created_at":"2023-10-18T16:43:19.912799Z","dhcp_enabled":true,"id":"86352ce5-787c-449c-9998-79898166204d","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T16:43:19.912799Z","id":"e8dae137-1a4b-466e-835a-826dcf62fdd7","subnet":"172.16.40.0/22","updated_at":"2023-10-18T16:43:19.912799Z"},{"created_at":"2023-10-18T16:43:19.912799Z","id":"7ecbb54d-39e3-4c8a-b892-21165c91b24f","subnet":"fd63:256c:45f7:af6c::/64","updated_at":"2023-10-18T16:43:19.912799Z"}],"tags":[],"updated_at":"2023-10-18T16:43:19.912799Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"86352ce5-787c-449c-9998-79898166204d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://422f3a0f-8672-47d0-ba43-e6f70fe573d3.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-10-18T16:43:21.169294369Z","created_at":"2023-10-18T16:43:21.169294369Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.422f3a0f-8672-47d0-ba43-e6f70fe573d3.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"422f3a0f-8672-47d0-ba43-e6f70fe573d3","ingress":"none","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"86352ce5-787c-449c-9998-79898166204d","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-10-18T16:43:21.195949857Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/422f3a0f-8672-47d0-ba43-e6f70fe573d3
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/422f3a0f-8672-47d0-ba43-e6f70fe573d3/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVFYaE9la1V5VGtSTmVVMXNiMWhFVkUxNlRWUkJlRTU2UlRKT1JFMTVUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/422f3a0f-8672-47d0-ba43-e6f70fe573d3/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"422f3a0f-8672-47d0-ba43-e6f70fe573d3","container_runtime":"containerd","created_at":"2023-10-18T16:43:26.636841Z","id":"e903ea26-fed8-4d2e-83ac-80da5478e6f6","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-10-18T16:43:26.647465424Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e903ea26-fed8-4d2e-83ac-80da5478e6f6
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"422f3a0f-8672-47d0-ba43-e6f70fe573d3","container_runtime":"containerd","created_at":"2023-10-18T16:43:26.636841Z","id":"e903ea26-fed8-4d2e-83ac-80da5478e6f6","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-10-18T16:43:26.647465Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/422f3a0f-8672-47d0-ba43-e6f70fe573d3/nodes?order_by=created_at_asc&page=1&pool_id=e903ea26-fed8-4d2e-83ac-80da5478e6f6&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"422f3a0f-8672-47d0-ba43-e6f70fe573d3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T16:45:22.864846Z","error_message":null,"id":"763cccf3-28bc-4a71-bf3f-50743fa64646","name":"scw-test-pool-minimal-test-pool-minimal-763ccc","pool_id":"e903ea26-fed8-4d2e-83ac-80da5478e6f6","provider_id":"scaleway://instance/fr-par-1/c6df0307-f00a-4a58-89b5-7d39cfeff63b","public_ip_v4":"51.158.117.252","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T16:50:25.561389Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/422f3a0f-8672-47d0-ba43-e6f70fe573d3/nodes?order_by=created_at_asc&page=1&pool_id=e903ea26-fed8-4d2e-83ac-80da5478e6f6&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"422f3a0f-8672-47d0-ba43-e6f70fe573d3","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T16:45:22.864846Z","error_message":null,"id":"763cccf3-28bc-4a71-bf3f-50743fa64646","name":"scw-test-pool-minimal-test-pool-minimal-763ccc","pool_id":"e903ea26-fed8-4d2e-83ac-80da5478e6f6","provider_id":"scaleway://instance/fr-par-1/c6df0307-f00a-4a58-89b5-7d39cfeff63b","public_ip_v4":"51.158.117.252","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T16:55:25.665461Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/422f3a0f-8672-47d0-ba43-e6f70fe573d3?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/422f3a0f-8672-47d0-ba43-e6f70fe573d3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"422f3a0f-8672-47d0-ba43-e6f70fe573d3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
