---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-thirsty-leavitt","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-08T13:23:02.170109Z","id":"3de87863-a5b7-4d0c-9f3f-bb7aefd13f8b","name":"tf-pn-thirsty-leavitt","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:23:02.170109Z","id":"2108c2f1-03aa-4e7e-bdfb-cdb8b822711f","subnet":"172.16.56.0/22","updated_at":"2023-06-08T13:23:02.170109Z"},{"created_at":"2023-06-08T13:23:02.170109Z","id":"6dc45acf-54e2-48ed-9ceb-b371067ec65f","subnet":"fd63:256c:45f7:e21c::/64","updated_at":"2023-06-08T13:23:02.170109Z"}],"tags":[],"updated_at":"2023-06-08T13:23:02.170109Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3de87863-a5b7-4d0c-9f3f-bb7aefd13f8b
    method: GET
  response:
    body: '{"created_at":"2023-06-08T13:23:02.170109Z","id":"3de87863-a5b7-4d0c-9f3f-bb7aefd13f8b","name":"tf-pn-thirsty-leavitt","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:23:02.170109Z","id":"2108c2f1-03aa-4e7e-bdfb-cdb8b822711f","subnet":"172.16.56.0/22","updated_at":"2023-06-08T13:23:02.170109Z"},{"created_at":"2023-06-08T13:23:02.170109Z","id":"6dc45acf-54e2-48ed-9ceb-b371067ec65f","subnet":"fd63:256c:45f7:e21c::/64","updated_at":"2023-06-08T13:23:02.170109Z"}],"tags":[],"updated_at":"2023-06-08T13:23:02.170109Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigMinimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"3de87863-a5b7-4d0c-9f3f-bb7aefd13f8b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://61686513-0322-4b38-899c-b7c82ca0135f.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-06-08T13:23:02.541571038Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.61686513-0322-4b38-899c-b7c82ca0135f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"61686513-0322-4b38-899c-b7c82ca0135f","ingress":"none","name":"K8SPoolConfigMinimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"3de87863-a5b7-4d0c-9f3f-bb7aefd13f8b","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-06-08T13:23:02.593129054Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61686513-0322-4b38-899c-b7c82ca0135f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61686513-0322-4b38-899c-b7c82ca0135f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWdtaW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYZE9la1Y2VFdwTmQwNUdiMWhFVkUxNlRVUlpkMDU2UlhwTmFrMTNUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61686513-0322-4b38-899c-b7c82ca0135f/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"61686513-0322-4b38-899c-b7c82ca0135f","container_runtime":"containerd","created_at":"2023-06-08T13:23:08.694289Z","id":"89eb3752-c752-431a-8315-9ba6705d8e79","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-06-08T13:23:08.902143880Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/89eb3752-c752-431a-8315-9ba6705d8e79
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"61686513-0322-4b38-899c-b7c82ca0135f","container_runtime":"containerd","created_at":"2023-06-08T13:23:08.694289Z","id":"89eb3752-c752-431a-8315-9ba6705d8e79","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-06-08T13:23:08.902144Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61686513-0322-4b38-899c-b7c82ca0135f/nodes?order_by=created_at_asc&page=1&pool_id=89eb3752-c752-431a-8315-9ba6705d8e79&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"61686513-0322-4b38-899c-b7c82ca0135f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-08T13:25:11.201208Z","error_message":null,"id":"931a0949-7627-4346-b1bb-d962841cedeb","name":"scw-k8spoolconfigminimal-default-931a094976274","pool_id":"89eb3752-c752-431a-8315-9ba6705d8e79","provider_id":"scaleway://instance/fr-par-1/69b26908-16f2-4cd2-b84a-ef67a3a24a9d","public_ip_v4":"51.158.77.29","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-08T13:27:24.535758Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61686513-0322-4b38-899c-b7c82ca0135f/nodes?order_by=created_at_asc&page=1&pool_id=89eb3752-c752-431a-8315-9ba6705d8e79&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"61686513-0322-4b38-899c-b7c82ca0135f","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-06-08T13:25:11.201208Z","error_message":null,"id":"931a0949-7627-4346-b1bb-d962841cedeb","name":"scw-k8spoolconfigminimal-default-931a094976274","pool_id":"89eb3752-c752-431a-8315-9ba6705d8e79","provider_id":"scaleway://instance/fr-par-1/69b26908-16f2-4cd2-b84a-ef67a3a24a9d","public_ip_v4":"51.158.77.29","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-08T13:29:37.911423Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61686513-0322-4b38-899c-b7c82ca0135f?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61686513-0322-4b38-899c-b7c82ca0135f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"61686513-0322-4b38-899c-b7c82ca0135f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
