---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.20.2","label":"Kubernetes 1.20.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodPreset","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.19.7","label":"Kubernetes
      1.19.7","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralContainers","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy",[...]
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"K8SPoolConfigKubeletArgs","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.20.2","cni":"cilium","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"36f15863-0d05-4667-bfd3-ed007587b5ec","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:35:12.313816637Z","updated_at":"2021-02-15T13:35:18.646847324Z","name":"K8SPoolConfigKubeletArgs","description":"","status":"creating","version":"1.20.2","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"cluster_url":"https://36f15863-0d05-4667-bfd3-ed007587b5ec.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.36f15863-0d05-4667-bfd3-ed007587b5ec.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/36f15863-0d05-4667-bfd3-ed007587b5ec
    method: GET
  response:
    body: '{"region":"fr-par","id":"36f15863-0d05-4667-bfd3-ed007587b5ec","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:35:12.313817Z","updated_at":"2021-02-15T13:35:18.646847Z","name":"K8SPoolConfigKubeletArgs","description":"",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/36f15863-0d05-4667-bfd3-ed007587b5ec/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogazhzcG9vbGNvbmZpZ2t1YmVsZXRhcmdzCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplRTFFU1hoT1JFVjZUWHBWZUU5R2IxaEVWRTE0VFVSSmVFNUVSWHBOZWxWNFQwWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/36f15863-0d05-4667-bfd3-ed007587b5ec/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"719f5337-2601-4357-b050-a979151afc95","cluster_id":"36f15863-0d05-4667-bfd3-ed007587b5ec","created_at":"2021-02-15T13:35:24.365299Z","updated_at":"2021-02-15T13:35:24.380147027Z","name":"default","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"placement_group_id":null,"kubelet_args":{"maxPods":"1337"},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/719f5337-2601-4357-b050-a979151afc95
    method: GET
  response:
    body: '{"region":"fr-par","id":"719f5337-2601-4357-b050-a979151afc95","cluster_id":"36f15863-0d05-4667-bfd3-ed007587b5ec","created_at":"2021-02-15T13:35:24.365299Z","updated_at":"2021-02-15T13:35:24.380147Z","name":"default","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"placement_group_id":null,"kubelet_args":{"maxPods":"1337"},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/36f15863-0d05-4667-bfd3-ed007587b5ec/nodes?order_by=created_at_asc&page=1&pool_id=719f5337-2601-4357-b050-a979151afc95&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/36f15863-0d05-4667-bfd3-ed007587b5ec/nodes?order_by=created_at_asc&page=1&pool_id=719f5337-2601-4357-b050-a979151afc95&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"8078b27a-aca6-4b34-854a-7843552095d2","cluster_id":"36f15863-0d05-4667-bfd3-ed007587b5ec","created_at":"2021-02-15T13:36:30.680799Z","updated_at":"2021-02-15T13:36:34.457534Z","pool_id":"719f5337-2601-4357-b050-a979151afc95","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-k8spoolconfigkubeletargs-default-8078b27aa","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/36f15863-0d05-4667-bfd3-ed007587b5ec?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"36f15863-0d05-4667-bfd3-ed007587b5ec","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:35:12.313817Z","updated_at":"2021-02-15T13:36:38.170189540Z","name":"K8SPo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/36f15863-0d05-4667-bfd3-ed007587b5ec
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"36f15863-0d05-4667-bfd3-ed007587b5ec","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
