---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.23.6","label":"Kubernetes 1.23.6","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe"],"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","maxPods":"uint16"}},{"region":"fr-par","name":"1.22.9","label":"Kubernetes
      1.22.9","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_arg[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","type":"multicloud","name":"test-multicloud","description":"","tags":null,"version":"1.23.6","cni":"kilo","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"64ae499e-4f42-455a-9091-4ad177311266","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-06-08T15:08:46.097533800Z","updated_at":"2022-06-08T15:08:46.107681857Z","type":"multicloud","name":"test-multicloud","description":"","status":"creating","version":"1.23.6","cni":"kilo","tags":[],"cluster_url":"https://64ae499e-4f42-455a-9091-4ad177311266.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.64ae499e-4f42-455a-9091-4ad177311266.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/64ae499e-4f42-455a-9091-4ad177311266
    method: GET
  response:
    body: '{"region":"fr-par","id":"64ae499e-4f42-455a-9091-4ad177311266","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-06-08T15:08:46.097534Z","updated_at":"2022-06-08T15:08:46.107682Z","type":"multicloud","name":"test-multicloud","descr[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/64ae499e-4f42-455a-9091-4ad177311266/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtbXVsdGljbG91ZCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVVMUVXWGRPZWtVeFRVUm5NRTR4YjFoRVZFMTVUVVJaZDA1NlJURk5SR2N3VGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"test-multicloud","node_type":"dev1_m","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/64ae499e-4f42-455a-9091-4ad177311266/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"eac9a6e9-be6c-4640-b98c-d1883eb7a33a","cluster_id":"64ae499e-4f42-455a-9091-4ad177311266","created_at":"2022-06-08T15:10:32.749509Z","updated_at":"2022-06-08T15:10:32.765066164Z","name":"test-multicloud","status":"scaling","version":"1.23.6","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/eac9a6e9-be6c-4640-b98c-d1883eb7a33a
    method: GET
  response:
    body: '{"region":"fr-par","id":"eac9a6e9-be6c-4640-b98c-d1883eb7a33a","cluster_id":"64ae499e-4f42-455a-9091-4ad177311266","created_at":"2022-06-08T15:10:32.749509Z","updated_at":"2022-06-08T15:10:32.765066Z","name":"test-multicloud","status":"scaling","version":"1.23.6","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":40000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/64ae499e-4f42-455a-9091-4ad177311266/nodes?order_by=created_at_asc&page=1&pool_id=eac9a6e9-be6c-4640-b98c-d1883eb7a33a&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"98b2d808-3ec3-49b7-8446-4028db218891","cluster_id":"64ae499e-4f42-455a-9091-4ad177311266","created_at":"2022-06-08T15:11:41.537542Z","updated_at":"2022-06-08T15:16:53.241299Z","pool_id":"eac9a6e9-be6c-4640-b98c-d1883eb7a33a","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-test-multicloud-test-multicloud-98b2d8083e","public_ip_v4":"51.15.241.61","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/64ae499e-4f42-455a-9091-4ad177311266?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"64ae499e-4f42-455a-9091-4ad177311266","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-06-08T15:08:46.097534Z","updated_at":"2022-06-08T15:16:55.286173597Z","type":"multi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/64ae499e-4f42-455a-9091-4ad177311266
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"64ae499e-4f42-455a-9091-4ad177311266","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
