---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.21.0","label":"Kubernetes 1.21.0","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.20.6","label":"Kubernetes
      1.20.6","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImage[...]
- request:
    body: '{"project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","name":"K8SPoolConfigMinimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.21.0","cni":"calico","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"3989cf12-b66f-481b-a0be-bac2ce4a3abb","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","created_at":"2021-05-11T14:50:17.309932420Z","updated_at":"2021-05-11T14:50:18.623776283Z","name":"K8SPoolConfigMinimal","description":"","status":"creating","version":"1.21.0","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://3989cf12-b66f-481b-a0be-bac2ce4a3abb.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.3989cf12-b66f-481b-a0be-bac2ce4a3abb.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3989cf12-b66f-481b-a0be-bac2ce4a3abb
    method: GET
  response:
    body: '{"region":"fr-par","id":"3989cf12-b66f-481b-a0be-bac2ce4a3abb","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","created_at":"2021-05-11T14:50:17.309932Z","updated_at":"2021-05-11T14:50:18.623776Z","name":"K8SPoolConfigMinimal","description":"","sta[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3989cf12-b66f-481b-a0be-bac2ce4a3abb/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogazhzcG9vbGNvbmZpZ21pbmltYWwKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVFMUVWWGhOUkVVd1RsUkJlRTlHYjFoRVZFMTRUVVJWZUUxRVJUQk9WRUY0VDBadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3989cf12-b66f-481b-a0be-bac2ce4a3abb/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"bc62d8c8-e219-47fd-aca3-95bec9f30eb3","cluster_id":"3989cf12-b66f-481b-a0be-bac2ce4a3abb","created_at":"2021-05-11T14:50:24.224934Z","updated_at":"2021-05-11T14:50:24.235528576Z","name":"default","status":"scaling","version":"1.21.0","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bc62d8c8-e219-47fd-aca3-95bec9f30eb3
    method: GET
  response:
    body: '{"region":"fr-par","id":"bc62d8c8-e219-47fd-aca3-95bec9f30eb3","cluster_id":"3989cf12-b66f-481b-a0be-bac2ce4a3abb","created_at":"2021-05-11T14:50:24.224934Z","updated_at":"2021-05-11T14:50:24.235529Z","name":"default","status":"scaling","version":"1.21.0","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3989cf12-b66f-481b-a0be-bac2ce4a3abb/nodes?order_by=created_at_asc&page=1&pool_id=bc62d8c8-e219-47fd-aca3-95bec9f30eb3&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3989cf12-b66f-481b-a0be-bac2ce4a3abb?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"3989cf12-b66f-481b-a0be-bac2ce4a3abb","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","created_at":"2021-05-11T14:50:17.309932Z","updated_at":"2021-05-11T14:51:31.004472667Z","name":"K8SPo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3989cf12-b66f-481b-a0be-bac2ce4a3abb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3989cf12-b66f-481b-a0be-bac2ce4a3abb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
