---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-10T13:16:56.658332Z","dhcp_enabled":true,"id":"08a8405b-c181-40ea-a1b5-16616ddbb5c6","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:16:56.658332Z","id":"ef5af4fc-e547-4fcf-8f46-819d83d66f28","subnet":"172.16.20.0/22","updated_at":"2023-11-10T13:16:56.658332Z"},{"created_at":"2023-11-10T13:16:56.658332Z","id":"2a3a3b51-6ba2-4680-9410-2d92d1f49927","subnet":"fd63:256c:45f7:fc5f::/64","updated_at":"2023-11-10T13:16:56.658332Z"}],"tags":[],"updated_at":"2023-11-10T13:16:56.658332Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/08a8405b-c181-40ea-a1b5-16616ddbb5c6
    method: GET
  response:
    body: '{"created_at":"2023-11-10T13:16:56.658332Z","dhcp_enabled":true,"id":"08a8405b-c181-40ea-a1b5-16616ddbb5c6","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:16:56.658332Z","id":"ef5af4fc-e547-4fcf-8f46-819d83d66f28","subnet":"172.16.20.0/22","updated_at":"2023-11-10T13:16:56.658332Z"},{"created_at":"2023-11-10T13:16:56.658332Z","id":"2a3a3b51-6ba2-4680-9410-2d92d1f49927","subnet":"fd63:256c:45f7:fc5f::/64","updated_at":"2023-11-10T13:16:56.658332Z"}],"tags":[],"updated_at":"2023-11-10T13:16:56.658332Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"08a8405b-c181-40ea-a1b5-16616ddbb5c6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://d351b483-2973-429b-bb2c-c5cdb71835a3.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-10T13:16:58.936901389Z","created_at":"2023-11-10T13:16:58.936901389Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.d351b483-2973-429b-bb2c-c5cdb71835a3.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"d351b483-2973-429b-bb2c-c5cdb71835a3","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"08a8405b-c181-40ea-a1b5-16616ddbb5c6","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-11-10T13:16:58.991811604Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d351b483-2973-429b-bb2c-c5cdb71835a3
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d351b483-2973-429b-bb2c-c5cdb71835a3/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYZFBWRVY2VFZSamQwMUdiMWhFVkUxNlRWUkZkMDlVUlhwTlZHTjNUVVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d351b483-2973-429b-bb2c-c5cdb71835a3/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"d351b483-2973-429b-bb2c-c5cdb71835a3","container_runtime":"containerd","created_at":"2023-11-10T13:17:04.450801Z","id":"76471576-5453-45a5-b5fe-64739c76a783","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-10T13:17:04.461657749Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/76471576-5453-45a5-b5fe-64739c76a783
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"d351b483-2973-429b-bb2c-c5cdb71835a3","container_runtime":"containerd","created_at":"2023-11-10T13:17:04.450801Z","id":"76471576-5453-45a5-b5fe-64739c76a783","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-10T13:17:04.461658Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d351b483-2973-429b-bb2c-c5cdb71835a3/nodes?order_by=created_at_asc&page=1&pool_id=76471576-5453-45a5-b5fe-64739c76a783&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"d351b483-2973-429b-bb2c-c5cdb71835a3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:19:55.264004Z","error_message":null,"id":"3e98118f-f620-4754-890a-3675b26e4bcc","name":"scw-test-pool-wait-test-pool-wait-3e98118ff620","pool_id":"76471576-5453-45a5-b5fe-64739c76a783","provider_id":"scaleway://instance/fr-par-1/a899b6df-8d9a-4882-a6e6-c5e770f10323","public_ip_v4":"163.172.143.139","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:23:35.771409Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d351b483-2973-429b-bb2c-c5cdb71835a3/nodes?order_by=created_at_asc&page=1&pool_id=76471576-5453-45a5-b5fe-64739c76a783&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"d351b483-2973-429b-bb2c-c5cdb71835a3","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:19:55.264004Z","error_message":null,"id":"3e98118f-f620-4754-890a-3675b26e4bcc","name":"scw-test-pool-wait-test-pool-wait-3e98118ff620","pool_id":"76471576-5453-45a5-b5fe-64739c76a783","provider_id":"scaleway://instance/fr-par-1/a899b6df-8d9a-4882-a6e6-c5e770f10323","public_ip_v4":"163.172.143.139","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:26:43.041882Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/df8f941f-0be3-4458-9318-77cde72cb43a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"df8f941f-0be3-4458-9318-77cde72cb43a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d351b483-2973-429b-bb2c-c5cdb71835a3?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
