---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-sweet-lederberg","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-08T13:23:02.052940Z","id":"9192998c-918f-4b87-81b9-c39cbb25ef58","name":"tf-pn-sweet-lederberg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:23:02.052940Z","id":"af9f11b6-266c-429b-a9d9-d9e49ce79337","subnet":"172.16.60.0/22","updated_at":"2023-06-08T13:23:02.052940Z"},{"created_at":"2023-06-08T13:23:02.052940Z","id":"ac754bf7-ba73-4339-812f-61c49ba0c140","subnet":"fd63:256c:45f7:1a7a::/64","updated_at":"2023-06-08T13:23:02.052940Z"}],"tags":[],"updated_at":"2023-06-08T13:23:02.052940Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9192998c-918f-4b87-81b9-c39cbb25ef58
    method: GET
  response:
    body: '{"created_at":"2023-06-08T13:23:02.052940Z","id":"9192998c-918f-4b87-81b9-c39cbb25ef58","name":"tf-pn-sweet-lederberg","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:23:02.052940Z","id":"af9f11b6-266c-429b-a9d9-d9e49ce79337","subnet":"172.16.60.0/22","updated_at":"2023-06-08T13:23:02.052940Z"},{"created_at":"2023-06-08T13:23:02.052940Z","id":"ac754bf7-ba73-4339-812f-61c49ba0c140","subnet":"fd63:256c:45f7:1a7a::/64","updated_at":"2023-06-08T13:23:02.052940Z"}],"tags":[],"updated_at":"2023-06-08T13:23:02.052940Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"PoolConfigWait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"9192998c-918f-4b87-81b9-c39cbb25ef58"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a25a171a-56e7-49ff-a144-be4375af47d0.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-06-08T13:23:02.585961566Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.a25a171a-56e7-49ff-a144-be4375af47d0.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"a25a171a-56e7-49ff-a144-be4375af47d0","ingress":"none","name":"PoolConfigWait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"9192998c-918f-4b87-81b9-c39cbb25ef58","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-06-08T13:23:02.614111361Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a25a171a-56e7-49ff-a144-be4375af47d0
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a25a171a-56e7-49ff-a144-be4375af47d0/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBvb2xjb25maWd3YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYZE9la1Y2VFdwTmQwNUdiMWhFVkUxNlRVUlpkMDU2UlhwTmFrMTNUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a25a171a-56e7-49ff-a144-be4375af47d0/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a25a171a-56e7-49ff-a144-be4375af47d0","container_runtime":"containerd","created_at":"2023-06-08T13:23:08.906844Z","id":"41ec8639-a2aa-44fd-bfe3-ab38eaef2c2a","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-08T13:23:09.035307175Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/41ec8639-a2aa-44fd-bfe3-ab38eaef2c2a
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a25a171a-56e7-49ff-a144-be4375af47d0","container_runtime":"containerd","created_at":"2023-06-08T13:23:08.906844Z","id":"41ec8639-a2aa-44fd-bfe3-ab38eaef2c2a","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-08T13:23:09.035307Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a25a171a-56e7-49ff-a144-be4375af47d0/nodes?order_by=created_at_asc&page=1&pool_id=41ec8639-a2aa-44fd-bfe3-ab38eaef2c2a&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a25a171a-56e7-49ff-a144-be4375af47d0","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-08T13:26:13.230066Z","error_message":null,"id":"2369b448-2d32-479d-a00a-6fa51c6196ed","name":"scw-poolconfigwait-default-2369b4482d32479da00","pool_id":"41ec8639-a2aa-44fd-bfe3-ab38eaef2c2a","provider_id":"scaleway://instance/fr-par-1/f99b3811-3804-48c4-9ae1-ff7c703cec7c","public_ip_v4":"51.158.101.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-08T13:29:04.675516Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a25a171a-56e7-49ff-a144-be4375af47d0/nodes?order_by=created_at_asc&page=1&pool_id=41ec8639-a2aa-44fd-bfe3-ab38eaef2c2a&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a25a171a-56e7-49ff-a144-be4375af47d0","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-06-08T13:26:13.230066Z","error_message":null,"id":"2369b448-2d32-479d-a00a-6fa51c6196ed","name":"scw-poolconfigwait-default-2369b4482d32479da00","pool_id":"41ec8639-a2aa-44fd-bfe3-ab38eaef2c2a","provider_id":"scaleway://instance/fr-par-1/f99b3811-3804-48c4-9ae1-ff7c703cec7c","public_ip_v4":"51.158.101.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-08T13:32:26.760089Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a25a171a-56e7-49ff-a144-be4375af47d0?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a25a171a-56e7-49ff-a144-be4375af47d0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a25a171a-56e7-49ff-a144-be4375af47d0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
