---
version: 1
interactions:
- request:
    body: '{"name":"pool-placement-group","project":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "0019630d-94f6-46b8-ba9f-be46b4ad6862", "name":
      "pool-placement-group", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/placement_groups/0019630d-94f6-46b8-ba9f-be46b4ad6862
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/0019630d-94f6-46b8-ba9f-be46b4ad6862
    method: GET
  response:
    body: '{"placement_group": {"id": "0019630d-94f6-46b8-ba9f-be46b4ad6862", "name":
      "pool-placement-group", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster_beta","placement_group"],"version":"1.19.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"0f2d7653-9918-4b31-b6f0-512b214329bb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T13:15:26.302830833Z","updated_at":"2020-10-15T13:15:26.983588592Z","name":"placement_group","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","placement_group"],"cluster_url":"https://0f2d7653-9918-4b31-b6f0-512b214329bb.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.0f2d7653-9918-4b31-b6f0-512b214329bb.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0f2d7653-9918-4b31-b6f0-512b214329bb
    method: GET
  response:
    body: '{"region":"fr-par","id":"0f2d7653-9918-4b31-b6f0-512b214329bb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T13:15:26.302831Z","updated_at":"2020-10-15T13:15:26.983589Z","name":"placement_group","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","placement_group"],"cluster_url":"https://0f2d7653-9918-4b31-b6f0-512b214329bb.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.0f2d7653-9918-4b31-b6f0-512b214329bb.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0f2d7653-9918-4b31-b6f0-512b214329bb/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogcGxhY2VtZW50Z3JvdXAKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU41UkVORFFXSkRaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmQwMVVRWGhPUkVWNlRWUlZlVTR4YjFoRVZFMTNUVlJCZUU1RVJYcE5WRlY1VGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkRRVkZ[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"0019630d-94f6-46b8-ba9f-be46b4ad6862","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0f2d7653-9918-4b31-b6f0-512b214329bb/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"37abea2e-6a5a-4975-b62e-8034bea45fd6","cluster_id":"0f2d7653-9918-4b31-b6f0-512b214329bb","created_at":"2020-10-15T13:15:33.232402Z","updated_at":"2020-10-15T13:15:33.252747669Z","name":"placement_group","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":"0019630d-94f6-46b8-ba9f-be46b4ad6862"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/37abea2e-6a5a-4975-b62e-8034bea45fd6
    method: GET
  response:
    body: '{"region":"fr-par","id":"37abea2e-6a5a-4975-b62e-8034bea45fd6","cluster_id":"0f2d7653-9918-4b31-b6f0-512b214329bb","created_at":"2020-10-15T13:15:33.232402Z","updated_at":"2020-10-15T13:15:33.252748Z","name":"placement_group","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":"0019630d-94f6-46b8-ba9f-be46b4ad6862"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0f2d7653-9918-4b31-b6f0-512b214329bb/nodes?order_by=created_at_asc&page=1&pool_id=37abea2e-6a5a-4975-b62e-8034bea45fd6&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"456a8e89-3c1a-4e93-9597-9aa93dce41ae","cluster_id":"0f2d7653-9918-4b31-b6f0-512b214329bb","created_at":"2020-10-15T13:16:13.675440Z","updated_at":"2020-10-15T13:16:15.348284Z","pool_id":"37abea2e-6a5a-4975-b62e-8034bea45fd6","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-placement-group-placement-group-456a8e893c","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0f2d7653-9918-4b31-b6f0-512b214329bb?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"0f2d7653-9918-4b31-b6f0-512b214329bb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T13:15:26.302831Z","updated_at":"2020-10-15T13:16:18.198030880Z","name":"placement_group","description":"","status":"deleting","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","placement_group"],"cluster_url":"https://0f2d7653-9918-4b31-b6f0-512b214329bb.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.0f2d7653-9918-4b31-b6f0-512b214329bb.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0f2d7653-9918-4b31-b6f0-512b214329bb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"0f2d7653-9918-4b31-b6f0-512b214329bb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
