---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-12T12:33:59.809071Z","dhcp_enabled":true,"id":"91f5df66-186e-4b62-af54-ffdb63377a1a","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:33:59.809071Z","id":"cdb527fb-daf6-4594-95a6-13ea35fd1156","subnet":"172.16.28.0/22","updated_at":"2023-12-12T12:33:59.809071Z"},{"created_at":"2023-12-12T12:33:59.809071Z","id":"45e4bcff-c6dd-4326-a35d-07ac67a45b1a","subnet":"fd63:256c:45f7:23b8::/64","updated_at":"2023-12-12T12:33:59.809071Z"}],"tags":[],"updated_at":"2023-12-12T12:33:59.809071Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/91f5df66-186e-4b62-af54-ffdb63377a1a
    method: GET
  response:
    body: '{"created_at":"2023-12-12T12:33:59.809071Z","dhcp_enabled":true,"id":"91f5df66-186e-4b62-af54-ffdb63377a1a","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:33:59.809071Z","id":"cdb527fb-daf6-4594-95a6-13ea35fd1156","subnet":"172.16.28.0/22","updated_at":"2023-12-12T12:33:59.809071Z"},{"created_at":"2023-12-12T12:33:59.809071Z","id":"45e4bcff-c6dd-4326-a35d-07ac67a45b1a","subnet":"fd63:256c:45f7:23b8::/64","updated_at":"2023-12-12T12:33:59.809071Z"}],"tags":[],"updated_at":"2023-12-12T12:33:59.809071Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"91f5df66-186e-4b62-af54-ffdb63377a1a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://0915fc16-da49-4208-964b-d33e9da06da3.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-12T12:34:01.247847844Z","created_at":"2023-12-12T12:34:01.247847844Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.0915fc16-da49-4208-964b-d33e9da06da3.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"0915fc16-da49-4208-964b-d33e9da06da3","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"91f5df66-186e-4b62-af54-ffdb63377a1a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-12-12T12:34:01.257488238Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0915fc16-da49-4208-964b-d33e9da06da3
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0915fc16-da49-4208-964b-d33e9da06da3/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVTWGhOVkVWNVRYcFJkMDFzYjFoRVZFMTZUVlJKZUUxVVJYbE5lbEYzVFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0915fc16-da49-4208-964b-d33e9da06da3/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"0915fc16-da49-4208-964b-d33e9da06da3","container_runtime":"containerd","created_at":"2023-12-12T12:34:06.646959Z","id":"200c59c3-097a-492e-a7ed-fd33de008b18","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-12T12:34:06.670169823Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/200c59c3-097a-492e-a7ed-fd33de008b18
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"0915fc16-da49-4208-964b-d33e9da06da3","container_runtime":"containerd","created_at":"2023-12-12T12:34:06.646959Z","id":"200c59c3-097a-492e-a7ed-fd33de008b18","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-12T12:34:06.670170Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0915fc16-da49-4208-964b-d33e9da06da3/nodes?order_by=created_at_asc&page=1&pool_id=200c59c3-097a-492e-a7ed-fd33de008b18&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"0915fc16-da49-4208-964b-d33e9da06da3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-12T12:35:37.874164Z","error_message":null,"id":"832d4fc1-f0e3-4e76-b722-3422918bf66d","name":"scw-test-k8s-public-i-test-k8s-public-i-832d4f","pool_id":"200c59c3-097a-492e-a7ed-fd33de008b18","provider_id":"scaleway://instance/fr-par-1/df642456-af54-48e5-b9ff-3f8be88258bf","public_ip_v4":"163.172.141.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-12T12:38:36.154980Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0915fc16-da49-4208-964b-d33e9da06da3/nodes?order_by=created_at_asc&pool_id=200c59c3-097a-492e-a7ed-fd33de008b18&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"0915fc16-da49-4208-964b-d33e9da06da3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-12T12:35:37.874164Z","error_message":null,"id":"832d4fc1-f0e3-4e76-b722-3422918bf66d","name":"scw-test-k8s-public-i-test-k8s-public-i-832d4f","pool_id":"200c59c3-097a-492e-a7ed-fd33de008b18","provider_id":"scaleway://instance/fr-par-1/df642456-af54-48e5-b9ff-3f8be88258bf","public_ip_v4":"163.172.141.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-12T12:38:36.154980Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/df642456-af54-48e5-b9ff-3f8be88258bf
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-12-12T12:35:38.755189+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-832d4f","id":"df642456-af54-48e5-b9ff-3f8be88258bf","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:618:407::1","gateway":"2001:bc8:618:407::","netmask":"64"},"location":{"cluster_id":"24","hypervisor_id":"301","node_id":"8","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:32:3d:57","maintenances":[],"modification_date":"2023-12-12T12:35:53.347699+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-832d4f","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.66.17.15","private_nics":[{"creation_date":"2023-12-12T12:35:39.264680+00:00","id":"4b06a7e2-1cb3-465f-8734-c14f577a0ba8","mac_address":"02:00:00:15:70:8f","modification_date":"2023-12-12T12:35:40.166927+00:00","private_network_id":"91f5df66-186e-4b62-af54-ffdb63377a1a","server_id":"df642456-af54-48e5-b9ff-3f8be88258bf","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.141.90","dynamic":true,"family":"inet","gateway":null,"id":"59aac8e5-52db-4dfc-9685-09cf1b243d89","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"163.172.141.90","dynamic":true,"family":"inet","gateway":null,"id":"59aac8e5-52db-4dfc-9685-09cf1b243d89","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"76a6b652-cd3a-45e3-bc86-a07d8bcc2525","name":"kubernetes
      0915fc16-da49-4208-964b-d33e9da06da3"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=0915fc16-da49-4208-964b-d33e9da06da3","pool=200c59c3-097a-492e-a7ed-fd33de008b18","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=832d4fc1-f0e3-4e76-b722-3422918bf66d"],"volumes":{"0":{"boot":false,"creation_date":"2023-12-12T12:35:38.755189+00:00","export_uri":null,"id":"f512b7f4-b08f-4a2d-8760-e7615e316be7","modification_date":"2023-12-12T12:35:38.755189+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"df642456-af54-48e5-b9ff-3f8be88258bf","name":"scw-test-k8s-public-i-test-k8s-public-i-832d4f"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/200c59c3-097a-492e-a7ed-fd33de008b18
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"200c59c3-097a-492e-a7ed-fd33de008b18","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-12T12:39:06.754390Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14a9d9cb-b325-469c-8dcd-ac1566eab50f","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-12T12:39:06.754390Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/14a9d9cb-b325-469c-8dcd-ac1566eab50f
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-12T12:39:06.754390Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14a9d9cb-b325-469c-8dcd-ac1566eab50f","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-12T12:39:06.754390Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-12T12:39:07.504105Z","gateway_networks":[],"id":"57025431-5c1c-4a77-8e6e-9e17f8c434db","ip":{"address":"51.158.121.43","created_at":"2023-12-12T12:39:07.480748Z","gateway_id":"57025431-5c1c-4a77-8e6e-9e17f8c434db","id":"4d5facf7-f86c-4f01-894f-7204b2791df0","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"43-121-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-12T12:39:07.480748Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-12T12:39:07.504105Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/57025431-5c1c-4a77-8e6e-9e17f8c434db
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-12T12:39:07.504105Z","gateway_networks":[],"id":"57025431-5c1c-4a77-8e6e-9e17f8c434db","ip":{"address":"51.158.121.43","created_at":"2023-12-12T12:39:07.480748Z","gateway_id":"57025431-5c1c-4a77-8e6e-9e17f8c434db","id":"4d5facf7-f86c-4f01-894f-7204b2791df0","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"43-121-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-12T12:39:07.480748Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-12T12:39:07.692004Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"57025431-5c1c-4a77-8e6e-9e17f8c434db","private_network_id":"91f5df66-186e-4b62-af54-ffdb63377a1a","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"14a9d9cb-b325-469c-8dcd-ac1566eab50f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-12-12T12:39:13.809073Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-12T12:39:06.754390Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14a9d9cb-b325-469c-8dcd-ac1566eab50f","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-12T12:39:06.754390Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"57025431-5c1c-4a77-8e6e-9e17f8c434db","id":"5f1a90d7-ee19-437e-bf1e-1a451d27ee9a","ipam_config":null,"mac_address":null,"private_network_id":"91f5df66-186e-4b62-af54-ffdb63377a1a","status":"created","updated_at":"2023-12-12T12:39:13.809073Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/5f1a90d7-ee19-437e-bf1e-1a451d27ee9a
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-12-12T12:39:13.809073Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-12T12:39:06.754390Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14a9d9cb-b325-469c-8dcd-ac1566eab50f","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-12T12:39:06.754390Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"57025431-5c1c-4a77-8e6e-9e17f8c434db","id":"5f1a90d7-ee19-437e-bf1e-1a451d27ee9a","ipam_config":null,"mac_address":"02:00:00:15:70:97","private_network_id":"91f5df66-186e-4b62-af54-ffdb63377a1a","status":"ready","updated_at":"2023-12-12T12:39:23.429213Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0915fc16-da49-4208-964b-d33e9da06da3?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/5f1a90d7-ee19-437e-bf1e-1a451d27ee9a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/57025431-5c1c-4a77-8e6e-9e17f8c434db?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
