---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"c6145b92-9362-4ae0-950c-7166c9085041","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/c6145b92-9362-4ae0-950c-7166c9085041
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/c6145b92-9362-4ae0-950c-7166c9085041
    method: GET
  response:
    body: '{"placement_group":{"id":"c6145b92-9362-4ae0-950c-7166c9085041","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-20T16:38:09.089721Z","dhcp_enabled":true,"id":"329ae010-9e7a-4bb1-804e-5aa2dbd4ea67","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:38:09.089721Z","id":"502866f6-e3a5-4b86-adf1-9e007b036c72","subnet":"172.16.24.0/22","updated_at":"2023-12-20T16:38:09.089721Z"},{"created_at":"2023-12-20T16:38:09.089721Z","id":"ddb750be-efac-493e-9851-d6376e9314be","subnet":"fd5f:519c:6d46:42e4::/64","updated_at":"2023-12-20T16:38:09.089721Z"}],"tags":[],"updated_at":"2023-12-20T16:38:09.089721Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/329ae010-9e7a-4bb1-804e-5aa2dbd4ea67
    method: GET
  response:
    body: '{"created_at":"2023-12-20T16:38:09.089721Z","dhcp_enabled":true,"id":"329ae010-9e7a-4bb1-804e-5aa2dbd4ea67","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:38:09.089721Z","id":"502866f6-e3a5-4b86-adf1-9e007b036c72","subnet":"172.16.24.0/22","updated_at":"2023-12-20T16:38:09.089721Z"},{"created_at":"2023-12-20T16:38:09.089721Z","id":"ddb750be-efac-493e-9851-d6376e9314be","subnet":"fd5f:519c:6d46:42e4::/64","updated_at":"2023-12-20T16:38:09.089721Z"}],"tags":[],"updated_at":"2023-12-20T16:38:09.089721Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"329ae010-9e7a-4bb1-804e-5aa2dbd4ea67"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-20T16:38:13.145353785Z","created_at":"2023-12-20T16:38:13.145353785Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4","ingress":"none","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"329ae010-9e7a-4bb1-804e-5aa2dbd4ea67","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-12-20T16:38:13.160761355Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFVU1hoUFZFVXlUWHBuZUU1R2IxaEVWRTE2VFZSSmVFOVVSVEpOZW1kNFRrWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"c6145b92-9362-4ae0-950c-7166c9085041","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4","container_runtime":"containerd","created_at":"2023-12-20T16:38:18.681357Z","id":"13588046-a344-41bd-8415-941048d2ee64","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"c6145b92-9362-4ae0-950c-7166c9085041","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:38:18.693983936Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/13588046-a344-41bd-8415-941048d2ee64
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4","container_runtime":"containerd","created_at":"2023-12-20T16:38:18.681357Z","id":"13588046-a344-41bd-8415-941048d2ee64","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"c6145b92-9362-4ae0-950c-7166c9085041","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:38:18.693984Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4/nodes?order_by=created_at_asc&page=1&pool_id=13588046-a344-41bd-8415-941048d2ee64&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:43:30.224199Z","error_message":null,"id":"6eeb2a04-48b3-4fcb-8177-80833418b6cc","name":"scw-test-pool-placeme-test-pool-placeme-6eeb2a","pool_id":"13588046-a344-41bd-8415-941048d2ee64","provider_id":"scaleway://instance/fr-par-1/5a85ed92-1850-46a5-a58c-4d1145cc47d9","public_ip_v4":"51.15.221.184","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:46:18.671951Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/13588046-a344-41bd-8415-941048d2ee64
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"13588046-a344-41bd-8415-941048d2ee64","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4ef5b6c6-ed34-4dbb-a18a-e8cfe55fc2e4?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"3d0b1ae3-be3e-45af-b563-ba9889484686","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/3d0b1ae3-be3e-45af-b563-ba9889484686
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/3d0b1ae3-be3e-45af-b563-ba9889484686
    method: GET
  response:
    body: '{"placement_group":{"id":"3d0b1ae3-be3e-45af-b563-ba9889484686","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-20T16:46:52.925676Z","dhcp_enabled":true,"id":"848e3b0d-190d-49fd-aae3-de5ea3576a54","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-12-20T16:46:52.925676Z","id":"731a7077-41dd-4bbe-9276-326bb6d976a4","subnet":"172.16.12.0/22","updated_at":"2023-12-20T16:46:52.925676Z"},{"created_at":"2023-12-20T16:46:52.925676Z","id":"e8b6a5ce-ca61-4373-8291-202fcfd74b05","subnet":"fd5c:d510:d730:9d01::/64","updated_at":"2023-12-20T16:46:52.925676Z"}],"tags":[],"updated_at":"2023-12-20T16:46:52.925676Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/848e3b0d-190d-49fd-aae3-de5ea3576a54
    method: GET
  response:
    body: '{"created_at":"2023-12-20T16:46:52.925676Z","dhcp_enabled":true,"id":"848e3b0d-190d-49fd-aae3-de5ea3576a54","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-12-20T16:46:52.925676Z","id":"731a7077-41dd-4bbe-9276-326bb6d976a4","subnet":"172.16.12.0/22","updated_at":"2023-12-20T16:46:52.925676Z"},{"created_at":"2023-12-20T16:46:52.925676Z","id":"e8b6a5ce-ca61-4373-8291-202fcfd74b05","subnet":"fd5c:d510:d730:9d01::/64","updated_at":"2023-12-20T16:46:52.925676Z"}],"tags":[],"updated_at":"2023-12-20T16:46:52.925676Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutof[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/395ecf3e-9195-4c6d-b32f-54825a33cc1f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/395ecf3e-9195-4c6d-b32f-54825a33cc1f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"3d0b1ae3-be3e-45af-b563-ba9889484686","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/395ecf3e-9195-4c6d-b32f-54825a33cc1f/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"395ecf3e-9195-4c6d-b32f-54825a33cc1f","container_runtime":"containerd","created_at":"2023-12-20T16:46:59.457746Z","id":"d2711035-cc10-4cb9-ab3e-64f8b70dd10d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"3d0b1ae3-be3e-45af-b563-ba9889484686","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:46:59.475112442Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/d2711035-cc10-4cb9-ab3e-64f8b70dd10d
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"395ecf3e-9195-4c6d-b32f-54825a33cc1f","container_runtime":"containerd","created_at":"2023-12-20T16:46:59.457746Z","id":"d2711035-cc10-4cb9-ab3e-64f8b70dd10d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"3d0b1ae3-be3e-45af-b563-ba9889484686","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:46:59.475112Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/395ecf3e-9195-4c6d-b32f-54825a33cc1f/nodes?order_by=created_at_asc&page=1&pool_id=d2711035-cc10-4cb9-ab3e-64f8b70dd10d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"395ecf3e-9195-4c6d-b32f-54825a33cc1f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:48:55.111927Z","error_message":null,"id":"1b6ce584-9d0d-4bb9-a21a-bd9107064369","name":"scw-test-pool-placeme-test-pool-placeme-1b6ce5","pool_id":"d2711035-cc10-4cb9-ab3e-64f8b70dd10d","provider_id":"scaleway://instance/nl-ams-2/1a3747c2-c9ff-419c-aa16-cd7ea6a03ac6","public_ip_v4":"51.158.234.152","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-12-20T16:51:02.517541Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/395ecf3e-9195-4c6d-b32f-54825a33cc1f/available-types
    method: GET
  response:
    body: '{"cluster_types":[{"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/395ecf3e-9195-4c6d-b32f-54825a33cc1f?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
