---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-20T16:29:40.940907Z","dhcp_enabled":true,"id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:29:40.940907Z","id":"7cb4fabc-fb1e-43d3-8685-13f849952e28","subnet":"172.16.16.0/22","updated_at":"2023-12-20T16:29:40.940907Z"},{"created_at":"2023-12-20T16:29:40.940907Z","id":"50ab42ce-7155-4286-ac65-0141911d28cc","subnet":"fd5f:519c:6d46:5f86::/64","updated_at":"2023-12-20T16:29:40.940907Z"}],"tags":[],"updated_at":"2023-12-20T16:29:40.940907Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941
    method: GET
  response:
    body: '{"created_at":"2023-12-20T16:29:40.940907Z","dhcp_enabled":true,"id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:29:40.940907Z","id":"7cb4fabc-fb1e-43d3-8685-13f849952e28","subnet":"172.16.16.0/22","updated_at":"2023-12-20T16:29:40.940907Z"},{"created_at":"2023-12-20T16:29:40.940907Z","id":"50ab42ce-7155-4286-ac65-0141911d28cc","subnet":"fd5f:519c:6d46:5f86::/64","updated_at":"2023-12-20T16:29:40.940907Z"}],"tags":[],"updated_at":"2023-12-20T16:29:40.940907Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://f2027707-dda4-45e7-bca7-b614951ac55a.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-20T16:29:42.535655202Z","created_at":"2023-12-20T16:29:42.535655202Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.f2027707-dda4-45e7-bca7-b614951ac55a.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"f2027707-dda4-45e7-bca7-b614951ac55a","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-12-20T16:29:42.546145360Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f2027707-dda4-45e7-bca7-b614951ac55a
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f2027707-dda4-45e7-bca7-b614951ac55a/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVTWGhQVkVVeVRXcHJNRTVHYjFoRVZFMTZUVlJKZUU5VVJUSk5hbXN3VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f2027707-dda4-45e7-bca7-b614951ac55a/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"f2027707-dda4-45e7-bca7-b614951ac55a","container_runtime":"containerd","created_at":"2023-12-20T16:29:48.030954Z","id":"605b2edf-83f0-4ee4-b2a8-1288db55100d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:29:48.040321012Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/605b2edf-83f0-4ee4-b2a8-1288db55100d
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"f2027707-dda4-45e7-bca7-b614951ac55a","container_runtime":"containerd","created_at":"2023-12-20T16:29:48.030954Z","id":"605b2edf-83f0-4ee4-b2a8-1288db55100d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:29:48.040321Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f2027707-dda4-45e7-bca7-b614951ac55a/nodes?order_by=created_at_asc&page=1&pool_id=605b2edf-83f0-4ee4-b2a8-1288db55100d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"f2027707-dda4-45e7-bca7-b614951ac55a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:32:50.323365Z","error_message":null,"id":"1216b3a5-6683-4085-9698-b56493eed71b","name":"scw-test-k8s-public-i-test-k8s-public-i-1216b3","pool_id":"605b2edf-83f0-4ee4-b2a8-1288db55100d","provider_id":"scaleway://instance/fr-par-1/7a5457b3-0adc-432b-9857-cecb3171bdd1","public_ip_v4":"51.15.128.239","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:35:35.523894Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f2027707-dda4-45e7-bca7-b614951ac55a/nodes?order_by=created_at_asc&pool_id=605b2edf-83f0-4ee4-b2a8-1288db55100d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"f2027707-dda4-45e7-bca7-b614951ac55a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:32:50.323365Z","error_message":null,"id":"1216b3a5-6683-4085-9698-b56493eed71b","name":"scw-test-k8s-public-i-test-k8s-public-i-1216b3","pool_id":"605b2edf-83f0-4ee4-b2a8-1288db55100d","provider_id":"scaleway://instance/fr-par-1/7a5457b3-0adc-432b-9857-cecb3171bdd1","public_ip_v4":"51.15.128.239","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:35:35.523894Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/7a5457b3-0adc-432b-9857-cecb3171bdd1
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-12-20T16:32:51.169295+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-1216b3","id":"7a5457b3-0adc-432b-9857-cecb3171bdd1","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:61c:d02::1","gateway":"2001:bc8:61c:d02::","netmask":"64"},"location":{"cluster_id":"25","hypervisor_id":"702","node_id":"3","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:33:ff:8b","maintenances":[],"modification_date":"2023-12-20T16:33:07.017715+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-1216b3","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.66.23.69","private_nics":[{"creation_date":"2023-12-20T16:32:51.713831+00:00","id":"050ca6f5-c55f-4c56-8e31-6703816e769e","mac_address":"02:00:00:15:c4:1c","modification_date":"2023-12-20T16:32:52.561364+00:00","private_network_id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941","server_id":"7a5457b3-0adc-432b-9857-cecb3171bdd1","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.128.239","dynamic":true,"family":"inet","gateway":null,"id":"f4351804-3380-4ea8-bc6d-c98719588cce","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.128.239","dynamic":true,"family":"inet","gateway":null,"id":"f4351804-3380-4ea8-bc6d-c98719588cce","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"dd551fb0-5ab2-4514-b402-b1ea0d8fccd7","name":"kubernetes
      f2027707-dda4-45e7-bca7-b614951ac55a"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=f2027707-dda4-45e7-bca7-b614951ac55a","pool=605b2edf-83f0-4ee4-b2a8-1288db55100d","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=1216b3a5-6683-4085-9698-b56493eed71b"],"volumes":{"0":{"boot":false,"creation_date":"2023-12-20T16:32:51.169295+00:00","export_uri":null,"id":"022c06c2-2532-4c4d-86db-5ec9bf55913a","modification_date":"2023-12-20T16:32:51.169295+00:00","name":"k8s_base_node_2023-10-11.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"7a5457b3-0adc-432b-9857-cecb3171bdd1","name":"scw-test-k8s-public-i-test-k8s-public-i-1216b3"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/605b2edf-83f0-4ee4-b2a8-1288db55100d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"605b2edf-83f0-4ee4-b2a8-1288db55100d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-20T16:35:55.194766Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"fce08688-9838-4ecf-8718-211c8b2cfbcc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-20T16:35:55.194766Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/fce08688-9838-4ecf-8718-211c8b2cfbcc
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-20T16:35:55.194766Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"fce08688-9838-4ecf-8718-211c8b2cfbcc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-20T16:35:55.194766Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-20T16:35:55.897325Z","gateway_networks":[],"id":"913155f4-8183-4247-abad-7043358bad12","ip":{"address":"51.15.197.1","created_at":"2023-12-20T16:35:55.867711Z","gateway_id":"913155f4-8183-4247-abad-7043358bad12","id":"95aa0807-04dd-41a9-8896-10db345cf54b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"1-197-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-20T16:35:55.867711Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-20T16:35:55.897325Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/913155f4-8183-4247-abad-7043358bad12
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-20T16:35:55.897325Z","gateway_networks":[],"id":"913155f4-8183-4247-abad-7043358bad12","ip":{"address":"51.15.197.1","created_at":"2023-12-20T16:35:55.867711Z","gateway_id":"913155f4-8183-4247-abad-7043358bad12","id":"95aa0807-04dd-41a9-8896-10db345cf54b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"1-197-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-20T16:35:55.867711Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-20T16:35:55.955140Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"913155f4-8183-4247-abad-7043358bad12","private_network_id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"fce08688-9838-4ecf-8718-211c8b2cfbcc"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-12-20T16:36:02.290608Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-20T16:35:55.194766Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"fce08688-9838-4ecf-8718-211c8b2cfbcc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-20T16:35:55.194766Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"913155f4-8183-4247-abad-7043358bad12","id":"f6d55609-f6e3-44ef-9b9a-a75a841643f7","ipam_config":null,"mac_address":null,"private_network_id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941","status":"created","updated_at":"2023-12-20T16:36:02.290608Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f6d55609-f6e3-44ef-9b9a-a75a841643f7
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-12-20T16:36:02.290608Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-20T16:35:55.194766Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"fce08688-9838-4ecf-8718-211c8b2cfbcc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-20T16:35:55.194766Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"913155f4-8183-4247-abad-7043358bad12","id":"f6d55609-f6e3-44ef-9b9a-a75a841643f7","ipam_config":null,"mac_address":"02:00:00:15:C4:2C","private_network_id":"e87d10d8-f6fa-4ae4-a2f1-c5f8e21f6941","status":"ready","updated_at":"2023-12-20T16:36:11.759173Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f2027707-dda4-45e7-bca7-b614951ac55a?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f6d55609-f6e3-44ef-9b9a-a75a841643f7?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/913155f4-8183-4247-abad-7043358bad12?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
