---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T13:52:29.268912Z","dhcp_enabled":true,"id":"201d62ac-4232-462f-b8a8-e5767d25d71e","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:52:29.268912Z","id":"3c4b55f2-5c0a-4da2-834a-cbd20cdb7556","subnet":"172.16.60.0/22","updated_at":"2023-11-13T13:52:29.268912Z"},{"created_at":"2023-11-13T13:52:29.268912Z","id":"d1260a3d-1dff-478b-8f0b-c4be2e6dc3ec","subnet":"fd63:256c:45f7:dedd::/64","updated_at":"2023-11-13T13:52:29.268912Z"}],"tags":[],"updated_at":"2023-11-13T13:52:29.268912Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/201d62ac-4232-462f-b8a8-e5767d25d71e
    method: GET
  response:
    body: '{"created_at":"2023-11-13T13:52:29.268912Z","dhcp_enabled":true,"id":"201d62ac-4232-462f-b8a8-e5767d25d71e","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:52:29.268912Z","id":"3c4b55f2-5c0a-4da2-834a-cbd20cdb7556","subnet":"172.16.60.0/22","updated_at":"2023-11-13T13:52:29.268912Z"},{"created_at":"2023-11-13T13:52:29.268912Z","id":"d1260a3d-1dff-478b-8f0b-c4be2e6dc3ec","subnet":"fd63:256c:45f7:dedd::/64","updated_at":"2023-11-13T13:52:29.268912Z"}],"tags":[],"updated_at":"2023-11-13T13:52:29.268912Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"201d62ac-4232-462f-b8a8-e5767d25d71e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a253704d-993c-4193-8022-07a711f0f014.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-13T13:52:34.691065904Z","created_at":"2023-11-13T13:52:34.691065904Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.a253704d-993c-4193-8022-07a711f0f014.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"a253704d-993c-4193-8022-07a711f0f014","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"201d62ac-4232-462f-b8a8-e5767d25d71e","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-11-13T13:52:34.708783492Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a253704d-993c-4193-8022-07a711f0f014
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a253704d-993c-4193-8022-07a711f0f014/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGhOYWtWNlRsUkpNRTFXYjFoRVZFMTZUVlJGZUUxcVJYcE9WRWt3VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a253704d-993c-4193-8022-07a711f0f014/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"a253704d-993c-4193-8022-07a711f0f014","container_runtime":"containerd","created_at":"2023-11-13T13:52:45.378303Z","id":"c9e09286-7234-4cee-b778-8c329b183bb3","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:52:45.388056649Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c9e09286-7234-4cee-b778-8c329b183bb3
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"a253704d-993c-4193-8022-07a711f0f014","container_runtime":"containerd","created_at":"2023-11-13T13:52:45.378303Z","id":"c9e09286-7234-4cee-b778-8c329b183bb3","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:52:45.388057Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a253704d-993c-4193-8022-07a711f0f014/nodes?order_by=created_at_asc&page=1&pool_id=c9e09286-7234-4cee-b778-8c329b183bb3&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a253704d-993c-4193-8022-07a711f0f014","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:54:46.754812Z","error_message":null,"id":"695f4767-96d4-4c42-8260-2d47930f4805","name":"scw-test-k8s-public-i-test-k8s-public-i-695f47","pool_id":"c9e09286-7234-4cee-b778-8c329b183bb3","provider_id":"scaleway://instance/fr-par-1/9ce74004-fe13-4f71-b92d-d9a7379e34f1","public_ip_v4":"51.15.216.28","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T13:57:48.705995Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a253704d-993c-4193-8022-07a711f0f014/nodes?order_by=created_at_asc&pool_id=c9e09286-7234-4cee-b778-8c329b183bb3&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a253704d-993c-4193-8022-07a711f0f014","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:54:46.754812Z","error_message":null,"id":"695f4767-96d4-4c42-8260-2d47930f4805","name":"scw-test-k8s-public-i-test-k8s-public-i-695f47","pool_id":"c9e09286-7234-4cee-b778-8c329b183bb3","provider_id":"scaleway://instance/fr-par-1/9ce74004-fe13-4f71-b92d-d9a7379e34f1","public_ip_v4":"51.15.216.28","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T13:57:48.705995Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/9ce74004-fe13-4f71-b92d-d9a7379e34f1
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-11-13T13:54:47.524934+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-695f47","id":"9ce74004-fe13-4f71-b92d-d9a7379e34f1","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:9105::1","gateway":"2001:bc8:610:9105::","netmask":"64"},"location":{"cluster_id":"52","hypervisor_id":"703","node_id":"6","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:2d:50:93","maintenances":[],"modification_date":"2023-11-13T13:55:06.294975+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-695f47","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.91.11","private_nics":[{"creation_date":"2023-11-13T13:54:48.305494+00:00","id":"dd9af198-169d-4615-b172-ce7986f14352","mac_address":"02:00:00:14:bd:91","modification_date":"2023-11-13T13:54:49.135948+00:00","private_network_id":"201d62ac-4232-462f-b8a8-e5767d25d71e","server_id":"9ce74004-fe13-4f71-b92d-d9a7379e34f1","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.216.28","dynamic":true,"family":"inet","gateway":null,"id":"9a742e28-6d72-4774-98e2-e9116edc5bbf","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.216.28","dynamic":true,"family":"inet","gateway":null,"id":"9a742e28-6d72-4774-98e2-e9116edc5bbf","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"cbc09d40-13ee-4639-88d8-041bbc840a9d","name":"kubernetes
      a253704d-993c-4193-8022-07a711f0f014"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=a253704d-993c-4193-8022-07a711f0f014","pool=c9e09286-7234-4cee-b778-8c329b183bb3","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=695f4767-96d4-4c42-8260-2d47930f4805"],"volumes":{"0":{"boot":false,"creation_date":"2023-11-13T13:54:47.524934+00:00","export_uri":null,"id":"b03d2a12-70b8-4863-bdfb-f685eeb431c9","modification_date":"2023-11-13T13:54:47.524934+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"9ce74004-fe13-4f71-b92d-d9a7379e34f1","name":"scw-test-k8s-public-i-test-k8s-public-i-695f47"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c9e09286-7234-4cee-b778-8c329b183bb3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"c9e09286-7234-4cee-b778-8c329b183bb3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-11-13T13:58:39.400750Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d5a14f97-3df0-40ed-8173-f6138ded8f52","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-13T13:58:39.400750Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/d5a14f97-3df0-40ed-8173-f6138ded8f52
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-11-13T13:58:39.400750Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d5a14f97-3df0-40ed-8173-f6138ded8f52","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-13T13:58:39.400750Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-13T13:58:40.056542Z","gateway_networks":[],"id":"4eae3d30-edfe-40b3-b67e-50b9760f2459","ip":{"address":"51.15.214.66","created_at":"2023-11-13T13:58:40.018551Z","gateway_id":"4eae3d30-edfe-40b3-b67e-50b9760f2459","id":"9d0f7d75-592b-4f39-93c8-4847bde4ddee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"66-214-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-13T13:58:40.018551Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-13T13:58:40.056542Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/4eae3d30-edfe-40b3-b67e-50b9760f2459
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-13T13:58:40.056542Z","gateway_networks":[],"id":"4eae3d30-edfe-40b3-b67e-50b9760f2459","ip":{"address":"51.15.214.66","created_at":"2023-11-13T13:58:40.018551Z","gateway_id":"4eae3d30-edfe-40b3-b67e-50b9760f2459","id":"9d0f7d75-592b-4f39-93c8-4847bde4ddee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"66-214-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-13T13:58:40.018551Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-13T13:58:40.108038Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"4eae3d30-edfe-40b3-b67e-50b9760f2459","private_network_id":"201d62ac-4232-462f-b8a8-e5767d25d71e","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"d5a14f97-3df0-40ed-8173-f6138ded8f52"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-13T13:58:46.412374Z","dhcp":{"address":"192.168.0.1","created_at":"2023-11-13T13:58:39.400750Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d5a14f97-3df0-40ed-8173-f6138ded8f52","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-13T13:58:39.400750Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"4eae3d30-edfe-40b3-b67e-50b9760f2459","id":"b6bc61b5-446f-48ed-b273-d6aa67dd43e2","ipam_config":null,"mac_address":null,"private_network_id":"201d62ac-4232-462f-b8a8-e5767d25d71e","status":"created","updated_at":"2023-11-13T13:58:46.412374Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b6bc61b5-446f-48ed-b273-d6aa67dd43e2
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-13T13:58:46.412374Z","dhcp":{"address":"192.168.0.1","created_at":"2023-11-13T13:58:39.400750Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d5a14f97-3df0-40ed-8173-f6138ded8f52","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-13T13:58:39.400750Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"4eae3d30-edfe-40b3-b67e-50b9760f2459","id":"b6bc61b5-446f-48ed-b273-d6aa67dd43e2","ipam_config":null,"mac_address":"02:00:00:14:BD:9C","private_network_id":"201d62ac-4232-462f-b8a8-e5767d25d71e","status":"ready","updated_at":"2023-11-13T13:58:55.867833Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a253704d-993c-4193-8022-07a711f0f014?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b6bc61b5-446f-48ed-b273-d6aa67dd43e2?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/4eae3d30-edfe-40b3-b67e-50b9760f2459?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
