---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
[...]
- request:
    body: '{"name":"tf-pn-quirky-mayer","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-26T19:00:09.185131Z","dhcp_enabled":true,"id":"e52f3cf3-15fc-4bc8-bf47-b7620dc1573d","name":"tf-pn-quirky-mayer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-26T19:00:09.185131Z","id":"d4d03497-cb92-426d-abb3-cbafc5b23950","subnet":"172.16.28.0/22","updated_at":"2024-02-26T19:00:09.185131Z"},{"created_at":"2024-02-26T19:00:09.185131Z","id":"7ecdd312-839c-4e45-8447-2f2938ab48c6","subnet":"fd5f:519c:6d46:12f8::/64","updated_at":"2024-02-26T19:00:09.185131Z"}],"tags":[],"updated_at":"2024-02-26T19:00:09.185131Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e52f3cf3-15fc-4bc8-bf47-b7620dc1573d
    method: GET
  response:
    body: '{"created_at":"2024-02-26T19:00:09.185131Z","dhcp_enabled":true,"id":"e52f3cf3-15fc-4bc8-bf47-b7620dc1573d","name":"tf-pn-quirky-mayer","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-26T19:00:09.185131Z","id":"d4d03497-cb92-426d-abb3-cbafc5b23950","subnet":"172.16.28.0/22","updated_at":"2024-02-26T19:00:09.185131Z"},{"created_at":"2024-02-26T19:00:09.185131Z","id":"7ecdd312-839c-4e45-8447-2f2938ab48c6","subnet":"fd5f:519c:6d46:12f8::/64","updated_at":"2024-02-26T19:00:09.185131Z"}],"tags":[],"updated_at":"2024-02-26T19:00:09.185131Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"kapsule","name":"pool-upgrade","description":"","tags":[],"version":"1.28.6","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"e52f3cf3-15fc-4bc8-bf47-b7620dc1573d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7d18d405-84d9-4c31-a064-fb1b1fd76a1f.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-02-26T19:00:11.977154517Z","created_at":"2024-02-26T19:00:11.977154517Z","description":"","dns_wildcard":"*.7d18d405-84d9-4c31-a064-fb1b1fd76a1f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7d18d405-84d9-4c31-a064-fb1b1fd76a1f","name":"pool-upgrade","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"e52f3cf3-15fc-4bc8-bf47-b7620dc1573d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"type":"kapsule","updated_at":"2024-02-26T19:00:12.012511661Z","upgrade_available":true,"version":"1.28.6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBvb2wtdXBncmFkZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVTWGxPVkVVMVRVUkJlRTB4YjFoRVZFMHdUVVJKZVU1VVJUVk5SRUY0VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkRRVkZ[...]
[...]
- request:
    body: '{"name":"pool-upgrade-pool-1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"7d18d405-84d9-4c31-a064-fb1b1fd76a1f","container_runtime":"containerd","created_at":"2024-02-26T19:00:22.525230Z","id":"7c480b5d-81ad-44e7-afae-1962ef3e3b73","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool-upgrade-pool-1","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-26T19:00:22.533307121Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.6","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7c480b5d-81ad-44e7-afae-1962ef3e3b73
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"7d18d405-84d9-4c31-a064-fb1b1fd76a1f","container_runtime":"containerd","created_at":"2024-02-26T19:00:22.525230Z","id":"7c480b5d-81ad-44e7-afae-1962ef3e3b73","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool-upgrade-pool-1","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-26T19:00:22.533307Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.6","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f/nodes?order_by=created_at_asc&page=1&pool_id=7c480b5d-81ad-44e7-afae-1962ef3e3b73&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7d18d405-84d9-4c31-a064-fb1b1fd76a1f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-26T19:03:26.936715Z","error_message":null,"id":"89202006-81a8-45a9-b9d8-47ff7e9ec484","name":"scw-pool-upgrade-pool-upgrade-pool-1-892020068","pool_id":"7c480b5d-81ad-44e7-afae-1962ef3e3b73","provider_id":"scaleway://instance/fr-par-1/18df4ae1-4d51-419e-8d88-9f403178806d","public_ip_v4":"51.158.116.35","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-26T19:07:54.244844Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f
    method: PATCH
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":[...]
[...]
- request:
    body: '{"version":"1.29.1","upgrade_pools":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f/upgrade
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_pri[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f/nodes?order_by=created_at_asc&page=1&pool_id=7c480b5d-81ad-44e7-afae-1962ef3e3b73&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7d18d405-84d9-4c31-a064-fb1b1fd76a1f","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-26T19:03:26.936715Z","error_message":null,"id":"89202006-81a8-45a9-b9d8-47ff7e9ec484","name":"scw-pool-upgrade-pool-upgrade-pool-1-892020068","pool_id":"7c480b5d-81ad-44e7-afae-1962ef3e3b73","provider_id":"scaleway://instance/fr-par-1/18df4ae1-4d51-419e-8d88-9f403178806d","public_ip_v4":"51.158.116.35","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-26T19:13:09.915299Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7c480b5d-81ad-44e7-afae-1962ef3e3b73
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"7c480b5d-81ad-44e7-afae-1962ef3e3b73","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7d18d405-84d9-4c31-a064-fb1b1fd76a1f?with_additional_resources=false
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_prior[...]
[...]
