---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.24.5","label":"Kubernetes 1.24.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none"],"available_container_runtimes":["containerd","crio"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"}},{"region":"fr-par","name":"1.23.11","label":"Kubernetes
      1.23.11","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "90fe4f8e-b4cf-4ad4-b027-55be686a04ae", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/90fe4f8e-b4cf-4ad4-b027-55be686a04ae
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/90fe4f8e-b4cf-4ad4-b027-55be686a04ae
    method: GET
  response:
    body: '{"placement_group": {"id": "90fe4f8e-b4cf-4ad4-b027-55be686a04ae", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"478723ee-4e9b-4c4c-8718-a81d2b46027e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T12:17:56.544990181Z","updated_at":"2022-10-06T12:17:56.594973388Z","type":"kapsule","name":"placement_group","description":"","status":"creating","version":"1.24.5","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"cluster_url":"https://478723ee-4e9b-4c4c-8718-a81d2b46027e.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.478723ee-4e9b-4c4c-8718-a81d2b46027e.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/478723ee-4e9b-4c4c-8718-a81d2b46027e
    method: GET
  response:
    body: '{"region":"fr-par","id":"478723ee-4e9b-4c4c-8718-a81d2b46027e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T12:17:56.544990Z","updated_at":"2022-10-06T12:17:56.594973Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/478723ee-4e9b-4c4c-8718-a81d2b46027e/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVVMVVRWGRPVkVWNVRWUmpNVTlXYjFoRVZFMTVUVlJCZDA1VVJYbE5WR014VDFadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"90fe4f8e-b4cf-4ad4-b027-55be686a04ae","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/478723ee-4e9b-4c4c-8718-a81d2b46027e/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"294330e2-5005-4b7f-b1d8-e054daf3e721","cluster_id":"478723ee-4e9b-4c4c-8718-a81d2b46027e","created_at":"2022-10-06T12:18:07.015147Z","updated_at":"2022-10-06T12:18:07.244369783Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"90fe4f8e-b4cf-4ad4-b027-55be686a04ae","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/294330e2-5005-4b7f-b1d8-e054daf3e721
    method: GET
  response:
    body: '{"region":"fr-par","id":"294330e2-5005-4b7f-b1d8-e054daf3e721","cluster_id":"478723ee-4e9b-4c4c-8718-a81d2b46027e","created_at":"2022-10-06T12:18:07.015147Z","updated_at":"2022-10-06T12:18:07.244370Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"90fe4f8e-b4cf-4ad4-b027-55be686a04ae","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/478723ee-4e9b-4c4c-8718-a81d2b46027e/nodes?order_by=created_at_asc&page=1&pool_id=294330e2-5005-4b7f-b1d8-e054daf3e721&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"edef2a1d-6ce4-4751-ad0d-e8bbf61a2023","cluster_id":"478723ee-4e9b-4c4c-8718-a81d2b46027e","created_at":"2022-10-06T12:19:40.264429Z","updated_at":"2022-10-06T12:23:37.679819Z","pool_id":"294330e2-5005-4b7f-b1d8-e054daf3e721","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-edef2a1d6c","public_ip_v4":"212.47.247.29","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/6ec793db-9c8e-4ec9-92ab-edbef5ae0370","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9319e2fd-1e08-4542-b0b6-6cbfac4fda67
    method: GET
  response:
    body: '{"region":"nl-ams","id":"9319e2fd-1e08-4542-b0b6-6cbfac4fda67","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T12:23:49.014118Z","updated_at":"2022-10-06T12:23:49.021840Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "de5a99d9-75aa-4247-98cd-d0386a847193", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/de5a99d9-75aa-4247-98cd-d0386a847193
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/de5a99d9-75aa-4247-98cd-d0386a847193
    method: GET
  response:
    body: '{"placement_group": {"id": "de5a99d9-75aa-4247-98cd-d0386a847193", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/478723ee-4e9b-4c4c-8718-a81d2b46027e?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"478723ee-4e9b-4c4c-8718-a81d2b46027e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T12:17:56.544990Z","updated_at":"2022-10-06T12:23:50.261877294Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9319e2fd-1e08-4542-b0b6-6cbfac4fda67/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEz[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"de5a99d9-75aa-4247-98cd-d0386a847193","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9319e2fd-1e08-4542-b0b6-6cbfac4fda67/pools
    method: POST
  response:
    body: '{"region":"nl-ams","id":"0773a1b9-9fe6-41cf-9b5e-868decf70cae","cluster_id":"9319e2fd-1e08-4542-b0b6-6cbfac4fda67","created_at":"2022-10-06T12:23:54.666890Z","updated_at":"2022-10-06T12:23:54.677058933Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"de5a99d9-75aa-4247-98cd-d0386a847193","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"nl-ams-2","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/0773a1b9-9fe6-41cf-9b5e-868decf70cae
    method: GET
  response:
    body: '{"region":"nl-ams","id":"0773a1b9-9fe6-41cf-9b5e-868decf70cae","cluster_id":"9319e2fd-1e08-4542-b0b6-6cbfac4fda67","created_at":"2022-10-06T12:23:54.666890Z","updated_at":"2022-10-06T12:23:54.677059Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"de5a99d9-75aa-4247-98cd-d0386a847193","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"nl-ams-2","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/478723ee-4e9b-4c4c-8718-a81d2b46027e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"478723ee-4e9b-4c4c-8718-a81d2b46027e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9319e2fd-1e08-4542-b0b6-6cbfac4fda67/nodes?order_by=created_at_asc&page=1&pool_id=0773a1b9-9fe6-41cf-9b5e-868decf70cae&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"nl-ams","id":"5d7f59d1-54ec-4d07-8fd1-1032b7771ddf","cluster_id":"9319e2fd-1e08-4542-b0b6-6cbfac4fda67","created_at":"2022-10-06T12:24:59.884339Z","updated_at":"2022-10-06T12:28:29.889366Z","pool_id":"0773a1b9-9fe6-41cf-9b5e-868decf70cae","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-5d7f59d154","public_ip_v4":"51.158.236.40","public_ip_v6":null,"provider_id":"scaleway://instance/nl-ams-2/b3f96b65-3b64-4de4-ae5d-dd2b3bff44ab","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9319e2fd-1e08-4542-b0b6-6cbfac4fda67?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"nl-ams","id":"9319e2fd-1e08-4542-b0b6-6cbfac4fda67","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T12:23:49.014118Z","updated_at":"2022-10-06T12:28:32.500798023Z","type":"kapsu[...]
[...]
