---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.22.2","label":"Kubernetes 1.22.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.21.5","label":"Kubernetes 1.21.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],[...]
- request:
    body: '{"organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","type":"","name":"PoolConfigWait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.22.2","cni":"calico","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"04bb109c-f9f6-427c-a033-56954d49c025","organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","created_at":"2021-10-05T12:26:49.893375875Z","updated_at":"2021-10-05T12:26:49.925237040Z","type":"kapsule","name":"PoolConfigWait","description":"","status":"creating","version":"1.22.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://04bb109c-f9f6-427c-a033-56954d49c025.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.04bb109c-f9f6-427c-a033-56954d49c025.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04bb109c-f9f6-427c-a033-56954d49c025
    method: GET
  response:
    body: '{"region":"fr-par","id":"04bb109c-f9f6-427c-a033-56954d49c025","organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","created_at":"2021-10-05T12:26:49.893376Z","updated_at":"2021-10-05T12:26:49.925237Z","type":"kapsule","name":"PoolConfigWait","descripti[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04bb109c-f9f6-427c-a033-56954d49c025/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBvb2xjb25maWd3YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZUUxVVFYZE9SRVY1VFdwWk1VMUdiMWhFVkUxNFRWUkJkMDVFUlhsTmFsa3hUVVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04bb109c-f9f6-427c-a033-56954d49c025/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"8c75f03f-8492-4509-98c2-bf1681b6d363","cluster_id":"04bb109c-f9f6-427c-a033-56954d49c025","created_at":"2021-10-05T12:26:55.784020Z","updated_at":"2021-10-05T12:26:55.801676563Z","name":"default","status":"scaling","version":"1.22.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/8c75f03f-8492-4509-98c2-bf1681b6d363
    method: GET
  response:
    body: '{"region":"fr-par","id":"8c75f03f-8492-4509-98c2-bf1681b6d363","cluster_id":"04bb109c-f9f6-427c-a033-56954d49c025","created_at":"2021-10-05T12:26:55.784020Z","updated_at":"2021-10-05T12:26:55.801677Z","name":"default","status":"scaling","version":"1.22.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04bb109c-f9f6-427c-a033-56954d49c025/nodes?order_by=created_at_asc&page=1&pool_id=8c75f03f-8492-4509-98c2-bf1681b6d363&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"f8099cf3-8c94-4c2a-85ad-74e743434810","cluster_id":"04bb109c-f9f6-427c-a033-56954d49c025","created_at":"2021-10-05T12:29:07.083767Z","updated_at":"2021-10-05T12:31:44.427275Z","pool_id":"8c75f03f-8492-4509-98c2-bf1681b6d363","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-poolconfigwait-default-f8099cf38c944c2a85a","public_ip_v4":"163.172.128.38","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04bb109c-f9f6-427c-a033-56954d49c025/nodes?order_by=created_at_asc&page=1&pool_id=8c75f03f-8492-4509-98c2-bf1681b6d363&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"f8099cf3-8c94-4c2a-85ad-74e743434810","cluster_id":"04bb109c-f9f6-427c-a033-56954d49c025","created_at":"2021-10-05T12:29:07.083767Z","updated_at":"2021-10-05T12:34:14.164665Z","pool_id":"8c75f03f-8492-4509-98c2-bf1681b6d363","status":"ready","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","ReadonlyFilesystem":"False","Ready":"True"},"name":"scw-poolconfigwait-default-f8099cf38c944c2a85a","public_ip_v4":"163.172.128.38","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04bb109c-f9f6-427c-a033-56954d49c025?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"04bb109c-f9f6-427c-a033-56954d49c025","organization_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","project_id":"9e9389ca-503a-44c3-bbd5-7a3812303bb0","created_at":"2021-10-05T12:26:49.893376Z","updated_at":"2021-10-05T12:38:03.231399462Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/04bb109c-f9f6-427c-a033-56954d49c025
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"04bb109c-f9f6-427c-a033-56954d49c025","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
