---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.2","name":"1.27.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-27T15:25:44.682749Z","dhcp_enabled":true,"id":"cf1a05cf-a21d-484e-b8ec-fb4e17b1fa2a","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-07-27T15:25:44.682749Z","id":"0c947c74-3dfe-4d07-b860-5607f7479341","subnet":"172.16.12.0/22","updated_at":"2023-07-27T15:25:44.682749Z"},{"created_at":"2023-07-27T15:25:44.682749Z","id":"4630e3c4-af95-44b2-9272-8331c85ea0ac","subnet":"fd63:256c:45f7:c233::/64","updated_at":"2023-07-27T15:25:44.682749Z"}],"tags":[],"updated_at":"2023-07-27T15:25:44.682749Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cf1a05cf-a21d-484e-b8ec-fb4e17b1fa2a
    method: GET
  response:
    body: '{"created_at":"2023-07-27T15:25:44.682749Z","dhcp_enabled":true,"id":"cf1a05cf-a21d-484e-b8ec-fb4e17b1fa2a","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-07-27T15:25:44.682749Z","id":"0c947c74-3dfe-4d07-b860-5607f7479341","subnet":"172.16.12.0/22","updated_at":"2023-07-27T15:25:44.682749Z"},{"created_at":"2023-07-27T15:25:44.682749Z","id":"4630e3c4-af95-44b2-9272-8331c85ea0ac","subnet":"fd63:256c:45f7:c233::/64","updated_at":"2023-07-27T15:25:44.682749Z"}],"tags":[],"updated_at":"2023-07-27T15:25:44.682749Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.27.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"cf1a05cf-a21d-484e-b8ec-fb4e17b1fa2a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://86551e79-ae43-4e82-95cd-175c0e37a34f.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-07-27T15:25:47.090181420Z","created_at":"2023-07-27T15:25:47.090181420Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.86551e79-ae43-4e82-95cd-175c0e37a34f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"86551e79-ae43-4e82-95cd-175c0e37a34f","ingress":"none","name":"private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"cf1a05cf-a21d-484e-b8ec-fb4e17b1fa2a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-07-27T15:25:47.130701935Z","upgrade_available":false,"version":"1.27.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86551e79-ae43-4e82-95cd-175c0e37a34f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86551e79-ae43-4e82-95cd-175c0e37a34f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInByaXZhdGUtbmV0d29yay1jbHVzdGVyIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVkzbE9ha1V4VFdwVk1FOUdiMWhFVkUxNlRVUmplVTVxUlRGTmFsVXdUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86551e79-ae43-4e82-95cd-175c0e37a34f/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"86551e79-ae43-4e82-95cd-175c0e37a34f","container_runtime":"containerd","created_at":"2023-07-27T15:25:53.187315Z","id":"b324f3d7-53f9-43ec-abb4-7b3b77cbfc97","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:25:53.205103860Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b324f3d7-53f9-43ec-abb4-7b3b77cbfc97
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"86551e79-ae43-4e82-95cd-175c0e37a34f","container_runtime":"containerd","created_at":"2023-07-27T15:25:53.187315Z","id":"b324f3d7-53f9-43ec-abb4-7b3b77cbfc97","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:25:53.205104Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86551e79-ae43-4e82-95cd-175c0e37a34f/nodes?order_by=created_at_asc&page=1&pool_id=b324f3d7-53f9-43ec-abb4-7b3b77cbfc97&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"86551e79-ae43-4e82-95cd-175c0e37a34f","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-07-27T15:27:23.109876Z","error_message":null,"id":"3e96650f-4871-4554-ae27-12522dcaba2c","name":"scw-private-network-cluster-pool-3e96650f48714","pool_id":"b324f3d7-53f9-43ec-abb4-7b3b77cbfc97","provider_id":"scaleway://instance/fr-par-1/04adaa87-657b-42fc-b77a-2c6b7add3b72","public_ip_v4":"51.158.79.120","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-27T15:30:33.812737Z"},{"cluster_id":"86551e79-ae43-4e82-95cd-175c0e37a34f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-07-27T15:27:31.808829Z","error_message":null,"id":"b99cc97a-1743-42dd-92f1-176e240d8181","name":"scw-private-network-cluster-pool-b99cc97a17434","pool_id":"b324f3d7-53f9-43ec-abb4-7b3b77cbfc97","provider_id":"scaleway://instance/fr-par-1/6a11c23d-f4e1-47a4-8657-ef6e35856869","public_ip_v4":"163.172.143.139","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-27T15:30:33.999598Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86551e79-ae43-4e82-95cd-175c0e37a34f/nodes?order_by=created_at_asc&pool_id=b324f3d7-53f9-43ec-abb4-7b3b77cbfc97&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"86551e79-ae43-4e82-95cd-175c0e37a34f","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUna[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/04adaa87-657b-42fc-b77a-2c6b7add3b72
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-07-27T15:27:24.153141+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-private-network-cluster-pool-3e96650f48714","id":"04adaa87-657b-42fc-b77a-2c6b7add3b72","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:df01::1","gateway":"2001:bc8:610:df01::","netmask":"64"},"location":{"cluster_id":"56","hypervisor_id":"803","node_id":"2","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:1f:04:01","maintenances":[],"modification_date":"2023-07-27T15:27:42.637997+00:00","name":"scw-private-network-cluster-pool-3e96650f48714","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.113.3","private_nics":[{"creation_date":"2023-07-27T15:27:24.813521+00:00","id":"183f02ed-ef1a-49a4-96be-ab653b33a825","mac_address":"02:00:00:13:7c:ec","modification_date":"2023-07-27T15:27:25.670866+00:00","private_network_id":"cf1a05cf-a21d-484e-b8ec-fb4e17b1fa2a","server_id":"04adaa87-657b-42fc-b77a-2c6b7add3b72","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.79.120","dynamic":true,"family":"inet","gateway":null,"id":"78d361b7-6c7d-44f0-9176-ad85c1726d1b","netmask":"32","provisioning_mode":"dhcp"},"public_ips":[{"address":"51.158.79.120","dynamic":true,"family":"inet","gateway":null,"id":"78d361b7-6c7d-44f0-9176-ad85c1726d1b","netmask":"32","provisioning_mode":"dhcp"}],"routed_ip_enabled":false,"security_group":{"id":"b403efc1-6389-45d7-ae0d-07ab227c837d","name":"kubernetes
      86551e79-ae43-4e82-95cd-175c0e37a34f"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=86551e79-ae43-4e82-95cd-175c0e37a34f","pool=b324f3d7-53f9-43ec-abb4-7b3b77cbfc97","pool-name=pool","runtime=containerd","managed=true","node=3e96650f-4871-4554-ae27-12522dcaba2c"],"volumes":{"0":{"boot":false,"creation_date":"2023-07-27T15:27:24.153141+00:00","export_uri":null,"id":"1e0781bf-f10a-4e31-ac00-e9c2f321dbbb","modification_date":"2023-07-27T15:27:24.153141+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"04adaa87-657b-42fc-b77a-2c6b7add3b72","name":"scw-private-network-cluster-pool-3e96650f48714"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86551e79-ae43-4e82-95cd-175c0e37a34f?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86551e79-ae43-4e82-95cd-175c0e37a34f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"86551e79-ae43-4e82-95cd-175c0e37a34f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
