---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-17T13:08:50.414671Z","dhcp_enabled":true,"id":"cd139a05-39cf-4f92-9011-a67c8fda9c81","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-17T13:08:50.414671Z","id":"093f01a1-07bc-4e3f-8fa7-5482a1c3f341","subnet":"172.16.0.0/22","updated_at":"2023-10-17T13:08:50.414671Z"},{"created_at":"2023-10-17T13:08:50.414671Z","id":"ea92eda5-047f-45f5-b1ed-80e8492fcfed","subnet":"fd63:256c:45f7:b55e::/64","updated_at":"2023-10-17T13:08:50.414671Z"}],"tags":[],"updated_at":"2023-10-17T13:08:50.414671Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cd139a05-39cf-4f92-9011-a67c8fda9c81
    method: GET
  response:
    body: '{"created_at":"2023-10-17T13:08:50.414671Z","dhcp_enabled":true,"id":"cd139a05-39cf-4f92-9011-a67c8fda9c81","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-17T13:08:50.414671Z","id":"093f01a1-07bc-4e3f-8fa7-5482a1c3f341","subnet":"172.16.0.0/22","updated_at":"2023-10-17T13:08:50.414671Z"},{"created_at":"2023-10-17T13:08:50.414671Z","id":"ea92eda5-047f-45f5-b1ed-80e8492fcfed","subnet":"fd63:256c:45f7:b55e::/64","updated_at":"2023-10-17T13:08:50.414671Z"}],"tags":[],"updated_at":"2023-10-17T13:08:50.414671Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"cd139a05-39cf-4f92-9011-a67c8fda9c81"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://44bfce9e-f575-4ef5-a6aa-7f129922213a.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-10-17T13:08:51.541936218Z","created_at":"2023-10-17T13:08:51.541936218Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.44bfce9e-f575-4ef5-a6aa-7f129922213a.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"44bfce9e-f575-4ef5-a6aa-7f129922213a","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"cd139a05-39cf-4f92-9011-a67c8fda9c81","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-10-17T13:08:51.558842181Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/44bfce9e-f575-4ef5-a6aa-7f129922213a
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/44bfce9e-f575-4ef5-a6aa-7f129922213a/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVRWGhPYWtWNlRVUm5NVTB4YjFoRVZFMTZUVlJCZUU1cVJYcE5SR2N4VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/44bfce9e-f575-4ef5-a6aa-7f129922213a/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"44bfce9e-f575-4ef5-a6aa-7f129922213a","container_runtime":"containerd","created_at":"2023-10-17T13:08:57.043175Z","id":"b39fa162-33d6-4b7c-bcb9-923e56ab4cf3","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-17T13:08:57.051886645Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b39fa162-33d6-4b7c-bcb9-923e56ab4cf3
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"44bfce9e-f575-4ef5-a6aa-7f129922213a","container_runtime":"containerd","created_at":"2023-10-17T13:08:57.043175Z","id":"b39fa162-33d6-4b7c-bcb9-923e56ab4cf3","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-17T13:08:57.051887Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/44bfce9e-f575-4ef5-a6aa-7f129922213a/nodes?order_by=created_at_asc&page=1&pool_id=b39fa162-33d6-4b7c-bcb9-923e56ab4cf3&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"44bfce9e-f575-4ef5-a6aa-7f129922213a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-17T13:10:01.632682Z","error_message":null,"id":"8ec40f23-f05e-461c-b44f-8336ccc197b1","name":"scw-test-k8s-public-ip-pool-8ec40f23f05e461cb4","pool_id":"b39fa162-33d6-4b7c-bcb9-923e56ab4cf3","provider_id":"scaleway://instance/fr-par-1/c05ff395-cfe8-49b0-b360-e7fef2a21ff0","public_ip_v4":"163.172.143.139","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-17T13:14:37.601634Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/44bfce9e-f575-4ef5-a6aa-7f129922213a/nodes?order_by=created_at_asc&pool_id=b39fa162-33d6-4b7c-bcb9-923e56ab4cf3&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"44bfce9e-f575-4ef5-a6aa-7f129922213a","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-17T13:10:01.632682Z","error_message":null,"id":"8ec40f23-f05e-461c-b44f-8336ccc197b1","name":"scw-test-k8s-public-ip-pool-8ec40f23f05e461cb4","pool_id":"b39fa162-33d6-4b7c-bcb9-923e56ab4cf3","provider_id":"scaleway://instance/fr-par-1/c05ff395-cfe8-49b0-b360-e7fef2a21ff0","public_ip_v4":"163.172.143.139","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-17T13:14:37.601634Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c05ff395-cfe8-49b0-b360-e7fef2a21ff0
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-10-17T13:10:02.114829+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-ip-pool-8ec40f23f05e461cb4","id":"c05ff395-cfe8-49b0-b360-e7fef2a21ff0","image":{"arch":"x86_64","creation_date":"2023-10-05T10:50:51.838301+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"8795d4a3-0918-41f3-b119-03a7effbdd8f","modification_date":"2023-10-05T11:06:46.734414+00:00","name":"k8s_base_node_2023-09-27.6","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"23e4a5ca-9587-4556-8eee-34cafe7b43cc","name":"k8s_base_node_2023-09-27.6","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:474c:1104::1","gateway":"2001:bc8:474c:1104::","netmask":"64"},"location":{"cluster_id":"4","hypervisor_id":"902","node_id":"5","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:29:2a:f7","maintenances":[],"modification_date":"2023-10-17T13:10:24.466510+00:00","name":"scw-test-k8s-public-ip-pool-8ec40f23f05e461cb4","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.12.162.73","private_nics":[{"creation_date":"2023-10-17T13:10:02.757482+00:00","id":"035d31dc-5cd9-4a56-99ce-ff2a989edd1d","mac_address":"02:00:00:14:46:b8","modification_date":"2023-10-17T13:10:03.530997+00:00","private_network_id":"cd139a05-39cf-4f92-9011-a67c8fda9c81","server_id":"c05ff395-cfe8-49b0-b360-e7fef2a21ff0","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.143.139","dynamic":true,"family":"inet","gateway":null,"id":"b91ed422-a4c9-40e0-b7a7-de639f9ef90b","netmask":"32","provisioning_mode":"dhcp","tags":[]},"public_ips":[{"address":"163.172.143.139","dynamic":true,"family":"inet","gateway":null,"id":"b91ed422-a4c9-40e0-b7a7-de639f9ef90b","netmask":"32","provisioning_mode":"dhcp","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"367cd10b-9846-41b6-8d9b-abcd08b16fef","name":"kubernetes
      44bfce9e-f575-4ef5-a6aa-7f129922213a"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=44bfce9e-f575-4ef5-a6aa-7f129922213a","pool=b39fa162-33d6-4b7c-bcb9-923e56ab4cf3","pool-name=pool","runtime=containerd","managed=true","node=8ec40f23-f05e-461c-b44f-8336ccc197b1"],"volumes":{"0":{"boot":false,"creation_date":"2023-10-17T13:10:02.114829+00:00","export_uri":null,"id":"ecbc5aa7-71d4-4df2-82d2-dfea58974d59","modification_date":"2023-10-17T13:10:02.114829+00:00","name":"k8s_base_node_2023-09-27.6","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"c05ff395-cfe8-49b0-b360-e7fef2a21ff0","name":"scw-test-k8s-public-ip-pool-8ec40f23f05e461cb4"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-10-17T13:14:45.676131Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b28823e9-af42-4590-99af-5fb5f997504c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-17T13:14:45.676131Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/b28823e9-af42-4590-99af-5fb5f997504c
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-10-17T13:14:45.676131Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b28823e9-af42-4590-99af-5fb5f997504c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-17T13:14:45.676131Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-17T13:14:46.350480Z","gateway_networks":[],"id":"b5052db0-b31a-41bb-a59b-237e4fd5f7df","ip":{"address":"51.15.194.85","created_at":"2023-10-17T13:14:46.329226Z","gateway_id":"b5052db0-b31a-41bb-a59b-237e4fd5f7df","id":"e19d42af-22a8-451a-9e50-00b2e4c456d3","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"85-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-17T13:14:46.329226Z","zone":"fr-par-1"},"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-17T13:14:46.350480Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b5052db0-b31a-41bb-a59b-237e4fd5f7df
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-17T13:14:46.350480Z","gateway_networks":[],"id":"b5052db0-b31a-41bb-a59b-237e4fd5f7df","ip":{"address":"51.15.194.85","created_at":"2023-10-17T13:14:46.329226Z","gateway_id":"b5052db0-b31a-41bb-a59b-237e4fd5f7df","id":"e19d42af-22a8-451a-9e50-00b2e4c456d3","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"85-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-17T13:14:46.329226Z","zone":"fr-par-1"},"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-17T13:14:46.394637Z","upstream_dns_servers":[],"version":"0.6.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"b5052db0-b31a-41bb-a59b-237e4fd5f7df","private_network_id":"cd139a05-39cf-4f92-9011-a67c8fda9c81","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"b28823e9-af42-4590-99af-5fb5f997504c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-10-17T13:14:53.394376Z","dhcp":{"address":"192.168.0.1","created_at":"2023-10-17T13:14:45.676131Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b28823e9-af42-4590-99af-5fb5f997504c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-17T13:14:45.676131Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b5052db0-b31a-41bb-a59b-237e4fd5f7df","id":"db0a2bca-b1cf-4af1-945d-ceaecf3805e5","mac_address":null,"private_network_id":"cd139a05-39cf-4f92-9011-a67c8fda9c81","status":"created","updated_at":"2023-10-17T13:14:53.394376Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/db0a2bca-b1cf-4af1-945d-ceaecf3805e5
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-10-17T13:14:53.394376Z","dhcp":{"address":"192.168.0.1","created_at":"2023-10-17T13:14:45.676131Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b28823e9-af42-4590-99af-5fb5f997504c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-17T13:14:45.676131Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b5052db0-b31a-41bb-a59b-237e4fd5f7df","id":"db0a2bca-b1cf-4af1-945d-ceaecf3805e5","mac_address":"02:00:00:14:46:BB","private_network_id":"cd139a05-39cf-4f92-9011-a67c8fda9c81","status":"ready","updated_at":"2023-10-17T13:14:55.908417Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/44bfce9e-f575-4ef5-a6aa-7f129922213a?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/44bfce9e-f575-4ef5-a6aa-7f129922213a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"44bfce9e-f575-4ef5-a6aa-7f129922213a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/db0a2bca-b1cf-4af1-945d-ceaecf3805e5?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b5052db0-b31a-41bb-a59b-237e4fd5f7df?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
