---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.19.4","label":"Kubernetes 1.19.4","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","MutatingAdmissionWebhook","PodNodeSelector","AlwaysPullImages","PodPreset"]},{"region":"fr-par","name":"1.18.12","label":"Kubernetes
      1.18.12","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","Ephemera[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"PoolBetaConfigWait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.19.4","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"357fbbb4-88a1-4486-95c8-9392bf71436d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:49:45.940857224Z","updated_at":"2020-11-16T15:49:46.437344224Z","name":"PoolBetaConfigWait","description":"","status":"creating","version":"1.19.4","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://357fbbb4-88a1-4486-95c8-9392bf71436d.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.357fbbb4-88a1-4486-95c8-9392bf71436d.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/357fbbb4-88a1-4486-95c8-9392bf71436d
    method: GET
  response:
    body: '{"region":"fr-par","id":"357fbbb4-88a1-4486-95c8-9392bf71436d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:49:45.940857Z","updated_at":"2020-11-16T15:49:46.437344Z","name":"PoolBetaConfigWait","description":"","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/357fbbb4-88a1-4486-95c8-9392bf71436d/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogcG9vbGJldGFjb25maWd3YWl0CiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VONVJFTkRRV0pEWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpkMDFVUlhoT1ZFVXhUa1JyTUU1c2IxaEVWRTEzVFZSRmVFNVVSVEZPUkdzd1RteHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/357fbbb4-88a1-4486-95c8-9392bf71436d/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"260bd530-5119-4907-93a0-a343e27d9880","cluster_id":"357fbbb4-88a1-4486-95c8-9392bf71436d","created_at":"2020-11-16T15:49:52.148350Z","updated_at":"2020-11-16T15:49:52.183347282Z","name":"default","status":"scaling","version":"1.19.4","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/260bd530-5119-4907-93a0-a343e27d9880
    method: GET
  response:
    body: '{"region":"fr-par","id":"260bd530-5119-4907-93a0-a343e27d9880","cluster_id":"357fbbb4-88a1-4486-95c8-9392bf71436d","created_at":"2020-11-16T15:49:52.148350Z","updated_at":"2020-11-16T15:49:52.183347Z","name":"default","status":"scaling","version":"1.19.4","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/357fbbb4-88a1-4486-95c8-9392bf71436d/nodes?order_by=created_at_asc&page=1&pool_id=260bd530-5119-4907-93a0-a343e27d9880&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"f1edabb9-b104-44f1-bdaf-72ff005898e7","cluster_id":"357fbbb4-88a1-4486-95c8-9392bf71436d","created_at":"2020-11-16T15:50:45.126261Z","updated_at":"2020-11-16T15:53:50.218697Z","pool_id":"260bd530-5119-4907-93a0-a343e27d9880","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-poolbetaconfigwait-default-f1edabb9b10444f","public_ip_v4":"51.158.102.193","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/357fbbb4-88a1-4486-95c8-9392bf71436d/nodes?order_by=created_at_asc&page=1&pool_id=260bd530-5119-4907-93a0-a343e27d9880&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"f1edabb9-b104-44f1-bdaf-72ff005898e7","cluster_id":"357fbbb4-88a1-4486-95c8-9392bf71436d","created_at":"2020-11-16T15:50:45.126261Z","updated_at":"2020-11-16T15:57:31.533110Z","pool_id":"260bd530-5119-4907-93a0-a343e27d9880","status":"ready","conditions":{"CorruptDockerOverlay2":"False","DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","ReadonlyFilesystem":"False","Ready":"True"},"name":"scw-poolbetaconfigwait-default-f1edabb9b10444f","public_ip_v4":"51.158.102.193","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/357fbbb4-88a1-4486-95c8-9392bf71436d?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"357fbbb4-88a1-4486-95c8-9392bf71436d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:49:45.940857Z","updated_at":"2020-11-16T16:00:51.969425666Z","name":"PoolB[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/357fbbb4-88a1-4486-95c8-9392bf71436d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"357fbbb4-88a1-4486-95c8-9392bf71436d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
