---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T13:57:17.332083Z","dhcp_enabled":true,"id":"02cda651-8832-495a-9ba7-d8d97c1b8686","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:57:17.332083Z","id":"ca7a0189-2836-405d-a34d-240a224c4e4b","subnet":"172.16.28.0/22","updated_at":"2023-11-13T13:57:17.332083Z"},{"created_at":"2023-11-13T13:57:17.332083Z","id":"d67e6cc6-4971-4ab8-a1e7-54f70556da71","subnet":"fd63:256c:45f7:9518::/64","updated_at":"2023-11-13T13:57:17.332083Z"}],"tags":[],"updated_at":"2023-11-13T13:57:17.332083Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/02cda651-8832-495a-9ba7-d8d97c1b8686
    method: GET
  response:
    body: '{"created_at":"2023-11-13T13:57:17.332083Z","dhcp_enabled":true,"id":"02cda651-8832-495a-9ba7-d8d97c1b8686","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:57:17.332083Z","id":"ca7a0189-2836-405d-a34d-240a224c4e4b","subnet":"172.16.28.0/22","updated_at":"2023-11-13T13:57:17.332083Z"},{"created_at":"2023-11-13T13:57:17.332083Z","id":"d67e6cc6-4971-4ab8-a1e7-54f70556da71","subnet":"fd63:256c:45f7:9518::/64","updated_at":"2023-11-13T13:57:17.332083Z"}],"tags":[],"updated_at":"2023-11-13T13:57:17.332083Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"02cda651-8832-495a-9ba7-d8d97c1b8686"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://86d35ef1-b26c-42bf-a2a3-3dabe60acdfc.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-13T13:57:19.413457424Z","created_at":"2023-11-13T13:57:19.413457424Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.86d35ef1-b26c-42bf-a2a3-3dabe60acdfc.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"86d35ef1-b26c-42bf-a2a3-3dabe60acdfc","ingress":"none","name":"test-pool-zone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"02cda651-8832-495a-9ba7-d8d97c1b8686","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2023-11-13T13:57:19.435275809Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86d35ef1-b26c-42bf-a2a3-3dabe60acdfc
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86d35ef1-b26c-42bf-a2a3-3dabe60acdfc/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYaE5ha1Y2VGxSamVVMVdiMWhFVkUxNlRWUkZlRTFxUlhwT1ZHTjVUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-zone","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86d35ef1-b26c-42bf-a2a3-3dabe60acdfc/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"86d35ef1-b26c-42bf-a2a3-3dabe60acdfc","container_runtime":"containerd","created_at":"2023-11-13T13:57:24.974797Z","id":"0be1ccbe-c0d7-402f-b531-fc4b22d828f3","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-11-13T13:57:24.981929048Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0be1ccbe-c0d7-402f-b531-fc4b22d828f3
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"86d35ef1-b26c-42bf-a2a3-3dabe60acdfc","container_runtime":"containerd","created_at":"2023-11-13T13:57:24.974797Z","id":"0be1ccbe-c0d7-402f-b531-fc4b22d828f3","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-11-13T13:57:24.981929Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86d35ef1-b26c-42bf-a2a3-3dabe60acdfc/nodes?order_by=created_at_asc&page=1&pool_id=0be1ccbe-c0d7-402f-b531-fc4b22d828f3&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"86d35ef1-b26c-42bf-a2a3-3dabe60acdfc","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T14:00:10.185268Z","error_message":null,"id":"cfd6ae66-ad01-41c2-bb62-9d88b0e10762","name":"scw-test-pool-zone-test-pool-zone-cfd6ae66ad01","pool_id":"0be1ccbe-c0d7-402f-b531-fc4b22d828f3","provider_id":"scaleway://instance/fr-par-2/395d556d-d1b6-448e-8c82-145e8c525ae4","public_ip_v4":"51.159.162.176","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T14:02:28.488006Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0be1ccbe-c0d7-402f-b531-fc4b22d828f3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"0be1ccbe-c0d7-402f-b531-fc4b22d828f3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/86d35ef1-b26c-42bf-a2a3-3dabe60acdfc?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
