---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:12:58.586615Z","dhcp_enabled":true,"id":"ed512b15-e230-419f-a06a-3cf0c6e473b7","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:12:58.586615Z","id":"78e1ddf4-5304-4e4a-9b78-5ce7955d32c2","subnet":"172.16.44.0/22","updated_at":"2024-02-28T14:12:58.586615Z"},{"created_at":"2024-02-28T14:12:58.586615Z","id":"8cfdf49c-bc93-4afd-8789-c0226a44cf61","subnet":"fd5f:519c:6d46:8ad9::/64","updated_at":"2024-02-28T14:12:58.586615Z"}],"tags":[],"updated_at":"2024-02-28T14:12:58.586615Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ed512b15-e230-419f-a06a-3cf0c6e473b7
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:12:58.586615Z","dhcp_enabled":true,"id":"ed512b15-e230-419f-a06a-3cf0c6e473b7","name":"test-pool-upgrade-policy","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:12:58.586615Z","id":"78e1ddf4-5304-4e4a-9b78-5ce7955d32c2","subnet":"172.16.44.0/22","updated_at":"2024-02-28T14:12:58.586615Z"},{"created_at":"2024-02-28T14:12:58.586615Z","id":"8cfdf49c-bc93-4afd-8789-c0226a44cf61","subnet":"fd5f:519c:6d46:8ad9::/64","updated_at":"2024-02-28T14:12:58.586615Z"}],"tags":[],"updated_at":"2024-02-28T14:12:58.586615Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"ed512b15-e230-419f-a06a-3cf0c6e473b7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://e9d947a5-622e-4846-ac5f-52532ce77dd3.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-02-28T14:12:59.967743960Z","created_at":"2024-02-28T14:12:59.967743960Z","description":"","dns_wildcard":"*.e9d947a5-622e-4846-ac5f-52532ce77dd3.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"e9d947a5-622e-4846-ac5f-52532ce77dd3","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"ed512b15-e230-419f-a06a-3cf0c6e473b7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2024-02-28T14:12:59.983720324Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e9d947a5-622e-4846-ac5f-52532ce77dd3
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e9d947a5-622e-4846-ac5f-52532ce77dd3/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e9d947a5-622e-4846-ac5f-52532ce77dd3/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVTWGxPZWtVd1RWUk5kMDFXYjFoRVZFMHdUVVJKZVU1NlJUQk5WRTEzVFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e9d947a5-622e-4846-ac5f-52532ce77dd3/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"e9d947a5-622e-4846-ac5f-52532ce77dd3","container_runtime":"containerd","created_at":"2024-02-28T14:13:54.641816Z","id":"23b69b7d-a347-4746-9e0f-130e0c4b5f25","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2024-02-28T14:13:54.656168637Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/23b69b7d-a347-4746-9e0f-130e0c4b5f25
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"e9d947a5-622e-4846-ac5f-52532ce77dd3","container_runtime":"containerd","created_at":"2024-02-28T14:13:54.641816Z","id":"23b69b7d-a347-4746-9e0f-130e0c4b5f25","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2024-02-28T14:13:54.656169Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e9d947a5-622e-4846-ac5f-52532ce77dd3/nodes?order_by=created_at_asc&page=1&pool_id=23b69b7d-a347-4746-9e0f-130e0c4b5f25&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"e9d947a5-622e-4846-ac5f-52532ce77dd3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:16:56.779998Z","error_message":null,"id":"ea71b1d8-deca-4fc4-a43d-b4eca985bce9","name":"scw-test-pool-upgrade-test-pool-upgrade-ea71b1","pool_id":"23b69b7d-a347-4746-9e0f-130e0c4b5f25","provider_id":"scaleway://instance/fr-par-1/7fb33dd7-1851-44b9-a3bb-337e234a3422","public_ip_v4":"51.15.132.243","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:19:19.123208Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e9d947a5-622e-4846-ac5f-52532ce77dd3/nodes?order_by=created_at_asc&page=1&pool_id=23b69b7d-a347-4746-9e0f-130e0c4b5f25&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"e9d947a5-622e-4846-ac5f-52532ce77dd3","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:16:56.779998Z","error_message":null,"id":"ea71b1d8-deca-4fc4-a43d-b4eca985bce9","name":"scw-test-pool-upgrade-test-pool-upgrade-ea71b1","pool_id":"23b69b7d-a347-4746-9e0f-130e0c4b5f25","provider_id":"scaleway://instance/fr-par-1/7fb33dd7-1851-44b9-a3bb-337e234a3422","public_ip_v4":"51.15.132.243","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:19:25.806258Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/23b69b7d-a347-4746-9e0f-130e0c4b5f25
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"23b69b7d-a347-4746-9e0f-130e0c4b5f25","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e9d947a5-622e-4846-ac5f-52532ce77dd3?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
