---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.2","name":"1.27.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T22:15:09.901249Z","dhcp_enabled":false,"id":"58050504-3f19-4b95-903b-1c4d103f0e2c","name":"k8s-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T22:15:09.901249Z","id":"5dd87f4f-96a7-430e-906d-6f2568f5c613","subnet":"172.16.16.0/22","updated_at":"2023-07-11T22:15:09.901249Z"},{"created_at":"2023-07-11T22:15:09.901249Z","id":"ff357d7e-af63-48d9-a13c-fc02f1e157a7","subnet":"fd46:78ab:30b8:1a10::/64","updated_at":"2023-07-11T22:15:09.901249Z"}],"tags":[],"updated_at":"2023-07-11T22:15:09.901249Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/58050504-3f19-4b95-903b-1c4d103f0e2c
    method: GET
  response:
    body: '{"created_at":"2023-07-11T22:15:09.901249Z","dhcp_enabled":false,"id":"58050504-3f19-4b95-903b-1c4d103f0e2c","name":"k8s-private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T22:15:09.901249Z","id":"5dd87f4f-96a7-430e-906d-6f2568f5c613","subnet":"172.16.16.0/22","updated_at":"2023-07-11T22:15:09.901249Z"},{"created_at":"2023-07-11T22:15:09.901249Z","id":"ff357d7e-af63-48d9-a13c-fc02f1e157a7","subnet":"fd46:78ab:30b8:1a10::/64","updated_at":"2023-07-11T22:15:09.901249Z"}],"tags":[],"updated_at":"2023-07-11T22:15:09.901249Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"","name":"private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.27.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"58050504-3f19-4b95-903b-1c4d103f0e2c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://d9306b79-b5a5-4e09-a792-08134811be45.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":null,"created_at":"2023-07-11T22:15:10.278542241Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.d9306b79-b5a5-4e09-a792-08134811be45.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"d9306b79-b5a5-4e09-a792-08134811be45","ingress":"none","name":"private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_id":"58050504-3f19-4b95-903b-1c4d103f0e2c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-07-11T22:15:10.304783456Z","upgrade_available":false,"version":"1.27.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d9306b79-b5a5-4e09-a792-08134811be45
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d9306b79-b5a5-4e09-a792-08134811be45/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInByaXZhdGUtbmV0d29yay1jbHVzdGVyIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVkzaE5SRWw1VFZSVmVFMXNiMWhFVkUxNlRVUmplRTFFU1hsTlZGVjRUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d9306b79-b5a5-4e09-a792-08134811be45/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"d9306b79-b5a5-4e09-a792-08134811be45","container_runtime":"containerd","created_at":"2023-07-11T22:15:15.821001Z","id":"596e2a90-4843-426f-bec2-463cbb2dfc1b","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-07-11T22:15:15.834150083Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/596e2a90-4843-426f-bec2-463cbb2dfc1b
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"d9306b79-b5a5-4e09-a792-08134811be45","container_runtime":"containerd","created_at":"2023-07-11T22:15:15.821001Z","id":"596e2a90-4843-426f-bec2-463cbb2dfc1b","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-07-11T22:15:15.834150Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d9306b79-b5a5-4e09-a792-08134811be45/nodes?order_by=created_at_asc&page=1&pool_id=596e2a90-4843-426f-bec2-463cbb2dfc1b&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"d9306b79-b5a5-4e09-a792-08134811be45","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-07-11T22:16:24.258127Z","error_message":null,"id":"90cb7ccb-d57c-4b58-9399-37e8653e6d24","name":"scw-private-network-cluster-pool-90cb7ccbd57c4","pool_id":"596e2a90-4843-426f-bec2-463cbb2dfc1b","provider_id":"scaleway://instance/fr-par-1/dc7a7ebe-88e2-4f34-9fd8-563963c490cb","public_ip_v4":"163.172.169.96","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-11T22:18:59.700592Z"},{"cluster_id":"d9306b79-b5a5-4e09-a792-08134811be45","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-07-11T22:16:32.386268Z","error_message":null,"id":"eda1ae4a-eac8-436f-9e51-0c396827d89b","name":"scw-private-network-cluster-pool-eda1ae4aeac84","pool_id":"596e2a90-4843-426f-bec2-463cbb2dfc1b","provider_id":"scaleway://instance/fr-par-1/d1f06596-ff35-448e-a0f2-11861e08cc9e","public_ip_v4":"51.15.201.52","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-11T22:18:59.714502Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d9306b79-b5a5-4e09-a792-08134811be45/nodes?order_by=created_at_asc&pool_id=596e2a90-4843-426f-bec2-463cbb2dfc1b&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"d9306b79-b5a5-4e09-a792-08134811be45","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/dc7a7ebe-88e2-4f34-9fd8-563963c490cb
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-07-11T22:16:24.757287+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-private-network-cluster-pool-90cb7ccbd57c4","id":"dc7a7ebe-88e2-4f34-9fd8-563963c490cb","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:2d00::1","gateway":"2001:bc8:610:2d00::","netmask":"64"},"location":{"cluster_id":"50","hypervisor_id":"101","node_id":"1","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:1c:e1:ef","maintenances":[],"modification_date":"2023-07-11T22:16:43.108477+00:00","name":"scw-private-network-cluster-pool-90cb7ccbd57c4","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","placement_group":null,"private_ip":"10.194.66.1","private_nics":[{"creation_date":"2023-07-11T22:16:25.295531+00:00","id":"0fbb862b-9c52-4bc8-88e2-d1c600f25e44","mac_address":"02:00:00:13:5c:47","modification_date":"2023-07-11T22:16:26.806463+00:00","private_network_id":"58050504-3f19-4b95-903b-1c4d103f0e2c","server_id":"dc7a7ebe-88e2-4f34-9fd8-563963c490cb","state":"available","tags":[],"zone":"fr-par-1"}],"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","protected":false,"public_ip":{"address":"163.172.169.96","dynamic":true,"family":"inet","gateway":null,"id":"237eb35e-a07e-448c-8948-a54824077849","netmask":"32","provisioning_mode":"dhcp"},"public_ips":[{"address":"163.172.169.96","dynamic":true,"family":"inet","gateway":null,"id":"237eb35e-a07e-448c-8948-a54824077849","netmask":"32","provisioning_mode":"dhcp"}],"routed_ip_enabled":false,"security_group":{"id":"07f0b232-3ec3-4e71-938e-e74b6ffd6d89","name":"kubernetes
      d9306b79-b5a5-4e09-a792-08134811be45"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=d9306b79-b5a5-4e09-a792-08134811be45","pool=596e2a90-4843-426f-bec2-463cbb2dfc1b","pool-name=pool","runtime=containerd","managed=true","node=90cb7ccb-d57c-4b58-9399-37e8653e6d24"],"volumes":{"0":{"boot":false,"creation_date":"2023-07-11T22:16:24.757287+00:00","export_uri":null,"id":"a30325cc-84d1-45a0-9c63-556b6e174871","modification_date":"2023-07-11T22:16:24.757287+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","server":{"id":"dc7a7ebe-88e2-4f34-9fd8-563963c490cb","name":"scw-private-network-cluster-pool-90cb7ccbd57c4"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d9306b79-b5a5-4e09-a792-08134811be45?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d9306b79-b5a5-4e09-a792-08134811be45
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d9306b79-b5a5-4e09-a792-08134811be45","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
