---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-21T16:12:06.655967Z","dhcp_enabled":true,"id":"1473940f-3601-4137-b289-0b38c3ab3426","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:12:06.655967Z","id":"f3bdb7e0-45e6-4ccf-b53b-f25ab6b9696a","subnet":"172.16.8.0/22","updated_at":"2023-12-21T16:12:06.655967Z"},{"created_at":"2023-12-21T16:12:06.655967Z","id":"cf49d4c1-0694-4940-a46c-3b7b60cd7cbe","subnet":"fd63:256c:45f7:d21b::/64","updated_at":"2023-12-21T16:12:06.655967Z"}],"tags":[],"updated_at":"2023-12-21T16:12:06.655967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1473940f-3601-4137-b289-0b38c3ab3426
    method: GET
  response:
    body: '{"created_at":"2023-12-21T16:12:06.655967Z","dhcp_enabled":true,"id":"1473940f-3601-4137-b289-0b38c3ab3426","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:12:06.655967Z","id":"f3bdb7e0-45e6-4ccf-b53b-f25ab6b9696a","subnet":"172.16.8.0/22","updated_at":"2023-12-21T16:12:06.655967Z"},{"created_at":"2023-12-21T16:12:06.655967Z","id":"cf49d4c1-0694-4940-a46c-3b7b60cd7cbe","subnet":"fd63:256c:45f7:d21b::/64","updated_at":"2023-12-21T16:12:06.655967Z"}],"tags":[],"updated_at":"2023-12-21T16:12:06.655967Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"1473940f-3601-4137-b289-0b38c3ab3426"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1425dae7-389a-4145-940e-3e2224b74a4e.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-21T16:12:11.021068612Z","created_at":"2023-12-21T16:12:11.021068612Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.1425dae7-389a-4145-940e-3e2224b74a4e.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"1425dae7-389a-4145-940e-3e2224b74a4e","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"1473940f-3601-4137-b289-0b38c3ab3426","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-12-21T16:12:11.035312649Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1425dae7-389a-4145-940e-3e2224b74a4e
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1425dae7-389a-4145-940e-3e2224b74a4e/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVTWGxOUkVVeVRWUkplRTFzYjFoRVZFMTZUVlJKZVUxRVJUSk5WRWw0VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1425dae7-389a-4145-940e-3e2224b74a4e/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"1425dae7-389a-4145-940e-3e2224b74a4e","container_runtime":"containerd","created_at":"2023-12-21T16:12:16.366415Z","id":"7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:12:16.377808335Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"1425dae7-389a-4145-940e-3e2224b74a4e","container_runtime":"containerd","created_at":"2023-12-21T16:12:16.366415Z","id":"7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:12:16.377808Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1425dae7-389a-4145-940e-3e2224b74a4e/nodes?order_by=created_at_asc&page=1&pool_id=7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1425dae7-389a-4145-940e-3e2224b74a4e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:17:46.748473Z","error_message":null,"id":"f0585690-47cc-4276-b3f2-f77c6f40f218","name":"scw-test-k8s-public-i-test-k8s-public-i-f05856","pool_id":"7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1","provider_id":"scaleway://instance/fr-par-1/4ebf4d8a-35c3-494b-939e-ce4095b62bdd","public_ip_v4":"51.15.216.28","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:20:43.985555Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1425dae7-389a-4145-940e-3e2224b74a4e/nodes?order_by=created_at_asc&pool_id=7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1425dae7-389a-4145-940e-3e2224b74a4e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:17:46.748473Z","error_message":null,"id":"f0585690-47cc-4276-b3f2-f77c6f40f218","name":"scw-test-k8s-public-i-test-k8s-public-i-f05856","pool_id":"7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1","provider_id":"scaleway://instance/fr-par-1/4ebf4d8a-35c3-494b-939e-ce4095b62bdd","public_ip_v4":"51.15.216.28","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:20:43.985555Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4ebf4d8a-35c3-494b-939e-ce4095b62bdd
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-12-21T16:17:47.478179+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-f05856","id":"4ebf4d8a-35c3-494b-939e-ce4095b62bdd","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:8706::1","gateway":"2001:bc8:610:8706::","netmask":"64"},"location":{"cluster_id":"52","hypervisor_id":"501","node_id":"7","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:34:3c:3b","maintenances":[],"modification_date":"2023-12-21T16:18:06.900764+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-f05856","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.88.141","private_nics":[{"creation_date":"2023-12-21T16:17:48.194242+00:00","id":"f7f9e552-7901-46ae-be6f-dfa629f8f157","mac_address":"02:00:00:15:cf:35","modification_date":"2023-12-21T16:17:49.018163+00:00","private_network_id":"1473940f-3601-4137-b289-0b38c3ab3426","server_id":"4ebf4d8a-35c3-494b-939e-ce4095b62bdd","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.216.28","dynamic":true,"family":"inet","gateway":null,"id":"9a742e28-6d72-4774-98e2-e9116edc5bbf","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.216.28","dynamic":true,"family":"inet","gateway":null,"id":"9a742e28-6d72-4774-98e2-e9116edc5bbf","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"c5dd6c36-96c6-4bd1-a8b7-bfa55b69eb60","name":"kubernetes
      1425dae7-389a-4145-940e-3e2224b74a4e"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=1425dae7-389a-4145-940e-3e2224b74a4e","pool=7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=f0585690-47cc-4276-b3f2-f77c6f40f218"],"volumes":{"0":{"boot":false,"creation_date":"2023-12-21T16:17:47.478179+00:00","export_uri":null,"id":"d51f223c-7aae-4b20-8d83-55e214d102ec","modification_date":"2023-12-21T16:17:47.478179+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"4ebf4d8a-35c3-494b-939e-ce4095b62bdd","name":"scw-test-k8s-public-i-test-k8s-public-i-f05856"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"7d7e85a1-2a60-4650-8d3e-9b68e6ad6aa1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-21T16:21:26.390164Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14cada3f-491a-4783-b3e2-a02a5d43bb05","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-21T16:21:26.390164Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/14cada3f-491a-4783-b3e2-a02a5d43bb05
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-21T16:21:26.390164Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14cada3f-491a-4783-b3e2-a02a5d43bb05","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-21T16:21:26.390164Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-21T16:21:27.077506Z","gateway_networks":[],"id":"6ebd667f-fa9d-49fa-a648-2b51c09fb1de","ip":{"address":"212.47.239.245","created_at":"2023-12-21T16:21:27.050840Z","gateway_id":"6ebd667f-fa9d-49fa-a648-2b51c09fb1de","id":"9cd75135-b34c-4bbe-b517-9db71e515f1c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"245-239-47-212.instances.scw.cloud","tags":[],"updated_at":"2023-12-21T16:21:27.050840Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-21T16:21:27.077506Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/6ebd667f-fa9d-49fa-a648-2b51c09fb1de
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-21T16:21:27.077506Z","gateway_networks":[],"id":"6ebd667f-fa9d-49fa-a648-2b51c09fb1de","ip":{"address":"212.47.239.245","created_at":"2023-12-21T16:21:27.050840Z","gateway_id":"6ebd667f-fa9d-49fa-a648-2b51c09fb1de","id":"9cd75135-b34c-4bbe-b517-9db71e515f1c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"245-239-47-212.instances.scw.cloud","tags":[],"updated_at":"2023-12-21T16:21:27.050840Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-21T16:21:27.126287Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"6ebd667f-fa9d-49fa-a648-2b51c09fb1de","private_network_id":"1473940f-3601-4137-b289-0b38c3ab3426","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"14cada3f-491a-4783-b3e2-a02a5d43bb05"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-12-21T16:21:33.326052Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-21T16:21:26.390164Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14cada3f-491a-4783-b3e2-a02a5d43bb05","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-21T16:21:26.390164Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"6ebd667f-fa9d-49fa-a648-2b51c09fb1de","id":"f4b7deed-6b34-48ff-88da-a1d7aab8c36e","ipam_config":null,"mac_address":null,"private_network_id":"1473940f-3601-4137-b289-0b38c3ab3426","status":"created","updated_at":"2023-12-21T16:21:33.326052Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f4b7deed-6b34-48ff-88da-a1d7aab8c36e
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-12-21T16:21:33.326052Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-21T16:21:26.390164Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"14cada3f-491a-4783-b3e2-a02a5d43bb05","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-21T16:21:26.390164Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"6ebd667f-fa9d-49fa-a648-2b51c09fb1de","id":"f4b7deed-6b34-48ff-88da-a1d7aab8c36e","ipam_config":null,"mac_address":"02:00:00:15:CF:3E","private_network_id":"1473940f-3601-4137-b289-0b38c3ab3426","status":"ready","updated_at":"2023-12-21T16:21:42.059039Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1425dae7-389a-4145-940e-3e2224b74a4e?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f4b7deed-6b34-48ff-88da-a1d7aab8c36e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/6ebd667f-fa9d-49fa-a648-2b51c09fb1de?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
