---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.2","name":"1.27.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-29T12:24:48.490187Z","id":"f0995357-bb9c-4af2-8acd-1158bb7db48d","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.8.0/22","fd63:256c:45f7:8e91::/64"],"tags":[],"updated_at":"2023-06-29T12:24:48.490187Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/f0995357-bb9c-4af2-8acd-1158bb7db48d
    method: GET
  response:
    body: '{"created_at":"2023-06-29T12:24:48.490187Z","id":"f0995357-bb9c-4af2-8acd-1158bb7db48d","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.8.0/22","fd63:256c:45f7:8e91::/64"],"tags":[],"updated_at":"2023-06-29T12:24:48.490187Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.27.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"f0995357-bb9c-4af2-8acd-1158bb7db48d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7ea08e47-944e-43bb-8984-c9a8fffe8613.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-06-29T12:24:49.296485922Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.7ea08e47-944e-43bb-8984-c9a8fffe8613.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7ea08e47-944e-43bb-8984-c9a8fffe8613","ingress":"none","name":"private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f0995357-bb9c-4af2-8acd-1158bb7db48d","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-06-29T12:24:49.329512927Z","upgrade_available":false,"version":"1.27.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ea08e47-944e-43bb-8984-c9a8fffe8613
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ea08e47-944e-43bb-8984-c9a8fffe8613/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInByaXZhdGUtbmV0d29yay1jbHVzdGVyIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYbFBSRVY1VFdwUk1VMVdiMWhFVkUxNlRVUlplVTlFUlhsTmFsRXhUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ea08e47-944e-43bb-8984-c9a8fffe8613/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7ea08e47-944e-43bb-8984-c9a8fffe8613","container_runtime":"containerd","created_at":"2023-06-29T12:24:55.713819Z","id":"f15dd26b-1757-40b5-aae7-341431590571","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-06-29T12:24:55.732743151Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f15dd26b-1757-40b5-aae7-341431590571
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7ea08e47-944e-43bb-8984-c9a8fffe8613","container_runtime":"containerd","created_at":"2023-06-29T12:24:55.713819Z","id":"f15dd26b-1757-40b5-aae7-341431590571","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-06-29T12:24:55.732743Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ea08e47-944e-43bb-8984-c9a8fffe8613/nodes?order_by=created_at_asc&page=1&pool_id=f15dd26b-1757-40b5-aae7-341431590571&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7ea08e47-944e-43bb-8984-c9a8fffe8613","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-29T12:26:39.085764Z","error_message":null,"id":"86b5ffba-38aa-4ce2-b3a8-5d97f016d6e3","name":"scw-private-network-cluster-pool-86b5ffba38aa4","pool_id":"f15dd26b-1757-40b5-aae7-341431590571","provider_id":"scaleway://instance/fr-par-1/68f6214e-f73c-4fa3-b2bf-391139689613","public_ip_v4":"163.172.149.194","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-29T12:28:55.669550Z"},{"cluster_id":"7ea08e47-944e-43bb-8984-c9a8fffe8613","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-29T12:26:47.165695Z","error_message":null,"id":"0df0d903-e5e1-4df8-86fa-721d512499ff","name":"scw-private-network-cluster-pool-0df0d903e5e14","pool_id":"f15dd26b-1757-40b5-aae7-341431590571","provider_id":"scaleway://instance/fr-par-1/a7a8270c-a90c-4a0b-af19-e73453e4e764","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-29T12:28:55.648359Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ea08e47-944e-43bb-8984-c9a8fffe8613/nodes?order_by=created_at_asc&pool_id=f15dd26b-1757-40b5-aae7-341431590571&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7ea08e47-944e-43bb-8984-c9a8fffe8613","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/68f6214e-f73c-4fa3-b2bf-391139689613
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-06-29T12:26:39.550459+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-private-network-cluster-pool-86b5ffba38aa4","id":"68f6214e-f73c-4fa3-b2bf-391139689613","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:700:b03::1","gateway":"2001:bc8:700:b03::","netmask":"64"},"location":{"cluster_id":"57","hypervisor_id":"304","node_id":"4","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:1a:fa:31","maintenances":[],"modification_date":"2023-06-29T12:27:02.648813+00:00","name":"scw-private-network-cluster-pool-86b5ffba38aa4","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.180.199","private_nics":[{"creation_date":"2023-06-29T12:26:39.988168+00:00","id":"81f4e523-5029-4fac-a352-cb14f7cf946e","mac_address":"02:00:00:13:42:f4","modification_date":"2023-06-29T12:26:40.914011+00:00","private_network_id":"f0995357-bb9c-4af2-8acd-1158bb7db48d","server_id":"68f6214e-f73c-4fa3-b2bf-391139689613","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.149.194","dynamic":true,"family":"inet","gateway":null,"id":"de3de4a0-04c5-44f6-9251-b27fa180ea9c","netmask":"32","provisioning_mode":"dhcp"},"public_ips":[{"address":"163.172.149.194","dynamic":true,"family":"inet","gateway":null,"id":"de3de4a0-04c5-44f6-9251-b27fa180ea9c","netmask":"32","provisioning_mode":"dhcp"}],"routed_ip_enabled":false,"security_group":{"id":"5544ebc6-58a3-40c1-a2c0-ec30ee392fc5","name":"kubernetes
      7ea08e47-944e-43bb-8984-c9a8fffe8613"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=7ea08e47-944e-43bb-8984-c9a8fffe8613","pool=f15dd26b-1757-40b5-aae7-341431590571","pool-name=pool","runtime=containerd","managed=true","node=86b5ffba-38aa-4ce2-b3a8-5d97f016d6e3"],"volumes":{"0":{"boot":false,"creation_date":"2023-06-29T12:26:39.550459+00:00","export_uri":null,"id":"5449a07f-c389-488d-8693-30d2a60b10a8","modification_date":"2023-06-29T12:26:39.550459+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"68f6214e-f73c-4fa3-b2bf-391139689613","name":"scw-private-network-cluster-pool-86b5ffba38aa4"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ea08e47-944e-43bb-8984-c9a8fffe8613?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7ea08e47-944e-43bb-8984-c9a8fffe8613
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7ea08e47-944e-43bb-8984-c9a8fffe8613","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
