---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.2","name":"1.27.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigMinimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.27.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1e32d31e-bae7-4abd-a354-88cea8f5b714.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-07-27T15:26:57.185186835Z","created_at":"2023-07-27T15:26:57.185186835Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.1e32d31e-bae7-4abd-a354-88cea8f5b714.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"1e32d31e-bae7-4abd-a354-88cea8f5b714","ingress":"none","name":"K8SPoolConfigMinimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-07-27T15:26:57.194927945Z","upgrade_available":false,"version":"1.27.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1e32d31e-bae7-4abd-a354-88cea8f5b714
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1e32d31e-bae7-4abd-a354-88cea8f5b714/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWdtaW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVkzbE9ha1V4VFdwWk1VOUdiMWhFVkUxNlRVUmplVTVxUlRGTmFsa3hUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1e32d31e-bae7-4abd-a354-88cea8f5b714/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1e32d31e-bae7-4abd-a354-88cea8f5b714","container_runtime":"containerd","created_at":"2023-07-27T15:27:02.741743Z","id":"97dc1e73-bc9d-4f79-9c80-40914a3e52a1","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-07-27T15:27:02.819654866Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/97dc1e73-bc9d-4f79-9c80-40914a3e52a1
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1e32d31e-bae7-4abd-a354-88cea8f5b714","container_runtime":"containerd","created_at":"2023-07-27T15:27:02.741743Z","id":"97dc1e73-bc9d-4f79-9c80-40914a3e52a1","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-07-27T15:27:02.819655Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1e32d31e-bae7-4abd-a354-88cea8f5b714/nodes?order_by=created_at_asc&page=1&pool_id=97dc1e73-bc9d-4f79-9c80-40914a3e52a1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1e32d31e-bae7-4abd-a354-88cea8f5b714","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-07-27T15:28:37.882438Z","error_message":null,"id":"9aae5443-eded-4393-8e9a-ddd8b777cb14","name":"scw-k8spoolconfigminimal-default-9aae5443eded4","pool_id":"97dc1e73-bc9d-4f79-9c80-40914a3e52a1","provider_id":"scaleway://instance/fr-par-1/b21bc155-c494-41bb-842c-a2e5efed01f1","public_ip_v4":"212.47.249.246","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-27T15:30:53.705795Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1e32d31e-bae7-4abd-a354-88cea8f5b714/nodes?order_by=created_at_asc&page=1&pool_id=97dc1e73-bc9d-4f79-9c80-40914a3e52a1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1e32d31e-bae7-4abd-a354-88cea8f5b714","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-07-27T15:28:37.882438Z","error_message":null,"id":"9aae5443-eded-4393-8e9a-ddd8b777cb14","name":"scw-k8spoolconfigminimal-default-9aae5443eded4","pool_id":"97dc1e73-bc9d-4f79-9c80-40914a3e52a1","provider_id":"scaleway://instance/fr-par-1/b21bc155-c494-41bb-842c-a2e5efed01f1","public_ip_v4":"212.47.249.246","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-27T15:33:25.834377Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1e32d31e-bae7-4abd-a354-88cea8f5b714?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1e32d31e-bae7-4abd-a354-88cea8f5b714
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"1e32d31e-bae7-4abd-a354-88cea8f5b714","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
