---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.23.1","label":"Kubernetes 1.23.1","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.22.5","label":"Kubernetes
      1.22.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_k[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"K8SPoolConfigUpgradePolicy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.23.1","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-17T12:59:22.793545574Z","updated_at":"2022-01-17T12:59:22.818320588Z","type":"kapsule","name":"K8SPoolConfigUpgradePolicy","description":"","status":"creating","version":"1.23.1","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"cluster_url":"https://1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b
    method: GET
  response:
    body: '{"region":"fr-par","id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-17T12:59:22.793546Z","updated_at":"2022-01-17T12:59:22.818321Z","type":"kapsule","name":"K8SPoolConfigUpgradePolicy[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWd1cGdyYWRlcG9saWN5IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZVUxRVJYaE9ha1Y1VGxScmVVMHhiMWhFVkUxNVRVUkZlRTVxUlhsT1ZHdDVUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"314a0b76-0427-4c90-ad5f-0f820c934587","cluster_id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","created_at":"2022-01-17T12:59:28.371693Z","updated_at":"2022-01-17T12:59:28.393340252Z","name":"default","status":"scaling","version":"1.23.1","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/314a0b76-0427-4c90-ad5f-0f820c934587
    method: GET
  response:
    body: '{"region":"fr-par","id":"314a0b76-0427-4c90-ad5f-0f820c934587","cluster_id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","created_at":"2022-01-17T12:59:28.371693Z","updated_at":"2022-01-17T12:59:28.393340Z","name":"default","status":"scaling","version":"1.23.1","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b/nodes?order_by=created_at_asc&page=1&pool_id=314a0b76-0427-4c90-ad5f-0f820c934587&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"febe3d50-05cc-4ff2-af51-97880ac32caf","cluster_id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","created_at":"2022-01-17T13:02:33.735203Z","updated_at":"2022-01-17T13:06:03.171114Z","pool_id":"314a0b76-0427-4c90-ad5f-0f820c934587","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-k8spoolconfigupgradepolicy-default-febe3d5","public_ip_v4":"51.15.192.136","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b/nodes?order_by=created_at_asc&page=1&pool_id=314a0b76-0427-4c90-ad5f-0f820c934587&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"febe3d50-05cc-4ff2-af51-97880ac32caf","cluster_id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","created_at":"2022-01-17T13:02:33.735203Z","updated_at":"2022-01-17T13:06:12.614133Z","pool_id":"314a0b76-0427-4c90-ad5f-0f820c934587","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"name":"scw-k8spoolconfigupgradepolicy-default-febe3d5","public_ip_v4":"51.15.192.136","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-17T12:59:22.793546Z","updated_at":"2022-01-17T13:06:13.295282503Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"1ffd7d25-e5f3-4a2f-bdd6-50bc4fbb428b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
