---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-08T15:58:31.993250Z","dhcp_enabled":true,"id":"8bef4797-142d-4f23-a1dc-057549ee3a5d","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T15:58:31.993250Z","id":"f1bc168a-ad86-4afe-a3dd-29990e98aef0","subnet":"172.16.16.0/22","updated_at":"2023-12-08T15:58:31.993250Z"},{"created_at":"2023-12-08T15:58:31.993250Z","id":"2e4f539a-f7a8-451d-9442-5cf94ab2d6cb","subnet":"fd63:256c:45f7:b6f6::/64","updated_at":"2023-12-08T15:58:31.993250Z"}],"tags":[],"updated_at":"2023-12-08T15:58:31.993250Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8bef4797-142d-4f23-a1dc-057549ee3a5d
    method: GET
  response:
    body: '{"created_at":"2023-12-08T15:58:31.993250Z","dhcp_enabled":true,"id":"8bef4797-142d-4f23-a1dc-057549ee3a5d","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T15:58:31.993250Z","id":"f1bc168a-ad86-4afe-a3dd-29990e98aef0","subnet":"172.16.16.0/22","updated_at":"2023-12-08T15:58:31.993250Z"},{"created_at":"2023-12-08T15:58:31.993250Z","id":"2e4f539a-f7a8-451d-9442-5cf94ab2d6cb","subnet":"fd63:256c:45f7:b6f6::/64","updated_at":"2023-12-08T15:58:31.993250Z"}],"tags":[],"updated_at":"2023-12-08T15:58:31.993250Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"8bef4797-142d-4f23-a1dc-057549ee3a5d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://da695ae6-a200-447a-9cd8-424f2403dbdb.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-08T15:58:33.085870300Z","created_at":"2023-12-08T15:58:33.085870300Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.da695ae6-a200-447a-9cd8-424f2403dbdb.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"da695ae6-a200-447a-9cd8-424f2403dbdb","ingress":"none","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"8bef4797-142d-4f23-a1dc-057549ee3a5d","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-12-08T15:58:33.111396284Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da695ae6-a200-447a-9cd8-424f2403dbdb
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da695ae6-a200-447a-9cd8-424f2403dbdb/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYZE9la1V4VGxSbmVrNUdiMWhFVkUxNlRWUkpkMDU2UlRGT1ZHZDZUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da695ae6-a200-447a-9cd8-424f2403dbdb/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"da695ae6-a200-447a-9cd8-424f2403dbdb","container_runtime":"containerd","created_at":"2023-12-08T15:58:38.637648Z","id":"1e57d71f-ace5-442e-899b-3b00963de302","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-12-08T15:58:38.644932952Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1e57d71f-ace5-442e-899b-3b00963de302
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"da695ae6-a200-447a-9cd8-424f2403dbdb","container_runtime":"containerd","created_at":"2023-12-08T15:58:38.637648Z","id":"1e57d71f-ace5-442e-899b-3b00963de302","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-12-08T15:58:38.644933Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da695ae6-a200-447a-9cd8-424f2403dbdb/nodes?order_by=created_at_asc&page=1&pool_id=1e57d71f-ace5-442e-899b-3b00963de302&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"da695ae6-a200-447a-9cd8-424f2403dbdb","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:01:44.107090Z","error_message":null,"id":"9794f8ca-5b5e-40b5-868d-5005cc8f9151","name":"scw-test-pool-minimal-test-pool-minimal-9794f8","pool_id":"1e57d71f-ace5-442e-899b-3b00963de302","provider_id":"scaleway://instance/fr-par-1/0f5f50f5-ab54-478d-b789-ccaa1f5be1db","public_ip_v4":"51.15.230.101","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:03:48.790734Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da695ae6-a200-447a-9cd8-424f2403dbdb/nodes?order_by=created_at_asc&pool_id=1e57d71f-ace5-442e-899b-3b00963de302&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"da695ae6-a200-447a-9cd8-424f2403dbdb","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:01:44.107090Z","error_message":null,"id":"9794f8ca-5b5e-40b5-868d-5005cc8f9151","name":"scw-test-pool-minimal-test-pool-minimal-9794f8","pool_id":"1e57d71f-ace5-442e-899b-3b00963de302","provider_id":"scaleway://instance/fr-par-1/0f5f50f5-ab54-478d-b789-ccaa1f5be1db","public_ip_v4":"51.15.230.101","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:03:48.790734Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/0f5f50f5-ab54-478d-b789-ccaa1f5be1db
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-12-08T16:01:44.682570+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-9794f8","id":"0f5f50f5-ab54-478d-b789-ccaa1f5be1db","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:648:203::1","gateway":"2001:bc8:648:203::","netmask":"64"},"location":{"cluster_id":"44","hypervisor_id":"103","node_id":"4","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:31:84:bf","maintenances":[],"modification_date":"2023-12-08T16:02:01.882391+00:00","name":"scw-test-pool-minimal-test-pool-minimal-9794f8","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.66.24.135","private_nics":[{"creation_date":"2023-12-08T16:01:45.248008+00:00","id":"5f87e53b-3611-4424-a199-6b9ba8086391","mac_address":"02:00:00:15:4e:bb","modification_date":"2023-12-08T16:01:46.191727+00:00","private_network_id":"8bef4797-142d-4f23-a1dc-057549ee3a5d","server_id":"0f5f50f5-ab54-478d-b789-ccaa1f5be1db","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.230.101","dynamic":true,"family":"inet","gateway":null,"id":"457a53e4-b04b-4487-a43a-6aedb768c100","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.230.101","dynamic":true,"family":"inet","gateway":null,"id":"457a53e4-b04b-4487-a43a-6aedb768c100","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"1d213504-3ba8-468c-85a2-f1c7d8c1e605","name":"kubernetes
      da695ae6-a200-447a-9cd8-424f2403dbdb"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=da695ae6-a200-447a-9cd8-424f2403dbdb","pool=1e57d71f-ace5-442e-899b-3b00963de302","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=9794f8ca-5b5e-40b5-868d-5005cc8f9151"],"volumes":{"0":{"boot":false,"creation_date":"2023-12-08T16:01:44.682570+00:00","export_uri":null,"id":"c1cb5b19-0e63-4a49-9971-f205823691c9","modification_date":"2023-12-08T16:01:44.682570+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"0f5f50f5-ab54-478d-b789-ccaa1f5be1db","name":"scw-test-pool-minimal-test-pool-minimal-9794f8"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da695ae6-a200-447a-9cd8-424f2403dbdb/nodes?order_by=created_at_asc&pool_id=1e57d71f-ace5-442e-899b-3b00963de302&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"da695ae6-a200-447a-9cd8-424f2403dbdb","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:01:44.107090Z","error_message":null,"id":"9794f8ca-5b5e-40b5-868d-5005cc8f9151","name":"scw-test-pool-minimal-test-pool-minimal-9794f8","pool_id":"1e57d71f-ace5-442e-899b-3b00963de302","provider_id":"scaleway://instance/fr-par-1/0f5f50f5-ab54-478d-b789-ccaa1f5be1db","public_ip_v4":"51.15.230.101","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:05:57.193711Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/524396f8-90bf-4fb9-addc-0738adf843af
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"524396f8-90bf-4fb9-addc-0738adf843af","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/da695ae6-a200-447a-9cd8-424f2403dbdb?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
