---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T16:05:40.803436Z","dhcp_enabled":true,"id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T16:05:40.803436Z","id":"593394e2-e265-4d2d-8acd-a46de571baa7","subnet":"172.16.20.0/22","updated_at":"2023-11-07T16:05:40.803436Z"},{"created_at":"2023-11-07T16:05:40.803436Z","id":"f1c14d0f-4e1b-4c61-ac26-67402c6a15ed","subnet":"fd5f:519c:6d46:63f8::/64","updated_at":"2023-11-07T16:05:40.803436Z"}],"tags":[],"updated_at":"2023-11-07T16:05:40.803436Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3161b3a1-c691-4566-aeb8-03eb610ff2ee
    method: GET
  response:
    body: '{"created_at":"2023-11-07T16:05:40.803436Z","dhcp_enabled":true,"id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee","name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T16:05:40.803436Z","id":"593394e2-e265-4d2d-8acd-a46de571baa7","subnet":"172.16.20.0/22","updated_at":"2023-11-07T16:05:40.803436Z"},{"created_at":"2023-11-07T16:05:40.803436Z","id":"f1c14d0f-4e1b-4c61-ac26-67402c6a15ed","subnet":"fd5f:519c:6d46:63f8::/64","updated_at":"2023-11-07T16:05:40.803436Z"}],"tags":[],"updated_at":"2023-11-07T16:05:40.803436Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://39d9f145-02ea-4e4e-a5da-f146630c632b.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-07T16:05:42.404253477Z","created_at":"2023-11-07T16:05:42.404253477Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.39d9f145-02ea-4e4e-a5da-f146630c632b.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"39d9f145-02ea-4e4e-a5da-f146630c632b","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-11-07T16:05:42.416427990Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/39d9f145-02ea-4e4e-a5da-f146630c632b
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/39d9f145-02ea-4e4e-a5da-f146630c632b/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGRPYWtVeVRVUlZNRTB4YjFoRVZFMTZUVlJGZDA1cVJUSk5SRlV3VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/39d9f145-02ea-4e4e-a5da-f146630c632b/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"39d9f145-02ea-4e4e-a5da-f146630c632b","container_runtime":"containerd","created_at":"2023-11-07T16:05:47.912242Z","id":"308c7294-01ad-4afe-9a9c-1feac3e1a142","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T16:05:47.919131802Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/308c7294-01ad-4afe-9a9c-1feac3e1a142
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"39d9f145-02ea-4e4e-a5da-f146630c632b","container_runtime":"containerd","created_at":"2023-11-07T16:05:47.912242Z","id":"308c7294-01ad-4afe-9a9c-1feac3e1a142","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T16:05:47.919132Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/39d9f145-02ea-4e4e-a5da-f146630c632b/nodes?order_by=created_at_asc&page=1&pool_id=308c7294-01ad-4afe-9a9c-1feac3e1a142&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"39d9f145-02ea-4e4e-a5da-f146630c632b","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T16:08:28.132162Z","error_message":null,"id":"06c62993-3874-4d90-99f2-3aac9161cce9","name":"scw-test-k8s-public-i-test-k8s-public-i-06c629","pool_id":"308c7294-01ad-4afe-9a9c-1feac3e1a142","provider_id":"scaleway://instance/fr-par-1/be05aa69-3d5f-45ec-8ea4-cd0d3d455712","public_ip_v4":"51.15.215.100","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T16:11:40.519424Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/39d9f145-02ea-4e4e-a5da-f146630c632b/nodes?order_by=created_at_asc&pool_id=308c7294-01ad-4afe-9a9c-1feac3e1a142&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"39d9f145-02ea-4e4e-a5da-f146630c632b","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T16:08:28.132162Z","error_message":null,"id":"06c62993-3874-4d90-99f2-3aac9161cce9","name":"scw-test-k8s-public-i-test-k8s-public-i-06c629","pool_id":"308c7294-01ad-4afe-9a9c-1feac3e1a142","provider_id":"scaleway://instance/fr-par-1/be05aa69-3d5f-45ec-8ea4-cd0d3d455712","public_ip_v4":"51.15.215.100","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T16:11:40.519424Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/be05aa69-3d5f-45ec-8ea4-cd0d3d455712
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-11-07T16:08:28.600272+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-06c629","id":"be05aa69-3d5f-45ec-8ea4-cd0d3d455712","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:2a07::1","gateway":"2001:bc8:610:2a07::","netmask":"64"},"location":{"cluster_id":"47","hypervisor_id":"102","node_id":"8","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:2c:5e:fb","maintenances":[],"modification_date":"2023-11-07T16:08:45.102071+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-06c629","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.194.65.79","private_nics":[{"creation_date":"2023-11-07T16:08:29.262776+00:00","id":"e2d355bb-c296-4b6d-9d43-cda00caf50e9","mac_address":"02:00:00:14:a4:11","modification_date":"2023-11-07T16:08:30.156714+00:00","private_network_id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee","server_id":"be05aa69-3d5f-45ec-8ea4-cd0d3d455712","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.215.100","dynamic":true,"family":"inet","gateway":null,"id":"4c16f5eb-f338-4fae-8f22-8b0d12d83ec7","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.215.100","dynamic":true,"family":"inet","gateway":null,"id":"4c16f5eb-f338-4fae-8f22-8b0d12d83ec7","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"8ee2862c-bbf8-44af-82cf-9ec4d2265dd9","name":"kubernetes
      39d9f145-02ea-4e4e-a5da-f146630c632b"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=39d9f145-02ea-4e4e-a5da-f146630c632b","pool=308c7294-01ad-4afe-9a9c-1feac3e1a142","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=06c62993-3874-4d90-99f2-3aac9161cce9"],"volumes":{"0":{"boot":false,"creation_date":"2023-11-07T16:08:28.600272+00:00","export_uri":null,"id":"c97beb96-de3c-4387-bcb0-fec23e8602a5","modification_date":"2023-11-07T16:08:28.600272+00:00","name":"k8s_base_node_2023-10-11.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"be05aa69-3d5f-45ec-8ea4-cd0d3d455712","name":"scw-test-k8s-public-i-test-k8s-public-i-06c629"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/308c7294-01ad-4afe-9a9c-1feac3e1a142
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"308c7294-01ad-4afe-9a9c-1feac3e1a142","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-11-07T16:13:48.995723Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a11d235-abb0-476b-aefe-580f5054044b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-07T16:13:48.995723Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/9a11d235-abb0-476b-aefe-580f5054044b
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-11-07T16:13:48.995723Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a11d235-abb0-476b-aefe-580f5054044b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-07T16:13:48.995723Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-07T16:13:49.690251Z","gateway_networks":[],"id":"aae8906e-ef80-44d9-881a-fc6453a63e25","ip":{"address":"51.158.108.188","created_at":"2023-11-07T16:13:49.665524Z","gateway_id":"aae8906e-ef80-44d9-881a-fc6453a63e25","id":"74bd6792-68ba-4991-b037-c7d9ff512e99","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"188-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-07T16:13:49.665524Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-07T16:13:49.690251Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/aae8906e-ef80-44d9-881a-fc6453a63e25
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-07T16:13:49.690251Z","gateway_networks":[],"id":"aae8906e-ef80-44d9-881a-fc6453a63e25","ip":{"address":"51.158.108.188","created_at":"2023-11-07T16:13:49.665524Z","gateway_id":"aae8906e-ef80-44d9-881a-fc6453a63e25","id":"74bd6792-68ba-4991-b037-c7d9ff512e99","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"188-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-07T16:13:49.665524Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-07T16:13:49.753152Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"aae8906e-ef80-44d9-881a-fc6453a63e25","private_network_id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"9a11d235-abb0-476b-aefe-580f5054044b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-07T16:13:55.899920Z","dhcp":{"address":"192.168.0.1","created_at":"2023-11-07T16:13:48.995723Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a11d235-abb0-476b-aefe-580f5054044b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-07T16:13:48.995723Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"aae8906e-ef80-44d9-881a-fc6453a63e25","id":"cb4961bb-038a-4b42-842b-4cf377d6b06f","ipam_config":null,"mac_address":null,"private_network_id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee","status":"created","updated_at":"2023-11-07T16:13:55.899920Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cb4961bb-038a-4b42-842b-4cf377d6b06f
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-07T16:13:55.899920Z","dhcp":{"address":"192.168.0.1","created_at":"2023-11-07T16:13:48.995723Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a11d235-abb0-476b-aefe-580f5054044b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-07T16:13:48.995723Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"aae8906e-ef80-44d9-881a-fc6453a63e25","id":"cb4961bb-038a-4b42-842b-4cf377d6b06f","ipam_config":null,"mac_address":"02:00:00:14:A4:17","private_network_id":"3161b3a1-c691-4566-aeb8-03eb610ff2ee","status":"ready","updated_at":"2023-11-07T16:14:00.919968Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/39d9f145-02ea-4e4e-a5da-f146630c632b?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cb4961bb-038a-4b42-842b-4cf377d6b06f?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/aae8906e-ef80-44d9-881a-fc6453a63e25?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
