---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"b888f7b0-81ec-4bba-86a3-f419e767db7f","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b888f7b0-81ec-4bba-86a3-f419e767db7f
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4c4a5fcb-a071-4477-b01e-29dc93d819a9.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-05-26T13:19:54.338398812Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.4c4a5fcb-a071-4477-b01e-29dc93d819a9.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"4c4a5fcb-a071-4477-b01e-29dc93d819a9","ingress":"none","name":"placement_group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-05-26T13:19:54.348032699Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/b888f7b0-81ec-4bba-86a3-f419e767db7f
    method: GET
  response:
    body: '{"placement_group":{"id":"b888f7b0-81ec-4bba-86a3-f419e767db7f","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c4a5fcb-a071-4477-b01e-29dc93d819a9
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c4a5fcb-a071-4477-b01e-29dc93d819a9/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVWWGxPVkVWNlRWUnJNVTVzYjFoRVZFMTZUVVJWZVU1VVJYcE5WR3N4VG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"b888f7b0-81ec-4bba-86a3-f419e767db7f","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c4a5fcb-a071-4477-b01e-29dc93d819a9/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"4c4a5fcb-a071-4477-b01e-29dc93d819a9","container_runtime":"containerd","created_at":"2023-05-26T13:20:00.290499Z","id":"95cb0abe-d2bc-4af5-8e2e-2baaad42c95e","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"b888f7b0-81ec-4bba-86a3-f419e767db7f","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-05-26T13:20:00.386766221Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/95cb0abe-d2bc-4af5-8e2e-2baaad42c95e
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"4c4a5fcb-a071-4477-b01e-29dc93d819a9","container_runtime":"containerd","created_at":"2023-05-26T13:20:00.290499Z","id":"95cb0abe-d2bc-4af5-8e2e-2baaad42c95e","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"b888f7b0-81ec-4bba-86a3-f419e767db7f","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-05-26T13:20:00.386766Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c4a5fcb-a071-4477-b01e-29dc93d819a9/nodes?order_by=created_at_asc&page=1&pool_id=95cb0abe-d2bc-4af5-8e2e-2baaad42c95e&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"4c4a5fcb-a071-4477-b01e-29dc93d819a9","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-05-26T13:22:01.143421Z","error_message":null,"id":"973ffaa6-c559-4452-b4e5-8073847a5717","name":"scw-placement-group-placement-group-973ffaa6c5","pool_id":"95cb0abe-d2bc-4af5-8e2e-2baaad42c95e","provider_id":"scaleway://instance/fr-par-1/d5643aef-4beb-46fa-bbf3-ae2a368c44bd","public_ip_v4":"163.172.176.167","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-05-26T13:24:16.231551Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c4a5fcb-a071-4477-b01e-29dc93d819a9?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/79db3614-bd77-4138-a731-1f59347512cc
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"f305a9a9-b034-4090-b34c-a2967c2cd83f","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f305a9a9-b034-4090-b34c-a2967c2cd83f
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f305a9a9-b034-4090-b34c-a2967c2cd83f
    method: GET
  response:
    body: '{"placement_group":{"id":"f305a9a9-b034-4090-b34c-a2967c2cd83f","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/79db3614-bd77-4138-a731-1f59347512cc/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWF[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"f305a9a9-b034-4090-b34c-a2967c2cd83f","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/79db3614-bd77-4138-a731-1f59347512cc/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"79db3614-bd77-4138-a731-1f59347512cc","container_runtime":"containerd","created_at":"2023-05-26T13:24:25.554681Z","id":"2a4f041d-b3e0-44ad-83a0-2879f23a3afe","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"f305a9a9-b034-4090-b34c-a2967c2cd83f","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-05-26T13:24:25.562065316Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/2a4f041d-b3e0-44ad-83a0-2879f23a3afe
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"79db3614-bd77-4138-a731-1f59347512cc","container_runtime":"containerd","created_at":"2023-05-26T13:24:25.554681Z","id":"2a4f041d-b3e0-44ad-83a0-2879f23a3afe","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"f305a9a9-b034-4090-b34c-a2967c2cd83f","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-05-26T13:24:25.562065Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4c4a5fcb-a071-4477-b01e-29dc93d819a9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"4c4a5fcb-a071-4477-b01e-29dc93d819a9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/79db3614-bd77-4138-a731-1f59347512cc/nodes?order_by=created_at_asc&page=1&pool_id=2a4f041d-b3e0-44ad-83a0-2879f23a3afe&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"79db3614-bd77-4138-a731-1f59347512cc","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-05-26T13:26:00.551430Z","error_message":null,"id":"b6a3fc9f-1e99-4ab8-b881-d5e66652e13f","name":"scw-placement-group-placement-group-b6a3fc9f1e","pool_id":"2a4f041d-b3e0-44ad-83a0-2879f23a3afe","provider_id":"scaleway://instance/nl-ams-2/9ae44acf-ba30-4283-b988-f651d6958a00","public_ip_v4":"51.158.244.240","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-05-26T13:28:11.884841Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/79db3614-bd77-4138-a731-1f59347512cc?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
