---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:11:56.487036Z","dhcp_enabled":true,"id":"f4b7cf0e-cc18-43af-9741-f2eb5decbdaa","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:11:56.487036Z","id":"96818670-f830-4cd9-8ef0-f8b09648d143","subnet":"172.16.76.0/22","updated_at":"2024-02-28T14:11:56.487036Z"},{"created_at":"2024-02-28T14:11:56.487036Z","id":"6939cef2-0520-4e1f-b650-b605e5591a96","subnet":"fd5f:519c:6d46:fa5::/64","updated_at":"2024-02-28T14:11:56.487036Z"}],"tags":[],"updated_at":"2024-02-28T14:11:56.487036Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f4b7cf0e-cc18-43af-9741-f2eb5decbdaa
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:11:56.487036Z","dhcp_enabled":true,"id":"f4b7cf0e-cc18-43af-9741-f2eb5decbdaa","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:11:56.487036Z","id":"96818670-f830-4cd9-8ef0-f8b09648d143","subnet":"172.16.76.0/22","updated_at":"2024-02-28T14:11:56.487036Z"},{"created_at":"2024-02-28T14:11:56.487036Z","id":"6939cef2-0520-4e1f-b650-b605e5591a96","subnet":"fd5f:519c:6d46:fa5::/64","updated_at":"2024-02-28T14:11:56.487036Z"}],"tags":[],"updated_at":"2024-02-28T14:11:56.487036Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"f4b7cf0e-cc18-43af-9741-f2eb5decbdaa"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://6e60d77d-931b-4a0c-a1ee-e4a8179aabef.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-02-28T14:11:57.943489017Z","created_at":"2024-02-28T14:11:57.943489017Z","description":"","dns_wildcard":"*.6e60d77d-931b-4a0c-a1ee-e4a8179aabef.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"6e60d77d-931b-4a0c-a1ee-e4a8179aabef","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"f4b7cf0e-cc18-43af-9741-f2eb5decbdaa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-02-28T14:11:57.959939446Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e60d77d-931b-4a0c-a1ee-e4a8179aabef
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e60d77d-931b-4a0c-a1ee-e4a8179aabef/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e60d77d-931b-4a0c-a1ee-e4a8179aabef/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVNYbE9la1V3VFZSRk1VOVdiMWhFVkUwd1RVUkplVTU2UlRCTlZFVXhUMVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e60d77d-931b-4a0c-a1ee-e4a8179aabef/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"6e60d77d-931b-4a0c-a1ee-e4a8179aabef","container_runtime":"containerd","created_at":"2024-02-28T14:12:03.444649Z","id":"e2584140-c230-4547-8c37-0e45f617e66d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:12:03.453867527Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/e2584140-c230-4547-8c37-0e45f617e66d
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"6e60d77d-931b-4a0c-a1ee-e4a8179aabef","container_runtime":"containerd","created_at":"2024-02-28T14:12:03.444649Z","id":"e2584140-c230-4547-8c37-0e45f617e66d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-28T14:12:03.453868Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e60d77d-931b-4a0c-a1ee-e4a8179aabef/nodes?order_by=created_at_asc&page=1&pool_id=e2584140-c230-4547-8c37-0e45f617e66d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6e60d77d-931b-4a0c-a1ee-e4a8179aabef","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:15:07.609989Z","error_message":null,"id":"aea2359b-c7e0-4b20-895d-94e768e6a2c4","name":"scw-test-pool-wait-test-pool-wait-aea2359bc7e0","pool_id":"e2584140-c230-4547-8c37-0e45f617e66d","provider_id":"scaleway://instance/fr-par-1/5aa3f7ea-1403-495c-b3d5-1b3eab7fe973","public_ip_v4":"163.172.164.115","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:17:19.332108Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e60d77d-931b-4a0c-a1ee-e4a8179aabef/nodes?order_by=created_at_asc&page=1&pool_id=e2584140-c230-4547-8c37-0e45f617e66d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6e60d77d-931b-4a0c-a1ee-e4a8179aabef","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:15:07.609989Z","error_message":null,"id":"aea2359b-c7e0-4b20-895d-94e768e6a2c4","name":"scw-test-pool-wait-test-pool-wait-aea2359bc7e0","pool_id":"e2584140-c230-4547-8c37-0e45f617e66d","provider_id":"scaleway://instance/fr-par-1/5aa3f7ea-1403-495c-b3d5-1b3eab7fe973","public_ip_v4":"163.172.164.115","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:19:32.775875Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bbe9f337-102e-4e66-8359-b9db397160fb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"bbe9f337-102e-4e66-8359-b9db397160fb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6e60d77d-931b-4a0c-a1ee-e4a8179aabef?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
