---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.19.4","label":"Kubernetes 1.19.4","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","MutatingAdmissionWebhook","PodNodeSelector","AlwaysPullImages","PodPreset"]},{"region":"fr-par","name":"1.18.12","label":"Kubernetes
      1.18.12","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","Ephemera[...]
[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"default-pool","description":"","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"version":"1.18.12","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":{"enable":false,"maintenance_window":{"start_hour":0,"day":"any"}},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"ab67c3b6-4de5-4b11-8226-f805a041fba3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:19:53.288040439Z","updated_at":"2020-11-16T15:19:53.814313860Z","name":"default-pool","description":"","status":"creating","version":"1.18.12","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"cluster_url":"https://ab67c3b6-4de5-4b11-8226-f805a041fba3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.ab67c3b6-4de5-4b11-8226-f805a041fba3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab67c3b6-4de5-4b11-8226-f805a041fba3
    method: GET
  response:
    body: '{"region":"fr-par","id":"ab67c3b6-4de5-4b11-8226-f805a041fba3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:19:53.288040Z","updated_at":"2020-11-16T15:19:53.814314Z","name":"default-pool","description":"","status":"cr[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab67c3b6-4de5-4b11-8226-f805a041fba3/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogZGVmYXVsdHBvb2wKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU41UkVORFFXSkRaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmQwMVVSWGhPVkVVeFRWUnJNVTVHYjFoRVZFMTNUVlJGZUU1VVJURk5WR3N4VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkRRVkZ2UTJ[...]
[...]
- request:
    body: '{"version":"1.19.4","upgrade_pools":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab67c3b6-4de5-4b11-8226-f805a041fba3/upgrade
    method: POST
  response:
    body: '{"region":"fr-par","id":"ab67c3b6-4de5-4b11-8226-f805a041fba3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:19:53.288040Z","updated_at":"2020-11-16T15:20:18.988223769Z","name":"def[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab67c3b6-4de5-4b11-8226-f805a041fba3?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"ab67c3b6-4de5-4b11-8226-f805a041fba3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:19:53.288040Z","updated_at":"2020-11-16T15:20:51.499520408Z","name":"defau[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ab67c3b6-4de5-4b11-8226-f805a041fba3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"ab67c3b6-4de5-4b11-8226-f805a041fba3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
