---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.24.5","label":"Kubernetes 1.24.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none"],"available_container_runtimes":["containerd","crio"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"}},{"region":"fr-par","name":"1.23.11","label":"Kubernetes
      1.23.11","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "7b4a1e4f-f23e-46c3-bea0-ad0df2b2dbd9", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/7b4a1e4f-f23e-46c3-bea0-ad0df2b2dbd9
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/7b4a1e4f-f23e-46c3-bea0-ad0df2b2dbd9
    method: GET
  response:
    body: '{"placement_group": {"id": "7b4a1e4f-f23e-46c3-bea0-ad0df2b2dbd9", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"b81e0db0-e558-4070-87a3-ea89a01004fd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-05T14:11:01.542945386Z","updated_at":"2022-10-05T14:11:01.655123880Z","type":"kapsule","name":"placement_group","description":"","status":"creating","version":"1.24.5","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"cluster_url":"https://b81e0db0-e558-4070-87a3-ea89a01004fd.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b81e0db0-e558-4070-87a3-ea89a01004fd.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b81e0db0-e558-4070-87a3-ea89a01004fd
    method: GET
  response:
    body: '{"region":"fr-par","id":"b81e0db0-e558-4070-87a3-ea89a01004fd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-05T14:11:01.542945Z","updated_at":"2022-10-05T14:11:01.655124Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b81e0db0-e558-4070-87a3-ea89a01004fd/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVVMVVRWGRPUkVVd1RWUkZkMDVHYjFoRVZFMTVUVlJCZDA1RVJUQk5WRVYzVGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"7b4a1e4f-f23e-46c3-bea0-ad0df2b2dbd9","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b81e0db0-e558-4070-87a3-ea89a01004fd/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"243dc0eb-f858-4f2a-8f90-7b9f310bd2be","cluster_id":"b81e0db0-e558-4070-87a3-ea89a01004fd","created_at":"2022-10-05T14:11:12.159242Z","updated_at":"2022-10-05T14:11:12.247295452Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"7b4a1e4f-f23e-46c3-bea0-ad0df2b2dbd9","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/243dc0eb-f858-4f2a-8f90-7b9f310bd2be
    method: GET
  response:
    body: '{"region":"fr-par","id":"243dc0eb-f858-4f2a-8f90-7b9f310bd2be","cluster_id":"b81e0db0-e558-4070-87a3-ea89a01004fd","created_at":"2022-10-05T14:11:12.159242Z","updated_at":"2022-10-05T14:11:12.247295Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"7b4a1e4f-f23e-46c3-bea0-ad0df2b2dbd9","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b81e0db0-e558-4070-87a3-ea89a01004fd/nodes?order_by=created_at_asc&page=1&pool_id=243dc0eb-f858-4f2a-8f90-7b9f310bd2be&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"ba794f74-7c76-4f2e-bbd9-a48b64a1218c","cluster_id":"b81e0db0-e558-4070-87a3-ea89a01004fd","created_at":"2022-10-05T14:12:40.487380Z","updated_at":"2022-10-05T14:15:36.685260Z","pool_id":"243dc0eb-f858-4f2a-8f90-7b9f310bd2be","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-ba794f747c","public_ip_v4":"51.15.209.95","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/683ba4ac-4f44-4880-8261-aee416acdc3b","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/40060b43-9892-4eb5-9b2a-27f32851efc1
    method: GET
  response:
    body: '{"region":"nl-ams","id":"40060b43-9892-4eb5-9b2a-27f32851efc1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-05T14:16:11.596592Z","updated_at":"2022-10-05T14:16:11.609451Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "b9b5f486-1cbe-4c8c-850f-be5236cbf534", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b9b5f486-1cbe-4c8c-850f-be5236cbf534
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b9b5f486-1cbe-4c8c-850f-be5236cbf534
    method: GET
  response:
    body: '{"placement_group": {"id": "b9b5f486-1cbe-4c8c-850f-be5236cbf534", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b81e0db0-e558-4070-87a3-ea89a01004fd?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"b81e0db0-e558-4070-87a3-ea89a01004fd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-05T14:11:01.542945Z","updated_at":"2022-10-05T14:16:12.543813719Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/40060b43-9892-4eb5-9b2a-27f32851efc1/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEz[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"b9b5f486-1cbe-4c8c-850f-be5236cbf534","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/40060b43-9892-4eb5-9b2a-27f32851efc1/pools
    method: POST
  response:
    body: '{"region":"nl-ams","id":"9b3b86b2-d0aa-44a2-a1b7-e4db00cb04db","cluster_id":"40060b43-9892-4eb5-9b2a-27f32851efc1","created_at":"2022-10-05T14:16:17.254879Z","updated_at":"2022-10-05T14:16:17.269954119Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"b9b5f486-1cbe-4c8c-850f-be5236cbf534","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"nl-ams-2","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/9b3b86b2-d0aa-44a2-a1b7-e4db00cb04db
    method: GET
  response:
    body: '{"region":"nl-ams","id":"9b3b86b2-d0aa-44a2-a1b7-e4db00cb04db","cluster_id":"40060b43-9892-4eb5-9b2a-27f32851efc1","created_at":"2022-10-05T14:16:17.254879Z","updated_at":"2022-10-05T14:16:17.269954Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"b9b5f486-1cbe-4c8c-850f-be5236cbf534","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"nl-ams-2","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b81e0db0-e558-4070-87a3-ea89a01004fd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b81e0db0-e558-4070-87a3-ea89a01004fd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/40060b43-9892-4eb5-9b2a-27f32851efc1/nodes?order_by=created_at_asc&page=1&pool_id=9b3b86b2-d0aa-44a2-a1b7-e4db00cb04db&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"nl-ams","id":"94520273-1603-4d06-91f6-fca3539cb4ef","cluster_id":"40060b43-9892-4eb5-9b2a-27f32851efc1","created_at":"2022-10-05T14:17:21.498913Z","updated_at":"2022-10-05T14:20:50.094999Z","pool_id":"9b3b86b2-d0aa-44a2-a1b7-e4db00cb04db","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-9452027316","public_ip_v4":"51.158.230.128","public_ip_v6":null,"provider_id":"scaleway://instance/nl-ams-2/0e88b393-acf5-4d6e-9a3d-32c30a7159ca","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/40060b43-9892-4eb5-9b2a-27f32851efc1?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"nl-ams","id":"40060b43-9892-4eb5-9b2a-27f32851efc1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-05T14:16:11.596592Z","updated_at":"2022-10-05T14:20:54.930316979Z","type":"kapsu[...]
[...]
