---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.24.5","label":"Kubernetes 1.24.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none"],"available_container_runtimes":["containerd","crio"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"}},{"region":"fr-par","name":"1.23.11","label":"Kubernetes
      1.23.11","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "d4a0a7ea-f729-4b79-beb0-132a60d7fa12", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d4a0a7ea-f729-4b79-beb0-132a60d7fa12
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d4a0a7ea-f729-4b79-beb0-132a60d7fa12
    method: GET
  response:
    body: '{"placement_group": {"id": "d4a0a7ea-f729-4b79-beb0-132a60d7fa12", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"f7ecb7e5-6346-474d-80ab-e1eccae0872b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T10:02:30.086256039Z","updated_at":"2022-10-06T10:02:30.204220083Z","type":"kapsule","name":"placement_group","description":"","status":"creating","version":"1.24.5","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"cluster_url":"https://f7ecb7e5-6346-474d-80ab-e1eccae0872b.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.f7ecb7e5-6346-474d-80ab-e1eccae0872b.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f7ecb7e5-6346-474d-80ab-e1eccae0872b
    method: GET
  response:
    body: '{"region":"fr-par","id":"f7ecb7e5-6346-474d-80ab-e1eccae0872b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T10:02:30.086256Z","updated_at":"2022-10-06T10:02:30.204220Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f7ecb7e5-6346-474d-80ab-e1eccae0872b/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVVMVVRWGRPVkVWM1RVUkplazFzYjFoRVZFMTVUVlJCZDA1VVJYZE5SRWw2VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"d4a0a7ea-f729-4b79-beb0-132a60d7fa12","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f7ecb7e5-6346-474d-80ab-e1eccae0872b/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"31eb092d-6de6-4ce4-b05c-3ad951584588","cluster_id":"f7ecb7e5-6346-474d-80ab-e1eccae0872b","created_at":"2022-10-06T10:02:43.366563Z","updated_at":"2022-10-06T10:02:43.445963912Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"d4a0a7ea-f729-4b79-beb0-132a60d7fa12","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/31eb092d-6de6-4ce4-b05c-3ad951584588
    method: GET
  response:
    body: '{"region":"fr-par","id":"31eb092d-6de6-4ce4-b05c-3ad951584588","cluster_id":"f7ecb7e5-6346-474d-80ab-e1eccae0872b","created_at":"2022-10-06T10:02:43.366563Z","updated_at":"2022-10-06T10:02:43.445964Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"d4a0a7ea-f729-4b79-beb0-132a60d7fa12","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f7ecb7e5-6346-474d-80ab-e1eccae0872b/nodes?order_by=created_at_asc&page=1&pool_id=31eb092d-6de6-4ce4-b05c-3ad951584588&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"2f4c9ed7-b848-4588-9797-e0e058e02cc1","cluster_id":"f7ecb7e5-6346-474d-80ab-e1eccae0872b","created_at":"2022-10-06T10:04:15.365857Z","updated_at":"2022-10-06T10:07:37.093227Z","pool_id":"31eb092d-6de6-4ce4-b05c-3ad951584588","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-2f4c9ed7b8","public_ip_v4":"212.47.247.29","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/a6d88e02-28c4-4882-bb08-54cb34bea8b5","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf
    method: GET
  response:
    body: '{"region":"nl-ams","id":"61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T10:07:53.690753Z","updated_at":"2022-10-06T10:07:53.697211Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "f71c58de-0f59-470b-b888-cb88f540cab8", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f71c58de-0f59-470b-b888-cb88f540cab8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f71c58de-0f59-470b-b888-cb88f540cab8
    method: GET
  response:
    body: '{"placement_group": {"id": "f71c58de-0f59-470b-b888-cb88f540cab8", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f7ecb7e5-6346-474d-80ab-e1eccae0872b?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"f7ecb7e5-6346-474d-80ab-e1eccae0872b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T10:02:30.086256Z","updated_at":"2022-10-06T10:07:54.562882714Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEz[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"f71c58de-0f59-470b-b888-cb88f540cab8","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf/pools
    method: POST
  response:
    body: '{"region":"nl-ams","id":"c500eb42-45be-4e27-9cc7-d0934ae2fbc9","cluster_id":"61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf","created_at":"2022-10-06T10:07:59.389940Z","updated_at":"2022-10-06T10:07:59.399959095Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"f71c58de-0f59-470b-b888-cb88f540cab8","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"nl-ams-2","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/c500eb42-45be-4e27-9cc7-d0934ae2fbc9
    method: GET
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f7ecb7e5-6346-474d-80ab-e1eccae0872b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f7ecb7e5-6346-474d-80ab-e1eccae0872b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf/nodes?order_by=created_at_asc&page=1&pool_id=c500eb42-45be-4e27-9cc7-d0934ae2fbc9&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"nl-ams","id":"7e087627-66d0-4e48-82d5-9057eb00b8b1","cluster_id":"61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf","created_at":"2022-10-06T10:09:42.055332Z","updated_at":"2022-10-06T10:12:49.417288Z","pool_id":"c500eb42-45be-4e27-9cc7-d0934ae2fbc9","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-7e08762766","public_ip_v4":"51.158.234.117","public_ip_v6":null,"provider_id":"scaleway://instance/nl-ams-2/3c152be3-e021-4866-b37e-b75c78750a1b","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"nl-ams","id":"61c7f4eb-1cd4-4de0-b1e3-62d514a1afbf","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-06T10:07:53.690753Z","updated_at":"2022-10-06T10:12:53.897860059Z","type":"kapsu[...]
[...]
