---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-10T13:17:40.815416Z","dhcp_enabled":true,"id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:17:40.815416Z","id":"f9586c0b-fc89-4550-95a4-c3c031f0629b","subnet":"172.16.24.0/22","updated_at":"2023-11-10T13:17:40.815416Z"},{"created_at":"2023-11-10T13:17:40.815416Z","id":"29e602a9-f317-49b4-8ee9-d957558a788d","subnet":"fd63:256c:45f7:d041::/64","updated_at":"2023-11-10T13:17:40.815416Z"}],"tags":[],"updated_at":"2023-11-10T13:17:40.815416Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/5fb3260f-c0f4-4d87-bafa-a4e3dd39d690
    method: GET
  response:
    body: '{"created_at":"2023-11-10T13:17:40.815416Z","dhcp_enabled":true,"id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:17:40.815416Z","id":"f9586c0b-fc89-4550-95a4-c3c031f0629b","subnet":"172.16.24.0/22","updated_at":"2023-11-10T13:17:40.815416Z"},{"created_at":"2023-11-10T13:17:40.815416Z","id":"29e602a9-f317-49b4-8ee9-d957558a788d","subnet":"fd63:256c:45f7:d041::/64","updated_at":"2023-11-10T13:17:40.815416Z"}],"tags":[],"updated_at":"2023-11-10T13:17:40.815416Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7401da5e-0973-4cb6-848b-ffd3d82b7088.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-10T13:17:42.433361150Z","created_at":"2023-11-10T13:17:42.433361150Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.7401da5e-0973-4cb6-848b-ffd3d82b7088.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7401da5e-0973-4cb6-848b-ffd3d82b7088","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-11-10T13:17:42.486698803Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7401da5e-0973-4cb6-848b-ffd3d82b7088
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7401da5e-0973-4cb6-848b-ffd3d82b7088/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGRQVkVWNlRWUmpNRTVHYjFoRVZFMTZUVlJGZDA5VVJYcE5WR013VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7401da5e-0973-4cb6-848b-ffd3d82b7088/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7401da5e-0973-4cb6-848b-ffd3d82b7088","container_runtime":"containerd","created_at":"2023-11-10T13:17:48.438606Z","id":"cde5d791-3c55-43cc-8e1e-6c72b195deef","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-10T13:17:48.512107808Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/cde5d791-3c55-43cc-8e1e-6c72b195deef
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7401da5e-0973-4cb6-848b-ffd3d82b7088","container_runtime":"containerd","created_at":"2023-11-10T13:17:48.438606Z","id":"cde5d791-3c55-43cc-8e1e-6c72b195deef","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-10T13:17:48.512108Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7401da5e-0973-4cb6-848b-ffd3d82b7088/nodes?order_by=created_at_asc&page=1&pool_id=cde5d791-3c55-43cc-8e1e-6c72b195deef&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7401da5e-0973-4cb6-848b-ffd3d82b7088","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:19:30.897296Z","error_message":null,"id":"9a91c1ff-74dc-41eb-8101-da96273fc049","name":"scw-test-k8s-public-i-test-k8s-public-i-9a91c1","pool_id":"cde5d791-3c55-43cc-8e1e-6c72b195deef","provider_id":"scaleway://instance/fr-par-1/650a5f2c-74fd-4ba0-b1c4-e2aafc677de7","public_ip_v4":"163.172.156.119","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:22:33.967615Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7401da5e-0973-4cb6-848b-ffd3d82b7088/nodes?order_by=created_at_asc&pool_id=cde5d791-3c55-43cc-8e1e-6c72b195deef&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7401da5e-0973-4cb6-848b-ffd3d82b7088","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:19:30.897296Z","error_message":null,"id":"9a91c1ff-74dc-41eb-8101-da96273fc049","name":"scw-test-k8s-public-i-test-k8s-public-i-9a91c1","pool_id":"cde5d791-3c55-43cc-8e1e-6c72b195deef","provider_id":"scaleway://instance/fr-par-1/650a5f2c-74fd-4ba0-b1c4-e2aafc677de7","public_ip_v4":"163.172.156.119","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:22:33.967615Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/650a5f2c-74fd-4ba0-b1c4-e2aafc677de7
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-11-10T13:19:31.379643+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-9a91c1","id":"650a5f2c-74fd-4ba0-b1c4-e2aafc677de7","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:660:1000::1","gateway":"2001:bc8:660:1000::","netmask":"64"},"location":{"cluster_id":"90","hypervisor_id":"501","node_id":"1","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:2c:e4:41","maintenances":[],"modification_date":"2023-11-10T13:19:51.232798+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-9a91c1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.66.252.1","private_nics":[{"creation_date":"2023-11-10T13:19:32.369675+00:00","id":"41a374e9-b564-471a-aef6-d6895a8bee4c","mac_address":"02:00:00:14:b3:b7","modification_date":"2023-11-10T13:19:33.548970+00:00","private_network_id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690","server_id":"650a5f2c-74fd-4ba0-b1c4-e2aafc677de7","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.156.119","dynamic":true,"family":"inet","gateway":null,"id":"65b0aefe-db56-4c20-a811-61f69dbb375b","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"163.172.156.119","dynamic":true,"family":"inet","gateway":null,"id":"65b0aefe-db56-4c20-a811-61f69dbb375b","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"08cfdf0c-43d9-4724-aae4-9b83ce62f24f","name":"kubernetes
      7401da5e-0973-4cb6-848b-ffd3d82b7088"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=7401da5e-0973-4cb6-848b-ffd3d82b7088","pool=cde5d791-3c55-43cc-8e1e-6c72b195deef","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=9a91c1ff-74dc-41eb-8101-da96273fc049"],"volumes":{"0":{"boot":false,"creation_date":"2023-11-10T13:19:31.379643+00:00","export_uri":null,"id":"36361446-d28a-4571-9644-764b97088dff","modification_date":"2023-11-10T13:19:31.379643+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"650a5f2c-74fd-4ba0-b1c4-e2aafc677de7","name":"scw-test-k8s-public-i-test-k8s-public-i-9a91c1"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/cde5d791-3c55-43cc-8e1e-6c72b195deef
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"cde5d791-3c55-43cc-8e1e-6c72b195deef","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-11-10T13:23:00.796835Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"08348404-aed3-4b73-9f45-3c428b1836f2","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-10T13:23:00.796835Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/08348404-aed3-4b73-9f45-3c428b1836f2
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-11-10T13:23:00.796835Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"08348404-aed3-4b73-9f45-3c428b1836f2","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-10T13:23:00.796835Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-10T13:23:01.508994Z","gateway_networks":[],"id":"0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb","ip":{"address":"51.15.130.8","created_at":"2023-11-10T13:23:01.485304Z","gateway_id":"0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb","id":"ce58b485-d737-4a49-89b2-a5d3ebecab8d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"8-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-10T13:23:01.485304Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-10T13:23:01.508994Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-10T13:23:01.508994Z","gateway_networks":[],"id":"0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb","ip":{"address":"51.15.130.8","created_at":"2023-11-10T13:23:01.485304Z","gateway_id":"0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb","id":"ce58b485-d737-4a49-89b2-a5d3ebecab8d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"8-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-10T13:23:01.485304Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-10T13:23:01.551192Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb","private_network_id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"08348404-aed3-4b73-9f45-3c428b1836f2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-10T13:23:07.676263Z","dhcp":{"address":"192.168.0.1","created_at":"2023-11-10T13:23:00.796835Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"08348404-aed3-4b73-9f45-3c428b1836f2","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-10T13:23:00.796835Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb","id":"475cf7dd-0d24-4df6-b1b2-ee143a4184da","ipam_config":null,"mac_address":null,"private_network_id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690","status":"created","updated_at":"2023-11-10T13:23:07.676263Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/475cf7dd-0d24-4df6-b1b2-ee143a4184da
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-10T13:23:07.676263Z","dhcp":{"address":"192.168.0.1","created_at":"2023-11-10T13:23:00.796835Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"08348404-aed3-4b73-9f45-3c428b1836f2","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-11-10T13:23:00.796835Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb","id":"475cf7dd-0d24-4df6-b1b2-ee143a4184da","ipam_config":null,"mac_address":"02:00:00:14:B3:C1","private_network_id":"5fb3260f-c0f4-4d87-bafa-a4e3dd39d690","status":"ready","updated_at":"2023-11-10T13:23:17.262590Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7401da5e-0973-4cb6-848b-ffd3d82b7088?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/475cf7dd-0d24-4df6-b1b2-ee143a4184da?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/0f0a2afc-a8e3-47a2-8e8c-5c37d48442cb?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
