---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.19.4","label":"Kubernetes 1.19.4","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","MutatingAdmissionWebhook","PodNodeSelector","AlwaysPullImages","PodPreset"]},{"region":"fr-par","name":"1.18.12","label":"Kubernetes
      1.18.12","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","Ephemera[...]
- request:
    body: '{"name":"pool-placement-group","project":"951df375-e094-4d26-97c1-ba548eeb9c42","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "66717c06-e859-414e-8a52-781ea1996a80", "name":
      "pool-placement-group", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/placement_groups/66717c06-e859-414e-8a52-781ea1996a80
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/66717c06-e859-414e-8a52-781ea1996a80
    method: GET
  response:
    body: '{"placement_group": {"id": "66717c06-e859-414e-8a52-781ea1996a80", "name":
      "pool-placement-group", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.19.4","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"f4d6c3b4-f25f-4074-9be0-f8da14046b1d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:20:16.085737398Z","updated_at":"2020-11-16T15:20:16.656095430Z","name":"placement_group","description":"","status":"creating","version":"1.19.4","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"cluster_url":"https://f4d6c3b4-f25f-4074-9be0-f8da14046b1d.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.f4d6c3b4-f25f-4074-9be0-f8da14046b1d.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f4d6c3b4-f25f-4074-9be0-f8da14046b1d
    method: GET
  response:
    body: '{"region":"fr-par","id":"f4d6c3b4-f25f-4074-9be0-f8da14046b1d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:20:16.085737Z","updated_at":"2020-11-16T15:20:16.656095Z","name":"placement_group","description":"","status":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f4d6c3b4-f25f-4074-9be0-f8da14046b1d/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogcGxhY2VtZW50Z3JvdXAKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU41UkVORFFXSkRaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmQwMVVSWGhPVkVVeFRXcEJlRTR4YjFoRVZFMTNUVlJGZUU1VVJURk5ha0Y0VGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkRRVkZ[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"66717c06-e859-414e-8a52-781ea1996a80","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f4d6c3b4-f25f-4074-9be0-f8da14046b1d/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"576c7b77-e611-40cf-9b4d-7cdb4616a401","cluster_id":"f4d6c3b4-f25f-4074-9be0-f8da14046b1d","created_at":"2020-11-16T15:20:22.562778Z","updated_at":"2020-11-16T15:20:22.584236891Z","name":"placement_group","status":"scaling","version":"1.19.4","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":"66717c06-e859-414e-8a52-781ea1996a80"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/576c7b77-e611-40cf-9b4d-7cdb4616a401
    method: GET
  response:
    body: '{"region":"fr-par","id":"576c7b77-e611-40cf-9b4d-7cdb4616a401","cluster_id":"f4d6c3b4-f25f-4074-9be0-f8da14046b1d","created_at":"2020-11-16T15:20:22.562778Z","updated_at":"2020-11-16T15:20:22.584237Z","name":"placement_group","status":"scaling","version":"1.19.4","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":"66717c06-e859-414e-8a52-781ea1996a80"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f4d6c3b4-f25f-4074-9be0-f8da14046b1d/nodes?order_by=created_at_asc&page=1&pool_id=576c7b77-e611-40cf-9b4d-7cdb4616a401&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"df70bbcd-06f5-4ef5-bc4d-93b104ab15a3","cluster_id":"f4d6c3b4-f25f-4074-9be0-f8da14046b1d","created_at":"2020-11-16T15:21:17.837953Z","updated_at":"2020-11-16T15:21:18.980768Z","pool_id":"576c7b77-e611-40cf-9b4d-7cdb4616a401","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-placement-group-placement-group-df70bbcd06","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f4d6c3b4-f25f-4074-9be0-f8da14046b1d?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"f4d6c3b4-f25f-4074-9be0-f8da14046b1d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:20:16.085737Z","updated_at":"2020-11-16T15:21:22.057851625Z","name":"place[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/f4d6c3b4-f25f-4074-9be0-f8da14046b1d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f4d6c3b4-f25f-4074-9be0-f8da14046b1d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
