---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-08T15:59:58.899481Z","dhcp_enabled":true,"id":"d6cf0d5d-0053-4b19-9698-02db2e43c296","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T15:59:58.899481Z","id":"27075350-76f3-4a2d-82ed-c719e3569a86","subnet":"172.16.12.0/22","updated_at":"2023-12-08T15:59:58.899481Z"},{"created_at":"2023-12-08T15:59:58.899481Z","id":"99ae9a74-b9b6-40cb-b791-7913cc68aaec","subnet":"fd63:256c:45f7:bd0f::/64","updated_at":"2023-12-08T15:59:58.899481Z"}],"tags":[],"updated_at":"2023-12-08T15:59:58.899481Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d6cf0d5d-0053-4b19-9698-02db2e43c296
    method: GET
  response:
    body: '{"created_at":"2023-12-08T15:59:58.899481Z","dhcp_enabled":true,"id":"d6cf0d5d-0053-4b19-9698-02db2e43c296","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T15:59:58.899481Z","id":"27075350-76f3-4a2d-82ed-c719e3569a86","subnet":"172.16.12.0/22","updated_at":"2023-12-08T15:59:58.899481Z"},{"created_at":"2023-12-08T15:59:58.899481Z","id":"99ae9a74-b9b6-40cb-b791-7913cc68aaec","subnet":"fd63:256c:45f7:bd0f::/64","updated_at":"2023-12-08T15:59:58.899481Z"}],"tags":[],"updated_at":"2023-12-08T15:59:58.899481Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"d6cf0d5d-0053-4b19-9698-02db2e43c296"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://ed2745e1-bc0a-4bac-83d6-e83218ccaeb1.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-08T15:59:59.842395955Z","created_at":"2023-12-08T15:59:59.842395955Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.ed2745e1-bc0a-4bac-83d6-e83218ccaeb1.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"ed2745e1-bc0a-4bac-83d6-e83218ccaeb1","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d6cf0d5d-0053-4b19-9698-02db2e43c296","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-12-08T15:59:59.858515786Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ed2745e1-bc0a-4bac-83d6-e83218ccaeb1
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ed2745e1-bc0a-4bac-83d6-e83218ccaeb1/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVTWGRPZWtVeVRVUkJkMDFXYjFoRVZFMTZUVlJKZDA1NlJUSk5SRUYzVFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"test-k8s-public-ip","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ed2745e1-bc0a-4bac-83d6-e83218ccaeb1/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"ed2745e1-bc0a-4bac-83d6-e83218ccaeb1","container_runtime":"containerd","created_at":"2023-12-08T16:00:34.443380Z","id":"73df29dd-4cd0-49ee-a757-5998712dcc2d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-08T16:00:34.462707717Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/73df29dd-4cd0-49ee-a757-5998712dcc2d
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"ed2745e1-bc0a-4bac-83d6-e83218ccaeb1","container_runtime":"containerd","created_at":"2023-12-08T16:00:34.443380Z","id":"73df29dd-4cd0-49ee-a757-5998712dcc2d","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-k8s-public-ip","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-08T16:00:34.462708Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ed2745e1-bc0a-4bac-83d6-e83218ccaeb1/nodes?order_by=created_at_asc&page=1&pool_id=73df29dd-4cd0-49ee-a757-5998712dcc2d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"ed2745e1-bc0a-4bac-83d6-e83218ccaeb1","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:03:18.599635Z","error_message":null,"id":"4d9d1a35-f93b-41e2-a5df-346075237026","name":"scw-test-k8s-public-i-test-k8s-public-i-4d9d1a","pool_id":"73df29dd-4cd0-49ee-a757-5998712dcc2d","provider_id":"scaleway://instance/fr-par-1/662db66d-d7a7-426a-b67c-99f4ba571696","public_ip_v4":"51.158.121.51","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:05:50.080318Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ed2745e1-bc0a-4bac-83d6-e83218ccaeb1/nodes?order_by=created_at_asc&pool_id=73df29dd-4cd0-49ee-a757-5998712dcc2d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"ed2745e1-bc0a-4bac-83d6-e83218ccaeb1","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:03:18.599635Z","error_message":null,"id":"4d9d1a35-f93b-41e2-a5df-346075237026","name":"scw-test-k8s-public-i-test-k8s-public-i-4d9d1a","pool_id":"73df29dd-4cd0-49ee-a757-5998712dcc2d","provider_id":"scaleway://instance/fr-par-1/662db66d-d7a7-426a-b67c-99f4ba571696","public_ip_v4":"51.158.121.51","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:05:50.080318Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/662db66d-d7a7-426a-b67c-99f4ba571696
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-12-08T16:03:19.341567+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-i-test-k8s-public-i-4d9d1a","id":"662db66d-d7a7-426a-b67c-99f4ba571696","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:638:1006::1","gateway":"2001:bc8:638:1006::","netmask":"64"},"location":{"cluster_id":"28","hypervisor_id":"901","node_id":"7","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:31:84:cf","maintenances":[],"modification_date":"2023-12-08T16:03:38.912857+00:00","name":"scw-test-k8s-public-i-test-k8s-public-i-4d9d1a","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.66.68.13","private_nics":[{"creation_date":"2023-12-08T16:03:19.891621+00:00","id":"cbf15476-9181-4e63-93c3-28fef2de3db0","mac_address":"02:00:00:15:4e:bd","modification_date":"2023-12-08T16:03:21.102482+00:00","private_network_id":"d6cf0d5d-0053-4b19-9698-02db2e43c296","server_id":"662db66d-d7a7-426a-b67c-99f4ba571696","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.121.51","dynamic":true,"family":"inet","gateway":null,"id":"97b7e4f1-1555-46ee-bdda-5c094aec6c97","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.158.121.51","dynamic":true,"family":"inet","gateway":null,"id":"97b7e4f1-1555-46ee-bdda-5c094aec6c97","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"a73c40a7-cfcf-4ba3-be85-d41c2de1ae92","name":"kubernetes
      ed2745e1-bc0a-4bac-83d6-e83218ccaeb1"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=ed2745e1-bc0a-4bac-83d6-e83218ccaeb1","pool=73df29dd-4cd0-49ee-a757-5998712dcc2d","pool-name=test-k8s-public-ip","runtime=containerd","managed=true","node=4d9d1a35-f93b-41e2-a5df-346075237026"],"volumes":{"0":{"boot":false,"creation_date":"2023-12-08T16:03:19.341567+00:00","export_uri":null,"id":"ef34553e-3043-4d47-ad8f-6ed14262070f","modification_date":"2023-12-08T16:03:19.341567+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"662db66d-d7a7-426a-b67c-99f4ba571696","name":"scw-test-k8s-public-i-test-k8s-public-i-4d9d1a"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/73df29dd-4cd0-49ee-a757-5998712dcc2d
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"73df29dd-4cd0-49ee-a757-5998712dcc2d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","push_default_route":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-08T16:07:53.419634Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c6945882-76f3-4d6c-95c6-cd87591c7a63","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-08T16:07:53.419634Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/c6945882-76f3-4d6c-95c6-cd87591c7a63
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-12-08T16:07:53.419634Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c6945882-76f3-4d6c-95c6-cd87591c7a63","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-08T16:07:53.419634Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-08T16:07:54.098087Z","gateway_networks":[],"id":"8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6","ip":{"address":"51.15.192.19","created_at":"2023-12-08T16:07:54.069687Z","gateway_id":"8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6","id":"7a3300cd-b6ea-4951-8bce-e0b47ff3c763","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"19-192-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-08T16:07:54.069687Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-08T16:07:54.098087Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-08T16:07:54.098087Z","gateway_networks":[],"id":"8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6","ip":{"address":"51.15.192.19","created_at":"2023-12-08T16:07:54.069687Z","gateway_id":"8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6","id":"7a3300cd-b6ea-4951-8bce-e0b47ff3c763","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"19-192-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-08T16:07:54.069687Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-12-08T16:07:54.146912Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6","private_network_id":"d6cf0d5d-0053-4b19-9698-02db2e43c296","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"c6945882-76f3-4d6c-95c6-cd87591c7a63"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-12-08T16:08:00.218382Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-08T16:07:53.419634Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c6945882-76f3-4d6c-95c6-cd87591c7a63","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-08T16:07:53.419634Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6","id":"09ecaaa5-e71b-4f7b-b030-d72608774dfe","ipam_config":null,"mac_address":null,"private_network_id":"d6cf0d5d-0053-4b19-9698-02db2e43c296","status":"created","updated_at":"2023-12-08T16:08:00.218382Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/09ecaaa5-e71b-4f7b-b030-d72608774dfe
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-12-08T16:08:00.218382Z","dhcp":{"address":"192.168.0.1","created_at":"2023-12-08T16:07:53.419634Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"c6945882-76f3-4d6c-95c6-cd87591c7a63","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-12-08T16:07:53.419634Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6","id":"09ecaaa5-e71b-4f7b-b030-d72608774dfe","ipam_config":null,"mac_address":"02:00:00:15:4E:CA","private_network_id":"d6cf0d5d-0053-4b19-9698-02db2e43c296","status":"ready","updated_at":"2023-12-08T16:08:09.210550Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ed2745e1-bc0a-4bac-83d6-e83218ccaeb1?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/09ecaaa5-e71b-4f7b-b030-d72608774dfe?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/8c4f9dfb-970a-4810-bb88-ec2afd4a6ef6?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
