---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.24.5","label":"Kubernetes 1.24.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none"],"available_container_runtimes":["containerd","crio"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"}},{"region":"fr-par","name":"1.23.11","label":"Kubernetes
      1.23.11","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders","GRPCContainerProbe"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "8fef716b-ea5c-4c7e-81b8-ada89c43a239", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8fef716b-ea5c-4c7e-81b8-ada89c43a239
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8fef716b-ea5c-4c7e-81b8-ada89c43a239
    method: GET
  response:
    body: '{"placement_group": {"id": "8fef716b-ea5c-4c7e-81b8-ada89c43a239", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"597a9765-6825-4c13-b816-e2e695e88155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-09-28T12:21:18.345588820Z","updated_at":"2022-09-28T12:21:18.456158730Z","type":"kapsule","name":"placement_group","description":"","status":"creating","version":"1.24.5","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"cluster_url":"https://597a9765-6825-4c13-b816-e2e695e88155.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.597a9765-6825-4c13-b816-e2e695e88155.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/597a9765-6825-4c13-b816-e2e695e88155
    method: GET
  response:
    body: '{"region":"fr-par","id":"597a9765-6825-4c13-b816-e2e695e88155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-09-28T12:21:18.345589Z","updated_at":"2022-09-28T12:21:18.456159Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/597a9765-6825-4c13-b816-e2e695e88155/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVVMUVhM2xPZWtWNVRXcEZlVTFHYjFoRVZFMTVUVVJyZVU1NlJYbE5ha1Y1VFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"8fef716b-ea5c-4c7e-81b8-ada89c43a239","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/597a9765-6825-4c13-b816-e2e695e88155/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"b53955de-122e-4ee0-b669-8c0d3889c45c","cluster_id":"597a9765-6825-4c13-b816-e2e695e88155","created_at":"2022-09-28T12:21:25.852022Z","updated_at":"2022-09-28T12:21:25.959209655Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"8fef716b-ea5c-4c7e-81b8-ada89c43a239","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b53955de-122e-4ee0-b669-8c0d3889c45c
    method: GET
  response:
    body: '{"region":"fr-par","id":"b53955de-122e-4ee0-b669-8c0d3889c45c","cluster_id":"597a9765-6825-4c13-b816-e2e695e88155","created_at":"2022-09-28T12:21:25.852022Z","updated_at":"2022-09-28T12:21:25.959210Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"8fef716b-ea5c-4c7e-81b8-ada89c43a239","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/597a9765-6825-4c13-b816-e2e695e88155/nodes?order_by=created_at_asc&page=1&pool_id=b53955de-122e-4ee0-b669-8c0d3889c45c&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"d8f95659-4280-4621-83fa-0e2b49bc8a9c","cluster_id":"597a9765-6825-4c13-b816-e2e695e88155","created_at":"2022-09-28T12:22:52.796464Z","updated_at":"2022-09-28T12:25:17.759893Z","pool_id":"b53955de-122e-4ee0-b669-8c0d3889c45c","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-d8f9565942","public_ip_v4":"51.15.242.191","public_ip_v6":null,"provider_id":"scaleway://instance/fr-par-1/3341992b-f1ad-4939-8e69-cc127d4a2405","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.24.5","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9f52f09e-7ebb-422c-91b3-088788be76fe
    method: GET
  response:
    body: '{"region":"nl-ams","id":"9f52f09e-7ebb-422c-91b3-088788be76fe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-09-28T12:25:38.757638Z","updated_at":"2022-09-28T12:25:38.763032Z","type":"kapsule","name":"placement_group","descript[...]
[...]
- request:
    body: '{"name":"pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "d696cbaa-5b8f-462d-8565-f4ee5d170d2a", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/d696cbaa-5b8f-462d-8565-f4ee5d170d2a
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/597a9765-6825-4c13-b816-e2e695e88155?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"597a9765-6825-4c13-b816-e2e695e88155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-09-28T12:21:18.345589Z","updated_at":"2022-09-28T12:25:39.946688250Z","type":"kapsu[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/d696cbaa-5b8f-462d-8565-f4ee5d170d2a
    method: GET
  response:
    body: '{"placement_group": {"id": "d696cbaa-5b8f-462d-8565-f4ee5d170d2a", "name":
      "pool-placement-group", "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "tags": [], "zone":
      "nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9f52f09e-7ebb-422c-91b3-088788be76fe/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEz[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"d696cbaa-5b8f-462d-8565-f4ee5d170d2a","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9f52f09e-7ebb-422c-91b3-088788be76fe/pools
    method: POST
  response:
    body: '{"region":"nl-ams","id":"f3c5d792-0137-4c04-843a-795337c8e1e0","cluster_id":"9f52f09e-7ebb-422c-91b3-088788be76fe","created_at":"2022-09-28T12:25:45.079326Z","updated_at":"2022-09-28T12:25:45.088921026Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"d696cbaa-5b8f-462d-8565-f4ee5d170d2a","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"nl-ams-2","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/f3c5d792-0137-4c04-843a-795337c8e1e0
    method: GET
  response:
    body: '{"region":"nl-ams","id":"f3c5d792-0137-4c04-843a-795337c8e1e0","cluster_id":"9f52f09e-7ebb-422c-91b3-088788be76fe","created_at":"2022-09-28T12:25:45.079326Z","updated_at":"2022-09-28T12:25:45.088921Z","name":"placement_group","status":"scaling","version":"1.24.5","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"placement_group_id":"d696cbaa-5b8f-462d-8565-f4ee5d170d2a","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"nl-ams-2","root_volume_type":"l_ssd","root_volume_size":150000000000}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/597a9765-6825-4c13-b816-e2e695e88155
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"597a9765-6825-4c13-b816-e2e695e88155","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9f52f09e-7ebb-422c-91b3-088788be76fe/nodes?order_by=created_at_asc&page=1&pool_id=f3c5d792-0137-4c04-843a-795337c8e1e0&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"nl-ams","id":"85ff7983-c0d9-4d3a-a904-d0a4c6c7a6d9","cluster_id":"9f52f09e-7ebb-422c-91b3-088788be76fe","created_at":"2022-09-28T12:27:26.890009Z","updated_at":"2022-09-28T12:30:27.513535Z","pool_id":"f3c5d792-0137-4c04-843a-795337c8e1e0","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-placement-group-placement-group-85ff7983c0","public_ip_v4":"51.158.240.186","public_ip_v6":null,"provider_id":"scaleway://instance/nl-ams-2/b9ccae9f-fa60-45e6-bf98-4c5d7de6a972","error_message":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/9f52f09e-7ebb-422c-91b3-088788be76fe?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"nl-ams","id":"9f52f09e-7ebb-422c-91b3-088788be76fe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-09-28T12:25:38.757638Z","updated_at":"2022-09-28T12:30:31.942421458Z","type":"kapsu[...]
[...]
