---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"c94a9260-bb00-4afa-ac71-37ddc8138240","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/c94a9260-bb00-4afa-ac71-37ddc8138240
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/c94a9260-bb00-4afa-ac71-37ddc8138240
    method: GET
  response:
    body: '{"placement_group":{"id":"c94a9260-bb00-4afa-ac71-37ddc8138240","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:49:51.166777Z","dhcp_enabled":true,"id":"d539826f-786f-4091-98fd-69d345ea1be0","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:51.166777Z","id":"631a5559-4f8b-4d32-a176-969d1efa2a9d","subnet":"172.16.92.0/22","updated_at":"2023-11-07T15:49:51.166777Z"},{"created_at":"2023-11-07T15:49:51.166777Z","id":"3555dbc9-4a3a-42d1-9465-b7bf08ccea4c","subnet":"fd5f:519c:6d46:bde4::/64","updated_at":"2023-11-07T15:49:51.166777Z"}],"tags":[],"updated_at":"2023-11-07T15:49:51.166777Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d539826f-786f-4091-98fd-69d345ea1be0
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:49:51.166777Z","dhcp_enabled":true,"id":"d539826f-786f-4091-98fd-69d345ea1be0","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:51.166777Z","id":"631a5559-4f8b-4d32-a176-969d1efa2a9d","subnet":"172.16.92.0/22","updated_at":"2023-11-07T15:49:51.166777Z"},{"created_at":"2023-11-07T15:49:51.166777Z","id":"3555dbc9-4a3a-42d1-9465-b7bf08ccea4c","subnet":"fd5f:519c:6d46:bde4::/64","updated_at":"2023-11-07T15:49:51.166777Z"}],"tags":[],"updated_at":"2023-11-07T15:49:51.166777Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"d539826f-786f-4091-98fd-69d345ea1be0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://e1597660-f994-438f-aa99-a42c65f010a5.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-07T15:49:53.224347Z","created_at":"2023-11-07T15:49:53.224347Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.e1597660-f994-438f-aa99-a42c65f010a5.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"e1597660-f994-438f-aa99-a42c65f010a5","ingress":"none","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"d539826f-786f-4091-98fd-69d345ea1be0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-11-07T15:49:53.233834907Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e1597660-f994-438f-aa99-a42c65f010a5
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e1597660-f994-438f-aa99-a42c65f010a5/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFVUlhkT2FrVXhUa1JyTVU1R2IxaEVWRTE2VFZSRmQwNXFSVEZPUkdzeFRrWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"c94a9260-bb00-4afa-ac71-37ddc8138240","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e1597660-f994-438f-aa99-a42c65f010a5/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"e1597660-f994-438f-aa99-a42c65f010a5","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.757238Z","id":"f563d778-6543-42b7-bc3a-087d590a5137","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"c94a9260-bb00-4afa-ac71-37ddc8138240","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.769298890Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f563d778-6543-42b7-bc3a-087d590a5137
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"e1597660-f994-438f-aa99-a42c65f010a5","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.757238Z","id":"f563d778-6543-42b7-bc3a-087d590a5137","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"c94a9260-bb00-4afa-ac71-37ddc8138240","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.769299Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e1597660-f994-438f-aa99-a42c65f010a5/nodes?order_by=created_at_asc&page=1&pool_id=f563d778-6543-42b7-bc3a-087d590a5137&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"e1597660-f994-438f-aa99-a42c65f010a5","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:52:07.329064Z","error_message":null,"id":"dc941279-ea09-4131-990f-e339d6867cb2","name":"scw-test-pool-placeme-test-pool-placeme-dc9412","pool_id":"f563d778-6543-42b7-bc3a-087d590a5137","provider_id":"scaleway://instance/fr-par-1/d495283b-b8ba-4f22-8ed3-5dbe8f04c12b","public_ip_v4":"163.172.177.183","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:54:46.413340Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f563d778-6543-42b7-bc3a-087d590a5137
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"f563d778-6543-42b7-bc3a-087d590a5137","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e1597660-f994-438f-aa99-a42c65f010a5?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"16dcbca1-8d35-47bd-9973-6c8a5d7136e3","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/16dcbca1-8d35-47bd-9973-6c8a5d7136e3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/16dcbca1-8d35-47bd-9973-6c8a5d7136e3
    method: GET
  response:
    body: '{"placement_group":{"id":"16dcbca1-8d35-47bd-9973-6c8a5d7136e3","name":"test-pool-placement-group","organization":"105bdce1-64c0-48ab-899d-868455867ecf","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-pool-placement-group","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:55:34.222869Z","dhcp_enabled":true,"id":"8de1f7a3-88bf-4638-8306-a9b136db35ee","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-11-07T15:55:34.222869Z","id":"8288ef17-3d79-4711-b932-6a388353bddd","subnet":"172.16.16.0/22","updated_at":"2023-11-07T15:55:34.222869Z"},{"created_at":"2023-11-07T15:55:34.222869Z","id":"99b04b07-3bc6-47f6-9b0a-d058622f495f","subnet":"fd5c:d510:d730:ed79::/64","updated_at":"2023-11-07T15:55:34.222869Z"}],"tags":[],"updated_at":"2023-11-07T15:55:34.222869Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/8de1f7a3-88bf-4638-8306-a9b136db35ee
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:55:34.222869Z","dhcp_enabled":true,"id":"8de1f7a3-88bf-4638-8306-a9b136db35ee","name":"test-pool-placement-group","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-11-07T15:55:34.222869Z","id":"8288ef17-3d79-4711-b932-6a388353bddd","subnet":"172.16.16.0/22","updated_at":"2023-11-07T15:55:34.222869Z"},{"created_at":"2023-11-07T15:55:34.222869Z","id":"99b04b07-3bc6-47f6-9b0a-d058622f495f","subnet":"fd5c:d510:d730:ed79::/64","updated_at":"2023-11-07T15:55:34.222869Z"}],"tags":[],"updated_at":"2023-11-07T15:55:34.222869Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/6ea2f3e5-b7f2-44ef-af0b-17762ba81b25
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/6ea2f3e5-b7f2-44ef-af0b-17762ba81b25/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"16dcbca1-8d35-47bd-9973-6c8a5d7136e3","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/6ea2f3e5-b7f2-44ef-af0b-17762ba81b25/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"6ea2f3e5-b7f2-44ef-af0b-17762ba81b25","container_runtime":"containerd","created_at":"2023-11-07T15:55:41.739164Z","id":"8209488d-594a-4812-8626-fac5f2638d54","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"16dcbca1-8d35-47bd-9973-6c8a5d7136e3","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:55:41.758186326Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/8209488d-594a-4812-8626-fac5f2638d54
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"6ea2f3e5-b7f2-44ef-af0b-17762ba81b25","container_runtime":"containerd","created_at":"2023-11-07T15:55:41.739164Z","id":"8209488d-594a-4812-8626-fac5f2638d54","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"16dcbca1-8d35-47bd-9973-6c8a5d7136e3","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:55:41.758186Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/6ea2f3e5-b7f2-44ef-af0b-17762ba81b25/nodes?order_by=created_at_asc&page=1&pool_id=8209488d-594a-4812-8626-fac5f2638d54&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6ea2f3e5-b7f2-44ef-af0b-17762ba81b25","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:57:18.505045Z","error_message":null,"id":"36e290f5-856a-4eb3-a9f0-c518385de2f5","name":"scw-test-pool-placeme-test-pool-placeme-36e290","pool_id":"8209488d-594a-4812-8626-fac5f2638d54","provider_id":"scaleway://instance/nl-ams-2/f0886bfc-9043-447f-9f66-33cbdbf903f0","public_ip_v4":"51.158.236.40","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-11-07T16:00:01.341362Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/6ea2f3e5-b7f2-44ef-af0b-17762ba81b25/available-types
    method: GET
  response:
    body: '{"cluster_types":[{"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/6ea2f3e5-b7f2-44ef-af0b-17762ba81b25?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
