---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:49:50.833519Z","dhcp_enabled":true,"id":"c0076356-a746-4ffa-ba2e-8731fd24cf1f","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:50.833519Z","id":"fb021b16-2494-457d-9d6c-2cf0028452b3","subnet":"172.16.20.0/22","updated_at":"2023-11-07T15:49:50.833519Z"},{"created_at":"2023-11-07T15:49:50.833519Z","id":"280feec4-d559-47b4-90f0-f9cf39fafe11","subnet":"fd5f:519c:6d46:1fd9::/64","updated_at":"2023-11-07T15:49:50.833519Z"}],"tags":[],"updated_at":"2023-11-07T15:49:50.833519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c0076356-a746-4ffa-ba2e-8731fd24cf1f
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:49:50.833519Z","dhcp_enabled":true,"id":"c0076356-a746-4ffa-ba2e-8731fd24cf1f","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:50.833519Z","id":"fb021b16-2494-457d-9d6c-2cf0028452b3","subnet":"172.16.20.0/22","updated_at":"2023-11-07T15:49:50.833519Z"},{"created_at":"2023-11-07T15:49:50.833519Z","id":"280feec4-d559-47b4-90f0-f9cf39fafe11","subnet":"fd5f:519c:6d46:1fd9::/64","updated_at":"2023-11-07T15:49:50.833519Z"}],"tags":[],"updated_at":"2023-11-07T15:49:50.833519Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"c0076356-a746-4ffa-ba2e-8731fd24cf1f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a4fef3d0-2300-4956-b33b-cf974ee30a01.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-07T15:49:53.386503255Z","created_at":"2023-11-07T15:49:53.386503255Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.a4fef3d0-2300-4956-b33b-cf974ee30a01.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"a4fef3d0-2300-4956-b33b-cf974ee30a01","ingress":"none","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"c0076356-a746-4ffa-ba2e-8731fd24cf1f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-11-07T15:49:53.416457093Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4fef3d0-2300-4956-b33b-cf974ee30a01
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4fef3d0-2300-4956-b33b-cf974ee30a01/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYZE9ha1V4VGtSck1VNVdiMWhFVkUxNlRWUkZkMDVxUlRGT1JHc3hUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4fef3d0-2300-4956-b33b-cf974ee30a01/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"a4fef3d0-2300-4956-b33b-cf974ee30a01","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.858083Z","id":"0149b1d8-63d9-4735-8fa6-3256b5a76ddc","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-11-07T15:49:58.867037882Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0149b1d8-63d9-4735-8fa6-3256b5a76ddc
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"a4fef3d0-2300-4956-b33b-cf974ee30a01","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.858083Z","id":"0149b1d8-63d9-4735-8fa6-3256b5a76ddc","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-11-07T15:49:58.867038Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4fef3d0-2300-4956-b33b-cf974ee30a01/nodes?order_by=created_at_asc&page=1&pool_id=0149b1d8-63d9-4735-8fa6-3256b5a76ddc&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a4fef3d0-2300-4956-b33b-cf974ee30a01","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:51:47.022178Z","error_message":null,"id":"158fc3fe-d8bd-476d-8fc5-64d84224df41","name":"scw-test-pool-minimal-test-pool-minimal-158fc3","pool_id":"0149b1d8-63d9-4735-8fa6-3256b5a76ddc","provider_id":"scaleway://instance/fr-par-1/44de6ba8-c06f-4dec-9cb3-da3090369984","public_ip_v4":"51.15.132.168","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:54:22.740213Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4fef3d0-2300-4956-b33b-cf974ee30a01/nodes?order_by=created_at_asc&page=1&pool_id=0149b1d8-63d9-4735-8fa6-3256b5a76ddc&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a4fef3d0-2300-4956-b33b-cf974ee30a01","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:51:47.022178Z","error_message":null,"id":"158fc3fe-d8bd-476d-8fc5-64d84224df41","name":"scw-test-pool-minimal-test-pool-minimal-158fc3","pool_id":"0149b1d8-63d9-4735-8fa6-3256b5a76ddc","provider_id":"scaleway://instance/fr-par-1/44de6ba8-c06f-4dec-9cb3-da3090369984","public_ip_v4":"51.15.132.168","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:57:08.177957Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d79da6df-2a18-4330-a7c5-37717e81e0b7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"d79da6df-2a18-4330-a7c5-37717e81e0b7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a4fef3d0-2300-4956-b33b-cf974ee30a01?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
