---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.20.2","label":"Kubernetes 1.20.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodPreset","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.19.7","label":"Kubernetes
      1.19.7","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralContainers","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy",[...]
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"K8SPoolConfigUpgradePolicy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.20.2","cni":"cilium","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"06364d1e-597e-4ffe-bc0c-c1696d576ae9","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:22:02.632019965Z","updated_at":"2021-02-15T13:22:05.080031160Z","name":"K8SPoolConfigUpgradePolicy","description":"","status":"creating","version":"1.20.2","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"cluster_url":"https://06364d1e-597e-4ffe-bc0c-c1696d576ae9.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.06364d1e-597e-4ffe-bc0c-c1696d576ae9.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06364d1e-597e-4ffe-bc0c-c1696d576ae9
    method: GET
  response:
    body: '{"region":"fr-par","id":"06364d1e-597e-4ffe-bc0c-c1696d576ae9","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:22:02.632020Z","updated_at":"2021-02-15T13:22:05.080031Z","name":"K8SPoolConfigUpgradePolicy","description":"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06364d1e-597e-4ffe-bc0c-c1696d576ae9/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogazhzcG9vbGNvbmZpZ3VwZ3JhZGVwb2xpY3kKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVFMUVTWGhPUkVWNlRXcEpkMDVXYjFoRVZFMTRUVVJKZUU1RVJYcE5ha2wzVGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06364d1e-597e-4ffe-bc0c-c1696d576ae9/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"0a384300-7329-491e-a6e1-62ff47bea132","cluster_id":"06364d1e-597e-4ffe-bc0c-c1696d576ae9","created_at":"2021-02-15T13:22:10.806948Z","updated_at":"2021-02-15T13:22:10.819099680Z","name":"default","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/0a384300-7329-491e-a6e1-62ff47bea132
    method: GET
  response:
    body: '{"region":"fr-par","id":"0a384300-7329-491e-a6e1-62ff47bea132","cluster_id":"06364d1e-597e-4ffe-bc0c-c1696d576ae9","created_at":"2021-02-15T13:22:10.806948Z","updated_at":"2021-02-15T13:22:10.819100Z","name":"default","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06364d1e-597e-4ffe-bc0c-c1696d576ae9/nodes?order_by=created_at_asc&page=1&pool_id=0a384300-7329-491e-a6e1-62ff47bea132&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06364d1e-597e-4ffe-bc0c-c1696d576ae9/nodes?order_by=created_at_asc&page=1&pool_id=0a384300-7329-491e-a6e1-62ff47bea132&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"4659cd23-da37-4392-9db9-eef53e525d42","cluster_id":"06364d1e-597e-4ffe-bc0c-c1696d576ae9","created_at":"2021-02-15T13:23:16.652408Z","updated_at":"2021-02-15T13:23:16.652408Z","pool_id":"0a384300-7329-491e-a6e1-62ff47bea132","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-k8spoolconfigupgradepolicy-default-4659cd2","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06364d1e-597e-4ffe-bc0c-c1696d576ae9?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"06364d1e-597e-4ffe-bc0c-c1696d576ae9","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:22:02.632020Z","updated_at":"2021-02-15T13:23:28.527334925Z","name":"K8SPo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/06364d1e-597e-4ffe-bc0c-c1696d576ae9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"06364d1e-597e-4ffe-bc0c-c1696d576ae9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
