---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-19T16:34:41.054613Z","dhcp_enabled":true,"id":"882a0149-d4f0-470c-8a36-650eb9f9c627","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-19T16:34:41.054613Z","id":"29e823e2-bb1a-4e49-b0e6-726aeafb43b6","subnet":"172.16.4.0/22","updated_at":"2023-10-19T16:34:41.054613Z"},{"created_at":"2023-10-19T16:34:41.054613Z","id":"57b44457-ecb1-48e2-86a5-5d7cf356e438","subnet":"fd63:256c:45f7:d0e7::/64","updated_at":"2023-10-19T16:34:41.054613Z"}],"tags":[],"updated_at":"2023-10-19T16:34:41.054613Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/882a0149-d4f0-470c-8a36-650eb9f9c627
    method: GET
  response:
    body: '{"created_at":"2023-10-19T16:34:41.054613Z","dhcp_enabled":true,"id":"882a0149-d4f0-470c-8a36-650eb9f9c627","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-19T16:34:41.054613Z","id":"29e823e2-bb1a-4e49-b0e6-726aeafb43b6","subnet":"172.16.4.0/22","updated_at":"2023-10-19T16:34:41.054613Z"},{"created_at":"2023-10-19T16:34:41.054613Z","id":"57b44457-ecb1-48e2-86a5-5d7cf356e438","subnet":"fd63:256c:45f7:d0e7::/64","updated_at":"2023-10-19T16:34:41.054613Z"}],"tags":[],"updated_at":"2023-10-19T16:34:41.054613Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"882a0149-d4f0-470c-8a36-650eb9f9c627"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://70de064b-dd6d-41d1-b997-705e1156dbf1.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-10-19T16:34:42.900975539Z","created_at":"2023-10-19T16:34:42.900975539Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.70de064b-dd6d-41d1-b997-705e1156dbf1.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"70de064b-dd6d-41d1-b997-705e1156dbf1","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"882a0149-d4f0-470c-8a36-650eb9f9c627","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-10-19T16:34:42.915672437Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/70de064b-dd6d-41d1-b997-705e1156dbf1
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/70de064b-dd6d-41d1-b997-705e1156dbf1/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVFYaFBSRVV5VFhwUk1FNUdiMWhFVkUxNlRWUkJlRTlFUlRKTmVsRXdUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/70de064b-dd6d-41d1-b997-705e1156dbf1/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"70de064b-dd6d-41d1-b997-705e1156dbf1","container_runtime":"containerd","created_at":"2023-10-19T16:34:48.387741Z","id":"34a36b69-f6e4-4279-8f74-c49a6213083c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-19T16:34:48.399876644Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/34a36b69-f6e4-4279-8f74-c49a6213083c
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"70de064b-dd6d-41d1-b997-705e1156dbf1","container_runtime":"containerd","created_at":"2023-10-19T16:34:48.387741Z","id":"34a36b69-f6e4-4279-8f74-c49a6213083c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-19T16:34:48.399877Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/70de064b-dd6d-41d1-b997-705e1156dbf1/nodes?order_by=created_at_asc&page=1&pool_id=34a36b69-f6e4-4279-8f74-c49a6213083c&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"70de064b-dd6d-41d1-b997-705e1156dbf1","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-19T16:36:27.777812Z","error_message":null,"id":"b0a9dc5d-be0e-41bf-b5ce-e13680526495","name":"scw-test-pool-wait-test-pool-wait-b0a9dc5dbe0e","pool_id":"34a36b69-f6e4-4279-8f74-c49a6213083c","provider_id":"scaleway://instance/fr-par-1/456dcdc2-0d49-445e-ba9c-5a4039a43c73","public_ip_v4":"51.158.117.252","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-19T16:41:12.880621Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/70de064b-dd6d-41d1-b997-705e1156dbf1/nodes?order_by=created_at_asc&page=1&pool_id=34a36b69-f6e4-4279-8f74-c49a6213083c&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"70de064b-dd6d-41d1-b997-705e1156dbf1","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-19T16:36:27.777812Z","error_message":null,"id":"b0a9dc5d-be0e-41bf-b5ce-e13680526495","name":"scw-test-pool-wait-test-pool-wait-b0a9dc5dbe0e","pool_id":"34a36b69-f6e4-4279-8f74-c49a6213083c","provider_id":"scaleway://instance/fr-par-1/456dcdc2-0d49-445e-ba9c-5a4039a43c73","public_ip_v4":"51.158.117.252","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-19T16:46:18.568289Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/70de064b-dd6d-41d1-b997-705e1156dbf1?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/70de064b-dd6d-41d1-b997-705e1156dbf1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"70de064b-dd6d-41d1-b997-705e1156dbf1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
