---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-size","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-20T16:37:00.275980Z","dhcp_enabled":true,"id":"a754c1a6-b914-4b84-8e9f-24cd32fcbf14","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:37:00.275980Z","id":"ae1dd2e0-8b2f-49d4-9174-6ad5e0cce43d","subnet":"172.16.16.0/22","updated_at":"2023-12-20T16:37:00.275980Z"},{"created_at":"2023-12-20T16:37:00.275980Z","id":"393beb5f-6a51-48a5-86cb-3bb1269a84c4","subnet":"fd5f:519c:6d46:1854::/64","updated_at":"2023-12-20T16:37:00.275980Z"}],"tags":[],"updated_at":"2023-12-20T16:37:00.275980Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a754c1a6-b914-4b84-8e9f-24cd32fcbf14
    method: GET
  response:
    body: '{"created_at":"2023-12-20T16:37:00.275980Z","dhcp_enabled":true,"id":"a754c1a6-b914-4b84-8e9f-24cd32fcbf14","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:37:00.275980Z","id":"ae1dd2e0-8b2f-49d4-9174-6ad5e0cce43d","subnet":"172.16.16.0/22","updated_at":"2023-12-20T16:37:00.275980Z"},{"created_at":"2023-12-20T16:37:00.275980Z","id":"393beb5f-6a51-48a5-86cb-3bb1269a84c4","subnet":"fd5f:519c:6d46:1854::/64","updated_at":"2023-12-20T16:37:00.275980Z"}],"tags":[],"updated_at":"2023-12-20T16:37:00.275980Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-size","description":"","tags":null,"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"a754c1a6-b914-4b84-8e9f-24cd32fcbf14"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://63c3f43d-5e3a-44db-bd78-9bab91d67ae4.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-20T16:37:01.191995528Z","created_at":"2023-12-20T16:37:01.191995528Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.63c3f43d-5e3a-44db-bd78-9bab91d67ae4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"63c3f43d-5e3a-44db-bd78-9bab91d67ae4","ingress":"none","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"a754c1a6-b914-4b84-8e9f-24cd32fcbf14","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"type":"kapsule","updated_at":"2023-12-20T16:37:01.209016855Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/63c3f43d-5e3a-44db-bd78-9bab91d67ae4
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/63c3f43d-5e3a-44db-bd78-9bab91d67ae4/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYaFBWRVV5VFhwamQwMXNiMWhFVkUxNlRWUkplRTlVUlRKTmVtTjNUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/63c3f43d-5e3a-44db-bd78-9bab91d67ae4/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"63c3f43d-5e3a-44db-bd78-9bab91d67ae4","container_runtime":"containerd","created_at":"2023-12-20T16:37:06.735700Z","id":"5cfd0873-570b-41af-9eca-e4ff62cff1d4","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:37:06.744173449Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5cfd0873-570b-41af-9eca-e4ff62cff1d4
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"63c3f43d-5e3a-44db-bd78-9bab91d67ae4","container_runtime":"containerd","created_at":"2023-12-20T16:37:06.735700Z","id":"5cfd0873-570b-41af-9eca-e4ff62cff1d4","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:37:06.744173Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/63c3f43d-5e3a-44db-bd78-9bab91d67ae4/nodes?order_by=created_at_asc&page=1&pool_id=5cfd0873-570b-41af-9eca-e4ff62cff1d4&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"63c3f43d-5e3a-44db-bd78-9bab91d67ae4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:42:17.108014Z","error_message":null,"id":"03b25e17-f28f-4245-ab2e-e2689acc93f0","name":"scw-test-pool-size-pool-03b25e17f28f4245ab2ee2","pool_id":"5cfd0873-570b-41af-9eca-e4ff62cff1d4","provider_id":"scaleway://instance/fr-par-1/c2ac5a3d-d0f0-419c-9c1c-d90abec97958","public_ip_v4":"51.158.78.198","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:45:02.019364Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5cfd0873-570b-41af-9eca-e4ff62cff1d4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"5cfd0873-570b-41af-9eca-e4ff62cff1d4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/63c3f43d-5e3a-44db-bd78-9bab91d67ae4?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_pri[...]
[...]
