---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"PoolBetaConfigWait","description":"","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"version":"1.19.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T13:18:38.997301271Z","updated_at":"2020-10-15T13:18:39.747698258Z","name":"PoolBetaConfigWait","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://1ed611c3-69b9-4eed-8c0c-450c3fbeebd5.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.1ed611c3-69b9-4eed-8c0c-450c3fbeebd5.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ed611c3-69b9-4eed-8c0c-450c3fbeebd5
    method: GET
  response:
    body: '{"region":"fr-par","id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T13:18:38.997301Z","updated_at":"2020-10-15T13:18:39.747698Z","name":"PoolBetaConfigWait","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://1ed611c3-69b9-4eed-8c0c-450c3fbeebd5.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.1ed611c3-69b9-4eed-8c0c-450c3fbeebd5.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ed611c3-69b9-4eed-8c0c-450c3fbeebd5/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogcG9vbGJldGFjb25maWd3YWl0CiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VONVJFTkRRV0pEWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpkMDFVUVhoT1JFVjZUVlJuTUUxR2IxaEVWRTEzVFZSQmVFNUVSWHBOVkdjd1RVWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ed611c3-69b9-4eed-8c0c-450c3fbeebd5/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"ed666027-72c0-47a0-97e5-6b2b2fd6556c","cluster_id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","created_at":"2020-10-15T13:18:45.778503Z","updated_at":"2020-10-15T13:18:45.806191414Z","name":"default","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ed666027-72c0-47a0-97e5-6b2b2fd6556c
    method: GET
  response:
    body: '{"region":"fr-par","id":"ed666027-72c0-47a0-97e5-6b2b2fd6556c","cluster_id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","created_at":"2020-10-15T13:18:45.778503Z","updated_at":"2020-10-15T13:18:45.806191Z","name":"default","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ed611c3-69b9-4eed-8c0c-450c3fbeebd5/nodes?order_by=created_at_asc&page=1&pool_id=ed666027-72c0-47a0-97e5-6b2b2fd6556c&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"80e7538c-ee39-4f2e-a0fb-fd1f39300e0f","cluster_id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","created_at":"2020-10-15T13:19:30.091504Z","updated_at":"2020-10-15T13:21:48.076925Z","pool_id":"ed666027-72c0-47a0-97e5-6b2b2fd6556c","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-poolbetaconfigwait-default-80e7538cee394f2","public_ip_v4":"51.158.77.170","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ed611c3-69b9-4eed-8c0c-450c3fbeebd5/nodes?order_by=created_at_asc&page=1&pool_id=ed666027-72c0-47a0-97e5-6b2b2fd6556c&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"80e7538c-ee39-4f2e-a0fb-fd1f39300e0f","cluster_id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","created_at":"2020-10-15T13:19:30.091504Z","updated_at":"2020-10-15T13:24:28.631307Z","pool_id":"ed666027-72c0-47a0-97e5-6b2b2fd6556c","status":"ready","conditions":{"CorruptDockerOverlay2":"False","DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","ReadonlyFilesystem":"False","Ready":"True"},"name":"scw-poolbetaconfigwait-default-80e7538cee394f2","public_ip_v4":"51.158.77.170","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ed611c3-69b9-4eed-8c0c-450c3fbeebd5?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T13:18:38.997301Z","updated_at":"2020-10-15T13:37:28.628891183Z","name":"PoolBetaConfigWait","description":"","status":"deleting","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://1ed611c3-69b9-4eed-8c0c-450c3fbeebd5.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.1ed611c3-69b9-4eed-8c0c-450c3fbeebd5.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1ed611c3-69b9-4eed-8c0c-450c3fbeebd5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"1ed611c3-69b9-4eed-8c0c-450c3fbeebd5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
