---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-public-ip","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-18T17:05:38.963133Z","dhcp_enabled":true,"id":"b27b50b7-86ff-406e-b08b-de82de78fe7a","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T17:05:38.963133Z","id":"b6f618ae-5f6f-4745-acbc-66e1cba782d7","subnet":"172.16.16.0/22","updated_at":"2023-10-18T17:05:38.963133Z"},{"created_at":"2023-10-18T17:05:38.963133Z","id":"385347c4-de12-4c0f-ab0e-d6fc33b70b07","subnet":"fd63:256c:45f7:2b74::/64","updated_at":"2023-10-18T17:05:38.963133Z"}],"tags":[],"updated_at":"2023-10-18T17:05:38.963133Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b27b50b7-86ff-406e-b08b-de82de78fe7a
    method: GET
  response:
    body: '{"created_at":"2023-10-18T17:05:38.963133Z","dhcp_enabled":true,"id":"b27b50b7-86ff-406e-b08b-de82de78fe7a","name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T17:05:38.963133Z","id":"b6f618ae-5f6f-4745-acbc-66e1cba782d7","subnet":"172.16.16.0/22","updated_at":"2023-10-18T17:05:38.963133Z"},{"created_at":"2023-10-18T17:05:38.963133Z","id":"385347c4-de12-4c0f-ab0e-d6fc33b70b07","subnet":"fd63:256c:45f7:2b74::/64","updated_at":"2023-10-18T17:05:38.963133Z"}],"tags":[],"updated_at":"2023-10-18T17:05:38.963133Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-public-ip","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"b27b50b7-86ff-406e-b08b-de82de78fe7a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://4f82f936-189f-46c3-b063-e7b2af051c79.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-10-18T17:05:41.115898375Z","created_at":"2023-10-18T17:05:41.115898375Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.4f82f936-189f-46c3-b063-e7b2af051c79.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"4f82f936-189f-46c3-b063-e7b2af051c79","ingress":"none","name":"test-k8s-public-ip","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"b27b50b7-86ff-406e-b08b-de82de78fe7a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-10-18T17:05:41.140239460Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4f82f936-189f-46c3-b063-e7b2af051c79
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4f82f936-189f-46c3-b063-e7b2af051c79/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXB1YmxpYy1pcCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVRWGhPZWtVelRVUlZNRTFzYjFoRVZFMTZUVlJCZUU1NlJUTk5SRlV3VFd4dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJ[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4f82f936-189f-46c3-b063-e7b2af051c79/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"4f82f936-189f-46c3-b063-e7b2af051c79","container_runtime":"containerd","created_at":"2023-10-18T17:05:46.645102Z","id":"d38eed5f-356c-45cc-b081-fdca496aa995","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-18T17:05:46.657023240Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d38eed5f-356c-45cc-b081-fdca496aa995
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"4f82f936-189f-46c3-b063-e7b2af051c79","container_runtime":"containerd","created_at":"2023-10-18T17:05:46.645102Z","id":"d38eed5f-356c-45cc-b081-fdca496aa995","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-18T17:05:46.657023Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4f82f936-189f-46c3-b063-e7b2af051c79/nodes?order_by=created_at_asc&page=1&pool_id=d38eed5f-356c-45cc-b081-fdca496aa995&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"4f82f936-189f-46c3-b063-e7b2af051c79","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T17:07:15.323103Z","error_message":null,"id":"b5cb9457-0865-4b0d-ac1f-b375f9e513d5","name":"scw-test-k8s-public-ip-pool-b5cb945708654b0dac","pool_id":"d38eed5f-356c-45cc-b081-fdca496aa995","provider_id":"scaleway://instance/fr-par-1/ff62c988-07a5-4aa8-bf13-690a11baad87","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T17:12:11.109867Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4f82f936-189f-46c3-b063-e7b2af051c79/nodes?order_by=created_at_asc&pool_id=d38eed5f-356c-45cc-b081-fdca496aa995&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"4f82f936-189f-46c3-b063-e7b2af051c79","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T17:07:15.323103Z","error_message":null,"id":"b5cb9457-0865-4b0d-ac1f-b375f9e513d5","name":"scw-test-k8s-public-ip-pool-b5cb945708654b0dac","pool_id":"d38eed5f-356c-45cc-b081-fdca496aa995","provider_id":"scaleway://instance/fr-par-1/ff62c988-07a5-4aa8-bf13-690a11baad87","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T17:12:11.109867Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/ff62c988-07a5-4aa8-bf13-690a11baad87
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-10-18T17:07:16.269554+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-public-ip-pool-b5cb945708654b0dac","id":"ff62c988-07a5-4aa8-bf13-690a11baad87","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:474c:1901::1","gateway":"2001:bc8:474c:1901::","netmask":"64"},"location":{"cluster_id":"4","hypervisor_id":"1302","node_id":"2","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:29:5e:33","maintenances":[],"modification_date":"2023-10-18T17:07:32.646805+00:00","name":"scw-test-k8s-public-ip-pool-b5cb945708654b0dac","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.12.164.67","private_nics":[{"creation_date":"2023-10-18T17:07:16.831824+00:00","id":"55ab2295-4836-40ed-abda-33478ae451c4","mac_address":"02:00:00:14:4d:51","modification_date":"2023-10-18T17:07:17.610875+00:00","private_network_id":"b27b50b7-86ff-406e-b08b-de82de78fe7a","server_id":"ff62c988-07a5-4aa8-bf13-690a11baad87","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.143.114","dynamic":true,"family":"inet","gateway":null,"id":"37d573b3-feb6-4fcb-b0ad-699a6299a21e","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.143.114","dynamic":true,"family":"inet","gateway":null,"id":"37d573b3-feb6-4fcb-b0ad-699a6299a21e","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"92e3a255-acd6-4ef5-bc55-ba14ba229683","name":"kubernetes
      4f82f936-189f-46c3-b063-e7b2af051c79"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=4f82f936-189f-46c3-b063-e7b2af051c79","pool=d38eed5f-356c-45cc-b081-fdca496aa995","pool-name=pool","runtime=containerd","managed=true","node=b5cb9457-0865-4b0d-ac1f-b375f9e513d5"],"volumes":{"0":{"boot":false,"creation_date":"2023-10-18T17:07:16.269554+00:00","export_uri":null,"id":"a15d625e-c6ce-4054-9dee-575634f80667","modification_date":"2023-10-18T17:07:16.269554+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"ff62c988-07a5-4aa8-bf13-690a11baad87","name":"scw-test-k8s-public-ip-pool-b5cb945708654b0dac"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-10-18T17:12:19.486701Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8488fefa-e9b0-4874-9796-d69f72ea632b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-18T17:12:19.486701Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/8488fefa-e9b0-4874-9796-d69f72ea632b
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-10-18T17:12:19.486701Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8488fefa-e9b0-4874-9796-d69f72ea632b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-18T17:12:19.486701Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-k8s-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-18T17:12:20.078194Z","gateway_networks":[],"id":"5b346518-375f-4ecb-95ec-0e48b3b50d54","ip":{"address":"51.15.224.248","created_at":"2023-10-18T17:12:20.064132Z","gateway_id":"5b346518-375f-4ecb-95ec-0e48b3b50d54","id":"349cc528-45f1-4aac-a1ad-65ea6a66aa50","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"248-224-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-18T17:12:20.064132Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-18T17:12:20.078194Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5b346518-375f-4ecb-95ec-0e48b3b50d54
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-18T17:12:20.078194Z","gateway_networks":[],"id":"5b346518-375f-4ecb-95ec-0e48b3b50d54","ip":{"address":"51.15.224.248","created_at":"2023-10-18T17:12:20.064132Z","gateway_id":"5b346518-375f-4ecb-95ec-0e48b3b50d54","id":"349cc528-45f1-4aac-a1ad-65ea6a66aa50","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"248-224-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-18T17:12:20.064132Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-k8s-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-18T17:12:20.111352Z","upstream_dns_servers":[],"version":"0.6.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"5b346518-375f-4ecb-95ec-0e48b3b50d54","private_network_id":"b27b50b7-86ff-406e-b08b-de82de78fe7a","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"8488fefa-e9b0-4874-9796-d69f72ea632b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-10-18T17:12:26.924175Z","dhcp":{"address":"192.168.0.1","created_at":"2023-10-18T17:12:19.486701Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8488fefa-e9b0-4874-9796-d69f72ea632b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-18T17:12:19.486701Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"5b346518-375f-4ecb-95ec-0e48b3b50d54","id":"9bec2bc2-3cd3-475d-aa88-056cc9a6d7a4","ipam_config":null,"mac_address":null,"private_network_id":"b27b50b7-86ff-406e-b08b-de82de78fe7a","status":"created","updated_at":"2023-10-18T17:12:26.924175Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9bec2bc2-3cd3-475d-aa88-056cc9a6d7a4
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-10-18T17:12:26.924175Z","dhcp":{"address":"192.168.0.1","created_at":"2023-10-18T17:12:19.486701Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8488fefa-e9b0-4874-9796-d69f72ea632b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-18T17:12:19.486701Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"5b346518-375f-4ecb-95ec-0e48b3b50d54","id":"9bec2bc2-3cd3-475d-aa88-056cc9a6d7a4","ipam_config":null,"mac_address":"02:00:00:14:4D:5A","private_network_id":"b27b50b7-86ff-406e-b08b-de82de78fe7a","status":"ready","updated_at":"2023-10-18T17:12:29.107374Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4f82f936-189f-46c3-b063-e7b2af051c79?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/4f82f936-189f-46c3-b063-e7b2af051c79
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"4f82f936-189f-46c3-b063-e7b2af051c79","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9bec2bc2-3cd3-475d-aa88-056cc9a6d7a4?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5b346518-375f-4ecb-95ec-0e48b3b50d54?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
