---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-kubelet-args","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-22T12:25:41.289093Z","dhcp_enabled":true,"id":"379def99-d658-471e-8f6e-6e158c53d881","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-22T12:25:41.289093Z","id":"1fa6c8b5-be05-4bd6-afab-6e2160c8ae78","subnet":"172.16.12.0/22","updated_at":"2023-12-22T12:25:41.289093Z"},{"created_at":"2023-12-22T12:25:41.289093Z","id":"e8b29176-dd35-4c77-90c3-b78fab32e4d5","subnet":"fd63:256c:45f7:9b41::/64","updated_at":"2023-12-22T12:25:41.289093Z"}],"tags":[],"updated_at":"2023-12-22T12:25:41.289093Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/379def99-d658-471e-8f6e-6e158c53d881
    method: GET
  response:
    body: '{"created_at":"2023-12-22T12:25:41.289093Z","dhcp_enabled":true,"id":"379def99-d658-471e-8f6e-6e158c53d881","name":"test-pool-kubelet-args","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-22T12:25:41.289093Z","id":"1fa6c8b5-be05-4bd6-afab-6e2160c8ae78","subnet":"172.16.12.0/22","updated_at":"2023-12-22T12:25:41.289093Z"},{"created_at":"2023-12-22T12:25:41.289093Z","id":"e8b29176-dd35-4c77-90c3-b78fab32e4d5","subnet":"fd63:256c:45f7:9b41::/64","updated_at":"2023-12-22T12:25:41.289093Z"}],"tags":[],"updated_at":"2023-12-22T12:25:41.289093Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-kubelet-args","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"379def99-d658-471e-8f6e-6e158c53d881"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://303e06ac-bdc2-4a8d-8cf0-71801115693f.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-22T12:25:43.014463155Z","created_at":"2023-12-22T12:25:43.014463155Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.303e06ac-bdc2-4a8d-8cf0-71801115693f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"303e06ac-bdc2-4a8d-8cf0-71801115693f","ingress":"none","name":"test-pool-kubelet-args","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"379def99-d658-471e-8f6e-6e158c53d881","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"type":"kapsule","updated_at":"2023-12-22T12:25:43.028105300Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/303e06ac-bdc2-4a8d-8cf0-71801115693f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/303e06ac-bdc2-4a8d-8cf0-71801115693f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1rdWJlbGV0LWFyZ3MiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFVU1hsTlZFVjVUV3BWTUU1R2IxaEVWRTE2VFZSSmVVMVVSWGxOYWxVd1RrWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJ[...]
[...]
- request:
    body: '{"name":"test-pool-kubelet-args","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"kubelet_args":{"maxPods":"1337"},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/303e06ac-bdc2-4a8d-8cf0-71801115693f/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"303e06ac-bdc2-4a8d-8cf0-71801115693f","container_runtime":"containerd","created_at":"2023-12-22T12:25:48.383268Z","id":"c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2023-12-22T12:25:48.398518140Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"303e06ac-bdc2-4a8d-8cf0-71801115693f","container_runtime":"containerd","created_at":"2023-12-22T12:25:48.383268Z","id":"c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2","kubelet_args":{"maxPods":"1337"},"max_size":1,"min_size":1,"name":"test-pool-kubelet-args","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"updated_at":"2023-12-22T12:25:48.398518Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/303e06ac-bdc2-4a8d-8cf0-71801115693f/nodes?order_by=created_at_asc&page=1&pool_id=c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"303e06ac-bdc2-4a8d-8cf0-71801115693f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-22T12:28:50.857091Z","error_message":null,"id":"92395fac-990b-4f6e-a36d-9a02551e447a","name":"scw-test-pool-kubelet-test-pool-kubelet-92395f","pool_id":"c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2","provider_id":"scaleway://instance/fr-par-1/48a2985d-2ea9-4884-9542-dfc0d60003a4","public_ip_v4":"163.172.141.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-22T12:31:42.551900Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/303e06ac-bdc2-4a8d-8cf0-71801115693f/nodes?order_by=created_at_asc&page=1&pool_id=c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"303e06ac-bdc2-4a8d-8cf0-71801115693f","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-22T12:28:50.857091Z","error_message":null,"id":"92395fac-990b-4f6e-a36d-9a02551e447a","name":"scw-test-pool-kubelet-test-pool-kubelet-92395f","pool_id":"c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2","provider_id":"scaleway://instance/fr-par-1/48a2985d-2ea9-4884-9542-dfc0d60003a4","public_ip_v4":"163.172.141.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-22T12:31:45.027526Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"c88e4dcb-647f-43e2-a4ed-1c0d7fb56de2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/303e06ac-bdc2-4a8d-8cf0-71801115693f?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
