---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-13T16:39:47.032043Z","dhcp_enabled":true,"id":"160fa1a0-4945-4225-a3de-df20c40648a7","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:39:47.032043Z","id":"40a574e9-4193-498d-ae4f-cdae6d6c76bd","subnet":"172.16.4.0/22","updated_at":"2023-10-13T16:39:47.032043Z"},{"created_at":"2023-10-13T16:39:47.032043Z","id":"731139e3-8cb3-427b-9d08-15d98200d104","subnet":"fd63:256c:45f7:97b7::/64","updated_at":"2023-10-13T16:39:47.032043Z"}],"tags":[],"updated_at":"2023-10-13T16:39:47.032043Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/160fa1a0-4945-4225-a3de-df20c40648a7
    method: GET
  response:
    body: '{"created_at":"2023-10-13T16:39:47.032043Z","dhcp_enabled":true,"id":"160fa1a0-4945-4225-a3de-df20c40648a7","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:39:47.032043Z","id":"40a574e9-4193-498d-ae4f-cdae6d6c76bd","subnet":"172.16.4.0/22","updated_at":"2023-10-13T16:39:47.032043Z"},{"created_at":"2023-10-13T16:39:47.032043Z","id":"731139e3-8cb3-427b-9d08-15d98200d104","subnet":"fd63:256c:45f7:97b7::/64","updated_at":"2023-10-13T16:39:47.032043Z"}],"tags":[],"updated_at":"2023-10-13T16:39:47.032043Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"160fa1a0-4945-4225-a3de-df20c40648a7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-10-13T16:39:48.130266330Z","created_at":"2023-10-13T16:39:48.130266330Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e","ingress":"none","name":"private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"160fa1a0-4945-4225-a3de-df20c40648a7","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","public_ip"],"type":"kapsule","updated_at":"2023-10-13T16:39:48.143092189Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInByaXZhdGUtbmV0d29yay1jbHVzdGVyIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVFYaE5ha1V5VFhwck1FOVdiMWhFVkUxNlRWUkJlRTFxUlRKTmVtc3dUMVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e","container_runtime":"containerd","created_at":"2023-10-13T16:39:53.559754Z","id":"bb91e99d-5ba7-4073-bade-3d3d1b75dc8c","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-13T16:39:53.568881380Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bb91e99d-5ba7-4073-bade-3d3d1b75dc8c
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e","container_runtime":"containerd","created_at":"2023-10-13T16:39:53.559754Z","id":"bb91e99d-5ba7-4073-bade-3d3d1b75dc8c","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-10-13T16:39:53.568881Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e/nodes?order_by=created_at_asc&page=1&pool_id=bb91e99d-5ba7-4073-bade-3d3d1b75dc8c&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-13T16:41:15.990110Z","error_message":null,"id":"37b6afe1-aca0-4792-90f4-0416c78bd8ed","name":"scw-private-network-cluster-pool-37b6afe1aca04","pool_id":"bb91e99d-5ba7-4073-bade-3d3d1b75dc8c","provider_id":"scaleway://instance/fr-par-1/2fa5c836-c7f1-4f08-bedd-0ffdc13ee35b","public_ip_v4":"163.172.164.36","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-13T16:45:18.154355Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e/nodes?order_by=created_at_asc&pool_id=bb91e99d-5ba7-4073-bade-3d3d1b75dc8c&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-13T16:41:15.990110Z","error_message":null,"id":"37b6afe1-aca0-4792-90f4-0416c78bd8ed","name":"scw-private-network-cluster-pool-37b6afe1aca04","pool_id":"bb91e99d-5ba7-4073-bade-3d3d1b75dc8c","provider_id":"scaleway://instance/fr-par-1/2fa5c836-c7f1-4f08-bedd-0ffdc13ee35b","public_ip_v4":"163.172.164.36","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-13T16:45:18.154355Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2fa5c836-c7f1-4f08-bedd-0ffdc13ee35b
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-10-13T16:41:16.592283+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-private-network-cluster-pool-37b6afe1aca04","id":"2fa5c836-c7f1-4f08-bedd-0ffdc13ee35b","image":{"arch":"x86_64","creation_date":"2023-10-05T10:50:51.838301+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"8795d4a3-0918-41f3-b119-03a7effbdd8f","modification_date":"2023-10-05T11:06:46.734414+00:00","name":"k8s_base_node_2023-09-27.6","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"23e4a5ca-9587-4556-8eee-34cafe7b43cc","name":"k8s_base_node_2023-09-27.6","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:638:1b03::1","gateway":"2001:bc8:638:1b03::","netmask":"64"},"location":{"cluster_id":"28","hypervisor_id":"1402","node_id":"4","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:28:b1:8d","maintenances":[],"modification_date":"2023-10-13T16:41:31.808107+00:00","name":"scw-private-network-cluster-pool-37b6afe1aca04","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.66.70.199","private_nics":[{"creation_date":"2023-10-13T16:41:17.071826+00:00","id":"b4d2ed41-cf89-43a3-8f4b-2a7713c81047","mac_address":"02:00:00:14:3a:53","modification_date":"2023-10-13T16:41:17.974228+00:00","private_network_id":"160fa1a0-4945-4225-a3de-df20c40648a7","server_id":"2fa5c836-c7f1-4f08-bedd-0ffdc13ee35b","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"163.172.164.36","dynamic":true,"family":"inet","gateway":null,"id":"56524145-6f45-47eb-a301-46ecb9edc884","netmask":"32","provisioning_mode":"dhcp","tags":[]},"public_ips":[{"address":"163.172.164.36","dynamic":true,"family":"inet","gateway":null,"id":"56524145-6f45-47eb-a301-46ecb9edc884","netmask":"32","provisioning_mode":"dhcp","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"44e4f345-a9c0-4460-8a89-e19be6040633","name":"kubernetes
      af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e","pool=bb91e99d-5ba7-4073-bade-3d3d1b75dc8c","pool-name=pool","runtime=containerd","managed=true","node=37b6afe1-aca0-4792-90f4-0416c78bd8ed"],"volumes":{"0":{"boot":false,"creation_date":"2023-10-13T16:41:16.592283+00:00","export_uri":null,"id":"7cb871d1-cf98-4954-8e39-63cdbafff427","modification_date":"2023-10-13T16:41:16.592283+00:00","name":"k8s_base_node_2023-09-27.6","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"2fa5c836-c7f1-4f08-bedd-0ffdc13ee35b","name":"scw-private-network-cluster-pool-37b6afe1aca04"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.0.0/22","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-10-13T16:45:26.640477Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8eb8761b-b46c-48a9-bd1a-f9ff5046cfca","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-13T16:45:26.640477Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/8eb8761b-b46c-48a9-bd1a-f9ff5046cfca
    method: GET
  response:
    body: '{"address":"192.168.0.1","created_at":"2023-10-13T16:45:26.640477Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8eb8761b-b46c-48a9-bd1a-f9ff5046cfca","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-13T16:45:26.640477Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"public-gateway-for-public-ip","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-13T16:45:27.260199Z","gateway_networks":[],"id":"7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5","ip":{"address":"163.172.133.160","created_at":"2023-10-13T16:45:27.233768Z","gateway_id":"7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5","id":"fd3ec228-0dea-47a7-b9cc-51760411f601","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"160-133-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-10-13T16:45:27.233768Z","zone":"fr-par-1"},"name":"public-gateway-for-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-13T16:45:27.260199Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-13T16:45:27.260199Z","gateway_networks":[],"id":"7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5","ip":{"address":"163.172.133.160","created_at":"2023-10-13T16:45:27.233768Z","gateway_id":"7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5","id":"fd3ec228-0dea-47a7-b9cc-51760411f601","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"160-133-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-10-13T16:45:27.233768Z","zone":"fr-par-1"},"name":"public-gateway-for-public-ip","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-13T16:45:27.315680Z","upstream_dns_servers":[],"version":"0.6.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5","private_network_id":"160fa1a0-4945-4225-a3de-df20c40648a7","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"8eb8761b-b46c-48a9-bd1a-f9ff5046cfca"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-10-13T16:45:34.211630Z","dhcp":{"address":"192.168.0.1","created_at":"2023-10-13T16:45:26.640477Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8eb8761b-b46c-48a9-bd1a-f9ff5046cfca","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-13T16:45:26.640477Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5","id":"3c8c066e-1871-4cf5-9680-3685a4ff7ed6","mac_address":null,"private_network_id":"160fa1a0-4945-4225-a3de-df20c40648a7","status":"created","updated_at":"2023-10-13T16:45:34.211630Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/3c8c066e-1871-4cf5-9680-3685a4ff7ed6
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-10-13T16:45:34.211630Z","dhcp":{"address":"192.168.0.1","created_at":"2023-10-13T16:45:26.640477Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"8eb8761b-b46c-48a9-bd1a-f9ff5046cfca","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.3.254","pool_low":"192.168.0.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.0.0/22","updated_at":"2023-10-13T16:45:26.640477Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5","id":"3c8c066e-1871-4cf5-9680-3685a4ff7ed6","mac_address":"02:00:00:14:3A:54","private_network_id":"160fa1a0-4945-4225-a3de-df20c40648a7","status":"ready","updated_at":"2023-10-13T16:45:37.875796Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"cluster-for-public-ip","description":null,"tags":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null},"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e
    method: PATCH
  response:
    body: '{"admissi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"af9c8c87-88c0-42fa-abad-c7d2b5cb8d7e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/3c8c066e-1871-4cf5-9680-3685a4ff7ed6?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/7ddccc3f-323e-4cb4-8f48-9c4d1db5a8d5?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
