---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.0","name":"1.28.0","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-01T16:15:56.801853Z","dhcp_enabled":true,"id":"a90615d9-6cf4-478e-8d09-ecdad4cf1285","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-09-01T16:15:56.801853Z","id":"f59ce9c8-cab7-48ef-9139-372f95049d7e","subnet":"172.16.20.0/22","updated_at":"2023-09-01T16:15:56.801853Z"},{"created_at":"2023-09-01T16:15:56.801853Z","id":"fe5e2026-4224-4e4f-a915-3663bbdd164a","subnet":"fd63:256c:45f7:aaf5::/64","updated_at":"2023-09-01T16:15:56.801853Z"}],"tags":[],"updated_at":"2023-09-01T16:15:56.801853Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a90615d9-6cf4-478e-8d09-ecdad4cf1285
    method: GET
  response:
    body: '{"created_at":"2023-09-01T16:15:56.801853Z","dhcp_enabled":true,"id":"a90615d9-6cf4-478e-8d09-ecdad4cf1285","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-09-01T16:15:56.801853Z","id":"f59ce9c8-cab7-48ef-9139-372f95049d7e","subnet":"172.16.20.0/22","updated_at":"2023-09-01T16:15:56.801853Z"},{"created_at":"2023-09-01T16:15:56.801853Z","id":"fe5e2026-4224-4e4f-a915-3663bbdd164a","subnet":"fd63:256c:45f7:aaf5::/64","updated_at":"2023-09-01T16:15:56.801853Z"}],"tags":[],"updated_at":"2023-09-01T16:15:56.801853Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.28.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"a90615d9-6cf4-478e-8d09-ecdad4cf1285"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://58da6819-652e-45a5-b7b4-b105cf8fafec.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-09-01T16:15:58.399537753Z","created_at":"2023-09-01T16:15:58.399537753Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.58da6819-652e-45a5-b7b4-b105cf8fafec.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"58da6819-652e-45a5-b7b4-b105cf8fafec","ingress":"none","name":"private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"a90615d9-6cf4-478e-8d09-ecdad4cf1285","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-09-01T16:15:58.425921577Z","upgrade_available":false,"version":"1.28.0"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/58da6819-652e-45a5-b7b4-b105cf8fafec
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/58da6819-652e-45a5-b7b4-b105cf8fafec/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInByaXZhdGUtbmV0d29yay1jbHVzdGVyIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVozcE5WRVV5VFZSVk1VOVdiMWhFVkUxNlRVUm5lazFVUlRKTlZGVXhUMVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/58da6819-652e-45a5-b7b4-b105cf8fafec/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"58da6819-652e-45a5-b7b4-b105cf8fafec","container_runtime":"containerd","created_at":"2023-09-01T16:16:04.102479Z","id":"38806df1-8d7a-47c8-8d3a-ee28a1b36e08","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-09-01T16:16:04.111467930Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/38806df1-8d7a-47c8-8d3a-ee28a1b36e08
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"58da6819-652e-45a5-b7b4-b105cf8fafec","container_runtime":"containerd","created_at":"2023-09-01T16:16:04.102479Z","id":"38806df1-8d7a-47c8-8d3a-ee28a1b36e08","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-09-01T16:16:04.111468Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/58da6819-652e-45a5-b7b4-b105cf8fafec/nodes?order_by=created_at_asc&page=1&pool_id=38806df1-8d7a-47c8-8d3a-ee28a1b36e08&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"58da6819-652e-45a5-b7b4-b105cf8fafec","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-09-01T16:17:18.185928Z","error_message":null,"id":"802a2b37-5044-4cb6-8700-cf13863cbf5f","name":"scw-private-network-cluster-pool-802a2b3750444","pool_id":"38806df1-8d7a-47c8-8d3a-ee28a1b36e08","provider_id":"scaleway://instance/fr-par-1/bc9351d9-84a6-4b47-a3d3-fe6c2512c541","public_ip_v4":"51.158.79.120","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-09-01T16:21:15.007791Z"},{"cluster_id":"58da6819-652e-45a5-b7b4-b105cf8fafec","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-09-01T16:17:30.289140Z","error_message":null,"id":"cad5470e-3989-447a-a6aa-44567ef4acce","name":"scw-private-network-cluster-pool-cad5470e39894","pool_id":"38806df1-8d7a-47c8-8d3a-ee28a1b36e08","provider_id":"scaleway://instance/fr-par-1/0430d7c9-8c83-4489-8543-77fc1041bb21","public_ip_v4":"51.15.211.1","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-09-01T16:21:15.021540Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/58da6819-652e-45a5-b7b4-b105cf8fafec/nodes?order_by=created_at_asc&pool_id=38806df1-8d7a-47c8-8d3a-ee28a1b36e08&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"58da6819-652e-45a5-b7b4-b105cf8fafec","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/bc9351d9-84a6-4b47-a3d3-fe6c2512c541
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-09-01T16:17:19.785274+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-private-network-cluster-pool-802a2b3750444","id":"bc9351d9-84a6-4b47-a3d3-fe6c2512c541","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:8901::1","gateway":"2001:bc8:610:8901::","netmask":"64"},"location":{"cluster_id":"52","hypervisor_id":"503","node_id":"2","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:23:12:97","maintenances":[],"modification_date":"2023-09-01T16:17:42.002563+00:00","name":"scw-private-network-cluster-pool-802a2b3750444","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.89.3","private_nics":[{"creation_date":"2023-09-01T16:17:21.163119+00:00","id":"8ed0efc6-ebe6-4262-81a6-1badafb944b5","mac_address":"02:00:00:13:c4:75","modification_date":"2023-09-01T16:17:24.313472+00:00","private_network_id":"a90615d9-6cf4-478e-8d09-ecdad4cf1285","server_id":"bc9351d9-84a6-4b47-a3d3-fe6c2512c541","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.79.120","dynamic":true,"family":"inet","gateway":null,"id":"78d361b7-6c7d-44f0-9176-ad85c1726d1b","netmask":"32","provisioning_mode":"dhcp"},"public_ips":[{"address":"51.158.79.120","dynamic":true,"family":"inet","gateway":null,"id":"78d361b7-6c7d-44f0-9176-ad85c1726d1b","netmask":"32","provisioning_mode":"dhcp"}],"routed_ip_enabled":false,"security_group":{"id":"d8491b6d-3845-4578-b5df-a3852b0c2897","name":"kubernetes
      58da6819-652e-45a5-b7b4-b105cf8fafec"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=58da6819-652e-45a5-b7b4-b105cf8fafec","pool=38806df1-8d7a-47c8-8d3a-ee28a1b36e08","pool-name=pool","runtime=containerd","managed=true","node=802a2b37-5044-4cb6-8700-cf13863cbf5f"],"volumes":{"0":{"boot":false,"creation_date":"2023-09-01T16:17:19.785274+00:00","export_uri":null,"id":"1d25c91c-1d8e-4b6b-99d3-2918b3e4dadb","modification_date":"2023-09-01T16:17:19.785274+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"bc9351d9-84a6-4b47-a3d3-fe6c2512c541","name":"scw-private-network-cluster-pool-802a2b3750444"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/58da6819-652e-45a5-b7b4-b105cf8fafec?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/58da6819-652e-45a5-b7b4-b105cf8fafec
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"58da6819-652e-45a5-b7b4-b105cf8fafec","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
