---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"bdc00a8b-0c03-4692-a92c-e4434b303f4d","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/bdc00a8b-0c03-4692-a92c-e4434b303f4d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"tf-pn-musing-jennings","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-13T15:22:02.981995Z","id":"d613faf4-a470-4650-8d9b-fbd722d1385f","name":"tf-pn-musing-jennings","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:22:02.981995Z","id":"d6e657f5-a874-4cf8-a419-8ebdc2afc1a1","subnet":"172.16.20.0/22","updated_at":"2023-06-13T15:22:02.981995Z"},{"created_at":"2023-06-13T15:22:02.981995Z","id":"463fcd59-ae39-4f9c-9ea9-9c8d6638ad8e","subnet":"fd63:256c:45f7:9d9b::/64","updated_at":"2023-06-13T15:22:02.981995Z"}],"tags":[],"updated_at":"2023-06-13T15:22:02.981995Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/bdc00a8b-0c03-4692-a92c-e4434b303f4d
    method: GET
  response:
    body: '{"placement_group":{"id":"bdc00a8b-0c03-4692-a92c-e4434b303f4d","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d613faf4-a470-4650-8d9b-fbd722d1385f
    method: GET
  response:
    body: '{"created_at":"2023-06-13T15:22:02.981995Z","id":"d613faf4-a470-4650-8d9b-fbd722d1385f","name":"tf-pn-musing-jennings","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:22:02.981995Z","id":"d6e657f5-a874-4cf8-a419-8ebdc2afc1a1","subnet":"172.16.20.0/22","updated_at":"2023-06-13T15:22:02.981995Z"},{"created_at":"2023-06-13T15:22:02.981995Z","id":"463fcd59-ae39-4f9c-9ea9-9c8d6638ad8e","subnet":"fd63:256c:45f7:9d9b::/64","updated_at":"2023-06-13T15:22:02.981995Z"}],"tags":[],"updated_at":"2023-06-13T15:22:02.981995Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"d613faf4-a470-4650-8d9b-fbd722d1385f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a887510f-6d70-47d0-ab07-81829a94f4ad.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-06-13T15:22:03.399660521Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.a887510f-6d70-47d0-ab07-81829a94f4ad.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"a887510f-6d70-47d0-ab07-81829a94f4ad","ingress":"none","name":"placement_group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d613faf4-a470-4650-8d9b-fbd722d1385f","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-06-13T15:22:03.411552703Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a887510f-6d70-47d0-ab07-81829a94f4ad
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a887510f-6d70-47d0-ab07-81829a94f4ad/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVXWGhOYWtVeFRXcEpkMDVzYjFoRVZFMTZUVVJaZUUxcVJURk5ha2wzVG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"bdc00a8b-0c03-4692-a92c-e4434b303f4d","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a887510f-6d70-47d0-ab07-81829a94f4ad/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a887510f-6d70-47d0-ab07-81829a94f4ad","container_runtime":"containerd","created_at":"2023-06-13T15:22:09.586887Z","id":"be3b870d-47b1-4c58-a255-e67d3deccbc8","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"bdc00a8b-0c03-4692-a92c-e4434b303f4d","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:22:09.612512051Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/be3b870d-47b1-4c58-a255-e67d3deccbc8
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a887510f-6d70-47d0-ab07-81829a94f4ad","container_runtime":"containerd","created_at":"2023-06-13T15:22:09.586887Z","id":"be3b870d-47b1-4c58-a255-e67d3deccbc8","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"bdc00a8b-0c03-4692-a92c-e4434b303f4d","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:22:09.612512Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a887510f-6d70-47d0-ab07-81829a94f4ad/nodes?order_by=created_at_asc&page=1&pool_id=be3b870d-47b1-4c58-a255-e67d3deccbc8&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a887510f-6d70-47d0-ab07-81829a94f4ad","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-13T15:23:53.045847Z","error_message":null,"id":"30b3418c-7e63-43d9-84b9-537a087cbd39","name":"scw-placement-group-placement-group-30b3418c7e","pool_id":"be3b870d-47b1-4c58-a255-e67d3deccbc8","provider_id":"scaleway://instance/fr-par-1/55bf9c43-3bbe-45cb-904d-b5280b380076","public_ip_v4":"163.172.190.19","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:26:58.313477Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"7f7bb8f9-9ef2-48f8-ba92-994c18f9916b","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/7f7bb8f9-9ef2-48f8-ba92-994c18f9916b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a887510f-6d70-47d0-ab07-81829a94f4ad?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/7f7bb8f9-9ef2-48f8-ba92-994c18f9916b
    method: GET
  response:
    body: '{"placement_group":{"id":"7f7bb8f9-9ef2-48f8-ba92-994c18f9916b","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a887510f-6d70-47d0-ab07-81829a94f4ad
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a887510f-6d70-47d0-ab07-81829a94f4ad","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-ecstatic-tesla","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-13T15:27:19.498944Z","id":"5d7591ac-e0d0-4215-be04-edea4e11e6cf","name":"tf-pn-ecstatic-tesla","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-06-13T15:27:19.498944Z","id":"674c8340-a366-4f94-9187-cffb2bcc0fd9","subnet":"172.16.0.0/22","updated_at":"2023-06-13T15:27:19.498944Z"},{"created_at":"2023-06-13T15:27:19.498944Z","id":"515156fb-60d1-437a-a506-7ae33eeb21d7","subnet":"fd68:d440:21c4:251a::/64","updated_at":"2023-06-13T15:27:19.498944Z"}],"tags":[],"updated_at":"2023-06-13T15:27:19.498944Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/5d7591ac-e0d0-4215-be04-edea4e11e6cf
    method: GET
  response:
    body: '{"created_at":"2023-06-13T15:27:19.498944Z","id":"5d7591ac-e0d0-4215-be04-edea4e11e6cf","name":"tf-pn-ecstatic-tesla","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-06-13T15:27:19.498944Z","id":"674c8340-a366-4f94-9187-cffb2bcc0fd9","subnet":"172.16.0.0/22","updated_at":"2023-06-13T15:27:19.498944Z"},{"created_at":"2023-06-13T15:27:19.498944Z","id":"515156fb-60d1-437a-a506-7ae33eeb21d7","subnet":"fd68:d440:21c4:251a::/64","updated_at":"2023-06-13T15:27:19.498944Z"}],"tags":[],"updated_at":"2023-06-13T15:27:19.498944Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5c1ea733-0573-43ad-beae-d6456348be5d
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5c1ea733-0573-43ad-beae-d6456348be5d/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWF[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"7f7bb8f9-9ef2-48f8-ba92-994c18f9916b","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5c1ea733-0573-43ad-beae-d6456348be5d/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"5c1ea733-0573-43ad-beae-d6456348be5d","container_runtime":"containerd","created_at":"2023-06-13T15:27:25.988089Z","id":"d7f3d29d-afe5-4e93-ac3c-bc538cb6d7d4","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"7f7bb8f9-9ef2-48f8-ba92-994c18f9916b","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:27:25.996274529Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/d7f3d29d-afe5-4e93-ac3c-bc538cb6d7d4
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"5c1ea733-0573-43ad-beae-d6456348be5d","container_runtime":"containerd","created_at":"2023-06-13T15:27:25.988089Z","id":"d7f3d29d-afe5-4e93-ac3c-bc538cb6d7d4","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"7f7bb8f9-9ef2-48f8-ba92-994c18f9916b","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:27:25.996275Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5c1ea733-0573-43ad-beae-d6456348be5d/nodes?order_by=created_at_asc&page=1&pool_id=d7f3d29d-afe5-4e93-ac3c-bc538cb6d7d4&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"5c1ea733-0573-43ad-beae-d6456348be5d","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-13T15:28:28.584388Z","error_message":null,"id":"428ff117-fa70-4271-97cb-54df7ac548b5","name":"scw-placement-group-placement-group-428ff117fa","pool_id":"d7f3d29d-afe5-4e93-ac3c-bc538cb6d7d4","provider_id":"scaleway://instance/nl-ams-2/d0999b9d-14e7-4c10-821c-46f3931b57d1","public_ip_v4":"51.158.235.248","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-06-13T15:31:11.168954Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/5c1ea733-0573-43ad-beae-d6456348be5d?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
