---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-11-10T13:17:42.343618Z","id":"09b6d4a9-e4aa-4b14-a106-3ba9b5e8596c","is_default":false,"name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","tags":[],"updated_at":"2023-11-10T13:17:42.343618Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/09b6d4a9-e4aa-4b14-a106-3ba9b5e8596c
    method: GET
  response:
    body: '{"created_at":"2023-11-10T13:17:42.343618Z","id":"09b6d4a9-e4aa-4b14-a106-3ba9b5e8596c","is_default":false,"name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","tags":[],"updated_at":"2023-11-10T13:17:42.343618Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":"09b6d4a9-e4aa-4b14-a106-3ba9b5e8596c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-10T13:17:42.602847Z","dhcp_enabled":true,"id":"3ad9e923-b5ae-4680-b796-7d4a3cd12b96","name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:17:42.602847Z","id":"3270d81e-9182-44bf-9a3d-f1406419d094","subnet":"172.16.40.0/22","updated_at":"2023-11-10T13:17:42.602847Z"},{"created_at":"2023-11-10T13:17:42.602847Z","id":"296f03bb-e3ae-4461-8593-beb5fd2f5374","subnet":"fd63:256c:45f7:e86::/64","updated_at":"2023-11-10T13:17:42.602847Z"}],"tags":[],"updated_at":"2023-11-10T13:17:42.602847Z","vpc_id":"09b6d4a9-e4aa-4b14-a106-3ba9b5e8596c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3ad9e923-b5ae-4680-b796-7d4a3cd12b96
    method: GET
  response:
    body: '{"created_at":"2023-11-10T13:17:42.602847Z","dhcp_enabled":true,"id":"3ad9e923-b5ae-4680-b796-7d4a3cd12b96","name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:17:42.602847Z","id":"3270d81e-9182-44bf-9a3d-f1406419d094","subnet":"172.16.40.0/22","updated_at":"2023-11-10T13:17:42.602847Z"},{"created_at":"2023-11-10T13:17:42.602847Z","id":"296f03bb-e3ae-4461-8593-beb5fd2f5374","subnet":"fd63:256c:45f7:e86::/64","updated_at":"2023-11-10T13:17:42.602847Z"}],"tags":[],"updated_at":"2023-11-10T13:17:42.602847Z","vpc_id":"09b6d4a9-e4aa-4b14-a106-3ba9b5e8596c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-private-network","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"3ad9e923-b5ae-4680-b796-7d4a3cd12b96"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://e18ab815-ee83-4ebe-bac7-d38309f2ee34.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-10T13:17:44.019604339Z","created_at":"2023-11-10T13:17:44.019604339Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.e18ab815-ee83-4ebe-bac7-d38309f2ee34.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"e18ab815-ee83-4ebe-bac7-d38309f2ee34","ingress":"none","name":"test-k8s-private-network","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"3ad9e923-b5ae-4680-b796-7d4a3cd12b96","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-11-10T13:17:44.107244764Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e18ab815-ee83-4ebe-bac7-d38309f2ee34
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e18ab815-ee83-4ebe-bac7-d38309f2ee34/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXByaXZhdGUtbmV0d29yayIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGRQVkVWNlRWUmpNRTVXYjFoRVZFMTZUVlJGZDA5VVJYcE5WR013VGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e18ab815-ee83-4ebe-bac7-d38309f2ee34/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"e18ab815-ee83-4ebe-bac7-d38309f2ee34","container_runtime":"containerd","created_at":"2023-11-10T13:17:49.795890Z","id":"7a52bea8-c6c2-488b-b862-69cd40b132fb","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-11-10T13:17:49.805321315Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7a52bea8-c6c2-488b-b862-69cd40b132fb
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"e18ab815-ee83-4ebe-bac7-d38309f2ee34","container_runtime":"containerd","created_at":"2023-11-10T13:17:49.795890Z","id":"7a52bea8-c6c2-488b-b862-69cd40b132fb","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-11-10T13:17:49.805321Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e18ab815-ee83-4ebe-bac7-d38309f2ee34/nodes?order_by=created_at_asc&page=1&pool_id=7a52bea8-c6c2-488b-b862-69cd40b132fb&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"e18ab815-ee83-4ebe-bac7-d38309f2ee34","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:19:49.388335Z","error_message":null,"id":"820af0ac-007e-400d-b856-87e81a7bfd56","name":"scw-test-k8s-private-network-pool-820af0ac007e","pool_id":"7a52bea8-c6c2-488b-b862-69cd40b132fb","provider_id":"scaleway://instance/fr-par-1/d2b80a20-6488-4d84-b9c2-830f42da3c57","public_ip_v4":"51.158.124.49","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:22:43.726330Z"},{"cluster_id":"e18ab815-ee83-4ebe-bac7-d38309f2ee34","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:19:53.487260Z","error_message":null,"id":"83aff596-aac4-4a1d-9103-490deb1f720a","name":"scw-test-k8s-private-network-pool-83aff596aac4","pool_id":"7a52bea8-c6c2-488b-b862-69cd40b132fb","provider_id":"scaleway://instance/fr-par-1/8f1b5bb9-e8e5-47dc-8f89-ecb853d345d0","public_ip_v4":"163.172.164.36","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:22:43.744750Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e18ab815-ee83-4ebe-bac7-d38309f2ee34/nodes?order_by=created_at_asc&pool_id=7a52bea8-c6c2-488b-b862-69cd40b132fb&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"e18ab815-ee83-4ebe-bac7-d38309f2ee34","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d2b80a20-6488-4d84-b9c2-830f42da3c57
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-11-10T13:19:50.111164+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-private-network-pool-820af0ac007e","id":"d2b80a20-6488-4d84-b9c2-830f42da3c57","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:4750:1e06::1","gateway":"2001:bc8:4750:1e06::","netmask":"64"},"location":{"cluster_id":"5","hypervisor_id":"1601","node_id":"7","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:2c:e4:43","maintenances":[],"modification_date":"2023-11-10T13:20:06.608290+00:00","name":"scw-test-k8s-private-network-pool-820af0ac007e","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.12.175.141","private_nics":[{"creation_date":"2023-11-10T13:19:50.608872+00:00","id":"5631ea55-b9ae-4178-b445-1d87baacf731","mac_address":"02:00:00:14:b3:b8","modification_date":"2023-11-10T13:19:51.339548+00:00","private_network_id":"3ad9e923-b5ae-4680-b796-7d4a3cd12b96","server_id":"d2b80a20-6488-4d84-b9c2-830f42da3c57","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.124.49","dynamic":true,"family":"inet","gateway":null,"id":"aedf18d3-8492-404a-9deb-549f192a686c","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.158.124.49","dynamic":true,"family":"inet","gateway":null,"id":"aedf18d3-8492-404a-9deb-549f192a686c","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"704fa895-4414-4231-863a-3ed89d86eebd","name":"kubernetes
      e18ab815-ee83-4ebe-bac7-d38309f2ee34"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=e18ab815-ee83-4ebe-bac7-d38309f2ee34","pool=7a52bea8-c6c2-488b-b862-69cd40b132fb","pool-name=pool","runtime=containerd","managed=true","node=820af0ac-007e-400d-b856-87e81a7bfd56"],"volumes":{"0":{"boot":false,"creation_date":"2023-11-10T13:19:50.111164+00:00","export_uri":null,"id":"01fb87c2-208e-4a2b-8285-4c40e935300c","modification_date":"2023-11-10T13:19:50.111164+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"d2b80a20-6488-4d84-b9c2-830f42da3c57","name":"scw-test-k8s-private-network-pool-820af0ac007e"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7a52bea8-c6c2-488b-b862-69cd40b132fb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"7a52bea8-c6c2-488b-b862-69cd40b132fb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e18ab815-ee83-4ebe-bac7-d38309f2ee34?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
