---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:49:50.750080Z","dhcp_enabled":true,"id":"adb8e568-6480-4b18-8b5c-3657e59e7a65","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:50.750080Z","id":"0ba95cf8-45ba-4034-a2d0-045b3eb427fa","subnet":"172.16.60.0/22","updated_at":"2023-11-07T15:49:50.750080Z"},{"created_at":"2023-11-07T15:49:50.750080Z","id":"118694f9-3fe6-4789-b1fd-522e5b081392","subnet":"fd5f:519c:6d46:6cdc::/64","updated_at":"2023-11-07T15:49:50.750080Z"}],"tags":[],"updated_at":"2023-11-07T15:49:50.750080Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/adb8e568-6480-4b18-8b5c-3657e59e7a65
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:49:50.750080Z","dhcp_enabled":true,"id":"adb8e568-6480-4b18-8b5c-3657e59e7a65","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:50.750080Z","id":"0ba95cf8-45ba-4034-a2d0-045b3eb427fa","subnet":"172.16.60.0/22","updated_at":"2023-11-07T15:49:50.750080Z"},{"created_at":"2023-11-07T15:49:50.750080Z","id":"118694f9-3fe6-4789-b1fd-522e5b081392","subnet":"fd5f:519c:6d46:6cdc::/64","updated_at":"2023-11-07T15:49:50.750080Z"}],"tags":[],"updated_at":"2023-11-07T15:49:50.750080Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"adb8e568-6480-4b18-8b5c-3657e59e7a65"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1503e629-8dba-4e99-8960-e6f808f6c819.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-07T15:49:52.856393484Z","created_at":"2023-11-07T15:49:52.856393484Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.1503e629-8dba-4e99-8960-e6f808f6c819.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"1503e629-8dba-4e99-8960-e6f808f6c819","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"adb8e568-6480-4b18-8b5c-3657e59e7a65","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-11-07T15:49:52.868916169Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1503e629-8dba-4e99-8960-e6f808f6c819
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1503e629-8dba-4e99-8960-e6f808f6c819/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYZE9ha1V4VGtSck1VNUdiMWhFVkUxNlRWUkZkMDVxUlRGT1JHc3hUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1503e629-8dba-4e99-8960-e6f808f6c819/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"1503e629-8dba-4e99-8960-e6f808f6c819","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.333551Z","id":"183e6c65-4884-4dd9-8252-5d4e66a2172f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.342692758Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/183e6c65-4884-4dd9-8252-5d4e66a2172f
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"1503e629-8dba-4e99-8960-e6f808f6c819","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.333551Z","id":"183e6c65-4884-4dd9-8252-5d4e66a2172f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.342693Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1503e629-8dba-4e99-8960-e6f808f6c819/nodes?order_by=created_at_asc&page=1&pool_id=183e6c65-4884-4dd9-8252-5d4e66a2172f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1503e629-8dba-4e99-8960-e6f808f6c819","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:51:46.900209Z","error_message":null,"id":"fce7c559-26ef-4f5d-9d15-b3eb6fb9a512","name":"scw-test-pool-wait-test-pool-wait-fce7c55926ef","pool_id":"183e6c65-4884-4dd9-8252-5d4e66a2172f","provider_id":"scaleway://instance/fr-par-1/0b2e1b88-152b-43d2-980b-40f8d38acf79","public_ip_v4":"51.15.204.118","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:54:04.868347Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1503e629-8dba-4e99-8960-e6f808f6c819/nodes?order_by=created_at_asc&page=1&pool_id=183e6c65-4884-4dd9-8252-5d4e66a2172f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1503e629-8dba-4e99-8960-e6f808f6c819","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:51:46.900209Z","error_message":null,"id":"fce7c559-26ef-4f5d-9d15-b3eb6fb9a512","name":"scw-test-pool-wait-test-pool-wait-fce7c55926ef","pool_id":"183e6c65-4884-4dd9-8252-5d4e66a2172f","provider_id":"scaleway://instance/fr-par-1/0b2e1b88-152b-43d2-980b-40f8d38acf79","public_ip_v4":"51.15.204.118","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:56:54.823191Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f1ca093a-20e5-4b4c-a4f9-d813489a65f2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"f1ca093a-20e5-4b4c-a4f9-d813489a65f2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1503e629-8dba-4e99-8960-e6f808f6c819?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
