---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-crazy-shockley","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-13T15:16:17.311004Z","id":"dccc4749-5d53-4332-9dec-c46bb4ea1302","name":"tf-pn-crazy-shockley","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:17.311004Z","id":"b7e41b59-ed7f-4f6c-a9a0-f076d0e856e5","subnet":"172.16.28.0/22","updated_at":"2023-06-13T15:16:17.311004Z"},{"created_at":"2023-06-13T15:16:17.311004Z","id":"051164a3-7309-484f-af68-955c6070fcf8","subnet":"fd63:256c:45f7:9173::/64","updated_at":"2023-06-13T15:16:17.311004Z"}],"tags":[],"updated_at":"2023-06-13T15:16:17.311004Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dccc4749-5d53-4332-9dec-c46bb4ea1302
    method: GET
  response:
    body: '{"created_at":"2023-06-13T15:16:17.311004Z","id":"dccc4749-5d53-4332-9dec-c46bb4ea1302","name":"tf-pn-crazy-shockley","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:17.311004Z","id":"b7e41b59-ed7f-4f6c-a9a0-f076d0e856e5","subnet":"172.16.28.0/22","updated_at":"2023-06-13T15:16:17.311004Z"},{"created_at":"2023-06-13T15:16:17.311004Z","id":"051164a3-7309-484f-af68-955c6070fcf8","subnet":"fd63:256c:45f7:9173::/64","updated_at":"2023-06-13T15:16:17.311004Z"}],"tags":[],"updated_at":"2023-06-13T15:16:17.311004Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"PoolConfigWait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"dccc4749-5d53-4332-9dec-c46bb4ea1302"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-06-13T15:16:17.641772747Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae","ingress":"none","name":"PoolConfigWait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"dccc4749-5d53-4332-9dec-c46bb4ea1302","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-06-13T15:16:17.655246469Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBvb2xjb25maWd3YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha1V4VFZSWmVFOVdiMWhFVkUxNlRVUlplRTFxUlRGTlZGbDRUMVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae","container_runtime":"containerd","created_at":"2023-06-13T15:16:23.311328Z","id":"a6cea5a1-7ae7-486e-8f77-7ad8c5971054","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:16:23.322440748Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a6cea5a1-7ae7-486e-8f77-7ad8c5971054
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae","container_runtime":"containerd","created_at":"2023-06-13T15:16:23.311328Z","id":"a6cea5a1-7ae7-486e-8f77-7ad8c5971054","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:16:23.322441Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae/nodes?order_by=created_at_asc&page=1&pool_id=a6cea5a1-7ae7-486e-8f77-7ad8c5971054&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-13T15:18:41.631035Z","error_message":null,"id":"4cb009e6-43c7-4042-a365-a64ceefa05c1","name":"scw-poolconfigwait-default-4cb009e643c74042a36","pool_id":"a6cea5a1-7ae7-486e-8f77-7ad8c5971054","provider_id":"scaleway://instance/fr-par-1/d26c9a91-1e8a-4fc9-8cba-4298ec54f484","public_ip_v4":"51.158.124.49","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:21:03.414414Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae/nodes?order_by=created_at_asc&page=1&pool_id=a6cea5a1-7ae7-486e-8f77-7ad8c5971054&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-06-13T15:18:41.631035Z","error_message":null,"id":"4cb009e6-43c7-4042-a365-a64ceefa05c1","name":"scw-poolconfigwait-default-4cb009e643c74042a36","pool_id":"a6cea5a1-7ae7-486e-8f77-7ad8c5971054","provider_id":"scaleway://instance/fr-par-1/d26c9a91-1e8a-4fc9-8cba-4298ec54f484","public_ip_v4":"51.158.124.49","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:25:25.343890Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"8aee83ff-3fcc-4d2a-82f5-9c6c3f7a2dae","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
