---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T13:51:13.822758Z","dhcp_enabled":true,"id":"dbed4a58-32da-4870-8376-0629a3a5f6b7","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:51:13.822758Z","id":"fc9c7227-841e-4c91-8ca6-b767e00b16eb","subnet":"172.16.40.0/22","updated_at":"2023-11-13T13:51:13.822758Z"},{"created_at":"2023-11-13T13:51:13.822758Z","id":"4c0505d2-09bc-44d3-8f24-6606c2d86d60","subnet":"fd63:256c:45f7:7b5c::/64","updated_at":"2023-11-13T13:51:13.822758Z"}],"tags":[],"updated_at":"2023-11-13T13:51:13.822758Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dbed4a58-32da-4870-8376-0629a3a5f6b7
    method: GET
  response:
    body: '{"created_at":"2023-11-13T13:51:13.822758Z","dhcp_enabled":true,"id":"dbed4a58-32da-4870-8376-0629a3a5f6b7","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:51:13.822758Z","id":"fc9c7227-841e-4c91-8ca6-b767e00b16eb","subnet":"172.16.40.0/22","updated_at":"2023-11-13T13:51:13.822758Z"},{"created_at":"2023-11-13T13:51:13.822758Z","id":"4c0505d2-09bc-44d3-8f24-6606c2d86d60","subnet":"fd63:256c:45f7:7b5c::/64","updated_at":"2023-11-13T13:51:13.822758Z"}],"tags":[],"updated_at":"2023-11-13T13:51:13.822758Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"dbed4a58-32da-4870-8376-0629a3a5f6b7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://c7d579a7-ad18-4b0f-89dd-6b7d3828f69e.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-13T13:51:18.577684205Z","created_at":"2023-11-13T13:51:18.577684205Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.c7d579a7-ad18-4b0f-89dd-6b7d3828f69e.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"c7d579a7-ad18-4b0f-89dd-6b7d3828f69e","ingress":"none","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"dbed4a58-32da-4870-8376-0629a3a5f6b7","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2023-11-13T13:51:18.589193730Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7d579a7-ad18-4b0f-89dd-6b7d3828f69e
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7d579a7-ad18-4b0f-89dd-6b7d3828f69e/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGhOYWtWNlRsUkZlVTFHYjFoRVZFMTZUVlJGZUUxcVJYcE9WRVY1VFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7d579a7-ad18-4b0f-89dd-6b7d3828f69e/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"c7d579a7-ad18-4b0f-89dd-6b7d3828f69e","container_runtime":"containerd","created_at":"2023-11-13T13:51:23.998909Z","id":"7af078ed-83f7-45f2-bd37-f098116c5775","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-11-13T13:51:24.009387913Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7af078ed-83f7-45f2-bd37-f098116c5775
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"c7d579a7-ad18-4b0f-89dd-6b7d3828f69e","container_runtime":"containerd","created_at":"2023-11-13T13:51:23.998909Z","id":"7af078ed-83f7-45f2-bd37-f098116c5775","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-11-13T13:51:24.009388Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7d579a7-ad18-4b0f-89dd-6b7d3828f69e/nodes?order_by=created_at_asc&page=1&pool_id=7af078ed-83f7-45f2-bd37-f098116c5775&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"c7d579a7-ad18-4b0f-89dd-6b7d3828f69e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:53:10.581390Z","error_message":null,"id":"ec5df55c-b0c2-421c-9e24-79d167e9978d","name":"scw-test-pool-upgrade-test-pool-upgrade-ec5df5","pool_id":"7af078ed-83f7-45f2-bd37-f098116c5775","provider_id":"scaleway://instance/fr-par-1/110c3a12-14ef-47f6-850b-31eca03d54df","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T13:56:12.589619Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7d579a7-ad18-4b0f-89dd-6b7d3828f69e/nodes?order_by=created_at_asc&page=1&pool_id=7af078ed-83f7-45f2-bd37-f098116c5775&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"c7d579a7-ad18-4b0f-89dd-6b7d3828f69e","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:53:10.581390Z","error_message":null,"id":"ec5df55c-b0c2-421c-9e24-79d167e9978d","name":"scw-test-pool-upgrade-test-pool-upgrade-ec5df5","pool_id":"7af078ed-83f7-45f2-bd37-f098116c5775","provider_id":"scaleway://instance/fr-par-1/110c3a12-14ef-47f6-850b-31eca03d54df","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T13:56:19.887216Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7af078ed-83f7-45f2-bd37-f098116c5775
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"7af078ed-83f7-45f2-bd37-f098116c5775","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/c7d579a7-ad18-4b0f-89dd-6b7d3828f69e?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
