---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-relaxed-black","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-08T13:34:03.857229Z","id":"cf217024-2012-452f-8b45-b74c6cf5d3bb","name":"tf-pn-relaxed-black","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:34:03.857229Z","id":"7d718b76-5d2e-4bd9-b599-f0a26671b4e8","subnet":"172.16.16.0/22","updated_at":"2023-06-08T13:34:03.857229Z"},{"created_at":"2023-06-08T13:34:03.857229Z","id":"84f4d678-b3e9-4f0d-94b6-12dbfb976a86","subnet":"fd63:256c:45f7:1a24::/64","updated_at":"2023-06-08T13:34:03.857229Z"}],"tags":[],"updated_at":"2023-06-08T13:34:03.857229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cf217024-2012-452f-8b45-b74c6cf5d3bb
    method: GET
  response:
    body: '{"created_at":"2023-06-08T13:34:03.857229Z","id":"cf217024-2012-452f-8b45-b74c6cf5d3bb","name":"tf-pn-relaxed-black","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:34:03.857229Z","id":"7d718b76-5d2e-4bd9-b599-f0a26671b4e8","subnet":"172.16.16.0/22","updated_at":"2023-06-08T13:34:03.857229Z"},{"created_at":"2023-06-08T13:34:03.857229Z","id":"84f4d678-b3e9-4f0d-94b6-12dbfb976a86","subnet":"fd63:256c:45f7:1a24::/64","updated_at":"2023-06-08T13:34:03.857229Z"}],"tags":[],"updated_at":"2023-06-08T13:34:03.857229Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigZone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.27.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"cf217024-2012-452f-8b45-b74c6cf5d3bb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://48409316-ab71-4dab-ac5f-b9b0d773e780.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-06-08T13:34:04.157793023Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.48409316-ab71-4dab-ac5f-b9b0d773e780.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"48409316-ab71-4dab-ac5f-b9b0d773e780","ingress":"none","name":"K8SPoolConfigZone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"cf217024-2012-452f-8b45-b74c6cf5d3bb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2023-06-08T13:34:04.173010351Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/48409316-ab71-4dab-ac5f-b9b0d773e780
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/48409316-ab71-4dab-ac5f-b9b0d773e780/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWd6b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYZE9la1Y2VFhwUmQwNVdiMWhFVkUxNlRVUlpkMDU2UlhwTmVsRjNUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/48409316-ab71-4dab-ac5f-b9b0d773e780/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"48409316-ab71-4dab-ac5f-b9b0d773e780","container_runtime":"containerd","created_at":"2023-06-08T13:34:09.693068Z","id":"d328845a-1784-4829-91c4-97bdde59ce80","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-06-08T13:34:09.701534306Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d328845a-1784-4829-91c4-97bdde59ce80
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"48409316-ab71-4dab-ac5f-b9b0d773e780","container_runtime":"containerd","created_at":"2023-06-08T13:34:09.693068Z","id":"d328845a-1784-4829-91c4-97bdde59ce80","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-06-08T13:34:09.701534Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/48409316-ab71-4dab-ac5f-b9b0d773e780/nodes?order_by=created_at_asc&page=1&pool_id=d328845a-1784-4829-91c4-97bdde59ce80&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"48409316-ab71-4dab-ac5f-b9b0d773e780","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-08T13:36:53.183456Z","error_message":null,"id":"c604ebb3-86c5-4fcf-8212-dc1ea4bd2e3c","name":"scw-k8spoolconfigzone-default-c604ebb386c54fcf","pool_id":"d328845a-1784-4829-91c4-97bdde59ce80","provider_id":"scaleway://instance/fr-par-2/13cc9eec-0618-49cf-9bab-265c6540275c","public_ip_v4":"51.159.166.208","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-08T13:39:24.514282Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/48409316-ab71-4dab-ac5f-b9b0d773e780?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/48409316-ab71-4dab-ac5f-b9b0d773e780
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"48409316-ab71-4dab-ac5f-b9b0d773e780","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
