---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.0","name":"1.28.0","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigZone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.28.0","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-09-01T16:21:50.455966439Z","created_at":"2023-09-01T16:21:50.455966439Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6","ingress":"none","name":"K8SPoolConfigZone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2023-09-01T16:21:50.465643578Z","upgrade_available":false,"version":"1.28.0"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWd6b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVozcE5WRVV5VFdwRk1VMVdiMWhFVkUxNlRVUm5lazFVUlRKTmFrVXhUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6","container_runtime":"containerd","created_at":"2023-09-01T16:21:55.907682Z","id":"cc8340f1-eb30-470a-a33c-1678affc84c4","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-09-01T16:21:55.924568703Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/cc8340f1-eb30-470a-a33c-1678affc84c4
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6","container_runtime":"containerd","created_at":"2023-09-01T16:21:55.907682Z","id":"cc8340f1-eb30-470a-a33c-1678affc84c4","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-09-01T16:21:55.924569Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6/nodes?order_by=created_at_asc&page=1&pool_id=cc8340f1-eb30-470a-a33c-1678affc84c4&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-09-01T16:23:01.646990Z","error_message":null,"id":"a8772aee-b17b-46af-932d-e0bb87ddb896","name":"scw-k8spoolconfigzone-default-a8772aeeb17b46af","pool_id":"cc8340f1-eb30-470a-a33c-1678affc84c4","provider_id":"scaleway://instance/fr-par-2/a6b2fc02-f413-4f99-8cb6-49616b0330ac","public_ip_v4":"51.159.162.93","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-09-01T16:25:18.058409Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d09d2ea1-d0d8-4f35-9ef3-505d7e9384a6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
