---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.20.2","label":"Kubernetes 1.20.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodPreset","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.19.7","label":"Kubernetes
      1.19.7","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralContainers","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy",[...]
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"K8SPoolConfigZone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.20.2","cni":"cilium","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"61bd37cb-2244-44fb-87ba-27af9ce33a8f","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:44:06.001700878Z","updated_at":"2021-02-15T13:44:13.829098965Z","name":"K8SPoolConfigZone","description":"","status":"creating","version":"1.20.2","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","zone"],"cluster_url":"https://61bd37cb-2244-44fb-87ba-27af9ce33a8f.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.61bd37cb-2244-44fb-87ba-27af9ce33a8f.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61bd37cb-2244-44fb-87ba-27af9ce33a8f
    method: GET
  response:
    body: '{"region":"fr-par","id":"61bd37cb-2244-44fb-87ba-27af9ce33a8f","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:44:06.001701Z","updated_at":"2021-02-15T13:44:13.829099Z","name":"K8SPoolConfigZone","description":"","status[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61bd37cb-2244-44fb-87ba-27af9ce33a8f/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogazhzcG9vbGNvbmZpZ3pvbmUKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVFMUVTWGhPUkVWNlRrUlJlRTVHYjFoRVZFMTRUVVJKZUU1RVJYcE9SRkY0VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61bd37cb-2244-44fb-87ba-27af9ce33a8f/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"ac4cba68-0d20-4214-aa0f-b01cb3dfa63a","cluster_id":"61bd37cb-2244-44fb-87ba-27af9ce33a8f","created_at":"2021-02-15T13:44:19.650716Z","updated_at":"2021-02-15T13:44:19.663629346Z","name":"default","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ac4cba68-0d20-4214-aa0f-b01cb3dfa63a
    method: GET
  response:
    body: '{"region":"fr-par","id":"ac4cba68-0d20-4214-aa0f-b01cb3dfa63a","cluster_id":"61bd37cb-2244-44fb-87ba-27af9ce33a8f","created_at":"2021-02-15T13:44:19.650716Z","updated_at":"2021-02-15T13:44:19.663629Z","name":"default","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61bd37cb-2244-44fb-87ba-27af9ce33a8f/nodes?order_by=created_at_asc&page=1&pool_id=ac4cba68-0d20-4214-aa0f-b01cb3dfa63a&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"013c062a-972b-4b09-bb65-3ceed27a8e5a","cluster_id":"61bd37cb-2244-44fb-87ba-27af9ce33a8f","created_at":"2021-02-15T13:45:16.570946Z","updated_at":"2021-02-15T13:45:16.570946Z","pool_id":"ac4cba68-0d20-4214-aa0f-b01cb3dfa63a","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-k8spoolconfigzone-default-013c062a972b4b09","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61bd37cb-2244-44fb-87ba-27af9ce33a8f?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"61bd37cb-2244-44fb-87ba-27af9ce33a8f","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T13:44:06.001701Z","updated_at":"2021-02-15T13:45:19.568721178Z","name":"K8SPo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/61bd37cb-2244-44fb-87ba-27af9ce33a8f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"61bd37cb-2244-44fb-87ba-27af9ce33a8f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
