---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-12T12:40:00.619481Z","dhcp_enabled":true,"id":"3d4afbac-f675-4d35-972a-79d61ebe2015","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:40:00.619481Z","id":"67c1a5a0-b740-4fa0-8a5b-bfc0b8144ea7","subnet":"172.16.28.0/22","updated_at":"2023-12-12T12:40:00.619481Z"},{"created_at":"2023-12-12T12:40:00.619481Z","id":"10071c00-b153-4059-8cd3-62b1adf84c0a","subnet":"fd63:256c:45f7:2a3e::/64","updated_at":"2023-12-12T12:40:00.619481Z"}],"tags":[],"updated_at":"2023-12-12T12:40:00.619481Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3d4afbac-f675-4d35-972a-79d61ebe2015
    method: GET
  response:
    body: '{"created_at":"2023-12-12T12:40:00.619481Z","dhcp_enabled":true,"id":"3d4afbac-f675-4d35-972a-79d61ebe2015","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:40:00.619481Z","id":"67c1a5a0-b740-4fa0-8a5b-bfc0b8144ea7","subnet":"172.16.28.0/22","updated_at":"2023-12-12T12:40:00.619481Z"},{"created_at":"2023-12-12T12:40:00.619481Z","id":"10071c00-b153-4059-8cd3-62b1adf84c0a","subnet":"fd63:256c:45f7:2a3e::/64","updated_at":"2023-12-12T12:40:00.619481Z"}],"tags":[],"updated_at":"2023-12-12T12:40:00.619481Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"3d4afbac-f675-4d35-972a-79d61ebe2015"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://9ba2d747-58ad-4b79-a298-538fffa5d541.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-12T12:40:01.999898128Z","created_at":"2023-12-12T12:40:01.999898128Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.9ba2d747-58ad-4b79-a298-538fffa5d541.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"9ba2d747-58ad-4b79-a298-538fffa5d541","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"3d4afbac-f675-4d35-972a-79d61ebe2015","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-12-12T12:40:02.018414661Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ba2d747-58ad-4b79-a298-538fffa5d541
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ba2d747-58ad-4b79-a298-538fffa5d541/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYaE5WRVY1VGtSQmQwMHhiMWhFVkUxNlRWUkplRTFVUlhsT1JFRjNUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ba2d747-58ad-4b79-a298-538fffa5d541/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9ba2d747-58ad-4b79-a298-538fffa5d541","container_runtime":"containerd","created_at":"2023-12-12T12:40:07.543251Z","id":"3c7101d3-d3d2-4274-a0e6-a925eaf6b9be","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-12T12:40:07.553939297Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3c7101d3-d3d2-4274-a0e6-a925eaf6b9be
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9ba2d747-58ad-4b79-a298-538fffa5d541","container_runtime":"containerd","created_at":"2023-12-12T12:40:07.543251Z","id":"3c7101d3-d3d2-4274-a0e6-a925eaf6b9be","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-12T12:40:07.553939Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ba2d747-58ad-4b79-a298-538fffa5d541/nodes?order_by=created_at_asc&page=1&pool_id=3c7101d3-d3d2-4274-a0e6-a925eaf6b9be&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"9ba2d747-58ad-4b79-a298-538fffa5d541","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-12T12:41:46.010223Z","error_message":null,"id":"ed68a776-70ca-4001-87ea-c8ec081a0ddc","name":"scw-test-pool-wait-test-pool-wait-ed68a77670ca","pool_id":"3c7101d3-d3d2-4274-a0e6-a925eaf6b9be","provider_id":"scaleway://instance/fr-par-1/0ac13e56-2b0a-4b8b-bf6d-a48b4cdf073f","public_ip_v4":"51.15.253.5","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-12T12:43:45.839193Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ba2d747-58ad-4b79-a298-538fffa5d541/nodes?order_by=created_at_asc&page=1&pool_id=3c7101d3-d3d2-4274-a0e6-a925eaf6b9be&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"9ba2d747-58ad-4b79-a298-538fffa5d541","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-12T12:41:46.010223Z","error_message":null,"id":"ed68a776-70ca-4001-87ea-c8ec081a0ddc","name":"scw-test-pool-wait-test-pool-wait-ed68a77670ca","pool_id":"3c7101d3-d3d2-4274-a0e6-a925eaf6b9be","provider_id":"scaleway://instance/fr-par-1/0ac13e56-2b0a-4b8b-bf6d-a48b4cdf073f","public_ip_v4":"51.15.253.5","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-12T12:46:41.679916Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/da8fdd92-ca5e-4cfc-b7a1-efc94a553edc
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"da8fdd92-ca5e-4cfc-b7a1-efc94a553edc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9ba2d747-58ad-4b79-a298-538fffa5d541?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
