---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-21T16:19:09.289979Z","dhcp_enabled":true,"id":"77fc021c-e24a-431d-a4fc-0a4522739d14","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:19:09.289979Z","id":"e157232c-a1da-4d44-8a85-f8ea2967e0c7","subnet":"172.16.52.0/22","updated_at":"2023-12-21T16:19:09.289979Z"},{"created_at":"2023-12-21T16:19:09.289979Z","id":"41590e38-556e-4583-bcf2-ecb8703d1901","subnet":"fd63:256c:45f7:dfce::/64","updated_at":"2023-12-21T16:19:09.289979Z"}],"tags":[],"updated_at":"2023-12-21T16:19:09.289979Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/77fc021c-e24a-431d-a4fc-0a4522739d14
    method: GET
  response:
    body: '{"created_at":"2023-12-21T16:19:09.289979Z","dhcp_enabled":true,"id":"77fc021c-e24a-431d-a4fc-0a4522739d14","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:19:09.289979Z","id":"e157232c-a1da-4d44-8a85-f8ea2967e0c7","subnet":"172.16.52.0/22","updated_at":"2023-12-21T16:19:09.289979Z"},{"created_at":"2023-12-21T16:19:09.289979Z","id":"41590e38-556e-4583-bcf2-ecb8703d1901","subnet":"fd63:256c:45f7:dfce::/64","updated_at":"2023-12-21T16:19:09.289979Z"}],"tags":[],"updated_at":"2023-12-21T16:19:09.289979Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"77fc021c-e24a-431d-a4fc-0a4522739d14"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://11a233ad-67c8-4234-bc68-c44e2cdc12f1.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-21T16:19:10.406310541Z","created_at":"2023-12-21T16:19:10.406310541Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.11a233ad-67c8-4234-bc68-c44e2cdc12f1.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"11a233ad-67c8-4234-bc68-c44e2cdc12f1","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"77fc021c-e24a-431d-a4fc-0a4522739d14","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-12-21T16:19:10.417584506Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/11a233ad-67c8-4234-bc68-c44e2cdc12f1
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/11a233ad-67c8-4234-bc68-c44e2cdc12f1/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYbE5SRVV5VFZScmVFMVdiMWhFVkUxNlRWUkplVTFFUlRKTlZHdDRUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/11a233ad-67c8-4234-bc68-c44e2cdc12f1/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"11a233ad-67c8-4234-bc68-c44e2cdc12f1","container_runtime":"containerd","created_at":"2023-12-21T16:19:15.917248Z","id":"b2ff43df-0f6e-4783-b40b-51f11bc3f791","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:19:15.935903574Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b2ff43df-0f6e-4783-b40b-51f11bc3f791
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"11a233ad-67c8-4234-bc68-c44e2cdc12f1","container_runtime":"containerd","created_at":"2023-12-21T16:19:15.917248Z","id":"b2ff43df-0f6e-4783-b40b-51f11bc3f791","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:19:15.935904Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/11a233ad-67c8-4234-bc68-c44e2cdc12f1/nodes?order_by=created_at_asc&page=1&pool_id=b2ff43df-0f6e-4783-b40b-51f11bc3f791&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"11a233ad-67c8-4234-bc68-c44e2cdc12f1","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:24:27.237594Z","error_message":null,"id":"515cdd82-0835-4d0f-90be-d481dca25cf2","name":"scw-test-pool-wait-test-pool-wait-515cdd820835","pool_id":"b2ff43df-0f6e-4783-b40b-51f11bc3f791","provider_id":"scaleway://instance/fr-par-1/3840094b-e022-4d24-b736-014f2eb64438","public_ip_v4":"51.15.216.28","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:26:35.315671Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/11a233ad-67c8-4234-bc68-c44e2cdc12f1/nodes?order_by=created_at_asc&page=1&pool_id=b2ff43df-0f6e-4783-b40b-51f11bc3f791&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"11a233ad-67c8-4234-bc68-c44e2cdc12f1","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:24:27.237594Z","error_message":null,"id":"515cdd82-0835-4d0f-90be-d481dca25cf2","name":"scw-test-pool-wait-test-pool-wait-515cdd820835","pool_id":"b2ff43df-0f6e-4783-b40b-51f11bc3f791","provider_id":"scaleway://instance/fr-par-1/3840094b-e022-4d24-b736-014f2eb64438","public_ip_v4":"51.15.216.28","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:28:53.201451Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bda91005-38f8-4df1-a5dd-19737811e6cd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"bda91005-38f8-4df1-a5dd-19737811e6cd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/11a233ad-67c8-4234-bc68-c44e2cdc12f1?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
