---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-08T16:03:40.445720Z","dhcp_enabled":true,"id":"4622d8df-eba8-42dd-b1ff-4764ba7435fb","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T16:03:40.445720Z","id":"7fdb13a7-430a-4eec-9296-194976859e2d","subnet":"172.16.32.0/22","updated_at":"2023-12-08T16:03:40.445720Z"},{"created_at":"2023-12-08T16:03:40.445720Z","id":"253359d1-0e24-4397-a8e9-7d7859fdc733","subnet":"fd63:256c:45f7:48aa::/64","updated_at":"2023-12-08T16:03:40.445720Z"}],"tags":[],"updated_at":"2023-12-08T16:03:40.445720Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4622d8df-eba8-42dd-b1ff-4764ba7435fb
    method: GET
  response:
    body: '{"created_at":"2023-12-08T16:03:40.445720Z","dhcp_enabled":true,"id":"4622d8df-eba8-42dd-b1ff-4764ba7435fb","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T16:03:40.445720Z","id":"7fdb13a7-430a-4eec-9296-194976859e2d","subnet":"172.16.32.0/22","updated_at":"2023-12-08T16:03:40.445720Z"},{"created_at":"2023-12-08T16:03:40.445720Z","id":"253359d1-0e24-4397-a8e9-7d7859fdc733","subnet":"fd63:256c:45f7:48aa::/64","updated_at":"2023-12-08T16:03:40.445720Z"}],"tags":[],"updated_at":"2023-12-08T16:03:40.445720Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"4622d8df-eba8-42dd-b1ff-4764ba7435fb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://9bb09c5e-e5d3-42b2-9c80-b38372933fd5.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-08T16:03:41.891077250Z","created_at":"2023-12-08T16:03:41.891077250Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.9bb09c5e-e5d3-42b2-9c80-b38372933fd5.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"9bb09c5e-e5d3-42b2-9c80-b38372933fd5","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"4622d8df-eba8-42dd-b1ff-4764ba7435fb","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-12-08T16:03:41.902705752Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9bb09c5e-e5d3-42b2-9c80-b38372933fd5
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9bb09c5e-e5d3-42b2-9c80-b38372933fd5/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYZE9la1V5VFVSTk1FMHhiMWhFVkUxNlRWUkpkMDU2UlRKTlJFMHdUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9bb09c5e-e5d3-42b2-9c80-b38372933fd5/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9bb09c5e-e5d3-42b2-9c80-b38372933fd5","container_runtime":"containerd","created_at":"2023-12-08T16:03:47.307398Z","id":"429f28af-be93-43dd-b2c5-150bec8e0959","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-08T16:03:47.318482307Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/429f28af-be93-43dd-b2c5-150bec8e0959
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"9bb09c5e-e5d3-42b2-9c80-b38372933fd5","container_runtime":"containerd","created_at":"2023-12-08T16:03:47.307398Z","id":"429f28af-be93-43dd-b2c5-150bec8e0959","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-08T16:03:47.318482Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9bb09c5e-e5d3-42b2-9c80-b38372933fd5/nodes?order_by=created_at_asc&page=1&pool_id=429f28af-be93-43dd-b2c5-150bec8e0959&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"9bb09c5e-e5d3-42b2-9c80-b38372933fd5","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:05:25.505777Z","error_message":null,"id":"2eb73dbc-da4e-4094-a198-b6e942789267","name":"scw-test-pool-wait-test-pool-wait-2eb73dbcda4e","pool_id":"429f28af-be93-43dd-b2c5-150bec8e0959","provider_id":"scaleway://instance/fr-par-1/cd5643a7-b2f0-45f7-87ea-abb374b0f52b","public_ip_v4":"51.158.77.29","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:07:29.588204Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9bb09c5e-e5d3-42b2-9c80-b38372933fd5/nodes?order_by=created_at_asc&page=1&pool_id=429f28af-be93-43dd-b2c5-150bec8e0959&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"9bb09c5e-e5d3-42b2-9c80-b38372933fd5","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:05:25.505777Z","error_message":null,"id":"2eb73dbc-da4e-4094-a198-b6e942789267","name":"scw-test-pool-wait-test-pool-wait-2eb73dbcda4e","pool_id":"429f28af-be93-43dd-b2c5-150bec8e0959","provider_id":"scaleway://instance/fr-par-1/cd5643a7-b2f0-45f7-87ea-abb374b0f52b","public_ip_v4":"51.158.77.29","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:10:10.922331Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/5644fd23-7761-4838-83e4-1ef61d65538a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"5644fd23-7761-4838-83e4-1ef61d65538a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9bb09c5e-e5d3-42b2-9c80-b38372933fd5?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
