---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:49:50.909203Z","id":"ca01ec19-5e6a-461a-a75b-7f1f56bcfa42","is_default":false,"name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-11-07T15:49:50.909203Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ca01ec19-5e6a-461a-a75b-7f1f56bcfa42
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:49:50.909203Z","id":"ca01ec19-5e6a-461a-a75b-7f1f56bcfa42","is_default":false,"name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-11-07T15:49:50.909203Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-k8s-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null,"vpc_id":"ca01ec19-5e6a-461a-a75b-7f1f56bcfa42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:49:51.243805Z","dhcp_enabled":true,"id":"6ec88d41-f0fc-4501-9810-dd9de4cbc098","name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:51.243805Z","id":"d26296a1-8f11-4d2b-8781-5c7cef7510f7","subnet":"172.16.68.0/22","updated_at":"2023-11-07T15:49:51.243805Z"},{"created_at":"2023-11-07T15:49:51.243805Z","id":"95bc8018-3c82-4917-a233-3066ab5210af","subnet":"fd5f:519c:6d46:ead6::/64","updated_at":"2023-11-07T15:49:51.243805Z"}],"tags":[],"updated_at":"2023-11-07T15:49:51.243805Z","vpc_id":"ca01ec19-5e6a-461a-a75b-7f1f56bcfa42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6ec88d41-f0fc-4501-9810-dd9de4cbc098
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:49:51.243805Z","dhcp_enabled":true,"id":"6ec88d41-f0fc-4501-9810-dd9de4cbc098","name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:51.243805Z","id":"d26296a1-8f11-4d2b-8781-5c7cef7510f7","subnet":"172.16.68.0/22","updated_at":"2023-11-07T15:49:51.243805Z"},{"created_at":"2023-11-07T15:49:51.243805Z","id":"95bc8018-3c82-4917-a233-3066ab5210af","subnet":"fd5f:519c:6d46:ead6::/64","updated_at":"2023-11-07T15:49:51.243805Z"}],"tags":[],"updated_at":"2023-11-07T15:49:51.243805Z","vpc_id":"ca01ec19-5e6a-461a-a75b-7f1f56bcfa42"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-private-network","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"6ec88d41-f0fc-4501-9810-dd9de4cbc098"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://54bd7937-ba2e-4cce-86e5-67bf9bb82553.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-07T15:49:53.385540355Z","created_at":"2023-11-07T15:49:53.385540355Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.54bd7937-ba2e-4cce-86e5-67bf9bb82553.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"54bd7937-ba2e-4cce-86e5-67bf9bb82553","ingress":"none","name":"test-k8s-private-network","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"6ec88d41-f0fc-4501-9810-dd9de4cbc098","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-11-07T15:49:53.410350167Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54bd7937-ba2e-4cce-86e5-67bf9bb82553
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54bd7937-ba2e-4cce-86e5-67bf9bb82553/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXByaXZhdGUtbmV0d29yayIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGRPYWtVeFRrUnJNVTVHYjFoRVZFMTZUVlJGZDA1cVJURk9SR3N4VGtadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54bd7937-ba2e-4cce-86e5-67bf9bb82553/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"54bd7937-ba2e-4cce-86e5-67bf9bb82553","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.825752Z","id":"7d41f060-d78c-497d-8412-77dcd41e5073","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.833246372Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7d41f060-d78c-497d-8412-77dcd41e5073
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"54bd7937-ba2e-4cce-86e5-67bf9bb82553","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.825752Z","id":"7d41f060-d78c-497d-8412-77dcd41e5073","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.833246Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54bd7937-ba2e-4cce-86e5-67bf9bb82553/nodes?order_by=created_at_asc&page=1&pool_id=7d41f060-d78c-497d-8412-77dcd41e5073&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"54bd7937-ba2e-4cce-86e5-67bf9bb82553","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:55:02.943504Z","error_message":null,"id":"1254a3f8-7ee7-4310-95dc-be2e6cea124b","name":"scw-test-k8s-private-network-pool-1254a3f87ee7","pool_id":"7d41f060-d78c-497d-8412-77dcd41e5073","provider_id":"scaleway://instance/fr-par-1/f39671eb-2054-4775-848e-780dec2c4f52","public_ip_v4":"163.172.138.73","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:57:35.282753Z"},{"cluster_id":"54bd7937-ba2e-4cce-86e5-67bf9bb82553","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:55:07.024645Z","error_message":null,"id":"0a574723-3b4a-4a67-a239-5dd1cf6a3655","name":"scw-test-k8s-private-network-pool-0a5747233b4a","pool_id":"7d41f060-d78c-497d-8412-77dcd41e5073","provider_id":"scaleway://instance/fr-par-1/b5b8cd51-72c2-461d-b62b-97e97ca383a4","public_ip_v4":"163.172.177.183","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:57:35.265437Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54bd7937-ba2e-4cce-86e5-67bf9bb82553/nodes?order_by=created_at_asc&pool_id=7d41f060-d78c-497d-8412-77dcd41e5073&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"54bd7937-ba2e-4cce-86e5-67bf9bb82553","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/f39671eb-2054-4775-848e-780dec2c4f52
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-11-07T15:55:03.583869+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-private-network-pool-1254a3f87ee7","id":"f39671eb-2054-4775-848e-780dec2c4f52","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:63c:301::1","gateway":"2001:bc8:63c:301::","netmask":"64"},"location":{"cluster_id":"29","hypervisor_id":"202","node_id":"2","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:2c:5e:67","maintenances":[],"modification_date":"2023-11-07T15:55:19.588328+00:00","name":"scw-test-k8s-private-network-pool-1254a3f87ee7","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.66.74.195","private_nics":[{"creation_date":"2023-11-07T15:55:04.358912+00:00","id":"c234dda7-8eed-4fea-a5e3-6b469256fd2a","mac_address":"02:00:00:14:a3:f9","modification_date":"2023-11-07T15:55:05.146548+00:00","private_network_id":"6ec88d41-f0fc-4501-9810-dd9de4cbc098","server_id":"f39671eb-2054-4775-848e-780dec2c4f52","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"163.172.138.73","dynamic":true,"family":"inet","gateway":null,"id":"f696e00b-1234-42a6-a328-a9ff5b25ac02","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"163.172.138.73","dynamic":true,"family":"inet","gateway":null,"id":"f696e00b-1234-42a6-a328-a9ff5b25ac02","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"e0f0232a-0b28-4673-8992-26f2e07dba55","name":"kubernetes
      54bd7937-ba2e-4cce-86e5-67bf9bb82553"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=54bd7937-ba2e-4cce-86e5-67bf9bb82553","pool=7d41f060-d78c-497d-8412-77dcd41e5073","pool-name=pool","runtime=containerd","managed=true","node=1254a3f8-7ee7-4310-95dc-be2e6cea124b"],"volumes":{"0":{"boot":false,"creation_date":"2023-11-07T15:55:03.583869+00:00","export_uri":null,"id":"9677b7d9-30a4-42ba-b2d0-908c6227f974","modification_date":"2023-11-07T15:55:03.583869+00:00","name":"k8s_base_node_2023-10-11.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"f39671eb-2054-4775-848e-780dec2c4f52","name":"scw-test-k8s-private-network-pool-1254a3f87ee7"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/7d41f060-d78c-497d-8412-77dcd41e5073
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"7d41f060-d78c-497d-8412-77dcd41e5073","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/54bd7937-ba2e-4cce-86e5-67bf9bb82553?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
