---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.20.2","label":"Kubernetes 1.20.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers","KubeletCredentialProviders","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodPreset","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.19.7","label":"Kubernetes
      1.19.7","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralContainers","GenericEphemeralVolume"],"available_admission_plugins":["PodSecurityPolicy",[...]
- request:
    body: '{"name":"pool-placement-group","organization":"a6c249e9-c32d-46e4-badb-b57528eafc4b","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group": {"id": "d3600091-8da0-4bc9-8c19-92aaefd8dfdb", "name":
      "pool-placement-group", "organization": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/placement_groups/d3600091-8da0-4bc9-8c19-92aaefd8dfdb
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/d3600091-8da0-4bc9-8c19-92aaefd8dfdb
    method: GET
  response:
    body: '{"placement_group": {"id": "d3600091-8da0-4bc9-8c19-92aaefd8dfdb", "name":
      "pool-placement-group", "organization": "a6c249e9-c32d-46e4-badb-b57528eafc4b",
      "project": "a6c249e9-c32d-46e4-badb-b57528eafc4b", "policy_mode": "optional",
      "policy_type": "max_availability", "policy_respected": true, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.20.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"0ff451cb-185a-4728-b30d-2a9938cfd903","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T12:29:34.586587806Z","updated_at":"2021-02-15T12:29:40.043961714Z","name":"placement_group","description":"","status":"creating","version":"1.20.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"cluster_url":"https://0ff451cb-185a-4728-b30d-2a9938cfd903.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.0ff451cb-185a-4728-b30d-2a9938cfd903.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0ff451cb-185a-4728-b30d-2a9938cfd903
    method: GET
  response:
    body: '{"region":"fr-par","id":"0ff451cb-185a-4728-b30d-2a9938cfd903","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T12:29:34.586588Z","updated_at":"2021-02-15T12:29:40.043962Z","name":"placement_group","description":"","status":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0ff451cb-185a-4728-b30d-2a9938cfd903/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogcGxhY2VtZW50LWdyb3VwCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplRTFFU1hoT1JFVjVUV3ByTUUxR2IxaEVWRTE0VFVSSmVFNUVSWGxOYW1zd1RVWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZ[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"d3600091-8da0-4bc9-8c19-92aaefd8dfdb","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0ff451cb-185a-4728-b30d-2a9938cfd903/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"f0fef2b8-1587-4ca5-8cf6-c5823c5f7217","cluster_id":"0ff451cb-185a-4728-b30d-2a9938cfd903","created_at":"2021-02-15T12:29:45.958971Z","updated_at":"2021-02-15T12:29:45.989396582Z","name":"placement_group","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":"d3600091-8da0-4bc9-8c19-92aaefd8dfdb","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f0fef2b8-1587-4ca5-8cf6-c5823c5f7217
    method: GET
  response:
    body: '{"region":"fr-par","id":"f0fef2b8-1587-4ca5-8cf6-c5823c5f7217","cluster_id":"0ff451cb-185a-4728-b30d-2a9938cfd903","created_at":"2021-02-15T12:29:45.958971Z","updated_at":"2021-02-15T12:29:45.989397Z","name":"placement_group","status":"scaling","version":"1.20.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":"d3600091-8da0-4bc9-8c19-92aaefd8dfdb","kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0ff451cb-185a-4728-b30d-2a9938cfd903/nodes?order_by=created_at_asc&page=1&pool_id=f0fef2b8-1587-4ca5-8cf6-c5823c5f7217&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0ff451cb-185a-4728-b30d-2a9938cfd903/nodes?order_by=created_at_asc&page=1&pool_id=f0fef2b8-1587-4ca5-8cf6-c5823c5f7217&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"b3570f1b-50dc-4a8c-952e-11b2688ca128","cluster_id":"0ff451cb-185a-4728-b30d-2a9938cfd903","created_at":"2021-02-15T12:30:44.751536Z","updated_at":"2021-02-15T12:30:44.751536Z","pool_id":"f0fef2b8-1587-4ca5-8cf6-c5823c5f7217","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-placement-group-placement-group-b3570f1b50","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0ff451cb-185a-4728-b30d-2a9938cfd903?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"0ff451cb-185a-4728-b30d-2a9938cfd903","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2021-02-15T12:29:34.586588Z","updated_at":"2021-02-15T12:30:46.816617342Z","name":"place[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0ff451cb-185a-4728-b30d-2a9938cfd903
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"0ff451cb-185a-4728-b30d-2a9938cfd903","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
