---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-08T13:23:02.247151Z","id":"d70c410a-0f4b-43a3-821e-03aba7d01a6a","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:23:02.247151Z","id":"2da816e6-4310-478a-9eb5-ca3121bdf0d2","subnet":"172.16.68.0/22","updated_at":"2023-06-08T13:23:02.247151Z"},{"created_at":"2023-06-08T13:23:02.247151Z","id":"9b0d42ff-1121-4e54-82e6-e82bdb737d6e","subnet":"fd63:256c:45f7:12e7::/64","updated_at":"2023-06-08T13:23:02.247151Z"}],"tags":[],"updated_at":"2023-06-08T13:23:02.247151Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d70c410a-0f4b-43a3-821e-03aba7d01a6a
    method: GET
  response:
    body: '{"created_at":"2023-06-08T13:23:02.247151Z","id":"d70c410a-0f4b-43a3-821e-03aba7d01a6a","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-08T13:23:02.247151Z","id":"2da816e6-4310-478a-9eb5-ca3121bdf0d2","subnet":"172.16.68.0/22","updated_at":"2023-06-08T13:23:02.247151Z"},{"created_at":"2023-06-08T13:23:02.247151Z","id":"9b0d42ff-1121-4e54-82e6-e82bdb737d6e","subnet":"fd63:256c:45f7:12e7::/64","updated_at":"2023-06-08T13:23:02.247151Z"}],"tags":[],"updated_at":"2023-06-08T13:23:02.247151Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.27.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"d70c410a-0f4b-43a3-821e-03aba7d01a6a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://708e765c-8563-45a8-8ff5-d452012d3f04.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-06-08T13:23:02.638751112Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.708e765c-8563-45a8-8ff5-d452012d3f04.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"708e765c-8563-45a8-8ff5-d452012d3f04","ingress":"none","name":"k8s-private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d70c410a-0f4b-43a3-821e-03aba7d01a6a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-06-08T13:23:02.689480920Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/708e765c-8563-45a8-8ff5-d452012d3f04
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/708e765c-8563-45a8-8ff5-d452012d3f04/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVXWGRPZWtWNlRXcE5kMDVXYjFoRVZFMTZUVVJaZDA1NlJYcE5hazEzVGxadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJ[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/708e765c-8563-45a8-8ff5-d452012d3f04/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"708e765c-8563-45a8-8ff5-d452012d3f04","container_runtime":"containerd","created_at":"2023-06-08T13:23:08.694997Z","id":"76a54943-399e-4c2a-9464-65206617d8e5","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-06-08T13:23:08.897822213Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/76a54943-399e-4c2a-9464-65206617d8e5
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"708e765c-8563-45a8-8ff5-d452012d3f04","container_runtime":"containerd","created_at":"2023-06-08T13:23:08.694997Z","id":"76a54943-399e-4c2a-9464-65206617d8e5","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-06-08T13:23:08.897822Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/708e765c-8563-45a8-8ff5-d452012d3f04/nodes?order_by=created_at_asc&page=1&pool_id=76a54943-399e-4c2a-9464-65206617d8e5&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"708e765c-8563-45a8-8ff5-d452012d3f04","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-06-08T13:25:12.297517Z","error_message":null,"id":"055c8921-2783-4732-8360-92f34008d7cf","name":"scw-k8s-private-network-cluster-pool-055c89212","pool_id":"76a54943-399e-4c2a-9464-65206617d8e5","provider_id":"scaleway://instance/fr-par-1/3ab05021-cfdc-4a06-830a-c21e7ec6113f","public_ip_v4":"51.15.140.177","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-08T13:28:12.207172Z"},{"cluster_id":"708e765c-8563-45a8-8ff5-d452012d3f04","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-08T13:25:20.835583Z","error_message":null,"id":"17d95feb-b9f4-4615-8339-007ba128a8c2","name":"scw-k8s-private-network-cluster-pool-17d95febb","pool_id":"76a54943-399e-4c2a-9464-65206617d8e5","provider_id":"scaleway://instance/fr-par-1/2f203222-1874-4889-9bba-ef5437dc68d5","public_ip_v4":"212.47.247.189","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-08T13:28:12.226236Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/708e765c-8563-45a8-8ff5-d452012d3f04/nodes?order_by=created_at_asc&pool_id=76a54943-399e-4c2a-9464-65206617d8e5&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"708e765c-8563-45a8-8ff5-d452012d3f04","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUna[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/3ab05021-cfdc-4a06-830a-c21e7ec6113f
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-06-08T13:25:13.098381+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-k8s-private-network-cluster-pool-055c89212","id":"3ab05021-cfdc-4a06-830a-c21e7ec6113f","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:700:1e07::1","gateway":"2001:bc8:700:1e07::","netmask":"64"},"location":{"cluster_id":"57","hypervisor_id":"803","node_id":"8","platform_id":"14","zone_id":"par1"},"maintenances":[],"modification_date":"2023-06-08T13:25:38.159940+00:00","name":"scw-k8s-private-network-cluster-pool-055c89212","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.185.143","private_nics":[{"creation_date":"2023-06-08T13:25:13.996717+00:00","id":"d052a888-0dc0-4db2-9ea1-aaf34e23f6bb","mac_address":"02:00:00:13:12:5d","modification_date":"2023-06-08T13:25:15.031027+00:00","private_network_id":"d70c410a-0f4b-43a3-821e-03aba7d01a6a","server_id":"3ab05021-cfdc-4a06-830a-c21e7ec6113f","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.140.177","dynamic":true,"id":"43aa5f62-be0f-464e-aba6-6d247bd1974e"},"security_group":{"id":"c8af45d2-a45c-4b8e-bda7-4173c355eb4c","name":"kubernetes
      708e765c-8563-45a8-8ff5-d452012d3f04"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=708e765c-8563-45a8-8ff5-d452012d3f04","pool=76a54943-399e-4c2a-9464-65206617d8e5","pool-name=pool","runtime=containerd","managed=true","node=055c8921-2783-4732-8360-92f34008d7cf"],"volumes":{"0":{"boot":false,"creation_date":"2023-06-08T13:25:13.098381+00:00","export_uri":null,"id":"d9d18646-8cd4-4f21-ac56-cc71e3f15157","modification_date":"2023-06-08T13:25:13.098381+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"3ab05021-cfdc-4a06-830a-c21e7ec6113f","name":"scw-k8s-private-network-cluster-pool-055c89212"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/708e765c-8563-45a8-8ff5-d452012d3f04?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/708e765c-8563-45a8-8ff5-d452012d3f04
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"708e765c-8563-45a8-8ff5-d452012d3f04","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
