---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.23.0","label":"Kubernetes 1.23.0","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.22.4","label":"Kubernetes
      1.22.4","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_k[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"K8SPoolConfigKubeletArgs","description":"","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"version":"1.23.0","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":null,"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"cc94b000-8760-4712-9d52-0eb33c1999c4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T13:34:57.620677511Z","updated_at":"2021-12-15T13:34:57.719886300Z","type":"kapsule","name":"K8SPoolConfigKubeletArgs","description":"","status":"creating","version":"1.23.0","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"cluster_url":"https://cc94b000-8760-4712-9d52-0eb33c1999c4.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.cc94b000-8760-4712-9d52-0eb33c1999c4.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc94b000-8760-4712-9d52-0eb33c1999c4
    method: GET
  response:
    body: '{"region":"fr-par","id":"cc94b000-8760-4712-9d52-0eb33c1999c4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T13:34:57.620678Z","updated_at":"2021-12-15T13:34:57.719886Z","type":"kapsule","name":"K8SPoolConfigKubeletArgs",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc94b000-8760-4712-9d52-0eb33c1999c4/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWdrdWJlbGV0YXJncyIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVFMVVTWGhPUkVWNlRYcFJNVTlXYjFoRVZFMTRUVlJKZUU1RVJYcE5lbEV4VDFadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc94b000-8760-4712-9d52-0eb33c1999c4/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"3c0c1b0d-55f3-4b31-bbce-8581fb56b412","cluster_id":"cc94b000-8760-4712-9d52-0eb33c1999c4","created_at":"2021-12-15T13:35:04.852162Z","updated_at":"2021-12-15T13:35:04.949339034Z","name":"default","status":"scaling","version":"1.23.0","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"placement_group_id":null,"kubelet_args":{"maxPods":"1337"},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3c0c1b0d-55f3-4b31-bbce-8581fb56b412
    method: GET
  response:
    body: '{"region":"fr-par","id":"3c0c1b0d-55f3-4b31-bbce-8581fb56b412","cluster_id":"cc94b000-8760-4712-9d52-0eb33c1999c4","created_at":"2021-12-15T13:35:04.852162Z","updated_at":"2021-12-15T13:35:04.949339Z","name":"default","status":"scaling","version":"1.23.0","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","kubelet_args"],"placement_group_id":null,"kubelet_args":{"maxPods":"1337"},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc94b000-8760-4712-9d52-0eb33c1999c4/nodes?order_by=created_at_asc&page=1&pool_id=3c0c1b0d-55f3-4b31-bbce-8581fb56b412&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc94b000-8760-4712-9d52-0eb33c1999c4?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"cc94b000-8760-4712-9d52-0eb33c1999c4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T13:34:57.620678Z","updated_at":"2021-12-15T13:36:14.174500407Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/cc94b000-8760-4712-9d52-0eb33c1999c4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"cc94b000-8760-4712-9d52-0eb33c1999c4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
