---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:14:35.978905Z","dhcp_enabled":true,"id":"fc1d46fd-ce3e-48f6-94e1-c95ede5b266d","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:14:35.978905Z","id":"c2adc0ed-7e31-4351-9258-877750b5007f","subnet":"172.16.84.0/22","updated_at":"2024-02-28T14:14:35.978905Z"},{"created_at":"2024-02-28T14:14:35.978905Z","id":"4552e20a-6869-4926-9c92-47a470436152","subnet":"fd5f:519c:6d46:89d5::/64","updated_at":"2024-02-28T14:14:35.978905Z"}],"tags":[],"updated_at":"2024-02-28T14:14:35.978905Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fc1d46fd-ce3e-48f6-94e1-c95ede5b266d
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:14:35.978905Z","dhcp_enabled":true,"id":"fc1d46fd-ce3e-48f6-94e1-c95ede5b266d","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:14:35.978905Z","id":"c2adc0ed-7e31-4351-9258-877750b5007f","subnet":"172.16.84.0/22","updated_at":"2024-02-28T14:14:35.978905Z"},{"created_at":"2024-02-28T14:14:35.978905Z","id":"4552e20a-6869-4926-9c92-47a470436152","subnet":"fd5f:519c:6d46:89d5::/64","updated_at":"2024-02-28T14:14:35.978905Z"}],"tags":[],"updated_at":"2024-02-28T14:14:35.978905Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.29.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"fc1d46fd-ce3e-48f6-94e1-c95ede5b266d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://302a7eac-66b5-4aee-baf9-23da656165e7.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2024-02-28T14:14:37.057978779Z","created_at":"2024-02-28T14:14:37.057978779Z","description":"","dns_wildcard":"*.302a7eac-66b5-4aee-baf9-23da656165e7.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"302a7eac-66b5-4aee-baf9-23da656165e7","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"fc1d46fd-ce3e-48f6-94e1-c95ede5b266d","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2024-02-28T14:14:37.069702591Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVNYbE9la1V3VFZSUmVrOUdiMWhFVkUwd1RVUkplVTU2UlRCTlZGRjZUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"302a7eac-66b5-4aee-baf9-23da656165e7","container_runtime":"containerd","created_at":"2024-02-28T14:14:42.552562Z","id":"02b2750f-1a16-4e9b-a627-23bdefbd9b3f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-02-28T14:14:42.560971827Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/02b2750f-1a16-4e9b-a627-23bdefbd9b3f
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"302a7eac-66b5-4aee-baf9-23da656165e7","container_runtime":"containerd","created_at":"2024-02-28T14:14:42.552562Z","id":"02b2750f-1a16-4e9b-a627-23bdefbd9b3f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2024-02-28T14:14:42.560972Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7/nodes?order_by=created_at_asc&page=1&pool_id=02b2750f-1a16-4e9b-a627-23bdefbd9b3f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"302a7eac-66b5-4aee-baf9-23da656165e7","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:19:53.725461Z","error_message":null,"id":"7405f660-010b-4e34-b96c-ac1e4e4229ce","name":"scw-test-pool-minimal-test-pool-minimal-7405f6","pool_id":"02b2750f-1a16-4e9b-a627-23bdefbd9b3f","provider_id":"scaleway://instance/fr-par-1/53427374-5b3c-4d92-999b-59e4d9f145af","public_ip_v4":"51.15.213.52","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:21:58.874546Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7/nodes?order_by=created_at_asc&pool_id=02b2750f-1a16-4e9b-a627-23bdefbd9b3f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"302a7eac-66b5-4aee-baf9-23da656165e7","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:19:53.725461Z","error_message":null,"id":"7405f660-010b-4e34-b96c-ac1e4e4229ce","name":"scw-test-pool-minimal-test-pool-minimal-7405f6","pool_id":"02b2750f-1a16-4e9b-a627-23bdefbd9b3f","provider_id":"scaleway://instance/fr-par-1/53427374-5b3c-4d92-999b-59e4d9f145af","public_ip_v4":"51.15.213.52","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:21:58.874546Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/53427374-5b3c-4d92-999b-59e4d9f145af
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2024-02-28T14:19:54.324046+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-7405f6","id":"53427374-5b3c-4d92-999b-59e4d9f145af","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:624:2105::1","gateway":"2001:bc8:624:2105::","netmask":"64"},"location":{"cluster_id":"27","hypervisor_id":"1702","node_id":"6","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:41:27:19","maintenances":[],"modification_date":"2024-02-28T14:20:10.599107+00:00","name":"scw-test-pool-minimal-test-pool-minimal-7405f6","organization":"105bdce1-64c0-48ab-899d-868455867ecf","os_family":"linux","placement_group":null,"private_ip":"10.66.50.75","private_nics":[{"creation_date":"2024-02-28T14:19:54.991718+00:00","id":"d2bf9b58-23b4-412a-91ec-768c4bc6df08","mac_address":"02:00:00:18:b3:10","modification_date":"2024-02-28T14:19:55.672050+00:00","private_network_id":"fc1d46fd-ce3e-48f6-94e1-c95ede5b266d","server_id":"53427374-5b3c-4d92-999b-59e4d9f145af","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.213.52","dynamic":true,"family":"inet","gateway":null,"id":"653968b8-9992-4230-80f2-dafd7fe129e0","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.213.52","dynamic":true,"family":"inet","gateway":null,"id":"653968b8-9992-4230-80f2-dafd7fe129e0","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"779ba9ee-ff1d-44df-bd3f-171aff169b3c","name":"kubernetes
      302a7eac-66b5-4aee-baf9-23da656165e7"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=302a7eac-66b5-4aee-baf9-23da656165e7","pool=02b2750f-1a16-4e9b-a627-23bdefbd9b3f","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=7405f660-010b-4e34-b96c-ac1e4e4229ce"],"volumes":{"0":{"boot":false,"creation_date":"2024-02-28T14:19:54.324046+00:00","export_uri":null,"id":"64b83704-e699-45b5-a841-4e861e866b0f","modification_date":"2024-02-28T14:19:54.324046+00:00","name":"k8s_base_node_2023-10-11.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"53427374-5b3c-4d92-999b-59e4d9f145af","name":"scw-test-pool-minimal-test-pool-minimal-7405f6"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7/nodes?order_by=created_at_asc&pool_id=02b2750f-1a16-4e9b-a627-23bdefbd9b3f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"302a7eac-66b5-4aee-baf9-23da656165e7","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:19:53.725461Z","error_message":null,"id":"7405f660-010b-4e34-b96c-ac1e4e4229ce","name":"scw-test-pool-minimal-test-pool-minimal-7405f6","pool_id":"02b2750f-1a16-4e9b-a627-23bdefbd9b3f","provider_id":"scaleway://instance/fr-par-1/53427374-5b3c-4d92-999b-59e4d9f145af","public_ip_v4":"51.15.213.52","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:24:15.525631Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/62d37f88-8657-40c2-b36d-dabf9f1ef491
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"62d37f88-8657-40c2-b36d-dabf9f1ef491","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/302a7eac-66b5-4aee-baf9-23da656165e7?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
