---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.2","name":"1.27.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"8f917c68-3961-4dbd-84a4-94eabedd46ec","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8f917c68-3961-4dbd-84a4-94eabedd46ec
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://6c0f695a-fcb6-4990-a0ed-db7325d536a4.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-07-27T15:30:22.272196788Z","created_at":"2023-07-27T15:30:22.272196788Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.6c0f695a-fcb6-4990-a0ed-db7325d536a4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"6c0f695a-fcb6-4990-a0ed-db7325d536a4","ingress":"none","name":"placement_group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-07-27T15:30:22.278933546Z","upgrade_available":false,"version":"1.27.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0f695a-fcb6-4990-a0ed-db7325d536a4
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8f917c68-3961-4dbd-84a4-94eabedd46ec
    method: GET
  response:
    body: '{"placement_group":{"id":"8f917c68-3961-4dbd-84a4-94eabedd46ec","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0f695a-fcb6-4990-a0ed-db7325d536a4/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVZM2xPYWtVeFRYcEJlVTB4YjFoRVZFMTZUVVJqZVU1cVJURk5la0Y1VFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"8f917c68-3961-4dbd-84a4-94eabedd46ec","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0f695a-fcb6-4990-a0ed-db7325d536a4/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"6c0f695a-fcb6-4990-a0ed-db7325d536a4","container_runtime":"containerd","created_at":"2023-07-27T15:30:27.701191Z","id":"88b281c7-424d-45a1-ac60-50808ba15ed2","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"8f917c68-3961-4dbd-84a4-94eabedd46ec","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:30:27.709340198Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/88b281c7-424d-45a1-ac60-50808ba15ed2
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"6c0f695a-fcb6-4990-a0ed-db7325d536a4","container_runtime":"containerd","created_at":"2023-07-27T15:30:27.701191Z","id":"88b281c7-424d-45a1-ac60-50808ba15ed2","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"8f917c68-3961-4dbd-84a4-94eabedd46ec","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:30:27.709340Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0f695a-fcb6-4990-a0ed-db7325d536a4/nodes?order_by=created_at_asc&page=1&pool_id=88b281c7-424d-45a1-ac60-50808ba15ed2&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6c0f695a-fcb6-4990-a0ed-db7325d536a4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-07-27T15:32:17.088372Z","error_message":null,"id":"1d18a9a1-de66-4b34-af86-7b9a4ad319c1","name":"scw-placement-group-placement-group-1d18a9a1de","pool_id":"88b281c7-424d-45a1-ac60-50808ba15ed2","provider_id":"scaleway://instance/fr-par-1/328473a5-dd8e-446b-982e-0211c36a24a8","public_ip_v4":"51.158.79.120","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-07-27T15:34:46.393264Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0f695a-fcb6-4990-a0ed-db7325d536a4?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"f2f80dab-309e-410c-a321-17bf2e6675f8","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f2f80dab-309e-410c-a321-17bf2e6675f8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/f2f80dab-309e-410c-a321-17bf2e6675f8
    method: GET
  response:
    body: '{"placement_group":{"id":"f2f80dab-309e-410c-a321-17bf2e6675f8","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWF[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"f2f80dab-309e-410c-a321-17bf2e6675f8","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b","container_runtime":"containerd","created_at":"2023-07-27T15:34:54.920966Z","id":"753f9e5c-4dd6-4012-a54e-f7c97cba5a89","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"f2f80dab-309e-410c-a321-17bf2e6675f8","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:34:54.935606110Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/753f9e5c-4dd6-4012-a54e-f7c97cba5a89
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b","container_runtime":"containerd","created_at":"2023-07-27T15:34:54.920966Z","id":"753f9e5c-4dd6-4012-a54e-f7c97cba5a89","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"f2f80dab-309e-410c-a321-17bf2e6675f8","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-07-27T15:34:54.935606Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c0f695a-fcb6-4990-a0ed-db7325d536a4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6c0f695a-fcb6-4990-a0ed-db7325d536a4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b/nodes?order_by=created_at_asc&page=1&pool_id=753f9e5c-4dd6-4012-a54e-f7c97cba5a89&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-07-27T15:36:50.398084Z","error_message":null,"id":"06cf11cf-0271-498d-98bb-f629db0eb7ac","name":"scw-placement-group-placement-group-06cf11cf02","pool_id":"753f9e5c-4dd6-4012-a54e-f7c97cba5a89","provider_id":"scaleway://instance/nl-ams-2/fd2898b1-62b0-4909-9da0-b6365e50028e","public_ip_v4":"51.158.230.121","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-07-27T15:38:51.418824Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/67b276d6-5d1a-4ec6-abcd-cef6c04d5a4b?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
