---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigMinimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://d6c60492-bc7d-43c7-b51e-c85fe2f4bd27.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-05-26T13:19:54.487671849Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.d6c60492-bc7d-43c7-b51e-c85fe2f4bd27.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"d6c60492-bc7d-43c7-b51e-c85fe2f4bd27","ingress":"none","name":"K8SPoolConfigMinimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-05-26T13:19:54.534339129Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6c60492-bc7d-43c7-b51e-c85fe2f4bd27
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6c60492-bc7d-43c7-b51e-c85fe2f4bd27/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWdtaW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVZYbE9WRVY2VFZSck1VNHhiMWhFVkUxNlRVUlZlVTVVUlhwTlZHc3hUakZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6c60492-bc7d-43c7-b51e-c85fe2f4bd27/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"d6c60492-bc7d-43c7-b51e-c85fe2f4bd27","container_runtime":"containerd","created_at":"2023-05-26T13:20:00.514885Z","id":"bc94f1a5-0863-4a71-856a-13cd347a5747","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-05-26T13:20:00.609471877Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/bc94f1a5-0863-4a71-856a-13cd347a5747
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"d6c60492-bc7d-43c7-b51e-c85fe2f4bd27","container_runtime":"containerd","created_at":"2023-05-26T13:20:00.514885Z","id":"bc94f1a5-0863-4a71-856a-13cd347a5747","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-05-26T13:20:00.609472Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6c60492-bc7d-43c7-b51e-c85fe2f4bd27/nodes?order_by=created_at_asc&page=1&pool_id=bc94f1a5-0863-4a71-856a-13cd347a5747&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"d6c60492-bc7d-43c7-b51e-c85fe2f4bd27","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-05-26T13:21:59.428259Z","error_message":null,"id":"1f83c352-1baa-4b7a-a050-966f38bb5aff","name":"scw-k8spoolconfigminimal-default-1f83c3521baa4","pool_id":"bc94f1a5-0863-4a71-856a-13cd347a5747","provider_id":"scaleway://instance/fr-par-1/2bfe4572-9310-4db6-89a4-47050cc83537","public_ip_v4":"163.172.143.59","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-05-26T13:24:20.795163Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6c60492-bc7d-43c7-b51e-c85fe2f4bd27/nodes?order_by=created_at_asc&page=1&pool_id=bc94f1a5-0863-4a71-856a-13cd347a5747&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"d6c60492-bc7d-43c7-b51e-c85fe2f4bd27","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-05-26T13:21:59.428259Z","error_message":null,"id":"1f83c352-1baa-4b7a-a050-966f38bb5aff","name":"scw-k8spoolconfigminimal-default-1f83c3521baa4","pool_id":"bc94f1a5-0863-4a71-856a-13cd347a5747","provider_id":"scaleway://instance/fr-par-1/2bfe4572-9310-4db6-89a4-47050cc83537","public_ip_v4":"163.172.143.59","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-05-26T13:26:45.793530Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6c60492-bc7d-43c7-b51e-c85fe2f4bd27?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/d6c60492-bc7d-43c7-b51e-c85fe2f4bd27
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d6c60492-bc7d-43c7-b51e-c85fe2f4bd27","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
