---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-20T16:29:11.706783Z","dhcp_enabled":true,"id":"605ce818-ba92-465b-9587-59c9cb5019a5","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:29:11.706783Z","id":"6eab2cbd-f8e1-400d-bc69-f2fc114156d9","subnet":"172.16.0.0/22","updated_at":"2023-12-20T16:29:11.706783Z"},{"created_at":"2023-12-20T16:29:11.706783Z","id":"57743357-e812-4370-bbc8-f2719e09f1d0","subnet":"fd5f:519c:6d46:8127::/64","updated_at":"2023-12-20T16:29:11.706783Z"}],"tags":[],"updated_at":"2023-12-20T16:29:11.706783Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/605ce818-ba92-465b-9587-59c9cb5019a5
    method: GET
  response:
    body: '{"created_at":"2023-12-20T16:29:11.706783Z","dhcp_enabled":true,"id":"605ce818-ba92-465b-9587-59c9cb5019a5","name":"test-pool-wait","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:29:11.706783Z","id":"6eab2cbd-f8e1-400d-bc69-f2fc114156d9","subnet":"172.16.0.0/22","updated_at":"2023-12-20T16:29:11.706783Z"},{"created_at":"2023-12-20T16:29:11.706783Z","id":"57743357-e812-4370-bbc8-f2719e09f1d0","subnet":"fd5f:519c:6d46:8127::/64","updated_at":"2023-12-20T16:29:11.706783Z"}],"tags":[],"updated_at":"2023-12-20T16:29:11.706783Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"605ce818-ba92-465b-9587-59c9cb5019a5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://90c8881d-6767-46d0-903b-bf92a5d63bae.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-20T16:29:12.859934448Z","created_at":"2023-12-20T16:29:12.859934448Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.90c8881d-6767-46d0-903b-bf92a5d63bae.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"90c8881d-6767-46d0-903b-bf92a5d63bae","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"605ce818-ba92-465b-9587-59c9cb5019a5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-12-20T16:29:12.872537091Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/90c8881d-6767-46d0-903b-bf92a5d63bae
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/90c8881d-6767-46d0-903b-bf92a5d63bae/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYaFBWRVV5VFdwcmVFNXNiMWhFVkUxNlRWUkplRTlVUlRKTmFtdDRUbXh2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/90c8881d-6767-46d0-903b-bf92a5d63bae/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"90c8881d-6767-46d0-903b-bf92a5d63bae","container_runtime":"containerd","created_at":"2023-12-20T16:29:18.375068Z","id":"b9aefcdf-2119-42f2-9601-95f8b0623423","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:29:18.385640249Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b9aefcdf-2119-42f2-9601-95f8b0623423
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"90c8881d-6767-46d0-903b-bf92a5d63bae","container_runtime":"containerd","created_at":"2023-12-20T16:29:18.375068Z","id":"b9aefcdf-2119-42f2-9601-95f8b0623423","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-20T16:29:18.385640Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/90c8881d-6767-46d0-903b-bf92a5d63bae/nodes?order_by=created_at_asc&page=1&pool_id=b9aefcdf-2119-42f2-9601-95f8b0623423&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"90c8881d-6767-46d0-903b-bf92a5d63bae","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:34:35.242290Z","error_message":null,"id":"8152df45-2d2d-4553-b1c1-abe83fb86ef0","name":"scw-test-pool-wait-test-pool-wait-8152df452d2d","pool_id":"b9aefcdf-2119-42f2-9601-95f8b0623423","provider_id":"scaleway://instance/fr-par-1/d8ffa2e2-95a6-48cc-9892-2a7aaf1b68a7","public_ip_v4":"163.172.185.89","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:36:49.510795Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/90c8881d-6767-46d0-903b-bf92a5d63bae/nodes?order_by=created_at_asc&page=1&pool_id=b9aefcdf-2119-42f2-9601-95f8b0623423&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"90c8881d-6767-46d0-903b-bf92a5d63bae","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:34:35.242290Z","error_message":null,"id":"8152df45-2d2d-4553-b1c1-abe83fb86ef0","name":"scw-test-pool-wait-test-pool-wait-8152df452d2d","pool_id":"b9aefcdf-2119-42f2-9601-95f8b0623423","provider_id":"scaleway://instance/fr-par-1/d8ffa2e2-95a6-48cc-9892-2a7aaf1b68a7","public_ip_v4":"163.172.185.89","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:39:31.941322Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c1b07590-a103-4e0f-bcc8-fcaab490f475
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"c1b07590-a103-4e0f-bcc8-fcaab490f475","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/90c8881d-6767-46d0-903b-bf92a5d63bae?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
