---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
- request:
    body: '{"name":"test-pool-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-28T14:05:43.885823Z","dhcp_enabled":true,"id":"2694c965-7a33-4887-8c54-031ee108becb","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:05:43.885823Z","id":"82a45b9d-98d5-45d4-8d3a-3c2e4ac24eb3","subnet":"172.16.64.0/22","updated_at":"2024-02-28T14:05:43.885823Z"},{"created_at":"2024-02-28T14:05:43.885823Z","id":"21b9b80e-0631-48e2-a68c-484856fbc311","subnet":"fd5f:519c:6d46:4c97::/64","updated_at":"2024-02-28T14:05:43.885823Z"}],"tags":[],"updated_at":"2024-02-28T14:05:43.885823Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2694c965-7a33-4887-8c54-031ee108becb
    method: GET
  response:
    body: '{"created_at":"2024-02-28T14:05:43.885823Z","dhcp_enabled":true,"id":"2694c965-7a33-4887-8c54-031ee108becb","name":"test-pool-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-28T14:05:43.885823Z","id":"82a45b9d-98d5-45d4-8d3a-3c2e4ac24eb3","subnet":"172.16.64.0/22","updated_at":"2024-02-28T14:05:43.885823Z"},{"created_at":"2024-02-28T14:05:43.885823Z","id":"21b9b80e-0631-48e2-a68c-484856fbc311","subnet":"fd5f:519c:6d46:4c97::/64","updated_at":"2024-02-28T14:05:43.885823Z"}],"tags":[],"updated_at":"2024-02-28T14:05:43.885823Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.29.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"2694c965-7a33-4887-8c54-031ee108becb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7bf4603d-534d-4699-a2eb-1fee0d4d8156.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-02-28T14:05:45.554075881Z","created_at":"2024-02-28T14:05:45.554075881Z","description":"","dns_wildcard":"*.7bf4603d-534d-4699-a2eb-1fee0d4d8156.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7bf4603d-534d-4699-a2eb-1fee0d4d8156","name":"test-pool-zone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"2694c965-7a33-4887-8c54-031ee108becb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2024-02-28T14:05:45.563163995Z","upgrade_available":false,"version":"1.29.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7bf4603d-534d-4699-a2eb-1fee0d4d8156
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7bf4603d-534d-4699-a2eb-1fee0d4d8156/pools?order_by=created_at_asc&page=1&status=unknown
    method: GET
  response:
    body: '{"pools":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7bf4603d-534d-4699-a2eb-1fee0d4d8156/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKTUUxRVNYbE9la1V3VFVSVk1FNXNiMWhFVkUwd1RVUkplVTU2UlRCTlJGVXdUbXh2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-zone","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7bf4603d-534d-4699-a2eb-1fee0d4d8156/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"7bf4603d-534d-4699-a2eb-1fee0d4d8156","container_runtime":"containerd","created_at":"2024-02-28T14:05:51.031460Z","id":"866156fe-c906-4d82-8c9f-6f517df16edd","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2024-02-28T14:05:51.044299305Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/866156fe-c906-4d82-8c9f-6f517df16edd
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"7bf4603d-534d-4699-a2eb-1fee0d4d8156","container_runtime":"containerd","created_at":"2024-02-28T14:05:51.031460Z","id":"866156fe-c906-4d82-8c9f-6f517df16edd","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2024-02-28T14:05:51.044299Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.29.1","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7bf4603d-534d-4699-a2eb-1fee0d4d8156/nodes?order_by=created_at_asc&page=1&pool_id=866156fe-c906-4d82-8c9f-6f517df16edd&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7bf4603d-534d-4699-a2eb-1fee0d4d8156","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-28T14:11:02.424269Z","error_message":null,"id":"a6f95326-1c9f-4f4a-a0bd-969b961fbf31","name":"scw-test-pool-zone-test-pool-zone-a6f953261c9f","pool_id":"866156fe-c906-4d82-8c9f-6f517df16edd","provider_id":"scaleway://instance/fr-par-2/32b8aa73-d23a-4966-9ba0-4d990b8a7130","public_ip_v4":"51.159.175.51","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-28T14:13:45.235069Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/866156fe-c906-4d82-8c9f-6f517df16edd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"866156fe-c906-4d82-8c9f-6f517df16edd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7bf4603d-534d-4699-a2eb-1fee0d4d8156?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
