---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-17T10:00:25.714559Z","id":"b8f09300-a08c-467d-bf66-2a1cf2752f2f","is_default":false,"name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-10-17T10:00:25.714559Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b8f09300-a08c-467d-bf66-2a1cf2752f2f
    method: GET
  response:
    body: '{"created_at":"2023-10-17T10:00:25.714559Z","id":"b8f09300-a08c-467d-bf66-2a1cf2752f2f","is_default":false,"name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","tags":[],"updated_at":"2023-10-17T10:00:25.714559Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-k8s-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null,"vpc_id":"b8f09300-a08c-467d-bf66-2a1cf2752f2f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-17T10:00:26.823509Z","dhcp_enabled":true,"id":"e1f48ed1-d58d-4356-bfb7-008999e09424","name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-17T10:00:26.823509Z","id":"20b5b50d-163e-4be2-b01f-ca935435f68a","subnet":"172.16.144.0/22","updated_at":"2023-10-17T10:00:26.823509Z"},{"created_at":"2023-10-17T10:00:26.823509Z","id":"2b912cae-2275-4920-bf14-6af21b9ae09f","subnet":"fd5f:519c:6d46:cd31::/64","updated_at":"2023-10-17T10:00:26.823509Z"}],"tags":[],"updated_at":"2023-10-17T10:00:26.823509Z","vpc_id":"b8f09300-a08c-467d-bf66-2a1cf2752f2f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e1f48ed1-d58d-4356-bfb7-008999e09424
    method: GET
  response:
    body: '{"created_at":"2023-10-17T10:00:26.823509Z","dhcp_enabled":true,"id":"e1f48ed1-d58d-4356-bfb7-008999e09424","name":"test-k8s-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-10-17T10:00:26.823509Z","id":"20b5b50d-163e-4be2-b01f-ca935435f68a","subnet":"172.16.144.0/22","updated_at":"2023-10-17T10:00:26.823509Z"},{"created_at":"2023-10-17T10:00:26.823509Z","id":"2b912cae-2275-4920-bf14-6af21b9ae09f","subnet":"fd5f:519c:6d46:cd31::/64","updated_at":"2023-10-17T10:00:26.823509Z"}],"tags":[],"updated_at":"2023-10-17T10:00:26.823509Z","vpc_id":"b8f09300-a08c-467d-bf66-2a1cf2752f2f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-k8s-private-network","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"e1f48ed1-d58d-4356-bfb7-008999e09424"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://6c379c76-848b-44b5-83de-03ba6d07e5d0.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-10-17T10:00:29.814690748Z","created_at":"2023-10-17T10:00:29.814690748Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.6c379c76-848b-44b5-83de-03ba6d07e5d0.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"6c379c76-848b-44b5-83de-03ba6d07e5d0","ingress":"none","name":"test-k8s-private-network","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"e1f48ed1-d58d-4356-bfb7-008999e09424","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-10-17T10:00:29.822538503Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c379c76-848b-44b5-83de-03ba6d07e5d0
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c379c76-848b-44b5-83de-03ba6d07e5d0/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXByaXZhdGUtbmV0d29yayIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVRWGhPYWtWM1RVUkJlazFXYjFoRVZFMTZUVlJCZUU1cVJYZE5SRUY2VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c379c76-848b-44b5-83de-03ba6d07e5d0/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6c379c76-848b-44b5-83de-03ba6d07e5d0","container_runtime":"containerd","created_at":"2023-10-17T10:00:35.544239Z","id":"a55d8611-3f97-40c4-b5a4-d91c18563eb1","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-10-17T10:00:35.551209613Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a55d8611-3f97-40c4-b5a4-d91c18563eb1
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6c379c76-848b-44b5-83de-03ba6d07e5d0","container_runtime":"containerd","created_at":"2023-10-17T10:00:35.544239Z","id":"a55d8611-3f97-40c4-b5a4-d91c18563eb1","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-10-17T10:00:35.551210Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c379c76-848b-44b5-83de-03ba6d07e5d0/nodes?order_by=created_at_asc&page=1&pool_id=a55d8611-3f97-40c4-b5a4-d91c18563eb1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6c379c76-848b-44b5-83de-03ba6d07e5d0","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-17T10:02:02.428672Z","error_message":null,"id":"c33a95d3-bc1d-43c3-9478-7d8711d22501","name":"scw-test-k8s-private-network-pool-c33a95d3bc1d","pool_id":"a55d8611-3f97-40c4-b5a4-d91c18563eb1","provider_id":"scaleway://instance/fr-par-1/020aac93-1f70-45b0-99d6-2eecab578686","public_ip_v4":"51.15.230.205","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-17T10:06:00.750598Z"},{"cluster_id":"6c379c76-848b-44b5-83de-03ba6d07e5d0","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-17T10:02:06.579272Z","error_message":null,"id":"baedc2f5-761c-42b9-ad94-dd1764317526","name":"scw-test-k8s-private-network-pool-baedc2f5761c","pool_id":"a55d8611-3f97-40c4-b5a4-d91c18563eb1","provider_id":"scaleway://instance/fr-par-1/b62cf172-f0f8-44f4-bcdc-b21dd2b51b7f","public_ip_v4":"51.15.130.6","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-17T10:06:00.732418Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c379c76-848b-44b5-83de-03ba6d07e5d0/nodes?order_by=created_at_asc&pool_id=a55d8611-3f97-40c4-b5a4-d91c18563eb1&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6c379c76-848b-44b5-83de-03ba6d07e5d0","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/020aac93-1f70-45b0-99d6-2eecab578686
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-10-17T10:02:03.151039+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-private-network-pool-c33a95d3bc1d","id":"020aac93-1f70-45b0-99d6-2eecab578686","image":{"arch":"x86_64","creation_date":"2023-10-05T10:50:51.838301+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"8795d4a3-0918-41f3-b119-03a7effbdd8f","modification_date":"2023-10-05T11:06:46.734414+00:00","name":"k8s_base_node_2023-09-27.6","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"23e4a5ca-9587-4556-8eee-34cafe7b43cc","name":"k8s_base_node_2023-09-27.6","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:5905::1","gateway":"2001:bc8:610:5905::","netmask":"64"},"location":{"cluster_id":"51","hypervisor_id":"104","node_id":"6","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:29:23:01","maintenances":[],"modification_date":"2023-10-17T10:02:46.174281+00:00","name":"scw-test-k8s-private-network-pool-c33a95d3bc1d","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.194.77.11","private_nics":[{"creation_date":"2023-10-17T10:02:03.839711+00:00","id":"3225d35d-62e0-4d14-b843-50f23c87fcd1","mac_address":"02:00:00:14:45:31","modification_date":"2023-10-17T10:02:05.180596+00:00","private_network_id":"e1f48ed1-d58d-4356-bfb7-008999e09424","server_id":"020aac93-1f70-45b0-99d6-2eecab578686","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.15.230.205","dynamic":true,"family":"inet","gateway":null,"id":"a62ebce8-d6a6-47ae-aa4f-6733160cb1bd","netmask":"32","provisioning_mode":"dhcp","tags":[]},"public_ips":[{"address":"51.15.230.205","dynamic":true,"family":"inet","gateway":null,"id":"a62ebce8-d6a6-47ae-aa4f-6733160cb1bd","netmask":"32","provisioning_mode":"dhcp","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"aeba7168-a0fd-445b-a8e9-b92b6b5ebc15","name":"kubernetes
      6c379c76-848b-44b5-83de-03ba6d07e5d0"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=6c379c76-848b-44b5-83de-03ba6d07e5d0","pool=a55d8611-3f97-40c4-b5a4-d91c18563eb1","pool-name=pool","runtime=containerd","managed=true","node=c33a95d3-bc1d-43c3-9478-7d8711d22501"],"volumes":{"0":{"boot":false,"creation_date":"2023-10-17T10:02:03.151039+00:00","export_uri":null,"id":"25515109-a312-47c4-a212-3342d74db1b1","modification_date":"2023-10-17T10:02:03.151039+00:00","name":"k8s_base_node_2023-09-27.6","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"020aac93-1f70-45b0-99d6-2eecab578686","name":"scw-test-k8s-private-network-pool-c33a95d3bc1d"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c379c76-848b-44b5-83de-03ba6d07e5d0?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6c379c76-848b-44b5-83de-03ba6d07e5d0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6c379c76-848b-44b5-83de-03ba6d07e5d0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
