---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-12T12:33:59.897305Z","dhcp_enabled":true,"id":"f45ce296-b769-4bb2-87a7-2f0f023cab20","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:33:59.897305Z","id":"6c5403bc-1ddf-478b-85ef-6583702fe2f1","subnet":"172.16.24.0/22","updated_at":"2023-12-12T12:33:59.897305Z"},{"created_at":"2023-12-12T12:33:59.897305Z","id":"fd583a01-ffb6-40f4-9e69-f6eb788d8515","subnet":"fd63:256c:45f7:9807::/64","updated_at":"2023-12-12T12:33:59.897305Z"}],"tags":[],"updated_at":"2023-12-12T12:33:59.897305Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f45ce296-b769-4bb2-87a7-2f0f023cab20
    method: GET
  response:
    body: '{"created_at":"2023-12-12T12:33:59.897305Z","dhcp_enabled":true,"id":"f45ce296-b769-4bb2-87a7-2f0f023cab20","name":"test-pool-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-12T12:33:59.897305Z","id":"6c5403bc-1ddf-478b-85ef-6583702fe2f1","subnet":"172.16.24.0/22","updated_at":"2023-12-12T12:33:59.897305Z"},{"created_at":"2023-12-12T12:33:59.897305Z","id":"fd583a01-ffb6-40f4-9e69-f6eb788d8515","subnet":"fd63:256c:45f7:9807::/64","updated_at":"2023-12-12T12:33:59.897305Z"}],"tags":[],"updated_at":"2023-12-12T12:33:59.897305Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-zone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"f45ce296-b769-4bb2-87a7-2f0f023cab20"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://a610bcc9-84dc-4a50-9c51-263741fb4cd4.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-12T12:34:01.299579782Z","created_at":"2023-12-12T12:34:01.299579782Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.a610bcc9-84dc-4a50-9c51-263741fb4cd4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"a610bcc9-84dc-4a50-9c51-263741fb4cd4","ingress":"none","name":"test-pool-zone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f45ce296-b769-4bb2-87a7-2f0f023cab20","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2023-12-12T12:34:01.312833939Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a610bcc9-84dc-4a50-9c51-263741fb4cd4
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a610bcc9-84dc-4a50-9c51-263741fb4cd4/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC16b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYaE5WRVY1VFhwUmQwMXNiMWhFVkUxNlRWUkplRTFVUlhsTmVsRjNUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-zone","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"zone":"fr-par-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a610bcc9-84dc-4a50-9c51-263741fb4cd4/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"a610bcc9-84dc-4a50-9c51-263741fb4cd4","container_runtime":"containerd","created_at":"2023-12-12T12:34:07.310778Z","id":"c7c8bea6-d683-44f0-927b-adfe0dd03219","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-12-12T12:34:07.317051974Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c7c8bea6-d683-44f0-927b-adfe0dd03219
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"a610bcc9-84dc-4a50-9c51-263741fb4cd4","container_runtime":"containerd","created_at":"2023-12-12T12:34:07.310778Z","id":"c7c8bea6-d683-44f0-927b-adfe0dd03219","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-zone","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-12-12T12:34:07.317052Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a610bcc9-84dc-4a50-9c51-263741fb4cd4/nodes?order_by=created_at_asc&page=1&pool_id=c7c8bea6-d683-44f0-927b-adfe0dd03219&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a610bcc9-84dc-4a50-9c51-263741fb4cd4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-12T12:35:58.968955Z","error_message":null,"id":"179667ac-00e7-4ea6-8303-3c0ca33c4916","name":"scw-test-pool-zone-test-pool-zone-179667ac00e7","pool_id":"c7c8bea6-d683-44f0-927b-adfe0dd03219","provider_id":"scaleway://instance/fr-par-2/787ce11d-5c10-482e-a1ea-96542cdafd2c","public_ip_v4":"51.159.164.130","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-12T12:38:36.492053Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c7c8bea6-d683-44f0-927b-adfe0dd03219
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"c7c8bea6-d683-44f0-927b-adfe0dd03219","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/a610bcc9-84dc-4a50-9c51-263741fb4cd4?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
