---
version: 1
interactions:
- request:
    body: '{"project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","name":"PoolBetaConfigWait","description":"","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"version":"1.19.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-10-20T15:23:19.859732940Z","updated_at":"2020-10-20T15:23:22.177342554Z","name":"PoolBetaConfigWait","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7
    method: GET
  response:
    body: '{"region":"fr-par","id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-10-20T15:23:19.859733Z","updated_at":"2020-10-20T15:23:22.177343Z","name":"PoolBetaConfigWait","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogcG9vbGJldGFjb25maWd3YWl0CiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VONVJFTkRRV0pEWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpkMDFVUVhoUFZFVXhUV3BOZVUxc2IxaEVWRTEzVFZSQmVFOVVSVEZOYWsxNVRXeHZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"2479e9f9-1d56-409d-bc21-3d2c80ae0b2d","cluster_id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","created_at":"2020-10-20T15:23:28.296802Z","updated_at":"2020-10-20T15:23:28.314343660Z","name":"default","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/2479e9f9-1d56-409d-bc21-3d2c80ae0b2d
    method: GET
  response:
    body: '{"region":"fr-par","id":"2479e9f9-1d56-409d-bc21-3d2c80ae0b2d","cluster_id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","created_at":"2020-10-20T15:23:28.296802Z","updated_at":"2020-10-20T15:23:28.314344Z","name":"default","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7/nodes?order_by=created_at_asc&page=1&pool_id=2479e9f9-1d56-409d-bc21-3d2c80ae0b2d&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"3ef4e03a-b8cc-488f-a373-636caf5ff1e0","cluster_id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","created_at":"2020-10-20T15:24:19.284655Z","updated_at":"2020-10-20T15:27:11.591606Z","pool_id":"2479e9f9-1d56-409d-bc21-3d2c80ae0b2d","status":"ready","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"name":"scw-poolbetaconfigwait-default-3ef4e03ab8cc488","public_ip_v4":"51.15.241.114","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7/nodes?order_by=created_at_asc&page=1&pool_id=2479e9f9-1d56-409d-bc21-3d2c80ae0b2d&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"3ef4e03a-b8cc-488f-a373-636caf5ff1e0","cluster_id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","created_at":"2020-10-20T15:24:19.284655Z","updated_at":"2020-10-20T15:30:57.361487Z","pool_id":"2479e9f9-1d56-409d-bc21-3d2c80ae0b2d","status":"ready","conditions":{"CorruptDockerOverlay2":"False","DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","ReadonlyFilesystem":"False","Ready":"True"},"name":"scw-poolbetaconfigwait-default-3ef4e03ab8cc488","public_ip_v4":"51.15.241.114","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","organization_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","project_id":"a6c249e9-c32d-46e4-badb-b57528eafc4b","created_at":"2020-10-20T15:23:19.859733Z","updated_at":"2020-10-20T15:35:02.289287447Z","name":"PoolBetaConfigWait","description":"","status":"deleting","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"0cfa4c8b-fe99-4e33-a166-cb8b4f9bccc7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
