---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-wait","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T13:51:13.636213Z","dhcp_enabled":true,"id":"d3f19320-3bcb-4550-a629-e646f8d0ab5a","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:51:13.636213Z","id":"483907c5-df3e-4110-b580-23c7724c65d4","subnet":"172.16.32.0/22","updated_at":"2023-11-13T13:51:13.636213Z"},{"created_at":"2023-11-13T13:51:13.636213Z","id":"80ea870b-5df3-4921-b0de-0bfa900ae2b7","subnet":"fd63:256c:45f7:778e::/64","updated_at":"2023-11-13T13:51:13.636213Z"}],"tags":[],"updated_at":"2023-11-13T13:51:13.636213Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d3f19320-3bcb-4550-a629-e646f8d0ab5a
    method: GET
  response:
    body: '{"created_at":"2023-11-13T13:51:13.636213Z","dhcp_enabled":true,"id":"d3f19320-3bcb-4550-a629-e646f8d0ab5a","name":"test-pool-wait","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:51:13.636213Z","id":"483907c5-df3e-4110-b580-23c7724c65d4","subnet":"172.16.32.0/22","updated_at":"2023-11-13T13:51:13.636213Z"},{"created_at":"2023-11-13T13:51:13.636213Z","id":"80ea870b-5df3-4921-b0de-0bfa900ae2b7","subnet":"fd63:256c:45f7:778e::/64","updated_at":"2023-11-13T13:51:13.636213Z"}],"tags":[],"updated_at":"2023-11-13T13:51:13.636213Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-wait","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"d3f19320-3bcb-4550-a629-e646f8d0ab5a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-13T13:51:18.420504101Z","created_at":"2023-11-13T13:51:18.420504101Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4","ingress":"none","name":"test-pool-wait","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d3f19320-3bcb-4550-a629-e646f8d0ab5a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-11-13T13:51:18.431287047Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC13YWl0IgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYaE5ha1Y2VGxSRmVVMHhiMWhFVkUxNlRWUkZlRTFxUlhwT1ZFVjVUVEZ2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"test-pool-wait","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4","container_runtime":"containerd","created_at":"2023-11-13T13:51:29.627043Z","id":"664b7147-6d6f-4aa8-9a7c-d2c5229215b9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:51:29.808068144Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/664b7147-6d6f-4aa8-9a7c-d2c5229215b9
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4","container_runtime":"containerd","created_at":"2023-11-13T13:51:29.627043Z","id":"664b7147-6d6f-4aa8-9a7c-d2c5229215b9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-wait","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:51:29.808068Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4/nodes?order_by=created_at_asc&page=1&pool_id=664b7147-6d6f-4aa8-9a7c-d2c5229215b9&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:53:26.929920Z","error_message":null,"id":"c71037bb-aca6-49a6-8251-5c3aebb7e97d","name":"scw-test-pool-wait-test-pool-wait-c71037bbaca6","pool_id":"664b7147-6d6f-4aa8-9a7c-d2c5229215b9","provider_id":"scaleway://instance/fr-par-1/f473dc0f-2208-41b4-928b-c99062bd1312","public_ip_v4":"163.172.160.92","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T13:55:55.560650Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4/nodes?order_by=created_at_asc&page=1&pool_id=664b7147-6d6f-4aa8-9a7c-d2c5229215b9&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:53:26.929920Z","error_message":null,"id":"c71037bb-aca6-49a6-8251-5c3aebb7e97d","name":"scw-test-pool-wait-test-pool-wait-c71037bbaca6","pool_id":"664b7147-6d6f-4aa8-9a7c-d2c5229215b9","provider_id":"scaleway://instance/fr-par-1/f473dc0f-2208-41b4-928b-c99062bd1312","public_ip_v4":"163.172.160.92","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T13:58:16.774794Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/eb99cf2f-94f6-4f95-b7db-9c2fbc8e997e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"eb99cf2f-94f6-4f95-b7db-9c2fbc8e997e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/13f1d25c-1ebb-4ff8-863c-0d3ed08d3ba4?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
