---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"8980538f-16df-41a2-a00f-3653a5e91e1d","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8980538f-16df-41a2-a00f-3653a5e91e1d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/8980538f-16df-41a2-a00f-3653a5e91e1d
    method: GET
  response:
    body: '{"placement_group":{"id":"8980538f-16df-41a2-a00f-3653a5e91e1d","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T13:51:14.496479Z","dhcp_enabled":true,"id":"8b5b10dc-070e-40e0-9881-b70984aa0e68","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:51:14.496479Z","id":"b3a91bdf-14d6-40c0-85d4-ae9534f1c338","subnet":"172.16.44.0/22","updated_at":"2023-11-13T13:51:14.496479Z"},{"created_at":"2023-11-13T13:51:14.496479Z","id":"5ca7e2c2-7730-4aa5-89ed-1b2ef3ecfb80","subnet":"fd63:256c:45f7:2eef::/64","updated_at":"2023-11-13T13:51:14.496479Z"}],"tags":[],"updated_at":"2023-11-13T13:51:14.496479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8b5b10dc-070e-40e0-9881-b70984aa0e68
    method: GET
  response:
    body: '{"created_at":"2023-11-13T13:51:14.496479Z","dhcp_enabled":true,"id":"8b5b10dc-070e-40e0-9881-b70984aa0e68","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T13:51:14.496479Z","id":"b3a91bdf-14d6-40c0-85d4-ae9534f1c338","subnet":"172.16.44.0/22","updated_at":"2023-11-13T13:51:14.496479Z"},{"created_at":"2023-11-13T13:51:14.496479Z","id":"5ca7e2c2-7730-4aa5-89ed-1b2ef3ecfb80","subnet":"fd63:256c:45f7:2eef::/64","updated_at":"2023-11-13T13:51:14.496479Z"}],"tags":[],"updated_at":"2023-11-13T13:51:14.496479Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"8b5b10dc-070e-40e0-9881-b70984aa0e68"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://ad0989f3-da1b-44e7-a32a-cadf32112e33.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-13T13:51:18.851449698Z","created_at":"2023-11-13T13:51:18.851449698Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.ad0989f3-da1b-44e7-a32a-cadf32112e33.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"ad0989f3-da1b-44e7-a32a-cadf32112e33","ingress":"none","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"8b5b10dc-070e-40e0-9881-b70984aa0e68","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-11-13T13:51:18.862832504Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ad0989f3-da1b-44e7-a32a-cadf32112e33
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ad0989f3-da1b-44e7-a32a-cadf32112e33/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFVUlhoTmFrVjZUbFJGZVUxR2IxaEVWRTE2VFZSRmVFMXFSWHBPVkVWNVRVWnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"8980538f-16df-41a2-a00f-3653a5e91e1d","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ad0989f3-da1b-44e7-a32a-cadf32112e33/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"ad0989f3-da1b-44e7-a32a-cadf32112e33","container_runtime":"containerd","created_at":"2023-11-13T13:51:24.372865Z","id":"6c929fde-f625-43ea-9db3-5413c5cac0b9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"8980538f-16df-41a2-a00f-3653a5e91e1d","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:51:24.384115456Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/6c929fde-f625-43ea-9db3-5413c5cac0b9
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"ad0989f3-da1b-44e7-a32a-cadf32112e33","container_runtime":"containerd","created_at":"2023-11-13T13:51:24.372865Z","id":"6c929fde-f625-43ea-9db3-5413c5cac0b9","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"8980538f-16df-41a2-a00f-3653a5e91e1d","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:51:24.384115Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ad0989f3-da1b-44e7-a32a-cadf32112e33/nodes?order_by=created_at_asc&page=1&pool_id=6c929fde-f625-43ea-9db3-5413c5cac0b9&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"ad0989f3-da1b-44e7-a32a-cadf32112e33","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:53:35.223529Z","error_message":null,"id":"7249918f-5508-4947-8cb2-49d6ff093024","name":"scw-test-pool-placeme-test-pool-placeme-724991","pool_id":"6c929fde-f625-43ea-9db3-5413c5cac0b9","provider_id":"scaleway://instance/fr-par-1/4c41e6c0-83a4-4b55-a3a9-a47921126a6c","public_ip_v4":"51.158.101.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T13:56:17.255963Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/6c929fde-f625-43ea-9db3-5413c5cac0b9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"6c929fde-f625-43ea-9db3-5413c5cac0b9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/ad0989f3-da1b-44e7-a32a-cadf32112e33?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"b7adfbe1-fed5-4293-aa43-25e4e6d75b25","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b7adfbe1-fed5-4293-aa43-25e4e6d75b25
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/b7adfbe1-fed5-4293-aa43-25e4e6d75b25
    method: GET
  response:
    body: '{"placement_group":{"id":"b7adfbe1-fed5-4293-aa43-25e4e6d75b25","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T13:56:55.206123Z","dhcp_enabled":true,"id":"9377678e-6fed-464c-a2ae-b3e40e4f9c82","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-13T13:56:55.206123Z","id":"623363e3-ff96-455b-833e-e1d478df144f","subnet":"172.16.4.0/22","updated_at":"2023-11-13T13:56:55.206123Z"},{"created_at":"2023-11-13T13:56:55.206123Z","id":"16a86205-8fb7-4b9c-b740-800e85a3c809","subnet":"fd68:d440:21c4:ad4b::/64","updated_at":"2023-11-13T13:56:55.206123Z"}],"tags":[],"updated_at":"2023-11-13T13:56:55.206123Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/9377678e-6fed-464c-a2ae-b3e40e4f9c82
    method: GET
  response:
    body: '{"created_at":"2023-11-13T13:56:55.206123Z","dhcp_enabled":true,"id":"9377678e-6fed-464c-a2ae-b3e40e4f9c82","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-13T13:56:55.206123Z","id":"623363e3-ff96-455b-833e-e1d478df144f","subnet":"172.16.4.0/22","updated_at":"2023-11-13T13:56:55.206123Z"},{"created_at":"2023-11-13T13:56:55.206123Z","id":"16a86205-8fb7-4b9c-b740-800e85a3c809","subnet":"fd68:d440:21c4:ad4b::/64","updated_at":"2023-11-13T13:56:55.206123Z"}],"tags":[],"updated_at":"2023-11-13T13:56:55.206123Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/a2a0e127-b246-4e7c-b1f6-eb87762ff763
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/a2a0e127-b246-4e7c-b1f6-eb87762ff763/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"b7adfbe1-fed5-4293-aa43-25e4e6d75b25","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/a2a0e127-b246-4e7c-b1f6-eb87762ff763/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a2a0e127-b246-4e7c-b1f6-eb87762ff763","container_runtime":"containerd","created_at":"2023-11-13T13:57:01.967275Z","id":"549dd02e-61ea-40de-9aec-1c68dedcda39","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"b7adfbe1-fed5-4293-aa43-25e4e6d75b25","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:57:01.979882201Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/549dd02e-61ea-40de-9aec-1c68dedcda39
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"a2a0e127-b246-4e7c-b1f6-eb87762ff763","container_runtime":"containerd","created_at":"2023-11-13T13:57:01.967275Z","id":"549dd02e-61ea-40de-9aec-1c68dedcda39","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"b7adfbe1-fed5-4293-aa43-25e4e6d75b25","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-13T13:57:01.979882Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/a2a0e127-b246-4e7c-b1f6-eb87762ff763/nodes?order_by=created_at_asc&page=1&pool_id=549dd02e-61ea-40de-9aec-1c68dedcda39&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"a2a0e127-b246-4e7c-b1f6-eb87762ff763","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T13:58:38.751025Z","error_message":null,"id":"85120e23-c614-472a-b9f1-fb4b0f8a777b","name":"scw-test-pool-placeme-test-pool-placeme-85120e","pool_id":"549dd02e-61ea-40de-9aec-1c68dedcda39","provider_id":"scaleway://instance/nl-ams-2/9568932f-33d9-44f0-8240-077f4300de38","public_ip_v4":"51.158.238.63","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-11-13T14:00:44.815322Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/a2a0e127-b246-4e7c-b1f6-eb87762ff763/available-types
    method: GET
  response:
    body: '{"cluster_types":[{"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/a2a0e127-b246-4e7c-b1f6-eb87762ff763?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
