---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-size","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-07T15:49:51.075136Z","dhcp_enabled":true,"id":"42e67a9e-cba6-407b-a764-9aea1e6574c7","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:51.075136Z","id":"4e078c7b-4307-4239-bf9c-ea4d2f217c14","subnet":"172.16.80.0/22","updated_at":"2023-11-07T15:49:51.075136Z"},{"created_at":"2023-11-07T15:49:51.075136Z","id":"825fa982-e1b5-4dd1-b810-d7e91ef02fd1","subnet":"fd5f:519c:6d46:ebc6::/64","updated_at":"2023-11-07T15:49:51.075136Z"}],"tags":[],"updated_at":"2023-11-07T15:49:51.075136Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/42e67a9e-cba6-407b-a764-9aea1e6574c7
    method: GET
  response:
    body: '{"created_at":"2023-11-07T15:49:51.075136Z","dhcp_enabled":true,"id":"42e67a9e-cba6-407b-a764-9aea1e6574c7","name":"test-pool-size","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-07T15:49:51.075136Z","id":"4e078c7b-4307-4239-bf9c-ea4d2f217c14","subnet":"172.16.80.0/22","updated_at":"2023-11-07T15:49:51.075136Z"},{"created_at":"2023-11-07T15:49:51.075136Z","id":"825fa982-e1b5-4dd1-b810-d7e91ef02fd1","subnet":"fd5f:519c:6d46:ebc6::/64","updated_at":"2023-11-07T15:49:51.075136Z"}],"tags":[],"updated_at":"2023-11-07T15:49:51.075136Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-size","description":"","tags":null,"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"42e67a9e-cba6-407b-a764-9aea1e6574c7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://e79ddfa6-c637-49dc-99b3-c0b1a77c7651.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-07T15:49:53.395909371Z","created_at":"2023-11-07T15:49:53.395909371Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.e79ddfa6-c637-49dc-99b3-c0b1a77c7651.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"e79ddfa6-c637-49dc-99b3-c0b1a77c7651","ingress":"none","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"42e67a9e-cba6-407b-a764-9aea1e6574c7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"type":"kapsule","updated_at":"2023-11-07T15:49:53.427022137Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e79ddfa6-c637-49dc-99b3-c0b1a77c7651
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e79ddfa6-c637-49dc-99b3-c0b1a77c7651/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYZE9ha1V4VGtSck1VNUdiMWhFVkUxNlRWUkZkMDVxUlRGT1JHc3hUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e79ddfa6-c637-49dc-99b3-c0b1a77c7651/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"e79ddfa6-c637-49dc-99b3-c0b1a77c7651","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.844846Z","id":"ca1816d2-cee8-4dbb-a2b7-b5426f828f4f","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.853381998Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ca1816d2-cee8-4dbb-a2b7-b5426f828f4f
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"e79ddfa6-c637-49dc-99b3-c0b1a77c7651","container_runtime":"containerd","created_at":"2023-11-07T15:49:58.844846Z","id":"ca1816d2-cee8-4dbb-a2b7-b5426f828f4f","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-11-07T15:49:58.853382Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e79ddfa6-c637-49dc-99b3-c0b1a77c7651/nodes?order_by=created_at_asc&page=1&pool_id=ca1816d2-cee8-4dbb-a2b7-b5426f828f4f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"e79ddfa6-c637-49dc-99b3-c0b1a77c7651","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-07T15:52:59.663925Z","error_message":null,"id":"fccb2aa2-f698-4860-b5d7-84f7c26c9c1e","name":"scw-test-pool-size-pool-fccb2aa2f6984860b5d784","pool_id":"ca1816d2-cee8-4dbb-a2b7-b5426f828f4f","provider_id":"scaleway://instance/fr-par-1/8e8866d0-1f44-4255-a8aa-e12aea3bf282","public_ip_v4":"51.158.78.84","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-07T15:55:21.123104Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ca1816d2-cee8-4dbb-a2b7-b5426f828f4f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"ca1816d2-cee8-4dbb-a2b7-b5426f828f4f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/e79ddfa6-c637-49dc-99b3-c0b1a77c7651?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_pri[...]
[...]
