---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"be81063a-faf9-44d4-ab1a-6f35180e38d7","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/be81063a-faf9-44d4-ab1a-6f35180e38d7
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"tf-pn-elated-perlman","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-09T09:54:57.725389Z","id":"9445705a-79e8-47ac-a85b-50b6d291b283","name":"tf-pn-elated-perlman","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-09T09:54:57.725389Z","id":"2004ef8f-de0e-433a-a579-4d453406ae0c","subnet":"172.16.92.0/22","updated_at":"2023-06-09T09:54:57.725389Z"},{"created_at":"2023-06-09T09:54:57.725389Z","id":"7881ed3c-cee6-489b-88f2-604c3523f16f","subnet":"fd63:256c:45f7:daf1::/64","updated_at":"2023-06-09T09:54:57.725389Z"}],"tags":[],"updated_at":"2023-06-09T09:54:57.725389Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/be81063a-faf9-44d4-ab1a-6f35180e38d7
    method: GET
  response:
    body: '{"placement_group":{"id":"be81063a-faf9-44d4-ab1a-6f35180e38d7","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9445705a-79e8-47ac-a85b-50b6d291b283
    method: GET
  response:
    body: '{"created_at":"2023-06-09T09:54:57.725389Z","id":"9445705a-79e8-47ac-a85b-50b6d291b283","name":"tf-pn-elated-perlman","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-09T09:54:57.725389Z","id":"2004ef8f-de0e-433a-a579-4d453406ae0c","subnet":"172.16.92.0/22","updated_at":"2023-06-09T09:54:57.725389Z"},{"created_at":"2023-06-09T09:54:57.725389Z","id":"7881ed3c-cee6-489b-88f2-604c3523f16f","subnet":"fd63:256c:45f7:daf1::/64","updated_at":"2023-06-09T09:54:57.725389Z"}],"tags":[],"updated_at":"2023-06-09T09:54:57.725389Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"9445705a-79e8-47ac-a85b-50b6d291b283"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://907ad8ec-0043-4c38-8dcd-6e19736acd4e.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-06-09T09:54:58.145711817Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.907ad8ec-0043-4c38-8dcd-6e19736acd4e.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"907ad8ec-0043-4c38-8dcd-6e19736acd4e","ingress":"none","name":"placement_group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"9445705a-79e8-47ac-a85b-50b6d291b283","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-06-09T09:54:58.160841471Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/907ad8ec-0043-4c38-8dcd-6e19736acd4e
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/907ad8ec-0043-4c38-8dcd-6e19736acd4e/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVXWGRQUkVFMVRsUlJNVTlXYjFoRVZFMTZUVVJaZDA5RVFUVk9WRkV4VDFadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"be81063a-faf9-44d4-ab1a-6f35180e38d7","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/907ad8ec-0043-4c38-8dcd-6e19736acd4e/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"907ad8ec-0043-4c38-8dcd-6e19736acd4e","container_runtime":"containerd","created_at":"2023-06-09T09:55:03.747873Z","id":"72224f2a-abf0-4b37-9154-ae851f7b4acf","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"be81063a-faf9-44d4-ab1a-6f35180e38d7","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-09T09:55:03.760128496Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/72224f2a-abf0-4b37-9154-ae851f7b4acf
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"907ad8ec-0043-4c38-8dcd-6e19736acd4e","container_runtime":"containerd","created_at":"2023-06-09T09:55:03.747873Z","id":"72224f2a-abf0-4b37-9154-ae851f7b4acf","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"be81063a-faf9-44d4-ab1a-6f35180e38d7","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-09T09:55:03.760128Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/907ad8ec-0043-4c38-8dcd-6e19736acd4e/nodes?order_by=created_at_asc&page=1&pool_id=72224f2a-abf0-4b37-9154-ae851f7b4acf&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"907ad8ec-0043-4c38-8dcd-6e19736acd4e","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-09T09:56:43.083110Z","error_message":null,"id":"08b37c80-16e8-47ce-951c-48077ec9a8c8","name":"scw-placement-group-placement-group-08b37c8016","pool_id":"72224f2a-abf0-4b37-9154-ae851f7b4acf","provider_id":"scaleway://instance/fr-par-1/0145d66a-1252-4919-8751-bca1634252d7","public_ip_v4":"51.15.140.177","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-09T09:59:15.035129Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/907ad8ec-0043-4c38-8dcd-6e19736acd4e?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"517d0326-660b-45af-a75f-59ffcfdaa5e5","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/517d0326-660b-45af-a75f-59ffcfdaa5e5
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/517d0326-660b-45af-a75f-59ffcfdaa5e5
    method: GET
  response:
    body: '{"placement_group":{"id":"517d0326-660b-45af-a75f-59ffcfdaa5e5","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/907ad8ec-0043-4c38-8dcd-6e19736acd4e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"907ad8ec-0043-4c38-8dcd-6e19736acd4e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-brave-yalow","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-09T09:59:38.966969Z","id":"bc144bc4-bc44-40cd-85be-9423bee95909","name":"tf-pn-brave-yalow","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-06-09T09:59:38.966969Z","id":"e3b14057-1df0-4436-a510-fb78057c1a00","subnet":"172.16.12.0/22","updated_at":"2023-06-09T09:59:38.966969Z"},{"created_at":"2023-06-09T09:59:38.966969Z","id":"432f9046-df4d-40ad-aab0-77c091c8de41","subnet":"fd68:d440:21c4:685::/64","updated_at":"2023-06-09T09:59:38.966969Z"}],"tags":[],"updated_at":"2023-06-09T09:59:38.966969Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/bc144bc4-bc44-40cd-85be-9423bee95909
    method: GET
  response:
    body: '{"created_at":"2023-06-09T09:59:38.966969Z","id":"bc144bc4-bc44-40cd-85be-9423bee95909","name":"tf-pn-brave-yalow","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-06-09T09:59:38.966969Z","id":"e3b14057-1df0-4436-a510-fb78057c1a00","subnet":"172.16.12.0/22","updated_at":"2023-06-09T09:59:38.966969Z"},{"created_at":"2023-06-09T09:59:38.966969Z","id":"432f9046-df4d-40ad-aab0-77c091c8de41","subnet":"fd68:d440:21c4:685::/64","updated_at":"2023-06-09T09:59:38.966969Z"}],"tags":[],"updated_at":"2023-06-09T09:59:38.966969Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c80ac49f-6a3b-465a-81ed-5f883682a1dc
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c80ac49f-6a3b-465a-81ed-5f883682a1dc/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWF[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"517d0326-660b-45af-a75f-59ffcfdaa5e5","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c80ac49f-6a3b-465a-81ed-5f883682a1dc/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"c80ac49f-6a3b-465a-81ed-5f883682a1dc","container_runtime":"containerd","created_at":"2023-06-09T09:59:45.200004Z","id":"540bb581-eabc-424f-b349-bd9878f95d0f","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"517d0326-660b-45af-a75f-59ffcfdaa5e5","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-09T09:59:45.207010399Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/540bb581-eabc-424f-b349-bd9878f95d0f
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"c80ac49f-6a3b-465a-81ed-5f883682a1dc","container_runtime":"containerd","created_at":"2023-06-09T09:59:45.200004Z","id":"540bb581-eabc-424f-b349-bd9878f95d0f","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"517d0326-660b-45af-a75f-59ffcfdaa5e5","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-06-09T09:59:45.207010Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c80ac49f-6a3b-465a-81ed-5f883682a1dc/nodes?order_by=created_at_asc&page=1&pool_id=540bb581-eabc-424f-b349-bd9878f95d0f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"c80ac49f-6a3b-465a-81ed-5f883682a1dc","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-09T10:01:21.661466Z","error_message":null,"id":"7670f21b-a04a-4494-864d-0c955d8a93a1","name":"scw-placement-group-placement-group-7670f21ba0","pool_id":"540bb581-eabc-424f-b349-bd9878f95d0f","provider_id":"scaleway://instance/nl-ams-2/e4c73b60-7228-45aa-acf7-928fa1f23248","public_ip_v4":"51.158.243.1","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-06-09T10:03:34.739507Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/c80ac49f-6a3b-465a-81ed-5f883682a1dc?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
