---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-size","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-08T15:58:32.160064Z","dhcp_enabled":true,"id":"d935b68d-a669-42f6-a76c-753f89085dcc","name":"test-pool-size","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T15:58:32.160064Z","id":"d3c74f48-9dc9-4104-a150-3e5720376862","subnet":"172.16.20.0/22","updated_at":"2023-12-08T15:58:32.160064Z"},{"created_at":"2023-12-08T15:58:32.160064Z","id":"72a1d05c-21ac-4366-b14b-d0c1f3df700b","subnet":"fd63:256c:45f7:162d::/64","updated_at":"2023-12-08T15:58:32.160064Z"}],"tags":[],"updated_at":"2023-12-08T15:58:32.160064Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d935b68d-a669-42f6-a76c-753f89085dcc
    method: GET
  response:
    body: '{"created_at":"2023-12-08T15:58:32.160064Z","dhcp_enabled":true,"id":"d935b68d-a669-42f6-a76c-753f89085dcc","name":"test-pool-size","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-08T15:58:32.160064Z","id":"d3c74f48-9dc9-4104-a150-3e5720376862","subnet":"172.16.20.0/22","updated_at":"2023-12-08T15:58:32.160064Z"},{"created_at":"2023-12-08T15:58:32.160064Z","id":"72a1d05c-21ac-4366-b14b-d0c1f3df700b","subnet":"fd63:256c:45f7:162d::/64","updated_at":"2023-12-08T15:58:32.160064Z"}],"tags":[],"updated_at":"2023-12-08T15:58:32.160064Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-size","description":"","tags":null,"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":true,"maintenance_window":{"start_hour":12,"day":"monday"}},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"d935b68d-a669-42f6-a76c-753f89085dcc"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://10bbb7e8-e5f5-403f-b7b8-37bf47f52af4.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-12-08T15:58:33.639123807Z","created_at":"2023-12-08T15:58:33.639123807Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.10bbb7e8-e5f5-403f-b7b8-37bf47f52af4.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"10bbb7e8-e5f5-403f-b7b8-37bf47f52af4","ingress":"none","name":"test-pool-size","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d935b68d-a669-42f6-a76c-753f89085dcc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":[],"type":"kapsule","updated_at":"2023-12-08T15:58:33.651127096Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/10bbb7e8-e5f5-403f-b7b8-37bf47f52af4
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/10bbb7e8-e5f5-403f-b7b8-37bf47f52af4/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1zaXplIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYZE9la1V4VGxSbmVrNUdiMWhFVkUxNlRWUkpkMDU2UlRGT1ZHZDZUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFF[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/10bbb7e8-e5f5-403f-b7b8-37bf47f52af4/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"10bbb7e8-e5f5-403f-b7b8-37bf47f52af4","container_runtime":"containerd","created_at":"2023-12-08T15:58:39.066775Z","id":"99a44571-d04f-4039-8279-a6767dbec598","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-08T15:58:39.076258887Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/99a44571-d04f-4039-8279-a6767dbec598
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"10bbb7e8-e5f5-403f-b7b8-37bf47f52af4","container_runtime":"containerd","created_at":"2023-12-08T15:58:39.066775Z","id":"99a44571-d04f-4039-8279-a6767dbec598","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-08T15:58:39.076259Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/10bbb7e8-e5f5-403f-b7b8-37bf47f52af4/nodes?order_by=created_at_asc&page=1&pool_id=99a44571-d04f-4039-8279-a6767dbec598&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"10bbb7e8-e5f5-403f-b7b8-37bf47f52af4","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-08T16:00:29.580871Z","error_message":null,"id":"926fb505-0ae1-4f7b-a78c-9da6f3dadf95","name":"scw-test-pool-size-pool-926fb5050ae14f7ba78c9d","pool_id":"99a44571-d04f-4039-8279-a6767dbec598","provider_id":"scaleway://instance/fr-par-1/f87af6f8-b4b8-4807-8793-dd7ac5d4a36e","public_ip_v4":"163.172.164.36","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-08T16:02:55.091021Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/99a44571-d04f-4039-8279-a6767dbec598
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"99a44571-d04f-4039-8279-a6767dbec598","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/10bbb7e8-e5f5-403f-b7b8-37bf47f52af4?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"monday","start_hour":12}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_pri[...]
[...]
