---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.26.2","name":"1.26.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPoli[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-04-11T12:35:27.884073Z","id":"96fcec8a-1f37-4e89-b3f3-5bec370bd3a3","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.4.0/22","fd63:256c:45f7:54c6::/64"],"tags":[],"updated_at":"2023-04-11T12:35:27.884073Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/96fcec8a-1f37-4e89-b3f3-5bec370bd3a3
    method: GET
  response:
    body: '{"created_at":"2023-04-11T12:35:27.884073Z","id":"96fcec8a-1f37-4e89-b3f3-5bec370bd3a3","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.4.0/22","fd63:256c:45f7:54c6::/64"],"tags":[],"updated_at":"2023-04-11T12:35:27.884073Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.26.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"96fcec8a-1f37-4e89-b3f3-5bec370bd3a3"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://99808a21-2130-4bb6-8451-88a5b2f194e0.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-04-11T12:35:28.259666540Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.99808a21-2130-4bb6-8451-88a5b2f194e0.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"99808a21-2130-4bb6-8451-88a5b2f194e0","ingress":"none","name":"k8s-private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"96fcec8a-1f37-4e89-b3f3-5bec370bd3a3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-04-11T12:35:28.268563656Z","upgrade_available":false,"version":"1.26.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/99808a21-2130-4bb6-8451-88a5b2f194e0
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/99808a21-2130-4bb6-8451-88a5b2f194e0/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVVWGhOUkVWNVRYcFZlVTlXYjFoRVZFMTZUVVJSZUUxRVJYbE5lbFY1VDFadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJ[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/99808a21-2130-4bb6-8451-88a5b2f194e0/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"99808a21-2130-4bb6-8451-88a5b2f194e0","container_runtime":"containerd","created_at":"2023-04-11T12:35:33.664231Z","id":"3f1c2316-0865-45fe-aa8e-8b83cb18a53d","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-04-11T12:35:33.670234840Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.26.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3f1c2316-0865-45fe-aa8e-8b83cb18a53d
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"99808a21-2130-4bb6-8451-88a5b2f194e0","container_runtime":"containerd","created_at":"2023-04-11T12:35:33.664231Z","id":"3f1c2316-0865-45fe-aa8e-8b83cb18a53d","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-04-11T12:35:33.670235Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.26.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/99808a21-2130-4bb6-8451-88a5b2f194e0/nodes?order_by=created_at_asc&page=1&pool_id=3f1c2316-0865-45fe-aa8e-8b83cb18a53d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"99808a21-2130-4bb6-8451-88a5b2f194e0","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-04-11T12:38:17.924628Z","error_message":null,"id":"75e81d92-e967-4691-a040-3673abc215fe","name":"scw-k8s-private-network-cluster-pool-75e81d92e","pool_id":"3f1c2316-0865-45fe-aa8e-8b83cb18a53d","provider_id":"scaleway://instance/fr-par-1/6f3a3563-b5c3-4e11-b18d-de21299843a4","public_ip_v4":"51.15.140.177","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-04-11T12:43:55.465283Z"},{"cluster_id":"99808a21-2130-4bb6-8451-88a5b2f194e0","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-04-11T12:40:30.151116Z","error_message":null,"id":"d4bb720e-4a23-4109-b247-103e9fbac3d1","name":"scw-k8s-private-network-cluster-pool-d4bb720e4","pool_id":"3f1c2316-0865-45fe-aa8e-8b83cb18a53d","provider_id":"scaleway://instance/fr-par-1/0028ebb8-6688-4082-8350-295a3c4fa20c","public_ip_v4":"163.172.176.167","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-04-11T12:43:55.479087Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/99808a21-2130-4bb6-8451-88a5b2f194e0/nodes?order_by=created_at_asc&pool_id=3f1c2316-0865-45fe-aa8e-8b83cb18a53d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"99808a21-2130-4bb6-8451-88a5b2f194e0","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-04-11T12[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/6f3a3563-b5c3-4e11-b18d-de21299843a4
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-04-11T12:38:18.810585+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-k8s-private-network-cluster-pool-75e81d92e","id":"6f3a3563-b5c3-4e11-b18d-de21299843a4","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:700:1800::1","gateway":"2001:bc8:700:1800::","netmask":"64"},"location":{"cluster_id":"57","hypervisor_id":"701","node_id":"1","platform_id":"14","zone_id":"par1"},"maintenances":[],"modification_date":"2023-04-11T12:41:37.087814+00:00","name":"scw-k8s-private-network-cluster-pool-75e81d92e","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.184.1","private_nics":[{"creation_date":"2023-04-11T12:38:19.471057+00:00","id":"e1e0a55a-01dc-4da9-b8af-342de3a6def6","mac_address":"02:00:00:12:ae:e3","modification_date":"2023-04-11T12:38:20.414437+00:00","private_network_id":"96fcec8a-1f37-4e89-b3f3-5bec370bd3a3","server_id":"6f3a3563-b5c3-4e11-b18d-de21299843a4","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.140.177","dynamic":true,"id":"43aa5f62-be0f-464e-aba6-6d247bd1974e"},"security_group":{"id":"9a8ad09c-41ef-4666-9b21-95565ea6243c","name":"kubernetes
      99808a21-2130-4bb6-8451-88a5b2f194e0"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=99808a21-2130-4bb6-8451-88a5b2f194e0","pool=3f1c2316-0865-45fe-aa8e-8b83cb18a53d","pool-name=pool","runtime=containerd","managed=true","node=75e81d92-e967-4691-a040-3673abc215fe"],"volumes":{"0":{"boot":false,"creation_date":"2023-04-11T12:38:18.810585+00:00","export_uri":null,"id":"d1981fab-6022-4bb6-9df9-4a281ed43e3f","modification_date":"2023-04-11T12:38:18.810585+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"6f3a3563-b5c3-4e11-b18d-de21299843a4","name":"scw-k8s-private-network-cluster-pool-75e81d92e"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/99808a21-2130-4bb6-8451-88a5b2f194e0?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/99808a21-2130-4bb6-8451-88a5b2f194e0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"99808a21-2130-4bb6-8451-88a5b2f194e0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
