---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-10-18T16:35:44.902018Z","id":"89dac298-df98-45a1-8871-4b918eb86a0c","is_default":false,"name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","tags":[],"updated_at":"2023-10-18T16:35:44.902018Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/89dac298-df98-45a1-8871-4b918eb86a0c
    method: GET
  response:
    body: '{"created_at":"2023-10-18T16:35:44.902018Z","id":"89dac298-df98-45a1-8871-4b918eb86a0c","is_default":false,"name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","tags":[],"updated_at":"2023-10-18T16:35:44.902018Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":"89dac298-df98-45a1-8871-4b918eb86a0c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-18T16:35:45.258962Z","dhcp_enabled":true,"id":"c20560a7-d092-404a-8418-8aa95095399c","name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T16:35:45.258962Z","id":"d146def6-a138-4e37-9ef7-f074dadbd5e5","subnet":"172.16.20.0/22","updated_at":"2023-10-18T16:35:45.258962Z"},{"created_at":"2023-10-18T16:35:45.258962Z","id":"eafe12c9-2714-4f1c-a76f-2ad3b9be8208","subnet":"fd63:256c:45f7:4f62::/64","updated_at":"2023-10-18T16:35:45.258962Z"}],"tags":[],"updated_at":"2023-10-18T16:35:45.258962Z","vpc_id":"89dac298-df98-45a1-8871-4b918eb86a0c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c20560a7-d092-404a-8418-8aa95095399c
    method: GET
  response:
    body: '{"created_at":"2023-10-18T16:35:45.258962Z","dhcp_enabled":true,"id":"c20560a7-d092-404a-8418-8aa95095399c","name":"test-k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-18T16:35:45.258962Z","id":"d146def6-a138-4e37-9ef7-f074dadbd5e5","subnet":"172.16.20.0/22","updated_at":"2023-10-18T16:35:45.258962Z"},{"created_at":"2023-10-18T16:35:45.258962Z","id":"eafe12c9-2714-4f1c-a76f-2ad3b9be8208","subnet":"fd63:256c:45f7:4f62::/64","updated_at":"2023-10-18T16:35:45.258962Z"}],"tags":[],"updated_at":"2023-10-18T16:35:45.258962Z","vpc_id":"89dac298-df98-45a1-8871-4b918eb86a0c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-k8s-private-network","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"c20560a7-d092-404a-8418-8aa95095399c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://8e5066b6-c900-4851-8e01-76feb9e34acd.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-10-18T16:35:46.197356181Z","created_at":"2023-10-18T16:35:46.197356181Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.8e5066b6-c900-4851-8e01-76feb9e34acd.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"8e5066b6-c900-4851-8e01-76feb9e34acd","ingress":"none","name":"test-k8s-private-network","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"c20560a7-d092-404a-8418-8aa95095399c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-10-18T16:35:46.206480417Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e5066b6-c900-4851-8e01-76feb9e34acd
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e5066b6-c900-4851-8e01-76feb9e34acd/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtazhzLXByaXZhdGUtbmV0d29yayIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVRWGhPZWtVeVRYcFZNRTR4YjFoRVZFMTZUVlJCZUU1NlJUSk5lbFV3VGpGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null,"public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e5066b6-c900-4851-8e01-76feb9e34acd/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"8e5066b6-c900-4851-8e01-76feb9e34acd","container_runtime":"containerd","created_at":"2023-10-18T16:35:51.613769Z","id":"33ebe8a5-5a0e-434c-b810-8ca79b112bb2","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-10-18T16:35:51.621826793Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/33ebe8a5-5a0e-434c-b810-8ca79b112bb2
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"8e5066b6-c900-4851-8e01-76feb9e34acd","container_runtime":"containerd","created_at":"2023-10-18T16:35:51.613769Z","id":"33ebe8a5-5a0e-434c-b810-8ca79b112bb2","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-10-18T16:35:51.621827Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e5066b6-c900-4851-8e01-76feb9e34acd/nodes?order_by=created_at_asc&page=1&pool_id=33ebe8a5-5a0e-434c-b810-8ca79b112bb2&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"8e5066b6-c900-4851-8e01-76feb9e34acd","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T16:37:44.552790Z","error_message":null,"id":"1b3de83f-72e3-4d31-8872-7f367b6538f0","name":"scw-test-k8s-private-network-pool-1b3de83f72e3","pool_id":"33ebe8a5-5a0e-434c-b810-8ca79b112bb2","provider_id":"scaleway://instance/fr-par-1/a6263eb5-6438-45bb-8837-77372945bfbb","public_ip_v4":"51.15.230.101","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T16:43:08.622910Z"},{"cluster_id":"8e5066b6-c900-4851-8e01-76feb9e34acd","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-10-18T16:37:48.635392Z","error_message":null,"id":"e275788d-a03d-41c2-8da2-64bee196e618","name":"scw-test-k8s-private-network-pool-e275788da03d","pool_id":"33ebe8a5-5a0e-434c-b810-8ca79b112bb2","provider_id":"scaleway://instance/fr-par-1/0a195f8b-16c4-44be-bf92-20f9dbe96b7a","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-10-18T16:43:08.642932Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e5066b6-c900-4851-8e01-76feb9e34acd/nodes?order_by=created_at_asc&pool_id=33ebe8a5-5a0e-434c-b810-8ca79b112bb2&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"8e5066b6-c900-4851-8e01-76feb9e34acd","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a6263eb5-6438-45bb-8837-77372945bfbb
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-10-18T16:37:45.284301+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-k8s-private-network-pool-1b3de83f72e3","id":"a6263eb5-6438-45bb-8837-77372945bfbb","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:63c:2004::1","gateway":"2001:bc8:63c:2004::","netmask":"64"},"location":{"cluster_id":"29","hypervisor_id":"1701","node_id":"5","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:29:5d:29","maintenances":[],"modification_date":"2023-10-18T16:38:00.912730+00:00","name":"scw-test-k8s-private-network-pool-1b3de83f72e3","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.66.82.9","private_nics":[{"creation_date":"2023-10-18T16:37:46.006952+00:00","id":"b7e614ed-9dff-47b2-9c0b-53d3bcdc4717","mac_address":"02:00:00:14:4d:27","modification_date":"2023-10-18T16:37:46.753827+00:00","private_network_id":"c20560a7-d092-404a-8418-8aa95095399c","server_id":"a6263eb5-6438-45bb-8837-77372945bfbb","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.230.101","dynamic":true,"family":"inet","gateway":null,"id":"457a53e4-b04b-4487-a43a-6aedb768c100","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.230.101","dynamic":true,"family":"inet","gateway":null,"id":"457a53e4-b04b-4487-a43a-6aedb768c100","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"e67f0208-18dd-44d8-9411-360e694a1be5","name":"kubernetes
      8e5066b6-c900-4851-8e01-76feb9e34acd"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=8e5066b6-c900-4851-8e01-76feb9e34acd","pool=33ebe8a5-5a0e-434c-b810-8ca79b112bb2","pool-name=pool","runtime=containerd","managed=true","node=1b3de83f-72e3-4d31-8872-7f367b6538f0"],"volumes":{"0":{"boot":false,"creation_date":"2023-10-18T16:37:45.284301+00:00","export_uri":null,"id":"9eb429bb-b3fd-430d-8315-70572443b0f3","modification_date":"2023-10-18T16:37:45.284301+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"a6263eb5-6438-45bb-8837-77372945bfbb","name":"scw-test-k8s-private-network-pool-1b3de83f72e3"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e5066b6-c900-4851-8e01-76feb9e34acd?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/8e5066b6-c900-4851-8e01-76feb9e34acd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"8e5066b6-c900-4851-8e01-76feb9e34acd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
