---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.0","name":"1.28.0","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.0","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-09-01T16:21:01.942640107Z","created_at":"2023-09-01T16:21:01.942640107Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6","ingress":"none","name":"placement_group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":null,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-09-01T16:21:01.953238426Z","upgrade_available":false,"version":"1.28.0"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"e0e51838-9984-445d-9f01-bbabdf3a081a","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e0e51838-9984-445d-9f01-bbabdf3a081a
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/e0e51838-9984-445d-9f01-bbabdf3a081a
    method: GET
  response:
    body: '{"placement_group":{"id":"e0e51838-9984-445d-9f01-bbabdf3a081a","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVaM3BOVkVVeVRXcEZkMDB4YjFoRVZFMTZUVVJuZWsxVVJUSk5ha1YzVFRGdmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkR[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"e0e51838-9984-445d-9f01-bbabdf3a081a","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6","container_runtime":"containerd","created_at":"2023-09-01T16:21:07.378821Z","id":"dc8f49cd-84b2-42ce-bcef-2fd501d7033d","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"e0e51838-9984-445d-9f01-bbabdf3a081a","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-09-01T16:21:07.396250739Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/dc8f49cd-84b2-42ce-bcef-2fd501d7033d
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6","container_runtime":"containerd","created_at":"2023-09-01T16:21:07.378821Z","id":"dc8f49cd-84b2-42ce-bcef-2fd501d7033d","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"e0e51838-9984-445d-9f01-bbabdf3a081a","region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-09-01T16:21:07.396251Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6/nodes?order_by=created_at_asc&page=1&pool_id=dc8f49cd-84b2-42ce-bcef-2fd501d7033d&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-09-01T16:22:43.521058Z","error_message":null,"id":"e00632c9-fc2a-4339-b515-0160a27afd9c","name":"scw-placement-group-placement-group-e00632c9fc","pool_id":"dc8f49cd-84b2-42ce-bcef-2fd501d7033d","provider_id":"scaleway://instance/fr-par-1/743d4a6f-e5e2-4db3-9c73-b44a28489358","public_ip_v4":"163.172.143.59","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-09-01T16:24:49.540073Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"placement_group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.0","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cc247efe-ab25-46a2-b454-4239d8b577ee
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
- request:
    body: '{"name":"pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"9edcf8aa-d187-410d-aa81-4c8f0f7884ff","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/9edcf8aa-d187-410d-aa81-4c8f0f7884ff
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/9edcf8aa-d187-410d-aa81-4c8f0f7884ff
    method: GET
  response:
    body: '{"placement_group":{"id":"9edcf8aa-d187-410d-aa81-4c8f0f7884ff","name":"pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cc247efe-ab25-46a2-b454-4239d8b577ee/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBsYWNlbWVudC1ncm91cCIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWF[...]
[...]
- request:
    body: '{"name":"placement_group","node_type":"gp1_xs","placement_group_id":"9edcf8aa-d187-410d-aa81-4c8f0f7884ff","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"nl-ams-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cc247efe-ab25-46a2-b454-4239d8b577ee/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"cc247efe-ab25-46a2-b454-4239d8b577ee","container_runtime":"containerd","created_at":"2023-09-01T16:24:59.107314Z","id":"85548cb8-0a3e-48bd-b205-05e52d6f0482","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"9edcf8aa-d187-410d-aa81-4c8f0f7884ff","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-09-01T16:24:59.115348723Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/85548cb8-0a3e-48bd-b205-05e52d6f0482
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"cc247efe-ab25-46a2-b454-4239d8b577ee","container_runtime":"containerd","created_at":"2023-09-01T16:24:59.107314Z","id":"85548cb8-0a3e-48bd-b205-05e52d6f0482","kubelet_args":{},"max_size":1,"min_size":1,"name":"placement_group","node_type":"gp1_xs","placement_group_id":"9edcf8aa-d187-410d-aa81-4c8f0f7884ff","region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-09-01T16:24:59.115349Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.0","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"41aef891-d10f-4ed3-89e1-e7a3cbe2ebe6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cc247efe-ab25-46a2-b454-4239d8b577ee/nodes?order_by=created_at_asc&page=1&pool_id=85548cb8-0a3e-48bd-b205-05e52d6f0482&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"cc247efe-ab25-46a2-b454-4239d8b577ee","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-09-01T16:26:55.340778Z","error_message":null,"id":"ad67cfe7-9261-4126-a8a6-9d8956198be1","name":"scw-placement-group-placement-group-ad67cfe792","pool_id":"85548cb8-0a3e-48bd-b205-05e52d6f0482","provider_id":"scaleway://instance/nl-ams-2/bc1e725b-84b6-4364-9e91-17ff43981403","public_ip_v4":"51.158.232.166","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-09-01T16:29:29.489189Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cc247efe-ab25-46a2-b454-4239d8b577ee/available-types
    method: GET
  response:
    body: '{"cluster_types":[{"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":500,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/cc247efe-ab25-46a2-b454-4239d8b577ee?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
