---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T14:03:53.790183Z","dhcp_enabled":true,"id":"94774739-2f9f-4f34-8d2c-d537441e63b2","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T14:03:53.790183Z","id":"38026d64-6d2e-41e6-bd22-09f7e16be9fa","subnet":"172.16.32.0/22","updated_at":"2023-11-13T14:03:53.790183Z"},{"created_at":"2023-11-13T14:03:53.790183Z","id":"8cb23878-11bd-438d-b928-97b7bb1f4732","subnet":"fd63:256c:45f7:2a19::/64","updated_at":"2023-11-13T14:03:53.790183Z"}],"tags":[],"updated_at":"2023-11-13T14:03:53.790183Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/94774739-2f9f-4f34-8d2c-d537441e63b2
    method: GET
  response:
    body: '{"created_at":"2023-11-13T14:03:53.790183Z","dhcp_enabled":true,"id":"94774739-2f9f-4f34-8d2c-d537441e63b2","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T14:03:53.790183Z","id":"38026d64-6d2e-41e6-bd22-09f7e16be9fa","subnet":"172.16.32.0/22","updated_at":"2023-11-13T14:03:53.790183Z"},{"created_at":"2023-11-13T14:03:53.790183Z","id":"8cb23878-11bd-438d-b928-97b7bb1f4732","subnet":"fd63:256c:45f7:2a19::/64","updated_at":"2023-11-13T14:03:53.790183Z"}],"tags":[],"updated_at":"2023-11-13T14:03:53.790183Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"94774739-2f9f-4f34-8d2c-d537441e63b2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://69985695-06c7-464a-833c-3d3965cafaa9.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-13T14:04:02.977894979Z","created_at":"2023-11-13T14:04:02.977894979Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.69985695-06c7-464a-833c-3d3965cafaa9.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"69985695-06c7-464a-833c-3d3965cafaa9","ingress":"none","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"94774739-2f9f-4f34-8d2c-d537441e63b2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-11-13T14:04:02.997883984Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/69985695-06c7-464a-833c-3d3965cafaa9
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/69985695-06c7-464a-833c-3d3965cafaa9/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYaE5ha1V3VFVSUmQwNUdiMWhFVkUxNlRWUkZlRTFxUlRCTlJGRjNUa1p2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/69985695-06c7-464a-833c-3d3965cafaa9/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"69985695-06c7-464a-833c-3d3965cafaa9","container_runtime":"containerd","created_at":"2023-11-13T14:04:08.610242Z","id":"aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-11-13T14:04:08.620720483Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"69985695-06c7-464a-833c-3d3965cafaa9","container_runtime":"containerd","created_at":"2023-11-13T14:04:08.610242Z","id":"aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-11-13T14:04:08.620720Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/69985695-06c7-464a-833c-3d3965cafaa9/nodes?order_by=created_at_asc&page=1&pool_id=aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"69985695-06c7-464a-833c-3d3965cafaa9","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T14:06:15.795199Z","error_message":null,"id":"74fccfea-180b-4591-8619-7825e8a1b485","name":"scw-test-pool-minimal-test-pool-minimal-74fccf","pool_id":"aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6","provider_id":"scaleway://instance/fr-par-1/5290ccc5-bdec-4b47-b79a-123f4a8ef928","public_ip_v4":"51.158.79.120","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T14:08:48.018318Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/69985695-06c7-464a-833c-3d3965cafaa9/nodes?order_by=created_at_asc&pool_id=aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"69985695-06c7-464a-833c-3d3965cafaa9","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T14:06:15.795199Z","error_message":null,"id":"74fccfea-180b-4591-8619-7825e8a1b485","name":"scw-test-pool-minimal-test-pool-minimal-74fccf","pool_id":"aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6","provider_id":"scaleway://instance/fr-par-1/5290ccc5-bdec-4b47-b79a-123f4a8ef928","public_ip_v4":"51.158.79.120","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T14:08:48.018318Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/5290ccc5-bdec-4b47-b79a-123f4a8ef928
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-11-13T14:06:16.374422+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-74fccf","id":"5290ccc5-bdec-4b47-b79a-123f4a8ef928","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:4754:201::1","gateway":"2001:bc8:4754:201::","netmask":"64"},"location":{"cluster_id":"6","hypervisor_id":"201","node_id":"2","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:2d:51:37","maintenances":[],"modification_date":"2023-11-13T14:06:33.031322+00:00","name":"scw-test-pool-minimal-test-pool-minimal-74fccf","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.12.178.131","private_nics":[{"creation_date":"2023-11-13T14:06:17.095910+00:00","id":"d016aa45-64a2-4808-8d5b-dce86d659105","mac_address":"02:00:00:14:bd:a6","modification_date":"2023-11-13T14:06:18.027408+00:00","private_network_id":"94774739-2f9f-4f34-8d2c-d537441e63b2","server_id":"5290ccc5-bdec-4b47-b79a-123f4a8ef928","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.158.79.120","dynamic":true,"family":"inet","gateway":null,"id":"78d361b7-6c7d-44f0-9176-ad85c1726d1b","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.158.79.120","dynamic":true,"family":"inet","gateway":null,"id":"78d361b7-6c7d-44f0-9176-ad85c1726d1b","netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"0faeb0d5-b545-40e4-a78d-4744d30c1548","name":"kubernetes
      69985695-06c7-464a-833c-3d3965cafaa9"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=69985695-06c7-464a-833c-3d3965cafaa9","pool=aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=74fccfea-180b-4591-8619-7825e8a1b485"],"volumes":{"0":{"boot":false,"creation_date":"2023-11-13T14:06:16.374422+00:00","export_uri":null,"id":"5cba8c86-a940-4811-a912-8d2071e8519b","modification_date":"2023-11-13T14:06:16.374422+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"5290ccc5-bdec-4b47-b79a-123f4a8ef928","name":"scw-test-pool-minimal-test-pool-minimal-74fccf"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/69985695-06c7-464a-833c-3d3965cafaa9/nodes?order_by=created_at_asc&pool_id=aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"69985695-06c7-464a-833c-3d3965cafaa9","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-13T14:06:15.795199Z","error_message":null,"id":"74fccfea-180b-4591-8619-7825e8a1b485","name":"scw-test-pool-minimal-test-pool-minimal-74fccf","pool_id":"aec43605-2d8e-4bf5-bcfe-37c7af1ff7e6","provider_id":"scaleway://instance/fr-par-1/5290ccc5-bdec-4b47-b79a-123f4a8ef928","public_ip_v4":"51.158.79.120","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-13T14:12:10.412685Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/a0734c69-8a2a-4733-afc5-cdfa822f77da
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"a0734c69-8a2a-4733-afc5-cdfa822f77da","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/69985695-06c7-464a-833c-3d3965cafaa9?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
