---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"K8SPoolBetaConfigMinimal","description":"","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"version":"1.19.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:51:15.805251472Z","updated_at":"2020-10-15T12:51:16.509415258Z","name":"K8SPoolBetaConfigMinimal","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3
    method: GET
  response:
    body: '{"region":"fr-par","id":"3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:51:15.805251Z","updated_at":"2020-10-15T12:51:16.509415Z","name":"K8SPoolBetaConfigMinimal","description":"","status":"creating","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZToga3Nwb29sYmV0YWNvbmZpZ21pbmltYWwKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU41UkVORFFXSkRaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmQwMVVRWGhPUkVWNVRsUkZlRTVzYjFoRVZFMTNUVlJCZUU1RVJYbE9WRVY0VG14dmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster_beta","default"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"17720a21-0883-4ebe-bf79-96ea700ed66a","cluster_id":"3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3","created_at":"2020-10-15T12:51:22.566541Z","updated_at":"2020-10-15T12:51:22.584107968Z","name":"default","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster_beta","default"],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/17720a21-0883-4ebe-bf79-96ea700ed66a
    method: GET
  response:
    body: '{"region":"fr-par","id":"17720a21-0883-4ebe-bf79-96ea700ed66a","cluster_id":"3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3","created_at":"2020-10-15T12:51:22.566541Z","updated_at":"2020-10-15T12:51:22.584108Z","name":"default","status":"scaling","version":"1.19.2","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster_beta","default"],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3/nodes?order_by=created_at_asc&page=1&pool_id=17720a21-0883-4ebe-bf79-96ea700ed66a&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3/nodes?order_by=created_at_asc&page=1&pool_id=17720a21-0883-4ebe-bf79-96ea700ed66a&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"4206e5e0-9868-482e-8532-c5922fec9404","cluster_id":"3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3","created_at":"2020-10-15T12:52:06.952955Z","updated_at":"2020-10-15T12:52:06.952955Z","pool_id":"17720a21-0883-4ebe-bf79-96ea700ed66a","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-k8spoolbetaconfigminimal-default-4206e5e09","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:51:15.805251Z","updated_at":"2020-10-15T12:52:16.849348900Z","name":"K8SPoolBetaConfigMinimal","description":"","status":"deleting","version":"1.19.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","minimal"],"cluster_url":"https://3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3fbf6259-655f-46a4-abfb-7f7bb2cfb1c3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
