---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-tender-pare","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-13T15:16:17.029514Z","id":"d9074124-c86a-421d-a16f-219de8fc709a","name":"tf-pn-tender-pare","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:17.029514Z","id":"63616d8e-c34b-4c47-8fa3-9d82da528e9b","subnet":"172.16.4.0/22","updated_at":"2023-06-13T15:16:17.029514Z"},{"created_at":"2023-06-13T15:16:17.029514Z","id":"5e939639-7eeb-4d7f-aca1-084d1c29a14b","subnet":"fd63:256c:45f7:bf1f::/64","updated_at":"2023-06-13T15:16:17.029514Z"}],"tags":[],"updated_at":"2023-06-13T15:16:17.029514Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d9074124-c86a-421d-a16f-219de8fc709a
    method: GET
  response:
    body: '{"created_at":"2023-06-13T15:16:17.029514Z","id":"d9074124-c86a-421d-a16f-219de8fc709a","name":"tf-pn-tender-pare","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:17.029514Z","id":"63616d8e-c34b-4c47-8fa3-9d82da528e9b","subnet":"172.16.4.0/22","updated_at":"2023-06-13T15:16:17.029514Z"},{"created_at":"2023-06-13T15:16:17.029514Z","id":"5e939639-7eeb-4d7f-aca1-084d1c29a14b","subnet":"fd63:256c:45f7:bf1f::/64","updated_at":"2023-06-13T15:16:17.029514Z"}],"tags":[],"updated_at":"2023-06-13T15:16:17.029514Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigZone","description":"","tags":["terraform-test","scaleway_k8s_cluster","zone"],"version":"1.27.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"d9074124-c86a-421d-a16f-219de8fc709a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://751fff1c-e167-4e33-b294-0db72697c298.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-06-13T15:16:17.423165018Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.751fff1c-e167-4e33-b294-0db72697c298.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"751fff1c-e167-4e33-b294-0db72697c298","ingress":"none","name":"K8SPoolConfigZone","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"d9074124-c86a-421d-a16f-219de8fc709a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","zone"],"type":"kapsule","updated_at":"2023-06-13T15:16:17.432590903Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751fff1c-e167-4e33-b294-0db72697c298
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751fff1c-e167-4e33-b294-0db72697c298/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWd6b25lIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha1V4VFZSWmVFOUdiMWhFVkUxNlRVUlplRTFxUlRGTlZGbDRUMFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","zone"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-2","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751fff1c-e167-4e33-b294-0db72697c298/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"751fff1c-e167-4e33-b294-0db72697c298","container_runtime":"containerd","created_at":"2023-06-13T15:16:22.995805Z","id":"3304e5d0-2e96-4ac2-bf87-b0a342434ed8","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-06-13T15:16:23.010543254Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/3304e5d0-2e96-4ac2-bf87-b0a342434ed8
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"751fff1c-e167-4e33-b294-0db72697c298","container_runtime":"containerd","created_at":"2023-06-13T15:16:22.995805Z","id":"3304e5d0-2e96-4ac2-bf87-b0a342434ed8","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","zone"],"updated_at":"2023-06-13T15:16:23.010543Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751fff1c-e167-4e33-b294-0db72697c298/nodes?order_by=created_at_asc&page=1&pool_id=3304e5d0-2e96-4ac2-bf87-b0a342434ed8&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"751fff1c-e167-4e33-b294-0db72697c298","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-13T15:17:57.426341Z","error_message":null,"id":"e974f893-c767-4071-a7c4-68952fbef4e0","name":"scw-k8spoolconfigzone-default-e974f893c7674071","pool_id":"3304e5d0-2e96-4ac2-bf87-b0a342434ed8","provider_id":"scaleway://instance/fr-par-2/0f17cc5c-a3ad-442d-a859-887efbc62f7e","public_ip_v4":"51.159.166.208","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:20:19.352933Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751fff1c-e167-4e33-b294-0db72697c298?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/751fff1c-e167-4e33-b294-0db72697c298
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"751fff1c-e167-4e33-b294-0db72697c298","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
