---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.19.2","label":"Kubernetes 1.19.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","MutatingAdmissionWebhook","PodNodeSelector","AlwaysPullImages","PodPreset"]},{"region":"fr-par","name":"1.18.9","label":"Kubernetes
      1.18.9","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralC[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"autoscaler","description":"","tags":["terraform-test","scaleway_k8s_cluster_beta","autoscaler-config"],"version":"1.18.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m"},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:45:23.980621780Z","updated_at":"2020-10-15T12:45:24.631592345Z","name":"autoscaler","description":"","status":"creating","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","autoscaler-config"],"cluster_url":"https://b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87
    method: GET
  response:
    body: '{"region":"fr-par","id":"b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:45:23.980622Z","updated_at":"2020-10-15T12:45:24.631592Z","name":"autoscaler","description":"","status":"creating","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","autoscaler-config"],"cluster_url":"https://b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":true,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":true,"balance_similar_node_groups":true,"expendable_pods_priority_cutoff":10,"scale_down_unneeded_time":"20m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogYXV0b3NjYWxlcgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTjVSRU5EUVdKRFowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZDAxVVFYaE9SRVY1VGtSVmVVNVdiMWhFVkUxM1RWUkJlRTVFUlhsT1JGVjVUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkVORFFWRnZRMmR[...]
[...]
- request:
    body: '{"name":null,"description":null,"tags":null,"autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m"},"enable_dashboard":null,"ingress":"unknown_ingress","auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87
    method: PATCH
  response:
    body: '{"region":"fr-par","id":"b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:45:23.980622Z","updated_at":"2020-10-15T12:45:33.256693784Z","name":"autoscaler","description":"","status":"updating","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","autoscaler-config"],"cluster_url":"https://b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:45:23.980622Z","updated_at":"2020-10-15T12:45:41.143450560Z","name":"autoscaler","description":"","status":"deleting","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","autoscaler-config"],"cluster_url":"https://b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"20m","estimator":"binpacking","expander":"most_pods","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"5m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b8dbbaec-2cb3-44b2-9c4e-e7b7ce33ee87","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
