---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.19.4","label":"Kubernetes 1.19.4","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","MutatingAdmissionWebhook","PodNodeSelector","AlwaysPullImages","PodPreset"]},{"region":"fr-par","name":"1.18.12","label":"Kubernetes
      1.18.12","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","Ephemera[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"K8SPoolBetaConfigMinimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.19.4","cni":"calico","enable_dashboard":false,"ingress":"none","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"dc751fc1-b5fe-45e3-ab63-bf9526fa8d35","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:20:06.508403702Z","updated_at":"2020-11-16T15:20:07.454813605Z","name":"K8SPoolBetaConfigMinimal","description":"","status":"creating","version":"1.19.4","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"cluster_url":"https://dc751fc1-b5fe-45e3-ab63-bf9526fa8d35.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.dc751fc1-b5fe-45e3-ab63-bf9526fa8d35.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"","client_id":"","username_claim":"","username_prefix":"","groups_claim":[],"groups_prefix":"","required_claim":[]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dc751fc1-b5fe-45e3-ab63-bf9526fa8d35
    method: GET
  response:
    body: '{"region":"fr-par","id":"dc751fc1-b5fe-45e3-ab63-bf9526fa8d35","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:20:06.508404Z","updated_at":"2020-11-16T15:20:07.454814Z","name":"K8SPoolBetaConfigMinimal","description":"",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dc751fc1-b5fe-45e3-ab63-bf9526fa8d35/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZToga3Nwb29sYmV0YWNvbmZpZ21pbmltYWwKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU41UkVORFFXSkRaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmQwMVVSWGhPVkVVeFRXcEJkMDlHYjFoRVZFMTNUVlJGZUU1VVJURk5ha0YzVDBadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dc751fc1-b5fe-45e3-ab63-bf9526fa8d35/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"4c3da990-dfaf-4f1d-9dba-7746446b8ac7","cluster_id":"dc751fc1-b5fe-45e3-ab63-bf9526fa8d35","created_at":"2020-11-16T15:20:13.142119Z","updated_at":"2020-11-16T15:20:13.170651571Z","name":"default","status":"scaling","version":"1.19.4","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/4c3da990-dfaf-4f1d-9dba-7746446b8ac7
    method: GET
  response:
    body: '{"region":"fr-par","id":"4c3da990-dfaf-4f1d-9dba-7746446b8ac7","cluster_id":"dc751fc1-b5fe-45e3-ab63-bf9526fa8d35","created_at":"2020-11-16T15:20:13.142119Z","updated_at":"2020-11-16T15:20:13.170652Z","name":"default","status":"scaling","version":"1.19.4","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"docker","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dc751fc1-b5fe-45e3-ab63-bf9526fa8d35/nodes?order_by=created_at_asc&page=1&pool_id=4c3da990-dfaf-4f1d-9dba-7746446b8ac7&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"3b53ddfb-312b-417b-9e17-eb62d2321af4","cluster_id":"dc751fc1-b5fe-45e3-ab63-bf9526fa8d35","created_at":"2020-11-16T15:20:56.903667Z","updated_at":"2020-11-16T15:20:57.963997Z","pool_id":"4c3da990-dfaf-4f1d-9dba-7746446b8ac7","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-k8spoolbetaconfigminimal-default-3b53ddfb3","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dc751fc1-b5fe-45e3-ab63-bf9526fa8d35?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"dc751fc1-b5fe-45e3-ab63-bf9526fa8d35","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-16T15:20:06.508404Z","updated_at":"2020-11-16T15:21:10.395589175Z","name":"K8SPo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/dc751fc1-b5fe-45e3-ab63-bf9526fa8d35
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"dc751fc1-b5fe-45e3-ab63-bf9526fa8d35","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
