---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-21T16:12:06.393209Z","dhcp_enabled":true,"id":"64843857-ff3f-4dde-87d3-4b9da6b15ead","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:12:06.393209Z","id":"3789260d-3d10-4bbe-8341-d91b8d2d1f0a","subnet":"172.16.12.0/22","updated_at":"2023-12-21T16:12:06.393209Z"},{"created_at":"2023-12-21T16:12:06.393209Z","id":"2dd37112-9550-469b-9eb4-2f235f97b8e6","subnet":"fd63:256c:45f7:d77f::/64","updated_at":"2023-12-21T16:12:06.393209Z"}],"tags":[],"updated_at":"2023-12-21T16:12:06.393209Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/64843857-ff3f-4dde-87d3-4b9da6b15ead
    method: GET
  response:
    body: '{"created_at":"2023-12-21T16:12:06.393209Z","dhcp_enabled":true,"id":"64843857-ff3f-4dde-87d3-4b9da6b15ead","name":"test-pool-minimal","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:12:06.393209Z","id":"3789260d-3d10-4bbe-8341-d91b8d2d1f0a","subnet":"172.16.12.0/22","updated_at":"2023-12-21T16:12:06.393209Z"},{"created_at":"2023-12-21T16:12:06.393209Z","id":"2dd37112-9550-469b-9eb4-2f235f97b8e6","subnet":"fd63:256c:45f7:d77f::/64","updated_at":"2023-12-21T16:12:06.393209Z"}],"tags":[],"updated_at":"2023-12-21T16:12:06.393209Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"64843857-ff3f-4dde-87d3-4b9da6b15ead"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://580867de-c480-4d30-b31a-e731eee3a69f.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-21T16:12:10.351839612Z","created_at":"2023-12-21T16:12:10.351839612Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.580867de-c480-4d30-b31a-e731eee3a69f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"580867de-c480-4d30-b31a-e731eee3a69f","ingress":"none","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"64843857-ff3f-4dde-87d3-4b9da6b15ead","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-12-21T16:12:10.369777799Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/580867de-c480-4d30-b31a-e731eee3a69f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/580867de-c480-4d30-b31a-e731eee3a69f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYbE5SRVV5VFZSSmVFMVdiMWhFVkUxNlRWUkplVTFFUlRKTlZFbDRUVlp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/580867de-c480-4d30-b31a-e731eee3a69f/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"580867de-c480-4d30-b31a-e731eee3a69f","container_runtime":"containerd","created_at":"2023-12-21T16:12:15.749022Z","id":"ab8b97ce-61cb-4aa0-a770-f1196c48fe2f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-12-21T16:12:15.759029006Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ab8b97ce-61cb-4aa0-a770-f1196c48fe2f
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"580867de-c480-4d30-b31a-e731eee3a69f","container_runtime":"containerd","created_at":"2023-12-21T16:12:15.749022Z","id":"ab8b97ce-61cb-4aa0-a770-f1196c48fe2f","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-12-21T16:12:15.759029Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/580867de-c480-4d30-b31a-e731eee3a69f/nodes?order_by=created_at_asc&page=1&pool_id=ab8b97ce-61cb-4aa0-a770-f1196c48fe2f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"580867de-c480-4d30-b31a-e731eee3a69f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:15:26.218218Z","error_message":null,"id":"2af0692a-0ad6-496e-a81c-7695e924630a","name":"scw-test-pool-minimal-test-pool-minimal-2af069","pool_id":"ab8b97ce-61cb-4aa0-a770-f1196c48fe2f","provider_id":"scaleway://instance/fr-par-1/b5567a09-e42a-4c86-9a93-01df53840a60","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:18:19.459265Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/580867de-c480-4d30-b31a-e731eee3a69f/nodes?order_by=created_at_asc&pool_id=ab8b97ce-61cb-4aa0-a770-f1196c48fe2f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"580867de-c480-4d30-b31a-e731eee3a69f","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:15:26.218218Z","error_message":null,"id":"2af0692a-0ad6-496e-a81c-7695e924630a","name":"scw-test-pool-minimal-test-pool-minimal-2af069","pool_id":"ab8b97ce-61cb-4aa0-a770-f1196c48fe2f","provider_id":"scaleway://instance/fr-par-1/b5567a09-e42a-4c86-9a93-01df53840a60","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:18:22.263494Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/b5567a09-e42a-4c86-9a93-01df53840a60
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-12-21T16:15:26.804480+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-2af069","id":"b5567a09-e42a-4c86-9a93-01df53840a60","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:474c:b00::1","gateway":"2001:bc8:474c:b00::","netmask":"64"},"location":{"cluster_id":"4","hypervisor_id":"602","node_id":"1","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:34:3c:15","maintenances":[],"modification_date":"2023-12-21T16:15:46.590728+00:00","name":"scw-test-pool-minimal-test-pool-minimal-2af069","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.12.160.193","private_nics":[{"creation_date":"2023-12-21T16:15:27.750875+00:00","id":"5b3cc1e3-a572-4a45-a4fa-f292a420d920","mac_address":"02:00:00:15:cf:2c","modification_date":"2023-12-21T16:15:28.529932+00:00","private_network_id":"64843857-ff3f-4dde-87d3-4b9da6b15ead","server_id":"b5567a09-e42a-4c86-9a93-01df53840a60","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.143.114","dynamic":true,"family":"inet","gateway":null,"id":"37d573b3-feb6-4fcb-b0ad-699a6299a21e","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.15.143.114","dynamic":true,"family":"inet","gateway":null,"id":"37d573b3-feb6-4fcb-b0ad-699a6299a21e","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"3c9c3e0e-d911-4f07-ac6a-21f5e32cb3c4","name":"kubernetes
      580867de-c480-4d30-b31a-e731eee3a69f"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=580867de-c480-4d30-b31a-e731eee3a69f","pool=ab8b97ce-61cb-4aa0-a770-f1196c48fe2f","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=2af0692a-0ad6-496e-a81c-7695e924630a"],"volumes":{"0":{"boot":false,"creation_date":"2023-12-21T16:15:26.804480+00:00","export_uri":null,"id":"9bafffdb-eba8-4424-9144-1cc2bc787e1f","modification_date":"2023-12-21T16:15:26.804480+00:00","name":"k8s_base_node_2023-10-11.1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"b5567a09-e42a-4c86-9a93-01df53840a60","name":"scw-test-pool-minimal-test-pool-minimal-2af069"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/580867de-c480-4d30-b31a-e731eee3a69f/nodes?order_by=created_at_asc&pool_id=ab8b97ce-61cb-4aa0-a770-f1196c48fe2f&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"580867de-c480-4d30-b31a-e731eee3a69f","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:15:26.218218Z","error_message":null,"id":"2af0692a-0ad6-496e-a81c-7695e924630a","name":"scw-test-pool-minimal-test-pool-minimal-2af069","pool_id":"ab8b97ce-61cb-4aa0-a770-f1196c48fe2f","provider_id":"scaleway://instance/fr-par-1/b5567a09-e42a-4c86-9a93-01df53840a60","public_ip_v4":"51.15.143.114","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:21:09.070555Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/9e783cd8-ad10-409e-812f-27630ba24c69
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"9e783cd8-ad10-409e-812f-27630ba24c69","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/580867de-c480-4d30-b31a-e731eee3a69f?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
