---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
[...]
- request:
    body: '{"name":"test-auto-upgrade","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-13T14:05:36.639929Z","dhcp_enabled":true,"id":"002d77e6-63ab-4b8e-a4e5-87e0605dfbad","name":"test-auto-upgrade","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T14:05:36.639929Z","id":"f65125d1-e91e-422c-8c77-868dafccecea","subnet":"172.16.28.0/22","updated_at":"2023-11-13T14:05:36.639929Z"},{"created_at":"2023-11-13T14:05:36.639929Z","id":"a378e3a1-cad8-41f9-8c0b-4278c2c814da","subnet":"fd63:256c:45f7:27a9::/64","updated_at":"2023-11-13T14:05:36.639929Z"}],"tags":[],"updated_at":"2023-11-13T14:05:36.639929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/002d77e6-63ab-4b8e-a4e5-87e0605dfbad
    method: GET
  response:
    body: '{"created_at":"2023-11-13T14:05:36.639929Z","dhcp_enabled":true,"id":"002d77e6-63ab-4b8e-a4e5-87e0605dfbad","name":"test-auto-upgrade","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-13T14:05:36.639929Z","id":"f65125d1-e91e-422c-8c77-868dafccecea","subnet":"172.16.28.0/22","updated_at":"2023-11-13T14:05:36.639929Z"},{"created_at":"2023-11-13T14:05:36.639929Z","id":"a378e3a1-cad8-41f9-8c0b-4278c2c814da","subnet":"fd63:256c:45f7:27a9::/64","updated_at":"2023-11-13T14:05:36.639929Z"}],"tags":[],"updated_at":"2023-11-13T14:05:36.639929Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-auto-upgrade","description":"","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"version":"1.27.6","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":{"enable":false,"maintenance_window":{"start_hour":0,"day":"any"}},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"002d77e6-63ab-4b8e-a4e5-87e0605dfbad"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://afd26e3d-c711-485e-a945-563f6f2e345f.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-11-13T14:05:41.198873725Z","created_at":"2023-11-13T14:05:41.198873725Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.afd26e3d-c711-485e-a945-563f6f2e345f.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"afd26e3d-c711-485e-a945-563f6f2e345f","ingress":"none","name":"test-auto-upgrade","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"002d77e6-63ab-4b8e-a4e5-87e0605dfbad","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","auto_upgrade"],"type":"kapsule","updated_at":"2023-11-13T14:05:41.210633536Z","upgrade_available":true,"version":"1.27.6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/afd26e3d-c711-485e-a945-563f6f2e345f
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/afd26e3d-c711-485e-a945-563f6f2e345f/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtYXV0by11cGdyYWRlIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVJYaE5ha1V3VFVSVk1FMXNiMWhFVkUxNlRWUkZlRTFxUlRCTlJGVXdUV3h2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":true,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":[...]
[...]
- request:
    body: '{"version":"1.28.2","upgrade_pools":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/afd26e3d-c711-485e-a945-563f6f2e345f/upgrade
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_prio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/afd26e3d-c711-485e-a945-563f6f2e345f?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":true,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priorit[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/afd26e3d-c711-485e-a945-563f6f2e345f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"afd26e3d-c711-485e-a945-563f6f2e345f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
