---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.26.2","name":"1.26.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","KubeletCredentialProviders","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPoli[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-04-07T13:50:29.248847Z","id":"c39faed2-bc4b-440e-8502-4cc37bbb2cda","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.8.0/22","fd63:256c:45f7:80b8::/64"],"tags":[],"updated_at":"2023-04-07T13:50:29.248847Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/c39faed2-bc4b-440e-8502-4cc37bbb2cda
    method: GET
  response:
    body: '{"created_at":"2023-04-07T13:50:29.248847Z","id":"c39faed2-bc4b-440e-8502-4cc37bbb2cda","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":["172.16.8.0/22","fd63:256c:45f7:80b8::/64"],"tags":[],"updated_at":"2023-04-07T13:50:29.248847Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.26.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"c39faed2-bc4b-440e-8502-4cc37bbb2cda"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://6095886a-6f80-4247-8151-e3d969998506.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-04-07T13:50:29.602120667Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.6095886a-6f80-4247-8151-e3d969998506.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"6095886a-6f80-4247-8151-e3d969998506","ingress":"none","name":"k8s-private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"c39faed2-bc4b-440e-8502-4cc37bbb2cda","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-04-07T13:50:29.611293298Z","upgrade_available":false,"version":"1.26.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6095886a-6f80-4247-8151-e3d969998506
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6095886a-6f80-4247-8151-e3d969998506/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVVWGRPYWtWNlRsUkJlazFXYjFoRVZFMTZUVVJSZDA1cVJYcE9WRUY2VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJ[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6095886a-6f80-4247-8151-e3d969998506/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6095886a-6f80-4247-8151-e3d969998506","container_runtime":"containerd","created_at":"2023-04-07T13:50:35.069905Z","id":"d07f8661-59da-4bf6-b63c-d964fec920dc","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-04-07T13:50:35.090253266Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.26.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d07f8661-59da-4bf6-b63c-d964fec920dc
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"6095886a-6f80-4247-8151-e3d969998506","container_runtime":"containerd","created_at":"2023-04-07T13:50:35.069905Z","id":"d07f8661-59da-4bf6-b63c-d964fec920dc","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-04-07T13:50:35.090253Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.26.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6095886a-6f80-4247-8151-e3d969998506/nodes?order_by=created_at_asc&page=1&pool_id=d07f8661-59da-4bf6-b63c-d964fec920dc&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6095886a-6f80-4247-8151-e3d969998506","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-04-07T13:52:11.393337Z","error_message":null,"id":"2b99bd67-f9af-49de-9068-74e16f3e70e8","name":"scw-k8s-private-network-cluster-pool-2b99bd67f","pool_id":"d07f8661-59da-4bf6-b63c-d964fec920dc","provider_id":"scaleway://instance/fr-par-1/73b656a0-ab4d-4938-a47a-b0e32c5f1722","public_ip_v4":"51.15.211.1","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-04-07T13:58:46.492791Z"},{"cluster_id":"6095886a-6f80-4247-8151-e3d969998506","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-04-07T13:53:19.651718Z","error_message":null,"id":"f3247c3d-959a-4bca-b6cb-bbefc876e8b7","name":"scw-k8s-private-network-cluster-pool-f3247c3d9","pool_id":"d07f8661-59da-4bf6-b63c-d964fec920dc","provider_id":"scaleway://instance/fr-par-1/c2b09629-cf19-483b-b1d4-2883d199eb5b","public_ip_v4":"212.47.247.189","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-04-07T13:58:46.518088Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6095886a-6f80-4247-8151-e3d969998506/nodes?order_by=created_at_asc&pool_id=d07f8661-59da-4bf6-b63c-d964fec920dc&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"6095886a-6f80-4247-8151-e3d969998506","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","Ready":"True"},"created_at":"2023-04-07T13:52:11.393337Z","error_messag[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/73b656a0-ab4d-4938-a47a-b0e32c5f1722
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-04-07T13:52:12.034034+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-k8s-private-network-cluster-pool-2b99bd67f","id":"73b656a0-ab4d-4938-a47a-b0e32c5f1722","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:610:4804::1","gateway":"2001:bc8:610:4804::","netmask":"64"},"location":{"cluster_id":"50","hypervisor_id":"1402","node_id":"5","platform_id":"14","zone_id":"par1"},"maintenances":[],"modification_date":"2023-04-07T13:55:54.402635+00:00","name":"scw-k8s-private-network-cluster-pool-2b99bd67f","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.72.201","private_nics":[{"creation_date":"2023-04-07T13:52:12.590287+00:00","id":"6ce8863a-075f-4136-a5b9-6fd532800aa6","mac_address":"02:00:00:12:a6:5c","modification_date":"2023-04-07T13:52:13.556794+00:00","private_network_id":"c39faed2-bc4b-440e-8502-4cc37bbb2cda","server_id":"73b656a0-ab4d-4938-a47a-b0e32c5f1722","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.211.1","dynamic":true,"id":"d3970f1f-ac85-4434-904d-760f78fef8f8"},"security_group":{"id":"c32f80e2-f8a7-485b-ae97-5bdc16c3694e","name":"kubernetes
      6095886a-6f80-4247-8151-e3d969998506"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=6095886a-6f80-4247-8151-e3d969998506","pool=d07f8661-59da-4bf6-b63c-d964fec920dc","pool-name=pool","runtime=containerd","managed=true","node=2b99bd67-f9af-49de-9068-74e16f3e70e8"],"volumes":{"0":{"boot":false,"creation_date":"2023-04-07T13:52:12.034034+00:00","export_uri":null,"id":"9718b321-f184-4fcd-a8aa-775a5ecdc924","modification_date":"2023-04-07T13:52:12.034034+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"73b656a0-ab4d-4938-a47a-b0e32c5f1722","name":"scw-k8s-private-network-cluster-pool-2b99bd67f"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6095886a-6f80-4247-8151-e3d969998506?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/6095886a-6f80-4247-8151-e3d969998506
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6095886a-6f80-4247-8151-e3d969998506","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
