---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"tf-pn-elegant-hypatia","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-13T15:17:46.576825Z","id":"0e1b220f-3863-4dd3-8674-8e4f1887ce4e","name":"tf-pn-elegant-hypatia","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:17:46.576825Z","id":"9d9e6b7f-c0eb-4863-9e9b-164352f8bcc5","subnet":"172.16.44.0/22","updated_at":"2023-06-13T15:17:46.576825Z"},{"created_at":"2023-06-13T15:17:46.576825Z","id":"f26895e2-551f-440b-8dbe-b650d4f27968","subnet":"fd63:256c:45f7:b032::/64","updated_at":"2023-06-13T15:17:46.576825Z"}],"tags":[],"updated_at":"2023-06-13T15:17:46.576825Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0e1b220f-3863-4dd3-8674-8e4f1887ce4e
    method: GET
  response:
    body: '{"created_at":"2023-06-13T15:17:46.576825Z","id":"0e1b220f-3863-4dd3-8674-8e4f1887ce4e","name":"tf-pn-elegant-hypatia","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:17:46.576825Z","id":"9d9e6b7f-c0eb-4863-9e9b-164352f8bcc5","subnet":"172.16.44.0/22","updated_at":"2023-06-13T15:17:46.576825Z"},{"created_at":"2023-06-13T15:17:46.576825Z","id":"f26895e2-551f-440b-8dbe-b650d4f27968","subnet":"fd63:256c:45f7:b032::/64","updated_at":"2023-06-13T15:17:46.576825Z"}],"tags":[],"updated_at":"2023-06-13T15:17:46.576825Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"K8SPoolConfigMinimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.27.1","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"0e1b220f-3863-4dd3-8674-8e4f1887ce4e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://2283ac04-a911-4b2c-8494-a4220df63405.api.k8s.fr-par.scw.cloud:6443","cni":"calico","created_at":"2023-06-13T15:17:47.297924325Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.2283ac04-a911-4b2c-8494-a4220df63405.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"2283ac04-a911-4b2c-8494-a4220df63405","ingress":"none","name":"K8SPoolConfigMinimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"0e1b220f-3863-4dd3-8674-8e4f1887ce4e","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-06-13T15:17:47.412443802Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2283ac04-a911-4b2c-8494-a4220df63405
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2283ac04-a911-4b2c-8494-a4220df63405/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4c3Bvb2xjb25maWdtaW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxRVdYaE5ha1V4VFZSak1FOVdiMWhFVkUxNlRVUlplRTFxUlRGTlZHTXdUMVp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJ[...]
[...]
- request:
    body: '{"name":"default","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2283ac04-a911-4b2c-8494-a4220df63405/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"2283ac04-a911-4b2c-8494-a4220df63405","container_runtime":"containerd","created_at":"2023-06-13T15:17:53.985766Z","id":"1632c9b9-3939-42cd-8fb0-e05052f23539","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-06-13T15:17:54.014327982Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1632c9b9-3939-42cd-8fb0-e05052f23539
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"2283ac04-a911-4b2c-8494-a4220df63405","container_runtime":"containerd","created_at":"2023-06-13T15:17:53.985766Z","id":"1632c9b9-3939-42cd-8fb0-e05052f23539","kubelet_args":{},"max_size":1,"min_size":1,"name":"default","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-06-13T15:17:54.014328Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2283ac04-a911-4b2c-8494-a4220df63405/nodes?order_by=created_at_asc&page=1&pool_id=1632c9b9-3939-42cd-8fb0-e05052f23539&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"2283ac04-a911-4b2c-8494-a4220df63405","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-13T15:20:08.890883Z","error_message":null,"id":"cccd412d-6242-4537-a48c-5e99cd367881","name":"scw-k8spoolconfigminimal-default-cccd412d62424","pool_id":"1632c9b9-3939-42cd-8fb0-e05052f23539","provider_id":"scaleway://instance/fr-par-1/2253a991-88aa-426d-995c-ca46ae931ff1","public_ip_v4":"51.15.226.178","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:24:56.442822Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2283ac04-a911-4b2c-8494-a4220df63405/nodes?order_by=created_at_asc&page=1&pool_id=1632c9b9-3939-42cd-8fb0-e05052f23539&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"2283ac04-a911-4b2c-8494-a4220df63405","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-06-13T15:20:08.890883Z","error_message":null,"id":"cccd412d-6242-4537-a48c-5e99cd367881","name":"scw-k8spoolconfigminimal-default-cccd412d62424","pool_id":"1632c9b9-3939-42cd-8fb0-e05052f23539","provider_id":"scaleway://instance/fr-par-1/2253a991-88aa-426d-995c-ca46ae931ff1","public_ip_v4":"51.15.226.178","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:29:04.806984Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2283ac04-a911-4b2c-8494-a4220df63405?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/2283ac04-a911-4b2c-8494-a4220df63405
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2283ac04-a911-4b2c-8494-a4220df63405","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
