---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.23.1","label":"Kubernetes 1.23.1","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","maxPods":"uint16"}},{"region":"fr-par","name":"1.22.5","label":"Kubernetes
      1.22.5","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["containerd","crio","docker"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","EphemeralContainers","KubeletCredentialProviders"],"available_admission_plugins":["PodSecurityPolicy","PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_k[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"oidc","description":"","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"version":"1.23.1","cni":"cilium","enable_dashboard":false,"ingress":"unknown_ingress","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://api.scaleway.com","client_id":"my-super-id","username_claim":"mario","username_prefix":null,"groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":null},"apiserver_cert_sans":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"980caf8e-6a29-4861-a7d3-f1352a38669b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-14T14:30:22.924959944Z","updated_at":"2022-01-14T14:30:22.953487845Z","type":"kapsule","name":"oidc","description":"","status":"creating","version":"1.23.1","cni":"cilium","tags":["terraform-test","scaleway_k8s_cluster","oidc-config"],"cluster_url":"https://980caf8e-6a29-4861-a7d3-f1352a38669b.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.980caf8e-6a29-4861-a7d3-f1352a38669b.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5,"max_graceful_termination_sec":0},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[],"open_id_connect_config":{"issuer_url":"https://api.scaleway.com","client_id":"my-super-id","username_claim":"mario","username_prefix":"","groups_claim":["k8s","admin"],"groups_prefix":"pouf","required_claim":[]},"apiserver_cert_sans":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b
    method: GET
  response:
    body: '{"region":"fr-par","id":"980caf8e-6a29-4861-a7d3-f1352a38669b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-14T14:30:22.924960Z","updated_at":"2022-01-14T14:30:22.953488Z","type":"kapsule","name":"oidc","description":"","st[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIm9pZGMiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplVTFFUlhoTmVrVXdUWHBCZVUweGIxaEVWRTE1VFVSRmVFMTZSVEJOZWtGNVRURnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJSRU5EUVZGdlEyZG5SVUp[...]
[...]
- request:
    body: '{"name":"minimal","node_type":"gp1_xs","placement_group_id":null,"autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","minimal"],"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b/pools
    method: POST
  response:
    body: '{"region":"fr-par","id":"c1be4337-c1f0-4609-87f3-ca0e2908ed77","cluster_id":"980caf8e-6a29-4861-a7d3-f1352a38669b","created_at":"2022-01-14T14:30:28.818682Z","updated_at":"2022-01-14T14:30:28.833666243Z","name":"minimal","status":"scaling","version":"1.23.1","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","minimal"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/c1be4337-c1f0-4609-87f3-ca0e2908ed77
    method: GET
  response:
    body: '{"region":"fr-par","id":"c1be4337-c1f0-4609-87f3-ca0e2908ed77","cluster_id":"980caf8e-6a29-4861-a7d3-f1352a38669b","created_at":"2022-01-14T14:30:28.818682Z","updated_at":"2022-01-14T14:30:28.833666Z","name":"minimal","status":"scaling","version":"1.23.1","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","minimal"],"placement_group_id":null,"kubelet_args":{},"upgrade_policy":{"max_unavailable":1,"max_surge":0},"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b/nodes?order_by=created_at_asc&page=1&pool_id=c1be4337-c1f0-4609-87f3-ca0e2908ed77&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":null,"description":null,"tags":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"enable_dashboard":null,"ingress":"unknown_ingress","auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null,"open_id_connect_config":{"issuer_url":"https://secretapi.scaleway.com","client_id":"my-even-more-awesome-id","username_claim":"luigi","username_prefix":"boo","groups_claim":[],"groups_prefix":"","required_claim":null},"apiserver_cert_sans":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b
 [...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b/nodes?order_by=created_at_asc&page=1&pool_id=c1ea782d-e37b-43e4-b7a9-7bea2239b27b&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"694244e7-19e2-4b21-93bd-fd3d59a801e9","cluster_id":"980caf8e-6a29-4861-a7d3-f1352a38669b","created_at":"2022-01-14T14:36:22.995670Z","updated_at":"2022-01-14T14:36:22.995670Z","pool_id":"c1ea782d-e37b-43e4-b7a9-7bea2239b27b","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-oidc-minimal-694244e719e24b2193bdfd3d59a80","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"980caf8e-6a29-4861-a7d3-f1352a38669b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-14T14:30:22.924960Z","updated_at":"2022-01-14T14:36:24.858422984Z","type":"kapsu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/980caf8e-6a29-4861-a7d3-f1352a38669b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"980caf8e-6a29-4861-a7d3-f1352a38669b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
