---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.29.1","name":"1.29.1","region":"fr-par"},{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy","InPlacePodVerticalScaling"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","[...]
[...]
- request:
    body: '{"name":"tf-pn-xenodochial-pascal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-22T16:28:57.873212Z","dhcp_enabled":true,"id":"de01d62e-8688-4cd9-8a6b-05cf458ae109","name":"tf-pn-xenodochial-pascal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-22T16:28:57.873212Z","id":"4c9d38f2-9f19-4b98-b6cd-522fb8e2b9cf","subnet":"172.16.44.0/22","updated_at":"2024-02-22T16:28:57.873212Z"},{"created_at":"2024-02-22T16:28:57.873212Z","id":"ca744b6e-943a-44e7-aab9-8a5852401dad","subnet":"fd5f:519c:6d46:1719::/64","updated_at":"2024-02-22T16:28:57.873212Z"}],"tags":[],"updated_at":"2024-02-22T16:28:57.873212Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/de01d62e-8688-4cd9-8a6b-05cf458ae109
    method: GET
  response:
    body: '{"created_at":"2024-02-22T16:28:57.873212Z","dhcp_enabled":true,"id":"de01d62e-8688-4cd9-8a6b-05cf458ae109","name":"tf-pn-xenodochial-pascal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-22T16:28:57.873212Z","id":"4c9d38f2-9f19-4b98-b6cd-522fb8e2b9cf","subnet":"172.16.44.0/22","updated_at":"2024-02-22T16:28:57.873212Z"},{"created_at":"2024-02-22T16:28:57.873212Z","id":"ca744b6e-943a-44e7-aab9-8a5852401dad","subnet":"fd5f:519c:6d46:1719::/64","updated_at":"2024-02-22T16:28:57.873212Z"}],"tags":[],"updated_at":"2024-02-22T16:28:57.873212Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"kapsule","name":"pool-upgrade","description":"","tags":[],"version":"1.28.6","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":[],"admission_plugins":[],"apiserver_cert_sans":[],"private_network_id":"de01d62e-8688-4cd9-8a6b-05cf458ae109"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://97c50f07-1da7-4e1b-b23c-d8620e3bd528.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2024-02-22T16:28:59.368984222Z","created_at":"2024-02-22T16:28:59.368984222Z","description":"","dns_wildcard":"*.97c50f07-1da7-4e1b-b23c-d8620e3bd528.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"97c50f07-1da7-4e1b-b23c-d8620e3bd528","name":"pool-upgrade","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"de01d62e-8688-4cd9-8a6b-05cf458ae109","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":[],"type":"kapsule","updated_at":"2024-02-22T16:28:59.397634768Z","upgrade_available":true,"version":"1.28.6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInBvb2wtdXBncmFkZSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSk1FMUVTWGxOVkVVeVRXcHJkMDFHYjFoRVZFMHdUVVJKZVUxVVJUSk5hbXQzVFVadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2RuUlZCQlJFTkRRVkZ[...]
[...]
- request:
    body: '{"name":"pool-upgrade-pool-1","node_type":"gp1_xs","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":[],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"97c50f07-1da7-4e1b-b23c-d8620e3bd528","container_runtime":"containerd","created_at":"2024-02-22T16:29:04.805114Z","id":"340df1bf-4b8d-4b5e-abb1-49011b9f6adf","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool-upgrade-pool-1","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-22T16:29:04.817399049Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.6","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/340df1bf-4b8d-4b5e-abb1-49011b9f6adf
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"97c50f07-1da7-4e1b-b23c-d8620e3bd528","container_runtime":"containerd","created_at":"2024-02-22T16:29:04.805114Z","id":"340df1bf-4b8d-4b5e-abb1-49011b9f6adf","kubelet_args":{},"max_size":1,"min_size":1,"name":"pool-upgrade-pool-1","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2024-02-22T16:29:04.817399Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.6","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528/nodes?order_by=created_at_asc&page=1&pool_id=340df1bf-4b8d-4b5e-abb1-49011b9f6adf&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"97c50f07-1da7-4e1b-b23c-d8620e3bd528","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-22T16:31:03.422276Z","error_message":null,"id":"d68c4af6-8dcc-4c5f-954f-b9092fac8115","name":"scw-pool-upgrade-pool-upgrade-pool-1-d68c4af68","pool_id":"340df1bf-4b8d-4b5e-abb1-49011b9f6adf","provider_id":"scaleway://instance/fr-par-1/442d46ca-1573-4fda-8c42-0819a486d81f","public_ip_v4":"51.15.132.243","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-22T16:35:24.139174Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":null},"auto_upgrade":{"enable":null,"maintenance_window":null},"open_id_connect_config":{"issuer_url":null,"client_id":null,"username_claim":null,"username_prefix":null,"groups_claim":null,"groups_prefix":null,"required_claim":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528
    method: PATCH
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":[...]
[...]
- request:
    body: '{"version":"1.29.1","upgrade_pools":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528/upgrade
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_pri[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528/nodes?order_by=created_at_asc&page=1&pool_id=340df1bf-4b8d-4b5e-abb1-49011b9f6adf&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"97c50f07-1da7-4e1b-b23c-d8620e3bd528","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2024-02-22T16:31:03.422276Z","error_message":null,"id":"d68c4af6-8dcc-4c5f-954f-b9092fac8115","name":"scw-pool-upgrade-pool-upgrade-pool-1-d68c4af68","pool_id":"340df1bf-4b8d-4b5e-abb1-49011b9f6adf","provider_id":"scaleway://instance/fr-par-1/442d46ca-1573-4fda-8c42-0819a486d81f","public_ip_v4":"51.15.132.243","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2024-02-22T16:37:16.090015Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/340df1bf-4b8d-4b5e-abb1-49011b9f6adf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"340df1bf-4b8d-4b5e-abb1-49011b9f6adf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/97c50f07-1da7-4e1b-b23c-d8620e3bd528?with_additional_resources=false
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_prior[...]
[...]
