---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"75cbdbb0-7d7a-4486-a97f-e6fff3f3a14d","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/75cbdbb0-7d7a-4486-a97f-e6fff3f3a14d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/placement_groups/75cbdbb0-7d7a-4486-a97f-e6fff3f3a14d
    method: GET
  response:
    body: '{"placement_group":{"id":"75cbdbb0-7d7a-4486-a97f-e6fff3f3a14d","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-21T16:18:14.805461Z","dhcp_enabled":true,"id":"34efe58e-a488-4064-8fe1-14cfbc6ab966","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:18:14.805461Z","id":"6fb76740-750e-42ad-b604-932e67043c6b","subnet":"172.16.20.0/22","updated_at":"2023-12-21T16:18:14.805461Z"},{"created_at":"2023-12-21T16:18:14.805461Z","id":"277aa6d2-b195-4813-888b-a3643ab9691b","subnet":"fd63:256c:45f7:f7fd::/64","updated_at":"2023-12-21T16:18:14.805461Z"}],"tags":[],"updated_at":"2023-12-21T16:18:14.805461Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/34efe58e-a488-4064-8fe1-14cfbc6ab966
    method: GET
  response:
    body: '{"created_at":"2023-12-21T16:18:14.805461Z","dhcp_enabled":true,"id":"34efe58e-a488-4064-8fe1-14cfbc6ab966","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-21T16:18:14.805461Z","id":"6fb76740-750e-42ad-b604-932e67043c6b","subnet":"172.16.20.0/22","updated_at":"2023-12-21T16:18:14.805461Z"},{"created_at":"2023-12-21T16:18:14.805461Z","id":"277aa6d2-b195-4813-888b-a3643ab9691b","subnet":"fd63:256c:45f7:f7fd::/64","updated_at":"2023-12-21T16:18:14.805461Z"}],"tags":[],"updated_at":"2023-12-21T16:18:14.805461Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"34efe58e-a488-4064-8fe1-14cfbc6ab966"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://115e13d1-2095-4c4e-a36d-d9add12097c3.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-21T16:18:16.040870655Z","created_at":"2023-12-21T16:18:16.040870655Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.115e13d1-2095-4c4e-a36d-d9add12097c3.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"115e13d1-2095-4c4e-a36d-d9add12097c3","ingress":"none","name":"test-pool-placement-group","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"34efe58e-a488-4064-8fe1-14cfbc6ab966","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"type":"kapsule","updated_at":"2023-12-21T16:18:16.060071118Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/115e13d1-2095-4c4e-a36d-d9add12097c3
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/115e13d1-2095-4c4e-a36d-d9add12097c3/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAiCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VNMWVrTkRRV01yWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkplazFVU1hsTlJFVXlUVlJuZUU0eGIxaEVWRTE2VFZSSmVVMUVSVEpOVkdkNFRqRnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkd[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"75cbdbb0-7d7a-4486-a97f-e6fff3f3a14d","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/115e13d1-2095-4c4e-a36d-d9add12097c3/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"115e13d1-2095-4c4e-a36d-d9add12097c3","container_runtime":"containerd","created_at":"2023-12-21T16:18:21.579573Z","id":"b62522a5-d074-4720-b374-b083deb790ff","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"75cbdbb0-7d7a-4486-a97f-e6fff3f3a14d","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:18:21.590950494Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b62522a5-d074-4720-b374-b083deb790ff
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"115e13d1-2095-4c4e-a36d-d9add12097c3","container_runtime":"containerd","created_at":"2023-12-21T16:18:21.579573Z","id":"b62522a5-d074-4720-b374-b083deb790ff","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group","node_type":"gp1_xs","placement_group_id":"75cbdbb0-7d7a-4486-a97f-e6fff3f3a14d","public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:18:21.590950Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/115e13d1-2095-4c4e-a36d-d9add12097c3/nodes?order_by=created_at_asc&page=1&pool_id=b62522a5-d074-4720-b374-b083deb790ff&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"115e13d1-2095-4c4e-a36d-d9add12097c3","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:23:32.519689Z","error_message":null,"id":"68ee5265-14f0-4ac5-98b4-1a253e6d1013","name":"scw-test-pool-placeme-test-pool-placeme-68ee52","pool_id":"b62522a5-d074-4720-b374-b083deb790ff","provider_id":"scaleway://instance/fr-par-1/b98c5ee5-5c81-4c53-82d6-4f219fe5d922","public_ip_v4":"163.172.141.90","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-21T16:25:53.883498Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b62522a5-d074-4720-b374-b083deb790ff
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"b62522a5-d074-4720-b374-b083deb790ff","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/115e13d1-2095-4c4e-a36d-d9add12097c3?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_type":"max_availability"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups
    method: POST
  response:
    body: '{"placement_group":{"id":"79a72c09-389e-4f14-b9f4-609ee3c4f7ce","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/79a72c09-389e-4f14-b9f4-609ee3c4f7ce
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/placement_groups/79a72c09-389e-4f14-b9f4-609ee3c4f7ce
    method: GET
  response:
    body: '{"placement_group":{"id":"79a72c09-389e-4f14-b9f4-609ee3c4f7ce","name":"test-pool-placement-group","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","policy_mode":"optional","policy_respected":true,"policy_type":"max_availability","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"zone":"nl-ams-2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-pool-placement-group","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-21T16:26:24.178485Z","dhcp_enabled":true,"id":"70398b91-4154-4a53-80fa-ec23ea0ce57e","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-12-21T16:26:24.178485Z","id":"2ae471f2-97d1-4484-bb05-b542cad4dda2","subnet":"172.16.0.0/22","updated_at":"2023-12-21T16:26:24.178485Z"},{"created_at":"2023-12-21T16:26:24.178485Z","id":"b4b87b98-323d-4111-aea3-3f5afdb0b721","subnet":"fd68:d440:21c4:a3c6::/64","updated_at":"2023-12-21T16:26:24.178485Z"}],"tags":[],"updated_at":"2023-12-21T16:26:24.178485Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/70398b91-4154-4a53-80fa-ec23ea0ce57e
    method: GET
  response:
    body: '{"created_at":"2023-12-21T16:26:24.178485Z","dhcp_enabled":true,"id":"70398b91-4154-4a53-80fa-ec23ea0ce57e","name":"test-pool-placement-group","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-12-21T16:26:24.178485Z","id":"2ae471f2-97d1-4484-bb05-b542cad4dda2","subnet":"172.16.0.0/22","updated_at":"2023-12-21T16:26:24.178485Z"},{"created_at":"2023-12-21T16:26:24.178485Z","id":"b4b87b98-323d-4111-aea3-3f5afdb0b721","subnet":"fd68:d440:21c4:a3c6::/64","updated_at":"2023-12-21T16:26:24.178485Z"}],"tags":[],"updated_at":"2023-12-21T16:26:24.178485Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-placement-group-2","description":"","tags":["terraform-test","scaleway_k8s_cluster","placement_group"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutof[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/87e598f1-27a9-4de5-bed5-72d26cc6a200
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/87e598f1-27a9-4de5-bed5-72d26cc6a200/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1wbGFjZW1lbnQtZ3JvdXAtMiIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1[...]
[...]
- request:
    body: '{"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"79a72c09-389e-4f14-b9f4-609ee3c4f7ce","autoscaling":false,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":false,"tags":null,"kubelet_args":{},"zone":"nl-ams-2","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/87e598f1-27a9-4de5-bed5-72d26cc6a200/pools
    method: POST
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"87e598f1-27a9-4de5-bed5-72d26cc6a200","container_runtime":"containerd","created_at":"2023-12-21T16:26:30.659379Z","id":"7b919957-33d8-4a46-a81d-12cf8beacac5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"79a72c09-389e-4f14-b9f4-609ee3c4f7ce","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:26:30.672258761Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/pools/7b919957-33d8-4a46-a81d-12cf8beacac5
    method: GET
  response:
    body: '{"autohealing":false,"autoscaling":false,"cluster_id":"87e598f1-27a9-4de5-bed5-72d26cc6a200","container_runtime":"containerd","created_at":"2023-12-21T16:26:30.659379Z","id":"7b919957-33d8-4a46-a81d-12cf8beacac5","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-placement-group-2","node_type":"gp1_xs","placement_group_id":"79a72c09-389e-4f14-b9f4-609ee3c4f7ce","public_ip_disabled":false,"region":"nl-ams","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":[],"updated_at":"2023-12-21T16:26:30.672259Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"nl-ams-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/87e598f1-27a9-4de5-bed5-72d26cc6a200/nodes?order_by=created_at_asc&page=1&pool_id=7b919957-33d8-4a46-a81d-12cf8beacac5&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"87e598f1-27a9-4de5-bed5-72d26cc6a200","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-21T16:28:07.390214Z","error_message":null,"id":"a1b39df9-a9e1-4856-a05b-6986c096ce3e","name":"scw-test-pool-placeme-test-pool-placeme-a1b39d","pool_id":"7b919957-33d8-4a46-a81d-12cf8beacac5","provider_id":"scaleway://instance/nl-ams-2/c3638478-5470-43c7-87a6-9f0ff10ceb5e","public_ip_v4":"51.158.238.63","public_ip_v6":null,"region":"nl-ams","status":"ready","updated_at":"2023-12-21T16:30:20.543196Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/87e598f1-27a9-4de5-bed5-72d26cc6a200/available-types
    method: GET
  response:
    body: '{"cluster_types":[{"availability":"available","commitment_delay":"0s","dedicated":false,"max_nodes":150,"memory":4000000000,"name":"kapsule","resiliency":"standard","sla":0},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":250,"memory":4000000000,"name":"kapsule-dedicated-4","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":8000000000,"name":"kapsule-dedicated-8","resiliency":"high_availability","sla":99.5},{"availability":"available","commitment_delay":"2592000s","dedicated":true,"max_nodes":500,"memory":16000000000,"name":"kapsule-dedicated-16","resiliency":"high_availability","sla":99.5}],"total_count":4}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/nl-ams/clusters/87e598f1-27a9-4de5-bed5-72d26cc6a200?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
