---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.27.1","name":"1.27.1","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enabl[...]
- request:
    body: '{"name":"k8s-private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-13T15:16:17.134601Z","id":"f11358d1-ddb7-44c3-987e-ce0bd0573f5a","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:17.134601Z","id":"e492d3ca-8c84-4aa3-9595-b56234fa0647","subnet":"172.16.32.0/22","updated_at":"2023-06-13T15:16:17.134601Z"},{"created_at":"2023-06-13T15:16:17.134601Z","id":"a220f3e5-8373-4685-b617-49badb2ae0d6","subnet":"fd63:256c:45f7:99ee::/64","updated_at":"2023-06-13T15:16:17.134601Z"}],"tags":[],"updated_at":"2023-06-13T15:16:17.134601Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f11358d1-ddb7-44c3-987e-ce0bd0573f5a
    method: GET
  response:
    body: '{"created_at":"2023-06-13T15:16:17.134601Z","id":"f11358d1-ddb7-44c3-987e-ce0bd0573f5a","name":"k8s-private-network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-06-13T15:16:17.134601Z","id":"e492d3ca-8c84-4aa3-9595-b56234fa0647","subnet":"172.16.32.0/22","updated_at":"2023-06-13T15:16:17.134601Z"},{"created_at":"2023-06-13T15:16:17.134601Z","id":"a220f3e5-8373-4685-b617-49badb2ae0d6","subnet":"fd63:256c:45f7:99ee::/64","updated_at":"2023-06-13T15:16:17.134601Z"}],"tags":[],"updated_at":"2023-06-13T15:16:17.134601Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"k8s-private-network-cluster","description":"","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"version":"1.27.1","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null,"open_id_connect_config":null,"apiserver_cert_sans":null,"private_network_id":"f11358d1-ddb7-44c3-987e-ce0bd0573f5a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://7b172922-eecd-4ccd-9a7a-5eaddbf0bffb.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","created_at":"2023-06-13T15:16:17.536659325Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.7b172922-eecd-4ccd-9a7a-5eaddbf0bffb.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","ingress":"none","name":"k8s-private-network-cluster","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"f11358d1-ddb7-44c3-987e-ce0bd0573f5a","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","private_network"],"type":"kapsule","updated_at":"2023-06-13T15:16:17.546488785Z","upgrade_available":false,"version":"1.27.1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b172922-eecd-4ccd-9a7a-5eaddbf0bffb
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b172922-eecd-4ccd-9a7a-5eaddbf0bffb/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogIms4cy1wcml2YXRlLW5ldHdvcmstY2x1c3RlciIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMUVXWGhOYWtVeFRWUlplRTlXYjFoRVZFMTZUVVJaZUUxcVJURk5WRmw0VDFadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJ[...]
[...]
- request:
    body: '{"name":"pool","node_type":"gp1_xs","placement_group_id":null,"autoscaling":false,"size":2,"min_size":1,"max_size":2,"container_runtime":"containerd","autohealing":true,"tags":null,"kubelet_args":{},"upgrade_policy":null,"zone":"fr-par-1","root_volume_type":"default_volume_type","root_volume_size":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b172922-eecd-4ccd-9a7a-5eaddbf0bffb/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","container_runtime":"containerd","created_at":"2023-06-13T15:16:23.186837Z","id":"f1c0840c-1089-41f2-bf99-e87de15f2d09","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:16:23.203041406Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/f1c0840c-1089-41f2-bf99-e87de15f2d09
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":false,"cluster_id":"7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","container_runtime":"containerd","created_at":"2023-06-13T15:16:23.186837Z","id":"f1c0840c-1089-41f2-bf99-e87de15f2d09","kubelet_args":{},"max_size":2,"min_size":1,"name":"pool","node_type":"gp1_xs","placement_group_id":null,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":2,"status":"scaling","tags":[],"updated_at":"2023-06-13T15:16:23.203041Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.27.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b172922-eecd-4ccd-9a7a-5eaddbf0bffb/nodes?order_by=created_at_asc&page=1&pool_id=f1c0840c-1089-41f2-bf99-e87de15f2d09&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","ReadonlyFilesystem":"False","Ready":"True"},"created_at":"2023-06-13T15:18:21.489814Z","error_message":null,"id":"2e5c157b-1474-4070-bd6c-1a3528d7dc4b","name":"scw-k8s-private-network-cluster-pool-2e5c157b1","pool_id":"f1c0840c-1089-41f2-bf99-e87de15f2d09","provider_id":"scaleway://instance/fr-par-1/68f45c79-12fc-4cd5-a880-d7c7620b5878","public_ip_v4":"51.15.142.17","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:21:40.496710Z"},{"cluster_id":"7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-06-13T15:18:34.707920Z","error_message":null,"id":"a1ceaeba-b15f-4116-8838-7780719c345f","name":"scw-k8s-private-network-cluster-pool-a1ceaebab","pool_id":"f1c0840c-1089-41f2-bf99-e87de15f2d09","provider_id":"scaleway://instance/fr-par-1/80a4ae16-4008-4dca-9466-c8de3f2c93d6","public_ip_v4":"163.172.161.126","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-06-13T15:21:40.542469Z"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b172922-eecd-4ccd-9a7a-5eaddbf0bffb/nodes?order_by=created_at_asc&pool_id=f1c0840c-1089-41f2-bf99-e87de15f2d09&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","conditions":{"DiskPressure":"False","KernelDeadlock":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUna[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/68f45c79-12fc-4cd5-a880-d7c7620b5878
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-06-13T15:18:22.276984+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-k8s-private-network-cluster-pool-2e5c157b1","id":"68f45c79-12fc-4cd5-a880-d7c7620b5878","image":{"arch":"x86_64","creation_date":"2021-04-12T11:08:57.473796+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"39a71c71-bb3e-4ba9-b550-e45f491cf6a7","modification_date":"2021-04-12T11:08:59.914868+00:00","name":"Kubernetes
      base node 94cae785 20210412-1103","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"b2b0cd24-b0c2-4806-92cc-edb58a1fdfb0","name":"k8s_base_node_2021-04-12_11:03","size":10000000000,"volume_type":"l_ssd"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:700:e06::1","gateway":"2001:bc8:700:e06::","netmask":"64"},"location":{"cluster_id":"57","hypervisor_id":"403","node_id":"7","platform_id":"14","zone_id":"par1"},"maintenances":[],"modification_date":"2023-06-13T15:18:57.215593+00:00","name":"scw-k8s-private-network-cluster-pool-2e5c157b1","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","placement_group":null,"private_ip":"10.194.181.141","private_nics":[{"creation_date":"2023-06-13T15:18:23.296244+00:00","id":"f754771a-ef67-45f8-a870-a83df2c4854d","mac_address":"02:00:00:13:1b:cc","modification_date":"2023-06-13T15:18:24.189012+00:00","private_network_id":"f11358d1-ddb7-44c3-987e-ce0bd0573f5a","server_id":"68f45c79-12fc-4cd5-a880-d7c7620b5878","state":"available","tags":[],"zone":"fr-par-1"}],"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","protected":false,"public_ip":{"address":"51.15.142.17","dynamic":true,"id":"5eaccdda-26d1-43ed-91f3-66a8bf777a18"},"security_group":{"id":"04d161da-48b6-4550-bbe0-5d7819164918","name":"kubernetes
      7b172922-eecd-4ccd-9a7a-5eaddbf0bffb"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","pool=f1c0840c-1089-41f2-bf99-e87de15f2d09","pool-name=pool","runtime=containerd","managed=true","node=2e5c157b-1474-4070-bd6c-1a3528d7dc4b"],"volumes":{"0":{"boot":false,"creation_date":"2023-06-13T15:18:22.276984+00:00","export_uri":null,"id":"8dab6dad-c8f2-47d8-b385-d9be183f7a33","modification_date":"2023-06-13T15:18:22.276984+00:00","name":"k8s_base_node_2021-04-12_11:03","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","server":{"id":"68f45c79-12fc-4cd5-a880-d7c7620b5878","name":"scw-k8s-private-network-cluster-pool-2e5c157b1"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b172922-eecd-4ccd-9a7a-5eaddbf0bffb?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"igno[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/7b172922-eecd-4ccd-9a7a-5eaddbf0bffb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7b172922-eecd-4ccd-9a7a-5eaddbf0bffb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
