---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":["none"],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"dura[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-10T13:23:28.620833Z","dhcp_enabled":true,"id":"df80979d-0105-4fbf-bd94-ee982a1d2c06","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:23:28.620833Z","id":"fe07d182-74ee-4f65-9f67-0d590d0f50e4","subnet":"172.16.52.0/22","updated_at":"2023-11-10T13:23:28.620833Z"},{"created_at":"2023-11-10T13:23:28.620833Z","id":"6a0ee991-e458-42c9-a9b1-cdc910cad4b8","subnet":"fd63:256c:45f7:3f5c::/64","updated_at":"2023-11-10T13:23:28.620833Z"}],"tags":[],"updated_at":"2023-11-10T13:23:28.620833Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/df80979d-0105-4fbf-bd94-ee982a1d2c06
    method: GET
  response:
    body: '{"created_at":"2023-11-10T13:23:28.620833Z","dhcp_enabled":true,"id":"df80979d-0105-4fbf-bd94-ee982a1d2c06","name":"test-pool-upgrade-policy","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-10T13:23:28.620833Z","id":"fe07d182-74ee-4f65-9f67-0d590d0f50e4","subnet":"172.16.52.0/22","updated_at":"2023-11-10T13:23:28.620833Z"},{"created_at":"2023-11-10T13:23:28.620833Z","id":"6a0ee991-e458-42c9-a9b1-cdc910cad4b8","subnet":"fd63:256c:45f7:3f5c::/64","updated_at":"2023-11-10T13:23:28.620833Z"}],"tags":[],"updated_at":"2023-11-10T13:23:28.620833Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","type":"","name":"test-pool-upgrade-policy","description":"","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"version":"1.28.2","cni":"cilium","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"df80979d-0105-4fbf-bd94-ee982a1d2c06"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2.api.k8s.fr-par.scw.cloud:6443","cni":"cilium","commitment_ends_at":"2023-11-10T13:23:29.665035431Z","created_at":"2023-11-10T13:23:29.665035431Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2","ingress":"none","name":"test-pool-upgrade-policy","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_id":"df80979d-0105-4fbf-bd94-ee982a1d2c06","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"type":"kapsule","updated_at":"2023-11-10T13:23:29.676686733Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC11cGdyYWRlLXBvbGljeSIKICBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9yaXR5LWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVU0xZWtORFFXTXJaMEYzU1VKQlowbENRVVJCVGtKbmEzRm9hMmxIT1hjd1FrRlJjMFpCUkVGV1RWSk5kMFZSV1VSV1VWRkVSWGR3Y21SWFNtd0tZMjAxYkdSSFZucE5RalJZUkZSSmVrMVVSWGRQVkVWNlRXcE5lazFXYjFoRVZFMTZUVlJGZDA5VVJYcE5hazE2VFZadmQwWlVSVlJOUWtWSFFURlZSUXBCZUUxTFlUTldhVnBZU25WYVdGSnNZM3BEUTBGVFNYZEVVVmxLUzI5YVNXaDJZMDVCVVVWQ1FsRkJSR2R[...]
[...]
- request:
    body: '{"name":"test-pool-upgrade-policy","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"kubelet_args":{},"upgrade_policy":{"max_unavailable":3,"max_surge":2},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2","container_runtime":"containerd","created_at":"2023-11-10T13:23:35.150306Z","id":"1a832238-bd36-418b-9d9d-6b71d74ffd03","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-11-10T13:23:35.159613211Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1a832238-bd36-418b-9d9d-6b71d74ffd03
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2","container_runtime":"containerd","created_at":"2023-11-10T13:23:35.150306Z","id":"1a832238-bd36-418b-9d9d-6b71d74ffd03","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-upgrade-policy","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","upgrade_policy"],"updated_at":"2023-11-10T13:23:35.159613Z","upgrade_policy":{"max_surge":2,"max_unavailable":3},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2/nodes?order_by=created_at_asc&page=1&pool_id=1a832238-bd36-418b-9d9d-6b71d74ffd03&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:24:51.187783Z","error_message":null,"id":"bb421631-54c6-45fe-b4aa-cf1868e5de3c","name":"scw-test-pool-upgrade-test-pool-upgrade-bb4216","pool_id":"1a832238-bd36-418b-9d9d-6b71d74ffd03","provider_id":"scaleway://instance/fr-par-1/6a9a9d99-d526-4002-97c5-c3de424dbb4c","public_ip_v4":"163.172.164.36","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:28:03.471387Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2/nodes?order_by=created_at_asc&page=1&pool_id=1a832238-bd36-418b-9d9d-6b71d74ffd03&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-11-10T13:24:51.187783Z","error_message":null,"id":"bb421631-54c6-45fe-b4aa-cf1868e5de3c","name":"scw-test-pool-upgrade-test-pool-upgrade-bb4216","pool_id":"1a832238-bd36-418b-9d9d-6b71d74ffd03","provider_id":"scaleway://instance/fr-par-1/6a9a9d99-d526-4002-97c5-c3de424dbb4c","public_ip_v4":"163.172.164.36","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-11-10T13:28:11.485377Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/1a832238-bd36-418b-9d9d-6b71d74ffd03
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"1a832238-bd36-418b-9d9d-6b71d74ffd03","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/22a0b3ab-3014-4fb1-9c6f-fbf4d73e4fc2?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
