---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"region":"fr-par","name":"1.19.2","label":"Kubernetes 1.19.2","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","HPAScaleToZero","ServiceTopology","EphemeralContainers"],"available_admission_plugins":["PodSecurityPolicy","MutatingAdmissionWebhook","PodNodeSelector","AlwaysPullImages","PodPreset"]},{"region":"fr-par","name":"1.18.9","label":"Kubernetes
      1.18.9","available_cnis":["cilium","calico","weave","flannel"],"available_ingresses":["none","nginx","traefik","traefik2"],"available_container_runtimes":["docker","containerd","crio"],"available_feature_gates":["TTLAfterFinished","ServiceNodeExclusion","EndpointSlice","EndpointSliceProxying","HPAScaleToZero","ServiceTopology","EphemeralC[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"ClusterBetaDeprecated","description":"","tags":["terraform-test","scaleway_k8s_cluster_beta","deprecated"],"version":"1.18.2","cni":"calico","enable_dashboard":false,"ingress":"none","pools":[{"name":"default","node_type":"DEV1-M","placement_group_id":null,"autoscaling":false,"size":1,"min_size":null,"max_size":null,"container_runtime":"docker","autohealing":false,"tags":null}],"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null},"auto_upgrade":null,"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"region":"fr-par","id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:36:42.353161810Z","updated_at":"2020-10-15T12:36:43.243320185Z","name":"ClusterBetaDeprecated","description":"","status":"creating","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","deprecated"],"cluster_url":"https://9fddc106-4d8c-422a-abfa-3fed30d6b900.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.9fddc106-4d8c-422a-abfa-3fed30d6b900.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":false,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900
    method: GET
  response:
    body: '{"region":"fr-par","id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:36:42.353162Z","updated_at":"2020-10-15T12:36:43.243320Z","name":"ClusterBetaDeprecated","description":"","status":"creating","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","deprecated"],"cluster_url":"https://9fddc106-4d8c-422a-abfa-3fed30d6b900.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.9fddc106-4d8c-422a-abfa-3fed30d6b900.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900/pools?order_by=created_at_asc&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"pools":[{"region":"fr-par","id":"d420124e-6966-468c-818b-ec5479c65cb5","cluster_id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","created_at":"2020-10-15T12:36:42.371350Z","updated_at":"2020-10-15T12:36:42.409207Z","name":"default","status":"scaling","version":"1.18.2","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900/nodes?order_by=created_at_asc&page=1&pool_id=d420124e-6966-468c-818b-ec5479c65cb5&status=unknown
    method: GET
  response:
    body: '{"total_count":0,"nodes":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900/kubeconfig
    method: GET
  response:
    body: '{"name":"kubeconfig","content_type":"application/octet-stream","content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogY2x1c3RlcmJldGFkZXByZWNhdGVkCiAgY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VONVJFTkRRV0pEWjBGM1NVSkJaMGxDUVVSQlRrSm5hM0ZvYTJsSE9YY3dRa0ZSYzBaQlJFRldUVkpOZDBWUldVUldVVkZFUlhkd2NtUlhTbXdLWTIwMWJHUkhWbnBOUWpSWVJGUkpkMDFVUVhoT1JFVjVUWHBaTUUweGIxaEVWRTEzVFZSQmVFNUVSWGxOZWxrd1RURnZkMFpVUlZSTlFrVkhRVEZWUlFwQmVFMUxZVE5XYVZwWVNuVmFXRkpzWTNwRFEwRlRTWGRFVVZsS1MyOWFTV2gyWTA1QlVVVkNRbEZCUkdkblJWQkJ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/d420124e-6966-468c-818b-ec5479c65cb5
    method: GET
  response:
    body: '{"region":"fr-par","id":"d420124e-6966-468c-818b-ec5479c65cb5","cluster_id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","created_at":"2020-10-15T12:36:42.371350Z","updated_at":"2020-10-15T12:36:42.409207Z","name":"default","status":"scaling","version":"1.18.2","node_type":"dev1_m","autoscaling":false,"size":1,"min_size":0,"max_size":1,"container_runtime":"docker","autohealing":false,"tags":[],"placement_group_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900/nodes?order_by=created_at_asc&page=1&pool_id=d420124e-6966-468c-818b-ec5479c65cb5&status=unknown
    method: GET
  response:
    body: '{"total_count":1,"nodes":[{"region":"fr-par","id":"0146ef79-59a5-4cdd-89e7-b20431dfe789","cluster_id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","created_at":"2020-10-15T12:37:25.315292Z","updated_at":"2020-10-15T12:37:25.315292Z","pool_id":"d420124e-6966-468c-818b-ec5479c65cb5","status":"creating","conditions":{"Creating":"True","Ready":"False"},"name":"scw-clusterbetadeprecated-default-0146ef7959a5","public_ip_v4":"","public_ip_v6":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":null,"description":null,"tags":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":null,"scale_down_unneeded_time":null},"enable_dashboard":null,"ingress":"unknown_ingress","auto_upgrade":{"enable":null,"maintenance_window":null},"feature_gates":null,"admission_plugins":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900
    method: PATCH
  response:
    body: '{"region":"fr-par","id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:36:42.353162Z","updated_at":"2020-10-15T12:37:28.335176170Z","name":"ClusterBetaDeprecated","description":"","status":"updating","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","deprecated"],"cluster_url":"https://9fddc106-4d8c-422a-abfa-3fed30d6b900.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.9fddc106-4d8c-422a-abfa-3fed30d6b900.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900?with_additional_resources=false
    method: DELETE
  response:
    body: '{"region":"fr-par","id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-15T12:36:42.353162Z","updated_at":"2020-10-15T12:38:32.962055032Z","name":"ClusterBetaDeprecated","description":"","status":"deleting","version":"1.18.2","cni":"calico","tags":["terraform-test","scaleway_k8s_cluster_beta","deprecated"],"cluster_url":"https://9fddc106-4d8c-422a-abfa-3fed30d6b900.api.k8s.fr-par.scw.cloud:6443","dns_wildcard":"*.9fddc106-4d8c-422a-abfa-3fed30d6b900.nodes.k8s.fr-par.scw.cloud","autoscaler_config":{"scale_down_disabled":false,"scale_down_delay_after_add":"10m","estimator":"binpacking","expander":"random","ignore_daemonsets_utilization":false,"balance_similar_node_groups":false,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":"10m"},"dashboard_enabled":false,"ingress":"none","auto_upgrade":{"enabled":false,"maintenance_window":{"start_hour":0,"day":"any"}},"upgrade_available":true,"feature_gates":[],"admission_plugins":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/9fddc106-4d8c-422a-abfa-3fed30d6b900
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"9fddc106-4d8c-422a-abfa-3fed30d6b900","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
