---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/versions
    method: GET
  response:
    body: '{"versions":[{"available_admission_plugins":["AlwaysPullImages","PodNodeSelector","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","SidecarContainers","ValidatingAdmissionPolicy"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration","cpuManagerPolicy":"enum:none|static","enableDebuggingHandlers":"bool","imageGCHighThresholdPercent":"uint32","imageGCLowThresholdPercent":"uint32","maxPods":"uint16"},"label":"Kubernetes
      1.28.2","name":"1.28.2","region":"fr-par"},{"available_admission_plugins":["PodNodeSelector","AlwaysPullImages","PodTolerationRestriction"],"available_cnis":["cilium","calico","kilo"],"available_container_runtimes":["containerd"],"available_feature_gates":["HPAScaleToZero","GRPCContainerProbe","ReadWriteOncePod","ValidatingAdmissionPolicy","CSINodeExpandSecret"],"available_ingresses":[],"available_kubelet_args":{"containerLogMaxFiles":"uint16","containerLogMaxSize":"quantity","cpuCFSQuota":"bool","cpuCFSQuotaPeriod":"duration",[...]
- request:
    body: '{"name":"test-pool-minimal","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-20T16:29:12.206536Z","dhcp_enabled":true,"id":"dfd0dc15-963a-4041-8fd3-35ce97bf9bb3","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:29:12.206536Z","id":"2afc07b4-4123-421b-89da-baa9067d5deb","subnet":"172.16.28.0/22","updated_at":"2023-12-20T16:29:12.206536Z"},{"created_at":"2023-12-20T16:29:12.206536Z","id":"c2045f6a-50c4-4295-b74b-5b13c8bfc784","subnet":"fd5f:519c:6d46:abad::/64","updated_at":"2023-12-20T16:29:12.206536Z"}],"tags":[],"updated_at":"2023-12-20T16:29:12.206536Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dfd0dc15-963a-4041-8fd3-35ce97bf9bb3
    method: GET
  response:
    body: '{"created_at":"2023-12-20T16:29:12.206536Z","dhcp_enabled":true,"id":"dfd0dc15-963a-4041-8fd3-35ce97bf9bb3","name":"test-pool-minimal","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-20T16:29:12.206536Z","id":"2afc07b4-4123-421b-89da-baa9067d5deb","subnet":"172.16.28.0/22","updated_at":"2023-12-20T16:29:12.206536Z"},{"created_at":"2023-12-20T16:29:12.206536Z","id":"c2045f6a-50c4-4295-b74b-5b13c8bfc784","subnet":"fd5f:519c:6d46:abad::/64","updated_at":"2023-12-20T16:29:12.206536Z"}],"tags":[],"updated_at":"2023-12-20T16:29:12.206536Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","type":"","name":"test-pool-minimal","description":"","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"version":"1.28.2","cni":"calico","pools":null,"autoscaler_config":{"scale_down_disabled":null,"scale_down_delay_after_add":null,"estimator":"unknown_estimator","expander":"unknown_expander","ignore_daemonsets_utilization":null,"balance_similar_node_groups":null,"expendable_pods_priority_cutoff":0,"scale_down_unneeded_time":null,"scale_down_utilization_threshold":null,"max_graceful_termination_sec":0},"feature_gates":null,"admission_plugins":null,"apiserver_cert_sans":null,"private_network_id":"dfd0dc15-963a-4041-8fd3-35ce97bf9bb3"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters
    method: POST
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_utilization":false,"max_graceful_termination_sec":0,"scale_down_delay_after_add":"10m","scale_down_disabled":false,"scale_down_unneeded_time":"10m","scale_down_utilization_threshold":0.5},"cluster_url":"https://1d0b9895-28e6-424e-a002-79be3dfbf47c.api.k8s.fr-par.scw.cloud:6443","cni":"calico","commitment_ends_at":"2023-12-20T16:29:13.476750988Z","created_at":"2023-12-20T16:29:13.476750988Z","dashboard_enabled":false,"description":"","dns_wildcard":"*.1d0b9895-28e6-424e-a002-79be3dfbf47c.nodes.k8s.fr-par.scw.cloud","feature_gates":[],"id":"1d0b9895-28e6-424e-a002-79be3dfbf47c","ingress":"none","name":"test-pool-minimal","open_id_connect_config":{"client_id":"","groups_claim":[],"groups_prefix":"","issuer_url":"","required_claim":[],"username_claim":"","username_prefix":""},"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_id":"dfd0dc15-963a-4041-8fd3-35ce97bf9bb3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"creating","tags":["terraform-test","scaleway_k8s_cluster","minimal"],"type":"kapsule","updated_at":"2023-12-20T16:29:13.487113845Z","upgrade_available":false,"version":"1.28.2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1d0b9895-28e6-424e-a002-79be3dfbf47c
    method: GET
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priority_cutoff":0,"ignore_daemonsets_ut[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1d0b9895-28e6-424e-a002-79be3dfbf47c/kubeconfig
    method: GET
  response:
    body: '{"content":"YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gbmFtZTogInRlc3QtcG9vbC1taW5pbWFsIgogIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVTTFla05EUVdNclowRjNTVUpCWjBsQ1FVUkJUa0puYTNGb2EybEhPWGN3UWtGUmMwWkJSRUZXVFZKTmQwVlJXVVJXVVZGRVJYZHdjbVJYU213S1kyMDFiR1JIVm5wTlFqUllSRlJKZWsxVVNYaFBWRVV5VFdwcmVFNVdiMWhFVkUxNlRWUkplRTlVUlRKTmFtdDRUbFp2ZDBaVVJWUk5Ra1ZIUVRGVlJRcEJlRTFMWVROV2FWcFlTblZhV0ZKc1kzcERRMEZUU1hkRVVWbEtTMjlhU1doMlkwNUJVVVZDUWxGQlJHZG5SVkJCUkV[...]
[...]
- request:
    body: '{"name":"test-pool-minimal","node_type":"gp1_xs","autoscaling":true,"size":1,"min_size":1,"max_size":1,"container_runtime":"containerd","autohealing":true,"tags":["terraform-test","scaleway_k8s_cluster","default"],"kubelet_args":{},"zone":"fr-par-1","root_volume_type":"default_volume_type","public_ip_disabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1d0b9895-28e6-424e-a002-79be3dfbf47c/pools
    method: POST
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1d0b9895-28e6-424e-a002-79be3dfbf47c","container_runtime":"containerd","created_at":"2023-12-20T16:29:18.957916Z","id":"ada3b990-dccc-4543-bd33-48b80c0ec77c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-12-20T16:29:18.967052005Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/ada3b990-dccc-4543-bd33-48b80c0ec77c
    method: GET
  response:
    body: '{"autohealing":true,"autoscaling":true,"cluster_id":"1d0b9895-28e6-424e-a002-79be3dfbf47c","container_runtime":"containerd","created_at":"2023-12-20T16:29:18.957916Z","id":"ada3b990-dccc-4543-bd33-48b80c0ec77c","kubelet_args":{},"max_size":1,"min_size":1,"name":"test-pool-minimal","node_type":"gp1_xs","placement_group_id":null,"public_ip_disabled":false,"region":"fr-par","root_volume_size":150000000000,"root_volume_type":"l_ssd","size":1,"status":"scaling","tags":["terraform-test","scaleway_k8s_cluster","default"],"updated_at":"2023-12-20T16:29:18.967052Z","upgrade_policy":{"max_surge":0,"max_unavailable":1},"version":"1.28.2","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1d0b9895-28e6-424e-a002-79be3dfbf47c/nodes?order_by=created_at_asc&page=1&pool_id=ada3b990-dccc-4543-bd33-48b80c0ec77c&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1d0b9895-28e6-424e-a002-79be3dfbf47c","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:34:34.767967Z","error_message":null,"id":"ba0cfdcf-ebcf-4182-9a16-0f09bb50ac1d","name":"scw-test-pool-minimal-test-pool-minimal-ba0cfd","pool_id":"ada3b990-dccc-4543-bd33-48b80c0ec77c","provider_id":"scaleway://instance/fr-par-1/efed5f63-dda6-4544-84cb-2ea3ace8c5f4","public_ip_v4":"51.158.126.160","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:36:43.932257Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1d0b9895-28e6-424e-a002-79be3dfbf47c/nodes?order_by=created_at_asc&pool_id=ada3b990-dccc-4543-bd33-48b80c0ec77c&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1d0b9895-28e6-424e-a002-79be3dfbf47c","conditions":{"DiskPressure":"False","MemoryPressure":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:34:34.767967Z","error_message":null,"id":"ba0cfdcf-ebcf-4182-9a16-0f09bb50ac1d","name":"scw-test-pool-minimal-test-pool-minimal-ba0cfd","pool_id":"ada3b990-dccc-4543-bd33-48b80c0ec77c","provider_id":"scaleway://instance/fr-par-1/efed5f63-dda6-4544-84cb-2ea3ace8c5f4","public_ip_v4":"51.158.126.160","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:36:43.932257Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/efed5f63-dda6-4544-84cb-2ea3ace8c5f4
    method: GET
  response:
    body: '{"server":{"allowed_actions":["poweroff","terminate","reboot","stop_in_place","backup","enable_routed_ip"],"arch":"x86_64","boot_type":"local","bootscript":{"architecture":"x86_64","bootcmdargs":"LINUX_COMMON
      scaleway boot=local nbd.max_part=16","default":true,"dtb":"","id":"fdfe150f-a870-4ce4-b432-9f56b5b995c1","initrd":"http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz","kernel":"http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230","organization":"11111111-1111-4111-8111-111111111111","project":"11111111-1111-4111-8111-111111111111","public":true,"title":"x86_64
      mainline 4.4.230 rev1","zone":"fr-par-1"},"commercial_type":"GP1-XS","creation_date":"2023-12-20T16:34:35.268697+00:00","dynamic_ip_required":true,"enable_ipv6":true,"extra_networks":[],"hostname":"scw-test-pool-minimal-test-pool-minimal-ba0cfd","id":"efed5f63-dda6-4544-84cb-2ea3ace8c5f4","image":{"arch":"x86_64","creation_date":"2023-10-17T13:58:22.900323+00:00","default_bootscript":null,"extra_volumes":{},"from_server":null,"id":"058ec9bf-0cd8-4b2d-a68e-cb7578338a88","modification_date":"2023-10-17T14:08:43.096919+00:00","name":"k8s_base_node_2023-10-11.1","organization":"d3009bdc-497e-4b60-a785-1abfad8740ca","project":"d3009bdc-497e-4b60-a785-1abfad8740ca","public":true,"root_volume":{"id":"84ef0475-6a5a-4ab4-9acd-8e5855eee050","name":"k8s_base_node_2023-10-11.1","size":10000000000,"volume_type":"unified"},"state":"available","tags":[],"zone":"fr-par-1"},"ipv6":{"address":"2001:bc8:668:1601::1","gateway":"2001:bc8:668:1601::","netmask":"64"},"location":{"cluster_id":"91","hypervisor_id":"603","node_id":"2","platform_id":"14","zone_id":"par1"},"mac_address":"de:00:00:33:ff:a5","maintenances":[],"modification_date":"2023-12-20T16:34:49.308882+00:00","name":"scw-test-pool-minimal-test-pool-minimal-ba0cfd","organization":"105bdce1-64c0-48ab-899d-868455867ecf","placement_group":null,"private_ip":"10.66.245.131","private_nics":[{"creation_date":"2023-12-20T16:34:36.123814+00:00","id":"3f3b1324-ac22-469b-a76d-288db0ef40fe","mac_address":"02:00:00:15:c4:25","modification_date":"2023-12-20T16:34:37.026292+00:00","private_network_id":"dfd0dc15-963a-4041-8fd3-35ce97bf9bb3","server_id":"efed5f63-dda6-4544-84cb-2ea3ace8c5f4","state":"available","tags":[],"zone":"fr-par-1"}],"project":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"public_ip":{"address":"51.158.126.160","dynamic":true,"family":"inet","gateway":null,"id":"41f5db82-806a-4d90-a73f-f85d8b2b3254","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]},"public_ips":[{"address":"51.158.126.160","dynamic":true,"family":"inet","gateway":null,"id":"41f5db82-806a-4d90-a73f-f85d8b2b3254","ipam_id":null,"netmask":"32","provisioning_mode":"dhcp","state":"attached","tags":[]}],"routed_ip_enabled":false,"security_group":{"id":"1235f0b6-9b30-4d4f-9200-27e5b8a9436a","name":"kubernetes
      1d0b9895-28e6-424e-a002-79be3dfbf47c"},"state":"running","state_detail":"booting
      kernel","tags":["kapsule=1d0b9895-28e6-424e-a002-79be3dfbf47c","pool=ada3b990-dccc-4543-bd33-48b80c0ec77c","pool-name=test-pool-minimal","runtime=containerd","managed=true","terraform-test","scaleway_k8s_cluster","default","node=ba0cfdcf-ebcf-4182-9a16-0f09bb50ac1d"],"volumes":{"0":{"boot":false,"creation_date":"2023-12-20T16:34:35.268697+00:00","export_uri":null,"id":"3de5f0b1-6d58-4240-afd0-d4e5be37e6cf","modification_date":"2023-12-20T16:34:35.268697+00:00","name":"k8s_base_node_2023-10-11.1","organization":"105bdce1-64c0-48ab-899d-868455867ecf","project":"105bdce1-64c0-48ab-899d-868455867ecf","server":{"id":"efed5f63-dda6-4544-84cb-2ea3ace8c5f4","name":"scw-test-pool-minimal-test-pool-minimal-ba0cfd"},"size":150000000000,"state":"available","tags":[],"volume_type":"l_ssd","zone":"fr-par-1"}},"zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1d0b9895-28e6-424e-a002-79be3dfbf47c/nodes?order_by=created_at_asc&pool_id=ada3b990-dccc-4543-bd33-48b80c0ec77c&status=unknown
    method: GET
  response:
    body: '{"nodes":[{"cluster_id":"1d0b9895-28e6-424e-a002-79be3dfbf47c","conditions":{"DiskPressure":"False","MemoryPressure":"False","NetworkUnavailable":"False","PIDPressure":"False","PrivateNetworkUnavailable":"False","Ready":"True"},"created_at":"2023-12-20T16:34:34.767967Z","error_message":null,"id":"ba0cfdcf-ebcf-4182-9a16-0f09bb50ac1d","name":"scw-test-pool-minimal-test-pool-minimal-ba0cfd","pool_id":"ada3b990-dccc-4543-bd33-48b80c0ec77c","provider_id":"scaleway://instance/fr-par-1/efed5f63-dda6-4544-84cb-2ea3ace8c5f4","public_ip_v4":"51.158.126.160","public_ip_v6":null,"region":"fr-par","status":"ready","updated_at":"2023-12-20T16:38:54.653944Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/pools/b2996506-2ba1-4d6b-9274-098ce7e89974
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"pool","resource_id":"b2996506-2ba1-4d6b-9274-098ce7e89974","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/k8s/v1/regions/fr-par/clusters/1d0b9895-28e6-424e-a002-79be3dfbf47c?with_additional_resources=true
    method: DELETE
  response:
    body: '{"admission_plugins":[],"apiserver_cert_sans":[],"audit_log":false,"auto_upgrade":{"enabled":false,"maintenance_window":{"day":"any","start_hour":0}},"autoscaler_config":{"balance_similar_node_groups":false,"estimator":"binpacking","expander":"random","expendable_pods_priori[...]
[...]
