---
version: 1
interactions:
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"9f868c96-54ef-4662-b24c-07268031ba58","ip_address":"51.159.115.142","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/9f868c96-54ef-4662-b24c-07268031ba58
    method: GET
  response:
    body: '{"id":"9f868c96-54ef-4662-b24c-07268031ba58","ip_address":"51.159.115.142","lb_id":null,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"9f868c96-54ef-4662-b24c-07268031ba58","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-10-31T13:02:47.366469124Z","description":"","frontend_count":0,"id":"83aa0efb-6a5e-414a-b5b9-a072a795c857","instances":[],"ip":[{"id":"9f868c96-54ef-4662-b24c-07268031ba58","ip_address":"51.159.115.142","lb_id":"83aa0efb-6a5e-414a-b5b9-a072a795c857","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-10-31T13:02:47.366469124Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/83aa0efb-6a5e-414a-b5b9-a072a795c857
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-10-31T13:02:47.366469Z","description":"","frontend_count":0,"id":"83aa0efb-6a5e-414a-b5b9-a072a795c857","instances":[],"ip":[{"id":"9f868c96-54ef-4662-b24c-07268031ba58","ip_address":"51.159.115.142","lb_id":"83aa0efb-6a5e-414a-b5b9-a072a795c857","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-10-31T13:02:47.366469Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"163.172.162.240","id":"1e296e02-f75e-4832-8932-3143e227cf92","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1e296e02-f75e-4832-8932-3143e227cf92
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1e296e02-f75e-4832-8932-3143e227cf92
    method: GET
  response:
    body: '{"ip":{"address":"163.172.162.240","id":"1e296e02-f75e-4832-8932-3143e227cf92","organization":"105bdce1-64c0-48ab-899d-868455867ecf","prefix":null,"project":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/83aa0efb-6a5e-414a-b5b9-a072a795c857/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":["163.172.162.240"],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","ssl_bridging":false,"ignore_ssl_server_verify":false,"max_retries":3,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/83aa0efb-6a5e-414a-b5b9-a072a795c857/backends
    method: POST
  response:
    body: '{"created_at":"2023-10-31T13:03:18.101846069Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"28ba708e-b169-44d2-855b-c177e3b42ca4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-10-31T13:02:47.366469Z","description":"","frontend_count":0,"id":"83aa0efb-6a5e-414a-b5b9-a072a795c857","instances":[{"created_at":"2023-10-31T13:01:23.560663Z","id":"1634afa4-0b9c-44ed-a9ce-c6ea14bdc885","ip_address":"","region":"fr-par","status":"pending","updated_at":"2023-10-31T13:03:18.171392621Z","zone":"fr-par-1"}],"ip":[{"id":"9f868c96-54ef-4662-b24c-07268031ba58","ip_address":"51.159.115.142","lb_id":"83aa0efb-6a5e-414a-b5b9-a072a795c857","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","reverse":"51-159-115-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-10-31T13:03:01.836949Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":["163.172.162.240"],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-10-31T13:03:18.101846069Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/28ba708e-b169-44d2-855b-c177e3b42ca4
    method: GET
  response:
    body: '{"created_at":"2023-10-31T13:03:18.101846Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"}[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"check_send_proxy":true,"tcp_config":{},"transient_check_delay":"0.200000000s","check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/28ba708e-b169-44d2-855b-c177e3b42ca4/healthcheck
    method: PUT
  response:
    body: '{"check_delay":10000,"check_max_retries":3,"check_send_proxy":true,"check_timeout":15000,"port":81,"tcp_config":{},"transient_check_delay":"0.200s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["163.172.162.240","212.47.229.243"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/28ba708e-b169-44d2-855b-c177e3b42ca4/servers
    method: PUT
  response:
    body: '{"created_at":"2023-10-31T13:03:18.101846Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"leastconn","forward_protocol":"tcp","health_check":{"check_delay":10000,"check_max_retries":3,"che[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/83aa0efb-6a5e-414a-b5b9-a072a795c857?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/83aa0efb-6a5e-414a-b5b9-a072a795c857
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
