---
version: 1
interactions:
- request:
    body: '{"project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3899ba3b-13c6-4d86-8f09-71f9a429d527","ip_address":"51.159.24.233","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","lb_id":null,"reverse":"51-159-24-233.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "da0e90f7-efd0-448a-95aa-d4b1c6fab56b", "address": "163.172.144.38",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/ips/da0e90f7-efd0-448a-95aa-d4b1c6fab56b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3899ba3b-13c6-4d86-8f09-71f9a429d527
    method: GET
  response:
    body: '{"id":"3899ba3b-13c6-4d86-8f09-71f9a429d527","ip_address":"51.159.24.233","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","lb_id":null,"reverse":"51-159-24-233.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/da0e90f7-efd0-448a-95aa-d4b1c6fab56b
    method: GET
  response:
    body: '{"ip": {"id": "da0e90f7-efd0-448a-95aa-d4b1c6fab56b", "address": "163.172.144.38",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","name":"test-lb","description":"","ip_id":"3899ba3b-13c6-4d86-8f09-71f9a429d527","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"6f15e7fa-1265-405b-aa3c-0db6655776c6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","ip":[{"id":"3899ba3b-13c6-4d86-8f09-71f9a429d527","ip_address":"51.159.24.233","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","lb_id":"6f15e7fa-1265-405b-aa3c-0db6655776c6","reverse":"51-159-24-233.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-20T14:43:42.828173940Z","updated_at":"2021-05-20T14:43:42.828173940Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6f15e7fa-1265-405b-aa3c-0db6655776c6
    method: GET
  response:
    body: '{"id":"6f15e7fa-1265-405b-aa3c-0db6655776c6","name":"test-lb","description":"","status":"pending","instances":[{"id":"78a415e8-bc2e-4af5-9b1b-144b865211ba","status":"unknown","ip_address":"10.69.4.55","created_at":"2021-05-20T14:25:47.492668Z","updated_at":"2021-05-20T14:43:43.011259Z","region":"fr-par","zone":"fr[...]
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["163.172.144.38"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6f15e7fa-1265-405b-aa3c-0db6655776c6/backends
    method: POST
  response:
    body: '{"id":"3222efcd-d86b-4108-b6b8-cd9839ef5a83","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["163.172.144.38"],"lb":{"id":"6f15e7fa-1265-405b-aa3c-0db6655776c6","name":"test-lb","description":"","status":"ready","instances":[{"id":"78a415e8-bc2e-4af5-9b1b-144b865211ba","status":"ready","ip_address":"10.69.4.55","created_at":"2021-05-20T14:25:47.492668Z","updated_at":"2021-05-20T14:43:43.617805Z","region":"fr-par","zone":"fr-par-1"},{"id":"7c27347b-9261-40bc-8006-89621933d3e5","status":"ready","ip_address":"10.73.104.7","created_at":"2021-05-20T14:06:37.521526Z","updated_at":"2021-05-20T14:43:43.873012Z","regi[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3222efcd-d86b-4108-b6b8-cd9839ef5a83
    method: GET
  response:
    body: '{"id":"3222efcd-d86b-4108-b6b8-cd9839ef5a83","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"tcp_config":{},"check_send_proxy":false,"check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3222efcd-d86b-4108-b6b8-cd9839ef5a83/healthcheck
    method: PUT
  response:
    body: '{"port":81,"check_delay":10000,"check_timeout":15000,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["163.172.144.38","51.158.75.145"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3222efcd-d86b-4108-b6b8-cd9839ef5a83/servers
    method: PUT
  response:
    body: '{"id":"3222efcd-d86b-4108-b6b8-cd9839ef5a83","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"leastconn","sticky_sessions":"cookie","sticky_sessions_cookie_name":"session-id"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6f15e7fa-1265-405b-aa3c-0db6655776c6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6f15e7fa-1265-405b-aa3c-0db6655776c6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
