---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"db3d2554-5e98-4da1-9be0-9ba3799582b4","ip_address":"51.159.113.167","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/db3d2554-5e98-4da1-9be0-9ba3799582b4
    method: GET
  response:
    body: '{"id":"db3d2554-5e98-4da1-9be0-9ba3799582b4","ip_address":"51.159.113.167","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"db3d2554-5e98-4da1-9be0-9ba3799582b4","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-26T07:41:20.035619004Z","description":"","frontend_count":0,"id":"28a056c9-53d9-49e4-9044-313d4e20a643","instances":[],"ip":[{"id":"db3d2554-5e98-4da1-9be0-9ba3799582b4","ip_address":"51.159.113.167","lb_id":"28a056c9-53d9-49e4-9044-313d4e20a643","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-26T07:41:20.035619004Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"unknown_iptype"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.15.141.118","id":"cf847a6a-7b25-4ac7-9cb1-1c3d56bb45bb","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/cf847a6a-7b25-4ac7-9cb1-1c3d56bb45bb
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28a056c9-53d9-49e4-9044-313d4e20a643
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-26T07:41:20.035619Z","description":"","frontend_count":0,"id":"28a056c9-53d9-49e4-9044-313d4e20a643","instances":[{"created_at":"2023-07-26T07:12:02.145523Z","id":"67f55e76-1cde-4ee7-ad9b-4b75bf22a8ea","ip_address":"10.69.106.35","region":"fr-par","status":"unknown","updated_at":"2023-07-26T07:41:20.245878Z","zone":"fr-par-1"}],"ip":[{"id":"db3d2554-5e98-4da1-9be0-9ba3799582b4","ip_address":"51.159.113.167","lb_id":"28a056c9-53d9-49e4-9044-313d4e20a643","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-26T07:41:20.260857Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/cf847a6a-7b25-4ac7-9cb1-1c3d56bb45bb
    method: GET
  response:
    body: '{"ip":{"address":"51.15.141.118","id":"cf847a6a-7b25-4ac7-9cb1-1c3d56bb45bb","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28a056c9-53d9-49e4-9044-313d4e20a643/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":["51.15.141.118"],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28a056c9-53d9-49e4-9044-313d4e20a643/backends
    method: POST
  response:
    body: '{"created_at":"2023-07-26T07:41:50.719640941Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"185b3dc8-8582-4528-be85-26cdac6777cf","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-26T07:41:20.035619Z","description":"","frontend_count":0,"id":"28a056c9-53d9-49e4-9044-313d4e20a643","instances":[{"created_at":"2023-07-26T07:12:02.145523Z","id":"67f55e76-1cde-4ee7-ad9b-4b75bf22a8ea","ip_address":"10.69.106.35","region":"fr-par","status":"pending","updated_at":"2023-07-26T07:41:50.744874191Z","zone":"fr-par-1"}],"ip":[{"id":"db3d2554-5e98-4da1-9be0-9ba3799582b4","ip_address":"51.159.113.167","lb_id":"28a056c9-53d9-49e4-9044-313d4e20a643","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-26T07:41:22.440512Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":["51.15.141.118"],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-26T07:41:50.719640941Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/185b3dc8-8582-4528-be85-26cdac6777cf
    method: GET
  response:
    body: '{"created_at":"2023-07-26T07:41:50.719641Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"}[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"check_send_proxy":true,"tcp_config":{},"transient_check_delay":"0.200000000s","check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/185b3dc8-8582-4528-be85-26cdac6777cf/healthcheck
    method: PUT
  response:
    body: '{"check_delay":10000,"check_max_retries":3,"check_send_proxy":true,"check_timeout":15000,"port":81,"tcp_config":{},"transient_check_delay":"0.200s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["51.15.141.118","163.172.145.242"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/185b3dc8-8582-4528-be85-26cdac6777cf/servers
    method: PUT
  response:
    body: '{"created_at":"2023-07-26T07:41:50.719641Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"leastconn","forward_protocol":"tcp","health_check":{"check_delay":10000,"check_max_retries":3,"chec[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28a056c9-53d9-49e4-9044-313d4e20a643?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28a056c9-53d9-49e4-9044-313d4e20a643
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
