---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cb75edc9-bede-402f-8a14-9845e4ecb22d","ip_address":"51.159.75.62","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-75-62.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cb75edc9-bede-402f-8a14-9845e4ecb22d
    method: GET
  response:
    body: '{"id":"cb75edc9-bede-402f-8a14-9845e4ecb22d","ip_address":"51.159.75.62","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-75-62.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"test-lb","description":"","ip_id":"cb75edc9-bede-402f-8a14-9845e4ecb22d","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"41c8db39-ba1a-4445-84f8-7eac36893cc7","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cb75edc9-bede-402f-8a14-9845e4ecb22d","ip_address":"51.159.75.62","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"41c8db39-ba1a-4445-84f8-7eac36893cc7","reverse":"51-159-75-62.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.001547004Z","updated_at":"2021-05-17T12:47:44.001547004Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/41c8db39-ba1a-4445-84f8-7eac36893cc7
    method: GET
  response:
    body: '{"id":"41c8db39-ba1a-4445-84f8-7eac36893cc7","name":"test-lb","description":"","status":"pending","instances":[{"id":"21dea5d1-b3c1-4f07-a92b-764a0500ce49","status":"unknown","ip_address":"10.64.160.125","created_at":"2021-05-17T12:46:00.472338Z","updated_at":"2021-05-17T12:47:44.158685Z","region":"fr-par","zone":[...]
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/41c8db39-ba1a-4445-84f8-7eac36893cc7/backends
    method: POST
  response:
    body: '{"id":"f160bc0f-5b8c-4578-a67b-92a23a7f9082","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"41c8db39-ba1a-4445-84f8-7eac36893cc7","name":"test-lb","description":"","status":"ready","instances":[{"id":"21dea5d1-b3c1-4f07-a92b-764a0500ce49","status":"ready","ip_address":"10.64.160.125","created_at":"2021-05-17T12:46:00.472338Z","updated_at":"2021-05-17T12:47:44.595145Z","region":"fr-par","zone":"fr-par-1"},{"id":"3ec10a2a-47b1-4a78-903e-6a86b2e7fdcf","status":"ready","ip_address":"10.70.58.93","created_at":"2021-05-17T12:34:55.661808Z","updated_at":"2021-05-17T12:47:45.261421Z","r[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f160bc0f-5b8c-4578-a67b-92a23a7f9082
    method: GET
  response:
    body: '{"id":"f160bc0f-5b8c-4578-a67b-92a23a7f9082","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"http_config":{"uri":"http://test.com/health","method":"POST","code":404},"check_send_proxy":false,"check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f160bc0f-5b8c-4578-a67b-92a23a7f9082/healthcheck
    method: PUT
  response:
    body: '{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"http_config":{"uri":"http://test.com/health","method":"POST","code":404}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f160bc0f-5b8c-4578-a67b-92a23a7f9082/servers
    method: PUT
  response:
    body: '{"id":"f160bc0f-5b8c-4578-a67b-92a23a7f9082","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60[...]
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"https_config":{"uri":"http://test.com/health","method":"POST","code":404},"check_send_proxy":false,"check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f160bc0f-5b8c-4578-a67b-92a23a7f9082/healthcheck
    method: PUT
  response:
    body: '{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"https_config":{"uri":"http://test.com/health","method":"POST","code":404}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/41c8db39-ba1a-4445-84f8-7eac36893cc7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/41c8db39-ba1a-4445-84f8-7eac36893cc7
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
