---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c6bbf247-bbb0-47e8-9483-fc9ac4dd2cea","ip_address":"51.159.74.223","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-74-223.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c6bbf247-bbb0-47e8-9483-fc9ac4dd2cea
    method: GET
  response:
    body: '{"id":"c6bbf247-bbb0-47e8-9483-fc9ac4dd2cea","ip_address":"51.159.74.223","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-74-223.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"c6bbf247-bbb0-47e8-9483-fc9ac4dd2cea","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"aa510dd1-3bb8-4096-b54f-fd70ec987ee6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"c6bbf247-bbb0-47e8-9483-fc9ac4dd2cea","ip_address":"51.159.74.223","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"aa510dd1-3bb8-4096-b54f-fd70ec987ee6","reverse":"51-159-74-223.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.277686100Z","updated_at":"2022-01-10T17:21:39.277686100Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/aa510dd1-3bb8-4096-b54f-fd70ec987ee6
    method: GET
  response:
    body: '{"id":"aa510dd1-3bb8-4096-b54f-fd70ec987ee6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"c6bbf247-bbb0-47e8-9483-fc9ac4dd2cea","ip_address":"51.159.74.223","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"aa510dd1-3bb8-4096-b54f-fd70ec987ee6","reverse":"51-159-74-223.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.277686Z","updated_at":"2022-01-10T17:21:39.277686Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/aa510dd1-3bb8-4096-b54f-fd70ec987ee6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/aa510dd1-3bb8-4096-b54f-fd70ec987ee6/backends
    method: POST
  response:
    body: '{"id":"da5c45d2-2a83-4334-bc0b-981fcb8020c0","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"aa510dd1-3bb8-4096-b54f-fd70ec987ee6","name":"test-lb","description":"","status":"ready","instances":[{"id":"d54732c0-4a80-42b0-9511-649610a6a81b","status":"pending","ip_address":"10.74.62.99","created_at":"2022-01-10T17:17:41.367570Z","updated_at":"2022-01-10T17:22:10.044501697Z","region":"fr-par","zone":"fr-par-1"},{"id":"1dea61c7-1a95-4a94-94d6-a4a6eaa671a9","status":"pending","ip_address":"10.65.60.63","created_at":"2022-01-10T17:19:00.069890Z","updated_at":"2022-01-10T17:22:10.120600[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/da5c45d2-2a83-4334-bc0b-981fcb8020c0
    method: GET
  response:
    body: '{"id":"da5c45d2-2a83-4334-bc0b-981fcb8020c0","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"http_config":{"uri":"http://test.com/health","method":"POST","code":404},"check_send_proxy":false,"check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/da5c45d2-2a83-4334-bc0b-981fcb8020c0/healthcheck
    method: PUT
  response:
    body: '{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"http_config":{"uri":"http://test.com/health","method":"POST","code":404}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/da5c45d2-2a83-4334-bc0b-981fcb8020c0/servers
    method: PUT
  response:
    body: '{"id":"da5c45d2-2a83-4334-bc0b-981fcb8020c0","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60[...]
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"https_config":{"uri":"http://test.com/health","method":"POST","code":404},"check_send_proxy":false,"check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/da5c45d2-2a83-4334-bc0b-981fcb8020c0/healthcheck
    method: PUT
  response:
    body: '{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"https_config":{"uri":"http://test.com/health","method":"POST","code":404}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/aa510dd1-3bb8-4096-b54f-fd70ec987ee6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/aa510dd1-3bb8-4096-b54f-fd70ec987ee6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
