---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b448df94-5bf7-4756-9f46-fcab0474df3e","ip_address":"51.159.8.253","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"51-159-8-253.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b448df94-5bf7-4756-9f46-fcab0474df3e
    method: GET
  response:
    body: '{"id":"b448df94-5bf7-4756-9f46-fcab0474df3e","ip_address":"51.159.8.253","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"51-159-8-253.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"b448df94-5bf7-4756-9f46-fcab0474df3e","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"d102e000-fd11-4a60-a2f2-f859a342bd3b","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b448df94-5bf7-4756-9f46-fcab0474df3e","ip_address":"51.159.8.253","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d102e000-fd11-4a60-a2f2-f859a342bd3b","reverse":"51-159-8-253.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-11-21T16:47:14.253766839Z","updated_at":"2022-11-21T16:47:14.253766839Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d102e000-fd11-4a60-a2f2-f859a342bd3b
    method: GET
  response:
    body: '{"id":"d102e000-fd11-4a60-a2f2-f859a342bd3b","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b448df94-5bf7-4756-9f46-fcab0474df3e","ip_address":"51.159.8.253","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d102e000-fd11-4a60-a2f2-f859a342bd3b","reverse":"51-159-8-253.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-11-21T16:47:14.253767Z","updated_at":"2022-11-21T16:47:14.253767Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "407edd77-507f-4151-85a0-d31fec5d4d78", "address": "51.15.201.62",
      "reverse": null, "server": null, "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/407edd77-507f-4151-85a0-d31fec5d4d78
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/407edd77-507f-4151-85a0-d31fec5d4d78
    method: GET
  response:
    body: '{"ip": {"id": "407edd77-507f-4151-85a0-d31fec5d4d78", "address": "51.15.201.62",
      "reverse": null, "server": null, "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d102e000-fd11-4a60-a2f2-f859a342bd3b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["51.15.201.62"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d102e000-fd11-4a60-a2f2-f859a342bd3b/backends
    method: POST
  response:
    body: '{"id":"66f1c10b-2f70-4e23-934f-c2074fa18660","name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["51.15.201.62"],"lb":{"id":"d102e000-fd11-4a60-a2f2-f859a342bd3b","name":"test-lb","description":"","status":"ready","instances":[{"id":"d30fa9ce-c015-4ade-89c8-aef349ad7892","status":"pending","ip_address":"10.68.56.41","created_at":"2022-11-21T16:45:41.537279Z","updated_at":"2022-11-21T16:47:44.910949788Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b448df94-5bf7-4756-9f46-fcab0474df3e","ip_address":"51.159.8.253","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d102e000-fd11-4a60-a2f2-f859a342bd3b","reverse":"51-159-8-253.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-11-21T16:47:14.253767Z","updated_at":"2022-11-21T16:47:15.709340Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-11-21T16:47:44.882417014Z","updated_at":"2022-11-21T16:47:44.882417014Z","failover_host":null,"ssl_bridging":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/66f1c10b-2f70-4e23-934f-c2074fa18660
    method: GET
  response:
    body: '{"id":"66f1c10b-2f70-4e23-934f-c2074fa18660","name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":f[...]
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - public-read
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20221121T164747Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /tf-acc-test-8953439733812569198
      X-Amz-Request-Id:
      - tx105169d249974696acf9f-00637babb3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>TestName</Key><Value>TestAccSCW_WebsiteConfig_basic</Value></Tag></TagSet></Tagging>
    form: {}
    headers:
      Content-Md5:
      - eYCKwSJBQsnx6u3/VsYcYA==
      X-Amz-Content-Sha256:
      - 655f2c088fa2a707af6c87509c047218af33d567c6612780a7cb0ba7d2470640
      X-Amz-Date:
      - 20221121T164756Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?tagging=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx396c78caa212428fb7729-00637babbc
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - public-read
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164756Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx66c5d1643d6b4bd993a7f-00637babbc
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164757Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>tx40747adbc23a4a90a7235-00637babbd</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx40747adbc23a4a90a7235-00637babbd
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164757Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-acc-test-8953439733812569198</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx3a2816a88aec4e149418a-00637babbd
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164758Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx116ee53d1b2645c1b8f83-00637babbe</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx116ee53d1b2645c1b8f83-00637babbe
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164759Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - txcb905a08b1ef4cf6b5d94-00637babbf
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164759Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist.</Message><RequestId>tx5fb5b30379604d6780d03-00637babbf</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx5fb5b30379604d6780d03-00637babbf
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: <WebsiteConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><ErrorDocument><Key>error.html</Key></ErrorDocument><IndexDocument><Suffix>index.html</Suffix></IndexDocument></WebsiteConfiguration>
    form: {}
    headers:
      Content-Md5:
      - jf4PN/V8jGBeAbKh0T0OVw==
      X-Amz-Content-Sha256:
      - 25bb7479fc4f8d34ec53069866ce65e1010fa7985d926d400dad59bd013d82b6
      X-Amz-Date:
      - 20221121T164800Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?website=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx521793014c0740618b6cf-00637babc0
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <title>My Website</title>
      </head>
      <body>
      <div id="main">
        <h1>Hi! Welcome to my website.</h1>
      </div>
      </body>
      </html>
    form: {}
    headers:
      Content-Md5:
      - 0MYwWlrDqyue0NCAxhGhbQ==
      X-Amz-Acl:
      - public-read
      X-Amz-Content-Sha256:
      - 4002bedde06755af91eafa383654925b3e2a9c575fd42cacdcd21494141690f3
      X-Amz-Date:
      - 20221121T164759Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/index.html
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - '"d0c6305a5ac3ab2b9ed0d080c611a16d"'
      Last-Modified:
      - Mon, 21 Nov 2022 16:48:00 GMT
      X-Amz-Request-Id:
      - tx36776f5071454de79e252-00637babbf
      X-Amz-Version-Id:
      - "1669049280526659"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164800Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-acc-test-8953439733812569198</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/><Contents><ETag>"d0c6305a5ac3ab2b9ed0d080c611a16d"</ETag><Key>index.html</Key><LastModified>2022-11-21T16:48:00.000Z</LastModified><Size>189</Size><StorageClass>STANDARD</StorageClass><Owner><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Owner></Contents></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txcf12939589e246c9aad1e-00637babc0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164801Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/index.html?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet/></Tagging>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txb81086099e424ff0873c7-00637babc1
      X-Amz-Version-Id:
      - "1669049280526659"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164801Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/index.html?acl=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="Group"><URI>http://acs.amazonaws.com/groups/global/AllUsers</URI></Grantee><Permission>READ</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - txdf1e539551dd49c1adf60-00637babc1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"tcp_config":{},"check_send_proxy":false,"check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/66f1c10b-2f70-4e23-934f-c2074fa18660/healthcheck
    method: PUT
  response:
    body: '{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["51.15.201.62"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/66f1c10b-2f70-4e23-934f-c2074fa18660/servers
    method: PUT
  response:
    body: '{"id":"66f1c10b-2f70-4e23-934f-c2074fa18660","name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d102e000-fd11-4a60-a2f2-f859a342bd3b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d102e000-fd11-4a60-a2f2-f859a342bd3b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T164839Z
    url: https://tf-acc-test-8953439733812569198.s3.fr-par.scw.cloud/?website=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchBucket</Code><Message>The specified bucket does not exist.</Message><RequestId>tx24c0e2dad0ca44049a47c-00637babe7</RequestId><BucketName>tf-acc-test-8953439733812569198</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx24c0e2dad0ca44049a47c-00637babe7
    status: 404 Not Found
    code: 404
    duration: ""
