---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b3854c92-7309-47cd-a7b7-11da950972c7","ip_address":"195.154.71.57","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"195-154-71-57.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b3854c92-7309-47cd-a7b7-11da950972c7
    method: GET
  response:
    body: '{"id":"b3854c92-7309-47cd-a7b7-11da950972c7","ip_address":"195.154.71.57","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"195-154-71-57.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"b3854c92-7309-47cd-a7b7-11da950972c7","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"d9ba7a83-3f7b-4778-bd4c-453bd90fbd16","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b3854c92-7309-47cd-a7b7-11da950972c7","ip_address":"195.154.71.57","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d9ba7a83-3f7b-4778-bd4c-453bd90fbd16","reverse":"195-154-71-57.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-11-21T16:58:29.342409181Z","updated_at":"2022-11-21T16:58:29.342409181Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9ba7a83-3f7b-4778-bd4c-453bd90fbd16
    method: GET
  response:
    body: '{"id":"d9ba7a83-3f7b-4778-bd4c-453bd90fbd16","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b3854c92-7309-47cd-a7b7-11da950972c7","ip_address":"195.154.71.57","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d9ba7a83-3f7b-4778-bd4c-453bd90fbd16","reverse":"195-154-71-57.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-11-21T16:58:29.342409Z","updated_at":"2022-11-21T16:58:29.342409Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "19b9d6c4-1312-41f1-b5dd-088f58273cfd", "address": "51.15.239.19",
      "reverse": null, "server": null, "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/19b9d6c4-1312-41f1-b5dd-088f58273cfd
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/19b9d6c4-1312-41f1-b5dd-088f58273cfd
    method: GET
  response:
    body: '{"ip": {"id": "19b9d6c4-1312-41f1-b5dd-088f58273cfd", "address": "51.15.239.19",
      "reverse": null, "server": null, "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5",
      "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9ba7a83-3f7b-4778-bd4c-453bd90fbd16/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["51.15.239.19"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9ba7a83-3f7b-4778-bd4c-453bd90fbd16/backends
    method: POST
  response:
    body: '{"id":"03e85e83-6256-4743-9806-26c14b2c04f0","name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["51.15.239.19"],"lb":{"id":"d9ba7a83-3f7b-4778-bd4c-453bd90fbd16","name":"test-lb","description":"","status":"ready","instances":[{"id":"e34c23ee-6ae9-4ed0-9663-348a393cd488","status":"pending","ip_address":"10.74.58.87","created_at":"2022-11-21T16:56:31.362977Z","updated_at":"2022-11-21T16:59:00.043500204Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"b3854c92-7309-47cd-a7b7-11da950972c7","ip_address":"195.154.71.57","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"d9ba7a83-3f7b-4778-bd4c-453bd90fbd16","reverse":"195-154-71-57.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-11-21T16:58:29.342409Z","updated_at":"2022-11-21T16:58:30.540151Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-11-21T16:59:00.012994079Z","updated_at":"2022-11-21T16:59:00.012994079Z","failover_host":null,"ssl_bridging":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/03e85e83-6256-4743-9806-26c14b2c04f0
    method: GET
  response:
    body: '{"id":"03e85e83-6256-4743-9806-26c14b2c04f0","name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":f[...]
[...]
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - public-read
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20221121T165902Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /tf-acc-test-7118849172407688641
      X-Amz-Request-Id:
      - tx233f64beb7814831821d5-00637bae56
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet><Tag><Key>TestName</Key><Value>TestAccSCW_WebsiteConfig_basic</Value></Tag></TagSet></Tagging>
    form: {}
    headers:
      Content-Md5:
      - eYCKwSJBQsnx6u3/VsYcYA==
      X-Amz-Content-Sha256:
      - 655f2c088fa2a707af6c87509c047218af33d567c6612780a7cb0ba7d2470640
      X-Amz-Date:
      - 20221121T165907Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?tagging=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx8709c340a2e44c30bfb61-00637bae5b
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - public-read
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165907Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - txfb07849c3ac8430d81f03-00637bae5c
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165908Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?object-lock=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>tx18433e5337754776a5153-00637bae5c</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx18433e5337754776a5153-00637bae5c
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165908Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-acc-test-7118849172407688641</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txc52b75815f8345dc8c765-00637bae5d
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165909Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?cors=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>tx48fcfada4ee34cf79e56f-00637bae5d</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx48fcfada4ee34cf79e56f-00637bae5d
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165909Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
    headers:
      Content-Type:
      - text/plain
      X-Amz-Request-Id:
      - txdf207711cdab4ab99a518-00637bae5d
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165910Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?lifecycle=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist.</Message><RequestId>tx27591a39aebe4115a0086-00637bae5e</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx27591a39aebe4115a0086-00637bae5e
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: <WebsiteConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><ErrorDocument><Key>error.html</Key></ErrorDocument><IndexDocument><Suffix>index.html</Suffix></IndexDocument></WebsiteConfiguration>
    form: {}
    headers:
      Content-Md5:
      - jf4PN/V8jGBeAbKh0T0OVw==
      X-Amz-Content-Sha256:
      - 25bb7479fc4f8d34ec53069866ce65e1010fa7985d926d400dad59bd013d82b6
      X-Amz-Date:
      - 20221121T165910Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?website=
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx10fe76321f7748c0b415b-00637bae5e
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: |
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <title>My Website</title>
      </head>
      <body>
      <div id="main">
        <h1>Hi! Welcome to my website.</h1>
      </div>
      </body>
      </html>
    form: {}
    headers:
      Content-Md5:
      - 0MYwWlrDqyue0NCAxhGhbQ==
      X-Amz-Acl:
      - public-read
      X-Amz-Content-Sha256:
      - 4002bedde06755af91eafa383654925b3e2a9c575fd42cacdcd21494141690f3
      X-Amz-Date:
      - 20221121T165910Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/index.html
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - '"d0c6305a5ac3ab2b9ed0d080c611a16d"'
      Last-Modified:
      - Mon, 21 Nov 2022 16:59:11 GMT
      X-Amz-Request-Id:
      - txe68b89b05a8d47f79fb9e-00637bae5e
      X-Amz-Version-Id:
      - "1669049951102134"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165912Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/index.html?tagging=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Tagging xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><TagSet/></Tagging>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txad6880ad11214e99a1155-00637bae60
      X-Amz-Version-Id:
      - "1669049951102134"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"check_max_retries":2,"tcp_config":{},"check_send_proxy":false,"check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/03e85e83-6256-4743-9806-26c14b2c04f0/healthcheck
    method: PUT
  response:
    body: '{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165912Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/index.html?acl=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="Group"><URI>http://acs.amazonaws.com/groups/global/AllUsers</URI></Grantee><Permission>READ</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Request-Id:
      - tx082affadd242404087e62-00637bae60
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["51.15.239.19"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/03e85e83-6256-4743-9806-26c14b2c04f0/servers
    method: PUT
  response:
    body: '{"id":"03e85e83-6256-4743-9806-26c14b2c04f0","name":"bkd01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165913Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-acc-test-7118849172407688641</Name><Prefix/><Delimiter/><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Marker/><Contents><ETag>"d0c6305a5ac3ab2b9ed0d080c611a16d"</ETag><Key>index.html</Key><LastModified>2022-11-21T16:59:11.000Z</LastModified><Size>189</Size><StorageClass>STANDARD</StorageClass><Owner><ID>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</ID><DisplayName>564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5:564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5</DisplayName></Owner></Contents></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txc28d4ac88ab74c95a7acb-00637bae61
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9ba7a83-3f7b-4778-bd4c-453bd90fbd16?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d9ba7a83-3f7b-4778-bd4c-453bd90fbd16
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20221121T165948Z
    url: https://tf-acc-test-7118849172407688641.s3.fr-par.scw.cloud/?website=
    method: GET
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>NoSuchBucket</Code><Message>The specified bucket does not exist.</Message><RequestId>txb99edfb0e3c64fd49272e-00637bae84</RequestId><BucketName>tf-acc-test-7118849172407688641</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txb99edfb0e3c64fd49272e-00637bae84
    status: 404 Not Found
    code: 404
    duration: ""
