---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b8f8f595-5d97-4a36-b438-bd23415a4c9f","ip_address":"195.154.70.223","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-223.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b8f8f595-5d97-4a36-b438-bd23415a4c9f
    method: GET
  response:
    body: '{"id":"b8f8f595-5d97-4a36-b438-bd23415a4c9f","ip_address":"195.154.70.223","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-223.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "f12f32af-e66d-400f-be7f-e3c4b240bd2d", "address": "51.15.204.222",
      "reverse": null, "server": null, "organization": "63a66ec9-a385-4194-bc15-04aa6921274a",
      "project": "63a66ec9-a385-4194-bc15-04aa6921274a", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/ips/f12f32af-e66d-400f-be7f-e3c4b240bd2d
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"b8f8f595-5d97-4a36-b438-bd23415a4c9f","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"ee48f3dd-b701-4426-8e29-b5fbae1a129d","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"b8f8f595-5d97-4a36-b438-bd23415a4c9f","ip_address":"195.154.70.223","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"ee48f3dd-b701-4426-8e29-b5fbae1a129d","reverse":"195-154-70-223.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:03:42.905794797Z","updated_at":"2021-11-04T13:03:42.905794797Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f12f32af-e66d-400f-be7f-e3c4b240bd2d
    method: GET
  response:
    body: '{"ip": {"id": "f12f32af-e66d-400f-be7f-e3c4b240bd2d", "address": "51.15.204.222",
      "reverse": null, "server": null, "organization": "63a66ec9-a385-4194-bc15-04aa6921274a",
      "project": "63a66ec9-a385-4194-bc15-04aa6921274a", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee48f3dd-b701-4426-8e29-b5fbae1a129d
    method: GET
  response:
    body: '{"id":"ee48f3dd-b701-4426-8e29-b5fbae1a129d","name":"test-lb","description":"","status":"pending","instances":[{"id":"89e4aa5b-17ed-4d2c-8a32-fcd9de4de4c3","status":"unknown","ip_address":"10.64.202.101","created_at":"2021-11-04T10:41:17.436546Z","updated_at":"2021-11-04T13:03:43.132629Z","region":"fr-par","zone":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee48f3dd-b701-4426-8e29-b5fbae1a129d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["51.15.204.222"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee48f3dd-b701-4426-8e29-b5fbae1a129d/backends
    method: POST
  response:
    body: '{"id":"c2b97d9c-bfe7-41e5-b5c7-c229c4165692","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["51.15.204.222"],"lb":{"id":"ee48f3dd-b701-4426-8e29-b5fbae1a129d","name":"test-lb","description":"","status":"ready","instances":[{"id":"89e4aa5b-17ed-4d2c-8a32-fcd9de4de4c3","status":"pending","ip_address":"10.64.202.101","created_at":"2021-11-04T10:41:17.436546Z","updated_at":"2021-11-04T13:04:13.679974345Z","region":"fr-par","zone":"fr-par-1"},{"id":"68512c7f-6089-4f50-9b7d-cdfdd9d1f908","status":"pending","ip_address":"10.69.106.131","created_at":"2021-11-04T09:36:17.425233Z","updated_at":"2021-11-04T13:04:13.74[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c2b97d9c-bfe7-41e5-b5c7-c229c4165692
    method: GET
  response:
    body: '{"id":"c2b97d9c-bfe7-41e5-b5c7-c229c4165692","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"tcp_config":{},"check_send_proxy":false,"check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c2b97d9c-bfe7-41e5-b5c7-c229c4165692/healthcheck
    method: PUT
  response:
    body: '{"port":81,"check_delay":10000,"check_timeout":15000,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["51.15.204.222","212.47.243.144"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c2b97d9c-bfe7-41e5-b5c7-c229c4165692/servers
    method: PUT
  response:
    body: '{"id":"c2b97d9c-bfe7-41e5-b5c7-c229c4165692","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"leastconn","sticky_sessions":"cookie","sticky_sessions_cookie_name":"session-id"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee48f3dd-b701-4426-8e29-b5fbae1a129d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ee48f3dd-b701-4426-8e29-b5fbae1a129d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
