---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f938af73-4066-47c8-888a-b37a50d6015f","ip_address":"51.159.25.249","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-25-249.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f938af73-4066-47c8-888a-b37a50d6015f
    method: GET
  response:
    body: '{"id":"f938af73-4066-47c8-888a-b37a50d6015f","ip_address":"51.159.25.249","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-25-249.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f938af73-4066-47c8-888a-b37a50d6015f","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"4007fba3-9dc1-49f2-af52-ff5e40452c5c","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f938af73-4066-47c8-888a-b37a50d6015f","ip_address":"51.159.25.249","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4007fba3-9dc1-49f2-af52-ff5e40452c5c","reverse":"51-159-25-249.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.611230147Z","updated_at":"2021-12-21T16:31:15.611230147Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4007fba3-9dc1-49f2-af52-ff5e40452c5c
    method: GET
  response:
    body: '{"id":"4007fba3-9dc1-49f2-af52-ff5e40452c5c","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f938af73-4066-47c8-888a-b37a50d6015f","ip_address":"51.159.25.249","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4007fba3-9dc1-49f2-af52-ff5e40452c5c","reverse":"51-159-25-249.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.611230Z","updated_at":"2021-12-21T16:31:15.611230Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "f99bbb8f-3988-4043-a049-2285714d49e1", "address": "212.47.231.169",
      "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f99bbb8f-3988-4043-a049-2285714d49e1
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/f99bbb8f-3988-4043-a049-2285714d49e1
    method: GET
  response:
    body: '{"ip": {"id": "f99bbb8f-3988-4043-a049-2285714d49e1", "address": "212.47.231.169",
      "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4007fba3-9dc1-49f2-af52-ff5e40452c5c/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["212.47.231.169"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4007fba3-9dc1-49f2-af52-ff5e40452c5c/backends
    method: POST
  response:
    body: '{"id":"52ff9fa8-aca6-40b7-a5c7-75f089468e47","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["212.47.231.169"],"lb":{"id":"4007fba3-9dc1-49f2-af52-ff5e40452c5c","name":"test-lb","description":"","status":"ready","instances":[{"id":"a6c30577-edd3-4f75-984f-87899ad918c1","status":"pending","ip_address":"10.65.124.101","created_at":"2021-12-21T16:15:24.838224Z","updated_at":"2021-12-21T16:31:46.200685262Z","region":"fr-par","zone":"fr-par-1"},{"id":"03068d2c-a84c-4f2e-9ee2-9ba7a3958557","status":"pending","ip_address":"10.72.88.7","created_at":"2021-12-21T16:03:49.305226Z","updated_at":"2021-12-21T16:31:46.26603[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/52ff9fa8-aca6-40b7-a5c7-75f089468e47
    method: GET
  response:
    body: '{"id":"52ff9fa8-aca6-40b7-a5c7-75f089468e47","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"tcp_config":{},"check_send_proxy":false,"check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/52ff9fa8-aca6-40b7-a5c7-75f089468e47/healthcheck
    method: PUT
  response:
    body: '{"port":81,"check_delay":10000,"check_timeout":15000,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["212.47.231.169","51.15.192.136"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/52ff9fa8-aca6-40b7-a5c7-75f089468e47/servers
    method: PUT
  response:
    body: '{"id":"52ff9fa8-aca6-40b7-a5c7-75f089468e47","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"leastconn","sticky_sessions":"cookie","sticky_sessions_cookie_name":"session-id"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4007fba3-9dc1-49f2-af52-ff5e40452c5c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4007fba3-9dc1-49f2-af52-ff5e40452c5c
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
