---
version: 1
interactions:
- request:
    body: '{"project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c0107f8a-7133-4a67-8570-4b408052fe7b","ip_address":"51.159.114.153","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","lb_id":null,"reverse":"51-159-114-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c0107f8a-7133-4a67-8570-4b408052fe7b
    method: GET
  response:
    body: '{"id":"c0107f8a-7133-4a67-8570-4b408052fe7b","ip_address":"51.159.114.153","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","lb_id":null,"reverse":"51-159-114-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"a57bd23d-c866-49eb-a6ac-438f85c22957"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "d5b87fb3-cdd4-4148-949b-acd7356aadf1", "address": "51.158.70.242",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api02.internal.scaleway.com/ips/d5b87fb3-cdd4-4148-949b-acd7356aadf1
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","name":"test-lb","description":"","ip_id":"c0107f8a-7133-4a67-8570-4b408052fe7b","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"cedfcb15-68f4-4a83-9365-bd82a3c5d001","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","ip":[{"id":"c0107f8a-7133-4a67-8570-4b408052fe7b","ip_address":"51.159.114.153","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","lb_id":"cedfcb15-68f4-4a83-9365-bd82a3c5d001","reverse":"51-159-114-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-20T13:05:00.298283077Z","updated_at":"2021-05-20T13:05:00.298283077Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cedfcb15-68f4-4a83-9365-bd82a3c5d001
    method: GET
  response:
    body: '{"message":"connection error: desc = \"transport: Error while dialing dial
      tcp 10.44.4.147:81: connect: no route to host\""}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d5b87fb3-cdd4-4148-949b-acd7356aadf1
    method: GET
  response:
    body: '{"ip": {"id": "d5b87fb3-cdd4-4148-949b-acd7356aadf1", "address": "51.158.70.242",
      "reverse": null, "server": null, "organization": "9af7216e-7b97-404d-8ada-9f379eb39ae5",
      "project": "a57bd23d-c866-49eb-a6ac-438f85c22957", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["51.158.70.242"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cedfcb15-68f4-4a83-9365-bd82a3c5d001/backends
    method: POST
  response:
    body: '{"id":"ac72da03-d350-4580-8d85-34d1d1473376","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["51.158.70.242"],"lb":{"id":"cedfcb15-68f4-4a83-9365-bd82a3c5d001","name":"test-lb","description":"","status":"ready","instances":[{"id":"36471fdc-c2c7-4576-ab99-af9d7008dc45","status":"ready","ip_address":"10.71.76.79","created_at":"2021-05-20T13:03:41.069227Z","updated_at":"2021-05-20T13:05:01.110871Z","region":"fr-par","zone":"fr-par-1"},{"id":"fc5f3bcd-b8b3-497e-9afb-f0b70b53fd32","status":"ready","ip_address":"10.73.138.23","created_at":"2021-05-20T13:03:37.855923Z","updated_at":"2021-05-20T13:05:01.567077Z","re[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ac72da03-d350-4580-8d85-34d1d1473376
    method: GET
  response:
    body: '{"id":"ac72da03-d350-4580-8d85-34d1d1473376","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"tcp_config":{},"check_send_proxy":false,"check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ac72da03-d350-4580-8d85-34d1d1473376/healthcheck
    method: PUT
  response:
    body: '{"port":81,"check_delay":10000,"check_timeout":15000,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["163.172.162.206"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ac72da03-d350-4580-8d85-34d1d1473376/servers
    method: PUT
  response:
    body: '{"message":"connection error: desc = \"transport: Error while dialing dial
      tcp 10.44.4.147:81: connect: no route to host\""}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cedfcb15-68f4-4a83-9365-bd82a3c5d001?release_ip=false
    method: DELETE
  response:
    body: '{"message":"connection error: desc = \"transport: Error while dialing dial
      tcp 10.44.4.147:81: connect: no route to host\""}'
    headers:
      Content-Type:
      - application/json
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
