---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cbde6487-7015-4139-b1af-60f93cc96a72","ip_address":"51.159.115.186","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-115-186.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cbde6487-7015-4139-b1af-60f93cc96a72
    method: GET
  response:
    body: '{"id":"cbde6487-7015-4139-b1af-60f93cc96a72","ip_address":"51.159.115.186","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-115-186.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "8d86e244-3680-4d49-87a1-56ac9ad28a3e", "address": "163.172.180.42",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/ips/8d86e244-3680-4d49-87a1-56ac9ad28a3e
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/8d86e244-3680-4d49-87a1-56ac9ad28a3e
    method: GET
  response:
    body: '{"ip": {"id": "8d86e244-3680-4d49-87a1-56ac9ad28a3e", "address": "163.172.180.42",
      "reverse": null, "server": null, "organization": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0",
      "project": "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"test-lb","description":"","ip_id":"cbde6487-7015-4139-b1af-60f93cc96a72","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e0b3cd28-667a-4d5b-a47d-80a9df764be5","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cbde6487-7015-4139-b1af-60f93cc96a72","ip_address":"51.159.115.186","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"e0b3cd28-667a-4d5b-a47d-80a9df764be5","reverse":"51-159-115-186.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.043436031Z","updated_at":"2021-05-17T12:47:44.043436031Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0b3cd28-667a-4d5b-a47d-80a9df764be5
    method: GET
  response:
    body: '{"id":"e0b3cd28-667a-4d5b-a47d-80a9df764be5","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cbde6487-7015-4139-b1af-60f93cc96a72","ip_address":"51.159.115.186","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"e0b3cd28-667a-4d5b-a47d-80a9df764be5","reverse":"51-159-115-186.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.043436Z","updated_at":"2021-05-17T12:47:44.043436Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["51.158.101.148"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0b3cd28-667a-4d5b-a47d-80a9df764be5/backends
    method: POST
  response:
    body: '{"id":"6372d3f7-0489-48ea-9375-3e3dbab56fc8","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["51.158.101.148"],"lb":{"id":"e0b3cd28-667a-4d5b-a47d-80a9df764be5","name":"test-lb","description":"","status":"ready","instances":[{"id":"f290396d-e6c5-4ef9-9feb-10b998d82333","status":"ready","ip_address":"10.68.44.59","created_at":"2021-05-17T12:43:52.796687Z","updated_at":"2021-05-17T12:47:45.065562Z","region":"fr-par","zone":"fr-par-1"},{"id":"8db5a4d8-9e3d-4e30-b9ee-66c03db4aa6b","status":"ready","ip_address":"10.68.200.73","created_at":"2021-05-17T12:45:57.312461Z","updated_at":"2021-05-17T12:47:45.621703Z","re[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6372d3f7-0489-48ea-9375-3e3dbab56fc8
    method: GET
  response:
    body: '{"id":"6372d3f7-0489-48ea-9375-3e3dbab56fc8","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"tcp_config":{},"check_send_proxy":false,"check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6372d3f7-0489-48ea-9375-3e3dbab56fc8/healthcheck
    method: PUT
  response:
    body: '{"port":81,"check_delay":10000,"check_timeout":15000,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["163.172.180.42"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6372d3f7-0489-48ea-9375-3e3dbab56fc8/servers
    method: PUT
  response:
    body: '{"id":"6372d3f7-0489-48ea-9375-3e3dbab56fc8","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"leastconn","sticky_sessions":"cookie","sticky_sessions_cookie_name":"session-id","health_check":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0b3cd28-667a-4d5b-a47d-80a9df764be5?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0b3cd28-667a-4d5b-a47d-80a9df764be5
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
