---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a9f79299-1337-4af2-bedc-a61c159371a9","ip_address":"51.159.9.214","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-214.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a9f79299-1337-4af2-bedc-a61c159371a9
    method: GET
  response:
    body: '{"id":"a9f79299-1337-4af2-bedc-a61c159371a9","ip_address":"51.159.9.214","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-214.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"a9f79299-1337-4af2-bedc-a61c159371a9","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"a856836e-83e2-4317-89d9-032536ce84fb","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a9f79299-1337-4af2-bedc-a61c159371a9","ip_address":"51.159.9.214","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"a856836e-83e2-4317-89d9-032536ce84fb","reverse":"51-159-9-214.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.225486073Z","updated_at":"2021-12-30T10:19:11.225486073Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "1ed71d85-1ef0-48e1-bf93-d326db77940b", "address": "51.158.78.198",
      "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1ed71d85-1ef0-48e1-bf93-d326db77940b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a856836e-83e2-4317-89d9-032536ce84fb
    method: GET
  response:
    body: '{"id":"a856836e-83e2-4317-89d9-032536ce84fb","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a9f79299-1337-4af2-bedc-a61c159371a9","ip_address":"51.159.9.214","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"a856836e-83e2-4317-89d9-032536ce84fb","reverse":"51-159-9-214.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.225486Z","updated_at":"2021-12-30T10:19:11.225486Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1ed71d85-1ef0-48e1-bf93-d326db77940b
    method: GET
  response:
    body: '{"ip": {"id": "1ed71d85-1ef0-48e1-bf93-d326db77940b", "address": "51.158.78.198",
      "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a856836e-83e2-4317-89d9-032536ce84fb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["51.158.78.198"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a856836e-83e2-4317-89d9-032536ce84fb/backends
    method: POST
  response:
    body: '{"id":"dfc64da8-412f-4a3b-b8f1-56f1311f9086","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["51.158.78.198"],"lb":{"id":"a856836e-83e2-4317-89d9-032536ce84fb","name":"test-lb","description":"","status":"ready","instances":[{"id":"982c82f7-6608-4b82-9cf0-55a6ab51fb2d","status":"pending","ip_address":"10.69.92.39","created_at":"2021-12-30T10:00:28.069198Z","updated_at":"2021-12-30T10:19:41.846696776Z","region":"fr-par","zone":"fr-par-1"},{"id":"c12724c6-a8ce-4a2d-8d47-67fa10924a6e","status":"pending","ip_address":"10.68.34.63","created_at":"2021-12-30T09:57:24.466474Z","updated_at":"2021-12-30T10:19:41.925178[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/dfc64da8-412f-4a3b-b8f1-56f1311f9086
    method: GET
  response:
    body: '{"id":"dfc64da8-412f-4a3b-b8f1-56f1311f9086","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"tcp_config":{},"check_send_proxy":false,"check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/dfc64da8-412f-4a3b-b8f1-56f1311f9086/healthcheck
    method: PUT
  response:
    body: '{"port":81,"check_delay":10000,"check_timeout":15000,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["51.158.78.198","51.15.205.105"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/dfc64da8-412f-4a3b-b8f1-56f1311f9086/servers
    method: PUT
  response:
    body: '{"id":"dfc64da8-412f-4a3b-b8f1-56f1311f9086","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"leastconn","sticky_sessions":"cookie","sticky_sessions_cookie_name":"session-id",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a856836e-83e2-4317-89d9-032536ce84fb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a856836e-83e2-4317-89d9-032536ce84fb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
