---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"23d5bf60-7dc0-4f1a-9009-68aa5bcdcb66","ip_address":"51.159.27.167","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/23d5bf60-7dc0-4f1a-9009-68aa5bcdcb66
    method: GET
  response:
    body: '{"id":"23d5bf60-7dc0-4f1a-9009-68aa5bcdcb66","ip_address":"51.159.27.167","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"23d5bf60-7dc0-4f1a-9009-68aa5bcdcb66","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T19:46:34.282376251Z","description":"","frontend_count":0,"id":"85c3851a-9159-425e-8183-48e0634abf27","instances":[],"ip":[{"id":"23d5bf60-7dc0-4f1a-9009-68aa5bcdcb66","ip_address":"51.159.27.167","lb_id":"85c3851a-9159-425e-8183-48e0634abf27","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T19:46:34.282376251Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","type":"unknown_iptype"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"163.172.171.183","id":"48ffe756-9aac-4b45-93c8-ea56d9fe8304","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/48ffe756-9aac-4b45-93c8-ea56d9fe8304
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/85c3851a-9159-425e-8183-48e0634abf27
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T19:46:34.282376Z","description":"","frontend_count":0,"id":"85c3851a-9159-425e-8183-48e0634abf27","instances":[],"ip":[{"id":"23d5bf60-7dc0-4f1a-9009-68aa5bcdcb66","ip_address":"51.159.27.167","lb_id":"85c3851a-9159-425e-8183-48e0634abf27","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T19:46:34.282376Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/48ffe756-9aac-4b45-93c8-ea56d9fe8304
    method: GET
  response:
    body: '{"ip":{"address":"163.172.171.183","id":"48ffe756-9aac-4b45-93c8-ea56d9fe8304","organization":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","prefix":null,"project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/85c3851a-9159-425e-8183-48e0634abf27/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":["163.172.171.183"],"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/85c3851a-9159-425e-8183-48e0634abf27/backends
    method: POST
  response:
    body: '{"created_at":"2023-07-03T19:47:04.934398944Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"ecdc04ef-720b-471b-9f1f-5ee01e94d50d","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T19:46:34.282376Z","description":"","frontend_count":0,"id":"85c3851a-9159-425e-8183-48e0634abf27","instances":[{"created_at":"2023-07-03T19:44:25.767021Z","id":"dd53c7f1-2bf4-482b-84ed-b73c46afe6c0","ip_address":"10.64.120.35","region":"fr-par","status":"pending","updated_at":"2023-07-03T19:47:04.961839521Z","zone":"fr-par-1"}],"ip":[{"id":"23d5bf60-7dc0-4f1a-9009-68aa5bcdcb66","ip_address":"51.159.27.167","lb_id":"85c3851a-9159-425e-8183-48e0634abf27","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-167.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T19:46:36.887199Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":["163.172.171.183"],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-03T19:47:04.934398944Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ecdc04ef-720b-471b-9f1f-5ee01e94d50d
    method: GET
  response:
    body: '{"created_at":"2023-07-03T19:47:04.934399Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"}[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{},"transient_check_delay":"0.200000000s","check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ecdc04ef-720b-471b-9f1f-5ee01e94d50d/healthcheck
    method: PUT
  response:
    body: '{"check_delay":10000,"check_max_retries":3,"check_send_proxy":false,"check_timeout":15000,"port":81,"tcp_config":{},"transient_check_delay":"0.200s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["163.172.171.183","163.172.169.96"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ecdc04ef-720b-471b-9f1f-5ee01e94d50d/servers
    method: PUT
  response:
    body: '{"created_at":"2023-07-03T19:47:04.934399Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"leastconn","forward_protocol":"tcp","health_check":{"check_delay":10000,"check_max_retries":3,"che[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/85c3851a-9159-425e-8183-48e0634abf27?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/85c3851a-9159-425e-8183-48e0634abf27
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
