---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"31439c64-8494-428a-afc8-06ec3872f496","ip_address":"51.159.75.100","lb_id":null,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","reverse":"51-159-75-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/31439c64-8494-428a-afc8-06ec3872f496
    method: GET
  response:
    body: '{"id":"31439c64-8494-428a-afc8-06ec3872f496","ip_address":"51.159.75.100","lb_id":null,"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","reverse":"51-159-75-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"31439c64-8494-428a-afc8-06ec3872f496","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-14T15:10:34.552729094Z","description":"","frontend_count":0,"id":"1365cee0-9b26-4aa3-b36d-ac0fc1bcadab","instances":[],"ip":[{"id":"31439c64-8494-428a-afc8-06ec3872f496","ip_address":"51.159.75.100","lb_id":"1365cee0-9b26-4aa3-b36d-ac0fc1bcadab","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","reverse":"51-159-75-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-14T15:10:34.552729094Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1365cee0-9b26-4aa3-b36d-ac0fc1bcadab
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-14T15:10:34.552729Z","description":"","frontend_count":0,"id":"1365cee0-9b26-4aa3-b36d-ac0fc1bcadab","instances":[{"created_at":"2023-06-14T15:08:51.338623Z","id":"75a59390-b4b9-4cb8-8c82-31bea98f0e88","ip_address":"10.69.114.39","region":"fr-par","status":"unknown","updated_at":"2023-06-14T15:10:34.756617Z","zone":"fr-par-1"}],"ip":[{"id":"31439c64-8494-428a-afc8-06ec3872f496","ip_address":"51.159.75.100","lb_id":"1365cee0-9b26-4aa3-b36d-ac0fc1bcadab","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","reverse":"51-159-75-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-14T15:10:34.770046Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1365cee0-9b26-4aa3-b36d-ac0fc1bcadab/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1365cee0-9b26-4aa3-b36d-ac0fc1bcadab/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-14T15:11:05.354004790Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"151c4a37-4368-4b61-b8e7-9c29880deedd","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-14T15:10:34.552729Z","description":"","frontend_count":0,"id":"1365cee0-9b26-4aa3-b36d-ac0fc1bcadab","instances":[{"created_at":"2023-06-14T15:08:51.338623Z","id":"75a59390-b4b9-4cb8-8c82-31bea98f0e88","ip_address":"10.69.114.39","region":"fr-par","status":"pending","updated_at":"2023-06-14T15:11:05.388541573Z","zone":"fr-par-1"}],"ip":[{"id":"31439c64-8494-428a-afc8-06ec3872f496","ip_address":"51.159.75.100","lb_id":"1365cee0-9b26-4aa3-b36d-ac0fc1bcadab","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","reverse":"51-159-75-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","private_network_count":0,"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-14T15:10:36.526703Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"bkd01","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-14T15:11:05.354004790Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/151c4a37-4368-4b61-b8e7-9c29880deedd
    method: GET
  response:
    body: '{"created_at":"2023-06-14T15:11:05.354005Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"check_send_proxy":false,"http_config":{"uri":"http://test.com/health","method":"POST","code":404,"host_header":"test.com"},"transient_check_delay":"10.000000000s","check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/151c4a37-4368-4b61-b8e7-9c29880deedd/healthcheck
    method: PUT
  response:
    body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"http_config":{"code":404,"host_header":"test.com","method":"POST","uri":"http://test.com/health"},"port":80,"transient_check_delay":"10s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/151c4a37-4368-4b61-b8e7-9c29880deedd/servers
    method: PUT
  response:
    body: '{"created_at":"2023-06-14T15:11:05.354005Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_tim[...]
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"check_send_proxy":false,"https_config":{"uri":"http://test.com/health","method":"POST","code":404,"host_header":"test.com","sni":"sni.test.com"},"transient_check_delay":"10.000000000s","check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/151c4a37-4368-4b61-b8e7-9c29880deedd/healthcheck
    method: PUT
  response:
    body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"https_config":{"code":404,"host_header":"test.com","method":"POST","sni":"sni.test.com","uri":"http://test.com/health"},"port":80,"transient_check_delay":"10s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"port":80,"check_max_retries":2,"check_send_proxy":false,"mysql_config":{"user":"devtools"},"transient_check_delay":"10.000000000s","check_delay":60000,"check_timeout":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/151c4a37-4368-4b61-b8e7-9c29880deedd/healthcheck
    method: PUT
  response:
    body: '{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"mysql_config":{"user":"devtools"},"port":80,"transient_check_delay":"10s"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1365cee0-9b26-4aa3-b36d-ac0fc1bcadab?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1365cee0-9b26-4aa3-b36d-ac0fc1bcadab
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
