---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cd374845-f00f-4a87-b4f7-c08f2425742b","ip_address":"51.159.75.129","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-75-129.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cd374845-f00f-4a87-b4f7-c08f2425742b
    method: GET
  response:
    body: '{"id":"cd374845-f00f-4a87-b4f7-c08f2425742b","ip_address":"51.159.75.129","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-75-129.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"cd374845-f00f-4a87-b4f7-c08f2425742b","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"28b8483a-c818-4e1e-b012-419e27ec4118","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cd374845-f00f-4a87-b4f7-c08f2425742b","ip_address":"51.159.75.129","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"28b8483a-c818-4e1e-b012-419e27ec4118","reverse":"51-159-75-129.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.321699424Z","updated_at":"2022-01-10T17:21:39.321699424Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "e6fa219b-f1e1-4fd8-ba86-ad3da18ecf19", "address": "212.47.240.67",
      "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e6fa219b-f1e1-4fd8-ba86-ad3da18ecf19
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28b8483a-c818-4e1e-b012-419e27ec4118
    method: GET
  response:
    body: '{"id":"28b8483a-c818-4e1e-b012-419e27ec4118","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cd374845-f00f-4a87-b4f7-c08f2425742b","ip_address":"51.159.75.129","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"28b8483a-c818-4e1e-b012-419e27ec4118","reverse":"51-159-75-129.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.321699Z","updated_at":"2022-01-10T17:21:39.321699Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/e6fa219b-f1e1-4fd8-ba86-ad3da18ecf19
    method: GET
  response:
    body: '{"ip": {"id": "e6fa219b-f1e1-4fd8-ba86-ad3da18ecf19", "address": "212.47.240.67",
      "reverse": null, "server": null, "organization": "105bdce1-64c0-48ab-899d-868455867ecf",
      "project": "105bdce1-64c0-48ab-899d-868455867ecf", "zone": "fr-par-1", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28b8483a-c818-4e1e-b012-419e27ec4118/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":["212.47.240.67"],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28b8483a-c818-4e1e-b012-419e27ec4118/backends
    method: POST
  response:
    body: '{"id":"3bcf42dd-5254-4ca6-9f30-f423647da28b","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":["212.47.240.67"],"lb":{"id":"28b8483a-c818-4e1e-b012-419e27ec4118","name":"test-lb","description":"","status":"ready","instances":[{"id":"830b6954-3161-4ddf-a2b6-9d476388ec4e","status":"pending","ip_address":"10.70.46.129","created_at":"2022-01-10T17:00:00.257169Z","updated_at":"2022-01-10T17:22:10.072704794Z","region":"fr-par","zone":"fr-par-1"},{"id":"eb923e52-f881-49d9-a21c-c4dc28238e1a","status":"pending","ip_address":"10.74.86.75","created_at":"2022-01-10T17:17:37.488692Z","updated_at":"2022-01-10T17:22:10.14141[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3bcf42dd-5254-4ca6-9f30-f423647da28b
    method: GET
  response:
    body: '{"id":"3bcf42dd-5254-4ca6-9f30-f423647da28b","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":fa[...]
[...]
- request:
    body: '{"port":81,"check_max_retries":3,"tcp_config":{},"check_send_proxy":false,"check_delay":10000,"check_timeout":15000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3bcf42dd-5254-4ca6-9f30-f423647da28b/healthcheck
    method: PUT
  response:
    body: '{"port":81,"check_delay":10000,"check_timeout":15000,"check_max_retries":3,"check_send_proxy":false,"tcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_ip":["212.47.240.67","212.47.247.29"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3bcf42dd-5254-4ca6-9f30-f423647da28b/servers
    method: PUT
  response:
    body: '{"id":"3bcf42dd-5254-4ca6-9f30-f423647da28b","name":"bkd01","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"leastconn","sticky_sessions":"cookie","sticky_sessions_cookie_name":"session-id",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28b8483a-c818-4e1e-b012-419e27ec4118?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/28b8483a-c818-4e1e-b012-419e27ec4118
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
