---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f968b55c-df52-429d-a563-e158350cb5ec
    method: GET
  response:
    body: '{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f968b55c-df52-429d-a563-e158350cb5ec","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"eba48c34-e3e9-4e94-8f79-f0257f6f7d20","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"eba48c34-e3e9-4e94-8f79-f0257f6f7d20","reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.613259874Z","updated_at":"2021-12-21T16:31:15.613259874Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eba48c34-e3e9-4e94-8f79-f0257f6f7d20
    method: GET
  response:
    body: '{"id":"eba48c34-e3e9-4e94-8f79-f0257f6f7d20","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"eba48c34-e3e9-4e94-8f79-f0257f6f7d20","reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.613260Z","updated_at":"2021-12-21T16:31:15.613260Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eba48c34-e3e9-4e94-8f79-f0257f6f7d20/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert","letsencrypt":{"common_name":"195-154-71-80.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eba48c34-e3e9-4e94-8f79-f0257f6f7d20/certificates
    method: POST
  response:
    body: '{"id":"13e63ef1-5afb-4c3c-aace-a64dd8ef2419","type":"letsencryt","status":"pending","common_name":"195-154-71-80.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"eba48c34-e3e9-4e94-8f79-f0257f6f7d20","name":"test-lb","description":"","status":"ready","instances":[{"id":"b27cba56-e06e-4dab-b8b6-00af89dfbc7e","status":"ready","ip_address":"10.72.52.71","created_at":"2021-12-21T16:09:38.125387Z","updated_at":"2021-12-21T16:31:16.766305Z","region":"fr-par","zone":"fr-par-1"},{"id":"e976cb53-26f6-40e7-add8-61d00c7588a8","status":"ready","ip_address":"10.64.254.119","created_at":"2021-12-21T15:25:28.971146Z","updated_at":"2021-12-21T16:31:17.277191Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"eba48c34-e3e9-4e94-8f79-f0257f6f7d20","reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.613260Z","updated_at":"2021-12-21T16:31:46.282950171Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2021-12-21T16:31:46.261401713Z","updated_at":"2021-12-21T16:31:46.261401713Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/13e63ef1-5afb-4c3c-aace-a64dd8ef2419
    method: GET
  response:
    body: '{"id":"13e63ef1-5afb-4c3c-aace-a64dd8ef2419","type":"letsencryt","status":"pending","common_name":"195-154-71-80.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"eba48c34-e3e9-4e94-8f79-f0257f[...]
[...]
- request:
    body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN
      CERTIFICATE-----\nMIIEeDCCA2CgAwIBAgISA+78x4/3radnfUGMWDp4jLA+MA0GCSqGSIb3DQEBCwUA\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEyMjAxMzU1MDlaFw0yMjAzMjAxMzU1MDhaMCkxJzAlBgNVBAMT\nHnN0YWdpbmcuc2NhbGV3YXktdGVycmFmb3JtLmNvbTBZMBMGByqGSM49AgEGCCqG\nSM49AwEHA0IABPqtv8kzJW2QI3LG93ScS13SSm5SIJI2uAoIhny4Lj06g05ff7mM\ngmd+XgID6OmWOB+Paso3Udq6hccEUN/URlKjggJaMIICVjAOBgNVHQ8BAf8EBAMC\nB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAw\nHQ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eba48c34-e3e9-4e94-8f79-f0257f6f7d20?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/eba48c34-e3e9-4e94-8f79-f0257f6f7d20
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
