---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8232ffa9-9180-4d1f-9aed-fb95167b6063
    method: GET
  response:
    body: '{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"93e9ac5d-84a7-4d7c-96be-05d920bd87c7","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"93e9ac5d-84a7-4d7c-96be-05d920bd87c7","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:21:34.794213869Z","updated_at":"2022-05-16T13:21:34.794213869Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/93e9ac5d-84a7-4d7c-96be-05d920bd87c7
    method: GET
  response:
    body: '{"id":"93e9ac5d-84a7-4d7c-96be-05d920bd87c7","name":"test-lb","description":"","status":"creating","instances":[{"id":"a65be37e-22f1-4cd0-a4b7-23df24df8ed2","status":"unknown","ip_address":"10.64.204.19","created_at":"2022-05-16T11:18:25.551979Z","updated_at":"2022-05-16T13:21:34.962799Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"93e9ac5d-84a7-4d7c-96be-05d920bd87c7","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:21:34.794214Z","updated_at":"2022-05-16T13:21:34.978282Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/93e9ac5d-84a7-4d7c-96be-05d920bd87c7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert","letsencrypt":{"common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/93e9ac5d-84a7-4d7c-96be-05d920bd87c7/certificates
    method: POST
  response:
    body: '{"id":"38cff874-5073-4cd9-92e1-9e4c9ebc3921","type":"letsencryt","status":"pending","common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"93e9ac5d-84a7-4d7c-96be-05d920bd87c7","name":"test-lb","description":"","status":"ready","instances":[{"id":"a65be37e-22f1-4cd0-a4b7-23df24df8ed2","status":"ready","ip_address":"10.64.204.19","created_at":"2022-05-16T11:18:25.551979Z","updated_at":"2022-05-16T13:21:35.220102Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"93e9ac5d-84a7-4d7c-96be-05d920bd87c7","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:21:34.794214Z","updated_at":"2022-05-16T13:22:05.581941466Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2022-05-16T13:22:05.558085566Z","updated_at":"2022-05-16T13:22:05.558085566Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/38cff874-5073-4cd9-92e1-9e4c9ebc3921
    method: GET
  response:
    body: '{"id":"38cff874-5073-4cd9-92e1-9e4c9ebc3921","type":"letsencryt","status":"pending","common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"93e9ac5d-84a7-4d7c-96be-05d920[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/38cff874-5073-4cd9-92e1-9e4c9ebc3921
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN
      CERTIFICATE-----\nMIIEeDCCA2CgAwIBAgISA+78x4/3radnfUGMWDp4jLA+MA0GCSqGSIb3DQEBCwUA\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEyMjAxMzU1MDlaFw0yMjAzMjAxMzU1MDhaMCkxJzAlBgNVBAMT\nHnN0YWdpbmcuc2NhbGV3YXktdGVycmFmb3JtLmNvbTBZMBMGByqGSM49AgEGCCqG\nSM49AwEHA0IABPqtv8kzJW2QI3LG93ScS13SSm5SIJI2uAoIhny4Lj06g05ff7mM\ngmd+XgID6OmWOB+Paso3Udq6hccEUN/URlKjggJaMIICVjAOBgNVHQ8BAf8EBAMC\nB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAw\nHQ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/93e9ac5d-84a7-4d7c-96be-05d920bd87c7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
