---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/7f46cba0-1f89-40cc-b66f-51e31de6a0d8
    method: GET
  response:
    body: '{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"d4af682f-c3f6-4824-aea2-2d559d89c5e4","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"d4af682f-c3f6-4824-aea2-2d559d89c5e4","reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:29:49.673742161Z","updated_at":"2022-04-12T14:29:49.673742161Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4af682f-c3f6-4824-aea2-2d559d89c5e4
    method: GET
  response:
    body: '{"id":"d4af682f-c3f6-4824-aea2-2d559d89c5e4","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"d4af682f-c3f6-4824-aea2-2d559d89c5e4","reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:29:49.673742Z","updated_at":"2022-04-12T14:29:49.673742Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4af682f-c3f6-4824-aea2-2d559d89c5e4/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-112-108.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4af682f-c3f6-4824-aea2-2d559d89c5e4/certificates
    method: POST
  response:
    body: '{"id":"b2d1a1bb-7130-429c-950f-509e67ba1402","type":"letsencryt","status":"pending","common_name":"51-159-112-108.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"d4af682f-c3f6-4824-aea2-2d559d89c5e4","name":"test-lb","description":"","status":"ready","instances":[{"id":"22121b9b-1675-4537-b87b-8a99a3084fe0","status":"ready","ip_address":"10.68.46.99","created_at":"2022-04-12T14:27:38.747754Z","updated_at":"2022-04-12T14:29:50.012243Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"d4af682f-c3f6-4824-aea2-2d559d89c5e4","reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:29:49.673742Z","updated_at":"2022-04-12T14:30:20.436799046Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2022-04-12T14:30:20.420559690Z","updated_at":"2022-04-12T14:30:20.420559690Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/b2d1a1bb-7130-429c-950f-509e67ba1402
    method: GET
  response:
    body: '{"id":"b2d1a1bb-7130-429c-950f-509e67ba1402","type":"letsencryt","status":"pending","common_name":"51-159-112-108.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"d4af682f-c3f6-4824-aea2-2d559[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/b2d1a1bb-7130-429c-950f-509e67ba1402
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN
      CERTIFICATE-----\nMIIEeDCCA2CgAwIBAgISA+78x4/3radnfUGMWDp4jLA+MA0GCSqGSIb3DQEBCwUA\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEyMjAxMzU1MDlaFw0yMjAzMjAxMzU1MDhaMCkxJzAlBgNVBAMT\nHnN0YWdpbmcuc2NhbGV3YXktdGVycmFmb3JtLmNvbTBZMBMGByqGSM49AgEGCCqG\nSM49AwEHA0IABPqtv8kzJW2QI3LG93ScS13SSm5SIJI2uAoIhny4Lj06g05ff7mM\ngmd+XgID6OmWOB+Paso3Udq6hccEUN/URlKjggJaMIICVjAOBgNVHQ8BAf8EBAMC\nB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAw\nHQ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d4af682f-c3f6-4824-aea2-2d559d89c5e4?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
