---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cbec8086-4ec8-460b-8c92-29ad6405d2f5","ip_address":"51.159.113.213","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-113-213.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cbec8086-4ec8-460b-8c92-29ad6405d2f5
    method: GET
  response:
    body: '{"id":"cbec8086-4ec8-460b-8c92-29ad6405d2f5","ip_address":"51.159.113.213","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-113-213.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"test-lb","description":"","ip_id":"cbec8086-4ec8-460b-8c92-29ad6405d2f5","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"2a319704-79ab-4ba9-8058-37cb06d2c540","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cbec8086-4ec8-460b-8c92-29ad6405d2f5","ip_address":"51.159.113.213","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"2a319704-79ab-4ba9-8058-37cb06d2c540","reverse":"51-159-113-213.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.026140146Z","updated_at":"2021-05-17T12:47:44.026140146Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a319704-79ab-4ba9-8058-37cb06d2c540
    method: GET
  response:
    body: '{"id":"2a319704-79ab-4ba9-8058-37cb06d2c540","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cbec8086-4ec8-460b-8c92-29ad6405d2f5","ip_address":"51.159.113.213","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"2a319704-79ab-4ba9-8058-37cb06d2c540","reverse":"51-159-113-213.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.026140Z","updated_at":"2021-05-17T12:47:44.026140Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-113-213.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a319704-79ab-4ba9-8058-37cb06d2c540/certificates
    method: POST
  response:
    body: '{"id":"631b15e0-0286-4060-b6a9-35e2cfd86c60","type":"letsencryt","status":"pending","common_name":"51-159-113-213.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"2a319704-79ab-4ba9-8058-37cb06d2c540","name":"test-lb","description":"","status":"ready","instances":[{"id":"0724ef8c-b934-4216-bf01-ea76834e02c7","status":"ready","ip_address":"10.73.110.45","created_at":"2021-05-17T12:37:00.637202Z","updated_at":"2021-05-17T12:47:45.093842Z","region":"fr-par","zone":"fr-par-1"},{"id":"ba8fd06f-5eed-4142-8594-e05bd8ee4cc9","status":"ready","ip_address":"10.70.8.139","created_at":"2021-05-17T12:44:07.327394Z","updated_at":"2021-05-17T12:47:45.666451Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cbec8086-4ec8-460b-8c92-29ad6405d2f5","ip_address":"51.159.113.213","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"2a319704-79ab-4ba9-8058-37cb06d2c540","reverse":"51-159-113-213.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.026140Z","updated_at":"2021-05-17T12:47:49.085889091Z","region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2021-05-17T12:47:49.071218738Z","updated_at":"2021-05-17T12:47:49.071218738Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/631b15e0-0286-4060-b6a9-35e2cfd86c60
    method: GET
  response:
    body: '{"id":"631b15e0-0286-4060-b6a9-35e2cfd86c60","type":"letsencryt","status":"pending","common_name":"51-159-113-213.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"2a319704-79ab-4ba9-8058-37cb06d2c540","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cbec8086-4ec8-460b-8c92-29ad6405d2f5","ip_address":"51.159.113.213","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"2a319704-79ab-4ba9-8058-37cb06d2c540","reverse":"51-159-113-213.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.026140Z","updated_at":"2021-05-17T12:47:49.085889Z","region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2021-05-17T12:47:49.071219Z","updated_at":"2021-05-17T12:47:49.071219Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN
      CERTIFICATE-----\nMIIDXzCCAkegAwIBAgIUCQTOZjf11LGYmvGVw7xxWurGFgMwDQYJKoZIhvcNAQEL\nBQAwSDELMAkGA1UEBhMCRlIxDjAMBgNVBAcMBVBhcmlzMREwDwYDVQQKDAhTY2Fs\nZXdhdTEWMBQGA1UEAwwNKi5leGFtcGxlLmNvbTAeFw0yMDA0MjgxNzQ2MzFaFw0y\nMjA0MjgxNzQ2MzFaMEgxCzAJBgNVBAYTAkZSMQ4wDAYDVQQHDAVQYXJpczERMA8G\nA1UECgwIU2NhbGV3YXUxFjAUBgNVBAMMDSouZXhhbXBsZS5jb20wggEiMA0GCSqG\nSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCws8az+MXTtmNKN66Bl2HmlkAxazMcK9eG\nrmU5jOs3nNZevjn4FhQClVt2mOX7G37b32wpLyt5MUYGg+Ac95fL5zx9nwp57YBx\nNt[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a319704-79ab-4ba9-8058-37cb06d2c540?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2a319704-79ab-4ba9-8058-37cb06d2c540
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
