---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f8e21596-6b91-4814-a362-98b0edad202c","ip_address":"51.159.27.102","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-27-102.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f8e21596-6b91-4814-a362-98b0edad202c
    method: GET
  response:
    body: '{"id":"f8e21596-6b91-4814-a362-98b0edad202c","ip_address":"51.159.27.102","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-27-102.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f8e21596-6b91-4814-a362-98b0edad202c","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"ea9fd744-a17b-4fc7-8b21-c890188e36e4","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8e21596-6b91-4814-a362-98b0edad202c","ip_address":"51.159.27.102","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"ea9fd744-a17b-4fc7-8b21-c890188e36e4","reverse":"51-159-27-102.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-20T14:59:37.108243726Z","updated_at":"2021-12-20T14:59:37.108243726Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ea9fd744-a17b-4fc7-8b21-c890188e36e4
    method: GET
  response:
    body: '{"id":"ea9fd744-a17b-4fc7-8b21-c890188e36e4","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8e21596-6b91-4814-a362-98b0edad202c","ip_address":"51.159.27.102","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"ea9fd744-a17b-4fc7-8b21-c890188e36e4","reverse":"51-159-27-102.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-20T14:59:37.108244Z","updated_at":"2021-12-20T14:59:37.108244Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ea9fd744-a17b-4fc7-8b21-c890188e36e4/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-27-102.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ea9fd744-a17b-4fc7-8b21-c890188e36e4/certificates
    method: POST
  response:
    body: '{"id":"88ae0ea7-1d39-482f-adc9-555f325e4975","type":"letsencryt","status":"pending","common_name":"51-159-27-102.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"ea9fd744-a17b-4fc7-8b21-c890188e36e4","name":"test-lb","description":"","status":"ready","instances":[{"id":"0ce8b777-9705-443c-a254-92e172d77b98","status":"ready","ip_address":"10.71.32.1","created_at":"2021-12-20T14:56:36.534067Z","updated_at":"2021-12-20T14:59:37.561350Z","region":"fr-par","zone":"fr-par-1"},{"id":"e073170f-c84f-4ec0-8a93-46ec8eff9dcd","status":"ready","ip_address":"10.68.226.41","created_at":"2021-12-20T14:51:49.104372Z","updated_at":"2021-12-20T14:59:37.941835Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8e21596-6b91-4814-a362-98b0edad202c","ip_address":"51.159.27.102","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"ea9fd744-a17b-4fc7-8b21-c890188e36e4","reverse":"51-159-27-102.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-20T14:59:37.108244Z","updated_at":"2021-12-20T15:00:07.862061055Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2021-12-20T15:00:07.845100021Z","updated_at":"2021-12-20T15:00:07.845100021Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/88ae0ea7-1d39-482f-adc9-555f325e4975
    method: GET
  response:
    body: '{"id":"88ae0ea7-1d39-482f-adc9-555f325e4975","type":"letsencryt","status":"pending","common_name":"51-159-27-102.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"ea9fd744-a17b-4fc7-8b21-c89018[...]
[...]
- request:
    body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN
      CERTIFICATE-----\nMIIEZjCCA06gAwIBAgISA6FzAnDi2gc6MeKPtvkLKnAJMA0GCSqGSIb3DQEBCwUA\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEyMTYxNjQzMjlaFw0yMjAzMTYxNjQzMjhaMCExHzAdBgNVBAMT\nFnNjYWxld2F5LXRlcnJhZm9ybS5jb20wWTATBgcqhkjOPQIBBggqhkjOPQMBBwNC\nAARkAqIgGInSLj5B79sdXpy2+u15AnpqbWN0llfAFGrPAfBv+8a7+5/OsfAbWw/f\ndutaCK04BEfW5zXVf3LefMKKo4ICUDCCAkwwDgYDVR0PAQH/BAQDAgeAMB0GA1Ud\nJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQW\nBB[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ea9fd744-a17b-4fc7-8b21-c890188e36e4?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ea9fd744-a17b-4fc7-8b21-c890188e36e4
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
