---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f4d01818-c70e-48e2-971f-6acdb8e096f7","ip_address":"51.159.24.118","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-24-118.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f4d01818-c70e-48e2-971f-6acdb8e096f7
    method: GET
  response:
    body: '{"id":"f4d01818-c70e-48e2-971f-6acdb8e096f7","ip_address":"51.159.24.118","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-24-118.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f4d01818-c70e-48e2-971f-6acdb8e096f7","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"b13c0b44-51f8-478a-b1b5-37fd7561d980","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f4d01818-c70e-48e2-971f-6acdb8e096f7","ip_address":"51.159.24.118","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"b13c0b44-51f8-478a-b1b5-37fd7561d980","reverse":"51-159-24-118.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-20T15:20:24.164596872Z","updated_at":"2021-12-20T15:20:24.164596872Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b13c0b44-51f8-478a-b1b5-37fd7561d980
    method: GET
  response:
    body: '{"id":"b13c0b44-51f8-478a-b1b5-37fd7561d980","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f4d01818-c70e-48e2-971f-6acdb8e096f7","ip_address":"51.159.24.118","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"b13c0b44-51f8-478a-b1b5-37fd7561d980","reverse":"51-159-24-118.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-20T15:20:24.164597Z","updated_at":"2021-12-20T15:20:24.164597Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b13c0b44-51f8-478a-b1b5-37fd7561d980/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert","letsencrypt":{"common_name":"51-159-24-118.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b13c0b44-51f8-478a-b1b5-37fd7561d980/certificates
    method: POST
  response:
    body: '{"id":"4ab1cff7-dab7-431f-b81c-b4a1fe32680a","type":"letsencryt","status":"pending","common_name":"51-159-24-118.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"b13c0b44-51f8-478a-b1b5-37fd7561d980","name":"test-lb","description":"","status":"ready","instances":[{"id":"caa4f849-857d-4f73-ac2d-4ff0fb11ff8a","status":"ready","ip_address":"10.70.36.25","created_at":"2021-12-20T15:09:00.399821Z","updated_at":"2021-12-20T15:20:24.733087Z","region":"fr-par","zone":"fr-par-1"},{"id":"f861510c-9176-454a-b25c-11b05791c500","status":"ready","ip_address":"10.71.86.91","created_at":"2021-12-20T15:08:58.023675Z","updated_at":"2021-12-20T15:20:25.348003Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f4d01818-c70e-48e2-971f-6acdb8e096f7","ip_address":"51.159.24.118","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"b13c0b44-51f8-478a-b1b5-37fd7561d980","reverse":"51-159-24-118.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-20T15:20:24.164597Z","updated_at":"2021-12-20T15:20:54.907761368Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2021-12-20T15:20:54.887314216Z","updated_at":"2021-12-20T15:20:54.887314216Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/4ab1cff7-dab7-431f-b81c-b4a1fe32680a
    method: GET
  response:
    body: '{"id":"4ab1cff7-dab7-431f-b81c-b4a1fe32680a","type":"letsencryt","status":"pending","common_name":"51-159-24-118.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"b13c0b44-51f8-478a-b1b5-37fd75[...]
[...]
- request:
    body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN
      CERTIFICATE-----\nMIIEeDCCA2CgAwIBAgISA+78x4/3radnfUGMWDp4jLA+MA0GCSqGSIb3DQEBCwUA\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEyMjAxMzU1MDlaFw0yMjAzMjAxMzU1MDhaMCkxJzAlBgNVBAMT\nHnN0YWdpbmcuc2NhbGV3YXktdGVycmFmb3JtLmNvbTBZMBMGByqGSM49AgEGCCqG\nSM49AwEHA0IABPqtv8kzJW2QI3LG93ScS13SSm5SIJI2uAoIhny4Lj06g05ff7mM\ngmd+XgID6OmWOB+Paso3Udq6hccEUN/URlKjggJaMIICVjAOBgNVHQ8BAf8EBAMC\nB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAw\nHQ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b13c0b44-51f8-478a-b1b5-37fd7561d980?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b13c0b44-51f8-478a-b1b5-37fd7561d980
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
