---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a7972715-724c-448c-85b2-640ffc655a09
    method: GET
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"a7972715-724c-448c-85b2-640ffc655a09","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"596d89fd-3252-4c29-bd70-88eabaa5a0f6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"596d89fd-3252-4c29-bd70-88eabaa5a0f6","reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:06:46.079552614Z","updated_at":"2021-11-04T13:06:46.079552614Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/596d89fd-3252-4c29-bd70-88eabaa5a0f6
    method: GET
  response:
    body: '{"id":"596d89fd-3252-4c29-bd70-88eabaa5a0f6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"596d89fd-3252-4c29-bd70-88eabaa5a0f6","reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:06:46.079553Z","updated_at":"2021-11-04T13:06:46.079553Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/596d89fd-3252-4c29-bd70-88eabaa5a0f6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert","letsencrypt":{"common_name":"195-154-70-164.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/596d89fd-3252-4c29-bd70-88eabaa5a0f6/certificates
    method: POST
  response:
    body: '{"id":"78eb04c9-1a1a-4342-b7ea-c20d1fbffa51","type":"letsencryt","status":"pending","common_name":"195-154-70-164.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"596d89fd-3252-4c29-bd70-88eabaa5a0f6","name":"test-lb","description":"","status":"ready","instances":[{"id":"31bc3338-9445-402c-8335-86563f9b1212","status":"ready","ip_address":"10.65.140.105","created_at":"2021-11-04T13:05:27.492304Z","updated_at":"2021-11-04T13:06:46.808855Z","region":"fr-par","zone":"fr-par-1"},{"id":"2f1eb552-7b15-4c98-8b94-fbb439a63bb4","status":"ready","ip_address":"10.68.28.69","created_at":"2021-11-04T10:44:27.242340Z","updated_at":"2021-11-04T13:06:46.988624Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"596d89fd-3252-4c29-bd70-88eabaa5a0f6","reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:06:46.079553Z","updated_at":"2021-11-04T13:07:16.696761406Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert","created_at":"2021-11-04T13:07:16.683416989Z","updated_at":"2021-11-04T13:07:16.683416989Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/78eb04c9-1a1a-4342-b7ea-c20d1fbffa51
    method: GET
  response:
    body: '{"id":"78eb04c9-1a1a-4342-b7ea-c20d1fbffa51","type":"letsencryt","status":"pending","common_name":"195-154-70-164.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"596d89fd-3252-4c29-bd70-88eab[...]
[...]
- request:
    body: '{"name":"test-custom-cert","custom_certificate":{"certificate_chain":"-----BEGIN
      CERTIFICATE-----\nMIIDXzCCAkegAwIBAgIUCQTOZjf11LGYmvGVw7xxWurGFgMwDQYJKoZIhvcNAQEL\nBQAwSDELMAkGA1UEBhMCRlIxDjAMBgNVBAcMBVBhcmlzMREwDwYDVQQKDAhTY2Fs\nZXdhdTEWMBQGA1UEAwwNKi5leGFtcGxlLmNvbTAeFw0yMDA0MjgxNzQ2MzFaFw0y\nMjA0MjgxNzQ2MzFaMEgxCzAJBgNVBAYTAkZSMQ4wDAYDVQQHDAVQYXJpczERMA8G\nA1UECgwIU2NhbGV3YXUxFjAUBgNVBAMMDSouZXhhbXBsZS5jb20wggEiMA0GCSqG\nSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCws8az+MXTtmNKN66Bl2HmlkAxazMcK9eG\nrmU5jOs3nNZevjn4FhQClVt2mOX7G37b32wpLyt5MUYGg+Ac95fL5zx9nwp57YBx\nNt[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/596d89fd-3252-4c29-bd70-88eabaa5a0f6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/596d89fd-3252-4c29-bd70-88eabaa5a0f6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
