---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c6b47cd5-7fca-4acc-bde4-e32e91f58310
    method: GET
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:26:34.326148767Z","description":"","frontend_count":0,"id":"641b3663-8eb8-42ba-b29d-388d8962519d","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"641b3663-8eb8-42ba-b29d-388d8962519d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:26:34.326148767Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/641b3663-8eb8-42ba-b29d-388d8962519d
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:26:34.326149Z","description":"","frontend_count":0,"id":"641b3663-8eb8-42ba-b29d-388d8962519d","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"641b3663-8eb8-42ba-b29d-388d8962519d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:26:34.326149Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/641b3663-8eb8-42ba-b29d-388d8962519d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-peaceful-driscoll","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/641b3663-8eb8-42ba-b29d-388d8962519d/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:27:04.933696619Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"68cf7418-4982-444c-9a3c-8aec79447d7e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:26:34.326149Z","description":"","frontend_count":0,"id":"641b3663-8eb8-42ba-b29d-388d8962519d","instances":[{"created_at":"2023-06-29T12:04:05.551834Z","id":"a8adf25c-e8c6-46f4-8ee8-e121bf6de26c","ip_address":"10.64.142.25","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:27:04.964967645Z","zone":"fr-par-1"}],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"641b3663-8eb8-42ba-b29d-388d8962519d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:26:36.622225Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-peaceful-driscoll","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:27:04.933696619Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/68cf7418-4982-444c-9a3c-8aec79447d7e
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:27:04.933697Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"68cf7418-4982-444c-9a3c-8aec79447d7e","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/641b3663-8eb8-42ba-b29d-388d8962519d/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:27:04.933697Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"68cf7418-4982-444c-9a3c-8aec79447d7e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:26:34.326149Z","description":"","frontend_count":1,"id":"641b36[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"68cf7418-4982-444c-9a3c-8aec79447d7e","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bd2724e3-c922-4767-8a3c-054ed484bf00
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:27:04.933697Z","failover_host":null,"forward_port":80,"forward_port_a[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bd2724e3-c922-4767-8a3c-054ed484bf00/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bd2724e3-c922-4767-8a3c-054ed484bf00/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-06-29T13:27:06.345512884Z","description":"","frontend":{"backend":{"created_at":"2023-06-29T13:27:04.933697Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"68cf7418-4982-444c-9a3c-8aec79447d7e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:26:34.326149Z","description":"","frontend_count":1,"[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/2b97c160-2b12-445c-b8d2-d2e1c0c82b9c
    method: PUT
  response:
    body: '{"action":{"redirect":null,"type":"allow"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/641b3663-8eb8-42ba-b29d-388d8962519d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/641b3663-8eb8-42ba-b29d-388d8962519d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
