---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d0de11da-6076-437d-a9ae-7615a8941d7d","ip_address":"51.159.11.155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-11-155.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d0de11da-6076-437d-a9ae-7615a8941d7d
    method: GET
  response:
    body: '{"id":"d0de11da-6076-437d-a9ae-7615a8941d7d","ip_address":"51.159.11.155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-11-155.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"d0de11da-6076-437d-a9ae-7615a8941d7d","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"5a58b6aa-0a84-4699-84ba-c78bfd667c92","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"d0de11da-6076-437d-a9ae-7615a8941d7d","ip_address":"51.159.11.155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5a58b6aa-0a84-4699-84ba-c78bfd667c92","reverse":"51-159-11-155.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:22:44.653695419Z","updated_at":"2022-01-10T17:22:44.653695419Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a58b6aa-0a84-4699-84ba-c78bfd667c92
    method: GET
  response:
    body: '{"id":"5a58b6aa-0a84-4699-84ba-c78bfd667c92","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"d0de11da-6076-437d-a9ae-7615a8941d7d","ip_address":"51.159.11.155","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5a58b6aa-0a84-4699-84ba-c78bfd667c92","reverse":"51-159-11-155.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:22:44.653695Z","updated_at":"2022-01-10T17:22:44.653695Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a58b6aa-0a84-4699-84ba-c78bfd667c92/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-hardcore-wescoff","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a58b6aa-0a84-4699-84ba-c78bfd667c92/backends
    method: POST
  response:
    body: '{"id":"19b186ae-6837-4419-923d-e5256e07b45d","name":"tf-lb-bkd-hardcore-wescoff","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"5a58b6aa-0a84-4699-84ba-c78bfd667c92","name":"test-lb","description":"","status":"ready","instances":[{"id":"69f0ac97-4e5d-449d-90cc-68b381ce0bc4","status":"pending","ip_address":"10.70.100.37","created_at":"2022-01-10T15:42:27.800178Z","updated_at":"2022-01-10T17:23:15.371872129Z","region":"fr-par","zone":"fr-par-1"},{"id":"0a90dd81-02d5-4593-8412-d2bf76b9197a","status":"pending","ip_address":"10.74.34.23","created_at":"2022-01-10T14:53:09.836111Z","updated_at":"2022-01-10T17:23:15.43942[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/19b186ae-6837-4419-923d-e5256e07b45d
    method: GET
  response:
    body: '{"id":"19b186ae-6837-4419-923d-e5256e07b45d","name":"tf-lb-bkd-hardcore-wescoff","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-ecstatic-bartik","inbound_port":80,"backend_id":"19b186ae-6837-4419-923d-e5256e07b45d","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a58b6aa-0a84-4699-84ba-c78bfd667c92/frontends
    method: POST
  response:
    body: '{"id":"0d7b6837-873c-4234-b467-3690edd1bd2a","name":"tf-lb-frt-ecstatic-bartik","inbound_port":80,"backend":{"id":"19b186ae-6837-4419-923d-e5256e07b45d","name":"tf-lb-bkd-hardcore-wescoff","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"5a58b6aa-0a84-4699-84ba-c78bfd667c92","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0d7b6837-873c-4234-b467-3690edd1bd2a/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0d7b6837-873c-4234-b467-3690edd1bd2a
    method: GET
  response:
    body: '{"id":"0d7b6837-873c-4234-b467-3690edd1bd2a","name":"tf-lb-frt-ecstatic-bartik","inbound_port":80,"backend":{"id":"19b186ae-6837-4419-923d-e5256e07b45d","name":"tf-lb-bkd-hardcore-wescoff","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a58b6aa-0a84-4699-84ba-c78bfd667c92?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5a58b6aa-0a84-4699-84ba-c78bfd667c92
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
