---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c6b47cd5-7fca-4acc-bde4-e32e91f58310
    method: GET
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:25:21.464283219Z","description":"","frontend_count":0,"id":"dc83b294-5adc-4f8f-936d-692052cd52fd","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"dc83b294-5adc-4f8f-936d-692052cd52fd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:25:21.464283219Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dc83b294-5adc-4f8f-936d-692052cd52fd
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:25:21.464283Z","description":"","frontend_count":0,"id":"dc83b294-5adc-4f8f-936d-692052cd52fd","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"dc83b294-5adc-4f8f-936d-692052cd52fd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:25:21.464283Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dc83b294-5adc-4f8f-936d-692052cd52fd/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-peaceful-raman","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dc83b294-5adc-4f8f-936d-692052cd52fd/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:25:52.084325102Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"f6223f86-f6ef-47f1-a7d3-b61a611c5c36","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:25:21.464283Z","description":"","frontend_count":0,"id":"dc83b294-5adc-4f8f-936d-692052cd52fd","instances":[{"created_at":"2023-06-29T13:24:14.607233Z","id":"5e1f9622-d92c-462f-86bf-25e97bd0278b","ip_address":"10.73.98.127","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:25:52.117273971Z","zone":"fr-par-1"}],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"dc83b294-5adc-4f8f-936d-692052cd52fd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:25:23.479168Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-peaceful-raman","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:25:52.084325102Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f6223f86-f6ef-47f1-a7d3-b61a611c5c36
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:25:52.084325Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"f6223f86-f6ef-47f1-a7d3-b61a611c5c36","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dc83b294-5adc-4f8f-936d-692052cd52fd/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:25:52.084325Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"f6223f86-f6ef-47f1-a7d3-b61a611c5c36","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:25:21.464283Z","description":"","frontend_count":1,"id":"dc83b2[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"f6223f86-f6ef-47f1-a7d3-b61a611c5c36","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/1b13e03c-a274-48a2-ab54-6a63f690462b
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:25:52.084325Z","failover_host":null,"forward_port":80,"forward_port_a[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/1b13e03c-a274-48a2-ab54-6a63f690462b/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-lb-acl-interesting-antonelli","action":{"type":"redirect","redirect":{"type":"location","target":"https://example.com","code":307}},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/1b13e03c-a274-48a2-ab54-6a63f690462b/acls
    method: POST
  response:
    body: '{"action":{"redirect":{"code":307,"target":"https://example.com","type":"location"},"type":"redirect"},"created_at":"2023-06-29T13:25:53.764527066Z","description":"","frontend":{"backend":{"created_at":"2023-06-29T13:25:52.084325Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"f6223f86-f6ef-47f1-a7d3-b61a611c5c36","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:25:21.464283Z","description":"","frontend_count":1,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dc83b294-5adc-4f8f-936d-692052cd52fd?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/dc83b294-5adc-4f8f-936d-692052cd52fd
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
