---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"790541ef-89b9-4f89-99e3-ab630f704237","ip_address":"51.159.115.50","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-115-50.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/790541ef-89b9-4f89-99e3-ab630f704237
    method: GET
  response:
    body: '{"id":"790541ef-89b9-4f89-99e3-ab630f704237","ip_address":"51.159.115.50","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-115-50.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"790541ef-89b9-4f89-99e3-ab630f704237","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"790541ef-89b9-4f89-99e3-ab630f704237","ip_address":"51.159.115.50","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","reverse":"51-159-115-50.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T17:12:53.764007339Z","updated_at":"2022-04-19T17:12:53.764007339Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfa2e92b-5df9-4be5-a5fd-371f6fb90a53
    method: GET
  response:
    body: '{"id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","name":"test-lb","description":"","status":"creating","instances":[{"id":"faf60ff2-ab6d-4d94-b3be-3a03f76164c4","status":"unknown","ip_address":"10.68.70.139","created_at":"2022-04-19T16:31:29.068113Z","updated_at":"2022-04-19T17:12:53.920633Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"790541ef-89b9-4f89-99e3-ab630f704237","ip_address":"51.159.115.50","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","reverse":"51-159-115-50.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T17:12:53.764007Z","updated_at":"2022-04-19T17:12:53.938843Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfa2e92b-5df9-4be5-a5fd-371f6fb90a53/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-xenodochial-easley","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":443,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfa2e92b-5df9-4be5-a5fd-371f6fb90a53/backends
    method: POST
  response:
    body: '{"id":"989f8b07-9639-48f1-a8a7-5f3b139a7cda","name":"tf-lb-bkd-xenodochial-easley","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","name":"test-lb","description":"","status":"ready","instances":[{"id":"faf60ff2-ab6d-4d94-b3be-3a03f76164c4","status":"pending","ip_address":"10.68.70.139","created_at":"2022-04-19T16:31:29.068113Z","updated_at":"2022-04-19T17:13:32.634093294Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"790541ef-89b9-4f89-99e3-ab630f704237","ip_address":"51.159.115.50","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","reverse":"51-159-115-50.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T17:12:53.764007Z","updated_at":"2022-04-19T17:12:54.636558Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-04-19T17:13:32.603918408Z","updated_at":"2022-04-19T17:13:32.603918408Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-159-115-50.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfa2e92b-5df9-4be5-a5fd-371f6fb90a53/certificates
    method: POST
  response:
    body: '{"id":"5c8c4f8e-12bc-4db0-ab9e-00734d8557a0","type":"letsencryt","status":"pending","common_name":"51-159-115-50.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","name":"test-lb","description":"","status":"ready","instances":[{"id":"faf60ff2-ab6d-4d94-b3be-3a03f76164c4","status":"pending","ip_address":"10.68.70.139","created_at":"2022-04-19T16:31:29.068113Z","updated_at":"2022-04-19T17:13:32.634093Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"790541ef-89b9-4f89-99e3-ab630f704237","ip_address":"51.159.115.50","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","reverse":"51-159-115-50.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T17:12:53.764007Z","updated_at":"2022-04-19T17:13:32.689410021Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert-front-end","created_at":"2022-04-19T17:13:32.674717205Z","updated_at":"2022-04-19T17:13:32.674717205Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/5c8c4f8e-12bc-4db0-ab9e-00734d8557a0
    method: GET
  response:
    body: '{"id":"5c8c4f8e-12bc-4db0-ab9e-00734d8557a0","type":"letsencryt","status":"pending","common_name":"51-159-115-50.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"bfa2e92b-5df9-4be5-a5fd-371f6f[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/989f8b07-9639-48f1-a8a7-5f3b139a7cda
    method: GET
  response:
    body: '{"id":"989f8b07-9639-48f1-a8a7-5f3b139a7cda","name":"tf-lb-bkd-xenodochial-easley","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retrie[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-romantic-payne","inbound_port":443,"backend_id":"989f8b07-9639-48f1-a8a7-5f3b139a7cda","certificate_id":null,"certificate_ids":["5c8c4f8e-12bc-4db0-ab9e-00734d8557a0"],"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfa2e92b-5df9-4be5-a5fd-371f6fb90a53/frontends
    method: POST
  response:
    body: '{"id":"5f3b9ea6-228c-446d-8fd4-7555bb5a6c4c","name":"tf-lb-frt-romantic-payne","inbound_port":443,"backend":{"id":"989f8b07-9639-48f1-a8a7-5f3b139a7cda","name":"tf-lb-bkd-xenodochial-easley","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"bfa2e92b-5df9-4be5-a5fd-371f6fb90a53","name":"test-lb","description":"","status":"ready","instances":[],"organization_id"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5f3b9ea6-228c-446d-8fd4-7555bb5a6c4c/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/5f3b9ea6-228c-446d-8fd4-7555bb5a6c4c
    method: GET
  response:
    body: '{"id":"5f3b9ea6-228c-446d-8fd4-7555bb5a6c4c","name":"tf-lb-frt-romantic-payne","inbound_port":443,"backend":{"id":"989f8b07-9639-48f1-a8a7-5f3b139a7cda","name":"tf-lb-bkd-xenodochial-easley","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_se[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/5c8c4f8e-12bc-4db0-ab9e-00734d8557a0
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bfa2e92b-5df9-4be5-a5fd-371f6fb90a53?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
