---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"9472b86e-7b73-4082-84a2-9bdaa7718027","ip_address":"195.154.71.199","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-199.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/9472b86e-7b73-4082-84a2-9bdaa7718027
    method: GET
  response:
    body: '{"id":"9472b86e-7b73-4082-84a2-9bdaa7718027","ip_address":"195.154.71.199","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-199.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"9472b86e-7b73-4082-84a2-9bdaa7718027","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"241b906e-75da-4fc3-b7e6-1af686feaaea","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"9472b86e-7b73-4082-84a2-9bdaa7718027","ip_address":"195.154.71.199","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"241b906e-75da-4fc3-b7e6-1af686feaaea","reverse":"195-154-71-199.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:50:30.961856615Z","updated_at":"2021-12-29T15:50:30.961856615Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/241b906e-75da-4fc3-b7e6-1af686feaaea
    method: GET
  response:
    body: '{"id":"241b906e-75da-4fc3-b7e6-1af686feaaea","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"9472b86e-7b73-4082-84a2-9bdaa7718027","ip_address":"195.154.71.199","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"241b906e-75da-4fc3-b7e6-1af686feaaea","reverse":"195-154-71-199.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:50:30.961857Z","updated_at":"2021-12-29T15:50:30.961857Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/241b906e-75da-4fc3-b7e6-1af686feaaea/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-pedantic-agnesi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/241b906e-75da-4fc3-b7e6-1af686feaaea/backends
    method: POST
  response:
    body: '{"id":"fbdd5bc2-5806-45d5-856a-5f37cfb73331","name":"tf-lb-bkd-pedantic-agnesi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"241b906e-75da-4fc3-b7e6-1af686feaaea","name":"test-lb","description":"","status":"ready","instances":[{"id":"a8e1366e-5cc3-4615-9bdc-29ed68c45455","status":"pending","ip_address":"10.64.174.143","created_at":"2021-12-29T15:48:04.597859Z","updated_at":"2021-12-29T15:51:01.609003455Z","region":"fr-par","zone":"fr-par-1"},{"id":"fbb4bea3-aa8d-4774-8078-366f6b6c549c","status":"pending","ip_address":"10.64.48.81","created_at":"2021-12-29T15:48:07.138805Z","updated_at":"2021-12-29T15:51:01.7071[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/fbdd5bc2-5806-45d5-856a-5f37cfb73331
    method: GET
  response:
    body: '{"id":"fbdd5bc2-5806-45d5-856a-5f37cfb73331","name":"tf-lb-bkd-pedantic-agnesi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-reverent-albattani","inbound_port":80,"backend_id":"fbdd5bc2-5806-45d5-856a-5f37cfb73331","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/241b906e-75da-4fc3-b7e6-1af686feaaea/frontends
    method: POST
  response:
    body: '{"id":"cc88b898-2744-4c9c-9d3a-c89959e332eb","name":"tf-lb-frt-reverent-albattani","inbound_port":80,"backend":{"id":"fbdd5bc2-5806-45d5-856a-5f37cfb73331","name":"tf-lb-bkd-pedantic-agnesi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"241b906e-75da-4fc3-b7e6-1af686feaaea","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105b[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/cc88b898-2744-4c9c-9d3a-c89959e332eb/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/cc88b898-2744-4c9c-9d3a-c89959e332eb
    method: GET
  response:
    body: '{"id":"cc88b898-2744-4c9c-9d3a-c89959e332eb","name":"tf-lb-frt-reverent-albattani","inbound_port":80,"backend":{"id":"fbdd5bc2-5806-45d5-856a-5f37cfb73331","name":"tf-lb-bkd-pedantic-agnesi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sess[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/241b906e-75da-4fc3-b7e6-1af686feaaea?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/241b906e-75da-4fc3-b7e6-1af686feaaea
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
