---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"86e6a049-7b34-4e5d-ad6a-4e4a488045fe","ip_address":"51.159.115.178","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-178.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/86e6a049-7b34-4e5d-ad6a-4e4a488045fe
    method: GET
  response:
    body: '{"id":"86e6a049-7b34-4e5d-ad6a-4e4a488045fe","ip_address":"51.159.115.178","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-178.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"86e6a049-7b34-4e5d-ad6a-4e4a488045fe","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2022-12-22T13:58:33.585108375Z","description":"","frontend_count":0,"id":"a17c3e24-5e3f-493c-a5e9-b3444f72676b","instances":[],"ip":[{"id":"86e6a049-7b34-4e5d-ad6a-4e4a488045fe","ip_address":"51.159.115.178","lb_id":"a17c3e24-5e3f-493c-a5e9-b3444f72676b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-178.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2022-12-22T13:58:33.585108375Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a17c3e24-5e3f-493c-a5e9-b3444f72676b
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2022-12-22T13:58:33.585108Z","description":"","frontend_count":0,"id":"a17c3e24-5e3f-493c-a5e9-b3444f72676b","instances":[{"created_at":"2022-12-22T13:48:37.408699Z","id":"e731d5cd-a9f4-4096-9d76-ce3063c277b2","ip_address":"10.74.58.43","region":"fr-par","status":"unknown","updated_at":"2022-12-22T13:58:33.836330Z","zone":"fr-par-1"}],"ip":[{"id":"86e6a049-7b34-4e5d-ad6a-4e4a488045fe","ip_address":"51.159.115.178","lb_id":"a17c3e24-5e3f-493c-a5e9-b3444f72676b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-178.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2022-12-22T13:58:33.850862Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a17c3e24-5e3f-493c-a5e9-b3444f72676b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-awesome-black","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a17c3e24-5e3f-493c-a5e9-b3444f72676b/backends
    method: POST
  response:
    body: '{"created_at":"2022-12-22T13:59:04.364230497Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"6ad20213-c1ee-4cc5-8c64-dad58868af95","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2022-12-22T13:58:33.585108Z","description":"","frontend_count":0,"id":"a17c3e24-5e3f-493c-a5e9-b3444f72676b","instances":[{"created_at":"2022-12-22T13:48:37.408699Z","id":"e731d5cd-a9f4-4096-9d76-ce3063c277b2","ip_address":"10.74.58.43","region":"fr-par","status":"pending","updated_at":"2022-12-22T13:59:04.388762111Z","zone":"fr-par-1"}],"ip":[{"id":"86e6a049-7b34-4e5d-ad6a-4e4a488045fe","ip_address":"51.159.115.178","lb_id":"a17c3e24-5e3f-493c-a5e9-b3444f72676b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-178.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2022-12-22T13:58:34.998782Z","zone":"fr-par-1"},"name":"tf-lb-bkd-awesome-black","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2022-12-22T13:59:04.364230497Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6ad20213-c1ee-4cc5-8c64-dad58868af95
    method: GET
  response:
    body: '{"created_at":"2022-12-22T13:59:04.364230Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"6ad20213-c1ee-4cc5-8c64-da[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-silly-mclaren","inbound_port":80,"backend_id":"6ad20213-c1ee-4cc5-8c64-dad58868af95","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a17c3e24-5e3f-493c-a5e9-b3444f72676b/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2022-12-22T13:59:04.364230Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"6ad20213-c1ee-4cc5-8c64-dad58868af95","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2022-12-22T13:58:33.585108Z","description":"","frontend_count":1,"id":"a17c3e24-5e3f-493c-a5e9-b3444f72676b[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d10b1d26-85db-4fc0-af3c-5a0c32da6e28/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d10b1d26-85db-4fc0-af3c-5a0c32da6e28
    method: GET
  response:
    body: '{"backend":{"created_at":"2022-12-22T13:59:04.364230Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"6ad20213-c1ee-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a17c3e24-5e3f-493c-a5e9-b3444f72676b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a17c3e24-5e3f-493c-a5e9-b3444f72676b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
