---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/86df9ff8-7a77-492d-9b03-4f6205127499
    method: GET
  response:
    body: '{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"86df9ff8-7a77-492d-9b03-4f6205127499","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:05:52.043691596Z","description":"","frontend_count":0,"id":"4cf30121-5074-4ff8-9263-be0eaaa2b557","instances":[],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"4cf30121-5074-4ff8-9263-be0eaaa2b557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:05:52.043691596Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4cf30121-5074-4ff8-9263-be0eaaa2b557
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-03T20:05:52.043692Z","description":"","frontend_count":0,"id":"4cf30121-5074-4ff8-9263-be0eaaa2b557","instances":[],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"4cf30121-5074-4ff8-9263-be0eaaa2b557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:05:52.043692Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4cf30121-5074-4ff8-9263-be0eaaa2b557/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-relaxed-tu","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":"0.500000000s","check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4cf30121-5074-4ff8-9263-be0eaaa2b557/backends
    method: POST
  response:
    body: '{"created_at":"2023-07-03T20:06:22.801151033Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"19ee9d12-6cd5-4b24-9deb-95e342a75ab5","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:05:52.043692Z","description":"","frontend_count":0,"id":"4cf30121-5074-4ff8-9263-be0eaaa2b557","instances":[{"created_at":"2023-07-03T20:04:44.668293Z","id":"770c6cd2-0583-445c-830b-be5a031fcdbd","ip_address":"10.76.114.93","region":"fr-par","status":"pending","updated_at":"2023-07-03T20:06:22.845421688Z","zone":"fr-par-1"}],"ip":[{"id":"86df9ff8-7a77-492d-9b03-4f6205127499","ip_address":"195.154.197.174","lb_id":"4cf30121-5074-4ff8-9263-be0eaaa2b557","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-174.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-03T20:05:54.549191Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-relaxed-tu","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-07-03T20:06:22.801151033Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/19ee9d12-6cd5-4b24-9deb-95e342a75ab5
    method: GET
  response:
    body: '{"created_at":"2023-07-03T20:06:22.801151Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"19ee9d12-6cd5-4b24-9deb-95e342a75ab5","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4cf30121-5074-4ff8-9263-be0eaaa2b557/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:06:22.801151Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"19ee9d12-6cd5-4b24-9deb-95e342a75ab5","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:05:52.043692Z","description":"","frontend_count":1,"id":"4c[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"19ee9d12-6cd5-4b24-9deb-95e342a75ab5","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/dc94cd3d-b80b-43ad-af5c-b66006ee1a68
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-07-03T20:06:22.801151Z","failover_host":null,"forward_port":80,"forward_port_a[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/dc94cd3d-b80b-43ad-af5c-b66006ee1a68/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-lb-acl-trusting-euclid","action":{"type":"redirect","redirect":{"type":"location","target":"https://example.com","code":307}},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/dc94cd3d-b80b-43ad-af5c-b66006ee1a68/acls
    method: POST
  response:
    body: '{"action":{"redirect":{"code":307,"target":"https://example.com","type":"location"},"type":"redirect"},"created_at":"2023-07-03T20:06:24.495703181Z","description":"","frontend":{"backend":{"created_at":"2023-07-03T20:06:22.801151Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":"0.500s"},"id":"19ee9d12-6cd5-4b24-9deb-95e342a75ab5","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-07-03T20:05:52.043692Z","description":"","frontend_count"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4cf30121-5074-4ff8-9263-be0eaaa2b557?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4cf30121-5074-4ff8-9263-be0eaaa2b557
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
