---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d66745e4-91d2-4018-b4d6-9567af1fa69c
    method: GET
  response:
    body: '{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:38:50.969410370Z","description":"","frontend_count":0,"id":"fbd41272-6f32-4f9a-9a03-4574c71e6c38","instances":[],"ip":[{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":"fbd41272-6f32-4f9a-9a03-4574c71e6c38","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:50.969410370Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbd41272-6f32-4f9a-9a03-4574c71e6c38
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:38:50.969410Z","description":"","frontend_count":0,"id":"fbd41272-6f32-4f9a-9a03-4574c71e6c38","instances":[],"ip":[{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":"fbd41272-6f32-4f9a-9a03-4574c71e6c38","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:50.969410Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbd41272-6f32-4f9a-9a03-4574c71e6c38/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-infallible-moore","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbd41272-6f32-4f9a-9a03-4574c71e6c38/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:39:21.608796969Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"9a5ae742-4e53-4065-8c66-173a017cab69","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:38:50.969410Z","description":"","frontend_count":0,"id":"fbd41272-6f32-4f9a-9a03-4574c71e6c38","instances":[{"created_at":"2023-06-16T09:27:36.321739Z","id":"e08a286b-9ebb-400c-b203-52db2c607528","ip_address":"10.74.100.45","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:39:21.640075827Z","zone":"fr-par-1"}],"ip":[{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":"fbd41272-6f32-4f9a-9a03-4574c71e6c38","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:38:53.528518Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-infallible-moore","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:39:21.608796969Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/9a5ae742-4e53-4065-8c66-173a017cab69
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:39:21.608797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"9a5ae742-4e53-4065-8c66-173a017cab69","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbd41272-6f32-4f9a-9a03-4574c71e6c38/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:39:21.608797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"9a5ae742-4e53-4065-8c66-173a017cab69","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:38:50.969410Z","description":"","frontend_count":1,"id":"fbd412[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"9a5ae742-4e53-4065-8c66-173a017cab69","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/187a3215-8811-4db9-8b90-820a279201ce
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:39:21.608797Z","failover_host":null,"forward_port":80,"forward_port_a[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/187a3215-8811-4db9-8b90-820a279201ce/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-lb-acl-priceless-wright","action":{"type":"redirect","redirect":{"type":"location","target":"https://example.com","code":307}},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/187a3215-8811-4db9-8b90-820a279201ce/acls
    method: POST
  response:
    body: '{"action":{"redirect":{"code":307,"target":"https://example.com","type":"location"},"type":"redirect"},"created_at":"2023-06-16T09:39:23.426625945Z","description":"","frontend":{"backend":{"created_at":"2023-06-16T09:39:21.608797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"9a5ae742-4e53-4065-8c66-173a017cab69","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:38:50.969410Z","description":"","frontend_count":1,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbd41272-6f32-4f9a-9a03-4574c71e6c38?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbd41272-6f32-4f9a-9a03-4574c71e6c38
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
