---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/6b8e6107-385c-48ae-8c61-4f065cf405f5
    method: GET
  response:
    body: '{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5","reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:09:12.569649572Z","updated_at":"2021-12-27T12:09:12.569649572Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5
    method: GET
  response:
    body: '{"id":"bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"6b8e6107-385c-48ae-8c61-4f065cf405f5","ip_address":"51.159.114.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5","reverse":"51-159-114-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:09:12.569650Z","updated_at":"2021-12-27T12:09:12.569650Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-cranky-chebyshev","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5/backends
    method: POST
  response:
    body: '{"id":"c4ff4929-b289-467e-825d-24c91fb675bd","name":"tf-lb-bkd-cranky-chebyshev","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5","name":"test-lb","description":"","status":"ready","instances":[{"id":"2591d020-584e-409c-8cb6-8d7636989009","status":"pending","ip_address":"10.71.106.133","created_at":"2021-12-27T10:07:23.947274Z","updated_at":"2021-12-27T12:09:43.223004452Z","region":"fr-par","zone":"fr-par-1"},{"id":"b767a7af-0d96-42de-b385-d9447ebb1e10","status":"pending","ip_address":"10.64.194.13","created_at":"2021-12-26T04:59:54.179977Z","updated_at":"2021-12-27T12:09:43.297[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c4ff4929-b289-467e-825d-24c91fb675bd
    method: GET
  response:
    body: '{"id":"c4ff4929-b289-467e-825d-24c91fb675bd","name":"tf-lb-bkd-cranky-chebyshev","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-inspiring-allen","inbound_port":80,"backend_id":"c4ff4929-b289-467e-825d-24c91fb675bd","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5/frontends
    method: POST
  response:
    body: '{"id":"b47a3a37-400a-47b8-917f-8f68d97abbdd","name":"tf-lb-frt-inspiring-allen","inbound_port":80,"backend":{"id":"c4ff4929-b289-467e-825d-24c91fb675bd","name":"tf-lb-bkd-cranky-chebyshev","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b47a3a37-400a-47b8-917f-8f68d97abbdd/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b47a3a37-400a-47b8-917f-8f68d97abbdd
    method: GET
  response:
    body: '{"id":"b47a3a37-400a-47b8-917f-8f68d97abbdd","name":"tf-lb-frt-inspiring-allen","inbound_port":80,"backend":{"id":"c4ff4929-b289-467e-825d-24c91fb675bd","name":"tf-lb-bkd-cranky-chebyshev","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bb5915a1-edb1-404d-a9c6-6c93e7ef3ae5
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
