---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f89c1733-5158-4d8a-a313-80156812fb9f","ip_address":"195.154.68.136","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-68-136.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f89c1733-5158-4d8a-a313-80156812fb9f
    method: GET
  response:
    body: '{"id":"f89c1733-5158-4d8a-a313-80156812fb9f","ip_address":"195.154.68.136","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-68-136.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f89c1733-5158-4d8a-a313-80156812fb9f","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"2628488e-7919-40a9-9947-2d22e880ec69","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f89c1733-5158-4d8a-a313-80156812fb9f","ip_address":"195.154.68.136","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"2628488e-7919-40a9-9947-2d22e880ec69","reverse":"195-154-68-136.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:21.795174704Z","updated_at":"2021-12-21T16:31:21.795174704Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2628488e-7919-40a9-9947-2d22e880ec69
    method: GET
  response:
    body: '{"id":"2628488e-7919-40a9-9947-2d22e880ec69","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f89c1733-5158-4d8a-a313-80156812fb9f","ip_address":"195.154.68.136","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"2628488e-7919-40a9-9947-2d22e880ec69","reverse":"195-154-68-136.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:21.795175Z","updated_at":"2021-12-21T16:31:21.795175Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2628488e-7919-40a9-9947-2d22e880ec69/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-romantic-perlman","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2628488e-7919-40a9-9947-2d22e880ec69/backends
    method: POST
  response:
    body: '{"id":"f67c2a7c-1d32-4038-96cc-35647d24a08c","name":"tf-lb-bkd-romantic-perlman","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"2628488e-7919-40a9-9947-2d22e880ec69","name":"test-lb","description":"","status":"ready","instances":[{"id":"2498a494-61c3-4388-8c69-e8d62ea41759","status":"pending","ip_address":"10.68.66.13","created_at":"2021-12-21T14:37:49.050507Z","updated_at":"2021-12-21T16:31:52.473332302Z","region":"fr-par","zone":"fr-par-1"},{"id":"32777f42-b62e-4aa9-8b4e-ccd619c5a1b8","status":"pending","ip_address":"10.64.150.15","created_at":"2021-12-21T16:27:39.454258Z","updated_at":"2021-12-21T16:31:52.53436[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/f67c2a7c-1d32-4038-96cc-35647d24a08c
    method: GET
  response:
    body: '{"id":"f67c2a7c-1d32-4038-96cc-35647d24a08c","name":"tf-lb-bkd-romantic-perlman","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-exciting-mestorf","inbound_port":80,"backend_id":"f67c2a7c-1d32-4038-96cc-35647d24a08c","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2628488e-7919-40a9-9947-2d22e880ec69/frontends
    method: POST
  response:
    body: '{"id":"88d634c4-752e-4617-bc0c-94e16fa283be","name":"tf-lb-frt-exciting-mestorf","inbound_port":80,"backend":{"id":"f67c2a7c-1d32-4038-96cc-35647d24a08c","name":"tf-lb-bkd-romantic-perlman","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"2628488e-7919-40a9-9947-2d22e880ec69","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/88d634c4-752e-4617-bc0c-94e16fa283be/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/88d634c4-752e-4617-bc0c-94e16fa283be
    method: GET
  response:
    body: '{"id":"88d634c4-752e-4617-bc0c-94e16fa283be","name":"tf-lb-frt-exciting-mestorf","inbound_port":80,"backend":{"id":"f67c2a7c-1d32-4038-96cc-35647d24a08c","name":"tf-lb-bkd-romantic-perlman","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2628488e-7919-40a9-9947-2d22e880ec69?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2628488e-7919-40a9-9947-2d22e880ec69
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
