---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a9de57ea-d1fa-483d-83a3-3ab0d8734121","ip_address":"51.159.114.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a9de57ea-d1fa-483d-83a3-3ab0d8734121
    method: GET
  response:
    body: '{"id":"a9de57ea-d1fa-483d-83a3-3ab0d8734121","ip_address":"51.159.114.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"a9de57ea-d1fa-483d-83a3-3ab0d8734121","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"f0427a2d-220e-47a1-a617-80d84b267f67","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a9de57ea-d1fa-483d-83a3-3ab0d8734121","ip_address":"51.159.114.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"f0427a2d-220e-47a1-a617-80d84b267f67","reverse":"51-159-114-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:13.732976036Z","updated_at":"2021-12-30T10:19:13.732976036Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0427a2d-220e-47a1-a617-80d84b267f67
    method: GET
  response:
    body: '{"id":"f0427a2d-220e-47a1-a617-80d84b267f67","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a9de57ea-d1fa-483d-83a3-3ab0d8734121","ip_address":"51.159.114.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"f0427a2d-220e-47a1-a617-80d84b267f67","reverse":"51-159-114-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:13.732976Z","updated_at":"2021-12-30T10:19:13.732976Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0427a2d-220e-47a1-a617-80d84b267f67/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-cocky-mestorf","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0427a2d-220e-47a1-a617-80d84b267f67/backends
    method: POST
  response:
    body: '{"id":"2b74bfbb-8bea-4a1d-9fa3-8b511ba4fafc","name":"tf-lb-bkd-cocky-mestorf","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"f0427a2d-220e-47a1-a617-80d84b267f67","name":"test-lb","description":"","status":"ready","instances":[{"id":"8179d9f6-7f5d-4f7d-aec9-d6d9c700c02a","status":"pending","ip_address":"10.64.172.37","created_at":"2021-12-30T09:39:22.010890Z","updated_at":"2021-12-30T10:19:44.405052840Z","region":"fr-par","zone":"fr-par-1"},{"id":"9119f912-b8ee-4319-944e-a5e51d57da3d","status":"pending","ip_address":"10.64.94.63","created_at":"2021-12-30T09:39:34.220607Z","updated_at":"2021-12-30T10:19:44.47350[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/2b74bfbb-8bea-4a1d-9fa3-8b511ba4fafc
    method: GET
  response:
    body: '{"id":"2b74bfbb-8bea-4a1d-9fa3-8b511ba4fafc","name":"tf-lb-bkd-cocky-mestorf","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"ch[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-bold-knuth","inbound_port":80,"backend_id":"2b74bfbb-8bea-4a1d-9fa3-8b511ba4fafc","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0427a2d-220e-47a1-a617-80d84b267f67/frontends
    method: POST
  response:
    body: '{"id":"ac0a3f38-9648-4cb3-af32-72d327b062a7","name":"tf-lb-frt-bold-knuth","inbound_port":80,"backend":{"id":"2b74bfbb-8bea-4a1d-9fa3-8b511ba4fafc","name":"tf-lb-bkd-cocky-mestorf","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"f0427a2d-220e-47a1-a617-80d84b267f67","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105bdc[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ac0a3f38-9648-4cb3-af32-72d327b062a7/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ac0a3f38-9648-4cb3-af32-72d327b062a7
    method: GET
  response:
    body: '{"id":"ac0a3f38-9648-4cb3-af32-72d327b062a7","name":"tf-lb-frt-bold-knuth","inbound_port":80,"backend":{"id":"2b74bfbb-8bea-4a1d-9fa3-8b511ba4fafc","name":"tf-lb-bkd-cocky-mestorf","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cooki[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0427a2d-220e-47a1-a617-80d84b267f67?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0427a2d-220e-47a1-a617-80d84b267f67
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
