---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"beac9277-0766-40f7-ad8c-ecfc491bfc5f","ip_address":"51.158.58.145","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-158-58-145.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/beac9277-0766-40f7-ad8c-ecfc491bfc5f
    method: GET
  response:
    body: '{"id":"beac9277-0766-40f7-ad8c-ecfc491bfc5f","ip_address":"51.158.58.145","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-158-58-145.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"beac9277-0766-40f7-ad8c-ecfc491bfc5f","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"beac9277-0766-40f7-ad8c-ecfc491bfc5f","ip_address":"51.158.58.145","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","reverse":"51-158-58-145.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-25T13:15:14.282990842Z","updated_at":"2022-03-25T13:15:14.282990842Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9
    method: GET
  response:
    body: '{"id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","name":"test-lb","description":"","status":"creating","instances":[{"id":"f524181f-5751-48d2-b40e-561a2e20e448","status":"unknown","ip_address":"10.69.110.7","created_at":"2022-03-25T13:12:14.292141Z","updated_at":"2022-03-25T13:15:14.452960Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"beac9277-0766-40f7-ad8c-ecfc491bfc5f","ip_address":"51.158.58.145","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","reverse":"51-158-58-145.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-25T13:15:14.282991Z","updated_at":"2022-03-25T13:15:14.463932Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-brave-goldwasser","forward_protocol":"tcp","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":443,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9/backends
    method: POST
  response:
    body: '{"id":"84b6cf0b-93cd-4802-8dc6-5092aaf49622","name":"tf-lb-bkd-brave-goldwasser","forward_protocol":"tcp","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","name":"test-lb","description":"","status":"ready","instances":[{"id":"f524181f-5751-48d2-b40e-561a2e20e448","status":"pending","ip_address":"10.69.110.7","created_at":"2022-03-25T13:12:14.292141Z","updated_at":"2022-03-25T13:15:45.249815622Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"beac9277-0766-40f7-ad8c-ecfc491bfc5f","ip_address":"51.158.58.145","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","reverse":"51-158-58-145.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-25T13:15:14.282991Z","updated_at":"2022-03-25T13:15:15.140972Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-03-25T13:15:45.221430093Z","updated_at":"2022-03-25T13:15:45.221430093Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-158-58-145.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9/certificates
    method: POST
  response:
    body: '{"id":"74bb78f8-6254-4a90-bea1-d856fc944e87","type":"letsencryt","status":"pending","common_name":"51-158-58-145.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","name":"test-lb","description":"","status":"ready","instances":[{"id":"f524181f-5751-48d2-b40e-561a2e20e448","status":"ready","ip_address":"10.69.110.7","created_at":"2022-03-25T13:12:14.292141Z","updated_at":"2022-03-25T13:15:14.861481Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"beac9277-0766-40f7-ad8c-ecfc491bfc5f","ip_address":"51.158.58.145","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","reverse":"51-158-58-145.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-25T13:15:14.282991Z","updated_at":"2022-03-25T13:15:45.316358667Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert-front-end","created_at":"2022-03-25T13:15:45.298220735Z","updated_at":"2022-03-25T13:15:45.298220735Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/74bb78f8-6254-4a90-bea1-d856fc944e87
    method: GET
  response:
    body: '{"id":"74bb78f8-6254-4a90-bea1-d856fc944e87","type":"letsencryt","status":"pending","common_name":"51-158-58-145.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"7b8a0fbc-6ce4-40d4-ab90-eb001d[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/84b6cf0b-93cd-4802-8dc6-5092aaf49622
    method: GET
  response:
    body: '{"id":"84b6cf0b-93cd-4802-8dc6-5092aaf49622","name":"tf-lb-bkd-brave-goldwasser","forward_protocol":"tcp","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-pedantic-snyder","inbound_port":443,"backend_id":"84b6cf0b-93cd-4802-8dc6-5092aaf49622","certificate_id":null,"certificate_ids":["74bb78f8-6254-4a90-bea1-d856fc944e87"],"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9/frontends
    method: POST
  response:
    body: '{"id":"32262234-9eca-414b-b2c0-0a9a1681a6e5","name":"tf-lb-frt-pedantic-snyder","inbound_port":443,"backend":{"id":"84b6cf0b-93cd-4802-8dc6-5092aaf49622","name":"tf-lb-bkd-brave-goldwasser","forward_protocol":"tcp","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/32262234-9eca-414b-b2c0-0a9a1681a6e5/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/32262234-9eca-414b-b2c0-0a9a1681a6e5
    method: GET
  response:
    body: '{"id":"32262234-9eca-414b-b2c0-0a9a1681a6e5","name":"tf-lb-frt-pedantic-snyder","inbound_port":443,"backend":{"id":"84b6cf0b-93cd-4802-8dc6-5092aaf49622","name":"tf-lb-bkd-brave-goldwasser","forward_protocol":"tcp","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sess[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b8a0fbc-6ce4-40d4-ab90-eb001dcaf7f9
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
