---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d4862658-fdce-467b-901d-0e9235110411","ip_address":"51.158.57.25","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-158-57-25.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d4862658-fdce-467b-901d-0e9235110411
    method: GET
  response:
    body: '{"id":"d4862658-fdce-467b-901d-0e9235110411","ip_address":"51.158.57.25","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-158-57-25.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"d4862658-fdce-467b-901d-0e9235110411","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"ac6906d9-8111-4644-b44a-d61affda04f9","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d4862658-fdce-467b-901d-0e9235110411","ip_address":"51.158.57.25","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ac6906d9-8111-4644-b44a-d61affda04f9","reverse":"51-158-57-25.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T12:58:23.627771170Z","updated_at":"2022-04-19T12:58:23.627771170Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac6906d9-8111-4644-b44a-d61affda04f9
    method: GET
  response:
    body: '{"id":"ac6906d9-8111-4644-b44a-d61affda04f9","name":"test-lb","description":"","status":"creating","instances":[{"id":"a14874f9-581c-41dc-a466-467932095098","status":"unknown","ip_address":"10.73.80.1","created_at":"2022-04-19T08:53:27.243265Z","updated_at":"2022-04-19T12:58:23.777728Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d4862658-fdce-467b-901d-0e9235110411","ip_address":"51.158.57.25","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ac6906d9-8111-4644-b44a-d61affda04f9","reverse":"51-158-57-25.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T12:58:23.627771Z","updated_at":"2022-04-19T12:58:23.787997Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac6906d9-8111-4644-b44a-d61affda04f9/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-boring-wing","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":443,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac6906d9-8111-4644-b44a-d61affda04f9/backends
    method: POST
  response:
    body: '{"id":"6d126437-8d41-4e4c-bd2b-b7393822f72c","name":"tf-lb-bkd-boring-wing","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"ac6906d9-8111-4644-b44a-d61affda04f9","name":"test-lb","description":"","status":"ready","instances":[{"id":"a14874f9-581c-41dc-a466-467932095098","status":"pending","ip_address":"10.73.80.1","created_at":"2022-04-19T08:53:27.243265Z","updated_at":"2022-04-19T12:58:54.386503983Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d4862658-fdce-467b-901d-0e9235110411","ip_address":"51.158.57.25","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ac6906d9-8111-4644-b44a-d61affda04f9","reverse":"51-158-57-25.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T12:58:23.627771Z","updated_at":"2022-04-19T12:58:24.401070Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-04-19T12:58:54.351569040Z","updated_at":"2022-04-19T12:58:54.351569040Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-158-57-25.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac6906d9-8111-4644-b44a-d61affda04f9/certificates
    method: POST
  response:
    body: '{"id":"5023dda9-f0de-47d6-874b-607831c39627","type":"letsencryt","status":"pending","common_name":"51-158-57-25.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"ac6906d9-8111-4644-b44a-d61affda04f9","name":"test-lb","description":"","status":"ready","instances":[{"id":"a14874f9-581c-41dc-a466-467932095098","status":"pending","ip_address":"10.73.80.1","created_at":"2022-04-19T08:53:27.243265Z","updated_at":"2022-04-19T12:58:54.386504Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d4862658-fdce-467b-901d-0e9235110411","ip_address":"51.158.57.25","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ac6906d9-8111-4644-b44a-d61affda04f9","reverse":"51-158-57-25.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-19T12:58:23.627771Z","updated_at":"2022-04-19T12:58:54.442181398Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert-front-end","created_at":"2022-04-19T12:58:54.426173159Z","updated_at":"2022-04-19T12:58:54.426173159Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/5023dda9-f0de-47d6-874b-607831c39627
    method: GET
  response:
    body: '{"id":"5023dda9-f0de-47d6-874b-607831c39627","type":"letsencryt","status":"pending","common_name":"51-158-57-25.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"ac6906d9-8111-4644-b44a-d61affd[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6d126437-8d41-4e4c-bd2b-b7393822f72c
    method: GET
  response:
    body: '{"id":"6d126437-8d41-4e4c-bd2b-b7393822f72c","name":"tf-lb-bkd-boring-wing","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"c[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-sweet-knuth","inbound_port":443,"backend_id":"6d126437-8d41-4e4c-bd2b-b7393822f72c","certificate_id":null,"certificate_ids":["5023dda9-f0de-47d6-874b-607831c39627"],"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac6906d9-8111-4644-b44a-d61affda04f9/frontends
    method: POST
  response:
    body: '{"id":"2fecba0d-1423-422c-a482-3a595f98dfe9","name":"tf-lb-frt-sweet-knuth","inbound_port":443,"backend":{"id":"6d126437-8d41-4e4c-bd2b-b7393822f72c","name":"tf-lb-bkd-boring-wing","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"ac6906d9-8111-4644-b44a-d61affda04f9","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"951df[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2fecba0d-1423-422c-a482-3a595f98dfe9/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2fecba0d-1423-422c-a482-3a595f98dfe9
    method: GET
  response:
    body: '{"id":"2fecba0d-1423-422c-a482-3a595f98dfe9","name":"tf-lb-frt-sweet-knuth","inbound_port":443,"backend":{"id":"6d126437-8d41-4e4c-bd2b-b7393822f72c","name":"tf-lb-bkd-boring-wing","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_coo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/5023dda9-f0de-47d6-874b-607831c39627
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ac6906d9-8111-4644-b44a-d61affda04f9?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
