---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cc7fbb08-0388-45c4-a96b-9f35a31423f4","ip_address":"51.158.58.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-158-58-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cc7fbb08-0388-45c4-a96b-9f35a31423f4
    method: GET
  response:
    body: '{"id":"cc7fbb08-0388-45c4-a96b-9f35a31423f4","ip_address":"51.158.58.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-158-58-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"cc7fbb08-0388-45c4-a96b-9f35a31423f4","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cc7fbb08-0388-45c4-a96b-9f35a31423f4","ip_address":"51.158.58.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","reverse":"51-158-58-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T10:22:45.599209660Z","updated_at":"2022-04-13T10:22:45.599209660Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2
    method: GET
  response:
    body: '{"id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","name":"test-lb","description":"","status":"creating","instances":[{"id":"fe7474fc-4245-4a79-b02b-0d303b447ccf","status":"unknown","ip_address":"10.68.118.25","created_at":"2022-04-13T10:13:58.860137Z","updated_at":"2022-04-13T10:22:45.746713Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cc7fbb08-0388-45c4-a96b-9f35a31423f4","ip_address":"51.158.58.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","reverse":"51-158-58-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T10:22:45.599210Z","updated_at":"2022-04-13T10:22:45.760931Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"changes":[{"add":{"records":[{"data":"51.158.58.39","name":"test","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"82546033-6749-4030-a918-1e02bd6ffa2c","data":"51.158.58.39","name":"test","priority":1,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=test&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"82546033-6749-4030-a918-1e02bd6ffa2c","data":"51.158.58.39","name":"test","priority":1,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"active","message":null,"updated_at":"2022-04-13T10:22:49Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-beautiful-yonath","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":443,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2/backends
    method: POST
  response:
    body: '{"id":"d66da0d7-539e-4dba-b2e1-d599da6ff382","name":"tf-lb-bkd-beautiful-yonath","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","name":"test-lb","description":"","status":"ready","instances":[{"id":"fe7474fc-4245-4a79-b02b-0d303b447ccf","status":"pending","ip_address":"10.68.118.25","created_at":"2022-04-13T10:13:58.860137Z","updated_at":"2022-04-13T10:23:21.014375560Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cc7fbb08-0388-45c4-a96b-9f35a31423f4","ip_address":"51.158.58.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","reverse":"51-158-58-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T10:22:45.599210Z","updated_at":"2022-04-13T10:22:46.378826Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-04-13T10:23:20.984548535Z","updated_at":"2022-04-13T10:23:20.984548535Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end2","letsencrypt":{"common_name":"test.scaleway-terraform.com","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2/certificates
    method: POST
  response:
    body: '{"id":"f302f05a-15c3-409e-9b63-5b4fa5eaf7cd","type":"letsencryt","status":"pending","common_name":"test.scaleway-terraform.com","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","name":"test-lb","description":"","status":"ready","instances":[{"id":"fe7474fc-4245-4a79-b02b-0d303b447ccf","status":"ready","ip_address":"10.68.118.25","created_at":"2022-04-13T10:13:58.860137Z","updated_at":"2022-04-13T10:22:46.138717Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cc7fbb08-0388-45c4-a96b-9f35a31423f4","ip_address":"51.158.58.39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","reverse":"51-158-58-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T10:22:45.599210Z","updated_at":"2022-04-13T10:23:21.071983329Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert-front-end2","created_at":"2022-04-13T10:23:21.056464049Z","updated_at":"2022-04-13T10:23:21.056464049Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d66da0d7-539e-4dba-b2e1-d599da6ff382
    method: GET
  response:
    body: '{"id":"d66da0d7-539e-4dba-b2e1-d599da6ff382","name":"tf-lb-bkd-beautiful-yonath","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/6eef3e91-3d8f-403e-b502-c6971d99fc3b
    method: GET
  response:
    body: '{"id":"6eef3e91-3d8f-403e-b502-c6971d99fc3b","type":"letsencryt","status":"pending","common_name":"51-158-58-39.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"36b08b6b-fac3-4b8a-8aa9-ca77f06[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-reverent-goodall","inbound_port":443,"backend_id":"d66da0d7-539e-4dba-b2e1-d599da6ff382","certificate_id":null,"certificate_ids":["6eef3e91-3d8f-403e-b502-c6971d99fc3b","f302f05a-15c3-409e-9b63-5b4fa5eaf7cd"],"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2/frontends
    method: POST
  response:
    body: '{"id":"48ba8279-91c9-4718-bf7c-902489598f3e","name":"tf-lb-frt-reverent-goodall","inbound_port":443,"backend":{"id":"d66da0d7-539e-4dba-b2e1-d599da6ff382","name":"tf-lb-bkd-beautiful-yonath","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/48ba8279-91c9-4718-bf7c-902489598f3e/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/48ba8279-91c9-4718-bf7c-902489598f3e
    method: GET
  response:
    body: '{"id":"48ba8279-91c9-4718-bf7c-902489598f3e","name":"tf-lb-frt-reverent-goodall","inbound_port":443,"backend":{"id":"d66da0d7-539e-4dba-b2e1-d599da6ff382","name":"tf-lb-bkd-beautiful-yonath","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_se[...]
[...]
- request:
    body: '{"changes":[{"delete":{"id":"82546033-6749-4030-a918-1e02bd6ffa2c"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/36b08b6b-fac3-4b8a-8aa9-ca77f067a8e2?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
