---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/0e3b7619-f1d2-4492-977c-8cb729cc6be3
    method: GET
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:29:41.596680572Z","description":"","frontend_count":0,"id":"b3c54da6-3e63-49b8-b97a-2181658806c5","instances":[],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"b3c54da6-3e63-49b8-b97a-2181658806c5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:29:41.596680572Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3c54da6-3e63-49b8-b97a-2181658806c5
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:29:41.596681Z","description":"","frontend_count":0,"id":"b3c54da6-3e63-49b8-b97a-2181658806c5","instances":[],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"b3c54da6-3e63-49b8-b97a-2181658806c5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:29:41.596681Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3c54da6-3e63-49b8-b97a-2181658806c5/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-thirsty-sinoussi","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3c54da6-3e63-49b8-b97a-2181658806c5/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:30:12.252734573Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"e4fffbea-2813-4a46-a8c2-c69a12800a67","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:29:41.596681Z","description":"","frontend_count":0,"id":"b3c54da6-3e63-49b8-b97a-2181658806c5","instances":[{"created_at":"2023-06-29T13:28:04.742333Z","id":"9e8380e7-1f02-4f24-a1df-d6688909baca","ip_address":"10.72.0.41","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:30:12.275742583Z","zone":"fr-par-1"}],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"b3c54da6-3e63-49b8-b97a-2181658806c5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:29:43.673108Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-thirsty-sinoussi","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:30:12.252734573Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/e4fffbea-2813-4a46-a8c2-c69a12800a67
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:30:12.252735Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-dreamy-liskov","inbound_port":80,"backend_id":"e4fffbea-2813-4a46-a8c2-c69a12800a67","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3c54da6-3e63-49b8-b97a-2181658806c5/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:30:12.252735Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"e4fffbea-2813-4a46-a8c2-c69a12800a67","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:29:41.596681Z","description":"","frontend_count":1,"id":"b3c54da[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-crazy-leakey","inbound_port":80,"backend_id":"e4fffbea-2813-4a46-a8c2-c69a12800a67","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ba428187-a76d-4aa7-9896-e5e286d35c6e
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:30:12.252735Z","failover_host":null,"forward_port":80,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ba428187-a76d-4aa7-9896-e5e286d35c6e/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3c54da6-3e63-49b8-b97a-2181658806c5?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b3c54da6-3e63-49b8-b97a-2181658806c5
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
