---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"22affb03-e557-467c-b00c-5c3d56366a99","ip_address":"195.154.70.66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-70-66.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/22affb03-e557-467c-b00c-5c3d56366a99
    method: GET
  response:
    body: '{"id":"22affb03-e557-467c-b00c-5c3d56366a99","ip_address":"195.154.70.66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-70-66.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"22affb03-e557-467c-b00c-5c3d56366a99","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"5881e423-0d9e-4a89-9a30-2d41b3849082","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"22affb03-e557-467c-b00c-5c3d56366a99","ip_address":"195.154.70.66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5881e423-0d9e-4a89-9a30-2d41b3849082","reverse":"195-154-70-66.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-10T12:59:13.111605576Z","updated_at":"2022-03-10T12:59:13.111605576Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5881e423-0d9e-4a89-9a30-2d41b3849082
    method: GET
  response:
    body: '{"id":"5881e423-0d9e-4a89-9a30-2d41b3849082","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"22affb03-e557-467c-b00c-5c3d56366a99","ip_address":"195.154.70.66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5881e423-0d9e-4a89-9a30-2d41b3849082","reverse":"195-154-70-66.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-10T12:59:13.111606Z","updated_at":"2022-03-10T12:59:13.111606Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5881e423-0d9e-4a89-9a30-2d41b3849082/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-mystifying-hugle","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5881e423-0d9e-4a89-9a30-2d41b3849082/backends
    method: POST
  response:
    body: '{"id":"efb5df9b-1b9c-4121-a071-3f3c9ccf8a22","name":"tf-lb-bkd-mystifying-hugle","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"5881e423-0d9e-4a89-9a30-2d41b3849082","name":"test-lb","description":"","status":"ready","instances":[{"id":"a1c50e2e-8929-4063-ad74-975fcd8e6449","status":"pending","ip_address":"10.65.14.23","created_at":"2022-03-10T12:38:46.823918Z","updated_at":"2022-03-10T12:59:43.819186667Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"22affb03-e557-467c-b00c-5c3d56366a99","ip_address":"195.154.70.66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5881e423-0d9e-4a89-9a30-2d41b3849082","reverse":"195-154-70-66.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-10T12:59:13.111606Z","updated_at":"2022-03-10T12:59:14.035806Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-03-10T12:59:43.779841533Z","updated_at":"2022-03-10T12:59:43.779841533Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/efb5df9b-1b9c-4121-a071-3f3c9ccf8a22
    method: GET
  response:
    body: '{"id":"efb5df9b-1b9c-4121-a071-3f3c9ccf8a22","name":"tf-lb-bkd-mystifying-hugle","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-trusting-mccarthy","inbound_port":80,"backend_id":"efb5df9b-1b9c-4121-a071-3f3c9ccf8a22","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5881e423-0d9e-4a89-9a30-2d41b3849082/frontends
    method: POST
  response:
    body: '{"id":"79ae3518-944a-4f04-b74f-36da74836be7","name":"tf-lb-frt-trusting-mccarthy","inbound_port":80,"backend":{"id":"efb5df9b-1b9c-4121-a071-3f3c9ccf8a22","name":"tf-lb-bkd-mystifying-hugle","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"5881e423-0d9e-4a89-9a30-2d41b3849082","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/79ae3518-944a-4f04-b74f-36da74836be7/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/79ae3518-944a-4f04-b74f-36da74836be7
    method: GET
  response:
    body: '{"id":"79ae3518-944a-4f04-b74f-36da74836be7","name":"tf-lb-frt-trusting-mccarthy","inbound_port":80,"backend":{"id":"efb5df9b-1b9c-4121-a071-3f3c9ccf8a22","name":"tf-lb-bkd-mystifying-hugle","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sess[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5881e423-0d9e-4a89-9a30-2d41b3849082?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5881e423-0d9e-4a89-9a30-2d41b3849082
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
