---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/7f46cba0-1f89-40cc-b66f-51e31de6a0d8
    method: GET
  response:
    body: '{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e5d0cf8c-7112-4075-bb9e-96572202fadb","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"e5d0cf8c-7112-4075-bb9e-96572202fadb","reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:00:04.501553588Z","updated_at":"2022-04-12T14:00:04.501553588Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5d0cf8c-7112-4075-bb9e-96572202fadb
    method: GET
  response:
    body: '{"id":"e5d0cf8c-7112-4075-bb9e-96572202fadb","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"e5d0cf8c-7112-4075-bb9e-96572202fadb","reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:00:04.501554Z","updated_at":"2022-04-12T14:00:04.501554Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5d0cf8c-7112-4075-bb9e-96572202fadb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-cranky-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5d0cf8c-7112-4075-bb9e-96572202fadb/backends
    method: POST
  response:
    body: '{"id":"6884e683-37e0-49c9-a338-40dc38a839e2","name":"tf-lb-bkd-cranky-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"e5d0cf8c-7112-4075-bb9e-96572202fadb","name":"test-lb","description":"","status":"ready","instances":[{"id":"0fd4dec8-f5fa-4e31-a45b-9582e50fca81","status":"pending","ip_address":"10.71.20.3","created_at":"2022-04-12T13:57:58.776683Z","updated_at":"2022-04-12T14:00:35.170370892Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7f46cba0-1f89-40cc-b66f-51e31de6a0d8","ip_address":"51.159.112.108","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"e5d0cf8c-7112-4075-bb9e-96572202fadb","reverse":"51-159-112-108.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T14:00:04.501554Z","updated_at":"2022-04-12T14:00:05.155020Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-04-12T14:00:35.142304734Z","updated_at":"2022-04-12T14:00:35.142304734Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6884e683-37e0-49c9-a338-40dc38a839e2
    method: GET
  response:
    body: '{"id":"6884e683-37e0-49c9-a338-40dc38a839e2","name":"tf-lb-bkd-cranky-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-friendly-rubin","inbound_port":80,"backend_id":"6884e683-37e0-49c9-a338-40dc38a839e2","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5d0cf8c-7112-4075-bb9e-96572202fadb/frontends
    method: POST
  response:
    body: '{"id":"57d17f05-5e2d-4c17-84f3-05e2d851fc0e","name":"tf-lb-frt-friendly-rubin","inbound_port":80,"backend":{"id":"6884e683-37e0-49c9-a338-40dc38a839e2","name":"tf-lb-bkd-cranky-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"e5d0cf8c-7112-4075-bb9e-96572202fadb","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"95[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/57d17f05-5e2d-4c17-84f3-05e2d851fc0e/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/57d17f05-5e2d-4c17-84f3-05e2d851fc0e
    method: GET
  response:
    body: '{"id":"57d17f05-5e2d-4c17-84f3-05e2d851fc0e","name":"tf-lb-frt-friendly-rubin","inbound_port":80,"backend":{"id":"6884e683-37e0-49c9-a338-40dc38a839e2","name":"tf-lb-bkd-cranky-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5d0cf8c-7112-4075-bb9e-96572202fadb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e5d0cf8c-7112-4075-bb9e-96572202fadb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
