---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a5c72821-9ee8-47c9-987a-58a2b9e5b9f3
    method: GET
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:22:49.187627339Z","description":"","frontend_count":0,"id":"0b3a1bc0-327f-4a65-87fc-4d6b38f505f7","instances":[],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"0b3a1bc0-327f-4a65-87fc-4d6b38f505f7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:22:49.187627339Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0b3a1bc0-327f-4a65-87fc-4d6b38f505f7
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:22:49.187627Z","description":"","frontend_count":0,"id":"0b3a1bc0-327f-4a65-87fc-4d6b38f505f7","instances":[],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"0b3a1bc0-327f-4a65-87fc-4d6b38f505f7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:22:49.187627Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0b3a1bc0-327f-4a65-87fc-4d6b38f505f7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-condescending-hofstadter","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0b3a1bc0-327f-4a65-87fc-4d6b38f505f7/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-24T15:23:19.859978072Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"6175f4d3-20ed-433b-87b2-0b34f9f1330c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:22:49.187627Z","description":"","frontend_count":0,"id":"0b3a1bc0-327f-4a65-87fc-4d6b38f505f7","instances":[{"created_at":"2023-05-24T15:19:49.202996Z","id":"bfc864d6-3993-4217-a087-d8d1758d5af8","ip_address":"10.74.40.17","region":"fr-par","status":"pending","updated_at":"2023-05-24T15:23:19.913469679Z","zone":"fr-par-1"}],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"0b3a1bc0-327f-4a65-87fc-4d6b38f505f7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:22:50.826268Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-condescending-hofstadter","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:23:19.859978072Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6175f4d3-20ed-433b-87b2-0b34f9f1330c
    method: GET
  response:
    body: '{"created_at":"2023-05-24T15:23:19.859978Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-wonderful-newton","inbound_port":80,"backend_id":"6175f4d3-20ed-433b-87b2-0b34f9f1330c","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0b3a1bc0-327f-4a65-87fc-4d6b38f505f7/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:23:19.859978Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"6175f4d3-20ed-433b-87b2-0b34f9f1330c","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:22:49.187627Z","description":"","frontend_count":1,"id":"0b3a1bc[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-condescending-brown","inbound_port":80,"backend_id":"6175f4d3-20ed-433b-87b2-0b34f9f1330c","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4ef8196c-3961-4e76-84a3-d05a686e251f
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:23:19.859978Z","failover_host":null,"forward_por[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4ef8196c-3961-4e76-84a3-d05a686e251f/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0b3a1bc0-327f-4a65-87fc-4d6b38f505f7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0b3a1bc0-327f-4a65-87fc-4d6b38f505f7
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
