---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f968b55c-df52-429d-a563-e158350cb5ec
    method: GET
  response:
    body: '{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f968b55c-df52-429d-a563-e158350cb5ec","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"08ff2489-60e7-424b-a8d6-9be6831ee5b3","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"08ff2489-60e7-424b-a8d6-9be6831ee5b3","reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:56:28.941119785Z","updated_at":"2021-12-22T12:56:28.941119785Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08ff2489-60e7-424b-a8d6-9be6831ee5b3
    method: GET
  response:
    body: '{"id":"08ff2489-60e7-424b-a8d6-9be6831ee5b3","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f968b55c-df52-429d-a563-e158350cb5ec","ip_address":"195.154.71.80","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"08ff2489-60e7-424b-a8d6-9be6831ee5b3","reverse":"195-154-71-80.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:56:28.941120Z","updated_at":"2021-12-22T12:56:28.941120Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08ff2489-60e7-424b-a8d6-9be6831ee5b3/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-nifty-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08ff2489-60e7-424b-a8d6-9be6831ee5b3/backends
    method: POST
  response:
    body: '{"id":"b37ee161-962c-4b9f-8770-763f5c30d1ed","name":"tf-lb-bkd-nifty-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"08ff2489-60e7-424b-a8d6-9be6831ee5b3","name":"test-lb","description":"","status":"ready","instances":[{"id":"037fa3e8-1d05-462e-869c-bfda3b363b78","status":"pending","ip_address":"10.64.118.115","created_at":"2021-12-22T02:31:29.238527Z","updated_at":"2021-12-22T12:56:59.609388216Z","region":"fr-par","zone":"fr-par-1"},{"id":"b6fc247b-3dfc-4356-b40c-d74a7e8e29ef","status":"pending","ip_address":"10.72.94.65","created_at":"2021-12-22T11:31:40.178029Z","updated_at":"2021-12-22T12:56:59.7298[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/b37ee161-962c-4b9f-8770-763f5c30d1ed
    method: GET
  response:
    body: '{"id":"b37ee161-962c-4b9f-8770-763f5c30d1ed","name":"tf-lb-bkd-nifty-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"ch[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-focused-wilson","inbound_port":80,"backend_id":"b37ee161-962c-4b9f-8770-763f5c30d1ed","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08ff2489-60e7-424b-a8d6-9be6831ee5b3/frontends
    method: POST
  response:
    body: '{"id":"342f5b5a-94bf-451e-ae42-2d7ca7df95af","name":"tf-lb-frt-focused-wilson","inbound_port":80,"backend":{"id":"b37ee161-962c-4b9f-8770-763f5c30d1ed","name":"tf-lb-bkd-nifty-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"08ff2489-60e7-424b-a8d6-9be6831ee5b3","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105bdc[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/342f5b5a-94bf-451e-ae42-2d7ca7df95af/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/342f5b5a-94bf-451e-ae42-2d7ca7df95af
    method: GET
  response:
    body: '{"id":"342f5b5a-94bf-451e-ae42-2d7ca7df95af","name":"tf-lb-frt-focused-wilson","inbound_port":80,"backend":{"id":"b37ee161-962c-4b9f-8770-763f5c30d1ed","name":"tf-lb-bkd-nifty-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_c[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08ff2489-60e7-424b-a8d6-9be6831ee5b3?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/08ff2489-60e7-424b-a8d6-9be6831ee5b3
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
