---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c39ffb00-bcbd-4f66-afc8-d01e611611a1","ip_address":"51.158.56.204","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-204.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c39ffb00-bcbd-4f66-afc8-d01e611611a1
    method: GET
  response:
    body: '{"id":"c39ffb00-bcbd-4f66-afc8-d01e611611a1","ip_address":"51.158.56.204","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-204.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"c39ffb00-bcbd-4f66-afc8-d01e611611a1","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-19T01:35:11.059278596Z","description":"","frontend_count":0,"id":"3276779b-3685-47e4-a623-e425b097b4bb","instances":[],"ip":[{"id":"c39ffb00-bcbd-4f66-afc8-d01e611611a1","ip_address":"51.158.56.204","lb_id":"3276779b-3685-47e4-a623-e425b097b4bb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-204.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-19T01:35:11.059278596Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3276779b-3685-47e4-a623-e425b097b4bb
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-19T01:35:11.059279Z","description":"","frontend_count":0,"id":"3276779b-3685-47e4-a623-e425b097b4bb","instances":[],"ip":[{"id":"c39ffb00-bcbd-4f66-afc8-d01e611611a1","ip_address":"51.158.56.204","lb_id":"3276779b-3685-47e4-a623-e425b097b4bb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-204.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-19T01:35:11.059279Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3276779b-3685-47e4-a623-e425b097b4bb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-vigilant-jackson","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3276779b-3685-47e4-a623-e425b097b4bb/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-19T01:35:41.889417391Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},"id":"8468b281-2acd-4fcb-97a3-1f7419e33b3a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-19T01:35:11.059279Z","description":"","frontend_count":0,"id":"3276779b-3685-47e4-a623-e425b097b4bb","instances":[{"created_at":"2023-06-19T01:32:42.509727Z","id":"b38126f9-728c-427a-aa87-0c0d7ef34e22","ip_address":"10.68.158.33","region":"fr-par","status":"pending","updated_at":"2023-06-19T01:35:41.919269219Z","zone":"fr-par-1"}],"ip":[{"id":"c39ffb00-bcbd-4f66-afc8-d01e611611a1","ip_address":"51.158.56.204","lb_id":"3276779b-3685-47e4-a623-e425b097b4bb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-204.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-19T01:35:12.857227Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-vigilant-jackson","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-19T01:35:41.889417391Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-158-56-204.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3276779b-3685-47e4-a623-e425b097b4bb/certificates
    method: POST
  response:
    body: '{"common_name":"51-158-56-204.lb.fr-par.scw.cloud","created_at":"2023-06-19T01:35:41.922814219Z","fingerprint":"","id":"ee4c543b-e629-4bd5-b083-5b2d5170c814","lb":{"backend_count":1,"created_at":"2023-06-19T01:35:11.059279Z","description":"","frontend_count":0,"id":"3276779b-3685-47e4-a623-e425b097b4bb","instances":[{"created_at":"2023-06-19T01:32:42.509727Z","id":"b38126f9-728c-427a-aa87-0c0d7ef34e22","ip_address":"10.68.158.33","region":"fr-par","status":"ready","updated_at":"2023-06-19T01:35:11.713199Z","zone":"fr-par-1"}],"ip":[{"id":"c39ffb00-bcbd-4f66-afc8-d01e611611a1","ip_address":"51.158.56.204","lb_id":"3276779b-3685-47e4-a623-e425b097b4bb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-204.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-19T01:35:41.939993997Z","zone":"fr-par-1"},"name":"test-cert-front-end","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2023-06-19T01:35:41.922814219Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/ee4c543b-e629-4bd5-b083-5b2d5170c814
    method: GET
  response:
    body: '{"common_name":"51-158-56-204.lb.fr-par.scw.cloud","created_at":"2023-06-19T01:35:41.922814Z","fingerprint":"","id":"ee4c543b-e629-4bd5-b083-5b2d5170c814","lb":{"backend_count":1,"created_at":"2023-06-19T01:35:11.059279Z","description":"","frontend_count":0,"id":"3276779b-3685-47e4-a623-e425b097b4bb","ins[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8468b281-2acd-4fcb-97a3-1f7419e33b3a
    method: GET
  response:
    body: '{"created_at":"2023-06-19T01:35:41.889417Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-optimistic-kowalevski","inbound_port":443,"backend_id":"8468b281-2acd-4fcb-97a3-1f7419e33b3a","certificate_ids":["ee4c543b-e629-4bd5-b083-5b2d5170c814"],"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3276779b-3685-47e4-a623-e425b097b4bb/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-19T01:35:41.889417Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},"id":"8468b281-2acd-4fcb-97a3-1f7419e33b3a","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-19T01:35:11.059279Z","description":"","frontend_count":1,"id":"3276[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-boring-tharp","inbound_port":443,"backend_id":"8468b281-2acd-4fcb-97a3-1f7419e33b3a","certificate_ids":["ee4c543b-e629-4bd5-b083-5b2d5170c814"],"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0c2cfe5a-309f-48d0-b834-d21faf86dfdd
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-19T01:35:41.889417Z","fa[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0c2cfe5a-309f-48d0-b834-d21faf86dfdd/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/ee4c543b-e629-4bd5-b083-5b2d5170c814
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3276779b-3685-47e4-a623-e425b097b4bb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
