---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8232ffa9-9180-4d1f-9aed-fb95167b6063
    method: GET
  response:
    body: '{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:30:05.773593070Z","updated_at":"2022-05-16T13:30:05.773593070Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1605a06a-0d46-45e2-8eba-4bc2a4270802
    method: GET
  response:
    body: '{"id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","name":"test-lb","description":"","status":"creating","instances":[{"id":"fed0637c-e4ce-486c-96b7-f7f659e609c7","status":"unknown","ip_address":"10.73.126.63","created_at":"2022-05-16T13:28:35.750458Z","updated_at":"2022-05-16T13:30:05.924183Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:30:05.773593Z","updated_at":"2022-05-16T13:30:05.936777Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1605a06a-0d46-45e2-8eba-4bc2a4270802/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-xenodochial-noether","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":443,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1605a06a-0d46-45e2-8eba-4bc2a4270802/backends
    method: POST
  response:
    body: '{"id":"c0becf39-07f2-4a86-9079-50b0f8fcf59f","name":"tf-lb-bkd-xenodochial-noether","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","name":"test-lb","description":"","status":"ready","instances":[{"id":"fed0637c-e4ce-486c-96b7-f7f659e609c7","status":"pending","ip_address":"10.73.126.63","created_at":"2022-05-16T13:28:35.750458Z","updated_at":"2022-05-16T13:30:36.694129009Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:30:05.773593Z","updated_at":"2022-05-16T13:30:06.410633Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-05-16T13:30:36.667324558Z","updated_at":"2022-05-16T13:30:36.667324558Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1605a06a-0d46-45e2-8eba-4bc2a4270802/certificates
    method: POST
  response:
    body: '{"id":"5d12d9ab-635f-4dd2-8d72-8d4a2e932dea","type":"letsencryt","status":"pending","common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","name":"test-lb","description":"","status":"ready","instances":[{"id":"fed0637c-e4ce-486c-96b7-f7f659e609c7","status":"pending","ip_address":"10.73.126.63","created_at":"2022-05-16T13:28:35.750458Z","updated_at":"2022-05-16T13:30:36.694129Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"8232ffa9-9180-4d1f-9aed-fb95167b6063","ip_address":"195.154.70.65","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","reverse":"195-154-70-65.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:30:05.773593Z","updated_at":"2022-05-16T13:30:36.743372007Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert-front-end","created_at":"2022-05-16T13:30:36.729646913Z","updated_at":"2022-05-16T13:30:36.729646913Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/5d12d9ab-635f-4dd2-8d72-8d4a2e932dea
    method: GET
  response:
    body: '{"id":"5d12d9ab-635f-4dd2-8d72-8d4a2e932dea","type":"letsencryt","status":"pending","common_name":"195-154-70-65.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"1605a06a-0d46-45e2-8eba-4bc2a4[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c0becf39-07f2-4a86-9079-50b0f8fcf59f
    method: GET
  response:
    body: '{"id":"c0becf39-07f2-4a86-9079-50b0f8fcf59f","name":"tf-lb-bkd-xenodochial-noether","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retri[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-charming-haslett","inbound_port":443,"backend_id":"c0becf39-07f2-4a86-9079-50b0f8fcf59f","certificate_id":null,"certificate_ids":["5d12d9ab-635f-4dd2-8d72-8d4a2e932dea"],"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1605a06a-0d46-45e2-8eba-4bc2a4270802/frontends
    method: POST
  response:
    body: '{"id":"94075e11-1e28-43f5-9a61-9a0692adaa61","name":"tf-lb-frt-charming-haslett","inbound_port":443,"backend":{"id":"c0becf39-07f2-4a86-9079-50b0f8fcf59f","name":"tf-lb-bkd-xenodochial-noether","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"1605a06a-0d46-45e2-8eba-4bc2a4270802","name":"test-lb","description":"","status":"ready","instances":[],"organization_id[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/94075e11-1e28-43f5-9a61-9a0692adaa61/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/94075e11-1e28-43f5-9a61-9a0692adaa61
    method: GET
  response:
    body: '{"id":"94075e11-1e28-43f5-9a61-9a0692adaa61","name":"tf-lb-frt-charming-haslett","inbound_port":443,"backend":{"id":"c0becf39-07f2-4a86-9079-50b0f8fcf59f","name":"tf-lb-bkd-xenodochial-noether","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/5d12d9ab-635f-4dd2-8d72-8d4a2e932dea
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1605a06a-0d46-45e2-8eba-4bc2a4270802?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
