---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/0e3b7619-f1d2-4492-977c-8cb729cc6be3
    method: GET
  response:
    body: '{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:27:59.031409820Z","description":"","frontend_count":0,"id":"376dd211-d713-423c-af22-2e63c2ee3f0a","instances":[],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"376dd211-d713-423c-af22-2e63c2ee3f0a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:27:59.031409820Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/376dd211-d713-423c-af22-2e63c2ee3f0a
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:27:59.031410Z","description":"","frontend_count":0,"id":"376dd211-d713-423c-af22-2e63c2ee3f0a","instances":[{"created_at":"2023-06-29T13:26:54.421546Z","id":"e2e8d306-d4a6-4af2-968a-a2fbbe426012","ip_address":"10.64.114.37","region":"fr-par","status":"unknown","updated_at":"2023-06-29T13:27:59.279173Z","zone":"fr-par-1"}],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"376dd211-d713-423c-af22-2e63c2ee3f0a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:27:59.291545Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/376dd211-d713-423c-af22-2e63c2ee3f0a/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-gracious-curie","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/376dd211-d713-423c-af22-2e63c2ee3f0a/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:28:29.735661031Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},"id":"98c22726-8c24-4ce3-91b9-57e343ecc305","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:27:59.031410Z","description":"","frontend_count":0,"id":"376dd211-d713-423c-af22-2e63c2ee3f0a","instances":[{"created_at":"2023-06-29T13:26:54.421546Z","id":"e2e8d306-d4a6-4af2-968a-a2fbbe426012","ip_address":"10.64.114.37","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:28:29.765930645Z","zone":"fr-par-1"}],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"376dd211-d713-423c-af22-2e63c2ee3f0a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:28:01.173706Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-gracious-curie","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:28:29.735661031Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-159-27-185.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/376dd211-d713-423c-af22-2e63c2ee3f0a/certificates
    method: POST
  response:
    body: '{"common_name":"51-159-27-185.lb.fr-par.scw.cloud","created_at":"2023-06-29T13:28:29.764328204Z","fingerprint":"","id":"84646475-9595-440e-8abe-e6ca38e1d9e9","lb":{"backend_count":1,"created_at":"2023-06-29T13:27:59.031410Z","description":"","frontend_count":0,"id":"376dd211-d713-423c-af22-2e63c2ee3f0a","instances":[{"created_at":"2023-06-29T13:26:54.421546Z","id":"e2e8d306-d4a6-4af2-968a-a2fbbe426012","ip_address":"10.64.114.37","region":"fr-par","status":"ready","updated_at":"2023-06-29T13:28:00.170618Z","zone":"fr-par-1"}],"ip":[{"id":"0e3b7619-f1d2-4492-977c-8cb729cc6be3","ip_address":"51.159.27.185","lb_id":"376dd211-d713-423c-af22-2e63c2ee3f0a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-185.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:28:29.779027399Z","zone":"fr-par-1"},"name":"test-cert-front-end","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2023-06-29T13:28:29.764328204Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/84646475-9595-440e-8abe-e6ca38e1d9e9
    method: GET
  response:
    body: '{"common_name":"51-159-27-185.lb.fr-par.scw.cloud","created_at":"2023-06-29T13:28:29.764328Z","fingerprint":"","id":"84646475-9595-440e-8abe-e6ca38e1d9e9","lb":{"backend_count":1,"created_at":"2023-06-29T13:27:59.031410Z","description":"","frontend_count":0,"id":"376dd211-d713-423c-af22-2e63c2ee3f0a","ins[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/98c22726-8c24-4ce3-91b9-57e343ecc305
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:28:29.735661Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-crazy-golick","inbound_port":443,"backend_id":"98c22726-8c24-4ce3-91b9-57e343ecc305","certificate_ids":["84646475-9595-440e-8abe-e6ca38e1d9e9"],"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/376dd211-d713-423c-af22-2e63c2ee3f0a/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:28:29.735661Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},"id":"98c22726-8c24-4ce3-91b9-57e343ecc305","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:27:59.031410Z","description":"","frontend_count":1,"id":"376d[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-angry-varahamihira","inbound_port":443,"backend_id":"98c22726-8c24-4ce3-91b9-57e343ecc305","certificate_ids":["84646475-9595-440e-8abe-e6ca38e1d9e9"],"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ac485df2-9a94-4781-aca0-b0fff592c0bb
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:28:29.735661[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ac485df2-9a94-4781-aca0-b0fff592c0bb/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/84646475-9595-440e-8abe-e6ca38e1d9e9
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/376dd211-d713-423c-af22-2e63c2ee3f0a?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
