---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cb91f686-b8c3-4957-aeb5-1f390f3894af","ip_address":"51.159.112.173","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-112-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cb91f686-b8c3-4957-aeb5-1f390f3894af
    method: GET
  response:
    body: '{"id":"cb91f686-b8c3-4957-aeb5-1f390f3894af","ip_address":"51.159.112.173","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-112-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"test-lb","description":"","ip_id":"cb91f686-b8c3-4957-aeb5-1f390f3894af","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"29be0f4a-a2e9-4538-93e4-2307c339e12b","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cb91f686-b8c3-4957-aeb5-1f390f3894af","ip_address":"51.159.112.173","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"29be0f4a-a2e9-4538-93e4-2307c339e12b","reverse":"51-159-112-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.005333003Z","updated_at":"2021-05-17T12:47:44.005333003Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29be0f4a-a2e9-4538-93e4-2307c339e12b
    method: GET
  response:
    body: '{"id":"29be0f4a-a2e9-4538-93e4-2307c339e12b","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cb91f686-b8c3-4957-aeb5-1f390f3894af","ip_address":"51.159.112.173","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"29be0f4a-a2e9-4538-93e4-2307c339e12b","reverse":"51-159-112-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.005333Z","updated_at":"2021-05-17T12:47:44.005333Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-lucid-galois","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29be0f4a-a2e9-4538-93e4-2307c339e12b/backends
    method: POST
  response:
    body: '{"id":"15965e0e-5056-45b8-bb22-e68e70985a6e","name":"tf-lb-bkd-lucid-galois","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"29be0f4a-a2e9-4538-93e4-2307c339e12b","name":"test-lb","description":"","status":"ready","instances":[{"id":"1a45d4c3-e388-4bad-be17-9d89290988e2","status":"ready","ip_address":"10.70.30.115","created_at":"2021-05-17T12:35:23.436164Z","updated_at":"2021-05-17T12:47:44.739151Z","region":"fr-par","zone":"fr-par-1"},{"id":"182d3a67-6a72-481d-ba7d-fa408ad383e0","status":"ready","ip_address":"10.70.46.79","created_at":"2021-05-17T12:37:37.552648Z","updated_at":"2021-05-17T12:47:45.278667Z","re[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/15965e0e-5056-45b8-bb22-e68e70985a6e
    method: GET
  response:
    body: '{"id":"15965e0e-5056-45b8-bb22-e68e70985a6e","name":"tf-lb-bkd-lucid-galois","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"che[...]
- request:
    body: '{"name":"tf-lb-frt-mystifying-pike","inbound_port":80,"backend_id":"15965e0e-5056-45b8-bb22-e68e70985a6e","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29be0f4a-a2e9-4538-93e4-2307c339e12b/frontends
    method: POST
  response:
    body: '{"id":"a4f4a567-1f05-4f1e-a57f-025fe27a83c3","name":"tf-lb-frt-mystifying-pike","inbound_port":80,"backend":{"id":"15965e0e-5056-45b8-bb22-e68e70985a6e","name":"tf-lb-bkd-lucid-galois","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"29be0f4a-a2e9-4538-93e4-2307c339e12b","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"b3ba839[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a4f4a567-1f05-4f1e-a57f-025fe27a83c3/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/a4f4a567-1f05-4f1e-a57f-025fe27a83c3
    method: GET
  response:
    body: '{"id":"a4f4a567-1f05-4f1e-a57f-025fe27a83c3","name":"tf-lb-frt-mystifying-pike","inbound_port":80,"backend":{"id":"15965e0e-5056-45b8-bb22-e68e70985a6e","name":"tf-lb-bkd-lucid-galois","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_c[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29be0f4a-a2e9-4538-93e4-2307c339e12b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/29be0f4a-a2e9-4538-93e4-2307c339e12b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
