---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a5c72821-9ee8-47c9-987a-58a2b9e5b9f3
    method: GET
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:25:33.233055236Z","description":"","frontend_count":0,"id":"fcd6d3f9-dec1-40c2-8a8f-88e18b605682","instances":[],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"fcd6d3f9-dec1-40c2-8a8f-88e18b605682","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:25:33.233055236Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcd6d3f9-dec1-40c2-8a8f-88e18b605682
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:25:33.233055Z","description":"","frontend_count":0,"id":"fcd6d3f9-dec1-40c2-8a8f-88e18b605682","instances":[],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"fcd6d3f9-dec1-40c2-8a8f-88e18b605682","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:25:33.233055Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcd6d3f9-dec1-40c2-8a8f-88e18b605682/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-friendly-fermi","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcd6d3f9-dec1-40c2-8a8f-88e18b605682/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-24T15:26:03.877906920Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"5202f204-9b8e-492e-92c7-e597d5523b46","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:25:33.233055Z","description":"","frontend_count":0,"id":"fcd6d3f9-dec1-40c2-8a8f-88e18b605682","instances":[{"created_at":"2023-05-24T15:24:09.322280Z","id":"1ac21f35-8a72-4185-907f-510bcc2f4054","ip_address":"10.74.54.61","region":"fr-par","status":"pending","updated_at":"2023-05-24T15:26:03.910424454Z","zone":"fr-par-1"}],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"fcd6d3f9-dec1-40c2-8a8f-88e18b605682","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:25:35.067539Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-friendly-fermi","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:26:03.877906920Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/5202f204-9b8e-492e-92c7-e597d5523b46
    method: GET
  response:
    body: '{"created_at":"2023-05-24T15:26:03.877907Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"5202f204-9b8e-492e-92c7-e597d5523b46","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcd6d3f9-dec1-40c2-8a8f-88e18b605682/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:26:03.877907Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"5202f204-9b8e-492e-92c7-e597d5523b46","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:25:33.233055Z","description":"","frontend_count":1,"id":"fcd6d3[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"5202f204-9b8e-492e-92c7-e597d5523b46","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4c387ab8-c809-4183-8f0a-aed8a49566e9
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:26:03.877907Z","failover_host":null,"forward_port":80,"forward_port_a[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4c387ab8-c809-4183-8f0a-aed8a49566e9/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/4c387ab8-c809-4183-8f0a-aed8a49566e9/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-05-24T15:26:05.512532127Z","description":"","frontend":{"backend":{"created_at":"2023-05-24T15:26:03.877907Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"5202f204-9b8e-492e-92c7-e597d5523b46","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:25:33.233055Z","description":"","frontend_count":1,"[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/2b17ec88-cca0-4162-84cb-92c9221ced97
    method: PUT
  response:
    body: '{"action":{"redirect":null,"type":"allow"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcd6d3f9-dec1-40c2-8a8f-88e18b605682?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fcd6d3f9-dec1-40c2-8a8f-88e18b605682
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
