---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a7972715-724c-448c-85b2-640ffc655a09
    method: GET
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"a7972715-724c-448c-85b2-640ffc655a09","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"d7d8b05b-2b90-4d61-87b2-d856265dafcb","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"d7d8b05b-2b90-4d61-87b2-d856265dafcb","reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:08:22.176504686Z","updated_at":"2021-11-04T13:08:22.176504686Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d7d8b05b-2b90-4d61-87b2-d856265dafcb
    method: GET
  response:
    body: '{"id":"d7d8b05b-2b90-4d61-87b2-d856265dafcb","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"d7d8b05b-2b90-4d61-87b2-d856265dafcb","reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:08:22.176505Z","updated_at":"2021-11-04T13:08:22.176505Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d7d8b05b-2b90-4d61-87b2-d856265dafcb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-kind-napier","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d7d8b05b-2b90-4d61-87b2-d856265dafcb/backends
    method: POST
  response:
    body: '{"id":"3371e412-fe4e-48c2-94b8-692fa2199c18","name":"tf-lb-bkd-kind-napier","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"d7d8b05b-2b90-4d61-87b2-d856265dafcb","name":"test-lb","description":"","status":"ready","instances":[{"id":"8d6c2814-daf0-4e31-8b86-6865d1ba266d","status":"pending","ip_address":"10.68.194.143","created_at":"2021-11-04T13:06:47.299420Z","updated_at":"2021-11-04T13:08:52.871550714Z","region":"fr-par","zone":"fr-par-1"},{"id":"03a14f93-b019-4824-b91d-014c51a700f8","status":"pending","ip_address":"10.65.140.137","created_at":"2021-11-04T08:30:20.613805Z","updated_at":"2021-11-04T13:08:52.96[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3371e412-fe4e-48c2-94b8-692fa2199c18
    method: GET
  response:
    body: '{"id":"3371e412-fe4e-48c2-94b8-692fa2199c18","name":"tf-lb-bkd-kind-napier","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"chec[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-strange-shtern","inbound_port":80,"backend_id":"3371e412-fe4e-48c2-94b8-692fa2199c18","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d7d8b05b-2b90-4d61-87b2-d856265dafcb/frontends
    method: POST
  response:
    body: '{"id":"b279a542-48b9-4718-960e-ac5427be5530","name":"tf-lb-frt-strange-shtern","inbound_port":80,"backend":{"id":"3371e412-fe4e-48c2-94b8-692fa2199c18","name":"tf-lb-bkd-kind-napier","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"d7d8b05b-2b90-4d61-87b2-d856265dafcb","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b279a542-48b9-4718-960e-ac5427be5530/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b279a542-48b9-4718-960e-ac5427be5530
    method: GET
  response:
    body: '{"id":"b279a542-48b9-4718-960e-ac5427be5530","name":"tf-lb-frt-strange-shtern","inbound_port":80,"backend":{"id":"3371e412-fe4e-48c2-94b8-692fa2199c18","name":"tf-lb-bkd-kind-napier","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_coo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d7d8b05b-2b90-4d61-87b2-d856265dafcb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d7d8b05b-2b90-4d61-87b2-d856265dafcb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
