---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-74-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d04f5864-953c-445a-95e8-a6b300132422
    method: GET
  response:
    body: '{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-74-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"d04f5864-953c-445a-95e8-a6b300132422","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","reverse":"51-159-74-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T15:15:02.497126757Z","updated_at":"2022-04-13T15:15:02.497126757Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ce03f48a-e7cb-4419-979f-f107c2e1776c
    method: GET
  response:
    body: '{"id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","name":"test-lb","description":"","status":"creating","instances":[{"id":"dd4eb294-2d97-4b99-8099-7f9ba8100bae","status":"unknown","ip_address":"10.73.128.61","created_at":"2022-04-13T15:12:05.295979Z","updated_at":"2022-04-13T15:15:02.628740Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","reverse":"51-159-74-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T15:15:02.497127Z","updated_at":"2022-04-13T15:15:02.639118Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"changes":[{"add":{"records":[{"data":"51.159.74.251","name":"test","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"a6e80f98-bfc5-4a1e-ad14-8176f2e0bafb","data":"51.159.74.251","name":"test","priority":1,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=test&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"total_count":2,"records":[{"id":"a6e80f98-bfc5-4a1e-ad14-8176f2e0bafb","data":"51.159.74.251","name":"test","priority":1,"ttl":3600,"type":"A","comment":null},{"id":"f2abe502-1061-4acf-b5ba-c8bf67c34a40","data":"51.159.9.102","name":"test","priority":1,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-04-13T15:15:02Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ce03f48a-e7cb-4419-979f-f107c2e1776c/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert-front-end2","letsencrypt":{"common_name":"test.scaleway-terraform.com","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ce03f48a-e7cb-4419-979f-f107c2e1776c/certificates
    method: POST
  response:
    body: '{"details":[{"field":"dns_name","message":"test.scaleway-terraform.com
      not resolve to your Load Balancer IP 51.159.74.251","reason":"constraint"}],"message":"Invalid
      parameters","type":"invalid_field"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"name":"tf-lb-bkd-heuristic-hoover","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":443,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ce03f48a-e7cb-4419-979f-f107c2e1776c/backends
    method: POST
  response:
    body: '{"id":"ecd6cc1a-8992-4191-9404-0d5299c8f5b5","name":"tf-lb-bkd-heuristic-hoover","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","name":"test-lb","description":"","status":"ready","instances":[{"id":"dd4eb294-2d97-4b99-8099-7f9ba8100bae","status":"pending","ip_address":"10.73.128.61","created_at":"2022-04-13T15:12:05.295979Z","updated_at":"2022-04-13T15:15:33.248500047Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","reverse":"51-159-74-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T15:15:02.497127Z","updated_at":"2022-04-13T15:15:03.057532Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-04-13T15:15:33.219964143Z","updated_at":"2022-04-13T15:15:33.219964143Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-159-74-251.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ce03f48a-e7cb-4419-979f-f107c2e1776c/certificates
    method: POST
  response:
    body: '{"id":"99d4bbad-92bd-4bf1-9e9a-4521b834984f","type":"letsencryt","status":"pending","common_name":"51-159-74-251.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","name":"test-lb","description":"","status":"ready","instances":[{"id":"dd4eb294-2d97-4b99-8099-7f9ba8100bae","status":"pending","ip_address":"10.73.128.61","created_at":"2022-04-13T15:12:05.295979Z","updated_at":"2022-04-13T15:15:33.248500Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d04f5864-953c-445a-95e8-a6b300132422","ip_address":"51.159.74.251","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"ce03f48a-e7cb-4419-979f-f107c2e1776c","reverse":"51-159-74-251.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-13T15:15:02.497127Z","updated_at":"2022-04-13T15:15:33.348277353Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert-front-end","created_at":"2022-04-13T15:15:33.326601272Z","updated_at":"2022-04-13T15:15:33.326601272Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/99d4bbad-92bd-4bf1-9e9a-4521b834984f
    method: GET
  response:
    body: '{"id":"99d4bbad-92bd-4bf1-9e9a-4521b834984f","type":"letsencryt","status":"pending","common_name":"51-159-74-251.lb.fr-par.scw.cloud","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"ce03f48a-e7cb-4419-979f-f107c2[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ecd6cc1a-8992-4191-9404-0d5299c8f5b5
    method: GET
  response:
    body: '{"id":"ecd6cc1a-8992-4191-9404-0d5299c8f5b5","name":"tf-lb-bkd-heuristic-hoover","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_delay":60000,"check_timeout":30000,"check_max_retries"[...]
[...]
- request:
    body: '{"changes":[{"delete":{"id":"a6e80f98-bfc5-4a1e-ad14-8176f2e0bafb"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ce03f48a-e7cb-4419-979f-f107c2e1776c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
