---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa","ip_address":"51.159.112.36","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-36.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa
    method: GET
  response:
    body: '{"id":"a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa","ip_address":"51.159.112.36","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-36.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-26T12:55:02.833258905Z","description":"","frontend_count":0,"id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","instances":[],"ip":[{"id":"a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa","ip_address":"51.159.112.36","lb_id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-36.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-26T12:55:02.833258905Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4587037e-6dbd-4b06-a0e2-77aaaa9d7af9
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-26T12:55:02.833259Z","description":"","frontend_count":0,"id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","instances":[{"created_at":"2023-05-26T12:52:39.196548Z","id":"783dae04-5459-4153-aba2-29eb1ab5218c","ip_address":"10.76.98.17","region":"fr-par","status":"unknown","updated_at":"2023-05-26T12:55:03.053270Z","zone":"fr-par-1"}],"ip":[{"id":"a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa","ip_address":"51.159.112.36","lb_id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-36.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-26T12:55:03.065501Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4587037e-6dbd-4b06-a0e2-77aaaa9d7af9/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-stupefied-poitras","forward_protocol":"http","forward_port":443,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":443,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4587037e-6dbd-4b06-a0e2-77aaaa9d7af9/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-26T12:55:33.636417720Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},"id":"3b81f3d3-dcc7-4ceb-afae-0b767754fd6b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-26T12:55:02.833259Z","description":"","frontend_count":0,"id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","instances":[{"created_at":"2023-05-26T12:52:39.196548Z","id":"783dae04-5459-4153-aba2-29eb1ab5218c","ip_address":"10.76.98.17","region":"fr-par","status":"pending","updated_at":"2023-05-26T12:55:33.661786815Z","zone":"fr-par-1"}],"ip":[{"id":"a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa","ip_address":"51.159.112.36","lb_id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-36.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-26T12:55:04.966633Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-stupefied-poitras","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-26T12:55:33.636417720Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-cert-front-end","letsencrypt":{"common_name":"51-159-112-36.lb.fr-par.scw.cloud","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4587037e-6dbd-4b06-a0e2-77aaaa9d7af9/certificates
    method: POST
  response:
    body: '{"common_name":"51-159-112-36.lb.fr-par.scw.cloud","created_at":"2023-05-26T12:55:33.663356978Z","fingerprint":"","id":"9a4b0542-47ad-49f5-b4ee-f899c78c65a5","lb":{"backend_count":1,"created_at":"2023-05-26T12:55:02.833259Z","description":"","frontend_count":0,"id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","instances":[{"created_at":"2023-05-26T12:52:39.196548Z","id":"783dae04-5459-4153-aba2-29eb1ab5218c","ip_address":"10.76.98.17","region":"fr-par","status":"ready","updated_at":"2023-05-26T12:55:03.609471Z","zone":"fr-par-1"}],"ip":[{"id":"a3bcd2c4-a077-44cd-abc4-aa34bdbc78fa","ip_address":"51.159.112.36","lb_id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-112-36.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-26T12:55:33.679042193Z","zone":"fr-par-1"},"name":"test-cert-front-end","not_valid_after":"0001-01-01T00:00:00Z","not_valid_before":"0001-01-01T00:00:00Z","status":"pending","status_details":null,"subject_alternative_name":[],"type":"letsencryt","updated_at":"2023-05-26T12:55:33.663356978Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/9a4b0542-47ad-49f5-b4ee-f899c78c65a5
    method: GET
  response:
    body: '{"common_name":"51-159-112-36.lb.fr-par.scw.cloud","created_at":"2023-05-26T12:55:33.663357Z","fingerprint":"","id":"9a4b0542-47ad-49f5-b4ee-f899c78c65a5","lb":{"backend_count":1,"created_at":"2023-05-26T12:55:02.833259Z","description":"","frontend_count":0,"id":"4587037e-6dbd-4b06-a0e2-77aaaa9d7af9","ins[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3b81f3d3-dcc7-4ceb-afae-0b767754fd6b
    method: GET
  response:
    body: '{"created_at":"2023-05-26T12:55:33.636418Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-reverent-golick","inbound_port":443,"backend_id":"3b81f3d3-dcc7-4ceb-afae-0b767754fd6b","certificate_ids":["9a4b0542-47ad-49f5-b4ee-f899c78c65a5"],"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4587037e-6dbd-4b06-a0e2-77aaaa9d7af9/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-26T12:55:33.636418Z","failover_host":null,"forward_port":443,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":443,"tcp_config":{},"transient_check_delay":null},"id":"3b81f3d3-dcc7-4ceb-afae-0b767754fd6b","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-26T12:55:02.833259Z","description":"","frontend_count":1,"id":"4587[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-crazy-roentgen","inbound_port":443,"backend_id":"3b81f3d3-dcc7-4ceb-afae-0b767754fd6b","certificate_ids":["9a4b0542-47ad-49f5-b4ee-f899c78c65a5"],"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/147dffa5-e4f6-4e55-951d-a69d24b7a080
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-05-26T12:55:33.636418Z","[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/147dffa5-e4f6-4e55-951d-a69d24b7a080/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/9a4b0542-47ad-49f5-b4ee-f899c78c65a5
    method: GET
  response:
    body: '{"message":"certificate not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4587037e-6dbd-4b06-a0e2-77aaaa9d7af9?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
