---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"73ab94b1-85bb-4a22-9b0a-59a8ca95381d","ip_address":"195.154.69.83","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-69-83.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/73ab94b1-85bb-4a22-9b0a-59a8ca95381d
    method: GET
  response:
    body: '{"id":"73ab94b1-85bb-4a22-9b0a-59a8ca95381d","ip_address":"195.154.69.83","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-69-83.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"73ab94b1-85bb-4a22-9b0a-59a8ca95381d","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"d918adb2-11b1-49da-8d53-881226db3e80","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"73ab94b1-85bb-4a22-9b0a-59a8ca95381d","ip_address":"195.154.69.83","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"d918adb2-11b1-49da-8d53-881226db3e80","reverse":"195-154-69-83.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T13:17:53.261165293Z","updated_at":"2022-03-28T13:17:53.261165293Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d918adb2-11b1-49da-8d53-881226db3e80
    method: GET
  response:
    body: '{"id":"d918adb2-11b1-49da-8d53-881226db3e80","name":"test-lb","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"73ab94b1-85bb-4a22-9b0a-59a8ca95381d","ip_address":"195.154.69.83","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"d918adb2-11b1-49da-8d53-881226db3e80","reverse":"195-154-69-83.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T13:17:53.261165Z","updated_at":"2022-03-28T13:17:53.261165Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"changes":[{"add":{"records":[{"data":"195.154.69.83","name":"test","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"id":"a69e4dba-cfd5-4b2d-9bc0-ce0696bbc3ff","data":"195.154.69.83","name":"test","priority":1,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=test&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"total_count":1,"records":[{"id":"a69e4dba-cfd5-4b2d-9bc0-ce0696bbc3ff","data":"195.154.69.83","name":"test","priority":1,"ttl":3600,"type":"A","comment":null}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: '{"total_count":1,"dns_zones":[{"domain":"scaleway-terraform.com","subdomain":"","ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"status":"pending","message":null,"updated_at":"2022-03-28T13:17:53Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d918adb2-11b1-49da-8d53-881226db3e80/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-cert-front-end2","letsencrypt":{"common_name":"test.scaleway-terraform.com","subject_alternative_name":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d918adb2-11b1-49da-8d53-881226db3e80/certificates
    method: POST
  response:
    body: '{"id":"343db7bf-2960-4c84-88a3-240e0fce0c64","type":"letsencryt","status":"pending","common_name":"test.scaleway-terraform.com","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"d918adb2-11b1-49da-8d53-881226db3e80","name":"test-lb","description":"","status":"ready","instances":[{"id":"24d77cbd-b504-4560-9732-51ecb356f59c","status":"ready","ip_address":"10.69.144.87","created_at":"2022-03-28T13:15:25.388223Z","updated_at":"2022-03-28T13:17:53.730569Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"73ab94b1-85bb-4a22-9b0a-59a8ca95381d","ip_address":"195.154.69.83","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"d918adb2-11b1-49da-8d53-881226db3e80","reverse":"195-154-69-83.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T13:17:53.261165Z","updated_at":"2022-03-28T13:18:24.030630522Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"name":"test-cert-front-end2","created_at":"2022-03-28T13:18:24.016325718Z","updated_at":"2022-03-28T13:18:24.016325718Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-lb-bkd-naughty-dewdney","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d918adb2-11b1-49da-8d53-881226db3e80/backends
    method: POST
  response:
    body: '{"id":"84b1d24a-c022-4085-973d-955ba5d9d268","name":"tf-lb-bkd-naughty-dewdney","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"d918adb2-11b1-49da-8d53-881226db3e80","name":"test-lb","description":"","status":"ready","instances":[{"id":"24d77cbd-b504-4560-9732-51ecb356f59c","status":"pending","ip_address":"10.69.144.87","created_at":"2022-03-28T13:15:25.388223Z","updated_at":"2022-03-28T13:18:24.023704476Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"73ab94b1-85bb-4a22-9b0a-59a8ca95381d","ip_address":"195.154.69.83","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"d918adb2-11b1-49da-8d53-881226db3e80","reverse":"195-154-69-83.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-03-28T13:17:53.261165Z","updated_at":"2022-03-28T13:17:54.030688Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-03-28T13:18:23.994408406Z","updated_at":"2022-03-28T13:18:23.994408406Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/certificates/343db7bf-2960-4c84-88a3-240e0fce0c64
    method: GET
  response:
    body: '{"id":"343db7bf-2960-4c84-88a3-240e0fce0c64","type":"letsencryt","status":"pending","common_name":"test.scaleway-terraform.com","subject_alternative_name":[],"fingerprint":"","not_valid_before":"0001-01-01T00:00:00Z","not_valid_after":"0001-01-01T00:00:00Z","lb":{"id":"d918adb2-11b1-49da-8d53-881226db3e80[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/84b1d24a-c022-4085-973d-955ba5d9d268
    method: GET
  response:
    body: '{"id":"84b1d24a-c022-4085-973d-955ba5d9d268","name":"tf-lb-bkd-naughty-dewdney","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-wonderful-maxwell","inbound_port":80,"backend_id":"84b1d24a-c022-4085-973d-955ba5d9d268","certificate_id":null,"certificate_ids":["7001f6f4-514d-4d6e-a354-cbfa6fc399f5","343db7bf-2960-4c84-88a3-240e0fce0c64"],"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d918adb2-11b1-49da-8d53-881226db3e80/frontends
    method: POST
  response:
    body: '{"id":"b240fe5b-2adc-4b0f-9dae-af14dc3e76c3","name":"tf-lb-frt-wonderful-maxwell","inbound_port":80,"backend":{"id":"84b1d24a-c022-4085-973d-955ba5d9d268","name":"tf-lb-bkd-naughty-dewdney","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"d918adb2-11b1-49da-8d53-881226db3e80","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b240fe5b-2adc-4b0f-9dae-af14dc3e76c3/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b240fe5b-2adc-4b0f-9dae-af14dc3e76c3
    method: GET
  response:
    body: '{"id":"b240fe5b-2adc-4b0f-9dae-af14dc3e76c3","name":"tf-lb-frt-wonderful-maxwell","inbound_port":80,"backend":{"id":"84b1d24a-c022-4085-973d-955ba5d9d268","name":"tf-lb-bkd-naughty-dewdney","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sess[...]
[...]
- request:
    body: '{"changes":[{"delete":{"id":"a69e4dba-cfd5-4b2d-9bc0-ce0696bbc3ff"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/d918adb2-11b1-49da-8d53-881226db3e80?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
