---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/6d04dadc-925a-4a56-a4b3-69d225e2230a
    method: GET
  response:
    body: '{"id":"6d04dadc-925a-4a56-a4b3-69d225e2230a","ip_address":"51.159.113.161","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-113-161.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-to-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-13T16:02:12.196198Z","dhcp_enabled":true,"id":"07f73205-8d98-4e9d-92d0-dc69aa6d87d3","name":"pn-with-lb-to-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:02:12.196198Z","id":"6b43f699-7aee-4902-b037-0cf54ac17043","subnet":"172.16.56.0/22","updated_at":"2023-10-13T16:02:12.196198Z"},{"created_at":"2023-10-13T16:02:12.196198Z","id":"e25efd56-1c28-44e3-97f5-78560a86050e","subnet":"fd46:78ab:30b8:717::/64","updated_at":"2023-10-13T16:02:12.196198Z"}],"tags":[],"updated_at":"2023-10-13T16:02:12.196198Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/07f73205-8d98-4e9d-92d0-dc69aa6d87d3
    method: GET
  response:
    body: '{"created_at":"2023-10-13T16:02:12.196198Z","dhcp_enabled":true,"id":"07f73205-8d98-4e9d-92d0-dc69aa6d87d3","name":"pn-with-lb-to-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:02:12.196198Z","id":"6b43f699-7aee-4902-b037-0cf54ac17043","subnet":"172.16.56.0/22","updated_at":"2023-10-13T16:02:12.196198Z"},{"created_at":"2023-10-13T16:02:12.196198Z","id":"e25efd56-1c28-44e3-97f5-78560a86050e","subnet":"fd46:78ab:30b8:717::/64","updated_at":"2023-10-13T16:02:12.196198Z"}],"tags":[],"updated_at":"2023-10-13T16:02:12.196198Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
