---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"6d8d97c0-44b3-4780-a5f1-fc5c561f9352","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-19T15:15:37.026069Z","updated_at":"2021-10-19T15:15:37.026069Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/6d8d97c0-44b3-4780-a5f1-fc5c561f9352
    method: GET
  response:
    body: '{"id":"6d8d97c0-44b3-4780-a5f1-fc5c561f9352","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-19T15:15:37.026069Z","updated_at":"2021-10-19T15:15:37.026069Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cd6ee578-e9b5-4daa-b8d8-97310e5369a4","ip_address":"51.159.10.224","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-10-224.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cd6ee578-e9b5-4daa-b8d8-97310e5369a4
    method: GET
  response:
    body: '{"id":"cd6ee578-e9b5-4daa-b8d8-97310e5369a4","ip_address":"51.159.10.224","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-10-224.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"cd6ee578-e9b5-4daa-b8d8-97310e5369a4","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e93c5a38-ac58-4d30-9958-d443bdca806b","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cd6ee578-e9b5-4daa-b8d8-97310e5369a4","ip_address":"51.159.10.224","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e93c5a38-ac58-4d30-9958-d443bdca806b","reverse":"51-159-10-224.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-19T15:15:38.952441428Z","updated_at":"2021-10-19T15:15:38.952441428Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e93c5a38-ac58-4d30-9958-d443bdca806b
    method: GET
  response:
    body: '{"id":"e93c5a38-ac58-4d30-9958-d443bdca806b","name":"test-lb","description":"","status":"pending","instances":[{"id":"8e07ffd1-cd27-495b-a19b-e453e4525085","status":"unknown","ip_address":"10.65.48.127","created_at":"2021-10-19T15:14:09.764566Z","updated_at":"2021-10-19T15:15:39.125711Z","region":"fr-par","zone":"[...]
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e93c5a38-ac58-4d30-9958-d443bdca806b/private-networks/6d8d97c0-44b3-4780-a5f1-fc5c561f9352/attach
    method: POST
  response:
    body: '{"lb":{"id":"e93c5a38-ac58-4d30-9958-d443bdca806b","name":"test-lb","description":"","status":"ready","instances":[{"id":"8e07ffd1-cd27-495b-a19b-e453e4525085","status":"ready","ip_address":"10.65.48.127","created_at":"2021-10-19T15:14:09.764566Z","updated_at":"2021-10-19T15:15:39.343269Z","region":"fr-par","zone":"fr-par-1"},{"id":"a6e4992a-2f98-49e3-988b-5403fe90e14e","status":"ready","ip_address":"10.68.170.43","created_at":"2021-10-18T21:11:34.132981Z","updated_at":"2021-10-19T15:15:39.692702Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cd6ee578-e9b5-4daa-b8d8-97310e5369a4","ip_address":"51.159.10.224","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e93c5a38-ac58-4d30-9958-d443bdca806b","reverse":"51-159-10-224.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-19T15:15:38.952441Z","updated_at":"2021-10-19T15:15:40.020903Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"6d8d97c0-44b3-4780-a5f1-fc5c561f9352","status":"pending","created_at":"2021-10-19T15:15:43.246674787Z","updated_at":"2021-10-19T15:15:43.246674787Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e93c5a38-ac58-4d30-9958-d443bdca806b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"e93c5a38-ac58-4d30-9958-d443bdca806b","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cd6ee578-e9b5-4daa-b8d8-97310e5369a4","ip_address":"51.159.10.224","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e93c5a38-ac58-4d30-9958-d443bdca806b","reverse":"51-159-10-224.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-19T15:15:38.952441Z","updated_at":"2021-10-19T15:15:40.020903Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"6d8d97c0-44b3-4780-a5f1-fc5c561f9352","status":"pending","created_at":"2021-10-19T15:15:43.246675Z","updated_at":"2021-10-19T15:15:43.246675Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e93c5a38-ac58-4d30-9958-d443bdca806b/private-networks/6d8d97c0-44b3-4780-a5f1-fc5c561f9352/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e93c5a38-ac58-4d30-9958-d443bdca806b?release_ip=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cd6ee578-e9b5-4daa-b8d8-97310e5369a4
    method: DELETE
  response:
    body: '{"message":"ips not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
