---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn-with-dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"0e90ee3d-4880-4f78-a287-4f7a3357663f","name":"test-lb-pn-with-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:46:41.229596Z","updated_at":"2021-10-22T09:46:41.229596Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/0e90ee3d-4880-4f78-a287-4f7a3357663f
    method: GET
  response:
    body: '{"id":"0e90ee3d-4880-4f78-a287-4f7a3357663f","name":"test-lb-pn-with-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:46:41.229596Z","updated_at":"2021-10-22T09:46:41.229596Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cb8e3551-c3e0-4bbe-9545-edd8348f1943","ip_address":"51.159.10.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-10-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cb8e3551-c3e0-4bbe-9545-edd8348f1943
    method: GET
  response:
    body: '{"id":"cb8e3551-c3e0-4bbe-9545-edd8348f1943","ip_address":"51.159.10.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-10-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-with-dhcp","description":"","ip_id":"cb8e3551-c3e0-4bbe-9545-edd8348f1943","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"c5adce06-b466-412d-a3be-8664b5fae2db","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cb8e3551-c3e0-4bbe-9545-edd8348f1943","ip_address":"51.159.10.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"c5adce06-b466-412d-a3be-8664b5fae2db","reverse":"51-159-10-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:46:42.998049577Z","updated_at":"2021-10-22T09:46:42.998049577Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5adce06-b466-412d-a3be-8664b5fae2db
    method: GET
  response:
    body: '{"id":"c5adce06-b466-412d-a3be-8664b5fae2db","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[{"id":"18752d74-6e96-438f-ac95-bbb056a647bf","status":"unknown","ip_address":"10.70.56.3","created_at":"2021-10-22T09:42:57.234844Z","updated_at":"2021-10-22T09:46:43.146699Z","region":"fr-par",[...]
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5adce06-b466-412d-a3be-8664b5fae2db/private-networks/0e90ee3d-4880-4f78-a287-4f7a3357663f/attach
    method: POST
  response:
    body: '{"lb":{"id":"c5adce06-b466-412d-a3be-8664b5fae2db","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[{"id":"18752d74-6e96-438f-ac95-bbb056a647bf","status":"ready","ip_address":"10.70.56.3","created_at":"2021-10-22T09:42:57.234844Z","updated_at":"2021-10-22T09:46:43.431958Z","region":"fr-par","zone":"fr-par-1"},{"id":"9f52b1cd-4fa8-4851-9c64-5289c1952a99","status":"ready","ip_address":"10.64.78.113","created_at":"2021-10-22T09:40:49.668110Z","updated_at":"2021-10-22T09:46:43.648441Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cb8e3551-c3e0-4bbe-9545-edd8348f1943","ip_address":"51.159.10.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"c5adce06-b466-412d-a3be-8664b5fae2db","reverse":"51-159-10-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:46:42.998050Z","updated_at":"2021-10-22T09:46:43.907706Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"0e90ee3d-4880-4f78-a287-4f7a3357663f","status":"pending","created_at":"2021-10-22T09:46:47.255487938Z","updated_at":"2021-10-22T09:46:47.255487938Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5adce06-b466-412d-a3be-8664b5fae2db/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"c5adce06-b466-412d-a3be-8664b5fae2db","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cb8e3551-c3e0-4bbe-9545-edd8348f1943","ip_address":"51.159.10.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"c5adce06-b466-412d-a3be-8664b5fae2db","reverse":"51-159-10-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:46:42.998050Z","updated_at":"2021-10-22T09:46:43.907706Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"0e90ee3d-4880-4f78-a287-4f7a3357663f","status":"pending","created_at":"2021-10-22T09:46:47.255488Z","updated_at":"2021-10-22T09:46:47.255488Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5adce06-b466-412d-a3be-8664b5fae2db/private-networks/0e90ee3d-4880-4f78-a287-4f7a3357663f/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5adce06-b466-412d-a3be-8664b5fae2db?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
