---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"b9fbdb61-1696-4d13-ba12-048dc7c5de02","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T09:57:53.232027Z","updated_at":"2021-10-20T09:57:53.232027Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b9fbdb61-1696-4d13-ba12-048dc7c5de02
    method: GET
  response:
    body: '{"id":"b9fbdb61-1696-4d13-ba12-048dc7c5de02","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T09:57:53.232027Z","updated_at":"2021-10-20T09:57:53.232027Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cd285e94-fa14-4966-8e5b-eef95f522333","ip_address":"51.159.9.73","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-73.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cd285e94-fa14-4966-8e5b-eef95f522333
    method: GET
  response:
    body: '{"id":"cd285e94-fa14-4966-8e5b-eef95f522333","ip_address":"51.159.9.73","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-73.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"cd285e94-fa14-4966-8e5b-eef95f522333","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cd285e94-fa14-4966-8e5b-eef95f522333","ip_address":"51.159.9.73","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","reverse":"51-159-9-73.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T09:57:55.314854138Z","updated_at":"2021-10-20T09:57:55.314854138Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0635bee-69c8-4a82-95cf-2bf1f1093cd3
    method: GET
  response:
    body: '{"id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cd285e94-fa14-4966-8e5b-eef95f522333","ip_address":"51.159.9.73","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","reverse":"51-159-9-73.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T09:57:55.314854Z","updated_at":"2021-10-20T09:57:55.314854Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0635bee-69c8-4a82-95cf-2bf1f1093cd3/private-networks/b9fbdb61-1696-4d13-ba12-048dc7c5de02/attach
    method: POST
  response:
    body: '{"lb":{"id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","name":"test-lb","description":"","status":"ready","instances":[{"id":"dd6c8996-8ee6-4c40-9293-0ede704e5358","status":"ready","ip_address":"10.68.140.45","created_at":"2021-10-20T09:27:37.547852Z","updated_at":"2021-10-20T09:57:55.781107Z","region":"fr-par","zone":"fr-par-1"},{"id":"adef543b-d5d5-4dd9-9bb7-c4c2f33e1074","status":"ready","ip_address":"10.65.78.13","created_at":"2021-10-20T09:51:57.420843Z","updated_at":"2021-10-20T09:57:56.165843Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cd285e94-fa14-4966-8e5b-eef95f522333","ip_address":"51.159.9.73","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","reverse":"51-159-9-73.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T09:57:55.314854Z","updated_at":"2021-10-20T09:57:56.492206Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"b9fbdb61-1696-4d13-ba12-048dc7c5de02","status":"pending","created_at":"2021-10-20T09:57:59.909582864Z","updated_at":"2021-10-20T09:57:59.909582864Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0635bee-69c8-4a82-95cf-2bf1f1093cd3/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cd285e94-fa14-4966-8e5b-eef95f522333","ip_address":"51.159.9.73","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e0635bee-69c8-4a82-95cf-2bf1f1093cd3","reverse":"51-159-9-73.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T09:57:55.314854Z","updated_at":"2021-10-20T09:57:56.492206Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"b9fbdb61-1696-4d13-ba12-048dc7c5de02","status":"pending","created_at":"2021-10-20T09:57:59.909583Z","updated_at":"2021-10-20T09:57:59.909583Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0635bee-69c8-4a82-95cf-2bf1f1093cd3/private-networks/b9fbdb61-1696-4d13-ba12-048dc7c5de02/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0635bee-69c8-4a82-95cf-2bf1f1093cd3?release_ip=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cd285e94-fa14-4966-8e5b-eef95f522333
    method: DELETE
  response:
    body: '{"message":"ips not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
