---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"bd7bf351-b17c-4259-b90c-e8b3af0ec426","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-21T12:59:18.933319Z","updated_at":"2021-10-21T12:59:18.933319Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/bd7bf351-b17c-4259-b90c-e8b3af0ec426
    method: GET
  response:
    body: '{"id":"bd7bf351-b17c-4259-b90c-e8b3af0ec426","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-21T12:59:18.933319Z","updated_at":"2021-10-21T12:59:18.933319Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ccd3a593-fdc4-476c-803f-2330a1cef4fe","ip_address":"51.159.8.229","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-8-229.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ccd3a593-fdc4-476c-803f-2330a1cef4fe
    method: GET
  response:
    body: '{"id":"ccd3a593-fdc4-476c-803f-2330a1cef4fe","ip_address":"51.159.8.229","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-8-229.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"ccd3a593-fdc4-476c-803f-2330a1cef4fe","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"553e4c2e-8192-410d-ade0-993737699fb7","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ccd3a593-fdc4-476c-803f-2330a1cef4fe","ip_address":"51.159.8.229","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"553e4c2e-8192-410d-ade0-993737699fb7","reverse":"51-159-8-229.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:59:20.737282713Z","updated_at":"2021-10-21T12:59:20.737282713Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/553e4c2e-8192-410d-ade0-993737699fb7
    method: GET
  response:
    body: '{"id":"553e4c2e-8192-410d-ade0-993737699fb7","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ccd3a593-fdc4-476c-803f-2330a1cef4fe","ip_address":"51.159.8.229","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"553e4c2e-8192-410d-ade0-993737699fb7","reverse":"51-159-8-229.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:59:20.737283Z","updated_at":"2021-10-21T12:59:20.737283Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/553e4c2e-8192-410d-ade0-993737699fb7/private-networks/bd7bf351-b17c-4259-b90c-e8b3af0ec426/attach
    method: POST
  response:
    body: '{"lb":{"id":"553e4c2e-8192-410d-ade0-993737699fb7","name":"test-lb","description":"","status":"ready","instances":[{"id":"cb594220-df53-4361-ad3a-6a337b9709b0","status":"ready","ip_address":"10.69.136.47","created_at":"2021-10-21T12:57:20.139674Z","updated_at":"2021-10-21T12:59:21.316317Z","region":"fr-par","zone":"fr-par-1"},{"id":"090ad8df-22aa-4cee-a87f-689a4cdb529a","status":"ready","ip_address":"10.64.86.97","created_at":"2021-10-21T12:57:17.436925Z","updated_at":"2021-10-21T12:59:21.916565Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ccd3a593-fdc4-476c-803f-2330a1cef4fe","ip_address":"51.159.8.229","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"553e4c2e-8192-410d-ade0-993737699fb7","reverse":"51-159-8-229.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:59:20.737283Z","updated_at":"2021-10-21T12:59:22.242530Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"bd7bf351-b17c-4259-b90c-e8b3af0ec426","status":"pending","created_at":"2021-10-21T12:59:25.074673670Z","updated_at":"2021-10-21T12:59:25.074673670Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/553e4c2e-8192-410d-ade0-993737699fb7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"553e4c2e-8192-410d-ade0-993737699fb7","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ccd3a593-fdc4-476c-803f-2330a1cef4fe","ip_address":"51.159.8.229","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"553e4c2e-8192-410d-ade0-993737699fb7","reverse":"51-159-8-229.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:59:20.737283Z","updated_at":"2021-10-21T12:59:22.242530Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"bd7bf351-b17c-4259-b90c-e8b3af0ec426","status":"pending","created_at":"2021-10-21T12:59:25.074674Z","updated_at":"2021-10-21T12:59:25.074674Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/553e4c2e-8192-410d-ade0-993737699fb7/private-networks/bd7bf351-b17c-4259-b90c-e8b3af0ec426/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/553e4c2e-8192-410d-ade0-993737699fb7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
