---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn-with-dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"8619d316-8b3c-49ed-a90c-23d3cdcc8a89","name":"test-lb-pn-with-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:42:51.164643Z","updated_at":"2021-10-22T09:42:51.164643Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/8619d316-8b3c-49ed-a90c-23d3cdcc8a89
    method: GET
  response:
    body: '{"id":"8619d316-8b3c-49ed-a90c-23d3cdcc8a89","name":"test-lb-pn-with-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:42:51.164643Z","updated_at":"2021-10-22T09:42:51.164643Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b4a8414a-7112-47e9-b526-ec3cf6191acc","ip_address":"51.159.8.208","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-8-208.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b4a8414a-7112-47e9-b526-ec3cf6191acc
    method: GET
  response:
    body: '{"id":"b4a8414a-7112-47e9-b526-ec3cf6191acc","ip_address":"51.159.8.208","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-8-208.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-with-dhcp","description":"","ip_id":"b4a8414a-7112-47e9-b526-ec3cf6191acc","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"775c8047-eef1-4d9a-9346-74cdf6f61204","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"b4a8414a-7112-47e9-b526-ec3cf6191acc","ip_address":"51.159.8.208","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"775c8047-eef1-4d9a-9346-74cdf6f61204","reverse":"51-159-8-208.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:42:53.159501747Z","updated_at":"2021-10-22T09:42:53.159501747Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/775c8047-eef1-4d9a-9346-74cdf6f61204
    method: GET
  response:
    body: '{"id":"775c8047-eef1-4d9a-9346-74cdf6f61204","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[{"id":"3f5e0573-be57-48ef-8f6d-90cb87438b78","status":"unknown","ip_address":"10.74.34.95","created_at":"2021-10-22T09:41:49.632656Z","updated_at":"2021-10-22T09:42:53.355950Z","region":"fr-par"[...]
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/775c8047-eef1-4d9a-9346-74cdf6f61204/private-networks/8619d316-8b3c-49ed-a90c-23d3cdcc8a89/attach
    method: POST
  response:
    body: '{"lb":{"id":"775c8047-eef1-4d9a-9346-74cdf6f61204","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[{"id":"3f5e0573-be57-48ef-8f6d-90cb87438b78","status":"ready","ip_address":"10.74.34.95","created_at":"2021-10-22T09:41:49.632656Z","updated_at":"2021-10-22T09:42:53.720745Z","region":"fr-par","zone":"fr-par-1"},{"id":"12bd7328-d37f-4590-b151-ca03e111f3dc","status":"ready","ip_address":"10.73.148.23","created_at":"2021-10-22T09:36:20.181918Z","updated_at":"2021-10-22T09:42:54.251743Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"b4a8414a-7112-47e9-b526-ec3cf6191acc","ip_address":"51.159.8.208","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"775c8047-eef1-4d9a-9346-74cdf6f61204","reverse":"51-159-8-208.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:42:53.159502Z","updated_at":"2021-10-22T09:42:54.494724Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"8619d316-8b3c-49ed-a90c-23d3cdcc8a89","status":"pending","created_at":"2021-10-22T09:42:57.634185077Z","updated_at":"2021-10-22T09:42:57.634185077Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/775c8047-eef1-4d9a-9346-74cdf6f61204/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"775c8047-eef1-4d9a-9346-74cdf6f61204","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"b4a8414a-7112-47e9-b526-ec3cf6191acc","ip_address":"51.159.8.208","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"775c8047-eef1-4d9a-9346-74cdf6f61204","reverse":"51-159-8-208.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:42:53.159502Z","updated_at":"2021-10-22T09:42:54.494724Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"8619d316-8b3c-49ed-a90c-23d3cdcc8a89","status":"pending","created_at":"2021-10-22T09:42:57.634185Z","updated_at":"2021-10-22T09:42:57.634185Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/775c8047-eef1-4d9a-9346-74cdf6f61204/private-networks/8619d316-8b3c-49ed-a90c-23d3cdcc8a89/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/775c8047-eef1-4d9a-9346-74cdf6f61204?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
