---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"1922dcf0-10d7-41d5-a505-30c8185cb408","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:09:48.085101Z","updated_at":"2021-10-20T16:09:48.085101Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/1922dcf0-10d7-41d5-a505-30c8185cb408
    method: GET
  response:
    body: '{"id":"1922dcf0-10d7-41d5-a505-30c8185cb408","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:09:48.085101Z","updated_at":"2021-10-20T16:09:48.085101Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cc33a75e-4f0b-477d-9475-bda59710a594","ip_address":"51.159.27.5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-27-5.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cc33a75e-4f0b-477d-9475-bda59710a594
    method: GET
  response:
    body: '{"id":"cc33a75e-4f0b-477d-9475-bda59710a594","ip_address":"51.159.27.5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-27-5.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"cc33a75e-4f0b-477d-9475-bda59710a594","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cc33a75e-4f0b-477d-9475-bda59710a594","ip_address":"51.159.27.5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","reverse":"51-159-27-5.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T16:09:50.133021931Z","updated_at":"2021-10-20T16:09:50.133021931Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f4cd60d3-2cbd-4b42-a477-6cfb85f5a366
    method: GET
  response:
    body: '{"id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cc33a75e-4f0b-477d-9475-bda59710a594","ip_address":"51.159.27.5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","reverse":"51-159-27-5.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T16:09:50.133022Z","updated_at":"2021-10-20T16:09:50.133022Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f4cd60d3-2cbd-4b42-a477-6cfb85f5a366/private-networks/1922dcf0-10d7-41d5-a505-30c8185cb408/attach
    method: POST
  response:
    body: '{"lb":{"id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","name":"test-lb","description":"","status":"ready","instances":[{"id":"7d8c597f-a9a8-4a28-b5fe-d69d2e2b2596","status":"ready","ip_address":"10.68.214.11","created_at":"2021-10-20T16:00:11.509139Z","updated_at":"2021-10-20T16:09:51.260017Z","region":"fr-par","zone":"fr-par-1"},{"id":"04c47cf0-f42b-4e2a-876f-cfe592a9ae0b","status":"ready","ip_address":"10.72.82.9","created_at":"2021-10-20T16:00:27.260228Z","updated_at":"2021-10-20T16:09:53.659892Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cc33a75e-4f0b-477d-9475-bda59710a594","ip_address":"51.159.27.5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","reverse":"51-159-27-5.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T16:09:50.133022Z","updated_at":"2021-10-20T16:09:55.606910Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"1922dcf0-10d7-41d5-a505-30c8185cb408","status":"pending","created_at":"2021-10-20T16:09:58.744529328Z","updated_at":"2021-10-20T16:09:58.744529328Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f4cd60d3-2cbd-4b42-a477-6cfb85f5a366/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cc33a75e-4f0b-477d-9475-bda59710a594","ip_address":"51.159.27.5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f4cd60d3-2cbd-4b42-a477-6cfb85f5a366","reverse":"51-159-27-5.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T16:09:50.133022Z","updated_at":"2021-10-20T16:09:55.606910Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"1922dcf0-10d7-41d5-a505-30c8185cb408","status":"pending","created_at":"2021-10-20T16:09:58.744529Z","updated_at":"2021-10-20T16:09:58.744529Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f4cd60d3-2cbd-4b42-a477-6cfb85f5a366/private-networks/1922dcf0-10d7-41d5-a505-30c8185cb408/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f4cd60d3-2cbd-4b42-a477-6cfb85f5a366?release_ip=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cc33a75e-4f0b-477d-9475-bda59710a594
    method: GET
  response:
    body: '{"message":"ips not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"f38b7f54-713c-4210-84e4-d08cb58b3afd","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:05.492657Z","updated_at":"2021-10-20T16:10:05.492657Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/f38b7f54-713c-4210-84e4-d08cb58b3afd
    method: GET
  response:
    body: '{"id":"f38b7f54-713c-4210-84e4-d08cb58b3afd","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:05.492657Z","updated_at":"2021-10-20T16:10:05.492657Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"e1e64f1d-63f3-4c74-a73b-1b9e755b8af6","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:06.078949Z","updated_at":"2021-10-20T16:10:06.078949Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/e1e64f1d-63f3-4c74-a73b-1b9e755b8af6
    method: GET
  response:
    body: '{"id":"e1e64f1d-63f3-4c74-a73b-1b9e755b8af6","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:06.078949Z","updated_at":"2021-10-20T16:10:06.078949Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"e1e64f1d-63f3-4c74-a73b-1b9e755b8af6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"1660b402-137c-4e05-9e62-8451c7333ebd","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:06.281464Z","updated_at":"2021-10-20T16:10:06.281464Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"e1e64f1d-63f3-4c74-a73b-1b9e755b8af6","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:06.078949Z","updated_at":"2021-10-20T16:10:06.078949Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/1660b402-137c-4e05-9e62-8451c7333ebd
    method: GET
  response:
    body: '{"id":"1660b402-137c-4e05-9e62-8451c7333ebd","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:06.281464Z","updated_at":"2021-10-20T16:10:06.335656Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"e1e64f1d-63f3-4c74-a73b-1b9e755b8af6","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:06.078949Z","updated_at":"2021-10-20T16:10:06.078949Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"1660b402-137c-4e05-9e62-8451c7333ebd","private_network_id":"5a4fa5cc-7407-4eaa-b679-d8f10a21bc23","enable_masquerade":true,"dhcp_id":"f38b7f54-713c-4210-84e4-d08cb58b3afd","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"6cdf39bb-aa32-44f8-bdda-78220231f90b","created_at":"2021-10-20T16:10:36.794506Z","updated_at":"2021-10-20T16:10:36.794506Z","gateway_id":"1660b402-137c-4e05-9e62-8451c7333ebd","private_network_id":"5a4fa5cc-7407-4eaa-b679-d8f10a21bc23","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"f38b7f54-713c-4210-84e4-d08cb58b3afd","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:05.492657Z","updated_at":"2021-10-20T16:10:05.492657Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/6cdf39bb-aa32-44f8-bdda-78220231f90b
    method: GET
  response:
    body: '{"id":"6cdf39bb-aa32-44f8-bdda-78220231f90b","created_at":"2021-10-20T16:10:36.794506Z","updated_at":"2021-10-20T16:10:36.794506Z","gateway_id":"1660b402-137c-4e05-9e62-8451c7333ebd","private_network_id":"5a4fa5cc-7407-4eaa-b679-d8f10a21bc23","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"f38b7f54-713c-4210-84e4-d08cb58b3afd","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:10:05.492657Z","updated_at":"2021-10-20T16:10:05.492657Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/6cdf39bb-aa32-44f8-bdda-78220231f90b?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/f38b7f54-713c-4210-84e4-d08cb58b3afd
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"f38b7f54-713c-4210-84e4-d08cb58b3afd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/1660b402-137c-4e05-9e62-8451c7333ebd?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/e1e64f1d-63f3-4c74-a73b-1b9e755b8af6
    method: DELETE
  response:
    body: '{"help_message":"IP is attached to the running gateway with id 1660b402-137c-4e05-9e62-8451c7333ebd","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
[...]
