---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"31072968-e2ca-4f17-8f27-dc752cbcf564","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:47:03.291590Z","updated_at":"2021-10-22T09:47:03.291590Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/31072968-e2ca-4f17-8f27-dc752cbcf564
    method: GET
  response:
    body: '{"id":"31072968-e2ca-4f17-8f27-dc752cbcf564","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:47:03.291590Z","updated_at":"2021-10-22T09:47:03.291590Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cbc61176-87dd-4e12-a7d7-2645a056acb4","ip_address":"51.159.27.99","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-27-99.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cbc61176-87dd-4e12-a7d7-2645a056acb4
    method: GET
  response:
    body: '{"id":"cbc61176-87dd-4e12-a7d7-2645a056acb4","ip_address":"51.159.27.99","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-27-99.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"cbc61176-87dd-4e12-a7d7-2645a056acb4","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cbc61176-87dd-4e12-a7d7-2645a056acb4","ip_address":"51.159.27.99","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","reverse":"51-159-27-99.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:47:04.992103760Z","updated_at":"2021-10-22T09:47:04.992103760Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2ebd1991-67a1-4822-bf24-21f2abfed7e6
    method: GET
  response:
    body: '{"id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cbc61176-87dd-4e12-a7d7-2645a056acb4","ip_address":"51.159.27.99","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","reverse":"51-159-27-99.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:47:04.992104Z","updated_at":"2021-10-22T09:47:04.992104Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2ebd1991-67a1-4822-bf24-21f2abfed7e6/private-networks/31072968-e2ca-4f17-8f27-dc752cbcf564/attach
    method: POST
  response:
    body: '{"lb":{"id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","name":"test-lb","description":"","status":"ready","instances":[{"id":"d7724348-647d-4c26-b50a-66b34ec6290a","status":"ready","ip_address":"10.64.188.25","created_at":"2021-10-22T07:19:47.407913Z","updated_at":"2021-10-22T09:47:05.529423Z","region":"fr-par","zone":"fr-par-1"},{"id":"96e38350-687a-47a3-abf2-6b62c8f0ace3","status":"ready","ip_address":"10.64.158.123","created_at":"2021-10-22T07:26:07.246460Z","updated_at":"2021-10-22T09:47:05.838892Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cbc61176-87dd-4e12-a7d7-2645a056acb4","ip_address":"51.159.27.99","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","reverse":"51-159-27-99.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:47:04.992104Z","updated_at":"2021-10-22T09:47:06.092269Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"31072968-e2ca-4f17-8f27-dc752cbcf564","status":"pending","created_at":"2021-10-22T09:47:09.314216764Z","updated_at":"2021-10-22T09:47:09.314216764Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2ebd1991-67a1-4822-bf24-21f2abfed7e6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"cbc61176-87dd-4e12-a7d7-2645a056acb4","ip_address":"51.159.27.99","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"2ebd1991-67a1-4822-bf24-21f2abfed7e6","reverse":"51-159-27-99.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:47:04.992104Z","updated_at":"2021-10-22T09:47:06.092269Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"31072968-e2ca-4f17-8f27-dc752cbcf564","status":"pending","created_at":"2021-10-22T09:47:09.314217Z","updated_at":"2021-10-22T09:47:09.314217Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2ebd1991-67a1-4822-bf24-21f2abfed7e6/private-networks/31072968-e2ca-4f17-8f27-dc752cbcf564/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2ebd1991-67a1-4822-bf24-21f2abfed7e6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
