---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"afbabef1-f79e-4350-81be-98e67341dcb2","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:38:53.011189Z","updated_at":"2021-10-22T09:38:53.011189Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/afbabef1-f79e-4350-81be-98e67341dcb2
    method: GET
  response:
    body: '{"id":"afbabef1-f79e-4350-81be-98e67341dcb2","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-22T09:38:53.011189Z","updated_at":"2021-10-22T09:38:53.011189Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"9d2dceab-7f92-4306-9d47-49dee2e72911","ip_address":"51.159.9.39","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/9d2dceab-7f92-4306-9d47-49dee2e72911
    method: GET
  response:
    body: '{"id":"9d2dceab-7f92-4306-9d47-49dee2e72911","ip_address":"51.159.9.39","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"9d2dceab-7f92-4306-9d47-49dee2e72911","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"232c6182-2f35-4542-ae1d-aea9ebb52539","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"9d2dceab-7f92-4306-9d47-49dee2e72911","ip_address":"51.159.9.39","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"232c6182-2f35-4542-ae1d-aea9ebb52539","reverse":"51-159-9-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:38:54.736518060Z","updated_at":"2021-10-22T09:38:54.736518060Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/232c6182-2f35-4542-ae1d-aea9ebb52539
    method: GET
  response:
    body: '{"id":"232c6182-2f35-4542-ae1d-aea9ebb52539","name":"test-lb","description":"","status":"pending","instances":[{"id":"16c5467f-e963-4ae0-9334-881d9f073245","status":"unknown","ip_address":"10.68.214.41","created_at":"2021-10-22T09:36:17.237388Z","updated_at":"2021-10-22T09:38:54.956719Z","region":"fr-par","zone":"[...]
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/232c6182-2f35-4542-ae1d-aea9ebb52539/private-networks/afbabef1-f79e-4350-81be-98e67341dcb2/attach
    method: POST
  response:
    body: '{"lb":{"id":"232c6182-2f35-4542-ae1d-aea9ebb52539","name":"test-lb","description":"","status":"ready","instances":[{"id":"16c5467f-e963-4ae0-9334-881d9f073245","status":"ready","ip_address":"10.68.214.41","created_at":"2021-10-22T09:36:17.237388Z","updated_at":"2021-10-22T09:38:55.425030Z","region":"fr-par","zone":"fr-par-1"},{"id":"82ed8212-17fe-4174-a709-4034cd3c5513","status":"ready","ip_address":"10.70.84.29","created_at":"2021-10-22T09:36:00.042298Z","updated_at":"2021-10-22T09:38:55.949302Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"9d2dceab-7f92-4306-9d47-49dee2e72911","ip_address":"51.159.9.39","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"232c6182-2f35-4542-ae1d-aea9ebb52539","reverse":"51-159-9-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:38:54.736518Z","updated_at":"2021-10-22T09:38:56.233242Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"afbabef1-f79e-4350-81be-98e67341dcb2","status":"pending","created_at":"2021-10-22T09:38:59.535976613Z","updated_at":"2021-10-22T09:38:59.535976613Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/232c6182-2f35-4542-ae1d-aea9ebb52539/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"232c6182-2f35-4542-ae1d-aea9ebb52539","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"9d2dceab-7f92-4306-9d47-49dee2e72911","ip_address":"51.159.9.39","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"232c6182-2f35-4542-ae1d-aea9ebb52539","reverse":"51-159-9-39.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:38:54.736518Z","updated_at":"2021-10-22T09:38:56.233242Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"afbabef1-f79e-4350-81be-98e67341dcb2","status":"pending","created_at":"2021-10-22T09:38:59.535977Z","updated_at":"2021-10-22T09:38:59.535977Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/232c6182-2f35-4542-ae1d-aea9ebb52539/private-networks/afbabef1-f79e-4350-81be-98e67341dcb2/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/232c6182-2f35-4542-ae1d-aea9ebb52539?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
