---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-pn-with-dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"467d3978-ffaa-4036-91e1-7d022c119cd4","name":"test-lb-pn-with-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-21T12:53:55.620391Z","updated_at":"2021-10-21T12:53:55.620391Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/467d3978-ffaa-4036-91e1-7d022c119cd4
    method: GET
  response:
    body: '{"id":"467d3978-ffaa-4036-91e1-7d022c119cd4","name":"test-lb-pn-with-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-21T12:53:55.620391Z","updated_at":"2021-10-21T12:53:55.620391Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"8b64c631-db62-4103-8e60-7a51f4d20e97","ip_address":"51.159.9.228","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-228.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8b64c631-db62-4103-8e60-7a51f4d20e97
    method: GET
  response:
    body: '{"id":"8b64c631-db62-4103-8e60-7a51f4d20e97","ip_address":"51.159.9.228","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-228.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-with-dhcp","description":"","ip_id":"8b64c631-db62-4103-8e60-7a51f4d20e97","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"8e624b22-39cd-4154-897c-9114ea323fee","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"8b64c631-db62-4103-8e60-7a51f4d20e97","ip_address":"51.159.9.228","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"8e624b22-39cd-4154-897c-9114ea323fee","reverse":"51-159-9-228.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:53:57.294556673Z","updated_at":"2021-10-21T12:53:57.294556673Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e624b22-39cd-4154-897c-9114ea323fee
    method: GET
  response:
    body: '{"id":"8e624b22-39cd-4154-897c-9114ea323fee","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"8b64c631-db62-4103-8e60-7a51f4d20e97","ip_address":"51.159.9.228","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"8e624b22-39cd-4154-897c-9114ea323fee","reverse":"51-159-9-228.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:53:57.294557Z","updated_at":"2021-10-21T12:53:57.294557Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e624b22-39cd-4154-897c-9114ea323fee/private-networks/467d3978-ffaa-4036-91e1-7d022c119cd4/attach
    method: POST
  response:
    body: '{"lb":{"id":"8e624b22-39cd-4154-897c-9114ea323fee","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[{"id":"67ace2ca-73d4-48ed-a86f-cc515dc8559a","status":"ready","ip_address":"10.70.68.49","created_at":"2021-10-21T12:49:57.436981Z","updated_at":"2021-10-21T12:53:57.809340Z","region":"fr-par","zone":"fr-par-1"},{"id":"8c4b7487-3799-4273-a996-16a9c2850516","status":"ready","ip_address":"10.70.74.33","created_at":"2021-10-21T12:50:07.261343Z","updated_at":"2021-10-21T12:53:58.326775Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"8b64c631-db62-4103-8e60-7a51f4d20e97","ip_address":"51.159.9.228","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"8e624b22-39cd-4154-897c-9114ea323fee","reverse":"51-159-9-228.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:53:57.294557Z","updated_at":"2021-10-21T12:53:58.597426Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"467d3978-ffaa-4036-91e1-7d022c119cd4","status":"pending","created_at":"2021-10-21T12:54:01.529174740Z","updated_at":"2021-10-21T12:54:01.529174740Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e624b22-39cd-4154-897c-9114ea323fee/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"8e624b22-39cd-4154-897c-9114ea323fee","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"8b64c631-db62-4103-8e60-7a51f4d20e97","ip_address":"51.159.9.228","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"8e624b22-39cd-4154-897c-9114ea323fee","reverse":"51-159-9-228.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T12:53:57.294557Z","updated_at":"2021-10-21T12:53:58.597426Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"467d3978-ffaa-4036-91e1-7d022c119cd4","status":"pending","created_at":"2021-10-21T12:54:01.529175Z","updated_at":"2021-10-21T12:54:01.529175Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e624b22-39cd-4154-897c-9114ea323fee/private-networks/467d3978-ffaa-4036-91e1-7d022c119cd4/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8e624b22-39cd-4154-897c-9114ea323fee?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
