---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"8ed57916-6101-4aa9-8b0b-6b29fe23a8be","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:26.873049Z","updated_at":"2021-10-20T16:06:26.873049Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c8f56f67-2897-4ac6-b9fe-018044cef1ff","ip_address":"195.154.69.177","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-69-177.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network_with_dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"3dab966c-ff15-49ef-ba8d-e88a242b5e8b","name":"pn_test_network_with_dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:26.840591Z","updated_at":"2021-10-20T16:06:26.840591Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c8f56f67-2897-4ac6-b9fe-018044cef1ff
    method: GET
  response:
    body: '{"id":"c8f56f67-2897-4ac6-b9fe-018044cef1ff","ip_address":"195.154.69.177","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-69-177.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/8ed57916-6101-4aa9-8b0b-6b29fe23a8be
    method: GET
  response:
    body: '{"id":"8ed57916-6101-4aa9-8b0b-6b29fe23a8be","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:26.873049Z","updated_at":"2021-10-20T16:06:26.873049Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/3dab966c-ff15-49ef-ba8d-e88a242b5e8b
    method: GET
  response:
    body: '{"id":"3dab966c-ff15-49ef-ba8d-e88a242b5e8b","name":"pn_test_network_with_dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:26.840591Z","updated_at":"2021-10-20T16:06:26.840591Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"378dc1e4-8668-4b4b-8b33-6bbdfb775d34","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:27.359382Z","updated_at":"2021-10-20T16:06:27.359382Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"c8f56f67-2897-4ac6-b9fe-018044cef1ff","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e0c33d95-d4e5-40b7-8c59-f6097e5881c4","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"c8f56f67-2897-4ac6-b9fe-018044cef1ff","ip_address":"195.154.69.177","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e0c33d95-d4e5-40b7-8c59-f6097e5881c4","reverse":"195-154-69-177.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-20T16:06:27.097508560Z","updated_at":"2021-10-20T16:06:27.097508560Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/378dc1e4-8668-4b4b-8b33-6bbdfb775d34
    method: GET
  response:
    body: '{"id":"378dc1e4-8668-4b4b-8b33-6bbdfb775d34","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:27.359382Z","updated_at":"2021-10-20T16:06:27.359382Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0c33d95-d4e5-40b7-8c59-f6097e5881c4
    method: GET
  response:
    body: '{"id":"e0c33d95-d4e5-40b7-8c59-f6097e5881c4","name":"test-lb","description":"","status":"pending","instances":[{"id":"02ec7bad-012e-49b3-bdaa-669637cdc9b8","status":"unknown","ip_address":"10.65.92.5","created_at":"2021-10-20T15:54:57.253563Z","updated_at":"2021-10-20T16:06:27.331651Z","region":"fr-par","zone":"fr[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"378dc1e4-8668-4b4b-8b33-6bbdfb775d34"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"ed8dbe1e-b7a9-43cb-ab92-40ec411b06eb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:27.676924Z","updated_at":"2021-10-20T16:06:27.676924Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"378dc1e4-8668-4b4b-8b33-6bbdfb775d34","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:27.359382Z","updated_at":"2021-10-20T16:06:27.359382Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/ed8dbe1e-b7a9-43cb-ab92-40ec411b06eb
    method: GET
  response:
    body: '{"id":"ed8dbe1e-b7a9-43cb-ab92-40ec411b06eb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:27.676924Z","updated_at":"2021-10-20T16:06:27.722390Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"378dc1e4-8668-4b4b-8b33-6bbdfb775d34","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:27.359382Z","updated_at":"2021-10-20T16:06:27.359382Z","tags":[],"address":"51.15.228.110","reverse":"110-228-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ed8dbe1e-b7a9-43cb-ab92-40ec411b06eb","private_network_id":"3dab966c-ff15-49ef-ba8d-e88a242b5e8b","enable_masquerade":true,"dhcp_id":"8ed57916-6101-4aa9-8b0b-6b29fe23a8be","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"5bbce14e-3ecc-44d1-8b8a-be10857f4138","created_at":"2021-10-20T16:06:58.149794Z","updated_at":"2021-10-20T16:06:58.149794Z","gateway_id":"ed8dbe1e-b7a9-43cb-ab92-40ec411b06eb","private_network_id":"3dab966c-ff15-49ef-ba8d-e88a242b5e8b","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"8ed57916-6101-4aa9-8b0b-6b29fe23a8be","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:26.873049Z","updated_at":"2021-10-20T16:06:26.873049Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/5bbce14e-3ecc-44d1-8b8a-be10857f4138
    method: GET
  response:
    body: '{"id":"5bbce14e-3ecc-44d1-8b8a-be10857f4138","created_at":"2021-10-20T16:06:58.149794Z","updated_at":"2021-10-20T16:06:58.149794Z","gateway_id":"ed8dbe1e-b7a9-43cb-ab92-40ec411b06eb","private_network_id":"3dab966c-ff15-49ef-ba8d-e88a242b5e8b","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"8ed57916-6101-4aa9-8b0b-6b29fe23a8be","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-20T16:06:26.873049Z","updated_at":"2021-10-20T16:06:26.873049Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e0c33d95-d4e5-40b7-8c59-f6097e5881c4?release_ip=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c8f56f67-2897-4ac6-b9fe-018044cef1ff
    method: DELETE
  response:
    body: '{"message":"operation was rejected because the ip_id is used on a lb"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/5bbce14e-3ecc-44d1-8b8a-be10857f4138?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/8ed57916-6101-4aa9-8b0b-6b29fe23a8be
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"8ed57916-6101-4aa9-8b0b-6b29fe23a8be","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/ed8dbe1e-b7a9-43cb-ab92-40ec411b06eb?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
