---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ae29d5a9-5cf9-4430-bae8-1a0c0c491a1e","ip_address":"51.159.113.198","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-113-198.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ae29d5a9-5cf9-4430-bae8-1a0c0c491a1e
    method: GET
  response:
    body: '{"id":"ae29d5a9-5cf9-4430-bae8-1a0c0c491a1e","ip_address":"51.159.113.198","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-113-198.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"ae29d5a9-5cf9-4430-bae8-1a0c0c491a1e","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"077e8c77-7987-4f0f-9ccf-43c3b5f7779c","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ae29d5a9-5cf9-4430-bae8-1a0c0c491a1e","ip_address":"51.159.113.198","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"077e8c77-7987-4f0f-9ccf-43c3b5f7779c","reverse":"51-159-113-198.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-12T15:53:20.294907701Z","updated_at":"2021-10-12T15:53:20.294907701Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/077e8c77-7987-4f0f-9ccf-43c3b5f7779c
    method: GET
  response:
    body: '{"id":"077e8c77-7987-4f0f-9ccf-43c3b5f7779c","name":"test-lb","description":"","status":"pending","instances":[{"id":"54e406ac-a1f0-4bf9-bb41-7c61c727d9d7","status":"unknown","ip_address":"10.71.80.43","created_at":"2021-10-12T15:50:46.839991Z","updated_at":"2021-10-12T15:53:20.480477Z","region":"fr-par","zone":"f[...]
[...]
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"972e1166-ac3e-4f35-b57b-3e873677cac5","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:53:22.778337Z","updated_at":"2021-10-12T15:53:22.778337Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/972e1166-ac3e-4f35-b57b-3e873677cac5
    method: GET
  response:
    body: '{"id":"972e1166-ac3e-4f35-b57b-3e873677cac5","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:53:22.778337Z","updated_at":"2021-10-12T15:53:22.778337Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/077e8c77-7987-4f0f-9ccf-43c3b5f7779c/private-networks/972e1166-ac3e-4f35-b57b-3e873677cac5/attach
    method: POST
  response:
    body: '{"lb":{"id":"077e8c77-7987-4f0f-9ccf-43c3b5f7779c","name":"test-lb","description":"","status":"ready","instances":[{"id":"54e406ac-a1f0-4bf9-bb41-7c61c727d9d7","status":"ready","ip_address":"10.71.80.43","created_at":"2021-10-12T15:50:46.839991Z","updated_at":"2021-10-12T15:53:20.690100Z","region":"fr-par","zone":"fr-par-1"},{"id":"b69b3c45-ab3a-4446-9aeb-2fa696e31653","status":"ready","ip_address":"10.68.12.81","created_at":"2021-10-12T15:51:33.037548Z","updated_at":"2021-10-12T15:53:21.014476Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ae29d5a9-5cf9-4430-bae8-1a0c0c491a1e","ip_address":"51.159.113.198","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"077e8c77-7987-4f0f-9ccf-43c3b5f7779c","reverse":"51-159-113-198.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-12T15:53:20.294908Z","updated_at":"2021-10-12T15:53:21.366259Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"972e1166-ac3e-4f35-b57b-3e873677cac5","status":"pending","created_at":"2021-10-12T15:53:23.238872979Z","updated_at":"2021-10-12T15:53:23.238872979Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/077e8c77-7987-4f0f-9ccf-43c3b5f7779c/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"077e8c77-7987-4f0f-9ccf-43c3b5f7779c","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ae29d5a9-5cf9-4430-bae8-1a0c0c491a1e","ip_address":"51.159.113.198","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"077e8c77-7987-4f0f-9ccf-43c3b5f7779c","reverse":"51-159-113-198.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-12T15:53:20.294908Z","updated_at":"2021-10-12T15:53:21.366259Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"972e1166-ac3e-4f35-b57b-3e873677cac5","status":"pending","created_at":"2021-10-12T15:53:23.238873Z","updated_at":"2021-10-12T15:53:23.238873Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/077e8c77-7987-4f0f-9ccf-43c3b5f7779c/private-networks/972e1166-ac3e-4f35-b57b-3e873677cac5/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/972e1166-ac3e-4f35-b57b-3e873677cac5
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
