---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"bdb87173-8433-4aea-9f67-8edd90190ece","ip_address":"51.159.113.120","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-113-120.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/bdb87173-8433-4aea-9f67-8edd90190ece
    method: GET
  response:
    body: '{"id":"bdb87173-8433-4aea-9f67-8edd90190ece","ip_address":"51.159.113.120","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-113-120.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"bdb87173-8433-4aea-9f67-8edd90190ece","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bdb87173-8433-4aea-9f67-8edd90190ece","ip_address":"51.159.113.120","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","reverse":"51-159-113-120.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-05T10:12:25.102248661Z","updated_at":"2021-10-05T10:12:25.102248661Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc7b86d9-c7f7-4e24-9f44-19948d1d3d95
    method: GET
  response:
    body: '{"id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bdb87173-8433-4aea-9f67-8edd90190ece","ip_address":"51.159.113.120","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","reverse":"51-159-113-120.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-05T10:12:25.102249Z","updated_at":"2021-10-05T10:12:25.102249Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-lb-pn","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"aeb2179c-b022-468e-965a-33ce0ba66098","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T10:12:27.548668Z","updated_at":"2021-10-05T10:12:27.548668Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/aeb2179c-b022-468e-965a-33ce0ba66098
    method: GET
  response:
    body: '{"id":"aeb2179c-b022-468e-965a-33ce0ba66098","name":"test-lb-pn","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T10:12:27.548668Z","updated_at":"2021-10-05T10:12:27.548668Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc7b86d9-c7f7-4e24-9f44-19948d1d3d95/private-networks/aeb2179c-b022-468e-965a-33ce0ba66098/attach
    method: POST
  response:
    body: '{"lb":{"id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","name":"test-lb","description":"","status":"ready","instances":[{"id":"c5930f0b-0896-4b64-9fcb-984eb5ba7891","status":"ready","ip_address":"10.74.0.65","created_at":"2021-10-05T10:08:29.070431Z","updated_at":"2021-10-05T10:12:25.489187Z","region":"fr-par","zone":"fr-par-1"},{"id":"09591b86-c846-400d-8377-99617c0014b4","status":"ready","ip_address":"10.65.14.67","created_at":"2021-10-05T10:09:29.077502Z","updated_at":"2021-10-05T10:12:25.922945Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bdb87173-8433-4aea-9f67-8edd90190ece","ip_address":"51.159.113.120","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","reverse":"51-159-113-120.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-05T10:12:25.102249Z","updated_at":"2021-10-05T10:12:26.237578Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"aeb2179c-b022-468e-965a-33ce0ba66098","status":"pending","created_at":"2021-10-05T10:12:27.923591125Z","updated_at":"2021-10-05T10:12:27.923591125Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc7b86d9-c7f7-4e24-9f44-19948d1d3d95/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bdb87173-8433-4aea-9f67-8edd90190ece","ip_address":"51.159.113.120","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"bc7b86d9-c7f7-4e24-9f44-19948d1d3d95","reverse":"51-159-113-120.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-05T10:12:25.102249Z","updated_at":"2021-10-05T10:12:26.237578Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"aeb2179c-b022-468e-965a-33ce0ba66098","status":"pending","created_at":"2021-10-05T10:12:27.923591Z","updated_at":"2021-10-05T10:12:27.923591Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc7b86d9-c7f7-4e24-9f44-19948d1d3d95/private-networks/aeb2179c-b022-468e-965a-33ce0ba66098/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/aeb2179c-b022-468e-965a-33ce0ba66098
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
