---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"84a61a2d-14d3-4b1d-8271-33723f2cd288","ip_address":"51.159.74.235","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-235.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/84a61a2d-14d3-4b1d-8271-33723f2cd288
    method: GET
  response:
    body: '{"id":"84a61a2d-14d3-4b1d-8271-33723f2cd288","ip_address":"51.159.74.235","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-235.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"84a61a2d-14d3-4b1d-8271-33723f2cd288","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-09T15:30:48.491216772Z","description":"","frontend_count":0,"id":"c72a2d5c-6ac7-4e52-a509-9282709942c6","instances":[],"ip":[{"id":"84a61a2d-14d3-4b1d-8271-33723f2cd288","ip_address":"51.159.74.235","lb_id":"c72a2d5c-6ac7-4e52-a509-9282709942c6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-235.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-09T15:30:48.491216772Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c72a2d5c-6ac7-4e52-a509-9282709942c6
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-09T15:30:48.491217Z","description":"","frontend_count":0,"id":"c72a2d5c-6ac7-4e52-a509-9282709942c6","instances":[],"ip":[{"id":"84a61a2d-14d3-4b1d-8271-33723f2cd288","ip_address":"51.159.74.235","lb_id":"c72a2d5c-6ac7-4e52-a509-9282709942c6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-235.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-09T15:30:48.491217Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c72a2d5c-6ac7-4e52-a509-9282709942c6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-flamboyant-mahavira","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c72a2d5c-6ac7-4e52-a509-9282709942c6/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-09T15:31:19.130305705Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"a13131c4-4b5a-4a89-b24a-2ff7e07a7bbc","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-09T15:30:48.491217Z","description":"","frontend_count":0,"id":"c72a2d5c-6ac7-4e52-a509-9282709942c6","instances":[{"created_at":"2023-02-09T15:29:36.524924Z","id":"bfc8adf8-3b91-4035-84a6-8aa93a7d107d","ip_address":"10.65.134.57","region":"fr-par","status":"pending","updated_at":"2023-02-09T15:31:19.158601765Z","zone":"fr-par-1"}],"ip":[{"id":"84a61a2d-14d3-4b1d-8271-33723f2cd288","ip_address":"51.159.74.235","lb_id":"c72a2d5c-6ac7-4e52-a509-9282709942c6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-74-235.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-09T15:30:49.996882Z","zone":"fr-par-1"},"name":"tf-lb-bkd-flamboyant-mahavira","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-09T15:31:19.130305705Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a13131c4-4b5a-4a89-b24a-2ff7e07a7bbc
    method: GET
  response:
    body: '{"created_at":"2023-02-09T15:31:19.130306Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"a13131c4-4b5a-4a89-b24a-2f[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-thirsty-torvalds","inbound_port":80,"backend_id":"a13131c4-4b5a-4a89-b24a-2ff7e07a7bbc","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c72a2d5c-6ac7-4e52-a509-9282709942c6/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-09T15:31:19.130306Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"a13131c4-4b5a-4a89-b24a-2ff7e07a7bbc","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-09T15:30:48.491217Z","description":"","frontend_count":1,"id":"c72a2d5c-6ac7-4e52-a509-9282709942c6[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8100ec97-534d-48da-ba19-d6f3acaeb210/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8100ec97-534d-48da-ba19-d6f3acaeb210
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-09T15:31:19.130306Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"a13131c4-4b5a-[...]
[...]
- request:
    body: '{"frontend_id":"8100ec97-534d-48da-ba19-d6f3acaeb210","backend_id":"a13131c4-4b5a-4a89-b24a-2ff7e07a7bbc","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"a13131c4-4b5a-4a89-b24a-2ff7e07a7bbc","created_at":"2023-02-09T15:31:20.550853290Z","frontend_id":"8100ec97-534d-48da-ba19-d6f3acaeb210","id":"f47fea06-cacd-4732-bb0a-0507c8a63b9b","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-09T15:31:20.550853290Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/f47fea06-cacd-4732-bb0a-0507c8a63b9b
    method: GET
  response:
    body: '{"backend_id":"a13131c4-4b5a-4a89-b24a-2ff7e07a7bbc","created_at":"2023-02-09T15:31:20.550853Z","frontend_id":"8100ec97-534d-48da-ba19-d6f3acaeb210","id":"f47fea06-cacd-4732-bb0a-0507c8a63b9b","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-09T15:31:20.550853Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c72a2d5c-6ac7-4e52-a509-9282709942c6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c72a2d5c-6ac7-4e52-a509-9282709942c6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
