---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"afbc7495-5cf7-4fe4-8ecf-1d000b365509","ip_address":"51.159.9.55","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-55.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/afbc7495-5cf7-4fe4-8ecf-1d000b365509
    method: GET
  response:
    body: '{"id":"afbc7495-5cf7-4fe4-8ecf-1d000b365509","ip_address":"51.159.9.55","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-55.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"afbc7495-5cf7-4fe4-8ecf-1d000b365509","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T14:40:10.699958423Z","description":"","frontend_count":0,"id":"70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee","instances":[],"ip":[{"id":"afbc7495-5cf7-4fe4-8ecf-1d000b365509","ip_address":"51.159.9.55","lb_id":"70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-55.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T14:40:10.699958423Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T14:40:10.699958Z","description":"","frontend_count":0,"id":"70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee","instances":[],"ip":[{"id":"afbc7495-5cf7-4fe4-8ecf-1d000b365509","ip_address":"51.159.9.55","lb_id":"70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-55.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T14:40:10.699958Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-busy-turing","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-16T14:40:41.411652230Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"38545f01-0e68-46b3-8045-ab29e45efdaa","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T14:40:10.699958Z","description":"","frontend_count":0,"id":"70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee","instances":[{"created_at":"2023-02-16T14:09:46.388897Z","id":"a4c715d2-ff10-4610-af67-1a5d558171e0","ip_address":"10.69.130.21","region":"fr-par","status":"pending","updated_at":"2023-02-16T14:40:41.443692040Z","zone":"fr-par-1"}],"ip":[{"id":"afbc7495-5cf7-4fe4-8ecf-1d000b365509","ip_address":"51.159.9.55","lb_id":"70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-9-55.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T14:40:12.019380Z","zone":"fr-par-1"},"name":"tf-lb-bkd-busy-turing","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-16T14:40:41.411652230Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/38545f01-0e68-46b3-8045-ab29e45efdaa
    method: GET
  response:
    body: '{"created_at":"2023-02-16T14:40:41.411652Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"38545f01-0e68-46b3-8045-a[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-charming-lehmann","inbound_port":80,"backend_id":"38545f01-0e68-46b3-8045-ab29e45efdaa","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-16T14:40:41.411652Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"38545f01-0e68-46b3-8045-ab29e45efdaa","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T14:40:10.699958Z","description":"","frontend_count":1,"id":"70be1cb6-6f8b-4d2c-911b-faf0ff53c3e[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/6182fec3-386e-4afb-849e-0564f01560cc/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/6182fec3-386e-4afb-849e-0564f01560cc
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-16T14:40:41.411652Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"38545f01-0e68[...]
[...]
- request:
    body: '{"frontend_id":"6182fec3-386e-4afb-849e-0564f01560cc","backend_id":"38545f01-0e68-46b3-8045-ab29e45efdaa","match":{"host_header":"host.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"38545f01-0e68-46b3-8045-ab29e45efdaa","created_at":"2023-02-16T14:40:42.899292782Z","frontend_id":"6182fec3-386e-4afb-849e-0564f01560cc","id":"9da4a2ed-b296-4729-b2dc-dec2a63da0f8","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-16T14:40:42.899292782Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/9da4a2ed-b296-4729-b2dc-dec2a63da0f8
    method: GET
  response:
    body: '{"backend_id":"38545f01-0e68-46b3-8045-ab29e45efdaa","created_at":"2023-02-16T14:40:42.899293Z","frontend_id":"6182fec3-386e-4afb-849e-0564f01560cc","id":"9da4a2ed-b296-4729-b2dc-dec2a63da0f8","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-16T14:40:42.899293Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/70be1cb6-6f8b-4d2c-911b-faf0ff53c3ee
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
