---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a5c72821-9ee8-47c9-987a-58a2b9e5b9f3
    method: GET
  response:
    body: '{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:37:35.417819910Z","description":"","frontend_count":0,"id":"3b01ea58-b87a-4749-b957-01244f7e8ffd","instances":[],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"3b01ea58-b87a-4749-b957-01244f7e8ffd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:37:35.417819910Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b01ea58-b87a-4749-b957-01244f7e8ffd
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T15:37:35.417820Z","description":"","frontend_count":0,"id":"3b01ea58-b87a-4749-b957-01244f7e8ffd","instances":[{"created_at":"2023-05-24T15:35:09.269174Z","id":"40a48926-693d-4ec3-ae3a-b257eb635b36","ip_address":"10.76.74.63","region":"fr-par","status":"unknown","updated_at":"2023-05-24T15:37:35.656144Z","zone":"fr-par-1"}],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"3b01ea58-b87a-4749-b957-01244f7e8ffd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:37:35.669569Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b01ea58-b87a-4749-b957-01244f7e8ffd/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-charming-lehmann","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b01ea58-b87a-4749-b957-01244f7e8ffd/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-24T15:38:06.149235994Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ee286f22-4250-459e-81e6-c3ddbb1a091e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:37:35.417820Z","description":"","frontend_count":0,"id":"3b01ea58-b87a-4749-b957-01244f7e8ffd","instances":[{"created_at":"2023-05-24T15:35:09.269174Z","id":"40a48926-693d-4ec3-ae3a-b257eb635b36","ip_address":"10.76.74.63","region":"fr-par","status":"pending","updated_at":"2023-05-24T15:38:06.177801903Z","zone":"fr-par-1"}],"ip":[{"id":"a5c72821-9ee8-47c9-987a-58a2b9e5b9f3","ip_address":"195.154.197.39","lb_id":"3b01ea58-b87a-4749-b957-01244f7e8ffd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-39.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T15:37:37.363502Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-charming-lehmann","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T15:38:06.149235994Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ee286f22-4250-459e-81e6-c3ddbb1a091e
    method: GET
  response:
    body: '{"created_at":"2023-05-24T15:38:06.149236Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-stoic-shockley","inbound_port":80,"backend_id":"ee286f22-4250-459e-81e6-c3ddbb1a091e","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b01ea58-b87a-4749-b957-01244f7e8ffd/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:38:06.149236Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ee286f22-4250-459e-81e6-c3ddbb1a091e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T15:37:35.417820Z","description":"","frontend_count":1,"id":"3b01ea5[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-stoic-sutherland","inbound_port":80,"backend_id":"ee286f22-4250-459e-81e6-c3ddbb1a091e","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f9e42d3e-ea26-46e4-aa6f-24f4e683e2bb
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-05-24T15:38:06.149236Z","failover_host":null,"forward_port":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f9e42d3e-ea26-46e4-aa6f-24f4e683e2bb/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"f9e42d3e-ea26-46e4-aa6f-24f4e683e2bb","backend_id":"ee286f22-4250-459e-81e6-c3ddbb1a091e","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"ee286f22-4250-459e-81e6-c3ddbb1a091e","created_at":"2023-05-24T15:38:07.858959232Z","frontend_id":"f9e42d3e-ea26-46e4-aa6f-24f4e683e2bb","id":"c50b9b42-ab0d-4472-889f-02d40e9734bf","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-05-24T15:38:07.858959232Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/c50b9b42-ab0d-4472-889f-02d40e9734bf
    method: GET
  response:
    body: '{"backend_id":"ee286f22-4250-459e-81e6-c3ddbb1a091e","created_at":"2023-05-24T15:38:07.858959Z","frontend_id":"f9e42d3e-ea26-46e4-aa6f-24f4e683e2bb","id":"c50b9b42-ab0d-4472-889f-02d40e9734bf","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-05-24T15:38:07.858959Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b01ea58-b87a-4749-b957-01244f7e8ffd?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b01ea58-b87a-4749-b957-01244f7e8ffd
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
