---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"8a30eabe-d245-4b58-b2d4-12075e0689ca","ip_address":"51.159.27.91","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-91.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8a30eabe-d245-4b58-b2d4-12075e0689ca
    method: GET
  response:
    body: '{"id":"8a30eabe-d245-4b58-b2d4-12075e0689ca","ip_address":"51.159.27.91","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-91.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"8a30eabe-d245-4b58-b2d4-12075e0689ca","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T14:37:51.134979043Z","description":"","frontend_count":0,"id":"3cd9f42b-7bbe-4482-b13e-8eb732debca7","instances":[],"ip":[{"id":"8a30eabe-d245-4b58-b2d4-12075e0689ca","ip_address":"51.159.27.91","lb_id":"3cd9f42b-7bbe-4482-b13e-8eb732debca7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-91.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T14:37:51.134979043Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3cd9f42b-7bbe-4482-b13e-8eb732debca7
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T14:37:51.134979Z","description":"","frontend_count":0,"id":"3cd9f42b-7bbe-4482-b13e-8eb732debca7","instances":[],"ip":[{"id":"8a30eabe-d245-4b58-b2d4-12075e0689ca","ip_address":"51.159.27.91","lb_id":"3cd9f42b-7bbe-4482-b13e-8eb732debca7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-91.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T14:37:51.134979Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3cd9f42b-7bbe-4482-b13e-8eb732debca7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-sharp-meninsky","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3cd9f42b-7bbe-4482-b13e-8eb732debca7/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-16T14:38:21.802826128Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"250a4841-5a61-410a-b1eb-dddd7ecd3a78","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T14:37:51.134979Z","description":"","frontend_count":0,"id":"3cd9f42b-7bbe-4482-b13e-8eb732debca7","instances":[{"created_at":"2023-02-16T14:35:36.306634Z","id":"a6d26a1d-15f0-4a33-b432-f33280783d49","ip_address":"10.64.74.13","region":"fr-par","status":"pending","updated_at":"2023-02-16T14:38:21.846032084Z","zone":"fr-par-1"}],"ip":[{"id":"8a30eabe-d245-4b58-b2d4-12075e0689ca","ip_address":"51.159.27.91","lb_id":"3cd9f42b-7bbe-4482-b13e-8eb732debca7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-27-91.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T14:37:52.316854Z","zone":"fr-par-1"},"name":"tf-lb-bkd-sharp-meninsky","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-16T14:38:21.802826128Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/250a4841-5a61-410a-b1eb-dddd7ecd3a78
    method: GET
  response:
    body: '{"created_at":"2023-02-16T14:38:21.802826Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"250a4841-5a61-410a-b1eb-dd[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-jolly-cannon","inbound_port":80,"backend_id":"250a4841-5a61-410a-b1eb-dddd7ecd3a78","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3cd9f42b-7bbe-4482-b13e-8eb732debca7/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-16T14:38:21.802826Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"250a4841-5a61-410a-b1eb-dddd7ecd3a78","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T14:37:51.134979Z","description":"","frontend_count":1,"id":"3cd9f42b-7bbe-4482-b13e-8eb732debca7[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8824bea5-141b-4b9c-99da-13eb66b1b21e/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/8824bea5-141b-4b9c-99da-13eb66b1b21e
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-16T14:38:21.802826Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"250a4841-5a61-[...]
[...]
- request:
    body: '{"frontend_id":"8824bea5-141b-4b9c-99da-13eb66b1b21e","backend_id":"250a4841-5a61-410a-b1eb-dddd7ecd3a78","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"250a4841-5a61-410a-b1eb-dddd7ecd3a78","created_at":"2023-02-16T14:38:23.202109672Z","frontend_id":"8824bea5-141b-4b9c-99da-13eb66b1b21e","id":"762340bb-6869-4524-8c07-d05ecedb3f97","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-16T14:38:23.202109672Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/762340bb-6869-4524-8c07-d05ecedb3f97
    method: GET
  response:
    body: '{"backend_id":"250a4841-5a61-410a-b1eb-dddd7ecd3a78","created_at":"2023-02-16T14:38:23.202110Z","frontend_id":"8824bea5-141b-4b9c-99da-13eb66b1b21e","id":"762340bb-6869-4524-8c07-d05ecedb3f97","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-16T14:38:23.202110Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3cd9f42b-7bbe-4482-b13e-8eb732debca7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3cd9f42b-7bbe-4482-b13e-8eb732debca7
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
