---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b16e4dad-e4f4-4081-a774-add8840a940e","ip_address":"51.159.113.169","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-113-169.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b16e4dad-e4f4-4081-a774-add8840a940e
    method: GET
  response:
    body: '{"id":"b16e4dad-e4f4-4081-a774-add8840a940e","ip_address":"51.159.113.169","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-113-169.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"b16e4dad-e4f4-4081-a774-add8840a940e","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"f0e7c1db-4089-4253-a298-afaae373eb20","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"b16e4dad-e4f4-4081-a774-add8840a940e","ip_address":"51.159.113.169","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f0e7c1db-4089-4253-a298-afaae373eb20","reverse":"51-159-113-169.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:48:34.263338979Z","updated_at":"2021-10-22T09:48:34.263338979Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0e7c1db-4089-4253-a298-afaae373eb20
    method: GET
  response:
    body: '{"id":"f0e7c1db-4089-4253-a298-afaae373eb20","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"b16e4dad-e4f4-4081-a774-add8840a940e","ip_address":"51.159.113.169","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f0e7c1db-4089-4253-a298-afaae373eb20","reverse":"51-159-113-169.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-22T09:48:34.263339Z","updated_at":"2021-10-22T09:48:34.263339Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-tender-babbage","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0e7c1db-4089-4253-a298-afaae373eb20/backends
    method: POST
  response:
    body: '{"id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","name":"tf-lb-bkd-tender-babbage","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"f0e7c1db-4089-4253-a298-afaae373eb20","name":"test-lb","description":"","status":"ready","instances":[{"id":"82bd9fb9-f0b1-4b4d-bd4f-5ca0513d2118","status":"pending","ip_address":"10.70.60.107","created_at":"2021-10-22T09:47:05.817837Z","updated_at":"2021-10-22T09:48:36.863634154Z","region":"fr-par","zone":"fr-par-1"},{"id":"0b857ae9-481d-41e6-b43c-4234f6090622","status":"pending","ip_address":"10.70.86.13","created_at":"2021-10-22T09:46:40.195396Z","updated_at":"2021-10-22T09:48:36.92143[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c416f0f0-4e19-4e5e-b918-6a35ebc59583
    method: GET
  response:
    body: '{"id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","name":"tf-lb-bkd-tender-babbage","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"c[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-kind-hertz","inbound_port":80,"backend_id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0e7c1db-4089-4253-a298-afaae373eb20/frontends
    method: POST
  response:
    body: '{"id":"c9172b50-f94c-4e56-8e63-7e65862a8e79","name":"tf-lb-frt-kind-hertz","inbound_port":80,"backend":{"id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","name":"tf-lb-bkd-tender-babbage","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"f0e7c1db-4089-4253-a298-afaae373eb20","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/c9172b50-f94c-4e56-8e63-7e65862a8e79/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/c9172b50-f94c-4e56-8e63-7e65862a8e79
    method: GET
  response:
    body: '{"id":"c9172b50-f94c-4e56-8e63-7e65862a8e79","name":"tf-lb-frt-kind-hertz","inbound_port":80,"backend":{"id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","name":"tf-lb-bkd-tender-babbage","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cook[...]
[...]
- request:
    body: '{"frontend_id":"c9172b50-f94c-4e56-8e63-7e65862a8e79","backend_id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"4560df91-6c3e-4c56-b529-5f054d322406","frontend_id":"c9172b50-f94c-4e56-8e63-7e65862a8e79","match":{"sni":"scaleway.com"},"backend_id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","created_at":"2021-10-22T09:48:38.959839277Z","updated_at":"2021-10-22T09:48:38.959839277Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/4560df91-6c3e-4c56-b529-5f054d322406
    method: GET
  response:
    body: '{"id":"4560df91-6c3e-4c56-b529-5f054d322406","frontend_id":"c9172b50-f94c-4e56-8e63-7e65862a8e79","match":{"sni":"scaleway.com"},"backend_id":"c416f0f0-4e19-4e5e-b918-6a35ebc59583","created_at":"2021-10-22T09:48:38.959839Z","updated_at":"2021-10-22T09:48:38.959839Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f0e7c1db-4089-4253-a298-afaae373eb20?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/4560df91-6c3e-4c56-b529-5f054d322406
    method: GET
  response:
    body: '{"message":"privateNetwork not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
