---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/88e1e548-9b7e-430c-8cfd-65fb36bb27d1
    method: GET
  response:
    body: '{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T12:40:50.340860541Z","description":"","frontend_count":0,"id":"1755e5a7-cb3e-4356-b673-4e20a0dafbfa","instances":[],"ip":[{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":"1755e5a7-cb3e-4356-b673-4e20a0dafbfa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T12:40:50.340860541Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1755e5a7-cb3e-4356-b673-4e20a0dafbfa
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T12:40:50.340861Z","description":"","frontend_count":0,"id":"1755e5a7-cb3e-4356-b673-4e20a0dafbfa","instances":[],"ip":[{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":"1755e5a7-cb3e-4356-b673-4e20a0dafbfa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T12:40:50.340861Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1755e5a7-cb3e-4356-b673-4e20a0dafbfa/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-silly-turing","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1755e5a7-cb3e-4356-b673-4e20a0dafbfa/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:41:21.018637609Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a88ce31-704b-4d03-a8c0-2600539a0795","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T12:40:50.340861Z","description":"","frontend_count":0,"id":"1755e5a7-cb3e-4356-b673-4e20a0dafbfa","instances":[{"created_at":"2023-02-16T12:39:36.713164Z","id":"079338f2-6aec-46d1-90ea-661c0a93113b","ip_address":"10.64.162.49","region":"fr-par","status":"pending","updated_at":"2023-02-16T12:41:21.060325379Z","zone":"fr-par-1"}],"ip":[{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":"1755e5a7-cb3e-4356-b673-4e20a0dafbfa","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T12:40:51.711103Z","zone":"fr-par-1"},"name":"tf-lb-bkd-silly-turing","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-16T12:41:21.018637609Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/3a88ce31-704b-4d03-a8c0-2600539a0795
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:41:21.018638Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a88ce31-704b-4d03-a8c0-2[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-vibrant-driscoll","inbound_port":80,"backend_id":"3a88ce31-704b-4d03-a8c0-2600539a0795","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1755e5a7-cb3e-4356-b673-4e20a0dafbfa/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-16T12:41:21.018638Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a88ce31-704b-4d03-a8c0-2600539a0795","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T12:40:50.340861Z","description":"","frontend_count":1,"id":"1755e5a7-cb3e-4356-b673-4e20a0dafbf[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2a7982c3-d3de-4bf2-8848-270e4bc8aa0b/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2a7982c3-d3de-4bf2-8848-270e4bc8aa0b
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-16T12:41:21.018638Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"3a88ce31-704b[...]
[...]
- request:
    body: '{"frontend_id":"2a7982c3-d3de-4bf2-8848-270e4bc8aa0b","backend_id":"3a88ce31-704b-4d03-a8c0-2600539a0795","match":{"host_header":"host.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"3a88ce31-704b-4d03-a8c0-2600539a0795","created_at":"2023-02-16T12:41:22.347032120Z","frontend_id":"2a7982c3-d3de-4bf2-8848-270e4bc8aa0b","id":"e83ef7b8-7676-40f8-8caf-c0192d96fa2c","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-16T12:41:22.347032120Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/e83ef7b8-7676-40f8-8caf-c0192d96fa2c
    method: GET
  response:
    body: '{"backend_id":"3a88ce31-704b-4d03-a8c0-2600539a0795","created_at":"2023-02-16T12:41:22.347032Z","frontend_id":"2a7982c3-d3de-4bf2-8848-270e4bc8aa0b","id":"e83ef7b8-7676-40f8-8caf-c0192d96fa2c","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-16T12:41:22.347032Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1755e5a7-cb3e-4356-b673-4e20a0dafbfa?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1755e5a7-cb3e-4356-b673-4e20a0dafbfa
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
