---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d579d6e6-b00e-400b-b8dd-45410adbfb32
    method: GET
  response:
    body: '{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:40:30.468320492Z","description":"","frontend_count":0,"id":"c5023831-6fb2-40d4-9dda-929c791246b1","instances":[],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"c5023831-6fb2-40d4-9dda-929c791246b1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:30.468320492Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5023831-6fb2-40d4-9dda-929c791246b1
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:40:30.468320Z","description":"","frontend_count":0,"id":"c5023831-6fb2-40d4-9dda-929c791246b1","instances":[],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"c5023831-6fb2-40d4-9dda-929c791246b1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:30.468320Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5023831-6fb2-40d4-9dda-929c791246b1/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-musing-cartwright","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5023831-6fb2-40d4-9dda-929c791246b1/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:41:01.093176829Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"36ad8f08-a7be-4ce0-a2fb-2d3ad089805e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:40:30.468320Z","description":"","frontend_count":0,"id":"c5023831-6fb2-40d4-9dda-929c791246b1","instances":[{"created_at":"2023-06-16T09:39:02.721192Z","id":"98fb0c9e-8e67-4587-807b-ee63584c0dc1","ip_address":"10.72.52.15","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:41:01.120624954Z","zone":"fr-par-1"}],"ip":[{"id":"d579d6e6-b00e-400b-b8dd-45410adbfb32","ip_address":"51.159.204.159","lb_id":"c5023831-6fb2-40d4-9dda-929c791246b1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-159.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:32.192003Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-musing-cartwright","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:41:01.093176829Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/36ad8f08-a7be-4ce0-a2fb-2d3ad089805e
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:41:01.093177Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-peaceful-goldwasser","inbound_port":80,"backend_id":"36ad8f08-a7be-4ce0-a2fb-2d3ad089805e","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5023831-6fb2-40d4-9dda-929c791246b1/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:41:01.093177Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"36ad8f08-a7be-4ce0-a2fb-2d3ad089805e","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:40:30.468320Z","description":"","frontend_count":1,"id":"c50238[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-mystifying-bardeen","inbound_port":80,"backend_id":"36ad8f08-a7be-4ce0-a2fb-2d3ad089805e","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/cd395405-48dd-471b-95f8-6e4f394f492e
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:41:01.093177Z","failover_host":null,"forward_port[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/cd395405-48dd-471b-95f8-6e4f394f492e/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"cd395405-48dd-471b-95f8-6e4f394f492e","backend_id":"36ad8f08-a7be-4ce0-a2fb-2d3ad089805e","match":{"host_header":"host.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"36ad8f08-a7be-4ce0-a2fb-2d3ad089805e","created_at":"2023-06-16T09:41:02.737657840Z","frontend_id":"cd395405-48dd-471b-95f8-6e4f394f492e","id":"a4fff8ad-b814-4d9a-84b7-4f052f9ae6c1","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-06-16T09:41:02.737657840Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/a4fff8ad-b814-4d9a-84b7-4f052f9ae6c1
    method: GET
  response:
    body: '{"backend_id":"36ad8f08-a7be-4ce0-a2fb-2d3ad089805e","created_at":"2023-06-16T09:41:02.737658Z","frontend_id":"cd395405-48dd-471b-95f8-6e4f394f492e","id":"a4fff8ad-b814-4d9a-84b7-4f052f9ae6c1","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-06-16T09:41:02.737658Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5023831-6fb2-40d4-9dda-929c791246b1?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c5023831-6fb2-40d4-9dda-929c791246b1
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
