---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a3831fc2-03a6-46b8-ae9e-9d81ac80fa3b","ip_address":"195.154.69.79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-69-79.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a3831fc2-03a6-46b8-ae9e-9d81ac80fa3b
    method: GET
  response:
    body: '{"id":"a3831fc2-03a6-46b8-ae9e-9d81ac80fa3b","ip_address":"195.154.69.79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-69-79.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"a3831fc2-03a6-46b8-ae9e-9d81ac80fa3b","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"525fe1b6-05be-4683-b971-c508ab2e92a9","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a3831fc2-03a6-46b8-ae9e-9d81ac80fa3b","ip_address":"195.154.69.79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"525fe1b6-05be-4683-b971-c508ab2e92a9","reverse":"195-154-69-79.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.154560487Z","updated_at":"2021-12-29T15:49:26.154560487Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/525fe1b6-05be-4683-b971-c508ab2e92a9
    method: GET
  response:
    body: '{"id":"525fe1b6-05be-4683-b971-c508ab2e92a9","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a3831fc2-03a6-46b8-ae9e-9d81ac80fa3b","ip_address":"195.154.69.79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"525fe1b6-05be-4683-b971-c508ab2e92a9","reverse":"195-154-69-79.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.154560Z","updated_at":"2021-12-29T15:49:26.154560Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/525fe1b6-05be-4683-b971-c508ab2e92a9/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-awesome-brahmagupta","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/525fe1b6-05be-4683-b971-c508ab2e92a9/backends
    method: POST
  response:
    body: '{"id":"05ac590c-c2c9-42ba-a457-f09a6400268e","name":"tf-lb-bkd-awesome-brahmagupta","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"525fe1b6-05be-4683-b971-c508ab2e92a9","name":"test-lb","description":"","status":"ready","instances":[{"id":"7e07f750-f348-4ed2-89c5-8ff81eb8dca9","status":"pending","ip_address":"10.70.108.137","created_at":"2021-12-29T15:35:51.263817Z","updated_at":"2021-12-29T15:49:56.827515034Z","region":"fr-par","zone":"fr-par-1"},{"id":"2980a6de-cb8e-4db1-bc09-225342fbd4b7","status":"pending","ip_address":"10.68.224.67","created_at":"2021-12-29T15:40:09.052887Z","updated_at":"2021-12-29T15:49:56.897[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/05ac590c-c2c9-42ba-a457-f09a6400268e
    method: GET
  response:
    body: '{"id":"05ac590c-c2c9-42ba-a457-f09a6400268e","name":"tf-lb-bkd-awesome-brahmagupta","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries"[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-sleepy-morse","inbound_port":80,"backend_id":"05ac590c-c2c9-42ba-a457-f09a6400268e","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/525fe1b6-05be-4683-b971-c508ab2e92a9/frontends
    method: POST
  response:
    body: '{"id":"bfb919c5-1779-4032-bd84-2c709f472883","name":"tf-lb-frt-sleepy-morse","inbound_port":80,"backend":{"id":"05ac590c-c2c9-42ba-a457-f09a6400268e","name":"tf-lb-bkd-awesome-brahmagupta","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"525fe1b6-05be-4683-b971-c508ab2e92a9","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bfb919c5-1779-4032-bd84-2c709f472883/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/bfb919c5-1779-4032-bd84-2c709f472883
    method: GET
  response:
    body: '{"id":"bfb919c5-1779-4032-bd84-2c709f472883","name":"tf-lb-frt-sleepy-morse","inbound_port":80,"backend":{"id":"05ac590c-c2c9-42ba-a457-f09a6400268e","name":"tf-lb-bkd-awesome-brahmagupta","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessio[...]
[...]
- request:
    body: '{"frontend_id":"bfb919c5-1779-4032-bd84-2c709f472883","backend_id":"05ac590c-c2c9-42ba-a457-f09a6400268e","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"023c95c8-617f-4012-b9fa-0039d6a7cb10","frontend_id":"bfb919c5-1779-4032-bd84-2c709f472883","match":{"sni":"scaleway.com"},"backend_id":"05ac590c-c2c9-42ba-a457-f09a6400268e","created_at":"2021-12-29T15:49:58.321491938Z","updated_at":"2021-12-29T15:49:58.321491938Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/023c95c8-617f-4012-b9fa-0039d6a7cb10
    method: GET
  response:
    body: '{"id":"023c95c8-617f-4012-b9fa-0039d6a7cb10","frontend_id":"bfb919c5-1779-4032-bd84-2c709f472883","match":{"sni":"scaleway.com"},"backend_id":"05ac590c-c2c9-42ba-a457-f09a6400268e","created_at":"2021-12-29T15:49:58.321492Z","updated_at":"2021-12-29T15:49:58.321492Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/525fe1b6-05be-4683-b971-c508ab2e92a9?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/525fe1b6-05be-4683-b971-c508ab2e92a9
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
