---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ce735ea5-c5f9-48d2-9bbd-b283ebe5e902","ip_address":"195.154.71.51","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-51.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ce735ea5-c5f9-48d2-9bbd-b283ebe5e902
    method: GET
  response:
    body: '{"id":"ce735ea5-c5f9-48d2-9bbd-b283ebe5e902","ip_address":"195.154.71.51","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-51.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"ce735ea5-c5f9-48d2-9bbd-b283ebe5e902","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"16ef138e-32f1-4d41-b432-f869049556da","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"ce735ea5-c5f9-48d2-9bbd-b283ebe5e902","ip_address":"195.154.71.51","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"16ef138e-32f1-4d41-b432-f869049556da","reverse":"195-154-71-51.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.338089092Z","updated_at":"2022-01-10T17:21:39.338089092Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/16ef138e-32f1-4d41-b432-f869049556da
    method: GET
  response:
    body: '{"id":"16ef138e-32f1-4d41-b432-f869049556da","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"ce735ea5-c5f9-48d2-9bbd-b283ebe5e902","ip_address":"195.154.71.51","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"16ef138e-32f1-4d41-b432-f869049556da","reverse":"195-154-71-51.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.338089Z","updated_at":"2022-01-10T17:21:39.338089Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/16ef138e-32f1-4d41-b432-f869049556da/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-happy-booth","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/16ef138e-32f1-4d41-b432-f869049556da/backends
    method: POST
  response:
    body: '{"id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","name":"tf-lb-bkd-happy-booth","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"16ef138e-32f1-4d41-b432-f869049556da","name":"test-lb","description":"","status":"ready","instances":[{"id":"7f40e597-98fe-44a5-9e67-1e5e606ac113","status":"pending","ip_address":"10.65.62.149","created_at":"2022-01-10T16:47:27.515961Z","updated_at":"2022-01-10T17:22:10.085997272Z","region":"fr-par","zone":"fr-par-1"},{"id":"7b3d34c6-2425-4ad9-9875-8ccbcc2fad7f","status":"pending","ip_address":"10.70.144.119","created_at":"2022-01-10T16:23:29.128496Z","updated_at":"2022-01-10T17:22:10.170[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/acf54db4-8f31-4d4e-9004-7b7434eca1ae
    method: GET
  response:
    body: '{"id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","name":"tf-lb-bkd-happy-booth","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"chec[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-boring-wiles","inbound_port":80,"backend_id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/16ef138e-32f1-4d41-b432-f869049556da/frontends
    method: POST
  response:
    body: '{"id":"73520798-a46e-4206-9dc3-b29376cb50f9","name":"tf-lb-frt-boring-wiles","inbound_port":80,"backend":{"id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","name":"tf-lb-bkd-happy-booth","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"16ef138e-32f1-4d41-b432-f869049556da","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105bdce1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/73520798-a46e-4206-9dc3-b29376cb50f9/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/73520798-a46e-4206-9dc3-b29376cb50f9
    method: GET
  response:
    body: '{"id":"73520798-a46e-4206-9dc3-b29376cb50f9","name":"tf-lb-frt-boring-wiles","inbound_port":80,"backend":{"id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","name":"tf-lb-bkd-happy-booth","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cooki[...]
[...]
- request:
    body: '{"frontend_id":"73520798-a46e-4206-9dc3-b29376cb50f9","backend_id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"bed8fc78-72e6-4e1f-9305-8bd82f6dac8d","frontend_id":"73520798-a46e-4206-9dc3-b29376cb50f9","match":{"sni":"scaleway.com"},"backend_id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","created_at":"2022-01-10T17:22:11.718227811Z","updated_at":"2022-01-10T17:22:11.718227811Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/bed8fc78-72e6-4e1f-9305-8bd82f6dac8d
    method: GET
  response:
    body: '{"id":"bed8fc78-72e6-4e1f-9305-8bd82f6dac8d","frontend_id":"73520798-a46e-4206-9dc3-b29376cb50f9","match":{"sni":"scaleway.com"},"backend_id":"acf54db4-8f31-4d4e-9004-7b7434eca1ae","created_at":"2022-01-10T17:22:11.718228Z","updated_at":"2022-01-10T17:22:11.718228Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/16ef138e-32f1-4d41-b432-f869049556da?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/16ef138e-32f1-4d41-b432-f869049556da
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
