---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c6b47cd5-7fca-4acc-bde4-e32e91f58310
    method: GET
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:22:56.183622998Z","description":"","frontend_count":0,"id":"17eb1fab-7eec-4eee-bdbd-0bc3f857c33c","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"17eb1fab-7eec-4eee-bdbd-0bc3f857c33c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:22:56.183622998Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/17eb1fab-7eec-4eee-bdbd-0bc3f857c33c
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:22:56.183623Z","description":"","frontend_count":0,"id":"17eb1fab-7eec-4eee-bdbd-0bc3f857c33c","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"17eb1fab-7eec-4eee-bdbd-0bc3f857c33c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:22:56.183623Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/17eb1fab-7eec-4eee-bdbd-0bc3f857c33c/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-objective-swartz","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/17eb1fab-7eec-4eee-bdbd-0bc3f857c33c/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:23:26.831227826Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"72e9f050-b182-4722-832e-a2ea7c3b5f86","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:22:56.183623Z","description":"","frontend_count":0,"id":"17eb1fab-7eec-4eee-bdbd-0bc3f857c33c","instances":[{"created_at":"2023-06-29T13:21:44.552728Z","id":"a2739ea8-efe0-442c-8931-2560fc530c02","ip_address":"10.194.174.75","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:23:26.868639913Z","zone":"fr-par-1"}],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"17eb1fab-7eec-4eee-bdbd-0bc3f857c33c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:22:58.894853Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-objective-swartz","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:23:26.831227826Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/72e9f050-b182-4722-832e-a2ea7c3b5f86
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:23:26.831228Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-angry-tereshkova","inbound_port":80,"backend_id":"72e9f050-b182-4722-832e-a2ea7c3b5f86","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/17eb1fab-7eec-4eee-bdbd-0bc3f857c33c/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:23:26.831228Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"72e9f050-b182-4722-832e-a2ea7c3b5f86","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:22:56.183623Z","description":"","frontend_count":1,"id":"17eb1f[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-silly-babbage","inbound_port":80,"backend_id":"72e9f050-b182-4722-832e-a2ea7c3b5f86","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0c00dad7-dd48-4710-8e54-141a202fc16c
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:23:26.831228Z","failover_host":null,"forward_port":80,[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0c00dad7-dd48-4710-8e54-141a202fc16c/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"0c00dad7-dd48-4710-8e54-141a202fc16c","backend_id":"72e9f050-b182-4722-832e-a2ea7c3b5f86","match":{"host_header":"host.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"72e9f050-b182-4722-832e-a2ea7c3b5f86","created_at":"2023-06-29T13:23:28.412908846Z","frontend_id":"0c00dad7-dd48-4710-8e54-141a202fc16c","id":"da440afb-c0c4-46a0-9861-17d11a59b505","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-06-29T13:23:28.412908846Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/da440afb-c0c4-46a0-9861-17d11a59b505
    method: GET
  response:
    body: '{"backend_id":"72e9f050-b182-4722-832e-a2ea7c3b5f86","created_at":"2023-06-29T13:23:28.412909Z","frontend_id":"0c00dad7-dd48-4710-8e54-141a202fc16c","id":"da440afb-c0c4-46a0-9861-17d11a59b505","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-06-29T13:23:28.412909Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/17eb1fab-7eec-4eee-bdbd-0bc3f857c33c?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/17eb1fab-7eec-4eee-bdbd-0bc3f857c33c
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
