---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f9b49342-c7c1-4a5c-bee5-974651d93326","ip_address":"51.159.75.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-75-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f9b49342-c7c1-4a5c-bee5-974651d93326
    method: GET
  response:
    body: '{"id":"f9b49342-c7c1-4a5c-bee5-974651d93326","ip_address":"51.159.75.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-75-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f9b49342-c7c1-4a5c-bee5-974651d93326","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f9b49342-c7c1-4a5c-bee5-974651d93326","ip_address":"51.159.75.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a","reverse":"51-159-75-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:56:28.934544697Z","updated_at":"2021-12-22T12:56:28.934544697Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a
    method: GET
  response:
    body: '{"id":"742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f9b49342-c7c1-4a5c-bee5-974651d93326","ip_address":"51.159.75.142","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a","reverse":"51-159-75-142.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:56:28.934545Z","updated_at":"2021-12-22T12:56:28.934545Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-nice-dewdney","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a/backends
    method: POST
  response:
    body: '{"id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","name":"tf-lb-bkd-nice-dewdney","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a","name":"test-lb","description":"","status":"ready","instances":[{"id":"1e784c1b-6cdc-4417-93a0-c381b4fe5129","status":"pending","ip_address":"10.70.26.35","created_at":"2021-12-22T12:54:21.537286Z","updated_at":"2021-12-22T12:56:59.593459630Z","region":"fr-par","zone":"fr-par-1"},{"id":"daea5a1d-b2ac-472b-b77c-d88ed991ad0a","status":"pending","ip_address":"10.64.174.129","created_at":"2021-12-22T12:54:16.592150Z","updated_at":"2021-12-22T12:56:59.6924[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/828eb59d-dcf6-4a3c-942f-0ab64c28fde3
    method: GET
  response:
    body: '{"id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","name":"tf-lb-bkd-nice-dewdney","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"che[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-silly-cannon","inbound_port":80,"backend_id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a/frontends
    method: POST
  response:
    body: '{"id":"aee16d4e-a207-4e26-8560-aa5485ee4df7","name":"tf-lb-frt-silly-cannon","inbound_port":80,"backend":{"id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","name":"tf-lb-bkd-nice-dewdney","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105bdce[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/aee16d4e-a207-4e26-8560-aa5485ee4df7/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/aee16d4e-a207-4e26-8560-aa5485ee4df7
    method: GET
  response:
    body: '{"id":"aee16d4e-a207-4e26-8560-aa5485ee4df7","name":"tf-lb-frt-silly-cannon","inbound_port":80,"backend":{"id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","name":"tf-lb-bkd-nice-dewdney","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cook[...]
[...]
- request:
    body: '{"frontend_id":"aee16d4e-a207-4e26-8560-aa5485ee4df7","backend_id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"be12a2a3-eb21-4b98-8f18-6ec0c242236b","frontend_id":"aee16d4e-a207-4e26-8560-aa5485ee4df7","match":{"sni":"scaleway.com"},"backend_id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","created_at":"2021-12-22T12:57:01.045034219Z","updated_at":"2021-12-22T12:57:01.045034219Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/be12a2a3-eb21-4b98-8f18-6ec0c242236b
    method: GET
  response:
    body: '{"id":"be12a2a3-eb21-4b98-8f18-6ec0c242236b","frontend_id":"aee16d4e-a207-4e26-8560-aa5485ee4df7","match":{"sni":"scaleway.com"},"backend_id":"828eb59d-dcf6-4a3c-942f-0ab64c28fde3","created_at":"2021-12-22T12:57:01.045034Z","updated_at":"2021-12-22T12:57:01.045034Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/742adfcd-cc59-4c02-ac35-dc5fd8cb7a7a
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
