---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5ecacd37-43f2-4afa-84a2-a74651ea1bce","ip_address":"195.154.71.119","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-119.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5ecacd37-43f2-4afa-84a2-a74651ea1bce
    method: GET
  response:
    body: '{"id":"5ecacd37-43f2-4afa-84a2-a74651ea1bce","ip_address":"195.154.71.119","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-119.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"5ecacd37-43f2-4afa-84a2-a74651ea1bce","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"44848505-6a56-4e42-9f68-1b19535138f9","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"5ecacd37-43f2-4afa-84a2-a74651ea1bce","ip_address":"195.154.71.119","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"44848505-6a56-4e42-9f68-1b19535138f9","reverse":"195-154-71-119.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.128024768Z","updated_at":"2021-12-27T12:08:08.128024768Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/44848505-6a56-4e42-9f68-1b19535138f9
    method: GET
  response:
    body: '{"id":"44848505-6a56-4e42-9f68-1b19535138f9","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"5ecacd37-43f2-4afa-84a2-a74651ea1bce","ip_address":"195.154.71.119","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"44848505-6a56-4e42-9f68-1b19535138f9","reverse":"195-154-71-119.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.128025Z","updated_at":"2021-12-27T12:08:08.128025Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/44848505-6a56-4e42-9f68-1b19535138f9/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-lucid-haibt","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/44848505-6a56-4e42-9f68-1b19535138f9/backends
    method: POST
  response:
    body: '{"id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","name":"tf-lb-bkd-lucid-haibt","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"44848505-6a56-4e42-9f68-1b19535138f9","name":"test-lb","description":"","status":"ready","instances":[{"id":"48661e33-afc1-439a-baa9-f92ef218211b","status":"pending","ip_address":"10.68.178.67","created_at":"2021-12-27T12:00:17.361974Z","updated_at":"2021-12-27T12:08:38.779925633Z","region":"fr-par","zone":"fr-par-1"},{"id":"57c5a08a-754d-4ea3-aecf-cf56bca53664","status":"pending","ip_address":"10.64.14.69","created_at":"2021-12-27T11:59:01.494532Z","updated_at":"2021-12-27T12:08:38.84968[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/77d3dc0b-e6ad-4aec-96e2-d51debd23d7b
    method: GET
  response:
    body: '{"id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","name":"tf-lb-bkd-lucid-haibt","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"chec[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-elegant-newton","inbound_port":80,"backend_id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/44848505-6a56-4e42-9f68-1b19535138f9/frontends
    method: POST
  response:
    body: '{"id":"9636f8dc-1c23-44f3-8201-eef3c366b10c","name":"tf-lb-frt-elegant-newton","inbound_port":80,"backend":{"id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","name":"tf-lb-bkd-lucid-haibt","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"44848505-6a56-4e42-9f68-1b19535138f9","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105bdce1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9636f8dc-1c23-44f3-8201-eef3c366b10c/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/9636f8dc-1c23-44f3-8201-eef3c366b10c
    method: GET
  response:
    body: '{"id":"9636f8dc-1c23-44f3-8201-eef3c366b10c","name":"tf-lb-frt-elegant-newton","inbound_port":80,"backend":{"id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","name":"tf-lb-bkd-lucid-haibt","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_coo[...]
[...]
- request:
    body: '{"frontend_id":"9636f8dc-1c23-44f3-8201-eef3c366b10c","backend_id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"787f82ac-7ef8-4a03-8ed2-2fc707593764","frontend_id":"9636f8dc-1c23-44f3-8201-eef3c366b10c","match":{"sni":"scaleway.com"},"backend_id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","created_at":"2021-12-27T12:08:40.229375389Z","updated_at":"2021-12-27T12:08:40.229375389Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/787f82ac-7ef8-4a03-8ed2-2fc707593764
    method: GET
  response:
    body: '{"id":"787f82ac-7ef8-4a03-8ed2-2fc707593764","frontend_id":"9636f8dc-1c23-44f3-8201-eef3c366b10c","match":{"sni":"scaleway.com"},"backend_id":"77d3dc0b-e6ad-4aec-96e2-d51debd23d7b","created_at":"2021-12-27T12:08:40.229375Z","updated_at":"2021-12-27T12:08:40.229375Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/44848505-6a56-4e42-9f68-1b19535138f9?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/44848505-6a56-4e42-9f68-1b19535138f9
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
