---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/c6b47cd5-7fca-4acc-bde4-e32e91f58310
    method: GET
  response:
    body: '{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","assign_flexible_ip":null,"tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:24:08.326862360Z","description":"","frontend_count":0,"id":"959a7590-c276-45a4-85e2-2ee89a6ca465","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"959a7590-c276-45a4-85e2-2ee89a6ca465","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:24:08.326862360Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/959a7590-c276-45a4-85e2-2ee89a6ca465
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-29T13:24:08.326862Z","description":"","frontend_count":0,"id":"959a7590-c276-45a4-85e2-2ee89a6ca465","instances":[],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"959a7590-c276-45a4-85e2-2ee89a6ca465","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:24:08.326862Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/959a7590-c276-45a4-85e2-2ee89a6ca465/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-naughty-roentgen","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":3,"max_connections":null,"timeout_queue":"0.000000000s","timeout_server":300000,"timeout_connect":5000,"timeout_tunnel":900000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/959a7590-c276-45a4-85e2-2ee89a6ca465/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-29T13:24:38.928853883Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"cf910923-b21e-4cb6-a786-da00420fc590","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:24:08.326862Z","description":"","frontend_count":0,"id":"959a7590-c276-45a4-85e2-2ee89a6ca465","instances":[{"created_at":"2023-06-29T12:04:31.654274Z","id":"f36ad616-4fd3-4a45-84b8-6eb0ddbcb9c1","ip_address":"10.73.130.133","region":"fr-par","status":"pending","updated_at":"2023-06-29T13:24:38.957834867Z","zone":"fr-par-1"}],"ip":[{"id":"c6b47cd5-7fca-4acc-bde4-e32e91f58310","ip_address":"195.154.70.160","lb_id":"959a7590-c276-45a4-85e2-2ee89a6ca465","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-160.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-29T13:24:10.741488Z","zone":"fr-par-1"},"max_connections":null,"max_retries":3,"name":"tf-lb-bkd-naughty-roentgen","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":5000,"timeout_queue":"0s","timeout_server":300000,"timeout_tunnel":900000,"updated_at":"2023-06-29T13:24:38.928853883Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/cf910923-b21e-4cb6-a786-da00420fc590
    method: GET
  response:
    body: '{"created_at":"2023-06-29T13:24:38.928854Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-pensive-bhabha","inbound_port":80,"backend_id":"cf910923-b21e-4cb6-a786-da00420fc590","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/959a7590-c276-45a4-85e2-2ee89a6ca465/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:24:38.928854Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"cf910923-b21e-4cb6-a786-da00420fc590","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-29T13:24:08.326862Z","description":"","frontend_count":1,"id":"959a759[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-loving-moser","inbound_port":80,"backend_id":"cf910923-b21e-4cb6-a786-da00420fc590","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0063822f-30bf-4a71-b67e-7297f0ba631f
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-29T13:24:38.928854Z","failover_host":null,"forward_port":80,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/0063822f-30bf-4a71-b67e-7297f0ba631f/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"0063822f-30bf-4a71-b67e-7297f0ba631f","backend_id":"cf910923-b21e-4cb6-a786-da00420fc590","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"cf910923-b21e-4cb6-a786-da00420fc590","created_at":"2023-06-29T13:24:40.587986949Z","frontend_id":"0063822f-30bf-4a71-b67e-7297f0ba631f","id":"394bbd09-1de3-40ee-a638-547cd489ae6b","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-29T13:24:40.587986949Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/394bbd09-1de3-40ee-a638-547cd489ae6b
    method: GET
  response:
    body: '{"backend_id":"cf910923-b21e-4cb6-a786-da00420fc590","created_at":"2023-06-29T13:24:40.587987Z","frontend_id":"0063822f-30bf-4a71-b67e-7297f0ba631f","id":"394bbd09-1de3-40ee-a638-547cd489ae6b","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-29T13:24:40.587987Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/959a7590-c276-45a4-85e2-2ee89a6ca465?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/959a7590-c276-45a4-85e2-2ee89a6ca465
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
