---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/88e1e548-9b7e-430c-8cfd-65fb36bb27d1
    method: GET
  response:
    body: '{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T12:39:31.153692648Z","description":"","frontend_count":0,"id":"a3d732e8-6870-40fa-ba45-f7fa527dd442","instances":[],"ip":[{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":"a3d732e8-6870-40fa-ba45-f7fa527dd442","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T12:39:31.153692648Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a3d732e8-6870-40fa-ba45-f7fa527dd442
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-16T12:39:31.153693Z","description":"","frontend_count":0,"id":"a3d732e8-6870-40fa-ba45-f7fa527dd442","instances":[{"created_at":"2023-02-16T11:46:56.730168Z","id":"59a923d2-9f09-4a5d-97c1-55b42c80b3b8","ip_address":"10.69.110.3","region":"fr-par","status":"unknown","updated_at":"2023-02-16T12:39:31.417490Z","zone":"fr-par-1"}],"ip":[{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":"a3d732e8-6870-40fa-ba45-f7fa527dd442","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T12:39:31.153693Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a3d732e8-6870-40fa-ba45-f7fa527dd442/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-naughty-dubinsky","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a3d732e8-6870-40fa-ba45-f7fa527dd442/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-16T12:40:01.928648743Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"c6487b33-caea-4b0b-a942-3e94ec9c3bb4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T12:39:31.153693Z","description":"","frontend_count":0,"id":"a3d732e8-6870-40fa-ba45-f7fa527dd442","instances":[{"created_at":"2023-02-16T11:46:56.730168Z","id":"59a923d2-9f09-4a5d-97c1-55b42c80b3b8","ip_address":"10.69.110.3","region":"fr-par","status":"pending","updated_at":"2023-02-16T12:40:01.965638960Z","zone":"fr-par-1"}],"ip":[{"id":"88e1e548-9b7e-430c-8cfd-65fb36bb27d1","ip_address":"51.159.207.111","lb_id":"a3d732e8-6870-40fa-ba45-f7fa527dd442","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-207-111.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-16T12:39:32.493216Z","zone":"fr-par-1"},"name":"tf-lb-bkd-naughty-dubinsky","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-16T12:40:01.928648743Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c6487b33-caea-4b0b-a942-3e94ec9c3bb4
    method: GET
  response:
    body: '{"created_at":"2023-02-16T12:40:01.928649Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"c6487b33-caea-4b0b-a942-3e[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-jolly-newton","inbound_port":80,"backend_id":"c6487b33-caea-4b0b-a942-3e94ec9c3bb4","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a3d732e8-6870-40fa-ba45-f7fa527dd442/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-16T12:40:01.928649Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"c6487b33-caea-4b0b-a942-3e94ec9c3bb4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-16T12:39:31.153693Z","description":"","frontend_count":1,"id":"a3d732e8-6870-40fa-ba45-f7fa527dd442[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/085b8681-6ae5-400e-9003-8a5054f8a5cc/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/085b8681-6ae5-400e-9003-8a5054f8a5cc
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-16T12:40:01.928649Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"c6487b33-caea-[...]
[...]
- request:
    body: '{"frontend_id":"085b8681-6ae5-400e-9003-8a5054f8a5cc","backend_id":"c6487b33-caea-4b0b-a942-3e94ec9c3bb4","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"c6487b33-caea-4b0b-a942-3e94ec9c3bb4","created_at":"2023-02-16T12:40:03.195824463Z","frontend_id":"085b8681-6ae5-400e-9003-8a5054f8a5cc","id":"0e90923b-f7f0-49e2-8262-835a29e459ad","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-16T12:40:03.195824463Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/0e90923b-f7f0-49e2-8262-835a29e459ad
    method: GET
  response:
    body: '{"backend_id":"c6487b33-caea-4b0b-a942-3e94ec9c3bb4","created_at":"2023-02-16T12:40:03.195824Z","frontend_id":"085b8681-6ae5-400e-9003-8a5054f8a5cc","id":"0e90923b-f7f0-49e2-8262-835a29e459ad","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-02-16T12:40:03.195824Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a3d732e8-6870-40fa-ba45-f7fa527dd442?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a3d732e8-6870-40fa-ba45-f7fa527dd442
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
