---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a7972715-724c-448c-85b2-640ffc655a09
    method: GET
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"a7972715-724c-448c-85b2-640ffc655a09","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"759492f8-1280-400e-b92c-edbfcc32364e","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"759492f8-1280-400e-b92c-edbfcc32364e","reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:10:08.545079913Z","updated_at":"2021-11-04T13:10:08.545079913Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/759492f8-1280-400e-b92c-edbfcc32364e
    method: GET
  response:
    body: '{"id":"759492f8-1280-400e-b92c-edbfcc32364e","name":"test-lb","description":"","status":"pending","instances":[{"id":"e23e6253-90aa-4a83-87f8-645093d99ef1","status":"unknown","ip_address":"10.69.124.85","created_at":"2021-11-04T13:00:57.532130Z","updated_at":"2021-11-04T13:10:08.745990Z","region":"fr-par","zone":"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/759492f8-1280-400e-b92c-edbfcc32364e/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-eager-thompson","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/759492f8-1280-400e-b92c-edbfcc32364e/backends
    method: POST
  response:
    body: '{"id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","name":"tf-lb-bkd-eager-thompson","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"759492f8-1280-400e-b92c-edbfcc32364e","name":"test-lb","description":"","status":"ready","instances":[{"id":"e23e6253-90aa-4a83-87f8-645093d99ef1","status":"pending","ip_address":"10.69.124.85","created_at":"2021-11-04T13:00:57.532130Z","updated_at":"2021-11-04T13:10:39.425275148Z","region":"fr-par","zone":"fr-par-1"},{"id":"7ceb1f4a-a040-42fb-801c-cebcbe8ff21b","status":"pending","ip_address":"10.71.86.67","created_at":"2021-11-04T13:08:27.461625Z","updated_at":"2021-11-04T13:10:39.51253[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96
    method: GET
  response:
    body: '{"id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","name":"tf-lb-bkd-eager-thompson","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"c[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-great-chebyshev","inbound_port":80,"backend_id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/759492f8-1280-400e-b92c-edbfcc32364e/frontends
    method: POST
  response:
    body: '{"id":"b002e507-6aaf-42e2-81ed-23ba321a989b","name":"tf-lb-frt-great-chebyshev","inbound_port":80,"backend":{"id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","name":"tf-lb-bkd-eager-thompson","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"759492f8-1280-400e-b92c-edbfcc32364e","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b002e507-6aaf-42e2-81ed-23ba321a989b/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b002e507-6aaf-42e2-81ed-23ba321a989b
    method: GET
  response:
    body: '{"id":"b002e507-6aaf-42e2-81ed-23ba321a989b","name":"tf-lb-frt-great-chebyshev","inbound_port":80,"backend":{"id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","name":"tf-lb-bkd-eager-thompson","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions[...]
[...]
- request:
    body: '{"frontend_id":"b002e507-6aaf-42e2-81ed-23ba321a989b","backend_id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"72ea9094-a6c6-4087-85d8-4ce8a1a08757","frontend_id":"b002e507-6aaf-42e2-81ed-23ba321a989b","match":{"sni":"scaleway.com"},"backend_id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","created_at":"2021-11-04T13:10:41.125336915Z","updated_at":"2021-11-04T13:10:41.125336915Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/72ea9094-a6c6-4087-85d8-4ce8a1a08757
    method: GET
  response:
    body: '{"id":"72ea9094-a6c6-4087-85d8-4ce8a1a08757","frontend_id":"b002e507-6aaf-42e2-81ed-23ba321a989b","match":{"sni":"scaleway.com"},"backend_id":"d7b9e22f-c3e8-4e78-91c2-2a6b3de02d96","created_at":"2021-11-04T13:10:41.125337Z","updated_at":"2021-11-04T13:10:41.125337Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/759492f8-1280-400e-b92c-edbfcc32364e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/759492f8-1280-400e-b92c-edbfcc32364e
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
