---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ab788f05-c0c2-4cb1-b6c4-64d80f6a9954","ip_address":"51.159.9.46","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-46.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ab788f05-c0c2-4cb1-b6c4-64d80f6a9954
    method: GET
  response:
    body: '{"id":"ab788f05-c0c2-4cb1-b6c4-64d80f6a9954","ip_address":"51.159.9.46","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-46.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"ab788f05-c0c2-4cb1-b6c4-64d80f6a9954","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"1eef3965-9190-4b5d-9862-70d9fee6152e","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"ab788f05-c0c2-4cb1-b6c4-64d80f6a9954","ip_address":"51.159.9.46","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"1eef3965-9190-4b5d-9862-70d9fee6152e","reverse":"51-159-9-46.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.221331089Z","updated_at":"2021-12-30T10:19:11.221331089Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1eef3965-9190-4b5d-9862-70d9fee6152e
    method: GET
  response:
    body: '{"id":"1eef3965-9190-4b5d-9862-70d9fee6152e","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"ab788f05-c0c2-4cb1-b6c4-64d80f6a9954","ip_address":"51.159.9.46","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"1eef3965-9190-4b5d-9862-70d9fee6152e","reverse":"51-159-9-46.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.221331Z","updated_at":"2021-12-30T10:19:11.221331Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1eef3965-9190-4b5d-9862-70d9fee6152e/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-serene-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1eef3965-9190-4b5d-9862-70d9fee6152e/backends
    method: POST
  response:
    body: '{"id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","name":"tf-lb-bkd-serene-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"1eef3965-9190-4b5d-9862-70d9fee6152e","name":"test-lb","description":"","status":"ready","instances":[{"id":"b326e173-b0ca-49ed-954b-9d857774bdb5","status":"pending","ip_address":"10.64.10.131","created_at":"2021-12-30T09:40:32.079967Z","updated_at":"2021-12-30T10:19:41.834910958Z","region":"fr-par","zone":"fr-par-1"},{"id":"064bbe1f-6e92-46b1-86f1-ac3912cb6a6f","status":"pending","ip_address":"10.68.16.137","created_at":"2021-12-30T09:39:39.794196Z","updated_at":"2021-12-30T10:19:41.9155[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6c0fb6f9-441d-40d1-9224-8ac943c755d2
    method: GET
  response:
    body: '{"id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","name":"tf-lb-bkd-serene-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-kind-stallman","inbound_port":80,"backend_id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1eef3965-9190-4b5d-9862-70d9fee6152e/frontends
    method: POST
  response:
    body: '{"id":"ba4937ae-6b50-4783-b835-964fe3e35de2","name":"tf-lb-frt-kind-stallman","inbound_port":80,"backend":{"id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","name":"tf-lb-bkd-serene-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"1eef3965-9190-4b5d-9862-70d9fee6152e","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"10[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ba4937ae-6b50-4783-b835-964fe3e35de2/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ba4937ae-6b50-4783-b835-964fe3e35de2
    method: GET
  response:
    body: '{"id":"ba4937ae-6b50-4783-b835-964fe3e35de2","name":"tf-lb-frt-kind-stallman","inbound_port":80,"backend":{"id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","name":"tf-lb-bkd-serene-kowalevski","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_session[...]
[...]
- request:
    body: '{"frontend_id":"ba4937ae-6b50-4783-b835-964fe3e35de2","backend_id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"bbdd2537-4bc7-4eb5-b1b1-f85d13ea25f0","frontend_id":"ba4937ae-6b50-4783-b835-964fe3e35de2","match":{"sni":"scaleway.com"},"backend_id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","created_at":"2021-12-30T10:19:43.208242437Z","updated_at":"2021-12-30T10:19:43.208242437Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/bbdd2537-4bc7-4eb5-b1b1-f85d13ea25f0
    method: GET
  response:
    body: '{"id":"bbdd2537-4bc7-4eb5-b1b1-f85d13ea25f0","frontend_id":"ba4937ae-6b50-4783-b835-964fe3e35de2","match":{"sni":"scaleway.com"},"backend_id":"6c0fb6f9-441d-40d1-9224-8ac943c755d2","created_at":"2021-12-30T10:19:43.208242Z","updated_at":"2021-12-30T10:19:43.208242Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1eef3965-9190-4b5d-9862-70d9fee6152e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1eef3965-9190-4b5d-9862-70d9fee6152e
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
