---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"4fa8b23d-114f-4106-b64f-3b18f50be1e0","ip_address":"51.158.56.33","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-33.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/4fa8b23d-114f-4106-b64f-3b18f50be1e0
    method: GET
  response:
    body: '{"id":"4fa8b23d-114f-4106-b64f-3b18f50be1e0","ip_address":"51.158.56.33","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-33.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"4fa8b23d-114f-4106-b64f-3b18f50be1e0","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-02-09T15:32:16.206337766Z","description":"","frontend_count":0,"id":"8d371263-2e9a-4b8b-9526-d03bce9d011b","instances":[],"ip":[{"id":"4fa8b23d-114f-4106-b64f-3b18f50be1e0","ip_address":"51.158.56.33","lb_id":"8d371263-2e9a-4b8b-9526-d03bce9d011b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-33.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-09T15:32:16.206337766Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8d371263-2e9a-4b8b-9526-d03bce9d011b
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-02-09T15:32:16.206338Z","description":"","frontend_count":0,"id":"8d371263-2e9a-4b8b-9526-d03bce9d011b","instances":[],"ip":[{"id":"4fa8b23d-114f-4106-b64f-3b18f50be1e0","ip_address":"51.158.56.33","lb_id":"8d371263-2e9a-4b8b-9526-d03bce9d011b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-33.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-09T15:32:16.206338Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8d371263-2e9a-4b8b-9526-d03bce9d011b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-vigorous-feynman","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8d371263-2e9a-4b8b-9526-d03bce9d011b/backends
    method: POST
  response:
    body: '{"created_at":"2023-02-09T15:32:46.943571255Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"b69d332d-523b-487a-831c-8c6cb7fcf0c4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-09T15:32:16.206338Z","description":"","frontend_count":0,"id":"8d371263-2e9a-4b8b-9526-d03bce9d011b","instances":[{"created_at":"2023-02-09T15:30:56.814589Z","id":"b6a87f80-b6c8-4adf-95c7-c8ebfe6c50a4","ip_address":"10.70.130.99","region":"fr-par","status":"pending","updated_at":"2023-02-09T15:32:46.971413830Z","zone":"fr-par-1"}],"ip":[{"id":"4fa8b23d-114f-4106-b64f-3b18f50be1e0","ip_address":"51.158.56.33","lb_id":"8d371263-2e9a-4b8b-9526-d03bce9d011b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-56-33.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-02-09T15:32:17.694106Z","zone":"fr-par-1"},"name":"tf-lb-bkd-vigorous-feynman","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-02-09T15:32:46.943571255Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/b69d332d-523b-487a-831c-8c6cb7fcf0c4
    method: GET
  response:
    body: '{"created_at":"2023-02-09T15:32:46.943571Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"b69d332d-523b-487a-831c-8[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-zen-sammet","inbound_port":80,"backend_id":"b69d332d-523b-487a-831c-8c6cb7fcf0c4","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8d371263-2e9a-4b8b-9526-d03bce9d011b/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-02-09T15:32:46.943571Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"b69d332d-523b-487a-831c-8c6cb7fcf0c4","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-02-09T15:32:16.206338Z","description":"","frontend_count":1,"id":"8d371263-2e9a-4b8b-9526-d03bce9d011[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/118eaef5-0f16-43fd-a265-1ea0eb749c18/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/118eaef5-0f16-43fd-a265-1ea0eb749c18
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-02-09T15:32:46.943571Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{}},"id":"b69d332d-523b[...]
[...]
- request:
    body: '{"frontend_id":"118eaef5-0f16-43fd-a265-1ea0eb749c18","backend_id":"b69d332d-523b-487a-831c-8c6cb7fcf0c4","match":{"host_header":"host.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"b69d332d-523b-487a-831c-8c6cb7fcf0c4","created_at":"2023-02-09T15:32:48.460306532Z","frontend_id":"118eaef5-0f16-43fd-a265-1ea0eb749c18","id":"ae6598ac-1480-41a5-b295-ad30e7d39027","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-09T15:32:48.460306532Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/ae6598ac-1480-41a5-b295-ad30e7d39027
    method: GET
  response:
    body: '{"backend_id":"b69d332d-523b-487a-831c-8c6cb7fcf0c4","created_at":"2023-02-09T15:32:48.460307Z","frontend_id":"118eaef5-0f16-43fd-a265-1ea0eb749c18","id":"ae6598ac-1480-41a5-b295-ad30e7d39027","match":{"host_header":"host.scaleway.com"},"updated_at":"2023-02-09T15:32:48.460307Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8d371263-2e9a-4b8b-9526-d03bce9d011b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8d371263-2e9a-4b8b-9526-d03bce9d011b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
