---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d66745e4-91d2-4018-b4d6-9567af1fa69c
    method: GET
  response:
    body: '{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb","description":"","ip_id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:40:30.479747759Z","description":"","frontend_count":0,"id":"7b006f8e-a4d8-448e-b99d-93590b9b5786","instances":[],"ip":[{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":"7b006f8e-a4d8-448e-b99d-93590b9b5786","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:30.479747759Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b006f8e-a4d8-448e-b99d-93590b9b5786
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:40:30.479748Z","description":"","frontend_count":0,"id":"7b006f8e-a4d8-448e-b99d-93590b9b5786","instances":[],"ip":[{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":"7b006f8e-a4d8-448e-b99d-93590b9b5786","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:30.479748Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b006f8e-a4d8-448e-b99d-93590b9b5786/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-hungry-visvesvaraya","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b006f8e-a4d8-448e-b99d-93590b9b5786/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:41:01.065826579Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:40:30.479748Z","description":"","frontend_count":0,"id":"7b006f8e-a4d8-448e-b99d-93590b9b5786","instances":[{"created_at":"2023-06-16T09:39:05.275658Z","id":"874027cc-f3d5-4215-8c02-ea1a92ead9cf","ip_address":"10.71.74.47","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:41:01.092894343Z","zone":"fr-par-1"}],"ip":[{"id":"d66745e4-91d2-4018-b4d6-9567af1fa69c","ip_address":"51.159.26.180","lb_id":"7b006f8e-a4d8-448e-b99d-93590b9b5786","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-26-180.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:40:33.029674Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-hungry-visvesvaraya","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:41:01.065826579Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:41:01.065827Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-charming-heyrovsky","inbound_port":80,"backend_id":"6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b006f8e-a4d8-448e-b99d-93590b9b5786/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:41:01.065827Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"tcp","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:40:30.479748Z","description":"","frontend_count":1,"id":"7b006f8[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-angry-cannon","inbound_port":80,"backend_id":"6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd","certificate_ids":null,"enable_http3":false,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/39bbfb32-0173-4c65-a675-c0f11e5352b7
    method: PUT
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:41:01.065827Z","failover_host":null,"forward_port":80,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/39bbfb32-0173-4c65-a675-c0f11e5352b7/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"frontend_id":"39bbfb32-0173-4c65-a675-c0f11e5352b7","backend_id":"6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd","match":{"sni":"sni.scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"backend_id":"6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd","created_at":"2023-06-16T09:41:02.720579731Z","frontend_id":"39bbfb32-0173-4c65-a675-c0f11e5352b7","id":"18e601b2-2b54-407e-b2c1-26bef7201bbd","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-16T09:41:02.720579731Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/18e601b2-2b54-407e-b2c1-26bef7201bbd
    method: GET
  response:
    body: '{"backend_id":"6ba40c4a-fc6d-4809-9a8d-58f713e3c6fd","created_at":"2023-06-16T09:41:02.720580Z","frontend_id":"39bbfb32-0173-4c65-a675-c0f11e5352b7","id":"18e601b2-2b54-407e-b2c1-26bef7201bbd","match":{"sni":"sni.scaleway.com"},"updated_at":"2023-06-16T09:41:02.720580Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b006f8e-a4d8-448e-b99d-93590b9b5786?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7b006f8e-a4d8-448e-b99d-93590b9b5786
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
