---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f9729560-ac44-4ab3-8702-0f8dd60944c1","ip_address":"51.159.115.41","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-115-41.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f9729560-ac44-4ab3-8702-0f8dd60944c1
    method: GET
  response:
    body: '{"id":"f9729560-ac44-4ab3-8702-0f8dd60944c1","ip_address":"51.159.115.41","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-115-41.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb","description":"","ip_id":"f9729560-ac44-4ab3-8702-0f8dd60944c1","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"42c5b331-9172-4548-b647-36af8a576e8f","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f9729560-ac44-4ab3-8702-0f8dd60944c1","ip_address":"51.159.115.41","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"42c5b331-9172-4548-b647-36af8a576e8f","reverse":"51-159-115-41.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.641818840Z","updated_at":"2021-12-21T16:31:15.641818840Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/42c5b331-9172-4548-b647-36af8a576e8f
    method: GET
  response:
    body: '{"id":"42c5b331-9172-4548-b647-36af8a576e8f","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f9729560-ac44-4ab3-8702-0f8dd60944c1","ip_address":"51.159.115.41","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"42c5b331-9172-4548-b647-36af8a576e8f","reverse":"51-159-115-41.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.641819Z","updated_at":"2021-12-21T16:31:15.641819Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/42c5b331-9172-4548-b647-36af8a576e8f/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-adoring-payne","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/42c5b331-9172-4548-b647-36af8a576e8f/backends
    method: POST
  response:
    body: '{"id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","name":"tf-lb-bkd-adoring-payne","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"42c5b331-9172-4548-b647-36af8a576e8f","name":"test-lb","description":"","status":"ready","instances":[{"id":"99c615b7-2fdc-4e42-8e09-cb18f203ac8e","status":"pending","ip_address":"10.72.70.81","created_at":"2021-12-21T16:15:16.491991Z","updated_at":"2021-12-21T16:31:46.217677878Z","region":"fr-par","zone":"fr-par-1"},{"id":"6785966d-d4f0-41c1-93ec-d6080a88c7be","status":"pending","ip_address":"10.70.32.45","created_at":"2021-12-21T16:14:36.563771Z","updated_at":"2021-12-21T16:31:46.288070[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/d683af29-d8e2-43e8-a78d-17dfcf26c376
    method: GET
  response:
    body: '{"id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","name":"tf-lb-bkd-adoring-payne","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"ch[...]
[...]
- request:
    body: '{"name":"tf-lb-frt-xenodochial-swartz","inbound_port":80,"backend_id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/42c5b331-9172-4548-b647-36af8a576e8f/frontends
    method: POST
  response:
    body: '{"id":"b5e99cdc-90cf-449d-94bf-ef0831c485c9","name":"tf-lb-frt-xenodochial-swartz","inbound_port":80,"backend":{"id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","name":"tf-lb-bkd-adoring-payne","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"42c5b331-9172-4548-b647-36af8a576e8f","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"105bdc[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b5e99cdc-90cf-449d-94bf-ef0831c485c9/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b5e99cdc-90cf-449d-94bf-ef0831c485c9
    method: GET
  response:
    body: '{"id":"b5e99cdc-90cf-449d-94bf-ef0831c485c9","name":"tf-lb-frt-xenodochial-swartz","inbound_port":80,"backend":{"id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","name":"tf-lb-bkd-adoring-payne","forward_protocol":"tcp","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessio[...]
[...]
- request:
    body: '{"frontend_id":"b5e99cdc-90cf-449d-94bf-ef0831c485c9","backend_id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","match":{"sni":"scaleway.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes
    method: POST
  response:
    body: '{"id":"b1e39ed2-7025-4dc2-b553-1a207a157db5","frontend_id":"b5e99cdc-90cf-449d-94bf-ef0831c485c9","match":{"sni":"scaleway.com"},"backend_id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","created_at":"2021-12-21T16:31:47.557356469Z","updated_at":"2021-12-21T16:31:47.557356469Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/routes/b1e39ed2-7025-4dc2-b553-1a207a157db5
    method: GET
  response:
    body: '{"id":"b1e39ed2-7025-4dc2-b553-1a207a157db5","frontend_id":"b5e99cdc-90cf-449d-94bf-ef0831c485c9","match":{"sni":"scaleway.com"},"backend_id":"d683af29-d8e2-43e8-a78d-17dfcf26c376","created_at":"2021-12-21T16:31:47.557356Z","updated_at":"2021-12-21T16:31:47.557356Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/42c5b331-9172-4548-b647-36af8a576e8f?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/42c5b331-9172-4548-b647-36af8a576e8f
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
