---
version: 1
interactions:
- request:
    body: '{"name":"test-sub","email_config":{"email":"foo@bar.com"},"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/subscribers
    method: POST
  response:
    body: '{"id":"ccab5730-f50e-478b-b8ec-97c7d7b4692c","name":"test-sub","email_config":{"email":"foo@bar.com"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/subscribers/ccab5730-f50e-478b-b8ec-97c7d7b4692c
    method: GET
  response:
    body: '{"id":"ccab5730-f50e-478b-b8ec-97c7d7b4692c","name":"test-sub","email_config":{"email":"foo@bar.com"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-sub","webhook_config":{"uri":"http://www.google.com/"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/subscribers/ccab5730-f50e-478b-b8ec-97c7d7b4692c
    method: PUT
  response:
    body: '{"id":"ccab5730-f50e-478b-b8ec-97c7d7b4692c","name":"test-sub","webhook_config":{"uri":"http://www.google.com/"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lb/subscription/ccab5730-f50e-478b-b8ec-97c7d7b4692c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
