---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"id":"a85f3385-9726-4081-81f8-5c15b82ff9aa","ip_address":"51.159.25.152","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-25-152.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips/a85f3385-9726-4081-81f8-5c15b82ff9aa
    method: GET
  response:
    body: '{"id":"a85f3385-9726-4081-81f8-5c15b82ff9aa","ip_address":"51.159.25.152","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-25-152.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb-acl","description":"","ip_id":"a85f3385-9726-4081-81f8-5c15b82ff9aa","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"a1b96e11-9259-491c-bea7-abad3dd1584e","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a85f3385-9726-4081-81f8-5c15b82ff9aa","ip_address":"51.159.25.152","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"a1b96e11-9259-491c-bea7-abad3dd1584e","reverse":"51-159-25-152.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a1b96e11-9259-491c-bea7-abad3dd1584e
    method: GET
  response:
    body: '{"id":"a1b96e11-9259-491c-bea7-abad3dd1584e","name":"test-lb-acl","description":"","status":"pending","instances":[{"id":"aa061879-a9f0-459a-bd19-d398206d386f","status":"unknown","ip_address":"10.64.114.59","region":"fr-par"},{"id":"ad2c51ba-fc22-4e6e-b7d0-30cfcde339e4","status":"unknown","ip_address":"10.68.116.81","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a85f3385-9726-4081-81f8-5c15b82ff9aa","ip_address":"51.159.25.152","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"a1b96e11-9259-491c-bea7-abad3dd1584e","reverse":"51-159-25-152.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-determined-goldstine","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a1b96e11-9259-491c-bea7-abad3dd1584e/backends
    method: POST
  response:
    body: '{"id":"83a62195-6d87-4cff-892e-5a6e8a9fdee2","name":"tf-lb-bkd-determined-goldstine","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"tcp_config":{}},"pool":[],"lb":{"id":"a1b96e11-9259-491c-bea7-abad3dd1584e","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"aa061879-a9f0-459a-bd19-d398206d386f","status":"ready","ip_address":"10.64.114.59","region":"fr-par"},{"id":"ad2c51ba-fc22-4e6e-b7d0-30cfcde339e4","status":"ready","ip_address":"10.68.116.81","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a85f3385-9726-4081-81f8-5c15b82ff9aa","ip_address":"51.159.25.152","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"a1b96e11-9259-491c-bea7-abad3dd1584e","reverse":"51-159-25-152.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/backends/83a62195-6d87-4cff-892e-5a6e8a9fdee2
    method: GET
  response:
    body: '{"id":"83a62195-6d87-4cff-892e-5a6e8a9fdee2","name":"tf-lb-bkd-determined-goldstine","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retrie[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"83a62195-6d87-4cff-892e-5a6e8a9fdee2","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a1b96e11-9259-491c-bea7-abad3dd1584e/frontends
    method: POST
  response:
    body: '{"id":"a24cf7df-83c2-4e4f-8af2-ae6de48dc60c","name":"tf-test","inbound_port":80,"backend":{"id":"83a62195-6d87-4cff-892e-5a6e8a9fdee2","name":"tf-lb-bkd-determined-goldstine","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"tcp_config":{}},"pool":[],"lb":{"id":"a1b96e11-9259-491c-bea7-abad3dd1584e","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/frontends/a24cf7df-83c2-4e4f-8af2-ae6de48dc60c/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/frontends/a24cf7df-83c2-4e4f-8af2-ae6de48dc60c/acls
    method: POST
  response:
    body: '{"id":"447c92c6-2963-45f6-b743-c60ccc6879fc","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true},"action":{"type":"allow"},"frontend":{"id":"a24cf7df-83c2-4e4f-8af2-ae6de48dc60c","name":"tf-test","inbound_port":80,"backend":{"id":"83a62195-6d87-4cff-892e-5a6e8a9fdee2","name":"tf-lb-bkd-determined-goldstine","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"tcp_config":{}},"pool":[],"lb":{"id":"a1b96e11-9259-491c-bea7-abad3dd1584e","name":"test-lb-ac[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/frontends/a24cf7df-83c2-4e4f-8af2-ae6de48dc60c
    method: GET
  response:
    body: '{"id":"a24cf7df-83c2-4e4f-8af2-ae6de48dc60c","name":"tf-test","inbound_port":80,"backend":{"id":"83a62195-6d87-4cff-892e-5a6e8a9fdee2","name":"tf-lb-bkd-determined-goldstine","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_nam[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/acls/447c92c6-2963-45f6-b743-c60ccc6879fc
    method: PUT
  response:
    body: '{"id":"447c92c6-2963-45f6-b743-c60ccc6879fc","name":"test-acl","match":{"ip_subnet":["10.0.0.10"],"htt[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a1b96e11-9259-491c-bea7-abad3dd1584e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a1b96e11-9259-491c-bea7-abad3dd1584e
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
