---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5668b5e2-ff42-4ffd-a8e8-260add7c6336","ip_address":"51.159.26.232","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-26-232.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5668b5e2-ff42-4ffd-a8e8-260add7c6336
    method: GET
  response:
    body: '{"id":"5668b5e2-ff42-4ffd-a8e8-260add7c6336","ip_address":"51.159.26.232","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-26-232.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-acl","description":"","ip_id":"5668b5e2-ff42-4ffd-a8e8-260add7c6336","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"b9cd9103-2b3a-4ccd-b002-0fddc41978a0","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"5668b5e2-ff42-4ffd-a8e8-260add7c6336","ip_address":"51.159.26.232","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"b9cd9103-2b3a-4ccd-b002-0fddc41978a0","reverse":"51-159-26-232.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-21T15:23:00.431493542Z","updated_at":"2021-10-21T15:23:00.431493542Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b9cd9103-2b3a-4ccd-b002-0fddc41978a0
    method: GET
  response:
    body: '{"id":"b9cd9103-2b3a-4ccd-b002-0fddc41978a0","name":"test-lb-acl","description":"","status":"pending","instances":[{"id":"8b70643a-0110-4031-b66c-a15625856bd4","status":"ready","ip_address":"10.68.12.27","created_at":"2021-10-21T15:14:30.375431Z","updated_at":"2021-10-21T15:23:00.866207Z","region":"fr-par","zone":[...]
[...]
- request:
    body: '{"name":"tf-lb-bkd-xenodochial-euclid","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b9cd9103-2b3a-4ccd-b002-0fddc41978a0/backends
    method: POST
  response:
    body: '{"id":"c4e944c2-f9a9-4e29-94a1-83286a016507","name":"tf-lb-bkd-xenodochial-euclid","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"b9cd9103-2b3a-4ccd-b002-0fddc41978a0","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"8b70643a-0110-4031-b66c-a15625856bd4","status":"pending","ip_address":"10.68.12.27","created_at":"2021-10-21T15:14:30.375431Z","updated_at":"2021-10-21T15:23:03.340883833Z","region":"fr-par","zone":"fr-par-1"},{"id":"89f4e51e-2f81-43ec-b14e-a7f102812aed","status":"pending","ip_address":"10.73.110.73","created_at":"2021-10-21T14:57:07.240260Z","updated_at":"2021-10-21T15:23:03.3[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c4e944c2-f9a9-4e29-94a1-83286a016507
    method: GET
  response:
    body: '{"id":"c4e944c2-f9a9-4e29-94a1-83286a016507","name":"tf-lb-bkd-xenodochial-euclid","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries"[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"c4e944c2-f9a9-4e29-94a1-83286a016507","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b9cd9103-2b3a-4ccd-b002-0fddc41978a0/frontends
    method: POST
  response:
    body: '{"id":"379d4d08-a02a-44a0-aee9-b91cb03f8905","name":"tf-test","inbound_port":80,"backend":{"id":"c4e944c2-f9a9-4e29-94a1-83286a016507","name":"tf-lb-bkd-xenodochial-euclid","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"b9cd9103-2b3a-4ccd-b002-0fddc41978a0","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_i[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/379d4d08-a02a-44a0-aee9-b91cb03f8905/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/379d4d08-a02a-44a0-aee9-b91cb03f8905/acls
    method: POST
  response:
    body: '{"id":"3105c565-30d1-4679-984d-0bf16a65e21e","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"379d4d08-a02a-44a0-aee9-b91cb03f8905","name":"tf-test","inbound_port":80,"backend":{"id":"c4e944c2-f9a9-4e29-94a1-83286a016507","name":"tf-lb-bkd-xenodochial-euclid","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"b9cd9103-2b3a-4ccd-b002-0fddc4197[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/379d4d08-a02a-44a0-aee9-b91cb03f8905
    method: GET
  response:
    body: '{"id":"379d4d08-a02a-44a0-aee9-b91cb03f8905","name":"tf-test","inbound_port":80,"backend":{"id":"c4e944c2-f9a9-4e29-94a1-83286a016507","name":"tf-lb-bkd-xenodochial-euclid","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name"[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/3105c565-30d1-4679-984d-0bf16a65e21e
    method: PUT
  response:
    body: '{"id":"3105c565-30d1-4679-984d-0bf16a65e21e","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b9cd9103-2b3a-4ccd-b002-0fddc41978a0?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
