---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"137ffbb3-1e77-4b5c-bd77-8f337bac490f","ip_address":"51.159.24.58","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-24-58.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/137ffbb3-1e77-4b5c-bd77-8f337bac490f
    method: GET
  response:
    body: '{"id":"137ffbb3-1e77-4b5c-bd77-8f337bac490f","ip_address":"51.159.24.58","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-24-58.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb-acl","description":"","ip_id":"137ffbb3-1e77-4b5c-bd77-8f337bac490f","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e","name":"test-lb-acl","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"137ffbb3-1e77-4b5c-bd77-8f337bac490f","ip_address":"51.159.24.58","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e","reverse":"51-159-24-58.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-21T16:17:47.951389978Z","updated_at":"2022-04-21T16:17:47.951389978Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0ae3a88f-6fd4-4930-ba9d-edade8467f1e
    method: GET
  response:
    body: '{"id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e","name":"test-lb-acl","description":"","status":"to_create","instances":[{"id":"901f8e0f-0880-40b7-a954-2b56319c483e","status":"unknown","ip_address":"10.70.122.23","created_at":"2022-04-21T16:15:09.014071Z","updated_at":"2022-04-21T16:17:48.108970Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"137ffbb3-1e77-4b5c-bd77-8f337bac490f","ip_address":"51.159.24.58","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e","reverse":"51-159-24-58.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-21T16:17:47.951390Z","updated_at":"2022-04-21T16:17:47.951390Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0ae3a88f-6fd4-4930-ba9d-edade8467f1e/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-fervent-rhodes","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0ae3a88f-6fd4-4930-ba9d-edade8467f1e/backends
    method: POST
  response:
    body: '{"id":"ef0367d5-41cb-4f45-ab87-85a49698ac14","name":"tf-lb-bkd-fervent-rhodes","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"901f8e0f-0880-40b7-a954-2b56319c483e","status":"pending","ip_address":"10.70.122.23","created_at":"2022-04-21T16:15:09.014071Z","updated_at":"2022-04-21T16:18:18.734637064Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"137ffbb3-1e77-4b5c-bd77-8f337bac490f","ip_address":"51.159.24.58","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e","reverse":"51-159-24-58.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-21T16:17:47.951390Z","updated_at":"2022-04-21T16:17:48.585125Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-04-21T16:18:18.703550913Z","updated_at":"2022-04-21T16:18:18.703550913Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ef0367d5-41cb-4f45-ab87-85a49698ac14
    method: GET
  response:
    body: '{"id":"ef0367d5-41cb-4f45-ab87-85a49698ac14","name":"tf-lb-bkd-fervent-rhodes","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"ef0367d5-41cb-4f45-ab87-85a49698ac14","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0ae3a88f-6fd4-4930-ba9d-edade8467f1e/frontends
    method: POST
  response:
    body: '{"id":"16a2f90d-1558-4b51-9f8f-71dc9d3a1ea9","name":"tf-test","inbound_port":80,"backend":{"id":"ef0367d5-41cb-4f45-ab87-85a49698ac14","name":"tf-lb-bkd-fervent-rhodes","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/16a2f90d-1558-4b51-9f8f-71dc9d3a1ea9/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/16a2f90d-1558-4b51-9f8f-71dc9d3a1ea9/acls
    method: POST
  response:
    body: '{"id":"2eaf86f0-9954-4d20-9309-9016b7eac572","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"16a2f90d-1558-4b51-9f8f-71dc9d3a1ea9","name":"tf-test","inbound_port":80,"backend":{"id":"ef0367d5-41cb-4f45-ab87-85a49698ac14","name":"tf-lb-bkd-fervent-rhodes","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"0ae3a88f-6fd4-4930-ba9d-edade8467f1e"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/16a2f90d-1558-4b51-9f8f-71dc9d3a1ea9
    method: GET
  response:
    body: '{"id":"16a2f90d-1558-4b51-9f8f-71dc9d3a1ea9","name":"tf-test","inbound_port":80,"backend":{"id":"ef0367d5-41cb-4f45-ab87-85a49698ac14","name":"tf-lb-bkd-fervent-rhodes","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"",[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/2eaf86f0-9954-4d20-9309-9016b7eac572
    method: PUT
  response:
    body: '{"id":"2eaf86f0-9954-4d20-9309-9016b7eac572","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0ae3a88f-6fd4-4930-ba9d-edade8467f1e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/0ae3a88f-6fd4-4930-ba9d-edade8467f1e
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
