---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"1a659e57-3f17-420d-b648-93102bbaffa6","ip_address":"51.159.206.142","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/1a659e57-3f17-420d-b648-93102bbaffa6
    method: GET
  response:
    body: '{"id":"1a659e57-3f17-420d-b648-93102bbaffa6","ip_address":"51.159.206.142","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"1a659e57-3f17-420d-b648-93102bbaffa6","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T09:46:19.305724489Z","description":"","frontend_count":0,"id":"69d87c7d-7924-472f-87b9-c5b641f72a7e","instances":[],"ip":[{"id":"1a659e57-3f17-420d-b648-93102bbaffa6","ip_address":"51.159.206.142","lb_id":"69d87c7d-7924-472f-87b9-c5b641f72a7e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T09:46:19.305724489Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69d87c7d-7924-472f-87b9-c5b641f72a7e
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-24T09:46:19.305724Z","description":"","frontend_count":0,"id":"69d87c7d-7924-472f-87b9-c5b641f72a7e","instances":[],"ip":[{"id":"1a659e57-3f17-420d-b648-93102bbaffa6","ip_address":"51.159.206.142","lb_id":"69d87c7d-7924-472f-87b9-c5b641f72a7e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T09:46:19.305724Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69d87c7d-7924-472f-87b9-c5b641f72a7e/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-wonderful-euclid","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69d87c7d-7924-472f-87b9-c5b641f72a7e/backends
    method: POST
  response:
    body: '{"created_at":"2023-05-24T09:46:50.024797280Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"8875cd2d-33ea-4e91-8c3c-8227f64f9cb2","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T09:46:19.305724Z","description":"","frontend_count":0,"id":"69d87c7d-7924-472f-87b9-c5b641f72a7e","instances":[{"created_at":"2023-05-24T09:44:19.035330Z","id":"18d7cbc7-63c4-48fe-9d5d-2b9fcbf4e86a","ip_address":"10.64.146.53","region":"fr-par","status":"pending","updated_at":"2023-05-24T09:46:50.057566605Z","zone":"fr-par-1"}],"ip":[{"id":"1a659e57-3f17-420d-b648-93102bbaffa6","ip_address":"51.159.206.142","lb_id":"69d87c7d-7924-472f-87b9-c5b641f72a7e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-142.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-24T09:46:21.136811Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-wonderful-euclid","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-05-24T09:46:50.024797280Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/8875cd2d-33ea-4e91-8c3c-8227f64f9cb2
    method: GET
  response:
    body: '{"created_at":"2023-05-24T09:46:50.024797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"8875cd2d-33ea-4e91-8c3c-8227f64f9cb2","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69d87c7d-7924-472f-87b9-c5b641f72a7e/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-05-24T09:46:50.024797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"8875cd2d-33ea-4e91-8c3c-8227f64f9cb2","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T09:46:19.305724Z","description":"","frontend_count":1,"id":"69d87c[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b7c6d9f4-8926-4be0-99b1-55b46badc3f9
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-05-24T09:46:50.024797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_del[...]
- request:
    body: '{"name":"test-acl-basic","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":null,"http_filter_option":null,"invert":true},"index":4,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b7c6d9f4-8926-4be0-99b1-55b46badc3f9/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-05-24T09:46:51.317957378Z","description":"a
      description","frontend":{"backend":{"created_at":"2023-05-24T09:46:50.024797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"8875cd2d-33ea-4e91-8c3c-8227f64f9cb2","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-05-24T09:46:19.305724Z","description":"","frontend_count":1,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/f2c7296f-1a50-4f1a-b16e-694e3704e3f0
    method: GET
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-05-24T09:46:51.317957Z","description":"a
      description","frontend":{"backend":{"created_at":"2023-05-24T09:46:50.024797Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69d87c7d-7924-472f-87b9-c5b641f72a7e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/69d87c7d-7924-472f-87b9-c5b641f72a7e
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
