---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f8afd9e0-f82e-48f3-ad19-d09b517cd2aa","ip_address":"51.159.113.21","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-113-21.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f8afd9e0-f82e-48f3-ad19-d09b517cd2aa
    method: GET
  response:
    body: '{"id":"f8afd9e0-f82e-48f3-ad19-d09b517cd2aa","ip_address":"51.159.113.21","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-113-21.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"f8afd9e0-f82e-48f3-ad19-d09b517cd2aa","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"bd081d4c-a225-4713-9abf-b5887ddf54a7","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8afd9e0-f82e-48f3-ad19-d09b517cd2aa","ip_address":"51.159.113.21","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bd081d4c-a225-4713-9abf-b5887ddf54a7","reverse":"51-159-113-21.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.538832416Z","updated_at":"2021-12-21T16:31:15.538832416Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bd081d4c-a225-4713-9abf-b5887ddf54a7
    method: GET
  response:
    body: '{"id":"bd081d4c-a225-4713-9abf-b5887ddf54a7","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f8afd9e0-f82e-48f3-ad19-d09b517cd2aa","ip_address":"51.159.113.21","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"bd081d4c-a225-4713-9abf-b5887ddf54a7","reverse":"51-159-113-21.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.538832Z","updated_at":"2021-12-21T16:31:15.538832Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bd081d4c-a225-4713-9abf-b5887ddf54a7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-romantic-robinson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bd081d4c-a225-4713-9abf-b5887ddf54a7/backends
    method: POST
  response:
    body: '{"id":"b8e14199-6e23-4e2e-a883-64afa8fc5205","name":"tf-lb-bkd-romantic-robinson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"bd081d4c-a225-4713-9abf-b5887ddf54a7","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"b02107a1-babe-404b-b548-009812aeba22","status":"pending","ip_address":"10.65.114.31","created_at":"2021-12-21T16:23:58.784034Z","updated_at":"2021-12-21T16:31:46.181393573Z","region":"fr-par","zone":"fr-par-1"},{"id":"86eb627c-a8ce-4988-b4d4-2d132fefb33e","status":"pending","ip_address":"10.65.30.19","created_at":"2021-12-21T16:16:37.208463Z","updated_at":"2021-12-21T16:31:46.2[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/b8e14199-6e23-4e2e-a883-64afa8fc5205
    method: GET
  response:
    body: '{"id":"b8e14199-6e23-4e2e-a883-64afa8fc5205","name":"tf-lb-bkd-romantic-robinson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"b8e14199-6e23-4e2e-a883-64afa8fc5205","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bd081d4c-a225-4713-9abf-b5887ddf54a7/frontends
    method: POST
  response:
    body: '{"id":"f0a01ed0-d217-425c-bb9c-0bf379b7df97","name":"tf-test","inbound_port":80,"backend":{"id":"b8e14199-6e23-4e2e-a883-64afa8fc5205","name":"tf-lb-bkd-romantic-robinson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"bd081d4c-a225-4713-9abf-b5887ddf54a7","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f0a01ed0-d217-425c-bb9c-0bf379b7df97/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f0a01ed0-d217-425c-bb9c-0bf379b7df97/acls
    method: POST
  response:
    body: '{"id":"abe6c2ee-2159-4ed1-8567-ac5e7e7f08c3","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"f0a01ed0-d217-425c-bb9c-0bf379b7df97","name":"tf-test","inbound_port":80,"backend":{"id":"b8e14199-6e23-4e2e-a883-64afa8fc5205","name":"tf-lb-bkd-romantic-robinson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"bd081d4c-a225-4713-9abf-b5887ddf54[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/f0a01ed0-d217-425c-bb9c-0bf379b7df97
    method: GET
  response:
    body: '{"id":"f0a01ed0-d217-425c-bb9c-0bf379b7df97","name":"tf-test","inbound_port":80,"backend":{"id":"b8e14199-6e23-4e2e-a883-64afa8fc5205","name":"tf-lb-bkd-romantic-robinson","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/abe6c2ee-2159-4ed1-8567-ac5e7e7f08c3
    method: PUT
  response:
    body: '{"id":"abe6c2ee-2159-4ed1-8567-ac5e7e7f08c3","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bd081d4c-a225-4713-9abf-b5887ddf54a7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bd081d4c-a225-4713-9abf-b5887ddf54a7
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
