---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d35130a4-30ab-4b32-a0d8-a36352974c8c
    method: GET
  response:
    body: '{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:53:50.813644759Z","description":"","frontend_count":0,"id":"bc17422f-0240-479c-8d4e-8b7c0db446e6","instances":[],"ip":[{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":"bc17422f-0240-479c-8d4e-8b7c0db446e6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:53:50.813644759Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc17422f-0240-479c-8d4e-8b7c0db446e6
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-06-16T09:53:50.813645Z","description":"","frontend_count":0,"id":"bc17422f-0240-479c-8d4e-8b7c0db446e6","instances":[{"created_at":"2023-06-16T09:49:11.086413Z","id":"54497b1a-2780-4a81-a559-1ed8fc2a3350","ip_address":"10.68.192.29","region":"fr-par","status":"unknown","updated_at":"2023-06-16T09:53:51.034621Z","zone":"fr-par-1"}],"ip":[{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":"bc17422f-0240-479c-8d4e-8b7c0db446e6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:53:51.049633Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc17422f-0240-479c-8d4e-8b7c0db446e6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-compassionate-wing","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_max_retries":2,"check_send_proxy":false,"transient_check_delay":null,"check_delay":60000,"check_timeout":30000},"server_ip":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"redispatch_attempt_count":null,"max_retries":null,"max_connections":null,"timeout_queue":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc17422f-0240-479c-8d4e-8b7c0db446e6/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-16T09:54:21.506360876Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"05d39c6a-6357-4464-a546-9a0a18c3cb04","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:53:50.813645Z","description":"","frontend_count":0,"id":"bc17422f-0240-479c-8d4e-8b7c0db446e6","instances":[{"created_at":"2023-06-16T09:49:11.086413Z","id":"54497b1a-2780-4a81-a559-1ed8fc2a3350","ip_address":"10.68.192.29","region":"fr-par","status":"pending","updated_at":"2023-06-16T09:54:21.537373699Z","zone":"fr-par-1"}],"ip":[{"id":"d35130a4-30ab-4b32-a0d8-a36352974c8c","ip_address":"51.159.206.251","lb_id":"bc17422f-0240-479c-8d4e-8b7c0db446e6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-206-251.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-06-16T09:53:52.559980Z","zone":"fr-par-1"},"max_connections":null,"max_retries":null,"name":"tf-lb-bkd-compassionate-wing","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_queue":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-06-16T09:54:21.506360876Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/05d39c6a-6357-4464-a546-9a0a18c3cb04
    method: GET
  response:
    body: '{"created_at":"2023-06-16T09:54:21.506361Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"05d39c6a-6357-4464-a546-9a0a18c3cb04","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc17422f-0240-479c-8d4e-8b7c0db446e6/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:54:21.506361Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"05d39c6a-6357-4464-a546-9a0a18c3cb04","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:53:50.813645Z","description":"","frontend_count":1,"id":"bc1742[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/1260cd4e-c900-4da8-9181-982f4b66df9c
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-06-16T09:54:21.506361Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_del[...]
- request:
    body: '{"name":"test-acl-basic","action":{"type":"allow","redirect":null},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":null,"http_filter_option":null,"invert":true},"index":4,"description":"a
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/1260cd4e-c900-4da8-9181-982f4b66df9c/acls
    method: POST
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-06-16T09:54:22.712321822Z","description":"a
      description","frontend":{"backend":{"created_at":"2023-06-16T09:54:21.506361Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"05d39c6a-6357-4464-a546-9a0a18c3cb04","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-06-16T09:53:50.813645Z","description":"","frontend_count":1,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/e8fb1cfb-bd2a-4896-8fa8-52aaba0e88bb
    method: GET
  response:
    body: '{"action":{"redirect":null,"type":"allow"},"created_at":"2023-06-16T09:54:22.712322Z","description":"a
      description","frontend":{"backend":{"created_at":"2023-06-16T09:54:21.506361Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc17422f-0240-479c-8d4e-8b7c0db446e6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/bc17422f-0240-479c-8d4e-8b7c0db446e6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
