---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ca931270-122b-4f39-af63-a76998b7cba4","ip_address":"51.159.114.103","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-114-103.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ca931270-122b-4f39-af63-a76998b7cba4
    method: GET
  response:
    body: '{"id":"ca931270-122b-4f39-af63-a76998b7cba4","ip_address":"51.159.114.103","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-114-103.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"test-lb-acl","description":"","ip_id":"ca931270-122b-4f39-af63-a76998b7cba4","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"a84a42e0-0cc7-4801-868a-404bb74f92bb","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"ca931270-122b-4f39-af63-a76998b7cba4","ip_address":"51.159.114.103","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"a84a42e0-0cc7-4801-868a-404bb74f92bb","reverse":"51-159-114-103.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:43.991051696Z","updated_at":"2021-05-17T12:47:43.991051696Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a84a42e0-0cc7-4801-868a-404bb74f92bb
    method: GET
  response:
    body: '{"id":"a84a42e0-0cc7-4801-868a-404bb74f92bb","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"ca931270-122b-4f39-af63-a76998b7cba4","ip_address":"51.159.114.103","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"a84a42e0-0cc7-4801-868a-404bb74f92bb","reverse":"51-159-114-103.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:43.991052Z","updated_at":"2021-05-17T12:47:43.991052Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-upbeat-chaplygin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a84a42e0-0cc7-4801-868a-404bb74f92bb/backends
    method: POST
  response:
    body: '{"id":"0844744b-ce68-4948-8080-042bccff5380","name":"tf-lb-bkd-upbeat-chaplygin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"a84a42e0-0cc7-4801-868a-404bb74f92bb","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"1b623a0a-3f05-4065-a737-cb4e5bea13c6","status":"ready","ip_address":"10.69.120.3","created_at":"2021-05-17T12:44:10.698904Z","updated_at":"2021-05-17T12:47:45.861141Z","region":"fr-par","zone":"fr-par-1"},{"id":"20ec1031-783f-4f8b-a77f-960a6aa477ce","status":"ready","ip_address":"10.73.132.71","created_at":"2021-05-17T12:37:41.532675Z","updated_at":"2021-05-17T12:47:46.226861Z"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/0844744b-ce68-4948-8080-042bccff5380
    method: GET
  response:
    body: '{"id":"0844744b-ce68-4948-8080-042bccff5380","name":"tf-lb-bkd-upbeat-chaplygin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"0844744b-ce68-4948-8080-042bccff5380","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a84a42e0-0cc7-4801-868a-404bb74f92bb/frontends
    method: POST
  response:
    body: '{"id":"21da364c-fa2f-4bbd-a846-f0bcee934f45","name":"tf-test","inbound_port":80,"backend":{"id":"0844744b-ce68-4948-8080-042bccff5380","name":"tf-lb-bkd-upbeat-chaplygin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"a84a42e0-0cc7-4801-868a-404bb74f92bb","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/21da364c-fa2f-4bbd-a846-f0bcee934f45/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/21da364c-fa2f-4bbd-a846-f0bcee934f45/acls
    method: POST
  response:
    body: '{"id":"c9ae20d1-69f0-47e7-ac9f-da1d02109079","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true},"action":{"type":"allow"},"frontend":{"id":"21da364c-fa2f-4bbd-a846-f0bcee934f45","name":"tf-test","inbound_port":80,"backend":{"id":"0844744b-ce68-4948-8080-042bccff5380","name":"tf-lb-bkd-upbeat-chaplygin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"a84a42e0-0cc7-4801-868a-404bb74f92b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/21da364c-fa2f-4bbd-a846-f0bcee934f45
    method: GET
  response:
    body: '{"id":"21da364c-fa2f-4bbd-a846-f0bcee934f45","name":"tf-test","inbound_port":80,"backend":{"id":"0844744b-ce68-4948-8080-042bccff5380","name":"tf-lb-bkd-upbeat-chaplygin","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/c9ae20d1-69f0-47e7-ac9f-da1d02109079
    method: PUT
  response:
    body: '{"id":"c9ae20d1-69f0-47e7-ac9f-da1d02109079","name":"test-acl","match":{"ip_subnet":["10.0.0.10"],"htt[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a84a42e0-0cc7-4801-868a-404bb74f92bb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a84a42e0-0cc7-4801-868a-404bb74f92bb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
