---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f83d83d1-cedb-41cf-9da7-2fc655bbef4b
    method: GET
  response:
    body: '{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"edab6a7c-76e9-48b2-9bf3-0bb3a072fb58","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"edab6a7c-76e9-48b2-9bf3-0bb3a072fb58","reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:56:32.978622855Z","updated_at":"2021-12-22T12:56:32.978622855Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/edab6a7c-76e9-48b2-9bf3-0bb3a072fb58
    method: GET
  response:
    body: '{"id":"edab6a7c-76e9-48b2-9bf3-0bb3a072fb58","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"edab6a7c-76e9-48b2-9bf3-0bb3a072fb58","reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T12:56:32.978623Z","updated_at":"2021-12-22T12:56:32.978623Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/edab6a7c-76e9-48b2-9bf3-0bb3a072fb58/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-nostalgic-bhaskara","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/edab6a7c-76e9-48b2-9bf3-0bb3a072fb58/backends
    method: POST
  response:
    body: '{"id":"c037a791-12ae-4ff9-9485-112291912fe9","name":"tf-lb-bkd-nostalgic-bhaskara","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"edab6a7c-76e9-48b2-9bf3-0bb3a072fb58","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"0cf541bd-ee42-40b3-8253-627afe9ab471","status":"pending","ip_address":"10.68.194.25","created_at":"2021-12-22T10:13:09.131506Z","updated_at":"2021-12-22T12:57:03.976577757Z","region":"fr-par","zone":"fr-par-1"},{"id":"4bae989e-2bfd-4c81-9812-c9ce31f2be68","status":"pending","ip_address":"10.70.46.129","created_at":"2021-12-22T10:43:49.030702Z","updated_at":"2021-12-22T12:57:04.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c037a791-12ae-4ff9-9485-112291912fe9
    method: GET
  response:
    body: '{"id":"c037a791-12ae-4ff9-9485-112291912fe9","name":"tf-lb-bkd-nostalgic-bhaskara","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries"[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"c037a791-12ae-4ff9-9485-112291912fe9","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/edab6a7c-76e9-48b2-9bf3-0bb3a072fb58/frontends
    method: POST
  response:
    body: '{"id":"258115c0-0695-4cf7-8453-73442821354c","name":"tf-test","inbound_port":80,"backend":{"id":"c037a791-12ae-4ff9-9485-112291912fe9","name":"tf-lb-bkd-nostalgic-bhaskara","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"edab6a7c-76e9-48b2-9bf3-0bb3a072fb58","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_i[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/258115c0-0695-4cf7-8453-73442821354c/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/258115c0-0695-4cf7-8453-73442821354c/acls
    method: POST
  response:
    body: '{"id":"e9907a44-12dc-4fdc-9f47-d9fd4d806f4c","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"258115c0-0695-4cf7-8453-73442821354c","name":"tf-test","inbound_port":80,"backend":{"id":"c037a791-12ae-4ff9-9485-112291912fe9","name":"tf-lb-bkd-nostalgic-bhaskara","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"edab6a7c-76e9-48b2-9bf3-0bb3a072f[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/258115c0-0695-4cf7-8453-73442821354c
    method: GET
  response:
    body: '{"id":"258115c0-0695-4cf7-8453-73442821354c","name":"tf-test","inbound_port":80,"backend":{"id":"c037a791-12ae-4ff9-9485-112291912fe9","name":"tf-lb-bkd-nostalgic-bhaskara","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name"[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/e9907a44-12dc-4fdc-9f47-d9fd4d806f4c
    method: PUT
  response:
    body: '{"id":"e9907a44-12dc-4fdc-9f47-d9fd4d806f4c","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/edab6a7c-76e9-48b2-9bf3-0bb3a072fb58?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/edab6a7c-76e9-48b2-9bf3-0bb3a072fb58
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
