---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b630fa6b-3233-4c3d-af4d-d225af04e838","ip_address":"195.154.68.204","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-68-204.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b630fa6b-3233-4c3d-af4d-d225af04e838
    method: GET
  response:
    body: '{"id":"b630fa6b-3233-4c3d-af4d-d225af04e838","ip_address":"195.154.68.204","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-68-204.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb-acl","description":"","ip_id":"b630fa6b-3233-4c3d-af4d-d225af04e838","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","name":"test-lb-acl","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"b630fa6b-3233-4c3d-af4d-d225af04e838","ip_address":"195.154.68.204","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","reverse":"195-154-68-204.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-21T09:56:45.621686860Z","updated_at":"2022-04-21T09:56:45.621686860Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8eaa90bc-e0cb-445e-9bc6-bf6d35c94141
    method: GET
  response:
    body: '{"id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","name":"test-lb-acl","description":"","status":"to_create","instances":[{"id":"9a56064f-6676-41ae-a006-df7d74620a60","status":"unknown","ip_address":"10.64.60.49","created_at":"2022-04-21T09:55:28.851170Z","updated_at":"2022-04-21T09:56:45.781117Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"b630fa6b-3233-4c3d-af4d-d225af04e838","ip_address":"195.154.68.204","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","reverse":"195-154-68-204.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-21T09:56:45.621687Z","updated_at":"2022-04-21T09:56:45.621687Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8eaa90bc-e0cb-445e-9bc6-bf6d35c94141/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-lucid-kepler","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8eaa90bc-e0cb-445e-9bc6-bf6d35c94141/backends
    method: POST
  response:
    body: '{"id":"c0042948-e2d2-4725-a461-5695e2908497","name":"tf-lb-bkd-lucid-kepler","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"9a56064f-6676-41ae-a006-df7d74620a60","status":"pending","ip_address":"10.64.60.49","created_at":"2022-04-21T09:55:28.851170Z","updated_at":"2022-04-21T09:57:16.351544271Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"b630fa6b-3233-4c3d-af4d-d225af04e838","ip_address":"195.154.68.204","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","reverse":"195-154-68-204.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-21T09:56:45.621687Z","updated_at":"2022-04-21T09:56:46.693218Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-04-21T09:57:16.315505903Z","updated_at":"2022-04-21T09:57:16.315505903Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/c0042948-e2d2-4725-a461-5695e2908497
    method: GET
  response:
    body: '{"id":"c0042948-e2d2-4725-a461-5695e2908497","name":"tf-lb-bkd-lucid-kepler","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"ch[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"c0042948-e2d2-4725-a461-5695e2908497","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8eaa90bc-e0cb-445e-9bc6-bf6d35c94141/frontends
    method: POST
  response:
    body: '{"id":"47d8f783-3b0f-476a-9c5d-1626b1f88bad","name":"tf-test","inbound_port":80,"backend":{"id":"c0042948-e2d2-4725-a461-5695e2908497","name":"tf-lb-bkd-lucid-kepler","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id":"95[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/47d8f783-3b0f-476a-9c5d-1626b1f88bad/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/47d8f783-3b0f-476a-9c5d-1626b1f88bad/acls
    method: POST
  response:
    body: '{"id":"8d5436b5-185d-453f-b089-609945b9263e","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"47d8f783-3b0f-476a-9c5d-1626b1f88bad","name":"tf-test","inbound_port":80,"backend":{"id":"c0042948-e2d2-4725-a461-5695e2908497","name":"tf-lb-bkd-lucid-kepler","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"8eaa90bc-e0cb-445e-9bc6-bf6d35c94141","[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/47d8f783-3b0f-476a-9c5d-1626b1f88bad
    method: GET
  response:
    body: '{"id":"47d8f783-3b0f-476a-9c5d-1626b1f88bad","name":"tf-test","inbound_port":80,"backend":{"id":"c0042948-e2d2-4725-a461-5695e2908497","name":"tf-lb-bkd-lucid-kepler","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","h[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8eaa90bc-e0cb-445e-9bc6-bf6d35c94141?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8eaa90bc-e0cb-445e-9bc6-bf6d35c94141
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
