---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cc08f324-8e96-4d30-bfb2-59a1ce13061c","ip_address":"195.154.69.100","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-69-100.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cc08f324-8e96-4d30-bfb2-59a1ce13061c
    method: GET
  response:
    body: '{"id":"cc08f324-8e96-4d30-bfb2-59a1ce13061c","ip_address":"195.154.69.100","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-69-100.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"cc08f324-8e96-4d30-bfb2-59a1ce13061c","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"f2f19e56-a82d-4029-9ac4-01420e302e56","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cc08f324-8e96-4d30-bfb2-59a1ce13061c","ip_address":"195.154.69.100","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"f2f19e56-a82d-4029-9ac4-01420e302e56","reverse":"195-154-69-100.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.324382064Z","updated_at":"2022-01-10T17:21:39.324382064Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f2f19e56-a82d-4029-9ac4-01420e302e56
    method: GET
  response:
    body: '{"id":"f2f19e56-a82d-4029-9ac4-01420e302e56","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cc08f324-8e96-4d30-bfb2-59a1ce13061c","ip_address":"195.154.69.100","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"f2f19e56-a82d-4029-9ac4-01420e302e56","reverse":"195-154-69-100.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.324382Z","updated_at":"2022-01-10T17:21:39.324382Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f2f19e56-a82d-4029-9ac4-01420e302e56/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-cranky-minsky","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f2f19e56-a82d-4029-9ac4-01420e302e56/backends
    method: POST
  response:
    body: '{"id":"2c746ccb-1871-4ac4-aab4-40bfea44bad5","name":"tf-lb-bkd-cranky-minsky","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"f2f19e56-a82d-4029-9ac4-01420e302e56","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"5f3f06c9-a48f-4b43-ab17-0007f1de8408","status":"pending","ip_address":"10.64.230.71","created_at":"2022-01-10T17:17:43.967478Z","updated_at":"2022-01-10T17:22:10.052380880Z","region":"fr-par","zone":"fr-par-1"},{"id":"61bbcf14-2e7e-4872-9e07-367d252e3163","status":"pending","ip_address":"10.69.46.135","created_at":"2022-01-10T17:00:28.599785Z","updated_at":"2022-01-10T17:22:10.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/2c746ccb-1871-4ac4-aab4-40bfea44bad5
    method: GET
  response:
    body: '{"id":"2c746ccb-1871-4ac4-aab4-40bfea44bad5","name":"tf-lb-bkd-cranky-minsky","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"c[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"2c746ccb-1871-4ac4-aab4-40bfea44bad5","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f2f19e56-a82d-4029-9ac4-01420e302e56/frontends
    method: POST
  response:
    body: '{"id":"3493fb96-cd6a-4010-9dc9-40fac9e9f832","name":"tf-test","inbound_port":80,"backend":{"id":"2c746ccb-1871-4ac4-aab4-40bfea44bad5","name":"tf-lb-bkd-cranky-minsky","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"f2f19e56-a82d-4029-9ac4-01420e302e56","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id":"1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/3493fb96-cd6a-4010-9dc9-40fac9e9f832/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/3493fb96-cd6a-4010-9dc9-40fac9e9f832/acls
    method: POST
  response:
    body: '{"id":"0f50817c-028b-475c-9d1b-5f2f1e1dbb99","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"3493fb96-cd6a-4010-9dc9-40fac9e9f832","name":"tf-test","inbound_port":80,"backend":{"id":"2c746ccb-1871-4ac4-aab4-40bfea44bad5","name":"tf-lb-bkd-cranky-minsky","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"f2f19e56-a82d-4029-9ac4-01420e302e56",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/3493fb96-cd6a-4010-9dc9-40fac9e9f832
    method: GET
  response:
    body: '{"id":"3493fb96-cd6a-4010-9dc9-40fac9e9f832","name":"tf-test","inbound_port":80,"backend":{"id":"2c746ccb-1871-4ac4-aab4-40bfea44bad5","name":"tf-lb-bkd-cranky-minsky","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/0f50817c-028b-475c-9d1b-5f2f1e1dbb99
    method: PUT
  response:
    body: '{"id":"0f50817c-028b-475c-9d1b-5f2f1e1dbb99","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f2f19e56-a82d-4029-9ac4-01420e302e56?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f2f19e56-a82d-4029-9ac4-01420e302e56
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
