---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"e096a10e-b711-4615-afe6-c0255aad31ae","ip_address":"51.159.24.49","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-49.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/e096a10e-b711-4615-afe6-c0255aad31ae
    method: GET
  response:
    body: '{"id":"e096a10e-b711-4615-afe6-c0255aad31ae","ip_address":"51.159.24.49","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-49.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-acl","description":"","ip_id":"e096a10e-b711-4615-afe6-c0255aad31ae","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-04-11T12:26:51.694081148Z","description":"","frontend_count":0,"id":"98583ed1-7527-423f-85d2-a56df7509b20","instances":[],"ip":[{"id":"e096a10e-b711-4615-afe6-c0255aad31ae","ip_address":"51.159.24.49","lb_id":"98583ed1-7527-423f-85d2-a56df7509b20","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-49.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-04-11T12:26:51.694081148Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/98583ed1-7527-423f-85d2-a56df7509b20
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-04-11T12:26:51.694081Z","description":"","frontend_count":0,"id":"98583ed1-7527-423f-85d2-a56df7509b20","instances":[{"created_at":"2023-04-11T12:16:32.511738Z","id":"fa003b71-cf87-4409-95de-0691b5d0f35b","ip_address":"10.70.158.9","region":"fr-par","status":"unknown","updated_at":"2023-04-11T12:26:51.915616Z","zone":"fr-par-1"}],"ip":[{"id":"e096a10e-b711-4615-afe6-c0255aad31ae","ip_address":"51.159.24.49","lb_id":"98583ed1-7527-423f-85d2-a56df7509b20","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-49.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-04-11T12:26:51.928325Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/98583ed1-7527-423f-85d2-a56df7509b20/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-dreamy-elion","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"ssl_bridging":false,"ignore_ssl_server_verify":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/98583ed1-7527-423f-85d2-a56df7509b20/backends
    method: POST
  response:
    body: '{"created_at":"2023-04-11T12:27:22.423940324Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ebc49910-9396-4f36-8fd4-ad79cd011ec1","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-04-11T12:26:51.694081Z","description":"","frontend_count":0,"id":"98583ed1-7527-423f-85d2-a56df7509b20","instances":[{"created_at":"2023-04-11T12:16:32.511738Z","id":"fa003b71-cf87-4409-95de-0691b5d0f35b","ip_address":"10.70.158.9","region":"fr-par","status":"pending","updated_at":"2023-04-11T12:27:22.465164133Z","zone":"fr-par-1"}],"ip":[{"id":"e096a10e-b711-4615-afe6-c0255aad31ae","ip_address":"51.159.24.49","lb_id":"98583ed1-7527-423f-85d2-a56df7509b20","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-24-49.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-acl","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-04-11T12:26:53.306232Z","zone":"fr-par-1"},"max_retries":null,"name":"tf-lb-bkd-dreamy-elion","on_marked_down_action":"on_marked_down_action_none","pool":[],"proxy_protocol":"proxy_protocol_none","redispatch_attempt_count":null,"send_proxy_v2":false,"ssl_bridging":false,"sticky_sessions":"none","sticky_sessions_cookie_name":"","timeout_connect":null,"timeout_server":null,"timeout_tunnel":null,"updated_at":"2023-04-11T12:27:22.423940324Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/ebc49910-9396-4f36-8fd4-ad79cd011ec1
    method: GET
  response:
    body: '{"created_at":"2023-04-11T12:27:22.423940Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"i[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"ebc49910-9396-4f36-8fd4-ad79cd011ec1","certificate_ids":null,"enable_http3":false,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/98583ed1-7527-423f-85d2-a56df7509b20/frontends
    method: POST
  response:
    body: '{"backend":{"created_at":"2023-04-11T12:27:22.423940Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ebc49910-9396-4f36-8fd4-ad79cd011ec1","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-04-11T12:26:51.694081Z","description":"","frontend_count":1,"id":"98583e[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2fd202c3-c40b-442f-a747-10371615d05e/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-lb-acl-zealous-germain","action":{"type":"redirect","redirect":{"type":"location","target":"https://example.com","code":307}},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1,"description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2fd202c3-c40b-442f-a747-10371615d05e/acls
    method: POST
  response:
    body: '{"action":{"redirect":{"code":307,"target":"https://example.com","type":"location"},"type":"redirect"},"created_at":"2023-04-11T12:27:23.754680424Z","description":"","frontend":{"backend":{"created_at":"2023-04-11T12:27:22.423940Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_delay":null},"id":"ebc49910-9396-4f36-8fd4-ad79cd011ec1","ignore_ssl_server_verify":false,"lb":{"backend_count":1,"created_at":"2023-04-11T12:26:51.694081Z","description":"","frontend_count":1,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/2fd202c3-c40b-442f-a747-10371615d05e
    method: GET
  response:
    body: '{"backend":{"created_at":"2023-04-11T12:27:22.423940Z","failover_host":null,"forward_port":80,"forward_port_algorithm":"roundrobin","forward_protocol":"http","health_check":{"check_delay":60000,"check_max_retries":2,"check_send_proxy":false,"check_timeout":30000,"port":80,"tcp_config":{},"transient_check_del[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/98583ed1-7527-423f-85d2-a56df7509b20?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/98583ed1-7527-423f-85d2-a56df7509b20
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
