---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-25-180.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips/a4b0735d-7a3b-43d1-8038-e90f60f945b2
    method: GET
  response:
    body: '{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-25-180.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb-acl","description":"","ip_id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"95545f5a-c835-40a0-939f-4558d0806a23","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"95545f5a-c835-40a0-939f-4558d0806a23","reverse":"51-159-25-180.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/95545f5a-c835-40a0-939f-4558d0806a23
    method: GET
  response:
    body: '{"id":"95545f5a-c835-40a0-939f-4558d0806a23","name":"test-lb-acl","description":"","status":"pending","instances":[{"id":"d0e2d1ab-8cc9-48b2-abbb-0a4067c846c5","status":"unknown","ip_address":"10.64.74.123","region":"fr-par"},{"id":"aa2c18c6-2fde-4f20-abe9-f86e7fb705ee","status":"unknown","ip_address":"10.64.236.181","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"95545f5a-c835-40a0-939f-4558d0806a23","reverse":"51-159-25-180.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-strange-colden","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/95545f5a-c835-40a0-939f-4558d0806a23/backends
    method: POST
  response:
    body: '{"id":"3ce67510-accd-4b19-a2d0-a916b46f0e70","name":"tf-lb-bkd-strange-colden","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"tcp_config":{}},"pool":[],"lb":{"id":"95545f5a-c835-40a0-939f-4558d0806a23","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"d0e2d1ab-8cc9-48b2-abbb-0a4067c846c5","status":"ready","ip_address":"10.64.74.123","region":"fr-par"},{"id":"aa2c18c6-2fde-4f20-abe9-f86e7fb705ee","status":"ready","ip_address":"10.64.236.181","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a4b0735d-7a3b-43d1-8038-e90f60f945b2","ip_address":"51.159.25.180","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"95545f5a-c835-40a0-939f-4558d0806a23","reverse":"51-159-25-180.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/backends/3ce67510-accd-4b19-a2d0-a916b46f0e70
    method: GET
  response:
    body: '{"id":"3ce67510-accd-4b19-a2d0-a916b46f0e70","name":"tf-lb-bkd-strange-colden","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"3ce67510-accd-4b19-a2d0-a916b46f0e70","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/95545f5a-c835-40a0-939f-4558d0806a23/frontends
    method: POST
  response:
    body: '{"id":"64f1d93a-d1cc-477f-b3fb-1bec14a0a071","name":"tf-test","inbound_port":80,"backend":{"id":"3ce67510-accd-4b19-a2d0-a916b46f0e70","name":"tf-lb-bkd-strange-colden","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"tcp_config":{}},"pool":[],"lb":{"id":"95545f5a-c835-40a0-939f-4558d0806a23","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-97c1-b[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/frontends/64f1d93a-d1cc-477f-b3fb-1bec14a0a071/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/frontends/64f1d93a-d1cc-477f-b3fb-1bec14a0a071/acls
    method: POST
  response:
    body: '{"id":"d9b6f120-6a6a-47da-abc6-ffbf1448b1a5","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true},"action":{"type":"allow"},"frontend":{"id":"64f1d93a-d1cc-477f-b3fb-1bec14a0a071","name":"tf-test","inbound_port":80,"backend":{"id":"3ce67510-accd-4b19-a2d0-a916b46f0e70","name":"tf-lb-bkd-strange-colden","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"tcp_config":{}},"pool":[],"lb":{"id":"95545f5a-c835-40a0-939f-4558d0806a23","name":"test-lb-acl","de[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/frontends/64f1d93a-d1cc-477f-b3fb-1bec14a0a071
    method: GET
  response:
    body: '{"id":"64f1d93a-d1cc-477f-b3fb-1bec14a0a071","name":"tf-test","inbound_port":80,"backend":{"id":"3ce67510-accd-4b19-a2d0-a916b46f0e70","name":"tf-lb-bkd-strange-colden","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/95545f5a-c835-40a0-939f-4558d0806a23?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/95545f5a-c835-40a0-939f-4558d0806a23
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
