---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"dc969c69-9a48-46af-86eb-d955b17006d4","ip_address":"51.159.11.197","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-11-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/dc969c69-9a48-46af-86eb-d955b17006d4
    method: GET
  response:
    body: '{"id":"dc969c69-9a48-46af-86eb-d955b17006d4","ip_address":"51.159.11.197","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-11-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-lb-heuristic-antonelli","description":"","ip_id":"dc969c69-9a48-46af-86eb-d955b17006d4","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","name":"tf-lb-heuristic-antonelli","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"dc969c69-9a48-46af-86eb-d955b17006d4","ip_address":"51.159.11.197","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","reverse":"51-159-11-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-11T12:10:48.449257105Z","updated_at":"2022-05-11T12:10:48.449257105Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15bcc8b7-120e-4b80-bc3b-db05c32f4a9b
    method: GET
  response:
    body: '{"id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","name":"tf-lb-heuristic-antonelli","description":"","status":"creating","instances":[{"id":"53bfd72d-b13e-4898-a620-e8146b26847c","status":"unknown","ip_address":"10.65.62.93","created_at":"2022-05-11T12:08:15.842246Z","updated_at":"2022-05-11T12:10:48.587548Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"dc969c69-9a48-46af-86eb-d955b17006d4","ip_address":"51.159.11.197","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","reverse":"51-159-11-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-11T12:10:48.449257Z","updated_at":"2022-05-11T12:10:48.598821Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15bcc8b7-120e-4b80-bc3b-db05c32f4a9b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":null,"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","failover_host":null,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15bcc8b7-120e-4b80-bc3b-db05c32f4a9b/backends
    method: POST
  response:
    body: '{"id":"a8fd7906-2f53-453a-bbcd-7f23b2641c0d","name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","name":"tf-lb-heuristic-antonelli","description":"","status":"ready","instances":[{"id":"53bfd72d-b13e-4898-a620-e8146b26847c","status":"pending","ip_address":"10.65.62.93","created_at":"2022-05-11T12:08:15.842246Z","updated_at":"2022-05-11T12:11:19.188383852Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"dc969c69-9a48-46af-86eb-d955b17006d4","ip_address":"51.159.11.197","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","reverse":"51-159-11-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":1,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-11T12:10:48.449257Z","updated_at":"2022-05-11T12:10:48.987088Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"send_proxy_v2":false,"timeout_server":null,"timeout_connect":null,"timeout_tunnel":null,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","created_at":"2022-05-11T12:11:19.158102428Z","updated_at":"2022-05-11T12:11:19.158102428Z","failover_host":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a8fd7906-2f53-453a-bbcd-7f23b2641c0d
    method: GET
  response:
    body: '{"id":"a8fd7906-2f53-453a-bbcd-7f23b2641c0d","name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_prox[...]
[...]
- request:
    body: '{"name":"lb_swarm_frontend_80","inbound_port":80,"backend_id":"a8fd7906-2f53-453a-bbcd-7f23b2641c0d","certificate_id":null,"certificate_ids":null,"timeout_client":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15bcc8b7-120e-4b80-bc3b-db05c32f4a9b/frontends
    method: POST
  response:
    body: '{"id":"667d5814-f9a2-4c6e-a02b-71b816069aec","name":"lb_swarm_frontend_80","inbound_port":80,"backend":{"id":"a8fd7906-2f53-453a-bbcd-7f23b2641c0d","name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","name":"tf-lb-heuristic-antonelli","description":"","status":"ready","instances":[],"organization_id":"9[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/667d5814-f9a2-4c6e-a02b-71b816069aec/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"Allow VPN-DEV1-2.","action":{"type":"allow"},"match":{"ip_subnet":["163.172.1.2","51.210.1.2"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/667d5814-f9a2-4c6e-a02b-71b816069aec/acls
    method: POST
  response:
    body: '{"id":"cd913f18-02a6-4722-af03-a2667987ef31","name":"Allow VPN-DEV1-2.","match":{"ip_subnet":["163.172.1.2","51.210.1.2"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":false,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"667d5814-f9a2-4c6e-a02b-71b816069aec","name":"lb_swarm_frontend_80","inbound_port":80,"backend":{"id":"a8fd7906-2f53-453a-bbcd-7f23b2641c0d","name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"15bcc8b7-120e-4b80-bc3b-db05c32f4a9b","[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/667d5814-f9a2-4c6e-a02b-71b816069aec
    method: GET
  response:
    body: '{"id":"667d5814-f9a2-4c6e-a02b-71b816069aec","name":"lb_swarm_frontend_80","inbound_port":80,"backend":{"id":"a8fd7906-2f53-453a-bbcd-7f23b2641c0d","name":"backend01","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","h[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15bcc8b7-120e-4b80-bc3b-db05c32f4a9b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/15bcc8b7-120e-4b80-bc3b-db05c32f4a9b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
