---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"aead4abc-819b-4612-923a-747d264c2b1f","ip_address":"51.159.9.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/aead4abc-819b-4612-923a-747d264c2b1f
    method: GET
  response:
    body: '{"id":"aead4abc-819b-4612-923a-747d264c2b1f","ip_address":"51.159.9.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"aead4abc-819b-4612-923a-747d264c2b1f","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"7cde0743-e0f8-4b7b-820c-c1c29bdc1cee","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"aead4abc-819b-4612-923a-747d264c2b1f","ip_address":"51.159.9.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7cde0743-e0f8-4b7b-820c-c1c29bdc1cee","reverse":"51-159-9-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.236729076Z","updated_at":"2021-12-30T10:19:11.236729076Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7cde0743-e0f8-4b7b-820c-c1c29bdc1cee
    method: GET
  response:
    body: '{"id":"7cde0743-e0f8-4b7b-820c-c1c29bdc1cee","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"aead4abc-819b-4612-923a-747d264c2b1f","ip_address":"51.159.9.96","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7cde0743-e0f8-4b7b-820c-c1c29bdc1cee","reverse":"51-159-9-96.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.236729Z","updated_at":"2021-12-30T10:19:11.236729Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7cde0743-e0f8-4b7b-820c-c1c29bdc1cee/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-flamboyant-lamport","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7cde0743-e0f8-4b7b-820c-c1c29bdc1cee/backends
    method: POST
  response:
    body: '{"id":"4d449ed6-22b7-4a5e-a032-a51ebb7df1eb","name":"tf-lb-bkd-flamboyant-lamport","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"7cde0743-e0f8-4b7b-820c-c1c29bdc1cee","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"6128b0d6-29df-495b-9819-f1bd725830ea","status":"pending","ip_address":"10.70.96.55","created_at":"2021-12-30T09:40:24.358429Z","updated_at":"2021-12-30T10:19:41.872729343Z","region":"fr-par","zone":"fr-par-1"},{"id":"a2b76f43-a19e-47d6-90bc-e884862ea72c","status":"pending","ip_address":"10.65.130.5","created_at":"2021-12-30T09:39:27.343802Z","updated_at":"2021-12-30T10:19:41.93[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/4d449ed6-22b7-4a5e-a032-a51ebb7df1eb
    method: GET
  response:
    body: '{"id":"4d449ed6-22b7-4a5e-a032-a51ebb7df1eb","name":"tf-lb-bkd-flamboyant-lamport","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries"[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"4d449ed6-22b7-4a5e-a032-a51ebb7df1eb","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7cde0743-e0f8-4b7b-820c-c1c29bdc1cee/frontends
    method: POST
  response:
    body: '{"id":"b00a9e94-8c9e-48fb-ab62-4aff59c1cad3","name":"tf-test","inbound_port":80,"backend":{"id":"4d449ed6-22b7-4a5e-a032-a51ebb7df1eb","name":"tf-lb-bkd-flamboyant-lamport","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"7cde0743-e0f8-4b7b-820c-c1c29bdc1cee","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_i[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b00a9e94-8c9e-48fb-ab62-4aff59c1cad3/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b00a9e94-8c9e-48fb-ab62-4aff59c1cad3/acls
    method: POST
  response:
    body: '{"id":"e2f4ad6e-f49e-4e2c-a82b-a5869571053c","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"b00a9e94-8c9e-48fb-ab62-4aff59c1cad3","name":"tf-test","inbound_port":80,"backend":{"id":"4d449ed6-22b7-4a5e-a032-a51ebb7df1eb","name":"tf-lb-bkd-flamboyant-lamport","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"7cde0743-e0f8-4b7b-820c-c1c29bdc1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/b00a9e94-8c9e-48fb-ab62-4aff59c1cad3
    method: GET
  response:
    body: '{"id":"b00a9e94-8c9e-48fb-ab62-4aff59c1cad3","name":"tf-test","inbound_port":80,"backend":{"id":"4d449ed6-22b7-4a5e-a032-a51ebb7df1eb","name":"tf-lb-bkd-flamboyant-lamport","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name"[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/e2f4ad6e-f49e-4e2c-a82b-a5869571053c
    method: PUT
  response:
    body: '{"id":"e2f4ad6e-f49e-4e2c-a82b-a5869571053c","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7cde0743-e0f8-4b7b-820c-c1c29bdc1cee?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7cde0743-e0f8-4b7b-820c-c1c29bdc1cee
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
