---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"7580ed59-e3d5-4710-b08b-2707217f8227","ip_address":"51.159.25.29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-25-29.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/7580ed59-e3d5-4710-b08b-2707217f8227
    method: GET
  response:
    body: '{"id":"7580ed59-e3d5-4710-b08b-2707217f8227","ip_address":"51.159.25.29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-25-29.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"7580ed59-e3d5-4710-b08b-2707217f8227","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"c8ee126b-0ea5-45ee-8358-db35394b9917","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"7580ed59-e3d5-4710-b08b-2707217f8227","ip_address":"51.159.25.29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"c8ee126b-0ea5-45ee-8358-db35394b9917","reverse":"51-159-25-29.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.143976023Z","updated_at":"2021-12-27T12:08:08.143976023Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c8ee126b-0ea5-45ee-8358-db35394b9917
    method: GET
  response:
    body: '{"id":"c8ee126b-0ea5-45ee-8358-db35394b9917","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"7580ed59-e3d5-4710-b08b-2707217f8227","ip_address":"51.159.25.29","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"c8ee126b-0ea5-45ee-8358-db35394b9917","reverse":"51-159-25-29.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.143976Z","updated_at":"2021-12-27T12:08:08.143976Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c8ee126b-0ea5-45ee-8358-db35394b9917/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-affectionate-hopper","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c8ee126b-0ea5-45ee-8358-db35394b9917/backends
    method: POST
  response:
    body: '{"id":"9c833ab8-eb6d-4384-97df-8ee496318a1d","name":"tf-lb-bkd-affectionate-hopper","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"c8ee126b-0ea5-45ee-8358-db35394b9917","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"ca40edb7-123b-4540-a728-a90193912548","status":"pending","ip_address":"10.65.56.31","created_at":"2021-12-27T11:58:42.598469Z","updated_at":"2021-12-27T12:08:38.825216635Z","region":"fr-par","zone":"fr-par-1"},{"id":"92123a18-d54b-4c5f-8d3b-16256b972e05","status":"pending","ip_address":"10.64.150.111","created_at":"2021-12-27T11:58:40.188126Z","updated_at":"2021-12-27T12:08:38.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/9c833ab8-eb6d-4384-97df-8ee496318a1d
    method: GET
  response:
    body: '{"id":"9c833ab8-eb6d-4384-97df-8ee496318a1d","name":"tf-lb-bkd-affectionate-hopper","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"9c833ab8-eb6d-4384-97df-8ee496318a1d","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c8ee126b-0ea5-45ee-8358-db35394b9917/frontends
    method: POST
  response:
    body: '{"id":"809587a1-fd1d-46e6-8052-3db4614f6c0c","name":"tf-test","inbound_port":80,"backend":{"id":"9c833ab8-eb6d-4384-97df-8ee496318a1d","name":"tf-lb-bkd-affectionate-hopper","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"c8ee126b-0ea5-45ee-8358-db35394b9917","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/809587a1-fd1d-46e6-8052-3db4614f6c0c/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/809587a1-fd1d-46e6-8052-3db4614f6c0c/acls
    method: POST
  response:
    body: '{"id":"6d714bc0-2114-4cb9-b2b0-a4a709642644","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"809587a1-fd1d-46e6-8052-3db4614f6c0c","name":"tf-test","inbound_port":80,"backend":{"id":"9c833ab8-eb6d-4384-97df-8ee496318a1d","name":"tf-lb-bkd-affectionate-hopper","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"c8ee126b-0ea5-45ee-8358-db35394b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/809587a1-fd1d-46e6-8052-3db4614f6c0c
    method: GET
  response:
    body: '{"id":"809587a1-fd1d-46e6-8052-3db4614f6c0c","name":"tf-test","inbound_port":80,"backend":{"id":"9c833ab8-eb6d-4384-97df-8ee496318a1d","name":"tf-lb-bkd-affectionate-hopper","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/6d714bc0-2114-4cb9-b2b0-a4a709642644
    method: PUT
  response:
    body: '{"id":"6d714bc0-2114-4cb9-b2b0-a4a709642644","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c8ee126b-0ea5-45ee-8358-db35394b9917?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c8ee126b-0ea5-45ee-8358-db35394b9917
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
