---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a1a15ff1-479e-47e7-8175-bb88f175b122","ip_address":"51.159.114.98","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-98.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a1a15ff1-479e-47e7-8175-bb88f175b122
    method: GET
  response:
    body: '{"id":"a1a15ff1-479e-47e7-8175-bb88f175b122","ip_address":"51.159.114.98","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-114-98.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-acl","description":"","ip_id":"a1a15ff1-479e-47e7-8175-bb88f175b122","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"8378b256-18af-41dd-8d9c-0ee201c062d1","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a1a15ff1-479e-47e7-8175-bb88f175b122","ip_address":"51.159.114.98","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"8378b256-18af-41dd-8d9c-0ee201c062d1","reverse":"51-159-114-98.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.128162659Z","updated_at":"2021-12-29T15:49:26.128162659Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8378b256-18af-41dd-8d9c-0ee201c062d1
    method: GET
  response:
    body: '{"id":"8378b256-18af-41dd-8d9c-0ee201c062d1","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a1a15ff1-479e-47e7-8175-bb88f175b122","ip_address":"51.159.114.98","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"8378b256-18af-41dd-8d9c-0ee201c062d1","reverse":"51-159-114-98.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.128163Z","updated_at":"2021-12-29T15:49:26.128163Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8378b256-18af-41dd-8d9c-0ee201c062d1/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-mystifying-bell","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8378b256-18af-41dd-8d9c-0ee201c062d1/backends
    method: POST
  response:
    body: '{"id":"260333d5-403f-4730-9a5d-f8dd980834f5","name":"tf-lb-bkd-mystifying-bell","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"8378b256-18af-41dd-8d9c-0ee201c062d1","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"fc808349-4f44-4269-b414-a2b17139cb4d","status":"pending","ip_address":"10.71.2.49","created_at":"2021-12-29T15:37:46.844486Z","updated_at":"2021-12-29T15:49:56.826752535Z","region":"fr-par","zone":"fr-par-1"},{"id":"1deb09a7-bc9c-43fc-82e7-f399ab11235a","status":"pending","ip_address":"10.70.40.17","created_at":"2021-12-29T15:35:18.337048Z","updated_at":"2021-12-29T15:49:56.907[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/260333d5-403f-4730-9a5d-f8dd980834f5
    method: GET
  response:
    body: '{"id":"260333d5-403f-4730-9a5d-f8dd980834f5","name":"tf-lb-bkd-mystifying-bell","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"260333d5-403f-4730-9a5d-f8dd980834f5","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8378b256-18af-41dd-8d9c-0ee201c062d1/frontends
    method: POST
  response:
    body: '{"id":"d4ea2498-1c7f-4c9a-8f58-015c48c926f9","name":"tf-test","inbound_port":80,"backend":{"id":"260333d5-403f-4730-9a5d-f8dd980834f5","name":"tf-lb-bkd-mystifying-bell","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"8378b256-18af-41dd-8d9c-0ee201c062d1","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d4ea2498-1c7f-4c9a-8f58-015c48c926f9/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d4ea2498-1c7f-4c9a-8f58-015c48c926f9/acls
    method: POST
  response:
    body: '{"id":"6b6e5f56-534d-4d81-962a-44f92ad602b6","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"d4ea2498-1c7f-4c9a-8f58-015c48c926f9","name":"tf-test","inbound_port":80,"backend":{"id":"260333d5-403f-4730-9a5d-f8dd980834f5","name":"tf-lb-bkd-mystifying-bell","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"8378b256-18af-41dd-8d9c-0ee201c062d1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/d4ea2498-1c7f-4c9a-8f58-015c48c926f9
    method: GET
  response:
    body: '{"id":"d4ea2498-1c7f-4c9a-8f58-015c48c926f9","name":"tf-test","inbound_port":80,"backend":{"id":"260333d5-403f-4730-9a5d-f8dd980834f5","name":"tf-lb-bkd-mystifying-bell","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":""[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/6b6e5f56-534d-4d81-962a-44f92ad602b6
    method: PUT
  response:
    body: '{"id":"6b6e5f56-534d-4d81-962a-44f92ad602b6","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8378b256-18af-41dd-8d9c-0ee201c062d1?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8378b256-18af-41dd-8d9c-0ee201c062d1
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
