---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"ba15a87f-d3bb-47bf-bd05-1fc7378c295a","ip_address":"51.159.9.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ba15a87f-d3bb-47bf-bd05-1fc7378c295a
    method: GET
  response:
    body: '{"id":"ba15a87f-d3bb-47bf-bd05-1fc7378c295a","ip_address":"51.159.9.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-acl","description":"","ip_id":"ba15a87f-d3bb-47bf-bd05-1fc7378c295a","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"b31848bd-34a5-4987-9f14-a2122d4d287f","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"ba15a87f-d3bb-47bf-bd05-1fc7378c295a","ip_address":"51.159.9.254","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"b31848bd-34a5-4987-9f14-a2122d4d287f","reverse":"51-159-9-254.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-10-12T15:46:04.194509198Z","updated_at":"2021-10-12T15:46:04.194509198Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b31848bd-34a5-4987-9f14-a2122d4d287f
    method: GET
  response:
    body: '{"id":"b31848bd-34a5-4987-9f14-a2122d4d287f","name":"test-lb-acl","description":"","status":"pending","instances":[{"id":"45094160-19e7-4bb7-962f-a5bc5eea0d7b","status":"unknown","ip_address":"10.68.20.1","created_at":"2021-10-12T15:44:26.786620Z","updated_at":"2021-10-12T15:46:04.457266Z","region":"fr-par","zone"[...]
[...]
- request:
    body: '{"name":"tf-lb-bkd-crazy-ardinghelli","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b31848bd-34a5-4987-9f14-a2122d4d287f/backends
    method: POST
  response:
    body: '{"id":"a4c3c37c-b80f-451f-9c27-9e6e89323819","name":"tf-lb-bkd-crazy-ardinghelli","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"b31848bd-34a5-4987-9f14-a2122d4d287f","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"45094160-19e7-4bb7-962f-a5bc5eea0d7b","status":"pending","ip_address":"10.68.20.1","created_at":"2021-10-12T15:44:26.786620Z","updated_at":"2021-10-12T15:46:06.992612741Z","region":"fr-par","zone":"fr-par-1"},{"id":"5c75f77c-bbe4-4d08-a1c3-011e5ec15b5e","status":"pending","ip_address":"10.69.48.51","created_at":"2021-10-12T15:44:30.495899Z","updated_at":"2021-10-12T15:46:07.086[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/a4c3c37c-b80f-451f-9c27-9e6e89323819
    method: GET
  response:
    body: '{"id":"a4c3c37c-b80f-451f-9c27-9e6e89323819","name":"tf-lb-bkd-crazy-ardinghelli","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"a4c3c37c-b80f-451f-9c27-9e6e89323819","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b31848bd-34a5-4987-9f14-a2122d4d287f/frontends
    method: POST
  response:
    body: '{"id":"ba1c9187-7df9-40cf-9bc5-37f99594e685","name":"tf-test","inbound_port":80,"backend":{"id":"a4c3c37c-b80f-451f-9c27-9e6e89323819","name":"tf-lb-bkd-crazy-ardinghelli","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"b31848bd-34a5-4987-9f14-a2122d4d287f","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ba1c9187-7df9-40cf-9bc5-37f99594e685/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ba1c9187-7df9-40cf-9bc5-37f99594e685/acls
    method: POST
  response:
    body: '{"id":"e6a978d3-06b8-4d4e-9dea-91cc636b975a","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"ba1c9187-7df9-40cf-9bc5-37f99594e685","name":"tf-test","inbound_port":80,"backend":{"id":"a4c3c37c-b80f-451f-9c27-9e6e89323819","name":"tf-lb-bkd-crazy-ardinghelli","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"b31848bd-34a5-4987-9f14-a2122d4d28[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/ba1c9187-7df9-40cf-9bc5-37f99594e685
    method: GET
  response:
    body: '{"id":"ba1c9187-7df9-40cf-9bc5-37f99594e685","name":"tf-test","inbound_port":80,"backend":{"id":"a4c3c37c-b80f-451f-9c27-9e6e89323819","name":"tf-lb-bkd-crazy-ardinghelli","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/e6a978d3-06b8-4d4e-9dea-91cc636b975a
    method: PUT
  response:
    body: '{"id":"e6a978d3-06b8-4d4e-9dea-91cc636b975a","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b31848bd-34a5-4987-9f14-a2122d4d287f?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/ba15a87f-d3bb-47bf-bd05-1fc7378c295a
    method: DELETE
  response:
    body: '{"message":"operation was rejected because the ip_id is used on a lb"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
