---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a7972715-724c-448c-85b2-640ffc655a09
    method: GET
  response:
    body: '{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-acl","description":"","ip_id":"a7972715-724c-448c-85b2-640ffc655a09","tags":null,"type":"lb-s","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"06d37c9a-0d71-4727-a2a2-19ba43856e3b","name":"test-lb-acl","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"a7972715-724c-448c-85b2-640ffc655a09","ip_address":"195.154.70.164","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"06d37c9a-0d71-4727-a2a2-19ba43856e3b","reverse":"195-154-70-164.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T13:03:26.507716709Z","updated_at":"2021-11-04T13:03:26.507716709Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/06d37c9a-0d71-4727-a2a2-19ba43856e3b
    method: GET
  response:
    body: '{"id":"06d37c9a-0d71-4727-a2a2-19ba43856e3b","name":"test-lb-acl","description":"","status":"pending","instances":[{"id":"4fc5d264-1ab7-414a-a731-88b9e45f5d96","status":"unknown","ip_address":"10.69.154.29","created_at":"2021-11-04T13:00:59.759833Z","updated_at":"2021-11-04T13:03:26.720880Z","region":"fr-par","zon[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/06d37c9a-0d71-4727-a2a2-19ba43856e3b/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-lb-bkd-adoring-jepsen","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"check_max_retries":2,"port":80,"check_send_proxy":false,"check_timeout":30000,"check_delay":60000},"server_ip":[],"send_proxy_v2":false,"on_marked_down_action":"on_marked_down_action_none","proxy_protocol":"proxy_protocol_none","timeout_server":null,"timeout_connect":null,"timeout_tunnel":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/06d37c9a-0d71-4727-a2a2-19ba43856e3b/backends
    method: POST
  response:
    body: '{"id":"b1fb2eb7-de0e-4625-9a26-7d35891847ff","name":"tf-lb-bkd-adoring-jepsen","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"06d37c9a-0d71-4727-a2a2-19ba43856e3b","name":"test-lb-acl","description":"","status":"ready","instances":[{"id":"4fc5d264-1ab7-414a-a731-88b9e45f5d96","status":"pending","ip_address":"10.69.154.29","created_at":"2021-11-04T13:00:59.759833Z","updated_at":"2021-11-04T13:03:57.199684357Z","region":"fr-par","zone":"fr-par-1"},{"id":"6cdb33e5-dc6d-47d2-b44c-8e1b0151dda6","status":"pending","ip_address":"10.64.184.63","created_at":"2021-11-04T10:29:00.258717Z","updated_at":"2021-11-04T13:03:57.[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/backends/b1fb2eb7-de0e-4625-9a26-7d35891847ff
    method: GET
  response:
    body: '{"id":"b1fb2eb7-de0e-4625-9a26-7d35891847ff","name":"tf-lb-bkd-adoring-jepsen","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"[...]
[...]
- request:
    body: '{"name":"tf-test","inbound_port":80,"backend_id":"b1fb2eb7-de0e-4625-9a26-7d35891847ff","certificate_id":null,"certificate_ids":null,"timeout_client":30000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/06d37c9a-0d71-4727-a2a2-19ba43856e3b/frontends
    method: POST
  response:
    body: '{"id":"73b598ff-7d9e-4b2c-bdcd-9d8b156f7ca7","name":"tf-test","inbound_port":80,"backend":{"id":"b1fb2eb7-de0e-4625-9a26-7d35891847ff","name":"tf-lb-bkd-adoring-jepsen","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"06d37c9a-0d71-4727-a2a2-19ba43856e3b","name":"test-lb-acl","description":"","status":"ready","instances":[],"organization_id":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/73b598ff-7d9e-4b2c-bdcd-9d8b156f7ca7/acls?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"acls":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"http_filter_option":null,"invert":true},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/73b598ff-7d9e-4b2c-bdcd-9d8b156f7ca7/acls
    method: POST
  response:
    body: '{"id":"5e31806c-4eff-45aa-a771-c1628b0203fa","name":"test-acl","match":{"ip_subnet":["192.168.0.1","192.168.0.2","192.168.10.0/24"],"http_filter":"acl_http_filter_none","http_filter_value":[],"invert":true,"http_filter_option":null},"action":{"type":"allow"},"frontend":{"id":"73b598ff-7d9e-4b2c-bdcd-9d8b156f7ca7","name":"tf-test","inbound_port":80,"backend":{"id":"b1fb2eb7-de0e-4625-9a26-7d35891847ff","name":"tf-lb-bkd-adoring-jepsen","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"","health_check":{"port":80,"check_delay":60000,"check_timeout":30000,"check_max_retries":2,"check_send_proxy":false,"tcp_config":{}},"pool":[],"lb":{"id":"06d37c9a-0d71-4727-a2a2-19ba43856e3b"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/frontends/73b598ff-7d9e-4b2c-bdcd-9d8b156f7ca7
    method: GET
  response:
    body: '{"id":"73b598ff-7d9e-4b2c-bdcd-9d8b156f7ca7","name":"tf-test","inbound_port":80,"backend":{"id":"b1fb2eb7-de0e-4625-9a26-7d35891847ff","name":"tf-lb-bkd-adoring-jepsen","forward_protocol":"http","forward_port":80,"forward_port_algorithm":"roundrobin","sticky_sessions":"none","sticky_sessions_cookie_name":"",[...]
[...]
- request:
    body: '{"name":"test-acl","action":{"type":"allow"},"match":{"ip_subnet":["10.0.0.10"],"http_filter":"path_begin","http_filter_value":["foo","bar"],"http_filter_option":null,"invert":false},"index":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/acls/5e31806c-4eff-45aa-a771-c1628b0203fa
    method: PUT
  response:
    body: '{"id":"5e31806c-4eff-45aa-a771-c1628b0203fa","name":"test-acl","match":{"ip_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/06d37c9a-0d71-4727-a2a2-19ba43856e3b?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/06d37c9a-0d71-4727-a2a2-19ba43856e3b
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
