---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"7392048c-4bb2-44ba-bb9e-ced9bf92fefb","ip_address":"51.159.114.110","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-114-110.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/7392048c-4bb2-44ba-bb9e-ced9bf92fefb
    method: GET
  response:
    body: '{"id":"7392048c-4bb2-44ba-bb9e-ced9bf92fefb","ip_address":"51.159.114.110","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-114-110.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"b431ebd5-c520-45ef-998d-db90c1f291f7","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T09:56:38.471678Z","updated_at":"2022-04-12T09:56:38.471678Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b431ebd5-c520-45ef-998d-db90c1f291f7
    method: GET
  response:
    body: '{"id":"b431ebd5-c520-45ef-998d-db90c1f291f7","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T09:56:38.471678Z","updated_at":"2022-04-12T09:56:38.471678Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb-with-dhcp-1","description":"","ip_id":"7392048c-4bb2-44ba-bb9e-ced9bf92fefb","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","name":"test-lb-with-dhcp-1","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7392048c-4bb2-44ba-bb9e-ced9bf92fefb","ip_address":"51.159.114.110","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","reverse":"51-159-114-110.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T09:56:38.744114167Z","updated_at":"2022-04-12T09:56:38.744114167Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8a324e62-16fc-43b9-b4d0-3f21fe808669
    method: GET
  response:
    body: '{"id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","name":"test-lb-with-dhcp-1","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7392048c-4bb2-44ba-bb9e-ced9bf92fefb","ip_address":"51.159.114.110","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","reverse":"51-159-114-110.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T09:56:38.744114Z","updated_at":"2022-04-12T09:56:38.744114Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8a324e62-16fc-43b9-b4d0-3f21fe808669/private-networks/b431ebd5-c520-45ef-998d-db90c1f291f7/attach
    method: POST
  response:
    body: '{"lb":{"id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"da0bb285-aacc-4f51-8f0a-f9b35a57d8e0","status":"ready","ip_address":"10.68.52.49","created_at":"2022-04-12T09:54:28.877736Z","updated_at":"2022-04-12T09:56:39.339836Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7392048c-4bb2-44ba-bb9e-ced9bf92fefb","ip_address":"51.159.114.110","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","reverse":"51-159-114-110.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T09:56:38.744114Z","updated_at":"2022-04-12T09:56:39.681115Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"b431ebd5-c520-45ef-998d-db90c1f291f7","status":"pending","created_at":"2022-04-12T09:57:09.277623585Z","updated_at":"2022-04-12T09:57:09.277623585Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8a324e62-16fc-43b9-b4d0-3f21fe808669/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"7392048c-4bb2-44ba-bb9e-ced9bf92fefb","ip_address":"51.159.114.110","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","reverse":"51-159-114-110.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T09:56:38.744114Z","updated_at":"2022-04-12T09:56:39.681115Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"b431ebd5-c520-45ef-998d-db90c1f291f7","status":"pending","created_at":"2022-04-12T09:57:09.277624Z","updated_at":"2022-04-12T09:57:09.277624Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8a324e62-16fc-43b9-b4d0-3f21fe808669/private-networks/b431ebd5-c520-45ef-998d-db90c1f291f7/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8a324e62-16fc-43b9-b4d0-3f21fe808669/private-networks/b431ebd5-c520-45ef-998d-db90c1f291f7/attach
    method: POST
  response:
    body: '{"lb":{"id":"8a324e62-16fc-43b9-b4d0-3f21fe808669","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"da0bb285-aacc-4f51-8f0a-f9b35a57d8e0","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8a324e62-16fc-43b9-b4d0-3f21fe808669?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/8a324e62-16fc-43b9-b4d0-3f21fe808669
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
