---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","is_ipv6":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3b19df64-149f-46dc-b504-3e37669ecfcb","ip_address":"2001:bc8:710:3c1d::","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.d.1.c.3.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3b19df64-149f-46dc-b504-3e37669ecfcb
    method: GET
  response:
    body: '{"id":"3b19df64-149f-46dc-b504-3e37669ecfcb","ip_address":"2001:bc8:710:3c1d::","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.d.1.c.3.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-ip-ids","description":"","ip_ids":["2a39e03b-ba39-412e-9f69-c9a392a0d5df","3b19df64-149f-46dc-b504-3e37669ecfcb"],"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2024-04-04T14:21:09.925600535Z","description":"","frontend_count":0,"id":"580f61d2-6029-416d-aa47-33d44651c31f","instances":[],"ip":[{"id":"2a39e03b-ba39-412e-9f69-c9a392a0d5df","ip_address":"51.159.11.25","lb_id":"580f61d2-6029-416d-aa47-33d44651c31f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-11-25.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"3b19df64-149f-46dc-b504-3e37669ecfcb","ip_address":"2001:bc8:710:3c1d::","lb_id":"580f61d2-6029-416d-aa47-33d44651c31f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.d.1.c.3.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-ip-ids","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2024-04-04T14:21:09.925600535Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/580f61d2-6029-416d-aa47-33d44651c31f
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2024-04-04T14:21:09.925601Z","description":"","frontend_count":0,"id":"580f61d2-6029-416d-aa47-33d44651c31f","instances":[],"ip":[{"id":"2a39e03b-ba39-412e-9f69-c9a392a0d5df","ip_address":"51.159.11.25","lb_id":"580f61d2-6029-416d-aa47-33d44651c31f","organization_id":"564aa517-68b0[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/580f61d2-6029-416d-aa47-33d44651c31f/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/580f61d2-6029-416d-aa47-33d44651c31f?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/580f61d2-6029-416d-aa47-33d44651c31f
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
