---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-assigned-ips","description":"a
      description","assign_flexible_ip":true,"assign_flexible_ipv6":true,"ip_ids":[],"tags":["basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2024-04-04T14:16:37.920518108Z","description":"a
      description","frontend_count":0,"id":"fe7178dc-9b9c-4506-abbd-83af877fa6b4","instances":[],"ip":[{"id":"611e57a4-d087-4df7-8014-b497b0187048","ip_address":"51.159.75.172","lb_id":"fe7178dc-9b9c-4506-abbd-83af877fa6b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-75-172.lb.fr-par.scw.cloud","zone":"fr-par-1"},{"id":"3760547c-eec8-4d90-af36-a898748a92c1","ip_address":"2001:bc8:710:5a::","lb_id":"fe7178dc-9b9c-4506-abbd-83af877fa6b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.5.0.0.0.1.7.0.8.c.b.0.1.0.0.2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-assigned-ips","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2024-04-04T14:16:37.920518108Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fe7178dc-9b9c-4506-abbd-83af877fa6b4
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2024-04-04T14:16:37.920518Z","description":"a
      description","frontend_count":0,"id":"fe7178dc-9b9c-4506-abbd-83af877fa6b4","instances":[],"ip":[{"id":"611e57a4-d087-4df7-8014-b497b0187048","ip_address":"51.159.75.172","lb_id":"fe7178dc-9b9c-4506-abbd-83af877fa6b4","organizatio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fe7178dc-9b9c-4506-abbd-83af877fa6b4/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fe7178dc-9b9c-4506-abbd-83af877fa6b4?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fe7178dc-9b9c-4506-abbd-83af877fa6b4
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
