---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5b13b07f-1e0b-4973-8e94-bc1d180c89a8","ip_address":"195.154.197.100","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-12T15:21:38.197097Z","id":"e2d07aac-a15a-45f7-8561-70168ba0f560","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.4.0/22","fd46:78ab:30b8:9121::/64"],"tags":[],"updated_at":"2023-05-12T15:21:38.197097Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5b13b07f-1e0b-4973-8e94-bc1d180c89a8
    method: GET
  response:
    body: '{"id":"5b13b07f-1e0b-4973-8e94-bc1d180c89a8","ip_address":"195.154.197.100","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/e2d07aac-a15a-45f7-8561-70168ba0f560
    method: GET
  response:
    body: '{"created_at":"2023-05-12T15:21:38.197097Z","id":"e2d07aac-a15a-45f7-8561-70168ba0f560","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.4.0/22","fd46:78ab:30b8:9121::/64"],"tags":[],"updated_at":"2023-05-12T15:21:38.197097Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"5b13b07f-1e0b-4973-8e94-bc1d180c89a8","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-12T15:21:38.416928475Z","description":"","frontend_count":0,"id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","instances":[],"ip":[{"id":"5b13b07f-1e0b-4973-8e94-bc1d180c89a8","ip_address":"195.154.197.100","lb_id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-12T15:21:38.416928475Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/da4656d0-2077-4bc4-bf70-6b58127f0f5f
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-12T15:21:38.416928Z","description":"","frontend_count":0,"id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","instances":[],"ip":[{"id":"5b13b07f-1e0b-4973-8e94-bc1d180c89a8","ip_address":"195.154.197.100","lb_id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-12T15:21:38.416928Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/da4656d0-2077-4bc4-bf70-6b58127f0f5f/private-networks/e2d07aac-a15a-45f7-8561-70168ba0f560/attach
    method: POST
  response:
    body: '{"created_at":"2023-05-12T15:22:08.968174805Z","lb":{"backend_count":0,"created_at":"2023-05-12T15:21:38.416928Z","description":"","frontend_count":0,"id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","instances":[{"created_at":"2023-05-12T15:18:27.417202Z","id":"52e4877b-d100-4731-a1fa-ae80f2abbcec","ip_address":"10.76.110.61","region":"fr-par","status":"ready","updated_at":"2023-05-12T15:21:39.077447Z","zone":"fr-par-1"}],"ip":[{"id":"5b13b07f-1e0b-4973-8e94-bc1d180c89a8","ip_address":"195.154.197.100","lb_id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-12T15:21:40.567103Z","zone":"fr-par-1"},"private_network_id":"e2d07aac-a15a-45f7-8561-70168ba0f560","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-12T15:22:08.968174805Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/da4656d0-2077-4bc4-bf70-6b58127f0f5f/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-05-12T15:22:08.968175Z","lb":{"backend_count":0,"created_at":"2023-05-12T15:21:38.416928Z","description":"","frontend_count":0,"id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","instances":[],"ip":[{"id":"5b13b07f-1e0b-4973-8e94-bc1d180c89a8","ip_address":"195.154.197.100","lb_id":"da4656d0-2077-4bc4-bf70-6b58127f0f5f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-100.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-12T15:21:40.567103Z","zone":"fr-par-1"},"private_network_id":"e2d07aac-a15a-45f7-8561-70168ba0f560","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-12T15:22:08.968175Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/da4656d0-2077-4bc4-bf70-6b58127f0f5f/private-networks/e2d07aac-a15a-45f7-8561-70168ba0f560/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/da4656d0-2077-4bc4-bf70-6b58127f0f5f?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/da4656d0-2077-4bc4-bf70-6b58127f0f5f
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
