---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f2ffba75-2c73-4acc-8626-5252bb45015a","ip_address":"51.159.25.205","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-25-205.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"72f2f472-a120-414c-8e46-989bbf80daed","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-12T10:24:28.795169Z","updated_at":"2022-01-12T10:24:28.795169Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f2ffba75-2c73-4acc-8626-5252bb45015a
    method: GET
  response:
    body: '{"id":"f2ffba75-2c73-4acc-8626-5252bb45015a","ip_address":"51.159.25.205","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-25-205.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/72f2f472-a120-414c-8e46-989bbf80daed
    method: GET
  response:
    body: '{"id":"72f2f472-a120-414c-8e46-989bbf80daed","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-12T10:24:28.795169Z","updated_at":"2022-01-12T10:24:28.795169Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"f2ffba75-2c73-4acc-8626-5252bb45015a","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f2ffba75-2c73-4acc-8626-5252bb45015a","ip_address":"51.159.25.205","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","reverse":"51-159-25-205.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-12T10:24:29.123821235Z","updated_at":"2022-01-12T10:24:29.123821235Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6
    method: GET
  response:
    body: '{"id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f2ffba75-2c73-4acc-8626-5252bb45015a","ip_address":"51.159.25.205","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","reverse":"51-159-25-205.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-12T10:24:29.123821Z","updated_at":"2022-01-12T10:24:29.123821Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6/private-networks/72f2f472-a120-414c-8e46-989bbf80daed/attach
    method: POST
  response:
    body: '{"lb":{"id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"de2c3ab3-5a1c-4005-b4aa-62424c0a959d","status":"ready","ip_address":"10.65.12.47","created_at":"2022-01-12T10:21:00.185767Z","updated_at":"2022-01-12T10:24:29.530182Z","region":"fr-par","zone":"fr-par-1"},{"id":"0979f9f6-c8a5-462a-bd29-1d53aee12d84","status":"ready","ip_address":"10.71.82.91","created_at":"2022-01-12T10:20:57.496239Z","updated_at":"2022-01-12T10:24:29.959898Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f2ffba75-2c73-4acc-8626-5252bb45015a","ip_address":"51.159.25.205","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","reverse":"51-159-25-205.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-12T10:24:29.123821Z","updated_at":"2022-01-12T10:24:30.210350Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"72f2f472-a120-414c-8e46-989bbf80daed","status":"pending","created_at":"2022-01-12T10:24:59.629079833Z","updated_at":"2022-01-12T10:24:59.629079833Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f2ffba75-2c73-4acc-8626-5252bb45015a","ip_address":"51.159.25.205","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","reverse":"51-159-25-205.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-12T10:24:29.123821Z","updated_at":"2022-01-12T10:24:30.210350Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"72f2f472-a120-414c-8e46-989bbf80daed","status":"pending","created_at":"2022-01-12T10:24:59.629080Z","updated_at":"2022-01-12T10:24:59.629080Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6/private-networks/72f2f472-a120-414c-8e46-989bbf80daed/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6/private-networks/72f2f472-a120-414c-8e46-989bbf80daed/attach
    method: POST
  response:
    body: '{"lb":{"id":"abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"de2c3ab3-5a1c-4005-b4aa-62424c0a959d","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/abd7eb9a-aa85-4120-9d8d-6e194f7d8fd6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
