---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3f586f72-56d1-4a42-a79d-a4622caab7c6","ip_address":"51.159.207.153","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"51-159-207-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3f586f72-56d1-4a42-a79d-a4622caab7c6
    method: GET
  response:
    body: '{"id":"3f586f72-56d1-4a42-a79d-a4622caab7c6","ip_address":"51.159.207.153","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"51-159-207-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-migration","description":"","ip_id":"3f586f72-56d1-4a42-a79d-a4622caab7c6","tags":["basic","tag2"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"40a0f597-3b0b-408d-8689-d12bd49b3f54","name":"test-lb-migration","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"3f586f72-56d1-4a42-a79d-a4622caab7c6","ip_address":"51.159.207.153","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"40a0f597-3b0b-408d-8689-d12bd49b3f54","reverse":"51-159-207-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":["basic","tag2"],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-30T12:59:21.908961869Z","updated_at":"2022-08-30T12:59:21.908961869Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40a0f597-3b0b-408d-8689-d12bd49b3f54
    method: GET
  response:
    body: '{"id":"40a0f597-3b0b-408d-8689-d12bd49b3f54","name":"test-lb-migration","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"3f586f72-56d1-4a42-a79d-a4622caab7c6","ip_address":"51.159.207.153","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"40a0f597-3b0b-408d-8689-d12bd49b3f54","reverse":"51-159-207-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":["basic","tag2"],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-30T12:59:21.908962Z","updated_at":"2022-08-30T12:59:21.908962Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40a0f597-3b0b-408d-8689-d12bd49b3f54/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"type":"LB-GP-M"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40a0f597-3b0b-408d-8689-d12bd49b3f54/migrate
    method: POST
  response:
    body: '{"id":"40a0f597-3b0b-408d-8689-d12bd49b3f54","name":"test-lb-migrate-lb-gp-m","description":"","status":"migrating","instances":[{"id":"dd6bdd08-f78c-457f-9dbd-5f3cbbc9cb55","status":"ready","ip_address":"10.69.108.41","created_at":"2022-08-30T12:55:56.488756Z","updated_at":"2022-08-30T12:59:54.176608Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"3f586f72-56d1-4a42-a79d-a4622caab7c6","ip_address":"51.159.207.153","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"40a0f597-3b0b-408d-8689-d12bd49b3f54","reverse":"51-159-207-153.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":["migration"],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-30T12:59:21.908962Z","updated_at":"2022-08-30T12:59:54.246343691Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40a0f597-3b0b-408d-8689-d12bd49b3f54?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40a0f597-3b0b-408d-8689-d12bd49b3f54
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
