---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"1932480c-8423-4e61-93d2-7ffc9afb7c53","ip_address":"195.154.197.13","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-13.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/1932480c-8423-4e61-93d2-7ffc9afb7c53
    method: GET
  response:
    body: '{"id":"1932480c-8423-4e61-93d2-7ffc9afb7c53","ip_address":"195.154.197.13","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-13.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-09T09:47:21.384972Z","id":"39823a0a-2520-4dd9-a11d-840a17eedb84","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.17.72.0/22","fd46:78ab:30b8:66f9::/64"],"tags":[],"updated_at":"2023-05-09T09:47:21.384972Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/39823a0a-2520-4dd9-a11d-840a17eedb84
    method: GET
  response:
    body: '{"created_at":"2023-05-09T09:47:21.384972Z","id":"39823a0a-2520-4dd9-a11d-840a17eedb84","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.17.72.0/22","fd46:78ab:30b8:66f9::/64"],"tags":[],"updated_at":"2023-05-09T09:47:21.384972Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"1932480c-8423-4e61-93d2-7ffc9afb7c53","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-09T09:47:21.634375158Z","description":"","frontend_count":0,"id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","instances":[],"ip":[{"id":"1932480c-8423-4e61-93d2-7ffc9afb7c53","ip_address":"195.154.197.13","lb_id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-13.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-09T09:47:21.634375158Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e3361ce6-6551-4a29-bb20-e1ad3c5a8167
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-09T09:47:21.634375Z","description":"","frontend_count":0,"id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","instances":[],"ip":[{"id":"1932480c-8423-4e61-93d2-7ffc9afb7c53","ip_address":"195.154.197.13","lb_id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-13.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-09T09:47:21.634375Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e3361ce6-6551-4a29-bb20-e1ad3c5a8167/private-networks/39823a0a-2520-4dd9-a11d-840a17eedb84/attach
    method: POST
  response:
    body: '{"created_at":"2023-05-09T09:47:52.166679691Z","lb":{"backend_count":0,"created_at":"2023-05-09T09:47:21.634375Z","description":"","frontend_count":0,"id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","instances":[{"created_at":"2023-05-09T09:44:33.745147Z","id":"ad643704-b02c-404a-922e-7d1cd5b708ed","ip_address":"10.76.74.47","region":"fr-par","status":"ready","updated_at":"2023-05-09T09:47:22.351509Z","zone":"fr-par-1"}],"ip":[{"id":"1932480c-8423-4e61-93d2-7ffc9afb7c53","ip_address":"195.154.197.13","lb_id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-13.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-09T09:47:23.625637Z","zone":"fr-par-1"},"private_network_id":"39823a0a-2520-4dd9-a11d-840a17eedb84","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-09T09:47:52.166679691Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e3361ce6-6551-4a29-bb20-e1ad3c5a8167/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-05-09T09:47:52.166680Z","lb":{"backend_count":0,"created_at":"2023-05-09T09:47:21.634375Z","description":"","frontend_count":0,"id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","instances":[],"ip":[{"id":"1932480c-8423-4e61-93d2-7ffc9afb7c53","ip_address":"195.154.197.13","lb_id":"e3361ce6-6551-4a29-bb20-e1ad3c5a8167","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-197-13.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-09T09:47:23.625637Z","zone":"fr-par-1"},"private_network_id":"39823a0a-2520-4dd9-a11d-840a17eedb84","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-09T09:47:52.166680Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e3361ce6-6551-4a29-bb20-e1ad3c5a8167/private-networks/39823a0a-2520-4dd9-a11d-840a17eedb84/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e3361ce6-6551-4a29-bb20-e1ad3c5a8167?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e3361ce6-6551-4a29-bb20-e1ad3c5a8167
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
