---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"id":"a43befdc-a8d3-464e-aaab-070806fea363","ip_address":"51.159.24.86","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-24-86.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/ips/a43befdc-a8d3-464e-aaab-070806fea363
    method: GET
  response:
    body: '{"id":"a43befdc-a8d3-464e-aaab-070806fea363","ip_address":"51.159.24.86","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-24-86.lb.fr-par.scw.cloud","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb","description":"","ip_id":"a43befdc-a8d3-464e-aaab-070806fea363","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs
    method: POST
  response:
    body: '{"id":"a4b7375f-1591-4723-a5dc-34bd23fc0ec6","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a43befdc-a8d3-464e-aaab-070806fea363","ip_address":"51.159.24.86","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"a4b7375f-1591-4723-a5dc-34bd23fc0ec6","reverse":"51-159-24-86.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a4b7375f-1591-4723-a5dc-34bd23fc0ec6
    method: GET
  response:
    body: '{"id":"a4b7375f-1591-4723-a5dc-34bd23fc0ec6","name":"test-lb","description":"","status":"pending","instances":[{"id":"dd55a1aa-a543-490a-a509-be9485b22699","status":"unknown","ip_address":"10.68.70.21","region":"fr-par"},{"id":"fab5863d-fc8f-4f1f-a8d6-7613f875b0d8","status":"unknown","ip_address":"10.64.252.167","region":"fr-par"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"a43befdc-a8d3-464e-aaab-070806fea363","ip_address":"51.159.24.86","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"a4b7375f-1591-4723-a5dc-34bd23fc0ec6","reverse":"51-159-24-86.lb.fr-par.scw.cloud","region":"fr-par"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a4b7375f-1591-4723-a5dc-34bd23fc0ec6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/regions/fr-par/lbs/a4b7375f-1591-4723-a5dc-34bd23fc0ec6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
