---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d9f1bd73-2307-4a62-a552-097deac31520","ip_address":"51.159.112.168","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-112-168.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn02","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d9f1bd73-2307-4a62-a552-097deac31520
    method: GET
  response:
    body: '{"id":"d9f1bd73-2307-4a62-a552-097deac31520","ip_address":"51.159.112.168","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-159-112-168.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn01","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a68020d5-b605-42f6-9543-bd8ca27ad277","name":"pn01","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-22T13:28:45.020340Z","updated_at":"2022-04-22T13:28:45.020340Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a68020d5-b605-42f6-9543-bd8ca27ad277
    method: GET
  response:
    body: '{"id":"a68020d5-b605-42f6-9543-bd8ca27ad277","name":"pn01","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-22T13:28:45.020340Z","updated_at":"2022-04-22T13:28:45.020340Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-lb-distracted-kirch","description":"","ip_id":"d9f1bd73-2307-4a62-a552-097deac31520","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","name":"tf-lb-distracted-kirch","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d9f1bd73-2307-4a62-a552-097deac31520","ip_address":"51.159.112.168","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","reverse":"51-159-112-168.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-22T13:28:47.396803636Z","updated_at":"2022-04-22T13:28:47.396803636Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbb108e0-bb2b-4d17-9395-0af2860c168e
    method: GET
  response:
    body: '{"id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","name":"tf-lb-distracted-kirch","description":"","status":"creating","instances":[{"id":"b75218fc-1cbc-4d4b-805b-94d96176bab7","status":"unknown","ip_address":"10.71.62.47","created_at":"2022-04-22T13:24:07.756624Z","updated_at":"2022-04-22T13:28:47.537265Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d9f1bd73-2307-4a62-a552-097deac31520","ip_address":"51.159.112.168","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","reverse":"51-159-112-168.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-22T13:28:47.396804Z","updated_at":"2022-04-22T13:28:47.548002Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbb108e0-bb2b-4d17-9395-0af2860c168e/private-networks/a68020d5-b605-42f6-9543-bd8ca27ad277/attach
    method: POST
  response:
    body: '{"lb":{"id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","name":"tf-lb-distracted-kirch","description":"","status":"ready","instances":[{"id":"b75218fc-1cbc-4d4b-805b-94d96176bab7","status":"ready","ip_address":"10.71.62.47","created_at":"2022-04-22T13:24:07.756624Z","updated_at":"2022-04-22T13:28:47.760400Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d9f1bd73-2307-4a62-a552-097deac31520","ip_address":"51.159.112.168","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","reverse":"51-159-112-168.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-22T13:28:47.396804Z","updated_at":"2022-04-22T13:28:48.068854Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"a68020d5-b605-42f6-9543-bd8ca27ad277","status":"pending","created_at":"2022-04-22T13:29:18.131286730Z","updated_at":"2022-04-22T13:29:18.131286730Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbb108e0-bb2b-4d17-9395-0af2860c168e/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","name":"tf-lb-distracted-kirch","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"d9f1bd73-2307-4a62-a552-097deac31520","ip_address":"51.159.112.168","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fbb108e0-bb2b-4d17-9395-0af2860c168e","reverse":"51-159-112[...]
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbb108e0-bb2b-4d17-9395-0af2860c168e/private-networks/a68020d5-b605-42f6-9543-bd8ca27ad277/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fbb108e0-bb2b-4d17-9395-0af2860c168e?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
