---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a92be9b0-9f1d-4f3d-a074-766343fd1da1","ip_address":"51.159.112.231","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-112-231.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a92be9b0-9f1d-4f3d-a074-766343fd1da1
    method: GET
  response:
    body: '{"id":"a92be9b0-9f1d-4f3d-a074-766343fd1da1","ip_address":"51.159.112.231","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-112-231.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-30T10:19:10.950167Z","updated_at":"2021-12-30T10:19:10.950167Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0
    method: GET
  response:
    body: '{"id":"84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-30T10:19:10.950167Z","updated_at":"2021-12-30T10:19:10.950167Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"a92be9b0-9f1d-4f3d-a074-766343fd1da1","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a92be9b0-9f1d-4f3d-a074-766343fd1da1","ip_address":"51.159.112.231","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","reverse":"51-159-112-231.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.223116547Z","updated_at":"2021-12-30T10:19:11.223116547Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5e786a3f-ec8e-4825-aa72-b616650e5cc1
    method: GET
  response:
    body: '{"id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a92be9b0-9f1d-4f3d-a074-766343fd1da1","ip_address":"51.159.112.231","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","reverse":"51-159-112-231.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.223117Z","updated_at":"2021-12-30T10:19:11.223117Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5e786a3f-ec8e-4825-aa72-b616650e5cc1/private-networks/84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0/attach
    method: POST
  response:
    body: '{"lb":{"id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"44099157-63a8-4add-a07b-45853a6bcc2a","status":"ready","ip_address":"10.70.154.59","created_at":"2021-12-30T09:39:14.382669Z","updated_at":"2021-12-30T10:19:12.632157Z","region":"fr-par","zone":"fr-par-1"},{"id":"38b77a80-b4ed-46d2-a998-537823331e7b","status":"ready","ip_address":"10.71.40.45","created_at":"2021-12-30T09:53:24.185919Z","updated_at":"2021-12-30T10:19:14.906491Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a92be9b0-9f1d-4f3d-a074-766343fd1da1","ip_address":"51.159.112.231","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","reverse":"51-159-112-231.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.223117Z","updated_at":"2021-12-30T10:19:17.115270Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0","status":"pending","created_at":"2021-12-30T10:19:41.696477621Z","updated_at":"2021-12-30T10:19:41.696477621Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5e786a3f-ec8e-4825-aa72-b616650e5cc1/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a92be9b0-9f1d-4f3d-a074-766343fd1da1","ip_address":"51.159.112.231","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","reverse":"51-159-112-231.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-30T10:19:11.223117Z","updated_at":"2021-12-30T10:19:17.115270Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0","status":"pending","created_at":"2021-12-30T10:19:41.696478Z","updated_at":"2021-12-30T10:19:41.696478Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5e786a3f-ec8e-4825-aa72-b616650e5cc1/private-networks/84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5e786a3f-ec8e-4825-aa72-b616650e5cc1/private-networks/84d5d9dd-f080-4dc4-8c98-a7b338d3d8a0/attach
    method: POST
  response:
    body: '{"lb":{"id":"5e786a3f-ec8e-4825-aa72-b616650e5cc1","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"44099157-63a8-4add-a07b-45853a6bcc2a","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5e786a3f-ec8e-4825-aa72-b616650e5cc1?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/5e786a3f-ec8e-4825-aa72-b616650e5cc1
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
