---
version: 1
interactions:
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"0dc463cd-f625-4a2c-a784-df403070b881","name":"pn-with-lb-static","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2022-08-30T12:59:21.706086Z","updated_at":"2022-08-30T12:59:21.706086Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3fa00813-a9a1-4c86-b39c-9de77a609a6a","ip_address":"51.159.207.245","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"51-159-207-245.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/0dc463cd-f625-4a2c-a784-df403070b881
    method: GET
  response:
    body: '{"id":"0dc463cd-f625-4a2c-a784-df403070b881","name":"pn-with-lb-static","tags":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2022-08-30T12:59:21.706086Z","updated_at":"2022-08-30T12:59:21.706086Z","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3fa00813-a9a1-4c86-b39c-9de77a609a6a
    method: GET
  response:
    body: '{"id":"3fa00813-a9a1-4c86-b39c-9de77a609a6a","ip_address":"51.159.207.245","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":null,"reverse":"51-159-207-245.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"3fa00813-a9a1-4c86-b39c-9de77a609a6a","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"3b281c91-d67e-495a-bb23-170fb739d874","name":"test-lb-with-pn-static-2","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"3fa00813-a9a1-4c86-b39c-9de77a609a6a","ip_address":"51.159.207.245","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3b281c91-d67e-495a-bb23-170fb739d874","reverse":"51-159-207-245.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-30T12:59:22.009426159Z","updated_at":"2022-08-30T12:59:22.009426159Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b281c91-d67e-495a-bb23-170fb739d874
    method: GET
  response:
    body: '{"id":"3b281c91-d67e-495a-bb23-170fb739d874","name":"test-lb-with-pn-static-2","description":"","status":"to_create","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"3fa00813-a9a1-4c86-b39c-9de77a609a6a","ip_address":"51.159.207.245","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3b281c91-d67e-495a-bb23-170fb739d874","reverse":"51-159-207-245.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-30T12:59:22.009426Z","updated_at":"2022-08-30T12:59:22.009426Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b281c91-d67e-495a-bb23-170fb739d874/private-networks/0dc463cd-f625-4a2c-a784-df403070b881/attach
    method: POST
  response:
    body: '{"lb":{"id":"3b281c91-d67e-495a-bb23-170fb739d874","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"31e63d98-4259-444a-9b82-949df40d9511","status":"ready","ip_address":"10.69.2.93","created_at":"2022-08-30T12:55:05.619534Z","updated_at":"2022-08-30T12:59:22.517102Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"3fa00813-a9a1-4c86-b39c-9de77a609a6a","ip_address":"51.159.207.245","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3b281c91-d67e-495a-bb23-170fb739d874","reverse":"51-159-207-245.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-30T12:59:22.009426Z","updated_at":"2022-08-30T12:59:22.980528Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"0dc463cd-f625-4a2c-a784-df403070b881","status":"pending","created_at":"2022-08-30T12:59:52.479990903Z","updated_at":"2022-08-30T12:59:52.479990903Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b281c91-d67e-495a-bb23-170fb739d874/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"3b281c91-d67e-495a-bb23-170fb739d874","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","ip":[{"id":"3fa00813-a9a1-4c86-b39c-9de77a609a6a","ip_address":"51.159.207.245","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","lb_id":"3b281c91-d67e-495a-bb23-170fb739d874","reverse":"51-159-207-245.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-30T12:59:22.009426Z","updated_at":"2022-08-30T12:59:22.980528Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"0dc463cd-f625-4a2c-a784-df403070b881","status":"pending","created_at":"2022-08-30T12:59:52.479991Z","updated_at":"2022-08-30T12:59:52.479991Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b281c91-d67e-495a-bb23-170fb739d874/private-networks/cf4ccd23-f90e-4f27-a87a-afa0d06112aa/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b281c91-d67e-495a-bb23-170fb739d874?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3b281c91-d67e-495a-bb23-170fb739d874
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
