---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b3dac391-b090-4627-82ab-b4d63ef6266d","ip_address":"51.159.10.11","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-11.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-25T13:51:18.367914Z","id":"ae777862-4d06-4842-885c-8908aa964eac","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.32.0/22","fd46:78ab:30b8:b4eb::/64"],"tags":[],"updated_at":"2023-05-25T13:51:18.367914Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b3dac391-b090-4627-82ab-b4d63ef6266d
    method: GET
  response:
    body: '{"id":"b3dac391-b090-4627-82ab-b4d63ef6266d","ip_address":"51.159.10.11","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-11.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/ae777862-4d06-4842-885c-8908aa964eac
    method: GET
  response:
    body: '{"created_at":"2023-05-25T13:51:18.367914Z","id":"ae777862-4d06-4842-885c-8908aa964eac","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.32.0/22","fd46:78ab:30b8:b4eb::/64"],"tags":[],"updated_at":"2023-05-25T13:51:18.367914Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"b3dac391-b090-4627-82ab-b4d63ef6266d","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-25T13:51:18.597771522Z","description":"","frontend_count":0,"id":"2778bed0-c312-4792-9f44-df241fc10f49","instances":[],"ip":[{"id":"b3dac391-b090-4627-82ab-b4d63ef6266d","ip_address":"51.159.10.11","lb_id":"2778bed0-c312-4792-9f44-df241fc10f49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-11.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-25T13:51:18.597771522Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2778bed0-c312-4792-9f44-df241fc10f49
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-25T13:51:18.597772Z","description":"","frontend_count":0,"id":"2778bed0-c312-4792-9f44-df241fc10f49","instances":[],"ip":[{"id":"b3dac391-b090-4627-82ab-b4d63ef6266d","ip_address":"51.159.10.11","lb_id":"2778bed0-c312-4792-9f44-df241fc10f49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-11.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-25T13:51:18.597772Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2778bed0-c312-4792-9f44-df241fc10f49/private-networks/ae777862-4d06-4842-885c-8908aa964eac/attach
    method: POST
  response:
    body: '{"created_at":"2023-05-25T13:51:49.053852472Z","lb":{"backend_count":0,"created_at":"2023-05-25T13:51:18.597772Z","description":"","frontend_count":0,"id":"2778bed0-c312-4792-9f44-df241fc10f49","instances":[{"created_at":"2023-05-25T13:46:19.321511Z","id":"7e158553-8c5a-4918-bf20-7c15032fe243","ip_address":"10.74.68.25","region":"fr-par","status":"ready","updated_at":"2023-05-25T13:51:19.096184Z","zone":"fr-par-1"}],"ip":[{"id":"b3dac391-b090-4627-82ab-b4d63ef6266d","ip_address":"51.159.10.11","lb_id":"2778bed0-c312-4792-9f44-df241fc10f49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-11.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-25T13:51:20.193471Z","zone":"fr-par-1"},"private_network_id":"ae777862-4d06-4842-885c-8908aa964eac","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-25T13:51:49.053852472Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2778bed0-c312-4792-9f44-df241fc10f49/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-05-25T13:51:49.053852Z","lb":{"backend_count":0,"created_at":"2023-05-25T13:51:18.597772Z","description":"","frontend_count":0,"id":"2778bed0-c312-4792-9f44-df241fc10f49","instances":[],"ip":[{"id":"b3dac391-b090-4627-82ab-b4d63ef6266d","ip_address":"51.159.10.11","lb_id":"2778bed0-c312-4792-9f44-df241fc10f49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-10-11.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-25T13:51:20.193471Z","zone":"fr-par-1"},"private_network_id":"ae777862-4d06-4842-885c-8908aa964eac","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-25T13:51:49.053852Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2778bed0-c312-4792-9f44-df241fc10f49/private-networks/ae777862-4d06-4842-885c-8908aa964eac/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2778bed0-c312-4792-9f44-df241fc10f49?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/2778bed0-c312-4792-9f44-df241fc10f49
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
