---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3666e76c-c14b-4a98-bb54-2a747a7068b3","ip_address":"51.159.207.1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-207-1.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3666e76c-c14b-4a98-bb54-2a747a7068b3
    method: GET
  response:
    body: '{"id":"3666e76c-c14b-4a98-bb54-2a747a7068b3","ip_address":"51.159.207.1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-207-1.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-migration","description":"","ip_id":"3666e76c-c14b-4a98-bb54-2a747a7068b3","tags":["basic","tag2"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"c3ecf2c2-e04a-479b-a32d-319635d5cddd","name":"test-lb-migration","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"3666e76c-c14b-4a98-bb54-2a747a7068b3","ip_address":"51.159.207.1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"c3ecf2c2-e04a-479b-a32d-319635d5cddd","reverse":"51-159-207-1.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":["basic","tag2"],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-22T13:30:41.974950527Z","updated_at":"2022-08-22T13:30:41.974950527Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c3ecf2c2-e04a-479b-a32d-319635d5cddd
    method: GET
  response:
    body: '{"id":"c3ecf2c2-e04a-479b-a32d-319635d5cddd","name":"test-lb-migration","description":"","status":"creating","instances":[{"id":"b7f6832c-34f1-4f83-8217-3957a22b20a7","status":"unknown","ip_address":"10.73.136.107","created_at":"2022-08-22T13:27:56.595805Z","updated_at":"2022-08-22T13:30:42.236939Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"3666e76c-c14b-4a98-bb54-2a747a7068b3","ip_address":"51.159.207.1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"c3ecf2c2-e04a-479b-a32d-319635d5cddd","reverse":"51-159-207-1.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":["basic","tag2"],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-22T13:30:41.974951Z","updated_at":"2022-08-22T13:30:42.251464Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c3ecf2c2-e04a-479b-a32d-319635d5cddd/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"type":"LB-GP-M"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c3ecf2c2-e04a-479b-a32d-319635d5cddd/migrate
    method: POST
  response:
    body: '{"id":"c3ecf2c2-e04a-479b-a32d-319635d5cddd","name":"test-lb-migration","description":"","status":"migrating","instances":[{"id":"b7f6832c-34f1-4f83-8217-3957a22b20a7","status":"ready","ip_address":"10.73.136.107","created_at":"2022-08-22T13:27:56.595805Z","updated_at":"2022-08-22T13:30:42.587430Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"3666e76c-c14b-4a98-bb54-2a747a7068b3","ip_address":"51.159.207.1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"c3ecf2c2-e04a-479b-a32d-319635d5cddd","reverse":"51-159-207-1.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":["basic","tag2"],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-08-22T13:30:41.974951Z","updated_at":"2022-08-22T13:31:15.912336103Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c3ecf2c2-e04a-479b-a32d-319635d5cddd?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/c3ecf2c2-e04a-479b-a32d-319635d5cddd
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
