---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"345dcc00-1682-4c04-849e-81fe7aafaf43","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-21T16:31:15.298118Z","updated_at":"2021-12-21T16:31:15.298118Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f95ba70d-9d31-4562-af83-1cd552cae541","ip_address":"51.159.9.179","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-179.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/345dcc00-1682-4c04-849e-81fe7aafaf43
    method: GET
  response:
    body: '{"id":"345dcc00-1682-4c04-849e-81fe7aafaf43","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-21T16:31:15.298118Z","updated_at":"2021-12-21T16:31:15.298118Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f95ba70d-9d31-4562-af83-1cd552cae541
    method: GET
  response:
    body: '{"id":"f95ba70d-9d31-4562-af83-1cd552cae541","ip_address":"51.159.9.179","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-9-179.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"f95ba70d-9d31-4562-af83-1cd552cae541","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f95ba70d-9d31-4562-af83-1cd552cae541","ip_address":"51.159.9.179","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","reverse":"51-159-9-179.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.637745853Z","updated_at":"2021-12-21T16:31:15.637745853Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6da01083-f93b-4f6a-ac9c-848fa69e9dfb
    method: GET
  response:
    body: '{"id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f95ba70d-9d31-4562-af83-1cd552cae541","ip_address":"51.159.9.179","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","reverse":"51-159-9-179.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.637746Z","updated_at":"2021-12-21T16:31:15.637746Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6da01083-f93b-4f6a-ac9c-848fa69e9dfb/private-networks/345dcc00-1682-4c04-849e-81fe7aafaf43/attach
    method: POST
  response:
    body: '{"lb":{"id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"428554f7-88db-4065-a706-9f1255f5d6dd","status":"ready","ip_address":"10.71.102.45","created_at":"2021-12-21T16:16:06.489078Z","updated_at":"2021-12-21T16:31:16.787453Z","region":"fr-par","zone":"fr-par-1"},{"id":"964d40fa-dab4-4267-a2bf-1c257399987a","status":"ready","ip_address":"10.64.98.89","created_at":"2021-12-21T14:41:36.609580Z","updated_at":"2021-12-21T16:31:17.294799Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f95ba70d-9d31-4562-af83-1cd552cae541","ip_address":"51.159.9.179","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","reverse":"51-159-9-179.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.637746Z","updated_at":"2021-12-21T16:31:17.736460Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"345dcc00-1682-4c04-849e-81fe7aafaf43","status":"pending","created_at":"2021-12-21T16:31:46.092274977Z","updated_at":"2021-12-21T16:31:46.092274977Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6da01083-f93b-4f6a-ac9c-848fa69e9dfb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f95ba70d-9d31-4562-af83-1cd552cae541","ip_address":"51.159.9.179","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","reverse":"51-159-9-179.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-21T16:31:15.637746Z","updated_at":"2021-12-21T16:31:17.736460Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"345dcc00-1682-4c04-849e-81fe7aafaf43","status":"pending","created_at":"2021-12-21T16:31:46.092275Z","updated_at":"2021-12-21T16:31:46.092275Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6da01083-f93b-4f6a-ac9c-848fa69e9dfb/private-networks/345dcc00-1682-4c04-849e-81fe7aafaf43/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6da01083-f93b-4f6a-ac9c-848fa69e9dfb/private-networks/345dcc00-1682-4c04-849e-81fe7aafaf43/attach
    method: POST
  response:
    body: '{"lb":{"id":"6da01083-f93b-4f6a-ac9c-848fa69e9dfb","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"428554f7-88db-4065-a706-9f1255f5d6dd","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6da01083-f93b-4f6a-ac9c-848fa69e9dfb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/6da01083-f93b-4f6a-ac9c-848fa69e9dfb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
