---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"52ec682b-e8d9-4483-b356-ad8ef40fc63e","ip_address":"51.158.57.58","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-57-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/52ec682b-e8d9-4483-b356-ad8ef40fc63e
    method: GET
  response:
    body: '{"id":"52ec682b-e8d9-4483-b356-ad8ef40fc63e","ip_address":"51.158.57.58","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-158-57-58.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-to-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-13T16:17:50.861367Z","dhcp_enabled":true,"id":"63450d99-30e3-4fa6-aea7-63fc60d8d22f","name":"pn-with-lb-to-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:17:50.861367Z","id":"48480cce-fcf9-4e98-92a6-e1707dbf99c2","subnet":"172.16.52.0/22","updated_at":"2023-10-13T16:17:50.861367Z"},{"created_at":"2023-10-13T16:17:50.861367Z","id":"dbaa7ad5-358a-4820-9b2c-b4985663b3c7","subnet":"fd46:78ab:30b8:9f3::/64","updated_at":"2023-10-13T16:17:50.861367Z"}],"tags":[],"updated_at":"2023-10-13T16:17:50.861367Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/63450d99-30e3-4fa6-aea7-63fc60d8d22f
    method: GET
  response:
    body: '{"created_at":"2023-10-13T16:17:50.861367Z","dhcp_enabled":true,"id":"63450d99-30e3-4fa6-aea7-63fc60d8d22f","name":"pn-with-lb-to-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-10-13T16:17:50.861367Z","id":"48480cce-fcf9-4e98-92a6-e1707dbf99c2","subnet":"172.16.52.0/22","updated_at":"2023-10-13T16:17:50.861367Z"},{"created_at":"2023-10-13T16:17:50.861367Z","id":"dbaa7ad5-358a-4820-9b2c-b4985663b3c7","subnet":"fd46:78ab:30b8:9f3::/64","updated_at":"2023-10-13T16:17:50.861367Z"}],"tags":[],"updated_at":"2023-10-13T16:17:50.861367Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
