---
version: 1
interactions:
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cb3a6ff5-e60e-42a2-a02d-68052562e943","ip_address":"51.159.27.49","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-27-49.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cb3a6ff5-e60e-42a2-a02d-68052562e943
    method: GET
  response:
    body: '{"id":"cb3a6ff5-e60e-42a2-a02d-68052562e943","ip_address":"51.159.27.49","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":null,"reverse":"51-159-27-49.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","name":"test-lb","description":"","ip_id":"cb3a6ff5-e60e-42a2-a02d-68052562e943","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"fe88127b-a354-4535-9fab-72f2c63c5edc","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cb3a6ff5-e60e-42a2-a02d-68052562e943","ip_address":"51.159.27.49","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"fe88127b-a354-4535-9fab-72f2c63c5edc","reverse":"51-159-27-49.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.018115672Z","updated_at":"2021-05-17T12:47:44.018115672Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fe88127b-a354-4535-9fab-72f2c63c5edc
    method: GET
  response:
    body: '{"id":"fe88127b-a354-4535-9fab-72f2c63c5edc","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","ip":[{"id":"cb3a6ff5-e60e-42a2-a02d-68052562e943","ip_address":"51.159.27.49","organization_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","project_id":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","lb_id":"fe88127b-a354-4535-9fab-72f2c63c5edc","reverse":"51-159-27-49.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-05-17T12:47:44.018116Z","updated_at":"2021-05-17T12:47:44.018116Z","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fe88127b-a354-4535-9fab-72f2c63c5edc?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fe88127b-a354-4535-9fab-72f2c63c5edc
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
