---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4","ip_address":"195.154.69.81","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-69-81.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"2a542081-2cc0-4b62-93f5-1d5950d86c3d","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-09T17:01:14.069974Z","updated_at":"2021-11-09T17:01:14.069974Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4
    method: GET
  response:
    body: '{"id":"d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4","ip_address":"195.154.69.81","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-69-81.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2a542081-2cc0-4b62-93f5-1d5950d86c3d
    method: GET
  response:
    body: '{"id":"2a542081-2cc0-4b62-93f5-1d5950d86c3d","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-09T17:01:14.069974Z","updated_at":"2021-11-09T17:01:14.069974Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-with-dhcp","description":"","ip_id":"d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4","ip_address":"195.154.69.81","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","reverse":"195-154-69-81.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-09T17:01:14.309738162Z","updated_at":"2021-11-09T17:01:14.309738162Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e8a00c7a-6a87-4b02-9e18-1f71a2e5c057
    method: GET
  response:
    body: '{"id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4","ip_address":"195.154.69.81","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","reverse":"195-154-69-81.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-09T17:01:14.309738Z","updated_at":"2021-11-09T17:01:14.309738Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e8a00c7a-6a87-4b02-9e18-1f71a2e5c057/private-networks/2a542081-2cc0-4b62-93f5-1d5950d86c3d/attach
    method: POST
  response:
    body: '{"lb":{"id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[{"id":"b2504a0e-8354-497d-89fc-8effcc838260","status":"ready","ip_address":"10.72.94.43","created_at":"2021-11-09T16:47:15.912538Z","updated_at":"2021-11-09T17:01:15.235888Z","region":"fr-par","zone":"fr-par-1"},{"id":"06a28be0-6b74-4280-b49b-dc7fcba748fc","status":"ready","ip_address":"10.64.138.25","created_at":"2021-11-09T16:59:06.534936Z","updated_at":"2021-11-09T17:01:15.608040Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4","ip_address":"195.154.69.81","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","reverse":"195-154-69-81.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-09T17:01:14.309738Z","updated_at":"2021-11-09T17:01:15.929986Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"2a542081-2cc0-4b62-93f5-1d5950d86c3d","status":"pending","created_at":"2021-11-09T17:01:44.856711233Z","updated_at":"2021-11-09T17:01:44.856711233Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e8a00c7a-6a87-4b02-9e18-1f71a2e5c057/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"d1f7a30a-8e49-4fa6-9b8e-5f7a1fa58fd4","ip_address":"195.154.69.81","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"e8a00c7a-6a87-4b02-9e18-1f71a2e5c057","reverse":"195-154-69-81.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-09T17:01:14.309738Z","updated_at":"2021-11-09T17:01:15.929986Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"2a542081-2cc0-4b62-93f5-1d5950d86c3d","status":"pending","created_at":"2021-11-09T17:01:44.856711Z","updated_at":"2021-11-09T17:01:44.856711Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e8a00c7a-6a87-4b02-9e18-1f71a2e5c057/private-networks/2a542081-2cc0-4b62-93f5-1d5950d86c3d/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e8a00c7a-6a87-4b02-9e18-1f71a2e5c057?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/e8a00c7a-6a87-4b02-9e18-1f71a2e5c057
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b5a61360-8846-4763-b5aa-73c7a7d97f15/private-networks/2a542081-2cc0-4b62-93f5-1d5950d86c3d/attach
    method: POST
  response:
    body: '{"lb":{"id":"b5a61360-8846-4763-b5aa-73c7a7d97f15","name":"test-lb-with-static","description":"","status":"ready","instances":[{"id":"7adfd3a2-5b77-4d37-aa39-9fc8691cfd92","status":"r[...]
[...]
