---
version: 1
interactions:
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-29T15:49:25.844339Z","updated_at":"2021-12-29T15:49:25.844339Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"a225cd1d-4930-4b7a-a43b-b09d065b1701","ip_address":"51.159.26.93","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-26-93.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b
    method: GET
  response:
    body: '{"id":"33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-29T15:49:25.844339Z","updated_at":"2021-12-29T15:49:25.844339Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/a225cd1d-4930-4b7a-a43b-b09d065b1701
    method: GET
  response:
    body: '{"id":"a225cd1d-4930-4b7a-a43b-b09d065b1701","ip_address":"51.159.26.93","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-26-93.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"a225cd1d-4930-4b7a-a43b-b09d065b1701","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a225cd1d-4930-4b7a-a43b-b09d065b1701","ip_address":"51.159.26.93","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","reverse":"51-159-26-93.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.135121795Z","updated_at":"2021-12-29T15:49:26.135121795Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3ab11a5e-6f07-4e87-89f9-76a45d8ef44d
    method: GET
  response:
    body: '{"id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a225cd1d-4930-4b7a-a43b-b09d065b1701","ip_address":"51.159.26.93","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","reverse":"51-159-26-93.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.135122Z","updated_at":"2021-12-29T15:49:26.135122Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3ab11a5e-6f07-4e87-89f9-76a45d8ef44d/private-networks/33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b/attach
    method: POST
  response:
    body: '{"lb":{"id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"b942c3cb-92c0-4470-ae7b-3f2e59a87daa","status":"ready","ip_address":"10.65.36.1","created_at":"2021-12-29T15:35:40.597715Z","updated_at":"2021-12-29T15:49:27.419037Z","region":"fr-par","zone":"fr-par-1"},{"id":"ce76b621-077a-435b-beca-600a6bfb0230","status":"ready","ip_address":"10.73.134.79","created_at":"2021-12-29T15:44:04.359687Z","updated_at":"2021-12-29T15:49:28.467275Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a225cd1d-4930-4b7a-a43b-b09d065b1701","ip_address":"51.159.26.93","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","reverse":"51-159-26-93.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.135122Z","updated_at":"2021-12-29T15:49:28.955763Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b","status":"pending","created_at":"2021-12-29T15:49:56.656637872Z","updated_at":"2021-12-29T15:49:56.656637872Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3ab11a5e-6f07-4e87-89f9-76a45d8ef44d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"a225cd1d-4930-4b7a-a43b-b09d065b1701","ip_address":"51.159.26.93","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","reverse":"51-159-26-93.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-29T15:49:26.135122Z","updated_at":"2021-12-29T15:49:28.955763Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b","status":"pending","created_at":"2021-12-29T15:49:56.656638Z","updated_at":"2021-12-29T15:49:56.656638Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3ab11a5e-6f07-4e87-89f9-76a45d8ef44d/private-networks/33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3ab11a5e-6f07-4e87-89f9-76a45d8ef44d/private-networks/33f0b9d2-cf00-4ef4-9b7e-9939fd597c4b/attach
    method: POST
  response:
    body: '{"lb":{"id":"3ab11a5e-6f07-4e87-89f9-76a45d8ef44d","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"b942c3cb-92c0-4470-ae7b-3f2e59a87daa","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3ab11a5e-6f07-4e87-89f9-76a45d8ef44d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/3ab11a5e-6f07-4e87-89f9-76a45d8ef44d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
