---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b3fe5370-8df1-4229-b4d5-6459622874ad","ip_address":"51.159.115.248","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-248.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/b3fe5370-8df1-4229-b4d5-6459622874ad
    method: GET
  response:
    body: '{"id":"b3fe5370-8df1-4229-b4d5-6459622874ad","ip_address":"51.159.115.248","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-248.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:21:51.914389Z","dhcp_enabled":false,"id":"2243ac2c-6ba3-43ec-9cfe-e3024fc90846","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:21:51.914389Z","id":"0f4cf589-3c91-4674-81fb-26a756920375","subnet":"172.16.12.0/22","updated_at":"2023-07-11T17:21:51.914389Z"},{"created_at":"2023-07-11T17:21:51.914389Z","id":"e0ff41ca-3a9b-49da-a05e-8032216cfca8","subnet":"fd46:78ab:30b8:4408::/64","updated_at":"2023-07-11T17:21:51.914389Z"}],"tags":[],"updated_at":"2023-07-11T17:21:51.914389Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2243ac2c-6ba3-43ec-9cfe-e3024fc90846
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:21:51.914389Z","dhcp_enabled":false,"id":"2243ac2c-6ba3-43ec-9cfe-e3024fc90846","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:21:51.914389Z","id":"0f4cf589-3c91-4674-81fb-26a756920375","subnet":"172.16.12.0/22","updated_at":"2023-07-11T17:21:51.914389Z"},{"created_at":"2023-07-11T17:21:51.914389Z","id":"e0ff41ca-3a9b-49da-a05e-8032216cfca8","subnet":"fd46:78ab:30b8:4408::/64","updated_at":"2023-07-11T17:21:51.914389Z"}],"tags":[],"updated_at":"2023-07-11T17:21:51.914389Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"b3fe5370-8df1-4229-b4d5-6459622874ad","assign_flexible_ip":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-07-11T17:21:52.634395185Z","description":"","frontend_count":0,"id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","instances":[],"ip":[{"id":"b3fe5370-8df1-4229-b4d5-6459622874ad","ip_address":"51.159.115.248","lb_id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-248.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-11T17:21:52.634395185Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/033ccfa2-0d41-419b-9ed3-f0435444f2d6
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-07-11T17:21:52.634395Z","description":"","frontend_count":0,"id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","instances":[{"created_at":"2023-07-11T17:20:02.287268Z","id":"426731f0-64c9-4d70-8381-a9532b2ea8d9","ip_address":"10.72.30.67","region":"fr-par","status":"unknown","updated_at":"2023-07-11T17:21:52.850176Z","zone":"fr-par-1"}],"ip":[{"id":"b3fe5370-8df1-4229-b4d5-6459622874ad","ip_address":"51.159.115.248","lb_id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-248.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-11T17:21:52.860766Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/033ccfa2-0d41-419b-9ed3-f0435444f2d6/private-networks/2243ac2c-6ba3-43ec-9cfe-e3024fc90846/attach
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:22:23.248113389Z","lb":{"backend_count":0,"created_at":"2023-07-11T17:21:52.634395Z","description":"","frontend_count":0,"id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","instances":[{"created_at":"2023-07-11T17:20:02.287268Z","id":"426731f0-64c9-4d70-8381-a9532b2ea8d9","ip_address":"10.72.30.67","region":"fr-par","status":"ready","updated_at":"2023-07-11T17:21:53.612397Z","zone":"fr-par-1"}],"ip":[{"id":"b3fe5370-8df1-4229-b4d5-6459622874ad","ip_address":"51.159.115.248","lb_id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-248.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-11T17:21:54.633261Z","zone":"fr-par-1"},"private_network_id":"2243ac2c-6ba3-43ec-9cfe-e3024fc90846","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-07-11T17:22:23.248113389Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/033ccfa2-0d41-419b-9ed3-f0435444f2d6/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-07-11T17:22:23.248113Z","lb":{"backend_count":0,"created_at":"2023-07-11T17:21:52.634395Z","description":"","frontend_count":0,"id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","instances":[],"ip":[{"id":"b3fe5370-8df1-4229-b4d5-6459622874ad","ip_address":"51.159.115.248","lb_id":"033ccfa2-0d41-419b-9ed3-f0435444f2d6","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-115-248.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-07-11T17:21:54.633261Z","zone":"fr-par-1"},"private_network_id":"2243ac2c-6ba3-43ec-9cfe-e3024fc90846","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-07-11T17:22:23.248113Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/033ccfa2-0d41-419b-9ed3-f0435444f2d6/private-networks/2243ac2c-6ba3-43ec-9cfe-e3024fc90846/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/033ccfa2-0d41-419b-9ed3-f0435444f2d6?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/033ccfa2-0d41-419b-9ed3-f0435444f2d6
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
