---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-22T13:18:51.291013Z","updated_at":"2021-12-22T13:18:51.291013Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f83d83d1-cedb-41cf-9da7-2fc655bbef4b
    method: GET
  response:
    body: '{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4
    method: GET
  response:
    body: '{"id":"42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-22T13:18:51.291013Z","updated_at":"2021-12-22T13:18:51.291013Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T13:18:51.580693556Z","updated_at":"2021-12-22T13:18:51.580693556Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1ca8181f-d0ad-42c2-9d6b-55b7297b5398
    method: GET
  response:
    body: '{"id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T13:18:51.580694Z","updated_at":"2021-12-22T13:18:51.580694Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1ca8181f-d0ad-42c2-9d6b-55b7297b5398/private-networks/42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4/attach
    method: POST
  response:
    body: '{"lb":{"id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"e49ed585-49ce-4b8e-92f4-00bbfc94cad9","status":"ready","ip_address":"10.64.116.127","created_at":"2021-12-22T12:56:55.981287Z","updated_at":"2021-12-22T13:18:52.175057Z","region":"fr-par","zone":"fr-par-1"},{"id":"aea387d1-181e-42fb-867f-14166097161f","status":"ready","ip_address":"10.65.28.97","created_at":"2021-12-22T12:56:38.924298Z","updated_at":"2021-12-22T13:18:52.467561Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T13:18:51.580694Z","updated_at":"2021-12-22T13:18:52.764672Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4","status":"pending","created_at":"2021-12-22T13:19:22.120510607Z","updated_at":"2021-12-22T13:19:22.120510607Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1ca8181f-d0ad-42c2-9d6b-55b7297b5398/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"f83d83d1-cedb-41cf-9da7-2fc655bbef4b","ip_address":"51.159.113.101","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","reverse":"51-159-113-101.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-22T13:18:51.580694Z","updated_at":"2021-12-22T13:18:52.764672Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4","status":"pending","created_at":"2021-12-22T13:19:22.120511Z","updated_at":"2021-12-22T13:19:22.120511Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1ca8181f-d0ad-42c2-9d6b-55b7297b5398/private-networks/42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1ca8181f-d0ad-42c2-9d6b-55b7297b5398/private-networks/42e57a6a-1f92-446d-9e3e-0fa4ad3a2af4/attach
    method: POST
  response:
    body: '{"lb":{"id":"1ca8181f-d0ad-42c2-9d6b-55b7297b5398","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"e49ed585-49ce-4b8e-92f4-00bbfc94cad9","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1ca8181f-d0ad-42c2-9d6b-55b7297b5398?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/1ca8181f-d0ad-42c2-9d6b-55b7297b5398
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
