---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"160e2f93-6dca-4194-9c8c-c9ae6a34e335","ip_address":"195.154.196.94","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-94.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/160e2f93-6dca-4194-9c8c-c9ae6a34e335
    method: GET
  response:
    body: '{"id":"160e2f93-6dca-4194-9c8c-c9ae6a34e335","ip_address":"195.154.196.94","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-94.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-19T08:27:37.786679Z","dhcp_enabled":true,"id":"e7688e59-a548-43b7-a914-f1aa5f32136d","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-12-19T08:27:37.786679Z","id":"7e452582-828b-48f2-b882-fcc56e92c2b4","subnet":"172.16.0.0/22","updated_at":"2023-12-19T08:27:37.786679Z"},{"created_at":"2023-12-19T08:27:37.786679Z","id":"eb5a7032-46f2-4c4d-8625-fd74c6f6fe33","subnet":"fd46:78ab:30b8:febd::/64","updated_at":"2023-12-19T08:27:37.786679Z"}],"tags":[],"updated_at":"2023-12-19T08:27:37.786679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e7688e59-a548-43b7-a914-f1aa5f32136d
    method: GET
  response:
    body: '{"created_at":"2023-12-19T08:27:37.786679Z","dhcp_enabled":true,"id":"e7688e59-a548-43b7-a914-f1aa5f32136d","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-12-19T08:27:37.786679Z","id":"7e452582-828b-48f2-b882-fcc56e92c2b4","subnet":"172.16.0.0/22","updated_at":"2023-12-19T08:27:37.786679Z"},{"created_at":"2023-12-19T08:27:37.786679Z","id":"eb5a7032-46f2-4c4d-8625-fd74c6f6fe33","subnet":"fd46:78ab:30b8:febd::/64","updated_at":"2023-12-19T08:27:37.786679Z"}],"tags":[],"updated_at":"2023-12-19T08:27:37.786679Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-cidr","description":"","ip_id":"160e2f93-6dca-4194-9c8c-c9ae6a34e335","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-12-19T08:27:38.603640039Z","description":"","frontend_count":0,"id":"cc7caa75-6491-48ee-97d2-46d505778f25","instances":[],"ip":[{"id":"160e2f93-6dca-4194-9c8c-c9ae6a34e335","ip_address":"195.154.196.94","lb_id":"cc7caa75-6491-48ee-97d2-46d505778f25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-94.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-12-19T08:27:38.603640039Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cc7caa75-6491-48ee-97d2-46d505778f25
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-12-19T08:27:38.603640Z","description":"","frontend_count":0,"id":"cc7caa75-6491-48ee-97d2-46d505778f25","instances":[],"ip":[{"id":"160e2f93-6dca-4194-9c8c-c9ae6a34e335","ip_address":"195.154.196.94","lb_id":"cc7caa75-6491-48ee-97d2-46d505778f25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-94.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-12-19T08:27:38.603640Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cc7caa75-6491-48ee-97d2-46d505778f25/private-networks/e7688e59-a548-43b7-a914-f1aa5f32136d/attach
    method: POST
  response:
    body: '{"created_at":"2023-12-19T08:28:09.124508536Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2023-12-19T08:27:38.603640Z","description":"","frontend_count":0,"id":"cc7caa75-6491-48ee-97d2-46d505778f25","instances":[{"created_at":"2023-12-19T08:25:55.602295Z","id":"cb614ea8-a8a1-4b44-9e1b-0c0b300d395a","ip_address":"","region":"fr-par","status":"ready","updated_at":"2023-12-19T08:27:43.165308Z","zone":"fr-par-1"}],"ip":[{"id":"160e2f93-6dca-4194-9c8c-c9ae6a34e335","ip_address":"195.154.196.94","lb_id":"cc7caa75-6491-48ee-97d2-46d505778f25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-94.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-12-19T08:27:44.589173Z","zone":"fr-par-1"},"private_network_id":"e7688e59-a548-43b7-a914-f1aa5f32136d","status":"pending","updated_at":"2023-12-19T08:28:09.124508536Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cc7caa75-6491-48ee-97d2-46d505778f25/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-12-19T08:28:09.124509Z","dhcp_config":{"ip_id":null},"ipam_ids":[],"lb":{"backend_count":0,"created_at":"2023-12-19T08:27:38.603640Z","description":"","frontend_count":0,"id":"cc7caa75-6491-48ee-97d2-46d505778f25","instances":[],"ip":[{"id":"160e2f93-6dca-4194-9c8c-c9ae6a34e335","ip_address":"195.154.196.94","lb_id":"cc7caa75-6491-48ee-97d2-46d505778f25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-196-94.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-cidr","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-12-19T08:27:44.589173Z","zone":"fr-par-1"},"private_network_id":"e7688e59-a548-43b7-a914-f1aa5f32136d","status":"pending","updated_at":"2023-12-19T08:28:09.124509Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cc7caa75-6491-48ee-97d2-46d505778f25/private-networks/e7688e59-a548-43b7-a914-f1aa5f32136d/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cc7caa75-6491-48ee-97d2-46d505778f25?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/cc7caa75-6491-48ee-97d2-46d505778f25
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
