---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"861a1bd2-d393-4553-b476-b240c7fb67ea","ip_address":"195.154.68.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-68-250.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"d94754dd-bfe0-4089-b86b-dbcd804aff82","name":"pn-with-lb-static","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-16T13:40:44.854649Z","updated_at":"2022-05-16T13:40:44.854649Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/861a1bd2-d393-4553-b476-b240c7fb67ea
    method: GET
  response:
    body: '{"id":"861a1bd2-d393-4553-b476-b240c7fb67ea","ip_address":"195.154.68.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"195-154-68-250.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d94754dd-bfe0-4089-b86b-dbcd804aff82
    method: GET
  response:
    body: '{"id":"d94754dd-bfe0-4089-b86b-dbcd804aff82","name":"pn-with-lb-static","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-16T13:40:44.854649Z","updated_at":"2022-05-16T13:40:44.854649Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb-with-pn-static-2","description":"","ip_id":"861a1bd2-d393-4553-b476-b240c7fb67ea","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","name":"test-lb-with-pn-static-2","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"861a1bd2-d393-4553-b476-b240c7fb67ea","ip_address":"195.154.68.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","reverse":"195-154-68-250.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:40:45.150295912Z","updated_at":"2022-05-16T13:40:45.150295912Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb8a26cb-6c6f-44bb-ad67-e1c08a76403d
    method: GET
  response:
    body: '{"id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","name":"test-lb-with-pn-static-2","description":"","status":"creating","instances":[{"id":"3676cb73-6e01-470d-bbf1-93f8fab9e89c","status":"unknown","ip_address":"10.72.112.49","created_at":"2022-05-16T13:38:35.553564Z","updated_at":"2022-05-16T13:40:45.268766Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"861a1bd2-d393-4553-b476-b240c7fb67ea","ip_address":"195.154.68.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","reverse":"195-154-68-250.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:40:45.150296Z","updated_at":"2022-05-16T13:40:45.281280Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb8a26cb-6c6f-44bb-ad67-e1c08a76403d/private-networks/d94754dd-bfe0-4089-b86b-dbcd804aff82/attach
    method: POST
  response:
    body: '{"lb":{"id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"3676cb73-6e01-470d-bbf1-93f8fab9e89c","status":"ready","ip_address":"10.72.112.49","created_at":"2022-05-16T13:38:35.553564Z","updated_at":"2022-05-16T13:40:45.491593Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"861a1bd2-d393-4553-b476-b240c7fb67ea","ip_address":"195.154.68.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","reverse":"195-154-68-250.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:40:45.150296Z","updated_at":"2022-05-16T13:40:45.776985Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"d94754dd-bfe0-4089-b86b-dbcd804aff82","status":"pending","created_at":"2022-05-16T13:41:15.628898987Z","updated_at":"2022-05-16T13:41:15.628898987Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb8a26cb-6c6f-44bb-ad67-e1c08a76403d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"861a1bd2-d393-4553-b476-b240c7fb67ea","ip_address":"195.154.68.250","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"fb8a26cb-6c6f-44bb-ad67-e1c08a76403d","reverse":"195-154-68-250.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-16T13:40:45.150296Z","updated_at":"2022-05-16T13:40:45.776985Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"d94754dd-bfe0-4089-b86b-dbcd804aff82","status":"pending","created_at":"2022-05-16T13:41:15.628899Z","updated_at":"2022-05-16T13:41:15.628899Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb8a26cb-6c6f-44bb-ad67-e1c08a76403d/private-networks/5ad4cc42-6125-461d-9406-a4e3f1464c3c/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb8a26cb-6c6f-44bb-ad67-e1c08a76403d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/fb8a26cb-6c6f-44bb-ad67-e1c08a76403d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
