---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"e2bf2eaf-e70c-4969-9e60-f690a5afd6ba","ip_address":"51.159.9.139","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-139.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"74492a2b-ed1c-400e-b36b-3e76206f8bb9","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-03T16:46:18.368389Z","updated_at":"2021-11-03T16:46:18.368389Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/74492a2b-ed1c-400e-b36b-3e76206f8bb9
    method: GET
  response:
    body: '{"id":"74492a2b-ed1c-400e-b36b-3e76206f8bb9","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-03T16:46:18.368389Z","updated_at":"2021-11-03T16:46:18.368389Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/e2bf2eaf-e70c-4969-9e60-f690a5afd6ba
    method: GET
  response:
    body: '{"id":"e2bf2eaf-e70c-4969-9e60-f690a5afd6ba","ip_address":"51.159.9.139","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-139.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb","description":"","ip_id":"e2bf2eaf-e70c-4969-9e60-f690a5afd6ba","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"a79ccc12-0eff-4880-8682-8408d34bcbb5","name":"test-lb","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"e2bf2eaf-e70c-4969-9e60-f690a5afd6ba","ip_address":"51.159.9.139","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"a79ccc12-0eff-4880-8682-8408d34bcbb5","reverse":"51-159-9-139.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-03T16:46:18.715406397Z","updated_at":"2021-11-03T16:46:18.715406397Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a79ccc12-0eff-4880-8682-8408d34bcbb5
    method: GET
  response:
    body: '{"id":"a79ccc12-0eff-4880-8682-8408d34bcbb5","name":"test-lb","description":"","status":"pending","instances":[{"id":"823894de-4924-4b15-b505-c84c6dfd63a8","status":"unknown","ip_address":"10.69.28.67","created_at":"2021-11-03T16:28:00.047311Z","updated_at":"2021-11-03T16:46:18.914253Z","region":"fr-par","zone":"f[...]
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a79ccc12-0eff-4880-8682-8408d34bcbb5/private-networks/74492a2b-ed1c-400e-b36b-3e76206f8bb9/attach
    method: POST
  response:
    body: '{"lb":{"id":"a79ccc12-0eff-4880-8682-8408d34bcbb5","name":"test-lb","description":"","status":"ready","instances":[{"id":"823894de-4924-4b15-b505-c84c6dfd63a8","status":"ready","ip_address":"10.69.28.67","created_at":"2021-11-03T16:28:00.047311Z","updated_at":"2021-11-03T16:46:19.477111Z","region":"fr-par","zone":"fr-par-1"},{"id":"ead2fc31-b047-4128-af82-a8692e5a6bc7","status":"ready","ip_address":"10.64.190.63","created_at":"2021-11-03T16:27:08.633169Z","updated_at":"2021-11-03T16:46:20.017015Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"e2bf2eaf-e70c-4969-9e60-f690a5afd6ba","ip_address":"51.159.9.139","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"a79ccc12-0eff-4880-8682-8408d34bcbb5","reverse":"51-159-9-139.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-03T16:46:18.715406Z","updated_at":"2021-11-03T16:46:20.309084Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"74492a2b-ed1c-400e-b36b-3e76206f8bb9","status":"pending","created_at":"2021-11-03T16:46:49.525133965Z","updated_at":"2021-11-03T16:46:49.525133965Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a79ccc12-0eff-4880-8682-8408d34bcbb5/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"a79ccc12-0eff-4880-8682-8408d34bcbb5","name":"test-lb","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"e2bf2eaf-e70c-4969-9e60-f690a5afd6ba","ip_address":"51.159.9.139","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"a79ccc12-0eff-4880-8682-8408d34bcbb5","reverse":"51-159-9-139.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-03T16:46:18.715406Z","updated_at":"2021-11-03T16:46:20.309084Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"74492a2b-ed1c-400e-b36b-3e76206f8bb9","status":"pending","created_at":"2021-11-03T16:46:49.525134Z","updated_at":"2021-11-03T16:46:49.525134Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a79ccc12-0eff-4880-8682-8408d34bcbb5/private-networks/74492a2b-ed1c-400e-b36b-3e76206f8bb9/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/a79ccc12-0eff-4880-8682-8408d34bcbb5?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
