---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"473d418a-ae63-4901-8e62-40fafd5bee0f","ip_address":"51.159.11.146","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-11-146.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"f72eb8db-5c8d-4bea-9b81-389f02db8f0a","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-27T12:08:07.783752Z","updated_at":"2021-12-27T12:08:07.783752Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/473d418a-ae63-4901-8e62-40fafd5bee0f
    method: GET
  response:
    body: '{"id":"473d418a-ae63-4901-8e62-40fafd5bee0f","ip_address":"51.159.11.146","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-11-146.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/f72eb8db-5c8d-4bea-9b81-389f02db8f0a
    method: GET
  response:
    body: '{"id":"f72eb8db-5c8d-4bea-9b81-389f02db8f0a","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-27T12:08:07.783752Z","updated_at":"2021-12-27T12:08:07.783752Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"473d418a-ae63-4901-8e62-40fafd5bee0f","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"473d418a-ae63-4901-8e62-40fafd5bee0f","ip_address":"51.159.11.146","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","reverse":"51-159-11-146.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.104169492Z","updated_at":"2021-12-27T12:08:08.104169492Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ceac645-b29f-4cfd-9a41-a458ea2ffafb
    method: GET
  response:
    body: '{"id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"473d418a-ae63-4901-8e62-40fafd5bee0f","ip_address":"51.159.11.146","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","reverse":"51-159-11-146.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.104169Z","updated_at":"2021-12-27T12:08:08.104169Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ceac645-b29f-4cfd-9a41-a458ea2ffafb/private-networks/f72eb8db-5c8d-4bea-9b81-389f02db8f0a/attach
    method: POST
  response:
    body: '{"lb":{"id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"28422b5d-af88-4b40-84f1-d28d6cde192b","status":"ready","ip_address":"10.68.60.111","created_at":"2021-12-27T12:00:27.157086Z","updated_at":"2021-12-27T12:08:08.700681Z","region":"fr-par","zone":"fr-par-1"},{"id":"69e5adc1-9818-46f0-9b02-540fa34dcd3d","status":"ready","ip_address":"10.64.188.45","created_at":"2021-12-27T12:00:44.167452Z","updated_at":"2021-12-27T12:08:09.432260Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"473d418a-ae63-4901-8e62-40fafd5bee0f","ip_address":"51.159.11.146","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","reverse":"51-159-11-146.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.104169Z","updated_at":"2021-12-27T12:08:10.541008Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"f72eb8db-5c8d-4bea-9b81-389f02db8f0a","status":"pending","created_at":"2021-12-27T12:08:38.599434341Z","updated_at":"2021-12-27T12:08:38.599434341Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ceac645-b29f-4cfd-9a41-a458ea2ffafb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"473d418a-ae63-4901-8e62-40fafd5bee0f","ip_address":"51.159.11.146","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","reverse":"51-159-11-146.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-12-27T12:08:08.104169Z","updated_at":"2021-12-27T12:08:10.541008Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"f72eb8db-5c8d-4bea-9b81-389f02db8f0a","status":"pending","created_at":"2021-12-27T12:08:38.599434Z","updated_at":"2021-12-27T12:08:38.599434Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ceac645-b29f-4cfd-9a41-a458ea2ffafb/private-networks/f72eb8db-5c8d-4bea-9b81-389f02db8f0a/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ceac645-b29f-4cfd-9a41-a458ea2ffafb/private-networks/f72eb8db-5c8d-4bea-9b81-389f02db8f0a/attach
    method: POST
  response:
    body: '{"lb":{"id":"4ceac645-b29f-4cfd-9a41-a458ea2ffafb","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"28422b5d-af88-4b40-84f1-d28d6cde192b","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ceac645-b29f-4cfd-9a41-a458ea2ffafb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/4ceac645-b29f-4cfd-9a41-a458ea2ffafb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
