---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"720479cc-d283-4232-b9f7-fa5444b90d24","ip_address":"195.154.71.197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"fad9a5e0-9a9b-4e9e-8bcd-0cab7fe0dc01","name":"pn-with-lb-static","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-05-04T14:13:10.603112Z","updated_at":"2022-05-04T14:13:10.603112Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/720479cc-d283-4232-b9f7-fa5444b90d24
    method: GET
  response:
    body: '{"id":"720479cc-d283-4232-b9f7-fa5444b90d24","ip_address":"195.154.71.197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-71-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/fad9a5e0-9a9b-4e9e-8bcd-0cab7fe0dc01
    method: GET
  response:
    body: '{"id":"fad9a5e0-9a9b-4e9e-8bcd-0cab7fe0dc01","name":"pn-with-lb-static","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-05-04T14:13:10.603112Z","updated_at":"2022-05-04T14:13:10.603112Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-pn-static-2","description":"","ip_id":"720479cc-d283-4232-b9f7-fa5444b90d24","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","name":"test-lb-with-pn-static-2","description":"","status":"to_create","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"720479cc-d283-4232-b9f7-fa5444b90d24","ip_address":"195.154.71.197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","reverse":"195-154-71-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-04T14:13:10.914874040Z","updated_at":"2022-05-04T14:13:10.914874040Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7f2b3dd4-6e98-4d31-b5ed-98ae912bec83
    method: GET
  response:
    body: '{"id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","name":"test-lb-with-pn-static-2","description":"","status":"creating","instances":[{"id":"f7125556-5615-44f0-94da-13f73dc7b222","status":"unknown","ip_address":"10.64.114.49","created_at":"2022-05-04T14:09:45.544038Z","updated_at":"2022-05-04T14:13:11.076931Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"720479cc-d283-4232-b9f7-fa5444b90d24","ip_address":"195.154.71.197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","reverse":"195-154-71-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-04T14:13:10.914874Z","updated_at":"2022-05-04T14:13:11.088433Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7f2b3dd4-6e98-4d31-b5ed-98ae912bec83/private-networks/fad9a5e0-9a9b-4e9e-8bcd-0cab7fe0dc01/attach
    method: POST
  response:
    body: '{"lb":{"id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"f7125556-5615-44f0-94da-13f73dc7b222","status":"ready","ip_address":"10.64.114.49","created_at":"2022-05-04T14:09:45.544038Z","updated_at":"2022-05-04T14:13:11.472210Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"720479cc-d283-4232-b9f7-fa5444b90d24","ip_address":"195.154.71.197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","reverse":"195-154-71-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-04T14:13:10.914874Z","updated_at":"2022-05-04T14:13:11.775657Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"fad9a5e0-9a9b-4e9e-8bcd-0cab7fe0dc01","status":"pending","created_at":"2022-05-04T14:13:41.421530128Z","updated_at":"2022-05-04T14:13:41.421530128Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7f2b3dd4-6e98-4d31-b5ed-98ae912bec83/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"720479cc-d283-4232-b9f7-fa5444b90d24","ip_address":"195.154.71.197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"7f2b3dd4-6e98-4d31-b5ed-98ae912bec83","reverse":"195-154-71-197.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-05-04T14:13:10.914874Z","updated_at":"2022-05-04T14:13:11.775657Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"fad9a5e0-9a9b-4e9e-8bcd-0cab7fe0dc01","status":"pending","created_at":"2022-05-04T14:13:41.421530Z","updated_at":"2022-05-04T14:13:41.421530Z","static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7f2b3dd4-6e98-4d31-b5ed-98ae912bec83/private-networks/746a53bd-f504-4d0c-b006-5d2feb0e805b/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7f2b3dd4-6e98-4d31-b5ed-98ae912bec83?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/7f2b3dd4-6e98-4d31-b5ed-98ae912bec83
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
