---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"3ced4bf6-5096-4a80-af35-3f9e803ba52f","ip_address":"51.158.58.30","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-158-58-30.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"88cdf134-7c27-425b-897a-07d99cb3b13e","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T13:48:38.299393Z","updated_at":"2022-04-12T13:48:38.299393Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/3ced4bf6-5096-4a80-af35-3f9e803ba52f
    method: GET
  response:
    body: '{"id":"3ced4bf6-5096-4a80-af35-3f9e803ba52f","ip_address":"51.158.58.30","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":null,"reverse":"51-158-58-30.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/88cdf134-7c27-425b-897a-07d99cb3b13e
    method: GET
  response:
    body: '{"id":"88cdf134-7c27-425b-897a-07d99cb3b13e","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T13:48:38.299393Z","updated_at":"2022-04-12T13:48:38.299393Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-lb-with-dhcp-1","description":"","ip_id":"3ced4bf6-5096-4a80-af35-3f9e803ba52f","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","name":"test-lb-with-dhcp-1","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"3ced4bf6-5096-4a80-af35-3f9e803ba52f","ip_address":"51.158.58.30","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","reverse":"51-158-58-30.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T13:48:38.599024197Z","updated_at":"2022-04-12T13:48:38.599024197Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/63852562-e9fd-4c8d-a84a-5f9482bb266d
    method: GET
  response:
    body: '{"id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","name":"test-lb-with-dhcp-1","description":"","status":"to_create","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"3ced4bf6-5096-4a80-af35-3f9e803ba52f","ip_address":"51.158.58.30","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","reverse":"51-158-58-30.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T13:48:38.599024Z","updated_at":"2022-04-12T13:48:38.599024Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/63852562-e9fd-4c8d-a84a-5f9482bb266d/private-networks/88cdf134-7c27-425b-897a-07d99cb3b13e/attach
    method: POST
  response:
    body: '{"lb":{"id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"ad212c54-c2e9-434b-ba44-f363db08f3c8","status":"ready","ip_address":"10.73.100.59","created_at":"2022-04-12T13:37:10.228650Z","updated_at":"2022-04-12T13:48:39.296527Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"3ced4bf6-5096-4a80-af35-3f9e803ba52f","ip_address":"51.158.58.30","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","reverse":"51-158-58-30.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T13:48:38.599024Z","updated_at":"2022-04-12T13:48:39.567578Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"88cdf134-7c27-425b-897a-07d99cb3b13e","status":"pending","created_at":"2022-04-12T13:49:09.136549875Z","updated_at":"2022-04-12T13:49:09.136549875Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/63852562-e9fd-4c8d-a84a-5f9482bb266d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","ip":[{"id":"3ced4bf6-5096-4a80-af35-3f9e803ba52f","ip_address":"51.158.58.30","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","lb_id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","reverse":"51-158-58-30.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-04-12T13:48:38.599024Z","updated_at":"2022-04-12T13:48:39.567578Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"88cdf134-7c27-425b-897a-07d99cb3b13e","status":"pending","created_at":"2022-04-12T13:49:09.136550Z","updated_at":"2022-04-12T13:49:09.136550Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/63852562-e9fd-4c8d-a84a-5f9482bb266d/private-networks/88cdf134-7c27-425b-897a-07d99cb3b13e/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/63852562-e9fd-4c8d-a84a-5f9482bb266d/private-networks/88cdf134-7c27-425b-897a-07d99cb3b13e/attach
    method: POST
  response:
    body: '{"lb":{"id":"63852562-e9fd-4c8d-a84a-5f9482bb266d","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"ad212c54-c2e9-434b-ba44-f363db08f3c8","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/63852562-e9fd-4c8d-a84a-5f9482bb266d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/63852562-e9fd-4c8d-a84a-5f9482bb266d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
