---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5a7a551f-5170-4e12-8a22-3d305596a724","ip_address":"51.159.112.4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-112-4.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"9b189e57-0526-47c4-9add-cb7f01d6cdd5","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-06T13:06:04.295856Z","updated_at":"2022-01-06T13:06:04.295856Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/5a7a551f-5170-4e12-8a22-3d305596a724
    method: GET
  response:
    body: '{"id":"5a7a551f-5170-4e12-8a22-3d305596a724","ip_address":"51.159.112.4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"51-159-112-4.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/9b189e57-0526-47c4-9add-cb7f01d6cdd5
    method: GET
  response:
    body: '{"id":"9b189e57-0526-47c4-9add-cb7f01d6cdd5","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-06T13:06:04.295856Z","updated_at":"2022-01-06T13:06:04.295856Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"5a7a551f-5170-4e12-8a22-3d305596a724","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"5a7a551f-5170-4e12-8a22-3d305596a724","ip_address":"51.159.112.4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","reverse":"51-159-112-4.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-06T13:06:04.581364786Z","updated_at":"2022-01-06T13:06:04.581364786Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40ce8fc1-47ea-4277-ba46-49d016e231cf
    method: GET
  response:
    body: '{"id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"5a7a551f-5170-4e12-8a22-3d305596a724","ip_address":"51.159.112.4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","reverse":"51-159-112-4.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-06T13:06:04.581365Z","updated_at":"2022-01-06T13:06:04.581365Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40ce8fc1-47ea-4277-ba46-49d016e231cf/private-networks/9b189e57-0526-47c4-9add-cb7f01d6cdd5/attach
    method: POST
  response:
    body: '{"lb":{"id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"f7766a65-de5b-4d7e-abf0-859672f963d7","status":"ready","ip_address":"10.64.238.149","created_at":"2022-01-06T13:03:30.386910Z","updated_at":"2022-01-06T13:06:04.971489Z","region":"fr-par","zone":"fr-par-1"},{"id":"01a72277-607b-480f-8d01-813ba665b7ac","status":"ready","ip_address":"10.64.128.1","created_at":"2022-01-06T13:02:50.295978Z","updated_at":"2022-01-06T13:06:05.367860Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"5a7a551f-5170-4e12-8a22-3d305596a724","ip_address":"51.159.112.4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","reverse":"51-159-112-4.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-06T13:06:04.581365Z","updated_at":"2022-01-06T13:06:05.660466Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"9b189e57-0526-47c4-9add-cb7f01d6cdd5","status":"pending","created_at":"2022-01-06T13:06:35.033192409Z","updated_at":"2022-01-06T13:06:35.033192409Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40ce8fc1-47ea-4277-ba46-49d016e231cf/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"5a7a551f-5170-4e12-8a22-3d305596a724","ip_address":"51.159.112.4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","reverse":"51-159-112-4.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-06T13:06:04.581365Z","updated_at":"2022-01-06T13:06:05.660466Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"9b189e57-0526-47c4-9add-cb7f01d6cdd5","status":"pending","created_at":"2022-01-06T13:06:35.033192Z","updated_at":"2022-01-06T13:06:35.033192Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40ce8fc1-47ea-4277-ba46-49d016e231cf/private-networks/9b189e57-0526-47c4-9add-cb7f01d6cdd5/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40ce8fc1-47ea-4277-ba46-49d016e231cf/private-networks/9b189e57-0526-47c4-9add-cb7f01d6cdd5/attach
    method: POST
  response:
    body: '{"lb":{"id":"40ce8fc1-47ea-4277-ba46-49d016e231cf","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"f7766a65-de5b-4d7e-abf0-859672f963d7","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40ce8fc1-47ea-4277-ba46-49d016e231cf?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/40ce8fc1-47ea-4277-ba46-49d016e231cf
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
