---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-basic","description":"a
      description","assign_flexible_ip":false,"tags":["basic"],"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:01:12.739768005Z","description":"a
      description","frontend_count":0,"id":"ab4aa321-7279-4580-8646-cf6201cd40e7","instances":[],"ip":[],"name":"test-lb-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2023-09-19T14:01:12.739768005Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab4aa321-7279-4580-8646-cf6201cd40e7
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:01:12.739768Z","description":"a
      description","frontend_count":0,"id":"ab4aa321-7279-4580-8646-cf6201cd40e7","instances":[],"ip":[],"name":"test-lb-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2023-09-19T14:01:12.739768Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab4aa321-7279-4580-8646-cf6201cd40e7
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:01:12.739768Z","description":"a
      description","frontend_count":0,"id":"ab4aa321-7279-4580-8646-cf6201cd40e7","instances":[{"created_at":"2023-09-19T13:56:47.469972Z","id":"b86f7839-8710-4ab6-a7a2-63ec7dae6afc","ip_address":"","region":"fr-par","status":"ready","updated_at":"2023-09-19T14:01:15.162936Z","zone":"fr-par-1"}],"ip":[],"name":"test-lb-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":["basic"],"type":"lb-s","updated_at":"2023-09-19T14:01:16.549494Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab4aa321-7279-4580-8646-cf6201cd40e7/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab4aa321-7279-4580-8646-cf6201cd40e7?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab4aa321-7279-4580-8646-cf6201cd40e7
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
