---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/f13ffae4-4963-4f0e-95ef-3c939c988f7e
    method: GET
  response:
    body: '{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-19T14:35:17.871609Z","dhcp_enabled":true,"id":"dd614cc4-c2e5-43e0-b4e0-2fc1422207c3","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-09-19T14:35:17.871609Z","id":"2735e57d-a069-47c6-8a54-fcf428d89323","subnet":"172.16.72.0/22","updated_at":"2023-09-19T14:35:17.871609Z"},{"created_at":"2023-09-19T14:35:17.871609Z","id":"ad38999b-6493-4655-afd0-7455c7477bbc","subnet":"fd46:78ab:30b8:23cf::/64","updated_at":"2023-09-19T14:35:17.871609Z"}],"tags":[],"updated_at":"2023-09-19T14:35:17.871609Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dd614cc4-c2e5-43e0-b4e0-2fc1422207c3
    method: GET
  response:
    body: '{"created_at":"2023-09-19T14:35:17.871609Z","dhcp_enabled":true,"id":"dd614cc4-c2e5-43e0-b4e0-2fc1422207c3","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-09-19T14:35:17.871609Z","id":"2735e57d-a069-47c6-8a54-fcf428d89323","subnet":"172.16.72.0/22","updated_at":"2023-09-19T14:35:17.871609Z"},{"created_at":"2023-09-19T14:35:17.871609Z","id":"ad38999b-6493-4655-afd0-7455c7477bbc","subnet":"fd46:78ab:30b8:23cf::/64","updated_at":"2023-09-19T14:35:17.871609Z"}],"tags":[],"updated_at":"2023-09-19T14:35:17.871609Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","assign_flexible_ip":null,"tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:35:19.335659041Z","description":"","frontend_count":0,"id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","instances":[],"ip":[{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-09-19T14:35:19.335659041Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b138f09f-0e34-4ee7-896b-8f5608b35b5a
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-09-19T14:35:19.335659Z","description":"","frontend_count":0,"id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","instances":[],"ip":[{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-09-19T14:35:19.335659Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b138f09f-0e34-4ee7-896b-8f5608b35b5a/private-networks/dd614cc4-c2e5-43e0-b4e0-2fc1422207c3/attach
    method: POST
  response:
    body: '{"created_at":"2023-09-19T14:35:49.818093238Z","lb":{"backend_count":0,"created_at":"2023-09-19T14:35:19.335659Z","description":"","frontend_count":0,"id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","instances":[{"created_at":"2023-09-19T14:21:17.045198Z","id":"92a375dd-b980-414d-8e4f-51cf756e25db","ip_address":"","region":"fr-par","status":"ready","updated_at":"2023-09-19T14:35:23.531960Z","zone":"fr-par-1"}],"ip":[{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-09-19T14:35:24.656381Z","zone":"fr-par-1"},"private_network_id":"dd614cc4-c2e5-43e0-b4e0-2fc1422207c3","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-09-19T14:35:49.818093238Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b138f09f-0e34-4ee7-896b-8f5608b35b5a/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-09-19T14:35:49.818093Z","lb":{"backend_count":0,"created_at":"2023-09-19T14:35:19.335659Z","description":"","frontend_count":0,"id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","instances":[],"ip":[{"id":"f13ffae4-4963-4f0e-95ef-3c939c988f7e","ip_address":"51.159.8.92","lb_id":"b138f09f-0e34-4ee7-896b-8f5608b35b5a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-8-92.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-09-19T14:35:24.656381Z","zone":"fr-par-1"},"private_network_id":"dd614cc4-c2e5-43e0-b4e0-2fc1422207c3","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-09-19T14:35:49.818093Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b138f09f-0e34-4ee7-896b-8f5608b35b5a/private-networks/dd614cc4-c2e5-43e0-b4e0-2fc1422207c3/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b138f09f-0e34-4ee7-896b-8f5608b35b5a?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b138f09f-0e34-4ee7-896b-8f5608b35b5a
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
