---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"bac7f54a-cc43-446b-adb6-415ad892fe1b","ip_address":"51.159.9.187","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-187.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"6b19decc-7fb9-46f6-b6b3-f1c9f4700575","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-15T10:06:02.654426Z","updated_at":"2021-11-15T10:06:02.654426Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/bac7f54a-cc43-446b-adb6-415ad892fe1b
    method: GET
  response:
    body: '{"id":"bac7f54a-cc43-446b-adb6-415ad892fe1b","ip_address":"51.159.9.187","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"51-159-9-187.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/6b19decc-7fb9-46f6-b6b3-f1c9f4700575
    method: GET
  response:
    body: '{"id":"6b19decc-7fb9-46f6-b6b3-f1c9f4700575","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-15T10:06:02.654426Z","updated_at":"2021-11-15T10:06:02.654426Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-with-dhcp-1","description":"","ip_id":"bac7f54a-cc43-446b-adb6-415ad892fe1b","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"9154cf08-a639-4958-bfa3-599802cc17bb","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bac7f54a-cc43-446b-adb6-415ad892fe1b","ip_address":"51.159.9.187","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"9154cf08-a639-4958-bfa3-599802cc17bb","reverse":"51-159-9-187.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-15T10:06:06.218561243Z","updated_at":"2021-11-15T10:06:06.218561243Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9154cf08-a639-4958-bfa3-599802cc17bb
    method: GET
  response:
    body: '{"id":"9154cf08-a639-4958-bfa3-599802cc17bb","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bac7f54a-cc43-446b-adb6-415ad892fe1b","ip_address":"51.159.9.187","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"9154cf08-a639-4958-bfa3-599802cc17bb","reverse":"51-159-9-187.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-15T10:06:06.218561Z","updated_at":"2021-11-15T10:06:06.218561Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9154cf08-a639-4958-bfa3-599802cc17bb/private-networks/6b19decc-7fb9-46f6-b6b3-f1c9f4700575/attach
    method: POST
  response:
    body: '{"lb":{"id":"9154cf08-a639-4958-bfa3-599802cc17bb","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"64bc195d-8525-489a-bdf1-35b0b6cec5d2","status":"ready","ip_address":"10.68.116.7","created_at":"2021-11-11T22:10:25.780185Z","updated_at":"2021-11-15T10:06:06.904298Z","region":"fr-par","zone":"fr-par-1"},{"id":"8bcd223d-68bf-4b87-849d-e650e1290aea","status":"ready","ip_address":"10.64.184.59","created_at":"2021-11-10T12:15:45.681246Z","updated_at":"2021-11-15T10:06:07.118937Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bac7f54a-cc43-446b-adb6-415ad892fe1b","ip_address":"51.159.9.187","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"9154cf08-a639-4958-bfa3-599802cc17bb","reverse":"51-159-9-187.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-15T10:06:06.218561Z","updated_at":"2021-11-15T10:06:07.390750Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"6b19decc-7fb9-46f6-b6b3-f1c9f4700575","status":"pending","created_at":"2021-11-15T10:06:36.668574507Z","updated_at":"2021-11-15T10:06:36.668574507Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9154cf08-a639-4958-bfa3-599802cc17bb/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"9154cf08-a639-4958-bfa3-599802cc17bb","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"bac7f54a-cc43-446b-adb6-415ad892fe1b","ip_address":"51.159.9.187","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"9154cf08-a639-4958-bfa3-599802cc17bb","reverse":"51-159-9-187.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-15T10:06:06.218561Z","updated_at":"2021-11-15T10:06:07.390750Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"6b19decc-7fb9-46f6-b6b3-f1c9f4700575","status":"pending","created_at":"2021-11-15T10:06:36.668575Z","updated_at":"2021-11-15T10:06:36.668575Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9154cf08-a639-4958-bfa3-599802cc17bb/private-networks/6b19decc-7fb9-46f6-b6b3-f1c9f4700575/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9154cf08-a639-4958-bfa3-599802cc17bb/private-networks/6b19decc-7fb9-46f6-b6b3-f1c9f4700575/attach
    method: POST
  response:
    body: '{"lb":{"id":"9154cf08-a639-4958-bfa3-599802cc17bb","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"64bc195d-8525-489a-bdf1-35b0b6cec5d2","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9154cf08-a639-4958-bfa3-599802cc17bb?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/9154cf08-a639-4958-bfa3-599802cc17bb
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
