---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"485d7163-e78a-4d60-a343-2bc646b68ae6","ip_address":"195.154.68.248","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-68-248.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"12e20026-e738-4318-8e8b-efe18b0f2cb1","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-04T10:46:38.424383Z","updated_at":"2021-11-04T10:46:38.424383Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/485d7163-e78a-4d60-a343-2bc646b68ae6
    method: GET
  response:
    body: '{"id":"485d7163-e78a-4d60-a343-2bc646b68ae6","ip_address":"195.154.68.248","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":null,"reverse":"195-154-68-248.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/12e20026-e738-4318-8e8b-efe18b0f2cb1
    method: GET
  response:
    body: '{"id":"12e20026-e738-4318-8e8b-efe18b0f2cb1","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-04T10:46:38.424383Z","updated_at":"2021-11-04T10:46:38.424383Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-lb-with-dhcp","description":"","ip_id":"485d7163-e78a-4d60-a343-2bc646b68ae6","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"f33250e6-f49d-491b-adbe-b056a45d713d","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"485d7163-e78a-4d60-a343-2bc646b68ae6","ip_address":"195.154.68.248","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f33250e6-f49d-491b-adbe-b056a45d713d","reverse":"195-154-68-248.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T10:46:38.706328418Z","updated_at":"2021-11-04T10:46:38.706328418Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f33250e6-f49d-491b-adbe-b056a45d713d
    method: GET
  response:
    body: '{"id":"f33250e6-f49d-491b-adbe-b056a45d713d","name":"test-lb-with-dhcp","description":"","status":"pending","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"485d7163-e78a-4d60-a343-2bc646b68ae6","ip_address":"195.154.68.248","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f33250e6-f49d-491b-adbe-b056a45d713d","reverse":"195-154-68-248.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T10:46:38.706328Z","updated_at":"2021-11-04T10:46:38.706328Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f33250e6-f49d-491b-adbe-b056a45d713d/private-networks/12e20026-e738-4318-8e8b-efe18b0f2cb1/attach
    method: POST
  response:
    body: '{"lb":{"id":"f33250e6-f49d-491b-adbe-b056a45d713d","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[{"id":"2192fb5f-ffd8-4de2-934a-993997af59b3","status":"ready","ip_address":"10.74.116.9","created_at":"2021-11-04T10:44:30.152207Z","updated_at":"2021-11-04T10:46:39.341700Z","region":"fr-par","zone":"fr-par-1"},{"id":"d08b8f52-c711-46dc-8cb9-ebb520abad40","status":"ready","ip_address":"10.74.88.27","created_at":"2021-11-04T10:43:57.421942Z","updated_at":"2021-11-04T10:46:39.768774Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"485d7163-e78a-4d60-a343-2bc646b68ae6","ip_address":"195.154.68.248","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f33250e6-f49d-491b-adbe-b056a45d713d","reverse":"195-154-68-248.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T10:46:38.706328Z","updated_at":"2021-11-04T10:46:40.087785Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"12e20026-e738-4318-8e8b-efe18b0f2cb1","status":"pending","created_at":"2021-11-04T10:47:09.180981372Z","updated_at":"2021-11-04T10:47:09.180981372Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f33250e6-f49d-491b-adbe-b056a45d713d/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"f33250e6-f49d-491b-adbe-b056a45d713d","name":"test-lb-with-dhcp","description":"","status":"ready","instances":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","ip":[{"id":"485d7163-e78a-4d60-a343-2bc646b68ae6","ip_address":"195.154.68.248","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","lb_id":"f33250e6-f49d-491b-adbe-b056a45d713d","reverse":"195-154-68-248.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2021-11-04T10:46:38.706328Z","updated_at":"2021-11-04T10:46:40.087785Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"12e20026-e738-4318-8e8b-efe18b0f2cb1","status":"pending","created_at":"2021-11-04T10:47:09.180981Z","updated_at":"2021-11-04T10:47:09.180981Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f33250e6-f49d-491b-adbe-b056a45d713d/private-networks/12e20026-e738-4318-8e8b-efe18b0f2cb1/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f33250e6-f49d-491b-adbe-b056a45d713d?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/f33250e6-f49d-491b-adbe-b056a45d713d
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/efb3e6a1-83ba-46ec-b6e1-8c61a4e78b08/private-networks/12e20026-e738-4318-8e8b-efe18b0f2cb1/attach
    method: POST
  response:
    body: '{"lb":{"id":"efb3e6a1-83ba-46ec-b6e1-8c61a4e78b08","name":"test-lb-with-static","description":"","status":"ready","instances":[{"id":"692933a7-bc3f-4693-b059-09da0def0bbd","status":"r[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/efb3e6a1-83ba-46ec-b6e1-8c61a4e78b08?release_ip=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
