---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"8981df38-e2b6-433e-960d-09c57867398c","ip_address":"51.159.204.2","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/8981df38-e2b6-433e-960d-09c57867398c
    method: GET
  response:
    body: '{"id":"8981df38-e2b6-433e-960d-09c57867398c","ip_address":"51.159.204.2","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-2.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-16T14:22:16.473431Z","id":"183843f0-777c-449a-9e60-3016b41659cb","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.72.0/22","fd46:78ab:30b8:167e::/64"],"tags":[],"updated_at":"2023-05-16T14:22:16.473431Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/183843f0-777c-449a-9e60-3016b41659cb
    method: GET
  response:
    body: '{"created_at":"2023-05-16T14:22:16.473431Z","id":"183843f0-777c-449a-9e60-3016b41659cb","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.72.0/22","fd46:78ab:30b8:167e::/64"],"tags":[],"updated_at":"2023-05-16T14:22:16.473431Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"8981df38-e2b6-433e-960d-09c57867398c","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-05-16T14:22:16.688511431Z","description":"","frontend_count":0,"id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","instances":[],"ip":[{"id":"8981df38-e2b6-433e-960d-09c57867398c","ip_address":"51.159.204.2","lb_id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-16T14:22:16.688511431Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b400c2ed-2adc-4358-8f25-ae71992bb4e2
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-05-16T14:22:16.688511Z","description":"","frontend_count":0,"id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","instances":[{"created_at":"2023-05-16T14:18:53.908099Z","id":"8c05b5fe-d346-430d-b3d5-91c77d16c5fa","ip_address":"10.71.48.11","region":"fr-par","status":"unknown","updated_at":"2023-05-16T14:22:16.926840Z","zone":"fr-par-1"}],"ip":[{"id":"8981df38-e2b6-433e-960d-09c57867398c","ip_address":"51.159.204.2","lb_id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"creating","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-16T14:22:16.943911Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b400c2ed-2adc-4358-8f25-ae71992bb4e2/private-networks/183843f0-777c-449a-9e60-3016b41659cb/attach
    method: POST
  response:
    body: '{"created_at":"2023-05-16T14:22:47.236235644Z","lb":{"backend_count":0,"created_at":"2023-05-16T14:22:16.688511Z","description":"","frontend_count":0,"id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","instances":[{"created_at":"2023-05-16T14:18:53.908099Z","id":"8c05b5fe-d346-430d-b3d5-91c77d16c5fa","ip_address":"10.71.48.11","region":"fr-par","status":"ready","updated_at":"2023-05-16T14:22:17.462239Z","zone":"fr-par-1"}],"ip":[{"id":"8981df38-e2b6-433e-960d-09c57867398c","ip_address":"51.159.204.2","lb_id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-16T14:22:18.783128Z","zone":"fr-par-1"},"private_network_id":"183843f0-777c-449a-9e60-3016b41659cb","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-16T14:22:47.236235644Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b400c2ed-2adc-4358-8f25-ae71992bb4e2/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-05-16T14:22:47.236236Z","lb":{"backend_count":0,"created_at":"2023-05-16T14:22:16.688511Z","description":"","frontend_count":0,"id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","instances":[],"ip":[{"id":"8981df38-e2b6-433e-960d-09c57867398c","ip_address":"51.159.204.2","lb_id":"b400c2ed-2adc-4358-8f25-ae71992bb4e2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"51-159-204-2.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-05-16T14:22:18.783128Z","zone":"fr-par-1"},"private_network_id":"183843f0-777c-449a-9e60-3016b41659cb","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-05-16T14:22:47.236236Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b400c2ed-2adc-4358-8f25-ae71992bb4e2/private-networks/183843f0-777c-449a-9e60-3016b41659cb/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b400c2ed-2adc-4358-8f25-ae71992bb4e2?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/b400c2ed-2adc-4358-8f25-ae71992bb4e2
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
