---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"cd61415c-d3be-45ed-b123-9396ad757677","ip_address":"195.154.70.173","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-70-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-lb-with-pn-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-10T17:21:39.040746Z","updated_at":"2022-01-10T17:21:39.040746Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/cd61415c-d3be-45ed-b123-9396ad757677
    method: GET
  response:
    body: '{"id":"cd61415c-d3be-45ed-b123-9396ad757677","ip_address":"195.154.70.173","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":null,"reverse":"195-154-70-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15
    method: GET
  response:
    body: '{"id":"06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15","name":"test-lb-with-pn-dhcp","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-10T17:21:39.040746Z","updated_at":"2022-01-10T17:21:39.040746Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-lb-with-dhcp-1","description":"","ip_id":"cd61415c-d3be-45ed-b123-9396ad757677","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_unknown"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"id":"ab69efc3-599e-41da-8e64-42156a0022ec","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cd61415c-d3be-45ed-b123-9396ad757677","ip_address":"195.154.70.173","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"ab69efc3-599e-41da-8e64-42156a0022ec","reverse":"195-154-70-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.335210400Z","updated_at":"2022-01-10T17:21:39.335210400Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab69efc3-599e-41da-8e64-42156a0022ec
    method: GET
  response:
    body: '{"id":"ab69efc3-599e-41da-8e64-42156a0022ec","name":"test-lb-with-dhcp-1","description":"","status":"pending","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cd61415c-d3be-45ed-b123-9396ad757677","ip_address":"195.154.70.173","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"ab69efc3-599e-41da-8e64-42156a0022ec","reverse":"195-154-70-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.335210Z","updated_at":"2022-01-10T17:21:39.335210Z","private_network_count":0,"route_count":0,"region":"fr-par","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"dhcp_config":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab69efc3-599e-41da-8e64-42156a0022ec/private-networks/06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15/attach
    method: POST
  response:
    body: '{"lb":{"id":"ab69efc3-599e-41da-8e64-42156a0022ec","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[{"id":"2e9eaed9-9a6f-49d2-8666-1738eb3c0d2b","status":"ready","ip_address":"10.64.0.31","created_at":"2022-01-10T14:53:47.461573Z","updated_at":"2022-01-10T17:21:40.860402Z","region":"fr-par","zone":"fr-par-1"},{"id":"9047d4da-233e-46e3-8c23-5ee518a2074f","status":"ready","ip_address":"10.69.130.115","created_at":"2022-01-10T15:47:37.473938Z","updated_at":"2022-01-10T17:21:41.456232Z","region":"fr-par","zone":"fr-par-1"}],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cd61415c-d3be-45ed-b123-9396ad757677","ip_address":"195.154.70.173","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"ab69efc3-599e-41da-8e64-42156a0022ec","reverse":"195-154-70-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.335210Z","updated_at":"2022-01-10T17:21:41.863320Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15","status":"pending","created_at":"2022-01-10T17:22:09.856588744Z","updated_at":"2022-01-10T17:22:09.856588744Z","dhcp_config":{}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab69efc3-599e-41da-8e64-42156a0022ec/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"lb":{"id":"ab69efc3-599e-41da-8e64-42156a0022ec","name":"test-lb-with-dhcp-1","description":"","status":"ready","instances":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","ip":[{"id":"cd61415c-d3be-45ed-b123-9396ad757677","ip_address":"195.154.70.173","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","lb_id":"ab69efc3-599e-41da-8e64-42156a0022ec","reverse":"195-154-70-173.lb.fr-par.scw.cloud","region":"fr-par","zone":"fr-par-1"}],"tags":[],"frontend_count":0,"backend_count":0,"type":"lb-s","subscriber":null,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","created_at":"2022-01-10T17:21:39.335210Z","updated_at":"2022-01-10T17:21:41.863320Z","private_network_count":1,"route_count":0,"region":"fr-par","zone":"fr-par-1"},"private_network_id":"06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15","status":"pending","created_at":"2022-01-10T17:22:09.856589Z","updated_at":"2022-01-10T17:22:09.856589Z","dhcp_config":{}}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab69efc3-599e-41da-8e64-42156a0022ec/private-networks/06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100","172.16.0.101"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab69efc3-599e-41da-8e64-42156a0022ec/private-networks/06aecd28-a8d2-4e34-9f8c-7bbe6ad38c15/attach
    method: POST
  response:
    body: '{"lb":{"id":"ab69efc3-599e-41da-8e64-42156a0022ec","name":"test-lb-with-pn-static-2","description":"","status":"ready","instances":[{"id":"2e9eaed9-9a6f-49d2-8666-1738eb3c0d2b","statu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab69efc3-599e-41da-8e64-42156a0022ec?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/ab69efc3-599e-41da-8e64-42156a0022ec
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
