---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"387eed96-3f8c-468b-b8f4-16e97fecdebc","ip_address":"195.154.70.26","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-26.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn-with-lb-static","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-01-10T17:05:59.442881Z","id":"b1a6461f-9e36-405f-9d63-435afe162094","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"tags":[],"updated_at":"2023-01-10T17:05:59.442881Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/ips/387eed96-3f8c-468b-b8f4-16e97fecdebc
    method: GET
  response:
    body: '{"id":"387eed96-3f8c-468b-b8f4-16e97fecdebc","ip_address":"195.154.70.26","lb_id":null,"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-26.lb.fr-par.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b1a6461f-9e36-405f-9d63-435afe162094
    method: GET
  response:
    body: '{"created_at":"2023-01-10T17:05:59.442881Z","id":"b1a6461f-9e36-405f-9d63-435afe162094","name":"pn-with-lb-static","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":[],"tags":[],"updated_at":"2023-01-10T17:05:59.442881Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-lb-with-pn-static-2","description":"","ip_id":"387eed96-3f8c-468b-b8f4-16e97fecdebc","tags":null,"type":"LB-S","ssl_compatibility_level":"ssl_compatibility_level_intermediate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs
    method: POST
  response:
    body: '{"backend_count":0,"created_at":"2023-01-10T17:05:59.660021532Z","description":"","frontend_count":0,"id":"947c731f-2039-4652-913f-68d76c068576","instances":[],"ip":[{"id":"387eed96-3f8c-468b-b8f4-16e97fecdebc","ip_address":"195.154.70.26","lb_id":"947c731f-2039-4652-913f-68d76c068576","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-26.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-01-10T17:05:59.660021532Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/947c731f-2039-4652-913f-68d76c068576
    method: GET
  response:
    body: '{"backend_count":0,"created_at":"2023-01-10T17:05:59.660022Z","description":"","frontend_count":0,"id":"947c731f-2039-4652-913f-68d76c068576","instances":[],"ip":[{"id":"387eed96-3f8c-468b-b8f4-16e97fecdebc","ip_address":"195.154.70.26","lb_id":"947c731f-2039-4652-913f-68d76c068576","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-26.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"to_create","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-01-10T17:05:59.660022Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"static_config":{"ip_address":["172.16.0.100"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/947c731f-2039-4652-913f-68d76c068576/private-networks/b1a6461f-9e36-405f-9d63-435afe162094/attach
    method: POST
  response:
    body: '{"created_at":"2023-01-10T17:06:30.137246323Z","lb":{"backend_count":0,"created_at":"2023-01-10T17:05:59.660022Z","description":"","frontend_count":0,"id":"947c731f-2039-4652-913f-68d76c068576","instances":[{"created_at":"2023-01-10T17:04:12.247204Z","id":"2cdb2d09-91ed-41a3-9a7a-bb9c375fb805","ip_address":"10.73.92.123","region":"fr-par","status":"ready","updated_at":"2023-01-10T17:06:00.251721Z","zone":"fr-par-1"}],"ip":[{"id":"387eed96-3f8c-468b-b8f4-16e97fecdebc","ip_address":"195.154.70.26","lb_id":"947c731f-2039-4652-913f-68d76c068576","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-26.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-01-10T17:06:00.812006Z","zone":"fr-par-1"},"private_network_id":"b1a6461f-9e36-405f-9d63-435afe162094","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-01-10T17:06:30.137246323Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/947c731f-2039-4652-913f-68d76c068576/private-networks?order_by=created_at_asc
    method: GET
  response:
    body: '{"private_network":[{"created_at":"2023-01-10T17:06:30.137246Z","lb":{"backend_count":0,"created_at":"2023-01-10T17:05:59.660022Z","description":"","frontend_count":0,"id":"947c731f-2039-4652-913f-68d76c068576","instances":[],"ip":[{"id":"387eed96-3f8c-468b-b8f4-16e97fecdebc","ip_address":"195.154.70.26","lb_id":"947c731f-2039-4652-913f-68d76c068576","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","reverse":"195-154-70-26.lb.fr-par.scw.cloud","zone":"fr-par-1"}],"name":"test-lb-with-pn-static-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","route_count":0,"ssl_compatibility_level":"ssl_compatibility_level_intermediate","status":"ready","subscriber":null,"tags":[],"type":"lb-s","updated_at":"2023-01-10T17:06:00.812006Z","zone":"fr-par-1"},"private_network_id":"b1a6461f-9e36-405f-9d63-435afe162094","static_config":{"ip_address":["172.16.0.100"]},"status":"pending","updated_at":"2023-01-10T17:06:30.137246Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/947c731f-2039-4652-913f-68d76c068576/private-networks/ec6c452c-06d2-499a-a967-7e724998b355/detach
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/947c731f-2039-4652-913f-68d76c068576?release_ip=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-1/lbs/947c731f-2039-4652-913f-68d76c068576
    method: GET
  response:
    body: '{"message":"lbs not Found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
