---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","reverse":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips
    method: POST
  response:
    body: '{"id":"219a5e42-9bc6-4d1e-a33a-9c59de54e758","ip_address":"51.159.87.170","lb_id":null,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","reverse":"51-159-87-170.lb.fr-par.scw.cloud","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/lb/v1/zones/fr-par-2/ips/219a5e42-9bc6-4d1e-a33a-9c59de54e758
    method: GET
  response:
    body: '{"id":"219a5e42-9bc6-4d1e-a33a-9c59de54e758","ip_address":"51.159.87.170","lb_id":null,"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","reverse":"51-159-87-170.lb.fr-par.scw.cloud","zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
