---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-sqs-basic","protocol":"sqs_sns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-05-04T09:39:14.382308745Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-04T09:39:14.382308745Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM
    method: GET
  response:
    body: '{"created_at":"2023-05-04T09:39:14.382308Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-04T09:39:14.382308Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM","name":"test-queue-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"624fca5c-4653-4c60-a1fd-18e3e7fb1acc","name":"test-queue-sqs-basic","namespace_id":"ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"QkhHnZRGy9x9Tj96ZljH","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"OoQnQIhEJHwBhYrYG8uPcBxwkOPYio9JNfKzfiwwoPn7G2RN0bjEPtaceZT2LM5A"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/624fca5c-4653-4c60-a1fd-18e3e7fb1acc
    method: GET
  response:
    body: '{"id":"624fca5c-4653-4c60-a1fd-18e3e7fb1acc","name":"test-queue-sqs-basic","namespace_id":"ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"QkhHnZRGy9x9Tj96ZljH","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=2048&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=86400&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "2048"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "86400"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230504T093915Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM/terraform-example-queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>tx6acfd850-c051-43b9-81b9-b97fe3184df3</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230504T093916Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM/terraform-example-queue</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>txce23873f-cea8-470c-b322-24795a8c3c99</RequestId></ResponseMetadata></GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=ContentBasedDeduplication&AttributeName.4=ReceiveMessageWaitTimeSeconds&AttributeName.5=VisibilityTimeout&AttributeName.6=FifoQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - ContentBasedDeduplication
      AttributeName.4:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.5:
      - VisibilityTimeout
      AttributeName.6:
      - FifoQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230504T093916Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>MaximumMessageSize</Name><Value>2048</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>86400</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>tx4eb4b665-5f3e-43a9-8561-24cb48bf44a0</RequestId></ResponseMetadata></GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230504T093919Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>tx8326580f-d845-4442-a012-a7cdce9c2ec1</RequestId></ResponseMetadata></DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230504T093919Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <ErrorResponse xmlns=""><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
      queue &#34;terraform-example-queue&#34; does not exist.</Message></Error><RequestId>tx71e594b3-41a4-441b-ac19-4f18f9f50b48</RequestId></ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ADFOZKFAIOT7ZTF2ALRAC2SPOUIG7S3I3L2OVIWQIVBS6WDTRI466VLM","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
