---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_namespace_basic_1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-09-04T09:06:39.913689Z","description":"","id":"520d5ec1-e928-4458-b560-a46632381442","name":"tf_tests_mnq_namespace_basic_1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T09:06:39.913689Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/520d5ec1-e928-4458-b560-a46632381442
    method: GET
  response:
    body: '{"created_at":"2023-09-04T09:06:39.913689Z","description":"","id":"520d5ec1-e928-4458-b560-a46632381442","name":"tf_tests_mnq_namespace_basic_1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T09:06:39.913689Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"main","protocol":"nats","project_id":"520d5ec1-e928-4458-b560-a46632381442"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-04T09:06:40.297759241Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ABNGIS57BZWKV26C2EOQZMQZUIEB7PQYJ3V3Y2LCV5Y7ZU4K5R7P5RBJ","name":"main","project_id":"520d5ec1-e928-4458-b560-a46632381442","protocol":"nats","region":"fr-par","updated_at":"2023-09-04T09:06:40.297759241Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABNGIS57BZWKV26C2EOQZMQZUIEB7PQYJ3V3Y2LCV5Y7ZU4K5R7P5RBJ
    method: GET
  response:
    body: '{"created_at":"2023-09-04T09:06:40.297759Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ABNGIS57BZWKV26C2EOQZMQZUIEB7PQYJ3V3Y2LCV5Y7ZU4K5R7P5RBJ","name":"main","project_id":"520d5ec1-e928-4458-b560-a46632381442","protocol":"nats","region":"fr-par","updated_at":"2023-09-04T09:06:40.297759Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABCJLWQFMRCCWIMQHWTPZZKSSRLHH3POYNYH36MSPYO3DTBTEKK5C6LU
    method: GET
  response:
    body: '{"created_at":"2023-09-04T09:06:44.029716Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ABCJLWQFMRCCWIMQHWTPZZKSSRLHH3POYNYH36MSPYO3DTBTEKK5C6LU","name":"tf-ns-dazzling-solomon","project_id":"520d5ec1-e928-4458-b560-a46632381442","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T09:06:44.029716Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABCJLWQFMRCCWIMQHWTPZZKSSRLHH3POYNYH36MSPYO3DTBTEKK5C6LU
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ABCJLWQFMRCCWIMQHWTPZZKSSRLHH3POYNYH36MSPYO3DTBTEKK5C6LU","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
