---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-ns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"region":"fr-par","id":"AC7HLBPYRAJZE6LTNWU2QM3NPP2UU7GUGOXKNN33LXNKRIFFFG2HMQYN","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mnq-ns","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","created_at":"2022-12-01T10:15:14.584612602Z","updated_at":"2022-12-01T10:15:14.584612602Z","protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AC7HLBPYRAJZE6LTNWU2QM3NPP2UU7GUGOXKNN33LXNKRIFFFG2HMQYN
    method: GET
  response:
    body: '{"region":"fr-par","id":"AC7HLBPYRAJZE6LTNWU2QM3NPP2UU7GUGOXKNN33LXNKRIFFFG2HMQYN","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mnq-ns","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","created_at":"2022-12-01T10:15:14.584612Z","updated_at":"2022-12-01T10:15:14.584612Z","protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"AC7HLBPYRAJZE6LTNWU2QM3NPP2UU7GUGOXKNN33LXNKRIFFFG2HMQYN","name":"test-mnq-ns-updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: PATCH
  response:
    body: '{"region":"fr-par","id":"AC7HLBPYRAJZE6LTNWU2QM3NPP2UU7GUGOXKNN33LXNKRIFFFG2HMQYN","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-mnq-ns-updated","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","created_at":"2022-12-01T10:15:14.584612Z","updated_at":"2022-12-01T10:15:17.643020289Z","protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABGOLHSZ4GCS2S775HI2H7RPDA6XPGW67RIXAH3LCCBCBSI2ANYSQBUS
    method: GET
  response:
    body: '{"region":"fr-par","id":"ABGOLHSZ4GCS2S775HI2H7RPDA6XPGW67RIXAH3LCCBCBSI2ANYSQBUS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-ns-romantic-black","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","created_at":"2022-12-01T10:15:24.534438Z","updated_at":"2022-12-01T10:15:24.534438Z","protocol":"sqs_sns"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABGOLHSZ4GCS2S775HI2H7RPDA6XPGW67RIXAH3LCCBCBSI2ANYSQBUS
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ABGOLHSZ4GCS2S775HI2H7RPDA6XPGW67RIXAH3LCCBCBSI2ANYSQBUS","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
