---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_basic_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:38:43.035542Z","description":"","id":"3ca1adf3-5975-411d-ad74-09e060da85d3","name":"tf_tests_mnq_basic_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:38:43.035542Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/3ca1adf3-5975-411d-ad74-09e060da85d3
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:38:43.035542Z","description":"","id":"3ca1adf3-5975-411d-ad74-09e060da85d3","name":"tf_tests_mnq_basic_sqs","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:38:43.035542Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"main","protocol":"sqs_sns","project_id":"3ca1adf3-5975-411d-ad74-09e060da85d3"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:38:43.324690754Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN","name":"main","project_id":"3ca1adf3-5975-411d-ad74-09e060da85d3","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T08:38:43.324690754Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:38:43.324690Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN","name":"main","project_id":"3ca1adf3-5975-411d-ad74-09e060da85d3","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T08:38:43.324690Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN","name":"test-queue-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"de8988fa-f4f2-45b3-84aa-9c98d32ba077","name":"test-queue-sqs-basic","namespace_id":"AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"QHPNpA1AoADhQJZcGkCU","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"ZGkvIzrEU1mm6LPgiKAjeAnUd1YPXHllsRtZXAJDepbpttfxIxzDBpgl49v08gaj"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/de8988fa-f4f2-45b3-84aa-9c98d32ba077
    method: GET
  response:
    body: '{"id":"de8988fa-f4f2-45b3-84aa-9c98d32ba077","name":"test-queue-sqs-basic","namespace_id":"AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"QHPNpA1AoADhQJZcGkCU","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=2048&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=86400&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "2048"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "86400"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T083844Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN/terraform-example-queue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>txd611753b-e3df-4e57-b286-ceb2fb06fe03</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T083845Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN/terraform-example-queue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx6d78e9e4-e977-4037-9e54-c399bf85348c</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=VisibilityTimeout&AttributeName.2=MaximumMessageSize&AttributeName.3=MessageRetentionPeriod&AttributeName.4=FifoQueue&AttributeName.5=ContentBasedDeduplication&AttributeName.6=ReceiveMessageWaitTimeSeconds&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FAARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - VisibilityTimeout
      AttributeName.2:
      - MaximumMessageSize
      AttributeName.3:
      - MessageRetentionPeriod
      AttributeName.4:
      - FifoQueue
      AttributeName.5:
      - ContentBasedDeduplication
      AttributeName.6:
      - ReceiveMessageWaitTimeSeconds
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T083845Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>2048</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>86400</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx9850b331-eead-4973-b06a-c5c2f0e7d7f5</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FAARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T083847Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx57a050ae-97bc-4b55-b139-e84d3eeb0b2c</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230904T083847Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;terraform-example-queue&#34; does not exist.</Message>
          </Error>
          <RequestId>tx2b88e5d2-214f-4cc4-a295-e6d205db41d2</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"AARKSNYHK4I7Z6ACLMVKIQ6QDJJXJD5MGEP4DTOWFYIJVDW3HGQ6AREN","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
