---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-sqs-basic","protocol":"sqs_sns","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-04-11T09:33:27.562804406Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACEBUXQXOJ6S7GAZBZW6T434RYJL4Q6RMGCOVORI6KY2QCPZC5CFOIQP","name":"test-mnq-sqs-basic","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-04-11T09:33:27.562804406Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACEBUXQXOJ6S7GAZBZW6T434RYJL4Q6RMGCOVORI6KY2QCPZC5CFOIQP
    method: GET
  response:
    body: '{"created_at":"2023-04-11T09:33:27.562804Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACEBUXQXOJ6S7GAZBZW6T434RYJL4Q6RMGCOVORI6KY2QCPZC5CFOIQP","name":"test-mnq-sqs-basic","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-04-11T09:33:27.562804Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACEBUXQXOJ6S7GAZBZW6T434RYJL4Q6RMGCOVORI6KY2QCPZC5CFOIQP","name":"test-creed-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"1e8a817b-bdab-4353-b317-406bdfc46c96","name":"test-creed-sqs-basic","namespace_id":"ACEBUXQXOJ6S7GAZBZW6T434RYJL4Q6RMGCOVORI6KY2QCPZC5CFOIQP","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"40UGk0cA3W6XJI2lEBap","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"0Xa0YZBL85YV3wS1yeNpuGFp4pY8N6fdDFMs5v9wji5RgZAkZuu8LsxFK3sdPUA5"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/1e8a817b-bdab-4353-b317-406bdfc46c96
    method: GET
  response:
    body: '{"id":"1e8a817b-bdab-4353-b317-406bdfc46c96","name":"test-creed-sqs-basic","namespace_id":"ACEBUXQXOJ6S7GAZBZW6T434RYJL4Q6RMGCOVORI6KY2QCPZC5CFOIQP","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"40UGk0cA3W6XJI2lEBap","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=CreateQueue&Attribute.1.Name=DelaySeconds&Attribute.1.Value=90&Attribute.2.Name=MaximumMessageSize&Attribute.2.Value=2048&Attribute.3.Name=MessageRetentionPeriod&Attribute.3.Value=86400&Attribute.4.Name=ReceiveMessageWaitTimeSeconds&Attribute.4.Value=10&Attribute.5.Name=RedrivePolicy&Attribute.5.Value=%7B%22maxReceiveCount%22%3A4%7D&Attribute.6.Name=VisibilityTimeout&Attribute.6.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - DelaySeconds
      Attribute.1.Value:
      - "90"
      Attribute.2.Name:
      - MaximumMessageSize
      Attribute.2.Value:
      - "2048"
      Attribute.3.Name:
      - MessageRetentionPeriod
      Attribute.3.Value:
      - "86400"
      Attribute.4.Name:
      - ReceiveMessageWaitTimeSeconds
      Attribute.4.Value:
      - "10"
      Attribute.5.Name:
      - RedrivePolicy
      Attribute.5.Value:
      - '{"maxReceiveCount":4}'
      Attribute.6.Name:
      - VisibilityTimeout
      Attribute.6.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230411T093456Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <ErrorResponse xmlns=""><Error><Type>Sender</Type><Code>AccessDeniedException</Code><Message>You
      do not have sufficient access to perform this action.</Message></Error><RequestId>tx55ac7d75-f0ff-44aa-9b91-cc2d8501f8e5</RequestId></ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/1e8a817b-bdab-4353-b317-406bdfc46c96
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"1e8a817b-bdab-4353-b317-406bdfc46c96","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
