---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-sqs","protocol":"sqs_sns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-01-04T17:47:18.962827077Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACKYPWY6BIMJHXVFWZRBB2GF5YT6BHVGEVXTWOS5F7BO6VKFALUAST2Z","name":"test-mnq-sqs","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-01-04T17:47:18.962827077Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACKYPWY6BIMJHXVFWZRBB2GF5YT6BHVGEVXTWOS5F7BO6VKFALUAST2Z
    method: GET
  response:
    body: '{"created_at":"2023-01-04T17:47:18.962827Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACKYPWY6BIMJHXVFWZRBB2GF5YT6BHVGEVXTWOS5F7BO6VKFALUAST2Z","name":"test-mnq-sqs","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-01-04T17:47:18.962827Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACKYPWY6BIMJHXVFWZRBB2GF5YT6BHVGEVXTWOS5F7BO6VKFALUAST2Z","name":"test-creed-sqs","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"0615d0e2-9024-4c00-888e-44c521a9a9de","name":"test-creed-sqs","namespace_id":"ACKYPWY6BIMJHXVFWZRBB2GF5YT6BHVGEVXTWOS5F7BO6VKFALUAST2Z","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"L5t4Vq6uz7z8qcbIse2f","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"yYooZm0OWwSI6XyNQGMoU5AENANFm6cJeM0JBKxeb61iQBFv2mhTdj4zIqZ4Nsz7"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/0615d0e2-9024-4c00-888e-44c521a9a9de
    method: GET
  response:
    body: '{"id":"0615d0e2-9024-4c00-888e-44c521a9a9de","name":"test-creed-sqs","namespace_id":"ACKYPWY6BIMJHXVFWZRBB2GF5YT6BHVGEVXTWOS5F7BO6VKFALUAST2Z","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"L5t4Vq6uz7z8qcbIse2f","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/0615d0e2-9024-4c00-888e-44c521a9a9de
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"0615d0e2-9024-4c00-888e-44c521a9a9de","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
