---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-sqs-basic","protocol":"sqs_sns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-05-03T12:38:05.014144771Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-03T12:38:05.014144771Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5
    method: GET
  response:
    body: '{"created_at":"2023-05-03T12:38:05.014144Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-03T12:38:05.014144Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5","name":"test-queue-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"a27b12a4-03ff-4bd1-9fe3-46893318c80b","name":"test-queue-sqs-basic","namespace_id":"ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"mQYuToW7dFNtED54k2zK","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"xbXh4Feys6M83Tir1HRcObbjuq5dd3nxOTRiMLYcbk4497rj4t6sk7BFvDH02nx3"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/a27b12a4-03ff-4bd1-9fe3-46893318c80b
    method: GET
  response:
    body: '{"id":"a27b12a4-03ff-4bd1-9fe3-46893318c80b","name":"test-queue-sqs-basic","namespace_id":"ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"mQYuToW7dFNtED54k2zK","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=2048&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=86400&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "2048"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "86400"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230503T123806Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5/terraform-example-queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>txde6a0e26-975b-4d02-80ef-9159207ccc76</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230503T123806Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5/terraform-example-queue</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>txb7133df8-1d58-4901-aa05-1dd274018f61</RequestId></ResponseMetadata></GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=VisibilityTimeout&AttributeName.2=FifoQueue&AttributeName.3=MaximumMessageSize&AttributeName.4=MessageRetentionPeriod&AttributeName.5=ContentBasedDeduplication&AttributeName.6=ReceiveMessageWaitTimeSeconds&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - VisibilityTimeout
      AttributeName.2:
      - FifoQueue
      AttributeName.3:
      - MaximumMessageSize
      AttributeName.4:
      - MessageRetentionPeriod
      AttributeName.5:
      - ContentBasedDeduplication
      AttributeName.6:
      - ReceiveMessageWaitTimeSeconds
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230503T123806Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute><Attribute><Name>MaximumMessageSize</Name><Value>2048</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>86400</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>txdea864b1-bc77-4048-970f-c9286973d4aa</RequestId></ResponseMetadata></GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230503T123809Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>txa70302a8-7aaf-45d1-baae-a79daa50ff84</RequestId></ResponseMetadata></DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230503T123809Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <ErrorResponse xmlns=""><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
      queue &#34;terraform-example-queue&#34; does not exist.</Message></Error><RequestId>txadf81afc-932d-462d-b2ca-7b8134ab44f6</RequestId></ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ABCPDL3J7TEUHMZXBVZ3FV2SMEM4JRPXUF4Y4CBNY45DV7JVL4T5GUZ5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
