---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-creds-basic-1","protocol":"nats","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-01T08:21:59.663733809Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"AC4BHDM36LW7VKSWR3HZWGH7OZI6N27OSGIB6XSXEEORCEOMLULBNZDF","name":"test-mnq-creds-basic-1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats","region":"fr-par","updated_at":"2023-09-01T08:21:59.663733809Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AC4BHDM36LW7VKSWR3HZWGH7OZI6N27OSGIB6XSXEEORCEOMLULBNZDF
    method: GET
  response:
    body: '{"created_at":"2023-09-01T08:21:59.663733Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"AC4BHDM36LW7VKSWR3HZWGH7OZI6N27OSGIB6XSXEEORCEOMLULBNZDF","name":"test-mnq-creds-basic-1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats","region":"fr-par","updated_at":"2023-09-01T08:21:59.663733Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"AC4BHDM36LW7VKSWR3HZWGH7OZI6N27OSGIB6XSXEEORCEOMLULBNZDF","name":"test-creed-ns","permissions":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"fa8ab7fb-5c11-4493-9f7d-27b0f76b96e9","name":"test-creed-ns","namespace_id":"AC4BHDM36LW7VKSWR3HZWGH7OZI6N27OSGIB6XSXEEORCEOMLULBNZDF","nats_credentials":{"content":"-----BEGIN
      NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiI3RFBZNkMzNVg1SFpSTk5aRVZZQ1BUWk80NDNONjJWUUJGM0Y1SFVVRVpOTlVFWjVNRk1RIiwiaWF0IjoxNjkzNTU2NTIwLCJpc3MiOiJBRFVWWlNTU0dQV0lCRjJPVUdNM0FQNjZNTktNQTZZUFM1S0VCM1czUTdJWFlXNFpHNTVYT1BWTCIsIm5hbWUiOiJ0ZXN0LWNyZWVkLW5zIiwic3ViIjoiVUNOQ0JERksyQlNUM05QQU4zSVlNWk1DWlJEUVFFNEJIRjdLU09UVUtXTE5BVkZJU09MUUpPS04iLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUM0QkhETTM2TFc3VktTV1IzSFpXR0g3T1pJNk4yN09TR0lCNlhTWEVFT1JDRU9NTFVMQk5aREYiLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.1GQG1MkV8JE-BlzP-2hUk5rxEIHjKsDigf4VkTDnIKLAwPoOTBQW9WREKg_D_sOGzIBzEeS0qJnSJyA9XD-BCQ\n------END
      NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY
      Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive
      and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAH6Q5DZSP6SS44T5XYPYQJ3JWX7TPJXPOF5W2DAYBD5K4YK4NCGXF2P4\n------END
      USER NKEY SEED------\n\n*************************************************************\n"},"protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/fa8ab7fb-5c11-4493-9f7d-27b0f76b96e9
    method: GET
  response:
    body: '{"id":"fa8ab7fb-5c11-4493-9f7d-27b0f76b96e9","name":"test-creed-ns","namespace_id":"AC4BHDM36LW7VKSWR3HZWGH7OZI6N27OSGIB6XSXEEORCEOMLULBNZDF","protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AAJOSVRUAXA23OYNEG3524YAD3GGSTKGUQ5XDEVANUG6QXMXRPUFIHYR
    method: GET
  response:
    body: '{"created_at":"2023-09-01T08:22:04.933660Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AAJOSVRUAXA23OYNEG3524YAD3GGSTKGUQ5XDEVANUG6QXMXRPUFIHYR","name":"test-mnq-creds-basic-2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-01T08:22:04.933660Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"AAJOSVRUAXA23OYNEG3524YAD3GGSTKGUQ5XDEVANUG6QXMXRPUFIHYR","name":"test-creed-sqs","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"e0bf3b92-51ab-4bbf-98d9-1cfa9d30c1b6","name":"test-creed-sqs","namespace_id":"AAJOSVRUAXA23OYNEG3524YAD3GGSTKGUQ5XDEVANUG6QXMXRPUFIHYR","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"KGoUxyuStOYeaZNI3tly","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"B4zaMtV0zPelXR46LoOi1TWAOP4YTengMbazyPhUT5mDNFoZtertU6bpUGZNH1JB"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/e0bf3b92-51ab-4bbf-98d9-1cfa9d30c1b6
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"e0bf3b92-51ab-4bbf-98d9-1cfa9d30c1b6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
