---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-sqs-basic","protocol":"sqs_sns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-04-19T16:08:20.698172446Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-04-19T16:08:20.698172446Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW
    method: GET
  response:
    body: '{"created_at":"2023-04-19T16:08:20.698172Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-04-19T16:08:20.698172Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW","name":"test-queue-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"fa192b3a-3bba-4fc2-9de7-1020fe61fe4a","name":"test-queue-sqs-basic","namespace_id":"AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"onHB608Hr2VECvXYSXaa","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"4395wLrkt67QsMRK7T8VfICtm1jKoodKtKycRuNz1Qxjsc82Nilp12VEqJsmoeBL"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/fa192b3a-3bba-4fc2-9de7-1020fe61fe4a
    method: GET
  response:
    body: '{"id":"fa192b3a-3bba-4fc2-9de7-1020fe61fe4a","name":"test-queue-sqs-basic","namespace_id":"AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"onHB608Hr2VECvXYSXaa","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=ContentBasedDeduplication&Attribute.1.Value=false&Attribute.2.Name=FifoQueue&Attribute.2.Value=false&Attribute.3.Name=MaximumMessageSize&Attribute.3.Value=2048&Attribute.4.Name=MessageRetentionPeriod&Attribute.4.Value=86400&Attribute.5.Name=ReceiveMessageWaitTimeSeconds&Attribute.5.Value=0&Attribute.6.Name=VisibilityTimeout&Attribute.6.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - ContentBasedDeduplication
      Attribute.1.Value:
      - "false"
      Attribute.2.Name:
      - FifoQueue
      Attribute.2.Value:
      - "false"
      Attribute.3.Name:
      - MaximumMessageSize
      Attribute.3.Value:
      - "2048"
      Attribute.4.Name:
      - MessageRetentionPeriod
      Attribute.4.Value:
      - "86400"
      Attribute.5.Name:
      - ReceiveMessageWaitTimeSeconds
      Attribute.5.Value:
      - "0"
      Attribute.6.Name:
      - VisibilityTimeout
      Attribute.6.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230419T160822Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW/terraform-example-queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>tx0bb06b6a-b7d2-4133-8df6-c19bd546b6ca</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230419T160823Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW/terraform-example-queue</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>txbceeab3b-e7a7-4a43-a09c-c0ef4a9490a4</RequestId></ResponseMetadata></GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=FifoQueue&AttributeName.2=ContentBasedDeduplication&AttributeName.3=MaximumMessageSize&AttributeName.4=MessageRetentionPeriod&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FAAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - FifoQueue
      AttributeName.2:
      - ContentBasedDeduplication
      AttributeName.3:
      - MaximumMessageSize
      AttributeName.4:
      - MessageRetentionPeriod
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230419T160823Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>MaximumMessageSize</Name><Value>2048</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>86400</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>tx9dd31ffb-6c7a-466a-831d-f6275c2044bb</RequestId></ResponseMetadata></GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FAAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230419T160825Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>tx48d261d6-8d93-4594-824b-90d2a55005da</RequestId></ResponseMetadata></DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230419T160825Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <ErrorResponse xmlns=""><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
      queue &#34;terraform-example-queue&#34; does not exist.</Message></Error><RequestId>tx0b205e93-022f-4fb9-9931-f53ed93624d8</RequestId></ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"AAEAVXXJMCAIVHPLXZWN7R7YQBODRDYRKQ6LBDBRVTFNSJXNRQNCSBPW","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
