---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-queue-basic-1","protocol":"sqs_sns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-01T08:22:37.737006498Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU","name":"test-mnq-queue-basic-1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-01T08:22:37.737006498Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU
    method: GET
  response:
    body: '{"created_at":"2023-09-01T08:22:37.737006Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU","name":"test-mnq-queue-basic-1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-01T08:22:37.737006Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU","name":"test-queue-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"3320d983-3087-47fe-a18a-25c1d224454a","name":"test-queue-sqs-basic","namespace_id":"ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"ayuJR3bfN4UfiNXg841T","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"GTBB0WSdELAjY6eHlibRPt6UlTXTBLv6Fg4vkW9KhD0F7gnhB0WpKsuEdLWO9NXe"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/3320d983-3087-47fe-a18a-25c1d224454a
    method: GET
  response:
    body: '{"id":"3320d983-3087-47fe-a18a-25c1d224454a","name":"test-queue-sqs-basic","namespace_id":"ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"ayuJR3bfN4UfiNXg841T","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=2048&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=86400&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "2048"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "86400"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230901T082239Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU/terraform-example-queue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>txeb90afcb-b041-4e4d-906d-37900b99f06e</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230901T082240Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU/terraform-example-queue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx1c746fc3-9c94-442c-9589-90ae1f991fe6</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230901T082240Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>2048</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>86400</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>txd598497d-b2a6-462c-8592-6b0d0dec2c85</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230901T082243Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx19615b1e-9254-40a1-bf11-82c31f60a59d</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230901T082243Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;terraform-example-queue&#34; does not exist.</Message>
          </Error>
          <RequestId>tx68fe61e9-7e48-4c27-9aaf-e31cc2f1fa26</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ACH6E3K5J2NMWXXWA6HGEUC3WC3TDZXF6B6JJXTSFMFPDIL5F2WGYBCU","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
