---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-ns-basic-1","protocol":"nats","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-01T08:20:06.218170988Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACAHFPWOBONUMFNAUQIEGTD5TPNVYP4ZRZPLOEPBKGFU5XFR35QT6KNC","name":"test-mnq-ns-basic-1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats","region":"fr-par","updated_at":"2023-09-01T08:20:06.218170988Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACAHFPWOBONUMFNAUQIEGTD5TPNVYP4ZRZPLOEPBKGFU5XFR35QT6KNC
    method: GET
  response:
    body: '{"created_at":"2023-09-01T08:20:06.218170Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACAHFPWOBONUMFNAUQIEGTD5TPNVYP4ZRZPLOEPBKGFU5XFR35QT6KNC","name":"test-mnq-ns-basic-1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats","region":"fr-par","updated_at":"2023-09-01T08:20:06.218170Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"namespace_id":"ACAHFPWOBONUMFNAUQIEGTD5TPNVYP4ZRZPLOEPBKGFU5XFR35QT6KNC","name":"test-mnq-ns-basic-2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: PATCH
  response:
    body: '{"created_at":"2023-09-01T08:20:06.218170Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACAHFPWOBONUMFNAUQIEGTD5TPNVYP4ZRZPLOEPBKGFU5XFR35QT6KNC","name":"test-mnq-ns-basic-2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats","region":"fr-par","updated_at":"2023-09-01T08:20:08.856713016Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AB3TRRU2LRXBPNSPZC3T53RFCGJJ22KEK7WW5242MYY3DI7ZA3E5CPO4
    method: GET
  response:
    body: '{"created_at":"2023-09-01T08:20:15.507838Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AB3TRRU2LRXBPNSPZC3T53RFCGJJ22KEK7WW5242MYY3DI7ZA3E5CPO4","name":"tf-ns-sharp-jones","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-01T08:20:15.507838Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AB3TRRU2LRXBPNSPZC3T53RFCGJJ22KEK7WW5242MYY3DI7ZA3E5CPO4
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"AB3TRRU2LRXBPNSPZC3T53RFCGJJ22KEK7WW5242MYY3DI7ZA3E5CPO4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
