---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-sqs-basic","protocol":"sqs_sns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-05-09T14:28:01.351833230Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-09T14:28:01.351833230Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET
    method: GET
  response:
    body: '{"created_at":"2023-05-09T14:28:01.351833Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-05-09T14:28:01.351833Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET","name":"test-queue-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"3720bae2-4c6c-4ced-8236-e518f2cd459b","name":"test-queue-sqs-basic","namespace_id":"ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"UktYctQj3NLpgy54nsRb","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"lSXniyeT8Y1Df5SWhIIOdnVWxjQ0vNN8fprfO6ybR8Ve8rqTwzn66cwMMedyzGHF"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/3720bae2-4c6c-4ced-8236-e518f2cd459b
    method: GET
  response:
    body: '{"id":"3720bae2-4c6c-4ced-8236-e518f2cd459b","name":"test-queue-sqs-basic","namespace_id":"ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"UktYctQj3NLpgy54nsRb","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=2048&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=86400&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "2048"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "86400"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230509T142802Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET/terraform-example-queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>txa4197353-bec8-47fd-ac80-16d2c5e508fe</RequestId></ResponseMetadata></CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230509T142803Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET/terraform-example-queue</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>tx7ca130a7-a5b6-4a0d-a708-54c8f390f9db</RequestId></ResponseMetadata></GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230509T142803Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>MaximumMessageSize</Name><Value>2048</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>86400</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>txc6553409-df7c-43de-9f3c-c6dc88172a06</RequestId></ResponseMetadata></GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230509T142805Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>txcbcb5bf6-48ff-4944-99fe-bf2a74fd7d76</RequestId></ResponseMetadata></DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230509T142805Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: <ErrorResponse xmlns=""><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
      queue &#34;terraform-example-queue&#34; does not exist.</Message></Error><RequestId>txa67be8e6-3f05-4cee-98a3-d905e1a020fd</RequestId></ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ADLBPXUX2DO3MBV7ZYP34DBOAG65HDG4OOWBY3KVT7GKECURPTDA57ET","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
