---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_basic_nats","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:43:06.990517Z","description":"","id":"de9ffe14-26e5-4bb2-9759-a30e21d2823f","name":"tf_tests_mnq_basic_nats","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:43:06.990517Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/de9ffe14-26e5-4bb2-9759-a30e21d2823f
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:43:06.990517Z","description":"","id":"de9ffe14-26e5-4bb2-9759-a30e21d2823f","name":"tf_tests_mnq_basic_nats","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:43:06.990517Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"main","protocol":"nats","project_id":"de9ffe14-26e5-4bb2-9759-a30e21d2823f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:43:07.290571548Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK","name":"main","project_id":"de9ffe14-26e5-4bb2-9759-a30e21d2823f","protocol":"nats","region":"fr-par","updated_at":"2023-09-04T08:43:07.290571548Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:43:07.290571Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK","name":"main","project_id":"de9ffe14-26e5-4bb2-9759-a30e21d2823f","protocol":"nats","region":"fr-par","updated_at":"2023-09-04T08:43:07.290571Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK","name":"test-queue-nats-basic","permissions":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"5652484c-71a6-4425-a077-3250a5724639","name":"test-queue-nats-basic","namespace_id":"ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK","nats_credentials":{"content":"-----BEGIN
      NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJRUzRMVko2R1hQSVJUQkVaR0FZV0VUU0NHUENSVjdIV1NRRkQzUE5RU1ZNR0RVS0lLT01BIiwiaWF0IjoxNjkzODE2OTg4LCJpc3MiOiJBQU1aWlhHQklOSlpNQVZBTlpJRU9JSVNTVUFIS1A0SUpFSUVOSkVON1FWRE1FM0NQWEdHUjU2SyIsIm5hbWUiOiJ0ZXN0LXF1ZXVlLW5hdHMtYmFzaWMiLCJzdWIiOiJVQjRHRVRNWUFKWFVHNVRIVVZVWFBGSUNLSFZFVFFZRU40TTZEWVFWSTY2RlRPQ00yU1dRMk5OTiIsIm5hdHMiOnsicHViIjp7fSwic3ViIjp7fSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiaXNzdWVyX2FjY291bnQiOiJBQ1FFNk4zNjZCRVBKRUJTUldINTdVQ0NIMzdLWFVTUlg2QURBUklNS1M3UE00QllRUExMRDVLSyIsInR5cGUiOiJ1c2VyIiwidmVyc2lvbiI6Mn19.kpAULha67JJz513f5DHAz7rqkq7FFIoLqptdYG0oY3V9BdWOddd9zPnsndBWyLVaXNWVWeqRvsiCinwBN-txAQ\n------END
      NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY
      Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive
      and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUANMEH7GN4YAMHCYMVLBMEAWRMVZX2UJKWOSZLITZBLYH2NLJQEOBF3WM\n------END
      USER NKEY SEED------\n\n*************************************************************\n"},"protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/5652484c-71a6-4425-a077-3250a5724639
    method: GET
  response:
    body: '{"id":"5652484c-71a6-4425-a077-3250a5724639","name":"test-queue-nats-basic","namespace_id":"ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK","protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ACQE6N366BEPJEBSRWH57UCCH37KXUSRX6ADARIMKS7PM4BYQPLLD5KK","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
