---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-sqs-basic","protocol":"sqs_sns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-06-14T17:01:46.454238430Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-06-14T17:01:46.454238430Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM
    method: GET
  response:
    body: '{"created_at":"2023-06-14T17:01:46.454238Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM","name":"test-mnq-sqs-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-06-14T17:01:46.454238Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM","name":"test-queue-sqs-basic","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"a3e88b6c-1c0c-4a63-b439-1b4e1d2e7041","name":"test-queue-sqs-basic","namespace_id":"ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"0iSUXvjDfnqUjgro22H2","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"5RBBBruDDgWB2gendcLVMgXWklF8FwuaqtDmMrl4aLTmxbKQGGJDE2MTTaFuTWIf"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/a3e88b6c-1c0c-4a63-b439-1b4e1d2e7041
    method: GET
  response:
    body: '{"id":"a3e88b6c-1c0c-4a63-b439-1b4e1d2e7041","name":"test-queue-sqs-basic","namespace_id":"ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"0iSUXvjDfnqUjgro22H2","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=2048&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=86400&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "2048"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "86400"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230614T170147Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM/terraform-example-queue</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>txceb38cea-328d-4099-9879-e4aaa64a8174</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230614T170148Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM/terraform-example-queue</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx44299995-65ff-40c9-8ca1-190040889df0</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=ContentBasedDeduplication&AttributeName.2=ReceiveMessageWaitTimeSeconds&AttributeName.3=VisibilityTimeout&AttributeName.4=MaximumMessageSize&AttributeName.5=MessageRetentionPeriod&AttributeName.6=FifoQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - ContentBasedDeduplication
      AttributeName.2:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.3:
      - VisibilityTimeout
      AttributeName.4:
      - MaximumMessageSize
      AttributeName.5:
      - MessageRetentionPeriod
      AttributeName.6:
      - FifoQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230614T170148Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>2048</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>86400</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx7e615520-c72c-445b-b51e-a7b6a75c18f6</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2FACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM%2Fterraform-example-queue&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM/terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230614T170150Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx5f4e12d9-fb5f-4140-addd-df38b9282354</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=terraform-example-queue&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - terraform-example-queue
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230614T170150Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;terraform-example-queue&#34; does not exist.</Message>
          </Error>
          <RequestId>txaa8c0cea-415b-4f4c-a8d6-ba5d1349a3bc</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"namespace","resource_id":"ACGIVZR3IDEB22ZUNKQYUWOGPHIME6CJCS2SEDIZC3UGPZOQH4M365ZM","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
