---
version: 1
interactions:
- request:
    body: '{"name":"test-mnq-ns","protocol":"nats","project_id":"105bdce1-64c0-48ab-899d-868455867ecf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-01-10T14:48:55.196145169Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACFNXF42OP3OI5Y4TS5FHQSDAPHZXE5WTLMAMSHVXMYMGRRL4NTCVGYO","name":"test-mnq-ns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats","region":"fr-par","updated_at":"2023-01-10T14:48:55.196145169Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACFNXF42OP3OI5Y4TS5FHQSDAPHZXE5WTLMAMSHVXMYMGRRL4NTCVGYO
    method: GET
  response:
    body: '{"created_at":"2023-01-10T14:48:55.196145Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACFNXF42OP3OI5Y4TS5FHQSDAPHZXE5WTLMAMSHVXMYMGRRL4NTCVGYO","name":"test-mnq-ns","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"nats","region":"fr-par","updated_at":"2023-01-10T14:48:55.196145Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACFNXF42OP3OI5Y4TS5FHQSDAPHZXE5WTLMAMSHVXMYMGRRL4NTCVGYO","name":"test-creed-ns"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"f2fb46d5-1d2f-4b42-ae8d-e3a9eacfb45b","name":"test-creed-ns","namespace_id":"ACFNXF42OP3OI5Y4TS5FHQSDAPHZXE5WTLMAMSHVXMYMGRRL4NTCVGYO","nats_credentials":{"content":"-----BEGIN
      NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJBSU5URjVDQzRIM09MRDRQVzROV1lNM0c2SU9ISkU3TjVLUVRVV0FESzNEUTNCVElWUVlBIiwiaWF0IjoxNjczMzYyMTM2LCJpc3MiOiJBRFhJU0RGT1lYMzREQTVSRjZWQkZUQkNTVFdFTVAyTEtUU0ozNEVHWUJLUEJTU1lZQVg3R0MzRCIsIm5hbWUiOiJ0ZXN0LWNyZWVkLW5zIiwic3ViIjoiVUE3N1JCS0hQNjJBUUY2WklDVzRJV0Y1S1lRR0dRTlI0RDRWTDdFTDNOVlVHWVFFWkZBWEVMRVciLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUNGTlhGNDJPUDNPSTVZNFRTNUZIUVNEQVBIWlhFNVdUTE1BTVNIVlhNWU1HUlJMNE5UQ1ZHWU8iLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.Y2nzdz5wWTB5q27LVVvS5_z1lPXm8fL0EQ2Y9QtjyNt6rtwhGQpmSCO042F_Pm-DEceXEVt4CvRalLJKMbhTAQ\n------END
      NATS USER JWT------\n-----BEGIN USER NKEY SEED-----\nSUAHYOMHRAZX6A75JAKHDPYAXWID65MYI2AXIIGTCPX7WN6T7YXVVUVBBU\n------END
      USER NKEY SEED------\n"},"protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/f2fb46d5-1d2f-4b42-ae8d-e3a9eacfb45b
    method: GET
  response:
    body: '{"id":"f2fb46d5-1d2f-4b42-ae8d-e3a9eacfb45b","name":"test-creed-ns","namespace_id":"ACFNXF42OP3OI5Y4TS5FHQSDAPHZXE5WTLMAMSHVXMYMGRRL4NTCVGYO","protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACM34W627UME2H7HC67LZXSKEMQVTLLW6HRAMW3BKLCC6L4WTKOH3HJF
    method: GET
  response:
    body: '{"created_at":"2023-01-10T14:49:00.032969Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"ACM34W627UME2H7HC67LZXSKEMQVTLLW6HRAMW3BKLCC6L4WTKOH3HJF","name":"test-mnq-sqs","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-01-10T14:49:00.032969Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACM34W627UME2H7HC67LZXSKEMQVTLLW6HRAMW3BKLCC6L4WTKOH3HJF","name":"test-creed-sqs","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"6d79ff6c-6286-48be-9374-36dcc14e1d44","name":"test-creed-sqs","namespace_id":"ACM34W627UME2H7HC67LZXSKEMQVTLLW6HRAMW3BKLCC6L4WTKOH3HJF","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"VChyrzXXTiG3SQYYvJer","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"UMet8uxOr1Sr7EBRcaqrPIRpcg1krjhxkQtXOLcBgz3SQqMdLAoRV1rFgFAy7XLW"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/6d79ff6c-6286-48be-9374-36dcc14e1d44
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"6d79ff6c-6286-48be-9374-36dcc14e1d44","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
