---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_credentials_basic_1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:57:05.482748Z","description":"","id":"dca78072-a03e-410a-87e9-94e00776aecb","name":"tf_tests_mnq_credentials_basic_1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:57:05.482748Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/dca78072-a03e-410a-87e9-94e00776aecb
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:57:05.482748Z","description":"","id":"dca78072-a03e-410a-87e9-94e00776aecb","name":"tf_tests_mnq_credentials_basic_1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-09-04T08:57:05.482748Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"main","protocol":"nats","project_id":"dca78072-a03e-410a-87e9-94e00776aecb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-09-04T08:57:05.816769250Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACCO32OX4ZMYDP2VN6Z3STQN5MUMZDDZMFKIQRP7FTJQLLRJLVDLXRTW","name":"main","project_id":"dca78072-a03e-410a-87e9-94e00776aecb","protocol":"nats","region":"fr-par","updated_at":"2023-09-04T08:57:05.816769250Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/ACCO32OX4ZMYDP2VN6Z3STQN5MUMZDDZMFKIQRP7FTJQLLRJLVDLXRTW
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:57:05.816769Z","endpoint":"nats://nats.mnq.fr-par.scw.cloud:4222","id":"ACCO32OX4ZMYDP2VN6Z3STQN5MUMZDDZMFKIQRP7FTJQLLRJLVDLXRTW","name":"main","project_id":"dca78072-a03e-410a-87e9-94e00776aecb","protocol":"nats","region":"fr-par","updated_at":"2023-09-04T08:57:05.816769Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"ACCO32OX4ZMYDP2VN6Z3STQN5MUMZDDZMFKIQRP7FTJQLLRJLVDLXRTW","name":"test-creed-ns","permissions":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"c5197d9b-58e0-43d5-a11c-3f48d2e23931","name":"test-creed-ns","namespace_id":"ACCO32OX4ZMYDP2VN6Z3STQN5MUMZDDZMFKIQRP7FTJQLLRJLVDLXRTW","nats_credentials":{"content":"-----BEGIN
      NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ.eyJqdGkiOiJCQ1BWTlJSVlVDMkEzQUtCTldZM0tDRkVYTE9MTEdKT0xZUlo3VlFYU0FJVEdZVk5QUDVRIiwiaWF0IjoxNjkzODE3ODI2LCJpc3MiOiJBQTdRUllQT0VKUFlKMk9DWFc1NU80WDJLQ0dEUUo0UTRFV1NDT1NPTUtUNkIzSkFGNkJMR1lBUSIsIm5hbWUiOiJ0ZXN0LWNyZWVkLW5zIiwic3ViIjoiVUNLUUo2TkVKT1NPWTIyTUxDQVIyQUJPUURNRVlXNlJSSUNWNlZLM0dGQ0U0WUUyNjRSM0VZSU0iLCJuYXRzIjp7InB1YiI6e30sInN1YiI6e30sInN1YnMiOi0xLCJkYXRhIjotMSwicGF5bG9hZCI6LTEsImlzc3Vlcl9hY2NvdW50IjoiQUNDTzMyT1g0Wk1ZRFAyVk42WjNTVFFONU1VTVpERFpNRktJUVJQN0ZUSlFMTFJKTFZETFhSVFciLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.NhHGw19HK_5NearO4XLHnHCQD9GXZOXjXLD3CuJlfHlV0zPyzLrQLikZfqlQ4ltIZEw1yBaFnR-5UkbvPXO7Ag\n------END
      NATS USER JWT------\n\n************************* IMPORTANT *************************\nNKEY
      Seed printed below can be used to sign and prove identity.\nNKEYs are sensitive
      and should be treated as secrets.\n\n-----BEGIN USER NKEY SEED-----\nSUAEVTNSCI4HBFBYA76OE4RVVGZAEWRITEU77ORNOCQ7NUP76RJ2E2Z75I\n------END
      USER NKEY SEED------\n\n*************************************************************\n"},"protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/c5197d9b-58e0-43d5-a11c-3f48d2e23931
    method: GET
  response:
    body: '{"id":"c5197d9b-58e0-43d5-a11c-3f48d2e23931","name":"test-creed-ns","namespace_id":"ACCO32OX4ZMYDP2VN6Z3STQN5MUMZDDZMFKIQRP7FTJQLLRJLVDLXRTW","protocol":"nats"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/namespaces/AC3T32LBLJSI3ZEP5ZVT43B4NY4VMS4LGA3FHHAAUDSFCRWEWJL666HU
    method: GET
  response:
    body: '{"created_at":"2023-09-04T08:57:11.336601Z","endpoint":"https://sqs-sns.mnq.fr-par.scw.cloud","id":"AC3T32LBLJSI3ZEP5ZVT43B4NY4VMS4LGA3FHHAAUDSFCRWEWJL666HU","name":"main","project_id":"dca78072-a03e-410a-87e9-94e00776aecb","protocol":"sqs_sns","region":"fr-par","updated_at":"2023-09-04T08:57:11.336601Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"namespace_id":"AC3T32LBLJSI3ZEP5ZVT43B4NY4VMS4LGA3FHHAAUDSFCRWEWJL666HU","name":"test-creed-sqs","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials
    method: POST
  response:
    body: '{"id":"1508e80d-f362-423b-a611-b2de345c0823","name":"test-creed-sqs","namespace_id":"AC3T32LBLJSI3ZEP5ZVT43B4NY4VMS4LGA3FHHAAUDSFCRWEWJL666HU","protocol":"sqs_sns","sqs_sns_credentials":{"access_key":"PetqYC2098wN6dvj2hvI","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"secret_key":"9tPfY3pLYZNT0ER57e5R9P1Bc2utYM8Gdupj7PHh534ZTMDbfFvtHjM5ij8PbMmg"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1alpha1/regions/fr-par/credentials/1508e80d-f362-423b-a611-b2de345c0823
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"1508e80d-f362-423b-a611-b2de345c0823","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
