---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-10-17T12:48:25.744079Z","description":"","id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-17T12:48:25.744079Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-10-17T12:48:28.462370004Z","project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-17T12:48:28.462370004Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=ea21daf1-e9d0-460a-b7a4-0a71dd4ace13
    method: GET
  response:
    body: '{"created_at":"2023-10-17T12:48:28.462370Z","project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-17T12:48:28.462370Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","name":"tf-sqs-credentials-charming-lederberg","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"HkbvaXCY4lSKkqeraN2w","created_at":"2023-10-17T12:48:29.767255085Z","id":"8c174afa-6b95-4465-b4a9-884b2437a64f","name":"tf-sqs-credentials-charming-lederberg","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","region":"fr-par","secret_checksum":"f32e9aa0cd212dbbf3a6e52b6e7ead7ac49ac2af","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/8c174afa-6b95-4465-b4a9-884b2437a64f
    method: GET
  response:
    body: '{"access_key":"HkbvaXCY4lSKkqeraN2w","created_at":"2023-10-17T12:48:29.767255Z","id":"8c174afa-6b95-4465-b4a9-884b2437a64f","name":"tf-sqs-credentials-charming-lederberg","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","region":"fr-par","secret_checksum":"f32e9aa0cd212dbbf3a6e52b6e7ead7ac49ac2af","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231017T124830Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-ea21daf1-e9d0-460a-b7a4-0a71dd4ace13/test-mnq-sqs-queue-basic</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx973e1191-18e9-4e67-9d85-e74ecfbcc028</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231017T124831Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-ea21daf1-e9d0-460a-b7a4-0a71dd4ace13/test-mnq-sqs-queue-basic</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx27665102-ad55-49ff-92c7-9d49ba53011b</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MessageRetentionPeriod&AttributeName.2=FifoQueue&AttributeName.3=ContentBasedDeduplication&AttributeName.4=ReceiveMessageWaitTimeSeconds&AttributeName.5=VisibilityTimeout&AttributeName.6=MaximumMessageSize&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-ea21daf1-e9d0-460a-b7a4-0a71dd4ace13%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MessageRetentionPeriod
      AttributeName.2:
      - FifoQueue
      AttributeName.3:
      - ContentBasedDeduplication
      AttributeName.4:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.5:
      - VisibilityTimeout
      AttributeName.6:
      - MaximumMessageSize
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-ea21daf1-e9d0-460a-b7a4-0a71dd4ace13/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231017T124831Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx668f3464-4ee0-4103-a795-8fcf8414a1ac</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-ea21daf1-e9d0-460a-b7a4-0a71dd4ace13%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-ea21daf1-e9d0-460a-b7a4-0a71dd4ace13/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231017T124832Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>txcc86c9f2-494f-424f-8d9f-267b2a70734f</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231017T124832Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;test-mnq-sqs-queue-basic&#34; does not exist.</Message>
          </Error>
          <RequestId>tx60e821be-6673-49b8-9fd5-ba16ab814e56</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ea21daf1-e9d0-460a-b7a4-0a71dd4ace13
    method: GET
  response:
    body: '{"created_at":"2023-10-17T12:48:25.744079Z","description":"","id":"ea21daf1-e9d0-460a-b7a4-0a71dd4ace13","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-17T12:48:25.744079Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
