---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-inspiring-cohen","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.165809Z","description":"","id":"5c1ed908-5e07-4c12-8f32-936c3d448e92","name":"tf-project-inspiring-cohen","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.165809Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/5c1ed908-5e07-4c12-8f32-936c3d448e92
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.165809Z","description":"","id":"5c1ed908-5e07-4c12-8f32-936c3d448e92","name":"tf-project-inspiring-cohen","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.165809Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"5c1ed908-5e07-4c12-8f32-936c3d448e92"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.396278733Z","project_id":"5c1ed908-5e07-4c12-8f32-936c3d448e92","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.396278733Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=5c1ed908-5e07-4c12-8f32-936c3d448e92
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.396278Z","project_id":"5c1ed908-5e07-4c12-8f32-936c3d448e92","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.396278Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"5c1ed908-5e07-4c12-8f32-936c3d448e92"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"help_message":"SQS is already enabled on this project","message":"resource
      already exists","resource":"MnqSQSNamespace","resource_id":"5c1ed908-5e07-4c12-8f32-936c3d448e92","type":"already_exists"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: '{"project_id":"5c1ed908-5e07-4c12-8f32-936c3d448e92"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"5c1ed908-5e07-4c12-8f32-936c3d448e92","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
