---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:27.590552Z","description":"","id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6","name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.590552Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/614feab1-7d8c-4c4e-a54b-458b33a6b7a6
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:27.590552Z","description":"","id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6","name":"tf_tests_mnq_sns_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.590552Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:28.087259295Z","project_id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.087259295Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=614feab1-7d8c-4c4e-a54b-458b33a6b7a6
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:28.087259Z","project_id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.087259Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"614feab1-7d8c-4c4e-a54b-458b33a6b7a6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
