---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:19.236813Z","description":"","id":"eb5d2c65-e606-41ca-93fd-3460193676d8","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:19.236813Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.144860717Z","project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.144860717Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=eb5d2c65-e606-41ca-93fd-3460193676d8
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.144860Z","project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.144860Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8","name":"tf-sqs-credentials-infallible-fermi","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"e1evyKQ5kaoEjduoaJ2E","created_at":"2023-11-02T10:14:21.615173936Z","id":"998c36aa-c8ba-4e28-95e0-5a7f4f92995f","name":"tf-sqs-credentials-infallible-fermi","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8","region":"fr-par","secret_checksum":"d071fe10cf64a4d94ec2eebdd009f18c3952c4d2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/998c36aa-c8ba-4e28-95e0-5a7f4f92995f
    method: GET
  response:
    body: '{"access_key":"e1evyKQ5kaoEjduoaJ2E","created_at":"2023-11-02T10:14:21.615173Z","id":"998c36aa-c8ba-4e28-95e0-5a7f4f92995f","name":"tf-sqs-credentials-infallible-fermi","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8","region":"fr-par","secret_checksum":"d071fe10cf64a4d94ec2eebdd009f18c3952c4d2","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101421Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-eb5d2c65-e606-41ca-93fd-3460193676d8/test-mnq-sqs-queue-basic</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>txfe1a2d07-cc82-486e-bb3b-bb945bd8c215</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101422Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-eb5d2c65-e606-41ca-93fd-3460193676d8/test-mnq-sqs-queue-basic</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx7f7da174-0905-45bc-8183-43120c9a268d</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=ReceiveMessageWaitTimeSeconds&AttributeName.2=VisibilityTimeout&AttributeName.3=MaximumMessageSize&AttributeName.4=MessageRetentionPeriod&AttributeName.5=FifoQueue&AttributeName.6=ContentBasedDeduplication&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-eb5d2c65-e606-41ca-93fd-3460193676d8%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.2:
      - VisibilityTimeout
      AttributeName.3:
      - MaximumMessageSize
      AttributeName.4:
      - MessageRetentionPeriod
      AttributeName.5:
      - FifoQueue
      AttributeName.6:
      - ContentBasedDeduplication
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-eb5d2c65-e606-41ca-93fd-3460193676d8/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101422Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>txf14cf742-5b58-4453-81bc-570c28be35a3</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-eb5d2c65-e606-41ca-93fd-3460193676d8%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-eb5d2c65-e606-41ca-93fd-3460193676d8/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101423Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>txb970d5f6-1a00-4ba6-b6e9-65ef012eaa3e</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101423Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;test-mnq-sqs-queue-basic&#34; does not exist.</Message>
          </Error>
          <RequestId>txcec61690-2d17-48c3-b133-271d1b8e3325</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"eb5d2c65-e606-41ca-93fd-3460193676d8","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/eb5d2c65-e606-41ca-93fd-3460193676d8
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:19.236813Z","description":"","id":"eb5d2c65-e606-41ca-93fd-3460193676d8","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:19.236813Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
