---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:30.298221Z","description":"","id":"7f0bcd40-7a45-4ada-9b90-607c01410849","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:30.298221Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/7f0bcd40-7a45-4ada-9b90-607c01410849
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:30.298221Z","description":"","id":"7f0bcd40-7a45-4ada-9b90-607c01410849","name":"tf_tests_mnq_sns_topic_subscription_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:30.298221Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:30.681968995Z","project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:30.681968995Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=7f0bcd40-7a45-4ada-9b90-607c01410849
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:30.681968Z","project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:30.681968Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849","name":"tf-sns-credentials-stupefied-chaplygin","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"WBoWp6pIOvEIUZTwBvrR","created_at":"2023-12-27T09:58:30.962786621Z","id":"72863cd7-ede6-4551-b54e-20e2e7f376c6","name":"tf-sns-credentials-stupefied-chaplygin","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849","region":"fr-par","secret_checksum":"a2ce217da5afeb078e23be796a0bb478ec9f01ec","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/72863cd7-ede6-4551-b54e-20e2e7f376c6
    method: GET
  response:
    body: '{"access_key":"WBoWp6pIOvEIUZTwBvrR","created_at":"2023-12-27T09:58:30.962786Z","id":"72863cd7-ede6-4551-b54e-20e2e7f376c6","name":"tf-sns-credentials-stupefied-chaplygin","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849","region":"fr-par","secret_checksum":"a2ce217da5afeb078e23be796a0bb478ec9f01ec","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Attributes:
      - ""
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095831Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-607c01410849:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txbcdb540f-1188-406b-9e6f-07d4bb1e28a9</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-7f0bcd40-7a45-4ada-9b90-607c01410849%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-607c01410849:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095831Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-607c01410849:test-mnq-sns-topic-basic</value>
                  </entry>
                  <entry>
                      <key>Owner</key>
                      <value>project-7f0bcd40-7a45-4ada-9b90-607c01410849</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>txaac54809-0141-46d1-9419-fe9d3dc4c57f</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=Subscribe&Attributes=&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-7f0bcd40-7a45-4ada-9b90-607c01410849%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - Subscribe
      Attributes:
      - ""
      Endpoint:
      - http://scaleway.com
      Protocol:
      - http
      ReturnSubscriptionArn:
      - "true"
      TopicArn:
      - arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-607c01410849:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095832Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
              <SubscriptionArn>arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-607c01410849:test-mnq-sns-topic-basic:5034c87e-c6c7-4b3d-a850-9b8a86ba517a</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
              <RequestId>txa5fafb04-8057-46fe-b32f-5e6781c93301</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-7f0bcd40-7a45-4ada-9b90-607c01410849%3Atest-mnq-sns-topic-basic%3A5034c87e-c6c7-4b3d-a850-9b8a86ba517a&Version=2010-03-31
    form:
      Action:
      - GetSubscriptionAttributes
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-607c01410849:test-mnq-sns-topic-basic:5034c87e-c6c7-4b3d-a850-9b8a86ba517a
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095832Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetSubscriptionAttributesResult>
              <Attributes>
                  <entry>
                      <key>Owner</key>
                      <value>project-7f0bcd40-7a45-4ada-9b90-607c01410849</value>
                  </entry>
                  <entry>
                      <key>RawMessageDelivery</key>
                      <value>false</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-60[...]
- request:
    body: Action=Subscribe&Attributes=&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-7f0bcd40-7a45-4ada-9b90-607c01410849%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - Subscribe
      Attributes:
      - ""
      Endpoint:
      - http://scaleway.com
      Protocol:
      - http
      ReturnSubscriptionArn:
      - "true"
      TopicArn:
      - arn:scw:sns:fr-par:project-7f0bcd40-7a45-4ada-9b90-607c01410849:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231227T095832Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Internal</Type>
              <Code>InternalError</Code>
              <Message>Internal service error</Message>
          </Error>
          <RequestId>tx35062a61-5245-426d-be1d-e370a978ced2</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
- request:
    body: '{"project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"7f0bcd40-7a45-4ada-9b90-607c01410849","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
