---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-friendly-hamilton","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.171133Z","description":"","id":"af44acae-5406-46b4-b9a1-107d2bfc1973","name":"tf-project-friendly-hamilton","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.171133Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/af44acae-5406-46b4-b9a1-107d2bfc1973
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.171133Z","description":"","id":"af44acae-5406-46b4-b9a1-107d2bfc1973","name":"tf-project-friendly-hamilton","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.171133Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.404523300Z","project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.404523300Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=af44acae-5406-46b4-b9a1-107d2bfc1973
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.404523Z","project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.404523Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973","name":"tf-sqs-credentials-focused-curie","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"6bBCJMPCtymVMJFSljIP","created_at":"2023-11-02T10:14:21.604556635Z","id":"c80eeba6-e7cf-4ef6-b02b-c276e0f945af","name":"tf-sqs-credentials-focused-curie","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973","region":"fr-par","secret_checksum":"cb4965f84be73d92c5e56e32572e4f931c8e03b9","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/c80eeba6-e7cf-4ef6-b02b-c276e0f945af
    method: GET
  response:
    body: '{"access_key":"6bBCJMPCtymVMJFSljIP","created_at":"2023-11-02T10:14:21.604556Z","id":"c80eeba6-e7cf-4ef6-b02b-c276e0f945af","name":"tf-sqs-credentials-focused-curie","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973","region":"fr-par","secret_checksum":"cb4965f84be73d92c5e56e32572e4f931c8e03b9","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101421Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-af44acae-5406-46b4-b9a1-107d2bfc1973/test-mnq-sqs-queue-basic</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx149d6f89-bbf3-44df-b85f-80c8c74c09b7</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101422Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-af44acae-5406-46b4-b9a1-107d2bfc1973/test-mnq-sqs-queue-basic</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>txf48c476d-4b41-4a7d-9205-fc894e5b7242</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=MaximumMessageSize&AttributeName.2=MessageRetentionPeriod&AttributeName.3=FifoQueue&AttributeName.4=ContentBasedDeduplication&AttributeName.5=ReceiveMessageWaitTimeSeconds&AttributeName.6=VisibilityTimeout&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-af44acae-5406-46b4-b9a1-107d2bfc1973%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - MaximumMessageSize
      AttributeName.2:
      - MessageRetentionPeriod
      AttributeName.3:
      - FifoQueue
      AttributeName.4:
      - ContentBasedDeduplication
      AttributeName.5:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.6:
      - VisibilityTimeout
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-af44acae-5406-46b4-b9a1-107d2bfc1973/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101422Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx0268b63f-089e-477d-a623-c501d648fa5a</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-af44acae-5406-46b4-b9a1-107d2bfc1973%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-af44acae-5406-46b4-b9a1-107d2bfc1973/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101425Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx23b4a79b-a189-4945-8663-b1ff4b99cdc2</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231102T101425Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;test-mnq-sqs-queue-basic&#34; does not exist.</Message>
          </Error>
          <RequestId>txca38fce3-8cad-4d69-ab6d-d3450e520918</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"af44acae-5406-46b4-b9a1-107d2bfc1973","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/af44acae-5406-46b4-b9a1-107d2bfc1973
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"af44acae-5406-46b4-b9a1-107d2bfc1973","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
