---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-ecstatic-northcutt","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-19T09:39:48.452750Z","description":"","id":"a9de80bb-563e-49a0-a400-ce630efc133a","name":"tf-project-ecstatic-northcutt","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-19T09:39:48.452750Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/a9de80bb-563e-49a0-a400-ce630efc133a
    method: GET
  response:
    body: '{"created_at":"2023-12-19T09:39:48.452750Z","description":"","id":"a9de80bb-563e-49a0-a400-ce630efc133a","name":"tf-project-ecstatic-northcutt","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-19T09:39:48.452750Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"a9de80bb-563e-49a0-a400-ce630efc133a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-19T09:39:48.795108994Z","project_id":"a9de80bb-563e-49a0-a400-ce630efc133a","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-19T09:39:48.795108994Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=a9de80bb-563e-49a0-a400-ce630efc133a
    method: GET
  response:
    body: '{"created_at":"2023-12-19T09:39:48.795108Z","project_id":"a9de80bb-563e-49a0-a400-ce630efc133a","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-19T09:39:48.795108Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"a9de80bb-563e-49a0-a400-ce630efc133a","name":"tf-sns-credentials-upbeat-lumiere","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"XUqf52MtCkjQQSrKFWoA","created_at":"2023-12-19T09:39:49.157499986Z","id":"f0d83b3b-42c4-4a4c-9bd4-3c2eab582295","name":"tf-sns-credentials-upbeat-lumiere","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"a9de80bb-563e-49a0-a400-ce630efc133a","region":"fr-par","secret_checksum":"3b37a978ab685b5255697c5639b368b306fd4fa4","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/f0d83b3b-42c4-4a4c-9bd4-3c2eab582295
    method: GET
  response:
    body: '{"access_key":"XUqf52MtCkjQQSrKFWoA","created_at":"2023-12-19T09:39:49.157499Z","id":"f0d83b3b-42c4-4a4c-9bd4-3c2eab582295","name":"tf-sns-credentials-upbeat-lumiere","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"a9de80bb-563e-49a0-a400-ce630efc133a","region":"fr-par","secret_checksum":"3b37a978ab685b5255697c5639b368b306fd4fa4","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Attributes:
      - ""
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T093949Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-a9de80bb-563e-49a0-a400-ce630efc133a:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txe0e392c7-f77a-4ec5-af7c-90c0e3ee5d92</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-a9de80bb-563e-49a0-a400-ce630efc133a%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-a9de80bb-563e-49a0-a400-ce630efc133a:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T093950Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-a9de80bb-563e-49a0-a400-ce630efc133a:test-mnq-sns-topic-basic</value>
                  </entry>
                  <entry>
                      <key>Owner</key>
                      <value>project-a9de80bb-563e-49a0-a400-ce630efc133a</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>txe0994954-253e-4e9a-8519-1af71ec640ce</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"a9de80bb-563e-49a0-a400-ce630efc133a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"a9de80bb-563e-49a0-a400-ce630efc133a","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-a9de80bb-563e-49a0-a400-ce630efc133a%3Atest-mnq-sns-topic-basic20231219094006764100000004&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-a9de80bb-563e-49a0-a400-ce630efc133a:test-mnq-sns-topic-basic20231219094006764100000004
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T094013Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Sender</Type>
              <Code>AccessDeniedException</Code>
              <Message>You do not have sufficient access to perform this action.</Message>
          </Error>
          <RequestId>txc38bbd34-ea1b-40ec-8e4e-e0ea72d6f788</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
