---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-recursing-mclaren","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.146621Z","description":"","id":"6b7ec666-b34a-4663-9a71-41ffdded7535","name":"tf-project-recursing-mclaren","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.146621Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/6b7ec666-b34a-4663-9a71-41ffdded7535
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.146621Z","description":"","id":"6b7ec666-b34a-4663-9a71-41ffdded7535","name":"tf-project-recursing-mclaren","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.146621Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"6b7ec666-b34a-4663-9a71-41ffdded7535"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.388410485Z","project_id":"6b7ec666-b34a-4663-9a71-41ffdded7535","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.388410485Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=6b7ec666-b34a-4663-9a71-41ffdded7535
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.388410Z","project_id":"6b7ec666-b34a-4663-9a71-41ffdded7535","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.388410Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6b7ec666-b34a-4663-9a71-41ffdded7535"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"6b7ec666-b34a-4663-9a71-41ffdded7535","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6b7ec666-b34a-4663-9a71-41ffdded7535"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"6b7ec666-b34a-4663-9a71-41ffdded7535","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
