---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:27.902364Z","description":"","id":"5321814f-a841-4a14-9b44-223641e7f3e7","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.902364Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/5321814f-a841-4a14-9b44-223641e7f3e7
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:27.902364Z","description":"","id":"5321814f-a841-4a14-9b44-223641e7f3e7","name":"tf_tests_mnq_sqs_credentials_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.902364Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"5321814f-a841-4a14-9b44-223641e7f3e7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:28.269521263Z","project_id":"5321814f-a841-4a14-9b44-223641e7f3e7","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.269521263Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=5321814f-a841-4a14-9b44-223641e7f3e7
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:28.269521Z","project_id":"5321814f-a841-4a14-9b44-223641e7f3e7","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.269521Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"5321814f-a841-4a14-9b44-223641e7f3e7","name":"test-mnq-sns-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"vNGUVHYlzr8LUQSd5tPx","created_at":"2023-12-27T09:58:28.574781348Z","id":"9a474943-f2fa-4f20-903e-6b27007ba321","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"5321814f-a841-4a14-9b44-223641e7f3e7","region":"fr-par","secret_checksum":"4f3e8e6e6ef37203736f0ab4144de96594076e36","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/9a474943-f2fa-4f20-903e-6b27007ba321
    method: GET
  response:
    body: '{"access_key":"vNGUVHYlzr8LUQSd5tPx","created_at":"2023-12-27T09:58:28.574781Z","id":"9a474943-f2fa-4f20-903e-6b27007ba321","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"5321814f-a841-4a14-9b44-223641e7f3e7","region":"fr-par","secret_checksum":"4f3e8e6e6ef37203736f0ab4144de96594076e36","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"5321814f-a841-4a14-9b44-223641e7f3e7"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"5321814f-a841-4a14-9b44-223641e7f3e7","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/9a474943-f2fa-4f20-903e-6b27007ba321
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"9a474943-f2fa-4f20-903e-6b27007ba321","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
