---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:27.571965Z","description":"","id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.571965Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/5fe4c60a-5de9-43df-af8d-f97b9a3bc444
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:27.571965Z","description":"","id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444","name":"tf_tests_mnq_sqs_basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-12-27T09:58:27.571965Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-27T09:58:28.012971424Z","project_id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.012971424Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=5fe4c60a-5de9-43df-af8d-f97b9a3bc444
    method: GET
  response:
    body: '{"created_at":"2023-12-27T09:58:28.012971Z","project_id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-27T09:58:28.012971Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"message":"resource is not found","resource":"MnqSQSNamespace","resource_id":"5fe4c60a-5de9-43df-af8d-f97b9a3bc444","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
