---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-awesome-lamarr","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-07T14:35:40.512179Z","description":"","id":"d3c97687-458b-4679-9d91-339853ece00e","name":"tf-project-awesome-lamarr","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-07T14:35:40.512179Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/d3c97687-458b-4679-9d91-339853ece00e
    method: GET
  response:
    body: '{"created_at":"2023-12-07T14:35:40.512179Z","description":"","id":"d3c97687-458b-4679-9d91-339853ece00e","name":"tf-project-awesome-lamarr","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-07T14:35:40.512179Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"d3c97687-458b-4679-9d91-339853ece00e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-07T14:35:40.954435312Z","project_id":"d3c97687-458b-4679-9d91-339853ece00e","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-07T14:35:40.954435312Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=d3c97687-458b-4679-9d91-339853ece00e
    method: GET
  response:
    body: '{"created_at":"2023-12-07T14:35:40.954435Z","project_id":"d3c97687-458b-4679-9d91-339853ece00e","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-07T14:35:40.954435Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"d3c97687-458b-4679-9d91-339853ece00e","name":"tf-sns-credentials-cocky-morse","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"jUGIQMyVJqTh8KBGQakm","created_at":"2023-12-07T14:35:41.206691703Z","id":"2e930ae8-3348-4429-b6ef-7ee0055cae8b","name":"tf-sns-credentials-cocky-morse","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"d3c97687-458b-4679-9d91-339853ece00e","region":"fr-par","secret_checksum":"e8bf13c43912e19584109f0bac678f6b47c2123d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/2e930ae8-3348-4429-b6ef-7ee0055cae8b
    method: GET
  response:
    body: '{"access_key":"jUGIQMyVJqTh8KBGQakm","created_at":"2023-12-07T14:35:41.206691Z","id":"2e930ae8-3348-4429-b6ef-7ee0055cae8b","name":"tf-sns-credentials-cocky-morse","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"d3c97687-458b-4679-9d91-339853ece00e","region":"fr-par","secret_checksum":"e8bf13c43912e19584109f0bac678f6b47c2123d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Attributes:
      - ""
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231207T143541Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-d3c97687-458b-4679-9d91-339853ece00e:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txbef2d7f9-d52a-49f7-9fa4-ce5ac220cf60</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-d3c97687-458b-4679-9d91-339853ece00e%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-d3c97687-458b-4679-9d91-339853ece00e:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231207T143542Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-d3c97687-458b-4679-9d91-339853ece00e:test-mnq-sns-topic-basic</value>
                  </entry>
                  <entry>
                      <key>Owner</key>
                      <value>project-d3c97687-458b-4679-9d91-339853ece00e</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>txd2e761f8-ea47-4424-b9af-e25c3d7941a5</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"d3c97687-458b-4679-9d91-339853ece00e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"d3c97687-458b-4679-9d91-339853ece00e","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-d3c97687-458b-4679-9d91-339853ece00e%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-d3c97687-458b-4679-9d91-339853ece00e:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231207T143549Z
    url: http://sqs-sns.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Sender</Type>
              <Code>AccessDeniedException</Code>
              <Message>You do not have sufficient access to perform this action.</Message>
          </Error>
          <RequestId>tx5d56da9e-8956-47a4-8a37-b4f5b3cfd924</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
