---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-cocky-wright","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.160361Z","description":"","id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","name":"tf-project-cocky-wright","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.160361Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/c03bbe3a-b33e-47ff-b795-fcca2f35dbb1
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.160361Z","description":"","id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","name":"tf-project-cocky-wright","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-11-02T10:14:20.160361Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-11-02T10:14:20.386717111Z","project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.386717111Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=c03bbe3a-b33e-47ff-b795-fcca2f35dbb1
    method: GET
  response:
    body: '{"created_at":"2023-11-02T10:14:20.386717Z","project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-11-02T10:14:20.386717Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","name":"test-mnq-sqs-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"46P0lA71dYbzZTLB5ALp","created_at":"2023-11-02T10:14:21.600362042Z","id":"b627dd38-6237-433f-b7f0-bd4f30bd10a7","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","region":"fr-par","secret_checksum":"cf8d899ac089af8417d9d82bee605237641014d5","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/b627dd38-6237-433f-b7f0-bd4f30bd10a7
    method: GET
  response:
    body: '{"access_key":"46P0lA71dYbzZTLB5ALp","created_at":"2023-11-02T10:14:21.600362Z","id":"b627dd38-6237-433f-b7f0-bd4f30bd10a7","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","region":"fr-par","secret_checksum":"cf8d899ac089af8417d9d82bee605237641014d5","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"c03bbe3a-b33e-47ff-b795-fcca2f35dbb1","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/b627dd38-6237-433f-b7f0-bd4f30bd10a7
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"b627dd38-6237-433f-b7f0-bd4f30bd10a7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
