---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-sleepy-wescoff","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-05T12:42:01.754245Z","description":"","id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9","name":"tf-project-sleepy-wescoff","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-05T12:42:01.754245Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/10ab2c0b-e5de-44b9-83c6-644d06fbf4e9
    method: GET
  response:
    body: '{"created_at":"2023-12-05T12:42:01.754245Z","description":"","id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9","name":"tf-project-sleepy-wescoff","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-05T12:42:01.754245Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-05T12:42:02.183194809Z","project_id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-05T12:42:02.183194809Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=10ab2c0b-e5de-44b9-83c6-644d06fbf4e9
    method: GET
  response:
    body: '{"created_at":"2023-12-05T12:42:02.183194Z","project_id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-05T12:42:02.183194Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"message":"resource is not found","resource":"MnqSNSNamespace","resource_id":"10ab2c0b-e5de-44b9-83c6-644d06fbf4e9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
