---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-angry-snyder","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-10-16T13:50:56.294351Z","description":"","id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","name":"tf-project-angry-snyder","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-16T13:50:56.294351Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/b2885451-8e5f-4797-a9a9-442484bfa6a0
    method: GET
  response:
    body: '{"created_at":"2023-10-16T13:50:56.294351Z","description":"","id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","name":"tf-project-angry-snyder","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2023-10-16T13:50:56.294351Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-10-16T13:50:56.592597956Z","project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-16T13:50:56.592597956Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=b2885451-8e5f-4797-a9a9-442484bfa6a0
    method: GET
  response:
    body: '{"created_at":"2023-10-16T13:50:56.592597Z","project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-10-16T13:50:56.592597Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","name":"tf-sqs-credentials-friendly-heyrovsky","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"pFgcYaafxy63QmPfdfHq","created_at":"2023-10-16T13:50:57.888556237Z","id":"09c1630e-5e76-471e-96b3-27b56b2825db","name":"tf-sqs-credentials-friendly-heyrovsky","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","region":"fr-par","secret_checksum":"77e2d02fcca8900bad9660ccb1b9589d9248eeec","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/09c1630e-5e76-471e-96b3-27b56b2825db
    method: GET
  response:
    body: '{"access_key":"pFgcYaafxy63QmPfdfHq","created_at":"2023-10-16T13:50:57.888556Z","id":"09c1630e-5e76-471e-96b3-27b56b2825db","name":"tf-sqs-credentials-friendly-heyrovsky","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","region":"fr-par","secret_checksum":"77e2d02fcca8900bad9660ccb1b9589d9248eeec","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231016T135058Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-b2885451-8e5f-4797-a9a9-442484bfa6a0/test-mnq-sqs-queue-basic</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx9d892bd6-7283-4a3d-9bc5-da1f9c73a51e</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231016T135059Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scaleway.com/project-b2885451-8e5f-4797-a9a9-442484bfa6a0/test-mnq-sqs-queue-basic</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>tx022efdd0-3caa-4ac6-b8d3-889ceff41461</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=FifoQueue&AttributeName.2=ContentBasedDeduplication&AttributeName.3=ReceiveMessageWaitTimeSeconds&AttributeName.4=VisibilityTimeout&AttributeName.5=MaximumMessageSize&AttributeName.6=MessageRetentionPeriod&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-b2885451-8e5f-4797-a9a9-442484bfa6a0%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - FifoQueue
      AttributeName.2:
      - ContentBasedDeduplication
      AttributeName.3:
      - ReceiveMessageWaitTimeSeconds
      AttributeName.4:
      - VisibilityTimeout
      AttributeName.5:
      - MaximumMessageSize
      AttributeName.6:
      - MessageRetentionPeriod
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-b2885451-8e5f-4797-a9a9-442484bfa6a0/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231016T135059Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx7179dc35-c8cd-42c5-8fa3-b4f462cdf66c</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scaleway.com%2Fproject-b2885451-8e5f-4797-a9a9-442484bfa6a0%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scaleway.com/project-b2885451-8e5f-4797-a9a9-442484bfa6a0/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231016T135102Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>txb38f48b8-9d91-4a6f-8829-2c23111550b4</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231016T135102Z
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;test-mnq-sqs-queue-basic&#34; does not exist.</Message>
          </Error>
          <RequestId>txb3a9fd8a-6344-4f72-9d25-79e778eb8eb2</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/b2885451-8e5f-4797-a9a9-442484bfa6a0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"b2885451-8e5f-4797-a9a9-442484bfa6a0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
