---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-dreamy-margulis","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-07T12:47:19.754591Z","description":"","id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","name":"tf-project-dreamy-margulis","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-07T12:47:19.754591Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/fbdc2a68-f042-439c-ba36-c8f41d22b332
    method: GET
  response:
    body: '{"created_at":"2023-12-07T12:47:19.754591Z","description":"","id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","name":"tf-project-dreamy-margulis","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-07T12:47:19.754591Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-07T12:47:20.170813414Z","project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-07T12:47:20.170813414Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=fbdc2a68-f042-439c-ba36-c8f41d22b332
    method: GET
  response:
    body: '{"created_at":"2023-12-07T12:47:20.170813Z","project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-07T12:47:20.170813Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","name":"test-mnq-sns-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"myvVGcLYGkQ1eEkNkR6G","created_at":"2023-12-07T12:47:20.455824569Z","id":"eb799507-194a-4eca-b1ef-021c75dc16c1","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","region":"fr-par","secret_checksum":"4e481cd9de0ca7ad00047c81c303772437a4ff2e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/eb799507-194a-4eca-b1ef-021c75dc16c1
    method: GET
  response:
    body: '{"access_key":"myvVGcLYGkQ1eEkNkR6G","created_at":"2023-12-07T12:47:20.455824Z","id":"eb799507-194a-4eca-b1ef-021c75dc16c1","name":"test-mnq-sns-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","region":"fr-par","secret_checksum":"4e481cd9de0ca7ad00047c81c303772437a4ff2e","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"fbdc2a68-f042-439c-ba36-c8f41d22b332","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/eb799507-194a-4eca-b1ef-021c75dc16c1
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"eb799507-194a-4eca-b1ef-021c75dc16c1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
