---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-awesome-visvesvaraya","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-10-09T12:15:42.263364Z","description":"","id":"238f4c4c-9ce7-471c-88a4-999676b47c22","name":"tf-project-awesome-visvesvaraya","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-09T12:15:42.263364Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/238f4c4c-9ce7-471c-88a4-999676b47c22
    method: GET
  response:
    body: '{"created_at":"2023-10-09T12:15:42.263364Z","description":"","id":"238f4c4c-9ce7-471c-88a4-999676b47c22","name":"tf-project-awesome-visvesvaraya","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-09T12:15:42.263364Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-10-09T12:15:42.517952123Z","project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"enabled","updated_at":"2023-10-09T12:15:42.517952123Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=238f4c4c-9ce7-471c-88a4-999676b47c22
    method: GET
  response:
    body: '{"created_at":"2023-10-09T12:15:42.517952Z","project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"enabled","updated_at":"2023-10-09T12:15:42.517952Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22","name":"test-mnq-sqs-credentials-basic","permissions":{"can_publish":false,"can_receive":false,"can_manage":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"xCMbZwccKpSYpytM1ry3","created_at":"2023-10-09T12:15:43.852306546Z","id":"37e774b5-39d8-4d4d-b644-d23c7a3cd089","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22","region":"fr-par","secret_checksum":"fccc6695efa3d64b0febb4fe0389229df03db32b","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/37e774b5-39d8-4d4d-b644-d23c7a3cd089
    method: GET
  response:
    body: '{"access_key":"xCMbZwccKpSYpytM1ry3","created_at":"2023-10-09T12:15:43.852306Z","id":"37e774b5-39d8-4d4d-b644-d23c7a3cd089","name":"test-mnq-sqs-credentials-basic","permissions":{"can_manage":false,"can_publish":false,"can_receive":false},"project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22","region":"fr-par","secret_checksum":"fccc6695efa3d64b0febb4fe0389229df03db32b","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"238f4c4c-9ce7-471c-88a4-999676b47c22","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/37e774b5-39d8-4d4d-b644-d23c7a3cd089
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"credential","resource_id":"37e774b5-39d8-4d4d-b644-d23c7a3cd089","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
