---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-lucid-dijkstra","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-20T11:00:45.787466Z","description":"","id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","name":"tf-project-lucid-dijkstra","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-20T11:00:45.787466Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ebd492a5-6224-495d-9ebd-f3b6492e925a
    method: GET
  response:
    body: '{"created_at":"2023-12-20T11:00:45.787466Z","description":"","id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","name":"tf-project-lucid-dijkstra","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-20T11:00:45.787466Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-12-20T11:00:46.093642112Z","project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-20T11:00:46.093642112Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=ebd492a5-6224-495d-9ebd-f3b6492e925a
    method: GET
  response:
    body: '{"created_at":"2023-12-20T11:00:46.093642Z","project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-20T11:00:46.093642Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","name":"tf-sqs-credentials-ecstatic-keller","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"b6agb3HuL8UPVqtG4EHQ","created_at":"2023-12-20T11:00:46.351614529Z","id":"bd7b3d1a-ee02-4d1c-ab92-44cc1593b65f","name":"tf-sqs-credentials-ecstatic-keller","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","region":"fr-par","secret_checksum":"c5975846eecb7f090b6d8a8a81f0d1946581854d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/bd7b3d1a-ee02-4d1c-ab92-44cc1593b65f
    method: GET
  response:
    body: '{"access_key":"b6agb3HuL8UPVqtG4EHQ","created_at":"2023-12-20T11:00:46.351614Z","id":"bd7b3d1a-ee02-4d1c-ab92-44cc1593b65f","name":"tf-sqs-credentials-ecstatic-keller","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","region":"fr-par","secret_checksum":"c5975846eecb7f090b6d8a8a81f0d1946581854d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","VisibilityTimeout":"30"},"QueueName":"test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231220T110046Z
      X-Amz-Target:
      - AmazonSQS.CreateQueue
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-ebd492a5-6224-495d-9ebd-f3b6492e925a/test-mnq-sqs-queue-basic"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - txbbd25e14-8f50-4dc8-b46e-f80b9c57601f
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"AttributeNames":["MaximumMessageSize","MessageRetentionPeriod","FifoQueue","ContentBasedDeduplication","ReceiveMessageWaitTimeSeconds","VisibilityTimeout"],"QueueUrl":"https://sqs.mnq.fr-par.scaleway.com/project-ebd492a5-6224-495d-9ebd-f3b6492e925a/test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231220T110048Z
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"Attributes":{"MaximumMessageSize":"262144","MessageRetentionPeriod":"345600","ReceiveMessageWaitTimeSeconds":"0","VisibilityTimeout":"30"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0; charset=utf-8
      X-Amzn-Requestid:
      - txd78b86fc-33a2-4c37-8fd5-518e1adcc410
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"QueueName":"test-mnq-sqs-queue-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20231220T110102Z
      X-Amz-Target:
      - AmazonSQS.GetQueueUrl
    url: https://sqs.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: '{"__type":"com.scaleway.sqs#AWS.SimpleQueueService.NonExistentQueue","message":"Queue
      \"test-mnq-sqs-queue-basic\" does not exist."}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Query-Error:
      - AWS.SimpleQueueService.NonExistentQueue;Sender
      X-Amzn-Requestid:
      - tx952397ac-2800-49d4-a54a-c1847ffd2c8c
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/ebd492a5-6224-495d-9ebd-f3b6492e925a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"project_id","resource_id":"ebd492a5-6224-495d-9ebd-f3b6492e925a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
