---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-cocky-merkle","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-18T14:59:17.452064Z","description":"","id":"020459c5-973c-43ee-9e5e-3a8991a10b14","name":"tf-project-cocky-merkle","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-18T14:59:17.452064Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/020459c5-973c-43ee-9e5e-3a8991a10b14
    method: GET
  response:
    body: '{"created_at":"2023-12-18T14:59:17.452064Z","description":"","id":"020459c5-973c-43ee-9e5e-3a8991a10b14","name":"tf-project-cocky-merkle","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-18T14:59:17.452064Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-18T14:59:17.904569067Z","project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-18T14:59:17.904569067Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=020459c5-973c-43ee-9e5e-3a8991a10b14
    method: GET
  response:
    body: '{"created_at":"2023-12-18T14:59:17.904569Z","project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-18T14:59:17.904569Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14","name":"tf-sns-credentials-hopeful-hertz","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"Kj2lnFx4X0APEBfGSplB","created_at":"2023-12-18T14:59:18.186816437Z","id":"ce401107-7eb7-4542-87fd-b2840115e99d","name":"tf-sns-credentials-hopeful-hertz","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14","region":"fr-par","secret_checksum":"a20c2bffb9c4c5052adb419aecc92aa323325192","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/ce401107-7eb7-4542-87fd-b2840115e99d
    method: GET
  response:
    body: '{"access_key":"Kj2lnFx4X0APEBfGSplB","created_at":"2023-12-18T14:59:18.186816Z","id":"ce401107-7eb7-4542-87fd-b2840115e99d","name":"tf-sns-credentials-hopeful-hertz","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14","region":"fr-par","secret_checksum":"a20c2bffb9c4c5052adb419aecc92aa323325192","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Attributes:
      - ""
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231218T145918Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a8991a10b14:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txa8aa2ce3-05f0-41b7-b942-cea58ecea7b0</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-020459c5-973c-43ee-9e5e-3a8991a10b14%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a8991a10b14:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231218T145919Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a8991a10b14:test-mnq-sns-topic-basic</value>
                  </entry>
                  <entry>
                      <key>Owner</key>
                      <value>project-020459c5-973c-43ee-9e5e-3a8991a10b14</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>tx0a8c0520-83b4-4077-ad56-48bec95a5539</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=Subscribe&Attributes=&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-020459c5-973c-43ee-9e5e-3a8991a10b14%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - Subscribe
      Attributes:
      - ""
      Endpoint:
      - http://scaleway.com
      Protocol:
      - http
      ReturnSubscriptionArn:
      - "true"
      TopicArn:
      - arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a8991a10b14:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231218T145919Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
              <SubscriptionArn>arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a8991a10b14:test-mnq-sns-topic-basic:72b733d8-e6f1-4b3c-a396-80b4e204bf7b</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
              <RequestId>tx76cf1c02-81af-4a58-bf32-cc17314a2c24</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-020459c5-973c-43ee-9e5e-3a8991a10b14%3Atest-mnq-sns-topic-basic%3A72b733d8-e6f1-4b3c-a396-80b4e204bf7b&Version=2010-03-31
    form:
      Action:
      - GetSubscriptionAttributes
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a8991a10b14:test-mnq-sns-topic-basic:72b733d8-e6f1-4b3c-a396-80b4e204bf7b
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231218T145920Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetSubscriptionAttributesResult>
              <Attributes>
                  <entry>
                      <key>Owner</key>
                      <value>project-020459c5-973c-43ee-9e5e-3a8991a10b14</value>
                  </entry>
                  <entry>
                      <key>RawMessageDelivery</key>
                      <value>false</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a[...]
[...]
- request:
    body: '{"project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"020459c5-973c-43ee-9e5e-3a8991a10b14","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-020459c5-973c-43ee-9e5e-3a8991a10b14%3Atest-mnq-sns-topic-basic%3A72b733d8-e6f1-4b3c-a396-80b4e204bf7b&Version=2010-03-31
    form:
      Action:
      - GetSubscriptionAttributes
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-020459c5-973c-43ee-9e5e-3a8991a10b14:test-mnq-sns-topic-basic:72b733d8-e6f1-4b3c-a396-80b4e204bf7b
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231218T145928Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Sender</Type>
              <Code>AccessDeniedException</Code>
              <Message>You do not have sufficient access to perform this action.</Message>
          </Error>
          <RequestId>txc3231320-36a9-43f8-9306-a848583b811b</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
