---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-competent-noyce","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-10-09T12:15:42.254776Z","description":"","id":"6875deaa-da17-465b-8b0f-ea48795e8042","name":"tf-project-competent-noyce","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-09T12:15:42.254776Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/6875deaa-da17-465b-8b0f-ea48795e8042
    method: GET
  response:
    body: '{"created_at":"2023-10-09T12:15:42.254776Z","description":"","id":"6875deaa-da17-465b-8b0f-ea48795e8042","name":"tf-project-competent-noyce","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-09T12:15:42.254776Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"6875deaa-da17-465b-8b0f-ea48795e8042"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-10-09T12:15:42.518693995Z","project_id":"6875deaa-da17-465b-8b0f-ea48795e8042","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"enabled","updated_at":"2023-10-09T12:15:42.518693995Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=6875deaa-da17-465b-8b0f-ea48795e8042
    method: GET
  response:
    body: '{"created_at":"2023-10-09T12:15:42.518693Z","project_id":"6875deaa-da17-465b-8b0f-ea48795e8042","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"enabled","updated_at":"2023-10-09T12:15:42.518693Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6875deaa-da17-465b-8b0f-ea48795e8042"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"help_message":"SQS is already enabled on this project","message":"resource
      already exists","resource":"MnqSQSNamespace","resource_id":"6875deaa-da17-465b-8b0f-ea48795e8042","type":"already_exists"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: '{"project_id":"6875deaa-da17-465b-8b0f-ea48795e8042"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"6875deaa-da17-465b-8b0f-ea48795e8042","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"6875deaa-da17-465b-8b0f-ea48795e8042"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"details":[{"action":"read","resource":"namespace"}],"message":"insufficient
      permissions","type":"permissions_denied"}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
