---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-agitated-newton","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-12-19T14:30:46.827170Z","description":"","id":"75a5d881-04ff-4f10-841e-f33b196f6815","name":"tf-project-agitated-newton","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-19T14:30:46.827170Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/75a5d881-04ff-4f10-841e-f33b196f6815
    method: GET
  response:
    body: '{"created_at":"2023-12-19T14:30:46.827170Z","description":"","id":"75a5d881-04ff-4f10-841e-f33b196f6815","name":"tf-project-agitated-newton","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-12-19T14:30:46.827170Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"75a5d881-04ff-4f10-841e-f33b196f6815"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sns
    method: POST
  response:
    body: '{"created_at":"2023-12-19T14:30:47.220821310Z","project_id":"75a5d881-04ff-4f10-841e-f33b196f6815","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-19T14:30:47.220821310Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-info?project_id=75a5d881-04ff-4f10-841e-f33b196f6815
    method: GET
  response:
    body: '{"created_at":"2023-12-19T14:30:47.220821Z","project_id":"75a5d881-04ff-4f10-841e-f33b196f6815","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"enabled","updated_at":"2023-12-19T14:30:47.220821Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"75a5d881-04ff-4f10-841e-f33b196f6815","name":"tf-sns-credentials-adoring-raman","permissions":{"can_publish":true,"can_receive":true,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials
    method: POST
  response:
    body: '{"access_key":"CDKQyTvSxgUq3IExBqJE","created_at":"2023-12-19T14:30:47.450609119Z","id":"b3752940-f259-4177-bc58-0a39cc11b0fe","name":"tf-sns-credentials-adoring-raman","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"75a5d881-04ff-4f10-841e-f33b196f6815","region":"fr-par","secret_checksum":"af3a1f1c343a435a7c79ba0fac86d0b4062e580d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sns-credentials/b3752940-f259-4177-bc58-0a39cc11b0fe
    method: GET
  response:
    body: '{"access_key":"CDKQyTvSxgUq3IExBqJE","created_at":"2023-12-19T14:30:47.450609Z","id":"b3752940-f259-4177-bc58-0a39cc11b0fe","name":"tf-sns-credentials-adoring-raman","permissions":{"can_manage":true,"can_publish":true,"can_receive":true},"project_id":"75a5d881-04ff-4f10-841e-f33b196f6815","region":"fr-par","secret_checksum":"af3a1f1c343a435a7c79ba0fac86d0b4062e580d","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateTopic&Attributes=&Name=test-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - CreateTopic
      Attributes:
      - ""
      Name:
      - test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T143047Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
              <TopicArn>arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f33b196f6815:test-mnq-sns-topic-basic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
              <RequestId>txffb05ead-1c37-46ef-954d-fb942de87e20</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetTopicAttributes&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-75a5d881-04ff-4f10-841e-f33b196f6815%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - GetTopicAttributes
      TopicArn:
      - arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f33b196f6815:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T143048Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
              <Attributes>
                  <entry>
                      <key>SubscriptionsPending</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsConfirmed</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>SubscriptionsDeleted</key>
                      <value>0</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f33b196f6815:test-mnq-sns-topic-basic</value>
                  </entry>
                  <entry>
                      <key>Owner</key>
                      <value>project-75a5d881-04ff-4f10-841e-f33b196f6815</value>
                  </entry>
              </Attributes>
          </GetTopicAttributesResult>
          <ResponseMetadata>
              <RequestId>txcc604a87-aae8-44df-bb10-3f02173b35bc</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=Subscribe&Attributes=&Endpoint=http%3A%2F%2Fscaleway.com&Protocol=http&ReturnSubscriptionArn=true&TopicArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-75a5d881-04ff-4f10-841e-f33b196f6815%3Atest-mnq-sns-topic-basic&Version=2010-03-31
    form:
      Action:
      - Subscribe
      Attributes:
      - ""
      Endpoint:
      - http://scaleway.com
      Protocol:
      - http
      ReturnSubscriptionArn:
      - "true"
      TopicArn:
      - arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f33b196f6815:test-mnq-sns-topic-basic
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T143049Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
              <SubscriptionArn>arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f33b196f6815:test-mnq-sns-topic-basic:bec01005-a635-4a6d-bf6c-700fcbe81dbb</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
              <RequestId>tx4bb36968-e1ca-406b-b37d-f09138769d26</RequestId>
          </ResponseMetadata>
      </xmlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-75a5d881-04ff-4f10-841e-f33b196f6815%3Atest-mnq-sns-topic-basic%3Abec01005-a635-4a6d-bf6c-700fcbe81dbb&Version=2010-03-31
    form:
      Action:
      - GetSubscriptionAttributes
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f33b196f6815:test-mnq-sns-topic-basic:bec01005-a635-4a6d-bf6c-700fcbe81dbb
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T143049Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <xmlResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetSubscriptionAttributesResult>
              <Attributes>
                  <entry>
                      <key>Owner</key>
                      <value>project-75a5d881-04ff-4f10-841e-f33b196f6815</value>
                  </entry>
                  <entry>
                      <key>RawMessageDelivery</key>
                      <value>false</value>
                  </entry>
                  <entry>
                      <key>TopicArn</key>
                      <value>arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f3[...]
[...]
- request:
    body: '{"project_id":"75a5d881-04ff-4f10-841e-f33b196f6815"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sns
    method: POST
  response:
    body: '{"created_at":null,"project_id":"75a5d881-04ff-4f10-841e-f33b196f6815","region":"fr-par","sns_endpoint_url":"https://sns.mnq.fr-par.scaleway.com","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=GetSubscriptionAttributes&SubscriptionArn=arn%3Ascw%3Asns%3Afr-par%3Aproject-75a5d881-04ff-4f10-841e-f33b196f6815%3Atest-mnq-sns-topic-basic%3Abec01005-a635-4a6d-bf6c-700fcbe81dbb&Version=2010-03-31
    form:
      Action:
      - GetSubscriptionAttributes
      SubscriptionArn:
      - arn:scw:sns:fr-par:project-75a5d881-04ff-4f10-841e-f33b196f6815:test-mnq-sns-topic-basic:bec01005-a635-4a6d-bf6c-700fcbe81dbb
      Version:
      - "2010-03-31"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231219T143059Z
    url: https://sns.mnq.fr-par.scaleway.com/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
              <Type>Sender</Type>
              <Code>AccessDeniedException</Code>
              <Message>You do not have sufficient access to perform this action.</Message>
          </Error>
          <RequestId>txa8cb0e6f-04f5-4337-a3ec-5d18fbab81b8</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
