---
version: 1
interactions:
- request:
    body: '{"name":"tf-project-agitated-yalow","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-10-09T12:15:42.263734Z","description":"","id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","name":"tf-project-agitated-yalow","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-09T12:15:42.263734Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/563ec02b-b68f-481a-b5e3-ad4cbd5e9835
    method: GET
  response:
    body: '{"created_at":"2023-10-09T12:15:42.263734Z","description":"","id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","name":"tf-project-agitated-yalow","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","updated_at":"2023-10-09T12:15:42.263734Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/activate-sqs
    method: POST
  response:
    body: '{"created_at":"2023-10-09T12:15:42.521966275Z","project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"enabled","updated_at":"2023-10-09T12:15:42.521966275Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-info?project_id=563ec02b-b68f-481a-b5e3-ad4cbd5e9835
    method: GET
  response:
    body: '{"created_at":"2023-10-09T12:15:42.521966Z","project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"enabled","updated_at":"2023-10-09T12:15:42.521966Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","name":"tf-sqs-credentials-vigilant-almeida","permissions":{"can_publish":false,"can_receive":false,"can_manage":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials
    method: POST
  response:
    body: '{"access_key":"nyDTm3FlFVef0dx3Ri1Q","created_at":"2023-10-09T12:15:43.854886645Z","id":"fca0923b-215e-43fd-98a7-a4df31567f16","name":"tf-sqs-credentials-vigilant-almeida","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","region":"fr-par","secret_checksum":"f68da908a51838b7ccd45f91b9017f2087b30869","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/sqs-credentials/fca0923b-215e-43fd-98a7-a4df31567f16
    method: GET
  response:
    body: '{"access_key":"nyDTm3FlFVef0dx3Ri1Q","created_at":"2023-10-09T12:15:43.854886Z","id":"fca0923b-215e-43fd-98a7-a4df31567f16","name":"tf-sqs-credentials-vigilant-almeida","permissions":{"can_manage":true,"can_publish":false,"can_receive":false},"project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","region":"fr-par","secret_checksum":"f68da908a51838b7ccd45f91b9017f2087b30869","secret_key":"00000000-0000-0000-0000-000000000000","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=CreateQueue&Attribute.1.Name=MaximumMessageSize&Attribute.1.Value=262144&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=345600&Attribute.3.Name=VisibilityTimeout&Attribute.3.Value=30&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - CreateQueue
      Attribute.1.Name:
      - MaximumMessageSize
      Attribute.1.Value:
      - "262144"
      Attribute.2.Name:
      - MessageRetentionPeriod
      Attribute.2.Value:
      - "345600"
      Attribute.3.Name:
      - VisibilityTimeout
      Attribute.3.Value:
      - "30"
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231009T121543Z
    url: https://sqs.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <CreateQueueResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/project-563ec02b-b68f-481a-b5e3-ad4cbd5e9835/test-mnq-sqs-queue-basic</QueueUrl>
          </CreateQueueResult>
          <ResponseMetadata>
              <RequestId>tx069a3fbc-2d9c-4f7e-8f65-115eb459409b</RequestId>
          </ResponseMetadata>
      </CreateQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231009T121545Z
    url: https://sqs.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueUrlResult>
              <QueueUrl>https://sqs.mnq.fr-par.scw.cloud/project-563ec02b-b68f-481a-b5e3-ad4cbd5e9835/test-mnq-sqs-queue-basic</QueueUrl>
          </GetQueueUrlResult>
          <ResponseMetadata>
              <RequestId>txfa1c70a1-6365-4c55-ae25-2337fc84531c</RequestId>
          </ResponseMetadata>
      </GetQueueUrlResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueAttributes&AttributeName.1=VisibilityTimeout&AttributeName.2=MaximumMessageSize&AttributeName.3=MessageRetentionPeriod&AttributeName.4=FifoQueue&AttributeName.5=ContentBasedDeduplication&AttributeName.6=ReceiveMessageWaitTimeSeconds&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2Fproject-563ec02b-b68f-481a-b5e3-ad4cbd5e9835%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueAttributes
      AttributeName.1:
      - VisibilityTimeout
      AttributeName.2:
      - MaximumMessageSize
      AttributeName.3:
      - MessageRetentionPeriod
      AttributeName.4:
      - FifoQueue
      AttributeName.5:
      - ContentBasedDeduplication
      AttributeName.6:
      - ReceiveMessageWaitTimeSeconds
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/project-563ec02b-b68f-481a-b5e3-ad4cbd5e9835/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231009T121545Z
    url: https://sqs.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <GetQueueAttributesResult>
              <Attribute>
                  <Name>VisibilityTimeout</Name>
                  <Value>30</Value>
              </Attribute>
              <Attribute>
                  <Name>MaximumMessageSize</Name>
                  <Value>262144</Value>
              </Attribute>
              <Attribute>
                  <Name>MessageRetentionPeriod</Name>
                  <Value>345600</Value>
              </Attribute>
              <Attribute>
                  <Name>ReceiveMessageWaitTimeSeconds</Name>
                  <Value>0</Value>
              </Attribute>
          </GetQueueAttributesResult>
          <ResponseMetadata>
              <RequestId>tx5ef8636a-3100-4553-972b-dc39095dd341</RequestId>
          </ResponseMetadata>
      </GetQueueAttributesResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.mnq.fr-par.scw.cloud%2Fproject-563ec02b-b68f-481a-b5e3-ad4cbd5e9835%2Ftest-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - DeleteQueue
      QueueUrl:
      - https://sqs.mnq.fr-par.scw.cloud/project-563ec02b-b68f-481a-b5e3-ad4cbd5e9835/test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231009T121548Z
    url: https://sqs.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/">
          <ResponseMetadata>
              <RequestId>tx4dc058d5-e8d1-483c-8ed5-52fb49a0c224</RequestId>
          </ResponseMetadata>
      </DeleteQueueResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Action=GetQueueUrl&QueueName=test-mnq-sqs-queue-basic&Version=2012-11-05
    form:
      Action:
      - GetQueueUrl
      QueueName:
      - test-mnq-sqs-queue-basic
      Version:
      - "2012-11-05"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231009T121548Z
    url: https://sqs.mnq.fr-par.scw.cloud/
    method: POST
  response:
    body: |
      <ErrorResponse xmlns="">
          <Error>
              <Type>Sender</Type>
              <Code>AWS.SimpleQueueService.NonExistentQueue</Code>
              <Message>Queue &#34;test-mnq-sqs-queue-basic&#34; does not exist.</Message>
          </Error>
          <RequestId>tx921db089-e1c1-4ce9-b6a2-78c80e1499af</RequestId>
      </ErrorResponse>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/mnq/v1beta1/regions/fr-par/deactivate-sqs
    method: POST
  response:
    body: '{"created_at":null,"project_id":"563ec02b-b68f-481a-b5e3-ad4cbd5e9835","region":"fr-par","sqs_endpoint_url":"https://sqs.mnq.fr-par.scw.cloud","status":"disabled","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
