---
version: 1
interactions:
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>fr-par</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=SCWK721NRK9BFRHW1CS7/20220214/fr-par/s3/aws4_request,
        SignedHeaders=content-length;host;x-amz-acl;x-amz-content-sha256;x-amz-date,
        Signature=7232095d12d75734c582f0378e2c9fb21b665e610b044333a079225750077efd
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - 2cb57fad7b7168921a4c94426cfcb9ee2953f126430595df844e22d50f029060
      X-Amz-Date:
      - 20220214T110416Z
    url: https://s3.fr-par.scw.cloud/test-acc-scaleway-object-bucket-destroy-force-delete-8205513653202540679
    method: PUT
  response:
    body: |-
      <?xml version='1.0' encoding='UTF-8'?>
      <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><RequestId>tx6293f1e3063a45da8691f-00620a3736</RequestId><BucketName>test-acc-scaleway-object-bucket-destroy-force-delete-8205513653202540679</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - tx6293f1e3063a45da8691f-00620a3736
    status: 400 Bad Request
    code: 400
    duration: ""
