---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayProvider_SSHKeys","public_key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX
      opensource@scaleway.com","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v2alpha1/ssh-keys
    method: POST
  response:
    body: '{"id":"a9d6ffdf-fad8-4257-a92c-912cf8345509","name":"TestAccScalewayProvider_SSHKeys","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-17T12:19:40.568916Z","updated_at":"2022-06-17T12:19:40.568916Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/a9d6ffdf-fad8-4257-a92c-912cf8345509
    method: GET
  response:
    body: '{"id":"a9d6ffdf-fad8-4257-a92c-912cf8345509","name":"TestAccScalewayProvider_SSHKeys","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-17T12:19:40.568916Z","updated_at":"2022-06-17T12:19:40.568916Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/85f20ee0-87d8-4541-9680-893c26022017
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"85f20ee0-87d8-4541-9680-893c26022017","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
