---
version: 1
interactions:
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips
    method: POST
  response:
    body: '{"ip": {"id": "07eae38f-a230-4586-9d58-1d1476f2d07b", "address": "51.159.151.134",
      "reverse": null, "server": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-2", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/07eae38f-a230-4586-9d58-1d1476f2d07b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/07eae38f-a230-4586-9d58-1d1476f2d07b
    method: GET
  response:
    body: '{"ip": {"id": "07eae38f-a230-4586-9d58-1d1476f2d07b", "address": "51.159.151.134",
      "reverse": null, "server": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-2", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
