---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/a28bd68c-669b-4155-9f35-6782aa828ce3
    method: GET
  response:
    body: '{"id":"a28bd68c-669b-4155-9f35-6782aa828ce3","name":"TestAccScalewayProvider_SSHKeys","public_key":"ssh-ed25519
      AAAAC3NzaC1lZDI1NTE5AAAAIEEYrzDOZmhItdKaDAEqJQ4ORS2GyBMtBozYsK5kiXXX opensource@scaleway.com","fingerprint":"256
      MD5:94:db:c3:76:58:e4:37:0a:ce:30:ae:ad:7d:86:b1:f0 opensource@scaleway.com
      (ssh-ed25519)","created_at":"2022-06-17T11:29:25.097085Z","updated_at":"2022-06-17T11:29:25.097085Z","creation_info":{"address":"","user_agent":"","country_code":""},"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v2alpha1/ssh-key/a28bd68c-669b-4155-9f35-6782aa828ce3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ssh_key_id","resource_id":"a28bd68c-669b-4155-9f35-6782aa828ce3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
