---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/ips/d43fbc71-eea1-4d2d-8ef9-1186d3adcacd
    method: GET
  response:
    body: '{"ip": {"id": "d43fbc71-eea1-4d2d-8ef9-1186d3adcacd", "address": "51.159.173.41",
      "reverse": null, "server": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-2", "tags":
      []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
