---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-cranky-napier","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T21:45:29.011169Z","dhcp_enabled":false,"id":"4004d1f4-b86f-4be4-b2f9-57247f524ecd","name":"tf-pn-cranky-napier","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T21:45:29.011169Z","id":"69bcd0a1-853d-4be8-a2c0-731652d10d1e","subnet":"172.16.12.0/22","updated_at":"2023-07-11T21:45:29.011169Z"},{"created_at":"2023-07-11T21:45:29.011169Z","id":"b05f769c-e808-4cce-8d48-1b7dccd2124b","subnet":"fd46:78ab:30b8:a006::/64","updated_at":"2023-07-11T21:45:29.011169Z"}],"tags":[],"updated_at":"2023-07-11T21:45:29.011169Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4004d1f4-b86f-4be4-b2f9-57247f524ecd
    method: GET
  response:
    body: '{"created_at":"2023-07-11T21:45:29.011169Z","dhcp_enabled":false,"id":"4004d1f4-b86f-4be4-b2f9-57247f524ecd","name":"tf-pn-cranky-napier","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T21:45:29.011169Z","id":"69bcd0a1-853d-4be8-a2c0-731652d10d1e","subnet":"172.16.12.0/22","updated_at":"2023-07-11T21:45:29.011169Z"},{"created_at":"2023-07-11T21:45:29.011169Z","id":"b05f769c-e808-4cce-8d48-1b7dccd2124b","subnet":"fd46:78ab:30b8:a006::/64","updated_at":"2023-07-11T21:45:29.011169Z"}],"tags":[],"updated_at":"2023-07-11T21:45:29.011169Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-rr-pn","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T21:45:29.212149Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"7a7b20fe-889b-40e3-8499-4ad885ab9489","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7a7b20fe-889b-40e3-8499-4ad885ab9489
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T21:45:29.212149Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"7a7b20fe-889b-40e3-8499-4ad885ab9489","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7a7b20fe-889b-40e3-8499-4ad885ab9489
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T21:45:29.212149Z","endpoint":{"id":"1ba2ad1a-9e7c-4e44-8385-40c69a3ee16a","ip":"195.154.71.232","load_balancer":{},"name":null,"port":21349},"endpoints":[{"id":"1ba2ad1a-9e7c-4e44-8385-40c69a3ee16a","ip":"195.154.71.232","load_balancer":{},"name":null,"port":21349}],"engine":"PostgreSQL-14","id":"7a7b20fe-889b-40e3-8499-4ad885ab9489","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7a7b20fe-889b-40e3-8499-4ad885ab9489/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwekNDQW8rZ0F3SUJBZ0lVYVhlZlA0elRwUHE4N1NoRExlQVhWNFVPVnFNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFNU5TNHhOVFF1TnpFdU1qTXlNQjRYCkRUSXpNRGN4TVRJeE5EWXdOMW9YRFRNek1EY3dPREl4TkRZd04xb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakU1TlM0eE5[...]
- request:
    body: '{"instance_id":"7a7b20fe-889b-40e3-8499-4ad885ab9489","endpoint_spec":[{"private_network":{"private_network_id":"4004d1f4-b86f-4be4-b2f9-57247f524ecd","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"b7f121fd-3b51-4050-af17-55aed239b97b","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"4004d1f4-b86f-4be4-b2f9-57247f524ecd","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"594b1e44-0660-4c1c-9c68-54c3f5eac8a6","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/594b1e44-0660-4c1c-9c68-54c3f5eac8a6
    method: GET
  response:
    body: '{"endpoints":[{"id":"b7f121fd-3b51-4050-af17-55aed239b97b","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"4004d1f4-b86f-4be4-b2f9-57247f524ecd","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"594b1e44-0660-4c1c-9c68-54c3f5eac8a6","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/594b1e44-0660-4c1c-9c68-54c3f5eac8a6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
