---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":["tag0","tag1","rdb_pn"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"b81f09c6-440b-4d85-a8cb-66641f44ea55","name":"my_private_network","tags":["tag0","tag1","rdb_pn"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-29T12:48:12.540330Z","updated_at":"2021-10-29T12:48:12.540330Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b81f09c6-440b-4d85-a8cb-66641f44ea55
    method: GET
  response:
    body: '{"id":"b81f09c6-440b-4d85-a8cb-66641f44ea55","name":"my_private_network","tags":["tag0","tag1","rdb_pn"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-29T12:48:12.540330Z","updated_at":"2021-10-29T12:48:12.540330Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"b81f09c6-440b-4d85-a8cb-66641f44ea55","service_ip":"192.168.1.42/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"d95640eb-67c1-4537-8100-8148db5a140c","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"26917f06-b5c5-44a5-b8b0-a353daf684e0","private_network":{"private_network_id":"b81f09c6-440b-4d85-a8cb-66641f44ea55","service_ip":"192.168.1.42/24","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-29T12:48:51.802953Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95640eb-67c1-4537-8100-8148db5a140c
    method: GET
  response:
    body: '{"id":"d95640eb-67c1-4537-8100-8148db5a140c","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"26917f06-b5c5-44a5-b8b0-a353daf684e0","private_network":{"private_network_id":"b81f09c6-440b-4d85-a8cb-66641f44ea55","service_ip":"192.168.1.42/24","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-29T12:48:51.802953Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95640eb-67c1-4537-8100-8148db5a140c
    method: GET
  response:
    body: '{"id":"d95640eb-67c1-4537-8100-8148db5a140c","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"initializing","engine":"PostgreSQL-11","endpoint":{"ip":"51.159.25.40","port":58100,"name":null,"id":"cdf46b2f-303e-4cb6-b704-89ea5a47f57c","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.159.25.40","port":58100,"name":null,"id":"cdf46b2f-303e-4cb6-b704-89ea5a47f57c","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"26917f06-b5c5-44a5-b8b0-a353daf684e0","private_network":{"private_network_id":"b81f09c6-440b-4d85-a8cb-66641f44ea55","service_ip":"192.168.1.42/24","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-29T12:48:51.802953Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95640eb-67c1-4537-8100-8148db5a140c/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVR3lUNDBCTWZSMEtIZlB3Wmh5bFYzSWJzcTM0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWtPVFUyTkRCbFlpMDJOMk14CkxUUTFNemN0T0RFd01DMDRNVFE0WkdJMVlURTBNR011Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1ESTVNVEkxTURJM1doY05NekV4TURJM01USTFNREkzV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95640eb-67c1-4537-8100-8148db5a140c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"d95640eb-67c1-4537-8100-8148db5a140c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
