---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:04:35.454808Z","dhcp_enabled":true,"id":"30c49e55-33fc-46fb-a9cd-c3ee2a607920","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-16T16:04:35.454808Z","id":"7f8db8ed-f824-48b6-9b65-71b848a000e9","subnet":"172.16.4.0/22","updated_at":"2023-11-16T16:04:35.454808Z"},{"created_at":"2023-11-16T16:04:35.454808Z","id":"0035eb7c-49b0-4c15-9c10-bd05364f8dc7","subnet":"fd68:d440:21c4:853::/64","updated_at":"2023-11-16T16:04:35.454808Z"}],"tags":[],"updated_at":"2023-11-16T16:04:35.454808Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/30c49e55-33fc-46fb-a9cd-c3ee2a607920
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:04:35.454808Z","dhcp_enabled":true,"id":"30c49e55-33fc-46fb-a9cd-c3ee2a607920","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-16T16:04:35.454808Z","id":"7f8db8ed-f824-48b6-9b65-71b848a000e9","subnet":"172.16.4.0/22","updated_at":"2023-11-16T16:04:35.454808Z"},{"created_at":"2023-11-16T16:04:35.454808Z","id":"0035eb7c-49b0-4c15-9c10-bd05364f8dc7","subnet":"fd68:d440:21c4:853::/64","updated_at":"2023-11-16T16:04:35.454808Z"}],"tags":[],"updated_at":"2023-11-16T16:04:35.454808Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"30c49e55-33fc-46fb-a9cd-c3ee2a607920","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:04:38.147667Z","endpoint":null,"endpoints":[{"id":"29e07304-c1bc-4798-8ac2-2798808c5491","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"30c49e55-33fc-46fb-a9cd-c3ee2a607920","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"8c67950e-f5d5-4216-b15b-f56d92978839","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8c67950e-f5d5-4216-b15b-f56d92978839
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:04:38.147667Z","endpoint":null,"endpoints":[{"id":"29e07304-c1bc-4798-8ac2-2798808c5491","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"30c49e55-33fc-46fb-a9cd-c3ee2a607920","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"8c67950e-f5d5-4216-b15b-f56d92978839","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8c67950e-f5d5-4216-b15b-f56d92978839
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:04:38.147667Z","endpoint":null,"endpoints":[{"id":"29e07304-c1bc-4798-8ac2-2798808c5491","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"30c49e55-33fc-46fb-a9cd-c3ee2a607920","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"8c67950e-f5d5-4216-b15b-f56d92978839","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8c67950e-f5d5-4216-b15b-f56d92978839
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:04:38.147667Z","endpoint":{"id":"b38d85e3-e930-4caf-9f51-48f047ffb248","ip":"51.158.210.239","load_balancer":{},"name":null,"port":9214},"endpoints":[{"id":"29e07304-c1bc-4798-8ac2-2798808c5491","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"30c49e55-33fc-46fb-a9cd-c3ee2a607920","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}},{"id":"b38d85e3-e930-4caf-9f51-48f047ffb248","ip":"51.158.210.239","load_balancer":{},"name":null,"port":9214}],"engine":"PostgreSQL-15","id":"8c67950e-f5d5-4216-b15b-f56d92978839","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8c67950e-f5d5-4216-b15b-f56d92978839/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR0ekNDQXArZ0F3SUJBZ0lVS0pKM01lenBUSGswN3diTTFoRkhNNXpod2xrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck16RXhNVFl4TmpBM016SmFGdzB6TXpFeE1UTXhOakEzTXpKYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/29e07304-c1bc-4798-8ac2-2798808c5491
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"e1c1cc9f-8250-4b9a-ab3e-d0797377830d","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8c67950e-f5d5-4216-b15b-f56d92978839/endpoints
    method: POST
  response:
    body: '{"id":"b631c620-93f7-4b49-92e4-432265f98519","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"e1c1cc9f-8250-4b9a-ab3e-d0797377830d","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-16T16:09:19.561563Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a4e8afef-1cbb-4a94-b1ce-0311aa373f0c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T16:09:19.561563Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/a4e8afef-1cbb-4a94-b1ce-0311aa373f0c
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-16T16:09:19.561563Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a4e8afef-1cbb-4a94-b1ce-0311aa373f0c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T16:09:19.561563Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.158.184.172","created_at":"2023-11-16T16:09:20.244253Z","gateway_id":null,"id":"2b85bdad-4619-44b8-8daf-9f00058635ee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"172-184-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T16:09:20.244253Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/2b85bdad-4619-44b8-8daf-9f00058635ee
    method: GET
  response:
    body: '{"address":"51.158.184.172","created_at":"2023-11-16T16:09:20.244253Z","gateway_id":null,"id":"2b85bdad-4619-44b8-8daf-9f00058635ee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"172-184-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T16:09:20.244253Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"2b85bdad-4619-44b8-8daf-9f00058635ee","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-16T16:09:20.414356Z","gateway_networks":[],"id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","ip":{"address":"51.158.184.172","created_at":"2023-11-16T16:09:20.244253Z","gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","id":"2b85bdad-4619-44b8-8daf-9f00058635ee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"172-184-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T16:09:20.244253Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-16T16:09:20.414356Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-16T16:09:20.414356Z","gateway_networks":[],"id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","ip":{"address":"51.158.184.172","created_at":"2023-11-16T16:09:20.244253Z","gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","id":"2b85bdad-4619-44b8-8daf-9f00058635ee","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"172-184-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T16:09:20.244253Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-16T16:09:20.479854Z","upstream_dns_servers":[],"version":"0.6.1","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","private_network_id":"e1c1cc9f-8250-4b9a-ab3e-d0797377830d","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"a4e8afef-1cbb-4a94-b1ce-0311aa373f0c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-16T16:09:26.751469Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-16T16:09:19.561563Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a4e8afef-1cbb-4a94-b1ce-0311aa373f0c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T16:09:19.561563Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","id":"de5320ad-a47d-40e5-8d39-a96716925d78","ipam_config":null,"mac_address":null,"private_network_id":"e1c1cc9f-8250-4b9a-ab3e-d0797377830d","status":"created","updated_at":"2023-11-16T16:09:26.751469Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/de5320ad-a47d-40e5-8d39-a96716925d78
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-16T16:09:26.751469Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-16T16:09:19.561563Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a4e8afef-1cbb-4a94-b1ce-0311aa373f0c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T16:09:19.561563Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","id":"de5320ad-a47d-40e5-8d39-a96716925d78","ipam_config":null,"mac_address":"02:00:00:11:F7:AE","private_network_id":"e1c1cc9f-8250-4b9a-ab3e-d0797377830d","status":"ready","updated_at":"2023-11-16T16:09:36.427810Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:09:37.797098Z","gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","id":"add96378-fd5e-461f-a654-92d297747e27","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-16T16:09:37.797098Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/add96378-fd5e-461f-a654-92d297747e27
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:09:37.797098Z","gateway_id":"c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab","id":"add96378-fd5e-461f-a654-92d297747e27","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-16T16:09:37.797098Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/de5320ad-a47d-40e5-8d39-a96716925d78?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/de5320ad-a47d-40e5-8d39-a96716925d78
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"de5320ad-a47d-40e5-8d39-a96716925d78","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/c7c5316d-1dd7-4fdb-8e38-859c2dc2f0ab?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
