---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-10-20T16:00:15.998031Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1ecb07a7-844b-458e-a893-be410ea56490","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:00:15.998031Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/1ecb07a7-844b-458e-a893-be410ea56490
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-10-20T16:00:15.998031Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1ecb07a7-844b-458e-a893-be410ea56490","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:00:15.998031Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.103.31","created_at":"2023-10-20T16:00:16.377351Z","gateway_id":null,"id":"2cf2fb1a-dc30-4838-881b-4d9639e53108","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"31-103-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:00:16.377351Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/2cf2fb1a-dc30-4838-881b-4d9639e53108
    method: GET
  response:
    body: '{"address":"51.15.103.31","created_at":"2023-10-20T16:00:16.377351Z","gateway_id":null,"id":"2cf2fb1a-dc30-4838-881b-4d9639e53108","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"31-103-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:00:16.377351Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"2cf2fb1a-dc30-4838-881b-4d9639e53108","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-20T16:00:16.659798Z","gateway_networks":[],"id":"70f4a360-5c98-4da0-90f8-33534072da05","ip":{"address":"51.15.103.31","created_at":"2023-10-20T16:00:16.377351Z","gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","id":"2cf2fb1a-dc30-4838-881b-4d9639e53108","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"31-103-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:00:16.377351Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-10-20T16:00:16.659798Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/70f4a360-5c98-4da0-90f8-33534072da05
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-20T16:00:16.659798Z","gateway_networks":[],"id":"70f4a360-5c98-4da0-90f8-33534072da05","ip":{"address":"51.15.103.31","created_at":"2023-10-20T16:00:16.377351Z","gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","id":"2cf2fb1a-dc30-4838-881b-4d9639e53108","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"31-103-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:00:16.377351Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-10-20T16:00:16.721377Z","upstream_dns_servers":[],"version":"0.6.0","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T16:00:15.991080Z","dhcp_enabled":true,"id":"842ffa16-429a-4504-83a5-17f6c7633931","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-10-20T16:00:15.991080Z","id":"97f2ce37-69b4-4668-89f6-009be46ff1e4","subnet":"172.16.16.0/22","updated_at":"2023-10-20T16:00:15.991080Z"},{"created_at":"2023-10-20T16:00:15.991080Z","id":"3350edd7-5e16-40d0-be33-ee90ccce8393","subnet":"fd68:d440:21c4:62ce::/64","updated_at":"2023-10-20T16:00:15.991080Z"}],"tags":[],"updated_at":"2023-10-20T16:00:15.991080Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/842ffa16-429a-4504-83a5-17f6c7633931
    method: GET
  response:
    body: '{"created_at":"2023-10-20T16:00:15.991080Z","dhcp_enabled":true,"id":"842ffa16-429a-4504-83a5-17f6c7633931","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-10-20T16:00:15.991080Z","id":"97f2ce37-69b4-4668-89f6-009be46ff1e4","subnet":"172.16.16.0/22","updated_at":"2023-10-20T16:00:15.991080Z"},{"created_at":"2023-10-20T16:00:15.991080Z","id":"3350edd7-5e16-40d0-be33-ee90ccce8393","subnet":"fd68:d440:21c4:62ce::/64","updated_at":"2023-10-20T16:00:15.991080Z"}],"tags":[],"updated_at":"2023-10-20T16:00:15.991080Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"842ffa16-429a-4504-83a5-17f6c7633931","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:00:18.086500Z","endpoint":null,"endpoints":[{"id":"be00b33e-a6b1-4468-b534-a3921b4dda3c","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"842ffa16-429a-4504-83a5-17f6c7633931","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"7d389d69-f98f-4145-b686-6df64b6fe5f4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7d389d69-f98f-4145-b686-6df64b6fe5f4
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:00:18.086500Z","endpoint":null,"endpoints":[{"id":"be00b33e-a6b1-4468-b534-a3921b4dda3c","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"842ffa16-429a-4504-83a5-17f6c7633931","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"7d389d69-f98f-4145-b686-6df64b6fe5f4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","private_network_id":"842ffa16-429a-4504-83a5-17f6c7633931","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"1ecb07a7-844b-458e-a893-be410ea56490"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-10-20T16:00:24.579267Z","dhcp":{"address":"192.168.1.1","created_at":"2023-10-20T16:00:15.998031Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1ecb07a7-844b-458e-a893-be410ea56490","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:00:15.998031Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","id":"6be64811-513c-49cc-bb48-b5509f5fa44c","ipam_config":null,"mac_address":null,"private_network_id":"842ffa16-429a-4504-83a5-17f6c7633931","status":"created","updated_at":"2023-10-20T16:00:24.579267Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/6be64811-513c-49cc-bb48-b5509f5fa44c
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-10-20T16:00:24.579267Z","dhcp":{"address":"192.168.1.1","created_at":"2023-10-20T16:00:15.998031Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1ecb07a7-844b-458e-a893-be410ea56490","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:00:15.998031Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","id":"6be64811-513c-49cc-bb48-b5509f5fa44c","ipam_config":null,"mac_address":"02:00:00:11:D8:03","private_network_id":"842ffa16-429a-4504-83a5-17f6c7633931","status":"ready","updated_at":"2023-10-20T16:00:31.970952Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7d389d69-f98f-4145-b686-6df64b6fe5f4
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:00:18.086500Z","endpoint":{"id":"65057d36-9aa8-429e-8415-96246bd83776","ip":"51.158.129.26","load_balancer":{},"name":null,"port":13700},"endpoints":[{"id":"be00b33e-a6b1-4468-b534-a3921b4dda3c","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"842ffa16-429a-4504-83a5-17f6c7633931","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}},{"id":"65057d36-9aa8-429e-8415-96246bd83776","ip":"51.158.129.26","load_balancer":{},"name":null,"port":13700}],"engine":"PostgreSQL-15","id":"7d389d69-f98f-4145-b686-6df64b6fe5f4","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7d389d69-f98f-4145-b686-6df64b6fe5f4/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR1VENDQXFHZ0F3SUJBZ0lVY0puZEtPdytzZktveExpZWQwWjZqMUFFZ2lFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qTXhNREl3TVRZd01USTFXaGNOTXpNeE1ERTNNVFl3TVRJMVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
- request:
    body: '{"gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-10-20T16:03:20.725429Z","gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","id":"3513169c-6393-4a83-bfbb-5705212d8e65","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-10-20T16:03:20.725429Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/3513169c-6393-4a83-bfbb-5705212d8e65
    method: GET
  response:
    body: '{"created_at":"2023-10-20T16:03:20.725429Z","gateway_id":"70f4a360-5c98-4da0-90f8-33534072da05","id":"3513169c-6393-4a83-bfbb-5705212d8e65","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-10-20T16:03:20.725429Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/6be64811-513c-49cc-bb48-b5509f5fa44c?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null,"backup_schedule_start_hour":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7d389d69-f98f-4145-b686-6df64b6fe5f4
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:00:18.086500Z","endpoint":{"id":"65057d36-9aa8-429e-8415-96246bd83776","ip":"51.158.129.26","load_balancer":{},"name":null,"port":13700},"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/be00b33e-a6b1-4468-b534-a3921b4dda3c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/6be64811-513c-49cc-bb48-b5509f5fa44c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"6be64811-513c-49cc-bb48-b5509f5fa44c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/70f4a360-5c98-4da0-90f8-33534072da05?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
