---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:53:33.283003Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"850d14ec-f511-43b2-91cf-52a19f059552","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/850d14ec-f511-43b2-91cf-52a19f059552
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:53:33.283003Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"850d14ec-f511-43b2-91cf-52a19f059552","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-silly-nobel","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-02T18:53:32.999053Z","dhcp_enabled":true,"id":"89c22642-6cdb-40c2-9b9c-2f582f322f59","name":"tf-pn-silly-nobel","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:53:32.999053Z","id":"9258e348-06a6-4cef-b394-bb246b05afc3","subnet":"172.16.12.0/22","updated_at":"2023-11-02T18:53:32.999053Z"},{"created_at":"2023-11-02T18:53:32.999053Z","id":"819c14be-d6ae-4bd2-bd41-e892578291d1","subnet":"fd63:256c:45f7:cd3f::/64","updated_at":"2023-11-02T18:53:32.999053Z"}],"tags":[],"updated_at":"2023-11-02T18:53:32.999053Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/89c22642-6cdb-40c2-9b9c-2f582f322f59
    method: GET
  response:
    body: '{"created_at":"2023-11-02T18:53:32.999053Z","dhcp_enabled":true,"id":"89c22642-6cdb-40c2-9b9c-2f582f322f59","name":"tf-pn-silly-nobel","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:53:32.999053Z","id":"9258e348-06a6-4cef-b394-bb246b05afc3","subnet":"172.16.12.0/22","updated_at":"2023-11-02T18:53:32.999053Z"},{"created_at":"2023-11-02T18:53:32.999053Z","id":"819c14be-d6ae-4bd2-bd41-e892578291d1","subnet":"fd63:256c:45f7:cd3f::/64","updated_at":"2023-11-02T18:53:32.999053Z"}],"tags":[],"updated_at":"2023-11-02T18:53:32.999053Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/850d14ec-f511-43b2-91cf-52a19f059552
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:53:33.283003Z","endpoint":{"id":"1f44e058-95da-4e08-b347-9a4da0096f44","ip":"51.159.25.65","load_balancer":{},"name":null,"port":2450},"endpoints":[{"id":"1f44e058-95da-4e08-b347-9a4da0096f44","ip":"51.159.25.65","load_balancer":{},"name":null,"port":2450}],"engine":"PostgreSQL-15","id":"850d14ec-f511-43b2-91cf-52a19f059552","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/850d14ec-f511-43b2-91cf-52a19f059552/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURvVENDQW9tZ0F3SUJBZ0lVS29nZUFRenhWNGdrQ3ZkbThmVzJacUxhVlFnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERVeExqRTFPUzR5TlM0Mk5UQWVGdzB5Ck16RXhNREl4T0RVME1USmFGdzB6TXpFd016QXhPRFUwTVRKYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBdzFNUzR4TlRrdU1[...]
- request:
    body: '{"instance_id":"850d14ec-f511-43b2-91cf-52a19f059552","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"89c22642-6cdb-40c2-9b9c-2f582f322f59","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"3a8e8cc5-8756-4597-a8e4-35711430bc50","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"89c22642-6cdb-40c2-9b9c-2f582f322f59","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"6cea2b9c-7d4c-4f0e-b40f-6d169cd1e042","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6cea2b9c-7d4c-4f0e-b40f-6d169cd1e042
    method: GET
  response:
    body: '{"endpoints":[{"id":"3a8e8cc5-8756-4597-a8e4-35711430bc50","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"89c22642-6cdb-40c2-9b9c-2f582f322f59","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"6cea2b9c-7d4c-4f0e-b40f-6d169cd1e042","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/6cea2b9c-7d4c-4f0e-b40f-6d169cd1e042
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"6cea2b9c-7d4c-4f0e-b40f-6d169cd1e042","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
