---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"test-rdb-endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:10:15.574321Z","dhcp_enabled":true,"id":"f21ee77a-b1cf-4bc7-8df8-09daf0824272","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:10:15.574321Z","id":"fb7b6fcf-52e0-4d6f-bd6c-ca553e38155f","subnet":"172.16.124.0/22","updated_at":"2023-12-18T13:10:15.574321Z"},{"created_at":"2023-12-18T13:10:15.574321Z","id":"a5d27e66-d1c7-4ded-96b0-711453e14fec","subnet":"fd5f:519c:6d46:f731::/64","updated_at":"2023-12-18T13:10:15.574321Z"}],"tags":[],"updated_at":"2023-12-18T13:10:15.574321Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f21ee77a-b1cf-4bc7-8df8-09daf0824272
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:10:15.574321Z","dhcp_enabled":true,"id":"f21ee77a-b1cf-4bc7-8df8-09daf0824272","name":"test-rdb-endpoints","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:10:15.574321Z","id":"fb7b6fcf-52e0-4d6f-bd6c-ca553e38155f","subnet":"172.16.124.0/22","updated_at":"2023-12-18T13:10:15.574321Z"},{"created_at":"2023-12-18T13:10:15.574321Z","id":"a5d27e66-d1c7-4ded-96b0-711453e14fec","subnet":"fd5f:519c:6d46:f731::/64","updated_at":"2023-12-18T13:10:15.574321Z"}],"tags":[],"updated_at":"2023-12-18T13:10:15.574321Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"f21ee77a-b1cf-4bc7-8df8-09daf0824272","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:10:17.123764Z","endpoint":null,"endpoints":[{"id":"dbd79c5f-682c-4cc5-9b3a-7bae6e683cde","ip":"172.16.124.2","name":null,"port":5432,"private_network":{"private_network_id":"f21ee77a-b1cf-4bc7-8df8-09daf0824272","service_ip":"172.16.124.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:10:17.123764Z","endpoint":null,"endpoints":[{"id":"dbd79c5f-682c-4cc5-9b3a-7bae6e683cde","ip":"172.16.124.2","name":null,"port":5432,"private_network":{"private_network_id":"f21ee77a-b1cf-4bc7-8df8-09daf0824272","service_ip":"172.16.124.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:10:17.123764Z","endpoint":null,"endpoints":[{"id":"dbd79c5f-682c-4cc5-9b3a-7bae6e683cde","ip":"172.16.124.2","name":null,"port":5432,"private_network":{"private_network_id":"f21ee77a-b1cf-4bc7-8df8-09daf0824272","service_ip":"172.16.124.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","test_endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVVWhvakVVSVdISTJEZWZpWEtRQVpleVRLdFdjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFM01pNHhOaTR4TWpRdU1qQWVGdzB5Ck16RXlNVGd4TXpFeE1qWmFGdzB6TXpFeU1UVXhNekV4TWpaYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hOekl1TVRZdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.124.2/22","created_at":"2023-12-18T13:10:17.549784Z","id":"25e87fef-5f03-497f-b598-65be1e2ca3c4","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e","mac_address":"02:00:00:15:AA:0D","name":"test-rdb-endpoints","type":"rdb_instance"},"source":{"subnet_id":"fb7b6fcf-52e0-4d6f-bd6c-ca553e38155f"},"tags":["managed","scwdbaas"],"updated_at":"2023-12-18T13:10:54.666693Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"load_balancer":{}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e/endpoints
    method: POST
  response:
    body: '{"id":"","name":null,"port":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/dbd79c5f-682c-4cc5-9b3a-7bae6e683cde
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"9f6e5a34-73e3-4419-8bd1-7c3bff0ff40e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
