---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-rdb","engine":"PostgreSQL-12","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-12T12:42:00.943806Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-12","id":"ba845364-aeab-46fa-9544-9232e3931678","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume"],"upgradable_version":[{"id":"b22d2b07-29ad-4b07-be8a-b93b5b5ed56d","minor_version":"13.11","name":"PostgreSQL-13","version":"13"},{"id":"c962298e-539a-47f6-9402-ce7a439b16c2","minor_version":"14.8","name":"PostgreSQL-14","version":"14"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba845364-aeab-46fa-9544-9232e3931678
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-12T12:42:00.943806Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-12","id":"ba845364-aeab-46fa-9544-9232e3931678","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume"],"upgradable_version":[{"id":"b22d2b07-29ad-4b07-be8a-b93b5b5ed56d","minor_version":"13.11","name":"PostgreSQL-13","version":"13"},{"id":"c962298e-539a-47f6-9402-ce7a439b16c2","minor_version":"14.8","name":"PostgreSQL-14","version":"14"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba845364-aeab-46fa-9544-9232e3931678
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-12T12:42:00.943806Z","endpoint":{"id":"a1c83ef2-f9d8-44e7-a594-d967a4664d31","ip":"51.159.25.172","load_balancer":{},"name":null,"port":7067},"endpoints":[{"id":"a1c83ef2-f9d8-44e7-a594-d967a4664d31","ip":"51.159.25.172","load_balancer":{},"name":null,"port":7067}],"engine":"PostgreSQL-12","id":"ba845364-aeab-46fa-9544-9232e3931678","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume"],"upgradable_version":[{"id":"b22d2b07-29ad-4b07-be8a-b93b5b5ed56d","minor_version":"13.11","name":"PostgreSQL-13","version":"13"},{"id":"c962298e-539a-47f6-9402-ce7a439b16c2","minor_version":"14.8","name":"PostgreSQL-14","version":"14"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba845364-aeab-46fa-9544-9232e3931678/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVR0Robk5LOWFiUTNWc0U2c2RYbDY1Z2c4S1Ewd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5TlM0eE56SXdIaGNOCk1qTXdOekV5TVRJME1qUXdXaGNOTXpNd056QTVNVEkwTWpRd1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null,"backup_schedule_start_hour":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba845364-aeab-46fa-9544-9232e3931678
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-12T12:42:00.943806Z","endpoint":{"id":"a1c83ef2-f9d8-44e7-a594-d967a4664d31","ip":"51.159.25.172","load_balancer":{},"name":null,"port":7067},"e[...]
[...]
- request:
    body: '{"volume_type":"bssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba845364-aeab-46fa-9544-9232e3931678/upgrade
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-12T12:42:00.943806Z","endpoint":{"id":"a1c83ef2-f9d8-44e7-a594-d967a4664d31","ip":"51.159.25.172",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ba845364-aeab-46fa-9544-9232e3931678
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"ba845364-aeab-46fa-9544-9232e3931678","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
