---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"rdb-acl-basic","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"88c15e99-e9c2-4c94-9a31-0d828a88dbdd","name":"rdb-acl-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-22T14:31:50.085226Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd
    method: GET
  response:
    body: '{"id":"88c15e99-e9c2-4c94-9a31-0d828a88dbdd","name":"rdb-acl-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-22T14:31:50.085226Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd
    method: GET
  response:
    body: '{"id":"88c15e99-e9c2-4c94-9a31-0d828a88dbdd","name":"rdb-acl-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.9.176","port":12548,"name":null,"id":"6669ba0a-d613-4b79-be54-39aa812247e0","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.9.176","port":12548,"name":null,"id":"6669ba0a-d613-4b79-be54-39aa812247e0","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-22T14:31:50.085226Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd
    method: PATCH
  response:
    body: '{"id":"88c15e99-e9c2-4c94-9a31-0d828a88dbdd","name":"rdb-acl-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.9.176","port":12548,"name":null,"id":"6669ba0a-d613-4b79-be54-39aa812247e0","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.9.176","port":12548,"name":null,"id":"6669ba0a-d613-4b79-be54-39aa812247e0","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-22T14:31:50.085226Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVU3Z4RlhDL1lrYWw0SmFwSEU0a29rU2NUcEJrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDRPR014TldVNU9TMWxPV015CkxUUmpPVFF0T1dFek1TMHdaRGd5T0dFNE9HUmlaR1F1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1USXlNVFF6TXpFNFdoY05NekV4TVRJd01UUXpNekU0V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fr-par/88c15e99-e9c2-4c94-9a31-0d828a88dbdd
    method: GET
  response:
    body: '{"message":"Not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"rules":[{"ip":"1.2.3.4/32","description":"foo"},{"ip":"4.5.6.7/32","description":"bar"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd/acls
    method: PUT
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":12548,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7/32","port":12548,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd/acls
    method: GET
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":12548,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7/32","port":12548,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rule_ips":["9.0.0.0/16","1.2.3.4/32"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd/acls
    method: DELETE
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":12548,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"9.0.0.0/16","port":12548,"protocol":"tcp","direction":"inbound","action":"allow","description":"baz"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/88c15e99-e9c2-4c94-9a31-0d828a88dbdd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"88c15e99-e9c2-4c94-9a31-0d828a88dbdd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
