---
version: 1
interactions:
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T17:16:10.363813Z","dhcp_enabled":true,"id":"48e434dd-6dee-4d8d-85db-2080e482d497","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-18T17:16:10.363813Z","id":"d553a69a-c8ea-4566-994d-eef58f25e1ef","subnet":"172.16.20.0/22","updated_at":"2023-12-18T17:16:10.363813Z"},{"created_at":"2023-12-18T17:16:10.363813Z","id":"2c7b6e79-5555-400d-b306-13884a0aedbc","subnet":"fd63:256c:45f7:8dbf::/64","updated_at":"2023-12-18T17:16:10.363813Z"}],"tags":[],"updated_at":"2023-12-18T17:16:10.363813Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/48e434dd-6dee-4d8d-85db-2080e482d497
    method: GET
  response:
    body: '{"created_at":"2023-12-18T17:16:10.363813Z","dhcp_enabled":true,"id":"48e434dd-6dee-4d8d-85db-2080e482d497","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-18T17:16:10.363813Z","id":"d553a69a-c8ea-4566-994d-eef58f25e1ef","subnet":"172.16.20.0/22","updated_at":"2023-12-18T17:16:10.363813Z"},{"created_at":"2023-12-18T17:16:10.363813Z","id":"2c7b6e79-5555-400d-b306-13884a0aedbc","subnet":"fd63:256c:45f7:8dbf::/64","updated_at":"2023-12-18T17:16:10.363813Z"}],"tags":[],"updated_at":"2023-12-18T17:16:10.363813Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T17:16:10.755962Z","endpoint":{"id":"c4e017f7-4a56-4925-b304-028d5f3acfbe","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"c4e017f7-4a56-4925-b304-028d5f3acfbe","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"c49346e9-6852-402b-9384-8b1030de4578","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c49346e9-6852-402b-9384-8b1030de4578
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T17:16:10.755962Z","endpoint":{"id":"c4e017f7-4a56-4925-b304-028d5f3acfbe","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"c4e017f7-4a56-4925-b304-028d5f3acfbe","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"c49346e9-6852-402b-9384-8b1030de4578","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c49346e9-6852-402b-9384-8b1030de4578
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T17:16:10.755962Z","endpoint":{"id":"c4e017f7-4a56-4925-b304-028d5f3acfbe","ip":"195.154.197.252","load_balancer":{},"name":null,"port":2867},"endpoints":[{"id":"c4e017f7-4a56-4925-b304-028d5f3acfbe","ip":"195.154.197.252","load_balancer":{},"name":null,"port":2867}],"engine":"PostgreSQL-14","id":"c49346e9-6852-402b-9384-8b1030de4578","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c49346e9-6852-402b-9384-8b1030de4578/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVWnQ2K1dZa2crWkdMcG1FZm1pSzliQk1vT2lZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrM0xqSTFNakFlCkZ3MHlNekV5TVRneE56RTROVFJhRncwek16RXlNVFV4TnpFNE5UUmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
- request:
    body: '{"instance_id":"c49346e9-6852-402b-9384-8b1030de4578","endpoint_spec":[{"private_network":{"private_network_id":"48e434dd-6dee-4d8d-85db-2080e482d497","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"b5169ab2-b6d9-4553-a885-d66c4bf4dffe","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"48e434dd-6dee-4d8d-85db-2080e482d497","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"ef70157b-ce30-4dcb-90c9-0a0fb4b8868c","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ef70157b-ce30-4dcb-90c9-0a0fb4b8868c
    method: GET
  response:
    body: '{"endpoints":[{"id":"b5169ab2-b6d9-4553-a885-d66c4bf4dffe","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"48e434dd-6dee-4d8d-85db-2080e482d497","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"ef70157b-ce30-4dcb-90c9-0a0fb4b8868c","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ef70157b-ce30-4dcb-90c9-0a0fb4b8868c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"ef70157b-ce30-4dcb-90c9-0a0fb4b8868c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
