---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-02T18:54:14.471840Z","dhcp_enabled":true,"id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:54:14.471840Z","id":"b0f881ce-49c1-444e-84db-f850334ca776","subnet":"172.16.32.0/22","updated_at":"2023-11-02T18:54:14.471840Z"},{"created_at":"2023-11-02T18:54:14.471840Z","id":"75f86e7a-3bc6-4192-96aa-21738d7a98de","subnet":"fd63:256c:45f7:a79::/64","updated_at":"2023-11-02T18:54:14.471840Z"}],"tags":[],"updated_at":"2023-11-02T18:54:14.471840Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/600f1eb9-da64-404e-bb12-feb4930dbcdb
    method: GET
  response:
    body: '{"created_at":"2023-11-02T18:54:14.471840Z","dhcp_enabled":true,"id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:54:14.471840Z","id":"b0f881ce-49c1-444e-84db-f850334ca776","subnet":"172.16.32.0/22","updated_at":"2023-11-02T18:54:14.471840Z"},{"created_at":"2023-11-02T18:54:14.471840Z","id":"75f86e7a-3bc6-4192-96aa-21738d7a98de","subnet":"fd63:256c:45f7:a79::/64","updated_at":"2023-11-02T18:54:14.471840Z"}],"tags":[],"updated_at":"2023-11-02T18:54:14.471840Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:54:17.588248Z","endpoint":null,"endpoints":[{"id":"a454cf1a-54cf-498c-ab55-f132e5371367","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"222eb4d3-3904-4bfa-8178-d0650432726a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/222eb4d3-3904-4bfa-8178-d0650432726a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:54:17.588248Z","endpoint":null,"endpoints":[{"id":"a454cf1a-54cf-498c-ab55-f132e5371367","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"222eb4d3-3904-4bfa-8178-d0650432726a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/222eb4d3-3904-4bfa-8178-d0650432726a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:54:17.588248Z","endpoint":{"id":"0be2d1f5-c276-4bca-a164-d09e8ac3d409","ip":"51.159.10.213","load_balancer":{},"name":null,"port":15476},"endpoints":[{"id":"a454cf1a-54cf-498c-ab55-f132e5371367","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","service_ip":"172.16.32.2/22","zone":"fr-par-1"}},{"id":"0be2d1f5-c276-4bca-a164-d09e8ac3d409","ip":"51.159.10.213","load_balancer":{},"name":null,"port":15476}],"engine":"PostgreSQL-15","id":"222eb4d3-3904-4bfa-8178-d0650432726a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/222eb4d3-3904-4bfa-8178-d0650432726a/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURzekNDQXB1Z0F3SUJBZ0lVUUswK3dOR2w4UEtTeGpxYU1jV1ZiNzRUTzdvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR6TWk0eU1CNFhEVEl6Ck1URXdNakU0TlRVeU9Wb1hEVE16TVRBek1ERTROVFV5T1Zvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0ek1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/a454cf1a-54cf-498c-ab55-f132e5371367
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","service_ip":"172.16.32.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/222eb4d3-3904-4bfa-8178-d0650432726a/endpoints
    method: POST
  response:
    body: '{"id":"7dae7479-b9a4-459c-91c4-b2412b26e4a4","ip":"172.16.32.4","name":null,"port":5432,"private_network":{"private_network_id":"600f1eb9-da64-404e-bb12-feb4930dbcdb","service_ip":"172.16.32.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/222eb4d3-3904-4bfa-8178-d0650432726a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"222eb4d3-3904-4bfa-8178-d0650432726a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
