---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","update"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:52.077227Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"da68cc82-6010-4167-a577-034bee58968a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da68cc82-6010-4167-a577-034bee58968a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:52.077227Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"da68cc82-6010-4167-a577-034bee58968a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da68cc82-6010-4167-a577-034bee58968a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:52.077227Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"da68cc82-6010-4167-a577-034bee58968a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da68cc82-6010-4167-a577-034bee58968a
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:52.077227Z","endpoint":{"id":"84cd78bd-27b2-4b62-b8bb-4559dc6ba956","ip":"51.159.207.148","load_balancer":{},"name":null,"port":17755},"endpoints":[{"id":"84cd78bd-27b2-4b62-b8bb-4559dc6ba956","ip":"51.159.207.148","load_balancer":{},"name":null,"port":17755}],"engine":"PostgreSQL-15","id":"da68cc82-6010-4167-a577-034bee58968a","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da68cc82-6010-4167-a577-034bee58968a/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVR0lzRDQzOUNtVDBZZ0dGWVU2TVZlMmJUVFlnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURjdU1UUTRNQjRYCkRUSTBNREl5TVRFNE1qZ3pNMW9YRFRNME1ESXhPREU0TWpnek0xb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=da68cc82-6010-4167-a577-034bee58968a&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"da68cc82-6010-4167-a577-034bee58968a","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31","instance_id":"da68cc82-6010-4167-a577-034bee58968a","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31
    method: GET
  response:
    body: '{"endpoints":[],"id":"17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31","instance_id":"da68cc82-6010-4167-a577-034bee58968a","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-quizzical-tharp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-21T18:30:59.742981Z","dhcp_enabled":true,"id":"a8e90846-d514-4239-bbe9-563ff6a55a8f","name":"tf-pn-quizzical-tharp","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-21T18:30:59.742981Z","id":"8f912a14-6ac8-4b70-b0ab-eee8d45ca20c","subnet":"172.16.88.0/22","updated_at":"2024-02-21T18:30:59.742981Z"},{"created_at":"2024-02-21T18:30:59.742981Z","id":"ea201f06-d19f-4f6f-a3d8-7d061a4bfe58","subnet":"fd5f:519c:6d46:5c44::/64","updated_at":"2024-02-21T18:30:59.742981Z"}],"tags":[],"updated_at":"2024-02-21T18:30:59.742981Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a8e90846-d514-4239-bbe9-563ff6a55a8f
    method: GET
  response:
    body: '{"created_at":"2024-02-21T18:30:59.742981Z","dhcp_enabled":true,"id":"a8e90846-d514-4239-bbe9-563ff6a55a8f","name":"tf-pn-quizzical-tharp","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-21T18:30:59.742981Z","id":"8f912a14-6ac8-4b70-b0ab-eee8d45ca20c","subnet":"172.16.88.0/22","updated_at":"2024-02-21T18:30:59.742981Z"},{"created_at":"2024-02-21T18:30:59.742981Z","id":"ea201f06-d19f-4f6f-a3d8-7d061a4bfe58","subnet":"fd5f:519c:6d46:5c44::/64","updated_at":"2024-02-21T18:30:59.742981Z"}],"tags":[],"updated_at":"2024-02-21T18:30:59.742981Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/b81a9287-9c0b-4e1d-b971-5ec76fdc7ed9
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"a8e90846-d514-4239-bbe9-563ff6a55a8f","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"3bbdcd2b-3a6f-431e-9398-07b80c149569","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"a8e90846-d514-4239-bbe9-563ff6a55a8f","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31","instance_id":"da68cc82-6010-4167-a577-034bee58968a","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"a8e90846-d514-4239-bbe9-563ff6a55a8f","ipam_config":{}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"13aabc68-d126-428a-a4d8-0da29c56caba","ip":"172.16.88.3","name":null,"port":5432,"private_network":{"private_network_id":"a8e90846-d514-4239-bbe9-563ff6a55a8f","service_ip":"172.16.88.3/22","zone":"fr-par-1"}}],"id":"17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31","instance_id":"da68cc82-6010-4167-a577-034bee58968a","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=da68cc82-6010-4167-a577-034bee58968a&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.88.3/22","created_at":"2024-02-21T18:32:35.023360Z","id":"cbd2a836-9432-463e-bc18-bd5500965540","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"da68cc82-6010-4167-a577-034bee58968a","mac_address":"02:00:00:18:8A:17","name":"read-replica-17f0cfa6","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"8f912a14-6ac8-4b70-b0ab-eee8d45ca20c"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-21T18:32:36.158076Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"17f0cfa6-f4b0-4f34-b0f7-9fb435ba6f31","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
