---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-09T17:25:12.267983Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"60c9e0c2-7a0f-4519-8289-a0184f7f4ed8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/60c9e0c2-7a0f-4519-8289-a0184f7f4ed8
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-09T17:25:12.267983Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"60c9e0c2-7a0f-4519-8289-a0184f7f4ed8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-pensive-ardinghelli","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-09T17:25:11.779892Z","dhcp_enabled":true,"id":"8a8e475d-bb71-47fc-8f8a-49ca67144ee3","name":"tf-pn-pensive-ardinghelli","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-09T17:25:11.779892Z","id":"40c32c59-d414-4942-b888-600d5a9f4131","subnet":"172.16.12.0/22","updated_at":"2024-01-09T17:25:11.779892Z"},{"created_at":"2024-01-09T17:25:11.779892Z","id":"67333a85-b742-4480-a193-b220257b2794","subnet":"fd63:256c:45f7:6165::/64","updated_at":"2024-01-09T17:25:11.779892Z"}],"tags":[],"updated_at":"2024-01-09T17:25:11.779892Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8a8e475d-bb71-47fc-8f8a-49ca67144ee3
    method: GET
  response:
    body: '{"created_at":"2024-01-09T17:25:11.779892Z","dhcp_enabled":true,"id":"8a8e475d-bb71-47fc-8f8a-49ca67144ee3","name":"tf-pn-pensive-ardinghelli","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-09T17:25:11.779892Z","id":"40c32c59-d414-4942-b888-600d5a9f4131","subnet":"172.16.12.0/22","updated_at":"2024-01-09T17:25:11.779892Z"},{"created_at":"2024-01-09T17:25:11.779892Z","id":"67333a85-b742-4480-a193-b220257b2794","subnet":"fd63:256c:45f7:6165::/64","updated_at":"2024-01-09T17:25:11.779892Z"}],"tags":[],"updated_at":"2024-01-09T17:25:11.779892Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/60c9e0c2-7a0f-4519-8289-a0184f7f4ed8
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-09T17:25:12.267983Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"60c9e0c2-7a0f-4519-8289-a0184f7f4ed8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/60c9e0c2-7a0f-4519-8289-a0184f7f4ed8
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-09T17:25:12.267983Z","endpoint":{"id":"dee1f083-fa30-4a23-9840-2641c2562acb","ip":"195.154.196.249","load_balancer":{},"name":null,"port":6583},"endpoints":[{"id":"dee1f083-fa30-4a23-9840-2641c2562acb","ip":"195.154.196.249","load_balancer":{},"name":null,"port":6583}],"engine":"PostgreSQL-15","id":"60c9e0c2-7a0f-4519-8289-a0184f7f4ed8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/60c9e0c2-7a0f-4519-8289-a0184f7f4ed8/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVRmp0VjVrZDEyMGNiYUR0QkU2L0pDbkhHRmIwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrMkxqSTBPVEFlCkZ3MHlOREF4TURreE56STRNVEJhRncwek5EQXhNRFl4TnpJNE1UQmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=60c9e0c2-7a0f-4519-8289-a0184f7f4ed8&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"60c9e0c2-7a0f-4519-8289-a0184f7f4ed8","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"8a8e475d-bb71-47fc-8f8a-49ca67144ee3","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"5feebff6-88d1-403d-b3a6-6f0ee7157cbc","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"8a8e475d-bb71-47fc-8f8a-49ca67144ee3","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"afffb28d-d632-47ca-b013-c35cd5e8dd46","instance_id":"60c9e0c2-7a0f-4519-8289-a0184f7f4ed8","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/afffb28d-d632-47ca-b013-c35cd5e8dd46
    method: GET
  response:
    body: '{"endpoints":[{"id":"5feebff6-88d1-403d-b3a6-6f0ee7157cbc","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"8a8e475d-bb71-47fc-8f8a-49ca67144ee3","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"afffb28d-d632-47ca-b013-c35cd5e8dd46","instance_id":"60c9e0c2-7a0f-4519-8289-a0184f7f4ed8","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/afffb28d-d632-47ca-b013-c35cd5e8dd46
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"afffb28d-d632-47ca-b013-c35cd5e8dd46","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
