---
version: 1
interactions:
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-21T16:06:44.271272Z","dhcp_enabled":true,"id":"ecb21b56-5db6-4e29-b6b3-a76a13537982","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-21T16:06:44.271272Z","id":"003dc11c-e4a9-407f-945d-9aab38854e43","subnet":"172.16.4.0/22","updated_at":"2023-11-21T16:06:44.271272Z"},{"created_at":"2023-11-21T16:06:44.271272Z","id":"e57e47f8-f7cb-4ae2-b094-bef4fa2fc556","subnet":"fd5f:519c:6d46:bc52::/64","updated_at":"2023-11-21T16:06:44.271272Z"}],"tags":[],"updated_at":"2023-11-21T16:06:44.271272Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:06:44.482276Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"7d3266d3-620a-4016-84b7-4b45dc7118f3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ecb21b56-5db6-4e29-b6b3-a76a13537982
    method: GET
  response:
    body: '{"created_at":"2023-11-21T16:06:44.271272Z","dhcp_enabled":true,"id":"ecb21b56-5db6-4e29-b6b3-a76a13537982","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-21T16:06:44.271272Z","id":"003dc11c-e4a9-407f-945d-9aab38854e43","subnet":"172.16.4.0/22","updated_at":"2023-11-21T16:06:44.271272Z"},{"created_at":"2023-11-21T16:06:44.271272Z","id":"e57e47f8-f7cb-4ae2-b094-bef4fa2fc556","subnet":"fd5f:519c:6d46:bc52::/64","updated_at":"2023-11-21T16:06:44.271272Z"}],"tags":[],"updated_at":"2023-11-21T16:06:44.271272Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7d3266d3-620a-4016-84b7-4b45dc7118f3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:06:44.482276Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"7d3266d3-620a-4016-84b7-4b45dc7118f3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7d3266d3-620a-4016-84b7-4b45dc7118f3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:06:44.482276Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"7d3266d3-620a-4016-84b7-4b45dc7118f3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7d3266d3-620a-4016-84b7-4b45dc7118f3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:06:44.482276Z","endpoint":{"id":"bfe5f927-4a3c-4af6-8c25-f18c2d0cf68c","ip":"51.159.11.70","load_balancer":{},"name":null,"port":3840},"endpoints":[{"id":"bfe5f927-4a3c-4af6-8c25-f18c2d0cf68c","ip":"51.159.11.70","load_balancer":{},"name":null,"port":3840}],"engine":"PostgreSQL-14","id":"7d3266d3-620a-4016-84b7-4b45dc7118f3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7d3266d3-620a-4016-84b7-4b45dc7118f3/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURvVENDQW9tZ0F3SUJBZ0lVSDdvbExOSzVyQWhLQ2VZMXFwV3d0eUthakdBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERVeExqRTFPUzR4TVM0M01EQWVGdzB5Ck16RXhNakV4TmpBNU1qVmFGdzB6TXpFeE1UZ3hOakE1TWpWYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBdzFNUzR4TlRrdU1[...]
- request:
    body: '{"instance_id":"7d3266d3-620a-4016-84b7-4b45dc7118f3","endpoint_spec":[{"private_network":{"private_network_id":"ecb21b56-5db6-4e29-b6b3-a76a13537982","ipam_config":{}}}],"same_zone":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"aa72c52d-5ad1-499b-8817-b2a113feaf2b","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"ecb21b56-5db6-4e29-b6b3-a76a13537982","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"id":"c53ec574-dc40-4fe0-bd6e-1a20f4143ac8","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c53ec574-dc40-4fe0-bd6e-1a20f4143ac8
    method: GET
  response:
    body: '{"endpoints":[{"id":"aa72c52d-5ad1-499b-8817-b2a113feaf2b","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"ecb21b56-5db6-4e29-b6b3-a76a13537982","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"id":"c53ec574-dc40-4fe0-bd6e-1a20f4143ac8","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c53ec574-dc40-4fe0-bd6e-1a20f4143ac8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"c53ec574-dc40-4fe0-bd6e-1a20f4143ac8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
