---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-03-19T08:53:27.073187Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5992b5a5-27fe-4d47-8849-7e09be467785","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:53:27.073187Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/5992b5a5-27fe-4d47-8849-7e09be467785
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-03-19T08:53:27.073187Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5992b5a5-27fe-4d47-8849-7e09be467785","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:53:27.073187Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:53:27.051972Z","dhcp_enabled":true,"id":"30c7e843-9691-4a19-ac5c-faa640a78896","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-03-19T08:53:27.051972Z","id":"cf36b87d-765a-4063-b1d7-050dafbb93a4","subnet":"172.16.4.0/22","updated_at":"2024-03-19T08:53:27.051972Z"},{"created_at":"2024-03-19T08:53:27.051972Z","id":"6373e243-7bb9-47c5-bf19-c610515baff0","subnet":"fd5c:d510:d730:25cb::/64","updated_at":"2024-03-19T08:53:27.051972Z"}],"tags":[],"updated_at":"2024-03-19T08:53:27.051972Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.158.191.56","created_at":"2024-03-19T08:53:27.788913Z","gateway_id":null,"id":"ffde3962-51d7-4a44-8314-3aa9a99c3d99","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:53:27.788913Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/ffde3962-51d7-4a44-8314-3aa9a99c3d99
    method: GET
  response:
    body: '{"address":"51.158.191.56","created_at":"2024-03-19T08:53:27.788913Z","gateway_id":null,"id":"ffde3962-51d7-4a44-8314-3aa9a99c3d99","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:53:27.788913Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/30c7e843-9691-4a19-ac5c-faa640a78896
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:53:27.051972Z","dhcp_enabled":true,"id":"30c7e843-9691-4a19-ac5c-faa640a78896","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-03-19T08:53:27.051972Z","id":"cf36b87d-765a-4063-b1d7-050dafbb93a4","subnet":"172.16.4.0/22","updated_at":"2024-03-19T08:53:27.051972Z"},{"created_at":"2024-03-19T08:53:27.051972Z","id":"6373e243-7bb9-47c5-bf19-c610515baff0","subnet":"fd5c:d510:d730:25cb::/64","updated_at":"2024-03-19T08:53:27.051972Z"}],"tags":[],"updated_at":"2024-03-19T08:53:27.051972Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"ffde3962-51d7-4a44-8314-3aa9a99c3d99","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:53:28.080340Z","gateway_networks":[],"id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","ip":{"address":"51.158.191.56","created_at":"2024-03-19T08:53:27.788913Z","gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","id":"ffde3962-51d7-4a44-8314-3aa9a99c3d99","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:53:27.788913Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-03-19T08:53:28.080340Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/67c69ecd-187c-470e-a16c-dce5ddaaa050
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:53:28.080340Z","gateway_networks":[],"id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","ip":{"address":"51.158.191.56","created_at":"2024-03-19T08:53:27.788913Z","gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","id":"ffde3962-51d7-4a44-8314-3aa9a99c3d99","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:53:27.788913Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-03-19T08:53:28.142632Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"30c7e843-9691-4a19-ac5c-faa640a78896","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:28.285389Z","endpoint":null,"endpoints":[{"id":"dadef771-b5a0-4d7d-9106-1c044daebafb","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"30c7e843-9691-4a19-ac5c-faa640a78896","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4eb55e28-a6ef-4226-954d-6a64e01554e6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4eb55e28-a6ef-4226-954d-6a64e01554e6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:28.285389Z","endpoint":null,"endpoints":[{"id":"dadef771-b5a0-4d7d-9106-1c044daebafb","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"30c7e843-9691-4a19-ac5c-faa640a78896","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4eb55e28-a6ef-4226-954d-6a64e01554e6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","private_network_id":"30c7e843-9691-4a19-ac5c-faa640a78896","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"5992b5a5-27fe-4d47-8849-7e09be467785"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2024-03-19T08:53:40.524650Z","dhcp":{"address":"192.168.1.1","created_at":"2024-03-19T08:53:27.073187Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5992b5a5-27fe-4d47-8849-7e09be467785","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:53:27.073187Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","id":"4b10c49f-db98-4cfe-8cf8-52a8f2bfb39e","ipam_config":null,"mac_address":null,"private_network_id":"30c7e843-9691-4a19-ac5c-faa640a78896","status":"created","updated_at":"2024-03-19T08:53:40.524650Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/4b10c49f-db98-4cfe-8cf8-52a8f2bfb39e
    method: GET
  response:
    body: '{"address":null,"created_at":"2024-03-19T08:53:40.524650Z","dhcp":{"address":"192.168.1.1","created_at":"2024-03-19T08:53:27.073187Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5992b5a5-27fe-4d47-8849-7e09be467785","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:53:27.073187Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","id":"4b10c49f-db98-4cfe-8cf8-52a8f2bfb39e","ipam_config":null,"mac_address":"02:00:00:13:83:62","private_network_id":"30c7e843-9691-4a19-ac5c-faa640a78896","status":"ready","updated_at":"2024-03-19T08:53:55.002174Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4eb55e28-a6ef-4226-954d-6a64e01554e6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:28.285389Z","endpoint":null,"endpoints":[{"id":"dadef771-b5a0-4d7d-9106-1c044daebafb","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"30c7e843-9691-4a19-ac5c-faa640a78896","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4eb55e28-a6ef-4226-954d-6a64e01554e6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4eb55e28-a6ef-4226-954d-6a64e01554e6/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVUjV3OUhkaS9sMVB1Y2ZlY3dMRHRobWhRQVc4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qUXdNekU1TURnMU5EUXlXaGNOTXpRd016RTNNRGcxTkRReVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=4eb55e28-a6ef-4226-954d-6a64e01554e6&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:56:30.943770Z","gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","id":"70d5f2dd-3ac8-4157-be23-ace69b05b284","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-03-19T08:56:30.943770Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/70d5f2dd-3ac8-4157-be23-ace69b05b284
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:56:30.943770Z","gateway_id":"67c69ecd-187c-470e-a16c-dce5ddaaa050","id":"70d5f2dd-3ac8-4157-be23-ace69b05b284","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-03-19T08:56:30.943770Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/4b10c49f-db98-4cfe-8cf8-52a8f2bfb39e?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/dadef771-b5a0-4d7d-9106-1c044daebafb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/4b10c49f-db98-4cfe-8cf8-52a8f2bfb39e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"4b10c49f-db98-4cfe-8cf8-52a8f2bfb39e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/67c69ecd-187c-470e-a16c-dce5ddaaa050?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
