---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:13:11.094528Z","dhcp_enabled":true,"id":"d21626f3-323a-4395-86b3-02a67bfd4e6a","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-12-18T13:13:11.094528Z","id":"72fb0972-9d18-424c-bf6b-b73b2246b503","subnet":"172.16.12.0/22","updated_at":"2023-12-18T13:13:11.094528Z"},{"created_at":"2023-12-18T13:13:11.094528Z","id":"f1d4c92c-cbde-4fbd-83f5-cfbb946dde7a","subnet":"fd5c:d510:d730:d874::/64","updated_at":"2023-12-18T13:13:11.094528Z"}],"tags":[],"updated_at":"2023-12-18T13:13:11.094528Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/d21626f3-323a-4395-86b3-02a67bfd4e6a
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:13:11.094528Z","dhcp_enabled":true,"id":"d21626f3-323a-4395-86b3-02a67bfd4e6a","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-12-18T13:13:11.094528Z","id":"72fb0972-9d18-424c-bf6b-b73b2246b503","subnet":"172.16.12.0/22","updated_at":"2023-12-18T13:13:11.094528Z"},{"created_at":"2023-12-18T13:13:11.094528Z","id":"f1d4c92c-cbde-4fbd-83f5-cfbb946dde7a","subnet":"fd5c:d510:d730:d874::/64","updated_at":"2023-12-18T13:13:11.094528Z"}],"tags":[],"updated_at":"2023-12-18T13:13:11.094528Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"d21626f3-323a-4395-86b3-02a67bfd4e6a","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:13:12.830442Z","endpoint":null,"endpoints":[{"id":"4442db4c-3b00-44d5-bac8-1194041c9695","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"d21626f3-323a-4395-86b3-02a67bfd4e6a","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"e0a34b56-b006-48fe-b123-62541f35fcbb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/e0a34b56-b006-48fe-b123-62541f35fcbb
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:13:12.830442Z","endpoint":null,"endpoints":[{"id":"4442db4c-3b00-44d5-bac8-1194041c9695","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"d21626f3-323a-4395-86b3-02a67bfd4e6a","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"e0a34b56-b006-48fe-b123-62541f35fcbb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/e0a34b56-b006-48fe-b123-62541f35fcbb
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:13:12.830442Z","endpoint":null,"endpoints":[{"id":"4442db4c-3b00-44d5-bac8-1194041c9695","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"d21626f3-323a-4395-86b3-02a67bfd4e6a","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"e0a34b56-b006-48fe-b123-62541f35fcbb","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/e0a34b56-b006-48fe-b123-62541f35fcbb/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVZEVGWWpMcDFMYVdKVUt2amtSUzlwaFU0c3Z3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck16RXlNVGd4TXpFME1UZGFGdzB6TXpFeU1UVXhNekUwTVRkYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=e0a34b56-b006-48fe-b123-62541f35fcbb&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/4442db4c-3b00-44d5-bac8-1194041c9695
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"ed86be17-32e1-4c40-af44-0f7ab98de215","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/e0a34b56-b006-48fe-b123-62541f35fcbb/endpoints
    method: POST
  response:
    body: '{"id":"c0f08595-6f0e-47cd-bd51-f73dee67723d","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"ed86be17-32e1-4c40-af44-0f7ab98de215","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-12-18T13:18:24.054596Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"588e6ee2-c516-4f79-99a2-9bd52977f31e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:18:24.054596Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/588e6ee2-c516-4f79-99a2-9bd52977f31e
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-12-18T13:18:24.054596Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"588e6ee2-c516-4f79-99a2-9bd52977f31e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:18:24.054596Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.37.109","created_at":"2023-12-18T13:18:24.464586Z","gateway_id":null,"id":"929d4c74-2aff-47ea-a2f1-0b1c54824de4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"109-37-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:18:24.464586Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/929d4c74-2aff-47ea-a2f1-0b1c54824de4
    method: GET
  response:
    body: '{"address":"51.15.37.109","created_at":"2023-12-18T13:18:24.464586Z","gateway_id":null,"id":"929d4c74-2aff-47ea-a2f1-0b1c54824de4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"109-37-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:18:24.464586Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"929d4c74-2aff-47ea-a2f1-0b1c54824de4","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-18T13:18:24.696189Z","gateway_networks":[],"id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","ip":{"address":"51.15.37.109","created_at":"2023-12-18T13:18:24.464586Z","gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","id":"929d4c74-2aff-47ea-a2f1-0b1c54824de4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"109-37-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:18:24.464586Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-12-18T13:18:24.696189Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/62fc2ce4-83c8-443b-acdd-6737bd588d30
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-18T13:18:24.696189Z","gateway_networks":[],"id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","ip":{"address":"51.15.37.109","created_at":"2023-12-18T13:18:24.464586Z","gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","id":"929d4c74-2aff-47ea-a2f1-0b1c54824de4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"109-37-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:18:24.464586Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-12-18T13:18:24.747545Z","upstream_dns_servers":[],"version":"0.6.1","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","private_network_id":"ed86be17-32e1-4c40-af44-0f7ab98de215","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"588e6ee2-c516-4f79-99a2-9bd52977f31e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-12-18T13:18:30.956720Z","dhcp":{"address":"192.168.1.1","created_at":"2023-12-18T13:18:24.054596Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"588e6ee2-c516-4f79-99a2-9bd52977f31e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:18:24.054596Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","id":"5734714e-489b-4c2f-b0bc-0efc12f852b0","ipam_config":null,"mac_address":null,"private_network_id":"ed86be17-32e1-4c40-af44-0f7ab98de215","status":"created","updated_at":"2023-12-18T13:18:30.956720Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/5734714e-489b-4c2f-b0bc-0efc12f852b0
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-12-18T13:18:30.956720Z","dhcp":{"address":"192.168.1.1","created_at":"2023-12-18T13:18:24.054596Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"588e6ee2-c516-4f79-99a2-9bd52977f31e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:18:24.054596Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","id":"5734714e-489b-4c2f-b0bc-0efc12f852b0","ipam_config":null,"mac_address":"02:00:00:12:3D:3C","private_network_id":"ed86be17-32e1-4c40-af44-0f7ab98de215","status":"ready","updated_at":"2023-12-18T13:18:40.497823Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:18:41.870801Z","gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","id":"87599c5d-1441-474c-a4b9-af5a75bdf349","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-12-18T13:18:41.870801Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/87599c5d-1441-474c-a4b9-af5a75bdf349
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:18:41.870801Z","gateway_id":"62fc2ce4-83c8-443b-acdd-6737bd588d30","id":"87599c5d-1441-474c-a4b9-af5a75bdf349","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-12-18T13:18:41.870801Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/5734714e-489b-4c2f-b0bc-0efc12f852b0?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/5734714e-489b-4c2f-b0bc-0efc12f852b0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"5734714e-489b-4c2f-b0bc-0efc12f852b0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/62fc2ce4-83c8-443b-acdd-6737bd588d30?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
