---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"test-rdb-private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:53:26.985366Z","dhcp_enabled":true,"id":"37db2ec6-7b5a-408c-94c2-a1bb16379f1d","name":"test-rdb-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-03-19T08:53:26.985366Z","id":"55a4c861-3e66-41a6-99e0-b55fc44a0e31","subnet":"172.16.16.0/22","updated_at":"2024-03-19T08:53:26.985366Z"},{"created_at":"2024-03-19T08:53:26.985366Z","id":"a6bb7147-33c7-40ff-b589-8cd31f5c0b5b","subnet":"fd5c:d510:d730:3dc1::/64","updated_at":"2024-03-19T08:53:26.985366Z"}],"tags":[],"updated_at":"2024-03-19T08:53:26.985366Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/37db2ec6-7b5a-408c-94c2-a1bb16379f1d
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:53:26.985366Z","dhcp_enabled":true,"id":"37db2ec6-7b5a-408c-94c2-a1bb16379f1d","name":"test-rdb-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2024-03-19T08:53:26.985366Z","id":"55a4c861-3e66-41a6-99e0-b55fc44a0e31","subnet":"172.16.16.0/22","updated_at":"2024-03-19T08:53:26.985366Z"},{"created_at":"2024-03-19T08:53:26.985366Z","id":"a6bb7147-33c7-40ff-b589-8cd31f5c0b5b","subnet":"fd5c:d510:d730:3dc1::/64","updated_at":"2024-03-19T08:53:26.985366Z"}],"tags":[],"updated_at":"2024-03-19T08:53:26.985366Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"37db2ec6-7b5a-408c-94c2-a1bb16379f1d","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:29.929258Z","endpoint":null,"endpoints":[{"id":"03ec5755-c0d9-4b29-a562-8c80ec8ebb4c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"37db2ec6-7b5a-408c-94c2-a1bb16379f1d","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:29.929258Z","endpoint":null,"endpoints":[{"id":"03ec5755-c0d9-4b29-a562-8c80ec8ebb4c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"37db2ec6-7b5a-408c-94c2-a1bb16379f1d","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:29.929258Z","endpoint":null,"endpoints":[{"id":"03ec5755-c0d9-4b29-a562-8c80ec8ebb4c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"37db2ec6-7b5a-408c-94c2-a1bb16379f1d","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVZEFDbmtJSks5VlBrWlMxeWNmMWhWQllwVU9Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5EQXpNVGt3T0RVME16UmFGdzB6TkRBek1UY3dPRFUwTXpSYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/03ec5755-c0d9-4b29-a562-8c80ec8ebb4c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"aca9fbf7-be21-46f9-ba25-4bcf4b9b0a54","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0fb1e240-e9c2-4ce8-bfd2-f4f8c5d8bc41/endpoints
    method: POST
  response:
    body: '{"id":"6fa9bf8f-6512-4ff6-b3eb-f96ac8cd2ddb","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"aca9fbf7-be21-46f9-ba25-4bcf4b9b0a54","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-03-19T08:57:43.105757Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"680d8416-ec66-4368-b39c-b78644bb55eb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:57:43.105757Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/680d8416-ec66-4368-b39c-b78644bb55eb
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-03-19T08:57:43.105757Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"680d8416-ec66-4368-b39c-b78644bb55eb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:57:43.105757Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.158.191.56","created_at":"2024-03-19T08:57:43.784274Z","gateway_id":null,"id":"d0a4cee2-897c-4763-a2f7-c09aecb96a23","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:57:43.784274Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/d0a4cee2-897c-4763-a2f7-c09aecb96a23
    method: GET
  response:
    body: '{"address":"51.158.191.56","created_at":"2024-03-19T08:57:43.784274Z","gateway_id":null,"id":"d0a4cee2-897c-4763-a2f7-c09aecb96a23","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:57:43.784274Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"d0a4cee2-897c-4763-a2f7-c09aecb96a23","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:57:44.009265Z","gateway_networks":[],"id":"f4772fd2-293f-4fe3-8332-2409b867fce9","ip":{"address":"51.158.191.56","created_at":"2024-03-19T08:57:43.784274Z","gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","id":"d0a4cee2-897c-4763-a2f7-c09aecb96a23","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:57:43.784274Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"test-rdb-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-03-19T08:57:44.009265Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/f4772fd2-293f-4fe3-8332-2409b867fce9
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:57:44.009265Z","gateway_networks":[],"id":"f4772fd2-293f-4fe3-8332-2409b867fce9","ip":{"address":"51.158.191.56","created_at":"2024-03-19T08:57:43.784274Z","gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","id":"d0a4cee2-897c-4763-a2f7-c09aecb96a23","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"56-191-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:57:43.784274Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"test-rdb-private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-03-19T08:57:44.063004Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","private_network_id":"aca9fbf7-be21-46f9-ba25-4bcf4b9b0a54","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"680d8416-ec66-4368-b39c-b78644bb55eb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2024-03-19T08:58:01.310345Z","dhcp":{"address":"192.168.1.1","created_at":"2024-03-19T08:57:43.105757Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"680d8416-ec66-4368-b39c-b78644bb55eb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:57:43.105757Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","id":"ed634807-cc04-49b6-8ef1-8c7641c2e4dd","ipam_config":null,"mac_address":null,"private_network_id":"aca9fbf7-be21-46f9-ba25-4bcf4b9b0a54","status":"created","updated_at":"2024-03-19T08:58:01.310345Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/ed634807-cc04-49b6-8ef1-8c7641c2e4dd
    method: GET
  response:
    body: '{"address":null,"created_at":"2024-03-19T08:58:01.310345Z","dhcp":{"address":"192.168.1.1","created_at":"2024-03-19T08:57:43.105757Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"680d8416-ec66-4368-b39c-b78644bb55eb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:57:43.105757Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","id":"ed634807-cc04-49b6-8ef1-8c7641c2e4dd","ipam_config":null,"mac_address":"02:00:00:13:83:66","private_network_id":"aca9fbf7-be21-46f9-ba25-4bcf4b9b0a54","status":"ready","updated_at":"2024-03-19T08:58:14.681290Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:58:17.583244Z","gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","id":"2e5d0105-44a5-47a8-aeb0-276d4b6f42a2","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-03-19T08:58:17.583244Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/2e5d0105-44a5-47a8-aeb0-276d4b6f42a2
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:58:17.583244Z","gateway_id":"f4772fd2-293f-4fe3-8332-2409b867fce9","id":"2e5d0105-44a5-47a8-aeb0-276d4b6f42a2","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-03-19T08:58:17.583244Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/ed634807-cc04-49b6-8ef1-8c7641c2e4dd?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/ed634807-cc04-49b6-8ef1-8c7641c2e4dd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"ed634807-cc04-49b6-8ef1-8c7641c2e4dd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/f4772fd2-293f-4fe3-8332-2409b867fce9?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
