---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"TestAccScalewayRdbDatabaseBackup_Basic","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"bdcb3f03-d723-4258-9406-c16baa8081a7","name":"TestAccScalewayRdbDatabaseBackup_Basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-15T15:31:24.477734Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bdcb3f03-d723-4258-9406-c16baa8081a7
    method: GET
  response:
    body: '{"id":"bdcb3f03-d723-4258-9406-c16baa8081a7","name":"TestAccScalewayRdbDatabaseBackup_Basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-15T15:31:24.477734Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bdcb3f03-d723-4258-9406-c16baa8081a7
    method: GET
  response:
    body: '{"id":"bdcb3f03-d723-4258-9406-c16baa8081a7","name":"TestAccScalewayRdbDatabaseBackup_Basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.9.124","port":8274,"name":null,"id":"2fec946e-d015-46d7-ab6a-a238db1b27a7","load_balancer":{}},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.9.124","port":8274,"name":null,"id":"2fec946e-d015-46d7-ab6a-a238db1b27a7","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-15T15:31:24.477734Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bdcb3f03-d723-4258-9406-c16baa8081a7
    method: PATCH
  response:
    body: '{"id":"bdcb3f03-d723-4258-9406-c16baa8081a7","name":"TestAccScalewayRdbDatabaseBackup_Basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","stat[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bdcb3f03-d723-4258-9406-c16baa8081a7/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVZmpqM1NVZ2tKTWtHcE01RE5XcUV5K3p4UGRNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWlaR05pTTJZd015MWtOekl6CkxUUXlOVGd0T1RRd05pMWpNVFppWVdFNE1EZ3hZVGN1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05qRTFNVFV6TWpVNFdoY05Nekl3TmpFeU1UVXpNalU0V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bdcb3f03-d723-4258-9406-c16baa8081a7/databases
    method: POST
  response:
    body: '{"name":"foo","owner":"","managed":true,"size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bdcb3f03-d723-4258-9406-c16baa8081a7/databases?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"name":"foo","owner":"_rdb_superadmin","managed":true,"size":8135535}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"bdcb3f03-d723-4258-9406-c16baa8081a7","database_name":"foo","name":"test_backup","expires_at":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"id":"efe2632a-c8b3-4032-865d-dd1abd0e5183","instance_id":"bdcb3f03-d723-4258-9406-c16baa8081a7","database_name":"foo","name":"test_backup","status":"creating","size":null,"expires_at":null,"created_at":"2022-06-15T15:35:40.787365Z","updated_at":null,"instance_name":"TestAccScalewayRdbDatabaseBackup_Basic","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/efe2632a-c8b3-4032-865d-dd1abd0e5183
    method: GET
  response:
    body: '{"id":"efe2632a-c8b3-4032-865d-dd1abd0e5183","instance_id":"bdcb3f03-d723-4258-9406-c16baa8081a7","database_name":"foo","name":"test_backup","status":"creating","size":null,"expires_at":null,"created_at":"2022-06-15T15:35:40.787365Z","updated_at":null,"instance_name":"TestAccScalewayRdbDatabaseBackup_Basic","download_url":null,"download_url_expires_at":null,"same_region":false,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/efe2632a-c8b3-4032-865d-dd1abd0e5183
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"database_backup","resource_id":"efe2632a-c8b3-4032-865d-dd1abd0e5183","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bdcb3f03-d723-4258-9406-c16baa8081a7/databases/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
