---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"157dc53d-5d89-4745-bfc5-2716377cd69f","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:49:23.623229Z","updated_at":"2021-11-24T16:49:23.623229Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/157dc53d-5d89-4745-bfc5-2716377cd69f
    method: GET
  response:
    body: '{"id":"157dc53d-5d89-4745-bfc5-2716377cd69f","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:49:23.623229Z","updated_at":"2021-11-24T16:49:23.623229Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-pn","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"157dc53d-5d89-4745-bfc5-2716377cd69f","service_ip":"192.168.1.42/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"3b46f11c-d8af-43ce-8e8d-69af01dabdbf","name":"test-rdb-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"38e0dfbb-f45d-48f0-a87e-8fbfa499d69f","private_network":{"private_network_id":"157dc53d-5d89-4745-bfc5-2716377cd69f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-24T16:49:25.478571Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3b46f11c-d8af-43ce-8e8d-69af01dabdbf
    method: GET
  response:
    body: '{"id":"3b46f11c-d8af-43ce-8e8d-69af01dabdbf","name":"test-rdb-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"38e0dfbb-f45d-48f0-a87e-8fbfa499d69f","private_network":{"private_network_id":"157dc53d-5d89-4745-bfc5-2716377cd69f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-24T16:49:25.478571Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3b46f11c-d8af-43ce-8e8d-69af01dabdbf
    method: GET
  response:
    body: '{"id":"3b46f11c-d8af-43ce-8e8d-69af01dabdbf","name":"test-rdb-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.130.72","port":4697,"name":null,"id":"62919ba1-3f56-4492-9531-094970182de7","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.130.72","port":4697,"name":null,"id":"62919ba1-3f56-4492-9531-094970182de7","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"38e0dfbb-f45d-48f0-a87e-8fbfa499d69f","private_network":{"private_network_id":"157dc53d-5d89-4745-bfc5-2716377cd69f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-24T16:49:25.478571Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3b46f11c-d8af-43ce-8e8d-69af01dabdbf/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVSlROMWd1Z1FiUEIrenFWNzVrRTVEL012VVdrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHpZalEyWmpFeFl5MWtPR0ZtCkxUUXpZMlV0T0dVNFpDMDJPV0ZtTURGa1lXSmtZbVl1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1USTBNVFkxTURNd1doY05NekV4TVRJeU1UWTFNRE13V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3b46f11c-d8af-43ce-8e8d-69af01dabdbf
    method: PATCH
  response:
    body: '{"id":"3b46f11c-d8af-43ce-8e8d-69af01dabdbf","name":"test-rdb-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/38e0dfbb-f45d-48f0-a87e-8fbfa499d69f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"66919901-5df7-42f8-a048-5dc3d60b43bc","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/3b46f11c-d8af-43ce-8e8d-69af01dabdbf/endpoints
    method: POST
  response:
    body: '{"ip":"192.168.1.254","port":5432,"name":null,"id":"8a91e549-cb56-4710-a9d1-c494bbc8f7ff","private_network":{"private_network_id":"66919901-5df7-42f8-a048-5dc3d60b43bc","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"82ef0609-c1e4-4777-a8cb-7476fdd3ef81","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.160929Z","updated_at":"2021-11-24T16:53:34.160929Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/82ef0609-c1e4-4777-a8cb-7476fdd3ef81
    method: GET
  response:
    body: '{"id":"82ef0609-c1e4-4777-a8cb-7476fdd3ef81","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.160929Z","updated_at":"2021-11-24T16:53:34.160929Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"a194211a-daed-45c8-a833-d0b71bf9e742","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.662659Z","updated_at":"2021-11-24T16:53:34.662659Z","tags":[],"address":"51.15.113.42","reverse":"42-113-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips/a194211a-daed-45c8-a833-d0b71bf9e742
    method: GET
  response:
    body: '{"id":"a194211a-daed-45c8-a833-d0b71bf9e742","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.662659Z","updated_at":"2021-11-24T16:53:34.662659Z","tags":[],"address":"51.15.113.42","reverse":"42-113-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"a194211a-daed-45c8-a833-d0b71bf9e742"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"ad6f4486-9bbf-488b-acc3-c124199f189a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:35.106664Z","updated_at":"2021-11-24T16:53:35.106664Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"a194211a-daed-45c8-a833-d0b71bf9e742","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.662659Z","updated_at":"2021-11-24T16:53:34.662659Z","tags":[],"address":"51.15.113.42","reverse":"42-113-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/ad6f4486-9bbf-488b-acc3-c124199f189a
    method: GET
  response:
    body: '{"id":"ad6f4486-9bbf-488b-acc3-c124199f189a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:35.106664Z","updated_at":"2021-11-24T16:53:35.305908Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"configuring","name":"foobar","tags":[],"ip":{"id":"a194211a-daed-45c8-a833-d0b71bf9e742","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.662659Z","updated_at":"2021-11-24T16:53:34.662659Z","tags":[],"address":"51.15.113.42","reverse":"42-113-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ad6f4486-9bbf-488b-acc3-c124199f189a","private_network_id":"66919901-5df7-42f8-a048-5dc3d60b43bc","enable_masquerade":true,"dhcp_id":"82ef0609-c1e4-4777-a8cb-7476fdd3ef81","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"0246808f-0ec4-4958-b937-e849d6c2f60d","created_at":"2021-11-24T16:54:06.107774Z","updated_at":"2021-11-24T16:54:06.107774Z","gateway_id":"ad6f4486-9bbf-488b-acc3-c124199f189a","private_network_id":"66919901-5df7-42f8-a048-5dc3d60b43bc","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"82ef0609-c1e4-4777-a8cb-7476fdd3ef81","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.160929Z","updated_at":"2021-11-24T16:53:34.160929Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/0246808f-0ec4-4958-b937-e849d6c2f60d
    method: GET
  response:
    body: '{"id":"0246808f-0ec4-4958-b937-e849d6c2f60d","created_at":"2021-11-24T16:54:06.107774Z","updated_at":"2021-11-24T16:54:06.107774Z","gateway_id":"ad6f4486-9bbf-488b-acc3-c124199f189a","private_network_id":"66919901-5df7-42f8-a048-5dc3d60b43bc","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"82ef0609-c1e4-4777-a8cb-7476fdd3ef81","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-24T16:53:34.160929Z","updated_at":"2021-11-24T16:53:34.160929Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ad6f4486-9bbf-488b-acc3-c124199f189a","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"f029167b-cafb-40a2-afe7-a5e083e315d1","gateway_id":"ad6f4486-9bbf-488b-acc3-c124199f189a","created_at":"2021-11-24T16:54:36.905Z","updated_at":"2021-11-24T16:54:36.905Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules/f029167b-cafb-40a2-afe7-a5e083e315d1
    method: GET
  response:
    body: '{"id":"f029167b-cafb-40a2-afe7-a5e083e315d1","gateway_id":"ad6f4486-9bbf-488b-acc3-c124199f189a","created_at":"2021-11-24T16:54:36.905Z","updated_at":"2021-11-24T16:54:36.905Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/0246808f-0ec4-4958-b937-e849d6c2f60d?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/82ef0609-c1e4-4777-a8cb-7476fdd3ef81
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"82ef0609-c1e4-4777-a8cb-7476fdd3ef81","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/ad6f4486-9bbf-488b-acc3-c124199f189a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/66919901-5df7-42f8-a048-5dc3d60b43bc
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
