---
version: 1
interactions:
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:51:42.915621Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"1abb44d0-9c57-4261-9d96-408a43928ce6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1abb44d0-9c57-4261-9d96-408a43928ce6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:51:42.915621Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"1abb44d0-9c57-4261-9d96-408a43928ce6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-02T18:51:42.626490Z","dhcp_enabled":true,"id":"6638dd56-857d-4602-a836-dc564d3eff6d","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:51:42.626490Z","id":"f5ebbf64-601e-4198-ac41-ec60e55600f8","subnet":"172.16.20.0/22","updated_at":"2023-11-02T18:51:42.626490Z"},{"created_at":"2023-11-02T18:51:42.626490Z","id":"5edc57aa-f173-4234-aae4-bbec1c6797d3","subnet":"fd63:256c:45f7:eb34::/64","updated_at":"2023-11-02T18:51:42.626490Z"}],"tags":[],"updated_at":"2023-11-02T18:51:42.626490Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6638dd56-857d-4602-a836-dc564d3eff6d
    method: GET
  response:
    body: '{"created_at":"2023-11-02T18:51:42.626490Z","dhcp_enabled":true,"id":"6638dd56-857d-4602-a836-dc564d3eff6d","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:51:42.626490Z","id":"f5ebbf64-601e-4198-ac41-ec60e55600f8","subnet":"172.16.20.0/22","updated_at":"2023-11-02T18:51:42.626490Z"},{"created_at":"2023-11-02T18:51:42.626490Z","id":"5edc57aa-f173-4234-aae4-bbec1c6797d3","subnet":"fd63:256c:45f7:eb34::/64","updated_at":"2023-11-02T18:51:42.626490Z"}],"tags":[],"updated_at":"2023-11-02T18:51:42.626490Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1abb44d0-9c57-4261-9d96-408a43928ce6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:51:42.915621Z","endpoint":{"id":"88eda783-d17a-4b15-8e4a-5a67545b16d0","ip":"51.159.10.213","load_balancer":{},"name":null,"port":23184},"endpoints":[{"id":"88eda783-d17a-4b15-8e4a-5a67545b16d0","ip":"51.159.10.213","load_balancer":{},"name":null,"port":23184}],"engine":"PostgreSQL-14","id":"1abb44d0-9c57-4261-9d96-408a43928ce6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1abb44d0-9c57-4261-9d96-408a43928ce6/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVYkVjM0IxcU92MHc4QUY0d096SXpSZGpvdUZrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TUM0eU1UTXdIaGNOCk1qTXhNVEF5TVRnMU1qSTBXaGNOTXpNeE1ETXdNVGcxTWpJMFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"1abb44d0-9c57-4261-9d96-408a43928ce6","endpoint_spec":[{"private_network":{"private_network_id":"6638dd56-857d-4602-a836-dc564d3eff6d","ipam_config":{}}}],"same_zone":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"f61583f2-1516-42bc-ba09-7c93b18f1ab2","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"6638dd56-857d-4602-a836-dc564d3eff6d","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"c4321b24-ff18-4265-908e-4de50dcafc55","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c4321b24-ff18-4265-908e-4de50dcafc55
    method: GET
  response:
    body: '{"endpoints":[{"id":"f61583f2-1516-42bc-ba09-7c93b18f1ab2","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"6638dd56-857d-4602-a836-dc564d3eff6d","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"c4321b24-ff18-4265-908e-4de50dcafc55","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/c4321b24-ff18-4265-908e-4de50dcafc55
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"c4321b24-ff18-4265-908e-4de50dcafc55","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
