---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:11:19.028977Z","dhcp_enabled":true,"id":"f13abdfa-0b61-42c7-af07-5519e374ad99","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2024-02-20T14:11:19.028977Z","id":"31c37dc5-b601-466b-94d0-8b32b521d11d","subnet":"172.16.16.0/22","updated_at":"2024-02-20T14:11:19.028977Z"},{"created_at":"2024-02-20T14:11:19.028977Z","id":"c91bd171-956f-47f2-b8c2-5587a72fe6e7","subnet":"fd68:d440:21c4:1596::/64","updated_at":"2024-02-20T14:11:19.028977Z"}],"tags":[],"updated_at":"2024-02-20T14:11:19.028977Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/f13abdfa-0b61-42c7-af07-5519e374ad99
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:11:19.028977Z","dhcp_enabled":true,"id":"f13abdfa-0b61-42c7-af07-5519e374ad99","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2024-02-20T14:11:19.028977Z","id":"31c37dc5-b601-466b-94d0-8b32b521d11d","subnet":"172.16.16.0/22","updated_at":"2024-02-20T14:11:19.028977Z"},{"created_at":"2024-02-20T14:11:19.028977Z","id":"c91bd171-956f-47f2-b8c2-5587a72fe6e7","subnet":"fd68:d440:21c4:1596::/64","updated_at":"2024-02-20T14:11:19.028977Z"}],"tags":[],"updated_at":"2024-02-20T14:11:19.028977Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-private-network","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"f13abdfa-0b61-42c7-af07-5519e374ad99","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:11:20.489958Z","endpoint":null,"endpoints":[{"id":"ed45a1e0-d38e-4e70-932b-9df7fd6bec61","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f13abdfa-0b61-42c7-af07-5519e374ad99","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"eb25bfb2-524f-472b-9a7d-c16b83b256de","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eb25bfb2-524f-472b-9a7d-c16b83b256de
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:11:20.489958Z","endpoint":null,"endpoints":[{"id":"ed45a1e0-d38e-4e70-932b-9df7fd6bec61","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f13abdfa-0b61-42c7-af07-5519e374ad99","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"eb25bfb2-524f-472b-9a7d-c16b83b256de","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eb25bfb2-524f-472b-9a7d-c16b83b256de
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:11:20.489958Z","endpoint":null,"endpoints":[{"id":"ed45a1e0-d38e-4e70-932b-9df7fd6bec61","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f13abdfa-0b61-42c7-af07-5519e374ad99","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"eb25bfb2-524f-472b-9a7d-c16b83b256de","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eb25bfb2-524f-472b-9a7d-c16b83b256de/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZekNDQWt1Z0F3SUJBZ0lVS2Y0S3lQMmJDTFVPKzhlQXdjMDFkbHF1Ui9Jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck5EQXlNakF4TkRFeU1UTmFGdzB6TkRBeU1UY3hOREV5TVROYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=eb25bfb2-524f-472b-9a7d-c16b83b256de&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/ed45a1e0-d38e-4e70-932b-9df7fd6bec61
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"e409e337-e21b-408c-826c-bfe506d5a3e7","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eb25bfb2-524f-472b-9a7d-c16b83b256de/endpoints
    method: POST
  response:
    body: '{"id":"ab93b64b-f216-49c1-8636-0d6962b654a5","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"e409e337-e21b-408c-826c-bfe506d5a3e7","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-02-20T14:14:58.479473Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ddb00377-ce23-4946-b851-071a15fc7a86","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-02-20T14:14:58.479473Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/ddb00377-ce23-4946-b851-071a15fc7a86
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-02-20T14:14:58.479473Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ddb00377-ce23-4946-b851-071a15fc7a86","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-02-20T14:14:58.479473Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.158.168.204","created_at":"2024-02-20T14:14:59.150306Z","gateway_id":null,"id":"b2d9693d-dc54-4678-a47a-38c6db90c353","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"204-168-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-02-20T14:14:59.150306Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/b2d9693d-dc54-4678-a47a-38c6db90c353
    method: GET
  response:
    body: '{"address":"51.158.168.204","created_at":"2024-02-20T14:14:59.150306Z","gateway_id":null,"id":"b2d9693d-dc54-4678-a47a-38c6db90c353","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"204-168-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-02-20T14:14:59.150306Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"b2d9693d-dc54-4678-a47a-38c6db90c353","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-02-20T14:14:59.391358Z","gateway_networks":[],"id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","ip":{"address":"51.158.168.204","created_at":"2024-02-20T14:14:59.150306Z","gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","id":"b2d9693d-dc54-4678-a47a-38c6db90c353","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"204-168-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-02-20T14:14:59.150306Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-02-20T14:14:59.391358Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/7164b36f-d02b-4a03-b273-ce7d377d88a7
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-02-20T14:14:59.391358Z","gateway_networks":[],"id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","ip":{"address":"51.158.168.204","created_at":"2024-02-20T14:14:59.150306Z","gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","id":"b2d9693d-dc54-4678-a47a-38c6db90c353","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"204-168-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-02-20T14:14:59.150306Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-02-20T14:14:59.461444Z","upstream_dns_servers":[],"version":"0.6.3","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","private_network_id":"e409e337-e21b-408c-826c-bfe506d5a3e7","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"ddb00377-ce23-4946-b851-071a15fc7a86"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2024-02-20T14:15:17.020190Z","dhcp":{"address":"192.168.1.1","created_at":"2024-02-20T14:14:58.479473Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ddb00377-ce23-4946-b851-071a15fc7a86","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-02-20T14:14:58.479473Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","id":"a1404034-d83b-43d7-8f78-d5177315d395","ipam_config":null,"mac_address":null,"private_network_id":"e409e337-e21b-408c-826c-bfe506d5a3e7","status":"created","updated_at":"2024-02-20T14:15:17.020190Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a1404034-d83b-43d7-8f78-d5177315d395
    method: GET
  response:
    body: '{"address":null,"created_at":"2024-02-20T14:15:17.020190Z","dhcp":{"address":"192.168.1.1","created_at":"2024-02-20T14:14:58.479473Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"ddb00377-ce23-4946-b851-071a15fc7a86","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-02-20T14:14:58.479473Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","id":"a1404034-d83b-43d7-8f78-d5177315d395","ipam_config":null,"mac_address":"02:00:00:13:6C:1E","private_network_id":"e409e337-e21b-408c-826c-bfe506d5a3e7","status":"ready","updated_at":"2024-02-20T14:15:31.366539Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:15:32.805934Z","gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","id":"2a12bcbe-ba59-4137-b8e7-d2d6fa9cc4db","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-02-20T14:15:32.805934Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/2a12bcbe-ba59-4137-b8e7-d2d6fa9cc4db
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:15:32.805934Z","gateway_id":"7164b36f-d02b-4a03-b273-ce7d377d88a7","id":"2a12bcbe-ba59-4137-b8e7-d2d6fa9cc4db","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2024-02-20T14:15:32.805934Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a1404034-d83b-43d7-8f78-d5177315d395?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a1404034-d83b-43d7-8f78-d5177315d395
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"a1404034-d83b-43d7-8f78-d5177315d395","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/7164b36f-d02b-4a03-b273-ce7d377d88a7?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
