---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"6150f2ee-260e-40cb-bfb2-d4203cdb1957","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:21:07.027173Z","updated_at":"2022-04-27T12:21:07.027173Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/6150f2ee-260e-40cb-bfb2-d4203cdb1957
    method: GET
  response:
    body: '{"id":"6150f2ee-260e-40cb-bfb2-d4203cdb1957","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:21:07.027173Z","updated_at":"2022-04-27T12:21:07.027173Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"6150f2ee-260e-40cb-bfb2-d4203cdb1957","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"f1f624f9-c56f-407d-9aee-bdeaf88919df","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"93b91e2f-7982-4e09-bcf5-4af9c205cee4","private_network":{"private_network_id":"6150f2ee-260e-40cb-bfb2-d4203cdb1957","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-27T12:21:08.596555Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/f1f624f9-c56f-407d-9aee-bdeaf88919df
    method: GET
  response:
    body: '{"id":"f1f624f9-c56f-407d-9aee-bdeaf88919df","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"93b91e2f-7982-4e09-bcf5-4af9c205cee4","private_network":{"private_network_id":"6150f2ee-260e-40cb-bfb2-d4203cdb1957","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-27T12:21:08.596555Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/f1f624f9-c56f-407d-9aee-bdeaf88919df
    method: GET
  response:
    body: '{"id":"f1f624f9-c56f-407d-9aee-bdeaf88919df","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.130.90","port":5304,"name":null,"id":"7403224b-0f91-4916-8d81-994c98af550b","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.130.90","port":5304,"name":null,"id":"7403224b-0f91-4916-8d81-994c98af550b","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"93b91e2f-7982-4e09-bcf5-4af9c205cee4","private_network":{"private_network_id":"6150f2ee-260e-40cb-bfb2-d4203cdb1957","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-27T12:21:08.596555Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/f1f624f9-c56f-407d-9aee-bdeaf88919df/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVTW9JZ1Uwdldnb0h2L2lySXBXMVYzVnhSYlNjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MW1NV1kyTWpSbU9TMWpOVFptCkxUUXdOMlF0T1dGbFpTMWlaR1ZoWmpnNE9URTVaR1l1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05ESTNNVEl5TWpReVdoY05Nekl3TkRJME1USXlNalF5V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/f1f624f9-c56f-407d-9aee-bdeaf88919df
    method: PATCH
  response:
    body: '{"id":"f1f624f9-c56f-407d-9aee-bdeaf88919df","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/93b91e2f-7982-4e09-bcf5-4af9c205cee4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"1d9ba831-3db1-426d-a120-97569c57db29","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/f1f624f9-c56f-407d-9aee-bdeaf88919df/endpoints
    method: POST
  response:
    body: '{"ip":"192.168.1.254","port":5432,"name":null,"id":"e36fbacc-fe1d-4548-ba1d-b4323930b901","private_network":{"private_network_id":"1d9ba831-3db1-426d-a120-97569c57db29","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"50305873-3b1f-4b8a-85bc-de4c131ec41b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.301674Z","updated_at":"2022-04-27T12:25:47.301674Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/50305873-3b1f-4b8a-85bc-de4c131ec41b
    method: GET
  response:
    body: '{"id":"50305873-3b1f-4b8a-85bc-de4c131ec41b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.301674Z","updated_at":"2022-04-27T12:25:47.301674Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"c0849860-3d68-450f-93d0-abf27213d1b0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.796078Z","updated_at":"2022-04-27T12:25:47.796078Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/c0849860-3d68-450f-93d0-abf27213d1b0
    method: GET
  response:
    body: '{"id":"c0849860-3d68-450f-93d0-abf27213d1b0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.796078Z","updated_at":"2022-04-27T12:25:47.796078Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"c0849860-3d68-450f-93d0-abf27213d1b0","enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:48.264210Z","updated_at":"2022-04-27T12:25:48.264210Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"c0849860-3d68-450f-93d0-abf27213d1b0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.796078Z","updated_at":"2022-04-27T12:25:47.796078Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/832ca93c-6443-4c7e-9363-b49ebb5b89c3
    method: GET
  response:
    body: '{"id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:48.264210Z","updated_at":"2022-04-27T12:25:48.325515Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"c0849860-3d68-450f-93d0-abf27213d1b0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.796078Z","updated_at":"2022-04-27T12:25:47.796078Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","private_network_id":"1d9ba831-3db1-426d-a120-97569c57db29","enable_masquerade":true,"dhcp_id":"50305873-3b1f-4b8a-85bc-de4c131ec41b","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"fee57a9d-b84b-47ab-8542-998d0b9c23a5","created_at":"2022-04-27T12:25:54.015368Z","updated_at":"2022-04-27T12:25:54.015368Z","gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","private_network_id":"1d9ba831-3db1-426d-a120-97569c57db29","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"50305873-3b1f-4b8a-85bc-de4c131ec41b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.301674Z","updated_at":"2022-04-27T12:25:47.301674Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/fee57a9d-b84b-47ab-8542-998d0b9c23a5
    method: GET
  response:
    body: '{"id":"fee57a9d-b84b-47ab-8542-998d0b9c23a5","created_at":"2022-04-27T12:25:54.015368Z","updated_at":"2022-04-27T12:26:00.487414Z","gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","private_network_id":"1d9ba831-3db1-426d-a120-97569c57db29","mac_address":"02:00:00:00:9a:2f","enable_masquerade":true,"status":"ready","dhcp":{"id":"50305873-3b1f-4b8a-85bc-de4c131ec41b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:25:47.301674Z","updated_at":"2022-04-27T12:25:47.301674Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"90b794fa-af0f-4a64-a605-494ab03e117a","gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","created_at":"2022-04-27T12:26:05.270418Z","updated_at":"2022-04-27T12:26:05.270418Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/90b794fa-af0f-4a64-a605-494ab03e117a
    method: GET
  response:
    body: '{"id":"90b794fa-af0f-4a64-a605-494ab03e117a","gateway_id":"832ca93c-6443-4c7e-9363-b49ebb5b89c3","created_at":"2022-04-27T12:26:05.270418Z","updated_at":"2022-04-27T12:26:05.270418Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/fee57a9d-b84b-47ab-8542-998d0b9c23a5?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/fee57a9d-b84b-47ab-8542-998d0b9c23a5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"fee57a9d-b84b-47ab-8542-998d0b9c23a5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/832ca93c-6443-4c7e-9363-b49ebb5b89c3?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/1d9ba831-3db1-426d-a120-97569c57db29
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
