---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T13:51:52.438402Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"74b78673-7af5-4133-a052-78060b4532b6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/74b78673-7af5-4133-a052-78060b4532b6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T13:51:52.438402Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"74b78673-7af5-4133-a052-78060b4532b6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T13:51:52.206160Z","dhcp_enabled":true,"id":"88788df1-c166-4633-8271-d9e244577053","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T13:51:52.206160Z","id":"716e3f19-3a55-40d9-acba-9602513e22d9","subnet":"172.16.20.0/22","updated_at":"2023-10-20T13:51:52.206160Z"},{"created_at":"2023-10-20T13:51:52.206160Z","id":"afcc9d9c-bf6a-4f54-a2cb-a88b32349844","subnet":"fd63:256c:45f7:daf3::/64","updated_at":"2023-10-20T13:51:52.206160Z"}],"tags":[],"updated_at":"2023-10-20T13:51:52.206160Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/88788df1-c166-4633-8271-d9e244577053
    method: GET
  response:
    body: '{"created_at":"2023-10-20T13:51:52.206160Z","dhcp_enabled":true,"id":"88788df1-c166-4633-8271-d9e244577053","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T13:51:52.206160Z","id":"716e3f19-3a55-40d9-acba-9602513e22d9","subnet":"172.16.20.0/22","updated_at":"2023-10-20T13:51:52.206160Z"},{"created_at":"2023-10-20T13:51:52.206160Z","id":"afcc9d9c-bf6a-4f54-a2cb-a88b32349844","subnet":"fd63:256c:45f7:daf3::/64","updated_at":"2023-10-20T13:51:52.206160Z"}],"tags":[],"updated_at":"2023-10-20T13:51:52.206160Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/74b78673-7af5-4133-a052-78060b4532b6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T13:51:52.438402Z","endpoint":{"id":"4fa52573-d70f-4a9b-a86a-16b5d4b02605","ip":"51.159.25.173","load_balancer":{},"name":null,"port":24399},"endpoints":[{"id":"4fa52573-d70f-4a9b-a86a-16b5d4b02605","ip":"51.159.25.173","load_balancer":{},"name":null,"port":24399}],"engine":"PostgreSQL-14","id":"74b78673-7af5-4133-a052-78060b4532b6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/74b78673-7af5-4133-a052-78060b4532b6/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVU2dBTDFrVXRkcnQrOHVCWXZUcjB3YzVMRE5Jd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5TlM0eE56TXdIaGNOCk1qTXhNREl3TVRNMU1qTXlXaGNOTXpNeE1ERTNNVE0xTWpNeVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"74b78673-7af5-4133-a052-78060b4532b6","endpoint_spec":[{"private_network":{"private_network_id":"88788df1-c166-4633-8271-d9e244577053","ipam_config":{}}}],"same_zone":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"06519591-cf28-4a5b-8c0e-1d9e99899690","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"88788df1-c166-4633-8271-d9e244577053","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"dde26e8a-871f-473d-9c6d-7651e1d0ce8b","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/dde26e8a-871f-473d-9c6d-7651e1d0ce8b
    method: GET
  response:
    body: '{"endpoints":[{"id":"06519591-cf28-4a5b-8c0e-1d9e99899690","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"88788df1-c166-4633-8271-d9e244577053","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"id":"dde26e8a-871f-473d-9c6d-7651e1d0ce8b","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/dde26e8a-871f-473d-9c6d-7651e1d0ce8b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"dde26e8a-871f-473d-9c6d-7651e1d0ce8b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
