---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.462055Z","endpoint":{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"a75dc3f0-4115-4895-8f9d-a60b6d8bb373","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a75dc3f0-4115-4895-8f9d-a60b6d8bb373
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.462055Z","endpoint":{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"a75dc3f0-4115-4895-8f9d-a60b6d8bb373","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a75dc3f0-4115-4895-8f9d-a60b6d8bb373
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.462055Z","endpoint":{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"a75dc3f0-4115-4895-8f9d-a60b6d8bb373","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a75dc3f0-4115-4895-8f9d-a60b6d8bb373
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.462055Z","endpoint":{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","ip":"51.159.207.148","load_balancer":{},"name":null,"port":8315},"endpoints":[{"id":"049e3c1d-d779-4454-a0bc-4eca5ebfb8a5","ip":"51.159.207.148","load_balancer":{},"name":null,"port":8315}],"engine":"PostgreSQL-15","id":"a75dc3f0-4115-4895-8f9d-a60b6d8bb373","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a75dc3f0-4115-4895-8f9d-a60b6d8bb373/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVWS8wbStoSDRMZnJWdEJPMThCTUxCY1pKclpRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURjdU1UUTRNQjRYCkRUSXpNVEl4T0RFek1EQXlPVm9YRFRNek1USXhOVEV6TURBeU9Wb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=a75dc3f0-4115-4895-8f9d-a60b6d8bb373&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"a75dc3f0-4115-4895-8f9d-a60b6d8bb373","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"ec191056-0f5c-4ebf-82c5-c8c6228f0115","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ec191056-0f5c-4ebf-82c5-c8c6228f0115
    method: GET
  response:
    body: '{"endpoints":[],"id":"ec191056-0f5c-4ebf-82c5-c8c6228f0115","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-youthful-hellman","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:05:43.705425Z","dhcp_enabled":true,"id":"b52a3df7-bc0c-4d8f-9654-8b21344e83a2","name":"tf-pn-youthful-hellman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:05:43.705425Z","id":"f8c50604-d9cf-47bc-865d-6c03d2c39824","subnet":"172.16.112.0/22","updated_at":"2023-12-18T13:05:43.705425Z"},{"created_at":"2023-12-18T13:05:43.705425Z","id":"44b57754-f3e6-41c5-ba34-71c0888d8b8d","subnet":"fd5f:519c:6d46:6e4b::/64","updated_at":"2023-12-18T13:05:43.705425Z"}],"tags":[],"updated_at":"2023-12-18T13:05:43.705425Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b52a3df7-bc0c-4d8f-9654-8b21344e83a2
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:05:43.705425Z","dhcp_enabled":true,"id":"b52a3df7-bc0c-4d8f-9654-8b21344e83a2","name":"tf-pn-youthful-hellman","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:05:43.705425Z","id":"f8c50604-d9cf-47bc-865d-6c03d2c39824","subnet":"172.16.112.0/22","updated_at":"2023-12-18T13:05:43.705425Z"},{"created_at":"2023-12-18T13:05:43.705425Z","id":"44b57754-f3e6-41c5-ba34-71c0888d8b8d","subnet":"fd5f:519c:6d46:6e4b::/64","updated_at":"2023-12-18T13:05:43.705425Z"}],"tags":[],"updated_at":"2023-12-18T13:05:43.705425Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/cc9368b5-5311-4fc3-a42a-52fb1e861ef1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"b52a3df7-bc0c-4d8f-9654-8b21344e83a2","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ec191056-0f5c-4ebf-82c5-c8c6228f0115/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"ca1809a2-54c5-4ecc-a41f-4b9ff7082429","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"b52a3df7-bc0c-4d8f-9654-8b21344e83a2","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"ec191056-0f5c-4ebf-82c5-c8c6228f0115","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ec191056-0f5c-4ebf-82c5-c8c6228f0115
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"ec191056-0f5c-4ebf-82c5-c8c6228f0115","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
