---
version: 1
interactions:
- request:
    body: '{"project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","name":"TestAccScalewayRdbACL_Basic","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"b5b08796-a80c-4d26-a2a5-6aea80495136","name":"TestAccScalewayRdbACL_Basic","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-03T18:54:54.138191Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b5b08796-a80c-4d26-a2a5-6aea80495136
    method: GET
  response:
    body: '{"id":"b5b08796-a80c-4d26-a2a5-6aea80495136","name":"TestAccScalewayRdbACL_Basic","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-03T18:54:54.138191Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b5b08796-a80c-4d26-a2a5-6aea80495136
    method: GET
  response:
    body: '{"id":"b5b08796-a80c-4d26-a2a5-6aea80495136","name":"TestAccScalewayRdbACL_Basic","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"initializing","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.25.11","port":64951,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-03T18:54:54.138191Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b5b08796-a80c-4d26-a2a5-6aea80495136/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVZTloeUZjQ1VEZy9taGVoRFlvamFubmZOY01Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWlOV0l3T0RjNU5pMWhPREJqCkxUUmtNall0WVRKaE5TMDJZV1ZoT0RBME9UVXhNell1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFd05UQXpNVGcxTmpJd1doY05NekV3TlRBeE1UZzFOakl3V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"rules":[{"ip":"1.2.3.4/32","description":"foo"},{"ip":"4.5.6.7/32","description":"bar"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b5b08796-a80c-4d26-a2a5-6aea80495136/acls
    method: PUT
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":64951,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7/32","port":64951,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b5b08796-a80c-4d26-a2a5-6aea80495136/acls
    method: GET
  response:
    body: '{"rules":[{"ip":"1.2.3.4","port":64951,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7","port":64951,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rule_ips":["1.2.3.4/32","9.0.0.0/16"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b5b08796-a80c-4d26-a2a5-6aea80495136/acls
    method: DELETE
  response:
    body: '{"rules":[{"ip":"1.2.3.4","port":64951,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"9.0.0.0/16","port":64951,"protocol":"tcp","direction":"inbound","action":"allow","description":"baz"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/b5b08796-a80c-4d26-a2a5-6aea80495136
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"b5b08796-a80c-4d26-a2a5-6aea80495136","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
