---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"tf-pn-adoring-thompson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-02T18:53:50.869634Z","dhcp_enabled":true,"id":"b16795ce-01f0-46f5-b9f5-c22b5c649a0d","name":"tf-pn-adoring-thompson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:53:50.869634Z","id":"05c26b20-f19f-4986-8cff-3a475a41e04e","subnet":"172.16.24.0/22","updated_at":"2023-11-02T18:53:50.869634Z"},{"created_at":"2023-11-02T18:53:50.869634Z","id":"3405fa12-08a2-45c7-97e2-51ec63b1ebea","subnet":"fd63:256c:45f7:be55::/64","updated_at":"2023-11-02T18:53:50.869634Z"}],"tags":[],"updated_at":"2023-11-02T18:53:50.869634Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b16795ce-01f0-46f5-b9f5-c22b5c649a0d
    method: GET
  response:
    body: '{"created_at":"2023-11-02T18:53:50.869634Z","dhcp_enabled":true,"id":"b16795ce-01f0-46f5-b9f5-c22b5c649a0d","name":"tf-pn-adoring-thompson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-02T18:53:50.869634Z","id":"05c26b20-f19f-4986-8cff-3a475a41e04e","subnet":"172.16.24.0/22","updated_at":"2023-11-02T18:53:50.869634Z"},{"created_at":"2023-11-02T18:53:50.869634Z","id":"3405fa12-08a2-45c7-97e2-51ec63b1ebea","subnet":"fd63:256c:45f7:be55::/64","updated_at":"2023-11-02T18:53:50.869634Z"}],"tags":[],"updated_at":"2023-11-02T18:53:50.869634Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:53:51.506615Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9ca0d1a9-9c76-4bec-b79f-18fe9161f939","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9ca0d1a9-9c76-4bec-b79f-18fe9161f939
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:53:51.506615Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"9ca0d1a9-9c76-4bec-b79f-18fe9161f939","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9ca0d1a9-9c76-4bec-b79f-18fe9161f939
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:53:51.506615Z","endpoint":{"id":"04bd8220-0459-4467-bb84-801aab9cebee","ip":"51.159.205.115","load_balancer":{},"name":null,"port":5303},"endpoints":[{"id":"04bd8220-0459-4467-bb84-801aab9cebee","ip":"51.159.205.115","load_balancer":{},"name":null,"port":5303}],"engine":"PostgreSQL-15","id":"9ca0d1a9-9c76-4bec-b79f-18fe9161f939","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/9ca0d1a9-9c76-4bec-b79f-18fe9161f939/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwekNDQW8rZ0F3SUJBZ0lVSlE2TU4ydTBUY2ZpSUlRUmJENkp1UzU5NTc4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURVdU1URTFNQjRYCkRUSXpNVEV3TWpFNE5UUXpNRm9YRFRNek1UQXpNREU0TlRRek1Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
- request:
    body: '{"instance_id":"9ca0d1a9-9c76-4bec-b79f-18fe9161f939","endpoint_spec":[{"private_network":{"private_network_id":"b16795ce-01f0-46f5-b9f5-c22b5c649a0d","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"21d21917-18e1-4e91-8871-db9f3b29b332","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"b16795ce-01f0-46f5-b9f5-c22b5c649a0d","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"a38be5cc-0845-497d-94e6-27b84cc71ad5","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/a38be5cc-0845-497d-94e6-27b84cc71ad5
    method: GET
  response:
    body: '{"endpoints":[{"id":"21d21917-18e1-4e91-8871-db9f3b29b332","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"b16795ce-01f0-46f5-b9f5-c22b5c649a0d","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"a38be5cc-0845-497d-94e6-27b84cc71ad5","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/a38be5cc-0845-497d-94e6-27b84cc71ad5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"a38be5cc-0845-497d-94e6-27b84cc71ad5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
