---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-16T15:52:10.392443Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"317cfabe-4cd7-4d20-bf34-f02382122edb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T15:52:10.392443Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/317cfabe-4cd7-4d20-bf34-f02382122edb
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-16T15:52:10.392443Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"317cfabe-4cd7-4d20-bf34-f02382122edb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T15:52:10.392443Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T15:52:10.392929Z","dhcp_enabled":true,"id":"34efb194-d086-4064-b419-2f4d354f51ce","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-16T15:52:10.392929Z","id":"e7bf9686-1bcb-4537-92bb-dec9104b9af2","subnet":"172.16.8.0/22","updated_at":"2023-11-16T15:52:10.392929Z"},{"created_at":"2023-11-16T15:52:10.392929Z","id":"ed0972d9-734c-4a86-8ac1-e27d65ccc2ac","subnet":"fd68:d440:21c4:9399::/64","updated_at":"2023-11-16T15:52:10.392929Z"}],"tags":[],"updated_at":"2023-11-16T15:52:10.392929Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/34efb194-d086-4064-b419-2f4d354f51ce
    method: GET
  response:
    body: '{"created_at":"2023-11-16T15:52:10.392929Z","dhcp_enabled":true,"id":"34efb194-d086-4064-b419-2f4d354f51ce","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-16T15:52:10.392929Z","id":"e7bf9686-1bcb-4537-92bb-dec9104b9af2","subnet":"172.16.8.0/22","updated_at":"2023-11-16T15:52:10.392929Z"},{"created_at":"2023-11-16T15:52:10.392929Z","id":"ed0972d9-734c-4a86-8ac1-e27d65ccc2ac","subnet":"fd68:d440:21c4:9399::/64","updated_at":"2023-11-16T15:52:10.392929Z"}],"tags":[],"updated_at":"2023-11-16T15:52:10.392929Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.85.121","created_at":"2023-11-16T15:52:11.027882Z","gateway_id":null,"id":"20691f3b-2fe1-420e-8b12-a50fe77c594e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"121-85-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T15:52:11.027882Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/20691f3b-2fe1-420e-8b12-a50fe77c594e
    method: GET
  response:
    body: '{"address":"51.15.85.121","created_at":"2023-11-16T15:52:11.027882Z","gateway_id":null,"id":"20691f3b-2fe1-420e-8b12-a50fe77c594e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"121-85-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T15:52:11.027882Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"20691f3b-2fe1-420e-8b12-a50fe77c594e","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-16T15:52:11.260711Z","gateway_networks":[],"id":"8f1f27a7-161d-47da-9596-3badf890ca97","ip":{"address":"51.15.85.121","created_at":"2023-11-16T15:52:11.027882Z","gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","id":"20691f3b-2fe1-420e-8b12-a50fe77c594e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"121-85-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T15:52:11.027882Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-16T15:52:11.260711Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8f1f27a7-161d-47da-9596-3badf890ca97
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-16T15:52:11.260711Z","gateway_networks":[],"id":"8f1f27a7-161d-47da-9596-3badf890ca97","ip":{"address":"51.15.85.121","created_at":"2023-11-16T15:52:11.027882Z","gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","id":"20691f3b-2fe1-420e-8b12-a50fe77c594e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"121-85-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-16T15:52:11.027882Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-16T15:52:11.313795Z","upstream_dns_servers":[],"version":"0.6.1","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"34efb194-d086-4064-b419-2f4d354f51ce","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T15:52:11.303323Z","endpoint":null,"endpoints":[{"id":"88cc715f-67d8-4783-a28a-78b1dbbe0781","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"34efb194-d086-4064-b419-2f4d354f51ce","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"7d8dfd67-9aa6-40d8-9c35-d4eb91a78e97","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7d8dfd67-9aa6-40d8-9c35-d4eb91a78e97
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T15:52:11.303323Z","endpoint":null,"endpoints":[{"id":"88cc715f-67d8-4783-a28a-78b1dbbe0781","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"34efb194-d086-4064-b419-2f4d354f51ce","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"7d8dfd67-9aa6-40d8-9c35-d4eb91a78e97","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","private_network_id":"34efb194-d086-4064-b419-2f4d354f51ce","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"317cfabe-4cd7-4d20-bf34-f02382122edb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-16T15:52:17.605329Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-16T15:52:10.392443Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"317cfabe-4cd7-4d20-bf34-f02382122edb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T15:52:10.392443Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","id":"0bed21f9-1668-46d6-8498-0cb446a38bbd","ipam_config":null,"mac_address":null,"private_network_id":"34efb194-d086-4064-b419-2f4d354f51ce","status":"created","updated_at":"2023-11-16T15:52:17.605329Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/0bed21f9-1668-46d6-8498-0cb446a38bbd
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-16T15:52:17.605329Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-16T15:52:10.392443Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"317cfabe-4cd7-4d20-bf34-f02382122edb","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-16T15:52:10.392443Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","id":"0bed21f9-1668-46d6-8498-0cb446a38bbd","ipam_config":null,"mac_address":"02:00:00:11:F7:AA","private_network_id":"34efb194-d086-4064-b419-2f4d354f51ce","status":"ready","updated_at":"2023-11-16T15:52:27.282645Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7d8dfd67-9aa6-40d8-9c35-d4eb91a78e97
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T15:52:11.303323Z","endpoint":{"id":"1243a695-982d-41b6-bf75-612d251fdec2","ip":"51.158.131.191","load_balancer":{},"name":null,"port":1218},"endpoints":[{"id":"88cc715f-67d8-4783-a28a-78b1dbbe0781","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"34efb194-d086-4064-b419-2f4d354f51ce","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}},{"id":"1243a695-982d-41b6-bf75-612d251fdec2","ip":"51.158.131.191","load_balancer":{},"name":null,"port":1218}],"engine":"PostgreSQL-15","id":"7d8dfd67-9aa6-40d8-9c35-d4eb91a78e97","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7d8dfd67-9aa6-40d8-9c35-d4eb91a78e97/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR1akNDQXFLZ0F3SUJBZ0lVYnlSZzh6bjNxbnMyRVpsV3MyWkxCcjJvWlo4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qTXhNVEUyTVRVMU5EVTNXaGNOTXpNeE1URXpNVFUxTkRVM1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
- request:
    body: '{"gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-11-16T15:55:14.769886Z","gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","id":"6f34a4e4-07b7-49ca-8003-6ad98917ae5e","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-16T15:55:14.769886Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/6f34a4e4-07b7-49ca-8003-6ad98917ae5e
    method: GET
  response:
    body: '{"created_at":"2023-11-16T15:55:14.769886Z","gateway_id":"8f1f27a7-161d-47da-9596-3badf890ca97","id":"6f34a4e4-07b7-49ca-8003-6ad98917ae5e","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-16T15:55:14.769886Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/0bed21f9-1668-46d6-8498-0cb446a38bbd?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/88cc715f-67d8-4783-a28a-78b1dbbe0781
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/0bed21f9-1668-46d6-8498-0cb446a38bbd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"0bed21f9-1668-46d6-8498-0cb446a38bbd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8f1f27a7-161d-47da-9596-3badf890ca97?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
