---
version: 1
interactions:
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-18T12:59:19.242642Z","dhcp_enabled":true,"id":"69d4c460-8ef9-4bc5-b235-8ddc767fec77","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-18T12:59:19.242642Z","id":"688b82cd-178d-481a-a3c1-7d47ddf61d74","subnet":"172.16.24.0/22","updated_at":"2024-01-18T12:59:19.242642Z"},{"created_at":"2024-01-18T12:59:19.242642Z","id":"89bd07f5-1109-45bb-819e-a6039a202ded","subnet":"fd63:256c:45f7:65a8::/64","updated_at":"2024-01-18T12:59:19.242642Z"}],"tags":[],"updated_at":"2024-01-18T12:59:19.242642Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:59:19.505262Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"1762123f-d079-490d-98b9-72966b1c204b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/69d4c460-8ef9-4bc5-b235-8ddc767fec77
    method: GET
  response:
    body: '{"created_at":"2024-01-18T12:59:19.242642Z","dhcp_enabled":true,"id":"69d4c460-8ef9-4bc5-b235-8ddc767fec77","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-18T12:59:19.242642Z","id":"688b82cd-178d-481a-a3c1-7d47ddf61d74","subnet":"172.16.24.0/22","updated_at":"2024-01-18T12:59:19.242642Z"},{"created_at":"2024-01-18T12:59:19.242642Z","id":"89bd07f5-1109-45bb-819e-a6039a202ded","subnet":"fd63:256c:45f7:65a8::/64","updated_at":"2024-01-18T12:59:19.242642Z"}],"tags":[],"updated_at":"2024-01-18T12:59:19.242642Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1762123f-d079-490d-98b9-72966b1c204b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:59:19.505262Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"1762123f-d079-490d-98b9-72966b1c204b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1762123f-d079-490d-98b9-72966b1c204b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:59:19.505262Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"1762123f-d079-490d-98b9-72966b1c204b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1762123f-d079-490d-98b9-72966b1c204b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:59:19.505262Z","endpoint":{"id":"d1a4e738-c025-4d48-8805-66211485cff6","ip":"195.154.71.160","load_balancer":{},"name":null,"port":13972},"endpoints":[{"id":"d1a4e738-c025-4d48-8805-66211485cff6","ip":"195.154.71.160","load_balancer":{},"name":null,"port":13972}],"engine":"PostgreSQL-14","id":"1762123f-d079-490d-98b9-72966b1c204b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"01ea6b82-47cd-4237-892d-0a882e686223","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1762123f-d079-490d-98b9-72966b1c204b/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVTi9uaHpRcUsrT0tQakFvOVpLaUpRR3RXRlB3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFNU5TNHhOVFF1TnpFdU1UWXdNQjRYCkRUSTBNREV4T0RFek1ERTFObG9YRFRNME1ERXhOVEV6TURFMU5sb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakU1TlM0eE5[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=1762123f-d079-490d-98b9-72966b1c204b&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"1762123f-d079-490d-98b9-72966b1c204b","endpoint_spec":[{"private_network":{"private_network_id":"69d4c460-8ef9-4bc5-b235-8ddc767fec77","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"164ed3f4-f9e3-417d-802f-01090cbfb2a5","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"69d4c460-8ef9-4bc5-b235-8ddc767fec77","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"id":"24cbe759-e982-4f92-b071-ce0d6956dcf8","instance_id":"1762123f-d079-490d-98b9-72966b1c204b","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/24cbe759-e982-4f92-b071-ce0d6956dcf8
    method: GET
  response:
    body: '{"endpoints":[{"id":"164ed3f4-f9e3-417d-802f-01090cbfb2a5","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"69d4c460-8ef9-4bc5-b235-8ddc767fec77","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"id":"24cbe759-e982-4f92-b071-ce0d6956dcf8","instance_id":"1762123f-d079-490d-98b9-72966b1c204b","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=1762123f-d079-490d-98b9-72966b1c204b&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.24.2/22","created_at":"2024-01-18T13:02:22.069042Z","id":"beda8870-5158-4fa7-995d-b08199fc68d5","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"1762123f-d079-490d-98b9-72966b1c204b","mac_address":"02:00:00:17:4B:17","name":"read-replica-24cbe759","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"688b82cd-178d-481a-a3c1-7d47ddf61d74"},"tags":["managed","scwdbaas"],"updated_at":"2024-01-18T13:02:54.249705Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/24cbe759-e982-4f92-b071-ce0d6956dcf8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"24cbe759-e982-4f92-b071-ce0d6956dcf8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
