---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.905137Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"3ed41894-0982-4f37-89ca-4c001007bdca","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-21T18:24:51.734271Z","dhcp_enabled":true,"id":"f2848f3a-ce13-4f64-a098-417cbc8093e9","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-21T18:24:51.734271Z","id":"2580e7ab-fb53-40dc-b5a4-e3813323158f","subnet":"172.16.84.0/22","updated_at":"2024-02-21T18:24:51.734271Z"},{"created_at":"2024-02-21T18:24:51.734271Z","id":"b8cfb70a-5107-42ff-acc1-49e6e2752531","subnet":"fd5f:519c:6d46:1a29::/64","updated_at":"2024-02-21T18:24:51.734271Z"}],"tags":[],"updated_at":"2024-02-21T18:24:51.734271Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f2848f3a-ce13-4f64-a098-417cbc8093e9
    method: GET
  response:
    body: '{"created_at":"2024-02-21T18:24:51.734271Z","dhcp_enabled":true,"id":"f2848f3a-ce13-4f64-a098-417cbc8093e9","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-21T18:24:51.734271Z","id":"2580e7ab-fb53-40dc-b5a4-e3813323158f","subnet":"172.16.84.0/22","updated_at":"2024-02-21T18:24:51.734271Z"},{"created_at":"2024-02-21T18:24:51.734271Z","id":"b8cfb70a-5107-42ff-acc1-49e6e2752531","subnet":"fd5f:519c:6d46:1a29::/64","updated_at":"2024-02-21T18:24:51.734271Z"}],"tags":[],"updated_at":"2024-02-21T18:24:51.734271Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3ed41894-0982-4f37-89ca-4c001007bdca
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.905137Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"3ed41894-0982-4f37-89ca-4c001007bdca","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3ed41894-0982-4f37-89ca-4c001007bdca
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.905137Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"3ed41894-0982-4f37-89ca-4c001007bdca","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3ed41894-0982-4f37-89ca-4c001007bdca
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.905137Z","endpoint":{"id":"52e1cb05-64dd-4485-bfa6-11cc6a517fb8","ip":"195.154.197.252","load_balancer":{},"name":null,"port":26881},"endpoints":[{"id":"52e1cb05-64dd-4485-bfa6-11cc6a517fb8","ip":"195.154.197.252","load_balancer":{},"name":null,"port":26881}],"engine":"PostgreSQL-14","id":"3ed41894-0982-4f37-89ca-4c001007bdca","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/3ed41894-0982-4f37-89ca-4c001007bdca/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVTWdjQ0t4L0NtQ0R4cDFTRHRWWENwRjM4V0t3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrM0xqSTFNakFlCkZ3MHlOREF5TWpFeE9ESTNNalJhRncwek5EQXlNVGd4T0RJM01qUmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=3ed41894-0982-4f37-89ca-4c001007bdca&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"3ed41894-0982-4f37-89ca-4c001007bdca","endpoint_spec":[{"private_network":{"private_network_id":"f2848f3a-ce13-4f64-a098-417cbc8093e9","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"0d431bbc-dfc2-4237-8c6f-935f387b27e9","ip":"172.16.84.2","name":null,"port":5432,"private_network":{"private_network_id":"f2848f3a-ce13-4f64-a098-417cbc8093e9","service_ip":"172.16.84.2/22","zone":"fr-par-1"}}],"id":"4c8d0fd3-cdc3-4436-89ad-0cfb5d375194","instance_id":"3ed41894-0982-4f37-89ca-4c001007bdca","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/4c8d0fd3-cdc3-4436-89ad-0cfb5d375194
    method: GET
  response:
    body: '{"endpoints":[{"id":"0d431bbc-dfc2-4237-8c6f-935f387b27e9","ip":"172.16.84.2","name":null,"port":5432,"private_network":{"private_network_id":"f2848f3a-ce13-4f64-a098-417cbc8093e9","service_ip":"172.16.84.2/22","zone":"fr-par-1"}}],"id":"4c8d0fd3-cdc3-4436-89ad-0cfb5d375194","instance_id":"3ed41894-0982-4f37-89ca-4c001007bdca","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=3ed41894-0982-4f37-89ca-4c001007bdca&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.84.2/22","created_at":"2024-02-21T18:27:57.987939Z","id":"802071ae-b0f9-4f71-8cb8-4a5cb9be0591","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"3ed41894-0982-4f37-89ca-4c001007bdca","mac_address":"02:00:00:18:8A:0C","name":"read-replica-4c8d0fd3","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"2580e7ab-fb53-40dc-b5a4-e3813323158f"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-21T18:28:37.216169Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/4c8d0fd3-cdc3-4436-89ad-0cfb5d375194
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"4c8d0fd3-cdc3-4436-89ad-0cfb5d375194","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
