---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T17:38:37.867418Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b379e573-263d-46b0-90fb-74344603f2a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:38:37.867418Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/b379e573-263d-46b0-90fb-74344603f2a3
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T17:38:37.867418Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b379e573-263d-46b0-90fb-74344603f2a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:38:37.867418Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:38:37.906024Z","dhcp_enabled":false,"id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2023-07-11T17:38:37.906024Z","id":"f0cba020-985b-489a-a8d4-e276ef7720d5","subnet":"172.16.16.0/22","updated_at":"2023-07-11T17:38:37.906024Z"},{"created_at":"2023-07-11T17:38:37.906024Z","id":"bea6f418-1233-4b93-9816-962c95334b65","subnet":"fd2c:2ff0:469a:b34c::/64","updated_at":"2023-07-11T17:38:37.906024Z"}],"tags":[],"updated_at":"2023-07-11T17:38:37.906024Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/8f9a7d4f-481a-4357-9dff-359b5e33227f
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:38:37.906024Z","dhcp_enabled":false,"id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2023-07-11T17:38:37.906024Z","id":"f0cba020-985b-489a-a8d4-e276ef7720d5","subnet":"172.16.16.0/22","updated_at":"2023-07-11T17:38:37.906024Z"},{"created_at":"2023-07-11T17:38:37.906024Z","id":"bea6f418-1233-4b93-9816-962c95334b65","subnet":"fd2c:2ff0:469a:b34c::/64","updated_at":"2023-07-11T17:38:37.906024Z"}],"tags":[],"updated_at":"2023-07-11T17:38:37.906024Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.158.171.24","created_at":"2023-07-11T17:38:38.508150Z","gateway_id":null,"id":"adb61304-0360-48ca-a9cb-f3fcdef607e5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:38:38.508150Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/adb61304-0360-48ca-a9cb-f3fcdef607e5
    method: GET
  response:
    body: '{"address":"51.158.171.24","created_at":"2023-07-11T17:38:38.508150Z","gateway_id":null,"id":"adb61304-0360-48ca-a9cb-f3fcdef607e5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:38:38.508150Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:38.399834Z","endpoint":null,"endpoints":[{"id":"f988f6a4-1efd-4ec9-9ffa-106a458bd13b","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-11","id":"6f443d7a-4f07-4a27-9f5d-54d704ef1cdc","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"1b14b9d9-eb3a-443d-97f7-e3878f6ebfb7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/6f443d7a-4f07-4a27-9f5d-54d704ef1cdc
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:38.399834Z","endpoint":null,"endpoints":[{"id":"f988f6a4-1efd-4ec9-9ffa-106a458bd13b","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-11","id":"6f443d7a-4f07-4a27-9f5d-54d704ef1cdc","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"1b14b9d9-eb3a-443d-97f7-e3878f6ebfb7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"adb61304-0360-48ca-a9cb-f3fcdef607e5","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:38:39.481829Z","gateway_networks":[],"id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","ip":{"address":"51.158.171.24","created_at":"2023-07-11T17:38:38.508150Z","gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","id":"adb61304-0360-48ca-a9cb-f3fcdef607e5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:38:38.508150Z","zone":"nl-ams-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-07-11T17:38:39.481829Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:38:39.481829Z","gateway_networks":[],"id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","ip":{"address":"51.158.171.24","created_at":"2023-07-11T17:38:38.508150Z","gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","id":"adb61304-0360-48ca-a9cb-f3fcdef607e5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:38:38.508150Z","zone":"nl-ams-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-07-11T17:38:39.661066Z","upstream_dns_servers":[],"version":"0.5.0","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","private_network_id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","enable_masquerade":true,"dhcp_id":"b379e573-263d-46b0-90fb-74344603f2a3","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-07-11T17:38:45.373409Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T17:38:37.867418Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b379e573-263d-46b0-90fb-74344603f2a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:38:37.867418Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","id":"c28e83a6-0aec-45af-8113-9efdf5b94b59","mac_address":null,"private_network_id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","status":"created","updated_at":"2023-07-11T17:38:45.373409Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/c28e83a6-0aec-45af-8113-9efdf5b94b59
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-07-11T17:38:45.373409Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T17:38:37.867418Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"b379e573-263d-46b0-90fb-74344603f2a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:38:37.867418Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","id":"c28e83a6-0aec-45af-8113-9efdf5b94b59","mac_address":"02:00:00:11:96:9F","private_network_id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","status":"ready","updated_at":"2023-07-11T17:38:53.047932Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/6f443d7a-4f07-4a27-9f5d-54d704ef1cdc
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:38.399834Z","endpoint":{"id":"51ee37c4-734f-4435-a3da-ddc6cad4df02","ip":"51.158.130.161","load_balancer":{},"name":null,"port":3235},"endpoints":[{"id":"f988f6a4-1efd-4ec9-9ffa-106a458bd13b","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"8f9a7d4f-481a-4357-9dff-359b5e33227f","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}},{"id":"51ee37c4-734f-4435-a3da-ddc6cad4df02","ip":"51.158.130.161","load_balancer":{},"name":null,"port":3235}],"engine":"PostgreSQL-11","id":"6f443d7a-4f07-4a27-9f5d-54d704ef1cdc","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"1b14b9d9-eb3a-443d-97f7-e3878f6ebfb7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/6f443d7a-4f07-4a27-9f5d-54d704ef1cdc/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR1akNDQXFLZ0F3SUJBZ0lVUzZhTWQ0LzdOclBmSXJzbDNRZWI1RUNwaWM4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qTXdOekV4TVRjek9UUTBXaGNOTXpNd056QTRNVGN6T1RRMFdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
- request:
    body: '{"gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:41:40.354292Z","gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","id":"2d24eed2-2735-44e1-96a4-a83d647e26a7","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-07-11T17:41:40.354292Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/2d24eed2-2735-44e1-96a4-a83d647e26a7
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:41:40.354292Z","gateway_id":"9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1","id":"2d24eed2-2735-44e1-96a4-a83d647e26a7","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-07-11T17:41:40.354292Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/6f443d7a-4f07-4a27-9f5d-54d704ef1cdc
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:38.399834Z","endpoint":{"id":"51ee37c4-734f-4435-a3da-ddc6cad4df02[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/c28e83a6-0aec-45af-8113-9efdf5b94b59?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/f988f6a4-1efd-4ec9-9ffa-106a458bd13b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/c28e83a6-0aec-45af-8113-9efdf5b94b59
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c28e83a6-0aec-45af-8113-9efdf5b94b59","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/9ae01ce4-b13b-4fac-9ecf-eb6c3f2e58e1?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
