---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"bb182569-fd64-4cd7-a317-ec656dbe60bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.015723Z","updated_at":"2021-12-15T17:48:46.015723Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/bb182569-fd64-4cd7-a317-ec656dbe60bb
    method: GET
  response:
    body: '{"id":"bb182569-fd64-4cd7-a317-ec656dbe60bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.015723Z","updated_at":"2021-12-15T17:48:46.015723Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"f8726713-f547-486f-a281-9a3e1500cfd7","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:45.965221Z","updated_at":"2021-12-15T17:48:45.965221Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/f8726713-f547-486f-a281-9a3e1500cfd7
    method: GET
  response:
    body: '{"id":"f8726713-f547-486f-a281-9a3e1500cfd7","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:45.965221Z","updated_at":"2021-12-15T17:48:45.965221Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"2f9569db-61dd-4027-bac3-a53e8f54c4a6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.493147Z","updated_at":"2021-12-15T17:48:46.493147Z","tags":[],"address":"51.15.117.107","reverse":"107-117-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips/2f9569db-61dd-4027-bac3-a53e8f54c4a6
    method: GET
  response:
    body: '{"id":"2f9569db-61dd-4027-bac3-a53e8f54c4a6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.493147Z","updated_at":"2021-12-15T17:48:46.493147Z","tags":[],"address":"51.15.117.107","reverse":"107-117-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"2f9569db-61dd-4027-bac3-a53e8f54c4a6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.789996Z","updated_at":"2021-12-15T17:48:46.789996Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"2f9569db-61dd-4027-bac3-a53e8f54c4a6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.493147Z","updated_at":"2021-12-15T17:48:46.493147Z","tags":[],"address":"51.15.117.107","reverse":"107-117-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/d97b04a7-3ab3-4f78-a88b-090cd14a7e92
    method: GET
  response:
    body: '{"id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.789996Z","updated_at":"2021-12-15T17:48:46.789996Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"2f9569db-61dd-4027-bac3-a53e8f54c4a6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.493147Z","updated_at":"2021-12-15T17:48:46.493147Z","tags":[],"address":"51.15.117.107","reverse":"107-117-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"f8726713-f547-486f-a281-9a3e1500cfd7","service_ip":"192.168.1.254/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"7f043cb2-fee7-4800-81a4-49d4d1b1bf4f","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"be1aa38d-168e-4b31-ab4f-9d2e1711f469","private_network":{"private_network_id":"f8726713-f547-486f-a281-9a3e1500cfd7","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-15T17:48:46.784096Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7f043cb2-fee7-4800-81a4-49d4d1b1bf4f
    method: GET
  response:
    body: '{"id":"7f043cb2-fee7-4800-81a4-49d4d1b1bf4f","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"be1aa38d-168e-4b31-ab4f-9d2e1711f469","private_network":{"private_network_id":"f8726713-f547-486f-a281-9a3e1500cfd7","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-15T17:48:46.784096Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","private_network_id":"f8726713-f547-486f-a281-9a3e1500cfd7","enable_masquerade":true,"dhcp_id":"bb182569-fd64-4cd7-a317-ec656dbe60bb","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"2227abeb-e44d-4c3d-bcd3-d20e8f57c2eb","created_at":"2021-12-15T17:50:47.391701Z","updated_at":"2021-12-15T17:50:47.391701Z","gateway_id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","private_network_id":"f8726713-f547-486f-a281-9a3e1500cfd7","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"bb182569-fd64-4cd7-a317-ec656dbe60bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.015723Z","updated_at":"2021-12-15T17:48:46.015723Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/2227abeb-e44d-4c3d-bcd3-d20e8f57c2eb
    method: GET
  response:
    body: '{"id":"2227abeb-e44d-4c3d-bcd3-d20e8f57c2eb","created_at":"2021-12-15T17:50:47.391701Z","updated_at":"2021-12-15T17:50:53.967574Z","gateway_id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","private_network_id":"f8726713-f547-486f-a281-9a3e1500cfd7","mac_address":"02:00:00:00:51:5c","enable_masquerade":true,"status":"ready","dhcp":{"id":"bb182569-fd64-4cd7-a317-ec656dbe60bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-15T17:48:46.015723Z","updated_at":"2021-12-15T17:48:46.015723Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7f043cb2-fee7-4800-81a4-49d4d1b1bf4f
    method: GET
  response:
    body: '{"id":"7f043cb2-fee7-4800-81a4-49d4d1b1bf4f","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.130.102","port":56116,"name":null,"id":"343a0cdb-97fd-479e-b107-5a7b38ddfaaa","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.130.102","port":56116,"name":null,"id":"343a0cdb-97fd-479e-b107-5a7b38ddfaaa","load_balancer":{}},{"ip":"192.168.1.254","port":5432,"name":null,"id":"be1aa38d-168e-4b31-ab4f-9d2e1711f469","private_network":{"private_network_id":"f8726713-f547-486f-a281-9a3e1500cfd7","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-15T17:48:46.784096Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/7f043cb2-fee7-4800-81a4-49d4d1b1bf4f/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVVU1wQ0hGelJNN1VFQ0hRbWtQMG5JK3BidUgwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDNaakEwTTJOaU1pMW1aV1UzCkxUUTRNREF0T0RGaE5DMDBPV1EwWkRGaU1XSm1OR1l1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1qRTFNVGMxTURVM1doY05NekV4TWpFek1UYzFNRFUzV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"gateway_id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"a0349395-ddab-431a-b55f-974518a74075","gateway_id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","created_at":"2021-12-15T17:52:49.064900Z","updated_at":"2021-12-15T17:52:49.064900Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules/a0349395-ddab-431a-b55f-974518a74075
    method: GET
  response:
    body: '{"id":"a0349395-ddab-431a-b55f-974518a74075","gateway_id":"d97b04a7-3ab3-4f78-a88b-090cd14a7e92","created_at":"2021-12-15T17:52:49.064900Z","updated_at":"2021-12-15T17:52:49.064900Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/2227abeb-e44d-4c3d-bcd3-d20e8f57c2eb?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/bb182569-fd64-4cd7-a317-ec656dbe60bb
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"bb182569-fd64-4cd7-a317-ec656dbe60bb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/d97b04a7-3ab3-4f78-a88b-090cd14a7e92?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/f8726713-f547-486f-a281-9a3e1500cfd7
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
