---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"61482d80-b210-4fd3-a7a3-17b827bd404d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:37.772802Z","updated_at":"2021-12-13T11:44:37.772802Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:37.739847Z","updated_at":"2021-12-13T11:44:37.739847Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/61482d80-b210-4fd3-a7a3-17b827bd404d
    method: GET
  response:
    body: '{"id":"61482d80-b210-4fd3-a7a3-17b827bd404d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:37.772802Z","updated_at":"2021-12-13T11:44:37.772802Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/72abfa87-1e85-47d5-aded-1fcc4f2cc785
    method: GET
  response:
    body: '{"id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:37.739847Z","updated_at":"2021-12-13T11:44:37.739847Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"ebac0bb3-ccd6-4266-9a04-5aa9f4af844d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:38.231953Z","updated_at":"2021-12-13T11:44:38.231953Z","tags":[],"address":"51.15.84.36","reverse":"36-84-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips/ebac0bb3-ccd6-4266-9a04-5aa9f4af844d
    method: GET
  response:
    body: '{"id":"ebac0bb3-ccd6-4266-9a04-5aa9f4af844d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:38.231953Z","updated_at":"2021-12-13T11:44:38.231953Z","tags":[],"address":"51.15.84.36","reverse":"36-84-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"ebac0bb3-ccd6-4266-9a04-5aa9f4af844d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:38.509046Z","updated_at":"2021-12-13T11:44:38.509046Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"ebac0bb3-ccd6-4266-9a04-5aa9f4af844d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:38.231953Z","updated_at":"2021-12-13T11:44:38.231953Z","tags":[],"address":"51.15.84.36","reverse":"36-84-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/b8f5671e-97c6-467b-a258-8257fbb9cabd
    method: GET
  response:
    body: '{"id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:38.509046Z","updated_at":"2021-12-13T11:44:38.563242Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"ebac0bb3-ccd6-4266-9a04-5aa9f4af844d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:38.231953Z","updated_at":"2021-12-13T11:44:38.231953Z","tags":[],"address":"51.15.84.36","reverse":"36-84-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","service_ip":"192.168.1.254/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"e6caaf98-4bc9-4526-aa15-70c0e10d86d8","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"c38cf091-0fb3-402c-8352-2f28e571de52","private_network":{"private_network_id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-13T11:44:38.366658Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/e6caaf98-4bc9-4526-aa15-70c0e10d86d8
    method: GET
  response:
    body: '{"id":"e6caaf98-4bc9-4526-aa15-70c0e10d86d8","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"c38cf091-0fb3-402c-8352-2f28e571de52","private_network":{"private_network_id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-13T11:44:38.366658Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","private_network_id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","enable_masquerade":true,"dhcp_id":"61482d80-b210-4fd3-a7a3-17b827bd404d","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"5c87611e-fe82-49af-8493-d5aea1fe561c","created_at":"2021-12-13T11:45:39.118543Z","updated_at":"2021-12-13T11:45:39.118543Z","gateway_id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","private_network_id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"61482d80-b210-4fd3-a7a3-17b827bd404d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:37.772802Z","updated_at":"2021-12-13T11:44:37.772802Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/5c87611e-fe82-49af-8493-d5aea1fe561c
    method: GET
  response:
    body: '{"id":"5c87611e-fe82-49af-8493-d5aea1fe561c","created_at":"2021-12-13T11:45:39.118543Z","updated_at":"2021-12-13T11:45:39.118543Z","gateway_id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","private_network_id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"61482d80-b210-4fd3-a7a3-17b827bd404d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-13T11:44:37.772802Z","updated_at":"2021-12-13T11:44:37.772802Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/e6caaf98-4bc9-4526-aa15-70c0e10d86d8
    method: GET
  response:
    body: '{"id":"e6caaf98-4bc9-4526-aa15-70c0e10d86d8","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.130.72","port":33625,"name":null,"id":"80482893-2504-49d3-a1b2-1cbefa506675","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.130.72","port":33625,"name":null,"id":"80482893-2504-49d3-a1b2-1cbefa506675","load_balancer":{}},{"ip":"192.168.1.254","port":5432,"name":null,"id":"c38cf091-0fb3-402c-8352-2f28e571de52","private_network":{"private_network_id":"72abfa87-1e85-47d5-aded-1fcc4f2cc785","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-13T11:44:38.366658Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/e6caaf98-4bc9-4526-aa15-70c0e10d86d8/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVSk9kdUs3Tko4STc3eTdCK0V1a29ES29nWWc4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWxObU5oWVdZNU9DMDBZbU01CkxUUTFNall0WVdFeE5TMDNNR013WlRFd1pEZzJaRGd1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1qRXpNVEUwTmpRNVdoY05NekV4TWpFeE1URTBOalE1V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"gateway_id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"2a2827d3-1276-4152-9d10-5b556f059c34","gateway_id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","created_at":"2021-12-13T11:48:40.504012Z","updated_at":"2021-12-13T11:48:40.504012Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules/2a2827d3-1276-4152-9d10-5b556f059c34
    method: GET
  response:
    body: '{"id":"2a2827d3-1276-4152-9d10-5b556f059c34","gateway_id":"b8f5671e-97c6-467b-a258-8257fbb9cabd","created_at":"2021-12-13T11:48:40.504012Z","updated_at":"2021-12-13T11:48:40.504012Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/5c87611e-fe82-49af-8493-d5aea1fe561c?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/61482d80-b210-4fd3-a7a3-17b827bd404d
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"61482d80-b210-4fd3-a7a3-17b827bd404d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/b8f5671e-97c6-467b-a258-8257fbb9cabd?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/72abfa87-1e85-47d5-aded-1fcc4f2cc785
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
[...]
