---
version: 1
interactions:
- request:
    body: '{"name":"test-rdb-rr-instance-in-pn2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-23T13:56:35.030713Z","dhcp_enabled":true,"id":"673b3539-d4f0-4d5b-9094-1cf8fd3924c6","name":"test-rdb-rr-instance-in-pn2","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:35.030713Z","id":"a97b0b9d-0bff-4802-90db-e5e648bb6a09","subnet":"172.16.8.0/22","updated_at":"2024-02-23T13:56:35.030713Z"},{"created_at":"2024-02-23T13:56:35.030713Z","id":"d8fe5e0b-8d3a-4fe7-8c19-57483aa63f6e","subnet":"fd63:256c:45f7:329f::/64","updated_at":"2024-02-23T13:56:35.030713Z"}],"tags":[],"updated_at":"2024-02-23T13:56:35.030713Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/673b3539-d4f0-4d5b-9094-1cf8fd3924c6
    method: GET
  response:
    body: '{"created_at":"2024-02-23T13:56:35.030713Z","dhcp_enabled":true,"id":"673b3539-d4f0-4d5b-9094-1cf8fd3924c6","name":"test-rdb-rr-instance-in-pn2","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:35.030713Z","id":"a97b0b9d-0bff-4802-90db-e5e648bb6a09","subnet":"172.16.8.0/22","updated_at":"2024-02-23T13:56:35.030713Z"},{"created_at":"2024-02-23T13:56:35.030713Z","id":"d8fe5e0b-8d3a-4fe7-8c19-57483aa63f6e","subnet":"fd63:256c:45f7:329f::/64","updated_at":"2024-02-23T13:56:35.030713Z"}],"tags":[],"updated_at":"2024-02-23T13:56:35.030713Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-instance-in-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"369d921d-b3a2-46e9-b51a-9161f208a723","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:36.058349Z","endpoint":null,"endpoints":[{"id":"3874d98b-2729-439b-8d11-75ed03c8821a","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"369d921d-b3a2-46e9-b51a-9161f208a723","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a93e1a4b-a062-4dc2-9f78-37f17efd27a2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:36.058349Z","endpoint":null,"endpoints":[{"id":"3874d98b-2729-439b-8d11-75ed03c8821a","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"369d921d-b3a2-46e9-b51a-9161f208a723","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a93e1a4b-a062-4dc2-9f78-37f17efd27a2
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:36.058349Z","endpoint":null,"endpoints":[{"id":"3874d98b-2729-439b-8d11-75ed03c8821a","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"369d921d-b3a2-46e9-b51a-9161f208a723","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-instance-in-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","instance-also-in-pn"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a93e1a4b-a062-4dc2-9f78-37f17efd27a2/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVUmlrL1g3MzlGZlRkd0tRUTdOVlZPdUNLeE9Nd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5TUM0eU1CNFhEVEkwCk1ESXlNekV6TlRjME5Wb1hEVE0wTURJeU1ERXpOVGMwTlZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=a93e1a4b-a062-4dc2-9f78-37f17efd27a2&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.20.2/22","created_at":"2024-02-23T13:56:36.445430Z","id":"5fa5e640-25cf-4173-b756-85570f4d1f89","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","mac_address":"02:00:00:18:94:CA","name":"test-rdb-rr-instance-in-pn","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"bf8766c2-778f-4ae2-957c-36918c60fa28"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-23T13:57:13.367542Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","endpoint_spec":[{"private_network":{"private_network_id":"369d921d-b3a2-46e9-b51a-9161f208a723","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"abb3b178-89cb-4ae7-83cc-7e8fd8402f6c","ip":"172.16.20.3","name":null,"port":5432,"private_network":{"private_network_id":"369d921d-b3a2-46e9-b51a-9161f208a723","service_ip":"172.16.20.3/22","zone":"fr-par-1"}}],"id":"ecfe7ebe-c2cb-4544-bc29-11a0f822a11e","instance_id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ecfe7ebe-c2cb-4544-bc29-11a0f822a11e
    method: GET
  response:
    body: '{"endpoints":[{"id":"abb3b178-89cb-4ae7-83cc-7e8fd8402f6c","ip":"172.16.20.3","name":null,"port":5432,"private_network":{"private_network_id":"369d921d-b3a2-46e9-b51a-9161f208a723","service_ip":"172.16.20.3/22","zone":"fr-par-1"}}],"id":"ecfe7ebe-c2cb-4544-bc29-11a0f822a11e","instance_id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/3874d98b-2729-439b-8d11-75ed03c8821a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"673b3539-d4f0-4d5b-9094-1cf8fd3924c6","ipam_config":{}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/a93e1a4b-a062-4dc2-9f78-37f17efd27a2/endpoints
    method: POST
  response:
    body: '{"id":"b139c1f5-40ac-4685-81bb-3588b24c97e9","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"673b3539-d4f0-4d5b-9094-1cf8fd3924c6","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"673b3539-d4f0-4d5b-9094-1cf8fd3924c6","ipam_config":{}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ecfe7ebe-c2cb-4544-bc29-11a0f822a11e/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"7fb2b6c5-101b-41a9-b5c0-0ddd172fd10d","ip":"172.16.8.3","name":null,"port":5432,"private_network":{"private_network_id":"673b3539-d4f0-4d5b-9094-1cf8fd3924c6","service_ip":"172.16.8.3/22","zone":"fr-par-1"}}],"id":"ecfe7ebe-c2cb-4544-bc29-11a0f822a11e","instance_id":"a93e1a4b-a062-4dc2-9f78-37f17efd27a2","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/ecfe7ebe-c2cb-4544-bc29-11a0f822a11e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"ecfe7ebe-c2cb-4544-bc29-11a0f822a11e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
