---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-pn","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T13:51:52.382900Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"cf0b48b8-f491-4f83-a600-851a4f37c5af","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-youthful-bose","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T13:51:52.157028Z","dhcp_enabled":true,"id":"afb88608-0f5e-4315-9428-512ab60ed515","name":"tf-pn-youthful-bose","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T13:51:52.157028Z","id":"c9e26eba-5d3a-4ce7-91c2-ca2a612a8f83","subnet":"172.16.4.0/22","updated_at":"2023-10-20T13:51:52.157028Z"},{"created_at":"2023-10-20T13:51:52.157028Z","id":"9d08548c-422b-4ce8-b361-cf4e8907e517","subnet":"fd63:256c:45f7:f138::/64","updated_at":"2023-10-20T13:51:52.157028Z"}],"tags":[],"updated_at":"2023-10-20T13:51:52.157028Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/cf0b48b8-f491-4f83-a600-851a4f37c5af
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T13:51:52.382900Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"cf0b48b8-f491-4f83-a600-851a4f37c5af","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/afb88608-0f5e-4315-9428-512ab60ed515
    method: GET
  response:
    body: '{"created_at":"2023-10-20T13:51:52.157028Z","dhcp_enabled":true,"id":"afb88608-0f5e-4315-9428-512ab60ed515","name":"tf-pn-youthful-bose","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T13:51:52.157028Z","id":"c9e26eba-5d3a-4ce7-91c2-ca2a612a8f83","subnet":"172.16.4.0/22","updated_at":"2023-10-20T13:51:52.157028Z"},{"created_at":"2023-10-20T13:51:52.157028Z","id":"9d08548c-422b-4ce8-b361-cf4e8907e517","subnet":"fd63:256c:45f7:f138::/64","updated_at":"2023-10-20T13:51:52.157028Z"}],"tags":[],"updated_at":"2023-10-20T13:51:52.157028Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/cf0b48b8-f491-4f83-a600-851a4f37c5af
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T13:51:52.382900Z","endpoint":{"id":"bb810431-2ccf-4bca-b648-8ec2024c02c8","ip":"51.159.26.148","load_balancer":{},"name":null,"port":29797},"endpoints":[{"id":"bb810431-2ccf-4bca-b648-8ec2024c02c8","ip":"51.159.26.148","load_balancer":{},"name":null,"port":29797}],"engine":"PostgreSQL-14","id":"cf0b48b8-f491-4f83-a600-851a4f37c5af","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[{"id":"d6fa23a8-ff53-464e-b0b0-4c4a3c1eb87d","minor_version":"15.4","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/cf0b48b8-f491-4f83-a600-851a4f37c5af/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVTUZJUVdFRjBlL2hJemhQWFlQUzV3VnlRWXgwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tmk0eE5EZ3dIaGNOCk1qTXhNREl3TVRNMU1qTTVXaGNOTXpNeE1ERTNNVE0xTWpNNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"cf0b48b8-f491-4f83-a600-851a4f37c5af","endpoint_spec":[{"private_network":{"private_network_id":"afb88608-0f5e-4315-9428-512ab60ed515","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"1544999c-392b-4722-be72-c01c2b911451","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"afb88608-0f5e-4315-9428-512ab60ed515","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"cd6230bf-36eb-47ad-97c1-d77eaeb1d012","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/cd6230bf-36eb-47ad-97c1-d77eaeb1d012
    method: GET
  response:
    body: '{"endpoints":[{"id":"1544999c-392b-4722-be72-c01c2b911451","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"afb88608-0f5e-4315-9428-512ab60ed515","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"cd6230bf-36eb-47ad-97c1-d77eaeb1d012","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/cd6230bf-36eb-47ad-97c1-d77eaeb1d012
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"cd6230bf-36eb-47ad-97c1-d77eaeb1d012","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
