---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-02T18:59:00.858700Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f664ab2c-301f-4cbd-9d28-cf56fe37db7d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T18:59:00.858700Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/f664ab2c-301f-4cbd-9d28-cf56fe37db7d
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-02T18:59:00.858700Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f664ab2c-301f-4cbd-9d28-cf56fe37db7d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T18:59:00.858700Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.76.243","created_at":"2023-11-02T18:59:01.365556Z","gateway_id":null,"id":"97ff5f3c-8e8a-4198-aaf5-b6b6d5a38f7e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"243-76-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T18:59:01.365556Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/97ff5f3c-8e8a-4198-aaf5-b6b6d5a38f7e
    method: GET
  response:
    body: '{"address":"51.15.76.243","created_at":"2023-11-02T18:59:01.365556Z","gateway_id":null,"id":"97ff5f3c-8e8a-4198-aaf5-b6b6d5a38f7e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"243-76-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T18:59:01.365556Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-02T18:59:00.881462Z","dhcp_enabled":true,"id":"0fc899b5-fd8e-408d-91d8-d0c477185680","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-02T18:59:00.881462Z","id":"a739db4b-6d5c-408e-ae89-80c252c0961f","subnet":"172.16.0.0/22","updated_at":"2023-11-02T18:59:00.881462Z"},{"created_at":"2023-11-02T18:59:00.881462Z","id":"be07ed5e-b85b-4c20-80e1-2012ddce8863","subnet":"fd68:d440:21c4:a8a7::/64","updated_at":"2023-11-02T18:59:00.881462Z"}],"tags":[],"updated_at":"2023-11-02T18:59:00.881462Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/0fc899b5-fd8e-408d-91d8-d0c477185680
    method: GET
  response:
    body: '{"created_at":"2023-11-02T18:59:00.881462Z","dhcp_enabled":true,"id":"0fc899b5-fd8e-408d-91d8-d0c477185680","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-02T18:59:00.881462Z","id":"a739db4b-6d5c-408e-ae89-80c252c0961f","subnet":"172.16.0.0/22","updated_at":"2023-11-02T18:59:00.881462Z"},{"created_at":"2023-11-02T18:59:00.881462Z","id":"be07ed5e-b85b-4c20-80e1-2012ddce8863","subnet":"fd68:d440:21c4:a8a7::/64","updated_at":"2023-11-02T18:59:00.881462Z"}],"tags":[],"updated_at":"2023-11-02T18:59:00.881462Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"97ff5f3c-8e8a-4198-aaf5-b6b6d5a38f7e","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-02T18:59:01.565830Z","gateway_networks":[],"id":"95a53bae-54e0-4384-8790-ba31b580b6af","ip":{"address":"51.15.76.243","created_at":"2023-11-02T18:59:01.365556Z","gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","id":"97ff5f3c-8e8a-4198-aaf5-b6b6d5a38f7e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"243-76-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T18:59:01.365556Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-02T18:59:01.565830Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/95a53bae-54e0-4384-8790-ba31b580b6af
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-02T18:59:01.565830Z","gateway_networks":[],"id":"95a53bae-54e0-4384-8790-ba31b580b6af","ip":{"address":"51.15.76.243","created_at":"2023-11-02T18:59:01.365556Z","gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","id":"97ff5f3c-8e8a-4198-aaf5-b6b6d5a38f7e","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"243-76-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T18:59:01.365556Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-02T18:59:01.623189Z","upstream_dns_servers":[],"version":"0.6.0","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"0fc899b5-fd8e-408d-91d8-d0c477185680","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:59:01.961755Z","endpoint":null,"endpoints":[{"id":"107453ea-e500-4318-ad8e-04cc72f93b76","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"0fc899b5-fd8e-408d-91d8-d0c477185680","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"315205b4-561a-46e7-a695-ffca1525da84","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/315205b4-561a-46e7-a695-ffca1525da84
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:59:01.961755Z","endpoint":null,"endpoints":[{"id":"107453ea-e500-4318-ad8e-04cc72f93b76","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"0fc899b5-fd8e-408d-91d8-d0c477185680","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"315205b4-561a-46e7-a695-ffca1525da84","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","private_network_id":"0fc899b5-fd8e-408d-91d8-d0c477185680","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"f664ab2c-301f-4cbd-9d28-cf56fe37db7d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-02T18:59:08.412434Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-02T18:59:00.858700Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f664ab2c-301f-4cbd-9d28-cf56fe37db7d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T18:59:00.858700Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","id":"f986ba83-b9cb-488c-bb74-f8dc20370bbc","ipam_config":null,"mac_address":null,"private_network_id":"0fc899b5-fd8e-408d-91d8-d0c477185680","status":"created","updated_at":"2023-11-02T18:59:08.412434Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/f986ba83-b9cb-488c-bb74-f8dc20370bbc
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-02T18:59:08.412434Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-02T18:59:00.858700Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f664ab2c-301f-4cbd-9d28-cf56fe37db7d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T18:59:00.858700Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","id":"f986ba83-b9cb-488c-bb74-f8dc20370bbc","ipam_config":null,"mac_address":"02:00:00:11:E4:7A","private_network_id":"0fc899b5-fd8e-408d-91d8-d0c477185680","status":"ready","updated_at":"2023-11-02T18:59:15.588067Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/315205b4-561a-46e7-a695-ffca1525da84
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T18:59:01.961755Z","endpoint":{"id":"ba5e77a4-1be9-4b89-ba05-dd715bc3eba7","ip":"51.158.130.202","load_balancer":{},"name":null,"port":19510},"endpoints":[{"id":"107453ea-e500-4318-ad8e-04cc72f93b76","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"0fc899b5-fd8e-408d-91d8-d0c477185680","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}},{"id":"ba5e77a4-1be9-4b89-ba05-dd715bc3eba7","ip":"51.158.130.202","load_balancer":{},"name":null,"port":19510}],"engine":"PostgreSQL-15","id":"315205b4-561a-46e7-a695-ffca1525da84","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/315205b4-561a-46e7-a695-ffca1525da84/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR1akNDQXFLZ0F3SUJBZ0lVWnVBWFRNTEpxOExXZ3VHRVE0dExhdXdlUVZNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qTXhNVEF5TVRrd01ERXdXaGNOTXpNeE1ETXdNVGt3TURFd1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
- request:
    body: '{"gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-11-02T19:02:03.927209Z","gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","id":"caa010cd-8c5a-4afc-9a78-63dda87e714b","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-02T19:02:03.927209Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/caa010cd-8c5a-4afc-9a78-63dda87e714b
    method: GET
  response:
    body: '{"created_at":"2023-11-02T19:02:03.927209Z","gateway_id":"95a53bae-54e0-4384-8790-ba31b580b6af","id":"caa010cd-8c5a-4afc-9a78-63dda87e714b","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-02T19:02:03.927209Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/f986ba83-b9cb-488c-bb74-f8dc20370bbc?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/107453ea-e500-4318-ad8e-04cc72f93b76
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/f986ba83-b9cb-488c-bb74-f8dc20370bbc
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"f986ba83-b9cb-488c-bb74-f8dc20370bbc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/95a53bae-54e0-4384-8790-ba31b580b6af?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
