---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T14:28:48.007236Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c964ec7c-2742-4b26-a7d4-8b8ae03d3741
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T14:28:48.007236Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c964ec7c-2742-4b26-a7d4-8b8ae03d3741
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T14:28:48.007236Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c964ec7c-2742-4b26-a7d4-8b8ae03d3741
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T14:28:48.007236Z","endpoint":{"id":"9c5be62c-7df4-47d2-8b6f-4a96106ae643","ip":"51.159.11.135","load_balancer":{},"name":null,"port":23671},"endpoints":[{"id":"9c5be62c-7df4-47d2-8b6f-4a96106ae643","ip":"51.159.11.135","load_balancer":{},"name":null,"port":23671}],"engine":"PostgreSQL-15","id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c964ec7c-2742-4b26-a7d4-8b8ae03d3741/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVVFp4M2psU1N0Z3Zyc3QxZVNjL3pCTFpqT2ZRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TVM0eE16VXdIaGNOCk1qUXdNVEU0TVRRek1USTJXaGNOTXpRd01URTFNVFF6TVRJMldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=c964ec7c-2742-4b26-a7d4-8b8ae03d3741&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"eb41f7fe-6315-4070-983d-46018088b201","instance_id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/eb41f7fe-6315-4070-983d-46018088b201
    method: GET
  response:
    body: '{"endpoints":[],"id":"eb41f7fe-6315-4070-983d-46018088b201","instance_id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-admiring-golick","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-18T14:33:52.923255Z","dhcp_enabled":true,"id":"9891e8ee-4789-4c99-8519-4987d6183702","name":"tf-pn-admiring-golick","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-18T14:33:52.923255Z","id":"d977f3a3-ef8c-487e-b2ff-974ab5ef2ccd","subnet":"172.16.28.0/22","updated_at":"2024-01-18T14:33:52.923255Z"},{"created_at":"2024-01-18T14:33:52.923255Z","id":"3a095965-7d7e-4d9e-8804-7f0253335e32","subnet":"fd63:256c:45f7:8f42::/64","updated_at":"2024-01-18T14:33:52.923255Z"}],"tags":[],"updated_at":"2024-01-18T14:33:52.923255Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9891e8ee-4789-4c99-8519-4987d6183702
    method: GET
  response:
    body: '{"created_at":"2024-01-18T14:33:52.923255Z","dhcp_enabled":true,"id":"9891e8ee-4789-4c99-8519-4987d6183702","name":"tf-pn-admiring-golick","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-18T14:33:52.923255Z","id":"d977f3a3-ef8c-487e-b2ff-974ab5ef2ccd","subnet":"172.16.28.0/22","updated_at":"2024-01-18T14:33:52.923255Z"},{"created_at":"2024-01-18T14:33:52.923255Z","id":"3a095965-7d7e-4d9e-8804-7f0253335e32","subnet":"fd63:256c:45f7:8f42::/64","updated_at":"2024-01-18T14:33:52.923255Z"}],"tags":[],"updated_at":"2024-01-18T14:33:52.923255Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/e6f80ed6-2c9e-4978-ba53-c9ca02f2a51c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"9891e8ee-4789-4c99-8519-4987d6183702","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/eb41f7fe-6315-4070-983d-46018088b201/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"b0753a4e-b880-424f-9e16-ad792781c005","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"9891e8ee-4789-4c99-8519-4987d6183702","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"eb41f7fe-6315-4070-983d-46018088b201","instance_id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"9891e8ee-4789-4c99-8519-4987d6183702","ipam_config":{}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/eb41f7fe-6315-4070-983d-46018088b201/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"1a0dfa62-e2a5-4e01-af9c-cb86d61b95d9","ip":"172.16.28.3","name":null,"port":5432,"private_network":{"private_network_id":"9891e8ee-4789-4c99-8519-4987d6183702","service_ip":"172.16.28.3/22","zone":"fr-par-1"}}],"id":"eb41f7fe-6315-4070-983d-46018088b201","instance_id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=c964ec7c-2742-4b26-a7d4-8b8ae03d3741&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.28.3/22","created_at":"2024-01-18T14:35:29.039945Z","id":"1a51e77e-45b4-4007-b181-2b8c0666b6cd","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"c964ec7c-2742-4b26-a7d4-8b8ae03d3741","mac_address":"02:00:00:17:4C:24","name":"read-replica-eb41f7fe","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"d977f3a3-ef8c-487e-b2ff-974ab5ef2ccd"},"tags":["managed","scwdbaas"],"updated_at":"2024-01-18T14:35:30.705280Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/eb41f7fe-6315-4070-983d-46018088b201
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"eb41f7fe-6315-4070-983d-46018088b201","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
