---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-20T14:07:41.037709Z","dhcp_enabled":true,"id":"69738871-3c1f-4141-8e4b-ad5d1a46060d","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:07:41.037709Z","id":"e31cb470-b52b-434a-ad24-629772c44b38","subnet":"172.16.28.0/22","updated_at":"2024-02-20T14:07:41.037709Z"},{"created_at":"2024-02-20T14:07:41.037709Z","id":"1f6169ed-78a0-45e5-9502-6e61d6ea66b5","subnet":"fd63:256c:45f7:269::/64","updated_at":"2024-02-20T14:07:41.037709Z"}],"tags":[],"updated_at":"2024-02-20T14:07:41.037709Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/69738871-3c1f-4141-8e4b-ad5d1a46060d
    method: GET
  response:
    body: '{"created_at":"2024-02-20T14:07:41.037709Z","dhcp_enabled":true,"id":"69738871-3c1f-4141-8e4b-ad5d1a46060d","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-20T14:07:41.037709Z","id":"e31cb470-b52b-434a-ad24-629772c44b38","subnet":"172.16.28.0/22","updated_at":"2024-02-20T14:07:41.037709Z"},{"created_at":"2024-02-20T14:07:41.037709Z","id":"1f6169ed-78a0-45e5-9502-6e61d6ea66b5","subnet":"fd63:256c:45f7:269::/64","updated_at":"2024-02-20T14:07:41.037709Z"}],"tags":[],"updated_at":"2024-02-20T14:07:41.037709Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"69738871-3c1f-4141-8e4b-ad5d1a46060d","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:07:46.133904Z","endpoint":null,"endpoints":[{"id":"5878d492-1e8c-4c51-a502-2c141bab93e5","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"69738871-3c1f-4141-8e4b-ad5d1a46060d","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"1dc01ac1-b827-4611-b081-943c96419b72","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1dc01ac1-b827-4611-b081-943c96419b72
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:07:46.133904Z","endpoint":null,"endpoints":[{"id":"5878d492-1e8c-4c51-a502-2c141bab93e5","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"69738871-3c1f-4141-8e4b-ad5d1a46060d","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"1dc01ac1-b827-4611-b081-943c96419b72","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1dc01ac1-b827-4611-b081-943c96419b72
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-20T14:07:46.133904Z","endpoint":null,"endpoints":[{"id":"5878d492-1e8c-4c51-a502-2c141bab93e5","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"69738871-3c1f-4141-8e4b-ad5d1a46060d","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"1dc01ac1-b827-4611-b081-943c96419b72","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1dc01ac1-b827-4611-b081-943c96419b72/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVTElUMGhLclpaRWdvNUJDUERwUjM2RHdjNnJ3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5T0M0eU1CNFhEVEkwCk1ESXlNREUwTURnME5sb1hEVE0wTURJeE56RTBNRGcwTmxvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=1dc01ac1-b827-4611-b081-943c96419b72&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.28.2/22","created_at":"2024-02-20T14:07:46.581682Z","id":"5d550a40-161a-4872-b1f9-b8e4f794bab2","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"1dc01ac1-b827-4611-b081-943c96419b72","mac_address":"02:00:00:18:83:4F","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"e31cb470-b52b-434a-ad24-629772c44b38"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-20T14:08:14.095723Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/5878d492-1e8c-4c51-a502-2c141bab93e5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"e9d7a8c1-42e6-497d-8547-285e77c27b46","ipam_config":{}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1dc01ac1-b827-4611-b081-943c96419b72/endpoints
    method: POST
  response:
    body: '{"id":"47e378dc-9c10-4cba-b503-cc5ecbff9854","ip":"172.16.40.2","name":null,"port":5432,"private_network":{"private_network_id":"e9d7a8c1-42e6-497d-8547-285e77c27b46","service_ip":"172.16.40.2/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/1dc01ac1-b827-4611-b081-943c96419b72
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"1dc01ac1-b827-4611-b081-943c96419b72","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
