---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-rdb-with-cluster","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s8cret","node_type":"db-dev-m","is_ha_cluster":true,"disable_backup":false,"tags":["terraform-test","scaleway_rdb_instance","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"887ebbda-e096-4de4-afa1-c5f24bd48458","name":"test-rdb-with-cluster","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":true,"read_replicas":[],"node_type":"db-dev-m","volume":{"type":"lssd","size":25000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-03T11:34:21.848313Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/887ebbda-e096-4de4-afa1-c5f24bd48458
    method: GET
  response:
    body: '{"id":"887ebbda-e096-4de4-afa1-c5f24bd48458","name":"test-rdb-with-cluster","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":true,"read_replicas":[],"node_type":"db-dev-m","volume":{"type":"lssd","size":25000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-03T11:34:21.848313Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/887ebbda-e096-4de4-afa1-c5f24bd48458
    method: GET
  response:
    body: '{"id":"887ebbda-e096-4de4-afa1-c5f24bd48458","name":"test-rdb-with-cluster","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"initializing","engine":"PostgreSQL-11","endpoint":{"ip":"51.159.25.78","port":49407,"name":null,"id":"627c0e4e-dc7c-4ae6-8f1c-53d92131d5e1","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","minimal"],"settings":[{"name":"work_mem","value":"8"},{"name":"max_connections","value":"150"},{"name":"effective_cache_size","value":"2700"},{"name":"maintenance_work_mem","value":"300"},{"name":"max_parallel_workers","value":"1"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":true,"read_replicas":[],"node_type":"db-dev-m","volume":{"type":"lssd","size":25000000000},"init_settings":[],"endpoints":[{"ip":"51.159.25.78","port":49407,"name":null,"id":"627c0e4e-dc7c-4ae6-8f1c-53d92131d5e1","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-03T11:34:21.848313Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"backup_schedule_frequency":24,"backup_schedule_retention":7,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/887ebbda-e096-4de4-afa1-c5f24bd48458
    method: PATCH
  response:
    body: '{"id":"887ebbda-e096-4de4-afa1-c5f24bd48458","name":"test-rdb-with-cluster","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"ready","engine":"PostgreSQL-11","endpoi[...]
- request:
    body: '{"settings":[{"name":"max_connections","value":"200"},{"name":"max_parallel_workers_per_gather","value":"2"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"work_mem","value":"4"},{"name":"max_parallel_workers","value":"2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/887ebbda-e096-4de4-afa1-c5f24bd48458/settings
    method: PUT
  response:
    body: '{"settings":[{"name":"max_connections","value":"200"},{"name":"max_parallel_workers_per_gather","value":"2"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"work_mem","value":"4"},{"name":"max_parallel_workers","value":"2"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/887ebbda-e096-4de4-afa1-c5f24bd48458/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVU2pLOURqcmE1d1ovSjNpN0oxOXJIekxlZHZFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDRPRGRsWW1Ka1lTMWxNRGsyCkxUUmtaVFF0WVdaaE1TMWpOV1l5TkdKa05EZzBOVGd1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1UQXpNVEV6TmpBeVdoY05NekV4TVRBeE1URXpOakF5V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/887ebbda-e096-4de4-afa1-c5f24bd48458
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"887ebbda-e096-4de4-afa1-c5f24bd48458","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
