---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-25T12:38:57.808963Z","dhcp_enabled":true,"id":"e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-07-25T12:38:57.808963Z","id":"bf16f35b-dda0-40a3-87a8-438a9bb7c022","subnet":"172.16.20.0/22","updated_at":"2023-07-25T12:38:57.808963Z"},{"created_at":"2023-07-25T12:38:57.808963Z","id":"652e7db9-0d93-4430-86c7-ac42ad1bd91b","subnet":"fdfc:1ffc:be97:15f0::/64","updated_at":"2023-07-25T12:38:57.808963Z"}],"tags":[],"updated_at":"2023-07-25T12:38:57.808963Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5
    method: GET
  response:
    body: '{"created_at":"2023-07-25T12:38:57.808963Z","dhcp_enabled":true,"id":"e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5","name":"my_private_network","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","subnets":[{"created_at":"2023-07-25T12:38:57.808963Z","id":"bf16f35b-dda0-40a3-87a8-438a9bb7c022","subnet":"172.16.20.0/22","updated_at":"2023-07-25T12:38:57.808963Z"},{"created_at":"2023-07-25T12:38:57.808963Z","id":"652e7db9-0d93-4430-86c7-ac42ad1bd91b","subnet":"fdfc:1ffc:be97:15f0::/64","updated_at":"2023-07-25T12:38:57.808963Z"}],"tags":[],"updated_at":"2023-07-25T12:38:57.808963Z","vpc_id":"f30db962-6029-4ae2-bb33-8b32693afadf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-25T12:39:16.557837Z","endpoint":null,"endpoints":[{"id":"8f117706-3433-4453-b9ed-e9296fb01d5b","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5","service_ip":"172.16.20.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-11","id":"8cf6d01e-1d37-4126-8049-a7d504cb758e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"02d1240c-669f-40d6-a131-42296df197a7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"},{"id":"b22d2b07-29ad-4b07-be8a-b93b5b5ed56d","minor_version":"13.11","name":"PostgreSQL-13","version":"13"},{"id":"c962298e-539a-47f6-9402-ce7a439b16c2","minor_version":"14.8","name":"PostgreSQL-14","version":"14"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8cf6d01e-1d37-4126-8049-a7d504cb758e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-25T12:39:16.557837Z","endpoint":null,"endpoints":[{"id":"8f117706-3433-4453-b9ed-e9296fb01d5b","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8cf6d01e-1d37-4126-8049-a7d504cb758e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-25T12:39:16.557837Z","endpoint":{"id":"94294c82-658f-428c-938a-5e165d96df22","ip":"51.159.204.28","load_balancer":{},"name":null,"port":16202},"endpoints":[{"id":"8f117706-3433-4453-b9ed-e9296fb01d5b","ip":"172.16.20.2","name":null,"port":5432,"private_network":{"private_network_id":"e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5","service_ip":"172.16.20.2/22","zone":"fr-par-1"}},{"id":"94294c82-658f-428c-938a-5e165d96df22","ip":"51.159.204.28","load_balancer":{},"name":null,"port":16202}],"engine":"PostgreSQL-11","id":"8cf6d01e-1d37-4126-8049-a7d504cb758e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"02d1240c-669f-40d6-a131-42296df197a7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"},{"id":"b22d2b07-29ad-4b07-be8a-b93b5b5ed56d","minor_version":"13.11","name":"PostgreSQL-13","version":"13"},{"id":"c962298e-539a-47f6-9402-ce7a439b16c2","minor_version":"14.8","name":"PostgreSQL-14","version":"14"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8cf6d01e-1d37-4126-8049-a7d504cb758e/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURzekNDQXB1Z0F3SUJBZ0lVSGlYU1lXVEFBTW5Lb3IzZFh5alN3N1M3MzR3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5TUM0eU1CNFhEVEl6Ck1EY3lOVEV5TkRBeU9Gb1hEVE16TURjeU1qRXlOREF5T0Zvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU1[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null,"backup_schedule_start_hour":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8cf6d01e-1d37-4126-8049-a7d504cb758e
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-25T12:39:16.557837Z","endpoint":{"id":"94294c82-658f-428c-938a-5e165d96df22","ip":"51.159.204.28","load_balancer":{},"name":null,"port":16202},"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/8f117706-3433-4453-b9ed-e9296fb01d5b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5","service_ip":"172.16.20.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8cf6d01e-1d37-4126-8049-a7d504cb758e/endpoints
    method: POST
  response:
    body: '{"id":"b2e875e6-87ae-4194-9d38-cb91f1daabf8","ip":"172.16.20.4","name":null,"port":5432,"private_network":{"private_network_id":"e7b297cc-fc89-41a7-ad7f-4ade8d13b5a5","service_ip":"172.16.20.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8cf6d01e-1d37-4126-8049-a7d504cb758e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"8cf6d01e-1d37-4126-8049-a7d504cb758e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
