---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T16:03:03.894550Z","dhcp_enabled":true,"id":"3caf3e3f-59f3-4a02-9db0-30fab6472e83","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-10-20T16:03:03.894550Z","id":"e6309088-be92-445e-aff3-ed23f02d2264","subnet":"172.16.16.0/22","updated_at":"2023-10-20T16:03:03.894550Z"},{"created_at":"2023-10-20T16:03:03.894550Z","id":"8b341bcc-0ed0-4913-b457-8761651c74d0","subnet":"fd68:d440:21c4:3a82::/64","updated_at":"2023-10-20T16:03:03.894550Z"}],"tags":[],"updated_at":"2023-10-20T16:03:03.894550Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/3caf3e3f-59f3-4a02-9db0-30fab6472e83
    method: GET
  response:
    body: '{"created_at":"2023-10-20T16:03:03.894550Z","dhcp_enabled":true,"id":"3caf3e3f-59f3-4a02-9db0-30fab6472e83","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-10-20T16:03:03.894550Z","id":"e6309088-be92-445e-aff3-ed23f02d2264","subnet":"172.16.16.0/22","updated_at":"2023-10-20T16:03:03.894550Z"},{"created_at":"2023-10-20T16:03:03.894550Z","id":"8b341bcc-0ed0-4913-b457-8761651c74d0","subnet":"fd68:d440:21c4:3a82::/64","updated_at":"2023-10-20T16:03:03.894550Z"}],"tags":[],"updated_at":"2023-10-20T16:03:03.894550Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"3caf3e3f-59f3-4a02-9db0-30fab6472e83","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:03:06.398762Z","endpoint":null,"endpoints":[{"id":"049e4ab0-44ca-422b-9ebb-5b30be9744f3","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"3caf3e3f-59f3-4a02-9db0-30fab6472e83","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0a9de4bd-ad57-42d1-9417-ae354d6326ab","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0a9de4bd-ad57-42d1-9417-ae354d6326ab
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:03:06.398762Z","endpoint":null,"endpoints":[{"id":"049e4ab0-44ca-422b-9ebb-5b30be9744f3","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"3caf3e3f-59f3-4a02-9db0-30fab6472e83","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"0a9de4bd-ad57-42d1-9417-ae354d6326ab","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0a9de4bd-ad57-42d1-9417-ae354d6326ab
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:03:06.398762Z","endpoint":{"id":"388425fa-c7b1-48a6-83ee-fa3216261069","ip":"51.158.129.26","load_balancer":{},"name":null,"port":19774},"endpoints":[{"id":"049e4ab0-44ca-422b-9ebb-5b30be9744f3","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"3caf3e3f-59f3-4a02-9db0-30fab6472e83","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}},{"id":"388425fa-c7b1-48a6-83ee-fa3216261069","ip":"51.158.129.26","load_balancer":{},"name":null,"port":19774}],"engine":"PostgreSQL-15","id":"0a9de4bd-ad57-42d1-9417-ae354d6326ab","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0a9de4bd-ad57-42d1-9417-ae354d6326ab/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR0akNDQXA2Z0F3SUJBZ0lVYVMxN3JIbWJUMk9JWVkvbHQ3d0Y4d2dEaGVFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck16RXdNakF4TmpBME1UTmFGdzB6TXpFd01UY3hOakEwTVROYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null,"backup_schedule_start_hour":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0a9de4bd-ad57-42d1-9417-ae354d6326ab
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:03:06.398762Z","endpoint":{"id":"388425fa-c7b1-48a6-83ee-fa3216261069","ip":"51.158.129.26","load_balancer":{},"name":null,"port":19774},"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/049e4ab0-44ca-422b-9ebb-5b30be9744f3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"be16cb41-05ed-4e74-9325-436457439dad","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0a9de4bd-ad57-42d1-9417-ae354d6326ab/endpoints
    method: POST
  response:
    body: '{"id":"af46dbda-ba7e-416b-913e-474671c2b4cb","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"be16cb41-05ed-4e74-9325-436457439dad","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-10-20T16:07:17.483060Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a70a910f-43d5-433d-9fba-c7b9a3d30779","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:07:17.483060Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/a70a910f-43d5-433d-9fba-c7b9a3d30779
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-10-20T16:07:17.483060Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a70a910f-43d5-433d-9fba-c7b9a3d30779","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:07:17.483060Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.95.111","created_at":"2023-10-20T16:07:17.951612Z","gateway_id":null,"id":"5f70de3c-f79a-48cb-9039-fff8e870b535","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"111-95-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:07:17.951612Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/5f70de3c-f79a-48cb-9039-fff8e870b535
    method: GET
  response:
    body: '{"address":"51.15.95.111","created_at":"2023-10-20T16:07:17.951612Z","gateway_id":null,"id":"5f70de3c-f79a-48cb-9039-fff8e870b535","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"111-95-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:07:17.951612Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"5f70de3c-f79a-48cb-9039-fff8e870b535","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-20T16:07:18.218885Z","gateway_networks":[],"id":"8910856f-3503-4ea3-9748-545163679069","ip":{"address":"51.15.95.111","created_at":"2023-10-20T16:07:17.951612Z","gateway_id":"8910856f-3503-4ea3-9748-545163679069","id":"5f70de3c-f79a-48cb-9039-fff8e870b535","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"111-95-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:07:17.951612Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-10-20T16:07:18.218885Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8910856f-3503-4ea3-9748-545163679069
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-20T16:07:18.218885Z","gateway_networks":[],"id":"8910856f-3503-4ea3-9748-545163679069","ip":{"address":"51.15.95.111","created_at":"2023-10-20T16:07:17.951612Z","gateway_id":"8910856f-3503-4ea3-9748-545163679069","id":"5f70de3c-f79a-48cb-9039-fff8e870b535","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"111-95-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-20T16:07:17.951612Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-10-20T16:07:18.286969Z","upstream_dns_servers":[],"version":"0.6.0","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"8910856f-3503-4ea3-9748-545163679069","private_network_id":"be16cb41-05ed-4e74-9325-436457439dad","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"a70a910f-43d5-433d-9fba-c7b9a3d30779"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-10-20T16:07:24.976704Z","dhcp":{"address":"192.168.1.1","created_at":"2023-10-20T16:07:17.483060Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a70a910f-43d5-433d-9fba-c7b9a3d30779","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:07:17.483060Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8910856f-3503-4ea3-9748-545163679069","id":"4feba31d-fdb0-4541-afb8-69e7a4223e5e","ipam_config":null,"mac_address":null,"private_network_id":"be16cb41-05ed-4e74-9325-436457439dad","status":"created","updated_at":"2023-10-20T16:07:24.976704Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/4feba31d-fdb0-4541-afb8-69e7a4223e5e
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-10-20T16:07:24.976704Z","dhcp":{"address":"192.168.1.1","created_at":"2023-10-20T16:07:17.483060Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a70a910f-43d5-433d-9fba-c7b9a3d30779","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-10-20T16:07:17.483060Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8910856f-3503-4ea3-9748-545163679069","id":"4feba31d-fdb0-4541-afb8-69e7a4223e5e","ipam_config":null,"mac_address":"02:00:00:11:D8:08","private_network_id":"be16cb41-05ed-4e74-9325-436457439dad","status":"ready","updated_at":"2023-10-20T16:07:27.095115Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"8910856f-3503-4ea3-9748-545163679069","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-10-20T16:07:30.826419Z","gateway_id":"8910856f-3503-4ea3-9748-545163679069","id":"dcd8003d-d6a9-4e9b-913b-bc7dea46e6a6","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-10-20T16:07:30.826419Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/dcd8003d-d6a9-4e9b-913b-bc7dea46e6a6
    method: GET
  response:
    body: '{"created_at":"2023-10-20T16:07:30.826419Z","gateway_id":"8910856f-3503-4ea3-9748-545163679069","id":"dcd8003d-d6a9-4e9b-913b-bc7dea46e6a6","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-10-20T16:07:30.826419Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/4feba31d-fdb0-4541-afb8-69e7a4223e5e?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/4feba31d-fdb0-4541-afb8-69e7a4223e5e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"4feba31d-fdb0-4541-afb8-69e7a4223e5e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/8910856f-3503-4ea3-9748-545163679069?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
