---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:53:26.991794Z","dhcp_enabled":true,"id":"62b0bfbb-19c1-40d4-874c-4f1add9d71d5","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:53:26.991794Z","id":"558f8aec-bec9-4cca-8da0-c5a5fc32acc5","subnet":"172.16.4.0/22","updated_at":"2024-03-19T08:53:26.991794Z"},{"created_at":"2024-03-19T08:53:26.991794Z","id":"cac19676-312f-4775-aa37-edc2760e7266","subnet":"fd5f:519c:6d46:b70a::/64","updated_at":"2024-03-19T08:53:26.991794Z"}],"tags":[],"updated_at":"2024-03-19T08:53:26.991794Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/62b0bfbb-19c1-40d4-874c-4f1add9d71d5
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:53:26.991794Z","dhcp_enabled":true,"id":"62b0bfbb-19c1-40d4-874c-4f1add9d71d5","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:53:26.991794Z","id":"558f8aec-bec9-4cca-8da0-c5a5fc32acc5","subnet":"172.16.4.0/22","updated_at":"2024-03-19T08:53:26.991794Z"},{"created_at":"2024-03-19T08:53:26.991794Z","id":"cac19676-312f-4775-aa37-edc2760e7266","subnet":"fd5f:519c:6d46:b70a::/64","updated_at":"2024-03-19T08:53:26.991794Z"}],"tags":[],"updated_at":"2024-03-19T08:53:26.991794Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"62b0bfbb-19c1-40d4-874c-4f1add9d71d5","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:28.239575Z","endpoint":null,"endpoints":[{"id":"23f19126-9a39-4888-86b2-00a5cd23312c","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"62b0bfbb-19c1-40d4-874c-4f1add9d71d5","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"78b415bc-cee1-4c0e-8904-e8e52015dfb0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/78b415bc-cee1-4c0e-8904-e8e52015dfb0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:28.239575Z","endpoint":null,"endpoints":[{"id":"23f19126-9a39-4888-86b2-00a5cd23312c","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"62b0bfbb-19c1-40d4-874c-4f1add9d71d5","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"78b415bc-cee1-4c0e-8904-e8e52015dfb0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/78b415bc-cee1-4c0e-8904-e8e52015dfb0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-03-19T08:53:28.239575Z","endpoint":null,"endpoints":[{"id":"23f19126-9a39-4888-86b2-00a5cd23312c","ip":"172.16.4.2","name":null,"port":5432,"private_network":{"private_network_id":"62b0bfbb-19c1-40d4-874c-4f1add9d71d5","service_ip":"172.16.4.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"78b415bc-cee1-4c0e-8904-e8e52015dfb0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/78b415bc-cee1-4c0e-8904-e8e52015dfb0/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVZXpwWS9EajJvLzFBM1dJNTdpNnZrS1VPTUlRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTQwTGpJd0hoY05NalF3Ck16RTVNRGcxTkRNeVdoY05NelF3TXpFM01EZzFORE15V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpRdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=78b415bc-cee1-4c0e-8904-e8e52015dfb0&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.4.2/22","created_at":"2024-03-19T08:53:28.739780Z","id":"84c810d3-00bf-406b-88c1-ecdb47a203d2","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"78b415bc-cee1-4c0e-8904-e8e52015dfb0","mac_address":"02:00:00:19:31:98","name":"test-rdb-private-network-update","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"558f8aec-bec9-4cca-8da0-c5a5fc32acc5"},"tags":["managed","scwdbaas"],"updated_at":"2024-03-19T08:54:00.548982Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/23f19126-9a39-4888-86b2-00a5cd23312c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"11ca37db-1847-4c14-92e5-f20189c3f0ed","ipam_config":{}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/78b415bc-cee1-4c0e-8904-e8e52015dfb0/endpoints
    method: POST
  response:
    body: '{"id":"e4a326b6-bd19-47ae-8a58-3b7f86ffbe1b","ip":"172.16.164.2","name":null,"port":5432,"private_network":{"private_network_id":"11ca37db-1847-4c14-92e5-f20189c3f0ed","service_ip":"172.16.164.2/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/78b415bc-cee1-4c0e-8904-e8e52015dfb0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"78b415bc-cee1-4c0e-8904-e8e52015dfb0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
