---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.416161Z","endpoint":{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"f04a6c60-cbe6-4938-b521-0a5f5f5376c6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f04a6c60-cbe6-4938-b521-0a5f5f5376c6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.416161Z","endpoint":{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"f04a6c60-cbe6-4938-b521-0a5f5f5376c6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-vigorous-black","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T12:57:07.171263Z","dhcp_enabled":true,"id":"99658be3-f4fc-45d0-b773-bc6086ed8d86","name":"tf-pn-vigorous-black","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T12:57:07.171263Z","id":"ffa583fc-6d58-40ba-b021-55e2e8ee314c","subnet":"172.16.32.0/22","updated_at":"2023-12-18T12:57:07.171263Z"},{"created_at":"2023-12-18T12:57:07.171263Z","id":"e8f34fcf-f8a9-45cb-b0c8-e7bbc2f3ffd6","subnet":"fd5f:519c:6d46:ad6c::/64","updated_at":"2023-12-18T12:57:07.171263Z"}],"tags":[],"updated_at":"2023-12-18T12:57:07.171263Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/99658be3-f4fc-45d0-b773-bc6086ed8d86
    method: GET
  response:
    body: '{"created_at":"2023-12-18T12:57:07.171263Z","dhcp_enabled":true,"id":"99658be3-f4fc-45d0-b773-bc6086ed8d86","name":"tf-pn-vigorous-black","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T12:57:07.171263Z","id":"ffa583fc-6d58-40ba-b021-55e2e8ee314c","subnet":"172.16.32.0/22","updated_at":"2023-12-18T12:57:07.171263Z"},{"created_at":"2023-12-18T12:57:07.171263Z","id":"e8f34fcf-f8a9-45cb-b0c8-e7bbc2f3ffd6","subnet":"fd5f:519c:6d46:ad6c::/64","updated_at":"2023-12-18T12:57:07.171263Z"}],"tags":[],"updated_at":"2023-12-18T12:57:07.171263Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f04a6c60-cbe6-4938-b521-0a5f5f5376c6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.416161Z","endpoint":{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"f04a6c60-cbe6-4938-b521-0a5f5f5376c6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f04a6c60-cbe6-4938-b521-0a5f5f5376c6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.416161Z","endpoint":{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","ip":"51.159.113.173","load_balancer":{},"name":null,"port":12728},"endpoints":[{"id":"ce1a73d3-70b7-4f70-9432-f1d43782487c","ip":"51.159.113.173","load_balancer":{},"name":null,"port":12728}],"engine":"PostgreSQL-15","id":"f04a6c60-cbe6-4938-b521-0a5f5f5376c6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f04a6c60-cbe6-4938-b521-0a5f5f5376c6/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVBRENDQXVpZ0F3SUJBZ0lVRFRqZUJDajJWVE5Zd29tcGxMc3RQQWcwQXRvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR4TVRNdU1UY3pNQjRYCkRUSXpNVEl4T0RFeU5UazFNMW9YRFRNek1USXhOVEV5TlRrMU0xb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=f04a6c60-cbe6-4938-b521-0a5f5f5376c6&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"f04a6c60-cbe6-4938-b521-0a5f5f5376c6","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"99658be3-f4fc-45d0-b773-bc6086ed8d86","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"af4fa0da-ac17-4da9-86e6-9b4782690e84","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"99658be3-f4fc-45d0-b773-bc6086ed8d86","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"9f710fb1-9e9c-4824-b744-ebd1c7670bc9","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/9f710fb1-9e9c-4824-b744-ebd1c7670bc9
    method: GET
  response:
    body: '{"endpoints":[{"id":"af4fa0da-ac17-4da9-86e6-9b4782690e84","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"99658be3-f4fc-45d0-b773-bc6086ed8d86","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"9f710fb1-9e9c-4824-b744-ebd1c7670bc9","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/9f710fb1-9e9c-4824-b744-ebd1c7670bc9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"9f710fb1-9e9c-4824-b744-ebd1c7670bc9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
