---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:42:36.236374Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"73ba7415-e6df-4549-9c17-c7d5f9c757c9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/73ba7415-e6df-4549-9c17-c7d5f9c757c9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:42:36.236374Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"73ba7415-e6df-4549-9c17-c7d5f9c757c9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-trusting-carson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-18T12:42:35.967986Z","dhcp_enabled":true,"id":"7063d2ea-1b84-4ad3-8046-7edcbad3c805","name":"tf-pn-trusting-carson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-18T12:42:35.967986Z","id":"ba974b81-10d8-4844-aff4-7f344f98f022","subnet":"172.16.20.0/22","updated_at":"2024-01-18T12:42:35.967986Z"},{"created_at":"2024-01-18T12:42:35.967986Z","id":"38ac9e69-404b-43a9-b5f4-983996fbbfd3","subnet":"fd63:256c:45f7:95a7::/64","updated_at":"2024-01-18T12:42:35.967986Z"}],"tags":[],"updated_at":"2024-01-18T12:42:35.967986Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7063d2ea-1b84-4ad3-8046-7edcbad3c805
    method: GET
  response:
    body: '{"created_at":"2024-01-18T12:42:35.967986Z","dhcp_enabled":true,"id":"7063d2ea-1b84-4ad3-8046-7edcbad3c805","name":"tf-pn-trusting-carson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-18T12:42:35.967986Z","id":"ba974b81-10d8-4844-aff4-7f344f98f022","subnet":"172.16.20.0/22","updated_at":"2024-01-18T12:42:35.967986Z"},{"created_at":"2024-01-18T12:42:35.967986Z","id":"38ac9e69-404b-43a9-b5f4-983996fbbfd3","subnet":"fd63:256c:45f7:95a7::/64","updated_at":"2024-01-18T12:42:35.967986Z"}],"tags":[],"updated_at":"2024-01-18T12:42:35.967986Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/73ba7415-e6df-4549-9c17-c7d5f9c757c9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:42:36.236374Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"73ba7415-e6df-4549-9c17-c7d5f9c757c9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/73ba7415-e6df-4549-9c17-c7d5f9c757c9
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-18T12:42:36.236374Z","endpoint":{"id":"b591fc2f-be46-47f0-b5d3-507ef1d9d67c","ip":"51.159.9.163","load_balancer":{},"name":null,"port":3114},"endpoints":[{"id":"b591fc2f-be46-47f0-b5d3-507ef1d9d67c","ip":"51.159.9.163","load_balancer":{},"name":null,"port":3114}],"engine":"PostgreSQL-15","id":"73ba7415-e6df-4549-9c17-c7d5f9c757c9","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/73ba7415-e6df-4549-9c17-c7d5f9c757c9/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrRENDQXVDZ0F3SUJBZ0lVVk4vNkFXYStpUlpRa0dmTW0rWlNQWnFpV2VJd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERVeExqRTFPUzQ1TGpFMk16QWVGdzB5Ck5EQXhNVGd4TWpRMU1UVmFGdzB6TkRBeE1UVXhNalExTVRWYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBdzFNUzR4TlRrdU9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=73ba7415-e6df-4549-9c17-c7d5f9c757c9&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"73ba7415-e6df-4549-9c17-c7d5f9c757c9","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"7063d2ea-1b84-4ad3-8046-7edcbad3c805","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"1a577ed3-4050-48a5-946d-a96bd3544c4d","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"7063d2ea-1b84-4ad3-8046-7edcbad3c805","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"58f36de3-f9af-4546-b75d-55379fee2603","instance_id":"73ba7415-e6df-4549-9c17-c7d5f9c757c9","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/58f36de3-f9af-4546-b75d-55379fee2603
    method: GET
  response:
    body: '{"endpoints":[{"id":"1a577ed3-4050-48a5-946d-a96bd3544c4d","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"7063d2ea-1b84-4ad3-8046-7edcbad3c805","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"58f36de3-f9af-4546-b75d-55379fee2603","instance_id":"73ba7415-e6df-4549-9c17-c7d5f9c757c9","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/58f36de3-f9af-4546-b75d-55379fee2603
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"58f36de3-f9af-4546-b75d-55379fee2603","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
