---
version: 1
interactions:
- request:
    body: '{"project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","name":"TestAccScalewayRdbACL_Basic","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"da88b84c-57a8-4143-9132-12c170209ce1","name":"TestAccScalewayRdbACL_Basic","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-21T09:15:34.249151Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da88b84c-57a8-4143-9132-12c170209ce1
    method: GET
  response:
    body: '{"id":"da88b84c-57a8-4143-9132-12c170209ce1","name":"TestAccScalewayRdbACL_Basic","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-21T09:15:34.249151Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da88b84c-57a8-4143-9132-12c170209ce1
    method: GET
  response:
    body: '{"id":"da88b84c-57a8-4143-9132-12c170209ce1","name":"TestAccScalewayRdbACL_Basic","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"a57bd23d-c866-49eb-a6ac-438f85c22957","status":"initializing","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.26.195","port":8388,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-05-21T09:15:34.249151Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da88b84c-57a8-4143-9132-12c170209ce1/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVU0VZa2YyYVoyWUY0K3FoNEI2SEVYcEN2QkZNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWtZVGc0WWpnMFl5MDFOMkU0CkxUUXhORE10T1RFek1pMHhNbU14TnpBeU1EbGpaVEV1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFd05USXhNRGt4TmpVeldoY05NekV3TlRFNU1Ea3hOalV6V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"rules":[{"ip":"1.2.3.4/32","description":"foo"},{"ip":"4.5.6.7/32","description":"bar"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da88b84c-57a8-4143-9132-12c170209ce1/acls
    method: PUT
  response:
    body: '{"rules":[{"ip":"1.2.3.4/32","port":8388,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7/32","port":8388,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da88b84c-57a8-4143-9132-12c170209ce1/acls
    method: GET
  response:
    body: '{"rules":[{"ip":"1.2.3.4","port":8388,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"4.5.6.7","port":8388,"protocol":"tcp","direction":"inbound","action":"allow","description":"bar"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rule_ips":["1.2.3.4/32","9.0.0.0/16"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da88b84c-57a8-4143-9132-12c170209ce1/acls
    method: DELETE
  response:
    body: '{"rules":[{"ip":"1.2.3.4","port":8388,"protocol":"tcp","direction":"inbound","action":"allow","description":"foo"},{"ip":"9.0.0.0/16","port":8388,"protocol":"tcp","direction":"inbound","action":"allow","description":"baz"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/da88b84c-57a8-4143-9132-12c170209ce1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"da88b84c-57a8-4143-9132-12c170209ce1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
