---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:38:37.960112Z","dhcp_enabled":false,"id":"ccf5af73-b620-45cc-9b2a-6a9f6880f361","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2023-07-11T17:38:37.960112Z","id":"9d6da952-ad15-4c73-bf4b-87eab4f5b233","subnet":"172.16.24.0/22","updated_at":"2023-07-11T17:38:37.960112Z"},{"created_at":"2023-07-11T17:38:37.960112Z","id":"171ca491-020e-4b8b-9f09-5cf59c63862b","subnet":"fd2c:2ff0:469a:2c3::/64","updated_at":"2023-07-11T17:38:37.960112Z"}],"tags":[],"updated_at":"2023-07-11T17:38:37.960112Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/ccf5af73-b620-45cc-9b2a-6a9f6880f361
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:38:37.960112Z","dhcp_enabled":false,"id":"ccf5af73-b620-45cc-9b2a-6a9f6880f361","name":"my_private_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"nl-ams","subnets":[{"created_at":"2023-07-11T17:38:37.960112Z","id":"9d6da952-ad15-4c73-bf4b-87eab4f5b233","subnet":"172.16.24.0/22","updated_at":"2023-07-11T17:38:37.960112Z"},{"created_at":"2023-07-11T17:38:37.960112Z","id":"171ca491-020e-4b8b-9f09-5cf59c63862b","subnet":"fd2c:2ff0:469a:2c3::/64","updated_at":"2023-07-11T17:38:37.960112Z"}],"tags":[],"updated_at":"2023-07-11T17:38:37.960112Z","vpc_id":"d2789f13-5b16-466b-9792-39f27c67e283"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"ccf5af73-b620-45cc-9b2a-6a9f6880f361","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:39.851349Z","endpoint":null,"endpoints":[{"id":"af6a290f-3c94-409e-b1b2-fa1d197931ef","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"ccf5af73-b620-45cc-9b2a-6a9f6880f361","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-11","id":"eed0c6ba-80e1-481e-99ce-d21b47b42532","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"1b14b9d9-eb3a-443d-97f7-e3878f6ebfb7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eed0c6ba-80e1-481e-99ce-d21b47b42532
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:39.851349Z","endpoint":null,"endpoints":[{"id":"af6a290f-3c94-409e-b1b2-fa1d197931ef","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"ccf5af73-b620-45cc-9b2a-6a9f6880f361","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-11","id":"eed0c6ba-80e1-481e-99ce-d21b47b42532","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"1b14b9d9-eb3a-443d-97f7-e3878f6ebfb7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eed0c6ba-80e1-481e-99ce-d21b47b42532
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:39.851349Z","endpoint":{"id":"60461093-b1da-4c28-bdec-19b105d0ce36","ip":"51.158.128.255","load_balancer":{},"name":null,"port":17944},"endpoints":[{"id":"af6a290f-3c94-409e-b1b2-fa1d197931ef","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"ccf5af73-b620-45cc-9b2a-6a9f6880f361","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}},{"id":"60461093-b1da-4c28-bdec-19b105d0ce36","ip":"51.158.128.255","load_balancer":{},"name":null,"port":17944}],"engine":"PostgreSQL-11","id":"eed0c6ba-80e1-481e-99ce-d21b47b42532","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[{"id":"1b14b9d9-eb3a-443d-97f7-e3878f6ebfb7","minor_version":"12.15","name":"PostgreSQL-12","version":"12"}],"volume":{"size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eed0c6ba-80e1-481e-99ce-d21b47b42532/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR0ekNDQXArZ0F3SUJBZ0lVRC9kZFpjSHdPRHdjekdXT2ZDSWNUejRUMWx3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck16QTNNVEV4TnpNNU16WmFGdzB6TXpBM01EZ3hOek01TXpaYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eed0c6ba-80e1-481e-99ce-d21b47b42532
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T17:38:39.851349Z","endpoint":{"id":"60461093-b1da-4c28-bdec-19b105d0ce36[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/af6a290f-3c94-409e-b1b2-fa1d197931ef
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"a615a76c-e917-49b2-8216-eca86f867b99","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/eed0c6ba-80e1-481e-99ce-d21b47b42532/endpoints
    method: POST
  response:
    body: '{"id":"19f974db-86fa-495e-9569-408c56e74d74","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"a615a76c-e917-49b2-8216-eca86f867b99","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T17:42:17.959883Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"6533ba3d-57fa-407f-845d-28976ef64e50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:42:17.959883Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/6533ba3d-57fa-407f-845d-28976ef64e50
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T17:42:17.959883Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"6533ba3d-57fa-407f-845d-28976ef64e50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:42:17.959883Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.158.171.24","created_at":"2023-07-11T17:42:18.651654Z","gateway_id":null,"id":"09a66d58-98ee-42b5-821f-0f72ec1c2e49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:42:18.651654Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/09a66d58-98ee-42b5-821f-0f72ec1c2e49
    method: GET
  response:
    body: '{"address":"51.158.171.24","created_at":"2023-07-11T17:42:18.651654Z","gateway_id":null,"id":"09a66d58-98ee-42b5-821f-0f72ec1c2e49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:42:18.651654Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"09a66d58-98ee-42b5-821f-0f72ec1c2e49","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:42:19.259281Z","gateway_networks":[],"id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","ip":{"address":"51.158.171.24","created_at":"2023-07-11T17:42:18.651654Z","gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","id":"09a66d58-98ee-42b5-821f-0f72ec1c2e49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:42:18.651654Z","zone":"nl-ams-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-07-11T17:42:19.259281Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/50383a67-ab09-4ff4-9478-70b9122ed1e4
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:42:19.259281Z","gateway_networks":[],"id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","ip":{"address":"51.158.171.24","created_at":"2023-07-11T17:42:18.651654Z","gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","id":"09a66d58-98ee-42b5-821f-0f72ec1c2e49","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:42:18.651654Z","zone":"nl-ams-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-07-11T17:42:19.329599Z","upstream_dns_servers":[],"version":"0.5.0","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","private_network_id":"a615a76c-e917-49b2-8216-eca86f867b99","enable_masquerade":true,"dhcp_id":"6533ba3d-57fa-407f-845d-28976ef64e50","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-07-11T17:42:25.070846Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T17:42:17.959883Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"6533ba3d-57fa-407f-845d-28976ef64e50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:42:17.959883Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","id":"2663a781-00a1-4002-aa0b-fa03b97d2fe0","mac_address":null,"private_network_id":"a615a76c-e917-49b2-8216-eca86f867b99","status":"created","updated_at":"2023-07-11T17:42:25.070846Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/2663a781-00a1-4002-aa0b-fa03b97d2fe0
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-07-11T17:42:25.070846Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T17:42:17.959883Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"6533ba3d-57fa-407f-845d-28976ef64e50","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:42:17.959883Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","id":"2663a781-00a1-4002-aa0b-fa03b97d2fe0","mac_address":"02:00:00:11:96:A6","private_network_id":"a615a76c-e917-49b2-8216-eca86f867b99","status":"ready","updated_at":"2023-07-11T17:42:32.640435Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:42:36.035696Z","gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","id":"c86bdc49-5da8-43cc-854b-38348b0ff2e9","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-07-11T17:42:36.035696Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/c86bdc49-5da8-43cc-854b-38348b0ff2e9
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:42:36.035696Z","gateway_id":"50383a67-ab09-4ff4-9478-70b9122ed1e4","id":"c86bdc49-5da8-43cc-854b-38348b0ff2e9","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-07-11T17:42:36.035696Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/2663a781-00a1-4002-aa0b-fa03b97d2fe0?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/2663a781-00a1-4002-aa0b-fa03b97d2fe0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"2663a781-00a1-4002-aa0b-fa03b97d2fe0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/50383a67-ab09-4ff4-9478-70b9122ed1e4?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
