---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.15.211.1","id":"d3970f1f-ac85-4434-904d-760f78fef8f8","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","prefix":null,"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d3970f1f-ac85-4434-904d-760f78fef8f8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"rdb-acl-basic","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-03T18:50:44.893813Z","retention":7},"created_at":"2023-11-02T18:50:44.893813Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"6e3c0232-d61d-42dd-98f6-db71af24b1bd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/fc60dd87-2665-43fb-82f7-37416e799532
    method: GET
  response:
    body: '{"ip":{"address":"163.172.144.233","id":"fc60dd87-2665-43fb-82f7-37416e799532","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","prefix":null,"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-03T18:50:44.893813Z","retention":7},"created_at":"2023-11-02T18:50:44.893813Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"6e3c0232-d61d-42dd-98f6-db71af24b1bd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-03T18:50:44.893813Z","retention":7},"created_at":"2023-11-02T18:50:44.893813Z","endpoint":{"id":"b9be8bf8-5536-4ac2-97ee-825d0af3cfcf","ip":"51.159.26.223","load_balancer":{},"name":null,"port":12508},"endpoints":[{"id":"b9be8bf8-5536-4ac2-97ee-825d0af3cfcf","ip":"51.159.26.223","load_balancer":{},"name":null,"port":12508}],"engine":"PostgreSQL-15","id":"6e3c0232-d61d-42dd-98f6-db71af24b1bd","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-03T18:50:44.893813Z","retention":7},"created_at":"2023-11-02T18:50:44.893813Z","endpoint":{"id":"b9be8bf8-5536-4ac2-97ee-825d0af3cfcf","ip":"51.159.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVTThENFNmN2ttY1BEb3duK3IvUTdvOEl3Ukt3d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tmk0eU1qTXdIaGNOCk1qTXhNVEF5TVRnMU1USXpXaGNOTXpNeE1ETXdNVGcxTVRJeldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
- request:
    body: '{"rules":[{"ip":"51.15.211.1/32","description":""},{"ip":"163.172.144.233/32","description":""}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd/acls
    method: PUT
  response:
    body: '{"rules":[{"action":"allow","description":"IP allowed","direction":"inbound","ip":"51.15.211.1/32","port":12508,"protocol":"tcp"},{"action":"allow","description":"IP
      allowed","direction":"inbound","ip":"163.172.144.233/32","port":12508,"protocol":"tcp"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd/acls
    method: GET
  response:
    body: '{"rules":[{"action":"allow","description":"IP allowed","direction":"inbound","ip":"51.15.211.1/32","port":12508,"protocol":"tcp"},{"action":"allow","description":"IP
      allowed","direction":"inbound","ip":"163.172.144.233/32","port":12508,"protocol":"tcp"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rule_ips":["1.2.3.4/32","9.0.0.0/16"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd/acls
    method: DELETE
  response:
    body: '{"rules":[{"action":"allow","description":"foo","direction":"inbound","ip":"1.2.3.4/32","port":12508,"protocol":"tcp"},{"action":"allow","description":"baz","direction":"inbound","ip":"9.0.0.0/16","port":12508,"protocol":"tcp"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6e3c0232-d61d-42dd-98f6-db71af24b1bd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6e3c0232-d61d-42dd-98f6-db71af24b1bd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
