---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-elated-khayyam","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T22:00:45.630006Z","dhcp_enabled":false,"id":"3fb56412-fa08-461c-aace-1238bf094e23","name":"tf-pn-elated-khayyam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T22:00:45.630006Z","id":"02d8e9ce-4d7a-4884-9742-2b1838501bf8","subnet":"172.16.4.0/22","updated_at":"2023-07-11T22:00:45.630006Z"},{"created_at":"2023-07-11T22:00:45.630006Z","id":"d9d41042-03e5-458c-a5a3-b3b5b527df76","subnet":"fd46:78ab:30b8:1cb3::/64","updated_at":"2023-07-11T22:00:45.630006Z"}],"tags":[],"updated_at":"2023-07-11T22:00:45.630006Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3fb56412-fa08-461c-aace-1238bf094e23
    method: GET
  response:
    body: '{"created_at":"2023-07-11T22:00:45.630006Z","dhcp_enabled":false,"id":"3fb56412-fa08-461c-aace-1238bf094e23","name":"tf-pn-elated-khayyam","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T22:00:45.630006Z","id":"02d8e9ce-4d7a-4884-9742-2b1838501bf8","subnet":"172.16.4.0/22","updated_at":"2023-07-11T22:00:45.630006Z"},{"created_at":"2023-07-11T22:00:45.630006Z","id":"d9d41042-03e5-458c-a5a3-b3b5b527df76","subnet":"fd46:78ab:30b8:1cb3::/64","updated_at":"2023-07-11T22:00:45.630006Z"}],"tags":[],"updated_at":"2023-07-11T22:00:45.630006Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T22:00:45.795392Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"7e374d43-3da6-41b3-adfc-d61e32bf9d53","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7e374d43-3da6-41b3-adfc-d61e32bf9d53
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T22:00:45.795392Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"7e374d43-3da6-41b3-adfc-d61e32bf9d53","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7e374d43-3da6-41b3-adfc-d61e32bf9d53
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T22:00:45.795392Z","endpoint":{"id":"7ba889e9-195a-4a49-a364-b1e5c7606477","ip":"195.154.71.232","load_balancer":{},"name":null,"port":27090},"endpoints":[{"id":"7ba889e9-195a-4a49-a364-b1e5c7606477","ip":"195.154.71.232","load_balancer":{},"name":null,"port":27090}],"engine":"PostgreSQL-14","id":"7e374d43-3da6-41b3-adfc-d61e32bf9d53","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/7e374d43-3da6-41b3-adfc-d61e32bf9d53/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwekNDQW8rZ0F3SUJBZ0lVRnhkYVV0Ri9BOUs3VEJyaExRcUN2UlNvNDE0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFNU5TNHhOVFF1TnpFdU1qTXlNQjRYCkRUSXpNRGN4TVRJeU1ERXlORm9YRFRNek1EY3dPREl5TURFeU5Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakU1TlM0eE5[...]
- request:
    body: '{"instance_id":"7e374d43-3da6-41b3-adfc-d61e32bf9d53","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"3fb56412-fa08-461c-aace-1238bf094e23","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"58ae1da4-a82b-4dc9-8036-3a767ba375f6","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"3fb56412-fa08-461c-aace-1238bf094e23","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"4b4f12de-e518-4709-a47a-51a241e09656","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/4b4f12de-e518-4709-a47a-51a241e09656
    method: GET
  response:
    body: '{"endpoints":[{"id":"58ae1da4-a82b-4dc9-8036-3a767ba375f6","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"3fb56412-fa08-461c-aace-1238bf094e23","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"4b4f12de-e518-4709-a47a-51a241e09656","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/4b4f12de-e518-4709-a47a-51a241e09656
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
