---
version: 1
interactions:
- request:
    body: '{"project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":[],"init_settings":null,"volume_type":"lssd","volume_size":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"fa40095e-a8ae-4837-ab6a-cfbee5ce27a6","name":"test-rdb","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-04-28T14:10:41.354884Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa40095e-a8ae-4837-ab6a-cfbee5ce27a6
    method: GET
  response:
    body: '{"id":"fa40095e-a8ae-4837-ab6a-cfbee5ce27a6","name":"test-rdb","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-04-28T14:10:41.354884Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa40095e-a8ae-4837-ab6a-cfbee5ce27a6
    method: GET
  response:
    body: '{"id":"fa40095e-a8ae-4837-ab6a-cfbee5ce27a6","name":"test-rdb","organization_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","project_id":"9af7216e-7b97-404d-8ada-9f379eb39ae5","status":"initializing","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.131.231","port":57357,"name":null},"tags":[],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"created_at":"2021-04-28T14:10:41.354884Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"settings":[{"name":"max_connections","value":"200"},{"name":"max_parallel_workers_per_gather","value":"2"},{"name":"effective_cache_size","value":"1300"},{"name":"max_parallel_workers","value":"2"},{"name":"work_mem","value":"4"},{"name":"maintenance_work_mem","value":"150"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa40095e-a8ae-4837-ab6a-cfbee5ce27a6/settings
    method: PUT
  response:
    body: '{"settings":[{"name":"max_connections","value":"200"},{"name":"max_parallel_workers_per_gather","value":"2"},{"name":"effective_cache_size","value":"1300"},{"name":"max_parallel_workers","value":"2"},{"name":"work_mem","value":"4"},{"name":"maintenance_work_mem","value":"150"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa40095e-a8ae-4837-ab6a-cfbee5ce27a6/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVVXRUYVN2THNIZVlNWHFHajdaakFjU1ZsWmNZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MW1ZVFF3TURrMVpTMWhPR0ZsCkxUUTRNemN0WVdJMllTMWpabUpsWlRWalpUSTNZVFl1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpFd05ESTRNVFF4TVRVd1doY05NekV3TkRJMk1UUXhNVFV3V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa40095e-a8ae-4837-ab6a-cfbee5ce27a6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"fa40095e-a8ae-4837-ab6a-cfbee5ce27a6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
