---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"test-rdb-disable-public-endpoint","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-21T15:59:04.384175Z","dhcp_enabled":true,"id":"05a40e93-6f04-4bf9-82e3-ee21beeb0524","name":"test-rdb-disable-public-endpoint","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-21T15:59:04.384175Z","id":"53a292e4-21f4-44ba-834b-ae7355a8539b","subnet":"172.16.44.0/22","updated_at":"2023-11-21T15:59:04.384175Z"},{"created_at":"2023-11-21T15:59:04.384175Z","id":"9baa2558-a907-4634-8294-0e258148ab2c","subnet":"fd5f:519c:6d46:8cf::/64","updated_at":"2023-11-21T15:59:04.384175Z"}],"tags":[],"updated_at":"2023-11-21T15:59:04.384175Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/05a40e93-6f04-4bf9-82e3-ee21beeb0524
    method: GET
  response:
    body: '{"created_at":"2023-11-21T15:59:04.384175Z","dhcp_enabled":true,"id":"05a40e93-6f04-4bf9-82e3-ee21beeb0524","name":"test-rdb-disable-public-endpoint","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-21T15:59:04.384175Z","id":"53a292e4-21f4-44ba-834b-ae7355a8539b","subnet":"172.16.44.0/22","updated_at":"2023-11-21T15:59:04.384175Z"},{"created_at":"2023-11-21T15:59:04.384175Z","id":"9baa2558-a907-4634-8294-0e258148ab2c","subnet":"fd5f:519c:6d46:8cf::/64","updated_at":"2023-11-21T15:59:04.384175Z"}],"tags":[],"updated_at":"2023-11-21T15:59:04.384175Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-disable-public-endpoint","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","disable_public_endpoint"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"05a40e93-6f04-4bf9-82e3-ee21beeb0524","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:05.983601Z","endpoint":null,"endpoints":[{"id":"9b37e65c-3ad8-4571-9e2e-d77e102a7c40","ip":"172.16.44.2","name":null,"port":5432,"private_network":{"private_network_id":"05a40e93-6f04-4bf9-82e3-ee21beeb0524","service_ip":"172.16.44.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"bfa13d99-71d6-4103-8870-fd24703b53b7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-disable-public-endpoint","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","disable_public_endpoint"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bfa13d99-71d6-4103-8870-fd24703b53b7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:05.983601Z","endpoint":null,"endpoints":[{"id":"9b37e65c-3ad8-4571-9e2e-d77e102a7c40","ip":"172.16.44.2","name":null,"port":5432,"private_network":{"private_network_id":"05a40e93-6f04-4bf9-82e3-ee21beeb0524","service_ip":"172.16.44.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"bfa13d99-71d6-4103-8870-fd24703b53b7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-disable-public-endpoint","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","disable_public_endpoint"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bfa13d99-71d6-4103-8870-fd24703b53b7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:05.983601Z","endpoint":null,"endpoints":[{"id":"9b37e65c-3ad8-4571-9e2e-d77e102a7c40","ip":"172.16.44.2","name":null,"port":5432,"private_network":{"private_network_id":"05a40e93-6f04-4bf9-82e3-ee21beeb0524","service_ip":"172.16.44.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"bfa13d99-71d6-4103-8870-fd24703b53b7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-disable-public-endpoint","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_instance","disable_public_endpoint"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bfa13d99-71d6-4103-8870-fd24703b53b7
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:05.983601Z","endpoint":{"id":"93946f50-5d25-4178-9edb-88387ae9b6e4","ip":"51.159.204.200","load_balancer":{},"name":null,"port":27011},"endpoints":[{"id":"9b37e65c-3ad8-4571-9e2e-d77e102a7c40","ip":"172.16.44.2","name":null,"port":5432,"private_network":{"private_network_id":"05a40e93-6f04-4bf9-82e3-ee21beeb0524","service_ip":"172.16.44.2/22","zone":"fr-par-1"}},{"id":"93946f50-5d25-4178-9edb-88387ae9b6e4","ip":"51.159.204.200","load_balancer":{},"name":null,"port":27011}],"engine":"PostgreSQL-15","id":"bfa13d99-71d6-4103-8870-fd24703b53b7","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-disable-public-endpoint","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","disable_public_endpoint"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/93946f50-5d25-4178-9edb-88387ae9b6e4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bfa13d99-71d6-4103-8870-fd24703b53b7/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR0RENDQXB5Z0F3SUJBZ0lVVkw4NjRVcmxUSUZEeEIrbk9jWENlNDFuMTRRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTQwTkM0eU1CNFhEVEl6Ck1URXlNVEUyTURJd00xb1hEVE16TVRFeE9ERTJNREl3TTFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0ME5[...]
[...]
- request:
    body: '{"endpoint_spec":{"load_balancer":{}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bfa13d99-71d6-4103-8870-fd24703b53b7/endpoints
    method: POST
  response:
    body: '{"id":"","name":null,"port":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/bfa13d99-71d6-4103-8870-fd24703b53b7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"bfa13d99-71d6-4103-8870-fd24703b53b7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
