---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T15:55:54.539813Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c71d53bd-7f5a-4410-8652-a9e22dab39d1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-hungry-dijkstra","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T15:55:54.202572Z","dhcp_enabled":true,"id":"dd5c02b3-e130-41c4-829d-fdf6fc56fb15","name":"tf-pn-hungry-dijkstra","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T15:55:54.202572Z","id":"7f1eeccb-f53f-4ec0-9ed6-8efed0f3d3c0","subnet":"172.16.4.0/22","updated_at":"2023-10-20T15:55:54.202572Z"},{"created_at":"2023-10-20T15:55:54.202572Z","id":"9a555652-9a24-4353-bdc0-2aaa3b1bd246","subnet":"fd63:256c:45f7:dce0::/64","updated_at":"2023-10-20T15:55:54.202572Z"}],"tags":[],"updated_at":"2023-10-20T15:55:54.202572Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dd5c02b3-e130-41c4-829d-fdf6fc56fb15
    method: GET
  response:
    body: '{"created_at":"2023-10-20T15:55:54.202572Z","dhcp_enabled":true,"id":"dd5c02b3-e130-41c4-829d-fdf6fc56fb15","name":"tf-pn-hungry-dijkstra","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T15:55:54.202572Z","id":"7f1eeccb-f53f-4ec0-9ed6-8efed0f3d3c0","subnet":"172.16.4.0/22","updated_at":"2023-10-20T15:55:54.202572Z"},{"created_at":"2023-10-20T15:55:54.202572Z","id":"9a555652-9a24-4353-bdc0-2aaa3b1bd246","subnet":"fd63:256c:45f7:dce0::/64","updated_at":"2023-10-20T15:55:54.202572Z"}],"tags":[],"updated_at":"2023-10-20T15:55:54.202572Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c71d53bd-7f5a-4410-8652-a9e22dab39d1
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T15:55:54.539813Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"c71d53bd-7f5a-4410-8652-a9e22dab39d1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c71d53bd-7f5a-4410-8652-a9e22dab39d1
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T15:55:54.539813Z","endpoint":{"id":"196543e5-f119-409a-ab9d-13084910f795","ip":"51.159.205.143","load_balancer":{},"name":null,"port":18668},"endpoints":[{"id":"196543e5-f119-409a-ab9d-13084910f795","ip":"51.159.205.143","load_balancer":{},"name":null,"port":18668}],"engine":"PostgreSQL-15","id":"c71d53bd-7f5a-4410-8652-a9e22dab39d1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c71d53bd-7f5a-4410-8652-a9e22dab39d1/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwekNDQW8rZ0F3SUJBZ0lVS21DVXdVVWVDNGZMeHB1V241dFAxNUVpaXNZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR5TURVdU1UUXpNQjRYCkRUSXpNVEF5TURFMU5UYzBNbG9YRFRNek1UQXhOekUxTlRjME1sb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
- request:
    body: '{"instance_id":"c71d53bd-7f5a-4410-8652-a9e22dab39d1","endpoint_spec":[{"private_network":{"private_network_id":"dd5c02b3-e130-41c4-829d-fdf6fc56fb15","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"fc320e32-0a68-4341-ac02-be45c90b944c","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"dd5c02b3-e130-41c4-829d-fdf6fc56fb15","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"b2d9f7c1-d718-4b79-b538-c6ffce216eb2","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b2d9f7c1-d718-4b79-b538-c6ffce216eb2
    method: GET
  response:
    body: '{"endpoints":[{"id":"fc320e32-0a68-4341-ac02-be45c90b944c","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"dd5c02b3-e130-41c4-829d-fdf6fc56fb15","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"b2d9f7c1-d718-4b79-b538-c6ffce216eb2","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b2d9f7c1-d718-4b79-b538-c6ffce216eb2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"b2d9f7c1-d718-4b79-b538-c6ffce216eb2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
