---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-02T19:00:09.985180Z","dhcp_enabled":true,"id":"ea0854da-211d-4cca-b625-68104d98a8d0","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-02T19:00:09.985180Z","id":"da788da6-f5bd-4e90-a4ff-1298b12a0607","subnet":"172.16.12.0/22","updated_at":"2023-11-02T19:00:09.985180Z"},{"created_at":"2023-11-02T19:00:09.985180Z","id":"82bb0bb2-1d6f-403c-baf1-a56fedb113f9","subnet":"fd68:d440:21c4:b13::/64","updated_at":"2023-11-02T19:00:09.985180Z"}],"tags":[],"updated_at":"2023-11-02T19:00:09.985180Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/ea0854da-211d-4cca-b625-68104d98a8d0
    method: GET
  response:
    body: '{"created_at":"2023-11-02T19:00:09.985180Z","dhcp_enabled":true,"id":"ea0854da-211d-4cca-b625-68104d98a8d0","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"nl-ams","subnets":[{"created_at":"2023-11-02T19:00:09.985180Z","id":"da788da6-f5bd-4e90-a4ff-1298b12a0607","subnet":"172.16.12.0/22","updated_at":"2023-11-02T19:00:09.985180Z"},{"created_at":"2023-11-02T19:00:09.985180Z","id":"82bb0bb2-1d6f-403c-baf1-a56fedb113f9","subnet":"fd68:d440:21c4:b13::/64","updated_at":"2023-11-02T19:00:09.985180Z"}],"tags":[],"updated_at":"2023-11-02T19:00:09.985180Z","vpc_id":"4309b839-ccd3-4b18-ab44-8d79ebcde6a1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"ea0854da-211d-4cca-b625-68104d98a8d0","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T19:00:13.911090Z","endpoint":null,"endpoints":[{"id":"d2f13d77-2ae7-4ae8-be59-e0617730bfdb","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"ea0854da-211d-4cca-b625-68104d98a8d0","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"1b36eed4-0b9f-44e1-9947-8dc415a8f3c3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/1b36eed4-0b9f-44e1-9947-8dc415a8f3c3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T19:00:13.911090Z","endpoint":null,"endpoints":[{"id":"d2f13d77-2ae7-4ae8-be59-e0617730bfdb","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"ea0854da-211d-4cca-b625-68104d98a8d0","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"1b36eed4-0b9f-44e1-9947-8dc415a8f3c3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/1b36eed4-0b9f-44e1-9947-8dc415a8f3c3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-02T19:00:13.911090Z","endpoint":{"id":"5b5a19db-acf4-4983-bbf4-b7851e1e2ea2","ip":"51.158.130.202","load_balancer":{},"name":null,"port":14166},"endpoints":[{"id":"d2f13d77-2ae7-4ae8-be59-e0617730bfdb","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"ea0854da-211d-4cca-b625-68104d98a8d0","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}},{"id":"5b5a19db-acf4-4983-bbf4-b7851e1e2ea2","ip":"51.158.130.202","load_balancer":{},"name":null,"port":14166}],"engine":"PostgreSQL-15","id":"1b36eed4-0b9f-44e1-9947-8dc415a8f3c3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/1b36eed4-0b9f-44e1-9947-8dc415a8f3c3/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR0ekNDQXArZ0F3SUJBZ0lVTjJad2xMZWlGQ25MT1VXejJDNEZVYXFmazlvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck16RXhNREl4T1RBeE1qRmFGdzB6TXpFd016QXhPVEF4TWpGYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/d2f13d77-2ae7-4ae8-be59-e0617730bfdb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"8c96124f-20c2-42fa-a66f-60a0387ec4c9","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/1b36eed4-0b9f-44e1-9947-8dc415a8f3c3/endpoints
    method: POST
  response:
    body: '{"id":"12092b19-c7b9-4e52-b1d4-571b56c675a6","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"8c96124f-20c2-42fa-a66f-60a0387ec4c9","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-02T19:04:23.705273Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a82af0b-34a4-4749-ab14-189473b39511","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T19:04:23.705273Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/9a82af0b-34a4-4749-ab14-189473b39511
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-02T19:04:23.705273Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a82af0b-34a4-4749-ab14-189473b39511","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T19:04:23.705273Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.111.89","created_at":"2023-11-02T19:04:24.135579Z","gateway_id":null,"id":"a85bcd79-4ee5-4871-b63e-1abd0fae407c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T19:04:24.135579Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/a85bcd79-4ee5-4871-b63e-1abd0fae407c
    method: GET
  response:
    body: '{"address":"51.15.111.89","created_at":"2023-11-02T19:04:24.135579Z","gateway_id":null,"id":"a85bcd79-4ee5-4871-b63e-1abd0fae407c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T19:04:24.135579Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"a85bcd79-4ee5-4871-b63e-1abd0fae407c","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-02T19:04:24.389160Z","gateway_networks":[],"id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","ip":{"address":"51.15.111.89","created_at":"2023-11-02T19:04:24.135579Z","gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","id":"a85bcd79-4ee5-4871-b63e-1abd0fae407c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T19:04:24.135579Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-02T19:04:24.389160Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/a4b3d7c6-6294-42a1-84a8-39a2bce0aa93
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-02T19:04:24.389160Z","gateway_networks":[],"id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","ip":{"address":"51.15.111.89","created_at":"2023-11-02T19:04:24.135579Z","gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","id":"a85bcd79-4ee5-4871-b63e-1abd0fae407c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-02T19:04:24.135579Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-02T19:04:24.460270Z","upstream_dns_servers":[],"version":"0.6.0","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","private_network_id":"8c96124f-20c2-42fa-a66f-60a0387ec4c9","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"9a82af0b-34a4-4749-ab14-189473b39511"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-02T19:04:31.839577Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-02T19:04:23.705273Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a82af0b-34a4-4749-ab14-189473b39511","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T19:04:23.705273Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","id":"7bbfa405-73e7-4b9d-8f74-8024b0c07147","ipam_config":null,"mac_address":null,"private_network_id":"8c96124f-20c2-42fa-a66f-60a0387ec4c9","status":"created","updated_at":"2023-11-02T19:04:31.839577Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/7bbfa405-73e7-4b9d-8f74-8024b0c07147
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-02T19:04:31.839577Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-02T19:04:23.705273Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9a82af0b-34a4-4749-ab14-189473b39511","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-02T19:04:23.705273Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","id":"7bbfa405-73e7-4b9d-8f74-8024b0c07147","ipam_config":null,"mac_address":"02:00:00:11:E4:7E","private_network_id":"8c96124f-20c2-42fa-a66f-60a0387ec4c9","status":"ready","updated_at":"2023-11-02T19:04:39.322434Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-11-02T19:04:42.717872Z","gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","id":"030551cf-3765-4015-8cdd-5387f1c19d34","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-02T19:04:42.717872Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/030551cf-3765-4015-8cdd-5387f1c19d34
    method: GET
  response:
    body: '{"created_at":"2023-11-02T19:04:42.717872Z","gateway_id":"a4b3d7c6-6294-42a1-84a8-39a2bce0aa93","id":"030551cf-3765-4015-8cdd-5387f1c19d34","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-02T19:04:42.717872Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/7bbfa405-73e7-4b9d-8f74-8024b0c07147?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/7bbfa405-73e7-4b9d-8f74-8024b0c07147
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"7bbfa405-73e7-4b9d-8f74-8024b0c07147","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/a4b3d7c6-6294-42a1-84a8-39a2bce0aa93?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
