---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-21T15:59:03.986417Z","dhcp_enabled":true,"id":"f914abaf-aacf-426f-8489-24a570c2ef6f","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-11-21T15:59:03.986417Z","id":"6269a5ac-6568-4394-b84c-ee47364e35d1","subnet":"172.16.0.0/22","updated_at":"2023-11-21T15:59:03.986417Z"},{"created_at":"2023-11-21T15:59:03.986417Z","id":"edfe4950-33eb-4159-b4c6-4659a51b7b06","subnet":"fd5c:d510:d730:566::/64","updated_at":"2023-11-21T15:59:03.986417Z"}],"tags":[],"updated_at":"2023-11-21T15:59:03.986417Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/f914abaf-aacf-426f-8489-24a570c2ef6f
    method: GET
  response:
    body: '{"created_at":"2023-11-21T15:59:03.986417Z","dhcp_enabled":true,"id":"f914abaf-aacf-426f-8489-24a570c2ef6f","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-11-21T15:59:03.986417Z","id":"6269a5ac-6568-4394-b84c-ee47364e35d1","subnet":"172.16.0.0/22","updated_at":"2023-11-21T15:59:03.986417Z"},{"created_at":"2023-11-21T15:59:03.986417Z","id":"edfe4950-33eb-4159-b4c6-4659a51b7b06","subnet":"fd5c:d510:d730:566::/64","updated_at":"2023-11-21T15:59:03.986417Z"}],"tags":[],"updated_at":"2023-11-21T15:59:03.986417Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"f914abaf-aacf-426f-8489-24a570c2ef6f","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:06.521949Z","endpoint":null,"endpoints":[{"id":"b720570a-92d0-4404-b241-c5ad79f24b3c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f914abaf-aacf-426f-8489-24a570c2ef6f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4b854f66-8eee-4b91-8b22-a4b10f7ef61c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4b854f66-8eee-4b91-8b22-a4b10f7ef61c
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:06.521949Z","endpoint":null,"endpoints":[{"id":"b720570a-92d0-4404-b241-c5ad79f24b3c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f914abaf-aacf-426f-8489-24a570c2ef6f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4b854f66-8eee-4b91-8b22-a4b10f7ef61c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4b854f66-8eee-4b91-8b22-a4b10f7ef61c
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:06.521949Z","endpoint":null,"endpoints":[{"id":"b720570a-92d0-4404-b241-c5ad79f24b3c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f914abaf-aacf-426f-8489-24a570c2ef6f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"4b854f66-8eee-4b91-8b22-a4b10f7ef61c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4b854f66-8eee-4b91-8b22-a4b10f7ef61c
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T15:59:06.521949Z","endpoint":{"id":"0f37bffe-527f-4539-95ae-9d2337ce0f26","ip":"51.158.131.191","load_balancer":{},"name":null,"port":25887},"endpoints":[{"id":"b720570a-92d0-4404-b241-c5ad79f24b3c","ip":"192.168.1.42","name":null,"port":5432,"private_network":{"private_network_id":"f914abaf-aacf-426f-8489-24a570c2ef6f","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}},{"id":"0f37bffe-527f-4539-95ae-9d2337ce0f26","ip":"51.158.131.191","load_balancer":{},"name":null,"port":25887}],"engine":"PostgreSQL-15","id":"4b854f66-8eee-4b91-8b22-a4b10f7ef61c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4b854f66-8eee-4b91-8b22-a4b10f7ef61c/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR0ekNDQXArZ0F3SUJBZ0lVWFlVTGIyQ2FPZHUwUnNHVFYxTkQ4U3MrRDM4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1Z6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RlRBVEJnTlZCQU1NRERFNU1pNHhOamd1TVM0ME1qQWVGdzB5Ck16RXhNakV4TmpBeE5UbGFGdzB6TXpFeE1UZ3hOakF4TlRsYU1GY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWUQKVlFRSURBVlFZWEpwY3pFT01Bd0dBMVVFQnd3RlVHRnlhWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVJVdwpFd1lEVlFRRERBd3hPVEl1TVRZNEx[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/b720570a-92d0-4404-b241-c5ad79f24b3c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"c02ab383-e20f-402b-9854-849643ad5b40","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/4b854f66-8eee-4b91-8b22-a4b10f7ef61c/endpoints
    method: POST
  response:
    body: '{"id":"48aa9dfc-2625-4350-b089-fb2dd547d871","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"c02ab383-e20f-402b-9854-849643ad5b40","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-21T16:03:50.611576Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"38889f09-cb5d-4932-b98a-5f2e92cb3c79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:03:50.611576Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/38889f09-cb5d-4932-b98a-5f2e92cb3c79
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-21T16:03:50.611576Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"38889f09-cb5d-4932-b98a-5f2e92cb3c79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:03:50.611576Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.34.204","created_at":"2023-11-21T16:03:51.257080Z","gateway_id":null,"id":"b1498d6a-0a9f-4eb6-b06e-14a9b0a97c72","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"204-34-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:03:51.257080Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/b1498d6a-0a9f-4eb6-b06e-14a9b0a97c72
    method: GET
  response:
    body: '{"address":"51.15.34.204","created_at":"2023-11-21T16:03:51.257080Z","gateway_id":null,"id":"b1498d6a-0a9f-4eb6-b06e-14a9b0a97c72","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"204-34-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:03:51.257080Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"b1498d6a-0a9f-4eb6-b06e-14a9b0a97c72","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-21T16:03:51.550366Z","gateway_networks":[],"id":"d92c06a0-f83c-437b-b222-0507cccfd294","ip":{"address":"51.15.34.204","created_at":"2023-11-21T16:03:51.257080Z","gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","id":"b1498d6a-0a9f-4eb6-b06e-14a9b0a97c72","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"204-34-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:03:51.257080Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-21T16:03:51.550366Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/d92c06a0-f83c-437b-b222-0507cccfd294
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-21T16:03:51.550366Z","gateway_networks":[],"id":"d92c06a0-f83c-437b-b222-0507cccfd294","ip":{"address":"51.15.34.204","created_at":"2023-11-21T16:03:51.257080Z","gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","id":"b1498d6a-0a9f-4eb6-b06e-14a9b0a97c72","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"204-34-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:03:51.257080Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-21T16:03:51.610945Z","upstream_dns_servers":[],"version":"0.6.1","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","private_network_id":"c02ab383-e20f-402b-9854-849643ad5b40","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"38889f09-cb5d-4932-b98a-5f2e92cb3c79"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-21T16:03:57.908213Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-21T16:03:50.611576Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"38889f09-cb5d-4932-b98a-5f2e92cb3c79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:03:50.611576Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","id":"32c3f230-43ff-42a3-b7da-85396827bfd9","ipam_config":null,"mac_address":null,"private_network_id":"c02ab383-e20f-402b-9854-849643ad5b40","status":"created","updated_at":"2023-11-21T16:03:57.908213Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/32c3f230-43ff-42a3-b7da-85396827bfd9
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-21T16:03:57.908213Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-21T16:03:50.611576Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"38889f09-cb5d-4932-b98a-5f2e92cb3c79","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:03:50.611576Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","id":"32c3f230-43ff-42a3-b7da-85396827bfd9","ipam_config":null,"mac_address":"02:00:00:11:FB:DF","private_network_id":"c02ab383-e20f-402b-9854-849643ad5b40","status":"ready","updated_at":"2023-11-21T16:04:07.245134Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-11-21T16:04:08.915067Z","gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","id":"303cca5c-abd0-44c2-8847-857df8294025","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-21T16:04:08.915067Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/303cca5c-abd0-44c2-8847-857df8294025
    method: GET
  response:
    body: '{"created_at":"2023-11-21T16:04:08.915067Z","gateway_id":"d92c06a0-f83c-437b-b222-0507cccfd294","id":"303cca5c-abd0-44c2-8847-857df8294025","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-21T16:04:08.915067Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/32c3f230-43ff-42a3-b7da-85396827bfd9?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/32c3f230-43ff-42a3-b7da-85396827bfd9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"32c3f230-43ff-42a3-b7da-85396827bfd9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/d92c06a0-f83c-437b-b222-0507cccfd294?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
