---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"tf-pn-exciting-cohen","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:07:53.443624Z","dhcp_enabled":true,"id":"feab5f51-efa0-43fb-9a75-e2b1843ac3fe","name":"tf-pn-exciting-cohen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:07:53.443624Z","id":"fa233d3d-2c9f-4011-b42e-5e99e311b864","subnet":"172.16.120.0/22","updated_at":"2023-12-18T13:07:53.443624Z"},{"created_at":"2023-12-18T13:07:53.443624Z","id":"de18d81a-e0cd-4cca-9bc3-8ad6d2d64a4c","subnet":"fd5f:519c:6d46:f4d8::/64","updated_at":"2023-12-18T13:07:53.443624Z"}],"tags":[],"updated_at":"2023-12-18T13:07:53.443624Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-pn","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:07:53.701655Z","endpoint":{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"c532e336-2f76-43b6-8d85-a0e860a922c0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/feab5f51-efa0-43fb-9a75-e2b1843ac3fe
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:07:53.443624Z","dhcp_enabled":true,"id":"feab5f51-efa0-43fb-9a75-e2b1843ac3fe","name":"tf-pn-exciting-cohen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:07:53.443624Z","id":"fa233d3d-2c9f-4011-b42e-5e99e311b864","subnet":"172.16.120.0/22","updated_at":"2023-12-18T13:07:53.443624Z"},{"created_at":"2023-12-18T13:07:53.443624Z","id":"de18d81a-e0cd-4cca-9bc3-8ad6d2d64a4c","subnet":"fd5f:519c:6d46:f4d8::/64","updated_at":"2023-12-18T13:07:53.443624Z"}],"tags":[],"updated_at":"2023-12-18T13:07:53.443624Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c532e336-2f76-43b6-8d85-a0e860a922c0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:07:53.701655Z","endpoint":{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"c532e336-2f76-43b6-8d85-a0e860a922c0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c532e336-2f76-43b6-8d85-a0e860a922c0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:07:53.701655Z","endpoint":{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-15","id":"c532e336-2f76-43b6-8d85-a0e860a922c0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c532e336-2f76-43b6-8d85-a0e860a922c0
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:07:53.701655Z","endpoint":{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","ip":"195.154.197.252","load_balancer":{},"name":null,"port":6137},"endpoints":[{"id":"cc5c09e9-f241-45bc-aa26-4c6e0f3a9d6d","ip":"195.154.197.252","load_balancer":{},"name":null,"port":6137}],"engine":"PostgreSQL-15","id":"c532e336-2f76-43b6-8d85-a0e860a922c0","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-pn","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/c532e336-2f76-43b6-8d85-a0e860a922c0/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVY3ZwT1RJckc4aWNqcFc0ODhrbnM0NXg4ZUhBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrM0xqSTFNakFlCkZ3MHlNekV5TVRneE16RXhNak5hRncwek16RXlNVFV4TXpFeE1qTmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=c532e336-2f76-43b6-8d85-a0e860a922c0&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"c532e336-2f76-43b6-8d85-a0e860a922c0","endpoint_spec":[{"private_network":{"private_network_id":"feab5f51-efa0-43fb-9a75-e2b1843ac3fe","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"68503851-835b-45ff-9877-6711ce9990b3","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"feab5f51-efa0-43fb-9a75-e2b1843ac3fe","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"b1199610-01b6-49d0-8b08-68195e11008b","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b1199610-01b6-49d0-8b08-68195e11008b
    method: GET
  response:
    body: '{"endpoints":[{"id":"68503851-835b-45ff-9877-6711ce9990b3","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"feab5f51-efa0-43fb-9a75-e2b1843ac3fe","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"b1199610-01b6-49d0-8b08-68195e11008b","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b1199610-01b6-49d0-8b08-68195e11008b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"b1199610-01b6-49d0-8b08-68195e11008b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
