---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:01:36.797044Z","dhcp_enabled":true,"id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:01:36.797044Z","id":"b4f26e69-5385-4845-9f62-eba27ada06ce","subnet":"172.16.24.0/22","updated_at":"2023-11-16T16:01:36.797044Z"},{"created_at":"2023-11-16T16:01:36.797044Z","id":"bfe8198d-37e2-4838-84e5-091c9ee4e7dd","subnet":"fd63:256c:45f7:b55c::/64","updated_at":"2023-11-16T16:01:36.797044Z"}],"tags":[],"updated_at":"2023-11-16T16:01:36.797044Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a1c98c5c-2f7e-4b31-a5d3-df959a4396cd
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:01:36.797044Z","dhcp_enabled":true,"id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:01:36.797044Z","id":"b4f26e69-5385-4845-9f62-eba27ada06ce","subnet":"172.16.24.0/22","updated_at":"2023-11-16T16:01:36.797044Z"},{"created_at":"2023-11-16T16:01:36.797044Z","id":"bfe8198d-37e2-4838-84e5-091c9ee4e7dd","subnet":"fd63:256c:45f7:b55c::/64","updated_at":"2023-11-16T16:01:36.797044Z"}],"tags":[],"updated_at":"2023-11-16T16:01:36.797044Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:01:39.456484Z","endpoint":null,"endpoints":[{"id":"4f4ba9cd-8372-4035-91d2-6da9195a3d3a","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"fa5fc92f-ba62-41a4-ab90-de31df255cf3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5fc92f-ba62-41a4-ab90-de31df255cf3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:01:39.456484Z","endpoint":null,"endpoints":[{"id":"4f4ba9cd-8372-4035-91d2-6da9195a3d3a","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"fa5fc92f-ba62-41a4-ab90-de31df255cf3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5fc92f-ba62-41a4-ab90-de31df255cf3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:01:39.456484Z","endpoint":null,"endpoints":[{"id":"4f4ba9cd-8372-4035-91d2-6da9195a3d3a","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"fa5fc92f-ba62-41a4-ab90-de31df255cf3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5fc92f-ba62-41a4-ab90-de31df255cf3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T16:01:39.456484Z","endpoint":{"id":"daff30c2-f7c4-49eb-b1e3-b73eb70cb34d","ip":"51.159.113.173","load_balancer":{},"name":null,"port":20761},"endpoints":[{"id":"4f4ba9cd-8372-4035-91d2-6da9195a3d3a","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","service_ip":"172.16.24.2/22","zone":"fr-par-1"}},{"id":"daff30c2-f7c4-49eb-b1e3-b73eb70cb34d","ip":"51.159.113.173","load_balancer":{},"name":null,"port":20761}],"engine":"PostgreSQL-15","id":"fa5fc92f-ba62-41a4-ab90-de31df255cf3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5fc92f-ba62-41a4-ab90-de31df255cf3/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR0RENDQXB5Z0F3SUJBZ0lVVGlPTDZpU2FaZHErcGdlUVdjeU1BbXpna1Rvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5TkM0eU1CNFhEVEl6Ck1URXhOakUyTURVd01Wb1hEVE16TVRFeE16RTJNRFV3TVZvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU5[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/4f4ba9cd-8372-4035-91d2-6da9195a3d3a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","service_ip":"172.16.24.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5fc92f-ba62-41a4-ab90-de31df255cf3/endpoints
    method: POST
  response:
    body: '{"id":"797ebcf0-d894-4267-ab06-fa07cbd80186","ip":"172.16.24.4","name":null,"port":5432,"private_network":{"private_network_id":"a1c98c5c-2f7e-4b31-a5d3-df959a4396cd","service_ip":"172.16.24.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/fa5fc92f-ba62-41a4-ab90-de31df255cf3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"fa5fc92f-ba62-41a4-ab90-de31df255cf3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
