---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-rdb-rr-update","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T21:52:41.772241Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"5fab2f85-51ab-4aeb-990f-a2ef20c49330","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5fab2f85-51ab-4aeb-990f-a2ef20c49330
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T21:52:41.772241Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"5fab2f85-51ab-4aeb-990f-a2ef20c49330","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5fab2f85-51ab-4aeb-990f-a2ef20c49330
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-07-11T21:52:41.772241Z","endpoint":{"id":"e42ae4dc-70b0-4949-a7a7-0db63bb79646","ip":"195.154.71.232","load_balancer":{},"name":null,"port":11095},"endpoints":[{"id":"e42ae4dc-70b0-4949-a7a7-0db63bb79646","ip":"195.154.71.232","load_balancer":{},"name":null,"port":11095}],"engine":"PostgreSQL-14","id":"5fab2f85-51ab-4aeb-990f-a2ef20c49330","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/5fab2f85-51ab-4aeb-990f-a2ef20c49330/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwekNDQW8rZ0F3SUJBZ0lVV1J0amVkdW1QdjV5NTBjRGNCbkE1SU9UYm5Vd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpFNU5TNHhOVFF1TnpFdU1qTXlNQjRYCkRUSXpNRGN4TVRJeE5UTXlNRm9YRFRNek1EY3dPREl4TlRNeU1Gb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EakU1TlM0eE5[...]
- request:
    body: '{"instance_id":"5fab2f85-51ab-4aeb-990f-a2ef20c49330","endpoint_spec":[{"direct_access":{}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"bc31b5ec-c8f0-4345-8c9f-2c93cef65005","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/bc31b5ec-c8f0-4345-8c9f-2c93cef65005
    method: GET
  response:
    body: '{"endpoints":[],"id":"bc31b5ec-c8f0-4345-8c9f-2c93cef65005","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-mystifying-sammet","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T21:57:49.314693Z","dhcp_enabled":false,"id":"475a0a96-5006-4863-9edb-97380db4b392","name":"tf-pn-mystifying-sammet","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T21:57:49.314693Z","id":"3c4238a0-37ed-429b-a678-9f810f8e87f9","subnet":"172.16.0.0/22","updated_at":"2023-07-11T21:57:49.314693Z"},{"created_at":"2023-07-11T21:57:49.314693Z","id":"a60a1999-1f0e-4268-be3e-1c83879de527","subnet":"fd46:78ab:30b8:8545::/64","updated_at":"2023-07-11T21:57:49.314693Z"}],"tags":[],"updated_at":"2023-07-11T21:57:49.314693Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/475a0a96-5006-4863-9edb-97380db4b392
    method: GET
  response:
    body: '{"created_at":"2023-07-11T21:57:49.314693Z","dhcp_enabled":false,"id":"475a0a96-5006-4863-9edb-97380db4b392","name":"tf-pn-mystifying-sammet","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T21:57:49.314693Z","id":"3c4238a0-37ed-429b-a678-9f810f8e87f9","subnet":"172.16.0.0/22","updated_at":"2023-07-11T21:57:49.314693Z"},{"created_at":"2023-07-11T21:57:49.314693Z","id":"a60a1999-1f0e-4268-be3e-1c83879de527","subnet":"fd46:78ab:30b8:8545::/64","updated_at":"2023-07-11T21:57:49.314693Z"}],"tags":[],"updated_at":"2023-07-11T21:57:49.314693Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/80dac3c8-84bb-4ab4-b139-32c9dad014fb
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"475a0a96-5006-4863-9edb-97380db4b392","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/bc31b5ec-c8f0-4345-8c9f-2c93cef65005/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"a65c1b4a-099a-4e1e-8931-a39134e4efbb","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"475a0a96-5006-4863-9edb-97380db4b392","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"bc31b5ec-c8f0-4345-8c9f-2c93cef65005","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/bc31b5ec-c8f0-4345-8c9f-2c93cef65005
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
