---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","update"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.308478Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"437e0d18-ee40-47db-954a-a43176faa05d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/437e0d18-ee40-47db-954a-a43176faa05d
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.308478Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"437e0d18-ee40-47db-954a-a43176faa05d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/437e0d18-ee40-47db-954a-a43176faa05d
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.308478Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"437e0d18-ee40-47db-954a-a43176faa05d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/437e0d18-ee40-47db-954a-a43176faa05d
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.308478Z","endpoint":{"id":"d9ae927c-8e31-46a9-958c-a609c318d0fc","ip":"51.159.10.191","load_balancer":{},"name":null,"port":23720},"endpoints":[{"id":"d9ae927c-8e31-46a9-958c-a609c318d0fc","ip":"51.159.10.191","load_balancer":{},"name":null,"port":23720}],"engine":"PostgreSQL-15","id":"437e0d18-ee40-47db-954a-a43176faa05d","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","update"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/437e0d18-ee40-47db-954a-a43176faa05d/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVQ1A5enNYaXA4dzQvS3hUZys5QkYxQUx6V0RFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR4TUM0eE9URXdIaGNOCk1qUXdNakl6TVRNMU9UUTNXaGNOTXpRd01qSXdNVE0xT1RRM1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"437e0d18-ee40-47db-954a-a43176faa05d","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd","instance_id":"437e0d18-ee40-47db-954a-a43176faa05d","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd
    method: GET
  response:
    body: '{"endpoints":[],"id":"d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd","instance_id":"437e0d18-ee40-47db-954a-a43176faa05d","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-great-hugle","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-23T14:03:49.492966Z","dhcp_enabled":true,"id":"3279e5f5-1eb0-4b85-8bde-8d05b30bd863","name":"tf-pn-great-hugle","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T14:03:49.492966Z","id":"ec19860c-ef49-4cda-b9e8-a44ac25238d4","subnet":"172.16.36.0/22","updated_at":"2024-02-23T14:03:49.492966Z"},{"created_at":"2024-02-23T14:03:49.492966Z","id":"9d4ddffe-fe65-4d0e-9a98-ae208ff08b8c","subnet":"fd63:256c:45f7:4300::/64","updated_at":"2024-02-23T14:03:49.492966Z"}],"tags":[],"updated_at":"2024-02-23T14:03:49.492966Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3279e5f5-1eb0-4b85-8bde-8d05b30bd863
    method: GET
  response:
    body: '{"created_at":"2024-02-23T14:03:49.492966Z","dhcp_enabled":true,"id":"3279e5f5-1eb0-4b85-8bde-8d05b30bd863","name":"tf-pn-great-hugle","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T14:03:49.492966Z","id":"ec19860c-ef49-4cda-b9e8-a44ac25238d4","subnet":"172.16.36.0/22","updated_at":"2024-02-23T14:03:49.492966Z"},{"created_at":"2024-02-23T14:03:49.492966Z","id":"9d4ddffe-fe65-4d0e-9a98-ae208ff08b8c","subnet":"fd63:256c:45f7:4300::/64","updated_at":"2024-02-23T14:03:49.492966Z"}],"tags":[],"updated_at":"2024-02-23T14:03:49.492966Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/d14324c2-540d-4fca-b690-c381f6be6887
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"3279e5f5-1eb0-4b85-8bde-8d05b30bd863","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"dffe3a4d-81da-4ecf-9737-bcf58351c36c","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"3279e5f5-1eb0-4b85-8bde-8d05b30bd863","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd","instance_id":"437e0d18-ee40-47db-954a-a43176faa05d","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=437e0d18-ee40-47db-954a-a43176faa05d&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"3279e5f5-1eb0-4b85-8bde-8d05b30bd863","ipam_config":{}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"a3bbbe40-368e-4d67-8792-8b48824cee53","ip":"172.16.36.3","name":null,"port":5432,"private_network":{"private_network_id":"3279e5f5-1eb0-4b85-8bde-8d05b30bd863","service_ip":"172.16.36.3/22","zone":"fr-par-1"}}],"id":"d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd","instance_id":"437e0d18-ee40-47db-954a-a43176faa05d","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=437e0d18-ee40-47db-954a-a43176faa05d&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.36.3/22","created_at":"2024-02-23T14:05:28.122588Z","id":"6b6792d8-bed9-4cd6-b32d-b63ae7c4c8f7","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"437e0d18-ee40-47db-954a-a43176faa05d","mac_address":"02:00:00:18:94:E1","name":"read-replica-d9b1bbbd","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"ec19860c-ef49-4cda-b9e8-a44ac25238d4"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-23T14:05:29.133221Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"d9b1bbbd-da1b-4d6d-b625-6e3cfba0bacd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
