---
version: 1
interactions:
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-23T13:56:34.919270Z","dhcp_enabled":true,"id":"8d9395ce-6de0-4cbc-83cf-1b527615fbeb","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:34.919270Z","id":"e9a25eae-6e26-4b7b-b079-da58f3dfe61c","subnet":"172.16.24.0/22","updated_at":"2024-02-23T13:56:34.919270Z"},{"created_at":"2024-02-23T13:56:34.919270Z","id":"64b53137-021d-4ddf-9b0b-867d1e8162f1","subnet":"fd63:256c:45f7:46a3::/64","updated_at":"2024-02-23T13:56:34.919270Z"}],"tags":[],"updated_at":"2024-02-23T13:56:34.919270Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8d9395ce-6de0-4cbc-83cf-1b527615fbeb
    method: GET
  response:
    body: '{"created_at":"2024-02-23T13:56:34.919270Z","dhcp_enabled":true,"id":"8d9395ce-6de0-4cbc-83cf-1b527615fbeb","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-23T13:56:34.919270Z","id":"e9a25eae-6e26-4b7b-b079-da58f3dfe61c","subnet":"172.16.24.0/22","updated_at":"2024-02-23T13:56:34.919270Z"},{"created_at":"2024-02-23T13:56:34.919270Z","id":"64b53137-021d-4ddf-9b0b-867d1e8162f1","subnet":"fd63:256c:45f7:46a3::/64","updated_at":"2024-02-23T13:56:34.919270Z"}],"tags":[],"updated_at":"2024-02-23T13:56:34.919270Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.162687Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"15eba8fc-b531-44ff-8176-f0116250a77b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/15eba8fc-b531-44ff-8176-f0116250a77b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.162687Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"15eba8fc-b531-44ff-8176-f0116250a77b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/15eba8fc-b531-44ff-8176-f0116250a77b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.162687Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"15eba8fc-b531-44ff-8176-f0116250a77b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/15eba8fc-b531-44ff-8176-f0116250a77b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-23T13:56:35.162687Z","endpoint":{"id":"9ab34e11-7864-4aaf-b785-21792d0b6902","ip":"51.159.74.225","load_balancer":{},"name":null,"port":20275},"endpoints":[{"id":"9ab34e11-7864-4aaf-b785-21792d0b6902","ip":"51.159.74.225","load_balancer":{},"name":null,"port":20275}],"engine":"PostgreSQL-14","id":"15eba8fc-b531-44ff-8176-f0116250a77b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"f70a484b-31e2-4bd4-aefb-8eb15eb667d8","minor_version":"15.6","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/15eba8fc-b531-44ff-8176-f0116250a77b/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVTHNabHdlUjgyOWtXb3VBOUNuVzluL0lMbFZVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzQzTkM0eU1qVXdIaGNOCk1qUXdNakl6TVRNMU9UTTVXaGNOTXpRd01qSXdNVE0xT1RNNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"15eba8fc-b531-44ff-8176-f0116250a77b","endpoint_spec":[{"private_network":{"private_network_id":"8d9395ce-6de0-4cbc-83cf-1b527615fbeb","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"7dea928e-c22e-4517-b92b-46c825479676","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"8d9395ce-6de0-4cbc-83cf-1b527615fbeb","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"id":"50e92804-e73e-4169-bb87-abc6b88718f0","instance_id":"15eba8fc-b531-44ff-8176-f0116250a77b","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/50e92804-e73e-4169-bb87-abc6b88718f0
    method: GET
  response:
    body: '{"endpoints":[{"id":"7dea928e-c22e-4517-b92b-46c825479676","ip":"172.16.24.2","name":null,"port":5432,"private_network":{"private_network_id":"8d9395ce-6de0-4cbc-83cf-1b527615fbeb","service_ip":"172.16.24.2/22","zone":"fr-par-1"}}],"id":"50e92804-e73e-4169-bb87-abc6b88718f0","instance_id":"15eba8fc-b531-44ff-8176-f0116250a77b","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=15eba8fc-b531-44ff-8176-f0116250a77b&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.24.2/22","created_at":"2024-02-23T14:00:07.817592Z","id":"5402017b-71f8-4ea9-b889-b83382ab4528","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"15eba8fc-b531-44ff-8176-f0116250a77b","mac_address":"02:00:00:18:94:D3","name":"read-replica-50e92804","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"e9a25eae-6e26-4b7b-b079-da58f3dfe61c"},"tags":["managed","scwdbaas"],"updated_at":"2024-02-23T14:00:56.149574Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/50e92804-e73e-4169-bb87-abc6b88718f0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"50e92804-e73e-4169-bb87-abc6b88718f0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
