---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":["tag0","tag1","rdb_pn"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"ea191da4-1f9c-4820-84af-4c99c449a6aa","name":"my_private_network","tags":["tag0","tag1","rdb_pn"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T13:38:24.197712Z","updated_at":"2021-10-25T13:38:24.197712Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/ea191da4-1f9c-4820-84af-4c99c449a6aa
    method: GET
  response:
    body: '{"id":"ea191da4-1f9c-4820-84af-4c99c449a6aa","name":"my_private_network","tags":["tag0","tag1","rdb_pn"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T13:38:24.197712Z","updated_at":"2021-10-25T13:38:24.197712Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"ea191da4-1f9c-4820-84af-4c99c449a6aa","service_ip":"192.168.1.42/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"e89530ea-6693-48aa-a717-71166db90198","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"61a96341-09ca-46c2-aa92-13b6fdadac7a","private_network":{"private_network_id":"ea191da4-1f9c-4820-84af-4c99c449a6aa","service_ip":"192.168.1.42/24"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-25T13:38:25.999419Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e89530ea-6693-48aa-a717-71166db90198
    method: GET
  response:
    body: '{"id":"e89530ea-6693-48aa-a717-71166db90198","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"61a96341-09ca-46c2-aa92-13b6fdadac7a","private_network":{"private_network_id":"ea191da4-1f9c-4820-84af-4c99c449a6aa","service_ip":"192.168.1.42/24"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-25T13:38:25.999419Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e89530ea-6693-48aa-a717-71166db90198
    method: GET
  response:
    body: '{"id":"e89530ea-6693-48aa-a717-71166db90198","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"initializing","engine":"PostgreSQL-11","endpoint":{"ip":"51.159.74.225","port":38465,"name":null,"id":"35567f9b-4a10-4e95-978e-b7cc406ab8ba","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.159.74.225","port":38465,"name":null,"id":"35567f9b-4a10-4e95-978e-b7cc406ab8ba","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"61a96341-09ca-46c2-aa92-13b6fdadac7a","private_network":{"private_network_id":"ea191da4-1f9c-4820-84af-4c99c449a6aa","service_ip":"192.168.1.42/24"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-25T13:38:25.999419Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e89530ea-6693-48aa-a717-71166db90198/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVVzRyUHQ0ektUQm92ZDRsQWJNMlB4VFNLd0hFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWxPRGsxTXpCbFlTMDJOamt6CkxUUTRZV0V0WVRjeE55MDNNVEUyTm1SaU9UQXhPVGd1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1ESTFNVE16T1RVNFdoY05NekV4TURJek1UTXpPVFU0V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/e89530ea-6693-48aa-a717-71166db90198
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"e89530ea-6693-48aa-a717-71166db90198","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/ea191da4-1f9c-4820-84af-4c99c449a6aa
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
[...]
