---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.510135Z","endpoint":{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"8db0fff4-e3a6-48dd-98e3-06309ee3ca6c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8db0fff4-e3a6-48dd-98e3-06309ee3ca6c
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.510135Z","endpoint":{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"8db0fff4-e3a6-48dd-98e3-06309ee3ca6c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T12:57:07.303744Z","dhcp_enabled":true,"id":"f3f55a63-bae6-4771-a8a9-be93065b26de","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T12:57:07.303744Z","id":"907d2411-6135-4ac6-9dcd-d211a4730ad9","subnet":"172.16.120.0/22","updated_at":"2023-12-18T12:57:07.303744Z"},{"created_at":"2023-12-18T12:57:07.303744Z","id":"1c9c864a-73a6-4329-8b8b-f53ef43463ec","subnet":"fd5f:519c:6d46:3996::/64","updated_at":"2023-12-18T12:57:07.303744Z"}],"tags":[],"updated_at":"2023-12-18T12:57:07.303744Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/f3f55a63-bae6-4771-a8a9-be93065b26de
    method: GET
  response:
    body: '{"created_at":"2023-12-18T12:57:07.303744Z","dhcp_enabled":true,"id":"f3f55a63-bae6-4771-a8a9-be93065b26de","name":"test-rdb-rr-different-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T12:57:07.303744Z","id":"907d2411-6135-4ac6-9dcd-d211a4730ad9","subnet":"172.16.120.0/22","updated_at":"2023-12-18T12:57:07.303744Z"},{"created_at":"2023-12-18T12:57:07.303744Z","id":"1c9c864a-73a6-4329-8b8b-f53ef43463ec","subnet":"fd5f:519c:6d46:3996::/64","updated_at":"2023-12-18T12:57:07.303744Z"}],"tags":[],"updated_at":"2023-12-18T12:57:07.303744Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8db0fff4-e3a6-48dd-98e3-06309ee3ca6c
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.510135Z","endpoint":{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"8db0fff4-e3a6-48dd-98e3-06309ee3ca6c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8db0fff4-e3a6-48dd-98e3-06309ee3ca6c
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T12:57:07.510135Z","endpoint":{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","ip":"51.159.74.238","load_balancer":{},"name":null,"port":12170},"endpoints":[{"id":"f4caeff4-26e1-495b-a5bc-b39ff281c57e","ip":"51.159.74.238","load_balancer":{},"name":null,"port":12170}],"engine":"PostgreSQL-14","id":"8db0fff4-e3a6-48dd-98e3-06309ee3ca6c","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8db0fff4-e3a6-48dd-98e3-06309ee3ca6c/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVSm0xMUZZU0p2dVU2S2RUUzBmQlEyd0t2bFJVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzQzTkM0eU16Z3dIaGNOCk1qTXhNakU0TVRJMU9UTXlXaGNOTXpNeE1qRTFNVEkxT1RNeVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=8db0fff4-e3a6-48dd-98e3-06309ee3ca6c&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"8db0fff4-e3a6-48dd-98e3-06309ee3ca6c","endpoint_spec":[{"private_network":{"private_network_id":"f3f55a63-bae6-4771-a8a9-be93065b26de","ipam_config":{}}}],"same_zone":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"11c20222-c931-4f10-9b1b-dda4e39101d8","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"f3f55a63-bae6-4771-a8a9-be93065b26de","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"id":"b61d5d36-332b-4004-be7d-5b3e1fb79564","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b61d5d36-332b-4004-be7d-5b3e1fb79564
    method: GET
  response:
    body: '{"endpoints":[{"id":"11c20222-c931-4f10-9b1b-dda4e39101d8","ip":"172.16.120.2","name":null,"port":5432,"private_network":{"private_network_id":"f3f55a63-bae6-4771-a8a9-be93065b26de","service_ip":"172.16.120.2/22","zone":"fr-par-1"}}],"id":"b61d5d36-332b-4004-be7d-5b3e1fb79564","region":"fr-par","same_zone":false,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=8db0fff4-e3a6-48dd-98e3-06309ee3ca6c&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.120.2/22","created_at":"2023-12-18T13:00:10.348439Z","id":"83bf4d18-5d72-40e7-8edc-d02fe9d8facf","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"8db0fff4-e3a6-48dd-98e3-06309ee3ca6c","mac_address":"02:00:00:23:98:5D","name":"read-replica-b61d5d36","type":"rdb_instance"},"source":{"subnet_id":"907d2411-6135-4ac6-9dcd-d211a4730ad9"},"tags":["managed","scwdbaas"],"updated_at":"2023-12-18T13:02:31.393200Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b61d5d36-332b-4004-be7d-5b3e1fb79564
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"b61d5d36-332b-4004-be7d-5b3e1fb79564","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
