---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-09T17:25:12.122414Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"eb61a878-74f8-43b8-aa44-9188ce166e30","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eb61a878-74f8-43b8-aa44-9188ce166e30
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-09T17:25:12.122414Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-14","id":"eb61a878-74f8-43b8-aa44-9188ce166e30","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-09T17:25:11.698727Z","dhcp_enabled":true,"id":"59a06b4b-913c-4680-9be4-4be8477ab22e","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-09T17:25:11.698727Z","id":"19f74986-42c3-461c-975e-1f064e490e03","subnet":"172.16.8.0/22","updated_at":"2024-01-09T17:25:11.698727Z"},{"created_at":"2024-01-09T17:25:11.698727Z","id":"aad6dd29-b45a-40e0-b0c1-ec2dbed93b72","subnet":"fd63:256c:45f7:45fd::/64","updated_at":"2024-01-09T17:25:11.698727Z"}],"tags":[],"updated_at":"2024-01-09T17:25:11.698727Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/59a06b4b-913c-4680-9be4-4be8477ab22e
    method: GET
  response:
    body: '{"created_at":"2024-01-09T17:25:11.698727Z","dhcp_enabled":true,"id":"59a06b4b-913c-4680-9be4-4be8477ab22e","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-01-09T17:25:11.698727Z","id":"19f74986-42c3-461c-975e-1f064e490e03","subnet":"172.16.8.0/22","updated_at":"2024-01-09T17:25:11.698727Z"},{"created_at":"2024-01-09T17:25:11.698727Z","id":"aad6dd29-b45a-40e0-b0c1-ec2dbed93b72","subnet":"fd63:256c:45f7:45fd::/64","updated_at":"2024-01-09T17:25:11.698727Z"}],"tags":[],"updated_at":"2024-01-09T17:25:11.698727Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eb61a878-74f8-43b8-aa44-9188ce166e30
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-01-09T17:25:12.122414Z","endpoint":{"id":"639b8347-0ecf-4796-93dd-8df941b75f17","ip":"51.159.24.190","load_balancer":{},"name":null,"port":3929},"endpoints":[{"id":"639b8347-0ecf-4796-93dd-8df941b75f17","ip":"51.159.24.190","load_balancer":{},"name":null,"port":3929}],"engine":"PostgreSQL-14","id":"eb61a878-74f8-43b8-aa44-9188ce166e30","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/eb61a878-74f8-43b8-aa44-9188ce166e30/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQvRENDQXVTZ0F3SUJBZ0lVWU1pMk53dXBxMkV1V3l4cXdGRHFPVVBkM24wd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5TkM0eE9UQXdIaGNOCk1qUXdNVEE1TVRjeU56VTJXaGNOTXpRd01UQTJNVGN5TnpVMldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=eb61a878-74f8-43b8-aa44-9188ce166e30&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"eb61a878-74f8-43b8-aa44-9188ce166e30","endpoint_spec":[{"private_network":{"private_network_id":"59a06b4b-913c-4680-9be4-4be8477ab22e","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"63d8e4ed-781b-4b6d-bc4c-eb5138794c03","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"59a06b4b-913c-4680-9be4-4be8477ab22e","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}],"id":"606c6c28-0fd9-47f3-8029-bfc6749986d4","instance_id":"eb61a878-74f8-43b8-aa44-9188ce166e30","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/606c6c28-0fd9-47f3-8029-bfc6749986d4
    method: GET
  response:
    body: '{"endpoints":[{"id":"63d8e4ed-781b-4b6d-bc4c-eb5138794c03","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"59a06b4b-913c-4680-9be4-4be8477ab22e","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}],"id":"606c6c28-0fd9-47f3-8029-bfc6749986d4","instance_id":"eb61a878-74f8-43b8-aa44-9188ce166e30","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=eb61a878-74f8-43b8-aa44-9188ce166e30&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.8.2/22","created_at":"2024-01-09T17:28:14.695296Z","id":"8bc745bc-d79c-4666-b9f1-cf804080c8e8","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"eb61a878-74f8-43b8-aa44-9188ce166e30","mac_address":"02:00:00:16:88:DC","name":"read-replica-606c6c28","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"19f74986-42c3-461c-975e-1f064e490e03"},"tags":["managed","scwdbaas"],"updated_at":"2024-01-09T17:28:51.645204Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/606c6c28-0fd9-47f3-8029-bfc6749986d4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"606c6c28-0fd9-47f3-8029-bfc6749986d4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
