---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a9ef2535-48b3-43db-97e4-236df60ef7d4","name":"my_private_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-17T11:40:02.860206Z","updated_at":"2021-11-17T11:40:02.860206Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a9ef2535-48b3-43db-97e4-236df60ef7d4
    method: GET
  response:
    body: '{"id":"a9ef2535-48b3-43db-97e4-236df60ef7d4","name":"my_private_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-11-17T11:40:02.860206Z","updated_at":"2021-11-17T11:40:02.860206Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"a9ef2535-48b3-43db-97e4-236df60ef7d4","service_ip":"192.168.1.42/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"ce3f8a02-12ee-4692-bf67-2ad0a72d92a4","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"e276ba53-24c6-47ef-9751-3f205468c9d6","private_network":{"private_network_id":"a9ef2535-48b3-43db-97e4-236df60ef7d4","service_ip":"192.168.1.42/24","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-17T11:40:04.577680Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ce3f8a02-12ee-4692-bf67-2ad0a72d92a4
    method: GET
  response:
    body: '{"id":"ce3f8a02-12ee-4692-bf67-2ad0a72d92a4","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"e276ba53-24c6-47ef-9751-3f205468c9d6","private_network":{"private_network_id":"a9ef2535-48b3-43db-97e4-236df60ef7d4","service_ip":"192.168.1.42/24","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-17T11:40:04.577680Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ce3f8a02-12ee-4692-bf67-2ad0a72d92a4
    method: GET
  response:
    body: '{"id":"ce3f8a02-12ee-4692-bf67-2ad0a72d92a4","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.159.10.229","port":35058,"name":null,"id":"769dd197-d5ae-4201-add3-be3bdef8cee9","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.159.10.229","port":35058,"name":null,"id":"769dd197-d5ae-4201-add3-be3bdef8cee9","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"e276ba53-24c6-47ef-9751-3f205468c9d6","private_network":{"private_network_id":"a9ef2535-48b3-43db-97e4-236df60ef7d4","service_ip":"192.168.1.42/24","zone":"fr-par-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-17T11:40:04.577680Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ce3f8a02-12ee-4692-bf67-2ad0a72d92a4/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVSkdxM1NhdTB3NC9nVVE2NGJxYkVxTnQ1Q3gwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWpaVE5tT0dFd01pMHhNbVZsCkxUUTJPVEl0WW1ZMk55MHlZV1F3WVRjeVpEa3lZVFF1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1URTNNVEUwTVRNMldoY05NekV4TVRFMU1URTBNVE0yV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":"test-rdb-updated","tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ce3f8a02-12ee-4692-bf67-2ad0a72d92a4
    method: PATCH
  response:
    body: '{"id":"ce3f8a02-12ee-4692-bf67-2ad0a72d92a4","name":"test-rdb-updated","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"ready","engine":"PostgreSQL-11"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/e276ba53-24c6-47ef-9751-3f205468c9d6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"53d0c26d-f236-4417-bc46-56f3c8b8f13d","service_ip":"192.168.1.43/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ce3f8a02-12ee-4692-bf67-2ad0a72d92a4/endpoints
    method: POST
  response:
    body: '{"ip":"192.168.1.43","port":5432,"name":null,"id":"1a11f253-904d-49cb-86b6-a4c6eddce10e","private_network":{"private_network_id":"53d0c26d-f236-4417-bc46-56f3c8b8f13d","service_ip":"192.168.1.43/24","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/ce3f8a02-12ee-4692-bf67-2ad0a72d92a4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"ce3f8a02-12ee-4692-bf67-2ad0a72d92a4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
