---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"64fd92cc-e10c-4089-a33b-e8e6ac1cfdfc","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:13:18.081377Z","updated_at":"2022-06-14T13:13:18.081377Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/64fd92cc-e10c-4089-a33b-e8e6ac1cfdfc
    method: GET
  response:
    body: '{"id":"64fd92cc-e10c-4089-a33b-e8e6ac1cfdfc","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:13:18.081377Z","updated_at":"2022-06-14T13:13:18.081377Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"64fd92cc-e10c-4089-a33b-e8e6ac1cfdfc","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"0d5741d2-d312-4c73-b018-025907ab9d2c","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"4c6ada40-8b1e-47fd-adbb-c58cf356a5da","private_network":{"private_network_id":"64fd92cc-e10c-4089-a33b-e8e6ac1cfdfc","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-14T13:13:18.978562Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0d5741d2-d312-4c73-b018-025907ab9d2c
    method: GET
  response:
    body: '{"id":"0d5741d2-d312-4c73-b018-025907ab9d2c","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"4c6ada40-8b1e-47fd-adbb-c58cf356a5da","private_network":{"private_network_id":"64fd92cc-e10c-4089-a33b-e8e6ac1cfdfc","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-14T13:13:18.978562Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0d5741d2-d312-4c73-b018-025907ab9d2c
    method: GET
  response:
    body: '{"id":"0d5741d2-d312-4c73-b018-025907ab9d2c","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.129.49","port":13558,"name":null,"id":"6e252ab3-e1ca-4e5a-a45e-25a4b06d8974","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.129.49","port":13558,"name":null,"id":"6e252ab3-e1ca-4e5a-a45e-25a4b06d8974","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"4c6ada40-8b1e-47fd-adbb-c58cf356a5da","private_network":{"private_network_id":"64fd92cc-e10c-4089-a33b-e8e6ac1cfdfc","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-14T13:13:18.978562Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0d5741d2-d312-4c73-b018-025907ab9d2c/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVV0NHbVhKNWVwdWNrdHNoZzhyWWVubGd6V3Qwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHdaRFUzTkRGa01pMWtNekV5CkxUUmpOek10WWpBeE9DMHdNalU1TURkaFlqbGtNbU11Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05qRTBNVE14TlRBNVdoY05Nekl3TmpFeE1UTXhOVEE1V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0d5741d2-d312-4c73-b018-025907ab9d2c
    method: PATCH
  response:
    body: '{"id":"0d5741d2-d312-4c73-b018-025907ab9d2c","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/4c6ada40-8b1e-47fd-adbb-c58cf356a5da
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"49a3901d-b83f-46e2-af73-dbf9eabee3df","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/0d5741d2-d312-4c73-b018-025907ab9d2c/endpoints
    method: POST
  response:
    body: '{"ip":"192.168.1.254","port":5432,"name":null,"id":"4bb02610-fca3-449d-a6ca-2100be06ae76","private_network":{"private_network_id":"49a3901d-b83f-46e2-af73-dbf9eabee3df","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"65d24582-5b46-4487-a978-3559363bd2ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:57.733888Z","updated_at":"2022-06-14T13:18:57.733888Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/65d24582-5b46-4487-a978-3559363bd2ca
    method: GET
  response:
    body: '{"id":"65d24582-5b46-4487-a978-3559363bd2ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:57.733888Z","updated_at":"2022-06-14T13:18:57.733888Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"6f7b9cb4-431f-48e8-8869-d45a564e1171","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:58.222778Z","updated_at":"2022-06-14T13:18:58.222778Z","tags":[],"address":"51.158.186.122","reverse":"122-186-158-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/6f7b9cb4-431f-48e8-8869-d45a564e1171
    method: GET
  response:
    body: '{"id":"6f7b9cb4-431f-48e8-8869-d45a564e1171","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:58.222778Z","updated_at":"2022-06-14T13:18:58.222778Z","tags":[],"address":"51.158.186.122","reverse":"122-186-158-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"6f7b9cb4-431f-48e8-8869-d45a564e1171","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:58.767011Z","updated_at":"2022-06-14T13:18:58.767011Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6f7b9cb4-431f-48e8-8869-d45a564e1171","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:58.222778Z","updated_at":"2022-06-14T13:18:58.222778Z","tags":[],"address":"51.158.186.122","reverse":"122-186-158-51.instances.scw.cloud","gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/a9e72ddf-25dc-4800-9cc7-d4508425a830
    method: GET
  response:
    body: '{"id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:58.767011Z","updated_at":"2022-06-14T13:18:58.767011Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6f7b9cb4-431f-48e8-8869-d45a564e1171","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:58.222778Z","updated_at":"2022-06-14T13:18:58.222778Z","tags":[],"address":"51.158.186.122","reverse":"122-186-158-51.instances.scw.cloud","gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","private_network_id":"49a3901d-b83f-46e2-af73-dbf9eabee3df","enable_masquerade":true,"dhcp_id":"65d24582-5b46-4487-a978-3559363bd2ca","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"a31f75ff-5298-4a6d-87d6-db07749c1527","created_at":"2022-06-14T13:19:04.251377Z","updated_at":"2022-06-14T13:19:04.251377Z","gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","private_network_id":"49a3901d-b83f-46e2-af73-dbf9eabee3df","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"65d24582-5b46-4487-a978-3559363bd2ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:57.733888Z","updated_at":"2022-06-14T13:18:57.733888Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a31f75ff-5298-4a6d-87d6-db07749c1527
    method: GET
  response:
    body: '{"id":"a31f75ff-5298-4a6d-87d6-db07749c1527","created_at":"2022-06-14T13:19:04.251377Z","updated_at":"2022-06-14T13:19:10.590821Z","gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","private_network_id":"49a3901d-b83f-46e2-af73-dbf9eabee3df","mac_address":"02:00:00:00:ae:5d","enable_masquerade":true,"status":"ready","dhcp":{"id":"65d24582-5b46-4487-a978-3559363bd2ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-06-14T13:18:57.733888Z","updated_at":"2022-06-14T13:18:57.733888Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"50960914-72ff-4d47-8405-8c85e456cfea","gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","created_at":"2022-06-14T13:19:15.599775Z","updated_at":"2022-06-14T13:19:15.599775Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/50960914-72ff-4d47-8405-8c85e456cfea
    method: GET
  response:
    body: '{"id":"50960914-72ff-4d47-8405-8c85e456cfea","gateway_id":"a9e72ddf-25dc-4800-9cc7-d4508425a830","created_at":"2022-06-14T13:19:15.599775Z","updated_at":"2022-06-14T13:19:15.599775Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a31f75ff-5298-4a6d-87d6-db07749c1527?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/a31f75ff-5298-4a6d-87d6-db07749c1527
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"a31f75ff-5298-4a6d-87d6-db07749c1527","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/a9e72ddf-25dc-4800-9cc7-d4508425a830?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/49a3901d-b83f-46e2-af73-dbf9eabee3df
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
