---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":["tag0","tag1","rdb_pn"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"5b522262-9e38-4077-bd1c-a4ea65928fad","name":"my_private_network","tags":["tag0","tag1","rdb_pn"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-26T10:05:45.743890Z","updated_at":"2021-10-26T10:05:45.743890Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/5b522262-9e38-4077-bd1c-a4ea65928fad
    method: GET
  response:
    body: '{"id":"5b522262-9e38-4077-bd1c-a4ea65928fad","name":"my_private_network","tags":["tag0","tag1","rdb_pn"],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-26T10:05:45.743890Z","updated_at":"2021-10-26T10:05:45.743890Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"5b522262-9e38-4077-bd1c-a4ea65928fad","service_ip":"192.168.1.42/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"099ba389-1c59-4fce-9895-175db45fd71e","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"3c6734a7-9967-497f-be63-633e61eca8e9","private_network":{"private_network_id":"5b522262-9e38-4077-bd1c-a4ea65928fad","service_ip":"192.168.1.42/24"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-26T10:05:47.839074Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/099ba389-1c59-4fce-9895-175db45fd71e
    method: GET
  response:
    body: '{"id":"099ba389-1c59-4fce-9895-175db45fd71e","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"3c6734a7-9967-497f-be63-633e61eca8e9","private_network":{"private_network_id":"5b522262-9e38-4077-bd1c-a4ea65928fad","service_ip":"192.168.1.42/24"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-26T10:05:47.839074Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/099ba389-1c59-4fce-9895-175db45fd71e
    method: GET
  response:
    body: '{"id":"099ba389-1c59-4fce-9895-175db45fd71e","name":"test-rdb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.159.11.20","port":48742,"name":null,"id":"e6d1b355-d98f-4044-9a25-c75337b83bd3","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.159.11.20","port":48742,"name":null,"id":"e6d1b355-d98f-4044-9a25-c75337b83bd3","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"3c6734a7-9967-497f-be63-633e61eca8e9","private_network":{"private_network_id":"5b522262-9e38-4077-bd1c-a4ea65928fad","service_ip":"192.168.1.42/24"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-10-26T10:05:47.839074Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/099ba389-1c59-4fce-9895-175db45fd71e/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVWmxiREpCSldSWEc4QmovaWZOOUc2bVExejZjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHdPVGxpWVRNNE9TMHhZelU1CkxUUm1ZMlV0T1RnNU5TMHhOelZrWWpRMVptUTNNV1V1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1ESTJNVEF3TnpFeldoY05NekV4TURJME1UQXdOekV6V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/099ba389-1c59-4fce-9895-175db45fd71e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"099ba389-1c59-4fce-9895-175db45fd71e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
