---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":true,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.058941Z","updated_at":"2022-01-27T15:54:09.058941Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"3aab9221-60c8-416a-9c4a-904a75277536","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.489560Z","updated_at":"2022-01-27T15:54:09.489560Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips/3aab9221-60c8-416a-9c4a-904a75277536
    method: GET
  response:
    body: '{"id":"3aab9221-60c8-416a-9c4a-904a75277536","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.489560Z","updated_at":"2022-01-27T15:54:09.489560Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6
    method: GET
  response:
    body: '{"id":"d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.058941Z","updated_at":"2022-01-27T15:54:09.058941Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"3aab9221-60c8-416a-9c4a-904a75277536"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.937350Z","updated_at":"2022-01-27T15:54:09.937350Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"3aab9221-60c8-416a-9c4a-904a75277536","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.489560Z","updated_at":"2022-01-27T15:54:09.489560Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/f9f470c3-91b4-4986-b4d2-1ddf3dea5af2
    method: GET
  response:
    body: '{"id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.937350Z","updated_at":"2022-01-27T15:54:09.997309Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"3aab9221-60c8-416a-9c4a-904a75277536","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.489560Z","updated_at":"2022-01-27T15:54:09.489560Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/e4c2e52f-093c-41c7-b6a3-1a05dd82aafe
    method: GET
  response:
    body: '{"id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:11.686772Z","updated_at":"2022-01-27T15:54:11.686772Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"c6566eac-322f-42df-a6b0-53049081a8b3","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"72a0169a-ea52-405e-b308-a5058a7d3ec6","private_network":{"private_network_id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-01-27T15:54:12.136842Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c6566eac-322f-42df-a6b0-53049081a8b3
    method: GET
  response:
    body: '{"id":"c6566eac-322f-42df-a6b0-53049081a8b3","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"72a0169a-ea52-405e-b308-a5058a7d3ec6","private_network":{"private_network_id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-01-27T15:54:12.136842Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","private_network_id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","enable_masquerade":true,"dhcp_id":"d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"fd2f24b3-f811-4686-b766-ce91970c1c76","created_at":"2022-01-27T15:56:10.995215Z","updated_at":"2022-01-27T15:56:10.995215Z","gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","private_network_id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.058941Z","updated_at":"2022-01-27T15:54:09.058941Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c6566eac-322f-42df-a6b0-53049081a8b3
    method: GET
  response:
    body: '{"id":"c6566eac-322f-42df-a6b0-53049081a8b3","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.130.102","port":24273,"name":null,"id":"85826e57-f8dd-4141-bcaa-05608b0f6076","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.130.102","port":24273,"name":null,"id":"85826e57-f8dd-4141-bcaa-05608b0f6076","load_balancer":{}},{"ip":"192.168.1.254","port":5432,"name":null,"id":"72a0169a-ea52-405e-b308-a5058a7d3ec6","private_network":{"private_network_id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-01-27T15:54:12.136842Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/c6566eac-322f-42df-a6b0-53049081a8b3/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVZGFPTWI3RGt2ekNEVWMwY0l2Q1BrdW9PdVRVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWpOalUyTm1WaFl5MHpNakptCkxUUXlaR1l0WVRaaU1DMDFNekEwT1RBNE1XRTRZak11Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd01USTNNVFUxTlRNMldoY05Nekl3TVRJMU1UVTFOVE0yV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/fd2f24b3-f811-4686-b766-ce91970c1c76
    method: GET
  response:
    body: '{"id":"fd2f24b3-f811-4686-b766-ce91970c1c76","created_at":"2022-01-27T15:56:10.995215Z","updated_at":"2022-01-27T15:56:17.464533Z","gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","private_network_id":"e4c2e52f-093c-41c7-b6a3-1a05dd82aafe","mac_address":"02:00:00:00:75:62","enable_masquerade":true,"status":"ready","dhcp":{"id":"d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T15:54:09.058941Z","updated_at":"2022-01-27T15:54:09.058941Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"9a3c56d6-6a71-4dc0-8842-df4173555179","gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","created_at":"2022-01-27T15:58:12.345067Z","updated_at":"2022-01-27T15:58:12.345067Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules/9a3c56d6-6a71-4dc0-8842-df4173555179
    method: GET
  response:
    body: '{"id":"9a3c56d6-6a71-4dc0-8842-df4173555179","gateway_id":"f9f470c3-91b4-4986-b4d2-1ddf3dea5af2","created_at":"2022-01-27T15:58:12.345067Z","updated_at":"2022-01-27T15:58:12.345067Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/fd2f24b3-f811-4686-b766-ce91970c1c76?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"d0e0bc8b-8dca-4c71-8a3a-7f25f10859c6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/f9f470c3-91b4-4986-b4d2-1ddf3dea5af2?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/e4c2e52f-093c-41c7-b6a3-1a05dd82aafe
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
