---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T15:56:14.664884Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"07a9fb08-8032-42d5-9e33-9f2f45e0fb05","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07a9fb08-8032-42d5-9e33-9f2f45e0fb05
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T15:56:14.664884Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"07a9fb08-8032-42d5-9e33-9f2f45e0fb05","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07a9fb08-8032-42d5-9e33-9f2f45e0fb05
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T15:56:14.664884Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"07a9fb08-8032-42d5-9e33-9f2f45e0fb05","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07a9fb08-8032-42d5-9e33-9f2f45e0fb05
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-16T15:56:14.664884Z","endpoint":{"id":"547a2e7d-659f-473d-b7df-4c7fe1807e9b","ip":"51.159.74.238","load_balancer":{},"name":null,"port":1200},"endpoints":[{"id":"547a2e7d-659f-473d-b7df-4c7fe1807e9b","ip":"51.159.74.238","load_balancer":{},"name":null,"port":1200}],"engine":"PostgreSQL-15","id":"07a9fb08-8032-42d5-9e33-9f2f45e0fb05","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-update","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/07a9fb08-8032-42d5-9e33-9f2f45e0fb05/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVQ2JvYzNtN090Z0pFQ1dCZ2ZCWjdhMFFrK0hVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzQzTkM0eU16Z3dIaGNOCk1qTXhNVEUyTVRVMU9USTNXaGNOTXpNeE1URXpNVFUxT1RJM1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"07a9fb08-8032-42d5-9e33-9f2f45e0fb05","endpoint_spec":[{"direct_access":{}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[],"id":"a3e50466-c3ae-4740-bd1c-4b9eb867a185","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/a3e50466-c3ae-4740-bd1c-4b9eb867a185
    method: GET
  response:
    body: '{"endpoints":[],"id":"a3e50466-c3ae-4740-bd1c-4b9eb867a185","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-festive-cartwright","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:02:25.982616Z","dhcp_enabled":true,"id":"bfebdb2b-0553-4fa0-a15f-2b233aa0915e","name":"tf-pn-festive-cartwright","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:02:25.982616Z","id":"ec2e8f3d-e18c-4b00-9461-07deae8f57b8","subnet":"172.16.40.0/22","updated_at":"2023-11-16T16:02:25.982616Z"},{"created_at":"2023-11-16T16:02:25.982616Z","id":"0f154a4b-7dc7-4fb3-8128-b1be12b6b7b7","subnet":"fd63:256c:45f7:f2a9::/64","updated_at":"2023-11-16T16:02:25.982616Z"}],"tags":[],"updated_at":"2023-11-16T16:02:25.982616Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bfebdb2b-0553-4fa0-a15f-2b233aa0915e
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:02:25.982616Z","dhcp_enabled":true,"id":"bfebdb2b-0553-4fa0-a15f-2b233aa0915e","name":"tf-pn-festive-cartwright","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:02:25.982616Z","id":"ec2e8f3d-e18c-4b00-9461-07deae8f57b8","subnet":"172.16.40.0/22","updated_at":"2023-11-16T16:02:25.982616Z"},{"created_at":"2023-11-16T16:02:25.982616Z","id":"0f154a4b-7dc7-4fb3-8128-b1be12b6b7b7","subnet":"fd63:256c:45f7:f2a9::/64","updated_at":"2023-11-16T16:02:25.982616Z"}],"tags":[],"updated_at":"2023-11-16T16:02:25.982616Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/be829f55-f328-4503-831a-2fadd8d7ae2a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"bfebdb2b-0553-4fa0-a15f-2b233aa0915e","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/a3e50466-c3ae-4740-bd1c-4b9eb867a185/endpoints
    method: POST
  response:
    body: '{"endpoints":[{"id":"0d2494ff-bf27-4875-95fc-3bc068b06409","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"bfebdb2b-0553-4fa0-a15f-2b233aa0915e","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"a3e50466-c3ae-4740-bd1c-4b9eb867a185","region":"fr-par","same_zone":true,"status":"initializing"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/a3e50466-c3ae-4740-bd1c-4b9eb867a185
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"a3e50466-c3ae-4740-bd1c-4b9eb867a185","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
