---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T16:02:36.282773Z","dhcp_enabled":true,"id":"00224fac-6e27-4cce-b116-a57161979766","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T16:02:36.282773Z","id":"937b0e0f-a128-4446-873c-ec3d8603c914","subnet":"172.16.8.0/22","updated_at":"2023-10-20T16:02:36.282773Z"},{"created_at":"2023-10-20T16:02:36.282773Z","id":"1ccc70b4-3179-47b2-be11-e3b5d102fd2a","subnet":"fd63:256c:45f7:36ec::/64","updated_at":"2023-10-20T16:02:36.282773Z"}],"tags":[],"updated_at":"2023-10-20T16:02:36.282773Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/00224fac-6e27-4cce-b116-a57161979766
    method: GET
  response:
    body: '{"created_at":"2023-10-20T16:02:36.282773Z","dhcp_enabled":true,"id":"00224fac-6e27-4cce-b116-a57161979766","name":"my_private_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T16:02:36.282773Z","id":"937b0e0f-a128-4446-873c-ec3d8603c914","subnet":"172.16.8.0/22","updated_at":"2023-10-20T16:02:36.282773Z"},{"created_at":"2023-10-20T16:02:36.282773Z","id":"1ccc70b4-3179-47b2-be11-e3b5d102fd2a","subnet":"fd63:256c:45f7:36ec::/64","updated_at":"2023-10-20T16:02:36.282773Z"}],"tags":[],"updated_at":"2023-10-20T16:02:36.282773Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"00224fac-6e27-4cce-b116-a57161979766","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:02:39.160629Z","endpoint":null,"endpoints":[{"id":"3102cad1-1c0b-435e-ab40-c935a00cbcbc","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"00224fac-6e27-4cce-b116-a57161979766","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"97aca5e5-7396-433f-b5b2-71a58746b602","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/97aca5e5-7396-433f-b5b2-71a58746b602
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:02:39.160629Z","endpoint":null,"endpoints":[{"id":"3102cad1-1c0b-435e-ab40-c935a00cbcbc","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"00224fac-6e27-4cce-b116-a57161979766","service_ip":"172.16.8.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"97aca5e5-7396-433f-b5b2-71a58746b602","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/97aca5e5-7396-433f-b5b2-71a58746b602
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:02:39.160629Z","endpoint":{"id":"219f27a0-a7aa-440e-8c1f-c441e948c1ef","ip":"51.158.59.14","load_balancer":{},"name":null,"port":23819},"endpoints":[{"id":"3102cad1-1c0b-435e-ab40-c935a00cbcbc","ip":"172.16.8.2","name":null,"port":5432,"private_network":{"private_network_id":"00224fac-6e27-4cce-b116-a57161979766","service_ip":"172.16.8.2/22","zone":"fr-par-1"}},{"id":"219f27a0-a7aa-440e-8c1f-c441e948c1ef","ip":"51.158.59.14","load_balancer":{},"name":null,"port":23819}],"engine":"PostgreSQL-15","id":"97aca5e5-7396-433f-b5b2-71a58746b602","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/97aca5e5-7396-433f-b5b2-71a58746b602/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURyekNDQXBlZ0F3SUJBZ0lVT2I0OVIzUmwvN3NmMkp5M3BFeHp4UUF0K2trd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RXpBUkJnTlZCQU1NQ2pFM01pNHhOaTQ0TGpJd0hoY05Nak14Ck1ESXdNVFl3TXpReldoY05Nek14TURFM01UWXdNelF6V2pCVk1Rc3dDUVlEVlFRR0V3SkdVakVPTUF3R0ExVUUKQ0F3RlVHRnlhWE14RGpBTUJnTlZCQWNNQlZCaGNtbHpNUkV3RHdZRFZRUUtEQWhUWTJGc1pYZGhlVEVUTUJFRwpBMVVFQXd3S01UY3lMakUyTGpndU1[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null,"backup_schedule_start_hour":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/97aca5e5-7396-433f-b5b2-71a58746b602
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T16:02:39.160629Z","endpoint":{"id":"219f27a0-a7aa-440e-8c1f-c441e948c1ef","ip":"51.158.59.14","load_balancer":{},"name":null,"port":23819},"e[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/3102cad1-1c0b-435e-ab40-c935a00cbcbc
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"00224fac-6e27-4cce-b116-a57161979766","service_ip":"172.16.8.4/22"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/97aca5e5-7396-433f-b5b2-71a58746b602/endpoints
    method: POST
  response:
    body: '{"id":"97f15dca-b6ea-45f5-af91-8928e11d7ac3","ip":"172.16.8.4","name":null,"port":5432,"private_network":{"private_network_id":"00224fac-6e27-4cce-b116-a57161979766","service_ip":"172.16.8.4/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/97aca5e5-7396-433f-b5b2-71a58746b602
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"97aca5e5-7396-433f-b5b2-71a58746b602","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
