---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-21T16:12:13.554055Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"86935912-ad61-44bc-a510-a7cfa6761fd4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:12:13.554055Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/86935912-ad61-44bc-a510-a7cfa6761fd4
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-11-21T16:12:13.554055Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"86935912-ad61-44bc-a510-a7cfa6761fd4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:12:13.554055Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-21T16:12:13.562888Z","dhcp_enabled":true,"id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-11-21T16:12:13.562888Z","id":"39d579a9-a48a-4bb3-991f-5819eb09ac43","subnet":"172.16.4.0/22","updated_at":"2023-11-21T16:12:13.562888Z"},{"created_at":"2023-11-21T16:12:13.562888Z","id":"6a282a47-3647-4e0d-87d4-c7489e1f3748","subnet":"fd5c:d510:d730:4345::/64","updated_at":"2023-11-21T16:12:13.562888Z"}],"tags":[],"updated_at":"2023-11-21T16:12:13.562888Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/3ebe3d56-511d-4433-96ad-e2e9a1be47b0
    method: GET
  response:
    body: '{"created_at":"2023-11-21T16:12:13.562888Z","dhcp_enabled":true,"id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-11-21T16:12:13.562888Z","id":"39d579a9-a48a-4bb3-991f-5819eb09ac43","subnet":"172.16.4.0/22","updated_at":"2023-11-21T16:12:13.562888Z"},{"created_at":"2023-11-21T16:12:13.562888Z","id":"6a282a47-3647-4e0d-87d4-c7489e1f3748","subnet":"fd5c:d510:d730:4345::/64","updated_at":"2023-11-21T16:12:13.562888Z"}],"tags":[],"updated_at":"2023-11-21T16:12:13.562888Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.97.12","created_at":"2023-11-21T16:12:14.169305Z","gateway_id":null,"id":"49db43d1-fd61-4b7d-ae9f-512a482a252b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"12-97-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:12:14.169305Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/49db43d1-fd61-4b7d-ae9f-512a482a252b
    method: GET
  response:
    body: '{"address":"51.15.97.12","created_at":"2023-11-21T16:12:14.169305Z","gateway_id":null,"id":"49db43d1-fd61-4b7d-ae9f-512a482a252b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"12-97-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:12:14.169305Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"49db43d1-fd61-4b7d-ae9f-512a482a252b","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-21T16:12:14.342515Z","gateway_networks":[],"id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","ip":{"address":"51.15.97.12","created_at":"2023-11-21T16:12:14.169305Z","gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","id":"49db43d1-fd61-4b7d-ae9f-512a482a252b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"12-97-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:12:14.169305Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-21T16:12:14.342515Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/b134f75e-9ae2-4022-b6e2-75ce51d555d2
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-21T16:12:14.342515Z","gateway_networks":[],"id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","ip":{"address":"51.15.97.12","created_at":"2023-11-21T16:12:14.169305Z","gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","id":"49db43d1-fd61-4b7d-ae9f-512a482a252b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"12-97-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-21T16:12:14.169305Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-21T16:12:14.399572Z","upstream_dns_servers":[],"version":"0.6.1","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:12:14.788419Z","endpoint":null,"endpoints":[{"id":"3d31da32-8be4-4f4a-9538-5307fdb8b519","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"8e7834c0-9f5c-4382-9d32-b2a7fcf780b8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8e7834c0-9f5c-4382-9d32-b2a7fcf780b8
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:12:14.788419Z","endpoint":null,"endpoints":[{"id":"3d31da32-8be4-4f4a-9538-5307fdb8b519","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"8e7834c0-9f5c-4382-9d32-b2a7fcf780b8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"86935912-ad61-44bc-a510-a7cfa6761fd4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-11-21T16:12:20.623566Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-21T16:12:13.554055Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"86935912-ad61-44bc-a510-a7cfa6761fd4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:12:13.554055Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","id":"296ce60c-fc64-480e-88d5-21761b047f4f","ipam_config":null,"mac_address":null,"private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","status":"created","updated_at":"2023-11-21T16:12:20.623566Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/296ce60c-fc64-480e-88d5-21761b047f4f
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-11-21T16:12:20.623566Z","dhcp":{"address":"192.168.1.1","created_at":"2023-11-21T16:12:13.554055Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"86935912-ad61-44bc-a510-a7cfa6761fd4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-11-21T16:12:13.554055Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","id":"296ce60c-fc64-480e-88d5-21761b047f4f","ipam_config":null,"mac_address":"02:00:00:11:FB:E6","private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","status":"ready","updated_at":"2023-11-21T16:12:29.791871Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8e7834c0-9f5c-4382-9d32-b2a7fcf780b8
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:12:14.788419Z","endpoint":null,"endpoints":[{"id":"3d31da32-8be4-4f4a-9538-5307fdb8b519","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"8e7834c0-9f5c-4382-9d32-b2a7fcf780b8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8e7834c0-9f5c-4382-9d32-b2a7fcf780b8
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-11-21T16:12:14.788419Z","endpoint":{"id":"20aa8366-3deb-4389-b51c-97b791e31e8a","ip":"51.158.131.191","load_balancer":{},"name":null,"port":8659},"endpoints":[{"id":"3d31da32-8be4-4f4a-9538-5307fdb8b519","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"3ebe3d56-511d-4433-96ad-e2e9a1be47b0","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}},{"id":"20aa8366-3deb-4389-b51c-97b791e31e8a","ip":"51.158.131.191","load_balancer":{},"name":null,"port":8659}],"engine":"PostgreSQL-15","id":"8e7834c0-9f5c-4382-9d32-b2a7fcf780b8","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/8e7834c0-9f5c-4382-9d32-b2a7fcf780b8/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR1akNDQXFLZ0F3SUJBZ0lVYmdleFBYU0dBaHhnenkxTDJ0ZHhHbHZBbXdRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qTXhNVEl4TVRZeE5URXdXaGNOTXpNeE1URTRNVFl4TlRFd1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
[...]
- request:
    body: '{"gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-11-21T16:15:47.658693Z","gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","id":"fc797a64-84fc-4609-85df-7c7ca6a434c3","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-21T16:15:47.658693Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/fc797a64-84fc-4609-85df-7c7ca6a434c3
    method: GET
  response:
    body: '{"created_at":"2023-11-21T16:15:47.658693Z","gateway_id":"b134f75e-9ae2-4022-b6e2-75ce51d555d2","id":"fc797a64-84fc-4609-85df-7c7ca6a434c3","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-11-21T16:15:47.658693Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/296ce60c-fc64-480e-88d5-21761b047f4f?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/3d31da32-8be4-4f4a-9538-5307fdb8b519
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/296ce60c-fc64-480e-88d5-21761b047f4f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"296ce60c-fc64-480e-88d5-21761b047f4f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/b134f75e-9ae2-4022-b6e2-75ce51d555d2?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
