---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"307d8972-9322-4e36-9f55-c371e17dbf16","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.225515Z","updated_at":"2022-04-27T12:04:48.225515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.165575Z","updated_at":"2022-04-27T12:04:48.165575Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/307d8972-9322-4e36-9f55-c371e17dbf16
    method: GET
  response:
    body: '{"id":"307d8972-9322-4e36-9f55-c371e17dbf16","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.225515Z","updated_at":"2022-04-27T12:04:48.225515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/9e718e22-0b95-4374-9f4b-f0ae74d4c410
    method: GET
  response:
    body: '{"id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.165575Z","updated_at":"2022-04-27T12:04:48.165575Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"a43277f0-9089-4758-b269-71390e1503e1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.757218Z","updated_at":"2022-04-27T12:04:48.757218Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/a43277f0-9089-4758-b269-71390e1503e1
    method: GET
  response:
    body: '{"id":"a43277f0-9089-4758-b269-71390e1503e1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.757218Z","updated_at":"2022-04-27T12:04:48.757218Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"23722133-70e9-4551-ad50-0f4e99144814","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"479c0f5b-9902-458a-842f-5f11044499bf","private_network":{"private_network_id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-27T12:04:48.654200Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"a43277f0-9089-4758-b269-71390e1503e1","enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"f849fd6b-ab80-49d6-be19-83755f9e2100","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:49.092094Z","updated_at":"2022-04-27T12:04:49.092094Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"a43277f0-9089-4758-b269-71390e1503e1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.757218Z","updated_at":"2022-04-27T12:04:48.757218Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/f849fd6b-ab80-49d6-be19-83755f9e2100
    method: GET
  response:
    body: '{"id":"f849fd6b-ab80-49d6-be19-83755f9e2100","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:49.092094Z","updated_at":"2022-04-27T12:04:49.143777Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"a43277f0-9089-4758-b269-71390e1503e1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.757218Z","updated_at":"2022-04-27T12:04:48.757218Z","tags":[],"address":"51.15.57.27","reverse":"27-57-15-51.instances.scw.cloud","gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/23722133-70e9-4551-ad50-0f4e99144814
    method: GET
  response:
    body: '{"id":"23722133-70e9-4551-ad50-0f4e99144814","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"479c0f5b-9902-458a-842f-5f11044499bf","private_network":{"private_network_id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-27T12:04:48.654200Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","private_network_id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","enable_masquerade":true,"dhcp_id":"307d8972-9322-4e36-9f55-c371e17dbf16","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"28beb8fe-39da-4f1d-ba50-dab03660e8d6","created_at":"2022-04-27T12:04:54.830360Z","updated_at":"2022-04-27T12:04:54.830360Z","gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","private_network_id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"307d8972-9322-4e36-9f55-c371e17dbf16","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.225515Z","updated_at":"2022-04-27T12:04:48.225515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/28beb8fe-39da-4f1d-ba50-dab03660e8d6
    method: GET
  response:
    body: '{"id":"28beb8fe-39da-4f1d-ba50-dab03660e8d6","created_at":"2022-04-27T12:04:54.830360Z","updated_at":"2022-04-27T12:05:01.650033Z","gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","private_network_id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","mac_address":"02:00:00:00:9a:2b","enable_masquerade":true,"status":"ready","dhcp":{"id":"307d8972-9322-4e36-9f55-c371e17dbf16","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T12:04:48.225515Z","updated_at":"2022-04-27T12:04:48.225515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/23722133-70e9-4551-ad50-0f4e99144814
    method: GET
  response:
    body: '{"id":"23722133-70e9-4551-ad50-0f4e99144814","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.130.90","port":49641,"name":null,"id":"28f796e4-182e-4555-9548-8ceec372f339","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.130.90","port":49641,"name":null,"id":"28f796e4-182e-4555-9548-8ceec372f339","load_balancer":{}},{"ip":"192.168.1.254","port":5432,"name":null,"id":"479c0f5b-9902-458a-842f-5f11044499bf","private_network":{"private_network_id":"9e718e22-0b95-4374-9f4b-f0ae74d4c410","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-27T12:04:48.654200Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/23722133-70e9-4551-ad50-0f4e99144814/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVTDRaK3hpZXFmWHIxNld6eks0MUQycVZxVHRVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHlNemN5TWpFek15MDNNR1U1CkxUUTFOVEV0WVdRMU1DMHdaalJsT1RreE5EUTRNVFF1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05ESTNNVEl3TmpJd1doY05Nekl3TkRJME1USXdOakl3V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"a88caf0e-f2d0-4d95-a2e0-076eaeba03a7","gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","created_at":"2022-04-27T12:08:20.845645Z","updated_at":"2022-04-27T12:08:20.845645Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/a88caf0e-f2d0-4d95-a2e0-076eaeba03a7
    method: GET
  response:
    body: '{"id":"a88caf0e-f2d0-4d95-a2e0-076eaeba03a7","gateway_id":"f849fd6b-ab80-49d6-be19-83755f9e2100","created_at":"2022-04-27T12:08:20.845645Z","updated_at":"2022-04-27T12:08:20.845645Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/28beb8fe-39da-4f1d-ba50-dab03660e8d6?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/28beb8fe-39da-4f1d-ba50-dab03660e8d6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"28beb8fe-39da-4f1d-ba50-dab03660e8d6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/f849fd6b-ab80-49d6-be19-83755f9e2100?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/9e718e22-0b95-4374-9f4b-f0ae74d4c410
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
