---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"bug","engine":"PostgreSQL-13","user_name":"admin","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-m","is_ha_cluster":false,"disable_backup":true,"tags":["bug"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"2b75f234-e1e3-46d7-95cb-0f5df34d67bd","name":"bug","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-13","endpoint":null,"tags":["bug"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-m","volume":{"type":"lssd","size":25000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-16T12:32:06.581487Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd
    method: GET
  response:
    body: '{"id":"2b75f234-e1e3-46d7-95cb-0f5df34d67bd","name":"bug","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-13","endpoint":null,"tags":["bug"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-m","volume":{"type":"lssd","size":25000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-16T12:32:06.581487Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd
    method: GET
  response:
    body: '{"id":"2b75f234-e1e3-46d7-95cb-0f5df34d67bd","name":"bug","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","engine":"PostgreSQL-13","endpoint":{"ip":"51.159.10.227","port":1115,"name":null,"id":"0c1e5893-7565-4cd6-862e-52ad88b5a550","load_balancer":{}},"tags":["bug"],"settings":[{"name":"work_mem","value":"8"},{"name":"max_connections","value":"150"},{"name":"effective_cache_size","value":"2700"},{"name":"maintenance_work_mem","value":"300"},{"name":"max_parallel_workers","value":"1"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-m","volume":{"type":"lssd","size":25000000000},"init_settings":[],"endpoints":[{"ip":"51.159.10.227","port":1115,"name":null,"id":"0c1e5893-7565-4cd6-862e-52ad88b5a550","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-06-16T12:32:06.581487Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVQlZycW1LYnJuTWRVVDBRVGV1WXptZnJpUWJrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHlZamMxWmpJek5DMWxNV1V6CkxUUTJaRGN0T1RWallpMHdaalZrWmpNMFpEWTNZbVF1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05qRTJNVEl6TXpNd1doY05Nekl3TmpFek1USXpNek13V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"name":"bug","password":"thiZ_is_v\u0026ry_s3cret","is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/users
    method: POST
  response:
    body: '{"name":"bug","is_admin":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"bug"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/databases
    method: POST
  response:
    body: '{"name":"bug","owner":"","managed":true,"size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/users?name=bug&order_by=name_asc
    method: GET
  response:
    body: '{"users":[{"name":"bug","is_admin":false}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/databases?name=bug&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"name":"bug","owner":"_rdb_superadmin","managed":true,"size":8065583}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"database_name":"bug","user_name":"bug","permission":"all"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/privileges
    method: PUT
  response:
    body: '{"permission":"all","database_name":"bug","user_name":"bug"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/privileges?database_name=bug&order_by=user_name_asc&user_name=bug
    method: GET
  response:
    body: '{"privileges":[{"permission":"all","database_name":"bug","user_name":"bug"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/users/bug
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd/databases/bug
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2b75f234-e1e3-46d7-95cb-0f5df34d67bd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"2b75f234-e1e3-46d7-95cb-0f5df34d67bd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
