---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:11:10.877701Z","dhcp_enabled":true,"id":"b1140239-acf5-4862-b7df-3e03e16fa170","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:11:10.877701Z","id":"46d2ff0d-8ab5-4290-a59e-020165e3c4e3","subnet":"172.16.32.0/22","updated_at":"2023-12-18T13:11:10.877701Z"},{"created_at":"2023-12-18T13:11:10.877701Z","id":"623968ee-0917-428d-8487-bc9216549ea6","subnet":"fd5f:519c:6d46:1553::/64","updated_at":"2023-12-18T13:11:10.877701Z"}],"tags":[],"updated_at":"2023-12-18T13:11:10.877701Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b1140239-acf5-4862-b7df-3e03e16fa170
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:11:10.877701Z","dhcp_enabled":true,"id":"b1140239-acf5-4862-b7df-3e03e16fa170","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-12-18T13:11:10.877701Z","id":"46d2ff0d-8ab5-4290-a59e-020165e3c4e3","subnet":"172.16.32.0/22","updated_at":"2023-12-18T13:11:10.877701Z"},{"created_at":"2023-12-18T13:11:10.877701Z","id":"623968ee-0917-428d-8487-bc9216549ea6","subnet":"fd5f:519c:6d46:1553::/64","updated_at":"2023-12-18T13:11:10.877701Z"}],"tags":[],"updated_at":"2023-12-18T13:11:10.877701Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-update","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"b1140239-acf5-4862-b7df-3e03e16fa170","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:11:11.963651Z","endpoint":null,"endpoints":[{"id":"da8c6a95-e2f9-497d-9fff-7c94237a17ae","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"b1140239-acf5-4862-b7df-3e03e16fa170","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"aab3574a-aa1a-42bc-a445-a3396cb432b1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/aab3574a-aa1a-42bc-a445-a3396cb432b1
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:11:11.963651Z","endpoint":null,"endpoints":[{"id":"da8c6a95-e2f9-497d-9fff-7c94237a17ae","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"b1140239-acf5-4862-b7df-3e03e16fa170","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"aab3574a-aa1a-42bc-a445-a3396cb432b1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/aab3574a-aa1a-42bc-a445-a3396cb432b1
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:11:11.963651Z","endpoint":null,"endpoints":[{"id":"da8c6a95-e2f9-497d-9fff-7c94237a17ae","ip":"172.16.32.2","name":null,"port":5432,"private_network":{"private_network_id":"b1140239-acf5-4862-b7df-3e03e16fa170","service_ip":"172.16.32.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"aab3574a-aa1a-42bc-a445-a3396cb432b1","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-update","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/aab3574a-aa1a-42bc-a445-a3396cb432b1/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVZmUyaXprWTJQUGVrUm0vSm9SYjBlQnkwckJZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR6TWk0eU1CNFhEVEl6Ck1USXhPREV6TVRJeU4xb1hEVE16TVRJeE5URXpNVEl5TjFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0ek1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=aab3574a-aa1a-42bc-a445-a3396cb432b1&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2023-12-18T13:11:12.333430Z","id":"07b72054-9c99-4864-ad2c-34d33190028d","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"aab3574a-aa1a-42bc-a445-a3396cb432b1","mac_address":"02:00:00:15:AA:10","name":"test-rdb-private-network-update","type":"rdb_instance"},"source":{"subnet_id":"46d2ff0d-8ab5-4290-a59e-020165e3c4e3"},"tags":["managed","scwdbaas"],"updated_at":"2023-12-18T13:11:55.863244Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/da8c6a95-e2f9-497d-9fff-7c94237a17ae
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"e6ef5ef7-0851-4498-a08f-88a7795b9e7e","ipam_config":{}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/aab3574a-aa1a-42bc-a445-a3396cb432b1/endpoints
    method: POST
  response:
    body: '{"id":"8450a676-f697-48d5-bbd3-bd30560a9d02","ip":"172.16.112.2","name":null,"port":5432,"private_network":{"private_network_id":"e6ef5ef7-0851-4498-a08f-88a7795b9e7e","service_ip":"172.16.112.2/22","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/aab3574a-aa1a-42bc-a445-a3396cb432b1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"aab3574a-aa1a-42bc-a445-a3396cb432b1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
