---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"TestAccScalewayRdbDatabaseBackup_Basic","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T15:57:21.612523Z","retention":7},"created_at":"2023-11-16T15:57:21.612523Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"8308017f-f40c-4cf4-8260-50bcbed3ab8e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbDatabaseBackup_Basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8308017f-f40c-4cf4-8260-50bcbed3ab8e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T15:57:21.612523Z","retention":7},"created_at":"2023-11-16T15:57:21.612523Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"8308017f-f40c-4cf4-8260-50bcbed3ab8e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbDatabaseBackup_Basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8308017f-f40c-4cf4-8260-50bcbed3ab8e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T15:57:21.612523Z","retention":7},"created_at":"2023-11-16T15:57:21.612523Z","endpoint":{"id":"17687f8f-d4ba-47d3-a5eb-1f9284b68d91","ip":"195.154.197.0","load_balancer":{},"name":null,"port":18989},"endpoints":[{"id":"17687f8f-d4ba-47d3-a5eb-1f9284b68d91","ip":"195.154.197.0","load_balancer":{},"name":null,"port":18989}],"engine":"PostgreSQL-15","id":"8308017f-f40c-4cf4-8260-50bcbed3ab8e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbDatabaseBackup_Basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8308017f-f40c-4cf4-8260-50bcbed3ab8e
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T15:57:21.612523Z","retention":7},"created_at":"2023-11-16T15:57:21.612523Z","endpoint":{"id":"17687f8f-d4ba-47d3-a5eb-1f9284b68d91","ip":"195.154[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8308017f-f40c-4cf4-8260-50bcbed3ab8e/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVY1ZlWkdQL3QxeEs1TGgrWFlGdUUrS3JRNmpRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU5TNHhOVFF1TVRrM0xqQXdIaGNOCk1qTXhNVEUyTVRZd01EQXpXaGNOTXpNeE1URXpNVFl3TURBeldqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGsxTGpFMU5[...]
[...]
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8308017f-f40c-4cf4-8260-50bcbed3ab8e/databases
    method: POST
  response:
    body: '{"managed":true,"name":"foo","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8308017f-f40c-4cf4-8260-50bcbed3ab8e/databases?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"foo","owner":"_rdb_superadmin","size":7631663}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"instance_id":"8308017f-f40c-4cf4-8260-50bcbed3ab8e","database_name":"foo","name":"test_backup"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:00:27.153222Z","database_name":"foo","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"4a4cc7aa-d5ba-4098-a5c8-58e535e65999","instance_id":"8308017f-f40c-4cf4-8260-50bcbed3ab8e","instance_name":"TestAccScalewayRdbDatabaseBackup_Basic","name":"test_backup","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/4a4cc7aa-d5ba-4098-a5c8-58e535e65999
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:00:27.153222Z","database_name":"foo","download_url":null,"download_url_expires_at":null,"expires_at":null,"id":"4a4cc7aa-d5ba-4098-a5c8-58e535e65999","instance_id":"8308017f-f40c-4cf4-8260-50bcbed3ab8e","instance_name":"TestAccScalewayRdbDatabaseBackup_Basic","name":"test_backup","region":"fr-par","same_region":false,"size":null,"status":"creating","updated_at":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/backups/4a4cc7aa-d5ba-4098-a5c8-58e535e65999
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"database_backup","resource_id":"4a4cc7aa-d5ba-4098-a5c8-58e535e65999","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/8308017f-f40c-4cf4-8260-50bcbed3ab8e/databases/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
