---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"1ac613cb-f2a1-4edf-b469-05229c6eacfe","name":"my_private_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:32:34.644377Z","updated_at":"2022-04-12T12:32:34.644377Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/1ac613cb-f2a1-4edf-b469-05229c6eacfe
    method: GET
  response:
    body: '{"id":"1ac613cb-f2a1-4edf-b469-05229c6eacfe","name":"my_private_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:32:34.644377Z","updated_at":"2022-04-12T12:32:34.644377Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"1ac613cb-f2a1-4edf-b469-05229c6eacfe","service_ip":"192.168.1.42/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"b8646c23-81fc-4ee0-a658-f5051f58a1e6","name":"test-rdb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"70613c65-5dc7-46dd-9a7a-8f00190d0eb8","private_network":{"private_network_id":"1ac613cb-f2a1-4edf-b469-05229c6eacfe","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-12T12:32:36.550520Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b8646c23-81fc-4ee0-a658-f5051f58a1e6
    method: GET
  response:
    body: '{"id":"b8646c23-81fc-4ee0-a658-f5051f58a1e6","name":"test-rdb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"70613c65-5dc7-46dd-9a7a-8f00190d0eb8","private_network":{"private_network_id":"1ac613cb-f2a1-4edf-b469-05229c6eacfe","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-12T12:32:36.550520Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b8646c23-81fc-4ee0-a658-f5051f58a1e6
    method: GET
  response:
    body: '{"id":"b8646c23-81fc-4ee0-a658-f5051f58a1e6","name":"test-rdb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.129.78","port":8694,"name":null,"id":"a61fc2f7-1816-4f8c-9eba-becedef03085","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.129.78","port":8694,"name":null,"id":"a61fc2f7-1816-4f8c-9eba-becedef03085","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"70613c65-5dc7-46dd-9a7a-8f00190d0eb8","private_network":{"private_network_id":"1ac613cb-f2a1-4edf-b469-05229c6eacfe","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-04-12T12:32:36.550520Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b8646c23-81fc-4ee0-a658-f5051f58a1e6/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVV2JtUFYwaW5mcmV0TGVHZ0p1YThDNjN4UmRRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWlPRFkwTm1NeU15MDRNV1pqCkxUUmxaVEF0WVRZMU9DMW1OVEExTVdZMU9HRXhaVFl1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05ERXlNVEl6TkRBNFdoY05Nekl3TkRBNU1USXpOREE0V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null,"backup_same_region":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b8646c23-81fc-4ee0-a658-f5051f58a1e6
    method: PATCH
  response:
    body: '{"id":"b8646c23-81fc-4ee0-a658-f5051f58a1e6","name":"test-rdb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","engine":"PostgreSQL[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/70613c65-5dc7-46dd-9a7a-8f00190d0eb8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"c015449b-b761-4f44-a46e-c3a41e2ff539","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/b8646c23-81fc-4ee0-a658-f5051f58a1e6/endpoints
    method: POST
  response:
    body: '{"ip":"192.168.1.254","port":5432,"name":null,"id":"4393a02d-54ef-4d56-997c-d6011a7c86a3","private_network":{"private_network_id":"c015449b-b761-4f44-a46e-c3a41e2ff539","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"6589ec1c-2ba0-4f0e-b4e8-03d569e34aee","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:14.669374Z","updated_at":"2022-04-12T12:37:14.669374Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/6589ec1c-2ba0-4f0e-b4e8-03d569e34aee
    method: GET
  response:
    body: '{"id":"6589ec1c-2ba0-4f0e-b4e8-03d569e34aee","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:14.669374Z","updated_at":"2022-04-12T12:37:14.669374Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"c79569d7-0f28-4906-9536-ec5e3db9399b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:15.130184Z","updated_at":"2022-04-12T12:37:15.130184Z","tags":[],"address":"51.15.44.156","reverse":"156-44-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/c79569d7-0f28-4906-9536-ec5e3db9399b
    method: GET
  response:
    body: '{"id":"c79569d7-0f28-4906-9536-ec5e3db9399b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:15.130184Z","updated_at":"2022-04-12T12:37:15.130184Z","tags":[],"address":"51.15.44.156","reverse":"156-44-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"c79569d7-0f28-4906-9536-ec5e3db9399b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"1e4de687-4306-4582-a993-ce716f559169","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:15.459638Z","updated_at":"2022-04-12T12:37:15.459638Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"c79569d7-0f28-4906-9536-ec5e3db9399b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:15.130184Z","updated_at":"2022-04-12T12:37:15.130184Z","tags":[],"address":"51.15.44.156","reverse":"156-44-15-51.instances.scw.cloud","gateway_id":"1e4de687-4306-4582-a993-ce716f559169","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/1e4de687-4306-4582-a993-ce716f559169
    method: GET
  response:
    body: '{"id":"1e4de687-4306-4582-a993-ce716f559169","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:15.459638Z","updated_at":"2022-04-12T12:37:15.515690Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"c79569d7-0f28-4906-9536-ec5e3db9399b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:15.130184Z","updated_at":"2022-04-12T12:37:15.130184Z","tags":[],"address":"51.15.44.156","reverse":"156-44-15-51.instances.scw.cloud","gateway_id":"1e4de687-4306-4582-a993-ce716f559169","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"1e4de687-4306-4582-a993-ce716f559169","private_network_id":"c015449b-b761-4f44-a46e-c3a41e2ff539","enable_masquerade":true,"dhcp_id":"6589ec1c-2ba0-4f0e-b4e8-03d569e34aee","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"d84fe7f9-c280-4c0f-bb78-cd27c2e7f34a","created_at":"2022-04-12T12:37:21.095713Z","updated_at":"2022-04-12T12:37:21.095713Z","gateway_id":"1e4de687-4306-4582-a993-ce716f559169","private_network_id":"c015449b-b761-4f44-a46e-c3a41e2ff539","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"6589ec1c-2ba0-4f0e-b4e8-03d569e34aee","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:14.669374Z","updated_at":"2022-04-12T12:37:14.669374Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/d84fe7f9-c280-4c0f-bb78-cd27c2e7f34a
    method: GET
  response:
    body: '{"id":"d84fe7f9-c280-4c0f-bb78-cd27c2e7f34a","created_at":"2022-04-12T12:37:21.095713Z","updated_at":"2022-04-12T12:37:27.635432Z","gateway_id":"1e4de687-4306-4582-a993-ce716f559169","private_network_id":"c015449b-b761-4f44-a46e-c3a41e2ff539","mac_address":"02:00:00:00:90:d6","enable_masquerade":true,"status":"ready","dhcp":{"id":"6589ec1c-2ba0-4f0e-b4e8-03d569e34aee","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T12:37:14.669374Z","updated_at":"2022-04-12T12:37:14.669374Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"1e4de687-4306-4582-a993-ce716f559169","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"f2b29e93-b596-4c29-9caa-689d75dd5a4c","gateway_id":"1e4de687-4306-4582-a993-ce716f559169","created_at":"2022-04-12T12:37:32.221993Z","updated_at":"2022-04-12T12:37:32.221993Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/f2b29e93-b596-4c29-9caa-689d75dd5a4c
    method: GET
  response:
    body: '{"id":"f2b29e93-b596-4c29-9caa-689d75dd5a4c","gateway_id":"1e4de687-4306-4582-a993-ce716f559169","created_at":"2022-04-12T12:37:32.221993Z","updated_at":"2022-04-12T12:37:32.221993Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/d84fe7f9-c280-4c0f-bb78-cd27c2e7f34a?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/d84fe7f9-c280-4c0f-bb78-cd27c2e7f34a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"d84fe7f9-c280-4c0f-bb78-cd27c2e7f34a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/1e4de687-4306-4582-a993-ce716f559169?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/c015449b-b761-4f44-a46e-c3a41e2ff539
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
