---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T15:55:51.236972Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f92778af-b52b-498e-b1d0-8753ae6dfa6e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-xenodochial-snyder","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-10-20T15:55:50.970041Z","dhcp_enabled":true,"id":"30d188dd-5ba2-49f1-96c1-64d577dc5a01","name":"tf-pn-xenodochial-snyder","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T15:55:50.970041Z","id":"b19b99eb-c012-443d-9421-b43338b0fab5","subnet":"172.16.12.0/22","updated_at":"2023-10-20T15:55:50.970041Z"},{"created_at":"2023-10-20T15:55:50.970041Z","id":"303c8aaa-4376-4c38-925e-ee83d1a3d845","subnet":"fd63:256c:45f7:d2e0::/64","updated_at":"2023-10-20T15:55:50.970041Z"}],"tags":[],"updated_at":"2023-10-20T15:55:50.970041Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f92778af-b52b-498e-b1d0-8753ae6dfa6e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T15:55:51.236972Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"f92778af-b52b-498e-b1d0-8753ae6dfa6e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/30d188dd-5ba2-49f1-96c1-64d577dc5a01
    method: GET
  response:
    body: '{"created_at":"2023-10-20T15:55:50.970041Z","dhcp_enabled":true,"id":"30d188dd-5ba2-49f1-96c1-64d577dc5a01","name":"tf-pn-xenodochial-snyder","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-10-20T15:55:50.970041Z","id":"b19b99eb-c012-443d-9421-b43338b0fab5","subnet":"172.16.12.0/22","updated_at":"2023-10-20T15:55:50.970041Z"},{"created_at":"2023-10-20T15:55:50.970041Z","id":"303c8aaa-4376-4c38-925e-ee83d1a3d845","subnet":"fd63:256c:45f7:d2e0::/64","updated_at":"2023-10-20T15:55:50.970041Z"}],"tags":[],"updated_at":"2023-10-20T15:55:50.970041Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f92778af-b52b-498e-b1d0-8753ae6dfa6e
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-10-20T15:55:51.236972Z","endpoint":{"id":"66dba1c7-8218-4094-a3f4-a74d74a0bb10","ip":"51.159.26.148","load_balancer":{},"name":null,"port":10734},"endpoints":[{"id":"66dba1c7-8218-4094-a3f4-a74d74a0bb10","ip":"51.159.26.148","load_balancer":{},"name":null,"port":10734}],"engine":"PostgreSQL-15","id":"f92778af-b52b-498e-b1d0-8753ae6dfa6e","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/f92778af-b52b-498e-b1d0-8753ae6dfa6e/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwRENDQW95Z0F3SUJBZ0lVVDhFQktBWWhzVUNWQTc5UkRKUXZMZUJqWTJnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tmk0eE5EZ3dIaGNOCk1qTXhNREl3TVRVMU5qSTVXaGNOTXpNeE1ERTNNVFUxTmpJNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
- request:
    body: '{"instance_id":"f92778af-b52b-498e-b1d0-8753ae6dfa6e","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"30d188dd-5ba2-49f1-96c1-64d577dc5a01","service_ip":"10.12.1.0/20"}}],"same_zone":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"c2754ad4-7c1f-4195-af4c-f3f37694a293","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"30d188dd-5ba2-49f1-96c1-64d577dc5a01","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"b8b7564c-5af0-4c15-a81b-7dd897208133","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b8b7564c-5af0-4c15-a81b-7dd897208133
    method: GET
  response:
    body: '{"endpoints":[{"id":"c2754ad4-7c1f-4195-af4c-f3f37694a293","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"30d188dd-5ba2-49f1-96c1-64d577dc5a01","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"b8b7564c-5af0-4c15-a81b-7dd897208133","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/b8b7564c-5af0-4c15-a81b-7dd897208133
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"b8b7564c-5af0-4c15-a81b-7dd897208133","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
