---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-rdb-rr-update","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"050ced40-3e2f-45bc-83a5-8e8e6d12456e","name":"test-rdb-rr-update","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-14","endpoint":null,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-08-18T11:39:55.570875Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/050ced40-3e2f-45bc-83a5-8e8e6d12456e
    method: GET
  response:
    body: '{"id":"050ced40-3e2f-45bc-83a5-8e8e6d12456e","name":"test-rdb-rr-update","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-14","endpoint":null,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-08-18T11:39:55.570875Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/050ced40-3e2f-45bc-83a5-8e8e6d12456e
    method: GET
  response:
    body: '{"id":"050ced40-3e2f-45bc-83a5-8e8e6d12456e","name":"test-rdb-rr-update","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","engine":"PostgreSQL-14","endpoint":{"ip":"51.159.75.167","port":46095,"name":null,"id":"f3a31af4-4df0-4dd9-a406-6ff71eb833e4","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.75.167","port":46095,"name":null,"id":"f3a31af4-4df0-4dd9-a406-6ff71eb833e4","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-08-18T11:39:55.570875Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/050ced40-3e2f-45bc-83a5-8e8e6d12456e/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVRlc3d3hTUHAvb2JFRXBMaDVmb2VORmZMeWJVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHdOVEJqWldRME1DMHpaVEptCkxUUTFZbU10T0ROaE5TMDRaVGhsTm1ReE1qUTFObVV1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd09ERTRNVEUwTURRM1doY05Nekl3T0RFMU1URTBNRFEzV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"instance_id":"050ced40-3e2f-45bc-83a5-8e8e6d12456e","endpoint_spec":[{"direct_access":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"id":"1c96a098-33c2-4019-b3ad-cc7f9f91f890","endpoints":[],"status":"provisioning","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/1c96a098-33c2-4019-b3ad-cc7f9f91f890
    method: GET
  response:
    body: '{"id":"1c96a098-33c2-4019-b3ad-cc7f9f91f890","endpoints":[],"status":"provisioning","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-vigorous-mcnulty","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"2000fa6d-6b2a-4e83-bd65-bbbac63ce4af","name":"tf-pn-vigorous-mcnulty","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-18T11:47:37.762088Z","updated_at":"2022-08-18T11:47:37.762088Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2000fa6d-6b2a-4e83-bd65-bbbac63ce4af
    method: GET
  response:
    body: '{"id":"2000fa6d-6b2a-4e83-bd65-bbbac63ce4af","name":"tf-pn-vigorous-mcnulty","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-18T11:47:37.762088Z","updated_at":"2022-08-18T11:47:37.762088Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/1b15385b-902a-4598-bb3f-3498669dd977
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"2000fa6d-6b2a-4e83-bd65-bbbac63ce4af","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/1c96a098-33c2-4019-b3ad-cc7f9f91f890/endpoints
    method: POST
  response:
    body: '{"id":"1c96a098-33c2-4019-b3ad-cc7f9f91f890","endpoints":[{"ip":"10.12.1.0","port":5432,"name":null,"id":"0e7b3e99-1bae-4448-95df-a1808c164ec2","private_network":{"private_network_id":"2000fa6d-6b2a-4e83-bd65-bbbac63ce4af","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"status":"initializing","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/1c96a098-33c2-4019-b3ad-cc7f9f91f890
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
