---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-init-settings","engine":"MySQL-8","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":null,"init_settings":[{"name":"lower_case_table_names","value":"1"}],"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"2db79da9-a7d7-4854-b982-846aa749ef47","name":"test-rdb-init-settings","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"MySQL-8","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[{"name":"lower_case_table_names","value":"1"}],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-10-12T14:44:19.095028Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2db79da9-a7d7-4854-b982-846aa749ef47
    method: GET
  response:
    body: '{"id":"2db79da9-a7d7-4854-b982-846aa749ef47","name":"test-rdb-init-settings","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"MySQL-8","endpoint":null,"tags":[],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[{"name":"lower_case_table_names","value":"1"}],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-10-12T14:44:19.095028Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2db79da9-a7d7-4854-b982-846aa749ef47
    method: GET
  response:
    body: '{"id":"2db79da9-a7d7-4854-b982-846aa749ef47","name":"test-rdb-init-settings","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"MySQL-8","endpoint":{"ip":"51.158.56.136","port":39171,"name":null,"id":"f5d5ecb0-d340-4165-aa21-ec7fa5daf1b4","load_balancer":{}},"tags":[],"settings":[{"name":"max_connections","value":"100"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[{"name":"lower_case_table_names","value":"1"}],"endpoints":[{"ip":"51.158.56.136","port":39171,"name":null,"id":"f5d5ecb0-d340-4165-aa21-ec7fa5daf1b4","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-10-12T14:44:19.095028Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"settings":[{"name":"max_connections","value":"350"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2db79da9-a7d7-4854-b982-846aa749ef47/settings
    method: PUT
  response:
    body: '{"settings":[{"name":"max_connections","value":"350"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2db79da9-a7d7-4854-b982-846aa749ef47/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVQ25KUmg2SjQvalVKNzVDZ25WMDVMOTB0Q1NVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHlaR0kzT1dSaE9TMWhOMlEzCkxUUTROVFF0WWprNE1pMDRORFpoWVRjME9XVm1ORGN1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJeE1ERXlNVFEwTlRFM1doY05Nekl4TURBNU1UUTBOVEUzV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/2db79da9-a7d7-4854-b982-846aa749ef47
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"2db79da9-a7d7-4854-b982-846aa749ef47","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
