---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-with-cluster","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s8cret","node_type":"db-dev-m","is_ha_cluster":true,"disable_backup":false,"tags":["terraform-test","scaleway_rdb_instance","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:51:10.206817Z","retention":7},"created_at":"2023-10-20T15:51:10.206817Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"061f3940-c35d-40ef-a5af-dd8b60065d5f","init_settings":[],"is_ha_cluster":true,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-with-cluster","node_type":"db-dev-m","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":25000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/061f3940-c35d-40ef-a5af-dd8b60065d5f
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:51:10.206817Z","retention":7},"created_at":"2023-10-20T15:51:10.206817Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"061f3940-c35d-40ef-a5af-dd8b60065d5f","init_settings":[],"is_ha_cluster":true,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-with-cluster","node_type":"db-dev-m","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":25000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/061f3940-c35d-40ef-a5af-dd8b60065d5f
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:51:10.206817Z","retention":7},"created_at":"2023-10-20T15:51:10.206817Z","endpoint":{"id":"6b3a79d5-fbda-4999-a0c3-19783fdb3ebd","ip":"51.159.26.148","load_balancer":{},"name":null,"port":27414},"endpoints":[{"id":"6b3a79d5-fbda-4999-a0c3-19783fdb3ebd","ip":"51.159.26.148","load_balancer":{},"name":null,"port":27414}],"engine":"PostgreSQL-15","id":"061f3940-c35d-40ef-a5af-dd8b60065d5f","init_settings":[],"is_ha_cluster":true,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-with-cluster","node_type":"db-dev-m","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"2700"},{"name":"maintenance_work_mem","value":"300"},{"name":"max_connections","value":"150"},{"name":"max_parallel_workers","value":"1"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"8"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","minimal"],"upgradable_version":[],"volume":{"class":"lssd","size":25000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null,"backup_same_region":false,"backup_schedule_start_hour":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/061f3940-c35d-40ef-a5af-dd8b60065d5f
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-10-21T15:51:10.206817Z","retention":7},"created_at":"2023-10-20T15:51:10.206817Z","endpoint":{"id":"6b3a79d5-fbda-4999-a0c3-19783fdb3ebd","ip":"51.159.26.148","load_balancer":{},"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/061f3940-c35d-40ef-a5af-dd8b60065d5f/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURxakNDQXBLZ0F3SUJBZ0lVRnRueElSL0VIdXdoM0VsQ3ZkbVRObTNVaEVvd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRVeExqRTFPUzR5Tmk0eE5EZ3dIaGNOCk1qTXhNREl3TVRVMU1qQTVXaGNOTXpNeE1ERTNNVFUxTWpBNVdqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05OVEV1TVRVNUx[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/061f3940-c35d-40ef-a5af-dd8b60065d5f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"061f3940-c35d-40ef-a5af-dd8b60065d5f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
