---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"0752fc9a-075b-4b33-a28a-74f8dab9a8ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:40.656511Z","updated_at":"2021-11-22T12:30:40.656511Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:40.622010Z","updated_at":"2021-11-22T12:30:40.622010Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/0752fc9a-075b-4b33-a28a-74f8dab9a8ed
    method: GET
  response:
    body: '{"id":"0752fc9a-075b-4b33-a28a-74f8dab9a8ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:40.656511Z","updated_at":"2021-11-22T12:30:40.656511Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/4b4d640f-47f2-40c5-a740-9e4c5fa3d95f
    method: GET
  response:
    body: '{"id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:40.622010Z","updated_at":"2021-11-22T12:30:40.622010Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"17b43a46-64df-4338-a02a-be59d353dea1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:41.153330Z","updated_at":"2021-11-22T12:30:41.153330Z","tags":[],"address":"51.15.106.212","reverse":"212-106-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips/17b43a46-64df-4338-a02a-be59d353dea1
    method: GET
  response:
    body: '{"id":"17b43a46-64df-4338-a02a-be59d353dea1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:41.153330Z","updated_at":"2021-11-22T12:30:41.153330Z","tags":[],"address":"51.15.106.212","reverse":"212-106-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","service_ip":"192.168.1.254/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"d9c63e8c-2d8c-496f-9fd5-b9125b609d75","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"431d4976-1070-4708-a69a-e2afb2dadec3","private_network":{"private_network_id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-22T12:30:41.096440Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"17b43a46-64df-4338-a02a-be59d353dea1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"45a959ae-6e18-4665-bf92-06f48abf922e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:41.527682Z","updated_at":"2021-11-22T12:30:41.527682Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"17b43a46-64df-4338-a02a-be59d353dea1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:41.153330Z","updated_at":"2021-11-22T12:30:41.153330Z","tags":[],"address":"51.15.106.212","reverse":"212-106-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/45a959ae-6e18-4665-bf92-06f48abf922e
    method: GET
  response:
    body: '{"id":"45a959ae-6e18-4665-bf92-06f48abf922e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:41.527682Z","updated_at":"2021-11-22T12:30:41.527682Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"17b43a46-64df-4338-a02a-be59d353dea1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:41.153330Z","updated_at":"2021-11-22T12:30:41.153330Z","tags":[],"address":"51.15.106.212","reverse":"212-106-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/d9c63e8c-2d8c-496f-9fd5-b9125b609d75
    method: GET
  response:
    body: '{"id":"d9c63e8c-2d8c-496f-9fd5-b9125b609d75","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"431d4976-1070-4708-a69a-e2afb2dadec3","private_network":{"private_network_id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-22T12:30:41.096440Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"45a959ae-6e18-4665-bf92-06f48abf922e","private_network_id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","enable_masquerade":true,"dhcp_id":"0752fc9a-075b-4b33-a28a-74f8dab9a8ed","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"23fbfb8b-b97b-4c26-9c1d-b8aac3e65082","created_at":"2021-11-22T12:31:12.170250Z","updated_at":"2021-11-22T12:31:12.170250Z","gateway_id":"45a959ae-6e18-4665-bf92-06f48abf922e","private_network_id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"0752fc9a-075b-4b33-a28a-74f8dab9a8ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:40.656511Z","updated_at":"2021-11-22T12:30:40.656511Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/23fbfb8b-b97b-4c26-9c1d-b8aac3e65082
    method: GET
  response:
    body: '{"id":"23fbfb8b-b97b-4c26-9c1d-b8aac3e65082","created_at":"2021-11-22T12:31:12.170250Z","updated_at":"2021-11-22T12:31:12.170250Z","gateway_id":"45a959ae-6e18-4665-bf92-06f48abf922e","private_network_id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"0752fc9a-075b-4b33-a28a-74f8dab9a8ed","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-11-22T12:30:40.656511Z","updated_at":"2021-11-22T12:30:40.656511Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/d9c63e8c-2d8c-496f-9fd5-b9125b609d75
    method: GET
  response:
    body: '{"id":"d9c63e8c-2d8c-496f-9fd5-b9125b609d75","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.130.72","port":6427,"name":null,"id":"20fdf2b4-1957-4a17-9d9c-01ab5a316ee6","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.130.72","port":6427,"name":null,"id":"20fdf2b4-1957-4a17-9d9c-01ab5a316ee6","load_balancer":{}},{"ip":"192.168.1.254","port":5432,"name":null,"id":"431d4976-1070-4708-a69a-e2afb2dadec3","private_network":{"private_network_id":"4b4d640f-47f2-40c5-a740-9e4c5fa3d95f","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"created_at":"2021-11-22T12:30:41.096440Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/d9c63e8c-2d8c-496f-9fd5-b9125b609d75/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVRituSWFmeG1TVlpxd1Jkb2N4MkpJTmkyWlpNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MWtPV00yTTJVNFl5MHlaRGhqCkxUUTVObVl0T1daa05TMWlPVEV5TldJMk1EbGtOelV1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1USXlNVEl6TVRRMVdoY05NekV4TVRJd01USXpNVFExV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"gateway_id":"45a959ae-6e18-4665-bf92-06f48abf922e","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"c5f1dacc-eb98-4dca-83f5-4d575d6c40d9","gateway_id":"45a959ae-6e18-4665-bf92-06f48abf922e","created_at":"2021-11-22T12:33:41.061150Z","updated_at":"2021-11-22T12:33:41.061150Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules/c5f1dacc-eb98-4dca-83f5-4d575d6c40d9
    method: GET
  response:
    body: '{"id":"c5f1dacc-eb98-4dca-83f5-4d575d6c40d9","gateway_id":"45a959ae-6e18-4665-bf92-06f48abf922e","created_at":"2021-11-22T12:33:41.061150Z","updated_at":"2021-11-22T12:33:41.061150Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/23fbfb8b-b97b-4c26-9c1d-b8aac3e65082?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/0752fc9a-075b-4b33-a28a-74f8dab9a8ed
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"0752fc9a-075b-4b33-a28a-74f8dab9a8ed","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/45a959ae-6e18-4665-bf92-06f48abf922e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
