---
version: 1
interactions:
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"e990e52b-6084-4071-aa8c-b163794aeaf2","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:39:33.213917Z","updated_at":"2021-12-01T15:39:33.213917Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/e990e52b-6084-4071-aa8c-b163794aeaf2
    method: GET
  response:
    body: '{"id":"e990e52b-6084-4071-aa8c-b163794aeaf2","name":"my_private_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:39:33.213917Z","updated_at":"2021-12-01T15:39:33.213917Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"e990e52b-6084-4071-aa8c-b163794aeaf2","service_ip":"192.168.1.42/24"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"799487cf-9206-4178-8511-4ad9ee2c2db7","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"812daa8b-21db-4b96-a96c-79599d886fa0","private_network":{"private_network_id":"e990e52b-6084-4071-aa8c-b163794aeaf2","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-01T15:39:35.157452Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/799487cf-9206-4178-8511-4ad9ee2c2db7
    method: GET
  response:
    body: '{"id":"799487cf-9206-4178-8511-4ad9ee2c2db7","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.42","port":5432,"name":null,"id":"812daa8b-21db-4b96-a96c-79599d886fa0","private_network":{"private_network_id":"e990e52b-6084-4071-aa8c-b163794aeaf2","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-01T15:39:35.157452Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/799487cf-9206-4178-8511-4ad9ee2c2db7
    method: GET
  response:
    body: '{"id":"799487cf-9206-4178-8511-4ad9ee2c2db7","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.128.128","port":55617,"name":null,"id":"fc6f5cd0-7055-4035-bb98-f851d945856d","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.128.128","port":55617,"name":null,"id":"fc6f5cd0-7055-4035-bb98-f851d945856d","load_balancer":{}},{"ip":"192.168.1.42","port":5432,"name":null,"id":"812daa8b-21db-4b96-a96c-79599d886fa0","private_network":{"private_network_id":"e990e52b-6084-4071-aa8c-b163794aeaf2","service_ip":"192.168.1.42/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2021-12-01T15:39:35.157452Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/799487cf-9206-4178-8511-4ad9ee2c2db7/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVS3A5cXlHRy96SSsyK3FLU2NzaElYUXo0ZjdJd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDNPVGswT0RkalppMDVNakEyCkxUUXhOemd0T0RVeE1TMDBZV1E1WldVeVl6SmtZamN1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1qQXhNVFUwTURVd1doY05NekV4TVRJNU1UVTBNRFV3V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":null,"name":null,"tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/799487cf-9206-4178-8511-4ad9ee2c2db7
    method: PATCH
  response:
    body: '{"id":"799487cf-9206-4178-8511-4ad9ee2c2db7","name":"test-rdb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/812daa8b-21db-4b96-a96c-79599d886fa0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"1f1d12b0-1324-4f44-9858-0f3298024bf9","service_ip":"192.168.1.254/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/799487cf-9206-4178-8511-4ad9ee2c2db7/endpoints
    method: POST
  response:
    body: '{"ip":"192.168.1.254","port":5432,"name":null,"id":"c248b063-d22a-4b0c-80e9-f15007e0c3a9","private_network":{"private_network_id":"1f1d12b0-1324-4f44-9858-0f3298024bf9","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"3c860c0a-52b8-4fd5-af10-8f127fdea6dc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.023699Z","updated_at":"2021-12-01T15:44:52.023699Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/3c860c0a-52b8-4fd5-af10-8f127fdea6dc
    method: GET
  response:
    body: '{"id":"3c860c0a-52b8-4fd5-af10-8f127fdea6dc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.023699Z","updated_at":"2021-12-01T15:44:52.023699Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"4f9e64d0-ae09-4c19-929c-f7681a7e50c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.446406Z","updated_at":"2021-12-01T15:44:52.446406Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/ips/4f9e64d0-ae09-4c19-929c-f7681a7e50c6
    method: GET
  response:
    body: '{"id":"4f9e64d0-ae09-4c19-929c-f7681a7e50c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.446406Z","updated_at":"2021-12-01T15:44:52.446406Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"4f9e64d0-ae09-4c19-929c-f7681a7e50c6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.811666Z","updated_at":"2021-12-01T15:44:52.811666Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"4f9e64d0-ae09-4c19-929c-f7681a7e50c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.446406Z","updated_at":"2021-12-01T15:44:52.446406Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/d1caf435-a0a8-4531-8b19-eedcb7c3790c
    method: GET
  response:
    body: '{"id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.811666Z","updated_at":"2021-12-01T15:44:52.873233Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"4f9e64d0-ae09-4c19-929c-f7681a7e50c6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.446406Z","updated_at":"2021-12-01T15:44:52.446406Z","tags":[],"address":"51.15.119.135","reverse":"135-119-15-51.instances.scw.cloud","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","private_network_id":"1f1d12b0-1324-4f44-9858-0f3298024bf9","enable_masquerade":true,"dhcp_id":"3c860c0a-52b8-4fd5-af10-8f127fdea6dc","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"26e043e5-1dfa-4a4b-96df-dc7dc5ddb5ef","created_at":"2021-12-01T15:45:23.503908Z","updated_at":"2021-12-01T15:45:23.503908Z","gateway_id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","private_network_id":"1f1d12b0-1324-4f44-9858-0f3298024bf9","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"3c860c0a-52b8-4fd5-af10-8f127fdea6dc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.023699Z","updated_at":"2021-12-01T15:44:52.023699Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/26e043e5-1dfa-4a4b-96df-dc7dc5ddb5ef
    method: GET
  response:
    body: '{"id":"26e043e5-1dfa-4a4b-96df-dc7dc5ddb5ef","created_at":"2021-12-01T15:45:23.503908Z","updated_at":"2021-12-01T15:45:23.503908Z","gateway_id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","private_network_id":"1f1d12b0-1324-4f44-9858-0f3298024bf9","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"3c860c0a-52b8-4fd5-af10-8f127fdea6dc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-01T15:44:52.023699Z","updated_at":"2021-12-01T15:44:52.023699Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"2a4b223c-372e-4bad-bce9-d76c1cd22fda","gateway_id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","created_at":"2021-12-01T15:45:54.276378Z","updated_at":"2021-12-01T15:45:54.276378Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/pat-rules/2a4b223c-372e-4bad-bce9-d76c1cd22fda
    method: GET
  response:
    body: '{"id":"2a4b223c-372e-4bad-bce9-d76c1cd22fda","gateway_id":"d1caf435-a0a8-4531-8b19-eedcb7c3790c","created_at":"2021-12-01T15:45:54.276378Z","updated_at":"2021-12-01T15:45:54.276378Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateway-networks/26e043e5-1dfa-4a4b-96df-dc7dc5ddb5ef?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/dhcps/3c860c0a-52b8-4fd5-af10-8f127fdea6dc
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"3c860c0a-52b8-4fd5-af10-8f127fdea6dc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/nl-ams-1/gateways/d1caf435-a0a8-4531-8b19-eedcb7c3790c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
