---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-12-18T13:12:05.741180Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1beb022d-a42b-40cb-b2de-0ec91b4a21af","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:12:05.741180Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/1beb022d-a42b-40cb-b2de-0ec91b4a21af
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-12-18T13:12:05.741180Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1beb022d-a42b-40cb-b2de-0ec91b4a21af","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:12:05.741180Z","valid_lifetime":"3600s","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.15.111.89","created_at":"2023-12-18T13:12:06.175839Z","gateway_id":null,"id":"32db68aa-b0f4-4f91-98c3-1edff23c735f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:12:06.175839Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/32db68aa-b0f4-4f91-98c3-1edff23c735f
    method: GET
  response:
    body: '{"address":"51.15.111.89","created_at":"2023-12-18T13:12:06.175839Z","gateway_id":null,"id":"32db68aa-b0f4-4f91-98c3-1edff23c735f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:12:06.175839Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:12:05.727743Z","dhcp_enabled":true,"id":"595e8430-6684-4031-be58-1b4291dd1ca6","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-12-18T13:12:05.727743Z","id":"d19789b8-fe9a-418c-8001-9af15e819caa","subnet":"172.16.8.0/22","updated_at":"2023-12-18T13:12:05.727743Z"},{"created_at":"2023-12-18T13:12:05.727743Z","id":"48650cb4-9a0a-4760-be54-0c2f3869af30","subnet":"fd5c:d510:d730:3751::/64","updated_at":"2023-12-18T13:12:05.727743Z"}],"tags":[],"updated_at":"2023-12-18T13:12:05.727743Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/private-networks/595e8430-6684-4031-be58-1b4291dd1ca6
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:12:05.727743Z","dhcp_enabled":true,"id":"595e8430-6684-4031-be58-1b4291dd1ca6","name":"my_private_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"nl-ams","subnets":[{"created_at":"2023-12-18T13:12:05.727743Z","id":"d19789b8-fe9a-418c-8001-9af15e819caa","subnet":"172.16.8.0/22","updated_at":"2023-12-18T13:12:05.727743Z"},{"created_at":"2023-12-18T13:12:05.727743Z","id":"48650cb4-9a0a-4760-be54-0c2f3869af30","subnet":"fd5c:d510:d730:3751::/64","updated_at":"2023-12-18T13:12:05.727743Z"}],"tags":[],"updated_at":"2023-12-18T13:12:05.727743Z","vpc_id":"5976fd03-14dd-4892-a481-034469de59c6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"32db68aa-b0f4-4f91-98c3-1edff23c735f","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-18T13:12:06.473486Z","gateway_networks":[],"id":"3b4b19a9-3332-4525-ad0e-379b3309390a","ip":{"address":"51.15.111.89","created_at":"2023-12-18T13:12:06.175839Z","gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","id":"32db68aa-b0f4-4f91-98c3-1edff23c735f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:12:06.175839Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-12-18T13:12:06.473486Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/3b4b19a9-3332-4525-ad0e-379b3309390a
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-12-18T13:12:06.473486Z","gateway_networks":[],"id":"3b4b19a9-3332-4525-ad0e-379b3309390a","ip":{"address":"51.15.111.89","created_at":"2023-12-18T13:12:06.175839Z","gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","id":"32db68aa-b0f4-4f91-98c3-1edff23c735f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"89-111-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-12-18T13:12:06.175839Z","zone":"nl-ams-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-12-18T13:12:06.513848Z","upstream_dns_servers":[],"version":"0.6.1","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-private-network-dhcp","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"595e8430-6684-4031-be58-1b4291dd1ca6","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:12:06.764136Z","endpoint":null,"endpoints":[{"id":"aaf7c7fb-ccba-4682-969c-d3f8eb837b37","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"595e8430-6684-4031-be58-1b4291dd1ca6","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"50542597-2b06-4638-b994-75a604f5f044","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/50542597-2b06-4638-b994-75a604f5f044
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:12:06.764136Z","endpoint":null,"endpoints":[{"id":"aaf7c7fb-ccba-4682-969c-d3f8eb837b37","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"595e8430-6684-4031-be58-1b4291dd1ca6","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"50542597-2b06-4638-b994-75a604f5f044","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","private_network_id":"595e8430-6684-4031-be58-1b4291dd1ca6","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"1beb022d-a42b-40cb-b2de-0ec91b4a21af"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-12-18T13:12:12.805688Z","dhcp":{"address":"192.168.1.1","created_at":"2023-12-18T13:12:05.741180Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1beb022d-a42b-40cb-b2de-0ec91b4a21af","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:12:05.741180Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","id":"9a0ddcdf-3d0b-4407-97cf-fb811f84aba8","ipam_config":null,"mac_address":null,"private_network_id":"595e8430-6684-4031-be58-1b4291dd1ca6","status":"created","updated_at":"2023-12-18T13:12:12.805688Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/9a0ddcdf-3d0b-4407-97cf-fb811f84aba8
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-12-18T13:12:12.805688Z","dhcp":{"address":"192.168.1.1","created_at":"2023-12-18T13:12:05.741180Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"1beb022d-a42b-40cb-b2de-0ec91b4a21af","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-12-18T13:12:05.741180Z","valid_lifetime":"3600s","zone":"nl-ams-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","id":"9a0ddcdf-3d0b-4407-97cf-fb811f84aba8","ipam_config":null,"mac_address":"02:00:00:12:3D:33","private_network_id":"595e8430-6684-4031-be58-1b4291dd1ca6","status":"ready","updated_at":"2023-12-18T13:12:22.105365Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/50542597-2b06-4638-b994-75a604f5f044
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-18T13:12:06.764136Z","endpoint":null,"endpoints":[{"id":"aaf7c7fb-ccba-4682-969c-d3f8eb837b37","ip":"192.168.1.254","name":null,"port":5432,"private_network":{"private_network_id":"595e8430-6684-4031-be58-1b4291dd1ca6","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"engine":"PostgreSQL-15","id":"50542597-2b06-4638-b994-75a604f5f044","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-private-network-dhcp","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"nl-ams","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"upgradable_version":[],"volume":{"class":"bssd","size":10000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/50542597-2b06-4638-b994-75a604f5f044/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaakNDQWs2Z0F3SUJBZ0lVYWFCWU1GVjNaVjNtQnRzVTJldWRqN0wySW9Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dERUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RmpBVUJnTlZCQU1NRFRFNU1pNHhOamd1TVM0eU5UUXdIaGNOCk1qTXhNakU0TVRNeE16RXdXaGNOTXpNeE1qRTFNVE14TXpFd1dqQllNUXN3Q1FZRFZRUUdFd0pHVWpFT01Bd0cKQTFVRUNBd0ZVR0Z5YVhNeERqQU1CZ05WQkFjTUJWQmhjbWx6TVJFd0R3WURWUVFLREFoVFkyRnNaWGRoZVRFVwpNQlFHQTFVRUF3d05NVGt5TGpFMk9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/nl-ams/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=50542597-2b06-4638-b994-75a604f5f044&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-12-18T13:15:09.929544Z","gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","id":"8d4d2fd1-55e0-479b-ad96-7f6b5045b7ca","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-12-18T13:15:09.929544Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/8d4d2fd1-55e0-479b-ad96-7f6b5045b7ca
    method: GET
  response:
    body: '{"created_at":"2023-12-18T13:15:09.929544Z","gateway_id":"3b4b19a9-3332-4525-ad0e-379b3309390a","id":"8d4d2fd1-55e0-479b-ad96-7f6b5045b7ca","private_ip":"192.168.1.1","private_port":5432,"protocol":"both","public_port":42,"updated_at":"2023-12-18T13:15:09.929544Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/9a0ddcdf-3d0b-4407-97cf-fb811f84aba8?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/endpoints/aaf7c7fb-ccba-4682-969c-d3f8eb837b37
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/9a0ddcdf-3d0b-4407-97cf-fb811f84aba8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"9a0ddcdf-3d0b-4407-97cf-fb811f84aba8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/3b4b19a9-3332-4525-ad0e-379b3309390a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
