---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"TestAccScalewayRdbPrivilege_Basic","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_rdb_user","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"6a032201-391b-4743-a27a-108bb7d7e1ae","name":"TestAccScalewayRdbPrivilege_Basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":["terraform-test","scaleway_rdb_user","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-02T20:47:31.287835Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae
    method: GET
  response:
    body: '{"id":"6a032201-391b-4743-a27a-108bb7d7e1ae","name":"TestAccScalewayRdbPrivilege_Basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"provisioning","engine":"PostgreSQL-12","endpoint":null,"tags":["terraform-test","scaleway_rdb_user","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-02T20:47:31.287835Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae
    method: GET
  response:
    body: '{"id":"6a032201-391b-4743-a27a-108bb7d7e1ae","name":"TestAccScalewayRdbPrivilege_Basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"initializing","engine":"PostgreSQL-12","endpoint":{"ip":"51.159.8.77","port":22213,"name":null,"id":"f2727aeb-285e-4887-935c-b1b09f125f56","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_user","minimal"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":false},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.8.77","port":22213,"name":null,"id":"f2727aeb-285e-4887-935c-b1b09f125f56","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"created_at":"2021-11-02T20:47:31.287835Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae
    method: PATCH
  response:
    body: '{"id":"6a032201-391b-4743-a27a-108bb7d7e1ae","name":"TestAccScalewayRdbPrivilege_Basic","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","status":"ready","engine":"PostgreSQL[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVRUhMODRTYm5PTkh1amZCTUJiTjR0RkZjMHY4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDJZVEF6TWpJd01TMHpPVEZpCkxUUTNORE10WVRJM1lTMHhNRGhpWWpka04yVXhZV1V1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpFeE1UQXlNakEwT0RVeldoY05NekV4TURNeE1qQTBPRFV6V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"name":"foo","password":"R34lP4sSw#Rd","is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/users
    method: POST
  response:
    body: '{"name":"foo","is_admin":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/users?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"users":[{"name":"foo","is_admin":false}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/databases
    method: POST
  response:
    body: '{"name":"foo","owner":"","managed":true,"size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/databases?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"name":"foo","owner":"_rdb_superadmin","managed":true,"size":8135535}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"database_name":"foo","user_name":"foo","permission":"all"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/privileges
    method: PUT
  response:
    body: '{"permission":"all","database_name":"foo","user_name":"foo"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/privileges?database_name=foo&order_by=user_name_asc&user_name=foo
    method: GET
  response:
    body: '{"privileges":[{"permission":"all","database_name":"foo","user_name":"foo"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/users/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae/databases/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/6a032201-391b-4743-a27a-108bb7d7e1ae
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"6a032201-391b-4743-a27a-108bb7d7e1ae","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
