---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-rdb-rr-different-zone","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-19T09:33:12.344515Z","endpoint":{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"d95ad626-e321-4a83-89de-4ab4bb1239b3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95ad626-e321-4a83-89de-4ab4bb1239b3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-19T09:33:12.344515Z","endpoint":{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"d95ad626-e321-4a83-89de-4ab4bb1239b3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-rdb-rr-different-zone","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-12-19T09:33:12.089823Z","dhcp_enabled":true,"id":"3a6b2f3c-0cd0-4953-bfd0-595d3c91da16","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-19T09:33:12.089823Z","id":"a342e808-3480-4a82-a60b-4dafa25ea6f6","subnet":"172.16.0.0/22","updated_at":"2023-12-19T09:33:12.089823Z"},{"created_at":"2023-12-19T09:33:12.089823Z","id":"c53ef54b-bf03-49c5-848a-05ae7c7ce8cf","subnet":"fd63:256c:45f7:3971::/64","updated_at":"2023-12-19T09:33:12.089823Z"}],"tags":[],"updated_at":"2023-12-19T09:33:12.089823Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3a6b2f3c-0cd0-4953-bfd0-595d3c91da16
    method: GET
  response:
    body: '{"created_at":"2023-12-19T09:33:12.089823Z","dhcp_enabled":true,"id":"3a6b2f3c-0cd0-4953-bfd0-595d3c91da16","name":"test-rdb-rr-different-zone","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2023-12-19T09:33:12.089823Z","id":"a342e808-3480-4a82-a60b-4dafa25ea6f6","subnet":"172.16.0.0/22","updated_at":"2023-12-19T09:33:12.089823Z"},{"created_at":"2023-12-19T09:33:12.089823Z","id":"c53ef54b-bf03-49c5-848a-05ae7c7ce8cf","subnet":"fd63:256c:45f7:3971::/64","updated_at":"2023-12-19T09:33:12.089823Z"}],"tags":[],"updated_at":"2023-12-19T09:33:12.089823Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95ad626-e321-4a83-89de-4ab4bb1239b3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-19T09:33:12.344515Z","endpoint":{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","load_balancer":{},"name":null,"port":0},"endpoints":[{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","load_balancer":{},"name":null,"port":0}],"engine":"PostgreSQL-14","id":"d95ad626-e321-4a83-89de-4ab4bb1239b3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95ad626-e321-4a83-89de-4ab4bb1239b3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2023-12-19T09:33:12.344515Z","endpoint":{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","ip":"195.154.196.126","load_balancer":{},"name":null,"port":24405},"endpoints":[{"id":"8a73b5a7-f460-42c1-9485-8af6648923d1","ip":"195.154.196.126","load_balancer":{},"name":null,"port":24405}],"engine":"PostgreSQL-14","id":"d95ad626-e321-4a83-89de-4ab4bb1239b3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-different-zone","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","different-zone"],"upgradable_version":[{"id":"764c6bb3-2f1c-4f1a-bfd5-82c540ac435c","minor_version":"15.5","name":"PostgreSQL-15","version":"15"}],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/d95ad626-e321-4a83-89de-4ab4bb1239b3/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVCRENDQXV5Z0F3SUJBZ0lVQzRPVitDaXUvTXZWaW1pZnBadGRZRUlTZWhzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4R0RBV0JnTlZCQU1NRHpFNU5TNHhOVFF1TVRrMkxqRXlOakFlCkZ3MHlNekV5TVRrd09UTTJNVE5hRncwek16RXlNVFl3T1RNMk1UTmFNRm94Q3pBSkJnTlZCQVlUQWtaU01RNHcKREFZRFZRUUlEQVZRWVhKcGN6RU9NQXdHQTFVRUJ3d0ZVR0Z5YVhNeEVUQVBCZ05WQkFvTUNGTmpZV3hsZDJGNQpNUmd3RmdZRFZRUUREQTh4T1RVdU1[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=d95ad626-e321-4a83-89de-4ab4bb1239b3&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"d95ad626-e321-4a83-89de-4ab4bb1239b3","endpoint_spec":[{"private_network":{"private_network_id":"3a6b2f3c-0cd0-4953-bfd0-595d3c91da16","ipam_config":{}}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"acc52264-6fc9-4bc8-a2a4-43ef5a88473a","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"3a6b2f3c-0cd0-4953-bfd0-595d3c91da16","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"id":"01fa91a2-02dd-494e-9484-25f4bad5e545","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/01fa91a2-02dd-494e-9484-25f4bad5e545
    method: GET
  response:
    body: '{"endpoints":[{"id":"acc52264-6fc9-4bc8-a2a4-43ef5a88473a","ip":"172.16.0.2","name":null,"port":5432,"private_network":{"private_network_id":"3a6b2f3c-0cd0-4953-bfd0-595d3c91da16","service_ip":"172.16.0.2/22","zone":"fr-par-1"}}],"id":"01fa91a2-02dd-494e-9484-25f4bad5e545","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=d95ad626-e321-4a83-89de-4ab4bb1239b3&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.0.2/22","created_at":"2023-12-19T09:36:44.974398Z","id":"76d24bb9-f192-4846-8d7b-0e34140f4f55","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"d95ad626-e321-4a83-89de-4ab4bb1239b3","mac_address":"02:00:00:15:B3:E1","name":"read-replica-01fa91a2","type":"rdb_instance"},"source":{"subnet_id":"a342e808-3480-4a82-a60b-4dafa25ea6f6"},"tags":["managed","scwdbaas"],"updated_at":"2023-12-19T09:37:32.187551Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/01fa91a2-02dd-494e-9484-25f4bad5e545
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"01fa91a2-02dd-494e-9484-25f4bad5e545","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
