---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-rdb-rr-multiple-endpoints","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.874087Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"12a36ee1-201f-4e5b-bce3-86053b5820f6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-gifted-carson","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-21T18:24:51.620409Z","dhcp_enabled":true,"id":"6dce9966-6b81-452d-b67f-7cf899a2d3e6","name":"tf-pn-gifted-carson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-21T18:24:51.620409Z","id":"1208cfab-0b56-4e3a-91d6-7e1390c9d7db","subnet":"172.16.44.0/22","updated_at":"2024-02-21T18:24:51.620409Z"},{"created_at":"2024-02-21T18:24:51.620409Z","id":"683d2bad-8ef7-4ec4-aec1-7010f7a5da3e","subnet":"fd5f:519c:6d46:27af::/64","updated_at":"2024-02-21T18:24:51.620409Z"}],"tags":[],"updated_at":"2024-02-21T18:24:51.620409Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6dce9966-6b81-452d-b67f-7cf899a2d3e6
    method: GET
  response:
    body: '{"created_at":"2024-02-21T18:24:51.620409Z","dhcp_enabled":true,"id":"6dce9966-6b81-452d-b67f-7cf899a2d3e6","name":"tf-pn-gifted-carson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-02-21T18:24:51.620409Z","id":"1208cfab-0b56-4e3a-91d6-7e1390c9d7db","subnet":"172.16.44.0/22","updated_at":"2024-02-21T18:24:51.620409Z"},{"created_at":"2024-02-21T18:24:51.620409Z","id":"683d2bad-8ef7-4ec4-aec1-7010f7a5da3e","subnet":"fd5f:519c:6d46:27af::/64","updated_at":"2024-02-21T18:24:51.620409Z"}],"tags":[],"updated_at":"2024-02-21T18:24:51.620409Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/12a36ee1-201f-4e5b-bce3-86053b5820f6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.874087Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"12a36ee1-201f-4e5b-bce3-86053b5820f6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/12a36ee1-201f-4e5b-bce3-86053b5820f6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.874087Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"12a36ee1-201f-4e5b-bce3-86053b5820f6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/12a36ee1-201f-4e5b-bce3-86053b5820f6
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":true,"frequency":24,"next_run_at":null,"retention":7},"created_at":"2024-02-21T18:24:51.874087Z","endpoint":{"id":"ff7bbd69-7d70-4f88-99ac-982f3eeb5b0a","ip":"51.159.9.88","load_balancer":{},"name":null,"port":15838},"endpoints":[{"id":"ff7bbd69-7d70-4f88-99ac-982f3eeb5b0a","ip":"51.159.9.88","load_balancer":{},"name":null,"port":15838}],"engine":"PostgreSQL-15","id":"12a36ee1-201f-4e5b-bce3-86053b5820f6","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-rdb-rr-multiple-endpoints","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_read_replica","multiple-endpoints"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/12a36ee1-201f-4e5b-bce3-86053b5820f6/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5RENDQXR5Z0F3SUJBZ0lVSVBUUSt6T01JUldRWlJNdzMzSm8vRkN4TEU0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pVeExqRTFPUzQ1TGpnNE1CNFhEVEkwCk1ESXlNVEU0TWpjd09Gb1hEVE0wTURJeE9ERTRNamN3T0Zvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6VXhMakUxT1M0NUx[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=12a36ee1-201f-4e5b-bce3-86053b5820f6&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[],"total_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"instance_id":"12a36ee1-201f-4e5b-bce3-86053b5820f6","endpoint_spec":[{"direct_access":{}},{"private_network":{"private_network_id":"6dce9966-6b81-452d-b67f-7cf899a2d3e6","service_ip":"10.12.1.0/20"}}],"same_zone":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"endpoints":[{"id":"2866e659-978d-40ba-88e1-3bb4a557d0c8","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"6dce9966-6b81-452d-b67f-7cf899a2d3e6","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"73176ffc-930f-465f-a597-860584a21d7b","instance_id":"12a36ee1-201f-4e5b-bce3-86053b5820f6","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/73176ffc-930f-465f-a597-860584a21d7b
    method: GET
  response:
    body: '{"endpoints":[{"id":"2866e659-978d-40ba-88e1-3bb4a557d0c8","ip":"10.12.1.0","name":null,"port":5432,"private_network":{"private_network_id":"6dce9966-6b81-452d-b67f-7cf899a2d3e6","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"id":"73176ffc-930f-465f-a597-860584a21d7b","instance_id":"12a36ee1-201f-4e5b-bce3-86053b5820f6","region":"fr-par","same_zone":true,"status":"provisioning"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/73176ffc-930f-465f-a597-860584a21d7b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"73176ffc-930f-465f-a597-860584a21d7b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
