---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip":{"address":"51.158.79.120","id":"78d361b7-6c7d-44f0-9176-ad85c1726d1b","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","prefix":null,"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/78d361b7-6c7d-44f0-9176-ad85c1726d1b
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"rdb-acl-basic","engine":"PostgreSQL-15","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":null,"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:00:23.905384Z","retention":7},"created_at":"2023-11-16T16:00:23.905384Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"4cd3dfca-7eb8-4efe-b334-bf97ff95765b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/d3970f1f-ac85-4434-904d-760f78fef8f8
    method: GET
  response:
    body: '{"ip":{"address":"51.15.211.1","id":"d3970f1f-ac85-4434-904d-760f78fef8f8","organization":"fa1e3217-dc80-42ac-85c3-3f034b78b552","prefix":null,"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":null,"server":null,"state":"attached","tags":[],"type":"nat","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:00:23.905384Z","retention":7},"created_at":"2023-11-16T16:00:23.905384Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"4cd3dfca-7eb8-4efe-b334-bf97ff95765b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:00:23.905384Z","retention":7},"created_at":"2023-11-16T16:00:23.905384Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-15","id":"4cd3dfca-7eb8-4efe-b334-bf97ff95765b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:00:23.905384Z","retention":7},"created_at":"2023-11-16T16:00:23.905384Z","endpoint":{"id":"ca7e02b6-8ff0-4137-9b30-e6973268402f","ip":"51.159.113.173","load_balancer":{},"name":null,"port":1047},"endpoints":[{"id":"ca7e02b6-8ff0-4137-9b30-e6973268402f","ip":"51.159.113.173","load_balancer":{},"name":null,"port":1047}],"engine":"PostgreSQL-15","id":"4cd3dfca-7eb8-4efe-b334-bf97ff95765b","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"rdb-acl-basic","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":[],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2023-11-17T16:00:23.905384Z","retention":7},"created_at":"2023-11-16T16:00:23.905384Z","endpoint":{"id":"ca7e02b6-8ff0-4137-9b30-e6973268402f","ip":"51.159.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURwekNDQW8rZ0F3SUJBZ0lVSXJkRVErd0NnYXRHVlhlbEQ5ek53WTNQd213d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RnpBVkJnTlZCQU1NRGpVeExqRTFPUzR4TVRNdU1UY3pNQjRYCkRUSXpNVEV4TmpFMk1ETXpObG9YRFRNek1URXhNekUyTURNek5sb3dXVEVMTUFrR0ExVUVCaE1DUmxJeERqQU0KQmdOVkJBZ01CVkJoY21sek1RNHdEQVlEVlFRSERBVlFZWEpwY3pFUk1BOEdBMVVFQ2d3SVUyTmhiR1YzWVhreApGekFWQmdOVkJBTU1EalV4TGpFMU9[...]
[...]
- request:
    body: '{"rules":[{"ip":"51.15.211.1/32","description":""},{"ip":"51.158.79.120/32","description":""}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b/acls
    method: PUT
  response:
    body: '{"rules":[{"action":"allow","description":"IP allowed","direction":"inbound","ip":"51.15.211.1/32","port":1047,"protocol":"tcp"},{"action":"allow","description":"IP
      allowed","direction":"inbound","ip":"51.158.79.120/32","port":1047,"protocol":"tcp"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b/acls
    method: GET
  response:
    body: '{"rules":[{"action":"allow","description":"IP allowed","direction":"inbound","ip":"51.15.211.1/32","port":1047,"protocol":"tcp"},{"action":"allow","description":"IP
      allowed","direction":"inbound","ip":"51.158.79.120/32","port":1047,"protocol":"tcp"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rule_ips":["1.2.3.4/32","9.0.0.0/16"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b/acls
    method: DELETE
  response:
    body: '{"rules":[{"action":"allow","description":"foo","direction":"inbound","ip":"1.2.3.4/32","port":1047,"protocol":"tcp"},{"action":"allow","description":"baz","direction":"inbound","ip":"9.0.0.0/16","port":1047,"protocol":"tcp"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/4cd3dfca-7eb8-4efe-b334-bf97ff95765b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"4cd3dfca-7eb8-4efe-b334-bf97ff95765b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
