---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps
    method: POST
  response:
    body: '{"id":"44023d01-0489-45be-95c6-5438997d782d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:18.575681Z","updated_at":"2022-05-20T13:08:18.575681Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my_private_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks
    method: POST
  response:
    body: '{"id":"327ccf42-2783-46f7-a05f-f5f37f020550","name":"my_private_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:18.554410Z","updated_at":"2022-05-20T13:08:18.554410Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/dhcps/44023d01-0489-45be-95c6-5438997d782d
    method: GET
  response:
    body: '{"id":"44023d01-0489-45be-95c6-5438997d782d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:18.575681Z","updated_at":"2022-05-20T13:08:18.575681Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/327ccf42-2783-46f7-a05f-f5f37f020550
    method: GET
  response:
    body: '{"id":"327ccf42-2783-46f7-a05f-f5f37f020550","name":"my_private_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:18.554410Z","updated_at":"2022-05-20T13:08:18.554410Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"id":"4573b90f-59dc-4c6f-b82f-9dc886f7ed83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:19.140914Z","updated_at":"2022-05-20T13:08:19.140914Z","tags":[],"address":"51.15.47.221","reverse":"221-47-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/4573b90f-59dc-4c6f-b82f-9dc886f7ed83
    method: GET
  response:
    body: '{"id":"4573b90f-59dc-4c6f-b82f-9dc886f7ed83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:19.140914Z","updated_at":"2022-05-20T13:08:19.140914Z","tags":[],"address":"51.15.47.221","reverse":"221-47-15-51.instances.scw.cloud","gateway_id":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"4573b90f-59dc-4c6f-b82f-9dc886f7ed83","enable_smtp":false,"enable_bastion":false,"bastion_port":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:19.404235Z","updated_at":"2022-05-20T13:08:19.404235Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"4573b90f-59dc-4c6f-b82f-9dc886f7ed83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:19.140914Z","updated_at":"2022-05-20T13:08:19.140914Z","tags":[],"address":"51.15.47.221","reverse":"221-47-15-51.instances.scw.cloud","gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/21504efb-0e84-4c52-8384-2a2d1fee9e09
    method: GET
  response:
    body: '{"id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:19.404235Z","updated_at":"2022-05-20T13:08:19.467655Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"4573b90f-59dc-4c6f-b82f-9dc886f7ed83","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:19.140914Z","updated_at":"2022-05-20T13:08:19.140914Z","tags":[],"address":"51.15.47.221","reverse":"221-47-15-51.instances.scw.cloud","gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"test-rdb","engine":"PostgreSQL-11","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"init_settings":null,"volume_type":"bssd","volume_size":10000000000,"init_endpoints":[{"private_network":{"private_network_id":"327ccf42-2783-46f7-a05f-f5f37f020550","service_ip":"192.168.1.254/24"}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances
    method: POST
  response:
    body: '{"id":"5647b218-aac5-40cf-9c8f-297e2efed3a5","name":"test-rdb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"add22d43-da51-43c0-abd5-3b51751c0a41","private_network":{"private_network_id":"327ccf42-2783-46f7-a05f-f5f37f020550","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-05-20T13:08:19.223819Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5647b218-aac5-40cf-9c8f-297e2efed3a5
    method: GET
  response:
    body: '{"id":"5647b218-aac5-40cf-9c8f-297e2efed3a5","name":"test-rdb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"provisioning","engine":"PostgreSQL-11","endpoint":null,"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"192.168.1.254","port":5432,"name":null,"id":"add22d43-da51-43c0-abd5-3b51751c0a41","private_network":{"private_network_id":"327ccf42-2783-46f7-a05f-f5f37f020550","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-05-20T13:08:19.223819Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","private_network_id":"327ccf42-2783-46f7-a05f-f5f37f020550","enable_masquerade":true,"dhcp_id":"44023d01-0489-45be-95c6-5438997d782d","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks
    method: POST
  response:
    body: '{"id":"d64d9b02-dddf-496b-9e62-4160cc7d94fa","created_at":"2022-05-20T13:08:24.929860Z","updated_at":"2022-05-20T13:08:24.929860Z","gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","private_network_id":"327ccf42-2783-46f7-a05f-f5f37f020550","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"44023d01-0489-45be-95c6-5438997d782d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:18.575681Z","updated_at":"2022-05-20T13:08:18.575681Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/d64d9b02-dddf-496b-9e62-4160cc7d94fa
    method: GET
  response:
    body: '{"id":"d64d9b02-dddf-496b-9e62-4160cc7d94fa","created_at":"2022-05-20T13:08:24.929860Z","updated_at":"2022-05-20T13:08:31.243178Z","gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","private_network_id":"327ccf42-2783-46f7-a05f-f5f37f020550","mac_address":"02:00:00:00:a4:09","enable_masquerade":true,"status":"ready","dhcp":{"id":"44023d01-0489-45be-95c6-5438997d782d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:08:18.575681Z","updated_at":"2022-05-20T13:08:18.575681Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"nl-ams-1"},"enable_dhcp":true,"address":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5647b218-aac5-40cf-9c8f-297e2efed3a5
    method: GET
  response:
    body: '{"id":"5647b218-aac5-40cf-9c8f-297e2efed3a5","name":"test-rdb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","engine":"PostgreSQL-11","endpoint":{"ip":"51.158.131.78","port":65511,"name":null,"id":"f7befe82-c1c1-4fa9-b6a2-2ca270df4e60","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_instance","volume","rdb_pn"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"bssd","size":10000000000},"init_settings":[],"endpoints":[{"ip":"51.158.131.78","port":65511,"name":null,"id":"f7befe82-c1c1-4fa9-b6a2-2ca270df4e60","load_balancer":{}},{"ip":"192.168.1.254","port":5432,"name":null,"id":"add22d43-da51-43c0-abd5-3b51751c0a41","private_network":{"private_network_id":"327ccf42-2783-46f7-a05f-f5f37f020550","service_ip":"192.168.1.254/24","zone":"nl-ams-1"}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-05-20T13:08:19.223819Z","region":"nl-ams"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/nl-ams/instances/5647b218-aac5-40cf-9c8f-297e2efed3a5/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQrekNDQXVPZ0F3SUJBZ0lVTjh1aXBXU3gzRml0WGlpLys3UnhZZnNDN3BVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDFOalEzWWpJeE9DMWhZV00xCkxUUXdZMll0T1dNNFppMHlPVGRsTW1WbVpXUXpZVFV1Y21SaUxtNXNMV0Z0Y3k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd05USXdNVE13T1RRNVdoY05Nekl3TlRFM01UTXdPVFE1V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules
    method: POST
  response:
    body: '{"id":"f70e74a5-0c71-4164-b875-a6cedc573413","gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","created_at":"2022-05-20T13:11:51.212871Z","updated_at":"2022-05-20T13:11:51.212871Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/pat-rules/f70e74a5-0c71-4164-b875-a6cedc573413
    method: GET
  response:
    body: '{"id":"f70e74a5-0c71-4164-b875-a6cedc573413","gateway_id":"21504efb-0e84-4c52-8384-2a2d1fee9e09","created_at":"2022-05-20T13:11:51.212871Z","updated_at":"2022-05-20T13:11:51.212871Z","public_port":42,"private_ip":"192.168.1.1","private_port":5432,"protocol":"both","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/d64d9b02-dddf-496b-9e62-4160cc7d94fa?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateway-networks/d64d9b02-dddf-496b-9e62-4160cc7d94fa
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"d64d9b02-dddf-496b-9e62-4160cc7d94fa","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/21504efb-0e84-4c52-8384-2a2d1fee9e09?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/nl-ams-1/private-networks/327ccf42-2783-46f7-a05f-f5f37f020550
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
