---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayRdbPrivilege_Basic","engine":"PostgreSQL-12","user_name":"","password":"","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","scaleway_rdb_user","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-01-26T14:42:28.686022Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-12","id":"94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbPrivilege_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","minor_version":"14.6","name":"PostgreSQL-14","version":"14"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","minor_version":"13.9","name":"PostgreSQL-13","version":"13"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-01-26T14:42:28.686022Z","endpoint":null,"endpoints":[],"engine":"PostgreSQL-12","id":"94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbPrivilege_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","minor_version":"14.6","name":"PostgreSQL-14","version":"14"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","minor_version":"13.9","name":"PostgreSQL-13","version":"13"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-01-26T14:42:28.686022Z","endpoint":{"id":"8442bfb4-5682-4a98-bcdf-8d5e3b4aff2e","ip":"51.159.205.159","load_balancer":{},"name":null,"port":52706},"endpoints":[{"id":"8442bfb4-5682-4a98-bcdf-8d5e3b4aff2e","ip":"51.159.205.159","load_balancer":{},"name":null,"port":52706}],"engine":"PostgreSQL-12","id":"94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"TestAccScalewayRdbPrivilege_Basic","node_type":"db-dev-s","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","scaleway_rdb_user","minimal"],"upgradable_version":[{"id":"91550da0-b896-4f3a-aa4d-aa30893d0a89","minor_version":"14.6","name":"PostgreSQL-14","version":"14"},{"id":"46701e85-b5f4-479f-a92d-cc4f31a9eeb9","minor_version":"13.9","name":"PostgreSQL-13","version":"13"}],"volume":{"size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"backup_schedule_frequency":null,"backup_schedule_retention":null,"is_backup_schedule_disabled":false,"name":null,"tags":null,"logs_policy":null,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"retention":7},"created_at":"2023-01-26T14:42:28.686022Z","endpoint":{"id":"8442bfb4-5682-4a98-bcdf-8d5e3b4aff2e","ip":"51.159.2[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVYklFbEkvLzY5WUN3VFZoY0paQmtWcTJBQzZnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MDVOR0ZtWTJGak5TMWlObU0wCkxUUmhOMkV0T1dVM1pDMDROMlE1WWpRM1pqZzBZVE11Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpNd01USTJNVFEwTXpNMldoY05Nek13TVRJek1UUTBNek0yV2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
[...]
- request:
    body: '{"name":"user_01","password":"R34lP4sSw#Rd","is_admin":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/users
    method: POST
  response:
    body: '{"is_admin":true,"name":"user_01"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/users?name=user_01&order_by=name_asc
    method: GET
  response:
    body: '{"total_count":1,"users":[{"is_admin":true,"name":"user_01"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/databases
    method: POST
  response:
    body: '{"managed":true,"name":"foo","owner":"","size":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/databases?name=foo&order_by=name_asc
    method: GET
  response:
    body: '{"databases":[{"managed":true,"name":"foo","owner":"_rdb_superadmin","size":8160111}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"database_name":"foo","user_name":"user_01","permission":"all"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/privileges
    method: PUT
  response:
    body: '{"database_name":"foo","permission":"all","user_name":"user_01"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/privileges?database_name=foo&order_by=user_name_asc&user_name=user_01
    method: GET
  response:
    body: '{"privileges":[{"database_name":"foo","permission":"all","user_name":"user_01"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"database_name":"foo","user_name":"user_01","permission":"none"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/privileges
    method: PUT
  response:
    body: '{"message":"Tuple concurrently updated"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/users/user_02
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3/databases/foo
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"94afcac5-b6c4-4a7a-9e7d-87d9b47f84a3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
