---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-rdb-rr-update","engine":"PostgreSQL-14","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":true,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"load_balancer":{}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"id":"19a109c2-7a7e-42e5-a0df-ae6df2f1f9c1","name":"test-rdb-rr-update","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-14","endpoint":null,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-08-17T15:29:41.596132Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/19a109c2-7a7e-42e5-a0df-ae6df2f1f9c1
    method: GET
  response:
    body: '{"id":"19a109c2-7a7e-42e5-a0df-ae6df2f1f9c1","name":"test-rdb-rr-update","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","engine":"PostgreSQL-14","endpoint":null,"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"settings":[],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-08-17T15:29:41.596132Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/19a109c2-7a7e-42e5-a0df-ae6df2f1f9c1
    method: GET
  response:
    body: '{"id":"19a109c2-7a7e-42e5-a0df-ae6df2f1f9c1","name":"test-rdb-rr-update","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"ready","engine":"PostgreSQL-14","endpoint":{"ip":"51.159.26.67","port":53124,"name":null,"id":"5b4bd7d1-e4d4-4c91-9602-750d9ba0ac28","load_balancer":{}},"tags":["terraform-test","scaleway_rdb_read_replica","minimal"],"settings":[{"name":"work_mem","value":"4"},{"name":"max_connections","value":"100"},{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"}],"backup_schedule":{"frequency":24,"retention":7,"disabled":true},"is_ha_cluster":false,"read_replicas":[],"node_type":"db-dev-s","volume":{"type":"lssd","size":5000000000},"init_settings":[],"endpoints":[{"ip":"51.159.26.67","port":53124,"name":null,"id":"5b4bd7d1-e4d4-4c91-9602-750d9ba0ac28","load_balancer":{}}],"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"backup_same_region":false,"maintenances":[],"created_at":"2022-08-17T15:29:41.596132Z","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/19a109c2-7a7e-42e5-a0df-ae6df2f1f9c1/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ5VENDQXQyZ0F3SUJBZ0lVT3ovNm1CVUFlbzR2TGlJMUpCejhxNUtFeFRjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2dZY3hDekFKQmdOVkJBWVRBa1pTTVE0d0RBWURWUVFJREFWUVlYSnBjekVPTUF3R0ExVUVCd3dGVUdGeQphWE14RVRBUEJnTlZCQW9NQ0ZOallXeGxkMkY1TVVVd1F3WURWUVFERER4eWR5MHhPV0V4TURsak1pMDNZVGRsCkxUUXlaVFV0WVRCa1ppMWhaVFprWmpKbU1XWTVZekV1Y21SaUxtWnlMWEJoY2k1elkzY3VZMnh2ZFdRd0hoY04KTWpJd09ERTNNVFV6TURNeldoY05Nekl3T0RFME1UVXpNRE16V2pDQmh6RUxNQWtHQTFVRUJoTUNSbEl4RGpBTQpCZ05WQkFnTUJWQmhjbWx6TVE0d0R[...]
- request:
    body: '{"instance_id":"19a109c2-7a7e-42e5-a0df-ae6df2f1f9c1","endpoint_spec":[{"direct_access":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas
    method: POST
  response:
    body: '{"id":"66969501-136f-4d68-af2a-db7d84b825d2","endpoints":[],"status":"provisioning","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/66969501-136f-4d68-af2a-db7d84b825d2
    method: GET
  response:
    body: '{"id":"66969501-136f-4d68-af2a-db7d84b825d2","endpoints":[],"status":"provisioning","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tf-pn-busy-gould","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"3a77f884-79ad-4062-82bd-57e76b07aab3","name":"tf-pn-busy-gould","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-17T15:36:52.754300Z","updated_at":"2022-08-17T15:36:52.754300Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/3a77f884-79ad-4062-82bd-57e76b07aab3
    method: GET
  response:
    body: '{"id":"3a77f884-79ad-4062-82bd-57e76b07aab3","name":"tf-pn-busy-gould","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-17T15:36:52.754300Z","updated_at":"2022-08-17T15:36:52.754300Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/fd6acd7c-676a-4d37-b953-002b547c340d
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":[{"private_network":{"private_network_id":"3a77f884-79ad-4062-82bd-57e76b07aab3","service_ip":"10.12.1.0/20"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/66969501-136f-4d68-af2a-db7d84b825d2/endpoints
    method: POST
  response:
    body: '{"id":"66969501-136f-4d68-af2a-db7d84b825d2","endpoints":[{"ip":"10.12.1.0","port":5432,"name":null,"id":"2a7e32d6-889b-415b-8213-8a0cf0ec7590","private_network":{"private_network_id":"3a77f884-79ad-4062-82bd-57e76b07aab3","service_ip":"10.12.1.0/20","zone":"fr-par-1"}}],"status":"initializing","region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/read-replicas/66969501-136f-4d68-af2a-db7d84b825d2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"read_replica","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
