---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_acl","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":[{"ip":"0.0.0.0/0","description":"An
      acl description"},{"ip":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"23a563d7-f173-45ae-8138-8efd6b10df37","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"8dc670eb-640f-4ccb-b79f-dbde58ddc15d"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:31.885930Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"b21e9919-5346-4fa1-83c0-f4e910ef14ac","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"d17d602b-2cf5-4198-a43c-5fb692a019a8","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/23a563d7-f173-45ae-8138-8efd6b10df37
    method: GET
  response:
    body: '{"id":"23a563d7-f173-45ae-8138-8efd6b10df37","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"8dc670eb-640f-4ccb-b79f-dbde58ddc15d"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:31.885930Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"b21e9919-5346-4fa1-83c0-f4e910ef14ac","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"d17d602b-2cf5-4198-a43c-5fb692a019a8","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rules":[{"ip":"192.168.11.0/24","description":"Another acl description"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/23a563d7-f173-45ae-8138-8efd6b10df37/acls
    method: PUT
  response:
    body: '{"acl_rules":[{"id":"47516e59-1b33-42d7-a92b-bea8fa08306c","ip":"192.168.11.0/24","description":"Another
      acl description"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/23a563d7-f173-45ae-8138-8efd6b10df37
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"23a563d7-f173-45ae-8138-8efd6b10df37","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
