---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"e2f06847-d7f6-45fd-9fee-f4b672a2af96","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-13T13:58:29.165336Z","updated_at":"2022-06-13T13:58:29.165336Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/e2f06847-d7f6-45fd-9fee-f4b672a2af96
    method: GET
  response:
    body: '{"id":"e2f06847-d7f6-45fd-9fee-f4b672a2af96","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-13T13:58:29.165336Z","updated_at":"2022-06-13T13:58:29.165336Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"e2f06847-d7f6-45fd-9fee-f4b672a2af96","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"3e592b61-e411-4e10-ac13-60669bb4611f","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"e2f06847-d7f6-45fd-9fee-f4b672a2af96","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"85b4aa4b-8ed3-4070-9d80-c16db3bbb695"},{"port":6379,"public_network":{},"ips":[],"id":"91de22e3-47c1-4524-ace4-9d73b30de52c"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-13T13:58:29.741322Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3e592b61-e411-4e10-ac13-60669bb4611f
    method: GET
  response:
    body: '{"id":"3e592b61-e411-4e10-ac13-60669bb4611f","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"e2f06847-d7f6-45fd-9fee-f4b672a2af96","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"85b4aa4b-8ed3-4070-9d80-c16db3bbb695"},{"port":6379,"public_network":{},"ips":[],"id":"91de22e3-47c1-4524-ace4-9d73b30de52c"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-13T13:58:29.741322Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3e592b61-e411-4e10-ac13-60669bb4611f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3e592b61-e411-4e10-ac13-60669bb4611f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/7bb06d0f-20ea-4010-b847-cec3bc91af81/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["51.158.98.96"],"id":"1081e0ad-aa89-433b-8b77-327710b8fa05"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
