---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_basic","version":"6.2.6","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"a37164a5-aefa-44da-8a23-8c7a145d4ab2","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"52066ae1-2529-4db7-9133-bed8c9eab011"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-07-25T12:25:25.746612Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/a37164a5-aefa-44da-8a23-8c7a145d4ab2
    method: GET
  response:
    body: '{"id":"a37164a5-aefa-44da-8a23-8c7a145d4ab2","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"52066ae1-2529-4db7-9133-bed8c9eab011"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-07-25T12:25:25.746612Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"node_type":"RED1-S"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/a37164a5-aefa-44da-8a23-8c7a145d4ab2/migrate
    method: POST
  response:
    body: '{"id":"a37164a5-aefa-44da-8a23-8c7a145d4ab2","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":["163.172.158.82"],"id":"52066ae1-2529-4db7-9133-bed8c9eab011"}],"tags":["test1"],"node_type":"RED1-S","created_at":"2022-07-25T12:25:25.746612Z","updated_at":"2022-07-25T12:27:24.105708Z","tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/a37164a5-aefa-44da-8a23-8c7a145d4ab2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a37164a5-aefa-44da-8a23-8c7a145d4ab2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
