---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"2d47b305-3e25-4cb6-8a03-b060ec27134b","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T08:45:00.138330Z","updated_at":"2022-06-10T08:45:00.138330Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2d47b305-3e25-4cb6-8a03-b060ec27134b
    method: GET
  response:
    body: '{"id":"2d47b305-3e25-4cb6-8a03-b060ec27134b","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T08:45:00.138330Z","updated_at":"2022-06-10T08:45:00.138330Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"2d47b305-3e25-4cb6-8a03-b060ec27134b","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"113e59fc-97e7-4ad7-bda1-6ce66549320a","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"2d47b305-3e25-4cb6-8a03-b060ec27134b","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"772359c9-b41f-4022-b4a9-ca6c1a4cd2a5"},{"port":6379,"public_network":{},"ips":[],"id":"f72e8f66-79c1-4a07-81b9-8f1b20a86d87"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T08:45:00.852426Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/113e59fc-97e7-4ad7-bda1-6ce66549320a
    method: GET
  response:
    body: '{"id":"113e59fc-97e7-4ad7-bda1-6ce66549320a","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"2d47b305-3e25-4cb6-8a03-b060ec27134b","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"772359c9-b41f-4022-b4a9-ca6c1a4cd2a5"},{"port":6379,"public_network":{},"ips":[],"id":"f72e8f66-79c1-4a07-81b9-8f1b20a86d87"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T08:45:00.852426Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/113e59fc-97e7-4ad7-bda1-6ce66549320a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"113e59fc-97e7-4ad7-bda1-6ce66549320a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
