---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"2a9ac5be-640a-480d-ba63-6a0c1a6d0c87","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T15:41:43.838056Z","updated_at":"2022-06-10T15:41:43.838056Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2a9ac5be-640a-480d-ba63-6a0c1a6d0c87
    method: GET
  response:
    body: '{"id":"2a9ac5be-640a-480d-ba63-6a0c1a6d0c87","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T15:41:43.838056Z","updated_at":"2022-06-10T15:41:43.838056Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"2a9ac5be-640a-480d-ba63-6a0c1a6d0c87","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"9c8b7965-07de-4f5e-a109-1ba73c677475","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7d09023c-45d1-4a9e-9bcf-a0012e9b2997"},{"port":6379,"private_network":{"id":"2a9ac5be-640a-480d-ba63-6a0c1a6d0c87","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"fe44dfa2-614a-4c97-8a6b-624a92bae432"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T15:41:44.504117Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/9c8b7965-07de-4f5e-a109-1ba73c677475
    method: GET
  response:
    body: '{"id":"9c8b7965-07de-4f5e-a109-1ba73c677475","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7d09023c-45d1-4a9e-9bcf-a0012e9b2997"},{"port":6379,"private_network":{"id":"2a9ac5be-640a-480d-ba63-6a0c1a6d0c87","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"fe44dfa2-614a-4c97-8a6b-624a92bae432"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T15:41:44.504117Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/9c8b7965-07de-4f5e-a109-1ba73c677475
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"9c8b7965-07de-4f5e-a109-1ba73c677475","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/d7eebe91-6c36-4813-be36-712e648ee3ba/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["51.15.208.79"],"id":"61738951-b5ce-47eb-a625-1f964f13c225"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
