---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"f47dd30c-d043-47fc-aa99-81e206ddbead","name":"private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-04T15:07:53.062180Z","updated_at":"2022-10-04T15:07:53.062180Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/f47dd30c-d043-47fc-aa99-81e206ddbead
    method: GET
  response:
    body: '{"id":"f47dd30c-d043-47fc-aa99-81e206ddbead","name":"private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-04T15:07:53.062180Z","updated_at":"2022-10-04T15:07:53.062180Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints_cluster_mode","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"f47dd30c-d043-47fc-aa99-81e206ddbead","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"15051674-2667-4c91-b987-359764ec303f","name":"test_redis_endpoints_cluster_mode","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"f47dd30c-d043-47fc-aa99-81e206ddbead","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"7ea16e8b-ef7c-4c2c-947e-ddc1b1dfc5a1"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.889751Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/15051674-2667-4c91-b987-359764ec303f
    method: GET
  response:
    body: '{"id":"15051674-2667-4c91-b987-359764ec303f","name":"test_redis_endpoints_cluster_mode","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"f47dd30c-d043-47fc-aa99-81e206ddbead","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"7ea16e8b-ef7c-4c2c-947e-ddc1b1dfc5a1"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.889751Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/15051674-2667-4c91-b987-359764ec303f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"15051674-2667-4c91-b987-359764ec303f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
