---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-optimistic-mcnulty","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-22T14:46:55.155427Z","dhcp_enabled":true,"id":"df887351-2a3e-43e5-9cb8-33974c955075","name":"tf-pn-optimistic-mcnulty","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-22T14:46:55.155427Z","id":"d347d960-848c-4c00-855b-d920bb76dfb5","subnet":"172.16.20.0/22","updated_at":"2024-02-22T14:46:55.155427Z"},{"created_at":"2024-02-22T14:46:55.155427Z","id":"fdc39601-1259-477f-9698-19fb4e3f8d30","subnet":"fd63:256c:45f7:8625::/64","updated_at":"2024-02-22T14:46:55.155427Z"}],"tags":[],"updated_at":"2024-02-22T14:46:55.155427Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/df887351-2a3e-43e5-9cb8-33974c955075
    method: GET
  response:
    body: '{"created_at":"2024-02-22T14:46:55.155427Z","dhcp_enabled":true,"id":"df887351-2a3e-43e5-9cb8-33974c955075","name":"tf-pn-optimistic-mcnulty","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-22T14:46:55.155427Z","id":"d347d960-848c-4c00-855b-d920bb76dfb5","subnet":"172.16.20.0/22","updated_at":"2024-02-22T14:46:55.155427Z"},{"created_at":"2024-02-22T14:46:55.155427Z","id":"fdc39601-1259-477f-9698-19fb4e3f8d30","subnet":"fd63:256c:45f7:8625::/64","updated_at":"2024-02-22T14:46:55.155427Z"}],"tags":[],"updated_at":"2024-02-22T14:46:55.155427Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_migrate_cluster_size_ipam","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"df887351-2a3e-43e5-9cb8-33974c955075","service_ips":null,"ipam_config":{}}}],"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-02-22T14:46:56.325873Z","endpoints":[{"id":"ec2d2c77-4bea-40b9-9eae-e23a23b22525","ips":["172.16.20.2"],"port":6379,"private_network":{"id":"df887351-2a3e-43e5-9cb8-33974c955075","provisioning_mode":"ipam","service_ips":["172.16.20.2/22"],"zone":"fr-par-1"}}],"id":"a0b7f197-a0be-4d51-aeb5-3e8b147668d1","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a0b7f197-a0be-4d51-aeb5-3e8b147668d1
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-02-22T14:46:56.325873Z","endpoints":[{"id":"ec2d2c77-4bea-40b9-9eae-e23a23b22525","ips":["172.16.20.2"],"port":6379,"private_network":{"id":"df887351-2a3e-43e5-9cb8-33974c955075","provisioning_mode":"ipam","service_ips":["172.16.20.2/22"],"zone":"fr-par-1"}}],"id":"a0b7f197-a0be-4d51-aeb5-3e8b147668d1","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a0b7f197-a0be-4d51-aeb5-3e8b147668d1/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIekNDQWdlZ0F3SUJBZ0lRS1VGL1ErdS9YZVFXVDJ2c1M2N1dNekFOQmdrcWhraUc5dzBCQVFzRkFEQXkKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUmd3RmdZRFZRUURFdzh4TmpNdU1UY3lMakUzTUM0eQpOVE13SGhjTk1qUXdNakl5TVRRME56QTRXaGNOTXpRd01qRTVNVFEwTnpBNFdqQXlNUll3RkFZRFZRUUtFdzFUClkyRnNaWGRoZVZKbFpHbHpNUmd3RmdZRFZRUURFdzh4TmpNdU1UY3lMakUzTUM0eU5UTXdnZ0VpTUEwR0NTcUcKU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLQW9JQkFRQzI3akJEdkNCcjVkdXRIZG9XRkphOW95ZHlBOWZ1THBtTApIdW45aHl1dm8vZ0kvaWRoQjJxdGx[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a0b7f197-a0be-4d51-aeb5-3e8b147668d1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"a0b7f197-a0be-4d51-aeb5-3e8b147668d1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"cluster_size":5}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ac7a0965-c627-4969-97f9-18749bd7129d/migrate
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":5,"created_at":"2024-02-22T14:49:13.626880Z","endpoints":[{"id":"82d27759-0d3f-45c6-81a7-c96248329033","ips":["172.16.20.3","172.16.20.4","172.16.20.5","172.16.20.6","172.16.20.7"],"port":6379,"private_network":{"id":"df887351-2a3e-43e5-9cb8-33974c955075","provisioning_mode":"ipam","service_ips":["172.16.20.3/22","172.16.20.4/22","172.16.20.5/22","172.16.20.6/22","172.16.20.7/22"],"zone":"fr-par-1"}}],"id":"ac7a0965-c627-4969-97f9-18749bd7129d","name":"test_redis_migrate_cluster_size_ipam","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":"2024-02-22T14:51:57.339287Z","upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
