---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_basic","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"6b6fb007-4cee-4f13-a15b-bf7ff47eea19","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a9ffc1e3-8414-4fa8-a3e8-28ab97215457"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-04-25T15:20:33.428237Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/6b6fb007-4cee-4f13-a15b-bf7ff47eea19
    method: GET
  response:
    body: '{"id":"6b6fb007-4cee-4f13-a15b-bf7ff47eea19","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a9ffc1e3-8414-4fa8-a3e8-28ab97215457"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-04-25T15:20:33.428237Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/6b6fb007-4cee-4f13-a15b-bf7ff47eea19
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6b6fb007-4cee-4f13-a15b-bf7ff47eea19","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
