---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private-network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-12T07:39:46.786206Z","dhcp_enabled":false,"id":"8cb04bbe-7331-43a8-981c-324fa3d8fd3f","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:39:46.786206Z","id":"a62e0d4e-7046-4ce7-8fad-e07d8c087e28","subnet":"172.16.16.0/22","updated_at":"2023-07-12T07:39:46.786206Z"},{"created_at":"2023-07-12T07:39:46.786206Z","id":"9002ceb7-87b1-4d6a-bda0-808b4f0e29c7","subnet":"fd46:78ab:30b8:6ade::/64","updated_at":"2023-07-12T07:39:46.786206Z"}],"tags":[],"updated_at":"2023-07-12T07:39:46.786206Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8cb04bbe-7331-43a8-981c-324fa3d8fd3f
    method: GET
  response:
    body: '{"created_at":"2023-07-12T07:39:46.786206Z","dhcp_enabled":false,"id":"8cb04bbe-7331-43a8-981c-324fa3d8fd3f","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:39:46.786206Z","id":"a62e0d4e-7046-4ce7-8fad-e07d8c087e28","subnet":"172.16.16.0/22","updated_at":"2023-07-12T07:39:46.786206Z"},{"created_at":"2023-07-12T07:39:46.786206Z","id":"9002ceb7-87b1-4d6a-bda0-808b4f0e29c7","subnet":"fd46:78ab:30b8:6ade::/64","updated_at":"2023-07-12T07:39:46.786206Z"}],"tags":[],"updated_at":"2023-07-12T07:39:46.786206Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"8cb04bbe-7331-43a8-981c-324fa3d8fd3f","service_ips":["10.12.1.0/20"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-07-12T07:39:47.626659Z","endpoints":[{"id":"919f834a-55de-4556-aeaf-5704cbcbb264","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"8cb04bbe-7331-43a8-981c-324fa3d8fd3f","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"7b610172-8c0f-4d72-bf6a-8e9c3d826a81","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/7b610172-8c0f-4d72-bf6a-8e9c3d826a81
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-07-12T07:39:47.626659Z","endpoints":[{"id":"919f834a-55de-4556-aeaf-5704cbcbb264","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"8cb04bbe-7331-43a8-981c-324fa3d8fd3f","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"7b610172-8c0f-4d72-bf6a-8e9c3d826a81","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/7b610172-8c0f-4d72-bf6a-8e9c3d826a81
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7b610172-8c0f-4d72-bf6a-8e9c3d826a81","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/a2d8fefc-93aa-4e63-9139-d1359f5c7538/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"id":"4b822712-4a69-4c0a-aea3-f5b939b26b5b","ips":["163.172.150.77"],"port":6379,"public_network":{}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
