---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-determined-williamson","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["192.168.99.0/24"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-22T18:18:37.481183Z","dhcp_enabled":true,"id":"34761e5b-cf85-4777-aef9-07c8fe068eb9","name":"tf-pn-determined-williamson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-22T18:18:37.481183Z","id":"4c052d2b-b5ae-4e1f-96ec-b61d2fd35b5a","subnet":"192.168.99.0/24","updated_at":"2024-02-22T18:18:37.481183Z"},{"created_at":"2024-02-22T18:18:37.481183Z","id":"abcdee36-300e-46b2-94a7-978ed5330c6e","subnet":"fd63:256c:45f7:444b::/64","updated_at":"2024-02-22T18:18:37.481183Z"}],"tags":[],"updated_at":"2024-02-22T18:18:37.481183Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/34761e5b-cf85-4777-aef9-07c8fe068eb9
    method: GET
  response:
    body: '{"created_at":"2024-02-22T18:18:37.481183Z","dhcp_enabled":true,"id":"34761e5b-cf85-4777-aef9-07c8fe068eb9","name":"tf-pn-determined-williamson","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-02-22T18:18:37.481183Z","id":"4c052d2b-b5ae-4e1f-96ec-b61d2fd35b5a","subnet":"192.168.99.0/24","updated_at":"2024-02-22T18:18:37.481183Z"},{"created_at":"2024-02-22T18:18:37.481183Z","id":"abcdee36-300e-46b2-94a7-978ed5330c6e","subnet":"fd63:256c:45f7:444b::/64","updated_at":"2024-02-22T18:18:37.481183Z"}],"tags":[],"updated_at":"2024-02-22T18:18:37.481183Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_migrate_cluster_size_static","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"34761e5b-cf85-4777-aef9-07c8fe068eb9","service_ips":["192.168.99.1/24"],"ipam_config":null}}],"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-02-22T18:18:38.503587Z","endpoints":[{"id":"f7aa8784-0eb9-49b7-b634-1a65081a8108","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"34761e5b-cf85-4777-aef9-07c8fe068eb9","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"41513ff8-f067-4308-8461-4614403a94e1","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/41513ff8-f067-4308-8461-4614403a94e1
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2024-02-22T18:18:38.503587Z","endpoints":[{"id":"f7aa8784-0eb9-49b7-b634-1a65081a8108","ips":["192.168.99.1"],"port":6379,"private_network":{"id":"34761e5b-cf85-4777-aef9-07c8fe068eb9","provisioning_mode":"static","service_ips":["192.168.99.1/24"],"zone":"fr-par-1"}}],"id":"41513ff8-f067-4308-8461-4614403a94e1","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/41513ff8-f067-4308-8461-4614403a94e1/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIRENDQWdTZ0F3SUJBZ0lSQU42YVJ6TE42NzJUeHVYMjZrUzBEM3N3RFFZSktvWklodmNOQVFFTEJRQXcKTURFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVXTUJRR0ExVUVBeE1OTlRFdU1UVTRMakV3TkM0egpOakFlRncweU5EQXlNakl4T0RFNE5UQmFGdzB6TkRBeU1Ua3hPREU0TlRCYU1EQXhGakFVQmdOVkJBb1REVk5qCllXeGxkMkY1VW1Wa2FYTXhGakFVQmdOVkJBTVREVFV4TGpFMU9DNHhNRFF1TXpZd2dnRWlNQTBHQ1NxR1NJYjMKRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFEaCtJT3JjWGpHaXlVSDR6UVBWSXl3R1RQSVhuSzVUS2NYbWFvNgpRckcxakZaRENKZnBneDJzNUNIdit[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/41513ff8-f067-4308-8461-4614403a94e1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"41513ff8-f067-4308-8461-4614403a94e1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"cluster_size":5}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/386c0428-f6d1-4314-8263-cf2c8d787c01/migrate
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":5,"created_at":"2024-02-22T18:21:12.493516Z","endpoints":[{"id":"696c2905-fafc-4e56-8dc7-a56c64807676","ips":["192.168.99.1","192.168.99.2","192.168.99.3","192.168.99.4","192.168.99.5"],"port":6379,"private_network":{"id":"34761e5b-cf85-4777-aef9-07c8fe068eb9","provisioning_mode":"static","service_ips":["192.168.99.1/24","192.168.99.2/24","192.168.99.3/24","192.168.99.4/24","192.168.99.5/24"],"zone":"fr-par-1"}}],"id":"386c0428-f6d1-4314-8263-cf2c8d787c01","name":"test_redis_migrate_cluster_size_static","node_type":"RED1-XS","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","tags":[],"tls_enabled":true,"updated_at":"2024-02-22T18:24:05.258547Z","upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
