---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_basic","version":"6.2.6","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-2/clusters
    method: POST
  response:
    body: '{"id":"e003ae0d-67df-4744-9e9c-d562752ae26c","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"12487cfc-a446-4bc1-847d-a6783edc66c6"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:31.827041Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-2/clusters/e003ae0d-67df-4744-9e9c-d562752ae26c
    method: GET
  response:
    body: '{"id":"e003ae0d-67df-4744-9e9c-d562752ae26c","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"12487cfc-a446-4bc1-847d-a6783edc66c6"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:31.827041Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-2/clusters/e003ae0d-67df-4744-9e9c-d562752ae26c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"e003ae0d-67df-4744-9e9c-d562752ae26c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
