---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-16T16:08:53.624213Z","dhcp_enabled":true,"id":"c5198966-e19c-4312-914a-d9d2293e6dca","name":"private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:08:53.624213Z","id":"9ecdc6c4-0ff8-40a9-852d-5770d9b36293","subnet":"172.16.44.0/22","updated_at":"2023-11-16T16:08:53.624213Z"},{"created_at":"2023-11-16T16:08:53.624213Z","id":"43648550-a659-47f5-aa8a-e17cc1a65970","subnet":"fd5f:519c:6d46:a006::/64","updated_at":"2023-11-16T16:08:53.624213Z"}],"tags":[],"updated_at":"2023-11-16T16:08:53.624213Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c5198966-e19c-4312-914a-d9d2293e6dca
    method: GET
  response:
    body: '{"created_at":"2023-11-16T16:08:53.624213Z","dhcp_enabled":true,"id":"c5198966-e19c-4312-914a-d9d2293e6dca","name":"private-network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2023-11-16T16:08:53.624213Z","id":"9ecdc6c4-0ff8-40a9-852d-5770d9b36293","subnet":"172.16.44.0/22","updated_at":"2023-11-16T16:08:53.624213Z"},{"created_at":"2023-11-16T16:08:53.624213Z","id":"43648550-a659-47f5-aa8a-e17cc1a65970","subnet":"fd5f:519c:6d46:a006::/64","updated_at":"2023-11-16T16:08:53.624213Z"}],"tags":[],"updated_at":"2023-11-16T16:08:53.624213Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints_cluster_mode","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"c5198966-e19c-4312-914a-d9d2293e6dca","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2023-11-16T16:08:54.627975Z","endpoints":[{"id":"12b9b58f-70a3-4dab-99da-0edf56f19ff6","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"c5198966-e19c-4312-914a-d9d2293e6dca","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"16ce0a67-651d-4d88-9914-106daed15cf4","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/16ce0a67-651d-4d88-9914-106daed15cf4
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2023-11-16T16:08:54.627975Z","endpoints":[{"id":"12b9b58f-70a3-4dab-99da-0edf56f19ff6","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"c5198966-e19c-4312-914a-d9d2293e6dca","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"16ce0a67-651d-4d88-9914-106daed15cf4","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/16ce0a67-651d-4d88-9914-106daed15cf4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"16ce0a67-651d-4d88-9914-106daed15cf4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
