---
version: 1
interactions:
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_basic","version":"6.2.6","tags":["test1"],"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"3eee4a57-ac05-46a0-9fce-86fb57a3cfcd","name":"test_redis_basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"4b3d92f7-0761-42f5-9d2e-09f588215c20"}],"tags":["test1"],"node_type":"MDB-BETA-M","created_at":"2022-04-27T11:51:49.115139Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3eee4a57-ac05-46a0-9fce-86fb57a3cfcd
    method: GET
  response:
    body: '{"id":"3eee4a57-ac05-46a0-9fce-86fb57a3cfcd","name":"test_redis_basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"4b3d92f7-0761-42f5-9d2e-09f588215c20"}],"tags":["test1"],"node_type":"MDB-BETA-M","created_at":"2022-04-27T11:51:49.115139Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3eee4a57-ac05-46a0-9fce-86fb57a3cfcd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3eee4a57-ac05-46a0-9fce-86fb57a3cfcd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
