---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_settings","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":[{"value":"5000","name":"maxclients"},{"value":"150","name":"tcp-keepalive"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"8d24746e-71a7-4f48-a04f-bc651cf904d9","name":"test_redis_settings","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a1216cc7-84c7-4f6d-ac7d-87331c3b4e83"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.385789Z","updated_at":null,"tls_enabled":false,"cluster_settings":[{"value":"5000","name":"maxclients"},{"value":"150","name":"tcp-keepalive"}],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/8d24746e-71a7-4f48-a04f-bc651cf904d9
    method: GET
  response:
    body: '{"id":"8d24746e-71a7-4f48-a04f-bc651cf904d9","name":"test_redis_settings","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a1216cc7-84c7-4f6d-ac7d-87331c3b4e83"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.385789Z","updated_at":null,"tls_enabled":false,"cluster_settings":[{"value":"5000","name":"maxclients"},{"value":"150","name":"tcp-keepalive"}],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"settings":[{"value":"2000","name":"maxclients"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/8d24746e-71a7-4f48-a04f-bc651cf904d9/settings
    method: PUT
  response:
    body: '{"settings":[{"value":"2000","name":"maxclients"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/8d24746e-71a7-4f48-a04f-bc651cf904d9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"8d24746e-71a7-4f48-a04f-bc651cf904d9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
