---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"1677dcde-70e1-47c9-a975-c24459aa77cf","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-01T12:10:56.643225Z","updated_at":"2022-08-01T12:10:56.643225Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/1677dcde-70e1-47c9-a975-c24459aa77cf
    method: GET
  response:
    body: '{"id":"1677dcde-70e1-47c9-a975-c24459aa77cf","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-01T12:10:56.643225Z","updated_at":"2022-08-01T12:10:56.643225Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_endpoints_cluster_mode","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"1677dcde-70e1-47c9-a975-c24459aa77cf","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"5905edc8-242e-49c5-9d62-211840287111","name":"test_redis_endpoints_cluster_mode","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"1677dcde-70e1-47c9-a975-c24459aa77cf","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"82bcf5d0-fc65-4e41-ba02-925b0fede5e9"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T12:10:57.592211Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/5905edc8-242e-49c5-9d62-211840287111
    method: GET
  response:
    body: '{"id":"5905edc8-242e-49c5-9d62-211840287111","name":"test_redis_endpoints_cluster_mode","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"1677dcde-70e1-47c9-a975-c24459aa77cf","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"82bcf5d0-fc65-4e41-ba02-925b0fede5e9"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T12:10:57.592211Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/5905edc8-242e-49c5-9d62-211840287111
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"5905edc8-242e-49c5-9d62-211840287111","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
