---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"d5599cec-712c-41c0-9b4f-ae00253a17a3","name":"private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-04T15:07:53.124438Z","updated_at":"2022-10-04T15:07:53.124438Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d5599cec-712c-41c0-9b4f-ae00253a17a3
    method: GET
  response:
    body: '{"id":"d5599cec-712c-41c0-9b4f-ae00253a17a3","name":"private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-10-04T15:07:53.124438Z","updated_at":"2022-10-04T15:07:53.124438Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"d5599cec-712c-41c0-9b4f-ae00253a17a3","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"6043cad8-cbe2-4967-ab43-d8fb0aafae81","name":"test_redis_endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"d5599cec-712c-41c0-9b4f-ae00253a17a3","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"07fc54c1-696f-445b-a26a-1f50b2401644"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.997825Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6043cad8-cbe2-4967-ab43-d8fb0aafae81
    method: GET
  response:
    body: '{"id":"6043cad8-cbe2-4967-ab43-d8fb0aafae81","name":"test_redis_endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"d5599cec-712c-41c0-9b4f-ae00253a17a3","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"07fc54c1-696f-445b-a26a-1f50b2401644"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.997825Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6043cad8-cbe2-4967-ab43-d8fb0aafae81
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6043cad8-cbe2-4967-ab43-d8fb0aafae81","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/fb06f268-d837-4785-be35-ce87b5fb68bb/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["51.15.244.28"],"id":"47293e1c-6299-42a9-85ea-128052c4de97"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
