---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"b8763adb-8806-4bfb-9e7e-3230ab127d4d","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T14:00:39.219495Z","updated_at":"2022-06-10T14:00:39.219495Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b8763adb-8806-4bfb-9e7e-3230ab127d4d
    method: GET
  response:
    body: '{"id":"b8763adb-8806-4bfb-9e7e-3230ab127d4d","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T14:00:39.219495Z","updated_at":"2022-06-10T14:00:39.219495Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"b8763adb-8806-4bfb-9e7e-3230ab127d4d","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"b2ea5952-fd25-456b-a225-843a6e7ec9ef","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"f64c3641-a7dd-4f0f-9329-9011d61e89f8"},{"port":6379,"private_network":{"id":"b8763adb-8806-4bfb-9e7e-3230ab127d4d","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"49b5b8d0-5687-4464-84e1-c73ff9ae8640"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T14:00:39.874032Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/b2ea5952-fd25-456b-a225-843a6e7ec9ef
    method: GET
  response:
    body: '{"id":"b2ea5952-fd25-456b-a225-843a6e7ec9ef","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"f64c3641-a7dd-4f0f-9329-9011d61e89f8"},{"port":6379,"private_network":{"id":"b8763adb-8806-4bfb-9e7e-3230ab127d4d","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"49b5b8d0-5687-4464-84e1-c73ff9ae8640"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T14:00:39.874032Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/b2ea5952-fd25-456b-a225-843a6e7ec9ef
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b2ea5952-fd25-456b-a225-843a6e7ec9ef","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/de008eb7-8c26-42c0-a2a1-bb5480074450/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["51.15.208.79"],"id":"a892bdf3-9069-4599-b6fb-ea2f9cf93d79"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
