---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"fba17ed2-2cbe-4ae9-8782-a562fdb0964c","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-13T15:08:05.595493Z","updated_at":"2022-06-13T15:08:05.595493Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/fba17ed2-2cbe-4ae9-8782-a562fdb0964c
    method: GET
  response:
    body: '{"id":"fba17ed2-2cbe-4ae9-8782-a562fdb0964c","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-13T15:08:05.595493Z","updated_at":"2022-06-13T15:08:05.595493Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"fba17ed2-2cbe-4ae9-8782-a562fdb0964c","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"3036e2b5-a224-482a-8c35-f38470db806e","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"fba17ed2-2cbe-4ae9-8782-a562fdb0964c","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"cbc4b6fe-bc2a-46aa-99cd-9b53305a2472"},{"port":6379,"public_network":{},"ips":[],"id":"21654c3d-4af4-45cc-b72c-58c07879f06e"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-13T15:08:06.196200Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3036e2b5-a224-482a-8c35-f38470db806e
    method: GET
  response:
    body: '{"id":"3036e2b5-a224-482a-8c35-f38470db806e","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"fba17ed2-2cbe-4ae9-8782-a562fdb0964c","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"cbc4b6fe-bc2a-46aa-99cd-9b53305a2472"},{"port":6379,"public_network":{},"ips":[],"id":"21654c3d-4af4-45cc-b72c-58c07879f06e"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-13T15:08:06.196200Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3036e2b5-a224-482a-8c35-f38470db806e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3036e2b5-a224-482a-8c35-f38470db806e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/19999207-f157-48aa-9fb9-b69a2d87e39c/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["51.158.79.58"],"id":"8537c5c1-c006-4a7b-a088-8bd775a7c885"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
