---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":1,"versions":[{"version":"6.2.7","end_of_life_at":"2023-02-28T00:00:00Z","available_settings":[{"name":"tcp-keepalive","default_value":"300","type":"INT","description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"regex":null,"deprecated":false},{"name":"maxmemory-policy","default_value":"noeviction","type":"STRING","description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","deprecated":false},{"name":"maxclients","default_value":"10000","type":"INT","description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"regex":null,"deprecated":false}],"logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private-network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"0b8d582e-7109-4fcc-8deb-2c4b067e6914","name":"private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-23T13:57:56.534513Z","updated_at":"2022-11-23T13:57:56.534513Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/0b8d582e-7109-4fcc-8deb-2c4b067e6914
    method: GET
  response:
    body: '{"id":"0b8d582e-7109-4fcc-8deb-2c4b067e6914","name":"private-network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-23T13:57:56.534513Z","updated_at":"2022-11-23T13:57:56.534513Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_endpoints","version":"6.2.7","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"0b8d582e-7109-4fcc-8deb-2c4b067e6914","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"ee9ba902-52b2-4bd2-aeba-e1e5ea45f79f","name":"test_redis_endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.7","endpoints":[{"port":6379,"private_network":{"id":"0b8d582e-7109-4fcc-8deb-2c4b067e6914","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"6b5ac115-bc6a-463e-83b9-9d25174b3259"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-11-23T13:57:57.379011Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"my_initial_user","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ee9ba902-52b2-4bd2-aeba-e1e5ea45f79f
    method: GET
  response:
    body: '{"id":"ee9ba902-52b2-4bd2-aeba-e1e5ea45f79f","name":"test_redis_endpoints","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.7","endpoints":[{"port":6379,"private_network":{"id":"0b8d582e-7109-4fcc-8deb-2c4b067e6914","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"6b5ac115-bc6a-463e-83b9-9d25174b3259"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-11-23T13:57:57.379011Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"my_initial_user","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/ee9ba902-52b2-4bd2-aeba-e1e5ea45f79f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"ee9ba902-52b2-4bd2-aeba-e1e5ea45f79f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/278a11b2-58b4-44a4-84b6-17f6525640cb/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["51.158.97.96"],"id":"c3ed6f88-32a7-4b4e-89da-3ce74497c670"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
