---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":1,"versions":[{"version":"6.2.7","end_of_life_at":"2023-02-28T00:00:00Z","available_settings":[{"name":"tcp-keepalive","default_value":"300","type":"BOOLEAN","description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"regex":null,"deprecated":false},{"name":"maxmemory-policy","default_value":"noeviction","type":"INT","description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","deprecated":false},{"name":"maxclients","default_value":"10000","type":"BOOLEAN","description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"regex":null,"deprecated":false}],"logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_basic","version":"6.2.7","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"b30743bf-ef14-4804-a96e-94ece935ec16","name":"test_redis_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.7","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"6677443f-8ed0-4640-9b10-1456ef9c1187"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-11-03T15:49:25.125277Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"my_initial_user","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/b30743bf-ef14-4804-a96e-94ece935ec16
    method: GET
  response:
    body: '{"id":"b30743bf-ef14-4804-a96e-94ece935ec16","name":"test_redis_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.7","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"6677443f-8ed0-4640-9b10-1456ef9c1187"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-11-03T15:49:25.125277Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"my_initial_user","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/b30743bf-ef14-4804-a96e-94ece935ec16/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJRENDQWdpZ0F3SUJBZ0lSQU5OcGgzNjJYWWVXS1ZLSCtSanduUnN3RFFZSktvWklodmNOQVFFTEJRQXcKTWpFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVZTUJZR0ExVUVBeE1QTVRZekxqRTNNaTR4TXpndQpNVGt6TUI0WERUSXlNVEV3TXpFMU5Ea3pPVm9YRFRNeU1UQXpNVEUxTkRrek9Wb3dNakVXTUJRR0ExVUVDaE1OClUyTmhiR1YzWVhsU1pXUnBjekVZTUJZR0ExVUVBeE1QTVRZekxqRTNNaTR4TXpndU1Ua3pNSUlCSWpBTkJna3EKaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFyUGVjdEZ3bElvaHlxWjVIdFNxbm41NUM5dURIbFhjVwpCaUcza2N2VUxITkNTS1Q1WFpBT0N[...]
[...]
- request:
    body: '{"node_type":"RED1-S"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/b30743bf-ef14-4804-a96e-94ece935ec16/migrate
    method: POST
  response:
    body: '{"id":"b30743bf-ef14-4804-a96e-94ece935ec16","name":"test_redis_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.7","endpoints":[{"port":6379,"public_network":{},"ips":["163.172.138.193"],"id":"6677443f-8ed0-4640-9b10-1456ef9c1187"}],"tags":["test1"],"node_type":"RED1-S","created_at":"2022-11-03T15:49:25.125277Z","updated_at":"2022-11-03T15:50:55.223795Z","tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"user_name":"my_initial_user","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/b30743bf-ef14-4804-a96e-94ece935ec16
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"b30743bf-ef14-4804-a96e-94ece935ec16","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
