---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"f7badef5-7fa3-4772-9f3a-71bfd26df317","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-05-06T16:24:48.107199Z","updated_at":"2022-05-06T16:24:48.107199Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/f7badef5-7fa3-4772-9f3a-71bfd26df317
    method: GET
  response:
    body: '{"id":"f7badef5-7fa3-4772-9f3a-71bfd26df317","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-05-06T16:24:48.107199Z","updated_at":"2022-05-06T16:24:48.107199Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"f7badef5-7fa3-4772-9f3a-71bfd26df317","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"3b6936a3-a298-4505-a894-3eb338aefef9","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"f7badef5-7fa3-4772-9f3a-71bfd26df317","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"c1fb8ff0-b072-46f9-aecf-dd8bd11e927c"},{"port":6379,"public_network":{},"ips":[],"id":"66e1424a-6a3a-4405-94d5-a13232af9d09"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-05-06T16:24:48.762715Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3b6936a3-a298-4505-a894-3eb338aefef9
    method: GET
  response:
    body: '{"id":"3b6936a3-a298-4505-a894-3eb338aefef9","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"f7badef5-7fa3-4772-9f3a-71bfd26df317","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"c1fb8ff0-b072-46f9-aecf-dd8bd11e927c"},{"port":6379,"public_network":{},"ips":[],"id":"66e1424a-6a3a-4405-94d5-a13232af9d09"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-05-06T16:24:48.762715Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"private_network":{"id":"f7badef5-7fa3-4772-9f3a-71bfd26df317","service_ips":["10.12.1.0/20"]}},{"private_network":{"id":"c3308e92-42b3-46bb-96f7-1aee05c7589e","service_ips":["192.168.1.0/20"]}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3b6936a3-a298-4505-a894-3eb338aefef9/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"private_network":{"id":"f7badef5-7fa3-4772-9f3a-71bfd26df317","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"49052576-3d24-4e34-a0da-3ffcc06fe6b6"},{"port":6379,"private_network":{"id":"c3308e92-42b3-46bb-96f7-1aee05c7589e","service_ips":["192.168.1.0/20"],"zone":"fr-par-1"},"ips":["192.168.1.0"],"id":"a33522b8-8178-4877-b3fa-042fec6c55ef"}],"total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/c3308e92-42b3-46bb-96f7-1aee05c7589e
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3b6936a3-a298-4505-a894-3eb338aefef9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3b6936a3-a298-4505-a894-3eb338aefef9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
