---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdnm])(?!.*\\1))+$","type":"STRING"},{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"},{"default_value":"\"\"","deprecated":false,"description":"Configure
      the keyspace event notification feature","max_value":null,"min_value":null,"name":"notify-keyspace-events","regex":"^(?:([KEg$lshzxetdm])(?!.*\\1))+$","type":"STRING"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_basic","version":"7.0.5","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-11-16T16:08:53.563622Z","endpoints":[{"id":"f5047fce-37b9-44b0-9b4e-a231df41a6e1","ips":[],"port":6379,"public_network":{}}],"id":"c328c68f-c84a-4f39-ba14-1ecd0a70234b","name":"test_redis_basic","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":["test1"],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c328c68f-c84a-4f39-ba14-1ecd0a70234b
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-11-16T16:08:53.563622Z","endpoints":[{"id":"f5047fce-37b9-44b0-9b4e-a231df41a6e1","ips":[],"port":6379,"public_network":{}}],"id":"c328c68f-c84a-4f39-ba14-1ecd0a70234b","name":"test_redis_basic","node_type":"RED1-XS","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":["test1"],"tls_enabled":true,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c328c68f-c84a-4f39-ba14-1ecd0a70234b/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURIRENDQWdTZ0F3SUJBZ0lSQUtIUXF2MjBVczk4V1lGSTUwUVlwQUl3RFFZSktvWklodmNOQVFFTEJRQXcKTURFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVXTUJRR0ExVUVBeE1OTlRFdU1UVTRMakV3Tnk0NApNekFlRncweU16RXhNVFl4TmpBNU1UTmFGdzB6TXpFeE1UTXhOakE1TVROYU1EQXhGakFVQmdOVkJBb1REVk5qCllXeGxkMkY1VW1Wa2FYTXhGakFVQmdOVkJBTVREVFV4TGpFMU9DNHhNRGN1T0RNd2dnRWlNQTBHQ1NxR1NJYjMKRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFEbTFEcHY3RUMraGlkbDZFZm1DUzlYaWZoaU5wZVNCRUhsdUpiSApqTnd1TGlqSnhuQ2p3akw4cmR2UnJ[...]
[...]
- request:
    body: '{"node_type":"RED1-S"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c328c68f-c84a-4f39-ba14-1ecd0a70234b/migrate
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-11-16T16:08:53.563622Z","endpoints":[{"id":"f5047fce-37b9-44b0-9b4e-a231df41a6e1","ips":["51.158.107.83"],"port":6379,"public_network":{}}],"id":"c328c68f-c84a-4f39-ba14-1ecd0a70234b","name":"test_redis_basic","node_type":"RED1-S","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","tags":["test1"],"tls_enabled":true,"updated_at":"2023-11-16T16:10:41.178957Z","upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/c328c68f-c84a-4f39-ba14-1ecd0a70234b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"c328c68f-c84a-4f39-ba14-1ecd0a70234b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
