---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private-network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-06T15:11:50.828487Z","id":"a4408b72-1330-4e3a-b90a-e9da877196f6","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.4.0/22","fd46:78ab:30b8:6aef::/64"],"tags":[],"updated_at":"2023-07-06T15:11:50.828487Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a4408b72-1330-4e3a-b90a-e9da877196f6
    method: GET
  response:
    body: '{"created_at":"2023-07-06T15:11:50.828487Z","id":"a4408b72-1330-4e3a-b90a-e9da877196f6","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.4.0/22","fd46:78ab:30b8:6aef::/64"],"tags":[],"updated_at":"2023-07-06T15:11:50.828487Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints_cluster_mode","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"a4408b72-1330-4e3a-b90a-e9da877196f6","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2023-07-06T15:11:51.640385Z","endpoints":[{"id":"85d243eb-8eac-461b-9bef-b7ec7e9fc393","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"a4408b72-1330-4e3a-b90a-e9da877196f6","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"2249a905-b503-4b42-88c9-0e9680a8cacb","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/2249a905-b503-4b42-88c9-0e9680a8cacb
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":3,"created_at":"2023-07-06T15:11:51.640385Z","endpoints":[{"id":"85d243eb-8eac-461b-9bef-b7ec7e9fc393","ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"port":6379,"private_network":{"id":"a4408b72-1330-4e3a-b90a-e9da877196f6","provisioning_mode":"static","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"}}],"id":"2249a905-b503-4b42-88c9-0e9680a8cacb","name":"test_redis_endpoints_cluster_mode","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/2249a905-b503-4b42-88c9-0e9680a8cacb
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2249a905-b503-4b42-88c9-0e9680a8cacb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
