---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_basic","version":"6.2.6","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"00d7ea35-f41f-40c0-8261-f8e29c986b88","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"70b0e882-ba31-4ab2-8331-b15eace5c2ac"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-04-27T12:14:39.870476Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/00d7ea35-f41f-40c0-8261-f8e29c986b88
    method: GET
  response:
    body: '{"id":"00d7ea35-f41f-40c0-8261-f8e29c986b88","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"70b0e882-ba31-4ab2-8331-b15eace5c2ac"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-04-27T12:14:39.870476Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"node_type":"MDB-BETA-L"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/00d7ea35-f41f-40c0-8261-f8e29c986b88/migrate
    method: POST
  response:
    body: '{"id":"00d7ea35-f41f-40c0-8261-f8e29c986b88","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":["51.158.79.58"],"id":"70b0e882-ba31-4ab2-8331-b15eace5c2ac"}],"tags":["test1"],"node_type":"MDB-BETA-L","created_at":"2022-04-27T12:14:39.870476Z","updated_at":"2022-04-27T12:16:04.939978Z","tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/00d7ea35-f41f-40c0-8261-f8e29c986b88
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"00d7ea35-f41f-40c0-8261-f8e29c986b88","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
