---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"adf0a5a5-0953-4b41-beda-17863a7eab3d","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-01T11:45:22.738300Z","updated_at":"2022-08-01T11:45:22.738300Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/adf0a5a5-0953-4b41-beda-17863a7eab3d
    method: GET
  response:
    body: '{"id":"adf0a5a5-0953-4b41-beda-17863a7eab3d","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-01T11:45:22.738300Z","updated_at":"2022-08-01T11:45:22.738300Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"adf0a5a5-0953-4b41-beda-17863a7eab3d","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"3601fc4c-4d42-490f-a541-5ad4aaea917e","name":"test_redis_endpoints","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"adf0a5a5-0953-4b41-beda-17863a7eab3d","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"8eb675d2-7889-4c50-8995-f9614b5143ce"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:23.421410Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3601fc4c-4d42-490f-a541-5ad4aaea917e
    method: GET
  response:
    body: '{"id":"3601fc4c-4d42-490f-a541-5ad4aaea917e","name":"test_redis_endpoints","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"adf0a5a5-0953-4b41-beda-17863a7eab3d","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"8eb675d2-7889-4c50-8995-f9614b5143ce"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:23.421410Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3601fc4c-4d42-490f-a541-5ad4aaea917e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3601fc4c-4d42-490f-a541-5ad4aaea917e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/8e437290-b194-47f6-a410-68a5dafa9076/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["51.15.208.245"],"id":"ac407777-77ad-4860-beeb-a20b9f401bec"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
