---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_basic","version":"6.2.6","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"4cccb532-0dd9-4af1-a409-aa3771084977","name":"test_redis_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a9eb1237-4789-456b-80c1-9998add94178"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.474171Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4cccb532-0dd9-4af1-a409-aa3771084977
    method: GET
  response:
    body: '{"id":"4cccb532-0dd9-4af1-a409-aa3771084977","name":"test_redis_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a9eb1237-4789-456b-80c1-9998add94178"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.474171Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4cccb532-0dd9-4af1-a409-aa3771084977/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURHakNDQWdLZ0F3SUJBZ0lSQUtscDhtNEVnV3g2RzcrR3NpaXY2TzB3RFFZSktvWklodmNOQVFFTEJRQXcKTHpFV01CUUdBMVVFQ2hNTlUyTmhiR1YzWVhsU1pXUnBjekVWTUJNR0ExVUVBeE1NTlRFdU1UVTRMamszTGprMgpNQjRYRFRJeU1UQXdOREUxTURneE4xb1hEVE15TVRBd01URTFNRGd4TjFvd0x6RVdNQlFHQTFVRUNoTU5VMk5oCmJHVjNZWGxTWldScGN6RVZNQk1HQTFVRUF4TU1OVEV1TVRVNExqazNMamsyTUlJQklqQU5CZ2txaGtpRzl3MEIKQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBdjBvQUIyeGQ5MFZXZ3F2OHp0MUlFSUlZdG83SExZdEM3Z2tmZmJIUwpPZFQ2RjJpM2QyVGlHUUdwbmlFRjF[...]
[...]
- request:
    body: '{"node_type":"RED1-S"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4cccb532-0dd9-4af1-a409-aa3771084977/migrate
    method: POST
  response:
    body: '{"id":"4cccb532-0dd9-4af1-a409-aa3771084977","name":"test_redis_basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":["51.158.97.96"],"id":"a9eb1237-4789-456b-80c1-9998add94178"}],"tags":["test1"],"node_type":"RED1-S","created_at":"2022-10-04T15:07:53.474171Z","updated_at":"2022-10-04T15:09:49.543858Z","tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/4cccb532-0dd9-4af1-a409-aa3771084977
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"4cccb532-0dd9-4af1-a409-aa3771084977","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
