---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a5ada384-ea3c-41e3-8b10-3a513cf80620","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-25T12:41:44.518154Z","updated_at":"2022-07-25T12:41:44.518154Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a5ada384-ea3c-41e3-8b10-3a513cf80620
    method: GET
  response:
    body: '{"id":"a5ada384-ea3c-41e3-8b10-3a513cf80620","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-25T12:41:44.518154Z","updated_at":"2022-07-25T12:41:44.518154Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"a5ada384-ea3c-41e3-8b10-3a513cf80620","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"7edf8a71-51a4-46ae-91ad-0cd8828558bd","name":"test_redis_endpoints","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"a5ada384-ea3c-41e3-8b10-3a513cf80620","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"34e272dc-0810-438d-9cd5-81a2bf335e6d"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:41:45.284917Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/7edf8a71-51a4-46ae-91ad-0cd8828558bd
    method: GET
  response:
    body: '{"id":"7edf8a71-51a4-46ae-91ad-0cd8828558bd","name":"test_redis_endpoints","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"a5ada384-ea3c-41e3-8b10-3a513cf80620","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"34e272dc-0810-438d-9cd5-81a2bf335e6d"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:41:45.284917Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/7edf8a71-51a4-46ae-91ad-0cd8828558bd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"7edf8a71-51a4-46ae-91ad-0cd8828558bd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/5e23ee76-cf2c-4f0b-be21-377e373b8e2e/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"public_network":{},"ips":["163.172.158.82"],"id":"85bd7177-1b50-4b78-ac38-4e820fce8594"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
