---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_basic","version":"6.2.6","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7790d451-00ec-417f-8fda-7b1d87793c1d"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:22.951756Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927
    method: GET
  response:
    body: '{"id":"f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7790d451-00ec-417f-8fda-7b1d87793c1d"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:22.951756Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927/certificate
    method: GET
  response:
    body: '{"name":"ssl_certificate","content_type":"application/x-pem-file","content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURDakNDQWZLZ0F3SUJBZ0lRWkhJTENvQmE2VFdkcjFmeFFHT3dwakFOQmdrcWhraUc5dzBCQVFzRkFEQXcKTVJZd0ZBWURWUVFLRXcxVFkyRnNaWGRoZVZKbFpHbHpNUll3RkFZRFZRUURFdzB5TVRJdU5EY3VNak16TGpNeQpNQjRYRFRJeU1EZ3dNVEV4TkRVME1Wb1hEVE15TURjeU9URXhORFUwTVZvd01ERVdNQlFHQTFVRUNoTU5VMk5oCmJHVjNZWGxTWldScGN6RVdNQlFHQTFVRUF4TU5NakV5TGpRM0xqSXpNeTR6TWpDQ0FTSXdEUVlKS29aSWh2Y04KQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQUp5aFc4R3hadlZWK08yemtyTCtGV3Jrc1F4N0paK2RPbCtuWmFGMAprZW85SCt3WmdEZ2hWUFBmQU85bkp[...]
[...]
- request:
    body: '{"node_type":"RED1-S"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927/migrate
    method: POST
  response:
    body: '{"id":"f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":["212.47.233.32"],"id":"7790d451-00ec-417f-8fda-7b1d87793c1d"}],"tags":["test1"],"node_type":"RED1-S","created_at":"2022-08-01T11:45:22.951756Z","updated_at":"2022-08-01T11:46:59.553111Z","tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"f6d7aa7d-ea24-4d7f-9636-dfe1e82b1927","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
