---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"c3da9695-a50f-4ead-b0e3-1cf2ea550982","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-09T09:14:53.351706Z","updated_at":"2022-06-09T09:14:53.351706Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/c3da9695-a50f-4ead-b0e3-1cf2ea550982
    method: GET
  response:
    body: '{"id":"c3da9695-a50f-4ead-b0e3-1cf2ea550982","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-09T09:14:53.351706Z","updated_at":"2022-06-09T09:14:53.351706Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"c3da9695-a50f-4ead-b0e3-1cf2ea550982","service_ips":["10.12.1.0/20"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"c955ad5d-dd5b-4ae5-88e0-63e5b3de3bb4","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"c3da9695-a50f-4ead-b0e3-1cf2ea550982","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"c16dac10-c794-45db-b954-08c65a52469e"},{"port":6379,"public_network":{},"ips":[],"id":"fd1f8dd5-967e-43cf-8553-c0e4a3c92e03"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-09T09:14:53.951397Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/c955ad5d-dd5b-4ae5-88e0-63e5b3de3bb4
    method: GET
  response:
    body: '{"id":"c955ad5d-dd5b-4ae5-88e0-63e5b3de3bb4","name":"test_redis_endpoints","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"c3da9695-a50f-4ead-b0e3-1cf2ea550982","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"},"ips":["10.12.1.0"],"id":"c16dac10-c794-45db-b954-08c65a52469e"},{"port":6379,"public_network":{},"ips":[],"id":"fd1f8dd5-967e-43cf-8553-c0e4a3c92e03"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-09T09:14:53.951397Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"private_network":{"id":"c3da9695-a50f-4ead-b0e3-1cf2ea550982","service_ips":["192.168.1.0/20"]}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/c955ad5d-dd5b-4ae5-88e0-63e5b3de3bb4/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"port":6379,"private_network":{"id":"c3da9695-a50f-4ead-b0e3-1cf2ea550982","service_ips":["192.168.1.0/20"],"zone":"fr-par-1"},"ips":["192.168.1.0"],"id":"0bed9688-edbf-42f5-8de6-e25ec6f58a09"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/c955ad5d-dd5b-4ae5-88e0-63e5b3de3bb4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"c955ad5d-dd5b-4ae5-88e0-63e5b3de3bb4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
