---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_acl","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":[{"ip":"0.0.0.0/0","description":"An
      acl description"},{"ip":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"6981521e-201b-4b6d-a3ae-fbbaab6810a7","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"71de48a6-67cd-4050-9c29-47002cbb6167"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-11T12:29:36.846848Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"21701b15-1aae-478c-8730-3c67dea99df0","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"f44e25d3-6290-4527-a5ca-963ac46601f8","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/6981521e-201b-4b6d-a3ae-fbbaab6810a7
    method: GET
  response:
    body: '{"id":"6981521e-201b-4b6d-a3ae-fbbaab6810a7","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"71de48a6-67cd-4050-9c29-47002cbb6167"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-11T12:29:36.846848Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"21701b15-1aae-478c-8730-3c67dea99df0","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"f44e25d3-6290-4527-a5ca-963ac46601f8","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rules":[{"ip":"192.168.11.0/24","description":"Another acl description"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/6981521e-201b-4b6d-a3ae-fbbaab6810a7/acls
    method: PUT
  response:
    body: '{"acl_rules":[{"id":"ae2eaab8-0d25-43d4-ab3d-bc12f899d6a3","ip":"192.168.11.0/24","description":"Another
      acl description"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/6981521e-201b-4b6d-a3ae-fbbaab6810a7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6981521e-201b-4b6d-a3ae-fbbaab6810a7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
