---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_no_certificate","version":"6.2.6","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-2/clusters
    method: POST
  response:
    body: '{"id":"ebf62d55-6be4-4eb1-bc32-81cc28cd1585","name":"test_redis_no_certificate","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7555f9b4-d40f-4071-b8d2-abe5dcec5729"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-08-01T11:40:18.186801Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-2/clusters/ebf62d55-6be4-4eb1-bc32-81cc28cd1585
    method: GET
  response:
    body: '{"id":"ebf62d55-6be4-4eb1-bc32-81cc28cd1585","name":"test_redis_no_certificate","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7555f9b4-d40f-4071-b8d2-abe5dcec5729"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-08-01T11:40:18.186801Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-2/clusters/ebf62d55-6be4-4eb1-bc32-81cc28cd1585
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"ebf62d55-6be4-4eb1-bc32-81cc28cd1585","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
