---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: '{"name":"private-network","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"3819cfa6-e870-4e1c-b6f0-471103f27972","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-01T11:45:24.886858Z","updated_at":"2022-08-01T11:45:24.886858Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/3819cfa6-e870-4e1c-b6f0-471103f27972
    method: GET
  response:
    body: '{"id":"3819cfa6-e870-4e1c-b6f0-471103f27972","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-08-01T11:45:24.886858Z","updated_at":"2022-08-01T11:45:24.886858Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_endpoints_cluster_mode","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"3819cfa6-e870-4e1c-b6f0-471103f27972","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"2e3ef34c-3586-4b79-8604-ffd626428905","name":"test_redis_endpoints_cluster_mode","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"3819cfa6-e870-4e1c-b6f0-471103f27972","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"7feda4b5-12fc-424c-839e-c81a53d93fb1"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:25.723851Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/2e3ef34c-3586-4b79-8604-ffd626428905
    method: GET
  response:
    body: '{"id":"2e3ef34c-3586-4b79-8604-ffd626428905","name":"test_redis_endpoints_cluster_mode","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"3819cfa6-e870-4e1c-b6f0-471103f27972","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"7feda4b5-12fc-424c-839e-c81a53d93fb1"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:25.723851Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/2e3ef34c-3586-4b79-8604-ffd626428905
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"2e3ef34c-3586-4b79-8604-ffd626428905","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
