---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"f948813c-d802-473e-9c8f-45a7fecfdafd","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-25T12:15:31.643997Z","updated_at":"2022-07-25T12:15:31.643997Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/f948813c-d802-473e-9c8f-45a7fecfdafd
    method: GET
  response:
    body: '{"id":"f948813c-d802-473e-9c8f-45a7fecfdafd","name":"private-network","tags":[],"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","created_at":"2022-07-25T12:15:31.643997Z","updated_at":"2022-07-25T12:15:31.643997Z","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_endpoints_cluster_mode","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"f948813c-d802-473e-9c8f-45a7fecfdafd","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"30b6b2a4-e08e-451e-bca2-ff5c610b7d8c","name":"test_redis_endpoints_cluster_mode","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"f948813c-d802-473e-9c8f-45a7fecfdafd","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"f3fd1237-c90a-4483-81a1-6a2e37164831"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:32.773915Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/30b6b2a4-e08e-451e-bca2-ff5c610b7d8c
    method: GET
  response:
    body: '{"id":"30b6b2a4-e08e-451e-bca2-ff5c610b7d8c","name":"test_redis_endpoints_cluster_mode","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"f948813c-d802-473e-9c8f-45a7fecfdafd","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"f3fd1237-c90a-4483-81a1-6a2e37164831"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:32.773915Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/30b6b2a4-e08e-451e-bca2-ff5c610b7d8c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"30b6b2a4-e08e-451e-bca2-ff5c610b7d8c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
