---
version: 1
interactions:
- request:
    body: '{"name":"private-network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"5949d5b1-91be-4743-b176-90450c663216","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T13:07:57.891971Z","updated_at":"2022-06-10T13:07:57.891971Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/5949d5b1-91be-4743-b176-90450c663216
    method: GET
  response:
    body: '{"id":"5949d5b1-91be-4743-b176-90450c663216","name":"private-network","tags":[],"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2022-06-10T13:07:57.891971Z","updated_at":"2022-06-10T13:07:57.891971Z","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test_redis_endpoints_cluster_mode","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":3,"acl_rules":null,"endpoints":[{"private_network":{"id":"5949d5b1-91be-4743-b176-90450c663216","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"]}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"3c5134a7-1382-4c95-b0fb-d7ec0e857ea8","name":"test_redis_endpoints_cluster_mode","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"5949d5b1-91be-4743-b176-90450c663216","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"e9967c16-40f5-4444-b5a1-45d4a3e63b0f"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T13:07:58.516502Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3c5134a7-1382-4c95-b0fb-d7ec0e857ea8
    method: GET
  response:
    body: '{"id":"3c5134a7-1382-4c95-b0fb-d7ec0e857ea8","name":"test_redis_endpoints_cluster_mode","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"private_network":{"id":"5949d5b1-91be-4743-b176-90450c663216","service_ips":["10.12.1.10/24","10.12.1.11/24","10.12.1.12/24"],"zone":"fr-par-1"},"ips":["10.12.1.10","10.12.1.11","10.12.1.12"],"id":"e9967c16-40f5-4444-b5a1-45d4a3e63b0f"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-06-10T13:07:58.516502Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":3,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/3c5134a7-1382-4c95-b0fb-d7ec0e857ea8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"3c5134a7-1382-4c95-b0fb-d7ec0e857ea8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
