---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_settings","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":[{"value":"5000","name":"maxclients"},{"value":"150","name":"tcp-keepalive"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"18477d57-f6b8-4d1b-a2b6-fd6b6e4578d5","name":"test_redis_settings","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7a92da23-8533-47fb-a0cf-62055f0100b7"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:31.880483Z","updated_at":null,"tls_enabled":false,"cluster_settings":[{"value":"5000","name":"maxclients"},{"value":"150","name":"tcp-keepalive"}],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/18477d57-f6b8-4d1b-a2b6-fd6b6e4578d5
    method: GET
  response:
    body: '{"id":"18477d57-f6b8-4d1b-a2b6-fd6b6e4578d5","name":"test_redis_settings","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"7a92da23-8533-47fb-a0cf-62055f0100b7"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-07-25T12:15:31.880483Z","updated_at":null,"tls_enabled":false,"cluster_settings":[{"value":"5000","name":"maxclients"},{"value":"150","name":"tcp-keepalive"}],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"settings":[{"value":"2000","name":"maxclients"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/18477d57-f6b8-4d1b-a2b6-fd6b6e4578d5/settings
    method: PUT
  response:
    body: '{"settings":[{"value":"2000","name":"maxclients"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/18477d57-f6b8-4d1b-a2b6-fd6b6e4578d5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"18477d57-f6b8-4d1b-a2b6-fd6b6e4578d5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
