---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_acl","version":"6.2.6","tags":null,"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":[{"ip":"0.0.0.0/0","description":"An
      acl description"},{"ip":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"490f6810-740a-49eb-b58c-13a5fe335c90","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a547d9ab-dc82-4cfc-9e33-e84c561a3b47"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-05-04T09:48:46.175841Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"f0f00d97-2af2-402a-a24f-62d475e6715c","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"046371d5-0909-44d9-9118-3586973246f9","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/490f6810-740a-49eb-b58c-13a5fe335c90
    method: GET
  response:
    body: '{"id":"490f6810-740a-49eb-b58c-13a5fe335c90","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"a547d9ab-dc82-4cfc-9e33-e84c561a3b47"}],"tags":[],"node_type":"MDB-BETA-M","created_at":"2022-05-04T09:48:46.175841Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"f0f00d97-2af2-402a-a24f-62d475e6715c","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"046371d5-0909-44d9-9118-3586973246f9","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rules":[{"ip":"192.168.11.0/24","description":"Another acl description"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/490f6810-740a-49eb-b58c-13a5fe335c90/acls
    method: PUT
  response:
    body: '{"acl_rules":[{"id":"eedc1434-a392-4afb-8a45-3fc79849a167","ip":"192.168.11.0/24","description":"Another
      acl description"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/490f6810-740a-49eb-b58c-13a5fe335c90
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"490f6810-740a-49eb-b58c-13a5fe335c90","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
