---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_acl","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":[{"ip_cidr":"0.0.0.0/0","description":"An
      acl description"},{"ip_cidr":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"d2d99179-a4d5-4778-b205-e6a76037d1e7","name":"test_redis_acl","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"ee33ada0-348d-4031-8e33-4d1ae151b197"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.413244Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"f889060a-e1b8-4b7b-af21-a9c589e3d0f3","ip_cidr":"0.0.0.0/0","description":"An
      acl description"},{"id":"1d6de71a-bf37-400a-8901-88ce19017f5c","ip_cidr":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/d2d99179-a4d5-4778-b205-e6a76037d1e7
    method: GET
  response:
    body: '{"id":"d2d99179-a4d5-4778-b205-e6a76037d1e7","name":"test_redis_acl","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"ee33ada0-348d-4031-8e33-4d1ae151b197"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.413244Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"f889060a-e1b8-4b7b-af21-a9c589e3d0f3","ip_cidr":"0.0.0.0/0","description":"An
      acl description"},{"id":"1d6de71a-bf37-400a-8901-88ce19017f5c","ip_cidr":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rules":[{"ip_cidr":"192.168.11.0/24","description":"Another acl description"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/d2d99179-a4d5-4778-b205-e6a76037d1e7/acls
    method: PUT
  response:
    body: '{"acl_rules":[{"id":"76554e60-79fa-4ed9-8785-72ed659d1a5d","ip_cidr":"192.168.11.0/24","description":"Another
      acl description"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/d2d99179-a4d5-4778-b205-e6a76037d1e7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"d2d99179-a4d5-4778-b205-e6a76037d1e7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
