---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_no_certificate","version":"6.2.6","tags":["test1"],"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters
    method: POST
  response:
    body: '{"id":"bd12e825-bf1f-4d18-9d96-437ba4ef7b8b","name":"test_redis_no_certificate","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"b554ceee-65c8-44cc-ac8b-6d53a2b621e8"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.491920Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/bd12e825-bf1f-4d18-9d96-437ba4ef7b8b
    method: GET
  response:
    body: '{"id":"bd12e825-bf1f-4d18-9d96-437ba4ef7b8b","name":"test_redis_no_certificate","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"b554ceee-65c8-44cc-ac8b-6d53a2b621e8"}],"tags":["test1"],"node_type":"RED1-XS","created_at":"2022-10-04T15:07:53.491920Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-2/clusters/bd12e825-bf1f-4d18-9d96-437ba4ef7b8b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"bd12e825-bf1f-4d18-9d96-437ba4ef7b8b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
