---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":2,"versions":[{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2024-10-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"7.0.5","zone":"fr-par-1"},{"available_settings":[{"default_value":"300","deprecated":false,"description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"name":"tcp-keepalive","regex":null,"type":"INT"},{"default_value":"noeviction","deprecated":false,"description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"name":"maxmemory-policy","regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","type":"STRING"},{"default_value":"10000","deprecated":false,"description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"name":"maxclients","regex":null,"type":"INT"},{"default_value":"16","deprecated":false,"description":"Set
      number of Redis databases","max_value":128,"min_value":1,"name":"databases","regex":null,"type":"INT"}],"end_of_life_at":"2023-02-28T00:00:00Z","logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","version":"6.2.7","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private-network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-12T09:43:02.599548Z","dhcp_enabled":false,"id":"7902fae0-0658-4d95-9fb6-210f3e0d8e9c","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T09:43:02.599548Z","id":"cefeaced-3592-48e5-a1bf-66529557f86b","subnet":"172.16.12.0/22","updated_at":"2023-07-12T09:43:02.599548Z"},{"created_at":"2023-07-12T09:43:02.599548Z","id":"7fa5dc87-6892-4997-ad74-9416d10607d8","subnet":"fd46:78ab:30b8:673f::/64","updated_at":"2023-07-12T09:43:02.599548Z"}],"tags":[],"updated_at":"2023-07-12T09:43:02.599548Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7902fae0-0658-4d95-9fb6-210f3e0d8e9c
    method: GET
  response:
    body: '{"created_at":"2023-07-12T09:43:02.599548Z","dhcp_enabled":false,"id":"7902fae0-0658-4d95-9fb6-210f3e0d8e9c","name":"private-network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T09:43:02.599548Z","id":"cefeaced-3592-48e5-a1bf-66529557f86b","subnet":"172.16.12.0/22","updated_at":"2023-07-12T09:43:02.599548Z"},{"created_at":"2023-07-12T09:43:02.599548Z","id":"7fa5dc87-6892-4997-ad74-9416d10607d8","subnet":"fd46:78ab:30b8:673f::/64","updated_at":"2023-07-12T09:43:02.599548Z"}],"tags":[],"updated_at":"2023-07-12T09:43:02.599548Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test_redis_endpoints","version":"7.0.5","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":[{"private_network":{"id":"7902fae0-0658-4d95-9fb6-210f3e0d8e9c","service_ips":["10.12.1.0/20"],"ipam_config":null}}],"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-07-12T09:43:03.434050Z","endpoints":[{"id":"0bee9eda-9dba-47b2-b053-4ef7ef098b18","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"7902fae0-0658-4d95-9fb6-210f3e0d8e9c","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"6a859a8f-8f41-45b6-bf72-a520634f8226","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6a859a8f-8f41-45b6-bf72-a520634f8226
    method: GET
  response:
    body: '{"acl_rules":[],"cluster_settings":[],"cluster_size":1,"created_at":"2023-07-12T09:43:03.434050Z","endpoints":[{"id":"0bee9eda-9dba-47b2-b053-4ef7ef098b18","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"7902fae0-0658-4d95-9fb6-210f3e0d8e9c","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}}],"id":"6a859a8f-8f41-45b6-bf72-a520634f8226","name":"test_redis_endpoints","node_type":"RED1-XS","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"provisioning","tags":[],"tls_enabled":false,"updated_at":null,"upgradable_versions":[],"user_name":"my_initial_user","version":"7.0.5","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"private_network":{"id":"7902fae0-0658-4d95-9fb6-210f3e0d8e9c","service_ips":["10.12.1.0/20"],"ipam_config":null}},{"private_network":{"id":"334a7cac-fd25-422d-aebe-8dadd11390b6","service_ips":["192.168.1.0/20"],"ipam_config":null}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6a859a8f-8f41-45b6-bf72-a520634f8226/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"id":"18e9dd0f-70d4-4425-b3b4-8ca566bf6392","ips":["10.12.1.0"],"port":6379,"private_network":{"id":"7902fae0-0658-4d95-9fb6-210f3e0d8e9c","provisioning_mode":"static","service_ips":["10.12.1.0/20"],"zone":"fr-par-1"}},{"id":"bcc30573-2b9e-4cfa-867f-9e1516659d2d","ips":["192.168.1.0"],"port":6379,"private_network":{"id":"334a7cac-fd25-422d-aebe-8dadd11390b6","provisioning_mode":"static","service_ips":["192.168.1.0/20"],"zone":"fr-par-1"}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"endpoints":[{"public_network":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6a859a8f-8f41-45b6-bf72-a520634f8226/endpoints
    method: PUT
  response:
    body: '{"endpoints":[{"id":"7b228966-eba9-4263-91da-1458d1450694","ips":["51.15.255.141"],"port":6379,"public_network":{}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/6a859a8f-8f41-45b6-bf72-a520634f8226
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6a859a8f-8f41-45b6-bf72-a520634f8226","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
