---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_acl","version":"6.2.6","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":[{"ip":"0.0.0.0/0","description":"An
      acl description"},{"ip":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"bfe7a978-bd7e-4e50-a96f-5647d4046515","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"31a82c4c-1897-4e34-8fa0-3d627a5504ff"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:22.987235Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"7b2279a6-3259-4166-a67a-edf3e0c98ed9","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"b487f0e5-2259-42c2-911f-db01974d2868","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/bfe7a978-bd7e-4e50-a96f-5647d4046515
    method: GET
  response:
    body: '{"id":"bfe7a978-bd7e-4e50-a96f-5647d4046515","name":"test_redis_acl","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"31a82c4c-1897-4e34-8fa0-3d627a5504ff"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-08-01T11:45:22.987235Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"7b2279a6-3259-4166-a67a-edf3e0c98ed9","ip":"0.0.0.0/0","description":"An
      acl description"},{"id":"b487f0e5-2259-42c2-911f-db01974d2868","ip":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rules":[{"ip":"192.168.11.0/24","description":"Another acl description"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/bfe7a978-bd7e-4e50-a96f-5647d4046515/acls
    method: PUT
  response:
    body: '{"acl_rules":[{"id":"8be720b3-8940-4e7d-9aad-6eb004ff92f1","ip":"192.168.11.0/24","description":"Another
      acl description"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/bfe7a978-bd7e-4e50-a96f-5647d4046515
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"bfe7a978-bd7e-4e50-a96f-5647d4046515","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
