---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test_redis_basic","version":"6.2.6","tags":["test1"],"node_type":"MDB-BETA-M","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":1,"acl_rules":null,"endpoints":null,"tls_enabled":true,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"6339a851-5705-4d7e-8278-e4a49325a562","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"ffcb5643-7e3a-4f88-a05a-f06844fe1f47"}],"tags":["test1"],"node_type":"MDB-BETA-M","created_at":"2022-04-27T12:14:39.948517Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/6339a851-5705-4d7e-8278-e4a49325a562
    method: GET
  response:
    body: '{"id":"6339a851-5705-4d7e-8278-e4a49325a562","name":"test_redis_basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","status":"provisioning","version":"6.2.6","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"ffcb5643-7e3a-4f88-a05a-f06844fe1f47"}],"tags":["test1"],"node_type":"MDB-BETA-M","created_at":"2022-04-27T12:14:39.948517Z","updated_at":null,"tls_enabled":true,"cluster_settings":[],"acl_rules":[],"cluster_size":1,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1alpha1/zones/fr-par-1/clusters/6339a851-5705-4d7e-8278-e4a49325a562
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"6339a851-5705-4d7e-8278-e4a49325a562","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
