---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/cluster-versions?include_beta=false&include_deprecated=false&include_disabled=false
    method: GET
  response:
    body: '{"total_count":1,"versions":[{"version":"6.2.7","end_of_life_at":"2023-02-28T00:00:00Z","available_settings":[{"name":"tcp-keepalive","default_value":"300","type":"BOOLEAN","description":"The
      specified value (in seconds) is the period used to send ACKs.","max_value":65536,"min_value":null,"regex":null,"deprecated":false},{"name":"maxmemory-policy","default_value":"noeviction","type":"INT","description":"How
      Redis will select what to remove when maxmemory is reached: https://redis.io/topics/lru-cache.","max_value":null,"min_value":null,"regex":"volatile-lru|allkeys-lru|volatile-lfu|allkeys-lfu|volatile-random|allkeys-random|volatile-ttl|noeviction","deprecated":false},{"name":"maxclients","default_value":"10000","type":"BOOLEAN","description":"Set
      the max number of connected clients at the same time.","max_value":65536,"min_value":100,"regex":null,"deprecated":false}],"logo_url":"https://s3.fr-par.scw.cloud/scw-rkv-logos/logo.svg","zone":"fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test_redis_acl","version":"6.2.7","tags":null,"node_type":"RED1-XS","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","cluster_size":null,"acl_rules":[{"ip_cidr":"0.0.0.0/0","description":"An
      acl description"},{"ip_cidr":"192.168.10.0/24","description":"A second acl description"}],"endpoints":null,"tls_enabled":false,"cluster_settings":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters
    method: POST
  response:
    body: '{"id":"df3cb385-9c00-4bac-9ce3-a107d1c57ab9","name":"test_redis_acl","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.7","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"279c8c28-5e50-46b7-bf3f-1c566df14aed"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-11-03T16:51:01.683356Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"6b9bb36b-9e70-4df1-89a7-17f4c01f6cf6","ip_cidr":"0.0.0.0/0","description":"An
      acl description"},{"id":"fa3f5fe1-433b-4c9b-8e9f-b3034168943d","ip_cidr":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"user_name":"my_initial_user","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df3cb385-9c00-4bac-9ce3-a107d1c57ab9
    method: GET
  response:
    body: '{"id":"df3cb385-9c00-4bac-9ce3-a107d1c57ab9","name":"test_redis_acl","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"provisioning","version":"6.2.7","endpoints":[{"port":6379,"public_network":{},"ips":[],"id":"279c8c28-5e50-46b7-bf3f-1c566df14aed"}],"tags":[],"node_type":"RED1-XS","created_at":"2022-11-03T16:51:01.683356Z","updated_at":null,"tls_enabled":false,"cluster_settings":[],"acl_rules":[{"id":"6b9bb36b-9e70-4df1-89a7-17f4c01f6cf6","ip_cidr":"0.0.0.0/0","description":"An
      acl description"},{"id":"fa3f5fe1-433b-4c9b-8e9f-b3034168943d","ip_cidr":"192.168.10.0/24","description":"A
      second acl description"}],"cluster_size":1,"user_name":"my_initial_user","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"acl_rules":[{"ip_cidr":"192.168.11.0/24","description":"Another acl description"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df3cb385-9c00-4bac-9ce3-a107d1c57ab9/acls
    method: PUT
  response:
    body: '{"acl_rules":[{"id":"36ff8c4c-4794-46ce-804a-9b9013c9e69b","ip_cidr":"192.168.11.0/24","description":"Another
      acl description"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/redis/v1/zones/fr-par-1/clusters/df3cb385-9c00-4bac-9ce3-a107d1c57ab9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"cluster","resource_id":"df3cb385-9c00-4bac-9ce3-a107d1c57ab9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
