---
version: 1
interactions:
- request:
    body: '{"name":"test-cr","description":"","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"0d0410d8-dabf-41e5-ab87-810acff54ebc","name":"test-cr","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr","is_public":false,"size":0,"created_at":"2020-12-09T09:49:19.227274823Z","updated_at":"2020-12-09T09:49:19.227274823Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/0d0410d8-dabf-41e5-ab87-810acff54ebc
    method: GET
  response:
    body: '{"id":"0d0410d8-dabf-41e5-ab87-810acff54ebc","name":"test-cr","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr","is_public":false,"size":0,"created_at":"2020-12-09T09:49:19.227275Z","updated_at":"2020-12-09T09:49:19.227275Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/0d0410d8-dabf-41e5-ab87-810acff54ebc
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
