---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"d4eea08e-0d35-401e-8460-ec93b097fb90","name":"test-cr-ns-01","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2022-03-11T13:20:45.485902459Z","updated_at":"2022-03-11T13:20:45.485902459Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/d4eea08e-0d35-401e-8460-ec93b097fb90
    method: GET
  response:
    body: '{"id":"d4eea08e-0d35-401e-8460-ec93b097fb90","name":"test-cr-ns-01","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2022-03-11T13:20:45.485902Z","updated_at":"2022-03-11T13:20:45.485902Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/d4eea08e-0d35-401e-8460-ec93b097fb90
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
