---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","description":"","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"4e3ea8f9-fdcc-4523-8ba5-f371399e60a1","name":"test-cr-ns-01","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2022-04-12T09:25:24.248253559Z","updated_at":"2022-04-12T09:25:24.248253559Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/4e3ea8f9-fdcc-4523-8ba5-f371399e60a1
    method: GET
  response:
    body: '{"id":"4e3ea8f9-fdcc-4523-8ba5-f371399e60a1","name":"test-cr-ns-01","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2022-04-12T09:25:24.248254Z","updated_at":"2022-04-12T09:25:24.248254Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/4e3ea8f9-fdcc-4523-8ba5-f371399e60a1
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
