---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"0794f511-d467-4399-ad60-f1d5ee851be1","name":"test-cr-ns-01","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2021-11-04T14:04:46.466347635Z","updated_at":"2021-11-04T14:04:46.466347635Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/0794f511-d467-4399-ad60-f1d5ee851be1
    method: GET
  response:
    body: '{"id":"0794f511-d467-4399-ad60-f1d5ee851be1","name":"test-cr-ns-01","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2021-11-04T14:04:46.466348Z","updated_at":"2021-11-04T14:04:46.466348Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/0794f511-d467-4399-ad60-f1d5ee851be1
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
