---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces
    method: POST
  response:
    body: '{"id":"c1ffa501-6948-4bfb-94ed-0c22cac16a23","name":"test-cr-ns-01","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2022-03-07T14:53:43.499958697Z","updated_at":"2022-03-07T14:53:43.499958697Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/c1ffa501-6948-4bfb-94ed-0c22cac16a23
    method: GET
  response:
    body: '{"id":"c1ffa501-6948-4bfb-94ed-0c22cac16a23","name":"test-cr-ns-01","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"ready","status_message":"","endpoint":"rg.fr-par.scw.cloud/test-cr-ns-01","is_public":false,"size":0,"created_at":"2022-03-07T14:53:43.499959Z","updated_at":"2022-03-07T14:53:43.499959Z","image_count":0,"region":"fr-par"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/fr-par/namespaces/c1ffa501-6948-4bfb-94ed-0c22cac16a23
    method: DELETE
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
