---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","description":"","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-02-06T17:35:03.351435204Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"1b496238-a025-4588-87ac-4f8086b5cc71","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2023-02-06T17:35:03.351435204Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/1b496238-a025-4588-87ac-4f8086b5cc71
    method: GET
  response:
    body: '{"created_at":"2023-02-06T17:35:03.351435Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"1b496238-a025-4588-87ac-4f8086b5cc71","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2023-02-06T17:35:03.351435Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/1b496238-a025-4588-87ac-4f8086b5cc71
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
