---
version: 1
interactions:
- request:
    body: '{"name":"test-cr-ns-01","description":"","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","is_public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces
    method: POST
  response:
    body: '{"created_at":"2023-01-23T09:55:46.133949366Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"3d3ab82b-29b6-4a47-9cbf-060b9c44c359","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2023-01-23T09:55:46.133949366Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/3d3ab82b-29b6-4a47-9cbf-060b9c44c359
    method: GET
  response:
    body: '{"created_at":"2023-01-23T09:55:46.133949Z","description":"","endpoint":"rg.pl-waw.scw.cloud/test-cr-ns-01","id":"3d3ab82b-29b6-4a47-9cbf-060b9c44c359","image_count":0,"is_public":false,"name":"test-cr-ns-01","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"pl-waw","size":0,"status":"ready","status_message":"","updated_at":"2023-01-23T09:55:46.133949Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/registry/v1/regions/pl-waw/namespaces/3d3ab82b-29b6-4a47-9cbf-060b9c44c359
    method: GET
  response:
    body: '{"message":"Namespace was not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
