---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-03-16T14:49:30.158331Z","description":"secret description","id":"4b39dfe6-6588-4f49-916d-dcfaf5298c9b","name":"secretVersionNameBasic","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-16T14:49:30.158331Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/4b39dfe6-6588-4f49-916d-dcfaf5298c9b
    method: GET
  response:
    body: '{"created_at":"2023-03-16T14:49:30.158331Z","description":"secret description","id":"4b39dfe6-6588-4f49-916d-dcfaf5298c9b","name":"secretVersionNameBasic","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-16T14:49:30.158331Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/4b39dfe6-6588-4f49-916d-dcfaf5298c9b/versions
    method: POST
  response:
    body: '{"created_at":"2023-03-16T14:49:30.599235Z","description":"version1","revision":1,"secret_id":"4b39dfe6-6588-4f49-916d-dcfaf5298c9b","status":"enabled","updated_at":"2023-03-16T14:49:30.599235Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/4b39dfe6-6588-4f49-916d-dcfaf5298c9b/versions/1
    method: GET
  response:
    body: '{"created_at":"2023-03-16T14:49:30.599235Z","description":"version1","revision":1,"secret_id":"4b39dfe6-6588-4f49-916d-dcfaf5298c9b","status":"enabled","updated_at":"2023-03-16T14:49:30.599235Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/4b39dfe6-6588-4f49-916d-dcfaf5298c9b/versions/1/destroy
    method: POST
  response:
    body: '{"created_at":"2023-03-16T14:49:30.599235Z","description":"secret version
      description","revision":1,"secret_id":"4b39dfe6-6588-4f49-916d-dcfaf5298c9b","status":"destroyed","updated_at":"2023-03-16T14:49:35.616740Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/4b39dfe6-6588-4f49-916d-dcfaf5298c9b/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"4b39dfe6-6588-4f49-916d-dcfaf5298c9b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
