---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"unknown_type","path":"/","protected":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2024-03-04T10:37:46.778140Z","description":"","ephemeral_policy":null,"id":"38e5fccc-9bee-4aa4-940a-97d3863c0e4b","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-04T10:37:46.778140Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/38e5fccc-9bee-4aa4-940a-97d3863c0e4b
    method: GET
  response:
    body: '{"created_at":"2024-03-04T10:37:46.778140Z","description":"","ephemeral_policy":null,"id":"38e5fccc-9bee-4aa4-940a-97d3863c0e4b","managed":false,"name":"test-secret-path-secret","path":"/","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-04T10:37:46.778140Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"path":"/test-secret-path"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/38e5fccc-9bee-4aa4-940a-97d3863c0e4b
    method: PATCH
  response:
    body: '{"created_at":"2024-03-04T10:37:46.778140Z","description":"","ephemeral_policy":null,"id":"38e5fccc-9bee-4aa4-940a-97d3863c0e4b","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-04T10:37:48.487139Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"path":"/test-secret-path-change/"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/38e5fccc-9bee-4aa4-940a-97d3863c0e4b
    method: PATCH
  response:
    body: '{"created_at":"2024-03-04T10:37:46.778140Z","description":"","ephemeral_policy":null,"id":"38e5fccc-9bee-4aa4-940a-97d3863c0e4b","managed":false,"name":"test-secret-path-secret","path":"/test-secret-path-change","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"type":"opaque","updated_at":"2024-03-04T10:37:51.072223Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/38e5fccc-9bee-4aa4-940a-97d3863c0e4b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"38e5fccc-9bee-4aa4-940a-97d3863c0e4b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
