---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-02-28T15:58:15.563979Z","description":"secret description","id":"2ced0862-efa2-470b-9c29-a6f2354cbdbc","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-28T15:58:15.563979Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/2ced0862-efa2-470b-9c29-a6f2354cbdbc
    method: GET
  response:
    body: '{"created_at":"2023-02-28T15:58:15.563979Z","description":"secret description","id":"2ced0862-efa2-470b-9c29-a6f2354cbdbc","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-28T15:58:15.563979Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"ZGV2dG9vbHNfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/2ced0862-efa2-470b-9c29-a6f2354cbdbc/versions
    method: POST
  response:
    body: '{"created_at":"2023-02-28T15:58:15.751499Z","description":"version1","revision":1,"secret_id":"2ced0862-efa2-470b-9c29-a6f2354cbdbc","status":"enabled","updated_at":"2023-02-28T15:58:15.751499Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/2ced0862-efa2-470b-9c29-a6f2354cbdbc/versions/1
    method: GET
  response:
    body: '{"created_at":"2023-02-28T15:58:15.751499Z","description":"version1","revision":1,"secret_id":"2ced0862-efa2-470b-9c29-a6f2354cbdbc","status":"enabled","updated_at":"2023-02-28T15:58:15.751499Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/2ced0862-efa2-470b-9c29-a6f2354cbdbc/versions/1/access
    method: GET
  response:
    body: '{"data":"ZGV2dG9vbHNfc2VjcmV0","revision":1,"secret_id":"2ced0862-efa2-470b-9c29-a6f2354cbdbc"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/2ced0862-efa2-470b-9c29-a6f2354cbdbc/versions/1/destroy
    method: POST
  response:
    body: '{"created_at":"2023-02-28T15:58:15.751499Z","description":"version1","revision":1,"secret_id":"2ced0862-efa2-470b-9c29-a6f2354cbdbc","status":"destroyed","updated_at":"2023-02-28T15:59:22.879723Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/2ced0862-efa2-470b-9c29-a6f2354cbdbc/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"2ced0862-efa2-470b-9c29-a6f2354cbdbc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
