---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretNameBasic","tags":["devtools","provider","terraform"],"description":"secret
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-02-23T13:02:53.951215Z","description":"secret description","id":"e32f1fce-9d79-4bcb-b0bf-d66686e90b05","name":"secretNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-23T13:02:53.951215Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e32f1fce-9d79-4bcb-b0bf-d66686e90b05
    method: GET
  response:
    body: '{"created_at":"2023-02-23T13:02:53.951215Z","description":"secret description","id":"e32f1fce-9d79-4bcb-b0bf-d66686e90b05","name":"secretNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-23T13:02:53.951215Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e32f1fce-9d79-4bcb-b0bf-d66686e90b05
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"e32f1fce-9d79-4bcb-b0bf-d66686e90b05","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
