---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf_tests_secret_path_folder1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders
    method: POST
  response:
    body: '{"created_at":"2023-10-27T12:10:22.399933Z","id":"cc787f78-62fd-4b87-9394-13403d08be6f","name":"tf_tests_secret_path_folder1","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"folders":[{"created_at":"2023-10-27T07:56:32.281346Z","id":"112d51ce-095a-47fb-a8de-7d10bb254ece","name":"folder0","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"},{"created_at":"2023-10-27T07:56:33.625747Z","id":"a05a4746-b9ee-4832-855d-05884903967f","name":"folder6","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"},{"created_at":"2023-10-27T07:56:33.825761Z","id":"97dc82bb-1d69-4963-8034-e3e5b1473976","name":"folder7","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3[...]
[...]
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"tf_tests_secret_path","tags":["devtools","provider","terraform"],"type":"unknown_secret_type","ephemeral_action":"unknown_ephemeral_action"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-10-27T12:10:22.470021Z","description":"","id":"90446d2f-20b4-4127-aaa8-47713efaa220","is_managed":false,"is_protected":false,"name":"tf_tests_secret_path","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2023-10-27T12:10:22.470021Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/90446d2f-20b4-4127-aaa8-47713efaa220
    method: GET
  response:
    body: '{"created_at":"2023-10-27T12:10:22.470021Z","description":"","id":"90446d2f-20b4-4127-aaa8-47713efaa220","is_managed":false,"is_protected":false,"name":"tf_tests_secret_path","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2023-10-27T12:10:22.470021Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"path":"/tf_tests_secret_path_folder1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/90446d2f-20b4-4127-aaa8-47713efaa220
    method: PATCH
  response:
    body: '{"created_at":"2023-10-27T12:10:22.470021Z","description":"","id":"90446d2f-20b4-4127-aaa8-47713efaa220","is_managed":false,"is_protected":false,"name":"tf_tests_secret_path","path":"/tf_tests_secret_path_folder1","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"type":"opaque","updated_at":"2023-10-27T12:10:24.180751Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders/cc787f78-62fd-4b87-9394-13403d08be6f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/90446d2f-20b4-4127-aaa8-47713efaa220
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"90446d2f-20b4-4127-aaa8-47713efaa220","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
