---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-02-28T09:49:19.785960Z","description":"secret description","id":"e6aa7daf-e321-4982-866b-c97d43df775d","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-28T09:49:19.785960Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e6aa7daf-e321-4982-866b-c97d43df775d
    method: GET
  response:
    body: '{"created_at":"2023-02-28T09:49:19.785960Z","description":"secret description","id":"e6aa7daf-e321-4982-866b-c97d43df775d","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-28T09:49:19.785960Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e6aa7daf-e321-4982-866b-c97d43df775d/versions
    method: POST
  response:
    body: '{"created_at":"2023-02-28T09:49:19.997317Z","description":"version1","revision":1,"secret_id":"e6aa7daf-e321-4982-866b-c97d43df775d","status":"enabled","updated_at":"2023-02-28T09:49:19.997317Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e6aa7daf-e321-4982-866b-c97d43df775d/versions/1
    method: GET
  response:
    body: '{"created_at":"2023-02-28T09:49:19.997317Z","description":"version1","revision":1,"secret_id":"e6aa7daf-e321-4982-866b-c97d43df775d","status":"enabled","updated_at":"2023-02-28T09:49:19.997317Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e6aa7daf-e321-4982-866b-c97d43df775d/versions/2/destroy
    method: POST
  response:
    body: '{"created_at":"2023-02-28T09:49:22.517947Z","description":"version2","revision":2,"secret_id":"e6aa7daf-e321-4982-866b-c97d43df775d","status":"destroyed","updated_at":"2023-02-28T09:49:23.443649Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e6aa7daf-e321-4982-866b-c97d43df775d/versions/2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"e6aa7daf-e321-4982-866b-c97d43df775d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
