---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-03-01T14:54:14.214114Z","description":"secret description","id":"e9cdafe1-6a84-497f-94ae-a2630cf2e276","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-01T14:54:14.214114Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e9cdafe1-6a84-497f-94ae-a2630cf2e276
    method: GET
  response:
    body: '{"created_at":"2023-03-01T14:54:14.214114Z","description":"secret description","id":"e9cdafe1-6a84-497f-94ae-a2630cf2e276","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-03-01T14:54:14.214114Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e9cdafe1-6a84-497f-94ae-a2630cf2e276/versions
    method: POST
  response:
    body: '{"created_at":"2023-03-01T14:54:14.642366Z","description":"version1","revision":1,"secret_id":"e9cdafe1-6a84-497f-94ae-a2630cf2e276","status":"enabled","updated_at":"2023-03-01T14:54:14.642366Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e9cdafe1-6a84-497f-94ae-a2630cf2e276/versions/1
    method: GET
  response:
    body: '{"created_at":"2023-03-01T14:54:14.642366Z","description":"version1","revision":1,"secret_id":"e9cdafe1-6a84-497f-94ae-a2630cf2e276","status":"enabled","updated_at":"2023-03-01T14:54:14.642366Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e9cdafe1-6a84-497f-94ae-a2630cf2e276/versions/1/destroy
    method: POST
  response:
    body: '{"created_at":"2023-03-01T14:54:14.642366Z","description":"secret version
      description","revision":1,"secret_id":"e9cdafe1-6a84-497f-94ae-a2630cf2e276","status":"destroyed","updated_at":"2023-03-01T14:54:20.151938Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/e9cdafe1-6a84-497f-94ae-a2630cf2e276/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"e9cdafe1-6a84-497f-94ae-a2630cf2e276","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
