---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-folder-basic","path":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders
    method: POST
  response:
    body: '{"created_at":"2023-10-26T15:39:52.253823Z","id":"2ea20378-7173-444d-afcc-750e6ebd0994","name":"test-secret-folder-basic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders?order_by=created_at_asc&page=1
    method: GET
  response:
    body: '{"folders":[{"created_at":"2023-10-23T12:26:48.466376Z","id":"d92099f4-4e36-454f-99f4-e10afc5db520","name":"folder2","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"},{"created_at":"2023-10-23T12:26:55.204162Z","id":"a0d1f411-1e52-4a17-8aa3-659119c19ad8","name":"folder3","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"},{"created_at":"2023-10-26T15:39:52.253823Z","id":"2ea20378-7173-444d-afcc-750e6ebd0994","name":"test-secret-folder-basic","path":"/","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-secret-folder-basic-subfolder","path":"/test-secret-folder-basic"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders
    method: POST
  response:
    body: '{"created_at":"2023-10-26T15:39:52.373276Z","id":"1f0183c8-b5f4-4510-a771-f1a5e4ed6681","name":"test-secret-folder-basic-subfolder","path":"/test-secret-folder-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders/1f0183c8-b5f4-4510-a771-f1a5e4ed6681
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/folders/2ea20378-7173-444d-afcc-750e6ebd0994
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"folder","resource_id":"2ea20378-7173-444d-afcc-750e6ebd0994","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
