---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret
      description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets
    method: POST
  response:
    body: '{"created_at":"2023-02-28T15:55:12.374750Z","description":"secret description","id":"46d465f5-efac-4597-b7c3-165f97bf272d","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-28T15:55:12.374750Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/46d465f5-efac-4597-b7c3-165f97bf272d
    method: GET
  response:
    body: '{"created_at":"2023-02-28T15:55:12.374750Z","description":"secret description","id":"46d465f5-efac-4597-b7c3-165f97bf272d","name":"secretVersionNameBasic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"ready","tags":["devtools","provider","terraform"],"updated_at":"2023-02-28T15:55:12.374750Z","version_count":0}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/46d465f5-efac-4597-b7c3-165f97bf272d/versions
    method: POST
  response:
    body: '{"created_at":"2023-02-28T15:55:12.827390Z","description":"version1","revision":1,"secret_id":"46d465f5-efac-4597-b7c3-165f97bf272d","status":"enabled","updated_at":"2023-02-28T15:55:12.827390Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/46d465f5-efac-4597-b7c3-165f97bf272d/versions/1
    method: GET
  response:
    body: '{"created_at":"2023-02-28T15:55:12.827390Z","description":"version1","revision":1,"secret_id":"46d465f5-efac-4597-b7c3-165f97bf272d","status":"enabled","updated_at":"2023-02-28T15:55:12.827390Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/46d465f5-efac-4597-b7c3-165f97bf272d/versions/2/destroy
    method: POST
  response:
    body: '{"created_at":"2023-02-28T15:55:15.687354Z","description":"version2","revision":2,"secret_id":"46d465f5-efac-4597-b7c3-165f97bf272d","status":"destroyed","updated_at":"2023-02-28T15:55:17.149725Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/46d465f5-efac-4597-b7c3-165f97bf272d/versions/1/access
    method: GET
  response:
    body: '{"data":"bXlfc3VwZXJfc2VjcmV0","revision":1,"secret_id":"46d465f5-efac-4597-b7c3-165f97bf272d"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/secret-manager/v1alpha1/regions/fr-par/secrets/46d465f5-efac-4597-b7c3-165f97bf272d/versions/1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"secret","resource_id":"46d465f5-efac-4597-b7c3-165f97bf272d","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
