---
version: 1
interactions:
- request:
    body: '{"organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-sdb-sql-database-basic","cpu_min":0,"cpu_max":15}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases
    method: POST
  response:
    body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2023-12-04T14:56:43.647496Z","endpoint":"postgres://a68eef89-ad6c-4b36-8f36-f7b733b23d44.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic","id":"a68eef89-ad6c-4b36-8f36-f7b733b23d44","name":"test-sdb-sql-database-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","started":false,"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/a68eef89-ad6c-4b36-8f36-f7b733b23d44
    method: GET
  response:
    body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2023-12-04T14:56:43.647496Z","endpoint":"postgres://a68eef89-ad6c-4b36-8f36-f7b733b23d44.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic","id":"a68eef89-ad6c-4b36-8f36-f7b733b23d44","name":"test-sdb-sql-database-basic","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","started":false,"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/a68eef89-ad6c-4b36-8f36-f7b733b23d44
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"serverlessdb_database","resource_id":"a68eef89-ad6c-4b36-8f36-f7b733b23d44","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
