---
version: 1
interactions:
- request:
    body: '{"project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","name":"test-sdb-sql-database-basic","cpu_min":0,"cpu_max":15}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases
    method: POST
  response:
    body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2024-01-09T14:51:04.894448Z","endpoint":"postgres://6b85fc48-c420-4259-96b9-22ae284385ce.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":16,"id":"6b85fc48-c420-4259-96b9-22ae284385ce","name":"test-sdb-sql-database-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","started":false,"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/6b85fc48-c420-4259-96b9-22ae284385ce
    method: GET
  response:
    body: '{"cpu_current":0,"cpu_max":15,"cpu_min":0,"created_at":"2024-01-09T14:51:04.894448Z","endpoint":"postgres://6b85fc48-c420-4259-96b9-22ae284385ce.pg.sdb.fr-par.scw.cloud:5432/test-sdb-sql-database-basic?sslmode=require","engine_major_version":16,"id":"6b85fc48-c420-4259-96b9-22ae284385ce","name":"test-sdb-sql-database-basic","organization_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","region":"fr-par","started":false,"status":"creating"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/serverless-sqldb/v1alpha1/regions/fr-par/databases/6b85fc48-c420-4259-96b9-22ae284385ce
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"serverlessdb_database","resource_id":"6b85fc48-c420-4259-96b9-22ae284385ce","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
