---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/database-engines
    method: GET
  response:
    body: '{"engines":[{"logo_url":"https://s3.nl-ams.scw.cloud/scw-rdb-logos/mysql.svg","name":"MySQL","region":"fr-par","versions":[{"available_init_settings":[{"default_value":"0","description":"If
      set to 0, table names are stored as specified and comparisons are case-sensitive.
      If set to 1, table names are stored in lowercase on disk and comparisons are
      not case sensitive.","float_max":null,"float_min":null,"hot_configurable":false,"int_max":1,"int_min":0,"name":"lower_case_table_names","property_type":"INT","string_constraint":null,"unit":null}],"available_settings":[{"default_value":"1","description":"Controls
      the AUTO_INCREMENT interval between successive column values","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"auto_increment_increment","property_type":"INT","string_constraint":null,"unit":null},{"default_value":"1","description":"Determines
      the starting point for the AUTO_INCREMENT column value","float_max":null,"float_min":null,"hot_configurable":true,"int_max":65535,"int_min":1,"name":"aut[...]
- request:
    body: '{"name":"tf-pn-funny-matsumoto","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-12T17:52:21.849659Z","dhcp_enabled":true,"id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","name":"tf-pn-funny-matsumoto","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-03-12T17:52:21.849659Z","id":"eb6570a0-5e36-4a30-ba59-2515a5df4f10","subnet":"172.16.28.0/22","updated_at":"2024-03-12T17:52:21.849659Z"},{"created_at":"2024-03-12T17:52:21.849659Z","id":"1834de36-cdad-4c1e-92e2-5bc3761aba5b","subnet":"fd63:256c:45f7:68a7::/64","updated_at":"2024-03-12T17:52:21.849659Z"}],"tags":[],"updated_at":"2024-03-12T17:52:21.849659Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8aa8f1aa-032e-4c40-886b-c151ccb24f22
    method: GET
  response:
    body: '{"created_at":"2024-03-12T17:52:21.849659Z","dhcp_enabled":true,"id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","name":"tf-pn-funny-matsumoto","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2024-03-12T17:52:21.849659Z","id":"eb6570a0-5e36-4a30-ba59-2515a5df4f10","subnet":"172.16.28.0/22","updated_at":"2024-03-12T17:52:21.849659Z"},{"created_at":"2024-03-12T17:52:21.849659Z","id":"1834de36-cdad-4c1e-92e2-5bc3761aba5b","subnet":"fd63:256c:45f7:68a7::/64","updated_at":"2024-03-12T17:52:21.849659Z"}],"tags":[],"updated_at":"2024-03-12T17:52:21.849659Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"test-get-raw-config-for-key","engine":"PostgreSQL-15","user_name":"my_initial_user","password":"thiZ_is_v\u0026ry_s3cret","node_type":"db-dev-s","is_ha_cluster":false,"disable_backup":false,"tags":["terraform-test","core","get-raw-config"],"init_settings":null,"volume_type":"lssd","volume_size":0,"init_endpoints":[{"private_network":{"private_network_id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","ipam_config":{}}}],"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-03-13T17:52:22.940949Z","retention":7},"created_at":"2024-03-12T17:52:22.940949Z","endpoint":null,"endpoints":[{"id":"9b1d4938-395e-4ea5-9981-b9441912a3dd","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"49b7cf41-0513-4580-9936-c78b714815ae","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-get-raw-config-for-key","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","core","get-raw-config"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-03-13T17:52:22.940949Z","retention":7},"created_at":"2024-03-12T17:52:22.940949Z","endpoint":null,"endpoints":[{"id":"9b1d4938-395e-4ea5-9981-b9441912a3dd","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"49b7cf41-0513-4580-9936-c78b714815ae","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-get-raw-config-for-key","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[],"status":"provisioning","tags":["terraform-test","core","get-raw-config"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae
    method: GET
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-03-13T17:52:22.940949Z","retention":7},"created_at":"2024-03-12T17:52:22.940949Z","endpoint":null,"endpoints":[{"id":"9b1d4938-395e-4ea5-9981-b9441912a3dd","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"49b7cf41-0513-4580-9936-c78b714815ae","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-get-raw-config-for-key","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"effective_cache_size","value":"1300"},{"name":"maintenance_work_mem","value":"150"},{"name":"max_connections","value":"100"},{"name":"max_parallel_workers","value":"0"},{"name":"max_parallel_workers_per_gather","value":"0"},{"name":"work_mem","value":"4"}],"status":"ready","tags":["terraform-test","core","get-raw-config"],"upgradable_version":[],"volume":{"class":"lssd","size":5000000000,"type":"lssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"is_backup_schedule_disabled":false,"backup_same_region":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae
    method: PATCH
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-03-13T17:52:22.940949Z","retention":7},"created_at":"2024-03-12T17:52:22.940949Z","endpoint":null,"endpoints":[{"id":"9b1d4938-395e-4ea5-9981-b9441912a[...]
[...]
- request:
    body: '{"settings":[{"name":"max_connections","value":"200"},{"name":"work_mem","value":"4"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae/settings
    method: PUT
  response:
    body: '{"settings":[{"name":"max_connections","value":"200"},{"name":"work_mem","value":"4"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae/certificate
    method: GET
  response:
    body: '{"content":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURZRENDQWtpZ0F3SUJBZ0lVVmFtelR2Q2VlN3RFOHU1TkszSnpqZVl1dWs0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlZCQWdNQlZCaGNtbHpNUTR3REFZRFZRUUhEQVZRWVhKcApjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBU0JnTlZCQU1NQ3pFM01pNHhOaTR5T0M0eU1CNFhEVEkwCk1ETXhNakUzTlRNeU4xb1hEVE0wTURNeE1ERTNOVE15TjFvd1ZqRUxNQWtHQTFVRUJoTUNSbEl4RGpBTUJnTlYKQkFnTUJWQmhjbWx6TVE0d0RBWURWUVFIREFWUVlYSnBjekVSTUE4R0ExVUVDZ3dJVTJOaGJHVjNZWGt4RkRBUwpCZ05WQkFNTUN6RTNNaTR4Tmk0eU9[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?is_ipv6=false&order_by=created_at_desc&page=1&resource_id=49b7cf41-0513-4580-9936-c78b714815ae&resource_type=rdb_instance
    method: GET
  response:
    body: '{"ips":[{"address":"172.16.28.2/22","created_at":"2024-03-12T17:52:23.368789Z","id":"2c848cb1-ce05-4560-b924-44c90ab9b879","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"49b7cf41-0513-4580-9936-c78b714815ae","mac_address":"02:00:00:19:04:17","name":"test-get-raw-config-for-key","type":"rdb_instance"},"reverses":[],"source":{"subnet_id":"eb6570a0-5e36-4a30-ba59-2515a5df4f10"},"tags":["managed","scwdbaas"],"updated_at":"2024-03-12T17:52:55.776125Z","zone":null}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"volume_type":"bssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae/upgrade
    method: POST
  response:
    body: '{"backup_same_region":false,"backup_schedule":{"disabled":false,"frequency":24,"next_run_at":"2024-03-13T17:52:22.940949Z","retention":7},"created_at":"2024-03-12T17:52:22.940949Z","endpoint":null,"endpoints":[{"id":"9b1d4938-395e-4ea5-9981-b9441912a3dd","ip":"172.16.28.2","name":null,"port":5432,"private_network":{"private_network_id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","service_ip":"172.16.28.2/22","zone":"fr-par-1"}}],"engine":"PostgreSQL-15","id":"49b7cf41-0513-4580-9936-c78b714815ae","init_settings":[],"is_ha_cluster":false,"logs_policy":{"max_age_retention":30,"total_disk_retention":null},"maintenances":[],"name":"test-get-raw-config-for-key","node_type":"db-dev-s","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","read_replicas":[],"region":"fr-par","settings":[{"name":"max_connections","value":"200"},{"name":"work_mem","value":"4"}],"status":"initializing","tags":["terraform-test","core","get-raw-config"],"upgradable_version":[],"volume":{"class":"bssd","size":5000000000,"type":"bssd"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/endpoints/9b1d4938-395e-4ea5-9981-b9441912a3dd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"endpoint_spec":{"private_network":{"private_network_id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","service_ip":"172.16.32.1/24"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae/endpoints
    method: POST
  response:
    body: '{"id":"978ffa8a-e825-4a39-8b00-3121e0a9210c","ip":"172.16.32.1","name":null,"port":5432,"private_network":{"private_network_id":"8aa8f1aa-032e-4c40-886b-c151ccb24f22","service_ip":"172.16.32.1/24","zone":"fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/rdb/v1/regions/fr-par/instances/49b7cf41-0513-4580-9936-c78b714815ae
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"instance","resource_id":"49b7cf41-0513-4580-9936-c78b714815ae","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
