---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"bb00c356-7132-4b8b-926a-da9475577c70","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:42.994381Z","updated_at":"2021-10-08T08:56:42.994381Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"bc298927-e46f-47b2-8946-be1a06f1a8a2","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:42.960127Z","updated_at":"2021-10-08T08:56:42.960127Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/bb00c356-7132-4b8b-926a-da9475577c70
    method: GET
  response:
    body: '{"id":"bb00c356-7132-4b8b-926a-da9475577c70","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:42.994381Z","updated_at":"2021-10-08T08:56:42.994381Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/bc298927-e46f-47b2-8946-be1a06f1a8a2
    method: GET
  response:
    body: '{"id":"bc298927-e46f-47b2-8946-be1a06f1a8a2","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:42.960127Z","updated_at":"2021-10-08T08:56:42.960127Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"997ae228-8ceb-480f-85f9-6d23e2fb17e4","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:43.496158Z","updated_at":"2021-10-08T08:56:43.496158Z","tags":[],"address":"212.47.229.167","reverse":"167-229-47-212.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/997ae228-8ceb-480f-85f9-6d23e2fb17e4
    method: GET
  response:
    body: '{"id":"997ae228-8ceb-480f-85f9-6d23e2fb17e4","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:43.496158Z","updated_at":"2021-10-08T08:56:43.496158Z","tags":[],"address":"212.47.229.167","reverse":"167-229-47-212.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"997ae228-8ceb-480f-85f9-6d23e2fb17e4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"3c60bd6d-c96d-4876-aa9c-e5747265016a","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:43.698621Z","updated_at":"2021-10-08T08:56:43.698621Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"997ae228-8ceb-480f-85f9-6d23e2fb17e4","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:43.496158Z","updated_at":"2021-10-08T08:56:43.496158Z","tags":[],"address":"212.47.229.167","reverse":"167-229-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/3c60bd6d-c96d-4876-aa9c-e5747265016a
    method: GET
  response:
    body: '{"id":"3c60bd6d-c96d-4876-aa9c-e5747265016a","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:43.698621Z","updated_at":"2021-10-08T08:56:43.698621Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"997ae228-8ceb-480f-85f9-6d23e2fb17e4","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:43.496158Z","updated_at":"2021-10-08T08:56:43.496158Z","tags":[],"address":"212.47.229.167","reverse":"167-229-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"3c60bd6d-c96d-4876-aa9c-e5747265016a","private_network_id":"bc298927-e46f-47b2-8946-be1a06f1a8a2","enable_masquerade":false,"dhcp_id":"bb00c356-7132-4b8b-926a-da9475577c70","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"5755e21b-f82d-45fa-936a-a921ecfce155","created_at":"2021-10-08T08:57:14.203042Z","updated_at":"2021-10-08T08:57:14.203042Z","gateway_id":"3c60bd6d-c96d-4876-aa9c-e5747265016a","private_network_id":"bc298927-e46f-47b2-8946-be1a06f1a8a2","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"bb00c356-7132-4b8b-926a-da9475577c70","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:42.994381Z","updated_at":"2021-10-08T08:56:42.994381Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/5755e21b-f82d-45fa-936a-a921ecfce155
    method: GET
  response:
    body: '{"id":"5755e21b-f82d-45fa-936a-a921ecfce155","created_at":"2021-10-08T08:57:14.203042Z","updated_at":"2021-10-08T08:57:14.203042Z","gateway_id":"3c60bd6d-c96d-4876-aa9c-e5747265016a","private_network_id":"bc298927-e46f-47b2-8946-be1a06f1a8a2","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"bb00c356-7132-4b8b-926a-da9475577c70","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T08:56:42.994381Z","updated_at":"2021-10-08T08:56:42.994381Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/5755e21b-f82d-45fa-936a-a921ecfce155?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/bb00c356-7132-4b8b-926a-da9475577c70
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"bb00c356-7132-4b8b-926a-da9475577c70","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/3c60bd6d-c96d-4876-aa9c-e5747265016a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
