---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"9ea849c1-b857-4658-b8dc-b6e0a12bb8b4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:36.450631Z","updated_at":"2021-12-08T13:09:36.450631Z","tags":[],"address":"163.172.160.164","reverse":"164-160-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/9ea849c1-b857-4658-b8dc-b6e0a12bb8b4
    method: GET
  response:
    body: '{"id":"9ea849c1-b857-4658-b8dc-b6e0a12bb8b4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:36.450631Z","updated_at":"2021-12-08T13:09:36.450631Z","tags":[],"address":"163.172.160.164","reverse":"164-160-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["tag0","tag1"],"reverse":"example.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/9ea849c1-b857-4658-b8dc-b6e0a12bb8b4
    method: PATCH
  response:
    body: '{"id":"9ea849c1-b857-4658-b8dc-b6e0a12bb8b4","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:36.450631Z","updated_at":"2021-12-08T13:09:38.911084Z","tags":["tag0","tag1"],"address":"163.172.160.164","reverse":"example.com","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/9ea849c1-b857-4658-b8dc-b6e0a12bb8b4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"9ea849c1-b857-4658-b8dc-b6e0a12bb8b4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
