---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"8916e386-6856-4035-b0aa-bc7db3e7632c","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:02:33.633286Z","updated_at":"2022-04-12T10:02:33.633286Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/8916e386-6856-4035-b0aa-bc7db3e7632c
    method: GET
  response:
    body: '{"id":"8916e386-6856-4035-b0aa-bc7db3e7632c","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:02:33.633286Z","updated_at":"2022-04-12T10:02:33.633286Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"7939efb7-bbf3-45f1-9fa4-a08daa19df9c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:02:34.832757Z","updated_at":"2022-04-12T10:02:34.832757Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"63b08a7c-4639-4228-9029-b30d639d19d6","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:02:34.820523Z","updated_at":"2022-04-12T10:02:34.820523Z","tags":[],"address":"51.158.116.19","reverse":"19-116-158-51.instances.scw.cloud","gateway_id":"7939efb7-bbf3-45f1-9fa4-a08daa19df9c","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/7939efb7-bbf3-45f1-9fa4-a08daa19df9c
    method: GET
  response:
    body: '{"id":"7939efb7-bbf3-45f1-9fa4-a08daa19df9c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:02:34.832757Z","updated_at":"2022-04-12T10:02:34.866290Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"63b08a7c-4639-4228-9029-b30d639d19d6","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:02:34.820523Z","updated_at":"2022-04-12T10:02:34.820523Z","tags":[],"address":"51.158.116.19","reverse":"19-116-158-51.instances.scw.cloud","gateway_id":"7939efb7-bbf3-45f1-9fa4-a08daa19df9c","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"7939efb7-bbf3-45f1-9fa4-a08daa19df9c","private_network_id":"8916e386-6856-4035-b0aa-bc7db3e7632c","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"cd9a19ce-1a15-4d80-b6bc-4d0186628106","created_at":"2022-04-12T10:02:40.256526Z","updated_at":"2022-04-12T10:02:40.256526Z","gateway_id":"7939efb7-bbf3-45f1-9fa4-a08daa19df9c","private_network_id":"8916e386-6856-4035-b0aa-bc7db3e7632c","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cd9a19ce-1a15-4d80-b6bc-4d0186628106
    method: GET
  response:
    body: '{"id":"cd9a19ce-1a15-4d80-b6bc-4d0186628106","created_at":"2022-04-12T10:02:40.256526Z","updated_at":"2022-04-12T10:02:46.320464Z","gateway_id":"7939efb7-bbf3-45f1-9fa4-a08daa19df9c","private_network_id":"8916e386-6856-4035-b0aa-bc7db3e7632c","mac_address":"02:00:00:01:0f:f1","enable_masquerade":true,"status":"ready","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cd9a19ce-1a15-4d80-b6bc-4d0186628106?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cd9a19ce-1a15-4d80-b6bc-4d0186628106
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"cd9a19ce-1a15-4d80-b6bc-4d0186628106","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/7939efb7-bbf3-45f1-9fa4-a08daa19df9c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
