---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-musing-elion","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"9db05863-9340-4ecd-b414-689aff7a7f2a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:28:08.379929Z","updated_at":"2021-08-05T09:28:08.379929Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-musing-elion","tags":[],"ip":{"id":"36704e51-2500-43e1-8fb5-f94e31c1c5e7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:28:08.354017Z","updated_at":"2021-08-05T09:28:08.354017Z","tags":[],"address":"163.172.134.134","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/9db05863-9340-4ecd-b414-689aff7a7f2a
    method: GET
  response:
    body: '{"id":"9db05863-9340-4ecd-b414-689aff7a7f2a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:28:08.379929Z","updated_at":"2021-08-05T09:28:08.430666Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-musing-elion","tags":[],"ip":{"id":"36704e51-2500-43e1-8fb5-f94e31c1c5e7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:28:08.354017Z","updated_at":"2021-08-05T09:28:08.354017Z","tags":[],"address":"163.172.134.134","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"fr-par-1/9db05863-9340-4ecd-b414-689aff7a7f2a","public_port":8080,"private_ip":"192.168.0.1","private_port":8080,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"details":[{"argument_name":"gateway_id","help_message":"uuid: {}","reason":"unknown"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/9db05863-9340-4ecd-b414-689aff7a7f2a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"9db05863-9340-4ecd-b414-689aff7a7f2a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
