---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"32e1075b-4e46-41b9-84ed-6d12e1f8fab9","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-02T15:30:08.726483Z","updated_at":"2021-08-02T15:30:08.726483Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"af504c4f-2836-4be7-b465-791216767f47","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-02T15:30:08.704056Z","updated_at":"2021-08-02T15:30:08.704056Z","tags":[],"address":"163.172.144.49","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/32e1075b-4e46-41b9-84ed-6d12e1f8fab9
    method: GET
  response:
    body: '{"id":"32e1075b-4e46-41b9-84ed-6d12e1f8fab9","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-02T15:30:08.726483Z","updated_at":"2021-08-02T15:30:08.770965Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"af504c4f-2836-4be7-b465-791216767f47","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-02T15:30:08.704056Z","updated_at":"2021-08-02T15:30:08.704056Z","tags":[],"address":"163.172.144.49","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/32e1075b-4e46-41b9-84ed-6d12e1f8fab9
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"32e1075b-4e46-41b9-84ed-6d12e1f8fab9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
