---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"485f63f8-e921-422b-911f-4d51f4cfa8b3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.044475Z","updated_at":"2021-10-12T15:14:00.044475Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"b34f62e9-d4b7-4b93-8d30-006da8e8ed66","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.014753Z","updated_at":"2021-10-12T15:14:00.014753Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/485f63f8-e921-422b-911f-4d51f4cfa8b3
    method: GET
  response:
    body: '{"id":"485f63f8-e921-422b-911f-4d51f4cfa8b3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.044475Z","updated_at":"2021-10-12T15:14:00.044475Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b34f62e9-d4b7-4b93-8d30-006da8e8ed66
    method: GET
  response:
    body: '{"id":"b34f62e9-d4b7-4b93-8d30-006da8e8ed66","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.014753Z","updated_at":"2021-10-12T15:14:00.014753Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"tf-pn-ecstatic-dirac","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.692529Z","updated_at":"2021-10-12T15:14:00.692529Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-ecstatic-dirac","tags":[],"ip":{"id":"5f4eccd6-ed42-4cb6-9c7c-9da1bedca29b","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.676055Z","updated_at":"2021-10-12T15:14:00.676055Z","tags":[],"address":"51.158.100.247","reverse":"247-100-158-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/9e6d34ae-faa2-410d-bf0d-781d1628fb6f
    method: GET
  response:
    body: '{"id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.692529Z","updated_at":"2021-10-12T15:14:00.727014Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-ecstatic-dirac","tags":[],"ip":{"id":"5f4eccd6-ed42-4cb6-9c7c-9da1bedca29b","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.676055Z","updated_at":"2021-10-12T15:14:00.676055Z","tags":[],"address":"51.158.100.247","reverse":"247-100-158-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","private_network_id":"b34f62e9-d4b7-4b93-8d30-006da8e8ed66","enable_masquerade":false,"dhcp_id":"485f63f8-e921-422b-911f-4d51f4cfa8b3","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"964d10b6-b043-4865-9ab9-9d61264bbd0b","created_at":"2021-10-12T15:14:31.200698Z","updated_at":"2021-10-12T15:14:31.200698Z","gateway_id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","private_network_id":"b34f62e9-d4b7-4b93-8d30-006da8e8ed66","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"485f63f8-e921-422b-911f-4d51f4cfa8b3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.044475Z","updated_at":"2021-10-12T15:14:00.044475Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/964d10b6-b043-4865-9ab9-9d61264bbd0b
    method: GET
  response:
    body: '{"id":"964d10b6-b043-4865-9ab9-9d61264bbd0b","created_at":"2021-10-12T15:14:31.200698Z","updated_at":"2021-10-12T15:14:31.200698Z","gateway_id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","private_network_id":"b34f62e9-d4b7-4b93-8d30-006da8e8ed66","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"485f63f8-e921-422b-911f-4d51f4cfa8b3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:14:00.044475Z","updated_at":"2021-10-12T15:14:00.044475Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"69b2c913-a5c4-43a8-a62f-251b4d1a13aa","gateway_id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","created_at":"2021-10-12T15:15:01.718671Z","updated_at":"2021-10-12T15:15:01.718671Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/69b2c913-a5c4-43a8-a62f-251b4d1a13aa
    method: GET
  response:
    body: '{"id":"69b2c913-a5c4-43a8-a62f-251b4d1a13aa","gateway_id":"9e6d34ae-faa2-410d-bf0d-781d1628fb6f","created_at":"2021-10-12T15:15:01.718671Z","updated_at":"2021-10-12T15:15:01.718671Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/964d10b6-b043-4865-9ab9-9d61264bbd0b?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/485f63f8-e921-422b-911f-4d51f4cfa8b3
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"485f63f8-e921-422b-911f-4d51f4cfa8b3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/9e6d34ae-faa2-410d-bf0d-781d1628fb6f?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
