---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:51.682877Z","updated_at":"2021-12-14T15:11:51.682877Z","tags":[],"address":"51.15.137.125","reverse":"125-137-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001
    method: GET
  response:
    body: '{"id":"2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:51.682877Z","updated_at":"2021-12-14T15:11:51.682877Z","tags":[],"address":"51.15.137.125","reverse":"125-137-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"4257d893-5aa4-49df-823c-37a2fb8a2ae2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:51.877865Z","updated_at":"2021-12-14T15:11:51.877865Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:51.682877Z","updated_at":"2021-12-14T15:11:51.682877Z","tags":[],"address":"51.15.137.125","reverse":"125-137-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/4257d893-5aa4-49df-823c-37a2fb8a2ae2
    method: GET
  response:
    body: '{"id":"4257d893-5aa4-49df-823c-37a2fb8a2ae2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:51.877865Z","updated_at":"2021-12-14T15:11:51.877865Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:51.682877Z","updated_at":"2021-12-14T15:11:51.682877Z","tags":[],"address":"51.15.137.125","reverse":"125-137-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/4257d893-5aa4-49df-823c-37a2fb8a2ae2?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"2cf9d5f0-6250-4ac2-83e2-b9f43cbd9001","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
