---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"51.15.197.1","created_at":"2023-05-11T08:36:49.723247Z","gateway_id":null,"id":"2bf43179-4243-423d-aefb-add25564af8c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"1-197-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-11T08:36:49.723247Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/2bf43179-4243-423d-aefb-add25564af8c
    method: GET
  response:
    body: '{"address":"51.15.197.1","created_at":"2023-05-11T08:36:49.723247Z","gateway_id":null,"id":"2bf43179-4243-423d-aefb-add25564af8c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"1-197-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-11T08:36:49.723247Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"51.15.197.1","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"51.15.197.1","id":"3b3830d3-4c10-4f96-a1d1-ee59218f427a","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2023-05-11T08:36:49Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":null,"reverse":"tf-reverse-vpcgw.scaleway-terraform.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/2bf43179-4243-423d-aefb-add25564af8c
    method: PATCH
  response:
    body: '{"details":[{"argument_name":"reverse","help_message":"must_resolve: {\"dns\":
      \"{\\\"type\\\": \\\"invalid_request_error\\\", \\\"message\\\": \\\"Validation
      Error\\\", \\\"fields\\\": {\\\"reverse\\\": [\\\"Your reverse must resolve.
      Ensure the command ''dig +short tf-reverse-vpcgw.scaleway-terraform.com'' matches
      your IP address ''51.15.197.1''. If it does, please contact our support.\\\"]}}\"}","reason":"unknown"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=tf-reverse-vpcgw&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.15.197.1","id":"3b3830d3-4c10-4f96-a1d1-ee59218f427a","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=3b3830d3-4c10-4f96-a1d1-ee59218f427a&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.15.197.1","id":"3b3830d3-4c10-4f96-a1d1-ee59218f427a","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=3b3830d3-4c10-4f96-a1d1-ee59218f427a&name=tf-reverse-vpcgw&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.15.197.1","id":"3b3830d3-4c10-4f96-a1d1-ee59218f427a","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"3b3830d3-4c10-4f96-a1d1-ee59218f427a"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
