---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"public-gateway-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"b9e2a29a-d62a-4365-ace9-4dae2f9a131a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:14.151258Z","updated_at":"2022-04-12T10:07:14.151258Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"d3740192-a009-4268-a3c8-404bbf972d6b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:14.137288Z","updated_at":"2022-04-12T10:07:14.137288Z","tags":[],"address":"212.47.243.69","reverse":"69-243-47-212.instances.scw.cloud","gateway_id":"b9e2a29a-d62a-4365-ace9-4dae2f9a131a","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b9e2a29a-d62a-4365-ace9-4dae2f9a131a
    method: GET
  response:
    body: '{"id":"b9e2a29a-d62a-4365-ace9-4dae2f9a131a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:14.151258Z","updated_at":"2022-04-12T10:07:14.183466Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"d3740192-a009-4268-a3c8-404bbf972d6b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:14.137288Z","updated_at":"2022-04-12T10:07:14.137288Z","tags":[],"address":"212.47.243.69","reverse":"69-243-47-212.instances.scw.cloud","gateway_id":"b9e2a29a-d62a-4365-ace9-4dae2f9a131a","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"public-gateway-test-new","tags":["tag0","tag1"],"upstream_dns_servers":["1.2.3.4","4.3.2.1"],"enable_bastion":null,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b9e2a29a-d62a-4365-ace9-4dae2f9a131a
    method: PATCH
  response:
    body: '{"id":"b9e2a29a-d62a-4365-ace9-4dae2f9a131a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:14.151258Z","updated_at":"2022-04-12T10:07:20.936813Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"public-gateway-test-new","tags":["tag0","tag1"],"ip":{"id":"d3740192-a009-4268-a3c8-404bbf972d6b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:14.137288Z","updated_at":"2022-04-12T10:07:14.137288Z","tags":[],"address":"212.47.243.69","reverse":"69-243-47-212.instances.scw.cloud","gateway_id":"b9e2a29a-d62a-4365-ace9-4dae2f9a131a","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":["1.2.3.4","4.3.2.1"],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b9e2a29a-d62a-4365-ace9-4dae2f9a131a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b9e2a29a-d62a-4365-ace9-4dae2f9a131a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"b9e2a29a-d62a-4365-ace9-4dae2f9a131a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
