---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-vpc-pgw-network-with-ipam-config","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:32:41.726665Z","id":"a01461da-5fd5-4446-b964-f660540c4a23","is_default":false,"name":"tf-tests-vpc-pgw-network-with-ipam-config","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-03-19T08:32:41.726665Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a01461da-5fd5-4446-b964-f660540c4a23
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:32:41.726665Z","id":"a01461da-5fd5-4446-b964-f660540c4a23","is_default":false,"name":"tf-tests-vpc-pgw-network-with-ipam-config","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-03-19T08:32:41.726665Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-tests-vpc-pgw-network-with-ipam-config","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"a01461da-5fd5-4446-b964-f660540c4a23"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:32:41.989204Z","dhcp_enabled":true,"id":"b091f113-e801-461d-8854-5ba2d3fa80fa","name":"tf-tests-vpc-pgw-network-with-ipam-config","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:32:41.989204Z","id":"f510bf70-3982-4a74-8df4-fc1ef841e891","subnet":"172.16.64.0/22","updated_at":"2024-03-19T08:32:41.989204Z"},{"created_at":"2024-03-19T08:32:41.989204Z","id":"26bc4855-4a39-46fa-92fb-5478fe264dbe","subnet":"fd5f:519c:6d46:341::/64","updated_at":"2024-03-19T08:32:41.989204Z"}],"tags":[],"updated_at":"2024-03-19T08:32:41.989204Z","vpc_id":"a01461da-5fd5-4446-b964-f660540c4a23"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b091f113-e801-461d-8854-5ba2d3fa80fa
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:32:41.989204Z","dhcp_enabled":true,"id":"b091f113-e801-461d-8854-5ba2d3fa80fa","name":"tf-tests-vpc-pgw-network-with-ipam-config","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:32:41.989204Z","id":"f510bf70-3982-4a74-8df4-fc1ef841e891","subnet":"172.16.64.0/22","updated_at":"2024-03-19T08:32:41.989204Z"},{"created_at":"2024-03-19T08:32:41.989204Z","id":"26bc4855-4a39-46fa-92fb-5478fe264dbe","subnet":"fd5f:519c:6d46:341::/64","updated_at":"2024-03-19T08:32:41.989204Z"}],"tags":[],"updated_at":"2024-03-19T08:32:41.989204Z","vpc_id":"a01461da-5fd5-4446-b964-f660540c4a23"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-vpc-pgw-network-with-ipam-config","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:32:43.281004Z","gateway_networks":[],"id":"1d9ae252-cd4d-44e9-89c5-329faf9775a8","ip":{"address":"163.172.177.123","created_at":"2024-03-19T08:32:43.259191Z","gateway_id":"1d9ae252-cd4d-44e9-89c5-329faf9775a8","id":"d006483f-31e8-49df-b5e5-b966aa4e8c12","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"123-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:43.259191Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-tests-vpc-pgw-network-with-ipam-config","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-03-19T08:32:43.281004Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1d9ae252-cd4d-44e9-89c5-329faf9775a8
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:32:43.281004Z","gateway_networks":[],"id":"1d9ae252-cd4d-44e9-89c5-329faf9775a8","ip":{"address":"163.172.177.123","created_at":"2024-03-19T08:32:43.259191Z","gateway_id":"1d9ae252-cd4d-44e9-89c5-329faf9775a8","id":"d006483f-31e8-49df-b5e5-b966aa4e8c12","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"123-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:43.259191Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-tests-vpc-pgw-network-with-ipam-config","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-03-19T08:32:43.342561Z","upstream_dns_servers":[],"version":"0.6.3","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"1d9ae252-cd4d-44e9-89c5-329faf9775a8","private_network_id":"b091f113-e801-461d-8854-5ba2d3fa80fa","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2024-03-19T08:33:03.891429Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"1d9ae252-cd4d-44e9-89c5-329faf9775a8","id":"551d57cb-de9b-4aa9-a02c-ab8fe7c95f9e","ipam_config":{"ipam_ip_id":"616374c1-12af-42a8-988e-ab42fa9a7ebc","push_default_route":true},"mac_address":null,"private_network_id":"b091f113-e801-461d-8854-5ba2d3fa80fa","status":"created","updated_at":"2024-03-19T08:33:03.891429Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/551d57cb-de9b-4aa9-a02c-ab8fe7c95f9e
    method: GET
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2024-03-19T08:33:03.891429Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"1d9ae252-cd4d-44e9-89c5-329faf9775a8","id":"551d57cb-de9b-4aa9-a02c-ab8fe7c95f9e","ipam_config":{"ipam_ip_id":"616374c1-12af-42a8-988e-ab42fa9a7ebc","push_default_route":true},"mac_address":"02:00:00:19:31:63","private_network_id":"b091f113-e801-461d-8854-5ba2d3fa80fa","status":"ready","updated_at":"2024-03-19T08:33:16.051932Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"b091f113-e801-461d-8854-5ba2d3fa80fa"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.64.7/22","created_at":"2024-03-19T08:33:22.142165Z","id":"14f3e94d-4351-43b3-b086-204b79a0e000","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"f510bf70-3982-4a74-8df4-fc1ef841e891"},"tags":[],"updated_at":"2024-03-19T08:33:22.142165Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/14f3e94d-4351-43b3-b086-204b79a0e000
    method: GET
  response:
    body: '{"address":"172.16.64.7/22","created_at":"2024-03-19T08:33:22.142165Z","id":"14f3e94d-4351-43b3-b086-204b79a0e000","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"f510bf70-3982-4a74-8df4-fc1ef841e891"},"tags":[],"updated_at":"2024-03-19T08:33:22.142165Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/551d57cb-de9b-4aa9-a02c-ab8fe7c95f9e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/551d57cb-de9b-4aa9-a02c-ab8fe7c95f9e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"551d57cb-de9b-4aa9-a02c-ab8fe7c95f9e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1d9ae252-cd4d-44e9-89c5-329faf9775a8?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
