---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"6fd295cd-832c-498a-8723-6ef495ecb988","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:01:55.592100Z","updated_at":"2022-04-12T10:01:55.592100Z","tags":[],"address":"51.158.116.19","reverse":"19-116-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/6fd295cd-832c-498a-8723-6ef495ecb988
    method: GET
  response:
    body: '{"id":"6fd295cd-832c-498a-8723-6ef495ecb988","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:01:55.592100Z","updated_at":"2022-04-12T10:01:55.592100Z","tags":[],"address":"51.158.116.19","reverse":"19-116-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"6fd295cd-832c-498a-8723-6ef495ecb988"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"1f974709-052d-4f7f-9186-ecb3dd08030f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:01:55.836493Z","updated_at":"2022-04-12T10:01:55.836493Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6fd295cd-832c-498a-8723-6ef495ecb988","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:01:55.592100Z","updated_at":"2022-04-12T10:01:55.592100Z","tags":[],"address":"51.158.116.19","reverse":"19-116-158-51.instances.scw.cloud","gateway_id":"1f974709-052d-4f7f-9186-ecb3dd08030f","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1f974709-052d-4f7f-9186-ecb3dd08030f
    method: GET
  response:
    body: '{"id":"1f974709-052d-4f7f-9186-ecb3dd08030f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:01:55.836493Z","updated_at":"2022-04-12T10:01:55.890242Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6fd295cd-832c-498a-8723-6ef495ecb988","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:01:55.592100Z","updated_at":"2022-04-12T10:01:55.592100Z","tags":[],"address":"51.158.116.19","reverse":"19-116-158-51.instances.scw.cloud","gateway_id":"1f974709-052d-4f7f-9186-ecb3dd08030f","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1f974709-052d-4f7f-9186-ecb3dd08030f?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1f974709-052d-4f7f-9186-ecb3dd08030f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"1f974709-052d-4f7f-9186-ecb3dd08030f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
