---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"41c00749-974e-4dcf-abc3-3dc8d0096e13","name":"private-network-test","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:15:46.815923Z","updated_at":"2021-10-11T14:15:46.815923Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/41c00749-974e-4dcf-abc3-3dc8d0096e13
    method: GET
  response:
    body: '{"id":"41c00749-974e-4dcf-abc3-3dc8d0096e13","name":"private-network-test","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:15:46.815923Z","updated_at":"2021-10-11T14:15:46.815923Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/41c00749-974e-4dcf-abc3-3dc8d0096e13
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
