---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":true,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"d7b3a722-8f12-4a3f-b27d-126925ad2a22","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:51.454137Z","updated_at":"2022-03-23T16:39:51.454137Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"af802271-df09-41e1-a717-13d0a7b48c85","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:51.419881Z","updated_at":"2022-03-23T16:39:51.419881Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/d7b3a722-8f12-4a3f-b27d-126925ad2a22
    method: GET
  response:
    body: '{"id":"d7b3a722-8f12-4a3f-b27d-126925ad2a22","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:51.454137Z","updated_at":"2022-03-23T16:39:51.454137Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/af802271-df09-41e1-a717-13d0a7b48c85
    method: GET
  response:
    body: '{"id":"af802271-df09-41e1-a717-13d0a7b48c85","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:51.419881Z","updated_at":"2022-03-23T16:39:51.419881Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-sweet-faraday","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:52.262876Z","updated_at":"2022-03-23T16:39:52.262876Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-sweet-faraday","tags":[],"ip":{"id":"7f816508-0aa2-4a9d-a620-64f1d5570c9a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:52.245025Z","updated_at":"2022-03-23T16:39:52.245025Z","tags":[],"address":"163.172.179.168","reverse":"168-179-172-163.instances.scw.cloud","gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9378c935-3aa0-474b-bdb1-b4bec6158d18
    method: GET
  response:
    body: '{"id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:52.262876Z","updated_at":"2022-03-23T16:39:52.314805Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-sweet-faraday","tags":[],"ip":{"id":"7f816508-0aa2-4a9d-a620-64f1d5570c9a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:52.245025Z","updated_at":"2022-03-23T16:39:52.245025Z","tags":[],"address":"163.172.179.168","reverse":"168-179-172-163.instances.scw.cloud","gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","private_network_id":"af802271-df09-41e1-a717-13d0a7b48c85","enable_masquerade":true,"dhcp_id":"d7b3a722-8f12-4a3f-b27d-126925ad2a22","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"cdc33438-fda9-4518-8dc1-edd74beb67a3","created_at":"2022-03-23T16:39:58.787114Z","updated_at":"2022-03-23T16:39:58.787114Z","gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","private_network_id":"af802271-df09-41e1-a717-13d0a7b48c85","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"d7b3a722-8f12-4a3f-b27d-126925ad2a22","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:51.454137Z","updated_at":"2022-03-23T16:39:51.454137Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cdc33438-fda9-4518-8dc1-edd74beb67a3
    method: GET
  response:
    body: '{"id":"cdc33438-fda9-4518-8dc1-edd74beb67a3","created_at":"2022-03-23T16:39:58.787114Z","updated_at":"2022-03-23T16:40:04.982383Z","gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","private_network_id":"af802271-df09-41e1-a717-13d0a7b48c85","mac_address":"02:00:00:00:fb:fc","enable_masquerade":true,"status":"ready","dhcp":{"id":"d7b3a722-8f12-4a3f-b27d-126925ad2a22","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-03-23T16:39:51.454137Z","updated_at":"2022-03-23T16:39:51.454137Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"f7f8ae4f-3026-4029-a357-6c8271d26f7a","gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","created_at":"2022-03-23T16:40:09.785946Z","updated_at":"2022-03-23T16:40:09.785946Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/f7f8ae4f-3026-4029-a357-6c8271d26f7a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"f7f8ae4f-3026-4029-a357-6c8271d26f7a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/f7f8ae4f-3026-4029-a357-6c8271d26f7a
    method: GET
  response:
    body: '{"id":"f7f8ae4f-3026-4029-a357-6c8271d26f7a","gateway_id":"9378c935-3aa0-474b-bdb1-b4bec6158d18","created_at":"2022-03-23T16:40:09.785946Z","updated_at":"2022-03-23T16:40:09.785946Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cdc33438-fda9-4518-8dc1-edd74beb67a3?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9378c935-3aa0-474b-bdb1-b4bec6158d18?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
