---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"77b347b6-6449-44dd-a1e6-c7a81c37f888","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:22:48.916345Z","updated_at":"2021-10-05T14:22:48.916345Z","tags":[],"address":"163.172.174.5","reverse":"5-174-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/77b347b6-6449-44dd-a1e6-c7a81c37f888
    method: GET
  response:
    body: '{"id":"77b347b6-6449-44dd-a1e6-c7a81c37f888","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:22:48.916345Z","updated_at":"2021-10-05T14:22:48.916345Z","tags":[],"address":"163.172.174.5","reverse":"5-174-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"77b347b6-6449-44dd-a1e6-c7a81c37f888"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"50bd4d87-9f9c-49ef-9278-45145ec66166","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:22:49.146015Z","updated_at":"2021-10-05T14:22:49.146015Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"77b347b6-6449-44dd-a1e6-c7a81c37f888","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:22:48.916345Z","updated_at":"2021-10-05T14:22:48.916345Z","tags":[],"address":"163.172.174.5","reverse":"5-174-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/50bd4d87-9f9c-49ef-9278-45145ec66166
    method: GET
  response:
    body: '{"id":"50bd4d87-9f9c-49ef-9278-45145ec66166","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:22:49.146015Z","updated_at":"2021-10-05T14:22:49.146015Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"77b347b6-6449-44dd-a1e6-c7a81c37f888","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:22:48.916345Z","updated_at":"2021-10-05T14:22:48.916345Z","tags":[],"address":"163.172.174.5","reverse":"5-174-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/50bd4d87-9f9c-49ef-9278-45145ec66166?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/50bd4d87-9f9c-49ef-9278-45145ec66166
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"50bd4d87-9f9c-49ef-9278-45145ec66166","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
