---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-bastion-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":true,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"50cc03e2-294b-47d4-9222-77653519a542","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T09:18:42.640458Z","updated_at":"2022-07-28T09:18:42.640458Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-bastion-test","tags":[],"ip":{"id":"6c1759c6-59d8-4cd8-89a8-22a859d05d47","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T09:18:42.627643Z","updated_at":"2022-07-28T09:18:42.627643Z","tags":[],"address":"51.15.215.132","reverse":"132-215-15-51.instances.scw.cloud","gateway_id":"50cc03e2-294b-47d4-9222-77653519a542","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":true,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/50cc03e2-294b-47d4-9222-77653519a542
    method: GET
  response:
    body: '{"id":"50cc03e2-294b-47d4-9222-77653519a542","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T09:18:42.640458Z","updated_at":"2022-07-28T09:18:42.679055Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-bastion-test","tags":[],"ip":{"id":"6c1759c6-59d8-4cd8-89a8-22a859d05d47","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T09:18:42.627643Z","updated_at":"2022-07-28T09:18:42.627643Z","tags":[],"address":"51.15.215.132","reverse":"132-215-15-51.instances.scw.cloud","gateway_id":"50cc03e2-294b-47d4-9222-77653519a542","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":true,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/50cc03e2-294b-47d4-9222-77653519a542?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/50cc03e2-294b-47d4-9222-77653519a542
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"50cc03e2-294b-47d4-9222-77653519a542","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
