---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-09T13:37:36.961003Z","gateway_networks":[],"id":"1d76f56c-b8fe-46df-8db7-8566ca272424","ip":{"address":"51.15.247.18","created_at":"2023-11-09T13:37:36.938573Z","gateway_id":"1d76f56c-b8fe-46df-8db7-8566ca272424","id":"e5b683e7-984e-4d08-826f-904ec3564af2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"18-247-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-09T13:37:36.938573Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-09T13:37:36.961003Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1d76f56c-b8fe-46df-8db7-8566ca272424
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-09T13:37:36.961003Z","gateway_networks":[],"id":"1d76f56c-b8fe-46df-8db7-8566ca272424","ip":{"address":"51.15.247.18","created_at":"2023-11-09T13:37:36.938573Z","gateway_id":"1d76f56c-b8fe-46df-8db7-8566ca272424","id":"e5b683e7-984e-4d08-826f-904ec3564af2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"18-247-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-09T13:37:36.938573Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-09T13:37:37.000459Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1d76f56c-b8fe-46df-8db7-8566ca272424?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1d76f56c-b8fe-46df-8db7-8566ca272424
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"1d76f56c-b8fe-46df-8db7-8566ca272424","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test-zone","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-09T13:37:51.082812Z","gateway_networks":[],"id":"e0b6e9be-1c5a-40c7-bd9f-e733f89744cf","ip":{"address":"51.15.98.145","created_at":"2023-11-09T13:37:51.061338Z","gateway_id":"e0b6e9be-1c5a-40c7-bd9f-e733f89744cf","id":"1a50c0e2-ffac-42ca-8c1e-e9f2910e8a75","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"145-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-09T13:37:51.061338Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-09T13:37:51.082812Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/e0b6e9be-1c5a-40c7-bd9f-e733f89744cf
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-09T13:37:51.082812Z","gateway_networks":[],"id":"e0b6e9be-1c5a-40c7-bd9f-e733f89744cf","ip":{"address":"51.15.98.145","created_at":"2023-11-09T13:37:51.061338Z","gateway_id":"e0b6e9be-1c5a-40c7-bd9f-e733f89744cf","id":"1a50c0e2-ffac-42ca-8c1e-e9f2910e8a75","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"145-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-09T13:37:51.061338Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2023-11-09T13:37:51.133513Z","upstream_dns_servers":[],"version":"0.6.1","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/e0b6e9be-1c5a-40c7-bd9f-e733f89744cf?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
