---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"e9906c3a-6db1-4c4d-995f-b330ae64e9dc","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:01.784670Z","updated_at":"2021-10-13T16:17:01.784670Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/e9906c3a-6db1-4c4d-995f-b330ae64e9dc
    method: GET
  response:
    body: '{"id":"e9906c3a-6db1-4c4d-995f-b330ae64e9dc","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:01.784670Z","updated_at":"2021-10-13T16:17:01.784670Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"6af75560-9268-468b-b271-e7e8ce017586","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:02.459806Z","updated_at":"2021-10-13T16:17:02.459806Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/6af75560-9268-468b-b271-e7e8ce017586
    method: GET
  response:
    body: '{"id":"6af75560-9268-468b-b271-e7e8ce017586","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:02.459806Z","updated_at":"2021-10-13T16:17:02.459806Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"6af75560-9268-468b-b271-e7e8ce017586"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"7579f9c3-d140-4945-a833-44728df1bd91","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:02.926696Z","updated_at":"2021-10-13T16:17:02.926696Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6af75560-9268-468b-b271-e7e8ce017586","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:02.459806Z","updated_at":"2021-10-13T16:17:02.459806Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/7579f9c3-d140-4945-a833-44728df1bd91
    method: GET
  response:
    body: '{"id":"7579f9c3-d140-4945-a833-44728df1bd91","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:02.926696Z","updated_at":"2021-10-13T16:17:02.926696Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6af75560-9268-468b-b271-e7e8ce017586","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:17:02.459806Z","updated_at":"2021-10-13T16:17:02.459806Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"7579f9c3-d140-4945-a833-44728df1bd91","private_network_id":"e9906c3a-6db1-4c4d-995f-b330ae64e9dc","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"f9719743-059b-4235-a378-bbe7aaa4290b","created_at":"2021-10-13T16:17:33.419316Z","updated_at":"2021-10-13T16:17:33.419316Z","gateway_id":"7579f9c3-d140-4945-a833-44728df1bd91","private_network_id":"e9906c3a-6db1-4c4d-995f-b330ae64e9dc","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/f9719743-059b-4235-a378-bbe7aaa4290b
    method: GET
  response:
    body: '{"id":"f9719743-059b-4235-a378-bbe7aaa4290b","created_at":"2021-10-13T16:17:33.419316Z","updated_at":"2021-10-13T16:17:33.419316Z","gateway_id":"7579f9c3-d140-4945-a833-44728df1bd91","private_network_id":"e9906c3a-6db1-4c4d-995f-b330ae64e9dc","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/f9719743-059b-4235-a378-bbe7aaa4290b?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/7579f9c3-d140-4945-a833-44728df1bd91?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/f9719743-059b-4235-a378-bbe7aaa4290b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"f9719743-059b-4235-a378-bbe7aaa4290b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
