---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-bold-matsumoto","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-27T15:21:49.171349Z","id":"8d0fb613-4768-408a-ab43-1930c3ee9131","name":"tf-pn-bold-matsumoto","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.8.0/22","fd46:78ab:30b8:898b::/64"],"tags":[],"updated_at":"2023-06-27T15:21:49.171349Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/8d0fb613-4768-408a-ab43-1930c3ee9131
    method: GET
  response:
    body: '{"created_at":"2023-06-27T15:21:49.171349Z","id":"8d0fb613-4768-408a-ab43-1930c3ee9131","name":"tf-pn-bold-matsumoto","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.8.0/22","fd46:78ab:30b8:898b::/64"],"tags":[],"updated_at":"2023-06-27T15:21:49.171349Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a02a910b-bf27-4fbc-9135-a3d40bb4c7c5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"a02a910b-bf27-4fbc-9135-a3d40bb4c7c5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
