---
version: 1
interactions:
- request:
    body: '{"name":"test-vpc","default_private_network_name":"","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","vpc","update"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:19:27.268296Z","id":"5ed80669-d530-4e23-b666-cec2a90564d8","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-07-11T17:19:27.268296Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5ed80669-d530-4e23-b666-cec2a90564d8
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:19:27.268296Z","id":"5ed80669-d530-4e23-b666-cec2a90564d8","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-07-11T17:19:27.268296Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["tag0","tag1"],"subnets":["192.168.0.0/24","fd46:78ab:30b8:c7df::/64","fd46:78ab:30b8:177c::/64"],"vpc_id":"5ed80669-d530-4e23-b666-cec2a90564d8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:19:28.464085Z","dhcp_enabled":false,"id":"94cfc03b-2ac3-497f-91eb-a9d3342c525e","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:19:28.464085Z","id":"60f30a2a-becc-4143-b322-79ed6fd79599","subnet":"192.168.0.0/24","updated_at":"2023-07-11T17:19:28.464085Z"},{"created_at":"2023-07-11T17:19:28.464085Z","id":"fb052801-ebe3-4ff9-b4e7-6e45e00550c5","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-07-11T17:19:28.464085Z"},{"created_at":"2023-07-11T17:19:28.464085Z","id":"f607fa55-4f05-4b0f-9ccf-45760006f412","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-07-11T17:19:28.464085Z"}],"tags":["tag0","tag1"],"updated_at":"2023-07-11T17:19:28.464085Z","vpc_id":"5ed80669-d530-4e23-b666-cec2a90564d8"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/94cfc03b-2ac3-497f-91eb-a9d3342c525e
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:19:28.464085Z","dhcp_enabled":false,"id":"94cfc03b-2ac3-497f-91eb-a9d3342c525e","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:19:28.464085Z","id":"60f30a2a-becc-4143-b322-79ed6fd79599","subnet":"192.168.0.0/24","updated_at":"2023-07-11T17:19:28.464085Z"},{"created_at":"2023-07-11T17:19:28.464085Z","id":"fb052801-ebe3-4ff9-b4e7-6e45e00550c5","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-07-11T17:19:28.464085Z"},{"created_at":"2023-07-11T17:19:28.464085Z","id":"f607fa55-4f05-4b0f-9ccf-45760006f412","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-07-11T17:19:28.464085Z"}],"tags":["tag0","tag1"],"updated_at":"2023-07-11T17:19:28.464085Z","vpc_id":"5ed80669-d530-4e23-b666-cec2a90564d8"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/94cfc03b-2ac3-497f-91eb-a9d3342c525e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"94cfc03b-2ac3-497f-91eb-a9d3342c525e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
