---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"295809ae-52ce-4b50-9b64-30cbe3e59610","name":"private-network-test","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-19T16:25:11.806348Z","updated_at":"2020-10-19T16:25:11.806348Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/295809ae-52ce-4b50-9b64-30cbe3e59610
    method: GET
  response:
    body: '{"id":"295809ae-52ce-4b50-9b64-30cbe3e59610","name":"private-network-test","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-10-19T16:25:11.806348Z","updated_at":"2020-10-19T16:25:11.806348Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
