---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"72f55bfd-84ae-4e31-b86e-3c0ab4f4397c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:54:17.283114Z","updated_at":"2021-08-05T09:54:17.283114Z","tags":[],"address":"51.15.227.104","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/72f55bfd-84ae-4e31-b86e-3c0ab4f4397c
    method: GET
  response:
    body: '{"id":"72f55bfd-84ae-4e31-b86e-3c0ab4f4397c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:54:17.283114Z","updated_at":"2021-08-05T09:54:17.283114Z","tags":[],"address":"51.15.227.104","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"72f55bfd-84ae-4e31-b86e-3c0ab4f4397c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"8747038b-321c-4658-b33d-4053f5987f92","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:54:17.529654Z","updated_at":"2021-08-05T09:54:17.529654Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"72f55bfd-84ae-4e31-b86e-3c0ab4f4397c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:54:17.283114Z","updated_at":"2021-08-05T09:54:17.283114Z","tags":[],"address":"51.15.227.104","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/8747038b-321c-4658-b33d-4053f5987f92
    method: GET
  response:
    body: '{"id":"8747038b-321c-4658-b33d-4053f5987f92","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:54:17.529654Z","updated_at":"2021-08-05T09:54:17.566764Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"72f55bfd-84ae-4e31-b86e-3c0ab4f4397c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:54:17.283114Z","updated_at":"2021-08-05T09:54:17.283114Z","tags":[],"address":"51.15.227.104","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/8747038b-321c-4658-b33d-4053f5987f92
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"8747038b-321c-4658-b33d-4053f5987f92","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
