---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"30273c16-e0a1-40e6-8dc3-eb22f5ac37c6","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:51.160455Z","updated_at":"2021-08-04T14:29:51.160455Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/30273c16-e0a1-40e6-8dc3-eb22f5ac37c6
    method: GET
  response:
    body: '{"id":"30273c16-e0a1-40e6-8dc3-eb22f5ac37c6","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:51.160455Z","updated_at":"2021-08-04T14:29:51.160455Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"30273c16-e0a1-40e6-8dc3-eb22f5ac37c6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"854e6d79-0f54-4d53-8f48-c1ea3656495f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:51.408327Z","updated_at":"2021-08-04T14:29:51.408327Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"30273c16-e0a1-40e6-8dc3-eb22f5ac37c6","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:51.160455Z","updated_at":"2021-08-04T14:29:51.160455Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/854e6d79-0f54-4d53-8f48-c1ea3656495f
    method: GET
  response:
    body: '{"id":"854e6d79-0f54-4d53-8f48-c1ea3656495f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:51.408327Z","updated_at":"2021-08-04T14:29:51.463554Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"30273c16-e0a1-40e6-8dc3-eb22f5ac37c6","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:51.160455Z","updated_at":"2021-08-04T14:29:51.160455Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/854e6d79-0f54-4d53-8f48-c1ea3656495f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"854e6d79-0f54-4d53-8f48-c1ea3656495f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
