---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"2c5433cf-1d83-4577-8cfe-c6784b2c360b","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T14:51:39.284769Z","updated_at":"2022-03-18T14:51:39.284769Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2c5433cf-1d83-4577-8cfe-c6784b2c360b
    method: GET
  response:
    body: '{"id":"2c5433cf-1d83-4577-8cfe-c6784b2c360b","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T14:51:39.284769Z","updated_at":"2022-03-18T14:51:39.284769Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"510d97c3-9589-4f7b-878f-6186362f067c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T14:51:40.037495Z","updated_at":"2022-03-18T14:51:40.037495Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"f600081f-bc0e-47e7-8a49-dbc25d1e5d06","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T14:51:40.023453Z","updated_at":"2022-03-18T14:51:40.023453Z","tags":[],"address":"163.172.132.209","reverse":"209-132-172-163.instances.scw.cloud","gateway_id":"510d97c3-9589-4f7b-878f-6186362f067c","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/510d97c3-9589-4f7b-878f-6186362f067c
    method: GET
  response:
    body: '{"id":"510d97c3-9589-4f7b-878f-6186362f067c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T14:51:40.037495Z","updated_at":"2022-03-18T14:51:40.075850Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"f600081f-bc0e-47e7-8a49-dbc25d1e5d06","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-03-18T14:51:40.023453Z","updated_at":"2022-03-18T14:51:40.023453Z","tags":[],"address":"163.172.132.209","reverse":"209-132-172-163.instances.scw.cloud","gateway_id":"510d97c3-9589-4f7b-878f-6186362f067c","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"510d97c3-9589-4f7b-878f-6186362f067c","private_network_id":"2c5433cf-1d83-4577-8cfe-c6784b2c360b","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"9ccae0e6-51fb-4e2c-bfde-5baf78c3783c","created_at":"2022-03-18T14:53:40.561909Z","updated_at":"2022-03-18T14:53:40.561909Z","gateway_id":"510d97c3-9589-4f7b-878f-6186362f067c","private_network_id":"2c5433cf-1d83-4577-8cfe-c6784b2c360b","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9ccae0e6-51fb-4e2c-bfde-5baf78c3783c
    method: GET
  response:
    body: '{"id":"9ccae0e6-51fb-4e2c-bfde-5baf78c3783c","created_at":"2022-03-18T14:53:40.561909Z","updated_at":"2022-03-18T14:53:46.857679Z","gateway_id":"510d97c3-9589-4f7b-878f-6186362f067c","private_network_id":"2c5433cf-1d83-4577-8cfe-c6784b2c360b","mac_address":"02:00:00:00:f9:57","enable_masquerade":true,"status":"ready","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9ccae0e6-51fb-4e2c-bfde-5baf78c3783c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/510d97c3-9589-4f7b-878f-6186362f067c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9ccae0e6-51fb-4e2c-bfde-5baf78c3783c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"9ccae0e6-51fb-4e2c-bfde-5baf78c3783c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
