---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"20038247-726e-4a67-8a7d-f7dde36052cb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.110515Z","updated_at":"2022-04-12T10:09:21.110515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/20038247-726e-4a67-8a7d-f7dde36052cb
    method: GET
  response:
    body: '{"id":"20038247-726e-4a67-8a7d-f7dde36052cb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.110515Z","updated_at":"2022-04-12T10:09:21.110515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"2faa44c2-be61-4da3-ad7a-7205331d86ae","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.101179Z","updated_at":"2022-04-12T10:09:21.101179Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/2faa44c2-be61-4da3-ad7a-7205331d86ae
    method: GET
  response:
    body: '{"id":"2faa44c2-be61-4da3-ad7a-7205331d86ae","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.101179Z","updated_at":"2022-04-12T10:09:21.101179Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"e95fcc92-5e9e-40af-9539-f336f6ffb532","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.815277Z","updated_at":"2022-04-12T10:09:21.815277Z","tags":[],"address":"51.158.100.153","reverse":"153-100-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/e95fcc92-5e9e-40af-9539-f336f6ffb532
    method: GET
  response:
    body: '{"id":"e95fcc92-5e9e-40af-9539-f336f6ffb532","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.815277Z","updated_at":"2022-04-12T10:09:21.815277Z","tags":[],"address":"51.158.100.153","reverse":"153-100-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"e95fcc92-5e9e-40af-9539-f336f6ffb532"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"b7cd15b2-ccac-4707-9227-2baad9683c0b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:23.103844Z","updated_at":"2022-04-12T10:09:23.103844Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"e95fcc92-5e9e-40af-9539-f336f6ffb532","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.815277Z","updated_at":"2022-04-12T10:09:21.815277Z","tags":[],"address":"51.158.100.153","reverse":"153-100-158-51.instances.scw.cloud","gateway_id":"b7cd15b2-ccac-4707-9227-2baad9683c0b","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b7cd15b2-ccac-4707-9227-2baad9683c0b
    method: GET
  response:
    body: '{"id":"b7cd15b2-ccac-4707-9227-2baad9683c0b","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:23.103844Z","updated_at":"2022-04-12T10:09:23.139132Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"e95fcc92-5e9e-40af-9539-f336f6ffb532","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.815277Z","updated_at":"2022-04-12T10:09:21.815277Z","tags":[],"address":"51.158.100.153","reverse":"153-100-158-51.instances.scw.cloud","gateway_id":"b7cd15b2-ccac-4707-9227-2baad9683c0b","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"b7cd15b2-ccac-4707-9227-2baad9683c0b","private_network_id":"2faa44c2-be61-4da3-ad7a-7205331d86ae","enable_masquerade":true,"dhcp_id":"20038247-726e-4a67-8a7d-f7dde36052cb","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"37d5c494-ca2c-452a-8dd2-e5e58a6f30e5","created_at":"2022-04-12T10:09:28.510475Z","updated_at":"2022-04-12T10:09:28.510475Z","gateway_id":"b7cd15b2-ccac-4707-9227-2baad9683c0b","private_network_id":"2faa44c2-be61-4da3-ad7a-7205331d86ae","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"20038247-726e-4a67-8a7d-f7dde36052cb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.110515Z","updated_at":"2022-04-12T10:09:21.110515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/37d5c494-ca2c-452a-8dd2-e5e58a6f30e5
    method: GET
  response:
    body: '{"id":"37d5c494-ca2c-452a-8dd2-e5e58a6f30e5","created_at":"2022-04-12T10:09:28.510475Z","updated_at":"2022-04-12T10:09:34.635602Z","gateway_id":"b7cd15b2-ccac-4707-9227-2baad9683c0b","private_network_id":"2faa44c2-be61-4da3-ad7a-7205331d86ae","mac_address":"02:00:00:01:0f:f8","enable_masquerade":true,"status":"ready","dhcp":{"id":"20038247-726e-4a67-8a7d-f7dde36052cb","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:09:21.110515Z","updated_at":"2022-04-12T10:09:21.110515Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/37d5c494-ca2c-452a-8dd2-e5e58a6f30e5?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/37d5c494-ca2c-452a-8dd2-e5e58a6f30e5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"37d5c494-ca2c-452a-8dd2-e5e58a6f30e5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b7cd15b2-ccac-4707-9227-2baad9683c0b?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
