---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-great-noyce","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"],"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:19:13.981386Z","dhcp_enabled":false,"id":"4600e228-58e5-4b32-b39f-adde4646e014","name":"tf-pn-great-noyce","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:19:13.981386Z","id":"cf1c5091-75d5-4383-856b-869de6623083","subnet":"172.16.32.0/22","updated_at":"2023-07-11T17:19:13.981386Z"},{"created_at":"2023-07-11T17:19:13.981386Z","id":"3e1b90eb-4737-48a8-8ebf-a4d20a3f41c0","subnet":"fd46:78ab:30b8:9e87::/64","updated_at":"2023-07-11T17:19:13.981386Z"}],"tags":[],"updated_at":"2023-07-11T17:19:13.981386Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4600e228-58e5-4b32-b39f-adde4646e014
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:19:13.981386Z","dhcp_enabled":false,"id":"4600e228-58e5-4b32-b39f-adde4646e014","name":"tf-pn-great-noyce","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:19:13.981386Z","id":"cf1c5091-75d5-4383-856b-869de6623083","subnet":"172.16.32.0/22","updated_at":"2023-07-11T17:19:13.981386Z"},{"created_at":"2023-07-11T17:19:13.981386Z","id":"3e1b90eb-4737-48a8-8ebf-a4d20a3f41c0","subnet":"fd46:78ab:30b8:9e87::/64","updated_at":"2023-07-11T17:19:13.981386Z"}],"tags":[],"updated_at":"2023-07-11T17:19:13.981386Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4600e228-58e5-4b32-b39f-adde4646e014
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"4600e228-58e5-4b32-b39f-adde4646e014","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
