---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-admiring-payne","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-13T17:57:50.746572Z","id":"ea98a55f-7139-4438-8f84-ebd4fe5789ec","name":"tf-pn-admiring-payne","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.0.0/22","fd21:e31e:86f0:e22b::/64"],"tags":[],"updated_at":"2023-05-13T17:57:50.746572Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/ea98a55f-7139-4438-8f84-ebd4fe5789ec
    method: GET
  response:
    body: '{"created_at":"2023-05-13T17:57:50.746572Z","id":"ea98a55f-7139-4438-8f84-ebd4fe5789ec","name":"tf-pn-admiring-payne","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.0.0/22","fd21:e31e:86f0:e22b::/64"],"tags":[],"updated_at":"2023-05-13T17:57:50.746572Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/9c54e8a1-efcc-4740-88eb-1c84e94cb0c6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"9c54e8a1-efcc-4740-88eb-1c84e94cb0c6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
