---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"84bf10cd-a105-4975-b150-134c6bb51bc1","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:36.691394Z","updated_at":"2021-08-04T14:29:36.691394Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/84bf10cd-a105-4975-b150-134c6bb51bc1
    method: GET
  response:
    body: '{"id":"84bf10cd-a105-4975-b150-134c6bb51bc1","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:36.691394Z","updated_at":"2021-08-04T14:29:36.691394Z","tags":[],"address":"163.172.166.18","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["tag0","tag1"],"reverse":"example.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/84bf10cd-a105-4975-b150-134c6bb51bc1
    method: PATCH
  response:
    body: '{"id":"84bf10cd-a105-4975-b150-134c6bb51bc1","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T14:29:36.691394Z","updated_at":"2021-08-04T14:29:38.713093Z","tags":["tag0","tag1"],"address":"163.172.166.18","reverse":"example.com","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/84bf10cd-a105-4975-b150-134c6bb51bc1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"84bf10cd-a105-4975-b150-134c6bb51bc1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
