---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-12T15:59:51.137464Z","id":"d5fd6896-8bcf-46e1-8e91-19b5f829b2c6","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.8.0/22","fd21:e31e:86f0:9d12::/64"],"tags":[],"updated_at":"2023-05-12T15:59:51.137464Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d5fd6896-8bcf-46e1-8e91-19b5f829b2c6
    method: GET
  response:
    body: '{"created_at":"2023-05-12T15:59:51.137464Z","id":"d5fd6896-8bcf-46e1-8e91-19b5f829b2c6","name":"private-network-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.8.0/22","fd21:e31e:86f0:9d12::/64"],"tags":[],"updated_at":"2023-05-12T15:59:51.137464Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d5fd6896-8bcf-46e1-8e91-19b5f829b2c6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"d5fd6896-8bcf-46e1-8e91-19b5f829b2c6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
