---
version: 1
interactions:
- request:
    body: '{"name":"test-vpc","default_private_network_name":"","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","vpc","update"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-07-12T07:40:51.839302Z","id":"e9e843c1-5132-4ddc-b8f5-facc2cc2d911","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-07-12T07:40:51.839302Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e9e843c1-5132-4ddc-b8f5-facc2cc2d911
    method: GET
  response:
    body: '{"created_at":"2023-07-12T07:40:51.839302Z","id":"e9e843c1-5132-4ddc-b8f5-facc2cc2d911","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-07-12T07:40:51.839302Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["tag0","tag1"],"subnets":["192.168.0.0/24","fd46:78ab:30b8:c7df::/64","fd46:78ab:30b8:177c::/64"],"vpc_id":"e9e843c1-5132-4ddc-b8f5-facc2cc2d911"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-12T07:40:52.062448Z","dhcp_enabled":false,"id":"e6d57b8e-efbd-4867-89d1-f661e5e05c81","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:40:52.062448Z","id":"a06b34ea-c613-4326-8a57-a575dbeb47da","subnet":"192.168.0.0/24","updated_at":"2023-07-12T07:40:52.062448Z"},{"created_at":"2023-07-12T07:40:52.062448Z","id":"6973e285-af2b-466b-938b-f66302630c42","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-07-12T07:40:52.062448Z"},{"created_at":"2023-07-12T07:40:52.062448Z","id":"b44c4657-7b88-4cd6-bbcd-b6e51d02f301","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-07-12T07:40:52.062448Z"}],"tags":["tag0","tag1"],"updated_at":"2023-07-12T07:40:52.062448Z","vpc_id":"e9e843c1-5132-4ddc-b8f5-facc2cc2d911"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e6d57b8e-efbd-4867-89d1-f661e5e05c81
    method: GET
  response:
    body: '{"created_at":"2023-07-12T07:40:52.062448Z","dhcp_enabled":false,"id":"e6d57b8e-efbd-4867-89d1-f661e5e05c81","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:40:52.062448Z","id":"a06b34ea-c613-4326-8a57-a575dbeb47da","subnet":"192.168.0.0/24","updated_at":"2023-07-12T07:40:52.062448Z"},{"created_at":"2023-07-12T07:40:52.062448Z","id":"6973e285-af2b-466b-938b-f66302630c42","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-07-12T07:40:52.062448Z"},{"created_at":"2023-07-12T07:40:52.062448Z","id":"b44c4657-7b88-4cd6-bbcd-b6e51d02f301","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-07-12T07:40:52.062448Z"}],"tags":["tag0","tag1"],"updated_at":"2023-07-12T07:40:52.062448Z","vpc_id":"e9e843c1-5132-4ddc-b8f5-facc2cc2d911"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e6d57b8e-efbd-4867-89d1-f661e5e05c81
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"e6d57b8e-efbd-4867-89d1-f661e5e05c81","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
