---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"b76b2ef6-2e49-4220-99c1-10523b3bdf94","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.053187Z","updated_at":"2021-10-11T16:21:49.053187Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"d981349c-d290-4569-b46f-97eeb6711fe6","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.018718Z","updated_at":"2021-10-11T16:21:49.018718Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/b76b2ef6-2e49-4220-99c1-10523b3bdf94
    method: GET
  response:
    body: '{"id":"b76b2ef6-2e49-4220-99c1-10523b3bdf94","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.053187Z","updated_at":"2021-10-11T16:21:49.053187Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d981349c-d290-4569-b46f-97eeb6711fe6
    method: GET
  response:
    body: '{"id":"d981349c-d290-4569-b46f-97eeb6711fe6","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.018718Z","updated_at":"2021-10-11T16:21:49.018718Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"tf-pn-kind-lalande","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.691897Z","updated_at":"2021-10-11T16:21:49.691897Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-kind-lalande","tags":[],"ip":{"id":"82966fc1-c426-4d49-b520-2c2d5c7b148e","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.670572Z","updated_at":"2021-10-11T16:21:49.670572Z","tags":[],"address":"212.47.229.167","reverse":"167-229-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26
    method: GET
  response:
    body: '{"id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.691897Z","updated_at":"2021-10-11T16:21:49.867386Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"configuring","name":"tf-pn-kind-lalande","tags":[],"ip":{"id":"82966fc1-c426-4d49-b520-2c2d5c7b148e","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.670572Z","updated_at":"2021-10-11T16:21:49.670572Z","tags":[],"address":"212.47.229.167","reverse":"167-229-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.13","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","private_network_id":"d981349c-d290-4569-b46f-97eeb6711fe6","enable_masquerade":false,"dhcp_id":"b76b2ef6-2e49-4220-99c1-10523b3bdf94","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"a244df2a-be06-438f-9fef-673c5e7c878e","created_at":"2021-10-11T16:22:20.401687Z","updated_at":"2021-10-11T16:22:20.401687Z","gateway_id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","private_network_id":"d981349c-d290-4569-b46f-97eeb6711fe6","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"b76b2ef6-2e49-4220-99c1-10523b3bdf94","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.053187Z","updated_at":"2021-10-11T16:21:49.053187Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/a244df2a-be06-438f-9fef-673c5e7c878e
    method: GET
  response:
    body: '{"id":"a244df2a-be06-438f-9fef-673c5e7c878e","created_at":"2021-10-11T16:22:20.401687Z","updated_at":"2021-10-11T16:22:20.401687Z","gateway_id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","private_network_id":"d981349c-d290-4569-b46f-97eeb6711fe6","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"b76b2ef6-2e49-4220-99c1-10523b3bdf94","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T16:21:49.053187Z","updated_at":"2021-10-11T16:21:49.053187Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"8d8452b7-65f6-4fbc-843a-8248d1d757b8","gateway_id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","created_at":"2021-10-11T16:22:38.104415Z","updated_at":"2021-10-11T16:22:38.104415Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/8d8452b7-65f6-4fbc-843a-8248d1d757b8
    method: GET
  response:
    body: '{"id":"8d8452b7-65f6-4fbc-843a-8248d1d757b8","gateway_id":"e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26","created_at":"2021-10-11T16:22:38.104415Z","updated_at":"2021-10-11T16:22:38.104415Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/a244df2a-be06-438f-9fef-673c5e7c878e?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/b76b2ef6-2e49-4220-99c1-10523b3bdf94
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"b76b2ef6-2e49-4220-99c1-10523b3bdf94","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/e3ccc4f8-c2f5-45d3-82cf-1fb4cff3dc26?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/d981349c-d290-4569-b46f-97eeb6711fe6
    method: DELETE
  response:
    body: '{"help_message":"Private Network must be empty to be deleted","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
