---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"ccb7d374-59c0-4957-a614-a4fddd08f6ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:39.157797Z","updated_at":"2022-11-21T10:48:39.157797Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"7217e012-2eb3-415f-b6d3-67785f63678e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:39.141854Z","updated_at":"2022-11-21T10:48:39.141854Z","tags":[],"address":"51.15.213.59","reverse":"59-213-15-51.instances.scw.cloud","gateway_id":"ccb7d374-59c0-4957-a614-a4fddd08f6ca","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ccb7d374-59c0-4957-a614-a4fddd08f6ca
    method: GET
  response:
    body: '{"id":"ccb7d374-59c0-4957-a614-a4fddd08f6ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:39.157797Z","updated_at":"2022-11-21T10:48:39.157797Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"7217e012-2eb3-415f-b6d3-67785f63678e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:39.141854Z","updated_at":"2022-11-21T10:48:39.141854Z","tags":[],"address":"51.15.213.59","reverse":"59-213-15-51.instances.scw.cloud","gateway_id":"ccb7d374-59c0-4957-a614-a4fddd08f6ca","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ccb7d374-59c0-4957-a614-a4fddd08f6ca?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ccb7d374-59c0-4957-a614-a4fddd08f6ca
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"ccb7d374-59c0-4957-a614-a4fddd08f6ca","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test-zone","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
    method: POST
  response:
    body: '{"id":"e4fe0927-615b-4dca-af45-a0deecf53d2f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:52.844489Z","updated_at":"2022-11-21T10:48:52.844489Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"public-gateway-test-zone","tags":[],"ip":{"id":"28bb517f-1544-4703-b6df-ade09bf3893d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:52.825897Z","updated_at":"2022-11-21T10:48:52.825897Z","tags":[],"address":"51.15.84.30","reverse":"30-84-15-51.instances.scw.cloud","gateway_id":"e4fe0927-615b-4dca-af45-a0deecf53d2f","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/e4fe0927-615b-4dca-af45-a0deecf53d2f
    method: GET
  response:
    body: '{"id":"e4fe0927-615b-4dca-af45-a0deecf53d2f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:52.844489Z","updated_at":"2022-11-21T10:48:52.896032Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"nl-ams-1"},"status":"stopped","name":"public-gateway-test-zone","tags":[],"ip":{"id":"28bb517f-1544-4703-b6df-ade09bf3893d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-11-21T10:48:52.825897Z","updated_at":"2022-11-21T10:48:52.825897Z","tags":[],"address":"51.15.84.30","reverse":"30-84-15-51.instances.scw.cloud","gateway_id":"e4fe0927-615b-4dca-af45-a0deecf53d2f","zone":"nl-ams-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/e4fe0927-615b-4dca-af45-a0deecf53d2f?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
