---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"513bfedf-c1d4-4194-b601-a20b1ef8b9ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:55.771814Z","updated_at":"2022-01-27T14:15:55.771814Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"1e786a03-e0fe-44ce-a40d-66a9c9000755","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:55.754606Z","updated_at":"2022-01-27T14:15:55.754606Z","tags":[],"address":"163.172.147.71","reverse":"71-147-172-163.instances.scw.cloud","gateway_id":"513bfedf-c1d4-4194-b601-a20b1ef8b9ac","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/513bfedf-c1d4-4194-b601-a20b1ef8b9ac
    method: GET
  response:
    body: '{"id":"513bfedf-c1d4-4194-b601-a20b1ef8b9ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:55.771814Z","updated_at":"2022-01-27T14:15:55.807714Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"1e786a03-e0fe-44ce-a40d-66a9c9000755","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:55.754606Z","updated_at":"2022-01-27T14:15:55.754606Z","tags":[],"address":"163.172.147.71","reverse":"71-147-172-163.instances.scw.cloud","gateway_id":"513bfedf-c1d4-4194-b601-a20b1ef8b9ac","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/3c7fa6c7-b8ce-4291-a8ff-7644294aef01
    method: GET
  response:
    body: '{"id":"3c7fa6c7-b8ce-4291-a8ff-7644294aef01","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:59.974784Z","updated_at":"2022-01-27T14:15:59.974784Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"513bfedf-c1d4-4194-b601-a20b1ef8b9ac","private_network_id":"3c7fa6c7-b8ce-4291-a8ff-7644294aef01","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"fc890710-4dad-4712-b94b-5ecdbdd7da75","created_at":"2022-01-27T14:16:00.407150Z","updated_at":"2022-01-27T14:16:00.407150Z","gateway_id":"513bfedf-c1d4-4194-b601-a20b1ef8b9ac","private_network_id":"3c7fa6c7-b8ce-4291-a8ff-7644294aef01","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/fc890710-4dad-4712-b94b-5ecdbdd7da75
    method: GET
  response:
    body: '{"id":"fc890710-4dad-4712-b94b-5ecdbdd7da75","created_at":"2022-01-27T14:16:00.407150Z","updated_at":"2022-01-27T14:16:06.493660Z","gateway_id":"513bfedf-c1d4-4194-b601-a20b1ef8b9ac","private_network_id":"3c7fa6c7-b8ce-4291-a8ff-7644294aef01","mac_address":"02:00:00:00:d4:e5","enable_masquerade":true,"status":"ready","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/fc890710-4dad-4712-b94b-5ecdbdd7da75?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/513bfedf-c1d4-4194-b601-a20b1ef8b9ac?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/fc890710-4dad-4712-b94b-5ecdbdd7da75
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"fc890710-4dad-4712-b94b-5ecdbdd7da75","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
