---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"51.15.128.137","created_at":"2023-10-16T16:27:46.267387Z","gateway_id":null,"id":"e1e3f9b6-5735-4968-b84a-978ddc0c36a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"137-128-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-16T16:27:46.267387Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/e1e3f9b6-5735-4968-b84a-978ddc0c36a3
    method: GET
  response:
    body: '{"address":"51.15.128.137","created_at":"2023-10-16T16:27:46.267387Z","gateway_id":null,"id":"e1e3f9b6-5735-4968-b84a-978ddc0c36a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"137-128-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-16T16:27:46.267387Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"e1e3f9b6-5735-4968-b84a-978ddc0c36a3","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-16T16:27:46.605442Z","gateway_networks":[],"id":"d3eb6397-6a05-4c88-baf0-6eaea620267a","ip":{"address":"51.15.128.137","created_at":"2023-10-16T16:27:46.267387Z","gateway_id":"d3eb6397-6a05-4c88-baf0-6eaea620267a","id":"e1e3f9b6-5735-4968-b84a-978ddc0c36a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"137-128-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-16T16:27:46.267387Z","zone":"fr-par-1"},"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-16T16:27:46.605442Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d3eb6397-6a05-4c88-baf0-6eaea620267a
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-16T16:27:46.605442Z","gateway_networks":[],"id":"d3eb6397-6a05-4c88-baf0-6eaea620267a","ip":{"address":"51.15.128.137","created_at":"2023-10-16T16:27:46.267387Z","gateway_id":"d3eb6397-6a05-4c88-baf0-6eaea620267a","id":"e1e3f9b6-5735-4968-b84a-978ddc0c36a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"137-128-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-16T16:27:46.267387Z","zone":"fr-par-1"},"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-16T16:27:46.648292Z","upstream_dns_servers":[],"version":"0.6.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d3eb6397-6a05-4c88-baf0-6eaea620267a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d3eb6397-6a05-4c88-baf0-6eaea620267a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"d3eb6397-6a05-4c88-baf0-6eaea620267a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
