---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"51.158.122.108","created_at":"2023-05-09T15:28:50.325566Z","gateway_id":null,"id":"2e6cb77f-6496-41b2-b4fa-6bcaa5713665","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"108-122-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:28:50.325566Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/2e6cb77f-6496-41b2-b4fa-6bcaa5713665
    method: GET
  response:
    body: '{"address":"51.158.122.108","created_at":"2023-05-09T15:28:50.325566Z","gateway_id":null,"id":"2e6cb77f-6496-41b2-b4fa-6bcaa5713665","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"108-122-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:28:50.325566Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/2e6cb77f-6496-41b2-b4fa-6bcaa5713665
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"2e6cb77f-6496-41b2-b4fa-6bcaa5713665","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
