---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-06T13:59:22.792588Z","id":"0ede1bcd-e0b0-4565-a4c8-9af59197355e","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.8.0/22","fd46:78ab:30b8:c2bc::/64"],"tags":[],"updated_at":"2023-06-06T13:59:22.792588Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/0ede1bcd-e0b0-4565-a4c8-9af59197355e
    method: GET
  response:
    body: '{"created_at":"2023-06-06T13:59:22.792588Z","id":"0ede1bcd-e0b0-4565-a4c8-9af59197355e","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.8.0/22","fd46:78ab:30b8:c2bc::/64"],"tags":[],"updated_at":"2023-06-06T13:59:22.792588Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/0ede1bcd-e0b0-4565-a4c8-9af59197355e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"0ede1bcd-e0b0-4565-a4c8-9af59197355e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
