---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"e06e7142-e304-4d70-be88-17c28b7ae651","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:34.633493Z","updated_at":"2021-12-08T13:09:34.633493Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/e06e7142-e304-4d70-be88-17c28b7ae651
    method: GET
  response:
    body: '{"id":"e06e7142-e304-4d70-be88-17c28b7ae651","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:34.633493Z","updated_at":"2021-12-08T13:09:34.633493Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-mystifying-maxwell","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:35.907010Z","updated_at":"2021-12-08T13:09:35.907010Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-mystifying-maxwell","tags":[],"ip":{"id":"374d2f73-ed01-4991-af44-c5057ab6aa69","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:35.897905Z","updated_at":"2021-12-08T13:09:35.897905Z","tags":[],"address":"51.15.195.159","reverse":"159-195-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/c075dbf6-131c-46fb-b824-bafe0606fbfe
    method: GET
  response:
    body: '{"id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:35.907010Z","updated_at":"2021-12-08T13:09:35.942070Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-mystifying-maxwell","tags":[],"ip":{"id":"374d2f73-ed01-4991-af44-c5057ab6aa69","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:35.897905Z","updated_at":"2021-12-08T13:09:35.897905Z","tags":[],"address":"51.15.195.159","reverse":"159-195-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/fa51a4d1-57b4-4abd-83c2-4a7bb3010921
    method: GET
  response:
    body: '{"id":"fa51a4d1-57b4-4abd-83c2-4a7bb3010921","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:36.671211Z","updated_at":"2021-12-08T13:09:36.671211Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","private_network_id":"fa51a4d1-57b4-4abd-83c2-4a7bb3010921","enable_masquerade":true,"dhcp_id":"e06e7142-e304-4d70-be88-17c28b7ae651","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"5a6c2ecb-1f39-4fa3-8d1f-205d35d441e2","created_at":"2021-12-08T13:09:37.047714Z","updated_at":"2021-12-08T13:09:37.047714Z","gateway_id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","private_network_id":"fa51a4d1-57b4-4abd-83c2-4a7bb3010921","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"e06e7142-e304-4d70-be88-17c28b7ae651","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:34.633493Z","updated_at":"2021-12-08T13:09:34.633493Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/5a6c2ecb-1f39-4fa3-8d1f-205d35d441e2
    method: GET
  response:
    body: '{"id":"5a6c2ecb-1f39-4fa3-8d1f-205d35d441e2","created_at":"2021-12-08T13:09:37.047714Z","updated_at":"2021-12-08T13:09:37.047714Z","gateway_id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","private_network_id":"fa51a4d1-57b4-4abd-83c2-4a7bb3010921","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"e06e7142-e304-4d70-be88-17c28b7ae651","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:34.633493Z","updated_at":"2021-12-08T13:09:34.633493Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"5ecf152f-e586-4b28-88bf-cffab85dc6d0","gateway_id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","created_at":"2021-12-08T13:09:45.506184Z","updated_at":"2021-12-08T13:09:45.506184Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/5ecf152f-e586-4b28-88bf-cffab85dc6d0
    method: GET
  response:
    body: '{"id":"5ecf152f-e586-4b28-88bf-cffab85dc6d0","gateway_id":"c075dbf6-131c-46fb-b824-bafe0606fbfe","created_at":"2021-12-08T13:09:45.506184Z","updated_at":"2021-12-08T13:09:45.506184Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/5a6c2ecb-1f39-4fa3-8d1f-205d35d441e2?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/e06e7142-e304-4d70-be88-17c28b7ae651
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"e06e7142-e304-4d70-be88-17c28b7ae651","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/c075dbf6-131c-46fb-b824-bafe0606fbfe?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
