---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:11:37.794173Z","dhcp_enabled":false,"id":"4cc2ec23-6bf2-44a2-9fd9-da942d9b2e75","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:11:37.794173Z","id":"a3f2226e-af7d-4b43-8285-3623dfac793d","subnet":"172.16.84.0/22","updated_at":"2023-07-11T17:11:37.794173Z"},{"created_at":"2023-07-11T17:11:37.794173Z","id":"87798079-7abe-4fef-9a8c-bbc403d4fd9d","subnet":"fd46:78ab:30b8:fd9d::/64","updated_at":"2023-07-11T17:11:37.794173Z"}],"tags":[],"updated_at":"2023-07-11T17:11:37.794173Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4cc2ec23-6bf2-44a2-9fd9-da942d9b2e75
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:11:37.794173Z","dhcp_enabled":false,"id":"4cc2ec23-6bf2-44a2-9fd9-da942d9b2e75","name":"private-network-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:11:37.794173Z","id":"a3f2226e-af7d-4b43-8285-3623dfac793d","subnet":"172.16.84.0/22","updated_at":"2023-07-11T17:11:37.794173Z"},{"created_at":"2023-07-11T17:11:37.794173Z","id":"87798079-7abe-4fef-9a8c-bbc403d4fd9d","subnet":"fd46:78ab:30b8:fd9d::/64","updated_at":"2023-07-11T17:11:37.794173Z"}],"tags":[],"updated_at":"2023-07-11T17:11:37.794173Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4cc2ec23-6bf2-44a2-9fd9-da942d9b2e75
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"4cc2ec23-6bf2-44a2-9fd9-da942d9b2e75","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
