---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"1b0345e4-2fdc-4570-bf23-5d4afafa331a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T13:17:39.408009Z","updated_at":"2021-08-04T13:17:39.408009Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"0eabf7dc-f67b-435f-b097-b3ac2094e0b0","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T13:17:39.380185Z","updated_at":"2021-08-04T13:17:39.380185Z","tags":[],"address":"51.15.199.180","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/1b0345e4-2fdc-4570-bf23-5d4afafa331a
    method: GET
  response:
    body: '{"id":"1b0345e4-2fdc-4570-bf23-5d4afafa331a","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T13:17:39.408009Z","updated_at":"2021-08-04T13:17:39.459441Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"0eabf7dc-f67b-435f-b097-b3ac2094e0b0","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-04T13:17:39.380185Z","updated_at":"2021-08-04T13:17:39.380185Z","tags":[],"address":"51.15.199.180","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/1b0345e4-2fdc-4570-bf23-5d4afafa331a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"1b0345e4-2fdc-4570-bf23-5d4afafa331a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
