---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":true,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":true,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"e223a249-f3b8-449b-95c4-4af768f7716f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:01.918905Z","updated_at":"2022-01-27T14:16:01.918905Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"327d0954-0ab4-49ed-986a-37eb82dfb7b4","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:01.885120Z","updated_at":"2022-01-27T14:16:01.885120Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/e223a249-f3b8-449b-95c4-4af768f7716f
    method: GET
  response:
    body: '{"id":"e223a249-f3b8-449b-95c4-4af768f7716f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:01.918905Z","updated_at":"2022-01-27T14:16:01.918905Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/327d0954-0ab4-49ed-986a-37eb82dfb7b4
    method: GET
  response:
    body: '{"id":"327d0954-0ab4-49ed-986a-37eb82dfb7b4","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:01.885120Z","updated_at":"2022-01-27T14:16:01.885120Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-sweet-beaver","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:02.616674Z","updated_at":"2022-01-27T14:16:02.616674Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-sweet-beaver","tags":[],"ip":{"id":"a220a9b3-cea2-4990-96af-c8c051a62782","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:02.605812Z","updated_at":"2022-01-27T14:16:02.605812Z","tags":[],"address":"51.15.192.146","reverse":"146-192-15-51.instances.scw.cloud","gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/07350ba4-a80a-4ce0-9888-366c7925b8c1
    method: GET
  response:
    body: '{"id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:02.616674Z","updated_at":"2022-01-27T14:16:02.616674Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-sweet-beaver","tags":[],"ip":{"id":"a220a9b3-cea2-4990-96af-c8c051a62782","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:02.605812Z","updated_at":"2022-01-27T14:16:02.605812Z","tags":[],"address":"51.15.192.146","reverse":"146-192-15-51.instances.scw.cloud","gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","private_network_id":"327d0954-0ab4-49ed-986a-37eb82dfb7b4","enable_masquerade":true,"dhcp_id":"e223a249-f3b8-449b-95c4-4af768f7716f","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"383e77cc-2702-4575-bfea-5b5cf4b522ce","created_at":"2022-01-27T14:18:04.099236Z","updated_at":"2022-01-27T14:18:04.099236Z","gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","private_network_id":"327d0954-0ab4-49ed-986a-37eb82dfb7b4","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"e223a249-f3b8-449b-95c4-4af768f7716f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:01.918905Z","updated_at":"2022-01-27T14:16:01.918905Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/383e77cc-2702-4575-bfea-5b5cf4b522ce
    method: GET
  response:
    body: '{"id":"383e77cc-2702-4575-bfea-5b5cf4b522ce","created_at":"2022-01-27T14:18:04.099236Z","updated_at":"2022-01-27T14:18:10.436336Z","gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","private_network_id":"327d0954-0ab4-49ed-986a-37eb82dfb7b4","mac_address":"02:00:00:00:d4:e7","enable_masquerade":true,"status":"ready","dhcp":{"id":"e223a249-f3b8-449b-95c4-4af768f7716f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:01.918905Z","updated_at":"2022-01-27T14:16:01.918905Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"29a9f122-8169-443e-9797-75505ac1db9c","gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","created_at":"2022-01-27T14:20:04.809253Z","updated_at":"2022-01-27T14:20:04.809253Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/29a9f122-8169-443e-9797-75505ac1db9c
    method: GET
  response:
    body: '{"id":"29a9f122-8169-443e-9797-75505ac1db9c","gateway_id":"07350ba4-a80a-4ce0-9888-366c7925b8c1","created_at":"2022-01-27T14:20:04.809253Z","updated_at":"2022-01-27T14:20:04.809253Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/383e77cc-2702-4575-bfea-5b5cf4b522ce?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/e223a249-f3b8-449b-95c4-4af768f7716f
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"e223a249-f3b8-449b-95c4-4af768f7716f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/07350ba4-a80a-4ce0-9888-366c7925b8c1?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
