---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"c58e5b71-aab8-4bff-b36a-c08ca316f57c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:07.930385Z","updated_at":"2022-04-28T14:00:07.930385Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a45d373f-7652-4426-85f8-654756d38303","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:07.902192Z","updated_at":"2022-04-28T14:00:07.902192Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a45d373f-7652-4426-85f8-654756d38303
    method: GET
  response:
    body: '{"id":"a45d373f-7652-4426-85f8-654756d38303","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:07.902192Z","updated_at":"2022-04-28T14:00:07.902192Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/c58e5b71-aab8-4bff-b36a-c08ca316f57c
    method: GET
  response:
    body: '{"id":"c58e5b71-aab8-4bff-b36a-c08ca316f57c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:07.930385Z","updated_at":"2022-04-28T14:00:07.930385Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-compassionate-booth","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:08.640473Z","updated_at":"2022-04-28T14:00:08.640473Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-compassionate-booth","tags":[],"ip":{"id":"cf3adbe8-d73e-4904-bfb4-a2594d6e12a5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:08.627508Z","updated_at":"2022-04-28T14:00:08.627508Z","tags":[],"address":"163.172.170.136","reverse":"136-170-172-163.instances.scw.cloud","gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5ff42d72-8487-4843-aae7-f4f1a7316d4e
    method: GET
  response:
    body: '{"id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:08.640473Z","updated_at":"2022-04-28T14:00:08.683458Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-compassionate-booth","tags":[],"ip":{"id":"cf3adbe8-d73e-4904-bfb4-a2594d6e12a5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:08.627508Z","updated_at":"2022-04-28T14:00:08.627508Z","tags":[],"address":"163.172.170.136","reverse":"136-170-172-163.instances.scw.cloud","gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","private_network_id":"a45d373f-7652-4426-85f8-654756d38303","enable_masquerade":true,"dhcp_id":"c58e5b71-aab8-4bff-b36a-c08ca316f57c","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"c1696389-8296-43b3-bed0-a68dc7fb3e9f","created_at":"2022-04-28T14:00:15.103929Z","updated_at":"2022-04-28T14:00:15.103929Z","gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","private_network_id":"a45d373f-7652-4426-85f8-654756d38303","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"c58e5b71-aab8-4bff-b36a-c08ca316f57c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:07.930385Z","updated_at":"2022-04-28T14:00:07.930385Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c1696389-8296-43b3-bed0-a68dc7fb3e9f
    method: GET
  response:
    body: '{"id":"c1696389-8296-43b3-bed0-a68dc7fb3e9f","created_at":"2022-04-28T14:00:15.103929Z","updated_at":"2022-04-28T14:00:21.144160Z","gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","private_network_id":"a45d373f-7652-4426-85f8-654756d38303","mac_address":"02:00:00:01:18:20","enable_masquerade":true,"status":"ready","dhcp":{"id":"c58e5b71-aab8-4bff-b36a-c08ca316f57c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-28T14:00:07.930385Z","updated_at":"2022-04-28T14:00:07.930385Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"ff6f9f53-1454-42e9-8c98-af67a8f7c360","gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","created_at":"2022-04-28T14:00:26.340577Z","updated_at":"2022-04-28T14:00:26.340577Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/ff6f9f53-1454-42e9-8c98-af67a8f7c360
    method: GET
  response:
    body: '{"id":"ff6f9f53-1454-42e9-8c98-af67a8f7c360","gateway_id":"5ff42d72-8487-4843-aae7-f4f1a7316d4e","created_at":"2022-04-28T14:00:26.340577Z","updated_at":"2022-04-28T14:00:26.340577Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c1696389-8296-43b3-bed0-a68dc7fb3e9f?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c1696389-8296-43b3-bed0-a68dc7fb3e9f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c1696389-8296-43b3-bed0-a68dc7fb3e9f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5ff42d72-8487-4843-aae7-f4f1a7316d4e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
