---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"51.158.124.10","created_at":"2023-05-12T11:27:43.672509Z","gateway_id":null,"id":"23374f6a-42cf-4054-b75b-201e9f1b4204","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"10-124-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-12T11:27:43.672509Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/23374f6a-42cf-4054-b75b-201e9f1b4204
    method: GET
  response:
    body: '{"address":"51.158.124.10","created_at":"2023-05-12T11:27:43.672509Z","gateway_id":null,"id":"23374f6a-42cf-4054-b75b-201e9f1b4204","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"10-124-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-12T11:27:43.672509Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"51.158.124.10","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"51.158.124.10","id":"e02d4c18-780b-47c4-8d8b-3752ca7c81a9","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2023-05-12T11:27:43Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=tf-reverse-vpcgw&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.158.124.10","id":"e02d4c18-780b-47c4-8d8b-3752ca7c81a9","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=e02d4c18-780b-47c4-8d8b-3752ca7c81a9&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.158.124.10","id":"e02d4c18-780b-47c4-8d8b-3752ca7c81a9","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=e02d4c18-780b-47c4-8d8b-3752ca7c81a9&name=tf-reverse-vpcgw&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"51.158.124.10","id":"e02d4c18-780b-47c4-8d8b-3752ca7c81a9","name":"tf-reverse-vpcgw","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"e02d4c18-780b-47c4-8d8b-3752ca7c81a9"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
