---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"43e889a8-df3b-4923-8ac7-fb0f3e600f39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:01.442562Z","updated_at":"2021-12-08T14:28:01.442562Z","tags":[],"address":"51.15.218.81","reverse":"81-218-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/43e889a8-df3b-4923-8ac7-fb0f3e600f39
    method: GET
  response:
    body: '{"id":"43e889a8-df3b-4923-8ac7-fb0f3e600f39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:01.442562Z","updated_at":"2021-12-08T14:28:01.442562Z","tags":[],"address":"51.15.218.81","reverse":"81-218-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["tag0","tag1"],"reverse":"example.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/43e889a8-df3b-4923-8ac7-fb0f3e600f39
    method: PATCH
  response:
    body: '{"id":"43e889a8-df3b-4923-8ac7-fb0f3e600f39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:01.442562Z","updated_at":"2021-12-08T14:28:03.518912Z","tags":["tag0","tag1"],"address":"51.15.218.81","reverse":"example.com","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/43e889a8-df3b-4923-8ac7-fb0f3e600f39
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"43e889a8-df3b-4923-8ac7-fb0f3e600f39","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
