---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"703638b3-b268-41e6-aa33-602dbaa35f19","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:47.771346Z","updated_at":"2021-12-14T15:11:47.771346Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"fe09f760-c518-413a-849d-0c608b25568b","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:47.750226Z","updated_at":"2021-12-14T15:11:47.750226Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/703638b3-b268-41e6-aa33-602dbaa35f19
    method: GET
  response:
    body: '{"id":"703638b3-b268-41e6-aa33-602dbaa35f19","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:47.771346Z","updated_at":"2021-12-14T15:11:47.771346Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/fe09f760-c518-413a-849d-0c608b25568b
    method: GET
  response:
    body: '{"id":"fe09f760-c518-413a-849d-0c608b25568b","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:47.750226Z","updated_at":"2021-12-14T15:11:47.750226Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-frosty-robinson","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:48.410033Z","updated_at":"2021-12-14T15:11:48.410033Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-frosty-robinson","tags":[],"ip":{"id":"50c14b4c-5559-4955-809e-8c2e047ec83e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:48.393039Z","updated_at":"2021-12-14T15:11:48.393039Z","tags":[],"address":"51.15.217.245","reverse":"245-217-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/d67f02e4-e33a-4c44-94b5-c6a116b9dcee
    method: GET
  response:
    body: '{"id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:48.410033Z","updated_at":"2021-12-14T15:11:48.444305Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-frosty-robinson","tags":[],"ip":{"id":"50c14b4c-5559-4955-809e-8c2e047ec83e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:48.393039Z","updated_at":"2021-12-14T15:11:48.393039Z","tags":[],"address":"51.15.217.245","reverse":"245-217-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","private_network_id":"fe09f760-c518-413a-849d-0c608b25568b","enable_masquerade":true,"dhcp_id":"703638b3-b268-41e6-aa33-602dbaa35f19","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"88a87587-281a-4587-91da-25ea724e23c2","created_at":"2021-12-14T15:11:50.325302Z","updated_at":"2021-12-14T15:11:50.325302Z","gateway_id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","private_network_id":"fe09f760-c518-413a-849d-0c608b25568b","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"703638b3-b268-41e6-aa33-602dbaa35f19","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:47.771346Z","updated_at":"2021-12-14T15:11:47.771346Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/88a87587-281a-4587-91da-25ea724e23c2
    method: GET
  response:
    body: '{"id":"88a87587-281a-4587-91da-25ea724e23c2","created_at":"2021-12-14T15:11:50.325302Z","updated_at":"2021-12-14T15:11:56.548433Z","gateway_id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","private_network_id":"fe09f760-c518-413a-849d-0c608b25568b","mac_address":"02:00:00:00:a2:d0","enable_masquerade":true,"status":"ready","dhcp":{"id":"703638b3-b268-41e6-aa33-602dbaa35f19","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:47.771346Z","updated_at":"2021-12-14T15:11:47.771346Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"d1c152eb-b733-4c88-bfec-f76d4a444305","gateway_id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","created_at":"2021-12-14T15:13:50.965553Z","updated_at":"2021-12-14T15:13:50.965553Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/d1c152eb-b733-4c88-bfec-f76d4a444305
    method: GET
  response:
    body: '{"id":"d1c152eb-b733-4c88-bfec-f76d4a444305","gateway_id":"d67f02e4-e33a-4c44-94b5-c6a116b9dcee","created_at":"2021-12-14T15:13:50.965553Z","updated_at":"2021-12-14T15:13:50.965553Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/88a87587-281a-4587-91da-25ea724e23c2?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/703638b3-b268-41e6-aa33-602dbaa35f19
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"703638b3-b268-41e6-aa33-602dbaa35f19","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/d67f02e4-e33a-4c44-94b5-c6a116b9dcee?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
