---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"9dee4172-9aed-4bbd-bf07-0da9ca6d894a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:59.722943Z","updated_at":"2022-01-27T14:15:59.722943Z","tags":[],"address":"51.158.78.116","reverse":"116-78-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/9dee4172-9aed-4bbd-bf07-0da9ca6d894a
    method: GET
  response:
    body: '{"id":"9dee4172-9aed-4bbd-bf07-0da9ca6d894a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:59.722943Z","updated_at":"2022-01-27T14:15:59.722943Z","tags":[],"address":"51.158.78.116","reverse":"116-78-158-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"9dee4172-9aed-4bbd-bf07-0da9ca6d894a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"940d72c5-0df0-4a2a-a020-70629b5b3bee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:59.897778Z","updated_at":"2022-01-27T14:15:59.897778Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"9dee4172-9aed-4bbd-bf07-0da9ca6d894a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:59.722943Z","updated_at":"2022-01-27T14:15:59.722943Z","tags":[],"address":"51.158.78.116","reverse":"116-78-158-51.instances.scw.cloud","gateway_id":"940d72c5-0df0-4a2a-a020-70629b5b3bee","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/940d72c5-0df0-4a2a-a020-70629b5b3bee
    method: GET
  response:
    body: '{"id":"940d72c5-0df0-4a2a-a020-70629b5b3bee","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:59.897778Z","updated_at":"2022-01-27T14:15:59.944812Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"9dee4172-9aed-4bbd-bf07-0da9ca6d894a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:59.722943Z","updated_at":"2022-01-27T14:15:59.722943Z","tags":[],"address":"51.158.78.116","reverse":"116-78-158-51.instances.scw.cloud","gateway_id":"940d72c5-0df0-4a2a-a020-70629b5b3bee","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.18","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/940d72c5-0df0-4a2a-a020-70629b5b3bee?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/9dee4172-9aed-4bbd-bf07-0da9ca6d894a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"9dee4172-9aed-4bbd-bf07-0da9ca6d894a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
