---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"9dc4d0fa-ee59-42db-80c8-6758a6f39a06","name":"private-network-test","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-04T13:42:57.820561Z","updated_at":"2020-11-04T13:42:57.820561Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/9dc4d0fa-ee59-42db-80c8-6758a6f39a06
    method: GET
  response:
    body: '{"id":"9dc4d0fa-ee59-42db-80c8-6758a6f39a06","name":"private-network-test","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-04T13:42:57.820561Z","updated_at":"2020-11-04T13:42:57.820561Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/9dc4d0fa-ee59-42db-80c8-6758a6f39a06
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
