---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-08-23T14:23:02.148204Z","id":"11206c89-245d-4962-9554-4116b4bd3ee9","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-08-23T14:23:02.148204Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/11206c89-245d-4962-9554-4116b4bd3ee9
    method: GET
  response:
    body: '{"created_at":"2023-08-23T14:23:02.148204Z","id":"11206c89-245d-4962-9554-4116b4bd3ee9","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-08-23T14:23:02.148204Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"tf-pn-elegant-murdock","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.64.0/22"],"vpc_id":"11206c89-245d-4962-9554-4116b4bd3ee9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-08-23T14:23:02.565778Z","dhcp_enabled":true,"id":"b186e87f-fbf4-4949-ab98-2f66a1b5f5d6","name":"tf-pn-elegant-murdock","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-08-23T14:23:02.565778Z","id":"d826136e-1d08-45be-8836-f7d783de0fa1","subnet":"172.16.64.0/22","updated_at":"2023-08-23T14:23:02.565778Z"},{"created_at":"2023-08-23T14:23:02.565778Z","id":"38aff6e3-aef2-4af1-8c6a-aa2bb9d1b88b","subnet":"fd46:78ab:30b8:a495::/64","updated_at":"2023-08-23T14:23:02.565778Z"}],"tags":[],"updated_at":"2023-08-23T14:23:02.565778Z","vpc_id":"11206c89-245d-4962-9554-4116b4bd3ee9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b186e87f-fbf4-4949-ab98-2f66a1b5f5d6
    method: GET
  response:
    body: '{"created_at":"2023-08-23T14:23:02.565778Z","dhcp_enabled":true,"id":"b186e87f-fbf4-4949-ab98-2f66a1b5f5d6","name":"tf-pn-elegant-murdock","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-08-23T14:23:02.565778Z","id":"d826136e-1d08-45be-8836-f7d783de0fa1","subnet":"172.16.64.0/22","updated_at":"2023-08-23T14:23:02.565778Z"},{"created_at":"2023-08-23T14:23:02.565778Z","id":"38aff6e3-aef2-4af1-8c6a-aa2bb9d1b88b","subnet":"fd46:78ab:30b8:a495::/64","updated_at":"2023-08-23T14:23:02.565778Z"}],"tags":[],"updated_at":"2023-08-23T14:23:02.565778Z","vpc_id":"11206c89-245d-4962-9554-4116b4bd3ee9"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b186e87f-fbf4-4949-ab98-2f66a1b5f5d6
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"b186e87f-fbf4-4949-ab98-2f66a1b5f5d6","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
