---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-upbeat-maxwell","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-13T17:57:50.815391Z","id":"5c1b4939-2719-4c8e-acf4-7a89e93e908c","name":"tf-pn-upbeat-maxwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.20.0/22","fd21:e31e:86f0:6f61::/64"],"tags":[],"updated_at":"2023-05-13T17:57:50.815391Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/5c1b4939-2719-4c8e-acf4-7a89e93e908c
    method: GET
  response:
    body: '{"created_at":"2023-05-13T17:57:50.815391Z","id":"5c1b4939-2719-4c8e-acf4-7a89e93e908c","name":"tf-pn-upbeat-maxwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.20.0/22","fd21:e31e:86f0:6f61::/64"],"tags":[],"updated_at":"2023-05-13T17:57:50.815391Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/5c1b4939-2719-4c8e-acf4-7a89e93e908c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"5c1b4939-2719-4c8e-acf4-7a89e93e908c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
