---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":true,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"21afe42b-ea0a-416c-9c78-e9c1058c83cd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T08:57:10.886694Z","updated_at":"2022-07-28T08:57:10.886694Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"cc14c060-20a3-4a03-932f-c21e0d790b39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T08:57:10.861683Z","updated_at":"2022-07-28T08:57:10.861683Z","tags":[],"address":"51.15.233.91","reverse":"91-233-15-51.instances.scw.cloud","gateway_id":"21afe42b-ea0a-416c-9c78-e9c1058c83cd","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":true,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/21afe42b-ea0a-416c-9c78-e9c1058c83cd
    method: GET
  response:
    body: '{"id":"21afe42b-ea0a-416c-9c78-e9c1058c83cd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T08:57:10.886694Z","updated_at":"2022-07-28T08:57:10.886694Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"cc14c060-20a3-4a03-932f-c21e0d790b39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-07-28T08:57:10.861683Z","updated_at":"2022-07-28T08:57:10.861683Z","tags":[],"address":"51.15.233.91","reverse":"91-233-15-51.instances.scw.cloud","gateway_id":"21afe42b-ea0a-416c-9c78-e9c1058c83cd","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":true,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/21afe42b-ea0a-416c-9c78-e9c1058c83cd?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/21afe42b-ea0a-416c-9c78-e9c1058c83cd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"21afe42b-ea0a-416c-9c78-e9c1058c83cd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
