---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"15af502d-63af-40ab-abb6-5ae2efe5ff4f","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:31.052708Z","updated_at":"2021-10-13T17:43:31.052708Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/15af502d-63af-40ab-abb6-5ae2efe5ff4f
    method: GET
  response:
    body: '{"id":"15af502d-63af-40ab-abb6-5ae2efe5ff4f","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:31.052708Z","updated_at":"2021-10-13T17:43:31.052708Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"aa441e78-daeb-4200-93c8-2d72d2a50635","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:31.672038Z","updated_at":"2021-10-13T17:43:31.672038Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/aa441e78-daeb-4200-93c8-2d72d2a50635
    method: GET
  response:
    body: '{"id":"aa441e78-daeb-4200-93c8-2d72d2a50635","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:31.672038Z","updated_at":"2021-10-13T17:43:31.672038Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"aa441e78-daeb-4200-93c8-2d72d2a50635"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"456d4024-df46-4251-9812-5b55da8a0d4b","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:32.186409Z","updated_at":"2021-10-13T17:43:32.186409Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"aa441e78-daeb-4200-93c8-2d72d2a50635","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:31.672038Z","updated_at":"2021-10-13T17:43:31.672038Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/456d4024-df46-4251-9812-5b55da8a0d4b
    method: GET
  response:
    body: '{"id":"456d4024-df46-4251-9812-5b55da8a0d4b","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:32.186409Z","updated_at":"2021-10-13T17:43:32.220802Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"aa441e78-daeb-4200-93c8-2d72d2a50635","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:43:31.672038Z","updated_at":"2021-10-13T17:43:31.672038Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"456d4024-df46-4251-9812-5b55da8a0d4b","private_network_id":"15af502d-63af-40ab-abb6-5ae2efe5ff4f","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"7234d36c-906f-46f0-ae42-0158f0761c51","created_at":"2021-10-13T17:44:10.678817Z","updated_at":"2021-10-13T17:44:10.678817Z","gateway_id":"456d4024-df46-4251-9812-5b55da8a0d4b","private_network_id":"15af502d-63af-40ab-abb6-5ae2efe5ff4f","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/7234d36c-906f-46f0-ae42-0158f0761c51
    method: GET
  response:
    body: '{"id":"7234d36c-906f-46f0-ae42-0158f0761c51","created_at":"2021-10-13T17:44:10.678817Z","updated_at":"2021-10-13T17:44:15.989835Z","gateway_id":"456d4024-df46-4251-9812-5b55da8a0d4b","private_network_id":"15af502d-63af-40ab-abb6-5ae2efe5ff4f","mac_address":"02:00:00:00:6d:30","enable_masquerade":true,"status":"ready","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/7234d36c-906f-46f0-ae42-0158f0761c51?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/456d4024-df46-4251-9812-5b55da8a0d4b?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/7234d36c-906f-46f0-ae42-0158f0761c51
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"7234d36c-906f-46f0-ae42-0158f0761c51","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
