---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"72132893-1d84-4209-83d6-2364711e526c","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:58.129644Z","updated_at":"2021-10-12T15:08:58.129644Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/72132893-1d84-4209-83d6-2364711e526c
    method: GET
  response:
    body: '{"id":"72132893-1d84-4209-83d6-2364711e526c","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:58.129644Z","updated_at":"2021-10-12T15:08:58.129644Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5cb316a7-db4b-4037-9508-e5c8dc6ea087","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:58.714233Z","updated_at":"2021-10-12T15:08:58.714233Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/5cb316a7-db4b-4037-9508-e5c8dc6ea087
    method: GET
  response:
    body: '{"id":"5cb316a7-db4b-4037-9508-e5c8dc6ea087","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:58.714233Z","updated_at":"2021-10-12T15:08:58.714233Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"5cb316a7-db4b-4037-9508-e5c8dc6ea087"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"80c2c09b-8465-43be-8a60-b1b30bcef97a","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:59.228438Z","updated_at":"2021-10-12T15:08:59.228438Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"5cb316a7-db4b-4037-9508-e5c8dc6ea087","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:58.714233Z","updated_at":"2021-10-12T15:08:58.714233Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/80c2c09b-8465-43be-8a60-b1b30bcef97a
    method: GET
  response:
    body: '{"id":"80c2c09b-8465-43be-8a60-b1b30bcef97a","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:59.228438Z","updated_at":"2021-10-12T15:08:59.281289Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"5cb316a7-db4b-4037-9508-e5c8dc6ea087","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-12T15:08:58.714233Z","updated_at":"2021-10-12T15:08:58.714233Z","tags":[],"address":"51.15.194.236","reverse":"236-194-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"80c2c09b-8465-43be-8a60-b1b30bcef97a","private_network_id":"72132893-1d84-4209-83d6-2364711e526c","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"7bc7157f-a849-4dac-b6ad-18c86414df6a","created_at":"2021-10-12T15:09:29.673759Z","updated_at":"2021-10-12T15:09:29.673759Z","gateway_id":"80c2c09b-8465-43be-8a60-b1b30bcef97a","private_network_id":"72132893-1d84-4209-83d6-2364711e526c","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/7bc7157f-a849-4dac-b6ad-18c86414df6a
    method: GET
  response:
    body: '{"id":"7bc7157f-a849-4dac-b6ad-18c86414df6a","created_at":"2021-10-12T15:09:29.673759Z","updated_at":"2021-10-12T15:09:29.673759Z","gateway_id":"80c2c09b-8465-43be-8a60-b1b30bcef97a","private_network_id":"72132893-1d84-4209-83d6-2364711e526c","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/7bc7157f-a849-4dac-b6ad-18c86414df6a?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/80c2c09b-8465-43be-8a60-b1b30bcef97a?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/7bc7157f-a849-4dac-b6ad-18c86414df6a
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"7bc7157f-a849-4dac-b6ad-18c86414df6a","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
