---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"5925776c-626c-4a40-922f-b4fb2373f982","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:50.911162Z","updated_at":"2021-12-14T15:11:50.911162Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"1933e204-7eba-451a-a833-41a426078b66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:50.900012Z","updated_at":"2021-12-14T15:11:50.900012Z","tags":[],"address":"212.47.232.128","reverse":"128-232-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/5925776c-626c-4a40-922f-b4fb2373f982
    method: GET
  response:
    body: '{"id":"5925776c-626c-4a40-922f-b4fb2373f982","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:50.911162Z","updated_at":"2021-12-14T15:11:50.911162Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"1933e204-7eba-451a-a833-41a426078b66","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-14T15:11:50.900012Z","updated_at":"2021-12-14T15:11:50.900012Z","tags":[],"address":"212.47.232.128","reverse":"128-232-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/5925776c-626c-4a40-922f-b4fb2373f982?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/5925776c-626c-4a40-922f-b4fb2373f982
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"5925776c-626c-4a40-922f-b4fb2373f982","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
