---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"3a6caa27-1cdf-4bd5-9ab2-930b832cb0ba","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:48.814969Z","updated_at":"2022-04-12T10:07:48.814969Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"578a98dd-c281-499e-b92f-6e13bc66a7a2","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:48.787924Z","updated_at":"2022-04-12T10:07:48.787924Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/3a6caa27-1cdf-4bd5-9ab2-930b832cb0ba
    method: GET
  response:
    body: '{"id":"3a6caa27-1cdf-4bd5-9ab2-930b832cb0ba","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:48.814969Z","updated_at":"2022-04-12T10:07:48.814969Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/578a98dd-c281-499e-b92f-6e13bc66a7a2
    method: GET
  response:
    body: '{"id":"578a98dd-c281-499e-b92f-6e13bc66a7a2","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:48.787924Z","updated_at":"2022-04-12T10:07:48.787924Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-recursing-diffie","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"d9890f15-6014-445d-bd78-944d3110a127","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:50.077497Z","updated_at":"2022-04-12T10:07:50.077497Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-recursing-diffie","tags":[],"ip":{"id":"bc7a5403-e798-40b1-a79b-64a65bfa09ff","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:50.064174Z","updated_at":"2022-04-12T10:07:50.064174Z","tags":[],"address":"51.158.115.129","reverse":"129-115-158-51.instances.scw.cloud","gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d9890f15-6014-445d-bd78-944d3110a127
    method: GET
  response:
    body: '{"id":"d9890f15-6014-445d-bd78-944d3110a127","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:50.077497Z","updated_at":"2022-04-12T10:07:50.110652Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-recursing-diffie","tags":[],"ip":{"id":"bc7a5403-e798-40b1-a79b-64a65bfa09ff","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:50.064174Z","updated_at":"2022-04-12T10:07:50.064174Z","tags":[],"address":"51.158.115.129","reverse":"129-115-158-51.instances.scw.cloud","gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.20","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","private_network_id":"578a98dd-c281-499e-b92f-6e13bc66a7a2","enable_masquerade":true,"dhcp_id":"3a6caa27-1cdf-4bd5-9ab2-930b832cb0ba","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"401f696c-112d-40ff-9ae9-7f16e325f1c8","created_at":"2022-04-12T10:07:56.567803Z","updated_at":"2022-04-12T10:07:56.567803Z","gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","private_network_id":"578a98dd-c281-499e-b92f-6e13bc66a7a2","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"3a6caa27-1cdf-4bd5-9ab2-930b832cb0ba","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:48.814969Z","updated_at":"2022-04-12T10:07:48.814969Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/401f696c-112d-40ff-9ae9-7f16e325f1c8
    method: GET
  response:
    body: '{"id":"401f696c-112d-40ff-9ae9-7f16e325f1c8","created_at":"2022-04-12T10:07:56.567803Z","updated_at":"2022-04-12T10:08:02.692448Z","gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","private_network_id":"578a98dd-c281-499e-b92f-6e13bc66a7a2","mac_address":"02:00:00:01:0f:f6","enable_masquerade":true,"status":"ready","dhcp":{"id":"3a6caa27-1cdf-4bd5-9ab2-930b832cb0ba","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-04-12T10:07:48.814969Z","updated_at":"2022-04-12T10:07:48.814969Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"eb07b442-d9d1-4111-923d-69bbcfe2d8ac","gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","created_at":"2022-04-12T10:08:07.318870Z","updated_at":"2022-04-12T10:08:07.318870Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/eb07b442-d9d1-4111-923d-69bbcfe2d8ac
    method: GET
  response:
    body: '{"id":"eb07b442-d9d1-4111-923d-69bbcfe2d8ac","gateway_id":"d9890f15-6014-445d-bd78-944d3110a127","created_at":"2022-04-12T10:08:07.318870Z","updated_at":"2022-04-12T10:08:07.318870Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/401f696c-112d-40ff-9ae9-7f16e325f1c8?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/401f696c-112d-40ff-9ae9-7f16e325f1c8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"401f696c-112d-40ff-9ae9-7f16e325f1c8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d9890f15-6014-445d-bd78-944d3110a127?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
