---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"163.172.146.11","created_at":"2023-01-20T16:15:48.933575Z","gateway_id":null,"id":"76e2ad2a-a345-47e3-a139-efdb1a761378","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"11-146-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-01-20T16:15:48.933575Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/76e2ad2a-a345-47e3-a139-efdb1a761378
    method: GET
  response:
    body: '{"address":"163.172.146.11","created_at":"2023-01-20T16:15:48.933575Z","gateway_id":null,"id":"76e2ad2a-a345-47e3-a139-efdb1a761378","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"11-146-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-01-20T16:15:48.933575Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"163.172.146.11","name":"tf","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"163.172.146.11","id":"dbe8eed0-0f21-46ac-af4f-78288d5ddd2e","name":"tf","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-multistreaming.fr&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"test-multistreaming.fr","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","subdomain":"","updated_at":"2023-01-20T16:15:49Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.146.11","id":"dbe8eed0-0f21-46ac-af4f-78288d5ddd2e","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?id=dbe8eed0-0f21-46ac-af4f-78288d5ddd2e&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.146.11","id":"dbe8eed0-0f21-46ac-af4f-78288d5ddd2e","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?id=dbe8eed0-0f21-46ac-af4f-78288d5ddd2e&name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.146.11","id":"dbe8eed0-0f21-46ac-af4f-78288d5ddd2e","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"dbe8eed0-0f21-46ac-af4f-78288d5ddd2e"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
