---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.114253Z","updated_at":"2021-10-13T16:38:53.114253Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a156c15a-2c05-4296-8c7d-6f92e314d43b","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.097671Z","updated_at":"2021-10-13T16:38:53.097671Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c
    method: GET
  response:
    body: '{"id":"ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.114253Z","updated_at":"2021-10-13T16:38:53.114253Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a156c15a-2c05-4296-8c7d-6f92e314d43b
    method: GET
  response:
    body: '{"id":"a156c15a-2c05-4296-8c7d-6f92e314d43b","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.097671Z","updated_at":"2021-10-13T16:38:53.097671Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"tf-pn-hungry-tharp","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.732608Z","updated_at":"2021-10-13T16:38:53.732608Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-hungry-tharp","tags":[],"ip":{"id":"86928910-a862-4f88-b7c6-491b57faee9d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.709822Z","updated_at":"2021-10-13T16:38:53.709822Z","tags":[],"address":"163.172.158.234","reverse":"234-158-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/afe60ed0-4716-4b40-8a30-52fcc7dcd57c
    method: GET
  response:
    body: '{"id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.732608Z","updated_at":"2021-10-13T16:38:53.781844Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-hungry-tharp","tags":[],"ip":{"id":"86928910-a862-4f88-b7c6-491b57faee9d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.709822Z","updated_at":"2021-10-13T16:38:53.709822Z","tags":[],"address":"163.172.158.234","reverse":"234-158-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","private_network_id":"a156c15a-2c05-4296-8c7d-6f92e314d43b","enable_masquerade":false,"dhcp_id":"ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"d2cf89ff-4285-454d-891f-8415748a910b","created_at":"2021-10-13T16:39:24.354203Z","updated_at":"2021-10-13T16:39:24.354203Z","gateway_id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","private_network_id":"a156c15a-2c05-4296-8c7d-6f92e314d43b","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.114253Z","updated_at":"2021-10-13T16:38:53.114253Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/d2cf89ff-4285-454d-891f-8415748a910b
    method: GET
  response:
    body: '{"id":"d2cf89ff-4285-454d-891f-8415748a910b","created_at":"2021-10-13T16:39:24.354203Z","updated_at":"2021-10-13T16:39:24.354203Z","gateway_id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","private_network_id":"a156c15a-2c05-4296-8c7d-6f92e314d43b","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:38:53.114253Z","updated_at":"2021-10-13T16:38:53.114253Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"54b9b4a1-e975-40fa-b5ee-f5dbfd8274e3","gateway_id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","created_at":"2021-10-13T16:39:55.102434Z","updated_at":"2021-10-13T16:39:55.102434Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/54b9b4a1-e975-40fa-b5ee-f5dbfd8274e3
    method: GET
  response:
    body: '{"id":"54b9b4a1-e975-40fa-b5ee-f5dbfd8274e3","gateway_id":"afe60ed0-4716-4b40-8a30-52fcc7dcd57c","created_at":"2021-10-13T16:39:55.102434Z","updated_at":"2021-10-13T16:39:55.102434Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/d2cf89ff-4285-454d-891f-8415748a910b?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"ede25aaa-3b2b-4cc6-ab34-e0ab2e3b883c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/afe60ed0-4716-4b40-8a30-52fcc7dcd57c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
