---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-11-20T16:09:48.975124Z","id":"4acd7ab2-4062-4288-835e-c97245b4ca31","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-11-20T16:09:48.975124Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4acd7ab2-4062-4288-835e-c97245b4ca31
    method: GET
  response:
    body: '{"created_at":"2023-11-20T16:09:48.975124Z","id":"4acd7ab2-4062-4288-835e-c97245b4ca31","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-11-20T16:09:48.975124Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-20T16:09:49.651122Z","gateway_networks":[],"id":"0ee0920b-fb42-47f9-917f-f0b9dcf50913","ip":{"address":"163.172.156.163","created_at":"2023-11-20T16:09:49.623502Z","gateway_id":"0ee0920b-fb42-47f9-917f-f0b9dcf50913","id":"f2a8c6c3-cc52-4b50-998e-b48925629e03","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-156-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-11-20T16:09:49.623502Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-20T16:09:49.651122Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/0ee0920b-fb42-47f9-917f-f0b9dcf50913
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-20T16:09:49.651122Z","gateway_networks":[],"id":"0ee0920b-fb42-47f9-917f-f0b9dcf50913","ip":{"address":"163.172.156.163","created_at":"2023-11-20T16:09:49.623502Z","gateway_id":"0ee0920b-fb42-47f9-917f-f0b9dcf50913","id":"f2a8c6c3-cc52-4b50-998e-b48925629e03","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-156-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-11-20T16:09:49.623502Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-20T16:09:49.707170Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.64.0/22"],"vpc_id":"4acd7ab2-4062-4288-835e-c97245b4ca31"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-20T16:09:49.167263Z","dhcp_enabled":true,"id":"22c9876c-9ae2-4410-8c87-29959ed3f016","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-11-20T16:09:49.167263Z","id":"a8f7967e-82a8-46b2-87e9-e8d202eeeee0","subnet":"172.16.64.0/22","updated_at":"2023-11-20T16:09:49.167263Z"},{"created_at":"2023-11-20T16:09:49.167263Z","id":"8806aeca-aeda-4d6e-83dc-cef352b74bba","subnet":"fd46:78ab:30b8:aa51::/64","updated_at":"2023-11-20T16:09:49.167263Z"}],"tags":[],"updated_at":"2023-11-20T16:09:49.167263Z","vpc_id":"4acd7ab2-4062-4288-835e-c97245b4ca31"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/22c9876c-9ae2-4410-8c87-29959ed3f016
    method: GET
  response:
    body: '{"created_at":"2023-11-20T16:09:49.167263Z","dhcp_enabled":true,"id":"22c9876c-9ae2-4410-8c87-29959ed3f016","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-11-20T16:09:49.167263Z","id":"a8f7967e-82a8-46b2-87e9-e8d202eeeee0","subnet":"172.16.64.0/22","updated_at":"2023-11-20T16:09:49.167263Z"},{"created_at":"2023-11-20T16:09:49.167263Z","id":"8806aeca-aeda-4d6e-83dc-cef352b74bba","subnet":"fd46:78ab:30b8:aa51::/64","updated_at":"2023-11-20T16:09:49.167263Z"}],"tags":[],"updated_at":"2023-11-20T16:09:49.167263Z","vpc_id":"4acd7ab2-4062-4288-835e-c97245b4ca31"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"0ee0920b-fb42-47f9-917f-f0b9dcf50913","private_network_id":"22c9876c-9ae2-4410-8c87-29959ed3f016","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2023-11-20T16:09:55.216611Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0ee0920b-fb42-47f9-917f-f0b9dcf50913","id":"9d391670-e844-4da1-a141-9e6e19d25e1b","ipam_config":{"ipam_ip_id":"032ab6d9-02ff-43d4-aade-24717efafb76","push_default_route":true},"mac_address":null,"private_network_id":"22c9876c-9ae2-4410-8c87-29959ed3f016","status":"created","updated_at":"2023-11-20T16:09:55.216611Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9d391670-e844-4da1-a141-9e6e19d25e1b
    method: GET
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2023-11-20T16:09:55.216611Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0ee0920b-fb42-47f9-917f-f0b9dcf50913","id":"9d391670-e844-4da1-a141-9e6e19d25e1b","ipam_config":{"ipam_ip_id":"032ab6d9-02ff-43d4-aade-24717efafb76","push_default_route":true},"mac_address":"02:00:00:14:E7:13","private_network_id":"22c9876c-9ae2-4410-8c87-29959ed3f016","status":"ready","updated_at":"2023-11-20T16:10:04.912495Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"22c9876c-9ae2-4410-8c87-29959ed3f016"},"is_ipv6":false,"address":"172.16.64.7","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.64.7/22","created_at":"2023-11-20T16:10:08.461789Z","id":"a8a7c630-6a31-41a1-8917-c0b49969ca36","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"a8f7967e-82a8-46b2-87e9-e8d202eeeee0"},"tags":[],"updated_at":"2023-11-20T16:10:08.461789Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/a8a7c630-6a31-41a1-8917-c0b49969ca36
    method: GET
  response:
    body: '{"address":"172.16.64.7/22","created_at":"2023-11-20T16:10:08.461789Z","id":"a8a7c630-6a31-41a1-8917-c0b49969ca36","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"source":{"subnet_id":"a8f7967e-82a8-46b2-87e9-e8d202eeeee0"},"tags":[],"updated_at":"2023-11-20T16:10:08.461789Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9d391670-e844-4da1-a141-9e6e19d25e1b?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/9d391670-e844-4da1-a141-9e6e19d25e1b
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"9d391670-e844-4da1-a141-9e6e19d25e1b","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/0ee0920b-fb42-47f9-917f-f0b9dcf50913?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
