---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"6ef3f413-a988-45be-9779-82298355ded1","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-09-20T12:52:59.741316Z","updated_at":"2021-09-20T12:52:59.741316Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"63cbedfe-cede-46ef-be84-f54752280123","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-09-20T12:52:59.708173Z","updated_at":"2021-09-20T12:52:59.708173Z","tags":[],"address":"51.15.247.245","reverse":"245-247-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/6ef3f413-a988-45be-9779-82298355ded1
    method: GET
  response:
    body: '{"id":"6ef3f413-a988-45be-9779-82298355ded1","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-09-20T12:52:59.741316Z","updated_at":"2021-09-20T12:52:59.957132Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"configuring","name":"public-gateway-test","tags":[],"ip":{"id":"63cbedfe-cede-46ef-be84-f54752280123","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-09-20T12:52:59.708173Z","updated_at":"2021-09-20T12:52:59.708173Z","tags":[],"address":"51.15.247.245","reverse":"245-247-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.11","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/6ef3f413-a988-45be-9779-82298355ded1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"6ef3f413-a988-45be-9779-82298355ded1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
