---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"163.172.143.70","created_at":"2023-01-23T13:43:12.295150Z","gateway_id":null,"id":"f28812be-d7ad-4e58-9147-e098e85d42f1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"70-143-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-01-23T13:43:12.295150Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/f28812be-d7ad-4e58-9147-e098e85d42f1
    method: GET
  response:
    body: '{"address":"163.172.143.70","created_at":"2023-01-23T13:43:12.295150Z","gateway_id":null,"id":"f28812be-d7ad-4e58-9147-e098e85d42f1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"70-143-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-01-23T13:43:12.295150Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"163.172.143.70","name":"tf","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"163.172.143.70","id":"5d3f7afc-00c0-4670-b448-cf5772e60fac","name":"tf","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2023-01-23T13:43:12Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.143.70","id":"5d3f7afc-00c0-4670-b448-cf5772e60fac","name":"tf","priority":1,"ttl":3600,"type":"A"},{"comment":null,"data":"51.15.203.117","id":"df51652e-b9b0-42c8-a342-cd313098bce0","name":"tf","priority":1,"ttl":3600,"type":"A"},{"comment":null,"data":"51.158.104.237","id":"344d966a-edf2-4024-ad48-b3b16d38f039","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=5d3f7afc-00c0-4670-b448-cf5772e60fac&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.143.70","id":"5d3f7afc-00c0-4670-b448-cf5772e60fac","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=5d3f7afc-00c0-4670-b448-cf5772e60fac&name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.143.70","id":"5d3f7afc-00c0-4670-b448-cf5772e60fac","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"5d3f7afc-00c0-4670-b448-cf5772e60fac"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
