---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"23204cab-948c-4412-96b1-10861029c16c","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:41.740655Z","updated_at":"2021-10-11T15:46:41.740655Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/23204cab-948c-4412-96b1-10861029c16c
    method: GET
  response:
    body: '{"id":"23204cab-948c-4412-96b1-10861029c16c","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:41.740655Z","updated_at":"2021-10-11T15:46:41.740655Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"fcafc2d9-093b-4646-8465-5f8f2455211f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:42.298408Z","updated_at":"2021-10-11T15:46:42.298408Z","tags":[],"address":"163.172.158.234","reverse":"234-158-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/fcafc2d9-093b-4646-8465-5f8f2455211f
    method: GET
  response:
    body: '{"id":"fcafc2d9-093b-4646-8465-5f8f2455211f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:42.298408Z","updated_at":"2021-10-11T15:46:42.298408Z","tags":[],"address":"163.172.158.234","reverse":"234-158-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"fcafc2d9-093b-4646-8465-5f8f2455211f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"472426b2-2b14-477f-8e18-905c3c883787","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:42.952612Z","updated_at":"2021-10-11T15:46:42.952612Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"fcafc2d9-093b-4646-8465-5f8f2455211f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:42.298408Z","updated_at":"2021-10-11T15:46:42.298408Z","tags":[],"address":"163.172.158.234","reverse":"234-158-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/472426b2-2b14-477f-8e18-905c3c883787
    method: GET
  response:
    body: '{"id":"472426b2-2b14-477f-8e18-905c3c883787","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:42.952612Z","updated_at":"2021-10-11T15:46:42.991887Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"fcafc2d9-093b-4646-8465-5f8f2455211f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T15:46:42.298408Z","updated_at":"2021-10-11T15:46:42.298408Z","tags":[],"address":"163.172.158.234","reverse":"234-158-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.13","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"472426b2-2b14-477f-8e18-905c3c883787","private_network_id":"23204cab-948c-4412-96b1-10861029c16c","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"9671fc0f-02cd-4f97-be00-f5a39e0de161","created_at":"2021-10-11T15:47:13.338365Z","updated_at":"2021-10-11T15:47:13.338365Z","gateway_id":"472426b2-2b14-477f-8e18-905c3c883787","private_network_id":"23204cab-948c-4412-96b1-10861029c16c","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/9671fc0f-02cd-4f97-be00-f5a39e0de161
    method: GET
  response:
    body: '{"id":"9671fc0f-02cd-4f97-be00-f5a39e0de161","created_at":"2021-10-11T15:47:13.338365Z","updated_at":"2021-10-11T15:47:13.338365Z","gateway_id":"472426b2-2b14-477f-8e18-905c3c883787","private_network_id":"23204cab-948c-4412-96b1-10861029c16c","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/9671fc0f-02cd-4f97-be00-f5a39e0de161?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/472426b2-2b14-477f-8e18-905c3c883787?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/9671fc0f-02cd-4f97-be00-f5a39e0de161
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"9671fc0f-02cd-4f97-be00-f5a39e0de161","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
