---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"0b7eace0-e626-406d-bfe7-09455febd6a1","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"9de83a8d-ffbb-4514-81c2-c286ab798ace","name":"private-network-test","tags":[],"organization_id":"89d1fab3-2c80-4528-8b95-41a8d53701c2","created_at":"2020-10-20T14:27:23.200431Z","updated_at":"2020-10-20T14:27:23.200431Z","project_id":"0b7eace0-e626-406d-bfe7-09455febd6a1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/9de83a8d-ffbb-4514-81c2-c286ab798ace
    method: GET
  response:
    body: '{"id":"9de83a8d-ffbb-4514-81c2-c286ab798ace","name":"private-network-test","tags":[],"organization_id":"89d1fab3-2c80-4528-8b95-41a8d53701c2","created_at":"2020-10-20T14:27:23.200431Z","updated_at":"2020-10-20T14:27:23.200431Z","project_id":"0b7eace0-e626-406d-bfe7-09455febd6a1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
