---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-peaceful-leakey","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:18:53.693657Z","dhcp_enabled":false,"id":"4bd867e3-562b-47de-8906-e1cd967e0df5","name":"tf-pn-peaceful-leakey","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:18:53.693657Z","id":"c0006638-6948-4751-ba69-0258e2466276","subnet":"172.16.12.0/22","updated_at":"2023-07-11T17:18:53.693657Z"},{"created_at":"2023-07-11T17:18:53.693657Z","id":"9ce38820-2304-45f6-a6ab-0e67a05e9557","subnet":"fd46:78ab:30b8:f138::/64","updated_at":"2023-07-11T17:18:53.693657Z"}],"tags":[],"updated_at":"2023-07-11T17:18:53.693657Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4bd867e3-562b-47de-8906-e1cd967e0df5
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:18:53.693657Z","dhcp_enabled":false,"id":"4bd867e3-562b-47de-8906-e1cd967e0df5","name":"tf-pn-peaceful-leakey","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:18:53.693657Z","id":"c0006638-6948-4751-ba69-0258e2466276","subnet":"172.16.12.0/22","updated_at":"2023-07-11T17:18:53.693657Z"},{"created_at":"2023-07-11T17:18:53.693657Z","id":"9ce38820-2304-45f6-a6ab-0e67a05e9557","subnet":"fd46:78ab:30b8:f138::/64","updated_at":"2023-07-11T17:18:53.693657Z"}],"tags":[],"updated_at":"2023-07-11T17:18:53.693657Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b653f909-55d4-4642-a022-e53762197f97
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"b653f909-55d4-4642-a022-e53762197f97","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
