---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"163.172.138.236","created_at":"2023-01-23T07:30:58.176074Z","gateway_id":null,"id":"16a4e263-4d48-4584-a3ed-79a841295d12","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"236-138-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-01-23T07:30:58.176074Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/16a4e263-4d48-4584-a3ed-79a841295d12
    method: GET
  response:
    body: '{"address":"163.172.138.236","created_at":"2023-01-23T07:30:58.176074Z","gateway_id":null,"id":"16a4e263-4d48-4584-a3ed-79a841295d12","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"236-138-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-01-23T07:30:58.176074Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"163.172.138.236","name":"tf","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"163.172.138.236","id":"5562a4c6-afb8-44ab-910d-8df986931ec2","name":"tf","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=test-multistreaming.fr&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"test-multistreaming.fr","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","status":"pending","subdomain":"","updated_at":"2023-01-23T07:30:58Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.138.236","id":"5562a4c6-afb8-44ab-910d-8df986931ec2","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?id=5562a4c6-afb8-44ab-910d-8df986931ec2&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.138.236","id":"5562a4c6-afb8-44ab-910d-8df986931ec2","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records?id=5562a4c6-afb8-44ab-910d-8df986931ec2&name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"163.172.138.236","id":"5562a4c6-afb8-44ab-910d-8df986931ec2","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"5562a4c6-afb8-44ab-910d-8df986931ec2"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/test-multistreaming.fr/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
