---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
- request:
    body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a0f28522-f0b1-4cbc-90de-e4dbf64b9742","name":"private-network-test","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:08.112987Z","updated_at":"2022-01-27T14:16:08.112987Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a0f28522-f0b1-4cbc-90de-e4dbf64b9742
    method: GET
  response:
    body: '{"id":"a0f28522-f0b1-4cbc-90de-e4dbf64b9742","name":"private-network-test","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:16:08.112987Z","updated_at":"2022-01-27T14:16:08.112987Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/23b2464d-9a47-4308-86c4-c5135588ce94
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
