---
version: 1
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"51.15.245.43","created_at":"2023-05-09T15:20:44.903829Z","gateway_id":null,"id":"8a78ff85-65cf-4dbf-a210-1dc8acc925d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"43-245-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:20:44.903829Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/8a78ff85-65cf-4dbf-a210-1dc8acc925d0
    method: GET
  response:
    body: '{"address":"51.15.245.43","created_at":"2023-05-09T15:20:44.903829Z","gateway_id":null,"id":"8a78ff85-65cf-4dbf-a210-1dc8acc925d0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"43-245-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:20:44.903829Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
    method: POST
  response:
    body: '{"address":"51.158.171.24","created_at":"2023-05-09T15:20:47.019977Z","gateway_id":null,"id":"a33ff4e2-fc5c-4a4c-a5e0-3b53a2c62591","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:20:47.019977Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/a33ff4e2-fc5c-4a4c-a5e0-3b53a2c62591
    method: GET
  response:
    body: '{"address":"51.158.171.24","created_at":"2023-05-09T15:20:47.019977Z","gateway_id":null,"id":"a33ff4e2-fc5c-4a4c-a5e0-3b53a2c62591","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"24-171-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:20:47.019977Z","zone":"nl-ams-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/a33ff4e2-fc5c-4a4c-a5e0-3b53a2c62591
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"a33ff4e2-fc5c-4a4c-a5e0-3b53a2c62591","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
