---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a891f880-cb18-47cf-aa13-fcdbd5fe8303","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:18.998547Z","updated_at":"2022-05-20T13:18:18.998547Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a891f880-cb18-47cf-aa13-fcdbd5fe8303
    method: GET
  response:
    body: '{"id":"a891f880-cb18-47cf-aa13-fcdbd5fe8303","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:18.998547Z","updated_at":"2022-05-20T13:18:18.998547Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:19.634698Z","updated_at":"2022-05-20T13:18:19.634698Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"30294129-1b1f-4e54-96e8-e3b79a6d3325","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:19.623606Z","updated_at":"2022-05-20T13:18:19.623606Z","tags":[],"address":"163.172.170.136","reverse":"136-170-172-163.instances.scw.cloud","gateway_id":"ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4
    method: GET
  response:
    body: '{"id":"ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:19.634698Z","updated_at":"2022-05-20T13:18:19.666751Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"30294129-1b1f-4e54-96e8-e3b79a6d3325","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:19.623606Z","updated_at":"2022-05-20T13:18:19.623606Z","tags":[],"address":"163.172.170.136","reverse":"136-170-172-163.instances.scw.cloud","gateway_id":"ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4","private_network_id":"a891f880-cb18-47cf-aa13-fcdbd5fe8303","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"0da389cc-8ac6-4b49-8379-28761fe3571c","created_at":"2022-05-20T13:18:24.987373Z","updated_at":"2022-05-20T13:18:24.987373Z","gateway_id":"ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4","private_network_id":"a891f880-cb18-47cf-aa13-fcdbd5fe8303","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0da389cc-8ac6-4b49-8379-28761fe3571c
    method: GET
  response:
    body: '{"id":"0da389cc-8ac6-4b49-8379-28761fe3571c","created_at":"2022-05-20T13:18:24.987373Z","updated_at":"2022-05-20T13:18:30.947747Z","gateway_id":"ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4","private_network_id":"a891f880-cb18-47cf-aa13-fcdbd5fe8303","mac_address":"02:00:00:01:24:97","enable_masquerade":true,"status":"ready","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0da389cc-8ac6-4b49-8379-28761fe3571c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0da389cc-8ac6-4b49-8379-28761fe3571c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"0da389cc-8ac6-4b49-8379-28761fe3571c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ce7a40e7-c75d-48b1-bbe9-0e8b48a359e4?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
