---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-romantic-shaw","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-06T13:59:49.603725Z","id":"458bba87-5e2d-4286-976f-0b7845e7ef15","name":"tf-pn-romantic-shaw","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.16.0/22","fd46:78ab:30b8:be15::/64"],"tags":[],"updated_at":"2023-06-06T13:59:49.603725Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/458bba87-5e2d-4286-976f-0b7845e7ef15
    method: GET
  response:
    body: '{"created_at":"2023-06-06T13:59:49.603725Z","id":"458bba87-5e2d-4286-976f-0b7845e7ef15","name":"tf-pn-romantic-shaw","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.16.0/22","fd46:78ab:30b8:be15::/64"],"tags":[],"updated_at":"2023-06-06T13:59:49.603725Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/8c9ac217-8b7b-44ad-8640-2c93d9dbae15
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"8c9ac217-8b7b-44ad-8640-2c93d9dbae15","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
