---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-goofy-montalcini","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.64.0/22"],"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-08-18T11:35:26.505768Z","dhcp_enabled":true,"id":"cd1d372c-3eeb-47bf-bc8d-8de763fa1689","name":"tf-pn-goofy-montalcini","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-08-18T11:35:26.505768Z","id":"eed4a03d-ecaa-41c2-b729-1744d0b2b814","subnet":"172.16.64.0/22","updated_at":"2023-08-18T11:35:26.505768Z"},{"created_at":"2023-08-18T11:35:26.505768Z","id":"2ed90606-8915-4143-a55c-3cbf3de26925","subnet":"fd46:78ab:30b8:e02a::/64","updated_at":"2023-08-18T11:35:26.505768Z"}],"tags":[],"updated_at":"2023-08-18T11:35:26.505768Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cd1d372c-3eeb-47bf-bc8d-8de763fa1689
    method: GET
  response:
    body: '{"created_at":"2023-08-18T11:35:26.505768Z","dhcp_enabled":true,"id":"cd1d372c-3eeb-47bf-bc8d-8de763fa1689","name":"tf-pn-goofy-montalcini","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-08-18T11:35:26.505768Z","id":"eed4a03d-ecaa-41c2-b729-1744d0b2b814","subnet":"172.16.64.0/22","updated_at":"2023-08-18T11:35:26.505768Z"},{"created_at":"2023-08-18T11:35:26.505768Z","id":"2ed90606-8915-4143-a55c-3cbf3de26925","subnet":"fd46:78ab:30b8:e02a::/64","updated_at":"2023-08-18T11:35:26.505768Z"}],"tags":[],"updated_at":"2023-08-18T11:35:26.505768Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cd1d372c-3eeb-47bf-bc8d-8de763fa1689
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"cd1d372c-3eeb-47bf-bc8d-8de763fa1689","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
