---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"212.47.250.86","created_at":"2023-05-09T15:45:14.193871Z","gateway_id":null,"id":"5dda7e59-8564-48d7-b712-ebaaefde76c2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"86-250-47-212.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:45:14.193871Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/5dda7e59-8564-48d7-b712-ebaaefde76c2
    method: GET
  response:
    body: '{"address":"212.47.250.86","created_at":"2023-05-09T15:45:14.193871Z","gateway_id":null,"id":"5dda7e59-8564-48d7-b712-ebaaefde76c2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"86-250-47-212.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:45:14.193871Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"add":{"records":[{"data":"212.47.250.86","name":"tf","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[{"comment":null,"data":"212.47.250.86","id":"aa7412b1-fd77-4674-a03b-ff1fcadefba3","name":"tf","priority":1,"ttl":3600,"type":"A"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=scaleway-terraform.com&domain=&order_by=domain_asc
    method: GET
  response:
    body: '{"dns_zones":[{"domain":"scaleway-terraform.com","message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"","updated_at":"2023-05-09T15:45:14Z"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":null,"reverse":"tf.scaleway-terraform.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/5dda7e59-8564-48d7-b712-ebaaefde76c2
    method: PATCH
  response:
    body: '{"details":[{"argument_name":"reverse","help_message":"must_resolve: {\"dns\":
      \"{\\\"type\\\": \\\"invalid_request_error\\\", \\\"message\\\": \\\"Validation
      Error\\\", \\\"fields\\\": {\\\"reverse\\\": [\\\"Your reverse must resolve.
      Ensure the command ''dig +short tf.scaleway-terraform.com'' matches your IP
      address ''212.47.250.86''. If it does, please contact our support.\\\"]}}\"}","reason":"unknown"}],"message":"invalid
      argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"212.47.250.86","id":"aa7412b1-fd77-4674-a03b-ff1fcadefba3","name":"tf","priority":1,"ttl":3600,"type":"A"},{"comment":null,"data":"212.47.248.168","id":"148ce50b-b17d-47c0-a395-f0426b168ea8","name":"tf","priority":1,"ttl":3600,"type":"A"},{"comment":null,"data":"51.158.121.229","id":"32b6282c-f383-45bf-a243-e067c0c1b6be","name":"tf","priority":1,"ttl":3600,"type":"A"},{"comment":null,"data":"51.15.224.115","id":"e56d1290-02a9-48de-bbde-39e2f8eaabfc","name":"tf","priority":1,"ttl":3600,"type":"A"},{"comment":null,"data":"51.158.76.119","id":"7a7f7b48-f0dc-454d-809f-ae3cbb7e95dd","name":"tf","priority":1,"ttl":3600,"type":"A"},{"comment":null,"data":"51.158.104.237","id":"344d966a-edf2-4024-ad48-b3b16d38f039","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":6}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=aa7412b1-fd77-4674-a03b-ff1fcadefba3&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"212.47.250.86","id":"aa7412b1-fd77-4674-a03b-ff1fcadefba3","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records?id=aa7412b1-fd77-4674-a03b-ff1fcadefba3&name=tf&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: '{"records":[{"comment":null,"data":"212.47.250.86","id":"aa7412b1-fd77-4674-a03b-ff1fcadefba3","name":"tf","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"changes":[{"delete":{"id":"aa7412b1-fd77-4674-a03b-ff1fcadefba3"}}],"return_all_records":false,"disallow_new_zone_creation":false,"serial":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/scaleway-terraform.com/records
    method: PATCH
  response:
    body: '{"records":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
