---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"b7a196e5-2511-457a-8649-026c24f414a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-03T09:18:21.887673Z","updated_at":"2021-08-03T09:18:21.887673Z","tags":[],"address":"51.15.192.220","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/b7a196e5-2511-457a-8649-026c24f414a2
    method: GET
  response:
    body: '{"id":"b7a196e5-2511-457a-8649-026c24f414a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-03T09:18:21.887673Z","updated_at":"2021-08-03T09:18:21.887673Z","tags":[],"address":"51.15.192.220","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["tag0","tag1"],"reverse":null,"gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/b7a196e5-2511-457a-8649-026c24f414a2
    method: PATCH
  response:
    body: '{"id":"b7a196e5-2511-457a-8649-026c24f414a2","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-03T09:18:21.887673Z","updated_at":"2021-08-03T09:18:23.858680Z","tags":["tag0","tag1"],"address":"51.15.192.220","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/b7a196e5-2511-457a-8649-026c24f414a2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"b7a196e5-2511-457a-8649-026c24f414a2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
