---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"227fabd5-4554-46b1-abbb-fca31ba2a4a0","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.235660Z","updated_at":"2021-12-08T13:09:37.235660Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/227fabd5-4554-46b1-abbb-fca31ba2a4a0
    method: GET
  response:
    body: '{"id":"227fabd5-4554-46b1-abbb-fca31ba2a4a0","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.235660Z","updated_at":"2021-12-08T13:09:37.235660Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"6d63cfa9-8223-4bff-b522-081f14c7030b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.773754Z","updated_at":"2021-12-08T13:09:37.773754Z","tags":[],"address":"51.15.248.13","reverse":"13-248-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/6d63cfa9-8223-4bff-b522-081f14c7030b
    method: GET
  response:
    body: '{"id":"6d63cfa9-8223-4bff-b522-081f14c7030b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.773754Z","updated_at":"2021-12-08T13:09:37.773754Z","tags":[],"address":"51.15.248.13","reverse":"13-248-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"6d63cfa9-8223-4bff-b522-081f14c7030b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"cb7027ee-bfb2-4ac1-a45d-8ea3521246c1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.943941Z","updated_at":"2021-12-08T13:09:37.943941Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6d63cfa9-8223-4bff-b522-081f14c7030b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.773754Z","updated_at":"2021-12-08T13:09:37.773754Z","tags":[],"address":"51.15.248.13","reverse":"13-248-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/cb7027ee-bfb2-4ac1-a45d-8ea3521246c1
    method: GET
  response:
    body: '{"id":"cb7027ee-bfb2-4ac1-a45d-8ea3521246c1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.943941Z","updated_at":"2021-12-08T13:09:37.980618Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"6d63cfa9-8223-4bff-b522-081f14c7030b","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:37.773754Z","updated_at":"2021-12-08T13:09:37.773754Z","tags":[],"address":"51.15.248.13","reverse":"13-248-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"cb7027ee-bfb2-4ac1-a45d-8ea3521246c1","private_network_id":"227fabd5-4554-46b1-abbb-fca31ba2a4a0","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"03ca5cb0-1083-469c-84d4-2a7476118fbd","created_at":"2021-12-08T13:10:38.554913Z","updated_at":"2021-12-08T13:10:38.554913Z","gateway_id":"cb7027ee-bfb2-4ac1-a45d-8ea3521246c1","private_network_id":"227fabd5-4554-46b1-abbb-fca31ba2a4a0","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/03ca5cb0-1083-469c-84d4-2a7476118fbd
    method: GET
  response:
    body: '{"id":"03ca5cb0-1083-469c-84d4-2a7476118fbd","created_at":"2021-12-08T13:10:38.554913Z","updated_at":"2021-12-08T13:10:38.554913Z","gateway_id":"cb7027ee-bfb2-4ac1-a45d-8ea3521246c1","private_network_id":"227fabd5-4554-46b1-abbb-fca31ba2a4a0","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/03ca5cb0-1083-469c-84d4-2a7476118fbd?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/cb7027ee-bfb2-4ac1-a45d-8ea3521246c1?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/03ca5cb0-1083-469c-84d4-2a7476118fbd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"03ca5cb0-1083-469c-84d4-2a7476118fbd","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
