---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"a305b489-ebeb-4e20-9b2f-486941ce44f7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:00.815245Z","updated_at":"2022-05-20T13:20:00.815245Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"c0392638-4dc7-4fbe-b71c-5cb58bb26e28","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:00.790469Z","updated_at":"2022-05-20T13:20:00.790469Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/a305b489-ebeb-4e20-9b2f-486941ce44f7
    method: GET
  response:
    body: '{"id":"a305b489-ebeb-4e20-9b2f-486941ce44f7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:00.815245Z","updated_at":"2022-05-20T13:20:00.815245Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/c0392638-4dc7-4fbe-b71c-5cb58bb26e28
    method: GET
  response:
    body: '{"id":"c0392638-4dc7-4fbe-b71c-5cb58bb26e28","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:00.790469Z","updated_at":"2022-05-20T13:20:00.790469Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-infallible-davinci","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:01.598096Z","updated_at":"2022-05-20T13:20:01.598096Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-infallible-davinci","tags":[],"ip":{"id":"f605b279-d79f-4ca4-8223-e825c9075cd8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:01.581356Z","updated_at":"2022-05-20T13:20:01.581356Z","tags":[],"address":"212.47.243.197","reverse":"197-243-47-212.instances.scw.cloud","gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7
    method: GET
  response:
    body: '{"id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:01.598096Z","updated_at":"2022-05-20T13:20:01.598096Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-infallible-davinci","tags":[],"ip":{"id":"f605b279-d79f-4ca4-8223-e825c9075cd8","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:01.581356Z","updated_at":"2022-05-20T13:20:01.581356Z","tags":[],"address":"212.47.243.197","reverse":"197-243-47-212.instances.scw.cloud","gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","private_network_id":"c0392638-4dc7-4fbe-b71c-5cb58bb26e28","enable_masquerade":true,"dhcp_id":"a305b489-ebeb-4e20-9b2f-486941ce44f7","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"63bad345-509d-4bb6-812c-aaf243eeea8f","created_at":"2022-05-20T13:20:08.052197Z","updated_at":"2022-05-20T13:20:08.052197Z","gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","private_network_id":"c0392638-4dc7-4fbe-b71c-5cb58bb26e28","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"a305b489-ebeb-4e20-9b2f-486941ce44f7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:00.815245Z","updated_at":"2022-05-20T13:20:00.815245Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/63bad345-509d-4bb6-812c-aaf243eeea8f
    method: GET
  response:
    body: '{"id":"63bad345-509d-4bb6-812c-aaf243eeea8f","created_at":"2022-05-20T13:20:08.052197Z","updated_at":"2022-05-20T13:20:14.086785Z","gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","private_network_id":"c0392638-4dc7-4fbe-b71c-5cb58bb26e28","mac_address":"02:00:00:01:24:9c","enable_masquerade":true,"status":"ready","dhcp":{"id":"a305b489-ebeb-4e20-9b2f-486941ce44f7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:20:00.815245Z","updated_at":"2022-05-20T13:20:00.815245Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"ee84da75-cefe-4e94-a49e-08f5250c2fb7","gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","created_at":"2022-05-20T13:20:18.761299Z","updated_at":"2022-05-20T13:20:18.761299Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/ee84da75-cefe-4e94-a49e-08f5250c2fb7
    method: GET
  response:
    body: '{"id":"ee84da75-cefe-4e94-a49e-08f5250c2fb7","gateway_id":"6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7","created_at":"2022-05-20T13:20:18.761299Z","updated_at":"2022-05-20T13:20:18.761299Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/63bad345-509d-4bb6-812c-aaf243eeea8f?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/63bad345-509d-4bb6-812c-aaf243eeea8f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"63bad345-509d-4bb6-812c-aaf243eeea8f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/6a34c068-344b-4af2-bfc2-b6b6d7e3a1a7?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
