---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-elated-wright","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-05-12T15:59:51.210119Z","id":"b9b80fd6-e7dc-409b-9eee-ebbc7e022816","name":"tf-pn-elated-wright","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.12.0/22","fd21:e31e:86f0:d2c0::/64"],"tags":[],"updated_at":"2023-05-12T15:59:51.210119Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b9b80fd6-e7dc-409b-9eee-ebbc7e022816
    method: GET
  response:
    body: '{"created_at":"2023-05-12T15:59:51.210119Z","id":"b9b80fd6-e7dc-409b-9eee-ebbc7e022816","name":"tf-pn-elated-wright","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnets":["172.16.12.0/22","fd21:e31e:86f0:d2c0::/64"],"tags":[],"updated_at":"2023-05-12T15:59:51.210119Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b9b80fd6-e7dc-409b-9eee-ebbc7e022816
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"b9b80fd6-e7dc-409b-9eee-ebbc7e022816","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
