---
version: 1
interactions:
- request:
    body: '{"name":"test-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","vpc","update"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-07-12T09:44:42.983546Z","id":"933c5c1f-2afd-4b9c-b81a-5adaa5ba156f","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-07-12T09:44:42.983546Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/933c5c1f-2afd-4b9c-b81a-5adaa5ba156f
    method: GET
  response:
    body: '{"created_at":"2023-07-12T09:44:42.983546Z","id":"933c5c1f-2afd-4b9c-b81a-5adaa5ba156f","is_default":false,"name":"test-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":["terraform-test","vpc","update"],"updated_at":"2023-07-12T09:44:42.983546Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["tag0","tag1"],"subnets":["192.168.0.0/24","fd46:78ab:30b8:c7df::/64","fd46:78ab:30b8:177c::/64"],"vpc_id":"933c5c1f-2afd-4b9c-b81a-5adaa5ba156f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-12T09:44:43.216610Z","dhcp_enabled":false,"id":"b609d312-46ff-4301-bd65-2d22ec04dec3","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T09:44:43.216610Z","id":"c46f7265-1bf8-4fba-a34e-234f080fa4cb","subnet":"192.168.0.0/24","updated_at":"2023-07-12T09:44:43.216610Z"},{"created_at":"2023-07-12T09:44:43.216610Z","id":"fee48626-7836-467a-8317-a30e75afd8c7","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-07-12T09:44:43.216610Z"},{"created_at":"2023-07-12T09:44:43.216610Z","id":"d4a2f006-da72-4f7e-8995-0c0c6ed7dfd7","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-07-12T09:44:43.216610Z"}],"tags":["tag0","tag1"],"updated_at":"2023-07-12T09:44:43.216610Z","vpc_id":"933c5c1f-2afd-4b9c-b81a-5adaa5ba156f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b609d312-46ff-4301-bd65-2d22ec04dec3
    method: GET
  response:
    body: '{"created_at":"2023-07-12T09:44:43.216610Z","dhcp_enabled":false,"id":"b609d312-46ff-4301-bd65-2d22ec04dec3","name":"pn1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T09:44:43.216610Z","id":"c46f7265-1bf8-4fba-a34e-234f080fa4cb","subnet":"192.168.0.0/24","updated_at":"2023-07-12T09:44:43.216610Z"},{"created_at":"2023-07-12T09:44:43.216610Z","id":"fee48626-7836-467a-8317-a30e75afd8c7","subnet":"fd46:78ab:30b8:177c::/64","updated_at":"2023-07-12T09:44:43.216610Z"},{"created_at":"2023-07-12T09:44:43.216610Z","id":"d4a2f006-da72-4f7e-8995-0c0c6ed7dfd7","subnet":"fd46:78ab:30b8:c7df::/64","updated_at":"2023-07-12T09:44:43.216610Z"}],"tags":["tag0","tag1"],"updated_at":"2023-07-12T09:44:43.216610Z","vpc_id":"933c5c1f-2afd-4b9c-b81a-5adaa5ba156f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b609d312-46ff-4301-bd65-2d22ec04dec3
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"b609d312-46ff-4301-bd65-2d22ec04dec3","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
