---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-03-19T08:32:41.701661Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"3eb820f3-f5bc-4a5a-bf07-26275c0bfb7a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:32:41.701661Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/3eb820f3-f5bc-4a5a-bf07-26275c0bfb7a
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2024-03-19T08:32:41.701661Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"3eb820f3-f5bc-4a5a-bf07-26275c0bfb7a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:32:41.701661Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:32:41.702668Z","dhcp_enabled":true,"id":"df21ac2a-5c78-4f0b-b70b-b168cbeb045c","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:32:41.702668Z","id":"b03f7bbb-9ea1-454c-8c38-f15bdf9d04b2","subnet":"172.16.4.0/22","updated_at":"2024-03-19T08:32:41.702668Z"},{"created_at":"2024-03-19T08:32:41.702668Z","id":"11902c64-37a0-42a5-b182-a817d69e63f7","subnet":"fd5f:519c:6d46:a9c::/64","updated_at":"2024-03-19T08:32:41.702668Z"}],"tags":[],"updated_at":"2024-03-19T08:32:41.702668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/df21ac2a-5c78-4f0b-b70b-b168cbeb045c
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:32:41.702668Z","dhcp_enabled":true,"id":"df21ac2a-5c78-4f0b-b70b-b168cbeb045c","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:32:41.702668Z","id":"b03f7bbb-9ea1-454c-8c38-f15bdf9d04b2","subnet":"172.16.4.0/22","updated_at":"2024-03-19T08:32:41.702668Z"},{"created_at":"2024-03-19T08:32:41.702668Z","id":"11902c64-37a0-42a5-b182-a817d69e63f7","subnet":"fd5f:519c:6d46:a9c::/64","updated_at":"2024-03-19T08:32:41.702668Z"}],"tags":[],"updated_at":"2024-03-19T08:32:41.702668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"163.172.176.221","created_at":"2024-03-19T08:32:42.922653Z","gateway_id":null,"id":"0a7b5db0-9537-4731-9d1b-9a893b9b51bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"221-176-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:42.922653Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/0a7b5db0-9537-4731-9d1b-9a893b9b51bb
    method: GET
  response:
    body: '{"address":"163.172.176.221","created_at":"2024-03-19T08:32:42.922653Z","gateway_id":null,"id":"0a7b5db0-9537-4731-9d1b-9a893b9b51bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"221-176-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:42.922653Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-vpc-pgw-network-basic","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"0a7b5db0-9537-4731-9d1b-9a893b9b51bb","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:32:44.609394Z","gateway_networks":[],"id":"3a967990-6959-405e-b47c-73f819473a12","ip":{"address":"163.172.176.221","created_at":"2024-03-19T08:32:42.922653Z","gateway_id":"3a967990-6959-405e-b47c-73f819473a12","id":"0a7b5db0-9537-4731-9d1b-9a893b9b51bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"221-176-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:42.922653Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-tests-vpc-pgw-network-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-03-19T08:32:44.609394Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3a967990-6959-405e-b47c-73f819473a12
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:32:44.609394Z","gateway_networks":[],"id":"3a967990-6959-405e-b47c-73f819473a12","ip":{"address":"163.172.176.221","created_at":"2024-03-19T08:32:42.922653Z","gateway_id":"3a967990-6959-405e-b47c-73f819473a12","id":"0a7b5db0-9537-4731-9d1b-9a893b9b51bb","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"221-176-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:42.922653Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-tests-vpc-pgw-network-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-03-19T08:32:44.609394Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"3a967990-6959-405e-b47c-73f819473a12","private_network_id":"df21ac2a-5c78-4f0b-b70b-b168cbeb045c","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"3eb820f3-f5bc-4a5a-bf07-26275c0bfb7a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2024-03-19T08:33:11.834586Z","dhcp":{"address":"192.168.1.1","created_at":"2024-03-19T08:32:41.701661Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"3eb820f3-f5bc-4a5a-bf07-26275c0bfb7a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:32:41.701661Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"3a967990-6959-405e-b47c-73f819473a12","id":"2ac4d8a5-145a-4743-909b-3f1de0bc0285","ipam_config":null,"mac_address":null,"private_network_id":"df21ac2a-5c78-4f0b-b70b-b168cbeb045c","status":"created","updated_at":"2024-03-19T08:33:11.834586Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/2ac4d8a5-145a-4743-909b-3f1de0bc0285
    method: GET
  response:
    body: '{"address":null,"created_at":"2024-03-19T08:33:11.834586Z","dhcp":{"address":"192.168.1.1","created_at":"2024-03-19T08:32:41.701661Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"3eb820f3-f5bc-4a5a-bf07-26275c0bfb7a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-03-19T08:32:41.701661Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"3a967990-6959-405e-b47c-73f819473a12","id":"2ac4d8a5-145a-4743-909b-3f1de0bc0285","ipam_config":null,"mac_address":"02:00:00:19:31:64","private_network_id":"df21ac2a-5c78-4f0b-b70b-b168cbeb045c","status":"ready","updated_at":"2024-03-19T08:33:24.026894Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/2ac4d8a5-145a-4743-909b-3f1de0bc0285?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/2ac4d8a5-145a-4743-909b-3f1de0bc0285
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"2ac4d8a5-145a-4743-909b-3f1de0bc0285","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3a967990-6959-405e-b47c-73f819473a12?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
