---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"d85c0d4b-6e7b-494b-aa8d-1701569a4585","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:20.669019Z","updated_at":"2021-10-18T10:51:20.669019Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"786eea2f-ed5d-4cb5-966d-fe9fcb9e3235","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:20.649089Z","updated_at":"2021-10-18T10:51:20.649089Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/d85c0d4b-6e7b-494b-aa8d-1701569a4585
    method: GET
  response:
    body: '{"id":"d85c0d4b-6e7b-494b-aa8d-1701569a4585","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:20.669019Z","updated_at":"2021-10-18T10:51:20.669019Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/786eea2f-ed5d-4cb5-966d-fe9fcb9e3235
    method: GET
  response:
    body: '{"id":"786eea2f-ed5d-4cb5-966d-fe9fcb9e3235","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:20.649089Z","updated_at":"2021-10-18T10:51:20.649089Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"tf-pn-suspicious-shockley","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:21.299032Z","updated_at":"2021-10-18T10:51:21.299032Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-suspicious-shockley","tags":[],"ip":{"id":"2e913b26-2d72-47fc-9a8b-5b5c8dd31be1","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:21.281535Z","updated_at":"2021-10-18T10:51:21.281535Z","tags":[],"address":"163.172.182.84","reverse":"84-182-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/6d24486e-a1cd-4eb9-b907-a19eaf73cbc8
    method: GET
  response:
    body: '{"id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:21.299032Z","updated_at":"2021-10-18T10:51:21.299032Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-suspicious-shockley","tags":[],"ip":{"id":"2e913b26-2d72-47fc-9a8b-5b5c8dd31be1","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:21.281535Z","updated_at":"2021-10-18T10:51:21.281535Z","tags":[],"address":"163.172.182.84","reverse":"84-182-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","private_network_id":"786eea2f-ed5d-4cb5-966d-fe9fcb9e3235","enable_masquerade":true,"dhcp_id":"d85c0d4b-6e7b-494b-aa8d-1701569a4585","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"854b1d45-dbd2-4c76-8cf2-36a796373da1","created_at":"2021-10-18T10:51:51.827138Z","updated_at":"2021-10-18T10:51:51.827138Z","gateway_id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","private_network_id":"786eea2f-ed5d-4cb5-966d-fe9fcb9e3235","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"d85c0d4b-6e7b-494b-aa8d-1701569a4585","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:20.669019Z","updated_at":"2021-10-18T10:51:20.669019Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/854b1d45-dbd2-4c76-8cf2-36a796373da1
    method: GET
  response:
    body: '{"id":"854b1d45-dbd2-4c76-8cf2-36a796373da1","created_at":"2021-10-18T10:51:51.827138Z","updated_at":"2021-10-18T10:51:51.827138Z","gateway_id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","private_network_id":"786eea2f-ed5d-4cb5-966d-fe9fcb9e3235","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"d85c0d4b-6e7b-494b-aa8d-1701569a4585","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-18T10:51:20.669019Z","updated_at":"2021-10-18T10:51:20.669019Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"a4fc2eb9-01a4-4918-b43c-059058cfdd48","gateway_id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","created_at":"2021-10-18T10:52:22.419359Z","updated_at":"2021-10-18T10:52:22.419359Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/a4fc2eb9-01a4-4918-b43c-059058cfdd48
    method: GET
  response:
    body: '{"id":"a4fc2eb9-01a4-4918-b43c-059058cfdd48","gateway_id":"6d24486e-a1cd-4eb9-b907-a19eaf73cbc8","created_at":"2021-10-18T10:52:22.419359Z","updated_at":"2021-10-18T10:52:22.419359Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/854b1d45-dbd2-4c76-8cf2-36a796373da1?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/d85c0d4b-6e7b-494b-aa8d-1701569a4585
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"d85c0d4b-6e7b-494b-aa8d-1701569a4585","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/6d24486e-a1cd-4eb9-b907-a19eaf73cbc8?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
