---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"974b6117-72ef-4b64-81ab-4961b6229600","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.167698Z","updated_at":"2021-10-13T16:06:38.167698Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"1e19b947-dde6-4ee4-bba2-a5329af2fd8c","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.120450Z","updated_at":"2021-10-13T16:06:38.120450Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/974b6117-72ef-4b64-81ab-4961b6229600
    method: GET
  response:
    body: '{"id":"974b6117-72ef-4b64-81ab-4961b6229600","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.167698Z","updated_at":"2021-10-13T16:06:38.167698Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/1e19b947-dde6-4ee4-bba2-a5329af2fd8c
    method: GET
  response:
    body: '{"id":"1e19b947-dde6-4ee4-bba2-a5329af2fd8c","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.120450Z","updated_at":"2021-10-13T16:06:38.120450Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"766531f1-8bfb-44f7-948e-fc29c02056a5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.704671Z","updated_at":"2021-10-13T16:06:38.704671Z","tags":[],"address":"51.15.235.12","reverse":"12-235-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/766531f1-8bfb-44f7-948e-fc29c02056a5
    method: GET
  response:
    body: '{"id":"766531f1-8bfb-44f7-948e-fc29c02056a5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.704671Z","updated_at":"2021-10-13T16:06:38.704671Z","tags":[],"address":"51.15.235.12","reverse":"12-235-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"766531f1-8bfb-44f7-948e-fc29c02056a5"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"28c5cbd8-f90a-42f1-8964-6a8d99e5a1af","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.978585Z","updated_at":"2021-10-13T16:06:38.978585Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"766531f1-8bfb-44f7-948e-fc29c02056a5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.704671Z","updated_at":"2021-10-13T16:06:38.704671Z","tags":[],"address":"51.15.235.12","reverse":"12-235-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/28c5cbd8-f90a-42f1-8964-6a8d99e5a1af
    method: GET
  response:
    body: '{"id":"28c5cbd8-f90a-42f1-8964-6a8d99e5a1af","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.978585Z","updated_at":"2021-10-13T16:06:39.016222Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"766531f1-8bfb-44f7-948e-fc29c02056a5","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.704671Z","updated_at":"2021-10-13T16:06:38.704671Z","tags":[],"address":"51.15.235.12","reverse":"12-235-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"28c5cbd8-f90a-42f1-8964-6a8d99e5a1af","private_network_id":"1e19b947-dde6-4ee4-bba2-a5329af2fd8c","enable_masquerade":false,"dhcp_id":"974b6117-72ef-4b64-81ab-4961b6229600","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"d97807c9-22e8-4b59-941f-bf934b38e01b","created_at":"2021-10-13T16:07:09.450651Z","updated_at":"2021-10-13T16:07:09.450651Z","gateway_id":"28c5cbd8-f90a-42f1-8964-6a8d99e5a1af","private_network_id":"1e19b947-dde6-4ee4-bba2-a5329af2fd8c","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"974b6117-72ef-4b64-81ab-4961b6229600","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.167698Z","updated_at":"2021-10-13T16:06:38.167698Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":false,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/d97807c9-22e8-4b59-941f-bf934b38e01b
    method: GET
  response:
    body: '{"id":"d97807c9-22e8-4b59-941f-bf934b38e01b","created_at":"2021-10-13T16:07:09.450651Z","updated_at":"2021-10-13T16:07:09.450651Z","gateway_id":"28c5cbd8-f90a-42f1-8964-6a8d99e5a1af","private_network_id":"1e19b947-dde6-4ee4-bba2-a5329af2fd8c","mac_address":null,"enable_masquerade":false,"status":"created","dhcp":{"id":"974b6117-72ef-4b64-81ab-4961b6229600","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T16:06:38.167698Z","updated_at":"2021-10-13T16:06:38.167698Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":false,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/d97807c9-22e8-4b59-941f-bf934b38e01b?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/974b6117-72ef-4b64-81ab-4961b6229600
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"974b6117-72ef-4b64-81ab-4961b6229600","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/28c5cbd8-f90a-42f1-8964-6a8d99e5a1af?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/766531f1-8bfb-44f7-948e-fc29c02056a5
    method: DELETE
  response:
    body: '{"help_message":"IP is attached to the running gateway with id 28c5cbd8-f90a-42f1-8964-6a8d99e5a1af","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
[...]
