---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"8844562f-1a72-448a-bb94-0877763e5d8b","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:04.541132Z","updated_at":"2021-12-08T14:28:04.541132Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/8844562f-1a72-448a-bb94-0877763e5d8b
    method: GET
  response:
    body: '{"id":"8844562f-1a72-448a-bb94-0877763e5d8b","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:04.541132Z","updated_at":"2021-12-08T14:28:04.541132Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"message":"{\"type\": \"server_error\", \"message\": \"Internal error\"}"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"4d291578-2c7f-4c05-89e5-7668aac9ba56","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:10.502969Z","updated_at":"2021-12-08T14:28:10.502969Z","tags":[],"address":"51.15.250.148","reverse":"148-250-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/4d291578-2c7f-4c05-89e5-7668aac9ba56
    method: GET
  response:
    body: '{"id":"4d291578-2c7f-4c05-89e5-7668aac9ba56","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:10.502969Z","updated_at":"2021-12-08T14:28:10.502969Z","tags":[],"address":"51.15.250.148","reverse":"148-250-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"4d291578-2c7f-4c05-89e5-7668aac9ba56"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:10.676011Z","updated_at":"2021-12-08T14:28:10.676011Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"4d291578-2c7f-4c05-89e5-7668aac9ba56","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:10.502969Z","updated_at":"2021-12-08T14:28:10.502969Z","tags":[],"address":"51.15.250.148","reverse":"148-250-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63
    method: GET
  response:
    body: '{"id":"b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:10.676011Z","updated_at":"2021-12-08T14:28:10.700177Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"4d291578-2c7f-4c05-89e5-7668aac9ba56","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:10.502969Z","updated_at":"2021-12-08T14:28:10.502969Z","tags":[],"address":"51.15.250.148","reverse":"148-250-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63","private_network_id":"8844562f-1a72-448a-bb94-0877763e5d8b","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"39b67e7c-7494-44be-a5a3-70a4140fdea0","created_at":"2021-12-08T14:29:11.072704Z","updated_at":"2021-12-08T14:29:11.072704Z","gateway_id":"b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63","private_network_id":"8844562f-1a72-448a-bb94-0877763e5d8b","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/39b67e7c-7494-44be-a5a3-70a4140fdea0
    method: GET
  response:
    body: '{"id":"39b67e7c-7494-44be-a5a3-70a4140fdea0","created_at":"2021-12-08T14:29:11.072704Z","updated_at":"2021-12-08T14:29:11.072704Z","gateway_id":"b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63","private_network_id":"8844562f-1a72-448a-bb94-0877763e5d8b","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/39b67e7c-7494-44be-a5a3-70a4140fdea0?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/4d291578-2c7f-4c05-89e5-7668aac9ba56
    method: DELETE
  response:
    body: '{"help_message":"IP is attached to the running gateway with id b1b0a5c2-5ba3-48e9-b313-7aaf4e5a2e63","message":"precondition
      is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/39b67e7c-7494-44be-a5a3-70a4140fdea0
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"39b67e7c-7494-44be-a5a3-70a4140fdea0","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
