---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"bef9229c-612d-4eb0-a3f5-141722e757b2","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:15.693666Z","updated_at":"2021-10-13T17:54:15.693666Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"89b252f7-07f1-49dc-8a3b-b610085996b6","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:15.671693Z","updated_at":"2021-10-13T17:54:15.671693Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/bef9229c-612d-4eb0-a3f5-141722e757b2
    method: GET
  response:
    body: '{"id":"bef9229c-612d-4eb0-a3f5-141722e757b2","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:15.693666Z","updated_at":"2021-10-13T17:54:15.693666Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/89b252f7-07f1-49dc-8a3b-b610085996b6
    method: GET
  response:
    body: '{"id":"89b252f7-07f1-49dc-8a3b-b610085996b6","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:15.671693Z","updated_at":"2021-10-13T17:54:15.671693Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"tf-pn-distracted-wozniak","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"960a0e48-f786-4096-b72a-ae04ef52be58","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:16.260890Z","updated_at":"2021-10-13T17:54:16.260890Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-distracted-wozniak","tags":[],"ip":{"id":"e536946d-5f1a-463c-99ca-c391464d14f0","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:16.243845Z","updated_at":"2021-10-13T17:54:16.243845Z","tags":[],"address":"51.15.141.225","reverse":"225-141-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/960a0e48-f786-4096-b72a-ae04ef52be58
    method: GET
  response:
    body: '{"id":"960a0e48-f786-4096-b72a-ae04ef52be58","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:16.260890Z","updated_at":"2021-10-13T17:54:16.461382Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"configuring","name":"tf-pn-distracted-wozniak","tags":[],"ip":{"id":"e536946d-5f1a-463c-99ca-c391464d14f0","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:16.243845Z","updated_at":"2021-10-13T17:54:16.243845Z","tags":[],"address":"51.15.141.225","reverse":"225-141-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"960a0e48-f786-4096-b72a-ae04ef52be58","private_network_id":"89b252f7-07f1-49dc-8a3b-b610085996b6","enable_masquerade":true,"dhcp_id":"bef9229c-612d-4eb0-a3f5-141722e757b2","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"db77bdd6-2e9c-430a-856d-787949080d14","created_at":"2021-10-13T17:54:46.987601Z","updated_at":"2021-10-13T17:54:46.987601Z","gateway_id":"960a0e48-f786-4096-b72a-ae04ef52be58","private_network_id":"89b252f7-07f1-49dc-8a3b-b610085996b6","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"bef9229c-612d-4eb0-a3f5-141722e757b2","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:15.693666Z","updated_at":"2021-10-13T17:54:15.693666Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/db77bdd6-2e9c-430a-856d-787949080d14
    method: GET
  response:
    body: '{"id":"db77bdd6-2e9c-430a-856d-787949080d14","created_at":"2021-10-13T17:54:46.987601Z","updated_at":"2021-10-13T17:54:46.987601Z","gateway_id":"960a0e48-f786-4096-b72a-ae04ef52be58","private_network_id":"89b252f7-07f1-49dc-8a3b-b610085996b6","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"bef9229c-612d-4eb0-a3f5-141722e757b2","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:54:15.693666Z","updated_at":"2021-10-13T17:54:15.693666Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"960a0e48-f786-4096-b72a-ae04ef52be58","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"33624d71-0342-480b-aa69-1c9d8a1d23e9","gateway_id":"960a0e48-f786-4096-b72a-ae04ef52be58","created_at":"2021-10-13T17:55:17.529479Z","updated_at":"2021-10-13T17:55:17.529479Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/33624d71-0342-480b-aa69-1c9d8a1d23e9
    method: GET
  response:
    body: '{"id":"33624d71-0342-480b-aa69-1c9d8a1d23e9","gateway_id":"960a0e48-f786-4096-b72a-ae04ef52be58","created_at":"2021-10-13T17:55:17.529479Z","updated_at":"2021-10-13T17:55:17.529479Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/db77bdd6-2e9c-430a-856d-787949080d14?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/bef9229c-612d-4eb0-a3f5-141722e757b2
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"bef9229c-612d-4eb0-a3f5-141722e757b2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/960a0e48-f786-4096-b72a-ae04ef52be58?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
