---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2023-09-28T07:41:25.067249Z","id":"01857b45-e324-42d3-bc4d-658a0ecb7b70","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-09-28T07:41:25.067249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/01857b45-e324-42d3-bc4d-658a0ecb7b70
    method: GET
  response:
    body: '{"created_at":"2023-09-28T07:41:25.067249Z","id":"01857b45-e324-42d3-bc4d-658a0ecb7b70","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2023-09-28T07:41:25.067249Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-09-28T07:41:25.704281Z","gateway_networks":[],"id":"982d502a-1184-4334-b5c4-0288c50e0387","ip":{"address":"51.15.248.13","created_at":"2023-09-28T07:41:25.687285Z","gateway_id":"982d502a-1184-4334-b5c4-0288c50e0387","id":"cfc65627-0538-41af-91a5-a4bfcebd57ae","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"13-248-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-09-28T07:41:25.687285Z","zone":"fr-par-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-09-28T07:41:25.704281Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.64.0/22"],"vpc_id":"01857b45-e324-42d3-bc4d-658a0ecb7b70"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-09-28T07:41:25.234345Z","dhcp_enabled":true,"id":"d70f11f7-5ed1-4434-ab61-c61be9b407fd","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-09-28T07:41:25.234345Z","id":"9af5b659-3cb3-4fef-b0ac-ff5c807512c6","subnet":"172.16.64.0/22","updated_at":"2023-09-28T07:41:25.234345Z"},{"created_at":"2023-09-28T07:41:25.234345Z","id":"6b651267-154e-4af4-abbf-8ac128b27f88","subnet":"fd46:78ab:30b8:a22d::/64","updated_at":"2023-09-28T07:41:25.234345Z"}],"tags":[],"updated_at":"2023-09-28T07:41:25.234345Z","vpc_id":"01857b45-e324-42d3-bc4d-658a0ecb7b70"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/982d502a-1184-4334-b5c4-0288c50e0387
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-09-28T07:41:25.704281Z","gateway_networks":[],"id":"982d502a-1184-4334-b5c4-0288c50e0387","ip":{"address":"51.15.248.13","created_at":"2023-09-28T07:41:25.687285Z","gateway_id":"982d502a-1184-4334-b5c4-0288c50e0387","id":"cfc65627-0538-41af-91a5-a4bfcebd57ae","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"13-248-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-09-28T07:41:25.687285Z","zone":"fr-par-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-09-28T07:41:25.779763Z","upstream_dns_servers":[],"version":"0.6.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d70f11f7-5ed1-4434-ab61-c61be9b407fd
    method: GET
  response:
    body: '{"created_at":"2023-09-28T07:41:25.234345Z","dhcp_enabled":true,"id":"d70f11f7-5ed1-4434-ab61-c61be9b407fd","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-09-28T07:41:25.234345Z","id":"9af5b659-3cb3-4fef-b0ac-ff5c807512c6","subnet":"172.16.64.0/22","updated_at":"2023-09-28T07:41:25.234345Z"},{"created_at":"2023-09-28T07:41:25.234345Z","id":"6b651267-154e-4af4-abbf-8ac128b27f88","subnet":"fd46:78ab:30b8:a22d::/64","updated_at":"2023-09-28T07:41:25.234345Z"}],"tags":[],"updated_at":"2023-09-28T07:41:25.234345Z","vpc_id":"01857b45-e324-42d3-bc4d-658a0ecb7b70"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"982d502a-1184-4334-b5c4-0288c50e0387","private_network_id":"d70f11f7-5ed1-4434-ab61-c61be9b407fd","enable_masquerade":true,"enable_dhcp":false,"ipam_config":{"push_default_route":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2023-09-28T07:41:31.269315Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"982d502a-1184-4334-b5c4-0288c50e0387","id":"4525ffdb-236b-4a09-a2e8-82557f5fc189","mac_address":null,"private_network_id":"d70f11f7-5ed1-4434-ab61-c61be9b407fd","status":"created","updated_at":"2023-09-28T07:41:31.269315Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4525ffdb-236b-4a09-a2e8-82557f5fc189
    method: GET
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2023-09-28T07:41:31.269315Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"982d502a-1184-4334-b5c4-0288c50e0387","id":"4525ffdb-236b-4a09-a2e8-82557f5fc189","mac_address":"02:00:00:14:09:67","private_network_id":"d70f11f7-5ed1-4434-ab61-c61be9b407fd","status":"ready","updated_at":"2023-09-28T07:41:33.702593Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4525ffdb-236b-4a09-a2e8-82557f5fc189?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/4525ffdb-236b-4a09-a2e8-82557f5fc189
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"4525ffdb-236b-4a09-a2e8-82557f5fc189","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/982d502a-1184-4334-b5c4-0288c50e0387?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
