---
version: 1
interactions:
- request:
    body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-02-08T17:03:07.212803Z","id":"84890cfc-faac-43e9-9ace-1c6bf6dc3dff","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-02-08T17:03:07.212803Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/84890cfc-faac-43e9-9ace-1c6bf6dc3dff
    method: GET
  response:
    body: '{"created_at":"2024-02-08T17:03:07.212803Z","id":"84890cfc-faac-43e9-9ace-1c6bf6dc3dff","is_default":false,"name":"my
      vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-02-08T17:03:07.212803Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-02-08T17:03:08.038179Z","gateway_networks":[],"id":"ca3795dc-009a-4811-8f54-5b10accdeb7e","ip":{"address":"51.15.230.193","created_at":"2024-02-08T17:03:08.009Z","gateway_id":"ca3795dc-009a-4811-8f54-5b10accdeb7e","id":"1b921e67-4851-40d4-93d6-b430083806e8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"193-230-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-02-08T17:03:08.009Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-02-08T17:03:08.038179Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ca3795dc-009a-4811-8f54-5b10accdeb7e
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-02-08T17:03:08.038179Z","gateway_networks":[],"id":"ca3795dc-009a-4811-8f54-5b10accdeb7e","ip":{"address":"51.15.230.193","created_at":"2024-02-08T17:03:08.009Z","gateway_id":"ca3795dc-009a-4811-8f54-5b10accdeb7e","id":"1b921e67-4851-40d4-93d6-b430083806e8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"193-230-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-02-08T17:03:08.009Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-02-08T17:03:08.038179Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"84890cfc-faac-43e9-9ace-1c6bf6dc3dff"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-02-08T17:03:07.438787Z","dhcp_enabled":true,"id":"a9a161a1-890f-46e0-9bb0-9794511effee","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-02-08T17:03:07.438787Z","id":"c89f5f77-9440-4018-aa28-93535b65e142","subnet":"172.16.64.0/22","updated_at":"2024-02-08T17:03:07.438787Z"},{"created_at":"2024-02-08T17:03:07.438787Z","id":"04fcb969-43c9-454f-a689-04868e59c05e","subnet":"fd46:78ab:30b8:d6f4::/64","updated_at":"2024-02-08T17:03:07.438787Z"}],"tags":[],"updated_at":"2024-02-08T17:03:07.438787Z","vpc_id":"84890cfc-faac-43e9-9ace-1c6bf6dc3dff"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a9a161a1-890f-46e0-9bb0-9794511effee
    method: GET
  response:
    body: '{"created_at":"2024-02-08T17:03:07.438787Z","dhcp_enabled":true,"id":"a9a161a1-890f-46e0-9bb0-9794511effee","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-02-08T17:03:07.438787Z","id":"c89f5f77-9440-4018-aa28-93535b65e142","subnet":"172.16.64.0/22","updated_at":"2024-02-08T17:03:07.438787Z"},{"created_at":"2024-02-08T17:03:07.438787Z","id":"04fcb969-43c9-454f-a689-04868e59c05e","subnet":"fd46:78ab:30b8:d6f4::/64","updated_at":"2024-02-08T17:03:07.438787Z"}],"tags":[],"updated_at":"2024-02-08T17:03:07.438787Z","vpc_id":"84890cfc-faac-43e9-9ace-1c6bf6dc3dff"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ca3795dc-009a-4811-8f54-5b10accdeb7e","private_network_id":"a9a161a1-890f-46e0-9bb0-9794511effee","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2024-02-08T17:03:13.535739Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"ca3795dc-009a-4811-8f54-5b10accdeb7e","id":"060d298b-455f-4b5e-a611-f93ac9778655","ipam_config":{"ipam_ip_id":"17dbaf4f-2a00-46f3-805b-328961bf8221","push_default_route":true},"mac_address":null,"private_network_id":"a9a161a1-890f-46e0-9bb0-9794511effee","status":"created","updated_at":"2024-02-08T17:03:13.535739Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/060d298b-455f-4b5e-a611-f93ac9778655
    method: GET
  response:
    body: '{"address":"172.16.64.2/22","created_at":"2024-02-08T17:03:13.535739Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"ca3795dc-009a-4811-8f54-5b10accdeb7e","id":"060d298b-455f-4b5e-a611-f93ac9778655","ipam_config":{"ipam_ip_id":"17dbaf4f-2a00-46f3-805b-328961bf8221","push_default_route":true},"mac_address":"02:00:00:18:3F:CC","private_network_id":"a9a161a1-890f-46e0-9bb0-9794511effee","status":"ready","updated_at":"2024-02-08T17:03:23.110210Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"a9a161a1-890f-46e0-9bb0-9794511effee"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: '{"address":"172.16.64.7/22","created_at":"2024-02-08T17:03:26.072459Z","id":"0355bccb-362c-419e-80b6-06942430a081","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"c89f5f77-9440-4018-aa28-93535b65e142"},"tags":[],"updated_at":"2024-02-08T17:03:26.072459Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/0355bccb-362c-419e-80b6-06942430a081
    method: GET
  response:
    body: '{"address":"172.16.64.7/22","created_at":"2024-02-08T17:03:26.072459Z","id":"0355bccb-362c-419e-80b6-06942430a081","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"c89f5f77-9440-4018-aa28-93535b65e142"},"tags":[],"updated_at":"2024-02-08T17:03:26.072459Z","zone":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/060d298b-455f-4b5e-a611-f93ac9778655?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/060d298b-455f-4b5e-a611-f93ac9778655
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"060d298b-455f-4b5e-a611-f93ac9778655","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/ca3795dc-009a-4811-8f54-5b10accdeb7e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
