---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"03a1ddbc-cab4-4f63-a62a-d24a10988731","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:34.430156Z","updated_at":"2022-05-20T13:19:34.430156Z","tags":[],"address":"51.15.216.202","reverse":"202-216-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/03a1ddbc-cab4-4f63-a62a-d24a10988731
    method: GET
  response:
    body: '{"id":"03a1ddbc-cab4-4f63-a62a-d24a10988731","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:34.430156Z","updated_at":"2022-05-20T13:19:34.430156Z","tags":[],"address":"51.15.216.202","reverse":"202-216-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"03a1ddbc-cab4-4f63-a62a-d24a10988731","enable_smtp":false,"enable_bastion":false,"bastion_port":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"b4469179-09de-4301-8a53-d8fdd9ec58c7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:34.610858Z","updated_at":"2022-05-20T13:19:34.610858Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"03a1ddbc-cab4-4f63-a62a-d24a10988731","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:34.430156Z","updated_at":"2022-05-20T13:19:34.430156Z","tags":[],"address":"51.15.216.202","reverse":"202-216-15-51.instances.scw.cloud","gateway_id":"b4469179-09de-4301-8a53-d8fdd9ec58c7","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b4469179-09de-4301-8a53-d8fdd9ec58c7
    method: GET
  response:
    body: '{"id":"b4469179-09de-4301-8a53-d8fdd9ec58c7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:34.610858Z","updated_at":"2022-05-20T13:19:34.650845Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"03a1ddbc-cab4-4f63-a62a-d24a10988731","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:19:34.430156Z","updated_at":"2022-05-20T13:19:34.430156Z","tags":[],"address":"51.15.216.202","reverse":"202-216-15-51.instances.scw.cloud","gateway_id":"b4469179-09de-4301-8a53-d8fdd9ec58c7","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b4469179-09de-4301-8a53-d8fdd9ec58c7?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/b4469179-09de-4301-8a53-d8fdd9ec58c7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"b4469179-09de-4301-8a53-d8fdd9ec58c7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
