---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"1826a626-1390-4ef3-88b4-c9ccdff95fb4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:43:10.926717Z","updated_at":"2021-08-05T09:43:10.926717Z","tags":[],"address":"51.15.242.75","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/1826a626-1390-4ef3-88b4-c9ccdff95fb4
    method: GET
  response:
    body: '{"id":"1826a626-1390-4ef3-88b4-c9ccdff95fb4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:43:10.926717Z","updated_at":"2021-08-05T09:43:10.926717Z","tags":[],"address":"51.15.242.75","reverse":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["tag0","tag1"],"reverse":"example.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/1826a626-1390-4ef3-88b4-c9ccdff95fb4
    method: PATCH
  response:
    body: '{"id":"1826a626-1390-4ef3-88b4-c9ccdff95fb4","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:43:10.926717Z","updated_at":"2021-08-05T09:43:12.979503Z","tags":["tag0","tag1"],"address":"51.15.242.75","reverse":"example.com","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/1826a626-1390-4ef3-88b4-c9ccdff95fb4
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"1826a626-1390-4ef3-88b4-c9ccdff95fb4","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
