---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"51.15.215.155","created_at":"2023-10-31T13:06:29.621388Z","gateway_id":null,"id":"21bc57ba-301d-4543-993a-b687ec773108","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"155-215-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-31T13:06:29.621388Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/21bc57ba-301d-4543-993a-b687ec773108
    method: GET
  response:
    body: '{"address":"51.15.215.155","created_at":"2023-10-31T13:06:29.621388Z","gateway_id":null,"id":"21bc57ba-301d-4543-993a-b687ec773108","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"155-215-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-31T13:06:29.621388Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"21bc57ba-301d-4543-993a-b687ec773108","enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-31T13:06:29.846648Z","gateway_networks":[],"id":"3bd26a9c-bba4-47af-a536-d0df94af83e1","ip":{"address":"51.15.215.155","created_at":"2023-10-31T13:06:29.621388Z","gateway_id":"3bd26a9c-bba4-47af-a536-d0df94af83e1","id":"21bc57ba-301d-4543-993a-b687ec773108","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"155-215-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-31T13:06:29.621388Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-31T13:06:29.846648Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3bd26a9c-bba4-47af-a536-d0df94af83e1
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-10-31T13:06:29.846648Z","gateway_networks":[],"id":"3bd26a9c-bba4-47af-a536-d0df94af83e1","ip":{"address":"51.15.215.155","created_at":"2023-10-31T13:06:29.621388Z","gateway_id":"3bd26a9c-bba4-47af-a536-d0df94af83e1","id":"21bc57ba-301d-4543-993a-b687ec773108","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"155-215-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-10-31T13:06:29.621388Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-10-31T13:06:29.920942Z","upstream_dns_servers":[],"version":"0.6.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3bd26a9c-bba4-47af-a536-d0df94af83e1?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3bd26a9c-bba4-47af-a536-d0df94af83e1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"3bd26a9c-bba4-47af-a536-d0df94af83e1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
