---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"a7d09ea4-376a-4874-a1d2-358a29f20130","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.114451Z","updated_at":"2022-05-20T13:18:34.114451Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a52ebb49-0296-4fa4-9fcb-f4cfd859db7c","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.088107Z","updated_at":"2022-05-20T13:18:34.088107Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/a7d09ea4-376a-4874-a1d2-358a29f20130
    method: GET
  response:
    body: '{"id":"a7d09ea4-376a-4874-a1d2-358a29f20130","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.114451Z","updated_at":"2022-05-20T13:18:34.114451Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a52ebb49-0296-4fa4-9fcb-f4cfd859db7c
    method: GET
  response:
    body: '{"id":"a52ebb49-0296-4fa4-9fcb-f4cfd859db7c","name":"pn_test_network","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.088107Z","updated_at":"2022-05-20T13:18:34.088107Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnets":[],"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"d57a3d00-068b-47b6-9ac5-0f9327bbbfe3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.782365Z","updated_at":"2022-05-20T13:18:34.782365Z","tags":[],"address":"51.15.251.41","reverse":"41-251-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/d57a3d00-068b-47b6-9ac5-0f9327bbbfe3
    method: GET
  response:
    body: '{"id":"d57a3d00-068b-47b6-9ac5-0f9327bbbfe3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.782365Z","updated_at":"2022-05-20T13:18:34.782365Z","tags":[],"address":"51.15.251.41","reverse":"41-251-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"d57a3d00-068b-47b6-9ac5-0f9327bbbfe3","enable_smtp":false,"enable_bastion":false,"bastion_port":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"3c27f114-df0c-4065-9705-436a94e7e90f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:36.413111Z","updated_at":"2022-05-20T13:18:36.413111Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"d57a3d00-068b-47b6-9ac5-0f9327bbbfe3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.782365Z","updated_at":"2022-05-20T13:18:34.782365Z","tags":[],"address":"51.15.251.41","reverse":"41-251-15-51.instances.scw.cloud","gateway_id":"3c27f114-df0c-4065-9705-436a94e7e90f","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3c27f114-df0c-4065-9705-436a94e7e90f
    method: GET
  response:
    body: '{"id":"3c27f114-df0c-4065-9705-436a94e7e90f","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:36.413111Z","updated_at":"2022-05-20T13:18:36.453724Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"d57a3d00-068b-47b6-9ac5-0f9327bbbfe3","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.782365Z","updated_at":"2022-05-20T13:18:34.782365Z","tags":[],"address":"51.15.251.41","reverse":"41-251-15-51.instances.scw.cloud","gateway_id":"3c27f114-df0c-4065-9705-436a94e7e90f","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":0,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"3c27f114-df0c-4065-9705-436a94e7e90f","private_network_id":"a52ebb49-0296-4fa4-9fcb-f4cfd859db7c","enable_masquerade":true,"dhcp_id":"a7d09ea4-376a-4874-a1d2-358a29f20130","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"0f317c9f-25fb-484f-934c-9bba51a91d09","created_at":"2022-05-20T13:18:41.809375Z","updated_at":"2022-05-20T13:18:41.809375Z","gateway_id":"3c27f114-df0c-4065-9705-436a94e7e90f","private_network_id":"a52ebb49-0296-4fa4-9fcb-f4cfd859db7c","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"a7d09ea4-376a-4874-a1d2-358a29f20130","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.114451Z","updated_at":"2022-05-20T13:18:34.114451Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0f317c9f-25fb-484f-934c-9bba51a91d09
    method: GET
  response:
    body: '{"id":"0f317c9f-25fb-484f-934c-9bba51a91d09","created_at":"2022-05-20T13:18:41.809375Z","updated_at":"2022-05-20T13:18:48.030119Z","gateway_id":"3c27f114-df0c-4065-9705-436a94e7e90f","private_network_id":"a52ebb49-0296-4fa4-9fcb-f4cfd859db7c","mac_address":"02:00:00:01:24:98","enable_masquerade":true,"status":"ready","dhcp":{"id":"a7d09ea4-376a-4874-a1d2-358a29f20130","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2022-05-20T13:18:34.114451Z","updated_at":"2022-05-20T13:18:34.114451Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0f317c9f-25fb-484f-934c-9bba51a91d09?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0f317c9f-25fb-484f-934c-9bba51a91d09
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"0f317c9f-25fb-484f-934c-9bba51a91d09","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/3c27f114-df0c-4065-9705-436a94e7e90f?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
