---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-22T15:00:03.490446Z","gateway_networks":[],"id":"01cba795-1087-40c4-b62a-a75897980a14","ip":{"address":"51.15.233.163","created_at":"2023-11-22T15:00:03.467956Z","gateway_id":"01cba795-1087-40c4-b62a-a75897980a14","id":"84aa055f-818d-44ea-8291-bf92b0218cf8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-233-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-22T15:00:03.467956Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-22T15:00:03.490446Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/01cba795-1087-40c4-b62a-a75897980a14
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-11-22T15:00:03.490446Z","gateway_networks":[],"id":"01cba795-1087-40c4-b62a-a75897980a14","ip":{"address":"51.15.233.163","created_at":"2023-11-22T15:00:03.467956Z","gateway_id":"01cba795-1087-40c4-b62a-a75897980a14","id":"84aa055f-818d-44ea-8291-bf92b0218cf8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"163-233-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-11-22T15:00:03.467956Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-11-22T15:00:03.545237Z","upstream_dns_servers":[],"version":"0.6.1","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-11-22T15:00:02.857606Z","dhcp_enabled":true,"id":"8afdf020-6358-4c54-a0ad-c7153186f279","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-11-22T15:00:02.857606Z","id":"c125430b-d4ae-4863-b5be-40f7d64b03f2","subnet":"172.16.92.0/22","updated_at":"2023-11-22T15:00:02.857606Z"},{"created_at":"2023-11-22T15:00:02.857606Z","id":"1328f4fa-6aec-469b-a2a2-8e66574b4206","subnet":"fd46:78ab:30b8:dbf2::/64","updated_at":"2023-11-22T15:00:02.857606Z"}],"tags":[],"updated_at":"2023-11-22T15:00:02.857606Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8afdf020-6358-4c54-a0ad-c7153186f279
    method: GET
  response:
    body: '{"created_at":"2023-11-22T15:00:02.857606Z","dhcp_enabled":true,"id":"8afdf020-6358-4c54-a0ad-c7153186f279","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-11-22T15:00:02.857606Z","id":"c125430b-d4ae-4863-b5be-40f7d64b03f2","subnet":"172.16.92.0/22","updated_at":"2023-11-22T15:00:02.857606Z"},{"created_at":"2023-11-22T15:00:02.857606Z","id":"1328f4fa-6aec-469b-a2a2-8e66574b4206","subnet":"fd46:78ab:30b8:dbf2::/64","updated_at":"2023-11-22T15:00:02.857606Z"}],"tags":[],"updated_at":"2023-11-22T15:00:02.857606Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"gateway_id":"01cba795-1087-40c4-b62a-a75897980a14","private_network_id":"8afdf020-6358-4c54-a0ad-c7153186f279","enable_masquerade":true,"enable_dhcp":false,"address":"192.168.1.42/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":"192.168.1.42/24","created_at":"2023-11-22T15:00:09.943640Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"01cba795-1087-40c4-b62a-a75897980a14","id":"6eb873ce-760e-4bda-b886-3dc74cd95981","ipam_config":{"ipam_ip_id":"ee2fc82c-d421-4fad-a47d-71884715bc03","push_default_route":false},"mac_address":null,"private_network_id":"8afdf020-6358-4c54-a0ad-c7153186f279","status":"created","updated_at":"2023-11-22T15:00:09.943640Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6eb873ce-760e-4bda-b886-3dc74cd95981
    method: GET
  response:
    body: '{"address":"192.168.1.42/24","created_at":"2023-11-22T15:00:09.943640Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"01cba795-1087-40c4-b62a-a75897980a14","id":"6eb873ce-760e-4bda-b886-3dc74cd95981","ipam_config":{"ipam_ip_id":"ee2fc82c-d421-4fad-a47d-71884715bc03","push_default_route":false},"mac_address":"02:00:00:14:F0:56","private_network_id":"8afdf020-6358-4c54-a0ad-c7153186f279","status":"ready","updated_at":"2023-11-22T15:00:23.238739Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6eb873ce-760e-4bda-b886-3dc74cd95981?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/6eb873ce-760e-4bda-b886-3dc74cd95981
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"6eb873ce-760e-4bda-b886-3dc74cd95981","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/01cba795-1087-40c4-b62a-a75897980a14?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
