---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"6faa76cc-ed79-4cd2-87a4-2b71325575cc","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T20:56:03.701388Z","updated_at":"2021-10-05T20:56:03.701388Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"a8e57852-ba45-4da3-987b-5e1826c5f7ab","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T20:56:03.678435Z","updated_at":"2021-10-05T20:56:03.678435Z","tags":[],"address":"51.15.139.48","reverse":"48-139-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/6faa76cc-ed79-4cd2-87a4-2b71325575cc
    method: GET
  response:
    body: '{"id":"6faa76cc-ed79-4cd2-87a4-2b71325575cc","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T20:56:03.701388Z","updated_at":"2021-10-05T20:56:04.322487Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"public-gateway-test","tags":[],"ip":{"id":"a8e57852-ba45-4da3-987b-5e1826c5f7ab","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T20:56:03.678435Z","updated_at":"2021-10-05T20:56:03.678435Z","tags":[],"address":"51.15.139.48","reverse":"48-139-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.13","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/6faa76cc-ed79-4cd2-87a4-2b71325575cc?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/6faa76cc-ed79-4cd2-87a4-2b71325575cc
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"6faa76cc-ed79-4cd2-87a4-2b71325575cc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
