---
version: 1
interactions:
- request:
    body: '{"name":"tf-pn-sharp-meninsky","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":["172.16.32.0/22"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-06T14:00:03.178707Z","id":"51028a2a-08eb-4427-bde0-43294db133bc","name":"tf-pn-sharp-meninsky","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.32.0/22","fd46:78ab:30b8:4e6d::/64"],"tags":[],"updated_at":"2023-06-06T14:00:03.178707Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/51028a2a-08eb-4427-bde0-43294db133bc
    method: GET
  response:
    body: '{"created_at":"2023-06-06T14:00:03.178707Z","id":"51028a2a-08eb-4427-bde0-43294db133bc","name":"tf-pn-sharp-meninsky","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnets":["172.16.32.0/22","fd46:78ab:30b8:4e6d::/64"],"tags":[],"updated_at":"2023-06-06T14:00:03.178707Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/51028a2a-08eb-4427-bde0-43294db133bc
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"51028a2a-08eb-4427-bde0-43294db133bc","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
