---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"ea755c2a-1e64-4dbb-91c2-f590c323b7dc","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.089271Z","updated_at":"2021-10-13T17:04:24.089271Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/ea755c2a-1e64-4dbb-91c2-f590c323b7dc
    method: GET
  response:
    body: '{"id":"ea755c2a-1e64-4dbb-91c2-f590c323b7dc","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.089271Z","updated_at":"2021-10-13T17:04:24.089271Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"119dcec6-a8b5-44eb-b5bd-d57daf78e05d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.657528Z","updated_at":"2021-10-13T17:04:24.657528Z","tags":[],"address":"163.172.137.145","reverse":"145-137-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/119dcec6-a8b5-44eb-b5bd-d57daf78e05d
    method: GET
  response:
    body: '{"id":"119dcec6-a8b5-44eb-b5bd-d57daf78e05d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.657528Z","updated_at":"2021-10-13T17:04:24.657528Z","tags":[],"address":"163.172.137.145","reverse":"145-137-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"119dcec6-a8b5-44eb-b5bd-d57daf78e05d"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"d592bdfc-afdc-40dd-9adf-bc0a13884bed","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.888750Z","updated_at":"2021-10-13T17:04:24.888750Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"119dcec6-a8b5-44eb-b5bd-d57daf78e05d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.657528Z","updated_at":"2021-10-13T17:04:24.657528Z","tags":[],"address":"163.172.137.145","reverse":"145-137-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/d592bdfc-afdc-40dd-9adf-bc0a13884bed
    method: GET
  response:
    body: '{"id":"d592bdfc-afdc-40dd-9adf-bc0a13884bed","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.888750Z","updated_at":"2021-10-13T17:04:24.928628Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"119dcec6-a8b5-44eb-b5bd-d57daf78e05d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:04:24.657528Z","updated_at":"2021-10-13T17:04:24.657528Z","tags":[],"address":"163.172.137.145","reverse":"145-137-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d592bdfc-afdc-40dd-9adf-bc0a13884bed","private_network_id":"ea755c2a-1e64-4dbb-91c2-f590c323b7dc","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"67f7f038-eebb-410b-882b-c91f57cf3216","created_at":"2021-10-13T17:04:55.442430Z","updated_at":"2021-10-13T17:04:55.442430Z","gateway_id":"d592bdfc-afdc-40dd-9adf-bc0a13884bed","private_network_id":"ea755c2a-1e64-4dbb-91c2-f590c323b7dc","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/67f7f038-eebb-410b-882b-c91f57cf3216
    method: GET
  response:
    body: '{"id":"67f7f038-eebb-410b-882b-c91f57cf3216","created_at":"2021-10-13T17:04:55.442430Z","updated_at":"2021-10-13T17:04:55.442430Z","gateway_id":"d592bdfc-afdc-40dd-9adf-bc0a13884bed","private_network_id":"ea755c2a-1e64-4dbb-91c2-f590c323b7dc","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/67f7f038-eebb-410b-882b-c91f57cf3216?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/d592bdfc-afdc-40dd-9adf-bc0a13884bed?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/67f7f038-eebb-410b-882b-c91f57cf3216
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"67f7f038-eebb-410b-882b-c91f57cf3216","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
