---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"bd2aae5d-a102-4120-8c11-0079cc8e0393","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:14.495097Z","updated_at":"2021-10-08T14:01:14.495097Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/bd2aae5d-a102-4120-8c11-0079cc8e0393
    method: GET
  response:
    body: '{"id":"bd2aae5d-a102-4120-8c11-0079cc8e0393","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:14.495097Z","updated_at":"2021-10-08T14:01:14.495097Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"c987d10f-dd90-4e75-a872-6e043500b956","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:15.448427Z","updated_at":"2021-10-08T14:01:15.448427Z","tags":[],"address":"212.47.245.87","reverse":"87-245-47-212.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/c987d10f-dd90-4e75-a872-6e043500b956
    method: GET
  response:
    body: '{"id":"c987d10f-dd90-4e75-a872-6e043500b956","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:15.448427Z","updated_at":"2021-10-08T14:01:15.448427Z","tags":[],"address":"212.47.245.87","reverse":"87-245-47-212.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"c987d10f-dd90-4e75-a872-6e043500b956"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"c7831a1b-7159-44b7-8de8-a872c150077c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:15.796307Z","updated_at":"2021-10-08T14:01:15.796307Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"c987d10f-dd90-4e75-a872-6e043500b956","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:15.448427Z","updated_at":"2021-10-08T14:01:15.448427Z","tags":[],"address":"212.47.245.87","reverse":"87-245-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/c7831a1b-7159-44b7-8de8-a872c150077c
    method: GET
  response:
    body: '{"id":"c7831a1b-7159-44b7-8de8-a872c150077c","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:15.796307Z","updated_at":"2021-10-08T14:01:15.835893Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"c987d10f-dd90-4e75-a872-6e043500b956","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-08T14:01:15.448427Z","updated_at":"2021-10-08T14:01:15.448427Z","tags":[],"address":"212.47.245.87","reverse":"87-245-47-212.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.13","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"c7831a1b-7159-44b7-8de8-a872c150077c","private_network_id":"bd2aae5d-a102-4120-8c11-0079cc8e0393","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"10d05c28-6259-47e9-8d50-a16128aac00f","created_at":"2021-10-08T14:01:46.310944Z","updated_at":"2021-10-08T14:01:46.310944Z","gateway_id":"c7831a1b-7159-44b7-8de8-a872c150077c","private_network_id":"bd2aae5d-a102-4120-8c11-0079cc8e0393","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/10d05c28-6259-47e9-8d50-a16128aac00f
    method: GET
  response:
    body: '{"id":"10d05c28-6259-47e9-8d50-a16128aac00f","created_at":"2021-10-08T14:01:46.310944Z","updated_at":"2021-10-08T14:01:46.310944Z","gateway_id":"c7831a1b-7159-44b7-8de8-a872c150077c","private_network_id":"bd2aae5d-a102-4120-8c11-0079cc8e0393","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/10d05c28-6259-47e9-8d50-a16128aac00f?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/c7831a1b-7159-44b7-8de8-a872c150077c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/10d05c28-6259-47e9-8d50-a16128aac00f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"10d05c28-6259-47e9-8d50-a16128aac00f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
