---
version: 1
interactions:
- request:
    body: '{"name":"test-pn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-06-06T14:00:15.138147Z","id":"080a254a-ffe2-4120-9e70-c7d3c77c3285","name":"test-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-06-06T14:00:15.138147Z","id":"f73fe6df-62fc-4ed7-8bc1-52e43c29948a","subnet":"172.16.0.0/22","updated_at":"2023-06-06T14:00:15.138147Z"},{"created_at":"2023-06-06T14:00:15.138147Z","id":"0509cf39-6af0-49e9-9447-c5b51856b538","subnet":"fd46:78ab:30b8:c6fa::/64","updated_at":"2023-06-06T14:00:15.138147Z"}],"tags":[],"updated_at":"2023-06-06T14:00:15.138147Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/080a254a-ffe2-4120-9e70-c7d3c77c3285
    method: GET
  response:
    body: '{"created_at":"2023-06-06T14:00:15.138147Z","id":"080a254a-ffe2-4120-9e70-c7d3c77c3285","name":"test-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-06-06T14:00:15.138147Z","id":"f73fe6df-62fc-4ed7-8bc1-52e43c29948a","subnet":"172.16.0.0/22","updated_at":"2023-06-06T14:00:15.138147Z"},{"created_at":"2023-06-06T14:00:15.138147Z","id":"0509cf39-6af0-49e9-9447-c5b51856b538","subnet":"fd46:78ab:30b8:c6fa::/64","updated_at":"2023-06-06T14:00:15.138147Z"}],"tags":[],"updated_at":"2023-06-06T14:00:15.138147Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/080a254a-ffe2-4120-9e70-c7d3c77c3285
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"080a254a-ffe2-4120-9e70-c7d3c77c3285","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
