---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"e0cb3e50-2b07-44ad-8275-1630057ef60e","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.339286Z","updated_at":"2021-10-25T16:14:18.339286Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"f53d7958-a9a4-48b5-8d82-d35fa475e7df","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.313987Z","updated_at":"2021-10-25T16:14:18.313987Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/e0cb3e50-2b07-44ad-8275-1630057ef60e
    method: GET
  response:
    body: '{"id":"e0cb3e50-2b07-44ad-8275-1630057ef60e","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.339286Z","updated_at":"2021-10-25T16:14:18.339286Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/f53d7958-a9a4-48b5-8d82-d35fa475e7df
    method: GET
  response:
    body: '{"id":"f53d7958-a9a4-48b5-8d82-d35fa475e7df","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.313987Z","updated_at":"2021-10-25T16:14:18.313987Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"1c901c0b-dde6-414e-b405-076024e863d3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.939969Z","updated_at":"2021-10-25T16:14:18.939969Z","tags":[],"address":"51.15.196.73","reverse":"73-196-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/1c901c0b-dde6-414e-b405-076024e863d3
    method: GET
  response:
    body: '{"id":"1c901c0b-dde6-414e-b405-076024e863d3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.939969Z","updated_at":"2021-10-25T16:14:18.939969Z","tags":[],"address":"51.15.196.73","reverse":"73-196-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"1c901c0b-dde6-414e-b405-076024e863d3"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"4120dae2-8640-440c-85d9-92a3d4623301","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:19.231465Z","updated_at":"2021-10-25T16:14:19.231465Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"1c901c0b-dde6-414e-b405-076024e863d3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.939969Z","updated_at":"2021-10-25T16:14:18.939969Z","tags":[],"address":"51.15.196.73","reverse":"73-196-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/4120dae2-8640-440c-85d9-92a3d4623301
    method: GET
  response:
    body: '{"id":"4120dae2-8640-440c-85d9-92a3d4623301","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:19.231465Z","updated_at":"2021-10-25T16:14:19.231465Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"1c901c0b-dde6-414e-b405-076024e863d3","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.939969Z","updated_at":"2021-10-25T16:14:18.939969Z","tags":[],"address":"51.15.196.73","reverse":"73-196-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"4120dae2-8640-440c-85d9-92a3d4623301","private_network_id":"f53d7958-a9a4-48b5-8d82-d35fa475e7df","enable_masquerade":true,"dhcp_id":"e0cb3e50-2b07-44ad-8275-1630057ef60e","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"70f1dd1f-3ebc-44b0-b764-9d3df33c6876","created_at":"2021-10-25T16:23:48.175968Z","updated_at":"2021-10-25T16:23:48.175968Z","gateway_id":"4120dae2-8640-440c-85d9-92a3d4623301","private_network_id":"f53d7958-a9a4-48b5-8d82-d35fa475e7df","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"e0cb3e50-2b07-44ad-8275-1630057ef60e","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.339286Z","updated_at":"2021-10-25T16:14:18.339286Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/70f1dd1f-3ebc-44b0-b764-9d3df33c6876
    method: GET
  response:
    body: '{"id":"70f1dd1f-3ebc-44b0-b764-9d3df33c6876","created_at":"2021-10-25T16:23:48.175968Z","updated_at":"2021-10-25T16:23:54.062368Z","gateway_id":"4120dae2-8640-440c-85d9-92a3d4623301","private_network_id":"f53d7958-a9a4-48b5-8d82-d35fa475e7df","mac_address":"02:00:00:00:76:9c","enable_masquerade":true,"status":"ready","dhcp":{"id":"e0cb3e50-2b07-44ad-8275-1630057ef60e","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-25T16:14:18.339286Z","updated_at":"2021-10-25T16:14:18.339286Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/70f1dd1f-3ebc-44b0-b764-9d3df33c6876?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/e0cb3e50-2b07-44ad-8275-1630057ef60e
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"e0cb3e50-2b07-44ad-8275-1630057ef60e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/4120dae2-8640-440c-85d9-92a3d4623301?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
