---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"83b334a2-638e-4ac3-9ec8-6502f2b791b9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:27:59.556756Z","updated_at":"2021-12-08T14:27:59.556756Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/83b334a2-638e-4ac3-9ec8-6502f2b791b9
    method: GET
  response:
    body: '{"id":"83b334a2-638e-4ac3-9ec8-6502f2b791b9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:27:59.556756Z","updated_at":"2021-12-08T14:27:59.556756Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-brave-kepler","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"ad44651f-ef87-4384-b629-77f52b8c111d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:00.304134Z","updated_at":"2021-12-08T14:28:00.304134Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-brave-kepler","tags":[],"ip":{"id":"e6082e6f-4afd-4b06-90fb-7716bf5390bf","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:00.287575Z","updated_at":"2021-12-08T14:28:00.287575Z","tags":[],"address":"163.172.170.118","reverse":"118-170-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/ad44651f-ef87-4384-b629-77f52b8c111d
    method: GET
  response:
    body: '{"id":"ad44651f-ef87-4384-b629-77f52b8c111d","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:00.304134Z","updated_at":"2021-12-08T14:28:00.336095Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-brave-kepler","tags":[],"ip":{"id":"e6082e6f-4afd-4b06-90fb-7716bf5390bf","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:00.287575Z","updated_at":"2021-12-08T14:28:00.287575Z","tags":[],"address":"163.172.170.118","reverse":"118-170-172-163.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.15","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/1ac38c6d-3528-4db7-bc67-4a5b9142f90d
    method: GET
  response:
    body: '{"id":"1ac38c6d-3528-4db7-bc67-4a5b9142f90d","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:28:01.610823Z","updated_at":"2021-12-08T14:28:01.610823Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ad44651f-ef87-4384-b629-77f52b8c111d","private_network_id":"1ac38c6d-3528-4db7-bc67-4a5b9142f90d","enable_masquerade":true,"dhcp_id":"83b334a2-638e-4ac3-9ec8-6502f2b791b9","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"4da82f32-8bd3-4d3b-a25b-57fceae83e5b","created_at":"2021-12-08T14:28:03.770551Z","updated_at":"2021-12-08T14:28:03.770551Z","gateway_id":"ad44651f-ef87-4384-b629-77f52b8c111d","private_network_id":"1ac38c6d-3528-4db7-bc67-4a5b9142f90d","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"83b334a2-638e-4ac3-9ec8-6502f2b791b9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:27:59.556756Z","updated_at":"2021-12-08T14:27:59.556756Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/4da82f32-8bd3-4d3b-a25b-57fceae83e5b
    method: GET
  response:
    body: '{"id":"4da82f32-8bd3-4d3b-a25b-57fceae83e5b","created_at":"2021-12-08T14:28:03.770551Z","updated_at":"2021-12-08T14:28:03.770551Z","gateway_id":"ad44651f-ef87-4384-b629-77f52b8c111d","private_network_id":"1ac38c6d-3528-4db7-bc67-4a5b9142f90d","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"83b334a2-638e-4ac3-9ec8-6502f2b791b9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T14:27:59.556756Z","updated_at":"2021-12-08T14:27:59.556756Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ad44651f-ef87-4384-b629-77f52b8c111d","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"id":"36bce641-b0e3-417f-ae5f-e0dac0eaf49e","gateway_id":"ad44651f-ef87-4384-b629-77f52b8c111d","created_at":"2021-12-08T14:28:34.372509Z","updated_at":"2021-12-08T14:28:34.372509Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules/36bce641-b0e3-417f-ae5f-e0dac0eaf49e
    method: GET
  response:
    body: '{"id":"36bce641-b0e3-417f-ae5f-e0dac0eaf49e","gateway_id":"ad44651f-ef87-4384-b629-77f52b8c111d","created_at":"2021-12-08T14:28:34.372509Z","updated_at":"2021-12-08T14:28:34.372509Z","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/4da82f32-8bd3-4d3b-a25b-57fceae83e5b?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/83b334a2-638e-4ac3-9ec8-6502f2b791b9
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"83b334a2-638e-4ac3-9ec8-6502f2b791b9","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/ad44651f-ef87-4384-b629-77f52b8c111d?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
