---
version: 1
interactions:
- request:
    body: '{"name":"private-network-test","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"dc63bc10-ed20-4d6f-bd4d-7921351504bd","name":"private-network-test","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:34.565787Z","updated_at":"2021-12-08T13:09:34.565787Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/dc63bc10-ed20-4d6f-bd4d-7921351504bd
    method: GET
  response:
    body: '{"id":"dc63bc10-ed20-4d6f-bd4d-7921351504bd","name":"private-network-test","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2021-12-08T13:09:34.565787Z","updated_at":"2021-12-08T13:09:34.565787Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/dc63bc10-ed20-4d6f-bd4d-7921351504bd
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
