---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"f166e2ed-2a70-415d-a479-9dc05417c0c7","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T15:10:19.459152Z","updated_at":"2021-10-05T15:10:19.459152Z","tags":[],"address":"163.172.174.5","reverse":"5-174-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/f166e2ed-2a70-415d-a479-9dc05417c0c7
    method: GET
  response:
    body: '{"id":"f166e2ed-2a70-415d-a479-9dc05417c0c7","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T15:10:19.459152Z","updated_at":"2021-10-05T15:10:19.459152Z","tags":[],"address":"163.172.174.5","reverse":"5-174-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["tag0","tag1"],"reverse":"example.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/f166e2ed-2a70-415d-a479-9dc05417c0c7
    method: PATCH
  response:
    body: '{"id":"f166e2ed-2a70-415d-a479-9dc05417c0c7","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T15:10:19.459152Z","updated_at":"2021-10-05T15:10:20.980097Z","tags":["tag0","tag1"],"address":"163.172.174.5","reverse":"example.com","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/f166e2ed-2a70-415d-a479-9dc05417c0c7
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"f166e2ed-2a70-415d-a479-9dc05417c0c7","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
