---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:53:04.007686Z","dhcp_enabled":false,"id":"13f99749-f27d-42ec-96bc-199c79ce1bcd","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:53:04.007686Z","id":"79d34adf-3f1b-43b1-8337-4f6be2b1fab3","subnet":"172.16.4.0/22","updated_at":"2023-07-11T17:53:04.007686Z"},{"created_at":"2023-07-11T17:53:04.007686Z","id":"5092cf6a-b823-40b6-855e-73d1e1d71dcb","subnet":"fd46:78ab:30b8:16a5::/64","updated_at":"2023-07-11T17:53:04.007686Z"}],"tags":[],"updated_at":"2023-07-11T17:53:04.007686Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/13f99749-f27d-42ec-96bc-199c79ce1bcd
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:53:04.007686Z","dhcp_enabled":false,"id":"13f99749-f27d-42ec-96bc-199c79ce1bcd","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:53:04.007686Z","id":"79d34adf-3f1b-43b1-8337-4f6be2b1fab3","subnet":"172.16.4.0/22","updated_at":"2023-07-11T17:53:04.007686Z"},{"created_at":"2023-07-11T17:53:04.007686Z","id":"5092cf6a-b823-40b6-855e-73d1e1d71dcb","subnet":"fd46:78ab:30b8:16a5::/64","updated_at":"2023-07-11T17:53:04.007686Z"}],"tags":[],"updated_at":"2023-07-11T17:53:04.007686Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:53:04.921567Z","gateway_networks":[],"id":"958c839e-e39e-4a70-831f-306d680e623e","ip":{"address":"163.172.178.236","created_at":"2023-07-11T17:53:04.621298Z","gateway_id":"958c839e-e39e-4a70-831f-306d680e623e","id":"5ad5c48d-a75b-41ab-9b73-be896dfb14ea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"236-178-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:53:04.621298Z","zone":"fr-par-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-11T17:53:04.921567Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/958c839e-e39e-4a70-831f-306d680e623e
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:53:04.921567Z","gateway_networks":[],"id":"958c839e-e39e-4a70-831f-306d680e623e","ip":{"address":"163.172.178.236","created_at":"2023-07-11T17:53:04.621298Z","gateway_id":"958c839e-e39e-4a70-831f-306d680e623e","id":"5ad5c48d-a75b-41ab-9b73-be896dfb14ea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"236-178-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:53:04.621298Z","zone":"fr-par-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-11T17:53:04.979772Z","upstream_dns_servers":[],"version":"0.5.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"958c839e-e39e-4a70-831f-306d680e623e","private_network_id":"13f99749-f27d-42ec-96bc-199c79ce1bcd","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":"192.168.1.42/24","created_at":"2023-07-11T17:53:10.690042Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"958c839e-e39e-4a70-831f-306d680e623e","id":"c9a5b93f-615d-4a5d-ac91-f84c10b01c0c","mac_address":null,"private_network_id":"13f99749-f27d-42ec-96bc-199c79ce1bcd","status":"created","updated_at":"2023-07-11T17:53:10.690042Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c9a5b93f-615d-4a5d-ac91-f84c10b01c0c
    method: GET
  response:
    body: '{"address":"192.168.1.42/24","created_at":"2023-07-11T17:53:10.690042Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"958c839e-e39e-4a70-831f-306d680e623e","id":"c9a5b93f-615d-4a5d-ac91-f84c10b01c0c","mac_address":null,"private_network_id":"13f99749-f27d-42ec-96bc-199c79ce1bcd","status":"created","updated_at":"2023-07-11T17:53:10.690042Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c9a5b93f-615d-4a5d-ac91-f84c10b01c0c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c9a5b93f-615d-4a5d-ac91-f84c10b01c0c
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c9a5b93f-615d-4a5d-ac91-f84c10b01c0c","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/958c839e-e39e-4a70-831f-306d680e623e?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
