---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"message":"internal error"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"137207d4-543c-4d11-a595-76a401a20a38","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:07.347825Z","updated_at":"2022-04-27T11:58:07.347825Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"a4ff9611-9218-4cb9-80fe-07a14fc0a393","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:07.332374Z","updated_at":"2022-04-27T11:58:07.332374Z","tags":[],"address":"163.172.150.8","reverse":"8-150-172-163.instances.scw.cloud","gateway_id":"137207d4-543c-4d11-a595-76a401a20a38","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/137207d4-543c-4d11-a595-76a401a20a38
    method: GET
  response:
    body: '{"id":"137207d4-543c-4d11-a595-76a401a20a38","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:07.347825Z","updated_at":"2022-04-27T11:58:07.379307Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"a4ff9611-9218-4cb9-80fe-07a14fc0a393","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:07.332374Z","updated_at":"2022-04-27T11:58:07.332374Z","tags":[],"address":"163.172.150.8","reverse":"8-150-172-163.instances.scw.cloud","gateway_id":"137207d4-543c-4d11-a595-76a401a20a38","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/74620624-1c45-414f-be1a-51d568cd4a63
    method: GET
  response:
    body: '{"id":"74620624-1c45-414f-be1a-51d568cd4a63","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:07.914801Z","updated_at":"2022-04-27T11:58:07.914801Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"137207d4-543c-4d11-a595-76a401a20a38","private_network_id":"74620624-1c45-414f-be1a-51d568cd4a63","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"bb4caec5-7997-4c99-bfbc-1c5814f5a2d2","created_at":"2022-04-27T11:58:12.762874Z","updated_at":"2022-04-27T11:58:12.762874Z","gateway_id":"137207d4-543c-4d11-a595-76a401a20a38","private_network_id":"74620624-1c45-414f-be1a-51d568cd4a63","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/bb4caec5-7997-4c99-bfbc-1c5814f5a2d2
    method: GET
  response:
    body: '{"id":"bb4caec5-7997-4c99-bfbc-1c5814f5a2d2","created_at":"2022-04-27T11:58:12.762874Z","updated_at":"2022-04-27T11:58:18.832743Z","gateway_id":"137207d4-543c-4d11-a595-76a401a20a38","private_network_id":"74620624-1c45-414f-be1a-51d568cd4a63","mac_address":"02:00:00:01:17:6a","enable_masquerade":true,"status":"ready","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/bb4caec5-7997-4c99-bfbc-1c5814f5a2d2?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/bb4caec5-7997-4c99-bfbc-1c5814f5a2d2
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"bb4caec5-7997-4c99-bfbc-1c5814f5a2d2","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/137207d4-543c-4d11-a595-76a401a20a38?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
