---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"message":"{\"type\": \"server_error\", \"message\": \"Internal error\"}"}'
    headers:
      Content-Type:
      - application/json
    status: 500 Internal Server Error
    code: 500
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"736e238c-6759-46b2-9f28-109e1ff7df68","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:55.942724Z","updated_at":"2022-04-27T11:58:55.942724Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"8831dc34-b432-4b61-ad26-98d1b0d72adc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:55.918471Z","updated_at":"2022-04-27T11:58:55.918471Z","tags":[],"address":"163.172.167.200","reverse":"200-167-172-163.instances.scw.cloud","gateway_id":"736e238c-6759-46b2-9f28-109e1ff7df68","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/736e238c-6759-46b2-9f28-109e1ff7df68
    method: GET
  response:
    body: '{"id":"736e238c-6759-46b2-9f28-109e1ff7df68","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:55.942724Z","updated_at":"2022-04-27T11:58:55.942724Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"public-gateway-test","tags":[],"ip":{"id":"8831dc34-b432-4b61-ad26-98d1b0d72adc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:55.918471Z","updated_at":"2022-04-27T11:58:55.918471Z","tags":[],"address":"163.172.167.200","reverse":"200-167-172-163.instances.scw.cloud","gateway_id":"736e238c-6759-46b2-9f28-109e1ff7df68","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"public-gateway-test-new","tags":["tag0","tag1"],"upstream_dns_servers":["1.2.3.4","4.3.2.1"],"enable_bastion":null,"bastion_port":null,"enable_smtp":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/736e238c-6759-46b2-9f28-109e1ff7df68
    method: PATCH
  response:
    body: '{"id":"736e238c-6759-46b2-9f28-109e1ff7df68","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:55.942724Z","updated_at":"2022-04-27T11:59:02.260836Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"public-gateway-test-new","tags":["tag0","tag1"],"ip":{"id":"8831dc34-b432-4b61-ad26-98d1b0d72adc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:55.918471Z","updated_at":"2022-04-27T11:58:55.918471Z","tags":[],"address":"163.172.167.200","reverse":"200-167-172-163.instances.scw.cloud","gateway_id":"736e238c-6759-46b2-9f28-109e1ff7df68","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":["1.2.3.4","4.3.2.1"],"version":"0.2.21","can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/736e238c-6759-46b2-9f28-109e1ff7df68?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/736e238c-6759-46b2-9f28-109e1ff7df68
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"736e238c-6759-46b2-9f28-109e1ff7df68","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
