---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"48e7c588-3632-4904-9a87-003778b168d8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:56.384533Z","updated_at":"2022-01-27T14:15:56.384533Z","tags":[],"address":"163.172.137.156","reverse":"156-137-172-163.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/48e7c588-3632-4904-9a87-003778b168d8
    method: GET
  response:
    body: '{"id":"48e7c588-3632-4904-9a87-003778b168d8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-01-27T14:15:56.384533Z","updated_at":"2022-01-27T14:15:56.384533Z","tags":[],"address":"163.172.137.156","reverse":"156-137-172-163.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/48e7c588-3632-4904-9a87-003778b168d8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"48e7c588-3632-4904-9a87-003778b168d8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
