---
version: 1
interactions:
- request:
    body: '{"name":"tf-tests-vpc-pgw-network-without-dhcp","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-03-19T08:32:41.829606Z","dhcp_enabled":true,"id":"adb715f7-17d2-4f26-9827-bc79e1cf5528","name":"tf-tests-vpc-pgw-network-without-dhcp","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:32:41.829606Z","id":"1902f8d7-ad4f-473f-b4c3-8f2d4bd6994e","subnet":"172.16.0.0/22","updated_at":"2024-03-19T08:32:41.829606Z"},{"created_at":"2024-03-19T08:32:41.829606Z","id":"8fdf22a1-2f99-4637-99eb-9b13fd598512","subnet":"fd5f:519c:6d46:d3a7::/64","updated_at":"2024-03-19T08:32:41.829606Z"}],"tags":[],"updated_at":"2024-03-19T08:32:41.829606Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/adb715f7-17d2-4f26-9827-bc79e1cf5528
    method: GET
  response:
    body: '{"created_at":"2024-03-19T08:32:41.829606Z","dhcp_enabled":true,"id":"adb715f7-17d2-4f26-9827-bc79e1cf5528","name":"tf-tests-vpc-pgw-network-without-dhcp","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2024-03-19T08:32:41.829606Z","id":"1902f8d7-ad4f-473f-b4c3-8f2d4bd6994e","subnet":"172.16.0.0/22","updated_at":"2024-03-19T08:32:41.829606Z"},{"created_at":"2024-03-19T08:32:41.829606Z","id":"8fdf22a1-2f99-4637-99eb-9b13fd598512","subnet":"fd5f:519c:6d46:d3a7::/64","updated_at":"2024-03-19T08:32:41.829606Z"}],"tags":[],"updated_at":"2024-03-19T08:32:41.829606Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-tests-vpc-pgw-network-without-dhcp","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:32:42.640962Z","gateway_networks":[],"id":"871697ec-b29f-4978-bc86-1603d632eb64","ip":{"address":"163.172.174.241","created_at":"2024-03-19T08:32:42.609948Z","gateway_id":"871697ec-b29f-4978-bc86-1603d632eb64","id":"69d6c76d-8018-43b6-bdb1-2e64214f1f6f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"241-174-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:42.609948Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-tests-vpc-pgw-network-without-dhcp","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-03-19T08:32:42.640962Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/871697ec-b29f-4978-bc86-1603d632eb64
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-03-19T08:32:42.640962Z","gateway_networks":[],"id":"871697ec-b29f-4978-bc86-1603d632eb64","ip":{"address":"163.172.174.241","created_at":"2024-03-19T08:32:42.609948Z","gateway_id":"871697ec-b29f-4978-bc86-1603d632eb64","id":"69d6c76d-8018-43b6-bdb1-2e64214f1f6f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"241-174-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-03-19T08:32:42.609948Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-tests-vpc-pgw-network-without-dhcp","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-03-19T08:32:42.640962Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"871697ec-b29f-4978-bc86-1603d632eb64","private_network_id":"adb715f7-17d2-4f26-9827-bc79e1cf5528","enable_masquerade":true,"enable_dhcp":false,"address":"192.168.1.42/24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":"192.168.1.42/24","created_at":"2024-03-19T08:33:20.626524Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"871697ec-b29f-4978-bc86-1603d632eb64","id":"d086a5ae-fc58-4f53-8bce-25ffd2672759","ipam_config":{"ipam_ip_id":"4724e6f3-4398-4298-8796-8ede8b201dbe","push_default_route":false},"mac_address":null,"private_network_id":"adb715f7-17d2-4f26-9827-bc79e1cf5528","status":"created","updated_at":"2024-03-19T08:33:20.626524Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/d086a5ae-fc58-4f53-8bce-25ffd2672759
    method: GET
  response:
    body: '{"address":"192.168.1.42/24","created_at":"2024-03-19T08:33:20.626524Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"871697ec-b29f-4978-bc86-1603d632eb64","id":"d086a5ae-fc58-4f53-8bce-25ffd2672759","ipam_config":{"ipam_ip_id":"4724e6f3-4398-4298-8796-8ede8b201dbe","push_default_route":false},"mac_address":"02:00:00:19:31:66","private_network_id":"adb715f7-17d2-4f26-9827-bc79e1cf5528","status":"ready","updated_at":"2024-03-19T08:33:36.825098Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/d086a5ae-fc58-4f53-8bce-25ffd2672759?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/d086a5ae-fc58-4f53-8bce-25ffd2672759
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"d086a5ae-fc58-4f53-8bce-25ffd2672759","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/871697ec-b29f-4978-bc86-1603d632eb64?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
