---
version: 1
interactions:
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"c1ca7aee-3679-4144-91a1-a99aae57cb97","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:27.438095Z","updated_at":"2021-10-11T14:10:27.438095Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/c1ca7aee-3679-4144-91a1-a99aae57cb97
    method: GET
  response:
    body: '{"id":"c1ca7aee-3679-4144-91a1-a99aae57cb97","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:27.438095Z","updated_at":"2021-10-11T14:10:27.438095Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"02b9a2d1-588c-4a02-be4a-872c02e40c84","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:27.970448Z","updated_at":"2021-10-11T14:10:27.970448Z","tags":[],"address":"51.15.246.193","reverse":"193-246-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/02b9a2d1-588c-4a02-be4a-872c02e40c84
    method: GET
  response:
    body: '{"id":"02b9a2d1-588c-4a02-be4a-872c02e40c84","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:27.970448Z","updated_at":"2021-10-11T14:10:27.970448Z","tags":[],"address":"51.15.246.193","reverse":"193-246-15-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"02b9a2d1-588c-4a02-be4a-872c02e40c84"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"ef5d9511-5ac0-4214-a0fb-a26522ba873d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:28.258175Z","updated_at":"2021-10-11T14:10:28.258175Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"02b9a2d1-588c-4a02-be4a-872c02e40c84","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:27.970448Z","updated_at":"2021-10-11T14:10:27.970448Z","tags":[],"address":"51.15.246.193","reverse":"193-246-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/ef5d9511-5ac0-4214-a0fb-a26522ba873d
    method: GET
  response:
    body: '{"id":"ef5d9511-5ac0-4214-a0fb-a26522ba873d","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:28.258175Z","updated_at":"2021-10-11T14:10:28.824049Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"running","name":"foobar","tags":[],"ip":{"id":"02b9a2d1-588c-4a02-be4a-872c02e40c84","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-11T14:10:27.970448Z","updated_at":"2021-10-11T14:10:27.970448Z","tags":[],"address":"51.15.246.193","reverse":"193-246-15-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.13","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"ef5d9511-5ac0-4214-a0fb-a26522ba873d","private_network_id":"c1ca7aee-3679-4144-91a1-a99aae57cb97","enable_masquerade":true,"address":"192.168.1.42/24","enable_dhcp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"d3b8e2fa-4e58-4326-90ba-b0c83b10b4fa","created_at":"2021-10-11T14:11:03.982806Z","updated_at":"2021-10-11T14:11:03.982806Z","gateway_id":"ef5d9511-5ac0-4214-a0fb-a26522ba873d","private_network_id":"c1ca7aee-3679-4144-91a1-a99aae57cb97","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/d3b8e2fa-4e58-4326-90ba-b0c83b10b4fa
    method: GET
  response:
    body: '{"id":"d3b8e2fa-4e58-4326-90ba-b0c83b10b4fa","created_at":"2021-10-11T14:11:03.982806Z","updated_at":"2021-10-11T14:11:03.982806Z","gateway_id":"ef5d9511-5ac0-4214-a0fb-a26522ba873d","private_network_id":"c1ca7aee-3679-4144-91a1-a99aae57cb97","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":null,"enable_dhcp":false,"address":"192.168.1.42/24","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/d3b8e2fa-4e58-4326-90ba-b0c83b10b4fa?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/ef5d9511-5ac0-4214-a0fb-a26522ba873d?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/d3b8e2fa-4e58-4326-90ba-b0c83b10b4fa
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"d3b8e2fa-4e58-4326-90ba-b0c83b10b4fa","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
