---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":false,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":false,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"387262e7-a4bf-4422-92f7-76f0be8306cb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:24.706618Z","updated_at":"2021-10-13T17:41:24.706618Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"b06d3beb-85d3-44e9-95d1-c95ae435accd","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:24.692833Z","updated_at":"2021-10-13T17:41:24.692833Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/387262e7-a4bf-4422-92f7-76f0be8306cb
    method: GET
  response:
    body: '{"id":"387262e7-a4bf-4422-92f7-76f0be8306cb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:24.706618Z","updated_at":"2021-10-13T17:41:24.706618Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/b06d3beb-85d3-44e9-95d1-c95ae435accd
    method: GET
  response:
    body: '{"id":"b06d3beb-85d3-44e9-95d1-c95ae435accd","name":"pn_test_network","tags":[],"organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:24.692833Z","updated_at":"2021-10-13T17:41:24.692833Z","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"9892a513-864f-46b9-a806-4918860aa18f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:25.543215Z","updated_at":"2021-10-13T17:41:25.543215Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/9892a513-864f-46b9-a806-4918860aa18f
    method: GET
  response:
    body: '{"id":"9892a513-864f-46b9-a806-4918860aa18f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:25.543215Z","updated_at":"2021-10-13T17:41:25.543215Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"9892a513-864f-46b9-a806-4918860aa18f"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"75e82367-ff45-4b27-8f02-cc2b812bf1a8","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:25.946851Z","updated_at":"2021-10-13T17:41:25.946851Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"9892a513-864f-46b9-a806-4918860aa18f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:25.543215Z","updated_at":"2021-10-13T17:41:25.543215Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/75e82367-ff45-4b27-8f02-cc2b812bf1a8
    method: GET
  response:
    body: '{"id":"75e82367-ff45-4b27-8f02-cc2b812bf1a8","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:25.946851Z","updated_at":"2021-10-13T17:41:25.988056Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"9892a513-864f-46b9-a806-4918860aa18f","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:25.543215Z","updated_at":"2021-10-13T17:41:25.543215Z","tags":[],"address":"51.158.69.232","reverse":"232-69-158-51.instances.scw.cloud","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.14","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"75e82367-ff45-4b27-8f02-cc2b812bf1a8","private_network_id":"b06d3beb-85d3-44e9-95d1-c95ae435accd","enable_masquerade":true,"dhcp_id":"387262e7-a4bf-4422-92f7-76f0be8306cb","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"a94587f2-b187-47ee-beb7-0911f09fbc5e","created_at":"2021-10-13T17:41:59.095865Z","updated_at":"2021-10-13T17:41:59.095865Z","gateway_id":"75e82367-ff45-4b27-8f02-cc2b812bf1a8","private_network_id":"b06d3beb-85d3-44e9-95d1-c95ae435accd","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"387262e7-a4bf-4422-92f7-76f0be8306cb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:24.706618Z","updated_at":"2021-10-13T17:41:24.706618Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/a94587f2-b187-47ee-beb7-0911f09fbc5e
    method: GET
  response:
    body: '{"id":"a94587f2-b187-47ee-beb7-0911f09fbc5e","created_at":"2021-10-13T17:41:59.095865Z","updated_at":"2021-10-13T17:42:04.481154Z","gateway_id":"75e82367-ff45-4b27-8f02-cc2b812bf1a8","private_network_id":"b06d3beb-85d3-44e9-95d1-c95ae435accd","mac_address":"02:00:00:00:6d:2e","enable_masquerade":true,"status":"ready","dhcp":{"id":"387262e7-a4bf-4422-92f7-76f0be8306cb","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-13T17:41:24.706618Z","updated_at":"2021-10-13T17:41:24.706618Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":false,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":false,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateway-networks/a94587f2-b187-47ee-beb7-0911f09fbc5e?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/dhcps/387262e7-a4bf-4422-92f7-76f0be8306cb
    method: DELETE
  response:
    body: '{"message":"resource is not found","resource":"dhcp","resource_id":"387262e7-a4bf-4422-92f7-76f0be8306cb","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/75e82367-ff45-4b27-8f02-cc2b812bf1a8?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
