---
version: 1
interactions:
- request:
    body: '{"name":"TestAccScalewayVPCPrivateNetwork_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"66290500-176a-4ab0-acc2-345a48003dfa","name":"TestAccScalewayVPCPrivateNetwork_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-03T13:44:44.391490Z","updated_at":"2020-11-03T13:44:44.391490Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/66290500-176a-4ab0-acc2-345a48003dfa
    method: GET
  response:
    body: '{"id":"66290500-176a-4ab0-acc2-345a48003dfa","name":"TestAccScalewayVPCPrivateNetwork_Basic","tags":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2020-11-03T13:44:44.391490Z","updated_at":"2020-11-03T13:44:44.391490Z","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
