---
version: 1
interactions:
- request:
    body: '{"project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"7983777e-9022-4016-ab0b-aa469f297ff8","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:33:36.907551Z","updated_at":"2021-10-05T14:33:36.907551Z","tags":[],"address":"163.172.150.97","reverse":"97-150-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/7983777e-9022-4016-ab0b-aa469f297ff8
    method: GET
  response:
    body: '{"id":"7983777e-9022-4016-ab0b-aa469f297ff8","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:33:36.907551Z","updated_at":"2021-10-05T14:33:36.907551Z","tags":[],"address":"163.172.150.97","reverse":"97-150-172-163.instances.scw.cloud","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tags":["tag0","tag1"],"reverse":"example.com","gateway_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/7983777e-9022-4016-ab0b-aa469f297ff8
    method: PATCH
  response:
    body: '{"id":"7983777e-9022-4016-ab0b-aa469f297ff8","organization_id":"63a66ec9-a385-4194-bc15-04aa6921274a","project_id":"63a66ec9-a385-4194-bc15-04aa6921274a","created_at":"2021-10-05T14:33:36.907551Z","updated_at":"2021-10-05T14:33:38.509266Z","tags":["tag0","tag1"],"address":"163.172.150.97","reverse":"example.com","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/ips/7983777e-9022-4016-ab0b-aa469f297ff8
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"7983777e-9022-4016-ab0b-aa469f297ff8","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
