---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"id":"bce31e9b-095a-412e-b29b-225e0b365232","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:05.823654Z","updated_at":"2022-04-27T11:58:05.823654Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks
    method: POST
  response:
    body: '{"id":"a89afcca-94b8-4897-9737-ec275ed514d5","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:05.813027Z","updated_at":"2022-04-27T11:58:05.813027Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/bce31e9b-095a-412e-b29b-225e0b365232
    method: GET
  response:
    body: '{"id":"bce31e9b-095a-412e-b29b-225e0b365232","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:05.823654Z","updated_at":"2022-04-27T11:58:05.823654Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v1/zones/fr-par-1/private-networks/a89afcca-94b8-4897-9737-ec275ed514d5
    method: GET
  response:
    body: '{"id":"a89afcca-94b8-4897-9737-ec275ed514d5","name":"pn_test_network","tags":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:05.813027Z","updated_at":"2022-04-27T11:58:05.813027Z","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"9c9c9cb0-b22f-4890-bd59-4120dc0dbb49","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:06.647558Z","updated_at":"2022-04-27T11:58:06.647558Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/9c9c9cb0-b22f-4890-bd59-4120dc0dbb49
    method: GET
  response:
    body: '{"id":"9c9c9cb0-b22f-4890-bd59-4120dc0dbb49","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:06.647558Z","updated_at":"2022-04-27T11:58:06.647558Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"9c9c9cb0-b22f-4890-bd59-4120dc0dbb49","enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"fe165702-c3c8-41be-a6d8-5b53cd2399e8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:07.988665Z","updated_at":"2022-04-27T11:58:07.988665Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"9c9c9cb0-b22f-4890-bd59-4120dc0dbb49","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:06.647558Z","updated_at":"2022-04-27T11:58:06.647558Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":"fe165702-c3c8-41be-a6d8-5b53cd2399e8","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fe165702-c3c8-41be-a6d8-5b53cd2399e8
    method: GET
  response:
    body: '{"id":"fe165702-c3c8-41be-a6d8-5b53cd2399e8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:07.988665Z","updated_at":"2022-04-27T11:58:07.988665Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"9c9c9cb0-b22f-4890-bd59-4120dc0dbb49","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:06.647558Z","updated_at":"2022-04-27T11:58:06.647558Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":"fe165702-c3c8-41be-a6d8-5b53cd2399e8","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"fe165702-c3c8-41be-a6d8-5b53cd2399e8","private_network_id":"a89afcca-94b8-4897-9737-ec275ed514d5","enable_masquerade":true,"dhcp_id":"bce31e9b-095a-412e-b29b-225e0b365232","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"id":"c7b54100-d407-4f25-9eec-7c3689482fee","created_at":"2022-04-27T11:58:13.326795Z","updated_at":"2022-04-27T11:58:13.326795Z","gateway_id":"fe165702-c3c8-41be-a6d8-5b53cd2399e8","private_network_id":"a89afcca-94b8-4897-9737-ec275ed514d5","mac_address":null,"enable_masquerade":true,"status":"created","dhcp":{"id":"bce31e9b-095a-412e-b29b-225e0b365232","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:05.823654Z","updated_at":"2022-04-27T11:58:05.823654Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c7b54100-d407-4f25-9eec-7c3689482fee
    method: GET
  response:
    body: '{"id":"c7b54100-d407-4f25-9eec-7c3689482fee","created_at":"2022-04-27T11:58:13.326795Z","updated_at":"2022-04-27T11:58:19.524804Z","gateway_id":"fe165702-c3c8-41be-a6d8-5b53cd2399e8","private_network_id":"a89afcca-94b8-4897-9737-ec275ed514d5","mac_address":"02:00:00:01:17:6b","enable_masquerade":true,"status":"ready","dhcp":{"id":"bce31e9b-095a-412e-b29b-225e0b365232","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:05.823654Z","updated_at":"2022-04-27T11:58:05.823654Z","subnet":"192.168.1.0/24","address":"192.168.1.1","pool_low":"192.168.1.2","pool_high":"192.168.1.254","enable_dynamic":true,"valid_lifetime":"3600s","renew_timer":"3000s","rebind_timer":"3060s","push_default_route":true,"push_dns_server":true,"dns_servers_override":[],"dns_search":[],"dns_local_name":"priv","zone":"fr-par-1"},"enable_dhcp":true,"address":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c7b54100-d407-4f25-9eec-7c3689482fee?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c7b54100-d407-4f25-9eec-7c3689482fee
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c7b54100-d407-4f25-9eec-7c3689482fee","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fe165702-c3c8-41be-a6d8-5b53cd2399e8?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
