---
version: 1
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"id":"5a8bc4e9-10cf-4cb0-8e39-dcf182ec71a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:49.360779Z","updated_at":"2022-04-27T11:58:49.360779Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/5a8bc4e9-10cf-4cb0-8e39-dcf182ec71a7
    method: GET
  response:
    body: '{"id":"5a8bc4e9-10cf-4cb0-8e39-dcf182ec71a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:49.360779Z","updated_at":"2022-04-27T11:58:49.360779Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"5a8bc4e9-10cf-4cb0-8e39-dcf182ec71a7","enable_smtp":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"c9e57737-e608-4f6c-b7eb-f18cae0f6ebf","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:49.589357Z","updated_at":"2022-04-27T11:58:49.589357Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"5a8bc4e9-10cf-4cb0-8e39-dcf182ec71a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:49.360779Z","updated_at":"2022-04-27T11:58:49.360779Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":"c9e57737-e608-4f6c-b7eb-f18cae0f6ebf","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c9e57737-e608-4f6c-b7eb-f18cae0f6ebf
    method: GET
  response:
    body: '{"id":"c9e57737-e608-4f6c-b7eb-f18cae0f6ebf","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:49.589357Z","updated_at":"2022-04-27T11:58:49.589357Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"foobar","tags":[],"ip":{"id":"5a8bc4e9-10cf-4cb0-8e39-dcf182ec71a7","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","created_at":"2022-04-27T11:58:49.360779Z","updated_at":"2022-04-27T11:58:49.360779Z","tags":[],"address":"51.15.251.67","reverse":"67-251-15-51.instances.scw.cloud","gateway_id":"c9e57737-e608-4f6c-b7eb-f18cae0f6ebf","zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"bastion_enabled":false,"bastion_port":61000,"smtp_enabled":false,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c9e57737-e608-4f6c-b7eb-f18cae0f6ebf?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c9e57737-e608-4f6c-b7eb-f18cae0f6ebf
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"c9e57737-e608-4f6c-b7eb-f18cae0f6ebf","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
