---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-vpcgw-action-refresh-ssh-keys","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T08:50:24.086492Z","gateway_networks":[],"id":"b1220bb8-8592-4307-a349-6d8bd14b555f","ipv4":{"address":"51.15.195.157","created_at":"2025-12-23T08:50:24.068407Z","gateway_id":"b1220bb8-8592-4307-a349-6d8bd14b555f","id":"04c78f25-daaa-4a48-b48c-72b615d13139","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"157-195-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T08:50:24.068407Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T08:50:24.086492Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 814.49525ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b1220bb8-8592-4307-a349-6d8bd14b555f
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T08:50:24.086492Z","gateway_networks":[],"id":"b1220bb8-8592-4307-a349-6d8bd14b555f","ipv4":{"address":"51.15.195.157","created_at":"2025-12-23T08:50:24.068407Z","gateway_id":"b1220bb8-8592-4307-a349-6d8bd14b555f","id":"04c78f25-daaa-4a48-b48c-72b615d13139","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"157-195-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T08:50:24.068407Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T08:50:24.129188Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.9005ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b1220bb8-8592-4307-a349-6d8bd14b555f/refresh-ssh-keys
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T08:50:24.086492Z","gateway_networks":[],"id":"b1220bb8-8592-4307-a349-6d8bd14b555f","ipv4":{"address":"51.15.195.157","created_at":"2025-12-23T08:50:24.068407Z","gateway_id":"b1220bb8-8592-4307-a349-6d8bd14b555f","id":"04c78f25-daaa-4a48-b48c-72b615d13139","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"157-195-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T08:50:24.068407Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T08:50:36.584775Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.090417ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b1220bb8-8592-4307-a349-6d8bd14b555f?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T08:50:24.086492Z","gateway_networks":[],"id":"b1220bb8-8592-4307-a349-6d8bd14b555f","ipv4":{"address":"51.15.195.157","created_at":"2025-12-23T08:50:24.068407Z","gateway_id":"b1220bb8-8592-4307-a349-6d8bd14b555f","id":"04c78f25-daaa-4a48-b48c-72b615d13139","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"157-195-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T08:50:24.068407Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T08:50:44.959058Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.050375ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b1220bb8-8592-4307-a349-6d8bd14b555f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"b1220bb8-8592-4307-a349-6d8bd14b555f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.61175ms
