---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpcgw-action-refresh-ssh-keys","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T08:58:59.991613Z","gateway_networks":[],"id":"04bc87a1-437f-4926-b0ce-11a527445554","ipv4":{"address":"51.15.194.231","created_at":"2026-03-11T08:58:59.973794Z","gateway_id":"04bc87a1-437f-4926-b0ce-11a527445554","id":"8a428e69-0e28-4765-ba7a-5f66b2f62223","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T08:58:59.973794Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T08:58:59.991613Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 959.123042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/04bc87a1-437f-4926-b0ce-11a527445554
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T08:58:59.991613Z","gateway_networks":[],"id":"04bc87a1-437f-4926-b0ce-11a527445554","ipv4":{"address":"51.15.194.231","created_at":"2026-03-11T08:58:59.973794Z","gateway_id":"04bc87a1-437f-4926-b0ce-11a527445554","id":"8a428e69-0e28-4765-ba7a-5f66b2f62223","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T08:58:59.973794Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T08:58:59.991613Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.343709ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/04bc87a1-437f-4926-b0ce-11a527445554/refresh-ssh-keys
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T08:58:59.991613Z","gateway_networks":[],"id":"04bc87a1-437f-4926-b0ce-11a527445554","ipv4":{"address":"51.15.194.231","created_at":"2026-03-11T08:58:59.973794Z","gateway_id":"04bc87a1-437f-4926-b0ce-11a527445554","id":"8a428e69-0e28-4765-ba7a-5f66b2f62223","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T08:58:59.973794Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T08:59:07.520867Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.569708ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/04bc87a1-437f-4926-b0ce-11a527445554?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T08:58:59.991613Z","gateway_networks":[],"id":"04bc87a1-437f-4926-b0ce-11a527445554","ipv4":{"address":"51.15.194.231","created_at":"2026-03-11T08:58:59.973794Z","gateway_id":"04bc87a1-437f-4926-b0ce-11a527445554","id":"8a428e69-0e28-4765-ba7a-5f66b2f62223","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T08:58:59.973794Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T08:59:16.426676Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.717625ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/04bc87a1-437f-4926-b0ce-11a527445554
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"04bc87a1-437f-4926-b0ce-11a527445554","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.785ms
