---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpcgw-action-refresh-ssh-keys","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T12:34:28.485548Z","gateway_networks":[],"id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","ipv4":{"address":"51.15.203.141","created_at":"2025-12-23T12:34:28.463360Z","gateway_id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","id":"066b49cb-971e-4ac8-baaf-52ca251f5cba","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"141-203-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T12:34:28.463360Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T12:34:28.485548Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.058065083s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5b70c81f-2aef-4df4-aa77-40f131f206ff
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T12:34:28.485548Z","gateway_networks":[],"id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","ipv4":{"address":"51.15.203.141","created_at":"2025-12-23T12:34:28.463360Z","gateway_id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","id":"066b49cb-971e-4ac8-baaf-52ca251f5cba","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"141-203-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T12:34:28.463360Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T12:34:28.526689Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.528292ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5b70c81f-2aef-4df4-aa77-40f131f206ff/refresh-ssh-keys
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T12:34:28.485548Z","gateway_networks":[],"id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","ipv4":{"address":"51.15.203.141","created_at":"2025-12-23T12:34:28.463360Z","gateway_id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","id":"066b49cb-971e-4ac8-baaf-52ca251f5cba","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"141-203-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T12:34:28.463360Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T12:34:35.592538Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.571125ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5b70c81f-2aef-4df4-aa77-40f131f206ff?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-23T12:34:28.485548Z","gateway_networks":[],"id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","ipv4":{"address":"51.15.203.141","created_at":"2025-12-23T12:34:28.463360Z","gateway_id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","id":"066b49cb-971e-4ac8-baaf-52ca251f5cba","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"141-203-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-23T12:34:28.463360Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-23T12:34:44.407453Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.731166ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5b70c81f-2aef-4df4-aa77-40f131f206ff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"5b70c81f-2aef-4df4-aa77-40f131f206ff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.308ms
