---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpcgw-action-refresh-ssh-keys","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T13:03:54.883400Z","gateway_networks":[],"id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","ipv4":{"address":"163.172.177.198","created_at":"2026-03-11T13:03:54.860210Z","gateway_id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","id":"102d071c-0808-49f5-b993-d1cea7d69987","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"198-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:03:54.860210Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:03:54.883400Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.082449333s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/582ceb1a-1485-4330-82fe-242bc98a9fdd
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T13:03:54.883400Z","gateway_networks":[],"id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","ipv4":{"address":"163.172.177.198","created_at":"2026-03-11T13:03:54.860210Z","gateway_id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","id":"102d071c-0808-49f5-b993-d1cea7d69987","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"198-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:03:54.860210Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:03:54.931134Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.054208ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/582ceb1a-1485-4330-82fe-242bc98a9fdd/refresh-ssh-keys
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T13:03:54.883400Z","gateway_networks":[],"id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","ipv4":{"address":"163.172.177.198","created_at":"2026-03-11T13:03:54.860210Z","gateway_id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","id":"102d071c-0808-49f5-b993-d1cea7d69987","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"198-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:03:54.860210Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:04:06.266881Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.626375ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/582ceb1a-1485-4330-82fe-242bc98a9fdd?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T13:03:54.883400Z","gateway_networks":[],"id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","ipv4":{"address":"163.172.177.198","created_at":"2026-03-11T13:03:54.860210Z","gateway_id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","id":"102d071c-0808-49f5-b993-d1cea7d69987","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"198-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:03:54.860210Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:04:15.909670Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.660459ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/582ceb1a-1485-4330-82fe-242bc98a9fdd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"582ceb1a-1485-4330-82fe-242bc98a9fdd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 119.581291ms
