---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-test-vpcgw-action-refresh-ssh-keys","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T15:43:24.248222Z","gateway_networks":[],"id":"d20d6a96-a80d-4145-9146-57fec117f0f2","ipv4":{"address":"51.15.134.39","created_at":"2026-03-11T15:43:24.230531Z","gateway_id":"d20d6a96-a80d-4145-9146-57fec117f0f2","id":"9fc01747-f6ea-4b7f-ad5c-0fbd4d35fa9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"39-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T15:43:24.230531Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T15:43:24.248222Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.103795792s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/d20d6a96-a80d-4145-9146-57fec117f0f2
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T15:43:24.248222Z","gateway_networks":[],"id":"d20d6a96-a80d-4145-9146-57fec117f0f2","ipv4":{"address":"51.15.134.39","created_at":"2026-03-11T15:43:24.230531Z","gateway_id":"d20d6a96-a80d-4145-9146-57fec117f0f2","id":"9fc01747-f6ea-4b7f-ad5c-0fbd4d35fa9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"39-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T15:43:24.230531Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T15:43:24.286676Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.545666ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/d20d6a96-a80d-4145-9146-57fec117f0f2/refresh-ssh-keys
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T15:43:24.248222Z","gateway_networks":[],"id":"d20d6a96-a80d-4145-9146-57fec117f0f2","ipv4":{"address":"51.15.134.39","created_at":"2026-03-11T15:43:24.230531Z","gateway_id":"d20d6a96-a80d-4145-9146-57fec117f0f2","id":"9fc01747-f6ea-4b7f-ad5c-0fbd4d35fa9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"39-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T15:43:24.230531Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T15:43:34.670481Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.882375ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/d20d6a96-a80d-4145-9146-57fec117f0f2?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2026-03-11T15:43:24.248222Z","gateway_networks":[],"id":"d20d6a96-a80d-4145-9146-57fec117f0f2","ipv4":{"address":"51.15.134.39","created_at":"2026-03-11T15:43:24.230531Z","gateway_id":"d20d6a96-a80d-4145-9146-57fec117f0f2","id":"9fc01747-f6ea-4b7f-ad5c-0fbd4d35fa9e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"39-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T15:43:24.230531Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-test-vpcgw-action-refresh-ssh-keys","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T15:43:45.423301Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.664167ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/d20d6a96-a80d-4145-9146-57fec117f0f2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"d20d6a96-a80d-4145-9146-57fec117f0f2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.459333ms
