---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.817211Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d4a25a5e-f3bb-4db4-9fd9-0deaf5e9e615","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.817211Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.585833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/d4a25a5e-f3bb-4db4-9fd9-0deaf5e9e615
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.817211Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d4a25a5e-f3bb-4db4-9fd9-0deaf5e9e615","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.817211Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.789209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-upbeat-edison","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:51:49.847492Z","dhcp_enabled":true,"id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","name":"tf-pn-upbeat-edison","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.847492Z","id":"a9cbe76a-df8e-4dc0-b3ac-daab370f88ac","private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:51:49.847492Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:49.847492Z","id":"a3bca5a1-a4cd-4940-8f99-c60da8496da0","private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:267e::/64","updated_at":"2025-01-24T14:51:49.847492Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:49.847492Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.441459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c43e8c1b-625b-4258-9a02-0e23e61c9423
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:51:49.847492Z","dhcp_enabled":true,"id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","name":"tf-pn-upbeat-edison","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.847492Z","id":"a9cbe76a-df8e-4dc0-b3ac-daab370f88ac","private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:51:49.847492Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:49.847492Z","id":"a3bca5a1-a4cd-4940-8f99-c60da8496da0","private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:267e::/64","updated_at":"2025-01-24T14:51:49.847492Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:49.847492Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.859375ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.249.84","created_at":"2025-01-24T14:51:51.225296Z","gateway_id":null,"id":"dcc91fb5-8270-4d96-8910-71b600a2223f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"84-249-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.225296Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.466842625s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/dcc91fb5-8270-4d96-8910-71b600a2223f
        method: GET
      response:
        body: '{"address":"51.15.249.84","created_at":"2025-01-24T14:51:51.225296Z","gateway_id":null,"id":"dcc91fb5-8270-4d96-8910-71b600a2223f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"84-249-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.225296Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.726625ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-naughty-chaplygin","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"dcc91fb5-8270-4d96-8910-71b600a2223f","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:51.361358Z","gateway_networks":[],"id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","ip":{"address":"51.15.249.84","created_at":"2025-01-24T14:51:51.225296Z","gateway_id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","id":"dcc91fb5-8270-4d96-8910-71b600a2223f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"84-249-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.225296Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-naughty-chaplygin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:51.361358Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.423375ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/cbe384b8-ab13-4698-be8e-722bc23f47ff
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:51.361358Z","gateway_networks":[],"id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","ip":{"address":"51.15.249.84","created_at":"2025-01-24T14:51:51.225296Z","gateway_id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","id":"dcc91fb5-8270-4d96-8910-71b600a2223f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"84-249-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.225296Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-pn-naughty-chaplygin","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:51.396263Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.122125ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"d4a25a5e-f3bb-4db4-9fd9-0deaf5e9e615"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:51:58.445340Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.817211Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d4a25a5e-f3bb-4db4-9fd9-0deaf5e9e615","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.817211Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","id":"349e4577-b7c8-4601-84e3-ac9ada0665d7","ipam_config":null,"mac_address":null,"private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","status":"created","updated_at":"2025-01-24T14:51:58.445340Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.0327905s
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/349e4577-b7c8-4601-84e3-ac9ada0665d7
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:51:58.445340Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.817211Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d4a25a5e-f3bb-4db4-9fd9-0deaf5e9e615","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.817211Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","id":"349e4577-b7c8-4601-84e3-ac9ada0665d7","ipam_config":null,"mac_address":"02:00:00:1B:91:7B","private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","status":"ready","updated_at":"2025-01-24T14:52:08.688867Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.3355ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks?gateway_id=cbe384b8-ab13-4698-be8e-722bc23f47ff&order_by=created_at_asc&private_network_id=c43e8c1b-625b-4258-9a02-0e23e61c9423&status=unknown
        method: GET
      response:
        body: '{"gateway_networks":[{"address":null,"created_at":"2025-01-24T14:51:58.445340Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.817211Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d4a25a5e-f3bb-4db4-9fd9-0deaf5e9e615","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.817211Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"cbe384b8-ab13-4698-be8e-722bc23f47ff","id":"349e4577-b7c8-4601-84e3-ac9ada0665d7","ipam_config":null,"mac_address":"02:00:00:1B:91:7B","private_network_id":"c43e8c1b-625b-4258-9a02-0e23e61c9423","status":"ready","updated_at":"2025-01-24T14:52:08.688867Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.873375ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/349e4577-b7c8-4601-84e3-ac9ada0665d7?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 68.062792ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/349e4577-b7c8-4601-84e3-ac9ada0665d7
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"349e4577-b7c8-4601-84e3-ac9ada0665d7","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.984291ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/cbe384b8-ab13-4698-be8e-722bc23f47ff?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 65.797458ms
[...]
