---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-angry-cohen","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-16T13:39:33.439379Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","name":"tf-pn-angry-cohen","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-16T13:39:33.439379Z","id":"6e00269c-2cff-4878-8814-40721aeedaf8","private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-16T13:39:33.439379Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-16T13:39:33.439379Z","id":"66841f13-e015-4adc-b828-083ce9e5d33b","private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:2d93::/64","updated_at":"2025-05-16T13:39:33.439379Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-16T13:39:33.439379Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 626.749107ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3c7d08c7-9b51-4cf7-b12a-431e3de57f0c
        method: GET
      response:
        body: '{"created_at":"2025-05-16T13:39:33.439379Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","name":"tf-pn-angry-cohen","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-16T13:39:33.439379Z","id":"6e00269c-2cff-4878-8814-40721aeedaf8","private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.4.0/22","updated_at":"2025-05-16T13:39:33.439379Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-16T13:39:33.439379Z","id":"66841f13-e015-4adc-b828-083ce9e5d33b","private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:2d93::/64","updated_at":"2025-05-16T13:39:33.439379Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-16T13:39:33.439379Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.493928ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.134.135","created_at":"2025-05-16T13:39:35.912684Z","id":"95f137fd-6008-49d8-9fb1-25ea3705fc89","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"135-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:35.912684Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.694389939s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/95f137fd-6008-49d8-9fb1-25ea3705fc89
        method: GET
      response:
        body: '{"address":"51.15.134.135","created_at":"2025-05-16T13:39:35.912684Z","id":"95f137fd-6008-49d8-9fb1-25ea3705fc89","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"135-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:35.912684Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.784156ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-pn-priceless-mendeleev","tags":[],"type":"VPC-GW-S","ip_id":"95f137fd-6008-49d8-9fb1-25ea3705fc89","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:36.062886Z","gateway_networks":[],"id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","ipv4":{"address":"51.15.134.135","created_at":"2025-05-16T13:39:35.912684Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"95f137fd-6008-49d8-9fb1-25ea3705fc89","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"135-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:35.912684Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-priceless-mendeleev","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:39:36.062886Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.912507ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:36.062886Z","gateway_networks":[],"id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","ipv4":{"address":"51.15.134.135","created_at":"2025-05-16T13:39:35.912684Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"95f137fd-6008-49d8-9fb1-25ea3705fc89","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"135-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:35.912684Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-priceless-mendeleev","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:39:36.112071Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.856416ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","enable_masquerade":true,"push_default_route":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-16T13:39:46.797685Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"96c44936-3bc6-43f2-999d-417c242fb3bf","ipam_ip_id":"d13520a7-6c41-4f25-af2c-915666488710","masquerade_enabled":true,"private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","push_default_route":false,"status":"created","updated_at":"2025-05-16T13:39:46.797685Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 728.960661ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:36.062886Z","gateway_networks":[{"created_at":"2025-05-16T13:39:46.797685Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"96c44936-3bc6-43f2-999d-417c242fb3bf","ipam_ip_id":"d13520a7-6c41-4f25-af2c-915666488710","mac_address":"02:00:00:18:83:1A","masquerade_enabled":true,"private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","push_default_route":false,"status":"configuring","updated_at":"2025-05-16T13:39:52.633641Z","zone":"fr-par-1"}],"id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","ipv4":{"address":"51.15.134.135","created_at":"2025-05-16T13:39:35.912684Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"95f137fd-6008-49d8-9fb1-25ea3705fc89","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"135-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:35.912684Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-priceless-mendeleev","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:39:46.928834Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.853198ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/96c44936-3bc6-43f2-999d-417c242fb3bf
        method: GET
      response:
        body: '{"created_at":"2025-05-16T13:39:46.797685Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"96c44936-3bc6-43f2-999d-417c242fb3bf","ipam_ip_id":"d13520a7-6c41-4f25-af2c-915666488710","mac_address":"02:00:00:18:83:1A","masquerade_enabled":true,"private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","push_default_route":false,"status":"ready","updated_at":"2025-05-16T13:39:57.642437Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.511352ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3c7d08c7-9b51-4cf7-b12a-431e3de57f0c&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=96c44936-3bc6-43f2-999d-417c242fb3bf&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.4.2/22","created_at":"2025-05-16T13:39:46.686229Z","id":"d13520a7-6c41-4f25-af2c-915666488710","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"96c44936-3bc6-43f2-999d-417c242fb3bf","mac_address":"02:00:00:18:83:1A","name":"tf-pn-priceless-mendeleev","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"6e00269c-2cff-4878-8814-40721aeedaf8"},"tags":[],"updated_at":"2025-05-16T13:39:47.249678Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.926407ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999&order_by=created_at_asc&private_network_ids=3c7d08c7-9b51-4cf7-b12a-431e3de57f0c
        method: GET
      response:
        body: '{"gateway_networks":[{"created_at":"2025-05-16T13:39:46.797685Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"96c44936-3bc6-43f2-999d-417c242fb3bf","ipam_ip_id":"d13520a7-6c41-4f25-af2c-915666488710","mac_address":"02:00:00:18:83:1A","masquerade_enabled":true,"private_network_id":"3c7d08c7-9b51-4cf7-b12a-431e3de57f0c","push_default_route":false,"status":"ready","updated_at":"2025-05-16T13:39:57.642437Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.60708ms
[...]
    - id: 76
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/96c44936-3bc6-43f2-999d-417c242fb3bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"96c44936-3bc6-43f2-999d-417c242fb3bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.401578ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:36.062886Z","gateway_networks":[],"id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","ipv4":{"address":"51.15.134.135","created_at":"2025-05-16T13:39:35.912684Z","gateway_id":"6f3cfeba-ba8a-4fb1-b7cd-d3857fcd0999","id":"95f137fd-6008-49d8-9fb1-25ea3705fc89","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"135-134-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:35.912684Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-priceless-mendeleev","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:40:13.128671Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.710264ms
[...]
