---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-with-not-default-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-11T13:33:25.718051Z","gateway_networks":[],"id":"24cdf46b-bed8-4755-b585-1fcb37bae669","ipv4":{"address":"51.15.44.218","created_at":"2026-03-11T13:33:25.691869Z","gateway_id":"24cdf46b-bed8-4755-b585-1fcb37bae669","id":"de6c132e-1931-4a4d-b1bc-2b7da1c92f88","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-44-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:33:25.691869Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:33:25.718051Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 883.55375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/24cdf46b-bed8-4755-b585-1fcb37bae669
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-11T13:33:25.718051Z","gateway_networks":[],"id":"24cdf46b-bed8-4755-b585-1fcb37bae669","ipv4":{"address":"51.15.44.218","created_at":"2026-03-11T13:33:25.691869Z","gateway_id":"24cdf46b-bed8-4755-b585-1fcb37bae669","id":"de6c132e-1931-4a4d-b1bc-2b7da1c92f88","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-44-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:33:25.691869Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:33:25.760849Z","version":"0.7.8","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.456ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/228dc84b-4bf1-453b-83d8-ff17ec1e662b
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-11T13:33:25.850590Z","gateway_networks":[],"id":"228dc84b-4bf1-453b-83d8-ff17ec1e662b","ipv4":{"address":"51.15.242.136","created_at":"2026-03-11T13:33:25.822881Z","gateway_id":"228dc84b-4bf1-453b-83d8-ff17ec1e662b","id":"d703b255-5e00-4a4a-b7de-89400dc367ea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"136-242-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:33:25.822881Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:33:25.883887Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.443417ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?include_legacy=true&name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-11T13:33:25.850590Z","gateway_networks":[],"id":"228dc84b-4bf1-453b-83d8-ff17ec1e662b","ipv4":{"address":"51.15.242.136","created_at":"2026-03-11T13:33:25.822881Z","gateway_id":"228dc84b-4bf1-453b-83d8-ff17ec1e662b","id":"d703b255-5e00-4a4a-b7de-89400dc367ea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"136-242-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:33:25.822881Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:33:35.394607Z","version":"0.7.8","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.04025ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways?include_legacy=true&name=public-gateway-with-not-default-zone&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-11T13:33:25.718051Z","gateway_networks":[],"id":"24cdf46b-bed8-4755-b585-1fcb37bae669","ipv4":{"address":"51.15.44.218","created_at":"2026-03-11T13:33:25.691869Z","gateway_id":"24cdf46b-bed8-4755-b585-1fcb37bae669","id":"de6c132e-1931-4a4d-b1bc-2b7da1c92f88","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-44-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:33:25.691869Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:33:30.678645Z","version":"0.7.8","zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.967792ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/228dc84b-4bf1-453b-83d8-ff17ec1e662b?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-11T13:33:25.850590Z","gateway_networks":[],"id":"228dc84b-4bf1-453b-83d8-ff17ec1e662b","ipv4":{"address":"51.15.242.136","created_at":"2026-03-11T13:33:25.822881Z","gateway_id":"228dc84b-4bf1-453b-83d8-ff17ec1e662b","id":"d703b255-5e00-4a4a-b7de-89400dc367ea","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"136-242-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:33:25.822881Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:33:37.647137Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.436541ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/228dc84b-4bf1-453b-83d8-ff17ec1e662b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"228dc84b-4bf1-453b-83d8-ff17ec1e662b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.878292ms
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/24cdf46b-bed8-4755-b585-1fcb37bae669?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-11T13:33:25.718051Z","gateway_networks":[],"id":"24cdf46b-bed8-4755-b585-1fcb37bae669","ipv4":{"address":"51.15.44.218","created_at":"2026-03-11T13:33:25.691869Z","gateway_id":"24cdf46b-bed8-4755-b585-1fcb37bae669","id":"de6c132e-1931-4a4d-b1bc-2b7da1c92f88","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-44-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-11T13:33:25.691869Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-11T13:33:37.670027Z","version":"0.7.8","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.563542ms
[...]
