---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-with-not-default-zone","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:23.164062Z","gateway_networks":[],"id":"75e08ff6-3380-47cb-ab77-39e18f0146ed","ip":{"address":"51.158.162.221","created_at":"2025-01-24T14:52:23.141037Z","gateway_id":"75e08ff6-3380-47cb-ab77-39e18f0146ed","id":"7bb41db4-95da-4753-b1ba-f6d23b6c617e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"221-162-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:23.141037Z","zone":"nl-ams-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-24T14:52:23.164062Z","upstream_dns_servers":[],"version":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 805.920583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/75e08ff6-3380-47cb-ab77-39e18f0146ed
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:23.164062Z","gateway_networks":[],"id":"75e08ff6-3380-47cb-ab77-39e18f0146ed","ip":{"address":"51.158.162.221","created_at":"2025-01-24T14:52:23.141037Z","gateway_id":"75e08ff6-3380-47cb-ab77-39e18f0146ed","id":"7bb41db4-95da-4753-b1ba-f6d23b6c617e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"221-162-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:23.141037Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-24T14:52:23.200122Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.841041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: [...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fb36e112-7960-46d1-9efc-a5af978ac930
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:23.555243Z","gateway_networks":[],"id":"fb36e112-7960-46d1-9efc-a5af978ac930","ip":{"address":"51.15.250.58","created_at":"2025-01-24T14:52:23.533771Z","gateway_id":"fb36e112-7960-46d1-9efc-a5af978ac930","id":"4f0143f0-d2ec-4b29-9d08-c3802c995a81","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"58-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:23.533771Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:52:23.598236Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.240458ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"gateways":[{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:23.555243Z","gateway_networks":[],"id":"fb36e112-7960-46d1-9efc-a5af978ac930","ip":{"address":"51.15.250.58","created_at":"2025-01-24T14:52:23.533771Z","gateway_id":"fb36e112-7960-46d1-9efc-a5af978ac930","id":"4f0143f0-d2ec-4b29-9d08-c3802c995a81","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"58-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:23.533771Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:52:28.675393Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.5355ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways?name=public-gateway-with-not-default-zone&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"gateways":[{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:23.164062Z","gateway_networks":[],"id":"75e08ff6-3380-47cb-ab77-39e18f0146ed","ip":{"address":"51.158.162.221","created_at":"2025-01-24T14:52:23.141037Z","gateway_id":"75e08ff6-3380-47cb-ab77-39e18f0146ed","id":"7bb41db4-95da-4753-b1ba-f6d23b6c617e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"221-162-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:23.141037Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-24T14:52:28.127958Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.581125ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fb36e112-7960-46d1-9efc-a5af978ac930?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.180875ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fb36e112-7960-46d1-9efc-a5af978ac930
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"fb36e112-7960-46d1-9efc-a5af978ac930","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.279625ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/75e08ff6-3380-47cb-ab77-39e18f0146ed?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 129.497667ms
[...]
