---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:20:43.137742Z","gateway_networks":[],"id":"f42d829a-a394-427d-bf63-07eab4abb865","ipv4":{"address":"51.158.102.81","created_at":"2025-09-05T13:20:43.117919Z","gateway_id":"f42d829a-a394-427d-bf63-07eab4abb865","id":"b942cd8d-2650-42ab-955d-8d924c8a314e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"81-102-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:20:43.117919Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:20:43.137742Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.079077584s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/f42d829a-a394-427d-bf63-07eab4abb865
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:20:43.137742Z","gateway_networks":[],"id":"f42d829a-a394-427d-bf63-07eab4abb865","ipv4":{"address":"51.158.102.81","created_at":"2025-09-05T13:20:43.117919Z","gateway_id":"f42d829a-a394-427d-bf63-07eab4abb865","id":"b942cd8d-2650-42ab-955d-8d924c8a314e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"81-102-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:20:43.117919Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:20:43.179308Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.57675ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-with-not-default-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ip[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/970265eb-a80a-4b8e-9fc8-63011d5e9952
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:20:43.250239Z","gateway_networks":[],"id":"970265eb-a80a-4b8e-9fc8-63011d5e9952","ipv4":{"address":"51.15.93.192","created_at":"2025-09-05T13:20:43.214634Z","gateway_id":"970265eb-a80a-4b8e-9fc8-63011d5e9952","id":"b0e97974-fe68-412a-b62e-f36d324a92df","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"192-93-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:20:43.214634Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:20:43.316902Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.522792ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?include_legacy=true&name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:20:43.137742Z","gateway_networks":[],"id":"f42d829a-a394-427d-bf63-07eab4abb865","ipv4":{"address":"51.158.102.81","created_at":"2025-09-05T13:20:43.117919Z","gateway_id":"f42d829a-a394-427d-bf63-07eab4abb865","id":"b942cd8d-2650-42ab-955d-8d924c8a314e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"81-102-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:20:43.117919Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:20:47.741615Z","version":"0.7.4","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.9645ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways?include_legacy=true&name=public-gateway-with-not-default-zone&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:20:43.250239Z","gateway_networks":[],"id":"970265eb-a80a-4b8e-9fc8-63011d5e9952","ipv4":{"address":"51.15.93.192","created_at":"2025-09-05T13:20:43.214634Z","gateway_id":"970265eb-a80a-4b8e-9fc8-63011d5e9952","id":"b0e97974-fe68-412a-b62e-f36d324a92df","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"192-93-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:20:43.214634Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:20:48.472118Z","version":"0.7.4","zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.712084ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/f42d829a-a394-427d-bf63-07eab4abb865?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:20:43.137742Z","gateway_networks":[],"id":"f42d829a-a394-427d-bf63-07eab4abb865","ipv4":{"address":"51.158.102.81","created_at":"2025-09-05T13:20:43.117919Z","gateway_id":"f42d829a-a394-427d-bf63-07eab4abb865","id":"b942cd8d-2650-42ab-955d-8d924c8a314e","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"81-102-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:20:43.117919Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:20:50.497289Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.811542ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/970265eb-a80a-4b8e-9fc8-63011d5e9952?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:20:43.250239Z","gateway_networks":[],"id":"970265eb-a80a-4b8e-9fc8-63011d5e9952","ipv4":{"address":"51.15.93.192","created_at":"2025-09-05T13:20:43.214634Z","gateway_id":"970265eb-a80a-4b8e-9fc8-63011d5e9952","id":"b0e97974-fe68-412a-b62e-f36d324a92df","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"192-93-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:20:43.214634Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:20:50.523902Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.110834ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/f42d829a-a394-427d-bf63-07eab4abb865
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"f42d829a-a394-427d-bf63-07eab4abb865","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.622292ms
[...]
