---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.157.246","created_at":"2025-03-21T14:38:19.917820Z","id":"f69f97a8-7e15-4aee-b1f0-f32142469c0f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:38:19.917820Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 722.457768ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/f69f97a8-7e15-4aee-b1f0-f32142469c0f
        method: GET
      response:
        body: '{"address":"163.172.157.246","created_at":"2025-03-21T14:38:19.917820Z","id":"f69f97a8-7e15-4aee-b1f0-f32142469c0f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:38:19.917820Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.616295ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/f69f97a8-7e15-4aee-b1f0-f32142469c0f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"f69f97a8-7e15-4aee-b1f0-f32142469c0f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.104893ms
[...]
