---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:09.409713Z","gateway_networks":[],"id":"48632d57-88f6-4e71-b32f-62e5f3ff0e01","ip":{"address":"51.158.64.26","created_at":"2025-01-27T09:16:09.394007Z","gateway_id":"48632d57-88f6-4e71-b32f-62e5f3ff0e01","id":"aa78ee1c-8ca0-4565-bacb-7beecc956af9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"26-64-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:09.394007Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:09.409713Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 805.507084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/48632d57-88f6-4e71-b32f-62e5f3ff0e01
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:09.409713Z","gateway_networks":[],"id":"48632d57-88f6-4e71-b32f-62e5f3ff0e01","ip":{"address":"51.158.64.26","created_at":"2025-01-27T09:16:09.394007Z","gateway_id":"48632d57-88f6-4e71-b32f-62e5f3ff0e01","id":"aa78ee1c-8ca0-4565-bacb-7beecc956af9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"26-64-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:09.394007Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:09.445583Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.720709ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-with-not-default-zone","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/625487a3-7fad-497a-b040-ab550da4feae
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:09.649174Z","gateway_networks":[],"id":"625487a3-7fad-497a-b040-ab550da4feae","ip":{"address":"51.158.160.128","created_at":"2025-01-27T09:16:09.612360Z","gateway_id":"625487a3-7fad-497a-b040-ab550da4feae","id":"b3dace1f-6637-4155-bd19-401846471f43","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"128-160-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:09.612360Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-27T09:16:09.711636Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.83375ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways?name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"gateways":[{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:09.409713Z","gateway_networks":[],"id":"48632d57-88f6-4e71-b32f-62e5f3ff0e01","ip":{"address":"51.158.64.26","created_at":"2025-01-27T09:16:09.394007Z","gateway_id":"48632d57-88f6-4e71-b32f-62e5f3ff0e01","id":"aa78ee1c-8ca0-4565-bacb-7beecc956af9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"26-64-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:09.394007Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:14.188174Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.141125ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways?name=public-gateway-with-not-default-zone&order_by=created_at_asc&status=unknown
        method: GET
      response:
        body: '{"gateways":[{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:09.649174Z","gateway_networks":[],"id":"625487a3-7fad-497a-b040-ab550da4feae","ip":{"address":"51.158.160.128","created_at":"2025-01-27T09:16:09.612360Z","gateway_id":"625487a3-7fad-497a-b040-ab550da4feae","id":"b3dace1f-6637-4155-bd19-401846471f43","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"128-160-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:09.612360Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-27T09:16:15.070772Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.6125ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/48632d57-88f6-4e71-b32f-62e5f3ff0e01?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 47.604042ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/48632d57-88f6-4e71-b32f-62e5f3ff0e01
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"48632d57-88f6-4e71-b32f-62e5f3ff0e01","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.834791ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/625487a3-7fad-497a-b040-ab550da4feae?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 138.701125ms
[...]
