---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"public-gateway-with-not-default-zone\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
    method: POST
  response:
    body: "{\"id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.709015Z\",\"updated_at\":\"2025-08-26T16:32:46.709015Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-with-not-default-zone\",\"tags\":[],\"ipv4\":{\"id\":\"35eb50bf-a7e4-46c2-bbbd-b58e2dda90cf\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.681986Z\",\"updated_at\":\"2025-08-26T16:32:46.681986Z\",\"tags\":[],\"address\":\"51.15.51.42\",\"reverse\":\"42-51-15-51.instances.scw.cloud\",\"gateway_id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 947.487654ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/468b0427-a75e-4652-a799-3647f93ed18c
    method: GET
  response:
    body: "{\"id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.709015Z\",\"updated_at\":\"2025-08-26T16:32:46.766400Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-with-not-default-zone\",\"tags\":[],\"ipv4\":{\"id\":\"35eb50bf-a7e4-46c2-bbbd-b58e2dda90cf\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.681986Z\",\"updated_at\":\"2025-08-26T16:32:46.681986Z\",\"tags\":[],\"address\":\"51.15.51.42\",\"reverse\":\"42-51-15-51.instances.scw.cloud\",\"gateway_id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 75.1964ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"TestAccScalewayDataSourceVPCPublicGateway_Basic\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"b38e16ce-e665-417f-b02c-fd6a3a3fd2b3\",\"organization_id\":\"105bd[...]
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b38e16ce-e665-417f-b02c-fd6a3a3fd2b3
    method: GET
  response:
    body: "{\"id\":\"b38e16ce-e665-417f-b02c-fd6a3a3fd2b3\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.108884Z\",\"updated_at\":\"2025-08-26T16:32:47.141659Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"TestAccScalewayDataSourceVPCPublicGateway_Basic\",\"tags\":[],\"ipv4\":{\"id\":\"e3e31b70-a1a1-4ff3-9608-2f2032aeb7ea\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.094850Z\",\"updated_at\":\"2025-08-26T16:32:47.094850Z\",\"tags\":[],\"address\":\"51.15.205.215\",\"reverse\":\"215-205-15-51.instances.scw.cloud\",\"gateway_id\":\"b38e16ce-e665-417f-b02c-fd6a3a3fd2b3\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 74.19676ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      include_legacy:
      - "true"
      name:
      - public-gateway-with-not-default-zone
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways?include_legacy=true&name=public-gateway-with-not-default-zone&order_by=created_at_asc
    method: GET
  response:
    body: "{\"gateways\":[{\"id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.709015Z\",\"updated_at\":\"2025-08-26T16:32:56.385623Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"running\",\"name\":\"public-gateway-with-not-default-zone\",\"tags\":[],\"ipv4\":{\"id\":\"35eb50bf-a7e4-46c2-bbbd-b58e2dda90cf\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.681986Z\",\"updated_at\":\"2025-08-26T16:32:46.681986Z\",\"tags\":[],\"address\":\"51.15.51.42\",\"reverse\":\"42-51-15-51.instances.scw.cloud\",\"gateway_id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 257.878959ms
- id: 16
  request:
    host: api.scaleway.com
    form:
      include_legacy:
      - "true"
      name:
      - TestAccScalewayDataSourceVPCPublicGateway_Basic
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?include_legacy=true&name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc
    method: GET
  response:
    body: "{\"gateways\":[{\"id\":\"b38e16ce-e665-417f-b02c-fd6a3a3fd2b3\",\"organization_id\[...]
[...]
- id: 48
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b38e16ce-e665-417f-b02c-fd6a3a3fd2b3?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"b38e16ce-e665-417f-b02c-fd6a3a3fd2b3\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.108884Z\",\"updated_at\":\"2025-08-26T16:33:06.906456Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"TestAccScalewayDataSourceVPCPublicGateway_Basic\",\"tags\":[],\"ipv4\":{\"id\":\"e3e31b70-a1a1-4ff3-9608-2f2032aeb7ea\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.094850Z\",\"updated_at\":\"2025-08-26T16:32:47.094850Z\",\"tags\":[],\"address\":\"51.15.205.215\",\"reverse\":\"215-205-15-51.instances.scw.cloud\",\"gateway_id\":\"b38e16ce-e665-417f-b02c-fd6a3a3fd2b3\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 64.805035ms
- id: 49
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/468b0427-a75e-4652-a799-3647f93ed18c?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.709015Z\",\"updated_at\":\"2025-08-26T16:33:06.939163Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"public-gateway-with-not-default-zone\",\"tags\":[],\"ipv4\":{\"id\":\"35eb50bf-a7e4-46c2-bbbd-b58e2dda90cf\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.681986Z\",\"updated_at\":\"2025-08-26T16:32:46.681986Z\",\"tags\":[],\"address\":\"51.15.51.42\",\"reverse\":\"42-51-15-51.instances.scw.cloud\",\"gateway_id\":\"468b0427-a75e-4652-a799-3647f93ed18c\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.203873ms
- id: 50
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b38e16ce-e665-417f-b02c-fd6a3a3fd2b3
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway\",\"resource_id\":\"b38e16ce-e665-417f-b02c-fd6a3a3fd2b3\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 68.190204ms
[...]
