---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"e139b739-9471-4558-882b-6e9df6c45cad\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:14.370334Z\",\"updated_at\":\"2025-08-27T16:38:14.370334Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.288138ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e139b739-9471-4558-882b-6e9df6c45cad
    method: GET
  response:
    body: "{\"id\":\"e139b739-9471-4558-882b-6e9df6c45cad\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:14.370334Z\",\"updated_at\":\"2025-08-27T16:38:14.370334Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 45.245783ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn_test_network\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"tags\":[],\"subnets\":[\"172.16.32.0/22\"],\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"6e203b4b-ac2a-42a1-9262-6d385721da88\",\"name\":\"pn_test_network\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:14.377040Z\",\"updated_at\":\"2025-08-27T16:38:14.377040Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"a40bb6a4-b666-4ca2-9eba-35a3962e4e00\",\"created_at\":\"2025-08-27T16:38:14.377040Z\",\"updated_at\":\"2025-08-27T16:38:14.377040Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"6e203b4b-ac2a-42a1-9262-6d385721da88\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"19c8e974-752e-4d04-9447-331b9743999b\",\"created_at\":\"2025-08-27T16:38:14.377040Z\",\"updated_at\":\"2025-08-27T16:38:14.377040Z\",\"subnet\":\"fd63:256c:45f7:1960::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"6e203b4b-ac2a-42a1-9262-6d385721da88\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 674.269767ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6e203b4b-ac2a-42a1-9262-6d385721da88
    method: GET
  response:
    body: "{\"id\":\"6e203b4b-ac2a-42a1-9262-6d385721da88\",\"name\":\"pn_test_network\",\"tags\":[],\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:14.377040Z\",\"updated_at\":\"2025-08-27T16:38:14.377040Z\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"subnets\":[{\"id\":\"a40bb6a4-b666-4ca2-9eba-35a3962e4e00\",\"created_at\":\"2025-08-27T16:38:14.377040Z\",\"updated_at\":\"2025-08-27T16:38:14.377040Z\",\"subnet\":\"172.16.32.0/22\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"6e203b4b-ac2a-42a1-9262-6d385721da88\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"},{\"id\":\"19c8e974-752e-4d04-9447-331b9743999b\",\"created_at\":\"2025-08-27T16:38:14.377040Z\",\"updated_at\":\"2025-08-27T16:38:14.377040Z\",\"subnet\":\"fd63:256c:45f7:1960::/64\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"private_network_id\":\"6e203b4b-ac2a-42a1-9262-6d385721da88\",\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\"}],\"vpc_id\":\"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 48.082211ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"name\":\"tf-pn-beautiful-liskov\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"5573c6f6-5f73-44db-ab70-88c15764f699\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:15.013270Z\",\"updated_at\":\"2025-08-27T16:38:15.013270Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"tf-pn-beautiful-liskov\",\"tags\":[],\"ipv4\":{\"id\":\"5cd8206f-cc82-49d3-9965-2628d2d2d667\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:14.992413Z\",\"updated_at\":\"2025-08-27T16:38:14.992413Z\",\"tags\":[],\"address\":\"51.158.106.138\",\"reverse\":\"138-106-158-51.instances.scw.cloud\",\"gateway_id\":\"5573c6f6-5f73-44db-ab70-88c15764f699\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 758.555595ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5573c6f6-5f73-44db-ab70-88c15764f699
    method: GET
  response:
    body: "{\"id\":\"5573c6f6-5f73-44db-ab70-88c15764f699\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:15.013270Z\",\"updated_at\":\"2025-08-27T16:38:15.053523Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"tf-pn-beautiful-liskov\",\"tags\":[],\"ipv4\":{\"id\":\"5cd8206f-cc82-49d3-9965-2628d2d2d667\",\"organization_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"project_id\":\"fa1e3217-dc80-42ac-85c3-3f034b78b552\",\"created_at\":\"2025-08-27T16:38:14.992413Z\",\"updated_at\":\"2025-08-27T16:38:14.992413Z\",\"tags\":[],\"address\":\"51.158.106.138\",\"reverse\":\"138-106-158-51.instances.scw.cloud\",\"gateway_id\":\"5573c6f6-5f73-44db-ab70-88c15764f699\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 54.062254ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers?page=1
    method: GET
  response:
    body: "{\"servers\": {\"COPARM1-16C-64G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 16, \"ram\": 68719476736, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 252.14, \"hourly_price\": 0.3454, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 1600000000, \"sum_internet_bandwidth\": 1600000000, \"interfaces\": [{\"internal_bandwidth\": 1600000000, \"internet_bandwidth\": 1600000000}]}, \"block_bandwidth\": 671088640, \"end_of_service\": false}, \"COPARM1-2C-8G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 2, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 31.1, \"hourly_price\": 0.0426, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 200000000, \"sum_internet_bandwidth\": 200000000, \"interfaces\": [{\"internal_bandwidth\": 200000000, \"internet_bandwidth\": 200000000}]}, \"block_bandwidth\": 83886080, \"end_of_service\": false}, \"COPARM1-32C-128G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 32, \"ram\": 137438953472, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 506.26, \"hourly_price\": 0.6935, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 3200000000, \"sum_internet_bandwidth\": 3200000000, \"interfaces\": [{\"internal_bandwidth\": 3200000000, \"internet_bandwidth\": 3200000000}]}, \"block_bandwidth\": 1342177280, \"end_of_service\": false}, \"COPARM1-4C-16G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 4, \"ram\": 17179869184, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 62.56, \"hourly_price\": 0.0857, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 400000000, \"sum_internet_bandwidth\": 400000000, \"interfaces\": [{\"internal_bandwidth\": 400000000, \"internet_bandwidth\": 400000000}]}, \"block_bandwidth\": 167772160, \"end_of_service\": false}, \"COPARM1-8C-32G\": {\"alt_names\": [], \"arch\": \"arm64\", \"ncpus\": 8, \"ram\": 34359738368, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 125.85, \"hourly_price\": 0.1724, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 800000000, \"sum_internet_bandwidth\": 800000000, \"interfaces\": [{\"internal_bandwidth\": 800000000, \"internet_bandwidth\": 800000000}]}, \"block_bandwidth\": 335544320, \"end_of_service\": false}, \"DEV1-L\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 80000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 36.1496, \"hourly_price\": 0.04952, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 400000000, \"sum_internet_bandwidth\": 400000000, \"interfaces\": [{\"internal_bandwidth\": 400000000, \"internet_bandwidth\": 400000000}]}, \"block_bandwidth\": 209715200, \"end_of_service\": false}, \"DEV1-M\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 3, \"ram\": 4294967296, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 40000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 18.6588, \"hourly_price\": 0.02556, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 300000000, \"sum_internet_bandwidth\": 300000000, \"interfaces\": [{\"internal_bandwidth\": 300000000, \"internet_bandwidth\": 300000000}]}, \"block_bandwidth\": 157286400, \"end_of_service\": false}, \"DEV1-S\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 2, \"ram\": 2147483648, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 20000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 9.9864, \"hourly_price\": 0.01368, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 200000000, \"sum_internet_bandwidth\": 200000000, \"interfaces\": [{\"internal_bandwidth\": 200000000, \"internet_bandwidth\": 200000000}]}, \"block_bandwidth\": 104857600, \"end_of_service\": false}, \"DEV1-XL\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 12884901888, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 120000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 53.3484, \"hourly_price\": 0.07308, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 500000000, \"sum_internet_bandwidth\": 500000000, \"interfaces\": [{\"internal_bandwidth\": 500000000, \"internet_bandwidth\": 500000000}]}, \"block_bandwidth\": 262144000, \"end_of_service\": false}, \"ENT1-2XL\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 96, \"ram\": 412316860416, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 2576.9, \"hourly_price\": 3.53, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 21474836480, \"end_of_service\": true}, \"ENT1-L\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 32, \"ram\": 137438953472, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 861.4, \"hourly_price\": 1.18, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 6400000000, \"sum_internet_bandwidth\": 6400000000, \"interfaces\": [{\"internal_bandwidth\": 6400000000, \"internet_bandwidth\": 6400000000}]}, \"block_bandwidth\": 5905580032, \"end_of_service\": true}, \"ENT1-M\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 16, \"ram\": 68719476736, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 430.7, \"hourly_price\": 0.59, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 3200000000, \"sum_internet_bandwidth\": 3200000000, \"interfaces\": [{\"internal_bandwidth\": 3200000000, \"internet_bandwidth\": 3200000000}]}, \"block_bandwidth\": 3355443200, \"end_of_service\": true}, \"ENT1-S\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 8, \"ram\": 34359738368, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 211.7, \"hourly_price\": 0.29, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 1600000000, \"sum_internet_bandwidth\": 1600000000, \"interfaces\": [{\"internal_bandwidth\": 1600000000, \"internet_bandwidth\": 1600000000}]}, \"block_bandwidth\": 1677721600, \"end_of_service\": true}, \"ENT1-XL\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 64, \"ram\": 274877906944, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 1715.5, \"hourly_price\": 2.35, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 12800000000, \"sum_internet_bandwidth\": 12800000000, \"interfaces\": [{\"internal_bandwidth\": 12800000000, \"internet_bandwidth\": 12800000000}]}, \"block_bandwidth\": 5905580032, \"end_of_service\": true}, \"ENT1-XS\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 17179869184, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 107.31, \"hourly_price\": 0.147, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 800000000, \"sum_internet_bandwidth\": 800000000, \"interfaces\": [{\"internal_bandwidth\": 800000000, \"internet_bandwidth\": 800000000}]}, \"block_bandwidth\": 838860800, \"end_of_service\": true}, \"ENT1-XXS\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 2, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 53.655, \"hourly_price\": 0.0735, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 400000000, \"sum_internet_bandwidth\": 400000000, \"interfaces\": [{\"internal_bandwidth\": 400000000, \"internet_bandwidth\": 400000000}]}, \"block_bandwidth\": 419430400, \"end_of_service\": true}, \"GP1-L\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 32, \"ram\": 137438953472, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 600000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 576.262, \"hourly_price\": 0.7894, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 5000000000, \"sum_internet_bandwidth\": 5000000000, \"interfaces\": [{\"internal_bandwidth\": 5000000000, \"internet_bandwidth\": 5000000000}]}, \"block_bandwidth\": 1073741824, \"end_of_service\": false}, \"GP1-M\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 16, \"ram\": 68719476736, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 600000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 296.672, \"hourly_price\": 0.4064, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 1500000000, \"sum_internet_bandwidth\": 1500000000, \"interfaces\": [{\"internal_bandwidth\": 1500000000, \"internet_bandwidth\": 1500000000}]}, \"block_bandwidth\": 838860800, \"end_of_service\": false}, \"GP1-S\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 8, \"ram\": 34359738368, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 300000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 149.066, \"hourly_price\": 0.2042, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 800000000, \"sum_internet_bandwidth\": 800000000, \"interfaces\": [{\"internal_bandwidth\": 800000000, \"internet_bandwidth\": 800000000}]}, \"block_bandwidth\": 524288000, \"end_of_service\": false}, \"GP1-XL\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 48, \"ram\": 274877906944, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 600000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 1220.122, \"hourly_price\": 1.6714, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 10000000000, \"sum_internet_bandwidth\": 10000000000, \"interfaces\": [{\"internal_bandwidth\": 10000000000, \"internet_bandwidth\": 10000000000}]}, \"block_bandwidth\": 2147483648, \"end_of_service\": false}, \"GP1-XS\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 17179869184, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 150000000000}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 1000000000, \"max_size\": 800000000000}}, \"scratch_storage_max_size\": null, \"monthly_price\": 74.168, \"hourly_price\": 0.1016, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": true, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 500000000, \"sum_internet_bandwidth\": 500000000, \"interfaces\": [{\"internal_bandwidth\": 500000000, \"internet_bandwidth\": 500000000}]}, \"block_bandwidth\": 314572800, \"end_of_service\": false}, \"L4-1-24G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 8, \"ram\": 51539607552, \"gpu\": 1, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"L4\", \"gpu_memory\": 25769803776}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 547.5, \"hourly_price\": 0.75, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 2500000000, \"sum_internet_bandwidth\": 2500000000, \"interfaces\": [{\"internal_bandwidth\": 2500000000, \"internet_bandwidth\": 2500000000}]}, \"block_bandwidth\": 1048576000, \"end_of_service\": false}, \"L4-2-24G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 16, \"ram\": 103079215104, \"gpu\": 2, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"L4\", \"gpu_memory\": 25769803776}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 1095.0, \"hourly_price\": 1.5, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 5000000000, \"sum_internet_bandwidth\": 5000000000, \"interfaces\": [{\"internal_bandwidth\": 5000000000, \"internet_bandwidth\": 5000000000}]}, \"block_bandwidth\": 1572864000, \"end_of_service\": false}, \"L4-4-24G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 32, \"ram\": 206158430208, \"gpu\": 4, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"L4\", \"gpu_memory\": 25769803776}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 2190.0, \"hourly_price\": 3.0, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 10000000000, \"sum_internet_bandwidth\": 10000000000, \"interfaces\": [{\"internal_bandwidth\": 10000000000, \"internet_bandwidth\": 10000000000}]}, \"block_bandwidth\": 2621440000, \"end_of_service\": false}, \"L4-8-24G\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 64, \"ram\": 412316860416, \"gpu\": 8, \"gpu_info\": {\"gpu_manufacturer\": \"NVIDIA\", \"gpu_name\": \"L4\", \"gpu_memory\": 25769803776}, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 4380.0, \"hourly_price\": 6.0, \"capabilities\": {\"boot_types\": [\"local\", \"rescue\"], \"placement_groups\": true, \"block_storage\": true, \"hot_snapshots_local_volume\": false, \"private_network\": 8, \"max_file_systems\": 0}, \"network\": {\"ipv6_support\": true, \"sum_internal_bandwidth\": 20000000000, \"sum_internet_bandwidth\": 20000000000, \"interfaces\": [{\"internal_bandwidth\": 20000000000, \"internet_bandwidth\": 20000000000}]}, \"block_bandwidth\": 5242880000, \"end_of_service\": false}, \"PLAY2-MICRO\": {\"alt_names\": [], \"arch\": \"x86_64\", \"ncpus\": 4, \"ram\": 8589934592, \"gpu\": 0, \"gpu_info\": null, \"mig_profile\": null, \"volumes_constraint\": {\"min_size\": 0, \"max_size\": 0}, \"per_volume_constraint\": {\"l_ssd\": {\"min_size\": 0, \"max_size\": 0}}, \"scratch_storage_max_size\": null, \"monthly_price\": 39.42, \"hourly_price\": 0.054, \"capabilities\": {
[...]
