---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"212.47.239.248","created_at":"2025-01-27T09:16:21.971042Z","gateway_id":null,"id":"61bb75b3-764a-4548-a96e-4b154363ee25","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"248-239-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:21.971042Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.440130958s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/61bb75b3-764a-4548-a96e-4b154363ee25
        method: GET
      response:
        body: '{"address":"212.47.239.248","created_at":"2025-01-27T09:16:21.971042Z","gateway_id":null,"id":"61bb75b3-764a-4548-a96e-4b154363ee25","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"248-239-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:21.971042Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.19325ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/61bb75b3-764a-4548-a96e-4b154363ee25
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"61bb75b3-764a-4548-a96e-4b154363ee25","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.797375ms
[...]
