---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.221.207","created_at":"2025-05-22T14:57:58.269541Z","id":"c6bdbbd1-fc56-48bf-a290-475524a5f469","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:57:58.269541Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.06854075s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/c6bdbbd1-fc56-48bf-a290-475524a5f469
        method: GET
      response:
        body: '{"address":"51.15.221.207","created_at":"2025-05-22T14:57:58.269541Z","id":"c6bdbbd1-fc56-48bf-a290-475524a5f469","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:57:58.269541Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.610292ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/c6bdbbd1-fc56-48bf-a290-475524a5f469
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"c6bdbbd1-fc56-48bf-a290-475524a5f469","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.322334ms
[...]
