---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T17:12:15.104034Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"78af3a59-d1e3-4bb9-b0a5-8331cf45845f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:12:15.104034Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.694803ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/78af3a59-d1e3-4bb9-b0a5-8331cf45845f
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T17:12:15.104034Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"78af3a59-d1e3-4bb9-b0a5-8331cf45845f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:12:15.104034Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.780701ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:12:15.106925Z","dhcp_enabled":true,"id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:12:15.106925Z","id":"edaa2d6c-52c2-457b-b2cb-ae13927e8e7c","private_network_id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T17:12:15.106925Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:12:15.106925Z","id":"d6d99656-d7c8-4306-aff3-ee39aa116aa4","private_network_id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:35ae::/64","updated_at":"2024-10-03T17:12:15.106925Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:12:15.106925Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 572.241729ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dc2740b9-edf4-4b8a-9ff1-eeb8937435fe
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:12:15.106925Z","dhcp_enabled":true,"id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:12:15.106925Z","id":"edaa2d6c-52c2-457b-b2cb-ae13927e8e7c","private_network_id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T17:12:15.106925Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:12:15.106925Z","id":"d6d99656-d7c8-4306-aff3-ee39aa116aa4","private_network_id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:35ae::/64","updated_at":"2024-10-03T17:12:15.106925Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:12:15.106925Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.97986ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-focused-gagarin","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:12:15.817022Z","gateway_networks":[],"id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","ip":{"address":"51.158.103.218","created_at":"2024-10-03T17:12:15.793762Z","gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","id":"39b59607-e089-49b1-8b61-ebc15087b5e1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:12:15.793762Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-focused-gagarin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:12:15.817022Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 819.608343ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a734b06c-7c2e-4fcf-9142-55015b53ba75
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:12:15.817022Z","gateway_networks":[],"id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","ip":{"address":"51.158.103.218","created_at":"2024-10-03T17:12:15.793762Z","gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","id":"39b59607-e089-49b1-8b61-ebc15087b5e1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:12:15.793762Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-pn-focused-gagarin","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:12:15.857070Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.737327ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","private_network_id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"78af3a59-d1e3-4bb9-b0a5-8331cf45845f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-03T17:12:29.378850Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T17:12:15.104034Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"78af3a59-d1e3-4bb9-b0a5-8331cf45845f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:12:15.104034Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","id":"c57c712d-d7cd-4418-a8e9-0daa25f303a9","ipam_config":null,"mac_address":null,"private_network_id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","status":"created","updated_at":"2024-10-03T17:12:29.378850Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.984684279s
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c57c712d-d7cd-4418-a8e9-0daa25f303a9
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-03T17:12:29.378850Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T17:12:15.104034Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"78af3a59-d1e3-4bb9-b0a5-8331cf45845f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:12:15.104034Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","id":"c57c712d-d7cd-4418-a8e9-0daa25f303a9","ipam_config":null,"mac_address":"02:00:00:1A:B4:5D","private_network_id":"dc2740b9-edf4-4b8a-9ff1-eeb8937435fe","status":"ready","updated_at":"2024-10-03T17:12:40.176256Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.705195ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=dc2740b9-edf4-4b8a-9ff1-eeb8937435fe&resource_id=c57c712d-d7cd-4418-a8e9-0daa25f303a9&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.1/24","created_at":"2024-10-03T17:12:29.328242Z","id":"b291330a-d807-4e3b-abba-040645a08fb8","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"c57c712d-d7cd-4418-a8e9-0daa25f303a9","mac_address":"02:00:00:1A:B4:5D","name":"tf-pn-focused-gagarin","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"edaa2d6c-52c2-457b-b2cb-ae13927e8e7c"},"tags":[],"updated_at":"2024-10-03T17:12:29.975188Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.683872ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:12:45.038700Z","gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","id":"e48c1b7d-0b3a-4dd8-9583-d8be86bb9705","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2024-10-03T17:12:45.038700Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.878346ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/e48c1b7d-0b3a-4dd8-9583-d8be86bb9705
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:12:45.038700Z","gateway_id":"a734b06c-7c2e-4fcf-9142-55015b53ba75","id":"e48c1b7d-0b3a-4dd8-9583-d8be86bb9705","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2024-10-03T17:12:45.038700Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.95105ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c57c712d-d7cd-4418-a8e9-0daa25f303a9?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 71.606266ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/c57c712d-d7cd-4418-a8e9-0daa25f303a9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c57c712d-d7cd-4418-a8e9-0daa25f303a9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.000582ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a734b06c-7c2e-4fcf-9142-55015b53ba75?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 45.124759ms
[...]
