---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.141.184","created_at":"2026-08-26T12:24:22.717692Z","id":"0dca5bbd-4b55-4756-acd8-a0132c5c2453","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"184-141-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:22.717692Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 842.167042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.780696ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/0dca5bbd-4b55-4756-acd8-a0132c5c2453
        method: GET
      response:
        body: '{"address":"51.15.141.184","created_at":"2026-08-26T12:24:22.717692Z","id":"0dca5bbd-4b55-4756-acd8-a0132c5c2453","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"184-141-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:22.717692Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.591627ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-optimistic-spence","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:24:22.201068Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","name":"tf-pn-optimistic-spence","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T12:24:22.201068Z","id":"f3af7b45-1038-46de-9ef8-456c82ddf6c2","private_network_id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.180.0/22","updated_at":"2026-08-26T12:24:22.201068Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"},{"created_at":"2026-08-26T12:24:22.201068Z","id":"8c522f62-450d-4bb4-b658-533f5fbf9c36","private_network_id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:6bd7::/64","updated_at":"2026-08-26T12:24:22.201068Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}],"tags":[],"updated_at":"2026-08-26T12:24:22.201068Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 977.23526ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:24:22.201068Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","name":"tf-pn-optimistic-spence","[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-silly-blackwell","tags":[],"type":"VPC-GW-S","ip_id":"0dca5bbd-4b55-4756-acd8-a0132c5c2453","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:24:23.065407Z","gateway_networks":[],"id":"8fc001bb-04f7-4936-8272-c8fc72354686","ipv4":{"address":"51.15.141.184","created_at":"2026-08-26T12:24:22.717692Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"0dca5bbd-4b55-4756-acd8-a0132c5c2453","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"184-141-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:22.717692Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-silly-blackwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:24:23.065407Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.929997ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/8fc001bb-04f7-4936-8272-c8fc72354686
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:24:23.065407Z","gateway_networks":[],"id":"8fc001bb-04f7-4936-8272-c8fc72354686","ipv4":{"address":"51.15.141.184","created_at":"2026-08-26T12:24:22.717692Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"0dca5bbd-4b55-4756-acd8-a0132c5c2453","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"184-141-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:22.717692Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-silly-blackwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:24:23.131027Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.585808ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","private_network_id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","enable_masquerade":true,"push_default_route":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:24:28.849890Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"73d4f316-f8db-4781-bb77-e1b9d0f73220","ipam_ip_id":"acd7690e-3507-476c-82bb-22e162663720","masquerade_enabled":true,"private_network_id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","push_default_route":false,"status":"created","updated_at":"2026-08-26T12:24:28.849890Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 714.791942ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/8fc001bb-04f7-4936-8272-c8fc72354686
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:24:23.065407Z","gateway_networks":[{"created_at":"2026-08-26T12:24:28.849890Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"73d4f316-f8db-4781-bb77-e1b9d0f73220","ipam_ip_id":"acd7690e-3507-476c-82bb-22e162663720","mac_address":"02:00:00:14:1A:6A","masquerade_enabled":true,"private_network_id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","push_default_route":false,"status":"ready","updated_at":"2026-08-26T12:24:35.816913Z","zone":"fr-par-1"}],"id":"8fc001bb-04f7-4936-8272-c8fc72354686","ipv4":{"address":"51.15.141.184","created_at":"2026-08-26T12:24:22.717692Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"0dca5bbd-4b55-4756-acd8-a0132c5c2453","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"184-141-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:22.717692Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-silly-blackwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:24:35.934993Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.885945ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/73d4f316-f8db-4781-bb77-e1b9d0f73220
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:24:28.849890Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"73d4f316-f8db-4781-bb77-e1b9d0f73220","ipam_ip_id":"acd7690e-3507-476c-82bb-22e162663720","mac_address":"02:00:00:14:1A:6A","masquerade_enabled":true,"private_network_id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","push_default_route":false,"status":"ready","updated_at":"2026-08-26T12:24:35.816913Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.224677ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=73d4f316-f8db-4781-bb77-e1b9d0f73220&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"10.4.180.2/22","created_at":"2026-08-26T12:24:28.818572Z","id":"acd7690e-3507-476c-82bb-22e162663720","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"73d4f316-f8db-4781-bb77-e1b9d0f73220","mac_address":"02:00:00:14:1A:6A","name":"tf-pn-silly-blackwell","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"f3af7b45-1038-46de-9ef8-456c82ddf6c2"},"tags":[],"updated_at":"2026-08-26T12:24:29.302047Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.80645ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=8fc001bb-04f7-4936-8272-c8fc72354686&order_by=created_at_asc&private_network_ids=90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f
        method: GET
      response:
        body: '{"gateway_networks":[{"created_at":"2026-08-26T12:24:28.849890Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"73d4f316-f8db-4781-bb77-e1b9d0f73220","ipam_ip_id":"acd7690e-3507-476c-82bb-22e162663720","mac_address":"02:00:00:14:1A:6A","masquerade_enabled":true,"private_network_id":"90d02c9a-d1a5-4a58-87ef-466e3e4d3a2f","push_default_route":false,"status":"ready","updated_at":"2026-08-26T12:24:35.816913Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.589737ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/73d4f316-f8db-4781-bb77-e1b9d0f73220
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"73d4f316-f8db-4781-bb77-e1b9d0f73220","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.511579ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/8fc001bb-04f7-4936-8272-c8fc72354686?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:24:23.065407Z","gateway_networks":[],"id":"8fc001bb-04f7-4936-8272-c8fc72354686","ipv4":{"address":"51.15.141.184","created_at":"2026-08-26T12:24:22.717692Z","gateway_id":"8fc001bb-04f7-4936-8272-c8fc72354686","id":"0dca5bbd-4b55-4756-acd8-a0132c5c2453","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"184-141-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:22.717692Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-silly-blackwell","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:24:48.338152Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.213532ms
[...]
