---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-vibrant-varahamihira","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-21T14:35:48.129466Z","dhcp_enabled":true,"id":"2672bc5e-1565-4047-b2d6-4f484c42170d","name":"tf-pn-vibrant-varahamihira","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-21T14:35:48.129466Z","id":"d778a0ef-daa7-4136-a1a8-64e38f9d80c7","private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2025-03-21T14:35:48.129466Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-03-21T14:35:48.129466Z","id":"316caafb-af0e-4297-ac2c-57dcd8560f27","private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:af44::/64","updated_at":"2025-03-21T14:35:48.129466Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-03-21T14:35:48.129466Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 690.833692ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.157.246","created_at":"2025-03-21T14:35:48.834879Z","id":"55bb0b10-987d-4977-8bc9-93342e725248","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:35:48.834879Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 875.767385ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2672bc5e-1565-4047-b2d6-4f484c42170d
        method: GET
      response:
        body: '{"created_at":"2025-03-21T14:35:48.129466Z","dhcp_enabled":true,"id":"2672bc5e-1565-4047-b2d6-4f484c42170d","name":"tf-pn-vibrant-varahamihira","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-21T14:35:48.129466Z","id":"d778a0ef-daa7-4136-a1a8-64e38f9d80c7","private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2025-03-21T14:35:48.129466Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-03-21T14:35:48.129466Z","id":"316caafb-af0e-4297-ac2c-57dcd8560f27","private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:af44::/64","updated_at":"2025-03-21T14:35:48.129466Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-03-21T14:35:48.129466Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.195146ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/55bb0b10-987d-4977-8bc9-93342e725248
        method: GET
      response:
        body: '{"address":"163.172.157.246","created_at":"2025-03-21T14:35:48.834879Z","id":"55bb0b10-987d-4977-8bc9-93342e725248","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:35:48.834879Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.298473ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-adoring-johnson","tags":[],"type":"VPC-GW-S","ip_id":"55bb0b10-987d-4977-8bc9-93342e725248","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:35:49.031968Z","gateway_networks":[],"id":"419c7e78-7788-413d-8206-b7cc036e64c8","ipv4":{"address":"163.172.157.246","created_at":"2025-03-21T14:35:48.834879Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"55bb0b10-987d-4977-8bc9-93342e725248","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:35:48.834879Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-adoring-johnson","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:35:49.031968Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.951059ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/419c7e78-7788-413d-8206-b7cc036e64c8
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:35:49.031968Z","gateway_networks":[],"id":"419c7e78-7788-413d-8206-b7cc036e64c8","ipv4":{"address":"163.172.157.246","created_at":"2025-03-21T14:35:48.834879Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"55bb0b10-987d-4977-8bc9-93342e725248","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:35:48.834879Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-adoring-johnson","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:35:49.066795Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.750368ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","enable_masquerade":true,"push_default_route":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-21T14:35:55.242457Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"c27a5c57-d86c-442f-baf5-ae3e84e1ccd6","ipam_ip_id":"5662e6bb-58aa-4d72-8983-899388825d2e","masquerade_enabled":true,"private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","push_default_route":false,"status":"created","updated_at":"2025-03-21T14:35:55.242457Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.124462233s
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/419c7e78-7788-413d-8206-b7cc036e64c8
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:35:49.031968Z","gateway_networks":[{"created_at":"2025-03-21T14:35:55.242457Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"c27a5c57-d86c-442f-baf5-ae3e84e1ccd6","ipam_ip_id":"5662e6bb-58aa-4d72-8983-899388825d2e","mac_address":"02:00:00:11:93:78","masquerade_enabled":true,"private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","push_default_route":false,"status":"configuring","updated_at":"2025-03-21T14:36:01.058749Z","zone":"fr-par-1"}],"id":"419c7e78-7788-413d-8206-b7cc036e64c8","ipv4":{"address":"163.172.157.246","created_at":"2025-03-21T14:35:48.834879Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"55bb0b10-987d-4977-8bc9-93342e725248","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:35:48.834879Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-adoring-johnson","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:35:55.349279Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.425511ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/c27a5c57-d86c-442f-baf5-ae3e84e1ccd6
        method: GET
      response:
        body: '{"created_at":"2025-03-21T14:35:55.242457Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"c27a5c57-d86c-442f-baf5-ae3e84e1ccd6","ipam_ip_id":"5662e6bb-58aa-4d72-8983-899388825d2e","mac_address":"02:00:00:11:93:78","masquerade_enabled":true,"private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","push_default_route":false,"status":"ready","updated_at":"2025-03-21T14:36:05.650288Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.114272ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=419c7e78-7788-413d-8206-b7cc036e64c8&order_by=created_at_asc&private_network_ids=2672bc5e-1565-4047-b2d6-4f484c42170d
        method: GET
      response:
        body: '{"gateway_networks":[{"created_at":"2025-03-21T14:35:55.242457Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"c27a5c57-d86c-442f-baf5-ae3e84e1ccd6","ipam_ip_id":"5662e6bb-58aa-4d72-8983-899388825d2e","mac_address":"02:00:00:11:93:78","masquerade_enabled":true,"private_network_id":"2672bc5e-1565-4047-b2d6-4f484c42170d","push_default_route":false,"status":"ready","updated_at":"2025-03-21T14:36:05.650288Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.541968ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/c27a5c57-d86c-442f-baf5-ae3e84e1ccd6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"c27a5c57-d86c-442f-baf5-ae3e84e1ccd6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.199704ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/419c7e78-7788-413d-8206-b7cc036e64c8?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:35:49.031968Z","gateway_networks":[],"id":"419c7e78-7788-413d-8206-b7cc036e64c8","ipv4":{"address":"163.172.157.246","created_at":"2025-03-21T14:35:48.834879Z","gateway_id":"419c7e78-7788-413d-8206-b7cc036e64c8","id":"55bb0b10-987d-4977-8bc9-93342e725248","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:35:48.834879Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-adoring-johnson","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:36:19.407503Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.644348ms
[...]
