---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"3103312c-7f75-4d01-b2f7-b4e17310b731\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.143999Z\",\"updated_at\":\"2025-08-26T16:32:47.143999Z\",\"tags\":[],\"address\":\"163.172.144.206\",\"reverse\":\"206-144-172-163.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.485843896s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/3103312c-7f75-4d01-b2f7-b4e17310b731
    method: GET
  response:
    body: "{\"id\":\"3103312c-7f75-4d01-b2f7-b4e17310b731\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.143999Z\",\"updated_at\":\"2025-08-26T16:32:47.143999Z\",\"tags\":[],\"address\":\"163.172.144.206\",\"reverse\":\"206-144-172-163.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.723277ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-pn-sharp-bohr\",\"tags\":[],\"type\":\"VPC-GW-S\",\"ip_id\":\"3103312c-7f75-4d01-b2f7-b4e17310b731\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.339323Z\",\"updated_at\":\"2025-08-26T16:32:47.339323Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"tf-pn-sharp-bohr\",\"tags\":[],\"ipv4\":{\"id\":\"3103312c-7f75-4d01-b2f7-b4e17310b731\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.143999Z\",\"updated_at\":\"2025-08-26T16:32:47.143999Z\",\"tags\":[],\"address\":\"163.172.144.206\",\"reverse\":\"206-144-172-163.instances.scw.cloud\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.657001ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0095d550-4bbe-446c-b919-c2191d88779a
    method: GET
  response:
    body: "{\"id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.339323Z\",\"updated_at\":\"2025-08-26T16:32:47.381321Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"tf-pn-sharp-bohr\",\"tags\":[],\"ipv4\":{\"id\":\"3103312c-7f75-4d01-b2f7-b4e17310b731\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.143999Z\",\"updated_at\":\"2025-08-26T16:32:47.143999Z\",\"tags\":[],\"address\":\"163.172.144.206\",\"reverse\":\"206-144-172-163.instances.scw.cloud\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 36.914449ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-stupefied-varahamihira\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"name\":\"tf-pn-stupefied-varahamihira\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:46.825756Z\",\"updated_at\":\"2025-08-26T16:32:46.825756Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"ceeebeb1-b943-4e65-84d4-035ae78a83e4\",\"created_at\":\"2025-08-26T16:32:46.825756Z\",\"updated_at\":\"2025-08-26T16:32:46.825756Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"55703c2c-3f34-474e-b81f-e09ecc657331\",\"created_at\":\"2025-08-26T16:32:46.825756Z\",\"updated_at\":\"2025-08-26T16:32:46.825756Z\",\"subnet\":\"fde7:767f:1bb5:132b::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 3.277919883s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff
    method: GET
  response:
    body: "{\"id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"name\":\"tf-pn-stupefied-varahamihira\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:46.825756Z\",\"updated_at\":\"2025-08-26T16:32:46.825756Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"ceeebeb1-b943-4e65-84d4-035ae78a83e4\",\"created_at\":\"2025-08-26T16:32:46.825756Z\",\"updated_at\":\"2025-08-26T16:32:46.825756Z\",\"subnet\":\"172.16.4.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"55703c2c-3f34-474e-b81f-e09ecc657331\",\"created_at\":\"2025-08-26T16:32:46.825756Z\",\"updated_at\":\"2025-08-26T16:32:46.825756Z\",\"subnet\":\"fde7:767f:1bb5:132b::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.469539ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"enable_masquerade\":true,\"push_default_route\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: "{\"id\":\"50ffe8bb-d11a-417d-b3fb-9a11ec0601dd\",\"created_at\":\"2025-08-26T16:32:52.920867Z\",\"updated_at\":\"2025-08-26T16:32:52.920867Z\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"masquerade_enabled\":true,\"status\":\"created\",\"push_default_route\":false,\"ipam_ip_id\":\"5a9f54c0-abd9-4466-b776-527519f5015b\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 474.550913ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0095d550-4bbe-446c-b919-c2191d88779a
    method: GET
  response:
    body: "{\"id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.339323Z\",\"updated_at\":\"2025-08-26T16:32:53.051257Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"configuring\",\"name\":\"tf-pn-sharp-bohr\",\"tags\":[],\"ipv4\":{\"id\":\"3103312c-7f75-4d01-b2f7-b4e17310b731\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.143999Z\",\"updated_at\":\"2025-08-26T16:32:47.143999Z\",\"tags\":[],\"address\":\"163.172.144.206\",\"reverse\":\"206-144-172-163.instances.scw.cloud\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[{\"id\":\"50ffe8bb-d11a-417d-b3fb-9a11ec0601dd\",\"created_at\":\"2025-08-26T16:32:52.920867Z\",\"updated_at\":\"2025-08-26T16:32:58.790635Z\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"mac_address\":\"02:00:00:1A:4F:6E\",\"masquerade_enabled\":true,\"status\":\"configuring\",\"push_default_route\":false,\"ipam_ip_id\":\"5a9f54c0-abd9-4466-b776-527519f5015b\",\"zone\":\"fr-par-1\"}],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 43.553719ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/50ffe8bb-d11a-417d-b3fb-9a11ec0601dd
    method: GET
  response:
    body: "{\"id\":\"50ffe8bb-d11a-417d-b3fb-9a11ec0601dd\",\"created_at\":\"2025-08-26T16:32:52.920867Z\",\"updated_at\":\"2025-08-26T16:33:03.353029Z\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"mac_address\":\"02:00:00:1A:4F:6E\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":false,\"ipam_ip_id\":\"5a9f54c0-abd9-4466-b776-527519f5015b\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 170.150409ms
[...]
- id: 17
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - 50ffe8bb-d11a-417d-b3fb-9a11ec0601dd
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=50ffe8bb-d11a-417d-b3fb-9a11ec0601dd&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"5a9f54c0-abd9-4466-b776-527519f5015b\",\"address\":\"172.16.4.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:32:52.885399Z\",\"updated_at\":\"2025-08-26T16:32:53.395454Z\",\"source\":{\"subnet_id\":\"ceeebeb1-b943-4e65-84d4-035ae78a83e4\"},\"resource\":{\"type\":\"vpc_gateway_network\",\"id\":\"50ffe8bb-d11a-417d-b3fb-9a11ec0601dd\",\"mac_address\":\"02:00:00:1A:4F:6E\",\"name\":\"tf-pn-sharp-bohr\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 63.598554ms
[...]
- id: 28
  request:
    host: api.scaleway.com
    form:
      gateway_ids:
      - 0095d550-4bbe-446c-b919-c2191d88779a
      order_by:
      - created_at_asc
      private_network_ids:
      - ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=0095d550-4bbe-446c-b919-c2191d88779a&order_by=created_at_asc&private_network_ids=ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff
    method: GET
  response:
    body: "{\"gateway_networks\":[{\"id\":\"50ffe8bb-d11a-417d-b3fb-9a11ec0601dd\",\"created_at\":\"2025-08-26T16:32:52.920867Z\",\"updated_at\":\"2025-08-26T16:33:03.353029Z\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"private_network_id\":\"ebe4e961-b8c4-4c71-a64c-2cea4d02c1ff\",\"mac_address\":\"02:00:00:1A:4F:6E\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":false,\"ipam_ip_id\":\"5a9f54c0-abd9-4466-b776-527519f5015b\",\"zone\":\"fr-par-1\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 104.042582ms
[...]
- id: 75
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/50ffe8bb-d11a-417d-b3fb-9a11ec0601dd
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway_network\",\"resource_id\":\"50ffe8bb-d11a-417d-b3fb-9a11ec0601dd\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.730715ms
[...]
- id: 77
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0095d550-4bbe-446c-b919-c2191d88779a?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.339323Z\",\"updated_at\":\"2025-08-26T16:33:23.587034Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"tf-pn-sharp-bohr\",\"tags\":[],\"ipv4\":{\"id\":\"3103312c-7f75-4d01-b2f7-b4e17310b731\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.143999Z\",\"updated_at\":\"2025-08-26T16:32:47.143999Z\",\"tags\":[],\"address\":\"163.172.144.206\",\"reverse\":\"206-144-172-163.instances.scw.cloud\",\"gateway_id\":\"0095d550-4bbe-446c-b919-c2191d88779a\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.28363ms
[...]
