---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.696674Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a815c25f-15b2-4de7-ae86-bde471075272","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.696674Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.15225ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/a815c25f-15b2-4de7-ae86-bde471075272
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.696674Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a815c25f-15b2-4de7-ae86-bde471075272","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.696674Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.824041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:51:49.782985Z","dhcp_enabled":true,"id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.782985Z","id":"723a7a9b-47c5-40f1-9f25-86f3926ff6f1","private_network_id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.60.0/22","updated_at":"2025-01-24T14:51:49.782985Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:49.782985Z","id":"2ca56ea0-fd07-428e-bf71-88c6c52b8917","private_network_id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9ae9::/64","updated_at":"2025-01-24T14:51:49.782985Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:49.782985Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.805458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0b16e7d8-5d53-4d5d-b265-e3ecd69022ae
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:51:49.782985Z","dhcp_enabled":true,"id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.782985Z","id":"723a7a9b-47c5-40f1-9f25-86f3926ff6f1","private_network_id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.60.0/22","updated_at":"2025-01-24T14:51:49.782985Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:49.782985Z","id":"2ca56ea0-fd07-428e-bf71-88c6c52b8917","private_network_id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:9ae9::/64","updated_at":"2025-01-24T14:51:49.782985Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:49.782985Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.511292ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-blissful-wiles","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:50.898983Z","gateway_networks":[],"id":"4df09afa-91ff-4033-85d3-4e776f914039","ip":{"address":"51.15.205.142","created_at":"2025-01-24T14:51:50.862932Z","gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","id":"08a3a3db-724a-4dbe-bdbf-36efc743bf2e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"142-205-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.862932Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-blissful-wiles","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:50.898983Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.294635083s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/4df09afa-91ff-4033-85d3-4e776f914039
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:50.898983Z","gateway_networks":[],"id":"4df09afa-91ff-4033-85d3-4e776f914039","ip":{"address":"51.15.205.142","created_at":"2025-01-24T14:51:50.862932Z","gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","id":"08a3a3db-724a-4dbe-bdbf-36efc743bf2e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"142-205-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.862932Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-blissful-wiles","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:50.898983Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.017666ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","private_network_id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"a815c25f-15b2-4de7-ae86-bde471075272"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:52:01.197229Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.696674Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a815c25f-15b2-4de7-ae86-bde471075272","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.696674Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","id":"fd4a61ec-a6e3-4f22-8b80-8f64b225a7f6","ipam_config":null,"mac_address":null,"private_network_id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","status":"created","updated_at":"2025-01-24T14:52:01.197229Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.995625708s
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/fd4a61ec-a6e3-4f22-8b80-8f64b225a7f6
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:52:01.197229Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.696674Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a815c25f-15b2-4de7-ae86-bde471075272","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.696674Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","id":"fd4a61ec-a6e3-4f22-8b80-8f64b225a7f6","ipam_config":null,"mac_address":"02:00:00:18:2D:DD","private_network_id":"0b16e7d8-5d53-4d5d-b265-e3ecd69022ae","status":"ready","updated_at":"2025-01-24T14:52:09.719483Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.001292ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:52:11.712578Z","gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","id":"ac06c08e-0365-44fa-9f59-647b742e4eca","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-24T14:52:11.712578Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.988459ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/ac06c08e-0365-44fa-9f59-647b742e4eca
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:52:11.712578Z","gateway_id":"4df09afa-91ff-4033-85d3-4e776f914039","id":"ac06c08e-0365-44fa-9f59-647b742e4eca","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-24T14:52:11.712578Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.984ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/fd4a61ec-a6e3-4f22-8b80-8f64b225a7f6?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 77.906458ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/fd4a61ec-a6e3-4f22-8b80-8f64b225a7f6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"fd4a61ec-a6e3-4f22-8b80-8f64b225a7f6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.664292ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/4df09afa-91ff-4033-85d3-4e776f914039?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 44.06475ms
[...]
