---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.153.251","created_at":"2025-01-24T14:51:50.817880Z","gateway_id":null,"id":"27db5e80-e34b-4a85-a1f8-10338eed6c3a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"251-153-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.817880Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.303558084s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/27db5e80-e34b-4a85-a1f8-10338eed6c3a
        method: GET
      response:
        body: '{"address":"163.172.153.251","created_at":"2025-01-24T14:51:50.817880Z","gateway_id":null,"id":"27db5e80-e34b-4a85-a1f8-10338eed6c3a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"251-153-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.817880Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.016375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/27db5e80-e34b-4a85-a1f8-10338eed6c3a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"27db5e80-e34b-4a85-a1f8-10338eed6c3a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.179083ms
[...]
