---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:25:00.960115Z","gateway_networks":[],"id":"4733d3d3-69e6-4275-8611-7648515d26dc","ipv4":{"address":"51.15.143.49","created_at":"2026-08-26T12:25:00.942174Z","gateway_id":"4733d3d3-69e6-4275-8611-7648515d26dc","id":"d3c8ef26-c4e5-4a72-9d2d-795ce8160db3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"49-143-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:25:00.942174Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:25:00.960115Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 805.509992ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.737435ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4733d3d3-69e6-4275-8611-7648515d26dc
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:25:00.960115Z","gateway_networks":[],"id":"4733d3d3-69e6-4275-8611-7648515d26dc","ipv4":{"address":"51.15.143.49","created_at":"2026-08-26T12:25:00.942174Z","gateway_id":"4733d3d3-69e6-4275-8611-7648515d26dc","id":"d3c8ef26-c4e5-4a72-9d2d-795ce8160db3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"49-143-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:25:00.942174Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:25:00.997138Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.713029ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-with-not-default-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ip[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:25:01.354513Z","gateway_networks":[],"id":"e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b","ipv4":{"address":"51.15.67.68","created_at":"2026-08-26T12:25:01.329109Z","gateway_id":"e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b","id":"97cb01c7-666c-4347-81a0-9a156f05ab53","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"68-67-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:25:01.329109Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:25:01.405235Z","version":"0.8.5","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.345759ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways?include_legacy=true&name=public-gateway-with-not-default-zone&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:25:01.354513Z","gateway_networks":[],"id":"e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b","ipv4":{"address":"51.15.67.68","created_at":"2026-08-26T12:25:01.329109Z","gateway_id":"e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b","id":"97cb01c7-666c-4347-81a0-9a156f05ab53","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"68-67-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:25:01.329109Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:25:03.028068Z","version":"0.8.5","zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.82812ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?include_legacy=true&name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:25:00.960115Z","gateway_networks":[],"id":"4733d3d3-69e6-4275-8611-7648515d26dc","ipv4":{"address":"51.15.143.49","created_at":"2026-08-26T12:25:00.942174Z","gateway_id":"4733d3d3-69e6-4275-8611-7648515d26dc","id":"d3c8ef26-c4e5-4a72-9d2d-795ce8160db3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"49-143-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:25:00.942174Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:25:02.583993Z","version":"0.8.5","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.614059ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4733d3d3-69e6-4275-8611-7648515d26dc?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:25:00.960115Z","gateway_networks":[],"id":"4733d3d3-69e6-4275-8611-7648515d26dc","ipv4":{"address":"51.15.143.49","created_at":"2026-08-26T12:25:00.942174Z","gateway_id":"4733d3d3-69e6-4275-8611-7648515d26dc","id":"d3c8ef26-c4e5-4a72-9d2d-795ce8160db3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"49-143-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:25:00.942174Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:25:09.190503Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.170148ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4733d3d3-69e6-4275-8611-7648515d26dc
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"4733d3d3-69e6-4275-8611-7648515d26dc","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.453986ms
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-26T12:25:01.354513Z","gateway_networks":[],"id":"e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b","ipv4":{"address":"51.15.67.68","created_at":"2026-08-26T12:25:01.329109Z","gateway_id":"e60eb000-ef77-43ea-b9e6-cf8ffd6d3e3b","id":"97cb01c7-666c-4347-81a0-9a156f05ab53","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"68-67-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:25:01.329109Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-26T12:25:09.418080Z","version":"0.8.5","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.242224ms
[...]
