---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T17:08:49.189195Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5585aee7-ec5a-44fb-9321-ecc4cfee6d33","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:08:49.189195Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.108407767s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/5585aee7-ec5a-44fb-9321-ecc4cfee6d33
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T17:08:49.189195Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5585aee7-ec5a-44fb-9321-ecc4cfee6d33","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:08:49.189195Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.881277ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-serene-curran","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:08:49.184030Z","dhcp_enabled":true,"id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","name":"tf-pn-serene-curran","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:08:49.184030Z","id":"50d5c1fb-fd76-4df7-8165-bdcf08309cb6","private_network_id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:08:49.184030Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:08:49.184030Z","id":"40c66ab4-14f6-49fb-8b9d-3a48bd7385ed","private_network_id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c4fa::/64","updated_at":"2024-10-03T17:08:49.184030Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:08:49.184030Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.581620656s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/271bab6a-9c49-48e0-ace1-cbf250f0f987
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:08:49.184030Z","dhcp_enabled":true,"id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","name":"tf-pn-serene-curran","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:08:49.184030Z","id":"50d5c1fb-fd76-4df7-8165-bdcf08309cb6","private_network_id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:08:49.184030Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:08:49.184030Z","id":"40c66ab4-14f6-49fb-8b9d-3a48bd7385ed","private_network_id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c4fa::/64","updated_at":"2024-10-03T17:08:49.184030Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:08:49.184030Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.295588ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.200.131","created_at":"2024-10-03T17:08:49.998827Z","gateway_id":null,"id":"8b5a420c-dbc7-44e1-9417-7398be1b6b14","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:08:49.998827Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.962038525s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/8b5a420c-dbc7-44e1-9417-7398be1b6b14
        method: GET
      response:
        body: '{"address":"51.15.200.131","created_at":"2024-10-03T17:08:49.998827Z","gateway_id":null,"id":"8b5a420c-dbc7-44e1-9417-7398be1b6b14","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:08:49.998827Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.591451ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-thirsty-elion","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"8b5a420c-dbc7-44e1-9417-7398be1b6b14","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:08:50.164066Z","gateway_networks":[],"id":"9e67f959-31e2-4a98-ab2c-f3496a6402d8","ip":{"address":"51.15.200.131","created_at":"2024-10-03T17:08:49.998827Z","gateway_id":"9e67f959-31e2-4a98-ab2c-f3496a6402d8","id":"8b5a420c-dbc7-44e1-9417-7398be1b6b14","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:08:49.998827Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-thirsty-elion","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:08:50.164066Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.572108ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9e67f959-31e2-4a98-ab2c-f3496a6402d8
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:08:50.164066Z","gateway_networks":[],"id":"9e67f959-31e2-4a98-ab2c-f3496a6402d8","ip":{"address":"51.15.200.131","created_at":"2024-10-03T17:08:49.998827Z","gateway_id":"9e67f959-31e2-4a98-ab2c-f3496a6402d8","id":"8b5a420c-dbc7-44e1-9417-7398be1b6b14","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:08:49.998827Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-thirsty-elion","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:08:50.164066Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.334044ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"9e67f959-31e2-4a98-ab2c-f3496a6402d8","private_network_id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"5585aee7-ec5a-44fb-9321-ecc4cfee6d33"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-03T17:09:02.435234Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T17:08:49.189195Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5585aee7-ec5a-44fb-9321-ecc4cfee6d33","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:08:49.189195Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"9e67f959-31e2-4a98-ab2c-f3496a6402d8","id":"59c484fd-075a-4f1f-a984-add90f9dc7e4","ipam_config":null,"mac_address":null,"private_network_id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","status":"created","updated_at":"2024-10-03T17:09:02.435234Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.157827456s
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/59c484fd-075a-4f1f-a984-add90f9dc7e4
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-03T17:09:02.435234Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T17:08:49.189195Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"5585aee7-ec5a-44fb-9321-ecc4cfee6d33","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:08:49.189195Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"9e67f959-31e2-4a98-ab2c-f3496a6402d8","id":"59c484fd-075a-4f1f-a984-add90f9dc7e4","ipam_config":null,"mac_address":"02:00:00:1D:E1:25","private_network_id":"271bab6a-9c49-48e0-ace1-cbf250f0f987","status":"ready","updated_at":"2024-10-03T17:09:13.936487Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.311912ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=271bab6a-9c49-48e0-ace1-cbf250f0f987&resource_id=59c484fd-075a-4f1f-a984-add90f9dc7e4&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.1/24","created_at":"2024-10-03T17:09:02.370837Z","id":"2e06c313-aca4-4e3f-b8f3-fbaec49ef80b","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"59c484fd-075a-4f1f-a984-add90f9dc7e4","mac_address":"02:00:00:1D:E1:25","name":"tf-pn-thirsty-elion","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"50d5c1fb-fd76-4df7-8165-bdcf08309cb6"},"tags":[],"updated_at":"2024-10-03T17:09:02.998352Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.449515ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks?gateway_id=9e67f959-31e2-4a98-ab2c-f3496a6402d8&order_by=created_at_asc&private_network_id=271bab6a-9c49-48e0-ace1-cbf250f0f987&status=unknown
        method: GET
      response:
        body: '{"gateway_networks":[{"address":null,"created_at":"2024-10-03T17:09:02.435234Z","dhcp":{"address":"192.168.1.1","cre[...]
[...]
    - id: 93
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/59c484fd-075a-4f1f-a984-add90f9dc7e4?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 77.873891ms
[...]
    - id: 95
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/59c484fd-075a-4f1f-a984-add90f9dc7e4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"59c484fd-075a-4f1f-a984-add90f9dc7e4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.667474ms
[...]
    - id: 99
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9e67f959-31e2-4a98-ab2c-f3496a6402d8?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 54.177373ms
[...]
