---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:24.754760Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a6fc5829-8455-417f-846d-11f9515a87ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:24.754760Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.057375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/a6fc5829-8455-417f-846d-11f9515a87ac
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:24.754760Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a6fc5829-8455-417f-846d-11f9515a87ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:24.754760Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.231708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:24.763092Z","dhcp_enabled":true,"id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:24.763092Z","id":"1e2c80ec-96ed-4f84-9824-6abbd84226db","private_network_id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.28.0/22","updated_at":"2025-01-27T09:16:24.763092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:24.763092Z","id":"0b065a25-eddd-4397-9ac7-988b7c35f79a","private_network_id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:94b4::/64","updated_at":"2025-01-27T09:16:24.763092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:24.763092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.942833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d9ff0ea2-b13a-4150-b418-77d33e4b75bb
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:24.763092Z","dhcp_enabled":true,"id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:24.763092Z","id":"1e2c80ec-96ed-4f84-9824-6abbd84226db","private_network_id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.28.0/22","updated_at":"2025-01-27T09:16:24.763092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:24.763092Z","id":"0b065a25-eddd-4397-9ac7-988b7c35f79a","private_network_id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:94b4::/64","updated_at":"2025-01-27T09:16:24.763092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:24.763092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.974333ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-cranky-margulis","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:25.454431Z","gateway_networks":[],"id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","ip":{"address":"51.15.238.232","created_at":"2025-01-27T09:16:25.430263Z","gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","id":"53688cb0-70fa-4c94-93c0-ec1771e4020a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"232-238-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:25.430263Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-cranky-margulis","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:25.454431Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 785.647833ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/13ea9766-660b-40e7-94e7-7d90ceed7df3
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:25.454431Z","gateway_networks":[],"id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","ip":{"address":"51.15.238.232","created_at":"2025-01-27T09:16:25.430263Z","gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","id":"53688cb0-70fa-4c94-93c0-ec1771e4020a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"232-238-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:25.430263Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-pn-cranky-margulis","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:25.493705Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.099666ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","private_network_id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"a6fc5829-8455-417f-846d-11f9515a87ac"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:35.215256Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:24.754760Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a6fc5829-8455-417f-846d-11f9515a87ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:24.754760Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","id":"1a02d3c9-a1dc-45c0-900f-9e1aab19708b","ipam_config":null,"mac_address":null,"private_network_id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","status":"created","updated_at":"2025-01-27T09:16:35.215256Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.026262708s
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/1a02d3c9-a1dc-45c0-900f-9e1aab19708b
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:35.215256Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:24.754760Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"a6fc5829-8455-417f-846d-11f9515a87ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:24.754760Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","id":"1a02d3c9-a1dc-45c0-900f-9e1aab19708b","ipam_config":null,"mac_address":"02:00:00:16:53:CB","private_network_id":"d9ff0ea2-b13a-4150-b418-77d33e4b75bb","status":"ready","updated_at":"2025-01-27T09:16:45.526912Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.623666ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:50.907721Z","gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","id":"8b1d86e7-74d0-4660-aa66-913aa5c8ab63","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-27T09:16:50.907721Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.011625ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/8b1d86e7-74d0-4660-aa66-913aa5c8ab63
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:50.907721Z","gateway_id":"13ea9766-660b-40e7-94e7-7d90ceed7df3","id":"8b1d86e7-74d0-4660-aa66-913aa5c8ab63","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-27T09:16:50.907721Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.7275ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/1a02d3c9-a1dc-45c0-900f-9e1aab19708b?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.692917ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/1a02d3c9-a1dc-45c0-900f-9e1aab19708b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"1a02d3c9-a1dc-45c0-900f-9e1aab19708b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 379.117541ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/13ea9766-660b-40e7-94e7-7d90ceed7df3?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 46.129084ms
[...]
