---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-gallant-wilson","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-05T13:21:01.883310Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","name":"tf-pn-gallant-wilson","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T13:21:01.883310Z","id":"19fb36ad-f440-4c08-ad14-b4dd75dd3731","private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.80.0/22","updated_at":"2025-09-05T13:21:01.883310Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-09-05T13:21:01.883310Z","id":"a85e340c-3156-4343-89d2-f0ac4cd63acc","private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9624::/64","updated_at":"2025-09-05T13:21:01.883310Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-09-05T13:21:01.883310Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 844.326542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.134.234","created_at":"2025-09-05T13:21:02.429905Z","id":"2ddb3657-e5ea-410a-b65f-e3d15c31dcc0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-134-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:21:02.429905Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 883.4575ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e92b47e4-d23a-48d9-a3d8-8d35a90a1640
        method: GET
      response:
        body: '{"created_at":"2025-09-05T13:21:01.883310Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","name":"tf-pn-gallant-wilson","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T13:21:01.883310Z","id":"19fb36ad-f440-4c08-ad14-b4dd75dd3731","private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.80.0/22","updated_at":"2025-09-05T13:21:01.883310Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-09-05T13:21:01.883310Z","id":"a85e340c-3156-4343-89d2-f0ac4cd63acc","private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9624::/64","updated_at":"2025-09-05T13:21:01.883310Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-09-05T13:21:01.883310Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.572958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/2ddb3657-e5ea-410a-b65f-e3d15c31dcc0
        method: GET
      response:
        body: '{"address":"163.172.134.234","created_at":"2025-09-05T13:21:02.429905Z","id":"2ddb3657-e5ea-410a-b65f-e3d15c31dcc0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-134-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:21:02.429905Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.571542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-objective-solomon","tags":[],"type":"VPC-GW-S","ip_id":"2ddb3657-e5ea-410a-b65f-e3d15c31dcc0","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:21:02.648544Z","gateway_networks":[],"id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","ipv4":{"address":"163.172.134.234","created_at":"2025-09-05T13:21:02.429905Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"2ddb3657-e5ea-410a-b65f-e3d15c31dcc0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-134-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:21:02.429905Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-objective-solomon","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:21:02.648544Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.139083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/562d0fe5-b59d-4bec-bad2-f0d39aef8ae8
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:21:02.648544Z","gateway_networks":[],"id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","ipv4":{"address":"163.172.134.234","created_at":"2025-09-05T13:21:02.429905Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"2ddb3657-e5ea-410a-b65f-e3d15c31dcc0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-134-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:21:02.429905Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-objective-solomon","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:21:02.694901Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.88525ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","enable_masquerade":true,"push_default_route":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-05T13:21:13.323684Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"8aa9da67-d7b2-4fad-94d0-36a17284240d","ipam_ip_id":"835c31d6-6728-4610-9853-e9932c0448b5","masquerade_enabled":true,"private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","push_default_route":false,"status":"created","updated_at":"2025-09-05T13:21:13.323684Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.389583ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/562d0fe5-b59d-4bec-bad2-f0d39aef8ae8
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:21:02.648544Z","gateway_networks":[{"created_at":"2025-09-05T13:21:13.323684Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"8aa9da67-d7b2-4fad-94d0-36a17284240d","ipam_ip_id":"835c31d6-6728-4610-9853-e9932c0448b5","mac_address":"02:00:00:19:C6:26","masquerade_enabled":true,"private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","push_default_route":false,"status":"ready","updated_at":"2025-09-05T13:21:23.158545Z","zone":"fr-par-1"}],"id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","ipv4":{"address":"163.172.134.234","created_at":"2025-09-05T13:21:02.429905Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"2ddb3657-e5ea-410a-b65f-e3d15c31dcc0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-134-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:21:02.429905Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-objective-solomon","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:21:23.341858Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.848125ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/8aa9da67-d7b2-4fad-94d0-36a17284240d
        method: GET
      response:
        body: '{"created_at":"2025-09-05T13:21:13.323684Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"8aa9da67-d7b2-4fad-94d0-36a17284240d","ipam_ip_id":"835c31d6-6728-4610-9853-e9932c0448b5","mac_address":"02:00:00:19:C6:26","masquerade_enabled":true,"private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","push_default_route":false,"status":"ready","updated_at":"2025-09-05T13:21:23.158545Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.47075ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=e92b47e4-d23a-48d9-a3d8-8d35a90a1640&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=8aa9da67-d7b2-4fad-94d0-36a17284240d&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.80.2/22","created_at":"2025-09-05T13:21:13.277877Z","id":"835c31d6-6728-4610-9853-e9932c0448b5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"8aa9da67-d7b2-4fad-94d0-36a17284240d","mac_address":"02:00:00:19:C6:26","name":"tf-pn-objective-solomon","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"19fb36ad-f440-4c08-ad14-b4dd75dd3731"},"tags":[],"updated_at":"2025-09-05T13:21:13.678629Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.267583ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=562d0fe5-b59d-4bec-bad2-f0d39aef8ae8&order_by=created_at_asc&private_network_ids=e92b47e4-d23a-48d9-a3d8-8d35a90a1640
        method: GET
      response:
        body: '{"gateway_networks":[{"created_at":"2025-09-05T13:21:13.323684Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"8aa9da67-d7b2-4fad-94d0-36a17284240d","ipam_ip_id":"835c31d6-6728-4610-9853-e9932c0448b5","mac_address":"02:00:00:19:C6:26","masquerade_enabled":true,"private_network_id":"e92b47e4-d23a-48d9-a3d8-8d35a90a1640","push_default_route":false,"status":"ready","updated_at":"2025-09-05T13:21:23.158545Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.162917ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/8aa9da67-d7b2-4fad-94d0-36a17284240d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"8aa9da67-d7b2-4fad-94d0-36a17284240d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 56.568709ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/562d0fe5-b59d-4bec-bad2-f0d39aef8ae8?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-09-05T13:21:02.648544Z","gateway_networks":[],"id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","ipv4":{"address":"163.172.134.234","created_at":"2025-09-05T13:21:02.429905Z","gateway_id":"562d0fe5-b59d-4bec-bad2-f0d39aef8ae8","id":"2ddb3657-e5ea-410a-b65f-e3d15c31dcc0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-134-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-09-05T13:21:02.429905Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-objective-solomon","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-09-05T13:21:32.378815Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.559958ms
[...]
