---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:28:13.764114Z","gateway_networks":[],"id":"e4bdd74e-d912-4491-96ef-45cb67671e24","ipv4":{"address":"51.15.245.212","created_at":"2025-03-21T14:28:13.735003Z","gateway_id":"e4bdd74e-d912-4491-96ef-45cb67671e24","id":"1d1cbc63-b842-42fc-b7b9-cb336f475e4d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"212-245-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:28:13.735003Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:28:13.764114Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 920.557024ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-with-not-default-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ip[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/e4bdd74e-d912-4491-96ef-45cb67671e24
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:28:13.764114Z","gateway_networks":[],"id":"e4bdd74e-d912-4491-96ef-45cb67671e24","ipv4":{"address":"51.15.245.212","created_at":"2025-03-21T14:28:13.735003Z","gateway_id":"e4bdd74e-d912-4491-96ef-45cb67671e24","id":"1d1cbc63-b842-42fc-b7b9-cb336f475e4d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"212-245-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:28:13.735003Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:28:13.764114Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.266899ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/8f2d1404-6d2c-40ae-9400-7c024fbba8ef
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:28:13.765683Z","gateway_networks":[],"id":"8f2d1404-6d2c-40ae-9400-7c024fbba8ef","ipv4":{"address":"51.15.45.142","created_at":"2025-03-21T14:28:13.733782Z","gateway_id":"8f2d1404-6d2c-40ae-9400-7c024fbba8ef","id":"ad097cae-eb5b-440d-8687-a8139c082712","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"142-45-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:28:13.733782Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:28:13.830792Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.516053ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?include_legacy=true&name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:28:13.764114Z","gateway_networks":[],"id":"e4bdd74e-d912-4491-96ef-45cb67671e24","ipv4":{"address":"51.15.245.212","created_at":"2025-03-21T14:28:13.735003Z","gateway_id":"e4bdd74e-d912-4491-96ef-45cb67671e24","id":"1d1cbc63-b842-42fc-b7b9-cb336f475e4d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"212-245-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:28:13.735003Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:28:18.543066Z","version":"0.7.3","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.515692ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways?include_legacy=true&name=public-gateway-with-not-default-zone&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:28:13.765683Z","gateway_networks":[],"id":"8f2d1404-6d2c-40ae-9400-7c024fbba8ef","ipv4":{"address":"51.15.45.142","created_at":"2025-03-21T14:28:13.733782Z","gateway_id":"8f2d1404-6d2c-40ae-9400-7c024fbba8ef","id":"ad097cae-eb5b-440d-8687-a8139c082712","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"142-45-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:28:13.733782Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:28:19.139437Z","version":"0.7.3","zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.085644ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/e4bdd74e-d912-4491-96ef-45cb67671e24?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:28:13.764114Z","gateway_networks":[],"id":"e4bdd74e-d912-4491-96ef-45cb67671e24","ipv4":{"address":"51.15.245.212","created_at":"2025-03-21T14:28:13.735003Z","gateway_id":"e4bdd74e-d912-4491-96ef-45cb67671e24","id":"1d1cbc63-b842-42fc-b7b9-cb336f475e4d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"212-245-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:28:13.735003Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:28:27.503299Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.392036ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/e4bdd74e-d912-4491-96ef-45cb67671e24
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"e4bdd74e-d912-4491-96ef-45cb67671e24","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.819301ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/8f2d1404-6d2c-40ae-9400-7c024fbba8ef?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:28:13.765683Z","gateway_networks":[],"id":"8f2d1404-6d2c-40ae-9400-7c024fbba8ef","ipv4":{"address":"51.15.45.142","created_at":"2025-03-21T14:28:13.733782Z","gateway_id":"8f2d1404-6d2c-40ae-9400-7c024fbba8ef","id":"ad097cae-eb5b-440d-8687-a8139c082712","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"142-45-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:28:13.733782Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:28:27.560072Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.299003ms
[...]
