---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDataSourceVPCPublicGatewayPATRule_Basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-09-11T22:37:05.145036Z","custom_routes_propagation_enabled":true,"id":"f3b95490-04a8-48d4-9da2-6689d96bdaa5","is_default":false,"name":"TestAccDataSourceVPCPublicGatewayPATRule_Basic","object_storage_private_access_enabled":false,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-11T22:37:05.145036Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 197.794168ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 7.703406ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f3b95490-04a8-48d4-9da2-6689d96bdaa5
        method: GET
      response:
        body: '{"created_at":"2026-09-11T22:37:05.145036Z","custom_routes_propagation_enabled":true,"id":"f3b95490-04a8-48d4-9da2-6689d96bdaa5","is_default":false,"name":"TestAccDataSourceVPCPublicGatewayPATRule_Basic","object_storage_private_access_enabled":false,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-09-11T22:37:05.145036Z"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 36.197697ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"f3b95490-04a8-48d4-9da2-6689d96bdaa5","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-09-11T22:37:05.310730Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"2c90ad30-2c23-4394-9e04-39a2aba21dde","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2026-09-11T22:37:05.310730Z","id":"37d0b0ac-1680-43d8-ba37-45b01e5c3cb4","private_network_id":"2c90ad30-2c23-4394-9e04-39a2aba21dde","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnet":"172.16.32.0/22","updated_at":"2026-09-11T22:37:05.310730Z","vpc_id":"f3b95490-04a8-48d4-9da2-6689d96bdaa5"},{"created_at":"2026-09-11T22:37:05.310730Z","id":"17ed9de8-d35b-4614-bfa4-a342e1037013","private_network_id":"2c90ad30-2c23-4394-9e04-39a2aba21dde","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnet":"fd63:256c:45f7:e748::/64","updated_at":"2026-09-11T22:37:05.310730Z","vpc_id":"f3b95490-04a8-48d4-9da2-6689d96bdaa5"}],"tags":[],"updated_at":"2026-09-11T22:37:05.310730Z","vpc_id":"f3b95490-04a8-48d4-9da2-6689d96bdaa5"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "48"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 625.110313ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2c90ad30-2c23-4394-9e04-39a2aba21dde
        method: GET
      response:
        body: '{"created_at":"2026-09-11T22:37:05.310730Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"2c90ad30-2c23-4394-9e04-39a2aba21dde","name":"pn_test_network","organiza[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-pn-jovial-keller","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-09-11T22:37:06.247634Z","gateway_networks":[],"id":"08846c19-58aa-409f-8de2-a22252c0a610","ipv4":{"address":"51.15.214.66","created_at":"2026-09-11T22:37:06.223722Z","gateway_id":"08846c19-58aa-409f-8de2-a22252c0a610","id":"48d30797-71e0-4b6a-a747-2ea1c182d20c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"66-214-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-09-11T22:37:06.223722Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-jovial-keller","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-09-11T22:37:06.247634Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - 50, 50;w=1
            X-Ratelimit-Remaining:
                - "49"
            X-Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.308922008s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/08846c19-58aa-409f-8de2-a22252c0a610
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-09-11T22:37:06.247634Z","gateway_networks":[],"id":"08846c19-58aa-409f-8de2-a22252c0a610","ipv4":{"address":"51.15[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers?page=1
        method: GET
      response:
        body: '{"servers":{"BASIC2-A12C-24G":{"alt_names":[],"arch":"arm64","block_bandwidth":335544320,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1578,"mig_profile":null,"monthly_price":115.194,"ncpus":12,"network":{"interfaces":[{"internal_bandwidth":1200000000,"internet_bandwidth":1200000000}],"ipv6_support":true,"sum_internal_bandwidth":1200000000,"sum_internet_bandwidth":1200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":25769803776,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A12C-48G":{"alt_names":[],"arch":"arm64","block_bandwidth":335544320,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1807,"mig_profile":null,"monthly_price":131.911,"ncpus":12,"network":{"interfaces":[{"internal_bandwidth":1200000000,"internet_bandwidth":1200000000}],"ipv6_support":true,"sum_internal_bandwidth":1200000000,"sum_internet_bandwidth":1200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":51539607552,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A16C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2067,"mig_profile":null,"monthly_price":150.891,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A16C-64G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2756,"mig_profile":null,"monthly_price":201.188,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-4G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.023,"mig_profile":null,"monthly_price":16.79,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0345,"mig_profile":null,"monthly_price":25.185,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0689,"mig_profile":null,"monthly_price":50.297,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0517,"mig_profile":null,"monthly_price":37.741,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A6C-12G":{"alt_names":[],"arch":"arm64","block_bandwidth":188743680,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0789,"mig_profile":null,"monthly_price":57.597,"ncpus":6,"network":{"interfaces":[{"internal_bandwidth":600000000,"internet_bandwidth":600000000}],"ipv6_support":true,"sum_internal_bandwidth":600000000,"sum_internet_bandwidth":600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":12884901888,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A6C-24G":{"alt_names":[],"arch":"arm64","block_bandwidth":188743680,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0903,"mig_profile":null,"monthly_price":65.919,"ncpus":6,"network":{"interfaces":[{"internal_bandwidth":600000000,"internet_bandwidth":600000000}],"ipv6_support":true,"sum_internal_bandwidth":600000000,"sum_internet_bandwidth":600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":25769803776,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1034,"mig_profile":null,"monthly_price":75.482,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1378,"mig_profile":null,"monthly_price":100.594,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X12C-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":786432000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2711,"mig_profile":null,"monthly_price":197.903,"ncpus":12,"network":{"interfaces":[{"internal_bandwidth":2250000000,"internet_bandwidth":2250000000}],"ipv6_support":true,"sum_internal_bandwidth":2250000000,"sum_internet_bandwidth":2250000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":25769803776,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X12C-48G":{"alt_names":[],"arch":"x86_64","block_bandwidth":786432000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.3104,"mig_profile":null,"monthly_price":226.592,"ncpus":12,"network":{"interfaces":[{"internal_bandwidth":2250000000,"internet_bandwidth":2250000000}],"ipv6_support":true,"sum_internal_bandwidth":2250000000,"sum_internet_bandwidth":2250000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":51539607552,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.355247,"mig_profile":null,"monthly_price":259.33031,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.473285,"mig_profile":null,"monthly_price":345.49805,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.039449,"mig_profile":null,"monthly_price":28.79777,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.059225,"mig_profile":null,"monthly_price":43.23425,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.11845,"mig_profile":null,"monthly_price":86.4685,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.079001,"mig_profile":null,"monthly_price":57.67073,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X6C-12G":{"alt_names":[],"arch":"x86_64","block_bandwidth":393216000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1356,"mig_profile":null,"monthly_price":98.988,"ncpus":6,"network":{"interfaces":[{"internal_bandwidth":1050000000,"internet_bandwidth":1050000000}],"ipv6_support":true,"sum_internal_bandwidth":1050000000,"sum_internet_bandwidth":1050000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":12884901888,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X6C-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":393216000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1553,"mig_profile":null,"monthly_price":113.369,"ncpus":6,"network":{"interfaces":[{"internal_bandwidth":1050000000,"internet_bandwidth":1050000000}],"ipv6_support":true,"sum_internal_bandwidth":1050000000,"sum_internet_bandwidth":1050000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":25769803776,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.177675,"mig_profile":null,"monthly_price":129.70275,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.236797,"mig_profile":null,"monthly_price":172.86181,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X12C-24G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.3511,"mig_profile":null,"monthly_price":256.317,"ncpus":12,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":4000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":4000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":25769803776,"scratch_storage_max_size":240000000000,"scratch_storage_max_volumes_count":2,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.4682,"mig_profile":null,"monthly_price":341.786,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":4000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":4000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":320000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X24C-48G":{"alt_names":[],"arch":"x86_64","block_bandwidth":749731840,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.7022,"mig_profile":null,"monthly_price":512.3176,"ncpus":24,"network":{"interfaces":[{"internal_bandwidth":6000000000,"internet_bandwidth":6000000000}],"ipv6_support":true,"sum_internal_bandwidth":6000000000,"sum_internet_bandwidth":6000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":51539607552,"scratch_storage_max_size":480000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0585,"mig_profile":null,"monthly_price":42.705,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":40000000000,"scratch_storage_max_volumes_count":1,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X32C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1000341504,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.9363,"mig_profile":null,"monthly_price":683.499,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":8000000000,"internet_bandwidth":8000000000}],"ipv6_support":true,"sum_internal_bandwidth":8000000000,"sum_internet_bandwidth":8000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":640000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X48C-96G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gp
[...]
