---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24","push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:00.935528Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9ae8d1e8-4b5f-4037-abb5-6825baab0789","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:00.935528Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.657083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/9ae8d1e8-4b5f-4037-abb5-6825baab0789
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:00.935528Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9ae8d1e8-4b5f-4037-abb5-6825baab0789","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:00.935528Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.876458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-crazy-kowalevski","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:00.934889Z","dhcp_enabled":true,"id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","name":"tf-pn-crazy-kowalevski","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:00.934889Z","id":"4080041b-f367-4697-82ff-e1d41fc32aea","private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-27T09:16:00.934889Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:00.934889Z","id":"61d75c9e-8912-4402-b53c-b1533fdd4a32","private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bbf5::/64","updated_at":"2025-01-27T09:16:00.934889Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:00.934889Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 587.028708ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:00.934889Z","dhcp_enabled":true,"id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","name":"tf-pn-crazy-kowalevski","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:00.934889Z","id":"4080041b-f367-4697-82ff-e1d41fc32aea","private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-27T09:16:00.934889Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:00.934889Z","id":"61d75c9e-8912-4402-b53c-b1533fdd4a32","private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:bbf5::/64","updated_at":"2025-01-27T09:16:00.934889Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:00.934889Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.270042ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.142.126","created_at":"2025-01-27T09:16:01.631347Z","gateway_id":null,"id":"422c6b53-e4c8-4031-9e24-8c3141978b2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.631347Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 774.902417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/422c6b53-e4c8-4031-9e24-8c3141978b2c
        method: GET
      response:
        body: '{"address":"51.15.142.126","created_at":"2025-01-27T09:16:01.631347Z","gateway_id":null,"id":"422c6b53-e4c8-4031-9e24-8c3141978b2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.631347Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.381791ms
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-happy-driscoll","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"422c6b53-e4c8-4031-9e24-8c3141978b2c","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:01.759349Z","gateway_networks":[],"id":"21269389-6430-4220-9db1-55c7db74b19c","ip":{"address":"51.15.142.126","created_at":"2025-01-27T09:16:01.631347Z","gateway_id":"21269389-6430-4220-9db1-55c7db74b19c","id":"422c6b53-e4c8-4031-9e24-8c3141978b2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.631347Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-happy-driscoll","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:01.759349Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.900334ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/21269389-6430-4220-9db1-55c7db74b19c
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:01.759349Z","gateway_networks":[],"id":"21269389-6430-4220-9db1-55c7db74b19c","ip":{"address":"51.15.142.126","created_at":"2025-01-27T09:16:01.631347Z","gateway_id":"21269389-6430-4220-9db1-55c7db74b19c","id":"422c6b53-e4c8-4031-9e24-8c3141978b2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.631347Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-pn-happy-driscoll","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:01.800703Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.843708ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"21269389-6430-4220-9db1-55c7db74b19c","private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"9ae8d1e8-4b5f-4037-abb5-6825baab0789"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:14.341857Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:00.935528Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9ae8d1e8-4b5f-4037-abb5-6825baab0789","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:00.935528Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"21269389-6430-4220-9db1-55c7db74b19c","id":"b73f9917-559f-4c03-a154-90fd9be1f97d","ipam_config":null,"mac_address":null,"private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","status":"created","updated_at":"2025-01-27T09:16:14.341857Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.50461025s
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b73f9917-559f-4c03-a154-90fd9be1f97d
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:14.341857Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:00.935528Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9ae8d1e8-4b5f-4037-abb5-6825baab0789","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:00.935528Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"21269389-6430-4220-9db1-55c7db74b19c","id":"b73f9917-559f-4c03-a154-90fd9be1f97d","ipam_config":null,"mac_address":"02:00:00:17:61:04","private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","status":"ready","updated_at":"2025-01-27T09:16:23.155373Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.874916ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks?gateway_id=21269389-6430-4220-9db1-55c7db74b19c&order_by=created_at_asc&private_network_id=fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0&status=unknown
        method: GET
      response:
        body: '{"gateway_networks":[{"address":null,"created_at":"2025-01-27T09:16:14.341857Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:00.935528Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"9ae8d1e8-4b5f-4037-abb5-6825baab0789","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:00.935528Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"21269389-6430-4220-9db1-55c7db74b19c","id":"b73f9917-559f-4c03-a154-90fd9be1f97d","ipam_config":null,"mac_address":"02:00:00:17:61:04","private_network_id":"fca9b3d8-c3a1-49a3-9306-9ebf983b8bd0","status":"ready","updated_at":"2025-01-27T09:16:23.155373Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.888708ms
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b73f9917-559f-4c03-a154-90fd9be1f97d?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.137083ms
[...]
    - id: 80
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b73f9917-559f-4c03-a154-90fd9be1f97d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"b73f9917-559f-4c03-a154-90fd9be1f97d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.291416ms
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/21269389-6430-4220-9db1-55c7db74b19c?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 50.831417ms
[...]
