---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-wonderful-williams","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:15:56.102654Z","dhcp_enabled":true,"id":"6741b580-6ded-4536-8082-bc6f5a08a502","name":"tf-pn-wonderful-williams","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:15:56.102654Z","id":"c2e78220-5791-40fe-b15f-f897b56a9c52","private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-13T18:15:56.102654Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-13T18:15:56.102654Z","id":"a39683d8-9d01-4be1-96df-0a12faeef7b1","private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:ac00::/64","updated_at":"2025-05-13T18:15:56.102654Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-13T18:15:56.102654Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 679.636857ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6741b580-6ded-4536-8082-bc6f5a08a502
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:15:56.102654Z","dhcp_enabled":true,"id":"6741b580-6ded-4536-8082-bc6f5a08a502","name":"tf-pn-wonderful-williams","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:15:56.102654Z","id":"c2e78220-5791-40fe-b15f-f897b56a9c52","private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.12.0/22","updated_at":"2025-05-13T18:15:56.102654Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"},{"created_at":"2025-05-13T18:15:56.102654Z","id":"a39683d8-9d01-4be1-96df-0a12faeef7b1","private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:ac00::/64","updated_at":"2025-05-13T18:15:56.102654Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}],"tags":[],"updated_at":"2025-05-13T18:15:56.102654Z","vpc_id":"1ec1ecb6-8f58-4f7c-92cc-53c2a5ae519c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.744881ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.194.254","created_at":"2025-05-13T18:15:56.871974Z","id":"87db8dba-d333-433e-b85c-d2b3b0db312d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"254-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:15:56.871974Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.395145842s
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/87db8dba-d333-433e-b85c-d2b3b0db312d
        method: GET
      response:
        body: '{"address":"51.15.194.254","created_at":"2025-05-13T18:15:56.871974Z","id":"87db8dba-d333-433e-b85c-d2b3b0db312d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"254-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:15:56.871974Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.756975ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-pn-relaxed-torvalds","tags":[],"type":"VPC-GW-S","ip_id":"87db8dba-d333-433e-b85c-d2b3b0db312d","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:15:57.416199Z","gateway_networks":[],"id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","ipv4":{"address":"51.15.194.254","created_at":"2025-05-13T18:15:56.871974Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"87db8dba-d333-433e-b85c-d2b3b0db312d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"254-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:15:56.871974Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-relaxed-torvalds","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:15:57.416199Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.967304ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/dccebe31-8caa-42a6-aebc-38c08098bdd0
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:15:57.416199Z","gateway_networks":[],"id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","ipv4":{"address":"51.15.194.254","created_at":"2025-05-13T18:15:56.871974Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"87db8dba-d333-433e-b85c-d2b3b0db312d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"254-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:15:56.871974Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-relaxed-torvalds","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:15:57.452369Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.494147ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","enable_masquerade":true,"push_default_route":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:16:03.205900Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"24163171-2a3b-4cdd-874a-8b55827cc913","ipam_ip_id":"cb358c5d-aba3-48d8-ba31-82268b7b99d9","masquerade_enabled":true,"private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","push_default_route":false,"status":"created","updated_at":"2025-05-13T18:16:03.205900Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 807.63046ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/dccebe31-8caa-42a6-aebc-38c08098bdd0
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:15:57.416199Z","gateway_networks":[{"created_at":"2025-05-13T18:16:03.205900Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"24163171-2a3b-4cdd-874a-8b55827cc913","ipam_ip_id":"cb358c5d-aba3-48d8-ba31-82268b7b99d9","mac_address":"02:00:00:19:5F:C1","masquerade_enabled":true,"private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","push_default_route":false,"status":"configuring","updated_at":"2025-05-13T18:16:09.234230Z","zone":"fr-par-1"}],"id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","ipv4":{"address":"51.15.194.254","created_at":"2025-05-13T18:15:56.871974Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"87db8dba-d333-433e-b85c-d2b3b0db312d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"254-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:15:56.871974Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-relaxed-torvalds","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:16:03.304673Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.129389ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/24163171-2a3b-4cdd-874a-8b55827cc913
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:16:03.205900Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"24163171-2a3b-4cdd-874a-8b55827cc913","ipam_ip_id":"cb358c5d-aba3-48d8-ba31-82268b7b99d9","mac_address":"02:00:00:19:5F:C1","masquerade_enabled":true,"private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","push_default_route":false,"status":"ready","updated_at":"2025-05-13T18:16:13.782587Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.200284ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=6741b580-6ded-4536-8082-bc6f5a08a502&resource_id=24163171-2a3b-4cdd-874a-8b55827cc913&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.12.2/22","created_at":"2025-05-13T18:16:03.036123Z","id":"cb358c5d-aba3-48d8-ba31-82268b7b99d9","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"24163171-2a3b-4cdd-874a-8b55827cc913","mac_address":"02:00:00:19:5F:C1","name":"tf-pn-relaxed-torvalds","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"c2e78220-5791-40fe-b15f-f897b56a9c52"},"tags":[],"updated_at":"2025-05-13T18:16:03.579346Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.162722ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=dccebe31-8caa-42a6-aebc-38c08098bdd0&order_by=created_at_asc&private_network_ids=6741b580-6ded-4536-8082-bc6f5a08a502
        method: GET
      response:
        body: '{"gateway_networks":[{"created_at":"2025-05-13T18:16:03.205900Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"24163171-2a3b-4cdd-874a-8b55827cc913","ipam_ip_id":"cb358c5d-aba3-48d8-ba31-82268b7b99d9","mac_address":"02:00:00:19:5F:C1","masquerade_enabled":true,"private_network_id":"6741b580-6ded-4536-8082-bc6f5a08a502","push_default_route":false,"status":"ready","updated_at":"2025-05-13T18:16:13.782587Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.232992ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/24163171-2a3b-4cdd-874a-8b55827cc913
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"24163171-2a3b-4cdd-874a-8b55827cc913","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.567474ms
[...]
    - id: 63
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/dccebe31-8caa-42a6-aebc-38c08098bdd0?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:15:57.416199Z","gateway_networks":[],"id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","ipv4":{"address":"51.15.194.254","created_at":"2025-05-13T18:15:56.871974Z","gateway_id":"dccebe31-8caa-42a6-aebc-38c08098bdd0","id":"87db8dba-d333-433e-b85c-d2b3b0db312d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"254-194-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:15:56.871974Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-relaxed-torvalds","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:16:29.175682Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.778703ms
[...]
