---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccDataSourceVPCPublicGatewayPATRule_Basic","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-05-18T10:03:14.524130Z","custom_routes_propagation_enabled":true,"id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86","is_default":false,"name":"TestAccDataSourceVPCPublicGatewayPATRule_Basic","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-18T10:03:14.524130Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.982974ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b6059d0b-d456-4d7c-895e-7de9d3ab2d86
        method: GET
      response:
        body: '{"created_at":"2026-05-18T10:03:14.524130Z","custom_routes_propagation_enabled":true,"id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86","is_default":false,"name":"TestAccDataSourceVPCPublicGatewayPATRule_Basic","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-18T10:03:14.524130Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.646415ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.32.0/22"],"vpc_id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-18T10:03:14.614593Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3c6dadee-8cc9-4d59-9f3e-1207c28889e9","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2026-05-18T10:03:14.614593Z","id":"b4c5aa7b-ee17-4dd3-9850-65b36376a1ac","private_network_id":"3c6dadee-8cc9-4d59-9f3e-1207c28889e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2026-05-18T10:03:14.614593Z","vpc_id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86"},{"created_at":"2026-05-18T10:03:14.614593Z","id":"fd1190be-3fbf-440b-ae4b-6805cabb064d","private_network_id":"3c6dadee-8cc9-4d59-9f3e-1207c28889e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:bc0f::/64","updated_at":"2026-05-18T10:03:14.614593Z","vpc_id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86"}],"tags":[],"updated_at":"2026-05-18T10:03:14.614593Z","vpc_id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 543.807655ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3c6dadee-8cc9-4d59-9f3e-1207c28889e9
        method: GET
      response:
        body: '{"created_at":"2026-05-18T10:03:14.614593Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3c6dadee-8cc9-4d59-9f3e-1207c28889e9","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2026-05-18T10:03:14.614593Z","id":"b4c5aa7b-ee17-4dd3-9850-65b36376a1ac","private_network_id":"3c6dadee-8cc9-4d59-9f3e-1207c28889e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2026-05-18T10:03:14.614593Z","vpc_id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86"},{"created_at":"2026-05-18T10:03:14.614593Z","id":"fd1190be-3fbf-440b-ae4b-6805cabb064d","private_network_id":"3c6dadee-8cc9-4d59-9f3e-1207c28889e9","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:bc0f::/64","updated_at":"2026-05-18T10:03:14.614593Z","vpc_id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86"}],"tags":[],"updated_at":"2026-05-18T10:03:14.614593Z","vpc_id":"b6059d0b-d456-4d7c-895e-7de9d3ab2d86"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.846211ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-pn-silly-kowalevski","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-18T10:03:15.361537Z","gateway_networks":[],"id":"32efec9b-a79f-4a89-8cac-1776b46cd0fd","ipv4":{"address":"163.172.177.60","created_at":"2026-05-18T10:03:15.336885Z","gateway_id":"32efec9b-a79f-4a89-8cac-1776b46cd0fd","id":"91967393-48c1-4ad6-89c8-5d63fe339286","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"60-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-05-18T10:03:15.336885Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-silly-kowalevski","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-05-18T10:03:15.361537Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 933.058988ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/32efec9b-a79f-4a89-8cac-1776b46cd0fd
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-18T10:03:15.361537Z","gateway_networks":[],"id":"32efec9b-a79f-4a89-8cac-1776b46cd0fd","ipv4":{"address":"163.172.177.60","created_at":"2026-05-18T10:03:15.336885Z","gateway_id":"32efec9b-a79f-4a89-8cac-1776b46cd0fd","id":"91967393-48c1-4ad6-89c8-5d63fe339286","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"60-177-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-05-18T10:03:15.336885Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-silly-kowalevski","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-05-18T10:03:15.399918Z","version":"0.7.9","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.819792ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/products/servers?page=1
        method: GET
      response:
        body: '{"servers":{"BASIC2-A16C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2067,"mig_profile":null,"monthly_price":150.89,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A16C-64G":{"alt_names":[],"arch":"arm64","block_bandwidth":503316480,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2756,"mig_profile":null,"monthly_price":201.19,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":1600000000,"internet_bandwidth":1600000000}],"ipv6_support":true,"sum_internal_bandwidth":1600000000,"sum_internet_bandwidth":1600000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-4G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.023,"mig_profile":null,"monthly_price":16.79,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A2C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":83886080,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0345,"mig_profile":null,"monthly_price":25.19,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0689,"mig_profile":null,"monthly_price":50.3,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A4C-8G":{"alt_names":[],"arch":"arm64","block_bandwidth":125829120,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0517,"mig_profile":null,"monthly_price":37.74,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-16G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1034,"mig_profile":null,"monthly_price":75.48,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC2-A8C-32G":{"alt_names":[],"arch":"arm64","block_bandwidth":251658240,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.1378,"mig_profile":null,"monthly_price":100.59,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":800000000,"internet_bandwidth":800000000}],"ipv6_support":true,"sum_internal_bandwidth":800000000,"sum_internet_bandwidth":800000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.33,"mig_profile":null,"monthly_price":240.9,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X16C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1048576000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.44,"mig_profile":null,"monthly_price":321.2,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":3000000000,"internet_bandwidth":3000000000}],"ipv6_support":true,"sum_internal_bandwidth":3000000000,"sum_internet_bandwidth":3000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0367,"mig_profile":null,"monthly_price":26.791,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X2C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":131072000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.055,"mig_profile":null,"monthly_price":40.15,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":350000000,"internet_bandwidth":350000000}],"ipv6_support":true,"sum_internal_bandwidth":350000000,"sum_internet_bandwidth":350000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.11,"mig_profile":null,"monthly_price":80.3,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X4C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0733,"mig_profile":null,"monthly_price":53.509,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":700000000,"internet_bandwidth":700000000}],"ipv6_support":true,"sum_internal_bandwidth":700000000,"sum_internet_bandwidth":700000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.165,"mig_profile":null,"monthly_price":120.45,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"BASIC3-X8C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":524288000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.22,"mig_profile":null,"monthly_price":160.6,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":1500000000,"internet_bandwidth":1500000000}],"ipv6_support":true,"sum_internal_bandwidth":1500000000,"sum_internet_bandwidth":1500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X16C-32G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.4682,"mig_profile":null,"monthly_price":341.786,"ncpus":16,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":4000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":4000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":34359738368,"scratch_storage_max_size":320000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X2C-4G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":1,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0585,"mig_profile":null,"monthly_price":42.705,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":4294967296,"scratch_storage_max_size":40000000000,"scratch_storage_max_volumes_count":1,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X32C-64G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1000341504,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.9363,"mig_profile":null,"monthly_price":683.499,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":8000000000,"internet_bandwidth":8000000000}],"ipv6_support":true,"sum_internal_bandwidth":8000000000,"sum_internet_bandwidth":8000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":68719476736,"scratch_storage_max_size":640000000000,"scratch_storage_max_volumes_count":4,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X48C-96G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.397,"mig_profile":null,"monthly_price":1019.81,"ncpus":48,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":103079215104,"scratch_storage_max_size":960000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X4C-8G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":2,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.117,"mig_profile":null,"monthly_price":85.41,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":1000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":1000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":8589934592,"scratch_storage_max_size":80000000000,"scratch_storage_max_volumes_count":2,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X64C-128G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":1.8726,"mig_profile":null,"monthly_price":1366.998,"ncpus":64,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":137438953472,"scratch_storage_max_size":1280000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X8C-16G":{"alt_names":[],"arch":"x86_64","block_bandwidth":500170752,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":4,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.2341,"mig_profile":null,"monthly_price":170.893,"ncpus":8,"network":{"interfaces":[{"internal_bandwidth":4000000000,"internet_bandwidth":2000000000}],"ipv6_support":true,"sum_internal_bandwidth":4000000000,"sum_internet_bandwidth":2000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":17179869184,"scratch_storage_max_size":160000000000,"scratch_storage_max_volumes_count":2,"volumes_constraint":{"max_size":0,"min_size":0}},"COMPUTE3-X96C-192G":{"alt_names":[],"arch":"x86_64","block_bandwidth":1999634432,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":false,"max_file_systems":8,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":2.794,"mig_profile":null,"monthly_price":2039.62,"ncpus":96,"network":{"interfaces":[{"internal_bandwidth":16000000000,"internet_bandwidth":16000000000}],"ipv6_support":true,"sum_internal_bandwidth":16000000000,"sum_internet_bandwidth":16000000000},"per_volume_constraint":{"l_ssd":{"max_size":0,"min_size":0}},"ram":206158430208,"scratch_storage_max_size":1280000000000,"scratch_storage_max_volumes_count":8,"volumes_constraint":{"max_size":0,"min_size":0}},"DEV1-L":{"alt_names":[],"arch":"x86_64","block_bandwidth":209715200,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.042,"mig_profile":null,"monthly_price":30.66,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":400000000,"internet_bandwidth":400000000}],"ipv6_support":true,"sum_internal_bandwidth":400000000,"sum_internet_bandwidth":400000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":8589934592,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":80000000000,"min_size":0}},"DEV1-M":{"alt_names":[],"arch":"x86_64","block_bandwidth":157286400,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0198,"mig_profile":null,"monthly_price":14.454,"ncpus":3,"network":{"interfaces":[{"internal_bandwidth":300000000,"internet_bandwidth":300000000}],"ipv6_support":true,"sum_internal_bandwidth":300000000,"sum_internet_bandwidth":300000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":4294967296,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":40000000000,"min_size":0}},"DEV1-S":{"alt_names":[],"arch":"x86_64","block_bandwidth":104857600,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.0088,"mig_profile":null,"monthly_price":6.424,"ncpus":2,"network":{"interfaces":[{"internal_bandwidth":200000000,"internet_bandwidth":200000000}],"ipv6_support":true,"sum_internal_bandwidth":200000000,"sum_internet_bandwidth":200000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":2147483648,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":20000000000,"min_size":0}},"DEV1-XL":{"alt_names":[],"arch":"x86_64","block_bandwidth":262144000,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.06378,"mig_profile":null,"monthly_price":46.5734,"ncpus":4,"network":{"interfaces":[{"internal_bandwidth":500000000,"internet_bandwidth":500000000}],"ipv6_support":true,"sum_internal_bandwidth":500000000,"sum_internet_bandwidth":500000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":12884901888,"scratch_storage_max_size":0,"scratch_storage_max_volumes_count":0,"volumes_constraint":{"max_size":120000000000,"min_size":0}},"GP1-L":{"alt_names":[],"arch":"x86_64","block_bandwidth":1073741824,"capabilities":{"block_storage":true,"boot_types":["local","rescue"],"hot_snapshots_local_volume":true,"max_file_systems":0,"placement_groups":true,"private_network":8},"end_of_service":false,"gpu":0,"gpu_info":null,"hourly_price":0.759,"mig_profile":null,"monthly_price":554.07,"ncpus":32,"network":{"interfaces":[{"internal_bandwidth":5000000000,"internet_bandwidth":5000000000}],"ipv6_support":true,"sum_internal_bandwidth":5000000000,"sum_internet_bandwidth":5000000000},"per_volume_constraint":{"l_ssd":{"max_size":800000000000,"min_size":1000000000}},"ram":137438953472,"scratch_storage_max_size":0,"s
[...]
