---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.192.112","created_at":"2026-08-26T12:24:09.739920Z","id":"1d936267-0e94-4155-ba7c-ed68f10146a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"112-192-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:09.739920Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.558580207s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.357955ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/1d936267-0e94-4155-ba7c-ed68f10146a3
        method: GET
      response:
        body: '{"address":"51.15.192.112","created_at":"2026-08-26T12:24:09.739920Z","id":"1d936267-0e94-4155-ba7c-ed68f10146a3","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"112-192-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-26T12:24:09.739920Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.337297ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/1d936267-0e94-4155-ba7c-ed68f10146a3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"1d936267-0e94-4155-ba7c-ed68f10146a3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.174268ms
[...]
