---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"public-gateway-with-not-default-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:54:40.288510Z","gateway_networks":[],"id":"5cba6f32-02c2-4642-8be9-966e7e12de32","ipv4":{"address":"51.15.58.69","created_at":"2025-05-22T14:54:40.252547Z","gateway_id":"5cba6f32-02c2-4642-8be9-966e7e12de32","id":"a7bd02ee-abad-4cc2-a061-20e1b25b0736","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"69-58-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:54:40.252547Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:54:40.288510Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 980.851833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/5cba6f32-02c2-4642-8be9-966e7e12de32
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:54:40.288510Z","gateway_networks":[],"id":"5cba6f32-02c2-4642-8be9-966e7e12de32","ipv4":{"address":"51.15.58.69","created_at":"2025-05-22T14:54:40.252547Z","gateway_id":"5cba6f32-02c2-4642-8be9-966e7e12de32","id":"a7bd02ee-abad-4cc2-a061-20e1b25b0736","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"69-58-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:54:40.252547Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:54:40.339329Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.062875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/038f4331-9147-4763-b450-f5c33f4ceb8e
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:54:40.711104Z","gateway_networks":[],"id":"038f4331-9147-4763-b450-f5c33f4ceb8e","ipv4":{"address":"51.158.103.116","created_at":"2025-05-22T14:54:40.676315Z","gateway_id":"038f4331-9147-4763-b450-f5c33f4ceb8e","id":"4fadd4b0-a260-462c-8e53-466ede9b5602","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"116-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:54:40.676315Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:54:40.762622Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.110334ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?include_legacy=true&name=TestAccScalewayDataSourceVPCPublicGateway_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:54:40.711104Z","gateway_networks":[],"id":"038f4331-9147-4763-b450-f5c33f4ceb8e","ipv4":{"address":"51.158.103.116","created_at":"2025-05-22T14:54:40.676315Z","gateway_id":"038f4331-9147-4763-b450-f5c33f4ceb8e","id":"4fadd4b0-a260-462c-8e53-466ede9b5602","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"116-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:54:40.676315Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:54:45.503468Z","version":"0.7.4","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.912542ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways?include_legacy=true&name=public-gateway-with-not-default-zone&order_by=created_at_asc
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:54:40.288510Z","gateway_networks":[],"id":"5cba6f32-02c2-4642-8be9-966e7e12de32","ipv4":{"address":"51.15.58.69","created_at":"2025-05-22T14:54:40.252547Z","gateway_id":"5cba6f32-02c2-4642-8be9-966e7e12de32","id":"a7bd02ee-abad-4cc2-a061-20e1b25b0736","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"69-58-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:54:40.252547Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:54:45.137298Z","version":"0.7.4","zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.014875ms
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/038f4331-9147-4763-b450-f5c33f4ceb8e?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:54:40.711104Z","gateway_networks":[],"id":"038f4331-9147-4763-b450-f5c33f4ceb8e","ipv4":{"address":"51.158.103.116","created_at":"2025-05-22T14:54:40.676315Z","gateway_id":"038f4331-9147-4763-b450-f5c33f4ceb8e","id":"4fadd4b0-a260-462c-8e53-466ede9b5602","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"116-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:54:40.676315Z","zone":"fr-par-1"},"is_legacy":false,"name":"TestAccScalewayDataSourceVPCPublicGateway_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:54:47.587503Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.400041ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/5cba6f32-02c2-4642-8be9-966e7e12de32?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:54:40.288510Z","gateway_networks":[],"id":"5cba6f32-02c2-4642-8be9-966e7e12de32","ipv4":{"address":"51.15.58.69","created_at":"2025-05-22T14:54:40.252547Z","gateway_id":"5cba6f32-02c2-4642-8be9-966e7e12de32","id":"a7bd02ee-abad-4cc2-a061-20e1b25b0736","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"69-58-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:54:40.252547Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-with-not-default-zone","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:54:47.607841Z","version":"0.7.4","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.829166ms
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/5cba6f32-02c2-4642-8be9-966e7e12de32
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"5cba6f32-02c2-4642-8be9-966e7e12de32","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 37.855833ms
[...]
