---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn-quizzical-banach\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"name\":\"tf-pn-quizzical-banach\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:44.235802Z\",\"updated_at\":\"2025-09-23T09:59:44.235802Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"069d73d7-1a27-4ff7-94a6-1ed3b6979285\",\"created_at\":\"2025-09-23T09:59:44.235802Z\",\"updated_at\":\"2025-09-23T09:59:44.235802Z\",\"subnet\":\"172.16.252.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"f2e258af-f292-440f-809c-715dd082f1f0\",\"created_at\":\"2025-09-23T09:59:44.235802Z\",\"updated_at\":\"2025-09-23T09:59:44.235802Z\",\"subnet\":\"fd5f:519c:6d46:d1fa::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 740.288547ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8a7f7c46-58e0-4b6f-bae4-64f36175b6f9
    method: GET
  response:
    body: "{\"id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"name\":\"tf-pn-quizzical-banach\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:44.235802Z\",\"updated_at\":\"2025-09-23T09:59:44.235802Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"069d73d7-1a27-4ff7-94a6-1ed3b6979285\",\"created_at\":\"2025-09-23T09:59:44.235802Z\",\"updated_at\":\"2025-09-23T09:59:44.235802Z\",\"subnet\":\"172.16.252.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"},{\"id\":\"f2e258af-f292-440f-809c-715dd082f1f0\",\"created_at\":\"2025-09-23T09:59:44.235802Z\",\"updated_at\":\"2025-09-23T09:59:44.235802Z\",\"subnet\":\"fd5f:519c:6d46:d1fa::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\"}],\"vpc_id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 25.492717ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"7052cea5-935d-4a87-84f0-7558e84d905b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:45.020280Z\",\"updated_at\":\"2025-09-23T09:59:45.020280Z\",\"tags\":[],\"address\":\"163.172.185.197\",\"reverse\":\"197-185-172-163.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 890.435552ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/7052cea5-935d-4a87-84f0-7558e84d905b
    method: GET
  response:
    body: "{\"id\":\"7052cea5-935d-4a87-84f0-7558e84d905b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:45.020280Z\",\"updated_at\":\"2025-09-23T09:59:45.020280Z\",\"tags\":[],\"address\":\"163.172.185.197\",\"reverse\":\"197-185-172-163.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.033953171s
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"name\":\"tf-pn-silly-beaver\",\"tags\":[],\"type\":\"VPC-GW-S\",\"ip_id\":\"7052cea5-935d-4a87-84f0-7558e84d905b\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:46.201651Z\",\"updated_at\":\"2025-09-23T09:59:46.201651Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"tf-pn-silly-beaver\",\"tags\":[],\"ipv4\":{\"id\":\"7052cea5-935d-4a87-84f0-7558e84d905b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:45.020280Z\",\"updated_at\":\"2025-09-23T09:59:45.020280Z\",\"tags\":[],\"address\":\"163.172.185.197\",\"reverse\":\"197-185-172-163.instances.scw.cloud\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 595.503895ms
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/693f8dac-7422-4c12-90b3-02e4280cebc6
    method: GET
  response:
    body: "{\"id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:46.201651Z\",\"updated_at\":\"2025-09-23T09:59:46.391569Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"configuring\",\"name\":\"tf-pn-silly-beaver\",\"tags\":[],\"ipv4\":{\"id\":\"7052cea5-935d-4a87-84f0-7558e84d905b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:45.020280Z\",\"updated_at\":\"2025-09-23T09:59:45.020280Z\",\"tags\":[],\"address\":\"163.172.185.197\",\"reverse\":\"197-185-172-163.instances.scw.cloud\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 32.153379ms
[...]
- id: 9
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"enable_masquerade\":true,\"push_default_route\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: "{\"id\":\"33f2e00a-510a-476e-b578-ba22e0abbb6e\",\"created_at\":\"2025-09-23T09:59:52.732133Z\",\"updated_at\":\"2025-09-23T09:59:52.732133Z\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"masquerade_enabled\":true,\"status\":\"created\",\"push_default_route\":false,\"ipam_ip_id\":\"f846b8ff-f39c-456f-b835-494e4ddf9cfd\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 438.3414ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/693f8dac-7422-4c12-90b3-02e4280cebc6
    method: GET
  response:
    body: "{\"id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:46.201651Z\",\"updated_at\":\"2025-09-23T10:00:02.824885Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"running\",\"name\":\"tf-pn-silly-beaver\",\"tags\":[],\"ipv4\":{\"id\":\"7052cea5-935d-4a87-84f0-7558e84d905b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:45.020280Z\",\"updated_at\":\"2025-09-23T09:59:45.020280Z\",\"tags\":[],\"address\":\"163.172.185.197\",\"reverse\":\"197-185-172-163.instances.scw.cloud\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[{\"id\":\"33f2e00a-510a-476e-b578-ba22e0abbb6e\",\"created_at\":\"2025-09-23T09:59:52.732133Z\",\"updated_at\":\"2025-09-23T10:00:02.559969Z\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"mac_address\":\"02:00:00:1A:34:31\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":false,\"ipam_ip_id\":\"f846b8ff-f39c-456f-b835-494e4ddf9cfd\",\"zone\":\"fr-par-1\"}],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 34.732189ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/33f2e00a-510a-476e-b578-ba22e0abbb6e
    method: GET
  response:
    body: "{\"id\":\"33f2e00a-510a-476e-b578-ba22e0abbb6e\",\"created_at\":\"2025-09-23T09:59:52.732133Z\",\"updated_at\":\"2025-09-23T10:00:02.559969Z\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"mac_address\":\"02:00:00:1A:34:31\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":false,\"ipam_ip_id\":\"f846b8ff-f39c-456f-b835-494e4ddf9cfd\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 621.003849ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - 8a7f7c46-58e0-4b6f-bae4-64f36175b6f9
      project_id:
      - 105bdce1-64c0-48ab-899d-868455867ecf
      resource_id:
      - 33f2e00a-510a-476e-b578-ba22e0abbb6e
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=8a7f7c46-58e0-4b6f-bae4-64f36175b6f9&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=33f2e00a-510a-476e-b578-ba22e0abbb6e&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"f846b8ff-f39c-456f-b835-494e4ddf9cfd\",\"address\":\"172.16.252.2/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_ipv6\":false,\"created_at\":\"2025-09-23T09:59:52.687563Z\",\"updated_at\":\"2025-09-23T09:59:53.024783Z\",\"source\":{\"subnet_id\":\"069d73d7-1a27-4ff7-94a6-1ed3b6979285\"},\"resource\":{\"type\":\"vpc_gateway_network\",\"id\":\"33f2e00a-510a-476e-b578-ba22e0abbb6e\",\"mac_address\":\"02:00:00:1A:34:31\",\"name\":\"tf-pn-silly-beaver\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 614.114274ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    form:
      gateway_ids:
      - 693f8dac-7422-4c12-90b3-02e4280cebc6
      order_by:
      - created_at_asc
      private_network_ids:
      - 8a7f7c46-58e0-4b6f-bae4-64f36175b6f9
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=693f8dac-7422-4c12-90b3-02e4280cebc6&order_by=created_at_asc&private_network_ids=8a7f7c46-58e0-4b6f-bae4-64f36175b6f9
    method: GET
  response:
    body: "{\"gateway_networks\":[{\"id\":\"33f2e00a-510a-476e-b578-ba22e0abbb6e\",\"created_at\":\"2025-09-23T09:59:52.732133Z\",\"updated_at\":\"2025-09-23T10:00:02.559969Z\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"private_network_id\":\"8a7f7c46-58e0-4b6f-bae4-64f36175b6f9\",\"mac_address\":\"02:00:00:1A:34:31\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":false,\"ipam_ip_id\":\"f846b8ff-f39c-456f-b835-494e4ddf9cfd\",\"zone\":\"fr-par-1\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 829.405222ms
[...]
- id: 60
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/33f2e00a-510a-476e-b578-ba22e0abbb6e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway_network\",\"resource_id\":\"33f2e00a-510a-476e-b578-ba22e0abbb6e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 33.156163ms
[...]
- id: 62
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/693f8dac-7422-4c12-90b3-02e4280cebc6?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:46.201651Z\",\"updated_at\":\"2025-09-23T10:00:18.033889Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"tf-pn-silly-beaver\",\"tags\":[],\"ipv4\":{\"id\":\"7052cea5-935d-4a87-84f0-7558e84d905b\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T09:59:45.020280Z\",\"updated_at\":\"2025-09-23T09:59:45.020280Z\",\"tags\":[],\"address\":\"163.172.185.197\",\"reverse\":\"197-185-172-163.instances.scw.cloud\",\"gateway_id\":\"693f8dac-7422-4c12-90b3-02e4280cebc6\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 46.125662ms
[...]
