---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn-intelligent-tesla","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:56:32.709682Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","name":"tf-pn-intelligent-tesla","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T14:56:32.709682Z","id":"05b35e93-d2f5-4d57-b97c-ea87d334922e","private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.20.0/22","updated_at":"2025-05-22T14:56:32.709682Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-05-22T14:56:32.709682Z","id":"2e01d856-7b65-4cfe-8797-313e054b3c71","private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:1b43::/64","updated_at":"2025-05-22T14:56:32.709682Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-05-22T14:56:32.709682Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 784.954083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d263e6f9-0712-4d88-8eba-12ab200b99a8
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:56:32.709682Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","name":"tf-pn-intelligent-tesla","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T14:56:32.709682Z","id":"05b35e93-d2f5-4d57-b97c-ea87d334922e","private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.20.0/22","updated_at":"2025-05-22T14:56:32.709682Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-05-22T14:56:32.709682Z","id":"2e01d856-7b65-4cfe-8797-313e054b3c71","private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:1b43::/64","updated_at":"2025-05-22T14:56:32.709682Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-05-22T14:56:32.709682Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.742792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.221.207","created_at":"2025-05-22T14:56:33.313166Z","id":"4b610dfc-7edd-49a2-9405-ef30e828bbb7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:56:33.313166Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 840.748041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/4b610dfc-7edd-49a2-9405-ef30e828bbb7
        method: GET
      response:
        body: '{"address":"51.15.221.207","created_at":"2025-05-22T14:56:33.313166Z","id":"4b610dfc-7edd-49a2-9405-ef30e828bbb7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:56:33.313166Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.257916ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-flamboyant-goldberg","tags":[],"type":"VPC-GW-S","ip_id":"4b610dfc-7edd-49a2-9405-ef30e828bbb7","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:56:33.435077Z","gateway_networks":[],"id":"3855b77f-4c25-4943-a343-1993c957d721","ipv4":{"address":"51.15.221.207","created_at":"2025-05-22T14:56:33.313166Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"4b610dfc-7edd-49a2-9405-ef30e828bbb7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:56:33.313166Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-flamboyant-goldberg","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:56:33.435077Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.8615ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/3855b77f-4c25-4943-a343-1993c957d721
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:56:33.435077Z","gateway_networks":[],"id":"3855b77f-4c25-4943-a343-1993c957d721","ipv4":{"address":"51.15.221.207","created_at":"2025-05-22T14:56:33.313166Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"4b610dfc-7edd-49a2-9405-ef30e828bbb7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:56:33.313166Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-flamboyant-goldberg","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:56:33.435077Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.600875ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","enable_masquerade":true,"push_default_route":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:56:39.143864Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"48466ef1-c577-4010-805e-1bc7a7abd2aa","ipam_ip_id":"adae7c40-ca27-4544-a65d-3389586e2241","masquerade_enabled":true,"private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","push_default_route":false,"status":"created","updated_at":"2025-05-22T14:56:39.143864Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 593.957333ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/3855b77f-4c25-4943-a343-1993c957d721
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:56:33.435077Z","gateway_networks":[{"created_at":"2025-05-22T14:56:39.143864Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"48466ef1-c577-4010-805e-1bc7a7abd2aa","ipam_ip_id":"adae7c40-ca27-4544-a65d-3389586e2241","mac_address":"02:00:00:15:33:A7","masquerade_enabled":true,"private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","push_default_route":false,"status":"ready","updated_at":"2025-05-22T14:56:47.766069Z","zone":"fr-par-1"}],"id":"3855b77f-4c25-4943-a343-1993c957d721","ipv4":{"address":"51.15.221.207","created_at":"2025-05-22T14:56:33.313166Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"4b610dfc-7edd-49a2-9405-ef30e828bbb7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:56:33.313166Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-flamboyant-goldberg","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:56:47.915644Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.513708ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/48466ef1-c577-4010-805e-1bc7a7abd2aa
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:56:39.143864Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"48466ef1-c577-4010-805e-1bc7a7abd2aa","ipam_ip_id":"adae7c40-ca27-4544-a65d-3389586e2241","mac_address":"02:00:00:15:33:A7","masquerade_enabled":true,"private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","push_default_route":false,"status":"ready","updated_at":"2025-05-22T14:56:47.766069Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.7505ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d263e6f9-0712-4d88-8eba-12ab200b99a8&project_id=951df375-e094-4d26-97c1-ba548eeb9c42&resource_id=48466ef1-c577-4010-805e-1bc7a7abd2aa&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.20.2/22","created_at":"2025-05-22T14:56:39.015309Z","id":"adae7c40-ca27-4544-a65d-3389586e2241","is_ipv6":false,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","resource":{"id":"48466ef1-c577-4010-805e-1bc7a7abd2aa","mac_address":"02:00:00:15:33:A7","name":"tf-pn-flamboyant-goldberg","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"05b35e93-d2f5-4d57-b97c-ea87d334922e"},"tags":[],"updated_at":"2025-05-22T14:56:39.663595Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.231542ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks?gateway_ids=3855b77f-4c25-4943-a343-1993c957d721&order_by=created_at_asc&private_network_ids=d263e6f9-0712-4d88-8eba-12ab200b99a8
        method: GET
      response:
        body: '{"gateway_networks":[{"created_at":"2025-05-22T14:56:39.143864Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"48466ef1-c577-4010-805e-1bc7a7abd2aa","ipam_ip_id":"adae7c40-ca27-4544-a65d-3389586e2241","mac_address":"02:00:00:15:33:A7","masquerade_enabled":true,"private_network_id":"d263e6f9-0712-4d88-8eba-12ab200b99a8","push_default_route":false,"status":"ready","updated_at":"2025-05-22T14:56:47.766069Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.425875ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/48466ef1-c577-4010-805e-1bc7a7abd2aa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"48466ef1-c577-4010-805e-1bc7a7abd2aa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.589042ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/3855b77f-4c25-4943-a343-1993c957d721?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-22T14:56:33.435077Z","gateway_networks":[],"id":"3855b77f-4c25-4943-a343-1993c957d721","ipv4":{"address":"51.15.221.207","created_at":"2025-05-22T14:56:33.313166Z","gateway_id":"3855b77f-4c25-4943-a343-1993c957d721","id":"4b610dfc-7edd-49a2-9405-ef30e828bbb7","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","reverse":"207-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-22T14:56:33.313166Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-pn-flamboyant-goldberg","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-22T14:56:57.132380Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.111666ms
[...]
