---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["tf-acc-pgw-ip-list"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.183.169","created_at":"2026-05-15T07:47:37.346098Z","id":"43635ce8-ace8-4b8a-be63-204a460b89d5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"169-183-172-163.instances.scw.cloud","tags":["tf-acc-pgw-ip-list"],"updated_at":"2026-05-15T07:47:37.346098Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 707.819292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/43635ce8-ace8-4b8a-be63-204a460b89d5
        method: GET
      response:
        body: '{"address":"163.172.183.169","created_at":"2026-05-15T07:47:37.346098Z","id":"43635ce8-ace8-4b8a-be63-204a460b89d5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"169-183-172-163.instances.scw.cloud","tags":["tf-acc-pgw-ip-list"],"updated_at":"2026-05-15T07:47:37.346098Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.487125ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips?order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&tags=tf-acc-pgw-ip-list
        method: GET
      response:
        body: '{"ips":[{"address":"163.172.183.169","created_at":"2026-05-15T07:47:37.346098Z","id":"43635ce8-ace8-4b8a-be63-204a460b89d5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"169-183-172-163.instances.scw.cloud","tags":["tf-acc-pgw-ip-list"],"updated_at":"2026-05-15T07:47:37.346098Z","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.824042ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/43635ce8-ace8-4b8a-be63-204a460b89d5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"43635ce8-ace8-4b8a-be63-204a460b89d5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.167542ms
