---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-gw-list-2","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T13:03:22.170049Z","gateway_networks":[],"id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","ipv4":{"address":"51.15.220.103","created_at":"2026-05-06T13:03:22.151862Z","gateway_id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","id":"8b35e0fd-c31c-401c-a185-8ad6e3f34fbe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"103-220-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T13:03:22.151862Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","updated_at":"2026-05-06T13:03:22.170049Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 748.11225ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4c7980b7-6ad8-4f48-b09d-2ce344f98e5e
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T13:03:22.170049Z","gateway_networks":[],"id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","ipv4":{"address":"51.15.220.103","created_at":"2026-05-06T13:03:22.151862Z","gateway_id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","id":"8b35e0fd-c31c-401c-a185-8ad6e3f34fbe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"103-220-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T13:03:22.151862Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","updated_at":"2026-05-06T13:03:22.201322Z","version":"0.7.9","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.853458ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?name=test-gw-list-1&order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T13:03:22.247315Z","gateway_networks":[],"id":"1e4e7b27-adc8-403b-af12-c786f0eac14a","ipv4":{"address":"51.15.221.16","created_at":"2026-05-06T13:03:22.226730Z","gateway_id":"1e4e7b27-adc8-403b-af12-c786f0eac14a","id":"e83d3d4d-7f3c-495d-81eb-742d70b5995c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"16-221-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T13:03:22.226730Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-05-06T13:03:25.547521Z","version":"0.7.9","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.3765ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&tags=test-gw-list-tagged
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T13:03:22.170049Z","gateway_networks":[],"id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","ipv4":{"address":"51.15.220.103","created_at":"2026-05-06T13:03:22.151862Z","gateway_id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","id":"8b35e0fd-c31c-401c-a185-8ad6e3f34fbe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"103-220-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T13:03:22.151862Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","updated_at":"2026-05-06T13:03:31.419975Z","version":"0.7.9","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.897ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?name=test-gw-list-2&order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&types=VPC-GW-S
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T13:03:22.170049Z","gateway_networks":[],"id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","ipv4":{"address":"51.15.220.103","created_at":"2026-05-06T13:03:22.151862Z","gateway_id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","id":"8b35e0fd-c31c-401c-a185-8ad6e3f34fbe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"103-220-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T13:03:22.151862Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","updated_at":"2026-05-06T13:03:31.419975Z","version":"0.7.9","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.88925ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/4c7980b7-6ad8-4f48-b09d-2ce344f98e5e?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T13:03:22.170049Z","gateway_networks":[],"id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","ipv4":{"address":"51.15.220.103","created_at":"2026-05-06T13:03:22.151862Z","gateway_id":"4c7980b7-6ad8-4f48-b09d-2ce344f98e5e","id":"8b35e0fd-c31c-401c-a185-8ad6e3f34fbe","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"103-220-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T13:03:22.151862Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","updated_at":"2026-05-06T13:03:33.565694Z","version":"0.7.9","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.065584ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/1e4e7b27-adc8-403b-af12-c786f0eac14a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"1e4e7b27-adc8-403b-af12-c786f0eac14a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.000667ms
[...]
