---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"test-gw-list-1","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T07:37:23.257760Z","gateway_networks":[],"id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","ipv4":{"address":"51.158.71.176","created_at":"2026-05-06T07:37:23.233222Z","gateway_id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","id":"b350cda6-94e5-41db-9121-44b7ebf60031","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"176-71-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T07:37:23.233222Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-05-06T07:37:23.257760Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.053398167s
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T07:37:23.257760Z","gateway_networks":[],"id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","ipv4":{"address":"51.158.71.176","created_at":"2026-05-06T07:37:23.233222Z","gateway_id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","id":"b350cda6-94e5-41db-9121-44b7ebf60031","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"176-71-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T07:37:23.233222Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-05-06T07:37:23.304310Z","version":"0.7.9","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.756541ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?name=test-gw-list-1&order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T07:37:23.257760Z","gateway_networks":[],"id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","ipv4":{"address":"51.158.71.176","created_at":"2026-05-06T07:37:23.233222Z","gateway_id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","id":"b350cda6-94e5-41db-9121-44b7ebf60031","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"176-71-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T07:37:23.233222Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-05-06T07:37:32.521471Z","version":"0.7.9","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.091125ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&tags=test-gw-list-tagged
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T07:37:23.319634Z","gateway_networks":[],"id":"ee3c960d-86db-41dd-8223-4d8a040df430","ipv4":{"address":"51.158.72.53","created_at":"2026-05-06T07:37:23.292897Z","gateway_id":"ee3c960d-86db-41dd-8223-4d8a040df430","id":"b4f6cbe6-5a8b-4d36-8c22-cfa7d632c066","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"53-72-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T07:37:23.292897Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","updated_at":"2026-05-06T07:37:28.402965Z","version":"0.7.9","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.979875ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways?name=test-gw-list-2&order_by=created_at_asc&page=1&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&types=VPC-GW-S
        method: GET
      response:
        body: '{"gateways":[{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T07:37:23.319634Z","gateway_networks":[],"id":"ee3c960d-86db-41dd-8223-4d8a040df430","ipv4":{"address":"51.158.72.53","created_at":"2026-05-06T07:37:23.292897Z","gateway_id":"ee3c960d-86db-41dd-8223-4d8a040df430","id":"b4f6cbe6-5a8b-4d36-8c22-cfa7d632c066","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"53-72-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T07:37:23.292897Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":["test-gw-list-tagged"],"type":"VPC-GW-S","updated_at":"2026-05-06T07:37:28.402965Z","version":"0.7.9","zone":"fr-par-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.503542ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-05-06T07:37:23.257760Z","gateway_networks":[],"id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","ipv4":{"address":"51.158.71.176","created_at":"2026-05-06T07:37:23.233222Z","gateway_id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","id":"b350cda6-94e5-41db-9121-44b7ebf60031","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"176-71-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-05-06T07:37:23.233222Z","zone":"fr-par-1"},"is_legacy":false,"name":"test-gw-list-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-05-06T07:37:34.520528Z","version":"0.7.9","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.309834ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"8a361b1e-92ba-46b0-ad7c-5f5dfbecadb0","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.543916ms
[...]
