---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-upgrade-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-29T15:36:22.349216Z","gateway_networks":[],"id":"fab7e76f-df18-4c83-99eb-5e657b7d397e","ip":{"address":"51.158.121.56","created_at":"2024-07-29T15:36:22.320468Z","gateway_id":"fab7e76f-df18-4c83-99eb-5e657b7d397e","id":"664bc2ba-6dcf-4049-ab33-770bf7e935a0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"56-121-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-07-29T15:36:22.320468Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-07-29T15:36:22.349216Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 876.562945ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fab7e76f-df18-4c83-99eb-5e657b7d397e
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-29T15:36:22.349216Z","gateway_networks":[],"id":"fab7e76f-df18-4c83-99eb-5e657b7d397e","ip":{"address":"51.158.121.56","created_at":"2024-07-29T15:36:22.320468Z","gateway_id":"fab7e76f-df18-4c83-99eb-5e657b7d397e","id":"664bc2ba-6dcf-4049-ab33-770bf7e935a0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"56-121-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-07-29T15:36:22.320468Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-07-29T15:36:22.401890Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.095467ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"type":"VPC-GW-M"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fab7e76f-df18-4c83-99eb-5e657b7d397e/upgrade
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-29T15:36:22.349216Z","gateway_networks":[],"id":"fab7e76f-df18-4c83-99eb-5e657b7d397e","ip":{"address":"51.158.121.56","created_at":"2024-07-29T15:36:22.320468Z","gateway_id":"fab7e76f-df18-4c83-99eb-5e657b7d397e","id":"664bc2ba-6dcf-4049-ab33-770bf7e935a0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"56-121-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-07-29T15:36:22.320468Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":1000000000,"name":"VPC-GW-M","zone":"fr-par-1"},"updated_at":"2024-07-29T15:36:34.041061Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.185015ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fab7e76f-df18-4c83-99eb-5e657b7d397e?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 54.070834ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/fab7e76f-df18-4c83-99eb-5e657b7d397e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"fab7e76f-df18-4c83-99eb-5e657b7d397e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.756758ms
[...]
