---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T17:52:30.399829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36510c3f-77ce-4940-abe0-5418ac0e75bc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:52:30.399829Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/36510c3f-77ce-4940-abe0-5418ac0e75bc
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-11T17:52:30.399829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36510c3f-77ce-4940-abe0-5418ac0e75bc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:52:30.399829Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-11T17:52:30.437615Z","dhcp_enabled":false,"id":"257742ff-f5c2-455b-aaf6-c1c00464d303","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:52:30.437615Z","id":"6848ebd9-d8ba-4cae-804f-d25ea9b2a9af","subnet":"172.16.16.0/22","updated_at":"2023-07-11T17:52:30.437615Z"},{"created_at":"2023-07-11T17:52:30.437615Z","id":"e7474300-3394-4499-97c5-3434a4bfe489","subnet":"fd46:78ab:30b8:655e::/64","updated_at":"2023-07-11T17:52:30.437615Z"}],"tags":[],"updated_at":"2023-07-11T17:52:30.437615Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/257742ff-f5c2-455b-aaf6-c1c00464d303
    method: GET
  response:
    body: '{"created_at":"2023-07-11T17:52:30.437615Z","dhcp_enabled":false,"id":"257742ff-f5c2-455b-aaf6-c1c00464d303","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-11T17:52:30.437615Z","id":"6848ebd9-d8ba-4cae-804f-d25ea9b2a9af","subnet":"172.16.16.0/22","updated_at":"2023-07-11T17:52:30.437615Z"},{"created_at":"2023-07-11T17:52:30.437615Z","id":"e7474300-3394-4499-97c5-3434a4bfe489","subnet":"fd46:78ab:30b8:655e::/64","updated_at":"2023-07-11T17:52:30.437615Z"}],"tags":[],"updated_at":"2023-07-11T17:52:30.437615Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"51.158.73.234","created_at":"2023-07-11T17:52:31.013260Z","gateway_id":null,"id":"0eefc619-554a-49e8-9bc5-c0c8c2aa97e7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-73-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:52:31.013260Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/0eefc619-554a-49e8-9bc5-c0c8c2aa97e7
    method: GET
  response:
    body: '{"address":"51.158.73.234","created_at":"2023-07-11T17:52:31.013260Z","gateway_id":null,"id":"0eefc619-554a-49e8-9bc5-c0c8c2aa97e7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-73-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:52:31.013260Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":"0eefc619-554a-49e8-9bc5-c0c8c2aa97e7","enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:52:32.913251Z","gateway_networks":[],"id":"1ed2126b-76a0-45fe-ac36-9aac9abed27c","ip":{"address":"51.158.73.234","created_at":"2023-07-11T17:52:31.013260Z","gateway_id":"1ed2126b-76a0-45fe-ac36-9aac9abed27c","id":"0eefc619-554a-49e8-9bc5-c0c8c2aa97e7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-73-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:52:31.013260Z","zone":"fr-par-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-11T17:52:32.913251Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1ed2126b-76a0-45fe-ac36-9aac9abed27c
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-11T17:52:32.913251Z","gateway_networks":[],"id":"1ed2126b-76a0-45fe-ac36-9aac9abed27c","ip":{"address":"51.158.73.234","created_at":"2023-07-11T17:52:31.013260Z","gateway_id":"1ed2126b-76a0-45fe-ac36-9aac9abed27c","id":"0eefc619-554a-49e8-9bc5-c0c8c2aa97e7","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"234-73-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-11T17:52:31.013260Z","zone":"fr-par-1"},"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-11T17:52:32.973149Z","upstream_dns_servers":[],"version":"0.5.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"gateway_id":"1ed2126b-76a0-45fe-ac36-9aac9abed27c","private_network_id":"257742ff-f5c2-455b-aaf6-c1c00464d303","enable_masquerade":true,"dhcp_id":"36510c3f-77ce-4940-abe0-5418ac0e75bc","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-07-11T17:52:38.732668Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T17:52:30.399829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36510c3f-77ce-4940-abe0-5418ac0e75bc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:52:30.399829Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"1ed2126b-76a0-45fe-ac36-9aac9abed27c","id":"8cb2f196-6cfa-4fd6-8544-5e1c02fa268f","mac_address":null,"private_network_id":"257742ff-f5c2-455b-aaf6-c1c00464d303","status":"created","updated_at":"2023-07-11T17:52:38.732668Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8cb2f196-6cfa-4fd6-8544-5e1c02fa268f
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-07-11T17:52:38.732668Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-11T17:52:30.399829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36510c3f-77ce-4940-abe0-5418ac0e75bc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-11T17:52:30.399829Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"1ed2126b-76a0-45fe-ac36-9aac9abed27c","id":"8cb2f196-6cfa-4fd6-8544-5e1c02fa268f","mac_address":null,"private_network_id":"257742ff-f5c2-455b-aaf6-c1c00464d303","status":"created","updated_at":"2023-07-11T17:52:38.732668Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8cb2f196-6cfa-4fd6-8544-5e1c02fa268f?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8cb2f196-6cfa-4fd6-8544-5e1c02fa268f
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"8cb2f196-6cfa-4fd6-8544-5e1c02fa268f","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/1ed2126b-76a0-45fe-ac36-9aac9abed27c?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
