---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.211.120","created_at":"2025-03-21T14:20:49.122668Z","id":"fbdf303c-43a8-4d68-9799-8b032e13b9be","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"120-211-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:20:49.122668Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 924.65678ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/fbdf303c-43a8-4d68-9799-8b032e13b9be
        method: GET
      response:
        body: '{"address":"51.15.211.120","created_at":"2025-03-21T14:20:49.122668Z","id":"fbdf303c-43a8-4d68-9799-8b032e13b9be","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"120-211-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:20:49.122668Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.06761ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/fbdf303c-43a8-4d68-9799-8b032e13b9be
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"fbdf303c-43a8-4d68-9799-8b032e13b9be","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.614709ms
