---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-13T17:44:40.911554Z","id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T17:44:40.911554Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.16207ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e
        method: GET
      response:
        body: '{"created_at":"2025-05-13T17:44:40.911554Z","id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T17:44:40.911554Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.34813ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T17:44:41.097997Z","dhcp_enabled":true,"id":"e4fe141c-4f0c-469d-a364-2e701dccd328","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T17:44:41.097997Z","id":"5cb8827f-7b91-4756-9441-83562df07e49","private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.64.0/22","updated_at":"2025-05-13T17:44:41.097997Z","vpc_id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e"},{"created_at":"2025-05-13T17:44:41.097997Z","id":"7d9dfb1f-63ea-4995-a045-a0ba828a74a1","private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:6d67::/64","updated_at":"2025-05-13T17:44:41.097997Z","vpc_id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e"}],"tags":[],"updated_at":"2025-05-13T17:44:41.097997Z","vpc_id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 534.330933ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e4fe141c-4f0c-469d-a364-2e701dccd328
        method: GET
      response:
        body: '{"created_at":"2025-05-13T17:44:41.097997Z","dhcp_enabled":true,"id":"e4fe141c-4f0c-469d-a364-2e701dccd328","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T17:44:41.097997Z","id":"5cb8827f-7b91-4756-9441-83562df07e49","private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.64.0/22","updated_at":"2025-05-13T17:44:41.097997Z","vpc_id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e"},{"created_at":"2025-05-13T17:44:41.097997Z","id":"7d9dfb1f-63ea-4995-a045-a0ba828a74a1","private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:6d67::/64","updated_at":"2025-05-13T17:44:41.097997Z","vpc_id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e"}],"tags":[],"updated_at":"2025-05-13T17:44:41.097997Z","vpc_id":"20f70eb5-5fa2-40ed-b5a5-2ef4078a0f5e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.518271ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T17:44:42.086138Z","gateway_networks":[],"id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","ipv4":{"address":"51.15.198.193","created_at":"2025-05-13T17:44:42.066109Z","gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","id":"f28fc2d2-3acf-4522-ae98-338414ccb5ae","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"193-198-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T17:44:42.066109Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T17:44:42.086138Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.353270246s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/e1c3422a-91b3-4f54-940b-f0c3b4b58736
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T17:44:42.086138Z","gateway_networks":[],"id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","ipv4":{"address":"51.15.198.193","created_at":"2025-05-13T17:44:42.066109Z","gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","id":"f28fc2d2-3acf-4522-ae98-338414ccb5ae","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"193-198-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T17:44:42.066109Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T17:44:42.130524Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.271292ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T17:44:57.987643Z","gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","id":"e17ba1e8-a5fd-46aa-8797-35afe328b8c1","ipam_ip_id":"74d6955c-c853-454d-b801-8b36e0ecf8e9","masquerade_enabled":true,"private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","push_default_route":true,"status":"created","updated_at":"2025-05-13T17:44:57.987643Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 629.852889ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/e1c3422a-91b3-4f54-940b-f0c3b4b58736
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T17:44:42.086138Z","gateway_networks":[{"created_at":"2025-05-13T17:44:57.987643Z","gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","id":"e17ba1e8-a5fd-46aa-8797-35afe328b8c1","ipam_ip_id":"74d6955c-c853-454d-b801-8b36e0ecf8e9","mac_address":"02:00:00:13:56:70","masquerade_enabled":true,"private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","push_default_route":true,"status":"configuring","updated_at":"2025-05-13T17:45:03.709444Z","zone":"fr-par-1"}],"id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","ipv4":{"address":"51.15.198.193","created_at":"2025-05-13T17:44:42.066109Z","gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","id":"f28fc2d2-3acf-4522-ae98-338414ccb5ae","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"193-198-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T17:44:42.066109Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T17:44:58.076426Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.060788ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/e17ba1e8-a5fd-46aa-8797-35afe328b8c1
        method: GET
      response:
        body: '{"created_at":"2025-05-13T17:44:57.987643Z","gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","id":"e17ba1e8-a5fd-46aa-8797-35afe328b8c1","ipam_ip_id":"74d6955c-c853-454d-b801-8b36e0ecf8e9","mac_address":"02:00:00:13:56:70","masquerade_enabled":true,"private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328","push_default_route":true,"status":"ready","updated_at":"2025-05-13T17:45:09.268136Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.062228ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=e4fe141c-4f0c-469d-a364-2e701dccd328&resource_id=e17ba1e8-a5fd-46aa-8797-35afe328b8c1&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.2/22","created_at":"2025-05-13T17:44:57.847951Z","id":"74d6955c-c853-454d-b801-8b36e0ecf8e9","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"e17ba1e8-a5fd-46aa-8797-35afe328b8c1","mac_address":"02:00:00:13:56:70","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"5cb8827f-7b91-4756-9441-83562df07e49"},"tags":[],"updated_at":"2025-05-13T17:44:58.352375Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.390746ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","source":{"private_network_id":"e4fe141c-4f0c-469d-a364-2e701dccd328"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-05-13T17:45:16.242617Z","id":"c5640994-88e3-4bd7-9c36-8c4264687180","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"5cb8827f-7b91-4756-9441-83562df07e49"},"tags":[],"updated_at":"2025-05-13T17:45:16.242617Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.97278ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/c5640994-88e3-4bd7-9c36-8c4264687180
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-05-13T17:45:16.242617Z","id":"c5640994-88e3-4bd7-9c36-8c4264687180","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"5cb8827f-7b91-4756-9441-83562df07e49"},"tags":[],"updated_at":"2025-05-13T17:45:16.242617Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.359816ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/e17ba1e8-a5fd-46aa-8797-35afe328b8c1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"e17ba1e8-a5fd-46aa-8797-35afe328b8c1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.784092ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/e1c3422a-91b3-4f54-940b-f0c3b4b58736?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T17:44:42.086138Z","gateway_networks":[],"id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","ipv4":{"address":"51.15.198.193","created_at":"2025-05-13T17:44:42.066109Z","gateway_id":"e1c3422a-91b3-4f54-940b-f0c3b4b58736","id":"f28fc2d2-3acf-4522-ae98-338414ccb5ae","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"193-198-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T17:44:42.066109Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T17:45:29.195573Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.010372ms
[...]
