---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:08:14.318042Z","custom_routes_propagation_enabled":false,"id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:08:14.318042Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 492.824417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b7bf3883-1a5e-49a8-9a18-541f67404ad2/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:08:14.318042Z","custom_routes_propagation_enabled":true,"id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:08:14.379060Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.104792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b7bf3883-1a5e-49a8-9a18-541f67404ad2
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:08:14.318042Z","custom_routes_propagation_enabled":true,"id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:08:14.379060Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.517542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:08:14.515347Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3293064f-f973-4025-a6ab-ff40db5edee0","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:08:14.515347Z","id":"051f0ecd-db12-4d10-b659-dbc8d5aa9f74","private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-06-30T15:08:14.515347Z","vpc_id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2"},{"created_at":"2025-06-30T15:08:14.515347Z","id":"f2c01de8-2952-4aa1-b519-d395f22f5e8f","private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9a46::/64","updated_at":"2025-06-30T15:08:14.515347Z","vpc_id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2"}],"tags":[],"updated_at":"2025-06-30T15:08:14.515347Z","vpc_id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 658.063958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:08:15.059932Z","gateway_networks":[],"id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","ipv4":{"address":"51.158.77.177","created_at":"2025-06-30T15:08:15.037518Z","gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","id":"3e3c2c09-18d1-4715-938d-321bb0bad502","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"177-77-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:08:15.037518Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:08:15.059932Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.26204825s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3293064f-f973-4025-a6ab-ff40db5edee0
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:08:14.515347Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"3293064f-f973-4025-a6ab-ff40db5edee0","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:08:14.515347Z","id":"051f0ecd-db12-4d10-b659-dbc8d5aa9f74","private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-06-30T15:08:14.515347Z","vpc_id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2"},{"created_at":"2025-06-30T15:08:14.515347Z","id":"f2c01de8-2952-4aa1-b519-d395f22f5e8f","private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9a46::/64","updated_at":"2025-06-30T15:08:14.515347Z","vpc_id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2"}],"tags":[],"updated_at":"2025-06-30T15:08:14.515347Z","vpc_id":"b7bf3883-1a5e-49a8-9a18-541f67404ad2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.915542ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/1bb7a670-4b3e-4f74-9214-0ad18874b2bc
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:08:15.059932Z","gateway_networks":[],"id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","ipv4":{"address":"51.158.77.177","created_at":"2025-06-30T15:08:15.037518Z","gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","id":"3e3c2c09-18d1-4715-938d-321bb0bad502","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"177-77-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:08:15.037518Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:08:15.105779Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.646959ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:08:27.598416Z","gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","id":"51f2119d-fa18-451b-8f25-37dd6c41bcd3","ipam_ip_id":"71f98296-5948-497a-b457-684ea07b7097","masquerade_enabled":true,"private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","push_default_route":true,"status":"created","updated_at":"2025-06-30T15:08:27.598416Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.361527458s
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/1bb7a670-4b3e-4f74-9214-0ad18874b2bc
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:08:15.059932Z","gateway_networks":[{"created_at":"2025-06-30T15:08:27.598416Z","gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","id":"51f2119d-fa18-451b-8f25-37dd6c41bcd3","ipam_ip_id":"71f98296-5948-497a-b457-684ea07b7097","mac_address":"02:00:00:1F:F3:A5","masquerade_enabled":true,"private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","push_default_route":true,"status":"ready","updated_at":"2025-06-30T15:08:36.757474Z","zone":"fr-par-1"}],"id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","ipv4":{"address":"51.158.77.177","created_at":"2025-06-30T15:08:15.037518Z","gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","id":"3e3c2c09-18d1-4715-938d-321bb0bad502","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"177-77-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:08:15.037518Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:08:36.915611Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.08875ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/51f2119d-fa18-451b-8f25-37dd6c41bcd3
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:08:27.598416Z","gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","id":"51f2119d-fa18-451b-8f25-37dd6c41bcd3","ipam_ip_id":"71f98296-5948-497a-b457-684ea07b7097","mac_address":"02:00:00:1F:F3:A5","masquerade_enabled":true,"private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0","push_default_route":true,"status":"ready","updated_at":"2025-06-30T15:08:36.757474Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.661375ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=3293064f-f973-4025-a6ab-ff40db5edee0&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=51f2119d-fa18-451b-8f25-37dd6c41bcd3&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.2/22","created_at":"2025-06-30T15:08:26.899175Z","id":"71f98296-5948-497a-b457-684ea07b7097","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"51f2119d-fa18-451b-8f25-37dd6c41bcd3","mac_address":"02:00:00:1F:F3:A5","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"051f0ecd-db12-4d10-b659-dbc8d5aa9f74"},"tags":[],"updated_at":"2025-06-30T15:08:28.100856Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.527875ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"3293064f-f973-4025-a6ab-ff40db5edee0"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-06-30T15:08:39.974998Z","id":"42fab6f1-13a0-498d-8dbc-1f2d0c64fb06","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"051f0ecd-db12-4d10-b659-dbc8d5aa9f74"},"tags":[],"updated_at":"2025-06-30T15:08:39.974998Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 750.485167ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/42fab6f1-13a0-498d-8dbc-1f2d0c64fb06
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-06-30T15:08:39.974998Z","id":"42fab6f1-13a0-498d-8dbc-1f2d0c64fb06","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"051f0ecd-db12-4d10-b659-dbc8d5aa9f74"},"tags":[],"updated_at":"2025-06-30T15:08:39.974998Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.611875ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/51f2119d-fa18-451b-8f25-37dd6c41bcd3
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"51f2119d-fa18-451b-8f25-37dd6c41bcd3","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.586875ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/1bb7a670-4b3e-4f74-9214-0ad18874b2bc?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:08:15.059932Z","gateway_networks":[],"id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","ipv4":{"address":"51.158.77.177","created_at":"2025-06-30T15:08:15.037518Z","gateway_id":"1bb7a670-4b3e-4f74-9214-0ad18874b2bc","id":"3e3c2c09-18d1-4715-938d-321bb0bad502","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"177-77-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:08:15.037518Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:08:51.700794Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 509.373375ms
[...]
