---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"public-gateway-bastion-test\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.792539Z\",\"updated_at\":\"2025-08-26T16:32:46.792539Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-bastion-test\",\"tags\":[],\"ipv4\":{\"id\":\"6d07d3e2-263b-4719-bd54-ee2aa068e9e6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.756638Z\",\"updated_at\":\"2025-08-26T16:32:46.756638Z\",\"tags\":[],\"address\":\"51.15.228.124\",\"reverse\":\"124-228-15-51.instances.scw.cloud\",\"gateway_id\":\"2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":true,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 866.267189ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9
    method: GET
  response:
    body: "{\"id\":\"2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.792539Z\",\"updated_at\":\"2025-08-26T16:32:46.835179Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-bastion-test\",\"tags\":[],\"ipv4\":{\"id\":\"6d07d3e2-263b-4719-bd54-ee2aa068e9e6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.756638Z\",\"updated_at\":\"2025-08-26T16:32:46.756638Z\",\"tags\":[],\"address\":\"51.15.228.124\",\"reverse\":\"124-228-15-51.instances.scw.cloud\",\"gateway_id\":\"2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":true,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.374074ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.792539Z\",\"updated_at\":\"2025-08-26T16:33:15.616107Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"public-gateway-bastion-test\",\"tags\":[],\"ipv4\":{\"id\":\"6d07d3e2-263b-4719-bd54-ee2aa068e9e6\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.756638Z\",\"updated_at\":\"2025-08-26T16:32:46.756638Z\",\"tags\":[],\"address\":\"51.15.228.124\",\"reverse\":\"124-228-15-51.instances.scw.cloud\",\"gateway_id\":\"2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.388897ms
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway\",\"resource_id\":\"2b429b9c-9faa-4eb8-b29f-a26c8a9da3d9\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 28.171415ms
[...]
