---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-16T13:39:33.337582Z","custom_routes_propagation_enabled":false,"id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-16T13:39:33.337582Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.378632ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ede3ac16-35dc-493c-ab58-4cc0363f2a16
        method: GET
      response:
        body: '{"created_at":"2025-05-16T13:39:33.337582Z","custom_routes_propagation_enabled":false,"id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-16T13:39:33.337582Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.621839ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-16T13:39:33.548609Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d497c729-df85-4228-9138-162be5730af3","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-16T13:39:33.548609Z","id":"1cb1e31d-6a07-4491-ac19-4a1bab125521","private_network_id":"d497c729-df85-4228-9138-162be5730af3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.64.0/22","updated_at":"2025-05-16T13:39:33.548609Z","vpc_id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16"},{"created_at":"2025-05-16T13:39:33.548609Z","id":"7d5e1ed0-6ee1-49ea-8743-1600a1b55af6","private_network_id":"d497c729-df85-4228-9138-162be5730af3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d94e::/64","updated_at":"2025-05-16T13:39:33.548609Z","vpc_id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16"}],"tags":[],"updated_at":"2025-05-16T13:39:33.548609Z","vpc_id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.351281ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d497c729-df85-4228-9138-162be5730af3
        method: GET
      response:
        body: '{"created_at":"2025-05-16T13:39:33.548609Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"d497c729-df85-4228-9138-162be5730af3","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-16T13:39:33.548609Z","id":"1cb1e31d-6a07-4491-ac19-4a1bab125521","private_network_id":"d497c729-df85-4228-9138-162be5730af3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.64.0/22","updated_at":"2025-05-16T13:39:33.548609Z","vpc_id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16"},{"created_at":"2025-05-16T13:39:33.548609Z","id":"7d5e1ed0-6ee1-49ea-8743-1600a1b55af6","private_network_id":"d497c729-df85-4228-9138-162be5730af3","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:d94e::/64","updated_at":"2025-05-16T13:39:33.548609Z","vpc_id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16"}],"tags":[],"updated_at":"2025-05-16T13:39:33.548609Z","vpc_id":"ede3ac16-35dc-493c-ab58-4cc0363f2a16"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.766235ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:34.627778Z","gateway_networks":[],"id":"442456ee-97da-4c5e-a279-0b7139345b87","ipv4":{"address":"163.172.136.13","created_at":"2025-05-16T13:39:34.612876Z","gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","id":"002a1539-e0a0-486e-8b1f-b2b39211317b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"13-136-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:34.612876Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:39:34.627778Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.43983294s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/442456ee-97da-4c5e-a279-0b7139345b87
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:34.627778Z","gateway_networks":[],"id":"442456ee-97da-4c5e-a279-0b7139345b87","ipv4":{"address":"163.172.136.13","created_at":"2025-05-16T13:39:34.612876Z","gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","id":"002a1539-e0a0-486e-8b1f-b2b39211317b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"13-136-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:34.612876Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:39:34.665381Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.110504ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","private_network_id":"d497c729-df85-4228-9138-162be5730af3","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-16T13:39:41.323591Z","gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","id":"b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f","ipam_ip_id":"81780257-70ce-4791-b84c-e3bf6e29b1ed","masquerade_enabled":true,"private_network_id":"d497c729-df85-4228-9138-162be5730af3","push_default_route":true,"status":"created","updated_at":"2025-05-16T13:39:41.323591Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.523409366s
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/442456ee-97da-4c5e-a279-0b7139345b87
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:34.627778Z","gateway_networks":[{"created_at":"2025-05-16T13:39:41.323591Z","gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","id":"b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f","ipam_ip_id":"81780257-70ce-4791-b84c-e3bf6e29b1ed","mac_address":"02:00:00:1E:04:CD","masquerade_enabled":true,"private_network_id":"d497c729-df85-4228-9138-162be5730af3","push_default_route":true,"status":"configuring","updated_at":"2025-05-16T13:39:47.101554Z","zone":"fr-par-1"}],"id":"442456ee-97da-4c5e-a279-0b7139345b87","ipv4":{"address":"163.172.136.13","created_at":"2025-05-16T13:39:34.612876Z","gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","id":"002a1539-e0a0-486e-8b1f-b2b39211317b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"13-136-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:34.612876Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:39:41.418512Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.821612ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f
        method: GET
      response:
        body: '{"created_at":"2025-05-16T13:39:41.323591Z","gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","id":"b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f","ipam_ip_id":"81780257-70ce-4791-b84c-e3bf6e29b1ed","mac_address":"02:00:00:1E:04:CD","masquerade_enabled":true,"private_network_id":"d497c729-df85-4228-9138-162be5730af3","push_default_route":true,"status":"ready","updated_at":"2025-05-16T13:39:51.895282Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.347036ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d497c729-df85-4228-9138-162be5730af3&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.2/22","created_at":"2025-05-16T13:39:41.218279Z","id":"81780257-70ce-4791-b84c-e3bf6e29b1ed","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f","mac_address":"02:00:00:1E:04:CD","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"1cb1e31d-6a07-4491-ac19-4a1bab125521"},"tags":[],"updated_at":"2025-05-16T13:39:41.729531Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.863632ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","source":{"private_network_id":"d497c729-df85-4228-9138-162be5730af3"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-05-16T13:39:59.919421Z","id":"74984528-9ba7-4d59-9fdb-5ad58012a31d","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1cb1e31d-6a07-4491-ac19-4a1bab125521"},"tags":[],"updated_at":"2025-05-16T13:39:59.919421Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.557736ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/74984528-9ba7-4d59-9fdb-5ad58012a31d
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-05-16T13:39:59.919421Z","id":"74984528-9ba7-4d59-9fdb-5ad58012a31d","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1cb1e31d-6a07-4491-ac19-4a1bab125521"},"tags":[],"updated_at":"2025-05-16T13:39:59.919421Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.21625ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"b6976e54-0ab2-459d-aa3b-a9dfa3bb4c3f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 34.031906ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/442456ee-97da-4c5e-a279-0b7139345b87?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-16T13:39:34.627778Z","gateway_networks":[],"id":"442456ee-97da-4c5e-a279-0b7139345b87","ipv4":{"address":"163.172.136.13","created_at":"2025-05-16T13:39:34.612876Z","gateway_id":"442456ee-97da-4c5e-a279-0b7139345b87","id":"002a1539-e0a0-486e-8b1f-b2b39211317b","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"13-136-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-05-16T13:39:34.612876Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-16T13:40:13.549218Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.721436ms
[...]
