---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"212.47.253.238","created_at":"2025-01-24T14:51:50.703477Z","gateway_id":null,"id":"7bf91ecf-a167-463e-be22-c35691a970ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"238-253-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.703477Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 876.064125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/7bf91ecf-a167-463e-be22-c35691a970ca
        method: GET
      response:
        body: '{"address":"212.47.253.238","created_at":"2025-01-24T14:51:50.703477Z","gateway_id":null,"id":"7bf91ecf-a167-463e-be22-c35691a970ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"238-253-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.703477Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.339041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"7bf91ecf-a167-463e-be22-c35691a970ca","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:50.876232Z","gateway_networks":[],"id":"17f50d39-13f8-4b0c-a4c0-76c2b767a145","ip":{"address":"212.47.253.238","created_at":"2025-01-24T14:51:50.703477Z","gateway_id":"17f50d39-13f8-4b0c-a4c0-76c2b767a145","id":"7bf91ecf-a167-463e-be22-c35691a970ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"238-253-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.703477Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:50.876232Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.504417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/17f50d39-13f8-4b0c-a4c0-76c2b767a145
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:50.876232Z","gateway_networks":[],"id":"17f50d39-13f8-4b0c-a4c0-76c2b767a145","ip":{"address":"212.47.253.238","created_at":"2025-01-24T14:51:50.703477Z","gateway_id":"17f50d39-13f8-4b0c-a4c0-76c2b767a145","id":"7bf91ecf-a167-463e-be22-c35691a970ca","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"238-253-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.703477Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:50.876232Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.653875ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/17f50d39-13f8-4b0c-a4c0-76c2b767a145?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.18475ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/17f50d39-13f8-4b0c-a4c0-76c2b767a145
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"17f50d39-13f8-4b0c-a4c0-76c2b767a145","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.286417ms
[...]
