---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:01.070660Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"15c8ce11-9fb0-4002-be99-9ce0cf65ca15","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:01.070660Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.695084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/15c8ce11-9fb0-4002-be99-9ce0cf65ca15
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:01.070660Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"15c8ce11-9fb0-4002-be99-9ce0cf65ca15","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:01.070660Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.783417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:01.142668Z","dhcp_enabled":true,"id":"636f4c99-adec-4e47-b358-1eca3392a943","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:01.142668Z","id":"1d4b6819-5787-4e33-a836-f2c816c16f72","private_network_id":"636f4c99-adec-4e47-b358-1eca3392a943","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-27T09:16:01.142668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:01.142668Z","id":"71396945-f4a7-4c17-80e9-90fcd39d5b41","private_network_id":"636f4c99-adec-4e47-b358-1eca3392a943","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:15f0::/64","updated_at":"2025-01-27T09:16:01.142668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:01.142668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 678.504834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/636f4c99-adec-4e47-b358-1eca3392a943
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:01.142668Z","dhcp_enabled":true,"id":"636f4c99-adec-4e47-b358-1eca3392a943","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:01.142668Z","id":"1d4b6819-5787-4e33-a836-f2c816c16f72","private_network_id":"636f4c99-adec-4e47-b358-1eca3392a943","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.32.0/22","updated_at":"2025-01-27T09:16:01.142668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:01.142668Z","id":"71396945-f4a7-4c17-80e9-90fcd39d5b41","private_network_id":"636f4c99-adec-4e47-b358-1eca3392a943","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:15f0::/64","updated_at":"2025-01-27T09:16:01.142668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:01.142668Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.785458ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.205.149","created_at":"2025-01-27T09:16:01.872269Z","gateway_id":null,"id":"4846847f-9ee3-4c93-a028-edec3ae80fc9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"149-205-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.872269Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 876.051584ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/4846847f-9ee3-4c93-a028-edec3ae80fc9
        method: GET
      response:
        body: '{"address":"51.15.205.149","created_at":"2025-01-27T09:16:01.872269Z","gateway_id":null,"id":"4846847f-9ee3-4c93-a028-edec3ae80fc9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"149-205-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.872269Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.649916ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"4846847f-9ee3-4c93-a028-edec3ae80fc9","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:05.499158Z","gateway_networks":[],"id":"c2fe134c-0133-455f-9b80-f2ab4023aee8","ip":{"address":"51.15.205.149","created_at":"2025-01-27T09:16:01.872269Z","gateway_id":"c2fe134c-0133-455f-9b80-f2ab4023aee8","id":"4846847f-9ee3-4c93-a028-edec3ae80fc9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"149-205-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.872269Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:05.499158Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.308083ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c2fe134c-0133-455f-9b80-f2ab4023aee8
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:05.499158Z","gateway_networks":[],"id":"c2fe134c-0133-455f-9b80-f2ab4023aee8","ip":{"address":"51.15.205.149","created_at":"2025-01-27T09:16:01.872269Z","gateway_id":"c2fe134c-0133-455f-9b80-f2ab4023aee8","id":"4846847f-9ee3-4c93-a028-edec3ae80fc9","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"149-205-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.872269Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:05.540852Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.990292ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"c2fe134c-0133-455f-9b80-f2ab4023aee8","private_network_id":"636f4c99-adec-4e47-b358-1eca3392a943","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"15c8ce11-9fb0-4002-be99-9ce0cf65ca15"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:12.741670Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:01.070660Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"15c8ce11-9fb0-4002-be99-9ce0cf65ca15","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:01.070660Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"c2fe134c-0133-455f-9b80-f2ab4023aee8","id":"e4743489-de29-4059-a3e5-9d170f545f18","ipam_config":null,"mac_address":null,"private_network_id":"636f4c99-adec-4e47-b358-1eca3392a943","status":"created","updated_at":"2025-01-27T09:16:12.741670Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.231574083s
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e4743489-de29-4059-a3e5-9d170f545f18
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:12.741670Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:01.070660Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"15c8ce11-9fb0-4002-be99-9ce0cf65ca15","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:01.070660Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"c2fe134c-0133-455f-9b80-f2ab4023aee8","id":"e4743489-de29-4059-a3e5-9d170f545f18","ipam_config":null,"mac_address":"02:00:00:1A:67:44","private_network_id":"636f4c99-adec-4e47-b358-1eca3392a943","status":"ready","updated_at":"2025-01-27T09:16:23.152497Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.044917ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e4743489-de29-4059-a3e5-9d170f545f18?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 68.706792ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e4743489-de29-4059-a3e5-9d170f545f18
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"e4743489-de29-4059-a3e5-9d170f545f18","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.279542ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/c2fe134c-0133-455f-9b80-f2ab4023aee8?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 50.298292ms
[...]
