---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"05ef52a6-29d2-41cf-b3ba-9c2cc096abe8\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.913963Z\",\"updated_at\":\"2025-08-26T16:32:46.913963Z\",\"tags\":[],\"address\":\"51.158.72.185\",\"reverse\":\"185-72-158-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 869.650595ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/05ef52a6-29d2-41cf-b3ba-9c2cc096abe8
    method: GET
  response:
    body: "{\"id\":\"05ef52a6-29d2-41cf-b3ba-9c2cc096abe8\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.913963Z\",\"updated_at\":\"2025-08-26T16:32:46.913963Z\",\"tags\":[],\"address\":\"51.158.72.185\",\"reverse\":\"185-72-158-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 129.796086ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"add\":{\"records\":[{\"data\":\"51.158.72.185\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null,\"id\":\"\"}]}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[{\"id\":\"4d49db6f-ffbe-48f0-ba21-bb0de2d1252a\",\"data\":\"51.158.72.185\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 167.906654ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"4d49db6f-ffbe-48f0-ba21-bb0de2d1252a\",\"data\":\"51.158.72.185\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 118.561757ms
- id: 4
  request:
    host: api.scaleway.com
    form:
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"4d49db6f-ffbe-48f0-ba21-bb0de2d1252a\",\"data\":\"51.158.72.185\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 115.197216ms
- id: 5
  request:
    host: api.scaleway.com
    form:
      id:
      - 4d49db6f-ffbe-48f0-ba21-bb0de2d1252a
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - unknown
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?id=4d49db6f-ffbe-48f0-ba21-bb0de2d1252a&name=&order_by=name_asc&page=1&type=unknown
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"4d49db6f-ffbe-48f0-ba21-bb0de2d1252a\",\"data\":\"51.158.72.185\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.168589ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      dns_zones:
      - tf-reverse-vpcgw.scaleway-terraform.com
      domain:
      - ""
      order_by:
      - domain_asc
      page:
      - "1"
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-vpcgw.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
    method: GET
  response:
    body: "{\"total_count\":1,\"dns_zones\":[{\"domain\":\"scaleway-terraform.com\",\"subdomain\":\"tf-reverse-vpcgw\",\"ns\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_default\":[\"ns0.dom.scw.cloud\",\"ns1.dom.scw.cloud\"],\"ns_master\":[],\"status\":\"pending\",\"message\":null,\"updated_at\":\"2025-08-26T16:32:47Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"linked_products\":[]}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 106.989112ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"reverse\":\"tf-reverse-vpcgw.scaleway-terraform.com\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/05ef52a6-29d2-41cf-b3ba-9c2cc096abe8
    method: PATCH
  response:
    body: "{\"details\":[{\"argument_name\":\"reverse\",\"help_message\":\"must_resolve: {\\\"dns\\\": \\\"{\\\\\\\"type\\\\\\\": \\\\\\\"invalid_arguments\\\\\\\", \\\\\\\"message\\\\\\\": \\\\\\\"invalid argument(s)\\\\\\\", \\\\\\\"details\\\\\\\": [{\\\\\\\"argument_name\\\\\\\": \\\\\\\"reverse\\\\\\\", \\\\\\\"reason\\\\\\\": \\\\\\\"constraint\\\\\\\", \\\\\\\"help_message\\\\\\\": \\\\\\\"Your reverse must resolve. Ensure the command 'dig +short tf-reverse-vpcgw.scaleway-terraform.com' matches your IP address '51.158.72.185'. If it does, please contact our support.\\\\\\\"}]}\\\"}\",\"reason\":\"unknown\"}],\"message\":\"invalid argument(s)\",\"type\":\"invalid_arguments\"}"
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: 429.055359ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      id:
      - 4d49db6f-ffbe-48f0-ba21-bb0de2d1252a
      name:
      - ""
      order_by:
      - name_asc
      page:
      - "1"
      type:
      - A
    headers:
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?id=4d49db6f-ffbe-48f0-ba21-bb0de2d1252a&name=&order_by=name_asc&page=1&type=A
    method: GET
  response:
    body: "{\"total_count\":1,\"records\":[{\"id\":\"4d49db6f-ffbe-48f0-ba21-bb0de2d1252a\",\"data\":\"51.158.72.185\",\"name\":\"\",\"priority\":1,\"ttl\":3600,\"type\":\"A\",\"comment\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.874979ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"changes\":[{\"delete\":{\"id\":\"4d49db6f-ffbe-48f0-ba21-bb0de2d1252a\"}}],\"return_all_records\":false,\"disallow_new_zone_creation\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
    method: PATCH
  response:
    body: "{\"records\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 112.88034ms
[...]
