---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"public-gateway-upgrade-test\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.624818Z\",\"updated_at\":\"2025-08-26T16:32:47.624818Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-upgrade-test\",\"tags\":[],\"ipv4\":{\"id\":\"b6d6e03b-dd6e-41ab-97d2-9f9042860d5d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.609157Z\",\"updated_at\":\"2025-08-26T16:32:47.609157Z\",\"tags\":[],\"address\":\"212.47.244.153\",\"reverse\":\"153-244-47-212.instances.scw.cloud\",\"gateway_id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.099928506s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5
    method: GET
  response:
    body: "{\"id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.624818Z\",\"updated_at\":\"2025-08-26T16:32:47.663595Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-upgrade-test\",\"tags\":[],\"ipv4\":{\"id\":\"b6d6e03b-dd6e-41ab-97d2-9f9042860d5d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.609157Z\",\"updated_at\":\"2025-08-26T16:32:47.609157Z\",\"tags\":[],\"address\":\"212.47.244.153\",\"reverse\":\"153-244-47-212.instances.scw.cloud\",\"gateway_id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 278.030455ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"type\":\"VPC-GW-M\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5/upgrade
    method: POST
  response:
    body: "{\"id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.624818Z\",\"updated_at\":\"2025-08-26T16:32:59.734683Z\",\"type\":\"VPC-GW-M\",\"bandwidth\":1000,\"status\":\"running\",\"name\":\"public-gateway-upgrade-test\",\"tags\":[],\"ipv4\":{\"id\":\"b6d6e03b-dd6e-41ab-97d2-9f9042860d5d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.609157Z\",\"updated_at\":\"2025-08-26T16:32:47.609157Z\",\"tags\":[],\"address\":\"212.47.244.153\",\"reverse\":\"153-244-47-212.instances.scw.cloud\",\"gateway_id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 128.300999ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.624818Z\",\"updated_at\":\"2025-08-26T16:33:08.286084Z\",\"type\":\"VPC-GW-M\",\"bandwidth\":1000,\"status\":\"deleting\",\"name\":\"public-gateway-upgrade-test\",\"tags\":[],\"ipv4\":{\"id\":\"b6d6e03b-dd6e-41ab-97d2-9f9042860d5d\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.609157Z\",\"updated_at\":\"2025-08-26T16:32:47.609157Z\",\"tags\":[],\"address\":\"212.47.244.153\",\"reverse\":\"153-244-47-212.instances.scw.cloud\",\"gateway_id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.707169ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway\",\"resource_id\":\"9ac3a36a-6ff0-4f40-9bc9-40bbe95043b5\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 22.24196ms
[...]
