---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:47:08.669053Z","custom_routes_propagation_enabled":true,"id":"017c275b-670b-4374-833c-5fb0952dda5f","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T12:47:08.669053Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.875318ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.902025ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/017c275b-670b-4374-833c-5fb0952dda5f
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:47:08.669053Z","custom_routes_propagation_enabled":true,"id":"017c275b-670b-4374-833c-5fb0952dda5f","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T12:47:08.669053Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.13034ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"017c275b-670b-4374-833c-5fb0952dda5f","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:47:08.930557Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-24T12:47:08.930557Z","id":"27ae5bbe-f5f9-4e85-97dc-276f68e5742a","private_network_id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"172.16.64.0/22","updated_at":"2026-08-24T12:47:08.930557Z","vpc_id":"017c275b-670b-4374-833c-5fb0952dda5f"},{"created_at":"2026-08-24T12:47:08.930557Z","id":"3c6fa3b7-88b7-406d-b569-dd92725f8b0c","private_network_id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:593f::/64","updated_at":"2026-08-24T12:47:08.930557Z","vpc_id":"017c275b-670b-4374-833c-5fb0952dda5f"}],"tags":[],"updated_at":"2026-08-24T12:47:08.930557Z","vpc_id":"017c275b-670b-4374-833c-5fb0952dda5f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.354657ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6ee4644c-bdc8-4490-a652-266e7f51aac0
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:47:08.930557Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_s3_integration":false,"id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","name":"pn_test_network","organization_id":"105bd[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:47:10.864302Z","gateway_networks":[],"id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","ipv4":{"address":"51.15.204.73","created_at":"2026-08-24T12:47:10.845171Z","gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","id":"7ee910f6-4267-4490-997b-79446224a61f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"73-204-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:47:10.845171Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:47:10.864302Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.461682217s
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:47:10.864302Z","gateway_networks":[],"id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","ipv4":{"address":"51.15.204.73","created_at":"2026-08-24T12:47:10.845171Z","gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","id":"7ee910f6-4267-4490-997b-79446224a61f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"73-204-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:47:10.845171Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:47:10.945053Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.23713ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","private_network_id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-24T12:47:16.817468Z","gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","id":"1a57231a-7b25-4dea-8ee8-8291547f4f33","ipam_ip_id":"f7b37038-84e3-4e3e-aec5-5cedc43c0df9","masquerade_enabled":true,"private_network_id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","push_default_route":true,"status":"created","updated_at":"2026-08-24T12:47:16.817468Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 733.640724ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:47:10.864302Z","gateway_networks":[{"created_at":"2026-08-24T12:47:16.817468Z","gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","id":"1a57231a-7b25-4dea-8ee8-8291547f4f33","ipam_ip_id":"f7b37038-84e3-4e3e-aec5-5cedc43c0df9","mac_address":"02:00:00:1F:E0:D4","masquerade_enabled":true,"private_network_id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","push_default_route":true,"status":"ready","updated_at":"2026-08-24T12:47:24.566788Z","zone":"fr-par-1"}],"id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","ipv4":{"address":"51.15.204.73","created_at":"2026-08-24T12:47:10.845171Z","gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","id":"7ee910f6-4267-4490-997b-79446224a61f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"73-204-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:47:10.845171Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:47:24.719896Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.95912ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/1a57231a-7b25-4dea-8ee8-8291547f4f33
        method: GET
      response:
        body: '{"created_at":"2026-08-24T12:47:16.817468Z","gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","id":"1a57231a-7b25-4dea-8ee8-8291547f4f33","ipam_ip_id":"f7b37038-84e3-4e3e-aec5-5cedc43c0df9","mac_address":"02:00:00:1F:E0:D4","masquerade_enabled":true,"private_network_id":"6ee4644c-bdc8-4490-a652-266e7f51aac0","push_default_route":true,"status":"ready","updated_at":"2026-08-24T12:47:24.566788Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.30666ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=6ee4644c-bdc8-4490-a652-266e7f51aac0&project_id=105bdce1-64c0-48ab-899d-868455867ecf&resource_id=1a57231a-7b25-4dea-8ee8-8291547f4f33&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.2/22","created_at":"2026-08-24T12:47:16.766885Z","id":"f7b37038-84e3-4e3e-aec5-5cedc43c0df9","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":{"id":"1a57231a-7b25-4dea-8ee8-8291547f4f33","mac_address":"02:00:00:1F:E0:D4","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"27ae5bbe-f5f9-4e85-97dc-276f68e5742a"},"tags":[],"updated_at":"2026-08-24T12:47:17.834048Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.215732ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"6ee4644c-bdc8-4490-a652-266e7f51aac0"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2026-08-24T12:47:29.810536Z","id":"488d1d7e-f632-4379-846b-7b37d38b17be","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"27ae5bbe-f5f9-4e85-97dc-276f68e5742a"},"tags":[],"updated_at":"2026-08-24T12:47:29.810536Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.974642ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/488d1d7e-f632-4379-846b-7b37d38b17be
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2026-08-24T12:47:29.810536Z","id":"488d1d7e-f632-4379-846b-7b37d38b17be","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"27ae5bbe-f5f9-4e85-97dc-276f68e5742a"},"tags":[],"updated_at":"2026-08-24T12:47:29.810536Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.519338ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/1a57231a-7b25-4dea-8ee8-8291547f4f33
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"1a57231a-7b25-4dea-8ee8-8291547f4f33","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 50.869801ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:47:10.864302Z","gateway_networks":[],"id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","ipv4":{"address":"51.15.204.73","created_at":"2026-08-24T12:47:10.845171Z","gateway_id":"5bb7ed03-8bc2-460d-888c-8e7f8ffb7f44","id":"7ee910f6-4267-4490-997b-79446224a61f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"73-204-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:47:10.845171Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:47:43.180747Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.047827ms
[...]
