---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:59.789829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"57bfaa76-0963-413d-a2e1-4c3391267ca5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:59.789829Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.275459ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/57bfaa76-0963-413d-a2e1-4c3391267ca5
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:59.789829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"57bfaa76-0963-413d-a2e1-4c3391267ca5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:59.789829Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.22075ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:51:59.813826Z","dhcp_enabled":true,"id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:59.813826Z","id":"cd61fcb2-12e1-4032-9d2a-e111180cc841","private_network_id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:51:59.813826Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:59.813826Z","id":"cf36dc6f-eeae-4cd9-98d0-b26250151d3b","private_network_id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4b89::/64","updated_at":"2025-01-24T14:51:59.813826Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:59.813826Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.794167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/cb9d8e6d-35c4-409f-8b38-ae6a362acbd3
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:51:59.813826Z","dhcp_enabled":true,"id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:59.813826Z","id":"cd61fcb2-12e1-4032-9d2a-e111180cc841","private_network_id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:51:59.813826Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:59.813826Z","id":"cf36dc6f-eeae-4cd9-98d0-b26250151d3b","private_network_id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:4b89::/64","updated_at":"2025-01-24T14:51:59.813826Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:59.813826Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.128958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.130.186","created_at":"2025-01-24T14:52:00.471703Z","gateway_id":null,"id":"b466200b-66e8-4858-b7ab-ea413d666804","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:00.471703Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.1248905s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/b466200b-66e8-4858-b7ab-ea413d666804
        method: GET
      response:
        body: '{"address":"51.15.130.186","created_at":"2025-01-24T14:52:00.471703Z","gateway_id":null,"id":"b466200b-66e8-4858-b7ab-ea413d666804","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:00.471703Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.686584ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"b466200b-66e8-4858-b7ab-ea413d666804","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:03.192224Z","gateway_networks":[],"id":"717fa4ba-800b-4af3-90fd-eab8d44ebe14","ip":{"address":"51.15.130.186","created_at":"2025-01-24T14:52:00.471703Z","gateway_id":"717fa4ba-800b-4af3-90fd-eab8d44ebe14","id":"b466200b-66e8-4858-b7ab-ea413d666804","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:00.471703Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:52:03.192224Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.985084ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/717fa4ba-800b-4af3-90fd-eab8d44ebe14
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:03.192224Z","gateway_networks":[],"id":"717fa4ba-800b-4af3-90fd-eab8d44ebe14","ip":{"address":"51.15.130.186","created_at":"2025-01-24T14:52:00.471703Z","gateway_id":"717fa4ba-800b-4af3-90fd-eab8d44ebe14","id":"b466200b-66e8-4858-b7ab-ea413d666804","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:00.471703Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:52:03.192224Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.724583ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"717fa4ba-800b-4af3-90fd-eab8d44ebe14","private_network_id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"57bfaa76-0963-413d-a2e1-4c3391267ca5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:52:10.318513Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:59.789829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"57bfaa76-0963-413d-a2e1-4c3391267ca5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:59.789829Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"717fa4ba-800b-4af3-90fd-eab8d44ebe14","id":"8c11f8cb-332b-4dfc-813a-c773d4d25c4f","ipam_config":null,"mac_address":null,"private_network_id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","status":"created","updated_at":"2025-01-24T14:52:10.318513Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.080558458s
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8c11f8cb-332b-4dfc-813a-c773d4d25c4f
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:52:10.318513Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:59.789829Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"57bfaa76-0963-413d-a2e1-4c3391267ca5","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:59.789829Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"717fa4ba-800b-4af3-90fd-eab8d44ebe14","id":"8c11f8cb-332b-4dfc-813a-c773d4d25c4f","ipam_config":null,"mac_address":"02:00:00:1B:C6:18","private_network_id":"cb9d8e6d-35c4-409f-8b38-ae6a362acbd3","status":"ready","updated_at":"2025-01-24T14:52:20.792283Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.388833ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8c11f8cb-332b-4dfc-813a-c773d4d25c4f?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.329708ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/8c11f8cb-332b-4dfc-813a-c773d4d25c4f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"8c11f8cb-332b-4dfc-813a-c773d4d25c4f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.084084ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/717fa4ba-800b-4af3-90fd-eab8d44ebe14?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 43.956167ms
[...]
