---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.130.186","created_at":"2025-01-24T14:51:55.624294Z","gateway_id":null,"id":"fb36836e-c9ca-4f8b-a5cf-b4d7ee4ad850","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:55.624294Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.852583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/fb36836e-c9ca-4f8b-a5cf-b4d7ee4ad850
        method: GET
      response:
        body: '{"address":"51.15.130.186","created_at":"2025-01-24T14:51:55.624294Z","gateway_id":null,"id":"fb36836e-c9ca-4f8b-a5cf-b4d7ee4ad850","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:55.624294Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.2685ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/fb36836e-c9ca-4f8b-a5cf-b4d7ee4ad850
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"fb36836e-c9ca-4f8b-a5cf-b4d7ee4ad850","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.726667ms
