---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.218.229","created_at":"2025-03-21T14:22:14.415833Z","id":"1c08404a-6c5a-4c20-b681-3d07f230fa88","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"229-218-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:22:14.415833Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 996.945616ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/1c08404a-6c5a-4c20-b681-3d07f230fa88
        method: GET
      response:
        body: '{"address":"51.15.218.229","created_at":"2025-03-21T14:22:14.415833Z","id":"1c08404a-6c5a-4c20-b681-3d07f230fa88","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"229-218-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:22:14.415833Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.392993ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"51.15.218.229","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"51.15.218.229","id":"b3562b47-5989-45cb-a400-71f6d8f5aef3","name":"","priority":1,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 563.353481ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"51.15.218.229","id":"b3562b47-5989-45cb-a400-71f6d8f5aef3","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.409359ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"51.15.218.229","id":"b3562b47-5989-45cb-a400-71f6d8f5aef3","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.645248ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?id=b3562b47-5989-45cb-a400-71f6d8f5aef3&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"51.15.218.229","id":"b3562b47-5989-45cb-a400-71f6d8f5aef3","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.944061ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-vpcgw.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"tf-reverse-vpcgw","updated_at":"2025-03-21T14:22:15Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.793938ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?id=b3562b47-5989-45cb-a400-71f6d8f5aef3&name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"51.15.218.229","id":"b3562b47-5989-45cb-a400-71f6d8f5aef3","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.966534ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"b3562b47-5989-45cb-a400-71f6d8f5aef3"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.280128ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"ns0.dom.scw.cloud.","id":"9f238a31-81ea-49cd-b659-49eaab1f2a05","name":"","priority":0,"ttl":1800,"type":"NS"},{"comment":null,"data":"ns1.dom.scw.cloud.","id":"2db7a689-2f59-4630-a367-93acca44a2b1","name":"","priority":0,"ttl":1800,"type":"NS"}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.794788ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=tf-reverse-vpcgw.scaleway-terraform.com&domain=&order_by=domain_asc
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"tf-reverse-vpcgw","updated_at":"2025-03-21T14:22:24Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.955018ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com?project_id=105bdce1-64c0-48ab-899d-868455867ecf
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.647407ms
[...]
