---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"be2789d9-cf2a-4321-b8f7-8a7a67bf3cc2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.878837Z\",\"updated_at\":\"2025-08-26T16:32:46.878837Z\",\"tags\":[],\"address\":\"51.158.117.193\",\"reverse\":\"193-117-158-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.230517066s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/be2789d9-cf2a-4321-b8f7-8a7a67bf3cc2
    method: GET
  response:
    body: "{\"id\":\"be2789d9-cf2a-4321-b8f7-8a7a67bf3cc2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.878837Z\",\"updated_at\":\"2025-08-26T16:32:46.878837Z\",\"tags\":[],\"address\":\"51.158.117.193\",\"reverse\":\"193-117-158-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.141994ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"foobar\",\"tags\":[],\"type\":\"VPC-GW-S\",\"ip_id\":\"be2789d9-cf2a-4321-b8f7-8a7a67bf3cc2\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.157992Z\",\"updated_at\":\"2025-08-26T16:32:47.157992Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"be2789d9-cf2a-4321-b8f7-8a7a67bf3cc2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.878837Z\",\"updated_at\":\"2025-08-26T16:32:46.878837Z\",\"tags\":[],\"address\":\"51.158.117.193\",\"reverse\":\"193-117-158-51.instances.scw.cloud\",\"gateway_id\":\"fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 204.083896ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4
    method: GET
  response:
    body: "{\"id\":\"fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.157992Z\",\"updated_at\":\"2025-08-26T16:32:47.213858Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"be2789d9-cf2a-4321-b8f7-8a7a67bf3cc2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.878837Z\",\"updated_at\":\"2025-08-26T16:32:46.878837Z\",\"tags\":[],\"address\":\"51.158.117.193\",\"reverse\":\"193-117-158-51.instances.scw.cloud\",\"gateway_id\":\"fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 54.868221ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.157992Z\",\"updated_at\":\"2025-08-26T16:33:01.884482Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"be2789d9-cf2a-4321-b8f7-8a7a67bf3cc2\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:46.878837Z\",\"updated_at\":\"2025-08-26T16:32:46.878837Z\",\"tags\":[],\"address\":\"51.158.117.193\",\"reverse\":\"193-117-158-51.instances.scw.cloud\",\"gateway_id\":\"fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 58.324121ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway\",\"resource_id\":\"fb8ef78b-5031-4d33-9a4a-7eb9f9c054f4\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 23.917473ms
[...]
