---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"public-gateway-test\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"dfe08df4-27a5-4412-afdd-2ca9d58aeb34\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.594498Z\",\"updated_at\":\"2025-08-26T16:32:47.594498Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-test\",\"tags\":[],\"ipv4\":{\"id\":\"065da49e-9d34-47ac-8545-94c51c486952\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.576068Z\",\"updated_at\":\"2025-08-26T16:32:47.576068Z\",\"tags\":[],\"address\":\"51.15.232.20\",\"reverse\":\"20-232-15-51.instances.scw.cloud\",\"gateway_id\":\"dfe08df4-27a5-4412-afdd-2ca9d58aeb34\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.959303798s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/dfe08df4-27a5-4412-afdd-2ca9d58aeb34
    method: GET
  response:
    body: "{\"id\":\"dfe08df4-27a5-4412-afdd-2ca9d58aeb34\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.594498Z\",\"updated_at\":\"2025-08-26T16:32:47.649085Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-test\",\"tags\":[],\"ipv4\":{\"id\":\"065da49e-9d34-47ac-8545-94c51c486952\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.576068Z\",\"updated_at\":\"2025-08-26T16:32:47.576068Z\",\"tags\":[],\"address\":\"51.15.232.20\",\"reverse\":\"20-232-15-51.instances.scw.cloud\",\"gateway_id\":\"dfe08df4-27a5-4412-afdd-2ca9d58aeb34\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.16663ms
[...]
- id: 19
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/dfe08df4-27a5-4412-afdd-2ca9d58aeb34?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"dfe08df4-27a5-4412-afdd-2ca9d58aeb34\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.594498Z\",\"updated_at\":\"2025-08-26T16:33:08.453285Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"public-gateway-test-new\",\"tags\":[\"tag0\",\"tag1\"],\"ipv4\":{\"id\":\"065da49e-9d34-47ac-8545-94c51c486952\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.576068Z\",\"updated_at\":\"2025-08-26T16:32:47.576068Z\",\"tags\":[],\"address\":\"51.15.232.20\",\"reverse\":\"20-232-15-51.instances.scw.cloud\",\"gateway_id\":\"dfe08df4-27a5-4412-afdd-2ca9d58aeb34\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 50.370124ms
- id: 20
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/dfe08df4-27a5-4412-afdd-2ca9d58aeb34
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway\",\"resource_id\":\"dfe08df4-27a5-4412-afdd-2ca9d58aeb34\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 30.749477ms
- id: 21
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"public-gateway-test-zone\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
    method: POST
  response:
    body: "{\"id\":\"be6531f3-72f8-46cf-902e-59d331746459\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/be6531f3-72f8-46cf-902e-59d331746459
    method: GET
  response:
    body: "{\"id\":\"be6531f3-72f8-46cf-902e-59d331746459\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:33:09.260199Z\",\"updated_at\":\"2025-08-26T16:33:09.308661Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"public-gateway-test-zone\",\"tags\":[],\"ipv4\":{\"id\":\"581b7fdc-77bc-4c91-98f1-9ad487ea72fe\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:33:09.237939Z\",\"updated_at\":\"2025-08-26T16:33:09.237939Z\",\"tags\":[],\"address\":\"51.15.123.133\",\"reverse\":\"133-123-15-51.instances.scw.cloud\",\"gateway_id\":\"be6531f3-72f8-46cf-902e-59d331746459\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 39.207071ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/be6531f3-72f8-46cf-902e-59d331746459?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"be6531f3-72f8-46cf-902e-59d331746459\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:33:09.260199Z\",\"updated_at\":\"2025-08-26T16:33:22.905908Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"public-gateway-test-zone-to-update\",\"tags\":[],\"ipv4\":{\"id\":\"581b7fdc-77bc-4c91-98f1-9ad487ea72fe\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:33:09.237939Z\",\"updated_at\":\"2025-08-26T16:33:09.237939Z\",\"tags\":[],\"address\":\"51.15.123.133\",\"reverse\":\"133-123-15-51.instances.scw.cloud\",\"gateway_id\":\"be6531f3-72f8-46cf-902e-59d331746459\",\"zone\":\"nl-ams-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.322963ms
[...]
