---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-10T20:06:06.122531Z","custom_routes_propagation_enabled":true,"id":"883c62be-a153-48e7-b37a-add6b54ebc5c","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-10T20:06:06.122531Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.763708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/883c62be-a153-48e7-b37a-add6b54ebc5c
        method: GET
      response:
        body: '{"created_at":"2026-03-10T20:06:06.122531Z","custom_routes_propagation_enabled":true,"id":"883c62be-a153-48e7-b37a-add6b54ebc5c","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-10T20:06:06.122531Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.5225ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:06:06.620622Z","gateway_networks":[],"id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","ipv4":{"address":"163.172.164.13","created_at":"2026-03-10T20:06:06.605047Z","gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","id":"619cfa97-a362-450e-87bb-a6f6d28f4077","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"13-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:06:06.605047Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:06:06.620622Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 705.104208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/149507d6-1d96-4b3f-bab6-e1c65b32ad79
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:06:06.620622Z","gateway_networks":[],"id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","ipv4":{"address":"163.172.164.13","created_at":"2026-03-10T20:06:06.605047Z","gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","id":"619cfa97-a362-450e-87bb-a6f6d28f4077","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"13-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:06:06.605047Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:06:06.620622Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.819916ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"883c62be-a153-48e7-b37a-add6b54ebc5c","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-10T20:06:06.295199Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-10T20:06:06.295199Z","id":"1d242238-627e-4afb-8fc5-bb68d07ade96","private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2026-03-10T20:06:06.295199Z","vpc_id":"883c62be-a153-48e7-b37a-add6b54ebc5c"},{"created_at":"2026-03-10T20:06:06.295199Z","id":"9f6714ef-f778-46ea-8818-aff085fcfc24","private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:32b0::/64","updated_at":"2026-03-10T20:06:06.295199Z","vpc_id":"883c62be-a153-48e7-b37a-add6b54ebc5c"}],"tags":[],"updated_at":"2026-03-10T20:06:06.295199Z","vpc_id":"883c62be-a153-48e7-b37a-add6b54ebc5c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 657.162583ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/523ac8e5-8142-4cf5-a8cd-7bd893757b15
        method: GET
      response:
        body: '{"created_at":"2026-03-10T20:06:06.295199Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-10T20:06:06.295199Z","id":"1d242238-627e-4afb-8fc5-bb68d07ade96","private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2026-03-10T20:06:06.295199Z","vpc_id":"883c62be-a153-48e7-b37a-add6b54ebc5c"},{"created_at":"2026-03-10T20:06:06.295199Z","id":"9f6714ef-f778-46ea-8818-aff085fcfc24","private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:32b0::/64","updated_at":"2026-03-10T20:06:06.295199Z","vpc_id":"883c62be-a153-48e7-b37a-add6b54ebc5c"}],"tags":[],"updated_at":"2026-03-10T20:06:06.295199Z","vpc_id":"883c62be-a153-48e7-b37a-add6b54ebc5c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.021959ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-10T20:06:17.305313Z","gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","id":"104cb7fa-ce29-4b48-b2ce-fd378cf1df23","ipam_ip_id":"e4136974-fc00-4905-ae69-5341b385ed78","masquerade_enabled":true,"private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","push_default_route":true,"status":"created","updated_at":"2026-03-10T20:06:17.305313Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.476833ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/149507d6-1d96-4b3f-bab6-e1c65b32ad79
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:06:06.620622Z","gateway_networks":[{"created_at":"2026-03-10T20:06:17.305313Z","gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","id":"104cb7fa-ce29-4b48-b2ce-fd378cf1df23","ipam_ip_id":"e4136974-fc00-4905-ae69-5341b385ed78","mac_address":"02:00:00:1C:8E:E4","masquerade_enabled":true,"private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","push_default_route":true,"status":"configuring","updated_at":"2026-03-10T20:06:22.902833Z","zone":"fr-par-1"}],"id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","ipv4":{"address":"163.172.164.13","created_at":"2026-03-10T20:06:06.605047Z","gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","id":"619cfa97-a362-450e-87bb-a6f6d28f4077","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"13-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:06:06.605047Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:06:17.402005Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.972458ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/104cb7fa-ce29-4b48-b2ce-fd378cf1df23
        method: GET
      response:
        body: '{"created_at":"2026-03-10T20:06:17.305313Z","gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","id":"104cb7fa-ce29-4b48-b2ce-fd378cf1df23","ipam_ip_id":"e4136974-fc00-4905-ae69-5341b385ed78","mac_address":"02:00:00:1C:8E:E4","masquerade_enabled":true,"private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15","push_default_route":true,"status":"ready","updated_at":"2026-03-10T20:06:30.133169Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.365791ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=523ac8e5-8142-4cf5-a8cd-7bd893757b15&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=104cb7fa-ce29-4b48-b2ce-fd378cf1df23&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.2/22","created_at":"2026-03-10T20:06:17.277905Z","id":"e4136974-fc00-4905-ae69-5341b385ed78","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"104cb7fa-ce29-4b48-b2ce-fd378cf1df23","mac_address":"02:00:00:1C:8E:E4","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"1d242238-627e-4afb-8fc5-bb68d07ade96"},"tags":[],"updated_at":"2026-03-10T20:06:17.671086Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.904333ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"523ac8e5-8142-4cf5-a8cd-7bd893757b15"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2026-03-10T20:06:34.357577Z","id":"c0319b40-53f2-4d8a-8dda-ab2b73561d34","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1d242238-627e-4afb-8fc5-bb68d07ade96"},"tags":[],"updated_at":"2026-03-10T20:06:34.357577Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.362084ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/c0319b40-53f2-4d8a-8dda-ab2b73561d34
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2026-03-10T20:06:34.357577Z","id":"c0319b40-53f2-4d8a-8dda-ab2b73561d34","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"1d242238-627e-4afb-8fc5-bb68d07ade96"},"tags":[],"updated_at":"2026-03-10T20:06:34.357577Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.675667ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/104cb7fa-ce29-4b48-b2ce-fd378cf1df23
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"104cb7fa-ce29-4b48-b2ce-fd378cf1df23","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.034917ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/149507d6-1d96-4b3f-bab6-e1c65b32ad79?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:06:06.620622Z","gateway_networks":[],"id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","ipv4":{"address":"163.172.164.13","created_at":"2026-03-10T20:06:06.605047Z","gateway_id":"149507d6-1d96-4b3f-bab6-e1c65b32ad79","id":"619cfa97-a362-450e-87bb-a6f6d28f4077","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"13-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:06:06.605047Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:06:46.702790Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.578458ms
[...]
