---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"my vpc\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"fe230632-ca83-4665-a809-b651660e5083\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:46.493941Z\",\"updated_at\":\"2025-08-26T16:32:46.493941Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 82.522806ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/fe230632-ca83-4665-a809-b651660e5083
    method: GET
  response:
    body: "{\"id\":\"fe230632-ca83-4665-a809-b651660e5083\",\"name\":\"my vpc\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:46.493941Z\",\"updated_at\":\"2025-08-26T16:32:46.493941Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 24.844818ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"pn_test_network\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":[\"172.16.64.0/22\"],\"vpc_id\":\"fe230632-ca83-4665-a809-b651660e5083\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"name\":\"pn_test_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:46.616587Z\",\"updated_at\":\"2025-08-26T16:32:46.616587Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"3d30293b-624d-469f-adcc-1531661b89d4\",\"created_at\":\"2025-08-26T16:32:46.616587Z\",\"updated_at\":\"2025-08-26T16:32:46.616587Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"vpc_id\":\"fe230632-ca83-4665-a809-b651660e5083\"},{\"id\":\"66bcd229-b1c7-4215-ab85-818c9d925bdd\",\"created_at\":\"2025-08-26T16:32:46.616587Z\",\"updated_at\":\"2025-08-26T16:32:46.616587Z\",\"subnet\":\"fde7:767f:1bb5:537e::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"vpc_id\":\"fe230632-ca83-4665-a809-b651660e5083\"}],\"vpc_id\":\"fe230632-ca83-4665-a809-b651660e5083\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 930.715303ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c47ab7a0-ff9b-4c36-96c8-1aae56d69a49
    method: GET
  response:
    body: "{\"id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"name\":\"pn_test_network\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:46.616587Z\",\"updated_at\":\"2025-08-26T16:32:46.616587Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"3d30293b-624d-469f-adcc-1531661b89d4\",\"created_at\":\"2025-08-26T16:32:46.616587Z\",\"updated_at\":\"2025-08-26T16:32:46.616587Z\",\"subnet\":\"172.16.64.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"vpc_id\":\"fe230632-ca83-4665-a809-b651660e5083\"},{\"id\":\"66bcd229-b1c7-4215-ab85-818c9d925bdd\",\"created_at\":\"2025-08-26T16:32:46.616587Z\",\"updated_at\":\"2025-08-26T16:32:46.616587Z\",\"subnet\":\"fde7:767f:1bb5:537e::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"vpc_id\":\"fe230632-ca83-4665-a809-b651660e5083\"}],\"vpc_id\":\"fe230632-ca83-4665-a809-b651660e5083\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.254294ms
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"foobar\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.644921Z\",\"updated_at\":\"2025-08-26T16:32:47.644921Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"3049cdfc-da15-4456-b765-8e090147e8c7\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.623258Z\",\"updated_at\":\"2025-08-26T16:32:47.623258Z\",\"tags\":[],\"address\":\"212.47.240.248\",\"reverse\":\"248-240-47-212.instances.scw.cloud\",\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.258281455s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6153f01b-db9d-457d-bf4f-e1492f71675e
    method: GET
  response:
    body: "{\"id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.644921Z\",\"updated_at\":\"2025-08-26T16:32:47.691726Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"3049cdfc-da15-4456-b765-8e090147e8c7\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.623258Z\",\"updated_at\":\"2025-08-26T16:32:47.623258Z\",\"tags\":[],\"address\":\"212.47.240.248\",\"reverse\":\"248-240-47-212.instances.scw.cloud\",\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 54.162523ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"enable_masquerade\":true,\"push_default_route\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: "{\"id\":\"0dd01d83-6590-4ab9-b013-4ea9f5e33664\",\"created_at\":\"2025-08-26T16:32:58.237902Z\",\"updated_at\":\"2025-08-26T16:32:58.237902Z\",\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"masquerade_enabled\":true,\"status\":\"created\",\"push_default_route\":true,\"ipam_ip_id\":\"36f611a6-fd50-459a-bc4a-ed1dc7ffe814\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 358.949994ms
[...]
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6153f01b-db9d-457d-bf4f-e1492f71675e
    method: GET
  response:
    body: "{\"id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.644921Z\",\"updated_at\":\"2025-08-26T16:32:58.327409Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"configuring\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"3049cdfc-da15-4456-b765-8e090147e8c7\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.623258Z\",\"updated_at\":\"2025-08-26T16:32:47.623258Z\",\"tags\":[],\"address\":\"212.47.240.248\",\"reverse\":\"248-240-47-212.instances.scw.cloud\",\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[{\"id\":\"0dd01d83-6590-4ab9-b013-4ea9f5e33664\",\"created_at\":\"2025-08-26T16:32:58.237902Z\",\"updated_at\":\"2025-08-26T16:33:04.314023Z\",\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"mac_address\":\"02:00:00:18:D5:D4\",\"masquerade_enabled\":true,\"status\":\"configuring\",\"push_default_route\":true,\"ipam_ip_id\":\"36f611a6-fd50-459a-bc4a-ed1dc7ffe814\",\"zone\":\"fr-par-1\"}],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 78.253549ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/0dd01d83-6590-4ab9-b013-4ea9f5e33664
    method: GET
  response:
    body: "{\"id\":\"0dd01d83-6590-4ab9-b013-4ea9f5e33664\",\"created_at\":\"2025-08-26T16:32:58.237902Z\",\"updated_at\":\"2025-08-26T16:33:08.985962Z\",\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\",\"mac_address\":\"02:00:00:18:D5:D4\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":true,\"ipam_ip_id\":\"36f611a6-fd50-459a-bc4a-ed1dc7ffe814\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 58.729322ms
[...]
- id: 18
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - c47ab7a0-ff9b-4c36-96c8-1aae56d69a49
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - 0dd01d83-6590-4ab9-b013-4ea9f5e33664
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=c47ab7a0-ff9b-4c36-96c8-1aae56d69a49&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=0dd01d83-6590-4ab9-b013-4ea9f5e33664&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"36f611a6-fd50-459a-bc4a-ed1dc7ffe814\",\"address\":\"172.16.64.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:32:58.206562Z\",\"updated_at\":\"2025-08-26T16:32:58.884196Z\",\"source\":{\"subnet_id\":\"3d30293b-624d-469f-adcc-1531661b89d4\"},\"resource\":{\"type\":\"vpc_gateway_network\",\"id\":\"0dd01d83-6590-4ab9-b013-4ea9f5e33664\",\"mac_address\":\"02:00:00:18:D5:D4\",\"name\":\"foobar\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 54.957576ms
[...]
- id: 32
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"source\":{\"private_network_id\":\"c47ab7a0-ff9b-4c36-96c8-1aae56d69a49\"},\"is_ipv6\":false,\"address\":\"172.16.64.7\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
    method: POST
  response:
    body: "{\"id\":\"49463c27-9071-4990-98f5-643861c9e740\",\"address\":\"172.16.64.7/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:33:19.642989Z\",\"updated_at\":\"2025-08-26T16:33:19.642989Z\",\"source\":{\"subnet_id\":\"3d30293b-624d-469f-adcc-1531661b89d4\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 166.31588ms
- id: 33
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/49463c27-9071-4990-98f5-643861c9e740
    method: GET
  response:
    body: "{\"id\":\"49463c27-9071-4990-98f5-643861c9e740\",\"address\":\"172.16.64.7/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:33:19.642989Z\",\"updated_at\":\"2025-08-26T16:33:19.642989Z\",\"source\":{\"subnet_id\":\"3d30293b-624d-469f-adcc-1531661b89d4\"},\"resource\":null,\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 33.809724ms
[...]
- id: 55
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/0dd01d83-6590-4ab9-b013-4ea9f5e33664
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"gateway_network\",\"resource_id\":\"0dd01d83-6590-4ab9-b013-4ea9f5e33664\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 21.930382ms
[...]
- id: 58
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6153f01b-db9d-457d-bf4f-e1492f71675e?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.644921Z\",\"updated_at\":\"2025-08-26T16:33:34.241801Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"foobar\",\"tags\":[],\"ipv4\":{\"id\":\"3049cdfc-da15-4456-b765-8e090147e8c7\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.623258Z\",\"updated_at\":\"2025-08-26T16:32:47.623258Z\",\"tags\":[],\"address\":\"212.47.240.248\",\"reverse\":\"248-240-47-212.instances.scw.cloud\",\"gateway_id\":\"6153f01b-db9d-457d-bf4f-e1492f71675e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.660305ms
[...]
