---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-03-21T14:32:45.956921Z","id":"1688de78-bb56-41a5-a65a-10213e2db026","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-03-21T14:32:45.956921Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.419461ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/1688de78-bb56-41a5-a65a-10213e2db026
        method: GET
      response:
        body: '{"created_at":"2025-03-21T14:32:45.956921Z","id":"1688de78-bb56-41a5-a65a-10213e2db026","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-03-21T14:32:45.956921Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.995252ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"1688de78-bb56-41a5-a65a-10213e2db026"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-21T14:32:46.098162Z","dhcp_enabled":true,"id":"2651d313-2c8b-443c-9498-e36462e9fbab","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-21T14:32:46.098162Z","id":"50311006-f8b7-4f31-9a07-72c0c7abe589","private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-03-21T14:32:46.098162Z","vpc_id":"1688de78-bb56-41a5-a65a-10213e2db026"},{"created_at":"2025-03-21T14:32:46.098162Z","id":"e59b822c-64e2-4158-a1bd-6dbeebbfe8cb","private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8d37::/64","updated_at":"2025-03-21T14:32:46.098162Z","vpc_id":"1688de78-bb56-41a5-a65a-10213e2db026"}],"tags":[],"updated_at":"2025-03-21T14:32:46.098162Z","vpc_id":"1688de78-bb56-41a5-a65a-10213e2db026"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 669.406271ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:32:46.673584Z","gateway_networks":[],"id":"da217888-a3e2-48a1-8baa-299d55412c4c","ipv4":{"address":"163.172.156.222","created_at":"2025-03-21T14:32:46.652577Z","gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","id":"03fa65fc-80c9-4316-9e28-74a47d29e742","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"222-156-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:32:46.652577Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:32:46.673584Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 873.376701ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/da217888-a3e2-48a1-8baa-299d55412c4c
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:32:46.673584Z","gateway_networks":[],"id":"da217888-a3e2-48a1-8baa-299d55412c4c","ipv4":{"address":"163.172.156.222","created_at":"2025-03-21T14:32:46.652577Z","gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","id":"03fa65fc-80c9-4316-9e28-74a47d29e742","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"222-156-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:32:46.652577Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:32:46.719306Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.120001ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/2651d313-2c8b-443c-9498-e36462e9fbab
        method: GET
      response:
        body: '{"created_at":"2025-03-21T14:32:46.098162Z","dhcp_enabled":true,"id":"2651d313-2c8b-443c-9498-e36462e9fbab","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-21T14:32:46.098162Z","id":"50311006-f8b7-4f31-9a07-72c0c7abe589","private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2025-03-21T14:32:46.098162Z","vpc_id":"1688de78-bb56-41a5-a65a-10213e2db026"},{"created_at":"2025-03-21T14:32:46.098162Z","id":"e59b822c-64e2-4158-a1bd-6dbeebbfe8cb","private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8d37::/64","updated_at":"2025-03-21T14:32:46.098162Z","vpc_id":"1688de78-bb56-41a5-a65a-10213e2db026"}],"tags":[],"updated_at":"2025-03-21T14:32:46.098162Z","vpc_id":"1688de78-bb56-41a5-a65a-10213e2db026"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.820404ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-21T14:32:52.403510Z","gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","id":"8be0649e-5f8e-46c0-8567-e62244eb5986","ipam_ip_id":"ed5cf43f-0d5d-4fb3-ba1a-849fa9df61de","masquerade_enabled":true,"private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","push_default_route":true,"status":"created","updated_at":"2025-03-21T14:32:52.403510Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 820.847159ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/da217888-a3e2-48a1-8baa-299d55412c4c
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:32:46.673584Z","gateway_networks":[{"created_at":"2025-03-21T14:32:52.403510Z","gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","id":"8be0649e-5f8e-46c0-8567-e62244eb5986","ipam_ip_id":"ed5cf43f-0d5d-4fb3-ba1a-849fa9df61de","mac_address":"02:00:00:12:50:3C","masquerade_enabled":true,"private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","push_default_route":true,"status":"configuring","updated_at":"2025-03-21T14:32:57.997118Z","zone":"fr-par-1"}],"id":"da217888-a3e2-48a1-8baa-299d55412c4c","ipv4":{"address":"163.172.156.222","created_at":"2025-03-21T14:32:46.652577Z","gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","id":"03fa65fc-80c9-4316-9e28-74a47d29e742","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"222-156-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:32:46.652577Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:32:52.506356Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.873797ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/8be0649e-5f8e-46c0-8567-e62244eb5986
        method: GET
      response:
        body: '{"created_at":"2025-03-21T14:32:52.403510Z","gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","id":"8be0649e-5f8e-46c0-8567-e62244eb5986","ipam_ip_id":"ed5cf43f-0d5d-4fb3-ba1a-849fa9df61de","mac_address":"02:00:00:12:50:3C","masquerade_enabled":true,"private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab","push_default_route":true,"status":"ready","updated_at":"2025-03-21T14:33:03.428146Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.568842ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"2651d313-2c8b-443c-9498-e36462e9fbab"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-03-21T14:33:10.019610Z","id":"405123cd-d3bf-4407-8036-14afc0988e82","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"50311006-f8b7-4f31-9a07-72c0c7abe589"},"tags":[],"updated_at":"2025-03-21T14:33:10.019610Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.877393ms
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/405123cd-d3bf-4407-8036-14afc0988e82
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-03-21T14:33:10.019610Z","id":"405123cd-d3bf-4407-8036-14afc0988e82","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"50311006-f8b7-4f31-9a07-72c0c7abe589"},"tags":[],"updated_at":"2025-03-21T14:33:10.019610Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.454811ms
[...]
    - id: 44
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/8be0649e-5f8e-46c0-8567-e62244eb5986
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"8be0649e-5f8e-46c0-8567-e62244eb5986","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.923081ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/da217888-a3e2-48a1-8baa-299d55412c4c?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:32:46.673584Z","gateway_networks":[],"id":"da217888-a3e2-48a1-8baa-299d55412c4c","ipv4":{"address":"163.172.156.222","created_at":"2025-03-21T14:32:46.652577Z","gateway_id":"da217888-a3e2-48a1-8baa-299d55412c4c","id":"03fa65fc-80c9-4316-9e28-74a47d29e742","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"222-156-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:32:46.652577Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:33:22.563821Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.415912ms
[...]
