---
version: 2
interactions:
- request:
    body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-bastion-test","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":true,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-01-12T15:00:55.705420Z","gateway_networks":[],"id":"d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5","ip":{"address":"51.15.226.109","created_at":"2023-01-12T15:00:55.693379Z","gateway_id":"d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5","id":"d7c026f2-6bd3-4174-b0e9-0b27c4b77c56","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"109-226-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-01-12T15:00:55.693379Z","zone":"fr-par-1"},"name":"public-gateway-bastion-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"stopped","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-01-12T15:00:55.705420Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5
    method: GET
  response:
    body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-01-12T15:00:55.705420Z","gateway_networks":[],"id":"d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5","ip":{"address":"51.15.226.109","created_at":"2023-01-12T15:00:55.693379Z","gateway_id":"d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5","id":"d7c026f2-6bd3-4174-b0e9-0b27c4b77c56","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"109-226-15-51.instances.scw.cloud","tags":[],"updated_at":"2023-01-12T15:00:55.693379Z","zone":"fr-par-1"},"name":"public-gateway-bastion-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"stopped","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-01-12T15:00:55.763322Z","upstream_dns_servers":[],"version":"0.2.23","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"d90cbb0d-6db0-4124-a743-d0bdaaa8d3e5","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
