---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.196.151","created_at":"2025-03-21T14:20:49.196688Z","id":"ad711ee1-f684-42db-b57c-f4835a3e287d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:20:49.196688Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 994.425251ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/ad711ee1-f684-42db-b57c-f4835a3e287d
        method: GET
      response:
        body: '{"address":"51.15.196.151","created_at":"2025-03-21T14:20:49.196688Z","id":"ad711ee1-f684-42db-b57c-f4835a3e287d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:20:49.196688Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.890782ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.15.98.45","created_at":"2025-03-21T14:20:52.529946Z","id":"393a06cd-1989-459e-b09b-16a809bca25b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"45-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:20:52.529946Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 864.003947ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/393a06cd-1989-459e-b09b-16a809bca25b
        method: GET
      response:
        body: '{"address":"51.15.98.45","created_at":"2025-03-21T14:20:52.529946Z","id":"393a06cd-1989-459e-b09b-16a809bca25b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"45-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:20:52.529946Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.385674ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/393a06cd-1989-459e-b09b-16a809bca25b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"393a06cd-1989-459e-b09b-16a809bca25b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.440931ms
