---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:28.024730Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f10e58bf-ffdc-4e95-aec6-db5d6f259f84","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:28.024730Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.917042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/f10e58bf-ffdc-4e95-aec6-db5d6f259f84
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-27T09:16:28.024730Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f10e58bf-ffdc-4e95-aec6-db5d6f259f84","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:28.024730Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.861ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:28.054538Z","dhcp_enabled":true,"id":"83c51f71-1f95-4294-b386-ab79277bd543","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:28.054538Z","id":"1283f8de-d3f3-4a95-9a28-cf78ddc27aa6","private_network_id":"83c51f71-1f95-4294-b386-ab79277bd543","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-27T09:16:28.054538Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:28.054538Z","id":"e815901f-9e08-45ec-a028-93213a8777b7","private_network_id":"83c51f71-1f95-4294-b386-ab79277bd543","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f96::/64","updated_at":"2025-01-27T09:16:28.054538Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:28.054538Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 495.208625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/83c51f71-1f95-4294-b386-ab79277bd543
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:28.054538Z","dhcp_enabled":true,"id":"83c51f71-1f95-4294-b386-ab79277bd543","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:28.054538Z","id":"1283f8de-d3f3-4a95-9a28-cf78ddc27aa6","private_network_id":"83c51f71-1f95-4294-b386-ab79277bd543","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-27T09:16:28.054538Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:28.054538Z","id":"e815901f-9e08-45ec-a028-93213a8777b7","private_network_id":"83c51f71-1f95-4294-b386-ab79277bd543","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f96::/64","updated_at":"2025-01-27T09:16:28.054538Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:28.054538Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.810208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-blissful-solomon","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:28.665368Z","gateway_networks":[],"id":"96a4883f-2b9a-4654-a533-c80799700bd4","ip":{"address":"212.47.239.248","created_at":"2025-01-27T09:16:28.645733Z","gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","id":"5560876a-dac5-4715-a633-4e347b940af0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"248-239-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:28.645733Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-blissful-solomon","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:28.665368Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 721.753917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/96a4883f-2b9a-4654-a533-c80799700bd4
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:28.665368Z","gateway_networks":[],"id":"96a4883f-2b9a-4654-a533-c80799700bd4","ip":{"address":"212.47.239.248","created_at":"2025-01-27T09:16:28.645733Z","gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","id":"5560876a-dac5-4715-a633-4e347b940af0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"248-239-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:28.645733Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-pn-blissful-solomon","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:28.709137Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.755792ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","private_network_id":"83c51f71-1f95-4294-b386-ab79277bd543","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"f10e58bf-ffdc-4e95-aec6-db5d6f259f84"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:38.699371Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:28.024730Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f10e58bf-ffdc-4e95-aec6-db5d6f259f84","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:28.024730Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","id":"a0ac31d0-658f-4093-a045-9a7cc63dcf50","ipam_config":null,"mac_address":null,"private_network_id":"83c51f71-1f95-4294-b386-ab79277bd543","status":"created","updated_at":"2025-01-27T09:16:38.699371Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.325045791s
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/a0ac31d0-658f-4093-a045-9a7cc63dcf50
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-27T09:16:38.699371Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-27T09:16:28.024730Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"f10e58bf-ffdc-4e95-aec6-db5d6f259f84","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-27T09:16:28.024730Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","id":"a0ac31d0-658f-4093-a045-9a7cc63dcf50","ipam_config":null,"mac_address":"02:00:00:1B:D5:FC","private_network_id":"83c51f71-1f95-4294-b386-ab79277bd543","status":"ready","updated_at":"2025-01-27T09:16:49.284436Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.946084ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:49.837882Z","gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","id":"26f81719-bbc8-4035-8da6-cb8e877a0594","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-27T09:16:49.837882Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.456708ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/26f81719-bbc8-4035-8da6-cb8e877a0594
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:49.837882Z","gateway_id":"96a4883f-2b9a-4654-a533-c80799700bd4","id":"26f81719-bbc8-4035-8da6-cb8e877a0594","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-27T09:16:49.837882Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.478584ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/a0ac31d0-658f-4093-a045-9a7cc63dcf50?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 80.689ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/a0ac31d0-658f-4093-a045-9a7cc63dcf50
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"a0ac31d0-658f-4093-a045-9a7cc63dcf50","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.375417ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/96a4883f-2b9a-4654-a533-c80799700bd4?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 43.782334ms
[...]
