---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-05T21:49:40.047566Z","id":"f4a59b15-04bb-4634-8a99-acf52aedee83","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T21:49:40.047566Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.918755ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f4a59b15-04bb-4634-8a99-acf52aedee83
        method: GET
      response:
        body: '{"created_at":"2025-05-05T21:49:40.047566Z","id":"f4a59b15-04bb-4634-8a99-acf52aedee83","is_default":false,"name":"my vpc","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-05T21:49:40.047566Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.85981ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"foobar","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-05T21:49:40.753031Z","gateway_networks":[],"id":"bf71213c-8401-42f5-b8d1-db800c663b13","ipv4":{"address":"51.158.103.116","created_at":"2025-05-05T21:49:40.735860Z","gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","id":"c367939f-fbc9-42b3-9d7b-0f39fe89603c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"116-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-05T21:49:40.735860Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-05T21:49:40.753031Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.242825794s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"f4a59b15-04bb-4634-8a99-acf52aedee83"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T21:49:40.179698Z","dhcp_enabled":true,"id":"42331603-f551-423b-811c-8c2965f9ed95","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T21:49:40.179698Z","id":"33b20a7e-069d-46f7-88cd-b914996c36ab","private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.64.0/22","updated_at":"2025-05-05T21:49:40.179698Z","vpc_id":"f4a59b15-04bb-4634-8a99-acf52aedee83"},{"created_at":"2025-05-05T21:49:40.179698Z","id":"eaf11857-f15b-4b8f-8d96-e806ef45328f","private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:f79d::/64","updated_at":"2025-05-05T21:49:40.179698Z","vpc_id":"f4a59b15-04bb-4634-8a99-acf52aedee83"}],"tags":[],"updated_at":"2025-05-05T21:49:40.179698Z","vpc_id":"f4a59b15-04bb-4634-8a99-acf52aedee83"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 944.31234ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/42331603-f551-423b-811c-8c2965f9ed95
        method: GET
      response:
        body: '{"created_at":"2025-05-05T21:49:40.179698Z","dhcp_enabled":true,"id":"42331603-f551-423b-811c-8c2965f9ed95","name":"pn_test_network","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-05T21:49:40.179698Z","id":"33b20a7e-069d-46f7-88cd-b914996c36ab","private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.64.0/22","updated_at":"2025-05-05T21:49:40.179698Z","vpc_id":"f4a59b15-04bb-4634-8a99-acf52aedee83"},{"created_at":"2025-05-05T21:49:40.179698Z","id":"eaf11857-f15b-4b8f-8d96-e806ef45328f","private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:f79d::/64","updated_at":"2025-05-05T21:49:40.179698Z","vpc_id":"f4a59b15-04bb-4634-8a99-acf52aedee83"}],"tags":[],"updated_at":"2025-05-05T21:49:40.179698Z","vpc_id":"f4a59b15-04bb-4634-8a99-acf52aedee83"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.745274ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/bf71213c-8401-42f5-b8d1-db800c663b13
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-05T21:49:40.753031Z","gateway_networks":[],"id":"bf71213c-8401-42f5-b8d1-db800c663b13","ipv4":{"address":"51.158.103.116","created_at":"2025-05-05T21:49:40.735860Z","gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","id":"c367939f-fbc9-42b3-9d7b-0f39fe89603c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"116-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-05T21:49:40.735860Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-05T21:49:40.980786Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.695871ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-05T21:49:46.714009Z","gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","id":"90bb01a1-ae0f-43c3-86f4-0bd077fee33e","ipam_ip_id":"eb28df31-22e3-4960-9f5d-c92ecfa1df1a","masquerade_enabled":true,"private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","push_default_route":true,"status":"created","updated_at":"2025-05-05T21:49:46.714009Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 936.112903ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/bf71213c-8401-42f5-b8d1-db800c663b13
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-05T21:49:40.753031Z","gateway_networks":[{"created_at":"2025-05-05T21:49:46.714009Z","gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","id":"90bb01a1-ae0f-43c3-86f4-0bd077fee33e","ipam_ip_id":"eb28df31-22e3-4960-9f5d-c92ecfa1df1a","mac_address":"02:00:00:16:1B:27","masquerade_enabled":true,"private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","push_default_route":true,"status":"configuring","updated_at":"2025-05-05T21:49:52.565401Z","zone":"fr-par-1"}],"id":"bf71213c-8401-42f5-b8d1-db800c663b13","ipv4":{"address":"51.158.103.116","created_at":"2025-05-05T21:49:40.735860Z","gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","id":"c367939f-fbc9-42b3-9d7b-0f39fe89603c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"116-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-05T21:49:40.735860Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-05T21:49:46.840272Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.602181ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/90bb01a1-ae0f-43c3-86f4-0bd077fee33e
        method: GET
      response:
        body: '{"created_at":"2025-05-05T21:49:46.714009Z","gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","id":"90bb01a1-ae0f-43c3-86f4-0bd077fee33e","ipam_ip_id":"eb28df31-22e3-4960-9f5d-c92ecfa1df1a","mac_address":"02:00:00:16:1B:27","masquerade_enabled":true,"private_network_id":"42331603-f551-423b-811c-8c2965f9ed95","push_default_route":true,"status":"ready","updated_at":"2025-05-05T21:49:59.172300Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.479751ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=42331603-f551-423b-811c-8c2965f9ed95&resource_id=90bb01a1-ae0f-43c3-86f4-0bd077fee33e&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.2/22","created_at":"2025-05-05T21:49:46.604428Z","id":"eb28df31-22e3-4960-9f5d-c92ecfa1df1a","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"90bb01a1-ae0f-43c3-86f4-0bd077fee33e","mac_address":"02:00:00:16:1B:27","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"33b20a7e-069d-46f7-88cd-b914996c36ab"},"tags":[],"updated_at":"2025-05-05T21:49:47.194365Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.844284ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","source":{"private_network_id":"42331603-f551-423b-811c-8c2965f9ed95"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-05-05T21:50:05.919543Z","id":"d2735a5a-e6d2-462a-81da-213629c60ee9","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"33b20a7e-069d-46f7-88cd-b914996c36ab"},"tags":[],"updated_at":"2025-05-05T21:50:05.919543Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.507288ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/d2735a5a-e6d2-462a-81da-213629c60ee9
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-05-05T21:50:05.919543Z","id":"d2735a5a-e6d2-462a-81da-213629c60ee9","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"33b20a7e-069d-46f7-88cd-b914996c36ab"},"tags":[],"updated_at":"2025-05-05T21:50:05.919543Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.360221ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/90bb01a1-ae0f-43c3-86f4-0bd077fee33e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"90bb01a1-ae0f-43c3-86f4-0bd077fee33e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.178555ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/bf71213c-8401-42f5-b8d1-db800c663b13?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-05T21:49:40.753031Z","gateway_networks":[],"id":"bf71213c-8401-42f5-b8d1-db800c663b13","ipv4":{"address":"51.158.103.116","created_at":"2025-05-05T21:49:40.735860Z","gateway_id":"bf71213c-8401-42f5-b8d1-db800c663b13","id":"c367939f-fbc9-42b3-9d7b-0f39fe89603c","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"116-103-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-05T21:49:40.735860Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-05T21:50:20.298260Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.537627ms
[...]
