---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-30T13:39:04.273641Z","gateway_networks":[],"id":"9fd9120e-f5b7-45fa-b817-ed475f8cf83f","ip":{"address":"163.172.183.218","created_at":"2024-07-30T13:39:04.250499Z","gateway_id":"9fd9120e-f5b7-45fa-b817-ed475f8cf83f","id":"e2120c1e-e8a8-4239-96b8-3a3de9f08967","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-183-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-07-30T13:39:04.250499Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-07-30T13:39:04.273641Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 654.25077ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9fd9120e-f5b7-45fa-b817-ed475f8cf83f
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-30T13:39:04.273641Z","gateway_networks":[],"id":"9fd9120e-f5b7-45fa-b817-ed475f8cf83f","ip":{"address":"163.172.183.218","created_at":"2024-07-30T13:39:04.250499Z","gateway_id":"9fd9120e-f5b7-45fa-b817-ed475f8cf83f","id":"e2120c1e-e8a8-4239-96b8-3a3de9f08967","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"218-183-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-07-30T13:39:04.250499Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-07-30T13:39:04.310726Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.234254ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9fd9120e-f5b7-45fa-b817-ed475f8cf83f?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 46.33035ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9fd9120e-f5b7-45fa-b817-ed475f8cf83f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"9fd9120e-f5b7-45fa-b817-ed475f8cf83f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.746007ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test-zone","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":fa[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/15657672-b05c-474f-adec-6595e365f676
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-30T13:39:23.465576Z","gateway_networks":[],"id":"15657672-b05c-474f-adec-6595e365f676","ip":{"address":"51.15.84.30","created_at":"2024-07-30T13:39:23.441885Z","gateway_id":"15657672-b05c-474f-adec-6595e365f676","id":"638b4d8f-8a57-43b1-9cc2-6a9190753910","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"30-84-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-07-30T13:39:23.441885Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-test-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2024-07-30T13:39:23.535368Z","upstream_dns_servers":[],"version":"0.6.7","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.719395ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/15657672-b05c-474f-adec-6595e365f676?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 70.72445ms
[...]
