---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-bastion-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-03-21T14:25:04.022307Z","gateway_networks":[],"id":"3f46da3e-6668-45e7-b1b0-b6d119673fdd","ipv4":{"address":"51.15.250.212","created_at":"2025-03-21T14:25:04.008855Z","gateway_id":"3f46da3e-6668-45e7-b1b0-b6d119673fdd","id":"6b070319-dc87-4e9f-9cac-293d5a343f5b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"212-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:04.008855Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:25:04.022307Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 806.936014ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/3f46da3e-6668-45e7-b1b0-b6d119673fdd
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-03-21T14:25:04.022307Z","gateway_networks":[],"id":"3f46da3e-6668-45e7-b1b0-b6d119673fdd","ipv4":{"address":"51.15.250.212","created_at":"2025-03-21T14:25:04.008855Z","gateway_id":"3f46da3e-6668-45e7-b1b0-b6d119673fdd","id":"6b070319-dc87-4e9f-9cac-293d5a343f5b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"212-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:04.008855Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:25:04.055130Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.872578ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/3f46da3e-6668-45e7-b1b0-b6d119673fdd?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:25:04.022307Z","gateway_networks":[],"id":"3f46da3e-6668-45e7-b1b0-b6d119673fdd","ipv4":{"address":"51.15.250.212","created_at":"2025-03-21T14:25:04.008855Z","gateway_id":"3f46da3e-6668-45e7-b1b0-b6d119673fdd","id":"6b070319-dc87-4e9f-9cac-293d5a343f5b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"212-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:04.008855Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:25:22.478270Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.030732ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/3f46da3e-6668-45e7-b1b0-b6d119673fdd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"3f46da3e-6668-45e7-b1b0-b6d119673fdd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.990382ms
[...]
