---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-bastion-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-01T08:38:53.772377Z","gateway_networks":[],"id":"f18bc157-952e-481a-bf0c-7a6e5dcf4c0e","ipv4":{"address":"51.15.199.225","created_at":"2025-12-01T08:38:53.754731Z","gateway_id":"f18bc157-952e-481a-bf0c-7a6e5dcf4c0e","id":"0c6c9b95-3d2b-4c5f-aadd-85a15e30ea95","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"225-199-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-01T08:38:53.754731Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-01T08:38:53.772377Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.16177425s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/f18bc157-952e-481a-bf0c-7a6e5dcf4c0e
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-01T08:38:53.772377Z","gateway_networks":[],"id":"f18bc157-952e-481a-bf0c-7a6e5dcf4c0e","ipv4":{"address":"51.15.199.225","created_at":"2025-12-01T08:38:53.754731Z","gateway_id":"f18bc157-952e-481a-bf0c-7a6e5dcf4c0e","id":"0c6c9b95-3d2b-4c5f-aadd-85a15e30ea95","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"225-199-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-01T08:38:53.754731Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-01T08:38:53.809743Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.769709ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/f18bc157-952e-481a-bf0c-7a6e5dcf4c0e?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":59999,"created_at":"2025-12-01T08:38:53.772377Z","gateway_networks":[],"id":"f18bc157-952e-481a-bf0c-7a6e5dcf4c0e","ipv4":{"address":"51.15.199.225","created_at":"2025-12-01T08:38:53.754731Z","gateway_id":"f18bc157-952e-481a-bf0c-7a6e5dcf4c0e","id":"0c6c9b95-3d2b-4c5f-aadd-85a15e30ea95","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"225-199-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-01T08:38:53.754731Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-01T08:39:21.438612Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.1495ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/f18bc157-952e-481a-bf0c-7a6e5dcf4c0e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"f18bc157-952e-481a-bf0c-7a6e5dcf4c0e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.84025ms
[...]
