---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:51:49.771220Z","id":"9d945f63-bb80-4ffe-a860-6e118a36d86c","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:51:49.771220Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.590334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/9d945f63-bb80-4ffe-a860-6e118a36d86c
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:51:49.771220Z","id":"9d945f63-bb80-4ffe-a860-6e118a36d86c","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:51:49.771220Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.173375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"9d945f63-bb80-4ffe-a860-6e118a36d86c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:51:49.898456Z","dhcp_enabled":true,"id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.898456Z","id":"68cc9aa4-5536-44bb-b7dc-aa1f007be8b4","private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T14:51:49.898456Z","vpc_id":"9d945f63-bb80-4ffe-a860-6e118a36d86c"},{"created_at":"2025-01-24T14:51:49.898456Z","id":"d59bbb78-9516-4a3e-bd06-01cf45de3379","private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:50d1::/64","updated_at":"2025-01-24T14:51:49.898456Z","vpc_id":"9d945f63-bb80-4ffe-a860-6e118a36d86c"}],"tags":[],"updated_at":"2025-01-24T14:51:49.898456Z","vpc_id":"9d945f63-bb80-4ffe-a860-6e118a36d86c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 449.989916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:51:49.898456Z","dhcp_enabled":true,"id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.898456Z","id":"68cc9aa4-5536-44bb-b7dc-aa1f007be8b4","private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-24T14:51:49.898456Z","vpc_id":"9d945f63-bb80-4ffe-a860-6e118a36d86c"},{"created_at":"2025-01-24T14:51:49.898456Z","id":"d59bbb78-9516-4a3e-bd06-01cf45de3379","private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:50d1::/64","updated_at":"2025-01-24T14:51:49.898456Z","vpc_id":"9d945f63-bb80-4ffe-a860-6e118a36d86c"}],"tags":[],"updated_at":"2025-01-24T14:51:49.898456Z","vpc_id":"9d945f63-bb80-4ffe-a860-6e118a36d86c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.584416ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:51.127691Z","gateway_networks":[],"id":"47077f57-efaa-49f0-8fb5-384382be1ade","ip":{"address":"163.172.142.126","created_at":"2025-01-24T14:51:51.106084Z","gateway_id":"47077f57-efaa-49f0-8fb5-384382be1ade","id":"3bd420f5-da71-463c-8af1-5c97c72f9306","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.106084Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:51.127691Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.428707834s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/47077f57-efaa-49f0-8fb5-384382be1ade
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:51.127691Z","gateway_networks":[],"id":"47077f57-efaa-49f0-8fb5-384382be1ade","ip":{"address":"163.172.142.126","created_at":"2025-01-24T14:51:51.106084Z","gateway_id":"47077f57-efaa-49f0-8fb5-384382be1ade","id":"3bd420f5-da71-463c-8af1-5c97c72f9306","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.106084Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:51.163041Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.046084ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"47077f57-efaa-49f0-8fb5-384382be1ade","private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.64.2/22","created_at":"2025-01-24T14:51:56.880087Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"47077f57-efaa-49f0-8fb5-384382be1ade","id":"0737abb6-8f17-4f4c-9647-6a21c8d5ea3b","ipam_config":{"ipam_ip_id":"d9cb3900-e55c-43c6-898e-0f146e317b9a","push_default_route":true},"mac_address":null,"private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","status":"created","updated_at":"2025-01-24T14:51:56.880087Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 643.730958ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0737abb6-8f17-4f4c-9647-6a21c8d5ea3b
        method: GET
      response:
        body: '{"address":"172.16.64.2/22","created_at":"2025-01-24T14:51:56.880087Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"47077f57-efaa-49f0-8fb5-384382be1ade","id":"0737abb6-8f17-4f4c-9647-6a21c8d5ea3b","ipam_config":{"ipam_ip_id":"d9cb3900-e55c-43c6-898e-0f146e317b9a","push_default_route":true},"mac_address":"02:00:00:16:75:DF","private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da","status":"ready","updated_at":"2025-01-24T14:52:05.622969Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.499791ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"fbb9aeac-2d2a-47e0-9bd2-e32c4422a0da"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-01-24T14:52:10.292299Z","id":"2fdb0fc7-4db2-4390-81bc-f4809f5d95ae","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"68cc9aa4-5536-44bb-b7dc-aa1f007be8b4"},"tags":[],"updated_at":"2025-01-24T14:52:10.292299Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.761875ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/2fdb0fc7-4db2-4390-81bc-f4809f5d95ae
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-01-24T14:52:10.292299Z","id":"2fdb0fc7-4db2-4390-81bc-f4809f5d95ae","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"68cc9aa4-5536-44bb-b7dc-aa1f007be8b4"},"tags":[],"updated_at":"2025-01-24T14:52:10.292299Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.765125ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0737abb6-8f17-4f4c-9647-6a21c8d5ea3b?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.350875ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/0737abb6-8f17-4f4c-9647-6a21c8d5ea3b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"0737abb6-8f17-4f4c-9647-6a21c8d5ea3b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.421ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/47077f57-efaa-49f0-8fb5-384382be1ade?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 52.596417ms
[...]
