---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.196.151","created_at":"2025-03-21T14:25:39.800127Z","id":"2472de3e-aab2-4a38-8e6c-4402296186ae","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:39.800127Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 743.311676ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/2472de3e-aab2-4a38-8e6c-4402296186ae
        method: GET
      response:
        body: '{"address":"51.15.196.151","created_at":"2025-03-21T14:25:39.800127Z","id":"2472de3e-aab2-4a38-8e6c-4402296186ae","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:39.800127Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.310647ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","ip_id":"2472de3e-aab2-4a38-8e6c-4402296186ae","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:25:39.924358Z","gateway_networks":[],"id":"aca9527a-59ed-453f-998a-2a75e3f7d883","ipv4":{"address":"51.15.196.151","created_at":"2025-03-21T14:25:39.800127Z","gateway_id":"aca9527a-59ed-453f-998a-2a75e3f7d883","id":"2472de3e-aab2-4a38-8e6c-4402296186ae","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:39.800127Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:25:39.924358Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.242357ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/aca9527a-59ed-453f-998a-2a75e3f7d883
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:25:39.924358Z","gateway_networks":[],"id":"aca9527a-59ed-453f-998a-2a75e3f7d883","ipv4":{"address":"51.15.196.151","created_at":"2025-03-21T14:25:39.800127Z","gateway_id":"aca9527a-59ed-453f-998a-2a75e3f7d883","id":"2472de3e-aab2-4a38-8e6c-4402296186ae","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:39.800127Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:25:39.971640Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.403207ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/aca9527a-59ed-453f-998a-2a75e3f7d883?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:25:39.924358Z","gateway_networks":[],"id":"aca9527a-59ed-453f-998a-2a75e3f7d883","ipv4":{"address":"51.15.196.151","created_at":"2025-03-21T14:25:39.800127Z","gateway_id":"aca9527a-59ed-453f-998a-2a75e3f7d883","id":"2472de3e-aab2-4a38-8e6c-4402296186ae","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:25:39.800127Z","zone":"fr-par-1"},"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:25:46.448661Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.841241ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/aca9527a-59ed-453f-998a-2a75e3f7d883
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"aca9527a-59ed-453f-998a-2a75e3f7d883","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 20.98316ms
[...]
