---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.204.168","created_at":"2026-02-24T08:13:53.748207Z","id":"d0e8c208-ef54-4b92-bd1d-0034dcf85e25","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"168-204-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-02-24T08:13:53.748207Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.195681458s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/d0e8c208-ef54-4b92-bd1d-0034dcf85e25
        method: GET
      response:
        body: '{"address":"51.15.204.168","created_at":"2026-02-24T08:13:53.748207Z","id":"d0e8c208-ef54-4b92-bd1d-0034dcf85e25","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"168-204-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-02-24T08:13:53.748207Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.209792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"51.15.204.168","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":""}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"51.15.204.168","id":"90f148f2-16b4-48c4-ae73-5f54bc5411d5","name":"","priority":1,"ttl":3600,"type":"A"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.531958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"51.15.204.168","id":"90f148f2-16b4-48c4-ae73-5f54bc5411d5","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.295167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"51.15.204.168","id":"90f148f2-16b4-48c4-ae73-5f54bc5411d5","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.568917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?id=90f148f2-16b4-48c4-ae73-5f54bc5411d5&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"51.15.204.168","id":"90f148f2-16b4-48c4-ae73-5f54bc5411d5","name":"","priority":1,"ttl":3600,"type":"A"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.943416ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-vpcgw.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"active","subdomain":"tf-reverse-vpcgw","updated_at":"2026-02-24T08:13:54Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.267333ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"90f148f2-16b4-48c4-ae73-5f54bc5411d5"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.389667ms
[...]
