---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T17:13:00.942440Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"342beff0-3f1b-480f-91e9-34aa39ce1cb5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:13:00.942440Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.134026ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/342beff0-3f1b-480f-91e9-34aa39ce1cb5
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-03T17:13:00.942440Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"342beff0-3f1b-480f-91e9-34aa39ce1cb5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:13:00.942440Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.343628ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:13:00.942612Z","dhcp_enabled":true,"id":"540685c7-a6f8-4720-a01d-b761e0d2796c","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:13:00.942612Z","id":"f2a05314-91a5-4f6f-8553-d7e3ef6459c8","private_network_id":"540685c7-a6f8-4720-a01d-b761e0d2796c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:13:00.942612Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:13:00.942612Z","id":"17d4fb6d-6c75-4f30-a19a-a7291c202e00","private_network_id":"540685c7-a6f8-4720-a01d-b761e0d2796c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:22be::/64","updated_at":"2024-10-03T17:13:00.942612Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:13:00.942612Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 595.993692ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/540685c7-a6f8-4720-a01d-b761e0d2796c
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:13:00.942612Z","dhcp_enabled":true,"id":"540685c7-a6f8-4720-a01d-b761e0d2796c","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:13:00.942612Z","id":"f2a05314-91a5-4f6f-8553-d7e3ef6459c8","private_network_id":"540685c7-a6f8-4720-a01d-b761e0d2796c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.116.0/22","updated_at":"2024-10-03T17:13:00.942612Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:13:00.942612Z","id":"17d4fb6d-6c75-4f30-a19a-a7291c202e00","private_network_id":"540685c7-a6f8-4720-a01d-b761e0d2796c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:22be::/64","updated_at":"2024-10-03T17:13:00.942612Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:13:00.942612Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.722994ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-festive-curran","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:13:01.738832Z","gateway_networks":[],"id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","ip":{"address":"51.15.239.138","created_at":"2024-10-03T17:13:01.717291Z","gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","id":"de2a8c23-5a3b-46bb-8ab2-dde421fd21a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"138-239-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:13:01.717291Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-festive-curran","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:13:01.738832Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 964.737747ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/2c9b94f3-61cb-49fb-8122-a3229a0382eb
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:13:01.738832Z","gateway_networks":[],"id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","ip":{"address":"51.15.239.138","created_at":"2024-10-03T17:13:01.717291Z","gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","id":"de2a8c23-5a3b-46bb-8ab2-dde421fd21a3","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"138-239-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:13:01.717291Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-pn-festive-curran","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:13:01.778793Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.895867ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","private_network_id":"540685c7-a6f8-4720-a01d-b761e0d2796c","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"342beff0-3f1b-480f-91e9-34aa39ce1cb5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-03T17:13:15.799910Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T17:13:00.942440Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"342beff0-3f1b-480f-91e9-34aa39ce1cb5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:13:00.942440Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","id":"e0a36f53-b2bb-48a4-88b6-656a8d92b06f","ipam_config":null,"mac_address":null,"private_network_id":"540685c7-a6f8-4720-a01d-b761e0d2796c","status":"created","updated_at":"2024-10-03T17:13:15.799910Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.477254169s
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e0a36f53-b2bb-48a4-88b6-656a8d92b06f
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-03T17:13:15.799910Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-03T17:13:00.942440Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"342beff0-3f1b-480f-91e9-34aa39ce1cb5","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-03T17:13:00.942440Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","id":"e0a36f53-b2bb-48a4-88b6-656a8d92b06f","ipam_config":null,"mac_address":"02:00:00:1B:F3:B4","private_network_id":"540685c7-a6f8-4720-a01d-b761e0d2796c","status":"ready","updated_at":"2024-10-03T17:13:27.736239Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.290117ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=540685c7-a6f8-4720-a01d-b761e0d2796c&resource_id=e0a36f53-b2bb-48a4-88b6-656a8d92b06f&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.1/24","created_at":"2024-10-03T17:13:15.743193Z","id":"a5b9dff0-779a-4c7a-8743-98640ca9b4a5","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"e0a36f53-b2bb-48a4-88b6-656a8d92b06f","mac_address":"02:00:00:1B:F3:B4","name":"tf-pn-festive-curran","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"f2a05314-91a5-4f6f-8553-d7e3ef6459c8"},"tags":[],"updated_at":"2024-10-03T17:13:16.361153Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.369778ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:13:31.606808Z","gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","id":"0f946e5d-9da2-425a-9dd7-9eded4ad13ab","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2024-10-03T17:13:31.606808Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.460707ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/0f946e5d-9da2-425a-9dd7-9eded4ad13ab
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:13:31.606808Z","gateway_id":"2c9b94f3-61cb-49fb-8122-a3229a0382eb","id":"0f946e5d-9da2-425a-9dd7-9eded4ad13ab","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2024-10-03T17:13:31.606808Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.240577ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e0a36f53-b2bb-48a4-88b6-656a8d92b06f?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 65.500285ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/e0a36f53-b2bb-48a4-88b6-656a8d92b06f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"e0a36f53-b2bb-48a4-88b6-656a8d92b06f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.059809ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/2c9b94f3-61cb-49fb-8122-a3229a0382eb?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 46.573745ms
[...]
