---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.154.74","created_at":"2024-05-13T09:52:27.028880Z","gateway_id":null,"id":"b7e839b1-ce57-4b00-a84e-00da3886d6cf","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"74-154-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-05-13T09:52:27.028880Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 695.917228ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/b7e839b1-ce57-4b00-a84e-00da3886d6cf
        method: GET
      response:
        body: '{"address":"163.172.154.74","created_at":"2024-05-13T09:52:27.028880Z","gateway_id":null,"id":"b7e839b1-ce57-4b00-a84e-00da3886d6cf","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"74-154-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-05-13T09:52:27.028880Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.179815ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"b7e839b1-ce57-4b00-a84e-00da3886d6cf","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-13T09:52:27.193612Z","gateway_networks":[],"id":"613e8b27-4063-48c5-a3a3-23b2f32348d4","ip":{"address":"163.172.154.74","created_at":"2024-05-13T09:52:27.028880Z","gateway_id":"613e8b27-4063-48c5-a3a3-23b2f32348d4","id":"b7e839b1-ce57-4b00-a84e-00da3886d6cf","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"74-154-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-05-13T09:52:27.028880Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-05-13T09:52:27.193612Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.40984ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/613e8b27-4063-48c5-a3a3-23b2f32348d4
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-13T09:52:27.193612Z","gateway_networks":[],"id":"613e8b27-4063-48c5-a3a3-23b2f32348d4","ip":{"address":"163.172.154.74","created_at":"2024-05-13T09:52:27.028880Z","gateway_id":"613e8b27-4063-48c5-a3a3-23b2f32348d4","id":"b7e839b1-ce57-4b00-a84e-00da3886d6cf","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"74-154-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-05-13T09:52:27.028880Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-05-13T09:52:27.193612Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.357257ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/613e8b27-4063-48c5-a3a3-23b2f32348d4?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.420613ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/613e8b27-4063-48c5-a3a3-23b2f32348d4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"613e8b27-4063-48c5-a3a3-23b2f32348d4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.457981ms
[...]
