---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-upgrade-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:51.382263Z","gateway_networks":[],"id":"826ffb58-c208-49b6-9efe-d6d98674fb8d","ip":{"address":"51.15.196.32","created_at":"2025-01-24T14:51:51.361494Z","gateway_id":"826ffb58-c208-49b6-9efe-d6d98674fb8d","id":"f18118a6-bc4b-40a3-b2e0-2c6c39c1b244","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"32-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.361494Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:51.382263Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.786036375s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/826ffb58-c208-49b6-9efe-d6d98674fb8d
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:51.382263Z","gateway_networks":[],"id":"826ffb58-c208-49b6-9efe-d6d98674fb8d","ip":{"address":"51.15.196.32","created_at":"2025-01-24T14:51:51.361494Z","gateway_id":"826ffb58-c208-49b6-9efe-d6d98674fb8d","id":"f18118a6-bc4b-40a3-b2e0-2c6c39c1b244","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"32-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.361494Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:51.434593Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.017208ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: '{"type":"VPC-GW-M"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/826ffb58-c208-49b6-9efe-d6d98674fb8d/upgrade
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:51.382263Z","gateway_networks":[],"id":"826ffb58-c208-49b6-9efe-d6d98674fb8d","ip":{"address":"51.15.196.32","created_at":"2025-01-24T14:51:51.361494Z","gateway_id":"826ffb58-c208-49b6-9efe-d6d98674fb8d","id":"f18118a6-bc4b-40a3-b2e0-2c6c39c1b244","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"32-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.361494Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":1000000000,"name":"VPC-GW-M","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:59.495791Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.625916ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/826ffb58-c208-49b6-9efe-d6d98674fb8d?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 47.00175ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/826ffb58-c208-49b6-9efe-d6d98674fb8d
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"826ffb58-c208-49b6-9efe-d6d98674fb8d","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.88675ms
[...]
