---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.195.215","created_at":"2026-08-24T12:46:55.206468Z","id":"cb917e42-a8f7-42bb-93ed-34f2b09b4503","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"215-195-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:46:55.206468Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.153135269s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.658899ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/cb917e42-a8f7-42bb-93ed-34f2b09b4503
        method: GET
      response:
        body: '{"address":"51.15.195.215","created_at":"2026-08-24T12:46:55.206468Z","id":"cb917e42-a8f7-42bb-93ed-34f2b09b4503","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"215-195-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:46:55.206468Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.85522ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/cb917e42-a8f7-42bb-93ed-34f2b09b4503
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"cb917e42-a8f7-42bb-93ed-34f2b09b4503","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.59955ms
