---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-bastion-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-01T09:18:55.591388Z","gateway_networks":[],"id":"5f519b8f-e758-4350-960d-1529e565409b","ipv4":{"address":"51.15.200.112","created_at":"2025-12-01T09:18:55.564264Z","gateway_id":"5f519b8f-e758-4350-960d-1529e565409b","id":"12d45bf3-49be-4d95-badf-46856b3c3b70","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"112-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-01T09:18:55.564264Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-01T09:18:55.591388Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 654.919375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5f519b8f-e758-4350-960d-1529e565409b
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":61000,"created_at":"2025-12-01T09:18:55.591388Z","gateway_networks":[],"id":"5f519b8f-e758-4350-960d-1529e565409b","ipv4":{"address":"51.15.200.112","created_at":"2025-12-01T09:18:55.564264Z","gateway_id":"5f519b8f-e758-4350-960d-1529e565409b","id":"12d45bf3-49be-4d95-badf-46856b3c3b70","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"112-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-01T09:18:55.564264Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-01T09:18:55.591388Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.258958ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5f519b8f-e758-4350-960d-1529e565409b?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":true,"bastion_port":59999,"created_at":"2025-12-01T09:18:55.591388Z","gateway_networks":[],"id":"5f519b8f-e758-4350-960d-1529e565409b","ipv4":{"address":"51.15.200.112","created_at":"2025-12-01T09:18:55.564264Z","gateway_id":"5f519b8f-e758-4350-960d-1529e565409b","id":"12d45bf3-49be-4d95-badf-46856b3c3b70","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"112-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-12-01T09:18:55.564264Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-12-01T09:19:18.078783Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.603417ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5f519b8f-e758-4350-960d-1529e565409b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"5f519b8f-e758-4350-960d-1529e565409b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.366083ms
[...]
