---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:33.881090Z","id":"a614824d-f3c0-4289-a77c-04960986c3ec","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-27T09:16:33.881090Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.687042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a614824d-f3c0-4289-a77c-04960986c3ec
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:33.881090Z","id":"a614824d-f3c0-4289-a77c-04960986c3ec","is_default":false,"name":"my vpc","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-27T09:16:33.881090Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.281708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"a614824d-f3c0-4289-a77c-04960986c3ec"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:34.030324Z","dhcp_enabled":true,"id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:34.030324Z","id":"c4682603-eb71-45d7-a55f-25c5ebf7144a","private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-27T09:16:34.030324Z","vpc_id":"a614824d-f3c0-4289-a77c-04960986c3ec"},{"created_at":"2025-01-27T09:16:34.030324Z","id":"07b6f3ad-464b-493e-9f99-875cdade5dbb","private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:90b2::/64","updated_at":"2025-01-27T09:16:34.030324Z","vpc_id":"a614824d-f3c0-4289-a77c-04960986c3ec"}],"tags":[],"updated_at":"2025-01-27T09:16:34.030324Z","vpc_id":"a614824d-f3c0-4289-a77c-04960986c3ec"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 470.859375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/3a41e5bb-a7bd-4996-855c-0d284ee89412
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:34.030324Z","dhcp_enabled":true,"id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:34.030324Z","id":"c4682603-eb71-45d7-a55f-25c5ebf7144a","private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.64.0/22","updated_at":"2025-01-27T09:16:34.030324Z","vpc_id":"a614824d-f3c0-4289-a77c-04960986c3ec"},{"created_at":"2025-01-27T09:16:34.030324Z","id":"07b6f3ad-464b-493e-9f99-875cdade5dbb","private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:90b2::/64","updated_at":"2025-01-27T09:16:34.030324Z","vpc_id":"a614824d-f3c0-4289-a77c-04960986c3ec"}],"tags":[],"updated_at":"2025-01-27T09:16:34.030324Z","vpc_id":"a614824d-f3c0-4289-a77c-04960986c3ec"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.520166ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:34.636857Z","gateway_networks":[],"id":"5f2040c6-9037-4c64-90f8-3f0c892f98e3","ip":{"address":"51.15.250.58","created_at":"2025-01-27T09:16:34.617828Z","gateway_id":"5f2040c6-9037-4c64-90f8-3f0c892f98e3","id":"957c6ee5-045a-4e71-a101-fd9a0dcf722f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"58-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:34.617828Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:34.636857Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 833.925375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5f2040c6-9037-4c64-90f8-3f0c892f98e3
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:34.636857Z","gateway_networks":[],"id":"5f2040c6-9037-4c64-90f8-3f0c892f98e3","ip":{"address":"51.15.250.58","created_at":"2025-01-27T09:16:34.617828Z","gateway_id":"5f2040c6-9037-4c64-90f8-3f0c892f98e3","id":"957c6ee5-045a-4e71-a101-fd9a0dcf722f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"58-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:34.617828Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:34.636857Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.814542ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"5f2040c6-9037-4c64-90f8-3f0c892f98e3","private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.64.2/22","created_at":"2025-01-27T09:16:40.201148Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"5f2040c6-9037-4c64-90f8-3f0c892f98e3","id":"ba9d9f6b-41a7-4414-97b2-fda03388cf13","ipam_config":{"ipam_ip_id":"e79a44aa-e3f7-42e8-b800-91e734614d35","push_default_route":true},"mac_address":null,"private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","status":"created","updated_at":"2025-01-27T09:16:40.201148Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 508.22825ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/ba9d9f6b-41a7-4414-97b2-fda03388cf13
        method: GET
      response:
        body: '{"address":"172.16.64.2/22","created_at":"2025-01-27T09:16:40.201148Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"5f2040c6-9037-4c64-90f8-3f0c892f98e3","id":"ba9d9f6b-41a7-4414-97b2-fda03388cf13","ipam_config":{"ipam_ip_id":"e79a44aa-e3f7-42e8-b800-91e734614d35","push_default_route":true},"mac_address":"02:00:00:1E:22:5B","private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412","status":"ready","updated_at":"2025-01-27T09:16:50.693808Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.17675ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"3a41e5bb-a7bd-4996-855c-0d284ee89412"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-01-27T09:16:58.912797Z","id":"e1a63ac5-e9ab-4946-ae0b-7f7b4b93eba7","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"c4682603-eb71-45d7-a55f-25c5ebf7144a"},"tags":[],"updated_at":"2025-01-27T09:16:58.912797Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 381.711209ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/e1a63ac5-e9ab-4946-ae0b-7f7b4b93eba7
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2025-01-27T09:16:58.912797Z","id":"e1a63ac5-e9ab-4946-ae0b-7f7b4b93eba7","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"c4682603-eb71-45d7-a55f-25c5ebf7144a"},"tags":[],"updated_at":"2025-01-27T09:16:58.912797Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.538667ms
[...]
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/ba9d9f6b-41a7-4414-97b2-fda03388cf13?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 78.461792ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/ba9d9f6b-41a7-4414-97b2-fda03388cf13
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"ba9d9f6b-41a7-4414-97b2-fda03388cf13","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.595ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5f2040c6-9037-4c64-90f8-3f0c892f98e3?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 46.718917ms
[...]
