---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"address":"163.172.131.58","created_at":"2023-05-09T15:19:10.984748Z","gateway_id":null,"id":"9f29562e-8a42-4855-9683-514f417255ec","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"58-131-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:19:10.984748Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/9f29562e-8a42-4855-9683-514f417255ec
    method: GET
  response:
    body: '{"address":"163.172.131.58","created_at":"2023-05-09T15:19:10.984748Z","gateway_id":null,"id":"9f29562e-8a42-4855-9683-514f417255ec","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"58-131-172-163.instances.scw.cloud","tags":[],"updated_at":"2023-05-09T15:19:10.984748Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/9f29562e-8a42-4855-9683-514f417255ec
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"ip","resource_id":"9f29562e-8a42-4855-9683-514f417255ec","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
