---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:13:19.485907Z","dhcp_enabled":true,"id":"dde49553-1145-40dc-8c3e-796a47d5a170","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:13:19.485907Z","id":"a48c7962-8d76-4479-b349-a35e64c198b4","private_network_id":"dde49553-1145-40dc-8c3e-796a47d5a170","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T17:13:19.485907Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:13:19.485907Z","id":"77d14685-7f9a-4c76-9ee4-9ed136c5d0a1","private_network_id":"dde49553-1145-40dc-8c3e-796a47d5a170","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:40fc::/64","updated_at":"2024-10-03T17:13:19.485907Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:13:19.485907Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 582.818165ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/dde49553-1145-40dc-8c3e-796a47d5a170
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:13:19.485907Z","dhcp_enabled":true,"id":"dde49553-1145-40dc-8c3e-796a47d5a170","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:13:19.485907Z","id":"a48c7962-8d76-4479-b349-a35e64c198b4","private_network_id":"dde49553-1145-40dc-8c3e-796a47d5a170","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.56.0/22","updated_at":"2024-10-03T17:13:19.485907Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-03T17:13:19.485907Z","id":"77d14685-7f9a-4c76-9ee4-9ed136c5d0a1","private_network_id":"dde49553-1145-40dc-8c3e-796a47d5a170","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:40fc::/64","updated_at":"2024-10-03T17:13:19.485907Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-03T17:13:19.485907Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.070124ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:13:20.237557Z","gateway_networks":[],"id":"f621eadb-c1ec-471c-bccd-b02f00263fab","ip":{"address":"163.172.143.140","created_at":"2024-10-03T17:13:20.217613Z","gateway_id":"f621eadb-c1ec-471c-bccd-b02f00263fab","id":"aba380d4-e0ed-4df2-9dad-b5d8efc77652","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"140-143-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:13:20.217613Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:13:20.237557Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 949.500946ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f621eadb-c1ec-471c-bccd-b02f00263fab
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:13:20.237557Z","gateway_networks":[],"id":"f621eadb-c1ec-471c-bccd-b02f00263fab","ip":{"address":"163.172.143.140","created_at":"2024-10-03T17:13:20.217613Z","gateway_id":"f621eadb-c1ec-471c-bccd-b02f00263fab","id":"aba380d4-e0ed-4df2-9dad-b5d8efc77652","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"140-143-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:13:20.217613Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:13:20.276264Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.894219ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"f621eadb-c1ec-471c-bccd-b02f00263fab","private_network_id":"dde49553-1145-40dc-8c3e-796a47d5a170","enable_masquerade":true,"enable_dhcp":false,"address":"192.168.1.42/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"192.168.1.42/24","created_at":"2024-10-03T17:13:32.646222Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"f621eadb-c1ec-471c-bccd-b02f00263fab","id":"55895ded-60f9-4c77-a0c7-a5670100aa9f","ipam_config":{"ipam_ip_id":"67bd5bd5-40a5-46bf-8530-0b15eb25a56e","push_default_route":false},"mac_address":null,"private_network_id":"dde49553-1145-40dc-8c3e-796a47d5a170","status":"created","updated_at":"2024-10-03T17:13:32.646222Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.339106742s
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/55895ded-60f9-4c77-a0c7-a5670100aa9f
        method: GET
      response:
        body: '{"address":"192.168.1.42/24","created_at":"2024-10-03T17:13:32.646222Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"f621eadb-c1ec-471c-bccd-b02f00263fab","id":"55895ded-60f9-4c77-a0c7-a5670100aa9f","ipam_config":{"ipam_ip_id":"67bd5bd5-40a5-46bf-8530-0b15eb25a56e","push_default_route":false},"mac_address":"02:00:00:1A:16:37","private_network_id":"dde49553-1145-40dc-8c3e-796a47d5a170","status":"ready","updated_at":"2024-10-03T17:13:47.891171Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.402272ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=dde49553-1145-40dc-8c3e-796a47d5a170&resource_id=55895ded-60f9-4c77-a0c7-a5670100aa9f&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.42/24","created_at":"2024-10-03T17:13:32.601709Z","id":"67bd5bd5-40a5-46bf-8530-0b15eb25a56e","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"55895ded-60f9-4c77-a0c7-a5670100aa9f","mac_address":"02:00:00:1A:16:37","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"a48c7962-8d76-4479-b349-a35e64c198b4"},"tags":[],"updated_at":"2024-10-03T17:13:33.185215Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.595725ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/55895ded-60f9-4c77-a0c7-a5670100aa9f?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 65.505332ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/55895ded-60f9-4c77-a0c7-a5670100aa9f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"55895ded-60f9-4c77-a0c7-a5670100aa9f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 19.893703ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f621eadb-c1ec-471c-bccd-b02f00263fab?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 47.409037ms
[...]
