---
version: 2
interactions:
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24","address":null,"pool_low":null,"pool_high":null,"enable_dynamic":null,"valid_lifetime":null,"renew_timer":null,"rebind_timer":null,"push_default_route":null,"push_dns_server":null,"dns_servers_override":null,"dns_search":null,"dns_local_name":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
    method: POST
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-12T07:43:26.558517Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7a3c28f0-b455-4570-b492-69b9c179b6b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:43:26.558517Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/7a3c28f0-b455-4570-b492-69b9c179b6b4
    method: GET
  response:
    body: '{"address":"192.168.1.1","created_at":"2023-07-12T07:43:26.558517Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7a3c28f0-b455-4570-b492-69b9c179b6b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:43:26.558517Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2023-07-12T07:43:26.584796Z","dhcp_enabled":false,"id":"038be333-f784-4ebc-a27e-fbff15938e0d","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:43:26.584796Z","id":"d8dcce72-8bf0-4b2a-a2d2-ec6ef94f6909","subnet":"172.16.28.0/22","updated_at":"2023-07-12T07:43:26.584796Z"},{"created_at":"2023-07-12T07:43:26.584796Z","id":"7c1bf1a1-2c0a-4d75-a691-593b5045e4d0","subnet":"fd46:78ab:30b8:32c0::/64","updated_at":"2023-07-12T07:43:26.584796Z"}],"tags":[],"updated_at":"2023-07-12T07:43:26.584796Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/038be333-f784-4ebc-a27e-fbff15938e0d
    method: GET
  response:
    body: '{"created_at":"2023-07-12T07:43:26.584796Z","dhcp_enabled":false,"id":"038be333-f784-4ebc-a27e-fbff15938e0d","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2023-07-12T07:43:26.584796Z","id":"d8dcce72-8bf0-4b2a-a2d2-ec6ef94f6909","subnet":"172.16.28.0/22","updated_at":"2023-07-12T07:43:26.584796Z"},{"created_at":"2023-07-12T07:43:26.584796Z","id":"7c1bf1a1-2c0a-4d75-a691-593b5045e4d0","subnet":"fd46:78ab:30b8:32c0::/64","updated_at":"2023-07-12T07:43:26.584796Z"}],"tags":[],"updated_at":"2023-07-12T07:43:26.584796Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-pn-dazzling-spence","tags":null,"type":"VPC-GW-S","upstream_dns_servers":null,"ip_id":null,"enable_smtp":false,"enable_bastion":false,"bastion_port":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-12T07:43:27.620915Z","gateway_networks":[],"id":"18ec24fe-9336-40b1-9774-85d972a42843","ip":{"address":"51.158.106.26","created_at":"2023-07-12T07:43:27.270635Z","gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","id":"b456a885-c86a-4a98-a9e7-b0aad33f4dd0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"26-106-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-12T07:43:27.270635Z","zone":"fr-par-1"},"name":"tf-pn-dazzling-spence","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-12T07:43:27.620915Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/18ec24fe-9336-40b1-9774-85d972a42843
    method: GET
  response:
    body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2023-07-12T07:43:27.620915Z","gateway_networks":[],"id":"18ec24fe-9336-40b1-9774-85d972a42843","ip":{"address":"51.158.106.26","created_at":"2023-07-12T07:43:27.270635Z","gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","id":"b456a885-c86a-4a98-a9e7-b0aad33f4dd0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"26-106-158-51.instances.scw.cloud","tags":[],"updated_at":"2023-07-12T07:43:27.270635Z","zone":"fr-par-1"},"name":"tf-pn-dazzling-spence","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2023-07-12T07:43:27.662915Z","upstream_dns_servers":[],"version":"0.5.0","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","private_network_id":"038be333-f784-4ebc-a27e-fbff15938e0d","enable_masquerade":true,"dhcp_id":"7a3c28f0-b455-4570-b492-69b9c179b6b4","enable_dhcp":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: '{"address":null,"created_at":"2023-07-12T07:43:34.598624Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-12T07:43:26.558517Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7a3c28f0-b455-4570-b492-69b9c179b6b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:43:26.558517Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","id":"13c3cdfa-d9e0-4b45-aa66-3db9186e6d6e","mac_address":null,"private_network_id":"038be333-f784-4ebc-a27e-fbff15938e0d","status":"created","updated_at":"2023-07-12T07:43:34.598624Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/13c3cdfa-d9e0-4b45-aa66-3db9186e6d6e
    method: GET
  response:
    body: '{"address":null,"created_at":"2023-07-12T07:43:34.598624Z","dhcp":{"address":"192.168.1.1","created_at":"2023-07-12T07:43:26.558517Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"7a3c28f0-b455-4570-b492-69b9c179b6b4","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2023-07-12T07:43:26.558517Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","id":"13c3cdfa-d9e0-4b45-aa66-3db9186e6d6e","mac_address":"02:00:00:13:5D:14","private_network_id":"038be333-f784-4ebc-a27e-fbff15938e0d","status":"ready","updated_at":"2023-07-12T07:43:41.821537Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"created_at":"2023-07-12T07:43:45.351459Z","gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","id":"ef3ec2f1-6aed-4958-aae0-2b510f6ec4a5","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2023-07-12T07:43:45.351459Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/ef3ec2f1-6aed-4958-aae0-2b510f6ec4a5
    method: GET
  response:
    body: '{"created_at":"2023-07-12T07:43:45.351459Z","gateway_id":"18ec24fe-9336-40b1-9774-85d972a42843","id":"ef3ec2f1-6aed-4958-aae0-2b510f6ec4a5","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2023-07-12T07:43:45.351459Z","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/13c3cdfa-d9e0-4b45-aa66-3db9186e6d6e?cleanup_dhcp=true
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/13c3cdfa-d9e0-4b45-aa66-3db9186e6d6e
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"13c3cdfa-d9e0-4b45-aa66-3db9186e6d6e","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/18ec24fe-9336-40b1-9774-85d972a42843?cleanup_dhcp=false
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
[...]
