---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-bastion-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:18.347047Z","gateway_networks":[],"id":"5b9e1f15-f9f7-444d-baad-54fa53f123e8","ip":{"address":"51.15.248.151","created_at":"2025-01-24T14:52:18.330243Z","gateway_id":"5b9e1f15-f9f7-444d-baad-54fa53f123e8","id":"ce431aba-f0ef-4aea-b55b-778dcdfe7065","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"151-248-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:18.330243Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:52:18.347047Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 742.79125ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5b9e1f15-f9f7-444d-baad-54fa53f123e8
        method: GET
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:52:18.347047Z","gateway_networks":[],"id":"5b9e1f15-f9f7-444d-baad-54fa53f123e8","ip":{"address":"51.15.248.151","created_at":"2025-01-24T14:52:18.330243Z","gateway_id":"5b9e1f15-f9f7-444d-baad-54fa53f123e8","id":"ce431aba-f0ef-4aea-b55b-778dcdfe7065","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"151-248-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:52:18.330243Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:52:18.382301Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.4035ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5b9e1f15-f9f7-444d-baad-54fa53f123e8?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 51.283666ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/5b9e1f15-f9f7-444d-baad-54fa53f123e8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"5b9e1f15-f9f7-444d-baad-54fa53f123e8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.650875ms
[...]
