---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.157.246","created_at":"2025-03-21T14:37:50.026948Z","id":"814078c1-27da-48c4-92fa-432371fb31f9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:37:50.026948Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 849.618159ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/814078c1-27da-48c4-92fa-432371fb31f9
        method: GET
      response:
        body: '{"address":"163.172.157.246","created_at":"2025-03-21T14:37:50.026948Z","id":"814078c1-27da-48c4-92fa-432371fb31f9","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"246-157-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:37:50.026948Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.953144ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/814078c1-27da-48c4-92fa-432371fb31f9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"814078c1-27da-48c4-92fa-432371fb31f9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.472256ms
