---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:08:25.516922Z","gateway_networks":[],"id":"19956f6c-29da-4b26-88b2-9fb7867d7814","ipv4":{"address":"212.47.248.243","created_at":"2026-03-10T20:08:25.505002Z","gateway_id":"19956f6c-29da-4b26-88b2-9fb7867d7814","id":"05b6aa26-9ed0-4807-98d4-708083f15c9c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"243-248-47-212.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:08:25.505002Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:08:25.516922Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 714.611334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/19956f6c-29da-4b26-88b2-9fb7867d7814
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:08:25.516922Z","gateway_networks":[],"id":"19956f6c-29da-4b26-88b2-9fb7867d7814","ipv4":{"address":"212.47.248.243","created_at":"2026-03-10T20:08:25.505002Z","gateway_id":"19956f6c-29da-4b26-88b2-9fb7867d7814","id":"05b6aa26-9ed0-4807-98d4-708083f15c9c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"243-248-47-212.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:08:25.505002Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:08:25.560070Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.075667ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/19956f6c-29da-4b26-88b2-9fb7867d7814?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:08:25.516922Z","gateway_networks":[],"id":"19956f6c-29da-4b26-88b2-9fb7867d7814","ipv4":{"address":"212.47.248.243","created_at":"2026-03-10T20:08:25.505002Z","gateway_id":"19956f6c-29da-4b26-88b2-9fb7867d7814","id":"05b6aa26-9ed0-4807-98d4-708083f15c9c","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"243-248-47-212.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:08:25.505002Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test-new","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":["tag0","tag1"],"type":"VPC-GW-S","updated_at":"2026-03-10T20:08:32.359696Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.450417ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/19956f6c-29da-4b26-88b2-9fb7867d7814
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"19956f6c-29da-4b26-88b2-9fb7867d7814","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 32.081583ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/83021a8f-ed92-488f-b961-5b004b57df60
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:08:33.117404Z","gateway_networks":[],"id":"83021a8f-ed92-488f-b961-5b004b57df60","ipv4":{"address":"51.15.122.149","created_at":"2026-03-10T20:08:33.082554Z","gateway_id":"83021a8f-ed92-488f-b961-5b004b57df60","id":"f336dd4d-4278-4f01-a193-b2fae85369fd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"149-122-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:08:33.082554Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:08:33.165354Z","version":"0.7.8","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.552833ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/83021a8f-ed92-488f-b961-5b004b57df60?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T20:08:33.117404Z","gateway_networks":[],"id":"83021a8f-ed92-488f-b961-5b004b57df60","ipv4":{"address":"51.15.122.149","created_at":"2026-03-10T20:08:33.082554Z","gateway_id":"83021a8f-ed92-488f-b961-5b004b57df60","id":"f336dd4d-4278-4f01-a193-b2fae85369fd","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"149-122-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:08:33.082554Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone-to-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T20:08:40.521887Z","version":"0.7.8","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.260959ms
[...]
