---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.173.55","created_at":"2025-01-24T14:51:51.122932Z","gateway_id":null,"id":"4c508c86-c19a-4e6e-91b4-b8c9ffb90ef8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"55-173-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.122932Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.477532625s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/4c508c86-c19a-4e6e-91b4-b8c9ffb90ef8
        method: GET
      response:
        body: '{"address":"163.172.173.55","created_at":"2025-01-24T14:51:51.122932Z","gateway_id":null,"id":"4c508c86-c19a-4e6e-91b4-b8c9ffb90ef8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"55-173-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.122932Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.308375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/4c508c86-c19a-4e6e-91b4-b8c9ffb90ef8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"4c508c86-c19a-4e6e-91b4-b8c9ffb90ef8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.514208ms
