---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:08.273139Z","gateway_networks":[],"id":"f96d8ce4-7bad-445e-84c8-eac17bf2eac2","ip":{"address":"51.158.108.123","created_at":"2025-01-27T09:16:08.253061Z","gateway_id":"f96d8ce4-7bad-445e-84c8-eac17bf2eac2","id":"f1d0ff0d-64d9-455e-8a68-1b428e875984","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"123-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:08.253061Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:08.273139Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 812.439666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f96d8ce4-7bad-445e-84c8-eac17bf2eac2
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:08.273139Z","gateway_networks":[],"id":"f96d8ce4-7bad-445e-84c8-eac17bf2eac2","ip":{"address":"51.158.108.123","created_at":"2025-01-27T09:16:08.253061Z","gateway_id":"f96d8ce4-7bad-445e-84c8-eac17bf2eac2","id":"f1d0ff0d-64d9-455e-8a68-1b428e875984","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"123-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:08.253061Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:08.273139Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.422625ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f96d8ce4-7bad-445e-84c8-eac17bf2eac2?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.610875ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f96d8ce4-7bad-445e-84c8-eac17bf2eac2
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"f96d8ce4-7bad-445e-84c8-eac17bf2eac2","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.40625ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test-zone","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":fa[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/a2ffa150-908c-4527-a658-f7d23471b1f1
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:31.057789Z","gateway_networks":[],"id":"a2ffa150-908c-4527-a658-f7d23471b1f1","ip":{"address":"51.158.186.43","created_at":"2025-01-27T09:16:31.022485Z","gateway_id":"a2ffa150-908c-4527-a658-f7d23471b1f1","id":"7d6fdd29-87dc-4b7b-bf0b-bf803ce3e553","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"43-186-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:31.022485Z","zone":"nl-ams-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-test-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"nl-ams-1"},"updated_at":"2025-01-27T09:16:31.109616Z","upstream_dns_servers":[],"version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.787584ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/gateways/a2ffa150-908c-4527-a658-f7d23471b1f1?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 82.668416ms
[...]
