---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.239.87","created_at":"2026-03-10T20:02:40.616390Z","id":"cdd33068-4ba4-4aec-83bf-11f0e92b395f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"87-239-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:02:40.616390Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 988.069167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/cdd33068-4ba4-4aec-83bf-11f0e92b395f
        method: GET
      response:
        body: '{"address":"51.15.239.87","created_at":"2026-03-10T20:02:40.616390Z","id":"cdd33068-4ba4-4aec-83bf-11f0e92b395f","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"87-239-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T20:02:40.616390Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.520125ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/cdd33068-4ba4-4aec-83bf-11f0e92b395f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"cdd33068-4ba4-4aec-83bf-11f0e92b395f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.976791ms
