---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"my vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:10:02.660061Z","id":"bb13d288-5851-42e7-a6d2-005d79ff43bb","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T17:10:02.660061Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.089685ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/bb13d288-5851-42e7-a6d2-005d79ff43bb
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:10:02.660061Z","id":"bb13d288-5851-42e7-a6d2-005d79ff43bb","is_default":false,"name":"my vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T17:10:02.660061Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.683558ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":["172.16.64.0/22"],"vpc_id":"bb13d288-5851-42e7-a6d2-005d79ff43bb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T17:10:02.901444Z","dhcp_enabled":true,"id":"b88c55f9-07cc-438c-b636-598f782d46d9","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:10:02.901444Z","id":"3923a5cd-0932-4858-bf92-daa5b91024fd","private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2024-10-03T17:10:02.901444Z","vpc_id":"bb13d288-5851-42e7-a6d2-005d79ff43bb"},{"created_at":"2024-10-03T17:10:02.901444Z","id":"7b8fc595-0924-4738-9f2c-f62ec99ddae4","private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3262::/64","updated_at":"2024-10-03T17:10:02.901444Z","vpc_id":"bb13d288-5851-42e7-a6d2-005d79ff43bb"}],"tags":[],"updated_at":"2024-10-03T17:10:02.901444Z","vpc_id":"bb13d288-5851-42e7-a6d2-005d79ff43bb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.27495ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b88c55f9-07cc-438c-b636-598f782d46d9
        method: GET
      response:
        body: '{"created_at":"2024-10-03T17:10:02.901444Z","dhcp_enabled":true,"id":"b88c55f9-07cc-438c-b636-598f782d46d9","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T17:10:02.901444Z","id":"3923a5cd-0932-4858-bf92-daa5b91024fd","private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.64.0/22","updated_at":"2024-10-03T17:10:02.901444Z","vpc_id":"bb13d288-5851-42e7-a6d2-005d79ff43bb"},{"created_at":"2024-10-03T17:10:02.901444Z","id":"7b8fc595-0924-4738-9f2c-f62ec99ddae4","private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:3262::/64","updated_at":"2024-10-03T17:10:02.901444Z","vpc_id":"bb13d288-5851-42e7-a6d2-005d79ff43bb"}],"tags":[],"updated_at":"2024-10-03T17:10:02.901444Z","vpc_id":"bb13d288-5851-42e7-a6d2-005d79ff43bb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.595927ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:10:03.542853Z","gateway_networks":[],"id":"f6d2baf1-6eab-40ae-bd04-081244b88d0e","ip":{"address":"51.15.200.131","created_at":"2024-10-03T17:10:03.524722Z","gateway_id":"f6d2baf1-6eab-40ae-bd04-081244b88d0e","id":"d1724e30-d068-4238-977b-527f0334dbdc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:10:03.524722Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:10:03.542853Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 988.001614ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f6d2baf1-6eab-40ae-bd04-081244b88d0e
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T17:10:03.542853Z","gateway_networks":[],"id":"f6d2baf1-6eab-40ae-bd04-081244b88d0e","ip":{"address":"51.15.200.131","created_at":"2024-10-03T17:10:03.524722Z","gateway_id":"f6d2baf1-6eab-40ae-bd04-081244b88d0e","id":"d1724e30-d068-4238-977b-527f0334dbdc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-200-15-51.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T17:10:03.524722Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T17:10:03.587083Z","upstream_dns_servers":[],"version":"0.6.7","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.932877ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"f6d2baf1-6eab-40ae-bd04-081244b88d0e","private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.64.2/22","created_at":"2024-10-03T17:10:14.262416Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f6d2baf1-6eab-40ae-bd04-081244b88d0e","id":"a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda","ipam_config":{"ipam_ip_id":"4cc4f4e0-e2c6-4d7e-addb-8b8d85662b60","push_default_route":true},"mac_address":null,"private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9","status":"created","updated_at":"2024-10-03T17:10:14.262416Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 603.644157ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda
        method: GET
      response:
        body: '{"address":"172.16.64.2/22","created_at":"2024-10-03T17:10:14.262416Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f6d2baf1-6eab-40ae-bd04-081244b88d0e","id":"a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda","ipam_config":{"ipam_ip_id":"4cc4f4e0-e2c6-4d7e-addb-8b8d85662b60","push_default_route":true},"mac_address":"02:00:00:1A:06:71","private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9","status":"ready","updated_at":"2024-10-03T17:10:29.424674Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.808105ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=b88c55f9-07cc-438c-b636-598f782d46d9&resource_id=a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.64.2/22","created_at":"2024-10-03T17:10:14.135100Z","id":"4cc4f4e0-e2c6-4d7e-addb-8b8d85662b60","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda","mac_address":"02:00:00:1A:06:71","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"3923a5cd-0932-4858-bf92-daa5b91024fd"},"tags":[],"updated_at":"2024-10-03T17:10:14.773379Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.617387ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"b88c55f9-07cc-438c-b636-598f782d46d9"},"is_ipv6":false,"address":"172.16.64.7","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2024-10-03T17:10:36.985855Z","id":"475e51c1-3c24-4b6f-b5e5-798230a4468b","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3923a5cd-0932-4858-bf92-daa5b91024fd"},"tags":[],"updated_at":"2024-10-03T17:10:36.985855Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.862815ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/475e51c1-3c24-4b6f-b5e5-798230a4468b
        method: GET
      response:
        body: '{"address":"172.16.64.7/22","created_at":"2024-10-03T17:10:36.985855Z","id":"475e51c1-3c24-4b6f-b5e5-798230a4468b","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"3923a5cd-0932-4858-bf92-daa5b91024fd"},"tags":[],"updated_at":"2024-10-03T17:10:36.985855Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.218936ms
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 68.185834ms
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"a6fdc0ad-ec62-4e8e-89e9-a61d6539ecda","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 18.39736ms
[...]
    - id: 65
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f6d2baf1-6eab-40ae-bd04-081244b88d0e?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.350579ms
[...]
