---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-27T09:16:37.342891Z","dhcp_enabled":true,"id":"aad28c72-7bec-49b7-9414-72ce41b896a7","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:37.342891Z","id":"44e00294-3306-4b02-8cc9-fa4a6475b0c8","private_network_id":"aad28c72-7bec-49b7-9414-72ce41b896a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.4.0/22","updated_at":"2025-01-27T09:16:37.342891Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:37.342891Z","id":"ab8f2294-ce76-4ede-b2f6-dbd760ab8c86","private_network_id":"aad28c72-7bec-49b7-9414-72ce41b896a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f3ef::/64","updated_at":"2025-01-27T09:16:37.342891Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:37.342891Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 592.175458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/aad28c72-7bec-49b7-9414-72ce41b896a7
        method: GET
      response:
        body: '{"created_at":"2025-01-27T09:16:37.342891Z","dhcp_enabled":true,"id":"aad28c72-7bec-49b7-9414-72ce41b896a7","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-27T09:16:37.342891Z","id":"44e00294-3306-4b02-8cc9-fa4a6475b0c8","private_network_id":"aad28c72-7bec-49b7-9414-72ce41b896a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.4.0/22","updated_at":"2025-01-27T09:16:37.342891Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-27T09:16:37.342891Z","id":"ab8f2294-ce76-4ede-b2f6-dbd760ab8c86","private_network_id":"aad28c72-7bec-49b7-9414-72ce41b896a7","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:f3ef::/64","updated_at":"2025-01-27T09:16:37.342891Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-27T09:16:37.342891Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.319833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:38.045145Z","gateway_networks":[],"id":"9edfab48-bb5d-4957-aece-f083f1bf02cd","ip":{"address":"51.15.142.126","created_at":"2025-01-27T09:16:38.024167Z","gateway_id":"9edfab48-bb5d-4957-aece-f083f1bf02cd","id":"08464fb7-3a58-4b48-a07a-c5f0d756fefd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:38.024167Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:38.045145Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 777.763416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9edfab48-bb5d-4957-aece-f083f1bf02cd
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:38.045145Z","gateway_networks":[],"id":"9edfab48-bb5d-4957-aece-f083f1bf02cd","ip":{"address":"51.15.142.126","created_at":"2025-01-27T09:16:38.024167Z","gateway_id":"9edfab48-bb5d-4957-aece-f083f1bf02cd","id":"08464fb7-3a58-4b48-a07a-c5f0d756fefd","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"126-142-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:38.024167Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:38.085498Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.970375ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"9edfab48-bb5d-4957-aece-f083f1bf02cd","private_network_id":"aad28c72-7bec-49b7-9414-72ce41b896a7","enable_masquerade":true,"enable_dhcp":false,"address":"192.168.1.42/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"192.168.1.42/24","created_at":"2025-01-27T09:16:45.019373Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"9edfab48-bb5d-4957-aece-f083f1bf02cd","id":"934eed25-f1a5-454c-bfb8-706ea26a2429","ipam_config":{"ipam_ip_id":"0e8ece4d-1dde-47b0-9916-0b244a680112","push_default_route":false},"mac_address":null,"private_network_id":"aad28c72-7bec-49b7-9414-72ce41b896a7","status":"created","updated_at":"2025-01-27T09:16:45.019373Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.962470042s
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/934eed25-f1a5-454c-bfb8-706ea26a2429
        method: GET
      response:
        body: '{"address":"192.168.1.42/24","created_at":"2025-01-27T09:16:45.019373Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"9edfab48-bb5d-4957-aece-f083f1bf02cd","id":"934eed25-f1a5-454c-bfb8-706ea26a2429","ipam_config":{"ipam_ip_id":"0e8ece4d-1dde-47b0-9916-0b244a680112","push_default_route":false},"mac_address":"02:00:00:1C:B3:EF","private_network_id":"aad28c72-7bec-49b7-9414-72ce41b896a7","status":"ready","updated_at":"2025-01-27T09:16:56.729590Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.31525ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/934eed25-f1a5-454c-bfb8-706ea26a2429?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 55.883083ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/934eed25-f1a5-454c-bfb8-706ea26a2429
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"934eed25-f1a5-454c-bfb8-706ea26a2429","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 21.521125ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/9edfab48-bb5d-4957-aece-f083f1bf02cd?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 44.146167ms
[...]
