---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.185.51","created_at":"2026-03-20T05:45:55.019696Z","id":"b002e914-3a27-4af2-b171-218c4b8b532e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"51-185-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-20T05:45:55.019696Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 947.470042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/b002e914-3a27-4af2-b171-218c4b8b532e
        method: GET
      response:
        body: '{"address":"163.172.185.51","created_at":"2026-03-20T05:45:55.019696Z","id":"b002e914-3a27-4af2-b171-218c4b8b532e","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"51-185-172-163.instances.scw.cloud","tags":[],"updated_at":"2026-03-20T05:45:55.019696Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.247708ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"changes":[{"add":{"records":[{"data":"163.172.185.51","name":"","priority":1,"ttl":3600,"type":"A","comment":null,"id":"","updated_at":null}]}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[{"comment":null,"data":"163.172.185.51","id":"dcd128f1-a855-4033-8ac5-3c4460228696","name":"","priority":1,"ttl":3600,"type":"A","updated_at":"2026-03-20T05:45:55Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.373542ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"163.172.185.51","id":"dcd128f1-a855-4033-8ac5-3c4460228696","name":"","priority":1,"ttl":3600,"type":"A","updated_at":"2026-03-20T05:45:55Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.970334ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?name=&order_by=name_asc&page=1&type=A
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"163.172.185.51","id":"dcd128f1-a855-4033-8ac5-3c4460228696","name":"","priority":1,"ttl":3600,"type":"A","updated_at":"2026-03-20T05:45:55Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.030458ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records?id=dcd128f1-a855-4033-8ac5-3c4460228696&name=&order_by=name_asc&page=1&type=unknown
        method: GET
      response:
        body: '{"records":[{"comment":null,"data":"163.172.185.51","id":"dcd128f1-a855-4033-8ac5-3c4460228696","name":"","priority":1,"ttl":3600,"type":"A","updated_at":"2026-03-20T05:45:55Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.008375ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zones=tf-reverse-vpcgw.scaleway-terraform.com&domain=&order_by=domain_asc&page=1
        method: GET
      response:
        body: '{"dns_zones":[{"domain":"scaleway-terraform.com","linked_products":[],"message":null,"ns":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_default":["ns0.dom.scw.cloud","ns1.dom.scw.cloud"],"ns_master":[],"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","status":"pending","subdomain":"tf-reverse-vpcgw","updated_at":"2026-03-20T05:45:55Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.054125ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"reverse":"tf-reverse-vpcgw.scaleway-terraform.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/b002e914-3a27-4af2-b171-218c4b8b532e
        method: PATCH
      response:
        body: '{"details":[{"argument_name":"reverse","help_message":"must_resolve: {\"dns\": \"{\\\"type\\\": \\\"invalid_arguments\\\", \\\"message\\\": \\\"invalid argument(s)\\\", \\\"details\\\": [{\\\"argument_name\\\": \\\"reverse\\\", \\\"reason\\\": \\\"constraint\\\", \\\"help_message\\\": \\\"Your reverse must resolve. Ensure the command ''dig +short tf-reverse-vpcgw.scaleway-terraform.com'' matches your IP address ''163.172.185.51''. If it does, please contact our support.\\\"}]}\"}","reason":"unknown"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 667.366667ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"changes":[{"delete":{"id":"dcd128f1-a855-4033-8ac5-3c4460228696"}}],"return_all_records":false,"disallow_new_zone_creation":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/domain/v2beta1/dns-zones/tf-reverse-vpcgw.scaleway-terraform.com/records
        method: PATCH
      response:
        body: '{"records":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.64ms
[...]
