---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.710765Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36b44339-cabd-4032-a1c6-e5c5b63b0a2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.710765Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.261958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/36b44339-cabd-4032-a1c6-e5c5b63b0a2c
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.710765Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36b44339-cabd-4032-a1c6-e5c5b63b0a2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.710765Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.59725ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:51:49.714831Z","dhcp_enabled":true,"id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.714831Z","id":"6f57c882-b99c-477d-8960-561c50d48e9e","private_network_id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.40.0/22","updated_at":"2025-01-24T14:51:49.714831Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:49.714831Z","id":"bb3d2c3d-3c05-4689-9b9b-b742a8cbd3f6","private_network_id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e52f::/64","updated_at":"2025-01-24T14:51:49.714831Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:49.714831Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.735334ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9f7d025b-a6f2-4306-9b95-2fd7f85a0577
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:51:49.714831Z","dhcp_enabled":true,"id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:49.714831Z","id":"6f57c882-b99c-477d-8960-561c50d48e9e","private_network_id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.40.0/22","updated_at":"2025-01-24T14:51:49.714831Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:49.714831Z","id":"bb3d2c3d-3c05-4689-9b9b-b742a8cbd3f6","private_network_id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:e52f::/64","updated_at":"2025-01-24T14:51:49.714831Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:49.714831Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.075167ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-pn-charming-einstein","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:50.642720Z","gateway_networks":[],"id":"0c68eb0a-5371-4a5e-961e-198543cf483a","ip":{"address":"51.15.137.236","created_at":"2025-01-24T14:51:50.618851Z","gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","id":"92064c29-97e3-4cb3-8d64-bc53e80c9a0f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"236-137-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.618851Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-pn-charming-einstein","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:50.642720Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.019919166s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/0c68eb0a-5371-4a5e-961e-198543cf483a
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:50.642720Z","gateway_networks":[],"id":"0c68eb0a-5371-4a5e-961e-198543cf483a","ip":{"address":"51.15.137.236","created_at":"2025-01-24T14:51:50.618851Z","gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","id":"92064c29-97e3-4cb3-8d64-bc53e80c9a0f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"236-137-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:50.618851Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-pn-charming-einstein","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:50.690778Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.999542ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","private_network_id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"36b44339-cabd-4032-a1c6-e5c5b63b0a2c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:52:00.937481Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.710765Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36b44339-cabd-4032-a1c6-e5c5b63b0a2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.710765Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","id":"cdaabc29-2c87-4274-96d5-e22cd4b354ae","ipam_config":null,"mac_address":null,"private_network_id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","status":"created","updated_at":"2025-01-24T14:52:00.937481Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.063779s
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cdaabc29-2c87-4274-96d5-e22cd4b354ae
        method: GET
      response:
        body: '{"address":null,"created_at":"2025-01-24T14:52:00.937481Z","dhcp":{"address":"192.168.1.1","created_at":"2025-01-24T14:51:49.710765Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"36b44339-cabd-4032-a1c6-e5c5b63b0a2c","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2025-01-24T14:51:49.710765Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","id":"cdaabc29-2c87-4274-96d5-e22cd4b354ae","ipam_config":null,"mac_address":"02:00:00:17:E0:C8","private_network_id":"9f7d025b-a6f2-4306-9b95-2fd7f85a0577","status":"ready","updated_at":"2025-01-24T14:52:09.168412Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.778125ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","public_port":42,"private_ip":"192.168.1.1","private_port":42,"protocol":"both"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:52:11.433554Z","gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","id":"0b9aa52b-7490-4300-981b-1f954eb07a43","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-24T14:52:11.433554Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.828625ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/pat-rules/0b9aa52b-7490-4300-981b-1f954eb07a43
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:52:11.433554Z","gateway_id":"0c68eb0a-5371-4a5e-961e-198543cf483a","id":"0b9aa52b-7490-4300-981b-1f954eb07a43","private_ip":"192.168.1.1","private_port":42,"protocol":"both","public_port":42,"updated_at":"2025-01-24T14:52:11.433554Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.949791ms
[...]
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cdaabc29-2c87-4274-96d5-e22cd4b354ae?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 73.968083ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/cdaabc29-2c87-4274-96d5-e22cd4b354ae
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"cdaabc29-2c87-4274-96d5-e22cd4b354ae","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.74875ms
[...]
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/0c68eb0a-5371-4a5e-961e-198543cf483a?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 63.133583ms
[...]
