---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-upgrade-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:01.963561Z","gateway_networks":[],"id":"381c95da-4748-448c-b2b6-dfc2506ba765","ip":{"address":"51.15.249.84","created_at":"2025-01-27T09:16:01.946568Z","gateway_id":"381c95da-4748-448c-b2b6-dfc2506ba765","id":"1469776d-8d65-4d24-8122-738a6d68ee63","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"84-249-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.946568Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:01.963561Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.615279333s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/381c95da-4748-448c-b2b6-dfc2506ba765
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:01.963561Z","gateway_networks":[],"id":"381c95da-4748-448c-b2b6-dfc2506ba765","ip":{"address":"51.15.249.84","created_at":"2025-01-27T09:16:01.946568Z","gateway_id":"381c95da-4748-448c-b2b6-dfc2506ba765","id":"1469776d-8d65-4d24-8122-738a6d68ee63","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"84-249-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.946568Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:01.963561Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.739417ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"type":"VPC-GW-M"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/381c95da-4748-448c-b2b6-dfc2506ba765/upgrade
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:01.963561Z","gateway_networks":[],"id":"381c95da-4748-448c-b2b6-dfc2506ba765","ip":{"address":"51.15.249.84","created_at":"2025-01-27T09:16:01.946568Z","gateway_id":"381c95da-4748-448c-b2b6-dfc2506ba765","id":"1469776d-8d65-4d24-8122-738a6d68ee63","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"84-249-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.946568Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"running","tags":[],"type":{"bandwidth":1000000000,"name":"VPC-GW-M","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:14.831939Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.8845ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/381c95da-4748-448c-b2b6-dfc2506ba765?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 44.157583ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/381c95da-4748-448c-b2b6-dfc2506ba765
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"381c95da-4748-448c-b2b6-dfc2506ba765","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 22.923375ms
[...]
