---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-bastion-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:02.267855Z","gateway_networks":[],"id":"a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41","ip":{"address":"51.15.209.217","created_at":"2025-01-27T09:16:02.254288Z","gateway_id":"a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41","id":"02300a86-eae0-4c3e-932f-a91fedcf1a39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"217-209-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:02.254288Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:02.267855Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.136969458s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41
        method: GET
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:02.267855Z","gateway_networks":[],"id":"a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41","ip":{"address":"51.15.209.217","created_at":"2025-01-27T09:16:02.254288Z","gateway_id":"a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41","id":"02300a86-eae0-4c3e-932f-a91fedcf1a39","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"217-209-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:02.254288Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:02.304090Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.936834ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 50.402667ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"a0f55bfb-d7a6-49f4-a73d-c7acaeda1d41","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.362916ms
[...]
