---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:51:57.641092Z","dhcp_enabled":true,"id":"e1fca1ea-b303-4566-94d7-99e8c599a595","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:57.641092Z","id":"de5c2217-be2d-4343-8bca-084fdc7b857d","private_network_id":"e1fca1ea-b303-4566-94d7-99e8c599a595","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.48.0/22","updated_at":"2025-01-24T14:51:57.641092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:57.641092Z","id":"be96d47e-479c-4844-9b61-3e67743807ef","private_network_id":"e1fca1ea-b303-4566-94d7-99e8c599a595","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:be1f::/64","updated_at":"2025-01-24T14:51:57.641092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:57.641092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 501.839667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e1fca1ea-b303-4566-94d7-99e8c599a595
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:51:57.641092Z","dhcp_enabled":true,"id":"e1fca1ea-b303-4566-94d7-99e8c599a595","name":"pn_test_network","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:51:57.641092Z","id":"de5c2217-be2d-4343-8bca-084fdc7b857d","private_network_id":"e1fca1ea-b303-4566-94d7-99e8c599a595","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.48.0/22","updated_at":"2025-01-24T14:51:57.641092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:51:57.641092Z","id":"be96d47e-479c-4844-9b61-3e67743807ef","private_network_id":"e1fca1ea-b303-4566-94d7-99e8c599a595","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:be1f::/64","updated_at":"2025-01-24T14:51:57.641092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:51:57.641092Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.003792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:58.232849Z","gateway_networks":[],"id":"f9802d5b-cac5-4353-af91-d8fa071f7027","ip":{"address":"163.172.153.251","created_at":"2025-01-24T14:51:58.216493Z","gateway_id":"f9802d5b-cac5-4353-af91-d8fa071f7027","id":"5b9ca7b2-309b-45cc-8afa-4269334616a6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"251-153-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:58.216493Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:58.232849Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 671.048291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f9802d5b-cac5-4353-af91-d8fa071f7027
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:51:58.232849Z","gateway_networks":[],"id":"f9802d5b-cac5-4353-af91-d8fa071f7027","ip":{"address":"163.172.153.251","created_at":"2025-01-24T14:51:58.216493Z","gateway_id":"f9802d5b-cac5-4353-af91-d8fa071f7027","id":"5b9ca7b2-309b-45cc-8afa-4269334616a6","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"251-153-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:58.216493Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:51:58.272393Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.430708ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"f9802d5b-cac5-4353-af91-d8fa071f7027","private_network_id":"e1fca1ea-b303-4566-94d7-99e8c599a595","enable_masquerade":true,"enable_dhcp":false,"address":"192.168.1.42/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"192.168.1.42/24","created_at":"2025-01-24T14:52:06.321405Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"f9802d5b-cac5-4353-af91-d8fa071f7027","id":"97484e33-a64d-4e66-a570-264816480d0e","ipam_config":{"ipam_ip_id":"ff7acb77-726c-42c2-ae2d-2887d9b23a62","push_default_route":false},"mac_address":null,"private_network_id":"e1fca1ea-b303-4566-94d7-99e8c599a595","status":"created","updated_at":"2025-01-24T14:52:06.321405Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.062810917s
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/97484e33-a64d-4e66-a570-264816480d0e
        method: GET
      response:
        body: '{"address":"192.168.1.42/24","created_at":"2025-01-24T14:52:06.321405Z","dhcp":null,"enable_dhcp":false,"enable_masquerade":true,"gateway_id":"f9802d5b-cac5-4353-af91-d8fa071f7027","id":"97484e33-a64d-4e66-a570-264816480d0e","ipam_config":{"ipam_ip_id":"ff7acb77-726c-42c2-ae2d-2887d9b23a62","push_default_route":false},"mac_address":"02:00:00:1B:C0:D9","private_network_id":"e1fca1ea-b303-4566-94d7-99e8c599a595","status":"ready","updated_at":"2025-01-24T14:52:17.075933Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.525209ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/97484e33-a64d-4e66-a570-264816480d0e?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.517ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/97484e33-a64d-4e66-a570-264816480d0e
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"97484e33-a64d-4e66-a570-264816480d0e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.928625ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f9802d5b-cac5-4353-af91-d8fa071f7027?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 51.269292ms
[...]
