---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-bastion-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-30T13:38:37.483257Z","gateway_networks":[],"id":"da401157-30f6-4a4f-b3a9-4522c68696cd","ip":{"address":"163.172.130.131","created_at":"2024-07-30T13:38:37.462643Z","gateway_id":"da401157-30f6-4a4f-b3a9-4522c68696cd","id":"4705f3d4-45e9-4bc8-ae1b-1255f908e662","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-130-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-07-30T13:38:37.462643Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-07-30T13:38:37.483257Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 794.917847ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/da401157-30f6-4a4f-b3a9-4522c68696cd
        method: GET
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-07-30T13:38:37.483257Z","gateway_networks":[],"id":"da401157-30f6-4a4f-b3a9-4522c68696cd","ip":{"address":"163.172.130.131","created_at":"2024-07-30T13:38:37.462643Z","gateway_id":"da401157-30f6-4a4f-b3a9-4522c68696cd","id":"4705f3d4-45e9-4bc8-ae1b-1255f908e662","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"131-130-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-07-30T13:38:37.462643Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-07-30T13:38:37.483257Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.852245ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/da401157-30f6-4a4f-b3a9-4522c68696cd?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 48.340854ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/da401157-30f6-4a4f-b3a9-4522c68696cd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"da401157-30f6-4a4f-b3a9-4522c68696cd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.391805ms
[...]
