---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.250.58","created_at":"2025-01-27T09:16:29.199182Z","gateway_id":null,"id":"0378b68c-940a-4ab7-94be-8c7e96350232","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"58-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:29.199182Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.809417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/0378b68c-940a-4ab7-94be-8c7e96350232
        method: GET
      response:
        body: '{"address":"51.15.250.58","created_at":"2025-01-27T09:16:29.199182Z","gateway_id":null,"id":"0378b68c-940a-4ab7-94be-8c7e96350232","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"58-250-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:29.199182Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.466959ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.173.124","created_at":"2025-01-27T09:16:33.284247Z","gateway_id":null,"id":"315b3539-5306-4530-9025-8e7c25528ec8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"124-173-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:33.284247Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 739.096958ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/315b3539-5306-4530-9025-8e7c25528ec8
        method: GET
      response:
        body: '{"address":"51.158.173.124","created_at":"2025-01-27T09:16:33.284247Z","gateway_id":null,"id":"315b3539-5306-4530-9025-8e7c25528ec8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"124-173-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:33.284247Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.018417ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/315b3539-5306-4530-9025-8e7c25528ec8
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"315b3539-5306-4530-9025-8e7c25528ec8","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 114.7835ms
