---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.130.186","created_at":"2025-01-24T14:51:51.206416Z","gateway_id":null,"id":"c47d533e-e3c2-4254-a80e-fba8ef2dee1f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.206416Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.919822042s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/c47d533e-e3c2-4254-a80e-fba8ef2dee1f
        method: GET
      response:
        body: '{"address":"51.15.130.186","created_at":"2025-01-24T14:51:51.206416Z","gateway_id":null,"id":"c47d533e-e3c2-4254-a80e-fba8ef2dee1f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"186-130-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:51.206416Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.691583ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips
        method: POST
      response:
        body: '{"address":"51.158.160.128","created_at":"2025-01-24T14:51:54.980911Z","gateway_id":null,"id":"23aeedce-4841-4661-b6c2-9851905c2325","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"128-160-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:54.980911Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 778.894291ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/23aeedce-4841-4661-b6c2-9851905c2325
        method: GET
      response:
        body: '{"address":"51.158.160.128","created_at":"2025-01-24T14:51:54.980911Z","gateway_id":null,"id":"23aeedce-4841-4661-b6c2-9851905c2325","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"128-160-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:51:54.980911Z","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.962584ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/nl-ams-1/ips/23aeedce-4841-4661-b6c2-9851905c2325
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"23aeedce-4841-4661-b6c2-9851905c2325","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.174083ms
