---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:50:12.058611Z","gateway_networks":[],"id":"b5293969-0fe1-4dea-b140-9513c7d0a270","ipv4":{"address":"51.15.210.104","created_at":"2026-08-24T12:50:12.042386Z","gateway_id":"b5293969-0fe1-4dea-b140-9513c7d0a270","id":"f345dc8c-735d-45c9-ae00-44d78cd0b3c8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"104-210-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:50:12.042386Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:50:12.058611Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.682419463s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.790034ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b5293969-0fe1-4dea-b140-9513c7d0a270
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:50:12.058611Z","gateway_networks":[],"id":"b5293969-0fe1-4dea-b140-9513c7d0a270","ipv4":{"address":"51.15.210.104","created_at":"2026-08-24T12:50:12.042386Z","gateway_id":"b5293969-0fe1-4dea-b140-9513c7d0a270","id":"f345dc8c-735d-45c9-ae00-44d78cd0b3c8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"104-210-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:50:12.042386Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:50:12.102230Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.108924ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b5293969-0fe1-4dea-b140-9513c7d0a270?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:50:12.058611Z","gateway_networks":[],"id":"b5293969-0fe1-4dea-b140-9513c7d0a270","ipv4":{"address":"51.15.210.104","created_at":"2026-08-24T12:50:12.042386Z","gateway_id":"b5293969-0fe1-4dea-b140-9513c7d0a270","id":"f345dc8c-735d-45c9-ae00-44d78cd0b3c8","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"104-210-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:50:12.042386Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test-new","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":["tag0","tag1"],"type":"VPC-GW-S","updated_at":"2026-08-24T12:50:20.364073Z","version":"0.8.5","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.992599ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/b5293969-0fe1-4dea-b140-9513c7d0a270
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"b5293969-0fe1-4dea-b140-9513c7d0a270","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.703983ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"public-gateway-test-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/edeff42a-94ba-4ca1-a3bc-eb9b40d922c8
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:50:21.459350Z","gateway_networks":[],"id":"edeff42a-94ba-4ca1-a3bc-eb9b40d922c8","ipv4":{"address":"51.15.67.68","created_at":"2026-08-24T12:50:21.417764Z","gateway_id":"edeff42a-94ba-4ca1-a3bc-eb9b40d922c8","id":"639d9e31-7aa8-4fa9-90c8-1c57c1be4d65","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"68-67-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:50:21.417764Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:50:21.504635Z","version":"0.8.5","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.687859ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/edeff42a-94ba-4ca1-a3bc-eb9b40d922c8?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-08-24T12:50:21.459350Z","gateway_networks":[],"id":"edeff42a-94ba-4ca1-a3bc-eb9b40d922c8","ipv4":{"address":"51.15.67.68","created_at":"2026-08-24T12:50:21.417764Z","gateway_id":"edeff42a-94ba-4ca1-a3bc-eb9b40d922c8","id":"639d9e31-7aa8-4fa9-90c8-1c57c1be4d65","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"68-67-15-51.instances.scw.cloud","tags":[],"updated_at":"2026-08-24T12:50:21.417764Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone-to-update","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-08-24T12:50:29.732457Z","version":"0.8.5","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.77666ms
[...]
