---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.248.151","created_at":"2025-01-27T09:16:29.955354Z","gateway_id":null,"id":"adef9634-4c8b-4bab-9366-b6ab080fcf7f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"151-248-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:29.955354Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 663.742834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/adef9634-4c8b-4bab-9366-b6ab080fcf7f
        method: GET
      response:
        body: '{"address":"51.15.248.151","created_at":"2025-01-27T09:16:29.955354Z","gateway_id":null,"id":"adef9634-4c8b-4bab-9366-b6ab080fcf7f","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"151-248-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:29.955354Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.915542ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/adef9634-4c8b-4bab-9366-b6ab080fcf7f
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"adef9634-4c8b-4bab-9366-b6ab080fcf7f","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.059959ms
