---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.15.236.157","created_at":"2025-01-27T09:16:01.426786Z","gateway_id":null,"id":"0f4b5ed3-789e-4894-8f67-88d91d7230ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"157-236-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.426786Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 652.530833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/0f4b5ed3-789e-4894-8f67-88d91d7230ac
        method: GET
      response:
        body: '{"address":"51.15.236.157","created_at":"2025-01-27T09:16:01.426786Z","gateway_id":null,"id":"0f4b5ed3-789e-4894-8f67-88d91d7230ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"157-236-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.426786Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 24.44125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"0f4b5ed3-789e-4894-8f67-88d91d7230ac","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:01.536106Z","gateway_networks":[],"id":"6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03","ip":{"address":"51.15.236.157","created_at":"2025-01-27T09:16:01.426786Z","gateway_id":"6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03","id":"0f4b5ed3-789e-4894-8f67-88d91d7230ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"157-236-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.426786Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:01.536106Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.87275ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-27T09:16:01.536106Z","gateway_networks":[],"id":"6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03","ip":{"address":"51.15.236.157","created_at":"2025-01-27T09:16:01.426786Z","gateway_id":"6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03","id":"0f4b5ed3-789e-4894-8f67-88d91d7230ac","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"157-236-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.426786Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-27T09:16:01.536106Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.906834ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.209125ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"6f5bfd85-5cf7-40d6-8db5-8eb9baf8ec03","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.713792ms
[...]
