---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:24:26.163982Z","gateway_networks":[],"id":"5d9af39f-fd2b-45fc-990e-d0de60835123","ipv4":{"address":"51.15.211.120","created_at":"2025-03-21T14:24:26.148718Z","gateway_id":"5d9af39f-fd2b-45fc-990e-d0de60835123","id":"9cd9efa4-1e84-41a4-9ac7-2fe7952d055d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"120-211-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:24:26.148718Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:24:26.163982Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 731.721681ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5d9af39f-fd2b-45fc-990e-d0de60835123
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:24:26.163982Z","gateway_networks":[],"id":"5d9af39f-fd2b-45fc-990e-d0de60835123","ipv4":{"address":"51.15.211.120","created_at":"2025-03-21T14:24:26.148718Z","gateway_id":"5d9af39f-fd2b-45fc-990e-d0de60835123","id":"9cd9efa4-1e84-41a4-9ac7-2fe7952d055d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"120-211-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:24:26.148718Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:24:26.203979Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.030466ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5d9af39f-fd2b-45fc-990e-d0de60835123?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:24:26.163982Z","gateway_networks":[],"id":"5d9af39f-fd2b-45fc-990e-d0de60835123","ipv4":{"address":"51.15.211.120","created_at":"2025-03-21T14:24:26.148718Z","gateway_id":"5d9af39f-fd2b-45fc-990e-d0de60835123","id":"9cd9efa4-1e84-41a4-9ac7-2fe7952d055d","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"120-211-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:24:26.148718Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-test-new","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":["tag0","tag1"],"type":"VPC-GW-S","updated_at":"2025-03-21T14:24:35.177367Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.570479ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5d9af39f-fd2b-45fc-990e-d0de60835123
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"5d9af39f-fd2b-45fc-990e-d0de60835123","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.155378ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-test-zone","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/adba0474-28f2-44e0-8c14-ee5bc421a48e
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:24:36.133321Z","gateway_networks":[],"id":"adba0474-28f2-44e0-8c14-ee5bc421a48e","ipv4":{"address":"51.15.98.45","created_at":"2025-03-21T14:24:36.110330Z","gateway_id":"adba0474-28f2-44e0-8c14-ee5bc421a48e","id":"2e544f95-9661-4026-b97f-73ccffab3f2b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"45-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:24:36.110330Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:24:36.189435Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.186098ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/gateways/adba0474-28f2-44e0-8c14-ee5bc421a48e?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:24:36.133321Z","gateway_networks":[],"id":"adba0474-28f2-44e0-8c14-ee5bc421a48e","ipv4":{"address":"51.15.98.45","created_at":"2025-03-21T14:24:36.110330Z","gateway_id":"adba0474-28f2-44e0-8c14-ee5bc421a48e","id":"2e544f95-9661-4026-b97f-73ccffab3f2b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"45-98-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:24:36.110330Z","zone":"nl-ams-1"},"is_legacy":false,"name":"public-gateway-test-zone-to-update","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:24:49.839661Z","version":"0.7.3","zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.613938ms
[...]
