---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"192.168.1.0/24"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps
        method: POST
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-01T22:30:36.331817Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d6a7d78e-151b-4813-b9b0-783586ce5e67","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-01T22:30:36.331817Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.192027ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/dhcps/d6a7d78e-151b-4813-b9b0-783586ce5e67
        method: GET
      response:
        body: '{"address":"192.168.1.1","created_at":"2024-10-01T22:30:36.331817Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d6a7d78e-151b-4813-b9b0-783586ce5e67","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-01T22:30:36.331817Z","valid_lifetime":"3600s","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.254051ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"pn_test_network","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-01T22:30:36.330460Z","dhcp_enabled":true,"id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:30:36.330460Z","id":"222bc360-37b4-4aed-9100-f99466f86156","private_network_id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-01T22:30:36.330460Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T22:30:36.330460Z","id":"98a97b2e-e17c-45fc-91d9-ae432fefbada","private_network_id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:cab7::/64","updated_at":"2024-10-01T22:30:36.330460Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T22:30:36.330460Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 655.641739ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/10dba501-6e5b-463d-b4d3-cbf9d599450c
        method: GET
      response:
        body: '{"created_at":"2024-10-01T22:30:36.330460Z","dhcp_enabled":true,"id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","name":"pn_test_network","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-01T22:30:36.330460Z","id":"222bc360-37b4-4aed-9100-f99466f86156","private_network_id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.112.0/22","updated_at":"2024-10-01T22:30:36.330460Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2024-10-01T22:30:36.330460Z","id":"98a97b2e-e17c-45fc-91d9-ae432fefbada","private_network_id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:cab7::/64","updated_at":"2024-10-01T22:30:36.330460Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2024-10-01T22:30:36.330460Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.248286ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"163.172.164.231","created_at":"2024-10-01T22:30:36.927672Z","gateway_id":null,"id":"b49209e7-52ed-414b-a1c6-2b7445eb5224","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-10-01T22:30:36.927672Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 737.271982ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/b49209e7-52ed-414b-a1c6-2b7445eb5224
        method: GET
      response:
        body: '{"address":"163.172.164.231","created_at":"2024-10-01T22:30:36.927672Z","gateway_id":null,"id":"b49209e7-52ed-414b-a1c6-2b7445eb5224","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-10-01T22:30:36.927672Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.141966ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"foobar","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":"b49209e7-52ed-414b-a1c6-2b7445eb5224","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-01T22:30:38.658009Z","gateway_networks":[],"id":"f23e5e2e-1bce-40ce-a172-cee32c78d74b","ip":{"address":"163.172.164.231","created_at":"2024-10-01T22:30:36.927672Z","gateway_id":"f23e5e2e-1bce-40ce-a172-cee32c78d74b","id":"b49209e7-52ed-414b-a1c6-2b7445eb5224","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-10-01T22:30:36.927672Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-01T22:30:38.658009Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.525336ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f23e5e2e-1bce-40ce-a172-cee32c78d74b
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-01T22:30:38.658009Z","gateway_networks":[],"id":"f23e5e2e-1bce-40ce-a172-cee32c78d74b","ip":{"address":"163.172.164.231","created_at":"2024-10-01T22:30:36.927672Z","gateway_id":"f23e5e2e-1bce-40ce-a172-cee32c78d74b","id":"b49209e7-52ed-414b-a1c6-2b7445eb5224","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"231-164-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-10-01T22:30:36.927672Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"foobar","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-01T22:30:38.658009Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.350452ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"f23e5e2e-1bce-40ce-a172-cee32c78d74b","private_network_id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","enable_masquerade":true,"enable_dhcp":true,"dhcp_id":"d6a7d78e-151b-4813-b9b0-783586ce5e67"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":null,"created_at":"2024-10-01T22:30:51.391271Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-01T22:30:36.331817Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d6a7d78e-151b-4813-b9b0-783586ce5e67","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-01T22:30:36.331817Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f23e5e2e-1bce-40ce-a172-cee32c78d74b","id":"46b723ea-04d8-4e32-8745-47766bad3a79","ipam_config":null,"mac_address":null,"private_network_id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","status":"created","updated_at":"2024-10-01T22:30:51.391271Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.570583771s
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/46b723ea-04d8-4e32-8745-47766bad3a79
        method: GET
      response:
        body: '{"address":null,"created_at":"2024-10-01T22:30:51.391271Z","dhcp":{"address":"192.168.1.1","created_at":"2024-10-01T22:30:36.331817Z","dns_local_name":"priv","dns_search":[],"dns_servers_override":[],"enable_dynamic":true,"id":"d6a7d78e-151b-4813-b9b0-783586ce5e67","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","pool_high":"192.168.1.254","pool_low":"192.168.1.2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","push_default_route":true,"push_dns_server":true,"rebind_timer":"3060s","renew_timer":"3000s","subnet":"192.168.1.0/24","updated_at":"2024-10-01T22:30:36.331817Z","valid_lifetime":"3600s","zone":"fr-par-1"},"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"f23e5e2e-1bce-40ce-a172-cee32c78d74b","id":"46b723ea-04d8-4e32-8745-47766bad3a79","ipam_config":null,"mac_address":"02:00:00:1C:E3:F3","private_network_id":"10dba501-6e5b-463d-b4d3-cbf9d599450c","status":"ready","updated_at":"2024-10-01T22:31:04.765328Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.507821ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=10dba501-6e5b-463d-b4d3-cbf9d599450c&resource_id=46b723ea-04d8-4e32-8745-47766bad3a79&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"192.168.1.1/24","created_at":"2024-10-01T22:30:51.325087Z","id":"7c605ea9-ec71-4a8a-8de0-6119c4c61bd1","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"46b723ea-04d8-4e32-8745-47766bad3a79","mac_address":"02:00:00:1C:E3:F3","name":"foobar","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"222bc360-37b4-4aed-9100-f99466f86156"},"tags":[],"updated_at":"2024-10-01T22:30:51.904796Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.828084ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/46b723ea-04d8-4e32-8745-47766bad3a79?cleanup_dhcp=true
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 120.698619ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/46b723ea-04d8-4e32-8745-47766bad3a79
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway_network","resource_id":"46b723ea-04d8-4e32-8745-47766bad3a79","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.631567ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/f23e5e2e-1bce-40ce-a172-cee32c78d74b?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 57.431608ms
[...]
