---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"9e1548c3-bc21-4670-a940-3f0d769dad5c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.265881Z\",\"updated_at\":\"2025-08-26T16:32:47.265881Z\",\"tags\":[],\"address\":\"51.15.139.89\",\"reverse\":\"89-139-15-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.534900467s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/9e1548c3-bc21-4670-a940-3f0d769dad5c
    method: GET
  response:
    body: "{\"id\":\"9e1548c3-bc21-4670-a940-3f0d769dad5c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.265881Z\",\"updated_at\":\"2025-08-26T16:32:47.265881Z\",\"tags\":[],\"address\":\"51.15.139.89\",\"reverse\":\"89-139-15-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 63.298072ms
[...]
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips
    method: POST
  response:
    body: "{\"id\":\"3c60ed3e-c592-49fe-8564-8b83a854fe7c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:56.502126Z\",\"updated_at\":\"2025-08-26T16:32:56.502126Z\",\"tags\":[],\"address\":\"51.15.123.133\",\"reverse\":\"133-123-15-51.instances.scw.cloud\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 721.853922ms
- id: 7
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/3c60ed3e-c592-49fe-8564-8b83a854fe7c
    method: GET
  response:
    body: "{\"id\":\"3c60ed3e-c592-49fe-8564-8b83a854fe7c\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:56.502126Z\",\"updated_at\":\"2025-08-26T16:32:56.502126Z\",\"tags\":[],\"address\":\"51.15.123.133\",\"reverse\":\"133-123-15-51.instances.scw.cloud\",\"zone\":\"nl-ams-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 43.614414ms
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/nl-ams-1/ips/3c60ed3e-c592-49fe-8564-8b83a854fe7c
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"3c60ed3e-c592-49fe-8564-8b83a854fe7c\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 40.160365ms
