---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-upgrade-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-25T11:14:50.997827Z","gateway_networks":[],"id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","ipv4":{"address":"163.172.167.54","created_at":"2025-03-25T11:14:50.971851Z","gateway_id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","id":"44f444b6-2513-4cad-8cb1-5d62d5629ee0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"54-167-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-25T11:14:50.971851Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-25T11:14:50.997827Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.19176203s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-25T11:14:50.997827Z","gateway_networks":[],"id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","ipv4":{"address":"163.172.167.54","created_at":"2025-03-25T11:14:50.971851Z","gateway_id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","id":"44f444b6-2513-4cad-8cb1-5d62d5629ee0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"54-167-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-25T11:14:50.971851Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-25T11:14:51.046573Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.362259ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: '{"type":"VPC-GW-M"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62/upgrade
        method: POST
      response:
        body: '{"bandwidth":1000,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-25T11:14:50.997827Z","gateway_networks":[],"id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","ipv4":{"address":"163.172.167.54","created_at":"2025-03-25T11:14:50.971851Z","gateway_id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","id":"44f444b6-2513-4cad-8cb1-5d62d5629ee0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"54-167-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-25T11:14:50.971851Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-M","updated_at":"2025-03-25T11:14:59.374018Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.550247ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":1000,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-25T11:14:50.997827Z","gateway_networks":[],"id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","ipv4":{"address":"163.172.167.54","created_at":"2025-03-25T11:14:50.971851Z","gateway_id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","id":"44f444b6-2513-4cad-8cb1-5d62d5629ee0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"54-167-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-03-25T11:14:50.971851Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-M","updated_at":"2025-03-25T11:15:07.328138Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.094225ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"5fd0fcfd-b39e-4fc5-832b-9ea5048e6b62","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 179.397017ms
[...]
