---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-upgrade-test","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:26:02.923865Z","gateway_networks":[],"id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","ipv4":{"address":"51.15.196.151","created_at":"2025-03-21T14:26:02.906478Z","gateway_id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","id":"742c10ad-070a-4b01-8bf4-eb8cac353e25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:26:02.906478Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:26:02.923865Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 832.029312ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6d61cbc8-8c73-42a5-8014-01c9d19e6440
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:26:02.923865Z","gateway_networks":[],"id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","ipv4":{"address":"51.15.196.151","created_at":"2025-03-21T14:26:02.906478Z","gateway_id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","id":"742c10ad-070a-4b01-8bf4-eb8cac353e25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:26:02.906478Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-21T14:26:02.959401Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.796628ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"type":"VPC-GW-M"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6d61cbc8-8c73-42a5-8014-01c9d19e6440/upgrade
        method: POST
      response:
        body: '{"bandwidth":1000,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:26:02.923865Z","gateway_networks":[],"id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","ipv4":{"address":"51.15.196.151","created_at":"2025-03-21T14:26:02.906478Z","gateway_id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","id":"742c10ad-070a-4b01-8bf4-eb8cac353e25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:26:02.906478Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-M","updated_at":"2025-03-21T14:26:14.952619Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.053038ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6d61cbc8-8c73-42a5-8014-01c9d19e6440?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":1000,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-21T14:26:02.923865Z","gateway_networks":[],"id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","ipv4":{"address":"51.15.196.151","created_at":"2025-03-21T14:26:02.906478Z","gateway_id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","id":"742c10ad-070a-4b01-8bf4-eb8cac353e25","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"151-196-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-03-21T14:26:02.906478Z","zone":"fr-par-1"},"is_legacy":false,"name":"public-gateway-upgrade-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-M","updated_at":"2025-03-21T14:26:21.363198Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.602569ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/6d61cbc8-8c73-42a5-8014-01c9d19e6440
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"6d61cbc8-8c73-42a5-8014-01c9d19e6440","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.004898ms
[...]
