---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips
        method: POST
      response:
        body: '{"address":"51.158.108.123","created_at":"2025-01-27T09:16:01.580158Z","gateway_id":null,"id":"66447dd2-d267-4d84-a2de-1671dabbdc30","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"123-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.580158Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 908.492166ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/66447dd2-d267-4d84-a2de-1671dabbdc30
        method: GET
      response:
        body: '{"address":"51.158.108.123","created_at":"2025-01-27T09:16:01.580158Z","gateway_id":null,"id":"66447dd2-d267-4d84-a2de-1671dabbdc30","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"123-108-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-27T09:16:01.580158Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.656834ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/ips/66447dd2-d267-4d84-a2de-1671dabbdc30
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"ip","resource_id":"66447dd2-d267-4d84-a2de-1671dabbdc30","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.437916ms
