---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"id\":\"5d61e02b-3574-4991-ab6a-50ac774666db\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.023581Z\",\"updated_at\":\"2025-08-26T16:32:47.023581Z\",\"tags\":[],\"address\":\"51.15.204.85\",\"reverse\":\"85-204-15-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.362754349s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/5d61e02b-3574-4991-ab6a-50ac774666db
    method: GET
  response:
    body: "{\"id\":\"5d61e02b-3574-4991-ab6a-50ac774666db\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:47.023581Z\",\"updated_at\":\"2025-08-26T16:32:47.023581Z\",\"tags\":[],\"address\":\"51.15.204.85\",\"reverse\":\"85-204-15-51.instances.scw.cloud\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 72.221963ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/ips/5d61e02b-3574-4991-ab6a-50ac774666db
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"ip\",\"resource_id\":\"5d61e02b-3574-4991-ab6a-50ac774666db\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 24.748907ms
