---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"public-gateway-bastion-test","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-13T09:51:32.692234Z","gateway_networks":[],"id":"2a7936c9-8214-4f43-b9f5-246bd5890223","ip":{"address":"163.172.167.114","created_at":"2024-05-13T09:51:32.667361Z","gateway_id":"2a7936c9-8214-4f43-b9f5-246bd5890223","id":"341308c0-6130-46e1-93dd-24913ef4164a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"114-167-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-05-13T09:51:32.667361Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-05-13T09:51:32.692234Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 696.960491ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/2a7936c9-8214-4f43-b9f5-246bd5890223
        method: GET
      response:
        body: '{"bastion_enabled":true,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-05-13T09:51:32.692234Z","gateway_networks":[],"id":"2a7936c9-8214-4f43-b9f5-246bd5890223","ip":{"address":"163.172.167.114","created_at":"2024-05-13T09:51:32.667361Z","gateway_id":"2a7936c9-8214-4f43-b9f5-246bd5890223","id":"341308c0-6130-46e1-93dd-24913ef4164a","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"114-167-172-163.instances.scw.cloud","tags":[],"updated_at":"2024-05-13T09:51:32.667361Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"public-gateway-bastion-test","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-05-13T09:51:32.692234Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.067147ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/2a7936c9-8214-4f43-b9f5-246bd5890223?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 53.22268ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/2a7936c9-8214-4f43-b9f5-246bd5890223
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"gateway","resource_id":"2a7936c9-8214-4f43-b9f5-246bd5890223","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.629669ms
[...]
