---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/offers?only_options=false&order_by=price_asc&without_options=false
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/backup/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"e500237a-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":2},"product":{"databases_quota":0,"email_accounts_quota":0,"email_storage_quota":0,"hosting_storage_quota":0,"max_addon_domains":0,"name":"backup","option":true,"ram":0,"support_included":false,"v_cpu":0},"quota_warnings":[]},{"available":true,"billing_operation_path":"/webhosting/plesk-backup/fr-par","control_panel_name":"plesk","end_of_life":false,"id":"4931090c-8ec9-11ee-b9d1-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":2},"product":{"databases_quota":0,"email_accounts_quota":0,"email_storage_quota":0,"hosting_storage_quota":0,"max_addon_domains":0,"name":"backup","option":true,"ram":0,"support_included":false,"v_cpu":0},"quota_warnings":[]},{"available":true,"billing_operation_path":[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"offer_id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"hashicorp@scaleway.com","tags":null,"domain":"foobar.com","option_ids":[],"language":"unknown_language_code"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings
        method: POST
      response:
        body: '{"control_panel_name":"","cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2025-01-23T10:27:22.994956165Z","dns_status":"unknown_dns_status","domain":"foobar.com","id":"2880b789-e5a2-439c-b925-f05cfaf7949b","ipv4":"","ipv6":"","offer_end_of_life":false,"offer_id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","offer_name":"lite","one_time_password":"","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","platform_group":"","platform_hostname":"","platform_number":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"delivering","tags":[],"updated_at":"2025-01-23T10:27:22.994956165Z","username":"cpe0002450"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.022167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/2880b789-e5a2-439c-b925-f05cfaf7949b
        method: GET
      response:
        body: '{"control_panel_name":"plesk","cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2025-01-23T10:27:22.994956Z","dns_status":"unknown_dns_status","domain":"foobar.com","id":"2880b789-e5a2-439c-b925-f05cfaf7949b","ipv4":"","ipv6":"","offer_end_of_life":false,"offer_id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","offer_name":"lite","one_time_password":"","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","platform_group":"default","platform_hostname":"pf-001.psk.fr-par.scw.cloud","platform_number":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"delivering","tags":[],"updated_at":"2025-01-23T10:27:23.107276Z","username":"cpe0002450"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.200791ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings?domain=foobar.com&order_by=created_at_asc
        method: GET
      response:
        body: '{"hostings":[{"control_panel_name":"plesk","cpanel_urls":{"dashboard":"https://pf-001.psk.fr-par.scw.cloud","webmail":"https://webmail.foobar.com/roundcube/"},"created_at":"2025-01-23T10:27:22.994956Z","dns_status":"unknown_dns_status","domain":"foobar.com","id":"2880b789-e5a2-439c-b925-f05cfaf7949b","ipv4":"51.159.180.26","ipv6":"","offer_end_of_life":false,"offer_id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","offer_name":"lite","one_time_password":"","options":[],"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","platform_group":"default","platform_hostname":"pf-001.psk.fr-par.scw.cloud","platform_number":1,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","tags":[],"updated_at":"2025-01-23T10:27:46.870014Z","username":"cpe0002450"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 377.039125ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/2880b789-e5a2-439c-b925-f05cfaf7949b
        method: GET
      response:
        body: '{"message":"hosting 2880b789-e5a2-439c-b925-f05cfaf7949b not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 78.089625ms
[...]
