---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/plesk-lite/fr-par","control_panel_name":"plesk","end_of_life":false,"id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","name":"lite","options":[{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":1000,"min_value":1,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"0262a5ad-9758-4c85-bc01-fc094f04376b","max_value":8,"min_value":1,"name":"vcpu_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb","max_value":16,"min_value":1,"name":"ram_gb","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","cu[...]
[...]
