---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","control_panels":[],"end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":1000,"min_value":1,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"0262a5ad-9758-4c85-bc01-fc094f04376b","max_value":8,"min_value":1,"name":"vcpu_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb","max_value":16,"min_value":1,"name":"ram_gb","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","cu[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"hashicorp@scaleway.com","tags":null,"domain":"foobar.com","offer_options":null,"language":"unknown_language_code"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
        method: POST
      response:
        body: '{"created_at":"2025-11-10T13:45:34.334970214Z","dns_status":"unknown_status","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"unknown_status","domain":"foobar.com","domain_status":"unknown_status"},"subdomain":"keen-tereshkova.scw.site"},"domain_status":"unknown_status","id":"e21ca1b4-41e8-4872-96c9-889d5ac2749b","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","control_panels":[],"end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[{"billing_operation_path":"","current_value":-1,"id":"c217f2bc-46d4-11f0-84ae-024264400106","max_value":-1,"min_value":-1,"name":"database_count","price":{"currency_code":"EUR","nanos":0,"units":0},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":1,"id":"0262a[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/e21ca1b4-41e8-4872-96c9-889d5ac2749b
        method: GET
      response:
        body: '{"created_at":"2025-11-10T13:45:34.334970Z","dns_status":"unknown_status","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"unknown_status","domain":"foobar.com","domain_status":"[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/domains/foobar.com/dns-records
        method: GET
      response:
        body: '{"auto_config_domain_dns":{"all_records":false,"mail_records":false,"nameservers":false,"none":false,"web_records":false},"dns_config":[],"name_servers":[{"hostname":"ns1.whm.fr-par.scw.cloud","is_default":true,"status":"invalid"},{"hostname":"ns2.whm.fr-par.scw.cloud","is_default":true,"status":"invalid"},{"hostname":"ns2.inmotionhosting.com","is_default":false,"status":"invalid"},{"hostname":"ns1.inmotionhosting.com","is_default":false,"status":"invalid"}],"records":[{"name":"","priority":0,"raw_data":"foobar.com. 14400 IN A 51.159.128.187","status":"invalid","ttl":14400,"type":"a","value":"51.159.128.187"},{"name":"","priority":0,"raw_data":"foobar.com. 14400 IN MX foobar.com.","status":"valid","ttl":14400,"type":"mx","value":"foobar.com."},{"name":"mail","priority":0,"raw_data":"mail.foobar.com. 14400 IN CNAME foobar.com.","status":"valid","ttl":14400,"type":"cname","value":"foobar.com."},{"name":"www","priority":0,"raw_data":"www.foobar.com. 14400 IN CNAME foobar.com.","status":"valid","ttl":14400,"type":"cname","value":"foobar.com."},{"name":"ftp","priority":0,"raw_data":"ftp.[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings?domain=foobar.com&order_by=created_at_asc
        method: GET
      response:
        body: '{"hostings":[{"created_at":"2025-11-10T13:45:34.334970Z","dns_status":"invalid","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"invalid","domain":"foobar.com","domain_status":"invalid"},"subdomain":"keen-tereshkova.scw.site"},"domain_status":"invalid","id":"e21ca1b4-41e8-4872-96c9-889d5ac2749b","offer_name":"lite","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","updated_at":"2025-11-10T13:46:10.261699Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.206423958s
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/e21ca1b4-41e8-4872-96c9-889d5ac2749b
        method: DELETE
      response:
        body: '{"created_at":"2025-11-10T13:45:34.334970Z","dns_status":"invalid","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"invalid","domain":"foobar.com","domain_status":"invalid"},"subdomain":"keen-tereshkova.scw.site"},"domain_status":"invalid","id":"e21ca1b4-41e8-4872-96c9-889d5ac2749b","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","control_panels":[],"end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[],"price":{"currency_code":"EUR","nanos":990000000,"units":5},"quota_warning":"unknown_warning","region":"fr-par"},"platform":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"deleting","tags":[],"updated_at":"2025-11-10T13:46:21.300562212Z","user":{"contact_email":"hashicorp@scaleway.com","one_time_password":"pkoofrovjhxzlqy","one_time_password_b64":"cGtvb2Zyb3ZqaHh6bHF5","username":"cpe0003783"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.21525ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/e21ca1b4-41e8-4872-96c9-889d5ac2749b
        method: GET
      response:
        body: '{"message":"hosting e21ca1b4-41e8-4872-96c9-889d5ac2749b not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 107.228542ms
[...]
