---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - price_asc
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
    method: GET
  response:
    body: "{\"total_count\":12,\"offers\":[{\"id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"name\":\"lite\",\"billing_operation_path\":\"/webhosting/lite/fr-par\",\"options\":[{\"id\":\"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2\",\"name\":\"email_count\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":1000,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":1,\"nanos\":0}},{\"id\":\"0262a5ad-9758-4c85-bc01-fc094f04376b\",\"name\":\"vcpu_count\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":8,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":1,\"nanos\":0}},{\"id\":\"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb\",\"name\":\"ram_gb\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":16,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\"[...]
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"email\":\"hashicorp@scaleway.com\",\"tags\":null,\"domain\":\"foobar.com\",\"offer_options\":null,\"language\":\"unknown_language_code\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
    method: POST
  response:
    body: "{\"id\":\"6c5fea96-162a-4850-b5b8-496a43272245\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"updated_at\":\"2025-08-26T16:32:55.650407991Z\",\"created_at\":\"2025-08-26T16:32:55.650407991Z\",\"status\":\"delivering\",\"domain\":\"foobar.com\",\"offer\":{\"id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"name\":\"lite\",\"billing_operation_path\":\"/webhosting/lite/fr-par\",\"options\":[{\"id\":\"226bd895-6167-4256-8c63-53c2d3f2391e\",\"name\":\"storage_gb\",\"billing_operation_path\":\"\",\"min_value\":10,\"current_value\":10,\"max_value\":500,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":150000000}},{\"id\":\"0c9ee1a0-1495-4ac8-8e7a-bc322ee45370\",\"name\":\"domain_count\",\"billing_operation_[...]
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/6c5fea96-162a-4850-b5b8-496a43272245
    method: GET
  response:
    body: "{\"id\":\"6c5fea96-162a-4850-b5b8-496a43272245\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"updated_at\":\"2025-08-26T16:32:55.826405Z\",\"created_at\":\"2025-08-26T16:32:55.650407Z\",\"status\":\"delivering\",\"domain\":\"foobar.com\",\"offer\":{\"id\":\"f5c2ae8f-7625-4bca-b71[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/domains/foobar.com/dns-records
    method: GET
  response:
    body: "{\"records\":[{\"name\":\"\",\"type\":\"a\",\"ttl\":14400,\"value\":\"51.159.128.187\",\"priority\":0,\"status\":\"invalid\",\"raw_data\":\"foobar.com. 14400 IN A 51.159.128.187\"},{\"name\":\"\",\"type\":\"mx\",\"ttl\":14400,\"value\":\"foobar.com.\",\"priority\":0,\"status\":\"valid\",\"raw_data\":\"foobar.com. 14400 IN MX foobar.com.\"},{\"name\":\"mail\",\"type\":\"cname\",\"ttl\":14400,\"value\":\"foobar.com.\",\"priority\":0,\"status\":\"valid\",\"raw_data\":\"mail.foobar.com. 14400 IN CNAME foobar.com.\"},{\"name\":\"www\",\"type\":\"cname\",\"ttl\":14400,\"value\":\"foobar.com.\",\"priority\":0,\"status\":\"valid\",\"raw_d[...]
[...]
- id: 18
  request:
    host: api.scaleway.com
    form:
      domain:
      - foobar.com
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings?domain=foobar.com&order_by=created_at_asc
    method: GET
  response:
    body: "{\"total_count\":1,\"hostings\":[{\"id\":\"6c5fea96-162a-4850-b5b8-496a43272245\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:55.650407Z\",\"updated_at\":\"2025-08-26T16:33:36.509228Z\",\"status\":\"ready\",\"domain\":\"foobar.com\",\"protected\":false,\"dns_status\":\"invalid\",\"offer_name\":\"lite\",\"domain_status\":\"invalid\",\"domain_info\":null,\"region\":\"fr-par\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 704.635302ms
[...]
- id: 52
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/6c5fea96-162a-4850-b5b8-496a43272245
    method: DELETE
  response:
    body: "{\"id\":\"6c5fea96-162a-4850-b5b8-496a43272245\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"updated_at\":\"2025-08-26T16:33:49.164203448Z\",\"created_at\":\"2025-08-26T16:32:55.650407Z\",\"status\":\"deleting\",\"domain\":\"foobar.com\",\"offer\":{\"id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"name\":\"lite\",\"billing_operation_path\":\"/webhosting/lite/fr-par\",\"options\":[],\"price\":{\"currency_code\":\"EUR\",\"units\":5,\"nanos\":990000000},\"available\":false,\"control_panel_name\":\"cpanel\",\"end_of_life\":false,\"quota_warning\":\"unknown_warning\"},\"platform\":null,\"tags\":[],\"dns_status\":\"invalid\",\"ipv4\":\"\",\"protected\":false,\"user\":{\"username\":\"cpe0003426\",\"one_time_password\":\"6mqow3zdi1vkfhv\",\"contact_email\":\"hashicorp@scaleway.com\",\"one_time_password_b64\":\"Nm1xb3czemRpMXZrZmh2\"},\"domain_status\":\"invalid\",\"domain_info\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 153.362087ms
[...]
- id: 56
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/6c5fea96-162a-4850-b5b8-496a43272245
    method: GET
  response:
    body: "{\"message\":\"hosting 6c5fea96-162a-4850-b5b8-496a43272245 not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 87.809448ms
[...]
