---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/mini/fr-par","commitments":[],"control_panel_name":"wordpress","control_panels":[{"available":false,"available_languages":["en_US","fr_FR"],"logo_url":"https://wbh-control-panels-logo.s3.fr-par.scw.cloud/cpanel.png","name":"cpanel"},{"available":true,"available_languages":["en_US","fr_FR"],"logo_url":"https://wbh-control-panels-logo.s3.fr-par.scw.cloud/wordpress.png","name":"wordpress"}],"end_of_life":false,"id":"5fb20315-3661-4b4f-8884-94f29dc05d0d","name":"mini","options":[{"billing_operation_path":"","current_value":0,"id":"0c9ee1a0-1495-4ac8-8e7a-bc322ee45370","max_value":1,"min_value":1,"name":"domain_count","price":{"currency_code":"EUR","nanos":500000000,"units":0},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":0,"min_value":0,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"e6419570-47e2-45cc-b2fa-dd149cdd4887","max_value":0,"min_value":0,"name":"email_storage_gb","price":{"currency_code":"EUR","nanos":150000000,"units":0},"quota_warning":"unknown_warning"},{"billing_oper[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"offer_id":"b88b9cf9-7f35-4d36-aa4c-0de8cf301f87","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"hashicorp@scaleway.com","tags":null,"domain":"foobar.com","offer_options":null,"language":"unknown_language_code"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
        method: POST
      response:
        body: '{"created_at":"2026-03-09T14:02:34.586865217Z","dns_status":"unknown_status","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"unknown_status","domain":"foobar.com","domain_status":"unknown_status"},"subdomain":"nostalgic-albattani.scw.site"},"domain_status":"unknown_status","id":"706ba25a-597f-4d7d-b398-1f994a6a5289","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/essential/fr-par","commitments":[],"control_panel_name":"cpanel","control_panels":[],"end_of_life":false,"id":"b88b9cf9-7f35-4d36-aa4c-0de8cf301f87","name":"essential","options":[{"billing_operation_path":"","current_value":10,"id":"0c9ee1a0-1495-4ac8-8e7a-bc322ee45370","max_value":10,"min_value":10,"name":"domain_count","price":{"currency_code":"EUR","nanos":500000000,"units":0},"quota_warning":"unknown_warning"},{"billing_operation_path"[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/706ba25a-597f-4d7d-b398-1f994a6a5289
        method: GET
      response:
        body: '{"created_at":"2026-03-09T14:02:34.586865Z","dns_status":"unknown_status","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"unknown_status","domain":"foobar.com","domain_status":"[...]
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/domains/foobar.com/dns-records
        method: GET
      response:
        body: '{"auto_config_domain_dns":{"all_records":false,"mail_records":false,"nameservers":false,"none":false,"web_records":false},"dns_config":[],"name_servers":[{"hostname":"ns1.whm.fr-par.scw.cloud","is_default":true,"status":"invalid"},{"hostname":"ns2.whm.fr-par.scw.cloud","is_default":true,"status":"invalid"},{"hostname":"ns1.inmotionhosting.com","is_default":false,"status":"invalid"},{"hostname":"ns2.inmotionhosting.com","is_default":false,"status":"invalid"}],"records":[{"name":"","priority":0,"raw_data":"foobar.com. 14400 IN A 51.159.87.113","status":"invalid","ttl":14400,"type":"a","value":"51.159.87.113"},{"name":"","priority":0,"raw_data":"foobar.com. 14400 IN MX mail.foobar.com.","status":"invalid","ttl":14400,"type":"mx","value":"mail.foobar.com."},{"name":"mail","priority":0,"raw_data":"mail.foobar.com. 14400 IN A 51.159.87.113","status":"invalid","ttl":14400,"type":"a","value":"51.159.87.113"},{"name":"www","priority":0,"raw_data":"www.foobar.com. 14400 IN CNAME foobar.com.","status":"valid","ttl":14400,"type":"cname","value":"foobar.com."},{"name":"ftp","priority":0,"raw_da[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings?domain=foobar.com&order_by=created_at_asc
        method: GET
      response:
        body: '{"hostings":[{"created_at":"2026-03-09T14:02:34.586865Z","dns_status":"invalid","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"invalid","domain":"foobar.com","domain_status":"invalid"},"subdomain":"nostalgic-albattani.scw.site"},"domain_status":"invalid","id":"706ba25a-597f-4d7d-b398-1f994a6a5289","offer_name":"essential","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","updated_at":"2026-03-09T14:03:09.438399Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.253666ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/706ba25a-597f-4d7d-b398-1f994a6a5289
        method: DELETE
      response:
        body: '{"created_at":"2026-03-09T14:02:34.586865Z","dns_status":"invalid","domain":"foobar.com","domain_info":{"custom_domain":{"auto_config_domain_dns":null,"dns_status":"invalid","domain":"foobar.com","domain_status":"invalid"},"subdomain":"nostalgic-albattani.scw.site"},"domain_status":"invalid","id":"706ba25a-597f-4d7d-b398-1f994a6a5289","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/essential/fr-par","commitments":[],"control_panel_name":"cpanel","control_panels":[],"end_of_life":false,"id":"b88b9cf9-7f35-4d36-aa4c-0de8cf301f87","name":"essential","options":[],"price":{"currency_code":"EUR","nanos":990000000,"units":9},"quota_warning":"unknown_warning","region":"fr-par"},"platform":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"deleting","tags":["internal"],"updated_at":"2026-03-09T14:03:20.740895271Z","user":{"contact_email":"hashicorp@scaleway.com","one_time_password":"vgyo7kmgkhmocgj","one_time_password_b64":"dmd5bzdrbWdraG1vY2dq","username":"cpe0004206"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.75625ms
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/706ba25a-597f-4d7d-b398-1f994a6a5289
        method: GET
      response:
        body: '{"message":"hosting 706ba25a-597f-4d7d-b398-1f994a6a5289 not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 48.694083ms
[...]
