---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/plesk-lite/fr-par","control_panel_name":"plesk","end_of_life":false,"id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","name":"lite","options":[{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":1000,"min_value":1,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"0262a5ad-9758-4c85-bc01-fc094f04376b","max_value":8,"min_value":1,"name":"vcpu_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb","max_value":16,"min_value":1,"name":"ram_gb","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","cu[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"hashicorp@scaleway.com","tags":null,"domain":"foobar.com","offer_options":null,"language":"unknown_language_code"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
        method: POST
      response:
        body: '{"created_at":"2025-02-26T14:06:21.076654422Z","dns_status":"unknown_status","domain":"foobar.com","domain_status":"unknown_status","id":"f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[{"billing_operation_path":"/webhosting/dedicated-ip/fr-par","current_value":0,"id":"a8f6702e-6d8c-11ee-b962-0242ac120002","max_value":1,"min_value":0,"name":"dedicated_ip","price":{"currency_code":"EUR","nanos":990000000,"units":4},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value"[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85
        method: GET
      response:
        body: '{"created_at":"2025-02-26T14:06:21.076654Z","dns_status":"unknown_status","domain":"foobar.com","domain_status":"unknown_status","id":"f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85","ipv4":"","offer":{"available":false,"billing_operatio[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings?domain=foobar.com&order_by=created_at_asc
        method: GET
      response:
        body: '{"hostings":[{"created_at":"2025-02-26T14:06:21.076654Z","dns_status":"unknown_status","domain":"foobar.com","domain_status":"unknown_status","hosting_status":"unknown_status","id":"f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85","offer_name":"lite","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"ready","updated_at":"2025-02-26T14:06:35.539502Z"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.224583ms
[...]
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85
        method: DELETE
      response:
        body: '{"created_at":"2025-02-26T14:06:21.076654Z","dns_status":"unknown_status","domain":"foobar.com","domain_status":"unknown_status","id":"f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[],"price":{"currency_code":"EUR","nanos":990000000,"units":5},"quota_warning":"unknown_warning"},"platform":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"deleting","tags":[],"updated_at":"2025-02-26T14:06:44.498867605Z","user":{"contact_email":"hashicorp@scaleway.com","username":"cpe0002612"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.71625ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85
        method: GET
      response:
        body: '{"message":"hosting f61ccfc7-4ef1-4392-bf28-b9ef3dbd6a85 not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.590208ms
[...]
