---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/mini/fr-par","control_panel_name":"wordpress","control_panels":[{"available":false,"available_languages":["en_US","fr_FR"],"logo_url":"https://wbh-control-panels-logo.s3.fr-par.scw.cloud/cpanel.png","name":"cpanel"},{"available":true,"available_languages":["en_US","fr_FR"],"logo_url":"https://wbh-control-panels-logo.s3.fr-par.scw.cloud/wordpress.png","name":"wordpress"}],"end_of_life":false,"id":"5fb20315-3661-4b4f-8884-94f29dc05d0d","name":"mini","options":[{"billing_operation_path":"","current_value":0,"id":"0c9ee1a0-1495-4ac8-8e7a-bc322ee45370","max_value":1,"min_value":1,"name":"domain_count","price":{"currency_code":"EUR","nanos":500000000,"units":0},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":0,"min_value":0,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"e6419570-47e2-45cc-b2fa-dd149cdd4887","max_value":0,"min_value":0,"name":"email_storage_gb","price":{"currency_code":"EUR","nanos":150000000,"units":0},"quota_warning":"unknown_warning"},{"billing_oper[...]
[...]
