---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - price_asc
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
    method: GET
  response:
    body: "{\"total_count\":12,\"offers\":[{\"id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"name\":\"lite\",\"billing_operation_path\":\"/webhosting/lite/fr-par\",\"options\":[{\"id\":\"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2\",\"name\":\"email_count\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":1000,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":1,\"nanos\":0}},{\"id\":\"0262a5ad-9758-4c85-bc01-fc094f04376b\",\"name\":\"vcpu_count\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":8,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":1,\"nanos\":0}},{\"id\":\"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb\",\"name\":\"ram_gb\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":16,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\"[...]
[...]
