---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/offers?only_options=false&order_by=price_asc&without_options=false
      method: GET
    response:
      body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/backup/fr-par","end_of_life":false,"id":"e500237a-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":2},"product":{"databases_quota":0,"email_accounts_quota":0,"email_storage_quota":0,"hosting_storage_quota":0,"name":"backup","option":true,"ram":0,"support_included":false,"v_cpu":0},"quota_warnings":[]},{"available":true,"billing_operation_path":"/webhosting/lite/fr-par","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","price":{"currency_code":"EUR","nanos":990000000,"units":5},"product":{"databases_quota":1,"email_accounts_quota":1,"email_storage_quota":5,"hosting_storage_quota":10,"name":"lite","option":false,"ram":1,"support_included":true,"v_cpu":1},"quota_warnings":[]},{"available":true,"billing_operation_path":"/webhosting/personal/fr-par","end_of_life":false,"id":"d86c[...]
[...]
  - request:
      body: '{"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","email":"hashicorp@scaleway.com","tags":null,"domain":"foobar.com","option_ids":null}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings
      method: POST
    response:
      body: '{"cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2023-07-20T14:43:49.003883079Z","dns_status":"unknown_dns_status","domain":"foobar.com","id":"d661d80a-270b-11ee-bff2-024264400102","offer_end_of_life":false,"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","offer_name":"lite","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","platform_hostname":"","platform_number":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"delivering","tags":[],"updated_at":"2023-07-20T14:43:49.003883079Z","username":"cpe0000623"}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/d661d80a-270b-11ee-bff2-024264400102
      method: GET
    response:
      body: '{"cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2023-07-20T14:43:49.003883Z","dns_status":"unknown_dns_status","domain":"foobar.com","id":"d661d80a-270b-11ee-bff2-024264400102","offer_end_of_life":false,"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","offer_name":"lite","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","platform_hostname":"pf-1010.whm.fr-par.scw.cloud","platform_number":1010,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"delivering","tags":[],"updated_at":"2023-07-20T14:43:49.048977Z","username":"cpe0000623"}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings?domain=foobar.com&order_by=created_at_asc
      method: GET
    response:
      body: '{"hostings":[{"cpanel_urls":{"dashboard":"https://pf-1010.whm.fr-par.scw.cloud:2083","webmail":"https://pf-1010.whm.fr-par.scw.cloud:2096"},"created_at":"2023-07-20T14:43:49.003883Z","dns_status":"unknown_dns_status","domain":"foobar.com","id":"d661d80a-270b-11ee-bff2-024264400102","offer_end_of_life":false,"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","offer_name":"lite","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","platform_hostname":"pf-1010.whm.fr-par.scw.cloud","platform_number":1010,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"ready","tags":["internal"],"updated_at":"2023-07-20T14:43:57.538958Z","username":"cpe0000623"}],"total_count":1}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/d661d80a-270b-11ee-bff2-024264400102
      method: GET
    response:
      body: '{"message":"hosting d661d80a-270b-11ee-bff2-024264400102 not found"}'
      headers:
        Content-Type:
          - application/json
      status: 404 Not Found
      code: 404
      duration: ""
[...]
