---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      order_by:
      - price_asc
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
    method: GET
  response:
    body: "{\"total_count\":12,\"offers\":[{\"id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"name\":\"lite\",\"billing_operation_path\":\"/webhosting/lite/fr-par\",\"options\":[{\"id\":\"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2\",\"name\":\"email_count\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":1000,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":1,\"nanos\":0}},{\"id\":\"0262a5ad-9758-4c85-bc01-fc094f04376b\",\"name\":\"vcpu_count\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":8,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":1,\"nanos\":0}},{\"id\":\"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb\",\"name\":\"ram_gb\",\"billing_operation_path\":\"\",\"min_value\":1,\"current_value\":0,\"max_value\":16,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\"[...]
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"offer_id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"email\":\"hashicorp@scaleway.com\",\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"domain\":\"scaleway.com\",\"offer_options\":null,\"language\":\"unknown_language_code\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
    method: POST
  response:
    body: "{\"id\":\"054aa2f3-b373-4828-a274-018cd868e84f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"updated_at\":\"2025-08-26T16:32:54.541957313Z\",\"created_at\":\"2025-08-26T16:32:54.541957313Z\",\"status\":\"delivering\",\"domain\":\"scaleway.com\",\"offer\":{\"id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"name\":\"lite\",\"billing_operation_path\":\"/webhosting/lite/fr-par\",\"options\":[{\"id\":\"c217f2bc-46d4-11f0-84ae-024264400106\",\"name\":\"database_count\",\"billing_operation_path\":\"\",\"min_value\":-1,\"current_value\":-1,\"max_value\":-1,\"quota_warning\":\"unknown_warning\",\"price\":{\"currency_code\":\"EUR\",\"units\":0,\"nanos\":0}},{\"id\":\"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2\",\"name\":\"email_count\",\"billing_operation_path\"[...]
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/054aa2f3-b373-4828-a274-018cd868e84f
    method: GET
  response:
    body: "{\"id\":\"054aa2f3-b373-4828-a274-018cd868e84f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"updated_at\":\"2025-08-26T16:32:54.632926Z\",\"created_at\":\"2025-08-26T16:32:54.541957Z\",\"status\":\"delivering\",\"domain\":\"scaleway.com\",\"offer\":{\"id\":\"f5c2ae8f-7625-4bca-b[...]
[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/domains/scaleway.com/dns-records
    method: GET
  response:
    body: "{\"records\":[{\"name\":\"nsa\",\"type\":\"a\",\"ttl\":14400,\"value\":\"51.159.69.138\",\"priority\":0,\"status\":\"valid\",\"raw_data\":\"nsa.scaleway.com. 14400 IN A 51.159.69.138\"},{\"name\":\"nsb\",\"type\":\"a\",\"ttl\":14400,\"value\":\"51.159.47.9\",\"priority\":0,\"status\":\"valid\",\"raw_data\":\"nsb.scaleway.com. 14400 IN A 51.159.47.9\"},{\"name\":\"nsc\",\"type\":\"a\",\"ttl\":14400,\"value\":\"51.158.139.22\",\"priority\":0,\"status\":\"valid\",\"raw_data\":\"nsc.scaleway.com. 14400 IN A 51.158.139.22\"},{\"name\":\"nsd\",\"type\":\"a\",\"ttl\":14400,\"value\":\"151.115.8.9\",\"priority\":0,\"status\":\"valid\",\"r[...]
[...]
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/054aa2f3-b373-4828-a274-018cd868e84f
    method: DELETE
  response:
    body: "{\"id\":\"054aa2f3-b373-4828-a274-018cd868e84f\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"updated_at\":\"2025-08-26T16:33:22.270039818Z\",\"created_at\":\"2025-08-26T16:32:54.541957Z\",\"status\":\"deleting\",\"domain\":\"scaleway.com\",\"offer\":{\"id\":\"f5c2ae8f-7625-4bca-b711-b44bb3d08694\",\"name\":\"lite\",\"billing_operation_path\":\"/webhosting/lite/fr-par\",\"options\":[],\"price\":{\"currency_code\":\"EUR\",\"units\":5,\"nanos\":990000000},\"available\":false,\"control_panel_name\":\"cpanel\",\"end_of_life\":false,\"quota_warning\":\"unknown_warning\"},\"platform\":null,\"tags\":[\"devtools\",\"provider\",\"terraform\"],\"dns_status\":\"invalid\",\"ipv4\":\"\",\"protected\":false,\"user\":{\"username\":\"cpe0003425\",\"one_time_password\":\"qmohndwfvnmbuts\",\"contact_email\":\"hashicorp@scaleway.com\",\"one_time_password_b64\":\"cW1vaG5kd2Z2bm1idXRz\"},\"domain_status\":\"invalid\",\"domain_info\":null,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 138.0472ms
[...]
- id: 21
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/054aa2f3-b373-4828-a274-018cd868e84f
    method: GET
  response:
    body: "{\"message\":\"hosting 054aa2f3-b373-4828-a274-018cd868e84f not found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 93.826744ms
[...]
