---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/plesk-lite/fr-par","control_panel_name":"plesk","end_of_life":false,"id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","name":"lite","options":[{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":1000,"min_value":1,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"0262a5ad-9758-4c85-bc01-fc094f04376b","max_value":8,"min_value":1,"name":"vcpu_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb","max_value":16,"min_value":1,"name":"ram_gb","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","cu[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"offer_id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"hashicorp@scaleway.com","tags":["devtools","provider","terraform"],"domain":"scaleway.com","offer_options":null,"language":"unknown_language_code"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
        method: POST
      response:
        body: '{"created_at":"2025-02-26T09:17:40.507851980Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"20d1c94d-4afe-4666-8047-a5968494a6c2","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/plesk-lite/fr-par","control_panel_name":"plesk","end_of_life":false,"id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","name":"lite","options":[{"billing_operation_path":"","current_value":1,"id":"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb","max_value":16,"min_value":1,"name":"ram_gb","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"/webhosting/plesk-backup/fr-par","current_value":0,"id":[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/20d1c94d-4afe-4666-8047-a5968494a6c2
        method: GET
      response:
        body: '{"created_at":"2025-02-26T09:17:40.507851Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"20d1c94d-4afe-4666-8047-a5968494a6c2","ipv4":"","offer":{"available":false,"billing_operat[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/20d1c94d-4afe-4666-8047-a5968494a6c2
        method: DELETE
      response:
        body: '{"created_at":"2025-02-26T09:17:40.507851Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"20d1c94d-4afe-4666-8047-a5968494a6c2","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/plesk-lite/fr-par","control_panel_name":"plesk","end_of_life":false,"id":"4d5b119e-8ec9-11ee-b9d1-0242ac120002","name":"lite","options":[],"price":{"currency_code":"EUR","nanos":990000000,"units":5},"quota_warning":"unknown_warning"},"platform":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"deleting","tags":["devtools","provider","terraform"],"updated_at":"2025-02-26T09:17:58.751756191Z","user":{"contact_email":"hashicorp@scaleway.com","username":"cpe0002605"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.880875ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/20d1c94d-4afe-4666-8047-a5968494a6c2
        method: GET
      response:
        body: '{"message":"hosting 20d1c94d-4afe-4666-8047-a5968494a6c2 not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 91.296708ms
[...]
