---
version: 2
interactions:
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/offers?only_options=false&order_by=price_asc&without_options=false
      method: GET
    response:
      body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/backup/fr-par","id":"e500237a-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":2},"product":{"databases_quota":0,"email_accounts_quota":0,"email_storage_quota":0,"hosting_storage_quota":0,"name":"backup","option":true,"ram":0,"support_included":false,"v_cpu":0},"quota_warnings":[]},{"available":true,"billing_operation_path":"/webhosting/lite/fr-par","id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","price":{"currency_code":"EUR","nanos":990000000,"units":5},"product":{"databases_quota":1,"email_accounts_quota":1,"email_storage_quota":5,"hosting_storage_quota":10,"name":"lite","option":false,"ram":1,"support_included":true,"v_cpu":1},"quota_warnings":[]},{"available":true,"billing_operation_path":"/webhosting/personal/fr-par","id":"d86c61a0-a9e9-11ec-b909-0242ac120002","price[...]
[...]
  - request:
      body: '{"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","email":"hashicorp@scaleway.com","tags":["devtools","provider","terraform"],"domain":"scaleway.com","option_ids":null}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings
      method: POST
    response:
      body: '{"cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2023-07-10T09:38:41.549245319Z","dns_status":"unknown_dns_status","domain":"scaleway.com","id":"8e23b2a8-1f05-11ee-ad50-024264400102","offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","offer_name":"lite","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","platform_hostname":"","platform_number":null,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"delivering","tags":["devtools","provider","terraform"],"updated_at":"2023-07-10T09:38:41.549245319Z","username":"cpe0000594"}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/8e23b2a8-1f05-11ee-ad50-024264400102
      method: GET
    response:
      body: '{"cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2023-07-10T09:38:41.549245Z","dns_status":"unknown_dns_status","domain":"scaleway.com","id":"8e23b2a8-1f05-11ee-ad50-024264400102","offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","offer_name":"lite","options":[],"organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","platform_hostname":"pf-1010.whm.fr-par.scw.cloud","platform_number":1010,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"delivering","tags":["devtools","provider","terraform"],"updated_at":"2023-07-10T09:38:41.576826Z","username":"cpe0000594"}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
[...]
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/8e23b2a8-1f05-11ee-ad50-024264400102
      method: GET
    response:
      body: '{"message":"hosting 8e23b2a8-1f05-11ee-ad50-024264400102 not found"}'
      headers:
        Content-Type:
          - application/json
      status: 404 Not Found
      code: 404
[...]
