---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/offers?only_options=false&order_by=price_asc&without_options=false
    method: GET
  response:
    body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/backup/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"e500237a-a9e9-11ec-b909-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":2},"product":{"databases_quota":0,"email_accounts_quota":0,"email_storage_quota":0,"hosting_storage_quota":0,"max_addon_domains":0,"name":"backup","option":true,"ram":0,"support_included":false,"v_cpu":0},"quota_warnings":[]},{"available":true,"billing_operation_path":"/webhosting/dedicated-ip/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"a8f6702e-6d8c-11ee-b962-0242ac120002","price":{"currency_code":"EUR","nanos":990000000,"units":4},"product":{"databases_quota":-1,"email_accounts_quota":2,"email_storage_quota":5,"hosting_storage_quota":50,"max_addon_domains":0,"name":"dedicated-ip","option":true,"ram":1,"support_included":true,"v_cpu":2},"quota_warnings":[]},{"available":true,"billing_operatio[...]
[...]
- request:
    body: '{"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","email":"hashicorp@scaleway.com","tags":["devtools","provider","terraform"],"domain":"scaleway.com","option_ids":[],"language":"unknown_language_code"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings
    method: POST
  response:
    body: '{"control_panel_name":"cpanel","cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2024-03-20T15:35:44.888633228Z","dns_status":"unknown_dns_status","domain":"scaleway.com","id":"845f65f0-e6cf-11ee-9171-4ef8fef1c471","ipv4":"","ipv6":"","offer_end_of_life":false,"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","offer_name":"lite","options":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","platform_group":"","platform_hostname":"","platform_number":null,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"delivering","tags":["devtools","provider","terraform"],"updated_at":"2024-03-20T15:35:44.888633228Z","username":"cpe0001237"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/845f65f0-e6cf-11ee-9171-4ef8fef1c471
    method: GET
  response:
    body: '{"control_panel_name":"cpanel","cpanel_urls":{"dashboard":"","webmail":""},"created_at":"2024-03-20T15:35:44.888633Z","dns_status":"unknown_dns_status","domain":"scaleway.com","id":"845f65f0-e6cf-11ee-9171-4ef8fef1c471","ipv4":"","ipv6":"","offer_end_of_life":false,"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","offer_name":"lite","options":[],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","platform_group":"default","platform_hostname":"pf-1010.whm.fr-par.scw.cloud","platform_number":1010,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","protected":false,"region":"fr-par","status":"delivering","tags":["devtools","provider","terraform"],"updated_at":"2024-03-20T15:35:44.939879Z","username":"cpe0001237"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/webhosting/v1alpha1/regions/fr-par/hostings/845f65f0-e6cf-11ee-9171-4ef8fef1c471
    method: GET
  response:
    body: '{"message":"hosting 845f65f0-e6cf-11ee-9171-4ef8fef1c471 not found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
