---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":1000,"min_value":1,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"0262a5ad-9758-4c85-bc01-fc094f04376b","max_value":8,"min_value":1,"name":"vcpu_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb","max_value":16,"min_value":1,"name":"ram_gb","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","cu[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"hashicorp@scaleway.com","tags":["devtools","provider","terraform"],"domain":"scaleway.com","offer_options":null,"language":"unknown_language_code"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
        method: POST
      response:
        body: '{"created_at":"2025-03-06T10:05:22.673253795Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"edafefe8-bb05-4307-be95-d83700d866a4","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[{"billing_operation_path":"","current_value":1,"id":"0262a5ad-9758-4c85-bc01-fc094f04376b","max_value":8,"min_value":1,"name":"vcpu_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":10,"id":"226bd895-6167-4256-8c63-53c2d3f[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/edafefe8-bb05-4307-be95-d83700d866a4
        method: GET
      response:
        body: '{"created_at":"2025-03-06T10:05:22.673253Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"edafefe8-bb05-4307-be95-d83700d866a4","ipv4":"","offer":{"available":false,"billing_operat[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/domains/scaleway.com/dns-records
        method: GET
      response:
        body: '{"dns_config":["auto_config_none"],"name_servers":[{"hostname":"ns1.whm.fr-par.scw.cloud","is_default":true,"status":"invalid"},{"hostname":"ns2.whm.fr-par.scw.cloud","is_default":true,"status":"invalid"},{"hostname":"nsa.scaleway.com","is_default":false,"status":"invalid"},{"hostname":"nsc.scaleway.com","is_default":false,"status":"invalid"},{"hostname":"nsd.scaleway.com","is_default":false,"status":"invalid"},{"hostname":"nsb.scaleway.com","is_default":false,"status":"invalid"}],"records":[{"name":"nsa","priority":0,"raw_data":"nsa.scaleway.com. 14400 IN A 51.159.69.138","status":"valid","ttl":14400,"type":"a","value":"51.159.69.138"},{"name":"nsb","priority":0,"raw_data":"nsb.scaleway.com. 14400 IN A 51.159.47.9","status":"valid","ttl":14400,"type":"a","value":"51.159.47.9"},{"name":"nsc","priority":0,"raw_data":"nsc.scaleway.com. 14400 IN A 51.158.139.22","status":"valid","ttl":14400,"type":"a","value":"51.158.139.22"},{"name":"nsd","priority":0,"raw_data":"nsd.scaleway.com. 14400 IN A 151.115.8.9","status":"valid","ttl":14400,"type":"a","value":"151.115.8.9"},{"name":"","priority":0,"raw_data":"scaleway.co[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/edafefe8-bb05-4307-be95-d83700d866a4
        method: DELETE
      response:
        body: '{"created_at":"2025-03-06T10:05:22.673253Z","dns_status":"valid","domain":"scaleway.com","domain_status":"valid","id":"edafefe8-bb05-4307-be95-d83700d866a4","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[],"price":{"currency_code":"EUR","nanos":990000000,"units":5},"quota_warning":"unknown_warning"},"platform":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"deleting","tags":["devtools","provider","terraform"],"updated_at":"2025-03-06T10:05:44.401103014Z","user":{"contact_email":"hashicorp@scaleway.com","username":"cpe0002758"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.614417ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/edafefe8-bb05-4307-be95-d83700d866a4
        method: GET
      response:
        body: '{"message":"hosting edafefe8-bb05-4307-be95-d83700d866a4 not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 103.384208ms
[...]
