---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/offers?order_by=price_asc
        method: GET
      response:
        body: '{"offers":[{"available":true,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[{"billing_operation_path":"","current_value":0,"id":"c4ac6ef1-b6ff-4b49-b429-f7662f600ea2","max_value":1000,"min_value":1,"name":"email_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"0262a5ad-9758-4c85-bc01-fc094f04376b","max_value":8,"min_value":1,"name":"vcpu_count","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":0,"id":"d55130d5-33b0-4bd5-9e62-ca7cb91e04cb","max_value":16,"min_value":1,"name":"ram_gb","price":{"currency_code":"EUR","nanos":0,"units":1},"quota_warning":"unknown_warning"},{"billing_operation_path":"","cu[...]
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"offer_id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","email":"hashicorp@scaleway.com","tags":["devtools","provider","terraform"],"domain":"scaleway.com","offer_options":null,"language":"unknown_language_code"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings
        method: POST
      response:
        body: '{"created_at":"2025-02-26T14:20:32.636709407Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"3d4f873d-1e40-4016-ad87-692024ec11da","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[{"billing_operation_path":"","current_value":5,"id":"e6419570-47e2-45cc-b2fa-dd149cdd4887","max_value":12,"min_value":5,"name":"email_storage_gb","price":{"currency_code":"EUR","nanos":150000000,"units":0},"quota_warning":"unknown_warning"},{"billing_operation_path":"","current_value":1,"id":"d75904fc-0e0a-46d[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/3d4f873d-1e40-4016-ad87-692024ec11da
        method: GET
      response:
        body: '{"created_at":"2025-02-26T14:20:32.636709Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"3d4f873d-1e40-4016-ad87-692024ec11da","ipv4":"","offer":{"available":false,"billing_operat[...]
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/3d4f873d-1e40-4016-ad87-692024ec11da
        method: DELETE
      response:
        body: '{"created_at":"2025-02-26T14:20:32.636709Z","dns_status":"unknown_status","domain":"scaleway.com","domain_status":"unknown_status","id":"3d4f873d-1e40-4016-ad87-692024ec11da","ipv4":"","offer":{"available":false,"billing_operation_path":"/webhosting/lite/fr-par","control_panel_name":"cpanel","end_of_life":false,"id":"f5c2ae8f-7625-4bca-b711-b44bb3d08694","name":"lite","options":[],"price":{"currency_code":"EUR","nanos":990000000,"units":5},"quota_warning":"unknown_warning"},"platform":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"region":"fr-par","status":"deleting","tags":["devtools","provider","terraform"],"updated_at":"2025-02-26T14:20:51.428016405Z","user":{"contact_email":"hashicorp@scaleway.com","username":"cpe0002614"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.008ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/webhosting/v1/regions/fr-par/hostings/3d4f873d-1e40-4016-ad87-692024ec11da
        method: GET
      response:
        body: '{"message":"hosting 3d4f873d-1e40-4016-ad87-692024ec11da not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 89.173083ms
[...]
