---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-7730601960167291470","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-11-20T17:12:11.077217Z","description":"","id":"34d2fe72-8617-43f5-b791-b3cd71171323","name":"test-acc-scaleway-project-7730601960167291470","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","updated_at":"2024-11-20T17:12:11.077217Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.544625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-4832212161549611038","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-11-20T17:12:11.288528Z","deletable":true,"description":"","editable":true,"id":"68c523de-a586-416e-9e58-3d2df4147728","managed":false,"name":"test-acc-scaleway-iam-app-4832212161549611038","nb_api_keys":0,"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"updated_at":"2024-11-20T17:12:11.288528Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.576375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-6560562366715545918","description":"","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["34d2fe72-8617-43f5-b791-b3cd71171323"]}],"tags":null,"application_id":"68c523de-a586-416e-9e58-3d2df4147728"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"68c523de-a586-416e-9e58-3d2df4147728","created_at":"2024-11-20T17:12:11.380464Z","deletable":true,"description":"","editable":true,"id":"098d68f9-3e08-496e-a1a0-7f2ac44f85af","managed":false,"name":"test-acc-scaleway-iam-policy-6560562366715545918","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"updated_at":"2024-11-20T17:12:11.380464Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.45675ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"68c523de-a586-416e-9e58-3d2df4147728","default_project_id":"34d2fe72-8617-43f5-b791-b3cd71171323","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWQAHFX9BFP4NAVPDQH","application_id":"68c523de-a586-416e-9e58-3d2df4147728","created_at":"2024-11-20T17:12:11.530470Z","creation_ip":"51.159.46.153","default_project_id":"34d2fe72-8617-43f5-b791-b3cd71171323","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-11-20T17:12:11.530470Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.963375ms
