---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-9211306882697052391","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-09-13T09:09:05.415422Z","description":"","id":"f39ade7b-1118-4865-aa1b-5397e06c2562","name":"test-acc-scaleway-project-9211306882697052391","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-09-13T09:09:05.415422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 428.20375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-5743891139228047703","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-09-13T09:09:05.819855Z","description":"","editable":true,"id":"eb19139a-7ea4-451d-8b85-a85a74de8dd6","name":"test-acc-scaleway-iam-app-5743891139228047703","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-09-13T09:09:05.819855Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.3725ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-202931353539842865","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["f39ade7b-1118-4865-aa1b-5397e06c2562"]}],"tags":null,"application_id":"eb19139a-7ea4-451d-8b85-a85a74de8dd6"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"eb19139a-7ea4-451d-8b85-a85a74de8dd6","created_at":"2024-09-13T09:09:05.941630Z","description":"","editable":true,"id":"c25621cf-ed90-495f-9d9f-6f803e5c2f97","name":"test-acc-scaleway-iam-policy-202931353539842865","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-09-13T09:09:05.941630Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.714834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"eb19139a-7ea4-451d-8b85-a85a74de8dd6","default_project_id":"f39ade7b-1118-4865-aa1b-5397e06c2562","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWC29G4478HQMZG6GBT","application_id":"eb19139a-7ea4-451d-8b85-a85a74de8dd6","created_at":"2024-09-13T09:09:06.195155Z","creation_ip":"51.159.73.145","default_project_id":"f39ade7b-1118-4865-aa1b-5397e06c2562","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-09-13T09:09:06.195155Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.282666ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>nl-ams</LocationConstraint></CreateBucketConfiguration>
        form: {}
        headers:
            X-Amz-Acl:
                - private
            X-Amz-Bucket-Object-Lock-Enabled:
                - "false"
            X-Amz-Content-Sha256:
                - b86017d61d4ad22a838e75e918325b623687c3e84d631bc2b6435970bf12473d
            X-Amz-Date:
                - 20240913T090906Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-4421798153966247575
            X-Amz-Request-Id:
                - txg4b153fbcfc7e44e8aae4-0066e40132
        status: 200 OK
        code: 200
        duration: 778.361666ms
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Content-Md5:
                - 1B2M2Y8AsgTpgAmY7PhCfg==
            X-Amz-Acl:
                - private
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090907Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg83f6aabe9539462b9a62-0066e40133
        status: 200 OK
        code: 200
        duration: 118.187375ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090907Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>f39ade7b-1118-4865-aa1b-5397e06c2562:f39ade7b-1118-4865-aa1b-5397e06c2562</DisplayName><ID>f39ade7b-1118-4865-aa1b-5397e06c2562:f39ade7b-1118-4865-aa1b-5397e06c2562</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>f39ade7b-1118-4865-aa1b-5397e06c2562:f39ade7b-1118-4865-aa1b-5397e06c2562</ID><DisplayName>f39ade7b-1118-4865-aa1b-5397e06c2562:f39ade7b-1118-4865-aa1b-5397e06c2562</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4c92e90d8f84496890ea-0066e40133
        status: 200 OK
        code: 200
        duration: 53.60225ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090907Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6c559d6b33084cee90dc-0066e40133</RequestId><HostId>txg6c559d6b33084cee90dc-0066e40133</HostId><Resource>/tf-tests-scaleway-object-bucket-4421798153966247575</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6c559d6b33084cee90dc-0066e40133
        status: 404 Not Found
        code: 404
        duration: 51.409875ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090907Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-4421798153966247575</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc75d791ea2524f6b9bb9-0066e40133
        status: 200 OK
        code: 200
        duration: 139.420583ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090907Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg82d0290cb98b41a09753-0066e40134</RequestId><HostId>txg82d0290cb98b41a09753-0066e40134</HostId><Resource>/tf-tests-scaleway-object-bucket-4421798153966247575</Resource><BucketName>tf-tests-scaleway-object-bucket-4421798153966247575</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg82d0290cb98b41a09753-0066e40134
        status: 404 Not Found
        code: 404
        duration: 56.593667ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090908Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgb04f0bb66d6243b198cf-0066e40134</RequestId><HostId>txgb04f0bb66d6243b198cf-0066e40134</HostId><Resource>/tf-tests-scaleway-object-bucket-4421798153966247575</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb04f0bb66d6243b198cf-0066e40134
        status: 404 Not Found
        code: 404
        duration: 36.564083ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090908Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg125236dee4d34a52b52f-0066e40134
        status: 200 OK
        code: 200
        duration: 76.8215ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090908Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg9fd9af808f8646cdbc61-0066e40134</RequestId><HostId>txg9fd9af808f8646cdbc61-0066e40134</HostId><Resource>/tf-tests-scaleway-object-bucket-4421798153966247575</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9fd9af808f8646cdbc61-0066e40134
        status: 404 Not Found
        code: 404
        duration: 108.344209ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20240913T090908Z
        url: https://tf-tests-scaleway-object-bucket-4421798153966247575.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg662d680721a64b178679-0066e40134
        status: 200 OK
        code: 200
        duration: 57.825292ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWC29G4478HQMZG6GBT
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 307.502417ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/c25621cf-ed90-495f-9d9f-6f803e5c2f97
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 99.782208ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/eb19139a-7ea4-451d-8b85-a85a74de8dd6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 87.843458ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f39ade7b-1118-4865-aa1b-5397e06c2562
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.188249833s
