---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-1127201147349773707","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-01-07T10:39:46.557690Z","description":"","id":"c95cffd2-b3de-48f9-89f3-13b7d3de0191","name":"tf-test-scaleway-project-1127201147349773707","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-01-07T10:39:46.557690Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.74089ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-9003025089986164895","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-01-07T10:39:47.065079Z","deletable":true,"description":"","editable":true,"id":"282b5c44-e4a9-47c2-9196-1eb8c9c56c2d","managed":false,"name":"tf-test-scaleway-iam-app-9003025089986164895","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-01-07T10:39:47.065079Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.994024ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1786111244645138222","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["c95cffd2-b3de-48f9-89f3-13b7d3de0191"]}],"tags":null,"application_id":"282b5c44-e4a9-47c2-9196-1eb8c9c56c2d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"282b5c44-e4a9-47c2-9196-1eb8c9c56c2d","created_at":"2026-01-07T10:39:47.246546Z","deletable":true,"description":"","editable":true,"id":"bd6337d0-da63-4f96-8308-a2732b38de9a","managed":false,"name":"tf-test-scaleway-iam-policy-1786111244645138222","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-01-07T10:39:47.246546Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.307582ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"282b5c44-e4a9-47c2-9196-1eb8c9c56c2d","default_project_id":"c95cffd2-b3de-48f9-89f3-13b7d3de0191","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW3EAQKJ1JDE0BBJQ96","application_id":"282b5c44-e4a9-47c2-9196-1eb8c9c56c2d","created_at":"2026-01-07T10:39:47.575700Z","creation_ip":"51.159.46.153","default_project_id":"c95cffd2-b3de-48f9-89f3-13b7d3de0191","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-01-07T10:39:47.575700Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 368.544288ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f6ced8d9-c92e-4133-8e8a-b24e2fa15d6e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103948Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-188922311385757337
            X-Amz-Request-Id:
                - txg50369da0c35d49ab99ee-00695e37f4
        status: 200 OK
        code: 200
        duration: 932.108819ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 911902f6-5cfc-4efe-a425-4c31f26b76c7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103949Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg56ddb730533b48369bd4-00695e37f5
        status: 200 OK
        code: 200
        duration: 368.300846ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 01f8ef69-5225-4e1f-aa12-bcfc27c4592e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103949Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg93dad9f6a7de43369a08-00695e37f5
        status: 200 OK
        code: 200
        duration: 96.977035ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 88b75493-b35f-413d-91cf-cab15b524295
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103949Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg921309f508b444e2b421-00695e37f5</RequestId><HostId>txg921309f508b444e2b421-00695e37f5</HostId><Resource>/test-acc-scaleway-object-bucket-188922311385757337</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg921309f508b444e2b421-00695e37f5
        status: 404 Not Found
        code: 404
        duration: 106.002332ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ce8157ca-a318-4fad-9264-b21f3de9e01a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103949Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-188922311385757337</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge0d420ca5a1548c1b31b-00695e37f5
        status: 200 OK
        code: 200
        duration: 285.900695ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0b9eeff9-364a-4813-aa00-55aad43a36ce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103949Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgdb35d810c75744f09eaf-00695e37f5</RequestId><HostId>txgdb35d810c75744f09eaf-00695e37f5</HostId><Resource>/test-acc-scaleway-object-bucket-188922311385757337</Resource><BucketName>test-acc-scaleway-object-bucket-188922311385757337</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgdb35d810c75744f09eaf-00695e37f5
        status: 404 Not Found
        code: 404
        duration: 62.306746ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 30b32eca-32bb-4997-98f8-cf23293b4fc7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103949Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgb53d0b0db4d64ba8aca0-00695e37f6</RequestId><HostId>txgb53d0b0db4d64ba8aca0-00695e37f6</HostId><Resource>/test-acc-scaleway-object-bucket-188922311385757337</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb53d0b0db4d64ba8aca0-00695e37f6
        status: 404 Not Found
        code: 404
        duration: 64.723199ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2b6d65e9-d9c4-4775-8fd5-2cb3ca7ab14a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103950Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf8052064ec00416bb8aa-00695e37f6
        status: 200 OK
        code: 200
        duration: 104.827725ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4295835e-aff4-41a3-804a-dbbcf6ef1bf8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103950Z
        url: https://test-acc-scaleway-object-bucket-188922311385757337.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgd714a7a3c43a4bd59679-00695e37f6</RequestId><HostId>txgd714a7a3c43a4bd59679-00695e37f6</HostId><Resource>/test-acc-scaleway-object-bucket-188922311385757337</Resource><BucketName>test-acc-scaleway-object-bucket-188922311385757337</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd714a7a3c43a4bd59679-00695e37f6
        status: 404 Not Found
        code: 404
        duration: 30.806151ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW3EAQKJ1JDE0BBJQ96
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 158.413418ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/bd6337d0-da63-4f96-8308-a2732b38de9a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 202.068187ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/282b5c44-e4a9-47c2-9196-1eb8c9c56c2d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 240.395381ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c95cffd2-b3de-48f9-89f3-13b7d3de0191
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 8.445849411s
