---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-6216847459157797164\",\"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"e66769d5-02fd-4060-b9f9-4941f0ff1e52\", \"name\":\"test-acc-scaleway-project-6216847459157797164\", \"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\", \"created_at\":\"2025-11-04T10:57:40.167768Z\", \"updated_at\":\"2025-11-04T10:57:40.167768Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 424.351125ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-7801074115524579740\",\"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"e9b017ed-46e7-40b8-97e6-413d8933b27b\", \"name\":\"test-acc-scaleway-iam-app-7801074115524579740\", \"description\":\"\", \"created_at\":\"2025-11-04T10:57:40.540589Z\", \"updated_at\":\"2025-11-04T10:57:40.540589Z\", \"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 94.8785ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-8036015914716908766\",\"description\":\"\",\"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\",\"rules\":[{\"permission_set_names\":[\"ObjectStorageReadOnly\",\"ObjectStorageObjectsRead\",\"ObjectStorageBucketsRead\"],\"condition\":\"\",\"project_ids\":[\"e66769d5-02fd-4060-b9f9-4941f0ff1e52\"]}],\"tags\":null,\"application_id\":\"e9b017ed-46e7-40b8-97e6-413d8933b27b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"752d59f8-e983-4763-9c0a-d4db210897c1\", \"name\":\"test-acc-scaleway-iam-policy-8036015914716908766\", \"description\":\"\", \"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\", \"created_at\":\"2025-11-04T10:57:40.624707Z\", \"updated_at\":\"2025-11-04T10:57:40.624707Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"e9b017ed-46e7-40b8-97e6-413d8933b27b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.601ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"e9b017ed-46e7-40b8-97e6-413d8933b27b\",\"default_project_id\":\"e66769d5-02fd-4060-b9f9-4941f0ff1e52\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWXMWZHS5VT0WZ2F7DK\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-04T10:57:40.845596Z\", \"updated_at\":\"2025-11-04T10:57:40.845596Z\", \"expires_at\":null, \"default_project_id\":\"e66769d5-02fd-4060-b9f9-4941f0ff1e52\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"86.246.242.201\", \"application_id\":\"e9b017ed-46e7-40b8-97e6-413d8933b27b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 101.18125ms
- id: 4
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - fde1fde5-333d-4e96-a100-ef6e78681d0d
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105747Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /tf-tests-scaleway-object-bucket-8831514410256069583
      X-Amz-Request-Id:
      - txg3be2722acb864ab0b186-006909dc2b
    status: 200 OK
    code: 200
    duration: 4.828473333s
- id: 5
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - ac1e58f6-d383-494e-9d93-fbf6bc6a6cc3
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105752Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg3a5fcc849d5f4e10a88e-006909dc30
    status: 200 OK
    code: 200
    duration: 207.474125ms
- id: 6
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 04438f52-dc2a-4aea-8c30-f821cc332d43
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105752Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>e66769d5-02fd-4060-b9f9-4941f0ff1e52:e66769d5-02fd-4060-b9f9-4941f0ff1e52</DisplayName><ID>e66769d5-02fd-4060-b9f9-4941f0ff1e52:e66769d5-02fd-4060-b9f9-4941f0ff1e52</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>e66769d5-02fd-4060-b9f9-4941f0ff1e52:e66769d5-02fd-4060-b9f9-4941f0ff1e52</ID><DisplayName>e66769d5-02fd-4060-b9f9-4941f0ff1e52:e66769d5-02fd-4060-b9f9-4941f0ff1e52</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg00b700acee914b92b786-006909dc30
    status: 200 OK
    code: 200
    duration: 169.972708ms
- id: 7
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - eb58c834-d026-4340-aeaf-1fde1e775a22
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105752Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgd8053fa24f6d480a9ad7-006909dc30</RequestId><HostId>txgd8053fa24f6d480a9ad7-006909dc30</HostId><Resource>/tf-tests-scaleway-object-bucket-8831514410256069583</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgd8053fa24f6d480a9ad7-006909dc30
    status: 404 Not Found
    code: 404
    duration: 127.192083ms
- id: 8
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 9616f9e2-73bb-4e64-a93d-8f0403fbeb7c
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105752Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-8831514410256069583</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg3d83169344414981b6fa-006909dc30
    status: 200 OK
    code: 200
    duration: 346.143166ms
- id: 9
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 3139c62a-7132-4421-a474-4c3404bc07bc
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105752Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg01ce60f2559f4dda9db1-006909dc30</RequestId><HostId>txg01ce60f2559f4dda9db1-006909dc30</HostId><Resource>/tf-tests-scaleway-object-bucket-8831514410256069583</Resource><BucketName>tf-tests-scaleway-object-bucket-8831514410256069583</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg01ce60f2559f4dda9db1-006909dc30
    status: 404 Not Found
    code: 404
    duration: 60.867792ms
- id: 10
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 1c11bf02-f656-45e7-b383-de71117d900b
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105752Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg911336abeb404ac29c82-006909dc30</RequestId><HostId>txg911336abeb404ac29c82-006909dc30</HostId><Resource>/tf-tests-scaleway-object-bucket-8831514410256069583</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg911336abeb404ac29c82-006909dc30
    status: 404 Not Found
    code: 404
    duration: 125.265834ms
- id: 11
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 265ed520-7b36-4a1d-b10d-01163350bbec
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105753Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg656b2de782a84801890a-006909dc31
    status: 200 OK
    code: 200
    duration: 182.351084ms
- id: 12
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 9a96a338-45ef-48a7-aaf6-52b26990000e
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105753Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg246d28d5c0874cb88605-006909dc31</RequestId><HostId>txg246d28d5c0874cb88605-006909dc31</HostId><Resource>/tf-tests-scaleway-object-bucket-8831514410256069583</Resource><BucketName>tf-tests-scaleway-object-bucket-8831514410256069583</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg246d28d5c0874cb88605-006909dc31
    status: 404 Not Found
    code: 404
    duration: 135.746625ms
- id: 13
  request:
    host: tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - a8bbf570-7ac5-4804-ad65-5868d96c0e91
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105753Z
    url: https://tf-tests-scaleway-object-bucket-8831514410256069583.s3.nl-ams.scw.cloud/
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - nl-ams
      X-Amz-Request-Id:
      - txg206ec969e86f47179a3d-006909dc31
    status: 200 OK
    code: 200
    duration: 125.829625ms
[...]
- id: 49
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 61.8045ms
- id: 50
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/752d59f8-e983-4763-9c0a-d4db210897c1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 59.696458ms
- id: 51
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/e9b017ed-46e7-40b8-97e6-413d8933b27b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 45.836791ms
- id: 52
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/e66769d5-02fd-4060-b9f9-4941f0ff1e52
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.127660875s
