---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-9218381706652075039","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-22T09:45:26.661566Z","description":"","id":"c686f0b4-ca5f-4a0a-b344-8ae0358fc223","name":"tf-test-scaleway-project-9218381706652075039","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-07-22T09:45:26.661566Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.784375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-7507695999812025454","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-07-22T09:45:26.911336Z","deletable":true,"description":"","editable":true,"id":"c23ed026-5ee2-4c6d-b4be-c10964487fa3","managed":false,"name":"tf-test-scaleway-iam-app-7507695999812025454","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-07-22T09:45:26.911336Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.304917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-4430977196222826249","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["c686f0b4-ca5f-4a0a-b344-8ae0358fc223"]}],"tags":null,"application_id":"c23ed026-5ee2-4c6d-b4be-c10964487fa3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"c23ed026-5ee2-4c6d-b4be-c10964487fa3","created_at":"2026-07-22T09:45:27.004343Z","deletable":true,"description":"","editable":true,"id":"975a51c5-4246-4956-b560-0aed44862663","managed":false,"name":"tf-test-scaleway-iam-policy-4430977196222826249","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-07-22T09:45:27.004343Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.087458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"c23ed026-5ee2-4c6d-b4be-c10964487fa3","default_project_id":"c686f0b4-ca5f-4a0a-b344-8ae0358fc223","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW9V1SH1GZRT090FWTA","application_id":"c23ed026-5ee2-4c6d-b4be-c10964487fa3","created_at":"2026-07-22T09:45:27.148060Z","creation_ip":"88.191.65.229","default_project_id":"c686f0b4-ca5f-4a0a-b344-8ae0358fc223","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-07-22T09:45:27.148060Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.607209ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 38a23384-f81e-4e57-805f-48996c1d9e6c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094527Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-6134905886279811395
            X-Amz-Request-Id:
                - txg7028e1f5adfb4981b969-006a609138
        status: 200 OK
        code: 200
        duration: 5.298803583s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e813fdad-25e0-4d81-99fa-85a7b73c3cc3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094533Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg01577da65db64450bd72-006a60913d
        status: 200 OK
        code: 200
        duration: 643.321541ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8295dfae-eeda-4b05-98ed-c75caadaa9ad
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094533Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>c686f0b4-ca5f-4a0a-b344-8ae0358fc223:c686f0b4-ca5f-4a0a-b344-8ae0358fc223</DisplayName><ID>c686f0b4-ca5f-4a0a-b344-8ae0358fc223:c686f0b4-ca5f-4a0a-b344-8ae0358fc223</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>c686f0b4-ca5f-4a0a-b344-8ae0358fc223:c686f0b4-ca5f-4a0a-b344-8ae0358fc223</ID><DisplayName>c686f0b4-ca5f-4a0a-b344-8ae0358fc223:c686f0b4-ca5f-4a0a-b344-8ae0358fc223</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3399a290f24e42859982-006a60913d
        status: 200 OK
        code: 200
        duration: 191.063959ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6fa34709-fc69-4047-b14c-569b34697902
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094533Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg2ff5c563488046a3b154-006a60913e</RequestId><HostId>txg2ff5c563488046a3b154-006a60913e</HostId><Resource>/tf-tests-scaleway-object-bucket-6134905886279811395</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2ff5c563488046a3b154-006a60913e
        status: 404 Not Found
        code: 404
        duration: 207.714625ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d419477c-1741-498f-93b8-101124ba1d63
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094534Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-6134905886279811395</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd257076bec8548d097ca-006a60913e
        status: 200 OK
        code: 200
        duration: 222.004875ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - eb90e720-a7fd-4dcf-93fc-6a5d48531df5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094534Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgea6bab8e957c4b5bb824-006a60913e</RequestId><HostId>txgea6bab8e957c4b5bb824-006a60913e</HostId><Resource>/tf-tests-scaleway-object-bucket-6134905886279811395</Resource><BucketName>tf-tests-scaleway-object-bucket-6134905886279811395</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgea6bab8e957c4b5bb824-006a60913e
        status: 404 Not Found
        code: 404
        duration: 116.870708ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 68c521ea-fdaa-4bd6-b610-8677d6eb2eef
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094534Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg1f2ff4e137a045b8b51f-006a60913e</RequestId><HostId>txg1f2ff4e137a045b8b51f-006a60913e</HostId><Resource>/tf-tests-scaleway-object-bucket-6134905886279811395</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1f2ff4e137a045b8b51f-006a60913e
        status: 404 Not Found
        code: 404
        duration: 178.453667ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9954823d-12ee-4f29-adda-bd88ec6ba90d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094534Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5917fc1d265b4118a344-006a60913e
        status: 200 OK
        code: 200
        duration: 130.655083ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 04b0b0a6-24e0-4f5a-abfb-30dd60443b0a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094534Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg4a21b1a30b8241b9b955-006a60913e</RequestId><HostId>txg4a21b1a30b8241b9b955-006a60913e</HostId><Resource>/tf-tests-scaleway-object-bucket-6134905886279811395</Resource><BucketName>tf-tests-scaleway-object-bucket-6134905886279811395</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4a21b1a30b8241b9b955-006a60913e
        status: 404 Not Found
        code: 404
        duration: 702.54025ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4dade3ff-5fa8-4c15-8dfd-fd9883facbc0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094535Z
        url: https://tf-tests-scaleway-object-bucket-6134905886279811395.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg3113bdbfbc824fafbcee-006a60913f
        status: 200 OK
        code: 200
        duration: 128.875959ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW9V1SH1GZRT090FWTA
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.393125ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/975a51c5-4246-4956-b560-0aed44862663
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.189ms
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/c23ed026-5ee2-4c6d-b4be-c10964487fa3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.517042ms
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/c686f0b4-ca5f-4a0a-b344-8ae0358fc223
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.954514083s
