---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-8735164078827003367","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-11-20T17:12:10.542629Z","description":"","id":"d6aa4b81-f25a-4d10-9fbd-ca323c26e766","name":"test-acc-scaleway-project-8735164078827003367","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","updated_at":"2024-11-20T17:12:10.542629Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.485333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-7251326905639940603","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-11-20T17:12:10.769721Z","deletable":true,"description":"","editable":true,"id":"0977aaba-fd50-40ae-8a78-9e2faced54ec","managed":false,"name":"test-acc-scaleway-iam-app-7251326905639940603","nb_api_keys":0,"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"updated_at":"2024-11-20T17:12:10.769721Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.624458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-292408110175621661","description":"","organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["d6aa4b81-f25a-4d10-9fbd-ca323c26e766"]}],"tags":null,"application_id":"0977aaba-fd50-40ae-8a78-9e2faced54ec"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"0977aaba-fd50-40ae-8a78-9e2faced54ec","created_at":"2024-11-20T17:12:10.851363Z","deletable":true,"description":"","editable":true,"id":"06a76648-d07a-4ffa-aba9-82d6105fdbfb","managed":false,"name":"test-acc-scaleway-iam-policy-292408110175621661","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"d3520a52-2c75-4ba0-bda8-82dd087f07f2","tags":[],"updated_at":"2024-11-20T17:12:10.851363Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.9195ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"0977aaba-fd50-40ae-8a78-9e2faced54ec","default_project_id":"d6aa4b81-f25a-4d10-9fbd-ca323c26e766","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWDD6RGX8DJQAT9AS17","application_id":"0977aaba-fd50-40ae-8a78-9e2faced54ec","created_at":"2024-11-20T17:12:10.983939Z","creation_ip":"51.159.46.153","default_project_id":"d6aa4b81-f25a-4d10-9fbd-ca323c26e766","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-11-20T17:12:10.983939Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.119084ms
