---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-3031766364170070885","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-02-10T16:45:15.123472Z","description":"","id":"2a61c6d5-cacf-4d3b-a2d6-7fcb5c4ab6a6","name":"test-acc-scaleway-project-3031766364170070885","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-02-10T16:45:15.123472Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.913041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-2043983617285537821","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-02-10T16:45:15.462271Z","deletable":true,"description":"","editable":true,"id":"65f08a12-df0c-4f45-9b90-88de1cac604a","managed":false,"name":"test-acc-scaleway-iam-app-2043983617285537821","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T16:45:15.462271Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.872292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-7786672979526142586","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["2a61c6d5-cacf-4d3b-a2d6-7fcb5c4ab6a6"]}],"tags":null,"application_id":"65f08a12-df0c-4f45-9b90-88de1cac604a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"65f08a12-df0c-4f45-9b90-88de1cac604a","created_at":"2025-02-10T16:45:15.632438Z","deletable":true,"description":"","editable":true,"id":"82884b61-c674-4dfd-898a-67ba43952fed","managed":false,"name":"test-acc-scaleway-iam-policy-7786672979526142586","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T16:45:15.632438Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.540833ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"65f08a12-df0c-4f45-9b90-88de1cac604a","default_project_id":"2a61c6d5-cacf-4d3b-a2d6-7fcb5c4ab6a6","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW0SQH5759826YPQKTG","application_id":"65f08a12-df0c-4f45-9b90-88de1cac604a","created_at":"2025-02-10T16:45:15.900771Z","creation_ip":"51.159.73.145","default_project_id":"2a61c6d5-cacf-4d3b-a2d6-7fcb5c4ab6a6","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-02-10T16:45:15.900771Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.496792ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4644aee4-c82a-4098-b95f-c1deecd4bdb7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164559Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-5740839451227277755
            X-Amz-Request-Id:
                - txg920e19382ffb4672bd38-0067aa2d48
        status: 200 OK
        code: 200
        duration: 1.245554834s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c5f54575-bf2c-47ea-8b87-68bc5155e4a8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164600Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg9499464dfe8d4b9eab53-0067aa2d48
        status: 200 OK
        code: 200
        duration: 213.468583ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8d731613-9f2b-4bc7-bb38-3d8bbc7ca385
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164600Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2aa94c83bab5464ead42-0067aa2d49
        status: 200 OK
        code: 200
        duration: 169.738208ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6059d42e-dfc9-4aad-b46e-2fe265d7a49a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164600Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg039fd33daccb4bb39f88-0067aa2d49</RequestId><HostId>txg039fd33daccb4bb39f88-0067aa2d49</HostId><Resource>/test-acc-scaleway-object-bucket-5740839451227277755</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg039fd33daccb4bb39f88-0067aa2d49
        status: 404 Not Found
        code: 404
        duration: 93.548166ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6aff5c42-6744-4cc9-8388-66565bf8c222
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-5740839451227277755</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7323c421ec5040619ea2-0067aa2d49
        status: 200 OK
        code: 200
        duration: 193.579875ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9ee8723d-9a93-448b-bbd8-b866b5783d29
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg2553cad3799d417f82ae-0067aa2d49</RequestId><HostId>txg2553cad3799d417f82ae-0067aa2d49</HostId><Resource>/test-acc-scaleway-object-bucket-5740839451227277755</Resource><BucketName>test-acc-scaleway-object-bucket-5740839451227277755</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2553cad3799d417f82ae-0067aa2d49
        status: 404 Not Found
        code: 404
        duration: 85.834042ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7e730d3c-d2b8-4a25-9ef8-8b601ea14e59
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge117d756ab4d46bdba81-0067aa2d49</RequestId><HostId>txge117d756ab4d46bdba81-0067aa2d49</HostId><Resource>/test-acc-scaleway-object-bucket-5740839451227277755</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge117d756ab4d46bdba81-0067aa2d49
        status: 404 Not Found
        code: 404
        duration: 122.742708ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 99e7e87b-6478-4f31-8c67-d4afe97979a4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4e29864ac55f4eb6bc7c-0067aa2d49
        status: 200 OK
        code: 200
        duration: 201.593625ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f3a729f2-eb23-4892-b707-e704282f6642
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://test-acc-scaleway-object-bucket-5740839451227277755.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg4d8e5a59bf334961850b-0067aa2d49</RequestId><HostId>txg4d8e5a59bf334961850b-0067aa2d49</HostId><Resource>/test-acc-scaleway-object-bucket-5740839451227277755</Resource><BucketName>test-acc-scaleway-object-bucket-5740839451227277755</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4d8e5a59bf334961850b-0067aa2d49
        status: 404 Not Found
        code: 404
        duration: 124.476875ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW0SQH5759826YPQKTG
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 322.252ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/82884b61-c674-4dfd-898a-67ba43952fed
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 157.225ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/65f08a12-df0c-4f45-9b90-88de1cac604a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 149.58825ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/2a61c6d5-cacf-4d3b-a2d6-7fcb5c4ab6a6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.3776585s
