---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-836861259226471223","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-02-10T13:58:28.686488Z","description":"","id":"6bebac3b-02aa-48e0-8b27-53dc6ebb7cec","name":"test-acc-scaleway-project-836861259226471223","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-02-10T13:58:28.686488Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.433678292s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-2430356943244479743","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-02-10T13:58:29.566002Z","deletable":true,"description":"","editable":true,"id":"d08a8db0-75ce-40f9-ba59-34f141754bc2","managed":false,"name":"test-acc-scaleway-iam-app-2430356943244479743","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T13:58:29.566002Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.167458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-1329670533012414563","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["6bebac3b-02aa-48e0-8b27-53dc6ebb7cec"]}],"tags":null,"application_id":"d08a8db0-75ce-40f9-ba59-34f141754bc2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"d08a8db0-75ce-40f9-ba59-34f141754bc2","created_at":"2025-02-10T13:58:29.877152Z","deletable":true,"description":"","editable":true,"id":"c50b9e62-ff05-4b31-8438-a9604741702c","managed":false,"name":"test-acc-scaleway-iam-policy-1329670533012414563","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T13:58:29.877152Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.030167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"d08a8db0-75ce-40f9-ba59-34f141754bc2","default_project_id":"6bebac3b-02aa-48e0-8b27-53dc6ebb7cec","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW977ETKQSVY6V1D2M0","application_id":"d08a8db0-75ce-40f9-ba59-34f141754bc2","created_at":"2025-02-10T13:58:30.279657Z","creation_ip":"51.159.73.9","default_project_id":"6bebac3b-02aa-48e0-8b27-53dc6ebb7cec","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-02-10T13:58:30.279657Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.103959ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8c06461f-b7ca-450f-ae8b-cb492f21564f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135858Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-8963073799176534659
            X-Amz-Request-Id:
                - txg44e9fc213dd34f9c8a39-0067aa0623
        status: 200 OK
        code: 200
        duration: 1.492589667s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 28024830-775b-471d-8e0a-9c364bbbb8ec
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135900Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg1d4e25da13fa4649b6de-0067aa0624
        status: 200 OK
        code: 200
        duration: 297.549416ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - feffe226-04a5-4bc5-8846-240ad94b9b0c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135900Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>6bebac3b-02aa-48e0-8b27-53dc6ebb7cec:6bebac3b-02aa-48e0-8b27-53dc6ebb7cec</DisplayName><ID>6bebac3b-02aa-48e0-8b27-53dc6ebb7cec:6bebac3b-02aa-48e0-8b27-53dc6ebb7cec</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>6bebac3b-02aa-48e0-8b27-53dc6ebb7cec:6bebac3b-02aa-48e0-8b27-53dc6ebb7cec</ID><DisplayName>6bebac3b-02aa-48e0-8b27-53dc6ebb7cec:6bebac3b-02aa-48e0-8b27-53dc6ebb7cec</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgdbf935c87fb645abb730-0067aa0624
        status: 200 OK
        code: 200
        duration: 209.463792ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b5de4da3-a7b7-4a9b-80eb-8fa8b39ad7b6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135900Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgf46155b996d84d1bbfb0-0067aa0625</RequestId><HostId>txgf46155b996d84d1bbfb0-0067aa0625</HostId><Resource>/tf-tests-scaleway-object-bucket-8963073799176534659</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf46155b996d84d1bbfb0-0067aa0625
        status: 404 Not Found
        code: 404
        duration: 298.684ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b807da96-108c-4c76-93c1-3d3f9c13d805
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135901Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-8963073799176534659</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgcffe1f3c4366485899af-0067aa0625
        status: 200 OK
        code: 200
        duration: 314.054209ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bcb4edba-d678-4c49-b902-18a1a01d4520
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135901Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg323e0091e515449da894-0067aa0625</RequestId><HostId>txg323e0091e515449da894-0067aa0625</HostId><Resource>/tf-tests-scaleway-object-bucket-8963073799176534659</Resource><BucketName>tf-tests-scaleway-object-bucket-8963073799176534659</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg323e0091e515449da894-0067aa0625
        status: 404 Not Found
        code: 404
        duration: 325.915167ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a2cd1712-56e4-4329-9052-040affda0737
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135901Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge154eb6885e24fe09fa0-0067aa0626</RequestId><HostId>txge154eb6885e24fe09fa0-0067aa0626</HostId><Resource>/tf-tests-scaleway-object-bucket-8963073799176534659</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge154eb6885e24fe09fa0-0067aa0626
        status: 404 Not Found
        code: 404
        duration: 504.432041ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2ae56e97-e428-4e59-90d0-3faadd03e5f8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135902Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3742e68da207464abcf3-0067aa0626
        status: 200 OK
        code: 200
        duration: 651.515959ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 365f1a20-4f37-4a05-8f09-a57756ee540c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135902Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgc211493a461d45dba1bb-0067aa0627</RequestId><HostId>txgc211493a461d45dba1bb-0067aa0627</HostId><Resource>/tf-tests-scaleway-object-bucket-8963073799176534659</Resource><BucketName>tf-tests-scaleway-object-bucket-8963073799176534659</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc211493a461d45dba1bb-0067aa0627
        status: 404 Not Found
        code: 404
        duration: 648.310584ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6aa34d00-f1a9-4893-8e9c-1d5a2101272a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135903Z
        url: https://tf-tests-scaleway-object-bucket-8963073799176534659.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg630b8397528449e6bbb4-0067aa0628
        status: 200 OK
        code: 200
        duration: 577.96425ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW977ETKQSVY6V1D2M0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 174.396583ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/c50b9e62-ff05-4b31-8438-a9604741702c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 142.148666ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/d08a8db0-75ce-40f9-ba59-34f141754bc2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 243.94975ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6bebac3b-02aa-48e0-8b27-53dc6ebb7cec
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.432868625s
