---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-3317111378686892384\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"55a9ddd2-a473-4c85-bd8e-63d803e56152\",\"name\":\"test-acc-scaleway-project-3317111378686892384\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:35:22.390798Z\",\"updated_at\":\"2025-09-03T15:35:22.390798Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 439.704592ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-7464894748330068516\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"fed97c1a-3dd3-4473-a0fb-8ee5ba4fac8a\",\"name\":\"test-acc-scaleway-iam-app-7464894748330068516\",\"description\":\"\",\"created_at\":\"2025-09-03T15:35:22.773027Z\",\"updated_at\":\"2025-09-03T15:35:22.773027Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 172.880342ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-2295908027104645601\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"ObjectStorageReadOnly\",\"ObjectStorageObjectsRead\",\"ObjectStorageBucketsRead\"],\"condition\":\"\",\"project_ids\":[\"55a9ddd2-a473-4c85-bd8e-63d803e56152\"]}],\"tags\":null,\"application_id\":\"fed97c1a-3dd3-4473-a0fb-8ee5ba4fac8a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"b344a032-19a6-4080-88e2-d07ca4e82aea\",\"name\":\"test-acc-scaleway-iam-policy-2295908027104645601\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:35:22.956076Z\",\"updated_at\":\"2025-09-03T15:35:22.956076Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"fed97c1a-3dd3-4473-a0fb-8ee5ba4fac8a\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 221.618734ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"fed97c1a-3dd3-4473-a0fb-8ee5ba4fac8a\",\"default_project_id\":\"55a9ddd2-a473-4c85-bd8e-63d803e56152\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWZT5CRAEZ6NECJY0YE\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-03T15:35:23.255229Z\",\"updated_at\":\"2025-09-03T15:35:23.255229Z\",\"expires_at\":null,\"default_project_id\":\"55a9ddd2-a473-4c85-bd8e-63d803e56152\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"fed97c1a-3dd3-4473-a0fb-8ee5ba4fac8a\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 262.419578ms
- id: 4
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 03258777-2a09-4dff-ac22-afac22d4ef36
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153549Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /test-acc-scaleway-object-bucket-8898263881676930364
      X-Amz-Request-Id:
      - txg63507dd3e58f47419539-0068b86055
    status: 200 OK
    code: 200
    duration: 1.435143919s
- id: 5
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 6020d595-666b-4464-a36e-cce6911ea0d0
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153551Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg02d672552da4452fa0a4-0068b86057
    status: 200 OK
    code: 200
    duration: 1.072864275s
- id: 6
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 8f77816b-adcf-46f1-b41f-527de8b4db16
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153552Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg5bc9010d9d264d1b95e4-0068b86058
    status: 200 OK
    code: 200
    duration: 40.837884ms
- id: 7
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 13defea7-acc5-435d-adc9-46d7cec36137
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153552Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgb61ef7387dee40588171-0068b86058</RequestId><HostId>txgb61ef7387dee40588171-0068b86058</HostId><Resource>/test-acc-scaleway-object-bucket-8898263881676930364</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgb61ef7387dee40588171-0068b86058
    status: 404 Not Found
    code: 404
    duration: 52.681149ms
- id: 8
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - ba1612df-786c-45b5-ac66-3085210ac9b6
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153552Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-8898263881676930364</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg827719c85ced45a3b7d3-0068b86058
    status: 200 OK
    code: 200
    duration: 57.663998ms
- id: 9
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - ff3568d2-7a9a-49a0-8370-4426286d90d1
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153552Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txga180db45359f4d1e8bfe-0068b86058</RequestId><HostId>txga180db45359f4d1e8bfe-0068b86058</HostId><Resource>/test-acc-scaleway-object-bucket-8898263881676930364</Resource><BucketName>test-acc-scaleway-object-bucket-8898263881676930364</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txga180db45359f4d1e8bfe-0068b86058
    status: 404 Not Found
    code: 404
    duration: 66.937156ms
- id: 10
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 469d2242-c4b8-4c58-a366-dfd455745427
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153552Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9fa78524796d4cc98de1-0068b86058</RequestId><HostId>txg9fa78524796d4cc98de1-0068b86058</HostId><Resource>/test-acc-scaleway-object-bucket-8898263881676930364</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg9fa78524796d4cc98de1-0068b86058
    status: 404 Not Found
    code: 404
    duration: 38.863416ms
- id: 11
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 3b6b8a38-52bb-4672-8713-52198deed9d7
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153552Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txgf21ffc6ad76a49629550-0068b86058
    status: 200 OK
    code: 200
    duration: 56.476678ms
- id: 12
  request:
    host: test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - df0c490f-02a1-461d-87da-31ec1637081d
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153552Z
    url: https://test-acc-scaleway-object-bucket-8898263881676930364.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg4c0538ffc6e14e7badc3-0068b86058</RequestId><HostId>txg4c0538ffc6e14e7badc3-0068b86058</HostId><Resource>/test-acc-scaleway-object-bucket-8898263881676930364</Resource><BucketName>test-acc-scaleway-object-bucket-8898263881676930364</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg4c0538ffc6e14e7badc3-0068b86058
    status: 404 Not Found
    code: 404
    duration: 40.913967ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZT5CRAEZ6NECJY0YE
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 205.508077ms
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/b344a032-19a6-4080-88e2-d07ca4e82aea
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 162.353ms
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/fed97c1a-3dd3-4473-a0fb-8ee5ba4fac8a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 181.501606ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/55a9ddd2-a473-4c85-bd8e-63d803e56152
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.551466215s
