---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-931169454236446012","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-02-10T18:40:09.978188Z","description":"","id":"bd88e3e9-0abf-4dd3-811e-392392b9b4a5","name":"test-acc-scaleway-project-931169454236446012","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-02-10T18:40:09.978188Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 506.220167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-8211639605529904038","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-02-10T18:40:10.490389Z","deletable":true,"description":"","editable":true,"id":"223edd89-b7e3-4875-8e73-f50e33b1595c","managed":false,"name":"test-acc-scaleway-iam-app-8211639605529904038","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T18:40:10.490389Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.214375ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-7561893225660631629","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["bd88e3e9-0abf-4dd3-811e-392392b9b4a5"]}],"tags":null,"application_id":"223edd89-b7e3-4875-8e73-f50e33b1595c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"223edd89-b7e3-4875-8e73-f50e33b1595c","created_at":"2025-02-10T18:40:10.647492Z","deletable":true,"description":"","editable":true,"id":"a63d2efe-0f62-47c4-9f83-a2e20d1126fc","managed":false,"name":"test-acc-scaleway-iam-policy-7561893225660631629","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T18:40:10.647492Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.175375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"223edd89-b7e3-4875-8e73-f50e33b1595c","default_project_id":"bd88e3e9-0abf-4dd3-811e-392392b9b4a5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWJ6BBVBWBEX2V4G0VM","application_id":"223edd89-b7e3-4875-8e73-f50e33b1595c","created_at":"2025-02-10T18:40:10.973270Z","creation_ip":"51.159.73.9","default_project_id":"bd88e3e9-0abf-4dd3-811e-392392b9b4a5","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-02-10T18:40:10.973270Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.87675ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2da89a3b-296b-4843-8fde-02cfd4c428dc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184042Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-3509796438042647461
            X-Amz-Request-Id:
                - txg0e16350201744196a745-0067aa482b
        status: 200 OK
        code: 200
        duration: 729.505166ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 045a2640-46c0-412f-b423-5ad6f28ebcb2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184043Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg3146e48cdaa548bb90f3-0067aa482b
        status: 200 OK
        code: 200
        duration: 510.834625ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 334c7977-8ced-472f-9215-9206a003ea3e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg7546b857c28842948eb9-0067aa482c
        status: 200 OK
        code: 200
        duration: 97.413084ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5bb5955c-affe-4a3e-8b75-8cfaf7e9a45d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg0f1c346464474fb280ee-0067aa482c</RequestId><HostId>txg0f1c346464474fb280ee-0067aa482c</HostId><Resource>/test-acc-scaleway-object-bucket-3509796438042647461</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0f1c346464474fb280ee-0067aa482c
        status: 404 Not Found
        code: 404
        duration: 112.180417ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6331854f-0dd7-45bd-a598-ca6a0444fbf9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-3509796438042647461</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg008e747308ff4b798dde-0067aa482c
        status: 200 OK
        code: 200
        duration: 166.054792ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aaf87572-1509-48e9-ba1d-97c3c8e409e2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg18ea11ea83754d0b95d5-0067aa482c</RequestId><HostId>txg18ea11ea83754d0b95d5-0067aa482c</HostId><Resource>/test-acc-scaleway-object-bucket-3509796438042647461</Resource><BucketName>test-acc-scaleway-object-bucket-3509796438042647461</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg18ea11ea83754d0b95d5-0067aa482c
        status: 404 Not Found
        code: 404
        duration: 138.797417ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cbaec6a7-dd80-42b8-91d4-0fec200a9be4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg70c8c50f3f124a80b127-0067aa482c</RequestId><HostId>txg70c8c50f3f124a80b127-0067aa482c</HostId><Resource>/test-acc-scaleway-object-bucket-3509796438042647461</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg70c8c50f3f124a80b127-0067aa482c
        status: 404 Not Found
        code: 404
        duration: 330.571583ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 65b2f745-0a69-4e3e-8819-0bb5d4e4da9d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2b9844c77f6a40e0af88-0067aa482d
        status: 200 OK
        code: 200
        duration: 174.850584ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 875572dd-2b92-4bb3-80e1-a5474de22fe3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184045Z
        url: https://test-acc-scaleway-object-bucket-3509796438042647461.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg01819073feb9433c87ca-0067aa482d</RequestId><HostId>txg01819073feb9433c87ca-0067aa482d</HostId><Resource>/test-acc-scaleway-object-bucket-3509796438042647461</Resource><BucketName>test-acc-scaleway-object-bucket-3509796438042647461</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg01819073feb9433c87ca-0067aa482d
        status: 404 Not Found
        code: 404
        duration: 134.800375ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWJ6BBVBWBEX2V4G0VM
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 875.431667ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/a63d2efe-0f62-47c4-9f83-a2e20d1126fc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 427.288708ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/223edd89-b7e3-4875-8e73-f50e33b1595c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 188.068ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/bd88e3e9-0abf-4dd3-811e-392392b9b4a5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.61476125s
