---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-8852656855785406932","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"details":[{"current":25,"quota":25,"resource":"UsrProjectsWidth"}],"message":"quota(s) exceeded for this resource","type":"quotas_exceeded"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 350.91625ms
