---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-4957389399142472058","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-07-22T09:46:04.962773Z","description":"","id":"51ba0737-47b9-49b9-85db-5cb7948cae4f","name":"tf-test-scaleway-project-4957389399142472058","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-07-22T09:46:04.962773Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.118042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2562497814505880047","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-07-22T09:46:05.150976Z","deletable":true,"description":"","editable":true,"id":"90b6647d-7bd3-4ddc-bfad-9ae0758c3e5e","managed":false,"name":"tf-test-scaleway-iam-app-2562497814505880047","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-07-22T09:46:05.150976Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.481208ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1246706631960144507","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["51ba0737-47b9-49b9-85db-5cb7948cae4f"]}],"tags":null,"application_id":"90b6647d-7bd3-4ddc-bfad-9ae0758c3e5e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"90b6647d-7bd3-4ddc-bfad-9ae0758c3e5e","created_at":"2026-07-22T09:46:05.223790Z","deletable":true,"description":"","editable":true,"id":"9f37fc3e-5625-4dab-9346-f21a69884910","managed":false,"name":"tf-test-scaleway-iam-policy-1246706631960144507","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-07-22T09:46:05.223790Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.129959ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"90b6647d-7bd3-4ddc-bfad-9ae0758c3e5e","default_project_id":"51ba0737-47b9-49b9-85db-5cb7948cae4f","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWEQ4XE8035022NXCB1","application_id":"90b6647d-7bd3-4ddc-bfad-9ae0758c3e5e","created_at":"2026-07-22T09:46:05.338793Z","creation_ip":"88.191.65.229","default_project_id":"51ba0737-47b9-49b9-85db-5cb7948cae4f","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-07-22T09:46:05.338793Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.559ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 46b3d863-bc25-4638-9fd2-13517aa916bf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094606Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-6887960702878643338
            X-Amz-Request-Id:
                - txgd4115cb23f8542b29d14-006a60915e
        status: 200 OK
        code: 200
        duration: 5.386732292s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d178237d-b5ee-4365-b64b-4a7726f9ef2b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094611Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgcb722d11eabd437d9b83-006a609163
        status: 200 OK
        code: 200
        duration: 514.576791ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 16ccceb6-8012-40ea-8a46-06171f5e0348
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094611Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txga0d4cfad8d104525b7ac-006a609164
        status: 200 OK
        code: 200
        duration: 41.087666ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 894ecf5c-7baf-4d71-8f4a-38ede26a8a84
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094612Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg759b61235d224a138674-006a609164</RequestId><HostId>txg759b61235d224a138674-006a609164</HostId><Resource>/test-acc-scaleway-object-bucket-6887960702878643338</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg759b61235d224a138674-006a609164
        status: 404 Not Found
        code: 404
        duration: 74.419375ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 402bb508-6ee2-4a0d-b82e-fb754cfb1a27
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094612Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-6887960702878643338</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg92d94bbbb1e047fba3f5-006a609164
        status: 200 OK
        code: 200
        duration: 123.604042ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 43b4de1a-3d8e-478a-add1-039c1c45097a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094612Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg0c726f42965d48a59b63-006a609164</RequestId><HostId>txg0c726f42965d48a59b63-006a609164</HostId><Resource>/test-acc-scaleway-object-bucket-6887960702878643338</Resource><BucketName>test-acc-scaleway-object-bucket-6887960702878643338</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0c726f42965d48a59b63-006a609164
        status: 404 Not Found
        code: 404
        duration: 59.673625ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8b57cbaa-b27f-4601-ba63-dffdbaf971e2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094612Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg862caa26c068457d9689-006a609164</RequestId><HostId>txg862caa26c068457d9689-006a609164</HostId><Resource>/test-acc-scaleway-object-bucket-6887960702878643338</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg862caa26c068457d9689-006a609164
        status: 404 Not Found
        code: 404
        duration: 250.310125ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 73a56402-7254-4ef0-8cf6-a6d9c2343666
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094612Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg537de55c63ec433a94b0-006a609164
        status: 200 OK
        code: 200
        duration: 496.699792ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7de5d4cb-c6b2-43aa-983a-6a4f90745678
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260722T094612Z
        url: https://test-acc-scaleway-object-bucket-6887960702878643338.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg2e22e77f39b94e96a35f-006a609165</RequestId><HostId>txg2e22e77f39b94e96a35f-006a609165</HostId><Resource>/test-acc-scaleway-object-bucket-6887960702878643338</Resource><BucketName>test-acc-scaleway-object-bucket-6887960702878643338</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2e22e77f39b94e96a35f-006a609165
        status: 404 Not Found
        code: 404
        duration: 32.896583ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEQ4XE8035022NXCB1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 55.791542ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/9f37fc3e-5625-4dab-9346-f21a69884910
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 83.343167ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/90b6647d-7bd3-4ddc-bfad-9ae0758c3e5e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 51.160375ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/51ba0737-47b9-49b9-85db-5cb7948cae4f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.983640834s
