---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-8091463642816002632","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-08T11:12:09.467361Z","description":"","id":"b9b5e6da-e4b0-40fc-89bb-8f1ff42eab06","name":"tf-test-scaleway-project-8091463642816002632","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-06-08T11:12:09.467361Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.19825ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-6855714247456137735","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-06-08T11:12:09.641307Z","deletable":true,"description":"","editable":true,"id":"4cf8f364-708f-4fae-a328-30a89620cdbd","managed":false,"name":"tf-test-scaleway-iam-app-6855714247456137735","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T11:12:09.641307Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.015833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-7738105666300786289","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["b9b5e6da-e4b0-40fc-89bb-8f1ff42eab06"]}],"tags":null,"application_id":"4cf8f364-708f-4fae-a328-30a89620cdbd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"4cf8f364-708f-4fae-a328-30a89620cdbd","created_at":"2026-06-08T11:12:09.731605Z","deletable":true,"description":"","editable":true,"id":"d87372ce-1caa-46d7-bb6a-945617b6112a","managed":false,"name":"tf-test-scaleway-iam-policy-7738105666300786289","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T11:12:09.731605Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.850625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"4cf8f364-708f-4fae-a328-30a89620cdbd","default_project_id":"b9b5e6da-e4b0-40fc-89bb-8f1ff42eab06","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWFGX4QYRH7DBHW0EG0","application_id":"4cf8f364-708f-4fae-a328-30a89620cdbd","created_at":"2026-06-08T11:12:09.843381Z","creation_ip":"51.159.73.9","default_project_id":"b9b5e6da-e4b0-40fc-89bb-8f1ff42eab06","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-06-08T11:12:09.843381Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.131167ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ed31788c-efb3-4faf-ac05-57302b73b425
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111221Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-8873213430793230118
            X-Amz-Request-Id:
                - txg9db3fceed0004eadba9f-006a26a395
        status: 200 OK
        code: 200
        duration: 4.527761541s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c98b5c7c-a3d5-4a80-b774-d8cbc9503de8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111225Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg8d0395e4418d4bd68c82-006a26a399
        status: 200 OK
        code: 200
        duration: 78.066666ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e34db719-c95d-4486-ad95-41730f162329
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111225Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg6acf26fe33104d7dacfa-006a26a39a
        status: 200 OK
        code: 200
        duration: 49.587833ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3a182119-1eeb-460a-a66b-87e41bee3190
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgae0e1ff0983f43728456-006a26a39a</RequestId><HostId>txgae0e1ff0983f43728456-006a26a39a</HostId><Resource>/test-acc-scaleway-object-bucket-8873213430793230118</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgae0e1ff0983f43728456-006a26a39a
        status: 404 Not Found
        code: 404
        duration: 77.544041ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0362baf7-d8c5-42d9-b779-a7b6f1ffab2d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-8873213430793230118</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg42ec5d840a0a403892c0-006a26a39a
        status: 200 OK
        code: 200
        duration: 46.706208ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - db55a67a-b560-4ec6-9369-ea07b303c2ec
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg485fbb74a8f94eb2a9ae-006a26a39a</RequestId><HostId>txg485fbb74a8f94eb2a9ae-006a26a39a</HostId><Resource>/test-acc-scaleway-object-bucket-8873213430793230118</Resource><BucketName>test-acc-scaleway-object-bucket-8873213430793230118</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg485fbb74a8f94eb2a9ae-006a26a39a
        status: 404 Not Found
        code: 404
        duration: 34.466375ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8059604a-37ce-42db-b57e-914f4295237b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg40e58450f1304d5183e2-006a26a39a</RequestId><HostId>txg40e58450f1304d5183e2-006a26a39a</HostId><Resource>/test-acc-scaleway-object-bucket-8873213430793230118</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg40e58450f1304d5183e2-006a26a39a
        status: 404 Not Found
        code: 404
        duration: 30.35525ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7c96f3d7-41c9-488a-ac51-46f263bbda67
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0765925d1e6d4e7fa2b9-006a26a39a
        status: 200 OK
        code: 200
        duration: 34.239583ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b8c5b7c7-a2e9-4717-849c-0be6314db661
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://test-acc-scaleway-object-bucket-8873213430793230118.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg6e8e9a91fb3144358680-006a26a39a</RequestId><HostId>txg6e8e9a91fb3144358680-006a26a39a</HostId><Resource>/test-acc-scaleway-object-bucket-8873213430793230118</Resource><BucketName>test-acc-scaleway-object-bucket-8873213430793230118</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6e8e9a91fb3144358680-006a26a39a
        status: 404 Not Found
        code: 404
        duration: 28.72875ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWFGX4QYRH7DBHW0EG0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.674959ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d87372ce-1caa-46d7-bb6a-945617b6112a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 73.249959ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4cf8f364-708f-4fae-a328-30a89620cdbd
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.214209ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b9b5e6da-e4b0-40fc-89bb-8f1ff42eab06
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.577237208s
