---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-8398320202417846617","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-01-07T10:39:16.695961Z","description":"","id":"9eda5bcb-ce58-4b8b-af18-03459675f4f2","name":"tf-test-scaleway-project-8398320202417846617","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-01-07T10:39:16.695961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.852216ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-5207672050769488972","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-01-07T10:39:17.131722Z","deletable":true,"description":"","editable":true,"id":"099d71cf-25d2-4ac0-8082-60a242a1503b","managed":false,"name":"tf-test-scaleway-iam-app-5207672050769488972","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-01-07T10:39:17.131722Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.54033ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-6995175582145839084","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["9eda5bcb-ce58-4b8b-af18-03459675f4f2"]}],"tags":null,"application_id":"099d71cf-25d2-4ac0-8082-60a242a1503b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"099d71cf-25d2-4ac0-8082-60a242a1503b","created_at":"2026-01-07T10:39:17.336208Z","deletable":true,"description":"","editable":true,"id":"108b1b71-60bd-4c76-af05-adca1d2f3872","managed":false,"name":"tf-test-scaleway-iam-policy-6995175582145839084","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-01-07T10:39:17.336208Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.891749ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"099d71cf-25d2-4ac0-8082-60a242a1503b","default_project_id":"9eda5bcb-ce58-4b8b-af18-03459675f4f2","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWM2TM5Z02YN8X2AHA7","application_id":"099d71cf-25d2-4ac0-8082-60a242a1503b","created_at":"2026-01-07T10:39:17.995796Z","creation_ip":"51.159.46.153","default_project_id":"9eda5bcb-ce58-4b8b-af18-03459675f4f2","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-01-07T10:39:17.995796Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 590.327312ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 02d9ab41-4c27-406b-9ace-3fcbc93587ab
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103918Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-6542197094579094904
            X-Amz-Request-Id:
                - txg9be11b40559a4c49ab32-00695e37d6
        status: 200 OK
        code: 200
        duration: 5.612566612s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 95720f6b-4e33-4c38-96f6-a1215bf78ca0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103924Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg989ea14219aa40439566-00695e37dc
        status: 200 OK
        code: 200
        duration: 418.83696ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 263cf7db-d9d6-4b06-b39e-c0a3435050f3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103924Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>9eda5bcb-ce58-4b8b-af18-03459675f4f2:9eda5bcb-ce58-4b8b-af18-03459675f4f2</DisplayName><ID>9eda5bcb-ce58-4b8b-af18-03459675f4f2:9eda5bcb-ce58-4b8b-af18-03459675f4f2</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>9eda5bcb-ce58-4b8b-af18-03459675f4f2:9eda5bcb-ce58-4b8b-af18-03459675f4f2</ID><DisplayName>9eda5bcb-ce58-4b8b-af18-03459675f4f2:9eda5bcb-ce58-4b8b-af18-03459675f4f2</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgaee3342c5e5b496ba069-00695e37dc
        status: 200 OK
        code: 200
        duration: 136.054746ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ef35ea6a-23b0-4c75-aad0-7dc174905c18
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103924Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgeb1a8c3502694ee9b201-00695e37dc</RequestId><HostId>txgeb1a8c3502694ee9b201-00695e37dc</HostId><Resource>/tf-tests-scaleway-object-bucket-6542197094579094904</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgeb1a8c3502694ee9b201-00695e37dc
        status: 404 Not Found
        code: 404
        duration: 172.209244ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e4ba0cfa-dbc1-45eb-90ad-7a0f0b9d609d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103924Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-6542197094579094904</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg87b5cb05e987400682a1-00695e37dc
        status: 200 OK
        code: 200
        duration: 253.450431ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5557138b-4c24-4dea-a71d-d2b8bf7205de
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103924Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg3bbc78c950114dd697b9-00695e37dd</RequestId><HostId>txg3bbc78c950114dd697b9-00695e37dd</HostId><Resource>/tf-tests-scaleway-object-bucket-6542197094579094904</Resource><BucketName>tf-tests-scaleway-object-bucket-6542197094579094904</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3bbc78c950114dd697b9-00695e37dd
        status: 404 Not Found
        code: 404
        duration: 129.615894ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d4edd644-6999-4436-ba5f-46d4e83a42f7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103925Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg75633408a804462db76d-00695e37dd</RequestId><HostId>txg75633408a804462db76d-00695e37dd</HostId><Resource>/tf-tests-scaleway-object-bucket-6542197094579094904</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg75633408a804462db76d-00695e37dd
        status: 404 Not Found
        code: 404
        duration: 185.838747ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e435ba5f-f7dd-4bd2-9299-fd8a22e9c566
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103925Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2574284de86848edbda7-00695e37dd
        status: 200 OK
        code: 200
        duration: 189.732969ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ac6bc940-86fc-40e4-8b3f-60c0271371fa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103925Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg9798dfcf87fb402cb382-00695e37dd</RequestId><HostId>txg9798dfcf87fb402cb382-00695e37dd</HostId><Resource>/tf-tests-scaleway-object-bucket-6542197094579094904</Resource><BucketName>tf-tests-scaleway-object-bucket-6542197094579094904</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9798dfcf87fb402cb382-00695e37dd
        status: 404 Not Found
        code: 404
        duration: 170.18906ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0d2623d6-c068-4ca0-9ee1-14a67deab9e0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260107T103925Z
        url: https://tf-tests-scaleway-object-bucket-6542197094579094904.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txgb7da3388d1c742d9be1e-00695e37dd
        status: 200 OK
        code: 200
        duration: 545.352756ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWM2TM5Z02YN8X2AHA7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 180.982299ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/108b1b71-60bd-4c76-af05-adca1d2f3872
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 169.960615ms
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/099d71cf-25d2-4ac0-8082-60a242a1503b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 152.134497ms
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/9eda5bcb-ce58-4b8b-af18-03459675f4f2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 3.394466551s
