---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-5386472239606613804\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"98659c8d-57d2-4124-a61b-ad971a0bf551\",\"name\":\"test-acc-scaleway-project-5386472239606613804\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:55:38.910452Z\",\"updated_at\":\"2025-09-23T12:55:38.910452Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.322588385s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-2225351652986933991\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"35638b23-9a2c-489a-ab6e-28c98c7509f7\",\"name\":\"test-acc-scaleway-iam-app-2225351652986933991\",\"description\":\"\",\"created_at\":\"2025-09-23T12:55:40.142428Z\",\"updated_at\":\"2025-09-23T12:55:40.142428Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 279.004101ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-3344405883498719712\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"ObjectStorageReadOnly\",\"ObjectStorageObjectsRead\",\"ObjectStorageBucketsRead\"],\"condition\":\"\",\"project_ids\":[\"98659c8d-57d2-4124-a61b-ad971a0bf551\"]}],\"tags\":null,\"application_id\":\"35638b23-9a2c-489a-ab6e-28c98c7509f7\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"58845a3a-7259-4d91-aaa3-505c500daf7a\",\"name\":\"test-acc-scaleway-iam-policy-3344405883498719712\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:55:40.412128Z\",\"updated_at\":\"2025-09-23T12:55:40.412128Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"35638b23-9a2c-489a-ab6e-28c98c7509f7\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 676.243015ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"35638b23-9a2c-489a-ab6e-28c98c7509f7\",\"default_project_id\":\"98659c8d-57d2-4124-a61b-ad971a0bf551\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWM4DT4PEYBYFYVS2WB\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T12:55:41.120878Z\",\"updated_at\":\"2025-09-23T12:55:41.120878Z\",\"expires_at\":null,\"default_project_id\":\"98659c8d-57d2-4124-a61b-ad971a0bf551\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"35638b23-9a2c-489a-ab6e-28c98c7509f7\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 678.984371ms
- id: 4
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - b5859656-8a5c-44fd-9334-ef310087c6b3
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125543Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /tf-tests-scaleway-object-bucket-5867275782587486723
      X-Amz-Request-Id:
      - txgb87dcccd829a44ff8add-0068d298cf
    status: 200 OK
    code: 200
    duration: 5.964537086s
- id: 5
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 44e6dfaf-c440-432c-9c86-0abc08b39da4
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125549Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txgc758a5b783b845dc84bf-0068d298d5
    status: 200 OK
    code: 200
    duration: 709.451251ms
- id: 6
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 16b1561d-0031-44b1-921d-1224509aca16
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125550Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>98659c8d-57d2-4124-a61b-ad971a0bf551:98659c8d-57d2-4124-a61b-ad971a0bf551</DisplayName><ID>98659c8d-57d2-4124-a61b-ad971a0bf551:98659c8d-57d2-4124-a61b-ad971a0bf551</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>98659c8d-57d2-4124-a61b-ad971a0bf551:98659c8d-57d2-4124-a61b-ad971a0bf551</ID><DisplayName>98659c8d-57d2-4124-a61b-ad971a0bf551:98659c8d-57d2-4124-a61b-ad971a0bf551</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txgd8cb2b3caa6a4f439faf-0068d298d6
    status: 200 OK
    code: 200
    duration: 833.096274ms
- id: 7
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - dd88145a-de1d-4b48-b1d4-5f991b9e5496
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125550Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg8c20c87bf98a4d16a10c-0068d298d6</RequestId><HostId>txg8c20c87bf98a4d16a10c-0068d298d6</HostId><Resource>/tf-tests-scaleway-object-bucket-5867275782587486723</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg8c20c87bf98a4d16a10c-0068d298d6
    status: 404 Not Found
    code: 404
    duration: 88.379759ms
- id: 8
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - a4b98c07-767c-4795-91d9-a552bd1eda53
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125551Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-5867275782587486723</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg88f373a73a134fa7916a-0068d298d7
    status: 200 OK
    code: 200
    duration: 150.118388ms
- id: 9
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 10b3c83c-ac47-42fd-b86e-1fb6d6d6fa3d
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125551Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg4d7bf9f2079548a8a165-0068d298d7</RequestId><HostId>txg4d7bf9f2079548a8a165-0068d298d7</HostId><Resource>/tf-tests-scaleway-object-bucket-5867275782587486723</Resource><BucketName>tf-tests-scaleway-object-bucket-5867275782587486723</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg4d7bf9f2079548a8a165-0068d298d7
    status: 404 Not Found
    code: 404
    duration: 1.08108148s
- id: 10
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - d2e870a9-9d1a-4ce3-961f-bc22bc8725e1
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125552Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9d3348ae50b7498081f9-0068d298d8</RequestId><HostId>txg9d3348ae50b7498081f9-0068d298d8</HostId><Resource>/tf-tests-scaleway-object-bucket-5867275782587486723</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg9d3348ae50b7498081f9-0068d298d8
    status: 404 Not Found
    code: 404
    duration: 109.086912ms
- id: 11
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 6633cbdc-a2a3-4583-a1c7-6168ec48ce72
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125552Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txgb23de5b788ce4bcaa220-0068d298d8
    status: 200 OK
    code: 200
    duration: 591.191761ms
- id: 12
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - ad1da5be-c9b6-4b53-83ac-361523a942a6
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125552Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg9c047a47512e410085a6-0068d298d8</RequestId><HostId>txg9c047a47512e410085a6-0068d298d8</HostId><Resource>/tf-tests-scaleway-object-bucket-5867275782587486723</Resource><BucketName>tf-tests-scaleway-object-bucket-5867275782587486723</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg9c047a47512e410085a6-0068d298d8
    status: 404 Not Found
    code: 404
    duration: 1.129895177s
- id: 13
  request:
    host: tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 2fb33a09-473a-43bb-b3b5-29b356d861fe
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125554Z
    url: https://tf-tests-scaleway-object-bucket-5867275782587486723.s3.nl-ams.scw.cloud/
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - nl-ams
      X-Amz-Request-Id:
      - txg1d6e07e8b2ab48289fab-0068d298da
    status: 200 OK
    code: 200
    duration: 142.530069ms
[...]
- id: 49
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 195.63769ms
- id: 50
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/58845a3a-7259-4d91-aaa3-505c500daf7a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 473.178314ms
- id: 51
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/35638b23-9a2c-489a-ab6e-28c98c7509f7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 236.611589ms
- id: 52
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/98659c8d-57d2-4124-a61b-ad971a0bf551
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.526335242s
