---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-6532290217925089355","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-02-10T18:40:08.467966Z","description":"","id":"1f053159-1c7a-49eb-8072-7c570f73a46f","name":"test-acc-scaleway-project-6532290217925089355","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-02-10T18:40:08.467966Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.954450708s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-3509902802423446701","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-02-10T18:40:08.947895Z","deletable":true,"description":"","editable":true,"id":"a2291ddc-a5d3-437f-8e7c-f2c8a0206bdb","managed":false,"name":"test-acc-scaleway-iam-app-3509902802423446701","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T18:40:08.947895Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.626583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-2047766296803488710","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["1f053159-1c7a-49eb-8072-7c570f73a46f"]}],"tags":null,"application_id":"a2291ddc-a5d3-437f-8e7c-f2c8a0206bdb"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"a2291ddc-a5d3-437f-8e7c-f2c8a0206bdb","created_at":"2025-02-10T18:40:09.125151Z","deletable":true,"description":"","editable":true,"id":"4369c7d4-9dd8-41c5-960a-a8568dfc466a","managed":false,"name":"test-acc-scaleway-iam-policy-2047766296803488710","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T18:40:09.125151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.894916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"a2291ddc-a5d3-437f-8e7c-f2c8a0206bdb","default_project_id":"1f053159-1c7a-49eb-8072-7c570f73a46f","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW1DHH6XSKV6WMCCVAQ","application_id":"a2291ddc-a5d3-437f-8e7c-f2c8a0206bdb","created_at":"2025-02-10T18:40:09.633468Z","creation_ip":"51.159.73.9","default_project_id":"1f053159-1c7a-49eb-8072-7c570f73a46f","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-02-10T18:40:09.633468Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.725292ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 630b0163-8daa-4205-992c-524acdd8d9b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184041Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-5897982788646078455
            X-Amz-Request-Id:
                - txgedf62741f3d946cfa66a-0067aa482a
        status: 200 OK
        code: 200
        duration: 1.3452075s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 73a6212b-d284-47e1-bbc1-c334e3945a23
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184043Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgc4edd99baaef47bc8454-0067aa482b
        status: 200 OK
        code: 200
        duration: 766.598916ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ecd9eecf-fcba-41e3-a8c8-fa086f13277f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>1f053159-1c7a-49eb-8072-7c570f73a46f:1f053159-1c7a-49eb-8072-7c570f73a46f</DisplayName><ID>1f053159-1c7a-49eb-8072-7c570f73a46f:1f053159-1c7a-49eb-8072-7c570f73a46f</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>1f053159-1c7a-49eb-8072-7c570f73a46f:1f053159-1c7a-49eb-8072-7c570f73a46f</ID><DisplayName>1f053159-1c7a-49eb-8072-7c570f73a46f:1f053159-1c7a-49eb-8072-7c570f73a46f</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg7827dcc909114748be23-0067aa482c
        status: 200 OK
        code: 200
        duration: 175.340625ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 18d7922c-c46c-4a10-bbdb-4d75524f28a5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg672a61a3647848f2acb6-0067aa482c</RequestId><HostId>txg672a61a3647848f2acb6-0067aa482c</HostId><Resource>/tf-tests-scaleway-object-bucket-5897982788646078455</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg672a61a3647848f2acb6-0067aa482c
        status: 404 Not Found
        code: 404
        duration: 219.682334ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e562a40f-c22f-414a-b5e5-55cd38e28df0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-5897982788646078455</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbc66b47dc7be4c4eb7b5-0067aa482c
        status: 200 OK
        code: 200
        duration: 450.961709ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7a916b95-dd2f-4c66-a8b5-92e20f55e9d1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184044Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg0fbaf8b4b41c4295864a-0067aa482d</RequestId><HostId>txg0fbaf8b4b41c4295864a-0067aa482d</HostId><Resource>/tf-tests-scaleway-object-bucket-5897982788646078455</Resource><BucketName>tf-tests-scaleway-object-bucket-5897982788646078455</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0fbaf8b4b41c4295864a-0067aa482d
        status: 404 Not Found
        code: 404
        duration: 282.155333ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aeebfb7c-8962-43e6-951a-281f569e320a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184045Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge6f7bc21cc0a49898b4e-0067aa482d</RequestId><HostId>txge6f7bc21cc0a49898b4e-0067aa482d</HostId><Resource>/tf-tests-scaleway-object-bucket-5897982788646078455</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge6f7bc21cc0a49898b4e-0067aa482d
        status: 404 Not Found
        code: 404
        duration: 137.9765ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f8f5756-2242-45ea-a6ea-b19a0c47c972
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184045Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgc8a0953d6ede487fbed6-0067aa482d
        status: 200 OK
        code: 200
        duration: 137.5405ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1770eb6e-ad77-4794-b5c4-9346fcaf6bd8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184045Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg1a8b860eddfc4f90aa34-0067aa482d</RequestId><HostId>txg1a8b860eddfc4f90aa34-0067aa482d</HostId><Resource>/tf-tests-scaleway-object-bucket-5897982788646078455</Resource><BucketName>tf-tests-scaleway-object-bucket-5897982788646078455</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1a8b860eddfc4f90aa34-0067aa482d
        status: 404 Not Found
        code: 404
        duration: 187.294292ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aca1fabf-fdee-40ff-bcc1-e201b68fc400
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T184045Z
        url: https://tf-tests-scaleway-object-bucket-5897982788646078455.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg63b29234269143749128-0067aa482d
        status: 200 OK
        code: 200
        duration: 101.509416ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW1DHH6XSKV6WMCCVAQ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 149.722666ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/4369c7d4-9dd8-41c5-960a-a8568dfc466a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 153.16375ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/a2291ddc-a5d3-437f-8e7c-f2c8a0206bdb
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 118.9ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1f053159-1c7a-49eb-8072-7c570f73a46f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.53398575s
