---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-3965413054930179972","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-04T09:49:44.108160Z","description":"","id":"1fd87b6a-2993-40d1-9206-12b8e3f341d3","name":"test-acc-scaleway-project-3965413054930179972","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-04T09:49:44.108160Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.361417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-4432556756943238675","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-12-04T09:49:44.461816Z","deletable":true,"description":"","editable":true,"id":"f1dc3af0-9034-4843-9d35-af18e4ecdadc","managed":false,"name":"test-acc-scaleway-iam-app-4432556756943238675","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-04T09:49:44.461816Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.339917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-1951501541017035614","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["1fd87b6a-2993-40d1-9206-12b8e3f341d3"]}],"tags":null,"application_id":"f1dc3af0-9034-4843-9d35-af18e4ecdadc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"f1dc3af0-9034-4843-9d35-af18e4ecdadc","created_at":"2024-12-04T09:49:44.572940Z","deletable":true,"description":"","editable":true,"id":"3592d26e-1bc7-4197-899f-87c1b8215f7c","managed":false,"name":"test-acc-scaleway-iam-policy-1951501541017035614","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-04T09:49:44.572940Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.349083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"f1dc3af0-9034-4843-9d35-af18e4ecdadc","default_project_id":"1fd87b6a-2993-40d1-9206-12b8e3f341d3","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW5PV717EDJX1RRWWRR","application_id":"f1dc3af0-9034-4843-9d35-af18e4ecdadc","created_at":"2024-12-04T09:49:44.824526Z","creation_ip":"51.159.73.145","default_project_id":"1fd87b6a-2993-40d1-9206-12b8e3f341d3","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-12-04T09:49:44.824526Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.183917ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a9167c1e-6476-4d04-aa80-6076ba6eda0c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094945Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-2435873243059417407
            X-Amz-Request-Id:
                - txg2007e914fd704fbf865c-00675025ba
        status: 200 OK
        code: 200
        duration: 625.195917ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 84de8e69-e914-4a0f-9f90-f0a5126fbcb5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094946Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg2b09135714284027baca-00675025ba
        status: 200 OK
        code: 200
        duration: 102.253291ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6b05acd6-9a26-4eab-ade9-07555f2d6000
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094946Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgde096e31d82b4dd68256-00675025ba
        status: 200 OK
        code: 200
        duration: 52.511875ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4c23997c-04ef-497d-8790-92ce114e203a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094946Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg22e4f0138ab14af2b23d-00675025ba</RequestId><HostId>txg22e4f0138ab14af2b23d-00675025ba</HostId><Resource>/test-acc-scaleway-object-bucket-2435873243059417407</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg22e4f0138ab14af2b23d-00675025ba
        status: 404 Not Found
        code: 404
        duration: 145.037ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f7dda9c-be7b-4fc5-9c39-d1742c1a1554
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094946Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-2435873243059417407</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg735a824660184586b8fe-00675025bb
        status: 200 OK
        code: 200
        duration: 92.395375ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b9e4e280-f1a6-4118-8de4-79afff7687a0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094947Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg39f31661cb42410e804d-00675025bb</RequestId><HostId>txg39f31661cb42410e804d-00675025bb</HostId><Resource>/test-acc-scaleway-object-bucket-2435873243059417407</Resource><BucketName>test-acc-scaleway-object-bucket-2435873243059417407</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg39f31661cb42410e804d-00675025bb
        status: 404 Not Found
        code: 404
        duration: 49.725708ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 469da483-f78f-4670-9987-924bc2875502
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094947Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txga087a07a4f4b4e44b505-00675025bb</RequestId><HostId>txga087a07a4f4b4e44b505-00675025bb</HostId><Resource>/test-acc-scaleway-object-bucket-2435873243059417407</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga087a07a4f4b4e44b505-00675025bb
        status: 404 Not Found
        code: 404
        duration: 50.295375ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9c20731f-9c83-45df-91e9-fa7806cdc592
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094947Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg08f99f56191443fdb079-00675025bb
        status: 200 OK
        code: 200
        duration: 46.706708ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 09fb633a-3fb3-4982-b303-365af6f0ffe1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094947Z
        url: https://test-acc-scaleway-object-bucket-2435873243059417407.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgbfbc353291e04c4595f7-00675025bb</RequestId><HostId>txgbfbc353291e04c4595f7-00675025bb</HostId><Resource>/test-acc-scaleway-object-bucket-2435873243059417407</Resource><BucketName>test-acc-scaleway-object-bucket-2435873243059417407</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbfbc353291e04c4595f7-00675025bb
        status: 404 Not Found
        code: 404
        duration: 17.045875ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW5PV717EDJX1RRWWRR
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 79.414458ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/3592d26e-1bc7-4197-899f-87c1b8215f7c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 99.300291ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f1dc3af0-9034-4843-9d35-af18e4ecdadc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 106.015833ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1fd87b6a-2993-40d1-9206-12b8e3f341d3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 6.630333708s
