---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-6716287141410792135","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-02-10T13:58:30.498537Z","description":"","id":"3eff69db-16fd-48df-a672-8a6706487e5a","name":"test-acc-scaleway-project-6716287141410792135","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-02-10T13:58:30.498537Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.358001292s
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-1129331291634675991","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-02-10T13:58:31.911488Z","deletable":true,"description":"","editable":true,"id":"7d33a247-8571-4704-a18a-f350e013f406","managed":false,"name":"test-acc-scaleway-iam-app-1129331291634675991","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T13:58:31.911488Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.326625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-3419165201138894976","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["3eff69db-16fd-48df-a672-8a6706487e5a"]}],"tags":null,"application_id":"7d33a247-8571-4704-a18a-f350e013f406"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"7d33a247-8571-4704-a18a-f350e013f406","created_at":"2025-02-10T13:58:32.081233Z","deletable":true,"description":"","editable":true,"id":"de6f4626-702d-407a-8cf5-e0241086361c","managed":false,"name":"test-acc-scaleway-iam-policy-3419165201138894976","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T13:58:32.081233Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.361125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"7d33a247-8571-4704-a18a-f350e013f406","default_project_id":"3eff69db-16fd-48df-a672-8a6706487e5a","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWHFEA1Y7S7VF51KKW7","application_id":"7d33a247-8571-4704-a18a-f350e013f406","created_at":"2025-02-10T13:58:32.400354Z","creation_ip":"51.159.73.9","default_project_id":"3eff69db-16fd-48df-a672-8a6706487e5a","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-02-10T13:58:32.400354Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.37975ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a0331895-4459-4806-b9fd-a574b0d110ce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135859Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-2109599889105084684
            X-Amz-Request-Id:
                - txg4c760b24f58940809628-0067aa0623
        status: 200 OK
        code: 200
        duration: 943.516584ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 502a0676-fc86-4b0f-a615-6991a34f4e28
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135900Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg9176f803e0264e1a9bb3-0067aa0624
        status: 200 OK
        code: 200
        duration: 416.902583ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 57cdcf85-09b0-4c2b-b438-6fe2482b2e69
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135900Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg620b498adb544bad9c17-0067aa0624
        status: 200 OK
        code: 200
        duration: 277.880458ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0eaa5c1a-3928-45d1-8908-44eb173e5b29
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135901Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgc266018c8c15418b9583-0067aa0625</RequestId><HostId>txgc266018c8c15418b9583-0067aa0625</HostId><Resource>/test-acc-scaleway-object-bucket-2109599889105084684</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc266018c8c15418b9583-0067aa0625
        status: 404 Not Found
        code: 404
        duration: 293.811166ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b190cead-26b5-4d83-a1f8-f1aee1aa3e2c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135901Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-2109599889105084684</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg62fcff27fc7e411a83bf-0067aa0625
        status: 200 OK
        code: 200
        duration: 349.142334ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ef75cdef-0cbc-4ee2-84c8-30ccfbcb5090
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135901Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg46db049656c74a80a751-0067aa0625</RequestId><HostId>txg46db049656c74a80a751-0067aa0625</HostId><Resource>/test-acc-scaleway-object-bucket-2109599889105084684</Resource><BucketName>test-acc-scaleway-object-bucket-2109599889105084684</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg46db049656c74a80a751-0067aa0625
        status: 404 Not Found
        code: 404
        duration: 359.806667ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 764e5002-9ddf-4e9d-a2ef-c94a69efc816
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135902Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg73866e35c48f4fe0aee3-0067aa0626</RequestId><HostId>txg73866e35c48f4fe0aee3-0067aa0626</HostId><Resource>/test-acc-scaleway-object-bucket-2109599889105084684</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg73866e35c48f4fe0aee3-0067aa0626
        status: 404 Not Found
        code: 404
        duration: 710.761208ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9a155c0f-c3af-4f24-b7a1-fd348d578f5e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135902Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txge7dca1b3659448a19c80-0067aa0627
        status: 200 OK
        code: 200
        duration: 515.078167ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a309c1c1-0886-497e-823e-1295da018c50
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T135903Z
        url: https://test-acc-scaleway-object-bucket-2109599889105084684.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txge634e11a4aae4a6d812d-0067aa0627</RequestId><HostId>txge634e11a4aae4a6d812d-0067aa0627</HostId><Resource>/test-acc-scaleway-object-bucket-2109599889105084684</Resource><BucketName>test-acc-scaleway-object-bucket-2109599889105084684</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge634e11a4aae4a6d812d-0067aa0627
        status: 404 Not Found
        code: 404
        duration: 685.672834ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWHFEA1Y7S7VF51KKW7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.571825125s
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/de6f4626-702d-407a-8cf5-e0241086361c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 639.46875ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7d33a247-8571-4704-a18a-f350e013f406
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 749.410041ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3eff69db-16fd-48df-a672-8a6706487e5a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.954456917s
