---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-1262009117377110198","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T13:15:17.694794Z","description":"","id":"a589e52d-3339-44eb-8776-3264c2c9f21d","name":"tf-test-scaleway-project-1262009117377110198","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T13:15:17.694794Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 864.568495ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-4518507378805143572","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-08-17T13:15:18.351945Z","deletable":true,"description":"","editable":true,"id":"4b575dfe-f834-49ee-9536-eafba1a72b0a","managed":false,"name":"tf-test-scaleway-iam-app-4518507378805143572","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-08-17T13:15:18.351945Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.24118ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-2980392462964280259","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["a589e52d-3339-44eb-8776-3264c2c9f21d"]}],"tags":null,"application_id":"4b575dfe-f834-49ee-9536-eafba1a72b0a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"4b575dfe-f834-49ee-9536-eafba1a72b0a","created_at":"2026-08-17T13:15:18.516041Z","deletable":true,"description":"","editable":true,"id":"ff2df3a0-f91c-47ce-8099-72ac3997fa5c","managed":false,"name":"tf-test-scaleway-iam-policy-2980392462964280259","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-08-17T13:15:18.516041Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.613002ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"4b575dfe-f834-49ee-9536-eafba1a72b0a","default_project_id":"a589e52d-3339-44eb-8776-3264c2c9f21d","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWF9G8CQ8QBW5FM7H8H","application_id":"4b575dfe-f834-49ee-9536-eafba1a72b0a","created_at":"2026-08-17T13:15:18.836070Z","creation_ip":"51.159.46.153","default_project_id":"a589e52d-3339-44eb-8776-3264c2c9f21d","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-08-17T13:15:18.836070Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.762799ms
    - id: 4
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9a25f96c-2615-4caf-adac-88a538fe2d9e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131519Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-object-bucket-3666596482093690997
            X-Amz-Request-Id:
                - txg312303f558eb4066a5f8-006a830967
        status: 200 OK
        code: 200
        duration: 4.76249666s
    - id: 5
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 80f6f89a-faa8-4924-a82a-198d47f0ad29
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131524Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txga8c4499c767742dea68f-006a83096c
        status: 200 OK
        code: 200
        duration: 165.563738ms
    - id: 6
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e1fdef81-eab7-4441-8383-9a5906412ae5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131524Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd09638b4e0334ae0a41e-006a83096c
        status: 200 OK
        code: 200
        duration: 127.641788ms
    - id: 7
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6af14810-0b8d-45be-ba04-2a063148a859
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131524Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg9527305f0c27412fb944-006a83096c</RequestId><HostId>txg9527305f0c27412fb944-006a83096c</HostId><Resource>/tf-test-scaleway-object-bucket-3666596482093690997</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9527305f0c27412fb944-006a83096c
        status: 404 Not Found
        code: 404
        duration: 126.041549ms
    - id: 8
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8069cc11-004d-4b9d-b2ef-20e7c408eff5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131524Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-object-bucket-3666596482093690997</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg244043dbd56942b398c3-006a83096c
        status: 200 OK
        code: 200
        duration: 192.306129ms
    - id: 9
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ceec9766-3cf6-4dd8-92e8-6228924be5d1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131524Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg3b5d0ab102c14b8eb8d5-006a83096c</RequestId><HostId>txg3b5d0ab102c14b8eb8d5-006a83096c</HostId><Resource>/tf-test-scaleway-object-bucket-3666596482093690997</Resource><BucketName>tf-test-scaleway-object-bucket-3666596482093690997</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3b5d0ab102c14b8eb8d5-006a83096c
        status: 404 Not Found
        code: 404
        duration: 55.252498ms
    - id: 10
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b0d1b198-c1bc-462e-a92d-9a7e7ecf12a2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131524Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgca9350b0d20f42b9abf5-006a83096c</RequestId><HostId>txgca9350b0d20f42b9abf5-006a83096c</HostId><Resource>/tf-test-scaleway-object-bucket-3666596482093690997</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgca9350b0d20f42b9abf5-006a83096c
        status: 404 Not Found
        code: 404
        duration: 102.645661ms
    - id: 11
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 86f21ce9-e134-47c5-968c-5d55dc773d4a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131524Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txga01b4773b37f48dd9224-006a83096d
        status: 200 OK
        code: 200
        duration: 102.066592ms
    - id: 12
      request:
        host: tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ed9e00fc-2014-4dc3-8731-c6022aa2cb16
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T131525Z
        url: https://tf-test-scaleway-object-bucket-3666596482093690997.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txge7313908a14142379cc7-006a83096d</RequestId><HostId>txge7313908a14142379cc7-006a83096d</HostId><Resource>/tf-test-scaleway-object-bucket-3666596482093690997</Resource><BucketName>tf-test-scaleway-object-bucket-3666596482093690997</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge7313908a14142379cc7-006a83096d
        status: 404 Not Found
        code: 404
        duration: 58.692168ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWF9G8CQ8QBW5FM7H8H
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 108.020702ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/ff2df3a0-f91c-47ce-8099-72ac3997fa5c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 98.483404ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/4b575dfe-f834-49ee-9536-eafba1a72b0a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 108.477692ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a589e52d-3339-44eb-8776-3264c2c9f21d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.301478757s
