---
version: 2
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-2611859129148966291","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2023-11-28T17:04:01.294556Z","description":"","id":"cdda248c-4efc-4496-b76d-f0369c6f948b","name":"test-acc-scaleway-project-2611859129148966291","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","updated_at":"2023-11-28T17:04:01.294556Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-app-1631120085422450371","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2023-11-28T17:04:01.482343Z","description":"","editable":true,"id":"c8bb2a14-d7df-427e-8c86-1b82feb06b5c","name":"test-acc-scaleway-iam-app-1631120085422450371","nb_api_keys":0,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"updated_at":"2023-11-28T17:04:01.482343Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-8856448355135895050","description":"","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["cdda248c-4efc-4496-b76d-f0369c6f948b"]}],"application_id":"c8bb2a14-d7df-427e-8c86-1b82feb06b5c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"c8bb2a14-d7df-427e-8c86-1b82feb06b5c","created_at":"2023-11-28T17:04:01.553885Z","description":"","editable":true,"id":"4467223b-7eb9-407b-9f2f-88417279da56","name":"test-acc-scaleway-iam-policy-8856448355135895050","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"updated_at":"2023-11-28T17:04:01.553885Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: '{"application_id":"c8bb2a14-d7df-427e-8c86-1b82feb06b5c","default_project_id":"cdda248c-4efc-4496-b76d-f0369c6f948b","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWTBHQ05TS9WSZ4YPDK","application_id":"c8bb2a14-d7df-427e-8c86-1b82feb06b5c","created_at":"2023-11-28T17:04:01.743578Z","creation_ip":"90.22.206.134","default_project_id":"cdda248c-4efc-4496-b76d-f0369c6f948b","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2023-11-28T17:04:01.743578Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><LocationConstraint>nl-ams</LocationConstraint></CreateBucketConfiguration>
    form: {}
    headers:
      X-Amz-Acl:
      - private
      X-Amz-Bucket-Object-Lock-Enabled:
      - "false"
      X-Amz-Content-Sha256:
      - b86017d61d4ad22a838e75e918325b623687c3e84d631bc2b6435970bf12473d
      X-Amz-Date:
      - 20231128T170403Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /test-acc-scaleway-object-bucket-629286970446884535
      X-Amz-Request-Id:
      - txgbf96b78fc01b41f388bf-0065661d83
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Content-Md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      X-Amz-Acl:
      - private
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txgb06f58538c2b46b2b4e1-0065661d84
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</DisplayName><ID>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</ID><DisplayName>fa1e3217-dc80-42ac-85c3-3f034b78b552:fa1e3217-dc80-42ac-85c3-3f034b78b552</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg617a33fba2234f64bfd8-0065661d84
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object
      Lock configuration does not exist for this bucket</Message><Resource>/test-acc-scaleway-object-bucket-629286970446884535</Resource><RequestId>txg6a94afc369e243f19239-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg6a94afc369e243f19239-0065661d84
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-629286970446884535</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg1079b75ce26d438a971c-0065661d84
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><Resource>/test-acc-scaleway-object-bucket-629286970446884535</Resource><RequestId>txg63291ed1d12841e9bcd9-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg63291ed1d12841e9bcd9-0065661d84
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration
      does not exist</Message><Resource>/test-acc-scaleway-object-bucket-629286970446884535</Resource><RequestId>txge2b917b61e2d478da6d6-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txge2b917b61e2d478da6d6-0065661d84
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg5452d0baeb8648c7bd9e-0065661d84
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20231128T170404Z
    url: https://test-acc-scaleway-object-bucket-629286970446884535.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration
      does not exist</Message><Resource>/test-acc-scaleway-object-bucket-629286970446884535</Resource><RequestId>txg1a3b30b8d88f40309845-0065661d84</RequestId></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg1a3b30b8d88f40309845-0065661d84
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWTBHQ05TS9WSZ4YPDK
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/4467223b-7eb9-407b-9f2f-88417279da56
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/c8bb2a14-d7df-427e-8c86-1b82feb06b5c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/account/v3/projects/cdda248c-4efc-4496-b76d-f0369c6f948b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
