---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5289746037030604184","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T13:23:55.326462Z","description":"","id":"cb7cb364-a82e-465c-9447-358ff4d8328f","name":"tf-test-scaleway-project-5289746037030604184","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T13:23:55.326462Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.720834ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-6386551326529690477","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T13:23:55.537285Z","deletable":true,"description":"","editable":true,"id":"9be312af-9200-476a-a638-d4d94a019b35","managed":false,"name":"tf-test-scaleway-iam-app-6386551326529690477","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T13:23:55.537285Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.586125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-7193708068980368974","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["cb7cb364-a82e-465c-9447-358ff4d8328f"]}],"tags":null,"application_id":"9be312af-9200-476a-a638-d4d94a019b35"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"9be312af-9200-476a-a638-d4d94a019b35","created_at":"2026-05-28T13:23:55.606791Z","deletable":true,"description":"","editable":true,"id":"a86497be-ad86-4625-bc8c-52af969fedb8","managed":false,"name":"tf-test-scaleway-iam-policy-7193708068980368974","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T13:23:55.606791Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.832ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"9be312af-9200-476a-a638-d4d94a019b35","default_project_id":"cb7cb364-a82e-465c-9447-358ff4d8328f","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWW52W2GNNK0CS6RN5X","application_id":"9be312af-9200-476a-a638-d4d94a019b35","created_at":"2026-05-28T13:23:55.750063Z","creation_ip":"51.159.73.145","default_project_id":"cb7cb364-a82e-465c-9447-358ff4d8328f","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T13:23:55.750063Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.233125ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 730dc3d1-eadd-435a-98a9-494dec99e824
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132356Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-3161515914700580498
            X-Amz-Request-Id:
                - txgff043f003368477bb327-006a1841ec
        status: 200 OK
        code: 200
        duration: 9.221798458s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7226c5a3-d357-466e-9758-599603dcb907
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132405Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg7504232753a04432b3b8-006a1841f5
        status: 200 OK
        code: 200
        duration: 255.090583ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2f9d5dfe-2148-4991-91b2-e954de7322ba
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132405Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>cb7cb364-a82e-465c-9447-358ff4d8328f:cb7cb364-a82e-465c-9447-358ff4d8328f</DisplayName><ID>cb7cb364-a82e-465c-9447-358ff4d8328f:cb7cb364-a82e-465c-9447-358ff4d8328f</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>cb7cb364-a82e-465c-9447-358ff4d8328f:cb7cb364-a82e-465c-9447-358ff4d8328f</ID><DisplayName>cb7cb364-a82e-465c-9447-358ff4d8328f:cb7cb364-a82e-465c-9447-358ff4d8328f</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgc55d7446b682442b89e9-006a1841f5
        status: 200 OK
        code: 200
        duration: 122.846833ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b19bc91c-466b-4620-b4ef-02d5ef5a131b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132405Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgaabb7ad432e147b9850c-006a1841f5</RequestId><HostId>txgaabb7ad432e147b9850c-006a1841f5</HostId><Resource>/tf-tests-scaleway-object-bucket-3161515914700580498</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgaabb7ad432e147b9850c-006a1841f5
        status: 404 Not Found
        code: 404
        duration: 339.750916ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0d609d8c-c3ba-402e-9f51-b07699522058
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132405Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-3161515914700580498</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4403aa7dc24d44bbbcf7-006a1841f6
        status: 200 OK
        code: 200
        duration: 201.655209ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4adcf098-dbc2-49da-a7fb-5065553f6964
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132406Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg3a06e4bc54474a458612-006a1841f6</RequestId><HostId>txg3a06e4bc54474a458612-006a1841f6</HostId><Resource>/tf-tests-scaleway-object-bucket-3161515914700580498</Resource><BucketName>tf-tests-scaleway-object-bucket-3161515914700580498</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3a06e4bc54474a458612-006a1841f6
        status: 404 Not Found
        code: 404
        duration: 22.26025ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f1d90a7d-0fe4-4777-a9f6-362cc3cd4275
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132406Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgc2bdbb8a0cbd4eb9b2f1-006a1841f6</RequestId><HostId>txgc2bdbb8a0cbd4eb9b2f1-006a1841f6</HostId><Resource>/tf-tests-scaleway-object-bucket-3161515914700580498</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc2bdbb8a0cbd4eb9b2f1-006a1841f6
        status: 404 Not Found
        code: 404
        duration: 109.291458ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0c7132b6-5dea-44d6-912c-f232ff950e66
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132406Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3a0821ef58904cafa5b5-006a1841f6
        status: 200 OK
        code: 200
        duration: 530.911084ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8a7997a8-f8d8-49cb-8a7b-346b9055aad4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132406Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgb27d1e12c6134217834c-006a1841f7</RequestId><HostId>txgb27d1e12c6134217834c-006a1841f7</HostId><Resource>/tf-tests-scaleway-object-bucket-3161515914700580498</Resource><BucketName>tf-tests-scaleway-object-bucket-3161515914700580498</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb27d1e12c6134217834c-006a1841f7
        status: 404 Not Found
        code: 404
        duration: 114.50625ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 837dab13-905c-4caa-9685-2cd72f21e45a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132407Z
        url: https://tf-tests-scaleway-object-bucket-3161515914700580498.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txge31fcadf0505455b9bcf-006a1841f7
        status: 200 OK
        code: 200
        duration: 127.71525ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWW52W2GNNK0CS6RN5X
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 150.697958ms
    - id: 41
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/a86497be-ad86-4625-bc8c-52af969fedb8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.219375ms
    - id: 42
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/9be312af-9200-476a-a638-d4d94a019b35
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.230625ms
    - id: 43
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cb7cb364-a82e-465c-9447-358ff4d8328f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.535190291s
