---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-1268653523860893431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"0113de61-bb49-4123-8548-62b6627bb82f\",\"name\":\"test-acc-scaleway-project-1268653523860893431\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:55:27.627964Z\",\"updated_at\":\"2025-09-23T12:55:27.627964Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.637325043s
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-8019434150026684118\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"93c855ca-70e9-4622-aec6-9b2706845b4a\",\"name\":\"test-acc-scaleway-iam-app-8019434150026684118\",\"description\":\"\",\"created_at\":\"2025-09-23T12:55:29.166036Z\",\"updated_at\":\"2025-09-23T12:55:29.166036Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 613.507879ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-3122568913055583493\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"ObjectStorageReadOnly\",\"ObjectStorageObjectsRead\",\"ObjectStorageBucketsRead\"],\"condition\":\"\",\"project_ids\":[\"0113de61-bb49-4123-8548-62b6627bb82f\"]}],\"tags\":null,\"application_id\":\"93c855ca-70e9-4622-aec6-9b2706845b4a\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"370f075f-38d5-4607-a51f-77c436d855dd\",\"name\":\"test-acc-scaleway-iam-policy-3122568913055583493\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T12:55:29.790915Z\",\"updated_at\":\"2025-09-23T12:55:29.790915Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"93c855ca-70e9-4622-aec6-9b2706845b4a\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 611.949658ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"93c855ca-70e9-4622-aec6-9b2706845b4a\",\"default_project_id\":\"0113de61-bb49-4123-8548-62b6627bb82f\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWFVXGF3S0R9DJ565YA\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-23T12:55:30.485547Z\",\"updated_at\":\"2025-09-23T12:55:30.485547Z\",\"expires_at\":null,\"default_project_id\":\"0113de61-bb49-4123-8548-62b6627bb82f\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"51.159.73.145\",\"application_id\":\"93c855ca-70e9-4622-aec6-9b2706845b4a\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 699.674461ms
- id: 4
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 3e31a5c5-87cc-4454-a297-d5ebc6c1fd3b
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125532Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /test-acc-scaleway-object-bucket-4021159532292348761
      X-Amz-Request-Id:
      - txgf43119f4555c4ad5a7a0-0068d298c4
    status: 200 OK
    code: 200
    duration: 4.14574949s
- id: 5
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 4fe5a2e4-fb79-47c8-8db7-5e807e990b61
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125536Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txg9285ba329721437bb8c3-0068d298c8
    status: 200 OK
    code: 200
    duration: 311.128286ms
- id: 6
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 47385eb6-68d0-481d-8c79-b38a8d3debd5
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125537Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg0c6ead31016b4fa3a9f0-0068d298c9
    status: 200 OK
    code: 200
    duration: 240.626547ms
- id: 7
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - bb509b8b-fba5-4744-95c1-5d85150fb1cb
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125537Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg7517ff0abd8347c0b915-0068d298c9</RequestId><HostId>txg7517ff0abd8347c0b915-0068d298c9</HostId><Resource>/test-acc-scaleway-object-bucket-4021159532292348761</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg7517ff0abd8347c0b915-0068d298c9
    status: 404 Not Found
    code: 404
    duration: 709.235016ms
- id: 8
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 3d5de5a6-1ee9-4365-a473-6a72a4d6eeb6
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125538Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-4021159532292348761</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg8fbe927e70944cf9844d-0068d298ca
    status: 200 OK
    code: 200
    duration: 437.516929ms
- id: 9
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - d965d84a-b2b4-4ed5-9fbf-1da9a2b0d642
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125538Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txge613ef911bb9479793fc-0068d298ca</RequestId><HostId>txge613ef911bb9479793fc-0068d298ca</HostId><Resource>/test-acc-scaleway-object-bucket-4021159532292348761</Resource><BucketName>test-acc-scaleway-object-bucket-4021159532292348761</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txge613ef911bb9479793fc-0068d298ca
    status: 404 Not Found
    code: 404
    duration: 18.443721ms
- id: 10
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - badbf882-5499-48a4-a724-9b9781287c6d
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125538Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg2c82d9ae510b4689a2e4-0068d298ca</RequestId><HostId>txg2c82d9ae510b4689a2e4-0068d298ca</HostId><Resource>/test-acc-scaleway-object-bucket-4021159532292348761</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg2c82d9ae510b4689a2e4-0068d298ca
    status: 404 Not Found
    code: 404
    duration: 155.319444ms
- id: 11
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - a2367fd1-066f-486b-b4c2-3a92d6c48191
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125538Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg4518bb3e74f5489c8b52-0068d298ca
    status: 200 OK
    code: 200
    duration: 1.131945059s
- id: 12
  request:
    host: test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 738c4e60-242e-4525-b474-db04203b8dbd
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250923T125539Z
    url: https://test-acc-scaleway-object-bucket-4021159532292348761.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgc36fcf78fbd74710abab-0068d298cb</RequestId><HostId>txgc36fcf78fbd74710abab-0068d298cb</HostId><Resource>/test-acc-scaleway-object-bucket-4021159532292348761</Resource><BucketName>test-acc-scaleway-object-bucket-4021159532292348761</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgc36fcf78fbd74710abab-0068d298cb
    status: 404 Not Found
    code: 404
    duration: 277.831944ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 176.81231ms
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/370f075f-38d5-4607-a51f-77c436d855dd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 143.416701ms
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/93c855ca-70e9-4622-aec6-9b2706845b4a
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 141.473339ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/0113de61-bb49-4123-8548-62b6627bb82f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 2.157907312s
