---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-5334642475389548153","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T16:22:21.368580Z","description":"","id":"fcc0c210-d6e2-421f-bb47-b99ce40e46c0","name":"test-acc-scaleway-project-5334642475389548153","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T16:22:21.368580Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 447.417833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-5579670714155035611","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-12-10T16:22:21.763232Z","deletable":true,"description":"","editable":true,"id":"a03a2366-69fd-4d38-9459-cf8b7ed89435","managed":false,"name":"test-acc-scaleway-iam-app-5579670714155035611","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-10T16:22:21.763232Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.037417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-6348670550299958373","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["fcc0c210-d6e2-421f-bb47-b99ce40e46c0"]}],"tags":null,"application_id":"a03a2366-69fd-4d38-9459-cf8b7ed89435"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"a03a2366-69fd-4d38-9459-cf8b7ed89435","created_at":"2024-12-10T16:22:21.892218Z","deletable":true,"description":"","editable":true,"id":"74879fb8-3ebb-4bcb-b20b-b9b1c840b389","managed":false,"name":"test-acc-scaleway-iam-policy-6348670550299958373","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-10T16:22:21.892218Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.02075ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"a03a2366-69fd-4d38-9459-cf8b7ed89435","default_project_id":"fcc0c210-d6e2-421f-bb47-b99ce40e46c0","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW1SW75TKDMAFJYW8GP","application_id":"a03a2366-69fd-4d38-9459-cf8b7ed89435","created_at":"2024-12-10T16:22:22.156318Z","creation_ip":"51.159.73.145","default_project_id":"fcc0c210-d6e2-421f-bb47-b99ce40e46c0","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-12-10T16:22:22.156318Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.917ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a5b4174c-3ec1-40db-a85c-277217d71aa5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162251Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-7254596737820295481
            X-Amz-Request-Id:
                - txgaaef6ba37c1e4247a1e9-0067586adb
        status: 200 OK
        code: 200
        duration: 1.137083958s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e63e607d-2ea3-4ca2-a3be-31f2d9694c7d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6585d7eed0ae4165ba94-0067586adc
        status: 200 OK
        code: 200
        duration: 183.723083ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e31e37ac-17fc-43d2-bd6a-6e89423a0156
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>fcc0c210-d6e2-421f-bb47-b99ce40e46c0:fcc0c210-d6e2-421f-bb47-b99ce40e46c0</DisplayName><ID>fcc0c210-d6e2-421f-bb47-b99ce40e46c0:fcc0c210-d6e2-421f-bb47-b99ce40e46c0</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>fcc0c210-d6e2-421f-bb47-b99ce40e46c0:fcc0c210-d6e2-421f-bb47-b99ce40e46c0</ID><DisplayName>fcc0c210-d6e2-421f-bb47-b99ce40e46c0:fcc0c210-d6e2-421f-bb47-b99ce40e46c0</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg59a42c5efb944b719464-0067586adc
        status: 200 OK
        code: 200
        duration: 130.0285ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ad022b01-bb81-44d1-a9fc-665c5db174da
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg2912ab5edc5842a19315-0067586adc</RequestId><HostId>txg2912ab5edc5842a19315-0067586adc</HostId><Resource>/tf-tests-scaleway-object-bucket-7254596737820295481</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2912ab5edc5842a19315-0067586adc
        status: 404 Not Found
        code: 404
        duration: 135.452458ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 33c66f60-1835-484e-b99b-2a875868a772
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-7254596737820295481</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg79d9f2b5cd044671b292-0067586adc
        status: 200 OK
        code: 200
        duration: 161.779042ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7b9b4a11-0ead-4ef8-ada4-edf0313b8cc0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg41aaef1714dd4e65820a-0067586add</RequestId><HostId>txg41aaef1714dd4e65820a-0067586add</HostId><Resource>/tf-tests-scaleway-object-bucket-7254596737820295481</Resource><BucketName>tf-tests-scaleway-object-bucket-7254596737820295481</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg41aaef1714dd4e65820a-0067586add
        status: 404 Not Found
        code: 404
        duration: 124.188ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9dd1db75-e257-4b19-94b7-c0d2184ea7b8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg4bec532f7550449fb032-0067586add</RequestId><HostId>txg4bec532f7550449fb032-0067586add</HostId><Resource>/tf-tests-scaleway-object-bucket-7254596737820295481</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4bec532f7550449fb032-0067586add
        status: 404 Not Found
        code: 404
        duration: 119.806042ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c5262f02-7e55-4fcb-ad54-690465936872
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd522aef207ad487b8331-0067586add
        status: 200 OK
        code: 200
        duration: 123.003833ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - efcd96a0-776e-42e3-bb02-60650b89150b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgaf470a1e75e14c0e9f8d-0067586add</RequestId><HostId>txgaf470a1e75e14c0e9f8d-0067586add</HostId><Resource>/tf-tests-scaleway-object-bucket-7254596737820295481</Resource><BucketName>tf-tests-scaleway-object-bucket-7254596737820295481</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgaf470a1e75e14c0e9f8d-0067586add
        status: 404 Not Found
        code: 404
        duration: 93.199667ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 22217f08-71d8-47a6-af57-98f592f7e53b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://tf-tests-scaleway-object-bucket-7254596737820295481.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txgf495c2f74951434ca3c2-0067586add
        status: 200 OK
        code: 200
        duration: 120.020416ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW1SW75TKDMAFJYW8GP
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 118.900834ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/74879fb8-3ebb-4bcb-b20b-b9b1c840b389
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 97.276ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/a03a2366-69fd-4d38-9459-cf8b7ed89435
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 107.95225ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fcc0c210-d6e2-421f-bb47-b99ce40e46c0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.362846583s
