---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-7535545408291408391\",\"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"c7451e26-6160-4c97-ab54-0e17f8ba8b51\", \"name\":\"test-acc-scaleway-project-7535545408291408391\", \"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\", \"created_at\":\"2025-11-04T10:57:40.942539Z\", \"updated_at\":\"2025-11-04T10:57:40.942539Z\", \"description\":\"\", \"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 197.18975ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-4222751948955370076\",\"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"b48bc285-279b-458b-aa4e-1e92f8a1075b\", \"name\":\"test-acc-scaleway-iam-app-4222751948955370076\", \"description\":\"\", \"created_at\":\"2025-11-04T10:57:41.133692Z\", \"updated_at\":\"2025-11-04T10:57:41.133692Z\", \"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_api_keys\":0, \"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 75.186375ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-4143067793883003304\",\"description\":\"\",\"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\",\"rules\":[{\"permission_set_names\":[\"ObjectStorageReadOnly\",\"ObjectStorageObjectsRead\",\"ObjectStorageBucketsRead\"],\"condition\":\"\",\"project_ids\":[\"c7451e26-6160-4c97-ab54-0e17f8ba8b51\"]}],\"tags\":null,\"application_id\":\"b48bc285-279b-458b-aa4e-1e92f8a1075b\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"bcd134ca-903c-464e-857a-d0c967c83db5\", \"name\":\"test-acc-scaleway-iam-policy-4143067793883003304\", \"description\":\"\", \"organization_id\":\"d3520a52-2c75-4ba0-bda8-82dd087f07f2\", \"created_at\":\"2025-11-04T10:57:41.216552Z\", \"updated_at\":\"2025-11-04T10:57:41.216552Z\", \"editable\":true, \"deletable\":true, \"managed\":false, \"nb_rules\":0, \"nb_scopes\":0, \"nb_permission_sets\":0, \"tags\":[], \"application_id\":\"b48bc285-279b-458b-aa4e-1e92f8a1075b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.603291ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"b48bc285-279b-458b-aa4e-1e92f8a1075b\",\"default_project_id\":\"c7451e26-6160-4c97-ab54-0e17f8ba8b51\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWNPZ8XZBE1QP96YYTB\", \"secret_key\":\"11111111-1111-1111-1111-111111111111\", \"description\":\"\", \"created_at\":\"2025-11-04T10:57:41.339778Z\", \"updated_at\":\"2025-11-04T10:57:41.339778Z\", \"expires_at\":null, \"default_project_id\":\"c7451e26-6160-4c97-ab54-0e17f8ba8b51\", \"editable\":true, \"deletable\":true, \"managed\":false, \"creation_ip\":\"86.246.242.201\", \"application_id\":\"b48bc285-279b-458b-aa4e-1e92f8a1075b\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 95.622667ms
- id: 4
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 2786cd23-895b-4aac-a897-db60a9869bb0
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105747Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /test-acc-scaleway-object-bucket-7106773204153755763
      X-Amz-Request-Id:
      - txg8ab1e27253504bcba7ec-006909dc2b
    status: 200 OK
    code: 200
    duration: 390.782875ms
- id: 5
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - b638b00f-0417-46f2-a5d0-8e8444316211
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105747Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txgecc49a7e04f643779989-006909dc2b
    status: 200 OK
    code: 200
    duration: 233.562208ms
- id: 6
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 708496ae-9f1c-4755-bff6-d06532e0a49b
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105747Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>d3520a52-2c75-4ba0-bda8-82dd087f07f2:d3520a52-2c75-4ba0-bda8-82dd087f07f2</DisplayName><ID>d3520a52-2c75-4ba0-bda8-82dd087f07f2:d3520a52-2c75-4ba0-bda8-82dd087f07f2</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>d3520a52-2c75-4ba0-bda8-82dd087f07f2:d3520a52-2c75-4ba0-bda8-82dd087f07f2</ID><DisplayName>d3520a52-2c75-4ba0-bda8-82dd087f07f2:d3520a52-2c75-4ba0-bda8-82dd087f07f2</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg69d972bd5ee54d178577-006909dc2b
    status: 200 OK
    code: 200
    duration: 50.710459ms
- id: 7
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 62676bdf-0d4b-4f42-9425-aa624691ebf5
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105747Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg08aa6ce812c14a20a364-006909dc2b</RequestId><HostId>txg08aa6ce812c14a20a364-006909dc2b</HostId><Resource>/test-acc-scaleway-object-bucket-7106773204153755763</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg08aa6ce812c14a20a364-006909dc2b
    status: 404 Not Found
    code: 404
    duration: 155.282792ms
- id: 8
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 414628f3-988c-42c0-8770-382a97aedf25
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105747Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-7106773204153755763</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg359e0cbf5def4b4a945c-006909dc2b
    status: 200 OK
    code: 200
    duration: 147.618916ms
- id: 9
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 6ced7c30-c834-41fa-bc15-e124243f0675
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105748Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg7a5def253b12423ab683-006909dc2c</RequestId><HostId>txg7a5def253b12423ab683-006909dc2c</HostId><Resource>/test-acc-scaleway-object-bucket-7106773204153755763</Resource><BucketName>test-acc-scaleway-object-bucket-7106773204153755763</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg7a5def253b12423ab683-006909dc2c
    status: 404 Not Found
    code: 404
    duration: 56.657541ms
- id: 10
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 9b8e328a-3efc-4d64-98ba-5b2691365e79
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105748Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg0fcbc7f9b5074b6995ca-006909dc2c</RequestId><HostId>txg0fcbc7f9b5074b6995ca-006909dc2c</HostId><Resource>/test-acc-scaleway-object-bucket-7106773204153755763</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg0fcbc7f9b5074b6995ca-006909dc2c
    status: 404 Not Found
    code: 404
    duration: 55.474417ms
- id: 11
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - d8cacdf7-6066-4343-a49b-4be198e667ff
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105748Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg479043632b334cc7ae4f-006909dc2c
    status: 200 OK
    code: 200
    duration: 46.416ms
- id: 12
  request:
    host: test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 7fe6a142-01fb-4c8c-830d-ab1fa481acc3
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20251104T105748Z
    url: https://test-acc-scaleway-object-bucket-7106773204153755763.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg58bcb4ac0a8949cc860f-006909dc2c</RequestId><HostId>txg58bcb4ac0a8949cc860f-006909dc2c</HostId><Resource>/test-acc-scaleway-object-bucket-7106773204153755763</Resource><BucketName>test-acc-scaleway-object-bucket-7106773204153755763</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg58bcb4ac0a8949cc860f-006909dc2c
    status: 404 Not Found
    code: 404
    duration: 32.539667ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWXXXXXXXXXXXXXXXXX
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 47.451209ms
- id: 16
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/bcd134ca-903c-464e-857a-d0c967c83db5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 57.148792ms
- id: 17
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/b48bc285-279b-458b-aa4e-1e92f8a1075b
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 57.756416ms
- id: 18
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/c7451e26-6160-4c97-ab54-0e17f8ba8b51
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.222244208s
