---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-2824857300875017908","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-08T11:12:08.972181Z","description":"","id":"01b64897-6f84-486a-a196-382e95d093fc","name":"tf-test-scaleway-project-2824857300875017908","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-06-08T11:12:08.972181Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.049083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-9183525412885688100","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-06-08T11:12:09.190103Z","deletable":true,"description":"","editable":true,"id":"a8f92ea8-0af8-4c12-80c2-6f3dbf2a3314","managed":false,"name":"tf-test-scaleway-iam-app-9183525412885688100","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T11:12:09.190103Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.291541ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-586279110388402701","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["01b64897-6f84-486a-a196-382e95d093fc"]}],"tags":null,"application_id":"a8f92ea8-0af8-4c12-80c2-6f3dbf2a3314"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"a8f92ea8-0af8-4c12-80c2-6f3dbf2a3314","created_at":"2026-06-08T11:12:09.259824Z","deletable":true,"description":"","editable":true,"id":"94a37542-a374-499f-8981-49f212e231fc","managed":false,"name":"tf-test-scaleway-iam-policy-586279110388402701","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T11:12:09.259824Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.087042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"a8f92ea8-0af8-4c12-80c2-6f3dbf2a3314","default_project_id":"01b64897-6f84-486a-a196-382e95d093fc","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW77HDDER3TC4WMF2WJ","application_id":"a8f92ea8-0af8-4c12-80c2-6f3dbf2a3314","created_at":"2026-06-08T11:12:09.381986Z","creation_ip":"51.159.73.9","default_project_id":"01b64897-6f84-486a-a196-382e95d093fc","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-06-08T11:12:09.381986Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.222375ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d58f515f-12c0-4609-bca3-be1b7efb0c59
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-1481367048752737034
            X-Amz-Request-Id:
                - txg040893c4bee846c99d79-006a26a39a
        status: 200 OK
        code: 200
        duration: 9.46382325s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7442af26-6398-4798-b7de-09b9d9d6c064
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111235Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgafa5183ec5334f8b931c-006a26a3a3
        status: 200 OK
        code: 200
        duration: 267.245959ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 56d44e39-0c39-44b2-82f5-9079d8af38c5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111235Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>01b64897-6f84-486a-a196-382e95d093fc:01b64897-6f84-486a-a196-382e95d093fc</DisplayName><ID>01b64897-6f84-486a-a196-382e95d093fc:01b64897-6f84-486a-a196-382e95d093fc</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>01b64897-6f84-486a-a196-382e95d093fc:01b64897-6f84-486a-a196-382e95d093fc</ID><DisplayName>01b64897-6f84-486a-a196-382e95d093fc:01b64897-6f84-486a-a196-382e95d093fc</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg80037fbe272548669f6c-006a26a3a4
        status: 200 OK
        code: 200
        duration: 189.254916ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1dddf0eb-3009-4799-8fd6-193695c21d77
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111236Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg22509405486840469eb2-006a26a3a4</RequestId><HostId>txg22509405486840469eb2-006a26a3a4</HostId><Resource>/tf-tests-scaleway-object-bucket-1481367048752737034</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg22509405486840469eb2-006a26a3a4
        status: 404 Not Found
        code: 404
        duration: 196.497708ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2913e04a-2a54-489e-a16b-289393d61d65
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111236Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-1481367048752737034</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd40d9c4e0ea54de09985-006a26a3a4
        status: 200 OK
        code: 200
        duration: 363.776208ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9ae0e6c5-6c7a-4069-a9f5-6225ec48c21e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111236Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txge119565bbec2407da1af-006a26a3a4</RequestId><HostId>txge119565bbec2407da1af-006a26a3a4</HostId><Resource>/tf-tests-scaleway-object-bucket-1481367048752737034</Resource><BucketName>tf-tests-scaleway-object-bucket-1481367048752737034</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge119565bbec2407da1af-006a26a3a4
        status: 404 Not Found
        code: 404
        duration: 162.055958ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2e891ed5-acbb-4e2a-81d2-3d4ff70cf3d5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111236Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg1557994ceb534da58332-006a26a3a4</RequestId><HostId>txg1557994ceb534da58332-006a26a3a4</HostId><Resource>/tf-tests-scaleway-object-bucket-1481367048752737034</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1557994ceb534da58332-006a26a3a4
        status: 404 Not Found
        code: 404
        duration: 189.674125ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 354c908a-196f-4bb0-ac79-44f969b4a888
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111236Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg839b432a2dcd49958fe2-006a26a3a5
        status: 200 OK
        code: 200
        duration: 168.629583ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fc2efc46-0c9d-4c55-9f7b-a727999ecd04
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111237Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg2ee1e7cb847942bf91e4-006a26a3a5</RequestId><HostId>txg2ee1e7cb847942bf91e4-006a26a3a5</HostId><Resource>/tf-tests-scaleway-object-bucket-1481367048752737034</Resource><BucketName>tf-tests-scaleway-object-bucket-1481367048752737034</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2ee1e7cb847942bf91e4-006a26a3a5
        status: 404 Not Found
        code: 404
        duration: 145.677ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 336bf111-bd45-4486-bcae-79f300b63b87
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111237Z
        url: https://tf-tests-scaleway-object-bucket-1481367048752737034.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg599855e082bc4dc6af7f-006a26a3a5
        status: 200 OK
        code: 200
        duration: 166.703792ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW77HDDER3TC4WMF2WJ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 74.039542ms
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/94a37542-a374-499f-8981-49f212e231fc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 63.231667ms
    - id: 51
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/a8f92ea8-0af8-4c12-80c2-6f3dbf2a3314
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 57.2345ms
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/01b64897-6f84-486a-a196-382e95d093fc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.479124791s
