---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-6630036456530646571","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-04T09:49:16.366150Z","description":"","id":"e334e3cb-15fc-4b78-bf47-ba51556a1bde","name":"test-acc-scaleway-project-6630036456530646571","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-04T09:49:16.366150Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 392.694833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-5023300683991806348","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-12-04T09:49:16.721903Z","deletable":true,"description":"","editable":true,"id":"2d71606f-46e7-45b1-92e3-08874c7654d8","managed":false,"name":"test-acc-scaleway-iam-app-5023300683991806348","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-04T09:49:16.721903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.446875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-5354967394969312207","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["e334e3cb-15fc-4b78-bf47-ba51556a1bde"]}],"tags":null,"application_id":"2d71606f-46e7-45b1-92e3-08874c7654d8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"2d71606f-46e7-45b1-92e3-08874c7654d8","created_at":"2024-12-04T09:49:16.976835Z","deletable":true,"description":"","editable":true,"id":"e51724af-2f97-4b43-9f67-f63c3c598b90","managed":false,"name":"test-acc-scaleway-iam-policy-5354967394969312207","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-04T09:49:16.976835Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.273375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"2d71606f-46e7-45b1-92e3-08874c7654d8","default_project_id":"e334e3cb-15fc-4b78-bf47-ba51556a1bde","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWVFA4JTYJJFMBEPFEY","application_id":"2d71606f-46e7-45b1-92e3-08874c7654d8","created_at":"2024-12-04T09:49:17.270592Z","creation_ip":"51.159.73.145","default_project_id":"e334e3cb-15fc-4b78-bf47-ba51556a1bde","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-12-04T09:49:17.270592Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.438292ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7c9456ec-7d24-4024-b501-92020182dfed
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094918Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-7069256283439527163
            X-Amz-Request-Id:
                - txg6d7a001fdf3942a98367-006750259e
        status: 200 OK
        code: 200
        duration: 1.36561225s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 88e21c7d-66a5-4c24-bdf9-9d883ca3bdcc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094919Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg70d3621de62c4e20a4b4-00675025a0
        status: 200 OK
        code: 200
        duration: 304.028625ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7fec59f4-d040-4445-babb-043ef9f452fe
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094920Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>e334e3cb-15fc-4b78-bf47-ba51556a1bde:e334e3cb-15fc-4b78-bf47-ba51556a1bde</DisplayName><ID>e334e3cb-15fc-4b78-bf47-ba51556a1bde:e334e3cb-15fc-4b78-bf47-ba51556a1bde</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>e334e3cb-15fc-4b78-bf47-ba51556a1bde:e334e3cb-15fc-4b78-bf47-ba51556a1bde</ID><DisplayName>e334e3cb-15fc-4b78-bf47-ba51556a1bde:e334e3cb-15fc-4b78-bf47-ba51556a1bde</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5affdcc0d9ef4d909e89-00675025a0
        status: 200 OK
        code: 200
        duration: 164.430084ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 04e15185-12c2-47ac-b4df-da9e266ab469
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094920Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg0ce1de813e3a4d13bfd1-00675025a0</RequestId><HostId>txg0ce1de813e3a4d13bfd1-00675025a0</HostId><Resource>/tf-tests-scaleway-object-bucket-7069256283439527163</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0ce1de813e3a4d13bfd1-00675025a0
        status: 404 Not Found
        code: 404
        duration: 243.330958ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4fa6fc8b-ce97-4734-a1b4-b6f442b558c1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094920Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-7069256283439527163</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc9d32b349203484ab59f-00675025a0
        status: 200 OK
        code: 200
        duration: 192.971792ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 49723b50-53f4-4ab5-8f42-f424fff1dc15
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094920Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txge1ecc0e1aa584edab94d-00675025a0</RequestId><HostId>txge1ecc0e1aa584edab94d-00675025a0</HostId><Resource>/tf-tests-scaleway-object-bucket-7069256283439527163</Resource><BucketName>tf-tests-scaleway-object-bucket-7069256283439527163</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge1ecc0e1aa584edab94d-00675025a0
        status: 404 Not Found
        code: 404
        duration: 163.461708ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2d478910-e731-46f7-a9e3-018f4a492920
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094921Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9a2dbe0014f94d80af54-00675025a1</RequestId><HostId>txg9a2dbe0014f94d80af54-00675025a1</HostId><Resource>/tf-tests-scaleway-object-bucket-7069256283439527163</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9a2dbe0014f94d80af54-00675025a1
        status: 404 Not Found
        code: 404
        duration: 100.702042ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7592c292-73cc-4bc9-ad71-8ac56230a1f5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094921Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2659560c05ea41699245-00675025a1
        status: 200 OK
        code: 200
        duration: 119.239041ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d8a8d36d-051d-4db2-92e8-83873b5d2804
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094921Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg593709da15ae478a8b54-00675025a1</RequestId><HostId>txg593709da15ae478a8b54-00675025a1</HostId><Resource>/tf-tests-scaleway-object-bucket-7069256283439527163</Resource><BucketName>tf-tests-scaleway-object-bucket-7069256283439527163</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg593709da15ae478a8b54-00675025a1
        status: 404 Not Found
        code: 404
        duration: 131.087083ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bc91ecd0-c0ad-450a-87dc-42dccf38fc90
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241204T094921Z
        url: https://tf-tests-scaleway-object-bucket-7069256283439527163.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg89e14afa12444835ad11-00675025a1
        status: 200 OK
        code: 200
        duration: 93.177542ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWVFA4JTYJJFMBEPFEY
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 175.343834ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/e51724af-2f97-4b43-9f67-f63c3c598b90
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 108.368916ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/2d71606f-46e7-45b1-92e3-08874c7654d8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 195.605541ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/e334e3cb-15fc-4b78-bf47-ba51556a1bde
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.46494125s
