---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-8354090689288550009","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2025-02-10T16:45:13.972924Z","description":"","id":"fc30aedd-22a1-4f44-b0f7-873a0925f41c","name":"test-acc-scaleway-project-8354090689288550009","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2025-02-10T16:45:13.972924Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 616.874209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-2313494231037336289","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2025-02-10T16:45:14.448737Z","deletable":true,"description":"","editable":true,"id":"e94cbc19-b955-46a3-b5eb-f3f1131d8881","managed":false,"name":"test-acc-scaleway-iam-app-2313494231037336289","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T16:45:14.448737Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.186ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-5575206076084854296","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["fc30aedd-22a1-4f44-b0f7-873a0925f41c"]}],"tags":null,"application_id":"e94cbc19-b955-46a3-b5eb-f3f1131d8881"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"e94cbc19-b955-46a3-b5eb-f3f1131d8881","created_at":"2025-02-10T16:45:14.621117Z","deletable":true,"description":"","editable":true,"id":"3e068426-ae4c-4ac2-8d59-264472c324f2","managed":false,"name":"test-acc-scaleway-iam-policy-5575206076084854296","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2025-02-10T16:45:14.621117Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.699458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"e94cbc19-b955-46a3-b5eb-f3f1131d8881","default_project_id":"fc30aedd-22a1-4f44-b0f7-873a0925f41c","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWKK9J4YHBPNQ2DZJPJ","application_id":"e94cbc19-b955-46a3-b5eb-f3f1131d8881","created_at":"2025-02-10T16:45:14.906325Z","creation_ip":"51.159.73.145","default_project_id":"fc30aedd-22a1-4f44-b0f7-873a0925f41c","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2025-02-10T16:45:14.906325Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.401458ms
    - id: 4
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3bb72b30-b25a-4692-95da-d4b8c6a4a5e3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164559Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scaleway-object-bucket-4060283409524830880
            X-Amz-Request-Id:
                - txgf0d07f3dfb1e46d48066-0067aa2d48
        status: 200 OK
        code: 200
        duration: 1.762702083s
    - id: 5
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 739a87c4-820e-42a5-982f-89f9a292d88c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg95510a05dbf64325841e-0067aa2d49
        status: 200 OK
        code: 200
        duration: 292.798292ms
    - id: 6
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bada9af3-587c-460f-9613-254ae9b64775
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>fc30aedd-22a1-4f44-b0f7-873a0925f41c:fc30aedd-22a1-4f44-b0f7-873a0925f41c</DisplayName><ID>fc30aedd-22a1-4f44-b0f7-873a0925f41c:fc30aedd-22a1-4f44-b0f7-873a0925f41c</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>fc30aedd-22a1-4f44-b0f7-873a0925f41c:fc30aedd-22a1-4f44-b0f7-873a0925f41c</ID><DisplayName>fc30aedd-22a1-4f44-b0f7-873a0925f41c:fc30aedd-22a1-4f44-b0f7-873a0925f41c</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgaeeede3119a54f5db140-0067aa2d49
        status: 200 OK
        code: 200
        duration: 198.878792ms
    - id: 7
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f95c587c-ae11-49a0-b443-d28db549eb41
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164601Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgdff7e0928d884f228f63-0067aa2d4a</RequestId><HostId>txgdff7e0928d884f228f63-0067aa2d4a</HostId><Resource>/tf-tests-scaleway-object-bucket-4060283409524830880</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgdff7e0928d884f228f63-0067aa2d4a
        status: 404 Not Found
        code: 404
        duration: 214.798458ms
    - id: 8
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fe842248-45b1-4c65-b58c-fd28964bfa20
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164602Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-4060283409524830880</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgdd474e6b7ba14b26b0b2-0067aa2d4a
        status: 200 OK
        code: 200
        duration: 320.326917ms
    - id: 9
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 988054f2-2e77-4e63-9234-5e3afcba3fe9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164602Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg4eb8ba935c9d4a399089-0067aa2d4a</RequestId><HostId>txg4eb8ba935c9d4a399089-0067aa2d4a</HostId><Resource>/tf-tests-scaleway-object-bucket-4060283409524830880</Resource><BucketName>tf-tests-scaleway-object-bucket-4060283409524830880</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4eb8ba935c9d4a399089-0067aa2d4a
        status: 404 Not Found
        code: 404
        duration: 131.240292ms
    - id: 10
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 553741fb-b271-4055-81e6-de480720a10a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164602Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg5b80cdfea353436a9204-0067aa2d4a</RequestId><HostId>txg5b80cdfea353436a9204-0067aa2d4a</HostId><Resource>/tf-tests-scaleway-object-bucket-4060283409524830880</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5b80cdfea353436a9204-0067aa2d4a
        status: 404 Not Found
        code: 404
        duration: 84.046416ms
    - id: 11
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f2503bbc-a640-4cc0-b45d-88100236015c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164602Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg83163882361d4c7d9736-0067aa2d4a
        status: 200 OK
        code: 200
        duration: 173.553917ms
    - id: 12
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 40608a38-e610-4c10-98bd-c163473070b5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164602Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg866a1370163c4f149ea2-0067aa2d4b</RequestId><HostId>txg866a1370163c4f149ea2-0067aa2d4b</HostId><Resource>/tf-tests-scaleway-object-bucket-4060283409524830880</Resource><BucketName>tf-tests-scaleway-object-bucket-4060283409524830880</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg866a1370163c4f149ea2-0067aa2d4b
        status: 404 Not Found
        code: 404
        duration: 167.265417ms
    - id: 13
      request:
        host: tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 00e2a92b-d50b-4d98-b7ef-07e3f5928f81
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20250210T164603Z
        url: https://tf-tests-scaleway-object-bucket-4060283409524830880.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg58b8f1da24a5473ea853-0067aa2d4b
        status: 200 OK
        code: 200
        duration: 212.625583ms
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWKK9J4YHBPNQ2DZJPJ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 252.631584ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/3e068426-ae4c-4ac2-8d59-264472c324f2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 146.631667ms
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/e94cbc19-b955-46a3-b5eb-f3f1131d8881
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 194.957292ms
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fc30aedd-22a1-4f44-b0f7-873a0925f41c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.488120291s
