---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-project-587358516800063000\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: "{\"id\":\"ec910709-7071-4e5f-8c75-5e91adaed9b3\",\"name\":\"test-acc-scaleway-project-587358516800063000\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:35:21.232956Z\",\"updated_at\":\"2025-09-03T15:35:21.232956Z\",\"description\":\"\",\"qualification\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 518.292229ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-app-307162444593276729\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"description\":\"\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: "{\"id\":\"2a2f7f97-5d2a-4db7-81b2-710659abcf10\",\"name\":\"test-acc-scaleway-iam-app-307162444593276729\",\"description\":\"\",\"created_at\":\"2025-09-03T15:35:21.668927Z\",\"updated_at\":\"2025-09-03T15:35:21.668927Z\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_api_keys\":0,\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 208.041493ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test-acc-scaleway-iam-policy-1526565972640096808\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"rules\":[{\"permission_set_names\":[\"ObjectStorageReadOnly\",\"ObjectStorageObjectsRead\",\"ObjectStorageBucketsRead\"],\"condition\":\"\",\"project_ids\":[\"ec910709-7071-4e5f-8c75-5e91adaed9b3\"]}],\"tags\":null,\"application_id\":\"2a2f7f97-5d2a-4db7-81b2-710659abcf10\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: "{\"id\":\"1c072616-0ea7-492d-8e04-ca00626bb3b6\",\"name\":\"test-acc-scaleway-iam-policy-1526565972640096808\",\"description\":\"\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-03T15:35:21.838077Z\",\"updated_at\":\"2025-09-03T15:35:21.838077Z\",\"editable\":true,\"deletable\":true,\"managed\":false,\"nb_rules\":0,\"nb_scopes\":0,\"nb_permission_sets\":0,\"tags\":[],\"application_id\":\"2a2f7f97-5d2a-4db7-81b2-710659abcf10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 194.691919ms
- id: 3
  request:
    host: api.scaleway.com
    body: "{\"application_id\":\"2a2f7f97-5d2a-4db7-81b2-710659abcf10\",\"default_project_id\":\"ec910709-7071-4e5f-8c75-5e91adaed9b3\",\"description\":\"\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: "{\"access_key\":\"SCWX2A8WC3AKPEE40972\",\"secret_key\":\"11111111-1111-1111-1111-111111111111\",\"description\":\"\",\"created_at\":\"2025-09-03T15:35:22.141747Z\",\"updated_at\":\"2025-09-03T15:35:22.141747Z\",\"expires_at\":null,\"default_project_id\":\"ec910709-7071-4e5f-8c75-5e91adaed9b3\",\"editable\":true,\"deletable\":true,\"managed\":false,\"creation_ip\":\"130.180.219.188\",\"application_id\":\"2a2f7f97-5d2a-4db7-81b2-710659abcf10\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 277.25352ms
- id: 4
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - 8c0d309c-ef7f-4df0-80c8-a376d01e69c7
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153550Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - /tf-tests-scaleway-object-bucket-6878746224155722448
      X-Amz-Request-Id:
      - txgd4f085a39ff54093aa62-0068b86056
    status: 200 OK
    code: 200
    duration: 7.621759019s
- id: 5
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - e7b67088-9441-4cdd-af07-f03922c034ad
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Acl:
      - private
      X-Amz-Checksum-Crc32:
      - AAAAAA==
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153557Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/?acl=
    method: PUT
  response:
    body: ""
    headers:
      X-Amz-Request-Id:
      - txgb98175f89c614cdab521-0068b8605d
    status: 200 OK
    code: 200
    duration: 285.001967ms
- id: 6
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    form:
      acl:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 69a3227e-b7ec-484d-aacb-296406e82977
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153558Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/?acl=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>ec910709-7071-4e5f-8c75-5e91adaed9b3:ec910709-7071-4e5f-8c75-5e91adaed9b3</DisplayName><ID>ec910709-7071-4e5f-8c75-5e91adaed9b3:ec910709-7071-4e5f-8c75-5e91adaed9b3</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>ec910709-7071-4e5f-8c75-5e91adaed9b3:ec910709-7071-4e5f-8c75-5e91adaed9b3</ID><DisplayName>ec910709-7071-4e5f-8c75-5e91adaed9b3:ec910709-7071-4e5f-8c75-5e91adaed9b3</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txg9f6dbe671f284110a40c-0068b8605e
    status: 200 OK
    code: 200
    duration: 158.424783ms
- id: 7
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    form:
      object-lock:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 92430d28-ae5b-4312-89b8-721d33cafe27
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153558Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/?object-lock=
    method: GET
  response:
    body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg0599d615ea8c4c76a554-0068b8605e</RequestId><HostId>txg0599d615ea8c4c76a554-0068b8605e</HostId><Resource>/tf-tests-scaleway-object-bucket-6878746224155722448</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg0599d615ea8c4c76a554-0068b8605e
    status: 404 Not Found
    code: 404
    duration: 165.614707ms
- id: 8
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - dad7f8ff-9aab-4d29-ade4-b3fbe46d4161
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153558Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scaleway-object-bucket-6878746224155722448</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txgd8639cf8bae24257b2be-0068b8605e
    status: 200 OK
    code: 200
    duration: 233.745625ms
- id: 9
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    form:
      tagging:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 4ad8ae2f-2744-41c7-a576-ff81fa7facc9
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153558Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/?tagging=
    method: GET
  response:
    body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg1c7798bc23334742988a-0068b8605e</RequestId><HostId>txg1c7798bc23334742988a-0068b8605e</HostId><Resource>/tf-tests-scaleway-object-bucket-6878746224155722448</Resource><BucketName>tf-tests-scaleway-object-bucket-6878746224155722448</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg1c7798bc23334742988a-0068b8605e
    status: 404 Not Found
    code: 404
    duration: 120.510149ms
- id: 10
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    form:
      cors:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - 87d352a2-fec8-475e-8bb3-e5265b092dc9
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153558Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/?cors=
    method: GET
  response:
    body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg1fcc12c7aa734836b9b7-0068b8605e</RequestId><HostId>txg1fcc12c7aa734836b9b7-0068b8605e</HostId><Resource>/tf-tests-scaleway-object-bucket-6878746224155722448</Resource></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg1fcc12c7aa734836b9b7-0068b8605e
    status: 404 Not Found
    code: 404
    duration: 39.487828ms
- id: 11
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    form:
      versioning:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - ea92bac9-6882-4460-9b31-5de57e1153c4
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153558Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/?versioning=
    method: GET
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <VersioningConfiguration><Status></Status></VersioningConfiguration>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Amz-Request-Id:
      - txge06e3b05b737478c8e1e-0068b8605e
    status: 200 OK
    code: 200
    duration: 167.824168ms
- id: 12
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    form:
      lifecycle:
      - ""
    headers:
      Amz-Sdk-Invocation-Id:
      - f870dde1-347e-44b8-b019-e747dc0f918a
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153558Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/?lifecycle=
    method: GET
  response:
    body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg51aa8879f24a4aefb00f-0068b8605e</RequestId><HostId>txg51aa8879f24a4aefb00f-0068b8605e</HostId><Resource>/tf-tests-scaleway-object-bucket-6878746224155722448</Resource><BucketName>tf-tests-scaleway-object-bucket-6878746224155722448</BucketName></Error>
    headers:
      Content-Type:
      - application/xml
      X-Amz-Request-Id:
      - txg51aa8879f24a4aefb00f-0068b8605e
    status: 404 Not Found
    code: 404
    duration: 200.443996ms
- id: 13
  request:
    host: tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud
    headers:
      Amz-Sdk-Invocation-Id:
      - c52def0b-e7fa-4147-a9b6-1d75492e8a41
      Amz-Sdk-Request:
      - attempt=1; max=3
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      X-Amz-Date:
      - 20250903T153559Z
    url: https://tf-tests-scaleway-object-bucket-6878746224155722448.s3.nl-ams.scw.cloud/
    method: HEAD
  response:
    body: ""
    headers:
      Content-Type:
      - application/xml
      X-Amz-Bucket-Region:
      - nl-ams
      X-Amz-Request-Id:
      - txg1e8aaeea1e59462ba426-0068b8605f
    status: 200 OK
    code: 200
    duration: 161.695496ms
[...]
- id: 58
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWX2A8WC3AKPEE40972
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 132.839157ms
- id: 59
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/policies/1c072616-0ea7-492d-8e04-ca00626bb3b6
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 117.095807ms
- id: 60
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/iam/v1alpha1/applications/2a2f7f97-5d2a-4db7-81b2-710659abcf10
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 145.874922ms
- id: 61
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/account/v3/projects/ec910709-7071-4e5f-8c75-5e91adaed9b3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 1.486613822s
