---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-project-6990757244822668419","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2024-12-10T16:22:22.323110Z","description":"","id":"b17cee37-96a5-4bc8-88d6-7b1cab1f761e","name":"test-acc-scaleway-project-6990757244822668419","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","updated_at":"2024-12-10T16:22:22.323110Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.9405ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-app-8330785537555891643","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2024-12-10T16:22:22.648428Z","deletable":true,"description":"","editable":true,"id":"900e019c-1618-49a6-a44f-23be48d308dc","managed":false,"name":"test-acc-scaleway-iam-app-8330785537555891643","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-10T16:22:22.648428Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.115ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-acc-scaleway-iam-policy-4917087938855215640","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["b17cee37-96a5-4bc8-88d6-7b1cab1f761e"]}],"tags":null,"application_id":"900e019c-1618-49a6-a44f-23be48d308dc"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"900e019c-1618-49a6-a44f-23be48d308dc","created_at":"2024-12-10T16:22:22.758356Z","deletable":true,"description":"","editable":true,"id":"63c9c969-adf2-408b-ad7d-cba2c2900689","managed":false,"name":"test-acc-scaleway-iam-policy-4917087938855215640","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2024-12-10T16:22:22.758356Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.764ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"900e019c-1618-49a6-a44f-23be48d308dc","default_project_id":"b17cee37-96a5-4bc8-88d6-7b1cab1f761e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWHT2AEYDN4B3MSPKMD","application_id":"900e019c-1618-49a6-a44f-23be48d308dc","created_at":"2024-12-10T16:22:22.991875Z","creation_ip":"51.159.73.145","default_project_id":"b17cee37-96a5-4bc8-88d6-7b1cab1f761e","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-12-10T16:22:22.991875Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.253583ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7a8cd7d0-ec42-4178-88b7-5a2c47d07872
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-1232853054749699419
            X-Amz-Request-Id:
                - txg052307cbec2c4412884b-0067586adc
        status: 200 OK
        code: 200
        duration: 521.264917ms
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c679056d-82aa-437b-ae81-da67e6298f60
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgd61aa292bc4142bc9f9a-0067586adc
        status: 200 OK
        code: 200
        duration: 70.867792ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5ae68409-9da0-43dc-a129-b644417250e1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgc2aed0b38c4c45019e3e-0067586adc
        status: 200 OK
        code: 200
        duration: 49.903875ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 32aa8e3b-32e5-4a3a-bacc-c3681dcf4ee1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg70dc594ac65b41e9ba66-0067586adc</RequestId><HostId>txg70dc594ac65b41e9ba66-0067586adc</HostId><Resource>/test-acc-scaleway-object-bucket-1232853054749699419</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg70dc594ac65b41e9ba66-0067586adc
        status: 404 Not Found
        code: 404
        duration: 76.252667ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a95de9df-0c0e-4b27-9e9d-3f5e0070cca4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162252Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-1232853054749699419</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgac068347ba964e268257-0067586adc
        status: 200 OK
        code: 200
        duration: 61.746125ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1b1a5ae7-7fb5-4b54-8d6f-3b09f3f25057
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgde97a101d5b94365bd9f-0067586add</RequestId><HostId>txgde97a101d5b94365bd9f-0067586add</HostId><Resource>/test-acc-scaleway-object-bucket-1232853054749699419</Resource><BucketName>test-acc-scaleway-object-bucket-1232853054749699419</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgde97a101d5b94365bd9f-0067586add
        status: 404 Not Found
        code: 404
        duration: 26.042625ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 706dfc8c-41a9-4082-87e1-b674b7880b3c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg739f3b78788d453cac67-0067586add</RequestId><HostId>txg739f3b78788d453cac67-0067586add</HostId><Resource>/test-acc-scaleway-object-bucket-1232853054749699419</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg739f3b78788d453cac67-0067586add
        status: 404 Not Found
        code: 404
        duration: 28.928459ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b8cb3751-46d8-4aa0-bdc7-76af5ad04ee1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2583a8dfc9aa4457a4d4-0067586add
        status: 200 OK
        code: 200
        duration: 394.324375ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b2a8f466-0456-43e7-8e79-0fd36f70d1a6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20241210T162253Z
        url: https://test-acc-scaleway-object-bucket-1232853054749699419.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txge90bc92837644a829623-0067586add</RequestId><HostId>txge90bc92837644a829623-0067586add</HostId><Resource>/test-acc-scaleway-object-bucket-1232853054749699419</Resource><BucketName>test-acc-scaleway-object-bucket-1232853054749699419</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge90bc92837644a829623-0067586add
        status: 404 Not Found
        code: 404
        duration: 26.197292ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWHT2AEYDN4B3MSPKMD
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 103.567667ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/63c9c969-adf2-408b-ad7d-cba2c2900689
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.241875ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/900e019c-1618-49a6-a44f-23be48d308dc
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 88.635083ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b17cee37-96a5-4bc8-88d6-7b1cab1f761e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.394968875s
