---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5652769435489440035","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T13:23:40.908493Z","description":"","id":"4535bd34-f5ff-4fec-8c9d-d170f5c8dfd1","name":"tf-test-scaleway-project-5652769435489440035","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T13:23:40.908493Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.034958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1163305395253781403","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T13:23:41.123115Z","deletable":true,"description":"","editable":true,"id":"eff07db7-7565-4e32-ba26-9b66eaf5088a","managed":false,"name":"tf-test-scaleway-iam-app-1163305395253781403","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T13:23:41.123115Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.003167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1413194491632605653","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"condition":"","project_ids":["4535bd34-f5ff-4fec-8c9d-d170f5c8dfd1"]}],"tags":null,"application_id":"eff07db7-7565-4e32-ba26-9b66eaf5088a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"eff07db7-7565-4e32-ba26-9b66eaf5088a","created_at":"2026-05-28T13:23:41.253633Z","deletable":true,"description":"","editable":true,"id":"9bb9b563-b982-4115-986e-8a2f333520e0","managed":false,"name":"tf-test-scaleway-iam-policy-1413194491632605653","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T13:23:41.253633Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.738625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"eff07db7-7565-4e32-ba26-9b66eaf5088a","default_project_id":"4535bd34-f5ff-4fec-8c9d-d170f5c8dfd1","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWA4TC7SKH0PFCZ1C3H","application_id":"eff07db7-7565-4e32-ba26-9b66eaf5088a","created_at":"2026-05-28T13:23:41.394258Z","creation_ip":"51.159.73.145","default_project_id":"4535bd34-f5ff-4fec-8c9d-d170f5c8dfd1","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T13:23:41.394258Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.55375ms
    - id: 4
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b8e5db04-6c15-4f25-9464-19487a9b641a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132342Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-acc-scaleway-object-bucket-7213624457458469929
            X-Amz-Request-Id:
                - txg595a61b1b8e947f3a2a9-006a1841de
        status: 200 OK
        code: 200
        duration: 4.963274459s
    - id: 5
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 15c4d8a6-87a2-4bb5-96d4-0b41906446d2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132346Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgda63d11346554c9e985e-006a1841e2
        status: 200 OK
        code: 200
        duration: 95.991458ms
    - id: 6
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c4af0dd5-3032-426b-af91-e7155c0cb3f6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132347Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg10ec7465b4244c498880-006a1841e3
        status: 200 OK
        code: 200
        duration: 37.103542ms
    - id: 7
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 39d87435-a21b-4ee7-b62e-5edc105cbac8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132347Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg33253d9b09e548d39443-006a1841e3</RequestId><HostId>txg33253d9b09e548d39443-006a1841e3</HostId><Resource>/test-acc-scaleway-object-bucket-7213624457458469929</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg33253d9b09e548d39443-006a1841e3
        status: 404 Not Found
        code: 404
        duration: 52.696084ms
    - id: 8
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6734001b-5859-40ac-9252-36abc07935b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132347Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-acc-scaleway-object-bucket-7213624457458469929</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg62cba467d0474071860c-006a1841e3
        status: 200 OK
        code: 200
        duration: 73.850292ms
    - id: 9
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9d0fd8a8-647f-4705-a198-0d9534e9698b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132347Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txge2a6cb9ee6184f69bce2-006a1841e3</RequestId><HostId>txge2a6cb9ee6184f69bce2-006a1841e3</HostId><Resource>/test-acc-scaleway-object-bucket-7213624457458469929</Resource><BucketName>test-acc-scaleway-object-bucket-7213624457458469929</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge2a6cb9ee6184f69bce2-006a1841e3
        status: 404 Not Found
        code: 404
        duration: 53.358375ms
    - id: 10
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e5ab905a-6a69-43f6-8483-9fba083451e3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132347Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgc1014b40b94247b7b458-006a1841e3</RequestId><HostId>txgc1014b40b94247b7b458-006a1841e3</HostId><Resource>/test-acc-scaleway-object-bucket-7213624457458469929</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc1014b40b94247b7b458-006a1841e3
        status: 404 Not Found
        code: 404
        duration: 61.990666ms
    - id: 11
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8924f3ff-cc69-499a-8160-deccd7621644
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132347Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg3296e97600b744f98721-006a1841e3
        status: 200 OK
        code: 200
        duration: 33.658ms
    - id: 12
      request:
        host: test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 74c3c996-8041-4f46-9871-a47b39000c60
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T132347Z
        url: https://test-acc-scaleway-object-bucket-7213624457458469929.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg77fffc1d2f034f178fd7-006a1841e3</RequestId><HostId>txg77fffc1d2f034f178fd7-006a1841e3</HostId><Resource>/test-acc-scaleway-object-bucket-7213624457458469929</Resource><BucketName>test-acc-scaleway-object-bucket-7213624457458469929</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg77fffc1d2f034f178fd7-006a1841e3
        status: 404 Not Found
        code: 404
        duration: 52.463708ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWA4TC7SKH0PFCZ1C3H
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.693375ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/9bb9b563-b982-4115-986e-8a2f333520e0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.401166ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/eff07db7-7565-4e32-ba26-9b66eaf5088a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.218541ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/4535bd34-f5ff-4fec-8c9d-d170f5c8dfd1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.906748s
