---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-4179774697751671406","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:20:41.864707Z","description":"","id":"8c1393ed-c029-46db-b3a0-f04858ab0960","name":"tf-test-scaleway-project-4179774697751671406","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T17:20:41.864707Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.254292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-6719406085412363210","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:20:42.076258Z","deletable":true,"description":"","editable":true,"id":"fd4f173b-b45f-4ba8-b33f-852066ac2730","managed":false,"name":"tf-test-scaleway-iam-app-6719406085412363210","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:20:42.076258Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.327125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1889798909086729815","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["8c1393ed-c029-46db-b3a0-f04858ab0960"]}],"tags":null,"application_id":"fd4f173b-b45f-4ba8-b33f-852066ac2730"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"fd4f173b-b45f-4ba8-b33f-852066ac2730","created_at":"2026-05-28T17:20:42.186885Z","deletable":true,"description":"","editable":true,"id":"7f0df599-551a-4ea6-867e-335f5dcede2b","managed":false,"name":"tf-test-scaleway-iam-policy-1889798909086729815","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:20:42.186885Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.420209ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"fd4f173b-b45f-4ba8-b33f-852066ac2730","default_project_id":"8c1393ed-c029-46db-b3a0-f04858ab0960","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW5R3DC88NQFK9NM5EN","application_id":"fd4f173b-b45f-4ba8-b33f-852066ac2730","created_at":"2026-05-28T17:20:42.309758Z","creation_ip":"88.191.65.229","default_project_id":"8c1393ed-c029-46db-b3a0-f04858ab0960","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T17:20:42.309758Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.6355ms
    - id: 4
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9815812b-a97b-4762-ab19-b00fa65dc22d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172042Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-7632108545093462424
            X-Amz-Request-Id:
                - txged2b1eb6f8bb49e0af66-006a18796a
        status: 200 OK
        code: 200
        duration: 5.725102667s
    - id: 5
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a39337b6-31fb-4c82-bd2e-ea6254b62c0e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172048Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgaf640d7e7c2c409eb888-006a187970
        status: 200 OK
        code: 200
        duration: 514.558125ms
    - id: 6
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f197e4a5-2459-4c88-8e7d-b2d328c75274
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172049Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>8c1393ed-c029-46db-b3a0-f04858ab0960:8c1393ed-c029-46db-b3a0-f04858ab0960</DisplayName><ID>8c1393ed-c029-46db-b3a0-f04858ab0960:8c1393ed-c029-46db-b3a0-f04858ab0960</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>8c1393ed-c029-46db-b3a0-f04858ab0960:8c1393ed-c029-46db-b3a0-f04858ab0960</ID><DisplayName>8c1393ed-c029-46db-b3a0-f04858ab0960:8c1393ed-c029-46db-b3a0-f04858ab0960</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgbf5a1cd99ad84e5b9c07-006a187971
        status: 200 OK
        code: 200
        duration: 155.254292ms
    - id: 7
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 53001a47-250b-4ebb-8359-81b3f3b945df
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172049Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgb88f525910ba4f0db952-006a187971</RequestId><HostId>txgb88f525910ba4f0db952-006a187971</HostId><Resource>/sse-config-basic-7632108545093462424</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb88f525910ba4f0db952-006a187971
        status: 404 Not Found
        code: 404
        duration: 172.491042ms
    - id: 8
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3cbe7b12-8420-433b-be9a-9beed285babe
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172049Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-7632108545093462424</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9a275601ed4d4250bb2d-006a187971
        status: 200 OK
        code: 200
        duration: 381.416583ms
    - id: 9
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5174e031-a595-4fdc-ae8a-eaae1f4d1962
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172049Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg18dd7b34de07414f8ebb-006a187971</RequestId><HostId>txg18dd7b34de07414f8ebb-006a187971</HostId><Resource>/sse-config-basic-7632108545093462424</Resource><BucketName>sse-config-basic-7632108545093462424</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg18dd7b34de07414f8ebb-006a187971
        status: 404 Not Found
        code: 404
        duration: 121.911209ms
    - id: 10
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b3ed28e4-0d3e-4ee2-b8f0-c3d91fce6144
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172049Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg5345320cf6604e618574-006a187971</RequestId><HostId>txg5345320cf6604e618574-006a187971</HostId><Resource>/sse-config-basic-7632108545093462424</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5345320cf6604e618574-006a187971
        status: 404 Not Found
        code: 404
        duration: 194.009333ms
    - id: 11
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f58d0ec-20c5-4bea-9d19-d4369f34ebe0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172049Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgbb2bc697d36b4c1bb0b0-006a187972
        status: 200 OK
        code: 200
        duration: 174.347667ms
    - id: 12
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4b343ef1-9d58-4082-89ef-59ca918ef9e1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172050Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgc4d5ecf13f0d4feaa23d-006a187972</RequestId><HostId>txgc4d5ecf13f0d4feaa23d-006a187972</HostId><Resource>/sse-config-basic-7632108545093462424</Resource><BucketName>sse-config-basic-7632108545093462424</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc4d5ecf13f0d4feaa23d-006a187972
        status: 404 Not Found
        code: 404
        duration: 244.268291ms
    - id: 13
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>8c1393ed-c029-46db-b3a0-f04858ab0960:8c1393ed-c029-46db-b3a0-f04858ab0960</ID></Grantee><Permission>WRITE</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>8c1393ed-c029-46db-b3a0-f04858ab0960:8c1393ed-c029-46db-b3a0-f04858ab0960</ID></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList><Owner><ID>8c1393ed-c029-46db-b3a0-f04858ab0960:8c1393ed-c029-46db-b3a0-f04858ab0960</ID></Owner></AccessControlPolicy>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d942b8b2-d3c4-4351-8d52-1fee54050b49
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - YqnZeQ==
            X-Amz-Content-Sha256:
                - 8d3bcb63d5a7ba15fef8c0d2187344caa30601ae98662e21acd2325464e71172
            X-Amz-Date:
                - 20260528T172050Z
            X-Amz-Expected-Bucket-Owner:
                - 8c1393ed-c029-46db-b3a0-f04858ab0960
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgd14134c4c99e4713a03d-006a187972
        status: 200 OK
        code: 200
        duration: 167.6715ms
[...]
    - id: 15
      request:
        host: sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 96e7290a-d17c-4f9c-96ac-d01bf9f44d90
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172051Z
        url: https://sse-config-basic-7632108545093462424.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg5846a2de4afc4900bb8e-006a187973
        status: 200 OK
        code: 200
        duration: 252.032709ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW5R3DC88NQFK9NM5EN
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.705541ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/7f0df599-551a-4ea6-867e-335f5dcede2b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 74.22225ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/fd4f173b-b45f-4ba8-b33f-852066ac2730
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.450958ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8c1393ed-c029-46db-b3a0-f04858ab0960
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.502002417s
