---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-3541953009901676827","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-26T13:44:13.022395Z","description":"","id":"447175e4-73e3-48dd-a24d-bd176b370532","name":"tf-test-scaleway-project-3541953009901676827","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-26T13:44:13.022395Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.55575ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-8255851052633173436","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-26T13:44:13.253584Z","deletable":true,"description":"","editable":true,"id":"7c3c318a-1040-439b-97c3-2ba61cfea281","managed":false,"name":"tf-test-scaleway-iam-app-8255851052633173436","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-26T13:44:13.253584Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.528209ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-686162953003244354","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["447175e4-73e3-48dd-a24d-bd176b370532"]}],"tags":null,"application_id":"7c3c318a-1040-439b-97c3-2ba61cfea281"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"7c3c318a-1040-439b-97c3-2ba61cfea281","created_at":"2026-05-26T13:44:13.494697Z","deletable":true,"description":"","editable":true,"id":"a0eb133e-cf90-4538-8e2b-ef9a199c2524","managed":false,"name":"tf-test-scaleway-iam-policy-686162953003244354","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-26T13:44:13.494697Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.470375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"7c3c318a-1040-439b-97c3-2ba61cfea281","default_project_id":"447175e4-73e3-48dd-a24d-bd176b370532","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW8RW7BKXQ5SBJNVFE7","application_id":"7c3c318a-1040-439b-97c3-2ba61cfea281","created_at":"2026-05-26T13:44:13.598341Z","creation_ip":"51.159.73.145","default_project_id":"447175e4-73e3-48dd-a24d-bd176b370532","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-26T13:44:13.598341Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.732458ms
    - id: 4
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 72a21c8d-bd1b-40b2-840a-73ac369f9886
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134414Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-6401318465898162092
            X-Amz-Request-Id:
                - txgff1c263b593e4ff49132-006a15a3ae
        status: 200 OK
        code: 200
        duration: 8.606498333s
    - id: 5
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6419844a-1f59-4bde-a49d-a176be2ed868
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134422Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgefd5f5436e854557991b-006a15a3b6
        status: 200 OK
        code: 200
        duration: 469.726666ms
    - id: 6
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a1c94c4a-2676-4de8-b49b-67d1497a9c27
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134423Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>447175e4-73e3-48dd-a24d-bd176b370532:447175e4-73e3-48dd-a24d-bd176b370532</DisplayName><ID>447175e4-73e3-48dd-a24d-bd176b370532:447175e4-73e3-48dd-a24d-bd176b370532</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>447175e4-73e3-48dd-a24d-bd176b370532:447175e4-73e3-48dd-a24d-bd176b370532</ID><DisplayName>447175e4-73e3-48dd-a24d-bd176b370532:447175e4-73e3-48dd-a24d-bd176b370532</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg7af414243de24a16941e-006a15a3b7
        status: 200 OK
        code: 200
        duration: 186.953209ms
    - id: 7
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ec7a561a-1f3a-4863-bf63-bad77e9ad591
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134423Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6380f2db03e0431f8f4c-006a15a3b7</RequestId><HostId>txg6380f2db03e0431f8f4c-006a15a3b7</HostId><Resource>/sse-config-basic-6401318465898162092</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6380f2db03e0431f8f4c-006a15a3b7
        status: 404 Not Found
        code: 404
        duration: 195.642166ms
    - id: 8
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f5d276dc-0c4b-4ab0-a385-46fbf1b16fd7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134423Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-6401318465898162092</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg056a57555a1a40099585-006a15a3b7
        status: 200 OK
        code: 200
        duration: 309.996708ms
    - id: 9
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0a9b7cb5-1b98-4334-9473-5c8e03f40f33
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134423Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg64e10edc45ba4f429292-006a15a3b7</RequestId><HostId>txg64e10edc45ba4f429292-006a15a3b7</HostId><Resource>/sse-config-basic-6401318465898162092</Resource><BucketName>sse-config-basic-6401318465898162092</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg64e10edc45ba4f429292-006a15a3b7
        status: 404 Not Found
        code: 404
        duration: 160.249542ms
    - id: 10
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 776d6ea4-208f-41c3-9eb2-4f8f0018302d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134423Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgad0d0739ada24bf7aed6-006a15a3b8</RequestId><HostId>txgad0d0739ada24bf7aed6-006a15a3b8</HostId><Resource>/sse-config-basic-6401318465898162092</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgad0d0739ada24bf7aed6-006a15a3b8
        status: 404 Not Found
        code: 404
        duration: 267.727875ms
    - id: 11
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ae859bc6-169d-4a2f-bf32-c7507799df78
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134424Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg59b9017ac05a499bbdf0-006a15a3b8
        status: 200 OK
        code: 200
        duration: 204.378791ms
    - id: 12
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e9ee95b5-2617-4287-ab3c-4e55cbc5afb0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134424Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg2eeeee20651c4594b3e9-006a15a3b8</RequestId><HostId>txg2eeeee20651c4594b3e9-006a15a3b8</HostId><Resource>/sse-config-basic-6401318465898162092</Resource><BucketName>sse-config-basic-6401318465898162092</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2eeeee20651c4594b3e9-006a15a3b8
        status: 404 Not Found
        code: 404
        duration: 139.686ms
    - id: 13
      request:
        host: sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ef3d2a6f-3a21-4a25-ab3a-e71df4d85501
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T134424Z
        url: https://sse-config-basic-6401318465898162092.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg0fc6ba2ee45f4d19a6de-006a15a3b8
        status: 200 OK
        code: 200
        duration: 242.194292ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW8RW7BKXQ5SBJNVFE7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 181.085792ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/a0eb133e-cf90-4538-8e2b-ef9a199c2524
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 63.846125ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/7c3c318a-1040-439b-97c3-2ba61cfea281
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 52.227ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/447175e4-73e3-48dd-a24d-bd176b370532
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.444665083s
