---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-2376447936589082013","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:19:45.871378Z","description":"","id":"583430f4-0eef-498e-967e-8822b74cdfb3","name":"tf-test-scaleway-project-2376447936589082013","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T17:19:45.871378Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.199084ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-134687592045589981","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:19:46.130728Z","deletable":true,"description":"","editable":true,"id":"3b157c1b-6536-417d-a780-f51ecdcea39d","managed":false,"name":"tf-test-scaleway-iam-app-134687592045589981","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:19:46.130728Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.493834ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-7674009357909575096","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["583430f4-0eef-498e-967e-8822b74cdfb3"]}],"tags":null,"application_id":"3b157c1b-6536-417d-a780-f51ecdcea39d"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"3b157c1b-6536-417d-a780-f51ecdcea39d","created_at":"2026-05-28T17:19:46.215198Z","deletable":true,"description":"","editable":true,"id":"d13df6ef-16c7-4bb5-8403-5ebec6fe5bb0","managed":false,"name":"tf-test-scaleway-iam-policy-7674009357909575096","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:19:46.215198Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.802916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"3b157c1b-6536-417d-a780-f51ecdcea39d","default_project_id":"583430f4-0eef-498e-967e-8822b74cdfb3","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWSSJDJF399D4R7PGTC","application_id":"3b157c1b-6536-417d-a780-f51ecdcea39d","created_at":"2026-05-28T17:19:46.356931Z","creation_ip":"88.191.65.229","default_project_id":"583430f4-0eef-498e-967e-8822b74cdfb3","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T17:19:46.356931Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.490917ms
    - id: 4
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d85f50a7-cb14-4416-86d6-629aface7963
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171946Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-7635405108393095649
            X-Amz-Request-Id:
                - txg91137b763d3c468599c6-006a187932
        status: 200 OK
        code: 200
        duration: 8.980801166s
    - id: 5
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1c2b4997-e7ec-4de9-b5d2-a23d449d4a89
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171955Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg1ebf1ad14919407b8cd9-006a18793b
        status: 200 OK
        code: 200
        duration: 490.952417ms
    - id: 6
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9b897997-1e55-4de9-8028-272aef3850d7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171956Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>583430f4-0eef-498e-967e-8822b74cdfb3:583430f4-0eef-498e-967e-8822b74cdfb3</DisplayName><ID>583430f4-0eef-498e-967e-8822b74cdfb3:583430f4-0eef-498e-967e-8822b74cdfb3</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>583430f4-0eef-498e-967e-8822b74cdfb3:583430f4-0eef-498e-967e-8822b74cdfb3</ID><DisplayName>583430f4-0eef-498e-967e-8822b74cdfb3:583430f4-0eef-498e-967e-8822b74cdfb3</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8bc4565c5c434721ae36-006a18793c
        status: 200 OK
        code: 200
        duration: 246.37425ms
    - id: 7
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d4372e7d-94cf-4956-94a6-77d2b98e7b8e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171956Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg38a82226426948d29098-006a18793c</RequestId><HostId>txg38a82226426948d29098-006a18793c</HostId><Resource>/sse-config-basic-7635405108393095649</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg38a82226426948d29098-006a18793c
        status: 404 Not Found
        code: 404
        duration: 141.959958ms
    - id: 8
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cc846e43-9cd2-4aff-afd0-33282d4e4588
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171956Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-7635405108393095649</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8e0c89a855a942e0b7c8-006a18793c
        status: 200 OK
        code: 200
        duration: 305.33875ms
    - id: 9
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cfb6144b-78f7-4e7b-9007-c999c18222c2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171956Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgbe2408c75871432f930c-006a18793d</RequestId><HostId>txgbe2408c75871432f930c-006a18793d</HostId><Resource>/sse-config-basic-7635405108393095649</Resource><BucketName>sse-config-basic-7635405108393095649</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbe2408c75871432f930c-006a18793d
        status: 404 Not Found
        code: 404
        duration: 129.410542ms
    - id: 10
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 67575800-1f09-485b-8919-6470dd347a30
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171957Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg16d7b813f15943098902-006a18793d</RequestId><HostId>txg16d7b813f15943098902-006a18793d</HostId><Resource>/sse-config-basic-7635405108393095649</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg16d7b813f15943098902-006a18793d
        status: 404 Not Found
        code: 404
        duration: 151.231625ms
    - id: 11
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - be0e3a4f-4b2d-4c53-82a5-79555af4834c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171957Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf14ae7ebe6654c12ace8-006a18793d
        status: 200 OK
        code: 200
        duration: 452.827541ms
    - id: 12
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 74a9f9ce-be64-4476-98e5-d629d5669b41
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171957Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg961824209dff43769113-006a18793d</RequestId><HostId>txg961824209dff43769113-006a18793d</HostId><Resource>/sse-config-basic-7635405108393095649</Resource><BucketName>sse-config-basic-7635405108393095649</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg961824209dff43769113-006a18793d
        status: 404 Not Found
        code: 404
        duration: 143.48825ms
[...]
    - id: 15
      request:
        host: sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d2f2d82b-fc4d-485f-88ec-6c3cf78f953c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T171959Z
        url: https://sse-config-basic-7635405108393095649.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg3f4f916c8d02421ab4d9-006a18793f
        status: 200 OK
        code: 200
        duration: 142.681458ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWSSJDJF399D4R7PGTC
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.908875ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d13df6ef-16c7-4bb5-8403-5ebec6fe5bb0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 62.437583ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/3b157c1b-6536-417d-a780-f51ecdcea39d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.879ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/583430f4-0eef-498e-967e-8822b74cdfb3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.840609417s
