---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-3169326778775131246","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T13:32:18.667170Z","description":"","id":"6c5fb54d-931b-4417-a463-becc5762e287","name":"tf-test-scaleway-project-3169326778775131246","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T13:32:18.667170Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.562583ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1641771520960744029","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T13:32:18.887458Z","deletable":true,"description":"","editable":true,"id":"3b5568af-a45a-4163-a46c-0352715ecdec","managed":false,"name":"tf-test-scaleway-iam-app-1641771520960744029","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T13:32:18.887458Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.893083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1154687887739899476","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["6c5fb54d-931b-4417-a463-becc5762e287"]}],"tags":null,"application_id":"3b5568af-a45a-4163-a46c-0352715ecdec"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"3b5568af-a45a-4163-a46c-0352715ecdec","created_at":"2026-05-28T13:32:18.972355Z","deletable":true,"description":"","editable":true,"id":"ad15ad52-0913-4210-a229-2a1cc068cf63","managed":false,"name":"tf-test-scaleway-iam-policy-1154687887739899476","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T13:32:18.972355Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.447834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"3b5568af-a45a-4163-a46c-0352715ecdec","default_project_id":"6c5fb54d-931b-4417-a463-becc5762e287","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWECQGFPEK0RVBKAMG6","application_id":"3b5568af-a45a-4163-a46c-0352715ecdec","created_at":"2026-05-28T13:32:19.112375Z","creation_ip":"51.159.73.145","default_project_id":"6c5fb54d-931b-4417-a463-becc5762e287","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T13:32:19.112375Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.011324083s
    - id: 4
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 87909570-84b6-48d6-af4a-45fd9a3f7350
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133220Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-4074395778120134999
            X-Amz-Request-Id:
                - txgf8f72dcf22a54e2cb54e-006a1843e4
        status: 200 OK
        code: 200
        duration: 9.308657417s
    - id: 5
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a2299e6b-3fe5-49ca-a2ae-0eab80269340
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133229Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg8c640c97d58848a39484-006a1843ee
        status: 200 OK
        code: 200
        duration: 704.192875ms
    - id: 6
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ea4dba63-6ec4-436f-a089-4c88010717ad
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133230Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>6c5fb54d-931b-4417-a463-becc5762e287:6c5fb54d-931b-4417-a463-becc5762e287</DisplayName><ID>6c5fb54d-931b-4417-a463-becc5762e287:6c5fb54d-931b-4417-a463-becc5762e287</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>6c5fb54d-931b-4417-a463-becc5762e287:6c5fb54d-931b-4417-a463-becc5762e287</ID><DisplayName>6c5fb54d-931b-4417-a463-becc5762e287:6c5fb54d-931b-4417-a463-becc5762e287</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf611341517264b439d88-006a1843ee
        status: 200 OK
        code: 200
        duration: 145.176875ms
    - id: 7
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dc81a72c-14fe-4a55-9c3e-538a8ea42afd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133230Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg556ebb2b0fa54e9eb87d-006a1843ee</RequestId><HostId>txg556ebb2b0fa54e9eb87d-006a1843ee</HostId><Resource>/sse-config-basic-4074395778120134999</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg556ebb2b0fa54e9eb87d-006a1843ee
        status: 404 Not Found
        code: 404
        duration: 115.950958ms
    - id: 8
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 20cd8f3e-af41-4f47-94d8-318b51fb862d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133230Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-4074395778120134999</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga7e8f5374ec242d4887d-006a1843ee
        status: 200 OK
        code: 200
        duration: 245.469167ms
    - id: 9
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c4d24d89-6902-404f-8fe6-d67366c6d46d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133230Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg79f07c2ea8224aabbff7-006a1843ef</RequestId><HostId>txg79f07c2ea8224aabbff7-006a1843ef</HostId><Resource>/sse-config-basic-4074395778120134999</Resource><BucketName>sse-config-basic-4074395778120134999</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg79f07c2ea8224aabbff7-006a1843ef
        status: 404 Not Found
        code: 404
        duration: 25.2065ms
    - id: 10
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bc7db29c-5456-461f-be88-7551b0f578c6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133231Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg406989b7560f47e79880-006a1843ef</RequestId><HostId>txg406989b7560f47e79880-006a1843ef</HostId><Resource>/sse-config-basic-4074395778120134999</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg406989b7560f47e79880-006a1843ef
        status: 404 Not Found
        code: 404
        duration: 127.877708ms
    - id: 11
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ef8a8ec6-6aef-492c-bd3f-085c60b29096
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133231Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg29aaa31502454bea8f77-006a1843ef
        status: 200 OK
        code: 200
        duration: 770.069875ms
    - id: 12
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 49aca011-b628-4afd-a5db-e36bb1a3073d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133231Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg4c6fba8ed1ab47f2a859-006a1843f0</RequestId><HostId>txg4c6fba8ed1ab47f2a859-006a1843f0</HostId><Resource>/sse-config-basic-4074395778120134999</Resource><BucketName>sse-config-basic-4074395778120134999</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4c6fba8ed1ab47f2a859-006a1843f0
        status: 404 Not Found
        code: 404
        duration: 146.539208ms
    - id: 13
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>6c5fb54d-931b-4417-a463-becc5762e287:6c5fb54d-931b-4417-a463-becc5762e287</ID></Grantee><Permission>FULL_CONTROL</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>6c5fb54d-931b-4417-a463-becc5762e287:6c5fb54d-931b-4417-a463-becc5762e287</ID></Grantee><Permission>WRITE</Permission></Grant></AccessControlList><Owner><ID>6c5fb54d-931b-4417-a463-becc5762e287:6c5fb54d-931b-4417-a463-becc5762e287</ID></Owner></AccessControlPolicy>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9844c230-53ad-4939-a91d-6272e501a612
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - F8IJCA==
            X-Amz-Content-Sha256:
                - 4f7218d32632d2c71f4d30aad9aa971b6b9b4a07a998db82d759a311976ca608
            X-Amz-Date:
                - 20260528T133232Z
            X-Amz-Expected-Bucket-Owner:
                - 6c5fb54d-931b-4417-a463-becc5762e287
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgdac65e5bebcf4565b63e-006a1843f0
        status: 200 OK
        code: 200
        duration: 982.318542ms
[...]
    - id: 15
      request:
        host: sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 72c30c34-5aa6-4d7e-8dab-a87f111f3f3a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T133233Z
        url: https://sse-config-basic-4074395778120134999.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg3dc68255fc284edda160-006a1843f1
        status: 200 OK
        code: 200
        duration: 113.30725ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWECQGFPEK0RVBKAMG6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.863833ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/ad15ad52-0913-4210-a229-2a1cc068cf63
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 608.910167ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/3b5568af-a45a-4163-a46c-0352715ecdec
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.331708ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6c5fb54d-931b-4417-a463-becc5762e287
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.552293708s
