---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-3073198431260305054","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T08:24:38.332614Z","description":"","id":"321e3444-b63f-4da0-96db-092354103f7e","name":"tf-test-scaleway-project-3073198431260305054","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T08:24:38.332614Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.629042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1518274500297139942","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T08:24:38.523215Z","deletable":true,"description":"","editable":true,"id":"6aaa2c2a-fb68-4a24-a204-153b55e6bf81","managed":false,"name":"tf-test-scaleway-iam-app-1518274500297139942","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T08:24:38.523215Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.084125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-5369229472861187822","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["321e3444-b63f-4da0-96db-092354103f7e"]}],"tags":null,"application_id":"6aaa2c2a-fb68-4a24-a204-153b55e6bf81"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"6aaa2c2a-fb68-4a24-a204-153b55e6bf81","created_at":"2026-05-28T08:24:38.712380Z","deletable":true,"description":"","editable":true,"id":"12b5bc6a-35bb-4ef1-80f9-c5b97cd5f22e","managed":false,"name":"tf-test-scaleway-iam-policy-5369229472861187822","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T08:24:38.712380Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.752333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"6aaa2c2a-fb68-4a24-a204-153b55e6bf81","default_project_id":"321e3444-b63f-4da0-96db-092354103f7e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW98FJF5MGJWFAD7VQX","application_id":"6aaa2c2a-fb68-4a24-a204-153b55e6bf81","created_at":"2026-05-28T08:24:38.823553Z","creation_ip":"51.159.46.153","default_project_id":"321e3444-b63f-4da0-96db-092354103f7e","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T08:24:38.823553Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.368292ms
    - id: 4
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ea9b19ba-5302-4360-942a-337871b44791
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082439Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-3902650848503505216
            X-Amz-Request-Id:
                - txge9e77e5c6fca49458523-006a17fbc7
        status: 200 OK
        code: 200
        duration: 4.808785834s
    - id: 5
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6ce71427-f3f3-4952-b5d1-99c5d334da13
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082444Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgc800c893c4b94942b941-006a17fbcc
        status: 200 OK
        code: 200
        duration: 344.96975ms
    - id: 6
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 93058890-4726-427a-8bae-c69bb7331a8b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082444Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>321e3444-b63f-4da0-96db-092354103f7e:321e3444-b63f-4da0-96db-092354103f7e</DisplayName><ID>321e3444-b63f-4da0-96db-092354103f7e:321e3444-b63f-4da0-96db-092354103f7e</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>321e3444-b63f-4da0-96db-092354103f7e:321e3444-b63f-4da0-96db-092354103f7e</ID><DisplayName>321e3444-b63f-4da0-96db-092354103f7e:321e3444-b63f-4da0-96db-092354103f7e</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg97890fcd14fa4d8aa838-006a17fbcc
        status: 200 OK
        code: 200
        duration: 218.0905ms
    - id: 7
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 385455a5-6dd6-4823-8fde-6429244977e6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082444Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg7f4877db63d34f66942c-006a17fbcc</RequestId><HostId>txg7f4877db63d34f66942c-006a17fbcc</HostId><Resource>/sse-config-basic-3902650848503505216</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7f4877db63d34f66942c-006a17fbcc
        status: 404 Not Found
        code: 404
        duration: 187.154708ms
    - id: 8
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 727dbdcf-b12d-4204-8fff-530b377aca0f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082444Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-3902650848503505216</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg50243ce3c6fb42afa2df-006a17fbcc
        status: 200 OK
        code: 200
        duration: 351.442417ms
    - id: 9
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2e9dcd3a-c9a1-4542-8b59-e0d04318d7f8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082444Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg93adb36dd390416c957d-006a17fbcd</RequestId><HostId>txg93adb36dd390416c957d-006a17fbcd</HostId><Resource>/sse-config-basic-3902650848503505216</Resource><BucketName>sse-config-basic-3902650848503505216</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg93adb36dd390416c957d-006a17fbcd
        status: 404 Not Found
        code: 404
        duration: 188.399125ms
    - id: 10
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e87ea032-e35c-49d4-9d81-55264074548c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082445Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge952da26761f4b98b1eb-006a17fbcd</RequestId><HostId>txge952da26761f4b98b1eb-006a17fbcd</HostId><Resource>/sse-config-basic-3902650848503505216</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge952da26761f4b98b1eb-006a17fbcd
        status: 404 Not Found
        code: 404
        duration: 125.238042ms
    - id: 11
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5bd7265a-7e33-4ce3-9be2-38af38c2762b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082445Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg1158a660439244c99b46-006a17fbcd
        status: 200 OK
        code: 200
        duration: 183.751208ms
    - id: 12
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6a8296ac-4c49-4253-81b2-ea32a8d64c0a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082445Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgfda1f7f7a5664cbbb08e-006a17fbcd</RequestId><HostId>txgfda1f7f7a5664cbbb08e-006a17fbcd</HostId><Resource>/sse-config-basic-3902650848503505216</Resource><BucketName>sse-config-basic-3902650848503505216</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgfda1f7f7a5664cbbb08e-006a17fbcd
        status: 404 Not Found
        code: 404
        duration: 233.020875ms
[...]
    - id: 15
      request:
        host: sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - eef4c232-57b4-401a-952b-a1bace5ae823
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082446Z
        url: https://sse-config-basic-3902650848503505216.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg9fd1aa73a7c04633ad3a-006a17fbce
        status: 200 OK
        code: 200
        duration: 21.523416ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW98FJF5MGJWFAD7VQX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 112.068583ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/12b5bc6a-35bb-4ef1-80f9-c5b97cd5f22e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.544625ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/6aaa2c2a-fb68-4a24-a204-153b55e6bf81
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 63.0865ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/321e3444-b63f-4da0-96db-092354103f7e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.471844291s
