---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-2816411078823521566","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T07:55:49.145928Z","description":"","id":"5cec8a55-d5bd-4783-9897-425ecdcbfce8","name":"tf-test-scaleway-project-2816411078823521566","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T07:55:49.145928Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.576958ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-1019706863380740647","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T07:55:49.352105Z","deletable":true,"description":"","editable":true,"id":"44a40864-4c04-4835-bd28-7a618b415547","managed":false,"name":"tf-test-scaleway-iam-app-1019706863380740647","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T07:55:49.352105Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.101416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-224074307626572433","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["5cec8a55-d5bd-4783-9897-425ecdcbfce8"]}],"tags":null,"application_id":"44a40864-4c04-4835-bd28-7a618b415547"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"44a40864-4c04-4835-bd28-7a618b415547","created_at":"2026-05-28T07:55:49.731824Z","deletable":true,"description":"","editable":true,"id":"983a5228-6d83-4e02-8caa-75dce551d8b6","managed":false,"name":"tf-test-scaleway-iam-policy-224074307626572433","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T07:55:49.731824Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.955416ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"44a40864-4c04-4835-bd28-7a618b415547","default_project_id":"5cec8a55-d5bd-4783-9897-425ecdcbfce8","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWD1M5HA5J1XMCAP11R","application_id":"44a40864-4c04-4835-bd28-7a618b415547","created_at":"2026-05-28T07:55:49.857964Z","creation_ip":"51.159.46.153","default_project_id":"5cec8a55-d5bd-4783-9897-425ecdcbfce8","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T07:55:49.857964Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.392209ms
    - id: 4
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5244c44f-af41-4d6e-aa66-303a32a93581
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075550Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-4992580483687215619
            X-Amz-Request-Id:
                - txg8c87c6e4e69842dbb0d2-006a17f506
        status: 200 OK
        code: 200
        duration: 4.858040333s
    - id: 5
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f55562f0-8220-4504-8e75-827a9f2fedff
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075555Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg69fb5cd21a284dd3a43f-006a17f50b
        status: 200 OK
        code: 200
        duration: 255.935208ms
    - id: 6
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 934d2b6e-2031-4222-ab5b-7ac9d7e06d93
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075555Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>5cec8a55-d5bd-4783-9897-425ecdcbfce8:5cec8a55-d5bd-4783-9897-425ecdcbfce8</DisplayName><ID>5cec8a55-d5bd-4783-9897-425ecdcbfce8:5cec8a55-d5bd-4783-9897-425ecdcbfce8</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>5cec8a55-d5bd-4783-9897-425ecdcbfce8:5cec8a55-d5bd-4783-9897-425ecdcbfce8</ID><DisplayName>5cec8a55-d5bd-4783-9897-425ecdcbfce8:5cec8a55-d5bd-4783-9897-425ecdcbfce8</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg362e7d274523456e8c02-006a17f50b
        status: 200 OK
        code: 200
        duration: 232.843417ms
    - id: 7
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fa864bf2-e601-42c4-88ed-ef282f86b70d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075555Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg3b4c1bb13d374df5b1ae-006a17f50b</RequestId><HostId>txg3b4c1bb13d374df5b1ae-006a17f50b</HostId><Resource>/sse-config-basic-4992580483687215619</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3b4c1bb13d374df5b1ae-006a17f50b
        status: 404 Not Found
        code: 404
        duration: 245.5495ms
    - id: 8
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 30654ad3-eaff-41bc-859e-ba8c793d0a65
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075555Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-4992580483687215619</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge29588ae16804c3e952b-006a17f50c
        status: 200 OK
        code: 200
        duration: 488.704583ms
    - id: 9
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 23c466d3-484a-48e9-9744-ece45dca64d1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075556Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txga894ca4cd927475c8375-006a17f50c</RequestId><HostId>txga894ca4cd927475c8375-006a17f50c</HostId><Resource>/sse-config-basic-4992580483687215619</Resource><BucketName>sse-config-basic-4992580483687215619</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga894ca4cd927475c8375-006a17f50c
        status: 404 Not Found
        code: 404
        duration: 220.541625ms
    - id: 10
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c5d26f4f-0140-4a78-bab1-e741ca97ff09
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075556Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg164c1875897a4aa994ad-006a17f50c</RequestId><HostId>txg164c1875897a4aa994ad-006a17f50c</HostId><Resource>/sse-config-basic-4992580483687215619</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg164c1875897a4aa994ad-006a17f50c
        status: 404 Not Found
        code: 404
        duration: 391.420916ms
    - id: 11
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 60978c4a-e828-4963-b68e-8381f3d4121f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075556Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txga457b62106a240978e69-006a17f50d
        status: 200 OK
        code: 200
        duration: 244.334ms
    - id: 12
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ea3bdf8e-5f04-4c8f-af68-a81b90cca46e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075557Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgace92aab37084e62b8ee-006a17f50d</RequestId><HostId>txgace92aab37084e62b8ee-006a17f50d</HostId><Resource>/sse-config-basic-4992580483687215619</Resource><BucketName>sse-config-basic-4992580483687215619</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgace92aab37084e62b8ee-006a17f50d
        status: 404 Not Found
        code: 404
        duration: 183.533458ms
[...]
    - id: 15
      request:
        host: sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 89ae4a74-04fb-48e0-98f9-c2791c582403
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T075558Z
        url: https://sse-config-basic-4992580483687215619.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg93e744c7b03742df9a91-006a17f50e
        status: 200 OK
        code: 200
        duration: 46.171542ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWD1M5HA5J1XMCAP11R
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.433125ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/983a5228-6d83-4e02-8caa-75dce551d8b6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.484ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/44a40864-4c04-4835-bd28-7a618b415547
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.759375ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/5cec8a55-d5bd-4783-9897-425ecdcbfce8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.569303291s
