---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6832338192703672202","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T11:18:49.397832Z","description":"","id":"b05808e9-f122-49c7-b588-bdc251a8e39e","name":"tf-test-scaleway-project-6832338192703672202","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T11:18:49.397832Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.365167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-3853531117084557828","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T11:18:49.647486Z","deletable":true,"description":"","editable":true,"id":"3b24b10c-fd97-4abd-9df8-c31d5329ce3b","managed":false,"name":"tf-test-scaleway-iam-app-3853531117084557828","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T11:18:49.647486Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.405ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-9149481565975993065","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["b05808e9-f122-49c7-b588-bdc251a8e39e"]}],"tags":null,"application_id":"3b24b10c-fd97-4abd-9df8-c31d5329ce3b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"3b24b10c-fd97-4abd-9df8-c31d5329ce3b","created_at":"2026-05-28T11:18:49.750967Z","deletable":true,"description":"","editable":true,"id":"c0b61423-8420-461b-b65c-6be3c3bb004c","managed":false,"name":"tf-test-scaleway-iam-policy-9149481565975993065","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T11:18:49.750967Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.339583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"3b24b10c-fd97-4abd-9df8-c31d5329ce3b","default_project_id":"b05808e9-f122-49c7-b588-bdc251a8e39e","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWZQYQC7GWHR3DJ9Q5H","application_id":"3b24b10c-fd97-4abd-9df8-c31d5329ce3b","created_at":"2026-05-28T11:18:49.895061Z","creation_ip":"51.159.46.153","default_project_id":"b05808e9-f122-49c7-b588-bdc251a8e39e","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T11:18:49.895061Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 848.61875ms
    - id: 4
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 805e710c-a767-4f5f-ae4d-e92ecccfb231
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111851Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scw-object-acl-name-7133424884265816844
            X-Amz-Request-Id:
                - txga0625732b0464b688441-006a18249b
        status: 200 OK
        code: 200
        duration: 9.490929333s
    - id: 5
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d4ddb657-348b-404a-8e84-ad1e9805875c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111900Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg16c9d6e1fb2d4021b23d-006a1824a4
        status: 200 OK
        code: 200
        duration: 255.975542ms
    - id: 6
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 66af64f7-253c-46d5-b240-8ff56a8e8119
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111901Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</DisplayName><ID>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</ID><DisplayName>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf10eebb1de86423b97f7-006a1824a5
        status: 200 OK
        code: 200
        duration: 190.3385ms
    - id: 7
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8315dab5-c938-40c0-8af8-b503816eff45
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111901Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg40e4c3edade44d79933d-006a1824a5</RequestId><HostId>txg40e4c3edade44d79933d-006a1824a5</HostId><Resource>/tf-tests-scw-object-acl-name-7133424884265816844</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg40e4c3edade44d79933d-006a1824a5
        status: 404 Not Found
        code: 404
        duration: 172.079042ms
    - id: 8
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d6223bb6-4d06-4f23-ba5f-436709a231cf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111901Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scw-object-acl-name-7133424884265816844</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9f4c7656841e4177b701-006a1824a5
        status: 200 OK
        code: 200
        duration: 523.860667ms
    - id: 9
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ef1b43a2-77dd-401c-ba10-43ab3f3e2977
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111901Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg8eac2db5247849b6b1e5-006a1824a6</RequestId><HostId>txg8eac2db5247849b6b1e5-006a1824a6</HostId><Resource>/tf-tests-scw-object-acl-name-7133424884265816844</Resource><BucketName>tf-tests-scw-object-acl-name-7133424884265816844</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8eac2db5247849b6b1e5-006a1824a6
        status: 404 Not Found
        code: 404
        duration: 158.40775ms
    - id: 10
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f154826b-1bda-4fe5-b133-05ccbd765c3e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111902Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg43068208c10546c3894e-006a1824a6</RequestId><HostId>txg43068208c10546c3894e-006a1824a6</HostId><Resource>/tf-tests-scw-object-acl-name-7133424884265816844</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg43068208c10546c3894e-006a1824a6
        status: 404 Not Found
        code: 404
        duration: 180.572166ms
    - id: 11
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2d40276c-575f-4d3f-9fb7-90dc257ca303
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111902Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg38f99ccb0bba46cfa34a-006a1824a6
        status: 200 OK
        code: 200
        duration: 120.941709ms
    - id: 12
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2c12a1a1-55da-449f-9719-4a5bda9e2a7c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111902Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg8b43d233e66a42ec8bf4-006a1824a6</RequestId><HostId>txg8b43d233e66a42ec8bf4-006a1824a6</HostId><Resource>/tf-tests-scw-object-acl-name-7133424884265816844</Resource><BucketName>tf-tests-scw-object-acl-name-7133424884265816844</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8b43d233e66a42ec8bf4-006a1824a6
        status: 404 Not Found
        code: 404
        duration: 989.548167ms
    - id: 13
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a17d1e5a-b691-4d42-b6eb-48172ca07e9a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - public-read
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111903Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: <Error><Code>NoSuchBucket</Code><Message>The specified bucket does not exist</Message><RequestId>txg747aaf58edcf47d7b50a-006a1824a7</RequestId><HostId>txg747aaf58edcf47d7b50a-006a1824a7</HostId><Resource>/tf-tests-scw-object-acl-name-7133424884265816844</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg747aaf58edcf47d7b50a-006a1824a7
        status: 404 Not Found
        code: 404
        duration: 204.346458ms
[...]
    - id: 22
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8c41dfeb-a584-4121-a98c-91351010cd6a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111908Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</DisplayName><ID>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</ID><DisplayName>b05808e9-f122-49c7-b588-bdc251a8e39e:b05808e9-f122-49c7-b588-bdc251a8e39e</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="Group"><URI>http://acs.amazonaws.com/groups/global/AllUsers</URI></Grantee><Permission>READ</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4176f4a851924f7395e3-006a1824ac
        status: 200 OK
        code: 200
        duration: 181.154125ms
    - id: 23
      request:
        host: tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ebc969e2-85ec-4e86-8684-ef290446e558
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T111908Z
        url: https://tf-tests-scw-object-acl-name-7133424884265816844.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txgece86b3ddc0648bc906f-006a1824ac
        status: 200 OK
        code: 200
        duration: 157.650709ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZQYQC7GWHR3DJ9Q5H
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 445.334333ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/c0b61423-8420-461b-b65c-6be3c3bb004c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 375.354625ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/3b24b10c-fd97-4abd-9df8-c31d5329ce3b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.932333ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b05808e9-f122-49c7-b588-bdc251a8e39e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.585323875s
