---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6691670881553832859","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-27T15:46:33.285696Z","description":"","id":"47a82066-9584-4a65-89f9-04a6af38d986","name":"tf-test-scaleway-project-6691670881553832859","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-27T15:46:33.285696Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.074167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-6731095964879155804","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-27T15:46:33.476045Z","deletable":true,"description":"","editable":true,"id":"2965057f-f040-4859-acc7-2099762bafc5","managed":false,"name":"tf-test-scaleway-iam-app-6731095964879155804","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-27T15:46:33.476045Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.264291ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-4988291742214546071","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["47a82066-9584-4a65-89f9-04a6af38d986"]}],"tags":null,"application_id":"2965057f-f040-4859-acc7-2099762bafc5"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"2965057f-f040-4859-acc7-2099762bafc5","created_at":"2026-05-27T15:46:33.558330Z","deletable":true,"description":"","editable":true,"id":"5e6890b4-1577-4b19-86e0-511878db2ee2","managed":false,"name":"tf-test-scaleway-iam-policy-4988291742214546071","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-27T15:46:33.558330Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.538583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"2965057f-f040-4859-acc7-2099762bafc5","default_project_id":"47a82066-9584-4a65-89f9-04a6af38d986","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWZ75TX6RKQHPEZFB8V","application_id":"2965057f-f040-4859-acc7-2099762bafc5","created_at":"2026-05-27T15:46:33.679607Z","creation_ip":"51.159.73.145","default_project_id":"47a82066-9584-4a65-89f9-04a6af38d986","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-27T15:46:33.679607Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.828ms
    - id: 4
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 51076dd9-3c2f-4168-8f46-e471480afe3c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154634Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-5132073123636708263
            X-Amz-Request-Id:
                - txg6a59e62255c548b9b5a2-006a1711da
        status: 200 OK
        code: 200
        duration: 8.132721625s
    - id: 5
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 02c2d245-cd0a-45b9-a597-d81e39216320
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154642Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg5e3c29629bd342e69379-006a1711e2
        status: 200 OK
        code: 200
        duration: 1.218646709s
    - id: 6
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 949d4046-26dd-4c11-9402-ba511f6c73dd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154643Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>47a82066-9584-4a65-89f9-04a6af38d986:47a82066-9584-4a65-89f9-04a6af38d986</DisplayName><ID>47a82066-9584-4a65-89f9-04a6af38d986:47a82066-9584-4a65-89f9-04a6af38d986</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>47a82066-9584-4a65-89f9-04a6af38d986:47a82066-9584-4a65-89f9-04a6af38d986</ID><DisplayName>47a82066-9584-4a65-89f9-04a6af38d986:47a82066-9584-4a65-89f9-04a6af38d986</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txge175320471294e6d801f-006a1711e3
        status: 200 OK
        code: 200
        duration: 137.055ms
    - id: 7
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d329bd22-64b6-4584-a3c0-5b4120e7b447
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154643Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgf0bf0f98ac1240c0942e-006a1711e3</RequestId><HostId>txgf0bf0f98ac1240c0942e-006a1711e3</HostId><Resource>/sse-config-basic-5132073123636708263</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf0bf0f98ac1240c0942e-006a1711e3
        status: 404 Not Found
        code: 404
        duration: 196.926458ms
    - id: 8
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 28f01187-df19-41d8-bbaa-ab2beed6c0e1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154643Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-5132073123636708263</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg41d00c0b018e46b694a7-006a1711e3
        status: 200 OK
        code: 200
        duration: 441.224834ms
    - id: 9
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a528d6a0-73ac-4971-8278-7974befbabba
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154643Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgf4a256235d4743359bb6-006a1711e4</RequestId><HostId>txgf4a256235d4743359bb6-006a1711e4</HostId><Resource>/sse-config-basic-5132073123636708263</Resource><BucketName>sse-config-basic-5132073123636708263</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf4a256235d4743359bb6-006a1711e4
        status: 404 Not Found
        code: 404
        duration: 306.656333ms
    - id: 10
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5b8f25b8-c203-46de-911b-7673283b5ecb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154644Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txge22722bddd884868a5db-006a1711e4</RequestId><HostId>txge22722bddd884868a5db-006a1711e4</HostId><Resource>/sse-config-basic-5132073123636708263</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge22722bddd884868a5db-006a1711e4
        status: 404 Not Found
        code: 404
        duration: 117.771209ms
    - id: 11
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e0d26f16-9966-4365-a3f2-6f3e42454241
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154644Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgb745134a248e484891dc-006a1711e4
        status: 200 OK
        code: 200
        duration: 128.374625ms
    - id: 12
      request:
        host: sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 84e61d76-182b-42ee-b0fd-9d9e7e89694e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T154644Z
        url: https://sse-config-basic-5132073123636708263.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgcfe255dc52a5454f98c2-006a1711e4</RequestId><HostId>txgcfe255dc52a5454f98c2-006a1711e4</HostId><Resource>/sse-config-basic-5132073123636708263</Resource><BucketName>sse-config-basic-5132073123636708263</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgcfe255dc52a5454f98c2-006a1711e4
        status: 404 Not Found
        code: 404
        duration: 359.561209ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWZ75TX6RKQHPEZFB8V
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.010125ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/5e6890b4-1577-4b19-86e0-511878db2ee2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.797ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/2965057f-f040-4859-acc7-2099762bafc5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.289125ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/47a82066-9584-4a65-89f9-04a6af38d986
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"47a82066-9584-4a65-89f9-04a6af38d986\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 1.91957075s
