---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-832060772690721729","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-21T17:47:26.218396Z","description":"","id":"90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf","name":"tf-test-scaleway-project-832060772690721729","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-21T17:47:26.218396Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.192458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-4438580761587245482","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-21T17:47:26.431865Z","deletable":true,"description":"","editable":true,"id":"1cb1a80f-d5e0-41df-b905-43521ffa2b88","managed":false,"name":"tf-test-scaleway-iam-app-4438580761587245482","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-21T17:47:26.431865Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.893958ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1148959131165995630","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf"]}],"tags":null,"application_id":"1cb1a80f-d5e0-41df-b905-43521ffa2b88"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"1cb1a80f-d5e0-41df-b905-43521ffa2b88","created_at":"2026-05-21T17:47:26.516846Z","deletable":true,"description":"","editable":true,"id":"de8a0cc7-dbd1-48f6-9680-f16d8623cbbd","managed":false,"name":"tf-test-scaleway-iam-policy-1148959131165995630","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-21T17:47:26.516846Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.750042ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"1cb1a80f-d5e0-41df-b905-43521ffa2b88","default_project_id":"90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW8WXSND6NGZR0ZHB5Q","application_id":"1cb1a80f-d5e0-41df-b905-43521ffa2b88","created_at":"2026-05-21T17:47:26.627709Z","creation_ip":"51.159.46.153","default_project_id":"90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-21T17:47:26.627709Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.887625ms
    - id: 4
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bd33b7e0-b376-488a-b7fc-8796578e7e18
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174727Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /test-7192385145273004304
            X-Amz-Request-Id:
                - txg389f76341d9c45eeb85d-006a0f452f
        status: 200 OK
        code: 200
        duration: 8.110238834s
    - id: 5
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8b3da23d-f434-4b11-8931-f1fed3cfaaad
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174735Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg7a831295db904f5dbbb1-006a0f4537
        status: 200 OK
        code: 200
        duration: 1.249642416s
    - id: 6
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f83275ee-aebc-4927-af12-9116baf12f76
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174736Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf:90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf</DisplayName><ID>90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf:90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf:90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf</ID><DisplayName>90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf:90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg39b502c87b1e40d2907d-006a0f4538
        status: 200 OK
        code: 200
        duration: 112.946291ms
    - id: 7
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 80828210-56bb-4e58-b4aa-d803d49dd6ea
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174736Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txga8c1a0f57c7a48c29780-006a0f4538</RequestId><HostId>txga8c1a0f57c7a48c29780-006a0f4538</HostId><Resource>/test-7192385145273004304</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga8c1a0f57c7a48c29780-006a0f4538
        status: 404 Not Found
        code: 404
        duration: 141.717125ms
    - id: 8
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4a3c3222-8c6a-45d9-aca8-03a3f96efa1d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174736Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>test-7192385145273004304</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgacc3219eea554cd6b5f9-006a0f4538
        status: 200 OK
        code: 200
        duration: 333.075125ms
    - id: 9
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - def30c75-0b6b-457e-a930-cba52b2bf38d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174736Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg2b38171c29034b88b10b-006a0f4539</RequestId><HostId>txg2b38171c29034b88b10b-006a0f4539</HostId><Resource>/test-7192385145273004304</Resource><BucketName>test-7192385145273004304</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2b38171c29034b88b10b-006a0f4539
        status: 404 Not Found
        code: 404
        duration: 167.819292ms
    - id: 10
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - aadbe17b-8458-4f01-98f1-6a464b04ce1e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174737Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgb7b6102e66894d339037-006a0f4539</RequestId><HostId>txgb7b6102e66894d339037-006a0f4539</HostId><Resource>/test-7192385145273004304</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb7b6102e66894d339037-006a0f4539
        status: 404 Not Found
        code: 404
        duration: 200.204041ms
    - id: 11
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a4669a22-4e43-447d-a5a7-0546ab945432
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174737Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg7f36b5e5a07941ab95cb-006a0f4539
        status: 200 OK
        code: 200
        duration: 125.137875ms
    - id: 12
      request:
        host: test-7192385145273004304.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6f8a50f9-f5b8-41ed-8d85-c951e735e14c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T174737Z
        url: https://test-7192385145273004304.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg0e5ab46a7fcd4cc69184-006a0f4539</RequestId><HostId>txg0e5ab46a7fcd4cc69184-006a0f4539</HostId><Resource>/test-7192385145273004304</Resource><BucketName>test-7192385145273004304</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0e5ab46a7fcd4cc69184-006a0f4539
        status: 404 Not Found
        code: 404
        duration: 48.497458ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW8WXSND6NGZR0ZHB5Q
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.263625ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/de8a0cc7-dbd1-48f6-9680-f16d8623cbbd
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 73.303292ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/1cb1a80f-d5e0-41df-b905-43521ffa2b88
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 57.854708ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf
        method: DELETE
      response:
        body: '{"help_message":"an unexpected error happened when checking if project \"90b8e9bf-906a-4ed7-a8ee-6e4ba01c7fbf\" has resources, please retry later","message":"precondition is not respected","precondition":"resource_not_usable","type":"precondition_failed"}'
        headers:
            Content-Type:
                - application/json
        status: 412 Precondition Failed
        code: 412
        duration: 15.168257334s
