---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5760868292098776329","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T08:31:07.420759Z","description":"","id":"cdc61e64-31ec-4403-9326-7f211bb08c10","name":"tf-test-scaleway-project-5760868292098776329","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T08:31:07.420759Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.915916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-6078242593666030597","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T08:31:07.614255Z","deletable":true,"description":"","editable":true,"id":"611c827c-0dc1-437e-996f-80d2e48de81e","managed":false,"name":"tf-test-scaleway-iam-app-6078242593666030597","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T08:31:07.614255Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.818125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-1589388730153545900","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["cdc61e64-31ec-4403-9326-7f211bb08c10"]}],"tags":null,"application_id":"611c827c-0dc1-437e-996f-80d2e48de81e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"611c827c-0dc1-437e-996f-80d2e48de81e","created_at":"2026-05-28T08:31:07.712769Z","deletable":true,"description":"","editable":true,"id":"94130ccb-96b6-4202-847a-39e54fba249a","managed":false,"name":"tf-test-scaleway-iam-policy-1589388730153545900","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T08:31:07.712769Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.91875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"611c827c-0dc1-437e-996f-80d2e48de81e","default_project_id":"cdc61e64-31ec-4403-9326-7f211bb08c10","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW4W2AWDTCT6D8F2CJB","application_id":"611c827c-0dc1-437e-996f-80d2e48de81e","created_at":"2026-05-28T08:31:07.842664Z","creation_ip":"51.159.46.153","default_project_id":"cdc61e64-31ec-4403-9326-7f211bb08c10","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T08:31:07.842664Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.829792ms
    - id: 4
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 11ad8571-f851-48da-8449-1ddcaba70bfa
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083108Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-5445782867606810734
            X-Amz-Request-Id:
                - txg4cfe3c2363c14b22a5dd-006a17fd4c
        status: 200 OK
        code: 200
        duration: 8.7285895s
    - id: 5
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fae4fb70-d326-4506-b841-53f394e3799c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083117Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgd8776efad0b74a1aaae1-006a17fd55
        status: 200 OK
        code: 200
        duration: 293.895125ms
    - id: 6
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - df9301b3-7434-49fc-b9e6-71dd02ef5446
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083117Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>cdc61e64-31ec-4403-9326-7f211bb08c10:cdc61e64-31ec-4403-9326-7f211bb08c10</DisplayName><ID>cdc61e64-31ec-4403-9326-7f211bb08c10:cdc61e64-31ec-4403-9326-7f211bb08c10</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>cdc61e64-31ec-4403-9326-7f211bb08c10:cdc61e64-31ec-4403-9326-7f211bb08c10</ID><DisplayName>cdc61e64-31ec-4403-9326-7f211bb08c10:cdc61e64-31ec-4403-9326-7f211bb08c10</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg1e563b1ded5243cc83c1-006a17fd55
        status: 200 OK
        code: 200
        duration: 246.2015ms
    - id: 7
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d41a8d84-8b77-446b-948d-75d960bc4b30
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083117Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg56b60fe5c49d4f47a379-006a17fd55</RequestId><HostId>txg56b60fe5c49d4f47a379-006a17fd55</HostId><Resource>/sse-config-basic-5445782867606810734</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg56b60fe5c49d4f47a379-006a17fd55
        status: 404 Not Found
        code: 404
        duration: 244.741875ms
    - id: 8
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fc39d984-d7c2-4206-aa38-cf393b7b01d5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083117Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-5445782867606810734</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8b847c0204c74144876d-006a17fd55
        status: 200 OK
        code: 200
        duration: 488.732041ms
    - id: 9
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 15d2a330-c42c-4104-941d-f6882697db60
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083117Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg78c598a40b8a4a3d9afd-006a17fd56</RequestId><HostId>txg78c598a40b8a4a3d9afd-006a17fd56</HostId><Resource>/sse-config-basic-5445782867606810734</Resource><BucketName>sse-config-basic-5445782867606810734</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg78c598a40b8a4a3d9afd-006a17fd56
        status: 404 Not Found
        code: 404
        duration: 213.234042ms
    - id: 10
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5209e05a-fbde-48ab-8c07-2be64d6a0d6b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083118Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9ea6f26360b14a7ea533-006a17fd56</RequestId><HostId>txg9ea6f26360b14a7ea533-006a17fd56</HostId><Resource>/sse-config-basic-5445782867606810734</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9ea6f26360b14a7ea533-006a17fd56
        status: 404 Not Found
        code: 404
        duration: 154.033666ms
    - id: 11
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 36ca5acd-7c5b-47d8-89f9-6d317e1e69de
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083118Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4da9a0eb98f14d6da90c-006a17fd56
        status: 200 OK
        code: 200
        duration: 147.17925ms
    - id: 12
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fecee0d9-1224-4c22-b307-66f094520fb4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083118Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txga68f973fa313419a992b-006a17fd57</RequestId><HostId>txga68f973fa313419a992b-006a17fd57</HostId><Resource>/sse-config-basic-5445782867606810734</Resource><BucketName>sse-config-basic-5445782867606810734</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga68f973fa313419a992b-006a17fd57
        status: 404 Not Found
        code: 404
        duration: 340.8465ms
[...]
    - id: 15
      request:
        host: sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 172168ca-4b0b-4aab-a5f7-248389a72ee8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T083120Z
        url: https://sse-config-basic-5445782867606810734.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txgf21c9a26eddf41c2a35c-006a17fd58
        status: 200 OK
        code: 200
        duration: 237.429541ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW4W2AWDTCT6D8F2CJB
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 149.402417ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/94130ccb-96b6-4202-847a-39e54fba249a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 324.729084ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/611c827c-0dc1-437e-996f-80d2e48de81e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 167.603292ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cdc61e64-31ec-4403-9326-7f211bb08c10
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.555741417s
