---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-1749151974339783474","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T07:27:29.819969Z","description":"","id":"b0d2c7b2-3313-4249-9f01-38045a47ce0c","name":"tf-test-scaleway-project-1749151974339783474","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T07:27:29.819969Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.644291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-923380268754340301","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T07:27:30.049184Z","deletable":true,"description":"","editable":true,"id":"cf72e3ae-cb15-46ee-9c4f-3315a56fd999","managed":false,"name":"tf-test-scaleway-iam-app-923380268754340301","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T07:27:30.049184Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.279ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-747767169670221355","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["b0d2c7b2-3313-4249-9f01-38045a47ce0c"]}],"tags":null,"application_id":"cf72e3ae-cb15-46ee-9c4f-3315a56fd999"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"cf72e3ae-cb15-46ee-9c4f-3315a56fd999","created_at":"2026-05-28T07:27:30.122946Z","deletable":true,"description":"","editable":true,"id":"398d179c-8184-4faf-80b8-c91dd5b6a541","managed":false,"name":"tf-test-scaleway-iam-policy-747767169670221355","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T07:27:30.122946Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.661041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"cf72e3ae-cb15-46ee-9c4f-3315a56fd999","default_project_id":"b0d2c7b2-3313-4249-9f01-38045a47ce0c","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWGFP1DTB7F5TSZV4QY","application_id":"cf72e3ae-cb15-46ee-9c4f-3315a56fd999","created_at":"2026-05-28T07:27:30.269812Z","creation_ip":"88.191.65.229","default_project_id":"b0d2c7b2-3313-4249-9f01-38045a47ce0c","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T07:27:30.269812Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.439084ms
    - id: 4
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7d7eb171-937c-4c52-bdf8-987522d21bbe
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072730Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-6753132871626564950
            X-Amz-Request-Id:
                - txge4a3e9b766af4e82a080-006a17ee63
        status: 200 OK
        code: 200
        duration: 9.248398708s
    - id: 5
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 00e49d7d-4e2c-4713-a5af-c24e6fd51237
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072740Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgcc4d41cb4c4b47d3be47-006a17ee6c
        status: 200 OK
        code: 200
        duration: 366.565708ms
    - id: 6
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9a03db9e-230a-4e67-afcd-25fc3e72ccdf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072740Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>b0d2c7b2-3313-4249-9f01-38045a47ce0c:b0d2c7b2-3313-4249-9f01-38045a47ce0c</DisplayName><ID>b0d2c7b2-3313-4249-9f01-38045a47ce0c:b0d2c7b2-3313-4249-9f01-38045a47ce0c</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>b0d2c7b2-3313-4249-9f01-38045a47ce0c:b0d2c7b2-3313-4249-9f01-38045a47ce0c</ID><DisplayName>b0d2c7b2-3313-4249-9f01-38045a47ce0c:b0d2c7b2-3313-4249-9f01-38045a47ce0c</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg48e47aee0677492ca256-006a17ee6c
        status: 200 OK
        code: 200
        duration: 245.62025ms
    - id: 7
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 676b0a9d-f51a-4c76-8dca-aa5f467fb433
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072740Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg1ad3528239674003b3c0-006a17ee6c</RequestId><HostId>txg1ad3528239674003b3c0-006a17ee6c</HostId><Resource>/sse-config-basic-6753132871626564950</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1ad3528239674003b3c0-006a17ee6c
        status: 404 Not Found
        code: 404
        duration: 245.161959ms
    - id: 8
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 45ea82ba-b56d-4c74-b640-715ac0165c08
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072740Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-6753132871626564950</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg81dd0b46936640b6a515-006a17ee6d
        status: 200 OK
        code: 200
        duration: 487.557208ms
    - id: 9
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 555f0559-82f2-4b2b-bf8c-5a546a07514b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072741Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg6df2de51f71e4970bd14-006a17ee6d</RequestId><HostId>txg6df2de51f71e4970bd14-006a17ee6d</HostId><Resource>/sse-config-basic-6753132871626564950</Resource><BucketName>sse-config-basic-6753132871626564950</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6df2de51f71e4970bd14-006a17ee6d
        status: 404 Not Found
        code: 404
        duration: 366.600584ms
    - id: 10
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 29bed4c5-5cfa-482c-bbad-b7ff19d53ae0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072741Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgcd43c86b46fd49efa6dd-006a17ee6e</RequestId><HostId>txgcd43c86b46fd49efa6dd-006a17ee6e</HostId><Resource>/sse-config-basic-6753132871626564950</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgcd43c86b46fd49efa6dd-006a17ee6e
        status: 404 Not Found
        code: 404
        duration: 246.366083ms
    - id: 11
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3aa05d71-7ca1-43e6-984d-6cd467db14c7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072742Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg7aac5a820f474a188977-006a17ee6e
        status: 200 OK
        code: 200
        duration: 253.213708ms
    - id: 12
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 24697cae-6723-49ee-acc0-1e06316f3de8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072742Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgfadb910fe96c4564813e-006a17ee6e</RequestId><HostId>txgfadb910fe96c4564813e-006a17ee6e</HostId><Resource>/sse-config-basic-6753132871626564950</Resource><BucketName>sse-config-basic-6753132871626564950</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgfadb910fe96c4564813e-006a17ee6e
        status: 404 Not Found
        code: 404
        duration: 237.064375ms
[...]
    - id: 15
      request:
        host: sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e210ac78-a457-4349-bf25-c49e9fa4d87b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T072743Z
        url: https://sse-config-basic-6753132871626564950.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg66b766392e8340d4a982-006a17ee6f
        status: 200 OK
        code: 200
        duration: 176.339083ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWGFP1DTB7F5TSZV4QY
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.131125ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/398d179c-8184-4faf-80b8-c91dd5b6a541
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 169.107542ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/cf72e3ae-cb15-46ee-9c4f-3315a56fd999
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 48.028917ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b0d2c7b2-3313-4249-9f01-38045a47ce0c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.550358875s
