---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6488956890072739563","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T08:20:39.633050Z","description":"","id":"cfc1d47c-8378-4067-b6af-fe6593d82562","name":"tf-test-scaleway-project-6488956890072739563","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T08:20:39.633050Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.222208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-6998995301905695635","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T08:20:39.858623Z","deletable":true,"description":"","editable":true,"id":"994357f8-8c61-428d-b786-964a4b4d3c9b","managed":false,"name":"tf-test-scaleway-iam-app-6998995301905695635","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T08:20:39.858623Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.766166ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8628460591443230258","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["cfc1d47c-8378-4067-b6af-fe6593d82562"]}],"tags":null,"application_id":"994357f8-8c61-428d-b786-964a4b4d3c9b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"994357f8-8c61-428d-b786-964a4b4d3c9b","created_at":"2026-05-28T08:20:39.946372Z","deletable":true,"description":"","editable":true,"id":"45b75c18-15c3-487f-8e72-a95ebdec20ad","managed":false,"name":"tf-test-scaleway-iam-policy-8628460591443230258","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T08:20:39.946372Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 814.50225ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"994357f8-8c61-428d-b786-964a4b4d3c9b","default_project_id":"cfc1d47c-8378-4067-b6af-fe6593d82562","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWWEYXGQNPJB56BPP6A","application_id":"994357f8-8c61-428d-b786-964a4b4d3c9b","created_at":"2026-05-28T08:20:40.748153Z","creation_ip":"51.159.46.153","default_project_id":"cfc1d47c-8378-4067-b6af-fe6593d82562","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T08:20:40.748153Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.238125ms
    - id: 4
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 02c82395-2338-4085-b7a9-28005625f061
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082041Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-1964669429223517205
            X-Amz-Request-Id:
                - txg6d8559495584440f8617-006a17fad9
        status: 200 OK
        code: 200
        duration: 8.808097708s
    - id: 5
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9630cf36-ebe8-4e03-92cd-0fa2eeb59b47
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082050Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txged267fb4b2d34ce9b39e-006a17fae2
        status: 200 OK
        code: 200
        duration: 365.188167ms
    - id: 6
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2b047547-ff1d-4eac-87c1-c9347486328c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082050Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>cfc1d47c-8378-4067-b6af-fe6593d82562:cfc1d47c-8378-4067-b6af-fe6593d82562</DisplayName><ID>cfc1d47c-8378-4067-b6af-fe6593d82562:cfc1d47c-8378-4067-b6af-fe6593d82562</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>cfc1d47c-8378-4067-b6af-fe6593d82562:cfc1d47c-8378-4067-b6af-fe6593d82562</ID><DisplayName>cfc1d47c-8378-4067-b6af-fe6593d82562:cfc1d47c-8378-4067-b6af-fe6593d82562</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0ae676ee1a9e4f6d9413-006a17fae2
        status: 200 OK
        code: 200
        duration: 246.521375ms
    - id: 7
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cda5332e-5c0c-43dd-9867-219d4235f70e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082050Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6c99fd8314c543828375-006a17fae2</RequestId><HostId>txg6c99fd8314c543828375-006a17fae2</HostId><Resource>/sse-config-basic-1964669429223517205</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6c99fd8314c543828375-006a17fae2
        status: 404 Not Found
        code: 404
        duration: 243.270417ms
    - id: 8
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 374827c8-bac7-4293-abd3-80381d6d5de4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082050Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-1964669429223517205</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3b5297060a0c47708475-006a17fae3
        status: 200 OK
        code: 200
        duration: 324.101125ms
    - id: 9
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f38c7805-2e82-4036-bc93-003fac261e37
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082051Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg946ee3e2747641ffb699-006a17fae3</RequestId><HostId>txg946ee3e2747641ffb699-006a17fae3</HostId><Resource>/sse-config-basic-1964669429223517205</Resource><BucketName>sse-config-basic-1964669429223517205</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg946ee3e2747641ffb699-006a17fae3
        status: 404 Not Found
        code: 404
        duration: 147.349042ms
    - id: 10
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a932ece7-039b-4ebd-b08d-9a83f5eec601
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082051Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg91201ee99b8b4910a0cf-006a17fae3</RequestId><HostId>txg91201ee99b8b4910a0cf-006a17fae3</HostId><Resource>/sse-config-basic-1964669429223517205</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg91201ee99b8b4910a0cf-006a17fae3
        status: 404 Not Found
        code: 404
        duration: 149.341917ms
    - id: 11
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 019ffec0-4665-40b2-917c-dcea9defbd0f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082051Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg53a49d5901ff418794d4-006a17fae3
        status: 200 OK
        code: 200
        duration: 125.152917ms
    - id: 12
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bf5b7358-fea9-4a55-b861-e24f4053dbb8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082051Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg14cc45c9f27d46609815-006a17fae3</RequestId><HostId>txg14cc45c9f27d46609815-006a17fae3</HostId><Resource>/sse-config-basic-1964669429223517205</Resource><BucketName>sse-config-basic-1964669429223517205</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg14cc45c9f27d46609815-006a17fae3
        status: 404 Not Found
        code: 404
        duration: 235.771542ms
    - id: 13
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>cfc1d47c-8378-4067-b6af-fe6593d82562:cfc1d47c-8378-4067-b6af-fe6593d82562</ID></Grantee><Permission>FULL_CONTROL</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>cfc1d47c-8378-4067-b6af-fe6593d82562:cfc1d47c-8378-4067-b6af-fe6593d82562</ID></Grantee><Permission>WRITE</Permission></Grant></AccessControlList><Owner><ID>cfc1d47c-8378-4067-b6af-fe6593d82562:cfc1d47c-8378-4067-b6af-fe6593d82562</ID></Owner></AccessControlPolicy>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6feaa3b5-33a0-4ad6-953c-2ee444bfdfd4
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - ALjZhA==
            X-Amz-Content-Sha256:
                - f2e7d3d0be1304619c725a4e840164a6ef06196c14a9d60120dd34502afadbd5
            X-Amz-Date:
                - 20260528T082052Z
            X-Amz-Expected-Bucket-Owner:
                - cfc1d47c-8378-4067-b6af-fe6593d82562
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg8d580358cbd3485a98dc-006a17fae4
        status: 200 OK
        code: 200
        duration: 144.841541ms
[...]
    - id: 15
      request:
        host: sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c96e6007-0ab4-4fe9-b846-fced6faf7c3e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T082052Z
        url: https://sse-config-basic-1964669429223517205.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txga4aca69629d74401bdec-006a17fae4
        status: 200 OK
        code: 200
        duration: 241.097167ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWWEYXGQNPJB56BPP6A
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.108959ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/45b75c18-15c3-487f-8e72-a95ebdec20ad
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 74.762083ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/994357f8-8c61-428d-b786-964a4b4d3c9b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.445708ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/cfc1d47c-8378-4067-b6af-fe6593d82562
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.500024208s
