---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-32915570241233749","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T10:15:29.210920Z","description":"","id":"8edaac7b-d73b-4269-8188-dbe1ca290108","name":"tf-test-scaleway-project-32915570241233749","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T10:15:29.210920Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.351375ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-3687838031493530737","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T10:15:29.441126Z","deletable":true,"description":"","editable":true,"id":"6811848b-f5df-4ce6-9636-b8c1be00e6ee","managed":false,"name":"tf-test-scaleway-iam-app-3687838031493530737","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T10:15:29.441126Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.718917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8463443152049919644","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["8edaac7b-d73b-4269-8188-dbe1ca290108"]}],"tags":null,"application_id":"6811848b-f5df-4ce6-9636-b8c1be00e6ee"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"6811848b-f5df-4ce6-9636-b8c1be00e6ee","created_at":"2026-05-28T10:15:29.513388Z","deletable":true,"description":"","editable":true,"id":"ae27287c-5099-46bf-a0fc-83471d413557","managed":false,"name":"tf-test-scaleway-iam-policy-8463443152049919644","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T10:15:29.513388Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.186459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"6811848b-f5df-4ce6-9636-b8c1be00e6ee","default_project_id":"8edaac7b-d73b-4269-8188-dbe1ca290108","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWEBBB2N3VV6PWEKWJK","application_id":"6811848b-f5df-4ce6-9636-b8c1be00e6ee","created_at":"2026-05-28T10:15:29.625182Z","creation_ip":"51.159.46.153","default_project_id":"8edaac7b-d73b-4269-8188-dbe1ca290108","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T10:15:29.625182Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.766633458s
    - id: 4
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f790996b-357b-4134-82ff-4c953f12c1ce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101531Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-3260170678344356137
            X-Amz-Request-Id:
                - txg018f4d3cac3244ea9f97-006a1815c3
        status: 200 OK
        code: 200
        duration: 9.431019s
    - id: 5
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bcaa2761-7871-47b4-b11d-78971ab6f4a4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101541Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgbd29c6eb31ac41de918b-006a1815cd
        status: 200 OK
        code: 200
        duration: 316.238917ms
    - id: 6
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c914d975-59d1-4350-b143-c401d1ac651f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101541Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>8edaac7b-d73b-4269-8188-dbe1ca290108:8edaac7b-d73b-4269-8188-dbe1ca290108</DisplayName><ID>8edaac7b-d73b-4269-8188-dbe1ca290108:8edaac7b-d73b-4269-8188-dbe1ca290108</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>8edaac7b-d73b-4269-8188-dbe1ca290108:8edaac7b-d73b-4269-8188-dbe1ca290108</ID><DisplayName>8edaac7b-d73b-4269-8188-dbe1ca290108:8edaac7b-d73b-4269-8188-dbe1ca290108</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg6afd8c33e26445baae2f-006a1815cd
        status: 200 OK
        code: 200
        duration: 130.575625ms
    - id: 7
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c5d7ae17-c35f-4e37-b917-dace8ecc1c43
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101541Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg17778afaac2f4d0eb3a9-006a1815cd</RequestId><HostId>txg17778afaac2f4d0eb3a9-006a1815cd</HostId><Resource>/sse-config-basic-3260170678344356137</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg17778afaac2f4d0eb3a9-006a1815cd
        status: 404 Not Found
        code: 404
        duration: 149.770416ms
    - id: 8
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7c3e9566-6fdf-4406-9859-b2947cdfa7e5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101541Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-3260170678344356137</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg97eb5345b57e41e79d9e-006a1815cd
        status: 200 OK
        code: 200
        duration: 287.758625ms
    - id: 9
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e99e6982-329f-4185-9e41-be0137404a55
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101541Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txga7d5d6aa448e44159a8a-006a1815ce</RequestId><HostId>txga7d5d6aa448e44159a8a-006a1815ce</HostId><Resource>/sse-config-basic-3260170678344356137</Resource><BucketName>sse-config-basic-3260170678344356137</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga7d5d6aa448e44159a8a-006a1815ce
        status: 404 Not Found
        code: 404
        duration: 1.739510583s
    - id: 10
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 087a77e8-9bea-4565-8a56-1f62d16bb2af
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101542Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg15e00fce8e874983b0bb-006a1815cf</RequestId><HostId>txg15e00fce8e874983b0bb-006a1815cf</HostId><Resource>/sse-config-basic-3260170678344356137</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg15e00fce8e874983b0bb-006a1815cf
        status: 404 Not Found
        code: 404
        duration: 164.770917ms
    - id: 11
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b535f637-1db9-4c86-9677-a9237cd65656
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101543Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0ce0aad03c014c8c907b-006a1815d0
        status: 200 OK
        code: 200
        duration: 24.130542ms
    - id: 12
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7d60a7b7-7984-4fe5-b75f-0794c10052c7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101544Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg2f9d3c6e867a4ac684fe-006a1815d0</RequestId><HostId>txg2f9d3c6e867a4ac684fe-006a1815d0</HostId><Resource>/sse-config-basic-3260170678344356137</Resource><BucketName>sse-config-basic-3260170678344356137</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2f9d3c6e867a4ac684fe-006a1815d0
        status: 404 Not Found
        code: 404
        duration: 200.798583ms
    - id: 13
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>8edaac7b-d73b-4269-8188-dbe1ca290108:8edaac7b-d73b-4269-8188-dbe1ca290108</ID></Grantee><Permission>WRITE</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>8edaac7b-d73b-4269-8188-dbe1ca290108:8edaac7b-d73b-4269-8188-dbe1ca290108</ID></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList><Owner><ID>8edaac7b-d73b-4269-8188-dbe1ca290108:8edaac7b-d73b-4269-8188-dbe1ca290108</ID></Owner></AccessControlPolicy>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5cd6908f-2b5a-4f47-9111-1608a1f8ed9e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 7GnnSw==
            X-Amz-Content-Sha256:
                - 27e335b5be56e501d3d63f2b2c1b34dc324cd58cbef816e3b5f056b10e9650c7
            X-Amz-Date:
                - 20260528T101544Z
            X-Amz-Expected-Bucket-Owner:
                - 8edaac7b-d73b-4269-8188-dbe1ca290108
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg8957c39d1c834dc58707-006a1815d0
        status: 200 OK
        code: 200
        duration: 235.201791ms
[...]
    - id: 15
      request:
        host: sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d5daa49a-bc0f-4a56-912d-fb3eb4da408b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T101544Z
        url: https://sse-config-basic-3260170678344356137.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg861f99c257464b8d8cdc-006a1815d0
        status: 200 OK
        code: 200
        duration: 6.41127425s
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWEBBB2N3VV6PWEKWJK
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.463125ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/ae27287c-5099-46bf-a0fc-83471d413557
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.1125ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/6811848b-f5df-4ce6-9636-b8c1be00e6ee
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 58.7255ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8edaac7b-d73b-4269-8188-dbe1ca290108
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 4.989466625s
