---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-7591602295385228785","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:20:15.715177Z","description":"","id":"d57699ba-e3eb-4d6b-ae34-618e7df83f6f","name":"tf-test-scaleway-project-7591602295385228785","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T17:20:15.715177Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.332625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-7215685061179596211","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:20:15.933296Z","deletable":true,"description":"","editable":true,"id":"115f4795-f3e3-4da4-a05e-da457afb5c60","managed":false,"name":"tf-test-scaleway-iam-app-7215685061179596211","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:20:15.933296Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.523ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-2603292735729536151","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["d57699ba-e3eb-4d6b-ae34-618e7df83f6f"]}],"tags":null,"application_id":"115f4795-f3e3-4da4-a05e-da457afb5c60"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"115f4795-f3e3-4da4-a05e-da457afb5c60","created_at":"2026-05-28T17:20:16.158507Z","deletable":true,"description":"","editable":true,"id":"60b3d955-f4a9-411a-abb4-85cf71420930","managed":false,"name":"tf-test-scaleway-iam-policy-2603292735729536151","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:20:16.158507Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.831375ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"115f4795-f3e3-4da4-a05e-da457afb5c60","default_project_id":"d57699ba-e3eb-4d6b-ae34-618e7df83f6f","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWGWGGD5TEGH7EVQYR4","application_id":"115f4795-f3e3-4da4-a05e-da457afb5c60","created_at":"2026-05-28T17:20:16.290837Z","creation_ip":"88.191.65.229","default_project_id":"d57699ba-e3eb-4d6b-ae34-618e7df83f6f","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T17:20:16.290837Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.0205ms
    - id: 4
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9871e45a-8e96-40b0-bc43-bc10ac476f0d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172016Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-7596186885998930408
            X-Amz-Request-Id:
                - txg0993490cc9af426c80ff-006a187950
        status: 200 OK
        code: 200
        duration: 8.66089975s
    - id: 5
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 45c89a8f-65b1-4cd6-954d-81c2d3cd6b8d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172025Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg192b46c47d744da385b4-006a187959
        status: 200 OK
        code: 200
        duration: 1.226969917s
    - id: 6
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7435a0e3-a230-4254-a1b3-cf72b394f5a3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172026Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>d57699ba-e3eb-4d6b-ae34-618e7df83f6f:d57699ba-e3eb-4d6b-ae34-618e7df83f6f</DisplayName><ID>d57699ba-e3eb-4d6b-ae34-618e7df83f6f:d57699ba-e3eb-4d6b-ae34-618e7df83f6f</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>d57699ba-e3eb-4d6b-ae34-618e7df83f6f:d57699ba-e3eb-4d6b-ae34-618e7df83f6f</ID><DisplayName>d57699ba-e3eb-4d6b-ae34-618e7df83f6f:d57699ba-e3eb-4d6b-ae34-618e7df83f6f</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgedc380e6f7644e9b8ce8-006a18795a
        status: 200 OK
        code: 200
        duration: 147.770917ms
    - id: 7
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - be7659ff-7950-4334-aeb6-a169171f5e95
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172026Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg69b67d136833481d878d-006a18795a</RequestId><HostId>txg69b67d136833481d878d-006a18795a</HostId><Resource>/sse-config-basic-7596186885998930408</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg69b67d136833481d878d-006a18795a
        status: 404 Not Found
        code: 404
        duration: 186.834791ms
    - id: 8
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2bf11446-8f16-4638-9a82-82aa706ed53c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172026Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-7596186885998930408</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2f9da4e3bdf54034a0b7-006a18795b
        status: 200 OK
        code: 200
        duration: 523.976125ms
    - id: 9
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - de166440-8caa-4aaf-88ce-a4e3f68e307e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172027Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg533bca06256b4076837b-006a18795b</RequestId><HostId>txg533bca06256b4076837b-006a18795b</HostId><Resource>/sse-config-basic-7596186885998930408</Resource><BucketName>sse-config-basic-7596186885998930408</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg533bca06256b4076837b-006a18795b
        status: 404 Not Found
        code: 404
        duration: 244.908458ms
    - id: 10
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f7657a34-964d-483e-992c-22cfe8828dde
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172027Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg4fdf705169bc470a8360-006a18795b</RequestId><HostId>txg4fdf705169bc470a8360-006a18795b</HostId><Resource>/sse-config-basic-7596186885998930408</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4fdf705169bc470a8360-006a18795b
        status: 404 Not Found
        code: 404
        duration: 52.646709ms
    - id: 11
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fc0e24ae-01b0-4f8a-9d90-214bfca03e36
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172027Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg023cd70546eb4e139568-006a18795b
        status: 200 OK
        code: 200
        duration: 124.237209ms
    - id: 12
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 12db04af-b42b-4aec-b4cd-f5811fc6d955
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172027Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg54b1f79a166f4dbea570-006a18795b</RequestId><HostId>txg54b1f79a166f4dbea570-006a18795b</HostId><Resource>/sse-config-basic-7596186885998930408</Resource><BucketName>sse-config-basic-7596186885998930408</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg54b1f79a166f4dbea570-006a18795b
        status: 404 Not Found
        code: 404
        duration: 404.390083ms
[...]
    - id: 15
      request:
        host: sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 67c37810-b924-4382-aaa0-663f316efd7b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172029Z
        url: https://sse-config-basic-7596186885998930408.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txgb529425130c946c1b537-006a18795d
        status: 200 OK
        code: 200
        duration: 190.4325ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWGWGGD5TEGH7EVQYR4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.339667ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/60b3d955-f4a9-411a-abb4-85cf71420930
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 51.045375ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/115f4795-f3e3-4da4-a05e-da457afb5c60
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 54.072458ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d57699ba-e3eb-4d6b-ae34-618e7df83f6f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.697478584s
