---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5978683680480846441","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-27T10:25:56.606625Z","description":"","id":"a66c41b0-6dbc-448e-b1c5-dea136272831","name":"tf-test-scaleway-project-5978683680480846441","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-27T10:25:56.606625Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.679625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-4396864346544990089","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-27T10:25:56.831575Z","deletable":true,"description":"","editable":true,"id":"c7af85a6-824b-4649-b147-f7744a3a68c8","managed":false,"name":"tf-test-scaleway-iam-app-4396864346544990089","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-27T10:25:56.831575Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.10325ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-3591879224690042882","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["a66c41b0-6dbc-448e-b1c5-dea136272831"]}],"tags":null,"application_id":"c7af85a6-824b-4649-b147-f7744a3a68c8"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"c7af85a6-824b-4649-b147-f7744a3a68c8","created_at":"2026-05-27T10:25:56.937800Z","deletable":true,"description":"","editable":true,"id":"a262bc7d-d88e-4f61-9b69-d0e85845f651","managed":false,"name":"tf-test-scaleway-iam-policy-3591879224690042882","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-27T10:25:56.937800Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.073083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"c7af85a6-824b-4649-b147-f7744a3a68c8","default_project_id":"a66c41b0-6dbc-448e-b1c5-dea136272831","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW5Q1SXK7SVDEMQX9V6","application_id":"c7af85a6-824b-4649-b147-f7744a3a68c8","created_at":"2026-05-27T10:25:57.061207Z","creation_ip":"51.159.46.153","default_project_id":"a66c41b0-6dbc-448e-b1c5-dea136272831","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-27T10:25:57.061207Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.480583ms
    - id: 4
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2c4a4814-c2c6-4b92-8f47-0ca4e4e0ae37
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102557Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-2280134138143707191
            X-Amz-Request-Id:
                - txg84970b43950740689471-006a16c6b5
        status: 200 OK
        code: 200
        duration: 9.459189333s
    - id: 5
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 21ffe755-64ca-40d8-9192-6197f9c193a1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102607Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg06813a8115cf4bb78e64-006a16c6bf
        status: 200 OK
        code: 200
        duration: 387.222042ms
    - id: 6
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f120ce7a-cf59-475f-9947-eff45c9fbc11
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102607Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>a66c41b0-6dbc-448e-b1c5-dea136272831:a66c41b0-6dbc-448e-b1c5-dea136272831</DisplayName><ID>a66c41b0-6dbc-448e-b1c5-dea136272831:a66c41b0-6dbc-448e-b1c5-dea136272831</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>a66c41b0-6dbc-448e-b1c5-dea136272831:a66c41b0-6dbc-448e-b1c5-dea136272831</ID><DisplayName>a66c41b0-6dbc-448e-b1c5-dea136272831:a66c41b0-6dbc-448e-b1c5-dea136272831</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txga7d0abf24eb141b3a84c-006a16c6bf
        status: 200 OK
        code: 200
        duration: 247.699333ms
    - id: 7
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a4d960c6-b81b-41b6-b168-cb0ac0b4efbb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102607Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgfd4a5d1fc212427d8bae-006a16c6bf</RequestId><HostId>txgfd4a5d1fc212427d8bae-006a16c6bf</HostId><Resource>/sse-config-basic-2280134138143707191</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgfd4a5d1fc212427d8bae-006a16c6bf
        status: 404 Not Found
        code: 404
        duration: 488.706542ms
    - id: 8
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - deedba2b-68c8-4ca4-a840-8a5c04c952f2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102607Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-2280134138143707191</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8314bacbab6d4cb2b6ef-006a16c6c0
        status: 200 OK
        code: 200
        duration: 366.011708ms
    - id: 9
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3516ce8b-ce96-4bc2-bfa7-09e688e36b8d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102608Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txga0efad17ab674f94a619-006a16c6c0</RequestId><HostId>txga0efad17ab674f94a619-006a16c6c0</HostId><Resource>/sse-config-basic-2280134138143707191</Resource><BucketName>sse-config-basic-2280134138143707191</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga0efad17ab674f94a619-006a16c6c0
        status: 404 Not Found
        code: 404
        duration: 158.951334ms
    - id: 10
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 50a6aa43-2e23-4a2c-8c19-88d69422fbca
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102608Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg53bafbdbc8ce41b2bfce-006a16c6c0</RequestId><HostId>txg53bafbdbc8ce41b2bfce-006a16c6c0</HostId><Resource>/sse-config-basic-2280134138143707191</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg53bafbdbc8ce41b2bfce-006a16c6c0
        status: 404 Not Found
        code: 404
        duration: 160.425375ms
    - id: 11
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ba136a36-d6f6-49e2-9071-408fc7eba968
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102608Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg29a09a0db98d4b0190e5-006a16c6c0
        status: 200 OK
        code: 200
        duration: 291.688166ms
    - id: 12
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3ca7ce04-31cf-4ba2-96a2-e9d0af4a50c4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102608Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgab3a98c468db4ac2afca-006a16c6c1</RequestId><HostId>txgab3a98c468db4ac2afca-006a16c6c1</HostId><Resource>/sse-config-basic-2280134138143707191</Resource><BucketName>sse-config-basic-2280134138143707191</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgab3a98c468db4ac2afca-006a16c6c1
        status: 404 Not Found
        code: 404
        duration: 244.275834ms
    - id: 13
      request:
        host: sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9ec8ec5b-45af-4189-a8c0-63b54e8c0000
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102609Z
        url: https://sse-config-basic-2280134138143707191.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg0e6eb4b9b5dd4980932f-006a16c6c1
        status: 200 OK
        code: 200
        duration: 251.685875ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW5Q1SXK7SVDEMQX9V6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 144.566167ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/a262bc7d-d88e-4f61-9b69-d0e85845f651
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.4825ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/c7af85a6-824b-4649-b147-f7744a3a68c8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.503959ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a66c41b0-6dbc-448e-b1c5-dea136272831
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.924974958s
