---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5143260258024864680","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:21:15.644464Z","description":"","id":"81507f04-0453-4a8f-866d-1746e27a00ad","name":"tf-test-scaleway-project-5143260258024864680","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-28T17:21:15.644464Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.839ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-8915691306089271633","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-28T17:21:15.878312Z","deletable":true,"description":"","editable":true,"id":"51898bbc-ef81-4434-870f-fb7a990a3bdf","managed":false,"name":"tf-test-scaleway-iam-app-8915691306089271633","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:21:15.878312Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.985458ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-8225035457897922900","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["81507f04-0453-4a8f-866d-1746e27a00ad"]}],"tags":null,"application_id":"51898bbc-ef81-4434-870f-fb7a990a3bdf"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"51898bbc-ef81-4434-870f-fb7a990a3bdf","created_at":"2026-05-28T17:21:15.971799Z","deletable":true,"description":"","editable":true,"id":"752f57fc-ed7a-4c3b-9f2c-f3a9816af935","managed":false,"name":"tf-test-scaleway-iam-policy-8225035457897922900","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-28T17:21:15.971799Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.330333ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"51898bbc-ef81-4434-870f-fb7a990a3bdf","default_project_id":"81507f04-0453-4a8f-866d-1746e27a00ad","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW6G6CWG3YS3A6QCYA0","application_id":"51898bbc-ef81-4434-870f-fb7a990a3bdf","created_at":"2026-05-28T17:21:16.079337Z","creation_ip":"88.191.65.229","default_project_id":"81507f04-0453-4a8f-866d-1746e27a00ad","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-28T17:21:16.079337Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.645917ms
    - id: 4
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7bf6fc0f-9a4d-4b03-8331-dcc79b12400b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172116Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-tests-scw-object-acl-name-1954062594893000305
            X-Amz-Request-Id:
                - txg894bca152d5843d1afd4-006a18798c
        status: 200 OK
        code: 200
        duration: 4.56907s
    - id: 5
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8db89391-9c2c-4197-9d9b-8bd028d1fedd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172121Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgf3df34885c9c4ca79654-006a187991
        status: 200 OK
        code: 200
        duration: 395.451584ms
    - id: 6
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d0d8c564-8b17-48a0-b1d2-b6abc5f313a5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172121Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</DisplayName><ID>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</ID><DisplayName>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgea4278c1ef354b04abd4-006a187991
        status: 200 OK
        code: 200
        duration: 149.582292ms
    - id: 7
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 980933db-96bb-463f-94c1-7fdbc3f850a1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172121Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txge696a410031a40a7815e-006a187991</RequestId><HostId>txge696a410031a40a7815e-006a187991</HostId><Resource>/tf-tests-scw-object-acl-name-1954062594893000305</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge696a410031a40a7815e-006a187991
        status: 404 Not Found
        code: 404
        duration: 125.371375ms
    - id: 8
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2e5a3d75-b9a7-4d77-b513-07b8a6c24bfe
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172121Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-tests-scw-object-acl-name-1954062594893000305</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgda32a5a00e1142d0974b-006a187992
        status: 200 OK
        code: 200
        duration: 294.647042ms
    - id: 9
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 726a5af3-d1ab-4c3e-8220-5fe3dfb66268
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172122Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg99fd9e2de9a34dbaae34-006a187992</RequestId><HostId>txg99fd9e2de9a34dbaae34-006a187992</HostId><Resource>/tf-tests-scw-object-acl-name-1954062594893000305</Resource><BucketName>tf-tests-scw-object-acl-name-1954062594893000305</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg99fd9e2de9a34dbaae34-006a187992
        status: 404 Not Found
        code: 404
        duration: 384.669084ms
    - id: 10
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 664f2bef-8a40-4403-b83e-2e3d88ef8706
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172122Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg612b2e33eea343fca8be-006a187992</RequestId><HostId>txg612b2e33eea343fca8be-006a187992</HostId><Resource>/tf-tests-scw-object-acl-name-1954062594893000305</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg612b2e33eea343fca8be-006a187992
        status: 404 Not Found
        code: 404
        duration: 115.604375ms
    - id: 11
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9bf15a15-c4de-4880-a199-e0df0f9e1fed
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172122Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5a8724410c8a41adb120-006a187992
        status: 200 OK
        code: 200
        duration: 130.30225ms
    - id: 12
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2ea15fc1-996d-4e97-8fb9-456f966cc16f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172122Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg7e2e2ef7dc6047e8a53a-006a187993</RequestId><HostId>txg7e2e2ef7dc6047e8a53a-006a187993</HostId><Resource>/tf-tests-scw-object-acl-name-1954062594893000305</Resource><BucketName>tf-tests-scw-object-acl-name-1954062594893000305</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7e2e2ef7dc6047e8a53a-006a187993
        status: 404 Not Found
        code: 404
        duration: 23.728417ms
    - id: 13
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f625a35f-e497-411d-81da-690f769280ea
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - public-read
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172123Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: <Error><Code>NoSuchBucket</Code><Message>The specified bucket does not exist</Message><RequestId>txgbdc3c09789e74a768d8d-006a187993</RequestId><HostId>txgbdc3c09789e74a768d8d-006a187993</HostId><Resource>/tf-tests-scw-object-acl-name-1954062594893000305</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbdc3c09789e74a768d8d-006a187993
        status: 404 Not Found
        code: 404
        duration: 242.174916ms
[...]
    - id: 22
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9c7d2a6b-3845-4281-89d1-d1d7f5ef637d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172125Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</DisplayName><ID>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</ID><DisplayName>81507f04-0453-4a8f-866d-1746e27a00ad:81507f04-0453-4a8f-866d-1746e27a00ad</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="Group"><URI>http://acs.amazonaws.com/groups/global/AllUsers</URI></Grantee><Permission>READ</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg041674e8782a4cb08237-006a187995
        status: 200 OK
        code: 200
        duration: 117.604667ms
    - id: 23
      request:
        host: tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d61a779b-bb39-495f-8c85-89ef361737c6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T172125Z
        url: https://tf-tests-scw-object-acl-name-1954062594893000305.s3.nl-ams.scw.cloud/
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/xml
            X-Amz-Bucket-Region:
                - nl-ams
            X-Amz-Request-Id:
                - txg33b3d525dd0d4de19740-006a187995
        status: 200 OK
        code: 200
        duration: 161.653334ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW6G6CWG3YS3A6QCYA0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 107.698833ms
    - id: 35
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/752f57fc-ed7a-4c3b-9f2c-f3a9816af935
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 63.018083ms
    - id: 36
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/51898bbc-ef81-4434-870f-fb7a990a3bdf
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.787666ms
    - id: 37
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/81507f04-0453-4a8f-866d-1746e27a00ad
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.109960166s
