---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-05-28T12:34:53.061353Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"ebe90fcc-9e48-448d-9a6c-16faa0a8171a","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-05-28T12:34:53.449891Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-05-28T12:34:53.449891Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 712.8385ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ebe90fcc-9e48-448d-9a6c-16faa0a8171a
        method: GET
      response:
        body: '{"created_at":"2026-05-28T12:34:53.061353Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"ebe90fcc-9e48-448d-9a6c-16faa0a8171a","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-05-28T12:34:53.449891Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-05-28T12:34:53.449891Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.953125ms
    - id: 2
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8e7529ed-59a9-4f31-a7f3-319cd1999539
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123452Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-683060405935905559
            X-Amz-Request-Id:
                - txg6123dc71e3da49ec8e9c-006a18366c
        status: 200 OK
        code: 200
        duration: 5.820566792s
    - id: 3
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 99046374-fcf8-49d6-bf21-70f7b8705efe
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123458Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txga557e5f9b152419e8b7c-006a183672
        status: 200 OK
        code: 200
        duration: 121.246167ms
    - id: 4
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ce399479-8a39-487d-983c-674c48334882
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123458Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txga43b79b9b28a4a0bb0de-006a183672
        status: 200 OK
        code: 200
        duration: 167.641125ms
    - id: 5
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d18bcfe1-9b3c-4ee2-ab15-4ab0a75c21d1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123458Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgd926b65d40db4672893b-006a183672</RequestId><HostId>txgd926b65d40db4672893b-006a183672</HostId><Resource>/sse-config-basic-683060405935905559</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd926b65d40db4672893b-006a183672
        status: 404 Not Found
        code: 404
        duration: 91.5325ms
    - id: 6
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1bea5692-569f-468a-989b-fa5ea2da1139
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123458Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-683060405935905559</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgeffc79580fa34ac9bf96-006a183672
        status: 200 OK
        code: 200
        duration: 167.293542ms
    - id: 7
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 96f58ac4-feed-46b2-9c17-0fa1eefe7325
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123458Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg02727535a0f148b0a526-006a183673</RequestId><HostId>txg02727535a0f148b0a526-006a183673</HostId><Resource>/sse-config-basic-683060405935905559</Resource><BucketName>sse-config-basic-683060405935905559</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg02727535a0f148b0a526-006a183673
        status: 404 Not Found
        code: 404
        duration: 77.042208ms
    - id: 8
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 21b30c02-7a89-475c-bd0f-07172bde6f49
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123459Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgd18332df72e548f28977-006a183673</RequestId><HostId>txgd18332df72e548f28977-006a183673</HostId><Resource>/sse-config-basic-683060405935905559</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd18332df72e548f28977-006a183673
        status: 404 Not Found
        code: 404
        duration: 111.792958ms
    - id: 9
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - af12ce55-36b2-4c6c-af8a-04dee813988d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123459Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgecdc622e36254ea8abaf-006a183673
        status: 200 OK
        code: 200
        duration: 175.9535ms
    - id: 10
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d69bb2a5-c3c7-4426-8d0b-3eb005b30b55
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260528T123459Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgcb286e0e4be6454ab345-006a183673</RequestId><HostId>txgcb286e0e4be6454ab345-006a183673</HostId><Resource>/sse-config-basic-683060405935905559</Resource><BucketName>sse-config-basic-683060405935905559</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgcb286e0e4be6454ab345-006a183673
        status: 404 Not Found
        code: 404
        duration: 50.243542ms
    - id: 11
      request:
        host: sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 576a293e-e549-4d81-ab81-3be7f4ee9914
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260528T123459Z
        url: https://sse-config-basic-683060405935905559.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg1801987a1e7c4a36bb12-006a183673
        status: 200 OK
        code: 200
        duration: 186.923625ms
[...]
