---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6244634390114371959","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-08-17T09:47:09.468251Z","description":"","id":"a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5","name":"tf-test-scaleway-project-6244634390114371959","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-08-17T09:47:09.468251Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 826.398209ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2988991626951250456","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-08-17T09:47:10.001253Z","deletable":true,"description":"","editable":true,"id":"740fc2cf-6201-4549-831d-bcffa42f8a67","managed":false,"name":"tf-test-scaleway-iam-app-2988991626951250456","nb_api_keys":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-08-17T09:47:10.001253Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.631604ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-3737104210105679473","description":"","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5"]}],"tags":null,"application_id":"740fc2cf-6201-4549-831d-bcffa42f8a67"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"740fc2cf-6201-4549-831d-bcffa42f8a67","created_at":"2026-08-17T09:47:10.127335Z","deletable":true,"description":"","editable":true,"id":"604171cc-8fa9-47aa-be8d-beb960c9a0b5","managed":false,"name":"tf-test-scaleway-iam-policy-3737104210105679473","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"updated_at":"2026-08-17T09:47:10.127335Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.776927ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"740fc2cf-6201-4549-831d-bcffa42f8a67","default_project_id":"a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWQTF0SQ0G89JPVZCEP","application_id":"740fc2cf-6201-4549-831d-bcffa42f8a67","created_at":"2026-08-17T09:47:10.405570Z","creation_ip":"51.159.46.153","default_project_id":"a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-08-17T09:47:10.405570Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.144174ms
    - id: 4
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0e8ae72e-380d-41d1-a8c1-60ea6083f4c7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094711Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-sse-config-2836937084893157146
            X-Amz-Request-Id:
                - txge115090ca74c4ed39f47-006a82d89f
        status: 200 OK
        code: 200
        duration: 5.581591726s
    - id: 5
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 035c4b99-b56d-40c9-960c-849076f08872
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgb54c5408ed7346e29ed1-006a82d8a4
        status: 200 OK
        code: 200
        duration: 262.069987ms
    - id: 6
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 717825ef-2572-4170-ae77-b8c28c0ec971
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094717Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5:a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5</DisplayName><ID>a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5:a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5:a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5</ID><DisplayName>a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5:a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgbdc7b2a3bf974481b63f-006a82d8a5
        status: 200 OK
        code: 200
        duration: 269.254849ms
    - id: 7
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7ce6939d-bd94-4ba5-a411-ad25079be71c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094717Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg5d9e0348dd5a4171904f-006a82d8a5</RequestId><HostId>txg5d9e0348dd5a4171904f-006a82d8a5</HostId><Resource>/tf-test-sse-config-2836937084893157146</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5d9e0348dd5a4171904f-006a82d8a5
        status: 404 Not Found
        code: 404
        duration: 209.795961ms
    - id: 8
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - abccd5c5-4737-410f-ba5b-f0e78d998931
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094717Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-sse-config-2836937084893157146</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg522c831c18584b6fafc6-006a82d8a5
        status: 200 OK
        code: 200
        duration: 359.680282ms
    - id: 9
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3c27bf22-76a9-464a-b5cd-ea035a5e01cc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094717Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg7bd60264779d4cba9af9-006a82d8a5</RequestId><HostId>txg7bd60264779d4cba9af9-006a82d8a5</HostId><Resource>/tf-test-sse-config-2836937084893157146</Resource><BucketName>tf-test-sse-config-2836937084893157146</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg7bd60264779d4cba9af9-006a82d8a5
        status: 404 Not Found
        code: 404
        duration: 182.262372ms
    - id: 10
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 44ac8bea-db5d-49e2-a2c7-4e1daf761d04
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094717Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgd25563ce1532419c80de-006a82d8a6</RequestId><HostId>txgd25563ce1532419c80de-006a82d8a6</HostId><Resource>/tf-test-sse-config-2836937084893157146</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd25563ce1532419c80de-006a82d8a6
        status: 404 Not Found
        code: 404
        duration: 136.757065ms
    - id: 11
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cf0de8ca-72c0-4d33-b4ac-d4515fdf2f0b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094718Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgb6b821fc48e34ba0aebe-006a82d8a6
        status: 200 OK
        code: 200
        duration: 229.477785ms
    - id: 12
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 666bbb83-b575-4134-b7b5-e7d5b0b7c430
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094718Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg52f876e39b004c9ca438-006a82d8a6</RequestId><HostId>txg52f876e39b004c9ca438-006a82d8a6</HostId><Resource>/tf-test-sse-config-2836937084893157146</Resource><BucketName>tf-test-sse-config-2836937084893157146</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg52f876e39b004c9ca438-006a82d8a6
        status: 404 Not Found
        code: 404
        duration: 257.964126ms
    - id: 13
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 98bbe0df-ffec-4d6f-82a4-e075d336d551
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260817T094718Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg206525b3e11d4dd88e3f-006a82d8a6
        status: 200 OK
        code: 200
        duration: 447.494526ms
    - id: 14
      request:
        host: tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9cdf0404-db6c-462b-bfd9-5b0f72c1d619
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094718Z
        url: https://tf-test-sse-config-2836937084893157146.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg74a5ebd4ed6d434cb13a-006a82d8a7
        status: 200 OK
        code: 200
        duration: 236.586924ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWQTF0SQ0G89JPVZCEP
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 143.062732ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/604171cc-8fa9-47aa-be8d-beb960c9a0b5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 216.668976ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/740fc2cf-6201-4549-831d-bcffa42f8a67
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 103.554343ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/a2488a08-fcd5-4bfe-8df7-f9e2ba2d5ba5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.810276897s
