---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-06-08T11:12:24.906064Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"c13c7de7-4ef0-4707-925b-1259b63c3b65","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-06-08T11:12:24.998693Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-06-08T11:12:24.998693Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.384791ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/c13c7de7-4ef0-4707-925b-1259b63c3b65
        method: GET
      response:
        body: '{"created_at":"2026-06-08T11:12:24.906064Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"c13c7de7-4ef0-4707-925b-1259b63c3b65","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-06-08T11:12:24.998693Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-06-08T11:12:24.998693Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.644708ms
    - id: 2
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a51d122f-4fd7-40b1-b4c1-eb8628370de7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111224Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-6921948310153834559
            X-Amz-Request-Id:
                - txgc43e7b0cd0fb4dc4855d-006a26a398
        status: 200 OK
        code: 200
        duration: 725.017416ms
    - id: 3
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 777c91c4-8c78-4c7e-a114-b1a44b795762
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111225Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgb01cadd860a34c4b9b7b-006a26a399
        status: 200 OK
        code: 200
        duration: 298.85825ms
    - id: 4
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7a88c4ac-2d7c-4394-b879-b82190864abb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111225Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0e57e4cc7dd5422eba04-006a26a399
        status: 200 OK
        code: 200
        duration: 152.162666ms
    - id: 5
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 425ab110-fc76-451b-8352-ed65c183a1d4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111225Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg4694b988837741948ed8-006a26a399</RequestId><HostId>txg4694b988837741948ed8-006a26a399</HostId><Resource>/sse-config-basic-6921948310153834559</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg4694b988837741948ed8-006a26a399
        status: 404 Not Found
        code: 404
        duration: 213.936583ms
    - id: 6
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2f415ac4-5e34-468a-b96d-4359a976502b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111225Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-6921948310153834559</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd52c8d382ce04696b439-006a26a39a
        status: 200 OK
        code: 200
        duration: 315.200583ms
    - id: 7
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 41b2f619-088d-4a85-a457-2e785897bf55
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg8e90d894bf1540b9864f-006a26a39a</RequestId><HostId>txg8e90d894bf1540b9864f-006a26a39a</HostId><Resource>/sse-config-basic-6921948310153834559</Resource><BucketName>sse-config-basic-6921948310153834559</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8e90d894bf1540b9864f-006a26a39a
        status: 404 Not Found
        code: 404
        duration: 123.128542ms
    - id: 8
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 848b7bec-083b-4382-9e5a-c3920f49e85b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgf3869d9b43df4b4f9e46-006a26a39a</RequestId><HostId>txgf3869d9b43df4b4f9e46-006a26a39a</HostId><Resource>/sse-config-basic-6921948310153834559</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf3869d9b43df4b4f9e46-006a26a39a
        status: 404 Not Found
        code: 404
        duration: 208.239042ms
    - id: 9
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e90231fc-5089-468d-a9a3-1931d7932f3f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg59081a2413164a74af30-006a26a39a
        status: 200 OK
        code: 200
        duration: 153.796375ms
    - id: 10
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6c9293c2-e45b-43ed-9d46-6fa93bfe90f0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111226Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgf26e9235b42e45b19510-006a26a39a</RequestId><HostId>txgf26e9235b42e45b19510-006a26a39a</HostId><Resource>/sse-config-basic-6921948310153834559</Resource><BucketName>sse-config-basic-6921948310153834559</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf26e9235b42e45b19510-006a26a39a
        status: 404 Not Found
        code: 404
        duration: 97.173792ms
    - id: 11
      request:
        host: sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2ef90e3d-c913-4867-adf3-45f0672eb524
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260608T111227Z
        url: https://sse-config-basic-6921948310153834559.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgb4b629021ca74c9a87ea-006a26a39b
        status: 200 OK
        code: 200
        duration: 232.94925ms
[...]
