---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-3676827495930965964","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-27T10:27:09.453993Z","description":"","id":"07bd84b8-4d27-4a9e-bd9e-69705956f9b3","name":"tf-test-scaleway-project-3676827495930965964","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-27T10:27:09.453993Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 351.830208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-6958086224415029962","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-27T10:27:09.688533Z","deletable":true,"description":"","editable":true,"id":"f8a844cb-81f7-48cf-86b7-a62b93193613","managed":false,"name":"tf-test-scaleway-iam-app-6958086224415029962","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-27T10:27:09.688533Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.994917ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-7467371894517977661","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["07bd84b8-4d27-4a9e-bd9e-69705956f9b3"]}],"tags":null,"application_id":"f8a844cb-81f7-48cf-86b7-a62b93193613"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"f8a844cb-81f7-48cf-86b7-a62b93193613","created_at":"2026-05-27T10:27:09.775271Z","deletable":true,"description":"","editable":true,"id":"d26b2508-f608-435d-8ac2-8077b32845d3","managed":false,"name":"tf-test-scaleway-iam-policy-7467371894517977661","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-27T10:27:09.775271Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.631291ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"f8a844cb-81f7-48cf-86b7-a62b93193613","default_project_id":"07bd84b8-4d27-4a9e-bd9e-69705956f9b3","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW6SEBYYHBZS5D89XKQ","application_id":"f8a844cb-81f7-48cf-86b7-a62b93193613","created_at":"2026-05-27T10:27:09.894799Z","creation_ip":"51.159.46.153","default_project_id":"07bd84b8-4d27-4a9e-bd9e-69705956f9b3","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-27T10:27:09.894799Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.79475ms
    - id: 4
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 96784217-5095-4a91-89d4-6e6b63c45c2d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102710Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-8254752151676720765
            X-Amz-Request-Id:
                - txg2dd6d969164547b6a51c-006a16c6fe
        status: 200 OK
        code: 200
        duration: 5.963067959s
    - id: 5
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4da49651-66ae-4b30-a009-5ae567b5dcf6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102716Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg51c5aee131d14fe09758-006a16c704
        status: 200 OK
        code: 200
        duration: 285.595708ms
    - id: 6
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ba635846-8cf4-474b-a9ab-164e1b868834
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102716Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>07bd84b8-4d27-4a9e-bd9e-69705956f9b3:07bd84b8-4d27-4a9e-bd9e-69705956f9b3</DisplayName><ID>07bd84b8-4d27-4a9e-bd9e-69705956f9b3:07bd84b8-4d27-4a9e-bd9e-69705956f9b3</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>07bd84b8-4d27-4a9e-bd9e-69705956f9b3:07bd84b8-4d27-4a9e-bd9e-69705956f9b3</ID><DisplayName>07bd84b8-4d27-4a9e-bd9e-69705956f9b3:07bd84b8-4d27-4a9e-bd9e-69705956f9b3</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg2ea3c72b822049788377-006a16c704
        status: 200 OK
        code: 200
        duration: 145.285084ms
    - id: 7
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9fe4e32a-23e2-4053-9595-c5b474b3c95b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102716Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgb1238961b7234e6ebb49-006a16c704</RequestId><HostId>txgb1238961b7234e6ebb49-006a16c704</HostId><Resource>/sse-config-basic-8254752151676720765</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb1238961b7234e6ebb49-006a16c704
        status: 404 Not Found
        code: 404
        duration: 118.78375ms
    - id: 8
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 04222747-ec9b-415a-8c15-63c41888eff0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102716Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-8254752151676720765</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga5220d7118ba4a4bbc6e-006a16c705
        status: 200 OK
        code: 200
        duration: 423.084083ms
    - id: 9
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b07714fc-d146-4c7b-ae6e-84782fe7006f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102717Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgf510076e6ff74386a8ce-006a16c705</RequestId><HostId>txgf510076e6ff74386a8ce-006a16c705</HostId><Resource>/sse-config-basic-8254752151676720765</Resource><BucketName>sse-config-basic-8254752151676720765</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf510076e6ff74386a8ce-006a16c705
        status: 404 Not Found
        code: 404
        duration: 367.333708ms
    - id: 10
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 02c8cd60-a2ab-41a8-aeda-f09355a8be2b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102717Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgc724b9b089834656b4e1-006a16c705</RequestId><HostId>txgc724b9b089834656b4e1-006a16c705</HostId><Resource>/sse-config-basic-8254752151676720765</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc724b9b089834656b4e1-006a16c705
        status: 404 Not Found
        code: 404
        duration: 246.840167ms
    - id: 11
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 363826e7-8d6b-46f8-9da3-22a4531bb785
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102717Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0908c77c4181427196c1-006a16c706
        status: 200 OK
        code: 200
        duration: 245.721041ms
    - id: 12
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9b624c3e-1040-46d0-8432-384adf0022fe
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102718Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg96778667f862430b834c-006a16c706</RequestId><HostId>txg96778667f862430b834c-006a16c706</HostId><Resource>/sse-config-basic-8254752151676720765</Resource><BucketName>sse-config-basic-8254752151676720765</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg96778667f862430b834c-006a16c706
        status: 404 Not Found
        code: 404
        duration: 245.609125ms
    - id: 13
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 42094919-25c0-45c3-ae65-b3d804f9b171
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260527T102718Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg5af593592b3d493f82d0-006a16c706
        status: 200 OK
        code: 200
        duration: 356.404584ms
    - id: 14
      request:
        host: sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d89357f7-b5df-4916-a7dc-8630a6bb64c7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260527T102718Z
        url: https://sse-config-basic-8254752151676720765.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg8727091f47804fdea9e2-006a16c706
        status: 200 OK
        code: 200
        duration: 18.846541ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW6SEBYYHBZS5D89XKQ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 107.602333ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/d26b2508-f608-435d-8ac2-8077b32845d3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.402792ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f8a844cb-81f7-48cf-86b7-a62b93193613
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.520833ms
    - id: 34
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/07bd84b8-4d27-4a9e-bd9e-69705956f9b3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.595324125s
