---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-07-07T07:47:23.355753Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"ec82cc34-b95a-4460-9982-6bcdc2f6e62d","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"protection_level":"software","region":"fr-par","rotated_at":"2026-07-07T07:47:23.791485Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-07-07T07:47:23.791485Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 770.219369ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/ec82cc34-b95a-4460-9982-6bcdc2f6e62d
        method: GET
      response:
        body: '{"created_at":"2026-07-07T07:47:23.355753Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"ec82cc34-b95a-4460-9982-6bcdc2f6e62d","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"protection_level":"software","region":"fr-par","rotated_at":"2026-07-07T07:47:23.791485Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-07-07T07:47:23.791485Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.606472ms
    - id: 2
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7158b7ef-6c00-407f-b506-8e916adbab86
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074723Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-6692275151688570271
            X-Amz-Request-Id:
                - txg5ec10de35ab447328996-006a4caf0b
        status: 200 OK
        code: 200
        duration: 4.701466437s
    - id: 3
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 547b1ee4-9e0a-4d05-8323-749540438f59
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074727Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgf2481863c4d8443c8991-006a4caf0f
        status: 200 OK
        code: 200
        duration: 285.889034ms
    - id: 4
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b74a9d31-2fc0-480d-b24a-2ee94da6272c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074728Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgfffbc6a8dad040629a01-006a4caf10
        status: 200 OK
        code: 200
        duration: 106.323166ms
    - id: 5
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ab43d1ce-5c62-4b10-a8df-c6d83c81e638
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074728Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txge2454593823f49bab809-006a4caf10</RequestId><HostId>txge2454593823f49bab809-006a4caf10</HostId><Resource>/sse-config-basic-6692275151688570271</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge2454593823f49bab809-006a4caf10
        status: 404 Not Found
        code: 404
        duration: 135.065444ms
    - id: 6
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c5da6835-c99c-4f4e-8249-aa87e5a5ade4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074728Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-6692275151688570271</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg5506832151c046efbf69-006a4caf10
        status: 200 OK
        code: 200
        duration: 449.334023ms
    - id: 7
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a44a4e94-d8fb-44d3-a830-5668ff718263
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074728Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgb3b2a8f78ecb4a6b9aed-006a4caf10</RequestId><HostId>txgb3b2a8f78ecb4a6b9aed-006a4caf10</HostId><Resource>/sse-config-basic-6692275151688570271</Resource><BucketName>sse-config-basic-6692275151688570271</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb3b2a8f78ecb4a6b9aed-006a4caf10
        status: 404 Not Found
        code: 404
        duration: 171.381197ms
    - id: 8
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ee65d75e-abfb-4e86-ad95-2a9473d27c1c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074728Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgf441782e0ca34fb58999-006a4caf11</RequestId><HostId>txgf441782e0ca34fb58999-006a4caf11</HostId><Resource>/sse-config-basic-6692275151688570271</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf441782e0ca34fb58999-006a4caf11
        status: 404 Not Found
        code: 404
        duration: 188.672558ms
    - id: 9
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 303deb58-304c-402a-a1b1-3e351e000710
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074729Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg51cfa0e06e2b40d091d9-006a4caf11
        status: 200 OK
        code: 200
        duration: 172.418043ms
    - id: 10
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 744824d8-8fc8-496c-b310-469cf0660aa3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260707T074729Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg65fbbbcb63df42099202-006a4caf11</RequestId><HostId>txg65fbbbcb63df42099202-006a4caf11</HostId><Resource>/sse-config-basic-6692275151688570271</Resource><BucketName>sse-config-basic-6692275151688570271</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg65fbbbcb63df42099202-006a4caf11
        status: 404 Not Found
        code: 404
        duration: 118.019824ms
    - id: 11
      request:
        host: sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5c8e338d-d7ee-4e87-acb8-db7e6d90754f
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260707T074729Z
        url: https://sse-config-basic-6692275151688570271.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg530d556b1c58417fa110-006a4caf11
        status: 200 OK
        code: 200
        duration: 200.22094ms
[...]
