---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-3358421911257730852","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-21T14:19:51.180395Z","description":"","id":"f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155","name":"tf-test-scaleway-project-3358421911257730852","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-21T14:19:51.180395Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 872.178875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-4075826860839548578","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-21T14:19:51.914968Z","deletable":true,"description":"","editable":true,"id":"f1dc26fb-b34a-47b0-bcae-924f7d6d33b4","managed":false,"name":"tf-test-scaleway-iam-app-4075826860839548578","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-21T14:19:51.914968Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.34825ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-2677651475047369461","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155"]}],"tags":null,"application_id":"f1dc26fb-b34a-47b0-bcae-924f7d6d33b4"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"f1dc26fb-b34a-47b0-bcae-924f7d6d33b4","created_at":"2026-05-21T14:19:51.994273Z","deletable":true,"description":"","editable":true,"id":"6f988516-f667-43b4-a99c-593a418b25a3","managed":false,"name":"tf-test-scaleway-iam-policy-2677651475047369461","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-21T14:19:51.994273Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.713916ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"f1dc26fb-b34a-47b0-bcae-924f7d6d33b4","default_project_id":"f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW09D2JSMTTJ31X13WW","application_id":"f1dc26fb-b34a-47b0-bcae-924f7d6d33b4","created_at":"2026-05-21T14:19:52.129700Z","creation_ip":"51.159.46.153","default_project_id":"f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-21T14:19:52.129700Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.485666ms
    - id: 4
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b9f63040-6a0b-4a12-ab78-7d05fec529e7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T141952Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-1427033657503917971
            X-Amz-Request-Id:
                - txg15d1ccea5f564578bfd0-006a0f1488
        status: 200 OK
        code: 200
        duration: 9.149368958s
    - id: 5
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 07e76ac5-0a21-416e-8f84-732c1d1212f8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142001Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6f1c31f0e019407c81cd-006a0f1491
        status: 200 OK
        code: 200
        duration: 489.6625ms
    - id: 6
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 827d41bc-f729-4c5f-b36f-c68371808604
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142002Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155:f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155</DisplayName><ID>f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155:f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155:f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155</ID><DisplayName>f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155:f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgbb489934748e44e7be9b-006a0f1492
        status: 200 OK
        code: 200
        duration: 245.11575ms
    - id: 7
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fbb13ad4-6e6c-4c7c-b15b-1e8be769b421
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142002Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg77997d8d92c647bc9c87-006a0f1492</RequestId><HostId>txg77997d8d92c647bc9c87-006a0f1492</HostId><Resource>/sse-config-basic-1427033657503917971</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg77997d8d92c647bc9c87-006a0f1492
        status: 404 Not Found
        code: 404
        duration: 243.199625ms
    - id: 8
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 158e750a-526a-4b08-8893-420b98df9c37
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142002Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-1427033657503917971</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3775b1299809492b9297-006a0f1492
        status: 200 OK
        code: 200
        duration: 367.520083ms
    - id: 9
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7df03c94-714d-49be-bd40-82ff1d3ccf09
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142002Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txga146c2cf3d9d4d30ac7c-006a0f1493</RequestId><HostId>txga146c2cf3d9d4d30ac7c-006a0f1493</HostId><Resource>/sse-config-basic-1427033657503917971</Resource><BucketName>sse-config-basic-1427033657503917971</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga146c2cf3d9d4d30ac7c-006a0f1493
        status: 404 Not Found
        code: 404
        duration: 248.573334ms
    - id: 10
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - daf10be3-99e6-41a0-b1e8-8542f9f589c2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142003Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9315be9968d5423eaa98-006a0f1493</RequestId><HostId>txg9315be9968d5423eaa98-006a0f1493</HostId><Resource>/sse-config-basic-1427033657503917971</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9315be9968d5423eaa98-006a0f1493
        status: 404 Not Found
        code: 404
        duration: 136.678667ms
    - id: 11
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c5f8e225-99f7-4817-abb4-eb84bce540cc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142003Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg65295312b350484e8e3f-006a0f1493
        status: 200 OK
        code: 200
        duration: 117.202209ms
    - id: 12
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 15190792-6fd1-4294-b7e8-64d6bb9439d9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142003Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgc0949170118b4a309cc3-006a0f1493</RequestId><HostId>txgc0949170118b4a309cc3-006a0f1493</HostId><Resource>/sse-config-basic-1427033657503917971</Resource><BucketName>sse-config-basic-1427033657503917971</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc0949170118b4a309cc3-006a0f1493
        status: 404 Not Found
        code: 404
        duration: 174.301542ms
    - id: 13
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e945c456-18ed-41e5-8b6a-83d52c99144e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260521T142003Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgbf55c826f518469a8a4b-006a0f1493
        status: 200 OK
        code: 200
        duration: 228.820917ms
    - id: 14
      request:
        host: sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3e661cd7-60a7-43d6-bdc4-c5be38742e95
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260521T142003Z
        url: https://sse-config-basic-1427033657503917971.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgcc22170cd9b747df8c42-006a0f1494
        status: 200 OK
        code: 200
        duration: 173.7875ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW09D2JSMTTJ31X13WW
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 57.278833ms
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/6f988516-f667-43b4-a99c-593a418b25a3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.065167ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/f1dc26fb-b34a-47b0-bcae-924f7d6d33b4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 108.178041ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/f1e86bb1-ecb9-4614-bcc9-1ba4cc12e155
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.902057833s
