---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-06-02T11:22:27.566636Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"b76eaa70-a070-487f-a9e8-d1dd6a9e8c5e","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-06-02T11:22:28.666781Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-06-02T11:22:28.666781Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.379373125s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/b76eaa70-a070-487f-a9e8-d1dd6a9e8c5e
        method: GET
      response:
        body: '{"created_at":"2026-06-02T11:22:27.566636Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"b76eaa70-a070-487f-a9e8-d1dd6a9e8c5e","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-06-02T11:22:28.666781Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-06-02T11:22:28.666781Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.581833ms
    - id: 2
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 06bb2eef-584e-41c7-88b4-9f3087ff8cde
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112227Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-3489386952534703540
            X-Amz-Request-Id:
                - txgbdce106775524040ba64-006a1ebcf3
        status: 200 OK
        code: 200
        duration: 4.91689275s
    - id: 3
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 55a211bd-1766-4675-a579-0c394e1e0b32
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112232Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgb5063addfded47049d5d-006a1ebcf8
        status: 200 OK
        code: 200
        duration: 215.580084ms
    - id: 4
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2cde8396-e5a9-40ff-996f-bb577f5a9a58
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112232Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg1570594005cd4e998a7e-006a1ebcf8
        status: 200 OK
        code: 200
        duration: 194.244084ms
    - id: 5
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ffdecaee-9825-4632-861b-e49fffd4695b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112232Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg849d5a643bd540d99fa6-006a1ebcf8</RequestId><HostId>txg849d5a643bd540d99fa6-006a1ebcf8</HostId><Resource>/sse-config-basic-3489386952534703540</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg849d5a643bd540d99fa6-006a1ebcf8
        status: 404 Not Found
        code: 404
        duration: 133.140625ms
    - id: 6
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0c742fee-8db5-439e-8ffd-80b7107436ab
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112232Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-3489386952534703540</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg59aaebf960a44e1181c5-006a1ebcf8
        status: 200 OK
        code: 200
        duration: 173.745875ms
    - id: 7
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 04843843-af3f-4a8f-88d4-ea6ccee7c8b4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112232Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txga4023ffec3444771acbe-006a1ebcf8</RequestId><HostId>txga4023ffec3444771acbe-006a1ebcf8</HostId><Resource>/sse-config-basic-3489386952534703540</Resource><BucketName>sse-config-basic-3489386952534703540</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga4023ffec3444771acbe-006a1ebcf8
        status: 404 Not Found
        code: 404
        duration: 27.456625ms
    - id: 8
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5355df5d-e105-475c-a898-122190c70365
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112232Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg52249b4bcdee41c58638-006a1ebcf9</RequestId><HostId>txg52249b4bcdee41c58638-006a1ebcf9</HostId><Resource>/sse-config-basic-3489386952534703540</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg52249b4bcdee41c58638-006a1ebcf9
        status: 404 Not Found
        code: 404
        duration: 89.966417ms
    - id: 9
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5b9afd7d-01a3-4521-938d-880ea72dd447
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112233Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg870beca3ea3a477a9df5-006a1ebcf9
        status: 200 OK
        code: 200
        duration: 130.103166ms
    - id: 10
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 84f7c30e-3815-4312-bdee-494bea884936
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260602T112233Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txga9cc8b276cf44127b31d-006a1ebcf9</RequestId><HostId>txga9cc8b276cf44127b31d-006a1ebcf9</HostId><Resource>/sse-config-basic-3489386952534703540</Resource><BucketName>sse-config-basic-3489386952534703540</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txga9cc8b276cf44127b31d-006a1ebcf9
        status: 404 Not Found
        code: 404
        duration: 260.482708ms
    - id: 11
      request:
        host: sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9c682451-c0c4-4917-bb87-fa430e586d95
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260602T112233Z
        url: https://sse-config-basic-3489386952534703540.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg67e5fef0b3274e3e8259-006a1ebcf9
        status: 200 OK
        code: 200
        duration: 228.457458ms
[...]
