---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-08-17T09:47:11.266225Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"15a0b327-bad7-49c9-a965-bd006a1aeb3f","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"protection_level":"software","region":"fr-par","rotated_at":"2026-08-17T09:47:12.710420Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-08-17T09:47:12.710420Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.63941387s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/15a0b327-bad7-49c9-a965-bd006a1aeb3f
        method: GET
      response:
        body: '{"created_at":"2026-08-17T09:47:11.266225Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"15a0b327-bad7-49c9-a965-bd006a1aeb3f","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","protected":false,"protection_level":"software","region":"fr-par","rotated_at":"2026-08-17T09:47:12.710420Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-08-17T09:47:12.710420Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.37107ms
    - id: 2
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9fc3717e-39bb-422a-89d8-37664744dd3e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094711Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-sse-config-6416369524229866375
            X-Amz-Request-Id:
                - txgb3e18e304574484fb42d-006a82d89f
        status: 200 OK
        code: 200
        duration: 4.906465898s
    - id: 3
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 70731829-e4f0-4add-be32-71c76202e790
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg909ecaa19715451698f9-006a82d8a4
        status: 200 OK
        code: 200
        duration: 254.606401ms
    - id: 4
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3df5f053-c33e-423d-9393-3c2dc928a8cc
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf0a0ffb6931b4320b307-006a82d8a4
        status: 200 OK
        code: 200
        duration: 146.128128ms
    - id: 5
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3bed989e-ee89-43b1-ad1b-4f94d5ebabd9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg617806b589584136a3df-006a82d8a4</RequestId><HostId>txg617806b589584136a3df-006a82d8a4</HostId><Resource>/tf-test-sse-config-6416369524229866375</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg617806b589584136a3df-006a82d8a4
        status: 404 Not Found
        code: 404
        duration: 119.59029ms
    - id: 6
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d7a3126f-907f-4cda-a221-5284a0e09141
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-sse-config-6416369524229866375</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1ef47891a1e04e4c92aa-006a82d8a4
        status: 200 OK
        code: 200
        duration: 192.71566ms
    - id: 7
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6f4839a1-13ed-4d1f-9358-8d39d2f8053d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg3afc0c1284e241238dd9-006a82d8a4</RequestId><HostId>txg3afc0c1284e241238dd9-006a82d8a4</HostId><Resource>/tf-test-sse-config-6416369524229866375</Resource><BucketName>tf-test-sse-config-6416369524229866375</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3afc0c1284e241238dd9-006a82d8a4
        status: 404 Not Found
        code: 404
        duration: 54.071005ms
    - id: 8
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 89f349e1-0734-4007-96a7-61954d0a5c45
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg51f1ef0bca42495f8ce7-006a82d8a4</RequestId><HostId>txg51f1ef0bca42495f8ce7-006a82d8a4</HostId><Resource>/tf-test-sse-config-6416369524229866375</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg51f1ef0bca42495f8ce7-006a82d8a4
        status: 404 Not Found
        code: 404
        duration: 101.614566ms
    - id: 9
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 074202ba-81fc-404f-b359-6b23f7f72bf2
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5dfc76d100c8477e8feb-006a82d8a4
        status: 200 OK
        code: 200
        duration: 190.395015ms
    - id: 10
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 719ddaa7-a874-4ba1-bd43-b441b2c5b672
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260817T094716Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg40264165b3004200b28e-006a82d8a5</RequestId><HostId>txg40264165b3004200b28e-006a82d8a5</HostId><Resource>/tf-test-sse-config-6416369524229866375</Resource><BucketName>tf-test-sse-config-6416369524229866375</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg40264165b3004200b28e-006a82d8a5
        status: 404 Not Found
        code: 404
        duration: 26.226751ms
    - id: 11
      request:
        host: tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fa4f46e7-3bc6-413f-a889-c17207463fe9
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260817T094717Z
        url: https://tf-test-sse-config-6416369524229866375.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgbd9be4fde98349cf8dca-006a82d8a5
        status: 200 OK
        code: 200
        duration: 520.985612ms
[...]
