---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-2707800206710443229","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-19T14:27:28.569857Z","description":"","id":"d5589431-619e-4555-a2b3-a2f5171dbf90","name":"tf-test-scaleway-project-2707800206710443229","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-06-19T14:27:28.569857Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.822458ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-2368499363692904132","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-06-19T14:27:28.763124Z","deletable":true,"description":"","editable":true,"id":"72d5cba5-ed31-44eb-b98b-3f0a0ed949ea","managed":false,"name":"tf-test-scaleway-iam-app-2368499363692904132","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-19T14:27:28.763124Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.816792ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-5176375172628418478","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["d5589431-619e-4555-a2b3-a2f5171dbf90"]}],"tags":null,"application_id":"72d5cba5-ed31-44eb-b98b-3f0a0ed949ea"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"72d5cba5-ed31-44eb-b98b-3f0a0ed949ea","created_at":"2026-06-19T14:27:28.840773Z","deletable":true,"description":"","editable":true,"id":"37ea4231-035b-4013-bc71-c7d15b273738","managed":false,"name":"tf-test-scaleway-iam-policy-5176375172628418478","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-19T14:27:28.840773Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.820875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"72d5cba5-ed31-44eb-b98b-3f0a0ed949ea","default_project_id":"d5589431-619e-4555-a2b3-a2f5171dbf90","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWCZX7CBKFJSPWX0V11","application_id":"72d5cba5-ed31-44eb-b98b-3f0a0ed949ea","created_at":"2026-06-19T14:27:28.949586Z","creation_ip":"88.191.65.229","default_project_id":"d5589431-619e-4555-a2b3-a2f5171dbf90","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-06-19T14:27:28.949586Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.636225958s
    - id: 4
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 253485c8-4338-4364-a99c-0cfb0e9258b3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142731Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-210301808959808693
            X-Amz-Request-Id:
                - txg86e9ff3b15da467e8966-006a3551d3
        status: 200 OK
        code: 200
        duration: 9.531152s
    - id: 5
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bc284f44-09e7-416d-8917-f773de1cb007
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142740Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txge8fd29821a1f4ad78330-006a3551dc
        status: 200 OK
        code: 200
        duration: 1.223864125s
    - id: 6
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 10ff9b35-51f7-4ae2-9df4-f9beb66827e4
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142741Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>d5589431-619e-4555-a2b3-a2f5171dbf90:d5589431-619e-4555-a2b3-a2f5171dbf90</DisplayName><ID>d5589431-619e-4555-a2b3-a2f5171dbf90:d5589431-619e-4555-a2b3-a2f5171dbf90</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>d5589431-619e-4555-a2b3-a2f5171dbf90:d5589431-619e-4555-a2b3-a2f5171dbf90</ID><DisplayName>d5589431-619e-4555-a2b3-a2f5171dbf90:d5589431-619e-4555-a2b3-a2f5171dbf90</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgcfbad9cf079a4ccc8b5f-006a3551dd
        status: 200 OK
        code: 200
        duration: 164.207916ms
    - id: 7
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9727ae8d-b959-4809-9978-d0c162177370
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142741Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg77d5276cae0c490c9614-006a3551de</RequestId><HostId>txg77d5276cae0c490c9614-006a3551de</HostId><Resource>/sse-config-basic-210301808959808693</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg77d5276cae0c490c9614-006a3551de
        status: 404 Not Found
        code: 404
        duration: 109.501083ms
    - id: 8
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dbab1f94-3389-450d-a52a-94344434f9ed
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142742Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-210301808959808693</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0956452538b14d639de3-006a3551de
        status: 200 OK
        code: 200
        duration: 1.072073916s
    - id: 9
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3a150801-9957-41a0-8565-3e631a70b1b0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142742Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg589e09cf2aad47c1ae47-006a3551df</RequestId><HostId>txg589e09cf2aad47c1ae47-006a3551df</HostId><Resource>/sse-config-basic-210301808959808693</Resource><BucketName>sse-config-basic-210301808959808693</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg589e09cf2aad47c1ae47-006a3551df
        status: 404 Not Found
        code: 404
        duration: 144.874292ms
    - id: 10
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 21e720fc-b9b9-4224-95a2-00c7257e01f9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142743Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg1bf92c7aab19403da812-006a3551df</RequestId><HostId>txg1bf92c7aab19403da812-006a3551df</HostId><Resource>/sse-config-basic-210301808959808693</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1bf92c7aab19403da812-006a3551df
        status: 404 Not Found
        code: 404
        duration: 182.974625ms
    - id: 11
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d03fc059-cac1-4ec2-8a73-023d7ca89856
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142743Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg639ebcdfaeed4972b814-006a3551df
        status: 200 OK
        code: 200
        duration: 172.83375ms
    - id: 12
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3841f833-b005-4dfd-991c-51575d966549
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142743Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgf909fc43c2d64f75b9a0-006a3551df</RequestId><HostId>txgf909fc43c2d64f75b9a0-006a3551df</HostId><Resource>/sse-config-basic-210301808959808693</Resource><BucketName>sse-config-basic-210301808959808693</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf909fc43c2d64f75b9a0-006a3551df
        status: 404 Not Found
        code: 404
        duration: 115.328292ms
    - id: 13
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 480f337f-bb4e-46c4-9a91-4a25e63d10bf
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260619T142743Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg491e8bcca7f94ebb9217-006a3551df
        status: 200 OK
        code: 200
        duration: 353.065666ms
    - id: 14
      request:
        host: sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a5f4bcb9-ef1e-4eb5-af9b-e5b1992288e7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T142743Z
        url: https://sse-config-basic-210301808959808693.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg6e3add18cda94db9a90d-006a3551e0
        status: 200 OK
        code: 200
        duration: 243.145084ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWCZX7CBKFJSPWX0V11
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 53.611792ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/37ea4231-035b-4013-bc71-c7d15b273738
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.748625ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/72d5cba5-ed31-44eb-b98b-3f0a0ed949ea
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 56.890208ms
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/d5589431-619e-4555-a2b3-a2f5171dbf90
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.563408917s
