---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-05-25T08:53:18.750201Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"5cd5578b-2994-434f-88d8-0468f371a7c3","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-05-25T08:53:19.671981Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-05-25T08:53:19.671981Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.205487667s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/5cd5578b-2994-434f-88d8-0468f371a7c3
        method: GET
      response:
        body: '{"created_at":"2026-05-25T08:53:18.750201Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"5cd5578b-2994-434f-88d8-0468f371a7c3","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-05-25T08:53:19.671981Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-05-25T08:53:19.671981Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.138584ms
    - id: 2
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 293c2841-c3c3-4a17-8b2b-b54c9dc54a47
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085318Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-2409691810787639208
            X-Amz-Request-Id:
                - txg65376212b43e40b4b166-006a140dfe
        status: 200 OK
        code: 200
        duration: 5.847090791s
    - id: 3
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 333a50b2-50f3-4fa7-83c0-71487b218de0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085324Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg84deb078ae9d403893ed-006a140e04
        status: 200 OK
        code: 200
        duration: 253.453041ms
    - id: 4
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9baa16e5-50bf-4071-a0fb-5431aa568e0b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085324Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg58e0d932e0b4441c8301-006a140e04
        status: 200 OK
        code: 200
        duration: 175.4795ms
    - id: 5
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cf822a50-642a-461b-91b3-122fc5db2d9d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085324Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgd12d6eac1fa44c348286-006a140e04</RequestId><HostId>txgd12d6eac1fa44c348286-006a140e04</HostId><Resource>/sse-config-basic-2409691810787639208</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd12d6eac1fa44c348286-006a140e04
        status: 404 Not Found
        code: 404
        duration: 160.471208ms
    - id: 6
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 20ec57de-3518-43aa-afb1-e0a17460bb64
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085324Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-2409691810787639208</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9377a65467514e229134-006a140e04
        status: 200 OK
        code: 200
        duration: 275.444167ms
    - id: 7
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b2db190f-bc36-4fb0-a7a6-ee056add9511
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085324Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg3ebe02dd91a14237b332-006a140e05</RequestId><HostId>txg3ebe02dd91a14237b332-006a140e05</HostId><Resource>/sse-config-basic-2409691810787639208</Resource><BucketName>sse-config-basic-2409691810787639208</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3ebe02dd91a14237b332-006a140e05
        status: 404 Not Found
        code: 404
        duration: 255.65525ms
    - id: 8
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0b05f648-e64a-433b-841e-e411fd5caa3b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085325Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg6747d3766f2f45cc9b64-006a140e05</RequestId><HostId>txg6747d3766f2f45cc9b64-006a140e05</HostId><Resource>/sse-config-basic-2409691810787639208</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6747d3766f2f45cc9b64-006a140e05
        status: 404 Not Found
        code: 404
        duration: 176.572083ms
    - id: 9
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bd9eed86-d50b-4d1c-8bcb-c2c25b03f8b8
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085325Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg1d64c3d4d280481993b3-006a140e05
        status: 200 OK
        code: 200
        duration: 86.710042ms
    - id: 10
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - af4fbb44-5c60-49a9-9a88-48491aff1725
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260525T085325Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgc2e23cb0b9b64d039534-006a140e05</RequestId><HostId>txgc2e23cb0b9b64d039534-006a140e05</HostId><Resource>/sse-config-basic-2409691810787639208</Resource><BucketName>sse-config-basic-2409691810787639208</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc2e23cb0b9b64d039534-006a140e05
        status: 404 Not Found
        code: 404
        duration: 158.6465ms
    - id: 11
      request:
        host: sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 92bd5c55-cdbe-4c08-89f9-e6110f3b5e57
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260525T085325Z
        url: https://sse-config-basic-2409691810787639208.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg6b7b1704280f4fa38eb5-006a140e05
        status: 200 OK
        code: 200
        duration: 165.95175ms
[...]
