---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5603035275534999895","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-19T15:54:31.934287Z","description":"","id":"532726a1-4a58-4f75-b590-6a3ccecfc07d","name":"tf-test-scaleway-project-5603035275534999895","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-06-19T15:54:31.934287Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 365.303542ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-7011031152316876414","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-06-19T15:54:32.160686Z","deletable":true,"description":"","editable":true,"id":"c716bf85-508c-4a05-9ebf-6bf40571224e","managed":false,"name":"tf-test-scaleway-iam-app-7011031152316876414","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-19T15:54:32.160686Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.133875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-6398367885716060319","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["532726a1-4a58-4f75-b590-6a3ccecfc07d"]}],"tags":null,"application_id":"c716bf85-508c-4a05-9ebf-6bf40571224e"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"c716bf85-508c-4a05-9ebf-6bf40571224e","created_at":"2026-06-19T15:54:32.254607Z","deletable":true,"description":"","editable":true,"id":"1e389e2a-2deb-4059-960f-3ff4eb821294","managed":false,"name":"tf-test-scaleway-iam-policy-6398367885716060319","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-19T15:54:32.254607Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.755ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"c716bf85-508c-4a05-9ebf-6bf40571224e","default_project_id":"532726a1-4a58-4f75-b590-6a3ccecfc07d","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWAG2PSS3PMWK34Q2QX","application_id":"c716bf85-508c-4a05-9ebf-6bf40571224e","created_at":"2026-06-19T15:54:32.419098Z","creation_ip":"51.159.73.145","default_project_id":"532726a1-4a58-4f75-b590-6a3ccecfc07d","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-06-19T15:54:32.419098Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.892542ms
    - id: 4
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 145a4edd-dfcd-42b7-b5a4-c0fc4bab73e3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155433Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-4279532068127164595
            X-Amz-Request-Id:
                - txgf7d16e035671485e9178-006a356639
        status: 200 OK
        code: 200
        duration: 8.973462875s
    - id: 5
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 44da63a9-8d9f-4c8e-a4ed-0401d226392d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155442Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg49242542b2b94d10be96-006a356642
        status: 200 OK
        code: 200
        duration: 481.947125ms
    - id: 6
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ddfed053-7b12-4be6-b8bd-ba3901d8cd4d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155442Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>532726a1-4a58-4f75-b590-6a3ccecfc07d:532726a1-4a58-4f75-b590-6a3ccecfc07d</DisplayName><ID>532726a1-4a58-4f75-b590-6a3ccecfc07d:532726a1-4a58-4f75-b590-6a3ccecfc07d</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>532726a1-4a58-4f75-b590-6a3ccecfc07d:532726a1-4a58-4f75-b590-6a3ccecfc07d</ID><DisplayName>532726a1-4a58-4f75-b590-6a3ccecfc07d:532726a1-4a58-4f75-b590-6a3ccecfc07d</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txge4048a2af1f6471e957f-006a356642
        status: 200 OK
        code: 200
        duration: 240.424792ms
    - id: 7
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 446dfda0-16fe-4405-97cd-b1f227b7d646
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155442Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg8d51a87ce48f4f3f903f-006a356642</RequestId><HostId>txg8d51a87ce48f4f3f903f-006a356642</HostId><Resource>/sse-config-basic-4279532068127164595</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8d51a87ce48f4f3f903f-006a356642
        status: 404 Not Found
        code: 404
        duration: 244.924958ms
    - id: 8
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 72b5934d-42fd-4f61-bb5d-392c2b1da765
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155442Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-4279532068127164595</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgdd256d57e49141278999-006a356643
        status: 200 OK
        code: 200
        duration: 367.563375ms
    - id: 9
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a676a081-8103-42d0-9eae-05feff7dc2c3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155443Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg216691a310bb4ce984d0-006a356643</RequestId><HostId>txg216691a310bb4ce984d0-006a356643</HostId><Resource>/sse-config-basic-4279532068127164595</Resource><BucketName>sse-config-basic-4279532068127164595</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg216691a310bb4ce984d0-006a356643
        status: 404 Not Found
        code: 404
        duration: 245.91225ms
    - id: 10
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f147dc22-0ec2-43ad-9691-7844d9d70d69
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155443Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg8e219060fc9a471eb2f9-006a356643</RequestId><HostId>txg8e219060fc9a471eb2f9-006a356643</HostId><Resource>/sse-config-basic-4279532068127164595</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8e219060fc9a471eb2f9-006a356643
        status: 404 Not Found
        code: 404
        duration: 367.01125ms
    - id: 11
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 49cbc587-e4a2-4076-b19a-792b973b9589
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155443Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg116ac8126ac140048d94-006a356644
        status: 200 OK
        code: 200
        duration: 367.363958ms
    - id: 12
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a81ed915-f902-4bfd-8e76-624afb003bf3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155444Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg087aa539d6074ee0bc31-006a356644</RequestId><HostId>txg087aa539d6074ee0bc31-006a356644</HostId><Resource>/sse-config-basic-4279532068127164595</Resource><BucketName>sse-config-basic-4279532068127164595</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg087aa539d6074ee0bc31-006a356644
        status: 404 Not Found
        code: 404
        duration: 245.639042ms
    - id: 13
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - abc464cf-9629-499f-81a8-f38b583823b8
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260619T155444Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgdccf0ef22357489f9a05-006a356644
        status: 200 OK
        code: 200
        duration: 357.3235ms
    - id: 14
      request:
        host: sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 90f01751-c5df-427d-9814-3ae2cdd6ad26
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155444Z
        url: https://sse-config-basic-4279532068127164595.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txge3057424fce448b190d1-006a356645
        status: 200 OK
        code: 200
        duration: 244.904792ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWAG2PSS3PMWK34Q2QX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 71.075625ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/1e389e2a-2deb-4059-960f-3ff4eb821294
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.1665ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/c716bf85-508c-4a05-9ebf-6bf40571224e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.628458ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/532726a1-4a58-4f75-b590-6a3ccecfc07d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.596762667s
