---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin","protection_level":"unknown_protection_level"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-06-19T15:55:45.380971Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"10f50f38-da6e-49b4-bdc9-026a48c01c2c","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"protection_level":"unknown_protection_level","region":"fr-par","rotated_at":"2026-06-19T15:55:46.154902Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-06-19T15:55:46.154902Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.041166625s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/10f50f38-da6e-49b4-bdc9-026a48c01c2c
        method: GET
      response:
        body: '{"created_at":"2026-06-19T15:55:45.380971Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"10f50f38-da6e-49b4-bdc9-026a48c01c2c","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"protection_level":"unknown_protection_level","region":"fr-par","rotated_at":"2026-06-19T15:55:46.154902Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-06-19T15:55:46.154902Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.719ms
    - id: 2
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e28aea1e-3e6a-4905-88f2-70af18fdf002
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155545Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-7847572103153094311
            X-Amz-Request-Id:
                - txg9b2444bc6e144db5b48e-006a356681
        status: 200 OK
        code: 200
        duration: 4.824327541s
    - id: 3
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e6453ca0-438c-462c-9510-6f62e825dd15
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155549Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg7515682762964947a027-006a356686
        status: 200 OK
        code: 200
        duration: 115.201625ms
    - id: 4
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 86db3979-05a1-47df-b013-7ae7e63e135b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg4d5c278771e64d85927f-006a356686
        status: 200 OK
        code: 200
        duration: 56.047375ms
    - id: 5
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 54ada26e-8dcd-4f75-8a61-6ce49119e1a0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgbe9e6ddafe2b4830b4a9-006a356686</RequestId><HostId>txgbe9e6ddafe2b4830b4a9-006a356686</HostId><Resource>/sse-config-basic-7847572103153094311</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbe9e6ddafe2b4830b4a9-006a356686
        status: 404 Not Found
        code: 404
        duration: 39.179125ms
    - id: 6
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 093cf4f3-03a2-4355-8e7f-f286c6399625
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-7847572103153094311</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg25c0e8f5ca0b425bbbe5-006a356686
        status: 200 OK
        code: 200
        duration: 119.988167ms
    - id: 7
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2d271245-171b-4fec-9660-a4b89e381eb3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgb4ad55e236a7425bb266-006a356686</RequestId><HostId>txgb4ad55e236a7425bb266-006a356686</HostId><Resource>/sse-config-basic-7847572103153094311</Resource><BucketName>sse-config-basic-7847572103153094311</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb4ad55e236a7425bb266-006a356686
        status: 404 Not Found
        code: 404
        duration: 63.271375ms
    - id: 8
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 39cef66f-bc89-4ddd-95a9-dda4f5993149
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9a284567c8e44c95b07c-006a356686</RequestId><HostId>txg9a284567c8e44c95b07c-006a356686</HostId><Resource>/sse-config-basic-7847572103153094311</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9a284567c8e44c95b07c-006a356686
        status: 404 Not Found
        code: 404
        duration: 72.231875ms
    - id: 9
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bd5ea16f-47d0-452e-8194-9892c4548ed3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg89e8235dc75f431fb7a8-006a356686
        status: 200 OK
        code: 200
        duration: 52.165084ms
    - id: 10
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - df1f5156-221b-4cc1-9655-2c3e24fd68e1
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgb2a8f49eb9c44c809db7-006a356686</RequestId><HostId>txgb2a8f49eb9c44c809db7-006a356686</HostId><Resource>/sse-config-basic-7847572103153094311</Resource><BucketName>sse-config-basic-7847572103153094311</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgb2a8f49eb9c44c809db7-006a356686
        status: 404 Not Found
        code: 404
        duration: 20.611833ms
    - id: 11
      request:
        host: sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d757e80f-de13-4828-b732-6bd9597df94b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260619T155550Z
        url: https://sse-config-basic-7847572103153094311.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txge1a4f9740da8426d812b-006a356686
        status: 200 OK
        code: 200
        duration: 97.003042ms
[...]
