---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-7386778075898950650","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-08T08:19:47.121879Z","description":"","id":"fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5","name":"tf-test-scaleway-project-7386778075898950650","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-06-08T08:19:47.121879Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 423.33ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-3500326351140461073","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-06-08T08:19:47.392105Z","deletable":true,"description":"","editable":true,"id":"15fba34f-0fbc-4318-9c57-bde9907500e1","managed":false,"name":"tf-test-scaleway-iam-app-3500326351140461073","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T08:19:47.392105Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.325667ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-2797680052403276428","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5"]}],"tags":null,"application_id":"15fba34f-0fbc-4318-9c57-bde9907500e1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"15fba34f-0fbc-4318-9c57-bde9907500e1","created_at":"2026-06-08T08:19:47.481057Z","deletable":true,"description":"","editable":true,"id":"da1311e6-b74e-468a-a4e5-a0a4e5830dc4","managed":false,"name":"tf-test-scaleway-iam-policy-2797680052403276428","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T08:19:47.481057Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.274792ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"15fba34f-0fbc-4318-9c57-bde9907500e1","default_project_id":"fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWA4N2Y1H79004C2CVK","application_id":"15fba34f-0fbc-4318-9c57-bde9907500e1","created_at":"2026-06-08T08:19:47.636191Z","creation_ip":"88.191.65.229","default_project_id":"fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-06-08T08:19:47.636191Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.727542ms
    - id: 4
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 73de95bd-bc65-4285-b72e-37d4f3ffdf54
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081948Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-5576936355990880771
            X-Amz-Request-Id:
                - txgb9837875ecee4782b944-006a267b24
        status: 200 OK
        code: 200
        duration: 8.275863625s
    - id: 5
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 37068915-1fed-4e59-bae0-c2a4c0b5e0ca
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081956Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgcdd49a608c8b428283eb-006a267b2c
        status: 200 OK
        code: 200
        duration: 301.665709ms
    - id: 6
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e8515a09-d9d6-4694-a62d-1d7a226dd532
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081956Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5:fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5</DisplayName><ID>fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5:fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5:fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5</ID><DisplayName>fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5:fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg40fb5cf1d2964422890a-006a267b2c
        status: 200 OK
        code: 200
        duration: 187.24525ms
    - id: 7
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2bc57ed3-b0dd-47c0-a21b-d69202f6aa33
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081956Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg33e31afc26524678833c-006a267b2d</RequestId><HostId>txg33e31afc26524678833c-006a267b2d</HostId><Resource>/sse-config-basic-5576936355990880771</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg33e31afc26524678833c-006a267b2d
        status: 404 Not Found
        code: 404
        duration: 244.169542ms
    - id: 8
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f13fcc4f-1394-4245-a1bf-e3ca3c85e640
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081957Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-5576936355990880771</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg92ea5174cf454d43b50d-006a267b2d
        status: 200 OK
        code: 200
        duration: 261.43425ms
    - id: 9
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2099ed57-cc4f-44d2-be46-01e1749bf34d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081957Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg3322afb43c804bd5aab9-006a267b2d</RequestId><HostId>txg3322afb43c804bd5aab9-006a267b2d</HostId><Resource>/sse-config-basic-5576936355990880771</Resource><BucketName>sse-config-basic-5576936355990880771</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3322afb43c804bd5aab9-006a267b2d
        status: 404 Not Found
        code: 404
        duration: 151.915375ms
    - id: 10
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d97df4ff-f4ba-442d-937e-411b909bcb5d
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081957Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg053fbcf231dd442ba461-006a267b2d</RequestId><HostId>txg053fbcf231dd442ba461-006a267b2d</HostId><Resource>/sse-config-basic-5576936355990880771</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg053fbcf231dd442ba461-006a267b2d
        status: 404 Not Found
        code: 404
        duration: 102.887417ms
    - id: 11
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 65cf1f56-ad79-4d50-9dd8-91c73d9da749
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081957Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg0e69da10c58c4f7f8790-006a267b2d
        status: 200 OK
        code: 200
        duration: 154.818375ms
    - id: 12
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3788c7cb-d241-4a38-b92c-70cd3a5c4021
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081957Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg52f3514c19484aa1ae71-006a267b2e</RequestId><HostId>txg52f3514c19484aa1ae71-006a267b2e</HostId><Resource>/sse-config-basic-5576936355990880771</Resource><BucketName>sse-config-basic-5576936355990880771</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg52f3514c19484aa1ae71-006a267b2e
        status: 404 Not Found
        code: 404
        duration: 191.129959ms
    - id: 13
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8bf73508-029e-45fa-b9cd-b8a5d0d9dac3
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260608T081958Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg4c650745d4934bf88cf8-006a267b2e
        status: 200 OK
        code: 200
        duration: 467.319667ms
    - id: 14
      request:
        host: sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ba731795-5408-4587-8ff6-ff14d14fd479
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T081958Z
        url: https://sse-config-basic-5576936355990880771.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgbb08411398504fbf9e17-006a267b2e
        status: 200 OK
        code: 200
        duration: 246.192041ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWA4N2Y1H79004C2CVK
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.990708ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/da1311e6-b74e-468a-a4e5-a0a4e5830dc4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 66.418542ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/15fba34f-0fbc-4318-9c57-bde9907500e1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 52.837041ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/fcdb2ef6-cc34-4fdc-9524-e1498a37a3e5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.788586333s
