---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"4d333544-41be-4b0b-8907-0b9036859747","name":"my-kms-key-tf-test","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"},"description":"This key is used to encrypt bucket objects","tags":null,"unprotected":true,"origin":"unknown_origin"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys
        method: POST
      response:
        body: '{"created_at":"2026-05-20T13:27:11.535531Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"96db7263-9597-4bfd-b6f9-13551c67302f","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-05-20T13:27:11.974286Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-05-20T13:27:11.974286Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 762.531875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/key-manager/v1alpha1/regions/fr-par/keys/96db7263-9597-4bfd-b6f9-13551c67302f
        method: GET
      response:
        body: '{"created_at":"2026-05-20T13:27:11.535531Z","deletion_requested_at":null,"description":"This key is used to encrypt bucket objects","id":"96db7263-9597-4bfd-b6f9-13551c67302f","locked":false,"name":"my-kms-key-tf-test","origin":"scaleway_kms","project_id":"4d333544-41be-4b0b-8907-0b9036859747","protected":false,"region":"fr-par","rotated_at":"2026-05-20T13:27:11.974286Z","rotation_count":1,"rotation_policy":null,"state":"enabled","tags":[],"updated_at":"2026-05-20T13:27:11.974286Z","usage":{"asymmetric_encryption":"rsa_oaep_4096_sha256"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.851375ms
    - id: 2
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 60c0199b-1346-4a1d-9f5f-1b8693dffd95
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132711Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-2113999756053370710
            X-Amz-Request-Id:
                - txg34c0d478ac9140bda607-006a0db6af
        status: 200 OK
        code: 200
        duration: 4.314896292s
    - id: 3
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 709a70d3-7abc-49f0-af2d-abefa10bceaf
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgd6464096d0984d508418-006a0db6b3
        status: 200 OK
        code: 200
        duration: 46.504709ms
    - id: 4
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e717a941-0d20-4930-a56e-c29de2523483
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</ID><DisplayName>4d333544-41be-4b0b-8907-0b9036859747:4d333544-41be-4b0b-8907-0b9036859747</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd95455a7a86b405a9ffa-006a0db6b3
        status: 200 OK
        code: 200
        duration: 28.565375ms
    - id: 5
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1a30ec8e-267d-4423-b0d5-087d3081d60a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txge387fc7f68894f7db9bb-006a0db6b3</RequestId><HostId>txge387fc7f68894f7db9bb-006a0db6b3</HostId><Resource>/sse-config-basic-2113999756053370710</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txge387fc7f68894f7db9bb-006a0db6b3
        status: 404 Not Found
        code: 404
        duration: 34.642834ms
    - id: 6
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 23119e7d-93f3-494c-afc6-afc9c87fcf72
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-2113999756053370710</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgacb64c65ac5949d2ab41-006a0db6b3
        status: 200 OK
        code: 200
        duration: 48.83125ms
    - id: 7
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6fc181ff-225e-454d-a408-934781d9f17a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgc8c020da6c6741b29890-006a0db6b3</RequestId><HostId>txgc8c020da6c6741b29890-006a0db6b3</HostId><Resource>/sse-config-basic-2113999756053370710</Resource><BucketName>sse-config-basic-2113999756053370710</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc8c020da6c6741b29890-006a0db6b3
        status: 404 Not Found
        code: 404
        duration: 31.700041ms
    - id: 8
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a45ecc68-fbb7-4cb7-a11d-13c777451481
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg55d971d5edb84bf4968f-006a0db6b3</RequestId><HostId>txg55d971d5edb84bf4968f-006a0db6b3</HostId><Resource>/sse-config-basic-2113999756053370710</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg55d971d5edb84bf4968f-006a0db6b3
        status: 404 Not Found
        code: 404
        duration: 30.742ms
    - id: 9
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a71662ce-0c87-4b6b-bded-ca4161dcd979
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg50979f25f6f74f178ce5-006a0db6b3
        status: 200 OK
        code: 200
        duration: 82.879167ms
    - id: 10
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 426a0c3a-193a-42b1-a56b-1b8bf662bf2f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260520T132715Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg3c8e6d6cc1d84ff88dfb-006a0db6b3</RequestId><HostId>txg3c8e6d6cc1d84ff88dfb-006a0db6b3</HostId><Resource>/sse-config-basic-2113999756053370710</Resource><BucketName>sse-config-basic-2113999756053370710</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3c8e6d6cc1d84ff88dfb-006a0db6b3
        status: 404 Not Found
        code: 404
        duration: 251.905583ms
    - id: 11
      request:
        host: sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><KMSMasterKeyID>my-kms-key-tf-test</KMSMasterKeyID><SSEAlgorithm>aws:kms</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>true</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f11fc264-ccbf-4147-a03c-1e7b0c490a9f
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - Dsnpvg==
            X-Amz-Content-Sha256:
                - c8601d21d2f7d1343a002c48d359ee52d679b61b1e3517b16acc4a4a9f206ab3
            X-Amz-Date:
                - 20260520T132716Z
        url: https://sse-config-basic-2113999756053370710.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg2161d6ffb0c54604b776-006a0db6b4
        status: 200 OK
        code: 200
        duration: 69.551416ms
[...]
