---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-5301594113423516014","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-08T11:12:08.449255Z","description":"","id":"06f66714-3812-4fa8-bcf1-28fbe664fc39","name":"tf-test-scaleway-project-5301594113423516014","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-06-08T11:12:08.449255Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.975875ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-8304504658146892897","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-06-08T11:12:08.661521Z","deletable":true,"description":"","editable":true,"id":"bc79cad9-fda9-4551-8f16-83d70951393c","managed":false,"name":"tf-test-scaleway-iam-app-8304504658146892897","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T11:12:08.661521Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.831ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-2817935974062502462","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["06f66714-3812-4fa8-bcf1-28fbe664fc39"]}],"tags":null,"application_id":"bc79cad9-fda9-4551-8f16-83d70951393c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"bc79cad9-fda9-4551-8f16-83d70951393c","created_at":"2026-06-08T11:12:08.732180Z","deletable":true,"description":"","editable":true,"id":"4ca3907c-4534-4c49-ab58-d9f03cce8a48","managed":false,"name":"tf-test-scaleway-iam-policy-2817935974062502462","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-08T11:12:08.732180Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.93625ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"bc79cad9-fda9-4551-8f16-83d70951393c","default_project_id":"06f66714-3812-4fa8-bcf1-28fbe664fc39","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWV2VSZZZ28KQQCHTH4","application_id":"bc79cad9-fda9-4551-8f16-83d70951393c","created_at":"2026-06-08T11:12:08.862304Z","creation_ip":"51.159.73.9","default_project_id":"06f66714-3812-4fa8-bcf1-28fbe664fc39","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-06-08T11:12:08.862304Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.472709ms
    - id: 4
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9a6804cc-2a3d-48e1-93b5-dbdc863bfcff
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111230Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-2308906859621520915
            X-Amz-Request-Id:
                - txg8d60d108219948e58be9-006a26a39f
        status: 200 OK
        code: 200
        duration: 9.066513792s
    - id: 5
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 739a9387-3219-4c72-86bf-76502a197f02
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111239Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg48c488d669024d20b55d-006a26a3a8
        status: 200 OK
        code: 200
        duration: 383.551083ms
    - id: 6
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - b389b4e9-beb6-4305-a9d6-e7656792470e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111240Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>06f66714-3812-4fa8-bcf1-28fbe664fc39:06f66714-3812-4fa8-bcf1-28fbe664fc39</DisplayName><ID>06f66714-3812-4fa8-bcf1-28fbe664fc39:06f66714-3812-4fa8-bcf1-28fbe664fc39</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>06f66714-3812-4fa8-bcf1-28fbe664fc39:06f66714-3812-4fa8-bcf1-28fbe664fc39</ID><DisplayName>06f66714-3812-4fa8-bcf1-28fbe664fc39:06f66714-3812-4fa8-bcf1-28fbe664fc39</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg374d3026046e48348373-006a26a3a8
        status: 200 OK
        code: 200
        duration: 207.381375ms
    - id: 7
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d45e8dc6-7e76-4f4e-ae1c-1b4e7f858de7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111240Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg011fdb0e6d2944ce940c-006a26a3a8</RequestId><HostId>txg011fdb0e6d2944ce940c-006a26a3a8</HostId><Resource>/sse-config-basic-2308906859621520915</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg011fdb0e6d2944ce940c-006a26a3a8
        status: 404 Not Found
        code: 404
        duration: 182.609417ms
    - id: 8
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cf3043ff-31c9-4261-a4d9-40ba85134a54
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111240Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-2308906859621520915</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg16607f28ffd7467db868-006a26a3a8
        status: 200 OK
        code: 200
        duration: 270.872041ms
    - id: 9
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2847d697-5d81-4db7-a93e-ea029213439c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111240Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg6fc69aba546c4eeb8281-006a26a3a9</RequestId><HostId>txg6fc69aba546c4eeb8281-006a26a3a9</HostId><Resource>/sse-config-basic-2308906859621520915</Resource><BucketName>sse-config-basic-2308906859621520915</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6fc69aba546c4eeb8281-006a26a3a9
        status: 404 Not Found
        code: 404
        duration: 138.810542ms
    - id: 10
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3860e914-fd22-4daa-8b3e-93eb30e99c06
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111241Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg3397bf9c819c41e59e99-006a26a3a9</RequestId><HostId>txg3397bf9c819c41e59e99-006a26a3a9</HostId><Resource>/sse-config-basic-2308906859621520915</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3397bf9c819c41e59e99-006a26a3a9
        status: 404 Not Found
        code: 404
        duration: 252.752333ms
    - id: 11
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 912b7445-e267-4ae3-9878-514e9ff435df
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111241Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf875281919a64a6d97fd-006a26a3a9
        status: 200 OK
        code: 200
        duration: 128.11725ms
    - id: 12
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 42e2671a-5578-4c3f-acbf-e14cfbd8bd03
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111241Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg9a524366a01148c2bd4c-006a26a3a9</RequestId><HostId>txg9a524366a01148c2bd4c-006a26a3a9</HostId><Resource>/sse-config-basic-2308906859621520915</Resource><BucketName>sse-config-basic-2308906859621520915</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9a524366a01148c2bd4c-006a26a3a9
        status: 404 Not Found
        code: 404
        duration: 230.762709ms
    - id: 13
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d3b37ed1-35c2-420a-b5a7-ab7e3f63d1ff
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260608T111241Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg33db5f1fae2d471ab1f9-006a26a3a9
        status: 200 OK
        code: 200
        duration: 288.731542ms
    - id: 14
      request:
        host: sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e64efc5b-0f47-451d-b2a1-0070381b5588
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260608T111241Z
        url: https://sse-config-basic-2308906859621520915.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg71f121f7634a496f9ccf-006a26a3aa
        status: 200 OK
        code: 200
        duration: 189.833959ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWV2VSZZZ28KQQCHTH4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 54.527375ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/4ca3907c-4534-4c49-ab58-d9f03cce8a48
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 56.902416ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/bc79cad9-fda9-4551-8f16-83d70951393c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 53.621209ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/06f66714-3812-4fa8-bcf1-28fbe664fc39
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.332592583s
