---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-8189587209722685520","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-06-19T15:22:27.044498Z","description":"","id":"1c9d455b-64a7-4f21-a4ae-d374e70d2429","name":"tf-test-scaleway-project-8189587209722685520","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-06-19T15:22:27.044498Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 420.105416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-5744550306509647724","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-06-19T15:22:27.254919Z","deletable":true,"description":"","editable":true,"id":"78dea1c9-0872-40b4-9410-7e04edbb12ad","managed":false,"name":"tf-test-scaleway-iam-app-5744550306509647724","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-19T15:22:27.254919Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.940875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-4497200809441115908","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["1c9d455b-64a7-4f21-a4ae-d374e70d2429"]}],"tags":null,"application_id":"78dea1c9-0872-40b4-9410-7e04edbb12ad"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"78dea1c9-0872-40b4-9410-7e04edbb12ad","created_at":"2026-06-19T15:22:27.348380Z","deletable":true,"description":"","editable":true,"id":"3619949f-86dd-492c-a00a-92a34beb9095","managed":false,"name":"tf-test-scaleway-iam-policy-4497200809441115908","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-06-19T15:22:27.348380Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.551417ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"78dea1c9-0872-40b4-9410-7e04edbb12ad","default_project_id":"1c9d455b-64a7-4f21-a4ae-d374e70d2429","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCWRWTMP41QK1NW83RPR","application_id":"78dea1c9-0872-40b4-9410-7e04edbb12ad","created_at":"2026-06-19T15:22:27.457755Z","creation_ip":"51.159.46.153","default_project_id":"1c9d455b-64a7-4f21-a4ae-d374e70d2429","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-06-19T15:22:27.457755Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 728.33925ms
    - id: 4
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 077c35e1-08ad-4b49-b805-84d686ac8591
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152228Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-955387317426074858
            X-Amz-Request-Id:
                - txg98b297aefccc40d88671-006a355eb4
        status: 200 OK
        code: 200
        duration: 9.303927s
    - id: 5
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f84ebed1-6a9c-4835-a4eb-fb3776c05f56
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152238Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg2c72eb2787a94035bc37-006a355ebe
        status: 200 OK
        code: 200
        duration: 334.577042ms
    - id: 6
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - cb90292d-e4b1-40c5-95b7-93160a64c4d7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152238Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>1c9d455b-64a7-4f21-a4ae-d374e70d2429:1c9d455b-64a7-4f21-a4ae-d374e70d2429</DisplayName><ID>1c9d455b-64a7-4f21-a4ae-d374e70d2429:1c9d455b-64a7-4f21-a4ae-d374e70d2429</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>1c9d455b-64a7-4f21-a4ae-d374e70d2429:1c9d455b-64a7-4f21-a4ae-d374e70d2429</ID><DisplayName>1c9d455b-64a7-4f21-a4ae-d374e70d2429:1c9d455b-64a7-4f21-a4ae-d374e70d2429</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgdb22d2e21249443491e5-006a355ebe
        status: 200 OK
        code: 200
        duration: 191.739541ms
    - id: 7
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1e1ec268-767e-4179-b980-66f7d527206c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152238Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6a903cd585c84ce7bbf6-006a355ebe</RequestId><HostId>txg6a903cd585c84ce7bbf6-006a355ebe</HostId><Resource>/sse-config-basic-955387317426074858</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6a903cd585c84ce7bbf6-006a355ebe
        status: 404 Not Found
        code: 404
        duration: 184.810125ms
    - id: 8
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5d0c31c3-9e8e-4b74-b3d4-711c795ecf5a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152238Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-955387317426074858</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg361defbb55b54cdca132-006a355ebe
        status: 200 OK
        code: 200
        duration: 259.194083ms
    - id: 9
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 45451887-1c4a-4540-823e-0ab99459900e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152238Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg68b03fe1aaf3417997bb-006a355ebf</RequestId><HostId>txg68b03fe1aaf3417997bb-006a355ebf</HostId><Resource>/sse-config-basic-955387317426074858</Resource><BucketName>sse-config-basic-955387317426074858</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg68b03fe1aaf3417997bb-006a355ebf
        status: 404 Not Found
        code: 404
        duration: 131.28575ms
    - id: 10
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fd35f54a-544e-4389-8ac1-10bcf3db0105
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152239Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg0926650b55ae4a5080da-006a355ebf</RequestId><HostId>txg0926650b55ae4a5080da-006a355ebf</HostId><Resource>/sse-config-basic-955387317426074858</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg0926650b55ae4a5080da-006a355ebf
        status: 404 Not Found
        code: 404
        duration: 707.92025ms
    - id: 11
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 15ff55fb-53ad-4d3a-8790-44709f457ba5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152239Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgd4d87fe36eac4bbab2d3-006a355ec0
        status: 200 OK
        code: 200
        duration: 1.69492225s
    - id: 12
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e13dcaf8-4b64-479a-bec6-0db6738f9350
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152240Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgd394074820d149e3acf9-006a355ec1</RequestId><HostId>txgd394074820d149e3acf9-006a355ec1</HostId><Resource>/sse-config-basic-955387317426074858</Resource><BucketName>sse-config-basic-955387317426074858</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgd394074820d149e3acf9-006a355ec1
        status: 404 Not Found
        code: 404
        duration: 176.194ms
    - id: 13
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3aafbde8-212e-4e85-8046-df50b80bd373
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260619T152241Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txga1e765fb1bd942508128-006a355ec1
        status: 200 OK
        code: 200
        duration: 2.188051208s
    - id: 14
      request:
        host: sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e17d0f27-5d21-4cb5-ae54-474882d05b57
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260619T152241Z
        url: https://sse-config-basic-955387317426074858.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5c9fa7284b0e4bf398c6-006a355ec4
        status: 200 OK
        code: 200
        duration: 180.245667ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCWRWTMP41QK1NW83RPR
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 74.618916ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/3619949f-86dd-492c-a00a-92a34beb9095
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.889625ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/78dea1c9-0872-40b4-9410-7e04edbb12ad
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.103042ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/1c9d455b-64a7-4f21-a4ae-d374e70d2429
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 2.8467645s
