---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-project-6361702233318618672","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-26T14:55:57.070100Z","description":"","id":"b1c71c55-db0f-41f1-accf-4124e5849705","name":"tf-test-scaleway-project-6361702233318618672","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","qualification":null,"updated_at":"2026-05-26T14:55:57.070100Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.561708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-app-8557974948536045356","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","description":"","tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/applications
        method: POST
      response:
        body: '{"created_at":"2026-05-26T14:55:57.277069Z","deletable":true,"description":"","editable":true,"id":"eb0bb452-4f81-4827-a43a-57a83c6890e9","managed":false,"name":"tf-test-scaleway-iam-app-8557974948536045356","nb_api_keys":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-26T14:55:57.277069Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.83ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-test-scaleway-iam-policy-6531894894433238436","description":"","organization_id":"4d333544-41be-4b0b-8907-0b9036859747","rules":[{"permission_set_names":["ObjectStorageObjectsRead","ObjectStorageBucketsRead","ObjectStorageObjectsWrite","ObjectStorageBucketsWrite"],"condition":"","project_ids":["b1c71c55-db0f-41f1-accf-4124e5849705"]}],"tags":null,"application_id":"eb0bb452-4f81-4827-a43a-57a83c6890e9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/policies
        method: POST
      response:
        body: '{"application_id":"eb0bb452-4f81-4827-a43a-57a83c6890e9","created_at":"2026-05-26T14:55:57.350849Z","deletable":true,"description":"","editable":true,"id":"29ebebec-f1d7-4809-b504-55dec5dedca8","managed":false,"name":"tf-test-scaleway-iam-policy-6531894894433238436","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"4d333544-41be-4b0b-8907-0b9036859747","tags":[],"updated_at":"2026-05-26T14:55:57.350849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.878208ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"application_id":"eb0bb452-4f81-4827-a43a-57a83c6890e9","default_project_id":"b1c71c55-db0f-41f1-accf-4124e5849705","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/api-keys
        method: POST
      response:
        body: '{"access_key":"SCW69RRBRQ7BY98HX7GW","application_id":"eb0bb452-4f81-4827-a43a-57a83c6890e9","created_at":"2026-05-26T14:55:57.455487Z","creation_ip":"51.159.73.9","default_project_id":"b1c71c55-db0f-41f1-accf-4124e5849705","deletable":true,"description":"","editable":true,"expires_at":null,"managed":false,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2026-05-26T14:55:57.455487Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.301416ms
    - id: 4
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - e946b5dd-3024-461e-bb9f-551768c078a3
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145558Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /sse-config-basic-8422327463709845427
            X-Amz-Request-Id:
                - txg2a2c4d844c1b4f9fbea8-006a15b47e
        status: 200 OK
        code: 200
        duration: 8.525461167s
    - id: 5
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a35f3a52-c9ad-4312-920d-053a49b93cb9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145606Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txgad53293acda345529f08-006a15b486
        status: 200 OK
        code: 200
        duration: 425.647292ms
    - id: 6
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c2106d84-27a7-426f-9afe-e74a2fe7de8b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145606Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>b1c71c55-db0f-41f1-accf-4124e5849705:b1c71c55-db0f-41f1-accf-4124e5849705</DisplayName><ID>b1c71c55-db0f-41f1-accf-4124e5849705:b1c71c55-db0f-41f1-accf-4124e5849705</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>b1c71c55-db0f-41f1-accf-4124e5849705:b1c71c55-db0f-41f1-accf-4124e5849705</ID><DisplayName>b1c71c55-db0f-41f1-accf-4124e5849705:b1c71c55-db0f-41f1-accf-4124e5849705</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg5d2b5bcb91de43d18c30-006a15b486
        status: 200 OK
        code: 200
        duration: 307.015708ms
    - id: 7
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - abde5853-c337-42bf-9f45-e592fdd80ba9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145606Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg6e1e20ea56c042bdbd66-006a15b487</RequestId><HostId>txg6e1e20ea56c042bdbd66-006a15b487</HostId><Resource>/sse-config-basic-8422327463709845427</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg6e1e20ea56c042bdbd66-006a15b487
        status: 404 Not Found
        code: 404
        duration: 204.064459ms
    - id: 8
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a7fa6bff-902b-43e3-81c5-695794966204
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145607Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>sse-config-basic-8422327463709845427</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg21d91f9cf6164df2a614-006a15b487
        status: 200 OK
        code: 200
        duration: 378.360584ms
    - id: 9
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f4d376e7-1cb7-4087-9e02-08ce91bde44b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145607Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txgf7e5c601fbd64c5c9c42-006a15b487</RequestId><HostId>txgf7e5c601fbd64c5c9c42-006a15b487</HostId><Resource>/sse-config-basic-8422327463709845427</Resource><BucketName>sse-config-basic-8422327463709845427</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf7e5c601fbd64c5c9c42-006a15b487
        status: 404 Not Found
        code: 404
        duration: 155.73325ms
    - id: 10
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 120b0336-284d-4f75-8787-53a37e090370
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145607Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg9ff41c47486241d8b749-006a15b488</RequestId><HostId>txg9ff41c47486241d8b749-006a15b488</HostId><Resource>/sse-config-basic-8422327463709845427</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg9ff41c47486241d8b749-006a15b488
        status: 404 Not Found
        code: 404
        duration: 180.32975ms
    - id: 11
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bd1cad88-7bf3-4f87-87e5-663e37422638
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145608Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg35994b11ba9242d29d5a-006a15b488
        status: 200 OK
        code: 200
        duration: 305.815125ms
    - id: 12
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 550121ed-1ff5-4eba-8d7e-fc6958f2e9ed
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145608Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txgf1d222fd76d04e17bee7-006a15b488</RequestId><HostId>txgf1d222fd76d04e17bee7-006a15b488</HostId><Resource>/sse-config-basic-8422327463709845427</Resource><BucketName>sse-config-basic-8422327463709845427</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgf1d222fd76d04e17bee7-006a15b488
        status: 404 Not Found
        code: 404
        duration: 230.092125ms
    - id: 13
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault></Rule></ServerSideEncryptionConfiguration>
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - ab3b17d3-7ae4-4697-9356-a06798d05819
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/xml
            X-Amz-Checksum-Crc32:
                - 2516AQ==
            X-Amz-Content-Sha256:
                - df4e3e6cf7a0b4af67ba58f41eaa596d54579eea2ed2f993da09600f59413711
            X-Amz-Date:
                - 20260526T145608Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?encryption=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg0d99da135aad4b629658-006a15b488
        status: 200 OK
        code: 200
        duration: 678.142ms
    - id: 14
      request:
        host: sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9edb1d34-8109-4cb3-87f7-8770c336f172
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260526T145608Z
        url: https://sse-config-basic-8422327463709845427.s3.nl-ams.scw.cloud/?encryption=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ServerSideEncryptionConfiguration><Rule><ApplyServerSideEncryptionByDefault><SSEAlgorithm>AES256</SSEAlgorithm></ApplyServerSideEncryptionByDefault><BucketKeyEnabled>false</BucketKeyEnabled></Rule></ServerSideEncryptionConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg9d792f3b5aec4d9e9011-006a15b489
        status: 200 OK
        code: 200
        duration: 132.102667ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/api-keys/SCW69RRBRQ7BY98HX7GW
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.378708ms
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/policies/29ebebec-f1d7-4809-b504-55dec5dedca8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 64.514791ms
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/applications/eb0bb452-4f81-4827-a43a-57a83c6890e9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 51.391084ms
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/b1c71c55-db0f-41f1-accf-4124e5849705
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 1.744499416s
