---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-acl\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"cc2df52d-224d-4b89-a14b-216dc31479f5\",\"name\":\"tf-vpc-acl\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.200532Z\",\"updated_at\":\"2025-08-26T16:32:38.200532Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 133.213048ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cc2df52d-224d-4b89-a14b-216dc31479f5
    method: GET
  response:
    body: "{\"id\":\"cc2df52d-224d-4b89-a14b-216dc31479f5\",\"name\":\"tf-vpc-acl\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.200532Z\",\"updated_at\":\"2025-08-26T16:32:38.200532Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 59.850617ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"rules\":[{\"protocol\":\"TCP\",\"source\":\"0.0.0.0/0\",\"src_port_low\":0,\"src_port_high\":0,\"destination\":\"0.0.0.0/0\",\"dst_port_low\":80,\"dst_port_high\":80,\"action\":\"accept\",\"description\":\"Allow HTTP traffic from any source\"}],\"is_ipv6\":false,\"default_policy\":\"drop\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cc2df52d-224d-4b89-a14b-216dc31479f5/acl-rules
    method: PUT
  response:
    body: "{\"rules\":[{\"protocol\":\"TCP\",\"source\":\"0.0.0.0/0\",\"src_port_low\":0,\"src_port_high\":0,\"destination\":\"0.0.0.0/0\",\"dst_port_low\":80,\"dst_port_high\":80,\"action\":\"accept\",\"description\":\"(Rule scope: client) Allow HTTP traffic from any source\"}],\"default_policy\":\"drop\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 211.685073ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cc2df52d-224d-4b89-a14b-216dc31479f5/acl-rules?is_ipv6=false
    method: GET
  response:
    body: "{\"rules\":[{\"protocol\":\"TCP\",\"source\":\"0.0.0.0/0\",\"src_port_low\":0,\"src_port_high\":0,\"destination\":\"0.0.0.0/0\",\"dst_port_low\":80,\"dst_port_high\":80,\"action\":\"accept\",\"description\":\"(Rule scope: client) Allow HTTP traffic from any source\"}],\"default_policy\":\"drop\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 81.511594ms
[...]
