---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-acl-basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"3043fe0c-6f4e-4951-99d8-51c65db1a1d9\",\"name\":\"tf-vpc-acl-basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:37.676067Z\",\"updated_at\":\"2025-08-26T16:32:37.676067Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 134.52119ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3043fe0c-6f4e-4951-99d8-51c65db1a1d9
    method: GET
  response:
    body: "{\"id\":\"3043fe0c-6f4e-4951-99d8-51c65db1a1d9\",\"name\":\"tf-vpc-acl-basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:37.676067Z\",\"updated_at\":\"2025-08-26T16:32:37.676067Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 30.026309ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"rules\":null,\"is_ipv6\":false,\"default_policy\":\"accept\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3043fe0c-6f4e-4951-99d8-51c65db1a1d9/acl-rules
    method: PUT
  response:
    body: "{\"rules\":[],\"default_policy\":\"accept\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 184.920412ms
- id: 3
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3043fe0c-6f4e-4951-99d8-51c65db1a1d9/acl-rules?is_ipv6=false
    method: GET
  response:
    body: "{\"rules\":[],\"default_policy\":\"accept\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 66.108051ms
[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3043fe0c-6f4e-4951-99d8-51c65db1a1d9/acl-rules?is_ipv6=false
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"vpc\",\"resource_id\":\"3043fe0c-6f4e-4951-99d8-51c65db1a1d9\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 34.869279ms
