---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-acl-basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-07-15T15:03:26.059264Z","custom_routes_propagation_enabled":true,"id":"7a920648-ec7d-45f4-b6df-b02bfd5ce20e","is_default":false,"name":"tf-vpc-acl-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-15T15:03:26.059264Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.084792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7a920648-ec7d-45f4-b6df-b02bfd5ce20e/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-07-15T15:03:26.059264Z","custom_routes_propagation_enabled":true,"id":"7a920648-ec7d-45f4-b6df-b02bfd5ce20e","is_default":false,"name":"tf-vpc-acl-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-15T15:03:26.059264Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.658125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7a920648-ec7d-45f4-b6df-b02bfd5ce20e
        method: GET
      response:
        body: '{"created_at":"2025-07-15T15:03:26.059264Z","custom_routes_propagation_enabled":true,"id":"7a920648-ec7d-45f4-b6df-b02bfd5ce20e","is_default":false,"name":"tf-vpc-acl-basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-07-15T15:03:26.059264Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.167667ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"rules":null,"is_ipv6":false,"default_policy":"accept"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7a920648-ec7d-45f4-b6df-b02bfd5ce20e/acl-rules
        method: PUT
      response:
        body: '{"default_policy":"accept","rules":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.570417ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7a920648-ec7d-45f4-b6df-b02bfd5ce20e/acl-rules?is_ipv6=false
        method: GET
      response:
        body: '{"default_policy":"accept","rules":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.907291ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7a920648-ec7d-45f4-b6df-b02bfd5ce20e/acl-rules?is_ipv6=false
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"7a920648-ec7d-45f4-b6df-b02bfd5ce20e","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.0325ms
