---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-acl-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-24T14:13:56.156541Z","custom_routes_propagation_enabled":true,"id":"142f36db-2889-4629-a8a5-7c6a29d71b40","is_default":false,"name":"tf-vpc-acl-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:13:56.156541Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.805521ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.499322ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/142f36db-2889-4629-a8a5-7c6a29d71b40
        method: GET
      response:
        body: '{"created_at":"2026-08-24T14:13:56.156541Z","custom_routes_propagation_enabled":true,"id":"142f36db-2889-4629-a8a5-7c6a29d71b40","is_default":false,"name":"tf-vpc-acl-basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"s3_integration_enabled":false,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-24T14:13:56.156541Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.420045ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"rules":null,"is_ipv6":false,"default_policy":"accept"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/142f36db-2889-4629-a8a5-7c6a29d71b40/acl-rules
        method: PUT
      response:
        body: '{"default_policy":"accept","rules":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.107146ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/142f36db-2889-4629-a8a5-7c6a29d71b40/acl-rules?is_ipv6=false
        method: GET
      response:
        body: '{"default_policy":"accept","rules":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.313993ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/142f36db-2889-4629-a8a5-7c6a29d71b40/acl-rules?is_ipv6=false
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"142f36db-2889-4629-a8a5-7c6a29d71b40","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.909661ms
