---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsfilt-source","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:45:36.366546Z","custom_routes_propagation_enabled":true,"id":"babc01b2-386a-4d8a-adb9-9fc3d59961b4","is_default":false,"name":"tf-dsfilt-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:45:36.366546Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.314166ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/babc01b2-386a-4d8a-adb9-9fc3d59961b4
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:45:36.366546Z","custom_routes_propagation_enabled":true,"id":"babc01b2-386a-4d8a-adb9-9fc3d59961b4","is_default":false,"name":"tf-dsfilt-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:45:36.366546Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.300959ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsfilt-conn","tags":[],"vpc_id":"babc01b2-386a-4d8a-adb9-9fc3d59961b4","target_vpc_id":"ac101665-cef0-482b-8dab-18a131e9ac44"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:45:36.553875Z","id":"0f8e3c94-333f-4682-8d97-577f3c6d7aaa","name":"tf-dsfilt-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"ac101665-cef0-482b-8dab-18a131e9ac44","updated_at":"2026-03-24T09:45:36.553875Z","vpc_id":"babc01b2-386a-4d8a-adb9-9fc3d59961b4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.387416ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/0f8e3c94-333f-4682-8d97-577f3c6d7aaa
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:45:36.553875Z","id":"0f8e3c94-333f-4682-8d97-577f3c6d7aaa","name":"tf-dsfilt-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"ac101665-cef0-482b-8dab-18a131e9ac44","updated_at":"2026-03-24T09:45:36.553875Z","vpc_id":"babc01b2-386a-4d8a-adb9-9fc3d59961b4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.856208ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-dsfilt-conn&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-03-24T09:45:36.553875Z","id":"0f8e3c94-333f-4682-8d97-577f3c6d7aaa","name":"tf-dsfilt-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"ac101665-cef0-482b-8dab-18a131e9ac44","updated_at":"2026-03-24T09:45:36.553875Z","vpc_id":"babc01b2-386a-4d8a-adb9-9fc3d59961b4"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.017875ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/0f8e3c94-333f-4682-8d97-577f3c6d7aaa
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"0f8e3c94-333f-4682-8d97-577f3c6d7aaa","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.429375ms
[...]
