---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"DataSourceVPC_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.162413Z","custom_routes_propagation_enabled":false,"id":"db82024a-823d-4a48-b9eb-4797c74f7b8b","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:21:48.162413Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.580334ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/db82024a-823d-4a48-b9eb-4797c74f7b8b/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.162413Z","custom_routes_propagation_enabled":true,"id":"db82024a-823d-4a48-b9eb-4797c74f7b8b","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:21:48.204031Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.327041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/db82024a-823d-4a48-b9eb-4797c74f7b8b
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:21:48.162413Z","custom_routes_propagation_enabled":true,"id":"db82024a-823d-4a48-b9eb-4797c74f7b8b","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:21:48.204031Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.695292ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=DataSourceVPC_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2025-06-30T15:21:48.162413Z","custom_routes_propagation_enabled":true,"id":"db82024a-823d-4a48-b9eb-4797c74f7b8b","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:21:48.204031Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.239709ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/db82024a-823d-4a48-b9eb-4797c74f7b8b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"db82024a-823d-4a48-b9eb-4797c74f7b8b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.388792ms
[...]
