---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPC_Basic01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:32.825326Z","custom_routes_propagation_enabled":true,"id":"2ebeaeb5-af79-4541-ac09-3c4ad5e74e8a","is_default":false,"name":"TestAccScalewayResourceVPC_Basic01","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T13:02:32.825326Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.910036ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.684522ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2ebeaeb5-af79-4541-ac09-3c4ad5e74e8a
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:32.825326Z","custom_routes_propagation_enabled":true,"id":"2ebeaeb5-af79-4541-ac09-3c4ad5e74e8a","is_default":false,"name":"TestAccScalewayResourceVPC_Basic01","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T13:02:32.825326Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.523259ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"2ebeaeb5-af79-4541-ac09-3c4ad5e74e8a","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:33.026501Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"079cd717-04eb-4aa6-b8f0-541eb5122e21","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T13:02:33.026501Z","id":"69cdb016-c5d9-444c-947b-3ce3da7f726a","private_network_id":"079cd717-04eb-4aa6-b8f0-541eb5122e21","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.140.0/22","updated_at":"2026-08-26T13:02:33.026501Z","vpc_id":"2ebeaeb5-af79-4541-ac09-3c4ad5e74e8a"},{"created_at":"2026-08-26T13:02:33.026501Z","id":"9e66c73c-0540-4721-bf7e-65f3a248341f","private_network_id":"079cd717-04eb-4aa6-b8f0-541eb5122e21","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:9a5e::/64","updated_at":"2026-08-26T13:02:33.026501Z","vpc_id":"2ebeaeb5-af79-4541-ac09-3c4ad5e74e8a"}],"tags":[],"updated_at":"2026-08-26T13:02:33.026501Z","vpc_id":"2ebeaeb5-af79-4541-ac09-3c4ad5e74e8a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.146186245s
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/079cd717-04eb-4aa6-b8f0-541eb5122e21
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:33.026501Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"079cd717-04eb-4aa6-b8f0-541eb5122e21","name":"TestAccScalewayResourceVPC[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=ec708b13-daf9-4f02-81a5-5d94d0e1230c
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-08-26T13:02:33.250161Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"31e62e65-f927-47e4-95a0-19024581c603","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T13:02:33.250161Z","id":"45f36af0-b23b-447d-add6-2f108bff6726","private_network_id":"31e62e65-f927-47e4-95a0-19024581c603","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.0.0.0/22","updated_at":"2026-08-26T13:02:33.250161Z","vpc_id":"ec708b13-daf9-4f02-81a5-5d94d0e1230c"},{"created_at":"2026-08-26T13:02:33.250161Z","id":"be928c04-f724-4224-90cc-39a9dc4856fc","private_network_id":"31e62e65-f927-47e4-95a0-19024581c603","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:4f08::/64","updated_at":"2026-08-26T13:02:33.250161Z","vpc_id":"ec708b13-daf9-4f02-81a5-5d94d0e1230c"}],"tags":[],"updated_at":"2026-08-26T13:02:33.250161Z","vpc_id":"ec708b13-daf9-4f02-81a5-5d94d0e1230c"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.596539ms
[...]
    - id: 39
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/31e62e65-f927-47e4-95a0-19024581c603
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"31e62e65-f927-47e4-95a0-19024581c603","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.630545ms
[...]
