---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-datasource0","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["terraform-test","data_scaleway_vpcs","basic"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.152682Z","custom_routes_propagation_enabled":false,"id":"80b6aca9-372c-499f-9899-33c6cfc9afe7","is_default":false,"name":"tf-vpc-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-06-30T15:21:48.152682Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.620416ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/80b6aca9-372c-499f-9899-33c6cfc9afe7/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.152682Z","custom_routes_propagation_enabled":true,"id":"80b6aca9-372c-499f-9899-33c6cfc9afe7","is_default":false,"name":"tf-vpc-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-06-30T15:21:48.190694Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.260292ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/80b6aca9-372c-499f-9899-33c6cfc9afe7
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:21:48.152682Z","custom_routes_propagation_enabled":true,"id":"80b6aca9-372c-499f-9899-33c6cfc9afe7","is_default":false,"name":"tf-vpc-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-06-30T15:21:48.190694Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.112208ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&tags=data_scaleway_vpcs&tags=terraform-test
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2025-06-30T15:21:48.152682Z","custom_routes_propagation_enabled":true,"id":"80b6aca9-372c-499f-9899-33c6cfc9afe7","is_default":false,"name":"tf-vpc-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-06-30T15:21:48.190694Z"},{"created_at":"2025-06-30T15:21:48.869973Z","custom_routes_propagation_enabled":true,"id":"9d2cb809-805b-430e-bf8b-ae39c7a13282","is_default":false,"name":"tf-vpc-datasource1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-06-30T15:21:48.926632Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.758209ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2025-06-30T15:21:48.152682Z","custom_routes_propagation_enabled":true,"id":"80b6aca9-372c-499f-9899-33c6cfc9afe7","is_default":false,"name":"tf-vpc-datasource0","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-06-30T15:21:48.190694Z"},{"created_at":"2025-06-30T15:21:48.869973Z","custom_routes_propagation_enabled":true,"id":"9d2cb809-805b-430e-bf8b-ae39c7a13282","is_default":false,"name":"tf-vpc-datasource1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-06-30T15:21:48.926632Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.086375ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.424958ms
[...]
