---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-datasource0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["terraform-test","data_scaleway_vpcs","basic"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:15.965501Z","id":"0512ae1f-963c-4650-8ad3-8f64d775e10e","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-28T10:05:15.965501Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.652208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/0512ae1f-963c-4650-8ad3-8f64d775e10e
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:15.965501Z","id":"0512ae1f-963c-4650-8ad3-8f64d775e10e","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-28T10:05:15.965501Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.642375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2025-01-28T10:05:15.965501Z","id":"0512ae1f-963c-4650-8ad3-8f64d775e10e","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-28T10:05:15.965501Z"},{"created_at":"2025-01-28T10:05:19.597631Z","id":"6ef9ad20-3cb4-4083-82a6-471fc548f0d3","is_default":false,"name":"tf-vpc-datasource1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-28T10:05:19.597631Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.595042ms
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&tags=data_scaleway_vpcs&tags=terraform-test
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2025-01-28T10:05:15.965501Z","id":"0512ae1f-963c-4650-8ad3-8f64d775e10e","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-28T10:05:15.965501Z"},{"created_at":"2025-01-28T10:05:19.597631Z","id":"6ef9ad20-3cb4-4083-82a6-471fc548f0d3","is_default":false,"name":"tf-vpc-datasource1","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-28T10:05:19.597631Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.670584ms
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.135541ms
[...]
