---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-datasource0\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[\"terraform-test\",\"data_scaleway_vpcs\",\"basic\"],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"68ee882a-3f1c-42bf-84f7-c0c677688c36\",\"name\":\"tf-vpc-datasource0\",\"tags\":[\"terraform-test\",\"data_scaleway_vpcs\",\"basic\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.228155Z\",\"updated_at\":\"2025-08-26T16:32:38.228155Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 117.813802ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/68ee882a-3f1c-42bf-84f7-c0c677688c36
    method: GET
  response:
    body: "{\"id\":\"68ee882a-3f1c-42bf-84f7-c0c677688c36\",\"name\":\"tf-vpc-datasource0\",\"tags\":[\"terraform-test\",\"data_scaleway_vpcs\",\"basic\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.228155Z\",\"updated_at\":\"2025-08-26T16:32:38.228155Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 44.207682ms
[...]
- id: 10
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-vpc-datasource
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
    method: GET
  response:
    body: "{\"vpcs\":[{\"id\":\"68ee882a-3f1c-42bf-84f7-c0c677688c36\",\"name\":\"tf-vpc-datasource0\",\"tags\":[\"terraform-test\",\"data_scaleway_vpcs\",\"basic\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.228155Z\",\"updated_at\":\"2025-08-26T16:32:38.228155Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"},{\"id\":\"6924fcc7-bcf3-4bc4-bfb0-b1ec9ab3f611\",\"name\":\"tf-vpc-datasource1\",\"tags\":[\"terraform-test\",\"data_scaleway_vpcs\",\"basic\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:50.632770Z\",\"updated_at\":\"2025-08-26T16:32:50.632770Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.101576ms
- id: 11
  request:
    host: api.scaleway.com
    form:
      name:
      - tf-vpc-datasource
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
    method: GET
  response:
    body: "{\"vpcs\":[],\"total_count\":0}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 108.973113ms
- id: 12
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_asc
      tags:
      - data_scaleway_vpcs
      - terraform-test
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&tags=data_scaleway_vpcs&tags=terraform-test
    method: GET
  response:
    body: "{\"vpcs\":[{\"id\":\"68ee882a-3f1c-42bf-84f7-c0c677688c36\",\"name\":\"tf-vpc-datasource0\",\"tags\":[\"terraform-test\",\"data_scaleway_vpcs\",\"basic\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.228155Z\",\"updated_at\":\"2025-08-26T16:32:38.228155Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"},{\"id\":\"6924fcc7-bcf3-4bc4-bfb0-b1ec9ab3f611\",\"name\":\"tf-vpc-datasource1\",\"tags\":[\"terraform-test\",\"data_scaleway_vpcs\",\"basic\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:50.632770Z\",\"updated_at\":\"2025-08-26T16:32:50.632770Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 136.286355ms
[...]
