---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsid-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:02.656384Z","custom_routes_propagation_enabled":true,"id":"e3597a09-7139-4680-9638-6e6bc87baa3c","is_default":false,"name":"tf-ingress-dsid-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T13:02:02.656384Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.486833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.884517ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e3597a09-7139-4680-9638-6e6bc87baa3c
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:02.656384Z","custom_routes_propagation_enabled":true,"id":"e3597a09-7139-4680-9638-6e6bc87baa3c","is_default":false,"name":"tf-ingress-dsid-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T13:02:02.656384Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.122469ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsid-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"e3597a09-7139-4680-9638-6e6bc87baa3c","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:03.293042Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"39cfbcc8-9418-4512-b049-d61e2863c4ff","name":"tf-ingress-dsid-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T13:02:03.293042Z","id":"ddf04cb6-0330-4117-bfdf-bd9e165d2585","private_network_id":"39cfbcc8-9418-4512-b049-d61e2863c4ff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.180.0/22","updated_at":"2026-08-26T13:02:03.293042Z","vpc_id":"e3597a09-7139-4680-9638-6e6bc87baa3c"},{"created_at":"2026-08-26T13:02:03.293042Z","id":"9a8f8442-5891-471b-88bd-38287fec64a5","private_network_id":"39cfbcc8-9418-4512-b049-d61e2863c4ff","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:8630::/64","updated_at":"2026-08-26T13:02:03.293042Z","vpc_id":"e3597a09-7139-4680-9638-6e6bc87baa3c"}],"tags":[],"updated_at":"2026-08-26T13:02:03.293042Z","vpc_id":"e3597a09-7139-4680-9638-6e6bc87baa3c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.362520999s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/39cfbcc8-9418-4512-b049-d61e2863c4ff
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:03.293042Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"39cfbcc8-9418-4512-b049-d61e2863c4ff","name":"tf-ingress-dsid-pn","organ[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"39cfbcc8-9418-4512-b049-d61e2863c4ff"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"10.4.180.2/22","created_at":"2026-08-26T13:02:04.574072Z","id":"fc3de6fe-6824-4a98-92f2-a0acce822928","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ddf04cb6-0330-4117-bfdf-bd9e165d2585"},"tags":[],"updated_at":"2026-08-26T13:02:04.574072Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.576284ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/fc3de6fe-6824-4a98-92f2-a0acce822928
        method: GET
      response:
        body: '{"address":"10.4.180.2/22","created_at":"2026-08-26T13:02:04.574072Z","id":"fc3de6fe-6824-4a98-92f2-a0acce822928","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"ddf04cb6-0330-4117-bfdf-bd9e165d2585"},"tags":[],"updated_at":"2026-08-26T13:02:04.574072Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.307861ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"e3597a09-7139-4680-9638-6e6bc87baa3c","source":"10.1.0.0/24","nexthop_resource_ip":"10.4.180.2","nexthop_private_network_id":"39cfbcc8-9418-4512-b049-d61e2863c4ff","description":"ingress rule data source by id","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:04.943723Z","description":"ingress rule data source by id","id":"c553d62a-7ebc-4af8-a44f-ad7ede445966","is_ipv6":false,"nexthop_private_network_id":"39cfbcc8-9418-4512-b049-d61e2863c4ff","nexthop_resource_ip":"10.4.180.2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","source":"10.1.0.0/24","tags":[],"updated_at":"2026-08-26T13:02:04.943723Z","vpc_id":"e3597a09-7139-4680-9638-6e6bc87baa3c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.353466ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/c553d62a-7ebc-4af8-a44f-ad7ede445966
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:04.943723Z","description":"ingress rule data source by id","id":"c553d62a-7ebc-4af8-a44f-ad7ede445966","is_ipv6":false,"nexthop_private_network_id":"39cfbcc8-9418-4512-b049-d61e2863c4ff","nexthop_resource_ip":"10.4.180.2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","source":"10.1.0.0/24","tags":[],"updated_at":"2026-08-26T13:02:04.943723Z","vpc_id":"e3597a09-7139-4680-9638-6e6bc87baa3c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.742797ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/c553d62a-7ebc-4af8-a44f-ad7ede445966
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.642035ms
[...]
