---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-06-20T14:06:18.898149Z","id":"52479654-9613-4873-a69a-9d07e3307c44","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-06-20T14:06:18.898149Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.589827ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/52479654-9613-4873-a69a-9d07e3307c44
        method: GET
      response:
        body: '{"created_at":"2024-06-20T14:06:18.898149Z","id":"52479654-9613-4873-a69a-9d07e3307c44","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-06-20T14:06:18.898149Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.041737ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route_2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-06-20T14:06:19.155222Z","dhcp_enabled":true,"id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","name":"tf-pn_route_2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-06-20T14:06:19.155222Z","id":"5bc86bee-a9b4-4d18-b3a7-68c381c729d6","private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.16.0/22","updated_at":"2024-06-20T14:06:19.155222Z","vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"},{"created_at":"2024-06-20T14:06:19.155222Z","id":"d93d74d4-3eb6-49cb-af51-e4c2607dbcaf","private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:29bd::/64","updated_at":"2024-06-20T14:06:19.155222Z","vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}],"tags":[],"updated_at":"2024-06-20T14:06:19.155222Z","vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 525.354327ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9353d389-cc14-4acb-8bd2-83dd0cb0f826
        method: GET
      response:
        body: '{"created_at":"2024-06-20T14:06:19.155222Z","dhcp_enabled":true,"id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","name":"tf-pn_route_2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-06-20T14:06:19.155222Z","id":"5bc86bee-a9b4-4d18-b3a7-68c381c729d6","private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.16.0/22","updated_at":"2024-06-20T14:06:19.155222Z","vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"},{"created_at":"2024-06-20T14:06:19.155222Z","id":"d93d74d4-3eb6-49cb-af51-e4c2607dbcaf","private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:29bd::/64","updated_at":"2024-06-20T14:06:19.155222Z","vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}],"tags":[],"updated_at":"2024-06-20T14:06:19.155222Z","vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.166647ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-06-20T14:06:22.180731Z","gateway_networks":[],"id":"67220bb9-2c64-400e-a084-f07a6e12c34e","ip":{"address":"51.158.127.15","created_at":"2024-06-20T14:06:22.160166Z","gateway_id":"67220bb9-2c64-400e-a084-f07a6e12c34e","id":"7017e0f2-9d79-4819-b388-57536f1a0ade","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"15-127-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-06-20T14:06:22.160166Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-06-20T14:06:22.180731Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 829.922677ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/67220bb9-2c64-400e-a084-f07a6e12c34e
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-06-20T14:06:22.180731Z","gateway_networks":[],"id":"67220bb9-2c64-400e-a084-f07a6e12c34e","ip":{"address":"51.158.127.15","created_at":"2024-06-20T14:06:22.160166Z","gateway_id":"67220bb9-2c64-400e-a084-f07a6e12c34e","id":"7017e0f2-9d79-4819-b388-57536f1a0ade","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"15-127-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-06-20T14:06:22.160166Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-06-20T14:06:22.223157Z","upstream_dns_servers":[],"version":"0.6.6","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.282236ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"67220bb9-2c64-400e-a084-f07a6e12c34e","private_network_id":"0b67424e-b2f9-4d43-857f-c4eb386503e0","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"67220bb9-2c64-400e-a084-f07a6e12c34e","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 575.156391ms
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"67220bb9-2c64-400e-a084-f07a6e12c34e","private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.16.2/22","created_at":"2024-06-20T14:06:42.871322Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"67220bb9-2c64-400e-a084-f07a6e12c34e","id":"11d58959-aa41-44f5-b498-712dcb35313a","ipam_config":{"ipam_ip_id":"6dc39027-f331-4013-9cac-b2bb677fccda","push_default_route":true},"mac_address":null,"private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","status":"created","updated_at":"2024-06-20T14:06:42.871322Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 575.086126ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/11d58959-aa41-44f5-b498-712dcb35313a
        method: GET
      response:
        body: '{"address":"172.16.16.2/22","created_at":"2024-06-20T14:06:42.871322Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"67220bb9-2c64-400e-a084-f07a6e12c34e","id":"11d58959-aa41-44f5-b498-712dcb35313a","ipam_config":{"ipam_ip_id":"6dc39027-f331-4013-9cac-b2bb677fccda","push_default_route":true},"mac_address":"02:00:00:1C:C2:1F","private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","status":"ready","updated_at":"2024-06-20T14:06:52.846458Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.182382ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=52479654-9613-4873-a69a-9d07e3307c44
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-06-20T14:06:18.898149Z","description":"","destination":"172.16.16.0/22","id":"","nexthop_private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","nexthop_resource_id":null,"region":"fr-par","tags":[],"vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-06-20T14:06:18.898149Z","description":"","destination":"172.16.40.0/22","id":"","nexthop_private_network_id":"0b67424e-b2f9-4d43-857f-c4eb386503e0","nexthop_resource_id":null,"region":"fr-par","tags":[],"vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_t[...]
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=52479654-9613-4873-a69a-9d07e3307c44
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-06-20T14:06:18.898149Z","description":"","destination":"fd46:78ab:30b8:29bd::/64","id":"","nexthop_private_network_id":"9353d389-cc14-4acb-8bd2-83dd0cb0f826","nexthop_resource_id":null,"region":"fr-par","tags":[],"vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-06-20T14:06:18.898149Z","description":"","destination":"fd46:78ab:30b8:5a72::/64","id":"","nexthop_private_network_id":"0b67424e-b2f9-4d43-857f-c4eb386503e0","nexthop_resource_id":null,"region":"fr-par","tags":[],"vpc_id":"52479654-9613-4873-a69a-9d07e3307c44"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.143941ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=0b67424e-b2f9-4d43-857f-c4eb386503e0&nexthop_resource_type=vpc_gateway_network&order_by=created_at_asc&vpc_id=52479654-9613-4873-a69a-9d07e3307c44
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_ty[...]
[...]
    - id: 89
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/11d58959-aa41-44f5-b498-712dcb35313a?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 59.340774ms
[...]
    - id: 98
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/67220bb9-2c64-400e-a084-f07a6e12c34e?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 75.758177ms
[...]
