---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-datasource0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":["terraform-test","data_scaleway_vpcs","basic"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:22.179Z","id":"40f26e71-2e5d-4014-9a48-4344cf8ef396","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-24T14:47:22.179Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.632625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/40f26e71-2e5d-4014-9a48-4344cf8ef396
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:22.179Z","id":"40f26e71-2e5d-4014-9a48-4344cf8ef396","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-24T14:47:22.179Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.770375ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":4,"vpcs":[{"created_at":"2025-01-24T14:47:16.170504Z","id":"6fbdef96-c005-4882-bd0b-29a4d7cda319","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["terraform-test","data_scaleway_vpcs","basic"],"updated_at":"2025-01-24T14:47:16.170504Z"},{"created_at":"2025-01-24T14:47:22.179Z","id":"40f26e71-2e5d-4014-9a48-4344cf8ef396","is_[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&tags=data_scaleway_vpcs&tags=terraform-test
        method: GET
      response:
        body: '{"total_count":4,"vpcs":[{"created_at":"2025-01-24T14:47:16.170504Z","id":"6fbdef96-c005-4882-bd0b-29a4d7cda319","is_default":false,"name":"tf-vpc-datasource0","organization_id":"105bdce1-64c0-48ab-899d-868[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=tf-vpc-datasource&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.101167ms
[...]
