---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:22.290711Z","id":"037ec5ec-37fd-4926-a639-8867bcb2d958","is_default":false,"name":"tf-vpc-route-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:22.290711Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.171708ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/037ec5ec-37fd-4926-a639-8867bcb2d958
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:22.290711Z","id":"037ec5ec-37fd-4926-a639-8867bcb2d958","is_default":false,"name":"tf-vpc-route-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:22.290711Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.054625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route_2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:22.552194Z","dhcp_enabled":true,"id":"88a94eff-4a70-423f-aee7-8bc4296fec68","name":"tf-pn_route_2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:22.552194Z","id":"6374afdc-8d1c-4595-abae-da6fdabc81c9","private_network_id":"88a94eff-4a70-423f-aee7-8bc4296fec68","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.76.0/22","updated_at":"2025-01-24T14:47:22.552194Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"},{"created_at":"2025-01-24T14:47:22.552194Z","id":"caafc48e-0d75-4751-ac97-57e2849a3064","private_network_id":"88a94eff-4a70-423f-aee7-8bc4296fec68","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:33d1::/64","updated_at":"2025-01-24T14:47:22.552194Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}],"tags":[],"updated_at":"2025-01-24T14:47:22.552194Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 923.093583ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/88a94eff-4a70-423f-aee7-8bc4296fec68
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:22.552194Z","dhcp_enabled":true,"id":"88a94eff-4a70-423f-aee7-8bc4296fec68","name":"tf-pn_route_2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:22.552194Z","id":"6374afdc-8d1c-4595-abae-da6fdabc81c9","private_network_id":"88a94eff-4a70-423f-aee7-8bc4296fec68","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.76.0/22","updated_at":"2025-01-24T14:47:22.552194Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"},{"created_at":"2025-01-24T14:47:22.552194Z","id":"caafc48e-0d75-4751-ac97-57e2849a3064","private_network_id":"88a94eff-4a70-423f-aee7-8bc4296fec68","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:33d1::/64","updated_at":"2025-01-24T14:47:22.552194Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}],"tags":[],"updated_at":"2025-01-24T14:47:22.552194Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.204417ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:47:31.965924Z","gateway_networks":[],"id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","ip":{"address":"51.15.255.93","created_at":"2025-01-24T14:47:31.944382Z","gateway_id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","id":"12761a8d-8fff-4fff-ba4e-4f7b86ff4197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"93-255-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:47:31.944382Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-gw-route","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:47:31.965924Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 939.992042ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/8e1a920f-c16d-47d9-bbe5-1b52b44f761c
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-24T14:47:31.965924Z","gateway_networks":[],"id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","ip":{"address":"51.15.255.93","created_at":"2025-01-24T14:47:31.944382Z","gateway_id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","id":"12761a8d-8fff-4fff-ba4e-4f7b86ff4197","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"93-255-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-01-24T14:47:31.944382Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-gw-route","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-24T14:47:32.007956Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.378542ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","private_network_id":"88a94eff-4a70-423f-aee7-8bc4296fec68","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 463.486958ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","private_network_id":"1bc5b920-6ff3-44ac-b37a-067eb3be7167","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.124.2/22","created_at":"2025-01-24T14:47:37.624843Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","id":"b079cd3b-25d8-40a4-8b37-7e5173b03251","ipam_config":{"ipam_ip_id":"bb563c7b-f4a4-4aa3-83fe-092f8c270c3a","push_default_route":true},"mac_address":null,"private_network_id":"1bc5b920-6ff3-44ac-b37a-067eb3be7167","status":"created","updated_at":"2025-01-24T14:47:37.624843Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.934875ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b079cd3b-25d8-40a4-8b37-7e5173b03251
        method: GET
      response:
        body: '{"address":"172.16.124.2/22","created_at":"2025-01-24T14:47:37.624843Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"8e1a920f-c16d-47d9-bbe5-1b52b44f761c","id":"b079cd3b-25d8-40a4-8b37-7e5173b03251","ipam_config":{"ipam_ip_id":"bb563c7b-f4a4-4aa3-83fe-092f8c270c3a","push_default_route":true},"mac_address":"02:00:00:13:EE:B9","private_network_id":"1bc5b920-6ff3-44ac-b37a-067eb3be7167","status":"ready","updated_at":"2025-01-24T14:47:48.888970Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.084459ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=037ec5ec-37fd-4926-a639-8867bcb2d958
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-01-24T14:47:22.290711Z","description":"Generated route for subnet 6374afdc-8d1c-4595-abae-da6fdabc81c9","destination":"172.16.76.0/22","id":"","is_read_only":true,"nexthop_private_network_id":"88a94eff-4a70-423f-aee7-8bc4296fec68","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-01-24T14:47:22.290711Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-01-24T14:47:22.290711Z","description":"Generated route for subnet 6aec793c-1512-4cfd-bded-a02c7ba4d671","destination":"172.16.124.0/22","id":"","is_read_only":true,"nexthop_private_network_id":"1bc5b920-6ff3-44ac-b37a-067eb3be7167","nexthop_resource_id":nul[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=037ec5ec-37fd-4926-a639-8867bcb2d958
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-01-24T14:47:22.290711Z","description":"Generated route for subnet caafc48e-0d75-4751-ac97-57e2849a3064","destination":"fd5f:519c:6d46:33d1::/64","id":"","is_read_only":true,"nexthop_private_network_id":"88a94eff-4a70-423f-aee7-8bc4296fec68","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-01-24T14:47:22.290711Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-01-24T14:47:22.290711Z","description":"Generated route for subnet 10cc82a2-2d91-44b6-b823-f9aa9e348fc5","destination":"fd5f:519c:6d46:9ea6::/64","id":"","is_read_only":true,"nexthop_private_network_id":"1bc5b920-6ff3-44ac-b37a-067eb3be7167","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-01-24T14:47:22.290711Z","vpc_id":"037ec5ec-37fd-4926-a639-8867bcb2d958"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.196958ms
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=1bc5b920-6ff3-44ac-b37a-067eb3be7167&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=037ec5ec-37fd-4926-a639-8867bcb2d958
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/b079cd3b-25d8-40a4-8b37-7e5173b03251?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.741375ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/8e1a920f-c16d-47d9-bbe5-1b52b44f761c?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 53.323166ms
[...]
