---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsid-source","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:47:03.291426Z","custom_routes_propagation_enabled":true,"id":"475b3f09-35f7-4e35-a55a-205a15d16d2d","is_default":false,"name":"tf-dsid-source","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T12:47:03.291426Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.735382ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.082429ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f8c69985-b025-427d-9e78-774319604d49
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:47:03.342024Z","custom_routes_propagation_enabled":true,"id":"f8c69985-b025-427d-9e78-774319604d49","is_default":false,"name":"tf-dsid-target","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T12:47:03.342024Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.746503ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsid-conn","tags":[],"vpc_id":"475b3f09-35f7-4e35-a55a-205a15d16d2d","target_vpc_id":"f8c69985-b025-427d-9e78-774319604d49"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:47:03.661094Z","id":"974630ae-4ef8-4fb2-81f7-326204852882","name":"tf-dsid-conn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"f8c69985-b025-427d-9e78-774319604d49","updated_at":"2026-08-26T12:47:03.661094Z","vpc_id":"475b3f09-35f7-4e35-a55a-205a15d16d2d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.129482ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/974630ae-4ef8-4fb2-81f7-326204852882
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:47:03.661094Z","id":"974630ae-4ef8-4fb2-81f7-326204852882","name":"tf-dsid-conn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"f8c69985-b025-427d-9e78-774319604d49","updated_at":"2026-08-26T12:47:03.661094Z","vpc_id":"475b3f09-35f7-4e35-a55a-205a15d16d2d"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.89425ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/974630ae-4ef8-4fb2-81f7-326204852882
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"974630ae-4ef8-4fb2-81f7-326204852882","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.659313ms
[...]
