---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"DataSourceVPC_Basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"402a0fd0-a73d-4e58-b60d-9faa35caf27e\",\"name\":\"DataSourceVPC_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:53.617818Z\",\"updated_at\":\"2025-08-26T16:32:53.617818Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 200.792951ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/402a0fd0-a73d-4e58-b60d-9faa35caf27e
    method: GET
  response:
    body: "{\"id\":\"402a0fd0-a73d-4e58-b60d-9faa35caf27e\",\"name\":\"DataSourceVPC_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:53.617818Z\",\"updated_at\":\"2025-08-26T16:32:53.617818Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 46.920835ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - DataSourceVPC_Basic
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=DataSourceVPC_Basic&order_by=created_at_asc
    method: GET
  response:
    body: "{\"vpcs\":[{\"id\":\"402a0fd0-a73d-4e58-b60d-9faa35caf27e\",\"name\":\"DataSourceVPC_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:53.617818Z\",\"updated_at\":\"2025-08-26T16:32:53.617818Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 202.46805ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/402a0fd0-a73d-4e58-b60d-9faa35caf27e
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"vpc\",\"resource_id\":\"402a0fd0-a73d-4e58-b60d-9faa35caf27e\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 33.982801ms
[...]
