---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-06-20T14:50:51.615422Z","id":"b9136ef9-271f-4a48-ba59-2b104726f08b","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-06-20T14:50:51.615422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.648341ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/b9136ef9-271f-4a48-ba59-2b104726f08b
        method: GET
      response:
        body: '{"created_at":"2024-06-20T14:50:51.615422Z","id":"b9136ef9-271f-4a48-ba59-2b104726f08b","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-06-20T14:50:51.615422Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.18428ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-06-20T14:50:51.882398Z","dhcp_enabled":true,"id":"456b4422-8a05-414d-b746-2c57e0c1448b","name":"tf-pn_route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-06-20T14:50:51.882398Z","id":"2cfbd328-ff70-4fd9-ab5c-bc2bc21fa5e7","private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.28.0/22","updated_at":"2024-06-20T14:50:51.882398Z","vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"},{"created_at":"2024-06-20T14:50:51.882398Z","id":"8de98146-2a4c-4c7d-92e7-5bd2c0de27c2","private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:d13::/64","updated_at":"2024-06-20T14:50:51.882398Z","vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"}],"tags":[],"updated_at":"2024-06-20T14:50:51.882398Z","vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.143955ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/456b4422-8a05-414d-b746-2c57e0c1448b
        method: GET
      response:
        body: '{"created_at":"2024-06-20T14:50:51.882398Z","dhcp_enabled":true,"id":"456b4422-8a05-414d-b746-2c57e0c1448b","name":"tf-pn_route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-06-20T14:50:51.882398Z","id":"2cfbd328-ff70-4fd9-ab5c-bc2bc21fa5e7","private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.28.0/22","updated_at":"2024-06-20T14:50:51.882398Z","vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"},{"created_at":"2024-06-20T14:50:51.882398Z","id":"8de98146-2a4c-4c7d-92e7-5bd2c0de27c2","private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:d13::/64","updated_at":"2024-06-20T14:50:51.882398Z","vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"}],"tags":[],"updated_at":"2024-06-20T14:50:51.882398Z","vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.50397ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-06-20T14:50:55.164305Z","gateway_networks":[],"id":"786de3ef-b86e-4c85-a382-6e1819f94347","ip":{"address":"51.158.107.147","created_at":"2024-06-20T14:50:55.137261Z","gateway_id":"786de3ef-b86e-4c85-a382-6e1819f94347","id":"0a154912-11a9-417e-bc82-a7b0ad9b975b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"147-107-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-06-20T14:50:55.137261Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-06-20T14:50:55.164305Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 949.063172ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/786de3ef-b86e-4c85-a382-6e1819f94347
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-06-20T14:50:55.164305Z","gateway_networks":[],"id":"786de3ef-b86e-4c85-a382-6e1819f94347","ip":{"address":"51.158.107.147","created_at":"2024-06-20T14:50:55.137261Z","gateway_id":"786de3ef-b86e-4c85-a382-6e1819f94347","id":"0a154912-11a9-417e-bc82-a7b0ad9b975b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"147-107-158-51.instances.scw.cloud","tags":[],"updated_at":"2024-06-20T14:50:55.137261Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-06-20T14:50:55.164305Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.328852ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"786de3ef-b86e-4c85-a382-6e1819f94347","private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.28.2/22","created_at":"2024-06-20T14:51:10.912316Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"786de3ef-b86e-4c85-a382-6e1819f94347","id":"7f52bef7-97f6-4df9-91b4-3275ddddcf20","ipam_config":{"ipam_ip_id":"428c8b33-4850-43fc-b2a3-a5b422c75141","push_default_route":true},"mac_address":null,"private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","status":"created","updated_at":"2024-06-20T14:51:10.912316Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 639.24154ms
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"786de3ef-b86e-4c85-a382-6e1819f94347","private_network_id":"7496f13a-10d0-41df-914f-50b629e8d07b","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"786de3ef-b86e-4c85-a382-6e1819f94347","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 637.799233ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/7f52bef7-97f6-4df9-91b4-3275ddddcf20
        method: GET
      response:
        body: '{"address":"172.16.28.2/22","created_at":"2024-06-20T14:51:10.912316Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"786de3ef-b86e-4c85-a382-6e1819f94347","id":"7f52bef7-97f6-4df9-91b4-3275ddddcf20","ipam_config":{"ipam_ip_id":"428c8b33-4850-43fc-b2a3-a5b422c75141","push_default_route":true},"mac_address":"02:00:00:1C:C2:6A","private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","status":"ready","updated_at":"2024-06-20T14:51:20.943255Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.433201ms
[...]
    - id: 54
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=b9136ef9-271f-4a48-ba59-2b104726f08b
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-06-20T14:50:51.615422Z","description":"","destination":"fd46:78ab:30b8:d13::/64","id":"","nexthop_private_network_id":"456b4422-8a05-414d-b746-2c57e0c1448b","nexthop_resource_id":null,"region":"fr-par","tags":[],"vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-06-20T14:50:51.615422Z","description":"","destination":"fd46:78ab:30b8:c9a4::/64","id":"","nexthop_private_network_id":"7496f13a-10d0-41df-914f-50b629e8d07b","nexthop_resource_id":null,"region":"fr-par","tags":[],"vpc_id":"b9136ef9-271f-4a48-ba59-2b104726f08b"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.87946ms
[...]
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=b9136ef9-271f-4a48-ba59-2b104726f08b
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-06-20T14:50:51.615422Z","description":"[...]
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=456b4422-8a05-414d-b746-2c57e0c1448b&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=b9136ef9-271f-4a48-ba59-2b104726f08b
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 87
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/d4c975d2-4541-4242-b617-5852cb9d918f?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 72.962011ms
[...]
    - id: 96
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/786de3ef-b86e-4c85-a382-6e1819f94347?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.800204ms
[...]
