---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsfilt-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:21:49.268691Z","custom_routes_propagation_enabled":true,"id":"adba773b-f668-41cc-a3af-3ebd11f21c40","is_default":false,"name":"tf-ingress-dsfilt-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-06-23T09:21:49.268691Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.764041ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/adba773b-f668-41cc-a3af-3ebd11f21c40
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:21:49.268691Z","custom_routes_propagation_enabled":true,"id":"adba773b-f668-41cc-a3af-3ebd11f21c40","is_default":false,"name":"tf-ingress-dsfilt-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-06-23T09:21:49.268691Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.541584ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsfilt-pn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:21:49.387255Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"336d271a-82a2-4b34-8532-753797d5707e","name":"tf-ingress-dsfilt-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-06-23T09:21:49.387255Z","id":"8e2c84be-421b-4908-87fd-dc4dc8ed1516","private_network_id":"336d271a-82a2-4b34-8532-753797d5707e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnet":"172.17.108.0/22","updated_at":"2026-06-23T09:21:49.387255Z","vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40"},{"created_at":"2026-06-23T09:21:49.387255Z","id":"e6829bd8-8dd0-4cc3-8bc8-5fb825fe5b03","private_network_id":"336d271a-82a2-4b34-8532-753797d5707e","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnet":"fd46:78ab:30b8:1cb3::/64","updated_at":"2026-06-23T09:21:49.387255Z","vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40"}],"tags":[],"updated_at":"2026-06-23T09:21:49.387255Z","vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 565.408083ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/336d271a-82a2-4b34-8532-753797d5707e
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:21:49.387255Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"336d271a-82a2-4b34-8532-753797d5707e","name":"tf-ingress-dsfilt-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"336d271a-82a2-4b34-8532-753797d5707e"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.17.108.2/22","created_at":"2026-06-23T09:21:50.171115Z","id":"bb78942c-f718-445e-bd79-773cefde16f6","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8e2c84be-421b-4908-87fd-dc4dc8ed1516"},"tags":[],"updated_at":"2026-06-23T09:21:50.171115Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.583042ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/bb78942c-f718-445e-bd79-773cefde16f6
        method: GET
      response:
        body: '{"address":"172.17.108.2/22","created_at":"2026-06-23T09:21:50.171115Z","id":"bb78942c-f718-445e-bd79-773cefde16f6","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"8e2c84be-421b-4908-87fd-dc4dc8ed1516"},"tags":[],"updated_at":"2026-06-23T09:21:50.171115Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.022083ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40","source":"10.2.0.0/24","nexthop_resource_ip":"172.17.108.2","nexthop_private_network_id":"336d271a-82a2-4b34-8532-753797d5707e","description":"ingress rule data source by filters","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:21:50.391162Z","description":"ingress rule data source by filters","id":"7a1f3b97-b585-4983-b06d-ba7980c73181","is_ipv6":false,"nexthop_private_network_id":"336d271a-82a2-4b34-8532-753797d5707e","nexthop_resource_ip":"172.17.108.2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","source":"10.2.0.0/24","tags":[],"updated_at":"2026-06-23T09:21:50.391162Z","vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 591.819ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/7a1f3b97-b585-4983-b06d-ba7980c73181
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:21:50.391162Z","description":"ingress rule data source by filters","id":"7a1f3b97-b585-4983-b06d-ba7980c73181","is_ipv6":false,"nexthop_private_network_id":"336d271a-82a2-4b34-8532-753797d5707e","nexthop_resource_ip":"172.17.108.2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","source":"10.2.0.0/24","tags":[],"updated_at":"2026-06-23T09:21:50.391162Z","vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.311542ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules?nexthop_private_network_id=336d271a-82a2-4b34-8532-753797d5707e&order_by=created_at_asc
        method: GET
      response:
        body: '{"rules":[{"created_at":"2026-06-23T09:21:50.391162Z","description":"ingress rule data source by filters","id":"7a1f3b97-b585-4983-b06d-ba7980c73181","is_ipv6":false,"nexthop_private_network_id":"336d271a-82a2-4b34-8532-753797d5707e","nexthop_resource_ip":"172.17.108.2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","source":"10.2.0.0/24","tags":[],"updated_at":"2026-06-23T09:21:50.391162Z","vpc_id":"adba773b-f668-41cc-a3af-3ebd11f21c40"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.314667ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/7a1f3b97-b585-4983-b06d-ba7980c73181
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.662792ms
[...]
