---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:20:19.324875Z","id":"3501b80f-6388-4496-8e72-1dbadb8ac546","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-03-24T08:20:19.324875Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 427.760157ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3501b80f-6388-4496-8e72-1dbadb8ac546
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:20:19.324875Z","id":"3501b80f-6388-4496-8e72-1dbadb8ac546","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-03-24T08:20:19.324875Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.117794ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route_2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:20:19.720438Z","dhcp_enabled":true,"id":"d44268b2-56ac-4d17-af16-5a782a7230da","name":"tf-pn_route_2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-24T08:20:19.720438Z","id":"8a9a380c-889b-4600-8226-04a031a0d551","private_network_id":"d44268b2-56ac-4d17-af16-5a782a7230da","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.124.0/22","updated_at":"2025-03-24T08:20:19.720438Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"},{"created_at":"2025-03-24T08:20:19.720438Z","id":"1295a2f9-5a7c-4b7d-a6b7-4ed58f90ee1c","private_network_id":"d44268b2-56ac-4d17-af16-5a782a7230da","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:4c57::/64","updated_at":"2025-03-24T08:20:19.720438Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"}],"tags":[],"updated_at":"2025-03-24T08:20:19.720438Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 873.712752ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/080dfb1a-37f5-4757-b98e-348b0b40ae43
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:20:19.650254Z","dhcp_enabled":true,"id":"080dfb1a-37f5-4757-b98e-348b0b40ae43","name":"tf-pn_route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-03-24T08:20:19.650254Z","id":"0214726b-3bc7-4624-8d87-ad7a458d08eb","private_network_id":"080dfb1a-37f5-4757-b98e-348b0b40ae43","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.128.0/22","updated_at":"2025-03-24T08:20:19.650254Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"},{"created_at":"2025-03-24T08:20:19.650254Z","id":"20dcf9b9-028c-4917-97ce-bc4e282da973","private_network_id":"080dfb1a-37f5-4757-b98e-348b0b40ae43","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:fd11::/64","updated_at":"2025-03-24T08:20:19.650254Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"}],"tags":[],"updated_at":"2025-03-24T08:20:19.650254Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.8379ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:20:24.144155Z","gateway_networks":[],"id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","ipv4":{"address":"212.47.234.64","created_at":"2025-03-24T08:20:24.092798Z","gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","id":"b1f7a0e9-81fc-4dfb-badc-13a65562fb71","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"64-234-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:20:24.092798Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:20:24.144155Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.310945416s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/c44b6bb5-dc33-4e76-8f88-7df018c50db0
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:20:24.144155Z","gateway_networks":[],"id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","ipv4":{"address":"212.47.234.64","created_at":"2025-03-24T08:20:24.092798Z","gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","id":"b1f7a0e9-81fc-4dfb-badc-13a65562fb71","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"64-234-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:20:24.092798Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:20:24.217907Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.718145ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","private_network_id":"d44268b2-56ac-4d17-af16-5a782a7230da","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-03-24T08:20:30.432064Z","gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","id":"6bdb89d1-2dfd-43d0-ba57-8b24c17e9523","ipam_ip_id":"a0b14595-67f8-4ab9-95ae-060867bd837a","masquerade_enabled":true,"private_network_id":"d44268b2-56ac-4d17-af16-5a782a7230da","push_default_route":true,"status":"created","updated_at":"2025-03-24T08:20:30.432064Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 749.182931ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","private_network_id":"080dfb1a-37f5-4757-b98e-348b0b40ae43","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 799.136173ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/c44b6bb5-dc33-4e76-8f88-7df018c50db0
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:20:24.144155Z","gateway_networks":[{"created_at":"2025-03-24T08:20:30.432064Z","gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","id":"6bdb89d1-2dfd-43d0-ba57-8b24c17e9523","ipam_ip_id":"a0b14595-67f8-4ab9-95ae-060867bd837a","mac_address":"02:00:00:10:C0:AF","masquerade_enabled":true,"private_network_id":"d44268b2-56ac-4d17-af16-5a782a7230da","push_default_route":true,"status":"configuring","updated_at":"2025-03-24T08:20:36.175856Z","zone":"fr-par-1"}],"id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","ipv4":{"address":"212.47.234.64","created_at":"2025-03-24T08:20:24.092798Z","gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","id":"b1f7a0e9-81fc-4dfb-badc-13a65562fb71","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"64-234-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:20:24.092798Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:20:30.520014Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 699.445113ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/6bdb89d1-2dfd-43d0-ba57-8b24c17e9523
        method: GET
      response:
        body: '{"created_at":"2025-03-24T08:20:30.432064Z","gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","id":"6bdb89d1-2dfd-43d0-ba57-8b24c17e9523","ipam_ip_id":"a0b14595-67f8-4ab9-95ae-060867bd837a","mac_address":"02:00:00:10:C0:AF","masquerade_enabled":true,"private_network_id":"d44268b2-56ac-4d17-af16-5a782a7230da","push_default_route":true,"status":"ready","updated_at":"2025-03-24T08:20:40.865930Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.662074ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=3501b80f-6388-4496-8e72-1dbadb8ac546
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-03-24T08:20:19.324875Z","description":"Generated route for subnet 1295a2f9-5a7c-4b7d-a6b7-4ed58f90ee1c","destination":"fd46:78ab:30b8:4c57::/64","id":"","is_read_only":true,"nexthop_private_network_id":"d44268b2-56ac-4d17-af16-5a782a7230da","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-03-24T08:20:19.324875Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-03-24T08:20:19.324875Z","description":"Generated route for subnet 20dcf9b9-028c-4917-97ce-bc4e282da973","destination":"fd46:78ab:30b8:fd11::/64","id":"","is_read_only":true,"nexthop_private_network_id":"080dfb1a-37f5-4757-b98e-348b0b40ae43","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-03-24T08:20:19.324875Z","vpc_id":"3501b80f-6388-4496-8e72-1dbadb8ac546"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.117469ms
    - id: 47
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=3501b80f-6388-4496-8e72-1dbadb8ac546
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-03-24T08:20:19.324875Z","description":"[...]
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=080dfb1a-37f5-4757-b98e-348b0b40ae43&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=3501b80f-6388-4496-8e72-1dbadb8ac546
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 78
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/c44b6bb5-dc33-4e76-8f88-7df018c50db0?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-03-24T08:20:24.144155Z","gateway_networks":[],"id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","ipv4":{"address":"212.47.234.64","created_at":"2025-03-24T08:20:24.092798Z","gateway_id":"c44b6bb5-dc33-4e76-8f88-7df018c50db0","id":"b1f7a0e9-81fc-4dfb-badc-13a65562fb71","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"64-234-47-212.instances.scw.cloud","tags":[],"updated_at":"2025-03-24T08:20:24.092798Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-03-24T08:21:07.812639Z","version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.325259ms
[...]
