---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPC_Basic02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-09-05T09:59:13.360136Z","custom_routes_propagation_enabled":true,"id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-05T09:59:13.360136Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 446.672333ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/d87d0e70-9086-4da6-a7dc-38a2dc67fd29
        method: GET
      response:
        body: '{"created_at":"2025-09-05T09:59:13.360136Z","custom_routes_propagation_enabled":true,"id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-09-05T09:59:13.360136Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.346334ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-09-05T09:59:13.558307Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T09:59:13.558307Z","id":"0e810b2d-dcd9-49fb-a3b4-42ed3958d63d","private_network_id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.80.0/22","updated_at":"2025-09-05T09:59:13.558307Z","vpc_id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29"},{"created_at":"2025-09-05T09:59:13.558307Z","id":"fc2135d4-4edc-4408-b2d9-6e8b98b54271","private_network_id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:e0eb::/64","updated_at":"2025-09-05T09:59:13.558307Z","vpc_id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29"}],"tags":[],"updated_at":"2025-09-05T09:59:13.558307Z","vpc_id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 614.975167ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1b0b28f2-e74a-4be1-a394-ff6f85440ee4
        method: GET
      response:
        body: '{"created_at":"2025-09-05T09:59:13.558307Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"5[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=d87d0e70-9086-4da6-a7dc-38a2dc67fd29
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-09-05T09:59:13.558307Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-09-05T09:59:13.558307Z","id":"0e810b2d-dcd9-49fb-a3b4-42ed3958d63d","private_network_id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.80.0/22","updated_at":"2025-09-05T09:59:13.558307Z","vpc_id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29"},{"created_at":"2025-09-05T09:59:13.558307Z","id":"fc2135d4-4edc-4408-b2d9-6e8b98b54271","private_network_id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:e0eb::/64","updated_at":"2025-09-05T09:59:13.558307Z","vpc_id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29"}],"tags":[],"updated_at":"2025-09-05T09:59:13.558307Z","vpc_id":"d87d0e70-9086-4da6-a7dc-38a2dc67fd29"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.776916ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/1b0b28f2-e74a-4be1-a394-ff6f85440ee4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"1b0b28f2-e74a-4be1-a394-ff6f85440ee4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 52.874625ms
[...]
