---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-filter-source","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:18:46.289135Z","custom_routes_propagation_enabled":true,"id":"4e010371-3b0d-47f9-a3fb-8b1f066a0bfc","is_default":false,"name":"tf-ds-connector-filter-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:18:46.289135Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.48975ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4e010371-3b0d-47f9-a3fb-8b1f066a0bfc
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:18:46.289135Z","custom_routes_propagation_enabled":true,"id":"4e010371-3b0d-47f9-a3fb-8b1f066a0bfc","is_default":false,"name":"tf-ds-connector-filter-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:18:46.289135Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.98575ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-filter","tags":[],"vpc_id":"4e010371-3b0d-47f9-a3fb-8b1f066a0bfc","target_vpc_id":"cdea441a-133f-4b77-bce9-189ac01891dd"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:18:46.450256Z","id":"3e03b76e-788e-4e5a-a3e7-61d92e0a2392","name":"tf-ds-connector-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"cdea441a-133f-4b77-bce9-189ac01891dd","updated_at":"2026-03-24T09:18:46.450256Z","vpc_id":"4e010371-3b0d-47f9-a3fb-8b1f066a0bfc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.408709ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/3e03b76e-788e-4e5a-a3e7-61d92e0a2392
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:18:46.450256Z","id":"3e03b76e-788e-4e5a-a3e7-61d92e0a2392","name":"tf-ds-connector-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"cdea441a-133f-4b77-bce9-189ac01891dd","updated_at":"2026-03-24T09:18:46.450256Z","vpc_id":"4e010371-3b0d-47f9-a3fb-8b1f066a0bfc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.397708ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-ds-connector-filter&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-03-24T09:18:46.450256Z","id":"3e03b76e-788e-4e5a-a3e7-61d92e0a2392","name":"tf-ds-connector-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"cdea441a-133f-4b77-bce9-189ac01891dd","updated_at":"2026-03-24T09:18:46.450256Z","vpc_id":"4e010371-3b0d-47f9-a3fb-8b1f066a0bfc"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.574959ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/3e03b76e-788e-4e5a-a3e7-61d92e0a2392
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"3e03b76e-788e-4e5a-a3e7-61d92e0a2392","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.603041ms
[...]
