---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPC_Basic02","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:33.002625Z","id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:33.002625Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.822083ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/47cf4a73-974d-413e-acda-ee9cab9617ad
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:33.033799Z","id":"47cf4a73-974d-413e-acda-ee9cab9617ad","is_default":false,"name":"TestAccScalewayResourceVPC_Basic01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:47:33.033799Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.09475ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:47:33.252026Z","dhcp_enabled":true,"id":"bd902151-b35d-458c-928d-9770cab8c6fa","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:33.252026Z","id":"80fc4a59-e70f-4685-ad3d-0e56ef7cb4c8","private_network_id":"bd902151-b35d-458c-928d-9770cab8c6fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.60.0/22","updated_at":"2025-01-24T14:47:33.252026Z","vpc_id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3"},{"created_at":"2025-01-24T14:47:33.252026Z","id":"88c622b1-444f-455c-af7d-5ef9867c29c1","private_network_id":"bd902151-b35d-458c-928d-9770cab8c6fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:de6::/64","updated_at":"2025-01-24T14:47:33.252026Z","vpc_id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3"}],"tags":[],"updated_at":"2025-01-24T14:47:33.252026Z","vpc_id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 632.479458ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bd902151-b35d-458c-928d-9770cab8c6fa
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:47:33.252026Z","dhcp_enabled":true,"id":"bd902151-b35d-458c-928d-9770cab8c6fa","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:33.252026Z","id":"80fc4a59-e70f-4685-ad3d-0e56ef7cb4c8","private_network_id":"bd902151-b35d-458c-928d-9770cab8c6fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.60.0/22","updated_at":"2025-01-24T14:47:33.252026Z","vpc_id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3"},{"created_at":"2025-01-24T14:47:33.252026Z","id":"88c622b1-444f-455c-af7d-5ef9867c29c1","private_network_id":"bd902151-b35d-458c-928d-9770cab8c6fa","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:de6::/64","updated_at":"2025-01-24T14:47:33.252026Z","vpc_id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3"}],"tags":[],"updated_at":"2025-01-24T14:47:33.252026Z","vpc_id":"a6ef5fc8-a80f-40fc-9ca5-379051ee54d3"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.86325ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=47cf4a73-974d-413e-acda-ee9cab9617ad
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-01-24T14:47:33.326760Z","dhcp_enabled":true,"id":"c8d3f0aa-e554-451b-b9a6-b3d8717123f1","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:47:33.326760Z","id":"d308546c-2aab-4a4c-90de-cfe9aa9b86ca","private_network_id":"c8d3f0aa-e554-451b-b9a6-b3d8717123f1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.24.0/22","updated_at":"2025-01-24T14:47:33.326760Z","vpc_id":"47cf4a73-974d-413e-acda-ee9cab9617ad"},{"created_at":"2025-01-24T14:47:33.326760Z","id":"34959d81-1e2e-4a64-b4c5-466173ebe3c8","private_network_id":"c8d3f0aa-e554-451b-b9a6-b3d8717123f1","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5d01::/64","updated_at":"2025-01-24T14:47:33.326760Z","vpc_id":"47cf4a73-974d-413e-acda-ee9cab9617ad"}],"tags":[],"updated_at":"2025-01-24T14:47:33.326760Z","vpc_id":"47cf4a73-974d-413e-acda-ee9cab9617ad"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.955375ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/c8d3f0aa-e554-451b-b9a6-b3d8717123f1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"c8d3f0aa-e554-451b-b9a6-b3d8717123f1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.540459ms
[...]
