---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-10-03T14:54:47.736834Z","id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T14:54:47.736834Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.57097ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/947fb82d-e54a-4e88-b022-3d1e1d4126e0
        method: GET
      response:
        body: '{"created_at":"2024-10-03T14:54:47.736834Z","id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2024-10-03T14:54:47.736834Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.74516ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route_2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2024-10-03T14:54:47.978059Z","dhcp_enabled":true,"id":"743ee4d6-299d-4dd6-8649-c87575a6825a","name":"tf-pn_route_2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T14:54:47.978059Z","id":"3e8f2d8c-dde6-4b7c-988d-eaca8308781d","private_network_id":"743ee4d6-299d-4dd6-8649-c87575a6825a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2024-10-03T14:54:47.978059Z","vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"},{"created_at":"2024-10-03T14:54:47.978059Z","id":"fa094b5c-d7aa-4bca-83ba-a1749147e7f8","private_network_id":"743ee4d6-299d-4dd6-8649-c87575a6825a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6113::/64","updated_at":"2024-10-03T14:54:47.978059Z","vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"}],"tags":[],"updated_at":"2024-10-03T14:54:47.978059Z","vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 550.489749ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/743ee4d6-299d-4dd6-8649-c87575a6825a
        method: GET
      response:
        body: '{"created_at":"2024-10-03T14:54:47.978059Z","dhcp_enabled":true,"id":"743ee4d6-299d-4dd6-8649-c87575a6825a","name":"tf-pn_route_2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-10-03T14:54:47.978059Z","id":"3e8f2d8c-dde6-4b7c-988d-eaca8308781d","private_network_id":"743ee4d6-299d-4dd6-8649-c87575a6825a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.108.0/22","updated_at":"2024-10-03T14:54:47.978059Z","vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"},{"created_at":"2024-10-03T14:54:47.978059Z","id":"fa094b5c-d7aa-4bca-83ba-a1749147e7f8","private_network_id":"743ee4d6-299d-4dd6-8649-c87575a6825a","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:6113::/64","updated_at":"2024-10-03T14:54:47.978059Z","vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"}],"tags":[],"updated_at":"2024-10-03T14:54:47.978059Z","vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 23.229833ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T14:54:51.770489Z","gateway_networks":[],"id":"516b6066-5724-4869-8dcf-b699246cbed4","ip":{"address":"212.47.246.99","created_at":"2024-10-03T14:54:51.743456Z","gateway_id":"516b6066-5724-4869-8dcf-b699246cbed4","id":"1e1fbe0b-f960-4dd5-9c73-bc714974e819","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"99-246-47-212.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T14:54:51.743456Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T14:54:51.770489Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 976.486765ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/516b6066-5724-4869-8dcf-b699246cbed4
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2024-10-03T14:54:51.770489Z","gateway_networks":[],"id":"516b6066-5724-4869-8dcf-b699246cbed4","ip":{"address":"212.47.246.99","created_at":"2024-10-03T14:54:51.743456Z","gateway_id":"516b6066-5724-4869-8dcf-b699246cbed4","id":"1e1fbe0b-f960-4dd5-9c73-bc714974e819","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"99-246-47-212.instances.scw.cloud","tags":[],"updated_at":"2024-10-03T14:54:51.743456Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2024-10-03T14:54:51.770489Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.133772ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"516b6066-5724-4869-8dcf-b699246cbed4","private_network_id":"743ee4d6-299d-4dd6-8649-c87575a6825a","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"516b6066-5724-4869-8dcf-b699246cbed4","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 675.340368ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"516b6066-5724-4869-8dcf-b699246cbed4","private_network_id":"2c18e435-3f4a-4da0-bbe4-9b1fbb407143","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.100.2/22","created_at":"2024-10-03T14:55:02.630565Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"516b6066-5724-4869-8dcf-b699246cbed4","id":"da199068-749d-4f1b-b954-562f43271f9a","ipam_config":{"ipam_ip_id":"9d7e2d23-50a1-4a7c-92d1-45a8a483a18f","push_default_route":true},"mac_address":null,"private_network_id":"2c18e435-3f4a-4da0-bbe4-9b1fbb407143","status":"created","updated_at":"2024-10-03T14:55:02.630565Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 674.198146ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/da199068-749d-4f1b-b954-562f43271f9a
        method: GET
      response:
        body: '{"address":"172.16.100.2/22","created_at":"2024-10-03T14:55:02.630565Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"516b6066-5724-4869-8dcf-b699246cbed4","id":"da199068-749d-4f1b-b954-562f43271f9a","ipam_config":{"ipam_ip_id":"9d7e2d23-50a1-4a7c-92d1-45a8a483a18f","push_default_route":true},"mac_address":"02:00:00:10:09:88","private_network_id":"2c18e435-3f4a-4da0-bbe4-9b1fbb407143","status":"ready","updated_at":"2024-10-03T14:55:14.401326Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.099984ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=2c18e435-3f4a-4da0-bbe4-9b1fbb407143&resource_id=da199068-749d-4f1b-b954-562f43271f9a&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.100.2/22","created_at":"2024-10-03T14:55:02.494657Z","id":"9d7e2d23-50a1-4a7c-92d1-45a8a483a18f","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"da199068-749d-4f1b-b954-562f43271f9a","mac_address":"02:00:00:10:09:88","name":"tf-gw-route","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"801e64d2-43d8-4098-b853-0ca6a6ed8641"},"tags":[],"updated_at":"2024-10-03T14:55:03.145811Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.795625ms
[...]
    - id: 60
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=947fb82d-e54a-4e88-b022-3d1e1d4126e0
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-10-03T14:54:47.736834Z","description":"Generated route for subnet 801e64d2-43d8-4098-b853-0ca6a6ed8641","destination":"172.16.100.0/22","id":"","is_read_only":true,"nexthop_private_network_id":"2c18e435-3f4a-4da0-bbe4-9b1fbb407143","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2024-10-03T14:54:47.736834Z","vpc_id":"947fb82d-e54a-4e88-b022-3d1e1d4126e0"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-10-03T14:54:47.736834Z","description":"Generated route for subnet 3e8f2d8c-dde6-4b7c-988d-eaca8308781d","destination":"172.16.108.0/22","id":"","is_read_only":true,"nexthop_private_network_id":"743ee4d6-299d-4dd6-8649-c87575a6825a","nexthop_resource_id":nul[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=947fb82d-e54a-4e88-b022-3d1e1d4126e0
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2024-10-03T14:54:47.736834Z","d[...]
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=2c18e435-3f4a-4da0-bbe4-9b1fbb407143&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=947fb82d-e54a-4e88-b022-3d1e1d4126e0
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/dd6f0da4-39b6-4a9b-9d12-13799f27ea4e?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 70.845806ms
[...]
    - id: 106
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/516b6066-5724-4869-8dcf-b699246cbed4?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 67.612077ms
[...]
