---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayResourceVPC_Basic01\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\",\"name\":\"TestAccScalewayResourceVPC_Basic01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:08:08.831421Z\",\"updated_at\":\"2025-09-23T10:08:08.831421Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 272.545924ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b
    method: GET
  response:
    body: "{\"id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\",\"name\":\"TestAccScalewayResourceVPC_Basic01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:08:08.831421Z\",\"updated_at\":\"2025-09-23T10:08:08.831421Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 31.218511ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"7aa91530-d6f4-415a-9118-9a75d99a144c\",\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:08:09.081833Z\",\"updated_at\":\"2025-09-23T10:08:09.081833Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"7e3bec83-66c8-47b9-b1bb-50c267d24f18\",\"created_at\":\"2025-09-23T10:08:09.081833Z\",\"updated_at\":\"2025-09-23T10:08:09.081833Z\",\"subnet\":\"172.17.44.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"7aa91530-d6f4-415a-9118-9a75d99a144c\",\"vpc_id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\"},{\"id\":\"e30a9202-c64e-4b3a-8cd9-7e33d054db7d\",\"created_at\":\"2025-09-23T10:08:09.081833Z\",\"updated_at\":\"2025-09-23T10:08:09.081833Z\",\"subnet\":\"fd5f:519c:6d46:73b8::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"7aa91530-d6f4-415a-9118-9a75d99a144c\",\"vpc_id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\"}],\"vpc_id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.577206886s
[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/58941a6c-1b53-4ff9-b212-a45453f54437
    method: GET
  response:
    body: "{\"id\":\"58941a6c-1b53-4ff9-b212-a45453f54437\",\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:08:09.179383Z\",\"updated_at\":\"2025-09-23T10:08:09.179383Z\",\"project_id\":\[...]
[...]
- id: 16
  request:
    host: api.scaleway.com
    form:
      name:
      - TestAccScalewayResourceVPCPrivateNetwork_Basic
      order_by:
      - created_at_asc
      vpc_id:
      - dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b
    method: GET
  response:
    body: "{\"private_networks\":[{\"id\":\"7aa91530-d6f4-415a-9118-9a75d99a144c\",\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-23T10:08:09.081833Z\",\"updated_at\":\"2025-09-23T10:08:09.081833Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"subnets\":[{\"id\":\"7e3bec83-66c8-47b9-b1bb-50c267d24f18\",\"created_at\":\"2025-09-23T10:08:09.081833Z\",\"updated_at\":\"2025-09-23T10:08:09.081833Z\",\"subnet\":\"172.17.44.0/22\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"7aa91530-d6f4-415a-9118-9a75d99a144c\",\"vpc_id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\"},{\"id\":\"e30a9202-c64e-4b3a-8cd9-7e33d054db7d\",\"created_at\":\"2025-09-23T10:08:09.081833Z\",\"updated_at\":\"2025-09-23T10:08:09.081833Z\",\"subnet\":\"fd5f:519c:6d46:73b8::/64\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"private_network_id\":\"7aa91530-d6f4-415a-9118-9a75d99a144c\",\"vpc_id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\"}],\"vpc_id\":\"dd6e4737-8ddc-4c3b-8da5-a35d3ffec80b\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 590.088344ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/58941a6c-1b53-4ff9-b212-a45453f54437
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"58941a6c-1b53-4ff9-b212-a45453f54437\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.903118ms
[...]
