---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsfilt-vpc","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:02.762566Z","custom_routes_propagation_enabled":true,"id":"37e31346-83c2-44e6-9b8e-87bb452f7d42","is_default":false,"name":"tf-ingress-dsfilt-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T13:02:02.762566Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.870317ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 22.069165ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/37e31346-83c2-44e6-9b8e-87bb452f7d42
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:02.762566Z","custom_routes_propagation_enabled":true,"id":"37e31346-83c2-44e6-9b8e-87bb452f7d42","is_default":false,"name":"tf-ingress-dsfilt-vpc","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T13:02:02.762566Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.546969ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsfilt-pn","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:03.114404Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"a342930b-04a1-44a0-af22-ae251eb5661e","name":"tf-ingress-dsfilt-pn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T13:02:03.114404Z","id":"f9cc0879-1970-4a41-8a57-2f04bd67a51f","private_network_id":"a342930b-04a1-44a0-af22-ae251eb5661e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.140.0/22","updated_at":"2026-08-26T13:02:03.114404Z","vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42"},{"created_at":"2026-08-26T13:02:03.114404Z","id":"167654e1-cea7-4bda-9ccc-701592f4b948","private_network_id":"a342930b-04a1-44a0-af22-ae251eb5661e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:9827::/64","updated_at":"2026-08-26T13:02:03.114404Z","vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42"}],"tags":[],"updated_at":"2026-08-26T13:02:03.114404Z","vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.015762776s
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/a342930b-04a1-44a0-af22-ae251eb5661e
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:03.114404Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"a342930b-04a1-44a0-af22-ae251eb5661e","name":"tf-ingress-dsfilt-pn","org[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","source":{"private_network_id":"a342930b-04a1-44a0-af22-ae251eb5661e"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"10.4.140.2/22","created_at":"2026-08-26T13:02:04.546040Z","id":"64d47f2d-6d21-4e8c-ace9-c7bd14827548","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"f9cc0879-1970-4a41-8a57-2f04bd67a51f"},"tags":[],"updated_at":"2026-08-26T13:02:04.546040Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.985095ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/64d47f2d-6d21-4e8c-ace9-c7bd14827548
        method: GET
      response:
        body: '{"address":"10.4.140.2/22","created_at":"2026-08-26T13:02:04.546040Z","id":"64d47f2d-6d21-4e8c-ace9-c7bd14827548","is_ipv6":false,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"f9cc0879-1970-4a41-8a57-2f04bd67a51f"},"tags":[],"updated_at":"2026-08-26T13:02:04.546040Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.097803ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42","source":"10.2.0.0/24","nexthop_resource_ip":"10.4.140.2","nexthop_private_network_id":"a342930b-04a1-44a0-af22-ae251eb5661e","description":"ingress rule data source by filters","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:04.820608Z","description":"ingress rule data source by filters","id":"209aac4a-ec9e-4417-89ba-961c8b557e50","is_ipv6":false,"nexthop_private_network_id":"a342930b-04a1-44a0-af22-ae251eb5661e","nexthop_resource_ip":"10.4.140.2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","source":"10.2.0.0/24","tags":[],"updated_at":"2026-08-26T13:02:04.820608Z","vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.626289ms
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/209aac4a-ec9e-4417-89ba-961c8b557e50
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:04.820608Z","description":"ingress rule data source by filters","id":"209aac4a-ec9e-4417-89ba-961c8b557e50","is_ipv6":false,"nexthop_private_network_id":"a342930b-04a1-44a0-af22-ae251eb5661e","nexthop_resource_ip":"10.4.140.2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","source":"10.2.0.0/24","tags":[],"updated_at":"2026-08-26T13:02:04.820608Z","vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.331408ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules?nexthop_private_network_id=a342930b-04a1-44a0-af22-ae251eb5661e&order_by=created_at_asc
        method: GET
      response:
        body: '{"rules":[{"created_at":"2026-08-26T13:02:04.820608Z","description":"ingress rule data source by filters","id":"209aac4a-ec9e-4417-89ba-961c8b557e50","is_ipv6":false,"nexthop_private_network_id":"a342930b-04a1-44a0-af22-ae251eb5661e","nexthop_resource_ip":"10.4.140.2","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","source":"10.2.0.0/24","tags":[],"updated_at":"2026-08-26T13:02:04.820608Z","vpc_id":"37e31346-83c2-44e6-9b8e-87bb452f7d42"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.575509ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/209aac4a-ec9e-4417-89ba-961c8b557e50
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.844887ms
[...]
