---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"DataSourceVPC_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:50:35.007603Z","id":"c76a5b4b-1649-416b-be9f-e680d22326f1","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:50:35.007603Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.43975ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c76a5b4b-1649-416b-be9f-e680d22326f1
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:50:35.007603Z","id":"c76a5b4b-1649-416b-be9f-e680d22326f1","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:50:35.007603Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 25.021291ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=DataSourceVPC_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2025-01-24T14:50:35.007603Z","id":"c76a5b4b-1649-416b-be9f-e680d22326f1","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-24T14:50:35.007603Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.879375ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/c76a5b4b-1649-416b-be9f-e680d22326f1
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"c76a5b4b-1649-416b-be9f-e680d22326f1","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.835916ms
[...]
