---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:09:01.569222Z","dhcp_enabled":true,"id":"97408352-76d9-409b-9780-cf06f3bc59d5","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:09:01.569222Z","id":"e66a3c60-5bfe-4650-afd2-d965440df003","private_network_id":"97408352-76d9-409b-9780-cf06f3bc59d5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:09:01.569222Z","id":"97b8e8af-a6a8-4f4a-bb6f-f7c8d4afaac8","private_network_id":"97408352-76d9-409b-9780-cf06f3bc59d5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5d00::/64","updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 790.999333ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/97408352-76d9-409b-9780-cf06f3bc59d5
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:09:01.569222Z","dhcp_enabled":true,"id":"97408352-76d9-409b-9780-cf06f3bc59d5","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:09:01.569222Z","id":"e66a3c60-5bfe-4650-afd2-d965440df003","private_network_id":"97408352-76d9-409b-9780-cf06f3bc59d5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:09:01.569222Z","id":"97b8e8af-a6a8-4f4a-bb6f-f7c8d4afaac8","private_network_id":"97408352-76d9-409b-9780-cf06f3bc59d5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5d00::/64","updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.093166ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-01-28T10:09:01.569222Z","dhcp_enabled":true,"id":"97408352-76d9-409b-9780-cf06f3bc59d5","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:09:01.569222Z","id":"e66a3c60-5bfe-4650-afd2-d965440df003","private_network_id":"97408352-76d9-409b-9780-cf06f3bc59d5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.16.0/22","updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:09:01.569222Z","id":"97b8e8af-a6a8-4f4a-bb6f-f7c8d4afaac8","private_network_id":"97408352-76d9-409b-9780-cf06f3bc59d5","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:5d00::/64","updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:09:01.569222Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.614042ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/97408352-76d9-409b-9780-cf06f3bc59d5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"97408352-76d9-409b-9780-cf06f3bc59d5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.0945ms
[...]
