---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-08-26T13:02:33.154448Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T13:02:33.154448Z","id":"d7ec68ee-e2a3-41aa-b653-4db79ce499b5","private_network_id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.180.0/22","updated_at":"2026-08-26T13:02:33.154448Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"},{"created_at":"2026-08-26T13:02:33.154448Z","id":"8e3c82d7-3dd0-420f-ac36-e751ba2929ce","private_network_id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:7ac8::/64","updated_at":"2026-08-26T13:02:33.154448Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}],"tags":[],"updated_at":"2026-08-26T13:02:33.154448Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.504651176s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 20.95012ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bebeccda-ff8c-4635-bcf1-bb61ac64c635
        method: GET
      response:
        body: '{"created_at":"2026-08-26T13:02:33.154448Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","name":"TestAccScalewayDataSourceV[...]
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-08-26T13:02:33.154448Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"has_object_storage_private_access":false,"id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2026-08-26T13:02:33.154448Z","id":"d7ec68ee-e2a3-41aa-b653-4db79ce499b5","private_network_id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"10.4.180.0/22","updated_at":"2026-08-26T13:02:33.154448Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"},{"created_at":"2026-08-26T13:02:33.154448Z","id":"8e3c82d7-3dd0-420f-ac36-e751ba2929ce","private_network_id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnet":"fd5f:519c:6d46:7ac8::/64","updated_at":"2026-08-26T13:02:33.154448Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}],"tags":[],"updated_at":"2026-08-26T13:02:33.154448Z","vpc_id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.090564ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/bebeccda-ff8c-4635-bcf1-bb61ac64c635
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"bebeccda-ff8c-4635-bcf1-bb61ac64c635","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.768659ms
[...]
