---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:13:35.283107Z","id":"985560bc-c4d5-4b5e-93d8-1884de9f790a","is_default":false,"name":"tf-vpc-route-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T18:13:35.283107Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.338568ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/985560bc-c4d5-4b5e-93d8-1884de9f790a
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:13:35.283107Z","id":"985560bc-c4d5-4b5e-93d8-1884de9f790a","is_default":false,"name":"tf-vpc-route-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-13T18:13:35.283107Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.894586ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:13:35.601530Z","dhcp_enabled":true,"id":"5fb9f092-4a88-4538-bd44-78739df1b5da","name":"tf-pn_route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:13:35.601530Z","id":"0d0ba1a5-90a3-42aa-9337-28fe2d19d0c5","private_network_id":"5fb9f092-4a88-4538-bd44-78739df1b5da","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.32.0/22","updated_at":"2025-05-13T18:13:35.601530Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"},{"created_at":"2025-05-13T18:13:35.601530Z","id":"9da74d2f-52bf-4ac2-aabd-2e64f19317f6","private_network_id":"5fb9f092-4a88-4538-bd44-78739df1b5da","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:fd98::/64","updated_at":"2025-05-13T18:13:35.601530Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"}],"tags":[],"updated_at":"2025-05-13T18:13:35.601530Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.626478707s
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/9d0394e2-0a18-4fba-99fa-b9853a701ba8
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:13:35.501662Z","dhcp_enabled":true,"id":"9d0394e2-0a18-4fba-99fa-b9853a701ba8","name":"tf-pn_route_2","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-13T18:13:35.501662Z","id":"f372a914-18d5-461a-ad6e-d685ef70f4b1","private_network_id":"9d0394e2-0a18-4fba-99fa-b9853a701ba8","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.28.0/22","updated_at":"2025-05-13T18:13:35.501662Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"},{"created_at":"2025-05-13T18:13:35.501662Z","id":"ef0e1309-4ca3-4603-a777-3befbbf4a5c7","private_network_id":"9d0394e2-0a18-4fba-99fa-b9853a701ba8","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:3e62::/64","updated_at":"2025-05-13T18:13:35.501662Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"}],"tags":[],"updated_at":"2025-05-13T18:13:35.501662Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.213346ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:13:40.531011Z","gateway_networks":[],"id":"c49e6191-6086-4fb4-884b-b9255557a65d","ipv4":{"address":"51.15.244.115","created_at":"2025-05-13T18:13:40.506862Z","gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","id":"6cb668ed-b229-4648-af57-febeb2e0414a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"115-244-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:13:40.506862Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:13:40.531011Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.324668743s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/c49e6191-6086-4fb4-884b-b9255557a65d
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:13:40.531011Z","gateway_networks":[],"id":"c49e6191-6086-4fb4-884b-b9255557a65d","ipv4":{"address":"51.15.244.115","created_at":"2025-05-13T18:13:40.506862Z","gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","id":"6cb668ed-b229-4648-af57-febeb2e0414a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"115-244-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:13:40.506862Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:13:40.574962Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.649391ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","private_network_id":"5fb9f092-4a88-4538-bd44-78739df1b5da","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-13T18:13:51.383891Z","gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","id":"98e94143-e231-4681-8e4a-d0ce1b6b51d2","ipam_ip_id":"4a20b074-1229-4c6a-a047-fd4fd165041f","masquerade_enabled":true,"private_network_id":"5fb9f092-4a88-4538-bd44-78739df1b5da","push_default_route":true,"status":"created","updated_at":"2025-05-13T18:13:51.383891Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 965.724068ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","private_network_id":"9d0394e2-0a18-4fba-99fa-b9853a701ba8","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"c49e6191-6086-4fb4-884b-b9255557a65d","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 938.75754ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/c49e6191-6086-4fb4-884b-b9255557a65d
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:13:40.531011Z","gateway_networks":[{"created_at":"2025-05-13T18:13:51.383891Z","gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","id":"98e94143-e231-4681-8e4a-d0ce1b6b51d2","ipam_ip_id":"4a20b074-1229-4c6a-a047-fd4fd165041f","mac_address":"02:00:00:1A:00:F6","masquerade_enabled":true,"private_network_id":"5fb9f092-4a88-4538-bd44-78739df1b5da","push_default_route":true,"status":"ready","updated_at":"2025-05-13T18:14:01.908003Z","zone":"fr-par-1"}],"id":"c49e6191-6086-4fb4-884b-b9255557a65d","ipv4":{"address":"51.15.244.115","created_at":"2025-05-13T18:13:40.506862Z","gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","id":"6cb668ed-b229-4648-af57-febeb2e0414a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"115-244-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:13:40.506862Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:13:51.490085Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.348702ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/98e94143-e231-4681-8e4a-d0ce1b6b51d2
        method: GET
      response:
        body: '{"created_at":"2025-05-13T18:13:51.383891Z","gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","id":"98e94143-e231-4681-8e4a-d0ce1b6b51d2","ipam_ip_id":"4a20b074-1229-4c6a-a047-fd4fd165041f","mac_address":"02:00:00:1A:00:F6","masquerade_enabled":true,"private_network_id":"5fb9f092-4a88-4538-bd44-78739df1b5da","push_default_route":true,"status":"ready","updated_at":"2025-05-13T18:14:01.908003Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.922826ms
[...]
    - id: 31
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=5fb9f092-4a88-4538-bd44-78739df1b5da&resource_id=98e94143-e231-4681-8e4a-d0ce1b6b51d2&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.32.2/22","created_at":"2025-05-13T18:13:51.247833Z","id":"4a20b074-1229-4c6a-a047-fd4fd165041f","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"98e94143-e231-4681-8e4a-d0ce1b6b51d2","mac_address":"02:00:00:1A:00:F6","name":"tf-gw-route","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"0d0ba1a5-90a3-42aa-9337-28fe2d19d0c5"},"tags":[],"updated_at":"2025-05-13T18:13:51.833730Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.284436ms
[...]
    - id: 50
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=985560bc-c4d5-4b5e-93d8-1884de9f790a
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-05-13T18:13:35.283107Z","description":"Generated route for subnet ef0e1309-4ca3-4603-a777-3befbbf4a5c7","destination":"fd63:256c:45f7:3e62::/64","id":"","is_read_only":true,"nexthop_private_network_id":"9d0394e2-0a18-4fba-99fa-b9853a701ba8","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-05-13T18:13:35.283107Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-05-13T18:13:35.283107Z","description":"Generated route for subnet 9da74d2f-52bf-4ac2-aabd-2e64f19317f6","destination":"fd63:256c:45f7:fd98::/64","id":"","is_read_only":true,"nexthop_private_network_id":"5fb9f092-4a88-4538-bd44-78739df1b5da","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-05-13T18:13:35.283107Z","vpc_id":"985560bc-c4d5-4b5e-93d8-1884de9f790a"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.54517ms
[...]
    - id: 53
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=985560bc-c4d5-4b5e-93d8-1884de9f790a
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-05-13T18:13:35.283107Z","description":"[...]
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=5fb9f092-4a88-4538-bd44-78739df1b5da&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=985560bc-c4d5-4b5e-93d8-1884de9f790a
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/c49e6191-6086-4fb4-884b-b9255557a65d?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-13T18:13:40.531011Z","gateway_networks":[],"id":"c49e6191-6086-4fb4-884b-b9255557a65d","ipv4":{"address":"51.15.244.115","created_at":"2025-05-13T18:13:40.506862Z","gateway_id":"c49e6191-6086-4fb4-884b-b9255557a65d","id":"6cb668ed-b229-4648-af57-febeb2e0414a","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"115-244-15-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-13T18:13:40.506862Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-13T18:14:32.937829Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.7262ms
[...]
