---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsid-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:21:35.988849Z","custom_routes_propagation_enabled":true,"id":"ddc74efe-8014-4c37-946d-f4e48602cb1f","is_default":false,"name":"tf-ingress-dsid-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-23T09:21:35.988849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.376291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ddc74efe-8014-4c37-946d-f4e48602cb1f
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:21:35.988849Z","custom_routes_propagation_enabled":true,"id":"ddc74efe-8014-4c37-946d-f4e48602cb1f","is_default":false,"name":"tf-ingress-dsid-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-06-23T09:21:35.988849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.145416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ingress-dsid-pn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"ddc74efe-8014-4c37-946d-f4e48602cb1f","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:21:36.171367Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"500f3087-0207-4e15-80ab-f04a82b310de","name":"tf-ingress-dsid-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-06-23T09:21:36.171367Z","id":"4e0159d9-f792-45b9-9f72-985f27703976","private_network_id":"500f3087-0207-4e15-80ab-f04a82b310de","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnet":"172.17.80.0/22","updated_at":"2026-06-23T09:21:36.171367Z","vpc_id":"ddc74efe-8014-4c37-946d-f4e48602cb1f"},{"created_at":"2026-06-23T09:21:36.171367Z","id":"a1c19d4f-c65b-4aa1-b2ae-f6ea759ca0f7","private_network_id":"500f3087-0207-4e15-80ab-f04a82b310de","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnet":"fd46:78ab:30b8:6c72::/64","updated_at":"2026-06-23T09:21:36.171367Z","vpc_id":"ddc74efe-8014-4c37-946d-f4e48602cb1f"}],"tags":[],"updated_at":"2026-06-23T09:21:36.171367Z","vpc_id":"ddc74efe-8014-4c37-946d-f4e48602cb1f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 713.538958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/500f3087-0207-4e15-80ab-f04a82b310de
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:21:36.171367Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"500f3087-0207-4e15-80ab-f04a82b310de","name":"tf-ingress-dsid-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","source":{"private_network_id":"500f3087-0207-4e15-80ab-f04a82b310de"},"is_ipv6":false,"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips
        method: POST
      response:
        body: '{"address":"172.17.80.2/22","created_at":"2026-06-23T09:21:37.156650Z","id":"11fc0202-ff12-4b2b-b1ec-168b563761ea","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"4e0159d9-f792-45b9-9f72-985f27703976"},"tags":[],"updated_at":"2026-06-23T09:21:37.156650Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.066875ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips/11fc0202-ff12-4b2b-b1ec-168b563761ea
        method: GET
      response:
        body: '{"address":"172.17.80.2/22","created_at":"2026-06-23T09:21:37.156650Z","id":"11fc0202-ff12-4b2b-b1ec-168b563761ea","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":null,"reverses":[],"source":{"subnet_id":"4e0159d9-f792-45b9-9f72-985f27703976"},"tags":[],"updated_at":"2026-06-23T09:21:37.156650Z","zone":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.227167ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"vpc_id":"ddc74efe-8014-4c37-946d-f4e48602cb1f","source":"10.1.0.0/24","nexthop_resource_ip":"172.17.80.2","nexthop_private_network_id":"500f3087-0207-4e15-80ab-f04a82b310de","description":"ingress rule data source by id","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules
        method: POST
      response:
        body: '{"created_at":"2026-06-23T09:21:37.418606Z","description":"ingress rule data source by id","id":"8368b956-c3ac-4c36-a49c-5aa25b6ee397","is_ipv6":false,"nexthop_private_network_id":"500f3087-0207-4e15-80ab-f04a82b310de","nexthop_resource_ip":"172.17.80.2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","source":"10.1.0.0/24","tags":[],"updated_at":"2026-06-23T09:21:37.418606Z","vpc_id":"ddc74efe-8014-4c37-946d-f4e48602cb1f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.255708ms
    - id: 8
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/8368b956-c3ac-4c36-a49c-5aa25b6ee397
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:21:37.418606Z","description":"ingress rule data source by id","id":"8368b956-c3ac-4c36-a49c-5aa25b6ee397","is_ipv6":false,"nexthop_private_network_id":"500f3087-0207-4e15-80ab-f04a82b310de","nexthop_resource_ip":"172.17.80.2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","source":"10.1.0.0/24","tags":[],"updated_at":"2026-06-23T09:21:37.418606Z","vpc_id":"ddc74efe-8014-4c37-946d-f4e48602cb1f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.26825ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ddc74efe-8014-4c37-946d-f4e48602cb1f
        method: GET
      response:
        body: '{"created_at":"2026-06-23T09:21:35.988849Z","custom_routes_propagation_enabled":true,"id":"ddc74efe-8014-4c37-946d-f4e48602cb1f","is_default":false,"name":"tf-ingress-dsid-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":1,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-06-23T09:21:35.988849Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.942791ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/ingress-rules/8368b956-c3ac-4c36-a49c-5aa25b6ee397
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"unknown","resource_id":"","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.871042ms
[...]
