---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?is_default=true&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":6,"vpcs":[{"created_at":"2023-04-04T09:04:28.711230Z","id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e","is_default":true,"name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":19,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":["default"],"updated_at":"2023-04-04T09:04:28.711230Z"},{"created_at":"2023-11-02T12:32:36.753408Z","id":"d8431f76-a865-4d35-8a23-ee9ccf185275","is_default":true,"name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"50ab77d5-56bd-4981-a118-4e0fa5309b59","region":"fr-par","routing_enabled":false,"tags":["default"],"updated_at":"2023-11-02T12:32:36.753408Z"},{"created_at":"2024-10-10T15:51:52.742925Z","id":"fc05c4f6-418f-4e88-9dc5-b424b1dd6a53","is_default":true,[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8feba4f5-79f9-42cd-b5ce-3ed8c510569e
        method: GET
      response:
        body: '{"created_at":"2023-04-04T09:04:28.711230Z","id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e","is_default":true,"name":"default","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":19,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":false,"tags":["default"],"updated_at":"2023-04-04T09:04:28.711230Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.980583ms
[...]
