---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsid-target","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:45:46.184561Z","custom_routes_propagation_enabled":true,"id":"2494b509-f1a9-4a85-9d66-9ab6d226be05","is_default":false,"name":"tf-dsid-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:45:46.184561Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.530875ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f88a58ac-68fb-437d-839b-d85e266d5ba9
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:45:46.223671Z","custom_routes_propagation_enabled":true,"id":"f88a58ac-68fb-437d-839b-d85e266d5ba9","is_default":false,"name":"tf-dsid-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T09:45:46.223671Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.689083ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsid-conn","tags":[],"vpc_id":"f88a58ac-68fb-437d-839b-d85e266d5ba9","target_vpc_id":"2494b509-f1a9-4a85-9d66-9ab6d226be05"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T09:45:46.380561Z","id":"026e5590-c7b0-439c-b5e2-d563b9894bae","name":"tf-dsid-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2494b509-f1a9-4a85-9d66-9ab6d226be05","updated_at":"2026-03-24T09:45:46.380561Z","vpc_id":"f88a58ac-68fb-437d-839b-d85e266d5ba9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.507917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/026e5590-c7b0-439c-b5e2-d563b9894bae
        method: GET
      response:
        body: '{"created_at":"2026-03-24T09:45:46.380561Z","id":"026e5590-c7b0-439c-b5e2-d563b9894bae","name":"tf-dsid-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2494b509-f1a9-4a85-9d66-9ab6d226be05","updated_at":"2026-03-24T09:45:46.380561Z","vpc_id":"f88a58ac-68fb-437d-839b-d85e266d5ba9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.035458ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/026e5590-c7b0-439c-b5e2-d563b9894bae
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"026e5590-c7b0-439c-b5e2-d563b9894bae","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.628333ms
[...]
