---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPC_Basic02","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:15.899057Z","id":"ba32620d-0617-4566-b90a-6272951bb0a5","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:15.899057Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.662458ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ba32620d-0617-4566-b90a-6272951bb0a5
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:15.899057Z","id":"ba32620d-0617-4566-b90a-6272951bb0a5","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:15.899057Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.943125ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:16.082270Z","dhcp_enabled":true,"id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:16.082270Z","id":"9a6d3d22-2e64-4586-a764-a6d31967c976","private_network_id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"},{"created_at":"2025-01-28T10:05:16.082270Z","id":"d3bd27fb-7f59-4a96-ad1c-d2937b7275dd","private_network_id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:93a7::/64","updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"}],"tags":[],"updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 866.022584ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/013a2153-293c-463c-b6f5-47dd5b6b1d87
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:16.082270Z","dhcp_enabled":true,"id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:16.082270Z","id":"9a6d3d22-2e64-4586-a764-a6d31967c976","private_network_id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"},{"created_at":"2025-01-28T10:05:16.082270Z","id":"d3bd27fb-7f59-4a96-ad1c-d2937b7275dd","private_network_id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:93a7::/64","updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"}],"tags":[],"updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.975375ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=2006808a-bde0-41f4-9aed-dc3a6b198c5f
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-01-28T10:05:16.082270Z","dhcp_enabled":true,"id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:16.082270Z","id":"9a6d3d22-2e64-4586-a764-a6d31967c976","private_network_id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"},{"created_at":"2025-01-28T10:05:16.082270Z","id":"d3bd27fb-7f59-4a96-ad1c-d2937b7275dd","private_network_id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:93a7::/64","updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"}],"tags":[],"updated_at":"2025-01-28T10:05:16.082270Z","vpc_id":"2006808a-bde0-41f4-9aed-dc3a6b198c5f"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.752375ms
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/013a2153-293c-463c-b6f5-47dd5b6b1d87
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"013a2153-293c-463c-b6f5-47dd5b6b1d87","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.060792ms
[...]
