---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-10T16:02:20.695307Z","custom_routes_propagation_enabled":true,"id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-10T16:02:20.695307Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.129042ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e52d6159-66ee-4f0e-b061-ccd7ee910b1a
        method: GET
      response:
        body: '{"created_at":"2026-03-10T16:02:20.695307Z","custom_routes_propagation_enabled":true,"id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-10T16:02:20.695307Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.51275ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route_2","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-10T16:02:20.958479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","name":"tf-pn_route_2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-10T16:02:20.958479Z","id":"d4878f6b-f865-443b-8329-522484b42e72","private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.44.0/22","updated_at":"2026-03-10T16:02:20.958479Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"},{"created_at":"2026-03-10T16:02:20.958479Z","id":"99f345b0-0bc6-4597-9bf7-9588397158fd","private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a10e::/64","updated_at":"2026-03-10T16:02:20.958479Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"}],"tags":[],"updated_at":"2026-03-10T16:02:20.958479Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 653.61425ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/29a85b97-5f6e-42d9-a215-ddcf04c61786
        method: GET
      response:
        body: '{"created_at":"2026-03-10T16:02:20.958479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","name":"tf-pn_route_2","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-03-10T16:02:20.958479Z","id":"d4878f6b-f865-443b-8329-522484b42e72","private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.44.0/22","updated_at":"2026-03-10T16:02:20.958479Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"},{"created_at":"2026-03-10T16:02:20.958479Z","id":"99f345b0-0bc6-4597-9bf7-9588397158fd","private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:a10e::/64","updated_at":"2026-03-10T16:02:20.958479Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"}],"tags":[],"updated_at":"2026-03-10T16:02:20.958479Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.682666ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T16:02:23.068816Z","gateway_networks":[],"id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","ipv4":{"address":"51.158.126.22","created_at":"2026-03-10T16:02:23.038178Z","gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","id":"00995397-b35c-4959-8d0b-a10cf480841b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"22-126-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T16:02:23.038178Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T16:02:23.068816Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 650.184667ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/ec175d39-169d-42e1-9d4a-3c40c9d3eade
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T16:02:23.068816Z","gateway_networks":[],"id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","ipv4":{"address":"51.158.126.22","created_at":"2026-03-10T16:02:23.038178Z","gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","id":"00995397-b35c-4959-8d0b-a10cf480841b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"22-126-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T16:02:23.038178Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T16:02:23.120373Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.023458ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","private_network_id":"eb3bae2b-fdbe-4cb6-b35b-4b75aaee2c11","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 391.750417ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2026-03-10T16:02:28.591095Z","gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","id":"06ef2204-1927-4ba3-aceb-88574900de07","ipam_ip_id":"fb328668-8f6e-4c96-9887-4223edaffbc4","masquerade_enabled":true,"private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","push_default_route":true,"status":"created","updated_at":"2026-03-10T16:02:28.591095Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.540833ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/ec175d39-169d-42e1-9d4a-3c40c9d3eade
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T16:02:23.068816Z","gateway_networks":[{"created_at":"2026-03-10T16:02:28.591095Z","gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","id":"06ef2204-1927-4ba3-aceb-88574900de07","ipam_ip_id":"fb328668-8f6e-4c96-9887-4223edaffbc4","mac_address":"02:00:00:10:CA:55","masquerade_enabled":true,"private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","push_default_route":true,"status":"ready","updated_at":"2026-03-10T16:02:38.383323Z","zone":"fr-par-1"}],"id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","ipv4":{"address":"51.158.126.22","created_at":"2026-03-10T16:02:23.038178Z","gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","id":"00995397-b35c-4959-8d0b-a10cf480841b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"22-126-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T16:02:23.038178Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"running","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T16:02:38.546762Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.68675ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/06ef2204-1927-4ba3-aceb-88574900de07
        method: GET
      response:
        body: '{"created_at":"2026-03-10T16:02:28.591095Z","gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","id":"06ef2204-1927-4ba3-aceb-88574900de07","ipam_ip_id":"fb328668-8f6e-4c96-9887-4223edaffbc4","mac_address":"02:00:00:10:CA:55","masquerade_enabled":true,"private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","push_default_route":true,"status":"ready","updated_at":"2026-03-10T16:02:38.383323Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.67ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=29a85b97-5f6e-42d9-a215-ddcf04c61786&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=06ef2204-1927-4ba3-aceb-88574900de07&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.17.44.2/22","created_at":"2026-03-10T16:02:28.562473Z","id":"fb328668-8f6e-4c96-9887-4223edaffbc4","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"06ef2204-1927-4ba3-aceb-88574900de07","mac_address":"02:00:00:10:CA:55","name":"tf-gw-route","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"d4878f6b-f865-443b-8329-522484b42e72"},"tags":[],"updated_at":"2026-03-10T16:02:28.939846Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.205084ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=e52d6159-66ee-4f0e-b061-ccd7ee910b1a
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2026-03-10T16:02:20.958479Z","description":"Local Private Network route","destination":"fd46:78ab:30b8:a10e::/64","id":"","is_read_only":true,"nexthop_private_network_id":"29a85b97-5f6e-42d9-a215-ddcf04c61786","nexthop_resource_id":null,"nexthop_vpc_connector_id":null,"region":"fr-par","tags":["MANAGED"],"type":"subnet","updated_at":"2026-03-10T16:02:20.958479Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2026-03-10T16:02:21.063227Z","description":"Local Private Network route","destination":"fd46:78ab:30b8:cc14::/64","id":"","is_read_only":true,"nexthop_private_network_id":"eb3bae2b-fdbe-4cb6-b35b-4b75aaee2c11","nexthop_resource_id":null,"nexthop_vpc_connector_id":null,"region":"fr-par","tags":["MANAGED"],"type":"subnet","updated_at":"2026-03-10T16:02:21.063227Z","vpc_id":"e52d6159-66ee-4f0e-b061-ccd7ee910b1a"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.612541ms
    - id: 49
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=e52d6159-66ee-4f0e-b061-ccd7ee910b1a
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2026-03-10T16:02:20.958479Z","description":"[...]
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=eb3bae2b-fdbe-4cb6-b35b-4b75aaee2c11&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=e52d6159-66ee-4f0e-b061-ccd7ee910b1a
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 84
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/ec175d39-169d-42e1-9d4a-3c40c9d3eade?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2026-03-10T16:02:23.068816Z","gateway_networks":[],"id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","ipv4":{"address":"51.158.126.22","created_at":"2026-03-10T16:02:23.038178Z","gateway_id":"ec175d39-169d-42e1-9d4a-3c40c9d3eade","id":"00995397-b35c-4959-8d0b-a10cf480841b","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"22-126-158-51.instances.scw.cloud","tags":[],"updated_at":"2026-03-10T16:02:23.038178Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2026-03-10T16:02:56.680882Z","version":"0.7.8","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.944916ms
[...]
