---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-24T14:49:48.785598Z","dhcp_enabled":true,"id":"0d2d8171-6601-45ab-bad2-3151472596c6","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:49:48.785598Z","id":"0a4772dd-022b-45a3-88e6-7e0307c20be2","private_network_id":"0d2d8171-6601-45ab-bad2-3151472596c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:49:48.785598Z","id":"cccc8299-80ca-4dc0-a983-892857cc3446","private_network_id":"0d2d8171-6601-45ab-bad2-3151472596c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3926::/64","updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 634.108667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0d2d8171-6601-45ab-bad2-3151472596c6
        method: GET
      response:
        body: '{"created_at":"2025-01-24T14:49:48.785598Z","dhcp_enabled":true,"id":"0d2d8171-6601-45ab-bad2-3151472596c6","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:49:48.785598Z","id":"0a4772dd-022b-45a3-88e6-7e0307c20be2","private_network_id":"0d2d8171-6601-45ab-bad2-3151472596c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:49:48.785598Z","id":"cccc8299-80ca-4dc0-a983-892857cc3446","private_network_id":"0d2d8171-6601-45ab-bad2-3151472596c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3926::/64","updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.398083ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-01-24T14:49:48.785598Z","dhcp_enabled":true,"id":"0d2d8171-6601-45ab-bad2-3151472596c6","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-24T14:49:48.785598Z","id":"0a4772dd-022b-45a3-88e6-7e0307c20be2","private_network_id":"0d2d8171-6601-45ab-bad2-3151472596c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.0.0/22","updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-24T14:49:48.785598Z","id":"cccc8299-80ca-4dc0-a983-892857cc3446","private_network_id":"0d2d8171-6601-45ab-bad2-3151472596c6","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:3926::/64","updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-24T14:49:48.785598Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.067833ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0d2d8171-6601-45ab-bad2-3151472596c6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"0d2d8171-6601-45ab-bad2-3151472596c6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.753084ms
[...]
