---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"DataSourceVPC_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:52:47.727681Z","custom_routes_propagation_enabled":false,"id":"976c2567-6c95-4cab-a483-ac23971bfcc4","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-22T14:52:47.727681Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.533167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/976c2567-6c95-4cab-a483-ac23971bfcc4
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:52:47.727681Z","custom_routes_propagation_enabled":false,"id":"976c2567-6c95-4cab-a483-ac23971bfcc4","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-22T14:52:47.727681Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.229ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=DataSourceVPC_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2025-05-22T14:52:47.727681Z","custom_routes_propagation_enabled":false,"id":"976c2567-6c95-4cab-a483-ac23971bfcc4","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-22T14:52:47.727681Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.532334ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/976c2567-6c95-4cab-a483-ac23971bfcc4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"976c2567-6c95-4cab-a483-ac23971bfcc4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 24.905208ms
[...]
