---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsid-target","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T12:03:33.906664Z","custom_routes_propagation_enabled":true,"id":"f70b562e-6850-43fa-83cc-cb3aedb6e45b","is_default":false,"name":"tf-dsid-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T12:03:33.906664Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.38425ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f70b562e-6850-43fa-83cc-cb3aedb6e45b
        method: GET
      response:
        body: '{"created_at":"2026-03-24T12:03:33.906664Z","custom_routes_propagation_enabled":true,"id":"f70b562e-6850-43fa-83cc-cb3aedb6e45b","is_default":false,"name":"tf-dsid-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T12:03:33.906664Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.879958ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsid-conn","tags":[],"vpc_id":"c3095607-38c1-4c38-86bf-78ec1d9d40ab","target_vpc_id":"f70b562e-6850-43fa-83cc-cb3aedb6e45b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T12:03:34.029976Z","id":"ef043391-901a-44ca-9d62-ae96c62dd8e5","name":"tf-dsid-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"f70b562e-6850-43fa-83cc-cb3aedb6e45b","updated_at":"2026-03-24T12:03:34.029976Z","vpc_id":"c3095607-38c1-4c38-86bf-78ec1d9d40ab"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.158458ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/ef043391-901a-44ca-9d62-ae96c62dd8e5
        method: GET
      response:
        body: '{"created_at":"2026-03-24T12:03:34.029976Z","id":"ef043391-901a-44ca-9d62-ae96c62dd8e5","name":"tf-dsid-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"f70b562e-6850-43fa-83cc-cb3aedb6e45b","updated_at":"2026-03-24T12:03:34.029976Z","vpc_id":"c3095607-38c1-4c38-86bf-78ec1d9d40ab"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.594292ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/ef043391-901a-44ca-9d62-ae96c62dd8e5
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"ef043391-901a-44ca-9d62-ae96c62dd8e5","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.424ms
[...]
