---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayDataSourceVPCPrivateNetwork_Basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"name\":\"TestAccScalewayDataSourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:40.557316Z\",\"updated_at\":\"2025-08-26T16:32:40.557316Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"86180e31-f71e-43ad-8df8-57d6dddfeed9\",\"created_at\":\"2025-08-26T16:32:40.557316Z\",\"updated_at\":\"2025-08-26T16:32:40.557316Z\",\"subnet\":\"172.16.148.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"2cd5803f-f95f-4fad-80b6-c6fdaf53d29e\",\"created_at\":\"2025-08-26T16:32:40.557316Z\",\"updated_at\":\"2025-08-26T16:32:40.557316Z\",\"subnet\":\"fde7:767f:1bb5:cb15::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 2.334536615s
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ae54867-fd43-4b24-9d7b-2a9e20dcb76a
    method: GET
  response:
    body: "{\"id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"name\":\"TestAccScalewayDataSourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:40.557316Z\",\"updated_at\":\"2025-08-26T16:32:40.557316Z\",\"project_id\"[...]
[...]
- id: 5
  request:
    host: api.scaleway.com
    form:
      name:
      - TestAccScalewayDataSourceVPCPrivateNetwork_Basic
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
    method: GET
  response:
    body: "{\"private_networks\":[{\"id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"name\":\"TestAccScalewayDataSourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:40.557316Z\",\"updated_at\":\"2025-08-26T16:32:40.557316Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"86180e31-f71e-43ad-8df8-57d6dddfeed9\",\"created_at\":\"2025-08-26T16:32:40.557316Z\",\"updated_at\":\"2025-08-26T16:32:40.557316Z\",\"subnet\":\"172.16.148.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"},{\"id\":\"2cd5803f-f95f-4fad-80b6-c6fdaf53d29e\",\"created_at\":\"2025-08-26T16:32:40.557316Z\",\"updated_at\":\"2025-08-26T16:32:40.557316Z\",\"subnet\":\"fde7:767f:1bb5:cb15::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\"}],\"vpc_id\":\"bfef8344-f496-473e-af67-31ea9afc407c\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 165.269031ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/8ae54867-fd43-4b24-9d7b-2a9e20dcb76a
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"8ae54867-fd43-4b24-9d7b-2a9e20dcb76a\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 20.641248ms
[...]
