---
version: 2
interactions:
- request:
    body: '{"name":"TestAccScalewayResourceVPC_Basic02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: '{"created_at":"2024-01-12T10:26:04.732081Z","id":"2e3a515d-2512-47bf-af94-720a5e13db98","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T10:26:04.732081Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2e3a515d-2512-47bf-af94-720a5e13db98
    method: GET
  response:
    body: '{"created_at":"2024-01-12T10:26:04.732081Z","id":"2e3a515d-2512-47bf-af94-720a5e13db98","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","tags":[],"updated_at":"2024-01-12T10:26:04.732081Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":null,"subnets":null,"vpc_id":"2e3a515d-2512-47bf-af94-720a5e13db98"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: '{"created_at":"2024-01-12T10:26:04.968225Z","dhcp_enabled":true,"id":"0929b650-5b47-4080-a0ac-317ad24be6d3","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T10:26:04.968225Z","id":"1be611ce-7812-4e4b-ae6b-ea65635be515","subnet":"172.16.88.0/22","updated_at":"2024-01-12T10:26:04.968225Z"},{"created_at":"2024-01-12T10:26:04.968225Z","id":"004b9ca9-fea3-46bc-924d-accaccc009c3","subnet":"fd46:78ab:30b8:5510::/64","updated_at":"2024-01-12T10:26:04.968225Z"}],"tags":[],"updated_at":"2024-01-12T10:26:04.968225Z","vpc_id":"2e3a515d-2512-47bf-af94-720a5e13db98"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0929b650-5b47-4080-a0ac-317ad24be6d3
    method: GET
  response:
    body: '{"created_at":"2024-01-12T10:26:04.968225Z","dhcp_enabled":true,"id":"0929b650-5b47-4080-a0ac-317ad24be6d3","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T10:26:04.968225Z","id":"1be611ce-7812-4e4b-ae6b-ea65635be515","subnet":"172.16.88.0/22","updated_at":"2024-01-12T10:26:04.968225Z"},{"created_at":"2024-01-12T10:26:04.968225Z","id":"004b9ca9-fea3-46bc-924d-accaccc009c3","subnet":"fd46:78ab:30b8:5510::/64","updated_at":"2024-01-12T10:26:04.968225Z"}],"tags":[],"updated_at":"2024-01-12T10:26:04.968225Z","vpc_id":"2e3a515d-2512-47bf-af94-720a5e13db98"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=f4dbf5ec-85d6-4bb2-b9d1-b127f931ca0e
    method: GET
  response:
    body: '{"private_networks":[{"created_at":"2024-01-12T10:26:05.047372Z","dhcp_enabled":true,"id":"b31c396b-ab5a-4524-96f4-d3bb907b0dd1","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2024-01-12T10:26:05.047372Z","id":"d299f24e-a1f8-48da-afdf-0477528933a8","subnet":"172.16.80.0/22","updated_at":"2024-01-12T10:26:05.047372Z"},{"created_at":"2024-01-12T10:26:05.047372Z","id":"52d79ffc-193a-4fb6-a487-2b31ea028054","subnet":"fd46:78ab:30b8:81f::/64","updated_at":"2024-01-12T10:26:05.047372Z"}],"tags":[],"updated_at":"2024-01-12T10:26:05.047372Z","vpc_id":"f4dbf5ec-85d6-4bb2-b9d1-b127f931ca0e"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/b31c396b-ab5a-4524-96f4-d3bb907b0dd1
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"private_network","resource_id":"b31c396b-ab5a-4524-96f4-d3bb907b0dd1","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
[...]
