---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.128564Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:21:48.128564Z","id":"f7871569-7e6a-41eb-be8c-7d377a4faf34","private_network_id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.84.0/22","updated_at":"2025-06-30T15:21:48.128564Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:21:48.128564Z","id":"3e031658-963a-4a32-93a6-939fba3c40c2","private_network_id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c949::/64","updated_at":"2025-06-30T15:21:48.128564Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:21:48.128564Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 627.24925ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e920fd51-0361-4bd8-8a4e-37af8156bf57
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:21:48.128564Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":[...]
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-06-30T15:21:48.128564Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:21:48.128564Z","id":"f7871569-7e6a-41eb-be8c-7d377a4faf34","private_network_id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.84.0/22","updated_at":"2025-06-30T15:21:48.128564Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"},{"created_at":"2025-06-30T15:21:48.128564Z","id":"3e031658-963a-4a32-93a6-939fba3c40c2","private_network_id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:c949::/64","updated_at":"2025-06-30T15:21:48.128564Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"tags":[],"updated_at":"2025-06-30T15:21:48.128564Z","vpc_id":"086a5171-f7ab-4667-a231-840a81203f19"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.125084ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e920fd51-0361-4bd8-8a4e-37af8156bf57
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"e920fd51-0361-4bd8-8a4e-37af8156bf57","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.335541ms
[...]
