---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"DataSourceVPC_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2024-05-23T13:31:37.113534Z","id":"4c8b5adf-9952-4a58-966d-0c57e0861cff","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-23T13:31:37.113534Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.310691ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4c8b5adf-9952-4a58-966d-0c57e0861cff
        method: GET
      response:
        body: '{"created_at":"2024-05-23T13:31:37.113534Z","id":"4c8b5adf-9952-4a58-966d-0c57e0861cff","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-23T13:31:37.113534Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.16447ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=DataSourceVPC_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2024-05-23T13:31:37.113534Z","id":"4c8b5adf-9952-4a58-966d-0c57e0861cff","is_default":false,"name":"DataSourceVPC_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":[],"updated_at":"2024-05-23T13:31:37.113534Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.110439ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4c8b5adf-9952-4a58-966d-0c57e0861cff
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc","resource_id":"4c8b5adf-9952-4a58-966d-0c57e0861cff","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.029349ms
[...]
