---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsfilt-target","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":false,"enable_transitivity":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:47:03.331477Z","custom_routes_propagation_enabled":true,"id":"45b88ef1-7ac7-402b-b0ac-dca44b6fb509","is_default":false,"name":"tf-dsfilt-target","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T12:47:03.331477Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.35855ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 21.277344ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/45b88ef1-7ac7-402b-b0ac-dca44b6fb509
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:47:03.331477Z","custom_routes_propagation_enabled":true,"id":"45b88ef1-7ac7-402b-b0ac-dca44b6fb509","is_default":false,"name":"tf-dsfilt-target","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"transitivity_enabled":false,"updated_at":"2026-08-26T12:47:03.331477Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.449832ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsfilt-conn","tags":[],"vpc_id":"508f88f1-f587-4c02-b2f0-fb0a0a4467e1","target_vpc_id":"45b88ef1-7ac7-402b-b0ac-dca44b6fb509"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-08-26T12:47:03.523746Z","id":"0dba0b13-81cc-4032-9bbd-05baa5182004","name":"tf-dsfilt-conn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"45b88ef1-7ac7-402b-b0ac-dca44b6fb509","updated_at":"2026-08-26T12:47:03.523746Z","vpc_id":"508f88f1-f587-4c02-b2f0-fb0a0a4467e1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.902106ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/0dba0b13-81cc-4032-9bbd-05baa5182004
        method: GET
      response:
        body: '{"created_at":"2026-08-26T12:47:03.523746Z","id":"0dba0b13-81cc-4032-9bbd-05baa5182004","name":"tf-dsfilt-conn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"45b88ef1-7ac7-402b-b0ac-dca44b6fb509","updated_at":"2026-08-26T12:47:03.523746Z","vpc_id":"508f88f1-f587-4c02-b2f0-fb0a0a4467e1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.356865ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-dsfilt-conn&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-08-26T12:47:03.523746Z","id":"0dba0b13-81cc-4032-9bbd-05baa5182004","name":"tf-dsfilt-conn","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"45b88ef1-7ac7-402b-b0ac-dca44b6fb509","updated_at":"2026-08-26T12:47:03.523746Z","vpc_id":"508f88f1-f587-4c02-b2f0-fb0a0a4467e1"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.968162ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/0dba0b13-81cc-4032-9bbd-05baa5182004
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"0dba0b13-81cc-4032-9bbd-05baa5182004","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.899148ms
[...]
