---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:52:26.916503Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T14:52:26.916503Z","id":"b53c5363-3912-42d0-a36e-4d137601821e","private_network_id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.0.0/22","updated_at":"2025-05-22T14:52:26.916503Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-05-22T14:52:26.916503Z","id":"4ec6f267-1e6a-46fc-a111-fd3a2b5c0ee9","private_network_id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:cb05::/64","updated_at":"2025-05-22T14:52:26.916503Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-05-22T14:52:26.916503Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 985.220167ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4a4914f1-8656-40d5-869d-bbaee5040dd4
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:52:26.916503Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":[...]
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-05-22T14:52:26.916503Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T14:52:26.916503Z","id":"b53c5363-3912-42d0-a36e-4d137601821e","private_network_id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.0.0/22","updated_at":"2025-05-22T14:52:26.916503Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"},{"created_at":"2025-05-22T14:52:26.916503Z","id":"4ec6f267-1e6a-46fc-a111-fd3a2b5c0ee9","private_network_id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:cb05::/64","updated_at":"2025-05-22T14:52:26.916503Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"tags":[],"updated_at":"2025-05-22T14:52:26.916503Z","vpc_id":"4c837446-e418-4326-af43-4a445ea0aab8"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.886125ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4a4914f1-8656-40d5-869d-bbaee5040dd4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"4a4914f1-8656-40d5-869d-bbaee5040dd4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.213708ms
[...]
