---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-filter-source","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-23T16:25:06.852653Z","custom_routes_propagation_enabled":true,"id":"5e2a677e-f7b7-438a-8be3-1c9587317622","is_default":false,"name":"tf-ds-connector-filter-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T16:25:06.852653Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.786583ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5e2a677e-f7b7-438a-8be3-1c9587317622
        method: GET
      response:
        body: '{"created_at":"2026-03-23T16:25:06.852653Z","custom_routes_propagation_enabled":true,"id":"5e2a677e-f7b7-438a-8be3-1c9587317622","is_default":false,"name":"tf-ds-connector-filter-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T16:25:06.852653Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.364916ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-filter","tags":[],"vpc_id":"5e2a677e-f7b7-438a-8be3-1c9587317622","target_vpc_id":"2c610473-f8d3-4517-96d9-50585b4d0906"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-23T16:25:06.974744Z","id":"89385dc1-ab98-41f5-84cb-707c95189c51","name":"tf-ds-connector-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2c610473-f8d3-4517-96d9-50585b4d0906","updated_at":"2026-03-23T16:25:06.974744Z","vpc_id":"5e2a677e-f7b7-438a-8be3-1c9587317622"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.206959ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/89385dc1-ab98-41f5-84cb-707c95189c51
        method: GET
      response:
        body: '{"created_at":"2026-03-23T16:25:06.974744Z","id":"89385dc1-ab98-41f5-84cb-707c95189c51","name":"tf-ds-connector-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2c610473-f8d3-4517-96d9-50585b4d0906","updated_at":"2026-03-23T16:25:06.974744Z","vpc_id":"5e2a677e-f7b7-438a-8be3-1c9587317622"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.073417ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-ds-connector-filter&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-03-23T16:25:06.974744Z","id":"89385dc1-ab98-41f5-84cb-707c95189c51","name":"tf-ds-connector-filter","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"2c610473-f8d3-4517-96d9-50585b4d0906","updated_at":"2026-03-23T16:25:06.974744Z","vpc_id":"5e2a677e-f7b7-438a-8be3-1c9587317622"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.206ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/89385dc1-ab98-41f5-84cb-707c95189c51
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"89385dc1-ab98-41f5-84cb-707c95189c51","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.045625ms
[...]
