---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:16.035861Z","id":"f720ca31-f623-4fd6-927c-86a30029bd9c","is_default":false,"name":"tf-vpc-route-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:16.035861Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 598.078666ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f720ca31-f623-4fd6-927c-86a30029bd9c
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:16.035861Z","id":"f720ca31-f623-4fd6-927c-86a30029bd9c","is_default":false,"name":"tf-vpc-route-01","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-01-28T10:05:16.035861Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.3595ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null,"vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:05:16.183673Z","dhcp_enabled":true,"id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","name":"tf-pn_route","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:16.183673Z","id":"403d4d59-a7a4-4ac1-9035-a63eb6c4598f","private_network_id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-28T10:05:16.183673Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"},{"created_at":"2025-01-28T10:05:16.183673Z","id":"434bb0b8-72df-4500-9c31-e029ccc4d535","private_network_id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b6aa::/64","updated_at":"2025-01-28T10:05:16.183673Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"}],"tags":[],"updated_at":"2025-01-28T10:05:16.183673Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 828.82ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/096f0b26-855f-44a6-bb4f-eb76a73f42a0
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:05:16.183673Z","dhcp_enabled":true,"id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","name":"tf-pn_route","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:05:16.183673Z","id":"403d4d59-a7a4-4ac1-9035-a63eb6c4598f","private_network_id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.20.0/22","updated_at":"2025-01-28T10:05:16.183673Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"},{"created_at":"2025-01-28T10:05:16.183673Z","id":"434bb0b8-72df-4500-9c31-e029ccc4d535","private_network_id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:b6aa::/64","updated_at":"2025-01-28T10:05:16.183673Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"}],"tags":[],"updated_at":"2025-01-28T10:05:16.183673Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.684791ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-28T10:05:22.098871Z","gateway_networks":[],"id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","ip":{"address":"163.172.190.242","created_at":"2025-01-28T10:05:22.080386Z","gateway_id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","id":"a66f37f5-b1c0-4dc3-835d-4b1481ffd96a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"242-190-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-28T10:05:22.080386Z","zone":"fr-par-1"},"ip_mobility_enabled":false,"is_legacy":false,"name":"tf-gw-route","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-28T10:05:22.098871Z","upstream_dns_servers":[],"version":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.063000208s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91
        method: GET
      response:
        body: '{"bastion_enabled":false,"bastion_port":61000,"can_upgrade_to":null,"created_at":"2025-01-28T10:05:22.098871Z","gateway_networks":[],"id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","ip":{"address":"163.172.190.242","created_at":"2025-01-28T10:05:22.080386Z","gateway_id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","id":"a66f37f5-b1c0-4dc3-835d-4b1481ffd96a","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","reverse":"242-190-172-163.instances.scw.cloud","tags":[],"updated_at":"2025-01-28T10:05:22.080386Z","zone":"fr-par-1"},"ip_mobility_enabled":true,"is_legacy":false,"name":"tf-gw-route","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","smtp_enabled":false,"status":"allocating","tags":[],"type":{"bandwidth":100000000,"name":"VPC-GW-S","zone":"fr-par-1"},"updated_at":"2025-01-28T10:05:22.135097Z","upstream_dns_servers":[],"version":"0.7.3","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.023709ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","private_network_id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 560.730375ms
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","private_network_id":"9cb3032b-1bb9-4ced-a0e8-e099d7f65319","enable_masquerade":true,"enable_dhcp":true,"ipam_config":{"push_default_route":true,"ipam_ip_id":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"address":"172.16.28.2/22","created_at":"2025-01-28T10:05:27.777096Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","id":"1d6506fd-ebd0-4a54-96ef-08e3af29f175","ipam_config":{"ipam_ip_id":"026259f3-d6c2-43cd-a548-a8387566ab54","push_default_route":true},"mac_address":null,"private_network_id":"9cb3032b-1bb9-4ced-a0e8-e099d7f65319","status":"created","updated_at":"2025-01-28T10:05:27.777096Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 561.219333ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/1d6506fd-ebd0-4a54-96ef-08e3af29f175
        method: GET
      response:
        body: '{"address":"172.16.28.2/22","created_at":"2025-01-28T10:05:27.777096Z","dhcp":null,"enable_dhcp":true,"enable_masquerade":true,"gateway_id":"da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91","id":"1d6506fd-ebd0-4a54-96ef-08e3af29f175","ipam_config":{"ipam_ip_id":"026259f3-d6c2-43cd-a548-a8387566ab54","push_default_route":true},"mac_address":"02:00:00:12:31:08","private_network_id":"9cb3032b-1bb9-4ced-a0e8-e099d7f65319","status":"ready","updated_at":"2025-01-28T10:05:38.656834Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.35525ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=f720ca31-f623-4fd6-927c-86a30029bd9c
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-01-28T10:05:16.035861Z","description":"Generated route for subnet af716d85-14d3-4535-bffb-67bc68ab68a7","destination":"fd5f:519c:6d46:5f94::/64","id":"","is_read_only":true,"nexthop_private_network_id":"9cb3032b-1bb9-4ced-a0e8-e099d7f65319","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-01-28T10:05:16.035861Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-01-28T10:05:16.035861Z","description":"Generated route for subnet 434bb0b8-72df-4500-9c31-e029ccc4d535","destination":"fd5f:519c:6d46:b6aa::/64","id":"","is_read_only":true,"nexthop_private_network_id":"096f0b26-855f-44a6-bb4f-eb76a73f42a0","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-01-28T10:05:16.035861Z","vpc_id":"f720ca31-f623-4fd6-927c-86a30029bd9c"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.4855ms
    - id: 56
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=f720ca31-f623-4fd6-927c-86a30029bd9c
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-01-28T10:05:16.035861Z","description":"[...]
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=096f0b26-855f-44a6-bb4f-eb76a73f42a0&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=f720ca31-f623-4fd6-927c-86a30029bd9c
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 88
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateway-networks/1d6506fd-ebd0-4a54-96ef-08e3af29f175?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 74.709916ms
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v1/zones/fr-par-1/gateways/da2e0ce7-d35e-4a9b-84d6-5cf0a1144c91?cleanup_dhcp=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 48.841541ms
[...]
