---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPC_Basic02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.128676Z","custom_routes_propagation_enabled":false,"id":"2403b16d-9018-4a8e-90eb-bb167f2f7360","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:21:48.128676Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.556417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2403b16d-9018-4a8e-90eb-bb167f2f7360/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.128676Z","custom_routes_propagation_enabled":true,"id":"2403b16d-9018-4a8e-90eb-bb167f2f7360","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:21:48.173392Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.932541ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/2403b16d-9018-4a8e-90eb-bb167f2f7360
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:21:48.128676Z","custom_routes_propagation_enabled":true,"id":"2403b16d-9018-4a8e-90eb-bb167f2f7360","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:21:48.173392Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.128209ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"2403b16d-9018-4a8e-90eb-bb167f2f7360","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:21:48.265387Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6975022a-e7a3-4cc3-8490-4e89873ae9e1","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:21:48.265387Z","id":"9782f53f-2d86-40b5-91b1-7122c3a15cb5","private_network_id":"6975022a-e7a3-4cc3-8490-4e89873ae9e1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2025-06-30T15:21:48.265387Z","vpc_id":"2403b16d-9018-4a8e-90eb-bb167f2f7360"},{"created_at":"2025-06-30T15:21:48.265387Z","id":"76be111a-0d5a-43d8-b4d5-cbc548fa73d4","private_network_id":"6975022a-e7a3-4cc3-8490-4e89873ae9e1","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:d969::/64","updated_at":"2025-06-30T15:21:48.265387Z","vpc_id":"2403b16d-9018-4a8e-90eb-bb167f2f7360"}],"tags":[],"updated_at":"2025-06-30T15:21:48.265387Z","vpc_id":"2403b16d-9018-4a8e-90eb-bb167f2f7360"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 545.021167ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6975022a-e7a3-4cc3-8490-4e89873ae9e1
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:21:48.265387Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6975022a-e7a3-4cc3-8490-4e89873ae9e1","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"5[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=e6fcc98a-a9b9-47d4-9908-18c1511d05d2
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-06-30T15:21:48.354623Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e5afb553-4955-443a-a621-6b967c729ba6","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:21:48.354623Z","id":"33fd3896-fc9d-43de-b96f-5ec188150c16","private_network_id":"e5afb553-4955-443a-a621-6b967c729ba6","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.52.0/22","updated_at":"2025-06-30T15:21:48.354623Z","vpc_id":"e6fcc98a-a9b9-47d4-9908-18c1511d05d2"},{"created_at":"2025-06-30T15:21:48.354623Z","id":"c2c30f58-f3d9-4f6e-b23e-c58d5d43ae8b","private_network_id":"e5afb553-4955-443a-a621-6b967c729ba6","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:9fe4::/64","updated_at":"2025-06-30T15:21:48.354623Z","vpc_id":"e6fcc98a-a9b9-47d4-9908-18c1511d05d2"}],"tags":[],"updated_at":"2025-06-30T15:21:48.354623Z","vpc_id":"e6fcc98a-a9b9-47d4-9908-18c1511d05d2"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.02675ms
[...]
    - id: 48
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e5afb553-4955-443a-a621-6b967c729ba6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"e5afb553-4955-443a-a621-6b967c729ba6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 33.910083ms
[...]
