---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-vpc-route-01\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\",\"name\":\"tf-vpc-route-01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:37.133872Z\",\"updated_at\":\"2025-08-26T16:32:37.133872Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 80.827017ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/42d74229-3b6d-4b1e-b0a6-6186a836adab
    method: GET
  response:
    body: "{\"id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\",\"name\":\"tf-vpc-route-01\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:37.133872Z\",\"updated_at\":\"2025-08-26T16:32:37.133872Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 29.981233ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"tf-pn_route_2\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"name\":\"tf-pn_route_2\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:37.291217Z\",\"updated_at\":\"2025-08-26T16:32:37.291217Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"3d8d26b2-ab06-4fc0-a74d-0f651997d771\",\"created_at\":\"2025-08-26T16:32:37.291217Z\",\"updated_at\":\"2025-08-26T16:32:37.291217Z\",\"subnet\":\"172.16.36.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\"},{\"id\":\"6586eb8c-0434-4de5-92ba-3603e42d1992\",\"created_at\":\"2025-08-26T16:32:37.291217Z\",\"updated_at\":\"2025-08-26T16:32:37.291217Z\",\"subnet\":\"fde7:767f:1bb5:248d::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\"}],\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 964.785372ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/d6b3049f-070d-4580-9b7c-6ade213caa60
    method: GET
  response:
    body: "{\"id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"name\":\"tf-pn_route_2\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:37.291217Z\",\"updated_at\":\"2025-08-26T16:32:37.291217Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"3d8d26b2-ab06-4fc0-a74d-0f651997d771\",\"created_at\":\"2025-08-26T16:32:37.291217Z\",\"updated_at\":\"2025-08-26T16:32:37.291217Z\",\"subnet\":\"172.16.36.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\"},{\"id\":\"6586eb8c-0434-4de5-92ba-3603e42d1992\",\"created_at\":\"2025-08-26T16:32:37.291217Z\",\"updated_at\":\"2025-08-26T16:32:37.291217Z\",\"subnet\":\"fde7:767f:1bb5:248d::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\"}],\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 26.981509ms
[...]
- id: 12
  request:
    host: api.scaleway.com
    body: "{\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"name\":\"tf-gw-route\",\"tags\":[],\"type\":\"VPC-GW-S\",\"enable_smtp\":false,\"enable_bastion\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
    method: POST
  response:
    body: "{\"id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.158903Z\",\"updated_at\":\"2025-08-26T16:32:53.158903Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"tf-gw-route\",\"tags\":[],\"ipv4\":{\"id\":\"02084c47-d837-4289-8658-1a6e4d23a8ad\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.136984Z\",\"updated_at\":\"2025-08-26T16:32:53.136984Z\",\"tags\":[],\"address\":\"51.15.224.156\",\"reverse\":\"156-224-15-51.instances.scw.cloud\",\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 694.41526ms
- id: 13
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0ae09014-d28c-4410-a3e8-093b7f09a71e
    method: GET
  response:
    body: "{\"id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.158903Z\",\"updated_at\":\"2025-08-26T16:32:53.196075Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"allocating\",\"name\":\"tf-gw-route\",\"tags\":[],\"ipv4\":{\"id\":\"02084c47-d837-4289-8658-1a6e4d23a8ad\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.136984Z\",\"updated_at\":\"2025-08-26T16:32:53.136984Z\",\"tags\":[],\"address\":\"51.15.224.156\",\"reverse\":\"156-224-15-51.instances.scw.cloud\",\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 53.32705ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"enable_masquerade\":true,\"push_default_route\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: "{\"id\":\"e4aee31a-8690-4d61-a183-14fb56f993ec\",\"created_at\":\"2025-08-26T16:33:08.744145Z\",\"updated_at\":\"2025-08-26T16:33:08.744145Z\",\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"masquerade_enabled\":true,\"status\":\"created\",\"push_default_route\":true,\"ipam_ip_id\":\"a76d4f58-faec-40e9-b819-7d1d12ab5cd6\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 359.79154ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"private_network_id\":\"f0b26681-c692-4a52-8250-8478a5bde1bc\",\"enable_masquerade\":true,\"push_default_route\":true}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
    method: POST
  response:
    body: "{\"current_state\":\"configuring\",\"message\":\"resource is in a transient state\",\"resource\":\"gateway\",\"resource_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"type\":\"transient_state\"}"
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: 393.472382ms
[...]
- id: 26
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0ae09014-d28c-4410-a3e8-093b7f09a71e
    method: GET
  response:
    body: "{\"id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.158903Z\",\"updated_at\":\"2025-08-26T16:33:08.850368Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"configuring\",\"name\":\"tf-gw-route\",\"tags\":[],\"ipv4\":{\"id\":\"02084c47-d837-4289-8658-1a6e4d23a8ad\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.136984Z\",\"updated_at\":\"2025-08-26T16:32:53.136984Z\",\"tags\":[],\"address\":\"51.15.224.156\",\"reverse\":\"156-224-15-51.instances.scw.cloud\",\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[{\"id\":\"e4aee31a-8690-4d61-a183-14fb56f993ec\",\"created_at\":\"2025-08-26T16:33:08.744145Z\",\"updated_at\":\"2025-08-26T16:33:14.338210Z\",\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"mac_address\":\"02:00:00:1A:20:EB\",\"masquerade_enabled\":true,\"status\":\"configuring\",\"push_default_route\":true,\"ipam_ip_id\":\"a76d4f58-faec-40e9-b819-7d1d12ab5cd6\",\"zone\":\"fr-par-1\"}],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 29.620261ms
[...]
- id: 29
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/e4aee31a-8690-4d61-a183-14fb56f993ec
    method: GET
  response:
    body: "{\"id\":\"e4aee31a-8690-4d61-a183-14fb56f993ec\",\"created_at\":\"2025-08-26T16:33:08.744145Z\",\"updated_at\":\"2025-08-26T16:33:18.999181Z\",\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"mac_address\":\"02:00:00:1A:20:EB\",\"masquerade_enabled\":true,\"status\":\"ready\",\"push_default_route\":true,\"ipam_ip_id\":\"a76d4f58-faec-40e9-b819-7d1d12ab5cd6\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 43.225349ms
[...]
- id: 33
  request:
    host: api.scaleway.com
    form:
      order_by:
      - created_at_desc
      private_network_id:
      - d6b3049f-070d-4580-9b7c-6ade213caa60
      project_id:
      - d03c0af1-fec9-44aa-a12c-54cb13072778
      resource_id:
      - e4aee31a-8690-4d61-a183-14fb56f993ec
      resource_type:
      - vpc_gateway_network
    headers:
    url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=d6b3049f-070d-4580-9b7c-6ade213caa60&project_id=d03c0af1-fec9-44aa-a12c-54cb13072778&resource_id=e4aee31a-8690-4d61-a183-14fb56f993ec&resource_type=vpc_gateway_network
    method: GET
  response:
    body: "{\"total_count\":1,\"ips\":[{\"id\":\"a76d4f58-faec-40e9-b819-7d1d12ab5cd6\",\"address\":\"172.16.36.2/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_ipv6\":false,\"created_at\":\"2025-08-26T16:33:08.711991Z\",\"updated_at\":\"2025-08-26T16:33:09.095642Z\",\"source\":{\"subnet_id\":\"3d8d26b2-ab06-4fc0-a74d-0f651997d771\"},\"resource\":{\"type\":\"vpc_gateway_network\",\"id\":\"e4aee31a-8690-4d61-a183-14fb56f993ec\",\"mac_address\":\"02:00:00:1A:20:EB\",\"name\":\"tf-gw-route\"},\"tags\":[],\"reverses\":[],\"region\":\"fr-par\",\"zone\":null}]}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 47.632031ms
[...]
- id: 54
  request:
    host: api.scaleway.com
    form:
      is_ipv6:
      - "true"
      nexthop_resource_type:
      - unknown_type
      order_by:
      - created_at_asc
      vpc_id:
      - 42d74229-3b6d-4b1e-b0a6-6186a836adab
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=42d74229-3b6d-4b1e-b0a6-6186a836adab
    method: GET
  response:
    body: "{\"routes\":[{\"route\":{\"id\":\"\",\"created_at\":\"2025-08-26T16:32:37.291217Z\",\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\",\"destination\":\"fde7:767f:1bb5:248d::/64\",\"nexthop_resource_id\":null,\"nexthop_private_network_id\":\"d6b3049f-070d-4580-9b7c-6ade213caa60\",\"tags\":[\"generated\"],\"description\":\"Generated route for subnet 6586eb8c-0434-4de5-92ba-3603e42d1992\",\"updated_at\":\"2025-08-26T16:32:37.291217Z\",\"is_read_only\":true,\"region\":\"fr-par\"},\"nexthop_ip\":null,\"nexthop_name\":null,\"nexthop_resource_type\":\"unknown_type\"},{\"route\":{\"id\":\"\",\"created_at\":\"2025-08-26T16:32:37.569131Z\",\"vpc_id\":\"42d74229-3b6d-4b1e-b0a6-6186a836adab\",\"destination\":\"fde7:767f:1bb5:9686::/64\",\"nexthop_resource_id\":null,\"nexthop_private_network_id\":\"f0b26681-c692-4a52-8250-8478a5bde1bc\",\"tags\":[\"generated\"],\"description\":\"Generated route for subnet 8ba6a926-5351-4b57-804b-8a34ee1f1dbc\",\"updated_at\":\"2025-08-26T16:32:37.569131Z\",\"is_read_only\":true,\"region\":\"fr-par\"},\"nexthop_ip\":null,\"nexthop_name\":null,\"nexthop_resource_type\":\"unknown_type\"}],\"total_count\":2}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 60.557158ms
[...]
- id: 57
  request:
    host: api.scaleway.com
    form:
      nexthop_resource_type:
      - unknown_type
      order_by:
      - created_at_asc
      vpc_id:
      - 42d74229-3b6d-4b1e-b0a6-6186a836adab
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=42d74229-3b6d-4b1e-b0a6-6186a836adab
    method: GET
  response:
    body: "{\"routes\":[{\"route\":{\"id\":\"\",\"created_at\":\"2025-08-26[...]
[...]
- id: 60
  request:
    host: api.scaleway.com
    form:
      nexthop_private_network_id:
      - f0b26681-c692-4a52-8250-8478a5bde1bc
      nexthop_resource_type:
      - unknown_type
      order_by:
      - created_at_asc
      vpc_id:
      - 42d74229-3b6d-4b1e-b0a6-6186a836adab
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=f0b26681-c692-4a52-8250-8478a5bde1bc&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_[...]
[...]
- id: 96
  request:
    host: api.scaleway.com
    form:
      delete_ip:
      - "false"
    headers:
    url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/0ae09014-d28c-4410-a3e8-093b7f09a71e?delete_ip=false
    method: DELETE
  response:
    body: "{\"id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.158903Z\",\"updated_at\":\"2025-08-26T16:33:48.722969Z\",\"type\":\"VPC-GW-S\",\"bandwidth\":100,\"status\":\"deleting\",\"name\":\"tf-gw-route\",\"tags\":[],\"ipv4\":{\"id\":\"02084c47-d837-4289-8658-1a6e4d23a8ad\",\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"created_at\":\"2025-08-26T16:32:53.136984Z\",\"updated_at\":\"2025-08-26T16:32:53.136984Z\",\"tags\":[],\"address\":\"51.15.224.156\",\"reverse\":\"156-224-15-51.instances.scw.cloud\",\"gateway_id\":\"0ae09014-d28c-4410-a3e8-093b7f09a71e\",\"zone\":\"fr-par-1\"},\"gateway_networks\":[],\"version\":\"0.7.4\",\"bastion_enabled\":false,\"bastion_port\":61000,\"smtp_enabled\":false,\"is_legacy\":false,\"bastion_allowed_ips\":[\"0.0.0.0/0\"],\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.201983ms
[...]
