---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?is_default=true&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":3,"vpcs":[{"created_at":"2026-07-04T02:28:22.372693Z","custom_routes_propagation_enabled":true,"id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc","is_default":true,"name":"default","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["default"],"transitivity_enabled":false,"updated_at":"2026-07-04T02:28:22.372693Z"},{"created_at":"2026-08-17T01:08:57.972487Z","custom_routes_propagation_enabled":true,"id":"10363268-cf39-4ad8-b64b-567dea02e219","is_default":true,"name":"default","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"a8414ea7-9b33-45f4-aea2-4561aca8ca11","region":"fr-par","routing_enabled":true,"tags":["default"],"transitivity_enabled":false,"updated_at":"2026-08-17T01:08:57.972487Z"},{"created_at":"2026-08-23T01:04:10.045673Z","custom_routes_propagation_enabled":true,"id":"1492992a-520d-432e-8342-c80111be5d8b","is_default":true,"name":"default","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"1092008c-fcb4-402b-b916-89d57c0ccce8","region":"fr-par","routing_enabled":true,"tags":["default"],"transitivity_enabled":false,"updated_at":"2026-08-23T01:04:10.045673Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 659.77456ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/metadata
        method: GET
      response:
        body: '{"domain":"scw.eu","partition":"scw","platform":"external"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.950391ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc
        method: GET
      response:
        body: '{"created_at":"2026-07-04T02:28:22.372693Z","custom_routes_propagation_enabled":true,"id":"f436f2b8-f81d-4fa2-a7f3-63a1f52f71fc","is_default":true,"name":"default","object_storage_private_access_enabled":false,"organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","routing_enabled":true,"tags":["default"],"transitivity_enabled":false,"updated_at":"2026-07-04T02:28:22.372693Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.597499ms
[...]
