---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsfilt-target","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T12:03:42.963191Z","custom_routes_propagation_enabled":true,"id":"28f71f08-0740-41d5-98a2-78c3e1ec98df","is_default":false,"name":"tf-dsfilt-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T12:03:42.963191Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.293667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/28f71f08-0740-41d5-98a2-78c3e1ec98df
        method: GET
      response:
        body: '{"created_at":"2026-03-24T12:03:42.963191Z","custom_routes_propagation_enabled":true,"id":"28f71f08-0740-41d5-98a2-78c3e1ec98df","is_default":false,"name":"tf-dsfilt-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T12:03:42.963191Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.716708ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-dsfilt-conn","tags":[],"vpc_id":"a201fd31-77a7-4339-a3f0-905ea4d1f4de","target_vpc_id":"28f71f08-0740-41d5-98a2-78c3e1ec98df"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T12:03:43.142579Z","id":"2a665e08-0ebb-4712-a108-2d7261f349c4","name":"tf-dsfilt-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"28f71f08-0740-41d5-98a2-78c3e1ec98df","updated_at":"2026-03-24T12:03:43.142579Z","vpc_id":"a201fd31-77a7-4339-a3f0-905ea4d1f4de"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.768292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/2a665e08-0ebb-4712-a108-2d7261f349c4
        method: GET
      response:
        body: '{"created_at":"2026-03-24T12:03:43.142579Z","id":"2a665e08-0ebb-4712-a108-2d7261f349c4","name":"tf-dsfilt-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"28f71f08-0740-41d5-98a2-78c3e1ec98df","updated_at":"2026-03-24T12:03:43.142579Z","vpc_id":"a201fd31-77a7-4339-a3f0-905ea4d1f4de"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.377542ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-dsfilt-conn&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-03-24T12:03:43.142579Z","id":"2a665e08-0ebb-4712-a108-2d7261f349c4","name":"tf-dsfilt-conn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"28f71f08-0740-41d5-98a2-78c3e1ec98df","updated_at":"2026-03-24T12:03:43.142579Z","vpc_id":"a201fd31-77a7-4339-a3f0-905ea4d1f4de"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.582333ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/2a665e08-0ebb-4712-a108-2d7261f349c4
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"2a665e08-0ebb-4712-a108-2d7261f349c4","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 28.449166ms
[...]
