---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPC_Basic02","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:53:01.782161Z","custom_routes_propagation_enabled":false,"id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-22T14:53:01.782161Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.268833ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/5f50156d-5166-47eb-bfd0-1ac5d2ae78e7
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:53:01.782161Z","custom_routes_propagation_enabled":false,"id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7","is_default":false,"name":"TestAccScalewayResourceVPC_Basic02","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-22T14:53:01.782161Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 29.907125ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"subnets":null,"vpc_id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-22T14:53:01.910392Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"656952d2-9dd9-41e8-a493-5342bb429dbd","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T14:53:01.910392Z","id":"b9e6ba38-a9b8-47e9-8bd1-4cd9c6e01d6b","private_network_id":"656952d2-9dd9-41e8-a493-5342bb429dbd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.8.0/22","updated_at":"2025-05-22T14:53:01.910392Z","vpc_id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7"},{"created_at":"2025-05-22T14:53:01.910392Z","id":"4e46e221-2cd8-48eb-b24b-d003be671b99","private_network_id":"656952d2-9dd9-41e8-a493-5342bb429dbd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:1fb4::/64","updated_at":"2025-05-22T14:53:01.910392Z","vpc_id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7"}],"tags":[],"updated_at":"2025-05-22T14:53:01.910392Z","vpc_id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 575.755375ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/656952d2-9dd9-41e8-a493-5342bb429dbd
        method: GET
      response:
        body: '{"created_at":"2025-05-22T14:53:01.910392Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"656952d2-9dd9-41e8-a493-5342bb429dbd","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"9[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=5f50156d-5166-47eb-bfd0-1ac5d2ae78e7
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-05-22T14:53:01.910392Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"656952d2-9dd9-41e8-a493-5342bb429dbd","name":"TestAccScalewayResourceVPCPrivateNetwork_Basic","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","region":"fr-par","subnets":[{"created_at":"2025-05-22T14:53:01.910392Z","id":"b9e6ba38-a9b8-47e9-8bd1-4cd9c6e01d6b","private_network_id":"656952d2-9dd9-41e8-a493-5342bb429dbd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"172.16.8.0/22","updated_at":"2025-05-22T14:53:01.910392Z","vpc_id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7"},{"created_at":"2025-05-22T14:53:01.910392Z","id":"4e46e221-2cd8-48eb-b24b-d003be671b99","private_network_id":"656952d2-9dd9-41e8-a493-5342bb429dbd","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","subnet":"fd49:821a:a311:1fb4::/64","updated_at":"2025-05-22T14:53:01.910392Z","vpc_id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7"}],"tags":[],"updated_at":"2025-05-22T14:53:01.910392Z","vpc_id":"5f50156d-5166-47eb-bfd0-1ac5d2ae78e7"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.333333ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/656952d2-9dd9-41e8-a493-5342bb429dbd
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"656952d2-9dd9-41e8-a493-5342bb429dbd","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.790208ms
[...]
