---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayResourceVPC_Basic02\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"enable_routing\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
    method: POST
  response:
    body: "{\"id\":\"ce6167e1-84a2-4ccb-af21-fe672dd51d64\",\"name\":\"TestAccScalewayResourceVPC_Basic02\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.887249Z\",\"updated_at\":\"2025-08-26T16:32:38.887249Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 84.281797ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ce6167e1-84a2-4ccb-af21-fe672dd51d64
    method: GET
  response:
    body: "{\"id\":\"ce6167e1-84a2-4ccb-af21-fe672dd51d64\",\"name\":\"TestAccScalewayResourceVPC_Basic02\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:38.887249Z\",\"updated_at\":\"2025-08-26T16:32:38.887249Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"is_default\":false,\"private_network_count\":0,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":true,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 36.740121ms
[...]
- id: 4
  request:
    host: api.scaleway.com
    body: "{\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"tags\":[],\"subnets\":null,\"vpc_id\":\"cbba0c2c-0344-4ec8-9677-9b05d2a9f372\",\"default_route_propagation_enabled\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
    method: POST
  response:
    body: "{\"id\":\"696c4aec-c225-41fd-a405-25c3008ea399\",\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:39.521550Z\",\"updated_at\":\"2025-08-26T16:32:39.521550Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"08de0524-727c-415a-8883-206272d0a5d3\",\"created_at\":\"2025-08-26T16:32:39.521550Z\",\"updated_at\":\"2025-08-26T16:32:39.521550Z\",\"subnet\":\"172.16.40.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"696c4aec-c225-41fd-a405-25c3008ea399\",\"vpc_id\":\"cbba0c2c-0344-4ec8-9677-9b05d2a9f372\"},{\"id\":\"f019eef1-9ebd-4c40-a9af-541954276243\",\"created_at\":\"2025-08-26T16:32:39.521550Z\",\"updated_at\":\"2025-08-26T16:32:39.521550Z\",\"subnet\":\"fde7:767f:1bb5:ed6::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"696c4aec-c225-41fd-a405-25c3008ea399\",\"vpc_id\":\"cbba0c2c-0344-4ec8-9677-9b05d2a9f372\"}],\"vpc_id\":\"cbba0c2c-0344-4ec8-9677-9b05d2a9f372\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.725628869s
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/696c4aec-c225-41fd-a405-25c3008ea399
    method: GET
  response:
    body: "{\"id\":\"696c4aec-c225-41fd-a405-25c3008ea399\",\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:39.521550Z\",\"updated_at\":\"2025-08-26T16:32:39.521550Z\",\"project_id\":\[...]
[...]
- id: 15
  request:
    host: api.scaleway.com
    form:
      name:
      - TestAccScalewayResourceVPCPrivateNetwork_Basic
      order_by:
      - created_at_asc
      vpc_id:
      - ce6167e1-84a2-4ccb-af21-fe672dd51d64
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayResourceVPCPrivateNetwork_Basic&order_by=created_at_asc&vpc_id=ce6167e1-84a2-4ccb-af21-fe672dd51d64
    method: GET
  response:
    body: "{\"private_networks\":[{\"id\":\"0823b281-c0a6-4148-bd7f-be1466e35cb7\",\"name\":\"TestAccScalewayResourceVPCPrivateNetwork_Basic\",\"tags\":[],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-08-26T16:32:39.998348Z\",\"updated_at\":\"2025-08-26T16:32:39.998348Z\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"subnets\":[{\"id\":\"02415546-e1a2-4078-8d70-da4b2568480c\",\"created_at\":\"2025-08-26T16:32:39.998348Z\",\"updated_at\":\"2025-08-26T16:32:39.998348Z\",\"subnet\":\"172.16.112.0/22\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0823b281-c0a6-4148-bd7f-be1466e35cb7\",\"vpc_id\":\"ce6167e1-84a2-4ccb-af21-fe672dd51d64\"},{\"id\":\"5a7060f5-6dfb-472e-963b-3946e839c517\",\"created_at\":\"2025-08-26T16:32:39.998348Z\",\"updated_at\":\"2025-08-26T16:32:39.998348Z\",\"subnet\":\"fde7:767f:1bb5:a0fa::/64\",\"project_id\":\"d03c0af1-fec9-44aa-a12c-54cb13072778\",\"private_network_id\":\"0823b281-c0a6-4148-bd7f-be1466e35cb7\",\"vpc_id\":\"ce6167e1-84a2-4ccb-af21-fe672dd51d64\"}],\"vpc_id\":\"ce6167e1-84a2-4ccb-af21-fe672dd51d64\",\"dhcp_enabled\":true,\"default_route_propagation_enabled\":false,\"region\":\"fr-par\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.787095ms
[...]
- id: 46
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/0823b281-c0a6-4148-bd7f-be1466e35cb7
    method: GET
  response:
    body: "{\"message\":\"resource is not found\",\"resource\":\"private_network\",\"resource_id\":\"0823b281-c0a6-4148-bd7f-be1466e35cb7\",\"type\":\"not_found\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 26.025579ms
[...]
