---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      is_default:
      - "true"
      order_by:
      - created_at_asc
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?is_default=true&order_by=created_at_asc
    method: GET
  response:
    body: "{\"vpcs\":[{\"id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"name\":\"default\",\"tags\":[\"default\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2023-04-04T09:04:28.711230Z\",\"updated_at\":\"2023-04-04T09:04:28.711230Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":true,\"private_network_count\":3,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":false,\"region\":\"fr-par\"},{\"id\":\"fc05c4f6-418f-4e88-9dc5-b424b1dd6a53\",\"name\":\"default\",\"tags\":[\"default\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2024-10-10T15:51:52.742925Z\",\"updated_at\":\"2024-10-10T15:51:52.742925Z\",\"project_id\":\"f5375b18-7efc-4416-ab13-c42af955602c\",\"is_default\":true,\"private_network_count\":0,\"routing_enabled\":false,\"custom_routes_propagation_enabled\":false,\"region\":\"fr-par\"},{\"id\":\"ef089b99-cfb2-4a9f-93fa-aea0fa98e[...]
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/8feba4f5-79f9-42cd-b5ce-3ed8c510569e
    method: GET
  response:
    body: "{\"id\":\"8feba4f5-79f9-42cd-b5ce-3ed8c510569e\",\"name\":\"default\",\"tags\":[\"default\"],\"organization_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2023-04-04T09:04:28.711230Z\",\"updated_at\":\"2023-04-04T09:04:28.711230Z\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"is_default\":true,\"private_network_count\":3,\"routing_enabled\":true,\"custom_routes_propagation_enabled\":false,\"region\":\"fr-par\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 26.697024ms
[...]
