---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-05-19T15:32:18.632606Z","custom_routes_propagation_enabled":false,"id":"7491ea89-816d-42c2-bfe1-1bd291e4c176","is_default":false,"name":"tf-vpc-route-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-19T15:32:18.632606Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.402043ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/7491ea89-816d-42c2-bfe1-1bd291e4c176
        method: GET
      response:
        body: '{"created_at":"2025-05-19T15:32:18.632606Z","custom_routes_propagation_enabled":false,"id":"7491ea89-816d-42c2-bfe1-1bd291e4c176","is_default":false,"name":"tf-vpc-route-01","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","private_network_count":0,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-05-19T15:32:18.632606Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.11386ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":[],"subnets":null,"vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-19T15:32:18.926479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","name":"tf-pn_route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-19T15:32:18.926479Z","id":"9bec03dd-82ba-4369-873d-665f9ce62099","private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.36.0/22","updated_at":"2025-05-19T15:32:18.926479Z","vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"},{"created_at":"2025-05-19T15:32:18.926479Z","id":"61cbf55d-1505-402a-949f-0db0cbafd6e0","private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b19a::/64","updated_at":"2025-05-19T15:32:18.926479Z","vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"}],"tags":[],"updated_at":"2025-05-19T15:32:18.926479Z","vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 801.118747ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/40c1e776-dde0-4693-9b46-d9d8f89d80a2
        method: GET
      response:
        body: '{"created_at":"2025-05-19T15:32:18.926479Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","name":"tf-pn_route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","subnets":[{"created_at":"2025-05-19T15:32:18.926479Z","id":"9bec03dd-82ba-4369-873d-665f9ce62099","private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"172.16.36.0/22","updated_at":"2025-05-19T15:32:18.926479Z","vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"},{"created_at":"2025-05-19T15:32:18.926479Z","id":"61cbf55d-1505-402a-949f-0db0cbafd6e0","private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","subnet":"fd63:256c:45f7:b19a::/64","updated_at":"2025-05-19T15:32:18.926479Z","vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"}],"tags":[],"updated_at":"2025-05-19T15:32:18.926479Z","vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.876617ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: '{"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-19T15:32:23.984721Z","gateway_networks":[],"id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","ipv4":{"address":"51.158.65.168","created_at":"2025-05-19T15:32:23.956418Z","gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","id":"62e914bd-0ddb-4366-9f56-9c500d6e5f0d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"168-65-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-19T15:32:23.956418Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-19T15:32:23.984721Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.821948963s
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-19T15:32:23.984721Z","gateway_networks":[],"id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","ipv4":{"address":"51.158.65.168","created_at":"2025-05-19T15:32:23.956418Z","gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","id":"62e914bd-0ddb-4366-9f56-9c500d6e5f0d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"168-65-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-19T15:32:23.956418Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-19T15:32:24.244546Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.234378ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-05-19T15:32:35.230773Z","gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","id":"b224dbc0-d5b5-402e-b83b-33ecb11b52ce","ipam_ip_id":"86895dcc-ac30-48a9-951c-722732e603d9","masquerade_enabled":true,"private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","push_default_route":true,"status":"created","updated_at":"2025-05-19T15:32:35.230773Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 954.776211ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","private_network_id":"05c3f641-bf82-4ee2-b2a3-fdbb63665fdb","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 984.777394ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-19T15:32:23.984721Z","gateway_networks":[{"created_at":"2025-05-19T15:32:35.230773Z","gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","id":"b224dbc0-d5b5-402e-b83b-33ecb11b52ce","ipam_ip_id":"86895dcc-ac30-48a9-951c-722732e603d9","mac_address":"02:00:00:12:3F:95","masquerade_enabled":true,"private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","push_default_route":true,"status":"ready","updated_at":"2025-05-19T15:32:45.605974Z","zone":"fr-par-1"}],"id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","ipv4":{"address":"51.158.65.168","created_at":"2025-05-19T15:32:23.956418Z","gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","id":"62e914bd-0ddb-4366-9f56-9c500d6e5f0d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"168-65-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-19T15:32:23.956418Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-19T15:32:35.330149Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.478748ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/b224dbc0-d5b5-402e-b83b-33ecb11b52ce
        method: GET
      response:
        body: '{"created_at":"2025-05-19T15:32:35.230773Z","gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","id":"b224dbc0-d5b5-402e-b83b-33ecb11b52ce","ipam_ip_id":"86895dcc-ac30-48a9-951c-722732e603d9","mac_address":"02:00:00:12:3F:95","masquerade_enabled":true,"private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","push_default_route":true,"status":"ready","updated_at":"2025-05-19T15:32:45.605974Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.136275ms
[...]
    - id: 32
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=40c1e776-dde0-4693-9b46-d9d8f89d80a2&project_id=fa1e3217-dc80-42ac-85c3-3f034b78b552&resource_id=b224dbc0-d5b5-402e-b83b-33ecb11b52ce&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.36.2/22","created_at":"2025-05-19T15:32:35.101810Z","id":"86895dcc-ac30-48a9-951c-722732e603d9","is_ipv6":false,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","region":"fr-par","resource":{"id":"b224dbc0-d5b5-402e-b83b-33ecb11b52ce","mac_address":"02:00:00:12:3F:95","name":"tf-gw-route","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"9bec03dd-82ba-4369-873d-665f9ce62099"},"tags":[],"updated_at":"2025-05-19T15:32:35.600856Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.372879ms
[...]
    - id: 55
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=7491ea89-816d-42c2-bfe1-1bd291e4c176
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-05-19T15:32:18.632606Z","description":"Generated route for subnet 5d805329-a070-446d-b701-343eb960e6da","destination":"172.16.32.0/22","id":"","is_read_only":true,"nexthop_private_network_id":"05c3f641-bf82-4ee2-b2a3-fdbb63665fdb","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-05-19T15:32:18.632606Z","vpc_id":"7491ea89-816d-42c2-bfe1-1bd291e4c176"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-05-19T15:32:18.632606Z","description":"Generated route for subnet 9bec03dd-82ba-4369-873d-665f9ce62099","destination":"172.16.36.0/22","id":"","is_read_only":true,"nexthop_private_network_id":"40c1e776-dde0-4693-9b46-d9d8f89d80a2","nexthop_resource_id":null[...]
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=7491ea89-816d-42c2-bfe1-1bd291e4c176
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-05-19T15:32:18.632606Z","d[...]
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=40c1e776-dde0-4693-9b46-d9d8f89d80a2&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=7491ea89-816d-42c2-bfe1-1bd291e4c176
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 95
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-05-19T15:32:23.984721Z","gateway_networks":[],"id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","ipv4":{"address":"51.158.65.168","created_at":"2025-05-19T15:32:23.956418Z","gateway_id":"d4a89f7d-e1d3-4fb0-bf4f-ec8f41d4a941","id":"62e914bd-0ddb-4366-9f56-9c500d6e5f0d","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","reverse":"168-65-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-05-19T15:32:23.956418Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-05-19T15:33:11.791076Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.979483ms
[...]
