---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-route-01","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:23:59.385683Z","custom_routes_propagation_enabled":false,"id":"a8158600-2717-41cd-a673-de50cb3a6ef9","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:23:59.385683Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.992833ms
    - id: 1
      request:
        host: api.scaleway.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a8158600-2717-41cd-a673-de50cb3a6ef9/enable-custom-routes-propagation
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:23:59.385683Z","custom_routes_propagation_enabled":true,"id":"a8158600-2717-41cd-a673-de50cb3a6ef9","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:23:59.430269Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.954083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a8158600-2717-41cd-a673-de50cb3a6ef9
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:23:59.385683Z","custom_routes_propagation_enabled":true,"id":"a8158600-2717-41cd-a673-de50cb3a6ef9","is_default":false,"name":"tf-vpc-route-01","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2025-06-30T15:23:59.430269Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.344459ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"tf-pn_route","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:23:59.524908Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","name":"tf-pn_route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:23:59.524908Z","id":"4ad24b96-4ae4-400c-af10-b6f51a74314c","private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2025-06-30T15:23:59.524908Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"},{"created_at":"2025-06-30T15:23:59.524908Z","id":"c1bcd070-750b-4411-8209-2776bca31d80","private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8b3::/64","updated_at":"2025-06-30T15:23:59.524908Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"}],"tags":[],"updated_at":"2025-06-30T15:23:59.524908Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 588.365ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/6c7adeac-124d-4e43-a86c-6e0124f85a02
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:23:59.524908Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","name":"tf-pn_route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2025-06-30T15:23:59.524908Z","id":"4ad24b96-4ae4-400c-af10-b6f51a74314c","private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.16.12.0/22","updated_at":"2025-06-30T15:23:59.524908Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"},{"created_at":"2025-06-30T15:23:59.524908Z","id":"c1bcd070-750b-4411-8209-2776bca31d80","private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:8b3::/64","updated_at":"2025-06-30T15:23:59.524908Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"}],"tags":[],"updated_at":"2025-06-30T15:23:59.524908Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.691541ms
[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: '{"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","name":"tf-gw-route","tags":[],"type":"VPC-GW-S","enable_smtp":false,"enable_bastion":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways
        method: POST
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:24:01.711317Z","gateway_networks":[],"id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","ipv4":{"address":"51.158.78.190","created_at":"2025-06-30T15:24:01.681923Z","gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","id":"40b2c3eb-dd3d-4929-9dc9-694db26be5a8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"190-78-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:24:01.681923Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:24:01.711317Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 883.2015ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/abdbc9ef-a719-4aec-99e8-c6b5e2835691
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:24:01.711317Z","gateway_networks":[],"id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","ipv4":{"address":"51.158.78.190","created_at":"2025-06-30T15:24:01.681923Z","gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","id":"40b2c3eb-dd3d-4929-9dc9-694db26be5a8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"190-78-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:24:01.681923Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"allocating","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:24:01.755003Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.969375ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","private_network_id":"58612a64-0549-4877-a0c6-0a149a7e69c2","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","type":"transient_state"}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 2.937582875s
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","enable_masquerade":true,"push_default_route":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks
        method: POST
      response:
        body: '{"created_at":"2025-06-30T15:24:14.831534Z","gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","id":"2df393b9-afc2-43f0-8bd3-5aca94254820","ipam_ip_id":"36ed7fed-a58f-4c5e-b3d7-dba38656f385","masquerade_enabled":true,"private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","push_default_route":true,"status":"created","updated_at":"2025-06-30T15:24:14.831534Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.942244625s
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/abdbc9ef-a719-4aec-99e8-c6b5e2835691
        method: GET
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:24:01.711317Z","gateway_networks":[{"created_at":"2025-06-30T15:24:14.831534Z","gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","id":"2df393b9-afc2-43f0-8bd3-5aca94254820","ipam_ip_id":"36ed7fed-a58f-4c5e-b3d7-dba38656f385","mac_address":"02:00:00:16:36:B5","masquerade_enabled":true,"private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","push_default_route":true,"status":"configuring","updated_at":"2025-06-30T15:24:20.509608Z","zone":"fr-par-1"}],"id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","ipv4":{"address":"51.158.78.190","created_at":"2025-06-30T15:24:01.681923Z","gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","id":"40b2c3eb-dd3d-4929-9dc9-694db26be5a8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"190-78-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:24:01.681923Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"configuring","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:24:14.947685Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.549834ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateway-networks/2df393b9-afc2-43f0-8bd3-5aca94254820
        method: GET
      response:
        body: '{"created_at":"2025-06-30T15:24:14.831534Z","gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","id":"2df393b9-afc2-43f0-8bd3-5aca94254820","ipam_ip_id":"36ed7fed-a58f-4c5e-b3d7-dba38656f385","mac_address":"02:00:00:16:36:B5","masquerade_enabled":true,"private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","push_default_route":true,"status":"ready","updated_at":"2025-06-30T15:24:26.213205Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.1885ms
[...]
    - id: 33
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/ipam/v1/regions/fr-par/ips?order_by=created_at_desc&private_network_id=6c7adeac-124d-4e43-a86c-6e0124f85a02&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5&resource_id=2df393b9-afc2-43f0-8bd3-5aca94254820&resource_type=vpc_gateway_network
        method: GET
      response:
        body: '{"ips":[{"address":"172.16.12.2/22","created_at":"2025-06-30T15:24:13.813194Z","id":"36ed7fed-a58f-4c5e-b3d7-dba38656f385","is_ipv6":false,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","resource":{"id":"2df393b9-afc2-43f0-8bd3-5aca94254820","mac_address":"02:00:00:16:36:B5","name":"tf-gw-route","type":"vpc_gateway_network"},"reverses":[],"source":{"subnet_id":"4ad24b96-4ae4-400c-af10-b6f51a74314c"},"tags":[],"updated_at":"2025-06-30T15:24:15.230801Z","zone":null}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.074875ms
[...]
    - id: 57
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?is_ipv6=true&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=a8158600-2717-41cd-a673-de50cb3a6ef9
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-06-30T15:23:59.385683Z","description":"Generated route for subnet c1bcd070-750b-4411-8209-2776bca31d80","destination":"fd46:78ab:30b8:8b3::/64","id":"","is_read_only":true,"nexthop_private_network_id":"6c7adeac-124d-4e43-a86c-6e0124f85a02","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-06-30T15:23:59.385683Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-06-30T15:23:59.385683Z","description":"Generated route for subnet c175f945-e17c-4909-b81e-71aff33de567","destination":"fd46:78ab:30b8:f559::/64","id":"","is_read_only":true,"nexthop_private_network_id":"58612a64-0549-4877-a0c6-0a149a7e69c2","nexthop_resource_id":null,"region":"fr-par","tags":["generated"],"updated_at":"2025-06-30T15:23:59.385683Z","vpc_id":"a8158600-2717-41cd-a673-de50cb3a6ef9"}}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.157375ms
    - id: 58
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=a8158600-2717-41cd-a673-de50cb3a6ef9
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2025-06-30T15:23:59.385683Z","description":"[...]
[...]
    - id: 61
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=6c7adeac-124d-4e43-a86c-6e0124f85a02&nexthop_resource_type=unknown_type&order_by=created_at_asc&vpc_id=a8158600-2717-41cd-a673-de50cb3a6ef9
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","ro[...]
[...]
    - id: 97
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc-gw/v2/zones/fr-par-1/gateways/abdbc9ef-a719-4aec-99e8-c6b5e2835691?delete_ip=false
        method: DELETE
      response:
        body: '{"bandwidth":100,"bastion_allowed_ips":["0.0.0.0/0"],"bastion_enabled":false,"bastion_port":61000,"created_at":"2025-06-30T15:24:01.711317Z","gateway_networks":[],"id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","ipv4":{"address":"51.158.78.190","created_at":"2025-06-30T15:24:01.681923Z","gateway_id":"abdbc9ef-a719-4aec-99e8-c6b5e2835691","id":"40b2c3eb-dd3d-4929-9dc9-694db26be5a8","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","reverse":"190-78-158-51.instances.scw.cloud","tags":[],"updated_at":"2025-06-30T15:24:01.681923Z","zone":"fr-par-1"},"is_legacy":false,"name":"tf-gw-route","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","smtp_enabled":false,"status":"deleting","tags":[],"type":"VPC-GW-S","updated_at":"2025-06-30T15:24:55.330967Z","version":"0.7.4","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.525041ms
[...]
