---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-id-target","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T08:51:45.726551Z","custom_routes_propagation_enabled":true,"id":"dc78d19c-a82d-443d-97b9-ea412ef99158","is_default":false,"name":"tf-ds-connector-id-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T08:51:45.726551Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.934667ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/dc78d19c-a82d-443d-97b9-ea412ef99158
        method: GET
      response:
        body: '{"created_at":"2026-03-24T08:51:45.726551Z","custom_routes_propagation_enabled":true,"id":"dc78d19c-a82d-443d-97b9-ea412ef99158","is_default":false,"name":"tf-ds-connector-id-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T08:51:45.726551Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.948708ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-id","tags":[],"vpc_id":"98501852-c7f1-499c-a2bd-682061814bd5","target_vpc_id":"dc78d19c-a82d-443d-97b9-ea412ef99158"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-24T08:51:45.867495Z","id":"6b896659-aa76-43df-b047-ff530cc37405","name":"tf-ds-connector-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"dc78d19c-a82d-443d-97b9-ea412ef99158","updated_at":"2026-03-24T08:51:45.867495Z","vpc_id":"98501852-c7f1-499c-a2bd-682061814bd5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.714917ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/6b896659-aa76-43df-b047-ff530cc37405
        method: GET
      response:
        body: '{"created_at":"2026-03-24T08:51:45.867495Z","id":"6b896659-aa76-43df-b047-ff530cc37405","name":"tf-ds-connector-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"dc78d19c-a82d-443d-97b9-ea412ef99158","updated_at":"2026-03-24T08:51:45.867495Z","vpc_id":"98501852-c7f1-499c-a2bd-682061814bd5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.729958ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/6b896659-aa76-43df-b047-ff530cc37405
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"6b896659-aa76-43df-b047-ff530cc37405","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 25.893041ms
[...]
