---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"subnets":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2025-01-28T10:27:50.216463Z","dhcp_enabled":true,"id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:27:50.216463Z","id":"27949005-a5e8-43c2-b8c3-f719162dbc3c","private_network_id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:27:50.216463Z","id":"1fcf6f9a-11c4-40b3-a3d7-0259b8e82010","private_network_id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:380b::/64","updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 768.100291ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7806283d-08e3-460d-93a8-e5a5ed4e98e9
        method: GET
      response:
        body: '{"created_at":"2025-01-28T10:27:50.216463Z","dhcp_enabled":true,"id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:27:50.216463Z","id":"27949005-a5e8-43c2-b8c3-f719162dbc3c","private_network_id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:27:50.216463Z","id":"1fcf6f9a-11c4-40b3-a3d7-0259b8e82010","private_network_id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:380b::/64","updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.392041ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=TestAccScalewayDataSourceVPCPrivateNetwork_Basic&order_by=created_at_asc
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2025-01-28T10:27:50.216463Z","dhcp_enabled":true,"id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","name":"TestAccScalewayDataSourceVPCPrivateNetwork_Basic","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","region":"fr-par","subnets":[{"created_at":"2025-01-28T10:27:50.216463Z","id":"27949005-a5e8-43c2-b8c3-f719162dbc3c","private_network_id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"172.16.8.0/22","updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"},{"created_at":"2025-01-28T10:27:50.216463Z","id":"1fcf6f9a-11c4-40b3-a3d7-0259b8e82010","private_network_id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","subnet":"fd5f:519c:6d46:380b::/64","updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"tags":[],"updated_at":"2025-01-28T10:27:50.216463Z","vpc_id":"8feba4f5-79f9-42cd-b5ce-3ed8c510569e"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.780125ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/7806283d-08e3-460d-93a8-e5a5ed4e98e9
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"private_network","resource_id":"7806283d-08e3-460d-93a8-e5a5ed4e98e9","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.235625ms
[...]
