---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?is_default=true&order_by=created_at_asc
        method: GET
      response:
        body: '{"total_count":13,"vpcs":[{"created_at":"2023-04-04T09:04:28.711230Z","custom_routes_propagation_enabled":false,"id":"086a5171-f7ab-4667-a231-840a81203f19","is_default":true,"name":"default","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":11,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":["default"],"updated_at":"2023-04-04T09:04:28.711230Z"},{"created_at":"2024-08-02T15:53:09.243138Z","custom_routes_propagation_enabled":false,"id":"7c294b8c-5966-478c-a1c9-4e9b09584470","is_default":true,"name":"default","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"e9b20612-74e7-445f-943a-42ff6c18a0fc","region":"fr-par","routing_enabled":false,"tags":["default"],"updated_at":"2024-08-02T15:53:09.243138Z"},{"created_at":"2024-11-08T09:50:43.866237Z","custom_routes_propa[...]
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/086a5171-f7ab-4667-a231-840a81203f19
        method: GET
      response:
        body: '{"created_at":"2023-04-04T09:04:28.711230Z","custom_routes_propagation_enabled":false,"id":"086a5171-f7ab-4667-a231-840a81203f19","is_default":true,"name":"default","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":11,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":false,"tags":["default"],"updated_at":"2023-04-04T09:04:28.711230Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 31.361458ms
[...]
