---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-id-source","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-23T16:24:53.730535Z","custom_routes_propagation_enabled":true,"id":"a2a73a0a-7827-4b32-bf64-eb44c7a397a4","is_default":false,"name":"tf-ds-connector-id-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T16:24:53.730535Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.574667ms
[...]
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/a4eccec7-7648-4e4e-8f28-da28a403833b
        method: GET
      response:
        body: '{"created_at":"2026-03-23T16:24:53.750873Z","custom_routes_propagation_enabled":true,"id":"a4eccec7-7648-4e4e-8f28-da28a403833b","is_default":false,"name":"tf-ds-connector-id-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-23T16:24:53.750873Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.250542ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"tf-ds-connector-id","tags":[],"vpc_id":"a2a73a0a-7827-4b32-bf64-eb44c7a397a4","target_vpc_id":"a4eccec7-7648-4e4e-8f28-da28a403833b"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-03-23T16:24:53.932056Z","id":"93f75217-98fe-4c24-be98-c55b9162b69a","name":"tf-ds-connector-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"a4eccec7-7648-4e4e-8f28-da28a403833b","updated_at":"2026-03-23T16:24:53.932056Z","vpc_id":"a2a73a0a-7827-4b32-bf64-eb44c7a397a4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.767208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/93f75217-98fe-4c24-be98-c55b9162b69a
        method: GET
      response:
        body: '{"created_at":"2026-03-23T16:24:53.932056Z","id":"93f75217-98fe-4c24-be98-c55b9162b69a","name":"tf-ds-connector-id","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","status":"orphan","tags":[],"target_vpc_id":"a4eccec7-7648-4e4e-8f28-da28a403833b","updated_at":"2026-03-23T16:24:53.932056Z","vpc_id":"a2a73a0a-7827-4b32-bf64-eb44c7a397a4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.543166ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/93f75217-98fe-4c24-be98-c55b9162b69a
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"vpc_connector","resource_id":"93f75217-98fe-4c24-be98-c55b9162b69a","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.019833ms
[...]
