---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-cranky-moser","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-20T08:30:15.995184Z","description":"","id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","name":"tf-project-cranky-moser","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-05-20T08:30:15.995184Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.05225ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3e769e44-9a0e-46a8-a418-f7cf6e7216bf
        method: GET
      response:
        body: '{"created_at":"2026-05-20T08:30:15.995184Z","description":"","id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","name":"tf-project-cranky-moser","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-20T08:30:15.995184Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.376583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-vpc-source","project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-05-20T08:30:16.274604Z","custom_routes_propagation_enabled":true,"id":"3ffa5793-0e02-4655-b35c-64d56a79013f","is_default":false,"name":"tf-vpc-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-20T08:30:16.274604Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.706625ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3ffa5793-0e02-4655-b35c-64d56a79013f
        method: GET
      response:
        body: '{"created_at":"2026-05-20T08:30:16.274604Z","custom_routes_propagation_enabled":true,"id":"3ffa5793-0e02-4655-b35c-64d56a79013f","is_default":false,"name":"tf-vpc-source","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-20T08:30:16.274604Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.694167ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-list","tags":["tf-conn-list-tag"],"vpc_id":"3ffa5793-0e02-4655-b35c-64d56a79013f","target_vpc_id":"f5d184c1-e6f8-4881-ad86-ce2f74977bf9"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-05-20T08:30:16.486595Z","id":"741b811c-c06d-4b8a-81d2-042f73f1ffe6","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"f5d184c1-e6f8-4881-ad86-ce2f74977bf9","updated_at":"2026-05-20T08:30:16.486595Z","vpc_id":"3ffa5793-0e02-4655-b35c-64d56a79013f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.715375ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/741b811c-c06d-4b8a-81d2-042f73f1ffe6
        method: GET
      response:
        body: '{"created_at":"2026-05-20T08:30:16.486595Z","id":"741b811c-c06d-4b8a-81d2-042f73f1ffe6","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"f5d184c1-e6f8-4881-ad86-ce2f74977bf9","updated_at":"2026-05-20T08:30:16.486595Z","vpc_id":"3ffa5793-0e02-4655-b35c-64d56a79013f"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.842834ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=3e769e44-9a0e-46a8-a418-f7cf6e7216bf
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T08:30:16.486595Z","id":"741b811c-c06d-4b8a-81d2-042f73f1ffe6","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"f5d184c1-e6f8-4881-ad86-ce2f74977bf9","updated_at":"2026-05-20T08:30:16.486595Z","vpc_id":"3ffa5793-0e02-4655-b35c-64d56a79013f"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.510458ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpc-connectors?order_by=created_at_asc&page=1&project_id=3e769e44-9a0e-46a8-a418-f7cf6e7216bf
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.466458ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpc-connectors?order_by=created_at_asc&page=1&project_id=3e769e44-9a0e-46a8-a418-f7cf6e7216bf
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.474125ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpc-connectors?order_by=created_at_asc&page=1&project_id=3e769e44-9a0e-46a8-a418-f7cf6e7216bf
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.377916ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-conn-list&order_by=created_at_asc&page=1&project_id=3e769e44-9a0e-46a8-a418-f7cf6e7216bf
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T08:30:16.486595Z","id":"741b811c-c06d-4b8a-81d2-042f73f1ffe6","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"f5d184c1-e6f8-4881-ad86-ce2f74977bf9","updated_at":"2026-05-20T08:30:16.486595Z","vpc_id":"3ffa5793-0e02-4655-b35c-64d56a79013f"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.330917ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=3e769e44-9a0e-46a8-a418-f7cf6e7216bf&vpc_id=3ffa5793-0e02-4655-b35c-64d56a79013f
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T08:30:16.486595Z","id":"741b811c-c06d-4b8a-81d2-042f73f1ffe6","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"f5d184c1-e6f8-4881-ad86-ce2f74977bf9","updated_at":"2026-05-20T08:30:16.486595Z","vpc_id":"3ffa5793-0e02-4655-b35c-64d56a79013f"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.89675ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=3e769e44-9a0e-46a8-a418-f7cf6e7216bf&tags=tf-conn-list-tag
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T08:30:16.486595Z","id":"741b811c-c06d-4b8a-81d2-042f73f1ffe6","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"f5d184c1-e6f8-4881-ad86-ce2f74977bf9","updated_at":"2026-05-20T08:30:16.486595Z","vpc_id":"3ffa5793-0e02-4655-b35c-64d56a79013f"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.227458ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3e769e44-9a0e-46a8-a418-f7cf6e7216bf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"3e769e44-9a0e-46a8-a418-f7cf6e7216bf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 83.364833ms
