---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-route-list-vpc","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-05-25T07:31:57.177862Z","custom_routes_propagation_enabled":true,"id":"4695a9f2-745b-44a6-b25c-8d64e5632f18","is_default":false,"name":"tf-route-list-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-25T07:31:57.177862Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.056208ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/4695a9f2-745b-44a6-b25c-8d64e5632f18
        method: GET
      response:
        body: '{"created_at":"2026-05-25T07:31:57.177862Z","custom_routes_propagation_enabled":true,"id":"4695a9f2-745b-44a6-b25c-8d64e5632f18","is_default":false,"name":"tf-route-list-vpc","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-25T07:31:57.177862Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.973084ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-route-list-pn","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":[],"subnets":null,"vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-05-25T07:31:57.385704Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","name":"tf-route-list-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-05-25T07:31:57.385704Z","id":"bbccf018-9f39-4639-bc74-94660e9308f7","private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.96.0/22","updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"},{"created_at":"2026-05-25T07:31:57.385704Z","id":"aca32d6f-2ff8-482b-8f46-5bee998c841d","private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:467a::/64","updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}],"tags":[],"updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 669.537125ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/4413fb41-e2a9-4608-a4be-8ae13822ab41
        method: GET
      response:
        body: '{"created_at":"2026-05-25T07:31:57.385704Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","name":"tf-route-list-pn","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","region":"fr-par","subnets":[{"created_at":"2026-05-25T07:31:57.385704Z","id":"bbccf018-9f39-4639-bc74-94660e9308f7","private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"172.17.96.0/22","updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"},{"created_at":"2026-05-25T07:31:57.385704Z","id":"aca32d6f-2ff8-482b-8f46-5bee998c841d","private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","subnet":"fd46:78ab:30b8:467a::/64","updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}],"tags":[],"updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.250625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"description":"","tags":["tf-route-list-tag"],"vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18","destination":"192.168.42.0/24","nexthop_private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes
        method: POST
      response:
        body: '{"created_at":"2026-05-25T07:31:58.125909Z","description":"Custom route","destination":"192.168.42.0/24","id":"d99fa2ee-b5fe-4215-b7b3-0b182b3521d6","is_read_only":false,"nexthop_private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","nexthop_resource_id":null,"nexthop_vpc_connector_id":null,"region":"fr-par","tags":["tf-route-list-tag"],"type":"custom","updated_at":"2026-05-25T07:31:58.125909Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.817375ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes/d99fa2ee-b5fe-4215-b7b3-0b182b3521d6
        method: GET
      response:
        body: '{"created_at":"2026-05-25T07:31:58.125909Z","description":"Custom route","destination":"192.168.42.0/24","id":"d99fa2ee-b5fe-4215-b7b3-0b182b3521d6","is_read_only":false,"nexthop_private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","nexthop_resource_id":null,"nexthop_vpc_connector_id":null,"region":"fr-par","tags":["tf-route-list-tag"],"type":"custom","updated_at":"2026-05-25T07:31:58.125909Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.65625ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&page=1&vpc_id=4695a9f2-745b-44a6-b25c-8d64e5632f18
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2026-05-25T07:31:57.385704Z","description":"Local Private Network route","destination":"172.17.96.0/22","id":"","is_read_only":true,"nexthop_private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","nexthop_resource_id":null,"nexthop_vpc_connector_id":null,"region":"fr-par","tags":["MANAGED"],"type":"subnet","updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2026-05-25T07:31:57.385704Z","description":"Local Private Network route","destination":"fd46:78ab:30b8:467a::/64","id":"","is_read_only":true,"nexthop_private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","nexthop_resource_id":null,"nexthop_vpc_connector_id":null,"region":"fr-par","tags":["MANAGED"],"type":"subnet","updated_at":"2026-05-25T07:31:57.385704Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}},{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2026-05-25T07:31:58.125909Z","description":"Custom route","destination":"192.168.42.0/24","id":"d99fa2ee-b5fe-4215-b7b3-0b182b3521d6","is_read_only":false,"nexthop_private_network_id":"4413fb41-e2a9-4608-a4be-8ae13822ab41","nexthop_resource_id":null,"nexthop_vpc_connector_id":null,"region":"fr-par","tags":["tf-route-list-tag"],"type":"custom","updated_at":"2026-05-25T07:31:58.125909Z","vpc_id":"4695a9f2-745b-44a6-b25c-8d64e5632f18"}}],"total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.285625ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_resource_type=unknown_type&order_by=created_at_asc&page=1&tags=tf-route-list-tag&vpc_id=4695a9f2-745b-44a6-b25c-8d64e5632f18
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_type","route":{"created_at":"2026-05-25T07:[...]
    - id: 11
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/routes-with-nexthop?nexthop_private_network_id=4413fb41-e2a9-4608-a4be-8ae13822ab41&nexthop_resource_type=unknown_type&order_by=created_at_asc&page=1&vpc_id=4695a9f2-745b-44a6-b25c-8d64e5632f18
        method: GET
      response:
        body: '{"routes":[{"nexthop_ip":null,"nexthop_name":null,"nexthop_resource_type":"unknown_ty[...]
[...]
