---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-elastic-payne","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-29T06:25:36.111129Z","description":"","id":"8b01e351-6928-4291-806b-f04e9431d296","name":"tf-project-elastic-payne","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-04-29T06:25:36.111129Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 415.522292ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8b01e351-6928-4291-806b-f04e9431d296
        method: GET
      response:
        body: '{"created_at":"2026-04-29T06:25:36.111129Z","description":"","id":"8b01e351-6928-4291-806b-f04e9431d296","name":"tf-project-elastic-payne","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-29T06:25:36.111129Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.778042ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-pn-list","project_id":"8b01e351-6928-4291-806b-f04e9431d296","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-29T06:25:36.454534Z","custom_routes_propagation_enabled":true,"id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2","is_default":false,"name":"test-vpc-pn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"8b01e351-6928-4291-806b-f04e9431d296","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-29T06:25:36.454534Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.601ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/3c31cffb-2fed-46f6-9112-ef2ea42167a2
        method: GET
      response:
        body: '{"created_at":"2026-04-29T06:25:36.454534Z","custom_routes_propagation_enabled":true,"id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2","is_default":false,"name":"test-vpc-pn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"8b01e351-6928-4291-806b-f04e9431d296","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-29T06:25:36.454534Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.999125ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"test-pn-1","project_id":"8b01e351-6928-4291-806b-f04e9431d296","tags":[],"subnets":null,"vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2","default_route_propagation_enabled":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks
        method: POST
      response:
        body: '{"created_at":"2026-04-29T06:25:36.641408Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e80308f4-b96c-4c66-b794-5a6dc7829373","name":"test-pn-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"8b01e351-6928-4291-806b-f04e9431d296","region":"fr-par","subnets":[{"created_at":"2026-04-29T06:25:36.641408Z","id":"9e333d19-4746-4b52-945e-1f1c9a04a72c","private_network_id":"e80308f4-b96c-4c66-b794-5a6dc7829373","project_id":"8b01e351-6928-4291-806b-f04e9431d296","subnet":"172.16.8.0/22","updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"},{"created_at":"2026-04-29T06:25:36.641408Z","id":"ef076342-8769-414e-be70-da61ae3221be","private_network_id":"e80308f4-b96c-4c66-b794-5a6dc7829373","project_id":"8b01e351-6928-4291-806b-f04e9431d296","subnet":"fdc4:37b2:7465:59df::/64","updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"}],"tags":[],"updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.127837083s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks/e80308f4-b96c-4c66-b794-5a6dc7829373
        method: GET
      response:
        body: '{"created_at":"2026-04-29T06:25:36.641408Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e80308f4-b96c-4c66-b794-5a6dc7829373","name":"test-pn-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"8b01e351-6928-4291-806b-f04e9431d296","region":"fr-par","subnets":[{"created_at":"2026-04-29T06:25:36.641408Z","id":"9e333d19-4746-4b52-945e-1f1c9a04a72c","private_network_id":"e80308f4-b96c-4c66-b794-5a6dc7829373","project_id":"8b01e351-6928-4291-806b-f04e9431d296","subnet":"172.16.8.0/22","updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"},{"created_at":"2026-04-29T06:25:36.641408Z","id":"ef076342-8769-414e-be70-da61ae3221be","private_network_id":"e80308f4-b96c-4c66-b794-5a6dc7829373","project_id":"8b01e351-6928-4291-806b-f04e9431d296","subnet":"fdc4:37b2:7465:59df::/64","updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"}],"tags":[],"updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.091375ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?order_by=created_at_asc&page=1&project_id=8b01e351-6928-4291-806b-f04e9431d296
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-04-29T06:25:36.641408Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e80308f4-b96c-4c66-b794-5a6dc7829373","name":"test-pn-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"8b01e351-6928-4291-806b-f04e9431d296","region":"fr-par","subnets":[{"created_at":"2026-04-29T06:25:36.641408Z","id":"9e333d19-4746-4b52-945e-1f1c9a04a72c","private_network_id":"e80308f4-b96c-4c66-b794-5a6dc7829373","project_id":"8b01e351-6928-4291-806b-f04e94[...]
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?name=test-pn-1&order_by=created_at_asc&page=1&project_id=8b01e351-6928-4291-806b-f04e9431d296
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-04-29T06:25:36.641408Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e80308f4-b96c-4c66-b794-5a6dc7829373","name":"test-pn-1","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"8b01e351-6928-4291-806b-f04e9431d296","region":"fr-par","subnets":[{"created_at":"2026-04-29T06:25:36.641408Z","id":"9e333d19-4746-4b52-945e-1f1c9a04a72c","private_network_id":"e80308f4-b96c-4c66-b794-5a6dc7829373","project_id":"8b01e351-6928-4291-806b-f04e9431d296","subnet":"172.16.8.0/22","updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"},{"created_at":"2026-04-29T06:25:36.641408Z","id":"ef076342-8769-414e-be70-da61ae3221be","private_network_id":"e80308f4-b96c-4c66-b794-5a6dc7829373","project_id":"8b01e351-6928-4291-806b-f04e9431d296","subnet":"fdc4:37b2:7465:59df::/64","updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"}],"tags":[],"updated_at":"2026-04-29T06:25:36.641408Z","vpc_id":"3c31cffb-2fed-46f6-9112-ef2ea42167a2"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 30.863875ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?order_by=created_at_asc&page=1&project_id=8b01e351-6928-4291-806b-f04e9431d296&tags=tagged
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-04-29T06:25:37.110263Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"68433291-1456-416f-8122-5e9d6aad8880",[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/private-networks?order_by=created_at_asc&page=1&project_id=8b01e351-6928-4291-806b-f04e9431d296&vpc_id=3c31cffb-2fed-46f6-9112-ef2ea42167a2
        method: GET
      response:
        body: '{"private_networks":[{"created_at":"2026-04-29T06:25:36.641408Z","default_route_propagation_enabled":false,"dhcp_enabled":true,"id":"e80308[...]
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/8b01e351-6928-4291-806b-f04e9431d296
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"8b01e351-6928-4291-806b-f04e9431d296","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 23.801791ms
