---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-cocky-jackson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-03-23T17:02:48.529228Z","description":"","id":"3272aa28-23e1-42a2-9a2b-8d0f3e73c1bc","name":"tf-project-cocky-jackson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-03-23T17:02:48.529228Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.245ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/3272aa28-23e1-42a2-9a2b-8d0f3e73c1bc
        method: GET
      response:
        body: '{"created_at":"2026-03-23T17:02:48.529228Z","description":"","id":"3272aa28-23e1-42a2-9a2b-8d0f3e73c1bc","name":"tf-project-cocky-jackson","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-03-23T17:02:48.529228Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.485417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"3272aa28-23e1-42a2-9a2b-8d0f3e73c1bc","tags":["environment=staging","team=devops"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"details":[{"action":"write","resource":"vpc_vpc"}],"message":"insufficient permissions","type":"permissions_denied"}'
        headers:
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 79.560958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-fr-par","project_id":"3272aa28-23e1-42a2-9a2b-8d0f3e73c1bc","tags":["environment=production","team=devops"],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-23T17:02:49.095620Z","custom_routes_propagation_enabled":true,"id":"cc51cc53-b2c9-46ad-a87f-9ebe645aceee","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"3272aa28-23e1-42a2-9a2b-8d0f3e73c1bc","region":"fr-par","routing_enabled":true,"tags":["environment=production","team=devops"],"updated_at":"2026-03-23T17:02:49.095620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.8205ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/cc51cc53-b2c9-46ad-a87f-9ebe645aceee
        method: GET
      response:
        body: '{"created_at":"2026-03-23T17:02:49.095620Z","custom_routes_propagation_enabled":true,"id":"cc51cc53-b2c9-46ad-a87f-9ebe645aceee","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"3272aa28-23e1-42a2-9a2b-8d0f3e73c1bc","region":"fr-par","routing_enabled":true,"tags":["environment=production","team=devops"],"updated_at":"2026-03-23T17:02:49.095620Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.4575ms
[...]
