---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-objective-einstein","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-05-20T06:19:46.235798Z","description":"","id":"84faa423-6120-4792-9c22-b17855750fd6","name":"tf-project-objective-einstein","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":null,"updated_at":"2026-05-20T06:19:46.235798Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 419.565625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/84faa423-6120-4792-9c22-b17855750fd6
        method: GET
      response:
        body: '{"created_at":"2026-05-20T06:19:46.235798Z","description":"","id":"84faa423-6120-4792-9c22-b17855750fd6","name":"tf-project-objective-einstein","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-05-20T06:19:46.235798Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.672625ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-list-target","project_id":"84faa423-6120-4792-9c22-b17855750fd6","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-05-20T06:19:46.644112Z","custom_routes_propagation_enabled":true,"id":"e800b114-2b02-4567-8792-568599f8b1b7","is_default":false,"name":"tf-conn-list-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-20T06:19:46.644112Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.294958ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/e800b114-2b02-4567-8792-568599f8b1b7
        method: GET
      response:
        body: '{"created_at":"2026-05-20T06:19:46.644112Z","custom_routes_propagation_enabled":true,"id":"e800b114-2b02-4567-8792-568599f8b1b7","is_default":false,"name":"tf-conn-list-target","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","private_network_count":0,"project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-05-20T06:19:46.644112Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.965333ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"tf-conn-list","tags":["tf-conn-list-tag"],"vpc_id":"950a7eff-91dc-4d39-ab2c-801b56d04b7a","target_vpc_id":"e800b114-2b02-4567-8792-568599f8b1b7"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors
        method: POST
      response:
        body: '{"created_at":"2026-05-20T06:19:46.848398Z","id":"006fc6d4-2b58-44f3-9ce0-dff51862326c","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"e800b114-2b02-4567-8792-568599f8b1b7","updated_at":"2026-05-20T06:19:46.848398Z","vpc_id":"950a7eff-91dc-4d39-ab2c-801b56d04b7a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.211292ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors/006fc6d4-2b58-44f3-9ce0-dff51862326c
        method: GET
      response:
        body: '{"created_at":"2026-05-20T06:19:46.848398Z","id":"006fc6d4-2b58-44f3-9ce0-dff51862326c","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"e800b114-2b02-4567-8792-568599f8b1b7","updated_at":"2026-05-20T06:19:46.848398Z","vpc_id":"950a7eff-91dc-4d39-ab2c-801b56d04b7a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.799584ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=84faa423-6120-4792-9c22-b17855750fd6
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T06:19:46.848398Z","id":"006fc6d4-2b58-44f3-9ce0-dff51862326c","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"e800b114-2b02-4567-8792-568599f8b1b7","updated_at":"2026-05-20T06:19:46.848398Z","vpc_id":"950a7eff-91dc-4d39-ab2c-801b56d04b7a"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.974833ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpc-connectors?order_by=created_at_asc&page=1&project_id=84faa423-6120-4792-9c22-b17855750fd6
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.090833ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpc-connectors?order_by=created_at_asc&page=1&project_id=84faa423-6120-4792-9c22-b17855750fd6
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.095167ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpc-connectors?order_by=created_at_asc&page=1&project_id=84faa423-6120-4792-9c22-b17855750fd6
        method: GET
      response:
        body: '{"total_count":0,"vpc_connectors":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.70275ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?name=tf-conn-list&order_by=created_at_asc&page=1&project_id=84faa423-6120-4792-9c22-b17855750fd6
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T06:19:46.848398Z","id":"006fc6d4-2b58-44f3-9ce0-dff51862326c","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"e800b114-2b02-4567-8792-568599f8b1b7","updated_at":"2026-05-20T06:19:46.848398Z","vpc_id":"950a7eff-91dc-4d39-ab2c-801b56d04b7a"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 19.885917ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=84faa423-6120-4792-9c22-b17855750fd6&vpc_id=950a7eff-91dc-4d39-ab2c-801b56d04b7a
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T06:19:46.848398Z","id":"006fc6d4-2b58-44f3-9ce0-dff51862326c","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"e800b114-2b02-4567-8792-568599f8b1b7","updated_at":"2026-05-20T06:19:46.848398Z","vpc_id":"950a7eff-91dc-4d39-ab2c-801b56d04b7a"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.948458ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpc-connectors?order_by=created_at_asc&page=1&project_id=84faa423-6120-4792-9c22-b17855750fd6&tags=tf-conn-list-tag
        method: GET
      response:
        body: '{"total_count":1,"vpc_connectors":[{"created_at":"2026-05-20T06:19:46.848398Z","id":"006fc6d4-2b58-44f3-9ce0-dff51862326c","name":"tf-conn-list","organization_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","project_id":"84faa423-6120-4792-9c22-b17855750fd6","region":"fr-par","status":"orphan","tags":["tf-conn-list-tag"],"target_vpc_id":"e800b114-2b02-4567-8792-568599f8b1b7","updated_at":"2026-05-20T06:19:46.848398Z","vpc_id":"950a7eff-91dc-4d39-ab2c-801b56d04b7a"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.242875ms
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/84faa423-6120-4792-9c22-b17855750fd6
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"84faa423-6120-4792-9c22-b17855750fd6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 26.769375ms
