---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-charming-jepsen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-03-24T11:35:36.969871Z","description":"","id":"06a4ec1d-9444-458d-955f-5de9f9458b74","name":"tf-project-charming-jepsen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":null,"updated_at":"2026-03-24T11:35:36.969871Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 858.891917ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"created_at":"2026-03-24T11:35:36.969871Z","description":"","id":"06a4ec1d-9444-458d-955f-5de9f9458b74","name":"tf-project-charming-jepsen","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-03-24T11:35:36.969871Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 491.436083ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-fr-par","project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T11:35:37.968197Z","custom_routes_propagation_enabled":true,"id":"ba43542e-e0b4-427b-a2ad-13e388d533d6","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.968197Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.304167ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-03-24T11:35:37.979149Z","custom_routes_propagation_enabled":true,"id":"2d6d7d9f-375d-4b2b-b048-edb8eff23154","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.979149Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.913542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/ba43542e-e0b4-427b-a2ad-13e388d533d6
        method: GET
      response:
        body: '{"created_at":"2026-03-24T11:35:37.968197Z","custom_routes_propagation_enabled":true,"id":"ba43542e-e0b4-427b-a2ad-13e388d533d6","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.968197Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.608417ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/2d6d7d9f-375d-4b2b-b048-edb8eff23154
        method: GET
      response:
        body: '{"created_at":"2026-03-24T11:35:37.979149Z","custom_routes_propagation_enabled":true,"id":"2d6d7d9f-375d-4b2b-b048-edb8eff23154","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.979149Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.805875ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=test-vpc&order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-24T11:35:37.968197Z","custom_routes_propagation_enabled":true,"id":"ba43542e-e0b4-427b-a2ad-13e388d533d6","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.968197Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.59ms
    - id: 10
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-24T11:35:37.968197Z","custom_routes_propagation_enabled":true,"id":"ba43542e-e0b4-427b-a2ad-13e388d533d6","is_default":false,"name":"test-vpc-fr-par","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.968197Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 599.444875ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=test-vpc&order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-24T11:35:37.979149Z","custom_routes_propagation_enabled":true,"id":"2d6d7d9f-375d-4b2b-b048-edb8eff23154","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.979149Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.789959ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-03-24T11:35:37.979149Z","custom_routes_propagation_enabled":true,"id":"2d6d7d9f-375d-4b2b-b048-edb8eff23154","is_default":false,"name":"test-vpc-nl-ams","organization_id":"105bdce1-64c0-48ab-899d-868455867ecf","private_network_count":0,"project_id":"06a4ec1d-9444-458d-955f-5de9f9458b74","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-03-24T11:35:37.979149Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.215833ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?name=test-vpc&order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.087ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.488209ms
    - id: 16
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.259667ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?name=test-vpc&order_by=created_at_asc&project_id=06a4ec1d-9444-458d-955f-5de9f9458b74
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.55675ms
[...]
