---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-project-unruffled-elion","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/account/v3/projects
        method: POST
      response:
        body: '{"created_at":"2026-04-08T09:26:00.530930Z","description":"","id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","name":"tf-project-unruffled-elion","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":null,"updated_at":"2026-04-08T09:26:00.530930Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.182083ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"created_at":"2026-04-08T09:26:00.530930Z","description":"","id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","name":"tf-project-unruffled-elion","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","qualification":{"architecture_type":"unknown_architecture_type"},"updated_at":"2026-04-08T09:26:00.530930Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.020167ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-fr-par","project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-08T09:26:00.793880Z","custom_routes_propagation_enabled":true,"id":"37267909-9200-495e-b927-e45c47d6152a","is_default":false,"name":"test-vpc-fr-par","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.793880Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.8655ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs/37267909-9200-495e-b927-e45c47d6152a
        method: GET
      response:
        body: '{"created_at":"2026-04-08T09:26:00.793880Z","custom_routes_propagation_enabled":true,"id":"37267909-9200-495e-b927-e45c47d6152a","is_default":false,"name":"test-vpc-fr-par","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.793880Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.162458ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"test-vpc-nl-ams","project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","tags":[],"enable_routing":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs
        method: POST
      response:
        body: '{"created_at":"2026-04-08T09:26:00.865569Z","custom_routes_propagation_enabled":true,"id":"a5e5d1b1-64e2-437e-b909-831633f5a9b0","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.865569Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.910334ms
    - id: 7
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs/a5e5d1b1-64e2-437e-b909-831633f5a9b0
        method: GET
      response:
        body: '{"created_at":"2026-04-08T09:26:00.865569Z","custom_routes_propagation_enabled":true,"id":"a5e5d1b1-64e2-437e-b909-831633f5a9b0","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.865569Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.763833ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":2,"vpcs":[{"created_at":"2026-04-08T09:26:00.793880Z","custom_routes_propagation_enabled":true,"id":"37267909-9200-495e-b927-e45c47d6152a","is_default":false,"name":"test-vpc-fr-par","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.793880Z"},{"created_at":"2026-04-08T09:26:00.816612Z","custom_routes_propagation_enabled":true,"id":"59aab88f-5010-474e-985e-72734dcccb50","is_default":false,"name":"tf-vpc-blissful-noyce","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-04-08T09:26:00.816612Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 26.255875ms
    - id: 13
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.277917ms
    - id: 14
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T09:26:00.865569Z","custom_routes_propagation_enabled":true,"id":"a5e5d1b1-64e2-437e-b909-831633f5a9b0","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.865569Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.585333ms
    - id: 15
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.637625ms
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T09:26:00.793880Z","custom_routes_propagation_enabled":true,"id":"37267909-9200-495e-b927-e45c47d6152a","is_default":false,"name":"test-vpc-fr-par","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"fr-par","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.793880Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 28.209834ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.678542ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T09:26:00.865569Z","custom_routes_propagation_enabled":true,"id":"a5e5d1b1-64e2-437e-b909-831633f5a9b0","is_default":false,"name":"test-vpc-nl-ams","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"nl-ams","routing_enabled":true,"tags":[],"updated_at":"2026-04-08T09:26:00.865569Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.570708ms
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?name=test-vpc&order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.651417ms
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/fr-par/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30&tags=foobar
        method: GET
      response:
        body: '{"total_count":1,"vpcs":[{"created_at":"2026-04-08T09:26:00.816612Z","custom_routes_propagation_enabled":true,"id":"59aab88f-5010-474e-985e-72734dcccb50","is_default":false,"name":"tf-vpc-blissful-noyce","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","private_network_count":0,"project_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","region":"fr-par","routing_enabled":true,"tags":["foobar"],"updated_at":"2026-04-08T09:26:00.816612Z"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 27.27975ms
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/it-mil/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.08375ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/nl-ams/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.817125ms
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/vpc/v2/regions/pl-waw/vpcs?order_by=created_at_asc&page=1&project_id=6124ff8e-ea7a-4556-8900-34e95cfacc30&tags=foobar
        method: GET
      response:
        body: '{"total_count":0,"vpcs":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.568666ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/account/v3/projects/6124ff8e-ea7a-4556-8900-34e95cfacc30
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"project_id","resource_id":"6124ff8e-ea7a-4556-8900-34e95cfacc30","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 27.92ms
